@{
    ViewBag.Title = "Party Wise Bank";
}
<html>

<body>
    @model ESimSol.BusinessObjects.PartyWiseBank
    <div id="divPartyWiseBank" class="easyui-panel menuMainCollectionTable" title="Add PartyWiseBank" style="font-family:Tahoma; height:100%;">
        <div style="width:100%; height:88%; text-align:center;">
            <fieldset style="height:97%">
                <legend style="font-weight:bold"> PartyWiseBank Informations : </legend>
                <table border="0" cellspacing="2" cellpadding="2" style="font-size:11px; font-weight:bold;width:100%;  margin-top:120px;">
                    <tr>
                        <td style="width:40%; text-align:right">
                            Contractor Name :
                        </td>
                        <td style="width:60%;text-align:left;">
                            @Html.TextBoxFor(model => model.ContractorName, new { style = "width: 320px;", id = "txtContractorName", disabled = "disabled" })
                        </td>
                    </tr>
                    <tr>
                        <td style="width:40%; text-align:right">
                            Bank:
                        </td>
                        <td style="width:60%;text-align:left;">
                            @Html.TextBoxFor(model => model.BankName, new { style = "width: 320px;", id = "txtBank", disabled = "disabled" })
                            <button id="btnPickBank" onclick="PickBank()">Pick</button>
                            @*<button id="btnNewBank" onclick="NewBank()">New</button>*@
                        </td>
                    </tr>
                    <tr>
                        <td style="width:40%; text-align:right">
                            Bank Branch:
                        </td>
                        <td style="width:60%;text-align:left;">
                            @Html.TextBoxFor(model => model.BranchName, new { style = "width: 320px;", id = "txtBranchName" })
                        </td>
                    </tr>
                    <tr>
                        <td style="width:40%; text-align:right">
                            Account Name :
                        </td>
                        <td style="width:60%;text-align:left;">
                            @Html.TextBoxFor(model => model.AccountName, new { style = "width: 320px;", id = "txtAccountName" })
                        </td>
                    </tr>
                    <tr>
                        <td style="width:40%; text-align:right">
                            Account No:
                        </td>
                        <td style="width:60%;text-align:left;">
                            @Html.TextBoxFor(model => model.AccountNo, new { style = "width: 320px;", id = "txtAccountNo" })
                        </td>
                    </tr>

                </table>
            </fieldset>
        </div>
        <div style="width:100%; height:10%">
            <fieldset>
                <legend style="font-weight:bold"> Action : </legend>
                <table border="0" cellspacing="2" cellpadding="2" style="font-size:11px; width:100%; font-weight:bold">
                    <tr>
                        <td style="width:80%; text-align:right"></td>

                        <td style="width:10%">
                            <a id="btnSave" href="javascript:void(0)" class="easyui-linkbutton" iconcls="icon-save" plain="true" onclick="Save()">Save</a>
                        </td>
                        <td style="width:10%">
                            <a href="javascript:void(0)" class="easyui-linkbutton" iconcls="icon-cancel" plain="true" onclick="Close()">Close</a>
                        </td>
                    </tr>
                </table>
            </fieldset>
        </div>
    </div>
</body>
</html>

<script type="text/javascript">
    var _oPartyWiseBank;
    var _sBaseAddress="";
    var _sPartyWiseBankHeader=null;
    $(document).ready(function () {
        debugger;
        _sBaseAddress =@Html.Raw( new System.Web.Script.Serialization.JavaScriptSerializer().Serialize(HttpContext.Current.Session[SessionInfo.BaseAddress]));
    
        _oPartyWiseBank =@Html.Raw(new System.Web.Script.Serialization.JavaScriptSerializer().Serialize(Model));
        
        $('#txtBank').data("Bank",{BankID:_oPartyWiseBank.BankID, Name:_oPartyWiseBank.BankName});
        _sPartyWiseBankHeader=sessionStorage.getItem("PartyWiseBankHeader");
        $('#divPartyWiseBank').panel({ title:_sPartyWiseBankHeader});
        RefreshLayout();
    });

    function RefreshLayout()
    {
        document.getElementById('txtContractorName').disabled = true;
        if(_sPartyWiseBankHeader == 'View PartyWiseBank')
        {
            document.getElementById('txtBank').disabled = true;
            document.getElementById('txtBranchName').disabled = true;
            document.getElementById('txtAccountName').disabled = true;
            document.getElementById('txtAccountNo').disabled = true;
            document.getElementById('btnSave').style.display = 'none'; 
            document.getElementById('btnPickBank').style.display = 'none'; 
        }
    }

    function ValidateInput()
    {
        var txtBranchName = $("#txtBranchName").val();
        if(txtBranchName==null || txtBranchName=="")
        {
            alert("Please enter Issue Figure Name!");
            $('#txtBranchName').focus();
            return false;
        }
        var txtAccountName = $("#txtAccountName").val();
        if(txtAccountName==null || txtAccountName=="")
        {
            alert("Please enter Second Line Issue To Name!");
            $('#txtAccountName').focus();
            return false;
        }
        

        return true;
    }

    function SetBank(oResult)
    {
        console.log(oResult);
        if(oResult.BankID>0)
        {
            $('#txtBank').val(oResult.Name);
            $('#txtBank').data("Bank",oResult);
        }
    }
    function PickBank()
    {
        var oBank = {  };
        var obj = {
            BaseAddress: _sBaseAddress,
            Object: oBank,
            ControllerName: "Bank",
            ActionName: "Gets",
            IsWinClose: false
        };

        debugger;
        var tblColums = []; var oColumn = { field: "Code", title: "Code", width: 80, align: "left" }; tblColums.push(oColumn);
        oColumn = { field: "Name", title: "Bank Name", width: 320, align: "left" }; tblColums.push(oColumn);
       
        var oPickerParam = {
            winid: 'winBanks',
            winclass: 'clsBank',
            winwidth: 600,
            winheight: 460,
            tableid: 'tblBanks',
            tablecolumns: tblColums,
            multiplereturn: false,
            searchingbyfieldName: 'Name',
            windowTittle: 'Bank List',
            paramObj:obj,
            pkID:'BankID',
            callBack:SetBank
        };

        $.icsDynamicPicker(oPickerParam);
    }

    function RefreshObject()
    {
        var oPartyWiseBank= {
            PartyWiseBankID : _oPartyWiseBank.PartyWiseBankID,
            ContractorID : _oPartyWiseBank.ContractorID,
            BranchName : $("#txtBranchName").val(),
            AccountName : $("#txtAccountName").val(),
            AccountNo : $("#txtAccountNo").val(),
            BankID:  $('#txtBank').data("Bank").BankID,
            BankName:  $('#txtBank').data("Bank").Name
        };
        return oPartyWiseBank;
    }

    function Save()
    {
        debugger;
        if(!ValidateInput()) return;
        var oPartyWiseBank=RefreshObject();
        console.log(oPartyWiseBank);
        $.ajax({
            type: "POST",
            dataType: "json",
            url : _sBaseAddress+  "/PartyWiseBank/Save",
            traditional: true,
            data:  JSON.stringify(oPartyWiseBank),
            contentType: "application/json; charset=utf-8",
            success: function (data) {
                debugger;
                oPartyWiseBank = jQuery.parseJSON(data);
                if (oPartyWiseBank.ErrorMessage=="") {
                    _oPartyWiseBank=oPartyWiseBank;
                    alert("Data Saved sucessfully");
                    var oPartyWiseBanks =sessionStorage.getItem("PartyWiseBanks");
                    var nIndex= parseInt(sessionStorage.getItem("SelectedRowIndex"));
                    if(oPartyWiseBanks!=null)
                    {
                        oPartyWiseBanks = jQuery.parseJSON(oPartyWiseBanks);
                    }
                    else
                    {
                        oPartyWiseBanks=[];
                    }
                    if(nIndex!=-1)
                    {
                        oPartyWiseBanks[nIndex]=oPartyWiseBank;
                    }
                    else
                    {
                        sessionStorage.setItem("SelectedRowIndex", oPartyWiseBanks.length);
                        oPartyWiseBanks.push(oPartyWiseBank);
                    }
                    sessionStorage.setItem("PartyWiseBanks", JSON.stringify(oPartyWiseBanks));
                    window.location.href = _sBaseAddress+  "/PartyWiseBank/ViewPartyWiseBanks?id="+oPartyWiseBank.ContractorID;
                }
                else {
                    alert(oPartyWiseBank.ErrorMessage);
                }
            },
            error: function (xhr, status, error) {
                alert(error);
            }
        });
    }

    function Close()
    {
        window.location.href = _sBaseAddress+  "/PartyWiseBank/ViewPartyWiseBanks?id="+_oPartyWiseBank.ContractorID;
    }
</script>