@model ESimSol.BusinessObjects.Employee_HRM
<html>
<head>
    <script src="@Url.Content("~/Scripts/jquery-1.7.1.min.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Scripts/jquery-latest.js")" type="text/javascript"></script>
    <link href="../../Content/CSS/newPikerview.css" rel="stylesheet" type="text/css" />
    <script src="@Url.Content("~/Scripts/jquery-ui-1.8.22.custom.min.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Scripts/UserControlScript/GlobalScript.js")" type="text/javascript"></script>
    <link href="@Url.Content("~/Content/CSS/jquery-ui-1.8.22.custom.css")" rel="stylesheet" type="text/css" />
    <script src="@Url.Content("~/Scripts/jquery.unobtrusive-ajax.js")" type="text/javascript"></script>
    @* Following Reference For menu *@
    <link href="@Url.Content("~/Content/CSS/easyui.css")" rel="stylesheet" type="text/css" />
    <link href="@Url.Content("~/Content/CSS/icon.css")" rel="stylesheet" type="text/css" />
    <script src="@Url.Content("~/Scripts/jquery.easyui.min.js")" type="text/javascript"></script>
    @*Datetime format piker*@
    <script src="@Url.Content("~/Scripts/Date-Format-1.2.3.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Scripts/jquery.json.js")" type="text/javascript"></script>
    @*for json stringify *@
    <script src="@Url.Content("~/Scripts/jquery-ui.min.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Scripts/json2.js")" type="text/javascript"></script>
</head>
<body>
    @using System.Web.UI.WebControls
    @using ESimSol.BusinessObjects
    <div style="font-family: Tahoma">
        <table border="0" cellspacing="2" cellpadding="2">
            <tr>
                <td style="background-color: #CFB53B; text-align: center; width: 930px; color: White">
                    <label id="lblHeaderName" style="font-size: 15px; font-weight: bold; text-decoration: Underline;
                        width: 930px">
                        </label>
                </td>
            </tr>
        </table>
    </div>
    <div style="clear: both;">
    </div>
   
    <div style="clear: both;">
    </div>
    <div style="width: 100%; font-family: Tahoma;">
        <div style="width: 50%; float: left;">
            <table style="width: 100%; font-size: 12px; font-weight: bold; text-align: right">
                <tr>
                    <td style="">
                        Scheme Name :
                    </td>
                    <td>@Html.TextBox("txtSchemeName", " ", new { size = "29", disabled = "disable" })
                        <input type="hidden" id="attendanceSchemeID" />
                        <input value="pick" type="button" id="attendanceSchemePicker" style="width: 38px"
                            onclick="AttendanceSchemePiker()" />
                    </td>
                </tr>
                <tr>
                    <td>
                        Dept. Policy Name :
                    </td>
                    <td>
                        @Html.TextBox("txtDepartmentRequirementPolicy", " ", new { size = "36", disabled = "disable" })
                        @* <input type="hidden" id="departmentRequirementPolicyID" />
                        <input value="pick" type="button" id="departmentRequirementPolicyPicker" style="width: 38px"
                            onclick="DepartmentRequirementPolicyPicker()" />*@
                    </td>
                </tr>
                <tr>
                    <td>
                        Location :
                    </td>
                    <td>@Html.TextBox("txtLocation", " ", new { size = "36", disabled = "disable" })
                    </td>
                </tr>
                <tr>
                    <td>
                        Dept./Section :
                    </td>
                    <td>@Html.TextBox("txtDepartment", " ", new { size = "36", disabled = "disable" })
                    </td>
                </tr>
                <tr>
                    <td>
                        Day Off :
                    </td>
                    <td>
                        @Html.TextBox("txtDayOff", " ", new { size = "36", disabled = "disable" })
                        @*<input type="hidden" id="dayOffID" />
                        <input value="pick" type="button" style="width: 38px" onclick="WeekdayPicker()" />*@
                    </td>
                </tr>
                <tr>
                    <td>
                        Attendance Calender :
                    </td>
                    <td>
                        <select id="cboAttendanceCalender" style="width: 243px;" onchange="" disabled="disable">
                        </select>
                    </td>
                </tr>
                ,
                <tr>
                    <td>
                        Nature of Employee :
                    </td>
                    <td>
                        @Html.DropDownListFor(model => model.AttendanceScheme.EmployeeNature, new SelectList(Enum.GetValues(typeof(ICS.Base.Client.Utility.EnumEmployeeNature))), new { id = "cboNatureOfEmployee", style = "width: 243px;", disabled = "disable" })
                        @* <select id="cboNatureOfEmployee" style="width: 243px;" onchange="">
                         </select>*@ @*</select>*@
                    </td>
                </tr>
                <tr>
                    <td>
                        Employee Type :
                    </td>
                    <td>
                        @*@Html.DropDownListFor(model => model.EmployeeType, new SelectList(Enum.GetValues(typeof(ICS.Base.Client.Utility.EnumEmployeeType))), new { id = "cboEmployeeType", style = "width: 243px;" })*@
                        <select id="cboEmployeeType" style="width: 243px;" onchange="" disabled="disable">
                        </select>
                    </td>
                </tr>
                <tr>
                    <td>
                        Overtime Calculate Cycle :
                    </td>
                    <td>
                        @Html.DropDownListFor(model => model.AttendanceScheme.OverTimeCycle, new SelectList(Enum.GetValues(typeof(ICS.Base.Client.Utility.EnumPaymentCycle))), new { id = "cboOvertimeCalculateCycle", style = "width: 243px;", disabled = "disable" })
                        @*<select id="cboOvertimeCalculateCycle" style="width: 243px;" onchange="">
                        </select>*@
                    </td>
                </tr>
                <tr>
                    <td>
                        Overtime Calculate After :
                    </td>
                    <td>@Html.TextBox("txtOvertimeCalculateAfter", " ", new { style = "width: 148px;", disabled = "disable" })
                        Working Hours
                    </td>
                </tr>
                <br />
                @* <tr>
                    <td>
                    </td>
                    <td>
                        <input type="button" value="Add" onclick="HoliDayPicker()" />
                        <input type="button" value="Remove" onclick="RemoveForHoliDayTable()" />
                    </td>
                </tr>*@
                <tr>
                    <td>
                        Holiday :
                    </td>
                    <td style="float: right;">
                        <table id="tblHoliday" title="Holiday List" class="easyui-datagrid" style="width: 243px;
                            height: 130px;" fitcolumns="true" rownumbers="true" pagination="false" singleselect="true"
                            autorowheight="false">
                            <thead>
                                <tr>
                                    <th field="HoliDayName" style="width: 190px;">
                                        Holiday
                                    </th>
                                </tr>
                            </thead>
                        </table>
                    </td>
                </tr>
                <tr>
                    <td style="">
                        Designation :
                    </td>
                    <td><select id="cboDesignation" style="width: 243px;" onchange="">
                        </select>
                    </td>
                </tr>
                <tr>
                    <td>
                        Current Shift :
                    </td>
                    <td>
                        <select id="cboCurrentShift" style="width: 243px;" onchange="">
                        </select>
                    </td>
                </tr>
                <tr>
                    <td>
                        Date Of Join : 
                    </td>
                    <td>
                        <input id="txtDateOfJoin" type="text" class="easyui-datebox" required="" data-options="formatter:icsdateformat" style="width: 243px;"/>  
                        @*<input type="datetime" id="txtDateOfJoin"/>*@
                    </td>
                </tr>
                <tr>
                    <td>
                        Date Of Confirmation : 
                    </td>
                    <td>
                        <input id="txtDateOfConfirmation" type="text" class="easyui-datebox" required="" data-options="formatter:icsdateformat" style="width: 243px;"/>  
                       @* <input type="datetime" id="txtDateOfConfirmation"/>*@
                    </td>
                </tr>
            </table>
        </div>
        <div style="margin-left: 25px; width: 47%; float: left;">
            <table style="width: 100%; font-size: 12px; font-weight: bold; text-align: right">
                <tr>
                    <td style="text-align: left">
                        Roster Plan:
                    </td>
                    <td style="text-align: left">
                         <input type="text" id="txtRosterPlan" disabled="disabled" style="width: 60px;" />
                    </td>
                </tr>
                <tr>
                    <table id="tblRosterPlan" title="Roster Plan List" class="easyui-datagrid" style="width: 400px;
                        height: 100px;" fitcolumns="true" rownumbers="true" pagination="false" singleselect="true"
                        autorowheight="false">
                        <thead>
                            <tr>
                                <th field="Shift" style="width: 190px;">
                                    Shift
                                </th>
                                <th field="NextShift" style="width: 190px;">
                                    Next Shift
                                </th>
                            </tr>
                        </thead>
                    </table>
                </tr>
                <tr>
                    <td>
                        @Html.TextBox("txtRosterCycle", "", new { size = "10", disabled = "disable" })
                        Days Roster
                        <input type="checkbox" id="chkEnforceClosing" style="margin-left: 30px;" disabled="disable" />
                        Enforcing Month Closing
                        <br />
                    </td>
                </tr>
                <tr>
                    <td>
                        <input type="checkbox" id="chkOvertimeActivationAfter" style="" disabled="disable" />
                        Overtime Activation After
                    </td>
                    <td>
                        <input type="text" id="txtOvertimeActivationAfter" style="width: 37px; margin-left: 54px;"
                            disabled="disable" />
                        @*@Html.TextBox("txtOvertimeActivationAfter", "", new { size = "2"})*@ Days Of
                        @Html.DropDownListFor(model => model.AttendanceScheme.OverTimeActivationAfter, new SelectList(Enum.GetValues(typeof(ICS.Base.Client.Utility.EnumRecruitmentEvent))), new
                        {
                            id = "cboOvertimeActivationAfter",
                            style = "width: 110px;",
                            disabled = "disable"
                        })
                        @*<select id="cboOvertimeActivationAfter" style="width: 110px;" onchange="">
                        </select>*@
                    </td>
                </tr>
                <tr>
                    <td>
                        <input type="checkbox" id="chkAlternativeDayOffActivationAfter" style="" disabled="disable" />
                        Alternative Day Off Activation After
                    </td>
                    <td>
                        <input type="text" id="txtAlternativeDayOffActivationAfter" style="width: 37px;"
                            disabled="disable" />
                        @*@Html.TextBox("txtOvertimeActivationAfter", "", new { size = "2"})*@ Days Of
                        @Html.DropDownListFor(model => model.AttendanceScheme.AlternativeDayOffActivationAfter, new SelectList(Enum.GetValues(typeof(ICS.Base.Client.Utility.EnumRecruitmentEvent))), new { id = "cboAlternativeDayOffActivationAfter", style = "width: 110px;", disabled = "disable" })
                        @*<select id="cboAlternativeDayOffActivationAfter" style="width: 110px;" onchange="">
                        </select>*@
                    </td>
                </tr>
                <tr>
                    <td>
                        <input type="checkbox" id="chkAccomodationActivationAfter" style="" disabled="disable" />
                        Accomodation Activation After
                    </td>
                    <td>
                        <input type="text" id="txtAccomodationActivationAfter" style="width: 37px; margin-left: 26px;"
                            disabled="disable" />
                        @*@Html.TextBox("txtOvertimeActivationAfter", "", new { size = "2"})*@ Days Of
                        @Html.DropDownListFor(model => model.AttendanceScheme.AccommodationActivationAfter, new SelectList(Enum.GetValues(typeof(ICS.Base.Client.Utility.EnumRecruitmentEvent))), new { id = "cboAccomodationActivationAfter", style = "width: 110px;", disabled = "disable" })
                        @* <select id="cboAccomodationActivationAfter" style="width: 110px;" onchange="">
                        </select>*@
                    </td>
                </tr>
                <tr>
                    <td>
                        Days Off No In Week
                        <input type="text" id="txtDaysOffNoInWeek" style="width: 37px;" disabled="disable" />
                        Days
                    </td>
                    <br />
                </tr>
                @* <br />
                <br />
                <br />
                <br />*@
                <tr>
                    <td>
                    </td>
                    <td>
                        Leave : @*  <input type="button" value="Add Leave" onclick="LeaveHeadPicker()" />
                        <input type="button" value="Remove Leave" onclick="RemoveForLeaveHeadTable()" />*@
                    </td>
                </tr>
                <br />
                <br />
                <tr>
                    <td style="float: right;">
                        <table id="tblLeave" class="easyui-datagrid" style="width: 420px; height: 124px;"
                               toolbar="" fitcolumns="true" rownumbers="true" pagination="false" singleselect="true"
                               autorowheight="false">
                            <thead>
                                <tr>
                                    <th field="LeaveName" style="width: 190px;">
                                        Leave Head
                                    </th>
                                    @*<th field="TotalDay" style="width: 190px;">
                                        Day
                                    </th>*@
                                    <th data-options="field:'TotalDay',width:90,align:'right',editor:{type:'numberbox',options:{precision:0}}"
                                        align="right">
                                        Day
                                    </th>
                                    <th data-options="field: 'DeferredDay',width: 90,align:'right',editor:{type:'numberbox',options:{precision:0}}">
                                        Differed day
                                    </th>
                                    @*<th field="ActivationAfter" style="width: 190px;">*@
                                    <th field="ActivationAfterInString" width="90">
                                        @* <th data-options="field: 'ActivationAfter',width: 90,align:'right',editor:{type:'text',options:{data: }">*@
                                        Of
                                    </th>
                                </tr>
                            </thead>
                        </table>
                        @* <div id="toolbar">
                            <label>
                                Attendance Scheme Leave List
                            </label>
                            <input type="button" value="Update" style="float: right;" onclick="UpdateActivationAfter()" />
                            <select id="cboActivationAfter" style="mergin-left: 20px; width: 100px; float: right">
                            </select>
                        </div>*@
                    </td>
                </tr>
                <tr>
                    <td>
                        <input type="button" value="Pick Other Employee To Assign" onclick="EmployeePicker()"/>
                        <input type="button" value="Remove Employee" onclick="RemoveForEmployeeAssignTable()" />
                    </td>
                    <td></td>
                </tr>
                <tr>
                    <td>
                         <td style="float: right;">
                        <table id="tblEmployeeAssign" class="easyui-datagrid" style="width: 420px; height: 124px;"
                            toolbar="#toolbar" fitcolumns="true" rownumbers="true" pagination="false" singleselect="true"
                            autorowheight="false">
                            <thead>
                                <tr>
                                    <th field="EmployeeOfficialName" style="width: 190px;">
                                        Employee Name
                                    </th>
                                    <th field="DesignationName" style="width: 190px;">
                                        Designation
                                    </th>
                                   
                                    @*<th field="ActivationAfter" style="width: 190px;">*@
                                    <th field="CurrentShiftName" width="90">
                                        @* <th data-options="field: 'ActivationAfter',width: 90,align:'right',editor:{type:'text',options:{data: }">*@
                                        Current Shift
                                    </th>
                                </tr>
                            </thead>
                        </table>
                        <div id="toolbar">
                             <select id="cboTblDesignation" style=" width: 100px; float: left">
                            </select>
                            <input type="button" value="Desg." style="" onclick="UpdateDesignation()" />
                            <select id="cboTblCurrentShift" style=" width: 150px; float: right">
                            </select>
                            <input type="button" value="Shift" style="float: right;" onclick="UpdateShift()" />
                        </div>
                    </td>
                    </td>
                </tr>
            </table>
        </div>
    </div>
    <div style="clear: both;">
    </div>
    <div>
        <fieldset>
            <legend style="font-weight: bold">Action : </legend>
            <table border="0" cellspacing="2" cellpadding="2" style="font-size: 11px; font-weight: bold">
                <tr>
                    <td style="width: 750px; text-align: right">
                    </td>
                    <td style="width: 50px">
                        <a id="btnSave" href="javascript:void(0)" class="easyui-linkbutton" iconcls="icon-save"
                            plain="true" onclick="Save()">Save</a>
                    </td>
                    <td style="width: 50px">
                        <a href="javascript:void(0)" class="easyui-linkbutton" iconcls="icon-cancel" plain="true"
                            onclick="Close()">Close</a>
                    </td>
                </tr>
            </table>
        </fieldset>
    </div>
</body>
</html>
<script type="text/javascript">
    var _sBaseAddress = "";
    var _oEmployee_HRM = null;
    var _oAttendancecalenders = [];
    var _oEmployeeTypes = [];
    var _oDayOffs = [];
    var _oRosterPlanDetails = [];
    var _oRosterPlans = [];
    var _oDepartmentRequirementPolicys = [];
    var _oAttendanceSchemeHolidays = [];
    var _oAttendanceSchemeLeaves = [];
    var _oDesignations = [];
    var selectedRosterPlanDetails = [];
    var _oOrganograms = [];
    var locationID = null;
    var departmentID = null;
    var _oAttendanceScheme = null;
    var attendanceSchemeID = null;
     $(document).ready(function () {
        debugger;   
        var obj = window.dialogArguments;                   
       _oEmployee_HRM = @Html.Raw(new System.Web.Script.Serialization.JavaScriptSerializer().Serialize(Model));   
       _sBaseAddress =@Html.Raw(new System.Web.Script.Serialization.JavaScriptSerializer().Serialize(HttpContext.Current.Session[SessionInfo.BaseAddress]));
       _oAttendancecalenders = @Html.Raw(new System.Web.Script.Serialization.JavaScriptSerializer().Serialize(Model.AttendanceScheme.AttendanceCalendars));
       _oEmployeeTypes = @Html.Raw(new System.Web.Script.Serialization.JavaScriptSerializer().Serialize(Model.AttendanceScheme.EmployeeTypes));  
       _oDayOffs=@Html.Raw(new System.Web.Script.Serialization.JavaScriptSerializer().Serialize(Model.AttendanceScheme.AttendanceSchemeDayOffs));
       _oRosterPlans=@Html.Raw(new System.Web.Script.Serialization.JavaScriptSerializer().Serialize(Model.AttendanceScheme.RosterPlans));      
       _oRosterPlanDetails=@Html.Raw(new System.Web.Script.Serialization.JavaScriptSerializer().Serialize(Model.AttendanceScheme.RosterPlanDetails));   
       _oDepartmentRequirementPolicys=@Html.Raw(new System.Web.Script.Serialization.JavaScriptSerializer().Serialize(Model.AttendanceScheme.DepartmentRequirementPolicys));
       _oAttendanceSchemeHolidays=@Html.Raw(new System.Web.Script.Serialization.JavaScriptSerializer().Serialize(Model.AttendanceScheme.AttendanceSchemeHolidays));
       _oAttendanceSchemeLeaves=@Html.Raw(new System.Web.Script.Serialization.JavaScriptSerializer().Serialize(Model.AttendanceScheme.AttendanceSchemeLeaves));
       _oOrganograms=@Html.Raw(new System.Web.Script.Serialization.JavaScriptSerializer().Serialize(Model.Organograms));
       _oDesignations=  @Html.Raw(new System.Web.Script.Serialization.JavaScriptSerializer().Serialize(Model.Designations));
         var header = "Official Information For " + obj.Employee.Name + " [" + obj.Employee.Code + "]";
         document.getElementById('lblHeaderName').innerHTML = header;
         _oEmployee_HRM = obj.Employee;
        // .text = ;
          //document.getElementById("lblHeaderName").value = header;
       var listAttendanceCalenders="<option value='"+0+"'>" +"--Select Attendance Calenders--" + "</option>";
        if(_oAttendancecalenders.length>0)
        {
            for (var i = 0; i < _oAttendancecalenders.length; i++) 
            {
                listAttendanceCalenders += "<option value='" + _oAttendancecalenders[i].AttendanceCalendarID+"'>" + _oAttendancecalenders[i].Name+"</option>";
            }
        }
        $("#cboAttendanceCalender").html(listAttendanceCalenders);
        var listEmployeeTypes="<option value='"+0+"'>" +"--Select Employee Types--" + "</option>";

        if(_oEmployeeTypes.length>0)
        {
            for (var j = 0; j < _oEmployeeTypes.length; j++) 
            {
                listEmployeeTypes += "<option value='" + _oEmployeeTypes[j].EmployeeTypeID+"'>" + _oEmployeeTypes[j].Name+"</option>";
            }
        }
        $("#cboEmployeeType").html(listEmployeeTypes);
       
    
    });
     function  icsdateformat(date)
{
    debugger;
    var mthNames = ["Jan","Feb","Mar","Apr","May","Jun","Jul","Aug","Sep","Oct","Nov","Dec"];
    var y = date.getFullYear();
	var m = date.getMonth();
	var d = date.getDate();
	//return m+'/'+d+'/'+y;
    var result= d +' '+ mthNames[m]+' '+ y;
         return result;
     }
     
      function RemoveForEmployeeAssignTable() {
        debugger;
        var oASH = $('#tblEmployeeAssign').datagrid('getSelected');
        if (oASH == null) {
            alert("Invalid Field!!! please select a valid Field!");
            return false;
        }
        var SelectedRowIndex = $('#tblEmployeeAssign').datagrid('getRowIndex', oASH);
        $('#tblEmployeeAssign').datagrid('deleteRow',SelectedRowIndex);
       
    }

     function UpdateShift()
    {
        debugger;
        
        if($("#cboTblCurrentShift").val() <=0)
        {
            alert('Please select a Current Shift!');
            return;
        }
        var oObj= $('#tblEmployeeAssign').datagrid('getSelected'); 
        oObj.CurrentShiftID=$("#cboTblCurrentShift").val();
        var cboTblCurrentShift=document.getElementById('cboTblCurrentShift');
        var CurrentShiftName=cboTblCurrentShift.options[cboTblCurrentShift.selectedIndex].text;
        oObj.CurrentShiftName=CurrentShiftName;
        var SelectedRowIndex=$('#tblEmployeeAssign').datagrid('getRowIndex',oObj);
        $('#tblEmployeeAssign').datagrid('updateRow',{index: SelectedRowIndex,	row: oObj});
    } 


    function UpdateDesignation()
    {
         debugger;
        
        if($("#cboTblDesignation").val() <=0)
        {
            alert('Please select a Designation!');
            return;
        }
        var oObj= $('#tblEmployeeAssign').datagrid('getSelected'); 
        oObj.DesignationID=$("#cboTblDesignation").val();
        var cboTblDesignation=document.getElementById('cboTblDesignation');
        var designationName=cboTblDesignation.options[cboTblDesignation.selectedIndex].text;
        oObj.DesignationName=designationName;
        var SelectedRowIndex=$('#tblEmployeeAssign').datagrid('getRowIndex',oObj);
        $('#tblEmployeeAssign').datagrid('updateRow',{index: SelectedRowIndex,	row: oObj});
    }

    function EmployeePicker() {
           var oParameter = new Object();
                  oParameter.Name = "Employee Advance Search";
                  oParameter.MultipleItemReturn=true;
                  var url = _sBaseAddress + "/Employee_HRM/EmployeeHRMPiker";
                  var oEmployee = window.showModalDialog(url, oParameter, 'dialogHeight:270px;dialogWidth:930px;dialogLeft:150;dialogRight:150;dialogTop:200;center:yes;resizable:yes;status:no;scroll:no');
        debugger;
        var selectedEmployees = [];
        
        for (var i = 0; i < oEmployee.length; i++) {
            var employeeOfficial= RefreshObjectForEmployeeOfficial(oEmployee[i]);
            selectedEmployees.push(employeeOfficial);
        }

        RefreshListForEmployeeOfficial(selectedEmployees);
    }
    
    function RefreshObjectForEmployeeOfficial(oEmployee) {
        var oEmployeeOfficial = {            
          EmployeeOfficialName: oEmployee.Name,
          AttendanceSchemeID: attendanceSchemeID,
          EmployeeID:oEmployee.EmployeeID,
          DateOfJoin: $('#txtDateOfJoin').datebox('getValue'),
          DateOfConfirmation: $('#txtDateOfConfirmation').datebox('getValue'),
          CurrentShiftName:" ",
          DesignationName: " "
        };
        return oEmployeeOfficial;
    }

    function  RefreshListForEmployeeOfficial(oEmployee)
     {
        debugger;
        var data=oEmployee;
        data={"total":""+data.length+"","rows":data};
        $('#tblEmployeeAssign').datagrid('loadData',data);
        $('#tblEmployeeAssign').datagrid({ selectOnCheck: false, checkOnSelect: false });
     }

     function AttendanceSchemePiker() {
         debugger;
           var oParameter = new Object();
                  oParameter.Name = "Pick Attendance Scheme";
                  oParameter.MultipleItemReturn=true;
                  var url = _sBaseAddress + "/AttendanceScheme/AttendanceSchemeSearch";
                  var oAttendanceScheme = window.showModalDialog(url, oParameter, 'dialogHeight:553px;dialogWidth:930px;dialogLeft:150;dialogRight:150;dialogTop:200;center:yes;resizable:yes;status:no;scroll:no');
         debugger;
         _oAttendanceScheme = RefreshListForAttendanceScheme(oAttendanceScheme[0]);
     }
     
     function RefreshListForAttendanceScheme(attendanceScheme) {
         debugger;
         
         $("#txtSchemeName")[0].value = attendanceScheme.Name;
         $("#txtDepartmentRequirementPolicy")[0].value = attendanceScheme.DepartmentRequirementPolicyName;
         $("#txtLocation")[0].value = attendanceScheme.Location;
          $("#attendanceSchemeID")[0].value = attendanceScheme.AttendanceSchemeID;
         attendanceSchemeID = attendanceScheme.AttendanceSchemeID;
         $("#txtDepartment")[0].value = attendanceScheme.Department;
         var dayOffs = GetDayOffs(attendanceScheme.AttendanceSchemeID);
         $("#txtDayOff")[0].value = dayOffs;
         $("#cboAttendanceCalender").val(attendanceScheme.AttendanceCalenderID);
         document.getElementById('cboNatureOfEmployee').selectedIndex = attendanceScheme.EmployeeNature;
        
         $("#cboEmployeeType")[0].value = attendanceScheme.EmployeeTypeID;
         document.getElementById('cboOvertimeCalculateCycle').selectedIndex = attendanceScheme.OverTimeCycle;
        
           if (attendanceScheme.EnforceMonthClosingRoster == true) {
           
            document.getElementById("chkEnforceClosing").checked = true;
        }
        if (attendanceScheme.OverTime == true) {
            
            document.getElementById("chkOvertimeActivationAfter").checked = true;
        }
        if (attendanceScheme.AlternativeDayOff == true) {
          
            document.getElementById("chkAlternativeDayOffActivationAfter").checked = true;
        }
        if (attendanceScheme.Accomodation == true) {
 
            document.getElementById("chkAccomodationActivationAfter").checked = true;
        }
         $("#txtOvertimeCalculateAfter")[0].value = attendanceScheme.OverTimeCalculateInHourAfter;
       
         $("#txtOvertimeActivationAfter")[0].value = attendanceScheme.OverTimeDeferredDay;
         
         document.getElementById('cboOvertimeActivationAfter').selectedIndex = attendanceScheme.OverTimeActivationAfter;
         $("#txtAlternativeDayOffActivationAfter")[0].value = attendanceScheme.AlternativeDayOffDeferredDay;
        
         document.getElementById('cboAlternativeDayOffActivationAfter').selectedIndex = attendanceScheme.AlternativeDayOffActivationAfter;
         $("#txtAccomodationActivationAfter")[0].value = attendanceScheme.AccommodationDeferredDay;
         document.getElementById('cboAccomodationActivationAfter').selectedIndex = attendanceScheme.AccommodationActivationAfter;
         //$("#cboAccomodationActivationAfter")[0].value = attendanceScheme.AccommodationDeferredDay;
         $("#txtDaysOffNoInWeek")[0].value = attendanceScheme.DayOffNoInWeek;
         debugger;
         var rosterplanID = null;
        
         for (var k = 0; k < _oDepartmentRequirementPolicys.length; k++) {
             if (_oDepartmentRequirementPolicys[k].DepartmentRequirementPolicyID == attendanceScheme.DepartmentRequirementPolicyID) {
                 rosterplanID = _oDepartmentRequirementPolicys[k].RosterPlanID;
             }
         }

         for (var i = 0; i < _oRosterPlans.length; i++) {
             if (_oRosterPlans[i].RosterPlanID == rosterplanID) {
                 $("#txtRosterPlan")[0].value = _oRosterPlans[i].Description;
                 $("#txtRosterCycle")[0].value=_oRosterPlans[i].RosterCycle;
                 break;
             }
         }
        
         for (var j = 0; j < _oRosterPlanDetails.length; j++) {
             if (_oRosterPlanDetails[j].RosterPlanID == rosterplanID) {
                 selectedRosterPlanDetails.push(_oRosterPlanDetails[j]);
             }
         }
          RefreshList(selectedRosterPlanDetails);
         var selectedAttendanceSchemeHoliDays=[];
         var selectedAttendanceSchemeLeaves=[];
         for (var i = 0; i < _oAttendanceSchemeHolidays.length; i++) {
             if (_oAttendanceSchemeHolidays[i].AttendanceSchemeID == attendanceScheme.AttendanceSchemeID) {
                 selectedAttendanceSchemeHoliDays.push(_oAttendanceSchemeHolidays[i]);
             }
         }
         for (var i = 0; i < _oAttendanceSchemeLeaves.length; i++) {
             if (_oAttendanceSchemeLeaves[i].AttendanceSchemeID == attendanceScheme.AttendanceSchemeID) {
                 selectedAttendanceSchemeLeaves.push(_oAttendanceSchemeLeaves[i]);
             }
         }
        RefreshListForLeaveHeadTable(selectedAttendanceSchemeLeaves);

        RefreshListForHoliDayTable(selectedAttendanceSchemeHoliDays);
         
          var listSelectedShifts="<option value='"+0+"'>" +"--Select--" + "</option>";
         debugger;
        if(selectedRosterPlanDetails.length>0)
        {
            for (var j = 0; j < selectedRosterPlanDetails.length; j++) 
            {
                listSelectedShifts += "<option value='" + selectedRosterPlanDetails[j].ShiftID+"'>" + selectedRosterPlanDetails[j].Shift+"</option>";
            }
        }
        $("#cboCurrentShift").html(listSelectedShifts);
         $("#cboTblCurrentShift").html(listSelectedShifts); 
          for (var i = 0; i < _oDepartmentRequirementPolicys.length; i++) {
            if (_oDepartmentRequirementPolicys[i].DepartmentRequirementPolicyID == attendanceScheme.DepartmentRequirementPolicyID) {
                locationID = _oDepartmentRequirementPolicys[i].LocationID;
                departmentID = _oDepartmentRequirementPolicys[i].DepartmentID;
            }
        }
         var selectedDesignationIDs = [];
         for (var i = 0; i < _oOrganograms.length; i++) {
             if (_oOrganograms[i].LocationID == locationID && _oOrganograms[i].DepartmentID == departmentID) {
                 selectedDesignationIDs.push(_oOrganograms[i].DesignationID);
             }
         }
         var selectedDesignations = [];
         for (var i = 0; i < selectedDesignationIDs.length; i++) {
             for (var j = 0; j < _oDesignations.length; j++) {
                 if (selectedDesignationIDs[i] == _oDesignations[j].DesignationID) {
                     selectedDesignations.push(_oDesignations[j]);
                 }
             }
         }
         debugger;
         var listSelectedDesignations="<option value='"+0+"'>" +"--Select--" + "</option>";
         debugger;
        if(selectedDesignations.length>0)
        {
            for (var j = 0; j < selectedDesignations.length; j++) 
            {
                listSelectedDesignations += "<option value='" + selectedDesignations[j].DesignationID+"'>" + selectedDesignations[j].Name+"</option>";
            }
        }
         $("#cboDesignation").html(listSelectedDesignations);
          $("#cboTblDesignation").html(listSelectedDesignations);
         
     }
     function  RefreshListForLeaveHeadTable(oLeaveHeads)
     {
        debugger;
        var data=oLeaveHeads;
        data={"total":""+data.length+"","rows":data};
        $('#tblLeave').datagrid('loadData',data);
        $('#tblLeave').datagrid({ selectOnCheck: false, checkOnSelect: false });
     }
     
     function  RefreshListForHoliDayTable(oHolidays)
     {
        debugger;
        var data=oHolidays;
        data={"total":""+data.length+"","rows":data};
        $('#tblHoliday').datagrid('loadData',data);
        $('#tblHoliday').datagrid({ selectOnCheck: false, checkOnSelect: false });
     }
     
     function RefreshList(oRosterPlanDetails) {
        debugger;
          var data=oRosterPlanDetails;
          data={"total":""+data.length+"","rows":data};
          $('#tblRosterPlan').datagrid('loadData',data);
        $('#tblRosterPlan').datagrid({ selectOnCheck: false, checkOnSelect: false });
    }
     
       function GetDayOffs(id) {
         var dayOffs = "";
         for (var i = 0; i < _oDayOffs.length; i++) {
             if (_oDayOffs[i].AttendanceSchemeID == id) {
                 dayOffs += _oDayOffs[i].WeekDay+" ,";
             }
         }
         return dayOffs;
     }
     

     function RefreshObjectForEmployeeOfficialMain() {
         debugger;
          var cboDesignation= document.getElementById("cboDesignation");
         var cboCurrentShift = document.getElementById("cboCurrentShift"); 
          var oEmployeeOfficial = {            
          EmployeeOfficialName: _oEmployee_HRM.Name,
          AttendanceSchemeID: attendanceSchemeID,
          EmployeeID:_oEmployee_HRM.EmployeeID,
          DateOfJoin: $('#txtDateOfJoin').datebox('getValue'),
          DateOfConfirmation: $('#txtDateOfConfirmation').datebox('getValue'),
          DesignationID:cboDesignation.options[cboDesignation.selectedIndex].value,
          CurrentShiftID:cboCurrentShift.options[cboCurrentShift.selectedIndex].value,
          CurrentShiftName:" ",
          DesignationName: " "
        };
        return oEmployeeOfficial;
     }

     function MakingListOfEmployeeOfficial() {
         debugger;
         var oEmployeeOfficials = [];
         var mainEmployeeOfficial = RefreshObjectForEmployeeOfficialMain();
         oEmployeeOfficials=$('#tblEmployeeAssign').datagrid('getRows');
         oEmployeeOfficials.push(mainEmployeeOfficial);
         return oEmployeeOfficials;

     }

     function Save() {
         var oEmployeeOfficials = MakingListOfEmployeeOfficial();
          $.ajax({
        type: "POST",
        dataType: "json",        
        url : _sBaseAddress+  "/Employee_HRM/OfficialInfoIU",
        traditional: true,
        data:  JSON.stringify(oEmployeeOfficials),
        contentType: "application/json; charset=utf-8",
        success: function (data) {
            debugger;
            var oEmployeeOfficial = jQuery.parseJSON(data);
            var x = [];
            x = oEmployeeOfficial.EmployeeOfficials;
            if (x != null) {
                if (x.length>0) {
                alert("Data Saved sucessfully");
                window.returnValue = oEmployeeOfficial;
                window.close();
            }
            }
            else {
                alert(oEmployeeOfficial.ErrorMessage);
            }
        },
        error: function (xhr, status, error) {
            alert(error);
        }

    });
     }
     
     function Close() {
         window.close();
     }

</script>
