<html>
<head>
    <link href="@Url.Content("~/Content/CSS/icon.css")" rel="stylesheet" type="text/css" />
    <link href="@Url.Content("~/Content/CSS/easyui.css")" rel="stylesheet" type="text/css" />
    <link href="@Url.Content("~/Content/CSS/Pikerstyle.css")" rel="stylesheet" type="text/css" />
    <script src="@Url.Content("~/Scripts/jquery-1.7.1.min.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Scripts/jquery.ics.customize.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Scripts/jquery.easyui.min.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Scripts/jquery-ui.min.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Scripts/json2.js")" type="text/javascript"></script>
</head>
<body>

    @model ESimSol.BusinessObjects.EmployeeRecommendedDesignation
    <div style="font-family:Tahoma">
        <table border="0" cellspacing="2" cellpadding="2">
            <tr>
                <td style="background-color:#CFB53B; text-align:center; width:500px; color:White">
                    <label id="lblHeaderName" style="font-size:15px; font-weight:bold; text-decoration:Underline"> Add Account</label>
                </td>
            </tr>
        </table>
        <fieldset>
            <legend style="font-weight:bold"> Recommended Designation : </legend>
            <table border="0" cellspacing="2" cellpadding="2" style="font-size:11px; font-weight:bold">
                <tr>
                    <td style="width:120px; text-align:right">
                        Department :
                    </td>
                    <td style="width:380px">
                        @Html.DropDownListFor(m => m.DepartmentID, Model.Departments.Select(x => new SelectListItem() { Text = x.Name, Value = x.DepartmentID.ToString() }), new { id = "cboDepartment", style = "width: 260px;" })
                        @*@Html.TextBoxFor(model => model.DepartmentName, new { style = "width: 260px;", id = "txtDepartment" })
                        <input type="hidden" id="departmentID" />
                        <input value="pick" type="button" id="departmentPicker" style="width: 38px" onclick="DepartmentPicker()" />*@
                    </td>
                </tr>
                <tr>
                    <td style="width:120px; text-align:right">
                        Designation :
                    </td>
                    <td style="width:380px">
                       @Html.DropDownListFor(m => m.DesignationID, Model.Designations.Select(x => new SelectListItem() { Text = x.Name, Value = x.DesignationID.ToString() }), new { id = "cboDesignation", style = "width: 260px;" })
                       @*@Html.TextBoxFor(model => model.DesignationName, new { style = "width: 260px;", id = "txtDesignation" })*@
                       @*<input type="hidden" id="designationID" />
                       <input value="pick" type="button" id="designationPicker" style="width: 38px" onclick="DesignationPicker()" />*@
                    </td>
                </tr>
              
            </table>
        </fieldset>

        <fieldset>
            <legend style="font-weight:bold"> Action : </legend>
            <table border="0" cellspacing="2" cellpadding="2" style="font-size:11px; font-weight:bold">
                <tr>
                    <td style="width:400px; text-align:right"></td>

                    <td style="width:50px">
                        <a id="btnSave" href="javascript:void(0)" class="easyui-linkbutton" iconcls="icon-save" plain="true" onclick="Save()">Save</a>
                    </td>
                    <td style="width:50px">
                        <a href="javascript:void(0)" class="easyui-linkbutton" iconcls="icon-cancel" plain="true" onclick="Close()">Close</a>
                    </td>
                </tr>
            </table>
        </fieldset>
    </div>
</body>
</html>


<script type="text/javascript">

 var _oEmployeeRecommendedDesignation=null;
 var _sBaseAddress="";

 $(document).ready(function () {
    
        _sBaseAddress =@Html.Raw( new System.Web.Script.Serialization.JavaScriptSerializer().Serialize(HttpContext.Current.Session[SessionInfo.BaseAddress]));
        var obj = window.dialogArguments;
        document.getElementById('lblHeaderName').innerHTML=obj.Name;
        _oEmployeeRecommendedDesignation =@Html.Raw(new System.Web.Script.Serialization.JavaScriptSerializer().Serialize(Model));
     _oEmployeeRecommendedDesignation.EmployeeID=obj.EmployeeID;
     $("#designationID")[0].value = _oEmployeeRecommendedDesignation.DesignationID;
     $("#departmentID")[0].value = _oEmployeeRecommendedDesignation.DepartmentID
 });


//function DepartmentPicker() 
//{
//    var oParameter = new Object();
//    oParameter.MultipleItemReturn = false;
//    var url = _sBaseAddress + "/Department/DepartmentPickerWithCheckBox?id="+0;
//    var oReturnObject = window.showModalDialog(url, oParameter, 'dialogHeight:470px;dialogWidth:550px;dialogLeft:400;dialogTop:100;center:yes;resizable:no;status:no;scroll:no');
       
//    if(oReturnObject!=null)
//    {
//        $("#txtDepartment")[0].value = oReturnObject.text;
//        $("#departmentID")[0].value = oReturnObject.id;
//    }   
//}

//function DesignationPicker() 
//{
 
//    var oParameter = new Object();
//    oParameter.MultipleItemReturn = false;
//    var url = _sBaseAddress + "/Designation/DesignationPickerWithCheckBox?id=0";
//    var oReturnObject = window.showModalDialog(url, oParameter, 'dialogHeight:470px;dialogWidth:550px;dialogLeft:400;dialogTop:100;center:yes;resizable:no;status:no;scroll:no');
//    if(oReturnObject!=null)
//    {
//        $("#txtDesignation")[0].value = oReturnObject.text;
//        $("#designationID")[0].value = oReturnObject.id;        
//    }

//} 




function RefreshObject()
{
    var DE = document.getElementById("cboDepartment");
    var nDepartmentID = DE.options[DE.selectedIndex].value; 

    var DES = document.getElementById("cboDesignation");
    var nDesignationID = DES.options[DES.selectedIndex].value;

    var oEmployeeRecommendedDesignation= {
                    ARDID : _oEmployeeRecommendedDesignation.ARDID,
                    EmployeeID : _oEmployeeRecommendedDesignation.EmployeeID,
                    DepartmentID : nDepartmentID,//$("#departmentID").val(),
                    DesignationID: nDesignationID//$("#designationID").val(),
                    
                };
    return oEmployeeRecommendedDesignation;
}

function Save()
{
    var oEmployeeRecommendedDesignation=RefreshObject();

    $.ajax({
        type: "POST",
        dataType: "json",
        url : _sBaseAddress+  "/Employee/EmployeeRecommendedDesignationIU",
        traditional: true,
        data:  JSON.stringify(oEmployeeRecommendedDesignation),
        contentType: "application/json; charset=utf-8",
        success: function (data) {
            //debugger;
            oEmployeeRecommendedDesignation = jQuery.parseJSON(data);
            if (oEmployeeRecommendedDesignation.ARDID>0) {
                alert("Data Saved sucessfully");
                window.returnValue = oEmployeeRecommendedDesignation;
                window.close();
            }
            else {
                alert(oEmployeeRecommendedDesignation.ErrorMessage);
            }
        },
        error: function (xhr, status, error) {
            alert(error);
        }

    });
}

    function Close()
    {
        window.close();
    }
</script>