@model ESimSol.BusinessObjects.Employee
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="container" style="width:100%; height:100%;">
    <div class="MenuMainCollectionTable" style="width:100%">
        <div id="hiddentxt" class="divInput">
            <br /><input id="EmployeeID" type="text" value="@Model.EmployeeID" readonly="readonly" />
        </div>
        <fieldset>
            <legend style="font-size:12px; font-weight: bold; padding: 1% 0">Employee Unit</legend>
            <table border="0" cellpadding="3" style="width:90%">
                <tr>
                    <td style="width:20%;text-align:right; font-weight:bold;">Code:</td>
                    <td style="width:80%" colspan="3"><input id="Code" type="text" value="@Model.Code" style="width:100%;" /></td>
                </tr>
                <tr>
                    <td style="width:20%; text-align:right; font-weight:bold; ">Name:</td>
                    <td style="width:30%"><input id="Name" type="text" value="@Model.Name" placeholder="Enter Full Name" style="width:100%;" /></td>
                    <td style="width:20%; text-align:right; font-weight:bold; ">Nick Name:</td>
                    <td style="width:30%"><input id="NickName" type="text" value="@Model.NickName" placeholder="Nick Name" style="width:100%;" /></td>
                </tr>
                <tr>
                    <td style="width:20%; text-align:right; font-weight:bold; ">Father Name:</td>
                    <td style="width:30%"><input id="FatherName" type="text" value="@Model.FatherName" placeholder="Father Name" style="width:100%;" /></td>
                    <td style="width:20%; text-align:right; font-weight:bold; ">Mother Name:</td>
                    <td style="width:30%"><input id="MotherName" type="text" value="@Model.MotherName" placeholder="Mother Name" style="width:100%;" /></td>
                </tr>
                <tr>
                    <td style="width:20%; text-align:right; font-weight:bold; ">Date Of Birth:</td>
                    <td style="width:30%"><input id="DateOfBirth" name="DateOfBirth" type="text" style="width:100%;" class="easyui-datebox" data-options="formatter:icsdateformat,parser:icsdateparser" /></td>
                    <td style="width:20%; text-align:right; font-weight:bold; ">Address:</td>
                    <td style="width:30%"><input id="Address" type="text" value="@Model.ParmanentAddress" placeholder="Address" style="width:100%;" /></td>
                </tr>
                <tr>
                    <td style="width:20%; text-align:right; font-weight:bold; ">Contact:</td>
                    <td style="width:30%"><input id="ContactNo" type="text" value="@Model.ContactNo" placeholder="Contact Number" style="width:100%;" /></td>
                    <td style="width:20%; text-align:right; font-weight:bold; ">Email:</td>
                    <td style="width:30%"><input id="Email" type="text" value="@Model.Email" placeholder="Email" style="width:100%;" /></td>
                </tr>
            </table>
        </fieldset>
        <fieldset style="margin-top:5%">
            <legend style="font-size:12px; font-weight: bold; padding: 1% 0">Job Information</legend>
            <table border="0" cellpadding="3" class="tbl" style="width:90%; ">
                <tr>
                    <td style="width:20%; text-align:right; font-weight:bold; ">Department:</td>
                    <td style="width:30%">
                        <select style="width:100%;" id="txtDepartment">
                            <option value="1">HR</option>
                            <option value="2">Admin</option>
                            <option value="3">Marketing</option>
                        </select>
                    </td>
                    <td style="width:20%; text-align:right; font-weight:bold; ">Employee-Type:</td>
                    <td style="width:30%"><select id="cboEmployeeType" name="EmployeeType" style="width:100%;"></select></td>
                </tr>
                <tr>
                    <td style="width:20%; text-align:right; font-weight:bold; ">Duty Location:</td>
                    <td style="width:30%">
                        <select id="LocationNameCode" name="EmployeeType" style="width:100%;">
                            <option value="0">--Select--</option>
                            <option value="1">Dhaka</option>
                            <option value="2">Comilla</option>
                            <option value="3">Chittagong</option>
                            <option value="4">Bandorban</option>
                            <option value="5">Sylhet</option>
                        </select>
                    </td>
                    <td style="width:20%; text-align:right; font-weight:bold; ">Designation:</td>
                    <td style="width:30%"></td>
                </tr>
                <tr>
                    <td style="width:20%; text-align:right; font-weight:bold; ">Date Of join:</td>
                    <td style="width:30%"><input id="DateOfjoin" name="DateOfjoin" type="text" style="width:100%;" class="easyui-datebox" data-options="formatter:icsdateformat,parser:icsdateparser" /></td>
                    <td style="width:20%; text-align:right; font-weight:bold; ">IsActive:</td>
                    <td style="width:30%">@Html.CheckBox("IsActive", Model.IsActive)</td>
                </tr>

            </table>
        </fieldset>
    </div>
    <div style="padding:20px 0px; background-color:white; bottom:0;left:0;right:0;position:absolute">
        <fieldset>
            <legend>Action</legend>
            <div>
                <table class="tbl">
                    <tr>
                        <td class="tdLetterSetupEmployee lblAlign">
                            <label id="lblPostedBy" class="resetlbl"></label>
                        </td>
                        <td class="tdLetterSetupEmployee">
                            <div style="float:right">
                                <a id="btnSaveLetterSetupEmployee" href="javascript:void(0)" class="easyui-linkbutton" onclick="Save()" iconcls="icon-save" plain="true">Save</a>
                                <a id="btnCloseLetterSetupEmployee" href="javascript:void(0)" class="easyui-linkbutton" onclick="Close()" iconcls="icon-cancel" plain="true">Close</a>
                            </div>
                        </td>
                    </tr>
                </table>
            </div>
        </fieldset>
    </div>
</div>



<script type="text/javascript">
    var _oEmployee = null;
    var _sBaseAddress="";
    $(document).ready(function ()
    {
        _oEmployee =@Html.Raw(new System.Web.Script.Serialization.JavaScriptSerializer().Serialize(Model));
        _sBaseAddress =@Html.Raw( new System.Web.Script.Serialization.JavaScriptSerializer().Serialize(HttpContext.Current.Session[SessionInfo.BaseAddress]));
        var oEmployeeTypes = @Html.Raw(new System.Web.Script.Serialization.JavaScriptSerializer().Serialize(ViewBag.EmployeeTypes));
        var oLocations = @Html.Raw(new System.Web.Script.Serialization.JavaScriptSerializer().Serialize(ViewBag.Locations));

        $("#hiddentxt").hide();


        $('#DateOfBirth').datebox('setValue',icsdateformat(new Date()));
        var DateOfBirth = $('#DateOfBirth').datebox('getValue');
        $('#DateOfjoin').datebox('setValue',icsdateformat(new Date()));
        var DateOfJoin = $('#DateOfjoin').datebox('getValue');

        $("#cboEmployeeType").icsLoadCombo({
            List:oEmployeeTypes,
            OptionValue: "id",
            DisplayText: "Value",
        });
        $("#cboEmployeeType").val(_oEmployee.EmployeeDesignationTypeInt)
        $("#DutyLocation").icsLoadCombo({
            List:oLocations,
            OptionValue: "id",
            DisplayText: "Value",
        });
        $("#DutyLocation").val(_oEmployee.DutyLocation);
    });
    function RefreshObject()
    {
        debugger;
        var oEmployee = {
            EmployeeID: $("#EmployeeID").val(),
            Name: $("#Name").val(),
            NickName: $("#NickName").val(),
            ParmanentAddress: $("#Address").val(),
            ContactNo: $("#ContactNo").val(),
            Email: $("#Email").val(),
            FatherName: $("#FatherName").val(),
            MotherName: $("#MotherName").val(),
            Code : $("#Code").val(),
            //DateOfBirth : DateTime.Today,
            Designation : "",
            DateOfjoin : $("#DateOfjoin").val(),
            EmployeeDesignationType : $("#cboEmployeeType").val(),
            EmployeeDesignationTypeInt : $("#cboEmployeeType").val(),
            IsActive : $("#IsActive").val(),
            Department : $("#txtDepartment").val(),
            DutyLocation : $("#DutyLocation").val(),
            LocationNameCode : $("#LocationNameCode").val(),
          
            ErrorMessage: ""
        };

        return oEmployee;
    }
    function Save()
    {
        debugger;
        var oEmployee = RefreshObject();
        $.ajax({
            type: "POST",
            dataType: "json",
            url : _sBaseAddress+"/Employee/View_Employee",
            traditional: true,
            data:  JSON.stringify(oEmployee),
            contentType: "application/json; charset=utf-8",
            success: function (data) {

                oEmployee = jQuery.parseJSON(data);

                debugger;


                if (oEmployee.ErrorMessage=="" || oEmployee.ErrorMessage==null)
                {

                    var oEmployees = sessionStorage.getItem("Employees");

                    var nIndex = parseInt(sessionStorage.getItem("SelectedRowIndex"));

                    if (oEmployees != null) {
                        oEmployees = jQuery.parseJSON(oEmployees);
                    }
                    else {
                        oEmployees = [];
                    }
                    if (nIndex != -1) {
                        oEmployees[nIndex] = oEmployee;

                    }
                    else
                    {
                        sessionStorage.setItem("SelectedRowIndex", oEmployees.length);
                        oEmployees.push(oEmployee);
                    }
                    sessionStorage.setItem("Employees", JSON.stringify(oEmployees));
                    if(sessionStorage.getItem("BackLink")!=null && sessionStorage.getItem("BackLink")!="")
                    {
                        window.location.href = sessionStorage.getItem("BackLink");
                    }
                }else
                {
                    alert(oEmployee.ErrorMessage);
                }

                //////////////

            }
        });
    }
    function Close()
    {
        window.location.href = sessionStorage.getItem('BackLink');
    }
</script>






