<!DOCTYPE HTML>
<html>
<head>
    <title>চাকুরীর আবেদন</title>
    <link href="@Url.Content("~/Content/CSS/icon.css")" rel="stylesheet" type="text/css" />
    <link href="@Url.Content("~/Content/CSS/easyui.css")" rel="stylesheet" type="text/css" />
    <link href="@Url.Content("~/Content/CSS/Pikerstyle.css")" rel="stylesheet" type="text/css" />
    <script src="@Url.Content("~/Scripts/jquery-1.7.1.min.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Scripts/jquery.ics.customize.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Scripts/jquery.easyui.min.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Scripts/jquery-ui.min.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Scripts/json2.js")" type="text/javascript"></script>

    <style type="text/css">
        #tbl4 tr td {
            border-bottom: 1px solid black;
            border-left: 1px solid black;
        }
        #tbl4 {
            border: 1px solid black;
            border-left: 0px solid black;
            border-bottom: 0px solid black;
        }
    </style>

</head>
<body>
    @model ESimSol.BusinessObjects.Employee
    <div style="font-family: Tahoma">
    <table style="border:1px solid black; width:90%; margin-left:5%; height:auto;">
    <tr style="width:100%; height:auto;">
        <td style="width:100% ;height:auto;">
            <table border="0" style="width:100%;margin-top: 2%;text-align:center; height:auto;">
                <tr style="width:100%; height:auto;">
                    <td style="width:100%; text-align: center; font-size: 20px;">
                        <label style="margin-top:20px;">
                            <img id="imgPhotoIcon" src="@Url.Action("GetCompanyLogoForHTMLPrint", "Employee", new { nid = Model.EmployeeID })" alt="Photo" style="width:400px; height:65px" />
                        </label>
                    </td>
                </tr>
                <tr style="width:100%">
                    <td style="width: 100%; text-align: center;">
                        <label style="font-size: 15px; font-weight: bold"> @Model.Company.Address</label>
                    </td>
                </tr>
                <tr style="height:20px;">
                    <td></td>
                </tr>
            </table>

            <table style="font-size: 25px; border:1px solid black; font-weight:bold; margin-left:40%;">
                <tr>
                    <td>
                        চাকুরীর আবেদন পত্র
                    </td>
                </tr>
            </table>

            <table style="font-size: 20px; border:0; width:100%; height:auto; ">
                <tr style="height:30px;">
                    <td colspan="4">
                    </td>
                </tr>
                <tr style="width:100%;height:auto;">
                    <td style="width:25%;height:auto;">
                        <div style="float:left;"> সার্ভিস বই নংঃ &nbsp;</div>
                        <div style="border:1px solid black; height:25px;width:140px; float:left;"></div>
                        <div style="float:right;width:20px; height:25px; border:0;"></div>
                    </td>
                    <td style="width:25%;height:auto;">
                        <div style="float:left;"> কার্ড নংঃ &nbsp;</div>
                        <div style="border:1px solid black; height:25px;width:140px; float:left;">@Model.Code</div>
                        <div style="float:right;width:25px; height:25px; border:0;"></div>

                    </td>
                    <td style="width:25%;height:auto;">
                        <div style="float:left;">গ্রেডঃ &nbsp;</div>
                        <div style="border:1px solid black; height:25px;width:140px; float:left;">@Model.EmployeeTypeName</div>
                        <div style="float:right;width:25px; height:25px; border:0;"></div>
                    </td>
                    <td style="width:25%;height:auto;" rowspan="4">
                        <div style="border:1px solid black; height:150px;width:140px;">
                            <img id="imgPhotoIcon" src="@Url.Action("GetEmpPhotoForHTMLPrint", "Employee", new { nid = Model.EmployeeID })" alt="Photo" style="width:140px; height:150px" />
                        </div>
                    </td>
                </tr>
                <tr>
                    <td colspan="3">
                        বরাবর,
                        <br />
                        ব্যবস্থাপনা পরিচালক
                        <br />
                        @Model.Company.Name
                    </td>
                </tr>
                <tr>
                    <td colspan="3"></td>
                </tr>
                <tr>
                    <td colspan="3">
                        বিষয় : <u><label id="lblDesignation"> @Model.DesignationName</label> পদে নিয়োগের জন্য আবেদন ।</u>
                    </td>
                </tr>
            </table>
            <table style="font-size: 20px; border:0; width:100%; height:auto; ">
                <tr style="width:100%;">
                    <td colspan="4">
                        জনাব, <br />
                        বিনীত নিবেদন এই যে, আপনার প্রকাশিত বিজ্ঞপ্তি/বিশ্বস্তসূত্রে জানতে পারলাম আপনার প্রতিষ্ঠানে <label id="lblDesignation1">@Model.DepartmentName &nbsp;বিভাগে &nbsp;@Model.DesignationName</label> পদে কিছু <br /> সংখ্যক লোক নিয়োগ করা হবে ।  <br />
                        আমি উক্ত পদে একজন প্রার্থী হিসেবে নিম্নে আমার জীবন বৃত্তান্ত পেশ করলাম।
                    </td>
                </tr>
                <tr style="width:100%;">
                    <td style=" text-align: left;width:25%; ">
                        ০১। নাম
                    </td>
                    <td style=" text-align: left;" colspan="3">
                        <label id="lblName">
                            
                           : @Model.Name
                          
                        </label>
                    </td>
                </tr>
                <tr style="width:100%;">
                    <td style=" text-align: left;width:25%;">
                        ০২। পিতা/ স্বামীর নাম 
                    </td>
                    <td style=" text-align: left; " colspan="3">
                        : <label id="lblFathersName">@Model.FatherName</label>
                    </td>
                </tr>
                <tr style="width:100%;">
                    <td style=" text-align: left;width:25%;">
                        ০৩। মাতার নাম 
                    </td>
                    <td style=" text-align: left;" colspan="3">
                        : <label id="lblMothersName">@Model.MotherName</label>
                    </td>
                </tr>
                <tr style="width:100%;">
                    <td style=" text-align: left;width:25%;">
                        ০৪। বর্তামান ঠিকানা 
                    </td>
                    <td style=" text-align: left;" colspan="3">
                        : <label id="lblPresentAddress">@Model.PresentAddress</label>
                    </td>
                </tr>
                <tr style="width:100%;">
                    <td style=" text-align: left;width:25%;">
                        ০৫। স্থায়ী ঠিকানা  
                    </td>
                    <td style=" text-align: left;" colspan="3">
                        : <label id="lblPermanentAddress">@Model.PresentAddress</label>
                </td>
            </tr>
                <tr style="width:100%;">
                    <td style=" text-align: left;width:25%;">
                        ০৬। জন্ম তারিখ 
                    </td>
                    <td style=" text-align: left;" colspan="3">
                        : <label id="lblBirthDate">@Model.DateOfBirthInString</label>
                    </td>

                </tr>
                <tr style="width:100%;">
                    <td style=" text-align: left;width:25%;">
                        ০৭। জন্ম নিবন্ধন নং 
                    </td>
                    <td style=" text-align: left;" colspan="3">
                        : <label id="lblBirthReg">@Model.BirthID</label>
                    </td>
                </tr>
                <tr style="width:100%;">
                    <td style=" text-align: left;width:25%;">
                        ০৮। জাতীয় পরিচয় পত্র নং 
                    </td>
                    <td style=" text-align: left;" colspan="3">
                       : <label id="lblNationalID"> @Model.NationalID</label>
                    </td>
                </tr>
                <tr style="width:100%;">
                    <td style=" text-align: left;width:25%;">
                        ০৯। বৈবাহিক অবস্থা 
                    </td>
                    <td style=" text-align: left;width:25%; font-size:15px;">
                        : <input id="chkMarried" type="checkbox" disabled="disabled" /> বিবাহিত
                        <input id="chkSingle" type="checkbox" disabled="disabled" />অবিবাহিত
                        <input id="chkOthers" type="checkbox" disabled="disabled" /> তালাকপ্রাপ্ত
                    </td>
                    <td style=" text-align: left;width:25%; ">
                        ১০। সন্তান সংখ্যা(যদি থাকে) 
                    </td>
                    <td style=" text-align: left;width:25%; ">
                        : <label id="lblChildInfo"> @Model.ChildrenInfo</label>
                    </td>
                </tr>

                <tr style="width:100%;">
                    <td style=" text-align: left;width:25%;">
                        ১১। ধর্ম 
                    </td>
                    <td style=" text-align: left; " colspan="3">
                        : <label id="lblReligion"> @Model.Religious</label>
                    </td>
                </tr>
                <tr style="width:100%;">
                    <td style=" text-align: left; width:25%;">
                        ১২। জাতীয়তা 
                    </td>
                    <td style=" text-align: left; width:25%;">
                        : <label id="lblNationality"> @Model.Nationalism</label>
                    </td>
                    <td style=" text-align: left; width:25%;">
                        ১৩। রক্তের গ্রুপ
                    </td>
                    <td style=" text-align: left;width:25%; ">
                        : <label id="lblBloodGroup"> @Model.BloodGroup</label>
                    </td>
                </tr>
                <tr style="width:100%;">
                    <td style=" text-align: left;width:25%;">
                        ১৪। শিক্ষাগত যোগ্যতা 
                    </td>
                    <td style=" text-align: left;width:25%;" >
                         : @Model.Note
                    </td>
                    <td style=" text-align: left;width:25%;">
                        ১৫। পূর্বের সার্ভিস বই নং
                    </td>
                    <td style=" text-align: left;width:25%;">
                     
                    </td>
                </tr>
                <tr style="width:100%;">
                    <td style=" text-align: left;width:25%;">
                        ১৬। পূর্বের কর্মস্থলের নাম 
                    </td>
                    <td style=" text-align: left;" colspan="3">:</td>
                </tr>
                <tr style="width:100%;">
                    <td style=" text-align: left; " colspan="4">
                        অতএব , জনাব সমিপে বিনিত নিবেদন এই যে, আমাকে উক্ত পদে নিয়োগ দানে বাধিত করবেন ।
                    </td>
                </tr>
            </table>
            <table style="width:100%; font-size:15px;">
                <tr>
                    <td colspan="3"><div style="border:1px solid black; height:45px;width:300px; float:left;">আবেদনকারীর সাক্ষর .............</div></td>
                </tr>
                <tr>
                    <td><div style="border:1px solid black; height:45px;width:300px; float:left;">যোগদানের তারিখঃ</div></td>
                    <td><div style="border:1px solid black; height:45px;width:300px; float:left;">মাসিক বেতনঃ</div></td>
                    <td><div style="border:1px solid black; height:45px;width:300px; float:left;">সেকশন ইনচার্জ</div></td>
                </tr>
                <tr>
                    <td><div style="border:1px solid black; height:45px;width:300px; float:left;">ব্যবস্থাপক(উৎপাদন/কিউ.এ)</div></td>
                    <td><div style="border:1px solid black; height:45px;width:300px; float:left;">ব্যবস্থাপক(প্রশাসন ও মানব সম্পদ উঃ)</div></td>
                    <td><div style="border:1px solid black; height:45px;width:300px; float:left;">চূড়ান্ত অনুমোদনকারী</div></td>
                </tr>
            </table>
        </td>
     </tr>
    </table>
</div>
</body>
</html>
<script type="text/javascript">

var _oEmployee = null;
var _sBaseAddress ="";
var _obj = null;

$(document).ready(function ()
{

    _oEmployee =@Html.Raw( new System.Web.Script.Serialization.JavaScriptSerializer().Serialize(Model));
    _sBaseAddress =@Html.Raw( new System.Web.Script.Serialization.JavaScriptSerializer().Serialize(HttpContext.Current.Session[SessionInfo.BaseAddress]));
    _obj = window.dialogArguments;
    RefreshControl();

});

function RefreshControl()
{

    if(_oEmployee.MaritalStatus == "Married")
    {
        document.getElementById("chkMarried").checked = true;
    }
    else if(_oEmployee.MaritalStatus == "UnMarried")
    {
        document.getElementById("chkSingle").checked = true;
    }
    else
    {
        document.getElementById("chkOthers").checked = true;
    }

}


$('#btnCancel').click(function ()
{
    window.close();
 });


$('#btnPrint').click(function ()
{
    document.getElementById("btnPrint").style.display='none';
    document.getElementById("btnCancel").style.display='none';
    window.print();
    window.close();
 });


</script>