<!DOCTYPE html />
<html>
<head>
    <title>Employee Card</title>
    <link href="@Url.Content("~/Content/CSS/icon.css")" rel="stylesheet" type="text/css" />
    <link href="@Url.Content("~/Content/CSS/easyui.css")" rel="stylesheet" type="text/css" />
    <link href="@Url.Content("~/Content/CSS/Pikerstyle.css")" rel="stylesheet" type="text/css" />
    <script src="@Url.Content("~/Scripts/jquery-1.7.1.min.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Scripts/jquery.ics.customize.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Scripts/jquery.easyui.min.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Scripts/jquery-ui.min.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Scripts/json2.js")" type="text/javascript"></script>
</head>
<body>
    @model ESimSol.BusinessObjects.EmployeeCard
    <div style="font-family: Tahoma">
        <table border="0" cellspacing="0" cellpadding="0">
            <tr>
                <td style="background-color: #cfb53b; text-align: center; width: 650px; color: White">
                    <label id="lblHeaderName" style="font-size: 17px; font-weight: bold; text-decoration: Underline">
                        Employee Card</label>
                </td>
            </tr>
            
        </table>
        <fieldset>
            <legend style="font-weight: bold">Employee Card</legend>@* table1 start*@
            <table border="0" cellspacing="2" cellpadding="2" style="font-size: 11px; font-weight: bold;">
                <tr>
                    <td style="width: 100px; text-align: right;">
                        Employee :
                    </td>
                    <td>
                        <input id="txtEmployee" type="text" style="width: 165px;" />
                        <input id="btnEmployee" type="button" value="P" />
                    </td>
                    <td style="width: 100px; text-align: right;">
                        Card Status :
                    </td>
                    <td>
                        @Html.DropDownListFor(model => model.EmployeeCardStatus, new SelectList(Enum.GetValues(typeof(ESimSol.BusinessObjects.EnumEmployeeCardStatus))), new { id = "cboEmployeeCardStatus", style = "width: 200px;" })
                    </td>
                </tr>
                <tr>
                    <td style="width: 100px; text-align: right;">
                        Issue Date :
                    </td>
                    <td>
                        <input id="dtIssueDate" type="text" style="width: 200px" class="easyui-datebox" required="required" data-options="formatter:icsdateformat" />
                    </td>
                    <td style="width: 100px; text-align: right;">
                        Expire Date :
                    </td>
                    <td>
                        <input id="dtExpireDate" type="text" style="width: 200px" class="easyui-datebox" required="required" data-options="formatter:icsdateformat" />
                    </td>
                </tr>
            </table>
            <table border="0" cellspacing="2" cellpadding="2" style="font-size: 11px; font-weight: bold;">
                <tr>
                    <td style="width: 630px; text-align: right;">
                        <a id="btnProcess" href="javascript:void(0)" class="easyui-linkbutton" iconcls="icon-ok" plain="true">Process</a>
                        <a id="btnCancel" href="javascript:void(0)" class="easyui-linkbutton" iconcls="icon-cancel" plain="true">Cancel</a>
                    </td>
                </tr>
            </table>
            @* table1 end*@
        </fieldset>
    </div>
</body>
</html>
<script type="text/javascript">
var _oEmployeeCard=null;
var _opEmployeeCard=null;
var _sBaseAddress="";
var _obj=null;
var _oEmployees=[];

$(document).ready(function ()
{
    _sBaseAddress =@Html.Raw(new System.Web.Script.Serialization.JavaScriptSerializer().Serialize(HttpContext.Current.Session[SessionInfo.BaseAddress]));  
    _oEmployeeCard =@Html.Raw(new System.Web.Script.Serialization.JavaScriptSerializer().Serialize(Model)); 
    _obj = window.dialogArguments;
    
    document.getElementById("lblHeaderName").innerHTML=_obj.Name;
    $('#dtIssueDate').datebox('setValue', _oEmployeeCard.IssueDateInString);
    $('#dtExpireDate').datebox('setValue', _oEmployeeCard.ExpireDateInString);
    
});

function  icsdateformat(date)
{
    var mthNames = ["Jan","Feb","Mar","Apr","May","Jun","Jul","Aug","Sep","Oct","Nov","Dec"];
    var y = date.getFullYear();
    var m = date.getMonth();
    var d = date.getDate();
    var result= d +' '+ mthNames[m]+' '+ y;
    return result;
}

$('#btnEmployee').click(function (e)
{
    var oParameter = new Object();
    oParameter.Name = "Employee Advance Search";
    oParameter.MultipleItemReturn=true;
    var url = _sBaseAddress + "/Employee/EmployeeHRMPiker";
    _oEmployees = window.showModalDialog(url, oParameter, 'dialogHeight:500px;dialogWidth:930px;dialogLeft:50;dialogRight:50;dialogTop:50;center:yes;resizable:yes;status:no;scroll:no');
    if(_oEmployees!=[])
    {
       if(_oEmployees.length>10)
       {
           alert("Please Don't Select More Than 10 Employees !");
           return;
       }
        $("#txtEmployee")[0].value=_oEmployee.Name;
        $("#txtOfficialInfo")[0].value=_oEmployee.DepartmentName+", "+_oEmployee.DesignationName;
    }
});

function ValidateInput() 
{
    if(_oEmployee==null)
    {
        alert("Please Enter Employee!");
        $("#txtEmployee").focus();
        return false;
    }

    var IssueDate=$('#dtDate').datebox('getValue');
    var IssueDateTime=new Date(IssueDate);
    var ND= new Date();
    ND.setHours(0,0,0,0);
    if(IssueDateTime<ND)
    {
        alert("IssueDate Must Not be Less Than Current Date !");
        $("#dtDate").focus();
        return false;
    }
    
    if(document.getElementById("cboColorWithSize").value==0)
    {
        alert("Please Select A Color With Size!");
        $("#cboColorWithSize").focus();
        return false;
    }
   
    var nIssueQty=parseFloat(document.getElementById("txtIssueQty").value);
    if(nIssueQty==0)
    {
    
        alert("Please Enter Issue Qty!");
        $("#txtIssueQty").focus();
        return false;
    }
    
    var nBalanceQty= parseFloat( document.getElementById("lblBalanceQty").innerHTML);
    
    if(nIssueQty>nBalanceQty)
    {
    
        alert("Issue Qty Must Not Be Greater Than Balance Qty!");
        $("#txtIssueQty").focus();
        return false;
    }
    
    
    return true;
}

function RefreshObject() 
{
    var oEmployeeCard=
    {
        EPSID : _oEmployeeCard.EPSID,
        EmployeeID : _oEmployee.EmployeeID,
        OrderRecapDetailID : document.getElementById("cboColorWithSize").value,
        ProductionProcessInt : 2,
        GarmentPartInt : 0,
        MachineNo : document.getElementById("txtMachineNumber").value,
        IssueQty : document.getElementById("txtIssueQty").value,
        IssueDate : $('#dtDate').datebox('getValue')
       
    }
    return oEmployeeCard;
}

$('#btnSave').click(function (e) 
{
    if (!ValidateInput()) return;
    var oEmployeeCard = RefreshObject();
    $.ajax({
            type: "POST",
            dataType: "json",
            url: _sBaseAddress + "/EmployeeCard/EmployeeCard_IU",
            traditional: true,
            data: JSON.stringify(oEmployeeCard),
            contentType: "application/json; charset=utf-8",

            success: function(data)
            {
                //debugger
                _opEmployeeCard = jQuery.parseJSON(data);
                if (_opEmployeeCard.ErrorMessage == "") 
                {
                    alert("Data Saved sucessfully");
                } 
                else 
                {
                    alert(_opEmployeeCard.ErrorMessage);
                }
             },
             error: function(xhr, status, error)
             {
                alert(error);
             }
          });
});

$('#btnPrint').click(function (e) 
{
    window.open(_sBaseAddress + '/EmployeeCard/PrintTransportationCard?nId='+_opEmployeeCard.EPSID, "_blank");
    window.close(); 
});


$('#btnCancel').click(function (e) 
{
    window.close();
});

</script>
