@model ESimSol.BusinessObjects.Employee
<html>
    <head>
        <link href="@Url.Content("~/Content/CSS/icon.css")" rel="stylesheet" type="text/css" />
        <link href="@Url.Content("~/Content/CSS/easyui.css")" rel="stylesheet" type="text/css" />
        <link href="@Url.Content("~/Content/CSS/Pikerstyle.css")" rel="stylesheet" type="text/css" />
        <script src="@Url.Content("~/Scripts/jquery-1.7.1.min.js")" type="text/javascript"></script>
        <script src="@Url.Content("~/Scripts/jquery.ics.customize.js")" type="text/javascript"></script>
        <script src="@Url.Content("~/Scripts/jquery.easyui.min.js")" type="text/javascript"></script>
        <script src="@Url.Content("~/Scripts/jquery-ui.min.js")" type="text/javascript"></script>
        <script src="@Url.Content("~/Scripts/json2.js")" type="text/javascript"></script>
    </head>
    <body>
        @using System.Web.UI.WebControls
        @using ESimSol.BusinessObjects
        <div style="font-family: Tahoma">
            <table border="0" cellspacing="2" cellpadding="2">
                <tr>
                    <td style="background-color: #CFB53B; text-align: center; width: 990px; color: White">
                        <label id="lblHeaderName" style="font-size: 15px; font-weight: bold; text-decoration: Underline;
                                                                                                                                                                                                                                                                                                                                                                                                                                                                          width: 930px">
                            Employee Search</label>
                    </td>
                </tr>
            </table>
        </div>
        <div style="clear: both;">
        </div>
        <div style="width: 100%; font-family: Tahoma;">
            <div style="width: 47%; float: left;">
                <table style="width: 100%; font-size: 12px; font-weight: bold; text-align: right">
                    <tr>
                        <td style="">
                            Employee Name :
                        </td>
                        <td>@Html.TextBox("txtEmployeeName", " ", new { size = "36" })
                        </td>
                    </tr>
                    <tr>
                        <td style="">
                            Code :
                        </td>
                        <td>@Html.TextBox("txtCode", " ", new { size = "36" })
                        </td>
                    </tr>
                    <tr>
                        <td style="">
                            Enroll No :
                        </td>
                        <td>@Html.TextBox("txtEnrollNo", " ", new { size = "36" })
                        </td>
                    </tr>
                    <tr>
                        <td style="">
                            Gender :
                        </td>
                        <td>
                            <select id="cboGender" style="width:238px">@* class="_select_change_Gender"*@
                                <option value="0">None</option>
                                <option value="1">Male</option>
                                <option value="2">Female</option>
                                <option value="3">Other</option>
                            </select>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            Attendance Scheme :
                        </td>
                        <td>
                            @Html.TextBox("txtAttendanceScheme", " ", new { size = "29", disabled = "disable" })
                            <input type="hidden" id="attendanceSchemeID" />
                            <input value="pick" type="button" id="attendanceSchemePicker" style="width: 38px"
                                   onclick="attendanceSchemePicker()" />
                        </td>
                    </tr>
                    <tr>
                        <td>
                            Location :
                        </td>
                        <td>@Html.TextBox("txtLocation", " ", new { size = "29", disabled = "disable" })
                            <input type="hidden" id="locationID" />
                            <input value="pick" type="button" id="locationPicker" style="width: 38px" onclick="LocationPicker()" />
                        </td>
                    </tr>
                    <tr>
                        <td>
                            Dept./Section :
                        </td>
                        <td>@Html.TextBox("txtDepartment", " ", new { size = "29", disabled = "disable" })
                            <input type="hidden" id="departmentID" />
                            <input value="pick" type="button" id="departmentPicker" style="width: 38px" onclick="DepartmentPicker()" />
                        </td>
                    </tr>
                    <tr>
                        <td>
                            Designation :
                        </td>
                        <td>@Html.TextBox("txtDesignation", " ", new { size = "29", disabled = "disable" })
                            <input type="hidden" id="designationID" />
                            <input value="pick" type="button" id="designationPicker" style="width: 38px" onclick="DesignationPicker()" />
                        </td>
                    </tr>
                    <tr>
                        <td>
                            Employee Type :
                        </td>
                        <td>
                            @*@Html.DropDownListFor(model => model.Employee_HRMType, new SelectList(Enum.GetValues(typeof(ICS.Base.Client.Utility.EnumEmployee_HRMType))), new { id = "cboEmployeeType", style = "width: 243px;" })*@
                            <select id="cboEmployeeType" style="width: 238px;" onchange="">
                            </select>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            Current Shift :
                        </td>
                        <td>
                            @*@Html.DropDownListFor(model => model.Employee_HRMType, new SelectList(Enum.GetValues(typeof(ICS.Base.Client.Utility.EnumEmployee_HRMType))), new { id = "cboEmployeeType", style = "width: 243px;" })*@
                            <select id="cboShift" style="width: 238px;" onchange="">
                            </select>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            Salary Scheme :
                        </td>
                        <td>
                            <select id="cboSalaryScheme" style="width: 238px;" >
                            </select>
                        </td>
                    </tr>

                    <tr>
                        <td>
                        </td>
                        <td>
                            <input type="checkbox" id="chkActive"/>
                            Active
                             <input type="checkbox" id="chkInActive"/>
                            InActive
                          <input type="checkbox" id="chkUser"/>
                            User
                        </td>
                    </tr>
                     
                    <tr>
                        <td>
                        </td>
                        <td>
                            <input type="button" value="Reset" id="btnReset" style="width: 70px" onclick="Reset()" />
                            <input type="button" value="Search" id="btnSearch" style="width: 70px" />
                        </td>
                    </tr>
                </table>
            </div>
            <div style="width: 52%; float: right;">
                <table id="tblEmployees" title="Employee List" class="easyui-datagrid"
                       style="width: 500px; height: 410px;" fitcolumns="true" rownumbers="true" pagination="false"
                       singleselect="false" autorowheight="false" toolbar="#toolbar">
                    <thead>
                        <tr>
                            <th data-options="field:'Selected',checkbox:true">
                                    </th>
                            
                            <th field="EmployeeName" width="120">
                                Employee Name
                            </th>
                       
                            <th field="DepartmentName" width="90">
                                Department
                            </th>
                            <th field="DesignationName" width="90">
                                Designation
                            </th>
                            <th field="SalarySchemeName" width="140">
                                SalaryScheme Name
                            </th>
                            <th field="GrossAmount" width="60">
                                Amount
                            </th>
                        </tr>
                    </thead>
                </table>
                Load <input id="txtLoadRecords" type="text" style="width:40"/>Records &nbsp; 
                <label id="lblcount"></label>
                @*<div style="float: right;">
                    
                    <a href="javascript:void(0)" class="easyui-linkbutton" iconcls="icon-ok" plain="true"
                       onclick="OkButtonClick()">Ok</a> <a href="javascript:void(0)" class="easyui-linkbutton"
                                                           iconcls="icon-cancel" plain="true" onclick="Close()">Close</a>
                </div>*@
                <table style="width: 500px; font-size: 12px; font-weight: bold; text-align: right">
                    <tr>
                        <td>
                            <a href="javascript:void(0)" class="easyui-linkbutton" iconcls="icon-ok" plain="true" onclick="Next()">Next</a>
                            <a href="javascript:void(0)" class="easyui-linkbutton" iconcls="icon-ok" plain="true" onclick="OkButtonClick()">Ok</a> 
                            <a href="javascript:void(0)" class="easyui-linkbutton" iconcls="icon-cancel" plain="true" onclick="Close()">Close</a>
                        </td>
                    </tr>
                </table>

            </div>
        </div>
        <div style="clear: both;">
        </div>
    </body>
</html>

<script type="text/javascript">

    var _oDepartmentRequirementPolicy=null;
    var _oEmployee;
    var _oEmployees=[];
    var _bMultipleItemReturn = false;
    var obj = window.dialogArguments;
    var _sBaseAddress = "";
    var _oWeekDays = [];
    var _oRosterPlans = [];
    var _oAttendanceCalenders = [];
    var EmployeeTypes = [];
    var _oDepartmentRequirementPolicys = [];
    var _bIsUnOfficial=false
    

    var _sName=" ";
    var _sCode=" ";
    var _sEnrollNo=" ";
    var _nASID="";
    var _nlocationID="";
    var _ndepartmentID="";
    var _ndesignationID="";    
    var _sGender='None';    
    var _nEmployeeType =0;         
    var _nShift =0;
    var _bIsActive=0;
    var _bIsInactive=0;
    var _bIsUnOfficial=0;
    var _bIsOfficial=0;
    var _nLastEmployeeID=0;
    var _bIsUser=0;
    var _sEmployeeIDs="";
    var _SalarySchemeID=0;
    var _nRowLength = 0;
    var _bNext = true;
    var _nLoadRecords = 0;


$(document).ready(function () 
{
       
    var obj = window.dialogArguments;  
    _bMultipleItemReturn = obj.MultipleItemReturn;
    if (_bMultipleItemReturn == false) 
    {
        $('#tblEmployees').datagrid('hideColumn', 'Selected');
    }
    _oEmployee = @Html.Raw(new System.Web.Script.Serialization.JavaScriptSerializer().Serialize(Model));  
    _sBaseAddress =@Html.Raw(new System.Web.Script.Serialization.JavaScriptSerializer().Serialize(HttpContext.Current.Session[SessionInfo.BaseAddress]));
    LoadEmployeeType();
    LoadCurrentShift();
    LoadSalaryScheme();
    $('#txtLoadRecords').numberbox({min:0, precision:0 });
    //document.getElementById('txtLoadRecords').value=50;
    $('#txtLoadRecords').numberbox('setValue',100);
    
});
     
function DepartmentPicker() 
{
    var oParameter = new Object();
    oParameter.MultipleItemReturn = false;
    var url = _sBaseAddress + "/Department/DepartmentPickerWithCheckBox?id="+0;
    var oReturnObject = window.showModalDialog(url, oParameter, 'dialogHeight:470px;dialogWidth:550px;dialogLeft:400;dialogTop:100;center:yes;resizable:no;status:no;scroll:no');
       
    if(oReturnObject!=null)
    {
        $("#txtDepartment")[0].value = oReturnObject.text;
        $("#departmentID")[0].value = oReturnObject.id;
    }   

}

function LocationPicker() {

    var oParameter = new Object();
    oParameter.MultipleItemReturn = false;
    var url = _sBaseAddress + "/Location/LocationPickerWithCheckBox?id="+0;
    var oReturnObject = window.showModalDialog(url, oParameter, 'dialogHeight:470px;dialogWidth:550px;dialogLeft:400;dialogTop:100;center:yes;resizable:no;status:no;scroll:no');
    
    if(oReturnObject!=null)
    {
        $("#txtLocation")[0].value = oReturnObject.text;
        $("#locationID")[0].value = oReturnObject.id;
    }
}
         
function attendanceSchemePicker()
{
   
    var oParameter = new Object();
    oParameter.MultipleItemReturn = false;
    var url = _sBaseAddress + "/AttendanceScheme/AttendanceSchemeSearch";
    var oReturnObject = window.showModalDialog(url, oParameter, 'dialogHeight:423px;dialogWidth:850px;dialogLeft:150;dialogRight:150;dialogTop:200;center:yes;resizable:yes;status:no;scroll:no'); 
   
    if (oReturnObject==null)return;    
    $("#txtAttendanceScheme")[0].value = oReturnObject.Name;
    $("#attendanceSchemeID")[0].value = oReturnObject.AttendanceSchemeID;

}

function DesignationPicker() 
{
    
    var oParameter = new Object();
    oParameter.MultipleItemReturn = false;
    oParameter.DeptID=0;
    var url = _sBaseAddress + "/Designation/DesignationPickerWithCheckBox?id=0";
    var oReturnObject = window.showModalDialog(url, oParameter, 'dialogHeight:470px;dialogWidth:550px;dialogLeft:400;dialogTop:100;center:yes;resizable:no;status:no;scroll:no');
    if(oReturnObject!=null)
    {
        $("#txtDesignation")[0].value = oReturnObject.text;
        $("#designationID")[0].value = oReturnObject.id;        
    }

}    

function LoadEmployeeType()
{

    var listEmployeeTypes="<option value='"+0+"'>" +"--Select Employee Types--" + "</option>";

    if(_oEmployee.EmployeeTypes.length>0)
    {
        for (var j = 0; j < _oEmployee.EmployeeTypes.length; j++) 
        {
            listEmployeeTypes += "<option value='" + _oEmployee.EmployeeTypes[j].EmployeeTypeID+"'>" + _oEmployee.EmployeeTypes[j].Name+"</option>";
        }
    }
    $("#cboEmployeeType").html(listEmployeeTypes);

}

function LoadCurrentShift()
{

    var list="<option value='"+0+"'>" +"--Select Shift--" + "</option>";

    if(_oEmployee.EmployeeTypes.length>0)
    {
        for (var j = 0; j < _oEmployee.Shifts.length; j++) 
        {
            list += "<option value='" + _oEmployee.Shifts[j].ShiftID+"'>" + _oEmployee.Shifts[j].ShiftWithDuration+"</option>";
        }
    }
    $("#cboShift").html(list);

}

$('#btnSearch').click(function()
{
    _nRowLength = 0;
    _bNext = false;
    _sName=document.getElementById("txtEmployeeName").value;
    _sCode= document.getElementById("txtCode").value;
    _sEnrollNo= document.getElementById("txtEnrollNo").value;
    _nASID= document.getElementById("attendanceSchemeID").value;
    _nlocationID= document.getElementById("locationID").value;
    _ndepartmentID= document.getElementById("departmentID").value;
    _ndesignationID= document.getElementById("designationID").value;

    var e = document.getElementById("cboGender");
    _sGender=e.options[e.selectedIndex].innerHTML;  
    
    var et = document.getElementById("cboEmployeeType");
    _nEmployeeType = et.options[et.selectedIndex].value; 
    
    var s = document.getElementById("cboShift");
    _nShift = s.options[s.selectedIndex].value;      
    
    _bIsActive=0;
    _bIsInactive=0;
    _bIsUser=0;
    
    if (document.getElementById("chkActive").checked==true)
    {_bIsActive=1;}
    if (document.getElementById("chkInActive").checked==true)
    {_bIsInactive=1;}
    if (document.getElementById("chkUser").checked)
    {_bIsUser=1;}
    _SalarySchemeID=document.getElementById("cboSalaryScheme").value;
    _nLastEmployeeID=0;
    _sEmployeeIDs="";
    Search();

});

function Search()
{

    _nLoadRecords = document.getElementById("txtLoadRecords").value;

    if (_sName==" " && _sCode==" " && _sEnrollNo==" " && _nASID=="" 
        && _nlocationID=="" && _ndepartmentID=="" && _ndesignationID==""
        && _sGender=='None' && _nEmployeeType==0 && _nShift==0
        && _bIsActive==0 && _bIsInactive==0 && _bIsInactive==0
        && _bIsUser==0 && _SalarySchemeID==0)
    {
        alert('Please select a criteria to search a item.');
        return;
    }

    if(_nLoadRecords == "" || _nLoadRecords ==0)
    {
        alert('How many records do you want to load? Plesase enter record number !');
        return;
    }
        
    var sParam="";
        sParam=_sName+ '~' + _sCode+ '~' +_sEnrollNo+ '~' +_nASID+ '~' +_nlocationID+ '~' +_ndepartmentID+ '~' +
        _ndesignationID+ '~' +_sGender+ '~' +_nEmployeeType+ '~' +_nShift+ '~' +_bIsActive+ '~'+
        _bIsInactive+ '~' +_bIsUser+'~' +_SalarySchemeID+"~"+_nRowLength+"~"+_nLoadRecords;
        
        
    
    $.ajax({
        type: "POST",
        dataType: "json",
        url: _sBaseAddress + "/Employee/SearchEmployeePayroll",
        traditional: true,
        data:  JSON.stringify({sParam :sParam}),
        contentType: "application/json; charset=utf-8",
        success: function (data) 
        {
            var  oEmps = jQuery.parseJSON(data);            
            if (oEmps != null) 
            {                   
                if(oEmps.length>0)
                {
                    if(_bNext == false)
                    {
                        RefreshList(oEmps);
                    }
                    else
                    {
                        for (var j = 0; j < oEmps.length; j++) 
                        {
                            $('#tblEmployees').datagrid('appendRow',oEmps[j]); 
                         
                        }
                        
                   }
                }    
                else
                {
                    if(_bNext == false)
                    {
                        alert("Data not found!!");
                        RefreshList(oEmps);
                    }
                    else
                    {
                        alert("No more data found !");
                    }
                
                } 
                    var oEmployees=$('#tblEmployees').datagrid('getRows'); 
                        
                    document.getElementById("lblcount").innerHTML = " | Count ="+ oEmployees.length;             
            }
        },
        error: function (xhr, status, error) {
            alert(error);
        }
    });
    
}

function Next() 
{

    var oEmployees=$('#tblEmployees').datagrid('getRows'); 
    _nRowLength = oEmployees.length;
    _bNext = true;

    if (oEmployees.length<=0)
    {
        alert('Please Select Criteria and click on "Search" to find information.!!');
        return;
    }   
    var oEmployee=oEmployees[oEmployees.length-1];
//    if (oEmployees.length<_nLoadRecords)
//    {
//        alert('No more data found');
//        return;
//    }
    if (_nLastEmployeeID==oEmployee.EmployeeID)
    {
        alert('No more data found');
        return;
    }
    _nLastEmployeeID=oEmployee.EmployeeID;
    
    Search();

}

function RefreshList(oEmployees)
{
    
    var data=oEmployees;
    data={"total":""+data.length+"","rows":data};
    $('#tblEmployees').datagrid('loadData',data);
    //$('#tblEmployees').datagrid({ selectOnCheck: false, checkOnSelect: false });

}

function  Reset() 
{

    document.getElementById("txtEmployeeName").value=" ";
    document.getElementById("txtCode").value=" ";
    document.getElementById("txtEnrollNo").value=" ";

    document.getElementById("attendanceSchemeID").value="";
    document.getElementById("txtAttendanceScheme").value="";

    document.getElementById("locationID").value="";
    document.getElementById("txtLocation").value="";

    document.getElementById("departmentID").value="";
    document.getElementById("txtDepartment").value="";

    document.getElementById("designationID").value="";
    document.getElementById("txtDesignation").value="";

    document.getElementById("cboShift").value=0;
    document.getElementById("cboEmployeeType").value=0;
    document.getElementById("cboGender").value=0;
    document.getElementById("chkActive").checked=false;
    
    document.getElementById("cboSalaryScheme").value=0;
    
    var oEmps = [];
    RefreshList(oEmps);
    document.getElementById("lblcount").innerHTML = ""; 

}

function OkButtonClick()
{ 
        
    if(_bMultipleItemReturn==true)
    {
    var oEmployee_Payrolls=[];
    oEmployee_Payrolls = $('#tblEmployees').datagrid('getChecked');               
    if(oEmployee_Payrolls.length<=0)
    {
        alert("please select atleast one item");
        return;
    }
    window.returnValue= oEmployee_Payrolls;
    }
    else
    {
        var oEmployee_Payroll;
        var oEmployee_Payroll= $('#tblEmployees').datagrid('getSelected'); 
            
        window.returnValue= oEmployee_Payroll;
    }
    window.close();

}
      
$('#chkActive').click(function () 
{

    if (document.getElementById("chkActive").checked==true)
    {  
         document.getElementById("chkInActive").checked=false;         
    }

});

$('#chkInActive').click(function () 
{

    if (document.getElementById("chkInActive").checked==true)
    {  
         document.getElementById("chkActive").checked=false;         
    }

});


function LoadSalaryScheme()
{

    var list="<option value='"+0+"'>" +"--Select SalaryScheme--" + "</option>";

    if(_oEmployee.SalarySchemes.length>0)
    {
        for (var j = 0; j < _oEmployee.SalarySchemes.length; j++) 
        {
            list += "<option value='" + _oEmployee.SalarySchemes[j].SalarySchemeID+"'>" + _oEmployee.SalarySchemes[j].Name+"</option>";
        }
    }
    $("#cboSalaryScheme").html(list);

}

function Close()
{

    window.close();   

}

$(document).keydown(function (e)
{
    var keyCode = e.keyCode || e.which;
    if (keyCode == 27)
    {
        window.close();
    }
});
</script>

