<!DOCTYPE html />
<html>
<head>
    <title>Add Employee Photo</title>
    <link href="@Url.Content("~/Content/CSS/icon.css")" rel="stylesheet" type="text/css" />
    <link href="@Url.Content("~/Content/CSS/easyui.css")" rel="stylesheet" type="text/css" />
    <link href="@Url.Content("~/Content/CSS/Pikerstyle.css")" rel="stylesheet" type="text/css" />
    <script src="@Url.Content("~/Scripts/jquery-1.7.1.min.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Scripts/jquery.ics.customize.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Scripts/jquery.easyui.min.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Scripts/jquery-ui.min.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Scripts/json2.js")" type="text/javascript"></script>
</head>
<body>
@model ESimSol.BusinessObjects.Employee

    <div style="font-family: Tahoma">
        <table border="0" cellspacing="2" cellpadding="2">
            <tr>
                <td style="background-color: #cfb53b; text-align: center; width: 1040px; color: White">
                    <label id="lblHeaderName" style="font-size: 15px; font-weight: bold; text-decoration: Underline">
                        Add Employee Photo</label>
                </td>
            </tr>
        </table>
        <fieldset>
            <legend style="font-weight: bold">Employee photo </legend>
            
            <table style="float: right;">
                <tr>
                    <td style=" color: Gray; font-style: italic; width:300px; "
                        colspan="2">
                        <p style="margin-left: 80px;font-size: 20px; font-weight: bold;"><u>Photo</u></p>
                    </td>
                </tr>
                @using (Html.BeginForm("EmployeeImageIU", "Employee", FormMethod.Post, new { enctype = "multipart/form-data" }))
                {
                <tr>
                    <td style="text-align: center; width: 300px;" colspan="2">
                     <table style="border: 1px solid gray; height: 140px; width: 130px; margin-left: 60px;
                            ">
                            <tr>
                                <td>
                                <img id="imgPhotoIcon" src="@Url.Action("GetPhoto", "Employee", new { nid = Model.EmployeeID })" alt="Photo" style="width:150px; height:150px" />
                                </td>
                            </tr>
                        </table>
                    </td>
                </tr>
                <tr>
                    <td style="width:300px; " colspan="2">
                        
                        <input id="filePhoto" type="file" name="file1" onchange="readPhotoURL(this);"  style="margin-left: 60px" />
                    </td>
                </tr>
                <tr>
                    <td style="width:300px; " colspan="2">
                        <input type="submit" value="Save" id="subSave" style="margin-left: 60px;" />
                        <input type="button" value="Clear" id="btnPhotoClear" style="margin-left: 60px;" />
                       
                    </td>
                </tr>
                    @Html.HiddenFor(model => model.EmployeeID)
                }
               
            </table>
           
        </fieldset>
       
    </div>

</body>
</html>
<script type="text/javascript">
var _sBaseAddress="";
var _oEmployee = null;
var _ObName="";
var _nUserID=0;
var _objSDetail=null;
var _nAttSchemeID=0;
var _nDRPID=0;
var _obj="";
var _nEmployeeOfficialID=0;

$(document).ready(function()
{ 
  
    _sBaseAddress = @Html.Raw(new System.Web.Script.Serialization.JavaScriptSerializer().Serialize(HttpContext.Current.Session[SessionInfo.BaseAddress]));
    _oEmployee = @Html.Raw(new System.Web.Script.Serialization.JavaScriptSerializer().Serialize(Model));
    
    _obj = window.dialogArguments;
    
    document.getElementById('lblHeaderName').innerHTML = _obj.Name;
    if(_oEmployee.ErrorMessage !="N/A")
    {
        alert(_oEmployee.ErrorMessage);
        window.close();
    }
});


//Image start

$('#btnPhotoClear').click(function (e) 
{        
        var oldInput = document.getElementById("filePhoto");
        var newInput = document.createElement("input");

        newInput.type = "file";
        newInput.id = oldInput.id;
        newInput.name = oldInput.name;
        newInput.className = oldInput.className;
        newInput.style.cssText = oldInput.style.cssText;
        newInput.onchange = oldInput.onchange;
        oldInput.parentNode.replaceChild(newInput, oldInput);
        document.getElementById('imgPhotoIcon').src = '#';

        if (_oEmployee.EmployeeID > 0) {
            $.ajax({
                type: "POST",
                dataType: "json",
                url: _sBaseAddress + "/Employee/DeleteImage",
                traditional: true,
                data: JSON.stringify(_oEmployee),
                contentType: "application/json; charset=utf-8",
                success: function (data) {
                    //debugger;
                    var sFeedBack = jQuery.parseJSON(data);
                },
                error: function (xhr, status, error) {
                    alert(error);
                }

            });
        }
});

function readPhotoURL(input) 
{
    

    if(!ImageValidation(input)) return;

    if (input.files && input.files[0])
    {
        var reader = new FileReader();
        reader.onload = function (e)
        {
            $('#imgPhotoIcon')
            .attr('src', e.target.result)
            .width(150)
            .height(150);
        };
        reader.readAsDataURL(input.files[0]);
     }

}

function ImageValidation(input)
{

    var imgbytes = input.files[0].size;
    var imgkbytes = Math.round(parseInt(imgbytes)/1024);
    
    if(imgkbytes>40)
    {
    
        alert("Image size should not be more than 40 kb. !!");
        return false;
    
    }

    return true;
    
}

//Image end

function Close()
{
    window.close();
}

</script>
