<html>
<head>  
    <link href="@Url.Content("~/Content/CSS/icon.css")" rel="stylesheet" type="text/css" />
    <link href="@Url.Content("~/Content/CSS/easyui.css")" rel="stylesheet" type="text/css" />
    <link href="@Url.Content("~/Content/CSS/Pikerstyle.css")" rel="stylesheet" type="text/css" />
    <script src="@Url.Content("~/Scripts/jquery-1.7.1.min.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Scripts/jquery.ics.customize.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Scripts/jquery.easyui.min.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Scripts/jquery-ui.min.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Scripts/json2.js")" type="text/javascript"></script>
</head>
<body>

@model ESimSol.BusinessObjects.EmployeeEducation
<div style="font-family:Tahoma">           
<table border="0" cellspacing="2" cellpadding="2">
    <tr>
        <td style="background-color:#CFB53B; text-align:center; width:500px; color:White">
            <label id="lblHeaderName" style="font-size:15px; font-weight:bold; text-decoration:Underline"> Add Educational Qualification</label>
        </td>
    </tr>
</table>
<fieldset>
    <legend style="font-weight:bold"> Education Informations : </legend>
    <table border="0" cellspacing="2" cellpadding="2" style="font-size:11px; font-weight:bold">
        <tr>
            <td style="width:200px; text-align:right">
                Course :
            </td>
            <td style="width:300px">
                @Html.TextBoxFor(model => model.Degree, new { style = "width: 300px;", id = "txtDegree"}) 
            </td>
        </tr>        
        <tr>
            <td style="width:200px; text-align:right">
                @*Major Subject :*@
            </td>
            <td style="width:300px">
                @Html.TextBoxFor(model => model.Major, new { style = "width: 300px;", id = "txtMajor" }) 
            </td>
        </tr>

        <tr>
            <td style="width:200px; text-align:right">
                @*Session :*@
            </td>
            <td style="width:300px">
                @Html.TextBoxFor(model => model.Session, new { style = "width: 300px;", id = "txtSession" }) 
            </td>
        </tr>
        <tr>
            <td style="width:200px; text-align:right">
                Year Of Passing :
            </td>
            <td style="width:300px">
                @Html.TextBoxFor(model => model.PassingYear, new { style = "width: 300px;", id = "txtPassingYear" }) 
            </td>
        </tr>
        <tr>
            <td style="width:200px; text-align:right">
                Institute :
            </td>
            <td style="width:300px">
                @Html.TextBoxFor(model => model.Institution, new { style = "width: 300px;", id = "txtInstitution" }) 
            </td>
        </tr>

        <tr>
            <td style="width:200px; text-align:right">
                @*Board/University :*@
            </td>
            <td style="width:300px">
                @Html.TextBoxFor(model => model.BoardUniversity, new { style = "width: 300px;", id = "txtBoardUniversity" }) 
            </td>
        </tr>
        <tr>
            <td style="width:200px; text-align:right">
                @*Country :*@
            </td>
            <td style="width:300px">
                @Html.TextBoxFor(model => model.Country, new { style = "width: 300px;", id = "txtCountry" }) 
            </td>
        </tr>
        <tr>
            <td style="width:200px; text-align:right">
                Result :
            </td>
            <td style="width:300px">
                @Html.TextBoxFor(model => model.Result, new { style = "width: 300px;", id = "txtResult" }) 
            </td>
        </tr>
    </table>
</fieldset>
    
    <fieldset>
        <legend style="font-weight:bold"> Action : </legend>
        <table border="0" cellspacing="2" cellpadding="2" style="font-size:11px; font-weight:bold">
            <tr>
                <td style="width:400px; text-align:right">
             
                </td>

                <td style="width:50px">
                   <a id="btnSave" href="javascript:void(0)" class="easyui-linkbutton" iconCls="icon-save" plain="true" onclick="Save()">Save</a>
                </td>
                <td style="width:50px">
                   <a href="javascript:void(0)" class="easyui-linkbutton" iconCls="icon-cancel" plain="true" onclick="Close()">Close</a>
                </td>
            </tr>       
        </table>
    </fieldset>
</div>
</body>
</html>


<script type="text/javascript"> 
 var _oEmployeeEducation=null;
 var _sBaseAddress="";
 $(document).ready(function () {
    //debugger;     
        _sBaseAddress =@Html.Raw( new System.Web.Script.Serialization.JavaScriptSerializer().Serialize(HttpContext.Current.Session[SessionInfo.BaseAddress]));                  
        var obj = window.dialogArguments;
        document.getElementById('lblHeaderName').innerHTML=obj.Name;
        if(obj.Name=="View")
        {
            document.getElementById('btnSave').style.display = 'none';
        }   
        _oEmployeeEducation =@Html.Raw(new System.Web.Script.Serialization.JavaScriptSerializer().Serialize(Model));  
        
     document.getElementById('txtMajor').style.display = 'none';
     document.getElementById('txtSession').style.display = 'none';
     document.getElementById('txtBoardUniversity').style.display = 'none';
     document.getElementById('txtCountry').style.display = 'none';     
               
 }); 


   function ValidateInput()
    {
        if(document.getElementById("txtDegree").value==null || document.getElementById("txtDegree").value=="")
        {        
            alert("Please enter Course!");
            $('#txtDegree').focus();
            return false;
        }
        
        //if(document.getElementById("txtSession").value==null || document.getElementById("txtSession").value=="")
        //{        
        //    alert("Please enter Session!");
        //    $('#txtSession').focus();
        //    return false;
        //}
        //if(document.getElementById("txtPassingYear").value==null || document.getElementById("txtPassingYear").value=="")
        //{        
        //    alert("Please enter Passing Year!");
        //    $('#txtPassingYear').focus();
        //    return false;
        //}
        //if(document.getElementById("txtInstitution").value==null || document.getElementById("txtInstitution").value=="")
        //{        
        //    alert("Please enter Institution!");
        //    $('#txtInstitution').focus();
        //    return false;
        //}
        //if(document.getElementById("txtBoardUniversity").value==null || document.getElementById("txtInstitution").value=="")
        //{        
        //    alert("Please enter Institution!");
        //    $('#txtInstitution').focus();
        //    return false;
        //}
        //if(document.getElementById("txtCountry").value==null || document.getElementById("txtCountry").value=="")
        //{        
        //    alert("Please enter Country!");
        //    $('#txtCountry').focus();
        //    return false;
        //}
        //if(document.getElementById("txtResult").value==null || document.getElementById("txtResult").value=="")
        //{        
        //    alert("Please enter Result!");
        //    $('#txtResult').focus();
        //    return false;
        //}

        return true;
    }


    function RefreshObject()
    {        
        var oEmployeeEducation= {                                                       
                        EmployeeEducationID : _oEmployeeEducation.EmployeeEducationID,
                        EmployeeID : _oEmployeeEducation.EmployeeID,
                        Degree :$("#txtDegree").val(),
                        Major: $("#txtMajor").val(),
                        Session : $("#txtSession").val(),
                        PassingYear: $("#txtPassingYear").val(),
                        BoardUniversity: $("#txtBoardUniversity").val(),
                        Institution : $("#txtInstitution").val(),
                        Result : $("#txtResult").val(),
                        Country : $("#txtCountry").val()
                    };
        return oEmployeeEducation;
    } 

    function Save()
    {
        //debugger;
        if(!ValidateInput()) return;
        var oEmployeeEducation=RefreshObject();
        
        $.ajax({
            type: "POST",
            dataType: "json",            
            url : _sBaseAddress+  "/Employee/EmployeeEducationIU",
            traditional: true,
            data:  JSON.stringify(oEmployeeEducation),
            contentType: "application/json; charset=utf-8",
            success: function (data) {
                //debugger;
                oEmployeeEducation = jQuery.parseJSON(data);
                if (oEmployeeEducation.EmployeeEducationID>0) {                    
                    alert("Data Saved sucessfully");
                    window.returnValue = oEmployeeEducation;
                    window.close();
                }
                else {
                    alert(oEmployeeEducation.ErrorMessage);
                }
            },
            error: function (xhr, status, error) {
                alert(error);
            }

        });
    }      


    function Close()
    {
        window.close();
    }
    $(document).keydown(function (e)
    {
        var keyCode = e.keyCode || e.which;
        if (keyCode == 27)
        {
            window.close();
        }
    });
</script>

@*        $.ajax({
            type: "GET",
            dataType: "json",
            url: _sBaseAddress + "/RosterPlan/GetRosterPlanDetail",
            traditional: true,
            data: { id: selectedEmployees[0].RosterPlanID},
            contentType: "application/json; charset=utf-8",
            success: function(data) {
                debugger;
                var oRosterPlanDetails = jQuery.parseJSON(data);
                debugger;
                if (oRosterPlanDetails!=null) {
                var listRosterPlanDetails="<option value='"+0+"'>" +"--Select Current Shift--" + "</option>";
                if(oRosterPlanDetails.length>0)
                    {
                        for (var i = 0; i < oRosterPlanDetails.length; i++) 
                             {
                               listRosterPlanDetails += "<option value='" + oRosterPlanDetails[i].ShiftID+"'>" + oRosterPlanDetails[i].Shift+"</option>";
                             }
                    }
                $("#cboCurrentShift").html(listRosterPlanDetails);
                } else {
                    alert("There is no Roster Plan Details for the selected Roster Plan!!");
                    return;
                }
            },
            error: function(xhr, status, error) {
                alert(error);
            }
        });*@