<!DOCTYPE HTML>
<html>
<head>
    <title>নিয়োগ পত্র</title>
    <link href="@Url.Content("~/Content/CSS/icon.css")" rel="stylesheet" type="text/css" />
    <link href="@Url.Content("~/Content/CSS/easyui.css")" rel="stylesheet" type="text/css" />
    <link href="@Url.Content("~/Content/CSS/Pikerstyle.css")" rel="stylesheet" type="text/css" />
    <script src="@Url.Content("~/Scripts/jquery-1.7.1.min.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Scripts/jquery.ics.customize.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Scripts/jquery.easyui.min.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Scripts/jquery-ui.min.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Scripts/json2.js")" type="text/javascript"></script>

</head>
<body>
    @model ESimSol.BusinessObjects.Employee

    <div style="font-family: Tahoma">
        <table style=" width:820PX; margin-left:50px">
            @*BORDER TABLE*@
        <tr>
            <td>

                <table border="0" style="margin-top: 10px; margin-left: 0px;">
                    @*TABLE-1*@
                <tr>
                    <td style="width: 950px; text-align: center; font-size: 20px;">
                        <label style="margin-top:20px;">
                            <img id="imgPhotoIcon" src="@Url.Action("GetCompanyLogoForHTMLPrint", "Employee", new { nid = Model.EmployeeID })" alt="Photo" style="width:40px; height:35px" />

                        </label>
                        <label style="font-size: 35px; font-weight: bold">@Model.Company.Name</label>
                    </td>
                    <td style="width: 120px;"></td>
                </tr>
                <tr>
                    <td style="width: 950px; text-align: center;">
                        <label style="font-size: 15px; font-weight: bold"> @Model.Company.Address</label>
                    </td>
                    <td style="width: 120px;"></td>
                </tr>
            </table>@*END TABLE-1*@

            <table border="0" style="margin-top: 15px; margin-left: 350px;">
                @*TABLE-2*@
            <tr>
                <td style="text-align: left; font-size: 15px;">
                    <label style="background-color:Black; color:White; font-size:25px; border-radius: 5px;"> নিয়োগ পত্র </label>
                    <label style="font-weight:bold; font-style:italic"> (সাধারন শ্রমিক) </label>
                </td>
                <td>
                    <table style="font-size: 12px; border:1px solid black; font-weight:bold; margin-left: 120px;">
                        <tr>
                            <td>
                                মূল কপি/ ডুপ্লিকেট কপি

                            </td>
                        </tr>
                    </table>
                </td>

            </tr>

        </table>@*END TABLE-2*@


        <table border="0" style="margin-top: 20px; margin-left: 50px; font-size: 18px; width:1000PX;" cellspacing="2" cellpadding="2">
            @*TABLE-3*@

        <tr>
            <td style=" text-align: left; ">
                ০১। নাম
            </td>
            <td style=" text-align: left; " colspan="2">
                :&nbsp;<label id="lblName">
                    @if (@Model.NameInBangla == "")
                    {@Model.Name}
                    else
                    {@Model.NameInBangla}
            </label>
        </td>
        <td style=" text-align: right; "></td>
        <td style=" text-align: left; ">
            বিভাগ : @Model.DepartmentName
        </td>

    </tr>
    <tr>
        <td style=" text-align: left; ">
            ০২। পিতা/ স্বামীর নাম
        </td>
        <td style=" text-align: left; " colspan="2">
            : &nbsp;<label id="lblFathersName">@Model.FatherName</label>
        </td>
        <td style=" text-align: left; "></td>
        <td style=" text-align: left; ">
            পদবি : @Model.DesignationName
        </td>

    </tr>
    <tr>
        <td style=" text-align: left; ">
            ০৩। মাতার নাম
        </td>
        <td style=" text-align: left; " colspan="3">
            :&nbsp;<label id="lblMothersName">@Model.MotherName</label>
        </td>
        <td style=" text-align: left; ">
            গ্রেড : @Model.EmployeeTypeName
        </td>
    </tr>


    <tr>
        <td style=" text-align: left; ">
            ০৪। স্থায়ী ঠিকানা
        </td>
        <td style=" text-align: left; " colspan="2">
            : গ্রাম : <label id="lblVillage">@Model.Village</label>
        </td>
        @*<td style=" text-align: left; ">
                 <label id="lblVillage">@Model.Village</label>
            </td>*@
        <td style=" text-align: left;" colspan="2">
            ডাকঘর : <label id="lblPostOffice">@Model.PostOffice</label>
        </td>
        @*<td style=" text-align: left; ">
               <label id="lblPostOffice">@Model.PostOffice</label>
            </td>*@

    </tr>
    <tr>
        <td style=" text-align: left; "></td>
        <td style=" text-align: left;" colspan="2">
            উপজেলা : <label id="lblThana">@Model.Thana</label>
        </td>
        @*<td style=" text-align: left; ">
                <label id="lblThana">@Model.Thana</label>
            </td>*@
        <td style=" text-align: left;" colspan="2">
            জেলা : <label id="lblDist">@Model.District</label>
        </td>
        @* <td style=" text-align: left; ">
                 <label id="lblDist">@Model.District</label>
            </td>*@

    </tr>

    <tr>
        <td style=" text-align: left; ">
            ০৫। বর্তমান ঠিকানা
        </td>
        <td style=" text-align: left; " colspan="4">
            : <label id="lblPresentAddress">@Model.PresentAddress</label>
        </td>

    </tr>
    <tr style="height:25px;">
        <td style=" text-align: left; "></td>
        <td style=" text-align: left; " colspan="4"></td>

    </tr>


</table>@*END TABLE-3*@


<table style="font-size: 28px; border:1px solid black; font-weight:bold;text-align:center; margin-left:350px;border-radius: 5px;">
    @*END TABLE-3*@
<tr>
    <td>
        চাকুরীর শর্তসমূহ

    </td>
</tr>
</table>@*END TABLE-4*@



<table id="tbl4" cellpadding="2" ; cellspacing="2" style="margin-top: 10px; width:1010px; margin-left: 35px; font-size: 18px; ">
    @* TABLE-4*@

<tr>

    <td style="width:40px; text-align:center">০১। </td>
    <td style="width:200px; text-align:left">বেতন:</td>
    <td style="width:260px; text-align:center"></td>
    <td style="width:300px; text-align:center"></td>

</tr>

<tr>

    <td style="width:40px; text-align:center"> </td>
    <td style="width:460px; text-align:left" colspan="2">আপনার মোট ন্যূনতম বেতন হবে নিম্নরুপ : </td>
    <td style="width:300px;"><label style="margin-left:28px;"> </label>  </td>

</tr>
@functions
            {

    //__________________________________________________________________________________________
    public string NumberInBan(string num)
    {

        string[] Numbers = { "০", "১", "২", "৩", "৪", "৫", "৬", "৭", "৮", "৯", ",", "." };
        var nlength1 = 0;
        var nlength2 = 1;
        var NumberInBangla = "";
        var number = "";
        number = num;



        for (var i = 0; i < number.Length; i++)
        {

            if (number.Substring(nlength1, nlength2) == "0")
            {
                NumberInBangla += Numbers[0];
            }
            else if (number.Substring(nlength1, nlength2) == "1")
            {
                NumberInBangla += Numbers[1];
            }
            else if (number.Substring(nlength1, nlength2) == "2")
            {
                NumberInBangla += Numbers[2];
            }
            else if (number.Substring(nlength1, nlength2) == "3")
            {
                NumberInBangla += Numbers[3];
            }
            else if (number.Substring(nlength1, nlength2) == "4")
            {
                NumberInBangla += Numbers[4];
            }
            else if (number.Substring(nlength1, nlength2) == "5")
            {
                NumberInBangla += Numbers[5];
            }
            else if (number.Substring(nlength1, nlength2) == "6")
            {
                NumberInBangla += Numbers[6];
            }
            else if (number.Substring(nlength1, nlength2) == "7")
            {
                NumberInBangla += Numbers[7];
            }
            else if (number.Substring(nlength1, nlength2) == "8")
            {
                NumberInBangla += Numbers[8];
            }
            else if (number.Substring(nlength1, nlength2) == "9")
            {

                NumberInBangla += Numbers[9];
            }
            else if (number.Substring(nlength1, nlength2) == ",")
            {
                NumberInBangla += Numbers[10];
            }
            else if (number.Substring(nlength1, nlength2) == "/" || number.Substring(nlength1, nlength2) == ".")
            {
                NumberInBangla += Numbers[11];
            }

            nlength1++;
            //nlength2++;

        }

        return NumberInBangla;
    }


//__________________________________________________________________________________________


}

@{


    string[] BnaglaLetters = { "", "ক", "খ", "গ", "ঘ", "ঙ", "চ", "ছ", "জ", "ঝ", "ঞ" };
    int nCount = 0;
    double nAmount = 0;
    string sAmount = "";
    //bool bFlag = true;
    double nA = 0;


}

@foreach (ESimSol.BusinessObjects.EmployeeSalaryStructureDetail oItem in Model.EmployeeSalaryStructureDetails)
{

    nCount++;
    nAmount = nAmount + @oItem.Amount;
    nA = @oItem.Amount;

    //if (bFlag)
    //{
    <tr>
        <td style="width:40px; text-align:center;"></td>
        <td>

            <label>@BnaglaLetters[nCount]) @oItem.SalaryHeadNameInBangla :</label>
        </td>
        <td style="text-align:right">
            <label> @NumberInBan(ICS.Core.Utility.Global.MillionFormat(nA).ToString()) &nbsp; টাকা </label>
        </td>
        <td>
            <label style="margin-left:25px;"> </label>
        </td>

    </tr>

    //bFlag = false;

    @*}*@
    @*else
        {
            <tr>
                <td style="width:40px; text-align:center">

                </td>
                <td>

                    <label> @BnaglaLetters[nCount]) @oItem.SalaryHeadNameInBangla :</label>
                </td>
                <td style="text-align:right">
                    <label>  @NumberInBan(ICS.Base.Client.Utility.Global.MillionFormat(nA).ToString()) &nbsp; টাকা </label>
                </td>
                <td >
                    <label></label>
                </td>

            </tr>

        }*@

}
@{
    sAmount = @NumberInBan(ICS.Core.Utility.Global.MillionFormat(nAmount).ToString());
}
<tr><td colspan="3"><hr /></td><td></td></tr>
<tr>
    <td style="width:40px;"></td>
    <td style="text-align:right"></td>
    <td style="text-align:right">
        <label>সর্বমোট = </label><label> @sAmount &nbsp; টাকা </label>
    </td>
    <td>
        <label></label>
    </td>

</tr>
<tr style="height:25px;">

    <td colspan="4"></td>

</tr>
<tr>
    <td style="width:40px;"></td>
    <td colspan="3">
        পিস রেট-এর শ্রমিকদের মাসিক পূর্ণ হাজিরার জন্য হাজিরা বোনাস প্রাপ্ত হবেন ।
    </td>

</tr>
<tr>
    <td style="width:40px;"></td>
    <td colspan="3">
        পিস রেট-এর শ্রমিকগণ কাজ অনুযায়ী সর্বোচ্চ ২০% পর্যন্ত উৎপাদন বোনাস পাবেন ।
    </td>

</tr>
<tr>
    <td style="width:40px;">
        ০২।
    </td>
    <td colspan="3">
        কোন শ্রমিকের চাকুরীর মেয়াদ কালে প্রথম ৩(তিন) মাস শিক্ষানবিস কাল হিসাবে গণ্য হবে  ।
    </td>

</tr>
<tr>
    <td style="width:40px;">
        ০৩।
    </td>
    <td colspan="3" style="text-align:left; font-weight:bold;">
        মজুরি পরিশোধের তারিখ :
    </td>

</tr>
<tr>
    <td style="width:40px;"></td>
    <td colspan="3">
        প্রতি মাসের মজুরি, মাসের ১-৭ কর্ম দিবসের মধ্যে পরিশোধ করা হবে । তবে কোন অনিবার্য কারনবশত মজুরী প্রদান দেরিতে হলে পূর্বেই জানানো হবে। [প্রতি মাসের মজুরী কাল(period) হচ্ছে  ২১ তারিখ হইতে পরবর্তী মাসের ২০ তারিখ পর্যন্ত।]
    </td>

</tr>
<tr>
    <td style="width:40px;">
        ০৪।
    </td>
    <td colspan="3" style="text-align:left; font-weight:bold;">
        অতিরিক্ত সময়ের মজুরি :
    </td>

</tr>
<tr>
    <td style="width:40px;"></td>
    <td colspan="3">
        এক দিনে ৮ ঘণ্টা আথবা সপ্তাহে ৪৮ ঘণ্টার বেশী কাজ করলে তা অতিরিক্ত কাজের সময় হিসাবে গণ্য হবে এবং অতিরিক্ত কাজের মজুরী বেতনের সাথে পরিশোধ করা হবে । ওভার টাইম  হিসাব: ওভারটাইম * মুল বেতন /২০৮*২। ওভার টাইম বাধতামুলক নয়।
    </td>

</tr>
<tr>
    <td style="width:40px;">
        ০৫।
    </td>
    <td colspan="3" style="text-align:left; font-weight:bold;">
        ছুটি এবং অবকাশ :
    </td>

</tr>
<tr>
    <td style="width:40px;"></td>
    <td colspan="3">
        কারখানায় কর্মরত প্রতেক শ্রমিক নিম্নোক্ত হারে ছুটি ভোগ করবেন-
    </td>

</tr>
<tr>
    <td style="width:40px;"></td>
    <td>
        ক) সাপ্তাহিক ছুটি
    </td>
    <td colspan="2">
        : প্রতি সপ্তাহে এক দিন যা শ্রম/কারখানা আইন অনুসারে সাপ্তাহিক ছুটি হিসেবে বিবেচিত হবে।
    </td>

</tr>
<tr>
    <td style="width:40px;"></td>
    <td>
        খ) উৎসব ছুটি
    </td>
    <td colspan="2">
        : কর্তৃপক্ষ নির্ধারিত বছরে কমপক্ষে ১১(এগার) দিন পূর্ণ মজুরীসহ ।
    </td>

</tr>
<tr>
    <td style="width:40px;"></td>
    <td>
        গ) বার্ষিক ছুটি
    </td>
    <td colspan="2">
        : চাকুরীর মেয়াদ ন্যূনতম একবছর পূর্ণ হলে প্রতি ১৮ কর্ম দিবসে একদিন সবেতনে ছুটি প্রাপ্য হবে ।
    </td>

</tr>
<tr>
    <td style="width:40px;"></td>
    <td>
        ঘ) নৈমিত্তিক ছুটি
    </td>
    <td colspan="2">
        :  বছরে পূর্ণ মজুরী সহ ১০ দিন ।
    </td>
</tr>
<tr>
    <td style="width:40px;"></td>
    <td>
        ঙ) অসুস্থতা ছুটি
    </td>
    <td colspan="2">
        : বছরে পূর্ণ মজুরী তে ১৪ দিন  ।
    </td>

</tr>
<tr>
    <td style="width:40px;"></td>
    <td>
        চ) মাতৃত্বকালীন ছুটি
    </td>
    <td colspan="2">
        : মহিলা শ্রমিকদের জন্য সবেতনে ১৬ সপ্তাহ । সন্তান প্রসবের পূর্বে ৮ সপ্তাহ এবং পরে ৮ সপ্তাহ ।
    </td>

</tr>
<tr>
    <td style="width:40px;">
        ০৬।
    </td>

    <td colspan="3">
        নিটিং শ্রমিকগণ কতৃপক্ষের নির্দেশে মোতাবেক যে কোন গেজ মেশিনে কাজ করতে বাধ্য থাকিবে ।
    </td>

</tr>
<tr>
    <td style="width:40px;">
        ০৭।
    </td>
    <td colspan="3" style="text-align:left; font-weight:bold;">
        বৈষম্যহীনতা :
    </td>

</tr>
<tr>
    <td style="width:40px;"></td>
    <td colspan="3">
        আমাদের কারখানায় জাতি, ধর্ম, বর্ণ, কালো, সুন্দর, নারী, পুরুষ, যুবক, বৃদ্ধ, আত্মীয়, অনাত্মীয় ভেদাভেদ না করে যোগ্যতার ভিত্তিতে নিয়োগ দেয়া হয় ।
    </td>

</tr>
<tr>
    <td style="width:40px;">
        ০৮।
    </td>
    <td colspan="3" style="text-align:left; font-weight:bold;">
        বিরাম ও আহারের জন্য বিরতি :
    </td>

</tr>
<tr>
    <td style="width:40px;"></td>
    <td colspan="3">
        প্রতি কার্জ দিবসে সর্বোচ্চ এক ঘণ্টা।
    </td>

</tr>
<tr>
    <td style="width:40px;">
        ০৯।
    </td>
    <td colspan="3" style="text-align:left; font-weight:bold;">
        হাজিরা কার্ড :
    </td>

</tr>
<tr>
    <td style="width:40px;"></td>
    <td colspan="3">
        প্রত্যেক শ্রমিকের জন্য হাজিরা কার্ড প্রদান করা হবে । উক্ত হাজিরা কার্ডে কারখানাতে আসা- যাওয়া এবং অতিরিক্ত কর্ম ঘণ্টার সময় লিপিবদ্ধ থাকবে ।
    </td>
</tr>
<tr>
    <td style="width:40px;">
        ১০।
    </td>
    <td colspan="3" style="text-align:left; font-weight:bold;">
        চাকরি হতে অব্যাহতি :
    </td>

</tr>
<tr>
    <td style="width:40px;"></td>
    <td colspan="3">
        আপনি চাকুরী হইতে অব্যাহতি নিতে চাইলে কমপক্ষে ৬০ দিন পূর্বে লিখিতভাবে কর্তৃপক্ষ জানাতে হবে । বিনা নোটিশে বা কর্তৃপক্ষকে লিখিতভাবে না জানাইয়া আপনি চাকরি হইতে অব্যাহতি নিলে কিংবা কাজে অনুপস্থিত থাকলে কোন অবস্থাতেই আপানাকে বেতন  ভাতা প্রদান করা হইবে না কিংবা আপনি বেতন ভাতা দবি করিতে পারিবেন না ।
    </td>
</tr>
<tr>
    <td style="width:40px;">
        ১১।
    </td>
    <td colspan="3" style="text-align:left; font-weight:bold;">
        চাকুরী হতে বরখাস্ত :
    </td>

</tr>
<tr>
    <td style="width:40px;"></td>
    <td colspan="3">
        কর্তৃপক্ষ আপানাকে চাকুরী হইতে অব্যাহতি প্রদান করিতে চাহিলে ২০০৬ এর শ্রম আইন অনুযায়ী করিবেন ।
    </td>
</tr>
<tr>
    <td style="width:40px;">
        ১২।
    </td>

    <td colspan="3">
        আপনি কম্পানির খরচে জীবন বিমা /গ্রুপ বিমার আওতাভুক্ত থাকিবেন ।
    </td>

</tr>
<tr>
    <td style="width:40px;">
        ১৩।
    </td>
    <td colspan="3" style="text-align:left; font-weight:bold;">
        অন্যান্য সুবিধা ও বিধি নিষেধ :
    </td>

</tr>

<tr>
    <td style="width:40px;"></td>
    <td>
        ক) উৎসব ভাতা
    </td>
    <td colspan="2">
        : দুই ঈদ এ দুটি মোট মজুরির অর্ধেক করে প্রদান করা হবে । (তবে কোম্পানির লাভ ক্ষতির সাপেক্ষে) ।
    </td>

</tr>
<tr>
    <td style="width:40px;"></td>
    <td>
        খ)  চিকিৎসা সুবিধা
    </td>
    <td colspan="2">
        : অভিজ্ঞ  চিকিৎসক কর্তৃক বিনামূল্যে চিকিৎসা ও সম্ভাব্য ঔষধপত্র ।
    </td>

</tr>
<tr>
    <td style="width:40px;"></td>
    <td>
        গ) বিধি নিষেধ
    </td>
    <td colspan="2">
        : (১) কারখানার নিজিস্ব নীতিমালা অনুসারে শ্রমিক সকল বিধি বিধান মেনে চলবে ।
    </td>

</tr>
<tr>
    <td style="width:40px;"></td>
    <td></td>
    <td colspan="2">
        :  (২) কার্যক্ষেত্রে যে কোন ইচ্ছাকৃত অপরাধের জন্য কর্তৃপক্ষের দেওয়া  যে কোন শাস্তি ,সিদ্দান্ত ২০০৬ সালের শ্রম আইন                                                               অনুযায়ী মানিয়া নিতে বাধ্য থাকিবে ।
    </td>
</tr>
<tr>
    <td style="width:40px;">
        ১৪।
    </td>
    <td colspan="3" style="text-align:left; font-weight:bold;">
        বিরোধ নিস্পত্তি  :
    </td>

</tr>
<tr>
    <td style="width:40px;"></td>
    <td colspan="3">
        সকল প্রকার বিরোধ ক্ষেত্রে প্রচলিত শ্রম আইন বিধান অনুসরন করা হবে ।
    </td>
</tr>
<tr>
    @*<td style="width:40px;">

        </td>*@
    <td colspan="4">
        ১৫। &nbsp;&nbsp; দেশের পরিবর্তিত পরিস্থিতে, প্রচলিত আইনের পরিবর্তনের কারনের কর্তৃপক্ষ আপনার নিয়োগপত্রের যে কোন শর্তের পরিবর্তন, <br /> &nbsp;&nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp;&nbsp;পরিবর্ধন , সংযোজন বা বিয়োজন করিতে পারিবেন এবং আপনি যাহা সর্বদা মানিয়া চলিতে বাধ্য থাকিবেন ।
    </td>

</tr>
<tr style="height:25px;">
    <td colspan="4"></td>

</tr>
<tr>
    <td colspan="4">
        উপরোক্ত শর্তসমুহে সম্মত হলে আগামী  @Model.DateOfJoinInString  তারিখের মধ্যে নিম্নলিখিত কাগজপত্রাদির মূলকপিসহ যোগদান পত্র দাখিলের জন্য অনুরোধ করা হল ।
    </td>

</tr>
<tr>
    <td colspan="4">
        ১. জীবন বৃত্তান্ত
    </td>

</tr>
<tr>
    <td colspan="4">
        ২. জাতীয়তা সনদ (স্থানীয় চেয়ারম্যান কর্তৃক প্রদত্ত)
    </td>

</tr>
<tr>
    <td colspan="4">
        ৩. জাতীয় পরিচয় পত্র
    </td>

</tr>
<tr>
    <td colspan="4">
        ৪. পাসপোর্ট সাইজ ছবি ৩ কপি এবং স্ট্যাম্প সাইজের ছবি ১ কপি
    </td>

</tr>
<tr>
    <td colspan="4">
        ৫. মেডিকেল ফিটনেস সার্টিফিকেট
    </td>

</tr>
<tr>
    <td colspan="4">
        ৬. সার্ভিস বুক  (প্রযোজ্য ক্ষেত্রে)
    </td>

</tr>
<tr>
    <td colspan="4">
        ৭. যোগদানপত্র
    </td>

</tr>
<tr>
    <td colspan="4" style="text-align:right">
        নিয়োগ কর্তার সাক্ষর
    </td>

</tr>
<tr>
    <td colspan="4" style="text-align:center; font-size:20; font-weight:bold">
        :অঙ্গিকার নামা :
    </td>

</tr>
<tr>
    <td colspan="4">
        আমি <label>
            @if (@Model.NameInBangla == "")
            {@Model.Name}
            else
            {@Model.NameInBangla}
    </label>এই মর্মে অঙ্গিকার করিতেছি যে, উপরোক্ত শর্তসমুহ এবং শ্রমিক সহায়িকা পুস্তক পাঠ করে স্ব –জ্ঞানে স্বেচ্ছায়  আমি অদ্য  <label> @Model.DateOfJoinInString</label> তারিখ..................ঘটিকায় চাকুরীতে যোগদান করিলাম । এই নিয়োগ পত্রে প্রতিলিপি বুঝে নিম্নে সাক্ষর করিলাম ।
</td>

</tr>
<tr style="height:20px;">
    <td colspan="2"></td>
    <td colspan="2"></td>

</tr>
<tr>
    <td colspan="2">
        তারিখ........................
    </td>
    <td colspan="2">
        স্বাক্ষরঃ .................................
    </td>

</tr>
</table>@*END TABLE-4*@


<table style="float: left; clear: both; width: 1000px; text-align: right">
    @*FOOTER TABLE*@
<tr>
    <td>
        <a id="btnCancel" href="javascript:void(0)" class="easyui-linkbutton" iconcls="icon-cancel" plain="true">Close</a>
        <a id="btnPrint" href="javascript:void(0)" class="easyui-linkbutton" iconcls="icon-print" plain="true">Print</a>
    </td>
</tr>
</table>
</td>
</tr>
</table>@*END BORDER TABLE*@
</div>
</body>
</html>
<script type="text/javascript">

    var _oEmployee = null;
    var _sBaseAddress ="";
    var _obj = null;

    $(document).ready(function ()
    {

        _oEmployee =@Html.Raw(new System.Web.Script.Serialization.JavaScriptSerializer().Serialize(Model));
        _sBaseAddress =@Html.Raw( new System.Web.Script.Serialization.JavaScriptSerializer().Serialize(HttpContext.Current.Session[SessionInfo.BaseAddress]));
        _obj = window.dialogArguments;


    });


    $('#btnCancel').click(function ()
    {
        window.close();
    });


    $('#btnPrint').click(function ()
    {
        document.getElementById("btnPrint").style.display='none';
        document.getElementById("btnCancel").style.display='none';
        window.print();
        window.close();
    });


</script>