<!DOCTYPE html>
<html>
<head>
    <title>Employee CV Print</title>
    <link href="@Url.Content("~/Content/CSS/icon.css")" rel="stylesheet" type="text/css" />
    <link href="@Url.Content("~/Content/CSS/easyui.css")" rel="stylesheet" type="text/css" />
    <link href="@Url.Content("~/Content/CSS/Pikerstyle.css")" rel="stylesheet" type="text/css" />
    <script src="@Url.Content("~/Scripts/jquery-1.7.1.min.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Scripts/jquery.ics.customize.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Scripts/jquery.easyui.min.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Scripts/jquery-ui.min.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Scripts/json2.js")" type="text/javascript"></script>

</head>
<body>
    @model ESimSol.BusinessObjects.Employee
    <div style="font-family: Tahoma">
        <table border="0" cellspacing="2" cellpadding="2">
            <tr>
                <td style="background-color: #cfb53b; text-align: center; width: 400px; color: White">
                    <label id="lblHeaderName" style="font-size: 15px; font-weight: bold; text-decoration: Underline">
                        Employee CV Print
                    </label>
                </td>
            </tr>
        </table>
        <fieldset>
            <legend style="font-weight: bold">Employee CV Print</legend>
            @* table1 start*@
            <table id="tblEmployeeCV" class="easyui-datagrid" style="width: 225px; height: 110px;
                            font-size: 11px;font-weight: normal;" fitcolumns="false" rownumbers="false" pagination="false" singleselect="false"
                   autorowheight="true">
                <thead>
                    <tr>
                        <th data-options="field:'Selected',checkbox:true"></th>
                        <th field="SearchingName" width="190" align="left">
                            Searching Items
                        </th>
                    </tr>
                </thead>
            </table>

            @*<table border="0" cellspacing="2" cellpadding="2" style="font-size: 11px; font-weight: bold;">
                <tr>
                    <td style="width: 200px; text-align: left;">
                        <input id="chkBasicInfo" type="checkbox" /> Basic Info.
                    </td>
                </tr>
                <tr>
                    <td style="width: 200px; text-align: left;">
                        <input id="chkOfficialInfo" type="checkbox" /> Official Info.
                    </td>
                </tr>
                <tr>
                    <td style="width: 200px; text-align: left;">
                        <input id="chkSalaryInfo" type="checkbox" /> Salary Info.
                    </td>
                </tr>
               
            </table>*@
          
        </fieldset>
        <fieldset>
            <legend style="font-weight: bold">Action</legend>
            <table border="0" cellspacing="2" cellpadding="2" style="font-size: 11px; font-weight: bold;">
                <tr>

                    <td style="width: 230px; text-align: right;">
                        <a id="btnPrint" href="javascript:void(0)" class="easyui-linkbutton" iconcls="icon-ok"
                           plain="true">Ok</a> <a id="btnCancel" href="javascript:void(0)" class="easyui-linkbutton"
                                                  iconcls="icon-cancel" plain="true">Cencel</a>
                    </td>
                </tr>
                </table>
</fieldset>
</div>
</body>
</html>
<script type="text/javascript">
    var _oEmployee=null;
    var _sBaseAddress="";
    var _EmployeeID = 0;

    $(document).ready(function ()
    {
        _oEmployee = @Html.Raw(new System.Web.Script.Serialization.JavaScriptSerializer().Serialize(Model));
        _sBaseAddress =@Html.Raw(new System.Web.Script.Serialization.JavaScriptSerializer().Serialize(HttpContext.Current.Session[SessionInfo.BaseAddress]));
        var obj = window.dialogArguments;
        _EmployeeID = obj.EmployeeID;
        SearchingItems();
    });

    function SearchingItems()
    {
        var oList = new Object();
        var oLists = [];
        oList.SearchingName = "Basic Info.";
        oList.ID = 1;
        oLists.push(oList);

        var oList = new Object();
        oList.SearchingName = "Official Info.";
        oList.ID = 2;
        oLists.push(oList);

        var oList = new Object();
        oList.SearchingName = "Salary Info.";
        oList.ID = 3;
        oLists.push(oList);

        RefresList(oLists)
    }
    
    function RefresList(data)
    {
        data={"total":""+data.length+"","rows":data};
        $('#tblEmployeeCV').datagrid('loadData',data);
    }

    function icsdateformat(date)
    {
        var mthNames = ["Jan", "Feb", "Mar", "Apr", "May", "Jun", "Jul", "Aug", "Sep", "Oct", "Nov", "Dec"];
        var y = date.getFullYear();
        var m = date.getMonth();
        var d = date.getDate();
        var result = d + ' ' + mthNames[m] + ' ' + y;
        return result;
    }

    $('#btnPrint').click(function (e)
    {
        var IsBasicInfo = false;
        var IsOfficialInfo = false;
        var IsSalaryInfo = false;
        
        var oItems = $('#tblEmployeeCV').datagrid('getChecked');
        for(var i=0; i<oItems.length;i++)
        {
            if(oItems[i].ID == 1)
            {
                IsBasicInfo = true;
            }
            else if(oItems[i].ID == 2)
            {
                IsOfficialInfo = true;
            }
            else if(oItems[i].ID == 3)
            {
                IsSalaryInfo = true;
            }
        }

        //IsBasicInfo = document.getElementById("chkBasicInfo").checked;
        //IsOfficialInfo  = document.getElementById("chkOfficialInfo").checked;
        //IsSalaryInfo = document.getElementById("chkSalaryInfo").checked;

        if(IsBasicInfo==false&&IsOfficialInfo==false&&IsSalaryInfo==false)
        {
            alert("Please check at least one item! ");
            return;
        }
        var sParams = _EmployeeID+"~"+IsBasicInfo+"~"+IsOfficialInfo+"~"+IsSalaryInfo;
        var tsv = ((new Date()).getTime()) / 1000;
        window.open(_sBaseAddress+ "/Employee/PrintEmployeeCV?sParams="+sParams+"&ts="+tsv, "_blank");
        window.close();
    });

    $('#btnCancel').click(function (e)
    {
        window.close();
    });
    $(document).keydown(function (e)
    {
        var keyCode = e.keyCode || e.which;
        if (keyCode == 27)
        {
            window.close();
        }
    });
</script>
