<html>
<head>
    <link href="@Url.Content("~/Content/CSS/icon.css")" rel="stylesheet" type="text/css" />
    <link href="@Url.Content("~/Content/CSS/easyui.css")" rel="stylesheet" type="text/css" />
    <link href="@Url.Content("~/Content/CSS/Pikerstyle.css")" rel="stylesheet" type="text/css" />
    <script src="@Url.Content("~/Scripts/jquery-1.7.1.min.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Scripts/jquery.ics.customize.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Scripts/jquery.easyui.min.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Scripts/jquery-ui.min.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Scripts/json2.js")" type="text/javascript"></script>
</head>
<body>
    @model ESimSol.BusinessObjects.DepartmentRequirementPolicy
    <div style="font-family: Tahoma">
        <table border="0" cellspacing="2" cellpadding="2">
            <tr>
                <td style="background-color: #CFB53B; text-align: center; width: 775px; color: White">
                    <label id="lblHeaderName" style="font-size: 15px; font-weight: bold; text-decoration: Underline">
                        Department Requirement Policy Search
                    </label>
                </td>
            </tr>
        </table>
    </div>
    <div style="clear: both;">
    </div>
    <div style="width: 100%;">
        <div style="width: 40%; float: left;">
            <table style="width: 100%; text-align: right; font-family: Tahoma; font-size: 12px;">
                <tr>
                    @*<td>
                        Policy Name :
                    </td>
                    <td style="width: 170px">
                        <input type="text" id="txtPolicyName" style="width: 189px" />
                    </td>
                </tr>*@
                <tr>
                    <td>
                        Location:
                    </td>
                    <td align="right" style="width: 170px">
                        <input type="text" id="txtLocation" style="width: 147px" disabled="disabled" />
                        <input value="pick" type="button" style="width: 38px" onclick="LocationPicker()" />
                    </td>
                    <input type="hidden" id="locationID" />
                </tr>
                <tr>
                    <td>
                        Dept/Section :
                    </td>
                    <td style="width: 170px">
                        <input type="text" id="txtDepartment" style="width: 147px" disabled="disabled" />
                        <input type="button" id="btnDepartmentPick" style="width: 38px" value="Pick" onclick="DepartmentPicker()" />
                    </td>
                    <input type="hidden" id="departmentID" />
                </tr>
                <tr>
                    <td>
                        Shift:
                    </td>
                    <td>
                        <select id="cboShift" style="width: 189px;" onchange="">
                        </select>
                    </td>
                </tr>
                <tr>
                    <td>
                    </td>
                    <td>
                        <input type="button" value="Reset" id="btnReset" style="width: 70px" onclick="Reset()" />
                        <input type="button" value="Search" id="btnSearch" style="width: 70px" onclick="Search()" />
                    </td>
                </tr>
            </table>
        </div>
        <div style="width: 57%; float: right;">
            <table width="100%">
                <tr>
                    <td>
                        <table id="tblDepartmentRequirementPolicys" title="Department Requirement Policy List"
                            class="easyui-datagrid" style="width: 385px; height: 220px;" fitcolumns="false"
                            rownumbers="true" pagination="false" singleselect="true" autorowheight="false">
                            <thead>
                                <tr>
                                    <th data-options="field:'Selected',checkbox:true">
                                    </th>
                                    @*<th field="Name" width="125px;">
                                        Policy Name
                                    </th>*@
                                    <th field="LocationName" width="99px;" align="center">
                                        Location
                                    </th>
                                    <th field="DepartmentName" width="120px;">
                                        Department
                                    </th>
                                </tr>
                            </thead>
                        </table>
                    </td>
                </tr>
                @*  <tr>
                    
                    <td style="text-align: right">*@ @*    </td>
                </tr>*@
            </table>
            <div style="float: left; margin-left: 284px;">
                <a href="javascript:void(0)" class="easyui-linkbutton" iconcls="icon-ok" plain="true"
                    onclick="OkButtonClick()">Ok</a> <a href="javascript:void(0)" class="easyui-linkbutton"
                        iconcls="icon-cancel" plain="true" onclick="Close()">Close</a>
            </div>
        </div>
    </div>
</body>
</html>
<script type="text/javascript">
    var _oDepartmentRequirementPolicy=null;
    var _oDepartmentRequirementPolicys=[];
    var _bMultipleItemReturn = false;
    var obj = window.dialogArguments;
    var _sBaseAddress = "";
    var _oWeekDays = [];
    var _oShifts = [];

$(document).ready(function () {
    var obj = window.dialogArguments;                   
    _bMultipleItemReturn = obj.MultipleItemReturn;
    _sBaseAddress =@Html.Raw(new System.Web.Script.Serialization.JavaScriptSerializer().Serialize(HttpContext.Current.Session[SessionInfo.BaseAddress]));
    _oShifts=@Html.Raw(new System.Web.Script.Serialization.JavaScriptSerializer().Serialize(Model.Shifts));
    _oDepartmentRequirementPolicys =@Html.Raw(new System.Web.Script.Serialization.JavaScriptSerializer().Serialize(Model.DepartmentRequirementPolicies)); 
    if (_bMultipleItemReturn == false) {
            $('#tblDepartmentRequirementPolicys').datagrid('hideColumn', 'Selected');
    }

    var listShift="<option value='"+0+"'>" +"--Select Shift--" + "</option>";
    if(_oShifts.length>0)
    {
        for (var i = 0; i < _oShifts.length; i++) 
        {
            listShift += "<option value='" + _oShifts[i].ShiftID+"'>" + _oShifts[i].ShiftWithDuration+"</option>";
        }
    }
    $("#cboShift").html(listShift);
});
     
function DepartmentPicker() {
    var oParameter = new Object();
    oParameter.MultipleItemReturn = false;
    var url = _sBaseAddress + "/Department/DepartmentPickerWithCheckBox?id="+0;

    var nLeft=(window.screen.width/2)-(550/2);
    var nHeight=(window.screen.height/2)-(470/2);
    var oReturnObject = window.showModalDialog(url, oParameter, 'dialogHeight:470px;dialogWidth:550px;dialogLeft:'+nLeft+';dialogTop:'+nHeight+';center:yes;resizable:no;status:no;scroll:yes');
    //var oReturnObject = window.showModalDialog(url, oParameter, 'dialogHeight:470px;dialogWidth:550px;dialogLeft:400;dialogTop:100;center:yes;resizable:no;status:no;scroll:no');
    $("#txtDepartment")[0].value = oReturnObject.text;
    $("#departmentID")[0].value = oReturnObject.id;
}
         
function LocationPicker() {
    var oParameter = new Object();
    oParameter.MultipleItemReturn = false;
    var url = _sBaseAddress + "/Location/LocationPickerWithCheckBox?id="+0;
    var nLeft=(window.screen.width/2)-(550/2);
    var nHeight=(window.screen.height/2)-(470/2);
    var oReturnObject = window.showModalDialog(url, oParameter, 'dialogHeight:470px;dialogWidth:550px;dialogLeft:'+nLeft+';dialogTop:'+nHeight+';center:yes;resizable:no;status:no;scroll:yes');
    //var oReturnObject = window.showModalDialog(url, oParameter, 'dialogHeight:470px;dialogWidth:550px;dialogLeft:400;dialogTop:100;center:yes;resizable:no;status:no;scroll:no');
       
    $("#txtLocation")[0].value = oReturnObject.text;
    $("#locationID")[0].value = oReturnObject.id;
}

function WeekdayPicker() {
    var oParameter = new Object();
    oParameter.MultipleReturn = true;
    var url = _sBaseAddress + "/DepartmentRequirementPolicy/WeekDayPicker?id="+0;
    var nLeft=(window.screen.width/2)-(230/2);
    var nHeight=(window.screen.height/2)-(285/2);
    var oReturnObject = window.showModalDialog(url, oParameter, 'dialogHeight:285px;dialogWidth:230px;dialogLeft:'+nLeft+';dialogTop:'+nHeight+';center:yes;resizable:no;status:no;scroll:yes');
    //var oReturnObject = window.showModalDialog(url, oParameter, 'dialogHeight:285px;dialogWidth:230px;dialogLeft:400;dialogTop:100;center:yes;resizable:no;status:no;scroll:no');
    
    var weekDays="";
    var weekDayIDs = [];
    weekDays = oReturnObject[0]._WeekDAys;
    weekDayIDs[0] = oReturnObject[0]._WeekDayIDs;

    for (var i = 1; i < oReturnObject.length; i++) {
        weekDays+=','+ oReturnObject[i]._WeekDAys;
        weekDayIDs[i] = oReturnObject[i]._WeekDayIDs;
    }

    $("#txtDepartmentColse")[0].value = weekDays;
    _oWeekDays = weekDayIDs;
}


function Search() {

    if (!ValidateInput()) return;         
    var selectedDepartmentRequirementPolicys = [];
    var departmentRequirementPolicy;
    var nLocationID = document.getElementById("locationID").value;
    var nDepartmentID=document.getElementById("departmentID").value;
    var sPolicyName="";//document.getElementById("txtPolicyName").value;
    var nShiftID= document.getElementById("cboShift").value;
         
    var sTempString = sPolicyName+'~'+nLocationID+'~'+nDepartmentID+'~'+nShiftID;
         
    $.ajax({
    type: "POST",
    dataType: "json",
    url: _sBaseAddress + "/DepartmentRequirementPolicy/DepartmentRequirementPolicySearch",
    traditional: true,
    data:  JSON.stringify({sTempString :sTempString}),
    contentType: "application/json; charset=utf-8",
    success: function (data) {
        ////debugger;
        var  oDepartmentRequirementPolicys = jQuery.parseJSON(data);
        //var oDepartmentRequirementPolicys = oDepartmentRequirementPolicy.DepartmentRequirementPolicies;
        if (oDepartmentRequirementPolicys != null) {                   
            if(oDepartmentRequirementPolicys.length>0)
            {
                RefreshList(oDepartmentRequirementPolicys);
            }    
            else
            {
                alert("Data not found!!");
                RefreshList(oDepartmentRequirementPolicys);
            }              
        }
    },
    error: function (xhr, status, error) {
        alert(error);
    }
});
        
}

     function  Reset() {
        document.getElementById("txtLocation").value=" ";
         document.getElementById("txtDepartment").value="";
        //document.getElementById("txtPolicyName").value="";
        document.getElementById("cboShift").value=0;
         var list = [];
         RefreshList(list);
     }
    function RefreshList(oDepartmentRequirementPolicys)
    {    
          var data=oDepartmentRequirementPolicys;
          data={"total":""+data.length+"","rows":data};
          $('#tblDepartmentRequirementPolicys').datagrid('loadData',data);
        $('#tblDepartmentRequirementPolicys').datagrid({ selectOnCheck: false, checkOnSelect: false });
         

    }
    function OkButtonClick()
   { 
    debugger;    
  
         if(_bMultipleItemReturn==true)
         {
            var oDepartmentRequirementPolicys=[];
            oDepartmentRequirementPolicys = $('#tblDepartmentRequirementPolicys').datagrid('getChecked');               
            if(oDepartmentRequirementPolicys.length<=0)
            {
                alert("please select atleast one item");
                return;
            }
            window.returnValue= oDepartmentRequirementPolicys;
         }
         else
         {
             //oDepartmentRequirementPolicys=[];
             var oDepartmentRequirementPolicy= $('#tblDepartmentRequirementPolicys').datagrid('getSelected'); 
             //oDepartmentRequirementPolicys.push(oDepartmentRequirementPolicy);
             window.returnValue= oDepartmentRequirementPolicy;
         }
          window.close();
      }
      
    function Close()
    {
        window.close();   
    }

    function ValidateInput() {
         var locationID;
         var departmentID;
         var policyName;
         
         var selectedDepartmentRequirementPolicys = [];
         var departmentRequirementPolicy;
         locationID = document.getElementById("locationID").value;
         departmentID=document.getElementById("departmentID").value;
         //policyName=document.getElementById("txtPolicyName").value;
         var nShiftID= document.getElementById("cboShift").value;
         if (locationID == 0 && departmentID == 0 && (policyName == "" || policyName == " ") && nShiftID <= 0) {
             alert("Please select a criteria to search a item.");
             return false;
         }
        return true;
    }

    $(document).keydown(function (e)
    {
        var keyCode = e.keyCode || e.which;
        if (keyCode == 27)
        {
            window.close();
        }
    });

</script>
