@model ESimSol.BusinessObjects.DepartmentRequirementPolicy
<html>
<head>
    <link href="@Url.Content("~/Content/CSS/icon.css")" rel="stylesheet" type="text/css" />
    <link href="@Url.Content("~/Content/CSS/easyui.css")" rel="stylesheet" type="text/css" />
    <link href="@Url.Content("~/Content/CSS/Pikerstyle.css")" rel="stylesheet" type="text/css" />
    <script src="@Url.Content("~/Scripts/jquery-1.7.1.min.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Scripts/jquery.ics.customize.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Scripts/jquery.easyui.min.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Scripts/jquery-ui.min.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Scripts/json2.js")" type="text/javascript"></script>
</head>
<body>
    @*@using System.Web.UI.WebControls*@
    <div style="font-family: Tahoma">
        <table border="0" cellspacing="2" cellpadding="2">
            <tr>
                <td style="background-color: #CFB53B; text-align: center; width: 845px; color: White">
                    <label id="lblHeaderName" style="font-size: 15px; font-weight: bold; text-decoration: Underline;
                        width: 845px">
                        Department Requirement Policy
                    </label>
                </td>
            </tr>
        </table>
    </div>
    <div style="width: 100%;">
        @*  <div style="width: 50%;">
                <table style="width: 50%;">
                </table>
            </div>
            <div style="width: 50%; float: right;">
                <table style="width: 50%;">*@
        <input value="Copy Plan from other Section" type="button" style="width: 183px; float: right;
            margin-right: 89px;" onclick="Copy()" />
        @*  </table>
            </div>*@
    </div>
    <div style="clear: both;">
    </div>
    <br />
    <div style="width: 100%;">
        <div style="width: 100%; float: left;">
            <table style="width: 100%; font-size: 12px; font-weight: bold;">
                <tr>
                    <td align="right">Policy Name: </td>
                    <td>@Html.TextBox("txtPolicyName", " ", new { size = "36" })</td>
                    <td align="right">Dept Close:</td>
                    <td>
                        @Html.TextBox("txtDeptClose", " ", new { size = "29", disabled = "disable" })
                        <input value="pick" type="button" style="width: 38px" onclick="WeekdayPicker()" />
                    </td>
                </tr>
                <tr>
                    <td align="right">Location:</td>
                    <td>
                        @Html.TextBox("txtLocation", " ", new { size = "29", disabled = "disable" })
                        <input type="hidden" id="locationID" />
                        <input value="pick" type="button" style="width: 38px" onclick="LocationPicker()" />
                    </td>
                    <td align="right">Description:</td>
                    <td>@Html.TextBox("txtDescription", " ", new { size = "36" })</td>
                </tr>
                <tr>
                    <td align="right"> Dept/Section: </td>
                    <td>
                        @Html.TextBox("txtDepartment", " ", new { size = "29", disabled = "disable" })
                        <input type="hidden" id="departmentID" />
                        <input value="pick" type="button" style="width: 38px" onclick="DepartmentPicker()" />
                    </td>
                    <td align="right"> Shift:</td>
                    <td>
                        <select id="cboShift" style="width: 180px;">
                            @*onchange="RosterPlanOnChange()"*@
                            <input value="+" type="button" style="width: 28px" onclick="AddShift()" />
                            <input value="-" type="button" style="width: 28px" onclick="RemoveShift()" />
                        </select>
                    </td>
                </tr>

            </table>
        </div>
        @*        <div style="width: 49%; float: left;">
                <table style="width: 100%; font-size: 12px; font-weight: bold;">
                    <tr>
                        <td style="width: 100px;">
                            Roster Plan:
                        </td>
                        <td>
                            <select id="cboShift" style="width: 198px;" onchange="RosterPlanOnChange()">
                            </select>
                        </td>
                    </tr>
                    <tr>
                        <td style="width: 100px;">
                        </td>
                        <td>
                            <input type="checkbox" id="chkEnforceClosing" style="margin-left: 30px;" />
                            Enforcing Month Closing
                        </td>
                    </tr>
                </table>
                <table style="width: 100%;">
                    <tr>
                        <td>
                            <table id="tblRosterPlan" title="Roster Plan List" class="easyui-datagrid" style="width: 304px;
                                height: 100px;" fitcolumns="true" rownumbers="true" pagination="false" singleselect="true"
                                autorowheight="false">
                                <thead>
                                    <tr>
                                        <th field="Shift" style="width: 129px;">
                                            Shift
                                        </th>
                                        <th field="NextShift" style="width: 129px;">
                                            Next Shift
                                        </th>
                                    </tr>
                                </thead>
                            </table>
                        </td>
                    </tr>
                </table>
            </div>*@
    </div>
    <div style="clear: both;">
    </div>
    <div style="clear: both;">
    </div>
    <div style="width: 100%">
        <table id="tblDesignationWiseRequiredPerson" title="Designation Wise Required Person"
               class="easyui-datagrid" style="width: 655px; height: 150px" data-options="
        singleSelect: true,
        fitColumns:false,
        rownumbers:true,
        pagination:false,
        autoRowHeight:false,
        showFooter: true,
        onClickRow: onClickRow
      "></table>
    </div>
    <div style="clear: both;">
    </div>
    <div>
        <fieldset>
            <legend style="font-weight: bold">Action : </legend>
            <table border="0" cellspacing="2" cellpadding="2" style="font-size: 11px; font-weight: bold">
                <tr>
                    <td style="width: 450px; text-align: right"></td>
                    <td style="width: 50px">
                        <a id="btnSave" href="javascript:void(0)" class="easyui-linkbutton" iconcls="icon-save"
                           plain="true" onclick="Insert()">Save</a>
                    </td>
                    <td style="width: 50px">
                        <a href="javascript:void(0)" class="easyui-linkbutton" iconcls="icon-cancel" plain="true"
                           onclick="Close()">Close</a>
                    </td>
                </tr>
            </table>
        </fieldset>
    </div>
</body>
</html>
<script type="text/javascript">

    var _oDepartmentRequirementPolicy=null;
    var _sBaseAddress="";
    var _oShifts = [];
    var _oRosterPlanDetails = [];
    var _oOrganograms = [];
    var _oDesignations = [];
    var _oWeekDays = [];
    var _oDepartmentCloseDay = [];
    var _oTempDesignations = [];
    var _LocationID = 0;
    var _oSelectedShifts=[];

    $(document).ready(function () {
        ////debugger;
        var obj = window.dialogArguments;
        _oDepartmentRequirementPolicy = @Html.Raw(new System.Web.Script.Serialization.JavaScriptSerializer().Serialize(Model));
        _sBaseAddress =@Html.Raw(new System.Web.Script.Serialization.JavaScriptSerializer().Serialize(HttpContext.Current.Session[SessionInfo.BaseAddress]));
        _oDesignations=@Html.Raw(new System.Web.Script.Serialization.JavaScriptSerializer().Serialize(Model.Designations));
        _oDepartmentCloseDay=@Html.Raw(new System.Web.Script.Serialization.JavaScriptSerializer().Serialize(Model.DepartmentCloseDays));
        _oTempDesignations=@Html.Raw(new System.Web.Script.Serialization.JavaScriptSerializer().Serialize(Model.TempDesignations));
        _oShifts=@Html.Raw(new System.Web.Script.Serialization.JavaScriptSerializer().Serialize(Model.Shifts));
        _oSelectedShifts=_oDepartmentRequirementPolicy.SelectedShifts;
        //debugger;
        var listShifts="<option value='"+0+"'>" +"--Select Shift--" + "</option>";
        if(_oShifts.length>0)
        {
            for (var i = 0; i < _oShifts.length; i++)
            {
                listShifts += "<option value='" + _oShifts[i].ShiftID+"'>" + _oShifts[i].ShiftWithDuration+"</option>";
            }
        }
        $("#cboShift").html(listShifts);

        if (obj.Name == "Edit DepartmentRequirementPolicy") {

            RefreshControlForEdit(_oDepartmentRequirementPolicy);
            //document.getElementById("txtPolicyName").value = _oDepartmentRequirementPolicy.Name;
        }
        if (obj.Name == "TPIPreview DepartmentRequirementPolicy") {

            RefreshControlForEdit(_oDepartmentRequirementPolicy);
            document.getElementById("btnSave").style.display = 'none';
        }
    });

    function RefreshControlForEdit(oDepartmentRequirementPolicy) {
        //debugger;
        var departmentCloseDays = "";
        document.getElementById("txtPolicyName").value = oDepartmentRequirementPolicy.Name;
        document.getElementById("txtLocation").value = oDepartmentRequirementPolicy.LocationName;
        document.getElementById("locationID").value = oDepartmentRequirementPolicy.LocationID;
        document.getElementById("txtDepartment").value = oDepartmentRequirementPolicy.DepartmentName;
        document.getElementById("departmentID").value = oDepartmentRequirementPolicy.DepartmentID;
        document.getElementById("txtDescription").value = oDepartmentRequirementPolicy.Description;
        document.getElementById("cboShift").value = oDepartmentRequirementPolicy.RosterPlanID;
        _LocationID=oDepartmentRequirementPolicy.LocationID;

        //RefreshList(oDepartmentRequirementPolicy.RosterPlanDetails);
        departmentCloseDays += oDepartmentRequirementPolicy.DepartmentCloseDays[0].WeekDay;
        for (var i = 1; i < oDepartmentRequirementPolicy.DepartmentCloseDays.length; i++) {
            departmentCloseDays += ',' + oDepartmentRequirementPolicy.DepartmentCloseDays[i].WeekDay ;
        }
        document.getElementById("txtDeptClose").value = departmentCloseDays;
        RefreshtblDesignationWiseRequiredPerson();
        RefreshListForDesignations(oDepartmentRequirementPolicy.TempDesignations);
    }


    function ValidateInput() {
        var drpName = $("#txtPolicyName").val();
        var location = $("#txtLocation").val();
        var department = $("#txtDepartment").val();
        var cboShift= document.getElementById("cboShift");
        var nShiftID = cboShift.options[cboShift.selectedIndex].value;
        if (drpName == "" || drpName == null || drpName == " ") {
            alert("Please Enter Department Requirement Policy Name!");
            $("#txtPolicyName").focus();
            return false;
        }
        if (location == "" || location == null || location == " ") {
            alert("Please select a location");
            $("#txtLocation").focus();
            return false;
        }
        if (department == "" || department == null || department == " ") {
            alert("Please select a department");
            $("#txtDepartment").focus();
            return false;
        }
        if (nShiftID <= 0 && _oDepartmentRequirementPolicy.DepartmentRequirementPolicyID<=0) {
            alert("Please select a Shift");
            $("#cboShift").focus();
            return false
        }
        return true;
    }

    //    function RosterPlanOnChange() {
    //        //debugger;
    //        var selectedRosterPlan = document.getElementById("cboShift").value;
    //        var selectedrosterPlanDetails=[];
    //        //var len = _oShifts[selectedRosterPlan].RosterPlanDetails.length;
    //        for(var i=0;i<_oRosterPlanDetails.length;i++)
    //        {
    //            if (selectedRosterPlan == _oRosterPlanDetails[i].RosterPlanID) {
    //                 //$('#tblRosterPlan').datagrid('appendRow',_oRosterPlanDetails[i]);
    //                selectedrosterPlanDetails.push(_oRosterPlanDetails[i]);


    //            }
    //        }

    //        RefreshList(selectedrosterPlanDetails);
    //        RefreshtblDesignationWiseRequiredPerson();
    //        SelectedDesignation();
    //    }

    function AddShift() {
        //debugger;
        var selectedShift = document.getElementById("cboShift").value;

        for (var j=0;j<_oSelectedShifts.length;j++)
        {
            if (selectedShift==_oSelectedShifts[j].ShiftID)
            {
                alert('This Shift Already Exists!!');
                return;
            }
        }

        for(var i=0;i<_oShifts.length;i++)
        {
            if (selectedShift == _oShifts[i].ShiftID) {
                _oSelectedShifts.push(_oShifts[i]);
            }
        }
        RefreshtblDesignationWiseRequiredPerson();
        SelectedDesignation();
    }

    function RemoveShift() {
        //debugger;
        var selectedShift = document.getElementById("cboShift").value;

        for (var j=0;j<_oSelectedShifts.length;j++)
        {
            if (selectedShift==_oSelectedShifts[j].ShiftID)
            {
                _oSelectedShifts.splice(_oSelectedShifts[j], 1);
            }
        }

        RefreshtblDesignationWiseRequiredPerson();
        SelectedDesignation();
    }

    function  SelectedDesignation() {
        //        //debugger;
        //        var selectedDesignations = [];
        //        for (var i = 0; i < _oOrganograms.length; i++) {
        //            if ( _oOrganograms[i].DepartmentID == departmentID.value) {
        //                selectedDesignations.push(_oDesignations[_oOrganograms[i].DesignationID-1]);
        //            }
        //        }
        //        var t = selectedDesignations;
        var gridData = RefreshObjectForDesignations(_oOrganograms);
        RefreshListForDesignations(gridData);
    }

    function RefreshListForDesignations(oSelectedDesignations) {
        //debugger;
        var data=oSelectedDesignations;
        data={"total":""+data.length+"","rows":data};
        $('#tblDesignationWiseRequiredPerson').datagrid('loadData',data);
        $('#tblDesignationWiseRequiredPerson').datagrid({ selectOnCheck: false, checkOnSelect: false });


    }

    function RefreshObjectForDesignations(oOrganograms)

    {
        //debugger;
        var oDesignations=[];
        for(var i=0; i<oOrganograms.length; i++)
        {

            var oDesignation= {
                Designation : oOrganograms[i].Designation,
                DesignationID: oOrganograms[i].DesignationID,
                Column1 : 0,
                Column2 : 0,
                Column3 : 0,
                Column4 : 0,
                Column5 : 0
            };
            oDesignations.push(oDesignation);
        }
        return oDesignations;
    }

    function RefreshList(oRosterPlans) {
        //debugger;
        var data=oRosterPlans;
        data={"total":""+data.length+"","rows":data};
        $('#tblRosterPlan').datagrid('loadData',data);
        $('#tblRosterPlan').datagrid({ selectOnCheck: false, checkOnSelect: false });
    }
    function RefreshtblDesignationWiseRequiredPerson()
    {
        //debugger;
        var tblColums=[];
        var oColumn=null;
        oColumn= { field :"Designation", title:"Designation", width:"100px"};
        tblColums.push(oColumn);
        if (_oSelectedShifts.length > 0) {
            for(var i=0; i<_oSelectedShifts.length;i++)
            {
                oColumn= {
                    field: 'Column'+(i+1),
                    title:  _oSelectedShifts[i].ShiftWithDuration,
                    width: "110",
                    align: "right",
                    editor: {type:'numberbox',options:{ precision: 0}}
                };
                tblColums.push(oColumn);
            }
        }
        $('#tblDesignationWiseRequiredPerson').datagrid({
            columns:[tblColums]
        });

    }

    function onClickRow(index){
        ////debugger;
        if (editIndex != index){
            if (endEditing()){
                $('#tblDesignationWiseRequiredPerson').datagrid('selectRow', index)
                        .datagrid('beginEdit', index);
                editIndex = index;
            } else {
                $('#tblDesignationWiseRequiredPerson').datagrid('selectRow', editIndex);
            }
        }
    }

    var editIndex = undefined;
    function endEditing(){
        if (editIndex == undefined){return true;}
        if ($('#tblDesignationWiseRequiredPerson').datagrid('validateRow', editIndex)){
            $('#tblDesignationWiseRequiredPerson').datagrid('endEdit', editIndex);
            editIndex = undefined;
            return true;
        } else {
            return false;
        }
    }
    function LocationPicker() {
        var oParameter = new Object();
        oParameter.MultipleItemReturn = false;
        var url = _sBaseAddress + "/Location/LocationPickerWithCheckBox?id="+_oDepartmentRequirementPolicy.DepartmentRequirementPolicyID;
        var nLeft=(window.screen.width/2)-(550/2);
        var nHeight=(window.screen.height/2)-(470/2);
        var oReturnObject = window.showModalDialog(url, oParameter, 'dialogHeight:470px;dialogWidth:550px;dialogLeft:'+nLeft+';dialogTop:'+nHeight+';center:yes;resizable:no;status:no;scroll:yes');
        //var oReturnObject = window.showModalDialog(url, oParameter, 'dialogHeight:470px;dialogWidth:550px;dialogLeft:400;dialogTop:100;center:yes;resizable:no;status:no;scroll:no');
        if (oReturnObject != null) {
            $("#txtLocation")[0].value = oReturnObject.text;
            $("#locationID")[0].value = oReturnObject.id;
            _LocationID= oReturnObject.id;
            $("#txtDepartment")[0].value = "";
            $("#departmentID")[0].value = 0;
            var gridData = [];
            RefreshListForDesignations(gridData);
        }

    }

    function DepartmentPicker() {
        ////debugger;
        if (_LocationID == 0) {
            alert("Please select a Location first");
            return;
        }

        var oParameter = new Object();
        oParameter.MultipleItemReturn = false;
        var url = _sBaseAddress + "/Department/DepartmentPickerWithCheckBox?id="+_LocationID;
        var nLeft=(window.screen.width/2)-(550/2);
        var nHeight=(window.screen.height/2)-(470/2);
        var oReturnObject = window.showModalDialog(url, oParameter, 'dialogHeight:470px;dialogWidth:550px;dialogLeft:'+nLeft+';dialogTop:'+nHeight+';center:yes;resizable:no;status:no;scroll:yes');
        //var oReturnObject = window.showModalDialog(url, oParameter, 'dialogHeight:470px;dialogWidth:550px;dialogLeft:400;dialogTop:100;center:yes;resizable:no;status:no;scroll:no');
        if (oReturnObject != null) {
            debugger;
            $("#txtDepartment")[0].value = oReturnObject.text;
            $("#departmentID")[0].value = oReturnObject.id;
            var departmentID= oReturnObject.id;
            var selectedDesignations=[];
            LoadDesignations(_LocationID,departmentID);
            //            for (var i = 0; i < _oOrganograms.length; i++) {
            //                if (_oOrganograms[i].DepartmentID == departmentID) {
            //                   for(var j=0;j<_oDesignations.length;j++){
            //                       if (_oDesignations[j].DesignationID == _oOrganograms[i].DesignationID) {
            //                           selectedDesignations.push(_oDesignations[j]);
            //                       }
            //                    }
            //                }
            //            }
            //            var gridData = RefreshObjectForDesignations(selectedDesignations);
            //            var gridData = RefreshObjectForDesignations(_oOrganograms);
            //            RefreshtblDesignationWiseRequiredPerson();
            //            RefreshListForDesignations(gridData);

        }
    }


    function WeekdayPicker() {
        var oParameter = new Object();
        oParameter.MultipleReturn = true;
        var url = _sBaseAddress + "/DepartmentRequirementPolicy/WeekDayPicker?id="+_oDepartmentRequirementPolicy.DepartmentRequirementPolicyID;
        var nLeft=(window.screen.width/2)-(230/2);
        var nHeight=(window.screen.height/2)-(290/2);
        var oReturnObject =  window.showModalDialog(url, oParameter, 'dialogHeight:290px;dialogWidth:230px;dialogLeft:'+nLeft+';dialogTop:'+nHeight+';center:yes;resizable:no;status:no;scroll:yes');
        //var oReturnObject = window.showModalDialog(url, oParameter, 'dialogHeight:285px;dialogWidth:230px;dialogLeft:400;dialogTop:100;center:yes;resizable:no;status:no;scroll:no');
        //debugger;
        if (oReturnObject != null) {
            var weekDays="";
            var weekDayIDs = [];
            weekDays = oReturnObject[0]._WeekDAys;
            weekDayIDs[0] = oReturnObject[0]._WeekDayIDs;
            for (var i = 1; i < oReturnObject.length; i++) {
                weekDays+=','+ oReturnObject[i]._WeekDAys;
                weekDayIDs[i] = oReturnObject[i]._WeekDayIDs;
            }
            $("#txtDeptClose")[0].value = weekDays;
            _oWeekDays = weekDayIDs;
        }
    }

    function Insert()
    {
        debugger;
        endEditing();
        if (!ValidateInput()) return;
        var oDepartmentRequirementPolicy=RefreshObject();

        $.ajax({
            type: "POST",
            dataType: "json",
            url: _sBaseAddress + "/DepartmentRequirementPolicy/DepartmentRequirementPolicy_IU",
            traditional: true,
            data: JSON.stringify(oDepartmentRequirementPolicy),
            contentType: "application/json; charset=utf-8",
            success: function(data) {
                debugger;
                var oDepartmentRequirementPolicym = jQuery.parseJSON(data);
                if (oDepartmentRequirementPolicym.DepartmentRequirementPolicyID > 0) {
                    alert("Data Saved sucessfully");
                    window.returnValue = oDepartmentRequirementPolicym;
                    window.close();
                } else {
                    alert(oDepartmentRequirementPolicym.ErrorMessage);
                }
            },
            error: function(xhr, status, error) {
                alert(error);
            }
        });
    }

    function RefreshObject()
    {
        var cboShift= document.getElementById("cboShift");
        var abc = $("#txtDeptClose").val();
        var res = [];
        res=abc.split(",");

        var DCDs = [];
        for (var j = 0; j < res.length; j++) {
            var DCD = null;
            DCD = {
                WeekDay: res[j]
            };
            DCDs.push(DCD);
        }
        var oTempDesignatios=$('#tblDesignationWiseRequiredPerson').datagrid('getRows');
        //    var oRosterPlanDeatils= $('#tblRosterPlan').datagrid('getRows');
        var oDepartmentRequirementPolicy= {
            DepartmentRequirementPolicyID:  _oDepartmentRequirementPolicy.DepartmentRequirementPolicyID,
            Name :$("#txtPolicyName").val(),
            LocationID: $("#locationID").val(),
            DepartmentID: $("#departmentID").val(),
            Location: $("#txtLocation").val(),
            Department: $("#txtDepartment").val(),
            Description: $("#txtDescription").val(),
            RosterPlanName: cboShift.options[cboShift.selectedIndex].text,
            DepartmentCloseDays : DCDs,
            TempDesignations: oTempDesignatios,
            Shifts: _oSelectedShifts
        };
        return oDepartmentRequirementPolicy;
    }

    function Close()
    {
        window.close();
    }

    function Copy() {

        var oParameter = new Object();
        var departmentCloseDays = "";
        oParameter.Name = "Department Requirement Policy Advance Search";
        oParameter.MultipleItemReturn=false;
        var url = _sBaseAddress + "/DepartmentRequirementPolicy/DepartmentRequirementPolicySearch";
        var nLeft=(window.screen.width/2)-(750/2);
        var nHeight=(window.screen.height/2)-(300/2);
        var oDepartmentRequirementPolicy = window.showModalDialog(url, oParameter, 'dialogHeight:300px;dialogWidth:750px;dialogLeft:'+nLeft+';dialogTop:'+nHeight+';center:yes;resizable:no;status:no;scroll:yes');
        //var oDepartmentRequirementPolicy = window.showModalDialog(url, oParameter, 'dialogHeight:300px;dialogWidth:750px;dialogLeft:150;dialogRight:150;dialogTop:200;center:yes;resizable:yes;status:no;scroll:no');
        if (oDepartmentRequirementPolicy != null) {
            if (oDepartmentRequirementPolicy.DepartmentRequirementPolicyID > 0) {
                $.ajax({
                    type: "POST",
                    dataType: "json",
                    url: _sBaseAddress + "/DepartmentRequirementPolicy/DepartmentRequirementPolicy_Copy",
                    traditional: true,
                    data: JSON.stringify(oDepartmentRequirementPolicy),
                    contentType: "application/json; charset=utf-8",
                    success: function(data) {
                        //debugger;
                        oDepartmentRequirementPolicy = jQuery.parseJSON(data);
                        if (oDepartmentRequirementPolicy.DepartmentRequirementPolicyID > 0) {
                            RefreshControlForEdit(oDepartmentRequirementPolicy);
                        } else {
                            alert(oDepartmentRequirementPolicy.ErrorMessage);
                        }
                    },
                    error: function(xhr, status, error) {
                        alert(error);
                    }
                });
            }
        }

    }

    function LoadDesignations(nLocationID, nDepartmentID)
    {
        var tsv = ((new Date()).getTime()) / 1000;
        var oOrganograms=[];
        _oOrganograms=[];
        $.ajax({
            type: "GET",
            dataType: "json",
            url: _sBaseAddress+ "/Organogram/Gets",
            data: { nLocationID: nLocationID,nDepartmentID:nDepartmentID,ts:tsv },
            contentType: "application/json; charset=utf-8",
            success: function (data) {
                debugger;
                oOrganograms = jQuery.parseJSON(data);
                if (oOrganograms[0].OrganogramID>0)
                {
                    _oOrganograms= oOrganograms;
                    var gridData = RefreshObjectForDesignations(_oOrganograms);
                    RefreshtblDesignationWiseRequiredPerson();
                    RefreshListForDesignations(gridData);
                }else{
                    return;
                }
            },
            error: function (xhr, status, error) {
                alert(error);
            }
        });
    }

    $(document).keydown(function (e)
    {
        var keyCode = e.keyCode || e.which;
        if (keyCode == 27)
        {
            window.close();
        }
    });
</script>
