@model ESimSol.BusinessObjects.SP_GeneralJournal
@{
    ViewBag.Title = "General Journal";
}
<html>
<head>
</head>
<body>
    <div id="tableDiv" class="easyui-layout" data-options="fit:true">
        <div data-options="region:'north',split:true" style="width:100%;padding:5px; overflow:hidden">
            Date Range
            <input id="txtStartDate" type="text" style="width: 110px;" class="easyui-datebox" required="required" data-options="formatter:icsdateformat,parser:icsdateparser" />
            To <input id="txtEndDate" type="text" style="width: 110px;" class="easyui-datebox" required="required" data-options="formatter:icsdateformat,parser:icsdateparser" />
            <select id="cboVoucherType" style="width: 150px;"> </select>
            <select id="cboDisplayMode" style="font-size:12px;"> </select>
            <select id="cboBusinessUnit" style="width:200px"></select>
            <input type="checkbox" id="chkboxApproved" style="width:20px;" /><label for="chkboxApproved">Approved</label>
            <a id="btnAdvanceSearch" href="javascript:void(0)" class="easyui-linkbutton" iconcls="icon-search" plain="true">Advance Search</a>
            <a id="btnRefresh" href="javascript:void(0)" class="easyui-linkbutton" iconcls="icon-reload" plain="true">Refresh</a>
            <a id="btnPrint" href="javascript:void(0)" class="easyui-linkbutton" iconcls="icon-print" plain="true">Print</a>
            <a id="btnPrintXL" href="javascript:void(0)" class="easyui-linkbutton" iconcls="icon-print" plain="true">Export To XL</a>
            @*<a id="btnPrintVoucher" href="javascript:void(0)" class="easyui-linkbutton" iconcls="icon-print" plain="true">Print Voucher</a>*@
            <a id="btnACConfig" href="javascript:void(0)" class="easyui-linkbutton" iconcls="icon-setting" plain="true" onclick=" return OpenSettings()">Configuration</a>
            <input type="text" id="txtParams" style="display:none;" />
        </div>
        <div data-options="region:'center'" style="width:100%;padding:20px; text-align:center;overflow:hidden;">
            <div style="width:100%;height:94%; margin-bottom:20px;overflow:hidden;">
                <div style="width:99.5%;height:96%; border:1px solid black;overflow:hidden;">
                    <div id="divHeader" style="width:100%;height:5%; overflow:hidden;">
                        <table id="tblHeader" border="0" cellpadding="1" cellspacing="0" style="width:100%;">
                            <tr>
                                <td style="width:2%;font-weight:bold;text-align:left;"></td>
                                <td style="width:10%;font-weight:bold;text-align:left;border-bottom:solid 1px black;">Voucher Date</td>
                                <td style="width:23%;font-weight:bold;text-align:left;border-bottom:solid 1px black;">Particulars</td>
                                <td style="width:9%; font-weight:bold;text-align:center;border-bottom:solid 1px black;">Account Code</td>
                                <td style="width:15%;font-weight:bold;text-align:center;border-bottom:solid 1px black;">Voucher</td>
                                <td style="width:15%; font-weight:bold;text-align:center;border-bottom:solid 1px black;">Voucher No</td>
                                <td style="width:12%;font-weight:bold;text-align:center;border-bottom:solid 1px black;">Debit</td>
                                <td style="width:12%; font-weight:bold;text-align:center;border-bottom:solid 1px black;">Credit</td>
                                <td style="width:2%;font-weight:bold;text-align:left;"></td>
                            </tr>
                        </table>
                    </div>
                    <div id="divReport" style="width:100%;height:95%; overflow:auto;">
                        <table id="tblGeneralJournal" border="0" cellpadding="1" cellspacing="0" style="width:100%;">
                            @*<tr>
                                <td style="width:2%;"></td>
                                <td style="width:10%;font-weight:bold;text-align:left;border-bottom:solid 1px black;">Voucher Date</td>
                                <td style="width:23%;font-weight:bold;text-align:left;border-bottom:solid 1px black;">Particulars</td>
                                <td style="width:9%; font-weight:bold;text-align:left;border-bottom:solid 1px black;">Account Code</td>
                                <td style="width:15%;font-weight:bold;text-align:center;border-bottom:solid 1px black;">Voucher</td>
                                <td style="width:15%; font-weight:bold;text-align:center;border-bottom:solid 1px black;">Voucher No</td>
                                <td style="width:12%;font-weight:bold;text-align:center;border-bottom:solid 1px black;">Debit</td>
                                <td style="width:12%; font-weight:bold;text-align:center;border-bottom:solid 1px black;">Credit</td>
                                <td style="width:2%"></td>
                            </tr>*@
                        </table>
                    </div>
                </div>
                <table id="tblFooter" border="0" cellpadding="1" cellspacing="0" style="width:100%;">
                    <tr>
                        <td style="width:2%;font-weight:bold;text-align:left;"></td>
                        <td style="width:10%;font-weight:bold;text-align:left;"></td>
                        <td style="width:23%;font-weight:bold;text-align:left;"></td>
                        <td style="width:9%; font-weight:bold;text-align:center;"></td>
                        <td style="width:15%;font-weight:bold;text-align:center;"></td>
                        <td style="width:15%; font-weight:bold;text-align:right;">Total :</td>
                        <td style="width:12%;font-weight:bold;text-align:right;"><label id="lblDebit">0.00</label></td>
                        <td style="width:12%; font-weight:bold;text-align:right;"><label id="lblCredit">0.00</label></td>
                        <td style="width:2%;font-weight:bold;text-align:left;"></td>
                    </tr>
                </table>
            </div>
        </div>
    </div>
    <div id="winAdvSearch" class="easyui-window" title="Advance Search" style="font-family:Tahoma" data-options="modal:true,closed:true,collapsible:false,minimizable:false,maximizable:false,closable:false">
        <fieldset>
            <legend style="font-weight:bold">Search options : </legend>
            <table border="0" cellspacing="2" cellpadding="2" style="font-size:11px; font-weight:bold">
                <tr>
                    <td style="width:150px; text-align:right">
                        Voucher No :
                    </td>
                    <td style="width:300px">
                        <input type="text" id="txtVoucherNoAdvSearch" style="width:406px" />
                    </td>
                </tr>
                <tr>
                    <td style="width:150px; text-align:right">
                        Voucher Amount :
                    </td>
                    <td style="width:400px">                        
                        <input type="text" id="txtFromVoucherAmountAdvSearch" style="width:190px;text-align:right" value="0" />
                        <label style="width:20px">To</label> 
                        <input type="text" id="txtToVoucherAmountAdvSearch" style="width:190px;text-align:right" value="0" />
                    </td>
                </tr>
                <tr>
                    <td style="width:150px; text-align:right">
                        Search By User :
                    </td>
                    <td style="width:400px">
                        <select style="width:411px" id="cboUser"></select>
                    </td>
                </tr>
                <tr>
                    <td style="width:150px; text-align:right">
                        Account Head Name :
                    </td>
                    <td style="width:300px">
                        <input type="text" id="txtAccountHeadNameAdvSearch" style="width:406px" />
                    </td>
                </tr>
                <tr>
                    <td style="width:150px; text-align:right">
                        Head Wise Narration :
                    </td>
                    <td style="width:300px">
                        <input type="text" id="txtHeadWiseNarrationAdvSearch" style="width:406px" />
                    </td>
                </tr>
                <tr>
                    <td style="width:150px; text-align:right">
                        Voucher Narration :
                    </td>
                    <td style="width:300px">
                        <input type="text" id="txtVoucherNarrationAdvSearch" style="width:406px" />
                    </td>
                </tr>
                <tr>
                    <td style="width:150px; text-align:right">
                        Voucher Bill No :
                    </td>
                    <td style="width:300px">
                        <input type="text" id="txtVoucherBillNoAdvSearch" style="width:406px" />
                    </td>
                </tr>
                <tr>
                    <td style="width:150px; text-align:right">
                        Bill Amount :
                    </td>
                    <td style="width:400px">                        
                        <input type="text" id="txtFromBillAmountAdvSearch" style="width:190px;text-align:right" value="0" />
                        <label style="width:20px">To</label> 
                        <input type="text" id="txtToBillAmountAdvSearch" style="width:190px;text-align:right" value="0" />
                    </td>
                </tr>
                <tr>
                    <td style="width:150px; text-align:right">
                        Sub Ledger Name :
                    </td>
                    <td style="width:300px">
                        <input type="text" id="txtCostCenterNameAdvSearch" style="width:406px" />
                    </td>
                </tr>
                <tr>
                    <td style="width:150px; text-align:right">
                        Sub Ledger Amount :
                    </td>
                    <td style="width:400px">                        
                        <input type="text" id="txtFromCostCenterAmountAdvSearch" style="width:190px;text-align:right" value="0" />
                        <label style="width:20px">To</label> 
                        <input type="text" id="txtToCostCenterAmountAdvSearch" style="width:190px;text-align:right" value="0" />
                    </td>
                </tr>
            </table>
        </fieldset>

        <fieldset>
            <legend style="font-weight:bold"> Action : </legend>
            <table border="0" cellspacing="2" cellpadding="2" style="font-size:11px; font-weight:bold">
                <tr>
                    <td style="width:437px; text-align:left">
                        <a id="btnResetAllAdvSearch" href="javascript:void(0)" class="easyui-linkbutton" iconcls="icon-reload" plain="true">Reset All</a>
                    </td>
                    <td style="width:50px">
                        <a id="btnOkAdvSearch" href="javascript:void(0)" class="easyui-linkbutton" iconcls="icon-ok" plain="true">Ok</a>
                    </td>
                    <td style="width:50px">
                        <a id="btnCloseAdvSearch" href="javascript:void(0)" class="easyui-linkbutton" iconcls="icon-cancel" plain="true" onclick="Close()">Close</a>
                    </td>
                </tr>
            </table>
        </fieldset>
    </div>
    <div id="winVoucher" class="easyui-window" title="View Voucher" style="height: 515px; width: 1020px;" data-options="modal:true,closed:true,collapsible:false,minimizable:false,maximizable:false,closable:false">
        <div id="p" style="width:99%; padding:1px">
            <div style="width:100%">
                <table border="0" cellpadding="2" cellspacing="2" style="width:100%;">
                    <tr>
                        <td style="width:25%; font-size:12px">
                            Business Unit:<input type="text" id="txtBusinessUnit" style="width: 120px;margin-left:5px; font-weight:bolder" disabled />
                        </td>
                        <td style="width:25%; font-size:12px">
                            Voucher No:<input type="text" id="txtVoucherNo" style="width: 120px;margin-left:5px; font-weight:bolder" disabled />
                        </td>
                        <td style="width:25%; text-align:center">
                            Voucher Type:<input type="text" id="txtVoucherType" style="width: 150px;margin-left:5px; font-weight:bolder" disabled />
                        </td>
                        <td style="width:22%; font-size:12px;text-align:right;">
                            Voucher Date :<input type="text" id="txtVoucherDate" style="width: 120px;margin-left:5px; font-weight:bolder" disabled />
                        </td>
                    </tr>
                </table>
            </div>
            <div style="width:100%">
                <table id="tblVoucherDetailHeader" class="tablebordaer" border="0" cellpadding="0" cellspacing="0" width="100%" style="font-size:12px; font-weight:bold">
                    <tr>
                        <td style="width:5%; text-align:center">BU</td>
                        <td style="width:45%; text-align:center">Particulars</td>
                        <td style="width:30%; text-align:center">Narration</td>
                        <td style="width:10%; text-align:center">Debit<label class="lblBaseCurrencySymbol"></label></td>
                        <td style="width:10%; text-align:center">Credit<label class="lblBaseCurrencySymbol"></label></td>
                    </tr>
                </table>
            </div>
            <div class="tablebordaer" id="divVoucherDetails" style="height:280px; width:100%; font-size:12px; overflow:auto">
                <table id="tblVoucherDetail" border="0" cellpadding="0" cellspacing="0" style="font-size:13px; width:100%"></table>
            </div>
            <table border="0" cellpadding="0" cellspacing="0" style="width:100%">
                <tr>
                    <td style="width:80%; text-align:right; font-size:12px; font-weight:bold"></td>
                    <td colspan="2" style="width:20%; text-align:right; font-size:12px; font-weight:bold"><hr /></td>
                </tr>
                <tr>
                    <td style="width:70%; text-align:right; font-size:12px; font-weight:bold"></td>
                    <td style="width:20%; text-align:right; font-size:10px; font-weight:bold;padding-right: 34px;"><label class="lblBaseCurrencySymbol"></label><label id="lblTotalDebitAmount">0.00</label> </td>
                    <td style="width:10%; text-align:right; font-size:10px; font-weight:bold"><label class="lblBaseCurrencySymbol"></label><label id="lblTotalCreditAmount"> 0.00</label>&nbsp;&nbsp;</td>
                </tr>
                <tr>
                    <td style="width:80%; text-align:right; font-size:12px; font-weight:bold"></td>
                    <td colspan="2" style="width:20%; text-align:right; font-size:12px; font-weight:bold"><hr /><hr /></td>
                </tr>
                <tr>
                    <td style="width:80%; text-align:left; font-size:12px; font-weight:bold">Narration :</td>
                    <td colspan="2" style="width:20%; text-align:right; font-size:12px; font-weight:bold"></td>
                </tr>
                <tr>
                    <td colspan="3" style="width:100%; text-align:left; font-size:12px; font-weight:bold">
                        <textarea rows="1" id="txtNarration" style="text-align:left; width:100%" disabled></textarea>
                    </td>
                </tr>
                <tr style="height:33px">
                    <td style="width:60%; text-align:left; font-size:12px; font-weight:bold"></td>
                    <td style="width:20%; text-align:right; font-size:12px; font-weight:bold; vertical-align:bottom">
                        <a id="btnPrintVoucher" href="javascript:void(0)" class="easyui-linkbutton" iconcls="icon-print" plain="true">Print</a>
                    </td>
                    <td colspan="2" style="width:20%; text-align:right; font-size:12px; font-weight:bold; vertical-align:bottom">
                        <a id="btnCloseVoucher" href="javascript:void(0)" class="easyui-linkbutton" iconcls="icon-cancel" plain="true">Close</a>
                    </td>
                </tr>
            </table>
        </div>
    </div>
    <div id="winSettings" class="easyui-window" title="Settings" data-options="modal:true,closed:true,collapsible:false,minimizable:false,maximizable:false,closable:false">
        <fieldset style="margin-top:2px">
            <div style="height:153px;width:400px;">
                <table id="tblGJConfigs" class="easyui-datagrid" style="height:100%;width:100%;" fit="true" fitcolumns="true" rownumbers="true" pagination="false" singleselect="fale" autorowheight="false"
                       data-options="onLoadSuccess: ConfigLoadSuccessful">
                    <thead>
                        <tr>
                            <th data-options="field:'Selected',checkbox:true"></th>
                            <th field="ErrorMessage" width="87%" align="left">Configuration Name</th>
                        </tr>
                    </thead>
                </table>
            </div>
        </fieldset>
        <fieldset style="text-align:right">
            <legend>Actions : </legend>
            <a id="btnSettingOK" href="javascript:void(0)" class="easyui-linkbutton" iconcls="icon-ok" plain="true" onclick="return ChooseSettings()">OK</a>
            <a id="btnSettingClose" href="javascript:void(0)" class="easyui-linkbutton" iconcls="icon-cancel" plain="true">Close</a>
        </fieldset>
    </div>
    
</body>
</html>
<style>
    #tblGeneralJournal tr:hover td,
    #tblGeneralJournal tr:hover td.highlight {
        background: #D6DAD5;
    }

    .narrationclass {
        border: none !important;        
    }
</style>

<script type="text/javascript">
    var _nSessionCurrentCompanyID=0;
    var _oGeneralJournals=[];
    var _oGeneralJournal=null;
    var _oGeneralJournals=[];
    var _sBaseAddress="";
    var _sParams="";
    var _oCreditChartOfAccount=null;
    $(document).ready(function () {
        _sBaseAddress =@Html.Raw( new System.Web.Script.Serialization.JavaScriptSerializer().Serialize(HttpContext.Current.Session[SessionInfo.BaseAddress]));
        _oGeneralJournal = @Html.Raw(new System.Web.Script.Serialization.JavaScriptSerializer().Serialize(Model));

        var oCompany= @Html.Raw(new System.Web.Script.Serialization.JavaScriptSerializer().Serialize(ViewBag.Company));
        sessionStorage.setItem("Company", JSON.stringify(oCompany));

        var oUserList= @Html.Raw(new System.Web.Script.Serialization.JavaScriptSerializer().Serialize(ViewBag.UserList));
        $("#cboUser").data('UserList',oUserList);

        var oBusinessUnits= @Html.Raw(new System.Web.Script.Serialization.JavaScriptSerializer().Serialize(ViewBag.BusinessUnits));
        $("#cboBusinessUnit").data('objs',oBusinessUnits);
        $("#cboBusinessUnit").icsLoadCombo({List: oBusinessUnits,OptionValue: "BusinessUnitID",DisplayText: "Name", InitialValue : "--Select Business Unit--"});

        var oDisplayModes= _oGeneralJournal.DisplayModes;
        $("#cboDisplayMode").data('objs',oDisplayModes);
        $("#cboDisplayMode").icsLoadCombo({List: oDisplayModes,OptionValue: "id",DisplayText: "Value", InitialValue : "--Display Mode--"});

        var oVoucherTypes= @Html.Raw(new System.Web.Script.Serialization.JavaScriptSerializer().Serialize(ViewBag.VoucherTypes));
        $("#cboVoucherType").data('objs',oVoucherTypes);
        $("#cboVoucherType").icsLoadCombo({List: oVoucherTypes,OptionValue: "VoucherTypeID",DisplayText: "VoucherName", InitialValue : "--Select Voucher--"});

        var oGJConfigs= @Html.Raw(new System.Web.Script.Serialization.JavaScriptSerializer().Serialize(ViewBag.GJConfigs));
        sessionStorage.setItem("GJConfigs",JSON.stringify(oGJConfigs));
        sessionStorage.setItem("SelectedGJConfigs",JSON.stringify(_oGeneralJournal.ACConfigs));

        $('#txtStartDate').datebox('setValue', icsdateformat(new Date()));
        $('#txtEndDate').datebox('setValue', icsdateformat(new Date()));

        ////refresh control
        $('#txtStartDate').datebox('setValue', _oGeneralJournal.StartDateInString);
        $('#txtEndDate').datebox('setValue', _oGeneralJournal.EndDateInString);
        $('#cboCurrency').val(_oGeneralJournal.CurrencyID);
        $('#cboVoucherType').val(_oGeneralJournal.VoucherTypeID);
        $('#cboDisplayMode').val(_oGeneralJournal.DisplayMode);
        $('#cboBusinessUnit').val(_oGeneralJournal.BusinessUnitID);
        $("#txtParams").val(_oGeneralJournal.Narration);
        document.getElementById('chkboxApproved').checked =  _oGeneralJournal.IsApproved;
        /////end refresh control
        var sHeaderText=RefreshHeader();

        sessionStorage.setItem('HeaderText',sHeaderText);
        $('#tableDiv').panel({ title:sHeaderText});
        GetSessionData();

        $("#txtFromVoucherAmountAdvSearch").icsCurrencyBox();
        $("#txtToVoucherAmountAdvSearch").icsCurrencyBox();
        $("#txtFromBillAmountAdvSearch").icsCurrencyBox();
        $("#txtToBillAmountAdvSearch").icsCurrencyBox();
        $("#txtFromCostCenterAmountAdvSearch").icsCurrencyBox();
        $("#txtToCostCenterAmountAdvSearch").icsCurrencyBox();


        $('#Mainlayout').layout('collapse', 'west');
    });


    function GetSessionData()
    {
        var oGeneralJournal = { VoucherDetailID : 0 };
        $.ajax({
            type: "POST",
            dataType: "json",
            url : sessionStorage.getItem('BaseAddress')+  "/GeneralJournal/GetSessionData",
            traditional: true,
            data:  JSON.stringify(oGeneralJournal),
            contentType: "application/json; charset=utf-8",
            success: function (data) {
                _oGeneralJournal.SP_GeneralJournalList = data;
                PrepareDataGridForTransaction(_oGeneralJournal);
            },
            error: function (xhr, status, error) {
                alert(error);
            }
        });
    }

    function RefreshHeader(){
        var sHeaderText='';

        sHeaderText='General Journal';

        if( parseInt($('#cboBusinessUnit').val()) &&  parseInt($('#cboBusinessUnit').val())>0){
            var oBUs=$("#cboBusinessUnit").data('objs');
            var sBUName='';
            for (var i=0;i<oBUs.length;i++){
                if(parseInt($('#cboBusinessUnit').val())===oBUs[i].BusinessUnitID){
                    sBUName=oBUs[i].Name;
                }
            }
            sHeaderText=sHeaderText+' || '+sBUName+' || "'+$('#txtStartDate').datebox('getValue')+'" to "'+$('#txtEndDate').datebox('getValue')+'"';

        }else{
            sHeaderText=sHeaderText+' || '+jQuery.parseJSON(sessionStorage.getItem("Company")).Name+' || "'+$('#txtStartDate').datebox('getValue')+'" to "'+$('#txtEndDate').datebox('getValue')+'"';
        }
        return sHeaderText;
    }

    function OpenSettings(){

        var oGJConfigs=jQuery.parseJSON(sessionStorage.getItem("GJConfigs"));
        DynamicRefreshList(oGJConfigs,'tblGJConfigs');

        $("#winSettings").icsWindow('open', "Change Search Configuration");
        //$("#winSettings").focus();
        sessionStorage.setItem("SettingWindow", 'Open');
    }
    function ChooseSettings(){
        var oSelectedConfigs=$('#tblGJConfigs').datagrid('getChecked');
        sessionStorage.setItem("SelectedGJConfigs",JSON.stringify(oSelectedConfigs));
        $("#winSettings").icsWindow('close');
        sessionStorage.setItem("SettingWindow", 'Close');


        if(!ValidateInput())return false;
        //$("#progressbar").progressbar({ value: 0 });
        //$("#progressbarParent").show();

        RefreshData();
    }
    $("#btnSettingClose").click(function (){
        $("#winSettings").icsWindow('close');
        sessionStorage.setItem("SettingWindow", 'Close');
    });
    function ConfigLoadSuccessful(data){
        var objs=data.rows;
        var oSelectedConfigs=jQuery.parseJSON(sessionStorage.getItem("SelectedGJConfigs"));
        for(var i=0;i<oSelectedConfigs.length;i++){
            for(var j=0;j<objs.length;j++){
                if(oSelectedConfigs[i].ConfigureType===objs[j].ConfigureType){
                    $('#tblGJConfigs').datagrid('checkRow',j);
                }
            }
        }
    }

    function Resize(){
        var div= document.getElementById('divReport'); // need real DOM Node, not jQuery wrapper
        var hasVerticalScrollbar= div.scrollHeight>div.clientHeight;
        var hasHorizontalScrollbar= div.scrollWidth>div.clientWidth;
        if(hasVerticalScrollbar){
            $('#tblHeader').width('98.5%');
            $('#tblFooter').width('98.5%');
        }
    }


    function PrepareDataGridForTransaction(oGeneralJournal)
    {
        var nMaxRowIndex = document.getElementById('tblGeneralJournal').rows.length-1;
        for(var i=nMaxRowIndex; i>0; i--)
        {
            document.getElementById("tblGeneralJournal").deleteRow(i);
        }


        var nDebit=0,nCredit=0,nCount = 0;;
        var oGeneralJournals=oGeneralJournal.SP_GeneralJournalList;

        for(var i=0;i<oGeneralJournals.length;i++){
            /*
            <tr>
                            <td style="width:2%;"></td>
                            <td style="width:10%;font-weight:bold;text-align:left;border-bottom:solid 1px black;">Voucher Date</td>
                            <td style="width:23%;font-weight:bold;text-align:left;border-bottom:solid 1px black;">Particulars</td>
                            <td style="width:9%; font-weight:bold;text-align:left;border-bottom:solid 1px black;">Account Code</td>
                            <td style="width:15%;font-weight:bold;text-align:center;border-bottom:solid 1px black;">Voucher</td>
                            <td style="width:15%; font-weight:bold;text-align:center;border-bottom:solid 1px black;">Voucher No</td>
                            <td style="width:12%;font-weight:bold;text-align:center;border-bottom:solid 1px black;">Debit</td>
                            <td style="width:12%; font-weight:bold;text-align:center;border-bottom:solid 1px black;">Credit</td>
                            <td style="width:2%"></td>
                        </tr>
                        */
            if (oGeneralJournals[i].VoucherID > 0 && nCount > 1)
            {
                var table = document.getElementById('tblGeneralJournal');
                var nRowIndex = table.rows.length;
                var row = table.insertRow(nRowIndex);


                var cellBlank1 = row.insertCell(0);
                cellBlank1.width= "100%";
                cellBlank1.colSpan=9;
                cellBlank1.innerHTML = '';
                cellBlank1.height='15px';
            }


            var table = document.getElementById('tblGeneralJournal');
            var nRowIndex = table.rows.length;
            var row = table.insertRow(nRowIndex);



            var cellBlank1 = row.insertCell(0);
            cellBlank1.width= "2%";
            cellBlank1.innerHTML = '';

            var cellAccountHead = row.insertCell(1);
            cellAccountHead.width= "10%";
            cellAccountHead.innerHTML = '<label rowIndex="'+nRowIndex+'" style="font-size:13px;">'+oGeneralJournals[i].VoucherDateInString+'</label>';
            cellAccountHead.style.textAlign = 'left';

            if (parseInt(oGeneralJournals[i].VoucherDetailID) > 0)
            {
                var cellAccountHead = row.insertCell(2);
                cellAccountHead.width= "23%";
                cellAccountHead.innerHTML = '<label rowIndex="'+nRowIndex+'" style="font-size:13px; font-weight:bold;">'+oGeneralJournals[i].AccountHeadName+'</label>';
                cellAccountHead.style.textAlign = 'left';

                var cellAccountHead = row.insertCell(3);
                cellAccountHead.width= "9%";
                cellAccountHead.innerHTML = '<label rowIndex="'+nRowIndex+'" style="font-size:13px;">'+oGeneralJournals[i].AccountCode+'</label>';
                cellAccountHead.style.textAlign = 'center';

                var cellAmount = row.insertCell(4);
                cellAmount.width= "15%";
                cellAmount.innerHTML = '<label rowIndex="'+nRowIndex+'" style="font-size:13px; font-weight:bold;">'+oGeneralJournals[i].VoucherName+'</label>';
                cellAmount.style.textAlign = 'center';

                var cellAccountHead = row.insertCell(5);
                cellAccountHead.width= "15%";
                cellAccountHead.innerHTML = '<a href="javascript:void(0)" onclick="RefreshVoucherData('+oGeneralJournals[i].VoucherID+')"><label rowIndex="'+nRowIndex+'" style="font-size:13px; cursor:pointer;">'+oGeneralJournals[i].VoucherNo+'</label></a>';
                cellAccountHead.style.textAlign = 'center';

                var cellAccountHead = row.insertCell(6);
                cellAccountHead.width= "12%";
                cellAccountHead.innerHTML = '<label rowIndex="'+nRowIndex+'" style="font-size:13px; font-weight:bold;">'+(oGeneralJournals[i].DebitAmount > 0 ? oGeneralJournals[i].DebitAmountInString : '')+'</label>';
                cellAccountHead.style.textAlign = 'right';

                var cellAmount = row.insertCell(7);
                cellAmount.width= "12%";
                cellAmount.innerHTML = '<label rowIndex="'+nRowIndex+'" style="font-size:13px; font-weight:bold;">'+(oGeneralJournals[i].CreditAmount > 0 ? oGeneralJournals[i].CreditAmountInString : '')+'</label>';
                cellAmount.style.textAlign = 'right';

                var cellBlank2 = row.insertCell(8);
                cellBlank2.width= "2%";
                cellBlank2.innerHTML = '';
            }else{

                var cellAccountHead = row.insertCell(2);
                cellAccountHead.colSpan=4;
                cellAccountHead.width= "62%";                
                cellAccountHead.innerHTML = '<input type="text" rowIndex="'+nRowIndex+'" value="'+ oGeneralJournals[i].AccountHeadName +'" class="narrationclass" style="width:100%" readonly="readonly" />';
                //cellAccountHead.innerHTML = '<label rowIndex="'+nRowIndex+'" style="font-size:13px;width:100%;display: inline-block;">'+oGeneralJournals[i].AccountHeadName+'</label>';                
                cellAccountHead.style.textAlign = 'left';

                var cellAccountHead = row.insertCell(3);
                cellAccountHead.width= "12%";
                cellAccountHead.innerHTML = '<label rowIndex="'+nRowIndex+'" style="font-size:13px; text-align:right;"></label>';
                cellAccountHead.style.textAlign = 'right';

                var cellAmount = row.insertCell(4);
                cellAmount.width= "12%";
                cellAmount.innerHTML = '<label rowIndex="'+nRowIndex+'" style="font-size:13px; text-align:right;"></label>';
                cellAmount.style.textAlign = 'right';

                var cellBlank2 = row.insertCell(5);
                cellBlank2.width= "2%";
                cellBlank2.innerHTML = '';
            }


            if (oGeneralJournals[i].VoucherDetailID > 0){
                nDebit=nDebit+oGeneralJournals[i].DebitAmount;
                nCredit=nCredit+oGeneralJournals[i].CreditAmount;
            }
            nCount++;
        }

        $('#lblDebit').html(icsFormatPrice(nDebit));
        $('#lblCredit').html(icsFormatPrice(nCredit));

        Resize();
    }



    function ValidateInput()
    {
        var sStartDate=$('#txtStartDate').datebox('getValue');
        if (sStartDate==null || sStartDate =="") {
            alert("please select start date!");
            $('#txtStartDate').focus();
            return false;
        }

        var sEndDate = $('#txtEndDate').datebox('getValue');
        if ( sEndDate ==null || sEndDate=="") {
            alert("Please select end date!!");
            $('#txtEndDate').focus();
            return false;
        }

        var dStartDate = new Date(sStartDate);
        var dEndDate = new Date(sEndDate);

        if(dEndDate < dStartDate) {
            alert("End date must be grater then start date!!");
            $('#txtEndDate').focus();
            return false;
        }
        return true;
    }

    $("#btnRefresh").click(function(){

        if(!ValidateInput())return false;
        //$("#progressbar").progressbar({ value: 0 });
        //$("#progressbarParent").show();

        RefreshData();
    });
    function RefreshData(){
        var oGeneralJournal= {
            StartDate:$('#txtStartDate').datebox('getValue'),
            EndDate:$('#txtEndDate').datebox('getValue'),
            VoucherTypeID:parseInt($('#cboVoucherType').val()),
            DisplayMode : parseInt($('#cboDisplayMode').val()),
            BusinessUnitID : parseInt($('#cboBusinessUnit').val()),
            ACConfigs:jQuery.parseJSON(sessionStorage.getItem("SelectedGJConfigs")),
            Narration : $("#txtParams").val(), // For Advance Search
            IsApproved : document.getElementById('chkboxApproved').checked
        }

        //var intervalID = setInterval(updateProgress, 250);
        var sHeaderText=RefreshHeader();
        InitializeProgressBar();

        $.ajax({
            type: "POST",
            dataType: "json",
            url : _sBaseAddress+  "/GeneralJournal/SetGJSessionData",
            traditional: true,
            data:  JSON.stringify(oGeneralJournal),
            contentType: "application/json; charset=utf-8",
            success: function (data) {
                var sFeedBackMessage = jQuery.parseJSON(data);
                if (sFeedBackMessage==="Successful") {
                    if(parseInt($('#cboDisplayMode').val())<= 1){
                        window.location.href = _sBaseAddress+ "/GeneralJournal/ViewGeneralJournal?menuid="+parseInt(sessionStorage.getItem('MenuID'));
                    }else{
                        window.location.href = _sBaseAddress+ "/GeneralJournal/ViewGeneralJournalSummary?menuid="+parseInt(sessionStorage.getItem('MenuID'));
                    }
                }
            },
            error: function (xhr, status, error) {
                alert(error);
            }
        });
    }

    $("#btnPrint").click(function(){
        if(!ValidateInput())return false;
        var oGeneralJournal= {
            StartDate:$('#txtStartDate').datebox('getValue'),
            EndDate:$('#txtEndDate').datebox('getValue'),
            VoucherTypeID:parseInt($('#cboVoucherType').val()),
            DisplayMode : parseInt($('#cboDisplayMode').val()),
            BusinessUnitID : parseInt($('#cboBusinessUnit').val()),
            ACConfigs:jQuery.parseJSON(sessionStorage.getItem("SelectedGJConfigs")),
            Narration : $("#txtParams").val(), // For Advance Search
            IsApproved : document.getElementById('chkboxApproved').checked
        }

        //var intervalID = setInterval(updateProgress, 250);
        var sHeaderText=RefreshHeader();


        $.ajax({
            type: "POST",
            dataType: "json",
            url : _sBaseAddress+  "/GeneralJournal/SetGJSessionData",
            traditional: true,
            data:  JSON.stringify(oGeneralJournal),
            contentType: "application/json; charset=utf-8",
            success: function (data) {
                var sFeedBackMessage = jQuery.parseJSON(data);
                if (sFeedBackMessage==="Successful") {
                    window.open(_sBaseAddress+'/GeneralJournal/PrintGeneralJournalPDF?',"_blank");
                }
            },
            error: function (xhr, status, error) {
                alert(error);
            }
        });

    });

    $("#btnPrintXL").click(function(){

        if(!ValidateInput())return false;
        var oGeneralJournal= {
            StartDate:$('#txtStartDate').datebox('getValue'),
            EndDate:$('#txtEndDate').datebox('getValue'),
            VoucherTypeID:parseInt($('#cboVoucherType').val()),
            DisplayMode : parseInt($('#cboDisplayMode').val()),
            BusinessUnitID : parseInt($('#cboBusinessUnit').val()),
            ACConfigs:jQuery.parseJSON(sessionStorage.getItem("SelectedGJConfigs")),
            Narration : $("#txtParams").val(), // For Advance Search
            IsApproved : document.getElementById('chkboxApproved').checked
        }

        //var intervalID = setInterval(updateProgress, 250);
        var sHeaderText=RefreshHeader();


        $.ajax({
            type: "POST",
            dataType: "json",
            url : _sBaseAddress+  "/GeneralJournal/SetGJSessionData",
            traditional: true,
            data:  JSON.stringify(oGeneralJournal),
            contentType: "application/json; charset=utf-8",
            success: function (data) {
                var sFeedBackMessage = jQuery.parseJSON(data);
                if (sFeedBackMessage==="Successful") {
                    window.open(_sBaseAddress+'/GeneralJournal/ExportGeneralJournalToExcel?',"_blank");
                }
            },
            error: function (xhr, status, error) {
                alert(error);
            }
        });
    });


    ///////////Adv Search
    function RefreshcboUser()
    {
        var oUserList= $("#cboUser").data('UserList');
        $("#cboUser").icsLoadCombo({
            List: oUserList,
            OptionValue: "UserID",
            DisplayText: "UserName"
        });
    }

    $("#btnAdvanceSearch").click(function(){
        RefreshcboUser();
        SetValueInField();
        $("#winAdvSearch").icsWindow('open', "Advance Search ");
        //$("#winSettings").focus();
        sessionStorage.setItem("AdvSearchWindow", 'Open');


        //var oParameter = new Object();
        //oParameter.OperationName=  "General Journal";
        //oParameter.Params = $("#txtParams").val();
        //var url =_sBaseAddress+ "/GeneralLedger/AdvanceSearch?";
        //_sParams = window.showModalDialog(url, oParameter, 'dialogHeight:380px;dialogWidth:600px;dialogLeft:230;dialogTop:70;center:yes;resizable:no;status:no;scroll:no');
        //if (typeof _sParams === "undefined")
        //{
        //    var getParams =  $("#txtParams").val();
        //    $("#txtParams").val(getParams);
        //}
        //else if(_sParams != "")
        //{
        //    $("#txtParams").val(_sParams);
        //}
    });
    $("#btnResetAllAdvSearch").click(function(){
        $("#txtVoucherNoAdvSearch").val("");
        $("#txtFromVoucherAmountAdvSearch").val(0);
        $("#txtToVoucherAmountAdvSearch").val(0);
        $("#txtAccountHeadNameAdvSearch").val("");
        $("#cboVoucherType").val(0);
        $("#txtHeadWiseNarrationAdvSearch").val("");
        $("#txtVoucherNarrationAdvSearch").val("");
        $("#txtVoucherBillNoAdvSearch").val("");
        $("#txtFromBillAmountAdvSearch").val(0);
        $("#txtToBillAmountAdvSearch").val(0);
        $("#txtCostCenterNameAdvSearch").val("");
        $("#txtFromCostCenterAmountAdvSearch").val(0);
        $("#txtToCostCenterAmountAdvSearch").val(0);
        $("#cobVoucherAmount").val(0);
        $("#cobBillAmount").val(0);
        $("#cobCostCenterAmount").val(0);
        $("#cboUser").val(0);
        SetupCobVoucherAmount();
        SetupCobBillAmount();
        SetupCobCostCenterAmount();
    });

    function SetValueInField()
    {
        var sParams =  $.trim($("#txtParams").val());
        if(sParams != "")
        {
            sParams = sParams.split("~");
            $("#txtVoucherNoAdvSearch").val(sParams[0]);
            $("#txtFromVoucherAmountAdvSearch").val(sParams[1]);
            $("#txtToVoucherAmountAdvSearch").val(sParams[2]);
            $("#txtAccountHeadNameAdvSearch").val(sParams[3]);
            $("#txtHeadWiseNarrationAdvSearch").val(sParams[4]);
            $("#txtVoucherNarrationAdvSearch").val(sParams[5]);
            $("#txtVoucherBillNoAdvSearch").val(sParams[6]);
            $("#txtFromBillAmountAdvSearch").val(sParams[7]);
            $("#txtToBillAmountAdvSearch").val(sParams[8]);
            $("#txtCostCenterNameAdvSearch").val(sParams[9]);
            $("#txtFromCostCenterAmountAdvSearch").val(sParams[10]);
            $("#txtToCostCenterAmountAdvSearch").val(sParams[11]);
            $("#cboUser").val(parseInt(sParams[12]));
        }
    }
    $("#btnOkAdvSearch").click(function(){

        var txtVoucherNoAdvSearch = $("#txtVoucherNoAdvSearch").val();
        var txtFromVoucherAmountAdvSearch = parseFloat(icsRemoveComma($("#txtFromVoucherAmountAdvSearch").val()));
        var txtToVoucherAmountAdvSearch = parseFloat(icsRemoveComma($("#txtToVoucherAmountAdvSearch").val()));
        var txtAccountHeadNameAdvSearch = $("#txtAccountHeadNameAdvSearch").val();
        var txtHeadWiseNarrationAdvSearch = $("#txtHeadWiseNarrationAdvSearch").val();
        var txtVoucherNarrationAdvSearch = $("#txtVoucherNarrationAdvSearch").val();
        var txtVoucherBillNoAdvSearch = $("#txtVoucherBillNoAdvSearch").val();
        var txtFromBillAmountAdvSearch = parseFloat(icsRemoveComma($("#txtFromBillAmountAdvSearch").val()));
        var txtToBillAmountAdvSearch = parseFloat(icsRemoveComma($("#txtToBillAmountAdvSearch").val()));
        var txtCostCenterNameAdvSearch = $("#txtCostCenterNameAdvSearch").val();
        var txtFromCostCenterAmountAdvSearch = parseFloat(icsRemoveComma($("#txtFromCostCenterAmountAdvSearch").val()));
        var txtToCostCenterAmountAdvSearch = parseFloat(icsRemoveComma($("#txtToCostCenterAmountAdvSearch").val()));
        var nUserID = parseInt($("#cboUser").val());

        var sParams = txtVoucherNoAdvSearch
                        + "~" + parseFloat(txtFromVoucherAmountAdvSearch)
                        + "~" + parseFloat(txtToVoucherAmountAdvSearch)
                        + "~" + txtAccountHeadNameAdvSearch
                        + "~" + txtHeadWiseNarrationAdvSearch
                        + "~" + txtVoucherNarrationAdvSearch
                        + "~" + txtVoucherBillNoAdvSearch
                        + "~" + parseFloat(txtFromBillAmountAdvSearch)
                        + "~" + parseFloat(txtToBillAmountAdvSearch)
                        + "~" + txtCostCenterNameAdvSearch
                        + "~" + parseFloat(txtFromCostCenterAmountAdvSearch)
                        + "~" + parseFloat(txtToCostCenterAmountAdvSearch)
                        + "~" + parseInt(nUserID);

        $("#txtParams").val(sParams);

        $("#winAdvSearch").icsWindow('close');
        sessionStorage.setItem("AdvSearchWindow", 'Close');
    });
    $("#btnCloseAdvSearch").click(function(){
        $("#winAdvSearch").icsWindow('close');
        sessionStorage.setItem("AdvSearchWindow", 'Close');
    });
    ///////////Adv Search


    //////////voucher
    function RefreshVoucherData(nVoucherID){
        debugger;

        $.icsDataGet({
            BaseAddress: sessionStorage.getItem("BaseAddress"),
            Object: {VoucherID:nVoucherID},
            ControllerName: 'Voucher',
            ActionName: 'GetSingleVoucherDetails',
            IsWinClose: false
        },function (response){
            if(response.status && response.obj!=null){
                if(response.obj.VoucherID>0){
                    debugger;
                    sessionStorage.setItem("Voucher",JSON.stringify(response.obj));
                    var oVoucher =response.obj;
                    var oCurrencyes =oVoucher.LstCurrency;
                    var oCompany =oVoucher.Company;
                    var oVDObjs = oVoucher.VDObjs;
                    $(".lblBaseCurrencySymbol").text("("+oVoucher.BaseCUSymbol+")");
                    RefreshList(oVDObjs);
                    RefreshSummery(oVDObjs);
                    InitializeEventClick();
                    InitializeEventHover();
                    RefreshControl();
                    $("#winVoucher").icsWindow('open');
                    sessionStorage.setItem("VoucherWindow", 'Open');
                }
            }
        });

    }
    function RefreshList(oVDObjs)
    {
        //VoucherDetail = 0
        //CostCenter = 1
        //BillReference = 2
        //VoucherReference = 3
        //InventoryReference = 4
        var table = document.getElementById('tblVoucherDetail');
        $('#tblVoucherDetail').empty();
        for(var i=0; i<oVDObjs.length; i++)
        {
            var row = table.insertRow(i);
            if(oVDObjs[i].ObjTypeInt==0)
            {
                var cellAccountHead = row.insertCell(0);
                cellAccountHead.width= "50%";
                cellAccountHead.innerHTML =oVDObjs[i].AHName + " ["+oVDObjs[i].AHCode+"]";

                var cellNarration = row.insertCell(1);
                cellNarration.colSpan= 2;
                cellNarration.width= "30%";
                cellNarration.innerHTML = oVDObjs[i].Detail;


                var cellDebitAmount = row.insertCell(2);
                cellDebitAmount.width= "10%";
                cellDebitAmount.style.textAlign = "right";
                cellDebitAmount.innerHTML =  formatPrice(oVDObjs[i].DrAmount,null);

                var cellCreditAmount = row.insertCell(3);
                cellCreditAmount.width= "10%";
                cellCreditAmount.style.textAlign = "right";
                cellCreditAmount.innerHTML = formatPrice(oVDObjs[i].CrAmount,null);
            }
            if(oVDObjs[i].ObjTypeInt==1)
            {
                var cellSubLedgerName = row.insertCell(0);
                cellSubLedgerName.width= "50%";
                cellSubLedgerName.innerHTML = oVDObjs[i].CFormat;

                var cellSubLedgerNarration = row.insertCell(1);
                cellSubLedgerNarration.width= "20%";
                cellSubLedgerNarration.innerHTML = oVDObjs[i].Detail;

                var cellSubLedgerAmount = row.insertCell(2);
                cellSubLedgerAmount.width= "10%";
                cellSubLedgerAmount.style.textAlign = "right";
                cellSubLedgerAmount.innerHTML = formatPrice(oVDObjs[i].CAmount);

                var cellDebitAmount = row.insertCell(3);
                cellDebitAmount.width= "10%";
                cellDebitAmount.innerHTML = "";

                var cellCreditAmount = row.insertCell(4);
                cellCreditAmount.width= "10%";
                cellCreditAmount.innerHTML =  "";
            }
            if(oVDObjs[i].ObjTypeInt==2 || oVDObjs[i].ObjTypeInt==5)
            {
                var cellBillNumber = row.insertCell(0);
                cellBillNumber.width= "50%";
                cellBillNumber.innerHTML = oVDObjs[i].CFormat;

                var cellBillNarration = row.insertCell(1);
                cellBillNarration.width= "20%";
                cellBillNarration.innerHTML = oVDObjs[i].Detail;

                var cellBillAmount = row.insertCell(2);
                cellBillAmount.width= "10%";
                cellBillAmount.style.textAlign = "right";
                cellBillAmount.innerHTML = formatPrice(oVDObjs[i].CAmount);

                var cellDebitAmount = row.insertCell(3);
                cellDebitAmount.width= "10%";
                cellDebitAmount.innerHTML = "";

                var cellCreditAmount = row.insertCell(4);
                cellCreditAmount.width= "10%";
                cellCreditAmount.innerHTML =  "";
            }
            if(oVDObjs[i].ObjTypeInt==3 || oVDObjs[i].ObjTypeInt==6)
            {
                var cellChequeNumber = row.insertCell(0);
                cellChequeNumber.width= "50%";
                cellChequeNumber.innerHTML = oVDObjs[i].CFormat;

                var cellChequeNarration = row.insertCell(1);
                cellChequeNarration.width= "20%";
                cellChequeNarration.innerHTML = oVDObjs[i].Detail;

                var cellChequeAmount = row.insertCell(2);
                cellChequeAmount.width= "10%";
                cellChequeAmount.style.textAlign = "right";
                cellChequeAmount.innerHTML = formatPrice(oVDObjs[i].CAmount);

                var cellDebitAmount = row.insertCell(3);
                cellDebitAmount.width= "10%";
                cellDebitAmount.innerHTML = "";

                var cellCreditAmount = row.insertCell(4);
                cellCreditAmount.width= "10%";
                cellCreditAmount.innerHTML =  "";
            }
            if(oVDObjs[i].ObjTypeInt==4)
            {
                var cellInventoryItem = row.insertCell(0);
                cellInventoryItem.colSpan=2;
                cellInventoryItem.width= "70%";
                cellInventoryItem.innerHTML = oVDObjs[i].CFormat;

                var cellChequeAmount = row.insertCell(1);
                cellChequeAmount.width= "10%";
                cellChequeAmount.style.textAlign = "right";
                cellChequeAmount.innerHTML = formatPrice(oVDObjs[i].CAmount);

                var cellDebitAmount = row.insertCell(2);
                cellDebitAmount.width= "10%";
                cellDebitAmount.innerHTML = "";

                var cellCreditAmount = row.insertCell(3);
                cellCreditAmount.width= "10%";
                cellCreditAmount.innerHTML =  "";
            }
            if(oVDObjs[i].ObjTypeInt === 7 || oVDObjs[i].ObjTypeInt === 8)//Order Reference= 7 //SLOrder Reference= 8
            {
                var cellInventoryItem = row.insertCell(0);
                cellInventoryItem.colSpan=2;
                cellInventoryItem.width= "70%";
                cellInventoryItem.innerHTML = oVDObjs[i].CFormat;

                var cellChequeAmount = row.insertCell(1);
                cellChequeAmount.width= "10%";
                cellChequeAmount.style.textAlign = "right";
                cellChequeAmount.innerHTML = formatPrice(oVDObjs[i].Amount);

                var cellDebitAmount = row.insertCell(2);
                cellDebitAmount.width= "10%";
                cellDebitAmount.innerHTML = "";

                var cellCreditAmount = row.insertCell(3);
                cellCreditAmount.width= "10%";
                cellCreditAmount.innerHTML =  "";
            }
        }
    }
    function RefreshSummery(oVDObjs)
    {
        var nTotalDebitAmount=0; var nTotalCreditAmount=0;
        if(oVDObjs==null)oVDObjs=[];
        for(var i=0; i<oVDObjs.length; i++)
        {
            nTotalDebitAmount=nTotalDebitAmount+ parseFloat(oVDObjs[i].DrAmount)
            nTotalCreditAmount=nTotalCreditAmount+parseFloat(oVDObjs[i].CrAmount);
        }
        document.getElementById('lblTotalDebitAmount').innerHTML =formatPrice(nTotalDebitAmount, null) ;
        document.getElementById('lblTotalCreditAmount').innerHTML =formatPrice(nTotalCreditAmount, null);
    }
    function InitializeEventClick()
    {
        $("#tblVoucherDetail tr").click(function() {
            ResetAllRowsClick();
            $(this).addClass("highlight");
            $(this).css("cursor","pointer");
        });
    }
    function ResetAllRowsClick()
    {
        var tblVoucherDetail=document.getElementById("tblVoucherDetail");
        if(tblVoucherDetail.rows!=null)
        {
            for(var i=0; i<tblVoucherDetail.rows.length; i++)
            {
                $('#tblVoucherDetail tr').eq(i).removeClass("highlight");
                $('#tblVoucherDetail tr').eq(i).removeClass("highlighthover");
            }
        }
    }
    function InitializeEventHover()
    {
        $("#tblVoucherDetail tr").hover(function() {
            ResetAllRowsHover();
            $(this).addClass("highlighthover");
            $(this).css("cursor","pointer");
        });
    }
    function ResetAllRowsHover()
    {
        var tblVoucherDetail=document.getElementById("tblVoucherDetail");
        if(tblVoucherDetail.rows!=null)
        {
            for(var i=0; i<tblVoucherDetail.rows.length; i++)
            {
                $('#tblVoucherDetail tr').eq(i).removeClass("highlighthover");
            }
        }
    }
    function RefreshControl()
    {
        var oVoucher=jQuery.parseJSON(sessionStorage.getItem("Voucher"));
        $("#lblHeaderName").text('View Voucher');
        $("#btnApprove").hide();

        $('#txtVoucherType').val(oVoucher.VoucherName)
        $('#txtVoucherDate').val(oVoucher.VoucherDateAsString)
        $("#txtBusinessUnit").val(oVoucher.BUShortNameCode);
        $("#txtVoucherNo").val(oVoucher.VoucherNo);
        $('#txtCurrency').val(oVoucher.CurrencyNameSymbol);
        $('#txtConversionRate').val(oVoucher.CurrencyConversionRate);
        $("#txtNarration").val(oVoucher.Narration);
        CalculateTotalSummary();
    }
    function CalculateTotalSummary()
    {
        debugger;
        var oVoucher=jQuery.parseJSON(sessionStorage.getItem("Voucher"));
        var nTotalDebitAmount=0;
        var nTotalCreditAmount=0;
        var oVDObjs = oVoucher.VDObjs;
        if(oVDObjs!=null)
        {
            for(var i=0; i<oVDObjs.length;i++)
            {

                nTotalDebitAmount=nTotalDebitAmount+ parseFloat(oVDObjs[i].DrAmount)
                nTotalCreditAmount=nTotalCreditAmount+parseFloat(oVDObjs[i].CrAmount);

            }
        }
        document.getElementById('lblTotalDebitAmount').innerHTML =formatPrice(nTotalDebitAmount, null) ;
        document.getElementById('lblTotalCreditAmount').innerHTML =formatPrice(nTotalCreditAmount, null);
    }
    $('#btnPrintVoucher').click(function(){
        var oVoucher=jQuery.parseJSON(sessionStorage.getItem("Voucher"));
        window.open(_sBaseAddress+'/Voucher/PrintVoucher?id=' + oVoucher.VoucherID+'&buid=0', "_blank");
    });
    $("#btnCloseVoucher").click(function (){
        $("#winVoucher").icsWindow('close');
        sessionStorage.setItem("VoucherWindow", 'Close');
    });
    ////////////voucher
</script>
<style type="text/css">
    .tablebordaer {
        border: 1px solid black;
    }

    #tblVoucherDetail td {
        border-left: 1px solid #D8D8D8;
        border-bottom: 1px solid #D8D8D8;
    }

    #tblVoucherDetailHeader td {
        border-left: 1px solid black;
    }

    .highlight {
        background-color: #CFB53B;
        color: #fff;
    }

    .highlighthover {
        background-color: #FAE794;
        color: #000;
    }
</style>