
 
@model ESimSol.BusinessObjects.CurrencyConversion
@{
    ViewBag.Title = "Delete Currency Conversion";
}
        
        <div class="PageHeading"><table border="0">
                <tr>                   
                    <td style="width:900px" class="Headline">Activate Currency Conversion</td>
                </tr>
            </table></div>    
        <div class="PageBody">
        <table border="0">
            <tr>
                <td style="width:50px"></td>
                <td style="width:800px">                          
                            
                            <fieldset>
                                <legend style="font-weight:bold"> Currency Conversion Info : </legend>
                                <table border="0">
                                    <tr>
                                        <td>Currency Name</td>
                                        <td>:</td>
                                        <td>
                                                <div class="editor-field">
                                                @Html.TextBoxFor(model => model.FromCurrencyName, new { style = "width: 500px;", id = "txtFromCurrencyName", disabled = "disabled" })            
                                                </div>
                                        </td>
                                    </tr>
                                    <tr>
                                       <td>Converted To</td>         
                                        <td>:</td>
                                        <td>
                                            <div class="editor-field">
                                               @Html.DropDownListFor(m => m.ConvertedToCurrencyID, Model.ToCurrencys.Select(x => new SelectListItem() { Text = x.CurrencyName + "[" + x.Symbol + "]", Value = x.CurrencyID.ToString() }), new { id = "ddlConvertedToCurrency", style = "width: 505px;", disabled = "disabled" })         
                                            </div>
                                        </td>
                                    </tr>
                                     <tr>
                                       <td>Bank</td>         
                                        <td>:</td>
                                        <td>
                                            <div class="editor-field">
                                               @Html.DropDownListFor(m => m.BankID, Model.Banks.Select(x => new SelectListItem() { Text = x.Name + "[" + x.Code + "]", Value = x.BankID.ToString() }), new { id = "ddlBank", style = "width: 505px;", disabled = "disabled" })         
                                            </div>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>Sale Rate</td>
                                        <td>:</td>
                                        <td>
                                                <div class="editor-field">
                                                @Html.TextBoxFor(model => model.SaleRate, new { style = "width: 500px;", id = "txtSaleRate", disabled = "disabled" })            
                                                </div>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>Purchase Rate</td>
                                        <td>:</td>
                                        <td>
                                                <div class="editor-field">
                                                @Html.TextBoxFor(model => model.PurchaseRate, new { style = "width: 500px;", id = "txtPurchaseRate", disabled = "disabled" })            
                                                </div>
                                        </td>
                                    </tr>
                                    @Html.HiddenFor(model => model.CurrencyID) 
                                    @Html.HiddenFor(model => model.CurrencyConversionID) 
                                    <tr>
                                        <td></td>
                                        <td></td>
                                        <td>
                                            
                                        </td>
                                    </tr>
                                </table>
                                </fieldset>
                                 
                                 @using (Html.BeginForm()) {
                                    <input type="submit" value="Activate" />       
                                }
                
                    </td>
                <td style="width:50px"></td>
            </tr>
            <tr>
                 <td style="width:50px"></td>
                 <td style="width:800px">
                    <div style="color: red;font-weight:900; margin-top:10px">@TempData["message"]</div>
                 </td>
                 <td style="width:50px"></td>
            </tr>

        </table>     
        </div>

        <div class="PageFooter">
<div style="margin-left:50px;margin-right:20px">
    <table>
        <tr>
            <td style="width:500px">            
            </td>            
            <td style="width:400px; text-align:right">
               <div style="margin-left:20px">@Html.ActionLink("Back to Currency Conversion List", "Add", "CurrencyConversion", new { id = Model.CurrencyID }, new { style = "width: 500px;" })</div>    
            </td>
        </tr>
    </table>
    
</div>
</div>
  

