
@{
    ViewBag.Title = "Currency List";
}
@model ESimSol.BusinessObjects.CurrencyConversion
<div class="PageHeading"><table border="0">
        <tr>            
            <td style="width:900px" class="Headline"> Currency List</td>
        </tr>
    </table></div>
<div class="PageBody"> 
<div style="margin-left:20px;margin-right:20px">
    <p>
       @* @Html.ActionLink("Create New", "Add")*@
    </p>
    <table id="myTable" class="tablesorterblue">
    <thead> 
        <tr>        
                                
                                <th> Bank </th>
                                <th> Convert To </th>
                                <th> Sale Rate </th>  
                                <th> Purchase Rate </th>
                                <th> Convert Date </th> 
                                <th> Activity </th>                                  
                                           
                        
        </tr>
    </thead>
    <tbody>
    @* @{ int n = 0;}*@
     @foreach (var item in Model.ConversionListForSelectedCurrncy)
     {
       
        <tr>
            <td>@Html.DisplayFor(modelItem => item.BankNameCode)</td>
            <td>@Html.DisplayFor(modelItem => item.ToCurrencyName)</td>
            <td>@Html.DisplayFor(modelItem => item.SaleRate)</td>                                    
            <td>@Html.DisplayFor(modelItem => item.PurchaseRate)</td>                                    
            <td>@Html.DisplayFor(modelItem => item.ConvertedCurrencyDate)</td>                                              
            <td id="lblActivity">
                @Html.ActionLink(item.Activity, "ActivityAction", new { id = item.CurrencyConversionID }, new { @title = "Activity" })
            </td> 
                             
            
        </tr>
         //n = @item.CurrencyConversionID;
    }
     @if (Model.ConversionListForSelectedCurrncy.Count <= 0)
    {
        <tr><td></td><td></td><td></td><td></td><td></td><td></td></tr>
    }

    </tbody>
    </table> 
</div> 
</div>
<div class="PageFooter">
<div style="margin-left:20px;margin-right:20px">
    <table>
        <tr>
            <td style="width:500px">
            <div id="pager" class="tablesorterPager">
	            <form>
		            <img src="../../Content/Images/TableSorter/first.png" class="first"/>
		            <img src="../../Content/Images/TableSorter/prev.png" class="prev"/>
		            <input type="text" class="pagedisplay"/>
		            <img src="../../Content/Images/TableSorter/next.png" class="next"/>
		            <img src="../../Content/Images/TableSorter/last.png" class="last"/>
		            <select class="pagesize">
			            <option selected="selected"  value="20">20</option>                                
			            <option value="30">30</option>
			            <option value="40">40</option>               
		            </select>
	            </form>
            </div>
            </td>            
            <td style="width:400px; text-align:right">
                @Html.ActionLink("Refresh Currency List", "RefreshList", "Currency")
            </td>
        </tr>
    </table>
    
</div>
</div>




<script type="text/javascript">
    $(document).ready(function () {
        $("#myTable")
    .tablesorter({ widthFixed: true, widgets: ['zebra'] })
    .tablesorterPager({ container: $("#pager") });
    });

    $('#lblActivity').click(function () {
        debugger
        if (lblActivity.innerText == "Deactivate ") {
            alert("Opps!!! This Operation is not possible");
            return false;
        }
        var confirmMessage = "Are you sure to activate this conversion!!!";
        //confirm("Are you sure to activate this conversion!!!");
        if (confirm(confirmMessage) == false) {
            return false;
        }

    })
</script>