@using ESimSol.BusinessObjects;
@model  ConsumptionChallan
<br />
<table>
    <tr>
        <td width="100%" style="text-align: center; font-size: 10px; font-weight: bold">
            <u>Akij Textile Mills Limited</u>
        </td>
    </tr>
    <tr>
        <td width="100%" style="text-align: center; font-size: 10px; font-weight: bold">
            <u>@Model.ErrorMessage</u>
        </td>
    </tr>
    <tr>
        <td width="100%" style="text-align: center; font-size: 10px; font-weight: bold">
            <u>@Model.VehicleNo</u>
        </td>
    </tr>
</table>
<br />
<table cellpadding="3" cellspacing="3" style="font-size: 7px">
    @{
        int nSLNo = 0;
        Double TotalValue = 0;
    }
    <tr border="1" bgcolor="#DEDEDE">
        <td style="text-align: center;" width="6%">
            <strong>SL No</strong>
        </td>
        <td style="text-align: center;" width="57%">
            <strong>Product Name</strong>
        </td>
        <td style="text-align: center;" width="12%">
            <strong>Unit</strong>
        </td>
        <td style="text-align: center;" width="10%">
            <strong>Issue Qty</strong>
        </td>
        <td style="text-align: center;" width="15%">
            <strong>Value (BDT)</strong>
        </td>
    </tr>
    @foreach (ConsumptionChallan oConsumptionChallan in Model.ConsumptionChallans)
    {

        TotalValue = TotalValue + @oConsumptionChallan.Value;

        nSLNo++;
        <tr border="1">
            <td style="text-align: right;">
                @nSLNo.ToString()
            </td>
            <td style="text-align: left;">
                @oConsumptionChallan.ProductNameCode
            </td>
            <td style="text-align: left;">
                @oConsumptionChallan.MUName
            </td>
            <td style="text-align: right;">
                @oConsumptionChallan.Quantity
            </td>
            <td style="text-align: right;">
                @oConsumptionChallan.Value.ToString("0.00")
            </td>
        </tr>
         
    }
    <tr border="1">
        <td colspan="4" style="text-align: right; font-size: 9px; font-weight: bold">
            Total Amount:
        </td>
        <td  style="text-align: right; font-size: 9px; font-weight: bold">
            @TotalValue.ToString("0.00")
        </td>
    </tr>
</table>
<br />
<br />
<br />
<br />
<table border="0" cellpadding="3" cellspacing="3">
    <tr>
        <td width="33%" style="text-align: left; font-size: 9px">
        </td>
        <td width="34%" style="text-align: left; font-size: 9px">
        </td>
        <td width="33%" style="text-align: left; font-size: 9px">
        </td>
    </tr>
    <tr>
        <td width="33%" style="text-align: left; font-size: 9px">
            __________________
        </td>
        <td width="34%" style="text-align: center; font-size: 9px">
            __________________
        </td>
        <td width="33%" style="text-align: right; font-size: 9px">
            __________________
        </td>
    </tr>
    <tr>
        <td width="33%" style="text-align: left; font-size: 9px">
            Requested By
        </td>
        <td width="34%" style="text-align: center; font-size: 9px">
            Received By
        </td>
        <td width="33%" style="text-align: right; font-size: 9px">
            Authorized By
        </td>
    </tr>
    <tr>
        <td width="33%" style="text-align: left; font-size: 9px">
        </td>
        <td width="34%" style="text-align: center; font-size: 9px">
        </td>
        <td width="33%" style="text-align: right; font-size: 9px">
        </td>
    </tr>
    <tr>
        <td>
        </td>
        <td>
        </td>
        <td>
        </td>
    </tr>
</table>
