@using ESimSol.BusinessObjects;
@model Rpt_DailyStockSummery
  @foreach (Company oOrganizationalInformation in Model.Companys)
  {          
<table border="0" cellspacing="0">
        <tr>
            <td width="100%"   style="text-align: center; font-size:15px; font-weight:bold">
             @Model.Companys[0].Name 
            </td>
        </tr>
        <tr>
            <td width="100%"   style="text-align: center; font-size:8px">
               HeadOffice: @Model.Companys[0].Address
            </td>
        </tr>
        <tr>
            <td width="100%"   style="text-align: center; font-size:8px">
                Tel : @Model.Companys[0].Phone, E-mail : @Model.Companys[0].Email, Web : @Model.Companys[0].WebAddress
            </td>
        </tr>   
</table>
  }
<br />

<table>     
        <tr style="height:200px; vertical-align:bottom">
            <td width="100%"   style="text-align: center; font-size:12px; font-weight:bold">
                <u>Daily Stock Summary List</u>
            </td>
        </tr>
</table>

<br />
 <br />
<table cellpadding="3" cellspacing="3">    
    @{
        int nSLNo = 0;
       
    }

    <tr border="1" bgcolor="#DEDEDE">
    <td width="5%" style="text-align: center; font-size:9px; font-weight:bold">
            SL
        </td>
        <td width="8%" style="text-align: center; font-size:9px; font-weight:bold">
          ProductName
        </td>
        <td width="8%" style="text-align: center; font-size:9px; font-weight:bold">
           Unit
        </td>
        <td width="8%" style="text-align: center; font-size:9px; font-weight:bold">
           Rate
        </td>
        <td width="8%" style="text-align: center; font-size:9px; font-weight:bold">
          OpeningBalance
        </td>
        <td width="8%" style="text-align: center; font-size:9px; font-weight:bold">
          ReceiveQty
        </td>
        <td width="8%" style="text-align: center; font-size:9px; font-weight:bold">
          ReceiveBy
        </td>
        <td width="8%" style="text-align: center; font-size:9px; font-weight:bold">
          ConsumedQty
        </td>
        <td width="8%" style="text-align: center; font-size:9px; font-weight:bold">
          ClosingBalance
        </td>
        <td width="8%" style="text-align: center; font-size:9px; font-weight:bold">
          OpeningValue
        </td>
        <td width="8%" style="text-align: center; font-size:9px; font-weight:bold">
          ReceiveValue
        </td>
        <td width="8%" style="text-align: center; font-size:9px; font-weight:bold">
          ReturnValue
        </td>
        <td width="8%" style="text-align: center; font-size:9px; font-weight:bold">
          ConsumedValue
        </td>
        <td width="8%" style="text-align: center; font-size:9px; font-weight:bold">
          ClosingValue
        </td>
         
    </tr>
    @foreach (Rpt_DailyStockSummery oRDS in Model.StockSummaryforPrint)
    {       
        
            nSLNo++;
            <tr border="1">
                <td style="text-align: left; font-size:9px">
                     @nSLNo.ToString()
                </td>
                <td  style="text-align: left; font-size:9px">
                     @oRDS.ProductName
                </td>
                <td  style="text-align: left; font-size:9px">
                     @oRDS.MUName
                </td>
                <td  style="text-align: left; font-size:9px">
                     @oRDS.UnitPrice
                </td> 
                <td  style="text-align: left; font-size:9px">
                     @oRDS.OpeningBalance
                </td> 
                <td  style="text-align: left; font-size:9px">
                     @oRDS.ReceiveQty
                </td> 
                <td  style="text-align: left; font-size:9px">
                     @oRDS.ReturnQty
                </td> 
                <td  style="text-align: left; font-size:9px">
                     @oRDS.ConsumedQty
                </td> 
                <td  style="text-align: left; font-size:9px">
                     @oRDS.ClosingBalance
                </td> 
                <td  style="text-align: left; font-size:9px">
                     @oRDS.OpeningValue
                </td> 
                <td  style="text-align: left; font-size:9px">
                     @oRDS.ReceiveValue
                </td> 
                <td  style="text-align: left; font-size:9px">
                     @oRDS.ReturnValue
                <td  style="text-align: left; font-size:9px">
                     @oRDS.ConsumedValue
                </td>
                <td  style="text-align: left; font-size:9px">
                     @oRDS.ClosingValue
                </td>         
           </tr>
    }
    <tr border="0">
            <td style="text-align: left; font-size:9px"></td>
            <td  style="text-align: left; font-size:9px"></td>
            <td  style="text-align: left; font-size:9px"></td>
             <td  style="text-align: left; font-size:9px"></td>
            <td  style="text-align: right; font-size:9px">
                Total :
            </td>
          
        </tr>
</table>
<br />
<br />
<br />
<br />
<table border="0" cellpadding="3" cellspacing="3">

    <tr>
        <td width="33%"  style="text-align: left; font-size:9px">
        
        </td>

        <td width="34%"  style="text-align: left; font-size:9px">
        </td>

        <td width="33%"  style="text-align: left; font-size:9px">
        </td>    
    </tr>
    <tr>
        <td width="33%"  style="text-align: left; font-size:9px">
        __________________ 
        </td>
        <td width="34%"  style="text-align: center; font-size:9px">
        __________________        
        </td>
        <td width="33%"  style="text-align: right; font-size:9px">
        __________________         
        </td>
    </tr>
    <tr>
        <td width="33%"  style="text-align: left; font-size:9px">       
           Prepare by
        </td>
        <td width="34%"  style="text-align: center; font-size:9px">       
           Checked By
        </td>
        <td width="33%"  style="text-align: right; font-size:9px">       
           Approved By 
        </td>
    </tr>
    <tr>
        <td></td>
        <td></td>
        <td></td>    
    </tr>
</table>   