<html>
@{
    ViewBag.Title = "GRN Registers";
}
<body>
    @model ESimSol.BusinessObjects.GRNRegister
    <div id="progbarParent" style="width:100%;height:100%;margin:0 auto;text-align:center; margin-left: auto;margin-right: auto;left: 0;right: 0;z-index: 1;">
        <div style="margin: 0px auto;margin-top: 251px;text-align:center;width:390px;">
            <label style="font-size:18px;">Please wait</label>
            <div id="progbar" style="width:100%;height:37px;"></div>
        </div>
    </div>
    <div id="divGRN" class="menuMainCollectionTable">
        <div class="easyui-panel" title="GRN Registers" style="font-family:Tahoma; text-align:center; height:88%;">
            <fieldset style="height:95%; text-align:center;">
                <legend style="font-weight:bold"> Serching Criteria : </legend>
                <table border="0" cellspacing="2" cellpadding="2" style="font-size:11px; font-weight:bold; text-align:center; width:100%">
                    <tr>
                        <td colspan="5" style="height:20px;"></td>
                    </tr>
                    <tr>
                        <td style="width:15%;text-align:right"> GRN No :</td>
                        <td style="width:30%;text-align:left">
                            <input type="text" style="width:100%" id="txtGRNNo" />
                        </td>
                        <td style="width:5%;text-align:right"></td>
                        <td style="width:12%;text-align:right"> GRN Date :</td>
                        <td style="width:38%;text-align:right">
                            <table border="0" cellpadding="1" cellspacing="1" style="width:100%">
                                <tr>
                                    <td style="width:30%; text-align:center">
                                        <select id="cboGRNDate" style="width:100%"> </select>
                                    </td>
                                    <td style="width:30%; text-align:center">
                                        <input id="txtGRNDateStart" type="text" class="easyui-datebox" required="required" data-options="formatter:icsdateformat,parser:icsdateparser" style=" width:100%;" />
                                    </td>
                                    <td style="width:10%; text-align:center">to</td>
                                    <td style="width:30%; text-align:center">
                                        <input id="txtGRNDateEnd" type="text" class="easyui-datebox" required="required" data-options="formatter:icsdateformat,parser:icsdateparser" style=" width:100%;" />
                                    </td>
                                </tr>
                            </table>
                        </td>
                    </tr>
                    <tr>
                        <td style="width:15%;text-align:right"> Supplier :</td>
                        <td style="width:30%;text-align:left">
                            <table border="0" cellpadding="0" cellspacing="0" style="width:100%">
                                <tr>
                                    <td style="width:70%; text-align:left">
                                        <input type="text" style="width:98%" id="txtSupplier" placeholder="Press enter with supplier name" />
                                    </td>
                                    <td style="width:30%; text-align:right">
                                        <input type="button" value="C" style="width:30%" id="btnClearSupplier" />
                                        <input type="button" value="Pick" style="width:65%" id="btnPickSupplier" />
                                    </td>
                                </tr>
                            </table>
                        </td>
                        <td style="width:5%;text-align:right"></td>
                        <td style="width:12%;text-align:right"> Validity Date:</td>
                        <td style="width:38%;text-align:right">
                            <table border="0" cellpadding="1" cellspacing="1" style="width:100%">
                                <tr>
                                    <td style="width:30%; text-align:center">
                                        <select id="cboExpectedDeliveryDate" style="width:100%"> </select>
                                    </td>
                                    <td style="width:30%; text-align:center">
                                        <input id="txtExpectedDeliveryDateStart" type="text" class="easyui-datebox" required="required" data-options="formatter:icsdateformat,parser:icsdateparser" style=" width:100%;" />
                                    </td>
                                    <td style="width:10%; text-align:center">to</td>
                                    <td style="width:30%; text-align:center">
                                        <input id="txtExpectedDeliveryDateEnd" type="text" class="easyui-datebox" required="required" data-options="formatter:icsdateformat,parser:icsdateparser" style=" width:100%;" />
                                    </td>
                                </tr>
                            </table>
                        </td>
                    </tr>
                    <tr>
                        <td style="width:15%;text-align:right"> Product :</td>
                        <td style="width:30%;text-align:left">
                            <table border="0" cellpadding="0" cellspacing="0" style="width:100%">
                                <tr>
                                    <td style="width:70%; text-align:left">
                                        <input type="text" style="width:98%" id="txtProduct" placeholder="Press enter with product name" />
                                    </td>
                                    <td style="width:30%; text-align:right">
                                        <input type="button" value="C" style="width:30%" id="btnClearProduct" />
                                        <input type="button" value="PIck" style="width:65%" id="btnPickProduct" />
                                    </td>
                                </tr>
                            </table>
                        </td>
                        <td style="width:5%;text-align:right"></td>
                        <td style="width:12%;text-align:right"> Approved Date:</td>
                        <td style="width:38%;text-align:right">
                            <table border="0" cellpadding="1" cellspacing="1" width="100%">
                                <tr>
                                    <td style="width:30%; text-align:center">
                                        <select id="cboGRNApprovedDate" style="width:100%"> </select>
                                    </td>
                                    <td style="width:30%; text-align:center">
                                        <input id="txtGRNApprovedDateStart" type="text" class="easyui-datebox" required="required" data-options="formatter:icsdateformat,parser:icsdateparser" style=" width:100%;" />
                                    </td>
                                    <td style="width:10%; text-align:center">to</td>
                                    <td style="width:30%; text-align:center">
                                        <input id="txtGRNApprovedDateEnd" type="text" class="easyui-datebox" required="required" data-options="formatter:icsdateformat,parser:icsdateparser" style=" width:100%;" />
                                    </td>
                                </tr>
                            </table>
                        </td>
                    </tr>
                    <tr>
                        <td style="width:15%;text-align:right"> Challan No :</td>
                        <td style="width:30%;text-align:left">
                            <input type="text" style="width:100%" id="txtChallanNo" />
                        </td>
                        <td style="width:5%;text-align:right"></td>
                        <td style="width:12%;text-align:right"> GRN Amount :</td>
                        <td style="width:38%;text-align:right">
                            <table border="0" cellpadding="1" cellspacing="1" style="width:100%">
                                <tr>
                                    <td style="width:30%; text-align:center">
                                        <select id="cboGRNAmount" style="width:100%"> </select>
                                    </td>
                                    <td style="width:30%; text-align:center">
                                        <input id="txtGRNAmountStart" type="text" style=" width:95%;" />
                                    </td>
                                    <td style="width:10%; text-align:center">to</td>
                                    <td style="width:30%; text-align:center">
                                        <input id="txtGRNAmountEnd" type="text" style=" width:95%;" />
                                    </td>
                                </tr>
                            </table>
                        </td>
                    </tr>
                    <tr>
                        <td style="width:15%;text-align:right"> Approved By :</td>
                        <td style="width:30%;text-align:left">
                            <select id="cboApprovedBy" style="width:100%">  </select>
                        </td>
                        <td style="width:5%;text-align:right"></td>
                        <td style="width:12%;text-align:right"> GRN Status :</td>
                        <td style="width:38%;text-align:right">
                            <select id="cboGRNStatus" style="width:100%">  </select>
                        </td>
                    </tr>
                    <tr>
                        <td style="width:15%;text-align:right">Receive Store:</td>
                        <td style="width:30%;text-align:left">
                            <table border="0" cellpadding="0" cellspacing="0">
                                <tr>
                                    <td style="width:90%"><input id="txtReceiveWorkingUnit" style="width:100%;" type="text" placeholder="Type Receive store & Press Enter" /></td>
                                    <td style="width:10%"><input type="button" id="btnPickReceiveWorkingUnit" value="Pick" /></td>
                                </tr>
                            </table>
                        </td>
                        <td style="width:5%;text-align:right"></td>
                        <td style="width:12%;text-align:right">Style:</td>
                        <td style="width:38%;text-align:right">
                            <table border="0" cellpadding="0" cellspacing="0" style="width:100%">
                                <tr>
                                    <td style="width:80%; text-align:left">
                                        <input type="text" style="width:100%" id="txtStyleNo" placeholder="Press enter with Style No" />
                                    </td>
                                    <td style="width:20%; text-align:right">
                                        <input type="button" value="Pick" style="width:100%" id="btnPickStyle" onclick="PickStyle()" />
                                    </td>
                                </tr>
                            </table>
                        </td>
                    </tr>

                    <tr>
                        <td style="width:15%;text-align:right">Product Type :</td>
                        <td style="width:30%;text-align:left">
                            <select id="cboImportProducts" style="width:100%">  </select>
                        </td>
                        <td style="width:5%;text-align:right"></td>
                        <td style="width:12%;text-align:right">Remarks :</td>
                        <td style="width:38%;text-align:right">
                            <input type="text" id="txtRemarks" style="width:100%" />
                        </td>
                    </tr>
                    <tr>
                        <td style="width:15%;text-align:right"> Ref Type :</td>
                        <td style="width:30%;text-align:left">
                            <select id="cboRefType" style="width:100%">  </select>
                        </td>
                        <td style="width:5%;text-align:right"></td>
                        <td style="width:12%;text-align:right">RefNo :</td>
                        <td style="width:38%;text-align:right">
                            <table border="0" cellpadding="0" cellspacing="0" style="width:100%">
                                <tr>
                                    <td style="width:80%; text-align:left">
                                        <input type="text" style="width:100%" id="txtRefNo" placeholder="Press enter with Ref No" />
                                    </td>
                                    <td style="width:20%; text-align:right">
                                        <input type="button" value="Pick" style="width:100%" id="btnPickRefObject" />
                                    </td>
                                </tr>
                            </table>
                        </td>
                    </tr>
                    <tr>
                        <td style="width:15%;text-align:right">Lot No :</td>
                        <td style="width:30%;text-align:left">
                            <input type="text" id="txtLotNo" style="width:100%" />
                        </td>
                        <td style="width:5%;text-align:right"></td>
                        <td style="width:12%;text-align:right"> Color Name :</td>
                        <td style="width:38%;text-align:right">
                            <input type="text" id="txtColorName" style="width:100%" />
                        </td>
                    </tr>
                    <tr>
                        <td style="width:15%;text-align:right"> Report Layout :</td>
                        <td style="width:30%;text-align:left">
                            <select id="cboReportLayout" style="width:100%">  </select>
                        </td>
                        <td style="width:5%;text-align:right"></td>
                        <td style="width:12%;text-align:right"> </td>
                        <td style="width:38%;text-align:right"></td>
                    </tr>
                </table>
            </fieldset>
        </div>
        <fieldset>
            <legend style="font-weight:bold"> Action : </legend>
            <table border="0" cellspacing="2" cellpadding="2" style="font-size:11px; font-weight:bold; width:100%;">
                <tr>
                    <td style="width:40%;text-align:right"></td>
                    <td style="width:25%;text-align:right">
                        <a id="btnPreview" href="javascript:void(0)" class="easyui-linkbutton" iconcls="icon-print" plain="true">Preview</a>
                        <a id="btnExportToExcel" href="javascript:void(0)" class="easyui-linkbutton" iconcls="icon-excel" plain="true">Export to Excel</a>
                    </td>
                    <td id="tdReport" style="width:25%;text-align:right">                        
                        <a id="btnPreviewTwo" href="javascript:void(0)" class="easyui-linkbutton" iconcls="icon-print" plain="true">Preview 2</a>
                        <a id="btnExportToExcelTwo" href="javascript:void(0)" class="easyui-linkbutton" iconcls="icon-excel" plain="true">Export to Excel 2</a>
                    </td>
                    <td  style="width:10%;text-align:right">
                        <a id="btnClose" href="javascript:void(0)" class="easyui-linkbutton" iconcls="icon-cancel" plain="true">Close</a>
                    </td>
                </tr>
            </table>
        </fieldset>
    </div>
</body>
</html>


<script type="text/javascript">
    var _sBaseAddress="";
    var _nBUID = ""
    $(document).ready(function () {
        _nBUID =@Html.Raw(new System.Web.Script.Serialization.JavaScriptSerializer().Serialize(ViewBag.BUID));
        var oApprovalUsers = @Html.Raw(new System.Web.Script.Serialization.JavaScriptSerializer().Serialize(ViewBag.ApprovalUsers));
        var oReportLayouts = @Html.Raw(new System.Web.Script.Serialization.JavaScriptSerializer().Serialize(ViewBag.ReportLayouts));
        var oCompareOperators = @Html.Raw(new System.Web.Script.Serialization.JavaScriptSerializer().Serialize(ViewBag.CompareOperators));
        var oGRNStates = @Html.Raw(new System.Web.Script.Serialization.JavaScriptSerializer().Serialize(ViewBag.GRNStates));
        var oGRNTypes = @Html.Raw(new System.Web.Script.Serialization.JavaScriptSerializer().Serialize(ViewBag.GRNType));
        var IsRateView = @Html.Raw(new System.Web.Script.Serialization.JavaScriptSerializer().Serialize(ViewBag.IsRateView));
        var oImportProducts = @Html.Raw(new System.Web.Script.Serialization.JavaScriptSerializer().Serialize(ViewBag.ImportProducts));
        _sBaseAddress =@Html.Raw( new System.Web.Script.Serialization.JavaScriptSerializer().Serialize(HttpContext.Current.Session[SessionInfo.BaseAddress]));

        $("#progbar").progressbar({ value: 0 });
        $("#progbarParent").hide();
        $('#txtGRNAmountStart,#txtGRNAmountEnd').icsCurrencyBox();
        $("#cboGRNDate").icsLoadCombo({ List: oCompareOperators, OptionValue: "id", DisplayText: "Value" });
        $("#cboExpectedDeliveryDate").icsLoadCombo({ List: oCompareOperators, OptionValue: "id", DisplayText: "Value" });
        $("#cboGRNApprovedDate").icsLoadCombo({ List: oCompareOperators, OptionValue: "id", DisplayText: "Value" });
        $("#cboGRNAmount").icsLoadCombo({ List: oCompareOperators, OptionValue: "id", DisplayText: "Value" });
        $("#cboApprovedBy").icsLoadCombo({ List: oApprovalUsers, OptionValue: "UserID", DisplayText: "UserName" });
        $("#cboGRNStatus").icsLoadCombo({ List: oGRNStates, OptionValue: "id", DisplayText: "Value" });
        $("#cboReportLayout").icsLoadCombo({ List: oReportLayouts, OptionValue: "id", DisplayText: "Value" });
        $("#cboRefType").icsLoadCombo({ List: oGRNTypes, OptionValue: "id", DisplayText: "Value" });
        $("#cboImportProducts").icsLoadCombo({ List: oImportProducts, OptionValue: "ProductTypeInt", DisplayText: "Name" });
        $('#txtGRNDateStart').datebox({ disabled : true });
        $('#txtGRNDateEnd').datebox({ disabled : true });
        $('#txtExpectedDeliveryDateStart').datebox({ disabled : true });
        $('#txtExpectedDeliveryDateEnd').datebox({ disabled : true });
        $('#txtGRNApprovedDateStart').datebox({ disabled : true });
        $('#txtGRNApprovedDateEnd').datebox({ disabled : true });
        $('#txtGRNAmountStart').prop("disabled", true);
        $('#txtGRNAmountEnd').prop("disabled", true);
        $("#txtRefNo").prop("disabled", true);
        $("#btnPickRefObject").prop("disabled", true);
        $('#txtRefNo').data('RefObjectIDs', "")

        $('#txtGRNDateStart').datebox('setValue', icsdateformat(new Date()));
        $('#txtGRNDateEnd').datebox('setValue', icsdateformat(new Date()));
        $('#txtExpectedDeliveryDateStart').datebox('setValue', icsdateformat(new Date()));
        $('#txtExpectedDeliveryDateEnd').datebox('setValue', icsdateformat(new Date()));
        $('#txtGRNApprovedDateStart').datebox('setValue', icsdateformat(new Date()));
        $('#txtGRNApprovedDateEnd').datebox('setValue', icsdateformat(new Date()));
        $('#txtGRNAmountStart').val('0.00');
        $('#txtGRNAmountEnd').val('0.00');
        $('#txtStyleNo').data("StyleIDs",""),
        $('#txtReceiveWorkingUnit').data("WorkingUnitIDs","");
        $('#txtSupplier').data('Suppliers', []);
        $('#txtProduct').data('Products', []);
        $('#txtBankBranch').data('BankBranchs', []);
        $('#tdReport').hide();
        if(IsRateView)
        {
            $('#tdReport').show();
        }
        
    });

    function ValidateSearch()
    {

        var nGRNDate = parseInt($('#cboGRNDate').val());
        if(nGRNDate===1 || nGRNDate===2 || nGRNDate===3 || nGRNDate===4)
        {
            var sGRNDateStart   = $('#txtGRNDateStart').datebox('getValue');
            if(sGRNDateStart===null || sGRNDateStart==="")
            {
                alert("Please select GRN start date!");
                $('#txtGRNDateStart').focus();
                return false;
            }
        }
        if(nGRNDate===5 || nGRNDate===6)
        {
            var sGRNDateStart   = $('#txtGRNDateStart').datebox('getValue');
            var sGRNDateEnd   = $('#txtGRNDateEnd').datebox('getValue');
            if(sGRNDateStart===null || sGRNDateStart==="")
            {
                alert("Please select GRN start date!");
                $('#txtGRNDateStart').focus();
                return false;
            }
            if(sGRNDateEnd===null || sGRNDateEnd==="")
            {
                alert("Please select GRN end date!");
                $('#txtGRNDateEnd').focus();
                return false;
            }
            if(new Date(sGRNDateStart) > new Date(sGRNDateEnd))
            {
                alert("Start date must be smallar than or equal end date!");
                $('#txtGRNDateStart').focus();
                return false;
            }
        }

        var nExpectedDeliveryDate = parseInt($('#cboExpectedDeliveryDate').val());
        if(nExpectedDeliveryDate===1 || nExpectedDeliveryDate===2 || nExpectedDeliveryDate===3 || nExpectedDeliveryDate===4)
        {
            var sExpectedDeliveryDateStart   = $('#txtExpectedDeliveryDateStart').datebox('getValue');
            if(sExpectedDeliveryDateStart===null || sExpectedDeliveryDateStart==="")
            {
                alert("Please select validity start date!");
                $('#txtExpectedDeliveryDateStart').focus();
                return false;
            }
        }
        if(nExpectedDeliveryDate===5 || nExpectedDeliveryDate===6)
        {
            var sExpectedDeliveryDateStart   = $('#txtExpectedDeliveryDateStart').datebox('getValue');
            var sExpectedDeliveryDateEnd   = $('#txtExpectedDeliveryDateEnd').datebox('getValue');
            if(sExpectedDeliveryDateStart===null || sExpectedDeliveryDateStart==="")
            {
                alert("Please select validity start date!");
                $('#txtExpectedDeliveryDateStart').focus();
                return false;
            }
            if(sExpectedDeliveryDateEnd===null || sExpectedDeliveryDateEnd==="")
            {
                alert("Please select validity end date!");
                $('#txtExpectedDeliveryDateEnd').focus();
                return false;
            }
            if(new Date(sExpectedDeliveryDateStart) > new Date(sExpectedDeliveryDateEnd))
            {
                alert("Start date must be smallar than or equal end date!");
                $('#txtExpectedDeliveryDateStart').focus();
                return false;
            }
        }

        var nGRNApprovedDate = parseInt($('#cboGRNApprovedDate').val());
        if(nGRNApprovedDate===1 || nGRNApprovedDate===2 || nGRNApprovedDate===3 || nGRNApprovedDate===4)
        {
            var sGRNApprovedDateStart   = $('#txtGRNApprovedDateStart').datebox('getValue');
            if(sGRNApprovedDateStart===null || sGRNApprovedDateStart==="")
            {
                alert("Please select approved start date!");
                $('#txtGRNApprovedDateStart').focus();
                return false;
            }
        }
        if(nGRNApprovedDate===5 || nGRNApprovedDate===6)
        {
            var sGRNApprovedDateStart   = $('#txtGRNApprovedDateStart').datebox('getValue');
            var sGRNApprovedDateEnd   = $('#txtGRNApprovedDateEnd').datebox('getValue');
            if(sGRNApprovedDateStart===null || sGRNApprovedDateStart==="")
            {
                alert("Please select approved start date!");
                $('#txtGRNApprovedDateStart').focus();
                return false;
            }
            if(sGRNApprovedDateEnd===null || sGRNApprovedDateEnd==="")
            {
                alert("Please select approved end date!");
                $('#txtGRNApprovedDateEnd').focus();
                return false;
            }
            if(new Date(sGRNApprovedDateStart) > new Date(sGRNApprovedDateEnd))
            {
                alert("Start date must be smallar than or equal end date!");
                $('#txtGRNApprovedDateStart').focus();
                return false;
            }
        }

        var nGRNAmount = parseInt($('#cboGRNAmount').val());
        if(nGRNAmount===1 || nGRNAmount===2 || nGRNAmount===3 || nGRNAmount===4)
        {
            var sGRNAmountStart   = $.trim($('#txtGRNAmountStart').val());
            if(sGRNAmountStart===null || sGRNAmountStart==="")
            {
                alert("Please enter invoice start Amount!");
                $('#txtGRNAmountStart').focus();
                return false;
            }
            if(icsRemoveComma(sGRNAmountStart)<=0)
            {
                alert("Please enter GRN start Amount!");
                $('#txtGRNAmountStart').focus();
                return false;
            }
        }
        if(nGRNAmount===5 || nGRNAmount===6)
        {
            var sGRNAmountStart = $.trim($('#txtGRNAmountStart').val());
            if(sGRNAmountStart===null || sGRNAmountStart==="")
            {
                alert("Please enter GRN start Amount!");
                $('#txtGRNAmountStart').focus();
                return false;
            }
            if(icsRemoveComma(sGRNAmountStart)<=0)
            {
                alert("Please enter GRN start Amount!");
                $('#txtGRNAmountStart').focus();
                return false;
            }

            var sGRNAmountEnd = $.trim($('#txtGRNAmountEnd').val());
            if(sGRNAmountEnd===null || sGRNAmountEnd==="")
            {
                alert("Please enter GRN end Amount!");
                $('#txtGRNAmountEnd').focus();
                return false;
            }
            if(icsRemoveComma(sGRNAmountEnd)<=0)
            {
                alert("Please enter invoice end Amount!");
                $('#txtGRNAmountEnd').focus();
                return false;
            }
            if(icsRemoveComma(sGRNAmountStart) >= icsRemoveComma(sGRNAmountEnd))
            {
                alert("Start amount must be smallar than end amount!");
                $('#txtGRNAmountStart').focus();
                return false;
            }
        }

        var nReportLayout = parseInt($('#cboReportLayout').val());
        if(nReportLayout<=0)
        {
            alert("Please select an Report Layout!");
            return;
        }

        var sGRNNo =$.trim($('#txtGRNNo').val());
        var nRefType =parseInt($.trim($('#cboRefType').val()));
        var sRefNo = "";

        if($('#txtRefNo').data('RefObjectIDs') != "")
        {
            if(nRefType == 0 && nRefType == 5 && nRefType == 7)
            {
                alert("Please Pick items for Ref Type!");
                return;
            }
        }

        var sChallanNo = $.trim($('#txtChallanNo').val());
        var nApprovedBy = parseInt($('#cboApprovedBy').val());
        var nGRNStatus = parseInt($('#cboGRNStatus').val());
        var sRemarks =$.trim($('#txtRemarks').val());
        var oSuppliers = $('#txtSupplier').data('Suppliers');
        var oProducts = $('#txtProduct').data('Products');
        var ncboImportProduct = parseInt($('#cboImportProducts').val());
        var sLotNo = $.trim($('#txtLotNo').val());
        var sColorName = $.trim($('#txtColorName').val());
        if(nGRNDate === 0 && nRefType === 0 && sRefNo === "" && nExpectedDeliveryDate === 0 && $('#txtStyleNo').data("StyleIDs")==="" && $('#txtReceiveWorkingUnit').data("WorkingUnitIDs")==="" && nGRNApprovedDate === 0 && nGRNAmount === 0 && sGRNNo === "" && sChallanNo === "" && sLotNo ==="" && sColorName === "" && nApprovedBy === 0 && nGRNStatus === 0  && sRemarks === "" && oSuppliers.length<=0 && oProducts.length<=0 && ncboImportProduct<=0)
        {
            alert("Please select atleast one searching criteriea!");
            return false;
        }
        return true;
    }

    function RefreshObject()
    {
        var oSuppliers = $('#txtSupplier').data('Suppliers');
        var oProducts = $('#txtProduct').data('Products');

        var nGRNDate = parseInt($('#cboGRNDate').val());
        var sGRNDateStart   = $('#txtGRNDateStart').datebox('getValue');
        var sGRNDateEnd   = $('#txtGRNDateEnd').datebox('getValue');

        var nExpectedDeliveryDate = parseInt($('#cboExpectedDeliveryDate').val());
        var sExpectedDeliveryDateStart   = $('#txtExpectedDeliveryDateStart').datebox('getValue');
        var sExpectedDeliveryDateEnd   = $('#txtExpectedDeliveryDateEnd').datebox('getValue');

        var nGRNApprovedDate = parseInt($('#cboGRNApprovedDate').val());
        var sGRNApprovedDateStart   = $('#txtGRNApprovedDateStart').datebox('getValue');
        var sGRNApprovedDateEnd   = $('#txtGRNApprovedDateEnd').datebox('getValue');

        var nGRNAmount = parseInt($('#cboGRNAmount').val());
        var nGRNAmountStart = icsRemoveComma($.trim($('#txtGRNAmountStart').val()));
        var nGRNAmountEnd = icsRemoveComma($.trim($('#txtGRNAmountEnd').val()));
        var nRefType =parseInt($.trim($('#cboRefType').val()));
        var sRefNo = $('#txtRefNo').data('RefObjectIDs');

        var sSearchingData  =  nGRNDate+'~';
        sSearchingData = sSearchingData + sGRNDateStart+'~';
        sSearchingData = sSearchingData + sGRNDateEnd+'~';
        sSearchingData = sSearchingData + nExpectedDeliveryDate+'~';
        sSearchingData = sSearchingData + sExpectedDeliveryDateStart+'~';
        sSearchingData = sSearchingData + sExpectedDeliveryDateEnd+'~';
        sSearchingData = sSearchingData + nGRNApprovedDate+'~';
        sSearchingData = sSearchingData + sGRNApprovedDateStart+'~';
        sSearchingData = sSearchingData + sGRNApprovedDateEnd+'~';
        sSearchingData = sSearchingData + nGRNAmount +'~';
        sSearchingData = sSearchingData + nGRNAmountStart +'~';
        sSearchingData = sSearchingData + nGRNAmountEnd +'~';
        sSearchingData = sSearchingData + nRefType +'~';
        sSearchingData = sSearchingData + sRefNo;


        var oGRNRegister = {
            BUID        : parseInt(sessionStorage.getItem("BUID")),
            GRNNo       : $.trim($('#txtGRNNo').val()),
            ChallanNo   : $.trim($('#txtChallanNo').val()),
            StyleNo     : $('#txtStyleNo').data("StyleIDs"),
            StoreName   :$('#txtReceiveWorkingUnit').data("WorkingUnitIDs"),
            ProductType : parseInt($('#cboImportProducts').val()),
            ApproveBy   : parseInt($('#cboApprovedBy').val()),
            GRNStatus   : parseInt($('#cboGRNStatus').val()),
            Remarks     : $.trim($('#txtRemarks').val()),
            SupplierName: ICS_PropertyConcatation(oSuppliers, 'ContractorID'),
            ProductName : ICS_PropertyConcatation(oProducts, 'ProductID'),
            ReportLayout: parseInt($('#cboReportLayout').val()),
            LotNo       : $.trim($('#txtLotNo').val()),
            ColorName   : $.trim($('#txtColorName').val()),
            SearchingData : sSearchingData
        };
        return oGRNRegister;
    }

    $('#btnPreview').click(function(e){
        if(!ValidateSearch()) return;
        var oGRNRegister = RefreshObject();
        $.ajax({
            type: "POST",
            dataType: "json",
            url : _sBaseAddress+  "/GRNRegister/SetSessionSearchCriteria",
            traditional: true,
            data:  JSON.stringify(oGRNRegister),
            contentType: "application/json; charset=utf-8",
            success: function (data) {
                var sFeedBackMessage = jQuery.parseJSON(data);
                if (sFeedBackMessage === "Successful") {
                    var tsv=((new Date()).getTime())/1000;
                    window.open(_sBaseAddress+'/GRNRegister/PrintGRNRegister?ts='+tsv,"_blank");
                }
            },
            error: function (xhr, status, error) {
                alert(error);
            }
        });
    });
    $('#btnPreviewTwo').click(function(e){
        // if(!ValidateSearch()) return;
        var nReportLayout = parseInt($('#cboImportProducts').val());
        if(nReportLayout<=0)
        {
            alert("Please select an ProductType!");
            return;
        }
        var oGRNRegister = RefreshObject();
        $.ajax({
            type: "POST",
            dataType: "json",
            url : _sBaseAddress+  "/GRNRegister/SetSessionSearchCriteria",
            traditional: true,
            data:  JSON.stringify(oGRNRegister),
            contentType: "application/json; charset=utf-8",
            success: function (data) {
                var sFeedBackMessage = jQuery.parseJSON(data);
                if (sFeedBackMessage === "Successful") {
                    var tsv=((new Date()).getTime())/1000;
                    window.open(_sBaseAddress+'/GRNRegister/PrintGRNRegisterTwo?ts='+tsv,"_blank");
                }
            },
            error: function (xhr, status, error) {
                alert(error);
            }
        });
    });

    $('#cboRefType').change(function()
    {
        debugger;
        $("#txtRefNo").val("");
        $("#txtRefNo").prop("disabled", true);
        $("#btnPickRefObject").prop("disabled", true);
        $('#txtRefNo').data('RefObjectIDs', "");

        if($('#cboRefType').val() != 0 && $('#cboRefType').val() != 5 && $('#cboRefType').val() != 7 )
        {
            $("#txtRefNo").prop("disabled", false);
            $("#btnPickRefObject").prop("disabled", false);
        }

    });

    $('#btnExportToExcel').click(function(e){
        if(!ValidateSearch()) return;
        var oGRNRegister = RefreshObject();
        $.ajax({
            type: "POST",
            dataType: "json",
            url : _sBaseAddress+  "/GRNRegister/SetSessionSearchCriteria",
            traditional: true,
            data:  JSON.stringify(oGRNRegister),
            contentType: "application/json; charset=utf-8",
            success: function (data) {
                var sFeedBackMessage = jQuery.parseJSON(data);
                if (sFeedBackMessage==="Successful") {
                    var tsv=((new Date()).getTime())/1000;
                    window.open(_sBaseAddress+'/GRNRegister/ExportToExcelGRNRegister?ts='+tsv,"_blank");
                }
            },
            error: function (xhr, status, error) {
                alert(error);
            }
        });
    });

    $('#btnExportToExcelTwo').click(function(e){
        var nReportLayout = parseInt($('#cboImportProducts').val());
        if(nReportLayout<=0)
        {
            alert("Please select an ProductType!");
            return;
        }
        var oGRNRegister = RefreshObject();
        $.ajax({
            type: "POST",
            dataType: "json",
            url : _sBaseAddress+  "/GRNRegister/SetSessionSearchCriteria",
            traditional: true,
            data:  JSON.stringify(oGRNRegister),
            contentType: "application/json; charset=utf-8",
            success: function (data) {
                var sFeedBackMessage = jQuery.parseJSON(data);
                if (sFeedBackMessage === "Successful") {
                    var tsv=((new Date()).getTime())/1000;
                    window.open(_sBaseAddress+'/GRNRegister/ExportToExcelGRNRegisterTwo?ts='+tsv,"_blank");
                }
            },
            error: function (xhr, status, error) {
                alert(error);
            }
        });
    });

    $('#cboGRNDate').change(function(e){
        //EqualTo = 1, NotEqualTo = 2, GreaterThen = 3, SmallerThen = 4, Between = 5, NotBetween = 6
        var nCompareOperator =   parseInt($('#cboGRNDate').val());
        if(nCompareOperator===0)
        {
            $('#txtGRNDateStart').datebox({ disabled : true });
            $('#txtGRNDateEnd').datebox({ disabled : true });
        }
        else if (nCompareOperator===1 || nCompareOperator===2 || nCompareOperator===3 || nCompareOperator===4)
        {
            $('#txtGRNDateStart').datebox({ disabled : false });
            $('#txtGRNDateEnd').datebox({ disabled : true });
        }
        else
        {
            $('#txtGRNDateStart').datebox({ disabled : false });
            $('#txtGRNDateEnd').datebox({ disabled : false });
        }
        $('#txtGRNDateStart').datebox('setValue', icsdateformat(new Date()));
        $('#txtGRNDateEnd').datebox('setValue', icsdateformat(new Date()));
    });

    $('#cboExpectedDeliveryDate').change(function(e){
        //EqualTo = 1, NotEqualTo = 2, GreaterThen = 3, SmallerThen = 4, Between = 5, NotBetween = 6
        var nCompareOperator =   parseInt($('#cboExpectedDeliveryDate').val());
        if(nCompareOperator===0)
        {
            $('#txtExpectedDeliveryDateStart').datebox({ disabled : true });
            $('#txtExpectedDeliveryDateEnd').datebox({ disabled : true });
        }
        else if (nCompareOperator===1 || nCompareOperator===2 || nCompareOperator===3 || nCompareOperator===4)
        {
            $('#txtExpectedDeliveryDateStart').datebox({ disabled : false });
            $('#txtExpectedDeliveryDateEnd').datebox({ disabled : true });
        }
        else
        {
            $('#txtExpectedDeliveryDateStart').datebox({ disabled : false });
            $('#txtExpectedDeliveryDateEnd').datebox({ disabled : false });
        }
        $('#txtExpectedDeliveryDateStart').datebox('setValue', icsdateformat(new Date()));
        $('#txtExpectedDeliveryDateEnd').datebox('setValue', icsdateformat(new Date()));
    });

    $('#cboGRNApprovedDate').change(function(e){
        //EqualTo = 1, NotEqualTo = 2, GreaterThen = 3, SmallerThen = 4, Between = 5, NotBetween = 6
        var nCompareOperator =   parseInt($('#cboGRNApprovedDate').val());
        if(nCompareOperator===0)
        {
            $('#txtGRNApprovedDateStart').datebox({ disabled : true });
            $('#txtGRNApprovedDateEnd').datebox({ disabled : true });
        }
        else if (nCompareOperator===1 || nCompareOperator===2 || nCompareOperator===3 || nCompareOperator===4)
        {
            $('#txtGRNApprovedDateStart').datebox({ disabled : false });
            $('#txtGRNApprovedDateEnd').datebox({ disabled : true });
        }
        else
        {
            $('#txtGRNApprovedDateStart').datebox({ disabled : false });
            $('#txtGRNApprovedDateEnd').datebox({ disabled : false });
        }
        $('#txtGRNApprovedDateStart').datebox('setValue', icsdateformat(new Date()));
        $('#txtGRNApprovedDateEnd').datebox('setValue', icsdateformat(new Date()));
    });

    $('#cboGRNAmount').change(function(e){
        //EqualTo = 1, NotEqualTo = 2, GreaterThen = 3, SmallerThen = 4, Between = 5, NotBetween = 6
        var nCompareOperator =   parseInt($('#cboGRNAmount').val());
        if(nCompareOperator===0)
        {
            $('#txtGRNAmountStart').prop("disabled", true);
            $('#txtGRNAmountEnd').prop("disabled", true);
        }
        else if (nCompareOperator===1 || nCompareOperator===2 || nCompareOperator===3 || nCompareOperator===4)
        {
            $('#txtGRNAmountStart').prop("disabled", false);
            $('#txtGRNAmountEnd').prop("disabled", true);
        }
        else
        {
            $('#txtGRNAmountStart').prop("disabled", false);
            $('#txtGRNAmountEnd').prop("disabled", false);
        }
        $('#txtGRNAmountStart').val('0.00');
        $('#txtGRNAmountEnd').val('0.00');
    });

    $('#btnClose').click(function (e) {
        window.location.href = window.location.href;
    });

    //Ref Object Part
    $("#btnPickRefObject").click(function () {
        PickRefObject();
    });
    $("#txtRefNo").keydown(function (e) {
        var nkeyCode = e.keyCode || e.which;
        if(nkeyCode==13)
        {
            if($('#txtRefNo').val()===null || $('#txtRefNo').val()==="")
            {
                alert("Please Type Ref No.");
                return;
            }
            PickRefObject();
        }
    });
    function PickRefObject()
    {
        debugger;
        var nType = $('#cboRefType').val();
        var nRefType = parseInt($('#cboRefType').val());
        if(nRefType===0)
        {
            alert("Please select Ref Type!");
            return;
        }

        var oGRN = {
            BUID : _nBUID,
            GRNTypeInt : nRefType,
            RefObjectNo : $.trim($('#txtRefNo').val()),
        };
        if(parseInt(nRefType)===1 )
        {
            var obj = {
                BaseAddress: _sBaseAddress,
                Object: oGRN,
                ControllerName: "GRNRegister",
                ActionName: "GetsPurchaseInvocie",
                IsWinClose: false
            };
            $.icsDataGets(obj, function (response) {
                if (response.status && response.objs.length > 0) {
                    if (response.objs[0].PurchaseInvoiceID > 0) {
                        var tblColums = [];var oColumn = { field: "PurchaseInvoiceNo", title: "Invoice No", width: 100, align: "left" };tblColums.push(oColumn);
                        oColumn = { field: "BillNo", title: "Bill No", width: 80, align: "left" };tblColums.push(oColumn);
                        oColumn = { field: "DateofInvoiceSt", title: "Invoice Date", width: 80, align: "left" };tblColums.push(oColumn);
                        oColumn = { field: "ContractorName", title: "Vendor Name", width: 150, align: "left" };tblColums.push(oColumn);
                        oColumn = { field: "ProductName", title: "Product Name", width: 120, align: "left" };tblColums.push(oColumn);
                        var oPickerParam = {
                            winid: 'winPurchaseInvoices',
                            winclass: 'clsPurchaseInvoice',
                            winwidth: 500,
                            winheight: 420,
                            tableid: 'tblPurchaseInvoices',
                            tablecolumns: tblColums,
                            datalist: response.objs,
                            multiplereturn: true,
                            searchingbyfieldName: 'PurchaseInvoiceNo',
                            windowTittle: 'Purchase Invoice List'
                        };
                        $.icsPicker(oPickerParam);
                        IntializePickerbutton(oPickerParam);
                    }
                    else { alert(response.objs[0].ErrorMessage); }
                }
                else
                {
                    alert("Data Not Found!");
                }
            });
        }
        else if(parseInt(nRefType)===2 || parseInt(nRefType)===4)
        {
            var obj = {
                BaseAddress: _sBaseAddress,
                Object: oGRN,
                ControllerName: "GRNRegister",
                ActionName: "GetsImportInvocie",
                IsWinClose: false
            };
            $.icsDataGets(obj, function (response) {
                if (response.status && response.objs.length > 0) {
                    if (response.objs[0].ImportInvoiceID > 0) {
                        var tblColums = [];var oColumn = { field: "ImportInvoiceNo", title: "Invoice No", width: 130, align: "left" };tblColums.push(oColumn);
                        oColumn = { field: "InvoiceDateInString", title: "Invoice Date", width: 100, align: "left" };tblColums.push(oColumn);
                        oColumn = { field: "ImportLCNo", title: "LC No", width: 150, align: "left" };tblColums.push(oColumn);
                        oColumn = { field: "ContractorName", title: "Supplier Name", width: 150, align: "left" };tblColums.push(oColumn);

                        var oPickerParam = {
                            winid: 'winImportInvoices',
                            winclass: 'clsImportInvoice',
                            winwidth: 580,
                            winheight: 420,
                            tableid: 'tblImportInvoices',
                            tablecolumns: tblColums,
                            datalist: response.objs,
                            multiplereturn: true,
                            searchingbyfieldName: 'RefObjectNo',
                            windowTittle: 'Import Invoice List'
                        };
                        $.icsPicker(oPickerParam);
                        IntializePickerbutton(oPickerParam);
                    }
                    else { alert("Data Not Found!"); }
                }
                else
                {
                    alert("Data Not Found!");
                }
            });
        }
        else if(parseInt(nRefType)===3)
        {
            var obj = {
                BaseAddress: _sBaseAddress,
                Object: oGRN,
                ControllerName: "GRNRegister",
                ActionName: "GetsWorkOrder",
                IsWinClose: false
            };
            $.icsDataGets(obj, function (response) {
                if (response.status && response.objs.length > 0) {
                    if (response.objs[0].WorkOrderID > 0) {
                        var tblColums = [];var oColumn = { field: "FullFileNo", title: "File No", width: 150, align: "left" };tblColums.push(oColumn);
                        oColumn = { field: "WorkOrderNo", title: "WO No", width: 150, align: "left" };tblColums.push(oColumn);
                        oColumn = { field: "WorkOrderDateSt", title: "WO Date", width: 100, align: "left" };tblColums.push(oColumn);
                        oColumn = { field: "SupplierName", title: "Supplier Name", width: 150, align: "left" };tblColums.push(oColumn);

                        var oPickerParam = {
                            winid: 'winWorkOrder',
                            winclass: 'clsWorkOrder',
                            winwidth: 500,
                            winheight: 420,
                            tableid: 'tblWorkOrder',
                            tablecolumns: tblColums,
                            datalist: response.objs,
                            multiplereturn: true,
                            searchingbyfieldName: 'FileNo',
                            windowTittle: 'Work Order List'
                        };
                        $.icsPicker(oPickerParam);
                        IntializePickerbutton(oPickerParam);
                    }
                    else { alert("Data Not Found!"); }
                }
                else
                {
                    alert("Data Not Found!");
                }
            });
        }
        else if(parseInt(nRefType)===6)
        {
            var obj = {
                BaseAddress: _sBaseAddress,
                Object: oGRN,
                ControllerName: "GRNRegister",
                ActionName: "GetsImportPIs",
                IsWinClose: false
            };
            $.icsDataGets(obj, function (response) {
                if (response.status && response.objs.length > 0) {
                    if (response.objs[0].ImportPIID > 0) {
                        var tblColums = [];
     
                        var tblColums = [];var oColumn = { field: "ImportPINo", title: "P/I No", width: 100, align: "left" };tblColums.push(oColumn);
                        oColumn = { field: "SupplierName", title: "Supplier Name", width: 150, align: "left" };tblColums.push(oColumn);
                        oColumn = { field: "IssueDateSt", title: "P/I Date", width: 100, align: "left" };tblColums.push(oColumn);


                        var oPickerParam = {
                            winid: 'winImportPI',
                            winclass: 'clsImportPI',
                            winwidth: 500,
                            winheight: 420,
                            tableid: 'tblImportPI',
                            tablecolumns: tblColums,
                            datalist: response.objs,
                            multiplereturn: true,
                            placeholder : 'Search By ImportPI No',
                            searchingbyfieldName: 'ImportPINo',
                            windowTittle: 'ImportPI List'
                        };
                        $.icsPicker(oPickerParam);
                        IntializePickerbutton(oPickerParam);
                    }
                    else { alert("Data Not Found!"); }
                }
                else
                {
                    alert("Data Not Found!");
                }
            });
        }
        else if(parseInt(nRefType)===7)
        {
            var obj = {
                BaseAddress: _sBaseAddress,
                Object: oGRN,
                ControllerName: "GRNRegister",
                ActionName: "GetsConsumptions",
                IsWinClose: false
            };
            $.icsDataGets(obj, function (response) {
                if (response.status && response.objs.length > 0) {
                    if (response.objs[0].ConsumptionRequisitionID > 0) {
                        var tblColums = [];var oColumn = { field: "RefNo", title: "Ref No", width: 150, align: "left" };tblColums.push(oColumn);
                        oColumn = { field: "RequisitionNo", title: "Requisition No", width: 150, align: "left" };tblColums.push(oColumn);
                        oColumn = { field: "IssueDateSt", title: "Issue Date", width: 100, align: "left" };tblColums.push(oColumn);
                        oColumn = { field: "RequisitionForName", title: "Style No", width: 150, align: "left" };tblColums.push(oColumn);

                        var oPickerParam = {
                            winid: 'winConsumption',
                            winclass: 'clsConsumption',
                            winwidth: 500,
                            winheight: 420,
                            tableid: 'tblConsumption',
                            tablecolumns: tblColums,
                            datalist: response.objs,
                            multiplereturn: true,
                            searchingbyfieldName: 'RequisitionForName',
                            windowTittle: 'Style List'
                        };
                        $.icsPicker(oPickerParam);
                        IntializePickerbutton(oPickerParam);
                    }
                    else { alert("Data Not Found!"); }
                }
                else
                {
                    alert("Data Not Found!");
                }
            });
        }else if(parseInt(nRefType)===8 )//for PO
        {
            var obj = {
                BaseAddress: _sBaseAddress,
                Object: oGRN,
                ControllerName: "GRNRegister",
                ActionName: "GetsPurchaseOrders",
                IsWinClose: false
            };
            $.icsDataGets(obj, function (response) {
                if (response.status && response.objs.length > 0) {
                    if (response.objs[0].POID > 0) {
                        var tblColums = [];var oColumn = { field: "PONo", title: "Invoice No", width: 100, align: "left" };tblColums.push(oColumn);
                        oColumn = { field: "PODateSt", title: "PO Date", width: 80, align: "left" };tblColums.push(oColumn);
                        oColumn = { field: "ContractorName", title: "Vendor Name", width: 150, align: "left" };tblColums.push(oColumn);
                        oColumn = { field: "YetToGRNQty",formatter:formatPrice,  title: "Qty", width: 100, align: "right" };tblColums.push(oColumn);
                        var oPickerParam = {
                            winid: 'winPurchaseOrders',
                            winclass: 'clsPurchaseOrder',
                            winwidth: 500,
                            winheight: 420,
                            tableid: 'tblPurchaseOrders',
                            tablecolumns: tblColums,
                            datalist: response.objs,
                            multiplereturn: true,
                            searchingbyfieldName: 'PONo',
                            windowTittle: 'Purchase Order List'
                        };
                        $.icsPicker(oPickerParam);
                        IntializePickerbutton(oPickerParam);
                    }
                    else { alert(response.objs[0].ErrorMessage); }
                }
                else
                {
                    alert("Data Not Found!");
                }
            });
        }
    }
    //End

    ///Supplier GRNck
    function PickSupplier()
    {
        debugger;
        var nBUID = parseInt(sessionStorage.getItem("BUID"));
        var oContractor = { Params: 1 + '~' + $.trim($('#txtSupplier').val())+'~'+ nBUID };//here 1 is Supplier
        var obj = {
            BaseAddress: sessionStorage.getItem("BaseAddress"),
            Object: oContractor,
            ControllerName: "Contractor",
            ActionName: "ContractorSearchByNameType",
            IsWinClose: false
        };
        $("#progbar").progressbar({ value: 0 });
        $("#progbarParent").show();
        var intervalID = setInterval(updateProgress, 250);
        $.icsDataGets(obj, function (response) {
            clearInterval(intervalID);
            $("#progbarParent").hide();
            if (response.status && response.objs.length > 0) {
                if (response.objs[0].ContractorID > 0) {
                    var tblColums = []; var oColumn = { field: "Name", title: "Name", width: 200, align: "left" }; tblColums.push(oColumn);
                    oColumn = { field: "Address", title: "Address", width: 120, align: "left" }; tblColums.push(oColumn);
                    oColumn = { field: "Email", title: "Email", width: 90, align: "left" }; tblColums.push(oColumn);
                    oColumn = { field: "ShortName", title: "Short Name", width: 90, align: "left" }; tblColums.push(oColumn);
                    var oPickerParam = {
                        winid: 'winSuppliers',
                        winclass: 'clsSuppliers',
                        winwidth: 600,
                        winheight: 460,
                        tableid: 'tblSuppliers',
                        tablecolumns: tblColums,
                        datalist: response.objs,
                        multiplereturn: true,
                        searchingbyfieldName: 'Name',
                        windowTittle: 'Supplier List'
                    };
                    $.icsPicker(oPickerParam);
                    IntializePickerbutton(oPickerParam);
                }
                else { alert(response.objs[0].ErrorMessage); }
            }else{
                alert("Data Not Found.");
                return;
            }
        });
    }
    $("#txtSupplier").keydown(function (e) {
        var code = (e.keyCode ? e.keyCode : e.which);
        if (code == 13) // Enter Press
        {
            if($.trim($('#txtSupplier').val())===null || $.trim($('#txtSupplier').val())==="")
            {
                alert("Press enter with supplier name");
                return;
            }
            PickSupplier();
        }
    });
    $("#btnPickSupplier").click(function () {
        $('#txtSupplier').val('');
        PickSupplier();
    });
    $('#txtSupplier').keydown(function (e) {
        var code = (e.keyCode ? e.keyCode : e.which);
        if (code == 8) //backspace=8
        {
            $("#txtSupplier").removeClass("fontColorOfPickItem");
            $('#txtSupplier').data('Suppliers', []);
        }
    });
    $('#btnClearSupplier').click(function(e){
        $("#txtSupplier").val("");
        $('#txtSupplier').data('Suppliers', []);
        $("#txtSupplier").removeClass("fontColorOfPickItem");
    });
    //End Supplier GRNcker

    //Product GRNck
    function PickProduct()
    {
        var nBUID = parseInt(sessionStorage.getItem("BUID"));
        var oProduct = {
            BUID : nBUID,
            ProductName : $.trim($('#txtProduct').val())
        };
        var obj = {
            BaseAddress: sessionStorage.getItem("BaseAddress"),
            Object: oProduct,
            ControllerName: "Product",
            ActionName: "SearchByProductBUWise",
            IsWinClose: false
        };
        $("#progbar").progressbar({ value: 0 });
        $("#progbarParent").show();
        var intervalID = setInterval(updateProgress, 250);
        $.icsDataGets(obj, function (response) {
            clearInterval(intervalID);
            $("#progbarParent").hide();
            if (response.status && response.objs.length > 0) {
                if (response.objs[0].ProductID > 0) {
                    var tblColums = [];
                    var oColumn = { field: "ProductCode", title: "Product Code", width: 80, align: "left" }; tblColums.push(oColumn);
                    oColumn = { field: "ProductName", title: "Product Name", width: 300, align: "left" }; tblColums.push(oColumn);
                    oColumn = { field: "ShortName", title: "Short Name", width: 100, align: "left" }; tblColums.push(oColumn);
                    oColumn = { field: "ProductCategoryName", title: "Category", width: 100, align: "left" }; tblColums.push(oColumn)
                    var oPickerParam = {
                        winid: 'winProducts',
                        winclass: 'clsProducts',
                        winwidth: 600,
                        winheight: 460,
                        tableid: 'tblProducts',
                        tablecolumns: tblColums,
                        datalist: response.objs,
                        multiplereturn: true,
                        searchingbyfieldName: 'ProductName',
                        windowTittle: 'Product List'
                    };
                    $.icsPicker(oPickerParam);
                    IntializePickerbutton(oPickerParam);
                }
                else { alert(response.objs[0].ErrorMessage); }
            }else{
                alert("Data Not Found.");
                return;
            }
        });
    }
    $("#txtProduct").keydown(function (e) {
        var code = (e.keyCode ? e.keyCode : e.which);
        if (code == 13) // Enter Press
        {
            if($.trim($('#txtProduct').val())===null || $.trim($('#txtProduct').val())==="")
            {
                alert("Press enter with product name");
                return;
            }
            PickProduct();
        }
    });
    $("#btnPickProduct").click(function () {
        $('#txtProduct').val('');
        PickProduct();
    });
    $('#txtProduct').keydown(function (e) {
        var code = (e.keyCode ? e.keyCode : e.which);
        if (code == 8) //backspace=8
        {
            $("#txtProduct").removeClass("fontColorOfPickItem");
            $('#txtProduct').data('Products', []);
        }
    });
    $('#btnClearProduct').click(function(e){
        $("#txtProduct").val("");
        $('#txtProduct').data('Products', []);
        $("#txtProduct").removeClass("fontColorOfPickItem");
    });
    //End Product GRNcker

    //style Pick start
    $("#txtStyleNo").keydown(function (e) {
        var code = (e.keyCode ? e.keyCode : e.which);
        if (code == 13) // Enter Press
        {
            var sStyleNumber = $.trim($('#txtStyleNo').val());
            if(sStyleNumber=== null || sStyleNumber === "")
            {
                alert("Press Enter With Style Number!");
                $('#txtStyleNo').focus();
                return;
            }
            PickStyle();
        }else  if (code == 8) //backspace=8
        {
            $("#txtStyleNo").removeClass("fontColorOfPickItem");
            $('#txtStyleNo').data("StyleIDs","");
        }
    });
    function PickStyle()
    {
        var oTechnicalSheet = { StyleNo:$.trim($('#txtStyleNo').val()),BUID:parseInt(sessionStorage.getItem('BUID'))};
        var obj = {
            BaseAddress: sessionStorage.getItem('BaseAddress'),
            Object: oTechnicalSheet,
            ControllerName: "TechnicalSheet",
            ActionName: "StyleSearch",
            IsWinClose: false
        };
        $.icsDataGets(obj, function (response) {

            if (response.status && response.objs.length > 0) {
                if (response.objs[0].TechnicalSheetID > 0) {
                    var tblColums = []; var oColumn = { field: "StyleNo", title: "Style No", width: 100, align: "left" }; tblColums.push(oColumn);
                    oColumn = { field: "BuyerName", title: "Buyer Name", width: 200, align: "left" }; tblColums.push(oColumn);
                    oColumn = { field: "SessionName", title: "Business Session", width: 100, align: "left" }; tblColums.push(oColumn);
                    var oPickerParam = {
                        winid: 'winStylePicker',
                        winclass: 'clsStylePicker',
                        winwidth: 600,
                        winheight: 460,
                        tableid: 'tblStylePicker',
                        tablecolumns: tblColums,
                        datalist: response.objs,
                        multiplereturn: true,
                        searchingbyfieldName: 'StyleNo',
                        windowTittle: 'Style List'
                    };
                    $.icsPicker(oPickerParam);
                    IntializePickerbutton(oPickerParam);
                }
                else {
                    alert(response.objs[0].ErrorMessage);
                }

            }else{
                alert("Data Not Found.");
            }
        });
    }
    //style pick end

    //store pick start
    $("#txtReceiveWorkingUnit").keydown(function (e) {
        var nkeyCode = e.keyCode || e.which;
        if(nkeyCode==13){
            var txtWorkingUnit=$.trim($("#txtReceiveWorkingUnit").val());
            if(txtWorkingUnit==""){ alert("Type Store name to search."); return false; }
            GetWorkingUnits(txtWorkingUnit);
        }
        else if(nkeyCode==8){
            $('#txtReceiveWorkingUnit').data("WorkingUnitIDs","");
            $("#txtReceiveWorkingUnit").removeClass("fontColorOfPickItem");
        }
    });
    $("#btnPickReceiveWorkingUnit").click(function () {
        var txtWorkingUnit=$.trim($("#txtReceiveWorkingUnit").val());
        GetWorkingUnits(txtWorkingUnit);
    });

    function GetWorkingUnits(txtWorkingUnit)
    {

        var oWorkingUnit = {
            BUID:parseInt(sessionStorage.getItem('BUID')),
            ModuleName:17,//EnumModuleName: GRN = 17,
            StoreType:2,//EnumStoreType: IssueStore:1, ReceiveStore:2
            LocationName:txtWorkingUnit,
        };
        var obj = {
            BaseAddress: _sBaseAddress,
            Object: oWorkingUnit,
            ControllerName: "WorkingUnit",
            ActionName: "GetsBUWtihModuleWise",
            IsWinClose: false
        };

        if(parseInt(sessionStorage.getItem('BUID'))<=0)
        {
            oWorkingUnit = { LOUNameCode : txtWorkingUnit };
            obj = {
                BaseAddress: _sBaseAddress,
                Object: oWorkingUnit,
                ControllerName: "WorkingUnit",
                ActionName: "GetsWorkingUnit",
                IsWinClose: false
            };
        }




        $.icsDataGets(obj, function (response) {

            if (response.status && response.objs.length > 0) {
                if (response.objs[0].WorkingUnitID > 0) {
                    debugger;
                    var tblColums = [];
                    var oColumn = { field: "WorkingUnitCode", title: "Code", width: 80, align: "left" };tblColums.push(oColumn);
                    oColumn = { field: "WorkingUnitName", title: "Name", width: 270, align: "left" };tblColums.push(oColumn);

                    var oPickerParam = {
                        winid: 'winWorkingUnitPicker',
                        winclass:'clsWorkingUnitPicker',
                        winwidth: 520,
                        winheight: 460,
                        tableid: 'tblWorkingUnit',
                        tablecolumns: tblColums,
                        datalist: response.objs,
                        multiplereturn: true,
                        searchingbyfieldName:'WorkingUnitName',
                        windowTittle: 'Store List'
                    };
                    $.icsPicker(oPickerParam);
                    IntializePickerbutton(oPickerParam);//multiplereturn, winclassName
                }
                else { alert(response.objs[0].ErrorMessage); }
            }
            else{
                alert("No product found.");
            }
        });

    }

    //store pick End

    function IntializePickerbutton(oGRNckerobj) {
        $("#" + oGRNckerobj.winid).find("#btnOk").click(function () {
            //for Single Select
            SetGRNckerValueAssign(oGRNckerobj);
        });
        $(document).find('.' + oGRNckerobj.winclass).keydown(function (e) {
            if (e.which == 13)//enter=13
            {
                SetGRNckerValueAssign(oGRNckerobj);
            }
        });
    }

    function SetGRNckerValueAssign(oGRNckerobj) {
        debugger;
        var oreturnObj = null, oreturnobjs = [];
        if (oGRNckerobj.multiplereturn) {
            oreturnobjs = $('#' + oGRNckerobj.tableid).datagrid('getChecked');
        } else {
            oreturnObj = $('#' + oGRNckerobj.tableid).datagrid('getSelected');
        }
        $("#" + oGRNckerobj.winid).icsWindow("close");
        $("#" + oGRNckerobj.winid).remove();

        if (oGRNckerobj.winid === 'winSuppliers')
        {
            if (oreturnobjs != null && oreturnobjs.length > 0) {
                $('#txtSupplier').val(oreturnobjs.length+"'s Suppliers seleted");
                $('#txtSupplier').addClass('fontColorOfPickItem');
                $('#txtSupplier').data('Suppliers', oreturnobjs);
                $('#txtSupplier').focus();
            }
        }
        else if (oGRNckerobj.winid === 'winProducts')
        {
            if (oreturnobjs != null && oreturnobjs.length > 0) {
                $('#txtProduct').val(oreturnobjs.length+"'s Products seleted");
                $('#txtProduct').addClass('fontColorOfPickItem');
                $('#txtProduct').data('Products', oreturnobjs);
                $('#txtProduct').focus();
            }
        } else   if (oGRNckerobj.winid === 'winStylePicker')
        {
            if (oreturnobjs != null && oreturnobjs.length > 0) {
                $('#txtStyleNo').val(oreturnobjs.length+"'s Styles seleted");
                $('#txtStyleNo').addClass('fontColorOfPickItem');
                $('#txtStyleNo').data("StyleIDs",ICS_PropertyConcatation(oreturnobjs,'TechnicalSheetID'));
                $('#txtStyleNo').focus();
            }
        }else if (oGRNckerobj.winid == 'winWorkingUnitPicker')
        {
            debugger;
            if (oreturnobjs != null && oreturnobjs.length> 0)
            {
                var sMessage='';
                sMessage=(oreturnobjs.length>1)? oreturnobjs.length +" Store Selected" : oreturnobjs[0].WorkingUnitName;
                $('#txtReceiveWorkingUnit').val(sMessage);
                $("#txtReceiveWorkingUnit").addClass("fontColorOfPickItem");
                $('#txtReceiveWorkingUnit').data("WorkingUnitIDs",ICS_PropertyConcatation(oreturnobjs,'WorkingUnitID'));
            }

        }
        else if (oGRNckerobj.winid == 'winPurchaseInvoices')
        {
            if (oreturnobjs != null && oreturnobjs.length> 0)
            {
                $('#txtRefNo').data("RefObjectIDs",ICS_PropertyConcatation(oreturnobjs,'PurchaseInvoiceID'));
                $('#txtRefNo').val(oreturnobjs.length +" Invoices Selected");
                $('#txtRefNo').addClass('fontColorOfPickItem');
            }
        }
        else if (oGRNckerobj.winid == 'winPurchaseOrders')
        {
            if (oreturnobjs != null && oreturnobjs.length> 0)
            {
                $('#txtRefNo').data("RefObjectIDs",ICS_PropertyConcatation(oreturnobjs,'POID'));
                $('#txtRefNo').val(oreturnobjs.length +" Order's Selected");
                $('#txtRefNo').addClass('fontColorOfPickItem');
            }
        }
        else if (oGRNckerobj.winid == 'winImportInvoices')
        {
            if (oreturnobjs != null && oreturnobjs.length> 0)
            {
                $('#txtRefNo').data("RefObjectIDs",ICS_PropertyConcatation(oreturnobjs,'ImportInvoiceID'));
                $('#txtRefNo').val(oreturnobjs.length +" Invoices Selected");
                $('#txtRefNo').addClass('fontColorOfPickItem');
            }
        }
        else if (oGRNckerobj.winid == 'winWorkOrder')
        {
            if (oreturnobjs != null && oreturnobjs.length> 0)
            {
                $('#txtRefNo').data("RefObjectIDs",ICS_PropertyConcatation(oreturnobjs,'WorkOrderID'));
                $('#txtRefNo').val(oreturnobjs.length +" WorkOrder's Selected");
                $('#txtRefNo').addClass('fontColorOfPickItem');
            }
        }
        else if (oGRNckerobj.winid == 'winImportPI')
        {
            if (oreturnobjs != null && oreturnobjs.length> 0)
            {
                $('#txtRefNo').data("RefObjectIDs",ICS_PropertyConcatation(oreturnobjs,'ImportPIID'));
                $('#txtRefNo').val(oreturnobjs.length +" PI's Selected");
                $('#txtRefNo').addClass('fontColorOfPickItem');
            }
        }
        else if (oGRNckerobj.winid == 'winConsumption')
        {
            if (oreturnobjs != null && oreturnobjs.length> 0)
            {
                $('#txtRefNo').data("RefObjectIDs",ICS_PropertyConcatation(oreturnobjs,'ConsumptionRequisitionID'));
                $('#txtRefNo').val(oreturnobjs.length +" Consumptions Selected");
                $('#txtRefNo').addClass('fontColorOfPickItem');
            }
        }

    }

    function updateProgress() {
        var value =$('#progbar').progressbar('getValue');
        if (value < 96){
            value += Math.floor(Math.random() * 10);
            $('#progbar').progressbar('setValue', value);
        }
    }

    function hideShow(miliseconds) {
        $("#progbarParent").hide();
    }
</script>