@{
    ViewBag.Title = "Production Sheet List";
}
@model IEnumerable<ESimSol.BusinessObjects.ProductionSheet>
    <div id="progressbarParent" style="width:100%;height:100%;margin:0 auto;text-align:center; margin-left: auto;margin-right: auto;left: 0;right: 0;z-index:1;">
        <div style="margin: 0px auto;margin-top: 251px;text-align:center;width:390px;">
            <label style="font-size:18px;">Please wait</label>
          <div id="progressbar" style="width:100%;height:37px;"></div>
        </div>
    </div>
<div id="winPrntCriteria" class="easyui-window winClass" title="Recipe Picker" data-options="modal:true,closed:true,collapsible:false,minimizable:false,maximizable:false,closable:false">
    <table border="0" cellpadding="0" cellspacing="0" style="font-size:12px">
        <tr style="height:100px">
            <td style="width:200px">
                <table border="0" cellpadding="0" cellspacing="0" style="font-size:12px">
                    <tr style="height:80px">
                        <td style="width:200px; vertical-align:top;height:80px">
                            <table id="tblPrintCriterias"  class="easyui-datagrid" style="width:240px;height:150px;font-size:12px" fitcolumns="false" rownumbers="true" pagination="false" singleselect="false" , autorowheight="false">
                                <thead>
                                    <tr>
                                        <th data-options="field:'Selected',checkbox:true"></th>
                                        <th field="Name" width="180">Step</th>
                                    </tr>
                                </thead>
                            </table>
                        </td>
                    </tr>
                </table>
            </td>
        </tr>
        <tr style="height:50px">
            <td style="width:250px; text-align:right">
                <a href="javascript:void(0)" class="easyui-linkbutton" iconcls="icon-ok" plain="true" onclick="OkButtonClickRecipe()">Ok</a>
                <a href="javascript:void(0)" class="easyui-linkbutton" iconcls="icon-cancel" plain="true" onclick="ClosePrntCriteria()">Close</a>
            </td>
        </tr>
    </table>
</div>

 <div id="winProductionSheetAdvanceSearch" class="easyui-window winClass" title="Advance Search" data-options="modal:true,closed:true,collapsible:false,minimizable:false,maximizable:false,closable:false">
        <div style="width:760px; float: left;">
            <table border="0" cellpadding="0" cellspacing="0">
                <tr style="height:330px">
                    <td style="width:850px">
                        <table border="0" cellpadding="0" cellspacing="0">
                            <tr style="height:300px">
                                <td style="width:300px; vertical-align:top;height:330px">
                                    <fieldset>
                                        <legend style="font-weight:bold; font-size:12px"> Searching Criteria : </legend>
                                        <table border="0" cellpadding="0" cellspacing="2">
                                            <tr>
                                                <td style="width:300px;font-size:12px;">
                                                    Sheet No:
                                                </td>
                                            </tr>
                                            <tr>
                                                <td style="width:350px">
                                                    @Html.TextBox("txtPSNo", "", new { style = "width: 325px", id = "txtPSNo" })
                                                </td>
                                            </tr>
                                            <tr>
                                                <td style="width:300px;font-size:12px;">
                                                    PI No:
                                                </td>
                                            </tr>
                                            <tr>
                                                <td style="width:350px">
                                                    @Html.TextBox("txtPINo", "", new { style = "width: 325px", id = "txtPINo"})
                                                </td>
                                            </tr>
                                            <tr>
                                                <td style="width:300px;font-size:12px;">
                                                    Buyer Name:
                                                </td>
                                            </tr>
                                            <tr>
                                                <td style="width:300px;font-size:12px;">
                                                    @Html.TextBox("txtBuyerName", "", new { style = "width: 260px;font-size:12px;", id = "txtBuyerName", placeholder = " Type Buyer & Press Enter" }) <input type="button" id="btnBuyerPicker" style="width:60px;" value="Pick" />

                                                </td>
                                            </tr>
                                            <tr>
                                                <td style="width:300px;font-size:12px;">
                                                    Product:
                                                </td>
                                            </tr>
                                            <tr>
                                                <td style="width:300px;font-size:12px;">
                                                    @Html.TextBox("txtProductName", "", new { style = "width: 260px;font-size:12px;", id = "txtProductName", placeholder = " Type Delivery To & Press Enter" }) <input type="button" id="btnProduct" style="width:60px;" value="Pick" />

                                                </td>
                                            </tr>
                                                                                     
                                            <tr>
                                                <td style="width:300px;font-size:12px;">
                                                    Issue Date:
                                                </td>
                                            </tr>
                                            <tr>
                                                <td style="width:300px">
                                                    <table border="0" cellpadding="0" cellspacing="0">
                                                        <tr>
                                                            <td style="width:97px;font-size:12px;">@Html.DropDownList("cboOrderCreateDate", new SelectList(Enum.GetValues(typeof(ESimSol.BusinessObjects.EnumCompareOperator))), new { id = "cboOrderCreateDate", style = "width: 97px;font-size:12px;", @class = "_select_changeA" })</td>
                                                            <td style="width:97px;font-size:12px;"><input type="text" id="txtStartIssueDate" value="" style="width: 108px;font-size:12px;" class="easyui-datebox" data-options="formatter:icsdateformat,parser:icsdateparser" /></td>
                                                            <td style="width:9px;font-size:12px;" id="enddateT">To</td>
                                                            <td style="width:97px;font-size:12px;" id="enddate"><input type="text" id="txtEndIssueDate" value="" style="width: 108px;font-size:12px;" class="easyui-datebox" data-options="formatter:icsdateformat,parser:icsdateparser" /></td>
                                                        </tr>
                                                    </table>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td>
                                                    <input type="checkbox" name="chkApproved" id="chkApproved" /><label style="width:150px;font-size:12px;" onclick="IsChecked()">Approved</label>
                                                    <input type="checkbox" name="chkNotApproved" id="chkNotApproved" /><label style="width:150px;font-size:12px;" onclick="IsChecked()">Not Approved</label>
                                                </td>
                                            </tr>
                                            <tr style="height:20px; vertical-align:bottom">
                                                <td style=" text-align:left; width:330px;">
                                                    <table border="0" cellpadding="0" cellspacing="0">
                                                        <tr>
                                                            <td style=" text-align:left;"><input type="button" value="Reset" id="btnReset" onclick="Reset()" style="width:70px; text-align:left;" /></td>
                                                            <td style=" text-align:right; width:260px;"><input type="button" value="Search" id="btnRefresh" style="width:70px; text-align:right;" /></td>
                                                        </tr>
                                                    </table>
                                                </td>
                                            </tr>
                                        </table>
                                    </fieldset>
                                </td>
                                <td style="width:400px; vertical-align:top">
                                    <div style="margin-left:0px; margin-top:6px; height:295px">
                                        <table id="tblProductionSheetsList" title="Production Sheet List" class="easyui-datagrid" style="width:400px;height:295px" fitcolumns="false" rownumbers="true" pagination="false" singleselect="false"  autorowheight="false">
                                            <thead>
                                                <tr>
                                                    <th data-options="field:'Selected',checkbox:true"></th>
                                                    <th field="SheetNo" width="80">Sheet No</th>
                                                    <th field="ExportPINo" width="80">PI No</th>
                                                    <th field="IssueDateInString" width="70">Order Date</th>
                                                    <th field="ContractorName" width="100">Buyer Name</th>
                                                </tr>
                                            </thead>
                                        </table>
                                    </div>
                                </td>

                            </tr>
                        </table>
                    </td>
                </tr>
                <tr style="height:50px">
                    <td style="width:850px; text-align:right">
                        <a href="javascript:void(0)" class="easyui-linkbutton" iconcls="icon-ok" plain="true" onclick="OkButtonClick()">Ok</a>
                        <a href="javascript:void(0)" class="easyui-linkbutton" iconcls="icon-cancel" plain="true" onclick="Close()">Close</a>
                    </td>
                </tr>
            </table>
        </div>
    </div>

<div class="menuMainCollectionTable" id="divProductionSheets">
    <table id="tblProductionSheets" title="Production Sheet List" class="easyui-datagrid" fit="true" fitcolumns="false" rownumbers="true" pagination="true" singleselect="true" autorowheight="false" toolbar="#toolbar">
        <thead>
            <tr>
                <th data-options="field:'Selected',checkbox:true"></th>
                <th field="SheetNo" width="110">Sheet No</th>
                <th field="ExportPINo" width="120">PI No</th>
                <th field="ContractorName" width="100">Buyer Name</th>
                <th field="IssueDateInString" width="100">Issue Date</th>
                <th field="SheetStatusInString" width="120">Sheet Status</th>
                <th field="RecipeName" width="100">Recipe Name</th>
                <th field="ModelReferencenName" width="120">Machine Name</th>
                <th field="ProductName" width="120">Product Name</th>
                <th field="RawMaterialStatusInString" width="120">Raw Material Status</th>
                <th field="QCStatusInString" width="100">QC Status</th>
                <th field="Quantity" align="right" formatter="formatPrice" width="100">Sheet Qty</th>
                <th field="ProductionStartByName" width="100">Start By</th>
                <th field="ProductionStartDateSt" width="130">Start Time</th>
            </tr>
        </thead>
    </table>
    <div id="toolbar">
        <input type="text" id="txtByPINo" placeholder="Search By PI No" style="width:150px" />
        <a id="btnSearch" href="javascript:void(0)" class="easyui-linkbutton" iconcls="icon-search" plain="true"></a>
        <a id="btnAdd" href="javascript:void(0)" class="easyui-linkbutton" iconcls="icon-add" plain="true">Add</a>
        <a id="btnEdit" href="javascript:void(0)" class="easyui-linkbutton" iconcls="icon-edit" plain="true">Edit</a>
        <a id="btnView" href="javascript:void(0)" class="easyui-linkbutton" iconcls="icon-details" plain="true">View</a>
        <a id="btnDelete" href="javascript:void(0)" class="easyui-linkbutton" iconcls="icon-remove" plain="true">Delete</a>
        <a id="btnApprove" href="javascript:void(0)" class="easyui-linkbutton" iconcls="icon-approved" plain="true">Approve</a>
        <a id="btnUndoApproved" href="javascript:void(0)" class="easyui-linkbutton" iconcls="icon-undo" plain="true">Undo Approved</a>        
        <a id="btnChangeRM" href="javascript:void(0)" class="easyui-linkbutton" iconcls="icon-edit" plain="true">Change RM</a>
        <a id="btnProductionProcedure" href="javascript:void(0)" class="easyui-linkbutton" iconcls="icon-redo" plain="true" onclick="ProductionProcedure()">Production Procedure</a>
        <a id="btnProductionStart" href="javascript:void(0)" class="easyui-linkbutton" iconcls="icon-running" plain="true">Production Start</a>
        <a id="btnProductionUndo" href="javascript:void(0)" class="easyui-linkbutton" iconcls="icon-undo" plain="true">Production Undo</a>        
        <a id="btnPreview" href="javascript:void(0)" class="easyui-linkbutton" iconcls="icon-print" plain="true">Preview</a>
        @*<a id="btnPrintRequiredRM" href="javascript:void(0)" class="easyui-linkbutton" iconcls="icon-print" plain="true">Print Required RM</a>*@
        @*<a id="btnPrintList" href="javascript:void(0)" class="easyui-linkbutton" iconcls="icon-print" plain="true">Print List</a>*@
    </div>
</div>

    <script type="text/javascript">
    debugger;
    var _oProductionSheet=null;
    var _oProductionSheets=[];
    var _sBaseAddress="";
    var _oAuthorizationRolesMapping=[];
    var _oMktPersons = [];
    $(document).ready(function () {
        debugger;
        _oProductionSheets =@Html.Raw( new System.Web.Script.Serialization.JavaScriptSerializer().Serialize(Model));
        _sBaseAddress =@Html.Raw( new System.Web.Script.Serialization.JavaScriptSerializer().Serialize(HttpContext.Current.Session[SessionInfo.BaseAddress]));
        _oAuthorizationRolesMapping =@Html.Raw( new System.Web.Script.Serialization.JavaScriptSerializer().Serialize(HttpContext.Current.Session[SessionInfo.AuthorizationRolesMapping]));
        var nBUID= @Html.Raw(new System.Web.Script.Serialization.JavaScriptSerializer().Serialize(ViewBag.BUID));
        var nProductNature = @Html.Raw(new System.Web.Script.Serialization.JavaScriptSerializer().Serialize(ViewBag.ProductNature));
        sessionStorage.setItem('BUID',nBUID);
        sessionStorage.setItem('ProductNature',nProductNature);
        debugger;
        $('#txtConversionRate,#txtBankCharge').icsCurrencyBox();
        var oProductionSheets =sessionStorage.getItem("ProductionSheets");
        if(oProductionSheets!=null)
        {
            oProductionSheets = jQuery.parseJSON(oProductionSheets);
        }
        else
        {
            oProductionSheets=_oProductionSheets;
        }
        RefreshList(oProductionSheets);
        RefreshControlLayout(_oAuthorizationRolesMapping);
        $("#progressbar").progressbar({ value: 0 });
        $("#progressbarParent").hide();
        $('#tblProductionSheets').datagrid({selectOnCheck:false, checkOnSelect:false})
        $('#divProductionSheets').data('ProductIDs',"");
        $('#divProductionSheets').data('BuyerIDs',"");
    });

        function updateProgress() {
            var value =$('#progressbar').progressbar('getValue');
            if (value < 96){
                value += Math.floor(Math.random() * 10);
                $('#progressbar').progressbar('setValue', value);
            }
        }
        function hideShow(miliseconds) {
            $("#progressbarParent").hide();
        }

        //Start Revise History
        $("#btnReviseHistoryORS").click(function () {
            var oProductionSheet = $("#tblProductionSheets").datagrid("getSelected");
            if (oProductionSheet == null || oProductionSheet.ProductionSheetID <= 0) {
                alert("Please select an item from list.");
                return false;
            }
            $("#winReviseHistory").icsWindow("open", "Revise History of PO No : " + oProductionSheet.PINo);
            $.ajax({
                type: "POST",
                dataType: "json",
                url: _sBaseAddress + "/ProductionSheet/GetReviseHistory",
                traditional: true,
                data: JSON.stringify(oProductionSheet),
                contentType: "application/json; charset=utf-8",
                success: function (data) {
                    var oProductionSheets = jQuery.parseJSON(data);
                    if(oProductionSheets!=null){
                        if(oProductionSheets.length>0){
                            DynamicRefreshList(oProductionSheets,"tblReviseHistory");
                        }
                        else{
                            DynamicRefreshList([],"tblReviseHistory");
                        }
                    }
                },
                error: function (xhr, status, error) {
                    alert(error);
                }
            });
        });

        $("#btnCloseReviseHistory").click(function () {
            $("#winReviseHistory").icsWindow("close");
        });

        $("#btnPrintReviseHistory").click(function () {
            var oProductionSheetLog = $("#tblReviseHistory").datagrid("getSelected");
            if (oProductionSheetLog == null || oProductionSheetLog.ProductionSheetLogID <= 0) {
                alert("Please select an item from list.");
                return false;
            }
            window.open(_sBaseAddress + '/ProductionSheet/ProductionSheetPrintPreviewLog?nLogid='+oProductionSheetLog.ProductionSheetLogID, "_blank");
        });
        //End Revise History


        //Search Property
        $("#btnSearch").click(function () {
            $("#winProductionSheetAdvanceSearch").icsWindow('open', "Advance Search");
            $("#winProductionSheetAdvanceSearch input").not("input[type='button']").val("");
            $("#winProductionSheetAdvanceSearch select").val(0);
            SetTodayDate();
            Reset();
            $("#cboMarketPerson").icsLoadCombo({ List: _oMktPersons, OptionValue: "EmployeeID", DisplayText: "Name" });
        });
        function SetTodayDate()
        {
            $('#txtStartIssueDate').datebox('setValue', icsdateformat(new Date()));
            $('#txtEndIssueDate').datebox('setValue', icsdateformat(new Date()));
        }

        $('._select_changeA').change(function () {
            //debugger;
            var x = $("#cboOrderCreateDate").val();
            if (x == "EqualTo" || x == "NotEqualTo" || x == "GreaterThen" || x == "SmallerThen") {
                document.getElementById("enddate").style.display = 'none';
                document.getElementById("enddateT").style.display = 'none';
            }
            else {
                document.getElementById("enddate").style.display = '';
                document.getElementById("enddateT").style.display = '';
            }
            if (x == "None")
            {

                $('#txtStartIssueDate').datebox('setValue', icsdateformat(new Date()));
                $('#txtEndIssueDate').datebox('setValue', icsdateformat(new Date()));
            }
        });



    ///Contractor Pick
    $("#txtBuyerName").keydown(function (e) {
        debugger;
        var code = (e.keyCode ? e.keyCode : e.which);
        if (code == 13) // Enter Press
        {
            var oContractor = { Params: 2 + '~' + $('#txtBuyerName').val()+'~'+sessionStorage.getItem('BUID') };
            var obj = {
                BaseAddress: _sBaseAddress,
                Object: oContractor,
                ControllerName: "Contractor",
                ActionName: "ContractorSearchByNameType",
                IsWinClose: false
            };
            $("#progressbar").progressbar({ value: 0 });
            $("#progressbarParent").show();
            var intervalID = setInterval(updateProgress, 250);
            $.icsDataGets(obj, function (response) {
                debugger;
                clearInterval(intervalID);
                $("#progressbarParent").hide();
                if (response.status && response.objs.length > 0) {
                    if (response.objs[0].ContractorID > 0) {
                        debugger;
                        var tblColums = []; var oColumn = { field: "Name", title: "Name", width: 200, align: "left" }; tblColums.push(oColumn);
                        oColumn = { field: "Address", title: "Address", width: 120, align: "left" }; tblColums.push(oColumn);
                        oColumn = { field: "Email", title: "Email", width: 90, align: "left" }; tblColums.push(oColumn);
                        oColumn = { field: "ShortName", title: "Short Name", width: 90, align: "left" }; tblColums.push(oColumn);
                        var oPickerParam = {
                            winid: 'winContractors',
                            winclass: 'clsContractor',
                            winwidth: 600,
                            winheight: 460,
                            tableid: 'tblContractors',
                            tablecolumns: tblColums,
                            datalist: response.objs,
                            multiplereturn: false,
                            searchingbyfieldName: 'Name',
                            windowTittle: 'Contractor List'
                        };
                        $.icsPicker(oPickerParam);
                        IntializePickerbutton(oPickerParam);
                    }
                    else { alert(response.objs[0].ErrorMessage); }
                }else{
                    alert("Data Not Found.");
                }
            });
        }
    });
    $("#btnBuyerPicker").click(function () {
        var oContractor = { Params: "2~"+'~'+sessionStorage.getItem('BUID') };
        var obj = {
            BaseAddress: _sBaseAddress,
            Object: oContractor,
            ControllerName: "Contractor",
            ActionName: "ContractorSearchByNameType",
            IsWinClose: false
        };
        $("#progressbar").progressbar({ value: 0 });
        $("#progressbarParent").show();
        var intervalID = setInterval(updateProgress, 250);
        $.icsDataGets(obj, function (response) {
            debugger;
            clearInterval(intervalID);
            $("#progressbarParent").hide();
            if (response.status && response.objs.length > 0) {
                if (response.objs[0].ContractorID > 0) {
                    var tblColums = []; var oColumn = { field: "Name", title: "Name", width: 200, align: "left" }; tblColums.push(oColumn);
                    oColumn = { field: "Address", title: "Address", width: 120, align: "left" }; tblColums.push(oColumn);
                    oColumn = { field: "Email", title: "Email", width: 90, align: "left" }; tblColums.push(oColumn);
                    oColumn = { field: "ShortName", title: "Short Name", width: 90, align: "left" }; tblColums.push(oColumn);
                    var oPickerParam = {
                        winid: 'winContractors',
                        winclass: 'clsContractor',
                        winwidth: 600,
                        winheight: 460,
                        tableid: 'tblContractors',
                        tablecolumns: tblColums,
                        datalist: response.objs,
                        multiplereturn: true,
                        searchingbyfieldName: 'Name',
                        windowTittle: 'Buyer List'
                    };
                    $.icsPicker(oPickerParam);
                    IntializePickerbutton(oPickerParam);
                }
                else { alert(response.objs[0].ErrorMessage); }
            }else{
                alert("Data Not Found.");
            }
        });

    });
    $('#txtBuyerName').keydown(function (e) {
        var code = (e.keyCode ? e.keyCode : e.which);
        if (code == 8) //backspace=8
        {
            //debugger;
            $("#txtBuyerName").removeClass("fontColorOfPickItem");
            _sBuyerIDs = "";
        }
    });
    //Delivery to pick

    //Propduct
    $("#txtProductName").keydown(function (e)
    {
        var code = (e.keyCode ? e.keyCode : e.which);
        if (code == 13) // Enter Press
        {
            if($('#txtProductName').val()=="" || $('#txtProductName').val()==null)
            {
                alert("Please Type Product Name And Press Enter.");
                return;
            }
            GetProducts($.trim($('#txtProductName').val()));
        }
        if (code == 8) //backspace=8
        {
            //
            $("#txtProductName").val('');
            $("#txtProductName").removeClass('fontColorOfPickItem');
            $('#divProductionSheets').data('ProductIDs',"");
        }
    });
    $("#btnProduct").click(function () {
        GetProducts($.trim($('#txtProductName').val()));
    });
    $('#btnClnProduct').click(function(e){
        //debugger;
        $("#txtProductName").val('');
        $("#txtProductName").removeClass("fontColorOfPickItem");
        $('#divProductionSheets').data('ProductIDs',"");
    });
    function GetProducts(sProductName)
    {
        debugger;
        var oProduct = { BUID: sessionStorage.getItem('BUID'),ProductName:sProductName};
        var obj = {
            BaseAddress: _sBaseAddress,
            Object: oProduct,
            ControllerName: "ProductionSheet",
            ActionName: "GetProducts",
            IsWinClose: false
        };
        $.icsDataGets(obj, function (response) {

            if (response.status && response.objs.length > 0)
            {
                if (response.objs[0].ProductID > 0) {
                    var tblColums = [], searcingField = "", windowTittle = "";
                    var oColumn = { field: "ProductCode", title: "Code", width: 100, align: "left" }; tblColums.push(oColumn);
                    oColumn = { field: "FullName", title: "Item Name", width: 250, align: "left" }; tblColums.push(oColumn);
                    var oPickerParam = {
                        winid: 'winProduct',
                        winclass: 'clsProduct',
                        winwidth: 450,
                        winheight: 460,
                        tableid: 'tblProduct',
                        tablecolumns: tblColums,
                        datalist: response.objs,
                        multiplereturn: true,
                        searchingbyfieldName: searcingField,
                        windowTittle: windowTittle
                    };
                    $.icsPicker(oPickerParam);
                    IntializePickerbutton(oPickerParam);//multiple return
                }
                else {
                    alert(response.objs[0].ErrorMessage);
                }


            }
            else { alert("Data not Found"); }
        });
    }


        $('#chkApproved').click(function(){
            if (this.checked) {
                document.getElementById("chkNotApproved").checked = false;
            }
        });
        $('#chkNotApproved').click(function(){
            if (this.checked) {
                document.getElementById("chkApproved").checked = false;
            }
        });

        $('#btnRefresh').click(function (){
            debugger;
            var sPINo= $("#txtPINo").val();
            var sPSNo= $("#txtPSNo").val();
            var cboOrderCreateDate = document.getElementById("cboOrderCreateDate");
            var nOrderCreateDate=cboOrderCreateDate.options[cboOrderCreateDate.selectedIndex].index;
            var dIssueDateStart=$('#txtStartIssueDate').datebox('getValue');
            var dIssueDateEnd=$('#txtEndIssueDate').datebox('getValue');
            var nApproved = 0;
            var nNotApproved = 0;
            if(document.getElementById("chkApproved").checked == true)
            {
                nApproved = 1;
            }
            else
            {
                nApproved = 0;
            }
            if(document.getElementById("chkNotApproved").checked == true)
            {
                nNotApproved = 1;
            }
            else
            {
                nNotApproved = 0;
            }

            if(nOrderCreateDate==0 && sPINo=="" && sPSNo=="" &&   $('#divProductionSheets').data('BuyerIDs') =="" &&  $('#divProductionSheets').data('ProductIDs')==""  && nApproved==0 && nNotApproved==0 )
            {
                alert('Please Select a Search Criteria');
                return false;
            }
            var sTempString = nOrderCreateDate+'~'+dIssueDateStart+'~'+dIssueDateEnd+'~'+sPSNo+'~'+sPINo+'~'+ $('#divProductionSheets').data('BuyerIDs')+'~'+ $('#divProductionSheets').data('ProductIDs')+'~'+nApproved+'~'+nNotApproved+'~'+sessionStorage.getItem('BUID')+'~'+sessionStorage.getItem('ProductNature');
            $.ajax({
                type: "GET",
                dataType: "json",
                url: '@Url.Action("Gets", "ProductionSheet")',
            data: { Temp: sTempString },
            contentType: "application/json; charset=utf-8",
            success: function (data) {
                ////debugger;
                oProductionSheets = jQuery.parseJSON(data);
                if (oProductionSheets != null) {
                    if(oProductionSheets.length>0)
                    {
                        RefreshListForSearch(oProductionSheets);
                    }
                    else
                    {
                        alert("Data not found!!");
                        RefreshListForSearch([]);
                    }
                }
            },
            error: function (xhr, status, error) {
                alert(error);
            }
        });

    });

    function Reset() {
        debugger;
        $("#txtPSNo,#txtPINo,#txtBuyerName,#txtProductName").val('');

        document.getElementById("enddate").style.display = '';
        document.getElementById("enddateT").style.display = '';
        document.getElementById("chkNotApproved").checked = false;
        document.getElementById("chkApproved").checked = false;
        $('#cboOrderCreateDate').val('None');
        
        SetTodayDate();
        data ="";
        data={"total":""+data.length+"","rows":data};
        $('#tblProductionSheetsList').datagrid('loadData',data);
        $("#txtBuyerName,#txtProductName").removeClass("fontColorOfPickItem");
        $('#divProductionSheets').data('BuyerIDs',"");
        $('#divProductionSheets').data('ProductIDs',"");

    }

    function IntializePickerbutton(oPickerobj) {
        debugger;
        $("#" + oPickerobj.winid).find("#btnOk").click(function () {
            debugger;
            //for Single Select
            PickerEvents(oPickerobj);
        });
        $(document).find('.' + oPickerobj.winclass).keydown(function (e) {
            if (e.which == 13)//enter=13
            {
                PickerEvents(oPickerobj);
            }
        });
    }
    function PickerEvents(oPickerobj) {
        var oreturnobj = null, oreturnobjs = [];
        if (oPickerobj.multiplereturn)
        {
            oreturnobjs = $('#' + oPickerobj.tableid).datagrid('getChecked');
        } else
        {
            oreturnobj = $('#' + oPickerobj.tableid).datagrid('getSelected');
        }

        $("#" + oPickerobj.winid).icsWindow("close");
        $("#" + oPickerobj.winid).remove();
        if (oPickerobj.winclass == 'clsContractor')
        {
            $('#divProductionSheets').data('BuyerIDs',"");
            var sBuyerIDs = "";
            if (oPickerobj.multiplereturn)
            {
                var ncount = 0;
                for (var i = 0; i <oreturnobjs.length; i++) {
                    var nSupplierID = oreturnobjs[i].ContractorID;
                    sBuyerIDs = sBuyerIDs + nSupplierID + ',';
                    ncount++;
                }
                if (ncount > 1)
                {
                    $('#txtBuyerName').val("Select " + ncount + " Buyer's");
                } else
                {
                    $('#txtBuyerName').val(oreturnobjs[0].Name);
                }
                sBuyerIDs = sBuyerIDs.substring(0, sBuyerIDs.length - 1);

            } else
            {
                $('#txtBuyerName').val(oreturnobj.Name);
                sBuyerIDs = "" + oreturnobj.ContractorID + "";
                $('#txtBuyerName').focus();
            }
            $("#txtBuyerName").addClass("fontColorOfPickItem");
            $('#divProductionSheets').data('BuyerIDs',sBuyerIDs);
        }else  if (oPickerobj.winclass == 'clsProduct')
        {
            $('#divProductionSheets').data('ProductIDs',"");
            var nProductIDs = "";
            if (oPickerobj.multiplereturn)
            {
                var ncount = 0;
                for (var i = 0; i <oreturnobjs.length; i++) {
                    var nProductID = oreturnobjs[i].ProductID;
                    nProductIDs = nProductIDs + nProductID + ',';
                    ncount++;
                }
                if (ncount > 1)
                {
                    $('#txtProductName').val("Select " + ncount + " Product's");
                } else
                {
                    $('#txtProductName').val(oreturnobjs[0].Name);
                }
                nProductIDs = nProductIDs.substring(0, nProductIDs.length - 1);
            } else
            {
                $('#txtProductName').val(oreturnobj.Name);
                nProductIDs = "" + oreturnobj.ContractorID + "";
                $('#txtProductName').focus();
            }
            $('#divProductionSheets').data('ProductIDs',nProductIDs);
            $("#txtProductName").addClass('fontColorOfPickItem');
        }
    }
    function RefreshListForSearch(oSameOrders)
    {
        data =oSameOrders;
        data={"total":""+data.length+"","rows":data};
        $('#tblProductionSheetsList').datagrid('loadData',data);

    }

    function Close()
    {
        $("#winProductionSheetAdvanceSearch").icsWindow('close');
    }

    function OkButtonClick() {
        debugger;
        var oProductionSheets=[];
        var oProductionSheets = $('#tblProductionSheetsList').datagrid('getChecked');
        if(oProductionSheets.length<=0)
        {
            alert("please select at least one item");
            return;
        }
        RefreshList(oProductionSheets);
        $("#winProductionSheetAdvanceSearch").icsWindow('close');
    }

    $('#txtByPINo').keyup(function (e) {
        var c = String.fromCharCode(e.which);
        var txtByPINo = document.getElementById('txtByPINo').value;
        var oSearchedProductionSheets = [];  var sTempName="";
        var oProductionSheets = $('#tblProductionSheets').datagrid('getRows');
        if (e.which == 8)
        {
            oProductionSheets = _oProductionSheets;
        }
        for(var i=0;i<oProductionSheets.length;++i){
            sTempName=oProductionSheets[i].ExportPINo;
            n=sTempName.toUpperCase().indexOf(txtByPINo.toUpperCase())
            if(n!=-1)
            {
                oSearchedProductionSheets.push(oProductionSheets[i]);
            }
        }
        RefreshList(oSearchedProductionSheets);
    });

    $("#btnAdd").click(function(){
        var oProductionSheets= $('#tblProductionSheets').datagrid('getRows');
        sessionStorage.setItem("ProductionSheets", JSON.stringify(oProductionSheets));
        sessionStorage.setItem("SelectedRowIndex", -1);
        sessionStorage.setItem("ProductionSheetHeader", "Add Production Sheet");
        sessionStorage.setItem("BackLink", window.location.href);
        var tsv=((new Date()).getTime())/1000;
        //EnumBusinessUnitType{Dyeing = 0,Hanger = 1,Poly = 2}
        if(parseInt(sessionStorage.getItem("ProductNature"))==1)//Hanger
        {
            window.location.href = _sBaseAddress+ "/ProductionSheet/ViewProductionSheet?id=0&PTUUnit2ID=0";
        }else if(parseInt(sessionStorage.getItem("ProductNature"))==2)//Poly
        {
            window.location.href = _sBaseAddress+ "/ProductionSheet/ViewProductionSheetForPoly?id=0&PTUUnit2ID=0";
        }
    });

    $("#btnEdit").click(function(){
        var oProductionSheet= $('#tblProductionSheets').datagrid('getSelected');
        if(oProductionSheet==null || oProductionSheet.ProductionSheetID<=0)
        {
            alert("Please select a item from list!");
            return;
        }
        if(parseInt(oProductionSheet.SheetStatus)!=0)
        {
            alert("Please select Only Initialize Item");
            return false;
        }
        var SelectedRowIndex=$('#tblProductionSheets').datagrid('getRowIndex',oProductionSheet);
        var oProductionSheets= $('#tblProductionSheets').datagrid('getRows');
        sessionStorage.setItem("ProductionSheets", JSON.stringify(oProductionSheets));
        sessionStorage.setItem("SelectedRowIndex", SelectedRowIndex);
        sessionStorage.setItem("ProductionSheetHeader", "Edit Production Sheet");
        sessionStorage.setItem("BackLink", window.location.href);
        //EnumBusinessUnitType{Dyeing = 0,Hanger = 1,Poly = 2}
        if(parseInt(sessionStorage.getItem("ProductNature"))==1)//Hanger
        {
            window.location.href = _sBaseAddress+"/ProductionSheet/ViewProductionSheet?id="+oProductionSheet.ProductionSheetID+"&PTUUnit2ID=0";
        }else if(parseInt(sessionStorage.getItem("ProductNature"))==2)//poly
        {
            window.location.href = _sBaseAddress+  "/ProductionSheet/ViewProductionSheetForPoly?id="+oProductionSheet.ProductionSheetID+"&PTUUnit2ID=0";
        }

    });

    $("#btnApprove").click(function(){
        var oProductionSheet= $('#tblProductionSheets').datagrid('getSelected');
        if(oProductionSheet==null || oProductionSheet.ProductionSheetID<=0)
        {
            alert("Please select a item from list!");
            return;
        }
        if(parseInt(oProductionSheet.SheetStatus)!=0)
        {
            alert("Please select Only Initialize Item");
            return false;
        }
        var SelectedRowIndex=$('#tblProductionSheets').datagrid('getRowIndex',oProductionSheet);
        var oProductionSheets= $('#tblProductionSheets').datagrid('getRows');
        sessionStorage.setItem("ProductionSheets", JSON.stringify(oProductionSheets));
        sessionStorage.setItem("SelectedRowIndex", SelectedRowIndex);
        sessionStorage.setItem("ProductionSheetHeader", "Approve Production Sheet");
        sessionStorage.setItem("BackLink", window.location.href);
        //EnumBusinessUnitType{Dyeing = 0,Hanger = 1,Poly = 2}
        if(parseInt(sessionStorage.getItem("ProductNature"))==1)//Hanger
        {
            window.location.href = _sBaseAddress+"/ProductionSheet/ViewProductionSheet?id="+oProductionSheet.ProductionSheetID+"&PTUUnit2ID=0";
        }else if(parseInt(sessionStorage.getItem("ProductNature"))==2)//poly
        {
            window.location.href = _sBaseAddress+  "/ProductionSheet/ViewProductionSheetForPoly?id="+oProductionSheet.ProductionSheetID+"&PTUUnit2ID=0";
        }
    });


    $("#btnUndoApproved").click(function(){
        var oProductionSheet= $('#tblProductionSheets').datagrid('getSelected');
        if(oProductionSheet==null || parseInt(oProductionSheet.ProductionSheetID)<=0)
        {
            alert("Invalid Field!!! please select a valid Field!");
            return false;
        }
        if(parseInt(oProductionSheet.SheetStatus)!=1)
        {
            alert("Please select an approved production sheet!");
            return false;
        }
        if(parseInt(oProductionSheet.RawMaterialStatusInInt)!=0)
        {
            alert("Un-Approved Not possible you select sheet already raw material Out!");
            return false;
        }
        if (!confirm("Realy Want to Undo Approved?")) return ;
        var SelectedRowIndex=$('#tblProductionSheets').datagrid('getRowIndex',oProductionSheet);
        if (oProductionSheet.ProductionSheetID > 0)
        {
            $.ajax
            ({
                type: "POST",
                dataType: "json",
                url : _sBaseAddress+  "/ProductionSheet/UndoApproved",
                traditional: true,
                data:  JSON.stringify(oProductionSheet),
                contentType: "application/json; charset=utf-8",
                success: function (data) {
                    var oProductionSheet = jQuery.parseJSON(data);
                    if (oProductionSheet.ErrorMessage=="" || oProductionSheet.ErrorMessage==null)
                    {
                        alert("Sucessfully Un-Approved Production Sheet");
                        $('#tblProductionSheets').datagrid('updateRow',{index: SelectedRowIndex,row: oProductionSheet});
                    }
                    else
                    {
                        alert(oProductionSheet.ErrorMessage);
                    }
                },
                error: function (xhr, status, error)
                {
                    alert(error);
                }
            });
        }
    });

    $("#btnView").click(function(){
        var oProductionSheet= $('#tblProductionSheets').datagrid('getSelected');
        if(oProductionSheet==null || oProductionSheet.ProductionSheetID<=0)
        {
            alert("Please select a item from list!");
            return;
        }
        var tsv=((new Date()).getTime())/1000;
        var SelectedRowIndex=$('#tblProductionSheets').datagrid('getRowIndex',oProductionSheet);
        var oProductionSheets= $('#tblProductionSheets').datagrid('getRows');
        sessionStorage.setItem("ProductionSheets", JSON.stringify(oProductionSheets));
        sessionStorage.setItem("SelectedRowIndex", SelectedRowIndex);
        sessionStorage.setItem("ProductionSheetHeader", "View Production Sheet");
        sessionStorage.setItem("BackLink", window.location.href);
        //EnumBusinessUnitType{Dyeing = 0,Hanger = 1,Poly = 2}
        if(parseInt(sessionStorage.getItem("ProductNature"))==1)//Hanger
        {
            window.location.href = _sBaseAddress+"/ProductionSheet/ViewProductionSheet?id="+oProductionSheet.ProductionSheetID+"&PTUUnit2ID=0";
        }else if(parseInt(sessionStorage.getItem("ProductNature"))==2)//poly
        {
            window.location.href = _sBaseAddress+  "/ProductionSheet/ViewProductionSheetForPoly?id="+oProductionSheet.ProductionSheetID+"&PTUUnit2ID=0";
        }
    });
    $("#btnChangeRM").click(function(){
        var oProductionSheet= $('#tblProductionSheets').datagrid('getSelected');
        if(oProductionSheet==null || oProductionSheet.ProductionSheetID<=0)
        {
            alert("Please select a item from list!");
            return;
        }
        if(oProductionSheet.RawMaterialStatusInInt!=0)
        {
            alert("Sorry, Already Out Some/Full Raw Mterials!");
            return;
        }
        var SelectedRowIndex=$('#tblProductionSheets').datagrid('getRowIndex',oProductionSheet);
        var oProductionSheets= $('#tblProductionSheets').datagrid('getRows');
        sessionStorage.setItem("ProductionSheets", JSON.stringify(oProductionSheets));
        sessionStorage.setItem("SelectedRowIndex", SelectedRowIndex);
        sessionStorage.setItem("ProductionSheetHeader", "View Change Raw Material");
        sessionStorage.setItem("BackLink", window.location.href);
        if(parseInt(sessionStorage.getItem("ProductNature"))==1)//Hanger
        {
            window.location.href = _sBaseAddress+"/ProductionSheet/ViewChangeRawMaterial?id="+oProductionSheet.ProductionSheetID;
        }else if(parseInt(sessionStorage.getItem("ProductNature"))==2)//poly
        {
            window.location.href = _sBaseAddress+"/ProductionSheet/ViewChangeRawMaterialForPoly?id="+oProductionSheet.ProductionSheetID;
        }
   
    });

    $("#btnDelete").click(function(){
        var oProductionSheet= $('#tblProductionSheets').datagrid('getSelected');
        if(oProductionSheet==null || oProductionSheet.ProductionSheetID<=0)
        {
            alert("Invalid Field!!! please select a valid Field!");
            return false;
        }
        if(parseInt(oProductionSheet.SheetStatus)!=0)
        {
            alert("Please select Only Initialize Item");
            return false;
        }
        if (!confirm("Confirm to Delete?")) return ;
        var SelectedRowIndex=$('#tblProductionSheets').datagrid('getRowIndex',oProductionSheet);
        if (oProductionSheet.ProductionSheetID > 0)
        {
            $.ajax
            ({
                type: "GET",
                dataType: "json",
                url : _sBaseAddress+  "/ProductionSheet/Delete",
                data: { id: oProductionSheet.ProductionSheetID},
                contentType: "application/json; charset=utf-8",
                success: function (data) {
                    var feedbackmessage = jQuery.parseJSON(data);
                    if (feedbackmessage == "Deleted")
                    {
                        alert("Delete sucessfully");
                        $('#tblProductionSheets').datagrid('deleteRow',SelectedRowIndex);
                        var oProductionSheets= $('#tblProductionSheets').datagrid('getRows');
                        sessionStorage.setItem("ProductionSheets", JSON.stringify(oProductionSheets));
                    }
                    else
                    {
                        alert(feedbackmessage);
                    }
                },
                error: function (xhr, status, error)
                {
                    alert(error);
                }
            });
        }
    });

    $("#btnProductionStart").click(function(){
        var oProductionSheet= $('#tblProductionSheets').datagrid('getSelected');
        if(oProductionSheet==null || oProductionSheet.ProductionSheetID<=0)
        {
            alert("Invalid Field!!! please select a valid Field!");
            return false;
        }
        if(parseInt(oProductionSheet.SheetStatus)<1)
        {
            alert("Please Approve your Sheet By Authorize Person.");
            return false;
        }
        if(parseInt(oProductionSheet.SheetStatus)>1)
        {
            alert("Production Already Strated.");
            return false;
        }
        if (!confirm("Realy Want to Start ?")) return ;
        var SelectedRowIndex=$('#tblProductionSheets').datagrid('getRowIndex',oProductionSheet);
        if (oProductionSheet.ProductionSheetID > 0)
        {
            $.ajax
            ({
                type: "POST",
                dataType: "json",
                url : _sBaseAddress+  "/ProductionSheet/ProductionStart",
                traditional: true,
                data:  JSON.stringify(oProductionSheet),
                contentType: "application/json; charset=utf-8",
                success: function (data) {
                    var oProductionSheet = jQuery.parseJSON(data);
                    if (oProductionSheet.ErrorMessage=="" || oProductionSheet.ErrorMessage==null)
                    {
                        alert("Sucessfully Production Started");
                        $('#tblProductionSheets').datagrid('updateRow',{index: SelectedRowIndex,row: oProductionSheet});
                    }
                    else
                    {
                        alert(oProductionSheet.ErrorMessage);
                    }
                },
                error: function (xhr, status, error)
                {
                    alert(error);
                }
            });
        }
    });
        
    $("#btnProductionUndo").click(function(){
        var oProductionSheet= $('#tblProductionSheets').datagrid('getSelected');
        if(oProductionSheet==null || parseInt(oProductionSheet.ProductionSheetID)<=0)
        {
            alert("Invalid Field!!! please select a valid Field!");
            return false;
        }
        if(parseInt(oProductionSheet.SheetStatus)!=2)
        {
            alert("Please select an Production In Progress Sheet.");
            return false;
        }        
        if (!confirm("Realy Want to Undo Production ?")) return ;
        var SelectedRowIndex=$('#tblProductionSheets').datagrid('getRowIndex',oProductionSheet);
        if (oProductionSheet.ProductionSheetID > 0)
        {
            $.ajax
            ({
                type: "POST",
                dataType: "json",
                url : _sBaseAddress+  "/ProductionSheet/ProductionUndo",
                traditional: true,
                data:  JSON.stringify(oProductionSheet),
                contentType: "application/json; charset=utf-8",
                success: function (data) {
                    var oProductionSheet = jQuery.parseJSON(data);
                    if (oProductionSheet.ErrorMessage=="" || oProductionSheet.ErrorMessage==null)
                    {
                        alert("Sucessfully Production Undo");
                        $('#tblProductionSheets').datagrid('updateRow',{index: SelectedRowIndex,row: oProductionSheet});
                    }
                    else
                    {
                        alert(oProductionSheet.ErrorMessage);
                    }
                },
                error: function (xhr, status, error)
                {
                    alert(error);
                }
            });
        }
    });

    function ProductionProcedure()
    {
        debugger;
        var oProductionSheet= $('#tblProductionSheets').datagrid('getSelected');
        if(oProductionSheet==null || parseInt(oProductionSheet.ProductionSheetID)<=0)
        {
            alert("Please select a item from list!");
            return;
        }
        if(parseInt(oProductionSheet.SheetStatus)<1)
        {
            alert("Please select Only Approve Item from List.");
            return false;
        }
        var tsv=((new Date()).getTime())/1000;
        var SelectedRowIndex=$('#tblProductionSheets').datagrid('getRowIndex',oProductionSheet);
        var oProductionSheets= $('#tblProductionSheets').datagrid('getRows');
        sessionStorage.setItem("ProductionSheets", JSON.stringify(oProductionSheets));
        sessionStorage.setItem("SelectedRowIndex", SelectedRowIndex);
        sessionStorage.setItem("BackLink", window.location.href);
        window.location.href = _sBaseAddress+  "/ProductionSheet/ViewProductionProcedure?id="+oProductionSheet.ProductionSheetID;
    }

    function UndoRequest()
    {
        debugger;
        var oProductionSheet = $('#tblProductionSheets').datagrid('getSelected');
        if(oProductionSheet==null || oProductionSheet.ProductionSheetID<=0)
        {
            alert("Please select a item from list!");
            return;
        }else if(parseInt(oProductionSheet.ProductionSheetStatus)!=1)
        {
            alert("Please select only Requested  item from list");
            return;
        }
        if (!confirm("Confirm to Undo Request?")) return ;
        oProductionSheet.ActionTypeExtra="UndoRequest";
        StatusChange(oProductionSheet,"Undo Request");
    }

    function UndoApprove()
    {
        //debugger;
        var oProductionSheet = $('#tblProductionSheets').datagrid('getSelected');
        if(oProductionSheet==null || oProductionSheet.ProductionSheetID<=0)
        {
            alert("Please select a item from list!");
            return;
        }

        else if(oProductionSheet.ProductionSheetStatus==2)
        {
            if (!confirm("Confirm to Undo Approved?")) return ;
            oProductionSheet.ActionTypeExtra="UndoApprove";
            StatusChange(oProductionSheet,"UndoApprove");
        }
        else
        {
            alert("Please select only Approved from list");
            return;
        }
    }

    function StatusChange(oProductionSheet,sParamIdentifier)
    {
        var SelectedRowIndex=$('#tblProductionSheets').datagrid('getRowIndex',oProductionSheet);
        $.ajax({
            type: "POST",
            dataType: "json",
            url : _sBaseAddress+"/ProductionSheet/ChangeStatus",
            traditional: true,
            data:  JSON.stringify(oProductionSheet),
            contentType: "application/json; charset=utf-8",
            success: function (data) {
                debugger;
                var _oProductionSheet= jQuery.parseJSON(data);
                if (_oProductionSheet.ErrorMessage=="" || _oProductionSheet.ErrorMessage== null)
                {
                    if(sParamIdentifier=="Undo Request")
                    {
                        alert("Successfully Undo the Request !!");
                    }
                    else  if(sParamIdentifier=="UndoApprove")
                    {
                        alert("Successfully Undo Approved.");
                    }
                    else  if(sParamIdentifier=="RequestRevise")
                    {
                        alert("Successfully Request to Revised.");
                    }
                    $('#tblProductionSheets').datagrid('updateRow',{index: SelectedRowIndex,	row: _oProductionSheet});
                }
                else
                {
                    alert(_oProductionSheet.ErrorMessage);
                }
            },
            error: function (xhr, status, error)
            {
                alert(error);
            }
        });


    }

    function WaitForApproval()
    {
        $.ajax
        ({
            type: "GET",
            dataType: "json",
            url : _sBaseAddress+  "/ProductionSheet/WaitingSearch",
            data: { nStatusExtra:1, OrderType:_nOrderType },
            contentType: "application/json; charset=utf-8",
            success: function (data) {
                //debugger;
                var _oProductionSheets = jQuery.parseJSON(data);
                if (_oProductionSheets.length>0)
                {

                    var  data=_oProductionSheets;
                    data={"total":""+data.length+"","rows":data};
                    $('#tblProductionSheets').datagrid('loadData',data);

                }
                else
                {
                    alert("Data Not found");
                }
            },
            error: function (xhr, status, error)
            {
                alert(error);
            }
        });
    }

    $('#btnPrintList').click(function(){
        var oProductionSheets=$('#tblProductionSheets').datagrid('getRows');
        if(oProductionSheets.length<=0)
        {
            alert("Sorry, there is no data to Print");
        }
        var ids = ICS_PropertyConcatation(oProductionSheets, 'ProductionSheetID');
        var tsv=((new Date()).getTime())/1000;
        window.open(_sBaseAddress+ "/ProductionSheet/ProductionSheetPrintList?sIDs="+ids+"&ts="+tsv);
    });
    $('#btnPreview').click(function(){
        if(parseInt(sessionStorage.getItem('ProductNature'))==2)
        {
            var oProductionSheets=$('#tblProductionSheets').datagrid('getChecked');
            if(oProductionSheets==null || parseInt(oProductionSheets.length)<=0)
            {
                alert("Please select One or Multiple Production Sheet(s) ");
                return;
            }
            var oSteps = GetSteps();
            DynamicRefreshList(oSteps, "tblPrintCriterias");
            $("#winPrntCriteria").icsWindow('open', "Step List");
        }else
        {
            var oProductionSheet=$('#tblProductionSheets').datagrid('getSelected');
            if(oProductionSheet==null || parseInt(oProductionSheet.ProductionSheetID)<=0)
            {
                alert("Please select Production Sheet ");
                return;
            }
            window.open(_sBaseAddress+ "/ProductionSheet/ProductionSheetPreview?id="+oProductionSheet.ProductionSheetID);
        }
    });       
    //$('#btnPrintRequiredRM').click(function()
    //{
    //    var oProductionSheets= $('#tblProductionSheets').datagrid('getChecked');
    //    if(oProductionSheets.length<=0)
    //    {
    //        alert("Data not found ");
    //        return;
    //    }
    //    var sProductionSheetIDs = "";
    //    for(var i = 0;i<oProductionSheets.length;i++)
    //    {
    //        sProductionSheetIDs+= oProductionSheets[i].ProductionSheetID+",";
    //    }
    //    sProductionSheetIDs = sProductionSheetIDs.substring(0, sProductionSheetIDs.length-1);
    //    var oProductionSheet = {Note:sProductionSheetIDs};
    //        $.ajax({
    //            type: "POST",
    //            dataType: "json",
    //            url : _sBaseAddress+"/ProductionSheet/SetProductionSheetListData",
    //            traditional: true,
    //            data:  JSON.stringify(oProductionSheet),
    //            contentType: "application/json; charset=utf-8",
    //            success: function (data)
    //            {
    //                var sFeedBackMessage = jQuery.parseJSON(data);
    //                if (sFeedBackMessage==="Successful")
    //                {   
    //                   window.open(_sBaseAddress+ "/ProductionSheet/ProductionSheetRequiredRawMaterial?nBUID="+sessionStorage.getItem('BUID'));
    //                }
    //            },
    //            error: function (xhr, status, error) {
    //                alert(error);
    //            }
    //        });        
    //});

    function GetSteps()
    {
        var oList = [];
        var oTempStep = {Id:2,Name:'Blowing'};oList.push(oTempStep);
        oTempStep = {Id:3,Name:'Cutting'};oList.push(oTempStep);
        oTempStep = {Id:4,Name:'Printing'};oList.push(oTempStep);
       // oTempStep = {Id:5,Name:'RawMaterial'};oList.push(oTempStep);
        return oList;
    }
    function OkButtonClickRecipe()
    {
        var oPrintCriterias=$('#tblPrintCriterias').datagrid('getChecked');
        if(oPrintCriterias==null || parseInt(oPrintCriterias.length)<=0)
        {
            alert("Please select One or Multiple Report Format.");
            return;
        }
        var oProductionSheets= $('#tblProductionSheets').datagrid('getChecked');
        if(oProductionSheets.length<=0)
        {
            alert("Data not found ");
            return;
        }
        var sProductionSheetIDs = "";
        for(var i = 0;i<oProductionSheets.length;i++)
        {
            sProductionSheetIDs+= oProductionSheets[i].ProductionSheetID+",";
        }
        sProductionSheetIDs = sProductionSheetIDs.substring(0, sProductionSheetIDs.length-1);
        var oProductionSheet = {Note:sProductionSheetIDs};
        $.ajax({
            type: "POST",
            dataType: "json",
            url : _sBaseAddress+  "/ProductionSheet/SetProductionSheetListData",
            traditional: true,
            data:  JSON.stringify(oProductionSheet),
            contentType: "application/json; charset=utf-8",
            success: function (data) {
                var sFeedBackMessage = jQuery.parseJSON(data);
                if (sFeedBackMessage==="Successful")
                {   
                    for(var i =0;i<oPrintCriterias.length;i++)
                    {
                        window.open(_sBaseAddress+ "/ProductionSheet/ProductionSheetPreviewForPoly?nCriteria="+oPrintCriterias[i].Id+"&nBUID="+sessionStorage.getItem('BUID'));
                    }
                }
            },
            error: function (xhr, status, error) {
                alert(error);
            }
        });
        $("#winPrntCriteria").icsWindow('close');
    }
    function ClosePrntCriteria()
    {
        $("#winPrntCriteria").icsWindow('close');
    }
   

    function RefreshList(oProductionSheets)
    {
        debugger;
        var data=oProductionSheets;
        data={"total":""+data.length+"","rows":data};
        $('#tblProductionSheets').datagrid('loadData',data);
        var nIndex= parseInt(sessionStorage.getItem("SelectedRowIndex"));
        $('#tblProductionSheets').datagrid('selectRow',nIndex);
    }

    function RefreshControlLayout(oAURolesMapping)
    {
        $('#btnAdd,#btnEdit,#btnDelete,#btnView,#btnProductionProcedure,#btnPreview').hide();

        if(PermissionChecker('Add','ProductionSheet',oAURolesMapping)){$('#btnAdd').show();}
        if(PermissionChecker('Edit','ProductionSheet',oAURolesMapping)){$('#btnEdit').show(); }
        if(PermissionChecker('Delete','ProductionSheet',oAURolesMapping)){ $('#btnDelete').show(); }
        if(PermissionChecker('View','ProductionSheet',oAURolesMapping)){  $('#btnView').show();}
        if(PermissionChecker('Add','ProductionSheet',oAURolesMapping)){ $('#btnProductionProcedure').show();  }
        if(PermissionChecker('Preview','ProductionSheet',oAURolesMapping)){$('#btnPreview').show();  }
        //if(PermissionChecker('PrintList','ProductionSheet',oAURolesMapping)){$('#btnPrintList').show();  }

    }

    </script>
