<html>
<head>
    <link href="@Url.Content("~/Content/CSS/icon.css")" rel="stylesheet" type="text/css" />
    <link href="@Url.Content("~/Content/CSS/easyui.css")" rel="stylesheet" type="text/css" />
    <link href="@Url.Content("~/Content/CSS/Pikerstyle.css")" rel="stylesheet" type="text/css" />
    <script src="@Url.Content("~/Scripts/jquery-1.7.1.min.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Scripts/jquery.ics.customize.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Scripts/jquery.easyui.min.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Scripts/jquery-ui.min.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Scripts/json2.js")" type="text/javascript"></script>
    <style type="text/css">
        .lblStar
        {
            color: Red;    
        }
    </style>
</head>
<body>
    @model ESimSol.BusinessObjects.ITaxRebatePayment
    <div style="font-family: Tahoma">
        <table border="0" cellspacing="2" cellpadding="2">
            <tr>
                <td style="background-color: #cfb53b; text-align: center; width:370px; color: White">
                    <label id="lblHeaderName" style="font-size: 15px; font-weight: bold; text-decoration: Underline">
                        </label>
                </td>
            </tr>
        </table>
        <fieldset>
            <legend style="font-weight: bold">Income Tax Advance Payment </legend>
            <table border="0" cellspacing="2" cellpadding="2" style="font-size: 11px; font-weight: bold">
                <tr>
                    <td style="text-align: right">
                        Employee :
                    </td>
                    <td>
                        <input id="txtEmployee" type="text" style="width: 200px;" placeholder="Write name or code and enter " />
                    </td>
                </tr>
                <tr>
                    <td style="text-align: right">
                        Official Info :
                    </td>
                    <td>
                        <input id="txtOfficialInfo" type="text" style="width: 200px;"/><label class="lblstar">*</label>
                    </td>
                </tr>
                <tr>
                    <td style="text-align: right">
                        Assesment Year :
                    </td>
                    <td>
                        <input id="txtAssesmentYear" type="text" style="width: 200px;"/><label class="lblstar">*</label>
                    </td>
                </tr>
                 <tr>
                    <td style="text-align: right">
                        Rebate Item :
                    </td>
                    <td>
                        <select id="cboRebateItem" style="width:197px;"></select>
                        <label class="lblstar">*</label>
                    </td>
                </tr>
                <tr>
                    <td style="text-align: right">
                        Amount :
                    </td>
                    <td>
                        <input id="txtAmount" type="text" style="width: 200px;"/><label class="lblstar">*</label>
                    </td>
                </tr>
                <tr>
                    <td style="text-align: right">
                        Note :
                    </td>
                    <td>
                        <input id="txtNote" type="text" style="width: 200px;"/><label class="lblstar">*</label>   
                    </td>
                </tr>
                
            </table>
        </fieldset>
        <br />
        <fieldset>
            <legend style="font-weight: bold">Action : </legend>
            <table border="0" cellspacing="2" cellpadding="2" style="font-size: 11px; font-weight: bold">
                <tr>
                    <td style="width: 400px; text-align: left">
                    </td>
                    <td style="width: 50px">
                        <a id="btnSave" href="javascript:void(0)" class="easyui-linkbutton" iconcls="icon-save"
                            plain="true" onclick="Save()">Save</a>
                    </td>
                    <td style="width: 50px">
                        <a id="btnClose" href="javascript:void(0)" class="easyui-linkbutton" iconcls="icon-cancel"
                            plain="true" onclick="Close()">Close</a>
                    </td>
                </tr>
            </table>
        </fieldset>
    </div>
</body>
</html>
<script type="text/javascript">
var _oITaxRebatePayment = null;
var _sBaseAddress = "";
var _oEmployee = null;
var _nEmployeeID = 0;
var _nITaxAssessmentYearID = 0;

$(document).ready(function() 
{
    _sBaseAddress = @Html.Raw(new System.Web.Script.Serialization.JavaScriptSerializer().Serialize(HttpContext.Current.Session[SessionInfo.BaseAddress]));
    _oITaxRebatePayment = @Html.Raw(new System.Web.Script.Serialization.JavaScriptSerializer().Serialize(Model));
    var obj = window.dialogArguments;
    $('#txtAmount').numberbox({min:0,precision:2});
    document.getElementById('lblHeaderName').innerHTML = obj.Name;
    document.getElementById("txtAssesmentYear").value = _oITaxRebatePayment.ITaxAssessmentYear.AssessmentYear;
    _nITaxAssessmentYearID=_oITaxRebatePayment.ITaxAssessmentYear.ITaxAssessmentYearID;
    document.getElementById("txtAssesmentYear").readOnly=true;
    document.getElementById("txtOfficialInfo").readOnly =true;
    LoadRebateItem();
    if(obj.Name =="Edit Income Tax Rebate Payment")
    {
       RefreshControl();
    }
    if(obj.Name =="Preview Income Tax Rebate Payment")
    {
        RefreshControl(); 
        RefreshControlforView();
    }
    
});

function RefreshControl()
{
     document.getElementById("txtEmployee").value =  _oITaxRebatePayment.EmployeeNameCode
     document.getElementById("txtOfficialInfo").value = _oITaxRebatePayment.EmployeeOfficial;
     document.getElementById("txtAssesmentYear").value = _oITaxRebatePayment.AssessmentYear;
     document.getElementById("cboRebateItem").value = _oITaxRebatePayment.ITaxRebateItemID;
     //document.getElementById("txtAmount").value = _oITaxRebatePayment.Amount;
     $('#txtAmount').numberbox('setValue',_oITaxRebatePayment.Amount);
     document.getElementById("txtNote").value = _oITaxRebatePayment.Note;
     _nEmployeeID = _oITaxRebatePayment.EmployeeID;
     _nITaxAssessmentYearID = _oITaxRebatePayment.ITaxAssessmentYearID;
}

function RefreshControlforView()
{
     document.getElementById("txtEmployee").readOnly =true;
     document.getElementById("txtAmount").readOnly =true;
     document.getElementById("txtNote").readOnly =true;
     document.getElementById("btnSave").style.display = 'none';
     
}

function LoadRebateItem()
{
    var listItems="";
    listItems += "<option value=0>" +"--Select Rebate Item--" +"</option>";
    for (i = 0; i < _oITaxRebatePayment.ITaxRebateItems.length; i++)
    {
        listItems += "<option value='" + _oITaxRebatePayment.ITaxRebateItems[i].ITaxRebateItemID+"'>" + _oITaxRebatePayment.ITaxRebateItems[i].ITaxRebateTypeString+"</option>";
    }
    $("#cboRebateItem").html(listItems);
}

$('#txtEmployee').keypress(function (e) 
{
    var code = (e.keyCode ? e.keyCode : e.which);
    var sEmpCode=document.getElementById("txtEmployee").value;
        
    if (code == 13)//Enter key-13
    {
        if(sEmpCode=="")
        {
            alert("Please Enter Code !");
            return;
        }
        var nts=(new Date()).getTime()/1000;
        var oParameter = new Object();
        oParameter.MultipleItemReturn = false;
        var url = _sBaseAddress + "/Employee/EmployeePikerByCode?sCode="+sEmpCode+"&nDepartmentID=0&nts="+nts;
        _oEmployee = window.showModalDialog(url, oParameter, 'dialogHeight:405px;dialogWidth:510px;dialogLeft:400;dialogTop:100;center:yes;resizable:no;status:no;scroll:no');
            
        if(_oEmployee!=null)
        {

            if(_oEmployee.DesignationName=="" || _oEmployee.DepartmentName=="" || _oEmployee.LocationName=="")
            {
                alert("This Employee Has No Official Information !");
                return;
            }

            if(_oEmployee.IsActive == false)
            {
                alert("InActive Employee. Work can not be assigned for this employee!");
                return;
            }

            if(_oEmployee.WorkingStatus != 1)
            {
                alert("This employee is not in work place!");
                return;
            }

            $("#txtOfficialInfo")[0].value = _oEmployee.DesignationName+"," + _oEmployee.DepartmentName;
            $("#txtEmployee")[0].value=_oEmployee.Name;
            _nEmployeeID=_oEmployee.EmployeeID;
            
        }
    }
});

function ValidateInput() 
{
    if(_nEmployeeID == 0)
    {
        alert("Please enter employee!");
        return false;
    }
   
    if(document.getElementById("txtAssesmentYear").value == "")
    {
        alert("There is no assesment year!");
        document.getElementById("txtAssesmentYear").style.borderColor = 'red';
        document.getElementById("txtAssesmentYear").focus();
        return false;
    }
    
    if(document.getElementById("cboRebateItem").value == 0)
    {
        alert("Please select rebate item!");
        document.getElementById("cboRebateItem").style.borderColor = 'red';
        document.getElementById("cboRebateItem").focus();
        return false;
    }
   
    if(document.getElementById("txtAmount").value =="")
    {
        alert("Please enter amount!");
        document.getElementById("txtAmount").style.borderColor = 'red';
        document.getElementById("txtAmount").focus();
        return false;
    }

    if(document.getElementById("txtAmount").value <=0)
    {
        alert("Please enter possitive amount!");
        document.getElementById("txtAmount").style.borderColor = 'red';
        document.getElementById("txtAmount").focus();
        return false;
    }
    
    if(document.getElementById("txtNote").value =="")
    {
        alert("Please Enter Note!");
        document.getElementById("txtNote").style.borderColor = 'red';
        document.getElementById("txtNote").focus();
        return false;
    }
    
    return true;
}

function RefreshObject() 
{
  
    var oITaxRebatePayment = {

        ITaxRebatePaymentID : _oITaxRebatePayment.ITaxRebatePaymentID,
        ITaxAssessmentYearID : _nITaxAssessmentYearID,
        ITaxRebateItemID : document.getElementById("cboRebateItem").value, 
        EmployeeID : _nEmployeeID,
        Amount : document.getElementById("txtAmount").value,
        Note : document.getElementById("txtNote").value
    };
    
    return oITaxRebatePayment;
}

function Save() 
{
    if (!ValidateInput()) return;
    var oITaxRebatePayment = RefreshObject();
    
    $.ajax({
    type: "POST",
    dataType: "json",
    url: _sBaseAddress + "/ITaxProcessAndDeployment/ITaxRebatePayment_IU",
    traditional: true,
    data: JSON.stringify(oITaxRebatePayment),
    contentType: "application/json; charset=utf-8",

    success: function(data) {
        
        var oITaxRebatePayment = jQuery.parseJSON(data);
        if (oITaxRebatePayment.ITaxRebatePaymentID > 0) {
            alert("Data Saved sucessfully");
            window.returnValue = oITaxRebatePayment;
            window.close();
        } else {
            alert(oITaxRebatePayment.ErrorMessage);
        }
    },
    error: function(xhr, status, error) {
        alert(error);
    }
    });
    
}


function Close() 
{
    window.close();
}
</script>
