<html>
<head>
    <link href="@Url.Content("~/Content/CSS/icon.css")" rel="stylesheet" type="text/css" />
    <link href="@Url.Content("~/Content/CSS/easyui.css")" rel="stylesheet" type="text/css" />
    <link href="@Url.Content("~/Content/CSS/Pikerstyle.css")" rel="stylesheet" type="text/css" />
    <script src="@Url.Content("~/Scripts/jquery-1.7.1.min.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Scripts/jquery.ics.customize.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Scripts/jquery.easyui.min.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Scripts/jquery-ui.min.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Scripts/json2.js")" type="text/javascript"></script>
</head>
<body>
    @model IEnumerable<ESimSol.BusinessObjects.TrainingDevelopment>
    <div style="font-family: Tahoma">
        <table border="0" style="background-color: #CFB53B">
            <tr>
                <td style="background-color: #CFB53B; text-align: center; width: 250px; color: White">
                    <label id="lblHeaderName" style="font-size: 15px; font-weight: bold; text-decoration: Underline">
                        TrainingDevelopment Piker</label>
                </td>
            </tr>
        </table>
        <table border="0" cellpadding="0" cellspacing="0">
            <tr style="height: 250px">
                <td style="width: 250px; vertical-align: top">
                    <table id="tblTrainingDevelopment" title="TrainingDevelopment List" class="easyui-datagrid" style="width: 255px;
                        height: 250px" toolbar="#toolbarTrainingDevelopment" fitcolumns="false" rownumbers="true"
                        pagination="false" singleSelect="true" autorowheight="false">
                        <thead>
                            <tr>
                                <th data-options="field:'Selected',checkbox:true">
                                </th>
                                <th field="Country" width="215">
                                   Country
                                </th>
                                
                                
                            </tr>
                        </thead>
                    </table>
                    ​
                </td>
            </tr>
            <tr >
                <td style="width: 250px">
                    <table>
                        <tr>
                            <td style="width: 255px; text-align: left">
                            </td>
                            <td style="width: 50px; text-align: center">
                                <a href="javascript:void(0)" class="easyui-linkbutton" iconcls="icon-ok" plain="true"
                                    onclick="OkButtonClick()">Ok</a>
                            </td>
                            <td style="width: 50px; text-align: center">
                                <a href="javascript:void(0)" class="easyui-linkbutton" iconcls="icon-cancel" plain="true"
                                    onclick="Close()">Close</a>
                            </td>
                        </tr>
                    </table>
                </td>
            </tr>
        </table>
    </div>
</body>
</html>
<script type="text/javascript">
var _bMultipleItemReturn = false;
var _sBaseAddress="";
var _oTrainingDevelopments=[];
$(document).ready(function ()
{
    _oTrainingDevelopments=@Html.Raw(new System.Web.Script.Serialization.JavaScriptSerializer().Serialize(Model)); 
    _sBaseAddress =@Html.Raw( new System.Web.Script.Serialization.JavaScriptSerializer().Serialize(HttpContext.Current.Session[SessionInfo.BaseAddress]));
    if(_oTrainingDevelopments[0].ErrorMessage !="")
    {
        alert(_oTrainingDevelopments[0].ErrorMessage);
        window.close();
    }
    var obj = window.dialogArguments;
    _bMultipleItemReturn = obj.MultipleItemReturn;
    if(_bMultipleItemReturn==false)
    {
        $('#tblTrainingDevelopment').datagrid('hideColumn','Selected'); 
        $('#tblTrainingDevelopment').datagrid({ onDblClickRow: function (rowIndex, rowData) { RowDoubleClickEvent(rowIndex, rowData); } });
    }
    RefreshList(_oTrainingDevelopments);
});


function RefreshList(_oTrainingDevelopments)
{
    data = _oTrainingDevelopments;
    data = { "total": "" + data.length + "", "rows": data };
    $('#tblTrainingDevelopment').datagrid('loadData', data);
    $('#tblTrainingDevelopment').datagrid('selectRow',0);
}

function Close()
{
    window.close();
}

function OkButtonClick()
{       
        if(_bMultipleItemReturn==true)
        {
            var oSelectedStyles=[];
            var oSelectedStyles = $('#tblTrainingDevelopment').datagrid('getChecked');               
            if(oSelectedStyles.length<=0)
            {
                alert("please select atleast one item");
                return;
            }
            window.returnValue= oSelectedStyles;
        }
        else
        {
            var oSelectedStyle= $('#tblTrainingDevelopment').datagrid('getSelected'); 
            if(oSelectedStyle==null)
            {
                alert("please select a Style");
                return;
            }
            window.returnValue= oSelectedStyle;
        }
        window.close();  
}

$(document).keydown(function (e)
{
    var keyCode = e.keyCode || e.which;
    if (keyCode == 13) 
    {
        OkButtonClick();
    }

});


$(document).keydown(function(e) {    
    
    var oTrainingDevelopment= $('#tblTrainingDevelopment').datagrid('getSelected'); 
    var nIndex=$('#tblTrainingDevelopment').datagrid('getRowIndex', oTrainingDevelopment); 
    if(e.which == 38)//up arrow=38
    {
        if(nIndex<=0)
        {
            $('#tblTrainingDevelopment').datagrid('selectRow', 0); 
        }
        else
        {
            $('#tblTrainingDevelopment').datagrid('selectRow', nIndex-1); 
        }
//        $('#txtStyleNo').blur();
    }
    if(e.which == 40)//down arrow=40
    {
        var oCurrentList = $('#tblTrainingDevelopment').datagrid('getRows'); 
        if(nIndex>=oCurrentList.length-1)
        {
            $('#tblTrainingDevelopment').datagrid('selectRow', oCurrentList.length-1); 
        }
        else
        {
            $('#tblTrainingDevelopment').datagrid('selectRow', nIndex+1); 
        }
//        $('#txtStyleNo').blur();
    }
    if(e.which == 13)//enter=13
    {
        //debugger;
        var oSelectedTrainingDevelopment= $('#tblTrainingDevelopment').datagrid('getSelected'); 
        if(oSelectedTrainingDevelopment ==null )
        {
            alert("Please select an Contarctor!");
            return;
        }
        window.returnValue = oSelectedTrainingDevelopment;
        window.close();
    }
    if(e.which == 27)//escape=27
    {
        //debugger;        
        window.returnValue = null;
        window.close();
    }
});

</script>