
 

@model ESimSol.BusinessObjects.UnitConversion
@{
    ViewBag.Title = "Delete Unit Conversion";
}

       <div class="PageHeading">
       <table border="0">
                <tr>
                   
                    <td style="width:900px" class="Headline">Delete UnitConversion</td>
                </tr>
            </table></div>    
        <div class="PageBody" style="overflow:auto">
        <table border="0">
            <tr>
                <td style="width:50px"></td>
                <td style="width:800px">                           
                            <fieldset>
                                <legend style="font-weight:bold">Delete Conversion Info : </legend>
                                <table border="0">
                                    <tr>
                                        <td>Converted From</td>
                                        <td>:</td>
                                        <td>
                                                <div class="editor-field">
                                                @Html.TextBoxFor(model => model.MeasurementUnitName, new { style = "width: 500px;", id = "txtMeasurementUnitName", disabled = "disabled" })            
                                                </div>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>Converted To</td>
                                        <td>:</td>
                                        <td>
                                                <div class="editor-field">
                                                @Html.TextBoxFor(model => model.ConvertedUnitName, new { style = "width: 500px;", id = "txtConvertedUnitName", disabled = "disabled" })            
                                                </div>
                                        </td>
                                    </tr>
                                    <tr>
                                            <td>Converted Value</td>                                     
                                            <td>:</td>
                                            <td>
                                                  <div class="editor-field">
                                                        @Html.TextBoxFor(model => model.ConvertedUnitValue, new { style = "width: 500px;", id = "txtConvertedUnitValue", disabled = "disabled" })            
                                                  </div>
                                            </td>
                                    </tr>
                                    <tr>
                                        <td></td>
                                        <td></td>
                                        <td>
                                          @Html.HiddenFor(model => model.UnitConversionID)   
                                          @Html.HiddenFor(model => model.MeasurementUnitID)   
                                          @Html.HiddenFor(model => model.ConvertedUnitID)   
                                        </td>
                                    </tr>
                                </table>
                                </fieldset>                            
                                  @using (Html.BeginForm()) {
                                                <input type="submit" value="Delete" />       
                                  }    
                    </td>
                <td style="width:50px"></td>
            </tr>
            <tr>
                 <td style="width:50px"></td>
                 <td style="width:800px">
                    <div style="color: red;font-weight:900; margin-top:10px">@TempData["message"]</div>
                 </td>
                 <td style="width:50px"></td>
            </tr>
        </table>     
        </div>

        <div class="PageFooter">
<div style="margin-left:20px;margin-right:20px">
    <table>
        <tr>
            <td style="width:500px">
            <div id="pager" class="tablesorterPager">
	            <form>
		            <img src="../../Content/Images/TableSorter/first.png" class="first"/>
		            <img src="../../Content/Images/TableSorter/prev.png" class="prev"/>
		            <input type="text" class="pagedisplay"/>
		            <img src="../../Content/Images/TableSorter/next.png" class="next"/>
		            <img src="../../Content/Images/TableSorter/last.png" class="last"/>
		            <select class="pagesize">
			            <option selected="selected"  value="20">20</option>                                
			            <option value="30">30</option>
			            <option value="40">40</option>               
		            </select>
	            </form>
            </div>
            </td>         
            <td style="width:400px; text-align:right">
                @Html.ActionLink("Back To Unit Conversion List", "RefreshList", "UnitConversion")
            </td>
        </tr>
    </table>
    
</div>
</div>


 