@model IEnumerable<ESimSol.BusinessObjects.TrialBalance_Categorized>
    @{
        ViewBag.Title = "Report";
    }
    <div id="winVoucher" class="easyui-window" title="View Voucher" style="height: 515px; width: 1020px;" data-options="modal:true,closed:true,collapsible:false,minimizable:false,maximizable:false,closable:false">
        <div id="p" style="width:99%; padding:1px">
            <div style="width:100%">
                <table border="0" cellpadding="2" cellspacing="2" style="width:100%;">
                    <tr>
                        <td style="width:25%; font-size:12px">
                            Business Unit:<input type="text" id="txtBusinessUnit" style="width: 120px;margin-left:5px; font-weight:bolder" disabled />
                        </td>
                        <td style="width:25%; font-size:12px">
                            Voucher No:<input type="text" id="txtVoucherNo" style="width: 120px;margin-left:5px; font-weight:bolder" disabled />
                        </td>
                        <td style="width:25%; text-align:center">
                            Voucher Type:<input type="text" id="txtVoucherType" style="width: 150px;margin-left:5px; font-weight:bolder" disabled />
                        </td>
                        <td style="width:22%; font-size:12px;text-align:right;">
                            Voucher Date :<input type="text" id="txtVoucherDate" style="width: 120px;margin-left:5px; font-weight:bolder" disabled />
                        </td>
                    </tr>
                </table>
            </div>
            <div style="width:100%">
                <table id="tblVoucherDetailHeader" class="tablebordaer" border="0" cellpadding="0" cellspacing="0" width="100%" style="font-size:12px; font-weight:bold">
                    <tr>
                        <td style="width:5%; text-align:center">BU</td>
                        <td style="width:45%; text-align:center">Particulars</td>
                        <td style="width:30%; text-align:center">Narration</td>
                        <td style="width:10%; text-align:center">Debit<label class="lblBaseCurrencySymbol"></label></td>
                        <td style="width:10%; text-align:center">Credit<label class="lblBaseCurrencySymbol"></label></td>
                    </tr>
                </table>
            </div>
            <div class="tablebordaer" id="divVoucherDetails" style="height:280px; width:100%; font-size:12px; overflow:auto">
                <table id="tblVoucherDetail" border="0" cellpadding="0" cellspacing="0" style="font-size:13px; width:100%"></table>
            </div>
            <table border="0" cellpadding="0" cellspacing="0" style="width:100%">
                <tr>
                    <td style="width:80%; text-align:right; font-size:12px; font-weight:bold"></td>
                    <td colspan="2" style="width:20%; text-align:right; font-size:12px; font-weight:bold"><hr /></td>
                </tr>
                <tr>
                    <td style="width:70%; text-align:right; font-size:12px; font-weight:bold"></td>
                    <td style="width:20%; text-align:right; font-size:10px; font-weight:bold;padding-right: 34px;"><label class="lblBaseCurrencySymbol"></label><label id="lblTotalDebitAmount">0.00</label> </td>
                    <td style="width:10%; text-align:right; font-size:10px; font-weight:bold"><label class="lblBaseCurrencySymbol"></label><label id="lblTotalCreditAmount"> 0.00</label>&nbsp;&nbsp;</td>
                </tr>
                <tr>
                    <td style="width:80%; text-align:right; font-size:12px; font-weight:bold"></td>
                    <td colspan="2" style="width:20%; text-align:right; font-size:12px; font-weight:bold"><hr /><hr /></td>
                </tr>
                <tr>
                    <td style="width:80%; text-align:left; font-size:12px; font-weight:bold">Narration :</td>
                    <td colspan="2" style="width:20%; text-align:right; font-size:12px; font-weight:bold"></td>
                </tr>
                <tr>
                    <td colspan="3" style="width:100%; text-align:left; font-size:12px; font-weight:bold">
                        <textarea rows="1" id="txtNarration" style="text-align:left; width:100%" disabled></textarea>
                    </td>
                </tr>
                <tr style="height:33px">
                    <td style="width:60%; text-align:left; font-size:12px; font-weight:bold"></td>
                    <td style="width:20%; text-align:right; font-size:12px; font-weight:bold; vertical-align:bottom">
                        <a id="btnPrintVoucher" href="javascript:void(0)" class="easyui-linkbutton" iconcls="icon-print" plain="true">Print</a>
                    </td>
                    <td colspan="2" style="width:20%; text-align:right; font-size:12px; font-weight:bold; vertical-align:bottom">
                        <a id="btnCloseVoucher" href="javascript:void(0)" class="easyui-linkbutton" iconcls="icon-cancel" plain="true">Close</a>
                    </td>
                </tr>
            </table>
        </div>
    </div>
    <div id="winPreferences" class="easyui-window" title="Settings" data-options="modal:true,closed:true,collapsible:false,minimizable:false,maximizable:false,closable:false">
        <fieldset style="margin-top:2px">
            <table border="0" cellpadding="2" cellspacing="2">
                <tr>
                    <td style="width:300px; text-align:right">
                        <div style="height:153px;width:100%;">
                            <table id="tblPreferences" class="easyui-datagrid" style="height:100%;width:100%;" fit="true" fitcolumns="true" rownumbers="true" pagination="false" singleselect="true" autorowheight="false"
                                   data-options="onDblClickRow:function (index,row){return ChoosePreferences();}">
                                <thead>
                                    <tr>
                                        <th field="Value" width="97%" align="left">Option Name</th>
                                    </tr>
                                </thead>
                            </table>
                        </div>
                    </td>
                </tr>
            </table>
        </fieldset>
        <fieldset style="text-align:right">
            <legend>Actions : </legend>
            <a id="btnPreferenceOK" href="javascript:void(0)" class="easyui-linkbutton" iconcls="icon-ok" plain="true" onclick="return ChoosePreferences()">OK</a>
            <a id="btnPreferenceClose" href="javascript:void(0)" class="easyui-linkbutton" iconcls="icon-cancel" plain="true">Close</a>
        </fieldset>
    </div>
    <div id="winSettings" class="easyui-window" title="Settings" data-options="modal:true,closed:true,collapsible:false,minimizable:false,maximizable:false,closable:false">
        <fieldset style="margin-top:2px">
            <table border="0" cellpadding="2" cellspacing="2">
                <tr>
                    <td style="width:80px; text-align:right">Range : </td>
                    <td style="width:110px">
                        From <input id="txtSettingFromDate" type="text" class="easyui-datebox" required="required" data-options="formatter:icsdateformat,parser:icsdateparser" style="width:100%" />
                    </td>
                    <td style="width:110px">
                        To <input id="txtSettingToDate" type="text" class="easyui-datebox" required="required" data-options="formatter:icsdateformat,parser:icsdateparser" style="width:100%" />
                    </td>
                </tr>
                <tr>
                    <td style="width:80px; text-align:right">Business Unit : </td>
                    <td colspan="2" style="width:220px">
                        <select id="cboSettingBusinessUnits" style="width:100%;"></select>
                    </td>
                </tr>
                <tr id="trGLConfigs">
                    <td colspan="3" style="width:300px;">
                        <div style="height:153px;width:100%;">
                            <table id="tblGLConfigs" class="easyui-datagrid" style="height:100%;width:100%;" fit="true" fitcolumns="true" rownumbers="true" pagination="false" singleselect="fale" autorowheight="false" 
                                   data-options="onLoadSuccess: ConfigLoadSuccessful">
                                <thead>
                                    <tr>
                                        <th data-options="field:'Selected',checkbox:true"></th>
                                        <th field="ErrorMessage" width="87%" align="left">Configuration Name</th>
                                    </tr>
                                </thead>
                            </table>
                        </div>
                    </td>
                </tr>

            </table>
        </fieldset>
        <fieldset style="text-align:right">
            <legend>Actions : </legend>
            <a id="btnSettingOK" href="javascript:void(0)" class="easyui-linkbutton" iconcls="icon-ok" plain="true" onclick="return ChooseSettings()">OK</a>
            <a id="btnSettingClose" href="javascript:void(0)" class="easyui-linkbutton" iconcls="icon-cancel" plain="true">Close</a>
        </fieldset>
    </div>
    <div id="PanelTools">
        <a id="btnBack" href="javascript:void(0)" class="easyui-linkbutton easyui-tooltip" title="Back (ESC)" iconcls="icon-back_mini" plain="true" onclick="DeterminePreviousLevel()"></a>
        <a id="btnSettings" href="javascript:void(0)" class="easyui-linkbutton easyui-tooltip" title="Settings (Shit+S)" iconcls="icon-setting_mini" plain="true" onclick="OpenSettings()"></a>
        <a id="btnPrint" href="javascript:void(0)" class="easyui-linkbutton easyui-tooltip" title="Print (Shit+P)" iconcls="icon-print_mini" plain="true" onclick="PrintPDF()"></a>
    </div>
    <div id="winReport" class="easyui-panel" tools="#PanelTools" title="Trial Balance" style="margin-left: 0px; height: 100%; width:100%;" fit="true">
        <div id="divTBCategorized" style="height:100%;width:100%;">
            <table id="tblTrialBalance_Categorizeds" class="easyui-datagrid" style="height:96.5%;width:100%;" fit="false" fitcolumns="true" rownumbers="true" pagination="false" singleselect="true" autorowheight="false"
                   data-options="onDblClickRow:function (index,row){return DetermineNextLevel(row);}">
                <thead>
                    <tr>
                        <th field="AccountCode" width="17%" align="left" rowspan="2"> Account Code </th>
                        <th field="AccountHeadName" width="47%" align="left" rowspan="2">AccountHead Name</th>
                        <th colspan="2">Closing Balance</th>
                    </tr>
                    <tr>
                        <th field="DebitClosingBalanceSt" width="17%" align="right">Debit</th>
                        <th field="CreditClosingBalanceSt" width="17%" align="right">Credit</th>
                    </tr>
                </thead>
            </table>
            <div style="height:10px;width:100%;">
                <table style="height:100%;width:100%;">
                    <tr>
                        <td style="width:26px;"></td>
                        <td style="width:64%;"></td>
                        <td style="width:17%;text-align:right;">
                            <label id="lblTBDebitBalance" style="font-weight:bold;">0.00</label>
                        </td>
                        <td style="width:17%;text-align:right;">
                            <label id="lblTBCreditBalance" style="font-weight:bold;">0.00</label>
                        </td>
                        <td style="width:38px;"></td>
                    </tr>
                </table>
            </div>
        </div>

        <div id="divMonthlyGL" style="height:100%;width:100%;">
            <table id="tblGLMonthlySummarys" class="easyui-datagrid" style="height:96.5%;width:100%;" fit="false" fitcolumns="true" rownumbers="true" pagination="false" singleselect="true" autorowheight="false"
                   data-options="onDblClickRow:function (index,row){return DetermineNextLevel(row);}">
                <thead>
                    <tr>
                        <th field="NameOfMonth" width="47%" align="left" rowspan="2">Month</th>
                        <th colspan="2">Transaction Summary</th>
                        <th field="ClosingBalanceSt" width="17%" align="right" rowspan="2">Closing Balance</th>
                    </tr>
                    <tr>
                        <th field="DebitAmountInString" width="17%" align="right">Debit</th>
                        <th field="CreditAmountInString" width="17%" align="right">Credit</th>
                    </tr>
                </thead>
            </table>
            <div style="height:10px;width:100%;">
                <table style="height:100%;width:100%;">
                    <tr>
                        <td style="width:26px;"></td>
                        <td style="width:47%;"></td>
                        <td style="width:17%;text-align:right;">
                            <label id="lblMGLDebitBalance" style="font-weight:bold;">0.00</label>
                        </td>
                        <td style="width:17%;text-align:right;">
                            <label id="lblMGLCreditBalance" style="font-weight:bold;">0.00</label>
                        </td>
                        <td style="width:17%;"></td>
                        <td style="width:38px;"></td>
                    </tr>
                </table>
            </div>
        </div>

        <div id="divGeneralLedger" style="height:100%;width:100%;">
            <table id="tblGeneralLedgers" class="easyui-datagrid" style="height:96.5%;width:100%;" fit="false" fitcolumns="true" rownumbers="true" pagination="false" singleselect="true" autorowheight="false" toolbar="#toolbarGeneralLedger"
                   data-options="onDblClickRow:function (index,row){return DetermineNextLevel(row);},onLoadSuccess: GLLoadSuccessful">
                <thead>
                    <tr>
                        <th field="VoucherDateInString" width="8%" align="center">Voucher Date</th>
                        <th field="VoucherNo" width="16%" align="left">Voucher No</th>
                        <th field="Particulars" width="27%" align="left">Particulars</th>
                        <th field="DebitAmountInString" width="16%" align="right">Debit</th>
                        <th field="CreditAmountInString" width="16%" align="right">Credit</th>
                        <th field="CurrentBalanceInString" width="16%" align="right">Closing Balance</th>
                    </tr>
                </thead>

            </table>
            <div id="toolbarGeneralLedger">
                <a id="btnPreferences" href="javascript:void(0)" class="easyui-linkbutton easyui-tooltip" title="Details (Shift+D)" iconcls="icon-pick" plain="true" onclick="return OpenPreferences()">Ledger Details Summary</a>
            </div>
            <div style="height:10px;width:100%;">
                <table style="height:100%;width:100%;">
                    <tr>
                        <td style="width:26px;"></td>
                        <td style="width:51%;"></td>
                        <td style="width:16%;text-align:right;">
                            <label id="lblGLDebitBalance" style="font-weight:bold;">0.00</label>
                        </td>
                        <td style="width:16%;text-align:right;">
                            <label id="lblGLCreditBalance" style="font-weight:bold;">0.00</label>
                        </td>
                        <td style="width:16%;"></td>
                        <td style="width:38px;"></td>
                    </tr>
                </table>
            </div>
        </div>

        <div id="divCostCenterBreakdown" style="height:100%;width:100%;">
            <table id="tblCostCenterBreakdown" class="easyui-datagrid" style="width:100%; height:96.5%;" fit="false" fitcolumns="true" rownumbers="true" pagination="false" singleselect="true" autorowheight="false"
                   data-options="onDblClickRow:function (index,row){return DetermineNextLevel(row);}">
                <thead>
                    <tr>
                        <th field="CCCode" width="8%" align="left">Code</th>
                        <th field="CCName" width="26%" align="left">Name</th>
                        <th field="OpeningValueInString" width="17%" align="right">Opening Value</th>
                        <th field="DebitAmountInString" width="16%" align="right">Debit Amount</th>
                        <th field="CreditAmountInString" width="16%" align="right">Credit Amount</th>
                        <th field="ClosingValueString" width="16%" align="right">Closing Value</th>
                    </tr>
                </thead>
            </table>
            <div style="height:10px;width:100%;">
                <table style="height:100%;width:100%;">
                    <tr>
                        <td style="width:26px;"></td>
                        <td style="width:34%;"></td>
                        <td style="width:17%;text-align:right;">
                            <label id="lblCCBOpeningBalance" style="font-weight:bold;">0.00</label>
                        </td>
                        <td style="width:16%;text-align:right;">
                            <label id="lblCCBDebitBalance" style="font-weight:bold;">0.00</label>
                        </td>
                        <td style="width:16%;text-align:right;">
                            <label id="lblCCBCreditBalance" style="font-weight:bold;">0.00</label>
                        </td>
                        <td style="width:16%;text-align:right;">
                            <label id="lblCCBClosingBalance" style="font-weight:bold;">0.00</label>
                        </td>
                        <td style="width:38px;"></td>
                    </tr>
                </table>
            </div>
        </div>
        <div id="divCostCenterDetails" style="height:100%;width:100%;">
            <table id="tblCostCenterDetails" class="easyui-datagrid" style="width:100%; height:96.5%;" fit="false" fitcolumns="true" rownumbers="true" pagination="false" singleselect="true" autorowheight="false" toolbar="#toolbarCostCenterDetails"
                   data-options="onDblClickRow:function (index,row){return DetermineNextLevel(row);},onLoadSuccess: CCGLLoadSuccessful">
                <thead>
                    <tr>
                        <th field="VoucherDateInString" width="8%" align="left"> Voucher Date</th>
                        <th field="VoucherNo" width="16%" align="left">Voucher No</th>
                        <th field="AccountHeadName" width="27%" align="left">Particulars</th>
                        <th field="DebitAmountInString" width="16%" align="right">Debit Amount</th>
                        <th field="CreditAmountInString" width="16%" align="right">Credit Amount</th>
                        <th field="ClosingValueString" width="16%" align="right">Closing Value</th>
                    </tr>
                </thead>
            </table>
            <div id="toolbarCostCenterDetails">
                <a id="btnPreferencesCC" href="javascript:void(0)" class="easyui-linkbutton easyui-tooltip" title="Details (Shift+D)" iconcls="icon-pick" plain="true" onclick="return OpenPreferences()">Sub Ledger Details Summary</a>
            </div>
            <div style="height:10px;width:100%;">
                <table style="height:100%;width:100%;">
                    <tr>
                        <td style="width:26px;"></td>
                        <td style="width:51%;"></td>
                        <td style="width:16%;text-align:right;">
                            <label id="lblCCDDebitBalance" style="font-weight:bold;">0.00</label>
                        </td>
                        <td style="width:16%;text-align:right;">
                            <label id="lblCCDCreditBalance" style="font-weight:bold;">0.00</label>
                        </td>
                        <td style="width:16%;"></td>
                        <td style="width:38px;"></td>
                    </tr>
                </table>
            </div>
        </div>

        <div id="divVoucherBillSummary" style="height:100%;width:100%;">
            <table id="tblVoucherBillSummary" class="easyui-datagrid" style="width:100%; height:96.5%;" fit="false" fitcolumns="true" rownumbers="true" pagination="false" singleselect="true" autorowheight="false"
                   data-options="onDblClickRow:function (index,row){return DetermineNextLevel(row);}">
                <thead>
                    <tr>
                        <th field="BillDateInString" width="8%" align="left" rowspan="2">Date</th>
                        <th field="BillNo" width="30%" align="left" rowspan="2">Bill No</th>
                        <th colspan="2">Closing Balance</th>
                        <th field="RemainingBalanceSt" width="10%" align="right" rowspan="2">Remaining Balance</th>
                        <th field="DueDateInString" width="8%" align="left" rowspan="2">Due Date</th>
                        <th field="OverdueDays" width="8%" align="left" rowspan="2">Overdue Days</th>
                    </tr>
                   <tr>
                        <th field="DebitClosingBalanceSt" width="17%" align="right">Debit</th>
                        <th field="CreditClosingBalanceSt" width="17%" align="right">Credit</th>
                    </tr>
                </thead>
            </table>
            <div style="height:10px;width:100%;">
                <table style="height:100%;width:100%;">
                    <tr>
                        <td style="width:26px;"></td>
                        <td style="width:38%;"></td>
                        <td style="width:17%;text-align:right;">
                            <label id="lblVBSDebitBalance" style="font-weight:bold;">0.00</label>
                        </td>
                        <td style="width:17%;text-align:right;">
                            <label id="lblVBSCreditBalance" style="font-weight:bold;">0.00</label>
                        </td>
                        <td style="width:26%;"></td>
                        <td style="width:38px;"></td>
                    </tr>
                </table>
            </div>
        </div>
        <div id="divVoucherBillDetails" style="height:100%;width:100%;">
            <table id="tblVoucherBillDetails" class="easyui-datagrid" style="width:100%; height:96.5%;" fit="false" fitcolumns="true" rownumbers="true" pagination="false" singleselect="true" autorowheight="false"
                   data-options="onDblClickRow:function (index,row){return DetermineNextLevel(row);}">
                <thead>
                    <tr>
                        <th field="VoucherDateSt" width="8%" align="left"> Voucher Date</th>
                        <th field="AccountHeadName" width="27%" align="left">Particulars</th>
                        <th field="VoucherNo" width="16%" align="left">Voucher No</th>
                        <th field="DebitAmountSt" width="16%" align="right">Debit Amount</th>
                        <th field="CreditAmountSt" width="16%" align="right">Credit Amount</th>
                        <th field="ClosingBalanceSt" width="16%" align="right">Closing Value</th>
                    </tr>
                </thead>
            </table>
            <div style="height:10px;width:100%;">
                <table style="height:100%;width:100%;">
                    <tr>
                        <td style="width:26px;"></td>
                        <td style="width:51%;"></td>
                        <td style="width:16%;text-align:right;">
                            <label id="lblVBDDebitBalance" style="font-weight:bold;">0.00</label>
                        </td>
                        <td style="width:16%;text-align:right;">
                            <label id="lblVBDCreditBalance" style="font-weight:bold;">0.00</label>
                        </td>
                        <td style="width:16%;"></td>
                        <td style="width:38px;"></td>
                    </tr>
                </table>
            </div>
        </div>
    </div>
    <script type="text/javascript">
        $(document).ready(function () {
            var sBaseAddress =@Html.Raw( new System.Web.Script.Serialization.JavaScriptSerializer().Serialize(HttpContext.Current.Session[SessionInfo.BaseAddress]));
            var objs= @Html.Raw( new System.Web.Script.Serialization.JavaScriptSerializer().Serialize(Model));
            var sStartDate= @Html.Raw(new System.Web.Script.Serialization.JavaScriptSerializer().Serialize(ViewBag.StartDate));
            var sEndDate= @Html.Raw(new System.Web.Script.Serialization.JavaScriptSerializer().Serialize(ViewBag.EndDate));
            var oCompany= @Html.Raw(new System.Web.Script.Serialization.JavaScriptSerializer().Serialize(ViewBag.Company));
            var oBusinessUnits= @Html.Raw(new System.Web.Script.Serialization.JavaScriptSerializer().Serialize(ViewBag.BusinessUnits));
            var nLevel= @Html.Raw(new System.Web.Script.Serialization.JavaScriptSerializer().Serialize(ViewBag.Level));
            var oPreferences= @Html.Raw(new System.Web.Script.Serialization.JavaScriptSerializer().Serialize(ViewBag.Preferences));
            var oGLConfigs= @Html.Raw(new System.Web.Script.Serialization.JavaScriptSerializer().Serialize(ViewBag.GLConfigs));

            var sHeaderText='Trial Balance || '+oCompany.Name+' || "'+sStartDate+'" to "'+sEndDate+'"';

            sessionStorage.setItem("BaseAddress", sBaseAddress);
            sessionStorage.setItem("Level", nLevel);
            sessionStorage.setItem("Components", JSON.stringify(objs));
            sessionStorage.setItem("BusinessUnits", JSON.stringify(oBusinessUnits));
            sessionStorage.setItem("BusinessUnitID", 0)
            sessionStorage.setItem("Company", JSON.stringify(oCompany));
            sessionStorage.setItem("ReportStartDate", sStartDate);
            sessionStorage.setItem("ReportEndDate", sEndDate);
            sessionStorage.setItem("StartDate", sStartDate);
            sessionStorage.setItem("EndDate", sEndDate);
            sessionStorage.setItem("Preferences",JSON.stringify(oPreferences));
            sessionStorage.setItem("GLConfigs",JSON.stringify(oGLConfigs));
            sessionStorage.setItem("SelectedGLConfigs",JSON.stringify([]));
            sessionStorage.setItem("SettingWindow",'Close');
            sessionStorage.setItem("PreferenceWindow", 'Close');
            sessionStorage.setItem("VoucherWindow", 'Close');
            

            DynamicRefreshList(oPreferences,'tblPreferences');
            sessionStorage.setItem("HeaderText"+nLevel,sHeaderText);
            $('#winReport').panel({ title:sHeaderText});

            //$('#divTBCategorized').show();
            //$('#divMonthlyGL').hide();
            //$('#divGeneralLedger').hide();

            $('#Mainlayout').layout('collapse', 'west');
            //DynamicRefreshList(objs,'tblTrialBalance_Categorizeds');
            ManageGrid(objs);

        });
        function ConfigLoadSuccessful(data){
            var nLevel= parseInt(sessionStorage.getItem("Level"));
            var objs=data.rows;
            var oSelectedConfigs=[];
            if(nLevel===7){
                oSelectedConfigs=jQuery.parseJSON(sessionStorage.getItem("SelectedGLConfigs"));
            }else if(nLevel===9){
                oSelectedConfigs=jQuery.parseJSON(sessionStorage.getItem("SelectedCCGLConfigs"));
            }
            oSelectedConfigs=oSelectedConfigs?oSelectedConfigs:[];
            for(var i=0;i<oSelectedConfigs.length;i++){
                for(var j=0;j<objs.length;j++){
                    if(oSelectedConfigs[i].ConfigureType===objs[j].ConfigureType){
                        $('#tblGLConfigs').datagrid('checkRow',j);
                    }
                }
            }
        }

        function GLLoadSuccessful(data){
            var rows = $('#tblGeneralLedgers').datagrid('getRows');
            for(i=0;i<rows.length;i++){
                if(rows[i].VoucherID == 0 && i > 0)
                {
                    $('#tblGeneralLedgers').datagrid('mergeCells',{
                        index: i,
                        field: 'VoucherNo',
                        colspan: 5
                    });
                }
            }
        }

        function CCGLLoadSuccessful(data){
            var rows = $('#tblCostCenterDetails').datagrid('getRows');
            for(i=0;i<rows.length;i++){
                if(rows[i].VoucherID == 0 && i > 0)
                {
                    $('#tblCostCenterDetails').datagrid('mergeCells',{
                        index: i,
                        field: 'VoucherNo',
                        colspan: 5
                    });
                }
            }
        }

        function RefreshTotalSummary(objs){
            var nLevel= parseInt(sessionStorage.getItem("Level"));
            var nOptionID=parseInt(sessionStorage.getItem("OptionID"));
            var nCCOptionID=parseInt(sessionStorage.getItem("CCOptionID"));

            var sParamDebit='',sParamCredit='',sLabelDebit='',sLabelCredit='',sLabelOpening='',sLabelClosing='',sParamOpening='',sParamClosing='',nDebit=0,nCredit=0,nOpenig=0,nClosing=0;

            if(nLevel>=1 && nLevel<=5){
                sParamDebit='DebitClosingBalance';
                sParamCredit='CreditClosingBalance';
                sLabelDebit='lblTBDebitBalance';
                sLabelCredit='lblTBCreditBalance';
            }else if(nLevel===6){
                sParamDebit='DebitAmount';
                sParamCredit='CreditAmount';
                sLabelDebit='lblMGLDebitBalance';
                sLabelCredit='lblMGLCreditBalance';
            }else if(nLevel===7){
                sParamDebit='DebitAmount';
                sParamCredit='CreditAmount';
                sLabelDebit='lblGLDebitBalance';
                sLabelCredit='lblGLCreditBalance';
            }else if(nLevel===8){
                if(nOptionID===1){
                    sParamDebit='DebitAmount';
                    sParamCredit='CreditAmount';
                    sLabelDebit='lblCCBDebitBalance';
                    sLabelCredit='lblCCBCreditBalance';

                    sParamOpening='OpeiningValue';
                    sParamClosing='ClosingValue';
                    sLabelOpening='lblCCBOpeningBalance';
                    sLabelClosing='lblCCBClosingBalance';
                }
            }else if(nLevel===9){
                if(nOptionID===1){
                    sParamDebit='DebitAmount';
                    sParamCredit='CreditAmount';
                    sLabelDebit='lblCCDDebitBalance';
                    sLabelCredit='lblCCDCreditBalance';
                }
            }else if(nLevel===10){
                if(nCCOptionID===5){
                    sParamDebit='DebitClosingBalance';
                    sParamCredit='CreditClosingBalance';
                    sLabelDebit='lblVBSDebitBalance';
                    sLabelCredit='lblVBSCreditBalance';
                }
            }else if(nLevel===11){
                if(nCCOptionID===5){
                    sParamDebit='DebitClosingBalance';
                    sParamCredit='CreditClosingBalance';
                    sLabelDebit='lblVBDDebitBalance';
                    sLabelCredit='lblVBDCreditBalance';
                }
            }


            for(var i=0;i<objs.length;i++){
                nDebit=nDebit+parseFloat((objs[i][sParamDebit]).toFixed(2));
                nCredit=nCredit+parseFloat((objs[i][sParamCredit]).toFixed(2));
                if(nLevel===8 && nOptionID===1){
                    nOpenig=nOpenig+parseFloat((objs[i][sParamOpening]).toFixed(2));
                    nClosing=nClosing+parseFloat((objs[i][sParamClosing]).toFixed(2));
                }
            }
            nDebit=nDebit<0?'('+formatPrice((nDebit*(-1)).toFixed(2))+')':nDebit===0.00?'-':formatPrice(nDebit.toFixed(2));
            nCredit=nCredit<0?'('+formatPrice((nCredit*(-1)).toFixed(2))+')':nCredit===0.00?'-':formatPrice(nCredit.toFixed(2));
            $('#'+sLabelDebit).html(nDebit);
            $('#'+sLabelCredit).html(nCredit);
            if(nLevel===8 && nOptionID===1){
                nOpenig=nOpenig<0?'('+formatPrice((nOpenig*(-1)).toFixed(2))+')':nOpenig===0.00?'-':formatPrice(nOpenig.toFixed(2));
                nClosing=nClosing<0?'('+formatPrice((nClosing*(-1)).toFixed(2))+')':nClosing===0.00?'-':formatPrice(nClosing.toFixed(2));
                $('#'+sLabelOpening).html(nOpenig);
                $('#'+sLabelClosing).html(nClosing);
            }
        }
        function PrintPDF(){
            var nLevel= parseInt(sessionStorage.getItem("Level"))?parseInt(sessionStorage.getItem("Level")):0;
            var nOptionID= parseInt(sessionStorage.getItem("OptionID"))?parseInt(sessionStorage.getItem("OptionID")):0;
            var nCCOptionID= parseInt(sessionStorage.getItem("CCOptionID"))?parseInt(sessionStorage.getItem("CCOptionID")):0;
            var sStartDate= sessionStorage.getItem("StartDate");
            var sEndDate=sessionStorage.getItem("EndDate");
            var nBusinessUnitID=parseInt(sessionStorage.getItem("BusinessUnitID"))?parseInt(sessionStorage.getItem("BusinessUnitID")):0;
            var sHeader=sessionStorage.getItem("HeaderText"+nLevel);
            var nCCID=parseInt(sessionStorage.getItem("CCID"))?parseInt(sessionStorage.getItem("CCID")):0;
            var nVoucherBillID=parseInt(sessionStorage.getItem("CCVoucherBillID"))?parseInt(sessionStorage.getItem("CCVoucherBillID")):0;
            var nAccountHeadID=0;

            if(sessionStorage.getItem("VoucherWindow")=== 'Open'){
                var oVoucher=jQuery.parseJSON(sessionStorage.getItem("Voucher"));
                window.open(_sBaseAddress+'/Voucher/PrintVoucher?id=' + oVoucher.VoucherID+'&buid=0', "_blank");
                return false;
            }


            if(nLevel===1){
                nAccountHeadID=0;
            }else if(nLevel===2){
                nAccountHeadID=parseInt(sessionStorage.getItem("ComponentID"));
            }else if(nLevel===3){
                nAccountHeadID=parseInt(sessionStorage.getItem("SegmentID"));
            }else if(nLevel===4){
                nAccountHeadID=parseInt(sessionStorage.getItem("GroupID"));
            }else if(nLevel===5){
                nAccountHeadID=parseInt(sessionStorage.getItem("SubGroupID"));
            }else if(nLevel>=6){
                nAccountHeadID=parseInt(sessionStorage.getItem("LedgerID"));
            }
            var sParam=nLevel+'~'+nOptionID+'~'+nCCOptionID+'~'+nAccountHeadID+'~'+sStartDate+'~'+sEndDate+'~'+nBusinessUnitID+'~'+nCCID+'~'+nVoucherBillID+'~'+sHeader;
            if((nLevel>=1 && nLevel<=11)){
                window.open(_sBaseAddress+'/TrialBalance_Categorized/PrintTrialBalance_Categorized?Params=' +sParam, "_blank");
            }
        }

        

        function ValidateInput()
        {
            if ( $('#txtSettingFromDate').datebox('getValue')=="") {
                alert("please select Start date!");
                $('#txtSettingFromDate').focus();
                return false;
            }

            if ( $('#txtSettingToDate').datebox('getValue')=="") {
                alert("Please select end date!!");
                $('#txtSettingToDate').focus();
                return false;
            }

            var sStartDate=$('#txtSettingFromDate').datebox('getValue');
            var sEndDate = $('#txtSettingToDate').datebox('getValue');
            var dStartDate = new Date(sStartDate);
            var dEndDate = new Date(sEndDate);

            if(dEndDate < dStartDate) {
                alert("End date must be grater then start date!!");
                $('#txtSettingToDate').focus();
                return false;
            }
            return true;
        }
       

        $(document).keydown(function (e) {
            debugger;
            $(document).find('a').blur();
            var nLevel= parseInt(sessionStorage.getItem("Level"));
            var nOptionID=parseInt(sessionStorage.getItem("OptionID"));
            var nCCOptionID=parseInt(sessionStorage.getItem("CCOptionID"));
            var sTableID='';
            if (e.which === 80 && e.shiftKey)//p=68
            {
                PrintPDF();
            }
            if (e.which === 68 && e.shiftKey)//d=68
            {
                return OpenPreferences();
            }

            if (e.which === 83 && e.shiftKey)//s=83
            {
                OpenSettings();
            }
            if (e.which === 27)//escape=27
            {
                if(sessionStorage.getItem("SettingWindow")==='Open'){
                    $("#winSettings").icsWindow('close');
                    sessionStorage.setItem("SettingWindow", 'Close');
                    return false;
                }
                if(sessionStorage.getItem("PreferenceWindow")==='Open'){
                    $("#winPreferences").icsWindow('close');
                    sessionStorage.setItem("PreferenceWindow", 'Close');
                    return false;
                }
                if(sessionStorage.getItem("VoucherWindow")==='Open'){
                    $("#winVoucher").icsWindow('close');
                    sessionStorage.setItem("VoucherWindow", 'Close');
                    return false;
                }


                DeterminePreviousLevel();
            }
            if(nLevel>=1 && nLevel<=5){sTableID='tblTrialBalance_Categorizeds';}
            else if(nLevel===6){sTableID='tblGLMonthlySummarys';}
            else if(nLevel===7){sTableID='tblGeneralLedgers';}
            else if(nLevel===8){
                if(nOptionID===1){
                    sTableID='tblCostCenterBreakdown';
                }
            }
            else if(nLevel===9){

                if(nOptionID===1){
                    sTableID='tblCostCenterDetails';
                }
            }
            else if(nLevel===10){

                if(nOptionID===1){
                    if(nCCOptionID===5){
                        sTableID='tblVoucherBillSummary';
                    }
                }
            }
            else if(nLevel===11){

                if(nOptionID===1){
                    if(nCCOptionID===5){
                        sTableID='tblVoucherBillDetails';
                    }
                }
            }

            if(sessionStorage.getItem("PreferenceWindow")==='Open'){sTableID='tblPreferences';}
            if(sessionStorage.getItem("SettingWindow")==='Open'){sTableID='tblGLConfigs';}

            var selected = $('#'+sTableID).datagrid('getSelected');
            var nIndex = $('#'+sTableID).datagrid('getRowIndex', selected);



            if (e.which === 38)//up arrow=38
            {
                if(sessionStorage.getItem("SettingWindow")==='Open' || sessionStorage.getItem("VoucherWindow")==='Open' ){return;}
                if (nIndex <= 0) {
                    $('#'+sTableID).datagrid('selectRow', 0);
                }
                else {
                    $('#'+sTableID).datagrid('selectRow', nIndex - 1);
                }
            }
            if (e.which === 40)//down arrow=40
            {
                if(sessionStorage.getItem("SettingWindow")==='Open' || sessionStorage.getItem("VoucherWindow")==='Open' ){return;}
                var oCurrentList = $('#'+sTableID).datagrid('getRows');
                if (nIndex >= oCurrentList.length - 1) {
                    $('#'+sTableID).datagrid('selectRow', oCurrentList.length - 1);
                }
                else {
                    $('#'+sTableID).datagrid('selectRow', nIndex + 1);
                }
            }

            if (e.which === 13)//enter=13
            {
                if(sessionStorage.getItem("SettingWindow")==='Open'){
                    ChooseSettings();
                    return false;
                }
                if(sessionStorage.getItem("PreferenceWindow")==='Open'){
                    ChoosePreferences();
                    return false;
                }
                if(selected==null||nIndex==null){return false;}
                else{DetermineNextLevel(selected);}
            }
        });

        function OpenPreferences(){
            var nLevel= parseInt(sessionStorage.getItem("Level"));
            if(nLevel!=7 && nLevel!=9){return false;}
            var oPreferences=jQuery.parseJSON(sessionStorage.getItem("Preferences"));
            var oTempObjs=[];
            if(nLevel===9){
                for(var i=0;i<oPreferences.length;i++){
                    if(oPreferences[i].Id===5){
                        oTempObjs.push(oPreferences[i]);
                    }
                }
            }else if(nLevel===7){
                for(var i=0;i<oPreferences.length;i++){
                    if(oPreferences[i].Id<5){
                        oTempObjs.push(oPreferences[i]);
                    }
                }
            }
            oPreferences=oTempObjs;
            DynamicRefreshList(oPreferences,'tblPreferences');
            $("#winPreferences").icsWindow('open', "Choose Ledger Detail");
            sessionStorage.setItem("PreferenceWindow", 'Open');
        }
        function ChoosePreferences(){
            var nLevel= parseInt(sessionStorage.getItem("Level"));
            var selected = $('#tblPreferences').datagrid('getSelected');
            if(nLevel===7){
                sessionStorage.setItem("OptionID",selected==null?0: selected.Id);
            }else if(nLevel===9){
                sessionStorage.setItem("CCOptionID",selected==null?0: selected.Id);
            }
            $("#winPreferences").icsWindow('close');
            sessionStorage.setItem("PreferenceWindow", 'Close');
            RefreshData();
        }
        $("#btnPreferenceClose").click(function (){
            $("#winPreferences").icsWindow('close');
            sessionStorage.setItem("PreferenceWindow", 'Close');
        });

        function OpenSettings(){
            var nLevel= parseInt(sessionStorage.getItem("Level"));

            if(nLevel!=7 && nLevel!=9){$('#trGLConfigs').hide();}else{$('#trGLConfigs').show();}

            var oGLConfigs=jQuery.parseJSON(sessionStorage.getItem("GLConfigs"));
            DynamicRefreshList(oGLConfigs,'tblGLConfigs');

            $('#txtSettingFromDate').datebox('setValue',sessionStorage.getItem("StartDate"));
            $('#txtSettingToDate').datebox('setValue',sessionStorage.getItem("EndDate"));
            $('#cboSettingBusinessUnits').icsLoadCombo({
                List: jQuery.parseJSON(sessionStorage.getItem("BusinessUnits")),
                OptionValue: "BusinessUnitID",
                DisplayText: "Name",
                InitialValue:"custom"
            });
            $('#cboSettingBusinessUnits').val(parseInt(sessionStorage.getItem("BusinessUnitID"))>0?parseInt(sessionStorage.getItem("BusinessUnitID")):0);
            $('#txtSettingFromDate').focus();

            $("#winSettings").icsWindow('open', "Change Search Settings");
            //$("#winSettings").focus();
            sessionStorage.setItem("SettingWindow", 'Open');
        }
        function ChooseSettings(){
            if(!ValidateInput()){return false;}
            var nLevel=parseInt(sessionStorage.getItem("Level"));
            var oSelectedConfigs=$('#tblGLConfigs').datagrid('getChecked');

            sessionStorage.setItem("ReportStartDate", $('#txtSettingFromDate').datebox('getValue'));
            sessionStorage.setItem("ReportEndDate", $('#txtSettingToDate').datebox('getValue'));
            sessionStorage.setItem("StartDate", $('#txtSettingFromDate').datebox('getValue'));
            sessionStorage.setItem("EndDate", $('#txtSettingToDate').datebox('getValue'));
            sessionStorage.setItem("BusinessUnitID", parseInt($('#cboSettingBusinessUnits').val()));
            
            if(nLevel===7){
                sessionStorage.setItem("SelectedGLConfigs",JSON.stringify(oSelectedConfigs));
            }else if(nLevel===9){
                sessionStorage.setItem("SelectedCCGLConfigs",JSON.stringify(oSelectedConfigs));
            }
            sessionStorage.setItem("Level", nLevel-1);

            sessionStorage.setItem("Components", JSON.stringify([]));
            sessionStorage.setItem("Segments", JSON.stringify([]));
            sessionStorage.setItem("Groups", JSON.stringify([]));
            sessionStorage.setItem("SubGroups", JSON.stringify([]));
            sessionStorage.setItem("Ledgers", JSON.stringify([]));
            sessionStorage.setItem("MonthlyGLs", JSON.stringify([]));
            sessionStorage.setItem("GeneralLedgers", JSON.stringify([]));
            sessionStorage.setItem("CostCenterBreakdowns", JSON.stringify([]));
            sessionStorage.setItem("CostCenterDetails", JSON.stringify([]));
            sessionStorage.setItem("VoucherBillSummarys", JSON.stringify([]));
            sessionStorage.setItem("VoucherBillDetails", JSON.stringify([]));
            $("#winSettings").icsWindow('close');
            sessionStorage.setItem("SettingWindow", 'Close');
            RefreshData();
        }
        $("#btnSettingClose").click(function (){
            $("#winSettings").icsWindow('close');
            sessionStorage.setItem("SettingWindow", 'Close');
        });

        function DeterminePreviousLevel(){
            var nLevel= parseInt(sessionStorage.getItem("Level"));
            var nOptionID=parseInt(sessionStorage.getItem("OptionID"));
            var nCCOptionID=parseInt(sessionStorage.getItem("CCOptionID"));


            var objs=[];
            if(nLevel===1){
                return false;
            }else if(nLevel===2){
                objs= jQuery.parseJSON(sessionStorage.getItem("Components"));

            }else if(nLevel===3){
                objs= jQuery.parseJSON(sessionStorage.getItem("Segments"));
            }else if(nLevel===4){
                objs= jQuery.parseJSON(sessionStorage.getItem("Groups"));
            }else if(nLevel===5){
                objs= jQuery.parseJSON(sessionStorage.getItem("SubGroups"));
            }else if(nLevel===6){
                objs= jQuery.parseJSON(sessionStorage.getItem("Ledgers"));
            }else if(nLevel===7){
                objs= jQuery.parseJSON(sessionStorage.getItem("MonthlyGLs"));
                sessionStorage.setItem("StartDate",sessionStorage.getItem("ReportStartDate"));
                sessionStorage.setItem("EndDate",sessionStorage.getItem("ReportEndDate"));
            }else if(nLevel===8){
                objs= jQuery.parseJSON(sessionStorage.getItem("GeneralLedgers"));
            }else if(nLevel===9){
                objs= jQuery.parseJSON(sessionStorage.getItem("CostCenterBreakdowns"));
            }else if(nLevel===10){
                objs= jQuery.parseJSON(sessionStorage.getItem("CostCenterDetails"));
            }else if(nLevel===11){
                objs= jQuery.parseJSON(sessionStorage.getItem("VoucherBillSummarys"));
            }
            if(objs!=null && objs.length>0){

                sessionStorage.setItem("Level",nLevel-1);
                ManageGrid(objs);
            }else{
                sessionStorage.setItem("Level",nLevel-2);
                if(nLevel<=10){sessionStorage.setItem("OptionID",nOptionID-1);}
                RefreshData();
            }
        }
        function DetermineNextLevel(selected){
            var nLevel= parseInt(sessionStorage.getItem("Level"));
            var nOptionID=parseInt(sessionStorage.getItem("OptionID"));
            var nCCOptionID=parseInt(sessionStorage.getItem("CCOptionID"));
            var sTableID='';

            if(nLevel>=1 && nLevel<=5){sTableID='tblTrialBalance_Categorizeds';}
            else if(nLevel===6){sTableID='tblGLMonthlySummarys';}
            else if(nLevel===7){sTableID='tblGeneralLedgers';}
            else if(nLevel===8){
                if(nOptionID===1){
                    sTableID='tblCostCenterBreakdown';
                }
            }
            else if(nLevel===9){

                if(nOptionID===1){
                    sTableID='tblCostCenterDetails';
                }
            }
            else if(nLevel===10){

                if(nOptionID===1){
                    if(nCCOptionID===5){
                        sTableID='tblVoucherBillSummary';
                    }
                }
            }
            else if(nLevel===11){

                if(nOptionID===1){
                    if(nCCOptionID===5){
                        sTableID='tblVoucherBillDetails';
                    }
                }
            }

            if(sessionStorage.getItem("PreferenceWindow")==='Open'){sTableID='tblPreferences';}

            var nIndex = $('#'+sTableID).datagrid('getRowIndex', selected);

            var obj={
                AccountHeadID:selected.AccountHeadID,
                AccountHeadName:selected.AccountHeadName,
                AccountHeadCodeName:selected.AccountHeadCodeName,
                NameOfMonth:selected.NameOfMonth,
                StartDate:selected.StartDateSt,
                EndDate:selected.EndDateSt,
                VoucherID:selected.VoucherID,
                Particulars:selected.Particulars,
                CCID:selected.CCID,
                CCName:selected.CCName,
                NameCode:selected.NameCode,
                VoucherBillID:selected.VoucherBillID,
                BillNo:selected.BillNo};
            var objs=$('#'+sTableID).datagrid('getRows');
            //var nLevel= parseInt(sessionStorage.getItem("Level"));
            if(nLevel===1){
                sessionStorage.setItem("Components", JSON.stringify(objs));
                sessionStorage.setItem("ComponentID", obj.AccountHeadID);
                sessionStorage.setItem("ComponentName", obj.AccountHeadCodeName);
            }else if(nLevel===2){
                sessionStorage.setItem("Segments", JSON.stringify(objs));
                sessionStorage.setItem("SegmentID", obj.AccountHeadID);
                sessionStorage.setItem("SegmentName", obj.AccountHeadCodeName);
            }else if(nLevel===3){
                sessionStorage.setItem("Groups", JSON.stringify(objs));
                sessionStorage.setItem("GroupID", obj.AccountHeadID);
                sessionStorage.setItem("GroupName", obj.AccountHeadCodeName);
            }else if(nLevel===4){
                sessionStorage.setItem("SubGroups", JSON.stringify(objs));
                sessionStorage.setItem("SubGroupID", obj.AccountHeadID);
                sessionStorage.setItem("SubGroupName", obj.AccountHeadCodeName);
            }else if(nLevel===5){
                sessionStorage.setItem("Ledgers", JSON.stringify(objs));
                sessionStorage.setItem("LedgerID", obj.AccountHeadID);
                sessionStorage.setItem("LedgerName", obj.AccountHeadCodeName);
            }else if(nLevel===6){
                if(obj.NameOfMonth.toLowerCase()==='opening balance'){return false;}
                sessionStorage.setItem("MonthlyGLs", JSON.stringify(objs));
                sessionStorage.setItem("MonthName", obj.NameOfMonth);
                sessionStorage.setItem("StartDate", obj.StartDate);
                sessionStorage.setItem("EndDate", obj.EndDate);
            }else if(nLevel===7){
                if(obj.Particulars.toLowerCase() ==='opening balance' || obj.VoucherID<=0){return false;}
                RefreshVoucherData(obj);
            }else if(nLevel===8){
                if(nOptionID===1){
                    sessionStorage.setItem("CostCenterBreakdowns", JSON.stringify(objs));
                    sessionStorage.setItem("CCID", obj.CCID);
                    sessionStorage.setItem("CCName", obj.NameCode);
                }
            }else if(nLevel===9){
                if(obj.AccountHeadName.toLowerCase() ==='opening balance' || obj.VoucherID<=0){return false;}
                RefreshVoucherData(obj);
            }else if(nLevel===10){
                if(nOptionID===1){
                    if(nCCOptionID===5){
                        sessionStorage.setItem("VoucherBillSummarys", JSON.stringify(objs));
                        sessionStorage.setItem("CCVoucherBillID", obj.VoucherBillID);
                        sessionStorage.setItem("CCBillNo", obj.BillNo);
                    }
                }
            }else if(nLevel===11){
                if(obj.AccountHeadName.toLowerCase() ==='opening balance' || obj.VoucherID<=0){return false;}
                RefreshVoucherData(obj);
            }
            if(nLevel!=7 && nLevel!=9 && nLevel!=11){
                RefreshData();
            }
        }

        function RefreshData(){
            debugger;
            var nLevel= parseInt(sessionStorage.getItem("Level"));
            var nOptionID= parseInt(sessionStorage.getItem("OptionID"));
            var nCCOptionID= parseInt(sessionStorage.getItem("CCOptionID"));
            var oSelectedConfigs= [];
            var nAccountHeadID,nBUID,nCCID,nVoucherBillID=0;
            var sHeaderText,sControllerName,sActionName,sStartDate,sEndDate='';
            var obj={};

            nBUID=parseInt(sessionStorage.getItem("BusinessUnitID"));
            sControllerName='TrialBalance_Categorized';
            sActionName='Gets';
            sStartDate=sessionStorage.getItem("StartDate");
            sEndDate=sessionStorage.getItem("EndDate");
            if(nLevel<=0){
                nAccountHeadID=nLevel;
                sHeaderText='Trial Balance';
            }
            else if(nLevel===1){
                nAccountHeadID=parseInt(sessionStorage.getItem("ComponentID"));
                sHeaderText='Segment Summary || '+sessionStorage.getItem("ComponentName");
            }else if(nLevel===2){
                nAccountHeadID=parseInt(sessionStorage.getItem("SegmentID"));
                sHeaderText='Group Summary || '+sessionStorage.getItem("SegmentName");
            }else if(nLevel===3){
                nAccountHeadID=parseInt(sessionStorage.getItem("GroupID"));
                sHeaderText='Sub Group Summary || '+sessionStorage.getItem("GroupName");
            }else if(nLevel===4){
                nAccountHeadID=parseInt(sessionStorage.getItem("SubGroupID"));
                sHeaderText='Ledger Summary || '+sessionStorage.getItem("SubGroupName");
            }else if(nLevel===5){
                nAccountHeadID=parseInt(sessionStorage.getItem("LedgerID"));
                sHeaderText='Monthly Summary || '+sessionStorage.getItem("LedgerName");
            }else if(nLevel===6){
                nAccountHeadID=parseInt(sessionStorage.getItem("LedgerID"));
                sHeaderText='General Ledger || '+sessionStorage.getItem("LedgerName");
                oSelectedConfigs= jQuery.parseJSON(sessionStorage.getItem("SelectedGLConfigs"));
            }else if(nLevel===7){
                if(nOptionID===1){
                    nAccountHeadID=parseInt(sessionStorage.getItem("LedgerID"));
                    sHeaderText='Sub Ledger Summary || '+sessionStorage.getItem("LedgerName");
                }else{sActionName=''}
            }else if(nLevel===8){
                if(nOptionID===1){
                    nAccountHeadID=parseInt(sessionStorage.getItem("LedgerID"));
                    nCCID=parseInt(sessionStorage.getItem("CCID"));
                    sHeaderText='Sub Ledger Ledger || '+sessionStorage.getItem("CCName");
                    oSelectedConfigs= jQuery.parseJSON(sessionStorage.getItem("SelectedCCGLConfigs"));
                }
            }else if(nLevel===9){
                if(nCCOptionID===5){
                    nAccountHeadID=parseInt(sessionStorage.getItem("LedgerID"));
                    nCCID=parseInt(sessionStorage.getItem("CCID"));
                    sHeaderText='Sub Ledger Bill Summary || '+sessionStorage.getItem("CCName");
                }else{sActionName=''}
            }else if(nLevel===10){
                if(nCCOptionID===5){
                    nAccountHeadID=parseInt(sessionStorage.getItem("LedgerID"));
                    nCCID=parseInt(sessionStorage.getItem("CCID"));
                    nVoucherBillID=parseInt(sessionStorage.getItem("CCVoucherBillID"));
                    sHeaderText='Sub Ledger Bill Details || '+sessionStorage.getItem("CCBillNo");
                }else{sActionName=''}
            }

            if(sActionName===''){return false;}

            if(nBUID>0){
                var oBUs=jQuery.parseJSON(sessionStorage.getItem("BusinessUnits"));
                var sBUName='';
                for (var i=0;i<oBUs.length;i++){
                    if(nBUID===oBUs[i].BusinessUnitID){
                        sBUName=oBUs[i].Name;
                    }
                }
                sHeaderText=sHeaderText+' || '+sBUName+' || "'+sStartDate+'" to "'+sEndDate+'"';

            }else{
                sHeaderText=sHeaderText+' || '+jQuery.parseJSON(sessionStorage.getItem("Company")).Name+' || "'+sStartDate+'" to "'+sEndDate+'"';
            }
            sessionStorage.setItem("HeaderText"+(nLevel+1),sHeaderText);

            obj={
                AccountHeadID:nAccountHeadID,
                CCID:nCCID, 
                StartDate:sStartDate, 
                EndDate:sEndDate, 
                BusinessUnitID:nBUID,
                VoucherBillID:nVoucherBillID,
                ACConfigs:oSelectedConfigs,
                Level:nLevel,
                OptionID:nOptionID,
                CCOptionID:nCCOptionID
            };

            $.icsDataGets({
                BaseAddress: sessionStorage.getItem("BaseAddress"),
                Object: obj,
                ControllerName: sControllerName,
                ActionName: sActionName,
                IsWinClose: false
            },function (response){
                if(response.status && response.objs!=null){
                    if(response.objs.length>0){
                        debugger;
                        var nNewLevel=nLevel+1;

                        sessionStorage.setItem("Level",nNewLevel);
                        ManageGrid(response.objs);
                    }
                   else if(nLevel===8){
                        debugger;
                        ManageGrid([]);
                    }
                }
            });

        }
        function ManageGrid(objs)
        {
            debugger;
            var nLevel= parseInt(sessionStorage.getItem("Level"));
            var nOptionID= parseInt(sessionStorage.getItem("OptionID"));
            var nCCOptionID= parseInt(sessionStorage.getItem("CCOptionID"));
            var sTableID=''

            if(nLevel===1){
                $('#divTBCategorized').show();
                $('#divMonthlyGL').hide();
                $('#divGeneralLedger').hide();
                $('#divCostCenterBreakdown').hide();
                $('#divCostCenterDetails').hide();
                $('#divVoucherBillSummary').hide();
                $('#divVoucherBillDetails').hide();
                sTableID='tblTrialBalance_Categorizeds';
                sessionStorage.setItem("Components",JSON.stringify(objs));
            }else if(nLevel===2){
                $('#divTBCategorized').show();
                $('#divMonthlyGL').hide();
                $('#divGeneralLedger').hide();
                $('#divCostCenterBreakdown').hide();
                $('#divCostCenterDetails').hide();
                $('#divVoucherBillSummary').hide();
                $('#divVoucherBillDetails').hide();
                sTableID='tblTrialBalance_Categorizeds';
                sessionStorage.setItem("Segments",JSON.stringify(objs));
            }else if(nLevel===3){
                $('#divTBCategorized').show();
                $('#divMonthlyGL').hide();
                $('#divGeneralLedger').hide();
                $('#divCostCenterBreakdown').hide();
                $('#divCostCenterDetails').hide();
                $('#divVoucherBillSummary').hide();
                $('#divVoucherBillDetails').hide();
                sTableID='tblTrialBalance_Categorizeds';
                sessionStorage.setItem("Groups",JSON.stringify(objs));
            }else if(nLevel===4){
                $('#divTBCategorized').show();
                $('#divMonthlyGL').hide();
                $('#divGeneralLedger').hide();
                $('#divCostCenterBreakdown').hide();
                $('#divCostCenterDetails').hide();
                $('#divVoucherBillSummary').hide();
                $('#divVoucherBillDetails').hide();
                sTableID='tblTrialBalance_Categorizeds';
                sessionStorage.setItem("SubGroups",JSON.stringify(objs));
            }else if(nLevel===5){
                $('#divTBCategorized').show();
                $('#divMonthlyGL').hide();
                $('#divGeneralLedger').hide();
                $('#divCostCenterBreakdown').hide();
                $('#divCostCenterDetails').hide();
                $('#divVoucherBillSummary').hide();
                $('#divVoucherBillDetails').hide();
                sTableID='tblTrialBalance_Categorizeds';
                sessionStorage.setItem("Ledgers",JSON.stringify(objs));
            }
            else if(nLevel===6){
                $('#divTBCategorized').hide();
                $('#divMonthlyGL').show();
                $('#divGeneralLedger').hide();
                $('#divCostCenterBreakdown').hide();
                $('#divCostCenterDetails').hide();
                $('#divVoucherBillSummary').hide();
                $('#divVoucherBillDetails').hide();
                sTableID='tblGLMonthlySummarys';
                sessionStorage.setItem("MonthlyGLs",JSON.stringify(objs));
            }
            else if(nLevel===7){
                $('#divTBCategorized').hide();
                $('#divMonthlyGL').hide();
                $('#divGeneralLedger').show();
                $('#divCostCenterBreakdown').hide();
                $('#divCostCenterDetails').hide();
                $('#divVoucherBillSummary').hide();
                $('#divVoucherBillDetails').hide();
                sTableID='tblGeneralLedgers';
                sessionStorage.setItem("GeneralLedgers",JSON.stringify(objs));
            }
            else if(nLevel===8){
                if(nOptionID===1){
                    $('#divTBCategorized').hide();
                    $('#divMonthlyGL').hide();
                    $('#divGeneralLedger').hide();
                    $('#divCostCenterBreakdown').show();
                    $('#divCostCenterDetails').hide();
                    $('#divVoucherBillSummary').hide();
                    $('#divVoucherBillDetails').hide();
                    sTableID='tblCostCenterBreakdown';
                    sessionStorage.setItem("CostCenterBreakdowns",JSON.stringify(objs));
                }
                if(nOptionID===2){
                    $('#divTBCategorized').hide();
                    $('#divMonthlyGL').hide();
                    $('#divGeneralLedger').hide();
                    $('#divCostCenterBreakdown').hide();
                    $('#divCostCenterDetails').hide();
                    $('#divVoucherBillSummary').show();
                    $('#divVoucherBillDetails').hide();
                    sTableID='tblVoucherBillSummary';
                    sessionStorage.setItem("VoucherBillSummarys",JSON.stringify(objs));
                }
            }
            else if(nLevel===9){
                if(nOptionID===1){
                    $('#divTBCategorized').hide();
                    $('#divMonthlyGL').hide();
                    $('#divGeneralLedger').hide();
                    $('#divCostCenterBreakdown').hide();
                    $('#divCostCenterDetails').show();
                    $('#divVoucherBillSummary').hide();
                    $('#divVoucherBillDetails').hide();
                    sTableID='tblCostCenterDetails';
                    sessionStorage.setItem("CostCenterDetails",JSON.stringify(objs));
                }
            }
            else if(nLevel===10){
                if(nOptionID===1){
                    if(nCCOptionID===5){
                        $('#divTBCategorized').hide();
                        $('#divMonthlyGL').hide();
                        $('#divGeneralLedger').hide();
                        $('#divCostCenterBreakdown').hide();
                        $('#divCostCenterDetails').hide();
                        $('#divVoucherBillSummary').show();
                        $('#divVoucherBillDetails').hide();
                        sTableID='tblVoucherBillSummary';
                        sessionStorage.setItem("VoucherBillSummarys",JSON.stringify(objs));
                    }
                }
            }
            else if(nLevel===11){
                if(nOptionID===1){
                    if(nCCOptionID===5){
                        $('#divTBCategorized').hide();
                        $('#divMonthlyGL').hide();
                        $('#divGeneralLedger').hide();
                        $('#divCostCenterBreakdown').hide();
                        $('#divCostCenterDetails').hide();
                        $('#divVoucherBillSummary').hide();
                        $('#divVoucherBillDetails').show();
                        sTableID='tblVoucherBillDetails';
                        sessionStorage.setItem("VoucherBillDetails",JSON.stringify(objs));
                    }
                }
            }

            $('#winReport').panel({ title:sessionStorage.getItem("HeaderText"+nLevel)});
            DynamicRefreshList(objs,sTableID);
            RefreshTotalSummary(objs);
        }
        //////////voucher
        function RefreshVoucherData(obj){
            debugger;

            $.icsDataGet({
                BaseAddress: sessionStorage.getItem("BaseAddress"),
                Object: obj,
                ControllerName: 'Voucher',
                ActionName: 'GetSingleVoucherDetails',
                IsWinClose: false
            },function (response){
                if(response.status && response.obj!=null){
                    if(response.obj.VoucherID>0){
                        debugger;
                        sessionStorage.setItem("Voucher",JSON.stringify(response.obj));
                        var oVoucher =response.obj;
                        var oCurrencyes =oVoucher.LstCurrency;
                        var oCompany =oVoucher.Company;
                        var oVDObjs = oVoucher.VDObjs;
                        $(".lblBaseCurrencySymbol").text("("+oVoucher.BaseCUSymbol+")");
                        RefreshList(oVDObjs);
                        RefreshSummery(oVDObjs);
                        InitializeEventClick();
                        InitializeEventHover();
                        RefreshControl();
                        $("#winVoucher").icsWindow('open');
                        sessionStorage.setItem("VoucherWindow", 'Open');
                    }
                }
            });

        }        
        function RefreshList(oVDObjs)
        {
            //VoucherDetail = 0
            //CostCenter = 1
            //BillReference = 2
            //VoucherReference = 3
            //InventoryReference = 4
            var table = document.getElementById('tblVoucherDetail');
            $('#tblVoucherDetail').empty();
            for(var i=0; i<oVDObjs.length; i++)
            {
                var row = table.insertRow(i);
                if(oVDObjs[i].ObjTypeInt==0)
                {
                    var cellAccountHead = row.insertCell(0);
                    cellAccountHead.width= "50%";
                    cellAccountHead.innerHTML =oVDObjs[i].AHName + " ["+oVDObjs[i].AHCode+"]";

                    var cellNarration = row.insertCell(1);
                    cellNarration.colSpan= 2;
                    cellNarration.width= "30%";
                    cellNarration.innerHTML = oVDObjs[i].Detail;


                    var cellDebitAmount = row.insertCell(2);
                    cellDebitAmount.width= "10%";
                    cellDebitAmount.style.textAlign = "right";
                    cellDebitAmount.innerHTML =  formatPrice(oVDObjs[i].DrAmount,null);

                    var cellCreditAmount = row.insertCell(3);
                    cellCreditAmount.width= "10%";
                    cellCreditAmount.style.textAlign = "right";
                    cellCreditAmount.innerHTML = formatPrice(oVDObjs[i].CrAmount,null);
                }
                if(oVDObjs[i].ObjTypeInt==1)
                {                    
                    var cellSubLedgerName = row.insertCell(0);
                    cellSubLedgerName.width= "50%";
                    cellSubLedgerName.innerHTML = oVDObjs[i].CFormat;

                    var cellSubLedgerNarration = row.insertCell(1);
                    cellSubLedgerNarration.width= "20%";
                    cellSubLedgerNarration.innerHTML = oVDObjs[i].Detail;

                    var cellSubLedgerAmount = row.insertCell(2);
                    cellSubLedgerAmount.width= "10%";
                    cellSubLedgerAmount.style.textAlign = "right";
                    cellSubLedgerAmount.innerHTML = formatPrice(oVDObjs[i].CAmount);

                    var cellDebitAmount = row.insertCell(3);
                    cellDebitAmount.width= "10%";
                    cellDebitAmount.innerHTML = "";

                    var cellCreditAmount = row.insertCell(4);
                    cellCreditAmount.width= "10%";
                    cellCreditAmount.innerHTML =  "";
                }
                if(oVDObjs[i].ObjTypeInt==2 || oVDObjs[i].ObjTypeInt==5)
                {
                    var cellBillNumber = row.insertCell(0);
                    cellBillNumber.width= "50%";
                    cellBillNumber.innerHTML = oVDObjs[i].CFormat;

                    var cellBillNarration = row.insertCell(1);
                    cellBillNarration.width= "20%";
                    cellBillNarration.innerHTML = oVDObjs[i].Detail;

                    var cellBillAmount = row.insertCell(2);
                    cellBillAmount.width= "10%";
                    cellBillAmount.style.textAlign = "right";
                    cellBillAmount.innerHTML = formatPrice(oVDObjs[i].CAmount);

                    var cellDebitAmount = row.insertCell(3);
                    cellDebitAmount.width= "10%";
                    cellDebitAmount.innerHTML = "";

                    var cellCreditAmount = row.insertCell(4);
                    cellCreditAmount.width= "10%";
                    cellCreditAmount.innerHTML =  "";
                }
                if(oVDObjs[i].ObjTypeInt==3 || oVDObjs[i].ObjTypeInt==6)
                {
                    var cellChequeNumber = row.insertCell(0);
                    cellChequeNumber.width= "50%";
                    cellChequeNumber.innerHTML = oVDObjs[i].CFormat;

                    var cellChequeNarration = row.insertCell(1);
                    cellChequeNarration.width= "20%";
                    cellChequeNarration.innerHTML = oVDObjs[i].Detail;

                    var cellChequeAmount = row.insertCell(2);
                    cellChequeAmount.width= "10%";
                    cellChequeAmount.style.textAlign = "right";
                    cellChequeAmount.innerHTML = formatPrice(oVDObjs[i].CAmount);

                    var cellDebitAmount = row.insertCell(3);
                    cellDebitAmount.width= "10%";
                    cellDebitAmount.innerHTML = "";

                    var cellCreditAmount = row.insertCell(4);
                    cellCreditAmount.width= "10%";
                    cellCreditAmount.innerHTML =  "";
                }
                if(oVDObjs[i].ObjTypeInt==4)
                {
                    var cellInventoryItem = row.insertCell(0);
                    cellInventoryItem.colSpan=2;
                    cellInventoryItem.width= "70%";
                    cellInventoryItem.innerHTML = oVDObjs[i].CFormat;

                    var cellChequeAmount = row.insertCell(1);
                    cellChequeAmount.width= "10%";
                    cellChequeAmount.style.textAlign = "right";
                    cellChequeAmount.innerHTML = formatPrice(oVDObjs[i].CAmount);

                    var cellDebitAmount = row.insertCell(2);
                    cellDebitAmount.width= "10%";
                    cellDebitAmount.innerHTML = "";

                    var cellCreditAmount = row.insertCell(3);
                    cellCreditAmount.width= "10%";
                    cellCreditAmount.innerHTML =  "";
                }
                if(oVDObjs[i].ObjTypeInt === 7 || oVDObjs[i].ObjTypeInt === 8)//Order Reference= 7 //SLOrder Reference= 8
                {                                        
                    var cellInventoryItem = row.insertCell(0);
                    cellInventoryItem.colSpan=2;
                    cellInventoryItem.width= "70%";
                    cellInventoryItem.innerHTML = oVDObjs[i].CFormat;

                    var cellChequeAmount = row.insertCell(1);
                    cellChequeAmount.width= "10%";
                    cellChequeAmount.style.textAlign = "right";
                    cellChequeAmount.innerHTML = formatPrice(oVDObjs[i].Amount);

                    var cellDebitAmount = row.insertCell(2);
                    cellDebitAmount.width= "10%";
                    cellDebitAmount.innerHTML = "";

                    var cellCreditAmount = row.insertCell(3);
                    cellCreditAmount.width= "10%";
                    cellCreditAmount.innerHTML =  "";
                }
            }
        }
        function RefreshSummery(oVDObjs)
        {
            var nTotalDebitAmount=0; var nTotalCreditAmount=0;
            if(oVDObjs==null)oVDObjs=[];
            for(var i=0; i<oVDObjs.length; i++)
            {
                nTotalDebitAmount=nTotalDebitAmount+ parseFloat(oVDObjs[i].DrAmount)
                nTotalCreditAmount=nTotalCreditAmount+parseFloat(oVDObjs[i].CrAmount);
            }
            document.getElementById('lblTotalDebitAmount').innerHTML =formatPrice(nTotalDebitAmount, null) ;
            document.getElementById('lblTotalCreditAmount').innerHTML =formatPrice(nTotalCreditAmount, null);
        }
        function InitializeEventClick()
        {
            $("#tblVoucherDetail tr").click(function() {
                ResetAllRowsClick();
                $(this).addClass("highlight");
                $(this).css("cursor","pointer");
            });
        }
        function ResetAllRowsClick()
        {
            var tblVoucherDetail=document.getElementById("tblVoucherDetail");
            if(tblVoucherDetail.rows!=null)
            {
                for(var i=0; i<tblVoucherDetail.rows.length; i++)
                {
                    $('#tblVoucherDetail tr').eq(i).removeClass("highlight");
                    $('#tblVoucherDetail tr').eq(i).removeClass("highlighthover");
                }
            }
        }
        function InitializeEventHover()
        {
            $("#tblVoucherDetail tr").hover(function() {
                ResetAllRowsHover();
                $(this).addClass("highlighthover");
                $(this).css("cursor","pointer");
            });
        }
        function ResetAllRowsHover()
        {
            var tblVoucherDetail=document.getElementById("tblVoucherDetail");
            if(tblVoucherDetail.rows!=null)
            {
                for(var i=0; i<tblVoucherDetail.rows.length; i++)
                {
                    $('#tblVoucherDetail tr').eq(i).removeClass("highlighthover");
                }
            }
        }
        function RefreshControl()
        {
            var oVoucher=jQuery.parseJSON(sessionStorage.getItem("Voucher"));
            $("#lblHeaderName").text('View Voucher');
            $("#btnApprove").hide();

            $('#txtVoucherType').val(oVoucher.VoucherName)
            $('#txtVoucherDate').val(oVoucher.VoucherDateAsString)
            $("#txtBusinessUnit").val(oVoucher.BUShortNameCode);
            $("#txtVoucherNo").val(oVoucher.VoucherNo);
            $('#txtCurrency').val(oVoucher.CurrencyNameSymbol);
            $('#txtConversionRate').val(oVoucher.CurrencyConversionRate);
            $("#txtNarration").val(oVoucher.Narration);
            CalculateTotalSummary();
        }
        function CalculateTotalSummary()
        {
            debugger;
            var oVoucher=jQuery.parseJSON(sessionStorage.getItem("Voucher"));
            var nTotalDebitAmount=0;
            var nTotalCreditAmount=0;
            var oVDObjs = oVoucher.VDObjs;
            if(oVDObjs!=null)
            {
                for(var i=0; i<oVDObjs.length;i++)
                {

                    nTotalDebitAmount=nTotalDebitAmount+ parseFloat(oVDObjs[i].DrAmount)
                    nTotalCreditAmount=nTotalCreditAmount+parseFloat(oVDObjs[i].CrAmount);

                }
            }
            document.getElementById('lblTotalDebitAmount').innerHTML =formatPrice(nTotalDebitAmount, null) ;
            document.getElementById('lblTotalCreditAmount').innerHTML =formatPrice(nTotalCreditAmount, null);
        }
        $('#btnPrintVoucher').click(function(){
            var oVoucher=jQuery.parseJSON(sessionStorage.getItem("Voucher"));
            window.open(_sBaseAddress+'/Voucher/PrintVoucher?id=' + oVoucher.VoucherID+'&buid=0', "_blank");
        });
        $("#btnCloseVoucher").click(function (){
            $("#winVoucher").icsWindow('close');
            sessionStorage.setItem("VoucherWindow", 'Close');
        });
        ////////////voucher
    </script>
    <style type="text/css">
       .tablebordaer {
        border: 1px solid black;
    }
        
    #tblVoucherDetail td{
        border-left: 1px solid #D8D8D8;
        border-bottom: 1px solid #D8D8D8;
    }

    #tblVoucherDetailHeader  td{
        border-left: 1px solid black;
    }

    .highlight {
        background-color: #CFB53B;
        color: #fff;
    }

    .highlighthover {
        background-color: #FAE794;
        color: #000;
    }
    </style>
