<html>
@{
    ViewBag.Title = "Import LC Registers";
}
<body>
    @model ESimSol.BusinessObjects.ImportLCRegister
    <div id="progbarParent" style="width:100%;height:100%;margin:0 auto;text-align:center; margin-left: auto;margin-right: auto;left: 0;right: 0;z-index: 1;">
        <div style="margin: 0px auto;margin-top: 251px;text-align:center;width:390px;">
            <label style="font-size:18px;">Please wait</label>
            <div id="progbar" style="width:100%;height:37px;"></div>
        </div>
    </div>
    <div class="menuMainCollectionTable">
        <div class="easyui-panel" title="Import LC Registers" style="font-family:Tahoma; text-align:center; height:88%;">
            <fieldset style="height:95%; text-align:center;">
                <legend style="font-weight:bold"> Serching Criteria   : </legend>
                <table border="0" cellspacing="2" cellpadding="2" style="font-size:11px; font-weight:bold; text-align:center; width:95%; margin-top:30px">
                    <tr>
                        <td colspan="5" style="height:20px;"></td>                        
                    </tr>
                    <tr>
                        <td style="width:15%;text-align:right"></td>
                        <td style="width:30%;text-align:left">
                        </td>
                        <td style="width:5%;text-align:right"></td>
                        <td style="width:12%;text-align:right"> Request Date :</td>
                        <td style="width:38%;text-align:right">
                            <table border="0" cellpadding="1" cellspacing="1" width="100%">
                                <tr>
                                    <td style="width:30%; text-align:center">
                                        <select id="cboRequestDate" style="width:100%"> </select>
                                    </td>
                                    <td style="width:30%; text-align:center">
                                        <input id="txtRequestDateStart" type="text" class="easyui-datebox" required="required" data-options="formatter:icsdateformat,parser:icsdateparser" style=" width:100%;" />
                                    </td>
                                    <td style="width:10%; text-align:center">to</td>
                                    <td style="width:30%; text-align:center">
                                        <input id="txtRequestDateEnd" type="text" class="easyui-datebox" required="required" data-options="formatter:icsdateformat,parser:icsdateparser" style=" width:100%;" />
                                    </td>
                                </tr>
                            </table>
                        </td>
                    </tr>
                    <tr>
                        <td style="width:15%;text-align:right"> LC No :</td>
                        <td style="width:30%;text-align:left"> 
                            <input type="text" style="width:98%" id="txtLCNo" />
                        </td>
                        <td style="width:5%;text-align:right"></td>
                        <td style="width:12%;text-align:right"> LC Date :</td>
                        <td style="width:38%;text-align:right">
                            <table border="0" cellpadding="1" cellspacing="1" width="100%">
                                <tr>
                                    <td style="width:30%; text-align:center">
                                        <select id="cboImportLCDate" style="width:100%"> </select>
                                    </td>
                                    <td style="width:30%; text-align:center">
                                        <input id="txtImportLCDateStart" type="text" class="easyui-datebox" required="required" data-options="formatter:icsdateformat,parser:icsdateparser" style=" width:100%;" />
                                    </td>
                                    <td style="width:10%; text-align:center">to</td>
                                    <td style="width:30%; text-align:center">
                                        <input id="txtImportLCDateEnd" type="text" class="easyui-datebox" required="required" data-options="formatter:icsdateformat,parser:icsdateparser" style=" width:100%;" />
                                    </td>
                                </tr>
                            </table> 
                        </td>
                    </tr>
                    <tr>
                        <td style="width:15%;text-align:right"> Supplier :</td>
                        <td style="width:30%;text-align:left">
                            <table border="0" cellpadding="0" cellspacing="0" style="width:100%">
                                <tr>
                                    <td style="width:70%; text-align:left">
                                        <input type="text" style="width:98%" id="txtSupplier" placeholder="Press enter with supplier name" />
                                    </td>
                                    <td style="width:30%; text-align:right">
                                        <input type="button" value="C" style="width:30%" id="btnClearSupplier" />
                                        <input type="button" value="Pick" style="width:65%" id="btnPickSupplier" />
                                    </td>
                                </tr>
                            </table>
                        </td>
                        <td style="width:5%;text-align:right"></td>
                        <td style="width:12%;text-align:right"> Validity Date:</td>
                        <td style="width:38%;text-align:right">
                            <table border="0" cellpadding="1" cellspacing="1" width="100%">
                                <tr>
                                    <td style="width:30%; text-align:center">
                                        <select id="cboLCExpireDate" style="width:100%"> </select>
                                    </td>
                                    <td style="width:30%; text-align:center">
                                        <input id="txtLCExpireDateStart" type="text" class="easyui-datebox" required="required" data-options="formatter:icsdateformat,parser:icsdateparser" style=" width:100%;" />
                                    </td>
                                    <td style="width:10%; text-align:center">to</td>
                                    <td style="width:30%; text-align:center">
                                        <input id="txtLCExpireDateEnd" type="text" class="easyui-datebox" required="required" data-options="formatter:icsdateformat,parser:icsdateparser" style=" width:100%;" />
                                    </td>
                                </tr>
                            </table>
                        </td>
                    </tr>
                    <tr>
                        <td style="width:15%;text-align:right"> Product :</td>
                        <td style="width:30%;text-align:left">
                            <table border="0" cellpadding="0" cellspacing="0" style="width:100%">
                                <tr>
                                    <td style="width:70%; text-align:left">
                                        <input type="text" style="width:98%" id="txtProduct" placeholder="Press enter with product name" />
                                    </td>
                                    <td style="width:30%; text-align:right">
                                        <input type="button" value="C" style="width:30%" id="btnClearProduct" />
                                        <input type="button" value="Pick" style="width:65%" id="btnPickProduct" />
                                    </td>
                                </tr>
                            </table>
                        </td>
                        <td style="width:5%;text-align:right"></td>
                        <td style="width:12%;text-align:right"> Receive Date:</td>
                        <td style="width:38%;text-align:right">
                            <table border="0" cellpadding="1" cellspacing="1" width="100%">
                                <tr>
                                    <td style="width:30%; text-align:center">
                                        <select id="cboLCReceiveDate" style="width:100%"> </select>
                                    </td>
                                    <td style="width:30%; text-align:center">
                                        <input id="txtLCReceiveDateStart" type="text" class="easyui-datebox" required="required" data-options="formatter:icsdateformat,parser:icsdateparser" style=" width:100%;" />
                                    </td>
                                    <td style="width:10%; text-align:center">to</td>
                                    <td style="width:30%; text-align:center">
                                        <input id="txtLCReceiveDateEnd" type="text" class="easyui-datebox" required="required" data-options="formatter:icsdateformat,parser:icsdateparser" style=" width:100%;" />
                                    </td>
                                </tr>
                            </table>
                        </td>
                    </tr>
                    <tr>
                        <td style="width:15%;text-align:right"> Negotiation Bank :</td>
                        <td style="width:30%;text-align:left">
                            <table border="0" cellpadding="0" cellspacing="0" style="width:100%">
                                <tr>
                                    <td style="width:70%; text-align:left">
                                        <input type="text" style="width:98%" id="txtBankBranch" placeholder="Press enter with bank name" />
                                    </td>
                                    <td style="width:30%; text-align:right">
                                        <input type="button" value="C" style="width:30%" id="btnClearBank" />
                                        <input type="button" value="Pick" style="width:65%" id="btnPickBank" />
                                    </td>
                                </tr>
                            </table>
                        </td>
                        <td style="width:5%;text-align:right"></td>
                        <td style="width:12%;text-align:right">LC Amount :</td>
                        <td style="width:38%;text-align:right">
                            <table border="0" cellpadding="1" cellspacing="1" width="100%">
                                <tr>
                                    <td style="width:30%; text-align:center">
                                        <select id="cboLCAmount" style="width:100%"> </select>
                                    </td>
                                    <td style="width:30%; text-align:center">
                                        <input id="txtLCAmountStart" type="text" style=" width:95%;" />
                                    </td>
                                    <td style="width:10%; text-align:center">to</td>
                                    <td style="width:30%; text-align:center">
                                        <input id="txtLCAmountEnd" type="text" style=" width:95%;" />
                                    </td>
                                </tr>
                            </table>
                        </td>
                    </tr>
                    <tr>
                        <td style="width:15%;text-align:right"> Product Type :</td>
                        <td style="width:30%;text-align:left">
                            <table border="0" cellpadding="0" cellspacing="0" style="width:100%">
                                <tr>
                                    <td style="width:70%; text-align:left">
                                        <input type="text" style="width:98%" id="txtImportProduct" />
                                    </td>
                                    <td style="width:30%; text-align:right">
                                        <input type="button" value="C" style="width:30%" id="btnClearImportProduct" />
                                        <input type="button" value="Pick" style="width:65%" id="btnPickImportProduct" />
                                    </td>
                                </tr>
                            </table>
                        </td>
                        <td style="width:5%;text-align:right"></td>
                        <td style="width:12%;text-align:right">LC Status :</td>
                        <td style="width:38%;text-align:right">
                            <select id="cboLCStatus" style="width:100%">  </select>
                        </td>
                    </tr>
                    <tr>
                        
                        <td style="width:15%;text-align:right"> Approved By :</td>
                        <td style="width:30%;text-align:left">
                            <select id="cboReceivedBy" style="width:100%">  </select>
                        </td>
                        <td style="width:5%;text-align:right"></td>
                        <td style="width:12%;text-align:right;font-size:11px;">Imprt Invoice No :</td>
                        <td style="width:38%;text-align:right">
                            <input type="text" id="txtImportInvoiceNo" style="width:99%" />
                        </td>
                    </tr>   
                    <tr>
                        <td style="width:15%;text-align:right">Payment Type : </td>
                        <td style="width:30%;text-align:left">
                            <select id="cboLCPaymentType" style="width:100%">  </select>
                        </td>
                        <td style="width:5%;text-align:right"></td>
                        <td style="width:12%;text-align:right;font-size:11px;">PI Type :</td>
                        <td style="width:38%;text-align:right">
                            <select id="cboImportPIType" style="width:99%" ></select>
                        </td>
                    </tr>  
                    <tr>
                        <td style="width:15%;text-align:right">Report Layout : </td>
                        <td style="width:30%;text-align:left">
                            <select id="cboReportLayout" style="width:100%">  </select>
                        </td>
                        <td style="width:5%;text-align:right"></td>
                        <td style="width:12%;text-align:right">Wthout Cancel? :</td>
                        <td style="width:38%;text-align:left;padding-left:8px;">
                            <input type="checkbox" id="chkWthoutCancel" />
                        </td>
                    </tr>                        
                </table>
            </fieldset>
        </div>
        <fieldset>
            <legend style="font-weight:bold"> Action : </legend>
            <table border="0" cellspacing="2" cellpadding="2" style="font-size:11px; font-weight:bold; width:100%;">
                <tr>
                    <td style="width:50%;text-align:right">
                                                 
                    </td>
                    <td style="width:50%;text-align:right">
                        <a id="btnPreview" href="javascript:void(0)" class="easyui-linkbutton" iconcls="icon-print" plain="true">Preview</a>
                        <a id="btnExportToExcel" href="javascript:void(0)" class="easyui-linkbutton" iconcls="icon-excel" plain="true">Export to Excel</a>
                        <a id="btnClose" href="javascript:void(0)" class="easyui-linkbutton" iconcls="icon-cancel" plain="true">Close</a>
                    </td>
                </tr>
            </table>
        </fieldset>
    </div>
</body>
</html>


<script type="text/javascript">
    $(document).ready(function () {
        var nBUID =@Html.Raw(new System.Web.Script.Serialization.JavaScriptSerializer().Serialize(ViewBag.BUID));
        var oApprovalUsers = @Html.Raw(new System.Web.Script.Serialization.JavaScriptSerializer().Serialize(ViewBag.ApprovalUsers));
        var oReportLayouts = @Html.Raw(new System.Web.Script.Serialization.JavaScriptSerializer().Serialize(ViewBag.ReportLayouts));
        var oCompareOperators = @Html.Raw(new System.Web.Script.Serialization.JavaScriptSerializer().Serialize(ViewBag.CompareOperators));
        var oImportLCStates = @Html.Raw(new System.Web.Script.Serialization.JavaScriptSerializer().Serialize(ViewBag.ImportLCStates));
        var oImportLCPaymentTypes  = @Html.Raw(new System.Web.Script.Serialization.JavaScriptSerializer().Serialize(ViewBag.ImportLCPaymentTypes));
        @*var oImportLCTypes = @Html.Raw(new System.Web.Script.Serialization.JavaScriptSerializer().Serialize(ViewBag.ImportLCTypes));*@
        var oImportPITypes= @Html.Raw(new System.Web.Script.Serialization.JavaScriptSerializer().Serialize(ViewBag.ImportPITypeObj));
 

        $("#progbar").progressbar({ value: 0 });
        $("#progbarParent").hide();
        $('#txtLCAmountStart,#txtLCAmountEnd').icsCurrencyBox();
        $("#cboImportLCDate").icsLoadCombo({ List: oCompareOperators, OptionValue: "id", DisplayText: "Value" });
        $("#cboRequestDate").icsLoadCombo({ List: oCompareOperators, OptionValue: "id", DisplayText: "Value" });
        $("#cboLCExpireDate").icsLoadCombo({ List: oCompareOperators, OptionValue: "id", DisplayText: "Value" });
        $("#cboLCReceiveDate").icsLoadCombo({ List: oCompareOperators, OptionValue: "id", DisplayText: "Value" });
        $("#cboLCAmount").icsLoadCombo({ List: oCompareOperators, OptionValue: "id", DisplayText: "Value" });
        $("#cboReceivedBy").icsLoadCombo({ List: oApprovalUsers, OptionValue: "UserID", DisplayText: "UserName" });
        $("#cboLCStatus").icsLoadCombo({ List: oImportLCStates, OptionValue: "id", DisplayText: "Value" });
        $("#cboImportPIType").icsLoadCombo({List: oImportPITypes,OptionValue: "id",DisplayText: "Value"});

        $("#cboLCPaymentType").icsLoadCombo({ List: oImportLCPaymentTypes, OptionValue: "id", DisplayText: "Value" });
        $("#cboReportLayout").icsLoadCombo({ List: oReportLayouts, OptionValue: "id", DisplayText: "Value" });

        $('#txtImportLCDateStart').datebox({ disabled : true });
        $('#txtImportLCDateEnd').datebox({ disabled : true });
        $('#txtRequestDateStart').datebox({ disabled : true });
        $('#txtRequestDateEnd').datebox({ disabled : true });

        $('#txtLCExpireDateStart').datebox({ disabled : true });
        $('#txtLCExpireDateEnd').datebox({ disabled : true });
        $('#txtLCReceiveDateStart').datebox({ disabled : true });
        $('#txtLCReceiveDateEnd').datebox({ disabled : true });
        $('#txtLCAmountStart').prop("disabled", true);
        $('#txtLCAmountEnd').prop("disabled", true);

        $('#txtImportLCDateStart').datebox('setValue', icsdateformat(new Date()));
        $('#txtImportLCDateEnd').datebox('setValue', icsdateformat(new Date()));
        $('#txtRequestDateStart').datebox('setValue', icsdateformat(new Date()));
        $('#txtRequestDateEnd').datebox('setValue', icsdateformat(new Date()));
        $('#txtLCExpireDateStart').datebox('setValue', icsdateformat(new Date()));
        $('#txtLCExpireDateEnd').datebox('setValue', icsdateformat(new Date()));
        $('#txtLCReceiveDateStart').datebox('setValue', icsdateformat(new Date()));
        $('#txtLCReceiveDateEnd').datebox('setValue', icsdateformat(new Date()));
        $('#txtLCAmountStart').val('0.00');
        $('#txtLCAmountEnd').val('0.00');

        $('#txtSupplier').data('Suppliers', []);
        $('#txtProduct').data('Products', []);
        $('#txtBankBranch').data('BankBranchs', []);
        $('#txtImportProduct').data('ImportProducts', []);
    });

    function ValidateSearch(nParam)
    {

        var nReportLayout = parseInt($('#cboReportLayout').val());
        if(nReportLayout<=0 && nParam==0) //For PDF: nParam=0
        {
            alert("Please select an Report Layout!");
            return;
        }
        

        var nImportLCDate = parseInt($('#cboImportLCDate').val());
        if(nImportLCDate===1 || nImportLCDate===2 || nImportLCDate===3 || nImportLCDate===4)
        {
            var sImportLCDateStart   = $('#txtImportLCDateStart').datebox('getValue');
            if(sImportLCDateStart===null || sImportLCDateStart==="")
            {
                alert("Please select LC start date!");
                $('#txtImportLCDateStart').focus();
                return false;
            }
        }
        if(nImportLCDate===5 || nImportLCDate===6)
        {
            var sImportLCDateStart   = $('#txtImportLCDateStart').datebox('getValue');
            var sImportLCDateEnd   = $('#txtImportLCDateEnd').datebox('getValue');
            if(sImportLCDateStart===null || sImportLCDateStart==="")
            {
                alert("Please select LC start date!");
                $('#txtImportLCDateStart').focus();
                return false;
            }
            if(sImportLCDateEnd===null || sImportLCDateEnd==="")
            {
                alert("Please select LC end date!");
                $('#txtImportLCDateEnd').focus();
                return false;
            }
            if(new Date(sImportLCDateStart) > new Date(sImportLCDateEnd))
            {
                alert("Start date must be smallar than or equal end date!");
                $('#txtImportLCDateStart').focus();
                return false;
            }
        }
        if(nReportLayout==42)//only for Import LC
        {
            return true;
        }
        var nLCExpireDate = parseInt($('#cboLCExpireDate').val());
        if(nLCExpireDate===1 || nLCExpireDate===2 || nLCExpireDate===3 || nLCExpireDate===4)
        {
            var sLCExpireDateStart   = $('#txtLCExpireDateStart').datebox('getValue');
            if(sLCExpireDateStart===null || sLCExpireDateStart==="")
            {
                alert("Please select validity start date!");
                $('#txtLCExpireDateStart').focus();
                return false;
            }
        }
        if(nLCExpireDate===5 || nLCExpireDate===6)
        {
            var sLCExpireDateStart   = $('#txtLCExpireDateStart').datebox('getValue');
            var sLCExpireDateEnd   = $('#txtLCExpireDateEnd').datebox('getValue');
            if(sLCExpireDateStart===null || sLCExpireDateStart==="")
            {
                alert("Please select validity start date!");
                $('#txtLCExpireDateStart').focus();
                return false;
            }
            if(sLCExpireDateEnd===null || sLCExpireDateEnd==="")
            {
                alert("Please select validity end date!");
                $('#txtLCExpireDateEnd').focus();
                return false;
            }
            if(new Date(sLCExpireDateStart) > new Date(sLCExpireDateEnd))
            {
                alert("Start date must be smallar than or equal end date!");
                $('#txtLCExpireDateStart').focus();
                return false;
            }
        }

        var nLCReceiveDate = parseInt($('#cboLCReceiveDate').val());
        if(nLCReceiveDate===1 || nLCReceiveDate===2 || nLCReceiveDate===3 || nLCReceiveDate===4)
        {
            var sLCReceiveDateStart   = $('#txtLCReceiveDateStart').datebox('getValue');
            if(sLCReceiveDateStart===null || sLCReceiveDateStart==="")
            {
                alert("Please select approved start date!");
                $('#txtLCReceiveDateStart').focus();
                return false;
            }
        }
        if(nLCReceiveDate===5 || nLCReceiveDate===6)
        {
            var sLCReceiveDateStart   = $('#txtLCReceiveDateStart').datebox('getValue');
            var sLCReceiveDateEnd   = $('#txtLCReceiveDateEnd').datebox('getValue');
            if(sLCReceiveDateStart===null || sLCReceiveDateStart==="")
            {
                alert("Please select approved start date!");
                $('#txtLCReceiveDateStart').focus();
                return false;
            }
            if(sLCReceiveDateEnd===null || sLCReceiveDateEnd==="")
            {
                alert("Please select approved end date!");
                $('#txtLCReceiveDateEnd').focus();
                return false;
            }
            if(new Date(sLCReceiveDateStart) > new Date(sLCReceiveDateEnd))
            {
                alert("Start date must be smallar than or equal end date!");
                $('#txtLCReceiveDateStart').focus();
                return false;
            }
        }

        var nPIAmount = parseInt($('#cboLCAmount').val());
        if(nPIAmount===1 || nPIAmount===2 || nPIAmount===3 || nPIAmount===4)
        {
            var sPIAmountStart   = $.trim($('#txtLCAmountStart').val());
            if(sPIAmountStart===null || sPIAmountStart==="")
            {
                alert("Please enter invoice start Amount!");
                $('#txtLCAmountStart').focus();
                return false;
            }
            if(icsRemoveComma(sPIAmountStart)<=0)
            {
                alert("Please enter PI start Amount!");
                $('#txtLCAmountStart').focus();
                return false;
            }
        }
        if(nPIAmount===5 || nPIAmount===6)
        {
            var sPIAmountStart = $.trim($('#txtLCAmountStart').val());
            if(sPIAmountStart===null || sPIAmountStart==="")
            {
                alert("Please enter PI start Amount!");
                $('#txtLCAmountStart').focus();
                return false;
            }
            if(icsRemoveComma(sPIAmountStart)<=0)
            {
                alert("Please enter PI start Amount!");
                $('#txtLCAmountStart').focus();
                return false;
            }

            var sPIAmountEnd = $.trim($('#txtLCAmountEnd').val());
            if(sPIAmountEnd===null || sPIAmountEnd==="")
            {
                alert("Please enter PI end Amount!");
                $('#txtLCAmountEnd').focus();
                return false;
            }
            if(icsRemoveComma(sPIAmountEnd)<=0)
            {
                alert("Please enter invoice end Amount!");
                $('#txtLCAmountEnd').focus();
                return false;
            }
            if(icsRemoveComma(sPIAmountStart) >= icsRemoveComma(sPIAmountEnd))
            {
                alert("Start amount must be smallar than end amount!");
                $('#txtLCAmountStart').focus();
                return false;
            }
        }

        

        if(nParam==1) //For EXCEL: nParam=1
        {
            nReportLayout=0;
        }

        var sPINo =$.trim($('#txtLCNo').val());
        var nReceivedBy = parseInt($('#cboReceivedBy').val());
        var nPIStatus = parseInt($('#cboLCStatus').val());
        var nPaymentType = parseInt($('#cboLCPaymentType').val());
        var sImportInvoiceNo =$.trim($('#txtImportInvoiceNo').val());
        var oImportProducts = $('#txtImportProduct').data('ImportProducts');
        var ncboRequest = parseInt($('#cboRequestDate').val());

        var oSuppliers = $('#txtSupplier').data('Suppliers');
        var oProducts = $('#txtProduct').data('Products');
        var oBankBranchs= $('#txtBankBranch').data('BankBranchs');

        var bIsWthoutCancel = false;
        if($('#chkWthoutCancel').attr("checked"))
        {
            bIsWthoutCancel=true;
        }

        //if(nImportLCDate === 0 && nLCExpireDate === 0 && ncboRequest===0 && nLCReceiveDate === 0 && nPIAmount === 0  && nPaymentType==0 && sPINo === "" && nReceivedBy === 0 && nPIStatus === 0  && sImportInvoiceNo === ""   && oSuppliers.length<=0 && oProducts.length<=0 && oBankBranchs.length<=0&& ncboImportProduct<=0 && bIsWthoutCancel == false && $('#cboImportPIType').val() == 0)
        //{
        //    alert("Please select atleast one searching criteriea!");
        //    return false;
        //}
        return true;
    }

    function RefreshObject()
    {
        var oSuppliers = $('#txtSupplier').data('Suppliers');
        var oProducts = $('#txtProduct').data('Products');
        var oImportProducts = $('#txtImportProduct').data('ImportProducts');
        var oBankBranchs= $('#txtBankBranch').data('BankBranchs');

        var nImportLCDate = parseInt($('#cboImportLCDate').val());
        var sImportLCDateStart   = $('#txtImportLCDateStart').datebox('getValue');
        var sImportLCDateEnd   = $('#txtImportLCDateEnd').datebox('getValue');

        var nLCExpireDate = parseInt($('#cboLCExpireDate').val());
        var sLCExpireDateStart   = $('#txtLCExpireDateStart').datebox('getValue');
        var sLCExpireDateEnd   = $('#txtLCExpireDateEnd').datebox('getValue');

        var nLCReceiveDate = parseInt($('#cboLCReceiveDate').val());
        var sLCReceiveDateStart   = $('#txtLCReceiveDateStart').datebox('getValue');
        var sLCReceiveDateEnd   = $('#txtLCReceiveDateEnd').datebox('getValue');

        var nRequestDate = parseInt($('#cboRequestDate').val());
        var sRequestDateStart   = $('#txtRequestDateStart').datebox('getValue');
        var sRequestDateEnd   = $('#txtRequestDateEnd').datebox('getValue');

        var nPIAmount = parseInt($('#cboLCAmount').val());
        var nPIAmountStart = icsRemoveComma($.trim($('#txtLCAmountStart').val()));
        var nPIAmountEnd = icsRemoveComma($.trim($('#txtLCAmountEnd').val()));

        var sImportInvoiceNo = $.trim($('#txtImportInvoiceNo').val());
        var bIsWthoutCancel = false;
        if($('#chkWthoutCancel').attr("checked"))
        {
            bIsWthoutCancel=true;
        }
        var sSearchingData  =  nImportLCDate+'~';
        sSearchingData = sSearchingData + sImportLCDateStart+'~';
        sSearchingData = sSearchingData + sImportLCDateEnd+'~';
        sSearchingData = sSearchingData + nLCExpireDate+'~';
        sSearchingData = sSearchingData + sLCExpireDateStart+'~';
        sSearchingData = sSearchingData + sLCExpireDateEnd+'~';
        sSearchingData = sSearchingData + nLCReceiveDate+'~';
        sSearchingData = sSearchingData + sLCReceiveDateStart+'~';
        sSearchingData = sSearchingData + sLCReceiveDateEnd+'~';
        sSearchingData = sSearchingData + nPIAmount +'~';
        sSearchingData = sSearchingData + nPIAmountStart +'~';
        sSearchingData = sSearchingData + nPIAmountEnd +'~';
        sSearchingData = sSearchingData + sImportInvoiceNo+'~'+parseInt($('#cboLCPaymentType').val()) + '~';

        sSearchingData = sSearchingData + nRequestDate+'~';
        sSearchingData = sSearchingData + sRequestDateStart+'~';
        sSearchingData = sSearchingData + sRequestDateEnd+'~';
        sSearchingData = sSearchingData + bIsWthoutCancel+'~';


        var oImportLCRegister = {
            BUID : parseInt(sessionStorage.getItem("BUID")),
            ImportLCNo : $.trim($('#txtLCNo').val()),
            ReceivedBy : parseInt($('#cboReceivedBy').val()),
            LCCurrentStatus : parseInt($('#cboLCStatus').val()),
            ImportProductName : ICS_PropertyConcatation(oImportProducts, 'ImportProductID'),
            //ImportLCType : parseInt($('#cboLCPaymentType').val()),
            SupplierName : ICS_PropertyConcatation(oSuppliers, 'ContractorID'),
            ProductName : ICS_PropertyConcatation(oProducts, 'ProductID'),
            BranchName : ICS_PropertyConcatation(oBankBranchs, 'BankBranchID'),
            ImportPIType: parseInt($('#cboImportPIType').val()),
            ReportLayout : parseInt($('#cboReportLayout').val()),
            SearchingData : sSearchingData
        };
        return oImportLCRegister;
    }

    $('#btnPreview').click(function(e){
        if(!ValidateSearch(0)) return;
        var oImportLCRegister = RefreshObject();
        $.ajax({
            type: "POST",
            dataType: "json",
            url : _sBaseAddress+  "/ImportLCRegister/SetSessionSearchCriteria",
            traditional: true,
            data:  JSON.stringify(oImportLCRegister),
            contentType: "application/json; charset=utf-8",
            success: function (data) {
                var sFeedBackMessage = jQuery.parseJSON(data);
                if (sFeedBackMessage==="Successful") {
                    var tsv=((new Date()).getTime())/1000;
                 
                    window.open(_sBaseAddress+'/ImportLCRegister/PrintImportLCRegister?ts='+tsv,"_blank");
                }
            },
            error: function (xhr, status, error) {
                alert(error);
            }
        });
    });


    $('#btnExportToExcel').click(function(e){
        if(!ValidateSearch(1)) return;
        var oImportLCRegister = RefreshObject();
        $.ajax({
            type: "POST",
            dataType: "json",
            url : _sBaseAddress+  "/ImportLCRegister/SetSessionSearchCriteria",
            traditional: true,
            data:  JSON.stringify(oImportLCRegister),
            contentType: "application/json; charset=utf-8",
            success: function (data) {
                var sFeedBackMessage = jQuery.parseJSON(data);
                if (sFeedBackMessage==="Successful") {
                    var tsv=((new Date()).getTime())/1000;
                  
                    window.open(_sBaseAddress+'/ImportLCRegister/Print_ImportLCRegisterXL?ts='+tsv,"_blank");
                }
            },
            error: function (xhr, status, error) {
                alert(error);
            }
        });
    });


    $('#cboImportLCDate').change(function(e){
        //EqualTo = 1, NotEqualTo = 2, GreaterThen = 3, SmallerThen = 4, Between = 5, NotBetween = 6
        var nCompareOperator =   parseInt($('#cboImportLCDate').val());
        if(nCompareOperator===0)
        {
            $('#txtImportLCDateStart').datebox({ disabled : true });
            $('#txtImportLCDateEnd').datebox({ disabled : true });
        }
        else if (nCompareOperator===1 || nCompareOperator===2 || nCompareOperator===3 || nCompareOperator===4)
        {
            $('#txtImportLCDateStart').datebox({ disabled : false });
            $('#txtImportLCDateEnd').datebox({ disabled : true });
        }
        else
        {
            $('#txtImportLCDateStart').datebox({ disabled : false });
            $('#txtImportLCDateEnd').datebox({ disabled : false });
        }
        $('#txtImportLCDateStart').datebox('setValue', icsdateformat(new Date()));
        $('#txtImportLCDateEnd').datebox('setValue', icsdateformat(new Date()));
    });

    $('#cboLCExpireDate').change(function(e){
        //EqualTo = 1, NotEqualTo = 2, GreaterThen = 3, SmallerThen = 4, Between = 5, NotBetween = 6
        var nCompareOperator =   parseInt($('#cboLCExpireDate').val());
        if(nCompareOperator===0)
        {
            $('#txtLCExpireDateStart').datebox({ disabled : true });
            $('#txtLCExpireDateEnd').datebox({ disabled : true });
        }
        else if (nCompareOperator===1 || nCompareOperator===2 || nCompareOperator===3 || nCompareOperator===4)
        {
            $('#txtLCExpireDateStart').datebox({ disabled : false });
            $('#txtLCExpireDateEnd').datebox({ disabled : true });
        }
        else
        {
            $('#txtLCExpireDateStart').datebox({ disabled : false });
            $('#txtLCExpireDateEnd').datebox({ disabled : false });
        }
        $('#txtLCExpireDateStart').datebox('setValue', icsdateformat(new Date()));
        $('#txtLCExpireDateEnd').datebox('setValue', icsdateformat(new Date()));
    });
    $('#cboRequestDate').change(function(e){
        //EqualTo = 1, NotEqualTo = 2, GreaterThen = 3, SmallerThen = 4, Between = 5, NotBetween = 6
        var nCompareOperator =   parseInt($('#cboRequestDate').val());
        if(nCompareOperator===0)
        {
            $('#txtRequestDateStart').datebox({ disabled : true });
            $('#txtRequestDateEnd').datebox({ disabled : true });
        }
        else if (nCompareOperator===1 || nCompareOperator===2 || nCompareOperator===3 || nCompareOperator===4)
        {
            $('#txtRequestDateStart').datebox({ disabled : false });
            $('#txtRequestDateEnd').datebox({ disabled : true });
        }
        else
        {
            $('#txtRequestDateStart').datebox({ disabled : false });
            $('#txtRequestDateEnd').datebox({ disabled : false });
        }
        $('#txtRequestDateStart').datebox('setValue', icsdateformat(new Date()));
        $('#txtRequestDateEnd').datebox('setValue', icsdateformat(new Date()));
    });

    $('#cboLCReceiveDate').change(function(e){
        //EqualTo = 1, NotEqualTo = 2, GreaterThen = 3, SmallerThen = 4, Between = 5, NotBetween = 6
        var nCompareOperator =   parseInt($('#cboLCReceiveDate').val());
        if(nCompareOperator===0)
        {
            $('#txtLCReceiveDateStart').datebox({ disabled : true });
            $('#txtLCReceiveDateEnd').datebox({ disabled : true });
        }
        else if (nCompareOperator===1 || nCompareOperator===2 || nCompareOperator===3 || nCompareOperator===4)
        {
            $('#txtLCReceiveDateStart').datebox({ disabled : false });
            $('#txtLCReceiveDateEnd').datebox({ disabled : true });
        }
        else
        {
            $('#txtLCReceiveDateStart').datebox({ disabled : false });
            $('#txtLCReceiveDateEnd').datebox({ disabled : false });
        }
        $('#txtLCReceiveDateStart').datebox('setValue', icsdateformat(new Date()));
        $('#txtLCReceiveDateEnd').datebox('setValue', icsdateformat(new Date()));
    });

    $('#cboLCAmount').change(function(e){
        //EqualTo = 1, NotEqualTo = 2, GreaterThen = 3, SmallerThen = 4, Between = 5, NotBetween = 6
        var nCompareOperator =   parseInt($('#cboLCAmount').val());
        if(nCompareOperator===0)
        {
            $('#txtLCAmountStart').prop("disabled", true);
            $('#txtLCAmountEnd').prop("disabled", true);
        }
        else if (nCompareOperator===1 || nCompareOperator===2 || nCompareOperator===3 || nCompareOperator===4)
        {
            $('#txtLCAmountStart').prop("disabled", false);
            $('#txtLCAmountEnd').prop("disabled", true);
        }
        else
        {
            $('#txtLCAmountStart').prop("disabled", false);
            $('#txtLCAmountEnd').prop("disabled", false);
        }
        $('#txtLCAmountStart').val('0.00');
        $('#txtLCAmountEnd').val('0.00');
    });

    $('#btnClose').click(function (e) {
        window.location.href = window.location.href;
    });

    ///Supplier Pick
    function PickSupplier()
    {
        var nBUID = parseInt(sessionStorage.getItem("BUID"));
        var oContractor = { Params: 1 + '~' + $.trim($('#txtSupplier').val())+'~'+ nBUID };//here 1 is Supplier
        var obj = {
            BaseAddress: sessionStorage.getItem("BaseAddress"),
            Object: oContractor,
            ControllerName: "Contractor",
            ActionName: "ContractorSearchByNameType",
            IsWinClose: false
        };
        $("#progbar").progressbar({ value: 0 });
        $("#progbarParent").show();
        var intervalID = setInterval(updateProgress, 250);
        $.icsDataGets(obj, function (response) {
            clearInterval(intervalID);
            $("#progbarParent").hide();
            if (response.status && response.objs.length > 0) {
                if (response.objs[0].ContractorID > 0) {
                    var tblColums = []; var oColumn = { field: "Name", title: "Name", width: 200, align: "left" }; tblColums.push(oColumn);
                    oColumn = { field: "Address", title: "Address", width: 120, align: "left" }; tblColums.push(oColumn);
                    oColumn = { field: "Email", title: "Email", width: 90, align: "left" }; tblColums.push(oColumn);
                    oColumn = { field: "ShortName", title: "Short Name", width: 90, align: "left" }; tblColums.push(oColumn);
                    var oPickerParam = {
                        winid: 'winSuppliers',
                        winclass: 'clsSuppliers',
                        winwidth: 600,
                        winheight: 460,
                        tableid: 'tblSuppliers',
                        tablecolumns: tblColums,
                        datalist: response.objs,
                        multiplereturn: true,
                        searchingbyfieldName: 'Name',
                        windowTittle: 'Supplier List'
                    };
                    $.icsPicker(oPickerParam);
                    IntializePickerbutton(oPickerParam);
                }
                else { alert(response.objs[0].ErrorMessage); }
            }else{
                alert("Data Not Found.");
                return;
            }
        });
    }
    $("#txtSupplier").keydown(function (e) {
        var code = (e.keyCode ? e.keyCode : e.which);
        if (code == 13) // Enter Press
        {
            if($.trim($('#txtSupplier').val())===null || $.trim($('#txtSupplier').val())==="")
            {
                alert("Press enter with supplier name");
                return;
            }
            PickSupplier();
        }
    });
    $("#btnPickSupplier").click(function () {
        $('#txtSupplier').val('');
        PickSupplier();
    });
    $('#txtSupplier').keydown(function (e) {
        var code = (e.keyCode ? e.keyCode : e.which);
        if (code == 8) //backspace=8
        {
            $("#txtSupplier").removeClass("fontColorOfPickItem");
            $('#txtSupplier').data('Suppliers', []);
        }
    });
    $('#btnClearSupplier').click(function(e){
        $("#txtSupplier").val("");
        $('#txtSupplier').data('Suppliers', []);
        $("#txtSupplier").removeClass("fontColorOfPickItem");
    });
    //End Supplier Picker

    //Product Pick
    function PickProduct()
    {
        var nBUID = parseInt(sessionStorage.getItem("BUID"));
        var oProduct = {
            BUID : nBUID,
            ProductName : $.trim($('#txtProduct').val())
        };
        var obj = {
            BaseAddress: sessionStorage.getItem("BaseAddress"),
            Object: oProduct,
            ControllerName: "Product",
            ActionName: "SearchByProductBUWise",
            IsWinClose: false
        };
        $("#progbar").progressbar({ value: 0 });
        $("#progbarParent").show();
        var intervalID = setInterval(updateProgress, 250);
        $.icsDataGets(obj, function (response) {
            clearInterval(intervalID);
            $("#progbarParent").hide();
            if (response.status && response.objs.length > 0) {
                if (response.objs[0].ProductID > 0) {
                    var tblColums = [];
                    var oColumn = { field: "ProductCode", title: "Product Code", width: 80, align: "left" }; tblColums.push(oColumn);
                    oColumn = { field: "ProductName", title: "Product Name", width: 300, align: "left" }; tblColums.push(oColumn);
                    oColumn = { field: "ShortName", title: "Short Name", width: 100, align: "left" }; tblColums.push(oColumn);
                    oColumn = { field: "ProductCategoryName", title: "Category", width: 100, align: "left" }; tblColums.push(oColumn)
                    var oPickerParam = {
                        winid: 'winProducts',
                        winclass: 'clsProducts',
                        winwidth: 600,
                        winheight: 460,
                        tableid: 'tblProducts',
                        tablecolumns: tblColums,
                        datalist: response.objs,
                        multiplereturn: true,
                        searchingbyfieldName: 'ProductName',
                        windowTittle: 'Product List'
                    };
                    $.icsPicker(oPickerParam);
                    IntializePickerbutton(oPickerParam);
                }
                else { alert(response.objs[0].ErrorMessage); }
            }else{
                alert("Data Not Found.");
                return;
            }
        });
    }

    
    $("#txtProduct").keydown(function (e) {
        var code = (e.keyCode ? e.keyCode : e.which);
        if (code == 13) // Enter Press
        {
            if($.trim($('#txtProduct').val())===null || $.trim($('#txtProduct').val())==="")
            {
                alert("Press enter with product name");
                return;
            }
            PickProduct();
        }
    });
    $("#btnPickProduct").click(function () {
        $('#txtProduct').val('');
        PickProduct();
    });
   
    $('#txtProduct').keydown(function (e) {
        var code = (e.keyCode ? e.keyCode : e.which);
        if (code == 8) //backspace=8
        {
            $("#txtProduct").removeClass("fontColorOfPickItem");
            $('#txtProduct').data('Products', []);
        }
    });
    $('#btnClearProduct').click(function(e){
        $("#txtProduct").val("");
        $('#txtProduct').data('Products', []);
        $("#txtProduct").removeClass("fontColorOfPickItem");
    });
   
    //End Product Picker
    //Start Import Product

    function PickImportProduct()
    {
        var nBUID = parseInt(sessionStorage.getItem("BUID"));
        var oImportProduct = {
            BUID : nBUID
        };
        var obj = {
            BaseAddress: sessionStorage.getItem("BaseAddress"),
            Object: oImportProduct,
            ControllerName: "ImportLCRegister",
            ActionName: "GetByImportProduct",
            IsWinClose: false
        };
        $("#progbar").progressbar({ value: 0 });
        $("#progbarParent").show();
        var intervalID = setInterval(updateProgress, 250);
        $.icsDataGets(obj, function (response) {
            clearInterval(intervalID);
            $("#progbarParent").hide();
            if (response.status && response.objs.length > 0) {
                if (response.objs[0].ImportProductID > 0) {
                    var tblColums = [];
                    var oColumn = { field: "Name", title: "Name", width: 250, align: "left" }; tblColums.push(oColumn);
                    var oPickerParam = {
                        winid: 'winImportProducts',
                        winclass: 'clsImportProducts',
                        winwidth: 300,
                        winheight: 300,
                        tableid: 'tblImportProducts',
                        tablecolumns: tblColums,
                        datalist: response.objs,
                        multiplereturn: true,
                        searchingbyfieldName: 'Name',
                        windowTittle: 'Import Product List'
                    };
                    $.icsPicker(oPickerParam);
                    IntializePickerbutton(oPickerParam);
                }
                else { alert(response.objs[0].ErrorMessage); }
            }else{
                alert("Data Not Found.");
                return;
            }
        });
    }

    $('#btnClearImportProduct').click(function(e){
        $("#txtImportProduct").val("");
        $('#txtImportProduct').data('ImportProducts', []);
        $("#txtImportProduct").removeClass("fontColorOfPickItem");
    });

    $("#btnPickImportProduct").click(function () {
        $('#txtImportProduct').val('');
        PickImportProduct();
    });
    //End Import product
    //Bank Branch Pick
    function PickBankRanch()
    {
        var oBankBranch = {
            BankName : $.trim($('#txtBankBranch').val())
        };
        var obj = {
            BaseAddress: sessionStorage.getItem("BaseAddress"),
            Object: oBankBranch,
            ControllerName: "BankBranch",
            ActionName: "GetsBankBranchSearchByBankName",
            IsWinClose: false
        };
        $("#progbar").progressbar({ value: 0 });
        $("#progbarParent").show();
        var intervalID = setInterval(updateProgress, 250);
        $.icsDataGets(obj, function (response) {
            clearInterval(intervalID);
            $("#progbarParent").hide();
            if (response.status && response.objs.length > 0) {
                if (response.objs[0].BankBranchID > 0) {
                    var tblColums = [];
                    var oColumn = { field: "BranchCode", title: "Branch Code", width: 80, align: "left" }; tblColums.push(oColumn);
                    oColumn = { field: "BankName", title: "Bank Name", width: 300, align: "left" }; tblColums.push(oColumn);
                    oColumn = { field: "BranchName", title: "Branch Name", width: 200, align: "left" }; tblColums.push(oColumn);
                    var oPickerParam = {
                        winid: 'winBankBranchs',
                        winclass: 'clsBankBranchs',
                        winwidth: 600,
                        winheight: 460,
                        tableid: 'tblBankBranchs',
                        tablecolumns: tblColums,
                        datalist: response.objs,
                        multiplereturn: true,
                        searchingbyfieldName: 'BankName',
                        windowTittle: 'Bank Branch List'
                    };
                    $.icsPicker(oPickerParam);
                    IntializePickerbutton(oPickerParam);
                }
                else { alert(response.objs[0].ErrorMessage); }
            }else{
                alert("Data Not Found.");
                return;
            }
        });
    }
    $("#txtBankBranch").keydown(function (e) {
        var code = (e.keyCode ? e.keyCode : e.which);
        if (code == 13) // Enter Press
        {
            if($.trim($('#txtBankBranch').val())===null || $.trim($('#txtBankBranch').val())==="")
            {
                alert("Press enter with product name");
                return;
            }
            PickBankRanch();
        }
    });
    $("#btnPickBank").click(function () {
        $('#txtBankBranch').val('');
        PickBankRanch();
    });
    $('#txtBankBranch').keydown(function (e) {
        var code = (e.keyCode ? e.keyCode : e.which);
        if (code == 8) //backspace=8
        {
            $("#txtBankBranch").removeClass("fontColorOfPickItem");
            $('#txtBankBranch').data('BankBranchs', []);
        }
    });
    $('#btnClearBank').click(function(e){
        $("#txtBankBranch").val("");
        $('#txtBankBranch').data('BankBranchs', []);
        $("#txtBankBranch").removeClass("fontColorOfPickItem");
    });
    //End Product Picker

    function IntializePickerbutton(oPickerobj) {
        $("#" + oPickerobj.winid).find("#btnOk").click(function () {
            //for Single Select
            SetPickerValueAssign(oPickerobj);
        });
        $(document).find('.' + oPickerobj.winclass).keydown(function (e) {
            if (e.which == 13)//enter=13
            {
                SetPickerValueAssign(oPickerobj);
            }
        });
    }

    function SetPickerValueAssign(oPickerobj) {
        var oreturnObj = null, oreturnobjs = [];
        if (oPickerobj.multiplereturn) {
            oreturnobjs = $('#' + oPickerobj.tableid).datagrid('getChecked');
        } else {
            oreturnObj = $('#' + oPickerobj.tableid).datagrid('getSelected');
        }
        $("#" + oPickerobj.winid).icsWindow("close");
        $("#" + oPickerobj.winid).remove();

        if (oPickerobj.winid === 'winSuppliers')
        {
            if (oreturnobjs != null && oreturnobjs.length > 0) {
                $('#txtSupplier').val(oreturnobjs.length+"'s Suppliers seleted");
                $('#txtSupplier').addClass('fontColorOfPickItem');
                $('#txtSupplier').data('Suppliers', oreturnobjs);
                $('#txtSupplier').focus();
            }
        }
        else if (oPickerobj.winid === 'winProducts')
        {
            if (oreturnobjs != null && oreturnobjs.length > 0) {
                $('#txtProduct').val(oreturnobjs.length+"'s Products seleted");
                $('#txtProduct').addClass('fontColorOfPickItem');
                $('#txtProduct').data('Products', oreturnobjs);
                $('#txtProduct').focus();
            }
        }
        else if (oPickerobj.winid === 'winImportProducts')
        {
            if (oreturnobjs != null && oreturnobjs.length > 0) {
                $('#txtImportProduct').val(oreturnobjs.length+"'s Import Products seleted");
                $('#txtImportProduct').addClass('fontColorOfPickItem');
                $('#txtImportProduct').data('ImportProducts', oreturnobjs);
                $('#txtImportProduct').focus();
            }
        }
        else if (oPickerobj.winid === 'winBankBranchs')
        {
            if (oreturnobjs != null && oreturnobjs.length > 0) {
                $('#txtBankBranch').val(oreturnobjs.length+"'s Bank Branchs seleted");
                $('#txtBankBranch').addClass('fontColorOfPickItem');
                $('#txtBankBranch').data('BankBranchs', oreturnobjs);
                $('#txtBankBranch').focus();
            }
        }
    }

    function updateProgress() {
        var value =$('#progbar').progressbar('getValue');
        if (value < 96){
            value += Math.floor(Math.random() * 10);
            $('#progbar').progressbar('setValue', value);
        }
    }

    function hideShow(miliseconds) {
        $("#progbarParent").hide();
    }
</script>