@{
    ViewBag.Title = "Production Order List";
}
@model IEnumerable<ESimSol.BusinessObjects.ProductionOrder>
    <div id="progressbarParent" style="width:100%;height:100%;margin:0 auto;text-align:center; margin-left: auto;margin-right: auto;left: 0;right: 0;z-index: 1;">
        <div style="margin: 0px auto;margin-top: 251px;text-align:center;width:390px;">
            <label style="font-size:18px;">Please wait</label>
            <div id="progressbar" style="width:100%;height:37px;"></div>
        </div>
    </div>

    <div id="winApprovalRequest" class="easyui-window" title="Request For Approval" data-options="modal:true,closed:true,collapsible:false,minimizable:false,maximizable:false,closable:false">
        <div style="font-family:Tahoma">
            <fieldset style="margin-top:3px">
                <table border="0" style="font-size:12px">
                    <tr>
                        <td style="width:150px; text-align:right">Request To:</td>
                        <td style="width:250px; text-align:left"><select id="cboApprovalRequestTo" style="width:225px;font-size:12px;" /></td>
                    </tr>
                    <tr>
                        <td style="width:150px; text-align:right">Note :</td>
                        <td style="width:250px; text-align:left">
                            <input type="text" id="txtApprovalRequestNote" style="width:220px" />
                        </td>
                    </tr>
                </table>
            </fieldset>

            <fieldset style="margin-bottom:3px">
                <legend style="font-weight:bold"> Action : </legend>
                <table border="0" cellspacing="2" cellpadding="2" style="font-size:11px; width:400px">
                    <tr>
                        <td style="width:300px; text-align:right"></td>
                        <td style="width:50px">
                            <a id="btnApprovalRequestConfirm" href="javascript:void(0)" class="easyui-linkbutton" iconcls="icon-save" plain="true">Confirm</a>
                        </td>
                        <td style="width:50px">
                            <a id="btnApprovalRequestClose" href="javascript:void(0)" class="easyui-linkbutton" iconcls="icon-cancel" plain="true">Close</a>
                        </td>
                    </tr>
                </table>
            </fieldset>
        </div>
    </div>

    <div id="winDirApprovalRequest" class="easyui-window" title="Request For Dir Approval" data-options="modal:true,closed:true,collapsible:false,minimizable:false,maximizable:false,closable:false">
        <div style="font-family:Tahoma">
            <fieldset style="margin-top:3px">
                <table border="0" style="font-size:12px">
                    <tr>
                        <td style="width:150px; text-align:right">Request To:</td>
                        <td style="width:250px; text-align:left"><select id="cboDirApprovalRequestTo" style="width:225px;font-size:12px;" /></td>
                    </tr>
                    <tr>
                        <td style="width:150px; text-align:right">Note :</td>
                        <td style="width:250px; text-align:left">
                            <input type="text" id="txtDirApprovalRequestNote" style="width:220px" />
                        </td>
                    </tr>
                </table>
            </fieldset>

            <fieldset style="margin-bottom:3px">
                <legend style="font-weight:bold"> Action : </legend>
                <table border="0" cellspacing="2" cellpadding="2" style="font-size:11px; width:400px">
                    <tr>
                        <td style="width:300px; text-align:right"></td>
                        <td style="width:50px">
                            <a id="btnDirApprovalRequestConfirm" href="javascript:void(0)" class="easyui-linkbutton" iconcls="icon-save" plain="true">Confirm</a>
                        </td>
                        <td style="width:50px">
                            <a id="btnDirApprovalRequestClose" href="javascript:void(0)" class="easyui-linkbutton" iconcls="icon-cancel" plain="true">Close</a>
                        </td>
                    </tr>
                </table>
            </fieldset>
        </div>
    </div>

    <div id="winProductionOrderAdvanceSearch" class="easyui-window winClass" title="Advance Search" data-options="modal:true,closed:true,collapsible:false,minimizable:false,maximizable:false,closable:false">
        <div style="width:760px; float: left;">
            <table border="0" cellpadding="0" cellspacing="0">
                <tr style="height:330px">
                    <td style="width:850px">
                        <table border="0" cellpadding="0" cellspacing="0">
                            <tr style="height:340px">
                                <td style="width:300px; vertical-align:top;height:330px">
                                    <fieldset>
                                        <legend style="font-weight:bold; font-size:12px"> Searching Criteria : </legend>
                                        <table border="0" cellpadding="0" cellspacing="2">
                                            <tr>
                                                <td style="width:300px;font-size:12px;">
                                                    PO No:
                                                </td>
                                            </tr>
                                            <tr>
                                                <td style="width:350px">
                                                    @Html.TextBox("txtPONo", "", new { style = "width: 325px", id = "txtPONo" })
                                                </td>
                                            </tr>
                                            <tr>
                                                <td style="width:300px;font-size:12px;">
                                                   PI No:
                                                </td>
                                            </tr>
                                            <tr>
                                                <td style="width:350px">
                                                    @Html.TextBox("txtExportPINo", "", new { style = "width: 325px", id = "txtExportPINo"})
                                                </td>
                                            </tr>
                                            <tr>
                                                <td style="width:300px;font-size:12px;">
                                                    Buyer Name:
                                                </td>
                                            </tr>
                                            <tr>
                                                <td style="width:300px;font-size:12px;">
                                                    @Html.TextBox("txtBuyerName", "", new { style = "width: 260px;font-size:12px;", id = "txtBuyerName", placeholder = " Type Buyer & Press Enter" }) <input type="button" id="btnBuyerPicker" style="width:60px;" value="Pick" />

                                                </td>
                                            </tr>
                                            <tr>
                                                <td style="width:300px;font-size:12px;">
                                                    Deliver To:
                                                </td>
                                            </tr>
                                            <tr>
                                                <td style="width:300px;font-size:12px;">
                                                    @Html.TextBox("txtDeliveryToName", "", new { style = "width: 260px;font-size:12px;", id = "txtDeliveryToName", placeholder = " Type Delivery To & Press Enter" }) <input type="button" id="btnPickDeliveryTo" style="width:60px;" value="Pick" />

                                                </td>
                                            </tr>
                                                                                     
                                            <tr>
                                                <td style="width:300px;font-size:12px;">
                                                    Order Date:
                                                </td>
                                            </tr>
                                            <tr>
                                                <td style="width:300px">
                                                    <table border="0" cellpadding="0" cellspacing="0">
                                                        <tr>
                                                            <td style="width:97px;font-size:12px;">@Html.DropDownList("cboOrderCreateDate", new SelectList(Enum.GetValues(typeof(ESimSol.BusinessObjects.EnumCompareOperator))), new { id = "cboOrderCreateDate", style = "width: 97px;font-size:12px;", @class = "_select_changeA" })</td>
                                                            <td style="width:97px;font-size:12px;"><input type="text" id="txtOpenOrderCreateDate" value="" style="width: 108px;font-size:12px;" class="easyui-datebox" data-options="formatter:icsdateformat,parser:icsdateparser" /></td>
                                                            <td style="width:9px;font-size:12px;" id="enddateT">To</td>
                                                            <td style="width:97px;font-size:12px;" id="enddate"><input type="text" id="txtOrderCreateEndDate" value="" style="width: 108px;font-size:12px;" class="easyui-datebox" data-options="formatter:icsdateformat,parser:icsdateparser" /></td>
                                                        </tr>
                                                    </table>
                                                </td>
                                            </tr>
                                            
                                            <tr>
                                                <td style="width: 130px; text-align: left;font-size:12px;">
                                                    Market Perosn:
                                                </td>
                                            </tr>
                                            <tr>
                                                <td style="width: 325px; text-align: left">
                                                    <select id="cboMarketPerson" style=" width:320px;"></select>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td>
                                                    <input type="checkbox" name="chkApproved" id="chkApproved" /><label style="width:150px;font-size:12px;" onclick="IsChecked()">Approved</label>
                                                    <input type="checkbox" name="chkNotApproved" id="chkNotApproved" /><label style="width:150px;font-size:12px;" onclick="IsChecked()">Not Approved</label>
                                                </td>
                                            </tr>
                                            <tr style="height:20px; vertical-align:bottom">
                                                <td style=" text-align:left; width:330px;">
                                                    <table border="0" cellpadding="0" cellspacing="0">
                                                        <tr>
                                                            <td style=" text-align:left;"><input type="button" value="Reset" id="btnReset" onclick="Reset()" style="width:70px; text-align:left;" /></td>
                                                            <td style=" text-align:right; width:260px;"><input type="button" value="Search" id="btnRefresh" style="width:70px; text-align:right;" /></td>
                                                        </tr>
                                                    </table>
                                                </td>
                                            </tr>
                                        </table>
                                    </fieldset>
                                </td>
                                <td style="width:400px; vertical-align:top">
                                    <div style="margin-left:0px; margin-top:6px; height:330px">
                                        <table id="tblProductionOrdersList" title="Production Order List" class="easyui-datagrid" style="width:400px;height:335px" fitcolumns="false" rownumbers="true" pagination="false" singleselect="false"  autorowheight="false">
                                            <thead>
                                                <tr>
                                                    <th data-options="field:'Selected',checkbox:true"></th>
                                                    <th field="FullPONo" width="80">PO No</th>
                                                    <th field="ExportPINo" width="80">PI No</th>
                                                    <th field="OrderDateInString" width="70">Order Date</th>
                                                    <th field="ContractorName" width="100">Buyer Name</th>
                                                </tr>
                                            </thead>
                                        </table>
                                    </div>
                                </td>

                            </tr>
                        </table>
                    </td>
                </tr>
                <tr style="height:50px">
                    <td style="width:850px; text-align:right">
                        <a href="javascript:void(0)" class="easyui-linkbutton" iconcls="icon-ok" plain="true" onclick="OkButtonClick()">Ok</a>
                        <a href="javascript:void(0)" class="easyui-linkbutton" iconcls="icon-cancel" plain="true" onclick="Close()">Close</a>
                    </td>
                </tr>
            </table>
        </div>
    </div>

    <div id="winReviseHistory" class="easyui-window" title="Revise History" data-options="modal:true,closed:true,collapsible:false,minimizable:false,maximizable:false,closable:false">
        <table id="tblReviseHistory" class="easyui-datagrid" style="width: 900px; height: 350px; margin: 0;" data-options="singleSelect: true,fitColumns:false, rownumbers:true, pagination:false, autoRowHeight:false, toolbar: '#toolbarReviseHistory' ">
            <thead>
                <tr>
                    <th field="FullPONo" width="200">PO No</th>
                    <th field="ProductionOrderStatusInString" width="150">Status</th>
                    <th field="ExportPINo" width="150">PI No</th>
                    <th field="ContractorName" width="100">Buyer Name</th>
                    <th field="OrderDateInString" width="100">Order Date</th>                                      
                    <th field="DeliveryToName" width="100">Delivery To</th>
                    <th field="DeliveryContactPersonName" width="120">Delivery C.Person</th>
                    <th field="MKTPName" width="120">Market Person Name</th>
                    <th field="ApproveByName" width="100">Approved By</th>
                    <th field="Qty" align="right" width="100">Quantity</th>
                </tr>
            </thead>
        </table>
        <div id="toolbarReviseHistory">
            <a id="btnPrintReviseHistory" href="javascript:void(0)" class="easyui-linkbutton" iconcls="icon-print" plain="true">Print</a>
        </div>
        <fieldset class="actionfieldsetstyle">
            <legend>Actions : </legend>
            <a id="btnCloseReviseHistory" href="javascript:void(0)" class="easyui-linkbutton" iconcls="icon-cancel" plain="true">Close</a>
        </fieldset>
    </div>

    <div class="menuMainCollectionTable">
       <table id="tblProductionOrders" title="Production Order List" class="easyui-datagrid" fit="true" fitcolumns="false" rownumbers="true" pagination="true" singleselect="true" autorowheight="false" toolbar="#toolbar">
            <thead>
                <tr>
                    <th field="FullPONo" width="200">PO No</th>
                    <th field="ProductionOrderStatusInString" width="150">Status</th>
                    <th field="ExportPINo" width="150">PI No</th>
                    <th field="ContractorName" width="100">Buyer Name</th>
                    <th field="OrderDateInString" width="100">Order Date</th>
                    <th field="LastReviseDateSt" width="100">Last Revised</th>  
                    <th field="DeliveryToName" width="100">Delivery To</th>
                    <th field="DeliveryContactPersonName" width="120">Delivery C.Person</th>
                    <th field="MKTPName" width="120">Market Person Name</th>
                    <th field="Qty" align="right" formatter="formatPriceWithZeroDecimal" width="100">Quantity</th>
                    <th field="ApproveByName" width="100">Approved By</th>
                    <th field="ApproveDateInString" align="center" width="100">Approved Date</th>
                    <th field="DBServerDateTimeInString" align="center" width="130">Entry Date</th>
                </tr>
            </thead>
       </table>

       <div id="toolbar">
            <input type="text" id="txtByPONo" placeholder="Search By PO No" style="width:150px" />
            <a id="btnSearch" href="javascript:void(0)" class="easyui-linkbutton" iconcls="icon-search" plain="true"></a>
            <a id="btnAdd" href="javascript:void(0)" class="easyui-linkbutton" iconcls="icon-add" plain="true">Add</a>
            <a id="btnEdit" href="javascript:void(0)" class="easyui-linkbutton" iconcls="icon-edit" plain="true">Edit</a>
            <a id="btnView" href="javascript:void(0)" class="easyui-linkbutton" iconcls="icon-details" plain="true">View</a>
            <a id="btnDelete" href="javascript:void(0)" class="easyui-linkbutton" iconcls="icon-remove" plain="true">Delete</a>
            <a id="btnReqForApprove" href="javascript:void(0)" class="easyui-linkbutton" iconcls="icon-redo" plain="true">Req For App</a>
            <a id="btnUndoReq" href="javascript:void(0)" class="easyui-linkbutton" iconcls="icon-undo" plain="true" onclick="UndoRequest()">Undo Req</a>
            <a id="btnWaitforApproval" href="javascript:void(0)" class="easyui-linkbutton" iconcls="icon-waitforapproval" plain="true" onclick="WaitForApproval()"> Wait For App</a>
            <a id="btnApprove" href="javascript:void(0)" class="easyui-linkbutton" iconcls="icon-approved" plain="true" onclick="Approve()">Approve</a>
            <a id="btnUndoApprove" href="javascript:void(0)" class="easyui-linkbutton" iconcls="icon-undo" plain="true" onclick="UndoApprove()">Undo App</a>
            <a id="btnReqForDirApprove" href="javascript:void(0)" class="easyui-linkbutton" iconcls="icon-redo" plain="true" onclick="RequestforDirApprove()">Req For Dir App</a>
            <a id="btnDirApprove" href="javascript:void(0)" class="easyui-linkbutton" iconcls="icon-approved" plain="true" onclick="DirApprove()">Dir Approve</a>
            <a id="btnUndoDirApprove" href="javascript:void(0)" class="easyui-linkbutton" iconcls="icon-undo" plain="true" onclick="UndoDirApprove()">Undo Dir App</a>
            <a id="btnRequestforRevise" href="javascript:void(0)" class="easyui-linkbutton" iconcls="icon-redo" plain="true" onclick="RequestforRevise()">Req For Rev</a>
            <a id="btnAcceptRevise" href="javascript:void(0)" class="easyui-linkbutton" iconcls="icon-edit" plain="true" onclick="AcceptRevise()">Accept Revise</a>
            <a id="btnSendToProduction" href="javascript:void(0)" class="easyui-linkbutton" iconcls="icon-forword" plain="true" onclick="SendToProduction()">Send To Production</a>
            <a id="btnProductionProcess" href="javascript:void(0)" class="easyui-linkbutton" iconcls="icon-waitforapproval" plain="true" onclick="ProductionProcess()">Production Process</a>
            <a id="btnProductionDone" href="javascript:void(0)" class="easyui-linkbutton" iconcls="icon-ok" plain="true" onclick="ProductionDone()">Production Done</a>
            <a id="btnReviseHistoryPO" href="javascript:void(0)" class="easyui-linkbutton" iconcls="icon-details" plain="true">Rvse History</a>
            <a id="btnAttachment" href="javascript:void(0)" class="easyui-linkbutton" iconcls="icon-attachment" plain="true" onclick="Attchment()">Attchment</a>
            <a id="btnPreview" href="javascript:void(0)" class="easyui-linkbutton" iconcls="icon-print" plain="true">Preview</a>
            <a id="btnPrintSizer" href="javascript:void(0)" class="easyui-linkbutton" iconcls="icon-print" plain="true">Print Sizer</a>
            <a id="btnPrintList" href="javascript:void(0)" class="easyui-linkbutton" iconcls="icon-print" plain="true">Print List</a>
        </div>
    </div>

    <script type="text/javascript">
    debugger;
    var _oProductionOrder=null;
    var _oProductionOrders=[];
    var _sBaseAddress="";
    var _oAuthorizationRolesMapping=[];
    var _oMktPersons = [];
    var _sBuyerIDs = "";
    var _sDeliveryToIDs = "";
    var _nBUID = 0;
    var _nProductNature = 0;
    $(document).ready(function () {
        debugger;
        _oProductionOrders =@Html.Raw( new System.Web.Script.Serialization.JavaScriptSerializer().Serialize(Model));
        _sBaseAddress =@Html.Raw( new System.Web.Script.Serialization.JavaScriptSerializer().Serialize(HttpContext.Current.Session[SessionInfo.BaseAddress]));
        _oAuthorizationRolesMapping =@Html.Raw( new System.Web.Script.Serialization.JavaScriptSerializer().Serialize(HttpContext.Current.Session[SessionInfo.AuthorizationRolesMapping]));
        _oMktPersons =@Html.Raw(new System.Web.Script.Serialization.JavaScriptSerializer().Serialize(ViewBag.MktPersons));
        _nBUID = @Html.Raw(new System.Web.Script.Serialization.JavaScriptSerializer().Serialize(ViewBag.BUID));
        _nProductNature = @Html.Raw(new System.Web.Script.Serialization.JavaScriptSerializer().Serialize(ViewBag.ProductNature));
        
        debugger;
        var oProductionOrders =sessionStorage.getItem("ProductionOrders");
        if(oProductionOrders!=null)
        {
            oProductionOrders = jQuery.parseJSON(oProductionOrders);
        }
        else
        {
            oProductionOrders=_oProductionOrders;
        }
        RefreshList(oProductionOrders);
        //var oMergeCell = {index:1,field: 'ContractorName',colspan:5, type: 'body'};$('#tblProductionOrders').datagrid('mergeCells',oMergeCell);
        //oMergeCell = {index:5,field: 'DeliveryToName',colspan:3, type: 'body'};$('#tblProductionOrders').datagrid('mergeCells',oMergeCell);
        //oMergeCell = {index:8,field: 'DeliveryToName',colspan:4, type: 'body'};$('#tblProductionOrders').datagrid('mergeCells',oMergeCell);
        //oMergeCell = {index:7,field: 'ContractorName',colspan:4, type: 'body'};$('#tblProductionOrders').datagrid('mergeCells',oMergeCell);
       
        RefreshControlLayout();
        $("#progressbar").progressbar({ value: 0 });
        $("#progressbarParent").hide();
    });

    function updateProgress() {
        var value =$('#progressbar').progressbar('getValue');
        if (value < 96){
            value += Math.floor(Math.random() * 10);
            $('#progressbar').progressbar('setValue', value);
        }
    }
    function hideShow(miliseconds) {
        $("#progressbarParent").hide();
    }

    //Start Revise History
    $("#btnReviseHistoryPO").click(function () {
        var oProductionOrder = $("#tblProductionOrders").datagrid("getSelected");
        if (oProductionOrder == null || oProductionOrder.ProductionOrderID <= 0) {
            alert("Please select an item from list.");
            return false;
        }
        $("#winReviseHistory").icsWindow("open", "Revise History of PO No : " + oProductionOrder.PONo);
        $.ajax({
            type: "POST",
            dataType: "json",
            url: _sBaseAddress + "/ProductionOrder/GetReviseHistory",
            traditional: true,
            data: JSON.stringify(oProductionOrder),
            contentType: "application/json; charset=utf-8",
            success: function (data) {
                var oProductionOrders = jQuery.parseJSON(data);
                if(oProductionOrders!=null){
                    if(oProductionOrders.length>0){
                        DynamicRefreshList(oProductionOrders,"tblReviseHistory");
                    }
                    else{
                        DynamicRefreshList([],"tblReviseHistory");
                    }
                }
            },
            error: function (xhr, status, error) {
                alert(error);
            }
        });
    });

    $("#btnCloseReviseHistory").click(function () {
        $("#winReviseHistory").icsWindow("close");
    });

    $("#btnPrintReviseHistory").click(function () {
        var oProductionOrderLog = $("#tblReviseHistory").datagrid("getSelected");
        if (oProductionOrderLog == null || oProductionOrderLog.ProductionOrderLogID <= 0) {
            alert("Please select an item from list.");
            return false;
        }
        window.open(_sBaseAddress + '/ProductionOrder/ProductionOrderPrintPreviewLog?nLogid='+oProductionOrderLog.ProductionOrderLogID, "_blank");
    });
    //End Revise History

    //Search Property
    $("#btnSearch").click(function () {
        $("#winProductionOrderAdvanceSearch").icsWindow('open', "Advance Search");
        $("#winProductionOrderAdvanceSearch input").not("input[type='button']").val("");
        $("#winProductionOrderAdvanceSearch select").val(0);
        SetTodayDate();
        Reset();
        $("#cboMarketPerson").icsLoadCombo({ List: _oMktPersons, OptionValue: "EmployeeID", DisplayText: "Name" });
    });
    function SetTodayDate()
    {
        $('#txtOpenOrderCreateDate').datebox('setValue', icsdateformat(new Date()));
        $('#txtOrderCreateEndDate').datebox('setValue', icsdateformat(new Date()));
    }

    $('._select_changeA').change(function () {
        //debugger;
        var x = $("#cboOrderCreateDate").val();
        if (x == "EqualTo" || x == "NotEqualTo" || x == "GreaterThen" || x == "SmallerThen") {
            document.getElementById("enddate").style.display = 'none';
            document.getElementById("enddateT").style.display = 'none';
        }
        else {
            document.getElementById("enddate").style.display = '';
            document.getElementById("enddateT").style.display = '';
        }
        if (x == "None")
        {

            $('#txtOpenOrderCreateDate').datebox('setValue', icsdateformat(new Date()));
            $('#txtOrderCreateEndDate').datebox('setValue', icsdateformat(new Date()));
        }
    });


    ///Contractor Pick
    $("#txtBuyerName").keydown(function (e) {
        debugger;
        var code = (e.keyCode ? e.keyCode : e.which);
        if (code == 13) // Enter Press
        {
            var oContractor = { Params: 2 + '~' + $('#txtBuyerName').val()+'~'+_nBUID };
            var obj = {
                BaseAddress: _sBaseAddress,
                Object: oContractor,
                ControllerName: "Contractor",
                ActionName: "ContractorSearchByNameType",
                IsWinClose: false
            };
            $("#progressbar").progressbar({ value: 0 });
            $("#progressbarParent").show();
            var intervalID = setInterval(updateProgress, 250);
            $.icsDataGets(obj, function (response) {
                debugger;
                clearInterval(intervalID);
                $("#progressbarParent").hide();
                if (response.status && response.objs.length > 0) {
                    if (response.objs[0].ContractorID > 0) {
                        debugger;
                        var tblColums = []; var oColumn = { field: "Name", title: "Name", width: 200, align: "left" }; tblColums.push(oColumn);
                        oColumn = { field: "Address", title: "Address", width: 120, align: "left" }; tblColums.push(oColumn);
                        oColumn = { field: "Email", title: "Email", width: 90, align: "left" }; tblColums.push(oColumn);
                        oColumn = { field: "ShortName", title: "Short Name", width: 90, align: "left" }; tblColums.push(oColumn);
                        var oPickerParam = {
                            winid: 'winContractors',
                            winclass: 'clsContractor',
                            winwidth: 600,
                            winheight: 460,
                            tableid: 'tblContractors',
                            tablecolumns: tblColums,
                            datalist: response.objs,
                            multiplereturn: false,
                            searchingbyfieldName: 'Name',
                            windowTittle: 'Contractor List'
                        };
                        $.icsPicker(oPickerParam);
                        IntializePickerbutton(oPickerParam);
                    }
                    else { alert(response.objs[0].ErrorMessage); }
                }else{
                    alert("Data Not Found.");
                }
            });
        }
    });
    $("#btnBuyerPicker").click(function () {
        var oContractor = { Params: "2~"+'~'+_nBUID };
        var obj = {
            BaseAddress: _sBaseAddress,
            Object: oContractor,
            ControllerName: "Contractor",
            ActionName: "ContractorSearchByNameType",
            IsWinClose: false
        };
        $("#progressbar").progressbar({ value: 0 });
        $("#progressbarParent").show();
        var intervalID = setInterval(updateProgress, 250);
        $.icsDataGets(obj, function (response) {
            debugger;
            clearInterval(intervalID);
            $("#progressbarParent").hide();
            if (response.status && response.objs.length > 0) {
                if (response.objs[0].ContractorID > 0) {
                    var tblColums = []; var oColumn = { field: "Name", title: "Name", width: 200, align: "left" }; tblColums.push(oColumn);
                    oColumn = { field: "Address", title: "Address", width: 120, align: "left" }; tblColums.push(oColumn);
                    oColumn = { field: "Email", title: "Email", width: 90, align: "left" }; tblColums.push(oColumn);
                    oColumn = { field: "ShortName", title: "Short Name", width: 90, align: "left" }; tblColums.push(oColumn);
                    var oPickerParam = {
                        winid: 'winContractors',
                        winclass: 'clsContractor',
                        winwidth: 600,
                        winheight: 460,
                        tableid: 'tblContractors',
                        tablecolumns: tblColums,
                        datalist: response.objs,
                        multiplereturn: true,
                        searchingbyfieldName: 'Name',
                        windowTittle: 'Buyer List'
                    };
                    $.icsPicker(oPickerParam);
                    IntializePickerbutton(oPickerParam);
                }
                else { alert(response.objs[0].ErrorMessage); }
            }else{
                alert("Data Not Found.");
            }
        });

    });
    $('#txtBuyerName').keydown(function (e) {
        var code = (e.keyCode ? e.keyCode : e.which);
        if (code == 8) //backspace=8
        {
            //debugger;
            $("#txtBuyerName").removeClass("fontColorOfPickItem");
            _sBuyerIDs = "";
        }
    });
    //Delivery to pick

    $("#txtDeliveryToName").keydown(function (e) {
        debugger;
        var code = (e.keyCode ? e.keyCode : e.which);
        if (code == 13) // Enter Press
        {
            var oContractor = { Params: '2,3~' + $('#txtDeliveryToName').val()+'~'+_nBUID };
            var obj = {
                BaseAddress: _sBaseAddress,
                Object: oContractor,
                ControllerName: "Contractor",
                ActionName: "ContractorSearchByNameType",
                IsWinClose: false
            };
            $("#progressbar").progressbar({ value: 0 });
            $("#progressbarParent").show();
            var intervalID = setInterval(updateProgress, 100);
            $.icsDataGets(obj, function (response) {
                debugger;
                clearInterval(intervalID);
                $("#progressbarParent").hide();
                if (response.status && response.objs.length > 0) {
                    if (response.objs[0].ContractorID > 0) {
                        debugger;
                        var tblColums = []; var oColumn = { field: "Name", title: "Name", width: 200, align: "left" }; tblColums.push(oColumn);
                        oColumn = { field: "Address", title: "Address", width: 120, align: "left" }; tblColums.push(oColumn);
                        oColumn = { field: "Email", title: "Email", width: 90, align: "left" }; tblColums.push(oColumn);
                        oColumn = { field: "ShortName", title: "Short Name", width: 90, align: "left" }; tblColums.push(oColumn);
                        var oPickerParam = {
                            winid: 'winDeliveryTos',
                            winclass: 'clsDeliveryTo',
                            winwidth: 600,
                            winheight: 460,
                            tableid: 'tblDeliveryTos',
                            tablecolumns: tblColums,
                            datalist: response.objs,
                            multiplereturn: false,
                            searchingbyfieldName: 'Name',
                            windowTittle: 'Delivery To List'
                        };
                        $.icsPicker(oPickerParam);
                        IntializePickerbutton(oPickerParam);
                    }
                    else { alert(response.objs[0].ErrorMessage); }
                }else{
                    alert("Data Not Found.");
                }
            });
        }
    });
    $("#btnPickDeliveryTo").click(function () {
        var oContractor = { Params: "2,3~"+'~'+_nBUID };
        var obj = {
            BaseAddress: _sBaseAddress,
            Object: oContractor,
            ControllerName: "Contractor",
            ActionName: "ContractorSearchByNameType",
            IsWinClose: false
        };
        $("#progressbar").progressbar({ value: 0 });
        $("#progressbarParent").show();
        var intervalID = setInterval(updateProgress, 100);
        $.icsDataGets(obj, function (response) {
            debugger;
            clearInterval(intervalID);
            $("#progressbarParent").hide();
            if (response.status && response.objs.length > 0) {
                if (response.objs[0].ContractorID > 0) {
                    var tblColums = []; var oColumn = { field: "Name", title: "Name", width: 200, align: "left" }; tblColums.push(oColumn);
                    oColumn = { field: "Address", title: "Address", width: 120, align: "left" }; tblColums.push(oColumn);
                    oColumn = { field: "Email", title: "Email", width: 90, align: "left" }; tblColums.push(oColumn);
                    oColumn = { field: "ShortName", title: "Short Name", width: 90, align: "left" }; tblColums.push(oColumn);
                    var oPickerParam = {
                        winid: 'winDeliveryTos',
                        winclass: 'clsDeliveryTo',
                        winwidth: 600,
                        winheight: 460,
                        tableid: 'tblDeliveryTos',
                        tablecolumns: tblColums,
                        datalist: response.objs,
                        multiplereturn: true,
                        searchingbyfieldName: 'Name',
                        windowTittle: 'Delivery To List'
                    };
                    $.icsPicker(oPickerParam);
                    IntializePickerbutton(oPickerParam);
                }
                else { alert(response.objs[0].ErrorMessage); }
            }else{
                alert("Data Not Found.");
            }
        });

    });
    $('#txtDeliveryToName').keydown(function (e) {
        var code = (e.keyCode ? e.keyCode : e.which);
        if (code == 8) //backspace=8
        {
            //debugger;
            $("#txtDeliveryToName").removeClass("fontColorOfPickItem");
            _sDeliveryToIDs = "";
        }
    });


    $('#chkApproved').click(function(){
        if (this.checked) {
            document.getElementById("chkNotApproved").checked = false;
        }
    });
    $('#chkNotApproved').click(function(){
        if (this.checked) {
            document.getElementById("chkApproved").checked = false;
        }
    });

    $('#btnRefresh').click(function (){
        debugger;
        var sExportPINo= $("#txtExportPINo").val();
        var sPONo= $("#txtPONo").val();
        var cboOrderCreateDate = document.getElementById("cboOrderCreateDate");
        var nOrderCreateDate=cboOrderCreateDate.options[cboOrderCreateDate.selectedIndex].index;
        var sOrderDates=$('#txtOpenOrderCreateDate').datebox('getValue');
        var sOrderDatee=$('#txtOrderCreateEndDate').datebox('getValue');
        var nMKTPersonID= parseInt($('#cboMarketPerson').val());

        var nApproved = 0;
        var nNotApproved = 0;
        if(document.getElementById("chkApproved").checked == true)
        {
            nApproved = 1;
        }
        else
        {
            nApproved = 0;
        }
        if(document.getElementById("chkNotApproved").checked == true)
        {
            nNotApproved = 1;
        }
        else
        {
            nNotApproved = 0;
        }

        if(nOrderCreateDate==0 && sExportPINo=="" && sPONo=="" && _sBuyerIDs=="" && _sDeliveryToIDs==""  && nApproved==0 && nNotApproved==0 && nMKTPersonID==0 )
        {
            alert('Please Select a Search Criteria');
            return false;
        }
        var sTempString = nOrderCreateDate+'~'+sOrderDates+'~'+sOrderDatee+'~'+sPONo+'~'+sExportPINo+'~'+_sBuyerIDs+'~'+_sDeliveryToIDs+'~'+nApproved+'~'+nNotApproved+'~'+nMKTPersonID+'~'+_nBUID+'~'+_nProductNature;
        $.ajax({
            type: "GET",
            dataType: "json",
            url: sessionStorage.getItem('BaseAddress')+"/ProductionOrder/Gets",
        data: { Temp: sTempString },
        contentType: "application/json; charset=utf-8",
        success: function (data) {
            ////debugger;
            oProductionOrders = jQuery.parseJSON(data);
            if (oProductionOrders != null) {
                if(oProductionOrders.length>0)
                {
                    RefreshListForSearch(oProductionOrders);
                }
                else
                {
                    alert("Data not found!!");
                    RefreshListForSearch([]);
                }
            }
        },
        error: function (xhr, status, error) {
            alert(error);
        }
    });

});

    function Reset() {
        debugger;
        $("#txtPONo,#txtExportPINo,#txtBuyerName,#txtDeliveryToName").val('');

        document.getElementById("enddate").style.display = '';
        document.getElementById("enddateT").style.display = '';
        document.getElementById("chkNotApproved").checked = false;
        document.getElementById("chkApproved").checked = false;
        $('#cboOrderCreateDate').val('None');
        $('#cboMarketPerson').val(0);
        SetTodayDate();
        data ="";
        data={"total":""+data.length+"","rows":data};
        $('#tblProductionOrdersList').datagrid('loadData',data);
        $("#txtBuyerName,#txtDeliveryToName").removeClass("fontColorOfPickItem");
        _sBuyerIDs ="";_sDeliveryToIDs = "";

    }

    function IntializePickerbutton(oPickerobj) {
        debugger;
        $("#" + oPickerobj.winid).find("#btnOk").click(function () {
            debugger;
            //for Single Select
            PickerEvents(oPickerobj);
        });
        $(document).find('.' + oPickerobj.winclass).keydown(function (e) {
            if (e.which == 13)//enter=13
            {
                PickerEvents(oPickerobj);
            }
        });
    }
    function PickerEvents(oPickerobj) {
        var oreturnobj = null, oreturnobjs = [];
        if (oPickerobj.multiplereturn)
        {
            oreturnobjs = $('#' + oPickerobj.tableid).datagrid('getChecked');
        } else
        {
            oreturnobj = $('#' + oPickerobj.tableid).datagrid('getSelected');
        }

        $("#" + oPickerobj.winid).icsWindow("close");
        $("#" + oPickerobj.winid).remove();
        if (oPickerobj.winclass == 'clsContractor')
        {
            _sBuyerIDs = "";
            if (oPickerobj.multiplereturn)
            {
                var ncount = 0;
                for (var i = 0; i <oreturnobjs.length; i++) {
                    var nSupplierID = oreturnobjs[i].ContractorID;
                    _sBuyerIDs = _sBuyerIDs + nSupplierID + ',';
                    ncount++;
                }
                if (ncount > 1)
                {
                    $('#txtBuyerName').val("Select " + ncount + " Buyer's");
                } else
                {
                    $('#txtBuyerName').val(oreturnobjs[0].Name);
                }
                _sBuyerIDs = _sBuyerIDs.substring(0, _sBuyerIDs.length - 1);

            } else
            {
                $('#txtBuyerName').val(oreturnobj.Name);
                _sBuyerIDs = "" + oreturnobj.ContractorID + "";
                $('#txtBuyerName').focus();
            }
            $("#txtBuyerName").addClass("fontColorOfPickItem");
        }else  if (oPickerobj.winclass == 'clsDeliveryTo')
        {
            _sDeliveryToIDs = "";
            if (oPickerobj.multiplereturn)
            {
                var ncount = 0;
                for (var i = 0; i <oreturnobjs.length; i++) {
                    var nDeliveryToID = oreturnobjs[i].ContractorID;
                    _sDeliveryToIDs = _sDeliveryToIDs + nDeliveryToID  + ',';
                    ncount++;
                }
                if (ncount > 1)
                {
                    $('#txtDeliveryToName').val("Select " + ncount + " DeliveryTo's");
                } else
                {
                    $('#txtDeliveryToName').val(oreturnobjs[0].Name);
                }
                _sDeliveryToIDs = _sDeliveryToIDs.substring(0, _sDeliveryToIDs.length - 1);

            } else
            {
                $('#txtDeliveryToName').val(oreturnobj.Name);
                _sDeliveryToIDs = "" + oreturnobj.ContractorID + "";
                $('#txtDeliveryToName').focus();
            }
            $("#txtDeliveryToName").addClass("fontColorOfPickItem");
        }
    }
    function RefreshListForSearch(oSameOrders)
    {
        data =oSameOrders;
        data={"total":""+data.length+"","rows":data};
        $('#tblProductionOrdersList').datagrid('loadData',data);

    }

    function Close()
    {
        $("#winProductionOrderAdvanceSearch").icsWindow('close');
    }

    function OkButtonClick() {
        debugger;
        var oProductionOrders=[];
        var oProductionOrders = $('#tblProductionOrdersList').datagrid('getChecked');
        if(oProductionOrders.length<=0)
        {
            alert("please select at least one item");
            return;
        }
        RefreshList(oProductionOrders);
        $("#winProductionOrderAdvanceSearch").icsWindow('close');
    }

    $('#txtByPONo').keyup(function (e) {
        if (e.keyCode == 13) {
            if($.trim($('#txtByPONo').val())===null || $.trim($('#txtByPONo').val())==="")
            {
                alert("Press enter with Production Order No!");
                return;
            }
            var nBUID = parseInt(sessionStorage.getItem('BUID'));
            if(nBUID<=0)
            {
                alert("Invalid Business Unit!");
                return;
            }
            
            var oProductionOrder = {
                PONo : $("#txtByPONo").val(),
                BUID : nBUID,
                ProductNatureInt  : _nProductNature
            };

            $.ajax({
                type: "POST",
                dataType: "json",
                url: sessionStorage.getItem('BaseAddress') + "/ProductionOrder/GetsByPONo",
                traditional: true,
                data: JSON.stringify(oProductionOrder),
                contentType: "application/json; charset=utf-8",
                success: function (data) {
                    var oProductionOrders = jQuery.parseJSON(data);
                    if (oProductionOrders != null) {
                        if (oProductionOrders.length > 0) {
                            DynamicRefreshList(oProductionOrders, "tblProductionOrders");
                        }
                        else {
                            DynamicRefreshList([], "tblProductionOrders");
                        }
                    } else {
                        DynamicRefreshList([], "tblProductionOrders");
                    }
                },
                error: function (xhr, status, error) {
                    alert(error);
                }
            });
        } 
    });


    $("#btnAdd").click(function(){
        var oProductionOrders= $('#tblProductionOrders').datagrid('getRows');
        sessionStorage.setItem("ProductionOrders", JSON.stringify(oProductionOrders));
        sessionStorage.setItem("SelectedRowIndex", -1);
        sessionStorage.setItem("ProductionOrderHeader", "Add Production Order");
        sessionStorage.setItem("BUID", _nBUID);
        sessionStorage.setItem("ProductNature", _nProductNature);
        sessionStorage.setItem("BackLink", window.location.href);
        var tsv=((new Date()).getTime())/1000;
        window.location.href = _sBaseAddress+ "/ProductionOrder/ViewProductionOrder?id=0&buid="+_nBUID;
    });

    $("#btnEdit").click(function(){
        var oProductionOrder= $('#tblProductionOrders').datagrid('getSelected');
        if(oProductionOrder==null || oProductionOrder.ProductionOrderID<=0)
        {
            alert("Please select a item from list!");
            return;
        }
        if(oProductionOrder.ProductionOrderStatus!=0)
        {
            alert("Please select Only Intialize item from list!");
            return;
        }
        var tsv=((new Date()).getTime())/1000;
        var SelectedRowIndex=$('#tblProductionOrders').datagrid('getRowIndex',oProductionOrder);
        var oProductionOrders= $('#tblProductionOrders').datagrid('getRows');
        sessionStorage.setItem("ProductionOrders", JSON.stringify(oProductionOrders));
        sessionStorage.setItem("SelectedRowIndex", SelectedRowIndex);
        sessionStorage.setItem("ProductionOrderHeader", "Edit Production Order");
        sessionStorage.setItem("BUID", _nBUID);
        sessionStorage.setItem("ProductNature", _nProductNature);
        sessionStorage.setItem("BackLink", window.location.href);
        window.location.href = _sBaseAddress+  "/ProductionOrder/ViewProductionOrder?id="+oProductionOrder.ProductionOrderID+"&buid="+_nBUID;
    });

    $("#btnView").click(function(){
        var oProductionOrder= $('#tblProductionOrders').datagrid('getSelected');
        if(oProductionOrder==null || oProductionOrder.ProductionOrderID<=0)
        {
            alert("Please select a item from list!");
            return;
        }
        var tsv=((new Date()).getTime())/1000;
        var SelectedRowIndex=$('#tblProductionOrders').datagrid('getRowIndex',oProductionOrder);
        var oProductionOrders= $('#tblProductionOrders').datagrid('getRows');
        sessionStorage.setItem("ProductionOrders", JSON.stringify(oProductionOrders));
        sessionStorage.setItem("SelectedRowIndex", SelectedRowIndex);
        sessionStorage.setItem("ProductionOrderHeader", "View Production Order");
        sessionStorage.setItem("BUID", _nBUID);
        sessionStorage.setItem("ProductNature", _nProductNature);
        sessionStorage.setItem("BackLink", window.location.href);
        window.location.href = _sBaseAddress+  "/ProductionOrder/ViewProductionOrder?id="+oProductionOrder.ProductionOrderID+"&buid="+_nBUID;
    });

    function Approve()
    {
        //debugger;
        var oProductionOrder = $('#tblProductionOrders').datagrid('getSelected');
        if(oProductionOrder==null || oProductionOrder.ProductionOrderID<=0)
        {
            alert("Please select a item from list!");
            return;
        }
        if(parseInt(oProductionOrder.ProductionOrderStatus)!=1 )
        {
            alert("Please select Only Request for Approval Item From List");
            return;
        }
        var SelectedRowIndex=$('#tblProductionOrders').datagrid('getRowIndex',oProductionOrder);
        var tsv=((new Date()).getTime())/1000;
        var oProductionOrders= $('#tblProductionOrders').datagrid('getRows');
        sessionStorage.setItem("ProductionOrders", JSON.stringify(oProductionOrders));
        sessionStorage.setItem("SelectedRowIndex", SelectedRowIndex);
        sessionStorage.setItem("ProductionOrderHeader", "Approved Production Order");
        var oBackLink = window.location.href;
        sessionStorage.setItem("BackLink", oBackLink);
        window.location.href =_sBaseAddress+ "/ProductionOrder/ViewProductionOrder?id="+oProductionOrder.ProductionOrderID+"&buid="+_nBUID;
    }

    function DirApprove()
    {
        var oProductionOrder = $('#tblProductionOrders').datagrid('getSelected');
        if(oProductionOrder==null || oProductionOrder.ProductionOrderID<=0)
        {
            alert("Please select a item from list!");
            return;
        }
        if(parseInt(oProductionOrder.ProductionOrderStatus)!=3 )
        {
            alert("Please select Only Request for Director Approval Item From List");
            return;
        }
        var SelectedRowIndex=$('#tblProductionOrders').datagrid('getRowIndex',oProductionOrder);
        var tsv=((new Date()).getTime())/1000;
        var oProductionOrders= $('#tblProductionOrders').datagrid('getRows');
        sessionStorage.setItem("ProductionOrders", JSON.stringify(oProductionOrders));
        sessionStorage.setItem("SelectedRowIndex", SelectedRowIndex);
        sessionStorage.setItem("ProductionOrderHeader", "Director Approved Production Order");
        var oBackLink = window.location.href;
        sessionStorage.setItem("BackLink", oBackLink);
        window.location.href =_sBaseAddress+ "/ProductionOrder/ViewProductionOrder?id="+oProductionOrder.ProductionOrderID+"&buid="+_nBUID;
    }

    $("#btnDelete").click(function(){
        var oProductionOrder= $('#tblProductionOrders').datagrid('getSelected');
        if(oProductionOrder==null || oProductionOrder.ProductionOrderID<=0)
        {
            alert("Invalid Field!!! please select a valid Field!");
            return false;
        }
        if(parseInt(oProductionOrder.ProductionOrderStatus)!=0)
        {
            alert("Please select Only Initialize Item");
            return false;
        }
        if (!confirm("Confirm to Delete?")) return ;
        var SelectedRowIndex=$('#tblProductionOrders').datagrid('getRowIndex',oProductionOrder);
        if (oProductionOrder.ProductionOrderID > 0)
        {
            $.ajax
            ({
                type: "GET",
                dataType: "json",
                url : _sBaseAddress+  "/ProductionOrder/Delete",
                data: { id: oProductionOrder.ProductionOrderID},
                contentType: "application/json; charset=utf-8",
                success: function (data) {
                    var feedbackmessage = jQuery.parseJSON(data);
                    if (feedbackmessage == "Data delete successfully")
                    {
                        alert("Delete sucessfully");
                        $('#tblProductionOrders').datagrid('deleteRow',SelectedRowIndex);
                        var oProductionOrders= $('#tblProductionOrders').datagrid('getRows');
                        sessionStorage.setItem("ProductionOrders", JSON.stringify(oProductionOrders));
                    }
                    else
                    {
                        alert(feedbackmessage);
                    }
                },
                error: function (xhr, status, error)
                {
                    alert(error);
                }
            });
        }
    });


    $('#btnReqForApprove').click(function(e){
        var oProductionOrder = $('#tblProductionOrders').datagrid('getSelected');
        if(oProductionOrder==null || parseInt(oProductionOrder.ProductionOrderID)<=0)
        {
            alert("Please select a item from list!");
            return;
        }
        else if  (oProductionOrder.ProductionOrderStatus==0)
        {
            var SelectedRowIndex=$('#tblProductionOrders').datagrid('getRowIndex', oProductionOrder);
            var oEmployee = { DesignationName : '9,2' };
            $.ajax({
                type: "POST",
                dataType: "json",
                url : sessionStorage.getItem('BaseAddress')+"/User/GetsRequestedUsers",
                traditional: true,
                data:  JSON.stringify(oEmployee),
                contentType: "application/json; charset=utf-8",
                success: function (data) {                    
                    var oUsers = jQuery.parseJSON(data);          
                    if(oUsers===null){ oUsers=[]; }                    
                    $("#cboApprovalRequestTo").icsLoadCombo({ List: oUsers, OptionValue: "UserID", DisplayText: "UserName" });
                    $("#winApprovalRequest").icsWindow('open', "Approval Request");
                    $("#winApprovalRequest input").not("input[type='button']").val("");
                },
                error: function (xhr, status, error) {
                    alert(error);
                }
            });
        }
        else
        {
            alert("Please select only Initialized item from list");
            return;
        }
    });

    $('#btnApprovalRequestClose').click(function(e){
        $("#winApprovalRequest").icsWindow('close');
    });

    $('#btnApprovalRequestConfirm').click(function(e){
        var oProductionOrder = $('#tblProductionOrders').datagrid('getSelected');
        if(oProductionOrder==null || parseInt(oProductionOrder.ProductionOrderID)<=0)
        {
            alert("Please select a item from list!");
            return;
        }
        if(parseInt($('#cboApprovalRequestTo').val())==0)
        {
            alert('Please Select Approval User');
            $('#cboApprovalRequestTo').focus();
            return false;
        }
        var oApprovalRequest= { 
            ApprovalRequestID :0,
            OperationObjectID : parseInt(oProductionOrder.ProductionOrderID),
            RequestTo : parseInt($('#cboApprovalRequestTo').val()),
            Note :$.trim($("#txtApprovalRequestNote").val())
          
        };

        var oTempProductionOrder = {
            ProductionOrderID : parseInt(oProductionOrder.ProductionOrderID),
            ActionTypeExtra : "RequestForApproval",
            ApprovalRequest : oApprovalRequest
        }
        var SelectedRowIndex=$('#tblProductionOrders').datagrid('getRowIndex', oProductionOrder);        
        $.ajax({
            type: "POST",
            dataType: "json",
            url : sessionStorage.getItem('BaseAddress')+"/ProductionOrder/ChangeStatus",
            traditional: true,
            data:  JSON.stringify(oTempProductionOrder),
            contentType: "application/json; charset=utf-8",
            success: function (data) {                    
                var oProductionOrder = jQuery.parseJSON(data);          
                if(oProductionOrder!=null)
                {
                    if(oProductionOrder.ErrorMessage=="" || oProductionOrder.ErrorMessage == null)
                    {
                        alert("Production Order Approval Request  Successfully.");
                        $('#tblProductionOrders').datagrid('updateRow',{index: SelectedRowIndex,	row: oProductionOrder});
                        $("#winApprovalRequest").icsWindow('close');
                    }
                    else
                    {
                        alert(oProductionOrder.ErrorMessage);
                    }
                }
                else
                {
                    alert("Invalid Operation!");
                }
            },
            error: function (xhr, status, error) {
                alert(error);
            }
        });

    });

    $('#btnReqForDirApprove').click(function(e){
        var oProductionOrder = $('#tblProductionOrders').datagrid('getSelected');
        if(oProductionOrder==null || parseInt(oProductionOrder.ProductionOrderID)<=0)
        {
            alert("Please select a item from list!");
            return;
        }

        else if (parseInt(oProductionOrder.ProductionOrderStatus)==2)
        {
           
            var SelectedRowIndex=$('#tblProductionOrders').datagrid('getRowIndex', oProductionOrder);
            var oEmployee = { DesignationName : '22' };
            $.ajax({
                type: "POST",
                dataType: "json",
                url : sessionStorage.getItem('BaseAddress')+"/User/GetsRequestedUsers",
                traditional: true,
                data:  JSON.stringify(oEmployee),
                contentType: "application/json; charset=utf-8",
                success: function (data) {                    
                    var oUsers = jQuery.parseJSON(data);          
                    if(oUsers===null){ oUsers=[]; }                    
                    $("#cboDirApprovalRequestTo").icsLoadCombo({ List: oUsers, OptionValue: "UserID", DisplayText: "UserName" });
                    $("#winDirApprovalRequest").icsWindow('open', "Dir Approval Request");
                    $("#winDirApprovalRequest input").not("input[type='button']").val("");
                },
                error: function (xhr, status, error) {
                    alert(error);
                }
            });
        }
        else
        {
            alert("Please select only Approved item from list");
            return;
        }
    });

    $('#btnDirApprovalRequestClose').click(function(e){
        $("#winDirApprovalRequest").icsWindow('close');
    });

    $('#btnDirApprovalRequestConfirm').click(function(e){
        var oProductionOrder = $('#tblProductionOrders').datagrid('getSelected');
        if(oProductionOrder==null || parseInt(oProductionOrder.ProductionOrderID)<=0)
        {
            alert("Please select a item from list!");
            return;
        }
        if(parseInt($('#cboDirApprovalRequestTo').val())==0)
        {
            alert('Please Select Approval User');
            $('#cboDirApprovalRequestTo').focus();
            return false;
        }
        var oApprovalRequest= { 
            ApprovalRequestID :0,
            OperationObjectID : parseInt(oProductionOrder.ProductionOrderID),
            RequestTo : parseInt($('#cboDirApprovalRequestTo').val()),
            Note :$.trim($("#txtDirApprovalRequestNote").val())
          
        };

        var oTempProductionOrder = {
            ProductionOrderID : parseInt(oProductionOrder.ProductionOrderID),
            ActionTypeExtra : "Req_For_DIR_App",
            ApprovalRequest : oApprovalRequest
        }
        var SelectedRowIndex=$('#tblProductionOrders').datagrid('getRowIndex', oProductionOrder);        
        $.ajax({
            type: "POST",
            dataType: "json",
            url : sessionStorage.getItem('BaseAddress')+"/ProductionOrder/ChangeStatus",
            traditional: true,
            data:  JSON.stringify(oTempProductionOrder),
            contentType: "application/json; charset=utf-8",
            success: function (data) {                    
                var oProductionOrder = jQuery.parseJSON(data);          
                if(oProductionOrder!=null)
                {
                    if(oProductionOrder.ErrorMessage=="" || oProductionOrder.ErrorMessage == null)
                    {
                        alert("Production Order Approval Request  Successfully.");
                        $('#tblProductionOrders').datagrid('updateRow',{index: SelectedRowIndex,	row: oProductionOrder});
                        $("#winApprovalRequest").icsWindow('close');
                    }
                    else
                    {
                        alert(oProductionOrder.ErrorMessage);
                    }
                }
                else
                {
                    alert("Invalid Operation!");
                }
            },
            error: function (xhr, status, error) {
                alert(error);
            }
        });

    });

    function UndoRequest()
    {
        debugger;
        var oProductionOrder = $('#tblProductionOrders').datagrid('getSelected');
        if(oProductionOrder==null || oProductionOrder.ProductionOrderID<=0)
        {
            alert("Please select a item from list!");
            return;
        }else if(parseInt(oProductionOrder.ProductionOrderStatus)!=1)
        {
            alert("Please select only Requested  item from list");
            return;
        }
        if (!confirm("Confirm to Undo Request?")) return ;
        oProductionOrder.ActionTypeExtra="UndoRequest";
        StatusChange(oProductionOrder,"Undo Request");
    }

    function UndoApprove()
    {
        //debugger;
        var oProductionOrder = $('#tblProductionOrders').datagrid('getSelected');
        if(oProductionOrder==null || oProductionOrder.ProductionOrderID<=0)
        {
            alert("Please select a item from list!");
            return;
        }

        else if(oProductionOrder.ProductionOrderStatus==2)
        {
            if (!confirm("Confirm to Undo Approved?")) return ;
            oProductionOrder.ActionTypeExtra="UndoApprove";
            StatusChange(oProductionOrder,"UndoApprove");
        }
        else
        {
            alert("Please select only Approved from list");
            return;
        }
    }

        //RequestforRevise
    function RequestforRevise()
    {
        //debugger;
        var oProductionOrder = $('#tblProductionOrders').datagrid('getSelected');
        if(oProductionOrder==null || oProductionOrder.ProductionOrderID<=0)
        {
            alert("Please select a item from list!");
            return;
        }
        else if(parseInt(oProductionOrder.ProductionOrderStatus)>=2 && parseInt(oProductionOrder.ProductionOrderStatus)<6)
        {
            if (!confirm("Confirm to Request for Revise?")) return ;
            oProductionOrder.ActionTypeExtra="Request_For_Revise";
            StatusChange(oProductionOrder,"Request_For_Revise");
        }
        else
        {
            alert("Please select only Approved from list");
            return;
        }
    }

    function AcceptRevise()
    {
        var oProductionOrder = $('#tblProductionOrders').datagrid('getSelected');
        if(oProductionOrder==null || oProductionOrder.ProductionOrderID<=0)
        {
            alert("Please select a item from list!");
            return;
        }
        if(parseInt(oProductionOrder.ProductionOrderStatus)!=8 )
        {
            alert("Please select Only  Request for Revise Item From List");
            return;
        }
        var SelectedRowIndex=$('#tblProductionOrders').datagrid('getRowIndex',oProductionOrder);
        var tsv=((new Date()).getTime())/1000;
        var oProductionOrders= $('#tblProductionOrders').datagrid('getRows');
        sessionStorage.setItem("ProductionOrders", JSON.stringify(oProductionOrders));
        sessionStorage.setItem("SelectedRowIndex", SelectedRowIndex);
        sessionStorage.setItem("ProductionOrderHeader", "Revise Production Order");
        var oBackLink = window.location.href;
        sessionStorage.setItem("BackLink", oBackLink);
        window.location.href =_sBaseAddress+ "/ProductionOrder/ViewProductionOrderRevise?id="+oProductionOrder.ProductionOrderID+"&buid="+_nBUID;
    }
    
    function UndoDirApprove()
    {
        //debugger;
        var oProductionOrder = $('#tblProductionOrders').datagrid('getSelected');
        if(oProductionOrder==null || oProductionOrder.ProductionOrderID<=0)
        {
            alert("Please select a item from list!");
            return;
        }

        else if(oProductionOrder.ProductionOrderStatus==4)
        {
            if (!confirm("Confirm to Undo Approved?")) return ;
            oProductionOrder.ActionTypeExtra="Unod_DIR_App";
            StatusChange(oProductionOrder,"Unod_DIR_App");
        }
        else
        {
            alert("Please select only Director Approved from list");
            return;
        }
    }
    function SendToProduction()
    {
        var oProductionOrder = $('#tblProductionOrders').datagrid('getSelected');
        if(oProductionOrder==null || oProductionOrder.ProductionOrderID<=0)
        {
            alert("Please select a item from list!");
            return;
        }

        else if(oProductionOrder.ProductionOrderStatus==4)
        {
            if (!confirm("Confirm to Send To Production?")) return ;
            oProductionOrder.ActionTypeExtra="InProduction";
            StatusChange(oProductionOrder,"InProduction");
        }
        else
        {
            alert("Please select only Director Approved from list");
            return;
        }
    }

    function ProductionProcess()
    {
        var oProductionOrder = $('#tblProductionOrders').datagrid('getSelected');
        if(oProductionOrder==null || oProductionOrder.ProductionOrderID<=0)
        {
            alert("Please select a item from list!");
            return;
        }

        else if(oProductionOrder.ProductionOrderStatus==5)
        {
            if (!confirm("Production Will be started?")) return ;
            oProductionOrder.ActionTypeExtra="Production_Process";
            StatusChange(oProductionOrder,"Production_Process");
        }
        else
        {
            alert("Please select only In Production Item from list");
            return;
        }
    }
    function ProductionDone()
    {
        var oProductionOrder = $('#tblProductionOrders').datagrid('getSelected');
        if(oProductionOrder==null || oProductionOrder.ProductionOrderID<=0)
        {
            alert("Please select a item from list!");
            return;
        }

        else if(oProductionOrder.ProductionOrderStatus==6)
        {
            if (!confirm("Are You Sure  Production Is Done?")) return ;
            oProductionOrder.ActionTypeExtra="Production_Done";
            StatusChange(oProductionOrder,"Production_Done");
        }
        else
        {
            alert("Please select only Production Process Item from list");
            return;
        }
    }

    function StatusChange(oProductionOrder,sParamIdentifier)
    {
        var SelectedRowIndex=$('#tblProductionOrders').datagrid('getRowIndex',oProductionOrder);
        $.ajax({
            type: "POST",
            dataType: "json",
            url : _sBaseAddress+"/ProductionOrder/ChangeStatus",
            traditional: true,
            data:  JSON.stringify(oProductionOrder),
            contentType: "application/json; charset=utf-8",
            success: function (data) {
                debugger;
                var _oProductionOrder= jQuery.parseJSON(data);
                if (_oProductionOrder.ErrorMessage=="" || _oProductionOrder.ErrorMessage== null)
                {
                    if(sParamIdentifier=="Undo Request")
                    {
                        alert("Successfully Undo the Request !!");
                    }
                    else  if(sParamIdentifier=="UndoApprove")
                    {
                        alert("Successfully Undo Approved.");
                    }
                    else  if(sParamIdentifier=="Unod_DIR_App")
                    {
                        alert("Successfully Undo Director  Approved.");
                    }else if(sParamIdentifier=="InProduction")
                    {
                        alert("Successfully Send to Production.");
                    }else if(sParamIdentifier=="Production_Process")
                    {
                        alert("Successfully  Production Started");
                    }else if(sParamIdentifier=="Production_Done")
                    {
                        alert("Successfully  Production Done.");
                    }
                    else if(sParamIdentifier=="Request_For_Revise")
                    {
                        alert("Successfully  Request for Revise.");
                    }
                    $('#tblProductionOrders').datagrid('updateRow',{index: SelectedRowIndex,	row: _oProductionOrder});
                }
                else
                {
                    alert(_oProductionOrder.ErrorMessage);
                }
            },
            error: function (xhr, status, error)
            {
                alert(error);
            }
        });


    }

    function WaitForApproval()
    {
        $.ajax
        ({
            type: "GET",
            dataType: "json",
            url : _sBaseAddress+  "/ProductionOrder/WaitingSearch",
            data: { nStatusExtra:1, OrderType:_nOrderType },
            contentType: "application/json; charset=utf-8",
            success: function (data) {
                //debugger;
                var _oProductionOrders = jQuery.parseJSON(data);
                if (_oProductionOrders.length>0)
                {

                    var  data=_oProductionOrders;
                    data={"total":""+data.length+"","rows":data};
                    $('#tblProductionOrders').datagrid('loadData',data);

                }
                else
                {
                    alert("Data Not found");
                }
            },
            error: function (xhr, status, error)
            {
                alert(error);
            }
        });
    }


    $('#btnPrintList').click(function(){
        var oProductionOrders=$('#tblProductionOrders').datagrid('getRows');
        if(oProductionOrders.length<=0)
        {
            alert("Sorry, there is no data to Print");
        }
        var ids = ICS_PropertyConcatation(oProductionOrders, 'ProductionOrderID');
        var tsv=((new Date()).getTime())/1000;
        window.open(_sBaseAddress+ "/ProductionOrder/ProductionOrderPrintList?sIDs="+ids+"&ts="+tsv);
    });

    $('#btnPreview').click(function(){
        var oProductionOrder=$('#tblProductionOrders').datagrid('getSelected');
        if(oProductionOrder==null || parseInt(oProductionOrder.ProductionOrderID)<=0)
        {
            alert("Please select Production Order ");
            return;
        }
        window.open(_sBaseAddress+ "/ProductionOrder/ProductionOrderPrintPreview?id="+oProductionOrder.ProductionOrderID);
    });

    function Attchment() 
    {
        var oProductionOrder = $('#tblProductionOrders').datagrid('getSelected');
        if(oProductionOrder==null || parseInt(oProductionOrder.ProductionOrderID)<=0)
        {
            alert("Please select a item from list!");
            return;
        }
        //EnumAttchRefType : 1 Production Order;2 Delivery Order;3 Delivery Challan        
        window.open(_sBaseAddress + '/AttachDocument/Attachment?id='+oProductionOrder.ProductionOrderID+'&RefType=1&OperationInfo= Attachment of Production Order No : '+oProductionOrder.PONo, '_blank');
    }


    $('#btnPrintSizer').click(function(){
        var oProductionOrder=$('#tblProductionOrders').datagrid('getSelected');
        if(oProductionOrder==null || parseInt(oProductionOrder.ProductionOrderID)<=0)
        {
            alert("Please select Production Order ");
            return;
        }
        window.open(_sBaseAddress+ "/ProductionOrder/POSizerPrint?id="+oProductionOrder.ProductionOrderID);
    });
    function RefreshList(oProductionOrders)
    {
        debugger;
        var data=oProductionOrders;
        data={"total":""+data.length+"","rows":data};
        $('#tblProductionOrders').datagrid('loadData',data);
        var nIndex= parseInt(sessionStorage.getItem("SelectedRowIndex"));
        $('#tblProductionOrders').datagrid('selectRow',nIndex);
    }


    function RefreshControlLayout()
    {
        $('#btnAdd,#btnEdit,#btnDelete,#btnView,#btnReqForApprove,#btnUndoReq,#btnWaitforApproval,#btnApprove,#btnUndoApprove,#btnReqForDirApprove,#btnDirApprove,#btnUndoDirApprove,#btnSendToProduction,#btnProductionProcess,#btnProductionDone,#btnPreview,#btnPrintList').hide();

        if(HavePermission('Add','ProductionOrder')){$('#btnAdd').show();}
        if(HavePermission('Edit','ProductionOrder')){$('#btnEdit').show(); }
        if(HavePermission('Delete','ProductionOrder')){ $('#btnDelete').show(); }
        if(HavePermission('View','ProductionOrder')){  $('#btnView').show();}
        if(HavePermission('Add','ProductionOrder')){ $('#btnReqForApprove,#btnReqForDirApprove').show();  }
        if(HavePermission('UndoRequest','ProductionOrder')){$('#btnUndoReq').show();  }
        if(HavePermission('WaitforApproval','ProductionOrder')){$('#btnWaitforApproval').show();  }
        if(HavePermission('Approved','ProductionOrder')){$('#btnApprove,#btnUndoApprove').show();  }
        if(HavePermission('DirectorApprove','ProductionOrder')){$('#btnDirApprove,#btnUndoDirApprove').show();  }
        if(HavePermission('SentToProduction','ProductionOrder')){$('#btnSendToProduction').show();  }
        if(HavePermission('ProductionProcess','ProductionOrder')){$('#btnProductionProcess').show();  }
        if(HavePermission('ProductionDone','ProductionOrder')){$('#btnProductionDone').show();  }
      //  if(HavePermission('Attachment','ProductionOrder')){$('#btnAttachment').show();  }
        if(HavePermission('Preview','ProductionOrder')){$('#btnPreview').show();  }
        if(HavePermission('PrintList','ProductionOrder')){$('#btnPrintList').show();  }        
        //btnReqForDirApprove,btnDirApprove,btnUndoDirApprove,btnSendToProduction,btnProductionProcess

    }

    function HavePermission(sOperationType, sModuleName)
    {
        var nSessionID =@Html.Raw( new System.Web.Script.Serialization.JavaScriptSerializer().Serialize(HttpContext.Current.Session[SessionInfo.currentUserID]));
        if(nSessionID == -9) //check SuperUser
        {
            return true;
        }else
        {

            for(var i =0;i<_oAuthorizationRolesMapping.length;i++)
            {
                if(_oAuthorizationRolesMapping[i].OperationTypeST == sOperationType && _oAuthorizationRolesMapping[i].ModuleNameST == sModuleName)
                    return  true;
            }
            return false;
        }
    }


    </script>
