<html>
<head>
    <link href="@Url.Content("~/Content/CSS/icon.css")" rel="stylesheet" type="text/css" />
    <link href="@Url.Content("~/Content/CSS/easyui.css")" rel="stylesheet" type="text/css" />
    <link href="@Url.Content("~/Content/CSS/Pikerstyle.css")" rel="stylesheet" type="text/css" />
    <script src="@Url.Content("~/Scripts/jquery-1.7.1.min.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Scripts/jquery.ics.customize.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Scripts/jquery.easyui.min.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Scripts/jquery-ui.min.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Scripts/json2.js")" type="text/javascript"></script>
</head>
<body>
    @model ESimSol.BusinessObjects.Currency
<div style="font-family: Tahoma">
    <table border="0" cellspacing="2" cellpadding="2">
        <tr>
            <td style="background-color: #CFB53B; text-align: center; width: 500px; color: White">
                <label id="lblHeaderName" style="font-size: 13px; font-weight: bold; text-decoration: Underline">
                    Add Currency</label>
            </td>
        </tr>
    </table>
    <fieldset>
        <legend style="font-weight: bold">Currency Informations : </legend>
        <table border="0" cellspacing="2" cellpadding="2" style="font-size: 11px; font-weight: bold">
            <tr>
                <td style="width: 150px; text-align: right">
                    Currency Name :
                </td>
                <td style="width: 350px">
                    <div class="editor-field">
                        @Html.TextBoxFor(model => model.CurrencyName, new { style = "width: 350px;", id = "txtCurrencyName" })
                    </div>
                </td>
            </tr>
            <tr>
                <td style="width: 150px; text-align: right">
                    Issue Figure :
                </td>
                <td>
                    <div class="editor-field">
                        @Html.TextBoxFor(model => model.IssueFigure, new { style = "width: 350px;", id = "txtIssueFigure" })
                    </div>
                </td>
            </tr>
            <tr>
                <td style="width: 150px; text-align: right">
                    Currency Symbol :
                </td>
                <td style="width: 350px">
                    <div class="editor-field">
                        @Html.TextBoxFor(model => model.Symbol, new { style = "width: 350px;", id = "txtSymbol" })
                    </div>
                </td>
            </tr>
            <tr>
                <td style="width: 150px; text-align: right">
                    Smaller Unit :
                </td>
                <td style="width: 350px">
                    <div class="editor-field">
                        @Html.TextBoxFor(model => model.SmallerUnit, new { style = "width: 350px;", id = "txtSmallerUnit" })
                    </div>
                </td>
            </tr>
            <tr>
                <td style="width: 150px; text-align: right">
                    SmUnit Value :
                </td>
                <td style="width: 350px">
                    <div class="editor-field">
                        @Html.TextBoxFor(model => model.SmUnitValue, new { style = "width: 350px; text-align:right", id = "txtSmUnitValue" })
                    </div>
                </td>
            </tr>
            <tr>
                <td style="width: 150px; text-align: right">
                    Note :
                </td>
                <td style="width: 350px">
                    <div class="editor-field">
                        @Html.TextBoxFor(model => model.Note, new { style = "width: 350px;", id = "txtNote" })
                    </div>
                </td>
            </tr>
        </table>
    </fieldset>
    <fieldset>
        <legend style="font-weight: bold">Action : </legend>
        <table border="0" cellspacing="2" cellpadding="2" style="font-size: 11px; font-weight: bold">
            <tr>
                <td style="width: 400px; text-align: right">
                </td>
                <td style="width: 50px">
                    <a id="btnSave" href="javascript:void(0)" class="easyui-linkbutton" iconcls="icon-save"
                        plain="true" onclick="Save()">Save</a>
                </td>
                <td style="width: 50px">
                    <a href="javascript:void(0)" class="easyui-linkbutton" iconcls="icon-cancel" plain="true"
                        onclick="Close()">Close</a>
                </td>
            </tr>
        </table>
    </fieldset>
    </div>
</body>
</html>
<script type="text/javascript"> 
 var _oCurrency=null;
 var _sBaseAddress="";
 $(document).ready(function () {
    //debugger;     
        _sBaseAddress =@Html.Raw(new System.Web.Script.Serialization.JavaScriptSerializer().Serialize(HttpContext.Current.Session[SessionInfo.BaseAddress]));                  
     //var obj = window.dialogArguments;
     var obj = JSON.parse(sessionStorage.getItem("SelectedParam"));
        document.getElementById('lblHeaderName').innerHTML=obj.Name;
        if(obj.Name=="View Currency")
        {
            document.getElementById('btnSave').style.display = 'none';
        }   
        _oCurrency =@Html.Raw(new System.Web.Script.Serialization.JavaScriptSerializer().Serialize(Model));  
        
        $('#txtSmUnitValue').numberbox({min:0, precision:2 });//number box                 
 }); 


  function ValidateInput()
    {
        if(document.getElementById("txtCurrencyName").value==null || document.getElementById("txtCurrencyName").value=="")
        {        
            alert("Please enter Currency name!");
            $('#txtCurrencyName').focus();
            return false;
        }
        
        if(document.getElementById("txtIssueFigure").value==null || document.getElementById("txtIssueFigure").value=="")
        {        
            alert("Please enter Currency Issue Figure!");
            $('#txtIssueFigure').focus();
            return false;
        }
        if(document.getElementById("txtSymbol").value==null || document.getElementById("txtSymbol").value=="")
        {        
            alert("Please enter Currency Symbol!");
            $('#txtSymbol').focus();
            return false;
        }
         if(document.getElementById("txtSmallerUnit").value==null || document.getElementById("txtSmallerUnit").value=="")
        {        
            alert("Please enter Currency Smaller Unit!");
            $('#txtSmallerUnit').focus();
            return false;
        }
       //var nSmallUnitValue = $("#txtSmUnitValue").val(); 
       // if(nSmallUnitValue <=0 )  
       // {
       //     alert("Please enter currency smmaler unit value!");
       //     $('#txtSmUnitValue').focus();
       //     return false;
       // }
        return true;
    }


    function RefreshObject()
    {       
        
        var oCurrency= { 
        
                        CurrencyID : _oCurrency.CurrencyID,
                        CurrencyName : $("#txtCurrencyName").val(),
                        IssueFigure : $("#txtIssueFigure").val(),
                        Symbol : $("#txtSymbol").val(),
                        SmallerUnit : $("#txtSmallerUnit").val(),
                        SmUnitValue : $("#txtSmUnitValue").val(),
                        Note : $("#txtNote").val()                                
                    };
        return oCurrency;
    } 

    function Save()
    {
       debugger;
        if(!ValidateInput()) return;
        var oCurrency=RefreshObject();
        
        $.ajax({
            type: "POST",
            dataType: "json",            
            url : _sBaseAddress+  "/Currency/Save",
            traditional: true,
            data:  JSON.stringify(oCurrency),
            contentType: "application/json; charset=utf-8",
            success: function (data) {
                debugger;
                oCurrency = jQuery.parseJSON(data);
                if (oCurrency.CurrencyID>0) {                    
                    alert("Data Saved sucessfully");
                    //window.returnValue = oCurrency;
                    window.opener.WinReturnCurrency(oCurrency);
                    window.close();
                }
                else {
                    alert(oCurrency.ErrorMessage);
                }
            },
            error: function (xhr, status, error) {
                alert(error);
            }

        });
    }
      

    function Close()
    {
        window.close();
    }
</script>
