@model IEnumerable<ESimSol.BusinessObjects.Circular>
    <!DOCTYPE HTML>
    <html>
    <head>
        <title>@ViewBag.Title</title>
        <link href="@Url.Content("~/Content/CSS/notification.css")" rel="stylesheet" type="text/css" />
        <link href="@Url.Content("~/Content/Site.css")" rel="stylesheet" type="text/css" />
        <script src="@Url.Content("~/Scripts/jquery-1.7.1.min.js")" type="text/javascript"></script>
        <link href="@Url.Content("~/Content/CSS/icon.css")" rel="stylesheet" type="text/css" />
        <link href="@Url.Content("~/Content/CSS/easyui.css")" rel="stylesheet" type="text/css" />
        <script src="@Url.Content("~/Scripts/jquery.ics.customize.js")" type="text/javascript"></script>
        <script src="@Url.Content("~/Scripts/jquery.easyui.min.js")" type="text/javascript"></script>
        <script src="@Url.Content("~/Scripts/json2.js")" type="text/javascript"></script>
    </head>
    <body>
        <table border="0" cellspacing="2" cellpadding="2" style="width:100%;" align="center">
            <tr>
                <td style="background-color:#CFB53B; text-align:center; width:100%; color:White">
                    <label id="lblHeaderName" style="font-size:25px; font-weight:bold; ">Circular List</label>
                </td>
            </tr>
        </table>
        <!--apply start-->
        <div id="winApplyOnline" class="easyui-window" title="Online Application Form" data-options="modal:true,closed:true,collapsible:false,minimizable:false,maximizable:false,closable:false" style="width:35%;height:auto;padding:1px">
            <div style="margin-left:0px; height:auto; width:100%; text-align:center;">
                <div style="height:25px; width:100%; background-color:#D8D8D8;text-align:center; vertical-align:middle; font-size:13px; ">
                    <strong>Online Application Form</strong>
                </div>
                <div style="float:left; width:100%; height:auto;  padding-top:10px;">
                   
                    <div style="float:left; width:100%;padding-bottom:5px; ">
                        <div style=" float:left; width:30%;text-align:right;"> <span style="padding-right:5px;"> Department : </span> </div>
                        <div style="float:left; width:70%; text-align:left;"> <label id="lblDepartment" style="width:80%" /> </div>
                    </div>
                    <div style="float:left; width:100%; padding-bottom:5px; ">
                        <div style=" float:left; width:30%;text-align:right;"> <span style="padding-right:5px;">Designation : </span> </div>
                        <div style="float:left; width:70%; text-align:left;"> <label id="lblDesignation" style="width:80%" /></div>
                    </div>
                    <div style="float:left; width:100%; padding-bottom:5px; ">
                        <div style=" float:left; width:30%;text-align:right;"> <span style="padding-right:5px;"> No Of Position : </span> </div>
                        <div style="float:left; width:70%; text-align:left;"> <label id="lblNoOfPosition" style="width:80%" /> </div>
                    </div>
                    <div style="float:left; width:100%; padding-bottom:5px; ">
                        <div style=" float:left; width:30%;text-align:right;"> <span style="padding-right:5px;"> Expected Salary : </span> </div>
                        <div style="float:left; width:70%; text-align:left;"> <input type="text" id="txtExpectedSalary" style="width:80%" /> </div>
                    </div>
                    <div style="float:left; width:100%; padding-bottom:5px; ">
                        <div style=" float:left; width:30%;text-align:right;"> <span style="padding-right:5px;"> Username : </span> </div>
                        <div style="float:left; width:70%; text-align:left;"> <input type="text" id="txtUsernameForApply" style="width:80%" /> </div>
                    </div>
                    <div style="float:left; width:100%; padding-bottom:5px; ">
                        <div style=" float:left; width:30%;text-align:right;"> <span style="padding-right:5px;"> Password : </span> </div>
                        <div style="float:left; width:70%; text-align:left;"> <input type="password" id="txtPasswordForApply" style="width:80%" /> </div>
                    </div>
                </div>
                <div style="float:left; width:100%; height:auto; text-align:right;  padding-top:5px; padding-bottom:10px;">
                    <div style="float:right; padding-right:58px; text-align:right;">
                        <a id="btnApplyOnline" href="javascript:void(0)" class="easyui-linkbutton" iconcls="icon-ok" plain="true">Apply Online</a>
                        <a id="btnClose" href="javascript:void(0)" class="easyui-linkbutton" iconcls="icon-cancel" plain="true">Close</a>
                    </div>

                </div>
            </div>
        </div>
        <!--apply end-->
        <div style=" height: 630px" align="center">
            <table id="tblCircular" class="easyui-datagrid" style="width: 1030px;
        height: 630px;" fitcolumns="false" rownumbers="true" pagination="false" singleselect="true"
                   autorowheight="false" toolbar="#toolbar" data-options="singleSelect: false, fitColumns:false,  rownumbers:true,pagination:false,autoRowHeight:false">
                <thead>
                    <tr>
                        <th field="DepartmentName" width="200" align="left">
                            Department Name
                        </th>
                        <th field="DesignationName" width="200" align="left">
                            Designation Name
                        </th>
                        <th field="NoOfPosition" width="195" align="left">
                            No Of Position
                        </th>
                        <th field="StartDateInString" width="200" align="left">
                            Start Date
                        </th>
                        <th field="EndDateInString" width="200" align="left">
                            End Date
                        </th>
                      
                    </tr>
                </thead>
            </table>

            <div id="toolbar" style=" height:25px;">
                <div style="float:left;">
                    <a id="btnApply" href="javascript:void(0)" class="easyui-linkbutton" iconcls="icon-ok" plain="true" style="text-align:left">Apply Online</a>
                    <label id="lblMsg"></label>
                 </div>
                <div style="float:right">
                    @using (Html.BeginForm("LogIn", "Career", FormMethod.Post, new { enctype = "multipart/form-data" }))
                    {
                        <input name="txtUsername" type="text" style="width:150px;" placeholder="Username" />
                        <input name="txtPassword" type="password" style="width:150px; " placeholder="Password" />
                        <input id="btnSubmit" type="submit" value="Sign In" style="width:75px;background-color:gray;color:white; font-weight:bold" />
                        @*<a type="submit" id="btnSignIn" href="javascript:void(0)" class="easyui-linkbutton" iconcls="icon-ok" plain="true">Sign In</a>*@
                        <input id="btnSignUp" type="button" value="Sign Up" style="width:75px;background-color:gray;color:white; font-weight:bold" />
                    }
                    @*<a id="btnSignUp" href="javascript:void(0)" class="easyui-linkbutton" iconcls="icon-ok" plain="true">Sign Up</a>*@
                </div>
            </div>
        </div>
    </body>
</html>
<script type="text/javascript">
    var _oCirculars=[];
    var _sBaseAddress="";
    var _nCircularID = 0;

    $(document).ready(function ()
    {
        //_sBaseAddress =@Html.Raw(new System.Web.Script.Serialization.JavaScriptSerializer().Serialize(HttpContext.Current.Session[SessionInfo.BaseAddress]));
        _oCirculars =@Html.Raw(new System.Web.Script.Serialization.JavaScriptSerializer().Serialize(Model));
        var sMsg =@Html.Raw(new System.Web.Script.Serialization.JavaScriptSerializer().Serialize(@TempData["sMsg"]));
        RefresList(_oCirculars);
        if(_oCirculars.length<=0)
        {
            document.getElementById("btnApply").style.display ='none';
            var slabel = document.getElementById("lblMsg");
            slabel.style.color = 'red';
            slabel.style.fontSize = '20px';
            slabel.style.fontWeight = 'bold';
            slabel.innerHTML ='There is no vacancy!!';
            
        }
        if(sMsg !="" && sMsg != null)
        {
            alert(sMsg);
        }
        //alert(_oCirculars[0].DepartmentName);
    });

    function RefresList(data)
    {
        data={"total":""+data.length+"","rows":data};
        $('#tblCircular').datagrid('loadData',data);
    }

    $('#btnSignUp').click(function (e) {

        window.location.href = '@Url.Action("View_Candidate", "Career", new { nCID = 0 })';
    });
    @*$('#btnSignIn').click(function (e) {

        window.location.href = '@Url.Action("Login", "User", new {sMessage = "" })';
    });*@
    function onClickRow(index)
    {

        $('#tblCircular').datagrid('selectRow', index);
        var oCircular = $('#tblCircular').datagrid('getSelected');
        window.open("/Career/View_CircularDetail?nCircularID="+oCircular.CircularID, "_blank");

    }

    @*function SignIn()
{
    debugger;
    var oCandidateUser ={
        UserName : $('#txtUsername').val(),
        Password : $('#txtPassword').val()
    };
    var sUsername = document.getElementById("txtUsername").value;
    var sPassword = document.getElementById("txtPassword").value;
    var tsv=(new Date()).getTime()/1000;

    $.ajax
    ({
        //type: "POST",
        //dataType: "json",
        //url: '/Career/LogIn',
        //traditional: true,
        //data:  JSON.stringify(oCandidateUser),
        ////data: "oCandidateUser="+oCandidateUser,
        //contentType: "application/json; charset=utf-8",
        url: '@Url.Action("LogIn", "Career")',
        type: "POST",
        //async: true,
        //dataType: "html",
        data:  JSON.stringify(oCandidateUser),
        //data: { oCandidateUser: oCandidateUser},
        //data: "oCandidateUser="+oCandidateUser,

        success: function (data) {
            var sMessage = jQuery.parseJSON(data);
            if (sMessage!="")
            {
                alert(sMessage);
            }
        },
        error: function (xhr, status, error)
        {
            alert(error);
        }

    });
}*@
    $('#btnApply').click(function (e) {

        
        var oCircular = $('#tblCircular').datagrid('getSelected');
        if (oCircular != null) { SetCircularInformation(oCircular); }
        else { alert("Please select an item from list."); return; }
        _nCircularID = oCircular.CircularID;
        $('#winApplyOnline').window('open');
    });

    $('#btnClose').click(function (e) {
        ResetCircularInformation();
        $('#winApplyOnline').window('close');
    });

    function ResetCircularInformation()
    {
        document.getElementById('lblDepartment').innerHTML = "";
        document.getElementById('lblDesignation').innerHTML = "";
        document.getElementById('lblNoOfPosition').innerHTML = "";
        $('#txtExpectedSalary').val('');
        $('#txtUsernameForApply').val('');
        $('#txtPasswordForApply').val('');
    }

    function SetCircularInformation(oCircular)
    {
        document.getElementById('lblDepartment').innerHTML = oCircular.DepartmentName;
        document.getElementById('lblDesignation').innerHTML = oCircular.DesignationName;
        document.getElementById('lblNoOfPosition').innerHTML = oCircular.NoOfPosition;
       
    }
    
    $('#btnApplyOnline').click(function (e)
    {
        debugger
        var nExpextedSalary = $('#txtExpectedSalary').val();
        var sUsernmae =$.trim( $('#txtUsernameForApply').val());
        var sPassword = $.trim($('#txtPasswordForApply').val());

        if(sUsernmae =="" )
        {
            alert("Please enter username!");
            return;
        }
        if(sPassword =="" )
        {
            alert("Please enter password!");
            return;
        }
       
        $.ajax({
            type: "POST",
            dataType: "json",
            url: "/Career/OnlineApplication",
            traditional: true,
            data: JSON.stringify({nCircularID : _nCircularID,nExpextedSalary : nExpextedSalary,sUsernmae : sUsernmae,sPassword : sPassword}),
            //data: JSON.stringify(_nCircularID,nExpextedSalary ,sUsernmae ,sPassword),
            contentType: "application/json; charset=utf-8",

            success: function(data)
            {
                var sMsg="";

                sMsg = jQuery.parseJSON(data);

                if (sMsg!="")
                {
                    alert(sMsg);
                    if(sMsg == "Applied successfully !")
                    {
                        ResetCircularInformation();
                        $('#winApplyOnline').window('close');
                    }
                }
                else
                {
                    alert("Apply is not possible. Please trty again !"); 
                }
            },
            error: function(xhr, status, error)
            {
                alert(error);
            }
        });

    });

</script>
