@{
    ViewBag.Title = "Fabric Pattern";
}

@model IEnumerable<ESimSol.BusinessObjects.Fabric>
<html>
    <head>
        <title></title>
        <script src="@Url.Content("~/Views/Fabric/AdvSearch.js")" type="text/javascript"></script>
        <script src="@Url.Content("~/Views/Fabric/Fabrics.js")" type="text/javascript"></script>
        <script src="@Url.Content("~/Views/Fabric/Fabric.js")" type="text/javascript"></script>
        <script src="@Url.Content("~/Views/Fabric/FabricForPattern.js")" type="text/javascript"></script>
        <script src="@Url.Content("~/Views/Fabric/LabdipRequest.js")" type="text/javascript"></script>
    </head>
    <body>
        <div id="progressbarParent" style="width:100%;height:100%;margin:0 auto;text-align:center; margin-left: auto;margin-right: auto;left: 0;right: 0;z-index: 1;">
            <div style="margin: 0px auto;margin-top: 251px;text-align:center;width:390px;">
                <label style="font-size:18px;">Please wait</label>
                <div id="progressbar" style="width:100%;height:37px;"></div>
            </div>
        </div>

        <div id="winFabric" style="width:900px;" class="easyui-window winstyle" title="Fabric" data-options="modal:true,closed:true,collapsible:false,minimizable:false,maximizable:false,closable:false">
            <fieldset>
                <table class="tbl">
                    <tr style="vertical-align:top">
                        <td style="width:50%">
                            <table cellspacing="1" cellpadding="1" border="0" class="tbl">
                                <tr>
                                    <td class="tdLabel">
                                        <label>P Number :</label>
                                    </td>
                                    <td class="tdInput">
                                        <div style="float:left">
                                            <div style="float:left; width:6%">
                                                <input id="txtP" placeholder="P" type="text" />
                                            </div>
                                            <div style="float:left; width:29%">
                                                <input id="txtFabricNoFabric" placeholder="YY MM XXXXX" type="text" />
                                            </div>
                                            <div style="float:left; width:25%" class="text-right">
                                                <label>Issue Date :</label>
                                            </div>
                                            <div style="float:left; width:35%">
                                                <input id="txtDateFabric" type="text" style="width: 100%;" class="easyui-datebox" required="required" data-options="formatter:icsdateformat,parser:icsdateparser" />
                                            </div>
                                        </div>

                                    </td>
                                </tr>
                                <tr class="oneTextTwoButton">
                                    <td class="tdLabel">
                                        <label class="lblStar">*</label>
                                        <label>Mkt. Person :</label>
                                    </td>
                                    <td class="tdInput">
                                        <select id="cboMktPersonsFabric"></select>
                                    </td>
                                </tr>
                                <tr class="oneTextTwoButton">
                                    <td class="tdLabel">
                                        <label class="lblStar">*</label>
                                        <label>Buyer :</label>
                                    </td>
                                    <td class="tdInput">
                                        <input id="txtContractorName" class="reset-text" style="width:76%;" placeholder="Type & Press Enter" />
                                        <a id="btnContractor" href="javascript:void(0)" class="easyui-linkbutton ics-pick" iconcls="icon-pick" plain="true"></a>
                                        <a id="btnResetContractor" href="javascript:void(0)" class="easyui-linkbutton ics-pick" iconcls="icon-clear" plain="true"></a>
                                    </td>
                                </tr>
                                <tr>
                                    <td class="tdLabel">
                                        <label>Buyer Ref :</label>
                                    </td>
                                    <td class="tdInput">
                                        <input id="txtBuyerReferenceFabric" type="text" />
                                    </td>
                                </tr>
                                <tr class="oneTextTwoButton">
                                    <td class="tdLabel">
                                        <label class="lblStar">*</label>
                                        <label>Composition :</label>
                                    </td>
                                    <td class="tdInput">
                                        <select id="cboProductFabric"></select>
                                    </td>
                                </tr>
                                <tr>
                                    <td class="tdLabel">
                                        <label>Construction :</label>
                                    </td>
                                    <td class="tdInput">
                                        <input id="txtConstructionFabric" type="text" />
                                    </td>
                                </tr>
                                <tr>
                                    <td class="tdLabel">
                                        <label>Construction(PI):</label>
                                    </td>
                                    <td class="tdInput">
                                        <input id="txtConstructionFabricPI" type="text" />
                                    </td>
                                </tr>
                                <tr>
                                    <td class="tdLabel">
                                        <label>Width :</label>
                                    </td>
                                    <td class="tdInput">
                                        <input id="txtFabricWidthFabric" type="text" />
                                    </td>
                                </tr>
                                <tr>
                                    <td class="tdLabel">
                                        <label>Process Type :</label>
                                    </td>
                                    <td class="tdInput">
                                        <select id="cboProcessTypeFabric"></select>
                                    </td>
                                </tr>
                                <tr>
                                    <td class="tdLabel">
                                        <label>Fabric Design :</label>
                                    </td>
                                    <td class="tdInput">
                                        <select id="cboFabricDesign"></select>
                                    </td>
                                </tr>
                                <tr>
                                    <td class="tdLabel">
                                        <label>Weave:</label>
                                    </td>
                                    <td class="tdInput">
                                        <select id="cboWeaveFabric"></select>
                                    </td>
                                </tr>
                                <tr>
                                    <td class="tdLabel">
                                        <label>Finish Type :</label>
                                    </td>
                                    <td class="tdInput">
                                        <select id="cboFinishTypeFabric"></select>
                                    </td>
                                </tr>

                                <tr>
                                    <td class="tdLabel">
                                        <label>Style No :</label>
                                    </td>
                                    <td class="tdInputC">
                                        <input id="txtStyleNoFabric" type="text" />
                                    </td>
                                </tr>
                                <tr>
                                    <td class="tdLabel">
                                        <label>Color :</label>
                                    </td>
                                    <td class="tdInputC">
                                        <input id="txtColorFabric" type="text" />
                                    </td>
                                </tr>
                            </table>
                        </td>
                        <td style="vertical-align:top; width:50%">
                            <table class="tbl">

                                <tr style="vertical-align:top">
                                    <td style="width:32%"></td>
                                    <td class="tdLabel">
                                        <table style="width:100%;border:1px solid grey; border-collapse:collapse;text-align:left" border="1" cellpadding="0" cellspacing="0">
                                            <tr>
                                                <td style="width:40%;font-size:13px; font-weight: bold;text-align:center">Buyer Request</td>
                                                <td style="width:30%;font-size:13px; font-weight: bold;text-align:center">Seeking Date</td>
                                                <td style="width:30%;font-size:13px; font-weight: bold;text-align:center">Sets</td>
                                            </tr>
                                            <tr style="text-align:left;">
                                                <td style="text-align:left; width:40%;"><input id="chkIsHandLoom" type="checkbox" />Hand Loom</td>
                                                <td class="tdInputDateBox" style="width:30%;">
                                                    <input id="txtHandLoomDate" type="text" style="width: 100px;" class="easyui-datebox" data-options="formatter:icsdateformat,parser:icsdateparser" />
                                                </td>
                                                <td style="text-align:left; width:30%;"><input id="txtHandLommSet" class="numberField" type="text" style="width:100%;" /></td>
                                            </tr>
                                            <tr class="regionFabricStage">
                                                <td style="text-align:left; width:40%;"><input id="chkIsSample" type="checkbox" />Sample</td>
                                                <td class="tdInputDateBox" style="width:30%;">
                                                    <input id="txtSampleDate" type="text" style="width: 100px;" class="easyui-datebox" data-options="formatter:icsdateformat,parser:icsdateparser" />
                                                </td>
                                                <td style="text-align:left; width:30%;"><input id="txtSampleSet" class="numberField" type="text" style="width:100%;" /></td>
                                            </tr>
                                            <tr class="regionFabricStage">
                                                <td style="text-align:left; width:40%;"><input id="chkIsBulk" type="checkbox" />Bulk</td>
                                                <td class="tdInputDateBox" style="width:30%;">
                                                    <input id="txtBulkDate" type="text" style="width: 100px;" class="easyui-datebox" required="required" data-options="formatter:icsdateformat,parser:icsdateparser" />
                                                </td>
                                                <td style="text-align:left; width:30%;"><input id="txtBulkSet" class="numberField" type="text" style="width:100%;" /></td>
                                            </tr>
                                            <tr>
                                                <td style="text-align:left; width:40%;"><input id="chkIsAnalysis" type="checkbox" />Analysis</td>
                                                <td class="tdInputDateBox" style="width:30%;">
                                                    <input id="txtAnalysis" type="text" style="width: 100px;" class="easyui-datebox" required="required" data-options="formatter:icsdateformat,parser:icsdateparser" />
                                                </td>
                                                <td style="text-align:left; width:30%;"><input id="txtAnalysisSet" class="numberField" type="text" style="width:100%;" /></td>
                                            </tr>
                                            <tr class="regionFabricStage">
                                                <td style="text-align:left; width:40%;"><input id="chkIsCAD" type="checkbox" />CAD</td>
                                                <td class="tdInputDateBox" style="width:30%;">
                                                    <input id="txtCADDate" type="text" style="width: 100px;" class="easyui-datebox" required="required" data-options="formatter:icsdateformat,parser:icsdateparser" />
                                                </td>
                                                <td style="text-align:left; width:30%;"><input id="txtCadSet" class="numberField" type="text" style="width:100%;" /></td>
                                            </tr>
                                            <tr class="regionFabricStage">
                                                <td style="text-align:left; width:40%;"><input id="chkIsColor" type="checkbox" />Color Standard</td>
                                                <td class="tdInputDateBox" style="width:30%;">
                                                    <input id="txtColorDate" type="text" style="width: 100px;" class="easyui-datebox" required="required" data-options="formatter:icsdateformat,parser:icsdateparser" />
                                                </td>
                                                <td style="text-align:left; width:30%;"><input id="txtColorSet" class="numberField" type="text" style="width:100%;" /></td>
                                            </tr>
                                            <tr>
                                                <td style="text-align:left; width:40%;"><input id="chkIsLabdip" type="checkbox" />Labdip</td>
                                                <td class="tdInputDateBox" style="width:30%;">
                                                    <input id="txtLabdipDate" type="text" style="width: 100px;" class="easyui-datebox" required="required" data-options="formatter:icsdateformat,parser:icsdateparser" />
                                                </td>
                                                <td style="text-align:left; width:30%;"><input id="txtLabdipSet" class="numberField" type="text" style="width:100%;" /></td>
                                            </tr>
                                            <tr>
                                                <td style="text-align:left; width:40%;"><input id="chkIsYarnSkein" type="checkbox" />YarnSkein</td>
                                                <td class="tdInputDateBox" style="width:30%;">
                                                    <input id="txtYarnSkein" type="text" style="width: 100px;" class="easyui-datebox" required="required" data-options="formatter:icsdateformat,parser:icsdateparser" />
                                                </td>
                                                <td style="text-align:left; width:30%;"><input id="txtYarnSkeinSet" class="numberField" type="text" style="width:100%;" /></td>
                                            </tr>
                                        </table>

                                    </td>
                                </tr>
                                <tr>
                                    <td style="width:32%"></td>
                                    <td class="tdInputChk">

                                        <ul style="margin-left:0px;">
                                            <li><input id="chkWashFabric" type="checkbox" />Wash</li>
                                            <li><input id="chkFinishFabric" type="checkbox" />Finish</li>
                                            <li><input id="chkDyeingFabric" type="checkbox" />Dyeing</li>
                                            <li><input id="chkPrintFabric" type="checkbox" />Print</li>
                                        </ul>

                                    </td>
                                </tr>
                                <tr>
                                    <td class="tdLabel">
                                        <label>Priority Level :</label>
                                    </td>
                                    <td class="tdInput">
                                        <select id="cboPriorityLevelFabric"></select>
                                    </td>
                                </tr>
                                <tr>
                                    <td class="tdLabel">
                                        <label>Note :</label>
                                    </td>
                                    <td class="tdInputC">
                                        @*<input id="txtNoteFabric" type="text" />*@
                                        <textarea rows="1" id="txtNoteFabric" style="text-align:left; width:99%; height:40px; font-family:Tahoma; font-size:12px" placeholder="Narration"></textarea>
                                    </td>
                                </tr>
                                <tr>
                                    <td class="tdLabel">
                                        <label>H/L No:</label>
                                    </td>
                                    <td class="tdInputC">
                                        <input id="txtHLNo" type="text" style="width:100%;" />
                                    </td>
                                </tr>
                                <tr>
                                    <td class="tdLabel">
                                        <label>Primary Light Src. :</label>
                                    </td>
                                    <td class="tdInputC">
                                        <select id="cboPrimaryLightSource" style="width:100%;"></select>
                                    </td>
                                </tr>
                                <tr>
                                    <td class="tdLabel">
                                        <label>Secondary Light Src. :</label>
                                    </td>
                                    <td class="tdInputC">
                                        <select id="cboSecondaryLightSource" style="width:100%;"></select>
                                    </td>
                                </tr>
                                <tr>
                                    <td class="tdLabel">
                                        <label>End Use:</label>
                                    </td>
                                    <td class="tdInputC">
                                        <input id="txtEndUse" type="text" style="width:100%;" />
                                    </td>
                                </tr>


                                <tr id="trFabricHideShowFields">
                                    <td class="tdLabel">
                                        <label class="">Receive Date : </label>
                                    </td>
                                    <td class="tdInput">
                                        <div style="float:left">
                                            <div style="float:left">
                                                <input id="txtReceiveDateFabric" type="text" style="width: 100px;" class="easyui-datebox" required="required" data-options="formatter:icsdateformat,parser:icsdateparser" />
                                            </div>
                                            <div style="float:left" id="divSubDateHideShow">
                                                <label style="margin-left: 10px;" class="lblSubDate">Sub Date : </label>
                                                <input id="txtSubDateFabric" type="text" style="width: 100px;" class="easyui-datebox" required="required" data-options="formatter:icsdateformat,parser:icsdateparser" />
                                            </div>
                                            <div style="float:left"></div>
                                        </div>
                                    </td>
                                </tr>
                            </table>
                        </td>
                    </tr>
                </table>
            </fieldset>
            <fieldset class="actionfieldsetstyle">
                <legend>Actions : </legend>
                <table border="0" cellpadding="0" cellspacing="0" style="float:right; width:100%;">
                    <tr>
                        <td>
                            <label id="lblGiveInfo" style="color:#c00;"></label>
                            <a id="btnReceiveFabricInFabric" href="javascript:void(0)" class="easyui-linkbutton" iconcls="icon-ok" plain="true">Receive</a>
                            <a id="btnSubmitFabricInFabric" href="javascript:void(0)" class="easyui-linkbutton" iconcls="icon-ok" plain="true">Submit To HQ</a>
                            <a id="btnSaveFabric" href="javascript:void(0)" class="easyui-linkbutton" iconcls="icon-save" plain="true">Save</a>
                            <a id="btnCloseFabric" href="javascript:void(0)" class="easyui-linkbutton" iconcls="icon-cancel" plain="true">Close</a>
                        </td>
                    </tr>
                </table>
            </fieldset>
        </div>
  
        <div id="winLabdipRequest" class="easyui-window" title="Labdip Request" data-options="modal:true,closed:true,collapsible:false,minimizable:false,maximizable:false,closable:false">
            <fieldset>
                <table class="tbl">
                    <tr>
                        <td class="labdiptbl">
                            <div class="divLabel">
                                <label>Fabric Id :</label>
                            </div>
                            <div class="divInput">
                                <input id="txtFabricId" class="resetfield" type="text" placeholder="Fabric Id" disabled/>
                            </div>
                        </td>
                        <td class="labdiptbl">
                            <div class="divLabel">
                                <label>Color Track No :</label>
                            </div>
                            <div class="divInput">
                                <input id="txtColorTrackNo" class="resetfield" type="text" placeholder="Auto generated" disabled />
                            </div>
                        </td>
                    </tr>

                    <tr>
                        <td class="labdiptbl">
                            <div class="divLabel">
                                <label>Yarn :</label>
                            </div>
                            <div class="divInput">
                                <input id="txtProductName" class="pickfield resetfield" type="text" placeholder="Type name & press enter or pick product" />
                                <input type="button" class="pickBtn" id="btnPickYarn" value="P" />
                            </div>
                        </td>
                        <td class="labdiptbl">
                            <div class="divLabel">
                                <label>Composition :</label>
                            </div>
                            <div class="divInput">
                                <input id="txtComposition" class="resetfield" type="text" placeholder="Composition" disabled />
                            </div>
                        </td>
                    </tr>

                    <tr>
                        <td class="labdiptbl">
                            <div class="divLabel">
                                <label>Priority Level :</label>
                            </div>
                            <div class="divInput">
                                <select id="cboPriorityLevel"></select>
                            </div>
                        </td>
                        <td class="labdiptbl">
                            <div class="divLabel">
                                <label>HP/PH :</label>
                            </div>
                            <div class="divInput">
                                <input id="txtHPPH" class="resetfield" type="text" placeholder="HP/PH" />
                            </div>
                        </td>
                    </tr>

                    <tr>
                        <td class="labdiptbl">
                            <div class="divLabel">
                                <label>Seeking Date :</label>
                            </div>
                            <div class="divInput">
                                <input id="dtSeekingDate" type="text" class="easyui-datebox" data-options="formatter:icsdateformat,parser:icsdateparser" />
                            </div>
                        </td>
                        <td class="labdiptbl">
                            <div class="divLabel">
                                <label>Light Source :</label>
                            </div>
                            <div class="divInput">
                                <input id="txtLightSource" class="resetfield" type="text" placeholder="Light source" />
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td class="labdiptbl">
                            <div class="divLabel">
                                <label>BC. Person :</label>
                            </div>
                            <div class="divInput">
                                <select id="cboBuyerContactPersonnal"></select>
                            </div>
                        </td>
                        <td class="labdiptbl">
                            <div class="divLabel">
                                <label>MKT. Person :</label>
                            </div>
                            <div class="divInput">
                                <select id="cboMKTPersonLDO"></select>
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td class="labdiptbl">
                            <div class="divLabel">
                                <label>Note :</label>
                            </div>
                            <div class="divInput">
                                <input id="txtNote" class="resetfield" type="text" placeholder="Note" />
                            </div>
                        </td>
                        <td>
                           
                        </td>
                    </tr>
                </table>
            </fieldset>
            <fieldset> 
                <table id="tblLabdipRequestDetail" title="Lab Dip Order Detail" class="easyui-datagrid" style="width:100%;height:170px" data-options="singleSelect: true,fitColumns:false, rownumbers:true, pagination:false, autoRowHeight:false, toolbar: '#toolbarLabDipReqDetail', onClickRow: onClickRowLDRDetail ">
                    <thead>
                        <tr>
                            <th field="ReferenceLDNo" width=15% align="left">Reference LD No</th>
                            <th data-options="field:'ColorName',editor:{type:'text'}" width=15% align="left">Color</th>
                            <th data-options="field:'RGB',editor:{type:'text'}" width=10% align="left">RGB</th>
                            <th data-options="field:'PantonNO',editor:{type:'text'}" width=16% align="left">Panton No</th>
                            <th data-options="field:'YarnQtyInGrm',align:'right',editor:{type:'numberbox',options:{precision:0}}" width="10%">Qty(gm)</th>
                            <th field="KnitPlyYarnInString" width=25% align="left">Knit/Ply/Yarn</th>
                        </tr>
                    </thead>
                </table>

                <div id="toolbarLabDipReqDetail">
                    <input id="txtColorName" class="resetfield" type="text" placeholder="Type color name & press enter to add" />
                    <span>
                        <select id="cboNitPlyYarn">
                            <option value="1">Knit</option>
                            <option value="2">Ply</option>
                            <option value="3">Yarn</option>
                        </select> 
                     </span>
                    <a id="btnAddLabDipDetail" href="javascript:void(0)" class="easyui-linkbutton" iconcls="icon-add" plain="true">Add</a>
                    <a id="btnDeleteLabDipDetail" href="javascript:void(0)" class="easyui-linkbutton" iconcls="icon-remove" plain="true">Remove</a>
                </div>
                <table>
                    <tr>
                        <td style="width:365px;"></td>
                        <td style="width:35px;">Total :</td>
                        <td style="width:80px;text-align:right;">
                            <label id="lblTotalLDDetail"></label>(gm)
                        </td>
                    </tr>
                </table>
            </fieldset>
            <fieldset class="actionfieldsetstyle">
                <legend>Actions : </legend>
                <table class="tbl">
                    <tr>
                        <td class="tdActionLabel">
                            <label id="lblLabdipStatus"></label>
                            <label id="lblStatus"></label>
                            <select id="cboReqLabdipByFabric"></select>
                        </td>
                        <td class="tdAction">
                            <a id="btnNewLabdipReq" href="javascript:void(0)" class="easyui-linkbutton" iconcls="icon-add" plain="true">New</a>
                            <a id="btnPrintDeskloomSpecification" href="javascript:void(0)" class="easyui-linkbutton" iconcls="icon-print" plain="true">Desk Loom Spec.</a>
                            <a id="btnSaveLabDipRequest" href="javascript:void(0)" class="easyui-linkbutton" iconcls="icon-save" plain="true">Save</a>
                            <a id="btnCloseLabDipRequest" href="javascript:void(0)" class="easyui-linkbutton" iconcls="icon-cancel" plain="true">Close</a>
                        </td>
                    </tr>
                </table>
            </fieldset>
        </div>

        <div id="winAdvSearchFabric" class="easyui-window winstyle" style="width:900px;" title="Adv. Search" data-options="modal:true,closed:true,collapsible:false,minimizable:false,maximizable:false,closable:false">
            <fieldset style="margin-bottom: 0px;">
                <legend>Searching Criteria</legend>
                <div style="width:48%;float:left;">
                    <table class="tblASWrapper" style="width:100%;">
                        <tr>
                            <td style="width:25%;">
                                <label>P Number :</label>
                            </td>
                            <td style="width:73%;text-align:left">
                                <input id="txtBuyerReferenceFabricAdvSearch" type="text" style="width:92%;" />
                            </td>
                        </tr>
                        <tr>
                            <td style="width:25%;">
                                <label>Buyer :</label>
                            </td>
                            <td style="width:73%;text-align:left">
                                @*<input id="txtContractorNameAdv" type="text" placeholder="Type & Press Enter" style="width:73%" />
                                <input id="btnClrSearchByBuyerAdvSearch" type="button" value="C" style="width:27px;" />
                                <input id="btnPickSearchByBuyerAdvSearch" type="button" value="P" style="width:27px;" />*@

                                <input id="txtContractorNameAdv" class="reset-text" style="width:72%;" placeholder="Type & Press Enter" />
                                <a id="btnContractorAdv" href="javascript:void(0)" class="easyui-linkbutton ics-pick" iconcls="icon-pick" plain="true"></a>
                                <a id="btnResetContractorAdv" href="javascript:void(0)" class="easyui-linkbutton ics-pick" iconcls="icon-clear" plain="true"></a>

                            </td>
                        </tr>
                        <tr>
                            <td style="width:25%;">
                                <label>Composition :</label>
                            </td>
                            <td style="width:73%;text-align:left">
                                <input id="txtCompositionAdvSearch" type="text" style="width:92%;" />
                            </td>
                        </tr>
                        <tr>
                            <td style="width:25%;">
                                <label>Buyer Ref :</label>
                            </td>
                            <td style="width:73%;text-align:left">
                                <input id="txtBuyerReferenceAdvSearch" type="text" style="width:92%;" />
                            </td>
                        </tr>
                        <tr>
                            <td style="width:25%;">
                                <label>MKT Person :</label>
                            </td>
                            <td style="width:73%;text-align:left">
                                @*<select id="cboMktPersonsAdvSearch" style="width:94%;"></select>*@
                                <input id="txtMktAccountAdv" class="reset-text" style="width:72%;" placeholder="Type & Press Enter" />
                                <a id="btnMktAccountAdv" href="javascript:void(0)" class="easyui-linkbutton ics-pick" iconcls="icon-pick" plain="true"></a>
                                <a id="btnResetMktAccountdv" href="javascript:void(0)" class="easyui-linkbutton ics-pick" iconcls="icon-clear" plain="true"></a>
                            </td>
                        </tr>
                        <tr>
                            <td style="width:25%;">
                                <label>Finish Type :</label>
                            </td>
                            <td style="width:73%;text-align:left">
                                <select id="cboFinishTypeAdvSearch" style="width:94%;"></select>
                            </td>
                        </tr>
                        <tr>
                            <td style="width:25%;">
                                <label>Process Type :</label>
                            </td>
                            <td style="width:73%;text-align:left">
                                <select id="cboProcessTypeAdvSearch" style="width:94%;"></select>
                            </td>
                        </tr>
                        <tr>
                            <td style="width:25%;">
                                <label>Weave Type :</label>
                            </td>
                            <td style="width:73%;text-align:left">
                                <select id="cboWeaveTypeAdvSearch" style="width:94%;"></select>
                            </td>
                        </tr>
                        <tr>
                            <td style="width:25%;">
                                <label>Fabric Design :</label>
                            </td>
                            <td style="width:73%;text-align:left">
                                <select id="cboFabricDesignTypeAdvSearch" style="width:94%;"></select>
                            </td>
                        </tr>
                        <tr>
                            <td style="width:25%;">
                                <label>Construction :</label>
                            </td>
                            <td style="width:73%;text-align:left">
                                <input id="txtConstructionAdvSearch" type="text" style="width:92%;" />
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <label>Color :</label>
                            </td>
                            <td style="width:73%;text-align:left">
                                <input id="txtColorAdvSearch" type="text" style="width:38%;" />
                                <label>Style :</label>
                                <input id="txtStyleAdvSearch" type="text" style="width:39%;" />
                            </td>
                        </tr>
                    </table>
                </div>
                <div style="width:48%;margin-right:5px;float:left;">
                    <table class="tblASWrapper" style="width:100%;">
                        <tr>
                            <td class="advIssDate" style="width:25%;">
                                <label>Issue Date :</label>
                            </td>
                            <td style="width:73%;" class="alignLeft">
                                <input id="chkIssueDateAdvSearch" type="checkbox" />
                                @*<select id="cboDateOptionAdvSearch" onchange=" DateActions(); " style="width:33%"></select>*@
                                <input id="txtFromDateIssueDateAdvSearch" type="text" style="width: 120px;" class="easyui-datebox" required="required" data-options="formatter:icsdateformat,parser:icsdateparser" />To
                                <input id="txtToDateIssueDateAdvSearch" type="text" style="width: 120px;" class="easyui-datebox" required="required" data-options="formatter:icsdateformat,parser:icsdateparser" />
                            </td>
                        </tr>
                        <tr>
                            <td class="advIssDate" style="width:25%;">
                                <label>LabDip Req :</label>
                            </td>
                            <td style="width:73%;" class="alignLeft">
                                <input id="chkLabDipRequestAdvSearch" type="checkbox" />
                                <input id="txtFromDateLabDipRequestAdvSearch" type="text" style="width: 120px;" class="easyui-datebox" required="required" data-options="formatter:icsdateformat,parser:icsdateparser" />To
                                <input id="txtToDateLabDipRequestAdvSearch" type="text" style="width: 120px;" class="easyui-datebox" required="required" data-options="formatter:icsdateformat,parser:icsdateparser" />
                            </td>
                        </tr>
                        <tr>
                            <td class="advIssDate" style="width:25%;">
                                <label>Fab.Pattern :</label>
                            </td>
                            <td style="width:73%;" class="alignLeft">
                                <input id="chkFabricPatternAdvSearch" type="checkbox" />
                                <input id="txtFromDateLabFabricPatternAdvSearch" type="text" style="width: 120px;" class="easyui-datebox" required="required" data-options="formatter:icsdateformat,parser:icsdateparser" />To
                                <input id="txtToDateFabricPatternAdvSearch" type="text" style="width: 120px;" class="easyui-datebox" required="required" data-options="formatter:icsdateformat,parser:icsdateparser" />
                            </td>
                        </tr>
                        <tr>
                            <td class="advIssDate" style="width:25%;">
                                <label>Approve Date :</label>
                            </td>
                            <td style="width:73%;" class="alignLeft">
                                <input id="chkApproveDateAdvSearch" type="checkbox" />
                                <input id="txtFromDateApproveDateAdvSearch" type="text" style="width: 120px;" class="easyui-datebox" required="required" data-options="formatter:icsdateformat,parser:icsdateparser" />To
                                <input id="txtToDateApproveDateAdvSearch" type="text" style="width: 120px;" class="easyui-datebox" required="required" data-options="formatter:icsdateformat,parser:icsdateparser" />
                            </td>
                        </tr>
                        <tr>
                            <td class="advIssDate" style="width:25%;">
                                <label>Receive Date :</label>
                            </td>
                            <td style="width:73%;" class="alignLeft">
                                <input id="chkReceiveDateAdvSearch" type="checkbox" />
                                <input id="txtFromDateReceiveDateAdvSearch" type="text" style="width: 120px;" class="easyui-datebox" required="required" data-options="formatter:icsdateformat,parser:icsdateparser" />To
                                <input id="txtToDateReceiveDateAdvSearch" type="text" style="width: 120px;" class="easyui-datebox" required="required" data-options="formatter:icsdateformat,parser:icsdateparser" />
                            </td>
                        </tr>
                        <tr>
                            <td class="advIssDate" style="width:25%;">
                                <label>Sub Date :</label>
                            </td>
                            <td style="width:73%;" class="alignLeft">
                                <input id="chkSubmissionDateAdvSearch" type="checkbox" />
                                <input id="txtFromDateSubmissionDateAdvSearch" type="text" style="width: 120px;" class="easyui-datebox" required="required" data-options="formatter:icsdateformat,parser:icsdateparser" />To
                                <input id="txtToDateSubmissionDateAdvSearch" type="text" style="width: 120px;" class="easyui-datebox" required="required" data-options="formatter:icsdateformat,parser:icsdateparser" />
                            </td>
                        </tr>
                        <tr>
                            <td style="width:25%;"></td>
                            <td style="text-align:left;width:73%;">
                                <input id="chkYetToLabDipAdvSearch" type="checkbox" style="margin-left:17px;" />
                                <label>Yet to LabDip</label>
                                <input id="chkYetToPatternAdvSearch" type="checkbox" style="margin-left: 11px;" />
                                <label>Yet to Pattern</label>
                            </td>
                        </tr>
                        <tr>
                            <td style="width:25%;"></td>
                            <td style="text-align:left;width:73%;">
                                <input id="chkApproveAdvSearch" type="checkbox" style="margin-left:17px;" />
                                <label style="display:inline;margin-right:20px;">Approve</label>
                                <input id="chkUnapproveAdvSearch" type="checkbox" style="margin-left: 21px;" />
                                <label>Unapprove</label>
                            </td>
                        </tr>
                    </table>
                </div>
            </fieldset>
            <fieldset class="actionfieldsetstyle">
                <legend>Actions : </legend>
                <label class="lblLoadingMessage" style="float: left;">Loading Please Wait...</label>
                @*<a id="btnOkAdvSearchFabric" href="javascript:void(0)" class="easyui-linkbutton" iconcls="icon-ok" plain="true">Ok</a>*@
                <a id="btnResetAdvSearch" href="javascript:void(0)" class="easyui-linkbutton" iconcls="icon-reload" plain="true">Reset</a>
                <a id="btnSearchAdvSearch" href="javascript:void(0)" class="easyui-linkbutton" iconcls="icon-search" plain="true">Search</a>
                <a id="btnCloseAdvSearchFabric" href="javascript:void(0)" class="easyui-linkbutton" iconcls="icon-cancel" plain="true">Close</a>
            </fieldset>
        </div>

        <div class="menuMainCollectionTable">
            <table id="tblFabrics" title="Fabric List" class="easyui-datagrid" fit="true" fitcolumns="true" rownumbers="true" pagination="false" singleselect="true" autorowheight="false" toolbar="#toolbarFabric">
                <thead>
                    <tr>
                        <th field="IssueDateInString" width="10%" align="center">Issue Date</th>
                        <th field="FabricNo" width="10%">P Number/Fabric ID</th>
                        <th field="MKTPersonName" width="15%">Mkt. Person</th>
                        <th field="BuyerName" width="20%">Buyer Name</th>
                        <th field="Construction" width="20%">Construction</th>
                        <th field="ProcessTypeName" width="15%">Process Type</th>
                        <th field="FabricDesignName" width="15%">Fabric Design</th>
                        <th field="FabricWidth" width="15%">Width</th>
                        <th field="StyleNo" width="10%">Style No</th>
                        <th field="FinishTypeName" width="15%">Finish Type</th>
                        <th field="FabricWeaveName" width="15%">Weave</th>
                        <th field="IsWash" width="4%" formatter="FormatIsTrue" align="center">Wash</th>
                        <th field="IsFinish" width="4%" formatter="FormatIsTrue" align="center">Finish</th>
                        <th field="IsDyeing" width="4%" formatter="FormatIsTrue" align="center">Dyeing</th>
                        <th field="IsPrint" width="4%" formatter="FormatIsTrue" align="center">Print</th>
                        <th field="ApprovedByNameSt" width="14%">Approved By</th>
                        <th field="SeekingSubmissionDateInString" width="10%" align="center">Seeking Sub Date</th>
                        <th field="ReceiveDateSt" width="10%" align="center">Receive Date</th>
                        <th field="HandLoomNo" width="10%" align="center">Hand Loom No</th>
                        <th field="TotalPatternSt" width="7%" align="right">Total Pattern</th>
                        <th field="TotalLabDipRequestSt" width="7%" align="right">Total Labdip</th>
                        <th field="FabricAttachmentCountSt" width="7%" align="right">Attachment(s)</th>
                    </tr>
                </thead>
            </table>
            <div id="toolbarFabric">
                <input type="text" id="txtSearchbyFabricNo" placeholder="Search By P Number" />
                <input type="text" id="txtSearchByBuyerNameFP" placeholder="Search By Buyer" />
                <select id="cboReceiveOrNot">
                    <option value="0">All</option>
                    <option value="1">Received</option>
                    <option value="2">Yet Not Received</option>
                </select>
                <a id="btnAdvSearchFabric" href="javascript:void(0)" class="easyui-linkbutton" iconcls="icon-search" plain="true">Adv. Search</a>
                <a id="btnEditFabricInFabricPattern" href="javascript:void(0)" class="easyui-linkbutton" iconcls="icon-edit" plain="true">Edit</a>
                <a id="btnViewFabric" href="javascript:void(0)" class="easyui-linkbutton" iconcls="icon-details" plain="true">View</a>
                <a id="btnReceiveFabricInFabricPattern" href="javascript:void(0)" class="easyui-linkbutton" iconcls="icon-ok" plain="true">Set HL No</a>
                <a id="btnRequestForLabdip" href="javascript:void(0)" class="easyui-linkbutton" iconcls="icon-ok" plain="true">Req For Labdip</a>
                <a id="btnSubmitFabricInFabricPattern" href="javascript:void(0)" class="easyui-linkbutton" iconcls="icon-ok" plain="true">Submit to HO</a>
                <a id="btnFabricPattern" href="javascript:void(0)" class="easyui-linkbutton" iconcls="icon-ok" plain="true">Pattern</a>
                <a id="btnPrintDeskLoom" href="javascript:void(0)" class="easyui-linkbutton" iconcls="icon-print" plain="true">Print Desk Loom</a>
                <a id="btnExportInExcel" href="javascript:void(0)" class="easyui-linkbutton" iconcls="icon-excel" plain="true">ExportXL</a>
                 <a id="btnAttachment" href="javascript:void(0)" class="easyui-linkbutton" iconcls="icon-attachment" plain="true">Attachment</a>
                @*<a id="btnRemoveFromList" href="javascript:void(0)" class="easyui-linkbutton" iconcls="icon-Reset" plain="true">Remove From List</a>*@
            </div>
        </div>
    </body>
</html>
    <style type="text/css">
       .tdInputChk {
            width: 70%;
        }
        .tdInputChk ul{
            padding: 0;
            margin: 0;
        }
        .tdInputChk ul li{
            display: inline;
            list-style-type: none;
            margin:0 10px 0 0; 
        }
        .tdInputChk ul li input{
            margin: 0 3px 0 0;
        }
        .tdInputC input {
            width: 98%;
        }

       .tblAdvSearch .oneTextTwoButton input[type='text']{
             width: 82%;
        }
        .tblAdvSearch .oneTextTwoButton input[type='button']{
             width: 7%;
        }
        #winLabdipRequest{
            width:750px;
            font-size:11px;
        }
        .labdiptbl{
            width:50%;
        }
        .divLabel{
             float:left;
             width:29%;
             text-align:right;
             margin-right:1%
        }
        .divInput{
             float:left;
             width:70%;
        }
        .divInput input{
            width:98%;
             font-size:11px;
        }
        .divInput select{
            width:99.5%;
        }
        .divInput .pickfield{
            width:88.8%;
        }
        .divInput .pickBtn{
            width:7%;
        }
        #dtSeekingDate, #dtSubmissionDate{
            width:245px;
        }
        #txtColorName{
            width:30%;
            font-size:11px;
        }
        .tbl .tdActionLabel{
            font-size:11px;
            text-align:left;
        }
        .tbl .tdAction{
            text-align:right;
        }
        #lblLabdipStatus{
            font-weight:bold;
        }
        #winProductPicker {
             width:780px; height:auto; padding:1px
        }
        .region-product{
            float:left; height:445px; width:770px; overflow-x:scroll; overflow-y:hidden; 
        }
        .region-treeProductCategory{
            height: 415px; width:350px; overflow: auto; text-align:left;
        }
        #winAdvSearchFabric {
            width: 776px;
        }
        .btnResetSearch input[type="button"] {
            width: 20%;
        }
        #winAdvSearchFabric .actionfieldsetstyle {
            margin: 0 5px 2px 5px;
        }
        .tblASWrapper td {
            text-align:right;
        }
        .advIssDate {
            text-align:right;
        }
        .alignLeft {
            text-align:left !important;
        }
    </style>
<script type="text/javascript">
    var _sBaseAddress = "";
    var _oFabric = null;
    var _oFabrics = [];
    var _oFinishTypes = [];
    var _oCompareOperators = [];
    var _oMktPersons = [];
    var _oPriorityLevels=[];
    var _oSwatchTypes=[];
    var _oProcessTypes=[];
    var _oFabricWeaves=[];
    var _oFabricDesigns=[];
    var _oLightSources=[];
    var _nmenuid=0;
    var _nFabricID=0;
    var _nBUID=0;
    var _nCurrentUserID=0;
    var _nSelectedRowIndex = -1;
    var _oProducts = [];
    var _oFabricOrderSetups = [];

    $(document).ready(function() {
        _oFabrics = @Html.Raw(new System.Web.Script.Serialization.JavaScriptSerializer().Serialize(Model));
        _sBaseAddress = @Html.Raw(new System.Web.Script.Serialization.JavaScriptSerializer().Serialize(HttpContext.Current.Session[SessionInfo.BaseAddress]));
        _nmenuid=@Html.Raw(new System.Web.Script.Serialization.JavaScriptSerializer().Serialize(@ViewBag.menuid));
        _nFabricID=@Html.Raw(new System.Web.Script.Serialization.JavaScriptSerializer().Serialize(@ViewBag.FabricId));
        _nBUID=@Html.Raw(new System.Web.Script.Serialization.JavaScriptSerializer().Serialize(@ViewBag.BUID));
        _oFinishTypes = @Html.Raw(new System.Web.Script.Serialization.JavaScriptSerializer().Serialize(@ViewBag.FinishTypes));
        _oCompareOperators = @Html.Raw(new System.Web.Script.Serialization.JavaScriptSerializer().Serialize(@ViewBag.CompareOperators));
        _oMktPersons = @Html.Raw(new System.Web.Script.Serialization.JavaScriptSerializer().Serialize(@ViewBag.MktPersons));
        _oPriorityLevels=@Html.Raw(new System.Web.Script.Serialization.JavaScriptSerializer().Serialize(@ViewBag.EnumPriorityLevels));
        _oSwatchTypes = @Html.Raw(new System.Web.Script.Serialization.JavaScriptSerializer().Serialize(@ViewBag.SwatchTypes));
        _oProcessTypes = @Html.Raw(new System.Web.Script.Serialization.JavaScriptSerializer().Serialize(@ViewBag.ProcessTypes));
        _oFabricWeaves = @Html.Raw(new System.Web.Script.Serialization.JavaScriptSerializer().Serialize(@ViewBag.FabricWeaves));
        _oFabricDesigns = @Html.Raw(new System.Web.Script.Serialization.JavaScriptSerializer().Serialize(@ViewBag.FabricDesigns));
        _oLightSources = @Html.Raw(new System.Web.Script.Serialization.JavaScriptSerializer().Serialize(ViewBag.LightSources));
        debugger;
       // DynamicRefreshList(_oFabrics, "tblFabrics");
        if(sessionStorage.getItem("Fabrics")!=null && sessionStorage.getItem("Fabrics").length>0)
        {
            _oFabrics= jQuery.parseJSON(sessionStorage.getItem('Fabrics'));
            var nIndex= sessionStorage.getItem('SelectedRowIndex');
            DynamicRefreshList(_oFabrics, 'tblFabrics');
           
            if(nIndex>-1)
            {
                $('#tblFabrics').datagrid('selectRow',nIndex);
            }
        }
        else{
            DynamicRefreshList(_oFabrics, 'tblFabrics');
        }
        
        InitializeFabricEvents();
        InitializeFabricsEvents();
        InitializeAdvSearchFabricEvents();
        InitializeFabricForPattern();
        InitializeLabdipRequest();

    });
    $(document).keydown(function (e) { if (e.keyCode == 27) { $('#winLabdipRequest').icsWindow('close'); } });

    function updateProgress() {
        var value =$('#progressbar').progressbar('getValue');
        if (value < 96){
            value += Math.floor(Math.random() * 10);
            $('#progressbar').progressbar('setValue', value);
        }
    }

    function hideShow(miliseconds) {
        $("#progressbarParent").hide();
    }

    $("#cboReceiveOrNot").change(function(){
        var oFabrics = $("#tblFabrics").datagrid("getRows");
        var nVal = $(this).val();
        var oNewList=[];
        var nLength = oFabrics.length;
        if(nVal == 0) //All
        {
            DynamicRefreshList(_oFabrics,"tblFabrics");
        }
        else if(nVal == 1) //Received
        {
            for(var i=0;i<nLength;i++)
            {
                if(oFabrics[i].ReceiveDateSt != "01 Jan 0001")
                {
                    oNewList.push(oFabrics[i]);
                }
            }
            DynamicRefreshList(oNewList,"tblFabrics");
        }
        else if(nVal == 2) //Yet Not Received
        {
            for(var i=0;i<nLength;i++)
            {
                if(oFabrics[i].ReceiveDateSt == "01 Jan 0001")
                {
                    oNewList.push(oFabrics[i]);
                }
            }
            DynamicRefreshList(oNewList,"tblFabrics");
        }
    });


    function FormatIsTrue(value) {
        if (value) {
            var s = '<img src="@Url.Content("~/Content/CSS/icons/ok.png")"  style="width:15px;height:18px;"/>';
            return s;
        } else {
            return "";
        }
    }


    $('#btnExportInExcel').click(function(e){

        var oFabrics = $('#tblFabrics').datagrid('getRows');
        if(!oFabrics.any())
        {
            alert("No items found to print");
            return false;
        }
        var objs=[{key:'FabricIDs', data:oFabrics.select('FabricID').separator()}];
        OpenWindowWithPost(_sBaseAddress+'/Fabric/FabricListInExcel', objs );
    });



</script>
