<script src="http://malsup.github.com/jquery.form.js"></script>
@{
    ViewBag.Title = "Fabrics List";
}

@model IEnumerable<ESimSol.BusinessObjects.Fabric>
<head>
    <title></title>
</head>
<body>
    <div id="progressbarParent" style="width:100%;height:100%;margin:0 auto;text-align:center; margin-left: auto;margin-right: auto;left: 0;right: 0;z-index: 1;">
        <div style="margin: 0px auto;margin-top: 251px;text-align:center;width:390px;">
            <label style="font-size:18px;">Please wait</label>
            <div id="progressbar" style="width:100%;height:37px;"></div>
        </div>
    </div>
    

    <div class="menuMainCollectionTable">
        @*<table id="tblFabrics" title="Fabric List" class="easyui-datagrid" style="width:100%;" fit="true" fitcolumns="true" rownumbers="true" pagination="false" singleselect="true" autorowheight="true" toolbar="#toolbarFabric">*@
        <table id="tblFabrics" style="width:100%; height:100%" class="easyui-datagrid" fit="true" fitcolumns="false" rownumbers="true" pagination="false" singleselect="true" autorowheight="true" toolbar="#toolbarFabric" data-options="rowStyler: function(index,row){

                                        if (row.ToDateSt==1){
                                            return 'color:#265a88; font-weight:bold;';
                                        }
                                       
                                    }
                    ">
            <thead>
                @*else if (row.ToDateSt==2){
                return 'color:#f21443; font-weight:bold;';
                }*@
                <tr>
                    <th data-options="field:'Selected',checkbox:true"></th>
                    <th field="IssueDateInString" width="10%" align="center">Issue Date</th>
                    @*<th field="FabricNo" width="10%">P Number/Fabric ID</th>*@
                    <th field="FabricNo" width="10%"><label id="lblFabricNo"></label></th>
                    <th field="HandLoomNo" width="10%"><label id="lblHONO"></label></th>
                    <th field="Code" width="10%">Fabric Code</th>
                    <th field="MKTPersonName" width="15%">Mkt. Person</th>
                    <th field="BuyerName" width="20%">Buyer Name</th>
                    <th field="Construction" width="20%">Construction</th>
                    <th field="ProcessTypeName" width="15%">Process Type</th>
                    <th field="FabricDesignName" width="15%">Fabric Design</th>
                    <th field="FabricWidth" width="15%">Width</th>
                    <th field="StyleNo" width="10%">Style No</th>
                    <th field="FinishTypeName" width="15%">Finish Type</th>

                    <th field="FabricWeaveName" width="15%">Weave</th>
                    <th field="IsWash" width="5%" formatter="FormatIsTrue" align="center">Wash</th>
                    <th field="IsFinish" width="5%" formatter="FormatIsTrue" align="center">Finish</th>
                    <th field="IsDyeing" width="5%" formatter="FormatIsTrue" align="center">Dyeing</th>
                    <th field="IsPrint" width="5%" formatter="FormatIsTrue" align="center">Print</th>
                    <th field="PriorityLevelInString" width="10%">Priority Level</th>
                    <th field="Status" width="10%">Status</th>
                    <th field="SeekingSubmissionDateInString" width="10%" align="center">Seeking Date</th>
                    <th field="ReceiveDateSt" width="10%" align="center">Receive Date</th>
                    <th field="SubmissionDateSt" width="10%" align="center">Submission Date</th>
                    <th field="ApprovedByNameSt" width="20%">Approved By</th>
                    <th field="PrepareByName" width="20%">Prepare By</th>
                    <th field="AttCount" width="8%">Attachment Count</th>

                </tr>
            </thead>
        </table>
        <div id="toolbarFabric">
            <table>
                <tr>
                    <td>
                        <input type="text" id="txtSearchbyFabricNo" placeholder="Search By P Number" />
                        <input type="text" id="txtSearchByBuyerName" placeholder="Search By Buyer" />
                        <a id="btnAdvSearchFabric" href="javascript:void(0)" class="easyui-linkbutton" iconcls="icon-search" plain="true">Adv. Search</a>
                        <a id="btnAddFabric" href="javascript:void(0)" class="easyui-linkbutton" iconcls="icon-add" plain="true">New</a>
                        <a id="btnEditFabric" href="javascript:void(0)" class="easyui-linkbutton" iconcls="icon-ok" plain="true">Edit</a>
                        <a id="btnViewFabric" href="javascript:void(0)" class="easyui-linkbutton" iconcls="icon-details" plain="true">View</a>

                        <a id="btnPrintAnalysis" href="javascript:void(0)" class="easyui-linkbutton" iconcls="icon-print" plain="true">Preview</a>
                        @*<a id="btnFabricHistory" href="javascript:void(0)" class="easyui-linkbutton" iconcls="icon-details" plain="true">Fabric History</a>*@

                        @*<a id="btnAddFNLabdipDetail" href="javascript:void(0)" class="easyui-linkbutton" iconcls="icon-add" plain="true">Lab dip</a>*@
                        @*<a id="btnAddFNLabdipColor" href="javascript:void(0)" class="easyui-linkbutton" iconcls="icon-add" plain="true">Lab dip</a>*@
                        <a id="btnLDNo" href="javascript:void(0)" class="easyui-linkbutton" iconcls="icon-add" plain="true">Code & No entry</a>
                        <a id="btnSubmitFabric" href="javascript:void(0)" class="easyui-linkbutton" iconcls="icon-approved" plain="true">Submit</a>
                     
                        @*<a id="btnFNPlanning" href="javascript:void(0)" class="easyui-linkbutton" iconcls="icon-details" plain="true">Planning</a>
                        <a id="btnPrintPlanning" href="javascript:void(0)" class="easyui-linkbutton" iconcls="icon-print" plain="true">Preview Planning</a>*@

                        <a id="btnPrintXL" href="javascript:void(0)" class="easyui-linkbutton" iconcls="icon-excel" plain="true">ExportXL</a>
                        
                    </td>
                </tr>
            </table>
        </div>
    </div>
    
    <div id="winPrintStickerHeader" style="width:300px;" class="easyui-window" title="Contractor" data-options="modal:true,closed:true,collapsible:false,minimizable:false,maximizable:false,closable:false">
        <div id="divPrintStickerHeader" tabindex="-1">
            <fieldset>
                <legend>Set Sticker Header : </legend>
                <label>Sticker Header :</label>
                <input id="txtStickerHeaderFabric" type="text" />
            </fieldset>
            <fieldset class="actionfieldsetstyle">
                <legend>Actions : </legend>
                <table border="0" cellpadding="2" cellspacing="2">
                    <tr>
                        <td style="width:395px; text-align:left">
                            <a id="btnOkStickerHeaderFabric" href="javascript:void(0)" class="easyui-linkbutton" iconcls="icon-print" plain="true">Sticker Print</a>
                        </td>
                        <td style="width:395px"><a id="btnCloseStickerHeaderFabric" href="javascript:void(0)" class="easyui-linkbutton" iconcls="icon-cancel" plain="true">Close</a></td>
                    </tr>
                </table>
            </fieldset>
        </div>
    </div>
  
    <div id="winAdvSearchFabric" class="easyui-window winstyle" style="width:900px;" title="Adv. Search" data-options="modal:true,closed:true,collapsible:false,minimizable:false,maximizable:false,closable:false">
        <fieldset style="margin-bottom: 0px;">
            <legend>Searching Criteria</legend>
            <div style="width:48%;float:left;">
                <table class="tblASWrapper" style="width:100%;">
                    <tr>
                        <td style="width:25%;">
                            <label id="lblFabricNoAdv">P Number :</label>
                        </td>
                        <td style="width:73%;text-align:left">
                            <input id="txtBuyerReferenceFabricAdvSearch" type="text" style="width:92%;" />
                        </td>
                    </tr>
                    <tr>
                        <td style="width:25%;">
                            <label>Buyer :</label>
                        </td>
                        <td style="width:73%;text-align:left">
                            @*<input id="txtContractorNameAdv" type="text" placeholder="Type & Press Enter" style="width:73%" />
                                <input id="btnClrSearchByBuyerAdvSearch" type="button" value="C" style="width:27px;" />
                                <input id="btnPickSearchByBuyerAdvSearch" type="button" value="P" style="width:27px;" />*@

                            <input id="txtContractorNameAdv" class="reset-text" style="width:72%;" placeholder="Type & Press Enter" />
                            <a id="btnContractorAdv" href="javascript:void(0)" class="easyui-linkbutton ics-pick" iconcls="icon-pick" plain="true"></a>
                            <a id="btnResetContractorAdv" href="javascript:void(0)" class="easyui-linkbutton ics-pick" iconcls="icon-clear" plain="true"></a>

                        </td>
                    </tr>
                    <tr>
                        <td style="width:25%;">
                            <label>Composition :</label>
                        </td>
                        <td style="width:73%;text-align:left">
                            <input id="txtCompositionAdvSearch" type="text" style="width:92%;" />
                        </td>
                    </tr>
                    <tr>
                        <td style="width:25%;">
                            <label>Buyer Ref :</label>
                        </td>
                        <td style="width:73%;text-align:left">
                            <input id="txtBuyerReferenceAdvSearch" type="text" style="width:92%;" />
                        </td>
                    </tr>
                    <tr>
                        <td style="width:25%;">
                            <label>MKT Person :</label>
                        </td>
                        <td style="width:73%;text-align:left">
                            @*<select id="cboMktPersonsAdvSearch" style="width:94%;"></select>*@
                            <input id="txtMktAccountAdv" class="reset-text" style="width:72%;" placeholder="Type & Press Enter" />
                            <a id="btnMktAccountAdv" href="javascript:void(0)" class="easyui-linkbutton ics-pick" iconcls="icon-pick" plain="true"></a>
                            <a id="btnResetMktAccountdv" href="javascript:void(0)" class="easyui-linkbutton ics-pick" iconcls="icon-clear" plain="true"></a>
                        </td>
                    </tr>
                    <tr>
                        <td style="width:25%;">
                            <label>Finish Type :</label>
                        </td>
                        <td style="width:73%;text-align:left">
                            <select id="cboFinishTypeAdvSearch" style="width:94%;"></select>
                        </td>
                    </tr>
                    <tr>
                        <td style="width:25%;">
                            <label>Process Type :</label>
                        </td>
                        <td style="width:73%;text-align:left">
                            <select id="cboProcessTypeAdvSearch" style="width:94%;"></select>
                        </td>
                    </tr>
                    <tr>
                        <td style="width:25%;">
                            <label>Weave Type :</label>
                        </td>
                        <td style="width:73%;text-align:left">
                            <select id="cboWeaveTypeAdvSearch" style="width:94%;"></select>
                        </td>
                    </tr>
                    <tr>
                        <td style="width:25%;">
                            <label>Fabric Design :</label>
                        </td>
                        <td style="width:73%;text-align:left">
                            <select id="cboFabricDesignTypeAdvSearch" style="width:94%;"></select>
                        </td>
                    </tr>
                    <tr>
                        <td style="width:25%;">
                            <label>Construction :</label>
                        </td>
                        <td style="width:73%;text-align:left">
                            <input id="txtConstructionAdvSearch" type="text" style="width:92%;" />
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <label>Color :</label>
                        </td>
                        <td style="width:73%;text-align:left">
                            <input id="txtColorAdvSearch" type="text" style="width:38%;" />
                            <label>Style :</label>
                            <input id="txtStyleAdvSearch" type="text" style="width:39%;" />
                        </td>
                    </tr>
                </table>
            </div>
            <div style="width:48%;margin-right:5px;float:left;">
                <table class="tblASWrapper" style="width:100%;">
                    <tr>
                        <td class="advIssDate" style="width:25%;">
                            <label>Issue Date :</label>
                        </td>
                        <td style="width:73%;" class="alignLeft">
                            <input id="chkIssueDateAdvSearch" type="checkbox" />
                            @*<select id="cboDateOptionAdvSearch" onchange=" DateActions(); " style="width:33%"></select>*@
                            <input id="txtFromDateIssueDateAdvSearch" type="text" style="width: 120px;" class="easyui-datebox" required="required" data-options="formatter:icsdateformat,parser:icsdateparser" />To
                            <input id="txtToDateIssueDateAdvSearch" type="text" style="width: 120px;" class="easyui-datebox" required="required" data-options="formatter:icsdateformat,parser:icsdateparser" />
                        </td>
                    </tr>
                    <tr>
                        <td class="advIssDate" style="width:25%;">
                            <label>LabDip Req :</label>
                        </td>
                        <td style="width:73%;" class="alignLeft">
                            <input id="chkLabDipRequestAdvSearch" type="checkbox" />
                            <input id="txtFromDateLabDipRequestAdvSearch" type="text" style="width: 120px;" class="easyui-datebox" required="required" data-options="formatter:icsdateformat,parser:icsdateparser" />To
                            <input id="txtToDateLabDipRequestAdvSearch" type="text" style="width: 120px;" class="easyui-datebox" required="required" data-options="formatter:icsdateformat,parser:icsdateparser" />
                        </td>
                    </tr>
                    <tr>
                        <td class="advIssDate" style="width:25%;">
                            <label>Fab.Pattern :</label>
                        </td>
                        <td style="width:73%;" class="alignLeft">
                            <input id="chkFabricPatternAdvSearch" type="checkbox" />
                            <input id="txtFromDateLabFabricPatternAdvSearch" type="text" style="width: 120px;" class="easyui-datebox" required="required" data-options="formatter:icsdateformat,parser:icsdateparser" />To
                            <input id="txtToDateFabricPatternAdvSearch" type="text" style="width: 120px;" class="easyui-datebox" required="required" data-options="formatter:icsdateformat,parser:icsdateparser" />
                        </td>
                    </tr>
                    <tr>
                        <td class="advIssDate" style="width:25%;">
                            <label>Approve Date :</label>
                        </td>
                        <td style="width:73%;" class="alignLeft">
                            <input id="chkApproveDateAdvSearch" type="checkbox" />
                            <input id="txtFromDateApproveDateAdvSearch" type="text" style="width: 120px;" class="easyui-datebox" required="required" data-options="formatter:icsdateformat,parser:icsdateparser" />To
                            <input id="txtToDateApproveDateAdvSearch" type="text" style="width: 120px;" class="easyui-datebox" required="required" data-options="formatter:icsdateformat,parser:icsdateparser" />
                        </td>
                    </tr>
                    <tr>
                        <td class="advIssDate" style="width:25%;">
                            <label>Receive Date :</label>
                        </td>
                        <td style="width:73%;" class="alignLeft">
                            <input id="chkReceiveDateAdvSearch" type="checkbox" />
                            <input id="txtFromDateReceiveDateAdvSearch" type="text" style="width: 120px;" class="easyui-datebox" required="required" data-options="formatter:icsdateformat,parser:icsdateparser" />To
                            <input id="txtToDateReceiveDateAdvSearch" type="text" style="width: 120px;" class="easyui-datebox" required="required" data-options="formatter:icsdateformat,parser:icsdateparser" />
                        </td>
                    </tr>
                    <tr>
                        <td class="advIssDate" style="width:25%;">
                            <label>Sub Date :</label>
                        </td>
                        <td style="width:73%;" class="alignLeft">
                            <input id="chkSubmissionDateAdvSearch" type="checkbox" />
                            <input id="txtFromDateSubmissionDateAdvSearch" type="text" style="width: 120px;" class="easyui-datebox" required="required" data-options="formatter:icsdateformat,parser:icsdateparser" />To
                            <input id="txtToDateSubmissionDateAdvSearch" type="text" style="width: 120px;" class="easyui-datebox" required="required" data-options="formatter:icsdateformat,parser:icsdateparser" />
                        </td>
                    </tr>
                    <tr>
                        <td style="width:25%;"></td>
                        <td style="text-align:left;width:73%;">
                            <input id="chkYetToLabDipAdvSearch" type="checkbox" style="margin-left:17px;" />
                            <label>Yet to LabDip</label>
                            <input id="chkYetToPatternAdvSearch" type="checkbox" style="margin-left: 11px;" />
                            <label>Yet to Pattern</label>
                        </td>
                    </tr>
                    <tr>
                        <td style="width:25%;"></td>
                        <td style="text-align:left;width:73%;">
                            <input id="chkApproveAdvSearch" type="checkbox" style="margin-left:17px;" />
                            <label style="display:inline;margin-right:20px;">Approve</label>
                            <input id="chkUnapproveAdvSearch" type="checkbox" style="margin-left: 21px;" />
                            <label>Unapprove</label>
                        </td>
                    </tr>
                </table>
            </div>
        </fieldset>
        <fieldset class="actionfieldsetstyle">
            <legend>Actions : </legend>
            <label class="lblLoadingMessage" style="float: left;">Loading Please Wait...</label>
            @*<a id="btnOkAdvSearchFabric" href="javascript:void(0)" class="easyui-linkbutton" iconcls="icon-ok" plain="true">Ok</a>*@
            <a id="btnResetAdvSearch" href="javascript:void(0)" class="easyui-linkbutton" iconcls="icon-reload" plain="true">Reset</a>
            <a id="btnSearchAdvSearch" href="javascript:void(0)" class="easyui-linkbutton" iconcls="icon-search" plain="true">Search</a>
            <a id="btnCloseAdvSearchFabric" href="javascript:void(0)" class="easyui-linkbutton" iconcls="icon-cancel" plain="true">Close</a>
        </fieldset>
    </div>

    <div id="winFabricHistory" class="easyui-window" title="Fabric Suggestion History" data-options="modal:true,closed:true,collapsible:false,minimizable:false,maximizable:false,closable:true">
        <table id="tblFabricHistory" class="easyui-datagrid" style="width:100%;height:298px;" fitcolumns="false" rownumbers="true" pagination="false" singleselect="true" autorowheight="false">
            <thead>
                <tr>
                    <th field="ModifiedTimeStr" width="12%">Modified Time</th>
                    <th field="ModifiedByName" width="10%">Modified By</th>
                    <th field="FabricNo" width="12%" align="left">PO NO</th>
                    <th field="ProductName" width="12%" align="left">Composition</th>
                    <th field="Construction" width="10%">Construction</th>
                    <th field="ColorInfo" width="10%">Color Info</th>
                    <th field="FabricWidth" width="10%">Fabric Width</th>
                    <th field="WeftColor" width="10%">Weft Color</th>
                    <th field="ActualConstruction" width="12%">Actual Construction</th>
                    <th field="FinishTypeName" width="10%">Finish Type</th>
                    <th field="ProcessTypeName" width="10%">Process Type</th>
                    <th field="CreatedByName" width="10%">Created By</th>
                </tr>
            </thead>
        </table>
        <fieldset class="actionfieldsetstyle">
            <legend>Actions : </legend>
            <a id="btnCloseFabricHistory" href="javascript:void(0)" class="easyui-linkbutton" iconcls="icon-cancel" plain="true">Close</a>
        </fieldset>
    </div>

    <div id="winFNLabdip" class="easyui-window winstyle" title="Labdip" data-options="modal:true,closed:true,collapsible:false,minimizable:false,maximizable:false,closable:false">
        <fieldset>
            <fieldset>
                <legend>Fabric Info</legend>
                <table border="0"cellpadding="2"cellspacing="2" style="width:100%">
                    <tr>
                        <td style="width:10%; text-align:right">
                            <label>Fabric ID </label>
                        </td>
                        <td style="width:15%; text-align:left">
                            <input id="txtFabricNo_LD" style="float:left;width:100%;" disabled="disabled" />
                        </td>
                        <td style="width:15%; text-align:right">
                            <label>Composition</label>
                        </td>
                        <td style="width:20%;text-align:left">
                            <input id="txtComposition_LD" style="width:100%;" disabled="disabled" />
                        </td>
                        <td style="width:20%;text-align:right">
                            <label>Construction</label>
                        </td>
                        <td style="width:20%;text-align:left">
                            <input id="txtConstruction_LD" style="float:left; width:100%;" disabled="disabled" />
                        </td>
                    </tr>
                   

                </table>
            </fieldset>
            <fieldset>
                <legend>LabDip entry</legend>
                <table style="width:100%">
                    <tr>
                        <td  style="width:10%;text-align:right">
                            <label>Color Name:</label>
                        </td>
                        <td style="width:15%;text-align:left">
                            <input id="txtColorNameLD" class="reset-text" style="width:100%;" placeholder="Type Color Name" />
                        </td>
                        <td style="width:10%;text-align:right">
                            <label>Panton No:</label>

                        </td>
                        <td style="width:15%;text-align:left">
                            <input id="txtPantonNo" class="reset-text" placeholder="Panton No" />
                        </td>
                        <td style="width:10%;text-align:right">
                            <label>Shade Count:</label>
                        </td>
                        <td style="width:5%;text-align:left">
                            @*<input id="txtColorSet" type="number" min="0" pattern="^[0-9]" step="1" class="only-number combo-number" />*@
                            <select style="width: 100%;" id="cboShadeCount">
                                <option value="1">1</option>
                                <option value="2">2</option>
                                <option value="3">3</option>
                                <option value="4">4</option>
                                <option value="5">5</option>
                                <option value="6">6</option>
                                <option value="7">7</option>
                                <option value="8">8</option>
                                <option value="9">9</option>
                                <option value="10">10</option>
                            </select>
                        </td>
                        <td style="width:10%;text-align:right">
                          
                        </td>
                        <td style="width:5%;text-align:left">
                         
                        </td>
                        <td style=" width:6%;text-align:right">
                            @*<label>No. Ply:</label>*@
                        </td>
                        <td style="width:5%;text-align:left">
                         
                        </td>

                    </tr>
                    <tr>
                        <td style="width:10%;text-align:right">
                            <label>Ref No:</label>
                        </td>
                        <td style="width:15%;text-align:left">
                            <input id="txtRGB" class="reset-text" style="width:100%;" placeholder="Ref No" />
                        </td>
                        <td style="width:10%;text-align:right">
                            <label>Remarks:</label>

                        </td>
                        <td colspan="6" style="width:15%;text-align:left">
                            <input id="txtNoteLD" style="width:100%;" placeholder="Note" />
                        </td>
                      
                    </tr>
                   
                </table>
            </fieldset>
            <div style="padding-left:2px; padding-right:2px;">
                <table id="tblLabDipDetail" class="easyui-datagrid" style="height:200px; width:100%;" fitcolumns="true" rownumbers="true" pagination="false" singleselect="true" autorowheight="false" toolbar="#toolbarLabDip" >
                    <thead>
                        <tr>
                            @*<th data-options="field:'Selected',checkbox:true"> </th*@
                            <th field="ColorName" width="15%" align="center">Color Name</th>
                            <th field="PantonNo" width="15%" align="center">Panton No</th>
                            <th field="LabdipNo" width="10%" align="center"><label id="lblColorNoNameTwo">LD No</label></th>
                            <th field="ColorSet" width="6%" align="center">Color Set</th>
                            <th field="ShadeCount" width="6%" align="center">Shade</th>
                            <th field="RGB" width="10%" align="center">Ref No</th>
                            <th field="Note" width="20%" align="center">Remarks</th>
                            <th field="Status" width="10%" align="left">Status</th>
                            <th field="ShadeStr" width="6%" align="left">Shade(Approve)</th>
                        </tr>
                    </thead>
                </table>
                <div id="toolbarLabDip">
                    <a id="btnAddLabDip" href="javascript:void(0)" class="easyui-linkbutton" iconcls="icon-add" plain="true">Add</a>
                    <a id="btnUpdateLabDip" href="javascript:void(0)" class="easyui-linkbutton" iconcls="icon-edit" plain="true">Update</a>
                    <a id="btnEditLabDip" href="javascript:void(0)" class="easyui-linkbutton" iconcls="icon-edit" plain="true">Edit</a>
                    <a id="btnRemoveLabDip" href="javascript:void(0)" class="easyui-linkbutton" iconcls="icon-remove" plain="true">Remove</a>
                    <a id="btnReLabDip" href="javascript:void(0)" class="easyui-linkbutton" iconcls="icon-add" plain="true">Re-Lab</a>
                    <input id="txtLDNo" type="text" style="width:100px;margin:0 5px 0 5px;" placeholder="Type new LD No" />
                    <a id="btnSaveLDNo" href="javascript:void(0)" class="easyui-linkbutton" iconcls="icon-add" plain="true"> LD No Issue</a>
                    <a id="btnAssignShade" href="javascript:void(0)" class="easyui-linkbutton" iconcls="icon-ok" plain="true">Assign Shade</a>

                </div>
            </div>
        </fieldset>
        <fieldset >
            <legend>Actions : </legend>
            <table border="0" cellpadding="0" cellspacing="0" style="width:100%;">
                <tr>
                    <td style="text-align:left"></td>
                    <td style ="text-align:right">
                        <a id="btnCloseLD" href="javascript:void(0)" class="easyui-linkbutton" iconcls="icon-cancel" plain="true">Close</a>
                        </td>
</tr>
            </table>
        </fieldset>
    </div>
    <div id="winColorNoEntry" style="width:300px;" class="easyui-window" title="Fabric Analysis " data-options="modal:true,closed:true,collapsible:false,minimizable:false,maximizable:false,closable:true">
        <div id="divInvoiceStatusUpdate">
            <table>
                <tr>
                    <td style="width:30%;text-align:right">
                        LD/Color No:
                    </td>
                    <td colspan="3" style="width:50%">
                        <input type="text" id="txtColorNoLD" style="width:100%" />
                    </td>
                </tr>
                <tr>
                    <td style="width:30%;text-align:right">
                        Color Name:
                    </td>
                    <td colspan="3" style="width:50%">
                        <input type="text" style="width:150px;" id="txtColorName_LD" />
                    </td>
                </tr>
                <tr>
                    <td style="width:30%;text-align:right">
                        Receive Date:
                    </td>
                    <td colspan="3" style="width:50%">
                        <input id="txtReceiveDate" type="text" style="width:70%;" class="easyui-datebox" required="required" data-options="formatter:icsdateformat,parser:icsdateparser" />
                    </td>
                </tr>
                

                <tr>
                    <td style="width:30%;text-align:right">
                        new F.A. No:
                    </td>
                    <td colspan="3" style="width:50%">
                        <input type="text" style="width:150px;" id="txtHandLoomNo" />
                    </td>
                </tr>
                <tr>
                    <td style="width:30%;text-align:right">
                        Fabric Code:
                    </td>
                    <td colspan="3" style="width:50%">
                        <input type="text" style="width:150px;" id="txtFabricCode" />
                    </td>
                </tr>
            </table>

        </div>
        <fieldset class="actionfieldsetstyle">
            <legend>Actions : </legend>
            <a id="btnSaveColorNo" href="javascript:void(0)" class="easyui-linkbutton" iconcls="icon-save" plain="true">Save</a>
            <a id="btnCloseColorNo" href="javascript:void(0)" class="easyui-linkbutton" iconcls="icon-cancel" plain="true">Close</a>
        </fieldset>
    </div>
</body>

<style type="text/css">
    .tdInputChk {
        width: 100%;
    }
    .tdInputChk ul{
        padding: 0;
        margin: 0;
    }
    .tdInputChk ul li{
        display: inline;
        list-style-type: none;
        margin:0 9px 0 0;   
    }
    /*.tdInputChk ul li input{
        margin: 0 2px 0 0;
    }*/
    .tdInput input {
        width: 96%;
    }
    .tdInputC input {
        width: 96%;
    }
    .tdInput select {
        width: 96%;
    }

    #winAdvSearchFabric {
        width: 776px;
    }
    .btnResetSearch input[type="button"] {
        width: 20%;
    }

    #winAdvSearchFabric .actionfieldsetstyle {
        margin: 0 5px 2px 5px;
    }

    #winFabricAttachment {
        width: 800px;
    }
    .tblASWrapper td {
        text-align:right;
    }
    .advIssDate {
        text-align:right;
    }
    .alignLeft {
        text-align:left !important;
    }
    .lblStar {
        color: red;
        font-weight: bold;
    }
</style>

<script type="text/javascript">
    var _sBaseAddress = "";
    var _oFabric = null;
    var _oFabrics = [];
    var _oFabricSticker=null;
    var _oFinishTypes = [];
    var _oCompareOperators = [];
    
    var _oPriorityLevels = [];
    var _oSwatchTypes = [];
    var _oProcessTypes=[];
    var _oFabricWeaves=[];
    var _oFabricDesigns=[];
    var _oLightSources=[];
    var _nCurrentUserID=0;
    var _oProducts=[];
    var _nBUID = 0;
    var _nSelectedRowIndex = -1;
    var _oFNLabDipDetails = [];
    var _oFNLabDipDetail = null;
    var _oFabricOrderSetups=[];
    $(document).ready(function() {
        _sBaseAddress = @Html.Raw(new System.Web.Script.Serialization.JavaScriptSerializer().Serialize(HttpContext.Current.Session[SessionInfo.BaseAddress]));
        _oFabrics = @Html.Raw(new System.Web.Script.Serialization.JavaScriptSerializer().Serialize(Model));
        _oFinishTypes = @Html.Raw(new System.Web.Script.Serialization.JavaScriptSerializer().Serialize(ViewBag.FinishTypes));
        _oCompareOperators = @Html.Raw(new System.Web.Script.Serialization.JavaScriptSerializer().Serialize(ViewBag.CompareOperators));
        _oPriorityLevels = @Html.Raw(new System.Web.Script.Serialization.JavaScriptSerializer().Serialize(ViewBag.PriorityLevels));
        _oSwatchTypes = @Html.Raw(new System.Web.Script.Serialization.JavaScriptSerializer().Serialize(ViewBag.SwatchTypes));
        _oProcessTypes = @Html.Raw(new System.Web.Script.Serialization.JavaScriptSerializer().Serialize(ViewBag.ProcessTypes));
        _oFabricWeaves = @Html.Raw(new System.Web.Script.Serialization.JavaScriptSerializer().Serialize(ViewBag.FabricWeaves));
        _oFabricDesigns = @Html.Raw(new System.Web.Script.Serialization.JavaScriptSerializer().Serialize(ViewBag.FabricDesigns));
        _oLightSources = @Html.Raw(new System.Web.Script.Serialization.JavaScriptSerializer().Serialize(ViewBag.LightSources));
        _oProducts = @Html.Raw(new System.Web.Script.Serialization.JavaScriptSerializer().Serialize(ViewBag.Products));
        _nBUID = @Html.Raw(new System.Web.Script.Serialization.JavaScriptSerializer().Serialize(ViewBag.BUID));
        _nCurrentUserID = @Html.Raw(new System.Web.Script.Serialization.JavaScriptSerializer().Serialize(ViewBag.CurrentUserID));
        var oFabricPOSetup = @Html.Raw(new System.Web.Script.Serialization.JavaScriptSerializer().Serialize(ViewBag.FabricPOSetup));
        _oFabricOrderSetups= @Html.Raw(new System.Web.Script.Serialization.JavaScriptSerializer().Serialize(ViewBag.FabricOrderSetups));
        var nIndex=-1;
        debugger
        sessionStorage.setItem("BUID", _nBUID);
        if(sessionStorage.getItem("Fabrics")!=null && sessionStorage.getItem("Fabrics").length>0)
        {
            _oFabrics= jQuery.parseJSON(sessionStorage.getItem('Fabrics'));
            nIndex= sessionStorage.getItem('SelectedRowIndex');
        }
        DynamicRefreshListForMultipleSelection(_oFabrics, "tblFabrics");
        if(nIndex>-1)
        {
            $('#tblFabrics').datagrid('selectRow',nIndex);
        }
        LoadComboboxesFabric();
        RefreshSetup(oFabricPOSetup);
        $(".lblLoadingMessage").hide();
        $("#progressbarParent").hide();
        sessionStorage.setItem("ParamsP","");
    });


    function RefreshSetup(oFabricPOSetup)
    {
        $('#lblFabricNoTwo,#lblFabricNo,#lblFabricNoAdv').html(oFabricPOSetup.FabricCode);
        $('#lblHONO').html("F.A No");
        
        $("#txtSearchbyFabricNo").attr("placeholder","Search by "+oFabricPOSetup.NoCode+" No");
        $("#txtP").attr("placeholder",oFabricPOSetup.NoCode);
        if(oFabricPOSetup.IsLDApply==false)
        {
            $('#btnAddFNLabdipDetail,#btnAddFNLabdipColor').hide();
        }
        $('#tblFabrics').datagrid('selectRow', parseInt(sessionStorage.getItem('SelectedRowIndex')));
    }
    function updateProgress() {
        var value =$('#progressbar').progressbar('getValue');
        if (value < 96){
            value += Math.floor(Math.random() * 10);
            $('#progressbar').progressbar('setValue', value);
        }
    }
    function hideShow(miliseconds) {
        $("#progressbarParent").hide();
    }

    $(document).keydown(function (e) { if (e.keyCode === 27) { $("div").icsWindow("close")}});

    function FormatIsTrue(value) {
        if (value) {
            var s = '<img src="@Url.Content("~/Content/CSS/icons/ok.png")"  style="width:15px;height:18px;"/>';
            return s;
        } else {
            return "";
        }
    }
    $('.only-number').keydown(function (e) {

        if ((e.which >= 48 && e.which <= 57) || (e.which >= 96 && e.which <= 105)|| e.which==9 || e.which==38 || e.which==40 || e.which==8 || e.which==37 || e.which==39 || e.which==46) {
            return true;
        }
        else {
            return false
        }
    });
    function LoadComboboxesFabric() {
        //$('#txtDateFabric,#txtFabricNoFabric,#txtDateFabric,#txtMktPersonsFabric,#txtContractorName,#txtBuyerReferenceFabric,#txtStyleNoFabric,#txtConstructionFabricPI,#cboPriorityLevelFabric,#txtHLNo,#txtNoteFabric,#tdInputDateBox,#txtHandLoomDate,#chkIsSample,#chkIsHandLoom, #chkIsBulk,#chkIsAnalysis ,#chkIsCAD,,#chkIsColor,#chkIsLabdip ,#chkIsYarnSkein').prop('disabled',true); 
        $("#cboFinishTypeFabric,#cboFinishTypeFabricSugg").icsLoadCombo({ List: _oFinishTypes,OptionValue: "FabricProcessID",   DisplayText: "Name" });
        $("#cboProductFabric,#cboProductIDWeft").icsLoadCombo({    List: _oProducts,    OptionValue: "ProductID",    DisplayText: "ProductName"   });
        $("#cboPriorityLevelFabric").icsLoadCombo({    List: _oPriorityLevels,    OptionValue: "Value",   DisplayText: "Text" });
        $("#cboProcessTypeFabric").icsLoadCombo({  List: _oProcessTypes, OptionValue: "FabricProcessID",  DisplayText: "Name" });
        $("#cboWeaveFabric").icsLoadCombo({  List: _oFabricWeaves,   OptionValue: "FabricProcessID",   DisplayText: "Name" });
        $("#cboFabricDesign").icsLoadCombo({  List: _oFabricDesigns,   OptionValue: "FabricProcessID",    DisplayText: "Name"  });
        $("#cboPrimaryLightSource,#cboSecondaryLightSource").icsLoadCombo({ List: _oLightSources,   OptionValue: "LightSourceID",   DisplayText: "Descriptions" });
        $("#cboFabricOrderType").icsLoadCombo({  List: _oFabricOrderSetups,  OptionValue: "FabricOrderType",  DisplayText: "OrderName" });
    }
    ////////
    $("#btnAdvSearchFabric").click(function () {
        $("#winAdvSearchFabric").icsWindow("open", "Advance Search");
        $("#txtBuyerReferenceFabricAdvSearch").focus();
        _sMAccountIds = "";
        _oBuyerIdAdvSearch = "";
        //DynamicRefreshList([], "tblFabricIDAdvSearch");
        DateActions();
        ResetAdvSearch();
        AllComboLoadsAdvSearchFabric();
        UnselectAllRowsOfATable();
    });

    $("#btnResetAdvSearch").click(function () {
        $(".lblLoadingMessage").hide();
        ResetAdvSearch();
    });

    $("#btnContractorAdv").click(function () {

        var sContractorName = $.trim($("#txtContractorNameAdv").val());
        /// 2 Buyer
        var oContractor = {
            Params: '2' + '~' + sContractorName,
        };
        GetContractorsAdv(oContractor);
    });

    $("#txtContractorNameAdv").keydown(function (e) {
        var nkeyCode = e.keyCode || e.which;
        if (nkeyCode == 13) {
            var sContractorName = $.trim($("#txtContractorNameAdv").val());

            if ($('#txtContractorNameAdv').val() == null || $('#txtContractorNameAdv').val() == "") {
                alert("Please Type Name or part Name and Press Enter.");
                $('#txtContractorNameAdv').focus();
                $("#txtContractorNameAdv").addClass("errorFieldBorder");
                return;
            }

            var oContractor = {
                Params: '2' + '~' + sContractorName,
            };
            GetContractorsAdv(oContractor);
        }
        else if (nkeyCode == 8) {
            $("#txtContractorNameAdv").val("");
            _oBuyerIdAdvSearch = "";

        }
    });

    $("#btnResetMktAccountdv").click(function () {

        $("#txtMktAccountAdv").val("");
        _sMAccountIds = "";
    });

    $("#btnMktAccountAdv").click(function () {
        debugger;
        var sName = $.trim($("#txtMktAccountAdv").val());
        GetMktPersons(sName);
    });

    $("#txtMktAccountAdv").keydown(function (e) {
        var nkeyCode = e.keyCode || e.which;
        if (nkeyCode == 13) {
            var sName = $.trim($("#txtMktAccountAdv").val());
            if ($('#txtMktAccountAdv').val() == null || $('#txtMktAccountAdv').val() == "") {
                alert("Please Type Name or part Name and Press Enter.");
                $('#txtMktAccountAdv').focus();
                return;
            }
            GetMktPersons(sName);
        }
        else if (nkeyCode == 8) {
            $("#txtMktAccount").val("");
            _sMAccountIds = "";
        }
    });

    $("#chkIssueDateAdvSearch").change(function () {
        if (this.checked) {
            $("#txtFromDateIssueDateAdvSearch,#txtToDateIssueDateAdvSearch").datebox({ disabled: false });
            $("#txtFromDateIssueDateAdvSearch,#txtToDateIssueDateAdvSearch").datebox("setValue", icsdateformat(new Date()));
        } else {
            $("#txtFromDateIssueDateAdvSearch,#txtToDateIssueDateAdvSearch").datebox({ disabled: true });
            $("#txtFromDateIssueDateAdvSearch,#txtToDateIssueDateAdvSearch").datebox("setValue", icsdateformat(new Date()));
        }
    });

    $("#chkLabDipRequestAdvSearch").change(function () {
        if (this.checked) {
            $("#txtFromDateLabDipRequestAdvSearch,#txtToDateLabDipRequestAdvSearch").datebox({ disabled: false });
            $("#txtFromDateLabDipRequestAdvSearch,#txtToDateLabDipRequestAdvSearch").datebox("setValue", icsdateformat(new Date()));
        } else {
            $("#txtFromDateLabDipRequestAdvSearch,#txtToDateLabDipRequestAdvSearch").datebox({ disabled: true });
            $("#txtFromDateLabDipRequestAdvSearch,#txtToDateLabDipRequestAdvSearch").datebox("setValue", icsdateformat(new Date()));
        }
    });

    $("#chkFabricPatternAdvSearch").change(function () {
        if (this.checked) {
            $("#txtFromDateLabFabricPatternAdvSearch,#txtToDateFabricPatternAdvSearch").datebox({ disabled: false });
            $("#txtFromDateLabFabricPatternAdvSearch,#txtToDateFabricPatternAdvSearch").datebox("setValue", icsdateformat(new Date()));
        } else {
            $("#txtFromDateLabFabricPatternAdvSearch,#txtToDateFabricPatternAdvSearch").datebox({ disabled: true });
            $("#txtFromDateLabFabricPatternAdvSearch,#txtToDateFabricPatternAdvSearch").datebox("setValue", icsdateformat(new Date()));
        }
    });

    $("#chkApproveDateAdvSearch").change(function () {
        if (this.checked) {
            $("#txtFromDateApproveDateAdvSearch,#txtToDateApproveDateAdvSearch").datebox({ disabled: false });
            $("#txtFromDateApproveDateAdvSearch,#txtToDateApproveDateAdvSearch").datebox("setValue", icsdateformat(new Date()));
        } else {
            $("#txtFromDateApproveDateAdvSearch,#txtToDateApproveDateAdvSearch").datebox({ disabled: true });
            $("#txtFromDateApproveDateAdvSearch,#txtToDateApproveDateAdvSearch").datebox("setValue", icsdateformat(new Date()));
        }
    });

    $("#chkSubmissionDateAdvSearch").change(function () {
        if (this.checked) {
            $("#txtFromDateSubmissionDateAdvSearch,#txtToDateSubmissionDateAdvSearch").datebox({ disabled: false });
            $("#txtFromDateSubmissionDateAdvSearch,#txtToDateSubmissionDateAdvSearch").datebox("setValue", icsdateformat(new Date()));
        } else {
            $("#txtFromDateSubmissionDateAdvSearch,#txtToDateSubmissionDateAdvSearch").datebox({ disabled: true });
            $("#txtFromDateSubmissionDateAdvSearch,#txtToDateSubmissionDateAdvSearch").datebox("setValue", icsdateformat(new Date()));
        }
    });

    $("#chkReceiveDateAdvSearch").change(function () {
        if (this.checked) {
            $("#txtFromDateReceiveDateAdvSearch,#txtToDateReceiveDateAdvSearch").datebox({ disabled: false });
            $("#txtFromDateReceiveDateAdvSearch,#txtToDateReceiveDateAdvSearch").datebox("setValue", icsdateformat(new Date()));
        } else {
            $("#txtFromDateReceiveDateAdvSearch,#txtToDateReceiveDateAdvSearch").datebox({ disabled: true });
            $("#txtFromDateReceiveDateAdvSearch,#txtToDateReceiveDateAdvSearch").datebox("setValue", icsdateformat(new Date()));
        }
    });

    $("#btnSearchAdvSearch").click(function () {

        var sFabricNo = $("#txtBuyerReferenceFabricAdvSearch").val();
        var nBuyerID = _oBuyerIdAdvSearch;
        var nProductID = 0;//parseInt(_oProductIdAdvSearch); //Composition
        var sBuyerReference = $("#txtBuyerReferenceAdvSearch").val();
        var sProductName = $("#txtCompositionAdvSearch").val();

        var nFinishTypeInInt = parseInt($("#cboFinishTypeAdvSearch").val());

        var bIsIssueDate = $("#chkIssueDateAdvSearch").is(':checked');
        var dFromIssueDate = $('#txtFromDateIssueDateAdvSearch').datebox('getValue');
        var dToIssueDate = $('#txtToDateIssueDateAdvSearch').datebox('getValue');

        var bIsLabDipReqDate = $("#chkLabDipRequestAdvSearch").is(':checked');
        var dFromLabDipReqDate = $('#txtFromDateLabDipRequestAdvSearch').datebox('getValue');
        var dToLabDipReqDate = $('#txtToDateLabDipRequestAdvSearch').datebox('getValue');

        var bIsFabricPatternDate = $("#chkFabricPatternAdvSearch").is(':checked');
        var dFromFabricPatternDate = $('#txtFromDateLabFabricPatternAdvSearch').datebox('getValue');
        var dToFabricPatternDate = $('#txtToDateFabricPatternAdvSearch').datebox('getValue');

        var bIsApproveDate = $("#chkApproveDateAdvSearch").is(':checked');
        var dFromApproveDate = $('#txtFromDateApproveDateAdvSearch').datebox('getValue');
        var dToApproveDate = $('#txtToDateApproveDateAdvSearch').datebox('getValue');

        var bIsYetToLabDip = $("#chkYetToLabDipAdvSearch").is(':checked');
        var bYetToPattern = $("#chkYetToPatternAdvSearch").is(':checked');

        var nProcessTypeInInt = parseInt($("#cboProcessTypeAdvSearch").val());
        var sConstruction = $.trim($("#txtConstructionAdvSearch").val());

        var bApprove = $("#chkApproveAdvSearch").is(':checked');
        var bUnapprove = $("#chkUnapproveAdvSearch").is(':checked');

        var bIsSubmissionDate = $("#chkSubmissionDateAdvSearch").is(':checked');
        var dFromSubmissionDate = $('#txtFromDateSubmissionDateAdvSearch').datebox('getValue');
        var dToSubmissionDate = $('#txtToDateSubmissionDateAdvSearch').datebox('getValue');

        var bIsReceiveDate = $("#chkReceiveDateAdvSearch").is(':checked');
        var dFromReceiveDate = $('#txtFromDateReceiveDateAdvSearch').datebox('getValue');
        var dToReceiveDate = $('#txtToDateReceiveDateAdvSearch').datebox('getValue');

        var nWeaveTypeInInt = parseInt($("#cboWeaveTypeAdvSearch").val());
        var nFabricDesignInInt = parseInt($("#cboFabricDesignTypeAdvSearch").val());

        var sColor = $.trim($("#txtColorAdvSearch").val());
        var sStyle = $.trim($("#txtStyleAdvSearch").val());

        var oFabric = {
            Remarks: sFabricNo + "~" +
                     nBuyerID + "~" +
                     nProductID + "~" +
                     sBuyerReference + "~" +
                     sProductName + "~" +
                     _sMAccountIds + "~" +
                     nFinishTypeInInt + "~" +
                     bIsIssueDate + "~" +
                     dFromIssueDate + "~" +
                     dToIssueDate + "~" +
                     bIsLabDipReqDate + "~" +
                     dFromLabDipReqDate + "~" +
                     dToLabDipReqDate + "~" +
                     bIsFabricPatternDate + "~" +
                     dFromFabricPatternDate + "~" +
                     dToFabricPatternDate + "~" +
                     bIsApproveDate + "~" +
                     dFromApproveDate + "~" +
                     dToApproveDate + "~" +
                     bIsYetToLabDip + "~" +
                     bYetToPattern + "~" +
                     nProcessTypeInInt + "~" +
                     sConstruction + "~" +
                     bApprove + "~" +
                     bUnapprove + "~" +
                     bIsSubmissionDate + "~" +
                     dFromSubmissionDate + "~" +
                     dToSubmissionDate + "~" +
                     bIsReceiveDate + "~" +
                     dFromReceiveDate + "~" +
                     dToReceiveDate + "~" +
                     nWeaveTypeInInt + "~" +
                     nFabricDesignInInt + "~" +
                     sColor + "~" +
                     sStyle
        };

        sessionStorage.setItem("ParamsP", oFabric.Remarks);
        var sParams = sessionStorage.getItem("ParamsP");
        $(".lblLoadingMessage").show();
        $.ajax({
            type: "POST",
            dataType: "json",
            url: _sBaseAddress + "/Fabric/AdvSearch",
            traditional: true,
            data: JSON.stringify(oFabric),
            contentType: "application/json; charset=utf-8",
            success: function (data) {
                $(".lblLoadingMessage").hide();
                var oFabrics = data;
                if (oFabrics.length > 0) {
                    if ($.trim(oFabrics[0].ErrorMessage) == "") {
                        DynamicRefreshList(oFabrics, "tblFabrics");
                        $("#winAdvSearchFabric").icsWindow("close");
                    }
                    else {
                        alert(oFabrics[0].ErrorMessage);
                        DynamicRefreshList([], "tblFabrics");
                    }
                }
                else {
                    alert("No data found.");
                    DynamicRefreshList([], "tblFabrics");
                }
            }
        });
    });

    $("#btnCloseAdvSearchFabric").click(function () {
        $("#winAdvSearchFabric").icsWindow("close");
    });

    $("#btnResetContractorAdv").click(function () {
        $("#txtContractorNameAdv").val("");
        _oBuyerIdAdvSearch = "";
    });

    function ResetAdvSearch() {
        debugger;
        $(".lblLoadingMessage").hide();
        $("#txtFromDateApproveDateAdvSearch,#txtToDateApproveDateAdvSearch,#txtFromDateSubmissionDateAdvSearch,#txtToDateSubmissionDateAdvSearch,#txtFromDateLabFabricPatternAdvSearch,#txtToDateFabricPatternAdvSearch,#txtFromDateLabDipRequestAdvSearch,#txtToDateLabDipRequestAdvSearch,#txtFromDateIssueDateAdvSearch,#txtToDateIssueDateAdvSearch,#txtFromDateReceiveDateAdvSearch,#txtToDateReceiveDateAdvSearch").datebox({ disabled: true });
        $("#txtFromDateApproveDateAdvSearch,#txtToDateApproveDateAdvSearch,#txtFromDateSubmissionDateAdvSearch,#txtToDateSubmissionDateAdvSearch,#txtFromDateLabFabricPatternAdvSearch,#txtToDateFabricPatternAdvSearch,#txtFromDateLabDipRequestAdvSearch,#txtToDateLabDipRequestAdvSearch,#txtFromDateIssueDateAdvSearch,#txtToDateIssueDateAdvSearch,#txtFromDateReceiveDateAdvSearch,#txtToDateReceiveDateAdvSearch").datebox("setValue", icsdateformat(new Date()));
        $("#txtBuyerReferenceFabricAdvSearch").val("");
        _oBuyerIdAdvSearch = "";
        _sMAccountIds = "";
        $("#txtBuyerReferenceAdvSearch").val("");
        $("#txtCompositionAdvSearch").val("");

        document.getElementById("chkIssueDateAdvSearch").checked = false;
        document.getElementById("chkLabDipRequestAdvSearch").checked = false;
        document.getElementById("chkFabricPatternAdvSearch").checked = false;
        document.getElementById("chkApproveDateAdvSearch").checked = false;
        document.getElementById("chkYetToLabDipAdvSearch").checked = false;
        document.getElementById("chkApproveAdvSearch").checked = false;
        document.getElementById("chkUnapproveAdvSearch").checked = false;
        document.getElementById("chkSubmissionDateAdvSearch").checked = false;
        document.getElementById("chkReceiveDateAdvSearch").checked = false;

        $("#txtColorAdvSearch").val("");
        $("#txtStyleAdvSearch").val("");
        $("#txtConstructionAdvSearch").val("");

        $("#txtContractorNameAdv").val("");
        $("#txtMktAccountAdv").val("");
    }

    function DateActions() {
        DynamicDateActions("cboDateOptionAdvSearch", "txtFromDateIssueDateAdvSearch", "txtToDateIssueDateAdvSearch");
    }

    function AllComboLoadsAdvSearchFabric() {

        $("#cboDateOptionAdvSearch").icsLoadCombo({
            List: _oCompareOperators,
            OptionValue: "Value",
            DisplayText: "Text"
        });

        $("#cboFinishTypeAdvSearch").icsLoadCombo({
            List: _oFinishTypes,
            OptionValue: "FabricProcessID",
            DisplayText: "Name"
        });


        $("#cboProcessTypeAdvSearch").icsLoadCombo({
            List: _oProcessTypes,
            OptionValue: "FabricProcessID",
            DisplayText: "Name"
        });

        $("#cboWeaveTypeAdvSearch").icsLoadCombo({
            List: _oFabricWeaves,
            OptionValue: "FabricProcessID",
            DisplayText: "Name"
        });

        $("#cboFabricDesignTypeAdvSearch").icsLoadCombo({
            List: _oFabricDesigns,
            OptionValue: "FabricProcessID",
            DisplayText: "Name"
        });

    }

    function GetContractorsAdv(oContractor) {

        var obj = {
            BaseAddress: _sBaseAddress,
            Object: oContractor,
            ControllerName: "Contractor",
            ActionName: "ContractorSearchByNameType",
            IsWinClose: false
        };
        $("#progressbar").progressbar({ value: 0 });
        $("#progressbarParent").show();
        var intervalID = setInterval(updateProgress, 250);
        $.icsDataGets(obj, function (response) {
            clearInterval(intervalID);
            $("#progressbarParent").hide();
            if (response.status && response.objs.length > 0) {
                if (response.objs[0].ContractorID > 0) {
                    debugger;
                    var tblColums = [];
                    var oColumn = { field: "ContractorID", title: "Code", width: 50, align: "center" }; tblColums.push(oColumn);
                    oColumn = { field: "Name", title: "Name", width: 190, align: "left" }; tblColums.push(oColumn);
                    oColumn = { field: "Phone", title: "Phone", width: 140, align: "left" }; tblColums.push(oColumn);

                    var oPickerParam = {
                        winid: 'winContractorAdvPicker',
                        winclass: 'clsContractorAdvPicker',
                        winwidth: 460,
                        winheight: 460,
                        tableid: 'tblContractorAdvPicker',
                        tablecolumns: tblColums,
                        datalist: response.objs,
                        multiplereturn: true,
                        searchingbyfieldName: 'Name',
                        windowTittle: 'Contractor List'
                    };
                    $.icsPicker(oPickerParam);
                    IntializePickerbutton(oPickerParam);//multiplereturn, winclassName
                }
                else { alert(response.objs[0].ErrorMessage); }
            }
            else {
                alert("No contractor found.");
            }
        });

    }

    function GetMktPersons(sName) {

        var oMarketingAccount_BU = {
            Name: sName,
            BUID: sessionStorage.getItem("BUID")
        };
        var obj = {
            BaseAddress: _sBaseAddress,
            Object: oMarketingAccount_BU,
            ControllerName: "MarketingAccount",
            ActionName: "MarketingAccountSearchByNameAndGroup",
            IsWinClose: false
        };

        $.icsDataGets(obj, function (response) {

            if (response.status && response.objs.length > 0) {
                if (response.objs[0].MarketingAccountID > 0) {
                    debugger;
                    var tblColums = [];
                    var oColumn = { field: "MarketingAccountID", title: "Code", width: 50, align: "left" }; tblColums.push(oColumn);
                    oColumn = { field: "Name", title: "Name", width: 180, align: "left" }; tblColums.push(oColumn);
                    oColumn = { field: "GroupName", title: "GroupName", width: 120, align: "left" }; tblColums.push(oColumn);
                    oColumn = { field: "Phone", title: "Phone", width: 100, align: "left" }; tblColums.push(oColumn);

                    var oPickerParam = {
                        winid: 'winMktAccount',
                        winclass: 'clsMktPersonPicker',
                        winwidth: 460,
                        winheight: 460,
                        tableid: 'tblMktPersonPicker',
                        tablecolumns: tblColums,
                        datalist: response.objs,
                        multiplereturn: true,
                        searchingbyfieldName: 'Name',
                        windowTittle: 'MKT Person List'
                    };
                    $.icsPicker(oPickerParam);
                    IntializePickerbutton(oPickerParam);//multiplereturn, winclassName
                }
                else { alert(response.objs[0].ErrorMessage); }
            }
            else {
                alert("No marketing person found.");
            }
        });


    }

    function IntializePickerbutton(oPickerobj) {
        $("#" + oPickerobj.winid).find("#btnOk").click(function () {
            //for Single Select
            SetPickerValueAssign(oPickerobj);
        });
        $(document).find('.' + oPickerobj.winclass).keydown(function (e) {
            if (e.which == 13)//enter=13
            {
                SetPickerValueAssign(oPickerobj);

            }
        });
    }

    function SetPickerValueAssign(oPickerobj) {
        debugger;
        var oreturnObj = null, oreturnobjs = [];
        if (oPickerobj.multiplereturn) {
            oreturnobjs = $('#' + oPickerobj.tableid).datagrid('getChecked');
        } else {
            oreturnObj = $('#' + oPickerobj.tableid).datagrid('getSelected');
        }
        $("#" + oPickerobj.winid).icsWindow("close");
        $("#" + oPickerobj.winid).remove();
        if (oPickerobj.winid == 'winContractorPicker') {
            if (oreturnObj != null && oreturnObj.ContractorID > 0) {
                $('#txtContractorName').val(oreturnObj.Name);
                _nContractorID = oreturnObj.ContractorID;
            }
            else {
                alert("Data not found");
            }
        }
        else if (oPickerobj.winid == 'winContractorAdvPicker') {
            if (oreturnobjs != null && oreturnobjs.length > 0) {
                debugger;
                _oBuyerIdAdvSearch = ''; var sMessage = '';
                sMessage = (oreturnobjs.length > 1) ? oreturnobjs.length + " Contractors Selected" : oreturnobjs[0].Name;
                $('#txtContractorNameAdv').val(sMessage);
                $("#txtContractorNameAdv").addClass("fontColorOfPickItem");

                for (var i = 0; i < oreturnobjs.length; i++) {
                    _oBuyerIdAdvSearch = _oBuyerIdAdvSearch + oreturnobjs[i].ContractorID + ',';
                }
                _oBuyerIdAdvSearch = _oBuyerIdAdvSearch.substring(0, _oBuyerIdAdvSearch.length - 1);

            }
            else {
                alert("Data Not Found.");
                return;
            }
        }

        else if (oPickerobj.winid == 'winMktAccount') {
            if (oreturnobjs != null && oreturnobjs.length > 0) {
                var sMessage = '';
                sMessage = (oreturnobjs.length > 1) ? oreturnobjs.length + "MKT Account(s) Selected" : oreturnobjs[0].Name;
                $('#txtMktAccountAdv').val(sMessage);
                $("#txtMktAccountAdv").addClass("fontColorOfPickItem");
                for (var i = 0; i < oreturnobjs.length; i++) {
                    _sMAccountIds = _sMAccountIds + oreturnobjs[i].MarketingAccountID + ',';
                }
                _sMAccountIds = _sMAccountIds.substring(0, _sMAccountIds.length - 1);

            }
            else {
                alert("Please select a MKt Account.");
                return false;
            }
        }

    }
    $('#txtSearchbyFabricNo').keyup(function (e) {
        var obj =
        {
            Event: e,
            SearchProperty: "FabricNo",
            GlobalObjectList: _oFabrics,
            TableId: "tblFabrics"
        };
        $('#txtSearchbyFabricNo').icsSearchByText(obj);
    });

    $("#txtSearchbyFabricNo").keydown(function (e) {
        if (e.keyCode === 13) // Enter Press
        {
            if ($.trim($("#txtSearchbyFabricNo").val()).length === 0) {
                alert("Please enter some text.");
                return false;
            }
            //Ratin
            var oFabric = {
                FabricNo: $.trim($("#txtSearchbyFabricNo").val())
            };

            $("#progressbar").progressbar({ value: 0 });
            $("#progressbarParent").show();
            var intervalID = setInterval(updateProgress, 250);
            $.ajax({
                type: "POST",
                dataType: "json",
                url: _sBaseAddress + "/Fabric/SearchByFabricNo",
                traditional: true,
                data: JSON.stringify(oFabric),
                contentType: "application/json; charset=utf-8",
                success: function (data) {
                    debugger;
                    var oFabrics = data;
                    //alert(oFabrics.length + " - " + oFabric.BuyerName);
                    debugger;
                    if (oFabrics != null) {
                        if (oFabrics.length > 0) {
                            DynamicRefreshList(oFabrics, "tblFabrics");
                        }
                        else {
                            alert("Sorry, No data found.");
                            DynamicRefreshList([], "tblFabrics");
                        }

                    } else {
                        alert("Sorry, No data found.");
                        DynamicRefreshList([], "tblFabrics");
                    }
                    clearInterval(intervalID);
                    $("#progressbarParent").hide();
                }
            });
        }
    });

    $('#txtSearchByBuyerName').keyup(function (e) {
        var obj =
        {
            Event: e,
            SearchProperty: "BuyerName",
            GlobalObjectList: _oFabrics,
            TableId: "tblFabrics"
        };
        $('#txtSearchByBuyerName').icsSearchByText(obj);
    });

    $("#txtSearchByBuyerName").keydown(function (e) {
        if (e.keyCode === 13) // Enter Press
        {
            if ($.trim($("#txtSearchByBuyerName").val()).length === 0) {
                alert("Please enter some text.");
                return false;
            }
            var oFabric = {
                BuyerName: $.trim($("#txtSearchByBuyerName").val())
            };
            $("#progressbar").progressbar({ value: 0 });
            $("#progressbarParent").show();
            var intervalID = setInterval(updateProgress, 250);
            $.ajax({
                type: "POST",
                dataType: "json",
                url: _sBaseAddress + "/Fabric/SearchByBuyerName",
                traditional: true,
                data: JSON.stringify(oFabric),
                contentType: "application/json; charset=utf-8",
                success: function (data)
                {
                    debugger;
                    var oFabrics = data;
                    //alert(oFabrics.length + " - " + oFabric.BuyerName);
                    debugger;
                    if (oFabrics != null) {
                        if (oFabrics.length > 0) {
                            DynamicRefreshList(oFabrics, "tblFabrics");
                        }
                        else {
                            alert("Sorry, No data found.");
                            DynamicRefreshList([], "tblFabrics");
                        }

                    } else {
                        alert("Sorry, No data found.");
                        DynamicRefreshList([], "tblFabrics");
                    }
                    clearInterval(intervalID);
                    $("#progressbarParent").hide();
                }
            });
        }
    });

    //Print XL
    $("#btnPrintXL").click(function () {

        var sParams = sessionStorage.getItem("ParamsP");
        window.open(_sBaseAddress + '/Fabric/Print_ReportXL?sTempString=' + sParams, "_blank");
    });
    //Print XL
    $("#btnPrintAnalysis").click(function () {

        var oFabric= $('#tblFabrics').datagrid('getSelected');
        if(oFabric==null || oFabric.FabricID<=0){
            alert("Please select an item from list.");
            return false;
        }
        window.open(_sBaseAddress + '/Fabric/PrintFabricAnalysis?nFabricID=' + oFabric.FabricID+"&buid="+_nBUID, "_blank");
    });
    
    $("#btnAddFNLabdipColor").click(function () {
     
        debugger;
        var oFabric = $("#tblFabrics").datagrid("getSelected");
        if (oFabric == null || oFabric.FabricID <= 0) { alert("Please select an item from list!"); return; }
        _oFabric = oFabric;
        var SelectedRowIndex=$('#tblFabrics').datagrid('getRowIndex',oFabric);
        var oFabrics= $('#tblFabrics').datagrid('getRows');
        sessionStorage.setItem("Fabrics", JSON.stringify(oFabrics));
        sessionStorage.setItem("SelectedRowIndex", SelectedRowIndex);
        sessionStorage.setItem("Header", "Labdip ");
        sessionStorage.setItem("BackLink", window.location.href);
        window.location.href = _sBaseAddress+  "/FNLabDipDetail/ViewFNLabDipDetail?nid="+ oFabric.FabricID+"&buid="+_nBUID;

    });

    $('#btnReceiveFabric').click(function (e) {
        debugger;

        var oFabrics = $('#tblFabrics').datagrid('getChecked');
        if (oFabrics.length <= 0) {
            alert("Please checked at least one item.");
            return;
        }
        if (!confirm("Confirm to Receive?")) return false;

        var nSelectedIndex = 0;
        var indexLists = [];
        for (i = 0; i < oFabrics.length; ++i) {
            if (oFabrics[i].ApprovedBy == 0) {
                alert("Yet Not Approve!!." + "  No:" + oFabrics[i].FabricNo + ".");
                return;
            }
            oFabrics[i].ReceiveDate=icsdateformat(new Date());
            nSelectedIndex = $('#tblFabrics').datagrid('getRowIndex', oFabrics[i]);
            indexLists.push(nSelectedIndex);
        }

        $.ajax({
            type: "POST",
            dataType: "json",
            url: _sBaseAddress + "/Fabric/Received",
            traditional: true,
            data: JSON.stringify(oFabrics),
            contentType: "application/json; charset=utf-8",
            success: function (data) {
                oFabrics = jQuery.parseJSON(data);

                if (oFabrics[0].ErrorMessage == '' || oFabrics[0].ErrorMessage == null) {
                    for (i = 0; i < oFabrics.length; ++i) {
                        //oFabrics[i].IsOparate=-1;
                        $('#tblFabrics').datagrid('updateRow', { index: indexLists[i], row: oFabrics[i] });
                        $('#tblFabrics').datagrid('selectRow', indexLists[i]);
                    }
                    alert("Received  Successfully");

                }
                else {
                    alert(oFabrics[0].ErrorMessage);
                }
            },
            error: function (xhr, status, error) {
                alert(xhr + '~' + status + '~' + error);
            }
        });
    });
    $('#btnSubmitFabric').click(function (e) {
        debugger;

        var oFabrics = $('#tblFabrics').datagrid('getChecked');
        if (oFabrics.length <= 0) {
            alert("Please checked at least one item.");
            return;
        }
        if (!confirm("Confirm to Submit?")) return false;

        var nSelectedIndex = 0;
        var indexLists = [];
        for (i = 0; i < oFabrics.length; ++i) {
            if (oFabrics[i].ApprovedBy == 0) {
                alert("Yet Not Approve!!." + "  No:" + oFabrics[i].FabricNo + ".");
                return;
            }
            if (oFabrics[i].ReceiveDateSt=='-') {
                alert("Yet Not Receive!!." + "  No:" + oFabrics[i].FabricNo + ".");
                return;
            }
            oFabrics[i].SubmissionDate= icsdateformat(new Date());
            nSelectedIndex = $('#tblFabrics').datagrid('getRowIndex', oFabrics[i]);
            indexLists.push(nSelectedIndex);
        }

        $.ajax({
            type: "POST",
            dataType: "json",
            url: _sBaseAddress + "/Fabric/Submission",
            traditional: true,
            data: JSON.stringify(oFabrics),
            contentType: "application/json; charset=utf-8",
            success: function (data) {
                oFabrics = jQuery.parseJSON(data);

                if (oFabrics[0].ErrorMessage == '' || oFabrics[0].ErrorMessage == null) {
                    for (i = 0; i < oFabrics.length; ++i) {
                        //oFabrics[i].IsOparate=-1;
                        $('#tblFabrics').datagrid('updateRow', { index: indexLists[i], row: oFabrics[i] });
                        $('#tblFabrics').datagrid('selectRow', indexLists[i]);
                    }
                    alert("Received  Successfully");

                }
                else {
                    alert(oFabrics[0].ErrorMessage);
                }
            },
            error: function (xhr, status, error) {
                alert(xhr + '~' + status + '~' + error);
            }
        });
    });

 
    $('#btnCloseFabric').click(function(e){
        $('#winFabric').icsWindow('close');
    });
    function GetFabricInformation(oFabric) {
        var obj =
        {
            BaseAddress: _sBaseAddress,
            Object: oFabric,
            ControllerName: "Fabric",
            ActionName: "Get",
            IsWinClose: false
        };

        $.icsDataGet(obj, function (response) {
            if (response.status && response.obj != null) {
                if (response.obj.FabricID > 0) {
                    RefreshFabricControl(response.obj);
                }
                else {
                    alert(response.obj.ErrorMessage);
                }
            }
            else { alert("No information found."); }
        });
    }
    function RefreshFabricControl(oFabric) {
        debugger;
        _oFabric = oFabric;
        //if (oFabric.FabricNo.length > 0)
        //{
        //    oFabric.FabricNo = oFabric.FabricNo.substring(oFabric.FabricNo.length, 1);
        //}

        if (oFabric.FabricID>0)
            $('#btnShowHistory').show();
        //else
        //    $('#btnShowHistory').hide();

        $("#txtFabricNoFabric").val(oFabric.FabricNum);
        $("#txtBuyerReferenceFabric").val(oFabric.BuyerReference);
        //  $("#txtProduct").val(oFabric.ProductName);
        //_nProductId = oFabric.ProductID;
        $("#txtConstructionFabric").val(oFabric.Construction);
        //$("#txtConstructionFabricPI").val(oFabric.ConstructionPI);
        $("#txtFabricWidthFabric").val(oFabric.FabricWidth);
        $("#cboFinishTypeFabric").val(oFabric.FinishType);
        $("#cboFinishTypeFabricSugg").val(oFabric.FinishTypeSugg);
        $("#txtContractorName").val(oFabric.BuyerName);
        $("#txtMktPersonsFabric").val(oFabric.MKTPersonName);

        $("#txtStyleNoFabric").val(oFabric.StyleNo);
        $("#txtColorFabric").val(oFabric.ColorInfo);
        $("#chkWashFabric").prop("checked", oFabric.IsWash);
        $("#chkFinishFabric").prop("checked", oFabric.IsFinish);
        $("#chkDyeingFabric").prop("checked", oFabric.IsDyeing);
        $("#chkPrintFabric").prop("checked", oFabric.IsPrint);
        $("#txtNoteFabric").val(oFabric.Remarks);
        $("#txtDateFabric").datebox("setValue", oFabric.IssueDateInString);
        $("#txtSeekingDate").datebox("setValue", oFabric.SeekingSubmissionDateInString);
        $("#txtSubDateFabric").datebox("setValue", oFabric.SubmissionDateInString);
        $("#cboPriorityLevelFabric").val(oFabric.PriorityLevelInInt);
        $('#txtHLNo').val(oFabric.HandLoomNo);
        $('#txtActualConstruction').val(oFabric.ActualConstruction);
        $('#cboPrimaryLightSource').val(oFabric.PrimaryLightSourceID);
        $('#cboSecondaryLightSource').val(oFabric.SecondaryLightSourceID);
        $('#txtEndUse').val(oFabric.EndUse);
        //$('#txtNoOfFrame').val(oFabric.NoOfFrame);
        //$('#txtWeftColor').val(oFabric.WeftColor);
        $('#txtWarpCount').val(oFabric.WarpCount);
        $('#txtWeftCount').val(oFabric.WeftCount);
        $('#txtEPI').val(oFabric.EPI);
        $('#txtPPI').val(oFabric.PPI);
        $("#txtReceiveDateFabric").datebox("setValue", oFabric.ReceiveDateInString);
        $("#cboProcessTypeFabric").val(oFabric.ProcessType);
        $("#cboFabricDesign").val(oFabric.FabricDesignID);
        $("#cboWeaveFabric").val(oFabric.FabricWeave);
        $("#cboProductFabric").val(oFabric.ProductID);
        $("#cboProductIDWeft").val(oFabric.ProductIDWeft);
        $("#cboFabricOrderType").val(oFabric.FabricOrderTypeInt);
        $("#txtWeightAct").val(parseFloat(oFabric.WeightAct));
        $("#txtWeightCal").val(parseFloat(oFabric.WeightCal));
        $("#txtWeightDec").val(parseFloat(oFabric.WeightDec));
        $('#txtNoteRnD').val(oFabric.NoteRnD);
    }

    function RefreshObjectFabric() {
        debugger;
        var oFabric = {
            FabricID: (_oFabric == null ? 0 : _oFabric.FabricID),
            FabricNo: _oFabric.FabricNo,
            BuyerReference:_oFabric.BuyerReference,
            ProductID: parseInt($("#cboProductFabric").val()),     //Composition
            ProductIDWeft: parseInt($("#cboProductIDWeft").val()),     //Composition
            Construction: $.trim($("#txtConstructionFabric").val()),
            ConstructionPI: "", //$.trim($("#txtConstructionFabricPI").val()),
            FabricWidth: $.trim($("#txtFabricWidthFabric").val()),
            FinishType: parseInt($("#cboFinishTypeFabric").val()),
            FinishTypeSugg: parseInt($("#cboFinishTypeFabricSugg").val()),
            BuyerID:_oFabric.BuyerID,
            MKTPersonID: _oFabric.MKTPersonID,
            StyleNo: $.trim($("#txtStyleNoFabric").val()),
            ColorInfo: $.trim($("#txtColorFabric").val()),
            IsWash: $("#chkWashFabric").is(':checked'),
            IsFinish: $("#chkFinishFabric").is(':checked'),
            IsDyeing: $("#chkDyeingFabric").is(':checked'),
            IsPrint: $("#chkPrintFabric").is(':checked'),
            Remarks: $.trim($("#txtNoteFabric").val()),
            PriorityLevelInInt: parseInt($("#cboPriorityLevelFabric").val()),
            SeekingSubmissionDate: $('#txtSeekingDate').datebox('getValue'),
            ProcessType: parseInt($("#cboProcessTypeFabric").val()),
            FabricWeave: parseInt($("#cboWeaveFabric").val()),
            FabricDesignID: parseInt($("#cboFabricDesign").val()),
            WeightAct: parseFloat($("#txtWeightAct").val()),
            WeightCal: parseFloat($("#txtWeightCal").val()),
            WeightDec: parseFloat($("#txtWeightDec").val()),
            PrimaryLightSourceID: $('#cboPrimaryLightSource').val(),
            SecondaryLightSourceID: $('#cboSecondaryLightSource').val(),
            EndUse: $.trim($('#txtEndUse').val()),
            NoteRnD: $.trim($('#txtNoteRnD').val()),
            //NoOfFrame: $('#txtNoOfFrame').val(),
            //WeftColor: $('#txtWeftColor').val(),
            ActualConstruction: $('#txtActualConstruction').val(),
            WarpCount: $('#txtWarpCount').val(),
            WeftCount: $('#txtWeftCount').val(),
            EPI: $('#txtEPI').val(),
            PPI: $('#txtPPI').val(),
            FabricOrderTypeInt: parseInt($("#cboFabricOrderType").val())
        };
        return oFabric;
    }
    $("#btnSave_submit").click(function () {

        debugger;
        //if (!ValidateInputFabric()) return;
        var oFabric= $('#tblFabrics').datagrid('getSelected');
        _oFabric=oFabric;

        if(oFabric==null || oFabric.FabricID<=0){
            alert("Please select an item from list.");
            return false;
        }
        if(oFabric.ApprovedBy==0){
            alert("Yet Not Approve.");
            return false;
        }
        if (parseInt($("#cboFabricOrderType").val()) == 0) {
            alert("Please select Order Type!");
            $('#cboFabricOrderType').focus();
            $('#cboFabricOrderType').addClass("errorFieldBorder");
            return false;
        } else {
            $('#cboFabricOrderType').removeClass("errorFieldBorder");
        }

        if (parseInt($("#cboProductFabric").val()) == 0 || $("#cboProductFabric").val()==null) {
            alert("Please selectComposition !");
            $('#cboProductFabric').focus();
            $('#cboProductFabric').addClass("errorFieldBorder");
            return false;
        } else {
            $('#cboProductFabric').removeClass("errorFieldBorder");
        }
        //if(oFabric.HandLoomNo==null || oFabric.HandLoomNo==''){
        //    alert("Yet Not Received.");
        //    return false;
        //}
        var nSelectedRowIndex=$('#tblFabrics').datagrid('getRowIndex',oFabric);
        var oFabric = RefreshObjectFabric();
     
        oFabric.IssueDate = icsdateformat(new Date());
        oFabric.SeekingSubmissionDate = icsdateformat(new Date());
        oFabric.SubmissionDate = icsdateformat(new Date());
        oFabric.ReceiveDate = icsdateformat(new Date());
        //oFabric.FabricSeekingDates = RefreshObject_FabricSeekingDates();
        debugger;
        $.ajax({
            type: "POST",
            dataType: "json",
            url: _sBaseAddress + "/Fabric/SaveSubmission",
            traditional: true,
            data: JSON.stringify(oFabric),
            contentType: "application/json; charset=utf-8",
            success: function (data) {
                var oFabric = jQuery.parseJSON(data);
                if (oFabric.ErrorMessage == "") {
                    if (oFabric.FabricID > 0) {
                        alert("Data Save Successful.");
                        $("#winFabric").icsWindow("close");
                     
                        $('#tblFabrics').datagrid('updateRow', { index: nSelectedRowIndex, row: oFabric });
                        $("#tblFabrics").datagrid("selectRow", nIndex);
                    }
                }
                else {
                    alert(oFabric.ErrorMessage);
                }
            },
            error: function (xhr, status, error) {
                alert(error);
            }
        });
    });
    /// Labdip

    $("#btnAddFNLabdipDetail").click(function () {
        $("#winFNLabdip").icsWindow("open", "Add Labdip");
        var oFabric = $("#tblFabrics").datagrid("getSelected");
        if (oFabric == null || oFabric.FabricID <= 0) { alert("Please select an item from list!"); return; }
        _oFabric = oFabric;
        _nSelectedRowIndex = $('#tblFabrics').datagrid('getRowIndex', oFabric);
        RefreshCon_LabDip(_oFabric);

    });
    
    function RefreshCon_LabDip(oFabric) {
        debugger;
        $('#txtFabricNo_LD').val(oFabric.FabricNo);
        $('#txtComposition_LD').val(oFabric.ProductName);
        $('#txtConstruction_LD').val(oFabric.Construction);

        DynamicRefreshList(_oFNLabDipDetails, 'tblLabDipDetail');
        GetsFNLabDipDetails(oFabric);
    }
    function GetsFNLabDipDetails(oFabric)
    {
        var oFNLabDipDetail = { FNLabDipDetailID: 0, FabricID: oFabric.FabricID}
        var obj =
        {
            BaseAddress: _sBaseAddress,
            Object: oFNLabDipDetail,
            ControllerName: "FNLabDipDetail",
            ActionName: "GetByFabric",
            IsWinClose: false
        };
        debugger;
        $.icsDataGets(obj, function (response) {

            if (response.status && response.objs != null)
            {
                if (response.objs.length > 0)
                {
                    DynamicRefreshList(response.objs, 'tblLabDipDetail');
                }
            
            }
        
        });
    }

    function ValidateInputLabdip() {

        if ($("#txtColorNameLD").val() == "" || $("#txtColorNameLD").val() == null)
        {
            alert("Please, entry Color Name!");
            $('#txtColorNameLD').focus();
            $('#txtColorNameLD').addClass("errorFieldBorder");
            return false;
        } else {
            $('#txtColorNameLD').removeClass("errorFieldBorder");
        }
        return true;
    }
    function RefreshObjectDetail() {

        var oFNLabDipDetail = {
            FNLabDipDetailID: (_oFNLabDipDetail != null && _oFNLabDipDetail.FNLabDipDetailID > 0) ? _oFNLabDipDetail.FNLabDipDetailID : 0,
            FabricID: _oFabric.FabricID,
            ColorSet: 0,
            ShadeCount: $('#cboShadeCount').val(),
            //Combo: $('#cboCombo').val(),
            ColorName: $.trim($('#txtColorNameLD').val()),
            Note: $.trim($('#txtNoteLD').val()),
            PantonNo: $.trim($('#txtPantonNo').val()),
            RGB: $.trim($('#txtRGB').val()),
            ReferenceLDID:0
        }
        return oFNLabDipDetail;
    }

    function SaveLabDipDetail(bIsUpdate) {
        debugger;

        //if (!Validation()) return false;
        if (!ValidateInputLabdip()) return false;
        var oFNLabDipDetail = RefreshObjectDetail();
        oFNLabDipDetail.FNLabDipDetailID = (bIsUpdate) ? oFNLabDipDetail.FNLabDipDetailID : 0;
  

        var obj = {
            BaseAddress: _sBaseAddress,
            Object: oFNLabDipDetail,
            ObjectId: oFNLabDipDetail.FNLabDipDetailID,
            ControllerName: "FNLabDipDetail",
            ActionName: "SaveDetail",
            TableId: ((oFNLabDipDetail != null) ? "tblLabDipDetail" : ""),
            IsWinClose: false,
            Message: (oFNLabDipDetail.FNLabDipDetailID> 0) ? "Update Successfully." : "Save Successfully."
        };
        $.icsSave(obj, function (response) {
            if (response.status && response.obj != null) {
                debugger;
                if (response.obj.FNLabDipDetailID > 0) {
                    //if (response.obj.FabricID > 0)
                    //{
                    //    $('#tblLabDipDetail').datagrid('appendRow', response.obj);
                    //}
                    $('#txtColorNameLD').val("");
                    $('#txtPantonNo').val("");
                    $('#txtRGB').val("");
                    $('#txtNoteLD').val("");
                    $('#txtColorNameLD').focus();
                    $("#btnUpdateLabDip").hide();
                    $("#btnEditLabDip").show();
                }
            }
        });
    }
    $("#btnCloseLD").click(function () {
        $("#winFNLabdip").icsWindow('close');
        $(".wininputfieldstyle input").val("");
        //$("#chkIsOwnFabric").prop("checked", false);
    });

    $("#btnAddLabDip").click(function () {
        SaveLabDipDetail(false);
    });
    $("#btnUpdateLabDip").click(function () {
        SaveLabDipDetail(true);
    });
   
    $('#btnEditLabDip').click(function (e) {
        debugger;

        var oFNLabDipDetail = $("#tblLabDipDetail").datagrid("getSelected");
        if (oFNLabDipDetail == null || oFNLabDipDetail.FNLabDipDetailID <= 0) { alert("Please select an item from list!"); return false; }
        if (oFNLabDipDetail.ReceiveBY != 0) {
            alert("Already Received!");
            return;
        }
        if (oFNLabDipDetail.SubmitBy != 0) {
            alert("Already Submited!");
            return;
        }
        var obj =
        {
            BaseAddress: _sBaseAddress,
            Object: oFNLabDipDetail,
            ControllerName: "FNLabDipDetail",
            ActionName: "GetFNLabDipDetail",
            IsWinClose: false
        };

        $.icsDataGet(obj, function (response)
        {

            if (response.status && response.obj != null) {
                if (response.obj.FNLabDipDetailID > 0) {
                    _oFNLabDipDetail = response.obj;
                       
                    $("#btnUpdateLabDip").show();
                    $("#btnEditLabDip").hide();
                   
                    $('#cboShadeCount').val(response.obj.ShadeCount);
                    //$('#cboCombo').val(response.obj.Combo);
                    //$('#cboKnitPly').val(response.obj.KnitPlyYarn);
                    $('#txtColorNameLD').val(response.obj.ColorName);
                    $('#txtPantonNo').val(response.obj.PantonNo);
                    $('#txtRGB').val(response.obj.RGB);
                    $('#txtNoteLD').val(response.obj.Note);
                        
                    //$('#lblEditUpdate').text('Update');

                }
                else { alert(response.obj.ErrorMessage); }
            }
        });
      
    });

    $("#btnRemoveLabDip").click(function () {

        var oFNLabDipDetail = $("#tblLabDipDetail").datagrid("getSelected");
        if (oFNLabDipDetail == null || oFNLabDipDetail.FNLabDipDetailID <= 0) { alert("Please select an item from list!"); return false; }
        if (oFNLabDipDetail.ReceiveBY != 0) {
            alert("Already Received!");
            return;
        }
        if (oFNLabDipDetail.SubmitBy != 0) {
            alert("Already Submited!");
            return;
        }
        if (!confirm("Confirm to Delete?")) return false;
        var nIndex = $("#tblLabDipDetail").datagrid("getRowIndex", oFNLabDipDetail);
        var obj =
        {
            BaseAddress: _sBaseAddress,
            Object: oFNLabDipDetail,
            ControllerName: "FNLabDipDetail",
            ActionName: "DeleteDetail",
            TableId: "tblLabDipDetail",
            IsWinClose: false,
            Message: ''
        };
        $.icsDelete(obj, function (response) {
            if (response.status && response.Message == 'deleted')
            {
                var oLabdipdetails = $('#tblLabDipDetail').datagrid('getRows');
                DynamicRefreshList(oLabdipdetails, 'tblLabDipDetail');
            }
        });



    });
    $("#btnReLabDip").click(function ()
    {
        
        var oFNLabDipDetail = $("#tblLabDipDetail").datagrid("getSelected");
        if (oFNLabDipDetail == null || oFNLabDipDetail.FNLabDipDetailID <= 0) { alert("Please select an item from list!"); return false; }
        //if (oFNLabDipDetail.ReceiveBY != 0) {
        //    alert("Already Received!");
        //    return;
        //}
        
        oFNLabDipDetail.ReferenceLDID = oFNLabDipDetail.FNLabDipDetailID;
        oFNLabDipDetail.FNLabDipDetailID = 0;
        var obj = {
            BaseAddress: _sBaseAddress,
            Object: oFNLabDipDetail,
            ObjectId: oFNLabDipDetail.FNLabDipDetailID,
            ControllerName: "FNLabDipDetail",
            ActionName: "SaveDetail",
            TableId: ((oFNLabDipDetail != null) ? "tblLabDipDetail" : ""),
            IsWinClose: false,
            Message: "No Create Successfully."
        };
        $.icsSave(obj, function (response) {
            if (response.status && response.obj != null) {
                debugger;
                
            }
        })
    });
    $("#btnSaveLDNo").click(function () {
        var oFNLabDipDetail = $("#tblLabDipDetail").datagrid("getSelected");
        if (oFNLabDipDetail == null || oFNLabDipDetail.FNLabDipDetailID <= 0) { alert("Please select an item from list!"); return false; }
        if (oFNLabDipDetail.ReceiveBY != 0) {
            alert("Already Received!");
            return;
        }
        if (oFNLabDipDetail.SubmitBy != 0) {
            alert("Already Submited!");
            return;
        }
        oFNLabDipDetail.LDNo = $.trim($('#txtLDNo').val());
        oFNLabDipDetail.ReceiveBY=0;
        var obj = {
            BaseAddress: _sBaseAddress,
            Object: oFNLabDipDetail,
            ObjectId: oFNLabDipDetail.FNLabDipDetailID,
            ControllerName: "FNLabDipDetail",
            ActionName: "Save_LDNo",
            TableId: ((oFNLabDipDetail != null) ? "tblLabDipDetail" : ""),
            IsWinClose: false,
            Message: "No Create Successfully."
        };
        $.icsSave(obj, function (response) {
            if (response.status && response.obj != null) {
                debugger;

            }
        })
    });
    ///////
    $("#btnAddFabric").click(function () {
        var oFabrics= $('#tblFabrics').datagrid('getRows');
        sessionStorage.setItem("Fabrics", JSON.stringify(oFabrics));
        sessionStorage.setItem("Operation", "New");
        sessionStorage.setItem("SelectedRowIndex", -1);
        sessionStorage.setItem("FabricHeader", "Add Export L/C");
        sessionStorage.setItem("BUID", _nBUID);
        sessionStorage.setItem("BackLink", window.location.href);
        window.location.href = _sBaseAddress+ "/Fabric/ViewFabric?id=0&buid="+_nBUID;
    });

    $("#btnEditFabric").click(function () {
        var oFabric = $("#tblFabrics").datagrid("getSelected");
        if (oFabric == null || parseInt(oFabric.FabricID) <= 0) { alert("Please select an item from list!"); return; }
        var oFabrics= $('#tblFabrics').datagrid('getRows');
        sessionStorage.setItem("Operation", "Edit");
        sessionStorage.setItem("Fabrics", JSON.stringify(oFabrics));
        var SelectedRowIndex=$('#tblFabrics').datagrid('getRowIndex',oFabric);
        sessionStorage.setItem("SelectedRowIndex", SelectedRowIndex);
        sessionStorage.setItem("FabricHeader", "Edit Export L/C");
        sessionStorage.setItem("BUID", _nBUID);
        sessionStorage.setItem("BackLink", window.location.href);
        window.location.href = _sBaseAddress+ "/Fabric/ViewFabric?id="+parseInt(oFabric.FabricID)+"&buid="+_nBUID;
       

    });

    $("#btnViewFabric").click(function () {
        var oFabric = $("#tblFabrics").datagrid("getSelected");
        if (oFabric == null || oFabric.FabricID <= 0) { alert("Please select an item from list!"); return; }
        var oFabrics= $('#tblFabrics').datagrid('getRows');
        sessionStorage.setItem("Fabrics", JSON.stringify(oFabrics));
        var SelectedRowIndex=$('#tblFabrics').datagrid('getRowIndex',oFabric);
        sessionStorage.setItem("Operation", "View");
        sessionStorage.setItem("SelectedRowIndex", SelectedRowIndex);
        sessionStorage.setItem("FabricHeader", "View Export L/C");
        sessionStorage.setItem("BUID", _nBUID);
        sessionStorage.setItem("BackLink", window.location.href);
        window.location.href = _sBaseAddress+ "/Fabric/ViewFabric?id="+parseInt(oFabric.FabricID)+"&buid="+_nBUID;
    });

 
</script>