<html>
    <head>  
        <link href="@Url.Content("~/Content/CSS/icon.css")" rel="stylesheet" type="text/css" />
        <link href="@Url.Content("~/Content/CSS/easyui.css")" rel="stylesheet" type="text/css" />
        <link href="@Url.Content("~/Content/CSS/Pikerstyle.css")" rel="stylesheet" type="text/css" />
        <script src="@Url.Content("~/Scripts/jquery-1.7.1.min.js")" type="text/javascript"></script>
        <script src="@Url.Content("~/Scripts/jquery.ics.customize.js")" type="text/javascript"></script>
        <script src="@Url.Content("~/Scripts/jquery.easyui.min.js")" type="text/javascript"></script>
        <script src="@Url.Content("~/Scripts/jquery-ui.min.js")" type="text/javascript"></script>
        <script src="@Url.Content("~/Scripts/json2.js")" type="text/javascript"></script>
    </head>
    <body>
    @using System.Collections.Concurrent
    @using System.Web.UI.WebControls
    @model ESimSol.BusinessObjects.Holiday
        <div style="font-family:Tahoma">           
            <table border="0" cellspacing="2" cellpadding="2">
                <tr>
                    <td style="background-color:#cfb53b; text-align:center; width:520px; color:White">
                        <label id="lblHeaderName" style="font-size:15px; font-weight:bold; text-decoration:Underline"> Assign Holidays</label>
                    </td>
                </tr>
            </table>
            <div style="font-family:Tahoma">
               <table id="tblHoliday" title="Holiday List"  class="easyui-datagrid" style="width:450px;height:300px" fitColumns="false" rownumbers="true" pagination="false" singleSelect="false" autoRowHeight="false">
                    <thead>  
                        <tr>  
                            <th data-options="field:'Selected',checkbox:true"></th>                                              
                            @*<th field="Code" width="100">Code</th>*@
                            <th field="Description" width="230">Description</th>
                            <th field="TypeOfHolidayInString" width="100">Type Of Holiday</th>
                        </tr>  
                    </thead> 
                </table>​  
            </div>
            <fieldset>
                <legend style="font-weight:bold"> Action : </legend>
                <table border="0" cellspacing="2" cellpadding="2" style="font-size:11px; font-weight:bold">
                    <tr>
                        <td style="width:400px; text-align:right"></td>

                        <td style="width:50px; text-align:center">
                                <a href="javascript:void(0)" class="easyui-linkbutton" iconCls="icon-ok" plain="true" onclick="ConfirmButtonClick()">Ok</a>
                        </td>
                        <td style="width:50px">
                            <a href="javascript:void(0)" class="easyui-linkbutton" iconCls="icon-cancel" plain="true" onclick="Close()">Close</a>
                        </td>
                    </tr>       
                </table>
            </fieldset>
        </div>
    </body>
</html>

<script type="text/javascript">
    //debugger;
    var _oHolidays=[];
    var _oHoliday;
    var _bMultipleItemReturn = true;
    var _sBaseAddress="";
    $(document).ready(function () {
        ////debugger;
        _oHolidays =@Html.Raw( new System.Web.Script.Serialization.JavaScriptSerializer().Serialize(Model.oHolidays)); 
        _sBaseAddress =@Html.Raw( new System.Web.Script.Serialization.JavaScriptSerializer().Serialize(HttpContext.Current.Session[SessionInfo.BaseAddress]));
        RefreshList(_oHolidays);
    });
    
    function ConfirmButtonClick() {
        //debugger;
        var oSelectedHolidays = $('#tblHoliday').datagrid('getChecked');
        
        if (oSelectedHolidays.length <= 0) {
            alert("please select atleast one item");
            return;
        }
        
        window.returnValue = oSelectedHolidays;
        close();
    }

    function RefreshList(oHolidays) {
        //debugger;
        data = oHolidays;
        data = { "total": "" + data.length + "", "rows": data };
        $('#tblHoliday').datagrid('loadData', data);
    }

    function OkButtonClick() {
        //debugger;

        var oSelectedHolidays = $('#tblHoliday').datagrid('getChecked');
        if (oSelectedHolidays.length <= 0) {
            alert("please select atleast one item");
            return;
        }

        _oAttendanceCalendarSessionHoliday.Holidays = oSelectedHolidays;
  
        window.returnValue = _oAttendanceCalendarSessionHoliday;
        window.close();
    }

    function Close() {
        window.close();
    }
    $(document).keydown(function (e)
    {
        var keyCode = e.keyCode || e.which;
        if (keyCode == 27)
        {
            window.close();
        }
    });
</script>