@{
    ViewBag.Title = "Order Summary List";
}
@model IEnumerable<ESimSol.BusinessObjects.PTU>
<head>
    
</head>
<body>
    <div class="menuMainCollectionTable">
        <table style="width:100%;height:100%;" id="tblPTUs" title="Production Order List(Color wise) " class="easyui-datagrid" fit="true" fitcolumns="true" rownumbers="true" pagination="true" singleselect="true" autorowheight="false" toolbar="#toolbarPTU">
            <thead>
                <tr>
                    <th field="OrderNo" width="15%">PI No</th>
                    <th field="ContractorName" width="15%">Party</th>
                    <th field="ProductName" width="10%">Product Name</th>
                    <th field="ColorNameShade" width="15%">Color</th>
                    <th field="ColorNo" width="15%">Color No</th>
                    <th field="OrderQty" formatter="formatPrice" width="12%" align="right">Order Qty</th>
                    <th field="YetToProduction" formatter="formatPrice" width="12%" align="right">Yet To Production</th>
                    <th field="ProductionPipeLineQty" formatter="formatPrice" width="12%" align="right">Production PipeLine</th>
                    <th field="ActualDeliveryQty" width="12%" align="right">Delivery Qty</th>
                    <th field="YetToDelivery" width="12%" align="right">YetToDelivery</th>
                    <th field="StateSt" width="12%">Status</th>
                    <th field="BuyerName" width="15%">Buying </th>

                </tr>
            </thead>
        </table>
        <div id="toolbarPTU">
            <table>
                <tr>
                    <td>
                        @*<a href="javascript:void(0)" class="easyui-linkbutton" iconcls="icon-search" plain="true" id="btnWaitingForDO">Waiting For DO</a>*@
                        <input type="text" id="txtSearchByPINo" placeholder="Search by PI No" style="width:150px" />
                        <input type="text" id="txtSearchByOrderNo" placeholder="Search by order No" style="width:150px" />
                        <input type="text" id="txtSearchBySampleOrderNo" placeholder="Search by Sample order No" style="width:150px" />
                        @*<a href="javascript:void(0)" class="easyui-linkbutton" iconcls="icon-search" plain="true" onclick="Search()">AdvSearch</a>*@
                        <a id="btnView" href="javascript:void(0)" class="easyui-linkbutton" iconcls="icon-details" plain="true">View Stock</a>
                      

                    </td>

                </tr>
            </table>
        </div>


    </div>
    <div id="winPRAdvanceSearch" class="easyui-window winClass" title="Advance Search" data-options="modal:true,closed:true,collapsible:false,minimizable:false,maximizable:false,closable:false">
        <div style="width:730px;height:405px; float: left;align-content:center;">
            <table border="0" cellpadding="0" cellspacing="0" style="width:100%;">
                <tr >
                    <td style="width:100%;">
                        <table border="0" cellpadding="0" cellspacing="0" style="width:100%;">
                            <tr >
                                <td style="width: 50%; height:100%;">
                                    <fieldset style="height:330px;">
                                        <legend style="font-weight: bold; ">Searching Criteria : </legend>
                                        <table border="0" cellpadding="0" cellspacing="0" style=" width: 100%;height:100%; ">
                                            <tr>
                                                <td style="width: 100%; text-align: left">
                                                   <label style="font-weight:bold;">PR No: </label> <br />
                                                    @Html.TextBox("txtPRNo_Adv", "", new { style = "width: 98%", id = "txtPRNo_Adv" })
                                                </td>
                                            </tr>
                                            <tr>
                                                <td style="width: 100%; text-align: left">
                                                    <label style="font-weight:bold;">Client :</label> <br />
                                                    @Html.TextBox("txtClient", "", new { style = "width: 83%", id = "txtClient", placeholder = "Type Client & Press Enter" })<input type="button" style="width: 15%;" id="btnBuyerPicker" value="Pick" />
                                                </td>
                                            </tr>
                                            <tr>
                                                <td style="width: 100%; text-align: left">
                                                    <label style="font-weight:bold;">Product  :</label> <br />
                                                    @Html.TextBox("txtProductReq", "", new { style = "width: 83%", id = "txtProductReq" })<input type="button" id="btnProductPick" style="width: 15%;" value="Pick" />
                                                </td>
                                            </tr>
                                            <tr>
                                                <td style="width: 100%; text-align: left; ">
                                                    <label style="font-weight:bold;">PR Date:</label> <br />
                                                    <table border="0">
                                                        <tr>
                                                            <td style="width: 100%; text-align: left">
                                                                <select class="_select_changeA" id="cboPRDate" style="width: 31%;text-align:left"></select> 
                                                                <input id="txtPRStartDate" type="text" class="easyui-datebox" required="required" data-options="formatter:icsdateformat,parser:icsdateparser" style="width: 98px;" />
                                                               To
                                                                <input id="txtPREndDate" type="text" class="easyui-datebox" required="required" data-options="formatter:icsdateformat,parser:icsdateparser" style="width: 98px;" />
                                                            </td>

                                                        </tr>
                                                    </table>
                                                </td>
                                            </tr>

                                            <tr style="height:50%; vertical-align:bottom;">
                                                <td style=" text-align:left; width:100%;">
                                                    <table border="0" cellpadding="0" cellspacing="0" style="width:100%;">
                                                        <tr >
                                                            <td style="width:50%; text-align:left;padding-bottom:10px;"><input type="button" value="Reset" id="btnReset" style="width:70px;" /></td>
                                                            <td style=" text-align:right; width:50%;padding-bottom:10px;"><input type="button" value="Search" id="btnRefresh" style="width:70px; " /></td>
                                                        </tr>
                                                    </table>
                                                </td>
                                            </tr>
                                        </table>
                                    </fieldset>
                                </td>
                                <td style="width: 50%; vertical-align:top;">
                                        <div style="height:340px;width:100%;padding-top:6px;">
                                            <table id="tblPRList" title="PR List" class="easyui-datagrid" style="width: 100%;height: 100%; " fitcolumns="false" rownumbers="true" pagination="false" singleselect="false" autorowheight="false" data-options="resizehandle:'right', resizable:true ">
                                                <thead>
                                                    <tr>
                                                        <th data-options="field:'Selected',checkbox:true"></th>
                                                        <th field="PRNo" width="80" align="left">PR No</th>
                                                        <th field="PRDateInString" width="60" align="left">Date</th>
                                                        <th field="ContractorName" width="150" align="left">Customer Name</th>
                                                        <th field="PrepareByName" width="100" align="left">Prepare By</th>
                                                        <th field="ApprovedByName" width="130" align="left">Approved By</th>
                                                        <th field="Amount" formatter="formatPrice" width="80" align="right">Amount</th>
                                                    </tr>
                                                </thead>
                                            </table>
                                        </div>
                                </td>
                            </tr>
                        </table>
                    </td>
                </tr>
                <tr >
                    <td style="width: 100%; text-align: right">
                        <fieldset>
                            <legend style="font-weight: bold; text-align:left;">Actions : </legend>
                            <a href="javascript:void(0)" id="btnOkButtonClick" class="easyui-linkbutton" iconcls="icon-ok" plain="true">Ok</a>
                            <a href="javascript:void(0)" id="btnSearchClose" class="easyui-linkbutton" iconcls="icon-cancel" plain="true">Close</a>
                        </fieldset>
                    </td>
                </tr>
            </table>
        </div>
    </div>
</body>

<script type="text/javascript">
    var _oPTU = null;
    var _oPTUs = [];
    var _sBaseAddress = "";
    var _oAuthorizationRolesMapping = [];
    var _oPTUBranch = null;
    var _nID=null;
    var _sMenuID=0;
    var _sProductIDs="";

    $(document).ready(function() {
        debugger;
       
        _sBaseAddress = @Html.Raw(new System.Web.Script.Serialization.JavaScriptSerializer().Serialize(HttpContext.Current.Session[SessionInfo.BaseAddress]));
        _sMenuID =@Html.Raw( new System.Web.Script.Serialization.JavaScriptSerializer().Serialize(HttpContext.Current.Session[SessionInfo.MenuID])); 
        _oPTUs = @Html.Raw(new System.Web.Script.Serialization.JavaScriptSerializer().Serialize(Model));
        _oAuthorizationRolesMapping = @Html.Raw(new System.Web.Script.Serialization.JavaScriptSerializer().Serialize(HttpContext.Current.Session[SessionInfo.AuthorizationRolesMapping]));
        _nID =parseInt(sessionStorage.getItem("SelectedRowIndex"));
        var oPTUs =sessionStorage.getItem("PTUs");
        if(oPTUs!=null)
        {
            oPTUs = jQuery.parseJSON(oPTUs);
        }
        else
        {
            oPTUs=_oPTUs;
        }

        DynamicRefreshList(oPTUs, 'tblPTUs');
        if(_nID!=-1)
        {
            $('#tblPTUs').datagrid('selectRow', _nID);
        }

   

    });
 

  
    $("#btnView").click(function(){
        var oPTU= $('#tblPTUs').datagrid('getSelected');
        if(oPTU==null || oPTU.PTUID<=0)
        {
            alert("Please select a item from list!");
            return false;
        }

        var SelectedRowIndex=$('#tblPTUs').datagrid('getRowIndex',oPTU);
        var oPTUs= $('#tblPTUs').datagrid('getRows');
        sessionStorage.setItem("PTUs", JSON.stringify(oPTUs));
        sessionStorage.setItem("SelectedRowIndex", SelectedRowIndex);
        sessionStorage.setItem("PTUHeader", "View PTU");
        sessionStorage.setItem("BackLink", window.location.href);
        window.location.href = _sBaseAddress+  "/PTU/ViewPTUDistribution?nID="+oPTU.PTUID;
    });
  

   
  
 
    $("#btnPrintPreview").click(function() {
        var oPTU= $('#tblPTUs').datagrid('getSelected');
        if(oPTU==null || oPTU.ExportSCID<=0)
        {
            alert("Please select a item from list!");
            return;
        }
        var nts = ((new Date()).getTime()) / 1000;
        window.open(_sBaseAddress + '/PTU/PrintStatement_DOBalance?nExportSCID=' + parseInt(oPTU.ExportSCID) + "&nDOID=" + parseInt(0) + "&nProductID=" + parseInt(0) + "&nts=" + nts, "_blank");

    });



 

    $(document).keydown(function (e) {
        //debugger;
        if (e.which == 27)//escape=27
        {
            //debugger;
            $("#winPRAdvanceSearch").icsWindow('close');
        }
    });



    //Search By No

      
    $("#txtSearchBySampleOrderNo").keydown(function (e) {
        var nkeyCode = e.keyCode || e.which;
        if(nkeyCode==13){
           
           
            var sPINo = "";
            var sOrderNo = "";
            var sSampleOrderNo =  $.trim($("#txtSearchBySampleOrderNo").val())
            
            var sParams = sPINo + "~" +
                          sOrderNo + "~" +
                          sSampleOrderNo ;
            var oPTU= {
                Params :sParams
            };
            GetsOrders(oPTU);
        }
        else if(nkeyCode==8){
            $("#txtSearchByOrderNo").val("");
           
        }
    });
    $("#txtSearchByOrderNo").keydown(function (e) {
        var nkeyCode = e.keyCode || e.which;
        if(nkeyCode==13){
           
            var sPINo = "";
            var sOrderNo =  $.trim($("#txtSearchByOrderNo").val())
            var sSampleOrderNo = "";
            
            var sParams = sPINo + "~" +
                          sOrderNo + "~" +
                          sSampleOrderNo ;
            var oPTU= {
                Params :sParams
            };
            GetsOrders(oPTU);
        }
        else if(nkeyCode==8){
            $("#txtSearchByOrderNo").val("");
           
        }
    });

    $("#txtSearchByPINo").keydown(function (e) {
        var nkeyCode = e.keyCode || e.which;
        if(nkeyCode==13){
           
            var sPINo =  $.trim($("#txtSearchByPINo").val())
            var sOrderNo = "";
            var sSampleOrderNo = "";
            
            var sParams = sPINo + "~" +
                          sOrderNo + "~" +
                          sSampleOrderNo ;
            var oPTU= {
                Params :sParams
            };
            GetsOrders(oPTU);
        }
        else if(nkeyCode==8){
            $("#txtSearchByPINo").val("");
           
        }
    });


    function GetsOrders(oPTU)
    {
        $.ajax
          ({
              type: "POST",
              dataType: "json",
              url : _sBaseAddress+"/PTU/GetbyNo",
              data:  JSON.stringify(oPTU),
              contentType: "application/json; charset=utf-8",
              success: function (data) {
                  //debugger;
                  var oPTUs = jQuery.parseJSON(data);
                  if (oPTUs.length>0)
                  {
                      DynamicRefreshList(oPTUs, 'tblPTUs');
                  }
                  else
                  {
                      alert("Data Not found");
                      DynamicRefreshList([], 'tblPTUs');
                  }
              },
              error: function (xhr, status, error)
              {
                  alert(error);
              }
          });
    }
    /// end Search By No
    $("#btnWaitingForDO").click(function() {
        window.location.href = _sBaseAddress+ '/PTU/ViewPTUs?'+"&menuid="+_sMenuID; ; 
    });
    
</script>