@{
    ViewBag.Title = "BDYEA Certificate";
}
<html>
<body>
    @model ESimSol.BusinessObjects.BDYEAC
    <div id="divBDYEAC" class="easyui-panel menuMainCollectionTable" title="Add BDYEAC" style="font-family:Tahoma; height:100%; width:99%">
        <div style="width:99%; height:88%; text-align:center">
            <fieldset id="fldBDYEAC" class="bodyfieldsetstyle" style="height:31%">
                <legend style="text-align:left; font-weight:bold;"> BDYEA Certificate  : </legend>
                <table border="0" cellpadding="1" cellspacing="1" style="width:95%;">
                    <tr>
                        <td style="width:35%; text-align:right;font-weight:bold">
                            Master L/C No :
                        </td>
                        <td style="width:30%; text-align:left">
                            @Html.TextBoxFor(model => model.MasterLCNos, new { style = "width:100%;", id = "txtMasterLCNo"})
                        </td>
                         <td style="width:15%; text-align:right;font-weight:bold">
                           Master LC Date :
                        </td>
                        <td style="width:20%;">
                            @*<input type="text" style="width:100%;" id="txtDate" class="easyui-datebox" data-options="formatter:icsdateformat,parser:icsdateparser" />*@
                            @Html.TextBoxFor(model => model.MasterLCDates, new { style = "width:100%;", id = "txtDate" })
                        </td>
                    </tr>
                    <tr>
                        <td style="width:35%; text-align:right;font-weight:bold">
                            Total Quantity & Item under Master L/C :
                        </td>
                        <td style="width:65%; text-align:left;" colspan="3">
                            @Html.TextBoxFor(model => model.GarmentsQty, new { style = "width:100%;", id = "txtQuantityWithLC" })
                        </td>
                    </tr>
                    <tr>
                        <td style="width:35%; text-align:right;font-weight:bold">
                            Back to Back LC No :
                        </td>
                        <td style="width:30%; text-align:left">
                            @Html.TextBoxFor(model => model.ExportLCNo, new { style = "width:70%;", id = "txtExportLCNo", placeholder = "Type LC No & Press Enter" })
                            <a id="btnPickExportLC" href="javascript:void(0)" class="easyui-linkbutton"  iconcls="icon-pick" plain="true">Pick</a>
                        </td>
                        <td style="width:15%; text-align:right;font-weight:bold">
                          B2B LC Date :
                        </td>
                        <td style="width:20%; text-align:center">
                            @Html.TextBoxFor(model => model.LCOpeningDateInString, new { style = "width:100%;", id = "txtB2BLCDate", disabled = "disabled" })
                        </td>
                    </tr>
                    <tr>
                        <td style="width:35%; text-align:right;font-weight:bold">
                          Name of L/C Opening Bank (Branch):
                        </td>
                        <td style="width:65%; text-align:right;" colspan="3">
                          @Html.TextBoxFor(model => model.BankName, new { style = "width:100%;", id = "txtLCOpeningBankWithBranch" })
                        </td>
                    </tr>
                </table>
            </fieldset>
            <div style="width:100%">
                <table border="0" cellpadding="0" cellspacing="0" style="width:100%;height:200px">
                    <tr>
                        <td style="width:25%; text-align:left;height:200px;">
                            <div class="easyui-panel" title="Invioce Info" style="height:200px;">
                                <table border="0" cellpadding="4" cellspacing="1" style="width:95%;margin-top:20px">
                                    <tr>
                                        <td style="text-align:right; width:60%; font-weight:bold">Invioce No:</td>
                                        <td style="text-align:left; width:40%;">@Html.TextBoxFor(model => model.ExportBillNo, new { style = "width:100%;", id = "txtInvioceNo" }) </td>
                                    </tr>
                                    <tr>
                                        <td style="text-align:right; width:60%;font-weight:bold">Invioce Date:</td>
                                        <td style="text-align:left; width:40%;"><input type="text" style="width:100%;" id="txtInvioceDate" class="easyui-datebox" data-options="formatter:icsdateformat,parser:icsdateparser" /></td>
                                    </tr>
                                    <tr>
                                        <td style="text-align:right; width:60%;font-weight:bold">Delivery Date:</td>
                                        <td style="text-align:left; width:40%;"><input type="text" style="width:100%;" id="txtDeliveryDate" class="easyui-datebox" data-options="formatter:icsdateformat,parser:icsdateparser" /></td>
                                    </tr>
                                </table>
                            </div>
                        </td>
                        <td style="width:50%;height:200px;">
                            <div style="margin-left: 0px; height: 100%; width:95%">
                                <table id="tblBDYEACDetailasd" title="" class="easyui-datagrid" fit="true" fitcolumns="true" rownumbers="true" pagination="false" singleselect="true" autorowheight="false" toolbar="#toolbar" data-options="onClickRow:onClickRow">
                                    <thead>
                                        <tr>
                                            <th data-options="field:'ProductName',width:20,align:'Left',editor:{type:'text'}">Product Name</th>
                                            <th data-options="field:'Qty',width:8 ,editor:{type:'numberbox',options:{precision:2}}"> Qty(Lbs)</th>
                                            <th field='QtyInKg' formatter="formatPrice" width="15%"> Qty(Kg)</th>
                                        </tr>
                                    </thead>
                                </table>
                                <div id="toolbar" style="width:100%">
                                    <a id="btnPickInvoiceDetail" href="javascript:void(0)" class="easyui-linkbutton" iconcls="icon-pick" plain="true">Pick</a>
                                    <a id="btnRemoveDetail" href="javascript:void(0)" class="easyui-linkbutton" iconcls="icon-remove" plain="true">Remove</a>
                                    <a id="btnRefresh" href="javascript:void(0)" class="easyui-linkbutton" iconcls="icon-reload" plain="true">Refresh</a>
                                </div>
                            </div>
                            @*<div style="width:100%; height:200px;">
                                <table id="tblBDYEACDetailasd" title="" class="easyui-datagrid" style="width:100%;height:100%;"
                                       data-options="singleSelect: true,fitColumns:true,fit:true, rownumbers:true, pagination:false, autoRowHeight:false, toolbar:'#toolbar',onClickRow:onClickRow">
                                    <thead>
                                        <tr>
                                            <th data-options="field:'ProductName',width:20,align:'Left',editor:{type:'text'}">Product Name</th>
                                            <th data-options="field:'Qty',width:10 ,align:'right',editor:{type:'numberbox',options:{precision:2}}"> Qty(Lbs)</th>
                                            <th field='QtyInKg' formatter="formatPrice" width="20%" align="right"> Qty(Kg)</th>
                                        </tr>
                                    </thead>
                                </table>
                                <div id="toolbar" style="width:100%">
                                    <a id="btnPickInvoiceDetail" href="javascript:void(0)" class="easyui-linkbutton" iconcls="icon-pick" plain="true">Pick</a>
                                    <a id="btnRemoveDetail" href="javascript:void(0)" class="easyui-linkbutton" iconcls="icon-remove" plain="true">Remove</a>
                                    <a id="btnRefresh" href="javascript:void(0)" class="easyui-linkbutton" iconcls="icon-reload" plain="true">Refresh</a>
                                </div>
                            </div>*@
                        </td>
                    </tr>
                </table>
                <table border="0" cellpadding="0" cellspacing="0" style="font-weight:bold; width:100%">
                    <tr>
                        <td style="width:70%; text-align:right">Total:</td>
                        <td style="width:15%;"><label id="lblTotalInLBS">0</label></td>
                        <td style="width:15%;"><label id="lblTotalInKg">0</label></td>
                    </tr>
                </table>
            </div>
            <fieldset >
                <table border="0" cellpadding="1" cellspacing="0" style="width:100%">
                    <tr>
                        <td style="width:10%; text-align:right;">Supplier :</td>
                        <td style="width:30%; text-align:left;">@Html.TextBoxFor(model => model.SupplierName, new { style = "width:100%;", id = "txtSupplierName", placeholder = "Type Supplier Name & Press Enter" }) </td>
                        <td style="width:15%;text-align:right;">Import LC No :</td>
                        <td style="width:20%;text-align:left;">@Html.TextBoxFor(model => model.ImportLCNo, new { style = "width:100%;", id = "txtImportLCNo" , placeholder = "Type Import L/C No & Press Enter" }) </td>
                        <td style="width:10%;text-align:right;">LC Date :</td>
                        <td style="width:15%;text-align:left;"><input type="text" style="width:100%;" id="txtImportLCDate" class="easyui-datebox" data-options="formatter:icsdateformat,parser:icsdateparser" /></td>
                    </tr>
                    <tr>
                        <td style="width:10%; text-align:right;">Benificiary :</td>
                        <td style="width:90%; text-align:left;" colspan="5"><input type="text" id="txtBenificiaryName" style="width:99%;" disabled /> </td>
                    </tr>
                    <tr>
                        <td style="width:10%; text-align:right;">Party :</td>
                        <td style="width:65%; text-align:left;" colspan="3"> @Html.TextBoxFor(model => model.PartyName, new { style = "width:99%;", id = "txtPartyName", disabled = "disabled" })  </td>
                        <td style="width:10%;text-align:right;">Amount :</td>
                        <td style="width:15%;text-align:left;">@Html.TextBoxFor(model => model.Amount, new { style = "width:93%; text-align:right;", id = "txtAmount" }) </td>
                    </tr>
                </table>
            </fieldset>
        </div>
        <div style="width:99%">
            <fieldset>
                <legend style="font-weight: bold">Action : </legend>
                <table border="0" cellspacing="0" cellpadding="1" style="font-size: 11px; font-weight: bold; width:100%">
                    <tr>
                        <td style="width:80%; text-align:right"></td>
                        <td style="width: 20%; text-align:right;">
                            <a id="btnSave" href="javascript:void(0)" class="easyui-linkbutton" iconcls="icon-save" plain="true">Save</a>
                            <a id="btnClose" href="javascript:void(0)" class="easyui-linkbutton" iconcls="icon-cancel" plain="true">Close</a>
                        </td>
                    </tr>
                </table>
            </fieldset>
        </div>
    </div>
</body>
</html>
<script type="text/javascript">
    var _nMenuid=0;
    var _sBaseAddress="";
    var _oBDYEAC = "";
    var _oBDYEACDetails = [];
    $(document).ready(function () {
        debugger;
        _nMenuid = @Html.Raw(new System.Web.Script.Serialization.JavaScriptSerializer().Serialize(HttpContext.Current.Session[SessionInfo.MenuID]));
        _sBaseAddress =@Html.Raw(new System.Web.Script.Serialization.JavaScriptSerializer().Serialize(HttpContext.Current.Session[SessionInfo.BaseAddress]));
        _oBDYEAC =@Html.Raw(new System.Web.Script.Serialization.JavaScriptSerializer().Serialize(Model));
        var oBU =@Html.Raw(new System.Web.Script.Serialization.JavaScriptSerializer().Serialize(ViewBag.BU));
        _oBDYEACDetails= @Html.Raw(new System.Web.Script.Serialization.JavaScriptSerializer().Serialize(Model.BDYEACDetails));
        $('#txtAmount').icsCurrencyBox();
        $('#txtInvioceDate').datebox('setValue',_oBDYEAC.InvoiceDateInString);
        $('#txtDeliveryDate').datebox('setValue',_oBDYEAC.DeliveryDateInString);
        $('#txtImportLCDate').datebox('setValue',_oBDYEAC.ImportLCDateInString);
        $('#txtBenificiaryName').val(oBU.Name+","+oBU.Address);
        debugger;
        RefreshControl();
        if(sessionStorage.getItem("BDYEACHeader")=="View BDYEA Certificate")
        {
            $('#btnSave').hide();
        }
        else {

            $('#btnSave').show();
        }
        
        $('#Mainlayout').layout('collapse', 'west');
    });

    function RefreshControl()
    {
        DynamicRefreshList(_oBDYEACDetails, "tblBDYEACDetailasd");
        SetTotal();
        if(_oBDYEAC.BDYEACID>0)
        {
            $('#txtExportLCNo,#txtSupplierName,#txtInvioceNo').addClass('fontColorOfPickItem');
           
        }
    }
    function ValidateInput()
    {

        if (parseInt(_oBDYEAC.ExportLCID)== 0) {
            alert("Please Pick Export LC");
            $("#txtExportLCNo").addClass("errorFieldBorder");
            $("#txtExportLCNo").focus();
            return false;
        } else {
            $("#txtExportLCNo").removeClass("errorFieldBorder");
        }


        if($('#txtLCOpeningBankWithBranch').val()== null || $('#txtLCOpeningBankWithBranch').val()==="")
        {
            alert("Please type Bank and Branch Name!");
            $("#txtLCOpeningBankWithBranch").focus();
            return false;
        }

        if (parseInt(_oBDYEAC.ExportBillID)== 0) {
            alert("Please Pick Invoice");
            $("#txtInvioceNo").addClass("errorFieldBorder");
            $("#txtInvioceNo").focus();
            return false;
        } else {
            $("#txtInvioceNo").removeClass("errorFieldBorder");
        }

        if($('#txtSupplierName').val()== null || $('#txtSupplierName').val()==="")
        {
            alert("Please type Supplier Name!");
            $("#txtSupplierName").focus();
            return false;
        }
        var oBDYEACDetails = $('#tblBDYEACDetailasd').datagrid('getRows');
        for(var i=0; i<oBDYEACDetails.length; i++)
        {
            if(parseFloat(oBDYEACDetails[i].Qty)<=0)
            {
                alert("Qty should be greater than 0 for Product : "+ oBDYEACDetails[i].ProductName);
                return false;
            }
        }
        return true;
    }

    function RefreshObject()
    {
        var oBDYEAC= {
            BDYEACID:_oBDYEAC.BDYEACID,
            ExportLCID:_oBDYEAC.ExportLCID,
            ExportBillID:_oBDYEAC.ExportBillID ,
            MasterLCNos:$('#txtMasterLCNo').val(),
            MasterLCDates:$('#txtDate').val(),
            GarmentsQty:$('#txtQuantityWithLC').val(),
            BankName:$('#txtLCOpeningBankWithBranch').val(),
            InvoiceDate:$('#txtInvioceDate').datebox('getValue'),
            DeliveryDate:$('#txtDeliveryDate').datebox('getValue'),
            SupplierName:$('#txtSupplierName').val(),
            ImportLCNo:$('#txtImportLCNo').val(), 
            ImportLCDate:$('#txtImportLCDate').datebox('getValue'),
            Amount:icsRemoveComma($('#txtAmount').val()),
            ImportLCID:_oBDYEAC.ImportLCID,  
            BDYEACDetails : $('#tblBDYEACDetailasd').datagrid('getRows')
        };
        return oBDYEAC;
    }

    $("#btnSave").click(function(){
        endEditing();
        debugger;
        if(!ValidateInput()) return;
        var oBDYEAC=RefreshObject();
        $.ajax({
            type: "POST",
            dataType: "json",
            url : _sBaseAddress+"/BDYEAC/Save",
            traditional: true,
            data:  JSON.stringify(oBDYEAC),
            contentType: "application/json; charset=utf-8",
            success: function (data) {
                oBDYEAC = jQuery.parseJSON(data);
                if (oBDYEAC.ErrorMessage == '' || oBDYEAC.ErrorMessage == null)
                {
                    if(oBDYEAC.BDYEACID>0)
                    {
                        alert("Data Save Successfully");
                        $('#txtBDYEACNo').val(oBDYEAC.BDYEACNo);
                        var oBDYEACs =sessionStorage.getItem("BDYEACs");
                        var nIndex= parseInt(sessionStorage.getItem("SelectedRowIndex"));
                        if(oBDYEACs!=null)
                        {
                            oBDYEACs = jQuery.parseJSON(oBDYEACs);
                        }
                        else
                        {
                            oBDYEACs=[];
                        }
                        if(nIndex!=-1)
                        {
                            oBDYEACs[nIndex]=oBDYEAC;
                        }
                        else
                        {
                            sessionStorage.setItem("SelectedRowIndex", oBDYEACs.length);
                            oBDYEACs.push(oBDYEAC);
                        }
                        sessionStorage.setItem("BDYEACs", JSON.stringify(oBDYEACs));
                        window.location.href = sessionStorage.getItem("BackLink");
                    }
                    else
                    {
                        alert("Invalid Operation!");
                    }
                }
                else
                {
                    alert(oBDYEAC.ErrorMessage);
                }
            },
            error: function (xhr, status, error)
            {
                alert(xhr+'~' +status+'~'+error);
            }
        });
    });


    $("#btnClose").click(function(){
        window.location.href = sessionStorage.getItem("BackLink");
    });

    var editIndex = undefined;
    function endEditing() {
        if (editIndex == undefined) { return true }
        if ($('#tblBDYEACDetailasd').datagrid('validateRow', editIndex)) {
            $('#tblBDYEACDetailasd').datagrid('endEdit', editIndex);
            $('#tblBDYEACDetailasd').datagrid('selectRow', editIndex);
            var oBDYEACDetail = $('#tblBDYEACDetailasd').datagrid('getSelected');
            if(oBDYEACDetail!=null)
            {
                oBDYEACDetail.QtyInKg = GetKG(oBDYEACDetail.Qty,2);
                $('#tblBDYEACDetailasd').datagrid('updateRow', { index: editIndex, row: oBDYEACDetail });
            }
            SetTotal();
            editIndex = undefined;
            return true;
        }
        else {
            return false;
        }
    }

    function onClickRow(index) {
        if (editIndex != index) {
            if (endEditing()) {
                $('#tblBDYEACDetailasd').datagrid('selectRow', index).datagrid('beginEdit', index);
                var oBDYEACDetail= $('#tblBDYEACDetailasd').datagrid('getSelected');
                editIndex = index;
            }
            else {
                $('#tblBDYEACDetailasd').datagrid('selectRow', editIndex);
            }
        }
    }

    $('#btnPickInvoiceDetail').click(function(){
        if(parseInt(_oBDYEAC.ExportBillID)<=0)
        {
            alert("Please select Invoice.");
            $('#txtInvioceNo').focus();
            return;
        }
        var oExportBill= {
            ExportBillID : _oBDYEAC.ExportBillID
        };
        var obj = {
            BaseAddress: _sBaseAddress,
            Object: oExportBill,
            ControllerName: "BDYEAC",
            ActionName: "GetsBillDetails",
            IsWinClose: false
        };
        $.icsDataGets(obj, function (response) {
            if (response.status && response.objs.length > 0) {
                if (response.objs[0].Qty> 0) {
                    debugger;
                    var tblColums = [];
                    var oColumn = { field: "ProductName", title: "Product", width: 250, align: "left" };tblColums.push(oColumn);
                    oColumn = { field: "Qty", title: "Quantity", width: 100, align: "left" };tblColums.push(oColumn);
                    var oPickerParam = {
                        winid: 'winExportBillDetail',
                        winclass:'clsExportBillDetail',
                        winwidth: 460,
                        winheight: 460,
                        tableid: 'tblExportBillDetail',
                        tablecolumns: tblColums,
                        datalist: response.objs,
                        multiplereturn: true,
                        searchingbyfieldName:'Name',
                        windowTittle: 'Export Bill Detail List'
                    };
                    $.icsPicker(oPickerParam);
                    IntializePickerbutton(oPickerParam);//multiplereturn, winclassName
                }
                else { alert(response.objs[0].ErrorMessage); }
            }
            else{
                alert("No contractor found.");
            }
        });
    });
    $('#btnRefresh').click(function(){
        endEditing();
        var oBDYEACDetails =  $('#tblBDYEACDetailasd').datagrid('getRows');
        DynamicRefreshList(oBDYEACDetails, "tblBDYEACDetailasd");

    });
    $("#btnRemoveDetail").click(function () {
        var oBDYEACDetail = $("#tblBDYEACDetailasd").datagrid("getSelected");
        if (oBDYEACDetail == null) { alert("Please select an item from list!"); return false; }
        if (!confirm("Confirm to Delete?")) return false;
        var SelectedRowIndex=$('#tblBDYEACDetailasd').datagrid('getRowIndex',oBDYEACDetail);
        alert("Data Delete Successfully.");
        $('#tblBDYEACDetailasd').datagrid('deleteRow', SelectedRowIndex);
        SetTotal();
        endEditing();
    });

    //Pick Business Unit
    $("#txtExportLCNo").keydown(function (e) {
        var code = (e.keyCode ? e.keyCode : e.which);
        if (code == 13) // Enter Press
        {
            if($('#txtExportLCNo').val()===null || $('#txtExportLCNo').val()==="")
            {
                alert("Please Type Export LC No.");
                $('#txtExportLCNo').focus();
                return false;
            }
            GetExportLCs($.trim($('#txtExportLCNo').val()));
        }
    });

    $('#btnPickExportLC').click(function(e){
        GetExportLCs("");
    });

    $('#txtExportLCNo').keydown(function (e) {
        var code = (e.keyCode ? e.keyCode : e.which);
        if (code == 8) //backspace=8
        {
            var txtExportLC = document.getElementById("txtExportLC");
            txtExportLC.color = "black";
            txtExportLC.style.fontWeight = "normal";
        }
    });

    function GetExportLCs(txtLCNo)
    {
        var oExportLC = {
            ExportLCNo: txtLCNo,
            ExportLCID: _oBDYEAC.ExportLCID,
            BUID:sessionStorage.getItem("BUID")
        };
        var obj = {
            BaseAddress: _sBaseAddress,
            Object: oExportLC,
            ControllerName: "BDYEAC",
            ActionName: "GetbyLCNo",
            IsWinClose: false
        };
        $.icsDataGets(obj, function (response) {
            debugger;
            if (response.status && response.objs.length > 0) {
                if (response.objs[0].ExportLCID > 0) {
                    debugger;
                    var tblColums = []; var oColumn = { field: "ExportLCNo", title: "Export LCNo", width: 200, align: "left" }; tblColums.push(oColumn);
                    oColumn = { field: "OpeningDateST", title: "Opening Date", width: 120, align: "left" }; tblColums.push(oColumn);
                    oColumn = { field: "AmountSt", title: "Amount", width: 90, align: "left" }; tblColums.push(oColumn);
                    var oPickerParam = {
                        winid: 'winExportLC',
                        winclass: 'clsExportLC',
                        winwidth: 500,
                        winheight: 420,
                        tableid: 'tblExportLC',
                        tablecolumns: tblColums,
                        datalist: response.objs,
                        multiplereturn: false,
                        searchingbyfieldName: 'ExportLCNo',
                        windowTittle: 'Export LC List'
                    };
                    $.icsPicker(oPickerParam);
                    IntializePickerbutton(oPickerParam);
                }
                else { alert(response.objs[0].ErrorMessage); }
            }else{
                alert("Data Not Fund");
                return;
            }
        });
    }

    $("#txtInvioceNo").keydown(function (e) {
        debugger;
        var code = (e.keyCode ? e.keyCode : e.which);
        if (code == 13) // Enter Press
        {
            if(parseInt(parseInt(_oBDYEAC.ExportLCID)<=0))
            {
                alert("Please Pick LC");
                $('#txtExportLCNo').focus();
                return false;
            }
            var oExportBill = {
                ExportLCID: _oBDYEAC.ExportLCID,
                ExportBillID: _oBDYEAC.ExportBillID
            };
            var obj = {
                BaseAddress: _sBaseAddress,
                Object: oExportBill,
                ControllerName: "BDYEAC",
                ActionName: "GetsByLC",
                IsWinClose: false
            };
            $.icsDataGets(obj, function (response) {
                debugger;
                if (response.status && response.objs.length > 0) {
                    if (response.objs[0].ExportBillID > 0) {
                        var tblColums = [];
                        var oColumn = { field: "ExportBillNo", title: "Bill No", width: 120, align: "left" };  tblColums.push(oColumn);
                        oColumn = { field: "Qty", title: "Quantity", width: 150, align: "left" };  tblColums.push(oColumn);
                        oColumn = { field: "Amount", title: "Amount", width: 100, align: "left" };  tblColums.push(oColumn);
                        var oPickerParam = {
                            winid: 'winExportBill',
                            winclass: 'clsExportBill',
                            winwidth: 500,
                            winheight: 420,
                            tableid: 'tblExportBill',
                            tablecolumns: tblColums,
                            datalist: response.objs,
                            multiplereturn: false,
                            searchingbyfieldName: 'ExportBillNo',
                            windowTittle: 'Bill List'
                        };
                        $.icsPicker(oPickerParam);
                        IntializePickerbutton(oPickerParam);//multiple return
                    }
                    else {
                        alert(response.objs[0].ErrorMessage);
                    }

                }
                else
                {
                    alert("Data Not Found!");
                }
            });
        }
    });
    $('#txtInvioceNo').keydown(function (e) {
        var code = (e.keyCode ? e.keyCode : e.which);
        if (code == 8) //backspace=8
        {
            var txtInvioceNo = document.getElementById("txtInvioceNo");
            txtInvioceNo.value = '';
            txtInvioceNo.style.color = "black";
            txtInvioceNo.style.fontWeight = "normal";

        }
    });

    $("#btnPickContractor").click(function () {
        var sContractorName=$.trim($("#txtSupplierName").val());
        GetContractors(sContractorName);
    });

    $("#txtSupplierName").keydown(function (e) {
        var nkeyCode = e.keyCode || e.which;
        if(nkeyCode==13){
            var sContractorName=$.trim($("#txtSupplierName").val());
            GetContractors(sContractorName);
        }
        else if(nkeyCode==8){
            $("#txtSupplierName").val("");
        }
    });

    function GetContractors(sContractorName){

        var oContractor = {
            Params: '1' +'~'+sContractorName,
        };
        var obj = {
            BaseAddress: _sBaseAddress,
            Object: oContractor,
            ControllerName: "Contractor",
            ActionName: "ContractorSearchByNameType",
            IsWinClose: false
        };

        $.icsDataGets(obj, function (response) {

            if (response.status && response.objs.length > 0) {
                if (response.objs[0].ContractorID > 0) {
                    debugger;
                    var tblColums = [];
                    var oColumn = { field: "ContractorID", title: "Code", width: 50, align: "center" };tblColums.push(oColumn);
                    oColumn = { field: "Name", title: "Name", width: 190, align: "left" };tblColums.push(oColumn);
                    oColumn = { field: "Phone", title: "Phone", width: 140, align: "left" };tblColums.push(oColumn);

                    var oPickerParam = {
                        winid: 'winContractorPicker',
                        winclass:'clsContractorPicker',
                        winwidth: 460,
                        winheight: 460,
                        tableid: 'tblContractorPicker',
                        tablecolumns: tblColums,
                        datalist: response.objs,
                        multiplereturn: false,
                        searchingbyfieldName:'Name',
                        windowTittle: 'Contractor List'
                    };
                    $.icsPicker(oPickerParam);
                    IntializePickerbutton(oPickerParam);//multiplereturn, winclassName
                }
                else { alert(response.objs[0].ErrorMessage); }
            }
            else{
                alert("No contractor found.");
            }
        });


    }
    $("#txtImportLCNo").keydown(function (e) {
        var nkeyCode = e.keyCode || e.which;
        if(nkeyCode==13){
            


            var oImportLC = {
                ImportLCNo: $("#txtImportLCNo").val(),
                BUID:sessionStorage.getItem("BUID"),
                ContractorID:_oBDYEAC.ContractorID,
                ErrorMessage:""
            };
            GetsImportLCs(oImportLC);
        }
        else if(nkeyCode==8){
            $("#txtImportLCNo").val("");
        }
    });

    function GetsImportLCs(oImportLC){

        var obj = {
            BaseAddress: _sBaseAddress,
            Object: oImportLC,
            ControllerName: "BDYEAC",
            ActionName: "GetsByImportLC",
            IsWinClose: false
        };

        $.icsDataGets(obj, function (response) {

            if (response.status && response.objs.length > 0) {
                if (response.objs[0].ContractorID > 0) {
                    debugger;
                    var tblColums = [];
                    var oColumn = { field: "ImportLCNo", title: "Import L/C No", width: 150, align: "center" };tblColums.push(oColumn);
                    oColumn = { field: "ImportLCDateInString", title: "L/C Date", width: 100, align: "left" };tblColums.push(oColumn);
                    oColumn = { field: "ContractorName", title: "Supplier ", width: 140, align: "left" };tblColums.push(oColumn);

                    var oPickerParam = {
                        winid: 'winImportLCPicker',
                        winclass:'clsImportLCPicker',
                        winwidth: 460,
                        winheight: 460,
                        tableid: 'tblImportLCPicker',
                        tablecolumns: tblColums,
                        datalist: response.objs,
                        multiplereturn: false,
                        searchingbyfieldName:'Name',
                        windowTittle: 'Import L/C List'
                    };
                    $.icsPicker(oPickerParam);
                    IntializePickerbutton(oPickerParam);//multiplereturn, winclassName
                }
                else { alert(response.objs[0].ErrorMessage); }
            }
            else{
                alert("No contractor found.");
            }
        });


    }

    function IntializePickerbutton(oPickerobj) {
        debugger;
        $("#" + oPickerobj.winid).find("#btnOk").click(function () {
            debugger;
            //for Single Select
            SetPickerValueAssign(oPickerobj);
        });
        $(document).find('.' + oPickerobj.winclass).keydown(function (e) {
            if (e.which == 13)//enter=13
            {
                SetPickerValueAssign(oPickerobj);

            }
        });
    }

    function SetPickerValueAssign(oPickerobj) {
        var oreturnObj = null, oreturnobjs = [];
        if (oPickerobj.multiplereturn) {
            oreturnobjs = $('#' + oPickerobj.tableid).datagrid('getChecked');
        } else {
            oreturnObj = $('#' + oPickerobj.tableid).datagrid('getSelected');
        }
        $("#" + oPickerobj.winid).icsWindow("close");
        $("#" + oPickerobj.winid).remove();
        if (oPickerobj.winid == 'winContractorPicker') {
            if (oreturnObj != null && oreturnObj.ContractorID > 0)
            {
                $('#txtSupplierName').val(oreturnObj.Name);
                $('#txtSupplierName').addClass('fontColorOfPickItem');
                $('#txtSupplierName').focus();
                _oBDYEAC.ContractorID=oreturnObj.ContractorID;
            }
        } 
        else if (oPickerobj.winid == 'winImportLCPicker') {
            if (oreturnObj != null && oreturnObj.ImportLCID > 0)
            {
                $('#txtImportLCNo').val(oreturnObj.ImportLCNo);
                $('#txtImportLCNo').addClass('fontColorOfPickItem');
                $('#txtImportLCNo').focus();
                _oBDYEAC.ImportLCID=oreturnObj.ImportLCID;
                _oBDYEAC.ContractorID=oreturnObj.ContractorID;
                $('#txtSupplierName').val(oreturnObj.ContractorName);
                $('#txtImportLCDate').datebox('setValue',oreturnObj.ImportLCDateInString);
            }
        } 
        else if (oPickerobj.winid == 'winExportLC') {
            if (oreturnObj != null && oreturnObj.ExportLCID > 0) {
                debugger
                $('#txtExportLCNo').val(oreturnObj.ExportLCNo);
                $('#txtExportLCNo').addClass('fontColorOfPickItem');
                $('#txtMasterLCNo').val(oreturnObj.MasterLCNos);
                $('#txtQuantityWithLC').val(oreturnObj.GarmentsQty);
                $('#txtDate').val(oreturnObj.MasterLCDates);
                $('#txtB2BLCDate').val(oreturnObj.OpeningDateST);
                $('#txtPartyName').val(oreturnObj.ApplicantName+","+oreturnObj.ApplicantAddress);
                $('#txtLCOpeningBankWithBranch').val(oreturnObj.BankName_Issue+","+oreturnObj.BBranchName_Issue.split('Branch')[0]);
                _oBDYEAC.ExportLCID = oreturnObj.ExportLCID;
                $('#txtExportLCNo').focus();
               
            }
        }else if (oPickerobj.winid == 'winExportBill') {
            if (oreturnObj != null && oreturnObj.ExportBillID > 0) {                
                $('#txtInvioceNo').val(oreturnObj.ExportBillNo);
                $('#txtInvioceNo').addClass('fontColorOfPickItem');
                _oBDYEAC.ExportBillID = oreturnObj.ExportBillID;
                GetDetails(oreturnObj.ExportBillID);
            }
        }else if (oPickerobj.winid == 'winExportBillDetail') {
            if (oreturnobjs != null && oreturnobjs.length> 0) 
            {
                var nLength = oreturnobjs.length;
                for(var i = 0;i<nLength;i++)
                {
                    //var BDYEACDetail={
                    //    BDYEACDetailID:0,
                    //    BDYEACID:_oBDYEAC.BDYEACID,
                    //    ProductName :oreturnobjs[i].ProductName,
                    //    Qty:oreturnobjs[i].Qty,
                    //    QtyInKg:GetKG(oreturnobjs[i].Qty,2)
                    //};
                    $('#tblBDYEACDetailasd').datagrid('appendRow',oreturnobjs[i]);
                }
            }
        }
    }

    function GetDetails(nExportBillID)
    {
        debugger;
        if(parseInt(nExportBillID)<=0)
        {
            alert("Please Pick Export Bill");
            return;
        }
        var oExportBill= {
            ExportBillID : nExportBillID
        };
        $.ajax({
            type: "POST",
            dataType: "json",
            url : _sBaseAddress+"/BDYEAC/GetsBillDetails",
            traditional: true,
            data:  JSON.stringify(oExportBill),
            contentType: "application/json; charset=utf-8",
            success: function (data) {
                oBDYEACDetails = jQuery.parseJSON(data);
                if (oBDYEACDetails.length>0 && (oBDYEACDetails[0].ErrorMessage=="" || oBDYEACDetails[0].ErrorMessage==null))
                {
                    DynamicRefreshList(oBDYEACDetails, "tblBDYEACDetailasd");
                    SetTotal();
                }
                else
                {
                    alert("data not found.");
                }
            },
            error: function (xhr, status, error)
            {
                alert(xhr+'~' +status+'~'+error);
            }
        });
    }
    function SetTotal()
    {
        var oBDYEACDetails = $('#tblBDYEACDetailasd').datagrid('getRows');
        var nTotalQty = 0;
        var nTotalQtyInKg = 0;
        for(var i = 0;i<oBDYEACDetails.length;i++)
        {
            nTotalQty+=parseInt(oBDYEACDetails[i].Qty);
            nTotalQtyInKg+=parseInt(oBDYEACDetails[i].QtyInKg);
            nTotalQty = parseInt(nTotalQty);
            nTotalQtyInKg = parseInt(nTotalQtyInKg);
        }
        $("#lblTotalInLBS").html(nTotalQty + " (Lbs)");
        $("#lblTotalInKg").html(nTotalQtyInKg + " (Kg)");
    }

    $(document).keydown(function(e) {
        if(e.which == 27)//escape=27
        {
            window.location.href = _sBaseAddress+ "/BDYEAC/ViewBDYEACs?menuid="+_nMenuid;
        }
    });
</script>