@model IEnumerable<ESimSol.BusinessObjects.SampleInvoice>
@{
    ViewBag.Title = "ViewSampleInvoices";
}
                      <head>
                          <title>Sample Invoice</title>
                      </head>

                      <body>
                          <div id="progressbarParent" style="width:100%;height:100%;margin:0 auto;text-align:center; margin-left: auto;margin-right: auto;left: 0;right: 0;z-index: 1;">
                              <div style="margin: 0px auto;margin-top: 251px;text-align:center;width:390px;">
                                  <label style="font-size:18px;">Please wait</label>
                                  <div id="progressbar" style="width:100%;height:37px;"></div>
                              </div>
                          </div>
                          <div class="menuMainCollectionTable" style="margin-left: 0px; height: 100%; width:100%">
                           <table style="width:100%;height:100%;" id="tblSampleInvoice" title="Sample Adjustment Note List" class="easyui-datagrid" fit="true" fitcolumns="true" rownumbers="true" pagination="true" singleselect="true" autorowheight="false" toolbar="#toolbar">
                                <thead>
                                    <tr>
                                        <th field="SampleInvoiceNo" width="12%" align="left"> Invoice No</th>
                                        <th field="SampleInvoiceDateST" width="10%" align="center">Invoice Date</th>
                                        <th field="ContractorName" width="15%" align="left">Contractor Name</th>
                                        <th field="AmountST" width="12%" align="right">Amount(USD)</th>
                                        <th field="AmountWithCRateST" width="12%" align="right">Amount</th>
                                        <th field="Currency" width="6%" align="left">Currency</th>
                                        <th field="ExportPINo" width="10%" align="left">P/I No</th>
                                        <th field="IsWillVoucherEffectSt" width="10%" align="left">Vouchar Effect</th>
                                        <th field="ApproveByName" width="10%" align="left">Approve By</th>
                                        <th field="CurrentStatusSt" width="10%" align="left">Current Status</th>
                                        <th field="InvoiceTypeSt" width="10%" align="left">Type</th>
                                        <th field="ContractorPersopnnalName" width="15%" align="left">Contarct Person To</th>
                                    </tr>
                                </thead>
                            </table>
                           <div id="toolbar">
                                <a href="javascript:void(0)" class="easyui-linkbutton" iconcls="icon-search" plain="true" onclick="WaitForApproval()">WaitingForApprove</a>
                                <input type="text" id="txtSearchByInvoiceNo" placeholder="Search Invoice No" style="width:100px" />
                                <input type="text" id="txtSearchByPINo" placeholder="Search by PI No" style="width:100px" />
                                <a id="btnAdvSearch" href="javascript:void(0)" class="easyui-linkbutton" iconcls="icon-search" plain="true">Adv. Search</a>
                                <a href="javascript:void(0)" class="easyui-linkbutton" iconcls="icon-add" plain="true" id="btnAdd">New</a>
                                <a href="javascript:void(0)" class="easyui-linkbutton" iconcls="icon-edit" plain="true" id="btnEdit">Edit</a>
                                <a href="javascript:void(0)" class="easyui-linkbutton" iconcls="icon-remove" plain="true" onclick="Delete()">Delete</a>
                                <a href="javascript:void(0)" class="easyui-linkbutton" iconcls="icon-details" plain="true" id="btnView">Detail</a>
                                <a id="btnChangeVoucherEffect" href="javascript:void(0)" class="easyui-linkbutton" iconcls="icon-edit" plain="true">Voucher Effect</a>
                                <a href="javascript:void(0)" class="easyui-linkbutton" iconcls="icon-approved" plain="true" id="btnApprove">Approve</a>
                                @*<a href="javascript:void(0)" class="easyui-linkbutton" iconcls="icon-cancel" plain="true" id="btnCancel">Cancel</a>*@
                                <a href="javascript:void(0)" class="easyui-linkbutton" iconcls="icon-print" plain="true" id="btnPrint">Preview(SAN)</a>
                               <a id="btnPrintList" href="javascript:void(0)" class="easyui-linkbutton" iconcls="icon-print" plain="true">Report</a>
                               <a id="btnPrintListExcel" href="javascript:void(0)" class="easyui-linkbutton" iconcls="icon-excel" plain="true">Export XL</a>
                                        
                            </div>
                        </div>
                          <div id="winAdvSearch" style="width:450px" class="easyui-window winClass" title="Adv. Search" data-options="modal:true,closed:true,collapsible:false,minimizable:false,maximizable:false,closable:false">
                              <table style="width:100%;">
                                  <tr>
                                      <td>
                                          <fieldset style="margin-bottom: 0px;">
                                              <legend>Searching Criteria</legend>
                                              <table>
                                                  <tr>
                                                      <td style=" width:20%;text-align:right;">
                                                          <label>Issue To </label>
                                                      </td>
                                                      <td colspan="3" style=" width:80%;text-align:left;">
                                                          <input id="txtContractorAdvS" style="width:75%;" type="text" placeholder="Type & Press Enter" />
                                                          <a id="btnPickContractorAdvS" href="javascript:void(0)" class="easyui-linkbutton ics-pick" iconcls="icon-pick" plain="true"></a>
                                                          <a id="btnClrContractorAdvS" href="javascript:void(0)" class="easyui-linkbutton ics-pick" iconcls="icon-clear" plain="true"></a>

                                                      </td>
                                                  </tr>
                                                  <tr>
                                                      <td style=" width:20%;text-align:right;">
                                                          <label>Deliver To </label>
                                                      </td>
                                                      <td colspan="3" style=" width:80%;text-align:left;">
                                                          <input id="txtDeliverToAdvS" style="width:75%;" type="text" placeholder="Type & Press Enter" />
                                                          <a id="btnPickDeliverToAdvS" href="javascript:void(0)" class="easyui-linkbutton ics-pick" iconcls="icon-pick" plain="true"></a>
                                                          <a id="btnClrDeliverToAdvS" href="javascript:void(0)" class="easyui-linkbutton ics-pick" iconcls="icon-clear" plain="true"></a>
                                                      </td>
                                                  </tr>
                                                  <tr>
                                                      <td style=" width:20%;text-align:right;">
                                                          <label>Yarn </label>
                                                      </td>
                                                      <td colspan="3" style=" width:80%;text-align:left;">
                                                          <input id="txtProductName" style="width:75%;" type="text" placeholder="Type & Press Enter" />
                                                          <a id="btnProductPiker" href="javascript:void(0)" class="easyui-linkbutton ics-pick" iconcls="icon-pick" plain="true"></a>
                                                          <a id="btnClrProductPiker" href="javascript:void(0)" class="easyui-linkbutton ics-pick" iconcls="icon-clear" plain="true"></a>
                                                      </td>
                                                  </tr>
                                                
                                                  <tr>
                                                      <td style=" width:20%;text-align:right;">
                                                          <label>Invoice Date </label>
                                                      </td>
                                                      <td colspan="3">
                                                          <select id="cboInvoiceDateAdvSearch" style="width:30%;" onchange=" DateActionsInvoiceDateAdvSearch(); "></select>
                                                          <input id="txtFromInvoiceDateAdvSearch" type="text" style="width: 100px;" class="easyui-datebox" required="required" data-options="formatter:icsdateformat,parser:icsdateparser" />To
                                                          <input id="txtToInvoiceDateAdvSearch" type="text" style="width: 100px;" class="easyui-datebox" required="required" data-options="formatter:icsdateformat,parser:icsdateparser" />
                                                      </td>
                                                  </tr>
                                                  <tr>
                                                      <td style=" width:20%;text-align:right;">
                                                          <label>Order Date </label>
                                                      </td>
                                                      <td colspan="3">
                                                          <select id="cboOrderDateAdvS" style="width:30%;" onchange="DateActionsOrderDateAdvSearch();"></select>
                                                          <input id="txtFromOrderDateAdvSearch" type="text" style="width: 100px;" class="easyui-datebox" required="required" data-options="formatter:icsdateformat,parser:icsdateparser" />To
                                                          <input id="txtToOrderDateAdvSearch" type="text" style="width: 100px;" class="easyui-datebox" required="required" data-options="formatter:icsdateformat,parser:icsdateparser" />
                                                      </td>
                                                  </tr>
                                                  @*<tr>
                                                      <td style=" width:20%;text-align:right;">
                                                          <label>Delivery Date </label>
                                                      </td>
                                                      <td colspan="3">
                                                          <select id="cboDeliveryDateAdvS" style="width:30%;" onchange=" DateActionsDeliveryDateAdvSearch(); "></select>
                                                          <input id="txtFromDeliveryDateAdvSearch" type="text" style="width: 100px;" class="easyui-datebox" required="required" data-options="formatter:icsdateformat,parser:icsdateparser" />To
                                                          <input id="txtToDeliveryDateAdvSearch" type="text" style="width: 100px;" class="easyui-datebox" required="required" data-options="formatter:icsdateformat,parser:icsdateparser" />
                                                      </td>
                                                  </tr>*@

                                                  <tr>
                                                      <td style=" width:20%;text-align:right;">
                                                          <label>Invoice Type </label>
                                                      </td>
                                                      <td style=" width:30%;text-align:left;">
                                                          <select id="cboInvoiceType" style="width: 100%;"></select>
                                                      </td>
                                                      <td style=" width:20%;text-align:right;">
                                                        
                                                      </td>
                                                      <td style=" width:30%;text-align:left;">
                                                        
                                                      </td>
                                                  </tr>
                                                
                                                  <tr>
                                                      <td style=" width:20%;text-align:right;">
                                                          <label>Concern Person </label>
                                                      </td>
                                                      <td colspan="3" style=" width:80%;text-align:left;">
                                                          <select id="cboMkPersonAdvSearch" style="width:100%;"></select>
                                                      </td>
                                                  </tr>



                                                  <tr>
                                                      <td style=" width:20%;text-align:right;">
                                                          <label>Invoice No </label>
                                                      </td>
                                                      <td style=" width:30%;text-align:left;">
                                                          <input id="txtInvoiceNo" type="text" style="width:100%" />
                                                      </td>
                                                      <td style=" width:20%;text-align:right;">
                                                          <label>P/I No </label>
                                                      </td>
                                                      <td style=" width:30%;text-align:left;">
                                                          <input id="txtPINo" type="text" style="width:95%" />
                                                      </td>
                                                  </tr>
                                                  @*<tr>
                                                      <td style=" width:20%;text-align:right;">
                                                          <label>Order No </label>
                                                      </td>
                                                      <td style=" width:30%;text-align:left;">
                                                          <input id="txtOrderNo" type="text" style="width:100%" />
                                                      </td>
                                                      <td style=" width:20%;text-align:right;">
                                                          <label>Ref No </label>
                                                      </td>
                                                      <td style=" width:30%;text-align:left;">
                                                          <input id="txtRefNoAdvS" type="text" style="width:95%" />
                                                      </td>
                                                  </tr>


                                                  <tr>
                                                      <td style="text-align:right;"></td>
                                                      <td>
                                                          <input id="chkYetNotAttachWithSalesContract" type="checkbox" style="width:5%;" />
                                                          <label>Yet not Adjust </label>
                                                      </td>
                                                      <td colspan="2" style="text-align:right;">
                                                          <input id="chkYetNotReceiveLC" type="checkbox" style="width:5%;" />
                                                          <label>Yet not Receive L/C</label>
                                                      </td>
                                                  </tr>*@
                                                  <tr>
                                                      <td height="5px" colspan="4"></td>
                                                  </tr>
                                                  @*<tr>
                                    <td class="btnResetSearch" colspan="4">
                                        <a id="btnSearchAdvSearch" href="javascript:void(0)" class="easyui-linkbutton" iconcls="icon-search" plain="true">Search</a>
                                        <a id="btnResetAdvSearch" href="javascript:void(0)" class="easyui-linkbutton" iconcls="icon-reload" plain="true">Reset</a>
                                    </td>
                                </tr>*@
                                              </table>
                                          </fieldset>
                                      </td>
                                  </tr>
                              </table>
                              <fieldset class="actionfieldsetstyle">
                                  <legend> </legend>
                                  <a id="btnResetAdvSearch" href="javascript:void(0)" class="easyui-linkbutton" iconcls="icon-reload" plain="true">Reset</a>
                                  <a id="btnSearchAdvSearch" href="javascript:void(0)" class="easyui-linkbutton" iconcls="icon-search" plain="true">Search</a>
                              </fieldset>
                              <fieldset class="actionfieldsetstyle">
                                  <legend>Actions : </legend>
                                  <label class="lblLoadingMessage" style="float: left;">Loading Please Wait...</label>
                                  <a id="btnCloseAdvSearch" href="javascript:void(0)" class="easyui-linkbutton" iconcls="icon-cancel" plain="true">Close</a>
                              </fieldset>
                          </div>
                      </body>

<script type="text/javascript">
    var _oSampleInvoices=[];
    var _sBaseAddress = "";
    var _oPermissions=[];
    var _nMenuID=0;
    var _nID=-1;
    var _nContractorIDs="";
    var _sContractorIds = '';
    var _sProductIds = '';
    var _sDeliverToIDs = '';
    var _oInvoiceTypes=[];
    var _nBUID=0;
    $(document).ready(function () {
        //debugger;
        _sBaseAddress =@Html.Raw( new System.Web.Script.Serialization.JavaScriptSerializer().Serialize(HttpContext.Current.Session[SessionInfo.BaseAddress]));
        @*_oPermissions =@Html.Raw( new System.Web.Script.Serialization.JavaScriptSerializer().Serialize(HttpContext.Current.Session[SessionInfo.AuthorizationUserOEDOs]));*@
        _oSampleInvoices =@Html.Raw( new System.Web.Script.Serialization.JavaScriptSerializer().Serialize(Model));
        _sMenuID =@Html.Raw( new System.Web.Script.Serialization.JavaScriptSerializer().Serialize(HttpContext.Current.Session[SessionInfo.MenuID]));
        _oCompareOperators = @Html.Raw(new System.Web.Script.Serialization.JavaScriptSerializer().Serialize(ViewBag.CompareOperators));
        _sMenuID =@Html.Raw( new System.Web.Script.Serialization.JavaScriptSerializer().Serialize(HttpContext.Current.Session[SessionInfo.MenuID]));
        _nBUID = @Html.Raw(new System.Web.Script.Serialization.JavaScriptSerializer().Serialize(ViewBag.BUID));
        _oMktPersons = @Html.Raw(new System.Web.Script.Serialization.JavaScriptSerializer().Serialize(ViewBag.MktPersons));
        _oInvoiceTypes = @Html.Raw(new System.Web.Script.Serialization.JavaScriptSerializer().Serialize(ViewBag.InvoiceTypes));
        sessionStorage.setItem('BUID',_nBUID);

        _nID =parseInt(sessionStorage.getItem("SelectedRowIndex"));
        var oSampleInvoices =sessionStorage.getItem("SampleInvoices");
        if(oSampleInvoices!=null)
        {
            oSampleInvoices = jQuery.parseJSON(oSampleInvoices);
        }
        else
        {
            oSampleInvoices=_oSampleInvoices;
        }
        RefreshList(oSampleInvoices);

        if(_nID!=-1)
        {
            $('#tblSampleInvoice').datagrid('selectRow', _nID);
        }

        $("#progressbar").progressbar({ value: 0 });
        $("#progressbarParent").hide();
        $(".lblLoadingMessage").hide();
        LoadComboAdv();

    });


    function Authorization(_oPermissions)
    {
        debugger;
        document.getElementById("btnApproved").style.display = 'none';
        for (var i=0; i< _oPermissions.length; i++)
        {
            if (_oPermissions[i].DBObjectName=='SampleInvoice' && _oPermissions[i].OEValueInString=='_Approve')
            {
                document.getElementById("btnApproved").style.display = '';
            }
        }
    }



    function RefreshList(oSampleInvoices)
    {
        data=oSampleInvoices;
        data={"total":""+data.length+"","rows":data};
        $('#tblSampleInvoice').datagrid('loadData',data);

    }



    $("#btnAdd").click(function(){
        var oSampleInvoices= $('#tblSampleInvoice').datagrid('getRows');
        sessionStorage.setItem("SampleInvoices", JSON.stringify(oSampleInvoices));
        sessionStorage.setItem("SelectedRowIndex", -1);
        sessionStorage.setItem("SampleInvoiceHeader", "Add Sample Invoice");
        sessionStorage.setItem("Operation", "New");
        sessionStorage.setItem("BackLink", window.location.href);
        window.location.href = _sBaseAddress+ "/SampleInvoice/ViewSampleInvoiceAdj?id=0&buid="+sessionStorage.getItem('BUID');
    });

    $("#btnEdit").click(function(){

        var oSampleInvoice= $('#tblSampleInvoice').datagrid('getSelected');
        if(oSampleInvoice==null || oSampleInvoice.SampleInvoiceID<=0)
        {
            alert("Please select a item from list!");
            return;
        }
        var SelectedRowIndex=$('#tblSampleInvoice').datagrid('getRowIndex',oSampleInvoice);


        var oSampleInvoices= $('#tblSampleInvoice').datagrid('getRows');
        sessionStorage.setItem("SampleInvoices", JSON.stringify(oSampleInvoices));
        sessionStorage.setItem("SelectedRowIndex", SelectedRowIndex);
        sessionStorage.setItem("Header", "Edit Sample Invoice");
        sessionStorage.setItem("Operation", "Edit");
        sessionStorage.setItem("BackLink", window.location.href);
        window.location.href = _sBaseAddress+ "/SampleInvoice/ViewSampleInvoiceAdj?id="+oSampleInvoice.SampleInvoiceID+"&buid="+sessionStorage.getItem('BUID');

    });
    $("#btnApprove").click(function(){
        var oSampleInvoice= $('#tblSampleInvoice').datagrid('getSelected');
        if(oSampleInvoice==null || oSampleInvoice.SampleInvoiceID<=0)
        {
            alert("Please select a item from list!");
            return;
        }
        var SelectedRowIndex=$('#tblSampleInvoice').datagrid('getRowIndex',oSampleInvoice);


        var oSampleInvoices= $('#tblSampleInvoice').datagrid('getRows');
        sessionStorage.setItem("SampleInvoices", JSON.stringify(oSampleInvoices));
        sessionStorage.setItem("SelectedRowIndex", SelectedRowIndex);
        sessionStorage.setItem("Header", "Edit Sample Invoice");
        sessionStorage.setItem("Operation", "Approve");
        sessionStorage.setItem("BackLink", window.location.href);
        window.location.href = _sBaseAddress+ "/SampleInvoice/ViewSampleInvoiceAdj?id="+oSampleInvoice.SampleInvoiceID+"&buid="+sessionStorage.getItem('BUID');

    });
    $("#btnView").click(function(){

        var oSampleInvoice= $('#tblSampleInvoice').datagrid('getSelected');
        if(oSampleInvoice==null || oSampleInvoice.SampleInvoiceID<=0)
        {
            alert("Please select a item from list!");
            return;
        }
        var SelectedRowIndex=$('#tblSampleInvoice').datagrid('getRowIndex',oSampleInvoice);


        var oSampleInvoices= $('#tblSampleInvoice').datagrid('getRows');
        sessionStorage.setItem("SampleInvoices", JSON.stringify(oSampleInvoices));
        sessionStorage.setItem("SelectedRowIndex", SelectedRowIndex);
        sessionStorage.setItem("Operation", "View");
        sessionStorage.setItem("BackLink", window.location.href);
        window.location.href = _sBaseAddress+ "/SampleInvoice/ViewSampleInvoiceAdj?id="+oSampleInvoice.SampleInvoiceID+"&buid="+sessionStorage.getItem('BUID');

    });
    $("#btnChangeVoucherEffect").click(function(){
        debugger;
        var oSampleInvoice= $('#tblSampleInvoice').datagrid('getSelected');
        if(oSampleInvoice==null || parseInt(oSampleInvoice.SampleInvoiceID)<=0)
        {
            alert("Please select a item from list!");
            return;
        }

        if(oSampleInvoice.IsWillVoucherEffect==false)
        {
            if (!confirm("Confirm to Effect?")) return;
            oSampleInvoice.IsWillVoucherEffect=true;
        }else
        {
            if (!confirm("Confirm to Not Effect?")) return;
            oSampleInvoice.IsWillVoucherEffect=false;
        }
        var SelectedRowIndex = $('#tblSampleInvoice').datagrid('getRowIndex', oSampleInvoice);
        $.ajax({
            type: "POST",
            dataType: "json",
            url : sessionStorage.getItem('BaseAddress')+"/SampleInvoice/UpdateVoucherEffect",
            traditional: true,
            data:  JSON.stringify(oSampleInvoice),
            contentType: "application/json; charset=utf-8",
            success: function (data) {
                var oSampleInvoice = jQuery.parseJSON(data);
                if (parseInt(oSampleInvoice.SampleInvoiceID)>0)
                {
                    alert("Data Saved sucessfully");
                    debugger;
                    $('#tblSampleInvoice').datagrid('updateRow',{index: SelectedRowIndex,row: oSampleInvoice});
                }
                else {
                    alert(oSampleInvoice.ErrorMessage);
                }
            },
            error: function (xhr, status, error) {
                alert(error);
            }
        });
    });

    $("#btnCancel").click(function(){

        var oSampleInvoice= $('#tblSampleInvoice').datagrid('getSelected');
        if(oSampleInvoice==null || oSampleInvoice.InvoiceID<=0)
        {
            alert("Please select a item from list!");
            return;
        }
        var SelectedRowIndex=$('#tblSampleInvoice').datagrid('getRowIndex',oSampleInvoice);
        var oInvoices= $('#tblSampleInvoice').datagrid('getRows');
        sessionStorage.setItem("SelectedRowIndex", SelectedRowIndex);
        sessionStorage.setItem("Invoices", JSON.stringify(oInvoices));
        sessionStorage.setItem("Header", "Cancel");
        sessionStorage.setItem("BackLink", window.location.href);
        //window.location.href = _sBaseAddress+  "/RPT_SampleInvoiceApprove/ViewPaymentContractApproved?id="+oSampleInvoice.SampleInvoiceID;
        window.location.href = _sBaseAddress+ "/RPT_SampleInvoiceApprove/ViewPaymentContractApproved?id="+oSampleInvoice.SampleInvoiceID+"&buid="+sessionStorage.getItem('BUID');
    });




    function Delete()
    {
        ////debugger;
        var oSampleInvoice= $('#tblSampleInvoice').datagrid('getSelected');
        if (!confirm("Confirm to Delete?")) return ;

        if(oSampleInvoice==null || oSampleInvoice.SampleInvoiceID<=0)
        {
            alert("Invalid Field!!! please select a valid Field!");
            return false;
        }
        var SelectedRowIndex=$('#tblSampleInvoice').datagrid('getRowIndex',oSampleInvoice);

        if (oSampleInvoice.SampleInvoiceID > 0)
        {

            $.ajax
            ({
                type: "GET",
                dataType: "json",
                url: '@Url.Action("Delete", "SampleInvoice")',
                data: { id: oSampleInvoice.SampleInvoiceID},
                contentType: "application/json; charset=utf-8",
                success: function (data) {
                    debugger;
                    feedbackmessage = jQuery.parseJSON(data);
                    if (feedbackmessage == "Deleted")
                    {
                        alert("Delete sucessfully");
                        $('#tblSampleInvoice').datagrid('deleteRow',SelectedRowIndex);

                    }
                    else
                    {
                        alert(feedbackmessage);
                    }
                },
                error: function (xhr, status, error)
                {
                    alert(error);
                }

            });
        }
    }



    function WaitForApproval()
    {
        window.location.href = _sBaseAddress+ '/SampleInvoice/ViewSampleInvoiceAdjs?'+"buid="+_nBUID+"&menuid="+_sMenuID; 
    }


    $('#btnPrint').click(function(e){        
        var oSampleInvoice= $('#tblSampleInvoice').datagrid('getSelected');
        if(oSampleInvoice==null || oSampleInvoice.SampleInvoiceID<=0)
        {
            alert("Please select a item from list!");
            return;
        }
        window.open(_sBaseAddress+ "/SampleInvoice/PrintSampleInvoice_AdjInvoice?id="+oSampleInvoice.SampleInvoiceID+"&bIsSample="+false, "_blank");
    });

    $('#btnPrintList').click(function(){
      
        var oSampleInvoices= $('#tblSampleInvoice').datagrid('getRows');
        if(oSampleInvoices.length<=0)
        {
            alert("Data not found ");
            return;
        }
        var sSampleInvoiceIDs = "";
        for(var i = 0;i<oSampleInvoices.length;i++)
        {
            sSampleInvoiceIDs+= oSampleInvoices[i].SampleInvoiceID+",";
        }
        sSampleInvoiceIDs = sSampleInvoiceIDs.substring(0, sSampleInvoiceIDs.length-1);
        var oSampleInvoice = {ErrorMessage:sSampleInvoiceIDs,BUID:_nBUID};
        $.ajax({
            type: "POST",
            dataType: "json",
            url : _sBaseAddress+  "/SampleInvoice/SetSampleInvoiceListData",
            traditional: true,
            data:  JSON.stringify(oSampleInvoice),
            contentType: "application/json; charset=utf-8",
            success: function (data) {
                var sFeedBackMessage = jQuery.parseJSON(data);
                if (sFeedBackMessage==="Successful")
                {
                    window.open (_sBaseAddress+ "/SampleInvoice/PrintSampleInvoiceDetails");
                }
            },
            error: function (xhr, status, error) {
                alert(error);
            }
        });

    });
    

    $('#btnPrintListExcel').click(function(){
      
        var oSampleInvoices= $('#tblSampleInvoice').datagrid('getRows');
        if(oSampleInvoices.length<=0)
        {
            alert("Data not found ");
            return;
        }
        var sSampleInvoiceIDs = "";
        for(var i = 0;i<oSampleInvoices.length;i++)
        {
            sSampleInvoiceIDs+= oSampleInvoices[i].SampleInvoiceID+",";
        }
        sSampleInvoiceIDs = sSampleInvoiceIDs.substring(0, sSampleInvoiceIDs.length-1);
        var oSampleInvoice = {ErrorMessage:sSampleInvoiceIDs,BUID:_nBUID};
        $.ajax({
            type: "POST",
            dataType: "json",
            url : _sBaseAddress+  "/SampleInvoice/SetSampleInvoiceListData",
            traditional: true,
            data:  JSON.stringify(oSampleInvoice),
            contentType: "application/json; charset=utf-8",
            success: function (data) {
                var sFeedBackMessage = jQuery.parseJSON(data);
                if (sFeedBackMessage==="Successful")
                {
                    window.open (_sBaseAddress+ "/SampleInvoice/ExportToExcel");
                }
            },
            error: function (xhr, status, error) {
                alert(error);
            }
        });

    });



    $("#txtSearchByInvoiceNo").keydown(function (e) {
        var nkeyCode = e.keyCode || e.which;
        if(nkeyCode==13){

            var oSampleInvoice= {
                ExportPINo :"",
                OrderNo: "",
                SampleInvoiceNo: $("#txtSearchByInvoiceNo").val()
            };
            GetsOrders(oSampleInvoice);
        }
        else if(nkeyCode==8){
            $("#txtSearchByInvoiceNo").val("");

        }
    });


    $("#txtSearchByPINo").keydown(function (e) {
        var nkeyCode = e.keyCode || e.which;
        if(nkeyCode==13){

            var oSampleInvoice= {
                ExportPINo : $("#txtSearchByPINo").val(),
                OrderNo:  "",
                SampleInvoiceNo: ""
            };
            GetsOrders(oSampleInvoice);
        }
        else if(nkeyCode==8){
            $("#txtSearchByPINo").val("");

        }
    });


    function GetsOrders(oSampleInvoice)
    {
        $(".lblLoadingMessage").show();

        var nCboOrderDate = 0;
        var dFromOrderDate = icsdateformat(new Date());
        var dToOrderDate = icsdateformat(new Date());

        var ncboInvoiceDate = 0;
        var dFromInvoiceDate = icsdateformat(new Date());
        var dToInvoiceDate =icsdateformat(new Date());

        var ncboDeliveryDate = 0;
        var dFromDeliveryDate =icsdateformat(new Date());
        var dToDeliveryDate = icsdateformat(new Date());

        var ncboPaymentType =0;
        var nCboMkPerson = 0;
        var nOrderType = 0;
        var nInvoiceType = 0;
        
        var sPINo = $.trim(oSampleInvoice.ExportPINo);
        var sInvoiceNo = $.trim(oSampleInvoice.SampleInvoiceNo);
        var sOrderNo = "";
        var sRefNo = "";

        var bYetNotAttachWithSalesContract = false;
        var bYetNotReceiveLC = false;

        var nInvoiceTypeFixec =2;
        var bchkYetNotAssignOrder = false;

        var sParams = _sContractorIds + "~" +
                      _sDeliverToIDs + "~" +
                      nCboOrderDate + "~" +
                      dFromOrderDate + "~" +
                      dToOrderDate + "~" +
                      ncboInvoiceDate + "~" +
                      dFromInvoiceDate + "~" +
                      dToInvoiceDate + "~" +
                      ncboDeliveryDate + "~" +
                      dFromDeliveryDate + "~" +
                      dToDeliveryDate + "~" +
                      nCboMkPerson + "~" +
                      ncboPaymentType + "~" +
                      nOrderType + "~" +
                      sPINo+"~"+
                      sInvoiceNo+"~"+
                      sOrderNo+"~"+
                      sRefNo+"~"+
                       _sProductIds+"~"+
                      bYetNotAttachWithSalesContract + "~" +
                      bYetNotReceiveLC + "~" +
                      nInvoiceTypeFixec + "~" +
                      nInvoiceType + "~" +
                      _nBUID+ "~" +
                       bchkYetNotAssignOrder+"~"+
                      0
        var oSampleInvoice = {
            ErrorMessage : sParams
        };

        $.ajax({
            type: "POST",
            dataType: "json",
            url: _sBaseAddress + "/SampleInvoice/AdvSearch",
            traditional: true,
            data: JSON.stringify(oSampleInvoice),
            contentType: "application/json; charset=utf-8",
            success: function (data) {
                var oSampleInvoices = jQuery.parseJSON(data);
                debugger;
                if (oSampleInvoices != null) {
                    if (oSampleInvoices.length > 0)
                    {

                        DynamicRefreshList(oSampleInvoices, "tblSampleInvoice");
                        $("#winAdvSearch").icsWindow("close");

                    }
                    else
                    {
                        alert("Sorry, No data found.");
                        DynamicRefreshList([], "tblSampleInvoice");
                    }

                } else {
                    alert("Sorry, No data found.");
                    DynamicRefreshList([], "tblSampleInvoice");
                }
                $(".lblLoadingMessage").hide();
            }
        });
    }


    ////Start adv Searching

    function updateProgress() {
        var value =$('#progressbar').progressbar('getValue');
        if (value < 96){
            value += Math.floor(Math.random() * 10);
            $('#progressbar').progressbar('setValue', value);
        }
    }
    function hideShow(miliseconds) {
        $("#progressbarParent").hide();
    }
    //Account Of Picker

    $("#txtContractorAdvS").keydown(function (e) {
        if (e.keyCode === 13) // Enter Press
        {
            PickContractors_AdvS();
        }
        else if (e.keyCode === 08) {
            $("#txtContractorAdvS").removeClass("fontColorOfPickItem");
            _sContractorIds = '';
        }
    });

    $("#btnClrContractorAdvS").click(function () {
        $("#txtContractorAdvS").removeClass("fontColorOfPickItem");
        $("#txtContractorAdvS").val("");
        _sContractorIds = '';
    });

    $("#btnPickContractorAdvS").click(function () {
        PickContractors_AdvS();
    });
    $("#txtSearchByAccountNamePickerAdvSearch").keydown(function (e) {
        var obj = {
            Event: e,
            SearchProperty: "Name",
            GlobalObjectList: _oAccountsOf,
            TableId: "tblAccountsPickerAdvSearch"
        };
        $('#txtSearchByAccountNamePickerAdvSearch').icsSearchByText(obj);
    });
    //End Account Of Picker
    $("#txtDeliverToAdvS").keydown(function (e) {
        if (e.keyCode === 13) // Enter Press
        {
            PickDeliverTo_AdvS();
        }
        else if (e.keyCode === 08) {
            $("#txtDeliverToAdvS").removeClass("fontColorOfPickItem");
            _sDeliverToIDs ="";
        }
    });

    $("#btnClrDeliverToAdvS").click(function () {
        $("#txtDeliverToAdvS").removeClass("fontColorOfPickItem");
        $("#txtDeliverToAdvS").val("");
        _sDeliverToIDs ="";
    });

    $("#btnPickDeliverToAdvS").click(function () {
        PickDeliverTo_AdvS();
    });

    //Product Pick
    $("#txtProductName").keydown(function (e) {
        debugger;
        var code = (e.keyCode ? e.keyCode : e.which);
        if (code == 13) // Enter Press
        {
            if($('#txtProductName').val()==null || $('#txtProductName').val()=="")
            {
                alert("Please Type Product and Press Enter.");
                $('#txtProductName').focus();
                return;
            }
            PickProduct($('#txtProductName').val());
        }
        if (code == 8) //backspace=8
        {
            //debugger;
            $("#txtProductName").removeClass("fontColorOfPickItem");
            _sProductIds= [];
        }
    });
    $("#btnProductPiker").click(function () {
        PickProduct("");
    });
    $("#btnClrProductPiker").click(function () {
        $("#txtProductName").val('');
        $("#txtProductName").removeClass("fontColorOfPickItem");
        _sProductIds= [];
    });
    function PickProduct(sProductName)
    {
        var oProduct = { BUID:sessionStorage.getItem("BUID"),ProductName:sProductName};
        var obj = {
            BaseAddress: _sBaseAddress,
            Object: oProduct,
            ControllerName: "Product",
            ActionName: "SearchByProductBUWise",
            IsWinClose: false
        };
        $.icsDataGets(obj, function (response) {
            debugger;
            if (response.status && response.objs.length > 0) {
                if (response.objs[0].ProductID > 0) {
                    var tblColums = [];
                    var oColumn = { field: "ProductCode", title: "Code", width: 100, align: "left" }; tblColums.push(oColumn);
                    oColumn = { field: "ProductName", title: "Name", width: 300, align: "left" }; tblColums.push(oColumn);
                    oColumn = { field: "MUnit", title: "Unit", width: 70, align: "left" }; tblColums.push(oColumn);
                    var oPickerParam = {
                        winid: 'winProductPicker',
                        winclass: 'clsProductPicker',
                        winwidth: 600,
                        winheight: 460,
                        tableid: 'tblProductPicker',
                        tablecolumns: tblColums,
                        datalist: response.objs,
                        multiplereturn: true,
                        searchingbyfieldName: 'NameCode',
                        windowTittle: 'Product List'
                    };
                    $.icsPicker(oPickerParam);
                    IntializePickerbutton(oPickerParam);
                }
                else {
                    alert(response.objs[0].ErrorMessage);
                }

            }else{
                alert("Data Not Found.");
            }
        });
    }


    //End Buyer Search
    $("#btnResetAdvSearch").click(function () {
        ResetAdvSearchWindow();
        DateActionsOrderDateAdvSearch();
        DateActionsInvoiceDateAdvSearch();
        DateActionsDeliveryDateAdvSearch();
        DateActionsStatusDateAdvSearch();
    });

    $("#btnSearchAdvSearch").click(function () {
        debugger;

        $(".lblLoadingMessage").show();

        var checkDate = CheckFromAndToDateValidation("cboOrderDateAdvS", "txtFromOrderDateAdvSearch", "txtToOrderDateAdvSearch");
        if (!checkDate) {
            alert("Start date must be greater than end date.");
            return false;
        }
        checkDate = CheckFromAndToDateValidation("cboInvoiceDateAdvSearch", "txtFromInvoiceDateAdvSearch", "txtToInvoiceDateAdvSearch");
        if (!checkDate) {
            alert("Start date must be greater than end date.");
            return false;
        }
        //checkDate = CheckFromAndToDateValidation("cboDeliveryDateAdvS", "txtFromDeliveryDateAdvSearch", "txtToDeliveryDateAdvSearch");
        //if (!checkDate) {
        //    alert("Start date must be greater than end date.");
        //    return false;
        //}


        //var nContractorID = parseInt(_sContractorIds);
        //var nBuyerID = parseInt(_sDeliverToIDs);
        var nCboOrderDate = parseInt($("#cboOrderDateAdvS").val());
        var dFromOrderDate = $('#txtFromOrderDateAdvSearch').datebox('getValue');
        var dToOrderDate = $('#txtToOrderDateAdvSearch').datebox('getValue');

        var ncboInvoiceDate = parseInt($("#cboInvoiceDateAdvSearch").val());
        var dFromInvoiceDate = $('#txtFromInvoiceDateAdvSearch').datebox('getValue');
        var dToInvoiceDate = $('#txtToInvoiceDateAdvSearch').datebox('getValue');

        var ncboDeliveryDate = 0;
        var dFromDeliveryDate = $('#txtFromInvoiceDateAdvSearch').datebox('getValue');
        var dToDeliveryDate = $('#txtFromInvoiceDateAdvSearch').datebox('getValue');

        var ncboPaymentType =0;
        var nCboMkPerson = parseInt($("#cboMkPersonAdvSearch").val());
        var nOrderType = 0;
        var nInvoiceType = parseInt($("#cboInvoiceType").val());
        
        var sPINo = $.trim($("#txtPINo").val());
        var sInvoiceNo = $.trim($("#txtInvoiceNo").val());
        var sOrderNo = "";
        var sRefNo = "";
        var bchkYetNotAssignOrder = false;
        var bYetNotAttachWithSalesContract = false;
        var bYetNotReceiveLC = false;
        var _nProductNature=0;
        var nInvoiceTypeFixec =2;
        if(parseInt(_nProductNature)!=0)//not is Yarn
        {
            nInvoiceTypeFixec = 11;//Sales Contract
        }
        var sParams = _sContractorIds + "~" +
                      _sDeliverToIDs + "~" +
                      nCboOrderDate + "~" +
                      dFromOrderDate + "~" +
                      dToOrderDate + "~" +
                      ncboInvoiceDate + "~" +
                      dFromInvoiceDate + "~" +
                      dToInvoiceDate + "~" +
                      ncboDeliveryDate + "~" +
                      dFromDeliveryDate + "~" +
                      dToDeliveryDate + "~" +
                      nCboMkPerson + "~" +
                      ncboPaymentType + "~" +
                      nOrderType + "~" +
                      sPINo+"~"+
                      sInvoiceNo+"~"+
                      sOrderNo+"~"+
                      sRefNo+"~"+
                       _sProductIds+"~"+
                      bYetNotAttachWithSalesContract + "~" +
                      bYetNotReceiveLC + "~" +
                      nInvoiceTypeFixec + "~" +
                      nInvoiceType + "~" +
                       _nBUID+"~"+
                       false+"~"+
                      _nProductNature ;
                   bchkYetNotAssignOrder+"~"+
                    _nProductNature;
        var oSampleInvoice = {
            ErrorMessage : sParams
        };

        $.ajax({
            type: "POST",
            dataType: "json",
            url: _sBaseAddress + "/SampleInvoice/AdvSearch",
            traditional: true,
            data: JSON.stringify(oSampleInvoice),
            contentType: "application/json; charset=utf-8",
            success: function (data) {
                var oSampleInvoices = jQuery.parseJSON(data);
                debugger;
                if (oSampleInvoices != null) {
                    if (oSampleInvoices.length > 0)
                    {

                        DynamicRefreshList(oSampleInvoices, "tblSampleInvoice");
                        $("#winAdvSearch").icsWindow("close");

                    }
                    else
                    {
                        alert("Sorry, No data found.");
                        DynamicRefreshList([], "tblSampleInvoice");
                    }

                } else {
                    alert("Sorry, No data found.");
                    DynamicRefreshList([], "tblSampleInvoice");
                }
                $(".lblLoadingMessage").hide();
            }
        });
    });

    function LoadComboAdv()
    {
        $("#cboInvoiceType").icsLoadCombo({
            List: _oInvoiceTypes,
            OptionValue: "id",
            DisplayText: "Value"
        });
        //$("#cboPaymentType").icsLoadCombo({
        //    List: _oPaymentTypes,
        //    OptionValue: "Value",
        //    DisplayText: "Text"
        //});
        $("#cboOrderDateAdvS, #cboInvoiceDateAdvSearch").icsLoadCombo({
            List: _oCompareOperators,
            OptionValue: "id",
            DisplayText: "Value"
        });
        $("#cboMkPersonAdvSearch").icsLoadCombo({
            List: _oMktPersons,
            OptionValue: "EmployeeID",
            DisplayText: "Name"
        });
    }
    function CheckFromAndToDateValidation(OperationComboId, FromDateId, ToDateId) {
        $("#" + OperationComboId).parent().parent().parent().find("select").removeClass("errorFieldBorder");
        var nCboVal = $("#" + OperationComboId).val();
        if (parseInt(nCboVal) == 5 || parseInt(nCboVal) == 6) {
            var fromDate = $("#" + FromDateId).datebox("getValue");
            var toDate = $("#" + ToDateId).datebox("getValue");
            if (new Date(fromDate) > new Date(toDate)) {
                $("#" + ToDateId).focus();
                $("#" + OperationComboId).addClass("errorFieldBorder");
                $(".lblLoadingMessage").hide();
                return false;
            } else {
                $("#" + OperationComboId).removeClass("errorFieldBorder");
                return true;
            }
        } else {
            return true;
        }
    }

    function ResetAdvSearchWindow() {
        _sContractorIds = '';
        _sDeliverToIDs = "";
        $("#winAdvSearch input").not("input[type='button']").val("");
        $("#winAdvSearch input").removeClass("fontColorOfPickItem");
        $("#winAdvSearch select").val(0);
        DateActionsOrderDateAdvSearch();
        DateActionsInvoiceDateAdvSearch();
        DateActionsDeliveryDateAdvSearch();
        $("#txtFromOrderDateAdvSearch,#txtToOrderDateAdvSearch,#txtFromInvoiceDateAdvSearch,#txtToInvoiceDateAdvSearch").datebox({ disabled: true });
        $("#txtFromOrderDateAdvSearch,#txtToOrderDateAdvSearch,#txtFromInvoiceDateAdvSearch,#txtToInvoiceDateAdvSearch").datebox("setValue", icsdateformat(new Date()));
    }

    function PickContractors_AdvS() {
        debugger;
        var oContractor = {
            Params: '2,3' + '~' + $.trim($("#txtContractorAdvS").val()+"~"+_nBUID)
        };
        var obj = {
            BaseAddress: _sBaseAddress,
            Object: oContractor,
            ControllerName: "Contractor",
            ActionName: "ContractorSearchByNameType",
            IsWinClose: false
        };

        $("#progressbar").progressbar({ value: 0 });
        $("#progressbarParent").show();
        var intervalID = setInterval(updateProgress, 250);


        $.icsDataGets(obj, function (response) {
            clearInterval(intervalID);
            $("#progressbarParent").hide();
            if (response.status && response.objs.length > 0) {
                if (response.objs[0].ContractorID > 0) {
                    var tblColums = []; var oColumn = { field: "ContractorID", title: "Code", width: 50, align: "left" }; tblColums.push(oColumn);
                    oColumn = { field: "Name", title: "Name", width: 280, align: "left" }; tblColums.push(oColumn);

                    var oPickerParam = {
                        winid: 'winContractorPicker',
                        winclass: 'clsAccountOf',
                        winwidth: 400,
                        winheight: 460,
                        tableid: 'tblAccountOfs',
                        tablecolumns: tblColums,
                        datalist: response.objs,
                        multiplereturn: true,
                        searchingbyfieldName: 'Name',
                        windowTittle: 'Contactor List'
                    };
                    $.icsPicker(oPickerParam);
                    IntializePickerbutton(oPickerParam);
                }
                else {
                    alert(response.objs[0].ErrorMessage);
                }
            }
            else {
                alert("Sorry, No Contactor Found.");
            }
        });
    }

    function PickDeliverTo_AdvS() {
        var oContractor = {
            Params: '2' + '~' + $.trim($("#txtDeliverToAdvS").val()+"~"+_nBUID)
        };
        var obj = {
            BaseAddress: _sBaseAddress,
            Object: oContractor,
            ControllerName: "Contractor",
            ActionName: "ContractorSearchByNameType",
            IsWinClose: false
        };
        $("#progressbar").progressbar({ value: 0 });
        $("#progressbarParent").show();
        var intervalID = setInterval(updateProgress, 250);
        DynamicRefreshList([], "tblContractorsPickerAdvSearch");
        $.icsDataGets(obj, function (response) {
            clearInterval(intervalID);
            $("#progressbarParent").hide();
            if (response.status && response.objs.length > 0) {
                if (response.objs[0].ContractorID > 0) {
                    var tblColums = []; var oColumn = { field: "ContractorID", title: "Code", width: 50, align: "left" }; tblColums.push(oColumn);
                    oColumn = { field: "Name", title: "Name", width: 280, align: "left" }; tblColums.push(oColumn);
                    var oPickerParam = {
                        winid: 'winBuyers',
                        winclass: 'clsBuyer',
                        winwidth: 400,
                        winheight: 460,
                        tableid: 'tblBuyers',
                        tablecolumns: tblColums,
                        datalist: response.objs,
                        multiplereturn: true,
                        searchingbyfieldName: 'Name',
                        windowTittle: 'Buyer List'
                    };
                    $.icsPicker(oPickerParam);
                    IntializePickerbutton(oPickerParam);
                }
                else {
                    alert(response.objs[0].ErrorMessage);
                }
            }
            else {
                alert("Sorry, No Contactor Found.");
            }
        });
    }

    function DateActionsOrderDateAdvSearch() {
        DynamicDateActions("cboOrderDateAdvS", "txtFromOrderDateAdvSearch", "txtToOrderDateAdvSearch");
    }
    function DateActionsInvoiceDateAdvSearch() {
        DynamicDateActions("cboInvoiceDateAdvSearch", "txtFromInvoiceDateAdvSearch", "txtToInvoiceDateAdvSearch");
    }


    $("#btnCloseAdvSearch").click(function () {
        $("#winAdvSearch").icsWindow("close");
    });
    $("#btnAdvSearch").click(function () {
        debugger;
        $("#winAdvSearch").icsWindow("open", "Sample Invoice Advance Search");
        //DynamicRefreshList([], "tblExportPIAdvSearch");
        DynamicResetAdvSearchWindow("winAdvSearch");
        DynamicDateActions("cboDateOptionAdvSearch", "txtFromDateAdvSearch", "txtToDateAdvSearch");
        DynamicDateActions("cboInvoiceDateAdvSearch", "txtFromInvoiceDateAdvSearch", "txtToInvoiceDateAdvSearch");
        //DynamicDateActions("txtFromDeliveryDateAdvSearch", "txtToDeliveryDateAdvSearch");
        ResetAdvSearchWindow();
    });

    function IntializePickerbutton(oPickerobj) {
        $("#" + oPickerobj.winid).find("#btnOk").click(function () {
            SetPickerValueAssign(oPickerobj);
        });
        $(document).find('.' + oPickerobj.winclass).keydown(function (e) {
            if (e.which === 13) {
                SetPickerValueAssign(oPickerobj);
            }
        });
    }

    function SetPickerValueAssign(oPickerobj) {
        var oreturnObj = null, oreturnObjs = [];
        if (oPickerobj.multiplereturn) {
            oreturnObjs = $('#' + oPickerobj.tableid).datagrid('getChecked');
        } else {
            oreturnObj = $('#' + oPickerobj.tableid).datagrid('getSelected');
        }

        if (oPickerobj.winid == 'winContractorPicker')
        {
            if (oreturnObjs != null && oreturnObjs.length> 0)
            {

                _sContractorIds=''; var sMessage='';
                sMessage=(oreturnObjs.length>1)? oreturnObjs.length +" Contractors Selected" : oreturnObjs[0].Name;
                $('#txtContractorAdvS').val(sMessage);
                $("#txtContractorAdvS").addClass("fontColorOfPickItem");

                for(var i=0;i<oreturnObjs.length;i++){
                    _sContractorIds=_sContractorIds+oreturnObjs[i].ContractorID+',';
                }
                _sContractorIds=_sContractorIds.substring(0,_sContractorIds.length-1);

            }
            else
            {
                alert("Please select a contractor.");
                return false;
            }
        }

        else if (oPickerobj.winid == 'winBuyers') {
            if (oreturnObjs != null && oreturnObjs.length> 0)
            {
                _sDeliverToIDs='';
                var sMessage='';
                sMessage=(oreturnObjs.length>1)? oreturnObjs.length +" Contractors Selected" : oreturnObjs[0].Name;
                $('#txtDeliverToAdvS').val(sMessage);
                $("#txtDeliverToAdvS").addClass("fontColorOfPickItem");

                for(var i=0;i<oreturnObjs.length;i++){
                    _sDeliverToIDs=_sDeliverToIDs+oreturnObjs[i].ContractorID+',';
                }
                _sDeliverToIDs=_sDeliverToIDs.substring(0,_sDeliverToIDs.length-1);



            }
            else
            {
                alert("Please select a buyer.");
                return false;
            }
        }
        else if (oPickerobj.winid == 'winProductPicker')
        {
            if (oreturnObjs!= null && oreturnObjs.length> 0)
            {
                _sProductIds=''; var sMessage='';
                sMessage=(oreturnObjs.length>1)? oreturnObjs.length +" ProductName Selected" : oreturnObjs[0].ProductName;
                $('#txtProductName').val(sMessage);
                $("#txtProductName").addClass("fontColorOfPickItem");

                for(var i=0;i<oreturnObjs.length;i++){
                    _sProductIds=_sProductIds+oreturnObjs[i].ProductID+',';
                }
                _sProductIds=_sProductIds.substring(0,_sProductIds.length-1);

            }
            else
            {
                alert("Please select a Product.");
                return false;
            }

        }
        $("#" + oPickerobj.winid).icsWindow("close");
        $("#" + oPickerobj.winid).remove();
    }
    /// end Adv Searching

</script>