<html>
<head>
</head>
<body>
    @model ESimSol.BusinessObjects.User
@{
    ViewBag.Title = "Change Password";
}
    @using (Html.BeginForm())
    {
        @Html.ValidationSummary(true)
        <div class="PageHeading">
            <table border="0">
                <tr>
                </tr>
            </table>
        </div>          
        <div class="PageBody">
            <table border="0" style="height: 100%; width: 100%">
                <tr>
                    <td style="width: 100%">
                        <fieldset>
                            <legend style="font-weight: bold">User Info : </legend>
                            <table border="0">
                                <tr>
                                    <td>
                                        LogIn-ID
                                    </td>
                                    <td>
                                        :
                                    </td>
                                    <td style="font-weight: bold">
                                        @Html.DisplayFor(model => model.LogInID)
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        User Name
                                    </td>
                                    <td>
                                        :
                                    </td>
                                    <td style="font-weight: bold">
                                        @Html.DisplayFor(model => model.UserName)
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        Email Address
                                    </td>
                                    <td>
                                        :
                                    </td>
                                    <td style="font-weight: bold">
                                        @Html.DisplayFor(model => model.EmailAddress)
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        Employee As
                                    </td>
                                    <td>
                                        :
                                    </td>
                                    <td style="font-weight: bold">
                                        @Html.DisplayFor(model => model.EmployeeNameCode)
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        Location
                                    </td>
                                    <td>
                                        :
                                    </td>
                                    <td style="font-weight: bold">
                                        @Html.DisplayFor(model => model.LocationName)
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        Account Holder Type
                                    </td>
                                    <td>
                                        :
                                    </td>
                                    <td style="font-weight: bold">
                                        @Html.DisplayFor(model => model.AccountHolderType)
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        Old Password
                                    </td>
                                    <td>
                                        :
                                    </td>
                                    <td>
                                        <div class="editor-field">
                                            @Html.Password("txtOldPassword", "", new { style = "width: 500px;", id = "txtOldPassword" })
                                        </div>
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        New Password
                                    </td>
                                    <td>
                                        :
                                    </td>
                                    <td>
                                        <div class="editor-field">
                                            @Html.Password("txtNewPassword", "", new { style = "width: 500px;", id = "txtNewPassword" })
                                        </div>
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        Confirm Password
                                    </td>
                                    <td>
                                        :
                                    </td>
                                    <td>
                                        <div class="editor-field">
                                            @Html.Password("txtConfirmPassword", "", new { style = "width: 500px;", id = "txtConfirmPassword" })
                                        </div>
                                    </td>
                                </tr>
                                @Html.HiddenFor(model => model.UserID)
                                @Html.HiddenFor(model => model.LogInID)
                                @Html.HiddenFor(model => model.OwnerID)
                                @Html.HiddenFor(model => model.LoggedOn)
                                @Html.HiddenFor(model => model.LoggedOnMachine)
                                @Html.HiddenFor(model => model.CanLogin)
                                @Html.HiddenFor(model => model.DomainUserName)
                                @Html.HiddenFor(model => model.EmployeeID)
                                @Html.HiddenFor(model => model.LocationID)
                                @Html.HiddenFor(model => model.AccountHolderType)
                                @Html.HiddenFor(model => model.EmailAddress)
                                @Html.HiddenFor(model => model.Password)
                                @Html.HiddenFor(model => model.ConfirmPassword)
                                <tr>
                                    <td>
                                    </td>
                                    <td>
                                    </td>
                                    <td>
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                    </td>
                                    <td>
                                    </td>
                                    <td style="font-weight: bold">
                                        <input type="submit" value="Save" id="btnSave" />
                                        @Html.ActionLink("Cancel", "Index", "User")
                                    </td>
                                </tr>
                            </table>
                        </fieldset>
                    </td>
                    <td style="width: 50px">
                    </td>
                </tr>
            </table>
        </div>
    }
    <div class="PageFooter">
        <div style="margin-left: 20px; margin-right: 20px">
            <table>
                <tr>
                    <td style="width: 500px">
                    </td>
                    <td style="width: 400px; text-align: right">
                    </td>
                </tr>
            </table>
        </div>
    </div>
</body>
</html>
<script type="text/javascript">
    var sMessage='';
    $(document).ready(function () {
        //debugger;
         sMessage=@Html.Raw(new System.Web.Script.Serialization.JavaScriptSerializer().Serialize(TempData["message"]));
         if(sMessage!="" && sMessage!=null)
         {
           alert(sMessage);
         }

    });


    $('#txtLogInID').live('keydown', function (e) {
        var keyCode = e.keyCode || e.which;

        if (keyCode == 13) {
            e.preventDefault();
            $('#txtUserName').focus();
            $("#txtLogInID").css("background-color", "white");
            $("#txtUserName").css("background-color", "#E6E6E6");
            return false;
        }

    });

    $('#txtUserName').live('keydown', function (e) {
        var keyCode = e.keyCode || e.which;

        if (keyCode == 13) {
            e.preventDefault();
            $('#txtEmailAddress').focus();
            $("#txtUserName").css("background-color", "white");
            $("#txtEmailAddress").css("background-color", "#E6E6E6");
            return false;
        }

    });


    $('#txtEmailAddress').live('keydown', function (e) {
        var keyCode = e.keyCode || e.which;

        if (keyCode == 13) {
            e.preventDefault();
            $('#cboEmployee').focus();
            $("#txtEmailAddress").css("background-color", "white");
            $("#cboEmployee").css("background-color", "#E6E6E6");
            return false;
        }

    });


    $('#cboEmployee').live('keydown', function (e) {
        var keyCode = e.keyCode || e.which;

        if (keyCode == 13) {
            e.preventDefault();
            $('#cboLocation').focus();
            $("#cboEmployee").css("background-color", "white");
            $("#cboLocation").css("background-color", "#E6E6E6");
            return false;
        }

    });


    $('#cboLocation').live('keydown', function (e) {
        var keyCode = e.keyCode || e.which;

        if (keyCode == 13) {
            e.preventDefault();
            $('#cboAccountHolderType').focus();
            $("#cboLocation").css("background-color", "white");
            $("#cboAccountHolderType").css("background-color", "#E6E6E6");
            return false;
        }

    });


    $('#cboAccountHolderType').live('keydown', function (e) {
        var keyCode = e.keyCode || e.which;

        if (keyCode == 13) {
            e.preventDefault();
            $('#btnSave').focus();
            $("#cboAccountHolderType").css("background-color", "white");
            return false;
        }

    });    
</script>
