<html>
<head>
    <title></title>
    <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js"></script>
    <link href="@Url.Content("~/Content/CSS/icon.css")" rel="stylesheet" type="text/css" />
    <link href="@Url.Content("~/Content/CSS/easyui.css")" rel="stylesheet" type="text/css" />
    <link href="@Url.Content("~/Content/CSS/Pikerstyle.css")" rel="stylesheet" type="text/css" />
    <script src="@Url.Content("~/Scripts/jquery-1.7.1.min.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Scripts/jquery.ics.customize.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Scripts/jquery.easyui.min.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Scripts/jquery-ui.min.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Scripts/json2.js")" type="text/javascript"></script>
</head>
@model IEnumerable<ESimSol.BusinessObjects.User>
<body style="width: 500px; height: 450px" onload="ReadPassedData()">
    <table border="0">
        <tr style="height: 50px">
            <td>
                <table>
                    <tr>
                        <td style="width: 500px">
                            Search By User Name :
                        </td>
                    </tr>
                    <tr>
                        <td style="width: 500px">
                            <input type="text" id="txtSearchByUserName" style="width: 530px" />
                        </td>
                    </tr>
                </table>
            </td>
        </tr>
        <tr style="height: 350px">
            <td>
                <div>
                    <table border="0" cellpadding="0" cellspacing="0" width="530">
                        <tr class="PikerHeaderRowStyle">
                            <td style="width: 10px">
                                <input type="checkbox" id="chkAll" style="visibility: hidden" />
                            </td>
                            <td style="width: 150px">
                                Lodin ID
                            </td>
                            <td style="width: 70px">
                                Name
                            </td>
                        </tr>
                    </table>
                </div>
                <div style="height: 300px; width: 530px; overflow: scroll; background-color: #F0F0F6">
                    <table id="tblPiker" border="0" cellpadding="0" cellspacing="0" width="512px">
                        @foreach (var item in Model)
                        {       
                            <tr onclick="RowOnClickEvent();" class="PikerBodyRowStyle">
                                <td class="PikerCellStyle" style="width: 10px; text-align: left">
                                    <input type="checkbox" value="@item.ObjectID" name="chkBox" />
                                </td>
                                <td class="PikerCellStyle" style="width: 150px; text-align: left">@Html.DisplayFor(modelItem => item.LoginID)
                                </td>
                                <td class="PikerCellStyle" style="width: 70px; text-align: left">@Html.DisplayFor(modelItem => item.Name)
                                </td>
                            </tr>
                        }
                    </table>
                </div>
            </td>
        </tr>
        <tr style="height: 30px">
            <td>
                <table>
                    <tr>
                        <td style="width: 300px; text-align: left">
                            <input type="button" value="Check All" id="btnCheckUncheck" onclick="CheckUnCheck(this)" />
                        </td>
                        <td style="width: 300px; text-align: right">
                            <input type="button" value="Ok" id="btnOk" onclick="OkButtonClick(this)" style="width: 60px" />
                        </td>
                        <td>
                            <input type="button" value="Close" onclick="PikerClose(this)" />
                        </td>
                    </tr>
                </table>
            </td>
        </tr>
    </table>
</body>
</html>
