<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title></title>
    <link href="@Url.Content("~/Content/CSS/icon.css")" rel="stylesheet" type="text/css" />
    <link href="@Url.Content("~/Content/CSS/easyui.css")" rel="stylesheet" type="text/css" />
    <link href="@Url.Content("~/Content/CSS/Pikerstyle.css")" rel="stylesheet" type="text/css" />
    <script src="@Url.Content("~/Scripts/jquery-1.7.1.min.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Scripts/jquery.ics.customize.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Scripts/jquery.ics.plugins.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Scripts/jquery.easyui.min.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Scripts/jquery-ui.min.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Scripts/json2.js")" type="text/javascript"></script>
</head>
<body>
    @model ESimSol.BusinessObjects.User
    <table align="center" border="0" cellspacing="2" cellpadding="2" style="font-size: 11px;">
        <tr>
            <td>
                Start Date
                <input id="txtStartDate" type="text" class="easyui-datebox" style="width: 150px; margin-left: 20px" data-options="formatter:icsdateformat,parser:icsdateparser" />
            </td>
            <td>
                End Date
                <input id="txtEndDate" type="text" class="easyui-datebox" style="width: 150px;" data-options="formatter:icsdateformat,parser:icsdateparser" />
            </td>
        </tr>
        <tr>
            <td>
                <input type="button" style="width: 130px; float: left" onclick="GetAllUserActionLog()"
                    value="Get User Action Log" id="btnActionLog" />
            </td>
            <td>
                <input type="button" style="width: 130px; float: right" onclick="GetUserActionLog()"
                    value="Get User Action Log" id="btnActionLog" />
            </td>
        </tr>
    </table>
    <div style="width: 100%;">
        <div style="width: 15%; float: left;">
            <table style="float: right; margin-top: 67px">
                <tr>
                </tr>
                <tr>
                    <td style="height: 10px">
                        <label id="Scale1">
                        </label>
                    </td>
                </tr>
                <tr>
                    <td style="height: 76px">
                        <label id="Scale2">
                        </label>
                    </td>
                </tr>
                <tr>
                    <td style="height: 10px">
                        <label id="Scale3">
                        </label>
                    </td>
                </tr>
                <tr>
                    <td style="height: 77px">
                        <label id="Scale4">
                        </label>
                    </td>
                </tr>
                <tr>
                    <td style="height: 10px">
                        <label id="Scale5">
                        </label>
                    </td>
                </tr>
                <tr>
                    <td style="height: 74px">
                        <label id="Scale6">
                        </label>
                    </td>
                </tr>
            </table>
        </div>
        <div style="width: 50%; float: left; margin-left: 0px">
            <canvas id="myCanvas" width="500" height="400" style="border: 1px solid #c3c3c3;">
                    Your browser does not support the HTML5 canvas tag.
                </canvas>
        </div>
        <div style="width: 50%">
            <br />
            <table style="width: 113px; margin-left: 122px">
                <tr>
                    <td style="text-align: right">
                        <label id="logIn" style="font-size: 15px; font-weight: bold; width: 40px">
                        </label>
                    </td>
                    <td style="text-align: right">
                        <label id="logOut" style="font-size: 15px; font-weight: bold; width: 40px">
                        </label>
                    </td>
                    <td style="text-align: right">
                        <label id="WrongPass" style="font-size: 15px; font-weight: bold; width: 40px">
                        </label>
                    </td>
                </tr>
            </table>
            <table>
                <tr>
                    <td>
                        User Name:
                    </td>
                    <td>
                        <label id="userName" style="font-size: 15px; font-weight: bold; width: 100px">
                        </label>
                    </td>
                </tr>
            </table>
        </div>
    </div>
    @*<input type="hidden" id="logIn" style="width:10px" />*@
</body>
</html>
<script type="text/javascript">
    var _oUser;
    var formerX1;
    var formerX2;
    var formerX3;
    var formerX4;
    var formerY1;
    var formerY2;
    var formerY3;
    var formerY4;
    var formerHeight1;
    var formerHeight2;
    var formerHeight3;
    var _sBaseAddress = "";
    var _obj;
    var _maxValue = 0;
    var _count = 1;
    var _Scale1 = 0;
    var _Scale2 = 0;
    var _Scale3 = 0;
    var _Scale4 = 0;
    var _Scale5 = 0;
    var _Scale6 = 0;
    $(document).ready(function() {
        //debugger;
        _sBaseAddress = @Html.Raw(new System.Web.Script.Serialization.JavaScriptSerializer().Serialize(HttpContext.Current.Session[SessionInfo.BaseAddress]));
        _obj = window.dialogArguments;
        _oUser = @Html.Raw(new System.Web.Script.Serialization.JavaScriptSerializer().Serialize(Model));
        
    });

   function icsdateformat(date) {
        //debugger;
        var mthNames = ["Jan", "Feb", "Mar", "Apr", "May", "Jun", "Jul", "Aug", "Sep", "Oct", "Nov", "Dec"];
        var y = date.getFullYear();
        var m = date.getMonth();
        var d = date.getDate();
        //return m+'/'+d+'/'+y;
        var result = d + ' ' + mthNames[m] + ' ' + y;
        return result;
    }

    function CreateGraph(_oActionLogs)
    {
        debugger;
//        _oActionLogs[0].LogIn = 1500;
//        _oActionLogs[0].LogOut = 400;
//        _oActionLogs[0].WrongPass = 700;
        //alert("Create Graph method found!");
        var c = document.getElementById("myCanvas");
        var ctx = c.getContext("2d");

        // Draw X Axis Arrow
        ctx.moveTo(20,380);
        ctx.lineTo(480,380);
        ctx.stroke();
        
        //Draw Y Axis Arrow
        ctx.moveTo(20,380);
        ctx.lineTo(20,20);
        ctx.stroke();

        ctx.moveTo(20,20);
        ctx.lineTo(10,30);
        ctx.stroke();

        ctx.moveTo(20,20);
        ctx.lineTo(30,30);
        ctx.stroke();

        //Scaling Start For Y Axis

        ctx.moveTo(20,330);
        ctx.lineTo(10,330);
        ctx.stroke();       // 1st unit of Scale

        ctx.moveTo(20,280);
        ctx.lineTo(10,280);
        ctx.stroke();       // 2nd unit of Scale

        ctx.moveTo(20,230);
        ctx.lineTo(10,230);
        ctx.stroke();       // 3rd unit of Scale

        ctx.moveTo(20,180);
        ctx.lineTo(10,180);
        ctx.stroke();       // 4th unit of Scale

        ctx.moveTo(20,130);
        ctx.lineTo(10,130);
        ctx.stroke();       // 5th unit of Scale

        ctx.moveTo(20,80);
        ctx.lineTo(10,80);
        ctx.stroke();       // 6th unit of Scale

        // LEGEND Which Color play which role
        ctx.font="15px Arial";
        ctx.fillStyle = "BLUE";
        ctx.fillRect(360, 200, 20, 20);
        //ctx.clearRect(formerX4, formerY4, 20, 20);
        ctx.fillText("Wrong Password",385,220);

        // Red's Role
        ctx.fillStyle = "RED";
        ctx.fillRect(360, 170, 20, 20);
        //ctx.fillText("",420,170);
        ctx.fillText("Logout",385,190);

        //Blue's Role
        ctx.fillStyle = "GREEN";
        ctx.fillRect(360, 140, 20, 20);
        //ctx.clearRect(formerX4, formerY4, 20, 20);
        ctx.fillText("Login",385,160);

        ctx.clearRect(formerX1, formerY1, 30, formerHeight1);
        ctx.clearRect(formerX2, formerY2, 30, formerHeight2);
        ctx.clearRect(formerX3, formerY3, 30, formerHeight3);

        //alert("ClearRect passed");

        var logIn = 0;
        var logOut = 0;
        var wrongPass = 0;
        
        findMaxValue();

        if(_maxValue<10) {
            ScaleCanvas();
            logIn = _oActionLogs[0].LogIn * 10;
            logOut = _oActionLogs[0].LogOut *10;
            wrongPass = _oActionLogs[0].WrongPass * 10;
        }
        if(_maxValue>10 && _maxValue<100) {
            ScaleCanvas();
            logIn = _oActionLogs[0].LogIn;
            logOut = _oActionLogs[0].LogOut;
            wrongPass = _oActionLogs[0].WrongPass;
        }
        if(_maxValue>100 && _maxValue<3000) {
            ScaleCanvas();
            logIn = _oActionLogs[0].LogIn / 10;
            logOut = _oActionLogs[0].LogOut / 10;
            wrongPass = _oActionLogs[0].WrongPass / 10;
        }
        if(_maxValue>3000) {
            findDivisor();
            alert("Count="+_count);
            ScaleCanvas();
            _count =  _count / 10;
            logIn = _oActionLogs[0].LogIn / _count;
            logOut = _oActionLogs[0].LogOut / _count;
            wrongPass = _oActionLogs[0].WrongPass / _count;
        }

        var x=21;
        var y = 380 - logIn;
        formerX1 = x;
        formerY1 = y;
        var width=30;
        var height = 380 - y;
        formerHeight1 = height;
        ctx.font="20px Arial";
        //ctx.fillText(_oActionLogs[0].LogIn,10,y-10);
        ctx.fillStyle = "GREEN";
        ctx.fillRect(x, y, width, height);
        document.getElementById('logIn').innerHTML = _oActionLogs[0].LogIn;
        
        x=x+36;
        y = 380 - logOut;
        formerX2 = x;
        formerY2 = y;
        height = 380 - y;
        formerHeight2 = height;
        //ctx.fillText(_oActionLogs[0].LogOut,40,y-10);
        ctx.fillStyle = "Red";
        ctx.fillRect(x, y, width, height);
        document.getElementById('logOut').innerHTML = _oActionLogs[0].LogOut;

        x=x+36;
        y = 380 - wrongPass;
        formerX3 = x;
        formerY3 = y;
        height = 380 - y;
        formerHeight3 = height;
        //ctx.fillText(_oActionLogs[0].WrongPass,75,y-10);
        ctx.fillStyle = "BLUE";
        ctx.fillRect(x, y, width, height);
        document.getElementById('WrongPass').innerHTML = _oActionLogs[0].WrongPass;
    }

    function ScaleCanvas() {
        if( _maxValue <= 10) {
            _Scale1 = 30;
            _Scale2 = 25;
            _Scale3 = 20;
            _Scale4 = 15;
            _Scale5 = 10;
            _Scale6 = 5;
        }
        else if(_maxValue > 10 && _maxValue < 100) {
            _Scale1 = 300;
            _Scale2 = 250;
            _Scale3 = 200;
            _Scale4 = 150;
            _Scale5 = 100;
            _Scale6 = 50;
        }
        else if(_maxValue > 100 && _maxValue < 3000){
            _Scale1 = 3000;
            _Scale2 = 2500;
            _Scale3 = 2000;
            _Scale4 = 1500;
            _Scale5 = 1000;
            _Scale6 = 500;
        }
        else {
            alert(_count);
            _Scale1 = 30 * (_count);
            _Scale2 = 25 * (_count);
            _Scale3 = 20 * (_count);
            _Scale4 = 15 * (_count);
            _Scale5 = 10 * (_count);
            _Scale6 = 5 * (_count);
        }
        document.getElementById('Scale1').innerHTML = _Scale1;
        document.getElementById('Scale2').innerHTML = _Scale2;
        document.getElementById('Scale3').innerHTML = _Scale3;
        document.getElementById('Scale4').innerHTML = _Scale4;
        document.getElementById('Scale5').innerHTML = _Scale5;
        document.getElementById('Scale6').innerHTML = _Scale6;
    }

    function findMaxValue() {
        if(_oActionLogs[0].LogIn >= _oActionLogs[0].LogOut && _oActionLogs[0].LogIn > _oActionLogs[0].WrongPass) {
            _maxValue = _oActionLogs[0].LogIn;
        }
        else {
            _maxValue = _oActionLogs[0].WrongPass;
        }
    }

    function findDivisor() {
        var dividend = _maxValue;
        while(dividend > 10) {
            dividend = dividend / 10;
            _count*=10;
        }
    }

    function GetUserActionLog() {
        debugger;
        var StartDate= $('#txtStartDate').datebox('getValue');
        var dStartDate = new Date(StartDate);
        var EndDate= $('#txtEndDate').datebox('getValue');
        var dEndDate = new Date(EndDate);
        if(dEndDate>new Date()) {
            alert("Future Date Not Allowed for End Date.");
            return false;
        }
        if(dEndDate<dStartDate) {
            alert("End Date can not be earlier than Start Date.");
            return false;
        }
        dEndDate.setDate(dEndDate.getDate()+1);
      
        $.ajax({
        type: "POST",
        dataType: "json",
        url: _sBaseAddress + "/User/GetUserActionLog",
        traditional: true,
        data: JSON.stringify({StartDate:dStartDate, EndDate:dEndDate, nUserID:_obj.UserID}),
        contentType: "application/json; charset=utf-8",
                  
        success: function(data) {
            debugger;
            _oActionLogs = jQuery.parseJSON(data);
            if ( _oActionLogs.length !=0)
            {
                CreateGraph(_oActionLogs);
                document.getElementById('userName').innerHTML = _obj.UserName;
            }
            else
            {
                alert( "No Data Found to Create Graph!!!");
                return;
            }
            },
            error: function(xhr, status, error) {
                alert(error);
            }
        }); 
    }

    function GetAllUserActionLog() {
        debugger;
        var StartDate= $('#txtStartDate').datebox('getValue');
        var dStartDate = new Date(StartDate);
        var EndDate= $('#txtEndDate').datebox('getValue');
        var dEndDate = new Date(EndDate);
        if(dEndDate<dStartDate) {
            alert("End Date can not be earlier than Start Date.");
            return false;
        }
        dEndDate.setDate(dEndDate.getDate()+1);
        $.ajax({
        type: "POST",
        dataType: "json",
        url: _sBaseAddress + "/User/GetAllUserActionLog",
        traditional: true,
        data: JSON.stringify({StartDate:dStartDate, EndDate:dEndDate}),
        contentType: "application/json; charset=utf-8",

          
        success: function(data) {
        debugger;
        _oActionLogs = jQuery.parseJSON(data);
        if ( _oActionLogs.length !=0)
        {  
            CreateGraph(_oActionLogs);
            document.getElementById('userName').innerHTML = "All User";
        }
        else
        {
            alert( "No Data Found for Create Graph!!!");
            return;
        }
        },
        error: function(xhr, status, error) {
            alert(error);
        }
        }); 
    }

    function Close() {
        window.close();
    }

</script>
