<html>

@{
    ViewBag.Title = "Loan Registers";
}

<body>
    @*@model ESimSol.BusinessObjects.Loan*@
    @*<div id="progbarParent" style="width:100%;height:100%;margin:0 auto;text-align:center; margin-left: auto;margin-right: auto;left: 0;right: 0;z-index: 1;">
        <div style="margin: 0px auto;margin-top: 251px;text-align:center;width:390px;">
            <label style="font-size:18px;">Pleassse wait</label>
            <div id="progbar" style="width:100%;height:37px;"></div>
        </div>
    </div>*@
    <div id="divLoanRegister" class="menuMainCollectionTable">
        <div class="easyui-panel" title="Loan Registers" style="font-family:Tahoma; text-align:center; height:88%;">
            <fieldset style="height:95%; text-align:center;">
                <legend style="font-weight:bold"> Serching Criteria : </legend>
                <table border="0" cellspacing="2" cellpadding="2" style="font-size:11px; font-weight:bold; text-align:center; width:100%">
                    <tr>
                        <td colspan="5" style="height:20px;"></td>
                    </tr>
                    <tr>
                        <td style="width:15%;text-align:right"> Loan No :</td>
                        <td style="width:30%;text-align:left">
                            <input type="text" style="width:100%" id="txtLoanNo" />
                        </td>
                        <td style="width:5%;text-align:right"></td>
                        <td style="width:12%;text-align:right"> Loan Issue Date :</td>
                        <td style="width:38%;text-align:right">
                            <table border="0" cellpadding="1" cellspacing="1" width="100%">
                                <tr>
                                    <td style="width:30%; text-align:center">
                                        <select id="cboLoanIssueDate" style="width:100%"> </select>
                                    </td>
                                    <td style="width:30%; text-align:center">
                                        <input id="txtLoanIssueDateStart" type="text" class="easyui-datebox" required="required" data-options="formatter:icsdateformat,parser:icsdateparser" style=" width:100%;" />
                                    </td>
                                    <td style="width:10%; text-align:center">to</td>
                                    <td style="width:30%; text-align:center">
                                        <input id="txtLoanIssueDateEnd" type="text" class="easyui-datebox" required="required" data-options="formatter:icsdateformat,parser:icsdateparser" style=" width:100%;" />
                                    </td>
                                </tr>
                            </table>
                        </td>
                    </tr>
                    <tr>
                        <td style="width:15%;text-align:right"> BUnit :</td>
                        <td style="width:30%;text-align:left">
                            <select id="cboSrcBUnitType" style="width:100%">  </select>
                        </td>
                        <td style="width:5%;text-align:right"></td>
                        <td style="width:12%;text-align:right"> Loan Start Date:</td>
                        <td style="width:38%;text-align:right">
                            <table border="0" cellpadding="1" cellspacing="1" width="100%">
                                <tr>
                                    <td style="width:30%; text-align:center">
                                        <select id="cboLoanStartDate" style="width:100%"> </select>
                                    </td>
                                    <td style="width:30%; text-align:center">
                                        <input id="txtLoanStartDateStart" type="text" class="easyui-datebox" required="required" data-options="formatter:icsdateformat,parser:icsdateparser" style=" width:100%;" />
                                    </td>
                                    <td style="width:10%; text-align:center">to</td>
                                    <td style="width:30%; text-align:center">
                                        <input id="txtLoanStartDateEnd" type="text" class="easyui-datebox" required="required" data-options="formatter:icsdateformat,parser:icsdateparser" style=" width:100%;" />
                                    </td>
                                </tr>
                            </table>
                        </td>
                    </tr>
                    <tr>
                        <td style="width:15%;text-align:right"> Bank Account :</td>
                        <td style="width:30%;text-align:left">
                            <select id="cboBankAccounts" style="width:100%">  </select>
                        </td>
                        <td style="width:5%;text-align:right"></td>
                        <td style="width:12%;text-align:right"> Loan Rcv Date:</td>
                        <td style="width:38%;text-align:right">
                            <table border="0" cellpadding="1" cellspacing="1" width="100%">
                                <tr>
                                    <td style="width:30%; text-align:center">
                                        <select id="cboLoanRcvDate" style="width:100%"> </select>
                                    </td>
                                    <td style="width:30%; text-align:center">
                                        <input id="txtLoanRcvDateStart" type="text" class="easyui-datebox" required="required" data-options="formatter:icsdateformat,parser:icsdateparser" style=" width:100%;" />
                                    </td>
                                    <td style="width:10%; text-align:center">to</td>
                                    <td style="width:30%; text-align:center">
                                        <input id="txtLoanRcvDateEnd" type="text" class="easyui-datebox" required="required" data-options="formatter:icsdateformat,parser:icsdateparser" style=" width:100%;" />
                                    </td>
                                </tr>
                            </table>
                        </td>
                    </tr>
                    <tr>
                        <td style="width:15%;text-align:right"> Loan Ref Type :</td>
                        <td style="width:30%;text-align:left">
                            <select id="cboRefType" style="width:100%">  </select>
                        </td>
                        <td style="width:5%;text-align:right"></td>
                        <td style="width:12%;text-align:right">RefNo</td>
                        <td style="width:38%;text-align:right">
                            <table border="0" cellpadding="0" cellspacing="0" style="width:100%">
                                <tr>
                                    <td style="width:70%; text-align:left">
                                        <input type="text" style="width:100%" id="txtRefNo" placeholder="Press enter with Ref No" />
                                    </td>
                                    <td style="width:30%; text-align:left">
                                        <input type="button" style="width:25%" id="btnCancel" value="C" />
                                        <input type="button" value="Pick" style="width:68%" id="btnPick" />
                                    </td>
                                </tr>
                            </table>
                        </td>
                    </tr>
                    <tr>
                        <td style="width:15%;text-align:right">Loan Type :</td>
                        <td style="width:30%;text-align:left">
                            <select id="cboLoanType" style="width:100%">  </select>
                        </td>
                        <td style="width:5%;text-align:right"></td>
                        <td style="width:15%;text-align:right"> Report Layout :</td>
                        <td style="width:30%;text-align:left">
                            <select id="cboReportLayout" style="width:100%">  </select>
                        </td>
                    </tr>
                </table>
            </fieldset>
        </div>
        <fieldset>
            <legend style="font-weight:bold"> Action : </legend>
            <table border="0" cellspacing="2" cellpadding="2" style="font-size:11px; font-weight:bold; width:100%;">
                <tr>
                    <td style="width:50%;text-align:right"></td>
                    <td style="width:50%;text-align:right">
                        @*<a id="btnPreview" href="javascript:void(0)" class="easyui-linkbutton" iconcls="icon-print" plain="true">Preview</a>*@
                        <a id="btnExportToExcel" href="javascript:void(0)" class="easyui-linkbutton" iconcls="icon-excel" plain="true">Export to Excel</a>
                    </td>
                </tr>
            </table>
        </fieldset>
    </div>
</body>

</html>

<script type="text/javascript">
    $(document).ready(function () {

        var oLoan =@Html.Raw( new System.Web.Script.Serialization.JavaScriptSerializer().Serialize(Model));
        var LoanTypes = @Html.Raw(new System.Web.Script.Serialization.JavaScriptSerializer().Serialize(@ViewBag.LoanTypes));
        var LoanRefTypes = @Html.Raw(new System.Web.Script.Serialization.JavaScriptSerializer().Serialize(@ViewBag.LoanRefTypes));
        var BankAccounts = @Html.Raw(new System.Web.Script.Serialization.JavaScriptSerializer().Serialize(@ViewBag.BankAccounts));
        var BUs = @Html.Raw(new System.Web.Script.Serialization.JavaScriptSerializer().Serialize(@ViewBag.BUs));
        var oCompareOperators = @Html.Raw(new System.Web.Script.Serialization.JavaScriptSerializer().Serialize(ViewBag.CompareOperators));
        var oReportLayouts = @Html.Raw(new System.Web.Script.Serialization.JavaScriptSerializer().Serialize(ViewBag.ReportLayouts));

        $('#divLoanRegister').data("Loan", oLoan);
        $('#divLoanRegister').data("LoanTypes", LoanTypes);
        $('#divLoanRegister').data("LoanRefTypes", LoanRefTypes);
        $('#divLoanRegister').data("LoanTypes", LoanTypes);
        $('#divLoanRegister').data("BankAccounts", BankAccounts);
        $('#divLoanRegister').data("BUs", BUs);
        $('#divLoanRegister').data("CompareParameter", oCompareOperators);
        $('#divLoanRegister').data("ReportLayouts", oReportLayouts);
        $('#txtRefNo').data('RefObjectIDs',"");

        LoadCboBox();
        Initialize();

    });

    function Initialize()
    {
        $("#txtLoanIssueDateStart").datebox({disabled: true});
        $("#txtLoanIssueDateEnd").datebox({disabled: true});
        $("#txtLoanStartDateStart").datebox({disabled: true});
        $("#txtLoanStartDateEnd").datebox({disabled: true});
        $("#txtLoanRcvDateStart").datebox({disabled: true});
        $("#txtLoanRcvDateEnd").datebox({disabled: true});
        $("#txtRefNo").prop("disabled", true);
        $("#btnPick").prop("disabled", true);

        $('#txtLoanIssueDateStart, #txtLoanIssueDateEnd, #txtLoanStartDateStart, #txtLoanStartDateEnd, #txtLoanRcvDateStart, #txtLoanRcvDateEnd').datebox('setValue',icsdateformat(new Date()));
    }

    function LoadCboBox()
    {
        debugger;
        $("#cboLoanType").icsLoadCombo({
            List: $('#divLoanRegister').data("LoanTypes"),
            OptionValue: "id",
            DisplayText: "Description"
        });
        $("#cboRefType").icsLoadCombo({
            List: $('#divLoanRegister').data("LoanRefTypes"),
            OptionValue: "id",
            DisplayText: "Description"
        });
        $("#cboSrcBUnitType").icsLoadCombo({
            List: $('#divLoanRegister').data("BUs"),
            OptionValue: "BusinessUnitID",
            DisplayText: "ShortName"
        });
        $("#cboBankAccounts").icsLoadCombo({
            List: $('#divLoanRegister').data("BankAccounts"),
            OptionValue: "BankAccountID",
            DisplayText: "AccountNo"
        });
        $("#cboLoanIssueDate,#cboLoanStartDate,#cboLoanRcvDate").icsLoadCombo({
            List: $('#divLoanRegister').data("CompareParameter"),
            OptionValue: "id",
            DisplayText: "Value"
        });
        $("#cboReportLayout").icsLoadCombo({ 
            List: $('#divLoanRegister').data("ReportLayouts"), 
            OptionValue: "id", 
            DisplayText: "Value" 
        });
    }

    $('#cboRefType').change(function()
    {
        debugger;
        $("#txtRefNo").val("");
        $("#txtRefNo").prop("disabled", true);
        $("#btnPick").prop("disabled", true);
        $('#txtRefNo').data('RefObjectIDs', "");

        if($('#cboRefType').val() != 0)
        {
            $("#txtRefNo").prop("disabled", false);
            $("#btnPick").prop("disabled", false);
        }
        
    });

    $('#cboLoanIssueDate').change(function(e){
        //EqualTo = 1, NotEqualTo = 2, GreaterThen = 3, SmallerThen = 4, Between = 5, NotBetween = 6
        var nCompareOperator =   parseInt($('#cboLoanIssueDate').val());
        if(nCompareOperator===0)
        {
            $('#txtLoanIssueDateStart').datebox({ disabled : true });
            $('#txtLoanIssueDateEnd').datebox({ disabled : true });
        }
        else if (nCompareOperator===1 || nCompareOperator===2 || nCompareOperator===3 || nCompareOperator===4)
        {
            $('#txtLoanIssueDateStart').datebox({ disabled : false });
            $('#txtLoanIssueDateEnd').datebox({ disabled : true });
        }
        else
        {
            $('#txtLoanIssueDateStart').datebox({ disabled : false });
            $('#txtLoanIssueDateEnd').datebox({ disabled : false });
        }
        $('#txtLoanIssueDateStart').datebox('setValue', icsdateformat(new Date()));
        $('#txtLoanIssueDateEnd').datebox('setValue', icsdateformat(new Date()));
    });

    $('#cboLoanStartDate').change(function(e){
        //EqualTo = 1, NotEqualTo = 2, GreaterThen = 3, SmallerThen = 4, Between = 5, NotBetween = 6
        var nCompareOperator =   parseInt($('#cboLoanStartDate').val());
        if(nCompareOperator===0)
        {
            $('#txtLoanStartDateStart').datebox({ disabled : true });
            $('#txtLoanStartDateEnd').datebox({ disabled : true });
        }
        else if (nCompareOperator===1 || nCompareOperator===2 || nCompareOperator===3 || nCompareOperator===4)
        {
            $('#txtLoanStartDateStart').datebox({ disabled : false });
            $('#txtLoanStartDateEnd').datebox({ disabled : true });
        }
        else
        {
            $('#txtLoanStartDateStart').datebox({ disabled : false });
            $('#txtLoanStartDateEnd').datebox({ disabled : false });
        }
        $('#txtLoanStartDateStart').datebox('setValue', icsdateformat(new Date()));
        $('#txtLoanStartDateEnd').datebox('setValue', icsdateformat(new Date()));
    });

    $('#cboLoanRcvDate').change(function(e){
        //EqualTo = 1, NotEqualTo = 2, GreaterThen = 3, SmallerThen = 4, Between = 5, NotBetween = 6
        var nCompareOperator =   parseInt($('#cboLoanRcvDate').val());
        if(nCompareOperator===0)
        {
            $('#txtLoanRcvDateStart').datebox({ disabled : true });
            $('#txtLoanRcvDateEnd').datebox({ disabled : true });
        }
        else if (nCompareOperator===1 || nCompareOperator===2 || nCompareOperator===3 || nCompareOperator===4)
        {
            $('#txtLoanRcvDateStart').datebox({ disabled : false });
            $('#txtLoanRcvDateEnd').datebox({ disabled : true });
        }
        else
        {
            $('#txtLoanRcvDateStart').datebox({ disabled : false });
            $('#txtLoanRcvDateEnd').datebox({ disabled : false });
        }
        $('#txtLoanRcvDateStart').datebox('setValue', icsdateformat(new Date()));
        $('#txtLoanRcvDateEnd').datebox('setValue', icsdateformat(new Date()));
    });

    function ValidateSearch()
    {
        debugger;
        var nLoanIssueDate = parseInt($('#cboLoanIssueDate').val());
        if(nLoanIssueDate===1 || nLoanIssueDate===2 || nLoanIssueDate===3 || nLoanIssueDate===4)
        {
            var sLoanIssueDateStart = $('#txtLoanIssueDateStart').datebox('getValue');
            if(sLoanIssueDateStart===null || sLoanIssueDateStart==="")
            {
                alert("Please select Loan Issue Date!");
                $('#txtLoanIssueDateStart').focus();
                return false;
            }
        }

        if(nLoanIssueDate===5 || nLoanIssueDate===6)
        {
            var sLoanIssueDateStart   = $('#txtLoanIssueDateStart').datebox('getValue');
            var sLoanIssueDateEnd   = $('#txtLoanIssueDateEnd').datebox('getValue');
            if(sLoanIssueDateStart===null || sLoanIssueDateStart==="")
            {
                alert("Please select Issue start date!");
                $('#txtLoanIssueDateStart').focus();
                return false;
            }
            if(sLoanIssueDateEnd===null || sLoanIssueDateEnd==="")
            {
                alert("Please select Issue end date!");
                $('#txtLoanIssueDateEnd').focus();
                return false;
            }
            if(new Date(sLoanIssueDateStart) > new Date(sLoanIssueDateEnd))
            {
                alert("Issue Start date must be smallar than or equal end date!");
                $('#txtLoanIssueDateStart').focus();
                return false;
            }
        }

        var nLoanStartDate = parseInt($('#cboLoanStartDate').val());
        if(nLoanStartDate===1 || nLoanStartDate===2 || nLoanStartDate===3 || nLoanStartDate===4)
        {
            var sLoanStartDateStart   = $('#txtLoanStartDateStart').datebox('getValue');
            if(sLoanStartDateStart===null || sLoanStartDateStart==="")
            {
                alert("Please select Loan start date!");
                $('#txtLoanStartDateStart').focus();
                return false;
            }
        }

        if(nLoanStartDate===5 || nLoanStartDate===6)
        {
            var sLoanStartDateStart   = $('#txtLoanStartDateStart').datebox('getValue');
            var sLoanStartDateEnd   = $('#txtLoanStartDateEnd').datebox('getValue');
            if(sLoanStartDateStart===null || sLoanStartDateStart==="")
            {
                alert("Please select Loan start date!");
                $('#txtLoanStartDateStart').focus();
                return false;
            }
            if(sLoanStartDateEnd===null || sLoanStartDateEnd==="")
            {
                alert("Please select Loan end date!");
                $('#txtLoanStartDateEnd').focus();
                return false;
            }
            if(new Date(sLoanStartDateStart) > new Date(sLoanStartDateEnd))
            {
                alert("Loan Start date must be smallar than or equal end date!");
                $('#txtLoanStartDateStart').focus();
                return false;
            }
        }

        var nLoanRcvDate = parseInt($('#cboLoanRcvDate').val());
        if(nLoanRcvDate===1 || nLoanRcvDate===2 || nLoanRcvDate===3 || nLoanRcvDate===4)
        {
            var sLoanRcvDateStart   = $('#txtLoanRcvDateStart').datebox('getValue');
            if(sLoanRcvDateStart===null || sLoanRcvDateStart==="")
            {
                alert("Please select received start date!");
                $('#txtLoanRcvDateStart').focus();
                return false;
            }
        }
        if(nLoanRcvDate===5 || nLoanRcvDate===6)
        {
            var sLoanRcvDateStart   = $('#txtLoanRcvDateStart').datebox('getValue');
            var sLoanRcvDateEnd   = $('#txtLoanRcvDateEnd').datebox('getValue');
            if(sLoanRcvDateStart===null || sLoanRcvDateStart==="")
            {
                alert("Please select received start date!");
                $('#txtLoanRcvDateStart').focus();
                return false;
            }
            if(sLoanRcvDateEnd===null || sLoanRcvDateEnd==="")
            {
                alert("Please select received end date!");
                $('#txtLoanRcvDateEnd').focus();
                return false;
            }
            if(new Date(sLoanRcvDateStart) > new Date(sLoanRcvDateEnd))
            {
                alert("Start date must be smallar than or equal end date!");
                $('#txtLoanRcvDateStart').focus();
                return false;
            }
        }

        var nReportLayout = parseInt($('#cboReportLayout').val());
        if(nReportLayout<=0)
        {
            alert("Please select an Report Layout!");
            return;
        }

        var nRefType =parseInt($.trim($('#cboRefType').val()));
        var sRefNo = "";

        if($('#txtRefNo').data('RefObjectIDs') != "")
        {
            if(nRefType != 0 && nRefType != 5 && nRefType != 7)
            {
                alert("Please Pick Ref Type!");
                return;
            }
        }

        var sLoanNo = $.trim($('#txtLoanNo').val());
        var nBUnitType = parseInt($('#cboSrcBUnitType').val());
        var nBankAccount = parseInt($('#cboBankAccounts').val());
        var nRefType = parseInt($('#cboRefType').val());
        var nLoanType = parseInt($('#cboLoanType').val());

        if(nLoanIssueDate === 0 && nRefType === 0 && nBUnitType === 0 && sRefNo === "" && nBankAccount === 0 && nLoanStartDate === 0 && nLoanType === 0 && nLoanRcvDate === 0 && sLoanNo === "")
        {
            alert("Please select atleast one searching criteriea!");
            return false;
        }
        return true;
    }

    function RefreshObject()
    {
        debugger;
        var nLoanIssueDate = parseInt($('#cboLoanIssueDate').val());
        var sLoanIssueDateStart   = $('#txtLoanIssueDateStart').datebox('getValue');
        var sLoanIssueDateEnd   = $('#txtLoanIssueDateEnd').datebox('getValue');

        var ncboLoanStartDate = parseInt($('#cboLoanStartDate').val());
        var sLoanStartDateStart   = $('#txtLoanStartDateStart').datebox('getValue');
        var sLoanStartDateEnd   = $('#txtLoanStartDateEnd').datebox('getValue');

        var ncboLoanRcvDate = parseInt($('#cboLoanRcvDate').val());
        var sLoanRcvDateStart   = $('#txtLoanRcvDateStart').datebox('getValue');
        var sLoanRcvDateEnd   = $('#txtLoanRcvDateEnd').datebox('getValue');

        var nRefType =parseInt($.trim($('#cboRefType').val()));

        var txtRefNo = '';
        var ImportOrExportID = 0;
        if($("#cboRefType").val() == 1)//Import invoice
        {
            txtRefNo = $('#txtRefNo').data('RefObjectIDs').ImportInvoiceNo;
            ImportOrExportID = $('#txtRefNo').data('RefObjectIDs').ImportInvoiceID;
        }
        else
        {
            txtRefNo = $('#txtRefNo').data('RefObjectIDs').ExportLCNo;
            ImportOrExportID = $('#txtRefNo').data('RefObjectIDs').ExportLCID;
        }

        var sSearchingData  =  nLoanIssueDate+'~';
        sSearchingData = sSearchingData + sLoanIssueDateStart+'~';
        sSearchingData = sSearchingData + sLoanIssueDateEnd+'~';
        sSearchingData = sSearchingData + ncboLoanStartDate+'~';
        sSearchingData = sSearchingData + sLoanStartDateStart+'~';
        sSearchingData = sSearchingData + sLoanStartDateEnd+'~';
        sSearchingData = sSearchingData + ncboLoanRcvDate+'~';
        sSearchingData = sSearchingData + sLoanRcvDateStart+'~';
        sSearchingData = sSearchingData + sLoanRcvDateEnd;

        var oLoanRegister = {
            BUID : parseInt($('#cboSrcBUnitType').val()),
            LoanNo : $.trim($('#txtLoanNo').val()),
            RcvBankAccountID : parseInt($('#cboBankAccounts').val()),
            LoanRefType : parseInt($('#cboRefType').val()),
            LoanType : parseInt($('#cboLoanType').val()),
            ReportLayout : parseInt($('#cboReportLayout').val()),
            LoanRefNo : txtRefNo,
            LoanRefID : ImportOrExportID,
            SearchingData : sSearchingData
        };
        return oLoanRegister;

    }

    $('#btnExportToExcel').click(function(e)
    {
        debugger;
        if(!ValidateSearch()) return;
        var oLoanRegister = RefreshObject();
        $.ajax({
            type: "POST",
            dataType: "json",
            url : _sBaseAddress+  "/LoanRegister/SetSessionSearchCriteria",
            traditional: true,
            data:  JSON.stringify(oLoanRegister),
            contentType: "application/json; charset=utf-8",
            success: function (data) {
                var sFeedBackMessage = jQuery.parseJSON(data);
                if (sFeedBackMessage==="Successful") {
                    var tsv=((new Date()).getTime())/1000;
                    window.open(_sBaseAddress+'/LoanRegister/ExportToExcelLoanRegister?ts='+tsv,"_blank");
                }
            },
            error: function (xhr, status, error) {
                alert(error);
            }
        });
    });

    $("#btnPick").click(function () {
        $('#txtRefNo').val('');
        PickImportOrExport();
    });

    $('#btnCancel').click(function(e){
        $("#txtRefNo").val("");
        $('#txtRefNo').data('RefObjectIDs', "");
        $("#txtRefNo").removeClass("fontColorOfPickItem");
    });

    function PickImportOrExport()
    {
        debugger;

        if($('#cboRefType').val()<1)
        {
            alert("Please Select Order Reference Export Or Import");
            return;
        }
        if(parseInt($('#cboSrcBUnitType').val())<1)
        {
            alert("Please Select BU");
            return;
        }
        
        var oRefObject = null, sRefControllerName="", sActionName="", sRefObjectID="",searchingbyfieldName = "", tblColums = [];
        if(parseInt($('#cboRefType').val()) == 1)//Import
        {
            sRefControllerName="Loan";
            sActionName="GetsImportInvoice";
            sRefObjectID = "ImportInvoiceID";
            oRefObject={
                BUID:parseInt($('#cboSrcBUnitType').val()),
                ImportInvoiceNo:$.trim($('#txtRefNo').val())
            };
            var oColumn = { field: "ImportInvoiceNo", title: "Invoice No", width: 200, align: "left" }; tblColums.push(oColumn);
            oColumn = { field: "ContractorName", title: "Contractor", width: 300, align: "left" }; tblColums.push(oColumn);
            oColumn = { field: "InvoiceDateInString", title: "InvoiceDate", width: 100, align: "left" }; tblColums.push(oColumn);
            oColumn = { field: "AmountLCInSt", title: "Amount_LC", width: 100, align: "left" }; tblColums.push(oColumn);
            searchingbyfieldName="ImportInvoiceNo";

        }
        else  if(parseInt($('#cboRefType').val()) == 2)//Export
        {
            sRefControllerName="Loan";
            sActionName="GetExportLC";
            sRefObjectID = "ExportLCID";
            oRefObject={
                BUID:parseInt($('#cboSrcBUnitType').val()),
                ExportLCNo:$.trim($('#txtRefNo').val())
            };
            var oColumn = { field: "ExportLCNo", title: "LC No", width: 200, align: "left" }; tblColums.push(oColumn);
            oColumn = { field: "ApplicantName", title: "Applicant", width: 300, align: "left" }; tblColums.push(oColumn);
            oColumn = { field: "OpeningDateST", title: "LC Date", width: 100, align: "left" }; tblColums.push(oColumn);
            oColumn = { field: "AmountSt", title: "Amount", width: 100, align: "left" }; tblColums.push(oColumn);
            searchingbyfieldName="ExportLCNo";
        }

        var obj = {
            BaseAddress: sessionStorage.getItem("BaseAddress"),
            Object: oRefObject,
            ControllerName:sRefControllerName,
            ActionName: sActionName,
            IsWinClose: false
        };
        $.icsProgressBar(true);
        $.icsDataGets(obj, function (response) {
            $.icsProgressBar(false);
            if (response.status && response.objs.length > 0) {
                if (response.objs[0][sRefObjectID] > 0) {
                    var oPickerParam = {
                        winid: 'winExportOrImports',
                        winclass: 'clsExportOrImports',
                        winwidth: 750,
                        winheight: 460,
                        tableid: 'tblExportOrImports',
                        tablecolumns: tblColums,
                        datalist: response.objs,
                        multiplereturn: false,
                        searchingbyfieldName: searchingbyfieldName,
                        windowTittle: 'Item List'
                    };
                    $.icsPicker(oPickerParam);
                    IntializePickerbutton(oPickerParam);
                }
                else { alert(response.objs[0].ErrorMessage); }
            }else{
                alert("Data Not Found.");
                return;
            }
        });
    }

    function IntializePickerbutton(oPickerobj) {
        $("#" + oPickerobj.winid).find("#btnOk").click(function () {
            //for Single Select
            SetPickerValueAssign(oPickerobj);
        });
        $(document).find('.' + oPickerobj.winclass).keydown(function (e) {
            if (e.which == 13)//enter=13
            {
                SetPickerValueAssign(oPickerobj);
            }
        });
    }

    $("#txtRefNo").keydown(function (e) {
        debugger;
        var code = (e.keyCode ? e.keyCode : e.which);
        if (code == 13) // Enter Press
        {
            if($.trim($('#txtRefNo').val())===null || $.trim($('#txtRefNo').val())==="")
            {
                alert("Press enter with Ref No");
                return;
            }
            PickImportOrExport();
        }else if (code == 8) //backspace=8
        {
            $("#txtRefNo").removeClass("fontColorOfPickItem");
            $('#txtRefNo').data('RefObjectIDs', null);
        }
    });

    function SetPickerValueAssign(oPickerobj) {
        debugger;
        var oreturnObj = null, oreturnobjs = [];
        if (oPickerobj.multiplereturn) {
            oreturnobjs = $('#' + oPickerobj.tableid).datagrid('getChecked');
        } else {
            oreturnObj = $('#' + oPickerobj.tableid).datagrid('getSelected');
        }
        $("#" + oPickerobj.winid).icsWindow("close");
        $("#" + oPickerobj.winid).remove();

        if (oPickerobj.winid === 'winExportOrImports')
        {
            if (oreturnObj != null)
            {
                if(parseInt($('#cboRefType').val()) == 1)
                    $('#txtRefNo').val(oreturnObj.ImportInvoiceNo);

                else if(parseInt($('#cboRefType').val()) == 2)
                    $('#txtRefNo').val(oreturnObj.ExportLCNo);

                $('#txtRefNo').addClass('fontColorOfPickItem');
                $('#txtRefNo').data('RefObjectIDs', oreturnObj);
                $('#txtRefNo').focus();
            }
        }

    }

</script>

