<html>
<head>
    <title>ProcessManagementPermission</title>
    <link href="@Url.Content("~/Content/CSS/icon.css")" rel="stylesheet" type="text/css" />
    <link href="@Url.Content("~/Content/CSS/easyui.css")" rel="stylesheet" type="text/css" />
    <link href="@Url.Content("~/Content/CSS/Pikerstyle.css")" rel="stylesheet" type="text/css" />
    <script src="@Url.Content("~/Scripts/jquery-1.7.1.min.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Scripts/jquery.ics.customize.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Scripts/jquery.easyui.min.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Scripts/jquery-ui.min.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Scripts/json2.js")" type="text/javascript"></script>
</head>
<body>
    @model ESimSol.BusinessObjects.ProcessManagementPermission
    <div style="font-family: Tahoma">
        <table border="0" cellspacing="2" cellpadding="2">
            <tr>
                <td style="background-color: #cfb53b; text-align: center; width: 300px; color: White">
                    <label id="lblHeaderName" style="font-size: 15px; font-weight: bold; text-decoration: Underline">
                        ProcessManagementPermission</label>
                </td>
            </tr>
        </table>
        <fieldset>
            <legend style="font-weight: bold">Daily Attendance Information : </legend>
            <table border="0" cellspacing="2" cellpadding="2" style="font-size: 11px; font-weight: bold">
                <tr>
                    <td style="width: 100px; text-align: right">
                        Location :
                    </td>
                    <td style="width: 180px">
                       @Html.TextBoxFor(model => model.LocationName, new { style = "width: 133px;", id = "txtLocation", disabled="disabled" }) 
                        <input type="hidden" id="txtLocationID" />
                        <input type="button" value="Pick" style="width: 40px;" onclick="LocationPicker()" />
                    </td>
                </tr>
                <tr>
                    <td style="width: 100px; text-align: right">
                        Department :
                    </td>
                    <td style="width: 180px;">
                        @Html.TextBoxFor(model => model.DepartmentName, new { style = "width: 133px;", id = "txtDepartment", disabled = "disabled" }) 
                        <input type="hidden" id="txtDepartmentID" />
                        <input type="button" value="Pick" style="width: 40px;" onclick="DepartmentPicker()" />
                    </td>
                </tr>
                <tr>
                    <td style="width: 100px; text-align: right">
                        PM Type :
                    </td>
                    <td style="width: 180px">
                        @Html.DropDownListFor(model => model.ProcessManagementType, new SelectList(Enum.GetValues(typeof(ESimSol.BusinessObjects.EnumProcessManagementType))), new { id = "cboPMType", style = "width: 180px;" })
                    </td>
                </tr>
                <tr>
                    <td style="width: 100px; text-align: right">
                        Process Type :
                    </td>
                    <td style="width: 180px">
                        @Html.DropDownListFor(model => model.ProcessType, new SelectList(Enum.GetValues(typeof(ESimSol.BusinessObjects.EnumProcessType))), new { id = "cboProcesType", style = "width: 180px;" })
                    </td>
                </tr>
                <tr>
                    <td style="width: 100px; text-align: right">
                        Process Status :
                    </td>
                    <td>
                        @Html.DropDownListFor(model => model.ProcessStatus, new SelectList(Enum.GetValues(typeof(ESimSol.BusinessObjects.EnumProcessStatus))), new { id = "cboPSType", style = "width: 180px;" })
                    </td>
                </tr>
            </table>
        </fieldset>
        <fieldset>
            <legend style="font-weight: bold">Action : </legend>
            <table border="0" cellspacing="2" cellpadding="2" style="font-size: 11px; font-weight: bold">
                <tr>
                    <td style="width: 180px">
                    </td>
                    <td style="width: 50px">
                        <a href="javascript:void(0)" class="easyui-linkbutton" iconcls="icon-save" plain="true"
                            onclick="Save()">Save</a>
                    </td>
                    <td style="width: 50px">
                    <a href="javascript:void(0)" class="easyui-linkbutton" iconcls="icon-cancel" plain="true"
                            onclick="Close()">Close</a>
                    </td>
                </tr>
            </table>
        </fieldset>
    </div>
</body>
</html>
<script type="text/javascript">
 var _oProcessManagementPermission = null;
 var _sBaseAddress = "";
 var _nUserID=0;
 var _nLocationID=0;
 var _ObName="";
$(document).ready(function() {  
    _sBaseAddress = @Html.Raw(new System.Web.Script.Serialization.JavaScriptSerializer().Serialize(HttpContext.Current.Session[SessionInfo.BaseAddress]));
    _oProcessManagementPermission = @Html.Raw(new System.Web.Script.Serialization.JavaScriptSerializer().Serialize(Model));
    var obj = window.dialogArguments;
    _ObName=obj.Name;
    document.getElementById('lblHeaderName').innerHTML = _ObName;
    _nUserID=_oProcessManagementPermission.UserID;
  
    if(_ObName=="Edit ProcessManagementPermission")
    {
     $("#txtLocationID")[0].value= _oProcessManagementPermission.LocationID;
     $("#txtDepartmentID")[0].value  = _oProcessManagementPermission.DepartmentID;
    }
});

function ValidateInput() 
{
//  
    return true;
}

function RefreshObject() 
{
    debugger;
    
     var oProcessManagementPermission = 
     {
         PMPID :_oProcessManagementPermission.PMPID,
         UserID:_nUserID,
         LocationID:$("#txtLocationID").val(),
         DepartmentID:$("#txtDepartmentID").val(),
         ProcessManagementTypeInt:document.getElementById("cboPMType").selectedIndex,
         ProcessTypeInt:document.getElementById("cboProcesType").selectedIndex,
         ProcessStatusInt:document.getElementById("cboPSType").selectedIndex
        
     };
    
     return oProcessManagementPermission;
 }

function Save()
{
    debugger
//        if (!ValidateInput()) return;
        var oProcessManagementPermission = RefreshObject();
            $.ajax({
                type: "POST",
                dataType: "json",
                url: _sBaseAddress + "/ProcessManagementPermission/ProcessManagementPermission_IU",
                traditional: true,
                data: JSON.stringify(oProcessManagementPermission),
                contentType: "application/json; charset=utf-8",

                success: function(data)
                        {
                            debugger
                            oProcessManagementPermission = jQuery.parseJSON(data);
                            if (oProcessManagementPermission.ErrorMessage == "") 
                            {
                                alert("Data Saved sucessfully");
                                window.returnValue = oProcessManagementPermission;
                                window.close();
                            } 
                            else 
                            {
                                alert(oProcessManagementPermission.ErrorMessage);
                            }
                        },
                error: function(xhr, status, error)
                    {
                        alert(error);
                    }
                });
              
}

function LocationPicker()
{
       var oParameter = new Object();
       oParameter.MultipleItemReturn = false;
       var tsv = ((new Date()).getTime()) / 1000;
       var url = _sBaseAddress + "/Location/LocationPickerWithCheckBox?id=0";
       var oReturnObject = window.showModalDialog(url, oParameter, 'dialogHeight:470px;dialogWidth:550px;dialogLeft:400;dialogTop:100;center:yes;resizable:no;status:no;scroll:no');
       if(oReturnObject !=null)
       {
          $("#txtLocation")[0].value=oReturnObject.text;
          $("#txtLocationID")[0].value=oReturnObject.id;
          _nLocationID= oReturnObject.id;
       }
       
}
function DepartmentPicker()
{
        //debugger;
        if(_nLocationID==0)
        {
        alert("please select a location!");
        return;
        }
        var oParameter = new Object();
        oParameter.MultipleItemReturn = false;
        var url = _sBaseAddress + "/Department/DepartmentPickerWithCheckBox?id="+_nLocationID;
        var oReturnObject = window.showModalDialog(url, oParameter, 'dialogHeight:470px;dialogWidth:550px;dialogLeft:400;dialogTop:100;center:yes;resizable:no;status:no;scroll:no');
       if(oReturnObject !=null)
       {
          $("#txtDepartment")[0].value = oReturnObject.text;
          $("#txtDepartmentID")[0].value = oReturnObject.id;
       }
}

function Close()
{
       window.close();
}

</script>
