@{
    ViewBag.Title = "Att. Summery Dashboard";
}
<html>
<head>
    <title>Att. Summery Dashboard</title>
</head>
<body>
    @model ESimSol.BusinessObjects.AttendanceDaily
    <div class="menuMainCollectionTable">
        <div id="WinPopUp" class="ics-window">
            <a class="ics-window-close"><img src="~/Content/Images/close_pop.png" /></a>
            <div id="popupContent">
                <div id="popupregionTitle">
                    <label id="popuplblTitle"></label>
                </div>
                <div id="regionDescription">
                    <label id="popuplblDescription"></label>
                </div>
            </div>
        </div>
        <div style="width:100%;height:600px; overflow-y:scroll">
            @*<div style="width:29.5%;height:400px; float:left; border: 1px solid black;margin-right:5px;border-bottom:0px;">*@
                <div style="border: 1px solid black;height:520px; width:30%; margin:5px 5px 5px 5px; border-radius:5px; float:left;">
                    <div style="border-bottom: 1px solid black; height:25px; text-align:center;">
                        Attendance Summary
                    </div>
                    <div>
                        <div id="dtDateSearch">
                            <span id="regionDateFrom">
                                <span>
                                    <select id="cboYear" style="width:68px;"></select>
                                </span><span>
                                    <select id="cboMonth" style="width:68px;"></select>
                                </span><span>
                                    <select id="cboDay" style="width:68px;"></select>
                                </span>
                            </span>
                            @*<span style="padding-right: 5px;">
                                    To
                                </span>*@
                            <a id="btnDateSearch_Reset" href="javascript:void(0)" class="easyui-linkbutton" iconcls="icon-reload" plain="true">Reset</a>
                            <br />
                            <span>
                                <select id="cboEndYear" style="width:68px;"></select>
                            </span><span>
                                <select id="cboEndMonth" style="width:68px;"></select>
                            </span><span>
                                <select id="cboEndDay" style="width:68px;"></select>
                            </span>
                            <a id="btnDateSearch" href="javascript:void(0)" class="easyui-linkbutton" iconcls="icon-search" plain="true">Search</a>
                        </div>

                        <div id="placeholder" style="width:180px; height: 180px;margin:0 auto"></div>
                        <div style="width:99.5%;height:20px;border: 1px solid black;border-left:0px;border-right:0px">
                            <span>Legend</span>
                            <span style="margin-left:60px;">Present(%)</span>
                            @*<span style="margin-left:75px;">Count</span>*@
                        </div>
                        <div style="width:99.5%;height:20px;border: 1px solid black;border-left:0px;border-right:0px;border-top:0px">
                            <div style="width:80px;float:left;">
                                <div style="width:15px;height:15px; background-color:#CC9900;border: 1px solid black;margin:1px 0px 0px 1px;float:left;"></div>
                                <div style="float:left; ">Present</div>
                            </div>
                            <div id="Present-Graph" style="float:left; margin-left:10px;"></div>
                            <div id="PresentPercent" style="float:left;"></div>
                            <div id="PresentCount" style="float:right; margin-left:30px; text-align:left;"></div>
                        </div>
                        <div style="width:99.5%;height:20px;border: 1px solid black;border-left:0px;border-right:0px;border-top:0px">
                            <div style="width:80px;float:left;">
                                <div style="width:15px;height:15px; background-color:#FF0000;border: 1px solid black;margin:1px 0px 0px 1px;float:left;"></div>
                                <div style="float:left; ">Absent</div>
                            </div>
                            <div id="Absent-Graph" style="float:left; margin-left:10px;"></div>
                            <div id="AbsentPercent" style="float:left;"></div>
                            <div id="AbsentCount" style="float:right; margin-left:30px; text-align:left;"></div>

                        </div>
                        <div style="width:99.5%;height:20px;border: 1px solid black;border-left:0px;border-right:0px;border-top:0px">
                            <div style="width:80px;float:left;">
                                <div style="width:15px;height:15px; background-color:#D8D8D8;border: 1px solid black;margin:1px 0px 0px 1px;float:left;"></div>
                                <div style="float:left; ">Leave</div>
                            </div>
                            <div id="Leave-Graph" style="float:left; margin-left:10px;"></div>
                            <div id="LeavePercent" style="float:left;"></div>
                            <div id="LeaveCount" style="float:right; margin-left:30px; text-align:left;"></div>
                        </div>
                        <div style="width:99.5%;height:20px;border: 1px solid black;border-left:0px;border-right:0px;border-top:0px">
                            <div style="width:80px;float:left;">
                                <div style="width:15px;height:15px; background-color:#7B68EE;border: 1px solid black;margin:1px 0px 0px 1px;float:left;"></div>
                                <div style="float:left; ">Er. L</div>
                            </div>
                            <div id="ErLeave-Graph" style="float:left; margin-left:10px;"></div>
                            <div id="ErLeavePercent" style="float:left;"></div>
                            <div id="ErLeaveCount" style="float:right; margin-left:30px; text-align:left;"></div>
                        </div>
                        <div style="width:99.5%;height:20px;border: 1px solid black;border-left:0px;border-right:0px;border-top:0px">
                            <div style="width:80px;float:left;">
                                <div style="width:15px;height:15px; background-color:#7CFC00;border: 1px solid black;margin:1px 0px 0px 1px;float:left;"></div>
                                <div style="float:left; ">Late</div>
                            </div>
                            <div id="Late-Graph" style="float:left; margin-left:10px;"></div>
                            <div id="LatePercent" style="float:left;"></div>
                            <div id="LateCount" style="float:right; margin-left:30px; text-align:left;"></div>
                        </div>

                    </div>
                </div>
            @*</div>*@
            @*<div style="width:69%;height:400px; float:left; border: 1px solid black;border-bottom:0px;">*@
               <!-- <div style="border: 1px solid black;height:384px; margin:5px 5px 5px 0px; border-radius:5px;float:left;width:42%;">
                    <div style="border-bottom: 1px solid black; height:25px; text-align:center;">
                        @*Company Announcement*@
                        Employee Details
                    </div>
                    <div id="announcement">
                        <div style="width:100%">
                            <div style="width:40%; float:left; text-align:right;"> New</div>
                            <div style="width:10%;float:left;text-align:center;">:</div>
                            <div style="width:50%;float:left;"><span id="spnNew"></span></div>
                        </div>
                        <div style="width:100%">
                            <div style="width:40%; float:left; text-align:right;"> Lefty</div>
                            <div style="width:10%;float:left;text-align:center;">:</div>
                            <div style="width:50%;float:left;"><span id="spnLefty"></span></div>
                        </div>
                        <div style="width:100%">
                            <div style="width:40%; float:left; text-align:right;"> PF</div>
                            <div style="width:10%;float:left;text-align:center;">:</div>
                            <div style="width:50%;float:left;"><span id="spnPF"></span></div>
                        </div>
                        <div style="width:100%">
                            <div style="width:40%; float:left; text-align:right;"> Yet To PF</div>
                            <div style="width:10%;float:left;text-align:center;">:</div>
                            <div style="width:50%;float:left;"><span id="spnYetToPF"></span></div>
                        </div>
                        <div style="width:100%">
                            <div style="width:40%; float:left; text-align:right;"> Confirm</div>
                            <div style="width:10%;float:left;text-align:center;">:</div>
                            <div style="width:50%;float:left;"><span id="spnConfirm"></span></div>
                        </div>
                        <div>
                            <div style="width:40%; float:left; text-align:right;"> Waiting Fro Confirm</div>
                            <div style="width:10%;float:left;text-align:center;">:</div>
                            <div style="width:50%;float:left;"><span id="spnWaitingFroConfirm"></span></div>
                        </div>
                    </div>
                </div>-->
               <div style="border: 1px solid black;height:520px; margin:5px 5px 5px 5px; border-radius:5px;width:68%;float:left;">
                    <div style="border-bottom: 1px solid black; height:25px; text-align:center;">
                        @*Performance Graph*@
                        Dept. Wise Total Employee || <input id="chkBULocation" type="checkbox" /> BU,Location
                    </div>
                    <div>
                        @*<div id="PerformanceGraph" style="text-align:center;height:350px; width:100%;margin:0 auto"></div>*@
                        <table id="tblTotalEmployee" class="easyui-datagrid" style="width:100%;height:490px" fitcolumns="false" rownumbers="true" pagination="false" singleselect="true" autorowheight="false">
                            <thead>
                                <tr>
                                    <th field="BUName" width="90" align="left">BU</th>
                                    <th field="LocationName" width="90" align="left">Location</th>
                                    <th field="DepartmentName" width="120" align="left">Department</th>
                                    <th field="TotalEmp" width="60" align="right">Total Emp</th>

                                    <th field="NewEmployee" width="60" align="right">New Emp</th>
                                    <th field="LeftyEmployee" width="60" align="right">Lefty Emp</th>
                                    <th field="PFEmployee" width="60" align="right">PF Emp</th>
                                    <th field="YetToPFEmployee" width="60" align="right">Yet To PF Emp</th>
                                    <th field="GratuityEmployee" width="60" align="right">Gra. Emp</th>
                                    <th field="Male" width="60" align="right">Male</th>
                                    <th field="Female" width="60" align="right">Female</th>
                                    <th field="Permanent" width="75" align="right">Permanent</th>
                                    <th field="Probationary" width="75" align="right">Probationary</th>
                                    <th field="Contractual" width="75" align="right">Contractual</th>
                                    <th field="Seasonal" width="60" align="right">Seasonal</th>
                                </tr>
                            </thead>
                        </table>
                    </div>
                </div>
            @*</div>*@
           <!--<div style="width:99.3%;height:400px; border: 1px solid black;float:left; clear:both;">
                <div style="margin-left:0px; height:390px;width:100%;">
                    <table id="tblAttendanceSummery_Lists" class="easyui-datagrid" style="width:100%;height:305px" fitcolumns="false" rownumbers="true" pagination="false" singleselect="true" autorowheight="false" toolbar="#toolbar">
                        <thead>
                            <tr>
                                <th field="EmployeeCode" width="100" align="left">ID</th>
                                <th field="EmployeeName" width="120" align="left">Name</th>
                                <th field="DepartmentName" width="100" align="left">Department</th>
                                <th field="DesignationName" width="100" align="left">Designation</th>
                                <th field="JoiningDateInString" width="80" align="center">Joining Date</th>
                                <th field="WorkingTill" width="100" align="center">Working Till</th>
                                <th field="TotalPresentInString" width="70" align="center">Present</th>
                                <th field="TotalAbsentInString" width="70" align="center">Absent</th>
                                <th field="TotalLateInString" width="70" align="center">Late</th>
                                <th field="TotalEarlyLeaveInString" width="80" align="center">Early Leaving</th>
                                <th field="TotalLeaveInString" width="90" align="center">Leave</th>
                            </tr>
                        </thead>
                    </table>
                    <div id="toolbar">

                        <input id="txtDepartment" type="text" style="width:115px;" placeholder="Department" />
                        <input id="btnDepartment" type="button" value="P" />
                        <input id="btnCDepartment" type="button" value="C" />

                        <label><input id="chkDateofJoin" type="checkbox" />Date of Join</label>
                        <input id="dtStartDate-Join" type="text" style="width: 90px;" class="easyui-datebox" data-options="formatter:icsdateformat,parser:icsdateparser" />To
                        <input id="dtEndDate-Join" type="text" style="width: 89px;" class="easyui-datebox" data-options="formatter:icsdateformat,parser:icsdateparser" />
                        <input id="txtEmployeeNameCode" type="text" style="width:190px;margin-top:5px;" placeholder="Name/Code" />
                        <a id="btnEmployeeSearch" href="javascript:void(0)" class="easyui-linkbutton" iconcls="icon-search" plain="true" onclick=" SearchWithPasignation()">Search</a>
                        <a id="btnEmployeeSearch_Reset" href="javascript:void(0)" class="easyui-linkbutton" iconcls="icon-reload" plain="true">Reset</a>
                        
                        <br />
                        @*<input id="chkPresent" type="checkbox" />Present*@
                        <input id="chkTopPresent" type="checkbox" /> Top Present
                        @*<input id="chkAbsent" type="checkbox" />Absent*@
                        <input id="chkTopAbsent" type="checkbox" />Top Absent
                        @*<input id="chkEarlyLeave" type="checkbox" />Early Leave*@
                        <input id="chkTopEarlyLeave" type="checkbox" />Top Early Leave
                        @*<input id="chkLate" type="checkbox" />Late*@
                        <input id="chkTopLate" type="checkbox" /> Top Late
                        <input id="chkTopLeave" type="checkbox" />Top Leave
                        @*<input id="chkHighPerformance" type="checkbox" />High Performance
                        <input id="chkMediumPerformance" type="checkbox" />Medium Performance
                        <input id="chkLowPerformance" type="checkbox" />Low Performance*@ @*&nbsp;&nbsp;&nbsp;&nbsp;
                        | &nbsp;&nbsp;&nbsp;&nbsp;
                        <span>Leave Count For One Fiscal Year.</span>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                        Session :
                        <select id="cboSession"></select>*@
                        &nbsp; &nbsp; &nbsp; | &nbsp;  Y=Year,M=Month,D=Day
                    </div>
                    ​<table>
                        <tr>
                            <td>
                                @*Load <input id="txtLoadRecords" type="text" style="width:70px"/>  &nbsp; Records*@
                                <input id="chkRange" type="checkbox" />Range
                                <label id="lblRange1">
                                    <input id="txtFrom" type="text" style="width:40px" />&nbsp; To &nbsp;
                                </label>
                                <label id="lblRange2">
                                    <input id="txtTo" type="text" style="width:40px" />
                                </label>
                                &nbsp; &nbsp;
                                <label id="lblcount"></label>
                                <a href="javascript:void(0)" class="easyui-linkbutton" iconcls="icon-ok" plain="true" onclick="Next()">Next</a>
                            </td>
                        </tr>
                    </table>
                </div>
            </div>-->
        </div>
        </div>
    <div id="winDepartmentPicker" class="easyui-window winstyle" title="Department Picker" style="width:350px; height:400px" data-options="modal:true,closed:true,collapsible:false,minimizable:false,maximizable:false,closable:false">
            <div style="font-family:Tahoma">
                <div class="easyui-panel" style="width:335px;height:300px;overflow:auto">
                    <ul id="Dtree" data-options="checkbox:true" singleselect="true" selectoncheck="false" checkonselect="false"></ul>
                </div>

                <fieldset>
                    <legend style="font-weight:bold"> Action : </legend>
                    <table border="0" cellspacing="2" cellpadding="2" style="font-size:11px; font-weight:bold">
                        <tr>
                            <td style="width:400px; text-align:right"></td>

                            <td style="width:50px">
                                <a id="btnDepartmentPickerOk" href="javascript:void(0)" class="easyui-linkbutton" iconcls="icon-ok" plain="true" onclick="OkButtonClick()">Ok</a>
                            </td>
                            <td style="width:50px">
                                <a id="btnDepartmentPickerClose" href="javascript:void(0)" class="easyui-linkbutton" iconcls="icon-cancel" plain="true">Close</a>
                            </td>
                        </tr>
                    </table>
                </fieldset>
            </div>
        </div>

</body>
</html>
<style>
  .linkStyler {
        cursor: pointer;
        text-decoration:none;
        color:#0AAEEC;
    }
   /*------Pop Up-----*/

        #popupContent{
            width:90%;
            height:100%;
            margin:5%;
        }
        #popupregionTitle{
            width:100%;
            height:auto;
            font-size:16px;
            color:#0AAEEC;
            text-align:justify;
            padding-bottom:5px;
        }
        #popuplblTitle{
            font-size:16px;
        }
        #popupregionDescription{
            width:100%;
            height:auto;
            font-size:12px;
            text-align:justify;
            overflow-x:hidden;
            overflow-y:scroll
        }

</style>

<script type="text/javascript">
    var _sBaseAddress="";
    var _oAttendanceDaily  = null;
    var _oGraphDataSet=[];
    var _oGraphData=[];
    var _oGraphTicks=[];
    var _somePlot = null;
    var _sDepartmentIds = "" ;
    var _sDepartmentNames = "";
    var _oEmployee = null;
    var _nEmployeeID = 0;
    var _oNotices =[];
    var _AttPlot = null;
    var _nLoadRecords = 0;
    var _nRowLength = 0;
    var _bNext = false;
    var _nLastEmpID=0;
    var _oTotalEmployees=[];
    var _oTotalEmployeeDetails=[];

    $(document).ready(function () {
        debugger;
        _sBaseAddress =@Html.Raw( new System.Web.Script.Serialization.JavaScriptSerializer().Serialize(HttpContext.Current.Session[SessionInfo.BaseAddress]));
        _oAttendanceDaily=@Html.Raw( new System.Web.Script.Serialization.JavaScriptSerializer().Serialize(Model));
        @*_oNotices= @Html.Raw(new System.Web.Script.Serialization.JavaScriptSerializer().Serialize(@ViewBag.Notices));*@
        @*_oTotalEmployees= @Html.Raw(new System.Web.Script.Serialization.JavaScriptSerializer().Serialize(@ViewBag.TotalEmployees));*@
        _oTotalEmployeeDetails= @Html.Raw(new System.Web.Script.Serialization.JavaScriptSerializer().Serialize(@ViewBag.TotalEmployeeDetails));
        $('#dtStartDate').datebox('setValue',icsdateformat(new Date()));
        $('#dtEndDate').datebox('setValue',icsdateformat(new Date()));
        $('#dtStartDate-Join').datebox('setValue',icsdateformat(new Date()));
        $('#dtEndDate-Join').datebox('setValue',icsdateformat(new Date()));
        $('#dtStartDate-Birth').datebox('setValue',icsdateformat(new Date()));
        $('#dtEndDate-Birth').datebox('setValue',icsdateformat(new Date()));
        $('#dtAnnouncementStartDate').datebox('setValue',icsdateformat(new Date()));
        $('#dtAnnouncementEndDate').datebox('setValue',icsdateformat(new Date()));

        PrepareGraph(_oAttendanceDaily.AttendanceSummery_Chart);
        PreparePieChart(_oAttendanceDaily.AttendanceSummery_Chart);
        LoadSession(_oAttendanceDaily.AttendanceCalendarSessions);
        //RefreshList(_oAttendanceDaily.AttendanceSummery_Lists);
        //LoadAnnouncement();
        SetDateTime();
        var oDate=new Date();
        SetStartTime(oDate);
        SetEndTime(oDate);
        $("#WinPopUp").hide();
        //LoadPerformanceChart(_oAttendanceDaily.AttendancePerformanceChart.List1,_oAttendanceDaily.AttendancePerformanceChart.List2,_oAttendanceDaily.AttendancePerformanceChart.List3);

        $('#txtLoadRecords').numberbox({min:0, precision:0 });
        $('#txtFrom').numberbox({min:0, precision:0 });
        $('#txtTo').numberbox({min:0, precision:0 });
        $('#txtFrom').numberbox('setValue',51);
        $('#txtTo').numberbox('setValue',100);
        $('#lblRange1').hide();
        //document.getElementById("lblRange1").style.display = 'none';
        DynamicRefreshList(_oTotalEmployeeDetails, "tblTotalEmployee");
        AppendTotalEmployees();
        //AppendTotalEmployees(_oTotalEmployees);
        //LoadTotalEmployeeDetail();
        $('#tblTotalEmployee').datagrid('hideColumn','BUName');
        $('#tblTotalEmployee').datagrid('hideColumn','LocationName');

        $('#AppMainLayout').layout('collapse', 'west');        
        $('#AppMainLayout').layout('expand', 'west');
        $('#AppMainLayout').layout('collapse', 'west');
    });

    function AppendTotalEmployees(oEmployees)
    {
        if(oEmployees.length>0)
        {
            var nGrandTotal = 0;
            for(var i=0;i<oEmployees.length;i++)
            {
                nGrandTotal = parseFloat(nGrandTotal)+parseFloat(oEmployees[i].TotalEmp);
            }
            var oObj =
            {
                BUName : '',
                LocationName : '',
                DepartmentName : '<b>Total</b>',
                TotalEmp : '<b>'+nGrandTotal+'</b>',
            }
            $('#tblTotalEmployee').datagrid('appendRow',oObj); 
        } 
    }

    //function LoadTotalEmployeeDetail()
    //{
    //    $('#spnNew').html(_oTotalEmployeeDetail.NewEmployee);
    //    $('#spnLefty').html(_oTotalEmployeeDetail.LeftyEmployee);
    //    $('#spnPF').html(_oTotalEmployeeDetail.PFEmployee);
    //    $('#spnYetToPF').html(_oTotalEmployeeDetail.YetToPFEmployee);
    //    $('#spnConfirm').html(_oTotalEmployeeDetail.ConfirmEmployee);
    //    $('#spnWaitingFroConfirm').html(_oTotalEmployeeDetail.WaitingFroConfirmEmployee);
    //}

    $('#chkRange').click(function()
    {
        if(document.getElementById("chkRange").checked == true)
        {
            document.getElementById("lblRange1").style.display = '';
        }
        else
        {
            document.getElementById("lblRange1").style.display = 'none';

        }
    });

    //Sagor date picker start

    function SetDateTime()
    {
        var oDate=new Date();
        oDate.setFullYear(2014);
        /*---------------------------------------- Start Set Year-------------------------------------------*/
        var sYear="";
        sYear +="<option value='0'>"+'Year'+"</option>";
        for(var i=0; i<=10; i++)
        {
            sYear += "<option value='" + (parseInt(oDate.getFullYear()) + parseInt(i)) +"'>" + (parseInt(oDate.getFullYear()) + parseInt(i)) +"</option>";
        }
        $('#cboYear').html(sYear);
        $('#cboEndYear').html(sYear);
        /*---------------------------------------- End Set Year-------------------------------------------*/


        /*---------------------------------------- Start Set Month-------------------------------------------*/
        var sMonth="";
        var oMonths=['Jan','Feb','Mar','Apr','May','Jun','Jul','Aug','Sep','Oct','Nov','Dec'];
        sMonth +="<option value='0'>"+'Month'+"</option>";
        for(var i=0; i<oMonths.length; i++)
        {
            sMonth += "<option value='" +(parseInt(i)+1)+"'>" + oMonths[i] +"</option>";
        }
        $('#cboMonth').html(sMonth);
        $('#cboEndMonth').html(sMonth);
        /*---------------------------------------- End Set Month-------------------------------------------*/


        /*---------------------------------------- Start Set Date-------------------------------------------*/
        var sDay ="<option value='0'>"+'Day'+"</option>";
        $('#cboDay').html(sDay);
        $('#cboEndDay').html(sDay);
        /*---------------------------------------- End Set Date-------------------------------------------*/
    }

    $('#cboYear').change(function(e)
    {
        var nYear=$('#cboYear').val();
        var nMonth=$('#cboMonth').val();
        if(nYear>0 && nMonth>0)
        {
            $('#cboDay').html(SetDateEvent(nYear, nMonth));
        }

    });

    $('#cboEndYear').change(function(e)
    {
        var nYear=$('#cboEndYear').val();
        var nMonth=$('#cboEndMonth').val();
        if(nYear>0 && nMonth>0)
        {
            $('#cboEndDay').html(SetDateEvent(nYear, nMonth));
        }

    });

    $('#cboMonth').change(function(e)
    {
        var nYear=$('#cboYear').val();
        var nMonth=$('#cboMonth').val();
        if(nYear>0 && nMonth>0)
        {
            $('#cboDay').html(SetDateEvent(nYear, nMonth));
        }

    });

    $('#cboEndMonth').change(function(e)
    {

        var nYear=$('#cboEndYear').val();
        var nMonth=$('#cboEndMonth').val();
        if(nYear>0 && nMonth>0)
        {
            $('#cboEndDay').html(SetDateEvent(nYear, nMonth));
        }

    });

    function SetDateEvent(nYear, nMonth)
    {

        var oDate=new Date();
        var sDay="";
        if( parseInt(nMonth)>0)
        {
            var nDay= new Date(parseInt(nYear), parseInt(nMonth), 0).getDate();
            sDay +="<option value='0'>"+'Day'+"</option>";
            for(var i=1; i<=parseInt(nDay); i++)
            {
                if(i<10)
                {
                    sDay += "<option value='" +i+"'>" + '0'+i +"</option>";
                }
                else
                {
                    sDay += "<option value='" +i+"'>" + i +"</option>";
                }

            }
        }
        return sDay;
    }

    function SetStartTime(oDate)
    {

        var nyear=oDate.getFullYear();
        var nmonth=oDate.getMonth()+1;
        var nday=oDate.getDate();
        $('#cboYear').val(nyear);
        $('#cboMonth').val(nmonth);
        $('#cboDay').html(SetDateEvent(nyear,nmonth));
        $('#cboDay').val(nday);
    }

    function SetEndTime(oDate)
    {
        debugger;
        var nyear=oDate.getFullYear();
        var nmonth=oDate.getMonth()+1;
        var nday=oDate.getDate();
        $('#cboEndYear').val(nyear);
        $('#cboEndMonth').val(nmonth);
        $('#cboEndDay').html(SetDateEvent(nyear,nmonth));
        $('#cboEndDay').val(nday);

    }

    function GenerateStartTimeInString()
    {
        var sDate=  $('#cboMonth').val() +'/'+ $('#cboDay').val() +'/'+ $('#cboYear').val();
        return sDate;
    }

    function GenerateEndTimeInString()
    {

        var sDate=  $('#cboEndMonth').val() +'/'+ $('#cboEndDay').val() +'/'+ $('#cboEndYear').val();
        return sDate;
    }

    function ValidationOfStartTime()
    {
        if($('#cboYear').val()==0)
        {
            alert("Please select a year.");
            document.getElementById('cboYear').focus();
            return false;
        }
        if($('#cboMonth').val()==0)
        {
            alert("Please select a month.");
            document.getElementById('cboMonth').focus();
            return false;
        }
        if($('#cboDay').val()==0)
        {
            alert("Please select a day.");
            document.getElementById('cboDay').focus();
            return false;
        }
        return true;
    }

    function ValidationOfEndTime()
    {
        if($('#cboEndYear').val()==0)
        {
            alert("Please select a year.");
            document.getElementById('cboEndYear').focus();
            return false;
        }
        if($('#cboEndMonth').val()==0)
        {
            alert("Please select a month.");
            document.getElementById('cboEndMonth').focus();
            return false;
        }
        if($('#cboEndDay').val()==0)
        {
            alert("Please select a day.");
            document.getElementById('cboEndDay').focus();
            return false;
        }
        return true;
    }

    //$('#cboDateType').change(function ()
    //{
    //        debugger
    //        var nDateType = $("#cboDateType").val();
    //        if (nDateType == 0) {
    //              document.getElementById("regionDateTo").style.display = 'none';
    //              document.getElementById("regionDateFrom").style.display = 'none';
    //        }
    //        if (nDateType == 1 )
    //        {
    //          document.getElementById("regionDateFrom").style.display = '';
    //          document.getElementById("regionDateTo").style.display = 'none';
    //        }
    //        if (nDateType == 2 )
    //        {
    //          document.getElementById("regionDateFrom").style.display = '';
    //          document.getElementById("regionDateTo").style.display = '';
    //        }
    //});

    //sagor date picker end

    function LoadAnnouncement()
    {
        var sNotice='';
        for(var i=0;i<_oNotices.length;i++){
            sNotice = sNotice +'<div class="div-region-notice-warpper">';
            sNotice = sNotice + '<div class="notice-title"> <a href="#" class="linkStyler" onclick="NoticeView('+_oNotices[i].NoticeID+')"> '+ _oNotices[i].Title +'</a></div>';
            sNotice = sNotice + '<div class="notice-short-info">'+ _oNotices[i].DescriptionSummary+'</div>';
            sNotice = sNotice + '<div class="notice-posted-info">Posted By: '+ _oNotices[i].PostedBy +" on date "+ _oNotices[i].IssueDateInStr +'</div>';
            sNotice = sNotice + '</div>';
        }

        $( "#announcement" ).append(sNotice);
    }

    function NoticeView(nNoticeID){
        var oNotice={
            NoticeID:nNoticeID
        }
        var obj =
            {
                BaseAddress: _sBaseAddress,
                Object: oNotice,
                ControllerName: "Notice",
                ActionName: "Get",
                IsWinClose: false
            };

        $.icsDataGet(obj, function (response) {

            if (response.status && response.obj != null) {
                if (response.obj.NoticeID > 0) {

                    $("#popuplblTitle").html(response.obj.Title);
                    $("#popuplblDescription").html(response.obj.Description);

                    $("#WinPopUp").icsWindow("open");
                }
                else { response.obj.ErrorMessage; }
            }
        });
    }
    $(document).keydown(function (e) { if (e.keyCode == 27) { $('#div').icsWindow('close'); } });

    $("#btnDepartment").click(function () {
        DepartmentPicker();
    });

    $("#txtDepartment").keypress(function (e) {
        var code = (e.keyCode ? e.keyCode : e.which);

        if (code == 13)//Enter key-13
        {
            DepartmentPicker();
        }
    });

    function DepartmentPicker()
    {
        $("#winDepartmentPicker").icsWindow('open');
        var oDepartment = {DepartmentID:0}
        $.ajax({
            type: "POST",
            dataType: "json",
            url: _sBaseAddress + "/Department/GetsDepartments",
            traditional: true,
            data: JSON.stringify({oDepartment:oDepartment}),
            contentType: "application/json; charset=utf-8",

            success: function(data)
            {
                var oD =[];
                oD = jQuery.parseJSON(data);
                if (oD != null) {
                    $('#Dtree').tree({
                        data: [oD]
                    });
                }
            },
            error: function(xhr, status, error)
            {
                alert(error);
            }
        });
    }

    $("#btnDepartmentPickerOk").click(function () {
        debugger
        var oSelectedDepartments = $('#Dtree').tree('getChecked');
        if (oSelectedDepartments.length<=0) {
            alert("please Check a Department");
            return;
        }

        for(var i=0; i<oSelectedDepartments.length; i++)
        {
            _sDepartmentNames+=oSelectedDepartments[i].text+",";
            _sDepartmentIds+=oSelectedDepartments[i].id+",";
        }
        _sDepartmentNames=_sDepartmentNames.substring(0,_sDepartmentNames.length-1);
        _sDepartmentIds=_sDepartmentIds.substring(0,_sDepartmentIds.length-1);
        $("#txtDepartment").val(_sDepartmentNames);
        $("#winDepartmentPicker").icsWindow('close');

    });

    $("#btnDepartmentPickerClose").click(function () {
        $("#winDepartmentPicker").icsWindow('close');
    });


    var bToPPresent = false;
    var bToPAbsent = false;
    var bToPEL = false;
    var bToPLate = false;
    var bToPLeave = false;

    function IsChecked()
    {
        bToPPresent = $('#chkTopPresent').is(':checked');
        bToPAbsent  = $('#chkTopAbsent').is(':checked');
        bToPEL = $('#chkTopEarlyLeave').is(':checked');
        bToPLate= $('#chkTopLate').is(':checked');
        bToPLeave = $('#chkTopLeave').is(':checked');
    }

    function SetChecked(bToPPresent,bTopAbsent,bToPEL,bToplate,bTopleave)
    {

        $("#chkTopPresent").prop("checked",bToPPresent);
        $("#chkTopAbsent").prop("checked",bTopAbsent);
        $("#chkTopEarlyLeave").prop("checked",bToPEL);
        $("#chkTopLate").prop("checked",bToplate);
        $("#chkTopLeave").prop("checked",bTopleave);
    }

    $('#chkTopPresent').click(function (e)
    {
        IsChecked();
        if(bToPPresent==true)
        {
            SetChecked(bToPPresent,false,false,false,false);
            var n = _oAttendanceDaily.AttendanceSummery_Lists.length;
            var list =[];
            list = _oAttendanceDaily.AttendanceSummery_Lists;
            var isSorted = false;
            while(!isSorted) {
                var tmp, i;
                isSorted = true;
                for (i = 0; i < n-1; i++) {
                    if (list[i].TotalPresent < list[i+1].TotalPresent) {
                        tmp = list[i];
                        list[i] = list[i+1];
                        list[i+1] = tmp;
                        isSorted = false;
                    }
                }
            }
            RefreshList(list);
        }
        else
        {
            SetChecked(bToPPresent,false,false,false,false);
            RefreshList(_oAttendanceDaily.AttendanceSummery_Lists);
        }
    });

    $('#chkTopAbsent').click(function (e)
    {
        IsChecked();
        if(bToPAbsent==true)
        {
            SetChecked(false,bToPAbsent,false,false,false);
            var n = _oAttendanceDaily.AttendanceSummery_Lists.length;
            var list =[];
            list = _oAttendanceDaily.AttendanceSummery_Lists;
            var isSorted = false;
            while(!isSorted) {
                var tmp, i;
                isSorted = true;
                for (i = 0; i < n-1; i++) {
                    if (list[i].TotalAbsent < list[i+1].TotalAbsent) {
                        tmp = list[i];
                        list[i] = list[i+1];
                        list[i+1] = tmp;
                        isSorted = false;
                    }
                }
            }
            RefreshList(list);
        }
        else
        {
            SetChecked(false,bToPAbsent,false,false,false);
            RefreshList(_oAttendanceDaily.AttendanceSummery_Lists);
        }
    });

    $('#chkTopEarlyLeave').click(function (e)
    {
        IsChecked();
        if(bToPEL==true)
        {
            SetChecked(false,false,bToPEL,false,false);
            var n = _oAttendanceDaily.AttendanceSummery_Lists.length;
            var list =[];
            list = _oAttendanceDaily.AttendanceSummery_Lists;
            var isSorted = false;
            while(!isSorted) {
                var tmp, i;
                isSorted = true;
                for (i = 0; i < n-1; i++) {
                    if (list[i].TotalEarlyLeave < list[i+1].TotalEarlyLeave) {
                        tmp = list[i];
                        list[i] = list[i+1];
                        list[i+1] = tmp;
                        isSorted = false;
                    }
                }
            }
            RefreshList(list);
        }
        else
        {
            SetChecked(false,false,bToPEL,false,false);
            RefreshList(_oAttendanceDaily.AttendanceSummery_Lists);
        }
    });

    $('#chkTopLate').click(function (e)
    {
        IsChecked();
        if(bToPLate==true)
        {
            SetChecked(false,false,false,bToPLate,false);
            var n = _oAttendanceDaily.AttendanceSummery_Lists.length;
            var list =[];
            list = _oAttendanceDaily.AttendanceSummery_Lists;
            var isSorted = false;
            while(!isSorted) {
                var tmp, i;
                isSorted = true;
                for (i = 0; i < n-1; i++) {
                    if (list[i].TotalLate < list[i+1].TotalLate) {
                        tmp = list[i];
                        list[i] = list[i+1];
                        list[i+1] = tmp;
                        isSorted = false;
                    }
                }
            }
            RefreshList(list);
        }
        else
        {
            SetChecked(false,false,false,bToPLate,false);
            RefreshList(_oAttendanceDaily.AttendanceSummery_Lists);
        }
    });


    $('#chkTopLeave').click(function (e)
    {
        IsChecked();
        if(bToPLeave==true)
        {
            SetChecked(false,false,false,false,bToPLeave);
            var n = _oAttendanceDaily.AttendanceSummery_Lists.length;
            var list =[];
            list = _oAttendanceDaily.AttendanceSummery_Lists;
            var isSorted = false;
            while(!isSorted) {
                var tmp, i;
                isSorted = true;
                for (i = 0; i < n-1; i++) {
                    if (list[i].TotalLeave < list[i+1].TotalLeave) {
                        tmp = list[i];
                        list[i] = list[i+1];
                        list[i+1] = tmp;
                        isSorted = false;
                    }
                }
            }
            RefreshList(list);
        }
        else
        {
            SetChecked(false,false,false,false,bToPLeave);
            RefreshList(_oAttendanceDaily.AttendanceSummery_Lists);
        }
    });

    $('#chkPercentView').click(function (e)
    {
        if(document.getElementById('chkPercentView').checked==true)
        {
            document.getElementById('chkCountView').checked=false
        }
    });

    $('#chkCountView').click(function (e)
    {
        if(document.getElementById('chkCountView').checked==true)
        {
            document.getElementById('chkPercentView').checked=false
        }
    });

    function PreparePieChart(oAttendanceSummery)
    {
        debugger;
        if(oAttendanceSummery.PresentPercent==0&&oAttendanceSummery.AbsentPercent==0&&oAttendanceSummery.LeavePercent==0&&oAttendanceSummery.EarlyLeavePercent==0&&oAttendanceSummery.LatePercent==0)
            {
            var data = [
                     { label: "Att. is not processed today!!", data: 100, color: "#D8D8D8" },

            ];

            var options = {
                series: {
                    pie: {
                        show: true,
                        radius:1,
                        label: {
                            show: true,
                            radius: 2 / 3,
                            formatter: function (label, series) {
                                return '<div style="font-size:11px ;text-align:center; padding:2px; color:white;"></div>';
                            },
                            threshold: 0.1
                        }
                    }
                },
                legend: {
                    show: true
                }
            };
        }
        else
        {
            var data = [
                       { label: "Present", data: oAttendanceSummery.PresentPercent, color: "#CC9900" },
                       { label: "Absent", data: oAttendanceSummery.AbsentPercent, color: "#FF0000" },
                       { label: "Leave", data: oAttendanceSummery.LeavePercent, color: "#D8D8D8" },
                       { label: "Er.L", data: oAttendanceSummery.EarlyLeavePercent, color: "#7B68EE" },
                       { label: "Late", data: oAttendanceSummery.LatePercent, color: "#7CFC00" }

            ];
            var options = {
                series: {
                    pie: {
                        show: true,
                        radius:1,
                        label: {
                            show: true,
                            radius: 2 / 3,
                            formatter: function (label, series) {
                                return '<div style="font-size:11px ;text-align:center; padding:2px; color:white;">' + label + '<br/>' +series.percent.toFixed(2) + '%</div>';
                            },
                            threshold: 0.1
                        }
                    }
                },
                legend: {
                    show: false
                }
            };
        }
        $.plot($("#placeholder"), data, options);
    }
    //reference
    //http://www.flotcharts.org/
    //http://www.pikemere.co.uk/blog/flot-how-to-create-pie-charts/

    function PrepareGraph(oAttendanceSummery)
    {
        //document.getElementById('Present-Graph').innerHTML  = "<div style='width:"+oAttendanceSummery.PresentPercent*1.4+"px;height:17px; background-color:#CC9900;margin:1px 0px 0px 1px;margin-left:0px;'></div>";
        //document.getElementById('Absent-Graph').innerHTML  = "<div style='width:"+oAttendanceSummery.AbsentPercent*1.4+"px;height:17px; background-color:#FF0000;margin:1px 0px 0px 1px;margin-left:0px;'></div>";
        //document.getElementById('Leave-Graph').innerHTML  = "<div style='width:"+oAttendanceSummery.LeavePercent*1.4+"px;height:17px; background-color:#D8D8D8;margin:1px 0px 0px 1px;margin-left:0px;'></div>";
        //document.getElementById('ErLeave-Graph').innerHTML  = "<div style='width:"+oAttendanceSummery.EarlyLeavePercent*1.4+"px;height:17px; background-color:#7B68EE;margin:1px 0px 0px 1px;margin-left:0px;'></div>";
        //document.getElementById('Late-Graph').innerHTML  = "<div style='width:"+oAttendanceSummery.LatePercent*1.4+"px;height:17px; background-color:#7CFC00;margin:1px 0px 0px 1px;margin-left:0px;'></div>";

        
        document.getElementById('Present-Graph').innerHTML  = "<div style='width:"+oAttendanceSummery.PresentPercent*1.4+"px;height:17px; background-color:#CC9900;margin:1px 0px 0px 1px;margin-left:0px;'></div>";
        document.getElementById('Absent-Graph').innerHTML  = "<div style='width:"+oAttendanceSummery.AbsentPercent*1.4+"px;height:17px; background-color:#FF0000;margin:1px 0px 0px 1px;margin-left:0px;'></div>";
        document.getElementById('Leave-Graph').innerHTML  = "<div style='width:"+oAttendanceSummery.LeavePercent*1.4+"px;height:17px; background-color:#D8D8D8;margin:1px 0px 0px 1px;margin-left:0px;'></div>";
        document.getElementById('ErLeave-Graph').innerHTML  = "<div style='width:"+oAttendanceSummery.EarlyLeavePercent*1.4+"px;height:17px; background-color:#7B68EE;margin:1px 0px 0px 1px;margin-left:0px;'></div>";
        document.getElementById('Late-Graph').innerHTML  = "<div style='width:"+oAttendanceSummery.LatePercent*1.4+"px;height:17px; background-color:#7CFC00;margin:1px 0px 0px 1px;margin-left:0px;'></div>";

        document.getElementById('PresentPercent').innerHTML=oAttendanceSummery.PresentPercent.toFixed(2)+"%";
        document.getElementById('AbsentPercent').innerHTML=oAttendanceSummery.AbsentPercent.toFixed(2)+"%";
        document.getElementById('LeavePercent').innerHTML=oAttendanceSummery.LeavePercent.toFixed(2)+"%";
        document.getElementById('ErLeavePercent').innerHTML=oAttendanceSummery.EarlyLeavePercent.toFixed(2)+"%";
        document.getElementById('LatePercent').innerHTML=oAttendanceSummery.LatePercent.toFixed(2)+"%";

    }

    $('#btnCDepartment').click(function (e)
    {
        document.getElementById("txtDepartment").value = "" ;
        _sDepartmentIds = "" ;
        _sDepartmentNames = "";
    });

    $('#txtEmployeeNameCode').keypress(function (e)
    {
        debugger;
        var code = (e.keyCode ? e.keyCode : e.which);
        var sEmpCode=document.getElementById("txtEmployeeNameCode").value;
        var nDepartmentID=0;
        if (code == 13)//Enter key-13
        {
            if(sEmpCode=="")
            {
                alert("Please Enter Code !");
                return;
            }
            var oEmployee = { Params: sEmpCode+ '~' +nDepartmentID};
            var obj = {
                BaseAddress: _sBaseAddress,
                Object: oEmployee,
                ControllerName: "Employee",
                ActionName: "GetsByEmpCode",
                IsWinClose: false
            };
            $.icsDataGets(obj, function (response) {

                if (response.status && response.objs.length > 0) {
                    if (response.objs[0].EmployeeID > 0) {
                        debugger
                        var tblColums = [];var oColumn = { field: "Code", title: "Code", width: 120, align: "left" };tblColums.push(oColumn);
                        oColumn = { field: "Name", title: "Name", width: 150, align: "left" };tblColums.push(oColumn);
                        oColumn = { field: "DepartmentName", title: "Department", width: 140, align: "left" };tblColums.push(oColumn);
                        oColumn = { field: "DesignationName", title: "Designation", width: 140, align: "left" };tblColums.push(oColumn);
                        var oPickerParam = {
                            winid: 'winEmpPicker',
                            winclass:'clsEmpPicker',
                            winwidth: 600,
                            winheight: 460,
                            tableid: 'tblEmps',
                            tablecolumns: tblColums,
                            datalist: response.objs,
                            multiplereturn: false,
                            searchingbyfieldName:'Name',
                            windowTittle: 'Employee List'
                        };

                        $.icsPicker(oPickerParam);
                        IntializeEmpPickerbutton(oPickerParam);//multiplereturn, winclassName

                    }
                    else { alert(response.objs[0].ErrorMessage); }
                }
            });
        }
    });

    function IntializeEmpPickerbutton(oPickerobj)
    {
        $("#" + oPickerobj.winid).find("#btnOk").click(function () {

            var oreturnObj = $('#'+oPickerobj.tableid).datagrid('getSelected');
            $("#"+oPickerobj.winid).icsWindow("close");
            $("#" + oPickerobj.winid).remove();
            if (oPickerobj.winid == 'winEmpPicker')
            {
                if (oreturnObj != null && oreturnObj.EmployeeID > 0)
                {
                    bCopyFromOther = true;
                    var txtEmployeeName = document.getElementById("txtEmployeeNameCode");
                    txtEmployeeName.value = oreturnObj.Name;
                    txtEmployeeName.style.color = "blue";
                    txtEmployeeName.style.fontWeight = "bold";
                    _nEmployeeID = oreturnObj.EmployeeID;

                }
            }
        });

        $(document).find('.' +oPickerobj.winclass).keydown(function (e) {
            if (e.which == 13)//enter=13
            {
                var oreturnObj = $('#'+oPickerobj.tableid).datagrid('getSelected');
                $("#"+oPickerobj.winid).icsWindow("close");
                $("#" + oPickerobj.winid).remove();

                if (oPickerobj.winclass == 'clsEmpPicker')
                {

                    if (oreturnObj != null && oreturnObj.EmployeeID > 0)
                    {
                        bCopyFromOther = true;
                        var txtEmployeeName = document.getElementById("txtEmployeeNameCode");
                        txtEmployeeName.value = oreturnObj.Name;
                        txtEmployeeName.style.color = "blue";
                        txtEmployeeName.style.fontWeight = "bold";
                        _nEmployeeID = oreturnObj.EmployeeID;
                    }
                }
            }
        });
    }

    $('#btnDateSearch').click(function()
    {

        //var DateFrom = $('#dtStartDate').datebox('getValue');
        //var DateTo = $('#dtEndDate').datebox('getValue');

        if(!ValidationOfStartTime())return;
        if(!ValidationOfEndTime())return;
        var DateFrom=GenerateStartTimeInString();
        var DateTo =GenerateEndTimeInString();

        $.ajax({
            type: "POST",
            dataType: "json",
            url: _sBaseAddress + "/Dashboard/AttendanceSummerySearch_Chart",
            traditional: true,
            data: JSON.stringify({DateFrom : DateFrom, DateTo : DateTo}),
            contentType: "application/json; charset=utf-8",

            success: function(data)
            {

                var oAttendanceSummery = jQuery.parseJSON(data);
                if (oAttendanceSummery.ErrorMessage=="")
                {
                    PrepareGraph(oAttendanceSummery);
                    PreparePieChart(oAttendanceSummery);

                }
                else
                {
                    alert(oAttendanceSummery.ErrorMessage);

                }

            },
            error: function(xhr, status, error)
            {
                alert(error);
            }
        });
        TotalEmpDet(DateFrom,DateTo);
    });

    function TotalEmpDet(DateFrom,DateTo)
    {
        $.ajax({
            type: "POST",
            dataType: "json",
            url: _sBaseAddress + "/Dashboard/GetTotalEmployeeDetail",
            traditional: true,
            data: JSON.stringify({DateFrom : DateFrom, DateTo : DateTo}),
            contentType: "application/json; charset=utf-8",

            success: function(data)
            {
                _oTotalEmployeeDetails= jQuery.parseJSON(data);
                if (_oTotalEmployeeDetails.length>0)
                {
                    //LoadTotalEmployeeDetail();
                    DynamicRefreshList(_oTotalEmployeeDetails, "tblTotalEmployee");
                    AppendTotalEmployees();
                }
                //else
                //{
                //    alert(_oTotalEmployeeDetail.ErrorMessage);
                //}
            },
            error: function(xhr, status, error)
            {
                alert(error);
            }
        });
    }


    $('#btnDateSearch_Reset').click(function()
    {
        SetDateTime();
        var oDate=new Date();
        SetStartTime(oDate);
        SetEndTime(oDate);
        //$('#dtStartDate').datebox('setValue',icsdateformat(new Date()));
        //$('#dtEndDate').datebox('setValue',icsdateformat(new Date()));
    });

    $('#btnEmployeeSearch_Reset').click(function()
    {
        $('#dtStartDate-Join').datebox('setValue',icsdateformat(new Date()));
        $('#dtEndDate-Join').datebox('setValue',icsdateformat(new Date()));
        $("#txtDepartment").val("");
        _sDepartmentIds = "" ;
        _sDepartmentNames = "";
        _nEmployeeID = 0;
        $("#txtEmployeeNameCode")[0].value="";
        document.getElementById("chkDateofJoin").checked = false;
    });

    function LoadSession(oACSs)
    {
        var listItems="";
        for (i = 0; i < oACSs.length; i++)
        {
            listItems += "<option value='" + oACSs[i].ACSID+"'>" + oACSs[i].Session+"</option>";
        }
        $("#cboSession").html(listItems);
    }

    function RefreshList(oAttendanceSummerylists)
    {
        data = oAttendanceSummerylists;
        data = { "total": "" + data.length + "", "rows": data };
        $('#tblAttendanceSummery_Lists').datagrid('loadData', data);
    }

    function SearchWithPasignation()
    {
        debugger
        if(!_bNext)
        {
            _nRowLength = 0;
            _nLastEmpID = 0;
        }
        _nLoadRecords = document.getElementById("txtTo").value;
        if(document.getElementById("chkRange").checked == true)
        {
            var RangeFrom = 0;
            var RangeTo = 0;
            RangeFrom = parseFloat(document.getElementById("txtFrom").value);
            RangeTo = parseFloat(document.getElementById("txtTo").value);

            if(RangeFrom > RangeTo)
            {
                alert("Invalid Range !");
                return;
            }
            _nRowLength = 0;
            _nLoadRecords = 0;

            _nRowLength = RangeFrom-1;
            _nLoadRecords = RangeTo - RangeFrom +1;

        }

        var DateFrom = "01/01/1900";
        var DateTo = icsdateformat(new Date());
        var IsDateOfJoin = document.getElementById("chkDateofJoin").checked;
        var DateOfJoinFrom = $('#dtStartDate-Join').datebox('getValue');
        var DateOfJoinTo = $('#dtEndDate-Join').datebox('getValue');
        //var IsDateOfBirth = document.getElementById("chkDateofBirth").checked;
        //var DateOfBirthFrom = $('#dtStartDate-Birth').datebox('getValue');
        //var DateOfBirthTo = $('#dtEndDate-Birth').datebox('getValue');

        var sParams = _nEmployeeID+"~"+_sDepartmentIds+"~"+DateFrom+"~"+DateTo+"~"+IsDateOfJoin+"~"+DateOfJoinFrom+"~"+DateOfJoinTo+"~"+false+"~"+DateTo+"~"+DateTo+"~"+_nLoadRecords+"~"+_nRowLength;

        $.ajax({
            type: "POST",
            dataType: "json",
            url: _sBaseAddress + "/Dashboard/AttendanceSummerySearch_List",
            traditional: true,
            data: JSON.stringify({sParams:sParams}),
            contentType: "application/json; charset=utf-8",

            success: function(data)
            {
                var oASLs =[];
                oASLs = jQuery.parseJSON(data);
                if(oASLs.length>0 && oASLs[0].ErrorMessage=="")
                {
                    if(_bNext)
                    {
                        for (var j = 0; j < oDAPs.length; j++)
                        {
                            $('#tblAttendanceSummery_Lists').datagrid('appendRow',oASLs[j]);
                        }
                    }
                    else
                    {
                        RefreshList(oASLs);
                    }
                }
                else
                {
                    if(_bNext == false)
                    {
                        alert("Data not found !!");
                        oASLs=[];
                        RefreshList(oASLs);
                    }
                    else
                    {
                        alert("No more data found !");
                    }
                }
                var oAttendanceSummerys=$('#tblAttendanceSummery_Lists').datagrid('getRows');
                document.getElementById("lblcount").innerHTML = " | Count ="+ oAttendanceSummerys.length;
                _bNext = false;
            },
            error: function(xhr, status, error)
            {
                alert(error);
            }
        });

    };

    function Next()
    {
        var oASLs =[];
        oASLs=$('#tblAttendanceSummery_Lists').datagrid('getRows');
        _nRowLength = oASLs.length;
        _bNext = true;

        if (oASLs.length<=0)
        {
            alert('Please Select Criteria and click on "Search" to find information.!!');
            return;
        }
        var oASL = oASLs[oASLs.length-1];

        if (_nLastEmpID==oASL.EmployeeID)
        {
            alert('No more data found by this date range');
            return;
        }
        _nLastEmpID=oASL.EmployeeID;
        SearchWithPasignation();
    }

    //$('#btnMailSend').click(function()
    //{
    //    debugger
    //    var MailTo = $("#txtMailTo").val();
    //    var MailSubject = $("#txtMailSubject").val();
    //    var MailBody = $("#txtMailBody").val();

    //    if(MailTo=="")
    //    {
    //        alert("Please enter mail !");
    //        return;
    //    }
    //    if(MailBody=="")
    //    {
    //        alert("Please enter mail body !");
    //        return;
    //    }

    //    $.ajax({
    //        type: "POST",
    //        dataType: "json",
    //        url: _sBaseAddress + "/Dashboard/MailSendFromAttendanceDashBoard",
    //        traditional: true,
    //        data: JSON.stringify({MailSubject:MailSubject,MailBody:MailBody,sMailTo:MailTo,}),
    //        contentType: "application/json; charset=utf-8",
    //        success: function(data)
    //        {
    //            var oAttendanceDaily = jQuery.parseJSON(data);
    //            alert(oAttendanceDaily.ErrorMessage);
    //        },
    //        error: function(xhr, status, error)
    //        {
    //            alert(error);
    //        }
    //    });

    //});

    function LoadPerformanceChart(oList1,oList2,oList3)
    {

        var oYear1 = [];
        var oYear2 = [];
        var oYear3 = [];

        var oGraphTicks=[];
        var oDataPoint=[]; var x=0; var y=0;
        var oTickPoint=[]; var xx=0; var yy="";

        oDataPoint.push(0);
        oDataPoint.push(0)
        oYear1.push(oDataPoint);

        oDataPoint=[];
        oDataPoint.push(0);
        oDataPoint.push(0)
        oYear2.push(oDataPoint);

        oDataPoint=[];
        oDataPoint.push(0);
        oDataPoint.push(0)
        oYear3.push(oDataPoint);

        oTickPoint.push(0);
        oTickPoint.push('');
        oGraphTicks.push(oTickPoint);

        for(var i=0; i<oList1.length; i++)
        {
            oDataPoint=[];
            x = i+1;
            y = oList1[i].PresentPercent;
            oDataPoint.push(x);
            oDataPoint.push(y);
            oYear1.push(oDataPoint);

            oTickPoint=[];
            xx = i+1;
            yy = oList1[i].MonthInString;
            oTickPoint.push(xx);
            oTickPoint.push(yy);
            oGraphTicks.push(oTickPoint);
        }

        for(var i=0; i<oList2.length; i++)
        {
            oDataPoint=[];
            x = i+1;
            y = oList2[i].PresentPercent;
            oDataPoint.push(x);
            oDataPoint.push(y);
            oYear2.push(oDataPoint);
        }

        for(var i=0; i<oList3.length; i++)
        {
            oDataPoint=[];
            x = i+1;
            y = oList3[i].PresentPercent;
            oDataPoint.push(x);
            oDataPoint.push(y);
            oYear3.push(oDataPoint);
        }

        var options = {
            series: {
                lines: {
                    show: true
                }
            },

            bars: {
                align: "center",
                barWidth: 0.5
            },

            points: { show: true },
            xaxis: {
                axisLabel: "Month",
                axisLabelUseCanvas: true,
                axisLabelFontSizePixels: 12,
                axisLabelFontFamily: 'Verdana, Arial',
                axisLabelPadding: 10,
                ticks: oGraphTicks

            },

            yaxis: {
                axisLabel: "Present Percent",
                position: "left",
                axisLabelUseCanvas: false,
                axisLabelFontSizePixels: 12,
                axisLabelFontFamily: 'Verdana, Arial',
                axisLabelPadding: 3,
                max:100,
                tickFormatter: function (v, axis) {
                    return numberformat(v);
                }
            },

            legend: {
                noColumns: 0,
                labelBoxBorderColor: "#000000",
                position: "nw"
            },

            grid: {
                hoverable: true,
                borderWidth: 2,
                backgroundColor: { colors: ["#ffffff", "#EDF5FF"]
                }
            }
        };

                var oGraphDataSet = [
                        { label: oList1[0].YearInString, data: oYear1  , color: "#291BF5" },
                        { label: oList2[0].YearInString, data: oYear2, color: "#A4472A" },
                        { label: oList3[0].YearInString, data: oYear3, color: "#37D6A1" }
                ];

        _AttPlot = null;
        _AttPlot = $.plot($("#PerformanceGraph"), oGraphDataSet, options);
        $.plot($("#PerformanceGraph"), oGraphDataSet, options);
        $("#PerformanceGraph").UseTooltip();
        SetPoint();
    }

    function SetPoint()
    {
        debugger;
        var Year1Context = _AttPlot.getCanvas().getContext("2d");
        var Year2Context = _AttPlot.getCanvas().getContext("2d");
        var Year3Context = _AttPlot.getCanvas().getContext("2d");
        var oYear1s = _AttPlot.getData()[0].data;
        var oYear2s = _AttPlot.getData()[1].data;
        var oYear3s = _AttPlot.getData()[2].data;
        var xaxis = _AttPlot.getXAxes()[0];
        var yaxis = _AttPlot.getYAxes()[0];

        var offset = _AttPlot.getPlotOffset();
        Year1Context.font = "12px 'Tahoma'";

        for (var i = 0; i <oYear1s.length; i++)
        {
            Year1Context.fillStyle = "Blue";
            var year1Text = parseInt(oYear1s[i][1]) + '';
            var Year1Metrics = Year1Context.measureText(year1Text);
            var xPos = (xaxis.p2c(oYear1s[i][0])+offset.left) - Year1Metrics.width/2;
            var yPos = yaxis.p2c(oYear1s[i][1]) + offset.top - 5;
            Year1Context.fillText(year1Text, xPos, yPos);
        }
        for (var i = 0; i <oYear2s.length; i++)
        {
            Year2Context.fillStyle = "Maroon";
            var Year2text = parseInt(oYear2s[i][1]) + '';
            var Year2textmetrics = Year2Context.measureText(Year2text);
            var xPos = (xaxis.p2c(oYear2s[i][0])+offset.left) - Year2textmetrics.width/2;
            var yPos = yaxis.p2c(oYear2s[i][1]) + offset.top - 5;
            Year2Context.fillText(Year2text, xPos, yPos);
        }
        for (var i = 0; i <oYear3s.length; i++)
        {
            Year3Context.fillStyle = "Green";
            var Year3Text =parseInt(oYear3s[i][1]) + '';
            var Year3metrics = Year3Context.measureText(Year3Text);
            var xPos = (xaxis.p2c(oYear3s[i][0])+offset.left) - Year3metrics.width/2;
            var yPos = yaxis.p2c(oYear3s[i][1]) + offset.top - 5;
            Year3Context.fillText(Year3Text, xPos, yPos);
        }
    }

    var previousPoint = null, previousLabel = null;
    $.fn.UseTooltip = function () {
        $(this).bind("plothover", function (event, pos, item) {
            if (item) {
                if ((previousLabel != item.series.label) || (previousPoint != item.dataIndex)) {
                    previousPoint = item.dataIndex;
                    previousLabel = item.series.label;
                    $("#tooltip").remove();

                    var x = item.datapoint[0];
                    var y = item.datapoint[1];
                    nValue = false;
                    var color = item.series.color;

                    showTooltip(item.pageX,
                        item.pageY,
                        color,
                        "<strong>" + item.series.label + "</strong><br>" + item.series.xaxis.ticks[x].label+ " : <strong>" + numberformat(y) + "</strong>");
                }
            } else {
                $("#tooltip").remove();
                previousPoint = null;
            }
        });
    };

    function showTooltip(x, y, color, contents) {
        $('<div id="tooltip">' + contents + '</div>').css({
            position: 'absolute',
            display: 'none',
            top: y+5,
            left: x+5,
            border: '2px solid ' + color,
            padding: '3px',
            'font-size': '9px',
            'border-radius': '5px',
            'background-color': '#fff',
            'font-family': 'Verdana, Arial, Helvetica, Tahoma, sans-serif',
            opacity: 0.9
        }).appendTo("body").fadeIn(200);
    }

    function numberformat(val) {
        if (val == null) {
            val = 0;
        }
        val = parseFloat(val);
        var test = val.toFixed();
        var tests = addComma(test);
        return tests;
    }

    function addComma(nStr) {
        nStr += '';
        x = nStr.split('.');
        x1 = x[0];
        x2 = x.length > 1 ? '.' + x[1] : '';
        var process = /(\d+)(\d{3})/;
        while (process.test(x1)) {
            x1 = x1.replace(process, '$1' + ',' + '$2');
        }
        return x1 + x2;
    }

    $('#chkBULocation').click(function(e)
    {
        if($('#chkBULocation').is(':checked'))
        {
            $('#tblTotalEmployee').datagrid('showColumn','BUName');
            $('#tblTotalEmployee').datagrid('showColumn','LocationName');
        }
        else
        {
            $('#tblTotalEmployee').datagrid('hideColumn','BUName');
            $('#tblTotalEmployee').datagrid('hideColumn','LocationName');
        }
    });

    function AppendTotalEmployees()
    {
        if(_oTotalEmployeeDetails.length>0)
        {
            var nGrandTotalEmp = 0;
            var nGrandTotalNewEmployee= 0;
            var nGrandTotalLeftyEmployee= 0;
            var nGrandTotalPFEmployee= 0;
            var nGrandTotalYetToPFEmployee= 0;
            var nGrandTotalGratuityEmployee= 0;
            var nGrandTotalMale= 0;
            var nGrandTotalFemale= 0;
            var nGrandTotalPermanent= 0;
            var nGrandTotalProbationary= 0;
            var nGrandTotalContractual= 0;
            var nGrandTotalSeasonal= 0;

            for(var i=0;i<_oTotalEmployeeDetails.length;i++)
            {
                nGrandTotalEmp = parseFloat(nGrandTotalEmp)+parseFloat(_oTotalEmployeeDetails[i].TotalEmp);
                nGrandTotalNewEmployee = parseFloat(nGrandTotalNewEmployee)+parseFloat(_oTotalEmployeeDetails[i].NewEmployee);
                nGrandTotalLeftyEmployee = parseFloat(nGrandTotalLeftyEmployee)+parseFloat(_oTotalEmployeeDetails[i].LeftyEmployee);
                nGrandTotalPFEmployee = parseFloat(nGrandTotalPFEmployee)+parseFloat(_oTotalEmployeeDetails[i].PFEmployee);
                nGrandTotalGratuityEmployee = parseFloat(nGrandTotalGratuityEmployee)+parseFloat(_oTotalEmployeeDetails[i].GratuityEmployee);
                nGrandTotalMale = parseFloat(nGrandTotalMale)+parseFloat(_oTotalEmployeeDetails[i].Male);
                nGrandTotalFemale = parseFloat(nGrandTotalFemale)+parseFloat(_oTotalEmployeeDetails[i].Female);
                nGrandTotalPermanent = parseFloat(nGrandTotalPermanent)+parseFloat(_oTotalEmployeeDetails[i].Permanent);
                nGrandTotalProbationary = parseFloat(nGrandTotalProbationary)+parseFloat(_oTotalEmployeeDetails[i].Probationary);
                nGrandTotalContractual = parseFloat(nGrandTotalContractual)+parseFloat(_oTotalEmployeeDetails[i].Contractual);
                nGrandTotalSeasonal = parseFloat(nGrandTotalSeasonal)+parseFloat(_oTotalEmployeeDetails[i].Seasonal);

            }
            var oObj =
            {
                BUName : '',
                LocationName : '',
                DepartmentName : '<b>Total</b>',
                TotalEmp : '<b>'+nGrandTotalEmp+'</b>',
                NewEmployee: '<b>'+nGrandTotalNewEmployee+'</b>',
                LeftyEmployee: '<b>'+nGrandTotalLeftyEmployee+'</b>',
                PFEmployee: '<b>'+nGrandTotalPFEmployee+'</b>',
                YetToPFEmployee: '<b>'+nGrandTotalYetToPFEmployee+'</b>',
                GratuityEmployee: '<b>'+nGrandTotalGratuityEmployee+'</b>',
                Male: '<b>'+nGrandTotalMale+'</b>',
                Female: '<b>'+nGrandTotalFemale+'</b>',
                Permanent: '<b>'+nGrandTotalPermanent+'</b>',
                Probationary: '<b>'+nGrandTotalProbationary+'</b>',
                Contractual: '<b>'+nGrandTotalContractual+'</b>',
                Seasonal: '<b>'+nGrandTotalSeasonal+'</b>'
            }

            $('#tblTotalEmployee').datagrid('appendRow',oObj); 
        } 
    }

</script>


