<html>
<head>
    @{
        ViewBag.Title = "Cheque Requisition";
    }
</head>
<body>
    @model ESimSol.BusinessObjects.ChequeRequisition
    <div id="progbarParent" style="width:100%;height:100%;margin:0 auto;text-align:center; margin-left: auto;margin-right: auto;left: 0;right: 0;z-index: 1;">
        <div style="margin: 0px auto;margin-top: 251px;text-align:center;width:390px;">
            <label style="font-size:18px;">Please wait</label>
            <div id="progbar" style="width:100%;height:37px;"></div>
        </div>
    </div>    
    <div class="menuMainCollectionTable">
        <div id="divChequeRequisition" class="easyui-panel" title="Cheque Requisition" style="font-family:Tahoma; text-align:center; height:88%; width:100%">
            <fieldset>
                <legend style="font-weight:bold">Requisition Informations : </legend>
                <table border="0" cellspacing="1" cellpadding="1" style="font-size:11px; font-weight:bold">
                    <tr>
                        <td style="width:10%; text-align:right">
                            Req No:
                        </td>
                        <td style="width:11%">
                            <input type="text" style="width:100%" id="txtRequisitionNo" disabled="disabled" />                            
                        </td>
                        <td style="width:8%; text-align:right">
                            B. Unit :
                        </td>
                        <td style="width:10%">
                            <select style="width:100%" id="cboBusinessUnit"> </select>
                        </td>
                        <td style="width:11%; text-align:right">
                            Req Date :
                        </td>
                        <td style="width:15%">
                            <input id="txtRequisitionDate" type="text" style="width:100%;" class="easyui-datebox" data-options="formatter:icsdateformat,parser:icsdateparser" />
                        </td>
                        <td style="width:10%; text-align:right;font-weight:bold">
                            Cheque Date :
                        </td>
                        <td style="width:25%;font-size:11px">
                            <input id="txtChequeDate" type="text" style="width:100%;" class="easyui-datebox" data-options="formatter:icsdateformat,parser:icsdateparser" />
                        </td>
                    </tr>  
                    <tr>
                        <td style="width:10%; text-align:right">
                            Subledger :
                        </td>
                        <td colspan="3" style="width:29%">
                            <table border="0" cellpadding="0" cellspacing="0" style="width:100%">
                                <tr>
                                    <td style="width:70%">
                                        <input type="text" style="width:100%" id="txtSubledger" placeholder="Search By Subledger Name" />
                                    </td>
                                    <td style="width:10%">
                                        <input type="button" style="width:100%" value="C" id="btnSubledgerClear" />
                                    </td>
                                    <td style="width:20%">
                                        <input type="button" style="width:100%" value="Pick" id="btnSubledgerPick" />
                                    </td>
                                </tr>
                            </table>
                        </td>                        
                        <td style="width:11%; text-align:right">
                            Pay To :
                        </td>
                        <td style="width:15%">
                            <select style="width:100%" id="cboPayTo"> </select>
                        </td>
                        <td style="width:10%; text-align:right;font-weight:bold">
                           Bank A/C :
                        </td>
                        <td style="width:25%;font-size:11px">
                            <table border="0" cellpadding="0" cellspacing="0" style="width:100%">
                                <tr>
                                    <td style="width:70%">
                                        <input type="text" style="width:100%" id="txtBankAccount" placeholder="Search By Bank A/C No" />
                                    </td>
                                    <td style="width:10%">
                                        <input type="button" style="width:100%" value="C" id="btnBankAccountClear" />
                                    </td>
                                    <td style="width:20%">
                                        <input type="button" style="width:100%" value="Pick" id="btnBankAccountPick" />
                                    </td>
                                </tr>
                            </table>
                        </td>
                    </tr>    
                    <tr>
                        <td style="width:10%; text-align:right">
                            Cheque Book :
                        </td>
                        <td colspan="3" style="width:29%">
                            <select style="width:100%" id="cboChequeBook"> </select>
                        </td>                        
                        <td style="width:11%; text-align:right">
                            Cheque Type:
                        </td>
                        <td style="width:15%">
                            <select style="width:100%" id="cboChequeType"> </select>
                        </td>
                        <td style="width:10%; text-align:right;font-weight:bold">
                            Cheque No :
                        </td>
                        <td style="width:25%;font-size:11px">
                            <table border="0" cellpadding="0" cellspacing="0" style="width:100%">
                                <tr>
                                    <td style="width:70%">
                                        <input type="text" style="width:100%" id="txtChequeNo" placeholder="Search By Cheque No" />
                                    </td>
                                    <td style="width:10%">
                                        <input type="button" style="width:100%" value="C" id="btnChequeClear" />
                                    </td>
                                    <td style="width:20%">
                                        <input type="button" style="width:100%" value="Pick" id="btnChequePick" />
                                    </td>
                                </tr>
                            </table>
                        </td>
                    </tr>
                    <tr>
                        <td style="width:10%; text-align:right">
                            Remarks :
                        </td>
                        <td colspan="5" style="width:55%">
                            <input type="text" style="width:99%" id="txtRemarks" />
                        </td>
                        <td style="width:10%; text-align:right;font-weight:bold">
                            Amount :
                        </td>
                        <td style="width:25%;font-size:11px">
                            <input type="text" style="width:97%; font-size:12px; font-weight:bolder; text-align:right" id="txtChequeAmount" disabled="disabled" value="0.00" />
                        </td>
                    </tr>
                </table>
            </fieldset>
            <div style="margin-left:2px; height:315px; margin-left:2px; width:99.80%">
                <table id="tblChequeRequisitionDetail" title="Bill List" class="easyui-datagrid" style="width:100%;height:315px"
                       data-options="singleSelect: true, fitColumns:false, rownumbers:true,pagination:false, autoRowHeight:false,toolbar: '#toolbar',onClickRow: onClickRow ">
                    <thead>
                        <tr>
                            <th field="BillNo" width="140" align="left">Bill No</th>
                            <th field="BillDateSt" width="120" align="left">Bill Date</th>
                            <th field="AccountHeadName" width="150" align="left">Account Head</th>                            
                            <th data-options="field:'Remarks',width:200,align:'left',editor:{type:'textbox'}">Remarks</th>
                            <th field="BillAmount" width="120" align="right" formatter="formatPrice">Bill Amount</th>
                            <th field="YetToChequeRequisition" width="120" align="right" formatter="formatPrice">Yet To Paind</th>
                            <th data-options="field:'Amount',width:120,align:'right',editor:{type:'numberbox',options:{precision:2}}" formatter="formatPrice" align="right">Amount</th>
                        </tr>
                    </thead>
                </table>
                <div id="toolbar" style=" height:25px">
                    <a id="btnPickBill" href="javascript:void(0)" class="easyui-linkbutton" iconcls="icon-search" plain="true">Pick Bills</a>
                    <a id="btnRemove" href="javascript:void(0)" class="easyui-linkbutton" iconcls="icon-remove" plain="true">Remove</a>
                    <a id="btnRefresh" href="javascript:void(0)" class="easyui-linkbutton" iconcls="icon-reload" plain="true">Refresh</a>
                </div>
            </div>
        </div>
        <fieldset style="height:8%">
            <legend style="font-weight: bold">Action : </legend>
            <table border="0" cellspacing="2" cellpadding="2" style="font-size: 11px; font-weight: bold; width:100%">
                <tr>
                    <td style="width:83%; text-align:right"></td>
                    <td style="width:17%;text-align:right;">
                        <a id="btnSave" href="javascript:void(0)" class="easyui-linkbutton" iconcls="icon-save" plain="true">Save</a>
                        <a id="btnClose" href="javascript:void(0)" class="easyui-linkbutton" iconcls="icon-cancel" plain="true">Close</a>
                    </td>
                </tr>
            </table>
        </fieldset>
    </div>
    <div id="winSubledger" class="easyui-window" title="Party List" data-options="modal:true,closed:true,collapsible:false,minimizable:false,maximizable:false,closable:false" style="width:700px;height:500px;padding:1px">
        <div style="margin-left:0px; width:100%; height:100%">
            <input type="text" id="txtSearchBySubledger" placeholder="Search By Party Name" style="width:99%" />
            <table id="tblSubledger" title="" class="easyui-datagrid" style="width:100%;height:380px" fit="false" fitcolumns="true" rownumbers="true" pagination="false" singleselect="true" autorowheight="false">
                <thead>
                    <tr>
                        <th field="Code" width="100">Code</th>
                        <th field="Name" width="350">Party Name</th>
                        <th field="DueAmountSt" width="150" align="right" formatter="FormatStyle">Amount</th>
                        <th field="CategoryName" width="200">Category</th>
                        <th field="OverDueDays" width="150">Due Days</th>
                    </tr>
                </thead>
            </table>
            <table border="0" cellpadding="1" cellspacing="1">
                <tr style="height:50px; vertical-align:middle;">
                    <td style="width:540px"></td>
                    <td style="width:80px; text-align:center"><a href="javascript:void(0)" class="easyui-linkbutton" iconcls="icon-ok" plain="true" id="btnOkSubledger">Ok</a> </td>
                    <td style="width:80px; text-align:center"><a href="javascript:void(0)" class="easyui-linkbutton" iconcls="icon-cancel" plain="true" id="btnSubledgerClose">Close</a> </td>
                </tr>
            </table>
        </div>
    </div>
</body>
</html>


<script type="text/javascript">
    $(document).ready(function () {
        var oChequeRequisition = @Html.Raw(new System.Web.Script.Serialization.JavaScriptSerializer().Serialize(Model));
        var oPaymentTypes = @Html.Raw(new System.Web.Script.Serialization.JavaScriptSerializer().Serialize(ViewBag.PaymentTypes));
        var oChequeBooks = @Html.Raw(new System.Web.Script.Serialization.JavaScriptSerializer().Serialize(ViewBag.ChequeBooks));
        var oIssueFigures = @Html.Raw(new System.Web.Script.Serialization.JavaScriptSerializer().Serialize(ViewBag.IssueFigures));
        var oBusinessUnits = @Html.Raw(new System.Web.Script.Serialization.JavaScriptSerializer().Serialize(ViewBag.BusinessUnits));

        $('#divChequeRequisition').data('ChequeRequisition', oChequeRequisition);
        $('#divChequeRequisition').data('PaymentTypes', oPaymentTypes);
        $('#divChequeRequisition').data('ChequeBooks', oChequeBooks);
        $('#divChequeRequisition').data('IssueFigures', oIssueFigures);
        $('#divChequeRequisition').data('BusinessUnits', oBusinessUnits);

        $('#txtChequeAmount').icsCurrencyBox();
        $("#progbar").progressbar({ value: 0 });
        $("#progbarParent").hide();
        RefreshControl(oChequeRequisition);
        RefreshLayOut(oChequeRequisition);
    });

    function updateProgress() {
        var value =$('#progbar').progressbar('getValue');
        if (value < 96){
            value += Math.floor(Math.random() * 10);
            $('#progbar').progressbar('setValue', value);
        }
    }

    function hideShow(miliseconds) {
        $("#progbarParent").hide();
    }

    function RefreshControl(oChequeRequisition)
    {
        RefreshCombobox();
        $('#txtRequisitionNo').val(oChequeRequisition.RequisitionNo);
        $('#cboBusinessUnit').val( parseInt(oChequeRequisition.BUID));
        $('#txtRequisitionDate').datebox('setValue', oChequeRequisition.RequisitionDateSt);        
        $('#txtSubledger').val(oChequeRequisition.SubledgerName);
        $('#cboPayTo').val(parseInt(oChequeRequisition.PayTo));
        $('#txtBankAccount').val(oChequeRequisition.AccountNo);
        $('#cboChequeBook').val(parseInt(oChequeRequisition.BankBookID));
        $('#cboChequeType').val(parseInt(oChequeRequisition.ChequeTypeInt));
        $('#txtChequeDate').datebox('setValue', oChequeRequisition.ChequeDateSt);
        $('#txtChequeNo').val(oChequeRequisition.ChequeNo);
        $('#txtRemarks').val(oChequeRequisition.Remarks);
        $('#txtChequeAmount').val(icsFormatPrice(parseFloat(oChequeRequisition.ChequeAmount)));
        RefreshList(oChequeRequisition.ChequeRequisitionDetails);
    }

    function RefreshCombobox()
    {
        var oPaymentTypes = $('#divChequeRequisition').data('PaymentTypes');
        var oChequeBooks = $('#divChequeRequisition').data('ChequeBooks');
        var oIssueFigures = $('#divChequeRequisition').data('IssueFigures');
        var oBusinessUnits = $('#divChequeRequisition').data('BusinessUnits');

        $("#cboChequeType").icsLoadCombo({List: oPaymentTypes, OptionValue: "id",DisplayText: "Value"});
        $("#cboChequeBook").icsLoadCombo({ List: oChequeBooks, OptionValue: "ChequeBookID", DisplayText: "BookCode" });
        $("#cboPayTo").icsLoadCombo({ List: oIssueFigures, OptionValue: "IssueFigureID", DisplayText: "ChequeIssueTo" });
        $("#cboBusinessUnit").icsLoadCombo({ List: oBusinessUnits, OptionValue: "BusinessUnitID", DisplayText: "ShortNameCode", InitialValue : "Custom" });
    }

    function RefreshLayOut(oChequeRequisition) {
        var sChequeRequisitionHeader = sessionStorage.getItem("ChequeRequisitionHeader");
        if (sChequeRequisitionHeader != "Add Cheque Requisition") {            
            $('#txtSubledger').css('color', 'blue');
            $('#txtSubledger').css('fontWeight', 'bold');

            $('#txtBankAccount').css('color', 'blue');
            $('#txtBankAccount').css('fontWeight', 'bold');

            $('#txtChequeNo').css('color', 'blue');
            $('#txtChequeNo').css('fontWeight', 'bold');
        }

        if (sChequeRequisitionHeader === "View Cheque Requisition") {
            $('#divChequeRequisition :input').prop('disabled', true);
            $("#txtRequisitionDate,#txtChequeDate").datebox({'disabled':true});
            $('#txtRequisitionDate').datebox('setValue', oChequeRequisition.RequisitionDateSt);
            $('#txtChequeDate').datebox('setValue', oChequeRequisition.ChequeDateSt);
            $("#btnPickBill").hide();
            $("#btnRemove").hide();
            $("#btnSave").hide();
        }
    }

    function ValidateInput() {        
        var oChequeRequisition = $('#divChequeRequisition').data('ChequeRequisition');
        if($('#cboBusinessUnit').val() === null || parseInt($('#cboBusinessUnit').val())<=0)
        {
            alert("Please select Business Unit!");
            $('#cboBusinessUnit').focus();
            return false;
        }
        var sRequisitionDate = $('#txtRequisitionDate').datebox('getValue');
        if (sRequisitionDate == null || sRequisitionDate == "") {
            alert("Please select Requisition Date!");
            $('#txtRequisitionDate').focus();
            return false;
        }                 
        if(parseInt(oChequeRequisition.SubledgerID) <=0)
        {
            alert("Please select Subledger!");
            $('#txtSubledger').focus();
            return false;
        }        
        if($('#cboPayTo').val() === null || parseInt($('#cboPayTo').val())<=0)
        {
            alert("Please select Pay To!");
            $('#cboPayTo').focus();
            return false;
        }        
        if(parseInt(oChequeRequisition.BankAccountID) <=0)
        {
            alert("Please select Bank Account!");
            $('#txtBankAccount').focus();
            return false;
        }                
        if($('#cboChequeBook').val() === null || parseInt($('#cboChequeBook').val())<=0)
        {
            alert("Please select Cheque Book!");
            $('#cboChequeBook').focus();
            return false;
        }
        if($('#cboChequeType').val() === null || parseInt($('#cboChequeType').val())<=0)
        {
            alert("Please select Cheque Type!");
            $('#cboChequeType').focus();
            return false;
        }
        var sChequeDate = $('#txtChequeDate').datebox('getValue');
        if (sChequeDate == null || sChequeDate == "") {
            alert("Please select Cheque Date!");
            $('#txtChequeDate').focus();
            return false;
        }        
        if(parseInt(oChequeRequisition.ChequeID) <=0)
        {
            alert("Please select Cheque No!");
            $('#txtChequeNo').focus();
            return false;
        }
        var oChequeRequisitionDetails = $('#tblChequeRequisitionDetail').datagrid('getRows');
        if (oChequeRequisitionDetails == null || oChequeRequisitionDetails.length <= 0) {
            alert("Please enter at least one item!");
            return false;
        }
        for (var i = 0; i < oChequeRequisitionDetails.length; i++) {
            if (parseFloat(oChequeRequisitionDetails[i].Amount) <= 0) {
                alert("Please enter Requisition Amount for Bill No : " + oChequeRequisitionDetails[i].BillNo);
                return false;
            }
            if (parseFloat(parseFloat(oChequeRequisitionDetails[i].Amount).toFixed(2))> parseFloat(parseFloat(oChequeRequisitionDetails[i].YetToChequeRequisition).toFixed(2))) {
                alert("ChequeRequisition Amount Must be less than or equal yet to Requisition amount for Bill No : " + oChequeRequisitionDetails[i].BillNo);
                return false;
            }
        }
        var nAmount =parseFloat(icsRemoveComma($('#txtChequeAmount').val()));
        if (nAmount <= 0) {
            alert("Please enter Requisition Amount!");
            $('#txtChequeAmount').focus();
            return false;
        }
        return true;
    }

    function RefreshObject() {
        var oTempChequeRequisition = $('#divChequeRequisition').data('ChequeRequisition');
        var oChequeRequisition = {
            ChequeRequisitionID : parseInt(oTempChequeRequisition.ChequeRequisitionID),
            RequisitionNo : oTempChequeRequisition.RequisitionNo,
            BUID : parseInt($('#cboBusinessUnit').val()),
            RequisitionStatus : parseInt(oTempChequeRequisition.RequisitionStatusInt),
            RequisitionStatusInt : parseInt(oTempChequeRequisition.RequisitionStatusInt),
            RequisitionDate : $('#txtRequisitionDate').datebox('getValue'),
            AccountHeadID : parseInt(oTempChequeRequisition.AccountHeadID),
            SubledgerID : parseInt(oTempChequeRequisition.SubledgerID),
            PayTo : parseInt($('#cboPayTo').val()),
            ChequeDate : $('#txtChequeDate').datebox('getValue'),
            ChequeType : parseInt($('#cboChequeType').val()),
            ChequeTypeInt : parseInt($('#cboChequeType').val()),
            BankAccountID : parseInt(oTempChequeRequisition.BankAccountID),
            BankBookID : parseInt($('#cboChequeBook').val()),
            ChequeID : parseInt(oTempChequeRequisition.ChequeID),
            ChequeAmount : parseFloat(icsRemoveComma($('#txtChequeAmount').val())),
            ApprovedBy : parseInt(oTempChequeRequisition.ApprovedBy),
            Remarks : $.trim($('#txtRemarks').val()),
            ChequeRequisitionDetails : $('#tblChequeRequisitionDetail').datagrid('getRows')
        };
        return oChequeRequisition;
    }

    $("#btnSave").click(function () {
        endEditing();
        if (!ValidateInput()) return;
        var oChequeRequisition = RefreshObject();
        $.ajax({
            type: "POST",
            dataType: "json",
            url: sessionStorage.getItem("BaseAddress")+  "/ChequeRequisition/Save",
            traditional: true,
            data: JSON.stringify(oChequeRequisition),
            contentType: "application/json; charset=utf-8",
            success: function (data) {
                oChequeRequisition = jQuery.parseJSON(data);
                if (oChequeRequisition.ChequeRequisitionID > 0) {
                    alert("Data Saved sucessfully");
                    var oChequeRequisitions = sessionStorage.getItem("ChequeRequisitions");
                    var nIndex = parseInt(sessionStorage.getItem("SelectedRowIndex"));
                    if (oChequeRequisitions != null) {
                        oChequeRequisitions = jQuery.parseJSON(oChequeRequisitions);
                    }
                    else {
                        oChequeRequisitions = [];
                    }
                    if (nIndex != -1) {
                        oChequeRequisitions[nIndex] = oChequeRequisition;
                    }
                    else {
                        sessionStorage.setItem("SelectedRowIndex", oChequeRequisitions.length);
                        oChequeRequisitions.push(oChequeRequisition);
                    }
                    sessionStorage.setItem("ChequeRequisitions", JSON.stringify(oChequeRequisitions));
                    window.location.href = sessionStorage.getItem("BackLink");
                }
                else {
                    alert(oChequeRequisition.ErrorMessage);
                }
            },
            error: function (xhr, status, error) {
                alert(error);
            }
        });
    });

    $("#btnClose").click(function () {
        window.location.href = sessionStorage.getItem("BackLink");
    });

    $("#btnRemove").click(function () {
        var oChequeRequisitionDetail = $('#tblChequeRequisitionDetail').datagrid('getSelected');
        if (oChequeRequisitionDetail == null) {
            alert("Please select a item from list!");
            return;
        }
        var conf = confirm("Confirm to delete?");
        if (conf == false) return;

        endEditing();
        var SelectedRowIndex = $('#tblChequeRequisitionDetail').datagrid('getRowIndex', oChequeRequisitionDetail);
        $('#tblChequeRequisitionDetail').datagrid('deleteRow', SelectedRowIndex);

        var oChequeRequisitionDetails = $('#tblChequeRequisitionDetail').datagrid('getRows');
        RefreshList(oChequeRequisitionDetails);
    });

    $("#btnRefresh").click(function () {
        endEditing();
        data = $('#tblChequeRequisitionDetail').datagrid('getRows');
        data = { "total": "" + data.length + "", "rows": data };
        $('#tblChequeRequisitionDetail').datagrid('loadData', data);
        RefreshSummery();
    });

    $('#cboBusinessUnit').change(function(e){
        var nBUID = parseInt($('#divChequeRequisition').data('ChequeRequisition').BUID);
        if(nBUID >0 && nBUID != parseInt($('#cboBusinessUnit').val()))
        {
            $("#txtBankAccount").val('');
            $("#txtBankAccount").removeClass("fontColorOfPickItem");        
            $('#divChequeRequisition').data('ChequeRequisition').BankAccountID = 0;
            ChangeBankAccount();
        }
        $('#divChequeRequisition').data('ChequeRequisition').BUID = parseInt($('#cboBusinessUnit').val());
    });

    $('#cboChequeBook').change(function(e){
        var nBankBookID = parseInt($('#divChequeRequisition').data('ChequeRequisition').BankBookID);
        if(nBankBookID >0 && nBankBookID != parseInt($('#cboChequeBook').val()))
        {
            $("#txtChequeNo").val('');
            $("#txtChequeNo").removeClass("fontColorOfPickItem");        
            $('#divChequeRequisition').data('ChequeRequisition').ChequeID = 0;
        }
        $('#divChequeRequisition').data('ChequeRequisition').BankBookID = parseInt($('#cboChequeBook').val());
    });

    ///Subledger Pick
    $("#txtSubledger").keydown(function (e) {
        var code = (e.keyCode ? e.keyCode : e.which);
        if (code == 13) // Enter Press
        {            
            var nBUID = parseInt($('#cboBusinessUnit').val());
            if(nBUID<=0)
            {
                alert("Please select Business Unit!");
                $('#cboBusinessUnit').focus();
                return;
            }
            var sSubledgerName = $.trim($('#txtSubledger').val());                    
            if(sSubledgerName == "")
            {
                alert("Please Enter Subledger Subledger!");
                return;
            }

            var oACCostCenter = {
                Name : sSubledgerName,
                BUID : parseInt(nBUID)
            };
            PickSubledger(oACCostCenter);   
        }
    });

    $("#btnSubledgerPick").click(function () {        
        var nBUID = parseInt($('#cboBusinessUnit').val());
        if(nBUID<=0)
        {
            alert("Please select Business Unit!");
            $('#cboBusinessUnit').focus();
            return;
        }        
        var sSubledgerName = $.trim($('#txtSubledger').val());            
        if(sSubledgerName == "")
        {
            alert("Please Enter Subledger Subledger!");
            return;
        }

        var oACCostCenter = {
            Name : sSubledgerName,
            BUID : parseInt(nBUID)
        };
        PickSubledger(oACCostCenter);   
    });

    $("#btnSubledgerClear").click(function () {
        $("#txtSubledger").val('');
        $("#txtSubledger").removeClass("fontColorOfPickItem");        
        $('#divChequeRequisition').data('ChequeRequisition').SubledgerID = 0;
        ChangeSubledger(); 
    });

    $('#txtSubledger').keydown(function (e) {
        var code = (e.keyCode ? e.keyCode : e.which);
        if (code == 8) //backspace=8
        {
            $("#txtSubledger").removeClass("fontColorOfPickItem");        
            $('#divChequeRequisition').data('ChequeRequisition').SubledgerID = 0;
            ChangeSubledger(); 
        }
    });

    function PickSubledger(oACCostCenter)
    {
        var obj = {
            BaseAddress: sessionStorage.getItem("BaseAddress"),
            Object: oACCostCenter,
            ControllerName: "ChequeRequisition",
            ActionName: "GetsSubledger",
            IsWinClose: false
        };
        $("#progbar").progressbar({ value: 0 });
        $("#progbarParent").show();
        var intervalID = setInterval(updateProgress, 250);
        $.icsDataGets(obj, function (response) {
            clearInterval(intervalID);
            $("#progbarParent").hide();
            if (response.status && response.objs.length > 0) {
                if (response.objs[0].ACCostCenterID > 0) {                    
                    RefreshListSubledger(response.objs);
                    $('#winSubledger').data('Subledger', response.objs);
                    $('#winSubledger').window('open');
                    $('#txtSearchBySubledger').focus()
                }
                else { alert(response.objs[0].ErrorMessage); }
            }else{
                alert("Data Not Found.");
                return;
            }
        });
    }

    function ChangeSubledger()
    {        
        $('#divChequeRequisition').data('IssueFigures', []);
        $('#cboPayTo').empty();
        $('#cboPayTo').val(0);
        RefreshList([]);
    }

    function SelectSubledger()
    {
        var oSelectedSubledger= $('#tblSubledger').datagrid('getSelected');
        if(oSelectedSubledger ==null || parseInt(oSelectedSubledger.ACCostCenterID)<=0)
        {
            alert("Please select a cost center!");
            return;
        }        
        $('#winSubledger').window('close');

        var nSubledgerID =  parseInt($('#divChequeRequisition').data('ChequeRequisition').SubledgerID);
        if(nSubledgerID > 0 && nSubledgerID != parseInt(oSelectedSubledger.ACCostCenterID))
        {
            ChangeSubledger();
        }
        $('#txtSubledger').val(oSelectedSubledger.Name);
        $('#txtSubledger').addClass('fontColorOfPickItem');
        $('#divChequeRequisition').data('ChequeRequisition').SubledgerID =  parseInt(oSelectedSubledger.ACCostCenterID);
        LoadIssueFigures(parseInt(oSelectedSubledger.ACCostCenterID));
        $('#cboPayTo').focus();
    }

    $('#winSubledger').keydown(function (e){
        if (e.which === 27) {
            $('#winSubledger').window('close');            
            $('#txtSubledger').focus();
        }
        else if(e.which == 38 || e.which == 40)
        {
            var oSubledger= $('#tblSubledger').datagrid('getSelected');
            var nIndex=$('#tblSubledger').datagrid('getRowIndex', oSubledger);
            if(e.which == 38)//up arrow=38
            {
                if(nIndex<=0)
                {
                    $('#tblSubledger').datagrid('selectRow', 0);
                }
                else
                {
                    $('#tblSubledger').datagrid('selectRow', nIndex-1);
                }
            }
            if(e.which == 40)//down arrow=40
            {
                var oCurrentList = $('#tblSubledger').datagrid('getRows');
                if(nIndex>=oCurrentList.length-1)
                {
                    $('#tblSubledger').datagrid('selectRow', oCurrentList.length-1);
                }
                else
                {
                    $('#tblSubledger').datagrid('selectRow', nIndex+1);
                }
            }
        }
        else if(e.which == 13)//enter=13
        {
            SelectSubledger();
        }       
        else
        {
            var txtSearchBySubledger = $('#txtSearchBySubledger').val();
            var oSearchedLedger = [];  var sTempName="";
            var oCurrentList = $('#tblSubledger').datagrid('getRows');
            if (e.which == 8)
            {
                oCurrentList = $('#winSubledger').data('Subledger');
            }
            for(i=0;i<oCurrentList.length;i++){
                sTempName = oCurrentList[i].Name;
                n=sTempName.toUpperCase().indexOf(txtSearchBySubledger.toUpperCase());
                if(n!=-1)
                {
                    oSearchedLedger.push(oCurrentList[i]);
                }
            }
            RefreshListSubledger(oSearchedLedger);
        }
    });

    $('#btnOkSubledger').click(function(){
        SelectSubledger();
    });

    $('#btnSubledgerClose').click(function(){
        $('#winSubledger').window('close');            
        $('#txtSubledger').focus();
    });
    //End Subledger Picker

    ///Bank Account Pick
    $("#txtBankAccount").keydown(function (e) {
        var code = (e.keyCode ? e.keyCode : e.which);
        if (code == 13) // Enter Press
        {
            var nBUID = parseInt($('#cboBusinessUnit').val());
            if(nBUID<=0)
            {
                alert("Please select Business Unit!");
                $('#cboBusinessUnit').focus();
                return;
            }
            var sBankAccount = $.trim($('#txtBankAccount').val())
            var oBankAccount = {
                AccountNo : sBankAccount,
                BusinessUnitID : nBUID
            };
            PickBankAccount(oBankAccount);    
        }
    });

    $("#btnBankAccountPick").click(function () {
        var nBUID = parseInt($('#cboBusinessUnit').val());
        if(nBUID<=0)
        {
            alert("Please select Business Unit!");
            $('#cboBusinessUnit').focus();
            return;
        }
        var sBankAccount = $.trim($('#txtBankAccount').val())
        var oBankAccount = {
            AccountNo : sBankAccount,
            BusinessUnitID : nBUID
        };
        PickBankAccount(oBankAccount);  
    });

    $("#btnBankAccountClear").click(function () {
        $("#txtBankAccount").val('');
        $("#txtBankAccount").removeClass("fontColorOfPickItem");        
        $('#divChequeRequisition').data('ChequeRequisition').BankAccountID = 0;
        ChangeBankAccount(); 
    });

    $('#txtBankAccount').keydown(function (e) {
        var code = (e.keyCode ? e.keyCode : e.which);
        if (code == 8) //backspace=8
        {
            $("#txtBankAccount").removeClass("fontColorOfPickItem");        
            $('#divChequeRequisition').data('ChequeRequisition').BankAccountID = 0;
            ChangeBankAccount(); 
        }
    });

    function PickBankAccount(oBankAccount)
    {
        var obj = {
            BaseAddress: sessionStorage.getItem("BaseAddress"),
            Object: oBankAccount,
            ControllerName: "ChequeRequisition",
            ActionName: "GetsBankAccounts",
            IsWinClose: false
        };
        $("#progbar").progressbar({ value: 0 });
        $("#progbarParent").show();
        var intervalID = setInterval(updateProgress, 250);
        $.icsDataGets(obj, function (response) {
            clearInterval(intervalID);
            $("#progbarParent").hide();
            if (response.status && response.objs.length > 0) {
                if (response.objs[0].BankAccountID > 0) {
                    var tblColums = []; 
                    var oColumn = { field: "AccountNo", title: "Account No", width: 120, align: "left" }; tblColums.push(oColumn);
                    oColumn = { field: "AccountName", title: "Account Name", width: 150, align: "left" }; tblColums.push(oColumn);
                    oColumn = { field: "BankShortName", title: "Bank Name", width: 100, align: "left" }; tblColums.push(oColumn);
                    oColumn = { field: "BranchName", title: "Branch Name", width: 170, align: "left" }; tblColums.push(oColumn);

                    var oPickerParam = {
                        winid: 'winBankAccount',
                        winclass: 'clsBankAccount',
                        winwidth: 600,
                        winheight: 460,
                        tableid: 'tblBankAccount',
                        tablecolumns: tblColums,
                        datalist: response.objs,
                        multiplereturn: false,
                        searchingbyfieldName: 'AccountNo',
                        windowTittle: 'Bank Account List'
                    };
                    $.icsPicker(oPickerParam);
                    IntializePickerbutton(oPickerParam);
                }
                else { alert(response.objs[0].ErrorMessage); }
            }else{
                alert("Data Not Found.");
                return;
            }
        });
    }

    function ChangeBankAccount()
    { 
        $('#divChequeRequisition').data('ChequeBooks', []);
        $('#cboChequeBook').empty();
        $('#cboChequeBook').val(0);

        $("#txtChequeNo").val('');
        $("#txtChequeNo").removeClass("fontColorOfPickItem");        
        $('#divChequeRequisition').data('ChequeRequisition').ChequeID = 0;
    }
    //End Subledger Picker

    ///Cheque Pick
    $("#txtChequeNo").keydown(function (e) {
        var code = (e.keyCode ? e.keyCode : e.which);
        if (code == 13) // Enter Press
        {
            var nBankBookID = parseInt($('#cboChequeBook').val());
            if(nBankBookID<=0)
            {
                alert("Please select Bank Book!");
                $('#cboChequeBook').focus();
                return;
            }
            var sChequeNo = $.trim($('#txtChequeNo').val())
            var nChequeRequisitionID = parseInt($('#divChequeRequisition').data('ChequeRequisition').ChequeRequisitionID);
            var oChequeRequisition = {
                ChequeNo : sChequeNo,
                BankBookID : nBankBookID,
                ChequeRequisitionID : nChequeRequisitionID
            };
            PickCheque(oChequeRequisition);   
        }
    });

    $("#btnChequePick").click(function () {
        var nBankBookID = parseInt($('#cboChequeBook').val());
        if(nBankBookID<=0)
        {
            alert("Please select Bank Book!");
            $('#cboChequeBook').focus();
            return;
        }
        var sChequeNo = $.trim($('#txtChequeNo').val())
        var nChequeRequisitionID = parseInt($('#divChequeRequisition').data('ChequeRequisition').ChequeRequisitionID);
        var oChequeRequisition = {
            ChequeNo : sChequeNo,
            BankBookID : nBankBookID,
            ChequeRequisitionID : nChequeRequisitionID
        };
        PickCheque(oChequeRequisition);  
    });

    $("#btnChequeClear").click(function () {
        $("#txtChequeNo").val('');
        $("#txtChequeNo").removeClass("fontColorOfPickItem");        
        $('#divChequeRequisition').data('ChequeRequisition').ChequeID = 0;
    });

    $('#txtChequeNo').keydown(function (e) {
        var code = (e.keyCode ? e.keyCode : e.which);
        if (code == 8) //backspace=8
        {
            $("#txtChequeNo").removeClass("fontColorOfPickItem");        
            $('#divChequeRequisition').data('ChequeRequisition').ChequeID = 0;
        }
    });

    function PickCheque(oChequeRequisition)
    {
        var obj = {
            BaseAddress: sessionStorage.getItem("BaseAddress"),
            Object: oChequeRequisition,
            ControllerName: "ChequeRequisition",
            ActionName: "GetsCheques",
            IsWinClose: false
        };
        $("#progbar").progressbar({ value: 0 });
        $("#progbarParent").show();
        var intervalID = setInterval(updateProgress, 250);
        $.icsDataGets(obj, function (response) {
            clearInterval(intervalID);
            $("#progbarParent").hide();
            if (response.status && response.objs.length > 0) {
                if (response.objs[0].ChequeID > 0) {
                    var tblColums = []; 
                    var oColumn = { field: "ChequeNo", title: "Cheque No", width: 120, align: "left" }; tblColums.push(oColumn);
                    oColumn = { field: "AccountNo", title: "Account No", width: 150, align: "left" }; tblColums.push(oColumn);
                    oColumn = { field: "BookCode", title: "Book Code", width: 100, align: "left" }; tblColums.push(oColumn);
                    oColumn = { field: "ChequeDateInString", title: "Cheque Date", width: 100, align: "center" }; tblColums.push(oColumn);
                    oColumn = { field: "AmountInString", title: "Cheque Amount", width: 100, align: "right" }; tblColums.push(oColumn);

                    var oPickerParam = {
                        winid: 'winCheque',
                        winclass: 'clsCheque',
                        winwidth: 600,
                        winheight: 460,
                        tableid: 'tblCheque',
                        tablecolumns: tblColums,
                        datalist: response.objs,
                        multiplereturn: false,
                        searchingbyfieldName: 'ChequeNo',
                        windowTittle: 'Cheque List'
                    };
                    $.icsPicker(oPickerParam);
                    IntializePickerbutton(oPickerParam);
                }
                else { alert(response.objs[0].ErrorMessage); }
            }else{
                alert("Data Not Found.");
                return;
            }
        });
    }
    //End Cheque Picker

    //Pick Voucher Bill
    $("#btnPickBill").click(function () {        
        var nBUID = parseInt($('#cboBusinessUnit').val());
        if(nBUID<=0)
        {
            alert("Please select Business Unit!");
            $('#cboBusinessUnit').focus();
            return;
        }
        var nSubledgerID = parseInt($('#divChequeRequisition').data('ChequeRequisition').SubledgerID);
        if(nSubledgerID <=0)
        {
            alert("Please select Subledger!");
            $('#txtSubledger').focus();
            return;
        }
        var nChequeRequisitionID = parseInt($('#divChequeRequisition').data('ChequeRequisition').ChequeRequisitionID);

        var oChequeRequisition =  {
            BUID: parseInt(nBUID),            
            SubledgerID : parseInt(nSubledgerID),
            ChequeRequisitionID : parseInt(nChequeRequisitionID)
        };
        PickVoucherBill(oChequeRequisition);
    });

    function PickVoucherBill(oChequeRequisition)
    {
        var obj = {
            BaseAddress: sessionStorage.getItem("BaseAddress"),
            Object: oChequeRequisition,
            ControllerName: "ChequeRequisition",
            ActionName: "PickVoucherBills",
            IsWinClose: false
        };

        $.icsDataGets(obj, function (response) {            
            if (response.status && response.objs.length > 0) {
                if (response.objs[0].VoucherBillID > 0) {
                    var tblColums = [];
                    var oColumn = { field: "BillNo", title: "Bill No", width: 100, align: "left" }; tblColums.push(oColumn);
                    oColumn = { field: "BillDateSt", title: "Bill Date", width: 80, align: "left" }; tblColums.push(oColumn);
                    oColumn = { field: "BillAmountSt", title: "Bill Amount", width: 120, align: "right" }; tblColums.push(oColumn);
                    oColumn = { field: "YetToChequeRequisitionSt", title: "Yet To Requisition", width: 120, align: "right" }; tblColums.push(oColumn);
                    var oPickerParam = {
                        winid: 'winVoucherBill',
                        winclass: 'clsVoucherBill',
                        winwidth: 520,
                        winheight: 460,
                        tableid: 'tblVoucherBill',
                        tablecolumns: tblColums,
                        datalist: response.objs,
                        multiplereturn: true,
                        searchingbyfieldName: 'BillNo',
                        windowTittle: 'Voucher Bill List'
                    };
                    $.icsPicker(oPickerParam);
                    IntializePickerbutton(oPickerParam);
                }
                else {
                    alert(response.objs[0].ErrorMessage);
                }

            }else{
                alert("Data Not Found.");
            }
        });
    }
    //End Voucher Bill

    function IntializePickerbutton(oPickerobj) {
        $("#" + oPickerobj.winid).find("#btnOk").click(function () {
            //for Single Select
            SetPickerValueAssign(oPickerobj);
        });
        $(document).find('.' + oPickerobj.winclass).keydown(function (e) {
            if (e.which == 13)//enter=13
            {
                SetPickerValueAssign(oPickerobj);
            }
        });
    }

    function SetPickerValueAssign(oPickerobj) {
        var oreturnObj = null, oreturnobjs = [];
        if (oPickerobj.multiplereturn) {
            oreturnobjs = $('#' + oPickerobj.tableid).datagrid('getChecked');
        } else {
            oreturnObj = $('#' + oPickerobj.tableid).datagrid('getSelected');
        }
        $("#" + oPickerobj.winid).icsWindow("close");
        $("#" + oPickerobj.winid).remove();

        if (oPickerobj.winid === 'winBankAccount')
        {
            if (oreturnObj != null && parseInt(oreturnObj.BankAccountID) > 0) {
                var nBankAccountID =  parseInt($('#divChequeRequisition').data('ChequeRequisition').BankAccountID);
                if(nBankAccountID > 0 && nBankAccountID != parseInt(oreturnObj.BankAccountID))
                {
                    ChangeBankAccount();
                }
                $('#txtBankAccount').val(oreturnObj.AccountNo);
                $('#txtBankAccount').addClass('fontColorOfPickItem');
                $('#divChequeRequisition').data('ChequeRequisition').BankAccountID =  parseInt(oreturnObj.BankAccountID);
                LoadBankBooks(parseInt(oreturnObj.BankAccountID));
                $('#cboChequeBook').focus();
            }
        }
        else if (oPickerobj.winid === 'winCheque')
        {
            if (oreturnObj != null && parseInt(oreturnObj.ChequeID) > 0) {                
                $('#txtChequeNo').val(oreturnObj.ChequeNo);
                $('#txtChequeNo').addClass('fontColorOfPickItem');
                $('#divChequeRequisition').data('ChequeRequisition').ChequeID =  parseInt(oreturnObj.ChequeID);
                $('#txtRemarks').focus();
            }
        }
        else if (oPickerobj.winid == 'winVoucherBill')
        {
            if (oreturnobjs != null && oreturnobjs.length > 0)
            {
                for(var i=0; i<oreturnobjs.length; i++)
                {
                    if(!IsBillExists(parseInt(oreturnobjs[i].VoucherBillID)))
                    {
                        $('#tblChequeRequisitionDetail').datagrid('appendRow', oreturnobjs[i]);
                    }
                }
                RefreshSummery();
            }
        }
    }

    function IsBillExists(nVoucherBillID)
    {
        var oChequeRequisitionDetails =$('#tblChequeRequisitionDetail').datagrid('getRows');
        for(var i=0; i<oChequeRequisitionDetails.length;i++)
        {
            if(parseInt(oChequeRequisitionDetails[i].VoucherBillID)=== parseInt(nVoucherBillID))
            {
                return true;
            }
        }
        return false;
    }

    function LoadBankBooks(nBankAccountID) {        
        if (parseInt(nBankAccountID) > 0) {
            var oChequeRequisition = {
                BankAccountID: nBankAccountID
            };
            $.ajax({
                type: "POST",
                dataType: "json",
                url: sessionStorage.getItem("BaseAddress") + "/ChequeRequisition/GetsBankBook",
                data: JSON.stringify(oChequeRequisition),
                contentType: "application/json; charset=utf-8",
                success: function (data) {
                    var oChequeBooks = jQuery.parseJSON(data);
                    $('#divChequeRequisition').data('ChequeBooks', oChequeBooks);
                    $("#cboChequeBook").icsLoadCombo({ List: oChequeBooks, OptionValue: "ChequeBookID", DisplayText: "BookCode" });                    
                },
                error: function (xhr, status, error) {
                    alert(error);
                }

            });
        }
    }

    function LoadIssueFigures(nSubledgerID) {        
        if (parseInt(nSubledgerID) > 0) {
            var oChequeRequisition = {
                SubledgerID: nSubledgerID
            };
            $.ajax({
                type: "POST",
                dataType: "json",
                url: sessionStorage.getItem("BaseAddress") + "/ChequeRequisition/GetsIssueFigure",
                data: JSON.stringify(oChequeRequisition),
                contentType: "application/json; charset=utf-8",
                success: function (data) {
                    var oIssueFigures = jQuery.parseJSON(data);
                    $('#divChequeRequisition').data('IssueFigures', oIssueFigures);                    
                    $("#cboPayTo").icsLoadCombo({ List: oIssueFigures, OptionValue: "IssueFigureID", DisplayText: "ChequeIssueTo" });
                    if(oIssueFigures !=null && oIssueFigures.length===1)
                    {
                        $("#cboPayTo").val(parseFloat(oIssueFigures[0].IssueFigureID));
                    }
                },
                error: function (xhr, status, error) {
                    alert(error);
                }

            });
        }
    }

    function RefreshSummery() {
        var nAmount = 0;
        var oChequeRequisitionDetails = $('#tblChequeRequisitionDetail').datagrid('getRows');
        for (var i = 0; i < oChequeRequisitionDetails.length; i++) {
            nAmount = nAmount + parseFloat(oChequeRequisitionDetails[i].Amount);
        }
        $('#txtChequeAmount').val(icsFormatPrice(nAmount));
    }

    function RefreshGrid() {
        endEditing();
        data = $('#tblChequeRequisitionDetail').datagrid('getRows');
        data = { "total": "" + data.length + "", "rows": data };
        $('#tblChequeRequisitionDetail').datagrid('loadData', data);
        RefreshSummery();
    }

    var editIndex = undefined;
    function endEditing() {
        if (editIndex == undefined) { return true }
        if ($('#tblChequeRequisitionDetail').datagrid('validateRow', editIndex)) {
            $('#tblChequeRequisitionDetail').datagrid('endEdit', editIndex);
            $('#tblChequeRequisitionDetail').datagrid('selectRow', editIndex);
            RefreshSummery();
            editIndex = undefined;
            return true;
        } else {
            return false;
        }
    }

    function onClickRow(index) {
        if (editIndex != index) {
            if (endEditing()) {
                $('#tblChequeRequisitionDetail').datagrid('selectRow', index).datagrid('beginEdit', index);
                editIndex = index;
            } else {
                $('#tblChequeRequisitionDetail').datagrid('selectRow', editIndex);
            }
        }
    }

    function RefreshList(oChequeRequisitionDetails) {
        data = oChequeRequisitionDetails;
        data = { "total": "" + data.length + "", "rows": data };
        $('#tblChequeRequisitionDetail').datagrid('loadData', data);
        RefreshSummery();
    }

    function RefreshListSubledger(oSubledgers) {
        data = oSubledgers;
        data = { "total": "" + data.length + "", "rows": data };
        $('#tblSubledger').datagrid('loadData', data);        
    }

    function FormatStyle(value,row,index)
    {
        var sReturn = "";
        if(row.ACCostCenterID > 0)
        {
            sReturn = '<label id="lblDetail~'+index+'" style="color:Blue;cursor:pointer;text-decoration:underline;" onclick="ViewDetails('+row.ACCostCenterID+')">'+value+'</label>';
        }
        else
        {
            sReturn = '<label>'+value+'</label>';
        }
        return sReturn;
    }

    function ViewDetails(nSubledgerID)
    {
        var nBUID = parseInt($('#cboBusinessUnit').val());
        if(nBUID<=0)
        {
            alert("Please select Business Unit!");
            $('#cboBusinessUnit').focus();
            return;
        }
        var oChequeRequisition =  {
            BUID: parseInt(nBUID),            
            SubledgerID : parseInt(nSubledgerID),
            ChequeRequisitionID : 0
        };
        PickVoucherBill(oChequeRequisition);
    }
</script>