<html>
<head>  
 
</head>
<body>

    @model ESimSol.BusinessObjects.BankPersonnel
    <div id="divBankPersonnel" class="easyui-panel" title="Add BankPersonnel" style="font-family:Tahoma; height:100%; width:100%">
        <div style="width:100%; height:88%; text-align:center">
            <fieldset>
                <legend style="font-weight:bold"> Bank Personnel Informations : </legend>
                <table border="0" cellspacing="2" cellpadding="2" style="font-size:11px; font-weight:bold">
                    <tr>
                        <td style="width:200px; text-align:right">
                            Name :
                        </td>
                        <td style="width:300px">
                            @Html.TextBoxFor(model => model.Name, new { style = "width: 300px;", id = "txtName" })
                        </td>
                    </tr>
                    <tr>
                        <td style="width:200px; text-align:right">
                            Address :
                        </td>
                        <td style="width:300px">
                            @Html.TextBoxFor(model => model.Address, new { style = "width: 300px;", id = "txtAddress" })
                        </td>
                    </tr>
                    <tr>
                        <td style="width:200px; text-align:right">
                            Phone :
                        </td>
                        <td style="width:300px">
                            @Html.TextBoxFor(model => model.Phone, new { style = "width: 300px;", id = "txtPhone" })
                        </td>
                    </tr>
                    <tr>
                        <td style="width:200px; text-align:right">
                            Email :
                        </td>
                        <td style="width:300px">
                            @Html.TextBoxFor(model => model.Email, new { style = "width: 300px;", id = "txtEmail" })
                        </td>
                    </tr>
                    <tr>
                        <td style="width:200px; text-align:right">
                            Note :
                        </td>
                        <td style="width:300px">
                            @Html.TextBoxFor(model => model.Note, new { style = "width: 300px;", id = "txtNote" })
                        </td>
                    </tr>
                </table>
            </fieldset>
        </div>
        <div style="width:100%; height:10%">
            <fieldset>
                <legend style="font-weight: bold">Action : </legend>
                <table border="0" cellspacing="2" cellpadding="2" style="font-size: 11px; font-weight: bold; width:100%">
                    <tr>
                        <td style="width:80%; text-align:right"></td>
                        <td style="width: 10%">
                            <a id="btnSave" href="javascript:void(0)" class="easyui-linkbutton" iconcls="icon-save" plain="true" onclick="Save()">Save</a>
                        </td>
                        <td style="width: 10%">
                            <a id="btnClose" href="javascript:void(0)" class="easyui-linkbutton" iconcls="icon-cancel" plain="true">Close</a>
                        </td>
                    </tr>
                </table>
            </fieldset>
        </div>
    </div>
</body>
</html>

<script type="text/javascript"> 
 var _oBankPersonnel=null;
 var _sBaseAddress="";
 $(document).ready(function () {
    _sBaseAddress =@Html.Raw( new System.Web.Script.Serialization.JavaScriptSerializer().Serialize(HttpContext.Current.Session[SessionInfo.BaseAddress]));                                 
    _oBankPersonnel =@Html.Raw(new System.Web.Script.Serialization.JavaScriptSerializer().Serialize(Model));  
     _sBankPersonnelHeader=sessionStorage.getItem("BankPersonnelHeader");
     $('#divBankPersonnel').panel({ title:_sBankPersonnelHeader});
     if(_sBankPersonnelHeader=="View BankPersonnel")
     {
         document.getElementById('btnSave').style.display = 'none';
     }
}); 

function ValidateInput()
{
    if(document.getElementById("txtName").value==null || document.getElementById("txtName").value=="")
    {        
        alert("Please enter personnel name!");
        $('#txtName').focus();
        return false;
    }
    if(document.getElementById("txtPhone").value==null || document.getElementById("txtPhone").value=="")
    {        
        alert("Please enter personnel phone number!");
        $('#txtPhone').focus();
        return false;
    }       
    if(_oBankPersonnel.BankID<=0)
    {        
        alert("Invalid bank please try again!");          
        return false;
    }
    if(_oBankPersonnel.BankBranchID<=0)
    {        
        alert("Invalid bank branch please try again!");          
        return false;
    }   
    return true;
}

function RefreshObject()
{        
    var oBankPersonnel= { 
        BankPersonnelID : _oBankPersonnel.BankPersonnelID,
        BankID : _oBankPersonnel.BankID,
        BankBranchID :  _oBankPersonnel.BankBranchID,
        Name :  $("#txtName").val(),
        Address : $("#txtAddress").val(),
        Phone : $("#txtPhone").val(),
        Email :  $("#txtEmail").val(),
        Note :  $("#txtNote").val()
    };
    return oBankPersonnel;
} 

$("#btnSave").click(function(){
    if(!ValidateInput()) return;
    var oBankPersonnel=RefreshObject();
    $.ajax({
        type: "POST",
        dataType: "json",            
        url : _sBaseAddress+  "/BankPersonnel/Save",
        traditional: true,
        data:  JSON.stringify(oBankPersonnel),
        contentType: "application/json; charset=utf-8",
        success: function (data) {
            oBankPersonnel = jQuery.parseJSON(data);
            if (oBankPersonnel.BankPersonnelID>0) {                    
                alert("Data Saved sucessfully");
                debugger;
                var oBankPersonnels =sessionStorage.getItem("BankPersonnels");
                var nIndex= parseInt(sessionStorage.getItem("SelectedRowIndex"));
                if(oBankPersonnels!=null)
                {
                    oBankPersonnels = jQuery.parseJSON(oBankPersonnels);
                }
                else
                {
                    oBankPersonnels=[];
                }
                if(nIndex!=-1)
                {
                    oBankPersonnels[nIndex]=oBankPersonnel;
                }
                else
                {
                    sessionStorage.setItem("SelectedRowIndex", oBankPersonnels.length);
                    oBankPersonnels.push(oBankPersonnel);
                }
                sessionStorage.setItem("BankPersonnels", JSON.stringify(oBankPersonnels));
                window.location.href = _sBaseAddress+  "/Bank/ViewBankPersonnels?id="+_oBankPersonnel.BankBranchID;
            }
            else {
                alert(oBankPersonnel.ErrorMessage);
            }
        },
        error: function (xhr, status, error) {
            alert(error);
        }
    });
});

$("#btnClose").click(function(){
    var tsv=((new Date()).getTime())/1000;
    window.location.href = _sBaseAddress+  "/Bank/ViewBankPersonnels?id="+_oBankPersonnel.BankBranchID;
});

$(document).keydown(function(e) {
    if(e.which == 27)//escape=27
    {
        var tsv=((new Date()).getTime())/1000;
        window.location.href = _sBaseAddress+  "/Bank/ViewBankPersonnels?id="+_oBankPersonnel.BankBranchID;
    }
});
</script>