@{
    ViewBag.Title = "Delivery Challan";
}
@model IEnumerable<ESimSol.BusinessObjects.SUReturnChallan>
<head>
    <title>Delivery Challan</title>
    <script src="@Url.Content("~/Views/SUReturnChallan/AdvSearch.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Views/SUReturnChallan/SUReturnChallans.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Views/SUReturnChallan/SUReturnChallan.js")" type="text/javascript"></script>
</head>
<body>
    <div id="winAdvSearchSUReturnChallan" class="easyui-window winstyle" title="Adv. Search" data-options="modal:true,closed:true,collapsible:false,minimizable:false,maximizable:false,closable:false">
        <table class="tblAdvSearch">
            <tr>
                <td>
                    <fieldset style="margin-bottom: 0px;" class="abc">
                        <legend>Searching Criteria</legend>
                        <table class="tblASWrapper">
                            <tr>
                                <td>
                                    <label>Search By Challan No :</label>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <input id="txtChallanNoAdvSearch" type="text" />
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <label>Search By Buyer(s) :</label>
                                </td>
                            </tr>
                            <tr>
                                <td class="oneTextTwoButton">
                                    <input id="txtSearchByBuyersAdvSearch" type="text" placeholder="Type & Press Enter" />
                                    <input id="btnClrSearchByBuyersAdvSearch" type="button" value="C" />
                                    <input id="btnPickSearchByBuyersAdvSearch" type="button" value="P" />
                                </td>
                            </tr>
                            
                            <tr>
                                <td>
                                    <table>
                                        <tr>
                                            <td style="padding-top: 6px;">
                                                <input id="chkChallanDate" type="checkbox" style="margin: 0;" onchange="ChangeChallanDates();" />
                                            </td>
                                            <td style="text-align:right;width: 80px;">
                                                Challan Date :
                                            </td>
                                            <td style="text-align:right;">
                                                <input id="txtFromChallanDateAdvSearch" type="text" style="width: 100px;" class="easyui-datebox" required="required" data-options="formatter:icsdateformat,parser:icsdateparser" />
                                                <label style="margin:0 10px 0 10px;">To</label>
                                                <input id="txtToChallanDateAdvSearch" type="text" style="width: 100px;" class="easyui-datebox" required="required" data-options="formatter:icsdateformat,parser:icsdateparser" />
                                            </td>
                                        </tr>
                                    </table>
                                </td>
                            </tr>
                            <tr>
                                <td height="10"></td>
                            </tr>
                            <tr>
                                <td>
                                    <table>
                                        <tr>
                                            <td style="padding-top: 6px;">
                                                <input id="chkReturnDate" type="checkbox" style="margin: 0;" onchange="ChangeReturnDates();" />
                                            </td>
                                            <td style="text-align:right;width: 80px;">
                                                Return Date :
                                            </td>
                                            <td style="text-align:right;">
                                                <input id="txtFromReturnDateAdvSearch" type="text" style="width: 100px;" class="easyui-datebox" required="required" data-options="formatter:icsdateformat,parser:icsdateparser" />
                                                <label style="margin:0 10px 0 10px;">To</label>
                                                <input id="txtToReturnDateAdvSearch" type="text" style="width: 100px;" class="easyui-datebox" required="required" data-options="formatter:icsdateformat,parser:icsdateparser" />
                                            </td>
                                        </tr>
                                    </table>
                                </td>
                            </tr>
                            <tr>
                                <td height="20"></td>
                            </tr>
                            <tr>
                                <td class="btnResetSearch">
                                    <input id="btnResetAdvSearch" type="button" value="Reset" />
                                    <input id="btnSearchAdvSearch" type="button" value="Search" />
                                </td>
                            </tr>
                        </table>
                    </fieldset>
                </td>
                <td>
                    <div style="margin-top: 6px;">
                        <table id="tblSUReturnChallanAdvSearch" class="easyui-datagrid" title="Delivery Challan(s)" style="width: 450px; height: 240px;" data-options="singleSelect: false,fitColumns:false, rownumbers:true, pagination:false, autoRowHeight:false, ">
                            <thead>
                                <tr>
                                    <th data-options="field:'Selected',checkbox:true"></th>
                                    <th field="ChallanNo" width="30%">Challan No</th>
                                    <th field="BuyerName" width="20%">Buyer</th>
                                    <th field="ReturnDateSt" width="20%" align="center">Challan Date</th>
                                    <th field="QtySt" width="15%" align="right">Qty</th>
                                </tr>
                            </thead>
                        </table>
                    </div>
                </td>
            </tr>
        </table>
        <fieldset class="actionfieldsetstyle">
            <legend>Actions : </legend>
            <a id="btnOkAdvSearch" href="javascript:void(0)" class="easyui-linkbutton" iconcls="icon-ok" plain="true">Ok</a>
            <a id="btnCloseAdvSearch" href="javascript:void(0)" class="easyui-linkbutton" iconcls="icon-cancel" plain="true">Close</a>
        </fieldset>
    </div>
    
    <div id="winBuyerPickerAdvSearch" class="easyui-window" title="Contractor" data-options="modal:true,closed:true,collapsible:false,minimizable:false,maximizable:false,closable:false">
        <div id="divBuyerPickerAdvSearch" tabindex="-1">
            <table id="tblBuyersPickerAdvSearch" class="easyui-datagrid" style="width: 400px; height: 350px; margin: 0;"
                   data-options="singleSelect: true,fitColumns:false, rownumbers:true, pagination:false, autoRowHeight:false, toolbar: '#toolbarBuyerPickerAdvSearch' ">
                <thead>
                    <tr>
                        <th field="Name" width="240" align="left">Name</th>
                        <th field="ContractorTypeInString" width="150" align="left">Type</th>
                    </tr>
                </thead>
            </table>
            <div id="toolbarBuyerPickerAdvSearch">
                <input id="txtSearchByBuyerNamePickerAdvSearch" class="txtPickerSearchInputField" type="text" placeholder="Search by name" />
            </div>
        </div>
        <fieldset class="actionfieldsetstyle">
            <legend>Actions : </legend>
            <a id="btnOkBuyerPickerAdvSearch" href="javascript:void(0)" class="easyui-linkbutton" iconcls="icon-ok" plain="true">Ok</a>
            <a id="btnCloseBuyerPickerAdvSearch" href="javascript:void(0)" class="easyui-linkbutton" iconcls="icon-cancel" plain="true">Close</a>
        </fieldset>
    </div>
    <div id="winSUReturnChallan" class="easyui-window" title="Return Challan" data-options="modal:true,closed:true,collapsible:false,minimizable:false,maximizable:false,closable:false">
        <fieldset>
            <legend>Return Challan :</legend>
            <table border="0" cellspacing="2" cellpadding="2" class="CaptionStyle">
                <tr>
                    <td style="width:100px; text-align:right">
                        Return No :
                    </td>
                    <td style="">
                        <input type="text" class="enableDisable" style="width:130px;margin-right:3px;float:left;" id="txtReturnNoSUReturnChallan" disabled />

                        <div style="float:right;">
                            DO No :
                            <input type="text" class="enableDisable" style="width:130px;margin-right:3px;" id="txtDONoSUReturnChallan" disabled />
                        </div>
                    </td>
                    <td style="width:100px; text-align:right">
                        Challan No :
                    </td>
                    <td>
                        <input type="text" class="enableDisable" style="width:98%;margin-right:3px;float:left;" id="txtChallanNoSUReturnChallan" disabled />

                    </td>
                </tr>
                <tr>
                    <td style="width:100px; text-align:right">
                        Buyer :
                    </td>
                    <td style="text-align:left">
                        <select id="cboBuyerSUReturnChallan" class="enableDisable" style="width:120px;" disabled></select>
                        <input id="txtSearchByBuyerSUReturnChallan" class="enableDisable" type="text" style="width: 59%;" disabled placeholder="Type & Press Enter" />
                    </td>
                    <td style="width:100px; text-align:right">
                        <label style="width:150px;">Return Date :</label>
                    </td>
                    <td>
                        <input id="txtReturnDateSUReturnChallan" type="text" style="width:210px;" disabled class="easyui-datebox enableDisable" required="required" data-options="formatter:icsdateformat,parser:icsdateparser" />
                    </td>
                </tr>
                <tr>
                    <td style="width:100px; text-align:right">
                        Party Challan No :
                    </td>
                    <td>
                        <input id="txtPartyChallanNoSUReturnChallan" type="text" style="width:98%;" />
                    </td>
                    <td style="width:100px; text-align:right">
                        <label style="width:150px;">Receive Store : </label>
                    </td>
                    <td>
                        <select id="cboFinishGoodsStoreSUReturnChallan" class="enableDisable" style="width:100%;" disabled></select>
                    </td>
                </tr>
                <tr>
                    <td style="width:100px; text-align:right">
                        Remarks :
                    </td>
                    <td colspan="3">
                        <input id="txtRemarksSUReturnChallan" type="text" style="width:99%;" />
                    </td>
                </tr>
            </table>
        </fieldset>
        <div style="margin-left:2px; margin-top:2px">
            <table id="tblSUReturnChallanDetails" title="Item Description" class="easyui-datagrid" style="width:817px;height:300px;" fitcolumns="false" rownumbers="true" pagination="false" singleselect="true" autorowheight="false" toolbar="#toolbarSUReturnChallanDetail" data-options="onClickRow: onClickRowSUDC1">
                <thead>
                    <tr>
                        <th field="ProductCode" width="15%" align="left">Code</th>
                        <th field="ProductName" width="25%" align="left">Item Description</th>
                        <th field="LotNo" width="12%" align="left">Lot No</th>
                        <th data-options="field:'Qty',align:'right',editor:{type:'numberbox',options:{precision:2}}" width="15%" align="right">Qty(kG)</th>
                        <th field="QtyLbsSt" width="15%" align="right">Qty(LBS)</th>
                        <th field="SUDCDQty" width="17%" align="right">Delivery Qty</th>
                    </tr>
                </thead>
            </table>
            <div id="toolbarSUReturnChallanDetail">

                <a id="btnRefreshSUReturnChallanDetail" href="javascript:void(0)" class="easyui-linkbutton" iconcls="icon-reload" plain="true">Refresh</a>
                <a id="btnProductRemoveSUReturnChallanDetail" href="javascript:void(0)" class="easyui-linkbutton" iconcls="icon-remove" plain="true">Remove</a>

            </div>
        </div>
        <table border="0">
            <tr>
                <td style="width:400px;"></td>
                <td id="tdTotalCaption" style="text-align: right; font-size: 12px; font-weight:bold"> Total : </td>
                <td style="width: 100px; text-align: right; font-size: 12px">
                    <label id="lblTotalQty" style="text-align: right; font-size:12px; float: right; font-weight:bold">0.00</label>
                </td>
                <td style="width: 124px; text-align: right; font-size: 12px">
                    <label id="lblTotalQtyLbs" style="text-align: right; font-size:12px; float: right; font-weight:bold">0.00</label>
                </td>
                <td style="width: 124px; text-align: right; font-size: 12px">
                    <label id="lblTotalSUDCDQty" style="text-align: right; font-size:12px; float: right; font-weight:bold">0.00</label>
                </td>
            </tr>
        </table>
        <fieldset class="actionfieldsetstyle">
            <legend style="font-weight:bold"> Action : </legend>
            <a id="btnSaveSUReturnChallan" href="javascript:void(0)" class="easyui-linkbutton" iconcls="icon-save" plain="true">Save</a>
            <a id="btnReceiveSUReturnChallan" href="javascript:void(0)" class="easyui-linkbutton" iconcls="icon-save" plain="true">Receive</a>
            <a id="btnApproveSUReturnChallan" href="javascript:void(0)" class="easyui-linkbutton" iconcls="icon-save" plain="true">Approve</a>
            <a id="btnCloseSUReturnChallan" href="javascript:void(0)" class="easyui-linkbutton" iconcls="icon-cancel" plain="true">Close</a>
        </fieldset>
    </div>
    <div class="menuMainCollectionTable">
        <table id="tblSURCs" title="Delivery Challan" class="easyui-datagrid" fit="true" fitcolumns="true" rownumbers="true" pagination="true" singleselect="true" autorowheight="false" toolbar="#toolbarSUReturnChallan">
            <thead>
                <tr>
                    <th field="ReturnNo" width="15%">Return No</th>
                    <th field="ChallanNo" width="15%">Challan No</th>
                    <th field="ReturnDateSt" width="10%" align="center">Return Date</th>
                    <th field="ReturnStatusSt" width="10%">Status</th>
                    <th field="BuyerName" width="20%">Buyer</th>
                    <th field="ApprovedByName" width="20%">Approved By</th>
                    <th field="ReceivedByName" width="20%">Delivered By</th>
                    <th field="QtySt" width="10%" align="right">Qty</th>
                </tr>
            </thead>
        </table>
        <div id="toolbarSUReturnChallan">
            <table>
                <tr>
                    <td>
                        <input id="txtSearchByReturnNoSURCs" type="text" placeholder="Search by Return No" style="width: 150px;" />
                        <input id="txtReturnDateSURCs" type="text" class="easyui-datebox" data-options="formatter:icsdateformat,parser:icsdateparser" style="width:100px;float:left" />
                        <a id="btnSearchByDateSURCs" href="javascript:void(0)" class="easyui-linkbutton" iconcls="icon-search" plain="true"></a>
                        <a id="btnAdvSearchSURCs" href="javascript:void(0)" class="easyui-linkbutton" iconcls="icon-search" plain="true">Adv. Search</a>
                        <a id="btnPendingSURCs" href="javascript:void(0)" class="easyui-linkbutton" iconcls="icon-reload" plain="true">Pending Rtn. Challan</a>
                        <a id="btnWaitingApprovalSURCs" href="javascript:void(0)" class="easyui-linkbutton" iconcls="icon-reload" plain="true">Waiting For Approval</a>
                        <a id="btnEditSURCs" href="javascript:void(0)" class="easyui-linkbutton" iconcls="icon-edit" plain="true">Edit</a>
                        <a id="btnViewSURCs" href="javascript:void(0)" class="easyui-linkbutton" iconcls="icon-details" plain="true">Details</a>
                        <a id="btnDeleteSURCs" href="javascript:void(0)" class="easyui-linkbutton" iconcls="icon-remove" plain="true">Delete</a>
                        <a id="btnApproveSURCs" href="javascript:void(0)" class="easyui-linkbutton" iconcls="icon-approved" plain="true">Approve</a>
                    </td>
                    <td>
                </tr>
                <tr>
                    <td>
                        <a id="btnReceiveSURCs" href="javascript:void(0)" class="easyui-linkbutton" iconcls="icon-receive" plain="true">Return Receive</a>
                        <a id="btnPreviewSURCs" href="javascript:void(0)" class="easyui-linkbutton" iconcls="icon-print" plain="true">Preview</a>
                        @using (Html.BeginForm("PrintSUReturnChallans", "SUReturnChallan", FormMethod.Post, new { enctype = "multipart/form-data", target = "_blank", @class = "PrintForm" }))
                        {
                            <input type="text" name="txtSURCsCollectionList" id="txtSURCsCollectionList" hidden="hidden" />
                            <input type="submit" id="btnPrintSURCs" value="     Print List" class="icon-print PrintList" onclick=" return isValidSUReturnChallan() " style="margin-top: 4px;" />
                        }
                    </td>
                </tr>
            </table>
        </div>
    </div>
</body>

<style type="text/css">
        .tblAdvSearch .tblASWrapper {
            width: 360px;
        }
        .tblAdvSearch .tblASWrapper input[type="text"] {
            width: 98%;
        }
        .tblAdvSearch .tblASWrapper select {
            width: 99%;
        }
        .tblAdvSearch .oneTextTwoButton input[type='text']{
            width: 82%;
        }
        .tblAdvSearch .oneTextTwoButton input[type='button']{
            width: 7%;
        }
        .btnResetSearch input[type="button"] {
            width: 20%;
        }
        #btnSearchAdvSearch {
            float: right;
        }
</style>

<script type="text/javascript">
    var _sBaseAddress = null;
    var _oCurrentUser = null;
    var _oSUReturnChallan = null;
    var _oSUReturnChallans = [];
    var _oContractorTypes=[];
    var _oMktPersons=[];
    var _oCurrencys=[];
    var _oDOTypes=[];
    var _oReceivedStores=[];
    var _oContractorTypes=[];
    var _oCheckedByUsers=[];
    $(document).ready(function () {
        _sBaseAddress =@Html.Raw( new System.Web.Script.Serialization.JavaScriptSerializer().Serialize(HttpContext.Current.Session[SessionInfo.BaseAddress]));
        _oCurrentUser=@Html.Raw(new System.Web.Script.Serialization.JavaScriptSerializer().Serialize(HttpContext.Current.Session[SessionInfo.CurrentUser]));
        _oSUReturnChallans =@Html.Raw( new System.Web.Script.Serialization.JavaScriptSerializer().Serialize(Model));
        _oContractorTypes = @Html.Raw(new System.Web.Script.Serialization.JavaScriptSerializer().Serialize(ViewBag.ContractorTypes));
        _oMktPersons = @Html.Raw(new System.Web.Script.Serialization.JavaScriptSerializer().Serialize(ViewBag.MktPersons));
        @*_oCurrencys = @Html.Raw(new System.Web.Script.Serialization.JavaScriptSerializer().Serialize(ViewBag.Currencys));
        _oDOTypes = @Html.Raw(new System.Web.Script.Serialization.JavaScriptSerializer().Serialize(ViewBag.DOTypes));*@
        _oReceivedStores = @Html.Raw(new System.Web.Script.Serialization.JavaScriptSerializer().Serialize(ViewBag.ReceivedStores));
        @*_oContractorTypes = @Html.Raw(new System.Web.Script.Serialization.JavaScriptSerializer().Serialize(ViewBag.ContractorTypes));
        _oCheckedByUsers = @Html.Raw(new System.Web.Script.Serialization.JavaScriptSerializer().Serialize(ViewBag.CheckedByUsers));*@
        $(".easyui-datebox").datebox({ disabled: false });
        $(".easyui-datebox").datebox("setValue", icsdateformat(new Date()));
        InitializeAdvSearchSUReturnChallanEvents();
        InitializeSUReturnChallansEvents();
        InitializeSUReturnChallanEvents();
    });
    $(document).keydown(function (e) { if (e.keyCode == 27) { $('div').icsWindow('close'); } });
</script>
