@model ESimSol.BusinessObjects.NOA
@{
    ViewBag.Title = ViewBag.NOAOperationType.Value;
}
<html>
<body>
    @{var MenuID = HttpContext.Current.Session[SessionInfo.MenuID];}
    <div class="menuMainCollectionTable" style="width:100%;height:100%;" id="divNOA">
        <div class="easyui-panel" title="@ViewBag.NOAOperationType.Value" style="font-family:Tahoma; width:100%;height:88%">
            <fieldset>
                <legend style="text-align:left; font-weight:bold;"> @ViewBag.NOAOperationType.Value Informations : </legend>
                <table style="width: 100%;" cellspacing="1" cellpadding="1">
                    <tr>
                        <td style="width:10%; text-align:right">
                            <label>
                                @ViewBag.NOAOperationType.Value No:
                            </label>
                        </td>
                        <td style="width:25%; text-align:left">
                            @Html.TextBoxFor(model => model.NOANo, new { id = "txtNOA", disabled = "disabled", style = "width: 97%;" })
                        </td>
                        <td style="width:15%; text-align:right">
                            <label>
                                Issue Date:
                            </label>
                        </td>
                        <td style="width:10%; text-align:left">
                            <input type="text" style="width:100%;" id="txtNOADate" class="easyui-datebox" required="required" data-options="formatter:icsdateformat,parser:icsdateparser" />
                        </td>
                        <td style="width:10%; text-align:right">
                            <label>
                                Prepared By:
                            </label>
                        </td>
                        <td style="width:30%; text-align:left" colspan="3">@Html.TextBoxFor(model => model.PrepareByName, new { id = "txtPreparedBy", disabled = "disabled", style = "width:100%;" })</td>
                    </tr>
                 
                </table>
            </fieldset>

            <div style="width:99.5%;margin-top:0px; height:410px;">
                <table id="tblNOADetail" title="Product List" class="easyui-datagrid" style="width:100%; height:95%;" fitcolumns="false" rownumbers="true" singleselect="true" autorowheight="true" toolbar="#toolbar1" data-options="onClickRow: onClickRow"></table>
                <div id="toolbar1">
                    <table border="0" cellpadding="0" cellspacing="0" style="width:100%;" >
                        <tr>
                            <td style="width:20%; font-size:11px; text-align:left;"><a id="btnAddNOASignatoryComment" href="javascript:void(0)" class="easyui-linkbutton" iconcls="icon-add" plain="true">Approved(Product Wise)</a></td>
                            <td style=" width:10%; font-size:11px;">
                        @*<a id="btnRemoveDetail" href="javascript:void(0)" class="easyui-linkbutton" iconcls="icon-remove" plain="true">Remove</a>*@</td>
                        <td style="width:10%; font-size:11px; text-align:left;"><a id="btnRefreshDetail" href="javascript:void(0)" class="easyui-linkbutton" iconcls="icon-reload" plain="true">Refresh</a></td>
                        <td style="width:15%; font-size:11px; text-align:left;"><a id="btnPickDetails" href="javascript:void(0)" class="easyui-linkbutton" iconcls="icon-details" plain="true">Pick</a></td>
                        
                        <td style="width:45%; font-size:11px; text-align:right;"></td>
                        </tr>
                    </table>
                </div>
                <table style="width:100%; font-weight:bold;" border="0" cellpadding="0" cellspacing="0">
                    <tr>
                        <td style="width:70%; font-weight:bold;"><label id="lblComments"> </label></td>
                        <td style="width:5%; font-weight:bold;">Total:</td>
                        <td style="width:25%; text-align:right; font-weight:bold;"><label id="lblCurencySymbol">Tk. </label>  <label id="lblTotalAmount">0.00</label></td>
                    </tr>
                </table>
            </div>
        </div>
        <div style="font-family:Tahoma; width:100%;height:10%">
            <fieldset>
                <legend style="font-weight: bold">Action : </legend>
                <table border="0" cellspacing="2" cellpadding="2" style="width:100%; font-size: 10px; font-weight: bold">
                    <tr>
                        <td style="width:10%">
                            <a id="btnPrint" href="javascript:void(0)" class="easyui-linkbutton" iconcls="icon-print" onclick="PrintPreview()" plain="true">Preview</a>
                        </td>
                        <td style="width:30%">
                            <select style="width:50%;" id="cboNOASignatorys"></select>
                            <a id="btnBack" href="javascript:void(0)" class="easyui-linkbutton" iconcls="icon-back" plain="true"></a>
                            <a id="btnForword" href="javascript:void(0)" class="easyui-linkbutton" iconcls="icon-forword" plain="true"></a>
                            <a id="btnReload" href="javascript:void(0)" class="easyui-linkbutton" iconcls="icon-reload" plain="true"></a>
                        </td>
                        <td style="width:40%; text-align: right">
                            <input type="text" id="txtNote" style="width:100%" placeholder="Type Comment" />
                        </td>
                        <td style="width:20%;text-align: right">
                            <a id="btnSave_NOACommeny" href="javascript:void(0)" class="easyui-linkbutton" iconcls="icon-approved" plain="true">Approved</a>
                            <a id="btnApprove" href="javascript:void(0)" class="easyui-linkbutton" iconcls="icon-approved" onclick="Approve()" plain="true">Approve</a>
                            <a id="btnClose" href="javascript:void(0)" class="easyui-linkbutton" iconcls="icon-cancel" plain="true" onclick="Close()">Close</a>
                        </td>
                    </tr>
                </table>
            </fieldset>
        </div>
    </div>
    <div id="winNOASignatoryComment" class="easyui-window winstyle" title="Labdip" data-options="modal:true,closed:true,collapsible:false,minimizable:false,maximizable:false,closable:false">
        <fieldset>
            <fieldset>
                <legend>Signatory Info</legend>
                <table border="0" cellpadding="2" cellspacing="2" style="width:100%">
                    <tr>
                        <td style="width:15%; text-align:right">
                            <label>Product:</label>
                        </td>
                        <td style="width:15%; text-align:left">
                            <input id="txtProductName" style="float:left;width:100%;" disabled="disabled" />
                        </td>
                        <td style="width:25%; text-align:right">
                            <label>Current Signatory</label>
                        </td>
                        <td style="width:45%;text-align:left">
                            <input id="txtSignatory" style="width:100%;" disabled="disabled" />
                        </td>
                      
                    </tr>
                </table>
            </fieldset>
            
            <div style="padding-left:2px; padding-right:2px;">
                <table id="tblNOASignatoryComment" class="easyui-datagrid" style="height:200px; width:100%;" fitcolumns="true" rownumbers="true" pagination="false" singleselect="true" autorowheight="false">
                    <thead>
                        <tr>
                            @*<th data-options="field:'Selected',checkbox:true"> </th*@
                            <th field="Name" width="13%" align="left">Signatory Name</th>
                            <th field="SupplierName" width="18%" align="left"><label id="lblColorNoNameTwo">Supplier</label></th>
                            <th field="UnitPrice" width="10%" align="center">Unit Price</th>
                            <th field="Comment" width="40%" align="left">Comment</th>
                            <th field="DateSt" width="13%" align="left">Date</th>
                        </tr>
                    </thead>
                </table>
               
            </div>
            <fieldset>
                <legend>Comment</legend>
                <table style="width:100%">

                    <tr>
                        <td style="width:10%;text-align:right">
                            <label>Supplier :</label>
                        </td>
                        <td style="width:20%;text-align:left">
                            <select style="width: 100%;" id="cboNOAQuotation"></select>
                        </td>
                        <td style="width:10%;text-align:right">
                            <label>Comment:</label>
                        </td>
                        <td style="width:60%;text-align:left">
                            <input id="txtComment" style="width:99%;" placeholder="Comment" />
                        </td>
                      

                </table>
            </fieldset>
        </fieldset>
        <fieldset>
            <legend>Actions : </legend>
            <table border="0" cellpadding="0" cellspacing="0" style="width:100%;">
                <tr>
                    <td style="width:80%;text-align:left"></td>
                    <td style="width:10%;text-align:right">
                        <a id="btnNOASignatoryComment" href="javascript:void(0)" class="easyui-linkbutton" iconcls="icon-add" plain="true">Save</a>
                    </td>
                    <td style="width:10%; text-align:right">
                        <a id="btnCloseNOASC" href="javascript:void(0)" class="easyui-linkbutton" iconcls="icon-cancel" plain="true">Close</a>
                    </td>
                </tr>
            </table>
        </fieldset>
    </div>
</body>
</html>
<script type="text/javascript">
    var _oNOA=null;
    var _nSLNo=0;
    var _sBaseAddress="";
    var _oSupplierRateProcesss=[];
    var _sOperationType="";
    var _oAuthorizationRolesMapping=[];
    var _nMenuid = 0;
    $(document).ready(function () {
        //debugger;
        _sBaseAddress =@Html.Raw(new System.Web.Script.Serialization.JavaScriptSerializer().Serialize(HttpContext.Current.Session[SessionInfo.BaseAddress]));
        _oNOA = @Html.Raw(new System.Web.Script.Serialization.JavaScriptSerializer().Serialize(Model));
        _oSupplierRateProcesss = @Html.Raw(new System.Web.Script.Serialization.JavaScriptSerializer().Serialize(Model.SupplierRateProcess));
        _oAuthorizationRolesMapping =@Html.Raw(new System.Web.Script.Serialization.JavaScriptSerializer().Serialize(HttpContext.Current.Session[SessionInfo.AuthorizationRolesMapping]));
        var oNOASignatorys  =@Html.Raw(new System.Web.Script.Serialization.JavaScriptSerializer().Serialize(@ViewBag.NOASignatorys));
        var oNOASignatory =@Html.Raw(new System.Web.Script.Serialization.JavaScriptSerializer().Serialize(@ViewBag.NOASignatory));   
        _nMenuid = @Html.Raw(new System.Web.Script.Serialization.JavaScriptSerializer().Serialize(MenuID));
        $('#divNOA').data('NOASignatorys', oNOASignatorys);
        $('#divNOA').data('NOASignatory', oNOASignatory);
        $('#divNOA').data('NOASignatoryComment', null);
        // sessionStorage.setItem('IsClickOnPR',false);
        RefreshControl(_oNOA);
        RefreshSummary();
        $('#tblNOADetail').datagrid({onClickCell: function(index,field,value){ProcessOnclick(index,field,value);}});
        RefreshControlLayout();
        debugger;
        if(oNOASignatorys.length>0)
        {
            LodNOASignatorys(oNOASignatorys);
        }
    });

    function ProcessOnclick(index,field,value)
    {
        debugger;
        if(_sOperationType!="View NOA")
        {
            var nPostionth = 0;
            if(field.charAt(0)=="R" || field.charAt(0)=="S")
            {
                if(field.charAt(0)=="R")
                {
                    nPostionth = field.charAt(4);//just get No. of Rate
                    nPostionth = nPostionth+''+field.charAt(5);
                }else if(field.charAt(0)=="S")
                {
                    nPostionth = field.charAt(12);//just get No. of Supplier
                    nPostionth = nPostionth+''+field.charAt(13);
                }
                debugger;
                endEditing();
                $('#tblNOADetail').datagrid('selectRow', index);
                var oNOADetail = $('#tblNOADetail').datagrid('getSelected');
                if(parseFloat(oNOADetail.RequiredQty)<=0)return;
                oNOADetail= RefreshNOADetail(oNOADetail);
                oNOADetail = UpdateSupplierFieldValue(oNOADetail,parseInt(nPostionth));
                oNOADetail.Amount = parseFloat(oNOADetail.RequiredQty) * parseFloat(oNOADetail.UnitPrice);
                oNOADetail.ApprovedAmount = parseFloat(oNOADetail.PurchaseQty) * parseFloat(oNOADetail.UnitPrice);
                $('#tblNOADetail').datagrid('updateRow',{index: index,row:oNOADetail});
                endEditing();
            }
        }
    }

    function UpdateSupplierFieldValue(oNOADetail,nPostionth)
    {
        debugger;
        if( nPostionth ==1 ){oNOADetail.SupplierName1 = oNOADetail.SupplierName1+'~'+'true'; oNOADetail.SupplierID = oNOADetail.SupplierID1; oNOADetail.PQDetailID = oNOADetail.PQDetailID1; oNOADetail.UnitPrice= oNOADetail.Rate1; oNOADetail.Rate1 = oNOADetail.Rate1+'~'+'true'; }
        else if( nPostionth ==2 ){oNOADetail.SupplierName2 = oNOADetail.SupplierName2+'~'+'true';oNOADetail.SupplierID = oNOADetail.SupplierID2; oNOADetail.PQDetailID = oNOADetail.PQDetailID2;oNOADetail.UnitPrice= oNOADetail.Rate2;oNOADetail.Rate2 = oNOADetail.Rate2+'~'+'true';}
        else if( nPostionth ==3 ){oNOADetail.SupplierName3 = oNOADetail.SupplierName3+'~'+'true';oNOADetail.SupplierID = oNOADetail.SupplierID3; oNOADetail.PQDetailID = oNOADetail.PQDetailID3;oNOADetail.UnitPrice= oNOADetail.Rate3;oNOADetail.Rate3 = oNOADetail.Rate3+'~'+'true';}
        else if( nPostionth ==4 ){oNOADetail.SupplierName4 = oNOADetail.SupplierName4+'~'+'true';oNOADetail.SupplierID = oNOADetail.SupplierID4; oNOADetail.PQDetailID = oNOADetail.PQDetailID4;oNOADetail.UnitPrice= oNOADetail.Rate4;oNOADetail.Rate4 = oNOADetail.Rate4+'~'+'true';}
        else if( nPostionth ==5 ){oNOADetail.SupplierName5 = oNOADetail.SupplierName5+'~'+'true';oNOADetail.SupplierID = oNOADetail.SupplierID5; oNOADetail.PQDetailID = oNOADetail.PQDetailID5;oNOADetail.UnitPrice= oNOADetail.Rate5;oNOADetail.Rate5 = oNOADetail.Rate5+'~'+'true';}
        else if( nPostionth ==6 ){oNOADetail.SupplierName6 = oNOADetail.SupplierName6+'~'+'true';oNOADetail.SupplierID = oNOADetail.SupplierID6; oNOADetail.PQDetailID = oNOADetail.PQDetailID6;oNOADetail.UnitPrice= oNOADetail.Rate6;oNOADetail.Rate6 = oNOADetail.Rate6+'~'+'true';}
        else if( nPostionth ==7 ){oNOADetail.SupplierName7 = oNOADetail.SupplierName7+'~'+'true';oNOADetail.SupplierID = oNOADetail.SupplierID7; oNOADetail.PQDetailID = oNOADetail.PQDetailID7;oNOADetail.UnitPrice= oNOADetail.Rate7;oNOADetail.Rate7 = oNOADetail.Rate7+'~'+'true';}
        else if( nPostionth ==8 ){oNOADetail.SupplierName8 = oNOADetail.SupplierName8+'~'+'true';oNOADetail.SupplierID = oNOADetail.SupplierID8; oNOADetail.PQDetailID = oNOADetail.PQDetailID8;oNOADetail.UnitPrice= oNOADetail.Rate8;oNOADetail.Rate8 = oNOADetail.Rate8+'~'+'true';}
        else if( nPostionth ==9 ){oNOADetail.SupplierName9 = oNOADetail.SupplierName9+'~'+'true';oNOADetail.SupplierID = oNOADetail.SupplierID9; oNOADetail.PQDetailID = oNOADetail.PQDetailID9;oNOADetail.UnitPrice= oNOADetail.Rate9;oNOADetail.Rate9 = oNOADetail.Rate9+'~'+'true';}
        else if( nPostionth ==10 ){oNOADetail.SupplierName10 = oNOADetail.SupplierName10+'~'+'true';oNOADetail.SupplierID = oNOADetail.SupplierID10; oNOADetail.PQDetailID = oNOADetail.PQDetailID10;oNOADetail.UnitPrice= oNOADetail.Rate10;oNOADetail.Rate10 = oNOADetail.Rate10+'~'+'true'}
        else if( nPostionth ==11 ){oNOADetail.SupplierName11 = oNOADetail.SupplierName11+'~'+'true';oNOADetail.SupplierID = oNOADetail.SupplierID11;oNOADetail.PQDetailID = oNOADetail.PQDetailID11; oNOADetail.UnitPrice= oNOADetail.Rate11;oNOADetail.Rate11 = oNOADetail.Rate11+'~'+'true';}
        else if( nPostionth ==12 ){oNOADetail.SupplierName12 = oNOADetail.SupplierName12+'~'+'true';oNOADetail.SupplierID = oNOADetail.SupplierID12; oNOADetail.PQDetailID = oNOADetail.PQDetailID12;oNOADetail.UnitPrice= oNOADetail.Rate12;oNOADetail.Rate12 = oNOADetail.Rate12+'~'+'true';}
        else if( nPostionth ==13 ){oNOADetail.SupplierName13 = oNOADetail.SupplierName13+'~'+'true';oNOADetail.SupplierID = oNOADetail.SupplierID13; oNOADetail.PQDetailID = oNOADetail.PQDetailID13;oNOADetail.UnitPrice= oNOADetail.Rate13;oNOADetail.Rate13 = oNOADetail.Rate13+'~'+'true';}
        else if( nPostionth ==14 ){oNOADetail.SupplierName14 = oNOADetail.SupplierName14+'~'+'true';oNOADetail.SupplierID = oNOADetail.SupplierID14; oNOADetail.PQDetailID = oNOADetail.PQDetailID14;oNOADetail.UnitPrice= oNOADetail.Rate14;oNOADetail.Rate14 = oNOADetail.Rate14+'~'+'true';}
        else if( nPostionth ==15 ){oNOADetail.SupplierName15 = oNOADetail.SupplierName15+'~'+'true';oNOADetail.SupplierID = oNOADetail.SupplierID15; oNOADetail.PQDetailID = oNOADetail.PQDetailID15;oNOADetail.UnitPrice= oNOADetail.Rate15;oNOADetail.Rate15 = oNOADetail.Rate15+'~'+'true';}

        return oNOADetail;
    }

    function RefreshNOADetail(oNOADetail)
    {
        debugger;
        oNOADetail.SupplierName1 = oNOADetail.SupplierName1.split('~')[0];oNOADetail.Rate1 = oNOADetail.Rate1.split('~')[0];
        oNOADetail.SupplierName2 = oNOADetail.SupplierName2.split('~')[0];oNOADetail.Rate2 = oNOADetail.Rate2.split('~')[0];
        oNOADetail.SupplierName3 = oNOADetail.SupplierName3.split('~')[0];oNOADetail.Rate3 = oNOADetail.Rate3.split('~')[0];
        oNOADetail.SupplierName4 = oNOADetail.SupplierName4.split('~')[0];oNOADetail.Rate4 = oNOADetail.Rate4.split('~')[0];
        oNOADetail.SupplierName5 = oNOADetail.SupplierName5.split('~')[0];oNOADetail.Rate5 = oNOADetail.Rate5.split('~')[0];
        oNOADetail.SupplierName6 = oNOADetail.SupplierName6.split('~')[0];oNOADetail.Rate6 = oNOADetail.Rate6.split('~')[0];
        oNOADetail.SupplierName7 = oNOADetail.SupplierName7.split('~')[0];oNOADetail.Rate7 = oNOADetail.Rate7.split('~')[0];
        oNOADetail.SupplierName8 = oNOADetail.SupplierName8.split('~')[0];oNOADetail.Rate8 = oNOADetail.Rate8.split('~')[0];
        oNOADetail.SupplierName9 = oNOADetail.SupplierName9.split('~')[0];oNOADetail.Rate9 = oNOADetail.Rate9.split('~')[0];
        oNOADetail.SupplierName10 = oNOADetail.SupplierName10.split('~')[0];oNOADetail.Rate10 = oNOADetail.Rate10.split('~')[0];
        oNOADetail.SupplierName11 = oNOADetail.SupplierName11.split('~')[0];oNOADetail.Rate11 = oNOADetail.Rate11.split('~')[0];
        oNOADetail.SupplierName12 = oNOADetail.SupplierName12.split('~')[0];oNOADetail.Rate12 = oNOADetail.Rate12.split('~')[0];
        oNOADetail.SupplierName13 = oNOADetail.SupplierName13.split('~')[0];oNOADetail.Rate13 = oNOADetail.Rate13.split('~')[0];
        oNOADetail.SupplierName14= oNOADetail.SupplierName14.split('~')[0];oNOADetail.Rate14 = oNOADetail.Rate14.split('~')[0];
        oNOADetail.SupplierName15 = oNOADetail.SupplierName15.split('~')[0];oNOADetail.Rate15 = oNOADetail.Rate15.split('~')[0];
        oNOADetail.PurchaseQty = oNOADetail.PurchaseQty;
        return oNOADetail;
    }

    //Delete Detail
    $("#btnRemoveDetail").click(function () {
        var oNOADetail = $('#tblNOADetail').datagrid('getSelected');
        if (oNOADetail == null) {
            alert("Invalid Selection!!! please select a valid Item!");
            return false;
        }
        if (!confirm("Confirm to Delete?")) return;
        var SelectedRowIndex = $('#tblNOADetail').datagrid('getRowIndex', oNOADetail);
        if (parseInt(oNOADetail.NOADetailID)> 0)
        {
            debugger;
            $.ajax
            ({
                type: "GET",
                dataType: "json",
                url : _sBaseAddress+ "/NOA/DeleteDetail",
                data: {nNOAID:_oNOA.NOAID,nNOADetailID:oNOADetail.NOADetailID},
                contentType: "application/json; charset=utf-8",
                success: function (data) {
                    debugger;
                    oSupplierRateProcesss = jQuery.parseJSON(data);
                    if (oSupplierRateProcesss[0].ErrorMessage=="" || oSupplierRateProcesss[0].ErrorMessage==null)
                    {
                        alert("Delete sucessfully");
                        //$('#tblNOADetail').datagrid('deleteRow',SelectedRowIndex);
                        DynamicRefreshList(oSupplierRateProcesss,'tblNOADetail');
                    }
                    else
                    {
                        alert(oSupplierRateProcesss[0].ErrorMessage);
                    }
                },
                error: function (xhr, status, error)
                {
                    alert(error);
                }

            });
        }
    });
    //btnRefreshDetail
    $("#btnRefreshDetail").click(function () {
        var oNOADetail = $('#tblNOADetail').datagrid('getSelected');
        if(oNOADetail== null)
        {
            alert("Please select Detail ");
            return;
        }
        var SelectedRowIndex = $('#tblNOADetail').datagrid('getRowIndex', oNOADetail);
        oNOADetail = RefreshNOADetail(oNOADetail);
        oNOADetail.UnitPrice = 0;
        oNOADetail.Amount = 0;
        //oNOADetail.ApprovedAmount = parseFloat(oNOADetail.PurchaseQty) * parseFloat(oNOADetail.UnitPrice);
        $('#tblNOADetail').datagrid('updateRow',{index: SelectedRowIndex,row:oNOADetail});
        endEditing();
    });

    function RefreshObjectNOA()
    {
        var oNOA = {
            NOAID : _oNOA.NOAID,
            NOANo :_oNOA.NOANo,
            NOADate :$('#txtNOADate').datebox('getValue'),
            BUID:_oNOA.BUID,
            Note:$('#txtNote').val(),
            NOADetailLst:GetDetailList()
        };
        return oNOA;
    }

    function GetDetailList()
    {
        var oRows = $('#tblNOADetail').datagrid('getRows');
        var oTempNOADetails = [];
        for(var i = 0;i<oRows.length;i++)
        {
            var oNOADetail ={
                NOADetailID:oRows[i].NOADetailID,
                NOAID:_oNOA.NOAID,
                ProductID:oRows[i].ProductID,
                MUnitID:oRows[i].MUnitID,
                RequiredQty:oRows[i].RequiredQty,
                PurchaseQty:oRows[i].PurchaseQty,
                ApprovedRate:oRows[i].UnitPrice,
                PQDetailID:oRows[i].PQDetailID,
                Note:oRows[i].Remark
            };
            oTempNOADetails.push(oNOADetail);
        }
        return oTempNOADetails;
    }

    function ValidateInput()
    {
        if(_oNOA.BUID<=0)
        {
            alert("Please pick Business Unit");
            $('#txtBusinessUnit').focus();
            return false;
        }

        if(($('#tblNOADetail').datagrid('getRows')).length<=0)
        {

            alert("Please Add at least one Product");
            return false;
        }
        var oNOADetails = $('#tblNOADetail').datagrid('getRows');
        for(var i = 0;i<oNOADetails.length;i++)
        {
            if(parseFloat(oNOADetails[i].RequiredQty)>0)
            {
                if(parseInt(oNOADetails[i].SupplierID)<=0)
                {
                    alert("Plese Choose a Suplier for "+oNOADetails[i].ProductName);
                    return false;
                }
                if(parseFloat(oNOADetails[i].UnitPrice)<=0)
                {
                    alert("Plese enter Unit Price for "+oNOADetails[i].ProductName);
                    return false;
                }
            }
        }
        return true;
    }

    function RefreshControl(oNOA)
    {
        debugger;
        $('#txtNOADate').datebox('setValue', oNOA.NOADateInString);
        $( "#btnPrint" ).hide();
        if (parseInt(oNOA.NOAID) > 0)
        {
            //$('#txtNote').val(oNOA.Note);
            $( "#btnPrint" ).show();
        }
        if(parseInt(oNOA.ApproveBy)!=0)
        {
            $('#btnApprove,#btnRefreshDetail').hide();
        }
        MakeDetailTable(_oSupplierRateProcesss);
    }

    function MakeDetailTable(oDetailList)
    {
        var tblColums=[], childcolumns=[];
        var oColumn=null;
        oColumn= { field :"ProductName", title:"Item Name", width:"200", rowspan:2};
        tblColums.push(oColumn);
        var count =0;
        var nMexSupplierCount = GetMaxSupplierCount(oDetailList);
        for(var i=0; i<nMexSupplierCount;i++)
        {
            count++;
            oColumn= {
                field:"col"+count,
                title: 'Supplier #'+count,
                width: "220",
                align: "right",
                rowspan:1,
                colspan:2
            };
            tblColums.push(oColumn);

            oColumn= {
                field:"SupplierName"+count,
                title: 'Supplier',
                width: "158",
                align: "left",
                styler: function(value,row,index){ return cellStyler(value);},
                formatter: function(value,row,index){ return value.split('~')[0];}
            };
            childcolumns.push(oColumn);

            oColumn= {
                field:"Rate"+count,
                title: 'Rate',
                width: "60",
                align: "right",
                styler: function(value,row,index){ return cellStyler(value);},
                formatter: function(value,row,index){ return formatPrice( value.split('~')[0]);}
            };
            childcolumns.push(oColumn);
        }
        oColumn= { field :"UnitName", title:"Unt", width:"60",  align: "left",rowspan:2};
        tblColums.push(oColumn);

        oColumn= { field :"UnitPrice", title:"Unt Price", width:"90",  align: "right",rowspan:2, formatter:formatPrice};
        tblColums.push(oColumn);

        oColumn= { field :"RequiredQty", title:"Required Quantity", width:"100",  align: "right",rowspan:2};
        tblColums.push(oColumn);

        oColumn= { field :"PurchaseQty", title:"Approve Quantity", width:"100",  align: "right",rowspan:2, editor: {type:'numberbox',options:{ precision:0}}};
        tblColums.push(oColumn);

        oColumn= { field :"Amount", title:"Amount", width:"90",  align: "right",rowspan:2, formatter:formatPrice};
        tblColums.push(oColumn);

        oColumn= { field :"ApprovedAmount", title:"ApprovedAmount", width:"90",  align: "right",rowspan:2, formatter:formatPrice};
        tblColums.push(oColumn);

        oColumn= { field :"Remark", title:"Remark", width:"70",  align: "left",rowspan:2,  editor: {type:'text',options:{ precision:0}}};
        tblColums.push(oColumn);

        oColumn= { field :"DeliveryFromStockQty", title:"Avilable Stock", width:"90",  align: "right",rowspan:2};
        tblColums.push(oColumn);

        $('#tblNOADetail').datagrid({columns:[tblColums,childcolumns]});

        DynamicRefreshList(oDetailList,'tblNOADetail');
        RefreshSummary();
    }

    function GetMaxSupplierCount(oDatList)
    {
        var nMaxSupplierCount= 0;
        if(oDatList.length>0)
        {
            for(var i = 0;i<oDatList.length;i++)
            {
                if(parseInt( oDatList[i].MaxSupplierCount)> parseInt(nMaxSupplierCount))
                {
                    nMaxSupplierCount = oDatList[i].MaxSupplierCount;
                }
            }
        }
        return nMaxSupplierCount;
    }

    function cellStyler(value)
    {
        debugger;
        //var nbIsclickOnPR = JSON.parse(sessionStorage.getItem('IsClickOnPR'));
        //if(nbIsclickOnPR==true)
        //{
        //    sessionStorage.setItem('IsClickOnPR',false);
        //    return;
        //}
        var sPlitedValue = value.split('~')[1];
        if (sPlitedValue!=null && sPlitedValue!="" && sPlitedValue!=undefined)
        {
            if(sPlitedValue=='true' && _oNOA.ApproveBy!=0)
            {
                return 'background-color:#419641;color:white;';//green
            }
            else if(sPlitedValue=='true' && _oNOA.ApproveBy==0)
            {
                return 'background-color:#265a88;color:white;';
            }
            else{
                return 'background-color:white;color:blck;';
            }
        }
    }

    var editIndex = undefined;
    function endEditing(){
        if (editIndex == undefined){return true}
        if ($('#tblNOADetail').datagrid('validateRow', editIndex)){
            $('#tblNOADetail').datagrid('endEdit', editIndex);
            $('#tblNOADetail').datagrid('selectRow',editIndex);
            debugger;
            var oNOADetail = $('#tblNOADetail').datagrid('getSelected');
            if(oNOADetail!=null)
            {
                oNOADetail.PurchaseQty = oNOADetail.PurchaseQty;
                oNOADetail.ApprovedAmount = parseFloat(oNOADetail.PurchaseQty) * parseFloat(oNOADetail.UnitPrice)
                $('#tblNOADetail').datagrid('updateRow', { index: editIndex, row: oNOADetail });
            }
            RefreshSummary();
            editIndex = undefined;
            return true;
        }
        else
        {
            return false;
        }
    }
    function onClickRow(index){
        if (editIndex != index){
            if (endEditing())
            {
                $('#tblNOADetail').datagrid('selectRow', index).datagrid('beginEdit', index);
                editIndex = index;
            }
            else
            {
                $('#tblNOADetail').datagrid('selectRow', editIndex);
            }
        }
    }


    function PrintPreview()
    {
        if(_oNOA==null || _oNOA.NOAID<=0)
        {
            alert("Please Without Save  can't print NOA !");
            return;
        }
        window.open(_sBaseAddress + '/NOA/PrintNOAWithFormat?id='+_oNOA.NOAID+'&bWithTechHead='+true+"&bIsNormalFormat="+false);
    }
    function Approve()
    {
        //debugger;
        if(!ValidateInput())return;
        _oNOA = RefreshObjectNOA();
        if(_oNOA==null || _oNOA.NOAID<=0)
        {
            alert("without save can't Approve!");
            return false;
        }

        if (!confirm("Confirm to Approve?")) return ;

        $.ajax
        ({
            type: "POST",
            dataType: "json",
            url : _sBaseAddress+ "/NOA/Approve",
            traditional: true,
            data: JSON.stringify(_oNOA),
            contentType: "application/json; charset=utf-8",
            success: function (data) {
                debugger;
                oNOA = jQuery.parseJSON(data);

                if (oNOA.ErrorMessage==null || oNOA.ErrorMessage=="")
                {
                    alert("Sucessfully Approved");
                    var oNOAs = sessionStorage.getItem("NOAs");
                    var nIndex = parseInt(sessionStorage.getItem("SelectedRowIndex"));
                    if (oNOAs != null)
                    {
                        oNOAs = jQuery.parseJSON(oNOAs);
                    }
                    else
                    {
                        oNOAs = [];
                    }
                    if (nIndex != -1) {
                        oNOAs[nIndex] = oNOA;
                    }
                    else {
                        sessionStorage.setItem("SelectedRowIndex", oNOAs.length);
                        oNOAs.push(oNOA);
                    }
                    sessionStorage.setItem("NOAs", JSON.stringify(oNOAs));
                    window.location.href = sessionStorage.getItem("BackLink");
                }
                else
                {
                    alert(oNOA.ErrorMessage);
                }
            },
            error: function (xhr, status, error)
            {
                alert(error);
            }

        });
    }

    function RefreshSummary()
    {
        var oNOADetail = $('#tblNOADetail').datagrid('getRows');
        var nTotalAmount = 0;
        for(var i = 0; i<oNOADetail.length;i++)
        {
            nTotalAmount+=parseFloat(oNOADetail[i].ApprovedAmount);

        }
        document.getElementById('lblCurencySymbol').innerHTML ='';
        document.getElementById('lblTotalAmount').innerHTML = formatPrice(nTotalAmount,0);

    }

    function formatProductWithRequiredQty(value)
    {
        var values=value.split("~");
        var RequiredQty=values[0];
        var nProductID=values[1];
        var s = '<a  href="javascript:void(0)"  onclick = "PickRequisitionDetail('+nProductID+')"">'+RequiredQty+'</a>';
        return s;
    }


    $('#btnPickDetails').click(function(e){
        var oNOADetail = $('#tblNOADetail').datagrid('getSelected');
        if (oNOADetail == null) {
            alert("Invalid Selection!!! please select a valid Item!");
            return false;
        }
        //  debugger;
        if(parseInt(oNOADetail.ProductID)<=0)
        {
            alert("Sorry, there is no Product.");
            return;
        }
        // sessionStorage.setItem('IsClickOnPR',true);
        var oNOA = {
            Note: _oNOA.NOAID + '~' +oNOADetail.ProductID
        };
        var obj = {
            BaseAddress: _sBaseAddress,
            Object: oNOA,
            ControllerName: "PurchaseRequisition",
            ActionName: "GetRequistionDetails",
            IsWinClose: false
        };
        $.icsDataGets(obj, function (response) {

            if (response.status && response.objs.length > 0) {
                if (response.objs[0].PRDetailID > 0) {
                    var tblColums = [];var oColumn = { field: "PRNo", title: "Req No", width: 80, align: "left" }; tblColums.push(oColumn);
                    oColumn = { field: "ProductName", title: "Product", width: 150, align: "left" }; tblColums.push(oColumn);
                    oColumn = { field: "RequirementDateInString", title: "Required Date", width: 90, align: "left" }; tblColums.push(oColumn);
                    oColumn = { field: "PrepareByName", title: "Requsition By", width: 100, align: "left" }; tblColums.push(oColumn);
                    oColumn = { field: "UnitSymbol", title: "Unit", width: 50, align: "left" }; tblColums.push(oColumn);
                    oColumn = { field: "Qty", title: "Quantity", width: 100, align: "right" }; tblColums.push(oColumn);
                    var oPickerParam = {
                        winid: 'winPRD',
                        winclass: 'clsPRD',
                        winwidth: 650,
                        winheight: 460,
                        tableid: 'tblPRDs',
                        tablecolumns: tblColums,
                        datalist: response.objs,
                        multiplereturn: false,
                        searchingbyfieldName: 'ProductName',
                        windowTittle: 'Requisition List'
                    };
                    $.icsPicker(oPickerParam);
                    $("#winPRD").find("#btnOk").hide();
                }
                else { alert(response.objs[0].ErrorMessage); }
            }else{
                alert("No Item in List");
            }
        });
    });


    function Close()
    {
        window.location.href = sessionStorage.getItem("BackLink");
    }

    $(document).keydown(function(e) {
        if(e.which == 27)//escape=27
        {
            window.location.href = _sCOGSBackTo;
        }
    });

    ////Signatory
    $("#btnAddNOASignatoryComment").click(function () {
        $("#winNOASignatoryComment").icsWindow("open", "Add Labdip");
        var oNOADetail = $('#tblNOADetail').datagrid('getSelected');
        if (oNOADetail == null) {
            alert("Invalid Selection!!! please select a valid Item!");
            return false;
        }
        debugger;
        if(parseInt(oNOADetail.ProductID)<=0)
        {
            alert("Sorry, there is no Product.");
            return;
        }
        if(parseInt(oNOADetail.NOADetailID)<=0)
        {
            alert("Sorry, there is no Product.");
            return;
        }

        DynamicRefreshList([], 'tblNOASignatoryComment');
        GetsNOASignatoryComment(oNOADetail);

    });

    function GetsNOASignatoryComment(oNOADetail)
    {
        var nNOASignatoryID=0;
        if($('#divNOA').data('NOASignatory')!=null)
        {
            nNOASignatoryID=$('#divNOA').data('NOASignatory').NOASignatoryID;
            $('#txtSignatory').val("["+$('#divNOA').data('NOASignatory').SLNo+"] ["+$('#divNOA').data('NOASignatory').HeadName+"] "+$('#divNOA').data('NOASignatory').Name_Request);
        }
        else  { $('#txtSignatory').val("")}

        var oNOASignatoryComment = { NOADetailID: oNOADetail.NOADetailID,NOASignatoryID: nNOASignatoryID  }
        var obj =
        {
            BaseAddress: _sBaseAddress,
            Object: oNOASignatoryComment,
            ControllerName: "NOASignatory",
            ActionName: "GetByNOADetail",
            IsWinClose: false
        };
        debugger;

        $.icsDataGet(obj, function (response) {

            if (response.status && response.obj != null)
            {
                var oNOASignatoryComments=response.obj.NOASignatoryComments;
                var oNOAQuotations =response.obj.NOAQuotations;
                $('#txtProductName').val(response.obj.ProductName);
                $('#txtComment').val(response.obj.Comment);
                $('#divNOA').data('NOASignatoryComment', response.obj);
                $("#cboNOAQuotation").icsLoadCombo({
                    List: oNOAQuotations,
                    OptionValue: "PQDetailID",
                    DisplayText: "SupplierName"
                });
                $('#cboNOAQuotation').val(response.obj.PQDetailID);
                if(oNOASignatoryComments.length > 0)
                {
                    debugger;
                    DynamicRefreshList(oNOASignatoryComments, 'tblNOASignatoryComment');

                }
            }

        });

    }
    $("#btnCloseNOASC").click(function () {
        $("#winNOASignatoryComment").icsWindow('close');
        $(".wininputfieldstyle input").val("");
        //$("#chkIsOwnFabric").prop("checked", false);
    });
    $("#btnNOASignatoryComment").click(function () {
        //if (!Validation()) return false;
        //if (!ValidateInputLabdip()) return false;
        endEditing();
        var oNOADetail = $('#tblNOADetail').datagrid('getSelected');
        if (oNOADetail == null) {
            alert("Invalid Selection!!! please select a valid Item!");
            return false;
        }
        //  debugger;
        if(parseInt(oNOADetail.ProductID)<=0)
        {
            alert("Sorry, there is no Product.");
            return;
        }
        if(parseInt(oNOADetail.NOADetailID)<=0)
        {
            alert("Sorry, there is no Product.");
            return;
        }
        var nNOASignatoryID=0;
        if($('#divNOA').data('NOASignatory')!=null)
        {
            nNOASignatoryID=$('#divNOA').data('NOASignatory').NOASignatoryID;
        }
        var nNOASignatoryCommentID=0;
        if($('#divNOA').data('NOASignatoryComment')!=null)
        {
            nNOASignatoryCommentID=$('#divNOA').data('NOASignatoryComment').NOASignatoryCommentID;
        }

        var oNOASignatoryComment = {
            NOASignatoryCommentID:nNOASignatoryCommentID,
            NOADetailID:oNOADetail.NOADetailID,
            PurchaseQty:oNOADetail.PurchaseQty,
            PQDetailID: $('#cboNOAQuotation').val(),
            Comment: $.trim($('#txtComment').val()),
            Note: $.trim($('#txtNote').val()),
            IsAllSave:false,
            NOASignatoryID:nNOASignatoryID
        }



        var obj = {
            BaseAddress: _sBaseAddress,
            Object: oNOASignatoryComment,
            ObjectId: oNOASignatoryComment.NOASignatoryCommentID,
            ControllerName: "NOASignatory",
            ActionName: "SaveNOASIGComment",
            TableId: ((oNOASignatoryComment != null) ? "tblNOASignatoryComment" : ""),
            IsWinClose: true,
            Message: (oNOASignatoryComment.NOASignatoryCommentID> 0) ? "(Update)Approved Successfully." : "Approved Successfully."
        };
        $.icsSave(obj, function (response) {
            if (response.status && response.obj != null) {
             
                debugger;
                if (response.obj.NOASignatoryCommentID > 0) {
                    $('#divNOA').data('NOASignatoryComment', response.obj);
                    $("#winNOASignatoryComment").icsWindow('close');
                   
                }
            }
        });
    });

    function GETPQDetailID(oSupplierRateProcess)
    {
        if(oSupplierRateProcess.Rate1!=null || oSupplierRateProcess.Rate1!=""){if(oSupplierRateProcess.Rate1.split('~')[1]=='true'){return oSupplierRateProcess.PQDetailID1;}}
        if(oSupplierRateProcess.Rate2!=null || oSupplierRateProcess.Rate2!=""){if(oSupplierRateProcess.Rate2.split('~')[1]=='true'){return oSupplierRateProcess.PQDetailID2;}}
        if(oSupplierRateProcess.Rate3!=null || oSupplierRateProcess.Rate3!=""){if(oSupplierRateProcess.Rate3.split('~')[1]=='true'){return oSupplierRateProcess.PQDetailID3;}}
        if(oSupplierRateProcess.Rate4!=null || oSupplierRateProcess.Rate4!=""){if(oSupplierRateProcess.Rate4.split('~')[1]=='true'){return oSupplierRateProcess.PQDetailID4;}}
        if(oSupplierRateProcess.Rate5!=null || oSupplierRateProcess.Rate5!=""){if(oSupplierRateProcess.Rate5.split('~')[1]=='true'){return oSupplierRateProcess.PQDetailID5;}}
        if(oSupplierRateProcess.Rate6!=null || oSupplierRateProcess.Rate6!=""){if(oSupplierRateProcess.Rate6.split('~')[1]=='true'){return oSupplierRateProcess.PQDetailID6;}}
        if(oSupplierRateProcess.Rate7!=null || oSupplierRateProcess.Rate7!=""){if(oSupplierRateProcess.Rate7.split('~')[1]=='true'){return oSupplierRateProcess.PQDetailID7;}}
        if(oSupplierRateProcess.Rate8!=null || oSupplierRateProcess.Rate8!=""){if(oSupplierRateProcess.Rate8.split('~')[1]=='true'){return oSupplierRateProcess.PQDetailID8;}}
        if(oSupplierRateProcess.Rate9!=null || oSupplierRateProcess.Rate9!=""){if(oSupplierRateProcess.Rate9.split('~')[1]=='true'){return oSupplierRateProcess.PQDetailID9;}}
        if(oSupplierRateProcess.Rate10!=null || oSupplierRateProcess.Rate10!=""){if(oSupplierRateProcess.Rate10.split('~')[1]=='true'){return oSupplierRateProcess.PQDetailID10;}}
        if(oSupplierRateProcess.Rate11!=null || oSupplierRateProcess.Rate11!=""){if(oSupplierRateProcess.Rate11.split('~')[1]=='true'){return oSupplierRateProcess.PQDetailID11;}}
        if(oSupplierRateProcess.Rate12!=null || oSupplierRateProcess.Rate12!=""){if(oSupplierRateProcess.Rate12.split('~')[1]=='true'){return oSupplierRateProcess.PQDetailID12;}}
        if(oSupplierRateProcess.Rate13!=null || oSupplierRateProcess.Rate13!=""){if(oSupplierRateProcess.Rate13.split('~')[1]=='true'){return oSupplierRateProcess.PQDetailID13;}}
        if(oSupplierRateProcess.Rate14!=null || oSupplierRateProcess.Rate14!=""){if(oSupplierRateProcess.Rate14.split('~')[1]=='true'){return oSupplierRateProcess.PQDetailID14;}}
        if(oSupplierRateProcess.Rate15!=null || oSupplierRateProcess.Rate15!=""){if(oSupplierRateProcess.Rate15.split('~')[1]=='true'){return oSupplierRateProcess.PQDetailID15;}}
           
    }

    $('#btnSave_NOACommeny').click(function(e){
        debugger;
        if(parseInt(_oNOA.NOAID)<=0)
        {
            alert("Data not found");
            return;
        }
        if(!ValidateInput())return;
        var oRows = $('#tblNOADetail').datagrid('getRows');
        if(oRows.length<=0)
        {
            alert("Data not found");
            return;
        }
        endEditing();

        var nNOASignatoryID=0;
        if($('#divNOA').data('NOASignatory')!=null)
        {
            nNOASignatoryID=$('#divNOA').data('NOASignatory').NOASignatoryID;
        }
        if(nNOASignatoryID<=0 || nNOASignatoryID==null)
        {
            alert("ou are not authorized. (Requested user and Signatory user not samee).Contract your admin");
            return;
        }
        debugger;
        var oNOASignatoryComments = [];
        for(var i = 0;i<oRows.length;i++)
        {
                var oNOASignatoryComment ={
                    NOASignatoryCommentID:0,
                    NOADetailID:oRows[i].NOADetailID,
                    PQDetailID:GETPQDetailID(oRows[i]),
                    ProductID:oRows[i].ProductID,
                    MUnitID:oRows[i].MUnitID,
                    PurchaseQty:oRows[i].PurchaseQty,
                    NOASignatoryID:nNOASignatoryID,
                    Comment:oRows[i].Remark,
                    IsAllSave:true,
                    Note: $.trim($('#txtNote').val())
                };
                oNOASignatoryComments.push(oNOASignatoryComment);
            
        }

        $.ajax({
            type: "POST",
            dataType: "json",
            url : _sBaseAddress+"/NOASignatory/SaveNOASIGCommentAll",
            traditional: true,
            data:  JSON.stringify(oNOASignatoryComments),
            contentType: "application/json; charset=utf-8",
            success: function (data) {
                oNOASignatoryComments =jQuery.parseJSON(data);

                if (oNOASignatoryComments[0].ErrorMessage == '' || oNOASignatoryComments[0].ErrorMessage == null)
                {

                    alert("Approved Successfully");

                }
                else
                {
                    alert(oNOASignatoryComments[0].ErrorMessage);
                }
            },
            error: function (xhr, status, error)
            {
                alert(xhr+'~' +status+'~'+error);
            }
        });
    });
    function LodNOASignatorys(oNOASignatorys)
    {
        var  nNOASignatoryID=0;
        if($('#divNOA').data('NOASignatory')!=null)
        {
            var  nNOASignatoryID=$('#divNOA').data('NOASignatory').NOASignatoryID;
            _nSLNo=$('#divNOA').data('NOASignatory').SLNo;
            //$('#txtNote').val($('#divNOA').data('NOASignatory').Note);
            document.getElementById('lblComments').innerHTML = $('#divNOA').data('NOASignatory').RequestTo+": "+$('#divNOA').data('NOASignatory').Note;
        }
        $("#cboNOASignatorys").icsLoadCombo({
            List: oNOASignatorys,
            OptionValue: "NOASignatoryID",
            DisplayText: "Name_Request"
        });
        if(nNOASignatoryID!=null)  {$('#cboNOASignatorys').val(nNOASignatoryID);}
    }
    $('#btnBack').click(function(e){
        debugger;
     
        var  oNOASignatorys=$('#divNOA').data('NOASignatorys');
        _nSLNo--;
        if(_nSLNo<=0)
        {
            _nSLNo=1;
        }
        for(var i =0;i<oNOASignatorys.length;i++)
        {
            if(oNOASignatorys[i].SLNo ==_nSLNo )
            {
                $("#cboNOASignatorys").val(oNOASignatorys[i].NOASignatoryID);
                //$('#txtNote').val(oNOASignatorys[i].Note);
                document.getElementById('lblComments').innerHTML =oNOASignatorys[i].Name_Request+":"+oNOASignatorys[i].Note;
                break;
            }
        }
        RefreshRate();
    });
    $('#btnForword').click(function(e){
        debugger;
       
        //if( $("#cboNOASignatorys").val()==null)
        //{
        //    var  nSLNo=$('#divNOA').data('NOASignatory').SLNo;
        //}
        var  oNOASignatorys=$('#divNOA').data('NOASignatorys');
        _nSLNo++;
        if(oNOASignatorys.length<_nSLNo)
        {
            _nSLNo--;
        }
        for(var i =0;i<oNOASignatorys.length;i++)
        {
            if(oNOASignatorys[i].SLNo ==_nSLNo )
            {
                $("#cboNOASignatorys").val(oNOASignatorys[i].NOASignatoryID);
                //$('#txtNote').val(oNOASignatorys[i].Note);
                document.getElementById('lblComments').innerHTML =oNOASignatorys[i].Name_Request+":"+oNOASignatorys[i].Note;
                break;
            }
        }
        RefreshRate();
    });
    $('#btnReload').click(function(e){
        debugger;
        if(parseInt($("#cboNOASignatorys").val())<=0)
        {
            $('#cboNOASignatorys').focus();
            $('#cboNOASignatorys').addClass("errorFieldBorder");
            alert('Select Signatory.');
            return ;
        }
    
        RefreshRate();
    });
    function RefreshRate()
    {
        debugger;
        var oSupplierRateProcesss=[];
        var oNOASignatory = {
            NOASignatoryID:parseInt($("#cboNOASignatorys").val()),
            NOAID:_oNOA.NOAID
        };
        var obj = {
            BaseAddress: _sBaseAddress,
            Object: oNOASignatory,
            ControllerName: "NOA",
            ActionName: "GetsRateBySignatory",
            IsWinClose: false
        };

        $.icsDataGets(obj, function (response) {

            if (response.status && response.objs.length > 0)
            {
                oSupplierRateProcesss=response.objs;
                if(oSupplierRateProcesss.length>0){
                    MakeDetailTable(oSupplierRateProcesss);}
            }
        });
    }

    function RefreshControlLayout()
    {
        $('#btnSave_NOACommeny,#btnApprove,#btnAddNOASignatoryComment').hide();
        if(HavePermission('Signatory_Approve','NOA')){ $('#btnSave_NOACommeny,#btnAddNOASignatoryComment').show();}
        if(HavePermission('Approved','NOA')){ $('#btnApprove').show();}

    }

    function HavePermission(sOperationType, sDbObject)
    {
        var nSessionID =@Html.Raw(new System.Web.Script.Serialization.JavaScriptSerializer().Serialize(HttpContext.Current.Session[SessionInfo.currentUserID]));
        if(nSessionID == -9)
        {
            return true;
        }
        else
        {
            for(var i =0;i<_oAuthorizationRolesMapping.length;i++)
            {
                if(_oAuthorizationRolesMapping[i].OperationTypeST == sOperationType && _oAuthorizationRolesMapping[i].ModuleNameST == sDbObject)
                    return  true;
            }
            return false;
        }
    }
</script>
