
@model ESimSol.BusinessObjects.NOA
@{
    ViewBag.Title = ViewBag.NOAOperationType.Value;
}
<html>

<body>
    <div id="divNOA" class="easyui-panel menuMainCollectionTable" title="Add @ViewBag.NOAOperationType.Value" style="font-family:Tahoma; height:100%; width:100%;overflow:hidden;">
        <div style="height:88%;width:100%;overflow:hidden;">
            <div style="width:100%;height:18%;">
                <fieldset>
                    <legend style="text-align:left; font-weight:bold;"> @ViewBag.NOAOperationType.Value Informations : </legend>
                    <table style="width: 100%;" cellspacing="1" cellpadding="1">
                        <tr>
                            <td style="width:10%; text-align:right">
                                <label>
                                    @ViewBag.NOAOperationType.Value No
                                </label>
                            </td>
                            <td style="width:25%; text-align:left">
                                @Html.TextBoxFor(model => model.NOANo, new { id = "txtNOA", disabled = "disabled", style = "width: 97%;" })
                            </td>

                            <td style="width:10%; text-align:right">
                                <label>
                                    Prepared By
                                </label>
                            </td>
                            <td style="width:55%; text-align:left" colspan="3"><input type="text" style="width:100%;" id="txtPreparedBy" disabled="disabled" /></td>

                        </tr>

                        <tr>
                            <td style="width:10%; text-align:right">
                                <label>
                                    Issue Date
                                </label>
                            </td>
                            <td style="width:25%; text-align:left">
                                <input type="text" style="width:100%;" id="txtNOADate" class="easyui-datebox" required="required" data-options="formatter:icsdateformat,parser:icsdateparser" />
                            </td>
                            <td style="width:10%; text-align:right">
                                <label>
                                    Note
                                </label>
                            </td>
                            <td style="width:55%; text-align:left;" colspan="3">
                                <input type="text" style="width:100%;" id="txtNote" />
                            </td>
                        </tr>
                    </table>
                </fieldset>
            </div>
            <div style="width:100%">
                <table id="tblNOAReq" class="easyui-datagrid" style="width:100%;height:170px;"
                       data-options="singleSelect: true,fitColumns:false, rownumbers:true, pagination:false, autoRowHeight:false, toolbar: '#toolbarNOAReq'">
                    <thead>
                        <tr>
                            <th field="PRNo" width="15%">PR No</th>
                            <th field="PRDateST" width="10%">Date</th>
                            <th field="RequirementDateSt" width="10%">Required Date</th>
                            <th field="Note" width="25%">Remark</th>
                            <th field="RequisitionByName" width="18%" align="left">Reuisition By</th>
                            <th field="ApprovedByName" width="20%">Approve By</th>
                        </tr>
                    </thead>
                </table>
                <div id="toolbarNOAReq">
                    <label>Requisition:</label>
                    <input type="text" id="txtRequisition" placeholder="Type MPR No & Press Enter" style="width:180px;" />
                    <a id="btnRequisitionPick" href="javascript:void(0)" class="easyui-linkbutton" iconcls="icon-search" plain="true">Pick</a>
                    <a id="btnRequisitionDelete" href="javascript:void(0)" class="easyui-linkbutton" iconcls="icon-remove" plain="true">Remove</a>
                </div>
            </div>

            <div style="width:100%">
                <table id="tblNOADetail" class="easyui-datagrid" style="width:100%;height:190px;"
                       data-options="singleSelect: true,fitColumns:false, rownumbers:true, pagination:false, autoRowHeight:false,onClickRow:onClickRow, toolbar: '#toolbarNOADetail' ">
                    <thead>
                        <tr>
                            <th field="ProductCode" width="12%" align="left"> Code</th>
                            <th field="ProductName" width="25%" align="left">Item Name</th>
                            <th field="Specifications" width="42%" align="left">Specification</th>
                            <th field="MUnitName" width="8%" align="left">Unit</th>
                            <th width="10%" align="right" data-options="field:'PurchaseQty',align:'right',editor:{type:'numberbox',options:{precision:2}}">Purchase Qty</th>
                        </tr>
                    </thead>
                </table>
                <div id="toolbarNOADetail">
                    <input type="text" id="txtProductName" placeholder="Type Product Name & Press Enter" style="width:180px;" />
                    <a id="btnProductPick" href="javascript:void(0)" class="easyui-linkbutton" iconcls="icon-search" plain="true" onclick="PickProduct()">Pick Product</a>
                    <a id="btnAddNOADetail" href="javascript:void(0)" class="easyui-linkbutton" iconcls="icon-search" plain="true">MPR Product(Pick)</a>
                    <a id="btnNOADetailDelete" href="javascript:void(0)" class="easyui-linkbutton" iconcls="icon-remove" plain="true">Remove</a>
                    <a id="btnAddSpecification" href="javascript:void(0)" class="easyui-linkbutton" iconcls="icon-add" plain="true">Specification </a>
                    <a id="btnAddQuation" href="javascript:void(0)" class="easyui-linkbutton" iconcls="icon-add" plain="true">Quation</a>
                </div>
            </div>
        </div>

        <div style="width:100%; height:8%">
            <fieldset>
                <legend style="font-weight: bold">Action : </legend>
                <table border="0" cellspacing="2" cellpadding="2" style="font-size: 11px; font-weight: bold; width:100%">
                    <tr>
                        <td style="width:20%; text-align:right">
                        </td>
                        <td style="width:50%; text-align:right"></td>
                        <td style="width: 10%;text-align:right">
                            <a id="btnPrintPreview" href="javascript:void(0)" class="easyui-linkbutton" iconcls="icon-print" plain="true">Preview</a>
                        </td>
                        <td style="width: 10%;text-align:right">
                            <a id="btnSave" href="javascript:void(0)" class="easyui-linkbutton" iconcls="icon-save" plain="true">Save</a>
                        </td>
                        <td style="width: 10%;text-align:right">
                            <a id="btnCloseM" href="javascript:void(0)" class="easyui-linkbutton" iconcls="icon-cancel" plain="true">Close</a>
                        </td>
                    </tr>
                </table>
            </fieldset>
        </div>

        <div id="winProcurementSpecification" style=" width:auto" class="easyui-window" data-options="modal:true,closed:true,collapsible:false,minimizable:false,maximizable:false,closable:false ">
            <div style="height: 250px; width:100%;">
                <table id="tblProcurementSpec" class="easyui-datagrid" style="height:250px;width:100%" fitcolumns="true" rownumbers="true" pagination="false" singleselect="false" autorowheight="false" data-options="onClickRow: onClickRowProcurementSpec ,toolbar: '#toolbarPickSpec'">
                    <thead>
                        <tr>
                            <th data-options="field:'Selected',checkbox:true"></th>
                            <th field="SpecName" width='40%' align="left">Specification Head</th>
                            <th data-options="field:'NOADescription', align:'left',editor:{type:'text'}" width='50%'>Description</th>

                        </tr>
                    </thead>
                </table>

                <div id="toolbarPickSpec">
                    <a id="btnSpecPick" href="javascript:void(0)" class="easyui-linkbutton" iconcls="icon-search" plain="true">Pick Specification</a>
                </div>

            </div>

            <fieldset style="font-family:Tahoma">
                <legend style="font-weight:bold"> Action : </legend>
                <table border="0" cellspacing="2" cellpadding="2" style="font-size:11px;width:100%; font-weight:bold;font-size:12">
                    <tr>

                        <td style="width:85%; text-align:right"></td>
                        <td style="width: 15%">
                            <a id="btnSaveProcurement" href="javascript:void(0)" class="easyui-linkbutton" iconcls="icon-save" plain="true" onclick="SaveProcurementSpec()">Save</a>
                            <a id="btnClose" href="javascript:void(0)" class="easyui-linkbutton" iconcls="icon-cancel" plain="true" onclick="CloseProcurementSpec()">Close</a>
                        </td>
                    </tr>

                </table>
            </fieldset>


        </div>
    </div>
</body>
</html>
<script type="text/javascript">
    var _oNOA=null;
    var _sBaseAddress="";
    var _sNOAHeader="";
    var _nMenuid=0;
    var _nBOQ_Qty=0;
    var _nDeliveryFromStoreQty=0;
    var _oProduct = "";
    var _sPRIDsT = "";
    var sProductIDs = "";
    var nFlag = 0;
    $(document).ready(function () {
        debugger;
        _nMenuid = @Html.Raw(new System.Web.Script.Serialization.JavaScriptSerializer().Serialize(HttpContext.Current.Session[SessionInfo.MenuID]));
        _sBaseAddress =@Html.Raw(new System.Web.Script.Serialization.JavaScriptSerializer().Serialize(HttpContext.Current.Session[SessionInfo.BaseAddress]));
        _oNOA =@Html.Raw(new System.Web.Script.Serialization.JavaScriptSerializer().Serialize(Model));
        _sNOAHeader=sessionStorage.getItem("NOAHeader");
        $('#divNOA').panel({ title:_sNOAHeader});
        $('#btnAddQuation').hide();
        //$('#txtRequiredQty').icsCurrencyBox();
        if(_sNOAHeader=="View NOA")
        {
            $('#btnSave').hide();
            $('#btnDeleteDetail').hide();
            $('#btnRequisitionPick,#btnAddNOADetail').hide();
            $('#btnRequisitionDelete').hide();
        }
        RefreshControl();
        //RefreshSummary();
        if(_sNOAHeader=="Attach PQ")
        {
            $('#btnAddQuation').show();
            $('#btnSave').hide();
            $('#btnDeleteDetail').hide();
            $('#btnRequisitionPick,#btnAddNOADetail').hide();
            $('#btnRequisitionDelete').hide();
        }
        $('#btnAddSpecification').hide();

        if(_oNOA.NOAID<=0)
        {
            $("#btnPrintPreview").hide();
        }
    });







    $("#txtProductName").keydown(function (e) {
        debugger;
        var code = (e.keyCode ? e.keyCode : e.which);
        if (code == 13) // Enter Press
        {
            PickProduct();
        }
        if (code == 8) //backspace=8
        {
            var txtProductName = document.getElementById("txtProductName");
            txtProductName.style.color = "black";
            txtProductName.style.fontWeight = "normal";
        }
    });

    function PickProduct()
    {
        var oProduct={
            BUID: sessionStorage.getItem('BUID'),
            ProductName:$("#txtProductName").val()
        };
        var obj = {
            BaseAddress: _sBaseAddress,
            Object: oProduct,
            ControllerName: "NOA",
            ActionName: "GetProducts",
            IsWinClose: false
        };
        $.icsDataGets(obj, function (response) {
            debugger;
            if (response.status && response.objs.length > 0)
            {
                if (response.objs[0].ProductID > 0) {

                    var tblColums = [];var oColumn ={};
                    oColumn= { field: "ProductCode", title: "Code", width: 100, align: "left" }; tblColums.push(oColumn);
                    oColumn = { field: "ProductName", title: "Item Name", width: 250, align: "left" }; tblColums.push(oColumn);
                    oColumn = { field: "GroupName", title: "Group Name", width: 250, align: "left" }; tblColums.push(oColumn);

                    var oPickerParam = {
                        winid: 'winProductPicker',
                        winclass: 'clsProductPicker',
                        winwidth: 600,
                        winheight: 460,
                        tableid: 'tblProductPicker',
                        tablecolumns: tblColums,
                        datalist: response.objs,
                        multiplereturn: true,
                        searchingbyfieldName: 'NameCode',
                        windowTittle: 'Product List'
                    };
                    $.icsPicker(oPickerParam);
                    IntializePickerbutton(oPickerParam);//multiple return
                }
                else {
                    alert("Data Not Found");
                    return;
                }
            }
            else
            {
                alert("Data Not Found");
                return;

            }
        });
    }


    //btnAddQuation
    $('#btnAddQuation').click(function(){
        var oNOADetail= $('#tblNOADetail').datagrid('getSelected');
        if(oNOADetail==null || oNOADetail.NOADetailID<=0)
        {
            alert("Please select a Item !");
            return false;
        }
             
        $.ajax
          ({
              type: "POST",
              dataType: "json",
              url : _sBaseAddress+"/NOA/GetNOAQuotationsMapping",
              data:  JSON.stringify(oNOADetail),
              contentType: "application/json; charset=utf-8",
              success: function (data) {
                  var oNOAQuotations = jQuery.parseJSON(data);
                  if (oNOAQuotations.length>0)
                  {
                      var tblColums = [], searcingField = "", windowTittle = "";
                      var oColumn = { field: "PQNo", title: "Qutation No", width: 100, align: "left" }; tblColums.push(oColumn);
                          oColumn = { field: "SupplierName", title: "Supplier", width: 120, align: "left" }; tblColums.push(oColumn);
                      oColumn = { field: "UnitPrice", title: "Rate", width: 100, align: "right" }; tblColums.push(oColumn);
                      oColumn = { field: "Specifications", title: "Specification", width: 350, align: "left" }; tblColums.push(oColumn);
                      var oPickerParam = {
                          winid: 'winNOAQ',
                          winclass: 'clsNOAQ',
                          winwidth:700,
                          winheight: 460,
                          tableid: 'tblNOAQPicker',
                          tablecolumns: tblColums,
                          datalist: oNOAQuotations,
                          multiplereturn: true,
                          searchingbyfieldName: 'SupplierName',
                          windowTittle: 'Product :'+oNOADetail.ProductName
                      };
                      $.icsPicker(oPickerParam);
                      IntializePickerbuttonAPQ(oPickerParam);
                      for(var i = 0;i<oNOAQuotations.length;i++)
                      {
                          if(oNOAQuotations[i].bIsExist==true)
                          {
                              $('#tblNOAQPicker').datagrid('checkRow',i);
                          }
                      }
                  }

              },
              error: function (xhr, status, error)
              {
                  alert(error);
              }
          });


    });
    function IntializePickerbuttonAPQ(oPickerobj) {
        debugger;
        $("#" + oPickerobj.winid).find("#btnOk").click(function () {
            debugger;
            //for Single Select
            PickerEventsAPQ(oPickerobj);
        });
        $(document).find('.' + oPickerobj.winclass).keydown(function (e) {
            if (e.which == 13)//enter=13
            {
                PickerEventsAPQ(oPickerobj);
            }
        });
    }
    function PickerEventsAPQ(oPickerobj) {
        var oreturnobj = null, oreturnobjs = [];
        if (oPickerobj.multiplereturn)
        {
            oreturnobjs = $('#' + oPickerobj.tableid).datagrid('getChecked');
        } else
        {
            oreturnobj = $('#' + oPickerobj.tableid).datagrid('getSelected');
        }

        $("#" + oPickerobj.winid).icsWindow("close");
        $("#" + oPickerobj.winid).remove();
        if(oPickerobj.winclass =="clsPurchaseRequisitionPicker")//
        {
            if(oreturnobjs.length>0)
            {
                debugger;
                _oPRs = oreturnobjs;
                if(_oPRs.length>1)
                {
                    $('#txtPRNo').val(_oPRs.length+" Item's Selected");
                }else{
                    $('#txtPRNo').val(_oPRs[0].PRNo);
                }
                $('#txtPRNo').addClass("fontColorOfPickItem");
            }
        } else  if(oPickerobj.winid =="winNOAQ")
        {
            if(parseInt(oreturnobjs.length)>0)
            {
                debugger;
               SaveNOAQuotation(oreturnobjs,1221);
            }
        }
        
    }
    function SaveNOAQuotation(oTempNOAQuotations,tsv)
    {
        var oNOA ={NOAQuotationList:oTempNOAQuotations};
        $.ajax({
            type: "POST",
            dataType: "json",
            url : _sBaseAddress+"/NOA/SaveNOAQuotation",
            traditional: true,
            data:  JSON.stringify(oNOA),
            contentType: "application/json; charset=utf-8",
            success: function (data) 
            {
                var oNOAQuotations = jQuery.parseJSON(data);
                if (oNOAQuotations.length>0 && (oNOAQuotations[0].ErrorMessage=="" || oNOAQuotations[0].ErrorMessage==null))
                {
                    alert("Data Saved Succefully.");
                }
                else {
                    alert(oNOAQuotations[0].ErrorMessage);
                }
            },
            error: function (xhr, status, error) {
                alert(error);
            }
        });
    }
  
    $("#btnRequisitionDelete").click(function () {
        nFlag = 1;
        debugger;
        var oPQReq = $('#tblNOAReq').datagrid('getSelected');
        if (oPQReq == null)
        {
            alert("Select At least One item !");
            return;
        }
        var SelectedRowIndex = $('#tblNOAReq').datagrid('getRowIndex', oPQReq);
        if (!confirm("Confirm to Delete?")) return;
      
        $('#tblNOAReq').datagrid('deleteRow', SelectedRowIndex);
        var oPQReqT = $('#tblNOAReq').datagrid('getRows');
        setNOADetails(ICS_PropertyConcatation(oPQReqT,'PRID'));
        //endEditing();
    });

    $("#btnRequisitionPick").click(function () {
        debugger;
        var oPR={
            PRNo:($.trim($('#txtRequisition').val()))
        };
        var obj = {
            BaseAddress: _sBaseAddress,
            Object: oPR,
            ControllerName: "NOA",
            ActionName: "GetRequisitions",
            IsWinClose: false
        };
        $.icsDataGets(obj, function (response) {
            debugger;
            if (response.status && response.objs.length > 0)
            {
                debugger;
                if (response.objs[0].PRID > 0) {

                    var tblColums = [], searcingField = "", windowTittle = "";
                    var oColumn = { field: "PRNo", title: "PRNo", width: 100, align: "left" }; tblColums.push(oColumn);
                    oColumn = { field: "RequirementDateSt", title: "Requirement Date", width: 150, align: "left" }; tblColums.push(oColumn);
                    var oPickerParam = {
                        winid: 'winPR',
                        winclass: 'clsPR',
                        winwidth: 600,
                        winheight: 460,
                        tableid: 'tblPRPicker',
                        tablecolumns: tblColums,
                        datalist: response.objs,
                        multiplereturn: true,
                        searchingbyfieldName: 'PRNo',
                        windowTittle: 'Requisition List'
                    };
                    $.icsPicker(oPickerParam);
                    IntializePickerbutton(oPickerParam);//multiple return
                }
                else {
                    alert("Data Not Found");
                    return;
                }
            }
            else
            {
                alert("Data Not Found");
                return;

            }
        });
    });

    $("#txtRequisition").keydown(function (e) {
        debugger;
        var code = (e.keyCode ? e.keyCode : e.which);

        if (code == 13) // Enter Press
        {

            var oPR={
                PRNo:$("#txtRequisition").val()
            };
            var obj = {
                BaseAddress: _sBaseAddress,
                Object: oPR,
                ControllerName: "NOA",
                ActionName: "GetRequisitions",
                IsWinClose: false
            };
            $.icsDataGets(obj, function (response) {
                debugger;
                if (response.status && response.objs.length > 0)
                {
                    debugger;
                    if (response.objs[0].PRID > 0) {

                        var tblColums = [], searcingField = "", windowTittle = "";
                        var oColumn = { field: "PRNo", title: "PRNo", width: 100, align: "left" }; tblColums.push(oColumn);
                        oColumn = { field: "RequirementDateSt", title: "Requirement Date", width: 150, align: "left" }; tblColums.push(oColumn);
                        var oPickerParam = {
                            winid: 'winPR',
                            winclass: 'clsPR',
                            winwidth: 600,
                            winheight: 460,
                            tableid: 'tblPRPicker',
                            tablecolumns: tblColums,
                            datalist: response.objs,
                            multiplereturn: true,
                            searchingbyfieldName: 'PRNo',
                            windowTittle: 'Requisition List'
                        };
                        $.icsPicker(oPickerParam);
                        IntializePickerbutton(oPickerParam);//multiple return
                    }
                    else {
                        alert("Data Not Found");
                        return;
                    }
                }
                else
                {
                    alert("Data Not Found");
                    return;

                }
            });
        }
        if (code == 8) //backspace=8
        {
            var txtRequisition = document.getElementById("txtRequisition");
            txtRequisition.style.color = "black";
            txtRequisition.style.fontWeight = "normal";
        }
    });
    $("#btnAddNOADetail").click(function () {
        debugger;
        var sPRIDs = ICS_PropertyConcatation($('#tblNOAReq').datagrid('getRows'),'PRID');
        if(sPRIDs == "" || sPRIDs == null)
        {
            alert("Please, First pick  Requisition");
            sPRIDs = "0";
            return;
        }
        var oPurchaseRequisitionDetail={
            Remarks : sPRIDs
        };
       

        //setNOADetails(sPRIDs);
      
        var obj = {
            BaseAddress: _sBaseAddress,
            Object: oPurchaseRequisitionDetail,
            ControllerName: "NOA",
            ActionName: "GetPRDetails",
            IsWinClose: false
        };
        $.icsDataGets(obj, function (response) {
            debugger;
            if (response.status && response.objs.length > 0)
            {
                debugger;

                if (response.objs[0].ProductID > 0) {

                    var tblColums = [], searcingField = "", windowTittle = "";
                    var oColumn = { field: "ProductCode", title: "Code", width: 100, align: "left" }; tblColums.push(oColumn);
                    oColumn = { field: "ProductName", title: "ProductName", width: 150, align: "left" }; tblColums.push(oColumn);
                    oColumn = { field: "Qty", title: "Qty", width: 100, align: "left" }; tblColums.push(oColumn);
                    oColumn = { field: "UnitName", title: "Unit", width: 50, align: "left" }; tblColums.push(oColumn);
                    var oPickerParam = {
                        winid: 'winPRDetail',
                        winclass: 'clsPRDetail',
                        winwidth: 600,
                        winheight: 460,
                        tableid: 'tblPRDetailPicker',
                        tablecolumns: tblColums,
                        datalist: response.objs,
                        multiplereturn: true,
                        searchingbyfieldName: 'ProductName',
                        windowTittle: 'ProductName List'
                    };
                    $.icsPicker(oPickerParam);
                    IntializePickerbutton(oPickerParam);//multiple return
                }
                else {
                    alert("Data Not Found");
                    return;
                }
            }
            else
            {
                alert("Data Not Found");
                return;

            }
        });
    });
    function IntializePickerbutton(oPickerobj)
    {
        debugger;
        $("#" + oPickerobj.winid).find("#btnOk").click(function () {
            debugger;
            SetItem(oPickerobj);
        });
        $(document).find('.' +oPickerobj.winclass).keydown(function (e) {
            if (e.which == 13)//enter=13
            {
                SetItem(oPickerobj);
            }
        });
    }
   
    function SetItem(oPickerobj)
    {
        debugger;
        var oreturnObjs = [], oreturnObj = null;
        if(oPickerobj.multiplereturn)
        {
            oreturnObjs = $('#'+oPickerobj.tableid).datagrid('getChecked');
        }else{
            oreturnObj = $('#'+oPickerobj.tableid).datagrid('getSelected');
        }
        
        $("#"+oPickerobj.winid).icsWindow("close");
        $("#" + oPickerobj.winid).remove();
        if(oPickerobj.winclass=="clsPR")
        {
            if (oreturnObjs!=null && oreturnObjs[0].PRID> 0) 
            {
                for(var i =0; i <oreturnObjs.length; i++ ) 
                {
                    //_sPRIDsT += oreturnObjs[i].PRID + ",";
                    var oPR ={
                        PRID:oreturnObjs[i].PRID,
                        PRNo : oreturnObjs[i].PRNo,
                        RequirementDateSt : oreturnObjs[i].RequirementDateSt,
                        PRDateST : oreturnObjs[i].PRDateST,
                        Note:oreturnObjs[i].Note,
                        RequisitionByName:oreturnObjs[i].RequisitionByName,
                        ApprovedByName:oreturnObjs[i].ApprovedByName
                    };
                    if(!IsExistReq(oreturnObjs[i].PRID))
                    {
                        $('#tblNOAReq').datagrid('appendRow', oPR);
                    }
                }
            }
            //var sPRIDs = ICS_PropertyConcatation($('#tblNOAReq').datagrid('getRows'),'PRID');
            //setNOADetails(sPRIDs);
            $("#txtRequisition").val("");
        }
      
        else  if(oPickerobj.winclass=="clsPRDetail")
        {
            debugger;
            var oDetail = [];
            if (oreturnObjs!=null && oreturnObjs.length>0  && oreturnObjs[0].ProductID> 0) 
            {
                for(var i = 0; i <oreturnObjs.length; i++ )
                {
                    sProductIDs += oreturnObjs[i].ProductID + ",";
                    var oPRD ={
                        NOADetailID:0,
                        ProductID:oreturnObjs[i].ProductID,
                        ProductCode : oreturnObjs[i].ProductCode,
                        ProductName : oreturnObjs[i].ProductName,
                        RequiredQty : oreturnObjs[i].Qty,
                        PurchaseQty : oreturnObjs[i].Qty,
                        Specifications:oreturnObjs[i].Specifications,
                        MUnitName:oreturnObjs[i].UnitName,
                        MUnitID:oreturnObjs[i].MUnitID,
                        PRDetailID:oreturnObjs[i].PRDetailID

                    };
                    //oDetail.push(oPRD);
                    $('#tblNOADetail').datagrid('appendRow', oPRD);
                }
                sProductIDs= sProductIDs.substring(0, sProductIDs.length - 1);
                //$('#tblNOADetail').datagrid('loadData',oDetail);
                //$('#tblNOADetail').datagrid('appendRow', oDetail);
            }
          
        }else if(oPickerobj.winclass=="clsProductPicker")
        {
            debugger;
            var oDetail = [];
            if (oreturnObjs!=null && oreturnObjs.length>0  && oreturnObjs[0].ProductID> 0) 
            {
                for(var i = 0; i <oreturnObjs.length; i++ )
                {

                    var oPRD ={
                        NOADetailID:0,
                        ProductID:oreturnObjs[i].ProductID,
                        ProductCode : oreturnObjs[i].ProductCode,
                        ProductName : oreturnObjs[i].ProductName,
                        RequiredQty : 0,
                        PurchaseQty : 0,
                        Specifications:'',
                        MUnitName:oreturnObjs[i].MUnitName,
                        MUnitID:oreturnObjs[i].MeasurementUnitID
                    };
                    //oDetail.push(oPRD);
                    $('#tblNOADetail').datagrid('appendRow', oPRD);
                }
            }
          
        }
        else{
            alert("Data not found.");
        }

    }
   

    $("#btnNOADetailDelete").click(function () {
        debugger;
        var oNOADetail = $('#tblNOADetail').datagrid('getSelected');
        if (oNOADetail == null)
        {
            alert("Select At least One item !");
            return;
        }
        var SelectedRowIndex = $('#tblNOADetail').datagrid('getRowIndex', oNOADetail);
        if (!confirm("Confirm to Delete?")) return;
        $('#tblNOADetail').datagrid('deleteRow', SelectedRowIndex);
        alert("Data Delete Succesfully");
        //endEditing();
    });


    function IsExistReqDetail(nPRDetailID)
    {
        var oPQReqD = $('#tblNOADetail').datagrid('getRows');
        for (var i = 0; i < oPQReqD.length; i++) {
            if (parseInt(oPQReqD[i].PRDetailID) == parseInt(nPRDetailID))
            {
                return true;
            }
        }
        return false;
    }


    function IsExistReq(nPRID)
    {
        var oPQReq = $('#tblNOAReq').datagrid('getRows');
        for (var i = 0; i < oPQReq.length; i++) {
            if (parseInt(oPQReq[i].PRID) == parseInt(nPRID))
            {
                return true;
            }
        }
        return false;
    }


    function RefreshObject()
    {
        debugger;
        var oNOA= {
            NOAID :_oNOA.NOAID,
            NOANo :_oNOA.NOANo,
            NOADate: new Date($('#txtNOADate').datebox('getValue')),
            Note : $("#txtNote").val(),
            BUID:sessionStorage.getItem("BUID"),
            NOADetailLst:$("#tblNOADetail").datagrid('getRows'),
            NOARequisitionList:$("#tblNOAReq").datagrid('getRows')
        };
        return oNOA;
    }

    function ValidateInput()
    {

        //var oNOAreq=$("#tblNOAReq").datagrid('getRows');
        //if (!oNOAreq || oNOAreq.length<=0) {
        //    alert("Please Add Requisition.");
        //    return false;
        //}

        var oNOADetails=$("#tblNOADetail").datagrid('getRows');
        if (!oNOADetails || oNOADetails.length<=0) {
            alert("Please Add Requisition Details.");
            return false;
        }

        for(var i = 0;i<oNOADetails.length;i++)
        {
            if(parseFloat(oNOADetails[i].RequiredQty)<=0 )
            {
                alert("Required Qty Should be Greater than 0 for Product ["+oNOADetails[i].ProductName+"]");
                return false;
            }
            if(parseFloat(oNOADetails[i].PurchaseQty)<=0 )
            {
                alert("Purchase Qty Should be Greater than 0 for Product ["+oNOADetails[i].ProductName+"]");
                return false;
            }
        }

        return true;
    }

    $("#btnSave").click(function(){
        debugger;
        endEditing();
        if(!ValidateInput()) return false;
        var oNOA=RefreshObject();
        $.ajax({
            type: "POST",
            dataType: "json",
            url : _sBaseAddress+"/NOA/SaveRevise",
            traditional: true,
            data:  JSON.stringify(oNOA),
            contentType: "application/json; charset=utf-8",
            success: function (data) {
                debugger;
                oNOA = jQuery.parseJSON(data);
                if (oNOA.ErrorMessage==null || oNOA.ErrorMessage=="") 
                {
                    alert("Data Saved successfully");
                  
                        if(confirm("Are you want to entry specification/Quotation?!"))
                        {
                            _oNOA.NOAID =oNOA.NOAID;
                            $("#txtNOA").val(oNOA.NOANo);
                            $('#tblNOADetail').datagrid('loadData',oNOA.NOADetailLst);  
                        }
                        else
                        {
                            var oNOAs = sessionStorage.getItem("NOAs");
                            var nIndex = parseInt(sessionStorage.getItem("SelectedRowIndex"));
                            if (oNOAs != null)
                            {
                                oNOAs = jQuery.parseJSON(oNOAs);
                            }
                            else {
                                oNOAs = [];
                            }
                            if (nIndex != -1)
                            {
                                oNOAs[nIndex] = oNOA;
                            }
                            else 
                            {
                                sessionStorage.setItem("SelectedRowIndex", oNOAs.length);
                                oNOAs.push(oNOA);
                            }
                            sessionStorage.setItem("NOAs", JSON.stringify(oNOAs));
                            window.location.href = sessionStorage.getItem("BackLink");
                     }
          
                 }
                else {
                    alert(oNOA.ErrorMessage);
                }
            },
            error: function (xhr, status, error) {
                alert(error);
            }

        });

    });

    $("#btnCloseM").click(function(){
        window.location.href = sessionStorage.getItem("BackLink");
    });

    function RefreshControl()
    {
        $('#txtNOADate').datebox('setValue',_oNOA.NOADateInString);
        $('#txtNote').val(_oNOA.Note);
        if( _oNOA.PrepareByName!=null && _oNOA.PrepareByName!='')
        {
            $('#txtPreparedBy').val(_oNOA.PrepareByName);
        }
    
        if(_oNOA.NOADetailLst!=null)
        {
            DynamicRefreshList(_oNOA.NOADetailLst, 'tblNOADetail');
        }
        if(_oNOA.NOARequisitionList!=null)
        {
            DynamicRefreshList(_oNOA.NOARequisitionList, 'tblNOAReq');
        }

        //debugger;
    }


    $("#btnPrintPreview").click(function() {

        if(_oNOA==null || _oNOA.NOAID<=0)
        {
            alert("No Data!!! please add Data!");
            return false;
        }

        //window.open(_sBaseAddress+ '/NOA/PrintNOAWithFormat?id=' + _oNOA.NOAID, "_blank");
        window.open(_sBaseAddress + '/NOA/PrintNOAWithFormat?id='+_oNOA.NOAID+'&bWithTechHead=false', "_blank");
    });
    function Approve()
    {
        //debugger;

        if(_oNOA==null || _oNOA.NOAID<=0)
        {
            alert("without save can't Approve!");
            return false;
        }
        if(parseInt(_oNOA.ApproveBy)!=0)
        {
            alert("Sorry, Already Approved");
            return false;
        }

        if (!confirm("Confirm to Approve?")) return ;
        debugger;
        if(!ValidateInput()) return;
        var oNOA=RefreshObject();

        $.icsSave({
            BaseAddress: _sBaseAddress,
            Object: oNOA,
            ObjectId: oNOA.NOAID,
            ControllerName: "NOA",
            ActionName: "Approved",
            TableId: "",
            IsWinClose: false,
            Message: "Data Saved Successfully."

        },function (response){
            if(response.status && response.obj!=null){
                if(response.obj.NOAID>0){
                    var oNOA =response.obj;
                    var oNOAs =sessionStorage.getItem("NOAs");
                    var nIndex= parseInt(sessionStorage.getItem("SelectedRowIndex"));
                    debugger;
                    if(oNOAs!=null)
                    {
                        oNOAs = jQuery.parseJSON(oNOAs);
                    }
                    else
                    {
                        oNOAs=[];
                    }
                    if(nIndex!=-1)
                    {
                        oNOAs[nIndex]=oNOA;
                    }
                    else
                    {
                        sessionStorage.setItem("SelectedRowIndex", oNOAs.length);
                        oNOAs.push(oNOA);
                    }
                    sessionStorage.setItem("NOAs", JSON.stringify(oNOAs));
                    window.location.href =sessionStorage.getItem("BackLink");
                }
            }
        });
    }
    /////End BOQ

    
    var editIndex = undefined;
    function endEditing() {
        if (editIndex == undefined) { return true }
        if ($('#tblNOADetail').datagrid('validateRow', editIndex)) {
            $('#tblNOADetail').datagrid('endEdit', editIndex);
            $('#tblNOADetail').datagrid('selectRow', editIndex);
            var oNOADetail = $('#tblNOADetail').datagrid('getSelected');
            debugger;
            if (oNOADetail == null)
            {
                return;
            }
            if (oNOADetail.RequiredQty<=0)
            {
                oNOADetail.RequiredQty = oNOADetail.PurchaseQty;
            }
            $('#tblNOADetail').datagrid('updateRow', { index: editIndex, row: oNOADetail });
            //RefreshSummary();
            editIndex = undefined;
            return true;
        }
        else {
            return false;
        }
    }

    function onClickRow(index) {

        if (editIndex != index) {
            if (endEditing()) {
                $('#tblNOADetail').datagrid('selectRow', index).datagrid('beginEdit', index);
                var oNOADetail= $('#tblNOADetail').datagrid('getSelected');
             
                if(oNOADetail.NOADetailID<=0 || oNOADetail.NOADetailID == undefined)
                {
                    $('#btnAddSpecification,#btnAddQuation').hide();
                    
                }
                else
                {
                    if(_sNOAHeader !="View NOA")
                    {
                        $('#btnAddSpecification,#btnAddQuation').show();
                    }
                }
                editIndex = index;
            }
            else {
                $('#tblNOADetail').datagrid('selectRow', editIndex);
            }
        }
    }
 

    function ValidateInputNOADetail()
    {
        if (parseInt(_oNOADetail.ProductID) <= 0)
        {
            alert("Please select Product"); $('#txtNOAProductName').focus();
            $('#txtNOAProductName').css("border", "1px solid #c00"); return false;
        }

        if (parseFloat($('#txtUnitPrice').numberbox('getValue')) <= 0)
        {
            alert("Unit Price should be Greater than Zero");
            $('#txtUnitPrice').focus();
            $('#txtUnitPrice').css("border", "1px solid #c00"); return false;
        }
        if (parseFloat($('#txtQty').numberbox('getValue')) <= 0)
        {
            alert("Quantity should be Greater than Zero");
            $('#txtQty').focus();
            $('#txtQty').css("border", "1px solid #c00"); return false;
        }
        return true;
    }
    function IsExist(nProductID)
    {
        var oNOADetails = $('#tblNOADetails').datagrid('getRows');
        if(parseInt($("#cboRequisitionType").val())===2)
        {
            for (var i = 0; i < oNOADetails.length; i++) {
                if (parseInt(oNOADetails[i].BOQDetailID) == parseInt(nProductID))
                {
                    return true;
                }
            }
        }
        else{
            for (var i = 0; i < oNOADetails.length; i++) {
                if (parseInt(oNOADetails[i].ProductID) == parseInt(nProductID))
                {
                    return true;
                }
            }
        }
        return false;
    }

    function LoadUnits(nUnitTypeInt)
    {
        //debugger;
        var oMeasurementUnit={
            UnitTypeInInt : nUnitTypeInt
        };
        $.ajax ({
            type: "POST",
            dataType: "json",
            url : _sBaseAddress+"/MeasurementUnit/GetbyUnitType",
            data:  JSON.stringify(oMeasurementUnit),
            contentType: "application/json; charset=utf-8",
            success: function (data) {
                //debugger;
                var  oUnits = jQuery.parseJSON(data);
                if (oUnits!=null)
                {
                    if(oUnits.length>0)
                    {
                        $("#cboUnit").icsLoadCombo({List: oUnits,OptionValue: "MeasurementUnitID",DisplayText: "Symbol"});
                    }
                }
            },
            error: function (xhr, status, error)
            {
                alert(error);
            }
        });
    }
    function AddDetail()
    {
        debugger;
        var oNOADetails =  $('#tblNOADetails').datagrid('getRows');
        if(_oProduct==null)
        {
            alert("Please select Product");
            return;
        }
        if(!ICS_IsExist(oNOADetails,'ProductID', _oProduct.ProductID))
        {
            var oNOADetail = {
                NOADetailID:0,
                NOAID:_oNOA.NOAID,
                ProductID:_oProduct.ProductID,
                ProductCode:_oProduct.ProductCode,
                ProductName:_oProduct.ProductName,
                RequiredQty:icsRemoveComma($('#txtRequiredQty').val()),
                MUnitID:$('#cboUnit').val(),
                MUnitName:$('#cboUnit option:selected').text()
            };
            $('#tblNOADetails').datagrid('appendRow',oNOADetail);
        }
        //RefreshSummary();
        $("#txtNOAProductName").val('');
        $("#txtNOAProductName").removeClass('fontColorOfPickItem'); 
        $('#cboUnit').empty();
        $('#txtRequiredQty').val('');
        _oProduct = "";
        $("#txtNOAProductName").focus();

    }

 
    $("#btnDeleteDetail").click(function () {
        var oNOADetail = $('#tblNOADetails').datagrid('getSelected');
        if (oNOADetail == null) {
            alert("Invalid Selection!!! please select a valid Item!");
            return false;
        }
        if (!confirm("Confirm to Remove?")) return;
        var SelectedRowIndex = $('#tblNOADetails').datagrid('getRowIndex', oNOADetail);
        $('#tblNOADetails').datagrid('deleteRow',SelectedRowIndex);
        //RefreshSummary();
        alert("Removed sucessfully");
        editIndex = undefined;
    });
    /*Code For Specification Added By Tonmoy*/
    $("#btnAddSpecification").click(function () {
        var oNOADetail = $('#tblNOADetail').datagrid('getSelected');
        console.log(oNOADetail);
        if(oNOADetail==null || oNOADetail.ProductID<=0)
        {
            alert("Please select a Item !");
            return false;
        }
        if(oNOADetail.NOADetailID <=0){
            alert("Please Save Purchase Order Detail !");
            return false;

        }
        else
        {
           
            var obj = {
                NOADetailID: oNOADetail.NOADetailID ,
                ProductID : oNOADetail.ProductID

            }
             
            $.ajax
              ({
                  type: "POST",
                  dataType: "json",
                  url : _sBaseAddress+  "/NOA/ProductSpecHeadFORPOByProduct",
                  data:  JSON.stringify(obj),
                  contentType: "application/json; charset=utf-8",
                  success: function (data) {
                      $("#winProcurementSpecification").icsWindow('open',"Procurement Specification For Product Name :" +getSelection.ProductName);
                      $('#tblProcurementSpec').datagrid('loadData',data);  
                      if (data.length>0)
                      {
                         for(var i=0; i< data.length ;i++){
                              if(data[i].NOASpecID > 0)
                                  $('#tblProcurementSpec').datagrid("checkRow", i);
                          }
                           
                      }

                  },
                  error: function (xhr, status, error)
                  {
                      alert(error);
                  }
              });


        }
           
    });
        
    function CloseProcurementSpec()
    {
        $('#winProcurementSpecification').icsWindow('close');
    }
    function SaveProcurementSpec()
    {
        endEditingPOSpec();
        var oNOASpecs=$('#tblProcurementSpec').datagrid('getChecked');

        var oNOADetail = $('#tblNOADetail').datagrid('getSelected');
        console.log(oNOADetail);
        if(oNOADetail==null || oNOADetail.ProductID<=0)
        {
            alert("Please select a Item !");
            return false;
        }
      
        for(var i=0; i<oNOASpecs.length; i++)
        {
            if(oNOASpecs[i].NOADescription == "")
            {
                    alert("Description Can not empty");
                    return;
            }
        }
        var oTempNOADetail={
                NOADetailID:oNOADetail.NOADetailID,
                NOASpecs:oNOASpecs
            }
           
            $.ajax({
                type: "POST",
                dataType: "json",
                url : _sBaseAddress+"/NOA/IUDNOASpec",
                traditional: true,
                data:  JSON.stringify(oTempNOADetail),
                contentType: "application/json; charset=utf-8",
                success: function (data) {
                    var result= jQuery.parseJSON(data);
                    if(result.ErrorMessage ==""){
                        alert("Data Save Successfully ");
                        CloseProcurementSpec();
                    }
                    else{
                        alert(result.ErrorMessage);
                    }
                      
                },
                error: function (xhr, status, error)
                {
                    alert(error);
                }
            });

        }

    var editIndexPQSpec = undefined;
    function endEditingPOSpec(){
        if (editIndexPQSpec == undefined){return true}
        if ($('#tblProcurementSpec').datagrid('validateRow', editIndexPQSpec)){

            $('#tblProcurementSpec').datagrid('endEdit', editIndexPQSpec);
            editIndexPQSpec = undefined;
            return true;
        }
        else
        {
            return false;
        }
    }
    function onClickRowProcurementSpec(index){

        if (editIndexPQSpec != index)
        {
            if (endEditingPOSpec())
            {
                $('#tblProcurementSpec').datagrid('selectRow', index).datagrid('beginEdit', index);
                editIndexPQSpec = index;
            }
            else
            {
                $('#tblProcurementSpec').datagrid('selectRow', editIndexPQSpec);
            }
        }
    }
    function SetPickerValue_Spec(oPickerobj)
    {
        var oreturnobj = "", oreturnobjs = [] ;
        if(oPickerobj.multiplereturn)
        {
            oreturnobjs = $('#'+oPickerobj.tableid).datagrid('getChecked');
        }else
        {
            oreturnobj = $('#'+oPickerobj.tableid).datagrid('getSelected');
        }
        
        $("#"+oPickerobj.winid).icsWindow("close");
        $("#" + oPickerobj.winid).remove();
       
        /*--Set Specification? ----*/
        if (oPickerobj.winclass == 'clsSpecHeadPicker')
        {
            if (oreturnobjs != null && oreturnobjs.length> 0)
            {
            
                var getSelection = $('#tblNOADetail').datagrid('getSelected');
                var indexSeq=$('#tblProcurementSpec').datagrid("getRows").length  ;
                var ProductSpecHeads =[];
                for (i = 0; i < oreturnobjs.length; i++)
                {
                    ++indexSeq;
                    ProductSpecHeads.push({ProductSpecHeadID : 0 , ProductID:getSelection.ProductID,SpecHeadID:oreturnobjs[i].SpecHeadID ,Sequence:indexSeq});
                }
                var oSpecHead={
                    ProductSpecHeads:ProductSpecHeads
                }
                
                $.ajax
                  ({
                      type: "POST",
                      dataType: "json",
                      url : _sBaseAddress+  "/ProductSpecHead/Save",
                      data:  JSON.stringify(oSpecHead),
                      contentType: "application/json; charset=utf-8",
                      success: function (data) {
                          if (data.length>0)
                          {
                              var obj = {
                                  NOADetailID: getSelection.NOADetailID ,
                                  ProductID : getSelection.ProductID

                              }
             
                              $.ajax
                                ({
                                    type: "POST",
                                    dataType: "json",
                                    url : _sBaseAddress+  "/NOA/ProductSpecHeadFORPOByProduct",
                                    data:  JSON.stringify(obj),
                                    contentType: "application/json; charset=utf-8",
                                    success: function (data) {
                                       
                                        $('#tblProcurementSpec').datagrid('loadData',data);  
                                        if (data.length>0)
                                        {
                                            for(var i=0; i< data.length ;i++){
                                                if(data[i].NOASpecID > 0)
                                                    $('#tblProcurementSpec').datagrid("checkRow", i);
                                            }
                           
                                        }

                                    },
                                    error: function (xhr, status, error)
                                    {
                                        alert(error);
                                    }
                                });
                          }
                          

                      },
                      error: function (xhr, status, error)
                      {
                          alert(error);
                      }
                  });
                
            } 
        }
    }
    function IntializePickerbutton_Spec(oPickerobj)
    {
 
        $("#" + oPickerobj.winid).find("#btnOk").click(function () {

            SetPickerValue_Spec(oPickerobj);
        });
        $(document).find('.' +oPickerobj.winclass).keydown(function (e) {
            if (e.which == 13)//enter=13
            {
                SetPickerValue_Spec(oPickerobj);
            }
        });
    }
    $("#btnSpecPick").click(function () {
        debugger;
        var getSelection = $('#tblNOADetail').datagrid('getSelected');
        var getSpecHeads ="";
        var gridData =$('#tblProcurementSpec').datagrid("getRows");
        if(gridData.length>0){
            for(var i=0; i<gridData.length; i++){
                getSpecHeads += gridData[i].SpecHeadID +" , ";
            }
        }
         
        var oSpecHead ={
            Params:getSpecHeads
        }
          
        var obj = {
            BaseAddress: _sBaseAddress,
            Object: oSpecHead,
            ControllerName: "ProductSpecHead",
            ActionName: "SpecHeadSearchByProduct",
            IsWinClose: false
        };
        $.icsDataGets(obj, function (response) {
            if (response.status && response.objs.length > 0) {
                debugger;
                if (response.objs[0].SpecHeadID> 0) {
                    var tblColums = [], searcingField = "", windowTittle = "";
                    var oColumn = { field: 'SpecName', name: 'Head Name', width: '50%', enableSorting: false }; tblColums.push(oColumn);
                     
                    var oPickerParam = {
                        winid: 'winSpecHeadPicker',
                        winclass: 'clsSpecHeadPicker',
                        winwidth: 600,
                        winheight: 460,
                        tableid: 'tblSpecHeadPicker',
                        tablecolumns: tblColums,
                        datalist: response.objs,
                        multiplereturn: true,
                        //searchingbyfieldName: 'SpecName',
                        windowTittle: 'Specification Head List'
                    };
                    $.icsPicker(oPickerParam);
                    IntializePickerbutton_Spec(oPickerParam);//multiple return

                        
                }
            }
        });
    });

</script>