<html>
    <head>  
        <link href="@Url.Content("~/Content/CSS/icon.css")" rel="stylesheet" type="text/css" />
        <link href="@Url.Content("~/Content/CSS/easyui.css")" rel="stylesheet" type="text/css" />
        <link href="@Url.Content("~/Content/CSS/Pikerstyle.css")" rel="stylesheet" type="text/css" />
        <script src="@Url.Content("~/Scripts/jquery-1.7.1.min.js")" type="text/javascript"></script>
        <script src="@Url.Content("~/Scripts/jquery.ics.customize.js")" type="text/javascript"></script>
        <script src="@Url.Content("~/Scripts/jquery.easyui.min.js")" type="text/javascript"></script>
        <script src="@Url.Content("~/Scripts/jquery-ui.min.js")" type="text/javascript"></script>
        <script src="@Url.Content("~/Scripts/json2.js")" type="text/javascript"></script>
    </head>
    <body>

    @using System.Collections.Concurrent
    @using System.Web.UI.WebControls
    @model ESimSol.BusinessObjects.LeaveHead
        <div style="font-family:Tahoma">           
            <table border="0" cellspacing="2" cellpadding="2">
                <tr>
                    <td style="background-color:#cfb53b; text-align:center; width:500px; color:White">
                        <label id="lblHeaderName" style="font-size:15px; font-weight:bold; text-decoration:Underline"> Add LeaveHead</label>
                    </td>
                </tr>
            </table>

            <fieldset>
                <legend style="font-weight:bold"> LeaveHead Informations : </legend>
                <table border="0" cellspacing="2" cellpadding="2" style="font-size:11px; font-weight: bold">
                    <tr>
                        <td style="width:100px; text-align:right">
                            Code :
                        </td>
                        <td style="width:250px">
                            @Html.TextBoxFor(model => model.Code, new { style = "width: 300px;", id = "txtCode", disabled = "disabled" }) 
                        </td>
                    </tr>
                    <tr>
                        <td style="width:100px; text-align:right">
                            Name :
                        </td>
                        <td style="width:250px">
                            @Html.TextBoxFor(model => model.Name, new { style = "width: 300px;", id = "txtName" }) 
                        </td>
                    </tr>
                    <tr>
                        <td style="width:100px; text-align:right">
                            Short Name :
                        </td>
                        <td style="width:250px">
                            @Html.TextBoxFor(model => model.ShortName, new { style = "width: 300px;", id = "txtShortName" })
                        </td>
                    </tr>    
                    <tr>
                        <td style="width:100px; text-align:right">
                            Description :
                        </td>
                        <td style="width:250px">
                            @Html.TextBoxFor(model => model.Description, new { style = "width: 300px;", id = "txtDescription" }) 
                        </td>
                    </tr>
                    <tr>
                        <td style="width:100px; text-align:right">
                            Total Day :
                        </td>
                        <td style="width:250px">
                            @Html.TextBoxFor(model => model.TotalDay, new { style = "width: 300px;", id = "txtTotalDay" }) 
                        </td>
                    </tr> 
                    <tr>
                        <td style="width:100px; text-align:right">
                            Required For :
                        </td>
                        <td style="width:250px">
                            @Html.DropDownListFor(model => model.RequiredFor, new SelectList(Enum.GetValues(typeof(ESimSol.BusinessObjects.EnumLeaveRequiredFor))), new { id = "cboRequiredFor", style = "width: 300px;" })
                        </td>
                    </tr> 
                    <tr id="trActive">
                        <td style="width:200px; text-align:right;">
                            Active :
                        </td>
                        <td style="width:300px">
                            @Html.CheckBoxFor(model => model.IsActive, new { id = "chkIsActive" }) 
                        </td>
                    </tr>
                </table>
            </fieldset>

            <fieldset>
                <legend style="font-weight:bold"> Action : </legend>
                <table border="0" cellspacing="2" cellpadding="2" style="font-size:11px; font-weight:bold">
                    <tr>
                        <td style="width:400px; text-align:right"></td>

                        <td style="width:50px">
                            <a id="btnSave" href="javascript:void(0)" class="easyui-linkbutton" iconCls="icon-save" plain="true" onclick="Save()">Save</a>
                        </td>
                        <td style="width:50px">
                            <a href="javascript:void(0)" class="easyui-linkbutton" iconCls="icon-cancel" plain="true" onclick="Close()">Close</a>
                        </td>
                    </tr>       
                </table>
            </fieldset>
        </div>
    </body>
</html>

<script type="text/javascript">
    var _oLeaveHead = null;
    var _sBaseAddress = "";
    $(document).ready(function() {
        debugger;     
        _sBaseAddress = @Html.Raw(new System.Web.Script.Serialization.JavaScriptSerializer().Serialize(HttpContext.Current.Session[SessionInfo.BaseAddress]));
        $('#txtTotalDay').numberbox({min:0, precision:0 });
        var obj = window.dialogArguments;
        document.getElementById('lblHeaderName').innerHTML = obj.Name;
        if (obj.Name == "Add LeaveHead") {
            document.getElementById('trActive').style.display = 'none';
        }
        if (obj.Name == "View LeaveHead") {
            document.getElementById('txtName').disabled = true;
            document.getElementById("txtDescription").disabled=true;
            document.getElementById("chkIsActive").disabled=true;
            document.getElementById('txtTotalDay').disabled = true;
            document.getElementById('cboRequiredFor').disabled = true;
            document.getElementById('btnSave').style.display = 'none';
        }
        _oLeaveHead = @Html.Raw(new System.Web.Script.Serialization.JavaScriptSerializer().Serialize(Model));
    } );
//    function ChangeActiveStatus(){  
//        if (_oLeaveHead.IsActive == true) {
//            _oLeaveHead.IsActive = false;
//            document.getElementById('txtIsActive').value = "False";
//        } else {
//            _oLeaveHead.IsActive = true;
//            document.getElementById('txtIsActive').value = "True";
//        }
//    }
    function ValidateInput() {
        debugger;
        
        if (document.getElementById("txtDescription").value == null || document.getElementById("txtDescription").value == "") {
            alert("Please enter a description!");
            $('#txtDescription').focus();
            return false;
        }
        if (document.getElementById("txtName").value == null || document.getElementById("txtName").value == "") {
            alert("Please enter a description!");
            $('#txtName').focus();
            return false;
        }
        if (document.getElementById("txtTotalDay").value == null || document.getElementById("txtTotalDay").value == "") {
            alert("Please enter a Total Day!");
            $('#txtName').focus();
            return false;
        }
        return true;
    }

// values from user interface is taken to object properties here

    //function RefreshObject() {
    //    debugger;
    //    if (document.getElementById("chkIsActive").checked == true) {
    //        _oLeaveHead.IsActive = true;
    //    } else {
    //        _oLeaveHead.IsActive = false;
    //    }
    //    var oLeaveHead = {
    //        LeaveHeadID: _oLeaveHead.LeaveHeadID,
    //        IsActive: _oLeaveHead.IsActive,
    //        Code: $("#txtCode").val(),
    //        Name: $("#txtName").val(),
    //        Description: $("#txtDescription").val(),
    //        RequiredFor :cboRequiredFor.options[cboRequiredFor.selectedIndex].value,
    //        TotalDay : $("#txtTotalDay").val(),
    //    };
    //    return oLeaveHead;
    //}

    //function Save() {
    //    debugger;
    //    if (!ValidateInput()) return;
    //    var oLeaveHead = RefreshObject();

    //    $.ajax({
    //        type: "POST",
    //        dataType: "json",
    //        url: _sBaseAddress + "/LeaveHead/Save",
    //        traditional: true,
    //        data: JSON.stringify(oLeaveHead),
    //        contentType: "application/json; charset=utf-8",

    //        success: function(data) {
    //            //debugger;
    //            oLeaveHead = jQuery.parseJSON(data);
    //            if (oLeaveHead.LeaveHeadID > 0) {
    //                alert("Data Saved sucessfully");
    //                window.returnValue = oLeaveHead;
    //                window.close();
    //            } else {
    //                alert(oLeaveHead.ErrorMessage);
    //            }
    //        },
    //        error: function(xhr, status, error) {
    //            alert(error);
    //        }
    //    });
    //}

    //function Close() {
    //    window.close();
    //}

    //$(document).keydown(function (e)
    //{
    //    var keyCode = e.keyCode || e.which;
    //    if (keyCode == 27)
    //    {
    //        window.close();
    //    }
    //});

</script>