<html>
<head>
    @*<link href="@Url.Content("~/Content/CSS/pagelayout.css")" rel="stylesheet" type="text/css" />*@
    <link href="@Url.Content("~/Content/CSS/icon.css")" rel="stylesheet" type="text/css" />
    <link href="@Url.Content("~/Content/CSS/easyui.css")" rel="stylesheet" type="text/css" />
    <link href="@Url.Content("~/Content/CSS/Pikerstyle.css")" rel="stylesheet" type="text/css" />
    <script src="@Url.Content("~/Scripts/jquery-1.7.1.min.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Scripts/jquery.ics.customize.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Scripts/jquery.easyui.min.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Scripts/jquery-ui.min.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Scripts/json2.js")" type="text/javascript"></script>
</head>
<body>
    @{
        ViewBag.Title = "";
    }
    @model ESimSol.BusinessObjects.ProductUniqueEvaluation  
    @Html.ValidationSummary(true)
    <div style="font-family: Tahoma">
        <table border="0" cellspacing="2" cellpadding="2">
            <tr>
                <td style="background-color: #CFB53B; text-align: center; width: 300px; color: White">
                    <label id="lblHeaderName" style="font-size: 15px; font-weight: bold; text-decoration: Underline;
                        width: 300px">
                        Edit Evaluation</label>
                </td>
            </tr>
        </table>
        <fieldset style="width: 285px; text-align: right">
            <table border="0">
                <tr>
                    <td style="width: 40px; text-align: right; font-family: Tahoma; font-size: 12px">
                        Value(%):
                    </td>
                    <td style="width: 180px; text-align: left; font-family: Tahoma; font-size: 12px">
                        @Html.TextBoxFor(model => model.EvaluationValuePerSession, new { style = "width: 195px;", id = "txtEvaluationValuePerSession" })
                    </td>
                </tr>
                <tr>
                    <td style="width: 40px; text-align: right; font-family: Tahoma; font-size: 12px">
                        Monthly/Yearly:
                    </td>
                    <td style="width: 180px; text-align: left; font-family: Tahoma; font-size: 12px">
                        @Html.DropDownListFor(model => model.CalculationType, new SelectList(Enum.GetValues(typeof(ICS.Core.Utility.EnumCalculationType))), new { id = "cboCalculationType", style = "width: 195px;" })
                    </td>
                </tr>
                <tr>
                    <td style="width: 60px; text-align: right; font-family: Tahoma; font-size: 12px">
                    </td>
                    <td style="width: 200px; text-align: left; font-family: Tahoma; font-size: 12px;
                        text-align: right">
                        <input type="button" value="Save" id="btnSave" style="width: 70px;" />
                        <input type="button" value="Cancel" id="btnCancel" style="width: 70px;" />
                    </td>
                </tr>
            </table>
        </fieldset>
    </div>
</body>
</html>
<script type="text/javascript">
var _oCOA;
    $(document).ready(function () {
       debugger;
        data =@Html.Raw(new System.Web.Script.Serialization.JavaScriptSerializer().Serialize(Model));   
        _ProductUniqueIdentification =@Html.Raw(new System.Web.Script.Serialization.JavaScriptSerializer().Serialize(Model.ProductUniqueIdentification)); 
        _ProductUniqueEvaluations =@Html.Raw(new System.Web.Script.Serialization.JavaScriptSerializer().Serialize(Model.ProductUniqueEvaluations)); 
         document.getElementById('txtEvaluationValuePerSession').value = 0;
   
   
   
$("#txtEvaluationValuePerSession").keydown(function(event) 
{
////debugger;
        // Allow: backspace, delete, tab, escape, and enter
        if ( event.keyCode == 46 || event.keyCode == 8 || event.keyCode == 9 || event.keyCode == 27 || event.keyCode == 13 || 
             // Allow: Ctrl+A
            (event.keyCode == 65 && event.ctrlKey === true) || 
             // Allow: home, end, left, right
            (event.keyCode >= 35 && event.keyCode <= 39)) {
                 // let it happen, don't do anything
                 return;
        }
        else 
        {
            // Ensure that it is a number and stop the keypress
            if (event.shiftKey || (event.keyCode < 48 || event.keyCode > 57) && (event.keyCode < 96 || event.keyCode > 105 )) {
            event.preventDefault(); 
        }   
 }
 });
   
}); // End of Ready Function
      
      
 function ValidateInput() 
{
   // ////////debugger;
        var EVP =$("#txtEvaluationValuePerSession").val();  
        if (EVP =="" || EVP ==0) 
        {
            alert("Please Provide Value");
            $('#txtCosignedName').focus();
            return false;
        }         
        var cboCalculationType = $("#cboCalculationType").val();
        if(cboCalculationType=="None") 
        {
            alert("Please Provide Calculation Type");
            return false;
        }
       
      return true; 
}

 
       

$('#btnSave').click(function () {
    debugger;
        var nValuePerSession = document.getElementById("txtEvaluationValuePerSession").value;         
        var nPUEID = data.PUEID;
        var nPUIID = data.PUIID;
        var oProductUniqueEvaluation=RefreshObject();

         if(!ValidateInput()) return false;

    $.ajax({
        type: "POST",
        dataType: "json",
        url: '@Url.Action("EditPUE", "ProductUniqueIdentification")',
        data:  JSON.stringify(oProductUniqueEvaluation),
        contentType: "application/json; charset=utf-8",
        success: function (data) {
        debugger;
            var oPUEvaluationReturn = jQuery.parseJSON(data);
            if (oPUEvaluationReturn.ErrorMessage == '' || oPUEvaluationReturn.ErrorMessage == null) 
            {
                alert("Data Saved sucessfully");
                window.returnValue = oPUEvaluationReturn;                 
                window.close();
            }
            else 
            {
            alert(oPUEvaluationReturn.ErrorMessage);
            }
        },
        error: function (xhr, status, error) {
            alert(error);
        }

    });
          
});

var cboCalculationType = $("#cboCalculationType").val();

 function RefreshObject()
 { 
    debugger;
         var nValuePerSession = document.getElementById("txtEvaluationValuePerSession").value;         
         var nPUEID = data.PUEID;
         var nPUIID = data.PUIID;
          var cboCalculationType = $("#cboCalculationType").val(); 
         var oProductUniqueEvaluation= {
                                    PUEID: nPUEID,
                                    PUIID : nPUIID, 
                                    EvaluationValuePerSession : nValuePerSession,
                                    PUEGID : data.PUEGID,
                                    CalculationType : $("#cboCalculationType").val(),
                                    CalculationTypeonInt : document.getElementById("cboCalculationType").selectedIndex,
                                    EvaluationOnInInt : data.EvaluationOn,
                                    EvaluationTypeonInt : data.EvaluationType 
                                 };
        return oProductUniqueEvaluation;
 }




    $('#btnCancel').click(function () {
        
        window.close();          
    });

</script>
