
@model ESimSol.BusinessObjects.COA_ChartOfAccountCostCenter
@{
    ViewBag.Title = "Charts Of Account Rule";
    var AccHead = ViewBag.AccountHead;
   

}
@using (Html.BeginForm())
{
    @Html.ValidationSummary(true)
    <div class="PageHeading">Chart Of Accounts Rule</div>    
        <div class="PageBody" style="overflow:auto">
        <table border="0">
            <tr>
                <td style="width:50px"></td>
                <td style="width:800px"> 
                            <div style="font-size:15px; margin-top:10px; margin-bottom:10px; color:Blue; font-weight:bold">@AccHead</div>                          
                            <fieldset>
                                <legend style="font-weight:bold"> Chart Of Accounts Rule : </legend>
                                <table>
                                    <tr>
                                        <td style="width:150px">
                                            <input type="checkbox" id="chkCostCenterEnable"  onclick="chkIsChecked()"/>Cost Center Enable
                                        </td>
                                        
                                        <td><input type="text" style = "width: 300px;", id = "txtSelectedCost" /></td>
                                        <td><input type="button" value="" id="btnCostCenterEnable" />  </td>                                    
                                    </tr>
                                    <tr>
                                        <td style="width:150px"></td>
                                        <td>                                        
                                            <select multiple="multiple" id="lbCostCenter" name="lbCostCenter" style="width: 305px;">	                                            
                                            </select>
                                        </td>                                                 
                                        <td>@Html.TextBox("SelectedCostCenterIDs", "", new { style = "width: 100px;", id = "txtSelectedCostCenterID" })</td>                                    
                                    </tr>


                                     </table>
                                </fieldset>
                                @Html.HiddenFor(model => model.AccountHeadID)
                                 <input type="submit" value="Save" id="btnSave" />
                    </td>
                <td style="width:50px"></td>
            </tr>
            <tr>
                 <td style="width:50px"></td>
                 <td style="width:800px">
                    <div style="color: red;font-weight:900; margin-top:10px">@TempData["message"]</div>
                 </td>
                 <td style="width:50px"></td>
            </tr>
        </table>     
        </div>
}
        <div class="PageFooter">
            <div style="margin-left:20px">@Html.ActionLink("Back to Charts of Accounts", "RefreshList", "ChartsOfAccount")</div>    
        </div> 

<script type="text/javascript">

var COACC;
var _sSelectedCCIDs="";
var nACHID=0;
$(document).ready(function () {
 debugger; 
//  nACHID="@Model.AccountHeadID";
    COACC=@Html.Raw(new System.Web.Script.Serialization.JavaScriptSerializer().Serialize( Model.LstChartOfAccountcostCenter));
    if (COACC=="")
    {
        document.getElementById("chkCostCenterEnable").checked = false;
        document.getElementById("btnCostCenterEnable").value = "Add";
    }
    else
    {
        document.getElementById("chkCostCenterEnable").checked = true;
        document.getElementById("btnCostCenterEnable").value = "View";
        RefreshControl();
    }
    chkIsChecked();
});


//test for commit




function RefreshControl()
{
//debugger;
    var numItems=0;
    _sSelectedCCIDs="";
    //document.getElementById("lbCostCenter").empty();
    document.getElementById("lbCostCenter").options.length = 0;
    if(COACC !=null)
    {
        for(var i=0;i<COACC.length;i++)
        { 
           addOption = new Option(COACC[i].CCNameCode, COACC[i].CCID);
           document.getElementById("lbCostCenter").options[numItems] = addOption
           _sSelectedCCIDs=_sSelectedCCIDs+COACC[i].CCID+",";
           numItems++;
           
         }
         //if(_sSelectedCCIDs.length>0)
         //{
         //   _sSelectedCCIDs=_sSelectedCCIDs.substring(0, _sSelectedCCIDs.length - 1);
         //}
         document.getElementById('txtSelectedCostCenterID').value = _sSelectedCCIDs;
         document.getElementById('txtSelectedCost').value = numItems + " Cost Center selected";
    } 
    else
    {
        document.getElementById("lbCostCenter").options.length = 0;  
        document.getElementById('txtSelectedCostCenterID').value = "";
        document.getElementById('txtSelectedCost').value = 0 + " Cost Center selected";        
    }    
}



function chkIsChecked() {
//debugger;
var IsCheck = document.getElementById("chkCostCenterEnable");
    if (IsCheck.checked) 
    {
        document.getElementById("btnCostCenterEnable").style.display = '';
        document.getElementById("txtSelectedCostCenterID").style.display = '';
    }
    else 
    {
        document.getElementById("btnCostCenterEnable").style.display = 'none';
        document.getElementById("txtSelectedCostCenterID").style.display = 'none';
    }
}



//    $(function () {
//        $('#btnCostCenterEnable').click(function () {
//                                                  
//                                                  //debugger;
//                                                    var oParameter = new Object();
//                                                    oParameter.MultipleReturn = true;
//                                                    var url = '@Url.Action("CCLedgerPiker", "CostCenter", new { nAccountHeadID = Model.AccountHeadID })';
//                                                    var oReturnObject = window.showModalDialog(url, oParameter, 'dialogHeight:470px;dialogWidth:550px;dialogLeft:400;dialogTop:100;center:yes;resizable:no;status:no;scroll:no');
//                                                    document.getElementById('txtSelectedCostCenterID').value = oReturnObject.SelectedItemsIDs;


//                                                    });

////////
$(function () {
    $('#btnCostCenterEnable').click(function () {
    debugger;
    var oParameter = new Object();
    oParameter.MultipleReturn = true;
    oParameter.COACC=COACC;
    var url = '@Url.Action("CCPikerWithCheckBox", "CostCenter")';
    var oReturnObject = window.showModalDialog(url, oParameter, 'dialogHeight:470px;dialogWidth:550px;dialogLeft:400;dialogTop:100;center:yes;resizable:no;status:no;scroll:no');        
    debugger;        
    _sSelectedCCIDs="";       
    var numItems=0;
    if(oReturnObject !=null)
    {
        if(oReturnObject.SelectedCostCenters!=null)
        {
            //document.getElementById("lbCostCenter").empty();
            document.getElementById("lbCostCenter").options.length = 0;                        
            for(var i=0;i<oReturnObject.SelectedCostCenters.length;i++)
            { 
                if(oReturnObject.SelectedCostCenters[i].data.IsLastLayer==true) 
                {
                    addOption = new Option(oReturnObject.SelectedCostCenters[i].label,oReturnObject.SelectedCostCenters[i].data.oNodeID);
                    document.getElementById("lbCostCenter").options[numItems] = addOption
                    _sSelectedCCIDs=_sSelectedCCIDs+oReturnObject.SelectedCostCenters[i].data.oNodeID+",";
                    numItems++;
                }
            }
            //if(_sSelectedCCIDs.length>0)
            //{
            //    _sSelectedCCIDs=_sSelectedCCIDs.substring(0, _sSelectedCCIDs.length - 1);
            //}
            document.getElementById('txtSelectedCostCenterID').value = _sSelectedCCIDs;
            document.getElementById('txtSelectedCost').value = numItems + " Cost Center selected";
            }
        }
        else
        {
            document.getElementById("lbCostCenter").options.length = 0;  
            document.getElementById('txtSelectedCostCenterID').value = "";
            document.getElementById('txtSelectedCost').value = 0 + " Cost Center selected";        
        }        
    });
});
</script>