
 
 <div class="pageborder">
@model ESimSol.BusinessObjects.COA_ChartsOfAccount
@{
    ViewBag.Title = "Delete Charts Of Account";
}


 <div class="PageHeading">Delete charts of account</div>    
        <div class="PageBody" style="overflow:auto">
        <table border="0">
            <tr>
                <td style="width:50px"></td>
                <td style="width:800px">    
                            <div style="font-size:15px; margin-top:10px; margin-bottom:10px; color:Blue; font-weight:bold">Are you sure you want to delete this?</div>                       
                            <fieldset>
                                <legend style="font-weight:bold"> Charts of Accounts : </legend>
                                <table border="0">
                                    <tr>
                                        <td>Account Code</td>
                                        <td>:</td>
                                        <td>
                                                <div class="editor-field">
                                                @Html.TextBoxFor(model => model.AccountCode, new { style = "width: 500px;", id = "txtAccountCode", disabled = "disabled"})            
                                                </div>
                                        </td>
                                    </tr>
                                    <tr>
                                       <td>Account Head Name</td>         
                                        <td>:</td>
                                        <td>
                                            <div class="editor-field">
                                                @Html.TextBoxFor(model => model.AccountHeadName, new { style = "width: 500px;", id = "txtAccountHeadName", disabled = "disabled"})            
                                            </div>
                                        </td>
                                    </tr>
                                    <tr>
                                       <td>Account Type</td>         
                                        <td>:</td>
                                        <td>
                                            <div class="editor-field">
                                                @Html.DropDownListFor(model => model.AccountType, new SelectList(Enum.GetValues(typeof(ESimSol.BusinessObjects.EnumAccountType))), new { id = "cboAccountType", style = "width: 505px;", disabled = "disabled" })
                                            </div>
                                        </td>
                                    </tr>     
                                    <tr>
                                            <td>Description</td>                                     
                                            <td>:</td>
                                            <td>
                                                  <div class="editor-field">
                                                        @Html.TextBoxFor(model => model.Description, new { style = "width: 500px;", id = "txtDescription", disabled = "disabled"})            
                                                  </div>
                                            </td>
                                    </tr>                                    
                                    <tr>
                                        <td>Dynamic</td>                                  
                                         <td>:</td>
                                         <td>@Html.CheckBoxFor(model => model.IsDynamic, new { id = "chkIsDynamin", disabled = "disabled"})</td>
                                    </tr>                                   
                                    <tr>
                                        <td></td>
                                        <td></td>
                                        <td>
                                            
                                        </td>
                                    </tr>
                                </table>
                                </fieldset>
                                @using (Html.BeginForm())
                                {
                                    <input type="submit" value="Delete"/>
                                }
                
                    </td>
                <td style="width:50px"></td>
            </tr>
            <tr>
                 <td style="width:50px"></td>
                 <td style="width:800px">
                    <div style="color: red;font-weight:900; margin-top:10px">@TempData["message"]</div>
                 </td>
                 <td style="width:50px"></td>
            </tr>
        </table>     
        </div>
        <div class="PageFooter">
            <div style="margin-left:20px">@Html.ActionLink("Back to Charts of Accounts", "RefreshList", "ChartsOfAccount")</div>    
        </div>
 </div>   
 

