<html>
<head>  
    <link href="@Url.Content("~/Content/CSS/icon.css")" rel="stylesheet" type="text/css" />
    <link href="@Url.Content("~/Content/CSS/easyui.css")" rel="stylesheet" type="text/css" />
    <link href="@Url.Content("~/Content/CSS/Pikerstyle.css")" rel="stylesheet" type="text/css" />

    <script src="@Url.Content("~/Scripts/jquery-1.7.1.min.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Scripts/jquery.ics.customize.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Scripts/jquery.easyui.min.js")" type="text/javascript"></script>

    <script src="@Url.Content("~/Scripts/jquery-ui.min.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Scripts/json2.js")" type="text/javascript"></script>
    
</head>
<body>

@model ESimSol.BusinessObjects.COA_ChartsOfAccount
<div style="font-family:Tahoma">           
<table border="0" cellspacing="2" cellpadding="2">
    <tr>
        <td style="background-color:#CFB53B; text-align:center; width:500px; color:White">
            <label id="lblHeaderName" style="font-size:15px; font-weight:bold; text-decoration:Underline"> Edit Charts of Account</label>
        </td>
    </tr>
</table>
<fieldset>
    <legend style="font-weight:bold"> Account Head Informations : </legend>
    <table border="0" cellspacing="2" cellpadding="2" style="font-size:11px; font-weight:bold">
        <tr>
            <td style="width:200px; text-align:right">
                Account Head Code:
            </td>
            <td style="width:300px">
                @Html.TextBoxFor(model => model.AccountCode, new { style = "width: 300px;", id = "txtAccountCode", disabled = "disabled" }) 
            </td>
        </tr>
        <tr>
            <td style="width:200px; text-align:right">
                Account Head Name :
            </td>
            <td style="width:300px">
                @Html.TextBoxFor(model => model.AccountHeadName, new { style = "width: 300px;", id = "txtAccountHeadName" }) 
            </td>
        </tr>
        
        <tr>
            <td style="width:200px; text-align:right">
                Description :
            </td>
            <td style="width:300px">
                @Html.TextBoxFor(model => model.Description, new { style = "width: 300px;", id = "txtDescription" }) 
            </td>
        </tr>
             
    </table>
</fieldset>
    
    <fieldset>
        <legend style="font-weight:bold"> Action : </legend>
        <table border="0" cellspacing="2" cellpadding="2" style="font-size:11px; font-weight:bold">
            <tr>
                <td style="width:400px; text-align:right">
             
                </td>

                <td style="width:50px">
                   <a id="btnSave" href="javascript:void(0)" class="easyui-linkbutton" iconCls="icon-save" plain="true" onclick="Save()">Save</a>
                </td>
                <td style="width:50px">
                   <a href="javascript:void(0)" class="easyui-linkbutton" iconCls="icon-cancel" plain="true" onclick="Close()">Close</a>
                </td>
            </tr>       
        </table>
    </fieldset>
</div>
</body>
</html>


<script type="text/javascript"> 
 var _oCOA_ChartsOfAccount=null;
 var _sBaseAddress='';
 $(document).ready(function () {
    //                     
        var obj = window.dialogArguments;                   
        _oCOA_ChartsOfAccount = @Html.Raw(new System.Web.Script.Serialization.JavaScriptSerializer().Serialize(Model));  
        _sBaseAddress =@Html.Raw( new System.Web.Script.Serialization.JavaScriptSerializer().Serialize(HttpContext.Current.Session[SessionInfo.BaseAddress]));         
 }); 


   function ValidateInput()
    {
        if(document.getElementById("txtAccountHeadName").value==null || document.getElementById("txtAccountHeadName").value=="")
        {        
            alert("Please enter Account Head Name!");
            $('#txtAccountHeadName').focus();
            return false;
        }
        if(_oCOA_ChartsOfAccount==null || _oCOA_ChartsOfAccount.AccountHeadID<=0)
        {        
            alert("Invalid account head please try again!");            
            return false;
        }
        return true;
    }


    function Save()
    {
        if(!ValidateInput()) return;
        debugger;
        _oCOA_ChartsOfAccount.AccountHeadName=$("#txtAccountHeadName").val();
        _oCOA_ChartsOfAccount.Description=$("#txtDescription").val();
                
        $.ajax({
            type: "POST",
            dataType: "json",            
            url : _sBaseAddress+  "/ChartsOfAccount/Save",
            traditional: true,
            data:  JSON.stringify(_oCOA_ChartsOfAccount),
            contentType: "application/json; charset=utf-8",
            success: function (data) {
                _oCOA_ChartsOfAccount = jQuery.parseJSON(data);
                if(_oCOA_ChartsOfAccount.ErrorMessage == ""){
                    if (_oCOA_ChartsOfAccount.AccountHeadID>0) {
                        alert("Data Saved sucessfully");
                        window.returnValue = _oCOA_ChartsOfAccount;
                        window.close();
                    }
                }
                else {
                    alert(_oCOA_ChartsOfAccount.ErrorMessage);
                }
            },
            error: function (xhr, status, error) {
                alert(error);
            }

        });
    }
      

    function Close()
    {
        window.close();
    }
</script>