
@model ESimSol.BusinessObjects.COA_ChartOfAccountCostCenter
@{
    ViewBag.Title = "Map Cost Center";
    var AccHead = ViewBag.AccountHead;
    
}
@*<script src="@Url.Content("~/Scripts/jquery.validate.min.js")" type="text/javascript"></script>
<script src="@Url.Content("~/Scripts/jquery.validate.unobtrusive.min.js")" type="text/javascript"></script>*@
@using (Html.BeginForm())
{
    @Html.ValidationSummary(true)
        
        <div class="PageHeading">Map Cost Center</div>    
        <div class="PageBody" style="overflow:auto">
        <table border="0">
            <tr>
                <td style="width:50px"></td>
                <td>
                           <div style="font-size:15px; margin-top:10px; margin-bottom:10px; color:Blue; font-weight:bold">@AccHead</div>
                            <fieldset>
                                <legend style="font-weight:bold">Mapped Cost Center : </legend>
                                <table border="0">
                                    
                                    <tr>
                                        <td></td>
                                        <td></td>
                                        <td></td>
                                    </tr>
                                    
                                    <tr>
                                       <td></td>         
                                        <td></td>
                                        <td></td>
                                    </tr>
                                    <tr>
                                        <td>Mapped Ledger</td>
                                                 
                                        <td></td>
                                        <td>
                                        
                                            <div class="editor-field">
                                                <table>
                                                <tr>
                                                    <td>
                                           
                                                    <input type="text" style = "width: 500px;", id = "txtSelectedCOA" />
                                                    <input type="button" style = "width: 50px;" value="CoA" id="btnCOAEnable" />
                                                    </td>
                                                </tr>
                                                <tr>
                                                
                                                    <td>
                                                                                  
                                                    <select multiple="multiple" id="lbCOA" name="lbCOA" style="width: 506px;">	                                            
                                                    </select>
                                                    </td>
                                                    </tr>
                                                <tr>
                                                    <td>@Html.TextBox("SelectedCOAIDs","", new { style = "width: 500px;", id = "txtSelectedCOAID" })</td>                                    
                                    

                                                </tr>                                              
                                                </table>


                                            </div>
                                        
                                        </td>   
                                                  
                                            
                                        
                                    </tr>
                                   
                                    <tr>
                                        <td></td>         
                                        <td></td>
                                        <td></td>
                                    </tr>           
                                     <tr>
                                        <td></td>         
                                        <td></td>
                                        <td></td>
                                    </tr>                                                            

                                        
                                         
                                        
                                                  
                               
                                    @Html.HiddenFor(model => model.ParentID)
                                    @Html.HiddenFor(model => model.CCID)

                                    <tr>
                                        <td></td>
                                        <td>
                                        <td></td>
                                    </tr>
                            </table>
                          </fieldset>
                                 
                                 <input type="submit" value="Save" id="btnSave" />
                       </td>


                
                        <td style="width:50px"></td>
            </tr>
            
            
            
            <tr>
                 <td style="width:50px"></td>
                 <td style="width:800px">
                    <div style="color: red;font-weight:900; margin-top:10px">@TempData["message"]</div>
                 </td>
                 <td style="width:50px"></td>
            </tr>
         </table>     
        </div>
}
        <div class="PageFooter">
            <div style="margin-left:20px">@Html.ActionLink("Back to Cost Center", "Refresh", "CostCenter")</div>    
        </div>

<script type="text/javascript">

    var COACC;
    var _sSelectedCOAIDs = "";
    var nACHID = 0;

    $(document).ready(function () {
        //debugger; 
        
        COACC=@Html.Raw(new System.Web.Script.Serialization.JavaScriptSerializer().Serialize( Model.LstCostCenterChartOfAccount));
   if(COACC !=null)
    {
        RefreshControl();
    }
   
});



 


//test for commit




function RefreshControl()
{
//debugger;
    var numItems=0;
    _sSelectedCOAIDs = "";
    //document.getElementById("lbCOA").empty();
    document.getElementById("lbCOA").options.length = 0;
    if(COACC !=null)
    {
        for(var i=0;i<COACC.length;i++)
        { 
           addOption = new Option(COACC[i].COANameCode, COACC[i].AccountHeadID);
           document.getElementById("lbCOA").options[numItems] = addOption
           _sSelectedCOAIDs = _sSelectedCOAIDs + COACC[i].AccountHeadID + ",";
           numItems++;
           
         }
         //if(_sSelectedCCIDs.length>0)
         //{
         //   _sSelectedCCIDs=_sSelectedCCIDs.substring(0, _sSelectedCCIDs.length - 1);
         //}
         document.getElementById('txtSelectedCOAID').value = _sSelectedCOAIDs;
         document.getElementById('txtSelectedCOA').value = numItems + " Ledger selected";
    } 
    else
    {
        document.getElementById("lbCOA").options.length = 0;  
        document.getElementById('txtSelectedCOAID').value = "";
        document.getElementById('txtSelectedCOA').value = 0 + " Ledger selected";        
    }    
}







      $(function () {
          $('#btnCOAEnable').click(function () {
    //debugger;
    var oParameter = new Object();
    oParameter.MultipleReturn = true;
    
    var url = '@Url.Action("AccountHeadPikerWithCheckBox", "ChartsOfAccount")';
    var oReturnObject = window.showModalDialog(url, oParameter, 'dialogHeight:470px;dialogWidth:550px;dialogLeft:400;dialogTop:100;center:yes;resizable:no;status:no;scroll:no');        
    debugger;        
    _sSelectedCOAIDs="";       
    var numItems=0;
    if(oReturnObject !=null)
    {
        if(oReturnObject.SelectedAccountHeads!=null)
        {
            //document.getElementById("lbCOA").empty();
            document.getElementById("lbCOA").options.length = 0;
            for (var i = 0; i < oReturnObject.SelectedAccountHeads.length; i++)
            {
                if (oReturnObject.SelectedAccountHeads[i].data.IsjvNode == true) 
                {
                    addOption = new Option(oReturnObject.SelectedAccountHeads[i].label, oReturnObject.SelectedAccountHeads[i].data.oNodeID);
                    document.getElementById("lbCOA").options[numItems] = addOption
                    _sSelectedCOAIDs = _sSelectedCOAIDs + oReturnObject.SelectedAccountHeads[i].data.oNodeID + ",";
                    numItems++;
                }
            }
            //if(_sSelectedCOAIDs.length>0)
            //{
            //    _sSelectedCOAIDs=_sSelectedCOAIDs.substring(0, _sSelectedCOAIDs.length - 1);
            //}
            document.getElementById('txtSelectedCOAID').value = _sSelectedCOAIDs;
            document.getElementById('txtSelectedCOA').value = numItems + " Ledger selected";
            }
        }
        else
        {
            document.getElementById("lbCOA").options.length = 0;
            document.getElementById('txtSelectedCOAID').value = "";
            document.getElementById('txtSelectedCOA').value = 0 + " Ledger selected";        
        }        
    });

    

});
</script>