@using ESimSol.BusinessObjects;
@model COA_ChartsOfAccount


<table>     
        <tr >
            <td width="100%"   style="text-align: left; color:#EAC117; font-size:8px; font-weight:bold">
                DOC NO: <i>ICS</i>-RPT-006
            </td>
        </tr>
</table>
<table border="0" cellspacing="0">
        <tr>
            <td width="100%"   style="text-align: center; font-size:15px; font-weight:bold">
                @Model.Company.Name
            </td>
        </tr>
        <tr>
            <td width="100%"   style="text-align: center; font-size:8px">
                @Model.Company.Address, @Model.Company.Phone
            </td>
        </tr>
        <tr>
            <td width="100%"   style="text-align: center; font-size:8px">
                @Model.Company.Email, @Model.Company.WebAddress
            </td>
        </tr>   
</table>
<br />

<table>     
        <tr style="height:180px; vertical-align:bottom">
            <td width="100%"   style="text-align: center; font-size:12px; font-weight:bold">
                <u>Chart of Account List</u>                
            </td>
        </tr>
</table>

<br />



<table>     
        <tr style="height:100px; vertical-align:bottom" >
            <td width="100%"   style="text-align: left; font-size:10px; font-weight:bold">
                <u></u>
            </td>
        </tr>
</table>

@{
    int nSLNo = 0;
}
  
<table border="1" cellpadding="3" cellspacing="3">   
<tr border="1" bgcolor="#DEDEDE">
        <td width="2%" style="text-align: center; font-size:9px; font-weight:bold">
            SL No
        </td>
       
        <td colspan="4" width="38%" style="text-align: center; font-size:9px; font-weight:bold">
            Account Head Name
        </td>
         <td width="12%" style="text-align: center; font-size:9px; font-weight:bold">
            Account Type
        </td>   
        <td width="43%" style="text-align: center; font-size:9px; font-weight:bold">
            Accounts Path
        </td>        
    </tr>
               
    @foreach (COA_ChartsOfAccount oAccountHead in Model.ChartsOfAccounts)
    {
        nSLNo++;
        <tr>
            <td width="7%" style="text-align: left; font-size:8px">
                 @nSLNo.ToString()
            </td>
            @if (oAccountHead.AccountType == ESimSol.BusinessObjects.EnumAccountType.Component)
            {                
                <td colspan="4" width="38%" style="text-align: left; font-size:8px">
                    @oAccountHead.AccountHeadName                   
                </td>  
            }
            @if (oAccountHead.AccountType == ESimSol.BusinessObjects.EnumAccountType.Group)
            {
                <td width="4%" style="text-align: left; font-size:8px"></td>
                <td colspan="3" width="34%" style="text-align: left; font-size:8px">
                    @oAccountHead.AccountHeadName                   
                </td>  
            }
            @if (oAccountHead.AccountType == ESimSol.BusinessObjects.EnumAccountType.SubGroup)
            {
                <td width="4%" style="text-align: left; font-size:8px"></td>
                <td width="4%" style="text-align: left; font-size:8px"></td>
                <td colspan="2" width="30%" style="text-align: left; font-size:8px">
                    @oAccountHead.AccountHeadName                 
                </td>  
            }
            @if (oAccountHead.AccountType == ESimSol.BusinessObjects.EnumAccountType.Ledger)
            {
                <td width="4%" style="text-align: left; font-size:8px"></td>
                <td width="4%" style="text-align: left; font-size:8px"></td>
                 <td width="4%" style="text-align: left; font-size:8px"></td>
                <td  width="26%" style="text-align: left; font-size:8px">
                    @oAccountHead.AccountHeadName
                </td>  
            }
           
           <td width="12%" style="text-align: left; font-size:8px">
                @oAccountHead.AccountTypeInString             
           </td>
           <td width="43%" style="text-align: left; font-size:8px">
                @oAccountHead.PathName             
           </td>                         
        </tr>
    }
</table>
<br />
<br /> 
<table border="0" cellpadding="3" cellspacing="3">
    <tr>
        <td width="33%"  style="text-align: left; font-size:9px">
        __________________ 
        </td>
        <td width="34%"  style="text-align: center; font-size:9px">
        __________________        
        </td>
        <td width="33%"  style="text-align: right; font-size:9px">
        __________________         
        </td>
    </tr>
    <tr>
        <td width="33%"  style="text-align: left; font-size:9px">       
           Prepare by
        </td>
        <td width="34%"  style="text-align: center; font-size:9px">       
           Checked By
        </td>
        <td width="33%"  style="text-align: right; font-size:9px">       
           Approved By 
        </td>
    </tr>
    <tr>
        <td></td>
        <td></td>
        <td></td>    
    </tr>
</table>   