<html>
<head>

    <link href="@Url.Content("~/Content/CSS/icon.css")" rel="stylesheet" type="text/css" />
    <link href="@Url.Content("~/Content/CSS/easyui.css")" rel="stylesheet" type="text/css" />
    <link href="@Url.Content("~/Content/CSS/Pikerstyle.css")" rel="stylesheet" type="text/css" />

    <script src="@Url.Content("~/Scripts/jquery-1.7.1.min.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Scripts/jquery.ics.customize.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Scripts/jquery.easyui.min.js")" type="text/javascript"></script>

    <script src="@Url.Content("~/Scripts/jquery-ui.min.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Scripts/json2.js")" type="text/javascript"></script>
</head>
@{
    ViewBag.Title = "Copy COA";
}
@model ESimSol.BusinessObjects.COA_ChartsOfAccount
<body>
    <div style="font-family:Tahoma">
        <div class="easyui-panel" title="Charts Of Account List" style="width:550px;height:530px;overflow:auto">
            <ul id="tblChartsOfAccountTreeGrid" data-options="checkbox:true"></ul>
        </div>
        <fieldset>
            <legend style="font-weight:bold"> Action : </legend>
            <table border="0" cellspacing="2" cellpadding="2" style="font-size:11px; font-weight:bold">
                <tr>
                    <td style="width:400px; text-align:right"></td>
                    <td style="width:50px">
                        <a id="btnOk" href="javascript:void(0)" class="easyui-linkbutton" iconcls="icon-ok" plain="true">Ok</a>
                    </td>
                    <td style="width:50px">
                        <a id="btnClose" href="javascript:void(0)" class="easyui-linkbutton" iconcls="icon-cancel" plain="true">Close</a>
                    </td>
                </tr>
            </table>
        </fieldset>
    </div>
</body>
</html>

<script type="text/javascript">
    var _oCOA_ChartsOfAccount=null;
    var _sBaseAddress='';
    var _oCOAs= [];
    $(document).ready(function () {
        _sBaseAddress =@Html.Raw( new System.Web.Script.Serialization.JavaScriptSerializer().Serialize(HttpContext.Current.Session[SessionInfo.BaseAddress]));
        _oCOA_ChartsOfAccount =@Html.Raw( new System.Web.Script.Serialization.JavaScriptSerializer().Serialize(Model));
        LoadCOA_ChartsOfAccountMenu();
    });

    function LoadCOA_ChartsOfAccountMenu()
    {
        if (_oCOA_ChartsOfAccount != null) {
            $('#tblChartsOfAccountTreeGrid').tree({
                data: [_oCOA_ChartsOfAccount.TChartsOfAccount]
            });
        }
    }

    $("#btnOk").click(function () {
        if(_oCOA_ChartsOfAccount==null)
        {
            alert("Invalid ChartsOfAccount please try again!");
            return;
        }
      
        _oCOAs= $('#tblChartsOfAccountTreeGrid').tree('getChecked');
        if(parseInt(_oCOAs.length)==0)
        {
            alert("Please select at least one item!");
            return;
        }
        var sMenuKeys="";
        for(var i=0; i<_oCOAs.length;i++)
        {
            sMenuKeys=sMenuKeys+_oCOAs[i].id+',';
        }

        _oCOAs= [];
        _oCOAs= $('#tblChartsOfAccountTreeGrid').tree('getChecked', 'indeterminate');
         for(var i=0; i<_oCOAs.length;i++)
        {
            sMenuKeys=sMenuKeys+_oCOAs[i].id+',';
        }

        var oCOA_ChartsOfAccount= {
                        IDs:sMenuKeys
                   }
        $.ajax({
            type: "POST",
            dataType: "json",
            url: '@Url.Action("AccountHeadSetCompany", "ChartsOfAccount")',
            traditional: true,
            data:  JSON.stringify(oCOA_ChartsOfAccount),
            contentType: "application/json; charset=utf-8",
            success: function (data) {
                var _oTChartsOfAccount = jQuery.parseJSON(data);
                if(_oTChartsOfAccount!=null)
                {
                    window.returnValue=_oTChartsOfAccount;
                    window.close();
                }
            },
            error: function (xhr, status, error) {
                alert(error);
            }
        });

    })

    $("#btnClose").click(function () {
         window.close();
    })
    $(document).keydown(function(e) {
    if(e.which == 27)//escape=27
    {
        window.close();
    }
});
</script>