<html>
<head>
    <link href="@Url.Content("~/Content/CSS/icon.css")" rel="stylesheet" type="text/css" />
    <link href="@Url.Content("~/Content/CSS/easyui.css")" rel="stylesheet" type="text/css" />
    <link href="@Url.Content("~/Content/CSS/Pikerstyle.css")" rel="stylesheet" type="text/css" />
    <link href="@Url.Content("~/Content/CSS/mainstyle.css")" rel="stylesheet" type="text/css" />

    <script src="@Url.Content("~/Scripts/jquery-1.7.1.min.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Scripts/jquery.ics.customize.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Scripts/jquery.easyui.min.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Scripts/jquery.ics.plugins.js")" type="text/javascript"></script>

    <script src="@Url.Content("~/Scripts/jquery-ui.min.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Scripts/json2.js")" type="text/javascript"></script>
</head>
<body>
    @model ESimSol.BusinessObjects.COA_AccountHeadConfig
    <div style="font-family: Tahoma">
        <table border="0" cellspacing="2" cellpadding="2">
            <tr>
                <td style="background-color: #CFB53B; width:600px; text-align: center; color: White">
                    <label id="lblHeaderName" style="font-size: 15px; font-weight: bold; text-decoration: Underline;"> Configure </label>
                </td>
            </tr>
        </table>
        <div style="padding:0px">
            <fieldset>
                <legend>Configuration :</legend>
                <table border="0">
                    <tr>
                        <td style="width: 220px; text-align: right; font-size:12px;"> <label id="lblCounterAccount">COGS/Inventory Account</label> </td>
                        <td style="width: 220px; text-align:left;">
                            <input type="text" id="txtCounterAccount" style="width:100%;" />
                        </td>
                    </tr>
                    <tr>
                        <td style="width: 220px; text-align: right; font-size:12px;"> Sub Ledgers are Applicable   </td>
                        <td style="width: 220px; text-align:left;">
                            <table border="0" cellpadding="0" cellspacing="0" style="font-size:11px; font-weight:bold">
                                <tr>
                                    <td style="width:45px">  <input type="checkbox" id="chkCCApplyYes" onclick="if(this.checked){IsCostCenterApplyYes()} else {IsCostCenterApplyNo()}" />Yes </td>
                                    <td style="width:45px">  <input type="checkbox" id="chkCCApplyNo" onclick="if(this.checked){IsCostCenterApplyNo()} else {IsCostCenterApplyYes()}" />No</td>
                                </tr>
                            </table>
                        </td>
                    </tr>
                    <tr>
                        <td style="width: 220px; text-align: right; font-size:12px;">Bills reference are applicable    </td>
                        <td style="width: 220px; text-align:left;">
                            <table border="0" cellpadding="0" cellspacing="0" style="font-size:11px; font-weight:bold">
                                <tr>
                                    <td style="width:45px">  <input type="checkbox" id="chBillApplyYes" onclick="if(this.checked){IsBillRefApplyYes()} else {IsBillRefApplyNo()}" />Yes </td>
                                    <td style="width:45px">  <input type="checkbox" id="chBillApplyNo" onclick="if(this.checked){IsBillRefApplyNo()} else {IsBillRefApplyYes()}" />No</td>
                                </tr>
                            </table>
                        </td>
                    </tr>
                    <tr>
                        <td style="width: 220px; text-align: right; font-size:12px;">Assign Inventory reference  </td>
                        <td style="width: 220px; text-align:left;">
                            <table border="0" cellpadding="0" cellspacing="0" style="font-size:11px; font-weight:bold">
                                <tr>
                                    <td style="width:45px">  <input type="checkbox" id="chkInvYes" onclick="if(this.checked){IsInventoryApplyYes()} else {IsInventoryApplyNo()}" />Yes </td>
                                    <td style="width:45px">  <input type="checkbox" id="chkInvNo" onclick="if(this.checked){IsInventoryApplyNo()} else {IsInventoryApplyYes()}" />No</td>
                                </tr>
                            </table>
                        </td>
                    </tr>
                    <tr>
                        <td style="width: 220px; text-align: right; font-size:12px;">Assign Order reference  </td>
                        <td style="width: 220px; text-align:left;">
                            <table border="0" cellpadding="0" cellspacing="0" style="font-size:11px; font-weight:bold">
                                <tr>
                                    <td style="width:45px">  <input type="checkbox" id="chkOrderRefAppYes" onclick="if(this.checked){IsOrderRefApplyYes()} else {IsOrderRefApplyNo()}" />Yes </td>
                                    <td style="width:45px">  <input type="checkbox" id="chkOrderRefAppNo" onclick="if(this.checked){IsOrderRefApplyNo()} else {IsOrderRefApplyYes()}" />No</td>
                                </tr>
                            </table>
                        </td>
                    </tr>
                    @*<tr>
                        <td style="width: 220px; text-align: right; font-size:12px;">Voucher  reference</td>
                        <td style="width: 220px; text-align:left;">
                            <table border="0" cellpadding="0" cellspacing="0" style="font-size:11px; font-weight:bold">
                                <tr>
                                    <td style="width:45px">  <input type="checkbox" id="chVoucherApplyYes" onclick="if(this.checked){IsVoucherApplyYes()} else {IsVoucherApplyNo()}" />Yes </td>
                                    <td style="width:45px">  <input type="checkbox" id="chVoucherApplyNo" onclick="if(this.checked){IsVoucherApplyNo()} else {IsVoucherApplyYes()}" />No</td>
                                </tr>
                            </table>
                        </td>
                    </tr>*@
                </table>
                <div style="" id="ConfigTable">
                    <div class="easyui-tabs" style="width:400px;height:300px" id="ParentDiv">
                        <div title="Sub Ledger" style="padding:10px" class="CC">
                            <table id="tblCCs" title="CC List" class="easyui-datagrid" fit="true" fitcolumns="true" rownumbers="true" singleselect="true" autorowheight="false" toolbar="#toolbarCC">
                                <thead>
                                    <tr>
                                        <th field="Name" width="200">CC Name</th>
                                    </tr>
                                </thead>
                            </table>
                            <div id="toolbarCC">
                                <select id="cboCC" style="width:100px;"></select>
                                <a id="btnCCAdd" href="javascript:void(0)" class="easyui-linkbutton" iconcls="icon-add" plain="true">Add</a>
                                <a id="btnCCRemove" href="javascript:void(0)" class="easyui-linkbutton" iconcls="icon-remove" plain="true">Remove</a>
                            </div>
                        </div>
                        <div title="Inventory reference" style="padding:10px" class="IR">
                            <table id="tblIRs" title="IR List" class="easyui-datagrid" fit="true" fitcolumns="true" rownumbers="true" singleselect="true" autorowheight="false" toolbar="#toolbarIR">
                                <thead>
                                    <tr>
                                        <th field="ProductCategoryName" width="200">Product Category Name</th>
                                    </tr>
                                </thead>
                            </table>
                            <div id="toolbarIR">
                                <select id="cboIR" style="width:100px;"></select>
                                <a id="btnIRAdd" href="javascript:void(0)" class="easyui-linkbutton" iconcls="icon-add" plain="true">Add</a>
                                <a id="btnIRRemove" href="javascript:void(0)" class="easyui-linkbutton" iconcls="icon-remove" plain="true">Remove</a>
                            </div>
                        </div>
                    </div>
                </div>
            </fieldset>
        </div>
        <fieldset>
            <legend style="font-weight: bold">Action : </legend>
            <table border="0" cellspacing="2" cellpadding="2" style="font-size: 11px; width: 100%;
            font-weight: bold; font-size: 12px">
                <tr>
                    <td style="width: 840px; text-align: right"></td>
                    <td style="width: 60px; font-size: 13px">
                        <a id="btnSave" href="javascript:void(0)" class="easyui-linkbutton" iconcls="icon-save" plain="true" onclick="Save()">Save</a>
                    </td>
                    <td style="width: 60px; font-size: 13px">
                        <a id="btnClose" href="javascript:void(0)" class="easyui-linkbutton" iconcls="icon-cancel" plain="true" onclick="Close()">Close</a>
                    </td>
                </tr>
            </table>
        </fieldset>
    </div>
</body>
</html>
<script type="text/javascript">
    var _oCOA_AccountHeadConfig = null;
    var _oExport_LDBP=null;
    var _sBaseAddress="";
    var _oBankAccountAccounts =[];
    var _oBankAccounts =[];
    var _oAuthorizationRolesMapping =[];
    var _oCostCenters = [];
    var _oProductCategorys=[];
    var _obj = window.dialogArguments;
    $(document).ready(function () {
        //debugger;
        _sBaseAddress =@Html.Raw(new System.Web.Script.Serialization.JavaScriptSerializer().Serialize(HttpContext.Current.Session[SessionInfo.BaseAddress]));
        _oCOA_AccountHeadConfig =@Html.Raw(new System.Web.Script.Serialization.JavaScriptSerializer().Serialize(Model));
        _oCostCenters = _oCOA_AccountHeadConfig.ACCostCenters?_oCOA_AccountHeadConfig.ACCostCenters:[];
        _oProductCategorys = _oCOA_AccountHeadConfig.ProductCategorys?_oCOA_AccountHeadConfig.ProductCategorys:[];
        RefreshControl();
        LoadCboCC(_oCostCenters);
        LoadCCTable(_oCOA_AccountHeadConfig.AccHeadCostCenters?_oCOA_AccountHeadConfig.AccHeadCostCenters:[]);
        LoadIRTable(_oCOA_AccountHeadConfig.AccHeadProductCategorys?_oCOA_AccountHeadConfig.AccHeadProductCategorys:[]);
        ConfigTableHideShow("ViewMode");
        LoadCboIR(_oProductCategorys);
        debugger;
        if(_oCOA_AccountHeadConfig.ComponentID !=5 && _oCOA_AccountHeadConfig.ComponentID !=6){
            $('#txtCounterAccount').prop('disabled',true);
        }else{
            $('#txtCounterAccount').prop('disabled',false);
            if(_oCOA_AccountHeadConfig.ComponentID ===5){
                $('#lblCounterAccount').html('COGS Account');
            }
            else if(_oCOA_AccountHeadConfig.ComponentID ===6){
                $('#lblCounterAccount').html('Inventory Account');
            }
        }
        $('#txtCounterAccount').val(_oCOA_AccountHeadConfig.CounterHeadName);
        $('#txtCounterAccount').icsAutoComplete({
            BaseAddress : sessionStorage.getItem('BaseAddress'),
            ControllerName: "ChartsOfAccount",
            ActionName: "GetsByComponentAndCodeName",
            Object: {ComponentID:(_oCOA_AccountHeadConfig.ComponentID ===5?6: _oCOA_AccountHeadConfig.ComponentID ===6?2:0),AccountType:5,AccountHeadCodeName:''},
            PropertyName: "AccountHeadName",
            ParamName: "AccountHeadCodeName"
        });
    });

    function LoadCCTable(oAccHeadCostCenters)
    {
        var data=oAccHeadCostCenters;
        data={"total":""+data.length+"","rows":data};
        $('#tblCCs').datagrid('loadData',data);         
    }

    function LoadIRTable(oAccHeadProductCategorys)
    {
        var data=oAccHeadProductCategorys;
        data={"total":""+data.length+"","rows":data};
        $('#tblIRs').datagrid('loadData',data);         
    }

    $("#btnCCAdd").click(function(){
        var cboCC =document.getElementById("cboCC");
        var nCCCID = parseInt(cboCC.options[cboCC.selectedIndex].value);               
        if(nCCCID == null || parseInt(nCCCID)<=0)
        {
            alert("Please Select a Const Center Category!");
            return false;
        }
         
        var allRows = $('#tblCCs').datagrid('getRows');
        for(var i=0;i<allRows.length;i++)
        {
            if(nCCCID == parseInt(allRows[i].ReferenceObjectID))
            {
                alert("Sorry,This item already in the list.");
                return false;
            }
        }
        var getCboText = $('#cboCC option:selected').text();
        var oAccountHeadConfigure = {
            ReferenceObjectID : nCCCID,
            Name : getCboText,
            AccountHeadID : _oCOA_AccountHeadConfig.AccountHeadID
        }
        $('#tblCCs').datagrid('appendRow',oAccountHeadConfigure);
    });

    $("#btnCCRemove").click(function(){
        var oCostCenter = $('#tblCCs').datagrid('getSelected');
        var SelectedRowIndex=$('#tblCCs').datagrid('getRowIndex',oCostCenter); 
        $('#tblCCs').datagrid('deleteRow',SelectedRowIndex); 
    });

    $("#btnIRAdd").click(function(){
         
        var cboIR =document.getElementById("cboIR");
        var nIRID = parseInt(cboIR.options[cboIR.selectedIndex].value);               
        if(nIRID == null || parseInt(nIRID)<=0)
        {
            alert("Please Select a Product");
            return false;
        }
        var allRows = $('#tblIRs').datagrid('getRows');
        for(var i=0;i<allRows.length;i++)
        {
            if(nIRID == parseInt(allRows[i].ReferenceObjectID))
            {
                alert("Sorry,This item already in the list.");
                return false;
            }
        }
        var getCboText = $('#cboIR option:selected').text();
        var oAccountHeadConfigure = {
            ReferenceObjectID : nIRID,
            ProductCategoryName : getCboText,
            AccountHeadID : _oCOA_AccountHeadConfig.AccountHeadID
        }
        $('#tblIRs').datagrid('appendRow',oAccountHeadConfigure);
    });

    $("#btnIRRemove").click(function(){
        var oCostCenter = $('#tblIRs').datagrid('getSelected');
        var SelectedRowIndex=$('#tblIRs').datagrid('getRowIndex',oCostCenter); 
        $('#tblIRs').datagrid('deleteRow',SelectedRowIndex); 
    });

    function LoadCboCC(oCostCenters)
    {
        var listItems="";
        listItems += "<option value=0>" +"--Select CC--" +"</option>";
        for (i = 0; i < oCostCenters.length; i++)
        {
            listItems += "<option value='" + oCostCenters[i].ACCostCenterID+"'>" + oCostCenters[i].Name+"</option>";
        }
        $("#cboCC").html(listItems);
    }

    function LoadCboIR(oProductCategorys)
    {
        var listItems="";
        listItems += "<option value=0>" +"--Select IR--" +"</option>";
        for (i = 0; i < oProductCategorys.length; i++)
        {
            listItems += "<option value='" + oProductCategorys[i].ProductCategoryID+"'>" + oProductCategorys[i].ProductCategoryName+"</option>";
        }
        $("#cboIR").html(listItems);
    }


    function RefreshControl()
    {
        if(_oCOA_AccountHeadConfig.IsCostCenterApply)
        {
            document.getElementById("chkCCApplyYes").checked=true;
            document.getElementById("chkCCApplyNo").checked=false;
        }
        else
        {
            document.getElementById("chkCCApplyYes").checked=false;
            document.getElementById("chkCCApplyNo").checked=true;
        }

        if(_oCOA_AccountHeadConfig.IsBillRefApply)
        {
            document.getElementById("chBillApplyYes").checked=true;
            document.getElementById("chBillApplyNo").checked=false;
        }
        else
        {
            document.getElementById("chBillApplyYes").checked=false;
            document.getElementById("chBillApplyNo").checked=true;
        }

        if(_oCOA_AccountHeadConfig.IsInventoryApply)
        {
            document.getElementById("chkInvYes").checked=true;
            document.getElementById("chkInvNo").checked=false;
        }
        else
        {
            document.getElementById("chkInvYes").checked=false;
            document.getElementById("chkInvNo").checked=true;
        }

        if(_oCOA_AccountHeadConfig.IsOrderReferenceApply)
        {
            document.getElementById("chkOrderRefAppYes").checked=true;
            document.getElementById("chkOrderRefAppNo").checked=false;
        }
        else
        {
            document.getElementById("chkOrderRefAppYes").checked=false;
            document.getElementById("chkOrderRefAppNo").checked=true;
        }

        //if(_oCOA_AccountHeadConfig.IsVoucherReferenceApply)
        //{
        //    document.getElementById("chVoucherApplyYes").checked=true;
        //    document.getElementById("chVoucherApplyNo").checked=false;
        //}
        //else
        //{
        //    document.getElementById("chVoucherApplyYes").checked=false;
        //    document.getElementById("chVoucherApplyNo").checked=true;
        //}
    }


    function RefreshObject()
    {
        var bIsCostCenterApply=document.getElementById("chkCCApplyYes").checked;
        var bIsBillRefApply=document.getElementById("chBillApplyYes").checked;
        var bIsInventoryApply=document.getElementById("chkInvYes").checked;
        var bIsOrderReferenceApply=document.getElementById("chkOrderRefAppYes").checked;
       
        if(!bIsCostCenterApply)
        {
            LoadCCTable([]);
        }
        if(!bIsInventoryApply)
        {
            LoadIRTable([]);
        }

        var oCOA_AccountHeadConfig=   {
            AccountHeadConfigID : _oCOA_AccountHeadConfig.AccountHeadConfigID,
            AccountHeadID : _obj.AccountHeadID,
            IsCostCenterApply : bIsCostCenterApply,
            IsBillRefApply : bIsBillRefApply,
            IsInventoryApply : bIsInventoryApply,
            IsOrderReferenceApply : bIsOrderReferenceApply,
            CounterHeadID:$('#txtCounterAccount').data('obj')==null?_oCOA_AccountHeadConfig.CounterHeadID: $('#txtCounterAccount').data('obj').AccountHeadID,
            AccHeadCostCenters : $('#tblCCs').datagrid('getRows'),
            AccHeadProductCategorys : $('#tblIRs').datagrid('getRows')
        };
        return oCOA_AccountHeadConfig;
    }

    function Save()
    {
        if(!ValidateInput()) return;
        var oCOA_AccountHeadConfig=RefreshObject();
        $.ajax({
            type: "POST",
            dataType: "json",
            url : _sBaseAddress+"/ChartsOfAccount/Update_COA",
            traditional: true,
            data:  JSON.stringify(oCOA_AccountHeadConfig),
            contentType: "application/json; charset=utf-8",
            success: function (data) {
                var oAHC= jQuery.parseJSON(data);
                if (oAHC.ErrorMessage=="" || oAHC.ErrorMessage==null)
                {
                    alert("Data Save Succesfully!!");
                    window.close();
                }
                else
                {
                    alert(oAHC.ErrorMessage);
                }
            },
            error: function (xhr, status, error)
            {
                alert(error);
            }
        });
    }

    function ValidateInput()
    {
        debugger;
        if(_oCOA_AccountHeadConfig==null)
        {
            alert("Select at least one AccountHead!");
            return false;
        }
        if(_obj.AccountHeadID <=0)
        {
            alert("Select at least one AccountHead!");
            return false;
        }

        var bIsCostCenterApply=document.getElementById("chkCCApplyYes").checked;
        var bIsBillRefApply=document.getElementById("chBillApplyYes").checked;
        var bIsInventoryApply=document.getElementById("chkInvYes").checked;
        //var bIsVoucherReferenceApply=document.getElementById("chVoucherApplyYes").checked;
        if(bIsCostCenterApply)
        {
            var oCC =  $('#tblCCs').datagrid('getRows');
            if( parseInt(oCC.length) == 0)
            {
                alert("Please Select At least One CostCenter.");
                return
            }
        }
        if(bIsInventoryApply)
        {
            var oIR =  $('#tblIRs').datagrid('getRows');
            if( parseInt(oIR.length) == 0)
            {
                alert("Please Select At least One Inventory Reference.");
                return
            }
        }

       
        return true;
    }
    function Close()
    {
        window.close();
    }
    function IsCostCenterApplyYes()
    {
        document.getElementById("chkCCApplyYes").checked=true;
        document.getElementById("chkCCApplyNo").checked=false;
        ConfigTableHideShow("EditMode");
    }

    function IsCostCenterApplyNo()
    {
        document.getElementById("chkCCApplyYes").checked=false;
        document.getElementById("chkCCApplyNo").checked=true;
        ConfigTableHideShow("EditMode");
    }

    //bill reference
    function IsBillRefApplyYes()
    {
        document.getElementById("chBillApplyYes").checked=true;
        document.getElementById("chBillApplyNo").checked=false;
    }

    function IsBillRefApplyNo()
    {
        document.getElementById("chBillApplyYes").checked=false;
        document.getElementById("chBillApplyNo").checked=true;
    }

    function IsInventoryApplyYes()
    {
        document.getElementById("chkInvYes").checked=true;
        document.getElementById("chkInvNo").checked=false;
        ConfigTableHideShow("EditMode");
    }

    function IsInventoryApplyNo()
    {
        document.getElementById("chkInvYes").checked=false;
        document.getElementById("chkInvNo").checked=true;
        ConfigTableHideShow("EditMode");
    }

    function IsOrderRefApplyYes()
    {
        document.getElementById("chkOrderRefAppYes").checked=true;
        document.getElementById("chkOrderRefAppNo").checked=false;
    }

    function IsOrderRefApplyNo()
    {
        document.getElementById("chkOrderRefAppYes").checked=false;
        document.getElementById("chkOrderRefAppNo").checked=true;
    }

    //function IsVoucherApplyYes()
    //{
    //    document.getElementById("chVoucherApplyYes").checked=true;
    //    document.getElementById("chVoucherApplyNo").checked=false;
    //}

    //function IsVoucherApplyNo()
    //{
    //    document.getElementById("chVoucherApplyYes").checked=false;
    //    document.getElementById("chVoucherApplyNo").checked=true;
    //}

    function ConfigTableHideShow(mode)
    {
        var chkCCApplyYes = $("#chkCCApplyYes").prop('checked');
        var chkCCApplyNo = $("#chkCCApplyNo").prop('checked');
        var chkInvYes = $("#chkInvYes").prop('checked');
        var chkInvNo = $("#chkInvNo").prop('checked');

        if(chkCCApplyYes == true && chkCCApplyNo == false)
        {
            $("#ConfigTable").show();
            $('#ParentDiv').tabs('enableTab', 0);
            window.resizeTo(440, 630);
        }
        else if(chkCCApplyNo == true && chkCCApplyYes == false)
        {
            $('#ParentDiv').tabs('disableTab', 0);
            $('#ParentDiv').tabs('select', 1);
            if(mode == "EditMode")
            {
                var oAccHeadCostCenters = {};
                LoadCCTable(oAccHeadCostCenters);
            }
        }

        if(chkInvYes == true && chkInvNo == false)
        {
            $("#ConfigTable").show();
            $('#ParentDiv').tabs('enableTab', 1);
            window.resizeTo(440, 630);
            
        }
        else if(chkInvNo == true && chkInvYes == false)
        {
            $('#ParentDiv').tabs('disableTab', 1);
            $('#ParentDiv').tabs('select', 0);
            if(mode == "EditMode")
            {
                var oAccHeadCostCenters = {};
                LoadIRTable(oAccHeadCostCenters);
            }
        }

        if( (chkCCApplyYes == false && chkInvYes == false) || (chkInvNo == true && chkCCApplyNo == true))
        {
            $("#ConfigTable").hide();
            window.resizeTo(450, 330);
        }
        else
        {
            $("#ConfigTable").show();
        }
    }
</script>
