@{
    ViewBag.Title = "Export Terms & Condition List";
}
@model IEnumerable<ESimSol.BusinessObjects.ExportTermsAndCondition>
<html>
 <head>
  <title>ExportTermsAndCondition</title>
  @*<script src="@Url.Content("~/Views/ExportTermsAndCondition/ExportTermsAndCondition.js")" type="text/javascript"></script>
  <script src="@Url.Content("~/Views/ExportTermsAndCondition/ExportTermsAndConditions.js")" type="text/javascript"></script>*@
</head>
<body>
    <div id="winExportTermsAndCondition" style="width:700px;" class="easyui-window winstyle" title="PI Terms & Condition list" data-options="modal:true,closed:true,collapsible:false,minimizable:false,maximizable:false,closable:false">
        <fieldset>
            <table class="tbl">
               
                
                <tr>
                    <td style="width:60px">
                        <label style="width:60px">B. Unit :</label>
                    </td>
                    <td class="tdInput">
                        <select id="cboBU" class="cboStyle"></select>
                    </td>
                </tr>
                 <tr>

                    <td style="width:60px">
                        <label style="width:60px">Terms & Condition :</label>
                    </td>
                    <td class="tdInput">
                        <input id="txtClause" type="text" />
                    </td>
                </tr>
                <tr>
                    <td style="width:60px">
                        <label style="width:60px">Clause Type :</label>
                    </td>
                    <td class="tdInput">
                        <select id="cboClauseType" class="cboStyle"></select>
                    </td>
                </tr>
                <tr>
                    <td style="width:60px">
                        <label style="width:60px">Caption Type :</label>
                    </td>
                    <td class="tdInput">
                        <select id="cboCaption" class="cboStyle"></select>
                    </td>
                </tr>
                <tr>
                    <td style="width:60px">
                        <label style="width:60px">Doc For:</label>
                    </td>
                    <td class="tdInput">
                        <select id="cboDocFor" ></select>
                    </td>
                </tr>
                <tr>
                    <td style="width:60px">
                        <label style="width:60px">Note :</label>
                    </td>
                    <td class="tdInput">
                        <input type="text" class="textInputType" id="txtNote" />
                    </td>
                </tr>
              

            </table>
        </fieldset>
        <fieldset>
            <table class="tbl">
                <tr>
                    <td style="width:60px">
                        <label style="width:60px">Is Active  :</label>
                    </td>
                    <td class="tdInput">
                        <input id="chkIsActive" type="checkbox" />Activity

                    </td>
                </tr>
            </table>
        </fieldset>
        <fieldset class="actionfieldsetstyle">
            <legend>Actions : </legend>
            <a id="btnSaveExportTermsAndCondition" href="javascript:void(0)" class="easyui-linkbutton" iconcls="icon-save" plain="true">Save</a>
            <a id="btnCloseExportTermsAndCondition" href="javascript:void(0)" class="easyui-linkbutton" iconcls="icon-cancel" plain="true">Close</a>
        </fieldset>
    </div>
    <div class="menuMainCollectionTable">
    <table id="tblExportTermsAndConditions" title="ExportTermsAndCondition List" class="easyui-datagrid" fit="true" fitcolumns="true" rownumbers="true" pagination="fasle" singleselect="true" autorowheight="false" toolbar="#toolbarExportTermsAndCondition">
        <thead>
            <tr>
                
                <th field="CaptionName" width="12%">Caption</th>
                <th field="Clause" width="60%">Terms & Conditions</th>
                <th field="DocForInString" width="10%">Doc For</th>
                <th field="ClauseTypeInString" width="10%">Apply Module </th>
                <th field="ActivityInString" width="10%">Active / In-Active</th>
                <th field="SLNo" width="10%">SLNo</th>
                

            </tr>
        </thead>
    </table>
    <div id="toolbarExportTermsAndCondition">
        @*<a id="btnLoadAllExportTermsAndCondition" href="javascript:void(0)" class="easyui-linkbutton" iconcls="icon-reload" plain="true">Load All</a>*@
        @*<a id="btnSearchExportTermsAndCondition" href="javascript:void(0)" class="easyui-linkbutton" iconcls="icon-search" plain="true">Search</a>*@
        <a id="btnAddExportTermsAndCondition" href="javascript:void(0)" class="easyui-linkbutton" iconcls="icon-add" plain="true">Add</a>
        <a id="btnEditExportTermsAndCondition" href="javascript:void(0)" class="easyui-linkbutton" iconcls="icon-edit" plain="true">Edit</a>
        <a id="btnDeleteExportTermsAndCondition" href="javascript:void(0)" class="easyui-linkbutton" iconcls="icon-remove" plain="true">Delete</a>
        <a id="btnViewExportTermsAndCondition" href="javascript:void(0)" class="easyui-linkbutton" iconcls="icon-details" plain="true">Details</a>
        <a id="btnActiveInactive" href="javascript:void(0)" class="easyui-linkbutton" iconcls="icon-print" plain="true">Active / Inactive</a>

        <a href="javascript:void(0)" id="btnUp" class="easyui-linkbutton" iconcls="icon-up" plain="true" onclick="UP()">Up</a>
        <a href="javascript:void(0)" id="btnDown" class="easyui-linkbutton" iconcls="icon-down" plain="true" onclick="Down()">Down</a>
        <a href="javascript:void(0)" id="btnRefresh" class="easyui-linkbutton" iconcls="icon-reload" plain="true" onclick="RefreshSequence()">Refresh</a>
        <a id="btnSaveSequence" href="javascript:void(0)" class="easyui-linkbutton" iconcls="icon-save" plain="true" onclick="SaveSequence()">Save</a>
</div>
</div>
</body>
</html>

<script type="text/javascript">
    var _sBaseAddress="";
    var _oExportTermsAndCondition=null;
    var _oExportTermsAndConditions=[];
    var _oClauseType=[];
    var _oExportTnCCaptions=[];
    var _oBusinessUnits=[];
    var _nBUID = 0;
    $(document).ready(function () {
        debugger;
        _sBaseAddress =@Html.Raw( new System.Web.Script.Serialization.JavaScriptSerializer().Serialize(HttpContext.Current.Session[SessionInfo.BaseAddress]));
        _oExportTermsAndConditions =@Html.Raw( new System.Web.Script.Serialization.JavaScriptSerializer().Serialize(Model));
        _oClauseType=@Html.Raw(new System.Web.Script.Serialization.JavaScriptSerializer().Serialize(ViewBag.EnumPITerms));
        _oBusinessUnits = @Html.Raw(new System.Web.Script.Serialization.JavaScriptSerializer().Serialize(ViewBag.BusinessUnits));
        _oExportTnCCaptions = @Html.Raw(new System.Web.Script.Serialization.JavaScriptSerializer().Serialize(ViewBag.ExportTnCCaptions));
        _nBUID = @Html.Raw(new System.Web.Script.Serialization.JavaScriptSerializer().Serialize(ViewBag.BUID));
        var oDocFors = @Html.Raw(new System.Web.Script.Serialization.JavaScriptSerializer().Serialize(ViewBag.EnumDocFors));
        $("#cboDocFor").icsLoadCombo({List: oDocFors,OptionValue: "id",DisplayText: "Value"});
        
        DynamicRefreshList(_oExportTermsAndConditions, "tblExportTermsAndConditions");
        $("#cboClauseType").icsLoadCombo({
            List: _oClauseType,
            OptionValue: "id",
            DisplayText: "Value"
        });

        $("#cboCaption").icsLoadCombo({
            List: _oExportTnCCaptions,
            OptionValue: "ExportTnCCaptionID",
            DisplayText: "Name"
        });
        $("#cboBU").icsLoadCombo({
            List: _oBusinessUnits,
            OptionValue: "BusinessUnitID",
            DisplayText: "BUTypeSt"
        });

    });


    
  

    $(document).keydown(function (e) { if (e.keyCode == 27) { $('div').icsWindow('close'); } });


    $("#btnAddExportTermsAndCondition").click(function () {
        $("#winExportTermsAndCondition").icsWindow('open',"Add ExportTermsAndCondition");
        $("#winExportTermsAndCondition input").val("");
        $("#winExportTermsAndCondition select").val(0);
        _oExportTermsAndCondition = null;
        RefreshExportTermsAndConditionLayout("btnAddExportTermsAndCondition");
        $("#chkIsActive").prop("checked",true);
    });

    $("#btnEditExportTermsAndCondition").click(function () {
        var oExportTermsAndCondition = $("#tblExportTermsAndConditions").datagrid("getSelected");
        if (oExportTermsAndCondition == null || oExportTermsAndCondition.ExportTermsAndConditionID <= 0) { alert("Please select an item from list!"); return; }
        $("#winExportTermsAndCondition").icsWindow('open', "Edit ExportTermsAndCondition");
        RefreshExportTermsAndConditionLayout("btnEditExportTermsAndCondition");
        GetExportTermsAndConditionInformation(oExportTermsAndCondition);
    });

    $("#btnViewExportTermsAndCondition").click(function () {
        var oExportTermsAndCondition = $("#tblExportTermsAndConditions").datagrid("getSelected");
        if (oExportTermsAndCondition == null || oExportTermsAndCondition.ExportTermsAndConditionID <= 0) {alert("Please select an item from list!");return; }
        $("#winExportTermsAndCondition").icsWindow('open',"View ExportTermsAndCondition");
        RefreshExportTermsAndConditionLayout("btnViewExportTermsAndCondition");
        GetExportTermsAndConditionInformation(oExportTermsAndCondition);
    });

    $("#btnDeleteExportTermsAndCondition").click(function () {

        var oExportTermsAndCondition = $("#tblExportTermsAndConditions").datagrid("getSelected");
        if (oExportTermsAndCondition == null || oExportTermsAndCondition.ExportTermsAndConditionID <= 0) {
            alert("Please select an item from list!");
            return false;
        }
        if (!confirm("Confirm to Delete?")) return false;

        var obj =
        {
            BaseAddress: _sBaseAddress,
            Object: oExportTermsAndCondition,
            ObjectId: oExportTermsAndCondition.ExportTermsAndConditionID,
            ControllerName: "ExportTermsAndCondition",
            ActionName: "Delete",
            TableId: "tblExportTermsAndConditions",
            IsWinClose: true
        };
        $.icsDelete(obj);
    });

    $("#btnActiveInactive").click(function () {
        var oExportTermsAndCondition = $("#tblExportTermsAndConditions").datagrid("getSelected");
        var SelectedRowIndex = $('#tblExportTermsAndConditions').datagrid('getRowIndex', oExportTermsAndCondition);
        if (oExportTermsAndCondition == null || oExportTermsAndCondition.ExportTermsAndConditionID <= 0) {
            alert("Please select an item from list!");
            return false;
        }
        if (oExportTermsAndCondition.Activity == true) {
            if (!confirm("Confirm to In Active?")) return false;
        }
        else {
            if (!confirm("Confirm to Active?")) return false;
        }
      
        var obj = {
            BaseAddress: _sBaseAddress,
            Object: oExportTermsAndCondition,
            ObjectId: oExportTermsAndCondition.ExportTermsAndConditionID,
            ControllerName: "ExportTermsAndCondition",
            ActionName: "ActiveInactive",
            TableId: "tblExportTermsAndConditions",
            IsWinClose: false
        };
        $.icsSave(obj);
        $('#tblExportTermsAndConditions').datagrid('updateRow', { index: SelectedRowIndex, row: oExportTermsAndCondition });
    });
    $("#btnSearchExportTermsAndCondition").click(function () {
        if (parseInt($("#cboTextileUnit").val()) == 0) {
            alert("Please select one.");
            $("#cboTextileUnit").focus();
            $("#cboTextileUnit").addClass("errorFieldBorder");
            return false;
        } else {
            $("#cboTextileUnit").removeClass("errorFieldBorder");
        }


        var oExportTermsAndCondition = {
            TextileUnitType: parseInt($("#cboTextileUnit").val())
        };
        var obj = {
            BaseAddress: _sBaseAddress,
            Object: oExportTermsAndCondition,
            ControllerName: "ExportTermsAndCondition",
            ActionName: "Gets",
            IsWinClose: false
        };
        $.icsDataGets(obj, function (response) {
            if (response.status && response.objs.length > 0) {
                if (response.objs[0].ErrorMessage == "") {
                    DynamicRefreshList(response.objs, "tblExportTermsAndConditions");
                }
                else {
                    alert(response.objs[0].ErrorMessage);
                    DynamicRefreshList([], "tblExportTermsAndConditions");
                }
            }
            else {
                alert("No List Found.");
                DynamicRefreshList([], "tblExportTermsAndConditions");
            }
        });
    });

    
    function GetExportTermsAndConditionInformation(oExportTermsAndCondition) {
        var obj =
        {
            BaseAddress: _sBaseAddress,
            Object: oExportTermsAndCondition,
            ControllerName: "ExportTermsAndCondition",
            ActionName: "Get",
            IsWinClose: false
        };

        $.icsDataGet(obj, function (response) {
            debugger;
            if (response.status && response.obj!=null) {
                if (response.obj.ExportTermsAndConditionID > 0) { RefreshExportTermsAndConditionControl(response.obj); }
                else { alert(response.obj.ErrorMessage); }
            }
            else
            {

                alert("No information found.");
            }
        });
    }

    function RefreshExportTermsAndConditionLayout(buttonId) {
        if (buttonId === "btnViewExportTermsAndCondition") {
            $("#winExportTermsAndCondition input").prop("disabled", true);
            $("#btnSaveExportTermsAndCondition").hide();
        }
        else {
            $("#winExportTermsAndCondition input").prop("disabled", false);
            $("#btnSaveExportTermsAndCondition").show();
        }
        $(".disabled input").prop("disabled", true);
    }

    function RefreshExportTermsAndConditionControl(oExportTermsAndCondition)
    {
        _oExportTermsAndCondition = oExportTermsAndCondition;
        $("#txtClause").val(_oExportTermsAndCondition.Clause);
        $("#txtNote").val(_oExportTermsAndCondition.Note);
        $("#cboClauseType").val(_oExportTermsAndCondition.ClauseType);
        $("#cboBU").val(_oExportTermsAndCondition.BUID);
        $("#cboCaption").val(_oExportTermsAndCondition.ExportTnCCaptionID);
        $("#cboDocFor").val(_oExportTermsAndCondition.DocFor);

        $("#chkIsSpinning").prop("checked", _oExportTermsAndCondition.IsSpinning);
        $("#chkIsDyeing").prop("checked", _oExportTermsAndCondition.IsDyeing);
        $("#chkIsWeaving").prop("checked", _oExportTermsAndCondition.IsWeaving);
        $("#chkIsFinishing").prop("checked", _oExportTermsAndCondition.IsFinishing);
        $("#chkIsActive").prop("checked", _oExportTermsAndCondition.Activity);
    }

    $("#btnSaveExportTermsAndCondition").click(function (e) {

        if (!ValidateInputExportTermsAndCondition()) return;
        var oExportTermsAndCondition = RefreshObjectExportTermsAndCondition();
        var obj =
            {
                BaseAddress: _sBaseAddress,
                Object: oExportTermsAndCondition,
                ObjectId: oExportTermsAndCondition.ExportTermsAndConditionID,
                ControllerName: "ExportTermsAndCondition",
                ActionName: "Save",
                TableId: "tblExportTermsAndConditions",
                IsWinClose: true
            };
        $.icsSave(obj);
    });

    $("#btnCloseExportTermsAndCondition").click(function () {
        $("#winExportTermsAndCondition").icsWindow("close");
        $("#winExportTermsAndCondition input").val("");
        $("#winExportTermsAndCondition select").val(0);
    });



    
    function RefreshObjectExportTermsAndCondition() {

        if (_nBUID <= 0 || _nBUID == null)
        {
            _nBUID = $("#cboBU").val();
        }

        var oExportTermsAndCondition = {
            ExportTermsAndConditionID: (_oExportTermsAndCondition != null) ? _oExportTermsAndCondition.ExportTermsAndConditionID : 0,
            Clause: $("#txtClause").val(),
            Note: $("#txtNote").val(),
            ClauseType: $("#cboClauseType").val(),
            ExportTnCCaptionID: $("#cboCaption").val(),
            DocFor: $("#cboDocFor").val(),
            BUID: _nBUID,
            Activity: $("#chkIsActive").is(":checked")
     
        };
        return oExportTermsAndCondition;
    }


    function ValidateInputExportTermsAndCondition() {

        if (!$.trim($('#txtClause').val()).length) {
            alert("Please enter Clause."); $('#txtClause').focus();
            $('#txtClause').css("border", "1px solid #c00");
            return false;
        } else { $('#txtClause').css("border", ""); }

        if ($('#cboClauseType').val() <= 0) {
            alert("Please select Cluse type."); $('#cboClauseType').focus();
            $('#cboClauseType').css("border", "1px solid #c00");
            return false;
        } else { $('#cboClauseType').css("border", ""); }

        if ($('#cboBU').val() <= 0) {
            alert("Please select Cluse type."); $('#cboBU').focus();
            $('#cboBU').css("border", "1px solid #c00");
            return false;
        } else { $('#cboBU').css("border", ""); }


        if ($('#cboDocFor').val() <= 0) {
            alert("Please select Doc  type."); $('#cboDocFor').focus();
            $('#cboDocFor').css("border", "1px solid #c00");
            return false;
        } else { $('#cboDocFor').css("border", ""); }
        return true;

    }

    //// Sequence///
    function UP()
    {
        debugger;
        var oExportTermsAndCondition = $('#tblExportTermsAndConditions').datagrid('getSelected');
        if(oExportTermsAndCondition==null)
        {
            alert("Please select Item");
            return;
        }
        var SelectedRowIndex=$('#tblExportTermsAndConditions').datagrid('getRowIndex',oExportTermsAndCondition);
        if(SelectedRowIndex==0)return;
        var oExportTermsAndConditions=$('#tblExportTermsAndConditions').datagrid('getRows');
        _oExportTermsAndConditions = [];
        for(var i=0; i<oExportTermsAndConditions.length; i++)
        {
            if(i==(SelectedRowIndex-1))
            {
                _oExportTermsAndConditions[i]=oExportTermsAndConditions[i+1];
            }
            else if(i==SelectedRowIndex)
            {
                _oExportTermsAndConditions[i]=oExportTermsAndConditions[i-1];
            }
            else
            {
                _oExportTermsAndConditions[i]=oExportTermsAndConditions[i];
            }
            _oExportTermsAndConditions[i].SLNo=i+1;
        }
        data = _oExportTermsAndConditions;
        data={"total":""+data.length+"","rows":data};
        $('#tblExportTermsAndConditions').datagrid('loadData',data);
        //    MakeMenu();
        var newSelectedRowIndex=SelectedRowIndex-1;
        $('#tblExportTermsAndConditions').datagrid('selectRow',newSelectedRowIndex);

    }

    function Down()
    {
        debugger;
        var oExportTermsAndCondition = $('#tblExportTermsAndConditions').datagrid('getSelected');
        if(oExportTermsAndCondition==null)
        {
            alert("Please select a item from list!");
            return;
        }
        var SelectedRowIndex=$('#tblExportTermsAndConditions').datagrid('getRowIndex',oExportTermsAndCondition);
        if(SelectedRowIndex==(_oExportTermsAndConditions.length-1))return;
        var oExportTermsAndConditions=$('#tblExportTermsAndConditions').datagrid('getRows');
        _oExportTermsAndConditions=[];
        for(var i=0; i<oExportTermsAndConditions.length; i++)
        {
            if(i==(SelectedRowIndex+1))
            {
                _oExportTermsAndConditions[i]=oExportTermsAndConditions[i-1];
            }
            else if(i==SelectedRowIndex)
            {
                _oExportTermsAndConditions[i]=oExportTermsAndConditions[i+1];
            }
            else
            {
                _oExportTermsAndConditions[i]=oExportTermsAndConditions[i];
            }
            _oExportTermsAndConditions[i].SLNo=i+1;
        }
        data = _oExportTermsAndConditions;
        data={"total":""+data.length+"","rows":data};
        $('#tblExportTermsAndConditions').datagrid('loadData',data);

        var newSelectedRowIndex=SelectedRowIndex+1;
        $('#tblExportTermsAndConditions').datagrid('selectRow',newSelectedRowIndex);
    }

    function RefreshSequence()
    {
        var oExportTermsAndConditions = $('#tblExportTermsAndConditions').datagrid('getRows');
        if(oExportTermsAndConditions.length>0)
        {
            for(var i = 0;i<oExportTermsAndConditions.length;i++)
            {
                oExportTermsAndConditions[i].SLNo = i+1;
            }
            RefreshListSequence(oExportTermsAndConditions);
        }
    }
    function RefreshListSequence(oExportTermsAndConditions)
    {
        data=oExportTermsAndConditions;
        data={"total":""+data.length+"","rows":data};
        $('#tblExportTermsAndConditions').datagrid('loadData',data);
    }

    function SaveSequence()
    {
        //debugger;
        var oExportTermsAndCondition= {
            ExportTermsAndConditions :$('#tblExportTermsAndConditions').datagrid('getRows')
        };
        $.ajax({
            type: "POST",
            dataType: "json",
            url : _sBaseAddress+"/ExportTermsAndCondition/RefreshSequence",
            traditional: true,
            data:  JSON.stringify(oExportTermsAndCondition),
            contentType: "application/json; charset=utf-8",
            success: function (data) {
                //debugger;
                var  oExportTermsAndCondition = jQuery.parseJSON(data);
                if (oExportTermsAndCondition.ErrorMessage=="" || oExportTermsAndCondition.ErrorMessage==null)
                {
                    alert("Data Saved sucessfully");
                  
                }
                else {
                    alert(oExportTermsAndCondition.ErrorMessage);
                }
            },
            error: function (xhr, status, error) {
                alert(error);
            }

        });
    }

</script>
