@{
    ViewBag.Title = "Order Tracking";
}
@model IEnumerable<ESimSol.BusinessObjects.OrderTracking>
<head>
</head>
<body>
    <div class="menuMainCollectionTable" id="divOT">
        <div id="tabOT" class="easyui-tabs" style="width:100%; height:100%">
            <div title="Color View" id="divColorView" style="width:100%;height:92%">
                <table id="tblColorView" style="width:100%; height:100%" class="easyui-datagrid" fit="true" fitcolumns="false" rownumbers="true" pagination="false" singleselect="true" autorowheight="false" toolbar="#toolbar_ColorView" >
                    <thead data-options="frozen:true">
                        <tr>
                            <th field="PINo" width="10%">P/I No</th>
                            <th field="ProductCode" width="6%">Product Code</th>
                            <th field="ProductName" width="15%">Product Name</th>
                        </tr>
                    </thead>
                    <thead>
                        <tr>
                            <th field="PIDateInString" width="10%">P/I Date</th>
                            <th field="ExportLCFileNo" width="10%">LC File No</th>
                            <th field="ExportLCNo" width="10%">LC No</th>
                            <th field="BuyerName" width="15%">Buyer Name</th>
                            <th field="ContractorName" width="10%">Customer Name</th>
                            <th field="ColorName" width="15%">Color</th>
                            <th field="SizeName" width="10%">Size</th>
                            <th field="StyleRef" width="10%">Style No</th>
                            <th field="MUName" width="10%">Unit</th>
                            <th field="PIQtyWithOutFormatting" width="10%" align="right">P/I Qty</th>
                            <th field="POQtyInString" formatter="DetailFormat" width="10%" align="right">PO Qty</th>
                            <th field="YetToPOInString" width="10%" align="right">Yet To PO</th>
                            <th field="PSQtyInString" formatter="DetailFormat" width="10%" align="right">Sheet Qty</th>
                            <th field="PipeLineQtyInString" formatter="DetailFormat" width="10%" align="right">Pipe Line Qty</th>
                            <th field="DOQtyInString" formatter="DetailFormat" width="10%" align="right">DO Qty</th>
                            <th field="YetToDOInString" width="10%" align="right">Yet To DO</th>
                            <th field="ChallanQtyInString" formatter="DetailFormat" width="10%" align="right">Challan Qty</th>
                            <th field="YetToChallanQtyInString" width="10%" align="right">Yet To Challan</th>
                            <th field="ReturnQtyInString" formatter="DetailFormat" width="10%" align="right">Return Qty</th>
                            <th field="PTUTransferQtyInString" formatter="DetailFormat" width="10%" align="right">PTU Transfer Qty</th>
                            <th field="StockQtyInString" width="10%" align="right">Stock Qty</th>
                            <th field="HangerWeight" formatter="formatPrice" width="10%" align="right">Hanger Weight(gm)</th>
                            <th field="WastagePercentWithWeight" formatter="formatPrice" width="10%" align="right">Wastage(2%)With Weight</th>
                            <th field="TotalWeight" formatter="formatPrice" width="10%" align="right">Total Weight(gm)</th>
                            <th field="Remarks"  width="10%" align="left">Remarks</th>
                        </tr>
                    </thead>
                </table>
                <div id="toolbar_ColorView">
                    <a id="btnAdvanceSearch_ColorView" href="javascript:void(0)" class="easyui-linkbutton" iconcls="icon-search" plain="true">Adv. Search</a>
                    <a id="btnExcel_ColorView" href="javascript:void(0)" class="easyui-linkbutton" iconcls="icon-excel" plain="true">Excel</a>
                    <a id="btnConfiguration_ColorView" href="javascript:void(0)" class="easyui-linkbutton" iconcls="icon-ok" plain="true">Configuration</a>
                </div>
            </div>
            <div title="P/I View" id="divPIView" style="width:100%;height:92%">
                <table id="tblPIView" style="width:100%; height:100%" class="easyui-datagrid" fit="true" fitcolumns="false" rownumbers="true" pagination="false" singleselect="true" autorowheight="false" toolbar="#toolbar_PIView" >
                    <thead data-options="frozen:true">
                        <tr>
                            <th field="PINo" width="10%">P/I No</th>
                            <th field="ProductCode" width="6%">Product Code</th>
                            <th field="ProductName" width="15%">Product Name</th>
                        </tr>
                    </thead>
                    <thead>
                        <tr>
                            <th field="PIDateInString" width="10%">P/I Date</th>
                            <th field="ExportLCFileNo" width="10%">LC File No</th>
                            <th field="ExportLCNo" width="10%">LC No</th>
                            <th field="BuyerName" width="15%">Buyer Name</th>
                            <th field="ContractorName" width="10%">Customer Name</th>
                            <th field="SizeName" width="10%">Size</th>
                           
                            <th field="MUName" width="10%">Unit</th>
                            <th field="PIQtyWithOutFormatting" width="10%" align="right">P/I Qty</th>
                            <th field="POQtyInString" formatter="DetailFormat" width="10%" align="right">PO Qty</th>
                            <th field="YetToPOInString" width="10%" align="right">Yet To PO</th>
                            <th field="PSQtyInString" formatter="DetailFormat" width="10%" align="right">Sheet Qty</th>
                            <th field="PipeLineQtyInString" formatter="DetailFormat" width="10%" align="right">Pipe Line Qty</th>
                            <th field="DOQtyInString" formatter="DetailFormat" width="10%" align="right">DO Qty</th>
                            <th field="YetToDOInString" width="10%" align="right">Yet To DO</th>
                            <th field="ChallanQtyInString" formatter="DetailFormat" width="10%" align="right">Challan Qty</th>
                            <th field="YetToChallanQtyInString" width="10%" align="right">Yet To Challan</th>
                            <th field="ReturnQtyInString" formatter="DetailFormat" width="10%" align="right">Return Qty</th>
                            <th field="PTUTransferQtyInString" formatter="DetailFormat" width="10%" align="right">PTU Transfer Qty</th>
                            <th field="StockQtyInString" width="10%" align="right">Stock Qty</th>
                            <th field="HangerWeight" formatter="formatPrice" width="10%" align="right">Hanger Weight(gm)</th>
                            <th field="WastagePercentWithWeight" formatter="formatPrice" width="10%" align="right">Wastage(2%)With Weight</th>
                            <th field="TotalWeight" formatter="formatPrice" width="10%" align="right">Total Weight(gm)</th>
                            <th field="Remarks" width="10%" align="left">Remarks</th>
                        </tr>
                    </thead>
                </table>

                <div id="toolbar_PIView">
                    <a id="btnAdvanceSearchLC_PIView" href="javascript:void(0)" class="easyui-linkbutton" iconcls="icon-search" plain="true">Adv. Search</a>
                    <a id="btnExcel_PIView" href="javascript:void(0)" class="easyui-linkbutton" iconcls="icon-excel" plain="true">Excel</a>
                    <a id="btnConfiguration_PIView" href="javascript:void(0)" class="easyui-linkbutton" iconcls="icon-ok" plain="true">Configuration</a>
                </div>
            </div>
            <div title="Product View" id="divProductView" style="width:100%;height:92%">
                <table id="tblProductView" style="width:100%; height:100%" class="easyui-datagrid" fit="true" fitcolumns="false" rownumbers="true" pagination="false" singleselect="true" autorowheight="false" toolbar="#toolbar_ProductView" >
                    <thead data-options="frozen:true">
                        <tr>
                            <th field="ProductCode" width="6%">Product Code</th>
                            <th field="ProductName" width="15%">Product Name</th>
                        </tr>
                    </thead>
                    <thead>
                        <tr>
                            <th field="SizeName" width="10%">Size</th>
                            <th field="MUName" width="10%">Unit</th>
                            <th field="PIQtyInString" formatter="DetailFormat" width="10%" align="right">P/I Qty</th>
                            <th field="POQtyInString" formatter="DetailFormat" width="10%" align="right">PO Qty</th>
                            <th field="YetToPOInString" width="10%" align="right">Yet To PO</th>
                            <th field="PSQtyInString" formatter="DetailFormat" width="10%" align="right">Sheet Qty</th>
                            <th field="PipeLineQtyInString" formatter="DetailFormat"  width="10%" align="right">Pipe Line Qty</th>
                            <th field="DOQtyInString" formatter="DetailFormat" width="10%" align="right">DO Qty</th>
                            <th field="YetToDOInString" width="10%" align="right">Yet To DO</th>
                            <th field="ChallanQtyInString" formatter="DetailFormat" width="10%" align="right">Challan Qty</th>
                            <th field="YetToChallanQtyInString" width="10%" align="right">Yet To Challan</th>
                            <th field="ReturnQtyInString" formatter="DetailFormat" width="10%" align="right">Return Qty</th>
                            <th field="PTUTransferQtyInString" formatter="DetailFormat" width="10%" align="right">PTU Transfer Qty</th>
                            <th field="StockQtyInString"  width="10%" align="right">Stock Qty</th>
                            <th field="HangerWeight" formatter="formatPrice" width="10%" align="right">Hanger Weight(gm)</th>
                            <th field="WastagePercentWithWeight" formatter="formatPrice" width="10%" align="right">Wastage(2%)With Weight</th>
                            <th field="TotalWeight" formatter="formatPrice" width="10%" align="right">Total Weight(gm)</th>
                        </tr>
                    </thead>
                </table>

                <div id="toolbar_ProductView">
                    <a id="btnAdvanceSearch_ProductView" href="javascript:void(0)" class="easyui-linkbutton" iconcls="icon-search" plain="true">Adv. Search</a>
                    <a id="btnExcel_ProductView" href="javascript:void(0)" class="easyui-linkbutton" iconcls="icon-excel" plain="true">Excel</a>
                    <a id="btnConfiguration_ProductView" href="javascript:void(0)" class="easyui-linkbutton" iconcls="icon-ok" plain="true">Configuration</a>
                </div>
            </div>
        </div>
    </div>
    <div id="winAdvSearchOrderTracker" style="width:510px" class="easyui-window winClass" title="Adv. Search" data-options="modal:true,closed:true,collapsible:false,minimizable:false,maximizable:false,closable:false">
        <table style="width:100%">
            <tr>
                <td>
                    <fieldset>
                        <legend>Searching Criteria</legend>
                        <table style="width:100%">
                            
                            <tr>
                                <td style=" width:25%;text-align:right;">
                                    <label>PI Issue Date </label>
                                </td>
                                <td colspan="3" style=" width:75%;text-align:left;">
                                    <select id="cboPIDate" style="width:30%;" onchange="DateActions_PIDate();"></select>
                                    <input id="txtFromPIDate" type="text" style="width: 100px;" class="easyui-datebox" required="required" data-options="formatter:icsdateformat,parser:icsdateparser" />To
                                    <input id="txtToPIDate" type="text" style="width: 100px;" class="easyui-datebox" required="required" data-options="formatter:icsdateformat,parser:icsdateparser" />
                                </td>
                            </tr>
                            <tr>
                                <td style="width:20%;text-align:right;">
                                    <label>DO Date </label>
                                </td>
                                <td colspan="3" style=" width:75%;text-align:left;">
                                    <select id="cboDODate" style="width:30%;" onchange="DateActions_DO();"></select>
                                    <input id="txtFromDODate" type="text" style="width: 100px;" class="easyui-datebox" required="required" data-options="formatter:icsdateformat,parser:icsdateparser" />To
                                    <input id="txtToDODate" type="text" style="width: 100px;" class="easyui-datebox" required="required" data-options="formatter:icsdateformat,parser:icsdateparser" />
                                </td>
                            </tr>
                            <tr>
                                <td style="width:20%;text-align:right;">
                                    <label>PO Date </label>
                                </td>
                                <td colspan="3" style=" width:75%;text-align:left;">
                                    <select id="cboPODate" style="width:30%;" onchange="DateActions_PO();"></select>
                                    <input id="txtFromPODate" type="text" style="width: 100px;" class="easyui-datebox" required="required" data-options="formatter:icsdateformat,parser:icsdateparser" />To
                                    <input id="txtToPODate" type="text" style="width: 100px;" class="easyui-datebox" required="required" data-options="formatter:icsdateformat,parser:icsdateparser" />
                                </td>
                            </tr>
                            <tr>
                                <td style="width:20%;text-align:right;">
                                    <label>Challan Date </label>
                                </td>
                                <td colspan="3" style=" width:75%;text-align:left;">
                                    <select id="cboChallanDate" style="width:30%;" onchange="DateActions_Challan();"></select>
                                    <input id="txtFromChallanDate" type="text" style="width: 100px;" class="easyui-datebox" required="required" data-options="formatter:icsdateformat,parser:icsdateparser" />To
                                    <input id="txtToChallanDate" type="text" style="width: 100px;" class="easyui-datebox" required="required" data-options="formatter:icsdateformat,parser:icsdateparser" />
                                </td>
                            </tr>
                            <tr>
                                <td style=" width:25%;text-align:right;">
                                    <label>Customer Name :</label>
                                </td>
                                <td colspan="3" style=" width:75%;text-align:left;">
                                    <input id="txtContractorAdvS" style="width:75%;" type="text" placeholder="Type & Press Enter" />
                                    <a id="btnPickContractorAdvS" href="javascript:void(0)" class="easyui-linkbutton ics-pick" iconcls="icon-pick" plain="true"></a>
                                    
                                </td>
                            </tr>
                            <tr>
                                <td style=" width:25%;text-align:right;">
                                    <label>Mother Buyer :</label>
                                </td>
                                <td colspan="3" style=" width:75%;text-align:left;">
                                    <input id="txtMotherBuyerAdvS" style="width:75%;" type="text" placeholder="Type & Press Enter" />
                                    <a id="btnPickMotherBuyerAdvS" href="javascript:void(0)" class="easyui-linkbutton ics-pick" iconcls="icon-pick" plain="true"></a>
                                </td>
                            </tr>
                            <tr>
                                <td style=" width:25%;text-align:right;">
                                    <label>Mkt Name :</label>
                                </td>
                                <td colspan="3" style=" width:75%;text-align:left;">
                                    <input id="txtMarketingAccountAdvS" style="width:75%;" type="text" placeholder="Type & Press Enter" />
                                    <a id="btnPickMarketingAccountAdvS" href="javascript:void(0)" class="easyui-linkbutton ics-pick" iconcls="icon-pick" plain="true"></a>
                                </td>
                            </tr>

                            <tr>
                                <td style=" width:25%;text-align:right;">
                                    <label>Product Name :</label>
                                </td>
                                <td colspan="3" style=" width:75%;text-align:left;">
                                    <input id="txtProductName" style="width:75%;" type="text" placeholder="Type & Press Enter" />
                                    <a id="btnProductPiker" href="javascript:void(0)" class="easyui-linkbutton ics-pick" iconcls="icon-pick" plain="true"></a>
                                    
                                </td>
                            </tr>
                            <tr>
                                <td style=" width:25%;text-align:right;">
                                    <label>RawMaterial Name :</label>
                                </td>
                                <td colspan="3" style=" width:75%;text-align:left;">
                                    <input id="txtRawMaterialName" style="width:75%;" type="text" placeholder="Type & Press Enter" />
                                    <a id="btnPickRawMaterial" href="javascript:void(0)" class="easyui-linkbutton ics-pick" iconcls="icon-pick" plain="true"></a>
                                </td>
                            </tr>
                            <tr>
                               
                                <td style=" width:25%;text-align:right;">
                                    <label>P/I No: </label>
                                </td>
                                <td style=" width:25%;text-align:left;">
                                    <input id="txtPINo" type="text" style="width:100%" />
                                </td>
                                <td style=" width:25%;text-align:right;">
                                    <label>PO No: </label>
                                </td>
                                <td style=" width:25%;text-align:left;">
                                    <input id="txtPONo" type="text" style="width:100%" />
                                </td>
                               
                            </tr>
                            
                            <tr>
                                <td style=" width:25%;text-align:right;">
                                    <label>DO No: </label>
                                </td>
                                <td style=" width:25%;text-align:left;">
                                    <input id="txtDONo" type="text" style="width:100%" />
                                </td>
                                <td style=" width:25%;text-align:right;">
                                    <label>Challan No: </label>
                                </td>
                                <td style=" width:25%;text-align:left;">
                                    <input id="txtChallanNo" type="text" style="width:100%" />
                                </td>
                            </tr>
                            <tr>
                                <td style=" width:25%;text-align:right;">
                                    <label>LC No: </label>
                                </td>
                                <td style=" width:25%;text-align:left;">
                                    <input id="txtLCNo" type="text" style="width:100%" />
                                </td>
                                <td style=" width:50%;text-align:center;" colspan="2">
                                    <input type="checkbox" id="chkBoxYetToChallan" /> Yet To Challan Qty
                                </td>
                            </tr>
                            <tr>
                                <td style=" width:25%;text-align:right;">
                                   
                                </td>
                                <td style=" width:25%;text-align:left;">
                                    <input type="checkbox" id="chkBoxYetToDO" /> Yet To DO Qty
                                </td>
                                <td style=" width:50%;text-align:right;" colspan="2">
                                    <input type="checkbox" id="chkBoxYetToChallanDOEntry" /> Yet To Challan Qty(With DO)&nbsp;&nbsp;&nbsp;
                                </td>
                            </tr>
                            <tr>
                                <td style=" width:25%;text-align:right;"></td>
                                <td style=" width:25%;text-align:left;">
                                    <input type="checkbox" id="chkBoxPTUTransferQty" />PTU Transfer Qty
                                </td>
                                <td style=" width:50%;text-align:right;" colspan="2">
                                </td>
                            </tr>
                        </table>
                    </fieldset>

                </td>
            </tr>
        </table>

        <fieldset>
            <legend>Actions : </legend>
            <table border="0" cellspacing="2" cellpadding="2" style="width:100%;font-size:11px; font-weight:bold;">
                <tr>
                    <td style="width:60%;text-align:left">
                        <a id="btnAdvSearchReset" href="javascript:void(0)" class="easyui-linkbutton" iconcls="icon-reload" plain="true"> Reset</a>
                        <label class="lblLoadingMessage" style="float: left;">Loading Please Wait...</label>
                    </td>
                    <td style="width:40%; text-align: right">
                        <a id="btnSearch" href="javascript:void(0)" class="easyui-linkbutton" iconcls="icon-search" plain="true">Search</a>
                        <a id="btnAdvSearchClose" href="javascript:void(0)" class="easyui-linkbutton" iconcls="icon-cancel" plain="true">Close</a>
                    </td>
                </tr>
            </table>
        </fieldset>
    </div>
    <div id="winOrderTrackingColumn" class="easyui-window" title="Contractor" data-options="modal:true,closed:true,collapsible:false,minimizable:false,maximizable:false,closable:false">
        <div id="divOrderTrackingColumn" tabindex=" -1">
            <table border="0" cellpadding="0" cellspacing="0">
                <tr>
                    <td>
                        <table id="tblOrderTrackingColumn" title="Field List" class="easyui-datagrid" style="width:255px;height:380px" fitcolumns="false" rownumbers="true"pagination="false" autorowheight="false">
                            <thead>
                                <tr>
                                    <th data-options="field:'Selected',checkbox:true">
                                    </th>
                                    <th field="TableCaption" width="195">Field Name</th>
                                </tr>

                            </thead>
                        </table>
                    </td>
                </tr>
                <tr>
                    <td style="text-align:right">
                        <a id="btnOk_OrderTrackingColumn" href="javascript:void(0)" class="easyui-linkbutton" iconcls="icon-ok" plain="true">OK</a>
                        <a id="btncloseOrderTrackingColumn" href="javascript:void(0)" class="easyui-linkbutton" iconcls="icon-cancel" plain="true">Close</a>
                    </td>
                </tr>
            </table>

        </div>

    </div>
</body>


<script type="text/javascript">
    var _sBaseAddress = "";
    $(document).ready(function() {
        debugger;
        _sBaseAddress = @Html.Raw(new System.Web.Script.Serialization.JavaScriptSerializer().Serialize(HttpContext.Current.Session[SessionInfo.BaseAddress]));
        var oTempOrderTrackings = @Html.Raw(new System.Web.Script.Serialization.JavaScriptSerializer().Serialize(Model));
        var oCompareOperators = @Html.Raw(new System.Web.Script.Serialization.JavaScriptSerializer().Serialize(ViewBag.CompareOperators));
        var nBUID = @Html.Raw(new System.Web.Script.Serialization.JavaScriptSerializer().Serialize(ViewBag.BUID));
        var nProductNature = @Html.Raw(new System.Web.Script.Serialization.JavaScriptSerializer().Serialize(ViewBag.ProductNature));
        var oReportConfigure = @Html.Raw(new System.Web.Script.Serialization.JavaScriptSerializer().Serialize(ViewBag.ReportConfigure));
        sessionStorage.setItem("BUID",nBUID);
        sessionStorage.setItem("ProductNature",nProductNature);
        $('#divOT').data("CompareOperators",oCompareOperators);
        $('#divOT').data("ReportConfigure",oReportConfigure);
        $('#divOT').data("ConfigureColumns",[]);
        $('#divOT').data("LayoutType",0);
        $('#divOT').data("ContractorIds","");
        $('#divOT').data("MotherBuyerIds","");
        $('#divOT').data("MarketingAccountIDs","");
        $('#divOT').data("ProductIDs","");
        $('#divOT').data("RawMaterialIDs","");
        var oOrderTrackings =sessionStorage.getItem("OrderTrackings");
        if(oOrderTrackings!=null)
        {
            oOrderTrackings = jQuery.parseJSON(oOrderTrackings);
        }
        else
        {
            oOrderTrackings=oTempOrderTrackings;
        }
        RefreshList(oOrderTrackings);
        $("#progbar").progressbar({ value: 0 });
        $("#progbarParent").hide();
        RefreshSearchComboBoxControls();
        $('#tabOT').tabs({ onSelect: function () {TabClick();} });
    });

    function TabClick()
    {
        debugger;
        var tab = $('#tabOT').tabs('getSelected');
        var index = $('#tabOT').tabs('getTabIndex', tab);
        $('#divOT').data("LayoutType",index);//0:Color view; 1:PI view 3:Product view
        GetSetConifiguration();
    }

    $("#btnConfiguration_ColorView,#btnConfiguration_PIView,#btnConfiguration_ProductView").click(function () {
        LoadColumnConfiguration();
        DynamicRefreshList($('#divOT').data("ConfigureColumns"), "tblOrderTrackingColumn");
        GetSetConifiguration();
        $("#winOrderTrackingColumn").icsWindow('open', "Order Tracking->Configuration");
    });

    function LoadColumnConfiguration()
    {
        var oColumns = [];var oColumn = null;
        if(parseInt($('#divOT').data("LayoutType"))!=2)//not Product view
        {
            oColumn = {FieldName:"PINo",Caption:"P/I No",TableCaption:"P/I No"};oColumns.push(oColumn);
            oColumn = {FieldName:"PIDateInString",Caption:"P/I Date",TableCaption:"P/I Date"};oColumns.push(oColumn);
            oColumn = {FieldName:"ExportLCFileNo",Caption:"LC File No",TableCaption:"LC File No"};oColumns.push(oColumn);
            oColumn = {FieldName:"ExportLCNo",Caption:"LC No",TableCaption:"LC No"};oColumns.push(oColumn);
            oColumn = {FieldName:"BuyerName",Caption:"Buyer Name",TableCaption:"Buyer Name"};oColumns.push(oColumn);
            oColumn = {FieldName:"ContractorName",Caption:"Customer Name",TableCaption:"Customer Name"};oColumns.push(oColumn);
        }
        oColumn = {FieldName:"ProductCode",Caption:"Product Code",TableCaption:"Product Code"};oColumns.push(oColumn);
        oColumn = {FieldName:"ProductName",Caption:"Product Name",TableCaption:"Product Name"};oColumns.push(oColumn);
        if(parseInt($('#divOT').data("LayoutType"))==0)//color view
        {
            oColumn = {FieldName:"ColorName",Caption:"Color Name",TableCaption:"ColorName"};oColumns.push(oColumn);
            oColumn = {FieldName:"StyleRef",Caption:"Style No",TableCaption:"Style No"};oColumns.push(oColumn);
        }
        
        oColumn = {FieldName:"SizeName",Caption:"Size",TableCaption:"Size"};oColumns.push(oColumn);
        oColumn = {FieldName:"MUName",Caption:"Unit Name",TableCaption:"Unit Name"};oColumns.push(oColumn);

        if(parseInt($('#divOT').data("LayoutType"))!=2)//not Product view
        {
            oColumn = {FieldName:"PIQtyWithOutFormatting",Caption:"P/I Qty~N",TableCaption:"P/I Qty"};oColumns.push(oColumn);
        }
        if(parseInt($('#divOT').data("LayoutType"))==2)//Product view
        {
            oColumn = {FieldName:"PIQtyInString",Caption:"P/I Qty~N",TableCaption:"P/I Qty"};oColumns.push(oColumn);
        }
        oColumn = {FieldName:"YetToPOInString",Caption:"Yet To PO~N",TableCaption:"Yet To PO"};oColumns.push(oColumn);
        oColumn = {FieldName:"PSQtyInString",Caption:"Sheet Qty~N",TableCaption:"Sheet Qty"};oColumns.push(oColumn);
        oColumn = {FieldName:"PipeLineQtyInString",Caption:"Pipe Line Qty~N",TableCaption:"Pipe Line Qty"};oColumns.push(oColumn);
        oColumn = {FieldName:"DOQtyInString",Caption:"DO Qty~N",TableCaption:"DO Qty"};oColumns.push(oColumn);
        oColumn = {FieldName:"YetToDOInString",Caption:"Yet To DO~N",TableCaption:"Yet To DO"};oColumns.push(oColumn);
        oColumn = {FieldName:"ChallanQtyInString",Caption:"Challan Qty~N",TableCaption:"Challan Qty"};oColumns.push(oColumn);
        oColumn = {FieldName:"YetToChallanQtyInString",Caption:"Yet To Challan~N",TableCaption:"Yet To Challan"};oColumns.push(oColumn);
        oColumn = {FieldName:"ReturnQtyInString",Caption:"Return Qty~N",TableCaption:"Return Qty"};oColumns.push(oColumn);
        oColumn = {FieldName:"PTUTransferQtyInString",Caption:"PTU Transfer Qty~N",TableCaption:"PTU Transfer Qty"};oColumns.push(oColumn);
        oColumn = {FieldName:"StockQtyInString",Caption:"Stock Qty~N",TableCaption:"Stock Qty"};oColumns.push(oColumn);
        oColumn = {FieldName:"HangerWeight",Caption:"Hanger Weight(gm)~N",TableCaption:"Hanger Weight(gm)"};oColumns.push(oColumn);
        oColumn = {FieldName:"WastagePercentWithWeight",Caption:"Wastage(2%)With Weight~N",TableCaption:"Wastage(2%)With Weight"};oColumns.push(oColumn);
        oColumn = {FieldName:"TotalWeight",Caption:"Total Weight(gm)~N",TableCaption:"Total Weight(gm)"};oColumns.push(oColumn);
        if(parseInt($('#divOT').data("LayoutType"))!=2)//not Product view
        {
            oColumn = {FieldName:"Remarks",Caption:"Remarks",TableCaption:"Remarks"};oColumns.push(oColumn);
        }
        $('#divOT').data("ConfigureColumns",oColumns);
    }

    function GetSetConifiguration()
    {
        var oReportConfigure = {ReportTypeInInt:$('#divOT').data("LayoutType")};
        $.ajax({
            type: "POST",
            dataType: "json",
            url: _sBaseAddress+ "/ReportConfigure/GetReportConfigure",
            traditional: true,
            data:  JSON.stringify(oReportConfigure),
            contentType: "application/json; charset=utf-8",
            success: function (data) {
                debugger;
                var oReportConfigure = jQuery.parseJSON(data);
                if (oReportConfigure.ErrorMessage=="" || oReportConfigure.ErrorMessage==null)
                {
                    $('#divOT').data("ReportConfigure",oReportConfigure);
                    var oFieldNames = oReportConfigure.FieldNames.split(',');
                   
                    for(var i = 0;i<oFieldNames.length;i++)
                    {    
                      $('#tblOrderTrackingColumn').datagrid('checkRow',FindIndex(oFieldNames[i]));
                    }
                }
                else
                {
                    alert(oReportConfigure.ErrorMessage);
                }
            },
            error: function (xhr, status, error) {
                alert(error);
            }
        });
    }
    function FindIndex(svalue)
    {
        var oPickerTableRows = $('#tblOrderTrackingColumn').datagrid('getRows');
        for(var i = 0;i<oPickerTableRows.length;i++)
        {
            if($.trim(oPickerTableRows[i].FieldName)=== $.trim(svalue))
            {
                return i;
            }
        }
    }
    $("#btnOk_OrderTrackingColumn").click(function (e)
    {
        debugger;
        var oOrderTrackingReportColumns = $("#tblOrderTrackingColumn").icsGetCheckedItem();
        if(oOrderTrackingReportColumns.length<=0)
        {
            alert("Please Select at Least One Item from List");
            return;
        }
        //EnumReportType: Order_Tracking_ColorView = 0, Order_Tracking_PIView = 1,Order_Tracking_ProductView = 2,
        //LayoutType:ColorView:0, PIView=1, ProductView=2
        var oReportConfigure = {
            ReportConfigureID:$('#divOT').data("ReportConfigure").ReportConfigureID,
            FieldNames : ICS_PropertyConcatation(oOrderTrackingReportColumns,'FieldName'),
            CaptionNames : ICS_PropertyConcatation(oOrderTrackingReportColumns,'Caption'),
            ReportTypeInInt:$('#divOT').data("LayoutType")
        };
        $.ajax({
            type: "POST",
            dataType: "json",
            url : _sBaseAddress+"/ReportConfigure/Save",
            traditional: true,
            data:  JSON.stringify(oReportConfigure),
            contentType: "application/json; charset=utf-8",
            success: function (data) {
                oReportConfigure = jQuery.parseJSON(data);
                if (oReportConfigure.ErrorMessage==null || oReportConfigure.ErrorMessage=="")
                {
                    alert("Successfully Configuration");
                    $('#divOT').data("ReportConfigure",oReportConfigure);
                    $("#winOrderTrackingColumn").icsWindow('close');
                }
                else {
                    alert(oProductionOrder.ErrorMessage);
                }
            },
            error: function (xhr, status, error) {
                alert(error);
            }

        });


    });

    
    $("#btncloseOrderTrackingColumn").click(function (e)
    {
        $("#winOrderTrackingColumn").icsWindow('close');
    });
    function DetailFormat(Value)
    {
        var sAllValues = Value.split('~');
        var nPIIID = sAllValues[0];
        var nExportSCDetailID = sAllValues[1];
        var nProductID=sAllValues[2];
        var nRefType=sAllValues[3];//Ref for PO:1;PS:2;Pipelline:3; DO:4;Challan:5;Return:6;PIQty:7,PTUTransferQty:8
        var sValue=sAllValues[4];
        var sReturn = '<a  href="javascript:void(0)" value="'+sValue+'"  onclick = "PickerLoad('+nPIIID+','+nExportSCDetailID+','+nProductID+','+nRefType+','+parseInt($('#divOT').data("LayoutType"))+')"">'+sValue+'</a>';
        return sReturn;
    }
    function PickerLoad(nPIID, nExportSCDetailID, nProductID, nRefType, nLayoutType)
    {
        var oOrderTracking = {ExportPIID : nPIID, ExportSCDetailID : nExportSCDetailID, ProductID : nProductID, Params : nRefType+'~'+nLayoutType};
        $.ajax({
            type: "POST",
            dataType: "json",
            url: _sBaseAddress+ "/OrderTracking/GetReferenceData",
            traditional: true,
            data:  JSON.stringify(oOrderTracking),
            contentType: "application/json; charset=utf-8",
            success: function (data) {
                debugger;
                var oOrderTracking = jQuery.parseJSON(data);
                if (oOrderTracking.ErrorMessage=="" || oOrderTracking.ErrorMessage==null)
                {
                    DynamicPickerLoad(nRefType,oOrderTracking, nLayoutType);
                }
                else
                {
                    alert(oOrderTracking.ErrorMessage);
                }
            },
            error: function (xhr, status, error) {
                alert(error);
            }
        });
    }

    function DynamicPickerLoad(nRefType,oOrderTracking, nLayoutType)
    {   debugger;
        var sRefNoCaption="", sRefNoColumn="", sRefDateCaption="Date", sRefDateColumn="", sRefQtyColumn="", swindowTittle = '';
        var oDetailList = [];
        if(nLayoutType==0)//color view
        {
            swindowTittle='PI No: '+oOrderTracking.PINo+"";
        }
        swindowTittle+=" Product Code: "+oOrderTracking.ProductCode+" || Product Name: "+oOrderTracking.ProductName;
        if(nLayoutType==0)//color view
        {
            swindowTittle+=" || Color: "+oOrderTracking.ColorName;
        }
        if(parseInt(nRefType)==1)//PO
        {
            sRefNoCaption="PO No";sRefNoColumn = "PONo";sRefDateColumn="OrderDateInString";sRefQtyColumn = "QtyWithUnitSymbol";
            oDetailList = oOrderTracking.ProductionOrderDetails;
        }else if(parseInt(nRefType)==2)//Ps
        {
            sRefNoCaption="Sheet No";sRefNoColumn = "SheetNo";sRefDateColumn="IssueDateInString";sRefDateCaption="Issue Date"; sRefQtyColumn = "QuantityInString";
            oDetailList = oOrderTracking.ProductionSheets;
        }else if(parseInt(nRefType)==3)//PipeLine
        {
            sRefNoCaption="Sheet No";sRefNoColumn = "RefNo"; sRefDateColumn="DBServerDateTimeInString"; sRefDateCaption="Process Date"; sRefQtyColumn = "QtyInString";
            oDetailList = oOrderTracking.PTUUnit2Logs;
        }else  if(parseInt(nRefType)==4)//DO
        {
            sRefNoCaption="DO No";sRefNoColumn = "DONo";sRefDateColumn="DeliveryDateInString";sRefQtyColumn = "QtyInString";sRefDateCaption = "Delivery Date";
            oDetailList = oOrderTracking.DeliveryOrderDetails;
        }else if(parseInt(nRefType)==5)//Delivery Challan
        {
            sRefNoCaption="Challan No";sRefNoColumn = "ChallanNo"; sRefDateColumn="ChallanDateInString"; sRefDateCaption = "Challan Date"; sRefQtyColumn = "QtyInstring";
            oDetailList = oOrderTracking.DeliveryChallanDetails;
        }else if(parseInt(nRefType)==6)//Return Challan
        {
            sRefNoCaption="Return No";sRefNoColumn = "ReturnChallanNo"; sRefDateColumn="ReturnDateInString"; sRefDateCaption = "Return Date"; sRefQtyColumn = "QtyInString";
            oDetailList = oOrderTracking.ReturnChallanDetails;
        }else if(parseInt(nRefType)==7)//PI
        {
            sRefNoCaption="PI No";sRefNoColumn = "PINo"; sRefDateColumn="IssueDateInString"; sRefDateCaption = "Issue Date"; sRefQtyColumn = "QtyWithSymbol";
            oDetailList = oOrderTracking.ExportPIDetails;
        }else if(parseInt(nRefType)==8)//PTU Transfer
        {
            sRefNoCaption="PI No";sRefNoColumn = "PINo"; sRefDateColumn="TransactionTimeSt"; sRefDateCaption = "Transaction Date"; sRefQtyColumn = "QtySt";
            oDetailList = oOrderTracking.PTUUnit2DistributionLogs;
        }
        var tblColums = []; var oColumn = { field:sRefNoColumn, title: sRefNoCaption, width:100, align: "left" }; tblColums.push(oColumn);
        oColumn = { field: sRefDateColumn, title: sRefDateCaption, width: 120, align: "left" }; tblColums.push(oColumn);
        oColumn = { field: sRefQtyColumn, title: "Qty", width: 90, align: "right" }; tblColums.push(oColumn);

        var oPickerParam = {
            winid: 'winDynamicPicker',
            winclass: 'clsDynamicPicker',
            winwidth: 600,
            winheight: 460,
            tableid: 'tblDynamicPickers',
            tablecolumns: tblColums,
            datalist: oDetailList,
            multiplereturn: false,
            searchingbyfieldName:sRefNoColumn,
            windowTittle:swindowTittle
        };
        $.icsPicker(oPickerParam);
        $('#btnOk').hide();
    }


    function updateProgress() {
        var value =$('#progressbar').progressbar('getValue');
        if (value < 96){
            value += Math.floor(Math.random() * 10);
            $('#progressbar').progressbar('setValue', value);
        }
    }
    function hideShow(miliseconds) {
        $("#progressbarParent").hide();
    }

    $('#btnSearch').click(function(e){
        //debugger;
        $(".lblLoadingMessage").show();
        var checkDate = CheckFromAndToDateValidation("cboPIDate", "txtFromPIDate", "txtToPIDate");
        if (!checkDate) {
            alert("Start date must be greater than end date. For PI");
            return false;
        }
        checkDate = CheckFromAndToDateValidation("cboDODate", "txtFromDODate", "txtToDODate");
        if (!checkDate) {
            alert("Start date must be greater than end date. For DO");
            return false;
        }

        checkDate = CheckFromAndToDateValidation("cboPODate", "txtFromPODate", "txtToPODate");
        if (!checkDate) {
            alert("Start date must be greater than end date. For PO");
            return false;
        }
        checkDate = CheckFromAndToDateValidation("cboChallanDate", "txtFromChallanDate", "txtToChallanDate");
        if (!checkDate) {
            alert("Start date must be greater than end date. For Delivery Challan");
            return false;
        }

        var ncboPIDate = parseInt($('#cboPIDate').val());
        var dFromPIDate   = $('#txtFromPIDate').datebox('getValue');
        var dToPIDate   = $('#txtToPIDate').datebox('getValue');

        var ncboPODate = parseInt($('#cboPODate').val());
        var dFromPODate   = $('#txtFromPODate').datebox('getValue');
        var dToPODate   = $('#txtToPODate').datebox('getValue');

        var ncboDODate = parseInt($('#cboDODate').val());
        var dFromDODate   = $('#txtFromDODate').datebox('getValue');
        var dToDODate   = $('#txtToDODate').datebox('getValue');

        var ncboChallanDate = parseInt($('#cboChallanDate').val());
        var dFromChallanDate   = $('#txtFromChallanDate').datebox('getValue');
        var dToChallanDate   = $('#txtToChallanDate').datebox('getValue');

        var sPINo=$("#txtPINo").val();
        var sPONo=$("#txtPONo").val();
        var sDONo=$("#txtDONo").val();
        var sChallanNo=$("#txtChallanNo").val();
        var sLCNo=$("#txtLCNo").val();
        var sParams =
                         ncboPIDate + "~" +
                         dFromPIDate + "~" +
                         dToPIDate + "~" +
                         ncboPODate + "~" +
                         dFromPODate + "~" +
                         dToPODate + "~" +
                         ncboDODate + "~" +
                         dFromDODate + "~" +
                         dToDODate + "~" +
                         ncboChallanDate + "~" +
                         dFromChallanDate + "~" +
                         dToChallanDate + "~" +
                         $('#divOT').data("ContractorIds") + "~" +
                         $('#divOT').data("ProductIDs") + "~" +
                         sPINo+ "~" +
                         sPONo+ "~" +
                         sDONo+ "~" +
                         sChallanNo+ "~" +
                         sLCNo+ "~" +
                         $('#divOT').data("MarketingAccountIDs")+ "~" +
                         $('#divOT').data("RawMaterialIDs")+ "~" +
                         parseInt(sessionStorage.getItem("BUID"))+ "~" +
                         parseInt(sessionStorage.getItem("ProductNature"))+ "~" +                       
                         $('#divOT').data("MotherBuyerIds");
        
        var oOrderTracking = {
            Params : sParams,
            LayoutType:parseInt($('#divOT').data("LayoutType")),
            bIsYetToChallan: $("#chkBoxYetToChallan").is(':checked'),
            bIsYetToDO: $("#chkBoxYetToDO").is(':checked'),
            bIsYetToChallanWithDOEntry:$("#chkBoxYetToChallanDOEntry").is(':checked'),
            bIsPTUTransferQty:$("#chkBoxPTUTransferQty").is(':checked')
        };
        sessionStorage.setItem("Params", sParams);
        $.ajax({
            type: "POST",
            dataType: "JSON",
            url: _sBaseAddress+  "/OrderTracking/AdvanchSearch",
            data:  JSON.stringify(oOrderTracking),
            contentType: "application/json; charset=utf-8",
            success: function (data) {
                var  oOrderTrackings = data;
                
                if (oOrderTrackings != null) {
                    if(oOrderTrackings.length>0)
                    {
                       //show all columns
                        debugger;
                        RefreshList(oOrderTrackings);
                        LoadColumnConfiguration();
                        var oConfigureColumns =$('#divOT').data("ConfigureColumns");
                        for(var i=0;i<oConfigureColumns.length;i++)
                        {
                            var sFieldName = oConfigureColumns[i].FieldName;
                            if(parseInt($('#divOT').data("LayoutType"))==0)//color view
                            {
                                $('#tblColorView').datagrid('showColumn',sFieldName);
                            }else if(parseInt($('#divOT').data("LayoutType"))==1)//PI view
                            {
                                $('#tblPIView').datagrid('showColumn',sFieldName);
                            }else if(parseInt($('#divOT').data("LayoutType"))==2)//Detail view
                            {
                                $('#tblProductView').datagrid('showColumn',sFieldName);
                            }
                        }
                        debugger;
                        if((parseInt($('#divOT').data("ReportConfigure").ReportConfigureID)> 0) && (parseInt($('#divOT').data("ReportConfigure").ReportTypeInInt)===parseInt($('#divOT').data("LayoutType"))))
                        {
                            for(var i=0;i<oConfigureColumns.length;i++)
                            {
                                debugger;
                                if(!IsColumnExist(oConfigureColumns[i].FieldName))
                                {
                                    var sFieldName = oConfigureColumns[i].FieldName;
                                    if(parseInt($('#divOT').data("LayoutType"))==0)//color view
                                    {
                                        $('#tblColorView').datagrid('hideColumn',sFieldName);
                                    }else if(parseInt($('#divOT').data("LayoutType"))==1)//PI view
                                    {
                                        $('#tblPIView').datagrid('hideColumn',sFieldName);
                                    }else if(parseInt($('#divOT').data("LayoutType"))==2)//Detail view
                                    {
                                        $('#tblProductView').datagrid('hideColumn',sFieldName);
                                    }
                                }
                            }                           
                        }
                        $("#winAdvSearchOrderTracker").icsWindow('close');
                    }
                    else
                    {
                        alert("Data not found!!");
                    }
                }
                $(".lblLoadingMessage").hide();
            },
            error: function (xhr, status, error) {
                alert(error);
            }
        });
    });

    function IsColumnExist(sfieldValue)
    {
        var oFieldNames = $('#divOT').data("ReportConfigure").FieldNames.split(',');
        for(var i = 0;i<oFieldNames.length;i++)
        {
            if($.trim(oFieldNames[i])=== $.trim(sfieldValue))
            {
                return true;
            }
        }
        return false;
    }
    function RefreshList(oOrderTrackings)
    {
        var nIndex= parseInt(sessionStorage.getItem("SelectedRowIndex"));
        if(parseInt($('#divOT').data("LayoutType"))==0)
        {
            DynamicRefreshList(oOrderTrackings, "tblColorView");
            $('#tblColorView').datagrid('selectRow',nIndex);
        }
        else if(parseInt($('#divOT').data("LayoutType"))==1)
        {
            DynamicRefreshList(oOrderTrackings, "tblPIView");
            $('#tblPIView').datagrid('selectRow',nIndex);
        }
        else if(parseInt($('#divOT').data("LayoutType"))==2)
        {
            DynamicRefreshList(oOrderTrackings, "tblProductView");
            $('#tblProductView').datagrid('selectRow',nIndex);
        }
    }

    $("#btnAdvanceSearch_ColorView").click(function () {
        $(".lblLoadingMessage").hide();
        $("#winAdvSearchOrderTracker").icsWindow("open", "Advance Search");
        $('#divOT').data("LayoutType",0);
    });
    $("#btnAdvanceSearchLC_PIView").click(function () {
        $(".lblLoadingMessage").hide();
        $("#winAdvSearchOrderTracker").icsWindow("open", "Advance Search");
        $('#divOT').data("LayoutType",1);
    });
    $("#btnAdvanceSearch_ProductView").click(function () {
        $(".lblLoadingMessage").hide();
        $("#winAdvSearchOrderTracker").icsWindow("open", "Advance Search");
        $('#divOT').data("LayoutType",2);
    });

    $('#btnAdvSearchReset').click(function(e){
        $("#winAdvSearchOrderTracker input").not("input[type='button']").val("");
        RefreshSearchComboBoxControls();
        $('#divOT').data("ContractorIds","");
        $('#divOT').data("MotherBuyerIds","");
        $('#divOT').data("ProductIDs","");
        $('#divOT').data("RawMaterialIDs","");
        $('#divOT').data("MarketingAccountIDs","");
        $('#txtFromDODate,#txtFromPIDate,#txtFromPODate,#txtFromChallanDate').datebox({ disabled : true });
        $('#txtToDODate,#txtToPIDate,#txtToPODate,#txtToChallanDate').datebox({ disabled : true });
        $('#txtFromDODate,#txtFromPIDate,#txtFromPODate,#txtFromChallanDate').datebox('setValue', icsdateformat(new Date()));
        $('#txtToDODate,#txtToPIDate,#txtToPODate,#txtToChallanDate').datebox('setValue', icsdateformat(new Date()));
        $('#cboDODate,#cboPIDate,#cboPODate,#cboChallanDate').val(0);
        $('#chkBoxYetToChallan,#chkBoxYetToChallanDOEntry,#chkBoxYetToDO').attr('checked', false);//unchecked
    });
    $('#btnAdvSearchClose').click(function(e){
        $("#winAdvSearchOrderTracker").icsWindow('close');
    });

    function RefreshSearchComboBoxControls()
    {
        $("#cboDODate, #cboPIDate,#cboPODate,#cboChallanDate").icsLoadCombo({
            List: $('#divOT').data("CompareOperators"),
            OptionValue: "id",
            DisplayText: "Value"
        });


    }

    function CheckFromAndToDateValidation(OperationComboId, FromDateId, ToDateId) {
        $("#" + OperationComboId).parent().parent().parent().find("select").removeClass("errorFieldBorder");
        var nCboVal = $("#" + OperationComboId).val();
        if (parseInt(nCboVal) == 5 || parseInt(nCboVal) == 6) {
            var fromDate = $("#" + FromDateId).datebox("getValue");
            var toDate = $("#" + ToDateId).datebox("getValue");
            if (new Date(fromDate) > new Date(toDate)) {
                $("#" + ToDateId).focus();
                $("#" + OperationComboId).addClass("errorFieldBorder");
                $(".lblLoadingMessage").hide();
                return false;
            } else {
                $("#" + OperationComboId).removeClass("errorFieldBorder");
                return true;
            }
        } else {
            return true;
        }
    }

    function DateActions_DO() {
        DynamicDateActions("cboDODate", "txtFromDODate", "txtToDODate");
    }
    function DateActions_PO() {
        DynamicDateActions("cboPODate", "txtFromPODate", "txtToPODate");
    }
    function DateActions_Challan() {
        DynamicDateActions("cboChallanDate", "txtFromChallanDate", "txtToChallanDate");
    }
    function DateActions_PIDate() {
        DynamicDateActions("cboPIDate", "txtFromPIDate", "txtToPIDate");
    }

    //Account Of Picker
    $("#txtContractorAdvS").keydown(function (e) {
        if (e.keyCode === 13) // Enter Press
        {
            PickContractors_AdvS();
        }
        else if (e.keyCode === 08) {
            $("#txtContractorAdvS").removeClass("fontColorOfPickItem");
            $('#divOT').data("ContractorIds","");
        }
    });
    $("#btnPickContractorAdvS").click(function () {
        PickContractors_AdvS();
    });
    function PickContractors_AdvS() {
        var oContractor = {
            Params: '2,3' + '~' + $.trim($("#txtContractorAdvS").val()+"~"+sessionStorage.getItem("BUID"))
        };
        var obj = {
            BaseAddress: _sBaseAddress,
            Object: oContractor,
            ControllerName: "Contractor",
            ActionName: "ContractorSearchByNameType",
            IsWinClose: false
        };

        $("#progressbar").progressbar({ value: 0 });
        $("#progressbarParent").show();
        var intervalID = setInterval(updateProgress, 250);

        DynamicRefreshList([], "tblAccountsPickerAdvSearch");
        $.icsDataGets(obj, function (response) {
            clearInterval(intervalID);
            $("#progressbarParent").hide();
            if (response.status && response.objs.length > 0) {
                if (response.objs[0].ContractorID > 0) {
                    var tblColums = []; var oColumn = { field: "ContractorID", title: "Code", width: 50, align: "left" }; tblColums.push(oColumn);
                    oColumn = { field: "Name", title: "Name", width: 280, align: "left" }; tblColums.push(oColumn);

                    var oPickerParam = {
                        winid: 'winContractorPicker',
                        winclass: 'clsAccountOf',
                        winwidth: 400,
                        winheight: 460,
                        tableid: 'tblAccountOfs',
                        tablecolumns: tblColums,
                        datalist: response.objs,
                        multiplereturn: true,
                        searchingbyfieldName: 'Name',
                        windowTittle: 'Contactor List'
                    };
                    $.icsPicker(oPickerParam);
                    IntializePickerbutton(oPickerParam);
                }
                else {
                    alert(response.objs[0].ErrorMessage);
                }
            }
            else {
                alert("Sorry, No Contactor Found.");
            }
        });
    }
    //End Account Of Picker


    //Mother Buyer Picker
    $("#txtMotherBuyerAdvS").keydown(function (e) {
        if (e.keyCode === 13) // Enter Press
        {
            PickMotherBuyer_AdvS();
        }
        else if (e.keyCode === 08) {
            $("#txtMotherBuyerAdvS").removeClass("fontColorOfPickItem");
            $('#divOT').data("MotherBuyerIds","");
        }
    });
    $("#btnPickMotherBuyerAdvS").click(function () {
        PickMotherBuyer_AdvS();
    });
    function PickMotherBuyer_AdvS() {
        var oContractor = {
            Params: '6' + '~' + $.trim($("#txtMotherBuyerAdvS").val()+"~"+sessionStorage.getItem("BUID"))
        };
        var obj = {
            BaseAddress: _sBaseAddress,
            Object: oContractor,
            ControllerName: "Contractor",
            ActionName: "ContractorSearchByNameType",
            IsWinClose: false
        };

        $("#progressbar").progressbar({ value: 0 });
        $("#progressbarParent").show();
        var intervalID = setInterval(updateProgress, 250);

        DynamicRefreshList([], "tblMotherBuyers");
        $.icsDataGets(obj, function (response) {
            clearInterval(intervalID);
            $("#progressbarParent").hide();
            if (response.status && response.objs.length > 0) {
                if (response.objs[0].ContractorID > 0) {
                    var tblColums = []; var oColumn = { field: "ContractorID", title: "Code", width: 50, align: "left" }; tblColums.push(oColumn);
                    oColumn = { field: "Name", title: "Name", width: 280, align: "left" }; tblColums.push(oColumn);
                    var oPickerParam = {
                        winid: 'winMotherBuyerPicker',
                        winclass: 'clsMotherBuyer',
                        winwidth: 400,
                        winheight: 460,
                        tableid: 'tblMotherBuyers',
                        tablecolumns: tblColums,
                        datalist: response.objs,
                        multiplereturn: true,
                        searchingbyfieldName: 'Name',
                        windowTittle: 'Mother Buyer List'
                    };
                    $.icsPicker(oPickerParam);
                    IntializePickerbutton(oPickerParam);
                }
                else {
                    alert(response.objs[0].ErrorMessage);
                }
            }
            else {
                alert("Sorry, No Mother Buyer Found.");
            }
        });
    }
    //End Mother Buyer Picker


    //Start Product
    //Product Pick
    $("#txtProductName").keydown(function (e) {
        debugger;
        var code = (e.keyCode ? e.keyCode : e.which);
        if (code == 13) // Enter Press
        {
            if($('#txtProductName').val()==null || $('#txtProductName').val()=="")
            {
                alert("Please Type Product and Press Enter.");
                $('#txtProductName').focus();
                return;
            }
            PickProduct($('#txtProductName').val());
        }
        if (code == 8) //backspace=8
        {
            //debugger;
            $("#txtProductName").removeClass("fontColorOfPickItem");
            $('#divOT').data("ProductIDs","");
        }
    });
    $("#btnProductPiker").click(function () {
        PickProduct("");
    });
    $("#btnClrProductPiker").click(function () {
        $("#txtProductName").val('');
        $("#txtProductName").removeClass("fontColorOfPickItem");
        $('#divOT').data("ProductIDs","");
    });
    function PickProduct(sProductName)
    {
        var oProduct = { BUID:sessionStorage.getItem("BUID"),ProductName:sProductName};
        var obj = {
            BaseAddress: _sBaseAddress,
            Object: oProduct,
            ControllerName: "Product",
            ActionName: "SearchByProductBUWise",
            IsWinClose: false
        };
        $.icsDataGets(obj, function (response) {
            debugger;
            if (response.status && response.objs.length > 0) {
                if (response.objs[0].ProductID > 0) {
                    var tblColums = [];
                    var oColumn = { field: "ProductCode", title: "Code", width: 100, align: "left" }; tblColums.push(oColumn);
                    oColumn = { field: "ProductName", title: "Name", width: 300, align: "left" }; tblColums.push(oColumn);
                    oColumn = { field: "MUnit", title: "Unit", width: 70, align: "left" }; tblColums.push(oColumn);
                    var oPickerParam = {
                        winid: 'winProductPicker',
                        winclass: 'clsProductPicker',
                        winwidth: 600,
                        winheight: 460,
                        tableid: 'tblProductPicker',
                        tablecolumns: tblColums,
                        datalist: response.objs,
                        multiplereturn: true,
                        searchingbyfieldName: 'NameCode',
                        windowTittle: 'Product List'
                    };
                    $.icsPicker(oPickerParam);
                    IntializePickerbutton(oPickerParam);
                }
                else {
                    alert(response.objs[0].ErrorMessage);
                }

            }else{
                alert("Data Not Found.");
            }
        });
    }
    //Raw Material
    $("#btnPickRawMaterial").click(function () {
        GetRawMaterials("");
    });
    $("#txtRawMaterialName").keydown(function (e) {
        debugger;
        var code = (e.keyCode ? e.keyCode : e.which);
        if (code == 13) // Enter Press
        {
            if($.trim($('#txtRawMaterialName').val())==null || $.trim($('#txtRawMaterialName').val())=="")
            {
                alert("Type Raw Material Name and Press Enter.");
                $('#txtRawMaterialName').focus();
                return;
            }
            var sRawMaterialName = $.trim($('#txtRawMaterialName').val());
            GetRawMaterials(sRawMaterialName);
        }else if (code == 8) //backspace=8
        {
            //debugger;
            $("#txtRawMaterialName").removeClass("fontColorOfPickItem");
            $('#divOT').data("RawMaterialIDs","");
        }
    });
    function GetRawMaterials(sRawMaterialName)
    {
        var oProduct = {ProductName:sRawMaterialName, BUID:sessionStorage.getItem("BUID")};
        var obj = {
            BaseAddress: _sBaseAddress,
            Object: oProduct,
            ControllerName: "Recipe",
            ActionName: "SearchByProductBUModuleWise",
            IsWinClose: false
        };
        $.icsDataGets(obj, function (response) {
            debugger;
            if (response.status && response.objs.length > 0) {
                if (response.objs[0].ProductID > 0) {
                    var tblColums = []; var oColumn = { field: "ProductCode", title: "Code", width: 100, align: "left" }; tblColums.push(oColumn);
                    oColumn = { field: "ProductName", title: "Product Name", width: 200, align: "left" }; tblColums.push(oColumn);
                    oColumn = { field: "ShortName", title: "Short Name", width: 130, align: "left" }; tblColums.push(oColumn);
                    oColumn = { field: "ProductCategoryName", title: "Category Name", width: 120, align: "left" }; tblColums.push(oColumn);
                    var oPickerParam = {
                        winid: 'winRawMaterialPicker',
                        winclass: 'clsRawMaterialPicker',
                        winwidth: 640,
                        winheight: 460,
                        tableid: 'tblRawMaterialPicker',
                        tablecolumns: tblColums,
                        datalist: response.objs,
                        multiplereturn: true,
                        searchingbyfieldName: 'NameCode',
                        windowTittle: 'RawMaterial List'
                    };
                    $.icsPicker(oPickerParam);
                    IntializePickerbutton(oPickerParam);
                }
                else {
                    alert(response.objs[0].ErrorMessage);
                }

            }else{
                alert("Data Not Found.");
            }
        });
    }


    $("#txtMarketingAccountAdvS").keydown(function (e) {
        if (e.keyCode === 13) // Enter Press
        {
            PickMarketingAccounts_AdvS();
        }
        else if (e.keyCode === 08) {
            $("#txtMarketingAccountAdvS").removeClass("fontColorOfPickItem");
            $('#divOT').data("MarketingAccountIds","");
        }
    });
    $("#btnPickMarketingAccountAdvS").click(function () {
        PickMarketingAccounts_AdvS();
    });
    function PickMarketingAccounts_AdvS() {
        var oMarketingAccount = {
            Name: $.trim($("#txtMarketingAccountAdvS").val())
        };
        var obj = {
            BaseAddress: _sBaseAddress,
            Object: oMarketingAccount,
            ControllerName: "MarketingAccount",
            ActionName: "GetMarketingAccounts",
            IsWinClose: false
        };

        $("#progressbar").progressbar({ value: 0 });
        $("#progressbarParent").show();
        var intervalID = setInterval(updateProgress, 250);
        $.icsDataGets(obj, function (response) {
            clearInterval(intervalID);
            $("#progressbarParent").hide();
            if (response.status && response.objs.length > 0) {
                if (response.objs[0].MarketingAccountID > 0) {
                    var tblColums = []; var oColumn = { field: "MarketingAccountID", title: "Code", width: 50, align: "left" }; tblColums.push(oColumn);
                    oColumn = { field: "Name", title: "Name", width: 280, align: "left" }; tblColums.push(oColumn);
                    var oPickerParam = {
                        winid: 'winMarketingAccountPicker',
                        winclass: 'clsMarketingAccountPicker',
                        winwidth: 400,
                        winheight: 460,
                        tableid: 'tblMarketingAccountPicker',
                        tablecolumns: tblColums,
                        datalist: response.objs,
                        multiplereturn: true,
                        searchingbyfieldName: 'Name',
                        windowTittle: 'Marketing Account List'
                    };
                    $.icsPicker(oPickerParam);
                    IntializePickerbutton(oPickerParam);
                }
                else {
                    alert(response.objs[0].ErrorMessage);
                }
            }
            else {
                alert("Sorry, No Contactor Found.");
            }
        });
    }

    function IntializePickerbutton(oPickerobj) {
        $("#" + oPickerobj.winid).find("#btnOk").click(function () {
            SetPickerValueAssign(oPickerobj);
        });
        $(document).find('.' + oPickerobj.winclass).keydown(function (e) {
            if (e.which === 13) {
                SetPickerValueAssign(oPickerobj);
            }
        });
    }

    function SetPickerValueAssign(oPickerobj) {
        var oreturnObj = null, oreturnObjs = [];
        if (oPickerobj.multiplereturn) {
            oreturnObjs = $('#' + oPickerobj.tableid).datagrid('getChecked');
        } else {
            oreturnObj = $('#' + oPickerobj.tableid).datagrid('getSelected');
        }

        if (oPickerobj.winid == 'winContractorPicker')
        {
            if (oreturnObjs != null && oreturnObjs.length> 0)
            {

               var sContractorIds=''; var sMessage='';
                sMessage=(oreturnObjs.length>1)? oreturnObjs.length +" Contractors Selected" : oreturnObjs[0].Name;
                $('#txtContractorAdvS').val(sMessage);
                $("#txtContractorAdvS").addClass("fontColorOfPickItem");
                for(var i=0;i<oreturnObjs.length;i++)
                {
                   sContractorIds=sContractorIds+oreturnObjs[i].ContractorID+',';
                }
                sContractorIds=sContractorIds.substring(0,sContractorIds.length-1);
                $('#divOT').data("ContractorIds",sContractorIds);
            }
            else
            {
                alert("Please select a contractor.");
                return false;
            }
        }
        else if (oPickerobj.winid == 'winMotherBuyerPicker')
        {
            if (oreturnObjs != null && oreturnObjs.length> 0)
            {

                var sContractorIds=''; var sMessage='';
                sMessage=(oreturnObjs.length>1)? oreturnObjs.length +" Mother Buyer Selected" : oreturnObjs[0].Name;
                $('#txtMotherBuyerAdvS').val(sMessage);
                $("#txtMotherBuyerAdvS").addClass("fontColorOfPickItem");
                for(var i=0;i<oreturnObjs.length;i++)
                {
                    sContractorIds=sContractorIds+oreturnObjs[i].ContractorID+',';
                }
                sContractorIds=sContractorIds.substring(0,sContractorIds.length-1);
                $('#divOT').data("MotherBuyerIds",sContractorIds);
            }
            else
            {
                alert("Please select a Mother Buyer.");
                return false;
            }
        }
        else if (oPickerobj.winid == 'winMarketingAccountPicker')
        {
            debugger;
            if (oreturnObjs!= null && oreturnObjs.length> 0)
            {
                var sMarketingAccountIds=''; var sMessage='';
                sMessage=(oreturnObjs.length>1)? oreturnObjs.length +" Marketing Account Name Selected" : oreturnObjs[0].Name;
                $('#txtMarketingAccountAdvS').val(sMessage);
                $("#txtMarketingAccountAdvS").addClass("fontColorOfPickItem");

                for(var i=0;i<oreturnObjs.length;i++){
                    sMarketingAccountIds=sMarketingAccountIds+oreturnObjs[i].MarketingAccountID+',';
                }
                sMarketingAccountIds=sMarketingAccountIds.substring(0,sMarketingAccountIds.length-1);
                $('#divOT').data("MarketingAccountIDs",sMarketingAccountIds);
            }
            else
            {
                alert("Please select a MarketingAccount.");
                return false;
            }

        }

        else if (oPickerobj.winid == 'winProductPicker')
        {
            if (oreturnObjs!= null && oreturnObjs.length> 0)
            {
                var sProductIds=''; var sMessage='';
                sMessage=(oreturnObjs.length>1)? oreturnObjs.length +" ProductName Selected" : oreturnObjs[0].ProductName;
                $('#txtProductName').val(sMessage);
                $("#txtProductName").addClass("fontColorOfPickItem");

                for(var i=0;i<oreturnObjs.length;i++){
                    sProductIds=sProductIds+oreturnObjs[i].ProductID+',';
                }
                sProductIds=sProductIds.substring(0,sProductIds.length-1);
                $('#divOT').data("ProductIDs",sProductIds);
            }
            else
            {
                alert("Please select a Product.");
                return false;
            }

        } else if (oPickerobj.winid == 'winRawMaterialPicker')
        {
            if (oreturnObjs!= null && oreturnObjs.length> 0)
            {
                var sRawMaterialIds=''; var sMessage='';
                sMessage=(oreturnObjs.length>1)? oreturnObjs.length +" RawMaterial Name Selected" : oreturnObjs[0].ProductName;
                $('#txtProductName').val(sMessage);
                $("#txtProductName").addClass("fontColorOfPickItem");

                for(var i=0;i<oreturnObjs.length;i++){
                    sRawMaterialIds=sRawMaterialIds+oreturnObjs[i].ProductID+',';
                }
                sRawMaterialIds=sRawMaterialIds.substring(0,sRawMaterialIds.length-1);
                $('#divOT').data("RawMaterialIDs",sRawMaterialIds);
            }
            else
            {
                alert("Please select a RawMaterial.");
                return false;
            }
        }

        $("#" + oPickerobj.winid).icsWindow("close");
        $("#" + oPickerobj.winid).remove();
    }

    $("#btnExcel_ColorView,#btnExcel_ProductView,#btnExcel_PIView").click(function ()
    {
        var sParams=sessionStorage.getItem("Params");
        window.open(_sBaseAddress + '/OrderTracking/PrintRpt_Excel_Bulk?sTempString=' + sParams+"&nLayoutType="+$('#divOT').data("LayoutType")+"&buid="+sessionStorage.getItem("BUID")+"&bIsYetToChallan="+$("#chkBoxYetToChallan").is(':checked')+"&bIsYetToDO="+$("#chkBoxYetToDO").is(':checked')+"&bIsYetToChallanWithDOEntry="+$("#chkBoxYetToChallanDOEntry").is(':checked')+"&bIsPTUTransferQty="+$("#chkBoxPTUTransferQty").is(':checked'), "_blank")
    });

</script>