<html>
<head>
    <link href="@Url.Content("~/Content/CSS/icon.css")" rel="stylesheet" type="text/css" />
    <link href="@Url.Content("~/Content/CSS/easyui.css")" rel="stylesheet" type="text/css" />
    <link href="@Url.Content("~/Content/CSS/Pikerstyle.css")" rel="stylesheet" type="text/css" />

    <script src="@Url.Content("~/Scripts/jquery-1.7.1.min.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Scripts/jquery.ics.customize.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Scripts/jquery.easyui.min.js")" type="text/javascript"></script>

    <script src="@Url.Content("~/Scripts/jquery-ui.min.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Scripts/json2.js")" type="text/javascript"></script>

</head>
<body>
    @model ESimSol.BusinessObjects.ACConfig
    <div style="font-family:Tahoma;font-size:12px;">
        <table border="0" cellspacing="2" cellpadding="2">
            <tr>
                <td style="background-color:#CFB53B; text-align:center; width:500px; color:White">
                    <label id="lblHeaderName" style="font-size:15px; font-weight:bold; text-decoration:Underline">Account Configuration</label>
                </td>
            </tr>
        </table>
        <fieldset>
            <legend style="font-weight:bold">Configuration : </legend>
            <table border="0" cellspacing="2" cellpadding="2" style="font-size:11px; font-weight:bold">
                <tr>
                    <td style="width:60px;"></td>
                    <td>
                        <input type="checkbox" name="chkAllCheckUncheck" id="chkAllCheckUncheck" onchange="CheckUncheckAll()" />
                    </td>
                    <td style="width:450px">
                        <label style="">All Check/UnCheck</label>
                    </td>
                </tr>
                <tr>
                    <td style="width:60px;"></td>
                    <td>
                        <input type="checkbox" name="chkConfig1" id="chkBox1" />
                    </td>
                    <td style="width:450px">
                        <label id="lblConfig1"></label>
                    </td>
                </tr>
                <tr>
                    <td style="width:60px;"></td>
                    <td>
                        <input type="checkbox" name="chkVoucherNarration" id="chkBox2" />
                    </td>
                    <td style="width:300px">
                        <label id="lblConfig2"></label>
                    </td>
                </tr>
                <tr>
                    <td style="width:60px;"></td>
                    <td>
                        <input type="checkbox" name="chkCC" id="chkBox3" />
                    </td>
                    <td style="width:300px">
                        <label id="lblConfig3"></label>
                    </td>
                </tr>
                <tr>
                    <td style="width:60px;"></td>
                    <td >
                        <input type="checkbox" name="chkBT" id="chkBox4" />
                    </td>
                    <td style="width:300px">
                        <label id="lblConfig4"></label>
                    </td>
                </tr>
                <tr>
                    <td style="width:60px;"></td>
                    <td >
                        <input type="checkbox" name="chkIR" id="chkBox5" />
                    </td>
                    <td style="width:300px">
                        <label id="lblConfig5"></label>
                    </td>
                </tr>
                <tr>
                    <td style="width:60px;"></td>
                    <td >
                        <input type="checkbox" name="chkVR" id="chkBox6" />
                    </td>
                    <td style="width:300px">
                        <label id="lblConfig6"></label>
                    </td>
                </tr>
            </table>
        </fieldset>
        <fieldset>
            <legend style="font-weight:bold"> Action : </legend>
            <table border="0" cellspacing="2" cellpadding="2" style="font-size:11px; font-weight:bold">
                <tr>
                    <td style="width:400px; text-align:right"></td>

                    <td style="width:50px">
                        <a id="btnSave" href="javascript:void(0)" class="easyui-linkbutton" iconcls="icon-save" plain="true">Save</a>
                    </td>
                    <td style="width:50px">
                        <a id="btnClose" href="javascript:void(0)" class="easyui-linkbutton" iconcls="icon-cancel" plain="true">Close</a>
                    </td>
                </tr>
            </table>
        </fieldset>
    </div>
</body>
</html>


<script type="text/javascript">
    var _oACConfig=null;
    var _sBaseAddress="";
    var _obj = window.dialogArguments;
    var _oConfigureTypeObjs = [];
    var _oACConfigs = [];
    var _oTemps = [];
    $(document).ready(function () {
        _sBaseAddress =@Html.Raw( new System.Web.Script.Serialization.JavaScriptSerializer().Serialize(HttpContext.Current.Session[SessionInfo.BaseAddress]));
        _oACConfig =@Html.Raw(new System.Web.Script.Serialization.JavaScriptSerializer().Serialize(Model));
        _oConfigureTypeObjs = _oACConfig.ConfigureTypeObjs;
        _oACConfigs = _oACConfig.ACConfigs;
        LoadAllCheckBoxes();
        if(_obj.OprationType == "General Ledger")
        {
            CreateFieldsForGL();
        }
        else if(_obj.OprationType == "General Journal")
        {
            CreateFieldsForGJ();
        }
    });

    function LoadAllCheckBoxes()
    {
        for(var i = 1 ; i <= _oACConfigs.length ; i++)
        {
            var bConfigureValue = (parseInt(_oACConfigs[i-1].ConfigureValue) == 1 ? true:false);
            $('#chkBox'+i).prop('checked', bConfigureValue);
        }
    }

    function CheckUncheckAll()
    {
        var chkAllCheckUncheck = $("#chkAllCheckUncheck").is(':checked');
        for(var i = 1 ; i <= 6 ; i++)
        {
            $('#chkBox'+i).prop('checked', chkAllCheckUncheck);
        }
    }

    function CreateFieldsForGJ()
    {
        var checkBoxSerialNumber = 0;
        var lblConfigID = 0;
        for(var i = 1; i<= _oConfigureTypeObjs.length; i++)
        {
            if(parseInt(_oConfigureTypeObjs[i].Id) > 10 && parseInt(_oConfigureTypeObjs[i].Id) <= 20)
            {
                lblConfigID++;
                $("#lblConfig"+lblConfigID).text(_oConfigureTypeObjs[i].Value);
            }
        }
        for(var i = 1 ; i < 6 ; i++)
        {
            if(_oACConfigs.length == 0)
            {
                $('#chkBox'+i).prop('checked', false);
            }
            else
            {
                var bConfigureValue = (parseInt(_oACConfigs[i-1].ConfigureValue) == 1 ? true:false);
                $('#chkBox'+i).prop('checked', bConfigureValue);
            }
        }
    }

    function CreateFieldsForGL()
    {
        var checkBoxSerialNumber = 0;
        var lblConfigID = 0;
        for(var i = 1; i<= _oConfigureTypeObjs.length; i++)
        {
            if(parseInt(_oConfigureTypeObjs[i].Id) > 0 && parseInt(_oConfigureTypeObjs[i].Id) <= 10)
            {
                lblConfigID++;
                $("#lblConfig"+lblConfigID).text(_oConfigureTypeObjs[i].Value);
            }
        }
        for(var i = 1 ; i < 6 ; i++)
        {
            if(_oACConfigs.length == 0)
            {
                $('#chkBox'+i).prop('checked', false);
            }
            else
            {
                var bConfigureValue = (parseInt(_oACConfigs[i-1].ConfigureValue) == 1 ? true:false);
                $('#chkBox'+i).prop('checked', bConfigureValue);
            }
        }
    }

    function RefreshObject()
    {
        var oACConfigs = [];
        var nLoopStartPoint = 0;
        var nLoopEndPoint = 0;
        var nACConfigLength = 0;
        if(_obj.OprationType == "General Ledger")
        {
            nLoopStartPoint = 1;
            nLoopEndPoint = 6;
        }
        else if(_obj.OprationType == "General Journal")
        {
            nLoopStartPoint = 11;     
            nLoopEndPoint = 16;
        }
        debugger;
        var nConfigureTypeInInt = nLoopStartPoint;

        for(var i = 1 ; i <= 6 ; i++)
        {
            var check = $("#chkBox"+i).is(':checked');
            var oACConfig= {
                ACConfigID :                 (_oACConfigs.length == 0 ? 0 : _oACConfigs[i-1].ACConfigID),
                ConfigureTypeInInt:          parseInt(nConfigureTypeInInt),
                ConfigureValueTypeInInt :    parseInt(1),
                ConfigureValue:              (check ? 1:0)
            };
            oACConfigs.push(oACConfig);
            nConfigureTypeInInt++;
        }
        return oACConfigs;
    }
    $("#btnSave").click(function(){
        var oACConfigs = RefreshObject();
        
        var oACConfig = {
            ACConfigs : oACConfigs
        };
        $.ajax({
            type: "POST",
            dataType: "json",
            url : _sBaseAddress+  "/ACConfig/Save",
            traditional: true,
            data:  JSON.stringify(oACConfig),
            contentType: "application/json; charset=utf-8",
            success: function (data) {
                oACConfig = jQuery.parseJSON(data);
                if (oACConfig.ACConfigID>0) {
                    alert("Data Saved sucessfully");
                    window.returnValue = oACConfig;
                    window.close();
                }
                else {
                    alert(oACConfig.ErrorMessage);
                }
            },
            error: function (xhr, status, error) {
                alert(error);
            }
        });
    });
    $("#btnClose").click(function(){
        window.close();
    });

</script>