<html>
<head>
    <link href="@Url.Content("~/Content/CSS/icon.css")" rel="stylesheet" type="text/css" />
    <link href="@Url.Content("~/Content/CSS/easyui.css")" rel="stylesheet" type="text/css" />
    <link href="@Url.Content("~/Content/CSS/Pikerstyle.css")" rel="stylesheet" type="text/css" />
    <script src="@Url.Content("~/Scripts/jquery-1.7.1.min.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Scripts/jquery.ics.customize.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Scripts/jquery.easyui.min.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Scripts/jquery-ui.min.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Scripts/json2.js")" type="text/javascript"></script>
</head>
<body>
 @model ESimSol.BusinessObjects.BankBranch
<div style="font-family: Tahoma">
    <table border="0" cellspacing="2" cellpadding="2">
        <tr>
            <td style="background-color: #CFB53B; text-align: center; width: 800px; color: White">
                <label id="lblHeaderName" style="font-size: 15px; font-weight: bold; text-decoration: Underline">
                    Add Bank Personnel</label>
            </td>
        </tr>
    </table>
    <div style="margin-left: 2px; height: 420px">
        <table id="tblBankPersonnels" title="Bank Personeel List" class="easyui-datagrid"
            style="width: 793px; height: 420px" data-options="                       
                singleSelect: true, 
                fitColumns:false, 
                rownumbers:true,
                pagination:false,
                autoRowHeight:false,
                toolbar: '#toolbar'                     
            ">
            <thead>
                <tr>
                    <th field="Name" width="150" align="left">
                        Personnel Name
                    </th>
                    <th field="Address" width="200" align="left">
                        Address
                    </th>
                    <th field="Phone" width="200" align="left">
                        Phone Number
                    </th>
                    <th field="Email" width="200" align="left">
                        Email Address
                    </th>
                </tr>
            </thead>
        </table>
        <div style="text-align: left" id="toolbar">
            <a href="javascript:void(0)" class="easyui-linkbutton" iconcls="icon-reload" plain="true" onclick="RefreshGrid()">Refresh</a>
            <input type="text" id="txtSearchByName" value="Search by name" style="width: 200px" onclick="ClearNamefield()" />
            <a id="btnAddRawmaterial" href="javascript:void(0)" class="easyui-linkbutton" iconcls="icon-add" plain="true" onclick="Add()">Add</a> 
            <a id="btnEdit" href="javascript:void(0)" class="easyui-linkbutton" iconcls="icon-edit" plain="true" onclick="Edit()">Edit</a>
             <a id="btnView" href="javascript:void(0)" class="easyui-linkbutton" iconcls="icon-details" plain="true" onclick="Details()"> View</a>
             <a id="btnRemoveRawmaterial" href="javascript:void(0)" class="easyui-linkbutton" iconcls="icon-remove" plain="true" onclick="Delete()">Delete</a>
        </div>
    </div>
    <fieldset>
        <legend style="font-weight: bold">Action : </legend>
        <table border="0" cellspacing="2" cellpadding="2" style="font-size: 11px; font-weight: bold">
            <tr>
                <td style="width: 700px; text-align: right">
                </td>
                <td style="width: 50px">
                </td>
                <td style="width: 50px">
                    <a href="javascript:void(0)" class="easyui-linkbutton" iconcls="icon-cancel" plain="true" onclick="Close()">Close</a>
                </td>
            </tr>
        </table>
    </fieldset>
    </div>
</body>
</html>
<script type="text/javascript"> 
 var _oBankPersonnel;
 var _oBankPersonnels=[]; 
 var _oSelectedBankBranch=null; 
 var _sBaseAddress="";
 $(document).ready(function () {
    _sBaseAddress =@Html.Raw(new System.Web.Script.Serialization.JavaScriptSerializer().Serialize(HttpContext.Current.Session[SessionInfo.BaseAddress]));
    _oSelectedBankBranch =@Html.Raw(new System.Web.Script.Serialization.JavaScriptSerializer().Serialize(Model));         
    _oBankPersonnels=@Html.Raw(new System.Web.Script.Serialization.JavaScriptSerializer().Serialize(Model.BankPersonnels));    
    var obj = window.dialogArguments;
    document.getElementById('lblHeaderName').innerHTML='Bank Personnels for :' +_oSelectedBankBranch.BranchName;            
    RefreshList();
 }); 

$('#txtSearchByName').keypress(function (e) {
    var c = String.fromCharCode(e.which);
    var txtSearchByName = document.getElementById('txtSearchByName').value;
    txtSearchByName = txtSearchByName + c;
    //if(txtSearchByName.length<3)return;

    var bFlag=false;
    var sTempName="";
    var rows = $('#tblBankPersonnels').datagrid('getRows');        
    for(i=0;i<rows.length;++i){
        sTempName=rows[i]['Name'].substring(0, txtSearchByName.length);
        if(txtSearchByName.toUpperCase()==sTempName.toUpperCase())
        {
            bFlag=true;
            break;
        }
    }
    if(bFlag)
    {
        $('#tblBankPersonnels').datagrid('selectRow', i);
    }
});

function ClearNamefield()
{
    $("#txtSearchByName").val('');
}

function Add()
{
    var oParameter = new Object();
    oParameter.Name = "Add Bank Personnel";
    var url =_sBaseAddress+ "/BankPersonnel/ViewBankPersonnel?id=0&nid="+_oSelectedBankBranch.BankBranchID;
    var oBankPersonnel = window.showModalDialog(url, oParameter, 'dialogHeight:260px;dialogWidth:505px;dialogLeft:500;dialogTop:200;center:yes;resizable:no;status:no;scroll:no');
    if(oBankPersonnel!=null)
    {
        if(oBankPersonnel.BankPersonnelID>0)
        {
            var oBankPersonnels = $('#tblBankPersonnels').datagrid('getRows');               
            var nIndex=oBankPersonnels.length;
                       
            $('#tblBankPersonnels').datagrid('appendRow',oBankPersonnel); 
            $('#tblBankPersonnels').datagrid('selectRow', nIndex);
        }
    }
} 

function Edit()
{
    var oBankPersonnel= $('#tblBankPersonnels').datagrid('getSelected'); 
    if(oBankPersonnel==null || oBankPersonnel.BankPersonnelID<=0)
    {
        alert("Please select a item from list!");
        return;
    }
    var SelectedRowIndex=$('#tblBankPersonnels').datagrid('getRowIndex',oBankPersonnel);
    var oParameter = new Object();        
    oParameter.Name = "Edit Bank Personnel";
    var url =_sBaseAddress+ "/BankPersonnel/ViewBankPersonnel?id="+oBankPersonnel.BankPersonnelID+"&nid="+_oSelectedBankBranch.BankBranchID;
    oBankPersonnel = window.showModalDialog(url, oParameter, 'dialogHeight:260px;dialogWidth:505px;dialogLeft:500;dialogTop:200;center:yes;resizable:no;status:no;scroll:no');
    if(oBankPersonnel!=null)
    {
        if(oBankPersonnel.BankPersonnelID>0)
        {                
            $('#tblBankPersonnels').datagrid('updateRow',{index: SelectedRowIndex,	row: oBankPersonnel});
        }
    }
} 

function Details()
{
    var oBankPersonnel= $('#tblBankPersonnels').datagrid('getSelected'); 
    if(oBankPersonnel==null || oBankPersonnel.BankPersonnelID<=0)
    {
        alert("Please select a item from list!");
        return;
    }
    var SelectedRowIndex=$('#tblBankPersonnels').datagrid('getRowIndex',oBankPersonnel);
    var oParameter = new Object();        
    oParameter.Name = "View Bank Personnel";
    var url =_sBaseAddress+ "/BankPersonnel/ViewBankPersonnel?id="+oBankPersonnel.BankPersonnelID+"&nid="+_oSelectedBankBranch.BankBranchID;
    oBankPersonnel = window.showModalDialog(url, oParameter, 'dialogHeight:260px;dialogWidth:505px;dialogLeft:500;dialogTop:200;center:yes;resizable:no;status:no;scroll:no');
} 

function Delete()
{
    var oBankPersonnel= $('#tblBankPersonnels').datagrid('getSelected');
    if (!confirm("Confirm to Delete?")) return ;
    if(oBankPersonnel==null || oBankPersonnel.BankPersonnelID<=0)
    {
        alert("Invalid Field!!! please select a valid Field!");                  
        return false;
    }
    var SelectedRowIndex=$('#tblBankPersonnels').datagrid('getRowIndex',oBankPersonnel);

    if (oBankPersonnel.BankPersonnelID> 0) 
    {
        $.ajax
        ({
            type: "GET",
            dataType: "json",                
            url : _sBaseAddress+  "/BankAccount/Delete",
            data: { id: oBankPersonnel.BankPersonnelID},
            contentType: "application/json; charset=utf-8",
            success: function (data) {
                feedbackmessage = jQuery.parseJSON(data);
                if (feedbackmessage == "Data delete successfully") 
                {
                    alert("Delete sucessfully");                        
                    $('#tblBankPersonnels').datagrid('deleteRow',SelectedRowIndex);
                }
                else
                {
                    alert(feedbackmessage);
                }
            },
            error: function (xhr, status, error) 
            {
                alert(error);
            }
        });
    }
}
   
function RefreshList()
{    
    data=_oBankPersonnels;
    data={"total":""+data.length+"","rows":data};
    $('#tblBankPersonnels').datagrid('loadData',data); 
}
    
function RefreshGrid()
{    
    data=$('#tblBankPersonnels').datagrid('getRows');
    data={"total":""+data.length+"","rows":data};
    $('#tblBankPersonnels').datagrid('loadData',data);           
}

function Close()
{
    window.close();
}
</script>
