@{
    ViewBag.Title = "Order Summary List";
}
@model IEnumerable<ESimSol.BusinessObjects.DUOrderTracker>
<head>
    
</head>
<body>
   
    <div class="menuMainCollectionTable">
        <div id="tabLCReport" class="easyui-tabs" style="width:100%; height:100%">
            <div title="Color View" id="divColorView" style="width:100%;height:92%">
                <table id="tblColorView" style="width:100%; height:100%" class="easyui-datagrid" fit="true" fitcolumns="false" rownumbers="true" pagination="false" singleselect="true" autorowheight="false" toolbar="#toolbar_ColorView" data-options="rowStyler: function(index,row){
                                         if (row.ProductName=='Total'){
                                            return 'color:#016B18; font-weight:bold;';
                                        }
                                    }
                    ">
                    <thead>
                        <tr>
                            <th field="OrderNo" width="10%">Order No</th>
                            <th field="OrderDateSt" width="10%">Order Date</th>
                            <th field="PINo" width="10%">P/I No</th>
                            <th field="ContractorName" width="15%">Buyer Name</th>
                            <th field="BuyerName" width="10%">Buying Name</th>
                            <th field="ProductCode" width="6%">Code</th>
                            <th field="ProductName" width="15%">Yarn Type</th>
                            @*<th field="YarnCount" width="10%">YarnCount</th>*@
                            <th field="ColorNameShade" width="15%">Color</th>
                            <th field="LabdipNo" width="10%">Labdip No</th>
                            <th field="ColorNo" width="10%">Color No</th>
                            <th field="PantonNo" width="10%">Panton No</th>
                            <th field="Qty_PI" formatter="formatPrice" width="10%" align="right">P/I Qty(Lbs)</th>
                            <th field="OrderQty" formatter="formatPrice" width="10%" align="right">Dyeing Order Qty(Lbs)</th>
                            <th field="Qty_ProIssue" formatter="formatPrice" width="10%" align="right">Dyeing Card Issue(Lbs)</th>
                            
                            <th field="Pro_PipeLineQty" formatter="formatPrice" width="10%" align="right">WIP</th>
                            <th field="ProductionFinishedQty" formatter="formatPrice" width="10%" align="right">Pro. Finished(LBS)</th>
                            <th field="YetToProduction" formatter="formatPrice" width="10%" align="right">Pending Production</th>
                            <th field="ActualDeliveryQty" formatter="formatPrice" width="10%" align="right">Delivery Qty</th>
                            <th field="YetToDelivery" formatter="formatPrice" width="10%" align="right">Pending Delivery</th>
                            <th field="StockInHand" formatter="formatPrice" width="10%" align="right">StockInHand</th>
                            @*<th field="YetToDelivery" formatter="formatPrice" width="10%" align="right">Yet T oDelivery</th>*@
                            @*<th field="ReadyStockInhand" formatter="formatPrice" width="12%" align="right">ReadyStockInhand</th>*@
                            <th field="ReturnQty" formatter="formatPrice" width="10%" align="right">Return Qty</th>
                            <th field="ClaimOrderQty" formatter="formatPrice" width="10%" align="right">Claim Qty</th>
                            <th field="StockInAval" formatter="formatPrice" width="10%" align="right">StockInHand(Aval)</th>
                            <th field="LCNo" width="12%">L/C No </th>
                            @*<th field="StateSt" width="12%">Status</th>*@
                            <th field="MKT" width="15%">Con. Person </th>

                        </tr>
                    </thead>
                </table>
                <div id="toolbar_ColorView">
                    <a id="btnAdvanceSearch_ColorView" href="javascript:void(0)" class="easyui-linkbutton" iconcls="icon-search" plain="true">Adv. Search</a>
                    @*<a id="btnPrint_ColorView" href="javascript:void(0)" class="easyui-linkbutton" iconcls="icon-print" plain="true">Print</a>*@
                    <a id="btnExcel_ColorView" href="javascript:void(0)" class="easyui-linkbutton" iconcls="icon-excel" plain="true">Excel</a>
                    <a id="btnViewRS" href="javascript:void(0)" class="easyui-linkbutton" iconcls="icon-details" plain="true">View </a>
                    <a id="btnPreviewDeliveryDetail" href="javascript:void(0)" class="easyui-linkbutton" iconcls="icon-print" plain="true">Preview(Delivery Detail)</a>
                </div>

            </div>
            <div title="Order View" id="divOrderView" style="width:100%;height:92%">
                <table id="tblOrderView" style="width:100%; height:100%" class="easyui-datagrid" fit="true" fitcolumns="false" rownumbers="true" pagination="false" singleselect="true" autorowheight="false" toolbar="#toolbar_OrderView" data-options="rowStyler: function(index,row){
                                        if (row.ProductName=='Total'){
                                            return 'color:#016B18; font-weight:bold;';
                                        }
                                    }
                    ">
                    <thead>
                        <tr>

                            <th field="OrderNo" width="10%">Order No</th>
                            <th field="PINo" width="10%">P/I No</th>
                            <th field="ContractorName" width="15%">Buyer Name</th>
                            <th field="BuyerName" width="10%">Buying Name</th>
                            <th field="ProductCode" width="6%">Code</th>
                            <th field="ProductName" width="15%">Yarn Type</th>
                            @*<th field="ColorNameShade" width="15%">Color</th>
                            <th field="ColorNo" width="10%">Color No</th>
                            <th field="PantonNo" width="10%">Panton No</th>*@
                            <th field="Qty_PI" formatter="formatPrice" width="10%" align="right">P/I Qty(Lbs)</th>
                            <th field="Qty_ProIssue" formatter="formatPrice" width="10%" align="right">Pro Issue(Lbs)</th>
                            <th field="OrderQty" formatter="formatPrice" width="10%" align="right">DO Qty(Lbs)</th>
                            <th field="Pro_PipeLineQty" formatter="formatPrice" width="10%" align="right">WIP</th>
                            <th field="ProductionFinishedQty" formatter="formatPrice" width="10%" align="right">Pro. Finish(LBS)</th>
                            <th field="YetToProduction" formatter="formatPrice" width="10%" align="right">Pending Pro</th>
                            <th field="ActualDeliveryQty" formatter="formatPrice" width="10%" align="right">Delivery Qty</th>
                            <th field="YetToDelivery" formatter="formatPrice" width="10%" align="right">Pending Delivery</th>
                            <th field="ReturnQty" formatter="formatPrice" width="10%" align="right">Return Qty</th>
                            <th field="ClaimOrderQty" formatter="formatPrice" width="10%" align="right">Claim Qty</th>
                            <th field="StockInHand" formatter="formatPrice" width="10%" align="right">StockInHand</th>
                            <th field="StockInAval" formatter="formatPrice" width="10%" align="right">StockInHand(Aval)</th>
                            <th field="LCNo" width="12%">L/C No </th>
                            @*<th field="StateSt" width="12%">Status</th>*@
                            <th field="MKT" width="15%">Con. Person </th>
                        </tr>
                    </thead>
                </table>

                <div id="toolbar_OrderView">
                    <a id="btnAdvanceSearch_OrderView" href="javascript:void(0)" class="easyui-linkbutton" iconcls="icon-search" plain="true">Adv. Search</a>
                    @*<a id="btnPrint_OrderView" href="javascript:void(0)" class="easyui-linkbutton" iconcls="icon-print" plain="true">Print</a>*@
                    <a id="btnExcel_OrderView" href="javascript:void(0)" class="easyui-linkbutton" iconcls="icon-excel" plain="true">Excel</a>
                </div>
            </div>
            <div title="P/I View" id="divPIView" style="width:100%;height:92%">
                <table id="tblPIView" style="width:100%; height:100%" class="easyui-datagrid" fit="true" fitcolumns="false" rownumbers="true" pagination="false" singleselect="true" autorowheight="false" toolbar="#toolbar_PIView" data-options="rowStyler: function(index,row){
                                        if (row.ProductName=='Total'){
                                            return 'color:#016B18; font-weight:bold;';
                                        }
                                    }
                    ">
                    <thead>
                        <tr>
                            <th field="PINo" width="10%">P/I No</th>
                            <th field="ContractorName" width="15%">Buyer Name</th>
                            <th field="BuyerName" width="10%">Buying Name</th>
                            <th field="ProductCode" width="6%">Code</th>
                            <th field="ProductName" width="15%">Yarn Type</th>
                            @*<th field="ColorNameShade" width="15%">Color</th>
        <th field="ColorNo" width="10%">Color No</th>
        <th field="PantonNo" width="10%">Panton No</th>*@
                            <th field="Qty_PI" formatter="formatPrice" width="10%" align="right">P/I Qty(Lbs)</th>
                            <th field="Qty_ProIssue" formatter="formatPrice" width="10%" align="right">Pro Issue(Lbs)</th>
                            <th field="OrderQty" formatter="formatPrice" width="10%" align="right">DO Qty(Lbs)</th>
                            <th field="Pro_PipeLineQty" formatter="formatPrice" width="10%" align="right">WIP</th>
                            <th field="ProductionFinishedQty" formatter="formatPrice" width="10%" align="right">Pro. Finish(LBS)</th>
                            <th field="YetToProduction" formatter="formatPrice" width="10%" align="right">Pending Production</th>
                            <th field="ActualDeliveryQty" formatter="formatPrice" width="10%" align="right">Delivery Qty</th>
                            <th field="YetToDelivery" formatter="formatPrice" width="10%" align="right">Pending Delivery</th>
                            <th field="ReturnQty" formatter="formatPrice" width="10%" align="right">Return Qty</th>
                            <th field="ClaimOrderQty" formatter="formatPrice" width="10%" align="right">Claim Qty</th>
                            <th field="StockInHand" formatter="formatPrice" width="10%" align="right">StockInHand</th>
                            <th field="StockInAval" formatter="formatPrice" width="10%" align="right">StockInHand(Aval)</th>
                            <th field="LCNo" width="12%">L/C No </th>
                            @*<th field="StateSt" width="12%">Status</th>*@
                            <th field="MKT" width="15%">Con. Person </th>
                        </tr>
                    </thead>
                </table>

                <div id="toolbar_PIView">
                    <a id="btnAdvanceSearchLC_PIView" href="javascript:void(0)" class="easyui-linkbutton" iconcls="icon-search" plain="true">Adv. Search</a>
                    @*<a id="btnViewLCLog" href="javascript:void(0)" class="easyui-linkbutton" iconcls="icon-details" plain="true">View LC</a>*@

                    @*<a id="btnPrint_PIView" href="javascript:void(0)" class="easyui-linkbutton" iconcls="icon-print" plain="true">Print</a>*@
                    <a id="btnExcel_PIView" href="javascript:void(0)" class="easyui-linkbutton" iconcls="icon-excel" plain="true">Excel</a>
                </div>
            </div>
            <div title="Product View" id="divProductView" style="width:100%;height:92%">
                <table id="tblProductView" style="width:100%; height:100%" class="easyui-datagrid" fit="true" fitcolumns="false" rownumbers="true" pagination="false" singleselect="true" autorowheight="false" toolbar="#toolbar_ProductView" data-options="rowStyler: function(index,row){
                                        if (row.ProductName=='Total'){
                                            return 'color:#016B18; font-weight:bold;';
                                        }
                                    }
                    ">
                    <thead>
                        <tr>
                            @*<th field="PINo" width="10%">P/I No</th>*@
                          
                            <th field="ProductCode" width="6%">Code</th>
                            <th field="ProductName" width="15%">Yarn Type</th>
                            @*<th field="ColorNameShade" width="15%">Color</th>
        <th field="ColorNo" width="10%">Color No</th>
        <th field="PantonNo" width="10%">Panton No</th>*@
                            <th field="Qty_PI" formatter="formatPrice" width="10%" align="right">P/I Qty(Lbs)</th>
                            <th field="Qty_ProIssue" formatter="formatPrice" width="10%" align="right">Pro Issue(Lbs)</th>
                            <th field="OrderQty" formatter="formatPrice" width="10%" align="right">DO Qty(Lbs)</th>
                            <th field="ProductionPipeLineQty" formatter="formatPrice" width="10%" align="right">WIP</th>
                            <th field="ProductionFinishedQty" formatter="formatPrice" width="10%" align="right">Pro. Finish(LBS)</th>
                            <th field="YetToProduction" formatter="formatPrice" width="10%" align="right">Pending Pro.</th>
                            <th field="ActualDeliveryQty" formatter="formatPrice" width="10%" align="right">Delivery Qty</th>
                            <th field="YetToDelivery" formatter="formatPrice" width="10%" align="right">Yet T oDelivery</th>
                            <th field="ReturnQty" formatter="formatPrice" width="10%" align="right">Return Qty</th>
                            <th field="ClaimOrderQty" formatter="formatPrice" width="10%" align="right">Claim Qty</th>
                            <th field="StockInHand" formatter="formatPrice" width="10%" align="right">StockInHand</th>
                            <th field="StockInAval" formatter="formatPrice" width="10%" align="right">StockInHand(Aval)</th>
                        </tr>
                    </thead>
                </table>

                <div id="toolbar_ProductView">
                    <a id="btnAdvanceSearch_ProductView" href="javascript:void(0)" class="easyui-linkbutton" iconcls="icon-search" plain="true">Adv. Search</a>
                    @*<a id="btnPrint_ProductView" href="javascript:void(0)" class="easyui-linkbutton" iconcls="icon-print" plain="true">Print</a>*@
                    <a id="btnExcel_ProductView" href="javascript:void(0)" class="easyui-linkbutton" iconcls="icon-excel" plain="true">Excel</a>
                </div>
            </div>
        </div>
     
    </div>
    <div id="winAdvSearchOrderTracker" style="width:510px" class="easyui-window winClass" title="Adv. Search" data-options="modal:true,closed:true,collapsible:false,minimizable:false,maximizable:false,closable:false">
        <table style="width:100%">
            <tr>
                <td>
                    <fieldset>
                        <legend>Searching Criteria</legend>
                        <table style="width:100%">
                            <tr>
                                <td style="width:20%;text-align:right;">
                                    <label>BPO Date </label>
                                </td>
                                <td colspan="3" style=" width:75%;text-align:left;">
                                    <select id="cboDODate" style="width:30%;" onchange="DateActions_DO();"></select>
                                    <input id="txtFromDODate" type="text" style="width: 100px;" class="easyui-datebox" required="required" data-options="formatter:icsdateformat,parser:icsdateparser" />To
                                    <input id="txtToDODate" type="text" style="width: 100px;" class="easyui-datebox" required="required" data-options="formatter:icsdateformat,parser:icsdateparser" />
                                </td>
                            </tr>
                            <tr>
                                <td style=" width:25%;text-align:right;">
                                    <label>PI Issue Date </label>
                                </td>
                                <td colspan="3" style=" width:75%;text-align:left;">
                                    <select id="cboPIDate" style="width:30%;" onchange="DateActions_PIDate();"></select>
                                    <input id="txtFromPIDate" type="text" style="width: 100px;" class="easyui-datebox" required="required" data-options="formatter:icsdateformat,parser:icsdateparser" />To
                                    <input id="txtToPIDate" type="text" style="width: 100px;" class="easyui-datebox" required="required" data-options="formatter:icsdateformat,parser:icsdateparser" />
                                </td>
                            </tr>
                            <tr>
                                <td style=" width:25%;text-align:right;">
                                    <label>Buyer Name :</label>
                                </td>
                                <td colspan="3" style=" width:75%;text-align:left;">
                                    <input id="txtContractorAdvS" style="width:75%;" type="text" placeholder="Type & Press Enter" />
                                    <a id="btnPickContractorAdvS" href="javascript:void(0)" class="easyui-linkbutton ics-pick" iconcls="icon-pick" plain="true"></a>
                                    <a id="btnClrContractorAdvS" href="javascript:void(0)" class="easyui-linkbutton ics-pick" iconcls="icon-clear" plain="true"></a>
                                </td>
                            </tr>
                            <tr>
                                <td style=" width:25%;text-align:right;">
                                    <label>Product Name :</label>
                                </td>
                                <td colspan="3" style=" width:75%;text-align:left;">
                                    <input id="txtProductName" style="width:75%;" type="text" placeholder="Type & Press Enter" />
                                    <a id="btnProductPiker" href="javascript:void(0)" class="easyui-linkbutton ics-pick" iconcls="icon-pick" plain="true"></a>
                                    <a id="btnClrProductPiker" href="javascript:void(0)" class="easyui-linkbutton ics-pick" iconcls="icon-clear" plain="true"></a>
                                </td>
                            </tr>
                            <tr>
                                <td style=" width:25%;text-align:right;">
                                    <label>Order Type: </label>
                                </td>
                                <td style=" width:25%;text-align:left;">
                                    <select id="cboOrderType" style="width: 100%;"></select>
                                </td>
                                <td style=" width:25%;text-align:right;"></td>
                                <td style=" width:25%;text-align:left;"></td>
                            </tr>
                            <tr>
                                <td style=" width:25%;text-align:right;">
                                    <label>BPO No: </label>
                                </td>
                                <td style=" width:25%;text-align:left;">
                                    <input id="txtOrderNo" type="text" style="width:100%" />
                                </td>
                                <td style=" width:25%;text-align:right;">
                                    <label>P/I No: </label>
                                </td>
                                <td style=" width:25%;text-align:left;">
                                    <input id="txtPINo" type="text" style="width:100%" />
                                </td>
                            </tr>
                            <tr>
                                <td style=" width:25%;text-align:right;">
                                    <label>Status: </label>
                                </td>
                                <td colspan="3" style=" width:75%;text-align:left;">
                                    <select style="width: 100%;" id="cboProStatus">
                                        <option value="0">-Select One-</option>
                                        <option value="1">Order in WIP</option>
                                        <option value="2">Order in Stock</option>
                                        <option value="3">Claim Aganist Order</option>
                                        <option value="4">Pending Delivery</option>
                                       
                                    </select>
                                </td>
                                
                            </tr>

                        </table>
                    </fieldset>

                </td>
            </tr>
        </table>

        <fieldset>
            <legend>Actions : </legend>
            <table border="0" cellspacing="2" cellpadding="2" style="width:100%;font-size:11px; font-weight:bold;">
                <tr>
                    <td style="width:60%;text-align:left">
                        <a id="btnAdvSearchReset" href="javascript:void(0)" class="easyui-linkbutton" iconcls="icon-reload" plain="true"> Reset</a>
                        <label class="lblLoadingMessage" style="float: left;">Loading Please Wait...</label>
                    </td>
                    <td style="width:40%; text-align: right">
                        <a id="btnSearch" href="javascript:void(0)" class="easyui-linkbutton" iconcls="icon-search" plain="true">Search</a>
                        <a id="btnAdvSearchClose" href="javascript:void(0)" class="easyui-linkbutton" iconcls="icon-cancel" plain="true">Close</a>
                    </td>
                </tr>
            </table>
        </fieldset>
    </div>
    <div id="winDyeingOrderDetail" class=" easyui-window winclass" title="Production Order List" data-options="modal:true,closed:true,collapsible:false,minimizable:false,maximizable:false,closable:false">
        <table style="width: 99%;" cellspacing="2" cellpadding="2">
            <tr>
                <td style="width:10%; text-align:right">
                    <label>
                        Yarn
                    </label>
                </td>
                <td colspan="3" style="width:40%; text-align:left">
                    <input type="text" id="txtProductNamePTU" style="width:100%;" readonly="readonly" />
                </td>
                <td style="width:10%; text-align:right">
                    <label>
                        Color
                    </label>
                </td>
                <td style="width:15%; text-align:left">
                    <input type="text" id="txtColorPTU" style="width:100%;" readonly="readonly" />
                </td>
                <td style="width:10%; text-align:right">
                    <label>
                        Color No
                    </label>
                </td>
                <td style="width:15%; text-align:left">
                    <input type="text" id="txtColorNoPTU" style="width:100%;" readonly="readonly" />
                </td>


            </tr>
            <tr>
                <td style="width:10%; text-align:right">
                    <label>
                        Order Qty
                    </label><span class="lblMUnit"></span>
                </td>
                <td style="width:15%; text-align:left">
                    <input type="text" id="txtOrderQty" style="width:100%;" readonly="readonly" />
                </td>

                <td style="width:10%; text-align:right">
                    <label>
                        Pending Pro.
                    </label><span class="lblMUnit"></span>
                </td>
                <td style="width:15%; text-align:left">
                    <input type="text" id="txtYetToPro" style="width:100%;" readonly="readonly" />
                </td>
                <td style="width:10%; text-align:right">
                    <label>
                        Pro. PipeLine
                    </label><span class="lblMUnit"></span>
                </td>
                <td style="width:15%; text-align:left">
                    <input type="text" id="txtProPP" style="width:100%;" readonly="readonly" />
                </td>
                <td style="width:10%; text-align:right">
                    Delivery
                </td>
                <td style="width:15%; text-align:left">
                    <input type="text" id="txtDeliveryQty" style="width:100%;" readonly="readonly" />
                </td>

            </tr>
        </table>
          <div id="tabPTU" class="easyui-tabs" style="width:100%">
            <div title="Production Order" style="padding:2px">
                <div style="width:100%">
                    <fieldset>
                        <table style="width:100%;height:300px;" id="tblPODetails" class="easyui-datagrid" toolbar="#toolbarPO">
                            <thead>
                                <tr>
                                    <th field="OrderNo" width="12%">PO No</th>
                                    <th field="OrderDate" width="10%">LDate</th>
                                    <th field="LabdipNo" width="15%">Labdip No</th>
                                    <th field="ColorNo" width="12%">Color No</th>
                                    <th field="ColorName" width="20%">Color</th>
                                    <th field="Qty" formatter="formatPrice" width="10%" align="right">PO Qty</th>
                                    <th field="ShadeSt" width="5%">ColorInfo</th>
                                    <th field="PantonNo" width="12%">PantonNo</th>

                                </tr>
                            </thead>
                        </table>
                    </fieldset>
                    <div id="toolbarPO">
                        <table>
                            <tr>
                                <td>
                                    <a id="btnPOLoad" href="javascript:void(0)" class="easyui-linkbutton" iconcls="icon-reload" plain="true"></a>
                                </td>

                            </tr>
                        </table>
                    </div>

                </div>
            </div>
            <div title="Dyeing Card " style="padding:2px">
                  <div style="width:100%">
                      <fieldset>
                          <table style="width:100%;height:300px;" id="tblRSs" class="easyui-datagrid" toolbar="#toolbarRS">
                              <thead>
                                  <tr>
                                      <th field="RouteSheetNo" width="20%">Dye Line No</th>
                                      <th field="Qty" formatter="formatPrice" width="10%" align="right">Balance</th>
                                      <th field="LotNo" width="10%">Lot No</th>
                                      <th field="RouteSheetNo" width="20%">Dye Line No</th>
                                      <th field="RSStateStr" width="10%">Status</th>
                                  </tr>
                              </thead>
                          </table>
                      </fieldset>
                      <div id="toolbarRS">
                          <table>
                              <tr>
                                  <td>
                                      <a id="btnLoad_RS" href="javascript:void(0)" class="easyui-linkbutton" iconcls="icon-reload" plain="true"></a>
                                  </td>

                              </tr>
                          </table>
                      </div>

                  </div>
              </div>
            <div title="Stock in Hank(Dyed Lot)" style="padding:2px">
                  <div style="width:100%">
                      <fieldset>
                          <table style="width:100%;height:300px;" id="tblLots" class="easyui-datagrid" toolbar="#toolbarLot">
                              <thead>
                                  <tr>
                                      <th field="LotNo" width="20%">Lot No</th>
                                      <th field="LogNo" width="10%">Log No</th>
                                      <th field="Balance" formatter="formatPrice" width="10%" align="right">Balance</th>
                                      <th field="MUName" width="10%">Unit</th>
                                     
                                  </tr>
                              </thead>
                          </table>
                      </fieldset>
                      <div id="toolbarLot">
                          <table>
                              <tr>
                                  <td>
                                      <a id="btnLoad_Lot" href="javascript:void(0)" class="easyui-linkbutton" iconcls="icon-reload" plain="true"></a>
                                  </td>

                              </tr>
                          </table>
                      </div>

                  </div>
              </div>
            </div>
        <div style="width:100%;">
            <fieldset>
                <legend style="font-weight: bold">Action : </legend>
                <table border="0" cellspacing="2" cellpadding="2" style="font-size: 11px; font-weight: bold; width:100%">
                    <tr>
                        <td style="width:85%; text-align:right"></td>
                        <td style="width: 15%; text-align:right">
                            <a id="btnClose_Detail" href="javascript:void(0)" class="easyui-linkbutton" iconcls="icon-cancel" plain="true">Close</a>
                        </td>
                    </tr>
                </table>
            </fieldset>
        </div>
    </div>
</body>

<script type="text/javascript">
    var _oDUOrderTracker = null;
    var _oDUOrderTrackers = [];
    var _sBaseAddress = "";
    var _oAuthorizationRolesMapping = [];
    var _sContractorIds="";
    var _sMenuID=0;
    var _sProductIDs="";
    var _nReportLevel=0;
    $(document).ready(function() {
        debugger;

        _sBaseAddress = @Html.Raw(new System.Web.Script.Serialization.JavaScriptSerializer().Serialize(HttpContext.Current.Session[SessionInfo.BaseAddress]));
        _sMenuID =@Html.Raw( new System.Web.Script.Serialization.JavaScriptSerializer().Serialize(HttpContext.Current.Session[SessionInfo.MenuID]));
        _oDUOrderTrackers = @Html.Raw(new System.Web.Script.Serialization.JavaScriptSerializer().Serialize(Model));
        _oCompareOperators = @Html.Raw(new System.Web.Script.Serialization.JavaScriptSerializer().Serialize(ViewBag.CompareOperators));
        _nBUID = @Html.Raw(new System.Web.Script.Serialization.JavaScriptSerializer().Serialize(ViewBag.BUID));
        @*_oMktPersons = @Html.Raw(new System.Web.Script.Serialization.JavaScriptSerializer().Serialize(ViewBag.MktPersons));*@
        _oBU = @Html.Raw(new System.Web.Script.Serialization.JavaScriptSerializer().Serialize(ViewBag.BU));
        _oOrderTypes = @Html.Raw(new System.Web.Script.Serialization.JavaScriptSerializer().Serialize(ViewBag.OrderTypes));
      
       

        _nReportLevel =sessionStorage.getItem("ReportLevel");

        var oDUOrderTrackers =sessionStorage.getItem("DUOrderTrackers");
        if(oDUOrderTrackers!=null)
        {
            oDUOrderTrackers = jQuery.parseJSON(oDUOrderTrackers);
        }
        else
        {
            oDUOrderTrackers=_oDUOrderTrackers;
        }
        RefreshList(oDUOrderTrackers);


        $("#progbar").progressbar({ value: 0 });
        $("#progbarParent").hide();
        //alert("Pick");
        RefreshSearchComboBoxControls();
    });
    
    function updateProgress() {
        var value =$('#progressbar').progressbar('getValue');
        if (value < 96){
            value += Math.floor(Math.random() * 10);
            $('#progressbar').progressbar('setValue', value);
        }
    }
    function hideShow(miliseconds) {
        $("#progressbarParent").hide();
    }
   
    
    $('#btnSearch').click(function(e){
        debugger;
        $(".lblLoadingMessage").show();
        var checkDate = CheckFromAndToDateValidation("cboDODate", "txtFromDODate", "txtToDODate");
        if (!checkDate) {
            alert("Start date must be greater than end date.");
            return false;
        }

        var checkDate = CheckFromAndToDateValidation("cboPIDate", "txtFromPIDate", "txtToPIDate");
        if (!checkDate) {
            alert("Start date must be greater than end date.");
            return false;
        }

        var ncboDODate = parseInt($('#cboDODate').val());
        var dFromDODate   = $('#txtFromDODate').datebox('getValue');
        var dToDODate   = $('#txtToDODate').datebox('getValue');

        var cboPIDate = parseInt($('#cboPIDate').val());
        var dFromPIDate   = $('#txtFromPIDate').datebox('getValue');
        var dToPIDate   = $('#txtToPIDate').datebox('getValue');
        var nOrderType=parseInt($("#cboOrderType").val());

        var sPINo=$("#txtPINo").val();
        var sOrderNo=$("#txtOrderNo").val();

        var sParams =    ncboDODate + "~" +
                         dFromDODate + "~" +
                         dToDODate + "~" +
                         cboPIDate + "~" +
                         dFromPIDate + "~" +
                         dToPIDate + "~" +
                         _sContractorIds + "~" +
                         _sProductIDs + "~" +
                         nOrderType+ "~" +
                         sPINo+ "~" +
                         sOrderNo+ "~" +
                          parseInt($("#cboProStatus").val())+ "~" +
                         _nBUID;

        var oExportLCReport = {
            Params : sParams,
            BUID : parseInt(sessionStorage.getItem("BUID")),
            ReportLevelType : _nReportLevel
        };
        sessionStorage.setItem("Params", sParams);
        $.ajax({
            type: "POST",
            dataType: "JSON",
            url: sessionStorage.getItem("BaseAddress")+  "/DUOrderTracker/AdvanchSearch",
            data:  JSON.stringify(oExportLCReport),
            contentType: "application/json; charset=utf-8",
            success: function (data) {
                var  oDUOrderTrackers = data;
                if (oDUOrderTrackers != null) {
                    if(oDUOrderTrackers.length>0)
                    {
                        RefreshList(oDUOrderTrackers)
                        RefreshSummary(_nReportLevel);
                        $("#winAdvSearchOrderTracker").icsWindow('close');
                    }
                    else
                    {
                        alert("Data not found!!");
                    }
                }
                $(".lblLoadingMessage").hide();
            },
            error: function (xhr, status, error) {
                alert(error);
            }
        });
    });

    function RefreshList(oDUOrderTrackers)
    {
        var nIndex= parseInt(sessionStorage.getItem("SelectedRowIndex"));
      
        if(_nReportLevel==0)
        {
            DynamicRefreshList(oDUOrderTrackers, "tblColorView");
            $('#tblColorView').datagrid('selectRow',nIndex);
        }
        else if(_nReportLevel==1)
        {
            DynamicRefreshList(oDUOrderTrackers, "tblOrderView");
            $('#tblOrderView').datagrid('selectRow',nIndex);
        }
        else if(_nReportLevel==2)
        {
            DynamicRefreshList(oDUOrderTrackers, "tblPIView");
            $('#tblPIView').datagrid('selectRow',nIndex);
        }
        else if(_nReportLevel==3)
        {
            DynamicRefreshList(oDUOrderTrackers, "tblProductView");
            $('#tblProductView').datagrid('selectRow',nIndex);
        }
    }
    function RefreshSummary(nReportLevel)
    {
        if(nReportLevel==0)
        {
            var oRows = $('#tblColorView').datagrid('getRows');
        }
        else  if(nReportLevel==1)
        {
            var oRows = $('#tblOrderView').datagrid('getRows');
        }
        else  if(nReportLevel==2)
        {
            var oRows = $('#tblPIView').datagrid('getRows');
        }
        else  if(nReportLevel==3)
        {
            var oRows = $('#tblProductView').datagrid('getRows');
        }
        if(oRows.length>0)
        {
            var nQty_PI = 0,nOrderQty=0,nQty_ProIssue=0,nPro_PipeLineQty=0,nProductionFinishedQty=0,nYetToProduction=0,nYetToDelivery=0,nActualDeliveryQty=0,nReturnQty=0,nClaimOrderQty=0,nStockInHand=0,nStockInAval=0;
            for(var i=0;i<oRows.length;i++)
            {
                nQty_PI = parseFloat(nQty_PI)+parseFloat(oRows[i].Qty_PI);
                nOrderQty = parseFloat(nOrderQty)+parseFloat(oRows[i].OrderQty);
                nQty_ProIssue = parseFloat(nQty_ProIssue)+parseFloat(oRows[i].Qty_ProIssue);
                nPro_PipeLineQty = parseFloat(nPro_PipeLineQty)+parseFloat(oRows[i].Pro_PipeLineQty);
                nProductionFinishedQty = parseFloat(nProductionFinishedQty)+parseFloat(oRows[i].ProductionFinishedQty);
                nYetToProduction = parseFloat(nYetToProduction)+parseFloat(oRows[i].YetToProduction);
                nYetToDelivery = parseFloat(nYetToDelivery)+parseFloat(oRows[i].YetToDelivery);
                nActualDeliveryQty = parseFloat(nActualDeliveryQty)+parseFloat(oRows[i].ActualDeliveryQty);
                nReturnQty = parseFloat(nReturnQty)+parseFloat(oRows[i].ReturnQty);
                nClaimOrderQty = parseFloat(nClaimOrderQty)+parseFloat(oRows[i].ClaimOrderQty);
                nStockInHand = parseFloat(nStockInHand)+parseFloat(oRows[i].StockInHand);
                nStockInAval = parseFloat(nStockInAval)+parseFloat(oRows[i].StockInAval);
            }
             
            nQty_PI = parseFloat(nQty_PI).toFixed(2);
            nOrderQty = parseFloat(nOrderQty).toFixed(2);
            nQty_ProIssue = parseFloat(nQty_ProIssue).toFixed(2);
            nPro_PipeLineQty = parseFloat(nPro_PipeLineQty).toFixed(2);
            nProductionFinishedQty = parseFloat(nProductionFinishedQty).toFixed(2);
            nYetToProduction = parseFloat(nYetToProduction).toFixed(2);
            nYetToDelivery = parseFloat(nYetToDelivery).toFixed(2);
            nActualDeliveryQty = parseFloat(nActualDeliveryQty).toFixed(2);
            nReturnQty = parseFloat(nReturnQty).toFixed(2);
            nClaimOrderQty = parseFloat(nClaimOrderQty).toFixed(2);
            nStockInHand = parseFloat(nStockInHand).toFixed(2);
            nStockInAval = parseFloat(nStockInAval).toFixed(2);

            debugger
            var oRow =
            {
                ProductName : 'Total',
                Qty_PI:nQty_PI,
                OrderQty:nOrderQty,
                Qty_ProIssue:nQty_ProIssue,
                Pro_PipeLineQty:nPro_PipeLineQty,
                ProductionFinishedQty:nProductionFinishedQty,
                YetToProduction:nYetToProduction,
                ActualDeliveryQty:nActualDeliveryQty,
                YetToDelivery:nYetToDelivery,
                ReturnQty:nReturnQty,
                ClaimOrderQty:nClaimOrderQty,
                StockInHand:nStockInHand,
                StockInAval:nStockInAval
            }
            if(nReportLevel==0)
            {
                $('#tblColorView').datagrid('appendRow',oRow); 
            }
            else  if(nReportLevel==1)
            {
                $('#tblOrderView').datagrid('appendRow',oRow); 
            }
            else  if(nReportLevel==2)
            {
                $('#tblPIView').datagrid('appendRow',oRow); 
            }
            else  if(nReportLevel==3)
            {
                $('#tblProductView').datagrid('appendRow',oRow); 
            }
        } 
    }


    $("#btnAdvanceSearch_ColorView").click(function () {
        $(".lblLoadingMessage").hide();
        $("#winAdvSearchOrderTracker").icsWindow("open", "Advance Search");
        _nReportLevel=0;
    });
    $("#btnAdvanceSearch_OrderView").click(function () {
        $(".lblLoadingMessage").hide();
        $("#winAdvSearchOrderTracker").icsWindow("open", "Advance Search");
        _nReportLevel=1;
    });
    $("#btnAdvanceSearchLC_PIView").click(function () {
        $(".lblLoadingMessage").hide();
        $("#winAdvSearchOrderTracker").icsWindow("open", "Advance Search");
        _nReportLevel=2;
    });
    $("#btnAdvanceSearch_ProductView").click(function () {
        $(".lblLoadingMessage").hide();
        $("#winAdvSearchOrderTracker").icsWindow("open", "Advance Search");
        _nReportLevel=3;
    });

  

    $('#btnAdvSearchReset').click(function(e){
        $("#winAdvSearchOrderTracker input").not("input[type='button']").val("");
        RefreshSearchComboBoxControls();
        _sContractorIds ="";
        _sProductIDs="";
        $('#txtFromDODate').datebox({ disabled : true });
        $('#txtToDODate').datebox({ disabled : true });
        $('#txtFromDODate').datebox('setValue', icsdateformat(new Date()));
        $('#txtToDODate').datebox('setValue', icsdateformat(new Date()));

        $('#txtFromPIDate').datebox({ disabled : true });
        $('#txtToPIDate').datebox({ disabled : true });
        $('#txtFromPIDate').datebox('setValue', icsdateformat(new Date()));
        $('#txtToPIDate').datebox('setValue', icsdateformat(new Date()));
      
        $('#cboDODate').val(0);
        $('#cboPIDate').val(0);
        $('#cboOrderType').val(0);
        
    });

    $('#btnAdvSearchClose').click(function(e){
        $("#winAdvSearchOrderTracker").icsWindow('close');
    });

    function RefreshSearchComboBoxControls()
    {
        $("#cboDODate, #cboPIDate").icsLoadCombo({
            List: _oCompareOperators,
            OptionValue: "id",
            DisplayText: "Value"
        });

        $("#cboOrderType").icsLoadCombo({
            List: _oOrderTypes,
            OptionValue: "OrderType",
            DisplayText: "ShortName"
        });

    }

    function CheckFromAndToDateValidation(OperationComboId, FromDateId, ToDateId) {
        $("#" + OperationComboId).parent().parent().parent().find("select").removeClass("errorFieldBorder");
        var nCboVal = $("#" + OperationComboId).val();
        if (parseInt(nCboVal) == 5 || parseInt(nCboVal) == 6) {
            var fromDate = $("#" + FromDateId).datebox("getValue");
            var toDate = $("#" + ToDateId).datebox("getValue");
            if (new Date(fromDate) > new Date(toDate)) {
                $("#" + ToDateId).focus();
                $("#" + OperationComboId).addClass("errorFieldBorder");
                $(".lblLoadingMessage").hide();
                return false;
            } else {
                $("#" + OperationComboId).removeClass("errorFieldBorder");
                return true;
            }
        } else {
            return true;
        }
    }


    function DateActions_DO() {
        DynamicDateActions("cboDODate", "txtFromDODate", "txtToDODate");
    }
    function DateActions_PIDate() {
        DynamicDateActions("cboPIDate", "txtFromPIDate", "txtToPIDate");
    }
    
    //Account Of Picker

    $("#txtContractorAdvS").keydown(function (e) {
        if (e.keyCode === 13) // Enter Press
        {
            PickContractors_AdvS();
        }
        else if (e.keyCode === 08) {
            $("#txtContractorAdvS").removeClass("fontColorOfPickItem");
            _sContractorIds = '';
        }
    });

    $("#btnClrContractorAdvS").click(function () {
        $("#txtContractorAdvS").removeClass("fontColorOfPickItem");
        $("#txtContractorAdvS").val("");
        _sContractorIds = '';
    });

    $("#btnPickContractorAdvS").click(function () {
        PickContractors_AdvS();
    });
    function PickContractors_AdvS() {
        var oContractor = {
            Params: '2,3' + '~' + $.trim($("#txtContractorAdvS").val()+"~"+_nBUID)
        };
        var obj = {
            BaseAddress: _sBaseAddress,
            Object: oContractor,
            ControllerName: "Contractor",
            ActionName: "ContractorSearchByNameType",
            IsWinClose: false
        };

        $("#progressbar").progressbar({ value: 0 });
        $("#progressbarParent").show();
        var intervalID = setInterval(updateProgress, 250);

        DynamicRefreshList([], "tblAccountsPickerAdvSearch");
        $.icsDataGets(obj, function (response) {
            clearInterval(intervalID);
            $("#progressbarParent").hide();
            if (response.status && response.objs.length > 0) {
                if (response.objs[0].ContractorID > 0) {
                    var tblColums = []; var oColumn = { field: "ContractorID", title: "Code", width: 50, align: "left" }; tblColums.push(oColumn);
                    oColumn = { field: "Name", title: "Name", width: 280, align: "left" }; tblColums.push(oColumn);

                    var oPickerParam = {
                        winid: 'winContractorPicker',
                        winclass: 'clsAccountOf',
                        winwidth: 400,
                        winheight: 460,
                        tableid: 'tblAccountOfs',
                        tablecolumns: tblColums,
                        datalist: response.objs,
                        multiplereturn: true,
                        searchingbyfieldName: 'Name',
                        windowTittle: 'Contactor List'
                    };
                    $.icsPicker(oPickerParam);
                    IntializePickerbutton(oPickerParam);
                }
                else {
                    alert(response.objs[0].ErrorMessage);
                }
            }
            else {
                alert("Sorry, No Contactor Found.");
            }
        });
    }
    //End Account Of Picker
 
    
    //Start Product
    //Product Pick
    $("#txtProductName").keydown(function (e) {
        debugger;
        var code = (e.keyCode ? e.keyCode : e.which);
        if (code == 13) // Enter Press
        {
            if($('#txtProductName').val()==null || $('#txtProductName').val()=="")
            {
                alert("Please Type Product and Press Enter.");
                $('#txtProductName').focus();
                return;
            }
            PickProduct($('#txtProductName').val());
        }
        if (code == 8) //backspace=8
        {
            //debugger;
            $("#txtProductName").removeClass("fontColorOfPickItem");
            _sProductIds= [];
        }
    });
    $("#btnProductPiker").click(function () {
        PickProduct("");
    });
    $("#btnClrProductPiker").click(function () {
        $("#txtProductName").val('');
        $("#txtProductName").removeClass("fontColorOfPickItem");
        _sProductIds= [];
    });
    function PickProduct(sProductName)
    {
        var oProduct = { BUID:sessionStorage.getItem("BUID"),ProductName:sProductName};
        var obj = {
            BaseAddress: _sBaseAddress,
            Object: oProduct,
            ControllerName: "Product",
            ActionName: "SearchByProductBUWise",
            IsWinClose: false
        };
        $.icsDataGets(obj, function (response) {
            debugger;
            if (response.status && response.objs.length > 0) {
                if (response.objs[0].ProductID > 0) {
                    var tblColums = [];
                    var oColumn = { field: "ProductCode", title: "Code", width: 100, align: "left" }; tblColums.push(oColumn);
                    oColumn = { field: "ProductName", title: "Name", width: 300, align: "left" }; tblColums.push(oColumn);
                    oColumn = { field: "MUnit", title: "Unit", width: 70, align: "left" }; tblColums.push(oColumn);
                    var oPickerParam = {
                        winid: 'winProductPicker',
                        winclass: 'clsProductPicker',
                        winwidth: 600,
                        winheight: 460,
                        tableid: 'tblProductPicker',
                        tablecolumns: tblColums,
                        datalist: response.objs,
                        multiplereturn: true,
                        searchingbyfieldName: 'NameCode',
                        windowTittle: 'Product List'
                    };
                    $.icsPicker(oPickerParam);
                    IntializePickerbutton(oPickerParam);
                }
                else {
                    alert(response.objs[0].ErrorMessage);
                }

            }else{
                alert("Data Not Found.");
            }
        });
    }

   
    function IntializePickerbutton(oPickerobj) {
        $("#" + oPickerobj.winid).find("#btnOk").click(function () {
            SetPickerValueAssign(oPickerobj);
        });
        $(document).find('.' + oPickerobj.winclass).keydown(function (e) {
            if (e.which === 13) {
                SetPickerValueAssign(oPickerobj);
            }
        });
    }

    function SetPickerValueAssign(oPickerobj) {
        var oreturnObj = null, oreturnObjs = [];
        if (oPickerobj.multiplereturn) {
            oreturnObjs = $('#' + oPickerobj.tableid).datagrid('getChecked');
        } else {
            oreturnObj = $('#' + oPickerobj.tableid).datagrid('getSelected');
        }

        if (oPickerobj.winid == 'winContractorPicker')
        {
            if (oreturnObjs != null && oreturnObjs.length> 0)
            {

                _sContractorIds=''; var sMessage='';
                sMessage=(oreturnObjs.length>1)? oreturnObjs.length +" Contractors Selected" : oreturnObjs[0].Name;
                $('#txtContractorAdvS').val(sMessage);
                $("#txtContractorAdvS").addClass("fontColorOfPickItem");

                for(var i=0;i<oreturnObjs.length;i++){
                    _sContractorIds=_sContractorIds+oreturnObjs[i].ContractorID+',';
                }
                _sContractorIds=_sContractorIds.substring(0,_sContractorIds.length-1);

            }
            else
            {
                alert("Please select a contractor.");
                return false;
            }
        }

        else if (oPickerobj.winid == 'winProductPicker')
        {
            if (oreturnObjs!= null && oreturnObjs.length> 0)
            {
                _sProductIds=''; var sMessage='';
                sMessage=(oreturnObjs.length>1)? oreturnObjs.length +" ProductName Selected" : oreturnObjs[0].ProductName;
                $('#txtProductName').val(sMessage);
                $("#txtProductName").addClass("fontColorOfPickItem");

                for(var i=0;i<oreturnObjs.length;i++){
                    _sProductIds=_sProductIds+oreturnObjs[i].ProductID+',';
                }
                _sProductIds=_sProductIds.substring(0,_sProductIds.length-1);

            }
            else
            {
                alert("Please select a Product.");
                return false;
            }

        }
        
        $("#" + oPickerobj.winid).icsWindow("close");
        $("#" + oPickerobj.winid).remove();
    }


  



    
    $("#btnViewRS").click(function()
    {
        var oDUOrderTracker= $('#tblColorView').datagrid('getSelected');
        if(oDUOrderTracker==null || oDUOrderTracker.DyeingOrderDetailID<=0)
        {
            alert("Please select a item from list!");
            return;
        }
        var tsv=((new Date()).getTime())/1000;
        var SelectedRowIndex=$('#tblColorView').datagrid('getRowIndex',oDUOrderTracker);
        var oDUOrderTrackers= $('#tblColorView').datagrid('getRows');
        sessionStorage.setItem("DUOrderTrackers", JSON.stringify(oDUOrderTrackers));
        sessionStorage.setItem("DUOrderTracker", JSON.stringify(oDUOrderTracker));
        sessionStorage.setItem("SelectedRowIndex", SelectedRowIndex);
        sessionStorage.setItem("ReportLevel", _nReportLevel);
        sessionStorage.setItem("Header", "View Dyeing Lot");
        sessionStorage.setItem('Action','View')
        sessionStorage.setItem("BackLink", window.location.href);
        window.location.href = _sBaseAddress+  "/DUOrderTracker/ViewDUOrderRS?id="+oDUOrderTracker.DyeingOrderDetailID+"&buid=0";
    });
  
    $("#btnExcel_ColorView,#btnExcel_OrderView,#btnExcel_ProductView,#btnExcel_PIView").click(function () 
    {
        _nReportLevel
        var sParams=sessionStorage.getItem("Params");
        window.open(_sBaseAddress + '/DUOrderTracker/PrintRpt_Excel_Bulk?sTempString=' + sParams+"&nReportLevel="+_nReportLevel+"&bIsSample=false", "_blank");
    });

    $('#btnPreviewDeliveryDetail').click(function(){
        debugger;
        var oColorView = $('#tblColorView').datagrid('getSelected');
        $.ajax({
            type: "POST",
            dataType: "json",
            url : _sBaseAddress+ "/DUOrderTracker/SetSessionSearchCriterias",
            traditional: true,
            data:  JSON.stringify(oColorView),
            contentType: "application/json; charset=utf-8",
            success: function (data) {
                var sFeedBackMessage = jQuery.parseJSON(data);
                if (sFeedBackMessage==="Successful") {
                    window.open(_sBaseAddress+'/DUOrderTracker/DeliveryDetailPreview?id='+oColorView.DyeingOrderDetailID);
                }
            },
            error: function (xhr, status, error) {
                alert(error);
            }
        });
    });
</script>