<html>
<head>
    <title>Labdip Order</title>
</head>
<body>

    @model ESimSol.BusinessObjects.LabDip
    <div style="width:100%;" class="menuMainCollectionTable">

        <fieldset>
            <legend style="font-weight:bold"> LabDip Info: </legend>
            <table style="width:100%">
                <tr>
                    <td class="td-col-2 align-right">
                        <label id="lblLabdipOrderNo">LabDip No</label>
                    </td>
                    <td class="td-styler td-col-2">
                        <input id="txtLabdipNo" class="reset-text" disabled />
                    </td>
                    <td class="td-col-1 align-right">
                        <label>Date</label>
                    </td>
                    <td class="td-styler td-col-2">
                        <input id="dtOrderDate" type="date" class="easyui-datebox" style="width: 105px;" data-options="formatter:icsdateformat,parser:icsdateparser" />
                    </td>
                    <td class="td-col-2 align-right">
                        <label>Format</label>
                    </td>
                    <td class="td-styler td-col-3">
                        <select id="cboFormat"></select>
                    </td>
                    <td class="td-col-2 align-right">
                        <label>Mkt Person</label>
                    </td>
                    <td class="td-styler td-col-6">
                        <input id="txtMktPerson" class="reset-text" placeholder="Search Mkt Person" />
                    </td>
                </tr>

                <tr>
                    <td class="td-col-2 align-right">
                        <label>Issue To</label>
                    </td>
                    <td colspan="5" class="td-styler td-col-14">
                        <input id="txtIssueTo" class="reset-text" placeholder="Search Issue To" />
                    </td>
                    <td class="td-styler td-col-2 align-right">
                        <label> Person</label>
                    </td>
                    <td class="td-styler td-col-3">
                        <select id="cboCPIssueTo"></select>
                    </td>
                </tr>

                <tr>
                    <td class="td-col-2 align-right">
                        <label>Deliver To</label>
                    </td>
                    <td colspan="5" class="td-styler td-col-14">
                        <input id="txtDeliverTo" class="reset-text" placeholder="Search Delivery To" />
                    </td>
                    <td class="td-col-1 align-right">
                        <label> Person</label>
                    </td>
                    <td class="td-styler td-col-3">
                        <select id="cboCPDeliverTo"></select>
                    </td>
                </tr>



                <tr class="hp-ph">
                    <td class="td-col-2 align-right">
                        <label>Light Source</label>
                    </td>
                    <td colspan="2" class="td-styler td-col-3">

                        <select id="cboLightSource"></select>
                    </td>

                    <td class="td-col-2 align-right">
                        <label>Buyer Ref </label>
                    </td>
                    <td colspan="2" class="td-styler td-col-8">

                        <input id="txtBuyerRef" class="reset-text" placeholder="Type Buyer Reference" />
                    </td>
                    <td class="td-col-2 align-right">
                        <label>Ref Two</label>
                    </td>
                    <td class="td-styler td-col-3">
                        <input id="txtPH" class="reset-text" placeholder="Type Ref Two" />
                    </td>
                </tr>
                <tr class="send-to">
                    <td class="td-col-2 align-right">
                        <label>Note</label>
                    </td>
                    <td colspan="5" class="td-styler td-col-14">
                        <input id="txtNote" class="reset-text" />
                    </td>
                    <td class="td-col-1 align-right">
                        <label>Seeking Date</label>
                    </td>
                    <td class="td-styler td-col-3">
                        <div style="float:left; width:100%">
                            <div style="float:left; width:37%">
                                <input id="dtSeekingDate" type="date" class="easyui-datebox" style="width: 110px;" data-options="formatter:icsdateformat,parser:icsdateparser" />
                            </div>
                            <div style="float:left; width:20%; text-align:right; padding-right:5px;">Priority</div>
                            <div style="float:left; width:38%"><select id="cboPriorityLevel"></select></div>
                        </div>
                    </td>
                </tr>


            </table>

        </fieldset>
        <div style="width:85%;">
            <fieldset id="labDipDetail" style="width:100%;">
                <legend>LabDip Detail Info</legend>
                <table id="tblLabDipDetail" class="easyui-datagrid" style="height: 288px; width:100%;" fitcolumns="false" rownumbers="true" pagination="false" singleselect="true" autorowheight="false" toolbar="#toolbar">
                    <thead>
                        <tr>
                            <th data-options="field:'Selected',checkbox:true"> </th>
                            <th field="ColorCode" width="6%" align="center">Code</th>
                            <th field="ColorNo" width="10%" align="center"><label id="lblColorNoName">Color No</label>(Lab)</th>
                            <th field="LDNo" width="10%" align="center"><label id="lblColorNoName">Color No</label>(Mkt)</th>
                            <th field="ColorName" width="12%" align="center">Color Name</th>
                            <th field="ProductNameCode" width="15%" align="left">Product Name</th>
                            <th field="PantonNo" width="8%" align="center">Panton No</th>
                            <th field="LotNo" width="10%" align="center">Lot No</th>
                            <th field="RefNo" width="8%" align="center">Reference No</th>
                            <th field="ColorSet" width="5%" align="center">Color Set</th>
                            <th field="ShadeCount" width="5%" align="center">Shade Count</th>
                            <th field="KnitPlyYarnInString" width="8%" align="center">Knit Ply</th>
                        </tr>
                    </thead>
                </table>

                <div id="toolbar">
                    <a id="btnIssueColor" href="javascript:void(0)" class="easyui-linkbutton" iconcls="icon-ok" plain="true">Issue Color</a>
                    <a id="btnMultipleColor" href="javascript:void(0)" class="easyui-linkbutton" iconcls="icon-ok" plain="true">Multiple Color</a>
                    <a id="btnAssignPerson" href="javascript:void(0)" class="easyui-linkbutton" iconcls="icon-add" plain="true">Assign Person</a>
                    <a id="btnSahdeReceipe" href="javascript:void(0)" class="easyui-linkbutton" iconcls="icon-add" plain="true">Receipe</a>
                    <a id="btnViewSahdeReceipe" href="javascript:void(0)" class="easyui-linkbutton" iconcls="icon-details" plain="true">Receipe</a>
                    <a id="btnColorNo" href="javascript:void(0)" class="easyui-linkbutton" iconcls="icon-add" plain="true">Change Color No</a>
                </div>
            </fieldset>
        </div>


        <fieldset>
            <legend>Action</legend>
            <div class="align-right">
                <a id="btnClose" href="javascript:void(0)" class="easyui-linkbutton" iconcls="icon-cancel" plain="true">Close</a>
            </div>
        </fieldset>
    </div>

    <div id="WinAssigendPerson" class="easyui-window" title="Assigned Person" data-options="modal:true,closed:true,collapsible:false,minimizable:false,maximizable:false,closable:false">
        <div id="divWinShadeRecipe" tabindex="-1">

            <fieldset>
                <legend>Labdip Shade</legend>
                <table id="tblLabdipAssignedPersonnel" class="easyui-datagrid" style="height: 250px; width:350px;" fitcolumns="false" rownumbers="true" pagination="false" singleselect="true" autorowheight="false" toolbar="#toolAssigendPerson">
                    <thead>
                        <tr>
                            <th field="EmployeeName" width="90%" align="left">Employee</th>
                        </tr>
                    </thead>
                </table>

                <div id="toolAssigendPerson">
                    <input id="txtEmployeeName" style="width:50%" placeholder="Search Employee" />
                    <a id="btnPickAssigendPerson" href="javascript:void(0)" class="easyui-linkbutton ics-pick" iconcls="icon-pick" plain="true"></a>
                    <a id="btnResetAssigendPerson" href="javascript:void(0)" class="easyui-linkbutton ics-pick" iconcls="icon-clear" plain="true"></a>
                    <a id="btnDeleteAssigendPerson" href="javascript:void(0)" class="easyui-linkbutton" iconcls="icon-remove" plain="true"></a>
                </div>
            </fieldset>
        </div>

        <fieldset class="actionfieldsetstyle">
            <legend>Actions : </legend>
            <a id="btnCloseWinAssigendPerson" href="javascript:void(0)" class="easyui-linkbutton" iconcls="icon-cancel" plain="true">Close</a>
        </fieldset>
    </div>

    <div id="WinShadeRecipe" class="easyui-window" title="Sahde & Recipe" data-options="modal:true,closed:true,collapsible:false,minimizable:false,maximizable:false,closable:false">
        <div id="divWinShadeRecipe" tabindex="-1">
            <fieldset>
                <legend style="font-weight:bold"> Color info: </legend>
                <table cellpadding="2"cellspacing="2" style="width:100%">
                    <tr>
                        <td style="width:5% " align="right">
                            <label>Yarn</label>
                        </td>
                        <td style="width:35%; text-align: left" align="left">
                            <input id="txtYarn_LDD" style="width:90%" disabled />
                        </td>
                        <td style="width:6%" align="right">
                            <label>Color</label>
                        </td>
                        <td style="width:24%; text-align: left">
                            <input id="txtColor_LDD" style="width:90%" disabled />
                        </td>
                        <td style="width:10%" align="right">
                            <label>Ref Lot</label>
                        </td>
                        <td style="width:20%">
                            <input id="txtLot_LDD" style="width:95%" />
                        </td>
</tr>
                    </table>
                </fieldset>
                    <fieldset>
                        <legend>Labdip Shade</legend>
                        <table id="tblLabdipShade" class="easyui-datagrid" style="height: 160px; width:90%;" fitcolumns="false" rownumbers="true" pagination="false" singleselect="true" autorowheight="false" toolbar="#toolLabdipSahde">
                            <thead>
                                <tr>
                                    <th field="ShadeStr" width="10%" align="left">Shade</th>
                                    <th field="Qty" width="10%" align="center">Qty</th>
                                    <th field="ShadePercentage" width="10%" align="center">Shade(%)</th>
                                    <th field="Note" width="50%" align="center">Note</th>
                                    <th field="ApproveByName" width="25%" align="center">Approved By</th>
                                </tr>
                            </thead>
                        </table>

                        <div id="toolLabdipSahde">
                            <span>Shade: </span>
                            <select id="cboSahde" style="width:11%"></select>
                            <span>Qty: </span>
                            <input id="txtQty_Shade" placeholder="" class="number" min="0" max="100" style="width:40px" />
                            <span>Percentage(%): </span>
                            <input id="txtShadePercentage" placeholder="" class="number" min="0" max="100" style="width:40px" />
                            <span>Note: </span>
                            <input id="txtNoteShade" placeholder="Note" style="width:15%" />
                            <a id="btnAddShade" href="javascript:void(0)" class="easyui-linkbutton" iconcls="icon-add" plain="true"></a>
                            <a id="btnDeleteShade" href="javascript:void(0)" class="easyui-linkbutton" iconcls="icon-remove" plain="true"></a>
                            <a id="btnApproveShade" href="javascript:void(0)" class="easyui-linkbutton" iconcls="icon-ok" plain="true"></a>
                            <a id="btnCopyShade" href="javascript:void(0)" class="easyui-linkbutton" iconcls="icon-copy" plain="true"></a>
                        </div>
                    </fieldset>
                    <div style="width:100%; float:left;">
                        <div style="width:50%; float:left;">
                            <fieldset>
                                <legend>Labdip Recipe With Dyes</legend>
                                <table id="tblRecipeDyes" class="easyui-datagrid" style="height: 180px; width:490px;" fitcolumns="false" rownumbers="true" pagination="false" singleselect="true" autorowheight="false" toolbar="#toolbarDyes" data-options="onClickRow: onClickRowDyes">
                                    <thead>
                                        <tr>
                                            <th field="ProductNameCode" width="50%" align="left">Product Name</th>
                                            <th data-options="field:'Qty',align:'right',editor:{type:'numberbox',options:{precision:5}}" width="12%">Qty(g)</th>
                                            <th field="PerTage" width="12%" align="center">%</th>
                                            <th field="Note" width="25%" align="center">Note</th>
                                            <th field="LotNo" width="25%" align="center">LotNo</th>
                                            
                                        </tr>
                                    </thead>
                                </table>

                                <div id="toolbarDyes">
                                    <input id="txtProductDyes" style="width:100px;" placeholder="Search Dyes" />
                                    <a id="btnPickDyes" href="javascript:void(0)" class="easyui-linkbutton ics-pick" iconcls="icon-pick" plain="true"></a>
                                    <a id="btnResetDyes" href="javascript:void(0)" class="easyui-linkbutton ics-pick" iconcls="icon-clear" plain="true"></a>
                                    <span>Qty: </span>
                                    <input id="txtQtyDyes" placeholder="Qty" class="number" style="width:12%" />
                                    <input id="txtPerDyes" placeholder="%" class="number" style="width:8%" />
                                    <span>%</span>
                                    <input id="txtNoteDyes" placeholder="Note" style="width:15%" />
                                    <a id="btnAddDyes" href="javascript:void(0)" class="easyui-linkbutton" iconcls="icon-add" plain="true"></a>
                                    <a id="btnDeleteDyes" href="javascript:void(0)" class="easyui-linkbutton" iconcls="icon-remove" plain="true"></a>
                                    <input id="txtLot" style="width:100px;" placeholder="Search Lot" />
                                    <a id="btnPickLot" href="javascript:void(0)" class="easyui-linkbutton ics-pick" iconcls="icon-pick" plain="true"></a>
                                </div>
                            </fieldset>
                        </div>
                        <div style="width:50%; float:left;">
                            <fieldset>
                                <legend>Labdip Recipe With Chemicals</legend>
                                <table id="tblRecipeChemical" class="easyui-datagrid" style="height: 180px; width:485px;" fitcolumns="false" rownumbers="true" pagination="false" singleselect="true" autorowheight="false" toolbar="#toolbarChemicals" data-options="onClickRow: onClickRowChemical">
                                    <thead>
                                        <tr>
                                            <th field="ProductNameCode" width="50%" align="left">Product Name</th>
                                            <th data-options="field:'Qty',align:'right',editor:{type:'numberbox',options:{precision:5}}" width="15%">Qty(g)</th>
                                            <th field="IsGLSt" width="6%" align="center">Note</th>
                                            <th field="Note" width="24%" align="center">Note</th>
                                            <th field="LotNo" width="25%" align="center">LotNo</th>

                                        </tr>
                                    </thead>
                                </table>

                                <div id="toolbarChemicals">
                                    <input id="txtProductChemical" style="width:110px;" placeholder="Search Chemicals" />
                                    <a id="btnPickChemical" href="javascript:void(0)" class="easyui-linkbutton ics-pick" iconcls="icon-pick" plain="true"></a>
                                    <a id="btnResetChemical" href="javascript:void(0)" class="easyui-linkbutton ics-remove" iconcls="icon-clear" plain="true"></a>
                                    <input id="txtQtyChemical" placeholder="Qty" class="number" style="width:12%" />
                                    <input id="chkIsGL" type="checkbox" /> Is GL?
                                    <input id="txtNoteChemical" placeholder="Note" style="width:15%" />
                                    <a id="btnAddChemical" href="javascript:void(0)" class="easyui-linkbutton" iconcls="icon-add" plain="true"></a>
                                    <a id="btnDeleteChemical" href="javascript:void(0)" class="easyui-linkbutton" iconcls="icon-remove" plain="true"></a>
                                    <input id="txtLotTwo" style="width:110px;" placeholder="Search Lot" />
                                    <a id="btnPickLotTwo" href="javascript:void(0)" class="easyui-linkbutton ics-pick" iconcls="icon-pick" plain="true"></a>
                                </div>
                            </fieldset>
                        </div>
                    </div>


</div>

        <fieldset class="actionfieldsetstyle">
            <legend>Actions : </legend>
            <a id="btnSaveWinShadeRecipe" href="javascript:void(0)" class="easyui-linkbutton" iconcls="icon-save" plain="true">Save</a>
            <a id="btnCloseWinShadeRecipe" href="javascript:void(0)" class="easyui-linkbutton" iconcls="icon-cancel" plain="true">Close</a>
        </fieldset>
    </div>
    <div id="winColorNoEntry" style="width:300px;" class="easyui-window" title="Color No Change" data-options="modal:true,closed:true,collapsible:false,minimizable:false,maximizable:false,closable:true">
        <div id="divInvoiceStatusUpdate">
            <table>
                <tr>
                    <td style="width:30%;text-align:right">
                        LD/Color No:
                    </td>
                    <td colspan="3" style="width:50%">
                        <input type="text" id="txtColorNoLD" style="width:100%" />
                    </td>
                </tr>
                <tr>
                    <td style="width:30%;text-align:right">
                        Color Name:
                    </td>
                    <td colspan="3" style="width:50%">
                        <input type="text" style="width:150px;" id="txtColorName_LD" />
                    </td>
                </tr>
                <tr>
                    <td style="width:30%;text-align:right">
                        Color Code:
                    </td>
                    <td colspan="3" style="width:50%">
                        <input id="txtLDCode" class="reset-text" style="width:60%;" placeholder="Code search" />
                        <a id="btnPickLDCode" href="javascript:void(0)" class="easyui-linkbutton" iconcls="icon-pick" plain="true"></a>
                    </td>
                </tr>
                <tr>
                    <td style="width:30%;text-align:right">
                        new LD No:
                    </td>
                    <td colspan="3" style="width:50%">
                        <input type="text" style="width:150px;" id="txtColorNew" />
                    </td>
                </tr>
            </table>

        </div>
        <fieldset class="actionfieldsetstyle">
            <legend>Actions : </legend>
            <a id="btnSaveColorNo" href="javascript:void(0)" class="easyui-linkbutton" iconcls="icon-save" plain="true">Save</a>
            <a id="btnCloseColorNo" href="javascript:void(0)" class="easyui-linkbutton" iconcls="icon-cancel" plain="true">Close</a>
        </fieldset>
    </div>
</body>
</html>

<style type="text/css">
    .td-styler input {
        padding-left: 5px;
    }

    .td-styler select {
        padding-left: 5px;
    }

    .td-col-3 select {
        width: 95%;
    }

    .td-col-3 input {
        width: 92%;
    }

    .td-col-6 input {
        width: 92%;
    }

    .td-col-14 input {
        width: 97%;
    }

    /*.send-to .td-col-14 input {
        width: 85.7%;
    }*/


    .hp-ph .td-col-8 input {
        width: 66%;
    }

    .hp-ph .td-col-8 select {
        width: 96%;
    }

    .td-Note input {
        width: 97.5%;
    }

    .td-col-14 select {
        width: 15%;
    }

    .td-product input {
        width: 60%;
    }

    .number-combo input {
        width: 10%;
    }

    .td-KnitPly select {
        width: 95%;
    }

    .td-ColorName input, .td-RGB input {
        width: 90%;
    }

    .td-PantonNo-Ref input {
        width: 40%;
    }
</style>

<script type="text/javascript">

    var _sBaseAddress = "";
    var _oLabDip=null;

    var _oCPIssueTos=[];
    var _oCPDeliveryTos=[];

    var _oLabdipDetail=null;
    var _oLabdipShade=null;
    var _nProductIDDyes=0;
    var _nProductIDChemicals=0;
    var _nLabdipColorID=0;
    var _nEmployeeID=0;
    var _oShades=[];
    var _oTempShades=[];
    var _oRecipeDyes=[];
    var _oRecipeChemicals=[];
    var _sOperation='';
    var _nBUID=0;
    $(document).ready(function () {

        _sBaseAddress =@Html.Raw(new System.Web.Script.Serialization.JavaScriptSerializer().Serialize(HttpContext.Current.Session[SessionInfo.BaseAddress]));
        var oLabDip =@Html.Raw(new System.Web.Script.Serialization.JavaScriptSerializer().Serialize(Model));
        _oCPIssueTos =@Html.Raw(new System.Web.Script.Serialization.JavaScriptSerializer().Serialize(@ViewBag.CPIssueTos));
        _oCPDeliveryTos =@Html.Raw(new System.Web.Script.Serialization.JavaScriptSerializer().Serialize(@ViewBag.CPDeliveryTos));
        var oLightSources=@Html.Raw(new System.Web.Script.Serialization.JavaScriptSerializer().Serialize(@ViewBag.LightSources));
        var oLabdipFormats =@Html.Raw(new System.Web.Script.Serialization.JavaScriptSerializer().Serialize(@ViewBag.EnumLabdipFormats));
        var oPriorityLevels =@Html.Raw(new System.Web.Script.Serialization.JavaScriptSerializer().Serialize(@ViewBag.EnumPriorityLevels));
        _oShades= @Html.Raw(new System.Web.Script.Serialization.JavaScriptSerializer().Serialize(@ViewBag.EnumShades));
        var oLabDipSetup =@Html.Raw(new System.Web.Script.Serialization.JavaScriptSerializer().Serialize(@ViewBag.LabDipSetup));
        _nBUID = @Html.Raw(new System.Web.Script.Serialization.JavaScriptSerializer().Serialize(ViewBag.BUID));
        LabdipSetup(oLabDipSetup);
        //$('.number').icsCurrencyBox();
        //parseFloat(icsRemoveComma($('#txtBillAmount').val()))
        $("#cboLightSource").icsLoadCombo({
            List: oLightSources,
            OptionValue: "LightSourceID",
            DisplayText: "Descriptions",
            InitialValue:""
        });

        $("#cboFormat").icsLoadCombo({
            List: oLabdipFormats,
            OptionValue: "id",
            DisplayText: "Value",
            InitialValue:""
        });

        $("#cboPriorityLevel").icsLoadCombo({
            List: oPriorityLevels,
            OptionValue: "id",
            DisplayText: "Value",
            InitialValue:""
        });
        
        debugger;
        Initialization(oLabDip,((sessionStorage.length>0)?sessionStorage.getItem('Operation'):'New'));

    });

    function LabdipSetup(oLabDipSetup)
    {
        $('#lblColorNoName').html(oLabDipSetup.ColorNoName);
        $('#lblLabdipOrderNo').html(oLabDipSetup.OrderName);
        if(oLabDipSetup.IsApplyCode)
        {
            $('#btnColorNo').show();
            $("#tblLabDipDetail").datagrid("showColumn", "ColorCode");
            $("#tblLabDipDetail").datagrid("showColumn", "LDNo");
        }
        else{
            $('#btnColorNo').hide();
            $("#tblLabDipDetail").datagrid("hideColumn", "ColorCode");
            $("#tblLabDipDetail").datagrid("hideColumn", "LDNo");
        }
    }
    $(document).keydown(function (e) { if (e.keyCode == 27) { $('div').icsWindow('close'); } });

    $('#tblLabDipDetail').datagrid({selectOnCheck:false, checkOnSelect:false});

    $('#tblLabDipDetail').datagrid({ onSelect: function (rowIndex, rowData) { OperationPerforms(rowIndex, rowData); } });
   
    function OperationPerforms(rowIndex, rowData) {
        if (rowData != null && rowData.LabDipDetailID > 0) {
            $('#btnIssueColor,#btnAssignPerson,#btnSahdeReceipe').hide();
            if(_sOperation!="View"){
                if (rowData.ColorNo!="")
                {
                    $('#btnAssignPerson,#btnSahdeReceipe').show();
                }
                else
                {
                    $('#btnIssueColor').show();
                } 
            }
        }
    }

    function Initialization(oLabDip, sOperation){
        ResetControll();
        _sOperation=sOperation;
        if(sOperation=='New'){
            $('#btnViewSahdeReceipe').hide();
            $('#btnIssueColor, #btnMultipleColor, #btnAssignPerson, #btnSahdeReceipe').show();
        }
        else{
            $('#btnIssueColor, #btnMultipleColor, #btnAssignPerson, #btnSahdeReceipe').hide();
            $('#btnViewSahdeReceipe').show();
        }
       
        if(oLabDip.LabDipID>0){
            RefreshControl(oLabDip);
        }
       
        $('input,select').not('#WinAssigendPerson input,#WinShadeRecipe input, #WinShadeRecipe select,#labDipDetail input[type="checkbox"]').prop('disabled',true);
    }

    function LoadIssueContactPersonnel(oCPs){
        $("#cboCPIssueTo").icsLoadCombo({
            List: oCPs,
            OptionValue: "ContactPersonnelID",
            DisplayText: "Name",
            InitialValue:""
        });
    }

    function LoadDeliveredContactPersonnel(oCPs){
        $("#cboCPDeliverTo").icsLoadCombo({
            List: oCPs,
            OptionValue: "ContactPersonnelID",
            DisplayText: "Name",
            InitialValue:""
        });
    }

    function ResetControll(){
        _oLabDip=null;
        $('.reset-text').val("");
        $('#dtOrderDate,#dtSeekingDate').datebox('setValue', icsdateformat(new Date()));
        LoadIssueContactPersonnel(_oCPIssueTos);
        LoadDeliveredContactPersonnel(_oCPDeliveryTos);
        $('.number').val("0.00");
        DynamicRefreshList([], 'tblLabDipDetail');
    }

    function RefreshControl(oLabDip){
        _oLabDip=oLabDip;

        $('#txtLabdipNo').val(oLabDip.LabdipNo);
        $('#dtOrderDate').datebox('setValue',oLabDip.OrderDateStr);
        $('#cboFormat').val(oLabDip.LabDipFormat);
        $('#txtMktPerson').val(oLabDip.MktPerson);


        $('#txtIssueTo').val(oLabDip.ContractorName);
        $('#txtDeliverTo').val(oLabDip.DeliveryToName);

        $('#cboCPIssueTo').val(oLabDip.ContactPersonnelID);
        $('#cboCPDeliverTo').val(oLabDip.DeliveryToContactPersonnelID);

        $('#dtSeekingDate').datebox('setValue',oLabDip.SeekingDateStr);
        $('#cboPriorityLevel').val(oLabDip.PriorityLevel);

        $('#txtPH').val(oLabDip.PH);
        $('#cboLightSource').val(oLabDip.LightSourceID);
        $('#txtBuyerRef').val(oLabDip.BuyerRefNo);
        $('#txtNote').val(oLabDip.Note);

        DynamicRefreshList(oLabDip.LabDipDetails, 'tblLabDipDetail');
        HideMultipleColorIssue();
    }

    $('#btnClose').click(function(e){
        window.location.href = sessionStorage.getItem("BackLink");
    });

    function SetIntoSessionStorage(){

        var sBackLink=sessionStorage.getItem('BackLink');
        var nIndex=sessionStorage.getItem('SelectedRowIndex');
        var oLabDips= (sessionStorage.getItem('Labdips').length>0)? jQuery.parseJSON(sessionStorage.getItem('Labdips')):[] ;
        if(_oLabDip!=null && _oLabDip.LabDipID>0){

            if(nIndex>=0){
                oLabDips[nIndex]=_oLabDip;
            }
            else{
                oLabDips.push(_oLabDip);
            }
        }
        sessionStorage.clear();
        sessionStorage.setItem("BackLink", sBackLink);
        sessionStorage.setItem("SelectedRowIndex", nIndex);
        sessionStorage.setItem("Labdips", JSON.stringify(oLabDips));
    }


    /*-----------------Issue Color ----------------*/

    function HideMultipleColorIssue(){

        $('#tblLabDipDetail').datagrid('checkAll');
        if($('#tblLabDipDetail').datagrid('getChecked').length<=0){
            $('#btnIssueColor,#btnMultipleColor').hide();
           $('#tblLabDipDetail').datagrid('hideColumn','Selected');
        }
        else{
            $('#tblLabDipDetail').datagrid('uncheckAll');
            $('#btnIssueColor,#btnMultipleColor').show();
           $('#tblLabDipDetail').datagrid('showColumn','Selected');
        }
        
    }
    
    function PreventSelectColeredItem(oLabdipDetails)
    {
        debugger;
        for(var i=0;i<oLabdipDetails.length;i++){
            if(oLabdipDetails[i].ColorNo!=""){
                $('#tblLabDipDetail').datagrid('uncheckRow', i);
            }
        }
    }

    function CheckUncheck(rowIndex, rowData){
        if(rowData.ColorNo!=""){
            $('#tblLabDipDetail').datagrid('uncheckRow', rowIndex);
        }
    }

    $('#btnIssueColor').click(function(e){

        
        _oLabdipDetail = $("#tblLabDipDetail").datagrid("getSelected");
        if (_oLabdipDetail == null || _oLabdipDetail.LabDipDetailID <= 0) { alert("Please select an item from list."); return false; }
        if(_oLabdipDetail.ColorNo!=""){
            alert("Already color issued.");
            return false;
        }

        var obj = {
            BaseAddress: _sBaseAddress,
            Object: _oLabdipDetail,
            ObjectId: _oLabdipDetail.LabDipDetailID,
            ControllerName: "LabDip",
            ActionName: "IssueColor",
            TableId: "tblLabDipDetail",
            IsWinClose: false,
            Message: "Color Issued Successfully."
        };
        $.icsSave(obj, function (response) {

            debugger;
            if (response.status && response.obj.LabDipDetailID>0 && response.obj.ColorNo>0) {
                var nIndex = $("#tblLabDipDetail").datagrid("getRowIndex", _oLabdipDetail);
                OperationPerforms(nIndex, response.obj);
                CheckUncheck(nIndex, response.obj);
                HideMultipleColorIssue();
            }
        });
    });

    $('#tblLabDipDetail').datagrid({ onCheckAll: function (rows) { PreventSelectColeredItem(rows); } });
   
    $('#tblLabDipDetail').datagrid({ onUncheckAll: function (rows) { PreventSelectColeredItem(rows); } });
  
    $('#tblLabDipDetail').datagrid({ onCheck: function (rowIndex, rowData) { CheckUncheck(rowIndex, rowData); } });
 
    $('#btnMultipleColor').click(function(e){

        var oLabDipDetails= $('#tblLabDipDetail').datagrid('getChecked');
        debugger;
        if(oLabDipDetails.length<=0){ alert("please select at least one item."); return false; }

        for(var i=0; i<oLabDipDetails.length;i++){
            if(oLabDipDetails[i].ColorNo!=''){
                alert("Please unchecked the color item of row no - "+ (i+1).toString());
                return;
            }
        }

        var oLabDip={
            LabDipDetails:oLabDipDetails
        }

        var obj = {
            BaseAddress: _sBaseAddress,
            Object: oLabDip,
            ObjectId: 0,
            ControllerName: "LabDip",
            ActionName: "IssueColorMultiple",
            TableId: "",
            IsWinClose: false,
            Message: ""
        };
        $.icsSave(obj, function (response) {

            if (response.status && response.obj != null) {
                if (response.obj.LabDipDetails.length>0 && response.obj.LabDipDetails[0].LabDipDetailID>0) {
                    alert("Color Assigned successfully");
                    for(var i=0; i<oLabDipDetails.length;i++){
                        var nIndex = $("#tblLabDipDetail").datagrid("getRowIndex", oLabDipDetails[i]);
                        $("#tblLabDipDetail").datagrid("updateRow", { index: nIndex, row: response.obj.LabDipDetails[i] });
                        CheckUncheck(nIndex,response.obj.LabDipDetails[i]);
                        HideMultipleColorIssue();
                    }
                }
            }
        });
        
    });




    /*----------------- Assigned Person ----------------*/

    

    $('#btnAssignPerson').click(function(e){

        
        _oLabdipDetail = $("#tblLabDipDetail").datagrid("getSelected");
        if (_oLabdipDetail == null || _oLabdipDetail.LabDipDetailID <= 0) { alert("Please select an item from list."); return false; }
        if(_oLabdipDetail.ColorNo ==""){
            alert("Please issue color for this item..");
            return false;
        }
        var obj = {
            BaseAddress: _sBaseAddress,
            Object: _oLabdipDetail,
            ControllerName: "LabDip",
            ActionName: "GetsLabdipAssignedPersonnel",
            IsWinClose: false
        };
        $.icsDataGets(obj, function (response) {

            debugger;
            if (response.status && response.objs.length>0 && response.objs[0].LabdipAssignedPersonnelID>0) {
                DynamicRefreshList(response.objs, 'tblLabdipAssignedPersonnel');
            }
            _nEmployeeID=0;
            $('#txtEmployeeName').val("");
            $('#WinAssigendPerson').icsWindow('open');
        });
       
    });

    $('#btnCloseWinAssigendPerson').click(function(e){

        $('#WinAssigendPerson').icsWindow('close');
    });


    function AddAssignedPerson(){
        if(_nEmployeeID<=0){
            $('#txtEmployeeName').focus();
            $('#txtEmployeeName').addClass("errorFieldBorder");
            alert('No employee found.');
            return false;
        }
        else{
            $('#txtEmployeeName').removeClass("errorFieldBorder");
        }

        var oLabdipAssignedPersonnel={
            LabdipAssignedPersonnelID : 0,
            LabDipDetailID : _oLabdipDetail.LabDipDetailID,
            EmployeeID : _nEmployeeID
        };

        var obj = {
            BaseAddress: _sBaseAddress,
            Object: oLabdipAssignedPersonnel,
            ObjectId: oLabdipAssignedPersonnel.LabdipAssignedPersonnelID,
            ControllerName: "LabDip",
            ActionName: "SaveLabdipAssignedPersonnel",
            TableId: "tblLabdipAssignedPersonnel",
            IsWinClose: false,
            Message: (oLabdipAssignedPersonnel.LabdipAssignedPersonnelID>0)?"Update Successfully." : "Save Successfully."
        };
        $.icsSave(obj, function (response) {
            if (response.status && response.obj != null) {
                if (response.obj.LabdipAssignedPersonnelID > 0) {
                    $('#txtEmployeeName').val("");
                    _nEmployeeID=0;
                }
            }
        });
    }

    $("#btnDeleteAssigendPerson").click(function () {

        var oLabdipAssignedPersonnel = $("#tblLabdipAssignedPersonnel").datagrid("getSelected");
        if (oLabdipAssignedPersonnel == null || oLabdipAssignedPersonnel.LabdipAssignedPersonnelID <= 0) { alert("Please select an item from list."); return false; }

        if (!confirm("Confirm to Delete?")) return false;

        var obj =
        {
            BaseAddress: _sBaseAddress,
            Object: oLabdipAssignedPersonnel,
            ControllerName: "LabDip",
            ActionName: "DeleteLabdipAssignedPersonnel",
            TableId: "tblLabdipAssignedPersonnel",
            IsWinClose: false,
            Message:''
        };
        $.icsDelete(obj);

    });

    $("#btnResetAssigendPerson").click(function () {

        $("#txtEmployeeName").val("");
        _nEmployeeID=0;
    });

    $("#btnPickAssigendPerson").click(function () {

        var sEmployeeName=$.trim($("#txtEmployeeName").val());
        if(sEmployeeName==""){ alert("Type employee name to search."); return false; }
        GetEmployees(sEmployeeName);
    });

    $("#txtEmployeeName").keydown(function (e) {
        var nkeyCode = e.keyCode || e.which;
        if(nkeyCode==13){
            var sEmployeeName=$.trim($("#txtEmployeeName").val());
            if(sEmployeeName==""){ alert("Type employee name to search."); return false; }
            GetEmployees(sEmployeeName);
        }
        else if(nkeyCode==8){
            $("#txtEmployeeName").val("");
            _nEmployeeID=0;
        }
    });

    function GetEmployees(sEmployeeName){

        var oLabDipDetail = {
            LabDipDetailID:_oLabdipDetail.LabDipDetailID,
            Params:sEmployeeName
        };
        var obj = {
            BaseAddress: _sBaseAddress,
            Object: oLabDipDetail,
            ControllerName: "LabDip",
            ActionName: "GetsEmployeeForLabdipAssignedPersonnel",
            IsWinClose: false
        };

        $.icsDataGets(obj, function (response) {

            if (response.status && response.objs.length > 0) {
                if (response.objs[0].EmployeeID > 0) {
                    debugger;
                    var tblColums = [];
                    var oColumn = { field: "NameCode", title: "Employee Name", width: 160, align: "left" };tblColums.push(oColumn);

                    var oPickerParam = {
                        winid: 'winEmployeePicker',
                        winclass:'clsEmployeePicker',
                        winwidth: 180,
                        winheight: 350,
                        tableid: 'tblEmployeePicker',
                        tablecolumns: tblColums,
                        datalist: response.objs,
                        multiplereturn: false,
                        searchingbyfieldName:'NameCode',
                        windowTittle: 'Employee List'
                    };
                    $.icsPicker(oPickerParam);
                    IntializeEmployeePickerbutton(oPickerParam);//multiplereturn, winclassName
                }
                else { alert(response.objs[0].ErrorMessage); }
            }
            else{
                alert("No Employee found.");
            }
        });


    }

    function IntializeEmployeePickerbutton(oPickerobj)
    {
        $("#" + oPickerobj.winid).find("#btnOk").click(function () {
            EmployeeSelect(oPickerobj);
        });
        $(document).find('.' +oPickerobj.winclass).keydown(function (e) {
            if (e.which == 13)//enter=13
            {
                EmployeeSelect(oPickerobj);
            }
        });
    }

    function EmployeeSelect(oPickerobj){
        var oEmployee = $('#'+oPickerobj.tableid).datagrid('getSelected');
        if (oPickerobj.winid == 'winEmployeePicker')
        {
            if(oEmployee !=null  && oEmployee.EmployeeID>0){
                $("#"+oPickerobj.winid).icsWindow("close");
                $("#" + oPickerobj.winid).remove();
                $('#txtEmployeeName').val(oEmployee.NameCode);
                _nEmployeeID= oEmployee.EmployeeID;
                AddAssignedPerson();
            }
            else{
                alert("Please select employee.");
            }
        }
    }

    /*----------------  Labdip Shade & Recipe --------------- */

    $('#tblLabdipShade').datagrid({ onSelect: function (rowIndex, rowData) { LabdipShadeOperationPerforms(rowIndex, rowData); } });

    function LabdipShadeOperationPerforms(rowIndex, rowData){
        var nTotalPerTage=0;
        ResetGridCellEdit();
        var oRecipeDyes=[], oRecipeChemicals=[];
        if(rowData!=null && rowData.LabdipShadeID>0){
            nTotalPerTage=0;
            for(var i=0; i<_oRecipeDyes.length;i++)
            {
                if(_oRecipeDyes[i].LabdipShadeID==rowData.LabdipShadeID)
                {
                    _oRecipeDyes[i].PerTage=(_oRecipeDyes[i].Qty*100)/rowData.Qty;
                    nTotalPerTage=nTotalPerTage+_oRecipeDyes[i].PerTage;
                    oRecipeDyes.push(_oRecipeDyes[i]);
                }
            }
            rowData.ShadePercentage=nTotalPerTage;
            $("#tblLabdipShade").datagrid("updateRow", { index: rowIndex, row: rowData });
            for(var i=0; i<_oRecipeChemicals.length;i++){
                if(_oRecipeChemicals[i].LabdipShadeID==rowData.LabdipShadeID){
                    oRecipeChemicals.push(_oRecipeChemicals[i]);
                }
            }
        }
        DynamicRefreshList(oRecipeDyes, 'tblRecipeDyes');
        DynamicRefreshList(oRecipeChemicals, 'tblRecipeChemical');
    }

    function ResetLabdipShadeRecipe(nShadeCount){
        _oLabdipShade=null;
        _nProductIDDyes=0;
        _nProductIDChemicals=0;
        $('#cboSahde').val(0);
        $('#txtNoteShade, #txtNoteDyes,  #txtProductChemical, #txtNoteChemical').val("");
        $('#txtQtyDyes, #txtQtyChemical').val("0.00");

        nShadeCount= (nShadeCount>_oShades.length)?_oShades.length:nShadeCount;
        _oTempShades=[];
        for(var i=0;i<=nShadeCount;i++){
            _oTempShades.push(_oShades[i]);
        }

        $("#cboSahde").icsLoadCombo({
            List: _oTempShades,
            OptionValue: "id",
            DisplayText: "Value",
            InitialValue:"Default"
        });

        _oRecipeDyes=[];
        _oRecipeChemicals=[];
        DynamicRefreshList([], 'tblLabdipShade');
        DynamicRefreshList(_oRecipeDyes, 'tblRecipeDyes');
        DynamicRefreshList(_oRecipeChemicals, 'tblRecipeChemical');
        ResetGridCellEdit();
    }

    function ResetGridCellEdit(){
        _nDyesQty=0;
        _nChamicalQty=0;
        editIndexDyes=undefined;
        editIndexChemical=undefined;
        nDyesIndex=-1;
        nChemicalIndex=-1;
    }


    function GetShadeReceipe(sOperation){
        debugger;
        _oLabdipDetail = $("#tblLabDipDetail").datagrid("getSelected");
        if (_oLabdipDetail == null || _oLabdipDetail.LabDipDetailID <= 0) { alert("Please select an item from list."); return false; }
        if(_oLabdipDetail.ColorNo ==""){
            alert(((sOperation=="View")? "Color yet no issued." : "Please issue color for this item."));
            return false;
        }
        $('#txtYarn_LDD').val(_oLabdipDetail.ProductName);
        $('#txtColor_LDD').val(_oLabdipDetail.ColorName);
        $('#txtLot_LDD').val(_oLabdipDetail.LotNo);
        ResetLabdipShadeRecipe(_oLabdipDetail.ShadeCount);

        if(_sOperation=="View"){
            $('#toolLabdipSahde,#toolbarChemicals,#toolbarDyes,#btnSaveWinShadeRecipe').hide();
        }
        else{
            $('#toolLabdipSahde,#toolbarChemicals,#toolbarDyes,#btnSaveWinShadeRecipe').show();
        }
        var obj = {
            BaseAddress: _sBaseAddress,
            Object: _oLabdipDetail,
            ControllerName: "LabDip",
            ActionName: "GetsLabdipShade",
            IsWinClose: false
        };
        $.icsDataGet(obj, function (response) {

            debugger;
            if (response.status && response.obj.LabdipShades.length>0) {
                _oRecipeDyes=response.obj.RecipeDyes;
                _oRecipeChemicals=response.obj.RecipeChemicals;
               
                DynamicRefreshList(response.obj.LabdipShades, 'tblLabdipShade');
                DynamicRefreshList([], 'tblRecipeDyes');
                DynamicRefreshList([], 'tblRecipeChemical');
            }
           
            $('#WinShadeRecipe').icsWindow('open');
        });
    }

    $('#btnViewSahdeReceipe').click(function(e){

        GetShadeReceipe();
    });


    $('#btnSahdeReceipe').click(function(e){

        GetShadeReceipe();
       
    });

    $('#btnCloseWinShadeRecipe').click(function(e){

        $('#WinShadeRecipe').icsWindow('close');
    });

    $('#btnSaveWinShadeRecipe').click(function(e){

    
            debugger;
            endEditing('tblRecipeDyes');
            endEditing('tblRecipeChemical');
            _oLabdipDetail.LotNo =  $('#txtLot_LDD').val();
         
            var obj = {
                BaseAddress: _sBaseAddress,
                Object: _oLabdipDetail,
                ObjectId: _oLabdipDetail.LabDipDetailID,
                ControllerName: "LabDip",
                ActionName: "UpdateLot",
                TableId: "",
                IsWinClose: false,
                Message: ""// (oLabDipDetail.LabDipDetailID>0)?"Update Successfully." : "Save Successfully."
            };
            $.icsSave(obj, function (response) {
                if (response.status && response.obj != null) {
                    debugger;
                    if (response.obj.LabDipDetailID > 0) {
                        alert("Data Save Successfully")
                    }
                }
            });
    
       

    });

    function ValidationShade(){
      
        if($('#cboSahde').val()<=0){
            $('#cboSahde').focus();
            $('#cboSahde').addClass("errorFieldBorder");
            alert('Select Shade.');
            return false;
        }
        else{
            $('#cboSahde').removeClass("errorFieldBorder");
        }

        //if($.trim($('#txtShadePercentage').val())==""){
        //    $('#txtShadePercentage').focus();
        //    $('#txtShadePercentage').addClass("errorFieldBorder");
        //    alert('Please enter shade percentage.');
        //    return false;
        //}
        //else{
        //    $('#txtShadePercentage').removeClass("errorFieldBorder");
        //}

        //if(parseFloat(icsRemoveComma($('#txtShadePercentage').val()))<=0){
        //    $('#txtShadePercentage').focus();
        //    $('#txtShadePercentage').addClass("errorFieldBorder");
        //    alert('Shade percentage must be greater than zero.');
        //    return false;
        //}
        //else{
        //    $('#txtShadePercentage').removeClass("errorFieldBorder");
        //}

        var oLabdipShades = $("#tblLabdipShade").datagrid("getRows");
        if(oLabdipShades.length>0){
            for(var i=0;i<oLabdipShades.length;i++){
                if(oLabdipShades[i].ShadeID==$('#cboSahde').val()){
                    alert("Already this added.");
                    return false;
                }
            }

            if(oLabdipShades.length>=_oTempShades.length){
                alert("No remaining shade found to add.");
                return false;
            }

            if(parseInt(oLabdipShades[oLabdipShades.length-1].ShadeID)+1!=$('#cboSahde').val()){
                $('#cboSahde').focus();
                $('#cboSahde').addClass("errorFieldBorder");
                alert('Please select '+ _oTempShades[oLabdipShades.length].Value +' shade qq');
                return false;
            }
        }
        else{

            if(_oTempShades.length==0){
                $('#cboSahde').focus();
                $('#cboSahde').addClass("errorFieldBorder");
                alert('No shade found.');
                return false;
            }
            //else if($('#cboSahde').val()!=_oTempShades[0].Value){
            //    $('#cboSahde').focus();
            //    $('#cboSahde').addClass("errorFieldBorder");
            //    alert('Please select '+ _oTempShades[0].Value +' shade aa');
            //    return false;
            //}
            //else{
            //    $('#cboSahde').removeClass("errorFieldBorder");
            //}
        }

        return true;
    }

    function RefreshObjectShade()
    {
       
        var oLabdipShade={
            LabdipShadeID : 0,
            LabDipDetailID : _oLabdipDetail.LabDipDetailID,
            ShadeID : $('#cboSahde').val(),
            ShadePercentage: parseFloat(icsRemoveComma($('#txtShadePercentage').val())),
            Qty: parseFloat(icsRemoveComma($('#txtQty_Shade').val())),
            Note : $('#txtNoteShade').val()

        };
        return oLabdipShade;
    }
    
    $("#btnAddShade").click(function (){
        if(!ValidationShade()) return false;

        var oLabdipShade=RefreshObjectShade();
        var obj = {
            BaseAddress: _sBaseAddress,
            Object: oLabdipShade,
            ObjectId: oLabdipShade.LabdipShadeID,
            ControllerName: "LabDip",
            ActionName: "SaveLabdipShade",
            TableId: "tblLabdipShade",
            IsWinClose: false,
            Message: (oLabdipShade.LabdipShadeID>0)?"Update Successfully." : "Save Successfully."
        };
        $.icsSave(obj, function (response) {
            if (response.status && response.obj != null) {
                if (response.obj.LabdipShadeID > 0) {
                    
                }
            }
        });
    });

    $("#btnDeleteShade").click(function () {

        var oLabdipShades = $("#tblLabdipShade").datagrid("getRows");
        var oLabdipShade = $("#tblLabdipShade").datagrid("getSelected");
        if (oLabdipShade == null || oLabdipShade.LabdipShadeID <= 0) { alert("Please select an item from list."); return false; }

        if(oLabdipShades[oLabdipShades.length-1].LabdipShadeID!=oLabdipShade.LabdipShadeID){ alert("Please delete last item first."); return false; }

        if (oLabdipShade.ApproveBy > 0) { alert("Already Approvd. Unable to delete."); return false; }

        if (!confirm("Confirm to Delete?")) return false;

        var obj =
        {
            BaseAddress: _sBaseAddress,
            Object: oLabdipShade,
            ControllerName: "LabDip",
            ActionName: "DeleteLabdipShade",
            TableId: "tblLabdipShade",
            IsWinClose: false,
            Message:''
        };
        $.icsDelete(obj, function (response) {
            if (response.status && response.Message == 'deleted') {
                
                var oRecipeDyes=[], oRecipeChemicals=[];
                for(var i=0; i<_oRecipeDyes.length;i++){
                    if(_oRecipeDyes[i].LabdipShadeID!=oLabdipShade.LabdipShadeID){
                        oRecipeDyes.push(_oRecipeDyes[i]);
                    }
                }
                for(var i=0; i<_oRecipeChemicals.length;i++){
                    if(_oRecipeChemicals[i].LabdipShadeID!=oLabdipShade.LabdipShadeID){
                        oRecipeChemicals.push(_oRecipeChemicals[i]);
                    }
                }
                _oRecipeDyes=oRecipeDyes;
                _oRecipeChemicals=oRecipeChemicals;
                DynamicRefreshList([], 'tblRecipeDyes');
                DynamicRefreshList([], 'tblRecipeChemical');
            }
        });

    });

    $("#btnApproveShade").click(function (){

        var oLabdipShade = $("#tblLabdipShade").datagrid("getSelected");
        if (oLabdipShade == null || oLabdipShade.LabdipShadeID <= 0) { alert("Please select an item from list."); return false; }
        if (oLabdipShade.ApproveBy > 0) { alert("Already Approved."); return false; }

        if (!confirm("Confirm to Approve?")) return false;

        var obj = {
            BaseAddress: _sBaseAddress,
            Object: oLabdipShade,
            ObjectId: oLabdipShade.LabdipShadeID,
            ControllerName: "LabDip",
            ActionName: "ApproveLabdipShade",
            TableId: "tblLabdipShade",
            IsWinClose: false,
            Message: "Approved Successfully."
        };
        $.icsSave(obj);
    });

    $("#btnCopyShade").click(function (){

        var oLabdipShade = $("#tblLabdipShade").datagrid("getSelected");
        if (oLabdipShade == null || oLabdipShade.LabdipShadeID <= 0) { alert("Please select an item from list."); return false; }
        
        var oLabdipShades=$("#tblLabdipShade").datagrid("getRows");
        if(oLabdipShades.length>=_oTempShades.length){
            alert("No remaining shade found to add.");
            return false;
        }

        if (!confirm("Confirm to copy this item as new shade?")) return false;

        var obj = {
            BaseAddress: _sBaseAddress,
            Object: oLabdipShade,
            ObjectId: oLabdipShade.LabdipShadeID,
            ControllerName: "LabDip",
            ActionName: "CopyLabdipShade",
            TableId: "",
            IsWinClose: false,
            Message: "Copy Successfully."
        };
        $.icsSave(obj, function (response) {
            if (response.status && response.obj != null && response.obj.LabdipShadeID>0) {
                
                $("#tblLabdipShade").datagrid('appendRow',response.obj);
                $("#tblLabdipShade").datagrid("selectRow", oLabdipShades.length);
                for(var i=0; i<response.obj.RecipeDyes.length;i++){
                    _oRecipeDyes.push(response.obj.RecipeDyes[i]);
                }
                for(var i=0; i<response.obj.RecipeChemicals.length;i++){
                    _oRecipeChemicals.push(response.obj.RecipeChemicals[i]);
                }
                DynamicRefreshList(response.obj.RecipeDyes, 'tblRecipeDyes');
                DynamicRefreshList(response.obj.RecipeChemicals, 'tblRecipeChemical');
            }
        });
    });


    
   
    function ValidationRecipe(bIsDyes){
      
        _oLabdipShade = $("#tblLabdipShade").datagrid("getSelected");
        if (_oLabdipShade == null || _oLabdipShade.LabdipShadeID <= 0) { alert("Please select an item from list."); return false; }
        //if (_oLabdipShade.ApproveBy == 0) { alert("Yet not approved. Please approve labdip shade first."); return false; }


        if(bIsDyes){
            if(_nProductIDDyes<=0){
                $('#txtProductDyes').focus();
                $('#txtProductDyes').addClass("errorFieldBorder");
                alert('No dyes found to add.');
                return false;
            }
            else{
                $('#txtProductDyes').removeClass("errorFieldBorder");
            }

            if($.trim($('#txtQtyDyes').val())==""){
                $('#txtQtyDyes').focus();
                $('#txtQtyDyes').addClass("errorFieldBorder");
                alert('Please enter quantity.');
                return false;
            }
            else{
                $('#txtQtyDyes').removeClass("errorFieldBorder");
            }

            ////if(parseFloat(icsRemoveComma($('#txtQtyDyes').val()))<=0){
            ////    $('#txtQtyDyes').focus();
            ////    $('#txtQtyDyes').addClass("errorFieldBorder");
            ////    alert('Quantity must be greater than zero.');
            ////    return false;
            ////}
            ////else{
            ////    $('#txtQtyDyes').removeClass("errorFieldBorder");
            ////}
        }
        else{
            if(_nProductIDChemicals<=0){
                $('#txtProductChemical').focus();
                $('#txtProductChemical').addClass("errorFieldBorder");
                alert('No chemical found to add.');
                return false;
            }
            else{
                $('#txtProductChemical').removeClass("errorFieldBorder");
            }

            if($.trim($('#txtQtyChemical').val())==""){
                $('#txtQtyChemical').focus();
                $('#txtQtyChemical').addClass("errorFieldBorder");
                alert('Please enter quantity.');
                return false;
            }
            else{
                $('#txtQtyChemical').removeClass("errorFieldBorder");
            }

            if(parseFloat($('#txtQtyChemical').val())<=0){
                $('#txtQtyChemical').focus();
                $('#txtQtyChemical').addClass("errorFieldBorder");
                alert('Quantity must be greater than zero.');
                return false;
            }
            else{
                $('#txtQtyChemical').removeClass("errorFieldBorder");
            }
        }
     

        return true;
    }

    function RefreshObjectRecipe(bIsDyes)
    {
        var bIsGL=false;
        bIsGL= (bIsDyes)? 0:$("#chkIsGL").is(":checked");
        var oLabdipRecipe={
            LabdipRecipeID : 0,
            LabdipShadeID : _oLabdipShade.LabdipShadeID,
            ProductID : (bIsDyes)? _nProductIDDyes:_nProductIDChemicals,
            IsGL : bIsGL,
            PerTage: (bIsDyes)? parseFloat($('#txtPerDyes').val()):0,
            Qty : (bIsDyes)? parseFloat($('#txtQtyDyes').val()):parseFloat($('#txtQtyChemical').val()),
            IsGLSt:(bIsGL)? "GL":"%",
            Note : (bIsDyes)? $.trim($('#txtNoteDyes').val()):$.trim($('#txtNoteChemical').val()),
            IsDyes : bIsDyes
        };
        return oLabdipRecipe;
    }


    $("#btnAddDyes").click(function (){
        if(!ValidationRecipe(true)) return false;
        var oLabdipRecipe=RefreshObjectRecipe(true);
        SaveLabdipRecipe(oLabdipRecipe, 'tblRecipeDyes');
    });

    $("#btnDeleteDyes").click(function () {

        var oLabdipRecipe = $("#tblRecipeDyes").datagrid("getSelected");
        if (oLabdipRecipe == null || oLabdipRecipe.LabdipRecipeID <= 0) { alert("Please select an item from list."); return false; }
        DeleteLabdipRecipe(oLabdipRecipe,'tblRecipeDyes');
    });


    $("#btnAddChemical").click(function (){
        if(!ValidationRecipe(false)) return false;
        var oLabdipRecipe=RefreshObjectRecipe(false);
        SaveLabdipRecipe(oLabdipRecipe, 'tblRecipeChemical');
    });

    $("#btnDeleteChemical").click(function () {

        var oLabdipRecipe = $("#tblRecipeChemical").datagrid("getSelected");
        if (oLabdipRecipe == null || oLabdipRecipe.LabdipRecipeID <= 0) { alert("Please select an item from list."); return false; }
        DeleteLabdipRecipe(oLabdipRecipe,'tblRecipeChemical');
    });


    function SaveLabdipRecipe(oLabdipRecipe, tableID){

        var obj = {
            BaseAddress: _sBaseAddress,
            Object: oLabdipRecipe,
            ObjectId: oLabdipRecipe.LabdipRecipeID,
            ControllerName: "LabDip",
            ActionName: "SaveLabdipRecipe",
            TableId: tableID,
            IsWinClose: false,
            Message: (oLabdipRecipe.LabdipRecipeID>0)?"Update Successfully." : "Save Successfully."
        };
        $.icsSave(obj, function (response) {
            if (response.status && response.obj != null) {
                if (response.obj.LabdipRecipeID > 0) {
                    
                    if(response.obj.IsDyes){

                        _oRecipeDyes.push(response.obj);
                        $('#txtProductDyes').val("");
                        $('#txtProductDyes').focus();
                        $('#txtProductDyes').addClass("errorFieldBorder");
                    }
                    else{
                        _oRecipeChemicals.push(response.obj);
                        $('#txtProductChemical').val("");
                        $('#txtProductChemical').focus();
                        $('#txtProductChemical').addClass("errorFieldBorder");
                    }
                }
            }
        });

    }

    function DeleteLabdipRecipe(oLabdipRecipe, tableID){

        if (!confirm("Confirm to Delete?")) return false;
        var obj =
        {
            BaseAddress: _sBaseAddress,
            Object: oLabdipRecipe,
            ControllerName: "LabDip",
            ActionName: "DeleteLabdipRecipe",
            TableId: tableID,
            IsWinClose: false,
            Message:''
        };
        $.icsDelete(obj, function (response) {
            if (response.status && response.Message =='deleted') {
                
                if(tableID=='tblRecipeDyes'){
                   _nDyesQty=0;
                   _nChamicalQty=0;
                   editIndexDyes=undefined;
                }
                else if(tableID=='tblRecipeChemical'){
                    editIndexChemical=undefined;
                    nDyesIndex=-1;
                    nChemicalIndex=-1;
                }
                
            }
        });
    }



    /*--------------- Grid Edit--------------*/

    var _nDyesQty=0;
    var _nChamicalQty=0;
    var editIndexDyes=undefined;
    var editIndexChemical=undefined;
    var nDyesIndex=-1;
    var nChemicalIndex=-1;


    function endEditing(tblId) {

        debugger;
        var editIndex = ((tblId == 'tblRecipeDyes')?editIndexDyes:editIndexChemical);

        if (editIndex == undefined) {
            return true;
        }
        if ($('#'+tblId).datagrid('validateRow', editIndex)) {
            
            $('#'+tblId).datagrid('endEdit', editIndex);
            $('#'+tblId).datagrid('selectRow', editIndex);
            var oLabdipRecipe = $('#'+tblId).datagrid('getSelected');
            if ( parseFloat(oLabdipRecipe.Qty)<=0 || parseFloat(oLabdipRecipe.Qty)== ((tblId == 'tblRecipeDyes')?parseFloat(_nDyesQty):parseFloat(_nChamicalQty)) ) {
                editIndex = undefined;
                return true;
            }
            else {
                var obj = {
                    BaseAddress: _sBaseAddress,
                    Object: oLabdipRecipe,
                    ObjectId: oLabdipRecipe.LabdipRecipeID,
                    ControllerName: "LabDip",
                    ActionName: "SaveLabdipRecipe",
                    TableId: tblId,
                    IsWinClose: false,
                    Message: ""
                };

                $.icsSave(obj, function (response) {
                    
                    if(tblId == 'tblRecipeDyes'){
                        if(editIndex==nDyesIndex){
                            editIndexDyes = undefined;
                        }
                        else{
                            editIndexDyes = nDyesIndex;
                            $('#'+tblId).datagrid('selectRow', editIndexDyes).datagrid('beginEdit', editIndexDyes);
                            var oLabdipRecipe=$('#'+tblId).datagrid('getSelected');
                            _nDyesQty =  parseFloat(oLabdipRecipe.Qty);
                        }                        
                    }
                    else{
                        if(editIndex==nChemicalIndex){
                            editIndexChemical = undefined;
                        }
                        else{
                            editIndexChemical = nChemicalIndex;
                            $('#'+tblId).datagrid('selectRow', editIndexChemical).datagrid('beginEdit', editIndexChemical);
                            var oLabdipRecipe=$('#'+tblId).datagrid('getSelected');
                            _nChamicalQty =  parseFloat(oLabdipRecipe.Qty);
                        }  
                    }
                    return true;
                });
            }
        }
        else { return false; }
    }

    function onClickRowDyes(index) {
        if (editIndexDyes != index && _sOperation!="View") {
            nDyesIndex=index;
            if (endEditing('tblRecipeDyes')) {
                debugger;
                $('#tblRecipeDyes').datagrid('selectRow', index).datagrid('beginEdit', index);
                var oLabdipRecipe=$('#tblRecipeDyes').datagrid('getSelected');
                _nDyesQty = parseFloat(oLabdipRecipe.Qty);
                editIndexDyes = index;
            }
            else {
                $('#tblRecipeDyes').datagrid('selectRow', editIndexDyes);
            }
        }
    }

    function onClickRowChemical(index) {
        
        if (editIndexChemical != index) {
            nChemicalIndex=index;
            if (endEditing('tblRecipeChemical')) {
                $('#tblRecipeChemical').datagrid('selectRow', index).datagrid('beginEdit', index);
                var oLabdipRecipe=$('#tblRecipeChemical').datagrid('getSelected');
                _nChamicalQty = parseFloat(oLabdipRecipe.Qty);
                editIndexChemical = index;
            }
            else {
                $('#tblRecipeChemical').datagrid('selectRow', editIndexChemical);
            }
        }
    }




    /*-------------------- Product ---------------*/

  
    $("#btnResetDyes").click(function () {
        _nProductIDDyes=0;
    });

    $("#btnPickDyes").click(function () {
        var sProductName=$.trim($("#txtProductDyes").val());
        GetProducts(sProductName, true);
    });

    $("#txtProductDyes").keydown(function (e) {
        var nkeyCode = e.keyCode || e.which;
        if(nkeyCode==13){
            var sProductName=$.trim($("#txtProductDyes").val());
            GetProducts(sProductName,true);
        }
        else if(nkeyCode==8){
            //$("#txtProductDyes").val("");
            _nProductIDDyes=0;
        }
    });



    $("#btnResetChemical").click(function () {
        $("#txtProductChemical").val("");
        _nProductIDChemicals=0;
    });

    $("#btnPickChemical").click(function () {
        var sProductName=$.trim($("#txtProductChemical").val());
        GetProducts(sProductName, false);
    });

    $("#txtProductChemical").keydown(function (e) {
        var nkeyCode = e.keyCode || e.which;
        if(nkeyCode==13){
            var sProductName=$.trim($("#txtProductChemical").val());
            GetProducts(sProductName,false);
        }
        else if(nkeyCode==8){
            //$("#txtProductChemical").val("");
            _nProductIDChemicals=0;
        }
    });

    function GetProducts(sProductName, bIsDyes){
        var bProductCategoryID=0;
        if(bIsDyes)
        {
             bProductCategoryID=25;
        }
        else{
            bProductCategoryID=26;
        }

        var oProduct = {
            BUID:_nBUID,
            ProductName:sProductName,
            ProductCategoryName: (bIsDyes)? 'Dyes':'Chemicals',
            ProductCategoryID:bProductCategoryID

        };

        var obj = {
            BaseAddress: _sBaseAddress,
            Object: oProduct,
            ControllerName: "RouteSheet",
            ActionName: "GetProducts",
            IsWinClose: false
        };

        $.icsDataGets(obj, function (response) {

            if (response.status && response.objs.length > 0) {
                if (response.objs[0].ProductID > 0) {
                    debugger;
                    var tblColums = [];
                    var oColumn = { field: "ProductCode", title: "Code", width: 100, align: "left" };tblColums.push(oColumn);
                    oColumn = { field: "ProductName", title: "Name", width: 160, align: "left" };tblColums.push(oColumn);
                    oColumn = { field: "ProductCategoryName", title: "Category Name", width: 270, align: "left" };tblColums.push(oColumn);
                    oColumn = { field: "MUnit", title: "Unit", width: 70, align: "left" };tblColums.push(oColumn);

                    var oPickerParam = {
                        winid: 'winProductPicker',
                        winclass:'clsProductPicker',
                        winwidth: 460,
                        winheight: 460,
                        tableid: 'tblProductPicker',
                        tablecolumns: tblColums,
                        datalist: response.objs,
                        multiplereturn: false,
                        searchingbyfieldName:'ProductName',
                        windowTittle: 'Product List'
                    };
                    $.icsPicker(oPickerParam);
                    IntializeProductPickerbutton(oPickerParam,bIsDyes);//multiplereturn, winclassName
                }
                else { alert(response.objs[0].ErrorMessage); }
            }
            else{
                alert("No product found.");
            }
        });


    }

    $("#btnPickLot").click(function () {

        var oLabdipRecipe = $("#tblRecipeDyes").datagrid("getSelected");
        if (oLabdipRecipe == null || oLabdipRecipe.LabdipRecipeID <= 0) { alert("Please select an item from list."); return false; }

        var sLotNo=$.trim($("#txtLot").val());
        //if(sLotNo==""){ alert("Type lot no to search."); return false; }
        GetLots(sLotNo, true);
    });

    $("#txtLot").keydown(function (e) {
        var nkeyCode = e.keyCode || e.which;
        if(nkeyCode==13){
           
            var oLabdipRecipe = $("#tblRecipeDyes").datagrid("getSelected");
            if (oLabdipRecipe == null || oLabdipRecipe.LabdipRecipeID <= 0) { alert("Please select an item from list."); return false; }

            var sLotNo=$.trim($("#txtLot").val());
            if(sLotNo==""){ alert("Type lot no to search."); return false; }
            GetLots(sLotNo, true);
        }
        //else if(nkeyCode==8){
        //    ResetLot(false);
        //}
    });
    $("#btnPickLotTwo").click(function () {
        var oLabdipRecipe = $("#tblRecipeChemical").datagrid("getSelected");
        if (oLabdipRecipe == null || oLabdipRecipe.LabdipRecipeID <= 0) { alert("Please select an item from list."); return false; }
        var sLotNo=$.trim($("#txtLot").val());
        //if(sLotNo==""){ alert("Type lot no to search."); return false; }
        GetLots(sLotNo, false);
    });

    $("#txtLotTwo").keydown(function (e) {
        var nkeyCode = e.keyCode || e.which;
        if(nkeyCode==13){
            //if(!ValidationRouteSheet()) return;
            var oLabdipRecipe = $("#tblRecipeChemical").datagrid("getSelected");
            if (oLabdipRecipe == null || oLabdipRecipe.LabdipRecipeID <= 0) { alert("Please select an item from list."); return false; }
            var sLotNo=$.trim($("#txtLot").val());
            //if(sLotNo==""){ alert("Type lot no to search."); return false; }
            GetLots(sLotNo, false);
        }
        //else if(nkeyCode==8){
        //    ResetLot(false);
        //}
    });
    function GetLots(sLotNo,bIsDyes){
        var oLabdipRecipe =null;
        if(bIsDyes)
        {
             oLabdipRecipe = $("#tblRecipeDyes").datagrid("getSelected");
        }
        else
        {
             oLabdipRecipe = $("#tblRecipeChemical").datagrid("getSelected");
        }

        if (oLabdipRecipe == null || oLabdipRecipe.LabdipRecipeID <= 0) { alert("Please select an item from list."); return false; }


        var oLot = {
            ProductID:oLabdipRecipe.ProductID,
            LotNo:sLotNo,
            WorkingUnitID:0
        };
        var obj = {
            BaseAddress: _sBaseAddress,
            Object: oLot,
            ControllerName: "Lot",
            ActionName: "GetsLot",
            IsWinClose: false
        };

        $.icsDataGets(obj, function (response) {

            if (response.status && response.objs.length > 0) {
                if (response.objs[0].ProductID > 0) {
                    debugger;
                    var tblColums = [];
                    var oColumn = { field: "LotNo", title: "Lot No", width: 80, align: "left" };tblColums.push(oColumn);
                    oColumn = { field: "ProductName", title: "Name", width: 180, align: "left" };tblColums.push(oColumn);
                    oColumn = { field: "Balance", title: "Qty", width: 80, align: "right", formatter:formatPrice };tblColums.push(oColumn);
                    oColumn = { field: "MUName", title: "Unit", width: 70, align: "left"};tblColums.push(oColumn);


                    var oPickerParam = {
                        winid: 'winLotPicker',
                        winclass:'clsLotPicker',
                        winwidth: 500,
                        winheight: 460,
                        tableid: 'tblLotPicker',
                        tablecolumns: tblColums,
                        datalist: response.objs,
                        multiplereturn: false,
                        searchingbyfieldName:'LotNo',
                        windowTittle: 'Lot List'
                    };
                    $.icsPicker(oPickerParam);
                    IntializeProductPickerbutton(oPickerParam,bIsDyes);//multiplereturn, winclassName
                }
                else { alert(response.objs[0].ErrorMessage); }
            }
            else{
                alert("No lot found.");
            }
        });
    }

    function IntializeProductPickerbutton(oPickerobj, bIsDyes)
    {
        $("#" + oPickerobj.winid).find("#btnOk").click(function () {
            ProductSelect(oPickerobj, bIsDyes);
        });
        $(document).find('.' +oPickerobj.winclass).keydown(function (e) {
            if (e.which == 13)//enter=13
            {
                ProductSelect(oPickerobj, bIsDyes);
            }
        });
    }

    function ProductSelect(oPickerobj, bIsDyes){
        var oProduct = $('#'+oPickerobj.tableid).datagrid('getSelected');
        if (oPickerobj.winid == 'winProductPicker')
        {
            if(oProduct !=null  && oProduct.ProductID>0){
                $("#"+oPickerobj.winid).icsWindow("close");
                $("#" + oPickerobj.winid).remove();
                debugger;
                if(bIsDyes){
                    $('#txtProductDyes').val(oProduct.ProductNameCode);
                    _nProductIDDyes= oProduct.ProductID;
                    $('#txtQtyDyes').focus();
                }
                else{
                    $('#txtProductChemical').val(oProduct.ProductNameCode);
                    _nProductIDChemicals= oProduct.ProductID;
                    $('#txtQtyChemical').focus();
                }
               
            }
            else{
                alert("Please select product.");
            }
        }
      else  if (oPickerobj.winid == 'winLDColorPicker')
        {
            if(oProduct !=null  && oProduct.LabdipColorID>0){
                $("#"+oPickerobj.winid).icsWindow("close");
                $("#" + oPickerobj.winid).remove();
                $('#txtLDCode').val(oProduct.Code+""+oProduct.CodeNo);
                _nLabdipColorID= oProduct.LabdipColorID;
                $('#txtColorName').focus().select();
                SaveColorNo();
            }
            else{
                alert("Please select product.");
            }
        }
      else   if (oPickerobj.winid ==  'winLotPicker')
      {
          if(oProduct !=null  && oProduct.ProductID>0){
              $("#"+oPickerobj.winid).icsWindow("close");
              $("#" + oPickerobj.winid).remove();
              debugger;
              if(bIsDyes){
                  SaveLotDyes(oProduct);
              }
              else{
                  SaveLotChemical(oProduct);
              }
               
          }
          else{
              alert("Please select product.");
          }
        }
    }
    function SaveLotDyes(oLot)
    {

        var oLabdipRecipe = $("#tblRecipeDyes").datagrid("getSelected");
        if (oLabdipRecipe == null || oLabdipRecipe.LabdipRecipeID <= 0) { alert("Please select an item from list."); return false; }

        oLabdipRecipe.LotID=oLot.LotID;
        oLabdipRecipe.LotNo=oLot.LotNo;
        if (oLabdipRecipe.LotID <= 0) { alert("Please select an item from list."); return false; }
      
        var obj =
          {
              BaseAddress: _sBaseAddress,
              Object: oLabdipRecipe,
              ObjectId: oLabdipRecipe.LabdipRecipeID,
              ControllerName: "LabDip",
              ActionName: "UpdateLot_Recipe",
              TableId: "tblRecipeDyes",
              IsWinClose: false
          };
        $.icsSave(obj, function (response) {
            if (response.status) {
                //OperationPerformsExportLC(nRowIndex, response.obj);
            }
        });

        //var obj =
        //    {
        //        BaseAddress: _sBaseAddress,
        //        Object: oLabdipRecipe,
        //        ObjectId: oLabdipRecipe.LabdipRecipeID,
        //        ControllerName: "LabDip",
        //        ActionName: "UpdateLot",
        //        TableId: "tblRecipeDyes",
        //        IsWinClose: false
        //    };
        //$.icsSave(obj, function (response) {
        //    if (response.status) {
        //        //OperationPerformsExportLC(nRowIndex, response.obj);
        //    }
        //});
    }
    function SaveLotChemical(oLot)
    {
        var oLabdipRecipe = $("#tblRecipeChemical").datagrid("getSelected");
        if (oLabdipRecipe == null || oLabdipRecipe.LabdipRecipeID <= 0) { alert("Please select an item from list."); return false; }

        oLabdipRecipe.LotID=oLot.LotID;
        oLabdipRecipe.LotNo=oLot.LotNo;
        if (oLabdipRecipe.LotID <= 0) { alert("Please select an item from list."); return false; }

        var obj =
            {
                BaseAddress: _sBaseAddress,
                Object: oLabdipRecipe,
                ObjectId: oLabdipRecipe.LabdipRecipeID,
                ControllerName: "LabDip",
                ActionName: "UpdateLot",
                TableId: "tblRecipeChemical",
                IsWinClose: false
            };
        $.icsSave(obj, function (response) {
            if (response.status) {
                //OperationPerformsExportLC(nRowIndex, response.obj);
            }
        });
    }
    
    /// Update Color No
    $("#btnColorNo").click(function () {
        var oLabDipDetail = $('#tblLabDipDetail').datagrid('getSelected');
        var nSelectedIndex= $('#tblLabDipDetail').datagrid('getRowIndex',oLabDipDetail);
        if (oLabDipDetail ==null || oLabDipDetail.LabDipDetailID<=0) { alert("Please select an item from list."); return ; }
        $('#txtLDCode').val("");
        $('#txtColorName_LD').val(oLabDipDetail.ColorName);
        _nLabdipColorID=oLabDipDetail.LabdipColorID;
        $('#txtColorNoLD').val(oLabDipDetail.ColorNo);
        $('#txtLDCode').val(oLabDipDetail.ColorCode);
        $('#txtColorName_LD').prop('disabled',true);
        $('#txtColorNoLD').prop('disabled',true);
        $('#txtLDCode').prop('disabled',false);
        $('#txtColorNew').prop('disabled',false);
        $('#txtColorNew').val('');
        $("#winColorNoEntry").icsWindow('open', "Update Color Entry");

    });

    $("#btnSaveColorNo").click(function (e) {
        SaveColorNo();
    });
    function SaveColorNo()
    {
        var oLabDipDetail=$('#tblLabDipDetail').datagrid('getSelected');
        var nSelectedIndex= $('#tblLabDipDetail').datagrid('getRowIndex',oLabDipDetail);
        if(oLabDipDetail==null || oLabDipDetail.LabDipDetailID<=0)
        {
            alert("Please select a item from list!");
            return;
        }
        if(_nLabdipColorID==null || _nLabdipColorID<=0)
        {
            alert("Please Pick color code!");
            return;
        }
        var nSelectedIndex= $('#tblLabDipDetail').datagrid('getRowIndex',oLabDipDetail);
        oLabDipDetail.ColorNo= $('#txtColorNew').val();
        oLabDipDetail.LabdipColorID=_nLabdipColorID;

        var obj =
            {
                BaseAddress: _sBaseAddress,
                Object: oLabDipDetail,
                ObjectId: oLabDipDetail.LabDipDetailID,
                ControllerName: "LabDip",
                ActionName: "Save_ColorNo",
                TableId: "tblLabDipDetail",
                IsWinClose: true
            };
        $.icsSave(obj, function (response) {
            if (response.status) {
                //OperationPerformsExportLC(nRowIndex, response.obj);
            }
        });
    }

    $("#btnCloseColorNo").click(function () {
        $("#winColorNoEntry").icsWindow("close");
    });

    ///
    ///Color Code
    $("#txtColorNew").keypress(function (e) {
        if (e.which != 8 && e.which != 0  && e.which != 46  && (e.which < 48 || e.which > 57)) {
            return false;
        }
      
    });
    $("#btnPickLDCode").click(function () {

        var sLDCode=$.trim($("#txtLDCode").val());
        if(sLDCode==""){ alert("Type Code to search."); return false; }
        GetLDColorCodes(sLDCode);
    });

    $("#txtLDCode").keydown(function (e) {
        var nkeyCode = e.keyCode || e.which;
        if(nkeyCode==13){
            var sLDCode=$.trim($("#txtLDCode").val());
            if(sLDCode==""){ alert("Type Code to search."); return false; }
            GetLDColorCodes(sLDCode);
        }
        else if(nkeyCode==8){
            $("#txtLDCode").val("");
            _nLabdipColorID=0;
        }
    });

    function GetLDColorCodes(sLDCode){
        var oLabdipColor = { Code:sLDCode};

        var obj = {
            BaseAddress: _sBaseAddress,
            Object: oLabdipColor,
            ControllerName: "LabDip",
            ActionName: "GetLabDipLolors",
            IsWinClose: false
        };

        $.icsDataGets(obj, function (response) {

            if (response.status && response.objs.length > 0) {
                if (response.objs[0].LabdipColorID > 0) {
                    debugger;
                    var tblColums = [];
                    var oColumn = { field: "Code", title: "Code", width: 80, align: "left" };tblColums.push(oColumn);
                    oColumn = { field: "CodeNo", title: "Name", width: 50, align: "left" };tblColums.push(oColumn);
                    oColumn = { field: "Name", title: "Unit", width: 100, align: "left" };tblColums.push(oColumn);

                    var oPickerParam = {
                        winid: 'winLDColorPicker',
                        winclass:'clsLDColorPicker',
                        winwidth: 520,
                        winheight: 460,
                        tableid: 'tblLDColorPicker',
                        tablecolumns: tblColums,
                        datalist: response.objs,
                        multiplereturn: false,
                        searchingbyfieldName:'Code',
                        windowTittle: 'Code List'
                    };
                    $.icsPicker(oPickerParam);
                    IntializeProductPickerbutton(oPickerParam);//multiplereturn, winclassName
                }
                else { alert(response.objs[0].ErrorMessage); }
            }
            else{
                alert("No Code found.");
            }
        });

    }

  
    $("#txtQtyDyes").keyup(function (e)
    {
            var oLabdipShade = $("#tblLabdipShade").datagrid("getSelected");
            if (oLabdipShade != null && oLabdipShade.LabdipShadeID > 0) 
            {
                $('#txtPerDyes').val( parseFloat(icsRemoveComma($('#txtQtyDyes').val()))*100/oLabdipShade.Qty);
            }
    });
     $("#txtPerDyes").keyup(function (e){
       
            var oLabdipShade = $("#tblLabdipShade").datagrid("getSelected");
            if (oLabdipShade != null && oLabdipShade.LabdipShadeID > 0) 
            {
                $('#txtQtyDyes').val( parseFloat((icsRemoveComma($('#txtPerDyes').val()))*oLabdipShade.Qty)/100);
            }
    });
</script>