@model ESimSol.BusinessObjects.LabDip
@{
    ViewBag.Title = "Lab Dip";
}

<body>
    <div id="region-labdip" class="menuMainCollectionTable ms-custom-control form-horizontal">
        <fieldset>
            <legend>Lab Dip</legend>
            <div class="row">
                <div class="col-md-12 ">
                    <div class="col-md-2 text-right"><label class="control-label">Lab Dip No:</label></div>
                    <div class="col-md-2 text-left">
                        <input id="txtLabdipNo" class="form-control" disabled />
                    </div>
                    <div class="col-md-2 text-right"><label class="control-label">Issue Date:</label></div>
                    <div class="col-md-2 text-left">
                        <div class="input-group date date-container">
                            <input id="dtOrderDate" type="text" class="form-control"><span class="input-group-addon"><i class="glyphicon glyphicon-th" ng-disabled="disabled"></i></span>
                        </div>
                    </div>
                    <div class="col-md-2 text-right"><label class="control-label">Mkt Person:</label></div>
                    <div class="col-md-2 text-left">
                        <select id="cboMktPerson" class="form-control" disabled></select>
                    </div>

                </div>
            </div>

            <div class="row">
                <div class="col-md-12 ">
                    <div class="col-md-2 text-right"><label class="control-label">Issue To:</label></div>
                    <div class="col-md-6 text-left">
                        <input id="txtContractorName" class="form-control" disabled />
                    </div>
                    <div class="col-md-2 text-right"><label class="control-label">Contract Person:</label></div>
                    <div class="col-md-2 text-left">
                        <select id="cboContactPersonnel" class="form-control"></select>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-md-12 ">
                    <div class="col-md-2 text-right"><label class="control-label">Delivered To:</label></div>
                    <div class="col-md-6 text-left">
                        <input id="txtDeliveryToName" class="form-control" disabled />
                    </div>
                    <div class="col-md-2 text-right"><label class="control-label">Contract Person:</label></div>
                    <div class="col-md-2 text-left">
                        <select id="cboDeliveredContactPersonnel" class="form-control"></select>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-md-12 ">
                    <div class="col-md-2 text-right"><label class="control-label">Buyer Ref:</label></div>
                    <div class="col-md-2 text-left">
                        <input id="txtBuyerRefNo" class="form-control" />
                    </div>
                    <div class="col-md-2 text-right"><label class="control-label">Priority Level:</label></div>
                    <div class="col-md-2 text-left">
                        <select id="cboPriorityLevel" class="form-control"></select>
                    </div>
                    <div class="col-md-2 text-right"><label class="control-label">Ligth Source:</label></div>
                    <div class="col-md-2 text-left">
                        <select id="cboLightSource" class="form-control" disabled></select>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-md-12 ">
                    <div class="col-md-2 text-right"><label class="control-label">Labdip Format:</label></div>
                    <div class="col-md-2 text-left">
                        <select id="cboLabDipFormat" class="form-control"></select>
                    </div>
                    <div class="col-md-2 text-right"><label class="control-label">Requirement Date:</label></div>
                    <div class="col-md-2 text-left">
                        <div class="input-group date date-container">
                            <input id="dtSeeking" type="text" class="form-control"><span class="input-group-addon"><i class="glyphicon glyphicon-th" ng-disabled="disabled"></i></span>
                        </div>
                    </div>
                    <div class="col-md-2 text-right"><label class="control-label">Twisted:</label></div>
                    <div class="col-md-2 text-left">
                        <input id="chkIsTwisted" type="checkbox" class="form-control" />
                    </div>

                </div>
            </div>

            <div class="row">
                <div class="col-md-12 ">
                    <div class="col-md-2 text-right"><label class="control-label">Note:</label></div>
                    <div class="col-md-10 text-left">
                        <input id="txtNote" class="form-control" ng-disabled="disabled" />
                    </div>
                </div>
            </div>

        </fieldset>
        <div class="row">
            <div class="col-md-12">
                <table id="tblLabDipDetail" class="easyui-datagrid" style="height: 290px; width:100%;" fitcolumns="true" rownumbers="true" pagination="false" singleselect="true" autorowheight="false" toolbar="#toolbar" data-options="onLoadSuccess: onLoadSuccess,  onClickRow: onClickRow">
                    <thead>
                    </thead>
                </table>
                <div id="toolbar"> 
                    <a id="btnAddDetail" href="javascript:void(0)" class="easyui-linkbutton" iconcls="icon-add" plain="true">Add</a>
                    <a id="btnEditDetail" href="javascript:void(0)" class="easyui-linkbutton" iconcls="icon-edit" plain="true"><label id="lblEditUpdate">Edit</label></a>
                    <a id="btnRemoveDetail" href="javascript:void(0)" class="easyui-linkbutton" iconcls="icon-remove" plain="true">Remove</a>
                    <a id="btnMakeTwisted" href="javascript:void(0)" class="easyui-linkbutton" iconcls="icon-ok" plain="true">Create Twisted</a>
                    <a id="btnRemoveTwisted" href="javascript:void(0)" class="easyui-linkbutton" iconcls="icon-ok" plain="true">Remove Twisted</a>

                </div>
            </div>
        </div>
        <div class="row">
            <fieldset>
                <legend>Actions : </legend>
                <div class="col-md-4 col-md-offset-8 text-right">
                    <button type="button" class="btn btn-sm" aria-label="Left Align" id="btnSave"> <span class="glyphicon glyphicon-floppy-disk" aria-hidden="true"></span> Save</button>
                    <button type="button" class="btn btn-sm" aria-label="Left Align" id="btnClose"> <span class="glyphicon glyphicon-remove" aria-hidden="true"></span> Close</button>
                </div>
            </fieldset>
        </div>
    </div>
</body>

<style>
    #region-labdip .col-md-2, .col-md-4, .col-md-6, .col-md-10, .col-md-12{
        padding-left:0px;
        padding-right:5px;
    }
</style>

<script type="text/javascript">

    $(document).ready(function () {
        _sBaseAddress =@Html.Raw(new System.Web.Script.Serialization.JavaScriptSerializer().Serialize(HttpContext.Current.Session[SessionInfo.BaseAddress]));
        var oLabDip =@Html.Raw(new System.Web.Script.Serialization.JavaScriptSerializer().Serialize(Model));
        var oLabdipFormats =@Html.Raw(new System.Web.Script.Serialization.JavaScriptSerializer().Serialize(@ViewBag.LabdipFormats));
        var oCPs =@Html.Raw(new System.Web.Script.Serialization.JavaScriptSerializer().Serialize(@ViewBag.CPs));
        var oMktPersons=@Html.Raw(new System.Web.Script.Serialization.JavaScriptSerializer().Serialize(@ViewBag.MarketingAccounts));
        var oLightSources=@Html.Raw(new System.Web.Script.Serialization.JavaScriptSerializer().Serialize(@ViewBag.LightSources));
        var oPriorityLevels =@Html.Raw(new System.Web.Script.Serialization.JavaScriptSerializer().Serialize(@ViewBag.PriorityLevels));
        var oKnitPlyYarns =@Html.Raw(new System.Web.Script.Serialization.JavaScriptSerializer().Serialize(@ViewBag.KnitPlyYarns));

        $('#tblLabDipDetail').data('Editable',true);
        $('#btnAddDetail, #btnEditDetail, #btnRemoveDetail').hide();
        $('#region-labdip').data('Labdip',oLabDip);
        $('#tblLabDipDetail').data('CellRowSpan',[]);

        $('.date-container').datepicker({
            format: "dd M yyyy",
            calendarWeeks: true,
            autoclose: true,
            todayHighlight: true
        });
        
        $('#dtOrderDate,#dtSeeking').val(icsdateformat(new Date()));
        SetGridValue(oKnitPlyYarns);
        LabdipFormat();
        LoadCombo(oLabdipFormats, oCPs, oMktPersons, oLightSources, oPriorityLevels);
        RefreshControl();

    });


    function LoadCombo(oLabdipFormats, oCPs, oMktPersons, oLightSources, oPriorityLevels){
        $("#cboLabDipFormat").icsLoadCombo({
            List: oLabdipFormats,
            OptionValue: "id",
            DisplayText: "Description",
            InitialValue:"--Select Format--"
        });

        $("#cboContactPersonnel, #cboDeliveredContactPersonnel").icsLoadCombo({
            List: oCPs,
            OptionValue: "ContactPersonnelID",
            DisplayText: "Name",
            InitialValue:"--Select Contact Person--"
        });

        $("#cboMktPerson").icsLoadCombo({
            List: oMktPersons,
            OptionValue: "MarketingAccountID",
            DisplayText: "Name_Group",
            InitialValue:"--Select Mkt Person--"
        });

        $("#cboLightSource").icsLoadCombo({
            List: oLightSources,
            OptionValue: "LightSourceID",
            DisplayText: "Descriptions",
            InitialValue:"--Select Light Source--"
        });

        $("#cboPriorityLevel").icsLoadCombo({
            List: oPriorityLevels,
            OptionValue: "id",
            DisplayText: "Value",
            InitialValue:"--Select Priority Level--"
        });
    }

    function SetGridValue(oKnitPlyYarns){
        $('#tblLabDipDetail').datagrid({
            columns:[[
                {field:'Selected',checkbox:true},
                {field:'ProductNameCode',title:'Product Name', width:'20%',align:'left'},
                {field:'TwistedGroup',title:'Twisted', width:'6%',align:'left',
                    formatter:function(value){
                        if(value>0){
                            return "Twisted";
                        }
                        else{
                            return "";
                        }
                    }
                },
                {field:'ColorCode',title:'Code', width:'6%',align:'center'},
                {field:'ColorNo',title:'<label id="lblColorNoName">Color No</label>', width:'10%',align:'center'},
                {field:'ColorName',title:'Color Name', width:'8%',align:'center',editor:{type:'text'}},
                {field:'KnitPlyYarn',title:'Knit Ply',width:'8%',
                    formatter:function(value,row){
                        return row.KnitPlyYarnInString || value;
                    },
                    editor:{
                        type:'combobox',
                        options:{
                            valueField:'id',
                            textField:'Value',
                            data:oKnitPlyYarns,
                            required:true
                        }
                    }
                },
                {field:'PantonNo',title:'Panton No', width:'9%',align:'center',editor:{type:'text'}},
                {field:'RGB',title:'Kint Style', width:'6%',align:'center',editor:{type:'text'}},
                {field:'ColorSet',title:'Color Set', width:'6%',align:'center',editor:{type:'numberbox',options:{precision:0}}},
                {field:'ShadeCount',title:'Shade', width:'6%',align:'center',editor:{type:'numberbox',options:{precision:0}}},
                {field:'Gauge',title:'Knit Ply', width:'6%',align:'center',editor:{type:'numberbox',options:{precision:0}}},
                {field:'RefNo',title:'Remarks', width:'9%',align:'left',editor:{type:'text'}},

            ]],

        });
    }

   

    function LabdipFormat()
    {
        if($('#chkIsTwisted').is(':checked')){
            $('#tblLabDipDetail').datagrid('showColumn','Selected');
            $('#tblLabDipDetail').datagrid('showColumn','TwistedGroup');
        }
        else{
            $('#tblLabDipDetail').datagrid('hideColumn','Selected');
            $('#tblLabDipDetail').datagrid('hideColumn','TwistedGroup');
        }
        var oLabDipDetails=$('#tblLabDipDetail').datagrid('getRows');
        DynamicRefreshList(oLabDipDetails, 'tblLabDipDetail');
    }

    $('#chkIsTwisted').change(function(e){
        LabdipFormat();
    });

    function RefreshControl(){

        var oLabDip = $('#region-labdip').data('Labdip');
        $('#txtLabdipNo').val(oLabDip.LabdipNo)
        $('#dtOrderDate').val(oLabDip.OrderDateStr)
        $('#cboMktPerson').val(oLabDip.MktPersonID) 
        $('#txtContractorName').val(oLabDip.ContractorName) 
        $('#cboContactPersonnel').val("")
        $('#txtDeliveryToName').val(oLabDip.DeliveryToName)
        $('#cboDeliveredContactPersonnel').val("")
        $('#txtBuyerRefNo').val(oLabDip.BuyerRefNo)
        $('#cboPriorityLevel').val(oLabDip.PriorityLevel)
        $('#cboLightSource').val(oLabDip.LightSourceID)
        $('#cboLabDipFormat').val("")
        $('#dtSeeking').val(oLabDip.SeekingDateStr)
        $('#chkIsTwisted').prop('checked', oLabDip.ISTwisted)
        $('#txtNote').val(oLabDip.Note);

        DynamicRefreshList(oLabDip.LabDipDetails,"tblLabDipDetail");
    }

    function onLoadSuccess(data)
    {
        var oCellRowSpans = $('#tblLabDipDetail').data('CellRowSpan');
        var nIndex=0;
        var nSpan=0;
        for(var i=0;i<oCellRowSpans.length;i++){
            var oMCell=[oCellRowSpans[i].mergerCell];
            nIndex=oMCell[0][0];
            nSpan= oMCell[0][1];
            if(oCellRowSpans[i].FieldName=="TwistedGroup"){
                $(this).datagrid('mergeCells',{index: nIndex, field: 'TwistedGroup', rowspan: nSpan});
            }
        }
    }

    function Validation(){
        var oLabdip=$('#region-labdip').data('Labdip');

        if(oLabdip.FabricID<=0){
            alert("No fabric found. Contact with vendor.");
            return false;
        }
        else if(new Date($("#dtOrderDate").val()) == 'Invalid Date'){
            alert("Invalid Order date");
            $("#dtOrderDate").focus();
            return false;
        }
        else if($("#cboPriorityLevel").val()<=0){
            alert("Select priority level");
            $("#cboPriorityLevel").focus();
            return false;
        }
        else if($("#cboLabDipFormat").val()<=0){
            alert("Select Labdip format");
            $("#cboLabDipFormat").focus();
            return false;
        }
        else if(new Date($("#dtSeeking").val()) == 'Invalid Date'){
            alert("Invalid requirement date");
            $("#dtSeeking").focus();
            return false;
        }
        return true;

    }

    function RefreshObject()
    {
        var oLabDip= $('#region-labdip').data('Labdip');
        oLabDip.MktPersonID = $('#cboCPIssueTo').val();
        oLabDip.ContactPersonnelID = $('#cboContactPersonnel').val(),
        oLabDip.DeliveryToContactPersonnelID = $('#cboDeliveredContactPersonnel').val(),
        oLabDip.LightSourceID = $('#cboLightSource').val(),
        oLabDip.BuyerRefNo = $.trim($('#txtBuyerRefNo').val()),
        oLabDip.PriorityLevel = $('#cboPriorityLevel').val(),
        oLabDip.Note = $.trim($('#txtNote').val()),
        oLabDip.LabDipFormat = $('#cboLabDipFormat').val(),
        oLabDip.OrderDate= new Date($('#dtOrderDate').val()).toISOString(),
        oLabDip.SeekingDate = new Date($('#dtSeeking').val()).toISOString(),
        oLabDip.ISTwisted = $('#chkIsTwisted').is(':checked')
        return oLabDip;
    }

    $("#btnSave").click(function (){
        if(!Validation()) return false;

        var oLabDip=RefreshObject();
        var obj = {
            BaseAddress: _sBaseAddress,
            Object: oLabDip,
            ObjectId: oLabDip.LabDipID,
            ControllerName: "LabDip",
            ActionName: "Save",
            TableId: "",
            IsWinClose: false,
            Message: (oLabDip.LabDipID>0)?"Update Successfully." : "Save Successfully."
        };
        $.icsSave(obj, function (response) {
            if (response.status && response.obj != null) {
                if (response.obj.LabDipID > 0) {
                    var oLabDipDetails=$('#tblLabDipDetail').datagrid('getRows');
                    if(!response.obj.ISTwisted && oLabDipDetails.length>0){
                        for(var i=0;i<oLabDipDetails.length;i++){
                            oLabDipDetails[i].TwistedGroup=0;
                        }
                    }
                    response.obj.LabDipDetails=oLabDipDetails;
                    RefreshControl(response.obj);
                    SetIntoSessionStorage();
                }
            }
        });
    });


    $('#btnMakeTwisted').click(function(e){

        var oLabDipDetails= $('#tblLabDipDetail').datagrid('getChecked');

        if(oLabDipDetails.length<=0){
            alert("No items found to be twisted."); return false;
        }

        var sLabDipDetailIDs="";
        for(var i=0; i<oLabDipDetails.length; i++){
            sLabDipDetailIDs = sLabDipDetailIDs + oLabDipDetails[i].LabDipDetailID +",";
        }
        sLabDipDetailIDs=sLabDipDetailIDs.substring(0,sLabDipDetailIDs.length-1);

        var oLabDipDetail={
            LabDipID: oLabDipDetails[0].LabDipID,
            TwistedGroup: 0,
            Params: sLabDipDetailIDs
        }

        var obj = {
            BaseAddress: _sBaseAddress,
            Object: oLabDipDetail,
            ObjectId: oLabDipDetail.LabDipDetailID,
            ControllerName: "LabDip",
            ActionName: "MakeTwistedGroup",
            TableId: "",
            IsWinClose: false,
            Message: ""// (oLabDipDetail.LabDipDetailID>0)?"Update Successfully." : "Save Successfully."
        };
        $.icsSave(obj, function (response) {
            if (response.status && response.obj != null) {
                debugger;
                if (response.obj.LabDipDetails.length > 0 && response.obj.LabDipDetails[0].LabDipDetailID>0) {
                     var oLabDip= $('#region-labdip').data('Labdip')
                     oLabDip.ISTwisted=$('#chkIsTwisted').is(':checked');
                     $('#region-labdip').data('Labdip',oLabDip);

                     $('#tblLabDipDetail').data('CellRowSpan',response.obj.LabDipDetails[0].CellRowSpans);
                    DynamicRefreshList(response.obj.LabDipDetails, 'tblLabDipDetail');

                }
                else if(response.obj.LabDipDetails.length > 0 && response.obj.LabDipDetails[0].LabDipDetailID<=0){
                    alert(response.obj.LabDipDetails[0].ErrorMessage);
                }
                else{
                    alert(response.obj.ErrorMessage);
                }
            }
        });
    });

    $('#btnRemoveTwisted').click(function(e){

        var oLabDipDetails= $('#tblLabDipDetail').datagrid('getChecked');

        if(oLabDipDetails.length<=0){
            alert("No items found to be twisted."); return false;
        }

        var sLabDipDetailIDs="";
        for(var i=0; i<oLabDipDetails.length; i++){
            sLabDipDetailIDs = sLabDipDetailIDs + oLabDipDetails[i].LabDipDetailID +",";
        }
        sLabDipDetailIDs=sLabDipDetailIDs.substring(0,sLabDipDetailIDs.length-1);

        var oLabDipDetail={
            LabDipID: oLabDipDetails[0].LabDipID,
            TwistedGroup: 0,
            Params: sLabDipDetailIDs
        }

        var obj = {
            BaseAddress: _sBaseAddress,
            Object: oLabDipDetail,
            ObjectId: oLabDipDetail.LabDipDetailID,
            ControllerName: "LabDip",
            ActionName: "RemoveTwistedGroup",
            TableId: "",
            IsWinClose: false,
            Message: ""// (oLabDipDetail.LabDipDetailID>0)?"Update Successfully." : "Save Successfully."
        };
        $.icsSave(obj, function (response) {
            if (response.status && response.obj != null) {
                debugger;
                if (response.obj.LabDipDetails.length > 0 && response.obj.LabDipDetails[0].LabDipDetailID>0) {
                    $('#tblLabDipDetail').data('CellRowSpan',response.obj.LabDipDetails[0].CellRowSpans);

                    DynamicRefreshList(response.obj.LabDipDetails, 'tblLabDipDetail');
                }
                else{
                    alert(response.obj.ErrorMessage);
                }
            }
        });
    });

    function SaveLabdipDetail(oLabdipDetail,editIndex){

        
        var obj = {
            BaseAddress: _sBaseAddress,
            Object: oLabDipDetail,
            ObjectId: oLabDipDetail.LabDipDetailID,
            ControllerName: "LabDip",
            ActionName: "SaveDetail",
            TableId: ((oLabDipDetail.LabDip==null)?"tblLabDipDetail":""),
            IsWinClose: false,
            Message: ""// (oLabDipDetail.LabDipDetailID>0)?"Update Successfully." : "Save Successfully."
        };
        $.icsSave(obj, function (response) {
            if (response.status && response.obj != null) {
                debugger;
                if (response.obj.LabDipDetailID > 0) {

                    var oLabdip = response.obj.LabDip; 
                    response.obj.LabDip=null;
                    $('#tblLabDipDetail').datagrid('appendRow',response.obj);
                    oLabDip.LabDipDetails=$('#tblLabDipDetail').datagrid('getRows');

                    if(oLabdip.LabDipID>0){
                        $('#region-labdip').data('Labdip', oLabdip);
                        RefreshControl();
                    }

                    if(response.obj.TwistedGroup>0){
                        DynamicRefreshList($('#tblLabDipDetail').datagrid('getRows'), 'tblLabDipDetail');
                    }
                }
            }
        });

    }
    /*---------------------------------Grid cell edit---------------------*/

    var editIndex = undefined;

    function ResetGridEditing(){
        
        $('#tblLabDipDetail').data('LabDipDetail',null);
        editIndex = undefined;
    }

    function endEditing() {

        debugger;
        if (editIndex == undefined) {
            return true;
        }
        if ($('#tblLabDipDetail').datagrid('validateRow', editIndex))
        {

            $('#tblLabDipDetail').datagrid('endEdit', editIndex);
            $('#tblLabDipDetail').datagrid('selectRow', editIndex);

            var oLabdipDetail = $('#tblLabDipDetail').datagrid('getSelected'); // modified
            var oLDDetail = $('#tblLabDipDetail').data('LabDipDetail',oLabdipDetail); // before modified

            if((oLabdipDetail.ColorName == oLDDetail.ColorName) && (oLabdipDetail.KnitPlyYarn == oLDDetail.KnitPlyYarn) && (oLabdipDetail.PantonNo == oLDDetail.PantonNo) && (oLabdipDetail.RGB == oLDDetail.RGB) && (oLabdipDetail.ColorSet == oLDDetail.ColorSet) && (oLabdipDetail.ShadeCount == oLDDetail.ShadeCount) && (oLabdipDetail.Gauge == oLDDetail.Gauge) && (oLabdipDetail.RefNo == oLDDetail.RefNo)) {
                $('#tblLabDipDetail').datagrid('endEdit', editIndex);
                editIndex = undefined;
                return true;
            }
            else
            {
                if($.trim(oLabdipDetail.ColorName)==''){
                    alert("Color name required");
                    $('#tblLabDipDetail').datagrid('endEdit', editIndex);
                    editIndex = undefined;
                    return true;
                }

                if($.trim(oLabdipDetail.PantonNo)==''){
                    alert("PantonNo name required");
                    $('#tblLabDipDetail').datagrid('endEdit', editIndex);
                    editIndex = undefined;
                    return true;
                }


                if (!Validation()) 
                { 
                    $('#tblLabDipDetail').datagrid('selectRow', editIndex).datagrid('beginEdit', editIndex);
                    return false; 
                }
                oLabdipDetail.LabDipID = $('#region-labdip').data('Labdip').LabDipID;
                oLabdipDetail.LabDip = ($('#region-labdip').data('Labdip').LabDipID<=0)? RefreshObj(): null;
                SaveLabdipDetail(oLabdipDetail,editIndex);
                return true;
            }
        }
        else {
            return false;
        }
    }

    function onClickRow(index) {
        if ($('#tblLabDipDetail').data('Editable')) {
            if (editIndex != index) {
                if (endEditing()) {
                    $('#tblLabDipDetail').datagrid('selectRow', index).datagrid('beginEdit', index);
                    var oLabdipDetail = $('#tblLabDipDetail').datagrid('getSelected');
                    $('#tblLabDipDetail').data('LabDipDetail',oLabdipDetail);
                    editIndex = index;
                }
                else {
                    $('#tblLabDipDetail').datagrid('selectRow', editIndex);
                }
            }
        }
    }
</script>