<html>
@{
    ViewBag.Title = "Service Order Entry";
}
<body>
    @model ESimSol.BusinessObjects.ServiceOrder
    <script src="~/Views/VehicleRegistration/VehicleRegistrations.js"></script>
    <script src="~/Views/VehicleChassis/VehicleChassiss.js"></script>
    <script src="~/Views/VehicleEngine/VehicleEngine.js"></script>

    <div class="menuMainCollectionTable" ng-app="ServiceOrderApp" ng-controller="ServiceOrderController as SODC" style="height:100%; width:100%; overflow:hidden" id="divServiceOrder">
        <div style="height:4%; overflow:hidden;" class="ui-grid-top-panel">
            <label style="">Service Order Info:</label>
        </div>
        <div style="font-family:Tahoma;text-align:center;height:84%;overflow:scroll" class="regionVR">
            <div class="col-md-12" style="height:50%">
                <fieldset style="height:100px; border:hidden">
                    <div class="col-md-12">
                        <div class="col-md-1 text-right">
                            <label class="control-label">Order No:</label>
                        </div>
                        <div class="col-md-2 text-left">
                            <input ng-model="ServiceOrder.ServiceOrderNo" class="form-control" disabled />
                        </div>
                        <div class="col-md-1 text-right">
                            <label class="control-label">Order Type:</label>
                        </div>
                        <div class="col-md-2">
                            <select class="form-control" ng-model="ServiceOrder.ServiceOrderType" ng-options="oItem.id as oItem.Value for oItem in ServiceOrderTypes" ng-disabled="disabled">
                                <option value="">---Select Type---</option>
                            </select>
                        </div>
                        <div class="col-md-1" style="text-align:right;">
                            <label class="control-label">Issue Date:</label>
                        </div>
                        <div class="col-md-2">
                            <div class="input-group date date-container">
                                <input type="text" class="form-control" ng-model="ServiceOrder.IssueDateSt"><span class="input-group-addon"><i class="glyphicon glyphicon-th"></i></span>
                            </div>
                        </div>
                        <div class="col-md-1" style="text-align:right;">
                            <label class="control-label">Service Date:</label>
                        </div>
                        <div class="col-md-2">
                            <div class="input-group date date-container">
                                <input type="text" class="form-control" ng-model="ServiceOrder.ServiceOrderDateSt" ><span class="input-group-addon"><i class="glyphicon glyphicon-th"></i></span>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-12">
                        <div class="col-md-1 text-right">
                            <label class="control-label">Reg. No:</label>
                        </div>
                        <div class="col-md-5 text-left">
                            <div class="input-group">
                                <input ng-model="VehicleRegNo" class="form-control" ng-keydown="SearchKeyDownVehicleRegistration($event)" placeholder="Type Reg/Model/Chassis No & Press Enter" required />
                                <span class="input-group-btn">
                                    <button type="button" class="btn btn-sm" aria-label="left Align" ng-click="ClearVehicleRegistration()"><span class="glyphicon glyphicon-trash" aria-hidden="true"></span></button>
                                    <button type="button" class="btn btn-sm" aria-label="Left Align" ng-click="PickVehicleRegistration()"> <span class="glyphicon glyphicon-search" aria-hidden="true"></span></button>
                                    <button type="button" class="btn btn-sm" aria-label="left Align" ng-click="AddVehicleReg()"> <span class="glyphicon glyphicon-plus" aria-hidden="true"></span></button>
                                </span>
                            </div>
                        </div>
                        <div class="col-md-1 text-right">
                            <label class="control-label" style="font-size:10px">Chassis No/VIN</label>
                        </div>
                        <div class="col-md-5 text-left">
                            <input ng-model="ServiceOrder.ChassisNo" class="form-control" placeholder="Chassis No" disabled />
                        </div>
                    </div>
                    <div class="col-md-12">
                        <div class="col-md-1 text-right">
                            <label class="control-label">Model No:</label>
                        </div>
                        <div class="col-md-2 text-left">
                            <input ng-model="ServiceOrder.VehicleModelNo" class="form-control" disabled />
                        </div>
                        <div class="col-md-1 text-right">
                            <label class="control-label">Vehicle Type:</label>
                        </div>
                        <div class="col-md-2 text-left">
                            <input ng-model="ServiceOrder.VehicleTypeName" class="form-control" disabled />
                        </div>

                        <div class="col-md-1 text-right">
                            <label class="control-label">Engine No:</label>
                        </div>
                        <div class="col-md-2 text-left">
                            <input ng-model="ServiceOrder.EngineNo" class="form-control" placeholder="Engine No" disabled />
                        </div>                        
                        <div class="col-md-3">
                            <input ng-model="ServiceOrder.RemainingFreeService" class="form-control" placeholder="Remaining Free Service" disabled />
                        </div>
                    </div>
                    <div class="col-md-12">
                        <div class="col-md-1 text-right">
                            <label class="control-label">Customer:</label>
                        </div>
                        <div class="col-md-5 text-left">
                            <div class="input-group">
                                <input ng-model="ServiceOrder.CustomerName" class="form-control input-group-sm" ng-disabled="disabled" ng-keydown="SearchKeyDownCustomer($event)" placeholder="Type Customer Name & Press Enter" required />
                                <span class="input-group-btn">
                                    <button type="button" class="btn btn-sm" aria-label="left Align" ng-click="ClearCustomer()" ng-disabled="disabled" ng-disabled="disabled">
                                        <span class="glyphicon glyphicon-trash" aria-hidden="true"></span>
                                    </button>
                                    <span style="margin-left:0px;"></span>
                                    <button type="button" class="btn btn-sm" aria-label="left Align" ng-click="PickCustomer('')" ng-disabled="disabled">
                                        <span class="glyphicon glyphicon-search" aria-hidden="true"></span>
                                    </button>
                                </span>
                            </div>
                        </div>
                        <div class="col-md-1 text-right">
                            <label class="control-label">C. Person:</label>
                        </div>
                        <div class="col-md-5 text-left">
                            <div class="input-group">
                                <select class="form-control" ng-model="ServiceOrder.ContactPersonID" ng-options="oItem.ContactPersonnelID as oItem.Name for oItem in ContactPersonnels" ng-disabled="disabled">
                                    <option value="">---Select Type---</option>
                                </select>
                                <span class="input-group-btn">
                                    <button type="button" class="btn btn-sm" aria-label="left Align" ng-click="NewContactPerson()" ng-disabled="disabled">
                                        <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
                                    </button>
                                    <button type="button" class="btn btn-sm" aria-label="left Align" ng-click="GetContactPersonel()" ng-disabled="disabled">
                                        <span class="glyphicon glyphicon-refresh" aria-hidden="true"></span>
                                    </button>
                                    <span style="margin-left:2px;"></span>
                                </span>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-12">
                        <div class="col-md-1 text-right">
                            <label class="control-label">Advisor:</label>
                        </div>
                        <div class="col-md-2 text-left">
                            <select class="form-control" ng-model="ServiceOrder.AdvisorID" ng-options="oItem.EmployeeID as oItem.Name for oItem in Advisors" ng-disabled="disabled">
                                <option value="">---Select Advisor---</option>
                            </select>
                        </div>
                        <div class="col-md-1 text-right">
                            <label class="control-label">Sold By:</label>
                        </div>
                        <div class="col-md-2 text-left">
                            <input ng-model="ServiceOrder.SoldByDealer" class="form-control" placeholder="Sold By Dealer.." />
                        </div>
                        <div class="col-md-1" style="text-align:right;">
                            <label class="control-label">Rcv Date:</label>
                        </div>
                        <div class="col-md-2">
                            <input id="txtRcvDate" type="text" class="easyui-datetimebox" data-options="formatter:icsdatetimeformat,parser:icsdatetimeparser,showSeconds:false" required="required" style="width:100%" />
                            @*<div class="input-group date date-container"
                                <input type="text" class="form-control" ng-model="ServiceOrder.RcvDateTimeSt"><span class="input-group-addon"><i class="glyphicon glyphicon-th"></i></span>
                            </div>*@
                        </div>
                        <div class="col-md-1" style="text-align:right;">
                            <label class="control-label">Del. Date:</label>
                        </div>
                        <div class="col-md-2">
                            <input id="txtDelDate" type="text" class="easyui-datetimebox" data-options="formatter:icsdatetimeformat,parser:icsdatetimeparser,showSeconds:false" required="required" style="width:100%" />

                            @*<div class="input-group date date-container">
                                <input type="text" class="form-control" ng-model="ServiceOrder.DelDateTimeSt"><span class="input-group-addon"><i class="glyphicon glyphicon-th"></i></span>
                            </div>*@
                        </div>
                    </div>
                    <div class="col-md-12">
                        <div class="col-md-1 text-right">
                            <label class="control-label">Currency:</label>
                        </div>
                        <div class="col-md-2 text-left">
                            <select class="form-control" ng-model="ServiceOrder.CurrencyID" ng-options="oItem.CurrencyID as oItem.CurrencyName for oItem in Currencys" ng-disabled="disabled">
                                <option value="">---Select Currency---</option>
                            </select>
                        </div>
                        <div class="col-md-1 text-right">
                            <label class="control-label">KM Reading:</label>
                        </div>
                        <div class="col-md-2 text-left">
                            <input ng-model="ServiceOrder.KilometerReading" class="form-control" placeholder="Kilomerter Reading.." />
                        </div>
                        <div class="col-md-1 text-right">
                            <label class="control-label">Warranty(Ext):</label>
                        </div>
                        <div class="col-md-2 text-left">
                            <input ng-model="ServiceOrder.ExtendedWarranty" class="form-control" placeholder="Extended Warranty.." />
                        </div>
                        <div class="col-md-1 text-right">
                            <label class="control-label">Service Plan:</label>
                        </div>
                        <div class="col-md-2 text-left">
                            <select class="form-control" ng-model="ServiceOrder.ServicePlan" ng-options="oItem.PlanName as oItem.PlanName for oItem in ServicePlans" ng-disabled="disabled">
                                <option value="">---Select Plan---</option>
                            </select>
                        </div>
                    </div>
                    <div class="col-md-12">
                        <div class="col-md-1 text-right">
                            <label class="control-label">Mobility:</label>
                        </div>
                        <div class="col-md-2 text-left">
                            <input ng-model="ServiceOrder.MobilityService" class="form-control" placeholder="Mobility Service.." />
                        </div>
                        <div class="col-md-1 text-right">
                            <label class="control-label">I. Policy No:</label>
                        </div>
                        <div class="col-md-2 text-left">
                            <input ng-model="ServiceOrder.IPNo" class="form-control" placeholder="Insurance Policy No.." />
                        </div>
                        <div class="col-md-1 text-right">
                            <label class="control-label">IP Exp. Date:</label>
                        </div>
                        <div class="col-md-2 text-left">
                            <input ng-model="ServiceOrder.IPExpDate" class="form-control" placeholder="IP Expire Date.." />
                        </div>
                        <div class="col-md-1 text-right">
                            <label class="control-label">RSA P. No:</label>
                        </div>
                        <div class="col-md-2 text-left">
                            <input ng-model="ServiceOrder.RSAPolicyNo" class="form-control" placeholder="RSA Policy No.." />
                        </div>
                    </div>
                    <div class="col-md-12">
                        <div class="col-md-1 text-right">
                            <label class="control-label">Reason(visit):</label>
                        </div>
                        <div class="col-md-2 text-left">
                            <input ng-model="ServiceOrder.ReasonOfVisit" class="form-control" placeholder="Kilomerter Reading" />
                        </div>
                        <div class="col-md-1 text-right">
                            <label class="control-label" style="font-size:11px">Show Status:</label>
                        </div>
                        <div class="col-md-2 text-left">
                            <input ng-model="ServiceOrder.NoShowStatus" class="form-control" placeholder="No Show Status.." />
                        </div>
                        <div class="col-md-1 text-right">
                            <label class="control-label">Remarks:</label>
                        </div>
                        <div class="col-md-5 text-left">
                            <input ng-model="ServiceOrder.Remarks" class="form-control" placeholder=" Remarks / Notes" />
                        </div>
                    </div>
                    <div class="col-md-12">
                        <div class="col-md-2 text-right" >
                            
                        </div>
                        <div class="col-md-2 text-right" style="width:18% !important">
                           
                        </div>
                        <div class="col-md-2 text-right" style="width:17.8% !important">
                            
                        </div>
                        <div class="col-md-2 text-right" style="margin-left:15px">
                           
                        </div>
                        <div class="col-md-2 text-right" style="margin-left:15px">
                           
                        </div>
                    </div>
                </fieldset>
            </div>

            <div class="row" style="height:50%; width:100%;">
                <div class="col-md-12">
                    <div class="col-md-6">
                        <div class="ui-grid-panel col-md-12" style="text-align:left; width:100%">
                            <input ng-model="txtRServiceName" placeholder="Type desciption & Press Enter" ng-keydown="SearchKeyServiceNo($event,1)" style="width:210px; height:24px; margin-left:10px" required />
                            <button type="button" class="btn btn-default btn-xs" aria-label="right Align" ng-click="PickService(1, $event)"><span class="glyphicon glyphicon-ok" aria-hidden="true"> Pick</span></button>
                            <button type="button" class="btn btn-default btn-xs" aria-label="right Align" ng-click="AddService(1)"><span class="glyphicon glyphicon-plus-sign" aria-hidden="true"> Add</span></button>
                            <button type="button" class="btn btn-default btn-xs" aria-label="right Align" ng-click="RemoveDetail(1)"><span class="glyphicon glyphicon-remove" aria-hidden="true"> Remove</span></button>
                            <button type="button" class="btn btn-default btn-xs" aria-label="right Align" ng-click="RefreshDetail(1)"><span class="glyphicon glyphicon-refresh" aria-hidden="true"></span></button>
                        </div>
                        <div style="height:220px;" class="col-md-12" ui-grid="gridRegularServiceOrderDetail" ui-grid-selection ui-grid-edit></div>
                    </div>
                    <div class="col-md-6">
                        <fieldset>
                            <legend class="text-left">Direct Reception</legend>
                            <div class="col-md-12">
                                <div class="col-md-6">
                                    <div class="col-md-6" style="padding:3px 0px 0px 0px!important">
                                        <label class="control-label" style="font-size:12px;">Is Windows?</label>
                                    </div>
                                    <div class="col-md-6">
                                        <input type="radio" name="IsWindows" ng-model="ServiceOrder.IsWindows" ng-value="true">
                                        <label class={{ServiceOrder.IsWindows?"text-success":"text-muted"}} ng-click="ServiceOrder.IsWindows=true">Yes</label>
                                        <input type="radio" name="IsWindows" ng-model="ServiceOrder.IsWindows" ng-value="false">
                                        <label class="text-muted" ng-click="ServiceOrder.IsWindows=false">No</label>
                                    </div>
                                </div>
                                <div class="col-md-6" style="border-left:1px; border-left-style:solid">
                                    <div class="col-md-6">
                                        <label class="control-label" style="font-size:12px; font-weight:bold">Oil Level?</label>
                                    </div>
                                    <div class="col-md-6">
                                        <input type="radio" name="IsOilLevel" ng-model="ServiceOrder.IsOilLevel" ng-value="true">
                                        <label class={{ServiceOrder.IsOilLevel?"text-success":"text-muted"}} ng-click="ServiceOrder.IsOilLevel=true">Yes</label>
                                        <input type="radio" name="IsOilLevel" ng-model="ServiceOrder.IsOilLevel" ng-value="false">
                                        <label class="text-muted" ng-click="ServiceOrder.IsOilLevel=false">No</label>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-12">
                                <div class="col-md-6">
                                    <div class="col-md-6">
                                        <label class="control-label" style="font-size:12px; font-weight:bold">Wiper Blades?</label>
                                    </div>
                                    <div class="col-md-6">
                                        <input type="radio" name="IsWiperBlades" ng-model="ServiceOrder.IsWiperBlades" ng-value="true">
                                        <label class={{ServiceOrder.IsWiperBlades?"text-success":"text-muted"}} ng-click="ServiceOrder.IsWiperBlades=true">Yes</label>
                                        <input type="radio" name="IsWiperBlades" ng-model="ServiceOrder.IsWiperBlades" ng-value="false">
                                        <label class="text-muted" ng-click="ServiceOrder.IsWiperBlades=false">No</label>
                                    </div>
                                </div>
                                <div class="col-md-6" style="border-left:1px; border-left-style:solid">
                                    <div class="col-md-6">
                                        <label class="control-label" style="font-size:12px; font-weight:bold">Is Coolant?</label>
                                    </div>
                                    <div class="col-md-6">
                                        <input type="radio" name="IsCoolant" ng-model="ServiceOrder.IsCoolant" ng-value="true">
                                        <label class={{ServiceOrder.IsCoolant?"text-success":"text-muted"}} ng-click="ServiceOrder.IsCoolant=true">Yes</label>
                                        <input type="radio" name="IsCoolant" ng-model="ServiceOrder.IsCoolant" ng-value="false">
                                        <label class="text-muted" ng-click="ServiceOrder.IsCoolant=false">No</label>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-12">
                                <div class="col-md-6">
                                    <div class="col-md-6">
                                        <label class="control-label" style="font-size:12px; font-weight:bold">Is Lights?</label>
                                    </div>
                                    <div class="col-md-6">
                                        <input type="radio" name="IsLIghts" ng-model="ServiceOrder.IsLIghts" ng-value="true">
                                        <label class={{ServiceOrder.IsLIghts?"text-success":"text-muted"}} ng-click="ServiceOrder.IsLIghts=true">Yes</label>
                                        <input type="radio" name="IsLIghts" ng-model="ServiceOrder.IsLIghts" ng-value="false">
                                        <label class="text-muted" ng-click="ServiceOrder.IsLIghts=false">No</label>
                                    </div>
                                </div>
                                <div class="col-md-6" style="border-left:1px; border-left-style:solid">
                                    <div class="col-md-6">
                                        <label class="control-label" style="font-size:12px; font-weight:bold">Wind. Washer?</label>
                                    </div>
                                    <div class="col-md-6">
                                        <input type="radio" name="IsWindWasher" ng-model="ServiceOrder.IsWindWasher" ng-value="true">
                                        <label class={{ServiceOrder.IsWindWasher?"text-success":"text-muted"}} ng-click="ServiceOrder.IsWindWasher=true">Yes</label>
                                        <input type="radio" name="IsWindWasher" ng-model="ServiceOrder.IsWindWasher" ng-value="false">
                                        <label class="text-muted" ng-click="ServiceOrder.IsWindWasher=false">No</label>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-12">
                                <div class="col-md-6">
                                    <div class="col-md-6">
                                        <label class="control-label" style="font-size:12px; font-weight:bold">Is Exhaust Sys?</label>
                                    </div>
                                    <div class="col-md-6">
                                        <input type="radio" name="IsExhaustSys" ng-model="ServiceOrder.IsExhaustSys" ng-value="true">
                                        <label class={{ServiceOrder.IsExhaustSys?"text-success":"text-muted"}} ng-click="ServiceOrder.IsExhaustSys=true">Yes</label>
                                        <input type="radio" name="IsExhaustSys" ng-model="ServiceOrder.IsExhaustSys" ng-value="false">
                                        <label class="text-muted" ng-click="ServiceOrder.IsExhaustSys=false">No</label>
                                    </div>
                                </div>
                                <div class="col-md-6" style="border-left:1px; border-left-style:solid">
                                    <div class="col-md-6">
                                        <label class="control-label" style="font-size:12px; font-weight:bold">Is Brakes?</label>
                                    </div>
                                    <div class="col-md-6">
                                        <input type="radio" name="IsBreakes" ng-model="ServiceOrder.IsBreakes" ng-value="true">
                                        <label class={{ServiceOrder.IsBreakes?"text-success":"text-muted"}} ng-click="ServiceOrder.IsBreakes=true">Yes</label>
                                        <input type="radio" name="IsBreakes" ng-model="ServiceOrder.IsBreakes" ng-value="false">
                                        <label class="text-muted" ng-click="ServiceOrder.IsBreakes=false">No</label>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-12">
                                <div class="col-md-6">
                                    <div class="col-md-6">
                                        <label class="control-label" style="font-size:12px; font-weight:bold">Is Underboody?</label>
                                    </div>
                                    <div class="col-md-6">
                                        <input type="radio" name="IsUnderbody" ng-model="ServiceOrder.IsUnderbody" ng-value="true">
                                        <label class={{ServiceOrder.IsUnderbody?"text-success":"text-muted"}} ng-click="ServiceOrder.IsUnderbody=true">Yes</label>
                                        <input type="radio" name="IsUnderbody" ng-model="ServiceOrder.IsUnderbody" ng-value="false">
                                        <label class="text-muted" ng-click="ServiceOrder.IsUnderbody=false">No</label>
                                    </div>
                                </div>
                                <div class="col-md-6" style="border-left:1px; border-left-style:solid">
                                    <div class="col-md-6">
                                        <label class="control-label" style="font-size:12px; font-weight:bold">Is Axle?</label>
                                    </div>
                                    <div class="col-md-6">
                                        <input type="radio" name="IsAxle" ng-model="ServiceOrder.IsAxle" ng-value="true">
                                        <label class={{ServiceOrder.IsAxle?"text-success":"text-muted"}} ng-click="ServiceOrder.IsAxle=true">Yes</label>
                                        <input type="radio" name="IsAxle" ng-model="ServiceOrder.IsAxle" ng-value="false">
                                        <label class="text-muted" ng-click="ServiceOrder.IsAxle=false">No</label>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-12">
                                <div class="col-md-6">
                                    <div class="col-md-6">
                                        <label class="control-label" style="font-size:12px; font-weight:bold">Is Eng. Comp?</label>
                                    </div>
                                    <div class="col-md-6">
                                        <input type="radio" name="IsEngineComp" ng-model="ServiceOrder.IsEngineComp" ng-value="true">
                                        <label class={{ServiceOrder.IsEngineComp?"text-success":"text-muted"}} ng-click="ServiceOrder.IsEngineComp=true">Yes</label>
                                        <input type="radio" name="IsEngineComp" ng-model="ServiceOrder.IsEngineComp" ng-value="false">
                                        <label class="text-muted" ng-click="ServiceOrder.IsEngineComp=false">No</label>
                                    </div>
                                </div>
                                <div class="col-md-6" style="border-left:1px; border-left-style:solid">
                                    <div class="col-md-6">
                                        <label class="control-label" style="font-size:12px; font-weight:bold">Is Monograms?</label>
                                    </div>
                                    <div class="col-md-6">
                                        <input type="radio" name="IsMonograms" ng-model="ServiceOrder.IsMonograms" ng-value="true">
                                        <label class={{ServiceOrder.IsMonograms?"text-success":"text-muted"}} ng-click="ServiceOrder.IsMonograms=true">Yes</label>
                                        <input type="radio" name="IsMonograms" ng-model="ServiceOrder.IsMonograms" ng-value="false">
                                        <label class="text-muted" ng-click="ServiceOrder.IsMonograms=false">No</label>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-12">
                                <div class="col-md-6">
                                    <div class="col-md-6">
                                        <label class="control-label" style="font-size:12px; font-weight:bold">Is Washing?</label>
                                    </div>
                                    <div class="col-md-6">
                                        <input type="radio" name="IsWashing" ng-model="ServiceOrder.IsWashing" ng-value="true">
                                        <label class={{ServiceOrder.IsWashing?"text-success":"text-muted"}} ng-click="ServiceOrder.IsWashing=true">Yes</label>
                                        <input type="radio" name="IsWashing" ng-model="ServiceOrder.IsWashing" ng-value="false">
                                        <label class="text-muted" ng-click="ServiceOrder.IsWashing=false">No</label>
                                    </div>
                                </div>
                                <div class="col-md-6" style="border-left:1px; border-left-style:solid">
                                    <div class="col-md-6">
                                        <label class="control-label" style="font-size:12px; font-weight:bold">IsPolishing?</label>
                                    </div>
                                    <div class="col-md-6">
                                        <input type="radio" name="IsPolishing" ng-model="ServiceOrder.IsPolishing" ng-value="true">
                                        <label class={{ServiceOrder.IsPolishing?"text-success":"text-muted"}} ng-click="ServiceOrder.IsPolishing=true">Yes</label>
                                        <input type="radio" name="IsPolishing" ng-model="ServiceOrder.IsPolishing" ng-value="false">
                                        <label class="text-muted" ng-click="ServiceOrder.IsPolishing=false">No</label>
                                    </div>
                                </div>
                            </div>
                        </fieldset>
                    </div>
                </div>
                <div class="col-md-12">
                    <div class="col-md-6">
                        <div class="ui-grid-panel col-md-12" style="text-align:left; width:100%">
                            </label><input ng-model="txtEServiceName" placeholder="Type desciption & Press Enter" ng-keydown="SearchKeyServiceNo($event,2)" style="width:210px; height:24px;margin-left:10px" required />
                            <button type="button" class="btn btn-default btn-xs" aria-label="right Align" ng-click="PickService(2)"><span class="glyphicon glyphicon-ok" aria-hidden="true"> Pick</span></button>
                            <button type="button" class="btn btn-default btn-xs" aria-label="right Align" ng-click="AddService(2)"><span class="glyphicon glyphicon-plus-sign" aria-hidden="true"> Add</span></button>
                            <button type="button" class="btn btn-default btn-xs" aria-label="right Align" ng-click="RemoveDetail(2)"><span class="glyphicon glyphicon-remove" aria-hidden="true"> Remove</span></button>
                            <button type="button" class="btn btn-default btn-xs" aria-label="right Align" ng-click="RefreshDetail(2)"><span class="glyphicon glyphicon-refresh" aria-hidden="true"></span></button>
                        </div>
                        <div style="height:220px;" class="col-md-12" ui-grid="gridExtraServiceOrderDetail" ui-grid-selection ui-grid-edit></div>
                    </div>
                    <div class="col-md-6">
                        <fieldset>
                            <legend class="text-left">Reception :</legend>
                            <div class="col-md-12">
                                <div class="col-md-6">
                                    <div class="col-md-6" style="padding:3px 0px 0px 0px!important">
                                        <label class="control-label" style="font-size:12px;">Fuel Status?</label>
                                    </div>
                                    <div class="col-md-6">
                                        <select class="form-control" ng-model="ServiceOrder.FuelStatus" ng-options="oItem.id as oItem.Value for oItem in FuelStatusList" ng-disabled="disabled">
                                            <option value="">---Select Fuel Status---</option>
                                        </select>
                                    </div>
                                </div>
                                <div class="col-md-6" style="border-left:1px; border-left-style:solid">
                                    <div class="col-md-6">
                                        <label class="control-label" style="font-size:12px;">No Of Keys:</label>
                                    </div>
                                    <div class="col-md-6">
                                        <input type="text" class="form-control number" ng-model="ServiceOrder.NoOfKeys" ng-disabled="disabled">
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-12">
                                <div class="col-md-6">
                                    <div class="col-md-6" style="padding:3px 0px 0px 0px!important">
                                        <label class="control-label" style="font-size:12px;">Owners Manual?</label>
                                    </div>
                                    <div class="col-md-6">
                                        <input type="radio" name="IsOwnersManual" ng-model="ServiceOrder.IsOwnersManual" ng-value="true">
                                        <label class={{ServiceOrder.IsOwnersManual?"text-success":"text-muted"}} ng-click="ServiceOrder.IsOwnersManual=true">Yes</label>
                                        <input type="radio" name="IsOwnersManual" ng-model="ServiceOrder.IsOwnersManual" ng-value="false">
                                        <label class="text-muted" ng-click="ServiceOrder.IsOwnersManual=false">No</label>
                                    </div>
                                </div>
                                <div class="col-md-6" style="border-left:1px; border-left-style:solid">
                                    <div class="col-md-6">
                                        <label class="control-label" style="font-size:10px; font-weight:bold; padding-left:-2px !important">Sche/Main. Manual?</label>
                                    </div>
                                    <div class="col-md-6">
                                        <input type="radio" name="IsScheManual" ng-model="ServiceOrder.IsScheManual" ng-value="true">
                                        <label class={{ServiceOrder.IsScheManual?"text-success":"text-muted"}} ng-click="ServiceOrder.IsScheManual=true">Yes</label>
                                        <input type="radio" name="IsScheManual" ng-model="ServiceOrder.IsScheManual" ng-value="false">
                                        <label class="text-muted" ng-click="ServiceOrder.IsScheManual=false">No</label>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-12">
                                <div class="col-md-6">
                                    <div class="col-md-6">
                                        <label class="control-label" style="font-size:11px; font-weight:bold">Is Navig. Manual?</label>
                                    </div>
                                    <div class="col-md-6">
                                        <input type="radio" name="IsNavManual" ng-model="ServiceOrder.IsNavManual" ng-value="true">
                                        <label class={{ServiceOrder.IsNavManual?"text-success":"text-muted"}} ng-click="ServiceOrder.IsNavManual=true">Yes</label>
                                        <input type="radio" name="IsNavManual" ng-model="ServiceOrder.IsNavManual" ng-value="false">
                                        <label class="text-muted" ng-click="ServiceOrder.IsNavManual=false">No</label>
                                    </div>
                                </div>
                                <div class="col-md-6" style="border-left:1px; border-left-style:solid">
                                    <div class="col-md-6">
                                        <label class="control-label" style="font-size:12px; font-weight:bold">Is W. Book?</label>
                                    </div>
                                    <div class="col-md-6">
                                        <input type="radio" name="IsWBook" ng-model="ServiceOrder.IsWBook" ng-value="true">
                                        <label class={{ServiceOrder.IsWBook?"text-success":"text-muted"}} ng-click="ServiceOrder.IsWBook=true">Yes</label>
                                        <input type="radio" name="IsWBook" ng-model="ServiceOrder.IsCoolant" ng-value="false">
                                        <label class="text-muted" ng-click="ServiceOrder.IsWBook=false">No</label>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-12">
                                <div class="col-md-6">
                                    <div class="col-md-6">
                                        <label class="control-label" style="font-size:12px; font-weight:bold">Is Ref Guide?</label>
                                    </div>
                                    <div class="col-md-6">
                                        <input type="radio" name="IsRefGuide" ng-model="ServiceOrder.IsRefGuide" ng-value="true">
                                        <label class={{ServiceOrder.IsRefGuide?"text-success":"text-muted"}} ng-click="ServiceOrder.IsRefGuide=true">Yes</label>
                                        <input type="radio" name="IsRefGuide" ng-model="ServiceOrder.IsRefGuide" ng-value="false">
                                        <label class="text-muted" ng-click="ServiceOrder.IsRefGuide=false">No</label>
                                    </div>
                                </div>
                                <div class="col-md-6" style="border-left:1px; border-left-style:solid">
                                    <div class="col-md-6">
                                        <label class="control-label" style="font-size:12px; font-weight:bold"> Is Spare Wheel?</label>
                                    </div>
                                    <div class="col-md-6">
                                        <input type="radio" name="IsSpareWheel" ng-model="ServiceOrder.IsSpareWheel" ng-value="true">
                                        <label class={{ServiceOrder.IsSpareWheel?"text-success":"text-muted"}} ng-click="ServiceOrder.IsSpareWheel=true">Yes</label>
                                        <input type="radio" name="IsSpareWheel" ng-model="ServiceOrder.IsSpareWheel" ng-value="false">
                                        <label class="text-muted" ng-click="ServiceOrder.IsSpareWheel=false">No</label>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-12">
                                <div class="col-md-6">
                                    <div class="col-md-6">
                                        <label class="control-label" style="font-size:12px; font-weight:bold">Is Tool Kits?</label>
                                    </div>
                                    <div class="col-md-6">
                                        <input type="radio" name="IsToolKits" ng-model="ServiceOrder.IsToolKits" ng-value="true">
                                        <label class={{ServiceOrder.IsToolKits?"text-success":"text-muted"}} ng-click="ServiceOrder.IsToolKits=true">Yes</label>
                                        <input type="radio" name="IsToolKits" ng-model="ServiceOrder.IsToolKits" ng-value="false">
                                        <label class="text-muted" ng-click="ServiceOrder.IsToolKits=false">No</label>
                                    </div>
                                </div>
                                <div class="col-md-6" style="border-left:1px; border-left-style:solid">
                                    <div class="col-md-6">
                                        <label class="control-label" style="font-size:12px; font-weight:bold">IsFloorMats?</label>
                                    </div>
                                    <div class="col-md-6">
                                        <input type="radio" name="IsFloorMats" ng-model="ServiceOrder.IsFloorMats" ng-value="true">
                                        <label class={{ServiceOrder.IsFloorMats?"text-success":"text-muted"}} ng-click="ServiceOrder.IsFloorMats=true">Yes</label>
                                        <input type="radio" name="IsFloorMats" ng-model="ServiceOrder.IsFloorMats" ng-value="false">
                                        <label class="text-muted" ng-click="ServiceOrder.IsFloorMats=false">No</label>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-12">
                                <div class="col-md-6">
                                    <div class="col-md-6">
                                        <label class="control-label" style="font-size:12px; font-weight:bold">IsMudFlaps?</label>
                                    </div>
                                    <div class="col-md-6">
                                        <input type="radio" name="IsMudFlaps" ng-model="ServiceOrder.IsMudFlaps" ng-value="true">
                                        <label class={{ServiceOrder.IsMudFlaps?"text-success":"text-muted"}} ng-click="ServiceOrder.IsMudFlaps=true">Yes</label>
                                        <input type="radio" name="IsMudFlaps" ng-model="ServiceOrder.IsMudFlaps" ng-value="false">
                                        <label class="text-muted" ng-click="ServiceOrder.IsMudFlaps=false">No</label>
                                    </div>
                                </div>
                                <div class="col-md-6" style="border-left:1px; border-left-style:solid">
                                    <div class="col-md-6">
                                        <label class="control-label" style="font-size:12px; font-weight:bold">IsWarningT?</label>
                                    </div>
                                    <div class="col-md-6">
                                        <input type="radio" name="IsWarningT" ng-model="ServiceOrder.IsWarningT" ng-value="true">
                                        <label class={{ServiceOrder.IsWarningT?"text-success":"text-muted"}} ng-click="ServiceOrder.IsWarningT=true">Yes</label>
                                        <input type="radio" name="IsWarningT" ng-model="ServiceOrder.IsWarningT" ng-value="false">
                                        <label class="text-muted" ng-click="ServiceOrder.IsWarningT=false">No</label>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-12">
                                <div class="col-md-6">
                                    <div class="col-md-6">
                                        <label class="control-label" style="font-size:12px; font-weight:bold">IsFirstAidKit?</label>
                                    </div>
                                    <div class="col-md-6">
                                        <input type="radio" name="IsFirstAidKit" ng-model="ServiceOrder.IsFirstAidKit" ng-value="true">
                                        <label class={{ServiceOrder.IsFirstAidKit?"text-success":"text-muted"}} ng-click="ServiceOrder.IsFirstAidKit=true">Yes</label>
                                        <input type="radio" name="IsFirstAidKit" ng-model="ServiceOrder.IsFirstAidKit" ng-value="false">
                                        <label class="text-muted" ng-click="ServiceOrder.IsFirstAidKit=false">No</label>
                                    </div>
                                </div>
                                <div class="col-md-6" style="border-left:1px; border-left-style:solid">
                                    <div class="col-md-6">
                                        <label class="control-label" style="font-size:12px;">No Of CDs:</label>
                                    </div>
                                    <div class="col-md-6">
                                        <input type="text" class="form-control number" ng-model="ServiceOrder.NoOfCDs" ng-disabled="disabled">
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-12">
                                <div class="col-md-6">
                                    <div class="col-md-6">
                                        <label class="control-label" style="font-size:12px; font-weight:bold">IsOtherLoose?</label>
                                    </div>
                                    <div class="col-md-6">
                                        <input type="radio" name="IsOtherLoose" ng-model="ServiceOrder.IsOtherLoose" ng-value="true">
                                        <label class={{ServiceOrder.IsOtherLoose?"text-success":"text-muted"}} ng-click="ServiceOrder.IsOtherLoose=true">Yes</label>
                                        <input type="radio" name="IsOtherLoose" ng-model="ServiceOrder.IsOtherLoose" ng-value="false">
                                        <label class="text-muted" ng-click="ServiceOrder.IsOtherLoose=false">No</label>
                                    </div>
                                </div>
                            </div>
                        </fieldset>
                    </div>
                </div>
            </div>

            <div class="col-md-12" style="height:10%">
                <fieldset>
                    <legend class="text-left">Financial Information :</legend>
                    <div class="col-md-12">
                        <div class="col-md-1 text-right">
                            <label class="control-label">Pay Mode:</label>
                        </div>
                        <div class="col-md-2 text-left">
                            <select class="form-control" ng-model="ServiceOrder.ModeOfPayment" ng-options="oItem.id as oItem.Value for oItem in ModeOfPayments" ng-disabled="disabled">
                                <option value="">---Select One---</option>
                            </select>
                        </div>
                        <div class="col-md-2 text-right">
                            <input type="checkbox" ng-model="ServiceOrder.IsTaxesApplicable" ng-value="true">
                            <label class="control-label">Taxes As Applicable</label>
                        </div>
                        <div class="col-md-1 text-right">
                        </div>
                        <div class="col-md-1 text-right">
                            <label class="control-label">Est. Cost:</label>
                        </div>
                        <div class="col-md-5 text-left">
                            <input type="text" class="form-control  text-right |number:2" ng-model="ServiceOrder.ENetAmount" placeholder="Estimated Cost.." ng-disabled="disabled">
                        </div>
                    </div>
                    <div class="col-md-12">
                        <div class="col-md-1 text-right">
                            <label class="control-label">Est. Labor:</label>
                        </div>
                        <div class="col-md-5 text-left">
                            <input type="text" class="form-control text-right  |number:2" ng-model="ServiceOrder.ELCAmount" placeholder="Estimated Labor Cost.." ng-disabled="disabled">
                        </div>
                  
                        <div class="col-md-1 text-right">
                            <label class="control-label">Est. Parts:</label>
                        </div>
                        <div class="col-md-5 text-left">
                            <input type="text" class="form-control text-right |number:2" ng-model="ServiceOrder.EPartsAmount" placeholder="Estimated Parts Cost.." ng-disabled="disabled">
                        </div>
                    </div>
                </fieldset>
            </div>
    </div>

        <div class="row" style="width:100%; height:8%">
            <fieldset style="height:54px; margin:10px 0 0 20px" >
                <legend>Action</legend>
                <div class="row col-md-12 text-right">
                    <button type="button" class="btn btn-success btn-xs" aria-label="Left Align" ng-hide="btnSave" ng-click="Save()"> <span class="glyphicon glyphicon-floppy-disk" aria-hidden="true"> <label id="lblSave">Save</label></span> </button>
                    <button type="button" id="btnclose" class="btn btn-danger btn-xs" aria-label="Left Align" ng-click="Close()"> <span class="glyphicon glyphicon-remove" aria-hidden="true"> Close</span> </button>
                </div>
            </fieldset>
        </div>
   </div>
</body>
</html>
<style type="text/css">
    .regionVR .form-horizontal .control-label {
        padding-top: 1px;
    }

    .regionVR .form-control {
        height: 24px;
        padding: 0px 6px;
        font-size: 12px;
    }
    .regionVR regionVROT .form-control {
        height: 10px;
        padding: 0px 6px;
        font-size: 12px;
    }
    .regionVR .col-md-12 {
        width: 100%;
        padding-right: 2px;
        padding-left: 1px;
        margin-bottom: 3px;
    }
    .regionVR .col-md-11 {
        width: 91.66%;
        padding-right: 5px;
        padding-left: 5px;
        margin-bottom: 3px;
    }
     .regionVR .col-md-10 {
        width: 84%;
        padding-right: 5px;
        padding-left: 5px;
        margin-bottom: 3px;
    }
    .regionVR .col-md-7 {
        width: 58.33%;
        padding-right: 5px;
        padding-left: 5px;
    }
    .regionVR .col-md-2 {
        width: 16%;
        padding-right: 2px;
        padding-left: 2px;
    }
    .regionVR .col-md-1 {
        width: 8.8%;
        padding-right: 2px;
        padding-left: 2px;
    }
     .regionVR .col-md-4 {
        width: 33.33%;
        padding-right: 5px;
        padding-left: 5px;
    }
    
    .regionVR .col-md-6 {
        width: 50%;
        padding-right: 5px;
        padding-left: 5px;
    }
 
    .regionVR .col-md-5 {
        width: 41%;
        padding-right: 2px;
        padding-left: 2px;
    }
     .regionVR .col-md-3 {
        width: 25%;
        padding-right:3px;
        padding-left:3px;
    }
     
    .regionVR .btn-sm {
        padding: 2px 8px;
    }

    .regionVR .input-group-addon {
        padding: 2px 5px;
    }
    /*.ui-grid-top-panel {
        background: linear-gradient(to bottom,#EFF5FF 0,#E0ECFF 100%);
    } 
    .ui-grid-panel {
        background: linear-gradient(to bottom,#EFF5FF 0,#E0ECFF 100%);
    }*/
</style>
<script type="text/javascript">

    var oServiceOrder =@Html.Raw(new System.Web.Script.Serialization.JavaScriptSerializer().Serialize(Model));
    var oAdvisors = @Html.Raw(new System.Web.Script.Serialization.JavaScriptSerializer().Serialize(ViewBag.Advisors));
    var oServiceOrderTypes = @Html.Raw(new System.Web.Script.Serialization.JavaScriptSerializer().Serialize(ViewBag.ServiceOrderTypes));
    var oCurrencyList = @Html.Raw(new System.Web.Script.Serialization.JavaScriptSerializer().Serialize(ViewBag.CurrencyList));
    var oFuelStatusList = @Html.Raw(new System.Web.Script.Serialization.JavaScriptSerializer().Serialize(ViewBag.FuelStatusList));
    var oPaymentMethods = @Html.Raw(new System.Web.Script.Serialization.JavaScriptSerializer().Serialize(ViewBag.PaymentMethods));

    var oFuelTypes = @Html.Raw(new System.Web.Script.Serialization.JavaScriptSerializer().Serialize(ViewBag.FuelTypes));
    var oSessions = @Html.Raw(new System.Web.Script.Serialization.JavaScriptSerializer().Serialize(ViewBag.Sessions));
    var oVehicleTypes =@Html.Raw(new System.Web.Script.Serialization.JavaScriptSerializer().Serialize(ViewBag.VehicleTypes));
    var oVehicleRegistrationTypes =@Html.Raw(new System.Web.Script.Serialization.JavaScriptSerializer().Serialize(ViewBag.VehicleRegistrationTypes));

    var oServiceOrderDetails= oServiceOrder.ServiceOrderDetails;
    var oServiceOrderDetails_Regular= oServiceOrder.RegularServiceOrderDetails;
    var oServiceOrderDetails_Extra= oServiceOrder.ExtraServiceOrderDetails;
    var ServiceOrderApp = angular.module('ServiceOrderApp', ['ngAnimate', 'ui.bootstrap','ui.grid', 'ui.grid.selection', 'ui.grid.edit', 'ms.service','chassis.service','engine.service','vregistration.service']);
    ServiceOrderApp.controller('ServiceOrderController', function ($scope,$http,$uibModal,$log,uiGridConstants,msModal,userSession,icsMethod,msGridControl, chassisservice, engineservice,vregistrationservice) {
        debugger;
        $('#txtRcvDate').datetimebox('setValue', icsdatetimeformat(new Date(oServiceOrder.RcvDateTimeSt)));
        $('#txtDelDate').datetimebox('setValue', icsdatetimeformat(new Date(oServiceOrder.DelDateTimeSt)));

        $('.date-container').datepicker({
            format: "dd M yyyy",
            calendarWeeks: true,
            autoclose: true,
            todayHighlight: true
        });

        $scope.ServiceOrder=oServiceOrder;
        $scope.ServiceOrder.BUID=sessionStorage.getItem('BUID');
        $scope.Currencys =oCurrencyList;
        $scope.FuelStatusList = oFuelStatusList;
        $scope.ModeOfPayments = oPaymentMethods;
        $scope.ServiceOrderDetails=oServiceOrderDetails;
        $scope.ServiceOrderDetails_Regular=oServiceOrderDetails_Regular;
        $scope.ServiceOrderDetails_Extra=oServiceOrderDetails_Extra;
        $scope.ServiceOrderTypes = oServiceOrderTypes;
        $scope.Advisors=oAdvisors;
        $scope.CurrencySymbol="";
        $scope.VATPercentage=0;
        $scope.Offerprice=0;
        $scope.ExShowroomPriceBC=0;
        debugger;

        var oList=[];
        var obj={PlanName:"No Free Service"}; oList.push(obj);
        for(var i=1;i<7;i++)
        {
            obj={PlanName: i+" Free Service"};oList.push(obj);
            $scope.ServicePlans=oList;
        }

        $scope.myFunc = function(row)
        {
            debugger;
            //return (row.entity.IsAuthorized=='true' ||row.entity.IsDone==true)?'#40FF00':'#FF464F'; //,
            //return (row.entity.IsAuthorized=='true' ||row.entity.IsAuthorized==true)?'bg-primary':'bg-danger'; //bg-primary,
        };

        $scope.OpenViewVehicleRegistration= function(nVehicleRegistrationID,index)
        {
            debugger;
            var result=null;
            var oVehicleRegistration={
                VehicleRegistrationID: nVehicleRegistrationID
            };

            var config = { headers: { 'Content-Type': 'application/x-www-form-urlencoded;charset=utf-8;' } };
            $http.post(_sBaseAddress + '/VehicleRegistration/GetByID', $.param(oVehicleRegistration), config).then(
                                function (response) {
                                    debugger;
                                    result=jQuery.parseJSON(response.data);

                                    var modalObj={
                                        modalcontroller:'CCategoryapp',
                                        appcontroller:'VehicleRegistrationController',
                                        VehicleRegistration: result,
                                        VehicleTypes:oVehicleTypes,
                                        FuelTypes:  $scope.FuelTypes,
                                        Sessions: $scope.Sessions,
                                        VehicleRegistrationTypes: oVehicleRegistrationTypes
                                    }
                                    var modalInstance=vregistrationservice.Instance(modalObj);
                                    modalInstance.result.then(function (result)
                                    {
                                        debugger;
                                        $scope.gridApi.selection.clearSelectedRows();
                                        if(result.VehicleRegistrationID>0){
                                            if(index>=0)
                                                $scope.gridOptions.data[index]=result;
                                            else
                                                $scope.gridOptions.data.push(result);
                                            $scope.gridApi.grid.modifyRows($scope.gridOptions.data);
                                            $scope.gridApi.selection.selectRow(result);
                                        }
                                        userSession.clear();
                                    }, function () {
                                        $log.info('Modal dismissed at: ' + new Date());
                                    });
                                }
                            );
        }

        $scope.AddVehicleReg=function()
        {
            debugger;
            sessionStorage.setItem("VehicleRegistrationHeader", "Add Vehicle Registration");
            $scope.OpenViewVehicleRegistration(0,-1);
        }

        $scope.SearchKeyDownCustomer = function (e) {
            debugger;
            var code = (e.keyCode ? e.keyCode : e.which);
            if (code == 13) {
                var CustomerName = $.trim($scope.ServiceOrder.CustomerName);
                if (CustomerName == "" || CustomerName == null) {
                    alert("Type Customer Name and Press Enter");
                    return;
                }
                $scope.PickCustomer(CustomerName);
            } else if (code == 8) //backspace=8
            {
                //debugger;
                $scope.ServiceOrder.CustomerName = '';
                $scope.ServiceOrder.Customer = 0;
            }
        };
        $scope.PickCustomer = function (CustomerName) {
            debugger;
            var oContractor = {
                Params: '2' + '~' + CustomerName + '~' + 0
            };
            var config = { headers: { 'Content-Type': 'application/x-www-form-urlencoded;charset=utf-8;' } };
            $http.post(sessionStorage.getItem('BaseAddress') + '/Contractor/ContractorSearchByNameType', $.param(oContractor), config).then(
                                function (response) {
                                    debugger;
                                    var oColumns = [];
                                    var oColumn = { field: 'ContractorID', name: 'Code', width: '20%' }; oColumns.push(oColumn);
                                    oColumn = { field: 'Name', name: 'Customer Name', width: '50%', enableSorting: false }; oColumns.push(oColumn);
                                    oColumn = { field: 'Address', name: 'Address', width: '30%', enableSorting: false }; oColumns.push(oColumn);
                                    var results = response.data;
                                    var modalObj = {
                                        size: 'md',
                                        modalcontroller: 'ModalCc',
                                        appcontroller: 'CCategoryController',
                                        objs: results,
                                        multiSelect: false,
                                        pickertitle: 'Customer List',
                                        searchingbyfieldName: 'Name',
                                        columns: oColumns
                                    }
                                    var modalInstance = msModal.Instance(modalObj);
                                    modalInstance.result.then(function (result) {
                                        debugger;
                                        $scope.ServiceOrder.CustomerID = result.ContractorID;
                                        $scope.GetContactPersonel();
                                        $scope.ServiceOrder.CustomerName = result.Name;

                                    }, function () {
                                        $log.info('Modal dismissed at: ' + new Date());
                                    });
                                },
                                  function (response) { alert(response.data.Message); }
                            );
        };
        $scope.ClearCustomer = function () {
            debugger;
            $scope.ContactPersonnels = [];
            $scope.ServiceOrder.CustomerName = "";
            $scope.ServiceOrder.CustomerID = 0;
        };

        $scope.GetContactPersonel = function ()
        {
            $scope.ContactPersonnels = [];
            debugger;
            var oContractor = {
                ContractorID: $scope.ServiceOrder.CustomerID
            };
            var config = { headers: { 'Content-Type': 'application/x-www-form-urlencoded;charset=utf-8;' } };
            $http.post(sessionStorage.getItem('BaseAddress') + '/Contractor/GetContactPersonnels', $.param(oContractor), config).then(
                                function (response) {
                                    debugger;
                                    result = JSON.parse(response.data);
                                    $scope.ContactPersonnels = result;
                                }, function () {
                                    $log.info('GetVehicleOrderDetails Dismissed at: ' + new Date());
                                });
        }
        $scope.GetContactPersonel();
        $scope.NewContactPerson= function NewContactPerson(nConType)
        {
            if($scope.ServiceOrder.CustomerID<=0)
            {
                alert("Please Pick A Customer And Try Again!");
                return;
            }
            sessionStorage.setItem("ContractorBackTo", "");
            sessionStorage.setItem("SelectedRowIndex", 0);
            sessionStorage.setItem("ContractorHeader", "Add Contact Personnel");
            window.open(_sBaseAddress+"/Contractor/ViewContactPersonnel?id="+$scope.ServiceOrder.CustomerID,"_blank");
        }

        $scope.MakeServiceOrderDetail= function()
        {
            var oDetailColumns = [];
            var oColumn ={ field: 'WorkDescription', name:'Demand Repair', width:'90%',cellClass: 'text-left',enableCellEdit:true };oDetailColumns.push(oColumn);


            $scope.gridRegularServiceOrderDetail = {
                showColumnFooter: false,
                multiSelect: false,
                enableFullRowSelection: true,
                enableSelectAll: false,
                columnDefs:oDetailColumns,
                data:oServiceOrderDetails_Regular,
                onRegisterApi: function (gridApi) {
                    $scope.gridRegularDetailApi = gridApi;
                    gridApi.edit.on.afterCellEdit($scope,
                     function (rowEntity, colDef, newValue, oldValue)
                     {
                         return rowEntity;
                     });
                }
            };
            $scope.AuthorizedList= [
                { IsAuthorized: 0, Authorize: 'No' },
                { IsAuthorized: 1, Authorize: 'Yes' }];

            var oDetailColumns = [];
            var oColumn ={ field: 'WorkDescription', name:'Work To Be Done', width:'90%',cellClass: 'text-left',enableCellEdit:true };oDetailColumns.push(oColumn);
            $scope.gridExtraServiceOrderDetail = {
                showColumnFooter: false,
                multiSelect: false,
                enableFullRowSelection: true,
                enableSelectAll: false,
                columnDefs:oDetailColumns,
                data:oServiceOrderDetails_Extra,
                onRegisterApi: function (gridApi) {
                    $scope.gridExtraDetailApi = gridApi;
                    gridApi.edit.on.afterCellEdit($scope,
                     function (rowEntity, colDef, newValue, oldValue)
                     {
                        // rowEntity.IsAuthorized = $scope.AuthorizedList.filter(function(obj){return obj.Authorize== rowEntity.Authorize;})[0].IsAuthorized;
                         return rowEntity;
                     });
                }
            };
        }
        $scope.MakeServiceOrderDetail();

        $scope.GetVehicleRegistrationDetails= function()
        {
            debugger;
            var oServiceOrder = {
                ServiceOrderID:$scope.ServiceOrder.VehicleIOrderID
            };
            var config = { headers: { 'Content-Type': 'application/x-www-form-urlencoded;charset=utf-8;' } };
            $http.post(sessionStorage.getItem('BaseAddress')+'/ServiceOrder/GetServiceOrderDetailsByOrderID',$.param(oServiceOrder), config).then(
                                function (response) {
                                    $scope.gridOptionsServiceOrderDetail.data=[];
                                    result=jQuery.parseJSON(response.data);
                                    $scope.gridOptionsServiceOrderDetail.data=(result);
                                    $scope.ServiceOrderDetails=result;
                                    $scope.RefreshDetail();
                                    $scope.SetOptionTotal();
                                    $scope.SetTotal();
                                }, function () {
                                    $log.info('GetVehicleRegistrationDetails Dismissed at: ' + new Date());
                                });
        }
        $scope.PickVehicleRegistration= function ()
        {
            debugger;
            var oVehicleModel = {
                VehicleRegNo: $.trim($scope.VehicleRegNo)
            };
            var config = { headers: { 'Content-Type': 'application/x-www-form-urlencoded;charset=utf-8;' } };
            $http.post(sessionStorage.getItem('BaseAddress')+'/VehicleRegistration/GetsByNo',$.param(oVehicleModel), config).then(
                        function (response)
                        {
                            debugger;
                            var results=jQuery.parseJSON(response.data);

                            if(results.length<=0)
                            {
                                alert("No Data Found!"); return;
                            }


                            var oColumns = [];
                            var oColumn = { field: 'VehicleRegNo', name: 'Code/Ref No',width: '20%'  };oColumns.push(oColumn);
                            oColumn = { field: 'VehicleModelNo', name: 'Model No',width: '20%', enableSorting: false  };oColumns.push(oColumn);
                            oColumn = { field: 'ChassisNo', name: 'Chassis No',width: '20%', enableSorting: false  };oColumns.push(oColumn);
                            oColumn = { field: 'CustomerName', name: 'Customer',width: '20%', enableSorting: false  };oColumns.push(oColumn);
                            oColumn = { field: 'VehicleTypeName', name: 'Type',width: '12%', enableSorting: false  };oColumns.push(oColumn);

                            var modalObj={
                                size:'lg',
                                modalcontroller:'',
                                appcontroller:'',
                                objs:results,
                                multiSelect:false,
                                pickertitle:'Order List',
                                searchingbyfieldName:'RefNo',
                                columns:oColumns
                            }
                            var modalInstance=msModal.Instance(modalObj);
                            modalInstance.result.then(function (result)
                            {
                                debugger;
                                $scope.VehicleRegNo=result.VehicleRegNo;;
                                $scope.ServiceOrder.VehicleRegNo=result.VehicleRegNo;
                                $scope.ServiceOrder.VehicleModelNo=result.VehicleModelNo;
                                $scope.ServiceOrder.VehicleRegistrationID=result.VehicleRegistrationID;
                                $scope.ServiceOrder.ChassisNo=result.ChassisNo;
                                $scope.ServiceOrder.EngineNo=result.EngineNo;
                                $scope.ServiceOrder.RemainingFreeService=result.RemainingFreeService;
                                $scope.ServiceOrder.CustomerID=result.CustomerID;
                                $scope.ServiceOrder.CustomerName=result.CustomerName;
                                $scope.ServiceOrder.ServicePlan = result.ServicePlan;
                                $scope.ServiceOrder.NoShowStatus = result.NoShowStatus;
                                $scope.GetContactPersonel();
                                $scope.ServiceOrder.ContactPersonID=result.ContactPersonID;
                                //alert($scope.ServiceOrder.ServicePlan);
                            }, function () {
                                $log.info('Modal dismissed at: ' + new Date());
                            });
                        },
                            function (response) { alert(jQuery.parseJSON(response.data).Message);}
                    );

        };
        $scope.SearchKeyDownVehicleRegistration = function (e) {
            //debugger;
            var code = (e.keyCode ? e.keyCode : e.which);
            if (code == 13) {
                var RefNo = $.trim($scope.VehicleRegNo);
                if(RefNo=="" || RefNo==null)
                {
                    alert("Type Ref/Engine/Chassis No and Press Enter");
                    return;
                }
                $scope.PickVehicleRegistration();
            }else if (code == 8) //backspace=8
            {
                $scope.VehicleRegNo='';
                $scope.ServiceOrder.VehicleRefID=0;
               // GetVehicleRefImage(0);//Get Model Image
            }
        };
        $scope.ClearVehicleRegistration= function ()
        {
            $scope.VehicleRegNo='';
            $scope.ServiceOrder.VehicleRegNo="";
            $scope.ServiceOrder.ModelNo="";
            $scope.ServiceOrder.VehicleIOrderID=0;
            $scope.ServiceOrder.ChassisNo="";
            $scope.ServiceOrder.EngineNo="";
            $scope.ServiceOrder.InteriorColorName="";
            $scope.ServiceOrder.ExteriorColorName="";
            $scope.ServiceOrder.CurrencyID="";
            $scope.ServiceOrder.ETAValueWithTypeSt="";
            $scope.ServiceOrder.PossibleDateSt="";
            $scope.ServiceOrder.Remarks="";
            $scope.ServiceOrder.ServiceSetupName="";
            $scope.gridOptionsServiceOrderDetail.data=[];
        }

        $scope.AddService=function(nType)
        {
            debugger;
            var ServiceName='';
            if(nType==1)
            {
                txtWork=$scope.txtRServiceName;
                ServiceName='RegularService';
            }
            else{
                txtWork=$scope.txtEServiceName;
                ServiceName='ExtraService';
            }

            if(txtWork==null || txtWork=='')
            {
                alert("Please Write A Description And Try Again"); return;
            }

            var oServiceOrderDetail= {
                WorkDescription:txtWork,
                ServiceOrderDetailID:0,
                ServiceOrderID:$scope.ServiceOrder.ServiceOrderID,
                ServiceWorkType :ServiceName,
                ServiceWorkTypeInt:nType
            };




            if(nType==1)
                $scope.gridRegularServiceOrderDetail.data.push(oServiceOrderDetail);
            else
                $scope.gridExtraServiceOrderDetail.data.push(oServiceOrderDetail);
        }

        $scope.PickService= function (nType, event)
        {
            var txtWork="";
            //alert(nType);
            if(nType==1)
                txtWork=$scope.txtRServiceName;
            else
                txtWork=$scope.txtEServiceName;

            var oServiceWork = {
                ServiceName: $.trim(txtWork),
                ServiceType:nType
            };

            var config = { headers: { 'Content-Type': 'application/x-www-form-urlencoded;charset=utf-8;' } };
            $http.post(sessionStorage.getItem('BaseAddress')+'/ServiceWork/SearchService',$.param(oServiceWork), config).then(
                        function (response)
                        {
                            debugger;
                            var oColumns = [];
                            var oColumn = { field: 'ServiceCode', name: 'Code',width: '30%'  };oColumns.push(oColumn);
                            oColumn = { field: 'ServiceName', name: 'Name',width: '40%', enableSorting: false  };oColumns.push(oColumn);
                            oColumn = { field: 'ServiceTypeST', name: 'Type',width: '30%', enableSorting: false  };oColumns.push(oColumn);
                            var results=jQuery.parseJSON(response.data);
                            var modalObj={
                                size:'md',
                                modalcontroller:'',
                                appcontroller:'',
                                objs:results,
                                multiSelect:true,
                                pickertitle:'Service List',
                                searchingbyfieldName:'ServiceName',
                                columns:oColumns
                            }
                            var modalInstance=msModal.Instance(modalObj);
                            modalInstance.result.then(function (result)
                            {
                                debugger;
                                if(result.length>0)
                                {
                                    var oServiceOrderDetails=[];
                                    if(nType==1)
                                        oServiceOrderDetails = $scope.gridRegularServiceOrderDetail.data;
                                    else
                                        oServiceOrderDetails = $scope.gridExtraServiceOrderDetail.data;

                                    for(var i=0;i<result.length;i++)
                                    {
                                        if(!$scope.IsExist(oServiceOrderDetails,result[i].ServiceWorkID))
                                        {
                                            var oServiceOrderDetail = {
                                                ServiceOrderDetailID:0,
                                                ServiceOrderID:$scope.ServiceOrder.ServiceOrderID,
                                                WorkDescription :result[i].ServiceName,
                                                ServiceWorkType :result[i].ServiceType,
                                                ServiceWorkTypeInt:result[i].ServiceType
                                            };

                                            if(nType==1)
                                                $scope.gridRegularServiceOrderDetail.data.push(oServiceOrderDetail);
                                            else
                                                $scope.gridExtraServiceOrderDetail.data.push(oServiceOrderDetail);
                                        }else
                                        {
                                            alert("Service Work: "+result[i].ServiceName+" [Duplicate Entry]" );
                                        }
                                    }
                                    $scope.RefreshDetail(nType);
                                }
                            }, function () {
                                $log.info('Modal dismissed at: ' + new Date());
                            });
                        },
                            function (response) { debugger; alert(response.statusText);}
                    );
        };
        $scope.IsExist=function(oServiceOrderDetails,nServiceWorkID)
        {
            for(var i=0;i<oServiceOrderDetails.length;i++)
            {
                if(oServiceOrderDetails[i].ServiceWorkID==nServiceWorkID)
                {
                    return true;
                }
            }
            return false;
        }
        $scope.SearchKeyServiceNo = function (e,nType) {
            //debugger;
            var code = (e.keyCode ? e.keyCode : e.which);
            if (code == 13) {

                var txtServiceName = "";
                if(nType==1)
                    txtServiceName=$.trim($scope.txtRServiceName);
                else
                    txtServiceName=$.trim($scope.txtEServiceName);

                if(txtServiceName=="" || txtServiceName==null)
                {
                    alert("Type Sheet No and Press Enter");
                    return;
                }
                $scope.PickService(nType);
            }else if (code == 8) //backspace=8
            {
                //debugger;
                //if(nType==1)
                //    $scope.txtRServiceName='';
                //else
                //    $scope.txtEServiceName='';
            }
        };
        $scope.RemoveDetail = function (nType)
        {
            var oSODDetail =[];
            debugger;
            if(nType==1)
            {
                oSODDetail = $scope.gridRegularDetailApi.selection.getSelectedRows()[0];
            }
            else
            {
                oSODDetail = $scope.gridExtraDetailApi.selection.getSelectedRows()[0];
            }


            if(oSODDetail==null)
            {
                alert("Select At least One item !");
                return;
            }

            if (!confirm("Confirm to Delete?")) return ;

            if(nType==1)
            {
                var SelectedRowIndex=$scope.gridRegularServiceOrderDetail.data.indexOf(oSODDetail);
                $scope.gridRegularServiceOrderDetail.data.splice(SelectedRowIndex,1);
            }
            else
            {
                var SelectedRowIndex=$scope.gridExtraServiceOrderDetail.data.indexOf(oSODDetail);
                $scope.gridExtraServiceOrderDetail.data.splice(SelectedRowIndex,1);
            }
            $scope.RefreshDetail();
        };
        $scope.Save = function ()
        {
            debugger;
            if(!$scope.ValidateInput()) return;
            var oServiceOrder= $scope.ServiceOrder;
            oServiceOrder.IssueDate = new Date($scope.ServiceOrder.IssueDateSt);
            oServiceOrder.ServiceOrderDate = new Date($scope.ServiceOrder.ServiceOrderDateSt);
            oServiceOrder.RcvDateTime= $('#txtRcvDate').datebox('getValue');
            oServiceOrder.DelDateTime= $('#txtDelDate').datebox('getValue');
            oServiceOrder.OrderStatusInt = 1;//intialize
            oServiceOrder.ServiceOrderDetails=
                [{
                    ServiceOrderDetailID:0,
                    ServiceOrderID:0,
                    WorkDescription :"",
                    ServiceWorkType :'',
                    ServiceWorkTypeInt:0
                }];

            for(var i=0;i<$scope.gridRegularServiceOrderDetail.data.length; i++)
            {
                oServiceOrder.ServiceOrderDetails.push($scope.gridRegularServiceOrderDetail.data[i]);
            }
            for(var i=0;i<$scope.gridExtraServiceOrderDetail.data.length; i++)
            {
                oServiceOrder.ServiceOrderDetails.push($scope.gridExtraServiceOrderDetail.data[i]);
            }
            debugger;
            $http.post(sessionStorage.getItem('BaseAddress')+'/ServiceOrder/Save',oServiceOrder).then(
                        function (response)
                        {
                            var oServiceOrder= jQuery.parseJSON(response.data);
                            if (oServiceOrder.ErrorMessage=="" || oServiceOrder.ErrorMessage==null)
                            {
                                debugger;
                                alert("Data Saved Successfully!!");
                                userSession.setData('ServiceOrderList',oServiceOrder);
                                userSession.previousPage();
                                window.location.href = sessionStorage.getItem("BackLink");
                            }
                            else
                            {
                                alert(oServiceOrder.ErrorMessage);
                            }

                        },
                            function (response) { alert(jQuery.parseJSON(response.data).Message);$scope.MeasurementUnits=[];}
                    );

        };
        $scope.ValidateInput =  function ()
        {
            debugger;

            if($scope.ServiceOrder.VehicleRegistrationID==0)
            {
                alert('Please Pick Registration No.');
                return false;
            }

            //if($scope.gridOptionsServiceOrderDetail.data.length <=0){alert("Please Add Vechicle Order Detail");  return false;}

            return true;
        };

        if(sessionStorage.getItem("ServiceOrderHeader")=="View Service Order")
        {
            $("#divServiceOrder :input").prop('disabled', true);
            $('#btnclose').prop('disabled', false);
        }

        $scope.Close=function ()
        {
            debugger;
            window.location.href = sessionStorage.getItem("BackLink");
        };
    });

</script>