<html>
<head>  
 
</head>
<body>

    @model ESimSol.BusinessObjects.Contractor
    <div id="divContractor" class="easyui-panel" title="Add Contractor" style="font-family:Tahoma; height:100%; width:100%">
        <div style="width:100%; height:87%; text-align:center">
            <fieldset style="height:95%">
                <legend style="font-weight:bold;text-align:left;"> Contractor Informations : </legend>
                <table style="width: 100%;">
                    <tr>
                        <td style="width:70%;">
                            <table border="0" cellspacing="2" cellpadding="2" style="width:99%; font-size:11px; font-weight:bold">

                                <tr>
                                    <td style="width:17%; text-align:right">
                                        Name 
                                    </td>
                                    <td style="width:33%;text-align:left;">
                                        @*@Html.DropDownList("ContractorType", new SelectList(Enum.GetValues(typeof(ESimSol.BusinessObjects.EnumContractorType))), new { id = "cboContractorType", style = "width:102%;" })*@
                                        @Html.TextBoxFor(model => model.Name, new { style = "width:100%;", id = "txtName" })
                                    </td>
                                    <td style="width:17%; text-align:right">
                                        Code 
                                    </td>
                                    <td style="width:33%">
                                        @Html.TextBoxFor(model => model.ContractorID, new { style = "width:100%;", id = "txtCode", disabled = "disabled" })
                                    </td>
                                </tr>
                                <tr>
                                    <td style="width:17%; text-align:right">
                                        Zone 
                                    </td>
                                    <td style="width:33% ; text-align:left">
                                        @Html.TextBoxFor(model => model.Zone, new { style = "width:100%;", id = "txtZone" })
                                    </td>
                                    <td style="width:17%; text-align:right">
                                        Group 
                                    </td>
                                    <td style="width:33% ; text-align:left">
                                        @Html.TextBoxFor(model => model.GroupName, new { style = "width: 100%;", id = "txtGroupName" })
                                    </td>
                                </tr>
                                <tr>
                                    <td style="width:17%; text-align:right">
                                        PI Address(Bond)
                                    </td>
                                    <td colspan="3" style="width:83% ; text-align:left">
                                        @Html.TextBoxFor(model => model.Address, new { style = "width: 100%;", id = "txtAddress" })
                                    </td>
                                </tr>
                                <tr>
                                    <td style="width:17%; text-align:right">
                                        Address(HO) 
                                    </td>
                                    <td colspan="3" style="width:83% ; text-align:left">
                                        @Html.TextBoxFor(model => model.Address2, new { style = "width: 100%;", id = "txtAddress2" })
                                    </td>
                                </tr>
                                <tr>
                                    <td style="width:17%; text-align:right">
                                        Address(Factory) 
                                    </td>
                                    <td colspan="3" style="width:83% ; text-align:left">
                                        @Html.TextBoxFor(model => model.Address3, new { style = "width: 100%;", id = "txtAddress3" })
                                    </td>
                                </tr>

                                <tr>
                                    <td style="width:17%; text-align:right">
                                        TIN 
                                    </td>
                                    <td colspan="3" style="width:83% ; text-align:left">
                                        @Html.TextBoxFor(model => model.TIN, new { style = "width: 100%;", id = "txtTIN" })
                                    </td>
                                </tr>
                                <tr>
                                    <td style="width:17%; text-align:right">
                                        VAT 
                                    </td>
                                    <td colspan="3" style="width:83% ; text-align:left">
                                        @Html.TextBoxFor(model => model.VAT, new { style = "width: 100%;", id = "txtVAT" })
                                    </td>
                                </tr>

                                <tr>
                                    <td style="width:17%; text-align:right">
                                        Phone 
                                    </td>
                                    <td style="width:33% ; text-align:left">
                                        @Html.TextBoxFor(model => model.Phone, new { style = "width:100%;", id = "txtPhone" })
                                    </td>
                                    <td style="width:17%; text-align:right">
                                        Phone2 
                                    </td>
                                    <td style="width:33% ; text-align:left">
                                        @Html.TextBoxFor(model => model.Phone2, new { style = "width: 100%;", id = "txtPhone2" })
                                    </td>
                                </tr>

                                <tr>
                                    <td style="width:17%; text-align:right">
                                        Short Name 
                                    </td>
                                    <td style="width:33% ; text-align:left">
                                        @Html.TextBoxFor(model => model.ShortName, new { style = "width: 100%;", id = "txtShortName" })
                                    </td>
                                    <td style="width:17%; text-align:right">
                                        Orgin 
                                    </td>
                                    <td style="width:33% ; text-align:left">
                                        @Html.TextBoxFor(model => model.Origin, new { style = "width:100%;", id = "txtOrigin" })
                                    </td>
                                </tr>
                                <tr>
                                    <td style="width:17%; text-align:right">
                                        Email 
                                    </td>
                                    <td style="width:33% ; text-align:left">
                                        @Html.TextBoxFor(model => model.Email, new { style = "width:100%;", id = "txtEmail" })
                                    </td>
                                    <td style="width:17%; text-align:right">
                                        Fax 
                                    </td>
                                    <td style="width:33% ; text-align:left">
                                        @Html.TextBoxFor(model => model.Fax, new { style = "width: 100%;", id = "txtFax" })
                                    </td>
                                </tr>

                                <tr>
                                    <td style="width:17%; text-align:right">
                                        Note 
                                    </td>
                                    <td colspan="3" style="width:85% ; text-align:left">
                                        @Html.TextBoxFor(model => model.Note, new { style = "width: 100%;", id = "txtNote" })
                                    </td>
                                </tr>

                            </table>
                        </td>
                        <td style="width:30%; vertical-align:top;">
                            <table style="width:100%; ">
                                <tr>
                                    <td style="width: 100%;">
                                        <table id="tblConType" title="" class="easyui-datagrid" style="width:100%; height:160px;   font-size: 12px" fitcolumns="false" rownumbers="true" pagination="false" singleselect="false"autorowheight="false">
                                            <thead>
                                                <tr>
                                                    <th data-options="field:'Selected',checkbox:true"></th>
                                                    <th field="TypeName" width="80%">Type</th>
                                                </tr>
                                            </thead>
                                        </table>
                                    </td>

                                </tr>
                                <tr>
                                    <td style="width: 100%;">
                                        <table id="tblBU" title="" class="easyui-datagrid" style="width:100%; height:160px;  font-size: 12px" fitcolumns="false" rownumbers="true" pagination="false" singleselect="false"autorowheight="false">
                                            <thead>
                                                <tr>
                                                    <th data-options="field:'Selected',checkbox:true">
                                                    </th>
                                                    <th field="Name" width="80%">Business Unit</th>
                                                </tr>
                                            </thead>
                                        </table>
                                    </td>

                                </tr>
                            </table>
                        </td>
                    </tr>
                </table>
            </fieldset>
         </div>
        <div style="width:100%; height:10%">
            <fieldset>
                <legend style="font-weight: bold">Action : </legend>
                <table border="0" cellspacing="2" cellpadding="2" style="font-size: 11px; font-weight: bold; width:100%">
                    <tr>
                        <td style="width:80%; text-align:right"></td>
                        <td style="width: 10%">
                            <a id="btnSave" href="javascript:void(0)" class="easyui-linkbutton" iconcls="icon-save" plain="true">Save</a>
                        </td>
                        <td style="width: 10%">
                            <a id="btnClose" href="javascript:void(0)" class="easyui-linkbutton" iconcls="icon-cancel" plain="true">Close</a>
                        </td>
                    </tr>
                </table>
            </fieldset>
        </div>
        </div>
</body>
</html>


<script type="text/javascript">
    var _oContractor=null;
    var _sBaseAddress="",_sBackTo="";
    var _oContractorTypeObj=[];
    var _oContractorTypes=[];
    var _nMenuid=0;
    var _oBusinessUnits = [];
    var _oBUWisePartys = [];
    $(document).ready(function () {
        _sBaseAddress =@Html.Raw( new System.Web.Script.Serialization.JavaScriptSerializer().Serialize(HttpContext.Current.Session[SessionInfo.BaseAddress]));
        _nMenuid = @Html.Raw(new System.Web.Script.Serialization.JavaScriptSerializer().Serialize(HttpContext.Current.Session[SessionInfo.MenuID]));
        _oContractor =@Html.Raw(new System.Web.Script.Serialization.JavaScriptSerializer().Serialize(Model));
        _oBUWisePartys =@Html.Raw(new System.Web.Script.Serialization.JavaScriptSerializer().Serialize(Model.BUWisePartys));
        _oContractorTypeObj = @Html.Raw(new System.Web.Script.Serialization.JavaScriptSerializer().Serialize(ViewBag.ContractorTypeObj));
        _oContractorTypes = @Html.Raw(new System.Web.Script.Serialization.JavaScriptSerializer().Serialize(ViewBag.ContractorTypes));
        _oBusinessUnits = @Html.Raw(new System.Web.Script.Serialization.JavaScriptSerializer().Serialize(ViewBag.BusinessUnits));
        debugger;
        _sBackTo=sessionStorage.getItem("ContractorBackTo");
        _sContractorHeader=sessionStorage.getItem("ContractorHeader");
        $('#divContractor').panel({ title:_sContractorHeader});
        RefreshConType(_oContractorTypeObj);
        RefreshBUs(_oBusinessUnits);
        SetConType();
        SetBUs();
        if(_sContractorHeader=="View Contractor")
        {
            document.getElementById('txtName').disabled = true;
            document.getElementById('txtZone').disabled = true;
            document.getElementById('txtOrigin').disabled = true;
            document.getElementById('txtAddress').disabled = true;
            document.getElementById('txtAddress2').disabled = true;
            document.getElementById('txtPhone').disabled = true;
            document.getElementById('txtPhone2').disabled = true;
            document.getElementById('txtEmail').disabled = true;
            document.getElementById('txtVAT').disabled = true;
            document.getElementById('txtTIN').disabled = true;
            document.getElementById('txtGroupName').disabled = true;
            document.getElementById('txtShortName').disabled = true;
            document.getElementById('txtFax').disabled = true;
            document.getElementById('txtNote').disabled = true;
            document.getElementById('btnSave').style.display = 'none';
        }
        if(_sContractorHeader!="Edit Contractor")
        {
            RefreshAutoComplete();
        }
    });


    function RefreshAutoComplete()
    {
        $('#txtName').autocomplete({
            serviceUrl: _sBaseAddress+'/Contractor/GetsContractorAutocomplete',
            paramName: "ContractorName",
            delimiter: ",",
            minChars : 2,
            transformResult: function(response) {
                return {
                    suggestions: $.map($.parseJSON(response), function(item) {
                        return { value: item.Name, data: item.ContractorID };
                    })
                };
            },
            onSelect: function (suggestion) {                
                $('#txtName').data('ContractorID', suggestion.data);
                $("#txtName").addClass("fontColorOfPickItem");                
            }
            //onSearchStart: function (query) {
            //    $('#divContractor').data('SelectedContractor', 0); 
            //    $("#txtName").removeClass("fontColorOfPickItem");
            //}
        });

        //$('#txtAddress').autocomplete({            
        //    serviceUrl: _sBaseAddress+'/Contractor/GetsContractorAutocomplete2',
        //    paramName: "ContractorName",
        //    //params: { ContractorID : $('#txtName').data('ContractorID') },            
        //    delimiter: ",",
        //    minChars : 2,
        //    clearCache : true,
        //    transformResult: function(response) {
        //        return {
        //            suggestions: $.map($.parseJSON(response), function(item) {
        //                return { value: item.Name, data: item.ContractorID };
        //            })
        //        };
        //    },
        //    onSearchStart: function (query) {
        //        var oContractor = { ContractorID : $('#txtName').data('ContractorID') };
        //        $.ajax({
        //            type: "POST",
        //            dataType: "json",
        //            url : _sBaseAddress+  "/Contractor/SetAutocompleteSessionData",
        //            traditional: true,
        //            data:  JSON.stringify(oContractor),
        //            contentType: "application/json; charset=utf-8",
        //            success: function (data) {},
        //            error: function (xhr, status, error) { alert(error); }
        //        });
        //    }
        //});
    }

    function RefreshConType(oContractorTypeObj)
    {
        data=oContractorTypeObj;
        data={"total":""+data.length+"","rows":data};
        $('#tblConType').datagrid('loadData',data);
    }

    function RefreshBUs(oBusinessUnits)
    {
        data=oBusinessUnits;
        data={"total":""+data.length+"","rows":data};
        $('#tblBU').datagrid('loadData',data);
    }

    function SetConType()
    {
        var oContractorTypeObj = $('#tblConType').datagrid('getRows');

        if(_oContractorTypes.length>0)
        {
            for(var i =0;i<_oContractorTypes.length;i++)
            {
                for(var j =0;j<oContractorTypeObj.length;j++)
                {
                    if(_oContractorTypes[i].ContractorTypeID == oContractorTypeObj[j].ContractorTypeID)
                    {
                        $('#tblConType').datagrid('checkRow', j);
                        break;
                    }
                }
            }
        }

    }

    function SetBUs()
    {
        debugger;
        var oBUWisePartys = $('#tblBU').datagrid('getRows');
        if(_oBUWisePartys.length>0)
        {
            for(var i =0;i<_oBUWisePartys.length;i++)
            {
                for(var j =0;j<oBUWisePartys.length;j++)
                {
                    if(parseInt(_oBUWisePartys[i].BUID) == parseInt(oBUWisePartys[j].BusinessUnitID))
                    {
                        $('#tblBU').datagrid('checkRow', j);
                        break;
                    }
                }
            }
        }

    }

    function ValidateInput()
    {
        if(document.getElementById("txtName").value==null || document.getElementById("txtName").value=="")
        {
            alert("Please enter contractor name!");
            $('#txtName').focus();
            return false;
        }

        var oConTyps= $('#tblConType').datagrid('getChecked')

        if(oConTyps.length<=0 || oConTyps ==null)
        {
            alert("Please select contractor type!");
            $('#tblConType').focus();
            return false;
        }

        if(document.getElementById("txtAddress").value==null || document.getElementById("txtAddress").value=="")
        {
            alert("Please enter contractor address!");
            $('#txtAddress').focus();
            return false;
        }

        if(document.getElementById("txtShortName").value==null || document.getElementById("txtShortName").value=="")
        {
            alert("Please enter contractor short Name!");
            $('#txtShortName').focus();
            return false;
        }

        var input = $("#txtShortName").val();
        var inputLength = input.length;
        var output = input.replace(/[^a-zA-Z0-9& ]/g, "")

        var outputLength = output.length;
        if (inputLength != outputLength)
        {
            alert("Symbol Not Allow for Short Name!");
            $('#txtShortName').focus();
            return false;
        }
        return true;
    }


    function RefreshObject()
    {
        var oContractor= {
            ContractorID : _oContractor.ContractorID,
            Zone :$("#txtZone").val(),
            Name :  $.trim($("#txtName").val()), 
            Origin: $.trim($("#txtOrigin").val()),
            Address: $.trim($("#txtAddress").val()),
            Address2: $.trim($("#txtAddress2").val()),
            Address3: $.trim($("#txtAddress3").val()),
            Phone: $.trim($("#txtPhone").val()), 
            Phone2:  $.trim($("#txtPhone2").val()),
            Email: $.trim($("#txtEmail").val()), 
            ShortName : $.trim($("#txtShortName").val()), 
            Fax : $.trim($("#txtFax").val()), 
            TIN : $.trim($("#txtTIN").val()),
            VAT : $.trim($("#txtVAT").val()),
            GroupName : $.trim($("#txtGroupName").val()), 
            Note :  $.trim($("#txtNote").val()),
            ActiveInActive:true,
            ContractorTypes: $('#tblConType').datagrid('getChecked'),
            BusinessUnits: $('#tblBU').datagrid('getChecked')

        };
        return oContractor;
    }

    $("#btnSave").click(function(){
        if(!ValidateInput()) return;
        var oContractor=RefreshObject();
        $.ajax({
            type: "POST",
            dataType: "json",
            url : _sBaseAddress+  "/Contractor/Save",
            traditional: true,
            data:  JSON.stringify(oContractor),
            contentType: "application/json; charset=utf-8",
            success: function (data) {
                oContractor = jQuery.parseJSON(data);
                if (oContractor.ContractorID>0 && (oContractor.ErrorMessage=="" || oContractor.ErrorMessage==null)) {
                    alert("Data Saved sucessfully");
                    var oContractors =sessionStorage.getItem("Contractors");
                    var nIndex= parseInt(sessionStorage.getItem("SelectedRowIndex"));
                    if(oContractors!=null)
                    {
                        oContractors = jQuery.parseJSON(oContractors);
                    }
                    else
                    {
                        oContractors=[];
                    }
                    if(nIndex!=-1)
                    {
                        oContractors[nIndex]=oContractor;
                    }
                    else
                    {
                        sessionStorage.setItem("SelectedRowIndex", oContractors.length);
                        oContractors.push(oContractor);
                    }
                    sessionStorage.setItem("Contractors", JSON.stringify(oContractors));
                    window.location.href = _sBackTo;
                }
                else {
                    alert(oContractor.ErrorMessage);
                    return;
                }
            },
            error: function (xhr, status, error) {
                alert(error);
            }
        });
    });

    $("#btnClose").click(function(){
        window.location.href = _sBackTo;
    });

    $(document).keydown(function(e) {
        if(e.which == 27)//escape=27
        {
            window.location.href = _sBackTo;
        }
    });
</script>