@{
    ViewBag.Title = "Business Unit";
}
<html>

<body>
    @model ESimSol.BusinessObjects.BusinessUnit
    <div id="divBusinessUnit" class="easyui-panel" title="Add BusinessUnit" style="font-family:Tahoma; height:100%; width:100%">
        <div style="width:100%; height:88%; text-align:center">
            <fieldset class="bodyfieldsetstyle" style="height:97%">
                <legend style="text-align:left; font-weight:bold;"> BusinessUnit Informations : </legend>
                
                <div style="width:100%;height:100%;">
                    <div style="width:60%;height:100%; text-align:center; float:left;margin-right:10px;">
                        <div style="border-right:5px solid black;">
                            <table style="width: 100%;margin-top: 20px;">
                                <tr>
                                    <td style="width:40%;text-align:right;">
                                        <label>
                                            BusinessUnit Code :
                                        </label>
                                    </td>
                                    <td style="width:60%;text-align:left;">
                                        @Html.TextBoxFor(model => model.Code, new { id = "txtCode", disabled = "disabled", style = "width: 90%;" })
                                    </td>

                                </tr>
                                <tr>
                                    <td style="width:40%;text-align:right;">
                                        <label>
                                            BusinessUnit Name :
                                        </label>
                                    </td>
                                    <td style="width:60%;text-align:left;">
                                        @Html.TextBoxFor(model => model.Name, new { id = "txtName", style = "width: 90%;" })
                                    </td>

                                </tr>
                                <tr>
                                    <td style="width:40%;text-align:right;">
                                        <label>
                                            Short Name :
                                        </label>
                                    </td>
                                    <td style="width:60%;text-align:left;">
                                        @Html.TextBoxFor(model => model.ShortName, new { id = "txtShortName", style = "width: 90%;" })
                                    </td>

                                </tr>
                                <tr>
                                    <td style="width:40%;text-align:right;">
                                        <label>
                                            Registration No :
                                        </label>
                                    </td>
                                    <td style="width:60%;text-align:left;">
                                        @Html.TextBoxFor(model => model.RegistrationNo, new { id = "txtRegistrationNo", style = "width: 90%;" })
                                    </td>

                                </tr>
                                <tr>
                                    <td style="width:40%;text-align:right;">
                                        <label>
                                            TIN No :
                                        </label>
                                    </td>
                                    <td style="width:60%;text-align:left;">
                                        @Html.TextBoxFor(model => model.TINNo, new { id = "txtTINNo", style = "width: 90%;" })
                                    </td>

                                </tr>
                                <tr>
                                    <td style="width:40%;text-align:right;">
                                        <label>
                                            Vat No :
                                        </label>
                                    </td>
                                    <td style="width:60%;text-align:left;">
                                        @Html.TextBoxFor(model => model.VatNo, new { id = "txtVatNo", style = "width: 90%;" })
                                    </td>

                                </tr>
                                <tr>
                                    <td style="width:40%; text-align:right">
                                        Business Unit Type :
                                    </td>
                                    <td style="width:60%;text-align:left;"">
                                        @Html.DropDownListFor(model => model.BusinessUnitTypeInInt, Model.BusinessUnitTypeObjs.Select(x => new SelectListItem() { Text = x.Value, Value = x.id.ToString() }), new { id = "cboBusinessUnitType", style = "width:92%;" })
                                    </td>
                                </tr>
                                <tr>
                                    <td style="width:40%; text-align:right">
                                        Business Nature :
                                    </td>
                                    <td style="width:60%;text-align:left;" ">
                                        @Html.DropDownListFor(model => model.BusinessNatureInInt, Model.BusinessNatures.Select(x => new SelectListItem() { Text = x.Value, Value = x.id.ToString() }), new { id = "cboBusinessNatures", style = "width:92%;" })
                                    </td>
                                </tr>
                                <tr>
                                    <td style="width:40%; text-align:right">
                                        Legal Format :
                                    </td>
                                    <td style="width:60%;text-align:left;" ">
                                        @Html.DropDownListFor(model => model.LegalFormatInInt, Model.LegalFormats.Select(x => new SelectListItem() { Text = x.Value, Value = x.id.ToString() }), new { id = "cboLegalFormats", style = "width:92%;" })
                                    </td>
                                </tr>
                                <tr>
                                    <td style="width:40%;text-align:right;">
                                        <label>
                                            Address :
                                        </label>
                                    </td>
                                    <td style="width:60%;text-align:left;">
                                        @Html.TextBoxFor(model => model.Address, new { id = "txtAddress", style = "width: 90%;" })
                                    </td>

                                </tr>
                                <tr>
                                    <td style="width:40%;text-align:right;">
                                        <label>
                                            Phone :
                                        </label>
                                    </td>
                                    <td style="width:60%;text-align:left;">
                                        @Html.TextBoxFor(model => model.Phone, new { id = "txtPhone", style = "width: 90%;" })
                                    </td>

                                </tr>
                                <tr>
                                    <td style="width:40%;text-align:right;">
                                        <label>
                                            Email :
                                        </label>
                                    </td>
                                    <td style="width:60%;text-align:left;">
                                        @Html.TextBoxFor(model => model.Email, new { id = "txtEmail", style = "width: 90%;" })
                                    </td>

                                </tr>
                                <tr>
                                    <td style="width:40%;text-align:right;">
                                        <label>
                                            Web Address :
                                        </label>
                                    </td>
                                    <td style="width:60%;text-align:left;">
                                        @Html.TextBoxFor(model => model.WebAddress, new { id = "txtWebAddress", style = "width: 90%;" })
                                    </td>

                                </tr>
                                <tr>
                                    <td style="width:40%;text-align:right;">
                                        <label>
                                            Note :
                                        </label>
                                    </td>
                                    <td style="width:60%;text-align:left;">
                                        @Html.TextBoxFor(model => model.Note, new { id = "txtNote", style = "width: 90%;" })
                                    </td>

                                </tr>
                            </table>
                        </div>
                    </div>
                    <div style="width:35%;height:100%; text-align:left; float:left;margin-bottom:2px;">
                        <table  style="width: 100%;margin-top: 20px;">
                            <tr>
                                <td style="width:40%;text-align:right;"></td>
                                <td style="width:60%;text-align:left;">
                                    @Html.CheckBoxFor(model => model.IsAreaEffect, new { id = "chkIsAreaEffect" })<label for="chkIsAreaEffect">Area Effect</label>
                                </td>
                            </tr>
                            <tr>
                                <td style="width:40%;text-align:right;"></td>
                                <td style="width:60%;text-align:left;">
                                    @Html.CheckBoxFor(model => model.IsZoneEffect, new { id = "chkIsZoneEffect" })<label for="chkIsZoneEffect">Zone Effect</label>
                                </td>
                            </tr>
                            <tr>
                                <td style="width:40%;text-align:right;"></td>
                                <td style="width:60%;text-align:left;">
                                    @Html.CheckBoxFor(model => model.IsSiteEffect, new { id = "chkIsSiteEffect" })<label for="chkIsSiteEffect">Site Effect</label>
                                </td>
                            </tr>
                            <tr>
                                <td style="width:40%;text-align:right;"></td>
                                <td style="width:60%;text-align:left;">
                                    Business Unit Logo :
                                </td>
                            </tr>   
                            <tr>
                                <td style="width:40%;text-align:right;"></td>
                                <td style="width:60%;text-align:left;">
                                    <img id="imgBULogo" src="" style="width:260px; height:80px;"/>
                                </td>
                            </tr>   
                            <tr>
                                <td style="width:40%;text-align:right;"></td>
                                <td style="width:60%;text-align:left;">
                                    <input id="fileInput" type="file" style="width:100%;" onchange="LoadBULogo(this)" />
                                </td>
                            </tr>                           
                        </table>
                    </div>
                </div>
            </fieldset>
        </div>
        <div style="width:100%; height:10%">
            <fieldset>
                <legend style="font-weight: bold">Action : </legend>
                <table border="0" cellspacing="2" cellpadding="2" style="font-size: 11px; font-weight: bold; width:100%">
                    <tr>
                        <td style="width:70%; text-align:right"></td>
                        <td style="width: 20%">
                            <a id="btnUploadLogo" href="javascript:void(0)" class="easyui-linkbutton" iconcls="icon-save" plain="false">Upload Logo</a>
                        </td>
                        <td style="width: 10%">
                            <a id="btnClose" href="javascript:void(0)" class="easyui-linkbutton" iconcls="icon-cancel" plain="false">Close</a>
                        </td>
                    </tr>
                </table>
            </fieldset>
        </div>
    </div>
</body>
</html>
<script type="text/javascript">
 var _oBusinessUnit=null;
 var _sBaseAddress="";
 var _sBusinessUnitHeader="";
 var _nMenuid=0;
 $(document).ready(function () {     
     _nMenuid = @Html.Raw(new System.Web.Script.Serialization.JavaScriptSerializer().Serialize(HttpContext.Current.Session[SessionInfo.MenuID]));
     _sBaseAddress =@Html.Raw(new System.Web.Script.Serialization.JavaScriptSerializer().Serialize(HttpContext.Current.Session[SessionInfo.BaseAddress]));
     _oBusinessUnit =@Html.Raw(new System.Web.Script.Serialization.JavaScriptSerializer().Serialize(Model));

     if(_oBusinessUnit.BUImageSt!=""){document.getElementById("imgBULogo").src =  _oBusinessUnit.BUImageSt;}
     else {document.getElementById("imgBULogo").src=null;}

     _sBusinessUnitHeader=sessionStorage.getItem("BusinessUnitHeader");
     $('#divBusinessUnit').panel({ title:_sBusinessUnitHeader});
     $('#divBusinessUnit input,select').prop('disabled',true);
     $('#fileInput').prop('disabled', false);
 });
    
    function LoadBULogo(input) {
        if (input.files && input.files[0]) {
            var reader = new FileReader();
            reader.onload = function (e) {
                $('#imgBULogo')
                .attr('src', e.target.result)
                .width(260)
                .height(80);                
            };
            reader.readAsDataURL(input.files[0]);
        }
    }

    $("#btnUploadLogo").click(function (e) {          
     if(_oBusinessUnit==null || parseInt(_oBusinessUnit.BusinessUnitID)<=0)
     {
         alert("Invalid Business Unit.");
         return;
     }
     var _formdata = new FormData();
     var fileInput = document.getElementById("fileInput");
     if (fileInput.files[0] != null) 
     {
         _formdata.append(fileInput.files[0].name, fileInput.files[0]);
     }
     else
     {
         alert("Please Browse Image.");
         return;
     }
        
     var xhr = new XMLHttpRequest();
     var tsv = ((new Date()).getTime()) / 1000;
     xhr.open('POST', _sBaseAddress + '/BusinessUnit/UploadLogo?ts=' + tsv);
     xhr.setRequestHeader('BusinessUnitID', _oBusinessUnit.BusinessUnitID);
     xhr.send(_formdata);
     xhr.onreadystatechange = function () {
         if (xhr.readyState == 4 && xhr.status == 200) {             
             alert("Data Save Successfully");
             var oBusinessUnits =sessionStorage.getItem("BusinessUnits");
             sessionStorage.setItem("BusinessUnits", oBusinessUnits);
             window.location.href = _sBaseAddress+ "/BusinessUnit/ViewBusinessUnits?menuid="+_nMenuid;
         }
     }
 });

 $("#btnClose").click(function(){
     window.location.href = _sBaseAddress+ "/BusinessUnit/ViewBusinessUnits?menuid="+_nMenuid;
 });

 $(document).keydown(function(e) {
     if(e.which == 27)//escape=27
     {
         window.location.href = _sBaseAddress+ "/BusinessUnit/ViewBusinessUnits?menuid="+_nMenuid;
     }
 });
</script>