@{
    ViewBag.Title = "Dye Line Progress List";
}

@model IEnumerable<ESimSol.BusinessObjects.RouteSheet>
    <body>
        <div id="progressbarParent" style="width:100%;height:100%;margin:0 auto;text-align:center; margin-left: auto;margin-right: auto;left: 0;right: 0;z-index: 1;">
            <div style="margin: 0px auto;margin-top: 251px;text-align:center;width:390px;">
                <label style="font-size:18px;">Please wait</label>
                <div id="progressbar" style="width:100%;height:37px;"></div>
            </div>
        </div>
        <div class="menuMainCollectionTable">
            <table id="tblRouteSheet" title="Dyeing Card List" class="easyui-datagrid" fit="true" fitcolumn="true" rownumbers="true" pagination="true" singleselect="true" autorowheight="false" toolbar="#toolbarRouteSheet">
                <thead>
                    <tr>
                        <th field="RouteSheetDateStr" width="8%">Date</th>
                        <th field="RouteSheetNo" width="10%"><span class="lblRSNo"></span></th>
                        <th field="OrderNoFull" width="10%">Order No</th>
                        <th field="RSStateStr" width="8%">Status</th>
                        <th field="MachineName" width="10%">Dye Machine</th>
                        <th field="ProductName" width="15%">Yarn Type</th>
                        <th field="ColorName" width="10%">ColorName</th>
                        <th field="Qty" width="10%" formatter="formatPrice">Qty</th>
                        <th field="PrepareByName" width="14%">Prepared By</th>
                        <th field="ApproveByName" width="14%">Approved</th>
                    </tr>
                </thead>
            </table>
            <div id="toolbarRouteSheet">
                <input type="text" id="txtRouteSheetNo" placeholder="Search by DL No" style="width:10%;" />
                <input type="text" id="txtOrderNo" placeholder="Search by Order" style="width:10%;" />
                <a id="btnSearch" href="javascript:void(0)" class="easyui-linkbutton" iconcls="icon-search" plain="true"></a>
                <a id="btnAdvSearch" href="javascript:void(0)" class="easyui-linkbutton" iconcls="icon-search" plain="true">Adv Search</a>
                <a id="btnAdd" href="javascript:void(0)" class="easyui-linkbutton" iconcls="icon-add" plain="true">Update Progress</a>
                <a id="btnUpdateHS" href="javascript:void(0)" class="easyui-linkbutton" iconcls="icon-add" plain="true">Update History</a>
                <a id="btnPrint" href="javascript:void(0)" class="easyui-linkbutton" iconcls="icon-excel" plain="true">Export To Excel</a>
                <a id="btnPrintReport" href="javascript:void(0)" class="easyui-linkbutton" iconcls="icon-print" plain="true">Progress Report</a>
            </div>
        </div>
        <div id="winAdvSearch" class="easyui-window winClass" style="width:500px" title=" adv. search" data-options="modal:true,closed:true,collapsible:false,minimizable:false,maximizable:false,closable:false">
            <table style="width:100%">
                <tr>
                    <td>
                        <fieldset>
                            <legend>Searching Criteria</legend>
                            <table style="width:100%">
                                <tr>
                                    <td style=" width:25%;text-align:right;">
                                        <label> Date:</label>
                                    </td>
                                    <td colspan="3" style=" width:75%;text-align:left;">
                                        <select id="cboRSDateAdvS" style="width:30%;" onchange="DateActionsRSDateAdvSearch();"></select>
                                        <input id="dtRouteSheetDateFromAdv" type="text" style="width: 100px;" class="easyui-datebox" required="required" data-options="formatter:icsdateformat,parser:icsdateparser" />To
                                        <input id="dtRouteSheetDateToAdv" type="text" style="width: 100px;" class="easyui-datebox" required="required" data-options="formatter:icsdateformat,parser:icsdateparser" />
                                    </td>
                                </tr>

                                <tr>
                                    <td style=" width:25%;text-align:right;">
                                        <label>Machine:</label>
                                    </td>
                                    <td colspan="3" style=" width:75%;text-align:left;">
                                        <input id="txtMachine" style="width:70%;" placeholder="Search Machine" />
                                        <a id="btnPickMachine" href="javascript:void(0)" class="easyui-linkbutton ics-pick" iconcls="icon-pick" plain="true"></a>
                                        <a id="btnResetMachine" href="javascript:void(0)" class="easyui-linkbutton ics-pick" iconcls="icon-clear" plain="true"></a>

                                    </td>
                                </tr>
                                <tr>
                                    <td style=" width:25%;text-align:right;">
                                        <label>Buyer:</label>
                                    </td>
                                    <td colspan="3" style=" width:75%;text-align:left;">
                                        <input id="txtBuyer" style="width:70%;"  placeholder=" search issue to" />
                                        <a id="btnPickBuyer" href="javascript:void(0)" class="easyui-linkbutton ics-pick" iconcls="icon-pick" plain="true"></a>
                                        <a id="btnResetBuyer" href="javascript:void(0)" class="easyui-linkbutton ics-pick" iconcls="icon-clear" plain="true"></a>

                                    </td>
                                </tr>
                                <tr>
                                    <td style=" width:25%;text-align:right;">
                                        <label>Yarn:</label>
                                    </td>
                                    <td colspan="3" style=" width:75%;text-align:left;">
                                        <input id="txtProductName" style="width:70%;" type="text" placeholder="Type & Press Enter" />
                                        <a id="btnProductPiker" href="javascript:void(0)" class="easyui-linkbutton ics-pick" iconcls="icon-pick" plain="true"></a>
                                        <a id="btnClrProductPiker" href="javascript:void(0)" class="easyui-linkbutton ics-pick" iconcls="icon-clear" plain="true"></a>
                                    </td>
                                </tr>
                                <tr>
                                    <td style=" width:25%;text-align:right;">
                                        <label>Order Type:</label>
                                    </td>
                                    <td style=" width:30%;text-align:left;">
                                        <select id="cboOrderType" class="cbo-styler"></select>
                                    </td>
                                    <td style=" width:15%;text-align:right;"></td>
                                    <td style=" width:30%;text-align:left;"></td>
                                </tr>
                                <tr>
                                    <td style=" width:25%;text-align:right;">
                                        <label>Order No:</label>
                                    </td>
                                    <td colspan="3" style=" width:75%;text-align:left;">
                                        <input id="txtOrderNoAdv" style="width:70%;" placeholder="Search Issue To" />
                                        <a id="btnPickOrderNo" href="javascript:void(0)" class="easyui-linkbutton ics-pick" iconcls="icon-pick" plain="true"></a>
                                        <a id="btnResetOrder" href="javascript:void(0)" class="easyui-linkbutton ics-pick" iconcls="icon-clear" plain="true"></a>

                                    </td>
                                </tr>
                                <tr>
                                    <td style=" width:25%;text-align:right;">
                                        <label>Status:</label>
                                    </td>
                                    <td colspan="3" style=" width:75%;text-align:left;">
                                        <table id="tblOrderStatus" class="easyui-datagrid" style="height:200px;" fitcolumn="true" rownumbers="true" pagination="false" multiselect="true" autorowheight="false">
                                            <thead>
                                                <tr>
                                                    <th data-options="field:'Selected',checkbox:true"> </th>
                                                    <th field="Text" width="80%">Status</th>
                                                </tr>
                                            </thead>

                                        </table>
                                    </td>
                                </tr>
                                <tr>
                                    <td style=" width:25%;text-align:right;">
                                        <label> Date by Status:</label>
                                    </td>
                                    <td colspan="3" style=" width:75%;text-align:left;">
                                        <select id="cboRSDateAdvS_His" style="width:30%;" onchange="DateActionsRSDateAdvSearch_His();"></select>
                                        <input id="dtRouteSheetDateFromAdv_His" type="text" style="width: 100px;" class="easyui-datebox" required="required" data-options="formatter:icsdateformat,parser:icsdateparser" />To
                                        <input id="dtRouteSheetDateToAdv_His" type="text" style="width: 100px;" class="easyui-datebox" required="required" data-options="formatter:icsdateformat,parser:icsdateparser" />
                                    </td>
                                </tr>

                                <tr>
                                    <td height="5px" colspan="4"></td>
                                </tr>

                            </table>
                        </fieldset>
                    </td>
                </tr>
            </table>

            <fieldset class="actionfieldsetstyle">
                <legend>Actions : </legend>
                <label class="lblLoadingMessage" style="float: left;">Loading Please Wait...</label>
                <a id="btnResetAdvSearch" href="javascript:void(0)" class="easyui-linkbutton" iconcls="icon-reload" plain="true">Reset</a>
                <a id="btnSearchAdvSearch" href="javascript:void(0)" class="easyui-linkbutton" iconcls="icon-search" plain="true">Search</a>
                <a id="btnCloseAdvSearch" href="javascript:void(0)" class="easyui-linkbutton" iconcls="icon-cancel" plain="true">Close</a>
            </fieldset>
        </div>
        <div id="winReport" class="easyui-window winClass" style="width:600px" title="Progress Report" data-options="modal:true,closed:true,collapsible:false,minimizable:false,maximizable:false,closable:false">
            <table style="width:100%">
                <tr>
                    <td>
                        <fieldset>
                            <legend>Select Criteria</legend>
                            <table style="width:100%">
                                <tr>
                                    <td style=" width:20%;text-align:right;">
                                        <label> Date:</label>
                                    </td>
                                    <td colspan="3" style=" width:80%;text-align:left;">
                                        <select id="cboRSDateRpt" style="width:20%;" onchange="DateActionsRSDateRpt();"></select>
                                        <input id="dtRouteSheetDateFromRpt" style="width:150px;" type="text" class="easyui-datetimebox" required="required" data-options="formatter:icsdatetimeformat,parser:icsdatetimeparser" />To
                                        <input id="dtRouteSheetDateToRpt" style="width:150px;" type="text" class="easyui-datetimebox" required="required" data-options="formatter:icsdatetimeformat,parser:icsdatetimeparser" />
                                        
                                    </td>
                                </tr>
                                <tr>
                                    <td style=" width:20%;text-align:right;">
                                        <label>Report Layout:</label>
                                    </td>
                                    <td style=" width:80%;text-align:left;" colspan="3">
                                        <select id="cboReportType" class="cbo-styler"></select>
                                    </td>
                                </tr>
                                <tr>
                                    <td height="5px" colspan="4"></td>
                                </tr>
                            </table>
                        </fieldset>
                    </td>
                </tr>
            </table>
            <fieldset class="actionfieldsetstyle">
                <legend>Actions : </legend>
                <a id="btnPreviewRpt" href="javascript:void(0)" class="easyui-linkbutton" iconcls="icon-print" plain="true">Preview</a>
                <a id="btnPreviewRpt_Excel" href="javascript:void(0)" class="easyui-linkbutton" iconcls="icon-excel" plain="true">Preview (Excel)</a>
                <a id="btnCloseReport" href="javascript:void(0)" class="easyui-linkbutton" iconcls="icon-cancel" plain="true">Close</a>
            </fieldset>
        </div>
    </body>

    <style type="text/css">
      
    </style>

    <script type="text/javascript">
    var _sBaseAddress="";
    var _oRouteSheets=[];
    var _oRSStatuss=[];
    var _sPTUIDs="";
    var _sContractorIDs="";
    var _sMachineIDs="";
    var _sProductIds="";
    var _sMessage='';
    var _nNextStatus=-1;
    var _nBUID=0;
    var _oRouteSheetSetup=null;
    $(document).ready(function () {
        _sBaseAddress = @Html.Raw(new System.Web.Script.Serialization.JavaScriptSerializer().Serialize(HttpContext.Current.Session[SessionInfo.BaseAddress]));
        _oRouteSheets =@Html.Raw( new System.Web.Script.Serialization.JavaScriptSerializer().Serialize(Model));
        _oRSStatuss=@Html.Raw(new System.Web.Script.Serialization.JavaScriptSerializer().Serialize(@ViewBag.EnumRSStatuss));
        var oOrderTypes=@Html.Raw(new System.Web.Script.Serialization.JavaScriptSerializer().Serialize(@ViewBag.OrderTypes));
        var oCompareOperators=@Html.Raw(new System.Web.Script.Serialization.JavaScriptSerializer().Serialize(@ViewBag.CompareOperators));
        var oRouteSheetSetup=@Html.Raw(new System.Web.Script.Serialization.JavaScriptSerializer().Serialize(@ViewBag.RouteSheetSetup));
        _oRouteSheetSetup =@Html.Raw(new System.Web.Script.Serialization.JavaScriptSerializer().Serialize(@ViewBag.RouteSheetSetup));
        _nBUID = @Html.Raw(new System.Web.Script.Serialization.JavaScriptSerializer().Serialize(ViewBag.BUID));
        _oAuthorizationRolesMapping = @Html.Raw(new System.Web.Script.Serialization.JavaScriptSerializer().Serialize(HttpContext.Current.Session[SessionInfo.AuthorizationRolesMapping]));

        RSSetup(oRouteSheetSetup);
        $('.number').icsCurrencyBox();

        $('.initial-state').hide();
        debugger;
        if(sessionStorage.getItem("RouteSheets")!=null && sessionStorage.getItem("RouteSheets").length>0){
            _oRouteSheets= jQuery.parseJSON(sessionStorage.getItem('RouteSheets'));
            var nIndex= sessionStorage.getItem('SelectedRowIndex');
            DynamicRefreshList(_oRouteSheets, 'tblRouteSheet');
            if(nIndex>-1)
            {
                $('#tblRouteSheet').datagrid('selectRow',nIndex);
            }
        }
        else{
            DynamicRefreshList(_oRouteSheets, 'tblRouteSheet');
        }

        DynamicRefreshList(_oRSStatuss, 'tblOrderStatus');

        $("#cboOrderType").icsLoadCombo({
            List: oOrderTypes,
            OptionValue: "OrderType",
            DisplayText: "ShortName",
        });
        $("#cboRSDateAdvS,#cboRSDateAdvS_His,#cboRSDateRpt").icsLoadCombo({
            List: oCompareOperators,
            OptionValue: "id",
            DisplayText: "Value",
        });
        $("#progressbar").progressbar({ value: 0 });
        $("#progressbarParent").hide();
        $(".lblLoadingMessage").hide();

        $("#btnUpdateHS").hide();
        if (PermissionChecker('ExtremeEdit', 'RouteSheet',_oAuthorizationRolesMapping)) {$("#btnUpdateHS").show();}
    });

    $(document).keydown(function (e) { if (e.keyCode == 27) { $('div').icsWindow('close'); } });
    function RSSetup(oRouteSheetSetup)
    {
        //$('#lblRSNo').html(oRouteSheetSetup.RSShortName);
        $(".lblRSNo").html(oRouteSheetSetup.RSShortName);
        $("#txtRouteSheetNo").attr("placeholder", "Search By"+oRouteSheetSetup.RSShortName);
    }

    /*---------- REPORT PREVIEW --------------*/
    function ResetReportWindow()
    {
        var oReportTypes=[{id:1, Value:'All Machine'},{id:4, Value:'Dye Machine'},{id:2, Value:'Hydro Machine'},{id:3, Value:'Dryer Machine'}];
        $("#cboReportType").icsLoadCombo({
            List: oReportTypes,
            OptionValue: "id",
            DisplayText: "Value",
            DefaultOptionValue: "All Machine",
        });
        $('#cboReportType').val(1);
        $('#cboRSDateRpt').val(1);

        $('#dtRouteSheetDateToRpt').datebox({disabled:true});
        $('#dtRouteSheetDateToRpt').datebox('setValue',icsdateformat(new Date()));

        DateActionsRSDateRpt();
    }
    $("#btnPrintReport").click(function (e) {
        ResetReportWindow();
        $("#winReport").icsWindow("open", "Progress Report");
    });
    $("#btnCloseReport").click(function (e) {
        $("#winReport").icsWindow("close");
    });
    function DateActionsRSDateRpt() {
        debugger;
        var nDateType=$('#cboRSDateRpt').val();
        if (nDateType == 1 )
        {
            $('#dtRouteSheetDateFromRpt').datetimebox({disabled: false});
            $('#dtRouteSheetDateToRpt').datetimebox({disabled: true});
        }
        if (nDateType == 5 )
        {
            $('#dtRouteSheetDateFromRpt').datetimebox({disabled: false});
            $('#dtRouteSheetDateToRpt').datetimebox({disabled: false});
        }
        var dtEventTime =new Date(_oRouteSheetSetup.BatchTime);
        dtEventTime = icsdateformat(new Date())+" "+ _oRouteSheetSetup.BatchTimeTT;
        $('#dtRouteSheetDateFromRpt').datetimebox('setValue',dtEventTime);
        $('#dtRouteSheetDateToRpt').datetimebox('setValue',dtEventTime);

       // DynamicDateActions("cboRSDateRpt", "dtRouteSheetDateFromRpt", "dtRouteSheetDateToRpt");
    }
    $("#btnPreviewRpt").click(function ()
    {
        debugger;
        var nReportLayout = $('#cboReportType').val();
        var nCompareDate= $('#cboRSDateRpt').val();
        //if(nReportLayout==0){ alert('Please Select A Report Layout & Try Again!'); return; }
        if(nCompareDate==0){ alert('Please Select A Date Criteria & Try Again!'); return; }

        var sParams = nReportLayout + '~' + nCompareDate + '~' + $('#dtRouteSheetDateFromRpt').datetimebox('getValue')+ '~' + $('#dtRouteSheetDateToRpt').datetimebox('getValue');
        window.open(_sBaseAddress + '/RouteSheet/Preview_BatchProgress?sParams='+sParams+"&buid="+_nBUID+"&ts=0", "_blank");
    });
    $("#btnPreviewRpt_Excel").click(function ()
    {
        debugger;
        var nReportLayout = $('#cboReportType').val();
        var nCompareDate= $('#cboRSDateRpt').val();
        //if(nReportLayout==0){ alert('Please Select A Report Layout & Try Again!'); return; }
        if(nCompareDate==0){ alert('Please Select A Date Criteria & Try Again!'); return; }

        var sParams = nReportLayout + '~' + nCompareDate + '~' + $('#dtRouteSheetDateFromRpt').datetimebox('getValue')+ '~' + $('#dtRouteSheetDateToRpt').datetimebox('getValue');
        window.open(_sBaseAddress + '/RouteSheet/ExportToExcel_DyeingProgress?sParams='+sParams+"&buid="+_nBUID+"&ts=0", "_blank");
    });


    ////Start adv Searching
    function updateProgress() {
        var value =$('#progressbar').progressbar('getValue');
        if (value < 96){
            value += Math.floor(Math.random() * 10);
            $('#progressbar').progressbar('setValue', value);
        }
    }
    function hideShow(miliseconds) {
        $("#progressbarParent").hide();
    }

    /*.......... Searching ............. */
    $("#txtRouteSheetNo").keyup(function (e) {
        var oRouteSheets =[];
        var keyCode = e.keyCode || e.which;
        $('#txtRouteSheetNo').removeClass("errorFieldBorder");
        if (keyCode == 8) { oRouteSheets = _oRouteSheets; }
        else{ oRouteSheets = $('#tblRouteSheet').datagrid('getRows'); }
        if (e.keyCode == 13) // Enter Press
        {
            if (!$.trim($("#txtRouteSheetNo").val()).length) {

                alert("Please enter routesheet no to search.");
                $('#txtRouteSheetNo').focus();
                $('#txtRouteSheetNo').val("");
                return;
            }
            else { $('#txtRouteSheetNo').removeClass("errorFieldBorder"); }

            ResetAdvSearchPicker();

            var oRouteSheet={
                Params:   $.trim($("#txtRouteSheetNo").val())+'~'+0+ '~'+ icsdateformat(new Date())+'~'+ icsdateformat(new Date())+'~'+ _sPTUIDs +'~'+ _sContractorIDs + '~'+_sMachineIDs +'~'+ ''+'~'+''+'~'+_sProductIds+'~'+0+''
            };

            GetsRouteSheet(oRouteSheet,false);
        }
        else {
            var sTempName="";
            var oSearchedData = [];
            for(i=0;i<oRouteSheets.length;++i)
            {
                sTempName=oRouteSheets[i]['RouteSheetNo'];
                if(sTempName.toUpperCase().indexOf($('#txtRouteSheetNo').val().toUpperCase())>-1)
                {
                    oSearchedData.push(oRouteSheets[i]);
                }
            }
            $('#tblRouteSheet').empty();
            if (oSearchedData.length == 0) { DynamicRefreshList(_oRouteSheets, "tblRouteSheet");}
            else { DynamicRefreshList(oSearchedData, "tblRouteSheet"); }

        }
    });
    $("#txtOrderNo").keyup(function (e) {
        var oRouteSheets =[];
        var keyCode = e.keyCode || e.which;
        $('#txtOrderNo').removeClass("errorFieldBorder");
        if (keyCode == 8) { oRouteSheets = _oRouteSheets; }
        else{ oRouteSheets = $('#tblRouteSheet').datagrid('getRows'); }
        if (e.keyCode == 13) // Enter Press
        {
            if (!$.trim($("#txtOrderNo").val()).length) {

                alert("Please enter routesheet no to search.");
                $('#txtOrderNo').focus();
                $('#txtOrderNo').val("");
                return;
            }
            else { $('#txtOrderNo').removeClass("errorFieldBorder"); }
            ResetAdvSearchPicker();
            var oRouteSheet={
                Params:   ''+'~'+0+ '~'+ icsdateformat(new Date())+'~'+ icsdateformat(new Date())+'~'+ _sPTUIDs +'~'+ _sContractorIDs + '~'+_sMachineIDs +'~'+ ''+'~'+$.trim($("#txtOrderNo").val())+'~'+_sProductIds+'~'+0+''

            };

            GetsRouteSheet(oRouteSheet,false);
        }
        else {
            var sTempName="";
            var oSearchedData = [];
            for(i=0;i<oRouteSheets.length;++i)
            {
                sTempName=oRouteSheets[i]['RouteSheetNo'];
                if(sTempName.toUpperCase().indexOf($('#txtOrderNo').val().toUpperCase())>-1)
                {
                    oSearchedData.push(oRouteSheets[i]);
                }
            }
            $('#tblRouteSheet').empty();
            if (oSearchedData.length == 0) { DynamicRefreshList(_oRouteSheets, "tblRouteSheet");}
            else { DynamicRefreshList(oSearchedData, "tblRouteSheet"); }

        }
    });

    /*..........Adv Searching ............. */
    function ResetAdvSearchPicker(){
        _sContractorIDs="";
        _sPTUIDs="";
        _sMachineIDs="";
        _sProductIds="";
        $('#txtOrderNoAdv,#txtBuyer,#txtMachine,#txtProductName').val("");
        $('#cboOrderType,#cboRSDateAdvS,#cboRSDateAdvS_His').val(0);

        $('#dtRouteSheetDateFromAdv,#dtRouteSheetDateToAdv').datebox({disabled:true});
        $('#dtRouteSheetDateFromAdv,#dtRouteSheetDateToAdv').datebox('setValue',icsdateformat(new Date()));
        $('#tblOrderStatus').datagrid('uncheckAll');

    }
    function DateActionsRSDateAdvSearch() {
        DynamicDateActions("cboRSDateAdvS", "dtRouteSheetDateFromAdv", "dtRouteSheetDateToAdv");
    }
    function DateActionsRSDateAdvSearch_His() {
        DynamicDateActions("cboRSDateAdvS_His", "dtRouteSheetDateFromAdv_His", "dtRouteSheetDateToAdv_His");
    }
    function GetOrderStatus(){

        var sOrderStatus="";

        var oOrderStatus=$('#tblOrderStatus').datagrid('getChecked');

        if(oOrderStatus.length>0){
            for(var i=0;i<oOrderStatus.length;i++){
                sOrderStatus= sOrderStatus + oOrderStatus[i].Value+","
            }
            sOrderStatus=sOrderStatus.substring(0,sOrderStatus.length-1);
        }
        return sOrderStatus;
    }
    $("#btnAdvSearch").click(function (e) {
        ResetAdvSearchPicker();
        $("#winAdvSearch").icsWindow("open", "Adv Search");
    });
    $("#btnCloseAdvSearch").click(function (e) {
        $("#winAdvSearch").icsWindow("close");
    });
    $("#btnSearchAdvSearch").click(function (e) {

        var sRSStatus=GetOrderStatus();

        if(_sPTUIDs =="" && _sContractorIDs=="" && _sMachineIDs=="" && _sProductIds=="" && parseInt($("#cboOrderType").val())<=0  && parseInt($("#cboRSDateAdvS").val())<=0 && sRSStatus=="" ){
            alert("No searching criteria found to search.");
            return false;
        }

        var oRouteSheet={
            Params:  ""+'~'+ parseInt($("#cboRSDateAdvS").val())+ '~'+ $('#dtRouteSheetDateFromAdv').datebox('getValue')+'~'+ $('#dtRouteSheetDateToAdv').datebox('getValue')+'~'+ _sPTUIDs +'~'+ _sContractorIDs + '~'+_sMachineIDs +'~'+ sRSStatus+'~'+''+'~'+_sProductIds+'~'+parseInt($("#cboOrderType").val())+'~'+ parseInt($("#cboRSDateAdvS_His").val())+ '~'+ $('#dtRouteSheetDateFromAdv_His').datebox('getValue')+'~'+ $('#dtRouteSheetDateToAdv_His').datebox('getValue')+''
        };
        GetsRouteSheet(oRouteSheet,true);
    });
    function GetsRouteSheet(oRouteSheet, bIsAdvSearch)
    {
        var obj =
        {
            BaseAddress: _sBaseAddress,
            Object: oRouteSheet,
            ControllerName: "RouteSheet",
            ActionName: "Gets",
            IsWinClose: bIsAdvSearch
        };

        $(".lblLoadingMessage").show();
        $.icsMaxDataGets(obj, function (response) {

            if (response.status && response.objs != null) {
                //if(bIsAdvSearch){
                //    ResetAdvSearchPicker();
                //    $("#winAdvSearch").icsWindow("close");
                //}
                if (response.objs.length > 0) {
                    if(response.objs[0].RouteSheetID>0)
                    {
                        _oRouteSheets=response.objs;
                        sessionStorage.setItem("SearchString",oRouteSheet.Params);
                        DynamicRefreshList(response.objs, "tblRouteSheet");
                        $(".lblLoadingMessage").hide();
                    }
                    else
                    {
                        DynamicRefreshList([], "tblRouteSheet"); alert(response.objs[0].ErrorMessage);
                        $(".lblLoadingMessage").hide();
                    }
                }
                else
                {
                    DynamicRefreshList([], "tblRouteSheet"); alert("No Dyeing Card/Batch found.");
                    $(".lblLoadingMessage").hide(); 1
                }
            }
        });
    }

    /*-------------Pick Pro------ Product Pick */
    $("#txtProductName").keydown(function (e) {
        debugger;
        var code = (e.keyCode ? e.keyCode : e.which);
        if (code == 13) // Enter Press
        {
            if($('#txtProductName').val()==null || $('#txtProductName').val()=="")
            {
                alert("Please Type Product and Press Enter.");
                $('#txtProductName').focus();
                return;
            }
            PickProduct($('#txtProductName').val());
        }
        if (code == 8) //backspace=8
        {
            //debugger;
            $("#txtProductName").removeClass("fontColorOfPickItem");
            _sProductIds= "";
        }
    });
    $("#btnProductPiker").click(function () {

        if($('#txtProductName').val()==null || $('#txtProductName').val()=="")
        {
            alert("Please Type Product and Press Enter.");
            $('#txtProductName').focus();
            return;
        }
        PickProduct($('#txtProductName').val());
    });
    $("#btnClrProductPiker").click(function () {
        $("#txtProductName").val('');
        $("#txtProductName").removeClass("fontColorOfPickItem");
        _sProductIds= [];
    });
    function PickProduct(sProductName)
    {
        var oProduct = { BUID:sessionStorage.getItem("BUID"),ProductName:sProductName};

        var obj = {
            BaseAddress: _sBaseAddress,
            Object: oProduct,
            ControllerName: "Product",
            ActionName: "SearchByProductBUWise",
            IsWinClose: false
        };
        $("#progressbar").progressbar({ value: 0 });
        $("#progressbarParent").show();
        var intervalID = setInterval(updateProgress, 250);
        $.icsDataGets(obj, function (response) {
            clearInterval(intervalID);
            $("#progressbarParent").hide();
            if (response.status && response.objs.length > 0) {
                if (response.objs[0].ProductID > 0) {
                    var tblColums = [];
                    var oColumn = { field: "ProductCode", title: "Code", width: 100, align: "left" }; tblColums.push(oColumn);
                    oColumn = { field: "ProductName", title: "Name", width: 300, align: "left" }; tblColums.push(oColumn);
                    oColumn = { field: "MUnit", title: "Unit", width: 70, align: "left" }; tblColums.push(oColumn);
                    var oPickerParam = {
                        winid: 'winProductPicker',
                        winclass: 'clsProductPicker',
                        winwidth: 600,
                        winheight: 460,
                        tableid: 'tblProductPicker',
                        tablecolumns: tblColums,
                        datalist: response.objs,
                        multiplereturn: true,
                        searchingbyfieldName: 'NameCode',
                        windowTittle: 'Product List'
                    };
                    $.icsPicker(oPickerParam);
                    IntializePickerbutton(oPickerParam);
                }
                else {
                    alert(response.objs[0].ErrorMessage);
                }

            }else{
                alert("Data Not Found.");
            }
        });
    }
    /*..........Pick Order ............. */

    $("#btnPickOrderNo").click(function () {
        debugger;
        if (parseInt($("#cboOrderType").val())<=0 ) {

            alert("Please Select Order Type.");
            $('#cboOrderType').focus();
            $('#cboOrderType').addClass("errorFieldBorder");
            return;
        }
        else{
            $('#cboOrderType').removeClass("errorFieldBorder");
        }

        var oPSDetail = {
            OrderType:$('#cboOrderType').val(),
            OrderNo:$('#txtOrderNo').val(),
            LabDipDetailID:0,
            ContractorName:_sContractorIDs
        };

        GetOrders(oPSDetail);
    });
    $("#txtOrderNoAdv").keydown(function (e) {
        var nkeyCode = e.keyCode || e.which;
        if(nkeyCode==13){
            var sorderNo=$.trim($("#txtOrderNoAdv").val());
            if (parseInt($("#cboOrderType").val())<=0 ) {

                alert("Please Select Order Type.");
                $('#cboOrderType').focus();
                $('#cboOrderType').addClass("errorFieldBorder");
                return;
            }
            else{
                $('#cboOrderType').removeClass("errorFieldBorder");
            }

            var oPSDetail = {
                OrderType:$('#cboOrderType').val(),
                OrderNo:$('#txtOrderNoAdv').val(),
                LabDipDetailID:0
            };
            GetOrders(oPSDetail);
        }
        else if(nkeyCode==8){
            $("#txtOrderNoAdv").val("");

        }
    });
    function GetOrders(oPSDetail){

        var obj = {
            BaseAddress: _sBaseAddress,
            Object: oPSDetail,
            ControllerName: "DUPSchedule",
            ActionName: "GetsDyeingOrder",
            IsWinClose: false
        };
        $("#progressbar").progressbar({ value: 0 });
        $("#progressbarParent").show();
        var intervalID = setInterval(updateProgress, 250);
        $.icsDataGets(obj, function (response) {
            clearInterval(intervalID);
            $("#progressbarParent").hide();
            if (response.status && response.objs.length > 0) {
                if (response.objs[0].DODID > 0) {
                    debugger;
                    var tblColums = [];

                    var oColumn = { field: "OrderNo", title: "OrderNo", width: 100, align: "left" };tblColums.push(oColumn);

                    oColumn = { field: "OrderQty", title: "OrderQty", width: 75, align: "right",formatter:formatPrice };tblColums.push(oColumn);
                    oColumn = { field: "Qty_Pro", title: "Prod Qty", width: 75, align: "right",formatter:formatPrice };tblColums.push(oColumn);
                    oColumn = { field: "Qty_RS", title: "Yet To Pro", width: 75, align: "right" };tblColums.push(oColumn);
                    oColumn = { field: "ProductName", title: "Yarn", width: 225, align: "left" };tblColums.push(oColumn);
                    oColumn = { field: "ColorName", title: "ColorName", width: 100, align: "left" };tblColums.push(oColumn);
                    oColumn = { field: "ShadeSt", title: "Shade", width: 40, align: "left" };tblColums.push(oColumn);
                    oColumn = { field: "ColorNo", title: "ColorNo", width: 80, align: "left" };tblColums.push(oColumn);
                    oColumn = { field: "LabdipNo", title: "LabdipNo", width: 100, align: "left" };tblColums.push(oColumn);
                    oColumn = { field: "OrderTypeSt", title: "OrderType", width: 100, align: "left" };tblColums.push(oColumn);
                    var oPickerParam = {
                        winid: 'winOrderPicker',
                        winclass:'clsOrderPicker',
                        winwidth: 1000,
                        winheight: 660,
                        tableid: 'tblOrderPicker',
                        tablecolumns: tblColums,
                        datalist: response.objs,
                        multiplereturn: true,
                        searchingbyfieldName:'OrderNo',
                        windowTittle: 'Order List'
                    };
                    $.icsPicker(oPickerParam);
                    IntializePickerbutton(oPickerParam);//multiplereturn, winclassName
                }
                else { alert(response.objs[0].ErrorMessage); }
            }
            else{
                alert("No order found.");
            }
        });

    }
    $('#btnPrintCard').click(function(){

        var oRouteSheet = $('#tblRouteSheet').datagrid('getSelected');
        if (oRouteSheet ==null || oRouteSheet.RouteSheetID <=0 ) { alert("Please select an item from list."); return ; }
        var tsv=((new Date()).getTime())/1000;
        window.open(_sBaseAddress+ "/RouteSheet/PrintCard?nId="+oRouteSheet.RouteSheetID+"&buid="+_nBUID, "_blank");
    });
    $("#btnResetOrder").click(function () {
        $('#txtOrderNoAdv').val("");
        _sPTUIDs="";
    });

    /*..........Contractor Pick ............. */
    $("#btnResetBuyer").click(function () {
        $("#txtBuyer").val("");
        _sContractorIDs="";
    });
    $("#btnPickBuyer").click(function () {

        var sContractorName=$.trim($("#txtBuyer").val());
        GetContractors(sContractorName);
    });
    $("#txtBuyer").keydown(function (e) {
        var nkeyCode = e.keyCode || e.which;
        if(nkeyCode==13){
            var sContractorName=$.trim($("#txtBuyer").val());
            GetContractors(sContractorName);
        }
        else if(nkeyCode==8){
            $("#txtBuyer").val("");
            _sContractorIDs=0;
        }
    });
    function GetContractors(sContractorName){

        var oContractor = {
            Params: '2,3' +'~'+sContractorName+'~'+sessionStorage.getItem("BUID"),
        };
        var obj = {
            BaseAddress: _sBaseAddress,
            Object: oContractor,
            ControllerName: "Contractor",
            ActionName: "ContractorSearchByNameType",
            IsWinClose: false
        };
        $("#progressbar").progressbar({ value: 0 });
        $("#progressbarParent").show();
        var intervalID = setInterval(updateProgress, 250);

        $.icsDataGets(obj, function (response) {
            clearInterval(intervalID);
            $("#progressbarParent").hide();
            if (response.status && response.objs.length > 0) {
                if (response.objs[0].ContractorID > 0) {
                    debugger;
                    var tblColums = [];
                    var oColumn = { field: "ContractorID", title: "Code", width: 50, align: "center" };tblColums.push(oColumn);
                    oColumn = { field: "Name", title: "Name", width: 190, align: "left" };tblColums.push(oColumn);
                    oColumn = { field: "Phone", title: "Phone", width: 140, align: "left" };tblColums.push(oColumn);
                    var oPickerParam = {
                        winid: 'winContractorPicker',
                        winclass:'clsContractorPicker',
                        winwidth: 460,
                        winheight: 460,
                        tableid: 'tblContractorPicker',
                        tablecolumns: tblColums,
                        datalist: response.objs,
                        multiplereturn: true,
                        searchingbyfieldName:'Name',
                        windowTittle: 'Contractor List'
                    };
                    $.icsPicker(oPickerParam);
                    IntializePickerbutton(oPickerParam);//multiplereturn, winclassName
                }
                else { alert(response.objs[0].ErrorMessage); }
            }
            else{
                alert("No contractor found.");
            }
        });


    }

    /*---------------- Machine Pick --------------*/
    $("#btnResetMachine").click(function () {

        $("#txtMachine").val("");
        _sMachineIDs="";
    });
    $("#btnPickMachine").click(function () {

        var sMachineName=$.trim($("#txtMachine").val());
        if(sMachineName==""){ alert("Type machine name to search."); return false; }
        GetMachines(sMachineName);
    });
    $("#txtMachine").keydown(function (e) {
        var nkeyCode = e.keyCode || e.which;
        if(nkeyCode==13){
            var sMachineName=$.trim($("#txtMachine").val());
            if(sMachineName==""){ alert("Type machine name to search."); return false; }
            GetMachines(sMachineName);
        }
        else if(nkeyCode==8){
            $("#txtMachine").val("");
            _sMachineIDs="";
        }
    });
    function GetMachines(sMachineName){

        var oCapitalResource = {
            BUID:sessionStorage.getItem("BUID"),
            ResourcesTypeInInt:2,
            Name:sMachineName
        };
        var obj = {
            BaseAddress: _sBaseAddress,
            Object: oCapitalResource,
            ControllerName: "CapitalResource",
            ActionName: "GetsCapitalResourceLastLayer",
            IsWinClose: false
        };
        $("#progressbar").progressbar({ value: 0 });
        $("#progressbarParent").show();
        var intervalID = setInterval(updateProgress, 250);
        $.icsDataGets(obj, function (response) {
            clearInterval(intervalID);
            $("#progressbarParent").hide();
            if (response.status && response.objs.length > 0) {
                if (response.objs[0].CRID > 0) {
                    debugger;
                    var tblColums = [];
                    var oColumn = { field: "Name", title: "Machine Name", width: 130, align: "left" };tblColums.push(oColumn);
                    oColumn = { field: "MachineCapacity", title: "Capacity", width: 90, align: "left" };tblColums.push(oColumn);
                    oColumn = { field: "OperationUnitName", title: "Store", width: 185, align: "left" };tblColums.push(oColumn);

                    var oPickerParam = {
                        winid: 'winMachinePicker',
                        winclass:'clsMachinePicker',
                        winwidth: 500,
                        winheight: 460,
                        tableid: 'tblMachinePicker',
                        tablecolumns: tblColums,
                        datalist: response.objs,
                        multiplereturn: true,
                        searchingbyfieldName:'Name',
                        windowTittle: 'Machine List'
                    };
                    $.icsPicker(oPickerParam);
                    IntializePickerbutton(oPickerParam);//multiplereturn, winclassName
                }
                else { alert(response.objs[0].ErrorMessage); }
            }
            else{
                alert("No machine found.");
            }
        });


    }

    function IntializePickerbutton(oPickerobj) {
        $("#" + oPickerobj.winid).find("#btnOk").click(function () {
            SetPickerValueAssign(oPickerobj);
        });
        $(document).find('.' + oPickerobj.winclass).keydown(function (e) {
            if (e.which === 13) {
                SetPickerValueAssign(oPickerobj);
            }
        });
    }
    function SetPickerValueAssign(oPickerobj) {
        var oreturnObj = null, oreturnObjs = [];
        if (oPickerobj.multiplereturn) {
            oreturnObjs = $('#' + oPickerobj.tableid).datagrid('getChecked');
        } else {
            oreturnObj = $('#' + oPickerobj.tableid).datagrid('getSelected');
        }

        if (oPickerobj.winid == 'winContractorPicker')
        {
            if (oreturnObjs != null && oreturnObjs.length> 0)
            {

                _sContractorIDs=''; var sMessage='';
                sMessage=(oreturnObjs.length>1)? oreturnObjs.length +" Buyers Selected" : oreturnObjs[0].Name;
                $('#txtBuyer').val(sMessage);
                $("#txtBuyer").addClass("fontColorOfPickItem");

                for(var i=0;i<oreturnObjs.length;i++){
                    _sContractorIDs=_sContractorIDs+oreturnObjs[i].ContractorID+',';
                }
                _sContractorIDs=_sContractorIDs.substring(0,_sContractorIDs.length-1);

            }
            else
            {
                alert("Please select a contractor.");
                return false;
            }
        }

        else if (oPickerobj.winid == 'winBuyers') {
            if (oreturnObjs != null && oreturnObjs.length> 0)
            {
                _sDeliverToIDs='';
                var sMessage='';
                sMessage=(oreturnObjs.length>1)? oreturnObjs.length +" Contractors Selected" : oreturnObjs[0].Name;
                $('#txtDeliverToAdvS').val(sMessage);
                $("#txtDeliverToAdvS").addClass("fontColorOfPickItem");

                for(var i=0;i<oreturnObjs.length;i++){
                    _sDeliverToIDs=_sDeliverToIDs+oreturnObjs[i].ContractorID+',';
                }
                _sDeliverToIDs=_sDeliverToIDs.substring(0,_sDeliverToIDs.length-1);
            }
            else
            {
                alert("Please select a buyer.");
                return false;
            }
        }
        else if (oPickerobj.winid == 'winProductPicker')
        {
            if (oreturnObjs!= null && oreturnObjs.length> 0)
            {
                _sProductIds=''; var sMessage='';
                sMessage=(oreturnObjs.length>1)? oreturnObjs.length +" ProductName Selected" : oreturnObjs[0].ProductName;
                $('#txtProductName').val(sMessage);
                $("#txtProductName").addClass("fontColorOfPickItem");

                for(var i=0;i<oreturnObjs.length;i++){
                    _sProductIds=_sProductIds+oreturnObjs[i].ProductID+',';
                }
                _sProductIds=_sProductIds.substring(0,_sProductIds.length-1);

            }
            else
            {
                alert("Please select a Product.");
                return false;
            }

        }
        else  if (oPickerobj.winid == 'winMachinePicker')
        {
            if (oreturnObjs!= null && oreturnObjs.length> 0)
            {
                _sMachineIDs=''; var sMessage='';
                sMessage=(oreturnObjs.length>1)? oreturnObjs.length +" Machine Selected" : oreturnObjs[0].Name;
                $('#txtMachine').val(sMessage);
                $("#txtMachine").addClass("fontColorOfPickItem");

                for(var i=0;i<oreturnObjs.length;i++){
                    _sMachineIDs=_sMachineIDs+oreturnObjs[i].CRID+',';
                }
                _sMachineIDs=_sMachineIDs.substring(0,_sMachineIDs.length-1);
            }
            else
            {
                alert("Please select a Machine.");
                return false;
            }
        }
        else  if (oPickerobj.winid == 'winOrderPicker')
        {
            if (oreturnObjs!= null && oreturnObjs.length> 0)
            {
                _sPTUIDs=''; var sMessage='';
                sMessage=(oreturnObjs.length>1)? oreturnObjs.length +" Order Selected" : oreturnObjs[0].OrderNo;
                $('#txtOrderNoAdv').val(sMessage);
                $("#txtOrderNoAdv").addClass("fontColorOfPickItem");

                for(var i=0;i<oreturnObjs.length;i++){
                    _sPTUIDs=_sPTUIDs+oreturnObjs[i].DODID+',';
                }
                _sPTUIDs=_sPTUIDs.substring(0,_sPTUIDs.length-1);
            }
            else
            {
                alert("Please select a order.");
                return false;
            }
        }
        $("#" + oPickerobj.winid).icsWindow("close");
        $("#" + oPickerobj.winid).remove();
    }
    /*------------------------------------*/

    $("#btnAdd").click(function(){
        var oRouteSheet = $('#tblRouteSheet').datagrid('getSelected');
        if (oRouteSheet ==null || oRouteSheet.RouteSheetID <=0 ) { alert("Please select an item from list."); return ; }

        var nIndex = $('#tblRouteSheet').datagrid('getRowIndex',oRouteSheet);
        sessionStorage.setItem("Operation", "New");
        sessionStorage.setItem("SelectedRowIndex", nIndex);
        sessionStorage.setItem("RouteSheetHeader", "Add RouteSheet");
        sessionStorage.setItem("RouteSheets", JSON.stringify($('#tblRouteSheet').datagrid('getRows')));
        sessionStorage.setItem("BackLink", window.location.href);
        var tsv=((new Date()).getTime())/1000;
        sessionStorage.setItem("BUID", _nBUID);
        window.location.href = _sBaseAddress+ "/RouteSheet/View_RouteSheetProgress?nId="+ oRouteSheet.RouteSheetID +"&buid="+_nBUID+"&ts="+tsv;

        // window.location.href = _sBaseAddress+ "/RouteSheet/ViewRouteSheet?id=0&buid="+_nBUID;
    });
    $("#btnUpdateHS").click(function(){
        var oRouteSheet = $('#tblRouteSheet').datagrid('getSelected');
        if (oRouteSheet ==null || oRouteSheet.RouteSheetID <=0 ) { alert("Please select an item from list."); return ; }

        var nIndex = $('#tblRouteSheet').datagrid('getRowIndex',oRouteSheet);
        //sessionStorage.setItem("Operation", "New");
        sessionStorage.setItem("SelectedRowIndex", nIndex);
        sessionStorage.setItem("RouteSheetHeader", "Add RouteSheet");
        sessionStorage.setItem("RouteSheets", JSON.stringify($('#tblRouteSheet').datagrid('getRows')));
        sessionStorage.setItem("BackLink", window.location.href);
        var tsv=((new Date()).getTime())/1000;
        sessionStorage.setItem("BUID", _nBUID);
        window.location.href = _sBaseAddress+ "/RouteSheetHistory/ViewRSHistoryUpdate?id="+ oRouteSheet.RouteSheetID +"&buid="+_nBUID+"&ts="+tsv;

        // window.location.href = _sBaseAddress+ "/RouteSheet/ViewRouteSheet?id=0&buid="+_nBUID;
    });

    $('#btnPrint').click(function (e)
    {
        var sParams = sessionStorage.getItem('SearchString');
        if(sParams==null || sParams=="")
        {
            sParams = ""+'~'+0+ '~'+ icsdateformat(new Date())+'~'+ icsdateformat(new Date())+'~'+ "" +'~'+ "" + '~'+ "" +'~'+ '4, 6,7, 8,9, 10,11' +'~'+''+'~'+_sProductIds+'~'+0+''
        }
        var tsv=((new Date()).getTime())/1000; console.log(sParams);
        window.open(_sBaseAddress+ "/RouteSheet/ExcelProgressHistory?sParam="+sParams+"&nts="+tsv, "_blank");
    });

    /*----------Order Status Change----------------*/
    //$("#btnCancel").click(function () {
    //    _nNextStatus=18;
    //    _sMessage="cancel";
    //    ChangeRSState();
    //});
    //$("#btnRSState").click(function () {
    //    _sMessage=" Send In Floor";
    //    _nNextStatus=3;
    //    ChangeRSState();
    //});
    //$("#btnUndo").click(function () {
    //    _nNextStatus=1;
    //    _sMessage="Initialized";
    //    ChangeRSState();
    //});
    //function ChangeRSState(){

    //    var oRouteSheet = $('#tblRouteSheet').datagrid('getSelected');
    //    if (oRouteSheet ==null || oRouteSheet.RouteSheetID <=0 ) { alert("Please select an item from list."); return ; }

    //    if(!confirm("Confirm to "+_sMessage)) return false;

    //    var oRSH={
    //        RouteSheetID : oRouteSheet.RouteSheetID,
    //        CurrentStatus : _nNextStatus,
    //        PreviousState : oRouteSheet.RSState,
    //        EventTime : new Date(),
    //        EventEmpID : 0
    //    };

    //    var obj = {
    //        BaseAddress: _sBaseAddress,
    //        Object: oRSH,
    //        ObjectId: oRSH.RouteSheetID,
    //        ControllerName: "RouteSheet",
    //        ActionName: "ChangeRSStatus",
    //        TableId: "tblRouteSheet",
    //        IsWinClose: false,
    //        Message: _sMessage.charAt(0).toUpperCase()+_sMessage.slice(1) +" Successfully."
    //    };
    //    $.icsSave(obj, function (response) {
    //        if (response.status && response.obj != null) {
    //            if (response.obj.RouteSheetID > 0) {
    //                OperationPerforms(-1, response.obj);
    //            }
    //        }
    //    });
    //}

    </script>
