@{
    ViewBag.Title = "RouteSheet Dye Chemical Out";
}

@model IEnumerable<ESimSol.BusinessObjects.RouteSheet>

    <head>
        <title>Route Sheet</title>
    </head>

    <body>
        <div class="menuMainCollectionTable" id="divRSDC">
            <table id="tblRouteSheet" title="Route Sheet List" class="easyui-datagrid" fit="true" fitcolumn="true" rownumbers="true" pagination="true" singleselect="true" autorowheight="false" toolbar="#toolbarRouteSheet">
                <thead>
                    <tr>
                        <th field="RSSateDateStr" width="10%">Yarn Out Date</th>
                        <th field="RouteSheetNo" width="10%">RouteSheet No</th>
                        <th field="RSStateStr" width="10%">Status</th>
                        <th field="MachineName" width="12%">Machine</th>
                        <th field="ProductName" width="15%">Product Name</th>
                        <th field="Qty" width="10%" formatter="formatPrice" align="right">Qty</th>
                        <th field="PrepareByName" width="14%">Prepared By</th>
                        <th field="ApproveByName" width="14%">Approved</th>
                    </tr>
                </thead>
            </table>

            <div id="toolbarRouteSheet">
                <input type="text" id="txtRouteSheetNo" placeholder="Search By Batch No " style="width:12%;" />
                <a id="btnWaitingForOut" href="javascript:void(0)" class="easyui-linkbutton" iconcls="icon-redo" plain="true">Waiting For Out</a>
                @*<input id="chkDate" type="checkbox" />
                <input id="dtFrom" type="text" style="width: 110px" class="easyui-datebox" required="required" data-options="formatter:icsdateformat,parser:icsdateparser" />
                <input id="dtTo" type="text" style="width: 110px" class="easyui-datebox" required="required" data-options="formatter:icsdateformat,parser:icsdateparser" />
                <a id="btnSearch" href="javascript:void(0)" class="easyui-linkbutton" iconcls="icon-search" plain="true"></a>*@
                <a id="btnAdd" href="javascript:void(0)" class="easyui-linkbutton" iconcls="icon-add" plain="true">Add</a>
                <a id="btnAddTwo" href="javascript:void(0)" class="easyui-linkbutton" iconcls="icon-add" plain="true">All at one</a>
                <a id="btnReturnAll" href="javascript:void(0)" class="easyui-linkbutton" iconcls="icon-edit" plain="true">All at one (Return)</a>
            </div>
        </div>

        <div id="winRouteSheetDetail" class="easyui-window winstyle" title="Dyeing Solution" style="width:900px; height:600px" data-options="modal:true,closed:true,collapsible:false,minimizable:false,maximizable:false,closable:false">
            <div style="width: 98%; font-family: Tahoma;">

                <table class="tbl-Win">
                    <tr>
                        <td>
                            <table id="tblTreeGridProcess" class="easyui-treegrid" style="width:100%; height:500px;"
                                   data-options="idField:'RouteSheetDetailID',treeField:'ProcessName', rownumbers:'true', toolbar:'#toolbarTemplet'">
                                <thead>
                                    <tr>    
                                        <th data-options="field:'ProcessName',width:220">Name</th>
                                        <th data-options="field:'GL',width:100, align:'center'">GL</th>
                                        <th data-options="field:'Percentage',width:80, align:'center'">(%)</th>
                                        <th data-options="field:'TempTime',width:100, align:'center'">Temp & Time</th>
                                        <th data-options="field:'TotalQtyStr',width:120, align:'center'">Qty (Kg)</th>
                                        <th data-options="field:'TotalQtyLotNo',width:70, align:'center'">Lot No</th>
                                        <th data-options="field:'AddOneQtyStr',width:120, align:'center'">Add. One Qty (Kg)</th>
                                        <th data-options="field:'AddOneLotNo',width:120, align:'center'">Add. One Lot</th>
                                        <th data-options="field:'AddTwoQtyStr',width:120, align:'center'">Add. Two (Kg)</th>
                                        <th data-options="field:'AddTwoLotNo',width:120, align:'center'">Add. Two Lot</th>
                                        <th data-options="field:'AddThreeQtyStr',width:120, align:'center'">Add. Three Qty (Kg)</th>
                                        <th data-options="field:'AddThreeLotNo',width:120, align:'center'">Add. Three Lot</th>
                                        <th data-options="field:'ReturnQtyStr',width:120, align:'center'">Return Qty (Kg)</th>
                                        <th data-options="field:'ReturnLotNo',width:120, align:'center'">Return Lot</th>
                                        <th data-options="field:'GTotalInString',width:120, align:'center'">G. Total Qty (Kg)</th>
                                     </tr>
                                </thead>
                            </table>
                            <div id="toolbarTemplet">
                                <select id="cboStore" style="width:30%;"></select>
                                <input type="text" id="txtLot" placeholder="Search Lot" style="width:20%" />
                                <a id="btnPickLot" href="javascript:void(0)" class="easyui-linkbutton ics-pick" iconcls="icon-pick" plain="true"></a>
                                <a id="btnResetLot" href="javascript:void(0)" class="easyui-linkbutton ics-pick" iconcls="icon-clear" plain="true"></a>
                                <a id="btnAdditional" href="javascript:void(0)" class="easyui-linkbutton" iconcls="icon-ok" plain="true"><label id="lblAdditional">Add. One</label></a>
                                <a id="btnReturn" href="javascript:void(0)" class="easyui-linkbutton" iconcls="icon-ok" plain="true">Return</a>
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td style="text-align:right; padding-top:10px; padding-bottom:10px;">
                            <a id="btnCloseRouteSheetDetail" href="javascript:void(0)" class="easyui-linkbutton" iconcls="icon-cancel" plain="true">Close</a>
                        </td>
                    </tr>
                </table>
            </div>
        </div>

        <div id="winRouteSheetDetail_DCOut" class="easyui-window winstyle" title="Dyeing Solution" style="width:950px; height:580px" data-options="modal:true,closed:true,collapsible:false,minimizable:false,maximizable:false,closable:false">
            <div >
                <fieldset>
                    <table style="width:99%;height:430px;" id="tblRouteSheetDetail" class="easyui-datagrid" toolbar="#toolbarLot">
                        <thead>
                            <tr>
                                <th data-options="field:'ProcessName',width:150">Name</th>
                                <th data-options="field:'GL',width:80, align:'center'">GL</th>
                                <th data-options="field:'Percentage',width:70, align:'center'">(%)</th>
                                <th data-options="field:'TotalQtyStr',width:120, align:'center'">Qty (Kg)</th>
                                <th field="TotalQtyLotNo" width="130" align="left" styler="cellStylerTLot">Lot No</th>  
                                <th field="Balance" width="100" align="left" styler="cellStyleBal">C.Balance</th>  
                                <th data-options="field:'AddOneQtyStr',width:120, align:'center'">Add. One Qty (Kg)</th>
                                <th field="AddOneLotNo" width="40" align="left" styler="cellStylerLot1">Add. One Lot</th>  
                                <th data-options="field:'AddTwoQtyStr',width:120, align:'center'">Add. Two (Kg)</th>
                                <th field="AddTwoLotNo" width="80" align="left" styler="cellStylerLot2">Add. Two Lot</th>  
                                <th data-options="field:'AddThreeQtyStr',width:120, align:'center'">Add. Three Qty (Kg)</th>
                                <th field="AddThreeLotNo" width="80" align="left" styler="cellStylerLot3">Add. Three Lot</th>  
                                <th data-options="field:'ReturnQtyStr',width:120, align:'center'">Return Qty (Kg)</th>
                                <th data-options="field:'ReturnLotNo',width:120, align:'center'">Return Lot</th>
                                <th data-options="field:'GTotalInString',width:120, align:'center'">G. Total Qty (Kg)</th>
                                <th data-options="field:'Sequence',width:60, align:'center'">SL</th>
                            </tr>
                        </thead>
                    </table>
                    <div id="toolbarLot">
                        @*Lot No: <input type="text" id="txtLot_Out" placeholder="Search Lot" style="width:30%" />
                        <a id="btnPickLot_Out" href="javascript:void(0)" class="easyui-linkbutton ics-pick" iconcls="icon-pick" plain="true"></a>
                        <a id="btnResetLot_Out" href="javascript:void(0)" class="easyui-linkbutton ics-pick" iconcls="icon-clear" plain="true"></a>
                        <a id="btnUpdateLot_Out" href="javascript:void(0)" class="easyui-linkbutton ics-pick" iconcls="icon-ok" plain="true">Update</a>*@
                    </div>
                </fieldset>
            </div>
             
            <div>
                <fieldset>
                    <legend style="font-weight: bold">Action : </legend>
                    <table border="0" cellspacing="2" cellpadding="2" style="font-size: 11px; font-weight: bold; width:100%">
                        <tr>
                            <td style="width:20%; text-align:right"></td>
                            <td style="width: 80%; text-align:right">
                                <a id="btnPrintPreview" href="javascript:void(0)" class="easyui-linkbutton" iconcls="icon-print" plain="true">Preview(Batch Cost)</a>
                                <a id="btnPrintPreviewRS" href="javascript:void(0)" class="easyui-linkbutton" iconcls="icon-print" plain="true">Preview(Dyeing Card)</a>
                                <select style="width:100px;" id="cboOutState">
                                    <option value="0">-General-</option>
                                    <option value="1">Addition</option>
                                </select>
                                <a id="btnCommit" href="javascript:void(0)" class="easyui-linkbutton" iconcls="icon-ok" plain="true"><label id="lblCommit">Dyes & Chemical Out</label></a>
                                <a id="btnClose_Detail" href="javascript:void(0)" class="easyui-linkbutton" iconcls="icon-cancel" plain="true">Close</a>
                            </td>
                        </tr>
                    </table>
                </fieldset>
            </div>
        </div>

        <div id="winRouteSheetDetail_DCReturn" class="easyui-window winstyle" title="Dyeing Solution" style="width:950px; height:580px" data-options="modal:true,closed:true,collapsible:false,minimizable:false,maximizable:false,closable:false">
            <div>
                <fieldset>
                    <table style="width:99%;height:430px;" id="tblRouteSheetDetail_Out" class="easyui-datagrid" toolbar="#toolbarLot_Out">
                        <thead>
                            <tr>
                                <th data-options="field:'ProcessName',width:150">Name</th>
                                <th data-options="field:'GL',width:80, align:'center'">GL</th>
                                <th data-options="field:'Percentage',width:70, align:'center'">(%)</th>
                                <th data-options="field:'TotalQtyStr',width:120, align:'center'">Qty (Kg)</th>
                                <th field="TotalQtyLotNo" width="130" align="left" styler="cellStylerTLot">Lot No</th>
                                <th field="Balance" width="100" align="left" styler="cellStyleBal">C.Balance</th>
                                <th data-options="field:'AddOneQtyStr',width:120, align:'center'">Add. One Qty (Kg)</th>
                                <th field="AddOneLotNo" width="40" align="left" styler="cellStylerLot1">Add. One Lot</th>
                                <th data-options="field:'AddTwoQtyStr',width:120, align:'center'">Add. Two (Kg)</th>
                                <th field="AddTwoLotNo" width="80" align="left" styler="cellStylerLot2">Add. Two Lot</th>
                                <th data-options="field:'AddThreeQtyStr',width:120, align:'center'">Add. Three Qty (Kg)</th>
                                <th field="AddThreeLotNo" width="80" align="left" styler="cellStylerLot3">Add. Three Lot</th>
                                <th data-options="field:'ReturnQtyStr',width:120, align:'center'">Return Qty (Kg)</th>
                                <th data-options="field:'ReturnLotNo',width:120, align:'center'">Return Lot</th>
                                <th data-options="field:'GTotalInString',width:120, align:'center'">G. Total Qty (Kg)</th>
                                <th data-options="field:'Sequence',width:60, align:'center'">SL</th>
                            </tr>
                        </thead>
                    </table>
                </fieldset>
            </div>

            <div>
                <fieldset>
                    <legend style="font-weight: bold">Action : </legend>
                    <table border="0" cellspacing="2" cellpadding="2" style="font-size: 11px; font-weight: bold; width:100%">
                        <tr>
                            <td style="width:40%; text-align:right"></td>
                            <td style="width: 60%; text-align:right">
                                <select style="width:100px;" id="cboOutState_Return">
                                    <option value="1">Return</option>
                                </select>
                                <a id="btnCommit_Return" href="javascript:void(0)" class="easyui-linkbutton" iconcls="icon-ok" plain="true"><label id="lblCommit">Dyes & Chemical Return</label></a>
                                <a id="btnClose_Detail_Out" href="javascript:void(0)" class="easyui-linkbutton" iconcls="icon-cancel" plain="true">Close</a>
                            </td>
                        </tr>
                    </table>
                </fieldset>
            </div>
        </div>

        <div id="winTempletAddition" class="easyui-window winstyle" title="Dyeing Solution" style="width:895px; height:auto" data-options="modal:true,closed:true,collapsible:false,minimizable:false,maximizable:false,closable:false">
            <div style="width: 100%; font-family: Tahoma;">
                &nbsp;&nbsp;<label id="lblLotNo">Lot No: </label><input type="text" id="txtLot_Out" placeholder="Search Lot" style="width:30%" />
                <a id="btnPickLot_Out" href="javascript:void(0)" class="easyui-linkbutton ics-pick" iconcls="icon-pick" plain="true"></a>
                <a id="btnResetLot_Out" href="javascript:void(0)" class="easyui-linkbutton ics-pick" iconcls="icon-clear" plain="true"></a>
                <a id="btnUpdateLot_Out" href="javascript:void(0)" class="easyui-linkbutton ics-pick" iconcls="icon-ok" plain="true">Update</a>

                <fieldset>
                    <table class="tbl-Win">
                        @*<tr class="templet">
                            <td class="td-col-5 align-right">
                                <label>Process :</label>
                            </td>
                            <td class="td-styler td-col-25" colspan="3">
                                <select id="cboProcessAddition" class="cbo-styler type-addition" disabled></select>
                            </td>
                            <td class="td-styler td-col-1"></td>
                        </tr>*@
                        <tr class="templet">
                            <td class="td-col-5 align-right">
                                <label>Temp & Time :</label>
                            </td>
                            <td class="td-styler td-col-25" colspan="3">
                                <input type="text" id="txtTempTimeAddition" class="reset-text txt-styler type-addition" placeholder="Temp & Time" disabled />
                            </td>
                            <td class="td-styler td-col-1"></td>
                        </tr>

                        <tr class="templet-dc">
                            <td class="td-col-5 align-right">
                                <label>Product :</label>
                            </td>
                            <td class="td-styler td-col-25" colspan="4">
                                <select style="width:20%;" id="cboProductCategoryAddition" class=" type-addition" disabled>
                                    <option value="25">Dyes</option>
                                    <option value="26">Chemicals</option>
                                </select>
                                <input type="text" id="txtProduct-DSAddition" style="width:60%" placeholder="Search Product" class=" type-addition" disabled />
                                <a id="btnPickProduct-DSAddition" href="javascript:void(0)" class="easyui-linkbutton ics-pick" iconcls="icon-pick" plain="true" disabled></a>
                                <a id="btnResetProduct-DSAddition" href="javascript:void(0)" class="easyui-linkbutton ics-pick" iconcls="icon-clear" plain="true" disabled></a>
                            </td>
                            @*<td class="td-styler td-col-1"></td>*@
                        </tr>
                        <tr class="templet-dc">
                            <td class="td-col-5 align-right">
                                <label>GL :</label>
                            </td>
                            <td class="td-styler td-col-4">
                                <input type="text" id="txtGLAddition" min="0" max="100" class="number reset-text txt-styler type-addition" placeholder="GL" disabled />
                            </td>
                            <td class="td-styler td-col-6 align-right">
                                <label>Percentage (%) :</label>
                            </td>
                            <td class="td-styler td-col-15">
                                <input type="text" id="txtPercentageAddition" min="0" max="100" class="number reset-text txt-styler-Percentage  type-addition" placeholder="%" disabled />
                            </td>
                            <td class="td-styler td-col-1"></td>
                        </tr>

                        <tr class="templet-dc">
                            <td class="td-col-5 align-right">
                                <label>Adjustment :</label>
                            </td>
                            <td class="td-styler td-col-4">
                                <input type="text" id="txtAdjustmentAddition" min="0" max="100" class="number reset-text txt-styler type-addition" placeholder="Adjustment" disabled />
                            </td>
                            <td class="td-styler td-col-6 align-right">
                                <label>For Cotton :</label>
                            </td>
                            <td class="td-styler td-col-15">
                                <input type="checkbox" id="chkForCottonAddition type-addition" disabled />
                            </td>
                            <td class="td-styler td-col-1"></td>
                        </tr>
                        <tr>
                            <td class="td-col-5 align-right">
                                <label>Note :</label>
                            </td>
                            <td class="td-styler td-col-25" colspan="3">
                                <input type="text" id="txtNoteTempletAddition" class="reset-text txt-styler type-addition" placeholder="Note" disabled />
                            </td>
                            <td class="td-styler td-col-1"></td>
                        </tr>
                        @*<tr class="templet-dc">
                            <td class="td-col-5 align-right">
                                <label>Lot :</label>
                            </td>
                            <td class="td-styler td-col-25" colspan="4">
                                <input id="txtLot_DCAddition" style="width:100%" placeholder="Search Lot" class="type-addition" disabled />
                            </td>
                        </tr>*@
                    </table>
                </fieldset>

                <fieldset class="templet-dc">
                    @*<div class="col-md-12">
                        <input id="txtLot_Addition" style="width:60%" placeholder="Search Lot" class="type-addition" disabled />
                        <a id="btnPickLot_Addition" href="javascript:void(0)" class="easyui-linkbutton ics-pick" iconcls="icon-pick" plain="true"></a>
                        <a id="btnResetLot_Addition" href="javascript:void(0)" class="easyui-linkbutton ics-pick" iconcls="icon-clear" plain="true"></a>
                    </div>*@
                    <div class="col-md-12">
                        <table id="tblRSAdditional" class="easyui-datagrid" style="width:98%;height:220px" data-options="singleSelect: true,fitColumns:false, rownumbers:true, pagination:false, autoRowHeight:false, toolbar: '#toolbarAdditional' ">
                            <thead>
                                <tr>
                                    <th field="InOutTypeSt" width="10%" align="left">Type</th>
                                    <th field="SequenceNo" width="7%" align="left">No</th>
                                    <th field="LotNo" width="20%" align="left">Lot No</th>
                                    <th field="QtySt" width="10%" align="left">Qty</th>

                                    <th field="IssuedByName" width="14%" align="left">Request By</th>
                                    <th field="ApprovedByName" width="14%" align="left">Issue By</th>
                                    <th field="Note" width="14%" align="left">Note</th>
                                    <th field="WUName" width="10%" align="left">Store</th>
                                    <th field="ProductTypeSt" width="10%" align="left">Product Type</th>
                                    
                                    
                                </tr>
                            </thead>
                        </table>
                        <div id="toolbarAdditional">
                            <select id="cboStoreDCAdon" style="width:14%" class="cbo-styler"></select>
                            <label>Lot</label>
                            <input type="text" id="txtLot_Addition" style="width:14%" placeholder="Search Lot" />
                            <a id="btnPickLot_Addition" href="javascript:void(0)" class="easyui-linkbutton" iconcls="icon-pick" plain="true"></a>
                            <a id="btnResetLot_Addition" href="javascript:void(0)" class="easyui-linkbutton" iconcls="icon-clear" plain="true"></a>
                            <select id="cboAdditionType"></select>
                            <label>Qty</label>
                            <input type="text" id="txtLot_Addition_Qty_KG" style="width:11%" class="text-right number" placeholder="Type Qty(kg)" />kg
                            <input type="text" id="txtLot_Addition_Qty_GM" style="width:11%" class="text-right number" placeholder="Type Qty(gm)" />gm
                            <input type="text" id="txtLot_Addition_Remarks" style="width:15%" class="text-left" placeholder="Type Note/Remarks" />
                            <a id="btnAddDetailAddition" href="javascript:void(0)" class="easyui-linkbutton" iconcls="icon-add" plain="true">Add</a>
                            <a id="btnDeleteDetailAddition" href="javascript:void(0)" class="easyui-linkbutton" iconcls="icon-remove" plain="true">Delete</a>
                        </div>
                    </div>
                </fieldset>
            </div>
            <div style="width:100%">
                <fieldset>
                    <div class="form-inline text-right">
                        <select style="width:100px;" id="cboOutStateDetail">
                            <option value="0">-General-</option>
                            <option value="1">Addition</option>
                        </select>
                        <a id="btnCommitDetail" href="javascript:void(0)" class="easyui-linkbutton" iconcls="icon-ok" plain="true"><label id="lblCommit">Dyes & Chemical Out</label></a>
                        @*<a id="btnSaveTempletAddition" href="javascript:void(0)" class="easyui-linkbutton" iconcls="icon-save" plain="true">Save</a>*@
                        <a id="btnCloseTempletAddition" href="javascript:void(0)" class="easyui-linkbutton" iconcls="icon-cancel" plain="true">Close</a>
                    </div>
                </fieldset>
            </div>
        </div>

    </body>

    <style type="text/css">
        .tbl-Win {
            width: 100%;
        }

        .td-styler input, select {
            padding-left: 5px;
        }

        .txt-styler {
            width: 93%;
        }

        .txt-styler-picker {
            width: 65%;
        }

        .cbo-styler {
            width: 93%;
        }

        .txt-styler-Note {
            width: 97.5%;
        }
    </style>

    <script type="text/javascript">
    var _sBaseAddress = "";
    var _oRouteSheets = [];
    var _oRouteSheet = null;
    var _oRouteSheetSetup = null;
    var _nLotID=0;
    var _nLotID_Out =0;
    var _oSelectedLot_Out = null;
    var _nProcessID=0;
    var _nSuggestLotID_Addition = 0;
    var _oRSD=null;
    $(document).ready(function ()
    {
        _sBaseAddress = @Html.Raw(new System.Web.Script.Serialization.JavaScriptSerializer().Serialize(HttpContext.Current.Session[SessionInfo.BaseAddress]));
        _oRouteSheets =@Html.Raw( new System.Web.Script.Serialization.JavaScriptSerializer().Serialize(Model));
        var oWorkingUnits=@Html.Raw(new System.Web.Script.Serialization.JavaScriptSerializer().Serialize(@ViewBag.WorkingUnits));
        var oEmployees =@Html.Raw(new System.Web.Script.Serialization.JavaScriptSerializer().Serialize(@ViewBag.Employees));
        _oRouteSheetSetup =@Html.Raw(new System.Web.Script.Serialization.JavaScriptSerializer().Serialize(@ViewBag.RouteSheetSetup));
        @*var oWorkingUnitsDC=@Html.Raw(new System.Web.Script.Serialization.JavaScriptSerializer().Serialize(@ViewBag.WorkingUnitsDC));*@
        $('.number').icsCurrencyBox();
        DynamicRefreshList(_oRouteSheets, 'tblRouteSheet');

        $('#dtFrom,#dtTo').datebox({'disabled':true});
        $('#dtFrom,#dtTo').datebox('setValue', icsdateformat(new Date()));

        $('#divRSDC').data('MaxSequenceData', null);
        $("#cboStore").icsLoadCombo({
            List: oWorkingUnits,
            OptionValue: "WorkingUnitID",
            DisplayText: "WorkingUnitName",
            InitialValue:""
        });

        $("#cboBatchman").icsLoadCombo({
            List: oEmployees,
            OptionValue: "EmployeeID",
            DisplayText: "Name",
            InitialValue:""
        });
        $("#cboStoreDCAdon").icsLoadCombo({
            List: oWorkingUnits,//oWorkingUnitsDC
            OptionValue: "WorkingUnitID",
            DisplayText: "WorkingUnitName",
        });
        $('#txtRouteSheetNo').focus()
    });

    $(document).keydown(function (e) { if (e.keyCode == 27) { $('div').icsWindow('close'); } });

    $('#tblRouteSheet').datagrid({ onSelect: function (rowIndex, rowData) { OperationPerforms(rowIndex, rowData); } });

    function OperationPerforms(rowIndex, rowData) {
        if (rowData != null && rowData.RouteSheetID > 0 && rowData.RSState>=18) {
            $("#btnAdd").hide();
        }
        else{
            $("#btnAdd").show();
        }
    }

    //$('#chkDate').change(function(e){
    //    debugger;
    //    if($('#chkDate').is(':checked')){
    //        $('#dtFrom,#dtTo').datebox({'disabled':false});
    //    }
    //    else{
    //        $('#dtFrom,#dtTo').datebox({'disabled':true});
    //    }
    //    $('#dtFrom,#dtTo').datebox('setValue', icsdateformat(new Date()));
    //});


    /*.......... Searching ............. */
    $("#txtRouteSheetNo").keyup(function (e) {
        var oRouteSheets =[];
        var keyCode = e.keyCode || e.which;
        $('#txtRouteSheetNo').removeClass("errorFieldBorder");
        if (keyCode == 8) { oRouteSheets = _oRouteSheets; }
        else{ oRouteSheets = $('#tblRouteSheet').datagrid('getRows'); }

        if($.trim($("#txtRouteSheetNo").val()).length==9){
            var oRouteSheet={
                RouteSheetID: $.trim($("#txtRouteSheetNo").val())
            };
            GetsRouteSheet(oRouteSheet,false);
        }
        if (e.keyCode == 13) // Enter Press
        {
            if (!$.trim($("#txtRouteSheetNo").val()).length) {

                alert("Please enter routesheet no to search.");
                $('#txtRouteSheetNo').focus();
                $('#txtRouteSheetNo').val("");
                return;
            }
            else { $('#txtRouteSheetNo').removeClass("errorFieldBorder"); }

            var oRouteSheet={
                RouteSheetNo: $.trim($("#txtRouteSheetNo").val())
            };
            GetsRouteSheet(oRouteSheet,false);
        }
        else {
            var sTempName="";
            var oSearchedData = [];
            for(i=0;i<oRouteSheets.length;++i)
            {
                sTempName=oRouteSheets[i]['RouteSheetNo'];
                if(sTempName.toUpperCase().indexOf($('#txtRouteSheetNo').val().toUpperCase())>-1)
                {
                    oSearchedData.push(oRouteSheets[i]);
                }
            }
            $('#tblRouteSheet').empty();
            if (oSearchedData.length == 0) { DynamicRefreshList(_oRouteSheets, "tblRouteSheet");}
            else { DynamicRefreshList(oSearchedData, "tblRouteSheet"); }

        }
    });

    $("#btnWaitingForOut").click(function (e){
        var tsv=((new Date()).getTime())/1000;
        $.ajax
            ({
                type: "GET",
                dataType: "json",
                url : _sBaseAddress+  "/RouteSheet/GetWaitingForOutRS",
                data: {tsv: tsv},
                contentType: "application/json; charset=utf-8",
                success: function (data) {
                    var oDatas = jQuery.parseJSON(data);
                    if(oDatas.length > 0){
                        if(oDatas[0].ErrorMessage == "" || oDatas[0].ErrorMessage == null){
                            DynamicRefreshList(oDatas, "tblRouteSheet");
                        }else{
                            alert(oDatas[0].ErrorMessage);
                        }
                    }else{
                        alert("Data Not Found!!");
                    }
                },
                error: function (xhr, status, error)
                {
                    alert(error);
                }
            });
    });

    //$('#btnSearch').click(function(e){

    //    if($.trim($("#txtRouteSheetNo").val())=="" && !$('#chkDate').is(':checked')){
    //        alert("No searching criteria found to search."); return false;
    //    }
    //    var oRouteSheet={
    //        Params:   $.trim($("#txtRouteSheetNo").val())+'~'+ $('#chkDate').is(':checked')+ '~'+ $('#dtFrom').datebox('getValue')+'~'+ $('#dtTo').datebox('getValue')+'~'+ '' +'~'+ '' + '~'+ '' +'~'+ ''

    //    };
    //    GetsRouteSheet(oRouteSheet, false) ;
    //});

    function GetsRouteSheet(oRouteSheet, bIsAdvSearch) {

        var obj =
        {
            BaseAddress: _sBaseAddress,
            Object: oRouteSheet,
            ControllerName: "RouteSheet",
            ActionName: "GetsDyeChemicalOut",
            IsWinClose: bIsAdvSearch
        };

        $.icsDataGets(obj, function (response) {

            if (response.status && response.objs != null) {
                if (response.objs.length > 0) {
                    if(response.objs[0].RouteSheetID>0){
                        _oRouteSheets=response.objs;
                        DynamicRefreshList(response.objs, "tblRouteSheet");
                    }
                    else{DynamicRefreshList([], "tblRouteSheet"); alert(response.objs[0].ErrorMessage);}
                }
                else { DynamicRefreshList([], "tblRouteSheet"); alert("No RouteSheet found."); }
            }
        });
    }


    /*-------------Dyes Chemical Out Window---------*/
    $('#tblTreeGridProcess').treegrid({ onSelect: function (rowData) { OperationPerformTreeGrid(rowData); } });

    function OperationPerformTreeGrid(rowData) {
        debugger;
        ResetDyeChemicalOut();
        if (rowData != null && rowData.RouteSheetDetailID > 0 && rowData.IsDyesChemical) {
            $("#btnAdditional").show();
            if(rowData.WUID>0)
            {  $("#cboStore").val(rowData.WUID);}

            if(rowData.TotalQtyLotID<=0)
                $('#lblAdditional').text("Initial Out");
            else if(rowData.AddOneLotID<=0 && rowData.AddOneQty>0)
                $('#lblAdditional').text("Add. One Out");
            else if(rowData.AddTwoLotID<=0 && rowData.AddTwoQty>0)
                $('#lblAdditional').text("Add. Two Out");
            else if(rowData.AddThreeLotID<=0 && rowData.AddThreeQty>0)
                $('#lblAdditional').text("Add. Three Out");
            else
                $("#btnAdditional").hide();

            if(rowData.TotalQtyLotID>0 && rowData.ReturnQty>0 && rowData.ReturnLotID<=0)
                $("#btnReturn").show();
            else
                $("#btnReturn").hide();
        }
        else{
            $("#btnAdditional,#btnReturn").hide();
        }
    }

    function LoadTreeGrid(oTree)
    {
        var data= oTree;
        data={"total":""+data.length+"","rows":data};
        $('#tblTreeGridProcess').treegrid('loadData',data);
    }

    function ResetDyeChemicalOut(){
        $('#cboStore').val(0);
        $('#txtLot').val("");
        $('#cboStore,#txtLot').removeClass("errorFieldBorder");
        _nLotID=0;
    }

    $("#btnAdd").click(function (e)
    {
        ResetDyeChemicalOut();
        LoadTreeGrid([]);

        var oRouteSheet = $('#tblRouteSheet').datagrid('getSelected');
        if (oRouteSheet ==null || oRouteSheet.RouteSheetID <=0 ) { alert("Please select an item from list."); return ; }

        var obj = {
            BaseAddress: _sBaseAddress,
            Object: oRouteSheet,
            ControllerName: "RouteSheet",
            ActionName: "GetRSDetailTree",
            IsWinClose: false
        };

        $.icsDataGet(obj, function (response) {

            if (response.status && response.obj !=null && response.obj.RouteSheetID>0) {
                $("#winRouteSheetDetail").icsWindow("open", "Dyes Chemical Out For: "+oRouteSheet.RouteSheetNo);
                LoadTreeGrid([response.obj]);
            }
            else{
                alert((response.obj.ErrorMessage!=null && response.obj.ErrorMessage!="")? response.obj.ErrorMessage : "No dyeing solution found for this routesheet.");
            }
        });


    });

    $("#btnAddTwo").click(function (e) {

        $('#divRSDC').data('MaxSequenceData', null);
        var oRouteSheet = $('#tblRouteSheet').datagrid('getSelected');
        if (oRouteSheet ==null || oRouteSheet.RouteSheetID <=0 ) { alert("Please select an item from list."); return ; }
        var obj = {
            BaseAddress: _sBaseAddress,
            Object: oRouteSheet,
            ControllerName: "RouteSheet",
            ActionName: "GetRouteSheetDetails_V2",
            IsWinClose: false
        };

        $.icsDataGets(obj, function (response) {

            debugger;
            if (response.status && response.objs.length > 0) {

                $("#winRouteSheetDetail_DCOut").icsWindow("open", "Dyes Chemical Out For: "+oRouteSheet.RouteSheetNo);

                var nYetToOut = 0;
                var nShortBalance = 0;
                var nMaxSequenceNo = 0;
                for(var i =0; i < response.objs.length; i++)
                {
                    var nAdditionLngth =response.objs[i].RSDetailAdditonals.length;

                    if(nAdditionLngth > 0)
                    {
                        for(j=0; j < nAdditionLngth; j++)
                        {
                            var sSequenceNo = response.objs[i].RSDetailAdditonals[j].SequenceNo;

                            response.objs[i]["HasAddition"] = 1;
                            response.objs[i]["LotNo_"+sSequenceNo] = response.objs[i].RSDetailAdditonals[j].LotNo;
                            response.objs[i]["Qty_"+sSequenceNo] = response.objs[i].RSDetailAdditonals[j].QtySt;
                            response.objs[i]["RSDetailAdditonalID_"+sSequenceNo] = response.objs[i].RSDetailAdditonals[j].RSDetailAdditonalID;
                            response.objs[i]["ApprovedByID_"+sSequenceNo] = response.objs[i].RSDetailAdditonals[j].ApprovedByID;

                            if(nMaxSequenceNo < sSequenceNo) nMaxSequenceNo = sSequenceNo;
                            if(nYetToOut < sSequenceNo && (response.objs[i].RSDetailAdditonals[j].ApprovedByID==0 && response.objs[i].RSDetailAdditonals[j].LotID!=0)) nYetToOut = sSequenceNo;
                            debugger
                            //alert(response.objs[i].Balance);
                            //alert("sss "+response.objs[i].RSDetailAdditonals[j].Qty);
                            if(response.objs[i].Balance<response.objs[i].RSDetailAdditonals[j].Qty && response.objs[i].RSDetailAdditonals[j].ApprovedByID==0){nShortBalance=1;}
                        }

                        var oMaxSequenceData = {
                                                    RouteSheetDetailID: 0,
                                                    RSDetailAdditonalID: 0,
                                                    MaxSequenceNo: nMaxSequenceNo,
                                                    SelectedIndex: 0
                                               }

                        $('#divRSDC').data('MaxSequenceData', oMaxSequenceData);
                    }
                    else
                        response.objs[i]["HasAddition"] = 0;
                }

                //SetGridColumns(_oRouteSheetSetup.NumberOfAddition);

                SetGridColumns(nMaxSequenceNo, nYetToOut,nShortBalance, 'tblRouteSheetDetail');

                DynamicRefreshList(response.objs, 'tblRouteSheetDetail');
            }
            else{
                alert("No dyeing solution found for this routesheet.");
            }
        });
    });

    $("#btnReturnAll").click(function (e) {

        var oRouteSheet = $('#tblRouteSheet').datagrid('getSelected');
        if (oRouteSheet ==null || oRouteSheet.RouteSheetID <=0 ) { alert("Please select an item from list."); return ; }
        var obj = {
            BaseAddress: _sBaseAddress,
            Object: oRouteSheet,
            ControllerName: "RouteSheet",
            ActionName: "GetRouteSheetDetails_Return",
            IsWinClose: false
        };

        $.icsDataGets(obj, function (response) {

            if (response.status && response.objs.length > 0) {

                $("#winRouteSheetDetail_DCReturn").icsWindow("open", "Dyes Chemical Return For: "+oRouteSheet.RouteSheetNo);

                var nYetToOut = 0;
                var nMaxSequenceNo = 0;
                for(var i =0; i < response.objs.length; i++)
                {
                    var nAdditionLngth =response.objs[i].RSDetailAdditonals.length;

                    if(nAdditionLngth > 0)
                    {
                        for(j=0; j < nAdditionLngth; j++)
                        {
                            var sSequenceNo = response.objs[i].RSDetailAdditonals[j].SequenceNo;

                            response.objs[i]["LotNo_"+sSequenceNo] = response.objs[i].RSDetailAdditonals[j].LotNo;
                            response.objs[i]["Qty_"+sSequenceNo] = response.objs[i].RSDetailAdditonals[j].QtySt;

                            if(nMaxSequenceNo < sSequenceNo) nMaxSequenceNo = sSequenceNo;
                            if(nYetToOut < sSequenceNo && response.objs[i].RSDetailAdditonals[j].ApprovedByID==0) nYetToOut = sSequenceNo;

                        }
                    }
                }

                //SetGridColumns(_oRouteSheetSetup.NumberOfAddition);
                SetGridColumns(nMaxSequenceNo, nYetToOut,0, 'tblRouteSheetDetail_Out');

                DynamicRefreshList(response.objs, 'tblRouteSheetDetail_Out');
            }
            else
            {
                alert("No dyeing solution found for this routesheet."); return;
            }
        });
    });

    function SetGridColumns(nMaxSequenceNo, nYetToOut,nShortBalance, sTableID)
    {
        debugger;
        var tblColums = [];
        oColumn = { field: "aa", title: "", formatter:cellStylerForEdit, width: 60, align: "left" };tblColums.push(oColumn);
        var oColumn = { field: "ProcessName", title: "Lot No", width: 150, align: "left" };tblColums.push(oColumn);
        oColumn = { field: "GL", title: "GL", width: 80, align: "right", formatter:formatPrice };tblColums.push(oColumn);
        oColumn = { field: "Percentage", title: "(%)", width:70, align: "left" };tblColums.push(oColumn);
        oColumn = { field: "TotalQtyStr", title: "Qty", width: 80, align: "left", styler:cellStylerTLot};tblColums.push(oColumn);
        oColumn = { field: "TotalQtyLotNo", title: "Lot No", width: 120, align: "left" };tblColums.push(oColumn);

        var sLotTitle = "LotNo (";
        var sQtyTitle = "Qty (";
        if(sTableID=="tblRouteSheetDetail_Out")
        {
            sLotTitle +="R-";
            sQtyTitle +="R-";
        }
        for(var i = 1; i <= nMaxSequenceNo; i++)
        {
            oColumn = { field: "LotNo_"+i, title: sLotTitle + i +")", width:70, align: "left" };

            if(nYetToOut == i)
                oColumn.styler = function( ){ return 'background-color:#FFFF00;color:#FC0D0D;'; }

            tblColums.push(oColumn);
            oColumn = { field: "Qty_"+i, title: sQtyTitle + i +")", width:70, align: "left" };tblColums.push(oColumn);
        }
        //oColumn = { field: "ReturnQtyStr", title: "Return Qty", width: 100, align: "left" };tblColums.push(oColumn);
        //oColumn = { field: "ReturnLotNo", title: "Return Lot", width: 100, align: "left" };tblColums.push(oColumn);
        oColumn = { field: "GTotalInString", title: "G. Total Qty (Kg)", width: 100, align: "left" };tblColums.push(oColumn);
        //oColumn = { field: "Sequence", title: "Sequence", width: 100, align: "left" };tblColums.push(oColumn);
        oColumn = { field: "Balance", title: "Balance", width: 100, align: "left" };
        if(nShortBalance==1)
        {
            oColumn.styler=function( ){ return 'background-color:#FFFF00;color:#FC0D0D;'; }
        }
        tblColums.push(oColumn);

        $('#'+sTableID).datagrid({columns : [tblColums],  singleSelect: true });
        $('#'+sTableID).datagrid({
            rowStyler:function(index,row){
                if (row.IsDyesChemical==0)
                {
                    return 'background-color:#488da6;color:white;font-weight:bold;';
                }
            }
        });
    }

    $("#btnCloseRouteSheetDetail").click(function (e) {
        $("#winRouteSheetDetail").icsWindow("close");
    });
    $("#btnClose_Detail").click(function (e) {
        $("#winRouteSheetDetail_DCOut").icsWindow("close");
    });
    $("#btnClose_Detail_Out").click(function (e) {
        $("#winRouteSheetDetail_DCReturn").icsWindow("close");
    });

    /*----------Lot Pick & Dyes Chemical Out----------------*/
    function ValidationLotPick(){
        var oRouteSheetDetail= $('#tblTreeGridProcess').datagrid('getSelected');
        if (oRouteSheetDetail == null || oRouteSheetDetail.RouteSheetDetailID <= 0) { alert("Please select an item from list."); return false; }
        if (!oRouteSheetDetail.IsDyesChemical) { alert("Please select Dyes or chemical."); return false; }

        if($('#cboStore').val()<=0){
            $('#cboStore').focus();
            $('#cboStore').addClass("errorFieldBorder");
            alert('Select Store.');
            return false;
        }
        else{
            $('#cboStore').removeClass("errorFieldBorder");
        }
        return true;
    }

    $("#btnResetLot").click(function () {
        _nLotID=0;
        $('#txtLot').val("");
    });

    $("#btnPickLot").click(function () {
        if(!ValidationLotPick()) return;
        var sLotNo=$.trim($("#txtLot").val());
        //if(sLotNo==""){ alert("Type lot no to search."); return false; }
        GetLots(sLotNo);
    });

    $("#txtLot").keydown(function (e) {
        var nkeyCode = e.keyCode || e.which;
        if(nkeyCode==13){
            if(!ValidationLotPick()) return;
            var sLotNo=$.trim($("#txtLot").val());
            //if(sLotNo==""){ alert("Type lot no to search."); return false; }
            GetLots(sLotNo);
        }
        else if(nkeyCode==8){
            _nLotID=0;
            $('#txtLot').val("");
        }
    });

    function GetLots(sLotNo){

        //var oLot = {
        //    ProductID:$('#tblTreeGridProcess').datagrid('getSelected').ProcessID,
        //    LotNo:sLotNo,
        //    WorkingUnitID: $('#cboStore').val()
        //};
        //var obj = {
        //    BaseAddress: _sBaseAddress,
        //    Object: oLot,
        //    ControllerName: "Lot",
        //    ActionName: "GetsLot",
        //    IsWinClose: false
        //};
        debugger;
        var oRouteSheet = $('#tblRouteSheet').datagrid('getSelected');
        if (oRouteSheet ==null || oRouteSheet.RouteSheetID <=0 ) { alert("Please select an item from list."); return ; }

        var sParam="";
        sParam=0+"~"+0+'~'+4;
        var oRouteSheet = {
            RouteSheetID: (oRouteSheet!=null && oRouteSheet.RouteSheetID>0)? oRouteSheet.RouteSheetID:0,
            ProductID_Raw:$('#tblTreeGridProcess').datagrid('getSelected').ProcessID,
            LotNo:sLotNo,
            Params:sParam,
            WorkingUnitID: $('#cboStore').val()
        };

        var obj = {
            BaseAddress: _sBaseAddress,
            Object: oRouteSheet,
            ControllerName: "RouteSheet",
            ActionName: "GetsLotForRSDC",
            IsWinClose: false
        };

        $.icsDataGets(obj, function (response) {

            if (response.status && response.objs.length > 0) {
                if (response.objs[0].ProductID > 0)
                {
                    debugger;
                    var tblColums = [];
                    var oColumn = { field: "LotNo", title: "Lot No", width: 80, align: "left" };tblColums.push(oColumn);
                    oColumn = { field: "Balance", title: "Qty", width: 80, align: "right" };tblColums.push(oColumn);
                    oColumn = { field: "Origin", title: "Origin", width:100, align: "left" };tblColums.push(oColumn);
                    oColumn = { field: "MUName", title: "Unit", width: 70, align: "left"};tblColums.push(oColumn);
                    oColumn = { field: "LotStatusSt", title: "Running", width:30, align: "left" };tblColums.push(oColumn);
                    oColumn = { field: "WorkingUnitName", title: "Store", width: 180, align: "left" };tblColums.push(oColumn);
                    oColumn = { field: "ProductName", title: "Name", width: 180, align: "left" };tblColums.push(oColumn);
                    var oPickerParam = {
                        winid: 'winLotPicker',
                        winclass:'clsLotPicker',
                        winwidth: 480,
                        winheight: 460,
                        tableid: 'tblLotPicker',
                        tablecolumns: tblColums,
                        datalist: response.objs,
                        multiplereturn: false,
                        searchingbyfieldName:'LotNo',
                        windowTittle: 'Lot List'
                    };
                    $.icsPicker(oPickerParam);
                    IntializeLotPickerbutton(oPickerParam);//multiplereturn, winclassName
                }
                else { alert(response.objs[0].ErrorMessage); }
            }
            else{
                alert("No lot found.");
            }
        });


    }
    $("#btnUpdateLot_Out").click(function ()
    {
        Update_RSDetail_Lot();

    });


    /* ----------- LOT PICK FOR ADDITIONAL ----------------*/

    $("#btnResetLot_Out").click(function () {
        _nLotID_Out=0;
        _oSelectedLot_Out = null;
        $('#txtLot_Out').val("");
    });

    $("#btnPickLot_Out").click(function () {
        //if(!ValidationLotPick()) return;
        var sLotNo=$.trim($("#txtLot_Out").val());
        //if(sLotNo==""){ alert("Type lot no to search."); return false; }
        GetLots_Out(sLotNo);
    });

    $("#txtLot_Out").keydown(function (e)
    {
        var nkeyCode = e.keyCode || e.which;
        if(nkeyCode==13)
        {
            //if(!ValidationLotPick()) return;
            var sLotNo=$.trim($("#txtLot_Out").val());
            //if(sLotNo==""){ alert("Type lot no to search."); return false; }
            GetLots_Out(sLotNo);
        }
        else if(nkeyCode==8)
        {
            _nLotID_Out=0;
            _oSelectedLot_Out = null;
            $('#txtLot_Out').val("");
        }
    });

    function GetLots_Out(sLotNo)
    {
        debugger;
        var oObj = { SelectedIndex : 0, RouteSheetDetailID : 0, RSDetailAdditonalID : 0, ApprovedByID : 0 }
        $('#divRSDC').data('MaxSequenceData', oObj);

        var oRouteSheetDetail = $('#tblRouteSheetDetail').datagrid('getSelected');
        if (oRouteSheetDetail == null || oRouteSheetDetail.RouteSheetID ==0 ) { alert("Please select an item from list."); return ; }
        if (oRouteSheetDetail.IsDyesChemical <=0 ) { alert("Please select a Dye/Chemical from list."); return ; }
        if (oRouteSheetDetail.WUID <=0 ) { alert("Store not found for the selected item."); return ; }

        var nMaxSequenceNo = $('#divRSDC').data('MaxSequenceData').MaxSequenceNo;
        if( !isNaN(parseInt(nMaxSequenceNo)) && parseInt(nMaxSequenceNo) > 0)
        {
            console.log(oRouteSheetDetail["RSDetailAdditonalID_"+nMaxSequenceNo], oRouteSheetDetail["ApprovedByID_"+nMaxSequenceNo]);

            if(oRouteSheetDetail["RSDetailAdditonalID_"+nMaxSequenceNo] > 0 && oRouteSheetDetail["ApprovedByID_"+nMaxSequenceNo] != 0)
            {
                alert("Sorry, your selected addition ["+nMaxSequenceNo+"] item is already disbursed!" ); return;
            }
            else if( oRouteSheetDetail.HasAddition== 0 && oRouteSheetDetail.TotalQtyLotID>0)
            {
                alert("Sorry, your selected initial item is already disbursed!" ); return;
            }
        }

        var oRouteSheet =
            {
                RouteSheetID: oRouteSheetDetail.RouteSheetID,
                ProductID_Raw: oRouteSheetDetail.ProcessID,
                LotNo: sLotNo,
                WorkingUnitID: oRouteSheetDetail.WUID
            };
        console.log(oRouteSheet);

        var obj = {
            BaseAddress: _sBaseAddress,
            Object: oRouteSheet,
            ControllerName: "RouteSheet",
            ActionName: "GetsLotForRSDC_Addition",
            IsWinClose: false
        };

        $.icsDataGets(obj, function (response) {

            if (response.status && response.objs.length > 0) {
                if (response.objs[0].ProductID > 0) {
                    debugger;

                    var tblColums = [];
                    var oColumn = { field: "LotNo", title: "Lot No", width: 80, align: "left" };tblColums.push(oColumn);
                    oColumn = { field: "Balance", title: "Qty", width: 80, align: "right" };tblColums.push(oColumn);
                    oColumn = { field: "Origin", title: "Origin", width:100, align: "left" };tblColums.push(oColumn);
                    oColumn = { field: "MUName", title: "Unit", width: 70, align: "left"};tblColums.push(oColumn);
                    oColumn = { field: "LotStatusSt", title: "Running", width:30, align: "left" };tblColums.push(oColumn);
                    oColumn = { field: "WorkingUnitName", title: "Store", width: 180, align: "left" };tblColums.push(oColumn);
                    oColumn = { field: "ProductName", title: "Name", width: 180, align: "left" };tblColums.push(oColumn);

                    var oPickerParam = {
                        winid: 'winLotPicker_Out',
                        winclass:'clsLotPicker_Out',
                        winwidth: 480,
                        winheight: 460,
                        tableid: 'tblLotPicker_Out',
                        tablecolumns: tblColums,
                        datalist: response.objs,
                        multiplereturn: false,
                        searchingbyfieldName:'LotNo',
                        windowTittle: 'Lot List'
                    };
                    $.icsPicker(oPickerParam);
                    IntializeLotPickerbutton(oPickerParam);//multiplereturn, winclassName
                }
                else { alert(response.objs[0].ErrorMessage); }
            }
            else{
                alert("No lot found.");
            }
        });
    }

    $("#btnResetLot_Addition").click(function () {
        _nSuggestLotID_Addition=0;
        $("#txtLot_Addition").val("");
    });

    $("#btnPickLot_Addition").click(function () {
        var sLotNo=$.trim($("#txtLot_Addition").val());
        var nPCatID=$("#cboProductCategoryAddition").val();
        var nWUID=parseInt($('#cboStoreDCAdon').val());
        if(_nProcessID<=0){
            $('#txtProduct-DSAddition').focus();
            $('#txtProduct-DSAddition').addClass("errorFieldBorder");
            alert('Product required.');
            return false;
        }
        else{
            $('#txtProduct-DSAddition').removeClass("errorFieldBorder");
        }
        if(nWUID<=0){
            $('#cboStoreDCAdon').focus();
            $('#cboStoreDCAdon').addClass("errorFieldBorder");
            alert('Store Type required!');
            return false;
        }
        else{
            $('#cboStoreDCAdon').removeClass("errorFieldBorder");
        }

        //var oRSDOs = $('#tblRouteSheetDO').datagrid('getRows');
        //var sParam="";
        //if(oRSDOs.length>0)
        //{
        //    if(oRSDOs[0].OrderTypeInt==4)
        //    {
        //        sParam=oRSDOs[0].ContractorID+"~"+ oRSDOs[0].DyeingOrderDetailID+'~'+4;
        //    }
        //}

        var oRouteSheet = {
            RouteSheetID: (_oRouteSheet!=null && _oRouteSheet.RouteSheetID>0)? _oRouteSheet.RouteSheetID:0,
            ProductID_Raw:_nProcessID,
            LotNo:sLotNo,
            //Params:sParam,
            WorkingUnitID: nWUID
        };
        GetLotsDyesChemicalAddition(oRouteSheet);
    });

    $("#txtLot_Addition").keydown(function (e) {
        var nkeyCode = e.keyCode || e.which;
        if(nkeyCode==13){
            debugger;
            var sLotNo=$.trim($("#txtLot_Addition").val());
            if(sLotNo==""){ alert("Type lot no to search."); return false; }
            var nPCatID=$("#cboProductCategoryAddition").val();
            var nWUID=parseInt($('#cboStoreDCAdon').val());
         
            if(_nProcessID<=0){
                $('#txtProduct-DSAddition').focus();
                $('#txtProduct-DSAddition').addClass("errorFieldBorder");
                alert('Product required.');
                return false;
            }
            else{
                $('#txtProduct-DSAddition').removeClass("errorFieldBorder");
            }
            if(nWUID<=0){
                $('#cboStoreDCAdon').focus();
                $('#cboStoreDCAdon').addClass("errorFieldBorder");
                alert('Store Type required.');
                return false;
            }
            else{
                $('#cboStoreDCAdon').removeClass("errorFieldBorder");
            }
            //var oRSDOs = $('#tblRouteSheetDO').datagrid('getRows');
            //var sParam="";
            //if(oRSDOs.length>0)
            //{
            //    if(oRSDOs[0].OrderTypeInt==4)
            //    {
            //        sParam=oRSDOs[0].ContractorID+"~"+ oRSDOs[0].DyeingOrderDetailID+'~'+4;
            //    }
            //}

            var oRouteSheet = {
                RouteSheetID: (_oRouteSheet!=null && _oRouteSheet.RouteSheetID>0)? _oRouteSheet.RouteSheetID:0,
                ProductID_Raw:_nProcessID,
                LotNo:sLotNo,
                //Params:sParam,
                WorkingUnitID: nWUID
            };
            GetLotsDyesChemicalAddition(oRouteSheet);
        }
        else if(nkeyCode==8){
            _nSuggestLotID_Addition=0;
            //$("#txtLot_DC").val("");
        }
    });

    function GetLotsDyesChemicalAddition(oRouteSheet){
        var obj = {
            BaseAddress: _sBaseAddress,
            Object: oRouteSheet,
            ControllerName: "RouteSheet",
            ActionName: "GetsLotForRSDC_Addition",
            IsWinClose: false
        };

        $.icsDataGets(obj, function (response) {
            if (response.status && response.objs.length > 0) {
                if (response.objs[0].ProductID > 0) {
                    debugger;
                    var tblColums = [];
                    var oColumn = { field: "LotNo", title: "Lot No", width: 90, align: "left" };tblColums.push(oColumn);
                    oColumn = { field: "Balance", title: "Qty", width: 70, align: "right", formatter:formatPrice };tblColums.push(oColumn);
                    oColumn = { field: "LotStatusSt", title: "Running", width:100, align: "left" };tblColums.push(oColumn);
                    oColumn = { field: "Origin", title: "Origin", width:100, align: "left" };tblColums.push(oColumn);
                    oColumn = { field: "MUName", title: "Unit", width: 70, align: "left"};tblColums.push(oColumn);
                    oColumn = { field: "WorkingUnitName", title: "Store", width: 180, align: "left" };tblColums.push(oColumn);
                    oColumn = { field: "ProductNameCode", title: "Name", width: 180, align: "left" };tblColums.push(oColumn);

                    var oPickerParam = {
                        winid: 'winLotDyesChemicalPickerAddition',
                        winclass:'clsLotDyesChemicalPicker',
                        winwidth: 480,
                        winheight: 460,
                        tableid: 'tblLotDyesChemicalPicker',
                        tablecolumns: tblColums,
                        datalist: response.objs,
                        multiplereturn: false,
                        searchingbyfieldName:'LotNo',
                        windowTittle: 'Lot List'
                    };
                    $.icsPicker(oPickerParam);
                    IntializeLotPickerbutton(oPickerParam);//multiplereturn, winclassName
                }
                else { alert(response.objs[0].ErrorMessage); }
            }
            else{
                alert("No lot found.");
            }
        });
    }

    /* ---------------- END -------------------------------*/

    function IntializeLotPickerbutton(oPickerobj)
    {
        $("#" + oPickerobj.winid).find("#btnOk").click(function () {
            LotSelect(oPickerobj);
        });
        $(document).find('.' +oPickerobj.winclass).keydown(function (e) {
            if (e.which == 13)//enter=13
            {
                LotSelect(oPickerobj);
            }
        });
    }

    function LotSelect(oPickerobj){
        var oLot = $('#'+oPickerobj.tableid).datagrid('getSelected');
        if (oPickerobj.winid == 'winLotPicker')
        {
            if(oLot !=null  && oLot.LotID>0){

                $("#"+oPickerobj.winid).icsWindow("close");
                $("#" + oPickerobj.winid).remove();
                $('#txtLot').val(oLot.LotNo);
                _nLotID=oLot.LotID;

            }
            else{
                alert("Please select lot.");
            }
        }
        if (oPickerobj.winid == 'winLotPicker_Out')
        {
            if(oLot !=null  && oLot.LotID>0)
            {
                var oRouteSheetDetail = $('#tblRouteSheetDetail').datagrid('getSelected');

                var nMaxSequenceNo = $('#divRSDC').data('MaxSequenceData').MaxSequenceNo;
                var nSelectedIndex = $('#tblRouteSheetDetail').datagrid('getRowIndex', oRouteSheetDetail);

                if(oRouteSheetDetail.RSDetailAdditonals.length>0 && nMaxSequenceNo==undefined)
                {
                    nMaxSequenceNo = 0;
                    for(var i=0; i<oRouteSheetDetail.RSDetailAdditonals.length; i++)
                    {
                        if(nMaxSequenceNo < oRouteSheetDetail.RSDetailAdditonals[i].SequenceNo) nMaxSequenceNo = oRouteSheetDetail.RSDetailAdditonals[i].SequenceNo;
                    }
                    $('#divRSDC').data('MaxSequenceData').MaxSequenceNo = nMaxSequenceNo;
                }

                debugger;
                $('#divRSDC').data('MaxSequenceData').SelectedIndex = nSelectedIndex;
                $('#divRSDC').data('MaxSequenceData').RouteSheetDetailID = oRouteSheetDetail.RouteSheetDetailID;
                $('#divRSDC').data('MaxSequenceData').RSDetailAdditonalID = oRouteSheetDetail["RSDetailAdditonalID_"+nMaxSequenceNo];
                $('#divRSDC').data('MaxSequenceData').ApprovedByID = oRouteSheetDetail["ApprovedByID_"+nMaxSequenceNo]; //SuggestLotID

                $("#"+oPickerobj.winid).icsWindow("close");
                $("#" + oPickerobj.winid).remove();

                $('#txtLot_Out').val(oLot.LotNo);
                _nLotID_Out = oLot.LotID;
                _oSelectedLot_Out = oLot;
            }
            else{
                alert("Please select lot.");
            }
        }
        if (oPickerobj.winid == 'winLotDyesChemicalPickerAddition')
        {
            if(oLot !=null  && oLot.LotID>0){
                $("#"+oPickerobj.winid).icsWindow("close");
                $("#" + oPickerobj.winid).remove();
                $('#txtLot_Addition').val(oLot.LotNo);
                _nSuggestLotID_Addition= oLot.LotID;
            }
            else{
                alert("Please select lot.");
            }
        }
    }

    function Update_RSDetail_Lot()
    {
        if(_nLotID_Out<=0)
        {
            $('#txtLot_Out').focus();
            $('#txtLot_Out').addClass("errorFieldBorder");
            alert('Lot required.');
            return false;
        }
        else
        {
            $('#txtLot_Out').removeClass("errorFieldBorder");
        }
        debugger;

        var oRouteSheetDetail = $('#tblRouteSheetDetail').datagrid('getSelected');
        var oMaxSequenceData = $('#divRSDC').data('MaxSequenceData');

        if(oRouteSheetDetail.RSDetailAdditonals.length>0 && (oMaxSequenceData.RSDetailAdditonalID==undefined || oMaxSequenceData.RSDetailAdditonalID<=0))
        {
            alert('Failed to identify the additional item.'); return false;
        }

        var oRSD=
            {
                RouteSheetDetailID : oMaxSequenceData.RouteSheetDetailID,
                RSDetailAdditonals : [{ RSDetailAdditonalID: oMaxSequenceData.RSDetailAdditonalID }],
                SuggestLotID : _nLotID_Out,
                SuggestLotNo : _oSelectedLot_Out.LotNo
            };

        console.log(oRSD, oMaxSequenceData);
        var obj = {
            BaseAddress: _sBaseAddress,
            Object: oRSD,
            ObjectId: oRSD.RouteSheetDetailID,
            ControllerName: "RouteSheet",
            ActionName: "Update_RSDetail",
            TableId: "",
            IsWinClose: false,
            Message: "Lot Updated successfully."
        };
        $.icsSave(obj, function (response) {
            debugger;
            if (response.status && response.obj != null)
            {
                if (response.obj.RouteSheetDetailID > 0)
                {
                    if(oRSD.RouteSheetDetailID>0)
                    {
                        if(oMaxSequenceData.MaxSequenceNo > 0)
                        {
                            oRouteSheetDetail['LotNo_'+oMaxSequenceData.MaxSequenceNo] = $('#txtLot_Out').val();
                        }else
                        {
                            oRouteSheetDetail.TotalQtyLotNo = $('#txtLot_Out').val();
                        }
                        debugger;
                        var nIndex = $('#divRSDC').data('MaxSequenceData').SelectedIndex;

                        $('#tblRouteSheetDetail').datagrid('updateRow', { index:  nIndex, row: oRouteSheetDetail });

                        _nLotID_Out=0;
                        $('#txtLot_Out').val("");
                    }
                }
            }
        });
    }

    function AdditionReturn(bIsReturn){

        if(_nLotID<=0)
        {
            $('#txtLot').focus();
            $('#txtLot').addClass("errorFieldBorder");
            alert('Lot required.');
            return false;
        }
        else{
            $('#txtLot').removeClass("errorFieldBorder");
        }
        debugger;
        var oRSDetail=$('#tblTreeGridProcess').datagrid('getSelected');
        var oRSD={
            RouteSheetDetailID : oRSDetail.RouteSheetDetailID,
            RouteSheetID : oRSDetail.RouteSheetID,
            ProcessID : oRSDetail.ProcessID,
            TotalQtyLotID : oRSDetail.TotalQtyLotID,
            AddOneLotID : oRSDetail.AddOneLotID,
            AddTwoLotID : oRSDetail.AddTwoLotID,
            AddThreeLotID : oRSDetail.AddThreeLotID,
            ReturnLotID : oRSDetail.ReturnLotID,
            children: oRSDetail.children,
        };

        if(bIsReturn){
            if(oRSD.TotalQtyLotID<=0){
                alert("Initial dyes chemical quantity yet not out.");
                return false;
            }
            oRSD.ReturnLotID=_nLotID;
        }
        else{
            if(oRSD.TotalQtyLotID<=0){
                oRSD.TotalQtyLotID=_nLotID;
            }
            else if(oRSD.AddOneLotID<=0){
                oRSD.AddOneLotID=_nLotID;
            }
            else if(oRSD.AddTwoLotID<=0){
                oRSD.AddTwoLotID=_nLotID;
            }
            else if(oRSD.AddThreeLotID<=0){
                oRSD.AddThreeLotID=_nLotID;
            }
        }

        var obj = {
            BaseAddress: _sBaseAddress,
            Object: oRSD,
            ObjectId: 0,
            ControllerName: "RouteSheet",
            ActionName: "RouteSheetDyeChemicalOut",
            TableId: "",
            IsWinClose: false,
            Message: (bIsReturn)?"Return successfully.":"Out sucessfully."
        };
        $.icsSave(obj, function (response) {
            debugger;
            if (response.status && response.obj != null) {
                if (response.obj.RouteSheetDetailID > 0) {
                    if(oRSD.RouteSheetDetailID>0){
                        response.obj.children=oRSD.children;
                        $('#tblTreeGridProcess').treegrid('update',{ id: oRSD.RouteSheetDetailID, row: response.obj });
                        OperationPerformTreeGrid(response.obj);
                    }
                }
            }
        });
    }

    $('#btnAdditional').click(function(e){

        AdditionReturn(false);
    });

    $('#btnReturn').click(function(e)
    {
        AdditionReturn(true);
    });

    function cellStyleBal(value,row,index)
    {
        if (row.TotalQtyLotID<=0 && row.AddOneLotID<=0 && row.TotalQty>0)
        {
            if (row.Balance<row.TotalQty)
            {
                return 'background-color:#FFFF00;color:#FC0D0D;';
            }
        }

        if (row.TotalQtyLotID>0 && row.AddOneLotID<=0 && row.AddOneQty>0)
        {
            if (row.Balance<row.AddOneQty)
            {
                return 'background-color:#FFFF00;color:#FC0D0D;';
            }
        }
        if (row.TotalQtyLotID>0 && row.AddOneLotID>0&& row.AddTwoLotID<=0  && row.AddTwoQty>0 && row.SuggestLotNo !="")
        {
            if (row.Balance<row.AddTwoQty)
            {
                return 'background-color:#FFFF00;color:#FC0D0D;';
            }
        }
        if (row.TotalQtyLotID>0 && row.AddOneLotID>0 && row.AddTwoLotID>0 && row.AddThreeLotID<=0 && row.AddThreeQty>0 && row.SuggestLotNo !="")
        {
            if (row.Balance<row.AddThreeQty)
            {
                return 'background-color:#FFFF00;color:#FC0D0D;';
            }
        }
    }
    function cellStylerLot1(value,row,index)
    {

        if (row.TotalQtyLotID>0 && row.AddOneLotID<=0 && row.AddOneQty>0 && row.SuggestLotNo !="")
        {
            return 'background-color:#FFFF00;color:#FC0D0D;';
        }
    }
    function cellStylerLot2(value,row,index)
    {
        if (row.TotalQtyLotID>0 && row.AddOneLotID>0&& row.AddTwoLotID<=0  && row.AddTwoQty>0 && row.SuggestLotNo !="")
        {
            return 'background-color:#FFFF00;';
        }
    }
    function cellStylerLot3(value,row,index)
    {
        if (row.TotalQtyLotID>0 && row.AddOneLotID>0 && row.AddTwoLotID>0 && row.AddThreeLotID<=0 && row.AddThreeQty>0 && row.SuggestLotNo !="")
        {
            return 'background-color:#FFFF00;';
        }
    }
    function cellStylerTLot(value,row,index)
    {
        if (row.TotalQtyLotID<=0 && row.SuggestLotNo !="")
        {
            return 'background-color:#FFFF00;color:#FC0D0D;';
        }
    }

    function cellStylerForEdit(value,row,index)
    {
        if (row.ParentID != 0)
        {
            return '<input type=button  onclick="EditDetail('+row.RouteSheetDetailID+')"/>';
            //return '<a id="btnTask" href="javascript:void(0)" class="easyui-linkbutton" iconcls="" plain="true" onclick="OpenTask('+row.RouteSheetDetailID+')">'+'<input type="button" value="Edit"/>'+'</a>';
        }
    }

    $("#btnCloseTempletAddition").click(function (e) {
        $("#winTempletAddition").icsWindow("close");
    });

    function EditDetail(nRouteSheetDetailID){
        debugger;
        if(nRouteSheetDetailID<=0){ alert("Please select an item from list."); return false; }

        $("#cboAdditionType").icsLoadCombo({
            List: [{id:102,Value:'Addition'},{id:101,Value:'Return'}],
            OptionValue: "id",
            DisplayText: "Value"
        });
        $("#cboAdditionType").val(0);
        $("#txtLot_Addition_Qty_KG").val("");
        $("#txtLot_Addition_Qty_GM").val("");
        $("#txtLot_Addition_Remarks").val("");
        var oRSD={
            RouteSheetDetailID:nRouteSheetDetailID
        }
        var obj =
        {
            BaseAddress: _sBaseAddress,
            Object: oRSD,
            ControllerName: "RouteSheet",
            ActionName: "GetRSDetailWithAdditionV2",
            IsWinClose: false
        };
        
        $.icsDataGet(obj, function (response) {
            if (response.status && response.obj != null) {
                if (response.obj.RouteSheetDetailID > 0) {
                    _oRSD=response.obj;
                    debugger;
                    //if(response.obj.IsDyesChemical){
                    //    $('#chkDyeChemical').prop('checked',true);
                    //    _nProcessID=response.obj.ProcessID;
                    //    _nSuggestLotID_Addition=response.obj.SuggestLotID;
                        $("#txtProduct-DSAddition").val(response.obj.ProcessName);
                        $("#txtGLAddition").val(response.obj.GL);
                        $("#txtPercentageAddition").val(response.obj.Percentage);
                        $("#txtAdjustmentAddition").val(response.obj.DAdjustment);
                        $('#chkForCottonAddition').prop('checked',response.obj.ForCotton);
                        $("#txtLot_DCAddition").val(response.obj.SuggestLotNo);
                        //$("#txtLot_Addition").val(response.obj.SuggestLotNo);
                        $("#cboProductCategoryAddition").val(response.obj.PCategoryID);
                        $('#cboStoreDCAdon').val(response.obj.WUID);
                        DynamicRefreshList(response.obj.RSDetailAdditonals, 'tblRSAdditional');
                        //$('#tblRSAdditional').treegrid('appendRow', response.obj);
                    //}
                    //else{
                    //    debugger;
                    //    $('#chkDyeChemical').prop('checked',false);
                    //    GetDyeingProcess(response.obj.ProcessID)
                    //    $("#txtTempTimeAddition").val(response.obj.TempTime);
                    //}
                        var oRouteSheetDetail = $('#tblRouteSheetDetail').datagrid('getSelected');
                        if(oRouteSheetDetail.IsDyesChemical == false){
                            $('#txtLot_Out,#btnPickLot_Out,#btnResetLot_Out,#btnUpdateLot_Out,#lblLotNo').hide();
                        }else{
                            $('#txtLot_Out,#btnPickLot_Out,#btnResetLot_Out,#btnUpdateLot_Out,#lblLotNo').show();
                        }

                    $('#txtNoteTempletAddition').val(response.obj.Note)
                    $('.type-addition').prop('disabled',true);

                    $("#winTempletAddition").icsWindow("open", "Edit Dyeing Solution Detail");
                }
                else { alert(response.obj.ErrorMessage); }
            }
        });

    }

    function GetDyeingProcess(nIndex){
        var oDyeingSolution = {
            Name:""
        };
        var obj = {
            BaseAddress: _sBaseAddress,
            Object: oDyeingSolution,
            ControllerName: "DyeingSolutiontemplate",
            ActionName: "GetsDyeingProcess",
            IsWinClose: false
        };

        $.icsDataGets(obj, function (response) {

            if (response.status && response.objs.length > 0) {
                debugger;
                if (response.objs[0].DyeingSolutionID > 0) {
                    $("#cboProcess").icsLoadCombo({
                        List: response.objs,
                        OptionValue: "DyeingSolutionID",
                        DisplayText: "Name",
                        InitialValue:""
                    });
                    if(nIndex>0)
                        $("#cboProcess").val(nIndex);
                }
                else { alert(response.objs[0].ErrorMessage); }
            }
            else{
                alert("No solution found.");
            }
        });
    }

    $('#btnCommit').click(function(e){

        var oRSDetails = $('#tblRouteSheetDetail').datagrid('getRows');
        var oRSDetails_Temp=[];
        if(oRSDetails.length<=0)
        {
            alert("Please checked at least one item.");
            return;
        }
        if (!confirm("Confirm to Out?")) return false;
        debugger;
        var nSelectedIndex=0;
        var indexLists=[];
        for (i = 0; i < oRSDetails.length; ++i)
        {
            oRSDetails[i].OutState = parseInt($("#cboOutState").val());

            //if(oRSDetails[i].SuggestLotID>0 && oRSDetails[i].OutState == 0)
            //{
            //    if(oRSDetails[i].TotalQtyLotID<=0)
            //    {
            //        oRSDetails[i].TotalQtyLotID=oRSDetails[i].SuggestLotID;
            //    }
            //    else if(oRSDetails[i].AddOneLotID<=0)
            //    {
            //        oRSDetails[i].AddOneLotID=oRSDetails[i].SuggestLotID;
            //    }
            //    nSelectedIndex = $('#tblRouteSheetDetail').datagrid('getRowIndex', oRSDetails[i]);
            //    indexLists.push(nSelectedIndex);
            //    oRSDetails_Temp.push(oRSDetails[i]);
            //}

            if(oRSDetails[i].IsDyesChemical == 1)
            {
                if( $('#cboOutState').val() == 0 && oRSDetails[i].TotalQtyLotID == 0)
                {
                    oRSDetails_Temp.push(oRSDetails[i]);
                    nSelectedIndex = $('#tblRouteSheetDetail').datagrid('getRowIndex', oRSDetails[i]);
                    indexLists.push(nSelectedIndex);
                }
                else if( $('#cboOutState').val() == 1 && oRSDetails[i].TotalQtyLotID > 0)
                {
                    oRSDetails_Temp.push(oRSDetails[i]);
                    nSelectedIndex = $('#tblRouteSheetDetail').datagrid('getRowIndex', oRSDetails[i]);
                    indexLists.push(nSelectedIndex);
                }
            }
        }
        if(oRSDetails_Temp.length<=0)
        {
            alert("No Lot Found To Out Dyes/Chemical.")
            return;
        }

        var oRSDetailAdditonal={RouteSheetID:oRSDetails_Temp[0].RouteSheetID ,SequenceNo:parseInt($("#cboOutState").val())}

        if(oRSDetailAdditonal.RouteSheetID<=0)
        {
            alert("No Lot Found To Out Dyes/Chemical.")
            return;
        }

        $.ajax({
            type: "POST",
            dataType: "json",
            url : _sBaseAddress+"/RouteSheet/RouteSheetDyeChemicalOutAll_V2",
            traditional: true,
            data:  JSON.stringify(oRSDetailAdditonal),
            contentType: "application/json; charset=utf-8",
            success: function (data) {
                oRSDetails =jQuery.parseJSON(data);

                if (oRSDetails[0].ErrorMessage == '' || oRSDetails[0].ErrorMessage == null)
                {
                    for (i = 0; i < oRSDetails.length; ++i)
                    {
                        $('#tblRouteSheetDetail').datagrid('updateRow', { index:  indexLists[i], row: oRSDetails[i] });
                        $('#tblRouteSheetDetail').datagrid('selectRow', indexLists[i]);
                    }
                    alert("Data save Successfully");

                }
                else
                {
                    alert(oRSDetails[0].ErrorMessage);
                }
            },
            error: function (xhr, status, error)
            {
                alert(xhr+'~' +status+'~'+error);
            }
        });
    });
    $('#btnCommit_Return').click(function(e){

        var oRSDetails = $('#tblRouteSheetDetail_Out').datagrid('getRows');
        var oRSDetails_Temp=[];
        if(oRSDetails.length<=0)
        {
            alert("Please checked at least one item.");
            return;
        }
        if (!confirm("Confirm to Return?")) return false;
        debugger;
        var nSelectedIndex=0;
        var indexLists=[];
        for (i = 0; i < oRSDetails.length; ++i)
        {
            oRSDetails[i].OutState = parseInt($("#cboOutState").val());

            //if(oRSDetails[i].SuggestLotID>0 && oRSDetails[i].OutState == 0)
            //{
            //    if(oRSDetails[i].TotalQtyLotID<=0)
            //    {
            //        oRSDetails[i].TotalQtyLotID=oRSDetails[i].SuggestLotID;
            //    }
            //    else if(oRSDetails[i].AddOneLotID<=0)
            //    {
            //        oRSDetails[i].AddOneLotID=oRSDetails[i].SuggestLotID;
            //    }
            //    nSelectedIndex = $('#tblRouteSheetDetail').datagrid('getRowIndex', oRSDetails[i]);
            //    indexLists.push(nSelectedIndex);
            //    oRSDetails_Temp.push(oRSDetails[i]);
            //}

            if(oRSDetails[i].IsDyesChemical == 1)
            {
                if(oRSDetails[i].TotalQtyLotID > 0)
                {
                    oRSDetails_Temp.push(oRSDetails[i]);
                    nSelectedIndex = $('#tblRouteSheetDetail_Out').datagrid('getRowIndex', oRSDetails[i]);
                    indexLists.push(nSelectedIndex);
                }
            }
        }
        if(oRSDetails_Temp.length<=0)
        {
            alert("No Lot Found To Return Dyes/Chemical.")
            return;
        }


        $.ajax({
            type: "POST",
            dataType: "json",
            url : _sBaseAddress+"/RouteSheet/RouteSheetDyeChemicalOutAll_Return",
            traditional: true,
            data:  JSON.stringify(oRSDetails_Temp),
            contentType: "application/json; charset=utf-8",
            success: function (data) {
                oRSDetails =jQuery.parseJSON(data);

                if (oRSDetails[0].ErrorMessage == '' || oRSDetails[0].ErrorMessage == null)
                {
                    for (i = 0; i < oRSDetails.length; ++i)
                    {
                        $('#tblRouteSheetDetail_Out').datagrid('updateRow', { index:  indexLists[i], row: oRSDetails[i] });
                        $('#tblRouteSheetDetail_Out').datagrid('selectRow', indexLists[i]);
                    }
                    alert("Data save Successfully");

                }
                else
                {
                    alert(oRSDetails[0].ErrorMessage);
                }
            },
            error: function (xhr, status, error)
            {
                alert(xhr+'~' +status+'~'+error);
            }
        });
    });

    $('#btnCommitDetail').click(function(e){
        var oRSAdditionals = $('#tblRSAdditional').datagrid('getRows');
        var oRSAdditionals_Temp=[];
        if(oRSAdditionals.length<=0)
        {
            alert("No Item Found!.");
            return;
        }
        debugger;

        var sRSDIDs = "";
        for (i = 0; i < oRSAdditionals.length; i++)
        {
            if(oRSAdditionals[i].ApprovedByID <= 0)
                sRSDIDs += oRSAdditionals[i].RouteSheetDetailID + ",";
        }
        if(sRSDIDs.length > 0) {
            sRSDIDs = sRSDIDs.substring(0, sRSDIDs.length-1);
        }            
        else{
            alert("All Items are already Out!!");
            return;
        }

        if (!confirm("Confirm to Out?")) return false;     
        var oRSDetailAdditonal={ErrorMessage:sRSDIDs ,SequenceNo:parseInt($("#cboOutStateDetail").val())}
        $.ajax({
            type: "POST",
            dataType: "json",
            url : _sBaseAddress+"/RouteSheet/RouteSheetDyeChemicalOutByID",
            traditional: true,
            data:  JSON.stringify(oRSDetailAdditonal),
            contentType: "application/json; charset=utf-8",
            success: function (data) {
                oRouteSheetDetails_Ret =jQuery.parseJSON(data);

                if (oRouteSheetDetails_Ret[0].ErrorMessage == '' || oRouteSheetDetails_Ret[0].ErrorMessage == null)
                {
                    //$('#tblRSAdditional').datagrid('loadData',[]);
                    //$('#tblRSAdditional').datagrid('loadData',oRSDetailAdditonals);
                    alert("Data save Successfully");
                    $("#winTempletAddition").icsWindow("close");
                }
                else
                {
                    alert(oRouteSheetDetails_Ret[0].ErrorMessage);
                }
            },
            error: function (xhr, status, error)
            {
                alert(xhr+'~' +status+'~'+error);
            }
        });
    });

    $("#txtLot_Addition_Qty_KG,txtLot_Addition_Qty_GM").keyup(function(e){  
        var nkeyCode = e.keyCode || e.which;
        if(nkeyCode==13)
        {
            $("#txtLot_Addition_Remarks").focus();
        }
    });
    $("#txtLot_Addition_Remarks").keyup(function(e)
    {
        var nkeyCode = e.keyCode || e.which;
        if(nkeyCode==13)
        {
            if (!ValidationRouteSheetDetailAddition()) return false;
            var oRSD=RefreshObjectRouteSheetDetailAddition();
            SaveRouteSheetDetailAddition(oRSD);
        }
    });

    function ValidationRouteSheetDetailAddition()
    {
        if (_oRSD==null || _oRSD.RouteSheetDetailID<=0)
        {
            alert("Invalid Batch !"); return false;
        }
        if ($('#cboAdditionType').val()==undefined || $('#cboAdditionType').val()<=0)
        {
            alert("Please select a type and try again!");
            $('#cboAdditionType').focus(); 
            return false;
        }
        return true;
    }

    function ValidationAdditionalQty(){
        if($('#txtLot_Addition_Qty_KG').val()=='' && $('#txtLot_Addition_Qty_GM').val()==''){
            $('#txtLot_Addition_Qty_KG,#txtLot_Addition_Qty_GM').focus();
            $('#txtLot_Addition_Qty_KG').addClass("errorFieldBorder");
            alert('Please enter quantity.');
            return false;
        }
        else{
            $('#txtLot_Addition_Qty_KG,#txtLot_Addition_Qty_GM').removeClass("errorFieldBorder");
        }

        return true;
    }

    function RefreshObjectRouteSheetDetailAddition()
    {
        debugger;
        if(!ValidationAdditionalQty())return;
        var nQty= parseFloat(($('#txtLot_Addition_Qty_KG').val()=='') ? 0 : $('#txtLot_Addition_Qty_KG').val()) + parseFloat(parseFloat(($('#txtLot_Addition_Qty_GM').val()=='')? 0 : $('#txtLot_Addition_Qty_GM').val())/1000);
        if(nQty<=0 || isNaN(nQty))
        {
            alert("Invalid Quantity."); return;
        }
        if(_nSuggestLotID_Addition<=0 || isNaN(_nSuggestLotID_Addition))
        {
            alert("Invalid Lot."); return;
        }
        var oRSDA={
            RouteSheetDetailID : (_oRSD==null || _oRSD.RouteSheetDetailID<=0)? 0 : _oRSD.RouteSheetDetailID,
            RouteSheetID : _oRouteSheet.RouteSheetID,
            Note : $.trim($('#txtNoteAddition').val()),
            Qty : nQty, //parseFloat($('#txtLot_Addition_Qty').val()),
            LotID : _nSuggestLotID_Addition,
            Note : $.trim($('#txtLot_Addition_Remarks').val()),
            InOutType : $('#cboAdditionType').val(),
            LotNo: $.trim($('#txtLot_Addition').val())
        };
        return oRSDA;
    }

    $("#btnAddDetailAddition").click(function (e) 
    {
        _oRouteSheet = $('#tblRouteSheet').datagrid('getSelected');
        if (!ValidationRouteSheetDetailAddition()) return false;
        var oRSD=RefreshObjectRouteSheetDetailAddition();
        SaveRouteSheetDetailAddition(oRSD);
    });

    function SaveRouteSheetDetailAddition(oRSDA){
        var obj = {
            BaseAddress: _sBaseAddress,
            Object: oRSDA,
            ObjectId: oRSDA.RouteSheetDetailID,
            ControllerName: "RouteSheet",
            ActionName: "SaveRSDA",
            TableId: "",
            IsWinClose: false,
            Message: "Save sucessfully."
        };
        $.icsSave(obj, function (response) {
            if (response.status && response.obj != null) 
            {
                if (response.obj.RouteSheetDetailID > 0) 
                {
                    //$('#tblRSAdditional').treegrid('appendRow', response.obj);
                    $('#tblRSAdditional').datagrid('appendRow', response.obj);

                    $("#cboAdditionType").val(0);
                    $("#txtLot_Addition_Qty_KG").val("");
                    $("#txtLot_Addition_Qty_GM").val("");
                    $("#txtLot_Addition_Remarks").val("");
                }
            }
        });
    }

    $("#btnDeleteDetailAddition").click(function () {
        var oRSAdditionalDetail = $("#tblRSAdditional").datagrid("getSelected");
        if (oRSAdditionalDetail == null || oRSAdditionalDetail.RSAdditionalDetailID <= 0) { alert("Please select an item from list!"); return false; }

        if (!confirm("Confirm to Delete?")) return false;

        var obj =
        {
            BaseAddress: _sBaseAddress,
            Object: oRSAdditionalDetail,
            ControllerName: "RouteSheet",
            ActionName: "DeleteRSDA",
            TableId: "tblRSAdditional",
            IsWinClose: false,
            Message:''
        };
        $.icsDelete(obj);
    });

    $("#btnPrintPreview").click(function (e) {
        var oRouteSheet = $('#tblRouteSheet').datagrid('getSelected');
        if (oRouteSheet ==null || oRouteSheet.RouteSheetID <=0 ) { alert("Invalid Route Sheet!!"); return ; }
        var nts = ((new Date()).getTime()) / 1000;
        window.open(sessionStorage.getItem('BaseAddress') +  "/DUBatchCost/PrintDUBatchCostFromDyesChemical?nId="+oRouteSheet.RouteSheetID+"&nts="+nts, "_blank");
    });

    $("#btnPrintPreviewRS").click(function (e) {
        var oRouteSheet = $('#tblRouteSheet').datagrid('getSelected');
        if (oRouteSheet ==null || oRouteSheet.RouteSheetID <=0 ) { alert("Invalid Route Sheet!!"); return ; }
        var nts = ((new Date()).getTime()) / 1000;
        window.open(_sBaseAddress+ "/RouteSheet/PrintRouteSheet?nId="+oRouteSheet.RouteSheetID+"&bIsCommon="+true+"&nts="+nts, "_blank");
    });

</script>