<html>

<body>

 @model ESimSol.BusinessObjects.ProductCategory
    <div id="divProductCategory" class="easyui-panel" title="Add Item Category" style="font-family:Tahoma; height:100%; width:100%">

        <div style="width:100%; height:88%; align-content:center">
            <fieldset style="height:97%">
                <legend style="font-weight: bold">Item Category Info : </legend>

                <table border="0" style="font-size:11px; font-weight:bold;width:100%;margin-top:50px;">
                    <tr>
                        <td style="width: 10%; text-align: right">
                        Category Name :
                        </td>
                        <td style="width: 60%; text-align: left">
                            @Html.TextBoxFor(model => model.ProductCategoryName, new { style = "width: 250px;", id = "txtProductCategoryName" })
                        </td>
                    </tr>
                    <tr>
                        <td style="width: 10%; text-align: right">
                            Note :
                        </td>
                        <td style="width: 60%; text-align: left">
                            @Html.TextBoxFor(model => model.Note, new { style = "width: 250px;", id = "txtNote" })
                        </td>
                    </tr>
                    <tr id="trLastLayer">
                        <td style="width: 10%; text-align: right">
                            Last Layer :
                        </td>
                        <td style="width: 60%; text-align: left">
                            @Html.CheckBoxFor(model => model.IsLastLayer, new { id = "chkIsLastLayer" })
                        </td>
                    </tr>
                    <tr id="trApplyGroup">
                        <td style="width: 10%; text-align: right">
                            Apply Group :
                        </td>
                        <td style="width: 60%; text-align: left">
                            @Html.CheckBoxFor(model => model.IsApplyGroup, new { id = "chkIsApplyGroup" })
                        </td>
                    </tr>
                </table>
                <table border="0" style="font-size:11px; font-weight:bold;width:100%;margin-top:5px;">
                    
                    <tr id="trIsFixedAsset">

                        <td style="width: 10%; text-align: right">
                            Is FixedAsset :
                        </td>
                        <td style="width: 3%; text-align: left">
                            @Html.CheckBoxFor(model => model.IsFixedAsset, new { id = "chkIsFixedAsset" })
                        </td>
                        <td></td>
                        <td></td>
                        <td style="width: 40%; text-align: right"></td>
                    </tr>
                    <tr id="trProductType">

                        <td style="width: 10%; text-align: right">
                            Apply Inventory :
                        </td>
                        <td style="width: 3%; text-align: left">
                            @*@Html.CheckBoxFor(model => model.ApplyInventory, new { id = "chkApplyInventory" })*@
                            <input type="checkbox" id="chkApplyInventory" onclick="if(this.checked){IsInvYes()} else {IsInvNo()}" />
                        </td>
                        <td style="width: 10%; text-align: right">
                            IsCOGS item :
                        </td>
                        <td style="width: 6%; text-align: left">
                            Yes <input type="checkbox" id="chkIsCOGS" onclick="if(this.checked){IsCOGSYes()} else {IsCOGSNo()}" />
                            No <input type="checkbox" id="chkIsCOGSNo" onclick="if(this.checked){IsCOGSNo()} else {IsCOGSYes()}" />

                        </td>
                        <td style="width: 40%; text-align: right"></td>
                    </tr>
                 
                </table>
            </fieldset>
        </div>
        <div style="width:100%; height:10%">
            <fieldset>
                <legend style="font-weight:bold"> Action : </legend>
                <table border="0" cellspacing="2" cellpadding="2" style="font-size: 11px; font-weight: bold; width:100%">
                    <tr>
                        <td style="width:80%; text-align:right"></td>
                        <td style="width: 10%">
                            <a id="btnSave" href="javascript:void(0)" class="easyui-linkbutton" iconcls="icon-save" plain="true">Save</a>
                        </td>
                        <td style="width: 10%">
                            <a id="btnClose" href="javascript:void(0)" class="easyui-linkbutton" iconcls="icon-cancel" plain="true">Close</a>
                        </td>
                    </tr>
                </table>
            </fieldset>
        </div>
    </div>
</body>
</html>

<script type="text/javascript"> 
 var _oProductCategory=null;
 var _sBaseAddress="";
 var _sProductCategoryHeader="";
 var _oProductSetup=null;
 var _nMenuid=0;
 //var _obj = window.dialogArguments;
 $(document).ready(function () {
     _sBaseAddress =@Html.Raw( new System.Web.Script.Serialization.JavaScriptSerializer().Serialize(HttpContext.Current.Session[SessionInfo.BaseAddress]));
     _nMenuid = @Html.Raw(new System.Web.Script.Serialization.JavaScriptSerializer().Serialize(HttpContext.Current.Session[SessionInfo.MenuID]));
     _oProductCategory =@Html.Raw(new System.Web.Script.Serialization.JavaScriptSerializer().Serialize(Model));  
     _oProductSetup=@Html.Raw(new System.Web.Script.Serialization.JavaScriptSerializer().Serialize(ViewBag.ProductSetup));
     var ProductCategorys = _oProductCategory.ProductCategorys;
     //document.getElementById('lblHeaderName').innerHTML=_obj.Name;
     debugger;
     _sProductCategoryHeader=sessionStorage.getItem("ProductCategoryHeader");
     $('#divProductCategory').panel({ title:_sProductCategoryHeader});
     $("#chkIsLastLayer").prop("disabled",true);
     RefreshByProductSetup();
     if(_sProductCategoryHeader=="View ProductCategory")
     {
         $("#btnSave").hide();
         $("#txtProductCategoryName").prop("disabled",true);
         $("#txtNote").prop("disabled",true);
         $("#chkIsLastLayer").prop("disabled",true);
         $("#chkIsApplyGroup").prop("disabled",true);
     }
     else  if(_sProductCategoryHeader=="Edit ProductCategory")
     {
         $("#trLastLayer").hide();
         $("#trApplyGroup").hide();
        
     }

     RefreshControl();
 }); 
    function RefreshByProductSetup()
    {
        if(!_oProductSetup.IsApplyProductType)
        {
            $('#trProductType').hide();
            $('#trIsFixedAsset').hide();
            
        }
        if(!_oProductSetup.IsApplyGroup)
        {
            $("#trApplyGroup").hide();
        }

    }
    function RefreshControl()
    {
        if(_oProductCategory.IsCOGS==false)
        {
            document.getElementById("chkIsCOGS").checked=false;
            document.getElementById("chkIsCOGSNo").checked=true;
         
        }
 
        if(_oProductCategory.IsCOGS==true)
        {
            document.getElementById("chkIsCOGS").checked=true;
            document.getElementById("chkIsCOGSNo").checked=false;
        }

        document.getElementById("chkApplyInventory").checked=_oProductCategory.ApplyInventory;

        if(_oProductCategory.ApplyInventory==false)
        {
            $("#chkIsCOGS").prop("disabled",true);
            $("#chkIsCOGSNo").prop("disabled",true);
            document.getElementById("chkIsCOGS").checked=false;
            document.getElementById("chkIsCOGSNo").checked=true;
        }
        if(_oProductCategory.ApplyInventory==true)
        {
            $("#chkIsCOGS").prop("disabled",false);
            $("#chkIsCOGSNo").prop("disabled",false);
            document.getElementById("chkIsCOGS").checked=true;
            document.getElementById("chkIsCOGSNo").checked=false;
        }
    }

  function ValidateInput()
    {
        if(document.getElementById("txtProductCategoryName").value==null || document.getElementById("txtProductCategoryName").value=="")
        {        
            alert("Please enter ProductCategory name!");
            $('#txtProductCategoryName').focus();
            return false;
        }
        return true;
    }

  function RefreshObject()
  {    
   
      

        var oProductCategory= { 
            ProductCategoryID : _oProductCategory.ProductCategoryID,
            ProductCategoryName : $("#txtProductCategoryName").val(),
            ParentCategoryID : _oProductCategory.ParentCategoryID,
            Note : $("#txtNote").val(),
            IsApplyGroup : document.getElementById("chkIsApplyGroup").checked,
            IsLastLayer : document.getElementById("chkIsLastLayer").checked,
            ApplyInventory : document.getElementById("chkApplyInventory").checked,
            IsFixedAsset : document.getElementById("chkIsFixedAsset").checked,
            IsCOGS : document.getElementById("chkIsCOGS").checked
        };
        return oProductCategory;
    }

    $("#btnSave").click(function(){
        if(!ValidateInput()) return;
        var oProductCategory=RefreshObject();
        $.ajax({
            type: "POST",
            dataType: "json",            
            url : _sBaseAddress+  "/ProductCategory/Save",
            traditional: true,
            data:  JSON.stringify(oProductCategory),
            contentType: "application/json; charset=utf-8",
            success: function (data) {
                oProductCategory = jQuery.parseJSON(data);
                if (oProductCategory.ProductCategoryID>0) {                    
                    alert("Data Saved sucessfully");
                    debugger;
                    var oProductCategorys =sessionStorage.getItem("ProductCategorys");
                    var nIndex= parseInt(sessionStorage.getItem("SelectedRowIndexPCT"));
                    
                    if(oProductCategorys!=null)
                    {
                        oProductCategorys = jQuery.parseJSON(oProductCategorys);
                    }
                    else
                    {
                        oProductCategorys=[];
                    }
                    if(nIndex!=-1)
                    {
                        oProductCategorys[nIndex]=oProductCategory;
                    }
                    else
                    {
                     
                        
                        sessionStorage.setItem("SelectedRowIndexPCT", oProductCategorys.length);
                        oProductCategorys.push(oProductCategory);
                    }
                    sessionStorage.setItem("ProductCategorys", JSON.stringify(oProductCategorys));
                    window.location.href = _sBaseAddress+ "/ProductBase/ViewProductBases?menuid="+_nMenuid;
                }
                else {
                    alert(oProductCategory.ErrorMessage);
                }
            },
            error: function (xhr, status, error) {
                alert(error);
            }
        });
    });
 
    $("#btnClose").click(function(){
        window.location.href = _sBaseAddress+ "/ProductBase/ViewProductBases?menuid="+_nMenuid;
    });

    $(document).keydown(function(e) {
        if(e.which == 27)//escape=27
        {
            window.location.href = _sBaseAddress+ "/ProductBase/ViewProductBases?menuid="+_nMenuid;
        }
    });

    function IsCOGSYes()
    {
        document.getElementById("chkIsCOGS").checked=true;
        document.getElementById("chkIsCOGSNo").checked=false;
    }
    function IsCOGSNo()
    {
        document.getElementById("chkIsCOGS").checked=false;
        document.getElementById("chkIsCOGSNo").checked=true;
    }


    function IsInvYes()
    {
        $("#chkIsCOGS").prop("disabled",false);
        $("#chkIsCOGSNo").prop("disabled",false);
        document.getElementById("chkIsCOGS").checked=true;
        document.getElementById("chkIsCOGSNo").checked=false;

    
    }
    function IsInvNo()
    {
        $("#chkIsCOGS").prop("disabled",true);
        $("#chkIsCOGSNo").prop("disabled",true);
        document.getElementById("chkIsCOGS").checked=false;
        document.getElementById("chkIsCOGSNo").checked=true;
    }

</script>