  
@model ESimSol.BusinessObjects.AccountingSession
@{
    ViewBag.Title = "Add Accounting Session";
}

@using (Html.BeginForm())
{
    @Html.ValidationSummary(true)
        <div class="PageHeading">
           <table border="0">
                <tr>                    
                    <td style="width:900px" class="Headline"> Add Accounting Session</td>
                </tr>
            </table>
        </div>  
        <div class="PageBody">
        <table border="0">
            <tr>
                <td style="width:50px"></td>
                <td style="width:800px">                           
                            <fieldset>
                                <legend style="font-weight:bold"> Accounting Session Info : </legend>
                                <table border="0">
                                    <tr>
                                        <td style="width:150px; text-align:left">Session Name :</td>
                                        <td style="width:400px">
                                            <div class="editor-field">
                                                @Html.TextBoxFor(model => model.SessionName, new { style = "width: 400px;", id = "txtSessionName" })            
                                             </div>
                                        </td>
                                        <td rowspan="3" style="width:250px">
                                            <div style="border:0px coral solid; width:200px; height:100px; margin-left:50px">
                                                <b>Select Session Hierarchy</b>
                                                <br />
                                                @*@Html.ListBoxFor(m => m.SessionHierarchyList, new MultiSelectList(Enum.GetValues(typeof(ICS.Base.Client.Utility.EnumSessionType))), new { Multiple = "multiple" })*@
                                                @{ Html.RenderAction("Checks", new { values = Enum.GetValues(typeof(ICS.Base.Client.Utility.EnumSessionType)), name = "MyCheckList" }); }
                                                @*@{ Html.RenderAction("Checks", new { values = new string[] { "Year End", "Half Year End", "Quarter End", "Month End", "Week End", "Day End" }, name = "MyCheckList" }); }*@
                                            </div>  
                                        </td>
                                    </tr>    
                                    <tr>
                                        <td style="width:150px; text-align:left">Start Date :</td>
                                        <td style="width:400px">
                                            <div style="margin-top:8px">
                                            <table border="0" cellpadding="0" cellspacing="0">
                                                <tr>                                                                                                     
                                                    <td style="width:100px; text-align:left">@Html.TextBox("StartDate", DateTime.Today.ToString("dd MMM yyyy"), new { style = "width: 100px;", id = "txtStartDate" }) </td>
                                                    <td style="width:100px; text-align:left"></td>  
                                                    <td style="width:100px; text-align:right">End Date :</td>
                                                    <td style="width:100px; text-align:right">@Html.TextBox("EndDate", DateTime.Today.ToString("dd MMM yyyy"), new { style = "width: 100px;", id = "txtEndDate" })  </td>
                                                </tr>
                                            </table>
                                             </div>
                                        </td>                                        
                                    </tr>        
                                    <tr>
                                        <td style="width:150px; text-align:left"></td>
                                        <td style="width:400px">
                                            <div style="margin-top:8px">
                                            <table border="0" cellpadding="0" cellspacing="0">
                                                <tr>                                                
                                                    <td style="width:180px; text-align:left">@Html.CheckBoxFor(model => model.IsDateActivation, new { id = "chkIsActivation", onClick = "chkIsDateActivationClickEvent()" }) Apply Activation Time</td>
                                                    <td style="width:120px; text-align:right">Lock Time :</td>
                                                    <td style="width:100px; text-align:right"> @Html.TextBox("LockDateTime", "21:00", new { style = "width: 100px;", id = "txtLockTime" }) </td>
                                                </tr>
                                            </table>
                                             </div>
                                        </td>                                       
                                    </tr>      
                                    <tr id="trActivationDate">
                                        <td colspan="2">
                                            <div style="margin-top:8px">
                                                <table border="0" cellpadding="0" cellspacing="0">
                                                    <tr>                                                
                                                        <td style="width:100px; text-align:left"> Active Time :</td>
                                                        <td style="width:130px; text-align:left">@Html.TextBox("ActivationDateTime", "09:00", new { style = "width: 100px;", id = "txtActivationTime" })</td>
                                                        <td style="width:170px; text-align:right"></td>
                                                        <td style="width:100px; text-align:right"></td>
                                                    </tr>   
                                                    <tr>                                                
                                                        <td style="width:100px; text-align:left"></td>
                                                        <td colspan="3" style="text-align:left">                                                     
                                                            <br /> 
                                                            <b>Select Session Holiday</b>
                                                            <br />                                                            
                                                            @{ Html.RenderAction("holidays", new { values = new string[] { "Saturday", "Sunday", "Monday", "Tuesday", "Wednesday", "Thursday", "Friday" }, name = "weeklyholidays" }); }
                                                        </td>                                                        
                                                    </tr>                                           
                                                </table>
                                            </div>
                                      </td>                                       
                                    </tr>    
                                      
                                    <tr style="height:20px">
                                        <td style="width:150px; text-align:left"> </td>
                                        <td style="width:400px">
                                            <div style="margin-top:8px">
                                            <table border="0" cellpadding="0" cellspacing="0">
                                                <tr>                                                
                                                    <td style="width:130px; text-align:left"> </td>
                                                    <td style="width:170px; text-align:right"></td>
                                                    <td style="width:100px; text-align:right"></td>
                                                </tr>
                                            </table>
                                             </div>
                                        </td>                                       
                                    </tr>       
                                   
                                </table>
                                </fieldset>
                                 <input type="submit" value="Save" id="btnSave" />
                    </td>
                <td style="width:50px"></td>
            </tr>
            <tr>
                 <td style="width:50px"></td>
                 <td style="width:800px">
                    <div style="color: red;font-weight:900; margin-top:10px">@TempData["message"]</div>
                 </td>
                 <td style="width:50px"></td>
            </tr>
        </table>     
        </div>
}
        <div class="PageFooter">
<div style="margin-left:20px;margin-right:20px">
    <table>
        <tr> 
         <td style="width:500px; text-align:right"></td>                       
            <td style="width:400px; text-align:right">
                @Html.ActionLink("Back To Accounts Session List", "RefreshList", "AccountingSession")
            </td>
        </tr>
    </table>
    
</div>
</div>


<script type="text/javascript">
    $(document).ready(function () {
        //debugger;
        initializeDatepicker();
        $('#txtLockTime').timepicker({});
        $('#txtActivationTime').timepicker({});
        document.getElementById("trActivationDate").style.display = 'none';
        document.getElementById("chkIsActivation").checked = false;
        document.getElementById("YearEnd").checked = true;
        document.getElementById("DayEnd").checked = true;
//        document.getElementById("YearEnd").disabled = 'disabled';
//        document.getElementById("DayEnd").disabled = 'disabled';

    });


    function chkIsDateActivationClickEvent() {
        //        debugger;
        var chkIsDateActivation = document.getElementById("chkIsActivation");

        if (chkIsDateActivation.checked) 
        {
            document.getElementById("trActivationDate").style.display = '';           
        }
        else 
        {
            document.getElementById("trActivationDate").style.display = 'none'; 
        }
    }
</script>
