 
@model ESimSol.BusinessObjects.AccountingSession
@{
    ViewBag.Title = "Delete Accounting Session";
}

<div class="PageHeading">
           <table border="0">
                <tr>
                    
                    <td style="width:900px" class="Headline"> Delete Accounting Session</td>
                </tr>
            </table>
        </div>  
<div class="PageBody" style="overflow:auto">
        <table border="0">
            <tr>
                <td style="width:50px"></td>
                <td style="width:800px">                           
                            <fieldset>
                                <legend style="font-weight:bold"> Accounting Session Info : </legend>
                                <table border="0">
                                    <tr>
                                        <td style="width:150px; text-align:left">Session Name :</td>
                                        <td style="width:400px">
                                            <div class="editor-field">
                                                @Html.TextBoxFor(model => model.SessionName, new { style = "width: 400px;", id = "txtSessionName" })            
                                             </div>
                                        </td>
                                        <td rowspan="3" style="width:250px">
                                            <div style="border:0px coral solid; width:200px; height:100px; margin-left:50px">                                               
                                            </div>  
                                        </td>
                                    </tr>    
                                    <tr>
                                        <td style="width:150px; text-align:left">Start Date :</td>
                                        <td style="width:400px">
                                            <div style="margin-top:8px">
                                            <table border="0" cellpadding="0" cellspacing="0">
                                                <tr>                                                                                                     
                                                    <td style="width:100px; text-align:left">@Html.TextBoxFor(model => model.StartDateString, new { style = "width: 100px;", id = "txtLockTime", disabled = "disabled" }) </td>
                                                    <td style="width:100px; text-align:left"></td>  
                                                    <td style="width:100px; text-align:right">End Date :</td>
                                                    <td style="width:100px; text-align:right">@Html.TextBoxFor(model => model.EndDateTimeString, new { style = "width: 100px;", id = "txtLockTime", disabled = "disabled" }) </td>
                                                </tr>
                                            </table>
                                             </div>
                                        </td>                                        
                                    </tr>        
                                    <tr>
                                        <td style="width:150px; text-align:left"></td>
                                        <td style="width:400px">
                                            <div style="margin-top:8px">
                                            <table border="0" cellpadding="0" cellspacing="0">
                                                <tr>                                                
                                                    <td style="width:180px; text-align:left"></td>
                                                    <td style="width:120px; text-align:right">Lock Time :</td>
                                                    <td style="width:100px; text-align:right">@Html.TextBoxFor(model => model.LockDateTimeString, new { style = "width: 100px;", id = "txtLockTime", disabled = "disabled" }) </td>
                                                </tr>
                                            </table>
                                             </div>
                                        </td>                                       
                                    </tr> 
                                      
                                    <tr style="height:20px">
                                        <td style="width:150px; text-align:left"> </td>
                                        <td style="width:400px">
                                            <div style="margin-top:8px">
                                            <table border="0" cellpadding="0" cellspacing="0">
                                                <tr>                                                
                                                    <td style="width:130px; text-align:left"> </td>
                                                    <td style="width:170px; text-align:right"></td>
                                                    <td style="width:100px; text-align:right"></td>
                                                </tr>
                                            </table>
                                             </div>
                                        </td>                                       
                                    </tr>       
                                   
                                </table>
                                </fieldset>
                                 @using (Html.BeginForm()) {
                                    <input type="submit" value="Delete" />       
                                }
                    </td>
                <td style="width:50px"></td>
            </tr>
            <tr>
                 <td style="width:50px"></td>
                 <td style="width:800px">
                    <div style="color: red;font-weight:900; margin-top:10px">@TempData["message"]</div>
                 </td>
                 <td style="width:50px"></td>
            </tr>
        </table>     
        </div>

<div class="PageFooter">
<div style="margin-left:20px;margin-right:20px">
    <table>
        <tr> 
         <td style="width:500px; text-align:right"></td>                       
            <td style="width:400px; text-align:right">
                @Html.ActionLink("Back To Accounts Session List", "RefreshList", "AccountingSession")
            </td>
        </tr>
    </table>
    
</div>
</div>



<script type="text/javascript">
//    $(document).ready(function () {
//        //debugger;
//        initializeDatepicker();
//        $('#txtLockTime').timepicker({});
//        $('#txtActivationTime').timepicker({});
//        document.getElementById("trActivationDate").style.display = 'none';
//        document.getElementById("chkIsActivation").checked = false;
//    });


//    function chkIsDateActivationClickEvent() {
//        //        debugger;
//        var chkIsDateActivation = document.getElementById("chkIsActivation");

//        if (chkIsDateActivation.checked) {
//            document.getElementById("trActivationDate").style.display = '';
//        }
//        else {
//            document.getElementById("trActivationDate").style.display = 'none';
//        }
//    }
</script>
