<html>
@{
    ViewBag.Title = "Delivery Challan Registers";
}
<body>
    @model ESimSol.BusinessObjects.DUDeliveryChallanRegister
    <div id="progbarParent" style="width:100%;height:100%;margin:0 auto;text-align:center; margin-left: auto;margin-right: auto;left: 0;right: 0;z-index: 1;">
        <div style="margin: 0px auto;margin-top: 251px;text-align:center;width:390px;">
            <label style="font-size:18px;">Please wait</label>
            <div id="progbar" style="width:100%;height:37px;"></div>
        </div>
    </div>
    <div class="menuMainCollectionTable">
        <div class="easyui-panel" title="Delivery Challan Registers" style="font-family:Tahoma; text-align:center; height:88%;">
            <fieldset style="height:95%; text-align:center;">
                <legend style="font-weight:bold"> Serching Criteria   : </legend>
                <table border="0" cellspacing="2" cellpadding="2" style="font-size:11px; font-weight:bold; text-align:center; width:100%">
                    <tr>
                        <td colspan="5" style="height:20px;"></td>                        
                    </tr>
                    <tr>
                        <td style="width:15%;text-align:right"> Challan No :</td>
                        <td style="width:30%;text-align:left"> 
                            <input type="text" style="width:98%" id="txtChallanNo" />
                        </td>
                        <td style="width:5%;text-align:right"></td>
                        <td style="width:12%;text-align:right"> Challan Date :</td>
                        <td style="width:38%;text-align:right">
                            <table border="0" cellpadding="1" cellspacing="1" style="width:100%">
                                <tr>
                                    <td style="width:30%; text-align:center">
                                        <select id="cboChallanIssueDate" style="width:100%"> </select>
                                    </td>
                                    <td style="width:30%; text-align:center">
                                        <input id="txtChallanIssueDateStart" type="text" class="easyui-datebox" required="required" data-options="formatter:icsdateformat,parser:icsdateparser" style=" width:100%;" />
                                    </td>
                                    <td style="width:10%; text-align:center">to</td>
                                    <td style="width:30%; text-align:center">
                                        <input id="txtChallanIssueDateEnd" type="text" class="easyui-datebox" required="required" data-options="formatter:icsdateformat,parser:icsdateparser" style=" width:100%;" />
                                    </td>
                                </tr>
                            </table> 
                        </td>
                    </tr>
                    <tr>
                        <td style="width:15%;text-align:right"> Buyer :</td>
                        <td style="width:30%;text-align:left">
                            <table border="0" cellpadding="0" cellspacing="0" style="width:100%">
                                <tr>
                                    <td style="width:70%; text-align:left">
                                        <input type="text" style="width:98%" id="txtBuyer" placeholder="Press enter with Buyer name" />
                                    </td>
                                    <td style="width:30%; text-align:right">
                                        <input type="button" value="C" style="width:30%" id="btnClearBuyer" />
                                        <input type="button" value="Pick" style="width:65%" id="btnPickBuyer" />
                                    </td>
                                </tr>
                            </table>
                        </td>
                        <td style="width:5%;text-align:right"></td>
                        <td style="width:12%;text-align:right"> Disburse  Date:</td>
                        <td style="width:38%;text-align:right">
                            <table border="0" cellpadding="1" cellspacing="1" style="width:100%">
                                <tr>
                                    <td style="width:30%; text-align:center">
                                        <select id="cboChallanApprovedDate" style="width:100%"> </select>
                                    </td>
                                    <td style="width:30%; text-align:center">
                                        <input id="txtChallanApprovedDateStart" type="text" class="easyui-datebox" required="required" data-options="formatter:icsdateformat,parser:icsdateparser" style=" width:100%;" />
                                    </td>
                                    <td style="width:10%; text-align:center">to</td>
                                    <td style="width:30%; text-align:center">
                                        <input id="txtChallanApprovedDateEnd" type="text" class="easyui-datebox" required="required" data-options="formatter:icsdateformat,parser:icsdateparser" style=" width:100%;" />
                                    </td>
                                </tr>
                            </table>
                        </td>
                    </tr>
                    <tr>
                        <td style="width:15%;text-align:right"> Product :</td>
                        <td style="width:30%;text-align:left">
                            <table border="0" cellpadding="0" cellspacing="0" style="width:100%">
                                <tr>
                                    <td style="width:70%; text-align:left">
                                        <input type="text" style="width:98%" id="txtProduct" placeholder="Press enter with product name" />
                                    </td>
                                    <td style="width:30%; text-align:right">
                                        <input type="button" value="C" style="width:30%" id="btnClearProduct" />
                                        <input type="button" value="Pick" style="width:65%" id="btnPickProduct" />
                                    </td>
                                </tr>
                            </table>
                        </td>
                        <td style="width:5%;text-align:right"></td>
                        <td style="width:12%;text-align:right">Store:</td>
                        <td style="width:38%;text-align:right">
                           <select id="cboStores" style="width:100%"></select>
                        </td>
                    </tr>

                    <tr>
                        <td style="width:15%;text-align:right"> Disburse By :</td>
                        <td style="width:30%;text-align:left">
                            <select id="cboApproveBy" style="width:100%">  </select>
                        </td>
                        <td style="width:5%;text-align:right"></td>
                        <td style="width:12%;text-align:right"> Challan Status :</td>
                        <td style="width:38%;text-align:right">
                            <select style="width:100%" id="cboChallanStatus">
                                <option value="0">--Select--</option>
                                <option value="1">Waiting For Disburse </option>
                                <option value="2">Disburse</option>
                            </select>
                        </td>
                    </tr>
                    <tr>
                        <td style="width:15%;text-align:right"> Order Type :</td>
                        <td style="width:30%;text-align:left">
                            <select id="cboOrderType" onchange="ChangeOrderType()" style="width:60%">  </select>
                            <select id="cboClaimType" style="width:35%">  </select>
                        </td>
                        <td style="width:5%;text-align:right"></td>
                        <td style="width:12%;text-align:right"> Remarks :</td>
                        <td style="width:38%;text-align:right">
                            <input type="text" id="txtRemarks" style="width:99%"/>
                        </td>
                    </tr>
                    <tr>
                        <td style="width:15%;text-align:right">DO No :</td>
                        <td style="width:30%;text-align:left">
                            <input type="text" id="txtDONo" style="width:98%" />
                        </td>
                        <td style="width:5%;text-align:right"></td>
                        <td style="width:12%;text-align:right">P/I No :</td>
                        <td style="width:38%;text-align:right">
                            <input type="text" id="txtExportPINo" style="width:99%" />
                        </td>
                    </tr>
                    <tr>
                        <td style="width:15%;text-align:right"> Color :</td>
                        <td style="width:30%;text-align:left">
                            <table border="0" cellpadding="0" cellspacing="0" style="width:100%">
                                <tr>
                                    <td style="width:70%; text-align:left">
                                        <input type="text" style="width:98%" id="txtColor" placeholder="Press enter with Order No" />
                                    </td>
                                    <td style="width:30%; text-align:right">
                                        <input type="button" value="C" style="width:30%" id="btnClearColor" />
                                        <input type="button" value="Pick" style="width:65%" id="btnPickColor" />
                                    </td>
                                </tr>
                            </table>
                        </td>
                        <td style="width:5%;text-align:right"></td>
                        <td style="width:12%;text-align:right">Order No:</td>
                        <td style="width:38%;text-align:right">
                            <input type="text" id="txtOrderNo" placeholder="Bulk,Sample,Claim,---Order No" style="width:99%" />
                        </td>
                    </tr>
                    <tr>
                        <td style="width:15%;text-align:right"> Report Layout :</td>
                        <td style="width:30%;text-align:left">
                            <select id="cboReportLayout" style="width:100%">  </select>
                        </td>
                        <td style="width:5%;text-align:right"></td>
                        <td style="width:12%;text-align:right"></td>
                        <td style="width:38%;text-align:right">
                            @*<input type="text" id="" placeholder="" style="width:99%" />*@
                        </td>
                    </tr>

                </table>
            </fieldset>
        </div>
        <fieldset>
            <legend style="font-weight:bold"> Action : </legend>
            <table border="0" cellspacing="2" cellpadding="2" style="font-size:11px; font-weight:bold; width:100%;">
                <tr>
                    <td style="width:50%;text-align:right">
                                                 
                    </td>
                    <td style="width:50%;text-align:right">
                        <a id="btnPreview" href="javascript:void(0)" class="easyui-linkbutton" iconcls="icon-print" plain="true">Preview</a>
                        <a id="btnExportToExcel" href="javascript:void(0)" class="easyui-linkbutton" iconcls="icon-excel" plain="true">Export to Excel</a>
                        <a id="btnClose" href="javascript:void(0)" class="easyui-linkbutton" iconcls="icon-cancel" plain="true">Close</a>
                    </td>
                </tr>
            </table>
        </fieldset>
    </div>
</body>
</html>


<script type="text/javascript">
    $(document).ready(function () {
        var nBUID =@Html.Raw(new System.Web.Script.Serialization.JavaScriptSerializer().Serialize(ViewBag.BUID));
        @*var oApprovalUsers = @Html.Raw(new System.Web.Script.Serialization.JavaScriptSerializer().Serialize(ViewBag.ApprovalUsers));*@
        var oReportLayouts = @Html.Raw(new System.Web.Script.Serialization.JavaScriptSerializer().Serialize(ViewBag.ReportLayouts));
        var oCompareOperators = @Html.Raw(new System.Web.Script.Serialization.JavaScriptSerializer().Serialize(ViewBag.CompareOperators));
        var oDeliveryChallanStates = @Html.Raw(new System.Web.Script.Serialization.JavaScriptSerializer().Serialize(ViewBag.DeliveryChallanStates));
        var oOrderTypes = @Html.Raw(new System.Web.Script.Serialization.JavaScriptSerializer().Serialize(ViewBag.OrderTypes));
        var oStores = @Html.Raw(new System.Web.Script.Serialization.JavaScriptSerializer().Serialize(ViewBag.Stores));
        var oClaimOrderTypes = @Html.Raw(new System.Web.Script.Serialization.JavaScriptSerializer().Serialize(ViewBag.ClaimOrderTypes));
        debugger;

        $("#progbar").progressbar({ value: 0 });
        $("#progbarParent").hide();

        $("#cboChallanIssueDate").icsLoadCombo({ List: oCompareOperators, OptionValue: "id", DisplayText: "Value" });
        $("#cboChallanApprovedDate").icsLoadCombo({ List: oCompareOperators, OptionValue: "id", DisplayText: "Value" });
        $("#cboStores").icsLoadCombo({ List: oStores, OptionValue: "WorkingUnitID", DisplayText: "LOUName" });
        //$("#cboApproveBy").icsLoadCombo({ List: oApprovalUsers, OptionValue: "UserID", DisplayText: "UserName" });
        //var ListItems = "<option value=-1>--Select One--</option>";
        //for(var i =0;i<oDeliveryChallanStates.length;i++)
        //{
        //    ListItems+="<option value='"+oDeliveryChallanStates[i].id+"'>"+oDeliveryChallanStates[i].Value+"</option>";
        //}
        //$("#cboChallanStatus").html(ListItems);
        //$("#cboChallanStatus").val(-1);


        $("#cboOrderType").icsLoadCombo({ List: oOrderTypes, OptionValue: "OrderType", DisplayText: "OrderName" });
        $("#cboClaimType").icsLoadCombo({ List: oClaimOrderTypes, OptionValue: "id", DisplayText: "Value" });
        $("#cboReportLayout").icsLoadCombo({ List: oReportLayouts, OptionValue: "id", DisplayText: "Value" });

        $('#txtChallanIssueDateStart').datebox({ disabled : true });
        $('#txtChallanIssueDateEnd').datebox({ disabled : true });

        $('#txtChallanApprovedDateStart').datebox({ disabled : true });
        $('#txtChallanApprovedDateEnd').datebox({ disabled : true });


        $('#txtChallanIssueDateStart').datebox('setValue', icsdateformat(new Date()));
        $('#txtChallanIssueDateEnd').datebox('setValue', icsdateformat(new Date()));

        $('#txtChallanApprovedDateStart').datebox('setValue', icsdateformat(new Date()));
        $('#txtChallanApprovedDateEnd').datebox('setValue', icsdateformat(new Date()));
        ChangeOrderType();

        $('#txtBuyer').data('Buyers', []);
        $('#txtProduct').data('Products', []);
        $('#txtBankBranch').data('BankBranchs', []);
        $('#txtColor').data('Colors', []);
    });

    function ChangeOrderType()
    {
        var ncboOrderType =  $("#cboOrderType").val(); 
       
        if(ncboOrderType==5)
        {
            $("#cboClaimType").val(0)
            $("#cboClaimType").show();
           
        }
        else
        {
            $("#cboClaimType").val(0)
            $("#cboClaimType").hide();
        }
       
    }

    function ValidateSearch()
    {

        var nChallanIssueDate = parseInt($('#cboChallanIssueDate').val());
        if(nChallanIssueDate===1 || nChallanIssueDate===2 || nChallanIssueDate===3 || nChallanIssueDate===4)
        {
            var sChallanIssueDateStart   = $('#txtChallanIssueDateStart').datebox('getValue');
            if(sChallanIssueDateStart===null || sChallanIssueDateStart==="")
            {
                alert("Please select Challan start date!");
                $('#txtChallanIssueDateStart').focus();
                return false;
            }
        }
        if(nChallanIssueDate===5 || nChallanIssueDate===6)
        {
            var sChallanIssueDateStart   = $('#txtChallanIssueDateStart').datebox('getValue');
            var sChallanIssueDateEnd   = $('#txtChallanIssueDateEnd').datebox('getValue');
            if(sChallanIssueDateStart===null || sChallanIssueDateStart==="")
            {
                alert("Please select Challan start date!");
                $('#txtChallanIssueDateStart').focus();
                return false;
            }
            if(sChallanIssueDateEnd===null || sChallanIssueDateEnd==="")
            {
                alert("Please select Challan end date!");
                $('#txtChallanIssueDateEnd').focus();
                return false;
            }
            if(new Date(sChallanIssueDateStart) > new Date(sChallanIssueDateEnd))
            {
                alert("Start date must be smallar than or equal end date!");
                $('#txtChallanIssueDateStart').focus();
                return false;
            }
        }

        var nChallanApprovedDate = parseInt($('#cboChallanApprovedDate').val());
        if(nChallanApprovedDate===1 || nChallanApprovedDate===2 || nChallanApprovedDate===3 || nChallanApprovedDate===4)
        {
            var sChallanApprovedDateStart   = $('#txtChallanApprovedDateStart').datebox('getValue');
            if(sChallanApprovedDateStart===null || sChallanApprovedDateStart==="")
            {
                alert("Please select approved start date!");
                $('#txtChallanApprovedDateStart').focus();
                return false;
            }
        }
        if(nChallanApprovedDate===5 || nChallanApprovedDate===6)
        {
            var sChallanApprovedDateStart   = $('#txtChallanApprovedDateStart').datebox('getValue');
            var sChallanApprovedDateEnd   = $('#txtChallanApprovedDateEnd').datebox('getValue');
            if(sChallanApprovedDateStart===null || sChallanApprovedDateStart==="")
            {
                alert("Please select approved start date!");
                $('#txtChallanApprovedDateStart').focus();
                return false;
            }
            if(sChallanApprovedDateEnd===null || sChallanApprovedDateEnd==="")
            {
                alert("Please select approved end date!");
                $('#txtChallanApprovedDateEnd').focus();
                return false;
            }
            if(new Date(sChallanApprovedDateStart) > new Date(sChallanApprovedDateEnd))
            {
                alert("Start date must be smallar than or equal end date!");
                $('#txtChallanApprovedDateStart').focus();
                return false;
            }
        }


        var nReportLayout = parseInt($('#cboReportLayout').val());
        if(nReportLayout<=0)
        {
            alert("Please select an Report Layout!");
            return;
        }

        var sChallanNo =$.trim($('#txtChallanNo').val());
        var nApproveBy = 0;
        var nChallanStatus = parseInt($('#cboChallanStatus').val());;
        var nOrderType = parseInt($('#cboOrderType').val());
        var ncboClaimType = parseInt($('#cboClaimType').val());
        var nStore = parseInt($('#cboStores').val());
        var sRemarks =$.trim($('#txtRemarks').val());
        var sDONo =$.trim($('#txtDONo').val());
        var sExportPINo =$.trim($('#txtExportPINo').val());
        var sOrderNo =$.trim($('#txtOrderNo').val());

        var oBuyers = $('#txtBuyer').data('Buyers');
        var oProducts = $('#txtProduct').data('Products');
        var oBankBranchs= $('#txtBankBranch').data('BankBranchs');
        var oColors = $('#txtColor').data('Colors');

        if(nChallanIssueDate === 0&& nChallanApprovedDate === 0 && nStore==0 && sChallanNo === "" && nApproveBy === 0 && nChallanStatus === 0 && nOrderType === 0  && sRemarks === "" && sDONo === "" && sExportPINo === "" && sOrderNo===""   && oBuyers.length<=0 && oProducts.length<=0 && oColors.length <= 0)//&& oBankBranchs.length<=0
        {
            alert("Please select atleast one searching criteriea!");
            return false;
        }
        return true;
    }

    function RefreshObject()
    {
        var oBuyers = $('#txtBuyer').data('Buyers');
        var oProducts = $('#txtProduct').data('Products');
        var oBankBranchs= $('#txtBankBranch').data('BankBranchs');
        var oColors = $('#txtColor').data('Colors');

        var nChallanIssueDate = parseInt($('#cboChallanIssueDate').val());
        var sChallanIssueDateStart   = $('#txtChallanIssueDateStart').datebox('getValue');
        var sChallanIssueDateEnd   = $('#txtChallanIssueDateEnd').datebox('getValue');
        var nChallanApprovedDate = parseInt($('#cboChallanApprovedDate').val());
        var sChallanApprovedDateStart   = $('#txtChallanApprovedDateStart').datebox('getValue');
        var sChallanApprovedDateEnd   = $('#txtChallanApprovedDateEnd').datebox('getValue');

        var nStore = parseInt($('#cboStores').val());
        var sDONo = $.trim($('#txtDONo').val());
        var sExportPINo = $.trim($('#txtExportPINo').val());
        var sOrderNo =$.trim($('#txtOrderNo').val());
        var nStatus = parseInt($('#cboChallanStatus').val());

        var sSearchingData  =  nChallanIssueDate+'~';
        sSearchingData = sSearchingData + sChallanIssueDateStart+'~';
        sSearchingData = sSearchingData + sChallanIssueDateEnd+'~';
        sSearchingData = sSearchingData + nChallanApprovedDate+'~';
        sSearchingData = sSearchingData + sChallanApprovedDateStart+'~';
        sSearchingData = sSearchingData + sChallanApprovedDateEnd+'~';
        sSearchingData = sSearchingData + nStore +'~';
        sSearchingData = sSearchingData + sDONo +'~';
        sSearchingData = sSearchingData + sExportPINo +'~';
        sSearchingData = sSearchingData + sOrderNo +'~';
        sSearchingData = sSearchingData + nStatus ;

        var oDUDeliveryChallanRegister = {
            BUID : parseInt(sessionStorage.getItem("BUID")),
            ChallanNo : $.trim($('#txtChallanNo').val()),
            ApproveBy : parseInt($('#cboApproveBy').val()),
            OrderType : parseInt($('#cboOrderType').val()),
            ClaimOrderType: parseInt($('#cboClaimType').val()),
            WorkingUnitID:parseInt($('#cboStores').val()),
            Remarks : $.trim($('#txtRemarks').val()),
            ContractorName : ICS_PropertyConcatation(oBuyers, 'ContractorID'),
            ProductName : ICS_PropertyConcatation(oProducts, 'ProductID'),
            ColorName : ICS_PropertyConcatation(oColors, 'DODID'),
            ReportLayout : parseInt($('#cboReportLayout').val()),
            SearchingData : sSearchingData
        };
        return oDUDeliveryChallanRegister;
    }

    $('#btnPreview').click(function(e){
        debugger;
        if(!ValidateSearch()) return;
        var oDUDeliveryChallanRegister = RefreshObject();
        $.ajax({
            type: "POST",
            dataType: "json",
            url : _sBaseAddress+  "/DUDeliveryChallanRegister/SetSessionSearchCriteria",
            traditional: true,
            data:  JSON.stringify(oDUDeliveryChallanRegister),
            contentType: "application/json; charset=utf-8",
            success: function (data) {
                var sFeedBackMessage = jQuery.parseJSON(data);
                if (sFeedBackMessage==="Successful") {
                    var tsv=((new Date()).getTime())/1000;
                    window.open(_sBaseAddress+'/DUDeliveryChallanRegister/PrintDUDeliveryChallanRegister?ts='+tsv,"_blank");
                }
            },
            error: function (xhr, status, error) {
                alert(error);
            }
        });
    });


    $('#btnExportToExcel').click(function(e){
        if(!ValidateSearch()) return;
        var oDUDeliveryChallanRegister = RefreshObject();
        $.ajax({
            type: "POST",
            dataType: "json",
            url : _sBaseAddress+  "/DUDeliveryChallanRegister/SetSessionSearchCriteria",
            traditional: true,
            data:  JSON.stringify(oDUDeliveryChallanRegister),
            contentType: "application/json; charset=utf-8",
            success: function (data) {
                var sFeedBackMessage = jQuery.parseJSON(data);
                if (sFeedBackMessage==="Successful") {
                    var tsv=((new Date()).getTime())/1000;
                    window.open(_sBaseAddress+'/DUDeliveryChallanRegister/ExportToExcel_DeliveryChallanRegister?ts='+tsv,"_blank");
                }
            },
            error: function (xhr, status, error) {
                alert(error);
            }
        });
    });


    $('#cboChallanIssueDate').change(function(e){
        //EqualTo = 1, NotEqualTo = 2, GreaterThen = 3, SmallerThen = 4, Between = 5, NotBetween = 6
        var nCompareOperator =   parseInt($('#cboChallanIssueDate').val());
        if(nCompareOperator===0)
        {
            $('#txtChallanIssueDateStart').datebox({ disabled : true });
            $('#txtChallanIssueDateEnd').datebox({ disabled : true });
        }
        else if (nCompareOperator===1 || nCompareOperator===2 || nCompareOperator===3 || nCompareOperator===4)
        {
            $('#txtChallanIssueDateStart').datebox({ disabled : false });
            $('#txtChallanIssueDateEnd').datebox({ disabled : true });
        }
        else
        {
            $('#txtChallanIssueDateStart').datebox({ disabled : false });
            $('#txtChallanIssueDateEnd').datebox({ disabled : false });
        }
        $('#txtChallanIssueDateStart').datebox('setValue', icsdateformat(new Date()));
        $('#txtChallanIssueDateEnd').datebox('setValue', icsdateformat(new Date()));
    });


    $('#cboChallanApprovedDate').change(function(e){
        //EqualTo = 1, NotEqualTo = 2, GreaterThen = 3, SmallerThen = 4, Between = 5, NotBetween = 6
        var nCompareOperator =   parseInt($('#cboChallanApprovedDate').val());
        if(nCompareOperator===0)
        {
            $('#txtChallanApprovedDateStart').datebox({ disabled : true });
            $('#txtChallanApprovedDateEnd').datebox({ disabled : true });
        }
        else if (nCompareOperator===1 || nCompareOperator===2 || nCompareOperator===3 || nCompareOperator===4)
        {
            $('#txtChallanApprovedDateStart').datebox({ disabled : false });
            $('#txtChallanApprovedDateEnd').datebox({ disabled : true });
        }
        else
        {
            $('#txtChallanApprovedDateStart').datebox({ disabled : false });
            $('#txtChallanApprovedDateEnd').datebox({ disabled : false });
        }
        $('#txtChallanApprovedDateStart').datebox('setValue', icsdateformat(new Date()));
        $('#txtChallanApprovedDateEnd').datebox('setValue', icsdateformat(new Date()));
    });


    $('#btnClose').click(function (e) {
        window.location.href = window.location.href;
    });

    ///Color Pick
    function PickColor()
    {
        var oPSDetail = {
            //OrderType:0,
            OrderNo:$('#txtColor').val(),
            //LabDipDetailID:nDetailID,
            //DODID:0
        };

        var obj = {
            BaseAddress: sessionStorage.getItem("BaseAddress"),
            Object: oPSDetail,
            ControllerName: "DUPSchedule",
            ActionName: "GetsDyeingOrder",
            IsWinClose: false
        };
        $("#progbar").progressbar({ value: 0 });
        $("#progbarParent").show();
        var intervalID = setInterval(updateProgress, 250);
        $.icsDataGets(obj, function (response) {
            clearInterval(intervalID);
            $("#progbarParent").hide();
            if (response.status && response.objs.length > 0) {
                if (response.objs[0].DODID > 0) {
                    var tblColums = []; var oColumn = { field: "OrderNo", title: "OrderNo", width: 100, align: "left" };tblColums.push(oColumn);
                    oColumn = { field: "ContractorName", title: "Customer", width: 100, align: "left" };tblColums.push(oColumn);
                    oColumn = { field: "BuyerName", title: "Buyer ", width: 100, align: "left" };tblColums.push(oColumn);
                    oColumn = { field: "OrderQty", title: "Order Qty", width: 75, align: "right",formatter:formatPrice };tblColums.push(oColumn);
                    oColumn = { field: "ColorName", title: "ColorName", width: 100, align: "left" };tblColums.push(oColumn);
                    oColumn = { field: "ColorNo", title: "ColorNo", width: 80, align: "left" };tblColums.push(oColumn);
                    oColumn = { field: "LabdipNo", title: "LabdipNo", width: 100, align: "left" };tblColums.push(oColumn);
                    oColumn = { field: "OrderTypeSt", title: "OrderType", width: 100, align: "left" };tblColums.push(oColumn);
                    oColumn = { field: "Qty_PSD", title: "Schedule Qty", width: 75, align: "right",formatter:formatPrice };tblColums.push(oColumn);
                    oColumn = { field: "Qty", title: "Yet To Schedule", width: 75, align: "right" };tblColums.push(oColumn);
                    oColumn = { field: "Qty_Pro", title: "Dye Line Qty", width: 75, align: "right",formatter:formatPrice };tblColums.push(oColumn);
                    oColumn = { field: "YetToRS", title: "Yet To DL", width: 75, align: "right",formatter:formatPrice };tblColums.push(oColumn);
                    oColumn = { field: "ProductName", title: "Yarn Type", width: 225, align: "left" };tblColums.push(oColumn);
                    oColumn = { field: "ShadeSt", title: "Shade", width: 40, align: "left" };tblColums.push(oColumn);
                    oColumn = { field: "SLNo", title: "SL", width: 100, align: "left" };tblColums.push(oColumn);
                    var oPickerParam = {
                        winid: 'winColors',
                        winclass: 'clsColors',
                        winwidth: 1000,
                        winheight: 600,
                        tableid: 'tblColors',
                        tablecolumns: tblColums,
                        datalist: response.objs,
                        multiplereturn: true,
                        searchingbyfieldName: 'OrderNo',
                        windowTittle: 'Order List'
                    };
                    $.icsPicker(oPickerParam);
                    IntializePickerbutton(oPickerParam);
                }
                else { alert(response.objs[0].ErrorMessage); }
            }else{
                alert("Data Not Found.");
                return;
            }
        });
    }
    $("#txtColor").keydown(function (e) {
        var code = (e.keyCode ? e.keyCode : e.which);
        if (code == 13) // Enter Press
        {
            if($.trim($('#txtColor').val())===null || $.trim($('#txtColor').val())==="")
            {
                alert("Press enter with Color name");
                return;
            }
            PickColor();
        }
    });
    $("#btnPickColor").click(function () {
        $('#txtColor').val('');
        PickColor();
    });
    $('#txtColor').keydown(function (e) {
        var code = (e.keyCode ? e.keyCode : e.which);
        if (code == 8) //backspace=8
        {
            $("#txtColor").removeClass("fontColorOfPickItem");
            $('#txtColor').data('Colors', []);
        }
    });
    $('#btnClearColor').click(function(e){
        $("#txtColor").val("");
        $('#txtColor').data('Colors', []);
        $("#txtColor").removeClass("fontColorOfPickItem");
    });
    //End Color Picker

    ///Buyer Pick
    function PickBuyer()
    {
        var nBUID = parseInt(sessionStorage.getItem("BUID"));
        var oContractor = { Params: 2 + '~' + $.trim($('#txtBuyer').val())+'~'+ nBUID };//here 1 is Buyer
        var obj = {
            BaseAddress: sessionStorage.getItem("BaseAddress"),
            Object: oContractor,
            ControllerName: "Contractor",
            ActionName: "ContractorSearchByNameType",
            IsWinClose: false
        };
        $("#progbar").progressbar({ value: 0 });
        $("#progbarParent").show();
        var intervalID = setInterval(updateProgress, 250);
        $.icsDataGets(obj, function (response) {
            clearInterval(intervalID);
            $("#progbarParent").hide();
            if (response.status && response.objs.length > 0) {
                if (response.objs[0].ContractorID > 0) {
                    var tblColums = []; var oColumn = { field: "Name", title: "Name", width: 200, align: "left" }; tblColums.push(oColumn);
                    oColumn = { field: "Address", title: "Address", width: 120, align: "left" }; tblColums.push(oColumn);
                    oColumn = { field: "Email", title: "Email", width: 90, align: "left" }; tblColums.push(oColumn);
                    oColumn = { field: "ShortName", title: "Short Name", width: 90, align: "left" }; tblColums.push(oColumn);
                    var oPickerParam = {
                        winid: 'winBuyers',
                        winclass: 'clsBuyers',
                        winwidth: 600,
                        winheight: 460,
                        tableid: 'tblBuyers',
                        tablecolumns: tblColums,
                        datalist: response.objs,
                        multiplereturn: true,
                        searchingbyfieldName: 'Name',
                        windowTittle: 'Buyer List'
                    };
                    $.icsPicker(oPickerParam);
                    IntializePickerbutton(oPickerParam);
                }
                else { alert(response.objs[0].ErrorMessage); }
            }else{
                alert("Data Not Found.");
                return;
            }
        });
    }
    $("#txtBuyer").keydown(function (e) {
        var code = (e.keyCode ? e.keyCode : e.which);
        if (code == 13) // Enter Press
        {
            if($.trim($('#txtBuyer').val())===null || $.trim($('#txtBuyer').val())==="")
            {
                alert("Press enter with Buyer name");
                return;
            }
            PickBuyer();
        }
    });
    $("#btnPickBuyer").click(function () {
        $('#txtBuyer').val('');
        PickBuyer();
    });
    $('#txtBuyer').keydown(function (e) {
        var code = (e.keyCode ? e.keyCode : e.which);
        if (code == 8) //backspace=8
        {
            $("#txtBuyer").removeClass("fontColorOfPickItem");
            $('#txtBuyer').data('Buyers', []);
        }
    });
    $('#btnClearBuyer').click(function(e){
        $("#txtBuyer").val("");
        $('#txtBuyer').data('Buyers', []);
        $("#txtBuyer").removeClass("fontColorOfPickItem");
    });
    //End Buyer Picker

    //Product Pick
    function PickProduct()
    {
        var nBUID = parseInt(sessionStorage.getItem("BUID"));
        var oProduct = {
            BUID : nBUID,
            ProductName : $.trim($('#txtProduct').val())
        };
        var obj = {
            BaseAddress: sessionStorage.getItem("BaseAddress"),
            Object: oProduct,
            ControllerName: "Product",
            ActionName: "SearchByProductBUWise",
            IsWinClose: false
        };
        $("#progbar").progressbar({ value: 0 });
        $("#progbarParent").show();
        var intervalID = setInterval(updateProgress, 250);
        $.icsDataGets(obj, function (response) {
            clearInterval(intervalID);
            $("#progbarParent").hide();
            if (response.status && response.objs.length > 0) {
                if (response.objs[0].ProductID > 0) {
                    var tblColums = [];
                    var oColumn = { field: "ProductCode", title: "Product Code", width: 80, align: "left" }; tblColums.push(oColumn);
                    oColumn = { field: "ProductName", title: "Product Name", width: 300, align: "left" }; tblColums.push(oColumn);
                    oColumn = { field: "ShortName", title: "Short Name", width: 100, align: "left" }; tblColums.push(oColumn);
                    oColumn = { field: "ProductCategoryName", title: "Category", width: 100, align: "left" }; tblColums.push(oColumn)
                    var oPickerParam = {
                        winid: 'winProducts',
                        winclass: 'clsProducts',
                        winwidth: 600,
                        winheight: 460,
                        tableid: 'tblProducts',
                        tablecolumns: tblColums,
                        datalist: response.objs,
                        multiplereturn: true,
                        searchingbyfieldName: 'ProductName',
                        windowTittle: 'Product List'
                    };
                    $.icsPicker(oPickerParam);
                    IntializePickerbutton(oPickerParam);
                }
                else { alert(response.objs[0].ErrorMessage); }
            }else{
                alert("Data Not Found.");
                return;
            }
        });
    }
    $("#txtProduct").keydown(function (e) {
        var code = (e.keyCode ? e.keyCode : e.which);
        if (code == 13) // Enter Press
        {
            if($.trim($('#txtProduct').val())===null || $.trim($('#txtProduct').val())==="")
            {
                alert("Press enter with product name");
                return;
            }
            PickProduct();
        }
    });
    $("#btnPickProduct").click(function () {
        $('#txtProduct').val('');
        PickProduct();
    });
    $('#txtProduct').keydown(function (e) {
        var code = (e.keyCode ? e.keyCode : e.which);
        if (code == 8) //backspace=8
        {
            $("#txtProduct").removeClass("fontColorOfPickItem");
            $('#txtProduct').data('Products', []);
        }
    });
    $('#btnClearProduct').click(function(e){
        $("#txtProduct").val("");
        $('#txtProduct').data('Products', []);
        $("#txtProduct").removeClass("fontColorOfPickItem");
    });
    //End Product Picker

    //Bank Branch Pick
    function PickBankRanch()
    {
        var oBankBranch = {
            BankName : $.trim($('#txtBankBranch').val())
        };
        var obj = {
            BaseAddress: sessionStorage.getItem("BaseAddress"),
            Object: oBankBranch,
            ControllerName: "BankBranch",
            ActionName: "GetsBankBranchSearchByBankName",
            IsWinClose: false
        };
        $("#progbar").progressbar({ value: 0 });
        $("#progbarParent").show();
        var intervalID = setInterval(updateProgress, 250);
        $.icsDataGets(obj, function (response) {
            clearInterval(intervalID);
            $("#progbarParent").hide();
            if (response.status && response.objs.length > 0) {
                if (response.objs[0].BankBranchID > 0) {
                    var tblColums = [];
                    var oColumn = { field: "BranchCode", title: "Branch Code", width: 80, align: "left" }; tblColums.push(oColumn);
                    oColumn = { field: "BankName", title: "Bank Name", width: 300, align: "left" }; tblColums.push(oColumn);
                    oColumn = { field: "BranchName", title: "Branch Name", width: 200, align: "left" }; tblColums.push(oColumn);
                    var oPickerParam = {
                        winid: 'winBankBranchs',
                        winclass: 'clsBankBranchs',
                        winwidth: 600,
                        winheight: 460,
                        tableid: 'tblBankBranchs',
                        tablecolumns: tblColums,
                        datalist: response.objs,
                        multiplereturn: true,
                        searchingbyfieldName: 'BankName',
                        windowTittle: 'Bank Branch List'
                    };
                    $.icsPicker(oPickerParam);
                    IntializePickerbutton(oPickerParam);
                }
                else { alert(response.objs[0].ErrorMessage); }
            }else{
                alert("Data Not Found.");
                return;
            }
        });
    }
    $("#txtBankBranch").keydown(function (e) {
        var code = (e.keyCode ? e.keyCode : e.which);
        if (code == 13) // Enter Press
        {
            if($.trim($('#txtBankBranch').val())===null || $.trim($('#txtBankBranch').val())==="")
            {
                alert("Press enter with product name");
                return;
            }
            PickBankRanch();
        }
    });
    $("#btnPickBank").click(function () {
        $('#txtBankBranch').val('');
        PickBankRanch();
    });
    $('#txtBankBranch').keydown(function (e) {
        var code = (e.keyCode ? e.keyCode : e.which);
        if (code == 8) //backspace=8
        {
            $("#txtBankBranch").removeClass("fontColorOfPickItem");
            $('#txtBankBranch').data('BankBranchs', []);
        }
    });
    $('#btnClearBank').click(function(e){
        $("#txtBankBranch").val("");
        $('#txtBankBranch').data('BankBranchs', []);
        $("#txtBankBranch").removeClass("fontColorOfPickItem");
    });
    //End Product Picker

    function IntializePickerbutton(oPickerobj) {
        $("#" + oPickerobj.winid).find("#btnOk").click(function () {
            //for Single Select
            SetPickerValueAssign(oPickerobj);
        });
        $(document).find('.' + oPickerobj.winclass).keydown(function (e) {
            if (e.which == 13)//enter=13
            {
                SetPickerValueAssign(oPickerobj);
            }
        });
    }

    function SetPickerValueAssign(oPickerobj) {
        var oreturnObj = null, oreturnobjs = [];
        if (oPickerobj.multiplereturn) {
            oreturnobjs = $('#' + oPickerobj.tableid).datagrid('getChecked');
        } else {
            oreturnObj = $('#' + oPickerobj.tableid).datagrid('getSelected');
        }
        $("#" + oPickerobj.winid).icsWindow("close");
        $("#" + oPickerobj.winid).remove();

        if (oPickerobj.winid === 'winBuyers')
        {
            if (oreturnobjs != null && oreturnobjs.length > 0) {
                $('#txtBuyer').val(oreturnobjs.length+"'s Buyers selected");
                $('#txtBuyer').addClass('fontColorOfPickItem');
                $('#txtBuyer').data('Buyers', oreturnobjs);
                $('#txtBuyer').focus();
            }
        }
        else if (oPickerobj.winid === 'winProducts')
        {
            if (oreturnobjs != null && oreturnobjs.length > 0) {
                $('#txtProduct').val(oreturnobjs.length+"'s Products selected");
                $('#txtProduct').addClass('fontColorOfPickItem');
                $('#txtProduct').data('Products', oreturnobjs);
                $('#txtProduct').focus();
            }
        }
        else if (oPickerobj.winid === 'winBankBranchs')
        {
            if (oreturnobjs != null && oreturnobjs.length > 0) {
                $('#txtBankBranch').val(oreturnobjs.length+"'s Bank Branchs selected");
                $('#txtBankBranch').addClass('fontColorOfPickItem');
                $('#txtBankBranch').data('BankBranchs', oreturnobjs);
                $('#txtBankBranch').focus();
            }
        }
        else if (oPickerobj.winid === 'winColors')
        {
            if (oreturnobjs != null && oreturnobjs.length > 0) {
                $('#txtColor').val(oreturnobjs.length+"'s Colors selected");
                $('#txtColor').addClass('fontColorOfPickItem');
                $('#txtColor').data('Colors', oreturnobjs);
                $('#txtColor').focus();
            }
        }
    }

    function updateProgress() {
        var value =$('#progbar').progressbar('getValue');
        if (value < 96){
            value += Math.floor(Math.random() * 10);
            $('#progbar').progressbar('setValue', value);
        }
    }

    function hideShow(miliseconds) {
        $("#progbarParent").hide();
    }
</script>