
@model IEnumerable<ESimSol.BusinessObjects.FabricSalesContract>
@{
    ViewBag.Title = "Production Request";
}

<head>
<title>Production Request</title>
   
</head>
 <body>
     <div id="progressbarParent" style="width:100%;height:100%;margin:0 auto;text-align:center; margin-left: auto;margin-right: auto;left: 0;right: 0;z-index: 1;">
         <div style="margin: 0px auto;margin-top: 251px;text-align:center;width:390px;">
             <label style="font-size:18px;">Please wait</label>
             <div id="progressbar" style="width:100%;height:37px;"></div>
         </div>
     </div>


     <div class="menuMainCollectionTable">

         <table id="tblFabricSalesContracts" title="PO List" style="width:100%; height:100%" class="easyui-datagrid" fit="true" fitcolumns="false" rownumbers="true" pagination="false" singleselect="true" autorowheight="false" toolbar="#toolbarFabricSalesContract" data-options="rowStyler: function(index,row){
                                         if (row.MKTPName=='Total'){
                                            return 'color:#016B18; font-weight:bold;';
                                        }
                                    }
                    ">

             <thead>
                 <tr>
                     <th field="SCNoFull" width="12%" align="left">PO No</th>
                     <th field="SCDateSt" width="10%" align="center"> Date</th>
                     <th field="OrderTypeSt" width="10%" align="center"> Order Type</th>
                     <th field="BuyerName" width="15%" align="left">Buying House</th>
                     <th field="ContractorName" width="15%" align="left">Issue To</th>
                     <th field="MKTPName" width="20%" align="left"> Concern Person</th>
                     <th field="Qty" formatter="formatPrice" width="10%" align="right">Qty(Y)</th>
                     <th field="AmountSt" width="10%" align="right">Amount</th>
                     <th field="ApproveByName" width="15%" align="left"> Approved By</th>
                     <th field="ApprovedDateSt" width="10%" align="left"> Approved Date</th>
                     <th field="CurrentStatusSt" width="12%" align="left"> Status</th>
                     <th field="AttCount" width="8%">Attachment Count</th>
                 </tr>
             </thead>
         </table>
         <div id="toolbarFabricSalesContract">
             <input type="text" id="txtSearchbyPONo" placeholder="Type PO No and Press Enter" style="width:120px" />
             <input type="text" id="txtSearchbyFabric" placeholder="Type P Number and Press Enter" style="width:120px" />
             <label style="margin-left:10px;">Date :</label> <input id="txtSCDate" type="text" style="width: 100px;" class="easyui-datebox" required="required" data-options="formatter:icsdateformat,parser:icsdateparser" />
             <a id="btnSearchDate" href="javascript:void(0)" class="easyui-linkbutton" iconcls="icon-search" plain="true"></a>
             <a id="btnAdvSearch" href="javascript:void(0)" class="easyui-linkbutton" iconcls="icon-search" plain="true">Adv. Search</a>
             <a id="btnAdd" href="javascript:void(0)" class="easyui-linkbutton" iconcls="icon-add" plain="true">New</a>
             <a id="btnEdit" href="javascript:void(0)" class="easyui-linkbutton" iconcls="icon-edit" plain="true">Edit</a>
             <a id="btnView" href="javascript:void(0)" class="easyui-linkbutton" iconcls="icon-details" plain="true">View</a>
             <a id="btnDelete" href="javascript:void(0)" class="easyui-linkbutton" iconcls="icon-remove" plain="true">Delete</a>
             <a id="btnCheck" href="javascript:void(0)" class="easyui-linkbutton" iconcls="icon-ok" plain="true">Check</a>
             <a id="btnApprove" href="javascript:void(0)" class="easyui-linkbutton" iconcls="icon-approved" plain="true">Approve</a>
             <a id="btnAddSampleInvoice" href="javascript:void(0)" class="easyui-linkbutton" iconcls="icon-approved" plain="true">Approve(Bill)</a>
             <a id="btnRevise" href="javascript:void(0)" class="easyui-linkbutton" iconcls="icon-add" plain="true">Revise</a>

             <a id="btnCopy" href="javascript:void(0)" class="easyui-linkbutton" iconcls="icon-copy" plain="true">Copy</a>
             <a id="btnPrint" href="javascript:void(0)" class="easyui-linkbutton" iconcls="icon-print" plain="true">Preview</a>
             <a id="btnPrint_SC" href="javascript:void(0)" class="easyui-linkbutton" iconcls="icon-print" plain="true">Preview(Contract)</a>
             <a id="btnAddAttachment" href="javascript:void(0)" class="easyui-linkbutton" iconcls="icon-attachment" plain="true">Attachment</a>
             <a id="btnPrintXL" href="javascript:void(0)" class="easyui-linkbutton" iconcls="icon-excel" plain="true">ExportXL</a>
             <a id="btnCancel" href="javascript:void(0)" class="easyui-linkbutton" iconcls="icon-cancel" plain="true">Cancel</a>
             <a id="btnHold" href="javascript:void(0)" class="easyui-linkbutton" iconcls="icon-details" plain="true">Hold</a>
             <a id="btnPrint_SCLogPreview" href="javascript:void(0)" class="easyui-linkbutton" iconcls="icon-details" plain="true">Revise History</a>
             <a id="btnPrintFormat" href="javascript:void(0)" class="easyui-linkbutton" iconcls="icon-setting" plain="true">Print Format</a>
         </div>
     </div>

     <div id="winAdd" class="easyui-window" title="Production Order Log List" style="width:700px; height:350px" data-options="modal:true,closed:true,collapsible:false,minimizable:false,maximizable:false,closable:false">
         <div style="font-family:Tahoma; width:100%; height:80%;font-family:Tahoma;">
             <table border="0" id="tblFabricSalesContractDetailLogs" class="easyui-datagrid" style="width:100%;width:100%" fit="true" fitcolumns="true" rownumbers="true" pagination="false" singleselect="true" autorowheight="false">
                 <thead>
                     <tr>
                         <th field="SCNoFull" width="16%" align="left">PO No</th>
                         <th field="MKTPName" width="23%" align="left"> Concern Person</th>
                         <th field="ApprovedDateSt" width="15%" align="left"> PO Date</th>
                         <th field="Qty" formatter="formatPrice" width="12%" align="right">Qty(Y)</th>
                         <th field="AmountSt" width="16%" align="right">Amount</th>
                         <th field="ApproveByName" width="15%" align="left"> Approved By</th>
                     </tr>
                 </thead>
             </table>
         </div>
         <fieldset style="width:99%">
             <legend>Action</legend>
             <table border="0">
                 <tr>
                     <td><input id="txtUpdateRevise"  type="text" style="width:35px"/></td>
                     <td style="width:10%; "><a id="btnUpdateRevise" style="float: left" href="javascript:void(0)" class="easyui-linkbutton" iconcls="icon-ok" plain="true">Update</a></td>
                     <td style="width:75%; "><a id="btnPrintLog" style="float: right" href="javascript:void(0)" class="easyui-linkbutton" iconcls="icon-print" plain="true">Preview</a></td>
                     <td style="width:8%"><a id="btnCloseLog" href="javascript:void(0)" class="easyui-linkbutton" iconcls="icon-cancel" plain="true">Close</a></td>
                 </tr>
             </table>
         </fieldset>
     </div>

     <div id="winAdvSearch" class="easyui-window winClass" style="width:650px;height:480px" title="Adv. Search" data-options="modal:true,closed:true,collapsible:false,minimizable:false,maximizable:false,closable:false">

         <fieldset style="margin-bottom: 0px;">
             <legend>Searching Criteria</legend>
             <table style="width:100%;text-align:right;">
                 <tr>
                     <td style="width:20%;text-align:right;">
                         <label>P/I No :</label>
                     </td>
                     <td style=" width:30%;text-align:left;">
                         <input id="txtPINo" style="width:100%;" type="text" />
                     </td>
                     <td style=" width:20%;text-align:right;">
                         <label id="lblFabricAdv">Fabric No :</label>:
                     </td>
                     <td style=" width:30%;text-align:left;">
                         <input id="txtFabricID" style="width:80%;" type="text" />
                     </td>
                 </tr>

                 <tr>
                     <td style=" width:20%;text-align:right;">
                         <label>Issue To :</label>
                     </td>
                     <td colspan="3" style=" width:80%;text-align:left;">
                         <input id="txtContractorAdvS" style="width:80%;" type="text" placeholder="Type & Press Enter" />
                         <a id="btnPickContractorAdvS" href="javascript:void(0)" class="easyui-linkbutton ics-pick" iconcls="icon-pick" plain="true"></a>
                         <a id="btnClrContractorAdvS" href="javascript:void(0)" class="easyui-linkbutton ics-pick" iconcls="icon-clear" plain="true"></a>
                     </td>
                 </tr>

                 <tr>
                     <td style=" width:20%;text-align:right;">
                         <label>Buying House :</label>
                     </td>
                     <td colspan="3" style=" width:80%;text-align:left;">
                         <input id="txtDeliverTo" style="width:80%;" type="text" placeholder="Type & Press Enter" />
                         <a id="btnPickDeliverTo" href="javascript:void(0)" class="easyui-linkbutton ics-pick" iconcls="icon-pick" plain="true"></a>
                         <a id="btnClrDeliverTo" href="javascript:void(0)" class="easyui-linkbutton ics-pick" iconcls="icon-clear" plain="true"></a>
                     </td>
                 </tr>
                 <tr>
                     <td style=" width:20%;text-align:right;">
                         <label>Mkt Account:</label>
                     </td>
                     <td colspan="3" style=" width:80%;text-align:left;">
                         <input id="txtMktAccount" class="reset-text" placeholder="Search Concern Person" style="width:80%" />
                         <a id="btnPickMktAccount" href="javascript:void(0)" class="easyui-linkbutton ics-pick" iconcls="icon-pick" plain="true"></a>
                         <a id="btnResetMktPerson" href="javascript:void(0)" class="easyui-linkbutton ics-pick" iconcls="icon-clear" plain="true"></a>
                     </td>
                 </tr>
                 <tr>
                     <td style=" width:20%;text-align:right;">
                         <label>Mkt Group:</label>
                     </td>
                     <td colspan="3" style=" width:80%;text-align:left;">
                         <input id="txtMktGroup" class="reset-text" placeholder="Search Concern Person" style="width:80%" />
                         <a id="btnPickMktGroup" href="javascript:void(0)" class="easyui-linkbutton ics-pick" iconcls="icon-pick" plain="true"></a>
                         <a id="btnResetMktGroup" href="javascript:void(0)" class="easyui-linkbutton ics-pick" iconcls="icon-clear" plain="true"></a>
                     </td>
                 </tr>
                 <tr>
                     <td style=" width:20%;text-align:right;">
                         <label>PO Date:</label>
                     </td>
                     <td colspan="3" style=" width:80%;text-align:right;">
                         <table style=" width:100%;text-align:left;">
                             <tr>
                                 <td style=" width:100%;text-align:left;">
                                     <select style="width:30%;" id="cboPODate" onchange="DateActions_OPDate(); "></select>
                                     <input id="txtFromPODate" type="text" style="width: 110px;" class="easyui-datebox" required="required" data-options="formatter:icsdateformat,parser:icsdateparser" />To
                                     <input id="txtToPODate" type="text" style="width: 110px;" class="easyui-datebox" required="required" data-options="formatter:icsdateformat,parser:icsdateparser" />
                                 </td>
                             </tr>
                         </table>
                     </td>
                 </tr>
                 <tr>
                     <td style=" width:20%;text-align:right;">
                         <label>Approve Date:</label>
                     </td>
                     <td colspan="3" style=" width:80%;text-align:right;">
                         <table style=" width:100%;text-align:left;">
                             <tr>
                                 <td style=" width:100%;text-align:left;">
                                     <select style="width:30%;" id="cboApproveDate" onchange="DateActions_ApproveDate(); "></select>
                                     <input id="txtFromApproveDate" type="text" style="width: 110px;" class="easyui-datebox" required="required" data-options="formatter:icsdateformat,parser:icsdateparser" />To
                                     <input id="txtToApproveDate" type="text" style="width: 110px;" class="easyui-datebox" required="required" data-options="formatter:icsdateformat,parser:icsdateparser" />
                                 </td>
                             </tr>
                         </table>
                     </td>
                 </tr>
                 <tr>
                     <td style=" width:20%;text-align:right;">
                         <label>Production Type:</label>
                     </td>
                     <td style=" width:30%;text-align:left;">
                         <select id="cboProductionType" style="width:90%;"><option value="0">All</option><option value="1">In House</option><option value="2">Sub Contract</option></select>

                     </td>
                     <td style=" width:20%;text-align:right;">
                         <label>Print PO:</label>
                     </td>
                     <td style=" width:30%;text-align:left;">
                         <select style="width:80%;" id="cboIsPrinting">
                             <option value="0">Default</option>
                             <option value="1">Print</option>
                             <option value="2">Not Print</option>
                         </select>
                     </td>
                 </tr>
                 <tr>
                     <td style=" width:20%;text-align:right;">
                         <label>Order Type : </label>
                     </td>
                     <td colspan="3" style="width:80%;text-align:left;">
                         <div style="margin-top: 1px;">
                             <table style="width:100%; height: 150px;">
                                 <tr>
                                     <td style="width:50%;">
                                         <table id="tblOrderTypes" class="easyui-datagrid" title="" style="width:95%; height: 150px;" data-options="singleSelect: false,fitColumns:false, rownumbers:true, pagination:false, autoRowHeight:false, ">
                                             <thead>
                                                 <tr>
                                                     <th data-options="field:'Selected',checkbox:true"></th>
                                                     <th field="OrderName" width="80%"></th>
                                                 </tr>
                                             </thead>
                                         </table>
                                     </td>
                                     <td style="width:50%;">
                                         <table id="tblCurrentStatuss" class="easyui-datagrid" title="" style="width:95%; height: 150px;" data-options="singleSelect: false,fitColumns:false, rownumbers:true, pagination:false, autoRowHeight:false, ">
                                             <thead>
                                                 <tr>
                                                     <th data-options="field:'Selected',checkbox:true"></th>
                                                     <th field="Value" width="80%"></th>
                                                 </tr>
                                             </thead>
                                         </table>
                                     </td>
                                 </tr>
                             </table>
                         </div>
                     </td>
                 </tr>
             </table>
         </fieldset>

         <fieldset>
             <legend>Actions : </legend>
             <table style="width:100%;text-align:right;">
                 <tr>
                     <td style="width:20%;text-align:right;">
                         <a id="btnResetAdvSearch" href="javascript:void(0)" class="easyui-linkbutton" iconcls="icon-reload" plain="true">Reset</a>
                     </td>
                     <td style="width:80%;text-align:right;">
                         <label class="lblLoadingMessage" style="float: left;">Loading Please Wait...</label>
                         <a id="btnSearchAdvSearch" href="javascript:void(0)" class="easyui-linkbutton" iconcls="icon-search" plain="true">Search</a>
                         <a id="btnCloseAdvSearch" href="javascript:void(0)" class="easyui-linkbutton" iconcls="icon-cancel" plain="true">Close</a>
                     </td>
                 </tr>
             </table>

         </fieldset>

     </div>      
                    
     <div id="winPrintFormat2" style="width:550px;" class="easyui-window winstyle" title="Adv. Search" data-options="modal:true,closed:true,collapsible:false,minimizable:false,maximizable:false,closable:false">
         <fieldset>
             <legend>Print Setup</legend>
             <table style="width:100%;">
                 <tr>
                     <td style="text-align:right;">
                         Qty Fromat :
                     </td>
                     <td>
                         <input id="chkInLBS" type="checkbox" checked onclick="if(this.checked){IsLBSFormat(true)}else{IsLBSFormat(false)}" /> In Y
                         
                     </td>
                     <td>
                         <input id="chkInKg" type="checkbox" onclick="if(this.checked){IsLBSFormat(false)}else{IsLBSFormat(true)}" /> In M
                     </td>
                     <td style="width:30%;">
                         &nbsp;&nbsp;&nbsp;
                     </td>
                 </tr>
                 <tr>
                     <td style="text-align:right;">
                         Print Title :
                     </td>
                     <td>
                         <input id="chkPrintTitleInNormalFormat" type="checkbox" checked onclick="if(this.checked){PrintTitleFormat(1)}" /> Normal Format
                     </td>
                     <td>
                         <input id="chkPrintTitlePadFormat" type="checkbox" onclick="if(this.checked){PrintTitleFormat(2)}" /> Pad Format
                     </td>
                     <td>
                         <input id="chkPrintTitleImageFormat" type="checkbox" onclick="if(this.checked){PrintTitleFormat(3)}" /> Image Format
                     </td>

                 </tr>
             </table>
         </fieldset>
         <fieldset class="actionfieldsetstyle">
             <legend>Actions : </legend>
             <a id="btnOkPrintFormat2" href="javascript:void(0)" class="easyui-linkbutton" iconcls="icon-ok" plain="true">Ok</a>
             <a id="btnClosePrintFormat2" href="javascript:void(0)" class="easyui-linkbutton" iconcls="icon-cancel" plain="true">Close</a>
         </fieldset>
     </div>
 </body>

<style type="text/css">
  #winPrintFormat2 {width:70%;}

    .lines-no .datagrid-body td {
        border-right: 1px dotted transparent;
        border-bottom: 1px dotted transparent;
    }
</style>

<script type="text/javascript">
    var _sBaseAddress="";
    var _oFabricSalesContract=null;
    var _oFabricSalesContracts=[];
    var _oCurrencys=[];
    var _oLCTerms=[];
    var _oCompareOperators=[];
    var _oOrderTypes=[];
    var _nBUID = 0;
    var _oPaymentInstructions=[];
    var _sContractorIds="";
    var _sMAccountIds="";
    var _sMAGroupIds="";
    var _sBuyerIds="";
    var _oFabricPOStatus=[];
    var oAuthorizationRolesMapping = [];
    var oFabricPOSetup = null;
    $(document).ready(function () {
        debugger;
        _sBaseAddress =@Html.Raw( new System.Web.Script.Serialization.JavaScriptSerializer().Serialize(HttpContext.Current.Session[SessionInfo.BaseAddress]));
        _oFabricSalesContracts =@Html.Raw( new System.Web.Script.Serialization.JavaScriptSerializer().Serialize(Model));
        _oCurrencys = @Html.Raw(new System.Web.Script.Serialization.JavaScriptSerializer().Serialize(ViewBag.Currencys));
        _oLCTerms = @Html.Raw(new System.Web.Script.Serialization.JavaScriptSerializer().Serialize(ViewBag.LCTerms));
        _oCompareOperators = @Html.Raw(new System.Web.Script.Serialization.JavaScriptSerializer().Serialize(ViewBag.CompareOperators));
        _nBUID = @Html.Raw(new System.Web.Script.Serialization.JavaScriptSerializer().Serialize(ViewBag.BUID));
        _oPaymentInstructions = @Html.Raw(new System.Web.Script.Serialization.JavaScriptSerializer().Serialize(ViewBag.PaymentInstructions));
        oAuthorizationRolesMapping = @Html.Raw(new System.Web.Script.Serialization.JavaScriptSerializer().Serialize(HttpContext.Current.Session[SessionInfo.AuthorizationRolesMapping]));
        _oOrderTypes = @Html.Raw(new System.Web.Script.Serialization.JavaScriptSerializer().Serialize(ViewBag.OrderTypes));
        _oFabricPOStatus = @Html.Raw(new System.Web.Script.Serialization.JavaScriptSerializer().Serialize(ViewBag.FabricPOStatus));
        oFabricPOSetup = @Html.Raw(new System.Web.Script.Serialization.JavaScriptSerializer().Serialize(ViewBag.FabricPOSetup));
        // DynamicRefreshList([], 'tblFabricSalesContracts');
        RefreshSetup(oFabricPOSetup);
        if(sessionStorage.getItem("FabricSalesContracts")!=null && sessionStorage.getItem("FabricSalesContracts").length>0)
        {
            _oFabricSalesContracts= jQuery.parseJSON(sessionStorage.getItem('FabricSalesContracts'));
            var nIndex= sessionStorage.getItem('SelectedRowIndex');
            DynamicRefreshList(_oFabricSalesContracts, 'tblFabricSalesContracts');

            if(nIndex>-1)
            {
                $('#tblFabricSalesContracts').datagrid('selectRow',nIndex);
                //   RowSelect(nIndex, _oFabricSalesContracts[nIndex]);
            }
          //  RefreshSummary();
        }
        else
        {
            DynamicRefreshList(_oFabricSalesContracts, 'tblFabricSalesContracts');
          //  RefreshSummary();
        }
        $("#progressbar").progressbar({ value: 0 });
        $("#progressbarParent").hide(); 
        RefreshControlLayout(oAuthorizationRolesMapping, oFabricPOSetup);
        $("#txtSCDate").datebox("setValue", icsdateformat(new Date()));
        sessionStorage.setItem("ParamsP", "");
        sessionStorage.setItem("QtyFormat",true);//default set
        sessionStorage.setItem("ImageFormat",1);//default set
        $('#txtUpdateRevise').icsCurrencyBox(null, null, 0);
    });

    function RefreshSetup(oFabricPOSetup)
    {
        $('#lblFabricAdv').html(oFabricPOSetup.FabricCode);
        $("#txtSearchbyFabric").attr("placeholder","Type "+oFabricPOSetup.NoCode+" Number & Press Enter");
    }
    function RefreshControlLayout(oAuthorizationRolesMapping, oFabricPOSetup)
    {
            $("#tblFabricSalesContracts").datagrid("hideColumn", "AmountSt");
            $("#btnPrint_SC").hide();
            $("#btnAdd,#btnEdit,#btnView,#btnDelete,#btnApprove,#btnCheck").hide();
            $("#btnUpdateRevise").hide();$("#txtUpdateRevise").hide();

            if (PermissionChecker('Add', 'FabricPO',oAuthorizationRolesMapping)) {$("#btnAdd").show();}
            if (PermissionChecker('Edit', 'FabricPO',oAuthorizationRolesMapping)) {$("#btnEdit").show();}
            if (PermissionChecker('View', 'FabricPO',oAuthorizationRolesMapping)) {$("#btnView").show();}
            if (PermissionChecker('Delete', 'FabricPO',oAuthorizationRolesMapping)) {$("#btnDelete").show();}
            if (PermissionChecker('Approved', 'FabricPO',oAuthorizationRolesMapping)) {$("#btnApprove").show();}
            if (PermissionChecker('Verify', 'FabricPO',oAuthorizationRolesMapping)) {
                if(oFabricPOSetup.IsNeedCheckBy)
                    $("#btnCheck").show();
            }
            if (PermissionChecker('Revise', 'FabricPO',oAuthorizationRolesMapping)) {$("#btnRevise").show();}
            if (PermissionChecker('RateView', 'FabricPO',oAuthorizationRolesMapping)) 
            {
                $("#tblFabricSalesContracts").datagrid("showColumn", "AmountSt");
                $("#btnPrint_SC").show();
            }
            if (PermissionChecker('ExtremeEdit', 'FabricPO',oAuthorizationRolesMapping)) 
            {
                $("#btnUpdateRevise").show();
                $("#txtUpdateRevise").show();
            }
            
    }

    $(document).keydown(function (e) { if (e.keyCode == 27) { $('div').icsWindow('close'); } });
    $('#tblFabricSalesContracts').datagrid({ onSelect: function (rowIndex, rowData) { OperationPerforms(rowIndex, rowData); } });

    function OperationPerforms(rowIndex, rowData)
    {
        debugger
        if (rowData != null && rowData.FabricSalesContractID > 0)
        {
            if (rowData.CurrentStatusInt<=1 )  //Initialized = 1,
            {
                $('#btnEdit,#btnDelete').show();
                $('#btnRevise').hide();
            }
            if (rowData.CurrentStatusInt>1 )  //Initialized = 1,
            {
                $('#btnEdit,#btnDelete').hide();
                $('#btnRevise').show();
            }
            //RefreshControlLayout();
        }
    }


    $("#btnAdd").click(function () {
        var oFabricSalesContracts= $('#tblFabricSalesContracts').datagrid('getRows');
        sessionStorage.setItem("FabricSalesContracts", JSON.stringify(oFabricSalesContracts));
        sessionStorage.setItem("Operation", "New");
        sessionStorage.setItem("SelectedRowIndex", -1);
        sessionStorage.setItem("FabricSalesContractHeader", "Add Production Request");
        sessionStorage.setItem("BUID", _nBUID);
        sessionStorage.setItem("BackLink", window.location.href);
        window.location.href = _sBaseAddress+ "/FabricSalesContract/ViewFabricSalesContract?id=0&buid="+_nBUID;
    });

    $("#btnEdit").click(function () {
        var oFabricSalesContract = $("#tblFabricSalesContracts").datagrid("getSelected");
        if (oFabricSalesContract == null || parseInt(oFabricSalesContract.FabricSalesContractID) <= 0) { alert("Please select an item from list!"); return; }
        var oFabricSalesContracts= $('#tblFabricSalesContracts').datagrid('getRows');
        sessionStorage.setItem("Operation", "Edit");
        sessionStorage.setItem("FabricSalesContracts", JSON.stringify(oFabricSalesContracts));
        var SelectedRowIndex=$('#tblFabricSalesContracts').datagrid('getRowIndex',oFabricSalesContract);
        sessionStorage.setItem("SelectedRowIndex", SelectedRowIndex);
        sessionStorage.setItem("FabricSalesContractHeader", "Edit Production Request");
        sessionStorage.setItem("BUID", _nBUID);
        sessionStorage.setItem("BackLink", window.location.href);
        window.location.href = _sBaseAddress+ "/FabricSalesContract/ViewFabricSalesContract?id="+parseInt(oFabricSalesContract.FabricSalesContractID)+"&buid="+_nBUID;


    });

    $("#btnView").click(function () {
        var oFabricSalesContract = $("#tblFabricSalesContracts").datagrid("getSelected");
        if (oFabricSalesContract == null || oFabricSalesContract.FabricSalesContractID <= 0) { alert("Please select an item from list!"); return; }
        var oFabricSalesContracts= $('#tblFabricSalesContracts').datagrid('getRows');
        sessionStorage.setItem("FabricSalesContracts", JSON.stringify(oFabricSalesContracts));
        var SelectedRowIndex=$('#tblFabricSalesContracts').datagrid('getRowIndex',oFabricSalesContract);
        sessionStorage.setItem("Operation", "View");
        sessionStorage.setItem("SelectedRowIndex", SelectedRowIndex);
        sessionStorage.setItem("FabricSalesContractHeader", "View Production Request");
        sessionStorage.setItem("BUID", _nBUID);
        sessionStorage.setItem("BackLink", window.location.href);
        window.location.href = _sBaseAddress+ "/FabricSalesContract/ViewFabricSalesContract?id="+parseInt(oFabricSalesContract.FabricSalesContractID)+"&buid="+_nBUID;
    });
    
    $("#btnHold").click(function () {
        var oFabricSalesContract = $("#tblFabricSalesContracts").datagrid("getSelected");
        if (oFabricSalesContract == null || oFabricSalesContract.FabricSalesContractID <= 0) { alert("Please select an item from list!"); return; }
        var oFabricSalesContracts= $('#tblFabricSalesContracts').datagrid('getRows');
        sessionStorage.setItem("FabricSalesContracts", JSON.stringify(oFabricSalesContracts));
        var SelectedRowIndex=$('#tblFabricSalesContracts').datagrid('getRowIndex',oFabricSalesContract);
        sessionStorage.setItem("Operation", "Hold");
        sessionStorage.setItem("SelectedRowIndex", SelectedRowIndex);
        sessionStorage.setItem("FabricSalesContractHeader", "View Hold");
        sessionStorage.setItem("BUID", _nBUID);
        sessionStorage.setItem("BackLink", window.location.href);
        window.location.href = _sBaseAddress+ "/FabricSalesContract/ViewFabricSalesContract?id="+parseInt(oFabricSalesContract.FabricSalesContractID)+"&buid="+_nBUID;
    });

    $("#btnCheck").click(function () {
        var oFabricSalesContract = $("#tblFabricSalesContracts").datagrid("getSelected");
        if (oFabricSalesContract == null || oFabricSalesContract.FabricSalesContractID <= 0) { alert("Please select an item from list!"); return; }
        if (oFabricSalesContract.CurrentStatus != 1) { alert("Please select only initialize item from list!"); return; }
        var oFabricSalesContracts= $('#tblFabricSalesContracts').datagrid('getRows');
        sessionStorage.setItem("Operation", "Check");
        sessionStorage.setItem("FabricSalesContracts", JSON.stringify(oFabricSalesContracts));
        var SelectedRowIndex=$('#tblFabricSalesContracts').datagrid('getRowIndex',oFabricSalesContract);
        sessionStorage.setItem("SelectedRowIndex", SelectedRowIndex);
        sessionStorage.setItem("FabricSalesContractHeader", "Check Production Request");
        sessionStorage.setItem("BUID", _nBUID);
        sessionStorage.setItem("BackLink", window.location.href);
        window.location.href = _sBaseAddress+ "/FabricSalesContract/ViewFabricSalesContract?id="+parseInt(oFabricSalesContract.FabricSalesContractID)+"&buid="+_nBUID;
    });

    $("#btnApprove").click(function () {
        var oFabricSalesContract = $("#tblFabricSalesContracts").datagrid("getSelected");
        if (oFabricSalesContract == null || oFabricSalesContract.FabricSalesContractID <= 0) { alert("Please select an item from list!"); return; }

        if(oFabricPOSetup.IsNeedCheckBy){
            if (oFabricSalesContract.CheckedBy == 0) { alert("Please select only Request For Approved item from list!"); return; }
        }

        var oFabricSalesContracts= $('#tblFabricSalesContracts').datagrid('getRows');
        sessionStorage.setItem("Operation", "Approve");
        sessionStorage.setItem("FabricSalesContracts", JSON.stringify(oFabricSalesContracts));
        var SelectedRowIndex=$('#tblFabricSalesContracts').datagrid('getRowIndex',oFabricSalesContract);
        sessionStorage.setItem("SelectedRowIndex", SelectedRowIndex);
        sessionStorage.setItem("FabricSalesContractHeader", "Approve Production Request");
        sessionStorage.setItem("BUID", _nBUID);
        sessionStorage.setItem("BackLink", window.location.href);
        window.location.href = _sBaseAddress+ "/FabricSalesContract/ViewFabricSalesContract?id="+parseInt(oFabricSalesContract.FabricSalesContractID)+"&buid="+_nBUID;
    });
    $("#btnRevise").click(function () {
        var oFabricSalesContract = $("#tblFabricSalesContracts").datagrid("getSelected");
        if (oFabricSalesContract == null || oFabricSalesContract.FabricSalesContractID <= 0) { alert("Please select an item from list!"); return; }
        var oFabricSalesContracts= $('#tblFabricSalesContracts').datagrid('getRows');
        sessionStorage.setItem("Operation", "Revise");
        sessionStorage.setItem("FabricSalesContracts", JSON.stringify(oFabricSalesContracts));
        var SelectedRowIndex=$('#tblFabricSalesContracts').datagrid('getRowIndex',oFabricSalesContract);
        sessionStorage.setItem("SelectedRowIndex", SelectedRowIndex);
        sessionStorage.setItem("FabricSalesContractHeader", "Revise Production Request");
        sessionStorage.setItem("BUID", _nBUID);
        sessionStorage.setItem("BackLink", window.location.href);
        window.location.href = _sBaseAddress+ "/FabricSalesContract/ViewFabricSalesContract?id="+parseInt(oFabricSalesContract.FabricSalesContractID)+"&buid="+_nBUID;
    });
    $("#btnCopy").click(function () {
        var oFabricSalesContract = $("#tblFabricSalesContracts").datagrid("getSelected");
        if (oFabricSalesContract == null || parseInt(oFabricSalesContract.FabricSalesContractID) <= 0) { alert("Please select an item from list!"); return; }
        var oFabricSalesContracts= $('#tblFabricSalesContracts').datagrid('getRows');
        sessionStorage.setItem("Operation", "Copy");
        sessionStorage.setItem("FabricSalesContracts", JSON.stringify(oFabricSalesContracts));
        var SelectedRowIndex=$('#tblFabricSalesContracts').datagrid('getRowIndex',oFabricSalesContract);
        sessionStorage.setItem("SelectedRowIndex", -1);
        sessionStorage.setItem("FabricSalesContractHeader", "Copy Production Request");
        sessionStorage.setItem("BUID", _nBUID);
        sessionStorage.setItem("BackLink", window.location.href);
        window.location.href = _sBaseAddress+ "/FabricSalesContract/ViewFabricSalesContract?id="+parseInt(oFabricSalesContract.FabricSalesContractID)+"&buid="+_nBUID;


    });
    $("#btnCancel").click(function(){

        var oFabricSalesContract = $("#tblFabricSalesContracts").datagrid("getSelected");
        if (oFabricSalesContract == null || oFabricSalesContract.FabricSalesContractID <= 0) { alert("Please select an item from list!"); return; }
        var oFabricSalesContracts= $('#tblFabricSalesContracts').datagrid('getRows');
        sessionStorage.setItem("Operation", "Cancel");
        sessionStorage.setItem("FabricSalesContracts", JSON.stringify(oFabricSalesContracts));
        var SelectedRowIndex=$('#tblFabricSalesContracts').datagrid('getRowIndex',oFabricSalesContract);
        sessionStorage.setItem("SelectedRowIndex", SelectedRowIndex);
        sessionStorage.setItem("FabricSalesContractHeader", "Cancel Production Request");
        sessionStorage.setItem("BUID", _nBUID);
        sessionStorage.setItem("BackLink", window.location.href);
        window.location.href = _sBaseAddress+ "/FabricSalesContract/ViewFabricSalesContract?id="+parseInt(oFabricSalesContract.FabricSalesContractID)+"&buid="+_nBUID;
    
    });
 

    $("#btnDelete").click(function () {

        var oFabricSalesContract = $("#tblFabricSalesContracts").datagrid("getSelected");
        if (oFabricSalesContract == null || oFabricSalesContract.FabricSalesContractID <= 0) {
            alert("Invalid Field!!! please select a valid Field!");
            return false;
        }

        if (!confirm("Confirm to Delete?")) return false;
        var obj =
        {
            BaseAddress: _sBaseAddress,
            Object: oFabricSalesContract,
            ObjectId: oFabricSalesContract.FabricSalesContractID,
            ControllerName: "FabricSalesContract",
            ActionName: "DeleteFabricSalesContract",
            TableId: "tblFabricSalesContracts",
            IsWinClose: true
        };
        $.icsDelete(obj);
    });

    /// Search By No and Date
    $('#txtSearchbyPONo').keypress(function (e) {

        var code = (e.keyCode ? e.keyCode : e.which);
        if (code == 13)//Enter key-13
        {
            if ($.trim($("#txtSearchbyPONo").val()) == "")
            {
                alert("Please give PO No.");
                return false;
            }

            var oFabricSalesContract =
            {
                FabricSalesContractID: 0,
                BUID:_nBUID,
                SCNo: $.trim($("#txtSearchbyPONo").val())
            };
            Gets_bySCNo(oFabricSalesContract);
        }

    });
    $('#txtSearchbyFabric').keypress(function (e) {

        var code = (e.keyCode ? e.keyCode : e.which);
        if (code == 13)//Enter key-13
        {
            if ($.trim($("#txtSearchbyFabric").val()) == "")
            {
                alert("Please give Fabric ID No.");
                return false;
            }

            var oFabricSalesContract =
            {
                FabricSalesContractID: 0,
                BUID:_nBUID,
                Params: $.trim($("#txtSearchbyFabric").val())
            };
            Gets_bySCNo(oFabricSalesContract);
        }

    });
    $("#btnSearchDate").click(function () {

        var oFabricSalesContract =
          {
              FabricSalesContractID: 0,
              PaymentTypeInt:1,
              BUID:_nBUID,
              SCDate: $('#txtSCDate').datebox('getValue')
          };
        Gets_bySCNo(oFabricSalesContract);


    });
    function Gets_bySCNo(oFabricSalesContract) {
        var obj =
        {
            BaseAddress: _sBaseAddress,
            Object: oFabricSalesContract,
            ControllerName: "FabricSalesContract",
            ActionName: "GetbySCNoMKT",
            IsWinClose: false
        };
        $.icsDataGets(obj, function (response) {
            if (response.status && response.objs.length > 0) 
            {
                if (response.objs.length > 0) {
                    DynamicRefreshList(response.objs, "tblFabricSalesContracts");
                }
                else {
                    DynamicRefreshList([], "tblFabricSalesContracts");
                }
                RefreshSummary();
            } else {
                DynamicRefreshList([], "tblFabricSalesContracts");
            }
        });
    }

    /// End Search
    $('#btnPrint').click(function (e)
    {
        var oFabricSalesContract = $("#tblFabricSalesContracts").datagrid("getSelected");
        if (oFabricSalesContract == null || oFabricSalesContract.FabricSalesContractID <= 0) {
            alert("Invalid Field!!! please select a valid Field!");
            return false;
        }
        var tsv=((new Date()).getTime())/1000;
        window.open(_sBaseAddress+ "/FabricSalesContract/PrintPreview?nID="+oFabricSalesContract.FabricSalesContractID+"&bIsRnd=false&nts="+tsv+"&bPrintFormat="+sessionStorage.getItem("QtyFormat") + "&nTitleTypeInImg="+sessionStorage.getItem("ImageFormat"), "_blank");

    });
    $('#btnPrint_SC').click(function (e)
    {
        var oFabricSalesContract = $("#tblFabricSalesContracts").datagrid("getSelected");
        if (oFabricSalesContract == null || oFabricSalesContract.FabricSalesContractID <= 0) {
            alert("Invalid Field!!! please select a valid Field!");
            return false;
        }
        var tsv=((new Date()).getTime())/1000;
        window.open(_sBaseAddress+ "/FabricSalesContract/PrintPreviewSC?nID="+oFabricSalesContract.FabricSalesContractID+"&nts="+tsv, "_blank");

    });


    ////Start adv Searching

    function updateProgress() {
        var value =$('#progressbar').progressbar('getValue');
        if (value < 96){
            value += Math.floor(Math.random() * 10);
            $('#progressbar').progressbar('setValue', value);
        }
    }
    function hideShow(miliseconds) {
        $("#progressbarParent").hide();
    }
    //Account Of Picker

    $("#txtContractorAdvS").keydown(function (e) {
        if (e.keyCode === 13) // Enter Press
        {
            PickContractors_AdvS();
        }
        else if (e.keyCode === 08) {
            $("#txtContractorAdvS").removeClass("fontColorOfPickItem");
            _sContractorIds = '';
        }
    });

    $("#btnClrContractorAdvS").click(function () {
        $("#txtContractorAdvS").removeClass("fontColorOfPickItem");
        $("#txtContractorAdvS").val("");
        _sContractorIds = '';
    });

    $("#btnPickContractorAdvS").click(function () {
        PickContractors_AdvS();
    });
    function PickContractors_AdvS() {
        var oContractor = {
            Params: '2,3' + '~' + $.trim($("#txtContractorAdvS").val()+"~"+_nBUID)
        };
        var obj = {
            BaseAddress: _sBaseAddress,
            Object: oContractor,
            ControllerName: "Contractor",
            ActionName: "ContractorSearchByNameType",
            IsWinClose: false
        };

        $("#progressbar").progressbar({ value: 0 });
        $("#progressbarParent").show();
        var intervalID = setInterval(updateProgress, 250);

        DynamicRefreshList([], "tblAccountsPickerAdvSearch");
        $.icsDataGets(obj, function (response) {
            clearInterval(intervalID);
            $("#progressbarParent").hide();
            if (response.status && response.objs.length > 0) {
                if (response.objs[0].ContractorID > 0) {
                    var tblColums = []; var oColumn = { field: "ContractorID", title: "Code", width: 50, align: "left" }; tblColums.push(oColumn);
                    oColumn = { field: "Name", title: "Name", width: 280, align: "left" }; tblColums.push(oColumn);

                    var oPickerParam = {
                        winid: 'winContractorPicker',
                        winclass: 'clsAccountOf',
                        winwidth: 400,
                        winheight: 460,
                        tableid: 'tblAccountOfs',
                        tablecolumns: tblColums,
                        datalist: response.objs,
                        multiplereturn: true,
                        searchingbyfieldName: 'Name',
                        windowTittle: 'Contactor List'
                    };
                    $.icsPicker(oPickerParam);
                    IntializePickerbutton(oPickerParam);
                }
                else {
                    alert(response.objs[0].ErrorMessage);
                }
            }
            else {
                alert("Sorry, No Contactor Found.");
            }
        });
    }
    //End Account Of Picker
    $("#btnClrDeliverTo").click(function () {
        $("#txtDeliverTo").val("");
        _sBuyerIds="";
    });

    $("#btnPickDeliverTo").click(function () {

        var oContractor = {
            Params: '2,3' + '~' + $.trim($("#txtDeliverTo").val()+'~'+_nBUID)
        };
        GetDeliverTo(oContractor);
    });

    $("#txtDeliverTo").keydown(function (e) {
        var nkeyCode = e.keyCode || e.which;
        if(nkeyCode==13){
            var sContractorName=$.trim($("#txtDeliverTo").val());
            if(sContractorName=="" || sContractorName==null)
            {
                alert("Please, Type name or part of Name");
                $("#txtDeliverTo").focus();
                $("#txtDeliverTo").addClass("errorFieldBorder");
                return;
            }
            var oContractor = {
                Params: '2,3' + '~' + $.trim($("#txtDeliverTo").val()+'~'+_nBUID)
            };
            GetDeliverTo(oContractor);
        }
        else if(nkeyCode==8){
            $("#txtDeliverTo").val("");
            _sBuyerIds="";

        }
    });
   
    function GetDeliverTo(oContractor){
        var obj = {
            BaseAddress: _sBaseAddress,
            Object: oContractor,
            ControllerName: "Contractor",
            ActionName: "ContractorSearchByNameType",
            IsWinClose: false
        };
        $("#progressbar").progressbar({ value: 0 });
        $("#progressbarParent").show();
        var intervalID = setInterval(updateProgress, 250);
        $.icsDataGets(obj, function (response) {
            clearInterval(intervalID);
            $("#progressbarParent").hide();
            if (response.status && response.objs.length > 0)
            {
                if (response.objs[0].ContractorID > 0) {
                    debugger;
                    var tblColums = [];
                    var oColumn = { field: "ContractorID", title: "Code", width: 50, align: "center" };tblColums.push(oColumn);
                    oColumn = { field: "Name", title: "Name", width: 190, align: "left" };tblColums.push(oColumn);
                    oColumn = { field: "Phone", title: "Phone", width: 140, align: "left" };tblColums.push(oColumn);

                    var oPickerParam = {
                        winid: 'winDeliverToPicker',
                        winclass:'clsDeliverToPicker',
                        winwidth: 460,
                        winheight: 460,
                        tableid: 'tblDeliverToPicker',
                        tablecolumns: tblColums,
                        datalist: response.objs,
                        multiplereturn: true,
                        searchingbyfieldName:'Name',
                        windowTittle: 'Deliver To List'
                    };
                    $.icsPicker(oPickerParam);
                    IntializePickerbutton(oPickerParam);//multiplereturn, winclassName
                }
                else { alert(response.objs[0].ErrorMessage); }
            }
            else{
                alert("No contractor found.");
            }
        });
    }
    $("#btnResetMktPerson").click(function () {

        $("#txtMktAccount").val("");
        _sMAccountIds="";
    });
    $("#btnPickMktAccount").click(function () {
        debugger;
        var sName=$.trim($("#txtMktAccount").val());
        GetMktPersons(sName);
    });
    $("#txtMktAccount").keydown(function (e) {
        var nkeyCode = e.keyCode || e.which;
        if(nkeyCode==13){
            var sName=$.trim($("#txtMktAccount").val());
            if($('#txtMktAccount').val()==null || $('#txtMktAccount').val()=="")
            {
                alert("Please Type Name or part Name and Press Enter.");
                $('#txtMktAccount').focus();
                return;
            }
            GetMktPersons(sName);
        }
        else if(nkeyCode==8){
            $("#txtMktAccount").val("");
            _sMAccountIds="";
        }
    });
    function GetMktPersons(sName){

        var oMarketingAccount_BU = {
            Name:sName,
            BUID:sessionStorage.getItem("BUID")
        };
        var obj = {
            BaseAddress: _sBaseAddress,
            Object: oMarketingAccount_BU,
            ControllerName: "MarketingAccount",
            ActionName: "MarketingAccountSearchByNameAndGroup",
            IsWinClose: false
        };

        $.icsDataGets(obj, function (response) {

            if (response.status && response.objs.length > 0) {
                if (response.objs[0].MarketingAccountID > 0) {
                    debugger;
                    var tblColums = [];
                    var oColumn = { field: "MarketingAccountID", title: "Code", width: 50, align: "left" };tblColums.push(oColumn);
                    oColumn = { field: "Name", title: "Name", width: 180, align: "left" };tblColums.push(oColumn);
                    oColumn = { field: "GroupName", title: "GroupName", width: 120, align: "left" };tblColums.push(oColumn);
                    oColumn = { field: "Phone", title: "Phone", width: 100, align: "left" };tblColums.push(oColumn);

                    var oPickerParam = {
                        winid: 'winMktAccount',
                        winclass:'clsMktPersonPicker',
                        winwidth: 460,
                        winheight: 460,
                        tableid: 'tblMktPersonPicker',
                        tablecolumns: tblColums,
                        datalist: response.objs,
                        multiplereturn: true,
                        searchingbyfieldName:'Name',
                        windowTittle: 'MKT Person List'
                    };
                    $.icsPicker(oPickerParam);
                    IntializePickerbutton(oPickerParam);//multiplereturn, winclassName
                }
                else { alert(response.objs[0].ErrorMessage); }
            }
            else{
                alert("No marketing person found.");
            }
        });
    }
    //End Pick Mkt
    // Mkt Group
    $("#btnResetMktGroup").click(function () {

        $("#txtMktGroup").val("");
        _sMAGroupIds="";
    });
    $("#btnPickMktGroup").click(function () {
        debugger;
        var sName=$.trim($("#txtMktGroup").val());
        GetMktGroups(sName);
    });
    $("#txtMktGroup").keydown(function (e) {
        var nkeyCode = e.keyCode || e.which;
        if(nkeyCode==13){
            var sName=$.trim($("#txtMktGroup").val());
            if($('#txtMktGroup').val()==null || $('#txtMktGroup').val()=="")
            {
                alert("Please Type Name or part Name and Press Enter.");
                $('#txtMktGroup').focus();
                return;
            }
            GetMktGroups(sName);
        }
        else if(nkeyCode==8){
            $("#txtMktGroup").val("");
            _sMAGroupIds="";
        }
    });
    function GetMktGroups(sName){

        var oMarketingAccount_BU = {
            Name:sName,
            BUID:sessionStorage.getItem("BUID")
        };
        var obj = {
            BaseAddress: _sBaseAddress,
            Object: oMarketingAccount_BU,
            ControllerName: "MarketingAccount",
            ActionName: "GetsAllGroup",
            IsWinClose: false
        };

        $.icsDataGets(obj, function (response) {

            if (response.status && response.objs.length > 0) {
                if (response.objs[0].MarketingAccountID > 0) {
                    debugger;
                    var tblColums = [];
                    var oColumn = { field: "MarketingAccountID", title: "Code", width: 50, align: "left" };tblColums.push(oColumn);
                    oColumn = { field: "Name", title: "Name", width: 180, align: "left" };tblColums.push(oColumn);
                    oColumn = { field: "GroupName", title: "GroupName", width: 120, align: "left" };tblColums.push(oColumn);
                    oColumn = { field: "Phone", title: "Phone", width: 100, align: "left" };tblColums.push(oColumn);

                    var oPickerParam = {
                        winid: 'winMktGroup',
                        winclass:'clsMktGroupPicker',
                        winwidth: 460,
                        winheight: 460,
                        tableid: 'tblMktGroupicker',
                        tablecolumns: tblColums,
                        datalist: response.objs,
                        multiplereturn: true,
                        searchingbyfieldName:'Name',
                        windowTittle: 'MKT Group List'
                    };
                    $.icsPicker(oPickerParam);
                    IntializePickerbutton(oPickerParam);//multiplereturn, winclassName
                }
                else { alert(response.objs[0].ErrorMessage); }
            }
            else{
                alert("No marketing person found.");
            }
        });
    }

    // Mkt Group

    function IntializePickerbutton(oPickerobj) {
        $("#" + oPickerobj.winid).find("#btnOk").click(function () {
            SetPickerValueAssign(oPickerobj);
        });
        $(document).find('.' + oPickerobj.winclass).keydown(function (e) {
            if (e.which === 13) {
                SetPickerValueAssign(oPickerobj);
            }
        });
    }
    function SetPickerValueAssign(oPickerobj) {
        var oreturnObj = null, oreturnObjs = [];
        if (oPickerobj.multiplereturn) {
            oreturnObjs = $('#' + oPickerobj.tableid).datagrid('getChecked');
        } else {
            oreturnObj = $('#' + oPickerobj.tableid).datagrid('getSelected');
        }

        if (oPickerobj.winid == 'winContractorPicker')
        {
            if (oreturnObjs != null && oreturnObjs.length> 0)
            {

                _sContractorIds=''; var sMessage='';
                sMessage=(oreturnObjs.length>1)? oreturnObjs.length +" Contractors Selected" : oreturnObjs[0].Name;
                $('#txtContractorAdvS').val(sMessage);
                $("#txtContractorAdvS").addClass("fontColorOfPickItem");

                for(var i=0;i<oreturnObjs.length;i++){
                    _sContractorIds=_sContractorIds+oreturnObjs[i].ContractorID+',';
                }
                _sContractorIds=_sContractorIds.substring(0,_sContractorIds.length-1);

            }
            else
            {
                alert("Please select a contractor.");
                return false;
            }
        }

        else if (oPickerobj.winid == 'winDeliverToPicker') 
        {
            if (oreturnObjs != null && oreturnObjs.length> 0)
            {
                var sMessage='';
                _sBuyerIds="";
                sMessage=(oreturnObjs.length>1)? oreturnObjs.length +" Buying House(s) Selected" : oreturnObjs[0].Name;
                $('#txtDeliverTo').val(sMessage);
                $("#txtDeliverTo").addClass("fontColorOfPickItem");

                for(var i=0;i<oreturnObjs.length;i++){
                    _sBuyerIds=_sBuyerIds+oreturnObjs[i].ContractorID+',';
                }
                _sBuyerIds=_sBuyerIds.substring(0,_sBuyerIds.length-1);
               
            }
            else
            {
                alert("Please select a Buying House.");
                return false;
            }
        }
        else if (oPickerobj.winid == 'winMktAccount') 
        {
            if (oreturnObjs != null && oreturnObjs.length> 0)
            {
                var sMessage='';
                _sMAccountIds="";
                sMessage=(oreturnObjs.length>1)? oreturnObjs.length +"MKT Account(s) Selected" : oreturnObjs[0].Name;
                $('#txtMktAccount').val(sMessage);
                $("#txtMktAccount").addClass("fontColorOfPickItem");
                for(var i=0;i<oreturnObjs.length;i++){
                    _sMAccountIds=_sMAccountIds+oreturnObjs[i].MarketingAccountID+',';
                }
                _sMAccountIds=_sMAccountIds.substring(0,_sMAccountIds.length-1);
            }
            else
            {
                alert("Please select a MKt Account.");
                return false;
            }
        }
        else if (oPickerobj.winid == 'winMktGroup') 
        {
            if (oreturnObjs != null && oreturnObjs.length> 0)
            {
                var sMessage='';
                _sMAGroupIds="";
                sMessage=(oreturnObjs.length>1)? oreturnObjs.length +"MKT Group(s) Selected" : oreturnObjs[0].Name;
                $('#txtMktGroup').val(sMessage);
                $("#txtMktGroup").addClass("fontColorOfPickItem");
                for(var i=0;i<oreturnObjs.length;i++){
                    _sMAGroupIds=_sMAGroupIds+oreturnObjs[i].MarketingAccountID+',';
                }
                _sMAGroupIds=_sMAGroupIds.substring(0,_sMAGroupIds.length-1);
            }
            else
            {
                alert("Please select a MKt Group.");
                return false;
            }
        }

        

        $("#" + oPickerobj.winid).icsWindow("close");
        $("#" + oPickerobj.winid).remove();
    }
    //End Buyer Search
    $("#btnResetAdvSearch").click(function () {
        ResetAdvSearchWindow();
        LoadComboAdv();
    });
    $("#btnSearchAdvSearch").click(function () {
        $(".lblLoadingMessage").show();
        var sOrderTypeIDs = "";
     
        var oOrderType = $("#tblOrderTypes").datagrid("getChecked");
        if (oOrderType.length > 0)
        {
            for (var i = 0;i<oOrderType.length; i++){
                sOrderTypeIDs = oOrderType[i].FabricOrderType + "," + sOrderTypeIDs;
            }
            sOrderTypeIDs = sOrderTypeIDs.substring(0, sOrderTypeIDs.length - 1);
        }

        var sCurrentStatus = "";
        var oCurrentStatuss = $("#tblCurrentStatuss").datagrid("getChecked");
        if (oCurrentStatuss.length > 0)
        {
            for (var i = 0;i<oCurrentStatuss.length; i++){
                sCurrentStatus = oCurrentStatuss[i].id + "," + sCurrentStatus;
            }
            sCurrentStatus = sCurrentStatus.substring(0, sCurrentStatus.length - 1);
        }

        var sTempString = $.trim($("#txtPINo").val()) + '~'
                        + $.trim($("#txtFabricID").val()) + '~'
                        + _sContractorIds + '~'
                        + _sBuyerIds + '~'
                        + _sMAccountIds + '~'
                        + $("#cboPODate").val() + '~'
                        + $("#txtFromPODate").datebox("getValue") + '~'
                        + $("#txtToPODate").datebox("getValue") + '~'
                         + $("#cboApproveDate").val() + '~'
                        + $("#txtFromApproveDate").datebox("getValue") + '~'
                        + $("#txtToApproveDate").datebox("getValue") + '~'
                        + $("#cboProductionType").val() + '~'
                        + sOrderTypeIDs  + '~'
                          + sCurrentStatus  + '~'
                            + $("#cboIsPrinting").val() + '~'
                             + _sMAGroupIds + '~'
                        +_nBUID;
                        //+ $("#chkGetOriginalCopy").is(':checked') + "~"
                     

        var oFabricSalesContract = {
            ErrorMessage: sTempString
        }
        sessionStorage.setItem("ParamsP", sTempString);
        $.ajax({
            type: "POST",
            dataType: "json",
            url: _sBaseAddress + "/FabricSalesContract/AdvanchSearch",
            traditional: true,
            data: JSON.stringify(oFabricSalesContract),
            contentType: "application/json; charset=utf-8",
            success: function (data) {
                debugger;
                var oFabricSalesContracts = data;
                if (oFabricSalesContracts.length > 0) 
                {
                    DynamicRefreshList(oFabricSalesContracts, "tblFabricSalesContracts");
                    RefreshSummary();
                    $("#winAdvSearch").icsWindow("close");
                } else {
                    alert("Sorry, No data found.");
                    DynamicRefreshList([], "tblFabricSalesContracts");
                }

                $(".lblLoadingMessage").hide();

            }
        });
    });

    function LoadComboAdv()
    {
        DynamicRefreshList(_oOrderTypes, "tblOrderTypes");
        DynamicRefreshList(_oFabricPOStatus, "tblCurrentStatuss");
        $("#cboPODate,#cboApproveDate").icsLoadCombo({
            List: _oCompareOperators,
            OptionValue: "id",
            DisplayText: "Value"
        });
    }
    function CheckFromAndToDateValidation(OperationComboId, FromDateId, ToDateId) {
        $("#" + OperationComboId).parent().parent().parent().find("select").removeClass("errorFieldBorder");
        var nCboVal = $("#" + OperationComboId).val();
        if (parseInt(nCboVal) == 5 || parseInt(nCboVal) == 6) {
            var fromDate = $("#" + FromDateId).datebox("getValue");
            var toDate = $("#" + ToDateId).datebox("getValue");
            if (new Date(fromDate) > new Date(toDate)) {
                $("#" + ToDateId).focus();
                $("#" + OperationComboId).addClass("errorFieldBorder");
                $(".lblLoadingMessage").hide();
                return false;
            } else {
                $("#" + OperationComboId).removeClass("errorFieldBorder");
                return true;
            }
        } else {
            return true;
        }
    }

    function ResetAdvSearchWindow() {
        _sContractorIds = '';
        _sBankBranch_IssueIds = "";
        $(".lblLoadingMessage").hide();
        $("#winAdvSearch input").not("input[type='button']").val("");
        $("#winAdvSearch input").removeClass("fontColorOfPickItem");
        $("#winAdvSearch select").val(0);
        DateActions_OPDate();
        DateActions_ApproveDate();
        $("#txtFromPODate,#txtToPODate").datebox({ disabled: true });
        $("#txtFromPODate,#txtToPODate").datebox("setValue", icsdateformat(new Date()));

        $("#txtFromApproveDate,#txtToApproveDate").datebox({ disabled: true });
        $("#txtFromApproveDate,#txtToApproveDate").datebox("setValue", icsdateformat(new Date()));
    }
    function DateActions_OPDate() {
        DynamicDateActions("cboPODate", "txtFromPODate", "txtToPODate");
    }
    function DateActions_ApproveDate() {
        DynamicDateActions("cboApproveDate", "txtFromApproveDate", "txtToApproveDate");
    }

    $("#btnCloseAdvSearch").click(function () {
        $("#winAdvSearch").icsWindow("close");
    });
    $("#btnAdvSearch").click(function () {
        debugger;
        $(".lblLoadingMessage").hide();
        $("#winAdvSearch").icsWindow("open", "Production Request Advance Search");
        //DynamicRefreshList([], "tblExportPIAdvSearch");
        DynamicResetAdvSearchWindow("winAdvSearch");
        ResetAdvSearchWindow();
        LoadComboAdv();
    });

    
    $('#btnAddAttachment').click(function (e)
    { 
        var oFabricSalesContract = $("#tblFabricSalesContracts").datagrid("getSelected");
        if (oFabricSalesContract == null || oFabricSalesContract.FabricSalesContractID <= 0) { alert("Please select an item from list!"); return; }
        //EnumAttchRefType : oFabricSalesContract = 6        
        window.open(_sBaseAddress + '/AttachDocument/Attachment?id='+parseInt( oFabricSalesContract.FabricSalesContractID)+'&RefType=6&OperationInfo= Selected PO No : '+ oFabricSalesContract.SCNo, '_blank');
    });
    /// end Adv Searching

    function RefreshSummary()
    {
        var oRows = $('#tblFabricSalesContracts').datagrid('getRows');
        if(oRows.length>0)
        {
            var nQty = 0,nAmount=0;
            for(var i=0;i<oRows.length;i++)
            {
                nQty = parseFloat(nQty)+parseFloat(oRows[i].Qty);
                nAmount = parseFloat(nAmount)+parseFloat(oRows[i].Amount);
            }
             
            nQty = parseFloat(nQty).toFixed(2);
            nAmount = parseFloat(nAmount).toFixed(2);
            debugger
            var oRow =
            {
                MKTPName : 'Total',
                Qty:nQty,
                AmountSt:"$"+nAmount
            }
            $('#tblFabricSalesContracts').datagrid('appendRow',oRow); 
        } 
    }
    $("#btnPrintXL").click(function () {
        var sParams=sessionStorage.getItem("ParamsP");
        window.open(_sBaseAddress + '/FabricSalesContract/Print_ReportXL?sTempString=' + sParams, "_blank");
    });
    $('#btnPrint_SCLogPreview').click(function(){
        debugger;
        var oFabricSalesContract = $("#tblFabricSalesContracts").datagrid("getSelected");
        $('#tblFabricSalesContracts').data('FabricSalesContract', oFabricSalesContract);
        if (oFabricSalesContract == null || oFabricSalesContract.FabricSalesContractID <= 0) {
            alert("Invalid Field!!! please select a valid Field!");
            return false;
        }
        $.ajax
                                          ({
                                              type: "POST",
                                              dataType: "json",
                                              url : _sBaseAddress+  "/FabricSalesContract/GetFSCLog",
                                              data:  JSON.stringify(oFabricSalesContract),
                                              contentType: "application/json; charset=utf-8",
                                              success: function (data) {
                                                  debugger;
                                                  var oFabricSalesContractDetails = data;
                                                  if (oFabricSalesContractDetails.length > 0)
                                                  {
                                                      $('#txtUpdateRevise').val($('#tblFabricSalesContracts').data('FabricSalesContract').ReviseNo);
                                                      $('#winAdd').icsWindow('open');
                                                      RefreshListForLog(oFabricSalesContractDetails);
                                                      //RefreshListForLog([{AmountSt:'asd'},{AmountSt:'asd'},{AmountSt:'asd'}]);
                                                    
                                                  }
                                                  else
                                                  {
                                                      alert("No Data Found");
                                                  }
                                              },
                                              error: function (xhr, status, error)
                                              {
                                                  alert(error);
                                              }
                                          });
    
    });
    $("#btnUpdateRevise").click(function(){
        debugger;
        var oFabricSalesContract = $("#tblFabricSalesContracts").datagrid("getSelected");
        var nReviseNo=parseInt($('#txtUpdateRevise').val());
        debugger;
        if(oFabricSalesContract.FabricSalesContractID<=0)
        {
            alert("Invalid Object!"); return;
        }
        var SelectedRowIndex=$('#tblFabricSalesContracts').datagrid('getRowIndex',oFabricSalesContract);
        if (!confirm("Confirm Revise?")) return ;
        $.ajax
        ({
            type: "GET",
            dataType: "json",
            url : _sBaseAddress+ "/FabricSalesContract/UpdateReviseNo",
            data: { id: oFabricSalesContract.FabricSalesContractID, ReviseNo:nReviseNo},
            contentType: "application/json; charset=utf-8",
            success: function (data) {
                var oFabricSalesContract = jQuery.parseJSON(data);
                if (parseInt(oFabricSalesContract.FabricSalesContractID)>0)
                {                 
                    alert("Revise Update Sucessfully");                  
                    $('#tblFabricSalesContracts').datagrid('updateRow',{index: SelectedRowIndex,row: oFabricSalesContract});
                }
                else
                {
                    alert(oFabricSalesContract.ErrorMessage);
                }
            },
            error: function (xhr, status, error)
            {
                alert(error);
            }
        });
    });
    function RefreshListForLog(oFabricSalesContractDetails)
    {
        var data = oFabricSalesContractDetails;
        data = { "total": "" + data.length + "", "rows": data };
        $("#tblFabricSalesContractDetailLogs").datagrid("loadData", data);
    }
    $('#btnCloseLog').click(function(){
        $('#winAdd').icsWindow('close');
    });
    $('#btnPrintLog').click(function(){
        var oFabricSalesContractLog = $("#tblFabricSalesContractDetailLogs").datagrid("getSelected");
        if (oFabricSalesContractLog == null || oFabricSalesContractLog.FabricSalesContractLogID <= 0) {
            alert("Invalid Field!!! please select a valid Field!");
            return false;
        }
        var tsv=((new Date()).getTime())/1000;
        //alert(oFabricSalesContractDetail.FabricSalesContractLogID);
        window.open(_sBaseAddress+ "/FabricSalesContract/PrintPreviewLog?nID="+oFabricSalesContractLog.FabricSalesContractLogID+"&bIsRnd=false&nts="+tsv+"&bIsLog=true", "_blank");
    });

    $("#btnPrintFormat").click(function () {
        debugger;
        if(sessionStorage.getItem("QtyFormat")=="true")
        {
            $("#chkInKg").prop( "checked", false );
            $("#chkInLBS").prop( "checked", true );
        }else{
            $("#chkInLBS").prop( "checked", false );
            $("#chkInKg").prop( "checked", true );
        }
        if(parseInt(sessionStorage.getItem("ImageFormat"))==1)
        {
            $("#chkPrintTitleInNormalFormat").prop( "checked",true);
            $("#chkPrintTitlePadFormat").prop( "checked", false );
            $("#chkPrintTitleImageFormat").prop( "checked", false );
        }else if(parseInt(sessionStorage.getItem("ImageFormat"))==2)
        {
            $("#chkPrintTitleInNormalFormat").prop( "checked",false);
            $("#chkPrintTitlePadFormat").prop( "checked", true );
            $("#chkPrintTitleImageFormat").prop( "checked", false );
        }else
        {
            $("#chkPrintTitleInNormalFormat").prop( "checked",false);
            $("#chkPrintTitlePadFormat").prop( "checked", false );
            $("#chkPrintTitleImageFormat").prop( "checked", true );
        }
        $("#winPrintFormat2").icsWindow("open","PI Print Format Setup");
    });

    $("#btnClosePrintFormat2").click(function () {
        $("#winPrintFormat2").icsWindow("close");
    });

    $("#btnOkPrintFormat2").click(function () {
        debugger;
        $("#winPrintFormat2").icsWindow("close");

        if ($("#chkInLBS").is(':checked'))
        {
            sessionStorage.setItem("QtyFormat",true);
        }else{
            sessionStorage.setItem("QtyFormat",false);
        }

        if ($("#chkPrintTitleInNormalFormat").is(':checked'))
        {
            sessionStorage.setItem("ImageFormat",1);//normal
        }else if ($("#chkPrintTitlePadFormat").is(':checked'))
        {
            sessionStorage.setItem("ImageFormat",2);//pad
        }else if ($("#chkPrintTitleImageFormat").is(':checked'))
        {
            sessionStorage.setItem("ImageFormat",3);//with Image
        }
    });
    function IsLBSFormat(bIstrue)
    {
        if(bIstrue)
        {
            $("#chkInKg").prop( "checked", false );
            $("#chkInLBS").prop( "checked", true );
        }else{
            $("#chkInKg").prop( "checked", true );
            $("#chkInLBS").prop( "checked", false );
        }
    }

    function PrintTitleFormat(nPrintTitleFormat)
    {
        if(parseInt(nPrintTitleFormat)==1)//normal
        {
            $("#chkPrintTitleInNormalFormat").prop( "checked", true );
            $("#chkPrintTitlePadFormat").prop( "checked", false );
            $("#chkPrintTitleImageFormat").prop( "checked", false );
        }else  if(parseInt(nPrintTitleFormat)==2)//pad
        {
            $("#chkPrintTitleInNormalFormat").prop( "checked", false );
            $("#chkPrintTitlePadFormat").prop( "checked", true );
            $("#chkPrintTitleImageFormat").prop( "checked", false );
        }else
        {
            $("#chkPrintTitleInNormalFormat").prop( "checked", false );
            $("#chkPrintTitlePadFormat").prop( "checked", false );
            $("#chkPrintTitleImageFormat").prop( "checked", true );
        }
    }

    $("#btnAddSampleInvoice").click(function () {

        var oFabricSalesContract = $("#tblFabricSalesContracts").datagrid("getSelected");
        if (oFabricSalesContract == null || oFabricSalesContract.FabricSalesContractID <= 0) {
            alert("Invalid Field!!! please select a valid Field!");
            return false;
        }

        if (!confirm("Confirm to Create Bill/Invoice?")) return false;

        var obj = {
            BaseAddress: _sBaseAddress,
            Object: oFabricSalesContract,
            ObjectId: oFabricSalesContract.FabricSalesContractID,
            ControllerName: "FabricSalesContract",
            ActionName: "SaveSampleInvoice",
            TableId: "tblFabricSalesContracts",
            IsWinClose: false
        };
        $.icsSave(obj);
        var SelectedRowIndex = $('#tblFabricSalesContracts').datagrid('getRowIndex', oFabricSalesContract);
        $('#tblFabricSalesContracts').datagrid('updateRow', { index: SelectedRowIndex, row: oFabricSalesContract });

       
    });
</script>





