<html>
<head>
    @{
        ViewBag.Title = "WYRequisition";
    }
</head>
<body>

    @model ESimSol.BusinessObjects.WYRequisition
    <div class="menuMainCollectionTable" id="divWYRequisition" title="Requisition">

        <fieldset>
            <legend style="font-weight:bold"> Order info: <label id="lblInfo"> </label> </legend>
            <table style="width:100%" cellpadding="2" cellspacing="2">

                <tr>
                    <td style="width: 10%; text-align: left">
                        <label>Yarn Type</label>
                    </td>
                    <td style="width: 25%; text-align: left">
                        <select style="width: 100%;" id="cboYarnType" onchange="ChangeOrderType()"></select>
                    </td>
                    <td style="width:10%; text-align: right">
                        <label> Req. Date</label>
                    </td>
                    <td style="width: 25%; text-align: left">
                        <input id="txtIssueDate" type="text" class="easyui-datebox" style="width: 100%;" data-options="formatter:icsdateformat,parser:icsdateparser" />
                    </td>
                    <td style="width: 10%; text-align: right">
                        <label>Req.Type</label>
                    </td>
                    <td style="width: 20%; text-align: left">
                        <select style="width: 100%;" id="cboRequsitionType"  onchange="ChangeRequsitionType()">
                            <option value="101">SRS</option>
                            <option value="102">SRM</option>
                        </select>
                    </td>
                </tr>
                <tr>
                    <td style="width: 10%; text-align: left">
                        <label id="lblWUIssue">Issue Store</label>
                    </td>
                    <td style="width: 25%; text-align: left">
                        <select style="width: 100%;" id="cboIssueStore"></select>
                    </td>
                    <td style="width:10%; text-align: right">
                        <label id="lblWUReceive">Receive Store:</label>
                    </td>
                    <td style="width: 25%; text-align: left">
                        <select style="width: 100%;" id="cboReceiveStores"></select>
                    </td>
                    <td style="width: 10%; text-align: right">
                        <label>Note</label>
                    </td>
                    <td style="width: 20%; text-align: left">
                        <input id="txtRemarks" type="text" style="width: 100%;" />
                    </td>
                </tr>

            </table>

        </fieldset>

        <fieldset>
            <legend>Dispo Detail</legend>
            <table id="tblWYRequisitionDetail" class="easyui-datagrid" style="width:100%;height:350px;"
                   data-options="singleSelect: true,fitColumns:false, rownumbers:true, pagination:false, autoRowHeight:false, toolbar: '#toolbar',onClickRow:onClickRow ">
                <thead>
                    <tr>
                        <th field="DispoNo" width="10%" align="left">Dispo</th>
                        <th field="ProductName" width="15%" align="left">Yarn Count</th>
                        <th field="LotNo" width="10%" align="left">Batch/Lot</th>
                        <th field="ColorName" width="10%" align="left">Color</th>
                        <th field="WarpWeftTypeSt" width="10%" align="left">Warp/Weft</th>
                        <th field="ReqQty" width="10%" align="right">ReqQtyt</th>
                        @*<th data-options="field:'ReqQty',align:'right',editor:{type:'numberbox',options:{precision:2}}" width="6%"> Req. Qty</th>*@

                        <th data-options="field:'ReceiveQty',align:'right',editor:{type:'numberbox',options:{precision:2}}" width="6%"> Issue Qty</th>
                        <th data-options="field:'ReqCones',align:'right'" width="8%"> Need Pcs</th>

                        <th data-options="field:'NumberOfCone',align:'right',editor:{type:'numberbox',options:{precision:0}}" width="8%">T/F Pcs</th>
                        <th data-options="field:'BeamNo',width:100,height:60 ,align:'Left',editor:{type:'text'}" width="8%" align="Left">Beam No</th>

                        <th data-options="field:'Dia',width:100,height:60 ,align:'Left',editor:{type:'text'}" width="8%" align="Left">Dia</th>
                        <th data-options="field:'BagQty',align:'right',editor:{type:'numberbox',options:{precision:2}}" width="8%"> Bag Qty</th>
                        <th data-options="field:'RequiredWarpLength',align:'right'" width="8%"> Req Length</th>
                        <th data-options="field:'IssuedLength',align:'right'" width="8%"> Issued Length</th>
                        <th data-options="field:'TFLength',align:'right',editor:{type:'numberbox',options:{precision:2}}" width="8%"> TF Length</th>
                        <th data-options="field:'TFLengthLB',align:'right',editor:{type:'numberbox',options:{precision:2}}" width="8%"> TF Length LB</th>

                        <th data-options="field:'Remarks',width:100,height:60 ,align:'Left',editor:{type:'text'}" width="13%" align="Left">Remark</th>
                        
                        @*<th field="Qty_DC" width="8%" align="right" formatter="formatPrice">DeliveryQty</th>
                            <th field="MUnit" width="6%" align="right">Unit</th>*@
                        @*<th field="ApproveLotNo" width="10%" align="center">ApproveLotNo</th>*@
                    </tr>
                </thead>
            </table>
            <div id="toolbar">
                <select style="width: 10%;" id="cboWarpWeftType" onchange="ChangeWarpWeftType()"></select>
                <input id="chkWithOutLot" type="checkbox" />Without Lot?
                Dispo No: <input type="text" id="txtDispoNo" style="width:70px;" placeholder="Type Dispo No" />
                <a id="btnPickDispo" href="javascript:void(0)" class="easyui-linkbutton" iconcls="icon-add" plain="true">Pick</a>
                <a id="btnRemoveDetail" href="javascript:void(0)" class="easyui-linkbutton" iconcls="icon-remove" plain="true">Remove</a>
                <a id="btnRefresh" href="javascript:void(0)" class="easyui-linkbutton" iconcls="icon-reload" plain="true">Refresh</a>
                <a id="btnUpdateLotNo" href="javascript:void(0)" class="easyui-linkbutton" iconcls="icon-add" plain="true">Change Lot No</a>
                <a id="btnCopyDetail" href="javascript:void(0)" class="easyui-linkbutton" iconcls="icon-copy" onclick="CopyDetail()" plain="true">Copy</a>
            </div>
            <table border="0" cellpadding="0" cellspacing="0" style="width:100%;">
                <tr>
                    <td style="width:65%;  text-align:right;font-weight:bold;">Total:</td>
                    <td style="width:10%;  text-align:right;font-weight:bold;"><label id="lblTotalQty">0</label> </td>
                    <td style="width:5%;  text-align:right;font-weight:bold;"> </td>

                </tr>
            </table>
        </fieldset>

        <fieldset>
            <legend>Action</legend>
            <div class="align-right">
                <table border="0" cellpadding="0" cellspacing="0" style="width:100%;">
                    <tr>
                    <tr>
                        <td style=" float:left;  width:10%; ">
                            <a id="btnPrint" href="javascript:void(0)" class="easyui-linkbutton" iconcls="icon-print" plain="true">Print</a>
                        </td>
                        <td style=" float:left;  width:40%; "></td>
                        <td style="width:50%;float:right; text-align:right">
                            <a id="btnSave" href="javascript:void(0)" class="easyui-linkbutton" iconcls="icon-save" plain="true">Save</a>
                            <a id="btnApprove" href="javascript:void(0)" class="easyui-linkbutton" iconcls="icon-save" plain="true">Approve</a>
                            <a id="btnDisburse" href="javascript:void(0)" class="easyui-linkbutton" iconcls="icon-save" plain="true">Disburse</a>
                            <a id="btnReceive" href="javascript:void(0)" class="easyui-linkbutton" iconcls="icon-save" plain="true">Receive</a>
                            <a id="btnClose" href="javascript:void(0)" class="easyui-linkbutton" iconcls="icon-cancel" plain="true">Close</a>
                        </td>
                    </tr>

                </table>

            </div>

        </fieldset>
    </div>

    <div id="winDONoChange" style="width:360px;" class="easyui-window" title="Lot Change" data-options="modal:true,closed:true,collapsible:false,minimizable:false,maximizable:false,closable:true">
        <div id="divPINoUpdate">
            <table>

                <tr>
                    <td style="width:25%;text-align:right">
                        Dispo No:
                    </td>
                    <td colspan="3" style="width:75%">
                        <input id="txtDispoNoLotPick" class="reset-text" style="width:100%;"  />
                    </td>
                </tr>
                <tr>
                    <td style="width:25%;text-align:right">
                       Lot/Batch No:
                    </td>
                    <td colspan="3" style="width:75%">
                        <input type="text" style="width:100%;" id="txtLotNo" />
                    </td>
                </tr>

                <tr>
                    <td style="width:25%;text-align:right">
                        New Lot:
                    </td>
                    <td colspan="3" style="width:75%">
                       <input type="text" id="txtLotNoPick" style="width:70px;" placeholder="Type Lot No" />
                        <a id="btnPickLot" href="javascript:void(0)" class="easyui-linkbutton" iconcls="icon-add" plain="true">Pick</a>
                    </td>
                </tr>

            </table>

        </div>
        <fieldset class="actionfieldsetstyle">
            <legend>Actions : </legend>
            <a id="btnSaveDONo" href="javascript:void(0)" class="easyui-linkbutton" iconcls="icon-save" plain="true">Save</a>
            <a id="btnCloseDONo" href="javascript:void(0)" class="easyui-linkbutton" iconcls="icon-cancel" plain="true">Close</a>
        </fieldset>
    </div>

</body>
</html>

<style type="text/css">
    .td-styler input {
        padding-left: 5px;
    }

    .td-styler select {
        padding-left: 5px;
    }

    .td-col-3 select {
        width: 95%;
    }
</style>

<script type="text/javascript">

    var _sBaseAddress = "";
    var _oWYRequisition=null;
    var _nProductID=0;
    var _nSelectedRowIndex=0;
    var _nBUID=0;
    var _sBackLink="";
    var _nLayoutType=0;
    var _oIssueStores=[];
    var _oReceiveStores=[];

    $(document).ready(function () {
        _sBaseAddress =@Html.Raw(new System.Web.Script.Serialization.JavaScriptSerializer().Serialize(HttpContext.Current.Session[SessionInfo.BaseAddress]));
        _oWYRequisition =@Html.Raw(new System.Web.Script.Serialization.JavaScriptSerializer().Serialize(Model));
        
        _nLayoutType =  @Html.Raw(new System.Web.Script.Serialization.JavaScriptSerializer().Serialize(ViewBag.LayoutType));
        _nBUID = @Html.Raw(new System.Web.Script.Serialization.JavaScriptSerializer().Serialize(ViewBag.BUID));
        var oWarpWeftTypes = @Html.Raw(new System.Web.Script.Serialization.JavaScriptSerializer().Serialize(ViewBag.WarpWeftTypes));
        _oIssueStores = @Html.Raw(new System.Web.Script.Serialization.JavaScriptSerializer().Serialize(ViewBag.IssueStores));
        _oReceiveStores=  @Html.Raw(new System.Web.Script.Serialization.JavaScriptSerializer().Serialize(ViewBag.ReceiveStores));
        var oWYarnTypes =  @Html.Raw(new System.Web.Script.Serialization.JavaScriptSerializer().Serialize(ViewBag.WYarnTypes));
        debugger;
        $("#cboYarnType").icsLoadCombo({ List: oWYarnTypes,  OptionValue: "id",  DisplayText: "Value",});
       
        $("#cboWarpWeftType").icsLoadCombo({ List: oWarpWeftTypes,  OptionValue: "id",  DisplayText: "Value",});

        $('#divWYRequisition').data('Lot', "");

        Initialization(_oWYRequisition,((sessionStorage.length>0)?sessionStorage.getItem('Operation'):'New'));
        _sBackLink=sessionStorage.getItem("BackLink");
        if(sessionStorage.getItem('Operation') != "New")
            $("#lblInfo").text("Requisition No ["+_oWYRequisition.RequisitionNo+"]");
    });

    function RefreshGridColumn(nYarnType){
        if(nYarnType == 1){
            $('#tblWYRequisitionDetail').datagrid('showColumn', 'Dia');
            $('#tblWYRequisitionDetail').datagrid('showColumn', 'BagQty');
            $('#tblWYRequisitionDetail').datagrid('showColumn', 'TFLength');
            $('#tblWYRequisitionDetail').datagrid('showColumn', 'TFLengthLB');
            $('#tblWYRequisitionDetail').datagrid('showColumn', 'ReceiveQty');
            $('#tblWYRequisitionDetail').datagrid('showColumn', 'ReqCones');
            $('#tblWYRequisitionDetail').datagrid('showColumn', 'RequiredWarpLength');
            $('#tblWYRequisitionDetail').datagrid('showColumn', 'IssuedLength');
        }else{
            $('#tblWYRequisitionDetail').datagrid('hideColumn', 'Dia');
            $('#tblWYRequisitionDetail').datagrid('hideColumn', 'BagQty');
            $('#tblWYRequisitionDetail').datagrid('hideColumn', 'TFLength');
            $('#tblWYRequisitionDetail').datagrid('hideColumn', 'TFLengthLB');
            //$('#tblWYRequisitionDetail').datagrid('hideColumn', 'ReceiveQty');
            $('#tblWYRequisitionDetail').datagrid('hideColumn', 'ReqCones');
            $('#tblWYRequisitionDetail').datagrid('hideColumn', 'RequiredWarpLength');
            $('#tblWYRequisitionDetail').datagrid('hideColumn', 'IssuedLength');
        }
    }

    function Initialization(oWYRequisition, sOperation){
        //ResetControll();

        if(sOperation=="View")
        {
            $('#toolbar,#btnApprove,#btnSave,#btnDisburse,#btnReceive,.ics-pick').hide();
            $('input,select').not('#txtDONo').prop('disabled',true);
            $('.td-col-6 input').css('width','92%');
        }
        else  if(sOperation=="Disburse")
        {
            $('#btnApprove,#btnReceive').hide();
            $('#btnDisburse,#btnSave').show();
            $('input,select').not('#txtDONo').prop('disabled',false);
            $('#txtDODate').datebox('setValue', icsdateformat(new Date()));
        }
        else  if(sOperation=="Received")
        {
            $('#btnSave,#btnApprove,#btnDisburse').hide();
            $('#btnReceive').show();
            $('input,select').not('#txtDONo').prop('disabled',false);
            $('#txtDODate').datebox('setValue', icsdateformat(new Date()));
        }
     
        else if(sOperation=="Approve")
        {
            $('#toolbar,#btnSave,#btnDisburse,#btnReceive,.ics-pick').hide();
            $('#btnApprove').show();
            $('input,select').not('#txtDONo').prop('disabled',true);
            $('.td-col-6 input').css('width','92%');
        }
        else{
            $('#toolbar,#btnSave,.ics-pick').show();
            $('#btnApprove,#btnDisburse,#btnReceive').hide();
            $('input,select').not('#txtWYRequisitionNo').prop('disabled',false);
            $('.td-col-6 input').css('width','70%');
        }
        RefreshControl(oWYRequisition);
        //$('#cboRequsitionType').prop('disabled',true);
    }


    function RefreshControl(oWYRequisition){
        debugger;
        _oWYRequisition=oWYRequisition;
        if(_oWYRequisition.WYRequisitionID<=0)
        {
            $('#txtIssueDate').datebox('setValue', icsdateformat(new Date()));
            //$('#cboOrderType').val(oWYRequisition.OrderType);
            //$scope.WYRequisition.IssueStoreID=(oIssueStores.length>0? oIssueStores[0].WorkingUnitID :0 );
            //$scope.WYRequisition.ReceiveStoreID=(oReceiveStores.length>0? oReceiveStores[0].WorkingUnitID :0 );
        }
        $('#txtIssueDate').datebox('setValue',oWYRequisition.IssueDateSt);
        $("#cboYarnType").val(oWYRequisition.WYarnTypeInt);
        if(oWYRequisition.WYarnTypeInt>0){  $("#cboYarnType").prop("disabled", true);}
       
        $("#cboRequsitionType").val(oWYRequisition.RequisitionTypeInt);

        debugger;
        ChangeOrderType();
        $('#cboIssueStore').val(_oWYRequisition.IssueStoreID);
        $('#cboReceiveStores').val(_oWYRequisition.ReceiveStoreID);
        if(oWYRequisition.FEOYSList!==null && oWYRequisition.FEOYSList.length>0)
        {
            DynamicRefreshList(oWYRequisition.FEOYSList, 'tblWYRequisitionDetail');
            $("#cboWarpWeftType").val(oWYRequisition.FEOYSList[0].WarpWeftType);

            //ChangeWarpWeftType();
        }
        else{
            DynamicRefreshList([], 'tblWYRequisitionDetail');
        }

       
        $('#txtRemarks').val(oWYRequisition.Remarks);
        RefreshSummary();
    }

    

    function ChangeRequsitionType()
    {
        var ocboOrderType = document.getElementById("cboRequsitionType");
        var sText = ocboOrderType.options[ocboOrderType.selectedIndex].text;
        var ncboRequsitionType=parseInt($("#cboRequsitionType").val());
       
       

        if(ncboRequsitionType==102)
        {
            $("#lblWUIssue").text("Receive Store:");
            $("#lblWUReceive").text("Issue Store:");
        }
        else{
            $("#lblWUIssue").text("Issue Store:");
            $("#lblWUReceive").text("Receive Store:");
        }
    }

    
    function ChangeWarpWeftType()
    {
        var cboWarpWeftType=parseInt($("#cboWarpWeftType").val());
       
        debugger
        if(cboWarpWeftType==2)/// if weft
        {
            RefreshGridColumn(0);
        }
        else{
            RefreshGridColumn(1);
        }
    }

    function ChangeOrderType()
    {
        debugger;

        var ocboOrderType = document.getElementById("cboYarnType");
        var sText = ocboOrderType.options[ocboOrderType.selectedIndex].text;
        var ncboOrderType=parseInt($("#cboYarnType").val());
        if(ncboOrderType==4)
        {
            $("#cboRequsitionType").val(102)
        }
        //else
        //{
        //    $("#cboRequsitionType").val(101)
        //}
        //if(ncboOrderType==2)/// Gray
        //{
        //    $("#btnUpdateLotNo").show();
        //}
        //else
        //{
        //    $("#btnUpdateLotNo").hide();
        //}
        $("#btnUpdateLotNo").show();

        ChangeRequsitionType();
        ChangeStore(ncboOrderType);
        RefreshGridColumn(ncboOrderType);
    }

    function ChangeStore(ncboOrderType)
    {
        debugger;
        if(ncboOrderType==0)
        {
            $("#cboIssueStore").empty();
            $("#cboReceiveStores").empty();
        }else
        {
            var oIssueStores=[];
            var oReceiveStores=[];

            for(var i=0; i<_oIssueStores.length;i++){
                if(_oIssueStores[i].WYarnTypeInt== parseInt(ncboOrderType))
                {
                    oIssueStores.push(_oIssueStores[i]);
                }
            }

            for(var i=0; i<_oReceiveStores.length;i++){
                if(_oReceiveStores[i].WYarnTypeInt== parseInt(ncboOrderType))
                {
                    oReceiveStores.push(_oReceiveStores[i]);
                }
            }

            $("#cboIssueStore").icsLoadCombo({ List: oIssueStores,  OptionValue: "WorkingUnitID",  DisplayText: "StoreName",});
            $("#cboReceiveStores").icsLoadCombo({ List: oReceiveStores,  OptionValue: "WorkingUnitID",  DisplayText: "StoreName",});

            if(sessionStorage.getItem('Operation') == "New"){
                if(oIssueStores.length == 1)
                {
                    $("#cboIssueStore").val(oIssueStores[0].WorkingUnitID);
                    _oWYRequisition.IssueStoreID=oIssueStores[0].WorkingUnitID;
                }
                

                if(oReceiveStores.length == 1)
                {
                    $("#cboReceiveStores").val(oReceiveStores[0].WorkingUnitID);
                    _oWYRequisition.ReceiveStoreID=oReceiveStores[0].WorkingUnitID;
                }
            }

            //if(oIssueStores.length==1)
            //{
            //    $('#cboIssueStore').val(oIssueStores[0].WorkingUnitID);
            //}
            //if(oIssueStores.length==1)
            //{
            //    $('#cboReceiveStores').val(oReceiveStores[0].WorkingUnitID);
            //}
            
        }

        
    }

    function Validation(){
        if(parseInt($("#cboYarnType").val())<=0)
        {
            $('#cboYarnType').focus();
            $('#cboYarnType').addClass("errorFieldBorder");
            alert('Select Yarn Type.');
            return false;
        }
        else{
            $('#cboYarnType').removeClass("errorFieldBorder");
        }

        if(parseInt($("#cboReceiveStores").val())<=0)
        {
            $('#cboReceiveStores').focus();
            $('#cboReceiveStores').addClass("errorFieldBorder");
            alert('Select Receive Store.');
            return false;
        }
        else{
            $('#cboReceiveStores').removeClass("errorFieldBorder");
        }

        var ncboOrderType=parseInt($("#cboYarnType").val());
        if(ncboOrderType==4)
        {
            if(parseInt($("#cboIssueStore").val())<=0)
            {
                $('#cboIssueStore').focus();
                $('#cboIssueStore').addClass("errorFieldBorder");
                alert('Select Receive Store.');
                return false;
            }
            else{
                $('#cboIssueStore').removeClass("errorFieldBorder");
            }

        }

        var oWYRequisitionDetails=$('#tblWYRequisitionDetail').datagrid('getRows');
        if(oWYRequisitionDetails.length <= 0){
            alert('Please enter atleast One Detail!!');
            return false;
        }

        return true;
    }

    function RefreshObject()
    {
        var oWYRequisitionDetails=$('#tblWYRequisitionDetail').datagrid('getRows');
        for(var i=0; i<oWYRequisitionDetails.length;i++){
            if(oWYRequisitionDetails[i].ReceiveQty<=0)
            {
                oWYRequisitionDetails[i].ReceiveQty= parseFloat(oWYRequisitionDetails[i].ReqQty);
            }
        }

        var oWYRequisition={
            WYRequisitionID: (_oWYRequisition!=null && _oWYRequisition.WYRequisitionID>0)? _oWYRequisition.WYRequisitionID:0,
            RequisitionNo: (_oWYRequisition!=null && _oWYRequisition.WYRequisitionID>0)? _oWYRequisition.RequisitionNo:"",
            IssueDate:$('#txtIssueDate').datebox('getValue'),
            WYarnTypeInt:parseInt($("#cboYarnType").val()),
            IssueStoreID:parseInt($("#cboIssueStore").val()),
            ReceiveStoreID:parseInt($("#cboReceiveStores").val()),
            BUID:_nBUID,
            RequisitionTypeInt: parseInt($("#cboRequsitionType").val()),
            Remarks:$.trim($('#txtRemarks').val()),
            FEOYSList:oWYRequisitionDetails

        };
        return oWYRequisition;
    }

   

    //function ResetDetail(){
    //    _nProductID=0;
    //    _nExportSCDetailID=0;

    //    $('#cboKnitPly').val(0);
    //    $('#txtColorSet,#txtShadeCount').val(3);
    //    $('#txtCombo').val(1);
    //    $('#txtDispo,#txtColorName,#txtRGB,#txtPantonNo,#txtReftNo,#txtApproveLotNo').val("");
    //}
    

    /// Dispo Pick
    $("#btnPickDispo").click(function () {
        GetsDispo("");
    });
    $("#txtDispoNo").keydown(function (e) {
        var nkeyCode = e.keyCode || e.which;
        if(nkeyCode==13){
            if(parseInt($('#cboYarnType').val())<=0)
            {
                alert("Please, first Pick Order");
                $("#cboYarnType").focus()
                return;
            }

            GetsDispo("");
        }
        else if(nkeyCode==8){
            $("#txtDispoNo").val("");
           
        }
    });
    function GetsDispo(sProductName){
        debugger
        if(parseInt($("#cboYarnType").val())<=0)
        {
            $('#cboYarnType').focus();
            $('#cboYarnType').addClass("errorFieldBorder");
            alert('Select Yarn Type.');
            return false;
        }
        else{
            $('#cboYarnType').removeClass("errorFieldBorder");
        }

        if(parseInt($("#cboRequsitionType").val())<=0)
        {
            $('#cboRequsitionType').focus();
            $('#cboRequsitionType').addClass("errorFieldBorder");
            alert('Select Requsition Type.');
            return false;
        }
        else{
            $('#cboRequsitionType').removeClass("errorFieldBorder");
        }

        if(parseInt($("#cboWarpWeftType").val())<=0)
        {
            $('#cboWarpWeftType').focus();
            $('#cboWarpWeftType').addClass("errorFieldBorder");
            alert("Please, Select Warp/Weft Type");
            return false;
        }
        else{
            $('#cboWarpWeftType').removeClass("errorFieldBorder");
        }

        
        if(_nLayoutType<=0)
        {
            _nLayoutType=$("#cboYarnType").val();
        }

        if(parseInt(_nLayoutType)==4)
        {
            if(parseInt($("#cboReceiveStores").val())<=0)
            {
                $('#cboReceiveStores').focus();
                $('#cboReceiveStores').addClass("errorFieldBorder");
                alert('Select Issue Store.');
                return false;
            }
            else{
                $('#cboReceiveStores').removeClass("errorFieldBorder");
            }

        }


        var sActionName="";
        if(parseInt($("#cboYarnType").val())==1)
            sActionName="GetDyed_YarnlList";
        else if(parseInt($("#cboYarnType").val())==2)
            sActionName="GetYarnlList";
        else if(parseInt($("#cboYarnType").val())==4)
            sActionName="GetYarnlList";

      
        var oFabricSalesContractDetail = {
           
            WarpWeftTypeInt: parseInt($('#cboWarpWeftType').val()),
            Params:parseInt($('#cboReceiveStores').val())+"~"+parseInt($('#cboYarnType').val())+"~"+parseInt($('#cboRequsitionType').val())+"~"+ $("#chkWithOutLot").is(":checked"),
            ExeNo:$('#txtDispoNo').val()
        };
        var obj = {
            BaseAddress: _sBaseAddress,
            Object: oFabricSalesContractDetail,
            ControllerName: "WYRequisition",
            ActionName: sActionName,
            IsWinClose: false
        };

        $.icsDataGets(obj, function (response) {

            if (response.status && response.objs.length > 0) {
                if (response.objs[0].ProductID > 0) {
                    debugger;
                    var tblColums = [];
                    var oColumn = { field: "DispoNo", title: "DispoNo", width: 70, align: "left" };tblColums.push(oColumn);
                    oColumn = { field: "ProductName", title: "Count", width: 100, align: "left" };tblColums.push(oColumn);
                    oColumn = { field: "LotNo", title: "Batch", width: 80, align: "left" };tblColums.push(oColumn);
                    oColumn = { field: "ColorName", title: "Color", width: 100, align: "left" };tblColums.push(oColumn);
                    oColumn = { field: "WarpWeftTypeSt", title: "Warp/Weft", width: 70, align: "left" };tblColums.push(oColumn);
                    oColumn = { field: "OrderQty", title: "Order Qty", width: 70, align: "right",formatter:formatPrice };tblColums.push(oColumn);
                    oColumn = { field: "BalanceQty", title: "Previous Issue", width: 70, align: "right",formatter:formatPrice };tblColums.push(oColumn);
                    oColumn = { field: "ReqQty", title: "Balance", width: 70, align: "right",formatter:formatPrice };tblColums.push(oColumn);
                    oColumn = { field: "LotBalance", title: "Stock In Hand", width: 100, align: "right",formatter:formatPrice };tblColums.push(oColumn);                    
                    if(parseInt($("#cboYarnType").val()) == 1){
                        oColumn = { field: "BeamFinish", title: "Beam Com", width: 80, align: "right",formatter:formatPrice };tblColums.push(oColumn);
                        oColumn = { field: "IssuedLength", title: "Already Transfer", width: 100, align: "right",formatter:formatPrice };tblColums.push(oColumn);
                        oColumn = { field: "TFLength", title: "Due Length", width: 80, align: "right",formatter:formatPrice };tblColums.push(oColumn);
                    }
                    
                    //oColumn = { field: "MUName", title: "Unit", width: 70, align: "left" };tblColums.push(oColumn);
                    //if(parseInt($("#cboOrderType").val())==3||parseInt($("#cboOrderType").val())==4)
                    //{
                    //    oColumn = { field: "OrderQty", title: "P/I Qty", width: 100, align: "right",formatter:formatPrice };tblColums.push(oColumn);
                    //    oColumn = { field: "Lotbalance", title: "Order Qty", width: 100, align: "right",formatter:formatPrice };tblColums.push(oColumn);
                    //}
                    //else{
                    //    oColumn = { field: "OrderQty", title: "Order Qty", width: 100, align: "right",formatter:formatPrice };tblColums.push(oColumn);
                    //}
                    //oColumn = { field: "DOQty", title: "DO Qty", width: 100, align: "right",formatter:formatPrice };tblColums.push(oColumn);
                    //oColumn = { field: "YetToDO", title: "Yet To Qty", width: 100, align: "right",formatter:formatPrice };tblColums.push(oColumn);

                    var oPickerParam = {
                        winid: 'winProductPicker',
                        winclass:'clsProductPicker',
                        winwidth: 900,
                        winheight: 520,
                        tableid: 'tblProductPicker',
                        tablecolumns: tblColums,
                        datalist: response.objs,
                        multiplereturn: true,
                        searchingbyfieldName:'ProductName',
                        windowTittle: 'Product List'
                    };
                    $.icsPicker(oPickerParam);
                    IntializePickerbutton(oPickerParam);//multiplereturn, winclassName
                }
                else { alert(response.objs[0].ErrorMessage); }
            }
            else{
                alert("No product found.");
            }
        });
    }
    /// Dispo Pick
    /// Lot No pick
   
    $("#btnPickLot").click(function () {
        GetsLotsPick();
    });

    $("#txtLotNoPick").keydown(function (e) {
        var nkeyCode = e.keyCode || e.which;
        if(nkeyCode==13){
            if(parseInt($('#cboYarnType').val())<=0)
            {
                alert("Please, first Pick Order");
                $("#cboYarnType").focus()
                return;
            }

            GetsLotsPick();
        }
        else if(nkeyCode==8){
            $("#txtLotNoPick").val("");
           
        }
    });

    function GetsLotsPick(){
        debugger
        if(parseInt($('#cboYarnType').val())<=0)
        {
            alert("Please, first Pick Order");
            $("#cboYarnType").focus()
            return;
        }
        //if(parseInt($('#cboIssueStore').val())<=0)
        //{
        //    alert("First Select store");
        //    $("#cboIssueStore").focus()
        //    return;
        //}
        
        if(_nLayoutType<=0)
        {
            _nLayoutType=$("#cboYarnType").val();
        }

        var sActionName="GetsLot";
        //if(_nLayoutType==1)
        //    sActionName="GetsLot";
        //else if(_nLayoutType==2)
        //    sActionName="GetsLot";
        //else if(_nLayoutType==4)
        //    sActionName="GetsLot";

        var oWYRequisitionDetail = $("#tblWYRequisitionDetail").datagrid("getSelected");
        if (oWYRequisitionDetail == null) { alert("Please select an item from list!"); return false; }
      
        var oFEOYR = {
           
            LotNo: $.trim($('#txtLotNoPick').val()),  
            FEOSDID:oWYRequisitionDetail.FEOSDID,
            WUID:$('#cboIssueStore').val(),
            ExeNo:"",
            ErrorMessage:parseInt($('#cboYarnType').val())+"~"+parseInt($('#cboRequsitionType').val())
        };
        var obj = {
            BaseAddress: _sBaseAddress,
            Object: oFEOYR,
            ControllerName: "WYRequisition",
            ActionName: sActionName,
            IsWinClose: false
        };

        $.icsDataGets(obj, function (response) {

            if (response.status && response.objs.length > 0) {
                if (response.objs[0].LotID > 0) {
                    debugger;
                    var tblColums = [];
                    var oColumn = { field: "OrderRecapNo", title: "DispoNo", width: 70, align: "left" };tblColums.push(oColumn);
                    oColumn = { field: "LotNo", title: "Lot No", width: 120, align: "left" };tblColums.push(oColumn);
                    oColumn = { field: "Balance", title: "Balance(Lot)", width: 100, align: "right",formatter:formatPrice };tblColums.push(oColumn);
                    oColumn = { field: "MUName", title: "Unit", width: 100, align: "left", };tblColums.push(oColumn);
                    oColumn = { field: "StockValue", title: "Balance(Order)", width: 100, align: "right",formatter:formatPrice };tblColums.push(oColumn);
                    oColumn = { field: "OperationUnitName", title: "Operation Unit", width: 100, align: "left" };tblColums.push(oColumn);

                    var oPickerParam = {
                        winid: 'winLotPicker',
                        winclass:'clsLotPicker',
                        winwidth: 750,
                        winheight: 460,
                        tableid: 'tblLotPicker',
                        tablecolumns: tblColums,
                        datalist: response.objs,
                        multiplereturn: false,
                        searchingbyfieldName:'LotNo',
                        windowTittle: 'Lot List'
                    };
                    $.icsPicker(oPickerParam);
                    IntializePickerbutton(oPickerParam);//multiplereturn, winclassName
                }
                else { alert(response.objs[0].ErrorMessage); }
            }
            else{
                alert("No product found.");
            }
        });
    }

    //End  Pick

    function IntializePickerbutton(oPickerobj) {
        $("#" + oPickerobj.winid).find("#btnOk").click(function () {
            //for Single Select
            SetPickerValueAssign(oPickerobj);
        });
        $(document).find('.' + oPickerobj.winclass).keydown(function (e) {
            if (e.which == 13)//enter=13
            {
                SetPickerValueAssign(oPickerobj);

            }
        });
    }

    function SetPickerValueAssign(oPickerobj) {
        debugger;
        var oreturnObj = null, oreturnobjs = [];
        if (oPickerobj.multiplereturn) {
            oreturnobjs = $('#' + oPickerobj.tableid).datagrid('getChecked');
        } else {
            oreturnObj = $('#' + oPickerobj.tableid).datagrid('getSelected');
        }
        $("#" + oPickerobj.winid).icsWindow("close");
        $("#" + oPickerobj.winid).remove();

         if (oPickerobj.winid == 'winProductPicker')
        {
            if (oreturnobjs != null && oreturnobjs.length > 0)
            {
                SaveWithDetail(oreturnobjs);
                debugger;
                if(parseInt($("#cboYarnType").val()) == 2){
                   // alert(oreturnobjs[0].WUID);
                    $('#cboIssueStore').val(oreturnobjs[0].WUID);
                }
            }
            else{
                alert("Data Not Found.");
                return;
            }
        }
         else if (oPickerobj.winid=='winLotPicker')
        {
            if(oreturnObj!=null && parseInt(oreturnObj.LotID)>0)
            {
                debugger;
                var txtLotNoPick = document.getElementById("txtLotNoPick");
                txtLotNoPick.style.color = "blue";
                txtLotNoPick.style.fontWeight = "bold";
                $('#txtLotNoPick').val(oreturnObj.LotNo);
                $('#divWYRequisition').data('Lot', oreturnObj);
                $("#cboIssueStore").val(oreturnObj.WorkingUnitID);
                _oWYRequisition.IssueStoreID=oreturnObj.WorkingUnitID;
              //  oreturnObj.WYRequisitionID= (_oWYRequisition!=null && _oWYRequisition.WYRequisitionID>0)? _oWYRequisition.WYRequisitionID:0;
               
            }
            else
            {
                alert("Data Not Found.");
            }
        }



    }

    function IsExist(nIssueLotID)
    {
        var oDUDODetails = $('#tblWYRequisitionDetail').datagrid('getRows');

        for (var i = 0; i < oDUDODetails.length; i++) {
            if (parseInt(oDUDODetails[i].IssueLotID) == parseInt(nIssueLotID))
            {
                return true;
            }
        }
        return false;
    }

    function SaveWithDetail(oWYRequisitionDetails)
    {
        var oRows = $('#tblWYRequisitionDetail').datagrid('getRows');
        for (i=0; i<oWYRequisitionDetails.length;i++)
        {            
            var bExists= IsExist(oWYRequisitionDetails[i].IssueLotID)
                if(!bExists)
                {
                    if(oRows.length > 0){
                        if(oRows[0].WarpWeftType != oWYRequisitionDetails[i].WarpWeftType){
                            alert("Warp/Weft Type Should be Same. Please select only either Warp Or Weft Type!!");
                            return;
                        }
                    }
                    $('#tblWYRequisitionDetail').datagrid('appendRow', oWYRequisitionDetails[i]);
                }
            
        }

        endEditing();
        RefreshSummary();
       
    }

    $('#btnClose').click(function(e){
        window.location.href = sessionStorage.getItem("BackLink");
    });

    $("#btnRemoveDetail").click(function () {

        var oWYRequisitionDetail = $("#tblWYRequisitionDetail").datagrid("getSelected");
        if (oWYRequisitionDetail == null) { alert("Please select an item from list!"); return false; }
        var nIndex=$('#tblWYRequisitionDetail').datagrid('getRowIndex',oWYRequisitionDetail);
        if (!confirm("Confirm to Delete?")) return false;
        $("#tblWYRequisitionDetail").datagrid("deleteRow", nIndex);
        RefreshSummary();
        editIndex = undefined;
    });

    function RefreshSummary()
    {
        var oDODetails = $('#tblWYRequisitionDetail').datagrid('getRows');
        var nTotalQty = 0, nTotalAmount= 0;
        for(var i = 0; i<oDODetails.length;i++)
        {
            nTotalQty+=parseFloat(oDODetails[i].ReceiveQty);

        }
        document.getElementById('lblTotalQty').innerHTML = formatPrice(nTotalQty,0)+" kg";

    }
    //////////// Detail ////////
    var editIndex = undefined;
    function endEditing() {
        if (editIndex == undefined) { return true }
        if ($('#tblWYRequisitionDetail').datagrid('validateRow', editIndex)) {
            $('#tblWYRequisitionDetail').datagrid('endEdit', editIndex);
            $('#tblWYRequisitionDetail').datagrid('selectRow', editIndex);
            var oESCDetail = $('#tblWYRequisitionDetail').datagrid('getSelected');
            debugger;
            $('#tblWYRequisitionDetail').datagrid('updateRow', { index: editIndex, row: oESCDetail });

            RefreshSummary();
            editIndex = undefined;
            return true;
        }
        else {
            return false;
        }
    }

    function onClickRow(index) {

        if (editIndex != index) {
            if (endEditing()) {
                $('#tblWYRequisitionDetail').datagrid('selectRow', index).datagrid('beginEdit', index);
                var oPRDetail= $('#tblWYRequisitionDetail').datagrid('getSelected');

                editIndex = index;
            }
            else {
                $('#tblWYRequisitionDetail').datagrid('selectRow', editIndex);
            }
        }
    }
    $("#btnSave").click(function (){
        endEditing();
       if(!Validation()) return false;
        debugger;
        var oWYRequisition=RefreshObject();
       
        $.ajax({
            type: "POST",
            dataType: "json",
            url : _sBaseAddress+"/WYRequisition/Save",
            traditional: true,
            data:  JSON.stringify(oWYRequisition),
            contentType: "application/json; charset=utf-8",
            success: function (data) {
                debugger;
                var oDUDO= jQuery.parseJSON(data);
                if (oDUDO.ErrorMessage=="" || oDUDO.ErrorMessage==null)
                {
                    _oWYRequisition=oDUDO;
                    alert("Data Save Succesfully!!");
                    //if(_oPurchaseOrder.PurchaseOrderDetails!=null)
                    //{
                    //    DynamicRefreshList(_oPurchaseOrder.PurchaseOrderDetails, 'tblPODetail');
                    //}

                    var oWYRequisitions =sessionStorage.getItem("WYRequisitions");
                    var nIndex= parseInt(sessionStorage.getItem("SelectedRowIndex"));
                    debugger;
                    if(oWYRequisitions!=null)
                    {
                        oWYRequisitions = jQuery.parseJSON(oWYRequisitions);
                    }
                    else
                    {
                        oWYRequisitions=[];
                    }
                    if(nIndex!=-1)
                    {
                        oWYRequisitions[nIndex]=_oWYRequisition;
                    }
                    else
                    {
                        sessionStorage.setItem("SelectedRowIndex", oWYRequisitions.length);
                        oWYRequisitions.push(_oWYRequisition);
                    }
                    sessionStorage.setItem("WYRequisitions", JSON.stringify(oWYRequisitions));
                    window.location.href = _sBackLink;
                }
                else
                {
                    alert(oDUDO.ErrorMessage);
                }
            },
            error: function (xhr, status, error)
            {
                alert(error);
            }
        });
    });

    $('#btnApprove').click(function () {

        debugger;
        var conf = confirm("Are you sure you want to Approve ?");
        if(conf==false)return;

        if (_oWYRequisition ==null || _oWYRequisition.WYRequisitionID <=0 ) { alert("Please select an item from list."); return ; }

        if( _oWYRequisition.ApprovedBy!=0)
        {
            alert("Already Approve.");
            return;
        }


        $.ajax({
            type: "POST",
            dataType: "json",

            url : _sBaseAddress+  "/WYRequisition/Approve",
            traditional: true,
            data:  JSON.stringify(_oWYRequisition),

            contentType: "application/json; charset=utf-8",
            success: function (data) {
                debugger;
                var oDUDO = jQuery.parseJSON(data);
                if (oDUDO.ErrorMessage=="" || oDUDO.ErrorMessage==null)
                {
                    _oWYRequisition=oDUDO;
                    alert("Approved Succesfully!!");
                    //if(_oPurchaseOrder.PurchaseOrderDetails!=null)
                    //{
                    //    DynamicRefreshList(_oPurchaseOrder.PurchaseOrderDetails, 'tblPODetail');
                    //}

                    var oWYRequisitions =sessionStorage.getItem("WYRequisitions");
                    var nIndex= parseInt(sessionStorage.getItem("SelectedRowIndex"));
                    debugger;
                    if(oWYRequisitions!=null)
                    {
                        oWYRequisitions = jQuery.parseJSON(oWYRequisitions);
                    }
                    else
                    {
                        oWYRequisitions=[];
                    }
                    if(nIndex!=-1)
                    {
                        oWYRequisitions[nIndex]=_oWYRequisition;
                    }
                    else
                    {
                        sessionStorage.setItem("SelectedRowIndex", oWYRequisitions.length);
                        oWYRequisitions.push(_oWYRequisition);
                    }
                    sessionStorage.setItem("WYRequisitions", JSON.stringify(oWYRequisitions));
                    window.location.href = _sBackLink;
                }
                else
                {
                    alert(oDUDO.ErrorMessage);
                }
            },
            error: function (xhr, status, error) {
                alert(error);
            }
        });

    });

    $('#btnDisburse').click(function () {

        debugger;
        var conf = confirm("Are you sure you want to Disburse ?");
        if(conf==false)return;

        if (_oWYRequisition ==null || _oWYRequisition.WYRequisitionID <=0 ) { alert("Please select an item from list."); return ; }

        //if( _oWYRequisition.ApprovedBy!=0)
        //{
        //    alert("Already Disburse.");
        //    return;
        //}


        $.ajax({
            type: "POST",
            dataType: "json",

            url : _sBaseAddress+  "/WYRequisition/Disburse",
            traditional: true,
            data:  JSON.stringify(_oWYRequisition),

            contentType: "application/json; charset=utf-8",
            success: function (data) {
                debugger;
                var oDUDO = jQuery.parseJSON(data);
                if (oDUDO.ErrorMessage=="" || oDUDO.ErrorMessage==null)
                {
                    _oWYRequisition=oDUDO;
                    alert("Disburse Succesfully!!");
                    //if(_oPurchaseOrder.PurchaseOrderDetails!=null)
                    //{
                    //    DynamicRefreshList(_oPurchaseOrder.PurchaseOrderDetails, 'tblPODetail');
                    //}

                    var oWYRequisitions =sessionStorage.getItem("WYRequisitions");
                    var nIndex= parseInt(sessionStorage.getItem("SelectedRowIndex"));
                    debugger;
                    if(oWYRequisitions!=null)
                    {
                        oWYRequisitions = jQuery.parseJSON(oWYRequisitions);
                    }
                    else
                    {
                        oWYRequisitions=[];
                    }
                    if(nIndex!=-1)
                    {
                        oWYRequisitions[nIndex]=_oWYRequisition;
                    }
                    else
                    {
                        sessionStorage.setItem("SelectedRowIndex", oWYRequisitions.length);
                        oWYRequisitions.push(_oWYRequisition);
                    }
                    sessionStorage.setItem("WYRequisitions", JSON.stringify(oWYRequisitions));
                    window.location.href = _sBackLink;
                }
                else
                {
                    alert(oDUDO.ErrorMessage);
                }
            },
            error: function (xhr, status, error) {
                alert(error);
            }
        });

    });

    $('#btnReceive').click(function () {

        debugger;
        var conf = confirm("Are you sure you want to Approve ?");
        if(conf==false)return;

        if (_oWYRequisition ==null || _oWYRequisition.WYRequisitionID <=0 ) { alert("Please select an item from list."); return ; }

        if( _oWYRequisition.ReceivedBy!=0)
        {
            alert("Already Received.");
            return;
        }


        $.ajax({
            type: "POST",
            dataType: "json",

            url : _sBaseAddress+  "/WYRequisition/Receive",
            traditional: true,
            data:  JSON.stringify(_oWYRequisition),

            contentType: "application/json; charset=utf-8",
            success: function (data) {
                debugger;
                var oDUDO = jQuery.parseJSON(data);
                if (oDUDO.ErrorMessage=="" || oDUDO.ErrorMessage==null)
                {
                    _oWYRequisition=oDUDO;
                    alert("Received Succesfully!!");
                   
                    var oWYRequisitions =sessionStorage.getItem("WYRequisitions");
                    var nIndex= parseInt(sessionStorage.getItem("SelectedRowIndex"));
                    debugger;
                    if(oWYRequisitions!=null)
                    {
                        oWYRequisitions = jQuery.parseJSON(oWYRequisitions);
                    }
                    else
                    {
                        oWYRequisitions=[];
                    }
                    if(nIndex!=-1)
                    {
                        oWYRequisitions[nIndex]=_oWYRequisition;
                    }
                    else
                    {
                        sessionStorage.setItem("SelectedRowIndex", oWYRequisitions.length);
                        oWYRequisitions.push(_oWYRequisition);
                    }
                    sessionStorage.setItem("WYRequisitions", JSON.stringify(oWYRequisitions));
                    window.location.href = _sBackLink;
                }
                else
                {
                    alert(oDUDO.ErrorMessage);
                }
            },
            error: function (xhr, status, error) {
                alert(error);
            }
        });

    });


    $('#btnPrint').click(function (e)
    {
        
        if (_oWYRequisition ==null || _oWYRequisition.WYRequisitionID <=0 ) { alert("Invalid Item."); return ; }
        if(_oWYRequisition.WYarnTypeInt == 1){//Dyed Yarn
            if(_oWYRequisition.FEOYSList.length <= 0){
                alert("Warp/Weft Type not found!!"); return ;
            }
            else{
                if(_oWYRequisition.FEOYSList[0].WarpWeftType == 1 || _oWYRequisition.FEOYSList[0].WarpWeftType == 3){//warp & warpnweft
                    $.ajax({
                        type: "POST",
                        dataType: "json",
                        url : _sBaseAddress+  "/WYRequisition/SetSessionSearchCriteria",
                        traditional: true,
                        data:  JSON.stringify(_oWYRequisition),
                        contentType: "application/json; charset=utf-8",
                        success: function (data) {
                            var sFeedBackMessage = jQuery.parseJSON(data);
                            if (sFeedBackMessage==="Successful")
                            {
                                window.open(_sBaseAddress+'/WYRequisition/PrintWYRequisitions?buid='+_nBUID);
                            }
                        },
                        error: function (xhr, status, error) {
                            alert(error);
                        }
                    });

                }else if(_oWYRequisition.FEOYSList[0].WarpWeftType == 2){//weft
                    $.ajax({
                        type: "POST",
                        dataType: "json",
                        url : _sBaseAddress+  "/WYRequisition/SetSessionSearchCriteria",
                        traditional: true,
                        data:  JSON.stringify(_oWYRequisition),
                        contentType: "application/json; charset=utf-8",
                        success: function (data) {
                            var sFeedBackMessage = jQuery.parseJSON(data);
                            if (sFeedBackMessage==="Successful")
                            {
                                window.open(_sBaseAddress+'/WYRequisition/PrintWYRequisitions_WeftYarn?buid='+_nBUID);
                            }
                        },
                        error: function (xhr, status, error) {
                            alert(error);
                        }
                    });
                }else{
                    alert("Warp/Weft Type not found!!"); return ;
                }
            }
        }else{
            window.open(_sBaseAddress+'/WYRequisition/WYRequisitionPreview?nWYRequisitionID='+_oWYRequisition.WYRequisitionID+'&nBUID='+_nBUID);
        }

    });

    $("#btnRefresh").click(function () {
        endEditing();
    });


    ///Update DO No
    $("#btnUpdateLotNo ").click(function () {
        debugger;
        var oWYRequisitionDetail = $('#tblWYRequisitionDetail').datagrid('getSelected');
        if (oWYRequisitionDetail ==null  ) { alert("Please select an item from list."); return ; }
        var nIndex=$('#tblWYRequisitionDetail').datagrid('getRowIndex',oWYRequisitionDetail);
     
        $('#txtDispoNoLotPick,#txtLotNo').val("");
        $('#txtDispoNoLotPick').val(oWYRequisitionDetail.ExeNo);
        $('#txtLotNo').val(oWYRequisitionDetail.LotNo);
        $('#txtDispoNoLotPick,#txtLotNo').prop('disabled',true);
        $("#winDONoChange").icsWindow('open', "Change Lot No");
    });
    $("#btnSaveDONo").click(function (e) {
        SaveDONo();
    });
    function SaveDONo()
    {
        debugger;
        var oWYRequisitionDetail = $('#tblWYRequisitionDetail').datagrid('getSelected');
        if (oWYRequisitionDetail ==null) { alert("Please select an item from list."); return ; }
        var nSelectedIndex =$('#tblWYRequisitionDetail').datagrid('getRowIndex',oWYRequisitionDetail);
        
        
        oWYRequisitionDetail.IssueLotID=  $('#divWYRequisition').data('Lot').LotID;
        oWYRequisitionDetail.ProductID=  $('#divWYRequisition').data('Lot').ProductID;
        oWYRequisitionDetail.ProductName=  $('#divWYRequisition').data('Lot').ProductName;
        oWYRequisitionDetail.LotNo=  $('#divWYRequisition').data('Lot').LotNo;
        if(oWYRequisitionDetail.IssueLotID<=0)
        {
            alert("Please entry valid Lot");
            return;
        }
        $('#tblWYRequisitionDetail').datagrid('updateRow', { index: nSelectedIndex, row: oWYRequisitionDetail });
        $('#tblWYRequisitionDetail').datagrid('selectRow', nSelectedIndex);
        $("#winDONoChange").icsWindow("close");
        //if(oWYRequisitionDetail.FEOYID>0)
        //{
        //    var obj =
        //        {
        //            BaseAddress: _sBaseAddress,
        //            Object: oWYRequisitionDetail,
        //            ObjectId: oWYRequisitionDetail.FEOYID,
        //            ControllerName: "DUDeliveryOrder",
        //            ActionName: "UpdateDONo",
        //            TableId: "tblWYRequisitionDetail",
        //            IsWinClose: true
        //        };
        //    $.icsSave(obj, function (response)
        //    {
        //        if (response.status && response.obj != null)
        //        {
        //            if (response.obj.ErrorMessage=="")
        //            {
        //                $("#winDONoChange").icsWindow("close");
        //            }
        //            else {
        //                alert(response.obj.ErrorMessage);
        //            }
        //        }
        //        else {
        //            alert("No information found.");
        //        }
        //    });
        //}
        //else
        //{
        //    $('#tblWYRequisitionDetail').datagrid('updateRow', { index: nSelectedIndex, row: oWYRequisitionDetail });
        //    $('#tblWYRequisitionDetail').datagrid('selectRow', nSelectedIndex);
        //}
    }
    $("#btnCloseDONo").click(function () {
        $("#winDONoChange").icsWindow("close");
    });

    function CopyDetail()
    {
        debugger;
        var oFSCDetail = $('#tblWYRequisitionDetail').datagrid('getSelected');
        if (oFSCDetail ==null ) { alert("Please select an item from list."); return ; }
        if (!confirm("Confirm to copy?")) return false;
        var SelectedRowIndex=$('#tblWYRequisitionDetail').datagrid('getRowIndex',oFSCDetail);



        var oFEYRDetailNew={
            FEOYID:0,
            ProductID: oFSCDetail.ProductID,
            WYRequisitionID:  (_oWYRequisition != null) ? _oWYRequisition.WYRequisitionID : 0,
            ReqQty :0.00,
            ReceiveQty:0.00,
            FSCDID : oFSCDetail.FSCDID,
            IssueLotID: oFSCDetail.IssueLotID,
            DestinationLotID:0,
            WarpWeftType:oFSCDetail.WarpWeftType,
            DyeingOrderDetailID :oFSCDetail.DyeingOrderDetailID,
            Remarks :oFSCDetail.Remarks,
            FEOSDID:oFSCDetail.FEOSDID,
            Dia: oFSCDetail.Dia,
            TFLength :oFSCDetail.TFLength,
            TFLengthLB :oFSCDetail.TFLengthLB,
            BeamNo :oFSCDetail.BeamNo,
            NumberOfCone :oFSCDetail.NumberOfCone,
            RequisitionType :oFSCDetail.RequisitionType,
            WYarnType :oFSCDetail.WYarnType,
            IssueByName :oFSCDetail.IssueByName,
            IssueBy :oFSCDetail.IssueBy,
            IssueDate:oFSCDetail.IssueDate,
            ReceiveByName :oFSCDetail.ReceiveByName,
            FEOSID:oFSCDetail.FEOSID,
            ExeNo:oFSCDetail.ExeNo,
            BeamFinish:oFSCDetail.BeamFinish,
            RequiredWarpLength:oFSCDetail.RequiredWarpLength,
            ReqCones:oFSCDetail.ReqCones,
            IssuedLength:oFSCDetail.IssuedLength,
            TFConeSet:oFSCDetail.TFConeSet,
            BeamCount:oFSCDetail.BeamCount,
            BalanceQty:oFSCDetail.BalanceQty,
            BagQty:oFSCDetail.BagQty,
            Length:oFSCDetail.Length,
            Warp:oFSCDetail.Warp,
            ColorName:oFSCDetail.ColorName,
            BuyerName:oFSCDetail.BuyerName,
            RequisitionNo:oFSCDetail.RequisitionNo,
            IsInHouse:oFSCDetail.IsInHouse,
            OrderType:oFSCDetail.OrderType,
            DispoNo:oFSCDetail.DispoNo,
            UnitName:oFSCDetail.UnitName,
            LotNo:oFSCDetail.LotNo,
            ProductCode:oFSCDetail.ProductCode,
            ProductName:oFSCDetail.ProductName,
            DyeingOrderID:oFSCDetail.DyeingOrderID,
            WUID:oFSCDetail.WUID
            
        }

        var oFEYRDetails = $('#tblWYRequisitionDetail').datagrid('getRows');
        var nLength = oFEYRDetails.length;
        $('#tblWYRequisitionDetail').datagrid('appendRow',oFEYRDetailNew);
        $('#tblWYRequisitionDetail').datagrid('selectRow', nLength);
       
    }
</script>