@{
    ViewBag.Title = "WYRequisition(s)";
}

@model IEnumerable<ESimSol.BusinessObjects.WYRequisition>
    
    <head>
        <title>WYRequisition(s)</title>      
    </head>

    <body>
        <div id="progressbarParent" style="width:100%;height:100%;margin:0 auto;text-align:center; margin-left: auto;margin-right: auto;left: 0;right: 0;z-index: 1;">
            <div style="margin: 0px auto;margin-top: 251px;text-align:center;width:390px;">
                <label style="font-size:18px;">Please wait</label>
                <div id="progressbar" style="width:100%;height:37px;"></div>
            </div>
        </div>
        <div class="menuMainCollectionTable" >
            <table id="tblWYRequisition" title="List" class="easyui-datagrid" fit="true" fitcolumn="true" rownumbers="true" pagination="false" singleselect="true" autorowheight="false" toolbar="#toolbarWYRequisition">
                <thead>
                    <tr>
                        
                        @*<th data-options=" field:'selected',checkbox:true"></th>*@
                        <th field="RequisitionNo" width="8%">Req. No</th>
                        <th field="DispoNo" width="8%">Dispo No</th>
                        <th field="IssueDateTimeSt" width="12%">Requisition Date</th>
                        <th field="IssueStoreName" width="12%">Issue store</th>
                        <th field="WYarnTypeStr" width="8%">Yarn. Type</th>
                        <th field="ReceiveStoreName" width="15%">Receive Store</th>
                        <th field="ApprovedByName" width="12%">Approved By</th>
                        <th field="DisburseByName" width="10%">Disburse By</th>
                        <th field="ReceivedByName" width="10%">Receive By</th>
                        <th field="ReceiveDateTimeSt" width="12%">Receive Date</th>
                        <th field="RequisitionTypeSt" width="12%">Type</th>
                        <th field="WarpWeftTypeSt" width="10%">Warp/Weft Type</th>
                    </tr>
                </thead>

            </table>

            <div id="toolbarWYRequisition">
                @*<a href="javascript:void(0)" class="easyui-linkbutton" iconcls="icon-reload" plain="true" id="btnReload"></a>*@
                <input type="text" id="txtSearchByClaimNo" placeholder="Search by order No" style="width:120px;text-align:left" />
                <input type="text" id="txtSearchByReqNo" placeholder="Search by Req. No" style="width:120px;text-align:left" />
                <input type="text" id="txtBatchNo" placeholder="Search by Batch No" style="width:120px;text-align:left" />
                <a id="btnAdvSearch" href="javascript:void(0)" class="easyui-linkbutton" iconcls="icon-search" plain="true">Adv. Search</a>
                <a id="btnAdd" href="javascript:void(0)" class="easyui-linkbutton" iconcls="icon-add" plain="true">New</a>
                <a id="btnEdit" href="javascript:void(0)" class="easyui-linkbutton" iconcls="icon-edit" plain="true">Edit</a>
                <a id="btnDelete" href="javascript:void(0)" class="easyui-linkbutton" iconcls="icon-remove" plain="true">Delete</a>
                <a id="btnView" href="javascript:void(0)" class="easyui-linkbutton" iconcls="icon-details" plain="true">View</a>
                @*<a id="btnChecked" href="javascript:void(0)" class="easyui-linkbutton" iconcls="icon-approved" plain="true"> <label id="lblOrderStatus">Verify</label> </a>*@
                <a id="btnApprove" href="javascript:void(0)" class="easyui-linkbutton" iconcls="icon-approved" plain="true"> <label id="lblOrderStatus">Approve</label> </a>
                <a id="btnUndoApprove" href="javascript:void(0)" class="easyui-linkbutton" iconcls="icon-approved" plain="true">Undo Approve </a>
                <a id="btnDisburseA" href="javascript:void(0)" class="easyui-linkbutton" iconcls="icon-add" plain="true">Disburse</a>
                <a id="btnUndoDisburse" href="javascript:void(0)" class="easyui-linkbutton" iconcls="icon-add" plain="true">Undo Disburse</a>
                <a id="btnReceive" href="javascript:void(0)" class="easyui-linkbutton" iconcls="icon-add" plain="true">Receive</a>
                <a id="btnPreview" href="javascript:void(0)" class="easyui-linkbutton" iconcls="icon-print" plain="true">Preview</a>
                <a id="btnPrintTFReport" href="javascript:void(0)" class="easyui-linkbutton" iconcls="icon-print" plain="true">TF Report</a>
                <a id="btnPreviewWeft" href="javascript:void(0)" class="easyui-linkbutton" iconcls="icon-print" plain="true">Preview(Weft)</a>

                @*<a id="btnPrint" href="javascript:void(0)" class="easyui-linkbutton" iconcls="icon-print" plain="true">Print</a>
                <a id="btnCancel" href="javascript:void(0)" class="easyui-linkbutton" iconcls="icon-cancel" plain="true">Cancel</a>
                <a id="btnPrintList" href="javascript:void(0)" class="easyui-linkbutton" iconcls="icon-print" plain="true">Report</a>*@                
            </div>
        </div>
        <div id="winAdvSearch" class="easyui-window winClass" title="Adv. Search" style="width:480px;" data-options="modal:true,closed:true,collapsible:false,minimizable:false,maximizable:false,closable:false">
            <table style="width:100%;">
                <tr>
                    <td>
                        <fieldset style="margin-bottom: 0px;">
                            <legend>Searching Criteria</legend>
                            <table>
                                <tr>
                                    <td style=" width:20%;text-align:right;">
                                        <label>Dispo No </label>
                                    </td>
                                    <td colspan="3" style="width:80%;text-align:left;">
                                        <input id="txtDispoNo" type="text" style="width:100%" />
                                    </td>
                                </tr>
                                <tr>
                                    <td style=" width:20%;text-align:right;">
                                        <label>Layout Type </label>
                                    </td>
                                    <td colspan="3" style="width:80%;text-align:left;">
                                        <select id="cboLayoutType" style="width:100%;"></select>
                                    </td>
                                </tr>
                                <tr>
                                    <td style=" width:20%;text-align:right;">
                                        <label> Req. Date </label>
                                    </td>
                                    <td colspan="3">
                                        <select id="cboDate" style="width:35%;" onchange="DateActionsOrderDateAdvSearch();"></select>
                                        <input id="txtFromDateAdvSearch" type="text" style="width: 100px;" class="easyui-datebox" required="required" data-options="formatter:icsdateformat,parser:icsdateparser" />To
                                        <input id="txtToDateAdvSearch" type="text" style="width: 100px;" class="easyui-datebox" required="required" data-options="formatter:icsdateformat,parser:icsdateparser" />
                                    </td>
                                </tr>
                                <tr>
                                    <td style=" width:20%;text-align:right;">
                                        <label>Warp/Weft </label>
                                    </td>
                                    <td colspan="3" style="width:80%;text-align:left;">
                                        <select id="cboWarpWeftType" style="width:100%;"></select>
                                    </td>
                                </tr>
                                <tr>
                                    <td style=" width:20%;text-align:right;">
                                        <label> Receive Date </label>
                                    </td>
                                    <td colspan="3">
                                        <select id="cboReceiveDate" style="width:35%;" onchange="DateActionsOrderRcvDateAdvSearch();"></select>
                                        <input id="txtFromReceiveDateAdvSearch" type="text" style="width: 100px;" class="easyui-datebox" required="required" data-options="formatter:icsdateformat,parser:icsdateparser" />To
                                        <input id="txtToReceiveDateAdvSearch" type="text" style="width: 100px;" class="easyui-datebox" required="required" data-options="formatter:icsdateformat,parser:icsdateparser" />
                                    </td>
                                </tr>
                                <tr>
                                    <td style=" width:20%;text-align:right;">
                                        <label>Buyer </label>
                                    </td>
                                    <td colspan="3" style="width:80%;text-align:left;">
                                        <table style=" width:100%;">
                                            <tr style=" width:100%;">
                                                <td style=" width:78%;"><input type="text" style=" width:100%;" id="txtBuyerName" onkeydown="BuyerKeyDown(event);" /> </td>
                                                <td style="width: 20%;"><input type="button" id="btnBuyer" onclick="PickBuyer()" style="width:100%;float:right;" value="Pick" /></td>
                                            </tr>
                                        </table>
                                    </td>
                                </tr>
                                <tr>
                                    <td style=" width:20%;text-align:right;">
                                        <label>Status </label>
                                    </td>
                                    <td colspan="3" style="width:80%;text-align:left;">
                                        <select id="cboStatus" style="width:100%;">
                                            <option value="0">--Select One--</option>
                                            <option value="1">Yet To Approve</option>
                                            <option value="2">Wait For Receive</option>
                                            <option value="3">Wait For Disburse</option>
                                        </select>
                                    </td>
                                </tr>


                                <tr>
                                    <td style=" width:20%;text-align:right;">
                                        <label>Req. Type </label>
                                    </td>
                                    <td colspan="3" style="width:80%;text-align:left;">
                                        <select style="width: 100%;" id="cboRequsitionType">
                                            <option value="0">--Select One--</option>
                                            <option value="101">SRS</option>
                                            <option value="102">SRM</option>
                                        </select>
                                    </td>
                                </tr>
                                <tr>
                                    <td style=" width:20%;text-align:right;">
                                        <label>Lot/Batch No </label>
                                    </td>
                                    <td colspan="3" style="width:80%;text-align:left;">
                                        <input id="txtLotNo" type="text" style="width:100%" />
                                    </td>
                                </tr>
                                <tr>
                                    <td style=" width:20%;text-align:right;">
                                        <label>Issue Store </label>
                                    </td>
                                    <td colspan="3" style="width:80%;text-align:left;">
                                        <select style="width: 100%;" id="cboIssueStore"></select>
                                    </td>
                                </tr>
                                <tr>
                                    <td style=" width:20%;text-align:right;">
                                        <label>Receive Store </label>
                                    </td>
                                    <td colspan="3" style="width:80%;text-align:left;">
                                        <select style="width: 100%;" id="cboReceiveStore"></select>
                                    </td>
                                </tr>
                                <tr>
                                    <td style=" width:20%;text-align:right;">
                                        <label> Disburse Date </label>
                                    </td>
                                    <td colspan="3">
                                        <select id="cboDisburseDate" style="width:35%;" onchange="DateActionsOrderDisburseDateAdvSearch();"></select>
                                        <input id="txtFromDisburseDateAdvSearch" type="text" style="width: 100px;" class="easyui-datebox" required="required" data-options="formatter:icsdateformat,parser:icsdateparser" />To
                                        <input id="txtToDisburseDateAdvSearch" type="text" style="width: 100px;" class="easyui-datebox" required="required" data-options="formatter:icsdateformat,parser:icsdateparser" />
                                    </td>
                                </tr>
                                <tr>
                                    <td style=" width:20%;text-align:right;">
                                        <label>Yarn Count </label>
                                    </td>
                                    <td colspan="3" style="width:80%;text-align:left;">
                                        <table style=" width:100%;">
                                            <tr style=" width:100%;">
                                                <td style=" width:78%;"><input type="text" style=" width:100%;" id="txtYarnName" onkeydown="YarnKeyDown(event);" /> </td>
                                                <td style="width: 20%;"><input type="button" id="btnYarn" onclick="PickYarn()" style="width:100%;float:right;" value="Pick" /></td>
                                            </tr>
                                        </table>
                                    </td>
                                </tr>
                              
                                <tr>
                                    <td height="10px" colspan="4"></td>
                                </tr>
                              
                            </table>
                            
                        </fieldset>
                    </td>
                </tr>
            </table>
           
            <fieldset class="actionfieldsetstyle">
                <legend>Actions : </legend>
                <label class="lblLoadingMessage" style="float: left;font-size:15px;">Loading Please Wait...</label>
                <a id="btnPrintListExcel" href="javascript:void(0)" class="easyui-linkbutton" iconcls="icon-excel" plain="true">XL</a>
                <a id="btnResetAdvSearch" href="javascript:void(0)" class="easyui-linkbutton" iconcls="icon-reload" plain="true">Reset</a>
                <a id="btnSearchAdvSearch" href="javascript:void(0)" class="easyui-linkbutton" iconcls="icon-search" plain="true">Search</a>
                <a id="btnCloseAdvSearch" href="javascript:void(0)" class="easyui-linkbutton" iconcls="icon-cancel" plain="true">Close</a>
            </fieldset>
        </div>
    </body>
                      <style type="text/css">
                          #winAdvSearch {
                              width: 450px;
                          }
                      </style>
    
    <script type="text/javascript">
    var _sBaseAddress="";
    var _oWYRequisitions=[];
    var _sContractorIds="";
    var _sMenuID=0;
    var _nBUID = 0;
    var _oDUOrderSetups=[];
    var _nLayoutType =0;
    var _oAuthorizationRolesMapping=[];
    var _oWarpWeftTypes=[];
    var _oIssueStores=[];
    var _oReceiveStores=[];
    $(document).ready(function () {
        _sBaseAddress = @Html.Raw(new System.Web.Script.Serialization.JavaScriptSerializer().Serialize(HttpContext.Current.Session[SessionInfo.BaseAddress]));
        _oWYRequisitions =@Html.Raw( new System.Web.Script.Serialization.JavaScriptSerializer().Serialize(Model));
        _sMenuID =@Html.Raw( new System.Web.Script.Serialization.JavaScriptSerializer().Serialize(HttpContext.Current.Session[SessionInfo.MenuID]));
        _nBUID = @Html.Raw(new System.Web.Script.Serialization.JavaScriptSerializer().Serialize(ViewBag.BUID));
        _oCompareOperators = @Html.Raw(new System.Web.Script.Serialization.JavaScriptSerializer().Serialize(ViewBag.CompareOperators));
        _nLayoutType =  @Html.Raw(new System.Web.Script.Serialization.JavaScriptSerializer().Serialize(ViewBag.LayoutType));
        _oAuthorizationRolesMapping = @Html.Raw(new System.Web.Script.Serialization.JavaScriptSerializer().Serialize(HttpContext.Current.Session[SessionInfo.AuthorizationRolesMapping]));
        _oWarpWeftTypes = @Html.Raw(new System.Web.Script.Serialization.JavaScriptSerializer().Serialize(ViewBag.WarpWeftTypes));
        var oWYarnTypes =  @Html.Raw(new System.Web.Script.Serialization.JavaScriptSerializer().Serialize(ViewBag.WYarnTypes));
        _oIssueStores = @Html.Raw(new System.Web.Script.Serialization.JavaScriptSerializer().Serialize(ViewBag.IssueStores));
        _oReceiveStores=  @Html.Raw(new System.Web.Script.Serialization.JavaScriptSerializer().Serialize(ViewBag.ReceiveStores));
        $("#cboWarpWeftType").icsLoadCombo({List:_oWarpWeftTypes,OptionValue: "id",DisplayText: "Value",});
        $("#cboIssueStore").icsLoadCombo({ List: _oIssueStores,  OptionValue: "WorkingUnitID",  DisplayText: "StoreName",});
        $("#cboReceiveStore").icsLoadCombo({ List: _oReceiveStores,  OptionValue: "WorkingUnitID",  DisplayText: "StoreName",});

        debugger;
        if(sessionStorage.getItem("WYRequisitions")!=null && sessionStorage.getItem("WYRequisitions").length>0){
            _oWYRequisitions= jQuery.parseJSON(sessionStorage.getItem('WYRequisitions'));
            var nIndex= sessionStorage.getItem('SelectedRowIndex');
            DynamicRefreshList(_oWYRequisitions, 'tblWYRequisition');
            if(nIndex>-1){
                $('#tblWYRequisition').datagrid('selectRow',nIndex);
            }
        }
        else{
            DynamicRefreshList(_oWYRequisitions, 'tblWYRequisition');
        }

        $("#progressbar").progressbar({ value: 0 });
        $("#progressbarParent").hide();
        $(".lblLoadingMessage").hide();
        LoadComboAdv();
        $("#cboLayoutType").icsLoadCombo({List:oWYarnTypes,OptionValue: "id",DisplayText: "Value",});
        debugger;
        $("#winAdvSearch").data("BuyerID","");
        $("#winAdvSearch").data("YarnID","");
        RefreshControlLayout();
    });

    $(document).keydown(function (e) { if (e.keyCode == 27) { $('#winWYRequisitionOrder').icsWindow('close'); } });

    $('#tblWYRequisition').datagrid({ onSelect: function (rowIndex, rowData) { OperationPerforms(rowIndex, rowData); } });

    function OperationPerforms(rowIndex, rowData)
    {
        if (rowData != null && rowData.WYRequisitionID > 0)
        {
            //debugger;
            if(rowData.ApprovedBy!=0 && rowData.DisburseBy==0)
            {
                $('#btnEdit,#btnDelete,#btnApprove,#btnReceive,#btnUndoDisburse').hide();
                //$('#btnDisburse,#btnUndoApprove').show();
                if (PermissionChecker('Approved', 'WYRequisition',_oAuthorizationRolesMapping)) {$("#btnUndoApprove").show();}
                if (PermissionChecker('Disburse', 'WYRequisition',_oAuthorizationRolesMapping)) {$("#btnDisburse").show();}
            }
            else if(rowData.ApprovedBy!=0 && rowData.DisburseBy!=0 && rowData.ReceivedBy==0)
            {
                //$('#btnUndoDisburse,#btnReceive').show();
                $('#btnEdit,#btnDelete,#btnApprove,#btnUndoApprove,#btnDisburse').hide();
                if (PermissionChecker('Disburse', 'WYRequisition',_oAuthorizationRolesMapping)) {$("#btnUndoDisburse").show();}
                if (PermissionChecker('Received', 'WYRequisition',_oAuthorizationRolesMapping)) {$("#btnReceive").show();}

            }
            else if(rowData.ApprovedBy!=0 && rowData.DisburseBy!=0 && rowData.ReceivedBy!=0)
            {
                $('#btnEdit,#btnDelete,#btnDisburse,#btnUndoApprove,#btnApprove,#btnReceive,#btnUndoDisburse,#btnDisburse,#btnUndoApprove').hide();
            }
            else if(rowData.ApprovedBy==0 && rowData.ReceivedBy==0)
            {
                //$('#btnEdit,#btnDelete,#btnApprove').show();
                $('#btnReceive,#btnUndoDisburse,#btnDisburse,#btnUndoApprove').hide();
                if (PermissionChecker('Edit', 'WYRequisition',_oAuthorizationRolesMapping)) {$("#btnEdit").show();}
                if (PermissionChecker('Delete', 'WYRequisition',_oAuthorizationRolesMapping)) {$("#btnDelete").show();}
                if (PermissionChecker('Approved', 'WYRequisition',_oAuthorizationRolesMapping)) {$("#btnApprove").show();}

            }
            else
            {
                $('#btnDisburse,#btnUndoApprove,#btnReceive,#btnUndoDisburse,#btnDisburse,#btnUndoApprove').hide();
                //$('#btnEdit,#btnDelete,#btnApprove').show();
                if (PermissionChecker('Edit', 'WYRequisition',_oAuthorizationRolesMapping)) {$("#btnEdit").show();}
                if (PermissionChecker('Delete', 'WYRequisition',_oAuthorizationRolesMapping)) {$("#btnDelete").show();}
                if (PermissionChecker('Approved', 'WYRequisition',_oAuthorizationRolesMapping)) {$("#btnApprove").show();}
            }

            debugger;
            if(rowData.WYarnTypeInt==2 || rowData.WYarnTypeInt==4)
            {
                $('#btnPrintTFReport,#btnPreviewWeft').hide();
                if (PermissionChecker('Preview', 'WYRequisition',_oAuthorizationRolesMapping)) {$("#btnPreview").show();}
            }
            else if(rowData.WYarnTypeInt==1)
            {
                $('#btnPreview,#btnPrintTFReport,#btnPreviewWeft').hide();
                if(rowData.WarpWeftType == 1){//warp
                    if (PermissionChecker('Preview', 'WYRequisition',_oAuthorizationRolesMapping)) {$("#btnPrintTFReport").show();}
                }else if(rowData.WarpWeftType == 2){//weft
                    if (PermissionChecker('Preview', 'WYRequisition',_oAuthorizationRolesMapping)) {$("#btnPreviewWeft").show();}
                }
                
            }
            else{
                $('#btnPrintTFReport,#btnPreviewWeft,#btnPreview').hide();
            }

        }
    }

    function RefreshControlLayout()
    {
        $("#btnAdvSearch,#btnAdd,#btnEdit,#btnDelete,#btnApprove,#btnUndoApprove,#btnDisburse,#btnUndoDisburse,#btnReceive").hide();

        if (PermissionChecker('AdvSearch', 'WYRequisition',_oAuthorizationRolesMapping)) {$("#btnAdvSearch").show();}
        if (PermissionChecker('Add', 'WYRequisition',_oAuthorizationRolesMapping)) {$("#btnAdd").show();}
        if (PermissionChecker('Edit', 'WYRequisition',_oAuthorizationRolesMapping)) {$("#btnEdit").show();}
        //if (PermissionChecker('View', 'WYRequisition',_oAuthorizationRolesMapping)) {$("#btnView").show();}
        if (PermissionChecker('Delete', 'WYRequisition',_oAuthorizationRolesMapping)) {$("#btnDelete").show();}
        if (PermissionChecker('Approved', 'WYRequisition',_oAuthorizationRolesMapping)) {$("#btnApprove,#btnUndoApprove").show();}
        if (PermissionChecker('Disburse', 'WYRequisition',_oAuthorizationRolesMapping)) {$("#btnDisburse,#btnUndoDisburse").show();}
        if (PermissionChecker('Received', 'WYRequisition',_oAuthorizationRolesMapping)) {$("#btnReceive").show();}
        //if (PermissionChecker('Preview', 'WYRequisition',_oAuthorizationRolesMapping)) {$("#btnPreview,#btnPrintTFReport,#btnPreviewWeft").show();}

    }
    /*------------------------------------*/

    $("#btnAdd").click(function(){
        debugger;
        sessionStorage.setItem("Operation", "New");
        sessionStorage.setItem("SelectedRowIndex", -1);
        sessionStorage.setItem("DOHeader", "Add Order");
        sessionStorage.setItem("WYRequisitions", JSON.stringify($('#tblWYRequisition').datagrid('getRows')));
        sessionStorage.setItem("BackLink", window.location.href);
        var tsv=((new Date()).getTime())/1000;
        window.location.href = _sBaseAddress+ "/WYRequisition/View_WYRequisition?id=0&buid="+_nBUID+"&nLayoutType="+_nLayoutType;
    });

    $('#btnEdit').click(function (e)
    {
        var oWYRequisition = $('#tblWYRequisition').datagrid('getSelected');
        if (oWYRequisition ==null || oWYRequisition.WYRequisitionID <=0 ) { alert("Please select an item from list."); return ; }
        var nIndex=$('#tblWYRequisition').datagrid('getRowIndex',oWYRequisition);
        if (oWYRequisition.ApprovedBy!=0 )
        { alert("Already Approve,You can't Change it."); return ; }
        sessionStorage.setItem("Operation", "Edit");
        sessionStorage.setItem("SelectedRowIndex", nIndex);
        sessionStorage.setItem("DOHeader", "Edit Order");
        sessionStorage.setItem("WYRequisitions", JSON.stringify($('#tblWYRequisition').datagrid('getRows')));
        sessionStorage.setItem("BackLink", window.location.href);
        var tsv=((new Date()).getTime())/1000;
        window.location.href = _sBaseAddress+ "/WYRequisition/View_WYRequisition?id="+oWYRequisition.WYRequisitionID+"&buid="+_nBUID+"&nLayoutType="+_nLayoutType;

    });


    $('#btnDelete').click(function(e){
        var oWYRequisition = $('#tblWYRequisition').datagrid('getSelected');
        if (oWYRequisition ==null || oWYRequisition.WYRequisitionID <=0 ) { alert("Please select an item from list."); return ; }
        if (oWYRequisition.ApprovedBy!=0 )
        { alert("Already Approve,You can't Delete it."); return ; }
        if (oWYRequisition.DisburseBy!=0 )
        { alert("Already Disburse,You can't Delete it."); return ; }
        if (oWYRequisition.ApprovedBy!=0 )
        { alert("Already Disburse,You can't Delete it."); return ; }
        if (!confirm("Confirm to delete?")) return;
        sessionStorage.clear();
        var obj =
        {
            BaseAddress: _sBaseAddress,
            Object: oWYRequisition,
            ControllerName: "WYRequisition",
            ActionName: "Delete",
            TableId: "tblWYRequisition",
            IsWinClose: false
        };
        $.icsDelete(obj);

    });


    $("#btnUndoDisburse").click(function () {
        debugger;
        var oWYRequisition = $('#tblWYRequisition').datagrid('getSelected');
        if (oWYRequisition ==null || oWYRequisition.WYRequisitionID <=0 ) { alert("Please select an item from list."); return ; }
        var  nSelectedIndex = $('#tblWYRequisition').datagrid('getRowIndex', oWYRequisition);

        //if(!confirm("Confirm To Create Delivery Order(DO)")) return false;
        var obj = {
            BaseAddress: _sBaseAddress,
            Object: oWYRequisition,
            ObjectId: oWYRequisition.WYRequisitionID,
            ControllerName: "WYRequisition",
            ActionName: "UndoDisburse",
            TableId: "tblWYRequisition",
            IsWinClose: false,
            Message: "Undo Disburse Successfully!!"
        };
        $.icsSave(obj);
        var nSelectedIndex = $('#tblWYRequisition').datagrid('getRowIndex', oDyeingOrder);
        $('#tblWYRequisition').datagrid('updateRow', { index: nSelectedIndex, row: oDyeingOrder });
    });

    $("#btnUndoApprove").click(function () {
        debugger;
        var oWYRequisition = $('#tblWYRequisition').datagrid('getSelected');
        if (oWYRequisition ==null || oWYRequisition.WYRequisitionID <=0 ) { alert("Please select an item from list."); return ; }
        var  nSelectedIndex = $('#tblWYRequisition').datagrid('getRowIndex', oWYRequisition);

        //if(!confirm("Confirm To Create Delivery Order(DO)")) return false;
        var obj = {
            BaseAddress: _sBaseAddress,
            Object: oWYRequisition,
            ObjectId: oWYRequisition.WYRequisitionID,
            ControllerName: "WYRequisition",
            ActionName: "UndoApprove",
            TableId: "tblWYRequisition",
            IsWinClose: false,
            Message: "Undo Approve Successfully!!"
        };
        $.icsSave(obj);
        var nSelectedIndex = $('#tblWYRequisition').datagrid('getRowIndex', oDyeingOrder);
        $('#tblWYRequisition').datagrid('updateRow', { index: nSelectedIndex, row: oDyeingOrder });
    });

    $('#btnView').click(function (e)
    {
        var oWYRequisition = $('#tblWYRequisition').datagrid('getSelected');
        if (oWYRequisition ==null || oWYRequisition.WYRequisitionID <=0 ) { alert("Please select an item from list."); return ; }
        var nIndex=$('#tblWYRequisition').datagrid('getRowIndex',oWYRequisition);
       
        sessionStorage.setItem("Operation", "View");
        sessionStorage.setItem("SelectedRowIndex", nIndex);
        sessionStorage.setItem("DOHeader", "View Order");
        sessionStorage.setItem("WYRequisitions", JSON.stringify($('#tblWYRequisition').datagrid('getRows')));
        sessionStorage.setItem("BackLink", window.location.href);
        var tsv=((new Date()).getTime())/1000;
        window.location.href = _sBaseAddress+ "/WYRequisition/View_WYRequisition?id="+oWYRequisition.WYRequisitionID+"&buid="+_nBUID+"&nLayoutType="+_nLayoutType;

    });

    $('#btnApprove').click(function(e){
        debugger;
        var oWYRequisition = $('#tblWYRequisition').datagrid('getSelected');
        if (oWYRequisition ==null || oWYRequisition.WYRequisitionID <=0 ) { alert("Please select an item from list."); return ; }
        var nIndex=$('#tblWYRequisition').datagrid('getRowIndex',oWYRequisition);
       
        sessionStorage.setItem("Operation", "Approve");
        sessionStorage.setItem("SelectedRowIndex", nIndex);
        sessionStorage.setItem("DOHeader", "Approve Order");
        sessionStorage.setItem("WYRequisitions", JSON.stringify($('#tblWYRequisition').datagrid('getRows')));
        sessionStorage.setItem("BackLink", window.location.href);
        var tsv=((new Date()).getTime())/1000;
        window.location.href = _sBaseAddress+ "/WYRequisition/View_WYRequisition?id="+oWYRequisition.WYRequisitionID+"&buid="+_nBUID+"&nLayoutType="+_nLayoutType;


    });
    $('#btnDisburseA').click(function(e){
        debugger;
        var oWYRequisition = $('#tblWYRequisition').datagrid('getSelected');
        if (oWYRequisition ==null || oWYRequisition.WYRequisitionID <=0 ) { alert("Please select an item from list."); return ; }

        if(oWYRequisition==null || oWYRequisition.WYRequisitionID<=0)
        {
            alert("Please select a item from list!");
            return;
        }

        if(oWYRequisition.ApprovedBy==0)
        {
            alert("Pelase Select Only Approved Item .");
            return;
        }
        //if(parseInt(oWYRequisition.DisburseBy)!=0)
        //{
        //    alert("Sorry, Already Disbursed.");
        //    return;
        //}

        var nIndex=$('#tblWYRequisition').datagrid('getRowIndex',oWYRequisition);
        sessionStorage.setItem("Operation", "Disburse");
        sessionStorage.setItem("SelectedRowIndex", nIndex);
        sessionStorage.setItem("DOHeader", "Approve");
        sessionStorage.setItem("WYRequisitions", JSON.stringify($('#tblWYRequisition').datagrid('getRows')));
        sessionStorage.setItem("BackLink", window.location.href);
        var tsv=((new Date()).getTime())/1000;
        window.location.href = _sBaseAddress+ "/WYRequisition/View_WYRequisition?id="+oWYRequisition.WYRequisitionID+"&buid="+_nBUID+"&nLayoutType="+_nLayoutType;

    });
    $('#btnReceive').click(function(e){
        debugger;
        var oWYRequisition = $('#tblWYRequisition').datagrid('getSelected');
        if (oWYRequisition ==null || oWYRequisition.WYRequisitionID <=0 ) { alert("Please select an item from list."); return ; }

        if(oWYRequisition==null || oWYRequisition.WYRequisitionID<=0)
        {
            alert("Please select a item from list!");
            return;
        }

        if(oWYRequisition.ApprovedBy==0)
        {
            alert("Pelase Select Only Approved Item .");
            return;
        }
        if(parseInt(oWYRequisition.DisburseBy)==0)
        {
            alert("Pelase Select Only Disbursed Item.");
            return;
        }

        if(parseInt(oWYRequisition.ReceivedBy)!=0)
        {
            alert("Already Received.");
            return;
        }

        var nIndex=$('#tblWYRequisition').datagrid('getRowIndex',oWYRequisition);
        sessionStorage.setItem("Operation", "Received");
        sessionStorage.setItem("SelectedRowIndex", nIndex);
        sessionStorage.setItem("DOHeader", "Received");
        sessionStorage.setItem("WYRequisitions", JSON.stringify($('#tblWYRequisition').datagrid('getRows')));
        sessionStorage.setItem("BackLink", window.location.href);
        var tsv=((new Date()).getTime())/1000;
        window.location.href = _sBaseAddress+ "/WYRequisition/View_WYRequisition?id="+oWYRequisition.WYRequisitionID+"&buid="+_nBUID+"&nLayoutType="+_nLayoutType;

    });



    $('#btnPrint').click(function (e)
    {
        var oWYRequisition = $('#tblWYRequisition').datagrid('getSelected');
        if (oWYRequisition ==null || oWYRequisition.WYRequisitionID <=0 ) { alert("Please select an item from list."); return ; }
        var tsv=((new Date()).getTime())/1000;
        window.open(_sBaseAddress+ "/WYRequisition/PrintWYRequisition?nId="+oWYRequisition.WYRequisitionID+"&nts="+tsv, "_blank");
    });

    $('#btnPrintList').click(function(){

        var oWYRequisitions= $('#tblWYRequisition').datagrid('getRows');
        if(oWYRequisitions.length<=0)
        {
            alert("Data not found ");
            return;
        }
        var sWYRequisitionIDs = "";
        for(var i = 0;i<oWYRequisitions.length;i++)
        {
            sWYRequisitionIDs+= oWYRequisitions[i].WYRequisitionID+",";
        }
        sWYRequisitionIDs = sWYRequisitionIDs.substring(0, sWYRequisitionIDs.length-1);
        var oWYRequisition = {ErrorMessage:sWYRequisitionIDs,BUID:_nBUID};
        $.ajax({
            type: "POST",
            dataType: "json",
            url : _sBaseAddress+  "/WYRequisition/SetWYRequisitionListData",
            traditional: true,
            data:  JSON.stringify(oWYRequisition),
            contentType: "application/json; charset=utf-8",
            success: function (data) {
                var sFeedBackMessage = jQuery.parseJSON(data);
                if (sFeedBackMessage==="Successful")
                {
                    window.open (_sBaseAddress+ "/WYRequisition/PrintWYRequisitionDetails");
                }
            },
            error: function (xhr, status, error) {
                alert(error);
            }
        });

    });


    $('#btnPrintListExcel').click(function(){

        var checkDate = CheckFromAndToDateValidation("cboDate", "txtFromDateAdvSearch", "txtToDateAdvSearch");
        if (!checkDate) {
            alert("Issue Start date must be greater than end date.");
            return;
        }
        checkDate = CheckFromAndToDateValidation("cboReceiveDate", "txtFromReceiveDateAdvSearch", "txtToReceiveDateAdvSearch");
        if (!checkDate) {
            alert("Receive Start date must be greater than end date.");
            return;
        }
        checkDate = CheckFromAndToDateValidation("cboDisburseDate", "txtFromDisburseDateAdvSearch", "txtToDisburseDateAdvSearch");
        if (!checkDate) {
            alert("Disburse Start date must be greater than end date.");
            return;
        }

        var sDispoNo = $("#txtDispoNo").val();
        var nLayoutType=parseInt($("#cboLayoutType").val());
        var nWarpWeftType = parseInt($("#cboWarpWeftType").val());
        if(nLayoutType == 0){
            alert("Please select layout Type!!");
            return;
        }
        if(nLayoutType == 1){//Dyed Yarn
            if(nWarpWeftType == 0){
                alert("Please select Warp/Weft Type!!");
                return;
            }
        }
        var ncboDate = parseInt($("#cboDate").val());
        var dFromDate = $('#txtFromDateAdvSearch').datebox('getValue');
        var dToDate = $('#txtToDateAdvSearch').datebox('getValue');

        var ncboReceiveDate = parseInt($("#cboReceiveDate").val());
        var dFromReceiveDate = $('#txtFromReceiveDateAdvSearch').datebox('getValue');
        var dToReceiveDate = $('#txtToReceiveDateAdvSearch').datebox('getValue');

        var sBuyerIDs = $("#winAdvSearch").data("BuyerID");
        var nStatus = parseInt($("#cboStatus").val());

        var ncboDisburseDate = parseInt($("#cboDisburseDate").val());
        var dFromDisburseDate = $('#txtFromDisburseDateAdvSearch').datebox('getValue');
        var dToDisburseDate = $('#txtToDisburseDateAdvSearch').datebox('getValue');

        var sLotNo = $("#txtLotNo").val();
        var ncboRequsitionType = parseInt($("#cboRequsitionType").val());
        var ncboIssueStore = parseInt($("#cboIssueStore").val());
        var ncboReceiveStore = parseInt($("#cboReceiveStore").val());
        var sYarnIDs = $("#winAdvSearch").data("YarnID");

        var SearchStringDate = ncboDate + "~" +
                      dFromDate + "~" +
                      dToDate + "~" +
                    ncboReceiveDate + "~" +
                    dFromReceiveDate + "~" +
                    dToReceiveDate + "~" +
                    nStatus + "~" +
                    ""+ "~" +

                    ncboDisburseDate + "~" +
                    dFromDisburseDate + "~" +
                    dToDisburseDate + "~" +
                    ncboRequsitionType+ "~" +
                    ncboIssueStore + "~" +
                    ncboReceiveStore;

        var oWYRequisition = {
            SearchStringDate : SearchStringDate,
            DispoNo:sDispoNo,
            WYarnType: nLayoutType,
            WarpWeftType: nWarpWeftType,
            BuyerName: sBuyerIDs,
            ProductName: sYarnIDs,
            LotNo: sLotNo
        };

        $.ajax({
            type: "POST",
            dataType: "json",
            url : _sBaseAddress+  "/WYRequisition/SetFabricExecutionOrderYarnReceiveData",
            traditional: true,
            data:  JSON.stringify(oWYRequisition),
            contentType: "application/json; charset=utf-8",
            success: function (data) {
                var sFeedBackMessage = jQuery.parseJSON(data);
                if (sFeedBackMessage==="Successful")
                {
                    if(nLayoutType == 1 && nWarpWeftType == 1){
                        window.open (_sBaseAddress+ "/WYRequisition/WYRequisitionListExcel?isDyed="+true);
                    }else{
                        window.open (_sBaseAddress+ "/WYRequisition/WYRequisitionListExcel?isDyed="+false);
                    }
                }
            },
            error: function (xhr, status, error) {
                alert(error);
            }
        });

    });

    $("#btnReload").click(function() {
        window.location.href = _sBaseAddress+ '/WYRequisition/ViewWYRequisitions?'+"buid="+_nBUID+"&menuid="+_sMenuID; ;
    });

    $('#btnPreview').click(function (e)
    {
        var oWYRequisition = $('#tblWYRequisition').datagrid('getSelected');
        if (oWYRequisition ==null || oWYRequisition.WYRequisitionID <=0 ) { alert("Please select an item from list."); return ; }
        window.open(_sBaseAddress+'/WYRequisition/WYRequisitionPreview?nWYRequisitionID='+oWYRequisition.WYRequisitionID+'&nBUID='+_nBUID);
    });

    $('#btnPrintTFReport').click(function (e)
    {
        var oWYRequisition = $('#tblWYRequisition').datagrid('getSelected');
        if (oWYRequisition ==null || oWYRequisition.WYRequisitionID <=0 ) { alert("Please select an item from list."); return ; }

        $.ajax({
            type: "POST",
            dataType: "json",
            url : _sBaseAddress+  "/WYRequisition/SetSessionSearchCriteria",
            traditional: true,
            data:  JSON.stringify(oWYRequisition),
            contentType: "application/json; charset=utf-8",
            success: function (data) {
                var sFeedBackMessage = jQuery.parseJSON(data);
                if (sFeedBackMessage==="Successful")
                {
                    window.open(_sBaseAddress+'/WYRequisition/PrintWYRequisitions?buid='+_nBUID);
                }
            },
            error: function (xhr, status, error) {
                alert(error);
            }
        });


    });

    $('#btnPreviewWeft').click(function (e)
    {
        var oWYRequisition = $('#tblWYRequisition').datagrid('getSelected');
        if (oWYRequisition ==null || oWYRequisition.WYRequisitionID <=0 ) { alert("Please select an item from list."); return ; }

        $.ajax({
            type: "POST",
            dataType: "json",
            url : _sBaseAddress+  "/WYRequisition/SetSessionSearchCriteria",
            traditional: true,
            data:  JSON.stringify(oWYRequisition),
            contentType: "application/json; charset=utf-8",
            success: function (data) {
                var sFeedBackMessage = jQuery.parseJSON(data);
                if (sFeedBackMessage==="Successful")
                {
                    window.open(_sBaseAddress+'/WYRequisition/PrintWYRequisitions_WeftYarn?buid='+_nBUID);
                }
            },
            error: function (xhr, status, error) {
                alert(error);
            }
        });


    });

    ////Start adv Searching

    function updateProgress() {
        var value =$('#progressbar').progressbar('getValue');
        if (value < 96){
            value += Math.floor(Math.random() * 10);
            $('#progressbar').progressbar('setValue', value);
        }
    }
    function hideShow(miliseconds) {
        $("#progressbarParent").hide();
    }

    $("#btnResetAdvSearch").click(function () {
        ResetAdvSearchWindow();
        //DateActionsOrderDateAdvSearch();
    });

    $("#btnSearchAdvSearch").click(function () {
        debugger;

        $(".lblLoadingMessage").show();

        var checkDate = CheckFromAndToDateValidation("cboDate", "txtFromDateAdvSearch", "txtToDateAdvSearch");
        if (!checkDate) {
            alert("Issue Start date must be greater than end date.");
            return;
        }
        checkDate = CheckFromAndToDateValidation("cboReceiveDate", "txtFromReceiveDateAdvSearch", "txtToReceiveDateAdvSearch");
        if (!checkDate) {
            alert("Receive Start date must be greater than end date.");
            return;
        }
        checkDate = CheckFromAndToDateValidation("cboDisburseDate", "txtFromDisburseDateAdvSearch", "txtToDisburseDateAdvSearch");
        if (!checkDate) {
            alert("Disburse Start date must be greater than end date.");
            return;
        }

        var sDispoNo = $("#txtDispoNo").val();
        var nLayoutType=parseInt($("#cboLayoutType").val());

        var ncboDate = parseInt($("#cboDate").val());
        var dFromDate = $('#txtFromDateAdvSearch').datebox('getValue');
        var dToDate = $('#txtToDateAdvSearch').datebox('getValue');

        var nWarpWeftType = parseInt($("#cboWarpWeftType").val());

        var ncboReceiveDate = parseInt($("#cboReceiveDate").val());        
        var dFromReceiveDate = $('#txtFromReceiveDateAdvSearch').datebox('getValue');
        var dToReceiveDate = $('#txtToReceiveDateAdvSearch').datebox('getValue');

        var sLotNo = $("#txtLotNo").val();
        var ncboRequsitionType = parseInt($("#cboRequsitionType").val());
        var ncboIssueStore = parseInt($("#cboIssueStore").val());
        var ncboReceiveStore = parseInt($("#cboReceiveStore").val());
        var sYarnIDs = $("#winAdvSearch").data("YarnID");

        var ncboDisburseDate = parseInt($("#cboDisburseDate").val());
        var dFromDisburseDate = $('#txtFromDisburseDateAdvSearch').datebox('getValue');
        var dToDisburseDate = $('#txtToDisburseDateAdvSearch').datebox('getValue');

        var sBuyerIDs = $("#winAdvSearch").data("BuyerID");
        var nStatus = parseInt($("#cboStatus").val());

        var SearchStringDate = ncboDate + "~" +
                      dFromDate + "~" +
                      dToDate + "~" +
                    ncboReceiveDate + "~" +
                    dFromReceiveDate + "~" +
                    dToReceiveDate + "~" +
                    nStatus + "~" +
                    ""+ "~" +

                    ncboDisburseDate + "~" +
                    dFromDisburseDate + "~" +
                    dToDisburseDate + "~" +
                    ncboRequsitionType+ "~" +
                    ncboIssueStore + "~" +
                    ncboReceiveStore;

        var oWYRequisition = {
            SearchStringDate : SearchStringDate,
            DispoNo:sDispoNo,
            WYarnType: nLayoutType,
            WarpWeftType: nWarpWeftType,
            BuyerName: sBuyerIDs,
            ProductName: sYarnIDs,
            LotNo: sLotNo
        };

        $.ajax({
            type: "POST",
            dataType: "json",
            url: _sBaseAddress + "/WYRequisition/AdvSearch",
            traditional: true,
            data: JSON.stringify(oWYRequisition),
            contentType: "application/json; charset=utf-8",
            success: function (data) {
                //var oWYRequisitions = jQuery.parseJSON(data);
                var oWYRequisitions = data;
                debugger;
                if (oWYRequisitions != null) {
                    if (oWYRequisitions.length > 0)
                    {
                        DynamicRefreshList(oWYRequisitions, "tblWYRequisition");
                        $("#winAdvSearch").icsWindow("close");
                    }
                    else
                    {
                        alert("Sorry, No data found.");
                        //DynamicRefreshList([], "tblWYRequisition");
                    }

                } else {
                    alert("Sorry, No data found.");
                    //DynamicRefreshList([], "tblWYRequisition");
                }
                $(".lblLoadingMessage").hide();
            }
        });
    });
    $("#txtSearchByClaimNo").keydown(function (e) {
        var nkeyCode = e.keyCode || e.which;
        if(nkeyCode==13){
            //var SearchStringDate = 0 + "~" +
            //          icsdateformat(new Date()) + "~" +
            //          icsdateformat(new Date()) + "~" +
            //            0 + "~" +
            //            icsdateformat(new Date()) + "~" +
            //            icsdateformat(new Date()) + "~" +
            //            0 + "~" +
            //            "";
            var oWYRequisition = {
                //SearchStringDate : SearchStringDate,
                DispoNo:$('#txtSearchByClaimNo').val()
            };
            GetsOrders(oWYRequisition);
        }
        else if(nkeyCode==8){
            $("#txtSearchByClaimNo").val("");

        }
    });

    $("#txtSearchByReqNo").keydown(function (e) {
        var nkeyCode = e.keyCode || e.which;
        if(nkeyCode==13){
            var SearchStringDate = 0 + "~" +
                      icsdateformat(new Date()) + "~" +
                      icsdateformat(new Date()) + "~" +
                        0 + "~" +
                        icsdateformat(new Date()) + "~" +
                        icsdateformat(new Date()) + "~" +
                        0 + "~" +
                        $('#txtSearchByReqNo').val()+ "~" +
                        0 + "~" +
                        icsdateformat(new Date()) + "~" +
                        icsdateformat(new Date()) + "~" +
                        0+ "~" +
                        0 + "~" +
                        0;

            var oWYRequisition = {
                SearchStringDate : SearchStringDate
            };
            GetsOrders(oWYRequisition);
        }
        else if(nkeyCode==8){
            $("#txtSearchByClaimNo").val("");

        }
    });

    $("#txtBatchNo").keydown(function (e) {
        var nkeyCode = e.keyCode || e.which;
        if(nkeyCode==13){
            var oWYRequisition = {
                LotNo: $("#txtBatchNo").val()
            };
            GetsOrders(oWYRequisition);
        }
        else if(nkeyCode==8){
            $("#txtSearchByClaimNo").val("");

        }
    });

    function GetsOrders(oWYRequisition)
    {
        $.ajax
          ({
              type: "POST",
              dataType: "json",
              url : _sBaseAddress+"/WYRequisition/AdvSearch",
              data:  JSON.stringify(oWYRequisition),
              contentType: "application/json; charset=utf-8",
              success: function (data) {
                  //debugger;
                  //var oWYRequisitions = jQuery.parseJSON(data);
                  var oWYRequisitions = data;
                  if (oWYRequisitions.length>0)
                  {
                      DynamicRefreshList(oWYRequisitions, "tblWYRequisition");
                  }
                  else
                  {
                      alert("Data Not found");
                      //DynamicRefreshList([], "tblWYRequisition");
                  }
              },
              error: function (xhr, status, error)
              {
                  alert(error);
              }
          });
    }

    function LoadComboAdv()
    {
        $("#cboOrderType").icsLoadCombo({
            List: _oDUOrderSetups,
            OptionValue: "OrderType",
            DisplayText: "ShortName",
        });
        $("#cboDate").icsLoadCombo({
            List: _oCompareOperators,
            OptionValue: "id",
            DisplayText: "Value"
        });
        $("#cboReceiveDate").icsLoadCombo({
            List: _oCompareOperators,
            OptionValue: "id",
            DisplayText: "Value"
        });
        $("#cboDisburseDate").icsLoadCombo({
            List: _oCompareOperators,
            OptionValue: "id",
            DisplayText: "Value"
        });

    }
    function CheckFromAndToDateValidation(OperationComboId, FromDateId, ToDateId) {
        $("#" + OperationComboId).parent().parent().parent().find("select").removeClass("errorFieldBorder");
        var nCboVal = $("#" + OperationComboId).val();
        if (parseInt(nCboVal) == 5 || parseInt(nCboVal) == 6) {
            var fromDate = $("#" + FromDateId).datebox("getValue");
            var toDate = $("#" + ToDateId).datebox("getValue");
            if (new Date(fromDate) > new Date(toDate)) {
                $("#" + ToDateId).focus();
                $("#" + OperationComboId).addClass("errorFieldBorder");
                $(".lblLoadingMessage").hide();
                return false;
            } else {
                $("#" + OperationComboId).removeClass("errorFieldBorder");
                return true;
            }
        } else {
            return true;
        }
    }

    function ResetAdvSearchWindow() {
        _sContractorIds = '';
        $("#winAdvSearch input").not("input[type='button']").val("");
        $("#winAdvSearch input").removeClass("fontColorOfPickItem");
        $("#winAdvSearch select").val(0);
        DateActionsOrderDateAdvSearch();
        DateActionsOrderRcvDateAdvSearch();
        DateActionsOrderDisburseDateAdvSearch();

        $("#txtFromDateAdvSearch,#txtToDateAdvSearch,#txtFromReceiveDateAdvSearch,#txtToReceiveDateAdvSearch,#txtFromDisburseDateAdvSearch,#txtToDisburseDateAdvSearch").datebox({ disabled: true });
        $("#txtFromDateAdvSearch,#txtToDateAdvSearch,#txtFromReceiveDateAdvSearch,#txtToReceiveDateAdvSearch,#txtFromDisburseDateAdvSearch,#txtToDisburseDateAdvSearch").datebox("setValue", icsdateformat(new Date()));
        $("#winAdvSearch").data("BuyerID","");
        $("#winAdvSearch").data("YarnID","");
    }

    function PickContractors_AdvS() {
        var oContractor = {
            Params: '2,3' + '~' + $.trim($("#txtContractorAdvS").val()+"~"+_nBUID)
        };
        var obj = {
            BaseAddress: _sBaseAddress,
            Object: oContractor,
            ControllerName: "Contractor",
            ActionName: "ContractorSearchByNameType",
            IsWinClose: false
        };

        $("#progressbar").progressbar({ value: 0 });
        $("#progressbarParent").show();
        var intervalID = setInterval(updateProgress, 250);

        DynamicRefreshList([], "tblAccountsPickerAdvSearch");
        $.icsDataGets(obj, function (response) {
            clearInterval(intervalID);
            $("#progressbarParent").hide();
            if (response.status && response.objs.length > 0) {
                if (response.objs[0].ContractorID > 0) {
                    var tblColums = []; var oColumn = { field: "ContractorID", title: "Code", width: 50, align: "left" }; tblColums.push(oColumn);
                    oColumn = { field: "Name", title: "Name", width: 280, align: "left" }; tblColums.push(oColumn);

                    var oPickerParam = {
                        winid: 'winContractorPicker',
                        winclass: 'clsAccountOf',
                        winwidth: 400,
                        winheight: 460,
                        tableid: 'tblAccountOfs',
                        tablecolumns: tblColums,
                        datalist: response.objs,
                        multiplereturn: true,
                        searchingbyfieldName: 'Name',
                        windowTittle: 'Contactor List'
                    };
                    $.icsPicker(oPickerParam);
                    IntializePickerbutton(oPickerParam);
                }
                else {
                    alert(response.objs[0].ErrorMessage);
                }
            }
            else {
                alert("Sorry, No Contactor Found.");
            }
        });
    }



    function DateActionsOrderDateAdvSearch() {
        DynamicDateActions("cboDate", "txtFromDateAdvSearch", "txtToDateAdvSearch");
    }
    function DateActionsOrderRcvDateAdvSearch() {
        DynamicDateActions("cboReceiveDate", "txtFromReceiveDateAdvSearch", "txtToReceiveDateAdvSearch");
    }
    function DateActionsOrderDisburseDateAdvSearch() {
        DynamicDateActions("cboDisburseDate", "txtFromDisburseDateAdvSearch", "txtToDisburseDateAdvSearch");
    }


    $("#btnCloseAdvSearch").click(function () {
        $("#winAdvSearch").icsWindow("close");
    });
    $("#btnAdvSearch").click(function () {
        debugger;
        $("#winAdvSearch").icsWindow("open", "Claim Order Advance Search");
        //DynamicRefreshList([], "tblExportPIAdvSearch");
        DynamicResetAdvSearchWindow("winAdvSearch");
        DynamicDateActions("cboDateOptionAdvSearch", "txtFromDateAdvSearch", "txtToDateAdvSearch");
        DynamicDateActions("cboReceiveDate", "txtFromReceiveDateAdvSearch", "txtToReceiveDateAdvSearch");
        DynamicDateActions("cboDisburseDate", "txtFromDisburseDateAdvSearch", "txtToDisburseDateAdvSearch");
        ResetAdvSearchWindow();
        if(_nLayoutType > 0){
            $("#cboLayoutType").val(_nLayoutType);
            $("#cboLayoutType").prop("disabled", true);
        }
    });

    //start buyer picker
    function BuyerKeyDown(event) {
        //return;
        if (event.which == 13) {
            var oTxtName=$("#txtBuyerName").val();
            if (oTxtName != null) {
                PickBuyer(oTxtName);
            }
        }
        if (event.which == 8) //backspace=8
        {
            //debugger;
            txtBuyerName.style.color = "black";
            txtBuyerName.style.fontWeight = "normal";
            $("#winAdvSearch").data("BuyerID","");

        }
    }

    function PickBuyer(oTxtName)
    {
        var oStyleSearch = { Params: '2,3' + '~' + (typeof(oTxtName) != 'undefined'?oTxtName:"") };
        debugger;
        var obj = {
            BaseAddress:_sBaseAddress,
            Object: (oStyleSearch) ,
            ControllerName: "Contractor",
            ActionName: "ContractorSearchByNameType",
            IsWinClose: false
        };
        var tblColums = []; var oColumn = { field: "Name", title: "Name", width: 200, align: "left" }; tblColums.push(oColumn);
        oColumn = { field: "Address", title: "Address", width: 120, align: "left" }; tblColums.push(oColumn);
        oColumn = { field: "Email", title: "Email", width: 90, align: "left" }; tblColums.push(oColumn);
        oColumn = { field: "ShortName", title: "Short Name", width: 90, align: "left" }; tblColums.push(oColumn);
        DynamicPiker('Buyer',obj,tblColums,true,'Name','ContractorID'); //pickerName(unique),obj,table,multiReturn,SearchingField, pkID
    }

    function SetBuyer(oSelectedStyle) {
        debugger;
        txtBuyerName.style.color = "green";
        txtBuyerName.style.fontWeight = "bold";
        if(oSelectedStyle.length == 1){
            document.getElementById("txtBuyerName").value = oSelectedStyle[0].Name;
        }
        else if(oSelectedStyle.length > 1){
            document.getElementById("txtBuyerName").value = "You have selected " + oSelectedStyle.length + " buyers.";
        }
        var ids = "";
        var len = oSelectedStyle.length;
        for (var i = 0; i < len; i++) {

            ids += oSelectedStyle[i].ContractorID + ",";
        }
        if(ids.length > 0){
            ids = ids.substring(0, ids.length-1);
        }

        $("#winAdvSearch").data("BuyerID",ids);
        $("#txtBuyerName").focus();
    }
        //end buyer picker

    //start Yarn picker
    function YarnKeyDown(event) {
        //return;
        if (event.which == 13) {
            var oTxtName=$("#txtYarnName").val();
            if (oTxtName != null) {
                PickYarn(oTxtName);
            }
        }
        if (event.which == 8) //backspace=8
        {
            //debugger;
            txtYarnName.style.color = "black";
            txtYarnName.style.fontWeight = "normal";
            $("#winAdvSearch").data("YarnID","0");

        }
    }

    function PickYarn(oTxtName)
    {
        var oStyleSearch = { Params: (typeof(oTxtName) != 'undefined'?oTxtName:"")  };
        debugger;
        var obj = {
            BaseAddress:_sBaseAddress,
            Object: (oStyleSearch) ,
            ControllerName: "DURequisition",
            ActionName: "YarnSearchByName",
            IsWinClose: false
        };
        var tblColums = []; var oColumn = { field: "ProductName", title: "Name", width: 200, align: "left" }; tblColums.push(oColumn);
        oColumn = { field: "ProductCode", title: "Code", width: 120, align: "left" }; tblColums.push(oColumn);
        DynamicPiker('Yarn',obj,tblColums,true,'ProductName','ProductID'); //pickerName(unique),obj,table,multiReturn,SearchingField, pkID
    }

    function SetYarn(oSelectedStyle) {
        debugger;
        txtYarnName.style.color = "green";
        txtYarnName.style.fontWeight = "bold";
        if(oSelectedStyle.length == 1){
            document.getElementById("txtYarnName").value = oSelectedStyle[0].ProductName;
        }
        else if(oSelectedStyle.length > 1){
            document.getElementById("txtYarnName").value = "You have selected " + oSelectedStyle.length + " Yarns.";
        }
        var ids = "";
        var len = oSelectedStyle.length;
        for (var i = 0; i < len; i++) {

            ids += oSelectedStyle[i].ProductID + ",";
        }
        if(ids.length > 0){
            ids = ids.substring(0, ids.length-1);
        }

        $("#winAdvSearch").data("YarnID",ids);
        $("#txtYarnName").focus();
    }
    //end Yarn picker

    function SetPickerValueAssign(oPickerobj)
    {
        debugger;
        var oResult;
        if (oPickerobj.multiplereturn)
        {
            oResult = $('#'+oPickerobj.tableid).datagrid('getChecked');
        }
        else
        {
            oResult = $('#'+oPickerobj.tableid).datagrid('getSelected');
        }

        if (oPickerobj.winid == 'winBuyer')
        {
            SetBuyer(oResult);
        }
        else if (oPickerobj.winid == 'winYarn')
        {
            SetYarn(oResult);
        }

        $("#" + oPickerobj.winid).icsWindow("close");
        $("#" + oPickerobj.winid).remove();
    }
    function updateProgress() {
        var value =$('#progressbar').progressbar('getValue');
        if (value < 90){
            value += Math.floor(Math.random() * 10);
            $('#progressbar').progressbar('setValue', value);
        }
    }
    function hideShow(miliseconds) {
        $("#progressbarParent").hide();
    }
    function DynamicPiker(pickerName,obj,pTblColums,pMultiReturn,pSearchField,pID)
    {
        debugger;
        $("#progressbar").progressbar({ value: 0 });
        $("#progressbarParent").show();
        setInterval(updateProgress,250);

        $.icsDataGets(obj, function (response) {
            debugger;
            if (response.status && response.objs.length > 0) {
                if (response.objs[0][pID] > 0) {
                    debugger;
                    var tblColums = pTblColums;
                    var oPickerParam = {
                        winid: 'win'+pickerName,
                        winclass: 'cls'+pickerName,
                        winwidth: 600,
                        winheight: 460,
                        tableid: 'tbl'+pickerName+'s',
                        tablecolumns: tblColums,
                        datalist: response.objs,
                        multiplereturn: pMultiReturn,
                        searchingbyfieldName: pSearchField,
                        windowTittle: pickerName+' List',
                        colsable:true
                    };
                    $.icsPicker(oPickerParam);
                    $("#progressbar").progressbar({ value: 0 });//hide
                    $("#progressbarParent").hide();
                    IntializePickerbutton(oPickerParam);
                }
                else { alert(response.objs[0].ErrorMessage); }
            }
            else{
                alert("Data Not Found.");
                $("#progressbar").progressbar({ value: 0 });//hide
                $("#progressbarParent").hide();
                return;
            }
        });
    }
    function IntializePickerbutton(oPickerobj) {
        debugger;
        $("#" + oPickerobj.winid).find("#btnOk").click(function () {
            debugger;
            //for Single Select
            SetPickerValueAssign(oPickerobj);
        });
        $(document).find('.' + oPickerobj.winclass).keydown(function (e) {
            if (e.which == 13)//enter=13
            {
                SetPickerValueAssign(oPickerobj);
            }
            else if (e.which == 27)//enter=13
            {
                $("#" + oPickerobj.winid).icsWindow("close");
                $("#" + oPickerobj.winid).remove();
            }
        });
    }

</script>
