<html>
@{
    ViewBag.Title = "Pre Invoice Entry";
}
<body>
    @model ESimSol.BusinessObjects.PreInvoice
    <div class="menuMainCollectionTable" ng-app="PreInvoiceApp" ng-controller="PreInvoiceController as MLCC" id="divPreInvoice" style="height:97%">
        <div style="height:5%; overflow:hidden; padding-left:5px;" class="ui-grid-top-panel">
            <label style="">Pre Invoice Entry :</label>
        </div>
        <div style="height:87%; overflow:scroll; padding-top:10px">
            <div style="font-family:Tahoma;text-align:center;height:90%" class="regionVR">
                @*CLIENT DETAILS & Image*@
                <div class="col-md-12 text-left">
                     <fieldset style="padding: 2% 2% 2% 10%">
                            <legend>Client Details: </legend>
                         <div class="row">
                             <div class="col-md-12">
                                 <div class="col-md-5 align-left">
                                     <div class="col-md-4 text-right">
                                         <label class="control-label">Invoice No:</label>
                                     </div>
                                     <div class="col-md-8 align-left">
                                         <input type="text" ng-model="PreInvoice.InvoiceNo" class="form-control" disabled />
                                     </div>
                                 </div>
                                 <div class="col-md-5 align-left">
                                     <div class="col-md-4 text-right">
                                         <label class="control-label">Invoice Date:</label>
                                     </div>
                                     <div class="col-md-8 align-left">
                                         <div class="input-group date date-container">
                                             <input type="text" class="form-control" ng-model="PreInvoice.InvoiceDateST"><span class="input-group-addon"><i class="glyphicon glyphicon-th"></i></span>
                                         </div>
                                     </div>
                                 </div>
                             </div>
                             <div class="col-md-12">
                                 <div class="col-md-5 align-left">
                                     <div class="col-md-2 text-right" style="width:30%">
                                         <label class="control-label">Customer:</label>
                                     </div>
                                     <div class="col-md-8 align-left">
                                         <div class="input-group">
                                             <input ng-model="PreInvoice.CustomerName" type="text" class="form-control" ng-keydown="SearchKeyDownBuyer($event)" placeholder="Type Customer Name & Press Enter" required />
                                             <span class="input-group-btn">
                                                 <button style="margin-left:3px" type="button" class="btn btn-sm" aria-label="left Align" ng-click="ClearBuyer()">C </button>
                                                 <button style="margin-left:3px" type="button" class="btn btn-sm" aria-label="Left Align" ng-click="PickBuyer()"> <span class="glyphicon glyphicon-search" aria-hidden="true"></span></button>
                                             </span>
                                         </div>
                                     </div>
                                 </div>
                                 <div class="col-md-5 align-left">
                                     <div class="col-md-4 text-right">
                                         <label class="control-label">CT Person:</label>
                                     </div>
                                     <div class="col-md-8 align-left">
                                         <div class="input-group">
                                             <select class="form-control" ng-model="PreInvoice.ContactPersonID" ng-options="oItem.ContactPersonnelID as oItem.Name for oItem in ContactPersonnels" ng-disabled="disabled">
                                                 <option value="">---Select Type---</option>
                                             </select>
                                             <span class="input-group-btn">
                                                 <button type="button" class="btn btn-sm" aria-label="left Align" ng-click="NewContactPerson()" ng-disabled="disabled">
                                                     <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
                                                 </button>
                                                 <button type="button" class="btn btn-sm" aria-label="left Align" ng-click="GetContactPersonel()" ng-disabled="disabled">
                                                     <span class="glyphicon glyphicon-refresh" aria-hidden="true"></span>
                                                 </button>
                                                 <span style="margin-left:2px;"></span>
                                             </span>
                                         </div>
                                     </div>
                                 </div>
                             </div>
                             <div class="col-md-12">
                                 <div class="col-md-5 align-left">
                                     <div class="col-md-4 text-right">
                                         <label class="control-label">Quotation:</label>
                                     </div>
                                     <div class="col-md-8 align-left">
                                         <div class="input-group">
                                             <input ng-model="PreInvoice.SQNo" type="text" class="form-control" ng-keydown="SearchKeyDownSQ($event)" placeholder="Type Sales Quotation No & Press Enter" required />
                                             <span class="input-group-btn">
                                                 <button style="margin-left:3px" type="button" class="btn btn-sm" aria-label="left Align" ng-click="ClearSalesQuotation()">C </button>
                                                 <button style="margin-left:3px" type="button" class="btn btn-sm" aria-label="Left Align" ng-click="PickSalesQuotation()"> <span class="glyphicon glyphicon-search" aria-hidden="true"></span></button>
                                             </span>
                                         </div>
                                     </div>
                                 </div>
                                 <div class="col-md-5 align-left">
                                     <div class="col-md-4 text-right">
                                         <label class="control-label">MKT Person:</label>
                                     </div>
                                     <div class="col-md-8 align-left">
                                         <input ng-model="PreInvoice.ReceivedOnName" type="text" class="form-control" placeholder="Marketing Person" required />
                                     </div>
                                 </div>
                             </div>
                             <div class="col-md-12">
                                 <div class="col-md-5 align-left">
                                     <div class="col-md-4 text-right">
                                         <label class="control-label">Phone:</label>
                                     </div>
                                     <div class="col-md-8 align-left">
                                         <input ng-model="PreInvoice.Phone" type="text" class="form-control" placeholder="Phone" required />
                                     </div>
                                 </div>
                                 <div class="col-md-5 align-left">
                                     <div class="col-md-4 text-right">
                                         <label class="control-label">Email:</label>
                                     </div>
                                     <div class="col-md-8 align-left">
                                         <input ng-model="PreInvoice.Email" type="text" class="form-control" placeholder="Email" required />
                                     </div>
                                 </div>
                             </div>
                         </div>
                      </fieldset>
                </div>

                @*VEHICLE DETAILS*@
                <div class="col-md-12 align-left">
                    <fieldset style="padding: 2% 2% 2% 10%">
                        <legend style="padding-left:-40px">Vehicle Details: </legend>
                        <div class="row">
                            <div class="col-md-12">
                                <div class="col-md-5 align-left">
                                    <div class="col-md-4 text-right">
                                        <label class="control-label">Chassis No:</label>
                                    </div>
                                    <div class="col-md-8 align-left">
                                        <input ng-model="PreInvoice.ChassisNo" type="text" class="form-control" placeholder="Chasiss No" disabled />
                                    </div>
                                </div>
                                <div class="col-md-5 align-left">
                                    <div class="col-md-4 text-right">
                                        <label class="control-label">Engine No:</label>
                                    </div>
                                    <div class="col-md-8 align-left">
                                        <input ng-model="PreInvoice.EngineNo" type="text" class="form-control" placeholder="Engine No" disabled />
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-12">
                                <div class="col-md-5 align-left">
                                    <div class="col-md-4 text-right">
                                        <label class="control-label">Komm No:</label>
                                    </div>
                                    <div class="col-md-8 align-left">
                                        <input ng-model="PreInvoice.KommNo" type="text" class="form-control" placeholder="Komm No" disabled />
                                    </div>
                                </div>
                                <div class="col-md-5 align-left">
                                    <div class="col-md-4 text-right">
                                        <label class="control-label">Model No:</label>
                                    </div>
                                    <div class="col-md-8 align-left">
                                        <input ng-model="PreInvoice.ModelNo" type="text" class="form-control" placeholder="Model No" disabled />
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-12">
                                <div class="col-md-5">
                                    <div class="col-md-4 text-right">
                                        <label class="control-label">Exterior Color:</label>
                                    </div>
                                    <div class="col-md-8 text-left">
                                        <input ng-model="PreInvoice.ExteriorColorName" type="text"  placeholder="Exterior Color Name" class="form-control" disabled />
                                    </div>
                                </div>
                                <div class="col-md-5">
                                    <div class="col-md-4 text-right">
                                        <label class="control-label">Interior Color:</label>
                                    </div>
                                    <div class="col-md-8 text-left">
                                        <input ng-model="PreInvoice.InteriorColorName" type="text" placeholder="Interior Color Name" class="form-control" disabled />
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-12">
                                <div class="col-md-5 align-left">
                                    <div class="col-md-2 text-right" style="width:30%">
                                        <label class="control-label">Product:</label>
                                    </div>
                                    <div class="col-md-8 align-left">
                                        <div class="input-group">
                                            <input ng-model="PreInvoice.ProductName" type="text" class="form-control" ng-keydown="SearchKeyDownProduct($event)" placeholder="Type Product Name & Press Enter" required />
                                            <span class="input-group-btn">
                                                <button style="margin-left:3px" type="button" class="btn btn-sm" aria-label="left Align" ng-click="ClearProduct()">C </button>
                                                <button style="margin-left:3px" type="button" class="btn btn-sm" aria-label="Left Align" ng-click="PickProduct()"> <span class="glyphicon glyphicon-search" aria-hidden="true"></span></button>
                                            </span>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-5">
                                    <div class="col-md-4 text-right">
                                        <label class="control-label">Location:</label>
                                    </div>
                                    <div class="col-md-8 text-left">
                                        <select ng-model="PreInvoice.VehicleLocation" class="form-control" ng-options="oItem.id as oItem.Value for oItem in VehicleLocations">
                                            <option value="">--Vehicle Location--</option>
                                        </select>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-12">
                                <div class="col-md-5">
                                    <div class="col-md-4 text-right">
                                        <label class="control-label">Order PR-No:</label>
                                    </div>
                                    <div class="col-md-8 text-left">
                                        <input ng-model="PreInvoice.PRNo" type="text" class="form-control" placeholder="Order PR-No" />
                                    </div>
                                </div>
                                <div class="col-md-5">
                                    <div class="col-md-4 text-right">
                                        <label class="control-label">Instruction:</label>
                                    </div>
                                    <div class="col-md-8 text-left">
                                        <input ng-model="PreInvoice.SpecialInstruction" type="text" class="form-control" placeholder="Special Instruction" />
                                    </div>
                                </div>
                            </div>
                        </div>
                    </fieldset>
                </div>

                @*DELIVERY AHREEMENT*@
                <div class="col-md-12 align-left">
                    <fieldset style="padding: 2% 2% 2% 10%">
                        <legend>Delivery Agreement: </legend>
                        <div class="row">
                            <div class="col-md-12">
                                <div class="col-md-3 text-right" style="margin-left:-8%">
                                    <label class="control-label">ETA Agreement:</label>
                                </div>
                                <div class="col-md-8 text-left" style="padding-right:3%">
                                    <input ng-model="PreInvoice.ETAAgreement" type="text" class="form-control" placeholder="ETA Agreement" />
                                </div>
                            </div>
                            <div class="col-md-12">
                                <div class="col-md-3 text-right" style="margin-left:-8%">
                                    <label class="control-label">ETA Weeks:</label>
                                </div>
                                <div class="col-md-8 text-left" style="padding-right:3%">
                                    <input ng-model="PreInvoice.ETAWeeks" type="text" class="form-control number" placeholder="ETA Weeks" />
                                </div>
                            </div>
                        </div>
                    </fieldset>
                </div>

                @*PRICE*@
                <div class="col-md-12 align-left">
                    <fieldset style="padding: 2% 2% 2% 10%">
                        <legend>Price : </legend>
                        <div class="col-md-12">
                            <div class="col-md-3 text-right" style="margin-left:-8%">
                                <label class="control-label">Currency :</label>
                            </div>
                            <div class="input-group col-md-4 text-left">
                                <select style="width:40%" ng-model="PreInvoice.CurrencyID" class="form-control" ng-options="oItem.CurrencyID as oItem.CurrencyName for oItem in CurrencyList" ng-change="CurrencyChange()">
                                    <option value="">--Select Currency--</option>
                                </select>
                                <input ng-model="PreInvoice.CRate" class="form-control input-sm text-right number" style="height:25px; width:60%" placeholder="Convertion Rate" ng-disabled="BaseCurrencyID==PreInvoice.CurrencyID" />
                            </div>
                        </div>
                        <div class="col-md-12">
                            <div class="col-md-3 text-right" style="margin-left:-8%">
                                <label class="control-label">OTR Amount:</label>
                            </div>
                            <div class="col-md-4 text-left">
                                <input ng-model="PreInvoice.OTRAmount | number:2" type="text" class="form-control input-sm text-right number" ng-change="SetNetAmount()" style="height:25px" />
                            </div>
                            <div class="col-md-6 text-left">
                                <input ng-model="PreInvoice.OTRAmountInWord" type="text" class="form-control input-sm text-left" style="height:25px; width:124%" disabled />
                            </div>
                        </div>
                        <div class="col-md-12">
                            <div class="col-md-3 text-right" style="margin-left:-8%">
                                <label class="control-label">Discount Amount:</label>
                            </div>
                            <div class="col-md-4 text-left">
                                <input ng-model="PreInvoice.DiscountAmount" type="text" class="form-control input-sm text-right number" ng-change="SetNetAmount()" style="height:25px" />
                            </div>
                            <div class="col-md-6 text-left">
                                <input ng-model="PreInvoice.DiscountAmountInWord" type="text" class="form-control input-sm text-left" style="height:25px; width:124%" disabled />
                            </div>
                        </div>
                        <div class="col-md-12">
                            <div class="col-md-3 text-right" style="margin-left:-8%">
                                <label class="control-label">Sale Amount:</label>
                            </div>
                            <div class="col-md-4 text-left">
                                <input ng-model="PreInvoice.NetAmount | number:2" type="text" class="form-control input-sm text-right number" ng-change="SetNetAmount()" style="height:25px" />
                            </div>
                            <div class="col-md-6 text-left">
                                <input ng-model="PreInvoice.NetAmountInWord" type="text" class="form-control input-sm text-left" style="height:25px; width:124%" disabled />
                            </div>
                        </div>
                    </fieldset>
                </div>

                @*Sales Terms*@
                <div class="col-md-12 align-left">
                    <fieldset style="padding: 2% 2% 2% 10%">
                        <legend>Seals Terms :</legend>
                        <div class="col-md-12" style="margin-left:-8%">
                            <div class="col-md-3 align-right">
                                <label class="control-label">Advance Date:</label>
                            </div>
                            <div class="col-md-9">
                                <div class="col-md-6" style="text-align:right;" style="margin-left: -2%; padding-left:5%">
                                    <div class="input-group date date-container">
                                        <input type="text" class="form-control" ng-model="PreInvoice.AdvanceDateST"><span class="input-group-addon"><i class="glyphicon glyphicon-th"></i></span>
                                    </div>
                                </div>
                                <div class="col-md-3" style="text-align:right;">
                                    <input type="text" value="Offered Free Service"  style="width:100%; font-weight:bold" class="form-control" disabled />
                                </div>
                                <div class="col-md-1">
                                    <input type="text" ng-model="PreInvoice.OfferedFreeService" id="OfferedFreeService" class="form-control number" style="width:100%" />
                                </div>
                                <div class="col-md-2">
                                    <input type="text" value="Times" style="width:100%; font-weight: bold" class="form-control" disabled />
                                </div>
                            </div>
                        </div>
                        <div class="col-md-12" style="margin-left:-8%">
                            <div class="col-md-2 text-right">
                                <label class="control-label">Advance Amount :</label>
                            </div>
                            <div class="col-md-9 align-left">
                                <div class="col-md-3 text-right">
                                    <input type="text" ng-model="PreInvoice.AdvanceAmount" id="AdvanceAmount" ng-change="AdvanceAmountChange(1)" ng-keyup="AdvanceAmountChange(1)" class="form-control number" />
                                </div>
                                <div class="col-md-2 text-left">
                                    <div class="col-md-3">
                                        <input type="text" value="%" style="width:130%"class="form-control" disabled></input>
                                    </div>
                                    <div class="col-md-9">
                                        <input type="text" id="AdvanceAmountInPercent" ng-model="PreInvoice.AdvanceAmountInPercent" ng-change="AdvanceAmountChange(0)" ng-keyup="AdvanceAmountChange(0)" class="form-control number" />
                                    </div>
                                </div>
                                <div class="col-md-7 text-left" style="padding-right:1.5%; margin-left:-1.2%">
                                    <input ng-model="PreInvoice.AdvanceAmountInWord" style="width:118.7%" class="form-control" disabled />
                                </div>
                            </div>
                        </div>
                        <div class="col-md-12" style="margin-left:-8%">
                            <div class="col-md-2 text-right">
                                <label class="control-label">Due Amount :</label>
                            </div>
                            <div class="col-md-9 align-left">
                                <div class="col-md-5 align-left" style="margin-left:-0.6%">
                                    <input ng-model="PreInvoice.DueAmount" class="form-control number" disabled />
                                </div>
                                <div class="col-md-7 align-left" style="padding-right:1.5%; margin-left:-0.5%">
                                    <input ng-model="PreInvoice.DueAmountInWord" style="width:118.7%" class="form-control" disabled />
                                </div>
                            </div>
                        </div>
                        <div class="col-md-12 text-right" style="margin-left:-8%">
                            <div class="col-md-2">
                                <label class="control-label">Payment Mode :</label>
                            </div>
                            <div class="col-md-9">
                                <div class="col-md-5" style="margin-left:-0.4%">
                                    <select ng-model="PreInvoice.PaymentMode" class="form-control" ng-change="PaymentMode()" ng-options="oItem.id as oItem.Value for oItem in PaymentModes">
                                        <option value="">--Payment Modes--</option>
                                    </select>
                                </div>
                                <div class="col-md-1 text-right" style="margin-left:-0.7%">
                                    <input class="form-control text-right" ng-model="lblPaymantMode" style="font-weight:bold;" disabled />
                                </div>
                                <div class="col-md-3 text-right" >
                                    <input type="text" id="PreInvoice.ChequeNo" ng-model="PreInvoice.ChequeNo" class="form-control" />
                                </div>
                                <div class="col-md-4">
                                    <div class="col-md-5  text-right">
                                        <input class="form-control" ng-model="lblPaymantDate" style="font-weight:bold" disabled/>
                                    </div>
                                    <div class="col-md-10" style="text-align:right; margin-right:-40%; width:100%">
                                        <div class="input-group date date-container">
                                            <input type="text" class="form-control" ng-model="PreInvoice.AdvanceDateST">
                                            <span class="input-group-addon"><i class="glyphicon glyphicon-th"></i></span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-12" style="margin-left:-8%">
                            <div class="col-md-2 text-right">
                                <label class="control-label">Bank :</label>
                            </div>
                            <div class="col-md-8 align-left">
                                <div class="col-md-6 align-left" style="margin-left:-0.4%">
                                    <div class="input-group">
                                        <input type="text" ng-model="PreInvoice.BankName" class="form-control" ng-keydown="SearchKeyDownBank($event)" placeholder="Type Sales Quotation No & Press Enter" required />
                                        <span class="input-group-btn">
                                            <button style="margin-left:3px" type="button" class="btn btn-sm" aria-label="left Align" ng-click="ClearBank()">C </button>
                                            <button style="margin-left:3px" type="button" class="btn btn-sm" aria-label="Left Align" ng-click="PickBank()"> <span class="glyphicon glyphicon-search" aria-hidden="true"></span></button>
                                        </span>
                                    </div>
                                </div>
                                <div class="col-md-1 text-right">
                                    <input id="ReceviedBy" class="form-control text-right" value="R/By:"  style="font-weight:bold; width:113% "disabled />
                                </div>
                                <div class="col-md-5 align-left" style="padding-left:1.7%;">
                                    <div class="input-group" style=" width: 181%">
                                        <input type="text" ng-model="PreInvoice.ReceivedByName" class="form-control" ng-keydown="SearchKeyDownReceivedBy($event)" placeholder="Type Sales Quotation No & Press Enter" required />
                                        <span class="input-group-btn">
                                            <button style="margin-left:3px" type="button" class="btn btn-sm" aria-label="left Align" ng-click="ClearReceivedBy()">C </button>
                                            <button style="margin-left:3px" type="button" class="btn btn-sm" aria-label="Left Align" ng-click="PickReceivedBy()"> <span class="glyphicon glyphicon-search" aria-hidden="true"></span></button>
                                        </span>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-12" style="margin-left:-8%">
                            <div class="col-md-2 text-right">
                                <label class="control-label">Comments :</label>
                            </div>
                            <div class="col-md-8 align-left" style="margin-left:0%; padding-right:4.5%">
                                <input type="text" ng-model="PreInvoice.Remarks" class="form-control" style=" width: 132%;"/>
                            </div>
                        </div>
                    </fieldset>
                </div>

                <div class="col-md-12 align-left">
                    <fieldset style="padding: 2% 2% 2% 10%">
                        <legend>Attachments:</legend>
                        <div class="col-md-12">
                            <div class="col-md-2 align-left">
                            </div>
                            <div class="col-md-8">
                                <div class="col-md-6" style="text-align:left;">
                                    <input type="radio" ng-model="PreInvoice.AttachmentDoc" name="AttachmentDoc" value="1">Proforma Invoice
                                    @*<label class="control-label">Attachments:</label>*@
                                </div>
                                <div class="col-md-2" style="text-align:right;">
                                    @*<input type="radio" ng-model="myVar" value="Proforma Invoice">*@
                                </div>
                                <div class="col-md-4">
                                    @*<input type="radio" ng-model="myVar" value="Cheque/PO">Cheque/PO*@
                                    <input type="radio" ng-model="PreInvoice.AttachmentDoc" value="2" name="AttachmentDoc">Cheque/PO
                                </div>
                            </div>
                        </div>
                </div>
            </div>
        </div>
        <div style="font-family:Tahoma;text-align:center;height:10%" class="regionVR">
            <fieldset style="height:60px;">
                <legend>Action</legend>
                <div class="row col-md-12 text-right">
                    <button type="button" class="btn btn-sm" aria-label="Left Align" ng-hide="btnSave" ng-click="Save()"> <span class="glyphicon glyphicon-floppy-disk" aria-hidden="true"> <label id="lblSave">Save</label></span> </button>
                    <button type="button" id="btnclose" class="btn btn-sm" aria-label="Left Align" ng-click="Close()"> <span class="glyphicon glyphicon-remove" aria-hidden="true"> Close</span> </button>
                </div>
            </fieldset>
        </div>
    </div>
   
</body>
</html>
<style type="text/css">
    .regionVR .form-horizontal .control-label {
        padding-top: 1px;
    }
    .regionVR .form-control {
        height: 24px;
        padding: 0px 6px;
        font-size: 12px;
    }

    .regionVR .col-md-12 {
        width: 100%;
        padding-right: 5px;
        padding-left: 5px;
        margin-bottom: 3px;
    }

    .regionVR .col-md-7 {
        width: 60%;
        padding-right: 5px;
        padding-left: 5px;
    }
    .regionVR .col-md-5 {
        width: 40%;
        padding-right: 5px;
        padding-left: 5px;
    }

     .regionVR .col-md-4 {
        width: 30%;
        padding-right: 5px;
        padding-left: 5px;
    }
    
      .regionVR .col-md-2 {
        width: 20%;
        padding-right:5px;
        padding-left:5px;
    }
         .regionVR .col-md-1 {
        width: 10%;
        padding-right:5px;
        padding-left:5px;
    }
       .regionVR .col-md-10 {
        width: 84%;
        padding-right:8px;
        padding-left: 5px;
    }
    
    .regionVR .col-md-8 {
        width: 70%;
        padding-right: 5px;
        padding-left: 5px;
    }
    
    .regionVR .col-md-9 {
        width: 80%;
        padding-right: 5px;
        padding-left: 5px;
    }
 
     .regionVR .col-md-3 {
        width: 20%;
        padding-right:3px;
        padding-left:3px;
    }
     .regionVR .col-md-6 {
        width: 45%;
        padding-right:3px;
        padding-left:3px;
    }
     
    .regionVR .btn-sm {
        padding: 2px 8px;
    }

    .regionVR .input-group-addon {
        padding: 2px 5px;
    }

    .ui-grid-top-panel {
        background: linear-gradient(to bottom,#EFF5FF 0,#E0ECFF 100%);
    }
</style>
<script type="text/javascript">
    var oPreInvoice =@Html.Raw(new System.Web.Script.Serialization.JavaScriptSerializer().Serialize(Model));
    var oQuotationTypes = @Html.Raw(new System.Web.Script.Serialization.JavaScriptSerializer().Serialize(ViewBag.QuotationTypes));
    var oCurrencyList = @Html.Raw(new System.Web.Script.Serialization.JavaScriptSerializer().Serialize(ViewBag.CurrencyList));
    var oPaymentModes = @Html.Raw(new System.Web.Script.Serialization.JavaScriptSerializer().Serialize(ViewBag.PaymentModes));
    var oVehicleLocations = @Html.Raw(new System.Web.Script.Serialization.JavaScriptSerializer().Serialize(ViewBag.VehicleLocations));
    var oPaymentMethods = @Html.Raw(new System.Web.Script.Serialization.JavaScriptSerializer().Serialize(ViewBag.PaymentMethods));
    var nBaseCurrencyID = @Html.Raw(new System.Web.Script.Serialization.JavaScriptSerializer().Serialize(ViewBag.BaseCurrencyID));
    $(".number-int").icsNumberField({ min: 0, precision: 0 });
    $(".number-precision").icsNumberField({ min: 0,precision: 2 });

    var PreInvoiceApp = angular.module('PreInvoiceApp', ['ngAnimate', 'ui.bootstrap','ui.grid', 'ui.grid.selection', 'ui.grid.edit', 'ui.grid.rowEdit','ui.grid.cellNav', 'ms.service']);
    PreInvoiceApp.controller('PreInvoiceController', function ($scope,$http,$uibModal,$log,uiGridConstants,msModal,userSession,icsMethod,msGridControl) {
        debugger;
        $('#AdvanceAmount').icsCurrencyBox();
        $('#AdvanceAmountInPercent').icsCurrencyBox();
        //$('#DueAmount').icsCurrencyBox();

        $('.date-container').datepicker({
            format: "dd M yyyy",
            calendarWeeks: true,
            autoclose: true,
            todayHighlight: true
        });

        $scope.BaseCurrencyID=nBaseCurrencyID;
        $scope.PreInvoice=oPreInvoice;
        $scope.PreInvoice.BUID=sessionStorage.getItem('BUID');
        if(sessionStorage.getItem("PreInvoiceHeader")=="Approve Pre Invoice")
        {
            $('#lblSave').html('Approve');
        }
        if(sessionStorage.getItem("PreInvoiceHeader")=="View Sales Invocie")
        {
            $('#lblSave').hide(); $scope.btnSave=true;
        }

        $scope.QuotationTypes = oQuotationTypes;
        $scope.CurrencyList = oCurrencyList;
        $scope.PaymentModes = oPaymentMethods;
        $scope.VehicleLocations = oVehicleLocations;

        $scope.lblPaymantMode="C/No: ";
        $scope.lblPaymantDate="C/Date: ";
        
        if($scope.PreInvoice.PreInvoiceID==0)
            $scope.PreInvoice.CurrencyID= nBaseCurrencyID;

        $scope.CurrencyChange=function()
        {
            if($scope.BaseCurrencyID==$scope.PreInvoice.CurrencyID)
                $scope.PreInvoice.CRate=1;
        }
        $scope.CurrencyChange();

        $scope.PaymentMode= function()
        {
            debugger;
            if($scope.PreInvoice.PaymentMode==2)
            {
                $scope.lblPaymantMode="C/No: ";
                $scope.lblPaymantDate="C/Date: ";
            }
            else
            {
                $scope.lblPaymantMode="P/No: ";
                $scope.lblPaymantDate="P/Date: ";
            }
        }
        debugger;

        $scope.AdvanceAmountChange= function(nAPC)
        {
            debugger;
            
            var nCRate= ($scope.PreInvoice.CRate<=0? 1 : $scope.PreInvoice.CRate);

            if(nAPC==0)
                $scope.PreInvoice.AdvanceAmount= $scope.PreInvoice.OTRAmount*($scope.PreInvoice.AdvanceAmountInPercent/100);
            if(nAPC==1)
                $scope.PreInvoice.AdvanceAmountInPercent= parseFloat($scope.PreInvoice.AdvanceAmount/$scope.PreInvoice.OTRAmount)*100;
            $scope.PreInvoice.AdvanceAmountInWord= TakaWords(parseFloat($scope.PreInvoice.AdvanceAmount*nCRate));

            $scope.PreInvoice.DueAmount= parseFloat($scope.PreInvoice.OTRAmount)-parseFloat($scope.PreInvoice.AdvanceAmount);
            $scope.PreInvoice.DueAmountInWord= TakaWords(parseFloat($scope.PreInvoice.DueAmount*nCRate));
        }
        $scope.AdvanceAmountChange(1);

        $scope.SetNetAmount=function (nSet)
        {
            debugger;
            var nCRate= ($scope.PreInvoice.CRate<=0? 1 : $scope.PreInvoice.CRate);

            $scope.PreInvoice.OTRAmountInWord= TakaWords(parseFloat($scope.PreInvoice.OTRAmount*nCRate));
            $scope.PreInvoice.DiscountAmountInWord= TakaWords(parseFloat($scope.PreInvoice.DiscountAmount*nCRate));
            $scope.PreInvoice.NetAmount =  parseFloat($scope.PreInvoice.OTRAmount)-parseFloat($scope.PreInvoice.DiscountAmount);
            $scope.PreInvoice.NetAmountInWord= TakaWords(parseFloat($scope.PreInvoice.NetAmount*nCRate));
        }
        $scope.SetNetAmount(0);
        $scope.GetContractPersons= function()
        {
            debugger;
            if($scope.PreInvoice.ContractorID<=0)
            {
                //alert('Please Pick a Contact Person!!');
                return;
            }

            var oMarketing= {
                ContractorID:$scope.PreInvoice.ContractorID
            };
            var config = { headers: { 'Content-Type': 'application/x-www-form-urlencoded;charset=utf-8;' } };
            $http.post(sessionStorage.getItem('BaseAddress')+'/ContractorPersonal/GetsByBuyer',$.param(oMarketing), config).then(
                                function (response)
                                {
                                    debugger;
                                    result=jQuery.parseJSON(response.data);
                                    $scope.ContactPersons=result;
                                }, function () {
                                    $log.info('GetPreInvoiceDetails Dismissed at: ' + new Date());
                                });
        }
        $scope.GetContractPersons();

        
        //Contact Personnal 
        $scope.NewContactPerson = function NewContactPerson(nConType) {
            if ($scope.PreInvoice.ContractorID <= 0) {
                alert("Please Pick A Customer And Try Again!")
                return;
            }

            sessionStorage.setItem("ContractorBackTo", "");
            sessionStorage.setItem("SelectedRowIndex", 0);
            sessionStorage.setItem("ContractorHeader", "Add Contact Personnel");
            window.open(_sBaseAddress + "/Contractor/ViewContactPersonnel?id=" + $scope.PreInvoice.ContractorID, "_blank");
        }
        $scope.GetContactPersonel = function ()
        {
            $scope.ContactPersonnels = [];
            debugger;
            var oContractor = {
                ContractorID: $scope.PreInvoice.ContractorID
            };
            var config = { headers: { 'Content-Type': 'application/x-www-form-urlencoded;charset=utf-8;' } };
            $http.post(sessionStorage.getItem('BaseAddress') + '/Contractor/GetContactPersonnels', $.param(oContractor), config).then(
                                function (response) {
                                    debugger;
                                    result = JSON.parse(response.data);
                                    $scope.ContactPersonnels = result;
                                }, function () {
                                    $log.info('GetVehicleOrderDetails Dismissed at: ' + new Date());
                                });
        }
        $scope.GetContactPersonel();
        //Vechile Parts
        $scope.PickProduct= function ()
        {
            var sProductName =  $.trim($scope.PreInvoice.ProductName);

            var nBUID = parseInt(sessionStorage.getItem("BUID"));
            var oProduct = { BUID: nBUID, ProductName: sProductName};
            debugger;
            var config = { headers: { 'Content-Type': 'application/x-www-form-urlencoded;charset=utf-8;' } };
            $http.post(sessionStorage.getItem('BaseAddress')+'/PreInvoice/GetProducts',$.param(oProduct), config).then(
                        function (response)
                        {
                            debugger;
                            var oColumns = [];
                            var oColumn = { field: 'ProductCode', name: 'Code',width: '25%'  };oColumns.push(oColumn);
                            oColumn = { field: 'ProductName', name: 'Name',width: '40%', enableSorting: false  };oColumns.push(oColumn);
                            oColumn = { field: 'ProductCategoryName', name: 'Category',width: '24%', enableSorting: false  };oColumns.push(oColumn);
                    
                            var results=(response.data);
                            var modalObj={
                                size:'md',
                                modalcontroller:'',
                                appcontroller:'',
                                objs:results,
                                multiSelect:false,
                                pickertitle:'Product List',
                                searchingbyfieldName:'ProductName',
                                columns:oColumns
                            }
                            var modalInstance=msModal.Instance(modalObj);
                            modalInstance.result.then(function (result)
                            {
                                $scope.PreInvoice.ProductID = result.ProductID;
                                $scope.PreInvoice.ProductName=result.ProductName;
                            }, function () {
                                $log.info('Modal dismissed at: ' + new Date());
                            });
                        },
                            function (response) { alert(jQuery.parseJSON(response.data).Message);}
                    );

        };
        $scope.SearchKeyDownProduct = function (e) {
            //debugger;
            var code = (e.keyCode ? e.keyCode : e.which);
            if (code == 13) {
                var Product = $.trim($scope.PreInvoice.ProductName);
                if(Product=="" || Product==null)
                {
                    alert("Type Product Name/Code and Press Enter");
                    return;
                }
                $scope.PickProduct();
            }else if (code == 8) //backspace=8
            {
                //debugger;
                $scope.PreInvoice.ProductID = 0;
                $scope.PreInvoice.ProductName = "";
            }
        }
        $scope.ClearProduct= function ()
        {
            $scope.PreInvoice.ProductID = 0;
            $scope.PreInvoice.ProductName = "";
        }
        //customer
        $scope.PickBuyer= function ()
        {
            var oContractor = {
                Params: '2' + '~' + $.trim($scope.PreInvoice.CustomerName)+'~'+sessionStorage.getItem('BUID')
            };
            var config = { headers: { 'Content-Type': 'application/x-www-form-urlencoded;charset=utf-8;' } };
            $http.post(_sBaseAddress+'/Contractor/ContractorSearchByNameType',$.param(oContractor), config).then(
                                function (response)
                                {
                                    var oColumns = [];
                                    var oColumn = { field: 'ContractorID', name: 'Code',width: '20%'  };oColumns.push(oColumn);
                                    oColumn = { field: 'Name', name: 'Applicant Name',width: '50%', enableSorting: false  };oColumns.push(oColumn);
                                    oColumn = { field: 'Address', name: 'Address',width: '30%', enableSorting: false  };oColumns.push(oColumn);
                                    var results=response.data;
                                    var modalObj={
                                        size:'md',
                                        modalcontroller:'ModalCommonListCtrl',
                                        appcontroller:'PreInvoiceController',
                                        objs:results,
                                        multiSelect:false,
                                        pickertitle:'Applicant List',
                                        searchingbyfieldName:'Name',
                                        columns:oColumns
                                    }
                                    var modalInstance=msModal.Instance(modalObj);
                                    modalInstance.result.then(function (result)
                                    {
                                        debugger;
                                        $scope.PreInvoice.CustomerName=result.Name;
                                        $scope.PreInvoice.ContractorID=result.ContractorID;
                                        $scope.GetContractPersons();
                                    }, function () {
                                        $log.info('Modal dismissed at: ' + new Date());
                                    });
                                },
                                  function (response) { alert(jQuery.parseJSON(response.data).Message);}
                            );

        };
        $scope.SearchKeyDownBuyer = function (e){
            //debugger;
            var code = (e.keyCode ? e.keyCode : e.which);
            if (code == 13) {
                var RefNo = $.trim($scope.PreInvoice.CustomerName);
                if(RefNo=="" || RefNo==null)
                {
                    alert("Type Customer Name and Press Enter");
                    return;
                }
                $scope.PickBuyer();
            }else if (code == 8) //backspace=8
            {
                //debugger;
                $scope.PreInvoice.BuyerID=0;
            }
        };
        $scope.ClearBuyer= function ()
        {
            $scope.PreInvoice.ContractorID=0;
            $scope.PreInvoice.CustomerName='';
        }
        //koomfile
        $scope.PickSalesQuotation= function ()
        {
            if($scope.PreInvoice.ContractorID<=0)
            {
                alert('Please Pick a Customer!!');
                return;
            }

            var oSalesQuotation = {
                BuyerID:$scope.PreInvoice.ContractorID
            };
            var config = { headers: { 'Content-Type': 'application/x-www-form-urlencoded;charset=utf-8;' } };
            $http.post(_sBaseAddress+'/SalesQuotation/GetsSalesQuotationByCustomer',$.param(oSalesQuotation), config).then(
                                function (response)
                                {
                                    var oColumns = [];
                                    debugger;
                                    var oColumn = { field: 'FileNo', name: 'File No',width: '20%'  };oColumns.push(oColumn);
                                    oColumn = { field: 'ModelNo', name: 'Model No',width: '30%', enableSorting: false  };oColumns.push(oColumn);
                                    oColumn = { field: 'InteriorColorName', name: 'Interior Color',width: '25%', enableSorting: false  };oColumns.push(oColumn);
                                    oColumn = { field: 'ExteriorColorName', name: 'Exterior Color',width: '25%', enableSorting: false  };oColumns.push(oColumn);
                                    var results=jQuery.parseJSON(response.data);
                                    var modalObj={
                                        size:'md',
                                        modalcontroller:'ModalCommonListCtrl',
                                        appcontroller:'PreInvoiceController',
                                        objs:results,
                                        multiSelect:false,
                                        pickertitle:'SalesQuotation List',
                                        searchingbyfieldName:'FileNo',
                                        columns:oColumns
                                    }
                                    var modalInstance=msModal.Instance(modalObj);
                                    modalInstance.result.then(function (result)
                                    {
                                        debugger;
                                        $scope.PreInvoice.SQNo=result.FileNo;
                                        $scope.PreInvoice.KommNo=result.KommNo;
                                        $scope.PreInvoice.SalesQuotationID=result.SalesQuotationID;
                                        //model
                                        $scope.PreInvoice.ModelNo=result.ModelNo;
                                        $scope.PreInvoice.VehicleModelID=result.VehicleModelID;
                                        //color
                                        $scope.PreInvoice.ExteriorColorName=result.ExteriorColorName;
                                        $scope.PreInvoice.InteriorColorName=result.InteriorColorName;
                                        $scope.PreInvoice.ReceivedOnName=result.MarketingAccountName;
                                        $scope.PreInvoice.ReceivedOn=result.MarketingPerson;
                                        //VehicleChassis
                                        $scope.PreInvoice.VehicleChassisID=result.ChassisID;
                                        $scope.PreInvoice.ChassisNo=result.ChassisNo;
                                        //VehicleEngine
                                        $scope.PreInvoice.VehicleEngineID=result.EngineID;
                                        $scope.PreInvoice.EngineNo=result.EngineNo;
                                        $scope.PreInvoice.VatAmount = result.VatInPercent;
                                        $scope.PreInvoice.RegistrationFee = result.RegistrationFeePercent;
                                        $scope.PreInvoice.OTRAmount = result.OTRAmount;
                                        $scope.PreInvoice.AdvanceAmount = result.AdvancePayment;
                                        $scope.PreInvoice.SalesQuotationImageID=result.SalesQuotationImageID;
                                        // $scope.PreInvoice.TotalAmount = result.TotalAmount;
                                        $scope.GetVehicleOrderImage(result.SalesQuotationImageID);
                                        //$scope.GetPreInvoiceDetails();

                                    }, function () {
                                        $log.info('Modal dismissed at: ' + new Date());
                                    });
                                },
                                  function (response) { alert(jQuery.parseJSON(response.data).Message);}
                            );

        };
        $scope.SearchKeyDownSQ = function (e) {
            //debugger;
            var code = (e.keyCode ? e.keyCode : e.which);
            if (code == 13) {
                var RefNo = $.trim($scope.PreInvoice.SQNo);
                if(RefNo=="" || RefNo==null)
                {
                    alert("Type SalesQuotation and Press Enter");
                    return;
                }
                $scope.PickSalesQuotation();
            }else if (code == 8) //backspace=8
            {
                //debugger;
                $scope.ClearSalesQuotation();
            }
        };
        $scope.ClearSalesQuotation= function ()
        {
            $scope.PreInvoice.KommNo='';
            $scope.PreInvoice.SalesQuotationID=0;
            $scope.PreInvoice.ModelNo='';
            $scope.PreInvoice.VehicleModelID=0;
            $scope.PreInvoice.ExteriorColorName='';
            $scope.PreInvoice.InteriorColorName='';
            //VehicleChassis
            $scope.PreInvoice.ChassisNo='';
            //VehicleEngine
            $scope.PreInvoice.EngineNo='';
            $scope.GetVehicleOrderImage(0);
        }
        //bank
        $scope.SearchKeyDownBank = function (e) {
            //debugger;
            var code = (e.keyCode ? e.keyCode : e.which);
            if (code == 13) {
                var BankName = $.trim($scope.PreInvoice.BankName);
                if(BankName=="" || BankName==null)
                {
                    alert("Type Bank Name and Press Enter");
                }
                $scope.PickBank();
            }else if (code == 8) //backspace=8
            {
                //debugger;
                $scope.PreInvoice.BankName='';
                $scope.PreInvoice.BankID=0;
            }
        };
        $scope.PickBank=   function ()
        {
            var oBankBranch = {
                BranchName: $.trim($scope.PreInvoice.BankName)
            };
            var config = { headers: { 'Content-Type': 'application/x-www-form-urlencoded;charset=utf-8;' } };
            $http.post(sessionStorage.getItem('BaseAddress')+'/BankBranch/GetsBankByBranchkName',$.param(oBankBranch), config).then(
                        function (response)
                        {
                            var oColumns = [];
                            var oColumn = { field: 'BankName', name: 'Bank Name',width: '20%'  };oColumns.push(oColumn);
                            oColumn = { field: 'BranchName', name: 'Branch Name',width: '50%', enableSorting: false  };oColumns.push(oColumn);
                            oColumn = { field: 'Address', name: 'Address',width: '30%', enableSorting: false  };oColumns.push(oColumn);
                            var results=jQuery.parseJSON(response.data);
                            var modalObj={
                                size:'md',
                                modalcontroller:'ModalCommonListCtrl',
                                appcontroller:'PreInvoiceController',
                                objs:results,
                                multiSelect:false,
                                pickertitle:'Bank List',
                                searchingbyfieldName:'Name',
                                columns:oColumns
                            }
                            var modalInstance=msModal.Instance(modalObj);
                            modalInstance.result.then(function (result)
                            {
                                debugger;
                                $scope.PreInvoice.BankName=result.BankName;
                                $scope.PreInvoice.BankID=result.BankID;

                            }, function () {
                                $log.info('Modal dismissed at: ' + new Date());
                            });
                        },
                            function (response) { alert(jQuery.parseJSON(response.data).Message);}
                    );

        };
        $scope.ClearBank= function ()
        {
            $scope.PreInvoice.BankID=0;
            $scope.PreInvoice.BankName='';
        }

        //Received By
        $scope.PickReceivedBy= function ()
        {
            var oContractor = {
                Params: '2' + '~' + $.trim($scope.PreInvoice.ReceivedByName)+'~'+sessionStorage.getItem('BUID')
            };
            var config = { headers: { 'Content-Type': 'application/x-www-form-urlencoded;charset=utf-8;' } };
            $http.post(_sBaseAddress+'/Contractor/ContractorSearchByNameType',$.param(oContractor), config).then(
                                function (response)
                                {
                                    debugger;
                                    var results=(response.data);
                                    if(results.length<=0 && (results[0].ErrorMessage!=null || results[0].ErrorMessage!=""))
                                    {
                                        alert(results[0].ErrorMessage); return;
                                    }
                                    console.log(results);
                                    var oColumns = [];
                                    var oColumn = { field: 'ContractorID', name: 'Code',width: '20%'  };oColumns.push(oColumn);
                                    oColumn = { field: 'Name', name: 'Applicant Name',width: '50%', enableSorting: false  };oColumns.push(oColumn);
                                    oColumn = { field: 'Address', name: 'Address',width: '30%', enableSorting: false  };oColumns.push(oColumn);

                                    var modalObj={
                                        size:'md',
                                        modalcontroller:'ModalCommonListCtrl',
                                        appcontroller:'PreInvoiceController',
                                        objs:results,
                                        multiSelect:false,
                                        pickertitle:'Applicant List',
                                        searchingbyfieldName:'Name',
                                        columns:oColumns
                                    }
                                    var modalInstance=msModal.Instance(modalObj);
                                    modalInstance.result.then(function (result)
                                    {
                                        debugger;
                                        $scope.PreInvoice.ReceivedByName=result.Name;
                                        $scope.PreInvoice.ReceivedBy=result.ContractorID;
                                    }, function () {
                                        $log.info('Modal dismissed at: ' + new Date());
                                    });
                                },
                                  function (response) { alert((response.data).Message);}
                            );

        };
        $scope.SearchKeyDownReceivedBy = function (e){
            //debugger;
            var code = (e.keyCode ? e.keyCode : e.which);
            if (code == 13) {
                var RefNo = $.trim($scope.PreInvoice.ReceivedByName);
                if(RefNo=="" || RefNo==null)
                {
                    alert("Type Customer Name and Press Enter");
                    return;
                }
                $scope.PickReceivedBy();
            }else if (code == 8) //backspace=8
            {
                //debugger;
                $scope.PreInvoice.BuyerID=0;
            }
        };
        $scope.ClearReceivedBy= function ()
        {
            $scope.PreInvoice.ReceivedBy=0;
            $scope.PreInvoice.ReceivedByName='';
        }


        $scope.Save = function ()
        {
            debugger;
            if(!$scope.ValidateInput()) return;
            var oPreInvoice= $scope.PreInvoice;
            oPreInvoice.InvoiceDate = new Date($scope.PreInvoice.InvoiceDateST);
            oPreInvoice.AdvanceDate = new Date($scope.PreInvoice.AdvanceDateST);
            oPreInvoice.ChequeDate = new Date($scope.PreInvoice.ChequeDateST);
            oPreInvoice.InvoiceStatusInInt = 1;//intialize
            //console.log(oPreInvoice); return;
            $http.post(sessionStorage.getItem('BaseAddress')+'/PreInvoice/Save',oPreInvoice).then(
                        function (response)
                        {
                            debugger;
                            var oPreInvoice= jQuery.parseJSON(response.data);
                            if (oPreInvoice.ErrorMessage=="" || oPreInvoice.ErrorMessage==null)
                            {
                                debugger;
                                alert("Data Save Successfully!!");
                                userSession.setData('PreInvoiceList',oPreInvoice);
                                userSession.previousPage();
                                //var oPreInvoices = sessionStorage.getItem("PreInvoiceList");
                                //var nIndex = parseInt(sessionStorage.getItem("SelectedRowIndex"));
                                //if (oPreInvoices != null) {
                                //    oPreInvoices = jQuery.parseJSON(oPreInvoices);
                                //}
                                //else {
                                //    oPreInvoices = [];
                                //}
                                //if (nIndex != -1) {
                                //    oPreInvoices[nIndex] = oPreInvoice;
                                //}
                                //else {
                                //    sessionStorage.setItem("SelectedRowIndex", oPreInvoices.length);
                                //    oPreInvoices.push(oPreInvoice);
                                //}
                                //sessionStorage.setItem("PreInvoices", JSON.stringify(oPreInvoices));
                                //window.location.href = sessionStorage.getItem("BackLink");
                            }
                            else
                            {
                                alert(oPreInvoice.ErrorMessage);
                            }

                        },
                            function (response) { alert(jQuery.parseJSON(response.data).Message);$scope.MeasurementUnits=[];}
                    );

        };
        $scope.ValidateInput =  function ()
        {
            debugger;
            if($scope.PreInvoice.ContractorID==0)
            {
                alert('Please Pick Customer');
                return false;
            }
            if($scope.PreInvoice.SalesQuotationID==0)
            {
                alert('Please Pick Sales Quotation');
                return false;
            }
            if($scope.PreInvoice.CurrencyID==0)
            {
                alert('Please Select Currency');
                return false;
            }

            if($scope.PreInvoice.AttachmentDoc=="" || $scope.PreInvoice.AttachmentDoc=="")
            {
                alert('Please Select Attachment Type');
                return false;
            }
            return true;
        };

        if(sessionStorage.getItem("PreInvoiceHeader")=="View Pre Invoice")
        {
            $("#divPreInvoice :input").prop('disabled', true);
            $('#btnclose').prop('disabled', false);
        }
        $scope.Close=function ()
        {
            debugger;
            window.location.href = sessionStorage.getItem("BackLink");
        };

        $scope.GetVehicleOrderImage =function (nVehicleOrderImageID)
        {
            debugger;
            $.ajax({
                cache:true,
                type: "GET",
                url: "@(Url.Action("GetImageInBase64", "VehicleOrder"))",
                data: "id=" + nVehicleOrderImageID,
                success: function (data) {
                    $('#imgOrderImage').attr('src', "data:image/jpg;base64," + data.base64imgage );
                }
            });
        }

    });

</script>