
<html>
<head>
    <link href="@Url.Content("~/Content/CSS/icon.css")" rel="stylesheet" type="text/css" />
    <link href="@Url.Content("~/Content/CSS/easyui.css")" rel="stylesheet" type="text/css" /> 
    <link href="@Url.Content("~/Content/CSS/Pikerstyle.css")" rel="stylesheet" type="text/css" />  

    <script src="@Url.Content("~/Scripts/jquery-1.7.1.min.js")" type="text/javascript"></script>            
    <script src="@Url.Content("~/Scripts/jquery.ics.customize.js")" type="text/javascript"></script>  
    <script src="@Url.Content("~/Scripts/jquery.easyui.min.js")" type="text/javascript"></script>    

    <script src="@Url.Content("~/Scripts/jquery-ui.min.js")" type="text/javascript"></script> 
    <script src="@Url.Content("~/Scripts/json2.js")" type="text/javascript"></script> 
</head>
<body>
    @model ESimSol.BusinessObjects.LCTransfer
    <div style="font-family: Tahoma">
        <table border="0" style="background-color: #CFB53B; width: 720px">
            <tr>
                <td style="width: 720px; font-weight: bold; text-align: center; text-decoration: underline;
                    font-size: 15px; color: White">
                    <label id="lblHeaderName">
                        LC Transfer Advance Search</label>
                </td>
            </tr>
        </table>
        <table border="0" cellpadding="0" cellspacing="0" style="font-size: 12px">
            <tr style="height: 270px">
                <td style="width: 500px">
                    <table border="0" cellpadding="0" cellspacing="0" style="font-size: 12px">
                        <tr style="height: 260px">
                            <td style="width: 400px; vertical-align: top; height: 320px">
                                <fieldset>
                                    <legend style="font-weight: bold; font-size: 12px">Searching Criteria : </legend>
                                    <table border="0" cellpadding="0" cellspacing="0" style="width: 340px; font-size: 12px">
                                       
                                       <tr>
                                            <td style="width: 130px; text-align: left; font-weight: bold">
                                                Transfer No:
                                            </td>
                                        </tr>
                                        <tr>
                                            <td style="width: 325px; text-align: left">
                                                @Html.TextBox("txtLCTransferNo", "", new { style = "width: 325px", id = "txtLCTransferNo" })
                                            </td>
                                        </tr>
                                       
                                        <tr>
                                            <td style="width: 130px; text-align: left; font-weight: bold">
                                                LC No:
                                            </td>
                                        </tr>
                                        <tr>
                                            <td style="width: 325px; text-align: left">
                                                @Html.TextBox("txtLCNo", "", new { style = "width: 325px", id = "txtLCNo" })
                                            </td>
                                        </tr>
                                        
                                        <tr>
                                            <td style="width: 130px; text-align: left; font-weight: bold">
                                                Buyer:
                                            </td>
                                        </tr>
                                        <tr>
                                            <td style="width: 325px; text-align: left">
                                                @Html.TextBox("txtBuyerName", "", new { style = "width: 232px", id = "txtBuyerName", placeholder = "Type Buyer Name & Press Enter" })<input
                                                    type="button" style="width: 23px; font-size: 12px" onclick="CleanBuyerName()" value="C" /><input
                                                        type="button" style="width: 70px; font-size: 12px" onclick="ContractorPicker()"
                                                        value="Pick" />
                                            </td>
                                        </tr>
                                        <tr>
                                            <td style="width: 130px; text-align: left; font-weight: bold">
                                                Factory:
                                            </td>
                                        </tr>
                                        <tr>
                                            <td style="width: 325px; text-align: left">
                                                 @Html.TextBox("txtFactoryName", "", new { style = "width: 232px", id = "txtFactoryName", placeholder = "Type Factory Name & Press Enter" })<input
                                                    type="button" style="width: 23px; font-size: 12px" onclick="CleanFactoryName()" value="C" /><input
                                                        type="button" style="width: 70px; font-size: 12px" onclick="FactoryPicker()"
                                                        value="Pick" />
                                            </td>
                                        </tr>
                                        <tr>
                                            <td style="width: 130px; text-align: left; font-weight: bold">
                                                Session:
                                            </td>
                                        </tr>
                                        <tr>
                                            <td style="width: 325px; text-align: left">
                                                <select id="cboSession" style="width:310px;"></select>
                                            </td>
                                        </tr>

                                        <tr>
                                            <td style="width: 130px; text-align: left; font-weight: bold">
                                                Transfer Date:
                                            </td>
                                        </tr>
                                        <tr>
                                            <td style="width: 325px; text-align: left; font-size: 12px">
                                                <table border="0" style="font-size: 12px">
                                                    <tr>
                                                        <td style="width: 100px; font-size: 12px; text-align: left">@Html.DropDownList("cboTransferDate", new SelectList(Enum.GetValues(typeof(ESimSol.BusinessObjects.EnumCompareOperator))), new { id = "cboTransferDate", style = "width: 100px;font-size:12px;text-align:left", @class = "_select_changeA" })</td>
                                                        <td style="width: 98px; font-size: 12px"><input id="txtTransferStartDate" type="text" style="width: 98px;" class="easyui-datebox"required="required" data-options="formatter:icsdateformat,parser:icsdateparser" /></td>
                                                        <td style="width: 9px; font-size: 12px" id="enddateT">To</td>
                                                        <td style="width: 97px; font-size: 12px" id="enddate"><input id="txtTransferEndDate" type="text" style="width: 97px;" class="easyui-datebox"required="required" data-options="formatter:icsdateformat,parser:icsdateparser" /></td>
                                                    </tr>
                                                </table>
                                            </td>
                                        </tr>


                                        <tr style="height: 188px; vertical-align: bottom">
                                          <td style=" text-align:left; width:325px;">
                                            <table border ="0" cellpadding ="0" cellspacing="0">
                                                <tr>
                                                    <td style =" text-align:left;"><input type="button" value="Reset"  id="btnReset" style="width:70px; text-align:left;"/></td>
                                                    <td style=" text-align:right; width:255px;"><input type="button" value="Search" id="btnRefresh" style="width:70px; text-align:right;"/></td>
                                                </tr>
                                            </table>
                                        </td>
                                        </tr>
                                    </table>
                                </fieldset>
                            </td>
                            <td style="width: 323px; height: 320px; vertical-align: top">
                                <div style="margin-left:0px; margin-top:6px; height:417px">
                                    <table id="tblLCTransfer" title="LC Transfer List" class="easyui-datagrid" style="width: 360px;height: 445px; font-size: 12px" fitcolumns="false" rownumbers="true" pagination="false" singleselect="true" autorowheight="false">
                                        <thead>
                                            <tr>
                                                <th data-options="field:'Selected',checkbox:true"></th>
                                                <th field="TransferNo" width="60">Transfer No</th>
                                                <th field="TransferDateInString" width="70">Transfer Date</th>
                                                <th field="BuyerName" width="80">Buyer</th>
                                                <th field="ProductionFactoryName" width="80">Factory</th>

                                            </tr>
                                        </thead>
                                    </table>
                                    </div>
</td>
                        </tr>
                    </table>
                </td>
            </tr>
            <tr style="height: 50px">
                <td style="width: 650px; text-align: right">
                    <a href="javascript:void(0)" class="easyui-linkbutton" iconcls="icon-ok" plain="true"
                        onclick="OkButtonClick()">Ok</a> <a href="javascript:void(0)" class="easyui-linkbutton"
                            iconcls="icon-cancel" plain="true" onclick="Close()">Close</a>
                </td>
            </tr>
        </table>
    </div>
</body>
</html>
<script type="text/javascript">
    var _sBaseAddress="";
    var obj = window.dialogArguments;
    var _oLCTransfer="";
    var _nBuyerIDs ="";
    var _nFactoryIDs = "";
    var _nProductCatagoryID =0;
    var _oBussinessSessions =[];
    $(document).ready(function () {
        //  debugger;
        _sBaseAddress =@Html.Raw(new System.Web.Script.Serialization.JavaScriptSerializer().Serialize(HttpContext.Current.Session[SessionInfo.BaseAddress]));
        _oLCTransfer=@Html.Raw(new System.Web.Script.Serialization.JavaScriptSerializer().Serialize(Model));
        _oBussinessSessions =@Html.Raw(new System.Web.Script.Serialization.JavaScriptSerializer().Serialize(Model.BussinessSessions));
        //LoadBankAccounts();
        SetTodayDate();
        LoadBusinessSession();
        document.getElementById('lbltblHeadr').innerHTML="LC Transfer List";
    });


    function LoadBusinessSession()
    {
        //cboSession
        $('#cboSession').empty();
        var listItems= "<option value='"+0+"'>" +"--Select Session--" + "</option>";
        if (_oBussinessSessions !=null)
        {
            if(_oBussinessSessions.length>0)
            {
                for (var i = 0; i < _oBussinessSessions.length; i++) {
                    listItems += "<option value='" + _oBussinessSessions[i].BusinessSessionID+"'>" + _oBussinessSessions[i].SessionName+"</option>";
                }
            }
            $("#cboSession").html(listItems);
        }
    }


    function SetTodayDate()
    {
           $('#txtTransferStartDate').datebox('setValue', icsdateformat(new Date()));
           $('#txtTransferEndDate').datebox('setValue', icsdateformat(new Date()));

    }

     $('._select_changeA').change(function () {
      //  debugger;
        var x = $("#cboTransferDate").val();
        if (x == "EqualTo" || x == "NotEqualTo" || x == "GreaterThen" || x == "SmallerThen") {
            document.getElementById("enddate").style.display = 'none';
            document.getElementById("enddateT").style.display = 'none';
        }
        else {
            document.getElementById("enddate").style.display = '';
            document.getElementById("enddateT").style.display = '';
        }
    });







 function ContractorPicker(){
     //   debugger;
      var oParameter = new Object();
        oParameter.MultipleItemReturn = true;
        oParameter.ContractorType="2";
        var url = _sBaseAddress+"/Contractor/ContractorSearch";
        _oSelectedContractors = window.showModalDialog(url, oParameter, 'dialogHeight:420px;dialogWidth:455px;dialogLeft:400;dialogTop:100;center:yes;resizable:no;status:no;scroll:no');
       // debugger;
         if(_oSelectedContractors!=null)
        {
            if(_oSelectedContractors.length>0)
            {
                _nBuyerIDs ="";
                var ncount=0;
                for(var i =0;i<_oSelectedContractors.length;i++)
                {
                    var nSupplierID=_oSelectedContractors[i].ContractorID;
                    _nBuyerIDs=_nBuyerIDs+nSupplierID+',';
                    ncount++;
                }

              var txtBuyerName=document.getElementById("txtBuyerName");

                if(ncount>0)
                {
                    txtBuyerName.value= "Select "+ncount+" Applicant's";
                 }else{
                    txtBuyerName.value=  "Select "+ncount+" Applicant";
                 }
                    txtBuyerName.style.color="blue";
                    txtBuyerName.style.fontWeight="bold";

               _nBuyerIDs= _nBuyerIDs.substring(0, _nBuyerIDs.length - 1);

            }
        }
        else
        {
            _nBuyerIDs ="";
        }

    }


    function CleanBuyerName()
    {
        _nBuyerIDs="";
        document.getElementById("txtBuyerName").value='';
    }





 function FactoryPicker(){
     //   debugger;
      var oParameter = new Object();
        oParameter.MultipleItemReturn = true;
        oParameter.ContractorType="3";
        var url = _sBaseAddress+"/Contractor/ContractorSearch";
        _oSelectedContractors = window.showModalDialog(url, oParameter, 'dialogHeight:420px;dialogWidth:455px;dialogLeft:400;dialogTop:100;center:yes;resizable:no;status:no;scroll:no');
       // debugger;
         if(_oSelectedContractors!=null)
        {
            if(_oSelectedContractors.length>0)
            {
                _nFactoryIDs ="";
                var ncount=0;
                for(var i =0;i<_oSelectedContractors.length;i++)
                {
                    var nFactoryID=_oSelectedContractors[i].ContractorID;
                    _nFactoryIDs=_nFactoryIDs+nFactoryID+',';
                    ncount++;
                }
                var txtBuyerName=document.getElementById("txtFactoryName");

                if(ncount>0)
                {
                    txtBuyerName.value= "Select "+ncount+" Factory's";
                 }else{
                    txtBuyerName.value=  "Select "+ncount+" Factory";
                 }
                 txtBuyerName.style.color="blue";
                 txtBuyerName.style.fontWeight="bold";
                 _nFactoryIDs= _nFactoryIDs.substring(0, _nFactoryIDs.length - 1);

            }
        }
        else
        {
            _nFactoryIDs ="";
        }

    }


    function CleanFactoryName()
    {
        _nFactoryIDs="";
        document.getElementById("txtFactoryName").value='';
    }


   $('#btnRefresh').click(function () {
        debugger;
        /* Transfer Date*/
         var cboTransferDate = document.getElementById("cboTransferDate");
         var nTransferDate=cboTransferDate.options[cboTransferDate.selectedIndex].index;
         var dTransferStartDate=$('#txtTransferStartDate').datebox('getValue');
         var dTransferEndDate=$('#txtTransferEndDate').datebox('getValue');

         var sLCNo= document.getElementById("txtLCNo").value;
         var sLCTransferNo= document.getElementById("txtLCTransferNo").value;

       /*Session*/
         var cboSession = document.getElementById("cboSession");
         var nSessionID=cboSession.options[cboSession.selectedIndex].value;

         var chkResult = CheckEmpty();
         if(chkResult!=true)
         {
            alert("Please Select at lease one Criteria !!");
            return;
         }

         var sTempString =nTransferDate+'~'+dTransferStartDate+'~'+dTransferEndDate+'~'+sLCNo+'~'+sLCTransferNo+'~'+_nBuyerIDs+'~'+_nFactoryIDs+'~'+nSessionID;

         $.ajax({
            type: "GET",
            dataType: "json",
            url: '@Url.Action("Gets", "LCTransfer")',
            data: { sTemp: sTempString},
            contentType: "application/json; charset=utf-8",
            success: function (data) {
                //debugger;
                var  oLCTransfers = jQuery.parseJSON(data);
                if (oLCTransfers != null) {
                    if(oLCTransfers.length>0)
                    {
                        RefreshList(oLCTransfers);
                        $('#tblLCTransfer').datagrid({selectOnCheck:false, checkOnSelect:false})
                    }
                    else
                    {
                        alert("Data not found!!");
                        RefreshList(oLCTransfers);
                    }
                }
            },
            error: function (xhr, status, error) {
                alert(error);
            }
        });

    });



    function RefreshList(oLCTransfers)
    {
        data =oLCTransfers;
        data={"total":""+data.length+"","rows":data};
        $('#tblLCTransfer').datagrid('loadData',data);
    }

    $('#btnReset').click(function () {
        //  debugger;

        document.getElementById("txtLCTransferNo").value='';
        document.getElementById("txtLCNo").value='';
        var txtBuyerName=document.getElementById("txtBuyerName");
        txtBuyerName.style.color="black";
        txtBuyerName.style.fontWeight="normal";
        document.getElementById("txtBuyerName").value='';


        var txtFactoryName=document.getElementById("txtFactoryName");
        txtFactoryName.style.color="black";
        txtFactoryName.style.fontWeight="normal";
        document.getElementById("txtFactoryName").value='';

        document.getElementById("enddate").style.display = '';
        document.getElementById("enddateT").style.display = '';



        _nBuyerIDs ="";
        _nFactoryIDs ="";
        $('#cboTransferDate').val('None');
        $('#cboSession').val(0);
        SetTodayDate();
        var oLCTransfers=[];
        RefreshList(oLCTransfers);

    });


    function CheckEmpty()
    {

        var cboTransferDate = document.getElementById("cboTransferDate");
        var nTransferDate=cboTransferDate.options[cboTransferDate.selectedIndex].index;

        var sLCNo= document.getElementById("txtLCNo").value;
        var sLCTransferNo= document.getElementById("txtLCTransferNo").value;
        var cboSession = document.getElementById("cboSession");
        var nSessionID=cboSession.options[cboSession.selectedIndex].value;

        if(parseInt(nTransferDate)==0 && nSessionID==0)
        {
            if(sLCNo=="" && _nBuyerIDs=="" && sLCTransferNo=="" && _nFactoryIDs=="")
            {
                return false;
            }
            return true;
        }

        return true;
    }




    function Close()
    {
        window.close();
    }

    function OkButtonClick()
    {
        //   debugger;
        var oLCTransfers=[];
        var oLCTransfers = $('#tblLCTransfer').datagrid('getChecked');
        if(oLCTransfers.length<=0)
        {
            alert("please select atleast one item");
            return;
        }
        window.returnValue= oLCTransfers;
        window.close();
    }


    // Search Buyer Start
    $('#txtBuyerName').keypress(function (e) {
        //debugger;
        var code = (e.keyCode ? e.keyCode : e.which);
        if (code == 13) {
            var txtBuyerName = document.getElementById('txtBuyerName').value;
            if(txtBuyerName!="")
            {
                //debugger;
                var tsv=((new Date()).getTime())/1000;
                var oParameter = new Object();
                oParameter.EnteredText=txtBuyerName;
                var url =_sBaseAddress+ "/Contractor/ViewContractorSearch?sTemp="+txtBuyerName+"&pt=2&ts="+tsv;
                var oContractor = window.showModalDialog(url, oParameter, 'dialogHeight:270px;dialogWidth:383px;dialogLeft:520;dialogTop:310;center:yes;resizable:no;status:no;scroll:no');

                //debugger;
                if(oContractor !=null)
                {
                    if(parseInt(oContractor.ContractorID)>0)
                    {
                        var txtBuyerName=document.getElementById("txtBuyerName");
                        txtBuyerName.value=oContractor.Name;
                        txtBuyerName.style.color="blue";
                        txtBuyerName.style.fontWeight="bold";
                        _nBuyerIDs= ""+ oContractor.ContractorID+"";
                    }
                }
                else
                {
                    var txtBuyerName=document.getElementById("txtBuyerName");
                    txtBuyerName.style.color="black";
                    txtBuyerName.style.fontWeight="normal";
                    _nBuyerIDs ="";
                    document.getElementById("txtBuyerName").value=  "";
                }

            }
        }
    });

    $('#txtBuyerName').keydown(function (e) {
        var code = (e.keyCode ? e.keyCode : e.which);
        if (code == 8) //backspace=8
        {
            //debugger;
            var txtBuyerName=document.getElementById("txtBuyerName");
            txtBuyerName.style.color="black";
            txtBuyerName.style.fontWeight="normal";
            _nBuyerIDs="";

        }
    });
    // Search Buyer End





    // Search Factory Start
    $('#txtFactoryName').keypress(function (e) {
        //debugger;
        var code = (e.keyCode ? e.keyCode : e.which);
        if (code == 13) {
            var txtBuyerName = document.getElementById('txtFactoryName').value;
            if(txtBuyerName!="")
            {
                //debugger;
                var tsv=((new Date()).getTime())/1000;
                var oParameter = new Object();
                oParameter.EnteredText=txtBuyerName;
                var url =_sBaseAddress+ "/Contractor/ViewContractorSearch?sTemp="+txtBuyerName+"&pt=3&ts="+tsv;
                var oContractor = window.showModalDialog(url, oParameter, 'dialogHeight:270px;dialogWidth:383px;dialogLeft:520;dialogTop:310;center:yes;resizable:no;status:no;scroll:no');

                //debugger;
                if(oContractor !=null)
                {
                    if(parseInt(oContractor.ContractorID)>0)
                    {
                        var txtBuyerName=document.getElementById("txtFactoryName");
                        txtBuyerName.value=oContractor.Name;
                        txtBuyerName.style.color="blue";
                        txtBuyerName.style.fontWeight="bold";
                        _nFactoryIDs= ""+ oContractor.ContractorID+"";
                    }
                }
                else
                {
                    var txtBuyerName=document.getElementById("txtFactoryName");
                    txtBuyerName.style.color="black";
                    txtBuyerName.style.fontWeight="normal";
                    _nFactoryIDs ="";
                    document.getElementById("txtFactoryName").value=  "";
                }

            }
        }
    });

    $('#txtFactoryName').keydown(function (e) {
        var code = (e.keyCode ? e.keyCode : e.which);
        if (code == 8) //backspace=8
        {
            //debugger;
            var txtBuyerName=document.getElementById("txtFactoryName");
            txtBuyerName.style.color="black";
            txtBuyerName.style.fontWeight="normal";
            _nFactoryIDs="";

        }
    });
    // Search Factory End



    $(document).keydown(function(e) {
        //debugger;
        if(e.which == 27)//escape=27
        {
            //debugger;
            window.close();
        }
    });



</script>
