<html>
<head>
    <link href="@Url.Content("~/Content/CSS/icon.css")" rel="stylesheet" type="text/css" />
    <link href="@Url.Content("~/Content/CSS/easyui.css")" rel="stylesheet" type="text/css" /> 
    <link href="@Url.Content("~/Content/CSS/Pikerstyle.css")" rel="stylesheet" type="text/css" />  

    <script src="@Url.Content("~/Scripts/jquery-1.7.1.min.js")" type="text/javascript"></script>            
    <script src="@Url.Content("~/Scripts/jquery.ics.customize.js")" type="text/javascript"></script>  
    <script src="@Url.Content("~/Scripts/jquery.easyui.min.js")" type="text/javascript"></script>    

    <script src="@Url.Content("~/Scripts/jquery-ui.min.js")" type="text/javascript"></script> 
    <script src="@Url.Content("~/Scripts/json2.js")" type="text/javascript"></script> 
</head>
<body>
    @model ESimSol.BusinessObjects.LCTransfer
    <div style="font-family: Tahoma">
    <table border="0"  cellspacing="2" cellpadding="2">
        <tr>
            <td style="background-color: #CFB53B; width:950px; text-align: center; color: White">
                <label id="lblHeaderName" style="font-size: 15px; font-weight: bold; text-decoration: Underline;">
                    Add Master LC Transfer</label>
            </td>
        </tr>
    </table>
   
    <div  style="width:945px;height:500px">
    <div  style="padding:02px; font-size:12px; font-style:normal;">
         <div style="padding:0px">
         <fieldset >
        <legend>Master LC Transfer Info :</legend>
                <table border="0" >
                    <tr>
                        <td style="width: 120px; text-align: right; font-size:12px;">
                            Ref No:
                        </td>
                        <td style ="width: 150px; text-align:left;">
                            @Html.TextBoxFor(model => model.RefNo, new { style = "width: 150px; font-size:12", id = "txtRefNo", disabled = "disabled" })                            
                        </td>
                         <td style="width: 120px; text-align: right; font-size:12px;">Transfer Issue Date:</td>
                          <td style ="width: 150px; text-align:left;">
                            <input id="txtTransferIssueDate" type="text" class="easyui-datebox" required="required" data-options="formatter:icsdateformat,parser:icsdateparser"style="width: 150px;" />
                        </td>
                          <td style="width: 120px; text-align: right; font-size:12px;">Production Factory:</td>
                           <td style ="width: 230px; text-align:left;" cellspacing ="0" celllpadding ="0">
                          @Html.TextBoxFor(model => model.ProductionFactoryName, new { style = "width: 175px; font-size:12", id = "txtProductionFactoryName" })
                          <input type ="button" id="btnContactor" value ="Pick"  onClick = "PickProductionFactroy()" style ="width:50px; text-align:left;" />                            
                          </td>
                       
                    </tr>

                    <tr>
                        <td style="width: 120px; text-align: right; font-size:12px;">
                            Master LC No:
                        </td>
                        <td style ="width: 150px; text-align:left;">
                             @Html.TextBoxFor(model => model.MasterLCNo, new { style = "width: 150px; font-size:12", id = "txtMasterLCNo", disabled = "disabled" })
                        </td>
                         <td style="width: 120px; text-align: right; font-size:12px;">Status:</td>
                          <td style ="width: 150px; text-align:left;">
                             @Html.TextBoxFor(model => model.LCStatusInString, new { style = "width: 150px; font-size:12", id = "txtLCStatusInString", disabled = "disabled" })
                        </td>
                          <td style="width: 120px; text-align: right; font-size:12px;">Buyer Name:</td>
                           <td style ="width: 230px; text-align:left;">
                            @Html.TextBoxFor(model => model.BuyerName, new { style = "width: 230px; font-size:12", id = "txtBuyerName", disabled = "disabled" })                          
                          </td>
                       
                    </tr>

                    <tr>
                        <td style="width: 120px; text-align: right; font-size:12px;">
                            LC Value:
                        </td>
                        <td style ="width: 150px; text-align:left;">
                             @Html.TextBoxFor(model => model.LCValue, new { style = "width: 150px; font-size:12;text-align:right", id = "txtLCValue", disabled = "disabled" })
                        </td>
                         <td style="width: 120px; text-align: right; font-size:12px;">Yet To Transfer:</td>
                          <td style ="width: 150px; text-align:left;">
                             @Html.TextBoxFor(model => model.YetToTransferValue, new { style = "width: 150px; font-size:12; text-align:right", id = "txtYetToTransferValue", disabled = "disabled" })
                        </td>
                          <td style="width: 120px; text-align: right; font-size:12px;">Commission Favor Of:</td>
                           <td style ="width: 230px; text-align:left;">
                            <select id ="cboCommisionFavorOf" style =" width:230px;"></select> 
                          </td>
                       
                    </tr>

                    <tr>
                        <td style="width: 120px; text-align: right; font-size:12px;">
                            Transfer No:
                        </td>
                        <td style ="width: 150px; text-align:left;">
                            @Html.TextBoxFor(model => model.TransferNo, new { style = "width: 150px; text-align:right; font-size:12", id = "txtTransferNo" }) 
                        </td>
                         <td style="width: 120px; text-align: right; font-size:12px;">Transfer Date:</td>
                          <td style ="width: 150px; text-align:left;">
                            <input id="txtTransferDate" type="text" class="easyui-datebox" required="required" data-options="formatter:icsdateformat,parser:icsdateparser"style="width: 150px;" />                          
                        </td>
                          <td style="width: 120px; text-align: right; font-size:12px;">Commission Account:</td>
                           <td style ="width: 230px; text-align:left;">
                                <select id ="cboCommisionAccount" style =" width:230px;"></select> 
                        </td>
                       
                    </tr>         
                    
                    <tr>
                        <td style="width: 120px; text-align: right; font-size:12px;">
                            Transfer Amount:
                        </td>
                        <td style ="width: 150px; text-align:left;">
                            @Html.TextBoxFor(model => model.TransferAmount, new { style = "width: 150px; font-size:12;text-align:right;", id = "txtTransferAmount", disabled = "disbled" }) 
                        </td>
                         <td style="width: 120px; text-align: right; font-size:12px;">Note:</td>
                          <td style ="width: 508px; text-align:left;"colspan ="3">
                            @Html.TextBoxFor(model => model.Note, new { style = "width: 508px; font-size:12", id = "txtNote" }) 
                        </td>
                          
                       
                    </tr>                
                </table>
        </fieldset> 
        </div>
        <div title="LC Transfer Details" style="padding:02px">
            <div id ="DetailtoolBar">          
                <input type="button" id="btnPickOrder" value="Pick Order" onclick="PickOrder()" style="width: 80px; font-size: 12" />
                <input type="button" id="btnRemoveLCTransferDetail" value="Remove" onclick="RemoveDetail()" style="width: 80px; font-size: 12" />
                <input type="button" id="btnRefreshLCTransferDetail" value="Refresh" onclick="RefreshDetail()" style="width: 80px; font-size: 12" />
            </div>   
            <table id="tblLCTransferDetail" title="LC Transfer Details" class="easyui-datagrid" style="width: 937px; height: 300px" fitcolumns="false" rownumbers="true" pagination="false" singleselect="true" autorowheight="false" toolbar="#DetailtoolBar">
                <thead>
                    <tr>                  
                        <th field="StyleNo" width="100" align="left" > Style No  </th>
                        <th field="OrderRecapNo" width="70" align="left"> Order No </th>
                        <th field="ProductName" width="100" align="left"> Item Description </th>                  
                        <th field="PIDetailQty" width="90" align="right"> Total Quantity</th>
                        <th field="YeToTransferQtyInString" width="100" align="right"> Yet To Transfer </th>
                        <th field="TransferQty" align="right"> Transfer Qty </th>
                        <th field="FOB" width="40" formatter="formatPrice"  align="right"> FOB </th>
                        <th field="Amount" width="70" formatter="formatPrice"  align="right" > Amount</th>
                        <th field="CommissionInPercent" width="78" formatter="formatPrice"  align="right"> Comm(%) </th>
                        <th field="CommissionPerPcs" width="70" formatter="formatPrice" align="right">Comm/Pcs </th>
                        <th field="CommissionAmount" width="90" formatter="formatPrice" align="right">Comm. Amount </th>


                        
                    </tr>
                </thead>
            </table>
            <table border="0">
                <tr>
                    <td id="tdTotalCaption" style="width: 310px; text-align: right; font-size: 12px; font-weight:bold"> Total : </td>
                    <td style="width: 70px; text-align: right; font-size: 12px"> <label id="lblTotalQty" style="text-align: right; font-size:12px; float: right; font-weight:bold">0</label></td>
                    <td style="width: 80px; text-align: right; font-size: 12px"> <label id="lblYetTransferQty" style="text-align: right; font-size:12px; float: right; font-weight:bold">0</label></td>
                    <td style="width: 80px; text-align: right; font-size: 12px"> <label id="lblTransferQty" style="text-align: right; font-size:12px; float: right; font-weight:bold">0</label></td>
                    <td style="width: 130px; text-align: right; font-size: 12px"> <label id="lblAmount" style="text-align: right; font-size:12px; float: right; font-weight:bold">0</label> </td>
                    <td style="width: 200px; text-align: right; font-size: 12px"> <label id="lblTotalComisionAmount" style="text-align: right; font-size:12px; float: right; font-weight:bold">0</label></td>
                    
                </tr>
            </table>
        </div>
    </div>    
   
    </div>
    <fieldset>
        <legend style="font-weight: bold">Action : </legend>
        <table border="0" cellspacing="2" cellpadding="2" style="font-size: 11px; width: 100%;
            font-weight: bold; font-size: 12">
            <tr>
                <td style="width: 840px; text-align: right">
                </td>
                <td style="width: 60px; font-size: 13">
                    <a id="btnSave" href="javascript:void(0)" class="easyui-linkbutton" iconcls="icon-save"
                        plain="true" onclick="Save()">Save</a>
                </td>
                <td style="width: 60px; font-size: 13">
                    <a id="btnClose" href="javascript:void(0)" class="easyui-linkbutton" iconcls="icon-cancel"
                        plain="true" onclick="Close()">Close</a>
                </td>
            </tr>
        </table>
    </fieldset>
    </div>
</body>
</html>
<script type="text/javascript"> 
 var _oLCTransfer=null;
 var _sBaseAddress="";
 var _oCurrencies =[];
 var _oBankAccounts = [];
 var _oCompanies = [];
 var _oLCTransferDetails =[];
 var _nFactoryID =0;
 var _nTotalQty =0;
 var _nTotalYetToTransferQty = 0;
 var _nTotalTransferQty = 0;
 var _nTotalAmount = 0;
 var _nTotalCommissionAmount = 0;
 var _oAuthorizationRolesMapping =[];
 $(document).ready(function () {
    ////debugger;     
        _sBaseAddress =@Html.Raw(new System.Web.Script.Serialization.JavaScriptSerializer().Serialize(HttpContext.Current.Session[SessionInfo.BaseAddress]));                  
        _oLCTransfer =@Html.Raw(new System.Web.Script.Serialization.JavaScriptSerializer().Serialize(Model)); 
        _oLCTransferDetails=@Html.Raw(new System.Web.Script.Serialization.JavaScriptSerializer().Serialize(Model.LCTransferDetails)); 
        _oCompanies =@Html.Raw(new System.Web.Script.Serialization.JavaScriptSerializer().Serialize(Model.Companies)); 
        _oBankAccounts =@Html.Raw(new System.Web.Script.Serialization.JavaScriptSerializer().Serialize(Model.BankAccounts));  
        var obj = window.dialogArguments;
        _objName =obj.Name;
        document.getElementById ("lblHeaderName").innerHTML =_objName;
        $('#txtTransferIssueDate').datebox('setValue',_oLCTransfer.TransferIssueDateInString);
        $('#txtTransferDate').datebox('setValue',_oLCTransfer.TransferDateInString);
        RefreshListDetails(_oLCTransferDetails);
        LoadCompanies(); 
        LoadBankAccounts();
        RefreshControl();
 
 });


function RefreshControl()
{
   
    _nFactoryID =_oLCTransfer.ProductionFactoryID;
    $('#cboCommisionFavorOf').val(_oLCTransfer.CommissionFavorOf);
    $('#cboCommisionAccount').val(_oLCTransfer.CommissionAccountID);
    document.getElementById('txtTransferIssueDate').disabled = true;
    document.getElementById('btnContactor').disabled = true;
    document.getElementById('cboCommisionFavorOf').disabled = true;
    document.getElementById('cboCommisionAccount').disabled = true;
//    document.getElementById('txtTransferDate').disabled = true;

    document.getElementById('txtProductionFactoryName').disabled = true;    
    document.getElementById('btnPickOrder').disabled = true;
    document.getElementById('btnRemoveLCTransferDetail').disabled = true;
    document.getElementById('btnRefreshLCTransferDetail').disabled = true;
//    document.getElementById('btnSave').style.display = 'none'; 
    RefreshDetail();
    SetTotal();
    
 }








 function LoadCompanies()
 {
  ////debugger;
  $('#cboCommisionFavorOf').empty();
   var listItems= "<option value='"+0+"'>" +"--Select Company--" + "</option>";
    if (_oCompanies !=null) 
    {
          if(_oCompanies.length>0)
           {
            
             for (var i = 0; i < _oCompanies.length; i++) {
                  listItems += "<option value='" + _oCompanies[i].CompanyID+"'>" + _oCompanies[i].Name+"</option>";
             }
           }
           $("#cboCommisionFavorOf").html(listItems);
           $('#cboCommisionFavorOf').val(_oLCTransfer.LCFavorOf);
    
     }
    
 }


 function LoadBankAccounts()
 {
    ////debugger;
  $('#cboCommisionAccount').empty();
   var listItems= "<option value='"+0+"'>" +"--Select Bank Account--" + "</option>";
    if (_oBankAccounts !=null) 
    {
          if(_oBankAccounts.length>0)
           {
            
             for (var i = 0; i < _oBankAccounts.length; i++) {
                  listItems += "<option value='" + _oBankAccounts[i].BankAccountID+"'>" + _oBankAccounts[i].BankNameAccountNo+"</option>";
             }
           }
           $("#cboCommisionAccount").html(listItems);
           $('#cboCommisionAccount').val(_oLCTransfer.TransferBankAccountID);
    
     }
 }



function RefreshDetail()
{
    var oLCTransferDetails = $('#tblLCTransferDetail').datagrid('getRows');
    if(oLCTransferDetails!=null)
    {
        RefreshListDetails(oLCTransferDetails);
    }
}

function SetTotal()
{
    var oLCTransferDetails = $('#tblLCTransferDetail').datagrid('getRows');
     _nTotalQty =0;
     _nTotalYetToTransferQty = 0;
     _nTotalTransferQty = 0;
     _nTotalAmount = 0;
     _nTotalCommissionAmount = 0;
    if(oLCTransferDetails.length>0)
    {

        for(var i =0;i<oLCTransferDetails.length;i++)
        {
            _nTotalQty+=parseFloat(oLCTransferDetails[i].PIDetailQty);
            _nTotalYetToTransferQty+=parseFloat(oLCTransferDetails[i].YeToTransferQtyInDouble);
            _nTotalTransferQty+=parseFloat(oLCTransferDetails[i].TransferQty);
            _nTotalAmount+= parseFloat(parseFloat(oLCTransferDetails[i].TransferQty) * parseFloat(oLCTransferDetails[i].FOB));
            _nTotalCommissionAmount+= parseFloat(parseFloat(oLCTransferDetails[i].TransferQty) * parseFloat(oLCTransferDetails[i].CommissionPerPcs));
            parseFloat(_nTotalQty);
            parseFloat(_nTotalYetToTransferQty);
            parseFloat(_nTotalTransferQty);
            parseFloat(_nTotalAmount);
            parseFloat(_nTotalCommissionAmount);
            
        }
     }
    document.getElementById('lblTotalQty').innerHTML =_nTotalQty;
    document.getElementById('lblYetTransferQty').innerHTML =_nTotalYetToTransferQty;
    document.getElementById('lblTransferQty').innerHTML =_nTotalTransferQty;
    document.getElementById('lblAmount').innerHTML = formatPrice(_nTotalAmount,0) ;
    document.getElementById('lblTotalComisionAmount').innerHTML = formatPrice(_nTotalCommissionAmount,0) ;
    $('#txtTransferAmount')[0].value =   formatPrice(_nTotalAmount,0) ;
}



function RefreshListDetails(oLCTransferDetails)
    {
         data=oLCTransferDetails;
         data={"total":""+data.length+"","rows":data};
        $('#tblLCTransferDetail').datagrid('loadData',data);
 }
 
 

 function Save()
{
   debugger;

      if(!ValidateInput()) return;
      var oLCTransfer=LCTransferRefreshObject();
       $.ajax({
                type: "POST",
                dataType: "json",            
                url : _sBaseAddress+"/LCTransfer/UpDateTransferNoDate",
                traditional: true,
                data:  JSON.stringify(oLCTransfer),
                contentType: "application/json; charset=utf-8",
                success: function (data) {
               //debugger;
                var _oLCTransfer= jQuery.parseJSON(data);
                if (_oLCTransfer.ErrorMessage=="" || _oLCTransfer.ErrorMessage==null) 
                    {                    
                       
                       alert("Data Save Successfully!!");
                       window.returnValue= _oLCTransfer;
                       window.close();
                    }
                else 
                    {
                        alert(_oLCTransfer.ErrorMessage);
                    }
                 },
            error: function (xhr, status, error) 
                {
                    alert(error);
                }
            });
       
}



function ValidateInput()
{
  //debugger;
   if(document.getElementById("txtTransferNo").value==null || document.getElementById("txtTransferNo").value=="" ) { alert("Please Type Transfer No!"); $('#txtTransferNo').focus(); return false; }
   if($('#txtTransferDate').datebox('getValue') == "") { alert("Please Choose Transfer Date"); $('#txtTransferDate').focus(); return false; }
   return true;
}


function LCTransferRefreshObject()
{  
      //debugger;
     var oLCTransfer= {   
            LCTransferID :_oLCTransfer.LCTransferID,
            TransferNo : document.getElementById("txtTransferNo").value,
            TransferDate :$('#txtTransferDate').datebox('getValue')
           };
   return oLCTransfer;
} 







function Close()
{
    
    window.close();
}

 function  icsdateformat(date)
    {
        //debugger;
        var mthNames = ["Jan","Feb","Mar","Apr","May","Jun","Jul","Aug","Sep","Oct","Nov","Dec"];
        var y = date.getFullYear();
	    var m = date.getMonth();
	    var d = date.getDate();
	    //return m+'/'+d+'/'+y;
        var result= d +' '+ mthNames[m]+' '+ y;
        return result
    }


    $(document).keydown(function(e) {    
    //debugger;
    if(e.which == 27)//escape=27
    {
        //debugger;        
        window.close();
    }
});

</script>
