<html>
@{
    ViewBag.Title = "Import Invoice";
}
<body>
    @model ESimSol.BusinessObjects.ImportInvoice
    <div class="menuMainCollectionTable" style="height:100%">
        @*<div id="InvoiceTab" class="easyui-tabs" style="font-family:Tahoma; height:100%; width:100%">*@
            <div id="divImportInvoice" title="Import Invoice" style="padding:4px; height:100%; width:100%">
                <fieldset>
                    <legend> <span style=" font-weight:bold; color:Gray; ">Invoice Info</span>  </legend>
                    <div>
                        <table cellpadding="2" style="width:100%; font-size:12px;">
                            <tr>
                                <td style="width:10%;text-align:right">
                                    File No
                                </td>

                                <td style="width:23%;text-align:left">
                                    @Html.TextBoxFor(model => model.FileNo, new { style = "width: 100%;", id = "txtFileNo", disabled = "disabled" })
                                </td>

                                <td style="width:10%;text-align:right">
                                    Invoice No
                                </td>

                                <td style="width:23%;text-align:left">
                                    @Html.TextBoxFor(model => model.ImportInvoiceNo, new { style = "width: 100%;", id = "txtInvoiceNo" })
                                </td>
                                <td style=" width:10%; text-align:right">
                                    Invoice Date
                                </td>
                                <td style="width:24%;text-align:left">
                                    <input id="dateOfInvoice" type="text" class="easyui-datebox" required="required" data-options="formatter:icsdateformat,parser:icsdateparser" style="width:103%;" />
                                </td>
                            </tr>

                            <tr>
                                <td style="width:10%;text-align:right">
                                    LC No
                                </td>

                                <td style="width:23%;text-align:left">
                                    @Html.TextBoxFor(model => model.ImportLCNo, new { style = "width: 100%;", id = "txtImportLCNo", disabled = "disabled" })
                                </td>

                                <td style="width:10%;text-align:right">
                                    Party Name:
                                </td>

                                <td style="width:57%;text-align:left" colspan="3">
                                    @Html.TextBoxFor(model => model.ContractorName, new { style = "width: 100%;", id = "txtContractorName", disabled = "disabled" })
                                </td>
                            </tr>
                            <tr>
                                @*<td style="width:10%;text-align:right">
                                    Currency
                                </td>
                                <td style="width:23%;text-align:left">
                                    @Html.TextBoxFor(model => model.Currency, new { style = "width: 100%;", id = "txtCurrency", disabled = "disabled" })
                                </td>*@
                                <td style=" width:10%; text-align:right">
                                    Receive Date
                                </td>
                                <td style="width:23%;text-align:left">
                                    <input id="dateOfInvoiceRecive" type="text" class="easyui-datebox" required="required" data-options="formatter:icsdateformat,parser:icsdateparser" style="width:70%;" />
                                </td>
                                <td style="width:10%;text-align:right">
                                    Remarks:
                                </td>
                                <td colspan="3" style="width:24%;text-align:left">
                                    @Html.TextBoxFor(model => model.Remarks, new { style = "width: 100%;", id = "txtRemark_Pament" })
                                </td>
                            </tr>
                        </table>
                    </div>
                </fieldset>
                <div style="height:320px;">
                    <table id="tblImportInvoiceDetail" class="easyui-datagrid" title="Invoice Details" style="width:100%;height:320px" fitcolumns="false" rownumbers="true" pagination="false" singleselect="true" autorowheight="false" toolbar="#toolbar" data-options="onClickRow:onClickRow">
                        <thead>
                            <tr>
                                <th field="ProductCode" width="100" align="left">Product Code</th>
                                <th field="ProductName" width="360" align="left">Product Name</th>
                                <th field="MUSymbol" width="80" align="left">M. Unit</th>
                                <th field="UnitPriceSt" align="right" width="100">Unit Price</th>
                                <th data-options="field:'Qty',width:150,align:'right',editor:{type:'numberbox',options:{precision:2}},formatter:formatPrice">Qty</th>
                                <th field="AmountSt" width="150"  align="right">Amount</th>
                            </tr>
                        </thead>
                    </table>
                </div>
                <div id="toolbar">
                    <table style="width:100%;">
                        <tr>
                            <td style="width:75%;">
                                <a href="javascript:void(0)" class="easyui-linkbutton" iconcls="icon-ok" plain="true" id="btnPickProductPC">Pick</a>
                                <a href="javascript:void(0)" class="easyui-linkbutton" iconcls="icon-remove" plain="true" id="btnRemove" onclick="Delete()">Remove</a>
                                <a href="javascript:void(0)" class="easyui-linkbutton" iconcls="icon-reload" plain="true" id="btnRefreshInvoiceDetails">Refresh</a>
                                @*<a href="javascript:void(0)" class="easyui-linkbutton" iconcls="icon-ok" plain="true" id="btnUpdateAmount">Update Amount</a>*@
                            </td>
                        </tr>
                    </table>
                </div>

                <div>
                    <table style=" width:100%; font-size:12px; padding-top:2px;" cellpadding="0" cellspacing="0">
                        <tr>
                            <td style=" text-align:right; width:70%">Invoice Value</td>
                            <td style=" text-align:right; width:25%">
                                <label id="lblTotalValue" style="width:250px"></label>
                            </td>
                            <td style=" text-align:right; width:5%"></td>
                        </tr>
                    </table>
                </div>
                <fieldset id="Action">
                    <legend style="font-weight: bold">Action : </legend>
                    <table border="0" cellspacing="2" cellpadding="2" style=" width: 100%;font-weight: bold; font-size: 12px">
                        <tr>
                            <td style="width:80%; text-align:right;"></td>
                            <td style="width: 10%; text-align: right;">
                                <a id="btnSave" href="javascript:void(0)" class="easyui-linkbutton" iconcls="icon-save" plain="true" onclick="Save()">Save</a>
                            </td>
                            <td style="width: 10%; text-align: right">
                                <a href="javascript:void(0)" class="easyui-linkbutton" iconcls="icon-closed" plain="true" onclick="Close()">Close</a>
                            </td>
                        </tr>
                    </table>
                </fieldset>
            </div>
            @*<div id="divDocRelease" title="Doc Release" style="padding:4px; height:100%; width:100%">
                <fieldset>
                    <legend> <span style=" font-weight:bold; color:Gray; ">Invoice Info</span>  </legend>
                    <div>
                        <table cellpadding="2" style="width:100%; font-size:12px;">
                            <tr>
                                <td style="width:10%;text-align:right">
                                    File No
                                </td>

                                <td style="width:23%;text-align:left">
                                    @Html.TextBoxFor(model => model.FileNo, new { style = "width: 100%;", id = "txtFileNoTwo", disabled = "disabled" })
                                </td>

                                <td style="width:10%;text-align:right">
                                    Invoice No
                                </td>

                                <td style="width:23%;text-align:left">
                                    @Html.TextBoxFor(model => model.ImportInvoiceNo, new { style = "width: 100%;", id = "txtInvoiceNoTwo", disabled = "disabled" })
                                </td>
                                <td style=" width:10%; text-align:right">
                                    Invoice Date
                                </td>
                                <td style="width:24%;text-align:left">
                                    <input id="dateOfInvoiceTwo" type="text" class="easyui-datebox" required="required" data-options="formatter:icsdateformat,parser:icsdateparser" style="width:103%;" disabled="disabled" />
                                </td>
                            </tr>

                            <tr>
                                <td style="width:10%;text-align:right">
                                    LC No
                                </td>

                                <td style="width:23%;text-align:left">
                                    @Html.TextBoxFor(model => model.ImportLCNo, new { style = "width: 100%;", id = "txtImportLCNo", disabled = "disabled" })
                                </td>

                                <td style="width:10%;text-align:right">
                                    Party Name:
                                </td>

                                <td style="width:57%;text-align:left" colspan="3">
                                    @Html.TextBoxFor(model => model.ContractorName, new { style = "width: 100%;", id = "txtContractorName", disabled = "disabled" })
                                </td>
                            </tr>
                            <tr>
                                <td style="width:10%;text-align:right">
                                    Currency
                                </td>
                                <td style="width:23%;text-align:left">
                                    @Html.TextBoxFor(model => model.Currency, new { style = "width: 100%;", id = "txtCurrency", disabled = "disabled" })
                                </td>
                                <td style=" width:10%; text-align:right">
                                    Receive Date
                                </td>
                                <td style="width:23%;text-align:left">
                                    <input id="dateOfInvoiceRecive" type="text" class="easyui-datebox" required="required" data-options="formatter:icsdateformat,parser:icsdateparser" style="width:100%;" disabled="disabled" />
                                </td>
                                <td style="width:10%;text-align:right">
                                    Remarks:
                                </td>
                                <td style="width:24%;text-align:left">
                                    @Html.TextBoxFor(model => model.Remark_Pament, new { style = "width: 100%;", id = "txtRemark_PamentTwo", disabled = "disabled" })
                                </td>
                            </tr>
                            <tr style="height:100px">
                                <td colspan="6" style="width:100%;text-align:left"></td>
                            </tr>
                        </table>
                    </div>
                </fieldset>
                <fieldset id="DocRelease">
                    <legend> <span style=" font-weight:bold; color:gray; ">Doc Release</span></legend>
                    <table border="0" cellspacing="2" cellpadding="2" style="width: 100%;font-weight: bold; font-size: 12px">

                        <tr style="height:40px">
                            <td style="width:50%;text-align:right">
                                <label style="margin: 4px 16px 0 91px;float:right;">Doc Receive By Bank</label>
                            </td>
                            <td style="width:30%;text-align:left">
                                <input id="txtDateofBankInfo" type="text" class="easyui-datebox" required="required" data-options="formatter:icsdateformat,parser:icsdateparser" style="width: 120px;float:left" />
                            </td>
                            <td style="width:20%;text-align:left">
                               
                            </td>
                        </tr>
                        <tr>
                            <td style="width: 50%; text-align: right"></td>
                            <td style="width: 30%; text-align: right"></td>
                            <td style="width:20%; font-size:13px">
                                <a id="btnSave_DocBank" href="javascript:void(0)" class="easyui-linkbutton" iconcls="icon-save" plain="true">Save</a>
                            </td>
                            
                        </tr>

                    </table>
                </fieldset>
                <fieldset id="DocRelease">
                    <legend> <span style=" font-weight:bold; color:gray; ">Doc Release</span></legend>
                    <table border="0" cellspacing="2" cellpadding="2" style="width: 100%;font-weight: bold; font-size: 12px">

                        <tr style="height:40px">
                            <td style="width:50%;text-align:right">
                                <label style="margin: 4px 16px 0 91px;float:right;">Doc Release Date</label>
                            </td>
                            <td style="width:30%;text-align:left">
                                <input id="txtDateOfTakeOutDoc" type="text" class="easyui-datebox" required="required" data-options="formatter:icsdateformat,parser:icsdateparser" style="width: 120px;float:left" />
                            </td>
                            <td style="width:20%;text-align:left"></td>
                        </tr>
                        <tr>
                            <td style="width: 50%; text-align: right"></td>
                            <td style="width: 30%; text-align: right"></td>
                            <td style="width:20%; font-size:13px">
                                <a id="btnSaveDocRelease" href="javascript:void(0)" class="easyui-linkbutton" iconcls="icon-save" plain="true">Save</a>
                            </td>

                        </tr>

                    </table>
                </fieldset>
                <fieldset id="Action">
                    <legend style="font-weight: bold">Action : </legend>
                    <table border="0" cellspacing="2" cellpadding="2" style=" width: 100%;font-weight: bold; font-size: 12px">
                        <tr>
                            <td style="width:20%; text-align: right">
                                <a id="btnPrintLetter" href="javascript:void(0)" class="easyui-linkbutton" iconcls="icon-print" plain="true" onclick="PrintLetter()">Doc Release Letter</a>
                            </td>
                            <td style="width:70%; font-size:13px">
                              
                            </td>
                            <td style="width: 10%; font-size:13px">
                                <a id="btnBLClose" href="javascript:void(0)" class="easyui-linkbutton" onclick="Close()" iconcls="icon-closed" plain="true">Close</a>
                            </td>
                        </tr>
                    </table>
                </fieldset>
            </div>
            <div id="divImportBL" title="BL Information" style="padding:4px; height:100%; width:100%">
                <fieldset id="ImportBL">
                    <legend> <span style=" font-weight:bold; color:gray; ">Import BL</span></legend>
                    <table border="0" cellspacing="2" cellpadding="2" style="width: 100%;font-weight: bold; font-size: 12px">
                        <tr style="height:40px">
                            <td style="width:20%;text-align:right">
                                <label style="margin: 4px 16px 0 91px;float:right;">LC No</label>
                            </td>
                            <td style="width:25%;text-align:left">                                
                                @Html.TextBoxFor(model => model.ImportLCNo, new { style = "width: 180px", id = "txtBLImportLCNo", disabled = "disabled" })
                            </td>
                            <td style="width:20%;text-align:right">
                                <div><span style="margin:4px 14px 0 88px;float:right"> Invoice No </span></div>
                            </td>
                            <td style="width:25%;text-align:left">
                                @Html.TextBoxFor(model => model.ImportInvoiceNo, new { style = "width: 180px", id = "txtBLInvoiceNo", disabled = "disabled" })
                            </td>
                        </tr>
                        <tr style="height:40px">
                            <td style="width:20%;text-align:right">
                                <label style="margin: 4px 16px 0 91px;float:right;">BL No</label>
                            </td>
                            <td style="width:25%;text-align:left">
                                <input type="text" style="float: left;width: 180px;" id="txtBlNo" />
                            </td>
                            <td style="width:20%;text-align:right">
                                <div><span style="margin:4px 14px 0 88px;float:right"> BL Date </span></div>
                            </td>
                            <td style="width:25%;text-align:left">
                                <input id="txtBlDate" type="text" class="easyui-datebox" required="required" data-options="formatter:icsdateformat,parser:icsdateparser" style="width: 180px;float:left" />
                            </td>
                        </tr>
                        <tr style="height:40px">
                            <td style="width:20%;text-align:right">
                                <label style="margin: 4px 19px 0 41px;float:right;">Shipping Line</label>
                            </td>
                            <td style="width:25%;text-align:left">
                                <select id="cboBLShippingLine" style="float: left;width: 185px;"></select>
                            </td>
                            <td style="width:20%;text-align:right">
                                <div><span style="padding-right:5px;margin: 4px 9px 0 79px;float:right;"> ETA Date </span></div>
                            </td>
                            <td style="width:25%;text-align:left">
                                <div><input id="txtBLETADate" type="text" class="easyui-datebox" required="required" data-options="formatter:icsdateformat,parser:icsdateparser" style="width: 180px;float:left" /> </div>
                            </td>

                        </tr>
                        <tr style="height:40px">
                            <td style="width:20%;text-align:right">
                                <label style="margin: 4px 19px 0 28px;float:right;">Port of Loading</label>
                            </td>
                            <td style="width:25%;text-align:left">
                                <select id="cboBLPortOfLoading" style="float: left;width: 185px;"></select>
                            </td>
                            <td style="width:20%;text-align:right">
                                <div><span style="padding-right:5px;margin: 4px 10px 0 69px;float:right;"> Issue Date </span></div>
                            </td>
                            <td style="width:25%;text-align:left">
                                <div><input id="txtBLIssueDate" type="text" class="easyui-datebox" required="required" data-options="formatter:icsdateformat,parser:icsdateparser" style="width: 180px;float:left" /> </div>
                            </td>
                        </tr>
                        <tr style="height:40px">
                            <td style="width:20%;text-align:right">
                                <label style="margin: 4px 19px 0 24px;float:right;">Destination Port</label>
                            </td>
                            <td style="width:25%;text-align:left">
                                <select id="cboBLDestinationPort" style="float: left;width: 185px;"></select>
                            </td>
                            <td style="width:20%;text-align:right">
                                <div><span style="padding-right:5px;margin: 4px 12px 0 40px;float:right;"> Shipment Date </span></div>
                            </td>
                            <td style="width:25%;text-align:left">
                                <div><input id="txtBLShipmentDate" type="text" class="easyui-datebox" required="required" data-options="formatter:icsdateformat,parser:icsdateparser" style="width: 180px;float:left" /> </div>
                            </td>
                        </tr>
                        <tr style="height:40px">
                            <td style="width:20%;text-align:right">
                                <label style="margin: 4px 19px 0 34px;float:right;">Place Of Issues</label>
                            </td>
                            <td style="width:25%;text-align:left">
                                <select id="cboBLPlaceOfIssues" style="float: left;width: 185px;"></select>
                            </td>
                            <td style="width:20%;text-align:right">
                                <label style="margin: 4px 16px 0 74px;float:right;">Container</label>
                            </td>
                            <td style="width:25%;text-align:left">
                                <input type="text" id="txtBLContainer" style="float: left;width: 180px;" />
                            </td>
                        </tr>                        
                        <tr style="height:40px">
                            <td style="width:20%;text-align:right">
                                <label style="margin: 4px 19px 0 58px;">Vessel Info</label>
                            </td>
                            <td style="width:25%;text-align:left">
                                <input type="text" id="txtBLVesselInfo" style="width: 180px;" />
                            </td>
                            <td style="width:20%;text-align:right"></td>
                            <td style="width:25%"></td>
                        </tr>
                        <tr style="height:130px">
                            <td style="width:20%;text-align:right"></td>
                            <td style="width:25%;text-align:left"></td>
                            <td style="width:20%;text-align:right"></td>
                            <td style="width:25%"></td>
                        </tr>
                    </table>
                </fieldset>

                <fieldset id="Action">
                    <legend style="font-weight: bold">Action : </legend>
                    <table border="0" cellspacing="2" cellpadding="2" style=" width: 100%;font-weight: bold; font-size: 12px">
                        <tr>
                            <td style="width: 80%; text-align: right"></td>
                            <td style="width:10%; font-size:13px">
                                <a id="btnBLSave" href="javascript:void(0)" class="easyui-linkbutton" iconcls="icon-save" plain="true">Save</a>
                            </td>
                            <td style="width: 10%; font-size:13px">
                                <a id="btnBLClose" href="javascript:void(0)" class="easyui-linkbutton" onclick="Close()" iconcls="icon-closed" plain="true">Close</a>
                            </td>
                        </tr>
                    </table>
                </fieldset>
            </div>

            <div id="divAcceptance" title="Acceptance Information" style="padding:4px; height:100%; width:100%">
                <fieldset>
                    <legend style="font-weight:bold"> Acceptance Info</legend>
                    <table border="0" cellspacing="2" cellpadding="2" style="width:100%;font-size:11px; font-weight:bold">
                        <tr>
                            <td style="width:20%;text-align:right;">LC Description :</td>
                            <td style="width:80%" colspan="3">
                                @Html.TextBoxFor(model => model.LCDescription, new { style = "width: 100%", id = "txtLCDescription", disabled = "disabled" })
                            </td>
                        </tr>
                        <tr>
                            <td style="width:20%; text-align:right">
                                LC No
                            </td>
                            <td style="width:40%">
                                @Html.TextBoxFor(model => model.ImportLCNo, new { style = "width: 100%", id = "txtAcptncImportLCNo", disabled = "disabled" })
                            </td>
                            <td style="width:20%; text-align:right">
                                Invoice No
                            </td>
                            <td style="width:20%">
                                @Html.TextBoxFor(model => model.ImportInvoiceNo, new { style = "width: 98%", id = "txtAcptncInvoiceNo", disabled = "disabled" })
                            </td>
                        </tr>
                        <tr>
                            <td style="width:20%; text-align:right">
                                ABP No
                            </td>
                            <td style="width:40%">
                                <input id="txtABPNo" type="text" style="width: 100%;" />
                            </td>
                            <td style="width:20%; text-align:right">
                                Acceptance Date
                            </td>
                            <td style="width:20%">
                                <input id="txtAcceptanceDate" type="text" style="width: 100%;" class="easyui-datebox" required="required" data-options="formatter:icsdateformat,parser:icsdateparser" />
                            </td>
                        </tr>
                        <tr>
                            <td style="width:20%; text-align:right">
                                C Rate
                            </td>
                            <td style="width:40%">
                                <table border="0" cellpadding="1" cellspacing="1">
                                    <tr>
                                        <td style="width:30%">
                                            <input id="txtAcptncCRate" type="text" style="width: 100%;" /> 
                                        </td>
                                        <td style="width:20%; text-align:right">
                                            Amount
                                        </td>
                                        <td style="width:20%">
                                            <select id="cboAcptncCurrency" style="width:100%;" disabled="disabled" onchange="CurrencyChange(true);"></select>
                                        </td>
                                        <td style="width:30%">
                                            <input id="txtAcptncAmountBC" type="text" style="width: 100%; text-align:right" disabled="disabled" />
                                        </td>
                                    </tr>
                                </table>                                
                            </td>
                            <td style="width:20%; text-align:right">
                                Negotiation Date
                            </td>
                            <td style="width:20%">
                                <input id="txtAcptncNegotiationDate" type="text" style="width: 100%;" class="easyui-datebox" required="required" data-options="formatter:icsdateformat,parser:icsdateparser" />
                            </td>
                        </tr>

                        <tr>
                            <td style="width:20%; text-align:right">
                                Note
                            </td>
                            <td style="width:40%">
                                <input id="txtAcptncNote" type="text" style="width:100%;" />
                            </td>
                            <td style="width:20%; text-align:right">
                                Maturity Date
                            </td>
                            <td style="width:20%">
                                <input id="txtAcptncMaturityDate" type="text" style="width: 100%;" class="easyui-datebox" required="required" data-options="formatter:icsdateformat,parser:icsdateparser" />
                            </td>
                        </tr>
                        <tr style="height:270px">
                            <td colspan="4"></td>
                        </tr>

                    </table>
                </fieldset>
                <fieldset id="Action">
                    <legend style="font-weight: bold">Action : </legend>
                    <table border="0" cellspacing="2" cellpadding="2" style=" width: 100%;font-weight: bold; font-size: 12px">
                        <tr>
                            <td style="width:20%; text-align:left;">
                                <a id="btnPrintLetter" href="javascript:void(0)" class="easyui-linkbutton" iconcls="icon-print" plain="true" onclick="PrintLetter()">Doc Release Letter</a>
                            </td>
                            <td style="width: 20%; text-align: left;">
                                <a id="btnPrintLetterAcceptance" href="javascript:void(0)" class="easyui-linkbutton" iconcls="icon-print" plain="true" onclick="PrintLetterAcceptance()">Acceptance Letter</a>
                            </td>
                           
                            <td style="width: 80%; text-align: right;"></td>
                            <td style="width: 10%; text-align: right;">
                                <a id="btnAcptncSave" href="javascript:void(0)" class="easyui-linkbutton" iconcls="icon-save" plain="true">Save</a>
                            </td>
                            <td style="width: 10%; text-align: right">
                                <a id="btnAcptncClose" href="javascript:void(0)" class="easyui-linkbutton" onclick="Close()" iconcls="icon-closed" plain="true">Close</a>
                            </td>
                        </tr>
                    </table>
                </fieldset>
            </div>*@
        </div>

    <div id="winUpdateAmount" style="width:300px;" class="easyui-window" title="" data-options="modal:true,closed:true,collapsible:false,minimizable:false,maximizable:false,closable:false">
        <div id="divwinFabricBatch" tabindex="-1">
            <fieldset>
                <table style="width:100%;">
                    <tr>
                        <td>
                            <label>Invoice No :</label>
                        </td>
                        <td>
                            <input type="text" id="txtInvoiceNoDiv" style="width: 120px;" disabled />
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <label>Current Amount :</label>
                        </td>
                        <td>
                            <input type="text" id="txtCurrentAmountDiv" class="number" style="width: 120px;" disabled />
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <label>Amount :</label>
                        </td>
                        <td>
                            <input type="text" id="txtAmountDiv" class="number" style="width: 120px;" />
                        </td>
                    </tr>
                </table>
            </fieldset>
            <fieldset>
                <legend>Actions</legend>
                <div style="float:right;">
                    <a id="btnOKForUpdate" href="javascript:void(0)" class="easyui-linkbutton" iconcls="icon-save" plain="true"> Update </a>
                    <a id="btnCloseForUpdate" href="javascript:void(0)" class="easyui-linkbutton" iconcls="icon-cancel" plain="true">Close</a>
                </div>
            </fieldset>
        </div>
    </div>

    @*</div>*@
</body>
</html>

<script type="text/javascript">
    var _sBaseAddress = "";
    var _oAuthorizationRolesMappings =[];
    $(document).ready(function() {
        _sBaseAddress = @Html.Raw(new System.Web.Script.Serialization.JavaScriptSerializer().Serialize(HttpContext.Current.Session[SessionInfo.BaseAddress]));
        _oAuthorizationRolesMappings =@Html.Raw( new System.Web.Script.Serialization.JavaScriptSerializer().Serialize(HttpContext.Current.Session[SessionInfo.AuthorizationRolesMapping]));
        var oImportInvoice = @Html.Raw(new System.Web.Script.Serialization.JavaScriptSerializer().Serialize(Model));
        var oImportInvoiceDetails = @Html.Raw(new System.Web.Script.Serialization.JavaScriptSerializer().Serialize(Model.ImportInvoiceDetails));
        var oRouteLocations = @Html.Raw(new System.Web.Script.Serialization.JavaScriptSerializer().Serialize(ViewBag.RouteLocations));
        var oImportBL= @Html.Raw(new System.Web.Script.Serialization.JavaScriptSerializer().Serialize(Model.ImportBL));
        var oCurrencys = @Html.Raw(new System.Web.Script.Serialization.JavaScriptSerializer().Serialize(ViewBag.Currencys));
        debugger;
        $('#divImportInvoice').data('ImportInvoice', oImportInvoice);
        $('#divImportInvoice').data('ImportInvoiceDetails',oImportInvoiceDetails);
        $('#divImportInvoice').data('ImportBL', oImportBL);
        $('#divImportInvoice').data('RouteLocations', oRouteLocations);
        $('#txtBlDate,#txtBLIssueDate,#txtBLETADate,#txtAcceptanceDate').datebox('setValue',icsdateformat(new Date()));
        $('#txtBLShipmentDate').datebox('setValue',oImportInvoice.ShipmentDateInString);
        $('#txtAcptncCRate').icsCurrencyBox();
        $("#cboAcptncCurrency").icsLoadCombo({List: oCurrencys,OptionValue: "CurrencyID",DisplayText: "Symbol"});
        RefreshControl();
        // RefreshAmount();
        if(sessionStorage.getItem("ImportInvoiceHeader")=="View Import Invoice")
        {
            $('#btnSave,#btnPickProductPC,#btnRemove,#btnAcptncSave,#btnBLSave').hide();
            $('#divImportInvoice,#toolbar').find('input, textarea, button, select').attr('disabled','disabled');
        }
        $('#btnUpdateAmount').hide();
        if(PermissionChecker('UpdateInfo','ImportInvoice',_oAuthorizationRolesMappings)){$('#btnUpdateAmount').show();}
    });


    $("#btnPickContractor").click(function () {

        var sContractorName=$.trim($("#txtContractor").val());
        _bIsIssueTo=true;
        GetContractors(sContractorName, _bIsIssueTo);
    });
    $("#txtContractor").keydown(function (e) {
        var nkeyCode = e.keyCode || e.which;
        if(nkeyCode==13){
            var sContractorName=$.trim($("#txtContractor").val());
            GetContractors(sContractorName);
        }
        else if(nkeyCode==8){
            $("#txtContractor").val("");
            _oImportInvoice.ContractorID=0;

        }
    });
    $("#btnResetContractor").click(function () {
        $("#txtContractor").val("");
        _oImportInvoice.ContractorID=0;
    });
    function GetContractors(sContractorName){


        var oContractor = { Name:  $("#txtContractor").val() };
        var obj = {
            BaseAddress: _sBaseAddress,
            Object: oContractor,
            ControllerName: "ImportInvoice",
            ActionName: "GetsLCSupllier",
            IsWinClose: false
        };

        $.icsDataGets(obj, function (response) {

            if (response.status && response.objs.length > 0) {
                if (response.objs[0].ContractorID > 0) {

                    var tblColums = [];

                    var oColumn = { field: "ContractorID", title: "Code", width: 50, align: "center" };tblColums.push(oColumn);
                    oColumn = { field: "Name", title: "Name", width: 190, align: "left" };tblColums.push(oColumn);
                    oColumn = { field: "Phone", title: "Phone", width: 140, align: "left" };tblColums.push(oColumn);

                    var oPickerParam = {
                        winid: 'winContractorPicker',
                        winclass:'clsContractorPicker',
                        winwidth: 460,
                        winheight: 460,
                        tableid: 'tblContractorPicker',
                        tablecolumns: tblColums,
                        datalist: response.objs,
                        multiplereturn: false,
                        searchingbyfieldName:'Name',
                        windowTittle: 'Contractor List'
                    };
                    $.icsPicker(oPickerParam);
                    IntializePickerbutton(oPickerParam);//multiplereturn, winclassName
                }
                else { alert(response.objs[0].ErrorMessage); }
            }
            else{
                alert("No contractor found.");
            }
        });
    }

    $("#btnPickLC").click(function () {

        var oPC = {ContractorID:_oImportInvoice.ContractorID};
        var TextBox=$(this);
        var obj = {
            BaseAddress: _sBaseAddress,
            Object: oPC,
            ControllerName: "ImportInvoice",
            ActionName: "GetsImportLC",
            IsWinClose: false
        };
        $.icsDataGets(obj, function (response) {
            if (response.status && response.objs.length > 0)
            {
                if (response.objs[0].ImportLCID > 0) {
                    var tblColums = [];var oColumn = { field: "ImportLCNo", title: "L/C No", width: 150, align: "left" };tblColums.push(oColumn);
                    oColumn = { field: "AmountSt", title: "Amount", width: 120, align: "right" };tblColums.push(oColumn);
                    oColumn = { field: "ContractorName", title: "Name", width: 160, align: "left" };tblColums.push(oColumn);
                    var oPickerParam = {
                        winid: 'winPLC',
                        winclass: 'clsPLC',
                        winwidth: 600,
                        winheight: 460,
                        tableid: 'tblPCs',
                        tablecolumns: tblColums,
                        datalist: response.objs,
                        multiplereturn: false,
                        searchingbyfieldName: 'ImportLCNo',
                        windowTittle: 'L/C List'
                    };
                    $.icsPicker(oPickerParam);
                    IntializePickerbutton(oPickerParam);
                }
                else { alert(response.objs[0].ErrorMessage); }
            }
            else { alert("Data not Found"); }
        });

    });

    $("#btnPickProductPC").click(function () {
        if(parseInt($('#divImportInvoice').data('ImportInvoice').ImportLCID)<=0)
        {
            alert("Please, Pick a L/C No");
            $('#txtImportLCNo').focus();
        }
        var oImportInvoice = {ImportLCID:parseInt($('#divImportInvoice').data('ImportInvoice').ImportLCID) };
        var obj = {
            BaseAddress: _sBaseAddress,
            Object: oImportInvoice,
            ControllerName: "ImportInvoice",
            ActionName: "GetsImportPIProduct",
            IsWinClose: false
        };
        $.icsDataGets(obj, function (response) {

            if (response.status && response.objs.length > 0)
            {
                if ( response.objs[0].ProductID > 0)
                {
                    var tblColums = [], searcingField = "", windowTittle = "";
                    var oColumn = { field: "ProductCode", title: "Code", width: 80, align: "left" }; tblColums.push(oColumn);
                    oColumn = { field: "ProductName", title: "Item Name", width: 220, align: "left" }; tblColums.push(oColumn);
                    oColumn = { field: "MUName", title: "Unit", width:50, align: "left" }; tblColums.push(oColumn);
                    oColumn = { field: "QtyST", title: "Qty", width: 80, align: "right" }; tblColums.push(oColumn);
                    oColumn = { field: "UnitPrice", title: "UnitPrice", width: 80, align: "right" }; tblColums.push(oColumn);
                    searcingField = "ProductName";
                    windowTittle = "Item List";

                    var oPickerParam = {
                        winid: 'winProduct_Doc',
                        winclass: 'clsProduct_Doc',
                        winwidth:600,
                        winheight: 460,
                        tableid: 'tblProduct',
                        tablecolumns: tblColums,
                        datalist: response.objs,
                        multiplereturn: true,
                        searchingbyfieldName: searcingField,
                        windowTittle: windowTittle
                    };
                    $.icsPicker(oPickerParam);
                    IntializePickerbutton(oPickerParam);
                }
                else { alert(response.objs[0].ErrorMessage); }
            }
            else
            {
                alert("Data Not Fund");
                return;
            }

        });
    });

    function IntializePickerbutton(oPickerobj) {
        $("#" + oPickerobj.winid).find("#btnOk").click(function () {
            //for Single Select
            SetPickerValueAssign(oPickerobj);
        });
        $(document).find('.' + oPickerobj.winclass).keydown(function (e) {
            if (e.which == 13)//enter=13
            {
                SetPickerValueAssign(oPickerobj);

            }
        });
    }
    function SetPickerValueAssign(oPickerobj)
    {

        var oreturnObj = null, oreturnobjs = [];
        if (oPickerobj.multiplereturn)
        {
            oreturnobjs = $('#' + oPickerobj.tableid).datagrid('getChecked');
        } else {
            oreturnObj = $('#' + oPickerobj.tableid).datagrid('getSelected');
        }
        $("#" + oPickerobj.winid).icsWindow("close");
        $("#" + oPickerobj.winid).remove();

        if (oPickerobj.winid == 'winProduct_Doc')
        {
            if (oreturnobjs != null && oreturnobjs.length > 0)
            {
                $("#"+oPickerobj.winid).icsWindow("close");
                $("#" + oPickerobj.winid).remove();
                if (oPickerobj.winclass == 'clsProduct_Doc')
                {
                    if (oreturnobjs != null && oreturnobjs.length > 0)
                    {
                        SaveWithDetail(oreturnobjs);
                        RefreshTotal();
                    }
                }
            }
        }
    }

    function SaveWithDetail(oImportInvoiceDetails)
    {
        var oPriviousDetails = $('#tblImportInvoiceDetail').datagrid('getRows');
        for(var i =0;i<oImportInvoiceDetails.length;i++)
        {
            //if(!ICS_IsExist(oPriviousDetails,'ProductID',oImportInvoiceDetails[i].ProductID))
            //{
            $('#tblImportInvoiceDetail').datagrid('appendRow',oImportInvoiceDetails[i]);
            //}
        }
    }

    function RefreshControl()
    {
        debugger;
        var oImportInvoice = $('#divImportInvoice').data('ImportInvoice');
        $('#dateOfInvoice').datebox('setValue',oImportInvoice.InvoiceDateInString);
        $('#dateOfInvoiceRecive').datebox('setValue',oImportInvoice.DateofReceiveInString);

        $('#txtDateofBankInfo').datebox('setValue',oImportInvoice.DateofBankInfoSt);
        $('#txtDateOfTakeOutDoc').datebox('setValue',oImportInvoice.DateOfTakeOutDocSt);

        if(oImportInvoice.ImportInvoiceDetails!=null)
        {
            DynamicRefreshList(oImportInvoice.ImportInvoiceDetails,'tblImportInvoiceDetail');
        }
        RefreshTotal();
        //BL control
        var oRouteLocations = $('#divImportInvoice').data('RouteLocations');
        LoadComboBox(oRouteLocations);
        var oImportBL = $('#divImportInvoice').data('ImportBL');
        if(oImportBL!=null && parseInt(oImportBL.ImportBLID)>0)
        {
            $("#txtBlNo").val(oImportBL.BLNo);
            $("#txtBLContainer").val(oImportBL.ContainerCount);
            $("#txtBLVesselInfo").val(oImportBL.VesselInfo);
            $('#txtBlDate').datebox('setValue',oImportBL.BLDateInString);
            $('#txtBLETADate').datebox('setValue',oImportBL.ETAInString);
            $('#txtBLIssueDate').datebox('setValue',oImportBL.IssueDateInString);
            $('#txtBLShipmentDate').datebox('setValue',oImportBL.ShipmentDateInString);
            $("#cboBLShippingLine").val(oImportBL.ShippingLine);
            $("#cboBLPortOfLoading").val(oImportBL.LandingPort);
            $("#cboBLDestinationPort").val(oImportBL.DestinationPort);
            $("#cboBLPlaceOfIssues").val(oImportBL.PlaceOfIssue);
        }
        if(parseInt(oImportInvoice.ImportInvoiceID)>0)
        {
            //Acceptance control
            $('#txtAcptncNote').val(oImportInvoice.Remark_Pament);
            $('#txtABPNo').val(oImportInvoice.ABPNo);
            $('#txtAcptncCRate').val(oImportInvoice.CRate_Acceptance);
            var _sAmountTemp=formatPrice((parseFloat(oImportInvoice.CCRate) * parseFloat(oImportInvoice.Amount)),0);
            //$('#txtAcptncAmountBC').val(_sAmountTemp);
            //$('#cboAcptncCurrency').val(oImportInvoice.Company.BaseCurrencyID);
            if(oImportInvoice.DateofNegotiationInST=="")
            {
                $('#txtAcptncNegotiationDate').datebox('setValue', icsdateformat(new Date()));
            }
            else
            {
                $('#txtAcptncNegotiationDate').datebox('setValue', oImportInvoice.DateofNegotiationInST);
            }
            if(oImportInvoice.DateofAcceptanceSt=="")
            {
                $('#txtAcceptanceDate').datebox('setValue', icsdateformat(new Date()));
            }
            else
            {
                $('#txtAcceptanceDate').datebox('setValue', oImportInvoice.DateofAcceptanceSt);
            }
            if(oImportInvoice.DateofMaturityST=="")
            {
                $('#txtAcptncMaturityDate').datebox('setValue', icsdateformat(new Date()));
            }
            else
            {
                $('#txtAcptncMaturityDate').datebox('setValue', oImportInvoice.DateofMaturityST);
            }
        }
    }

    function RefreshAmount()
    {
        $('#txtLCValue').val(_oImportInvoice.Currency+" "+formatPrice(_oImportInvoice.Amount_LC,0));
        $('#txtInvoiceValue_This').val(formatPrice(_oImportInvoice.Amount,0));
        $('#txtTotalInvoiceValue').val(_oImportInvoice.Currency+" "+formatPrice(_oImportInvoice.TotalInvoiceValue,0));
        $('#txtAmountYetToInvoive').val(_oImportInvoice.Currency+" "+formatPrice(_oImportInvoice.Amount_LC-_oImportInvoice.TotalInvoiceValue,0));

    }

    function RefreshObject()
    {
        var oImportInvoice = $('#divImportInvoice').data('ImportInvoice');
        var oNewImportInvoice =
        {
            ImportInvoiceID: oImportInvoice.ImportInvoiceID,
            FileNo: oImportInvoice.FileNo,
            ImportInvoiceNo: $('#txtInvoiceNo').val(),
            ContractorID: oImportInvoice.ContractorID,
            ImportLCID : oImportInvoice.ImportLCID,
            DateofInvoice: new Date($('#dateOfInvoice').datebox('getValue')),
            DateofReceive:new Date($('#dateOfInvoiceRecive').datebox('getValue')),
            InvoiceCopyTypeInt:$('#cboInvoiceCopyType').val(),
            CurrencyID: oImportInvoice.CurrencyID,
            BUID:sessionStorage.getItem('BUID'),
            InvoiceTypeInt:1,
            InvoiceStatusInt:1,
            BankStatusInt:1,
            Remarks: $('#txtRemark_Pament').val(),
            Remark_Pament: $('#txtRemark_Pament').val(),
            Amount: oImportInvoice.Amount,
            ImportInvoiceDetails: $('#tblImportInvoiceDetail').datagrid('getRows')
        }
        return oNewImportInvoice;
    }
    function Save()
    {
        endEditing() ;
        var oImportInvoice = $('#divImportInvoice').data('ImportInvoice');
        if( parseInt(oImportInvoice.ImportLCID)<=0)
        {
            alert("Please Pick a valid L/C");
            return;
        }
        if($('#txtInvoiceNo').val()=="")
        {
            alert("Please, entry Invoice No");
            $('#txtInvoiceNo').focus();
            return;
        }
        if(parseInt(oImportInvoice.CurrencyID)<=0)
        {
            alert("Please Pick a valid Currency");
            return;
        }
        var oDetails = $('#tblImportInvoiceDetail').datagrid('getRows');
        if(oDetails.length<=0)
        {
            alert("Please Add At Least One Item.");
            return;
        }

        var oImportInvoice=RefreshObject();
        $.ajax({
            type: "POST",
            dataType: "json",
            url : _sBaseAddress+"/ImportInvoice/Save",
            traditional: true,
            data:  JSON.stringify(oImportInvoice),
            contentType: "application/json; charset=utf-8",
            success: function (data)
            {
                debugger
                var oImportInvoiceDetails=[];
                var oImportInvoice = jQuery.parseJSON(data);
                if (oImportInvoice.ErrorMessage=="" || oImportInvoice.ErrorMessage==null )
                {
                    alert("Data Saved successfully.");
                    $('#divImportInvoice').data('ImportInvoice',oImportInvoice);
                    oImportInvoiceDetails=oImportInvoice.ImportInvoiceDetails;
                    if(oImportInvoiceDetails.length>0)
                    {
                        DynamicRefreshList([],'tblImportInvoiceDetail');
                        DynamicRefreshList(oImportInvoiceDetails,'tblImportInvoiceDetail');
                        window.location.href = sessionStorage.getItem("BackLinkForInvoice");
                    }
                }
                else
                {
                    alert(oImportInvoice.ErrorMessage);
                }
            },
            error: function (xhr, status, error)
            {
                alert(error);
            }
        });
    }
    function RefreshTotal()
    {
        debugger;
        var oImportInvoice = $('#divImportInvoice').data('ImportInvoice');
        var oImportInvoiceDetails = $('#tblImportInvoiceDetail').datagrid('getRows');
        var nTotalAmount=0;
        nTotalAmount=parseFloat(nTotalAmount);
        var nAmount=0;
        if(oImportInvoiceDetails.length>0)
        {
            for(var i =0;i<oImportInvoiceDetails.length;i++)
            {
                nAmount=  parseFloat(oImportInvoiceDetails[i].Qty/parseInt(oImportInvoiceDetails[i].RateUnit)) * parseFloat(oImportInvoiceDetails[i].UnitPrice);
                nTotalAmount =parseFloat(nTotalAmount)+parseFloat(parseFloat(nAmount).toFixed(2));
            }
        }
        document.getElementById('lblTotalValue').innerHTML = oImportInvoice.Currency+" "+ formatPrice(nTotalAmount);
        //$('#divImportInvoice').data('ImportInvoice').Amount = nTotalAmount;
    }

    $('#btnSave_DocBank').click( function(){

        var dDateofBankInfo = new Date($('#txtDateofBankInfo').datebox('getValue'));
        var dDateOfInvoice = new Date($('#dateOfInvoice').datebox('getValue'));

        if ($('#txtDateofBankInfo').datebox('getValue') == null || $('#txtDateofBankInfo').datebox('getValue') == "") {
            alert("Please give valid Date!"); $('#txtDateofBankInfo').focus();
            return false;
        }
        if ((dDateOfInvoice) > (dDateofBankInfo))
        {
            alert("Doc Receive By Bank Date cannot be greater than Invoice Date.");
            $('#txtDateofBankInfo').focus();
            $("#txtDateofBankInfo").addClass("errorFieldBorder");
            return false;
        }
        var oImportInvoice = $('#divImportInvoice').data('ImportInvoice');
        var oImportInvoice={
            ImportInvoiceID: oImportInvoice.ImportInvoiceID,
            DateofBankInfo:new Date($('#txtDateofBankInfo').datebox('getValue')),
            DateOfTakeOutDoc:new Date(),
            DateofNegotiation :new Date(),
            DateofAcceptance :new Date(),
            DateofMaturity :new Date(),
            CommonDate :new Date()
        }

        $.ajax({
            type: "POST",
            dataType: "json",
            url : _sBaseAddress+  "/ImportInvoice/BankInfoCollect",
            traditional: true,
            data:  JSON.stringify(oImportInvoice),
            contentType: "application/json; charset=utf-8",
            success: function (data) {
                var oImportInvoice = jQuery.parseJSON(data);
                if(oImportInvoice.ErrorMessage==null||oImportInvoice.ErrorMessage=="" )
                {
                    alert("Successfully Saved.");
                    //$('#InvoiceTab').tabs('select',2);

                }
                else{
                    alert(oImportInvoice.ErrorMessage);
                }
            },
            error: function (xhr, status, error) {
                alert(error);
            }
        });

    });
    $('#btnSaveDocRelease').click( function(){

        var dDateofBankInfo = new Date($('#txtDateofBankInfo').datebox('getValue'));
        var dDateOfTakeOutDoc = new Date($('#txtDateOfTakeOutDoc').datebox('getValue'));

        if ($('#txtDateOfTakeOutDoc').datebox('getValue') == null || $('#txtDateOfTakeOutDoc').datebox('getValue') == "") {
            alert("Please give valid Date!"); $('#txtDateOfTakeOutDoc').focus();
            return false;
        }
        if ((dDateOfTakeOutDoc) < (dDateofBankInfo))
        {
            alert("Doc Release Date Date cannot be greater than Doc Receive By Bank Date.");
            $('#txtDateofBankInfo').focus();
            $("#txtDateofBankInfo").addClass("errorFieldBorder");
            return false;
        }
        var oImportInvoice = $('#divImportInvoice').data('ImportInvoice');
        var oImportInvoice={
            ImportInvoiceID: oImportInvoice.ImportInvoiceID,
            DateofBankInfo:new Date($('#txtDateofBankInfo').datebox('getValue')),
            DateOfTakeOutDoc:new Date($('#txtDateOfTakeOutDoc').datebox('getValue')),
            DateofNegotiation :new Date(),
            DateofAcceptance :new Date(),
            DateofMaturity :new Date(),
            CommonDate :new Date()
        }

        $.ajax({
            type: "POST",
            dataType: "json",
            url : _sBaseAddress+  "/ImportInvoice/TakeOutOrginalDoc",
            traditional: true,
            data:  JSON.stringify(oImportInvoice),
            contentType: "application/json; charset=utf-8",
            success: function (data) {
                var oImportInvoice = jQuery.parseJSON(data);
                if(oImportInvoice.ErrorMessage==null||oImportInvoice.ErrorMessage=="" )
                {
                    alert("Successfully Saved Doc Release.");
                    //$('#InvoiceTab').tabs('select',2);

                }
                else{
                    alert(oImportInvoice.ErrorMessage);
                }
            },
            error: function (xhr, status, error) {
                alert(error);
            }
        });

    });


    $('#txtAcceptanceDate').datebox({
        onSelect: function(date){
            var oImportInvoice = $('#divImportInvoice').data('ImportInvoice');
            var dAcceptanceDate = new Date($('#txtAcceptanceDate').datebox('getValue'));
            $('#txtAcptncNegotiationDate').datebox('setValue',icsdateformat(dAcceptanceDate));
            var dMaturityDate = dAcceptanceDate;
            dMaturityDate.setDate(dAcceptanceDate.getDate()+parseInt(oImportInvoice.Tenor));
            $('#txtAcptncMaturityDate').datebox('setValue',icsdateformat(dMaturityDate));

        }
    });

    //BL Control
    function LoadComboBox(oRouteLocations)
    {
        debugger;
        var oShippingLines = [],oPortOfLoadings = [],oDestinationPorts = [],oPlaceOfIssues = [],oOtherLocations = [];
        for(var i=0;i<oRouteLocations.length;i++)
        {
            if(oRouteLocations[i].LocationType == 1)
            {
                oShippingLines.push(oRouteLocations[i]);
            }
            else if(oRouteLocations[i].LocationType == 2)
            {
                oPortOfLoadings.push(oRouteLocations[i]);
            }
            else if(oRouteLocations[i].LocationType == 3)
            {
                oDestinationPorts.push(oRouteLocations[i]);
            }
            else if(oRouteLocations[i].LocationType == 4)
            {
                oPlaceOfIssues.push(oRouteLocations[i]);
            }
            else if(oRouteLocations[i].LocationType == 5)
            {
                oOtherLocations.push(oRouteLocations[i]);
            }
        }
        $("#cboBLShippingLine").icsLoadCombo({List: oShippingLines,OptionValue: "RouteLocationID",DisplayText: "Name"});
        $("#cboBLPortOfLoading").icsLoadCombo({List: oPortOfLoadings,OptionValue: "RouteLocationID",DisplayText: "Name"});
        $("#cboBLDestinationPort").icsLoadCombo({List: oDestinationPorts,OptionValue: "RouteLocationID",DisplayText: "Name"});
        $("#cboBLPlaceOfIssues").icsLoadCombo({List: oPlaceOfIssues,OptionValue: "RouteLocationID",DisplayText: "Name"});
        $("#cboLandingPort").icsLoadCombo({List: oOtherLocations,OptionValue: "RouteLocationID",DisplayText: "Name"});
    }
    function RefreshObjectForBL()
    {
        var oImportBL = $('#divImportInvoice').data('ImportBL');
        var oNewImportBL = {
            ImportBLID          : (oImportBL==null?0:oImportBL.ImportBLID),
            BLNo                : $("#txtBlNo").val(),
            BLDate              : new Date($('#txtBlDate').datebox('getValue')),
            ShippingLine        : parseInt($("#cboBLShippingLine").val()),
            ETA                 : new Date($('#txtBLETADate').datebox('getValue')),
            LandingPort         : parseInt($("#cboBLPortOfLoading").val()),
            IssueDate           : new Date($('#txtBLIssueDate').datebox('getValue')),
            DestinationPort     : parseInt($("#cboBLDestinationPort").val()),
            ShipmentDate        : new Date($('#txtBLShipmentDate').datebox('getValue')),
            PlaceOfIssue        : parseInt($("#cboBLPlaceOfIssues").val()),
            ContainerCount      : parseInt($("#txtBLContainer").val()),
            VesselInfo          : $("#txtBLVesselInfo").val(),
            ImportInvoiceID     : $('#divImportInvoice').data('ImportInvoice').ImportInvoiceID
        };
        return oNewImportBL;
    }
    $('#btnBLSave').click( function(){
        if($("#txtBlNo").val() == "")
        {
            alert("Please Give BL No");
            return false;
        }
        var sBLDate = $('#txtBlDate').datebox('getValue');
        if(sBLDate===null || sBLDate === "")
        {
            alert("Please select BL Date!");
            return false;
        }

        var oImportBL = RefreshObjectForBL();
        if(oImportBL.ImportInvoiceID<=0)
        {
            alert("Invalid Invoice.");
            return false;
        }
        $.ajax({
            type: "POST",
            dataType: "json",
            url : _sBaseAddress+  "/ImportBL/Save",
            traditional: true,
            data:  JSON.stringify(oImportBL),
            contentType: "application/json; charset=utf-8",
            success: function (data) {
                var oImportBL = jQuery.parseJSON(data);
                if(parseInt(oImportBL.ImportBLID)>0)
                {
                    alert("Successfully Saved BL.");
                    $('#InvoiceTab').tabs('select',2);

                }
                else{
                    alert(oImportBL.ErrorMessage);
                }
            },
            error: function (xhr, status, error) {
                alert(error);
            }
        });

    });
    //BL End
    //Accept Invoice start
    $("#txtAcptncCRate").keypress(function (e) {
        if (e.which != 8 && e.which != 0  && e.which != 46  && (e.which < 48 || e.which > 57)) {
            return false;
        }
    });

    $("#txtAcptncCRate").keyup(function (e)
    {
        var oImportInvoice = $('#divImportInvoice').data('ImportInvoice');
        oImportInvoice.CCRate = icsRemoveComma($('#txtAcptncCRate').val());
        var sAmountTemp=formatPrice(( parseFloat(oImportInvoice.CCRate)*parseFloat(oImportInvoice.Amount)),0);
        $('#txtAcptncAmountBC').val(sAmountTemp);

    });
    function RefreshObjectForAcceptance()
    {
        debugger;
        var oImportInvoice = $('#divImportInvoice').data('ImportInvoice');
        var oNewImportInvoice =
        {
            ImportInvoiceID: oImportInvoice.ImportInvoiceID,
            ContractorID: oImportInvoice.ContractorID,
            ImportLCID : oImportInvoice.ImportLCID,
            DateofBankInfo : new Date(),
            DateOfTakeOutDoc: new Date(),
            DateofNegotiation: new Date($('#txtAcptncNegotiationDate').datebox('getValue')),
            DateofAcceptance : new Date($('#txtAcceptanceDate').datebox('getValue')),
            DateofMaturity: new Date($('#txtAcptncMaturityDate').datebox('getValue')),
            CurrencyID_Acceptance:$('#cboAcptncCurrency').val(),
            CRate_Acceptance:  parseFloat($('#txtAcptncCRate').val()),
            CommonRemarks: document.getElementById('txtAcptncNote').value,
            ABPNo:document.getElementById('txtABPNo').value
        }
        return oNewImportInvoice;
    }

    $('#btnAcptncSave').click(function()
    {
        var sABP=$("#txtABPNo").val();
        if(sABP =="" || sABP==null)
        {
            $("#txtABPNo").focus();
            alert("Please, Entry ABP No");
            return ;
        }
        if(parseInt($("#txtAcptncCRate").val()) == 0)
        {
            alert("Please Give Conversion Rate");
            $("#txtAcptncCRate").focus();
            return ;
        }

        if(parseInt($("#cboAcptncCurrency").val()) == 0)
        {
            $("#cboAcptncCurrency").focus();
            alert("Please Select Currency");
            return ;
        }
        debugger;
        var oImportInvoice=RefreshObjectForAcceptance();
        $.ajax({
            type: "POST",
            dataType: "json",
            url : _sBaseAddress+  "/ImportInvoice/ImportInvoiceAcceptance",
            traditional: true,
            data:  JSON.stringify(oImportInvoice),
            contentType: "application/json; charset=utf-8",
            success: function (data)
            {
                var   oImportInvoice = jQuery.parseJSON(data);
                if (oImportInvoice.ErrorMessage=="" || oImportInvoice.ErrorMessage==null)
                {
                    alert("Save Successfully");
                    oImportInvoice.BankStatusInSt="Wait For Approve";
                    var oImportInvoices =sessionStorage.getItem("ImportInvoices");
                    var nIndex= parseInt(sessionStorage.getItem("SelectedRowIndex"));
                    if(oImportInvoices!=null)
                    {
                        oImportInvoices = jQuery.parseJSON(oImportInvoices);
                    }
                    else
                    {
                        oImportInvoices=[];
                    }
                    if(nIndex!=-1)
                    {
                        oImportInvoices[nIndex]=oImportInvoice;
                    }
                    else
                    {
                        sessionStorage.setItem("SelectedRowIndex", oImportInvoices.length);
                        oImportInvoices.push(oImportInvoices);
                    }
                    sessionStorage.setItem("ImportInvoices", JSON.stringify(oImportInvoices));
                    window.location.href = sessionStorage.getItem("BackLinkForInvoice");
                }
                else
                {
                    alert(oImportInvoice.ErrorMessage);
                }
            },
            error: function (xhr, status, error)
            {
                alert(error);
            }
        });
    });

    //Accept invoice end

    function Close()
    {

        window.location.href = sessionStorage.getItem("BackLinkForInvoice");
    }

    $(document).keydown(function(e) {
        if(e.which == 27)//escape=27
        {
            window.location.href = sessionStorage.getItem("BackLinkForInvoice")
        }
    });
    var editIndex = undefined;
    function endEditing() {
        if (editIndex == undefined) { return true }
        if ($('#tblImportInvoiceDetail').datagrid('validateRow', editIndex)) {
            $('#tblImportInvoiceDetail').datagrid('endEdit', editIndex);
            $('#tblImportInvoiceDetail').datagrid('selectRow', editIndex);
            var oPODetail = $('#tblImportInvoiceDetail').datagrid('getSelected');
            if (oPODetail == null)
            {
                return;
            }
            var oImportInvoice = $('#divImportInvoice').data('ImportInvoice');
            oPODetail.Amount = (parseFloat(oPODetail.Qty)/parseInt(oPODetail.RateUnit))*parseFloat(oPODetail.UnitPrice);
            oPODetail.AmountSt=oImportInvoice.Currency+''+oPODetail.Amount;
            $('#tblImportInvoiceDetail').datagrid('updateRow', { index: editIndex, row: oPODetail });
            RefreshTotal();
            editIndex = undefined;
            return true;
        }
        else {
            return false;
        }
    }

    function onClickRow(index) {

        if (editIndex != index) {
            if (endEditing()) {
                $('#tblImportInvoiceDetail').datagrid('selectRow', index).datagrid('beginEdit', index);
                var oPODetail= $('#tblImportInvoiceDetail').datagrid('getSelected');

                editIndex = index;
            }
            else {
                $('#tblImportInvoiceDetail').datagrid('selectRow', editIndex);
            }
        }
    }
    function Delete()
    {
        var oImportInvoiceDetail= $('#tblImportInvoiceDetail').datagrid('getSelected');
        if (!confirm("Confirm to Delete?")) return false;
        if (oImportInvoiceDetail == null || parseInt(oImportInvoiceDetail.ProductID)<= 0)
        {
            alert("Please Select a Item from a List.");
            return;
        }
        var nSelectedIndex = $('#tblImportInvoiceDetail').datagrid('getRowIndex', oImportInvoiceDetail);
        $('#tblImportInvoiceDetail').datagrid('deleteRow',nSelectedIndex);
        alert("Delete sucessfully");
        RefreshTotal();
    }
    $('#btnRefreshInvoiceDetails').click(function(){
        endEditing();
    });

    function PrintLetter()
    {
        var oImportInvoice = $('#divImportInvoice').data('ImportInvoice');
        window.open(_sBaseAddress+'/ImportInvoice/PrintTakeOutOriginalDoc?id='+oImportInvoice.ImportInvoiceID, "_blank");

    }
    function PrintLetterAcceptance()
    {
        var oImportInvoice = $('#divImportInvoice').data('ImportInvoice');
        window.open(_sBaseAddress+'/ImportInvoice/PrintAcceptanceLetter?id='+oImportInvoice.ImportInvoiceID, "_blank");

    }

    $('#btnCloseForUpdate').click(function(e){
        $("#winUpdateAmount").icsWindow("close");
    });
    $('#btnUpdateAmount').click(function(){
        debugger;
        var oImportInvoice = $('#divImportInvoice').data('ImportInvoice');
        $('#txtInvoiceNoDiv').val(oImportInvoice.ImportInvoiceNo);
        $('#txtCurrentAmountDiv').val(oImportInvoice.Amount);
        $('#txtAmountDiv').val(oImportInvoice.Amount);
        $("#winUpdateAmount").icsWindow("open");
    });

    $('#btnOKForUpdate').click(function(){
        debugger;
        var oImportInvoice = $('#divImportInvoice').data('ImportInvoice');
        var nTotalAmount = 0;
        for(var i=0;i<oImportInvoice.ImportInvoiceDetails.length;i++)
            nTotalAmount += parseFloat(oImportInvoice.ImportInvoiceDetails[i].Amount);
        if((nTotalAmount + 0.5) < parseFloat($('#txtAmountDiv').val())){
            alert("Amount can not be greater than (Total Detail Amount + 0.5)");
            return;
        }

        oImportInvoice.Amount = parseFloat($('#txtAmountDiv').val());
        if(oImportInvoice.ImportInvoiceID > 0){
            $.ajax({
                type: "POST",
                dataType: "json",
                url : _sBaseAddress+  "/ImportInvoice/UpdateAmount",
                traditional: true,
                data: JSON.stringify(oImportInvoice),
                contentType: "application/json; charset=utf-8",
                success: function (data) {
                    oImportInvoice = jQuery.parseJSON(data);
                    if(oImportInvoice.ImportInvoiceID > 0){
                        if(oImportInvoice.ErrorMessage=="" || oImportInvoice.ErrorMessage == null)
                        {
                            alert("Amount Updated Successfully!");
                            $('#divImportInvoice').data('ImportInvoice',oImportInvoice);
                            $("#winUpdateAmount").icsWindow("close");

                            var oImportInvoices = sessionStorage.getItem("ImportInvoices");
                            var nIndex = parseInt(sessionStorage.getItem("SelectedRowIndex"));
                            oImportInvoices = jQuery.parseJSON(oImportInvoices);
                            oImportInvoices[nIndex] = oImportInvoice;
                            sessionStorage.setItem("ImportInvoices", JSON.stringify(oImportInvoices));

                        }else
                        {
                            alert(oImportInvoice.ErrorMessage);
                        }
                    }else{
                        alert("Invalid Import Invoice!");
                    }
                },
                error: function (xhr, status, error) {
                    alert(error);
                }
            });
        }
    });

</script>
