<script src="@Url.Content("~/Scripts/jquery-1.7.1.min.js")" type="text/javascript"></script>
@using ESimSol.BusinessObjects;
@model IEnumerable<SP_GeneralJournal>
           
@{
    ViewBag.Title = "General Journal";
    var totaldebit = 0;
    var totalcredit = 0;
}

<div style="width:850px; margin-left:20px">
    <table border="0" width="850px">
        <tr>
            <td style="font-weight:bold; font-size:x-large; font-style:normal; width:850px"; align="center" > <label id="lblCompany">Company Name</label></td>
        </tr>
            <tr>                   
            <td style="font-weight:lighter; font-size:x-small; font-style:normal; width:850px"; align="center"><label id="lblCompanyPhone">Company Address</label></td>   
            </tr>
                <tr  style="height:50px">                   
                    <td style="vertical-align:top; font-weight:lighter; font-size:x-small; font-style:normal; width:850px"; align="center"><label id="lblCompanyaddress">Company Address</label></td>   
                </tr>
                
                <tr> 
                    <td style="font-weight:bold; font-size:large; font-style:normal; width:850px"; align="center"><u> General Journal </u></td>
                </tr>
                <tr>
                    <td>
                         <div><h6>All Values in Taka (BDT)</h6></div>
                         <table style="border:1px solid black;" cellpadding="0" cellspacing="0">
                         <thead> 
                            <tr style="background-color:#E6E6E6; font-size:13px; font-family:Tahoma; font-weight:bold">
                                <th style="width:80px; text-align:left; border:1px solid black"> Date</th>             
                                <th style="width:120px; text-align:left; border:1px solid black"> Voucher No</th>  
                                <th style="width:40px; text-align:left; border:1px solid black"> Code</th> @*50*@
                                <th style="width:140px; text-align:left; border:1px solid black"> Account Head Name</th> @*140*@
                                <th style="width:250px; text-align:left; border:1px solid black"> Narration</th> @*270*@
                                <th style="width:110px; text-align:center; border:1px solid black">Debit Amount</th>                 
                                <th style="width:110px; text-align:center; border:1px solid black">Credit Amount</th>
                            </tr>
                        </thead>
                         <tbody>
                        @{var bHasCollection = false;
                          double sumDebit = 0;
                          double sumCredit = 0;
                          bool tablechecker = true;      
                         }
     

                        @foreach (var item in Model)
                        {
                            bHasCollection = true;        
                            <tr style="font-size:13px; font-family:Tahoma;">           
                                <td style="border:1px solid black;">@Html.DisplayFor(modelItem => item.VoucherDateInString)</td>                                 
                                <td style="border:1px solid black;">@Html.DisplayFor(modelItem => item.VoucherNo)</td> 
                                <td style="border:1px solid black;">@Html.DisplayFor(modelItem => item.AccountCode)</td>            
                                <td style="border:1px solid black;">@Html.DisplayFor(modelItem => item.AccountHeadName)</td>
                                <td style="border:1px solid black;">@Html.DisplayFor(modelItem => item.Narration)</td>
                                <td style="border:1px solid black; text-align:right">
                                        @String.Format("{0:F}", item.DebitAmount)
                                        @{sumDebit = sumDebit + item.DebitAmount; }            
                                </td>                                    
                                <td style="border:1px solid black; text-align:right">
                                        @String.Format("{0:F}", item.CreditAmount)
                                        @{sumCredit = sumCredit + item.CreditAmount; }
                                </td>                     
                            </tr>
                        }

                        </tbody>
                        </table>

                         <table>
                         <thead> 
                         <tr style="font-size:13px; font-family:Tahoma; font-weight:bold">
                                <th style="width:80px"; align="left"> </th>             
                                <th style="width:120px"; align="left"></th>  
                                <th style="width:40px"; align="left"></th>
                                <th style="width:140px"; align="left"> </th>
                                <th style="width:250px"; align="right">Total:</th>
                                <th style="width:110px"; align="right">@String.Format("{0:F}", sumDebit)</th>                 
                                <th style="width:110px"; align="right">@String.Format("{0:F}", sumCredit)</th>

                            </tr>
                            </thead>

                        </table>

                        <table>

                            <tr></tr>   <tr></tr>   <tr></tr>   <tr></tr>   <tr></tr>   <tr></tr>
                            <tr>
                                <td style="font-size:12px; font-family:Tahoma; font-weight:normal; text-align:left; width:300px">Approved By___________________</td>
                                <td></td>  <td></td>  <td></td>  <td></td>  <td></td>  <td></td>    <td></td>  <td></td>  <td></td>  <td></td> 
                                <td></td>    <td></td>  <td></td>  <td></td>  <td></td>   
                                <td style="font-size:12px; font-family:Tahoma; font-weight:normal; text-align:left; width:300px">Prepared By___________________</td>
                            </tr>
                        
                        
                        </table>
    
                    </td>                    
                </tr>    
    </table>    
</div>

<script type="text/javascript">
    $(document).ready(function () {
        // debugger;
        CompanyHeader();
    });

    function CompanyHeader() {
        //debugger;
        $.ajax({
            type: "GET",
            dataType: "json",
            url: '@Url.Action("GetCompanyName", "Company")',
            contentType: "application/json; charset=utf-8",
            success: function (data) {
                //debugger;
                if (data != null) {
                    oCompany = jQuery.parseJSON(data);
                    document.getElementById('lblCompany').innerHTML = oCompany.Name;
                    document.getElementById('lblCompanyPhone').innerHTML = oCompany.Phone + ', E-mail: ' + oCompany.Email + ', Web: ' + oCompany.WebAddress;
                    document.getElementById('lblCompanyaddress').innerHTML = oCompany.Address;
                    //Everway Yarn Dyeing Ltd.
                    //Tongi, Gazipur, Bangladesh. Tel: +880-2-9813217, 9813076, 9814157-8\nFax : 880-2-9814084, e-mail : info@everwaygroup.com
                }
            },
            error: function (xhr, status, error) {
                alert(error);
            }
        });
    }

</script>