@using ESimSol.BusinessObjects;
@model SP_GeneralLedger


<table>     
        <tr >
            <td width="100%"   style="text-align: left; color:#EAC117; font-size:8px; font-weight:bold">
                DOC NO: <i>ICS</i>-RPT-002
            </td>
        </tr>
</table>
<table border="0" cellspacing="0">
        <tr>
            <td width="100%"   style="text-align: center; font-size:15px; font-weight:bold">
                @Model.Company.Name
            </td>
        </tr>
        <tr>
            <td width="100%"   style="text-align: center; font-size:8px">
                @Model.Company.Address, @Model.Company.Phone
            </td>
        </tr>
        <tr>
            <td width="100%"   style="text-align: center; font-size:8px">
                @Model.Company.Email, @Model.Company.WebAddress
            </td>
        </tr>   
</table>
<br />

<table>     
        <tr style="height:200px; vertical-align:bottom">
            <td width="100%"   style="text-align: center; font-size:12px; font-weight:bold">
                <u>General Ledger</u>
            </td>
        </tr>
</table>

<br />



<table>     
        <tr style="height:100px; vertical-align:bottom" >
            <td width="100%"   style="text-align: left; font-size:10px; font-weight:bold">
                <u></u>
            </td>
        </tr>
</table>
 
 <table border="1">
 <tr>
    <td  width="50%"   style="text-align: left; font-size:9px">
         <table border="0">
            <tr>
                <td width="100%"   style="text-align: left; font-size:9px">
                        Ledger Name:  @Model.AccountHeadName
                 </td>
            </tr>
            <tr>
                <td width="100%"   style="text-align: left; font-size:9px">
                        Ledger No:  @Model.AccountCode
                </td>
            </tr>
            <tr>
                 <td width="100%"   style="text-align: left; font-size:9px">
                        Current Balance :  @Model.CurrentBalanceInString BDT
                 </td>
            </tr> 
         </table>
    </td>
    <td  width="50%"   style="text-align: left; font-size:9px">
        <table border="0">
            <tr>
                 
                <td width="100%"   style="text-align: right; font-size:9px">
                        Date From :  @Model.StartDateInString
                 </td>
            </tr>
            <tr>
               
                <td width="100%"   style="text-align: right; font-size:9px">
                        Date TO :  @Model.EndDateInString
                 </td>
            </tr>
            <tr>                 
                <td width="100%"   style="text-align: right; font-size:9px">
         
                 </td>
            </tr> 
         </table>
    </td>
 </tr>
 </table>
 <br />
<table cellpadding="3" cellspacing="3">    
    @{
        int nSLNo = 0;
    }

    <tr border="1" bgcolor="#DEDEDE">
        <td width="8%" style="text-align: center; font-size:9px; font-weight:bold">
            SL
        </td>
        <td width="15%" style="text-align: center; font-size:9px; font-weight:bold">
            Voucher Date
        </td>
        <td width="20%" style="text-align: center; font-size:9px; font-weight:bold">
            Voucher No
        </td>
        <td width="29%" style="text-align: center; font-size:9px; font-weight:bold">
            Particulars
        </td>
        <td width="15%" style="text-align: center; font-size:9px; font-weight:bold">
            Debit
        </td>
        <td width="15%" style="text-align: center; font-size:9px; font-weight:bold">
            Credit
        </td>
        <td width="15%" style="text-align: center; font-size:9px; font-weight:bold">
            Balance
        </td>
    </tr>
    @foreach (SP_GeneralLedger oGeneralLedger in Model.SP_GeneralLedgerList)
    {       
        
            nSLNo++;
            <tr border="1">
                <td style="text-align: left; font-size:9px">
                    @nSLNo.ToString()
                </td>
                <td  style="text-align: left; font-size:9px">
                    @oGeneralLedger.VoucherDateInString
                </td>
                <td  style="text-align: left; font-size:9px">
                     @oGeneralLedger.VoucherNo
                </td>
                <td  style="text-align: left; font-size:9px">
                     @oGeneralLedger.RevarseHead
                </td>
                 <td  style="text-align: right; font-size:9px">
                    @oGeneralLedger.DebitAmountInString
                </td>
                <td  style="text-align: right; font-size:9px">
                    @oGeneralLedger.CreditAmountInString
                </td>
                <td  style="text-align: right; font-size:9px">
                     @oGeneralLedger.CurrentBalanceInString
                </td>
           </tr>
       
    }
</table>
<br />
<br />
<br />
<br />
<table border="0" cellpadding="3" cellspacing="3">
    <tr>
        <td width="33%"  style="text-align: left; font-size:9px">
        __________________ 
        </td>
        <td width="34%"  style="text-align: center; font-size:9px">
        __________________        
        </td>
        <td width="33%"  style="text-align: right; font-size:9px">
        __________________         
        </td>
    </tr>
    <tr>
        <td width="33%"  style="text-align: left; font-size:9px">       
           Prepare by
        </td>
        <td width="34%"  style="text-align: center; font-size:9px">       
           Checked By
        </td>
        <td width="33%"  style="text-align: right; font-size:9px">       
           Approved By 
        </td>
    </tr>
    <tr>
        <td></td>
        <td></td>
        <td></td>    
    </tr>
</table>   