@model ESimSol.BusinessObjects.CostCenterBreakdown
    @{
        ViewBag.Title = "Subledger Ledger";
    }
    <div id="winVoucher" class="easyui-window" title="View Voucher" style="height: 515px; width: 1020px;" data-options="modal:true,closed:true,collapsible:false,minimizable:false,maximizable:false,closable:false">
        <div id="p" style="width:99%; padding:1px">
            <div style="width:100%">
                <table border="0" cellpadding="2" cellspacing="2" style="width:100%;">
                    <tr>
                        <td style="width:25%; font-size:12px">
                            Business Unit:<input type="text" id="txtBusinessUnit" style="width: 120px;margin-left:5px; font-weight:bolder" disabled />
                        </td>
                        <td style="width:25%; font-size:12px">
                            Voucher No:<input type="text" id="txtVoucherNo" style="width: 120px;margin-left:5px; font-weight:bolder" disabled />
                        </td>
                        <td style="width:25%; text-align:center">
                            Voucher Type:<input type="text" id="txtVoucherType" style="width: 150px;margin-left:5px; font-weight:bolder" disabled />
                        </td>
                        <td style="width:22%; font-size:12px;text-align:right;">
                            Voucher Date :<input type="text" id="txtVoucherDate" style="width: 120px;margin-left:5px; font-weight:bolder" disabled />
                        </td>
                    </tr>
                </table>
            </div>
            <div style="width:100%">
                <table id="tblVoucherDetailHeader" class="tablebordaer" border="0" cellpadding="0" cellspacing="0" width="100%" style="font-size:12px; font-weight:bold">
                    <tr>
                        <td style="width:5%; text-align:center">BU</td>
                        <td style="width:45%; text-align:center">Particulars</td>
                        <td style="width:30%; text-align:center">Narration</td>
                        <td style="width:10%; text-align:center">Debit<label class="lblBaseCurrencySymbol"></label></td>
                        <td style="width:10%; text-align:center">Credit<label class="lblBaseCurrencySymbol"></label></td>
                    </tr>
                </table>
            </div>
            <div class="tablebordaer" id="divVoucherDetails" style="height:280px; width:100%; font-size:12px; overflow:auto">
                <table id="tblVoucherDetail" border="0" cellpadding="0" cellspacing="0" style="font-size:13px; width:100%"></table>
            </div>
            <table border="0" cellpadding="0" cellspacing="0" style="width:100%">
                <tr>
                    <td style="width:80%; text-align:right; font-size:12px; font-weight:bold"></td>
                    <td colspan="2" style="width:20%; text-align:right; font-size:12px; font-weight:bold"><hr /></td>
                </tr>
                <tr>
                    <td style="width:70%; text-align:right; font-size:12px; font-weight:bold"></td>
                    <td style="width:20%; text-align:right; font-size:10px; font-weight:bold;padding-right: 34px;"><label class="lblBaseCurrencySymbol"></label><label id="lblTotalDebitAmount">0.00</label> </td>
                    <td style="width:10%; text-align:right; font-size:10px; font-weight:bold"><label class="lblBaseCurrencySymbol"></label><label id="lblTotalCreditAmount"> 0.00</label>&nbsp;&nbsp;</td>
                </tr>
                <tr>
                    <td style="width:80%; text-align:right; font-size:12px; font-weight:bold"></td>
                    <td colspan="2" style="width:20%; text-align:right; font-size:12px; font-weight:bold"><hr /><hr /></td>
                </tr>
                <tr>
                    <td style="width:80%; text-align:left; font-size:12px; font-weight:bold">Narration :</td>
                    <td colspan="2" style="width:20%; text-align:right; font-size:12px; font-weight:bold"></td>
                </tr>
                <tr>
                    <td colspan="3" style="width:100%; text-align:left; font-size:12px; font-weight:bold">
                        <textarea rows="1" id="txtNarration" style="text-align:left; width:100%" disabled></textarea>
                    </td>
                </tr>
                <tr style="height:33px">
                    <td style="width:60%; text-align:left; font-size:12px; font-weight:bold"></td>
                    <td style="width:20%; text-align:right; font-size:12px; font-weight:bold; vertical-align:bottom">
                        <a id="btnPrintVoucher" href="javascript:void(0)" class="easyui-linkbutton" iconcls="icon-print" plain="true" >Print</a>
                    </td>
                    <td colspan="2" style="width:20%; text-align:right; font-size:12px; font-weight:bold; vertical-align:bottom">
                        <a id="btnCloseVoucher" href="javascript:void(0)" class="easyui-linkbutton" iconcls="icon-cancel" plain="true">Close</a>
                    </td>
                </tr>
            </table>
        </div>
    </div>
  <div id="winPreferences" class="easyui-window" title="Settings" data-options="modal:true,closed:true,collapsible:false,minimizable:false,maximizable:false,closable:false">
    <fieldset style="margin-top:2px">
        <table border="0" cellpadding="2" cellspacing="2">
            <tr>
                <td style="width:300px; text-align:right">
                    <div style="height:153px;width:100%;">
                        <table id="tblPreferences" class="easyui-datagrid" style="height:100%;width:100%;" fit="true" fitcolumns="true" rownumbers="true" pagination="false" singleselect="true" autorowheight="false"
                               data-options="onDblClickRow:function (index,row){return ChoosePreferences();}">
                            <thead>
                                <tr>
                                    <th field="Value" width="97%" align="left">Option Name</th>
                                </tr>
                            </thead>
                        </table>
                    </div>
                </td>
            </tr>
        </table>
    </fieldset>
    <fieldset style="text-align:right">
        <legend>Actions : </legend>
        <a id="btnPreferenceOK" href="javascript:void(0)" class="easyui-linkbutton" iconcls="icon-ok" plain="true" onclick="return ChoosePreferences()">OK</a>
        <a id="btnPreferenceClose" href="javascript:void(0)" class="easyui-linkbutton" iconcls="icon-cancel" plain="true">Close</a>
    </fieldset>
</div>
    <div id="winSettings" class="easyui-window" title="Settings" data-options="modal:true,closed:true,collapsible:false,minimizable:false,maximizable:false,closable:false">
    <fieldset style="margin-top:2px">
        <table border="0" cellpadding="2" cellspacing="2">
            
            <tr id="trGLConfigs">
                <td style="width:300px;">
                    <div style="height:153px;width:100%;">
                        <table id="tblGLConfigs" class="easyui-datagrid" style="height:100%;width:100%;" fit="true" fitcolumns="true" rownumbers="true" pagination="false" singleselect="fale" autorowheight="false"
                               data-options="onLoadSuccess: ConfigLoadSuccessful">
                            <thead>
                                <tr>
                                    <th data-options="field:'Selected',checkbox:true"></th>
                                    <th field="ErrorMessage" width="87%" align="left">Configuration Name</th>
                                </tr>
                            </thead>
                        </table>
                    </div>
                </td>
            </tr>

        </table>
    </fieldset>
    <fieldset style="text-align:right">
        <legend>Actions : </legend>
        <a id="btnSettingOK" href="javascript:void(0)" class="easyui-linkbutton" iconcls="icon-ok" plain="true" onclick="return ChooseSettings()">OK</a>
        <a id="btnSettingClose" href="javascript:void(0)" class="easyui-linkbutton" iconcls="icon-cancel" plain="true">Close</a>
    </fieldset>
</div>
    <div id="winReport" class="easyui-panel menuMainCollectionTable" title="Trial Balance" style="margin-left: 0px; height: 100%; width:100%;" fit="true">
        <div id="divCostCenterDetails" style="height:100%;width:100%;">
            <table id="tblCostCenterDetails" class="easyui-datagrid" style="width:100%; height:96.5%;" fit="false" fitcolumns="true" rownumbers="true" pagination="false" singleselect="true" autorowheight="false" toolbar="#toolbarCostCenterDetails"
                   data-options="onLoadSuccess: CCGLLoadSuccessful,rowStyler: rowStyler">
                <thead>
                    <tr>
                        <th field="VoucherDateInString" width="8%" align="left"> Voucher Date</th>
                        <th field="VoucherNo" width="16%" align="left" formatter="FormatStyle">Voucher No</th>
                        <th field="ParentHeadName" width="17%" align="left">Account</th>
                        <th field="AccountHeadName" width="17%" align="left" formatter="FormatOpeningStyle">Particulars</th>
                        <th field="Description" width="10%" align="left">Bill No</th>
                        <th field="DebitAmountInString" width="10%" align="right">Debit Amount</th>
                        <th field="CreditAmountInString" width="10%" align="right">Credit Amount</th>
                        <th field="ClosingValueString" width="10%" align="right">Closing Value</th>
                    </tr>
                </thead>
            </table>
            <div id="toolbarCostCenterDetails">
                From <input id="txtSettingFromDate" type="text" class="easyui-datebox" required="required" data-options="formatter:icsdateformat,parser:icsdateparser" style="width:100px" />
                To <input id="txtSettingToDate" type="text" class="easyui-datebox" required="required" data-options="formatter:icsdateformat,parser:icsdateparser" style="width:100px" />
                Account Head :<input type="text" id="txtAccountHeadName" placeholder="Type Account Head Name" style="width:219px;margin-left: 5px;" />
                Sub Ledger :<input type="text" style=" width:284px;" id="txtCostCneterName" placeholder="Type Sub Ledger Name" />
                <select id="cboCurrency" style="width:90px;"></select>
                <input type="checkbox" id="chkboxApproved" style="width:20px;" />Approved
                <input type="text" id="txtBUName" style="width:200px;" disabled /> <input type="button" onclick="BUClean()" value="C" />  <input type="button" value="Pick" onclick="PickBusinessUnit()" style="width:50px;" />
                <a id="btnRefreshCCGL" href="javascript:void(0)" class="easyui-linkbutton" iconcls="icon-reload" plain="true">Refresh</a>
                <a id="btnPreferencesCC" href="javascript:void(0)" class="easyui-linkbutton easyui-tooltip" title="Details" iconcls="icon-pick" plain="true" onclick="return OpenPreferences()">Subledger Details Summary</a>
                <a id="btnACConfig" href="javascript:void(0)" class="easyui-linkbutton" iconcls="icon-setting" plain="true" onclick=" return OpenSettings()">Configuration</a>
                <a id="btnPrint" href="javascript:void(0)" class="easyui-linkbutton" iconcls="icon-print" plain="true" onclick="PrintPDF()">Print</a>
                <a id="btnPrintXL" href="javascript:void(0)" class="easyui-linkbutton" iconcls="icon-print" plain="true" onclick="PrintXL()">Export To Excel</a>
            </div>
            <div style="height:10px;width:100%;">
                <table style="height:100%;width:100%;">
                    <tr>
                        <td style="width:26px;"></td>
                        <td style="width:68%;"></td>
                        <td style="width:10%;text-align:right;">
                            <label id="lblCCDDebitBalance" style="font-weight:bold;">0.00</label>
                        </td>
                        <td style="width:10%;text-align:right;">
                            <label id="lblCCDCreditBalance" style="font-weight:bold;">0.00</label>
                        </td>
                        <td style="width:10%;"></td>
                        <td style="width:38px;"></td>
                    </tr>
                </table>
            </div>
        </div>

    
    </div>
    <script type="text/javascript">
    $(document).ready(function () {
        var oCompany= @Html.Raw(new System.Web.Script.Serialization.JavaScriptSerializer().Serialize(ViewBag.Company));
        var oCostCenterBreakdown =@Html.Raw(new System.Web.Script.Serialization.JavaScriptSerializer().Serialize(Model));
        $('#divCostCenterDetails').data('obj',oCostCenterBreakdown);
        $('#divCostCenterDetails').data('objs',oCostCenterBreakdown.CostCenterBreakdowns);

        var oCurrencies =@Html.Raw(new System.Web.Script.Serialization.JavaScriptSerializer().Serialize(ViewBag.Currencies));
        $("#cboCurrency").data('objs',oCurrencies);
        $("#cboCurrency").icsLoadCombo({List: oCurrencies,OptionValue: "CurrencyID",DisplayText: "CurrencyName", InitialValue : "--Currency--"});

        var oCOA= @Html.Raw(new System.Web.Script.Serialization.JavaScriptSerializer().Serialize(ViewBag.COA));
        $("#txtAccountHeadName").data('obj',oCOA);

        var oCC= @Html.Raw(new System.Web.Script.Serialization.JavaScriptSerializer().Serialize(ViewBag.CC));
        $("#txtCostCneterName").data('obj',oCC);

        var oBusinessUnits= @Html.Raw(new System.Web.Script.Serialization.JavaScriptSerializer().Serialize(ViewBag.BusinessUnits));
        $("#txtBUName").data('BusinessUnits',oBusinessUnits);
        $('#txtBUName').val(oCostCenterBreakdown.BUName);
        $('#txtBUName').addClass('fontColorOfPickItem');
        
        var oGLConfigs= @Html.Raw(new System.Web.Script.Serialization.JavaScriptSerializer().Serialize(ViewBag.GLConfigs));
        sessionStorage.setItem("CCGLConfigs",JSON.stringify(oGLConfigs));
        sessionStorage.setItem("SelectedCCGLConfigs",JSON.stringify([]));

        var oPreferences= @Html.Raw(new System.Web.Script.Serialization.JavaScriptSerializer().Serialize(ViewBag.Preferences));
        sessionStorage.setItem("Preferences",JSON.stringify(oPreferences));
        DynamicRefreshList(oPreferences,'tblPreferences');



        sessionStorage.setItem("Company", JSON.stringify(oCompany));
        sessionStorage.setItem("VoucherWindow", 'Close');

        $('#txtSettingFromDate').datebox('setValue', icsdateformat(new Date()));
        $('#txtSettingToDate').datebox('setValue', icsdateformat(new Date()));



        ////refresh control
        $('#txtSettingFromDate').datebox('setValue', oCostCenterBreakdown.StartDateSt);
        $('#txtSettingToDate').datebox('setValue', oCostCenterBreakdown.EndDateSt);
        $("#txtAccountHeadName").val(oCOA.AccountHeadName);
        $("#txtCostCneterName").val(oCC.Name);
        $('#cboCurrency').val(oCostCenterBreakdown.CurrencyID);
        
        document.getElementById('chkboxApproved').checked =  oCostCenterBreakdown.IsApproved;

        /////end refresh control

        var sHeaderText=RefreshHeader();
        $('#winReport').panel({ title:sHeaderText});
        $('#Mainlayout').layout('collapse', 'west');


        GetSessionData();
        //DynamicRefreshList(oCostCenterBreakdown.CostCenterBreakdowns,'tblCostCenterDetails');
        //RefreshTotalSummary(oCostCenterBreakdown.CostCenterBreakdowns);

        $('#txtAccountHeadName').icsAutoComplete({
            BaseAddress : sessionStorage.getItem('BaseAddress'),
            ControllerName: "ChartsOfAccount",
            ActionName: "GetsAccountsHead",
            Object: {AccountHeadName:''},
            PropertyName: "AccountHeadName",
            ParamName: "AccountHeadName",
            Columns:[{field:'AccountHeadName',width:'70%'},{field:'ParentHeadName',width:'40%'}]
        });
        $('#txtCostCneterName').icsAutoComplete({
            BaseAddress : sessionStorage.getItem('BaseAddress'),
            ControllerName: "ACCostCenter",
            ActionName: "GetsByCodeOrName",
            Object: {NameCode:''},
            PropertyName: "Name",
            ParamName: "NameCode",
            Columns:[{field:'Name',width:'70%'},{field:'CategoryName',width:'30%'}]});

    });

        function GetSessionData()
        {
            var oCostCenterBreakdown = { CCTID : 0 };
            $.ajax({
                type: "POST",
                dataType: "json",
                url : sessionStorage.getItem('BaseAddress')+  "/FinancialStatement/GetSessionData",
                traditional: true,
                data:  JSON.stringify(oCostCenterBreakdown),
                contentType: "application/json; charset=utf-8",
                success: function (data) {
                    var oCostCenterBreakdowns = data;
                    $('#divCostCenterDetails').data('objs',oCostCenterBreakdowns);
                    DynamicRefreshList(oCostCenterBreakdowns,'tblCostCenterDetails');
                    RefreshTotalSummary(oCostCenterBreakdowns);
                },
                error: function (xhr, status, error) {
                    alert(error);
                }
            });
        }

        function RefreshHeader(){
            var sHeaderText='';
            if($('#txtCostCneterName').data('obj') && $('#txtCostCneterName').data('obj').ACCostCenterID>0){
                sHeaderText='Subledger Ledger || '+$('#txtCostCneterName').data('obj').Name;
            }else{
                sHeaderText='Subledger Ledger';
            }
            var oCostCenterBreakdown = $('#divCostCenterDetails').data('obj');
            var sBUName=$('#txtBUName').val();
            if(oCostCenterBreakdown.BusinessUnitIDs!="0")
            {
                sHeaderText=sHeaderText+' || '+sBUName+' || "'+$('#txtSettingFromDate').datebox('getValue')+'" to "'+$('#txtSettingToDate').datebox('getValue')+'"';

            }else{
                sHeaderText=sHeaderText+' || '+jQuery.parseJSON(sessionStorage.getItem("Company")).Name+' || "'+$('#txtSettingFromDate').datebox('getValue')+'" to "'+$('#txtSettingToDate').datebox('getValue')+'"';
            }
            return sHeaderText;
        }

        $('#btnRefreshCCGL').click(function(){
        if(!ValidateInput()){return false;}
        RefreshData();
    });
    function ConfigLoadSuccessful(data){
        var objs=data.rows;
        var oSelectedConfigs=[];
        oSelectedConfigs=jQuery.parseJSON(sessionStorage.getItem("SelectedCCGLConfigs"));
        oSelectedConfigs=oSelectedConfigs?oSelectedConfigs:[];
        for(var i=0;i<oSelectedConfigs.length;i++){
            for(var j=0;j<objs.length;j++){
                if(oSelectedConfigs[i].ConfigureType===objs[j].ConfigureType){
                    $('#tblGLConfigs').datagrid('checkRow',j);
                }
            }
        }
    }

    function rowStyler(index,row){
        if (row.VoucherID == 0 && row.AccountHeadName==='Opening Balance')
        {
            return 'font-weight:bold;'; 
        }
    }
    function CCGLLoadSuccessful(data){
        var rows = $('#tblCostCenterDetails').datagrid('getRows');
        for(i=0;i<rows.length;i++){
            if(rows[i].VoucherID == 0 && rows[i].AccountHeadName!='Opening Balance')
            {
                $('#tblCostCenterDetails').datagrid('mergeCells',{
                    index: i,
                    field: 'VoucherNo',
                    colspan: 7
                });
            }
        }
    }

    function RefreshTotalSummary(objs){
       
        var sParamDebit='',sParamCredit='',sLabelDebit='',sLabelCredit='',sLabelOpening='',sLabelClosing='',sParamOpening='',sParamClosing='',nDebit=0,nCredit=0,nOpenig=0,nClosing=0;

        sParamDebit='DebitAmount';
        sParamCredit='CreditAmount';
        sLabelDebit='lblCCDDebitBalance';
        sLabelCredit='lblCCDCreditBalance';
        
        for(var i=0;i<objs.length;i++){
            nDebit=nDebit+parseFloat((objs[i][sParamDebit]).toFixed(2));
            nCredit=nCredit+parseFloat((objs[i][sParamCredit]).toFixed(2));
        }
        nDebit=nDebit<0?'('+formatPrice((nDebit*(-1)).toFixed(2))+')':nDebit===0.00?'-':formatPrice(nDebit.toFixed(2));
        nCredit=nCredit<0?'('+formatPrice((nCredit*(-1)).toFixed(2))+')':nCredit===0.00?'-':formatPrice(nCredit.toFixed(2));
        $('#'+sLabelDebit).html(nDebit);
        $('#'+sLabelCredit).html(nCredit);
    }
    function PrintPDF(){
        if(!ValidateInput())return;
        var oCostCenterBreakdown = $('#divCostCenterDetails').data('obj');
        var sStartDate= $('#txtSettingFromDate').datebox('getValue');
        var sEndDate=$('#txtSettingToDate').datebox('getValue');
        var sHeader=sessionStorage.getItem("HeaderText");
        var nCurrencyID=parseInt($('#cboCurrency').val())?parseInt($('#cboCurrency').val()):0;
        var bIsApproved=$('#chkboxApproved').is(':checked');
        var nAccountHeadID=parseInt($('#txtAccountHeadName').data('obj').AccountHeadID)?parseInt($('#txtAccountHeadName').data('obj').AccountHeadID):0
        var nCCID=parseInt($('#txtCostCneterName').data('obj').ACCostCenterID)?parseInt($('#txtCostCneterName').data('obj').ACCostCenterID):0;


        var sParam=nAccountHeadID+'~'+sStartDate+'~'+sEndDate+'~'+oCostCenterBreakdown.BusinessUnitIDs+'~'+nCCID+'~'+nCurrencyID+'~'+bIsApproved+'~'+sHeader;
        window.open(_sBaseAddress+'/FinancialStatement/PrintSubLedgerLedger?Params=' +sParam, "_blank");
    }
    function PrintXL(){
        if(!ValidateInput())return;
        var oCostCenterBreakdown = $('#divCostCenterDetails').data('obj');
        var sStartDate= $('#txtSettingFromDate').datebox('getValue');
        var sEndDate=$('#txtSettingToDate').datebox('getValue');
        var sHeader=sessionStorage.getItem("HeaderText");
        var nCurrencyID=parseInt($('#cboCurrency').val())?parseInt($('#cboCurrency').val()):0;
        var bIsApproved=$('#chkboxApproved').is(':checked');
        var nAccountHeadID=parseInt($('#txtAccountHeadName').data('obj').AccountHeadID)?parseInt($('#txtAccountHeadName').data('obj').AccountHeadID):0
        var nCCID=parseInt($('#txtCostCneterName').data('obj').ACCostCenterID)?parseInt($('#txtCostCneterName').data('obj').ACCostCenterID):0;

        var sParam=nAccountHeadID+'~'+sStartDate+'~'+sEndDate+'~'+oCostCenterBreakdown.BusinessUnitIDs+'~'+nCCID+'~'+nCurrencyID+'~'+bIsApproved+'~'+sHeader;
        window.open(_sBaseAddress+'/FinancialStatement/ExportSLGLToExcel?Params=' +sParam, "_blank");
    }



    function ValidateInput()
    {
        if ( $('#txtSettingFromDate').datebox('getValue')=="") {
            alert("please select Start date!");
            $('#txtSettingFromDate').focus();
            return false;
        }

        if ( $('#txtSettingToDate').datebox('getValue')=="") {
            alert("Please select end date!!");
            $('#txtSettingToDate').focus();
            return false;
        }

        var sStartDate=$('#txtSettingFromDate').datebox('getValue');
        var sEndDate = $('#txtSettingToDate').datebox('getValue');
        var dStartDate = new Date(sStartDate);
        var dEndDate = new Date(sEndDate);

        if(dEndDate < dStartDate) {
            alert("End date must be grater then start date!!");
            $('#txtSettingToDate').focus();
            return false;
        }

        if ((!$('#txtCostCneterName').data('obj') || $('#txtCostCneterName').data('obj') == null)) {
            alert("Please select Sub Ledger!");
            $('#txtCostCneterName').focus();
            return false;
        }

        if ((!parseInt($('#txtCostCneterName').data('obj').ACCostCenterID) || parseInt($('#txtCostCneterName').data('obj').ACCostCenterID)<=0)) {
            alert("Please select Sub Ledger !");
            $('#txtCostCneterName').focus();
            return false;
        }
        
        return true;
    }


    function OpenPreferences(){
        if ((!$('#txtCostCneterName').data('obj') || $('#txtCostCneterName').data('obj') == null)) {
            alert("Please select Sub Ledger!");
            $('#txtCostCneterName').focus();
            return false;
        }

        if ((!parseInt($('#txtCostCneterName').data('obj').ACCostCenterID) || parseInt($('#txtCostCneterName').data('obj').ACCostCenterID)<=0)) {
            alert("Please select Sub Ledger !");
            $('#txtCostCneterName').focus();
            return false;
        }
        var oPreferences=jQuery.parseJSON(sessionStorage.getItem("Preferences"));
        var oTempObjs=[];
        for(var i=0;i<oPreferences.length;i++){
            if(oPreferences[i].id===5){
                oTempObjs.push(oPreferences[i]);
            }
        }
        oPreferences=oTempObjs;
        DynamicRefreshList(oPreferences,'tblPreferences');
        $("#winPreferences").icsWindow('open', "Choose Ledger Detail");
        sessionStorage.setItem("PreferenceWindow", 'Open');
    }
    function ChoosePreferences(){
        var selected = $('#tblPreferences').datagrid('getSelected');
        sessionStorage.setItem("CCOptionID",selected==null?0: selected.id);
        $("#winPreferences").icsWindow('close');
        sessionStorage.setItem("PreferenceWindow", 'Close');
        var oCostCenterBreakdown = $('#divCostCenterDetails').data('obj');
        if(selected.id===5){
            obj={
                AccountHeadID:parseInt($('#txtAccountHeadName').data('obj').AccountHeadID)?parseInt($('#txtAccountHeadName').data('obj').AccountHeadID):0,
                CCID:parseInt($('#txtCostCneterName').data('obj').ACCostCenterID)?parseInt($('#txtCostCneterName').data('obj').ACCostCenterID):0,
                StartDate:$('#txtSettingFromDate').datebox('getValue'),
                EndDate:$('#txtSettingToDate').datebox('getValue'),
                BusinessUnitIDs:oCostCenterBreakdown.BusinessUnitIDs, //parseInt($('#cboBusinessUnit').val())?parseInt($('#cboBusinessUnit').val()):0,
                BUName:$('#txtBUName').val(),
                CurrencyID:parseInt($('#cboCurrency').val()),
                IsApproved:$('#chkboxApproved').is(':checked')
            };

            $.ajax({
                type: "POST",
                dataType: "json",
                url : sessionStorage.getItem("BaseAddress")+  "/FinancialStatement/SetVRRSessionData",
                traditional: true,
                data:  JSON.stringify(obj),
                contentType: "application/json; charset=utf-8",
                success: function (data) {
                    var sFeedBackMessage = jQuery.parseJSON(data);                
                    if (sFeedBackMessage==="Successful") {
                        window.location.href = sessionStorage.getItem("BaseAddress")+ "/FinancialStatement/ViewBillTransactions?menuid="+parseInt(sessionStorage.getItem('MenuID'));
                    }
                },
                error: function (xhr, status, error) {
                    alert(error);
                }
            });
        }
    }
    $("#btnPreferenceClose").click(function (){
        $("#winPreferences").icsWindow('close');
        sessionStorage.setItem("PreferenceWindow", 'Close');
    });

    function OpenSettings(){
        if (!$('#txtCostCneterName').data('obj') || $('#txtCostCneterName').data('obj') == null ) {
            alert("Please select Sub Ledger!");
            $('#txtCostCneterName').focus();
            return false;
        }

        if (!parseInt($('#txtCostCneterName').data('obj').ACCostCenterID) || parseInt($('#txtCostCneterName').data('obj').ACCostCenterID)<=0 ) {
            alert("Please select Sub Ledger !");
            $('#txtCostCneterName').focus();
            return false;
        }

        
        var oGLConfigs=jQuery.parseJSON(sessionStorage.getItem("CCGLConfigs"));
        DynamicRefreshList(oGLConfigs,'tblGLConfigs');

        
       
        $("#winSettings").icsWindow('open', "Change Search Settings");
        sessionStorage.setItem("SettingWindow", 'Open');
    }
    function ChooseSettings(){
        if(!ValidateInput()){return false;}
        var oSelectedConfigs=$('#tblGLConfigs').datagrid('getChecked');

        sessionStorage.setItem("SelectedCCGLConfigs",JSON.stringify(oSelectedConfigs));
       
        $("#winSettings").icsWindow('close');
        sessionStorage.setItem("SettingWindow", 'Close');
        RefreshData();
    }
    $("#btnSettingClose").click(function (){
        $("#winSettings").icsWindow('close');
        sessionStorage.setItem("SettingWindow", 'Close');
    });

 
    function RefreshData(){
        debugger;
        var oSelectedConfigs= [];
        var nAccountHeadID,nBUID,nCCID,nVoucherBillID=0;
        var sHeaderText,sControllerName,sActionName,sStartDate,sEndDate='';
        var obj={};

        var oCostCenterBreakdown = $('#divCostCenterDetails').data('obj');
        sControllerName='FinancialStatement';
        sActionName='GetsSubLedgerLedger';
        sStartDate= $('#txtSettingFromDate').datebox('getValue');
        sEndDate=$('#txtSettingToDate').datebox('getValue');      
        nAccountHeadID=$("#txtAccountHeadName").data('obj')?parseInt($("#txtAccountHeadName").data('obj').AccountHeadID):0;
        nCCID=$('#txtCostCneterName').data('obj')?parseInt($('#txtCostCneterName').data('obj').ACCostCenterID):0;
        sHeaderText=RefreshHeader();
        oSelectedConfigs= jQuery.parseJSON(sessionStorage.getItem("SelectedCCGLConfigs"));
        if(sActionName===''){return false;}

        

        obj={
            AccountHeadID:nAccountHeadID,
            CCID:nCCID,
            StartDate:sStartDate,
            EndDate:sEndDate,
            BusinessUnitIDs:oCostCenterBreakdown.BusinessUnitIDs,
            BUName:$('#txtBUName').val(),
            CurrencyID:parseInt($('#cboCurrency').val())?parseInt($('#cboCurrency').val()):0,
            IsApproved:$('#chkboxApproved').is(':checked'),
            ACConfigs:oSelectedConfigs
        };

        $.ajax({
            type: "POST",
            dataType: "json",
            url : _sBaseAddress+  "/FinancialStatement/SetCCBSessionData",
            traditional: true,
            data:  JSON.stringify(obj),
            contentType: "application/json; charset=utf-8",
            success: function (data) {
                var sFeedBackMessage = jQuery.parseJSON(data);                
                if (sFeedBackMessage==="Successful") {
                    window.location.href = _sBaseAddress+ "/FinancialStatement/ViewSubLedgerLedger?menuid="+parseInt(sessionStorage.getItem('MenuID'));
                }
            },
            error: function (xhr, status, error) {
                alert(error);
            }
        });

    }

    function CCOpeningBreakdown(nParentHeadID,nCCID)
    {
        debugger;
        var oCostCenterBreakdown = $('#divCostCenterDetails').data('obj');
        var oAHOpeningBreakdown = {
            AccountHeadID : nParentHeadID,
            CCID:nCCID,
            BusinessUnitIDs:oCostCenterBreakdown.BusinessUnitIDs,//parseInt($('#cboBusinessUnit').val())?parseInt($('#cboBusinessUnit').val()):0,
            BUName: $('#txtBUName').val(),
            StartDate : $('#txtSettingFromDate').datebox('getValue'),
            CurrencyID : parseInt($('#cboCurrency').val()),
            IsApproved:$('#chkboxApproved').is(':checked')
        };
        $.ajax({
            type: "POST",
            dataType: "json",
            url : sessionStorage.getItem("BaseAddress")+  "/FinancialStatement/SetCCOBSessionData",
            traditional: true,
            data:  JSON.stringify(oAHOpeningBreakdown),
            contentType: "application/json; charset=utf-8",
            success: function (data) {
                var sFeedBackMessage = jQuery.parseJSON(data);                
                if (sFeedBackMessage==="Successful") 
                {
                    window.location.href = sessionStorage.getItem("BaseAddress")+ "/FinancialStatement/ViewCCOpeningBreakdowns?menuid="+parseInt(sessionStorage.getItem('MenuID'));
                }
            },
            error: function (xhr, status, error) {
                alert(error);
            }
        });

        
    }

    function FormatOpeningStyle(value,row,index){
        var s = "";
        if(value==='Opening Balance' && row.VoucherID===0){
            s = '<label id="lblOpening~'+index+'" style="color:Blue;cursor:pointer;text-decoration:underline;" onclick="CCOpeningBreakdown('+row.ParentHeadID+','+row.CCID+')">'+value+'</label>';
        }
        else
        {
            s = '<label>'+value+'</label>';
        }
        return s;
    }
   
    function FormatStyle(value,row,index){
        var s = "";
        if(row.VoucherID > 0)
        {
            s = '<label id="lblOpening~'+index+'" style="color:Blue;cursor:pointer;text-decoration:underline;" onclick="RefreshVoucherData('+row.VoucherID+')">'+value+'</label>';
        }
        else
        {
            s = '<label>'+value+'</label>';
        }
        return s;
    }

    //////////voucher
    function RefreshVoucherData(nVoucherID){
        debugger;

        $.icsDataGet({
            BaseAddress: sessionStorage.getItem("BaseAddress"),
            Object: {VoucherID:nVoucherID},
            ControllerName: 'Voucher',
            ActionName: 'GetSingleVoucherDetails',
            IsWinClose: false
        },function (response){
            if(response.status && response.obj!=null){
                if(response.obj.VoucherID>0){
                    debugger;
                    sessionStorage.setItem("Voucher",JSON.stringify(response.obj));
                    var oVoucher =response.obj;
                    var oCurrencyes =oVoucher.LstCurrency;
                    var oCompany =oVoucher.Company;
                    var oVDObjs = oVoucher.VDObjs;
                    $(".lblBaseCurrencySymbol").text("("+oVoucher.BaseCUSymbol+")");
                    RefreshList(oVDObjs);
                    RefreshSummery(oVDObjs);
                    InitializeEventClick();
                    InitializeEventHover();
                    RefreshControl();
                    $("#winVoucher").icsWindow('open');
                    sessionStorage.setItem("VoucherWindow", 'Open');
                }
            }
        });

    }    
    function RefreshList(oVDObjs)
    {
        //VoucherDetail = 0
        //CostCenter = 1
        //BillReference = 2
        //VoucherReference = 3
        //InventoryReference = 4
        var table = document.getElementById('tblVoucherDetail');
        $('#tblVoucherDetail').empty();
        for(var i=0; i<oVDObjs.length; i++)
        {
            var row = table.insertRow(i);
            if(oVDObjs[i].ObjTypeInt==0)
            {
                var cellAccountHead = row.insertCell(0);
                cellAccountHead.width= "50%";
                cellAccountHead.innerHTML =oVDObjs[i].AHName + " ["+oVDObjs[i].AHCode+"]";

                var cellNarration = row.insertCell(1);
                cellNarration.colSpan= 2;
                cellNarration.width= "30%";
                cellNarration.innerHTML = oVDObjs[i].Detail;


                var cellDebitAmount = row.insertCell(2);
                cellDebitAmount.width= "10%";
                cellDebitAmount.style.textAlign = "right";
                cellDebitAmount.innerHTML =  formatPrice(oVDObjs[i].DrAmount,null);

                var cellCreditAmount = row.insertCell(3);
                cellCreditAmount.width= "10%";
                cellCreditAmount.style.textAlign = "right";
                cellCreditAmount.innerHTML = formatPrice(oVDObjs[i].CrAmount,null);
            }
            if(oVDObjs[i].ObjTypeInt==1)
            {                    
                var cellSubLedgerName = row.insertCell(0);
                cellSubLedgerName.width= "50%";
                cellSubLedgerName.innerHTML = oVDObjs[i].CFormat;

                var cellSubLedgerNarration = row.insertCell(1);
                cellSubLedgerNarration.width= "20%";
                cellSubLedgerNarration.innerHTML = oVDObjs[i].Detail;

                var cellSubLedgerAmount = row.insertCell(2);
                cellSubLedgerAmount.width= "10%";
                cellSubLedgerAmount.style.textAlign = "right";
                cellSubLedgerAmount.innerHTML = formatPrice(oVDObjs[i].CAmount);

                var cellDebitAmount = row.insertCell(3);
                cellDebitAmount.width= "10%";
                cellDebitAmount.innerHTML = "";

                var cellCreditAmount = row.insertCell(4);
                cellCreditAmount.width= "10%";
                cellCreditAmount.innerHTML =  "";
            }
            if(oVDObjs[i].ObjTypeInt==2 || oVDObjs[i].ObjTypeInt==5)
            {
                var cellBillNumber = row.insertCell(0);
                cellBillNumber.width= "50%";
                cellBillNumber.innerHTML = oVDObjs[i].CFormat;

                var cellBillNarration = row.insertCell(1);
                cellBillNarration.width= "20%";
                cellBillNarration.innerHTML = oVDObjs[i].Detail;

                var cellBillAmount = row.insertCell(2);
                cellBillAmount.width= "10%";
                cellBillAmount.style.textAlign = "right";
                cellBillAmount.innerHTML = formatPrice(oVDObjs[i].CAmount);

                var cellDebitAmount = row.insertCell(3);
                cellDebitAmount.width= "10%";
                cellDebitAmount.innerHTML = "";

                var cellCreditAmount = row.insertCell(4);
                cellCreditAmount.width= "10%";
                cellCreditAmount.innerHTML =  "";
            }
            if(oVDObjs[i].ObjTypeInt==3 || oVDObjs[i].ObjTypeInt==6)
            {
                var cellChequeNumber = row.insertCell(0);
                cellChequeNumber.width= "50%";
                cellChequeNumber.innerHTML = oVDObjs[i].CFormat;

                var cellChequeNarration = row.insertCell(1);
                cellChequeNarration.width= "20%";
                cellChequeNarration.innerHTML = oVDObjs[i].Detail;

                var cellChequeAmount = row.insertCell(2);
                cellChequeAmount.width= "10%";
                cellChequeAmount.style.textAlign = "right";
                cellChequeAmount.innerHTML = formatPrice(oVDObjs[i].CAmount);

                var cellDebitAmount = row.insertCell(3);
                cellDebitAmount.width= "10%";
                cellDebitAmount.innerHTML = "";

                var cellCreditAmount = row.insertCell(4);
                cellCreditAmount.width= "10%";
                cellCreditAmount.innerHTML =  "";
            }
            if(oVDObjs[i].ObjTypeInt==4)
            {
                var cellInventoryItem = row.insertCell(0);
                cellInventoryItem.colSpan=2;
                cellInventoryItem.width= "70%";
                cellInventoryItem.innerHTML = oVDObjs[i].CFormat;

                var cellChequeAmount = row.insertCell(1);
                cellChequeAmount.width= "10%";
                cellChequeAmount.style.textAlign = "right";
                cellChequeAmount.innerHTML = formatPrice(oVDObjs[i].CAmount);

                var cellDebitAmount = row.insertCell(2);
                cellDebitAmount.width= "10%";
                cellDebitAmount.innerHTML = "";

                var cellCreditAmount = row.insertCell(3);
                cellCreditAmount.width= "10%";
                cellCreditAmount.innerHTML =  "";
            }
            if(oVDObjs[i].ObjTypeInt === 7 || oVDObjs[i].ObjTypeInt === 8)//Order Reference= 7 //SLOrder Reference= 8
            {                                        
                var cellInventoryItem = row.insertCell(0);
                cellInventoryItem.colSpan=2;
                cellInventoryItem.width= "70%";
                cellInventoryItem.innerHTML = oVDObjs[i].CFormat;

                var cellChequeAmount = row.insertCell(1);
                cellChequeAmount.width= "10%";
                cellChequeAmount.style.textAlign = "right";
                cellChequeAmount.innerHTML = formatPrice(oVDObjs[i].Amount);

                var cellDebitAmount = row.insertCell(2);
                cellDebitAmount.width= "10%";
                cellDebitAmount.innerHTML = "";

                var cellCreditAmount = row.insertCell(3);
                cellCreditAmount.width= "10%";
                cellCreditAmount.innerHTML =  "";
            }
        }
    }
    function RefreshSummery(oVDObjs)
    {
        var nTotalDebitAmount=0; var nTotalCreditAmount=0;
        if(oVDObjs==null)oVDObjs=[];
        for(var i=0; i<oVDObjs.length; i++)
        {
            nTotalDebitAmount=nTotalDebitAmount+ parseFloat(oVDObjs[i].DrAmount)
            nTotalCreditAmount=nTotalCreditAmount+parseFloat(oVDObjs[i].CrAmount);
        }
        document.getElementById('lblTotalDebitAmount').innerHTML =formatPrice(nTotalDebitAmount, null) ;
        document.getElementById('lblTotalCreditAmount').innerHTML =formatPrice(nTotalCreditAmount, null);
    }
    function InitializeEventClick()
    {
        $("#tblVoucherDetail tr").click(function() {
            ResetAllRowsClick();
            $(this).addClass("highlight");
            $(this).css("cursor","pointer");
        });
    }
    function ResetAllRowsClick()
    {
        var tblVoucherDetail=document.getElementById("tblVoucherDetail");
        if(tblVoucherDetail.rows!=null)
        {
            for(var i=0; i<tblVoucherDetail.rows.length; i++)
            {
                $('#tblVoucherDetail tr').eq(i).removeClass("highlight");
                $('#tblVoucherDetail tr').eq(i).removeClass("highlighthover");
            }
        }
    }
    function InitializeEventHover()
    {
        $("#tblVoucherDetail tr").hover(function() {
            ResetAllRowsHover();
            $(this).addClass("highlighthover");
            $(this).css("cursor","pointer");
        });
    }
    function ResetAllRowsHover()
    {
        var tblVoucherDetail=document.getElementById("tblVoucherDetail");
        if(tblVoucherDetail.rows!=null)
        {
            for(var i=0; i<tblVoucherDetail.rows.length; i++)
            {
                $('#tblVoucherDetail tr').eq(i).removeClass("highlighthover");
            }
        }
    }
    function RefreshControl()
    {
        var oVoucher=jQuery.parseJSON(sessionStorage.getItem("Voucher"));
        $("#lblHeaderName").text('View Voucher');
        $("#btnApprove").hide();

        $('#txtVoucherType').val(oVoucher.VoucherName)
        $('#txtVoucherDate').val(oVoucher.VoucherDateAsString)
        $("#txtBusinessUnit").val(oVoucher.BUShortNameCode);
        $("#txtVoucherNo").val(oVoucher.VoucherNo);
        $('#txtCurrency').val(oVoucher.CurrencyNameSymbol);
        $('#txtConversionRate').val(oVoucher.CurrencyConversionRate);
        $("#txtNarration").val(oVoucher.Narration);
        CalculateTotalSummary();
    }
    function CalculateTotalSummary()
    {
        debugger;
        var oVoucher=jQuery.parseJSON(sessionStorage.getItem("Voucher"));
        var nTotalDebitAmount=0;
        var nTotalCreditAmount=0;
        var oVDObjs = oVoucher.VDObjs;
        if(oVDObjs!=null)
        {
            for(var i=0; i<oVDObjs.length;i++)
            {

                nTotalDebitAmount=nTotalDebitAmount+ parseFloat(oVDObjs[i].DrAmount)
                nTotalCreditAmount=nTotalCreditAmount+parseFloat(oVDObjs[i].CrAmount);

            }
        }
        document.getElementById('lblTotalDebitAmount').innerHTML =formatPrice(nTotalDebitAmount, null) ;
        document.getElementById('lblTotalCreditAmount').innerHTML =formatPrice(nTotalCreditAmount, null);
    }
    $('#btnPrintVoucher').click(function(){
        var oVoucher=jQuery.parseJSON(sessionStorage.getItem("Voucher"));
        window.open(_sBaseAddress+'/Voucher/PrintVoucher?id=' + oVoucher.VoucherID+'&buid=0', "_blank");
    });
    $("#btnCloseVoucher").click(function (){
        $("#winVoucher").icsWindow('close');
        sessionStorage.setItem("VoucherWindow", 'Close');
    });



    function BUClean() 
    {
        $("#txtBUName").removeClass("fontColorOfPickItem");
        $("#txtBUName").val("Group Accounts");
        var oCostCenterBreakdown = $('#divCostCenterDetails').data('obj');
        oCostCenterBreakdown.BusinessUnitIDs="0";
        $('#divCostCenterDetails').data('obj',oCostCenterBreakdown);
    }
    function PickBusinessUnit()
    {
        //debugger;
        var oBusinessUnits=  $("#txtBUName").data('BusinessUnits');
        var tblColums = []; var oColumn = { field: "Code", title: "Code", width:60, align: "left" }; tblColums.push(oColumn);
        oColumn = { field: "Name", title: "Name", width: 200, align: "left" }; tblColums.push(oColumn);
        oColumn = { field: "ShortName", title: "Short Name", width: 120, align: "left" }; tblColums.push(oColumn);
       
        var oPickerParam = {
            winid: 'winBusinessUnit',
            winclass: 'clsBusinessUnit',
            winwidth: 420,
            winheight: 460,
            tableid: 'tblBusinessUnits',
            tablecolumns: tblColums,
            datalist: oBusinessUnits,
            multiplereturn: true,
            searchingbyfieldName: 'Name',
            windowTittle: 'Business Unit List'
        };
        $.icsPicker(oPickerParam);
        IntializePickerbutton(oPickerParam);
        var oCostCenterBreakdown = $('#divCostCenterDetails').data('obj');
        var aSelectedBU = oCostCenterBreakdown.BusinessUnitIDs.split(',');
        var oBUList = $('#tblBusinessUnits').datagrid('getRows');
        debugger;
        for(var i =0;i<oBUList.length;i++)
        {
            if(ICS_IsExistInArray(oBUList[i].BusinessUnitID,aSelectedBU))
            {
                $('#tblBusinessUnits').datagrid('checkRow',i);
            }
        }
    }
    function IntializePickerbutton(oPickerobj) {
        $("#" + oPickerobj.winid).find("#btnOk").click(function () {
            //for Single Select
            SetPickerValueAssign(oPickerobj);
        });
        $(document).find('.' + oPickerobj.winclass).keydown(function (e) {
            if (e.which == 13)//enter=13
            {
                SetPickerValueAssign(oPickerobj);

            }
        });
    }
    function SetPickerValueAssign(oPickerobj)
    {
        var oreturnObj = null, oreturnobjs = [];
        if (oPickerobj.multiplereturn) {
            oreturnobjs = $('#' + oPickerobj.tableid).datagrid('getChecked');
        } else {
            oreturnObj = $('#' + oPickerobj.tableid).datagrid('getSelected');
        }
        $("#" + oPickerobj.winid).icsWindow("close");
        $("#" + oPickerobj.winid).remove();

        if (oPickerobj.winid == 'winBusinessUnit')
        {
            if (oreturnobjs.length>0)
            {
                $('#txtBUName').val(ICS_PropertyConcatation(oreturnobjs,'ShortName'));
                $('#txtBUName').addClass('fontColorOfPickItem');
                var oCostCenterBreakdown = $('#divCostCenterDetails').data('obj');
                oCostCenterBreakdown.BusinessUnitIDs=ICS_PropertyConcatation(oreturnobjs,'BusinessUnitID');
                $('#divCostCenterDetails').data('obj',oCostCenterBreakdown);
            }
        }
    }


    </script>
    <style type="text/css">
       .tablebordaer {
        border: 1px solid black;
    }
        
    #tblVoucherDetail td{
        border-left: 1px solid #D8D8D8;
        border-bottom: 1px solid #D8D8D8;
    }

    #tblVoucherDetailHeader  td{
        border-left: 1px solid black;
    }

    .highlight {
        background-color: #CFB53B;
        color: #fff;
    }

    .highlighthover {
        background-color: #FAE794;
        color: #000;
    }
    </style>
