<html>
<head>

    <script src="@Url.Content("~/Scripts/jquery-1.7.1.min.js")" type="text/javascript"></script>
    <link href="@Url.Content("~/Content/Site.css")" rel="stylesheet" type="text/css" />
    <link href="@Url.Content("~/Content/CSS/icon.css")" rel="stylesheet" type="text/css" />
    <link href="@Url.Content("~/Content/CSS/easyui.css")" rel="stylesheet" type="text/css" />
    <link href="@Url.Content("~/Content/CSS/Pikerstyle.css")" rel="stylesheet" type="text/css" />
    <link href="@Url.Content("~/Content/CSS/mainstyle.css")" rel="stylesheet" type="text/css" />

    <script src="@Url.Content("~/Scripts/jquery.ics.customize.js")" type="text/javascript"></script>  
    <script src="@Url.Content("~/Scripts/jquery.easyui.min.js")" type="text/javascript"></script>    

    <script src="@Url.Content("~/Scripts/jquery-ui.min.js")" type="text/javascript"></script> 
    <script src="@Url.Content("~/Scripts/json2.js")" type="text/javascript"></script>  
    <script src="@Url.Content("~/Scripts/jquery.ics.plugins.js")" type="text/javascript"></script>
</head>
<body>


@model ESimSol.BusinessObjects.GUProductionOrder

<div style="font-family:Tahoma" class="menuMainCollectionTable">
    <table border="0" style="background-color:#CFB53B;width:720px">
        <tr>            
            
            <td style="width:720px; text-align:center; text-decoration:underline; font-size:15px; color: White; font-weight:bold"><label id="lblHeaderName">Production Order Advance Search</label></td>
        </tr>
    </table>
    <table border="0" cellpadding="0" cellspacing="0" style ="font-size:12px" >
        <tr style="height:270px">
            <td style="width:500px">
                    <table border="0" cellpadding="0" cellspacing="0" style ="font-size:12px">
                        <tr style="height:260px">  
                            <td style="width:400px; vertical-align:top;height:420px">
                                <fieldset>
                                <legend style="font-weight:bold; font-size:12px"> Searching Criteria : </legend>
                                <table border="0" cellpadding="0" cellspacing="0" style=" width:340px; font-size:12px">
                                     <tr>
                                        <td style="width:130px; text-align:left; font-weight:bold">
                                           Style No:
                                        </td>
                                        </tr>
                                        <tr>
                                   
                                        <td style="width:200px;text-align:left">
                                           @Html.TextBox("txtStyleNo", "", new { style = "width: 325px", id = "txtStyleNo" }) 
                                        </td>
                                    </tr>

                                     <tr>
                                        <td style="width:130px; text-align:left; font-weight:bold">
                                           Production Order No:
                                        </td>
                                   </tr>
                                    <tr>
                                        <td style="width:200px;text-align:left">
                                           @Html.TextBox("txtPONo", "", new { style = "width: 325px", id = "txtPONo" }) 
                                        </td>
                                    </tr>

                                     <tr>
                                        <td style="width:130px;text-align:left; font-weight:bold">
                                           Buyer(s):
                                        </td>
                                   </tr>
                                   <tr>
                                        <td style="width:200px;text-align:left">
                                           
                                           @Html.TextBox("txtBuyerName", "", new { style = "width: 255px", id = "txtBuyerName", placeholder = "Type Buyer & Press Enter" })<input type="button" style="width:70px; font-size:12px" onclick="BuyerPiker()", value="Pick" />
                                        </td>
                                    </tr>

                                     <tr>
                                        <td style="width:130px;text-align:left; font-weight:bold">
                                           Production Factory :
                                        </td>
                                    </tr>
                                     <tr>
                                        <td style="width:200px;text-align:left">
                                           
                                           @Html.TextBox("txtFactoryName", "", new { style = "width: 255px", id = "txtFactoryName", placeholder = "Type Factory & Press Enter" })<input type="button" style="width:70px; font-size:12px" onclick="FactoryPiker()", value="Pick" />
                                           
                                        </td>
                                    </tr>

                                     <tr>
                                        <td style="width:130px;text-align:left; font-weight:bold">
                                           Merchandiser:
                                        </td>
                                      </tr>
                                      <tr>
                                        <td style="width:200px;text-align:left; font-size:12px">
                                          <select id="cboMerchandiser"  style="width:325px;font-size:12px"/>
                                        </td>
                                    </tr>

                                     <tr>
                                        <td style="width:130px;text-align:left; font-weight:bold">
                                          Order Status :
                                        </td>
                                    </tr>
                                     <tr>
                                        <td style="width:200px;text-align:left; font-size:12px">
                                           @Html.DropDownListFor(model => model.OrderStatus, new SelectList(Enum.GetValues(typeof(ESimSol.BusinessObjects.EnumGUProductionOrderStatus))), new { id = "cboStatus", style = "width: 325px;font-size:12"})
                                        </td>
                                    </tr>


                                     <tr>
                                        <td style="width:130px;text-align:left; font-weight:bold">
                                          Order Date:
                                        </td>
                                     </tr>
                                     <tr>
                                        <td style="width:200px;text-align:left; font-size:12px">
                                            <table border="0" style="font-size:12px">
                                                <tr>
                                                    <td style="width:71px;font-size:12px;text-align:left">@Html.DropDownList("cboOrderDate", new SelectList(Enum.GetValues(typeof(ESimSol.BusinessObjects.EnumCompareOperator))), new { id = "cboOrderDate", style = "width: 100px;font-size:12px;text-align:left", @class = "_select_changeA" })</td>
                                                    <td style="width:60px;font-size:12px"><input id="txtOpenOrderDate" type="text" style="width: 98px;" class="easyui-datebox" required="required" data-options="formatter:icsdateformat,parser:icsdateparser" /></td>
                                                    <td style="width:9px; font-size:12px" id= "enddateT">To</td>
                                                    <td style="width:60px;font-size:12px" id= "enddate"><input id="txtOrderCreateEndDate" type="text" style="width: 97px;" class="easyui-datebox" required="required" data-options="formatter:icsdateformat,parser:icsdateparser" /></td>
                                                </tr>
                                            </table>
                                        </td>
                                    </tr>

                                    <tr>
                                        <td style="width:130px;text-align:left; font-weight:bold">
                                          Shipment Date:
                                        </td>
                                     </tr>
                                     <tr>
                                        <td style="width:200px;text-align:left; font-size:12px">
                                            <table border="0" style="font-size:12px">
                                                <tr>
                                                    <td style="width:71px;font-size:12px;text-align:left">@Html.DropDownList("cboShipmentDate", new SelectList(Enum.GetValues(typeof(ESimSol.BusinessObjects.EnumCompareOperator))), new { id = "cboShipmentDate", style = "width: 100px;font-size:12px;text-align:left", @class = "_select_changeB" })</td>
                                                    <td style="width:60px;font-size:12px"><input id="txtOpenShipmentDate" type="text" style="width: 98px;" class="easyui-datebox" required="required" data-options="formatter:icsdateformat,parser:icsdateparser" /></td>
                                                    <td style="width:9px; font-size:12px" id= "enddateST">To</td>
                                                    <td style="width:60px;font-size:12px" id= "enddateS"><input id="txtShipmentCreateEndDate" type="text" style="width: 97px;" class="easyui-datebox" required="required" data-options="formatter:icsdateformat,parser:icsdateparser" /></td>
                                                </tr>
                                            </table>
                                        </td>
                                    </tr>

                                     <tr style="height:120px; vertical-align:bottom">
                                    
                                       <td style=" text-align:left; width:325px;">
                                            <table border ="0" cellpadding ="0" cellspacing="0">
                                                <tr>
                                                    <td style =" text-align:left;"><input type="button" value="Reset"  id="btnReset" style="width:70px; text-align:left;"/></td>
                                                    <td style=" text-align:right; width:255px;"><input type="button" value="Search" id="btnRefresh" style="width:70px; text-align:right;"/></td>
                                                </tr>
                                            </table>
                                        </td>
                                    </tr>
                                </table>
                                </fieldset>
                            </td>                          
                            <td style="width:323px; height:470px;vertical-align:top; padding: 7px">
                                <table id="tblGUProductionOrder" title="Production Order List"  class="easyui-datagrid" style="width:350px;height:470px;font-size:12px" fitColumns="false" rownumbers="true" pagination="false" singleSelect="true", autoRowHeight="false">
                                    <thead>  
                                        <tr>      
                                            <th data-options="field:'Selected',checkbox:true"></th> 
                                            <th field="GUProductionOrderNo" width="90">P.O No</th>
                                            <th field="OrderRecapNo" width="100">Recap No</th>
                                            <th field="StyleNo" width="120">Style No</th>
                                            <th field="BuyerName" width="100">Buyer</th>
                                            <th field="ProductionUnitName" width="110">Production Unit</th>
                                            <th field="OrderDateInString" width="80">Order Date</th>  
                                                        
                                        </tr>  
                                    </thead> 
                                </table>                               
                            </td>
                            
                        </tr>
                    </table>
            </td>
        </tr>
      <tr style="height:50px">
            <td style="width:650px; text-align:right">
                <a href="javascript:void(0)" class="easyui-linkbutton" iconCls="icon-ok" plain="true" onclick="OkButtonClick()">Ok</a>
                <a href="javascript:void(0)" class="easyui-linkbutton" iconCls="icon-cancel" plain="true" onclick="Close()">Close</a>               
            </td>
        </tr>
    </table>
</div>
</body>
</html>
<script type="text/javascript">
    var _bMultipleItemReturn=false;
    var _sBaseAddress="";
    var obj = JSON.parse(sessionStorage.getItem('Parameter'));
    var _oGUProductionOrder="";
    var _EmployeeList="";
    var _nFactoryID =0;
    var _nBuyerID =0;
    var _sMenuName ="";
    var _oLoadLabDipStatus=[];
    $(document).ready(function () {
        //debugger;
        _sBaseAddress =@Html.Raw(new System.Web.Script.Serialization.JavaScriptSerializer().Serialize(HttpContext.Current.Session[SessionInfo.BaseAddress])); 
        _oGUProductionOrder=@Html.Raw(new System.Web.Script.Serialization.JavaScriptSerializer().Serialize(Model));
        _EmployeeList =@Html.Raw(new System.Web.Script.Serialization.JavaScriptSerializer().Serialize(Model.EmployeeList));
        _bMultipleItemReturn=obj.MultipleItemReturn;              
        if(_bMultipleItemReturn==false)
        {
            $('#tblGUProductionOrder').datagrid('hideColumn','Selected'); 
            $('#tblGUProductionOrder').datagrid({ onDblClickRow: function (rowIndex, rowData) { RowDoubleClickEvent(rowIndex, rowData); } });
        }          
     
        SetDate();

        $('#cboMerchandiser').empty();
        var listItems= "<option value='"+0+"'>" +"--Select Merchandiser--" + "</option>";
        for (var i = 0; i < _EmployeeList.length; i++)
        {
            listItems+= "<option value='" + _EmployeeList[i].EmployeeID + "'>" + _EmployeeList[i].Name + "</option>";
        }
        $("#cboMerchandiser").html(listItems); 
          
    }); 

    function SetDate()
    {
        $('#txtOpenOrderDate').datebox('setValue', icsdateformat(new Date()));
        $('#txtOrderCreateEndDate').datebox('setValue', icsdateformat(new Date()));
        $('#txtOpenShipmentDate').datebox('setValue', icsdateformat(new Date()));
        $('#txtShipmentCreateEndDate').datebox('setValue', icsdateformat(new Date()));
    }


     $('._select_changeA').change(function () {
        //debugger;
        var x = $("#cboOrderDate").val();
        if (x == "EqualTo" || x == "NotEqualTo" || x == "GreaterThen" || x == "SmallerThen") {
            document.getElementById("enddate").style.display = 'none';
            document.getElementById("enddateT").style.display = 'none';
        }
        else {
            document.getElementById("enddate").style.display = '';
            document.getElementById("enddateT").style.display = '';
        }
    });

    
 
 
     $('._select_changeB').change(function () {
        //debugger;
        var x = $("#cboShipmentDate").val();
        if (x == "EqualTo" || x == "NotEqualTo" || x == "GreaterThen" || x == "SmallerThen") {
            document.getElementById("enddateS").style.display = 'none';
            document.getElementById("enddateST").style.display = 'none';
        }
        else {
            document.getElementById("enddateS").style.display = '';
            document.getElementById("enddateST").style.display = '';
        }
    });


     //---------------- DYNAMIC--------PICKER----------------

     function SetBuyer(oSelectedBuyer) //GetBuyer
     {
         var _oSelectedContractor = oSelectedBuyer;
         if(_oSelectedContractor!=null)
         {
             if(_oSelectedContractor.ContractorID>0)
             {
                 var txtBuyerName=document.getElementById("txtBuyerName");                             
                 txtBuyerName.value= _oSelectedContractor.Name;
                 txtBuyerName.style.color="blue";
                 txtBuyerName.style.fontWeight="bold";
                 _nBuyerID=  _oSelectedContractor.ContractorID;
             }
         }
         $('#txtBuyerName').focus();
     }

     function FactoryPiker(oTxtName){
         debugger;
         var BUID=sessionStorage.getItem('BUID');
         var oTempName=""
         if (typeof oTxtName != 'undefined')
             oTempName=oTxtName;
         var oContractor = {
             Params: '3'+'~'+oTempName+'~'+BUID
         };
         var obj = {
             BaseAddress: sessionStorage.getItem('BaseAddress'),
             Object: oContractor,
             ControllerName: "Contractor",
             ActionName: "ContractorSearchByNameType",
             IsWinClose: false
         };

         var tblColums = [];
         var oColumn = { field: "Name", title: "Name", width: 180, align: "left" }; tblColums.push(oColumn);
         oColumn = { field: "Address", title: "Address", width: 160, align: "left" }; tblColums.push(oColumn);
         oColumn = { field: "Email", title: "Email", width: 100, align: "left" }; tblColums.push(oColumn);
         oColumn = { field: "ShortName", title: "Short Name", width: 100, align: "left" }; tblColums.push(oColumn);

         DynamicPiker('FactoryPiker',obj,tblColums,false,'Name','ContractorID'); //pickerName,obj,table,multiReturn,SearchingField
     }

     function SetFactory(oSelectedContractor)
     {
         if(oSelectedContractor!=null)
         {
             _oSelectedContractor=oSelectedContractor;
             if(_oSelectedContractor.ContractorID>0)
             {
                 var txtFactoryName=document.getElementById("txtFactoryName");                             
                 txtFactoryName.value= _oSelectedContractor.Name;
                 txtFactoryName.style.color="blue";
                 txtFactoryName.style.fontWeight="bold";
                 _nFactoryID=  _oSelectedContractor.ContractorID;   
             }
         }
         else
         {
             document.getElementById("txtSupplierID").value= '';
         }
         $('#txtFactoryName').focus();
     }

     function BuyerPiker(oTxtName)
     {
         debugger;
         var BUID=sessionStorage.getItem('BUID');
         var oTempName=""
         if (typeof oTxtName != 'undefined')
             oTempName=oTxtName;
         var oContractor = {
             Params: '2'+'~'+oTempName+'~'+BUID
         };
         var obj = {
             BaseAddress: sessionStorage.getItem('BaseAddress'),
             Object: oContractor,
             ControllerName: "Contractor",
             ActionName: "ContractorSearchByNameType",
             IsWinClose: false
         };

         var tblColums = [];
         var oColumn = { field: "Name", title: "Name", width: 180, align: "left" }; tblColums.push(oColumn);
         oColumn = { field: "Address", title: "Address", width: 160, align: "left" }; tblColums.push(oColumn);
         oColumn = { field: "Email", title: "Email", width: 100, align: "left" }; tblColums.push(oColumn);
         oColumn = { field: "ShortName", title: "Short Name", width: 100, align: "left" }; tblColums.push(oColumn);

         DynamicPiker('BuyerPiker',obj,tblColums,false,'Name','ContractorID'); //pickerName(unique),obj,table,multiReturn,SearchingField
     }

     function DynamicPiker(pickerName,obj,pTblColums,pMultiReturn,pSearchField,pID)
     {
         $.icsDataGets(obj, function (response) {
             debugger;
             if (response.status && response.objs.length > 0) {
                 if (response.objs[0][pID] > 0) {
                     debugger;
                     var tblColums = pTblColums;
                     var oPickerParam = {
                         winid: 'win'+pickerName,
                         winclass: 'cls'+pickerName,
                         winwidth: 600,
                         winheight: 460,
                         tableid: 'tbl'+pickerName,
                         tablecolumns: tblColums,
                         datalist: response.objs,
                         multiplereturn: pMultiReturn,
                         searchingbyfieldName: pSearchField,
                         windowTittle: pickerName+' List'
                     };
                     $.icsPicker(oPickerParam);
                     IntializePickerbutton(oPickerParam);
                 }
                 else { alert(response.objs[0].ErrorMessage); }
             }
             else{
                 alert("Data Not Found.");
                 return;
             }
         });
     }

     function IntializePickerbutton(oPickerobj) {
         debugger;
         $("#" + oPickerobj.winid).find("#btnOk").click(function () {
             debugger;
             //for Single Select
             SetPickerValueAssign(oPickerobj);
         });
         $(document).find('.' + oPickerobj.winclass).keydown(function (e) {
             if (e.which == 13)//enter=13
             {
                 SetPickerValueAssign(oPickerobj);
             }
         });
     }

     function SetPickerValueAssign(oPickerobj)
     {
         $('#txtLocalYarnSupplierName').focus();
         var oreturnObj = null, oreturnobjs = [];
         if (oPickerobj.multiplereturn)
         {
             oreturnobjs = $('#'+oPickerobj.tableid).datagrid('getChecked');
         } else {
             oreturnObj = $('#'+oPickerobj.tableid).datagrid('getSelected');
         }
         $("#" + oPickerobj.winid).icsWindow("close");
         $("#" + oPickerobj.winid).remove();

         var oSelectedContractor=oreturnObj;
         if(oSelectedContractor!=null)
         {
             if (oPickerobj.winid == 'winBuyerPiker')
             {
                 SetBuyer(oSelectedContractor);
             }
             else if(oPickerobj.winid == 'winFactoryPiker')
             {
                 SetFactory(oSelectedContractor);
             }
         }
     }

     // Search Buyer Start
     $('#txtBuyerName').keydown(function (e) {
         //debugger;
         var code = (e.keyCode ? e.keyCode : e.which);
         if (code == 13) {
             var txtBuyerName = document.getElementById('txtBuyerName').value;
             if(txtBuyerName!="")
             {
                 BuyerPiker(txtBuyerName);
             }
         }
     });
    
     $('#txtBuyerName').keydown(function (e) {    
         var code = (e.keyCode ? e.keyCode : e.which);    
         if (code == 8) //backspace=8   
         {
             //debugger;
             var txtBuyerName=document.getElementById("txtBuyerName");                                     
             txtBuyerName.style.color="black";
             txtBuyerName.style.fontWeight="normal";
             _nBuyerID = 0;
        
         } 
     });
     // Search Buyer End

     // Search Factory Start
     $('#txtFactoryName').keydown(function (e) {
         //debugger;
         var code = (e.keyCode ? e.keyCode : e.which);
         if (code == 13) {
             var txtFactoryName = document.getElementById('txtFactoryName').value;
             if(txtFactoryName!="")
             {
                 FactoryPiker(txtFactoryName);
             }
         }
     });
     $('#txtFactoryName').keydown(function (e) {    
         var code = (e.keyCode ? e.keyCode : e.which);    
         if (code == 8) //backspace=8   
         {
             //debugger;
             var txtFactoryName=document.getElementById("txtFactoryName");                                     
             txtFactoryName.style.color="black";
             txtFactoryName.style.fontWeight="normal";
             _nFactoryID = 0;
         } 
     });
    // Search Factory End
    
   $('#btnRefresh').click(function () {         
        //debugger;
         var cboOrderDate = document.getElementById("cboOrderDate");
         var nOrderCreateDate=cboOrderDate.options[cboOrderDate.selectedIndex].index;
         var cboShipmentDate = document.getElementById("cboShipmentDate");
         var nShipmentDate=cboShipmentDate.options[cboShipmentDate.selectedIndex].index;       
         var cboMerchandiser=document.getElementById("cboMerchandiser");
         var nMerchandiser=cboMerchandiser.options[cboMerchandiser.selectedIndex].value;
         var sStyleNo= document.getElementById("txtStyleNo").value;
         var sPONo= document.getElementById("txtPONo").value;
         var cboStatus=document.getElementById("cboStatus");
         var ncboStatus=cboStatus.options[cboStatus.selectedIndex].index;
         var sStatusIDs = "";
         if(ncboStatus!=0)
         {
             sStatusIDs=ncboStatus;
         }
         var sSupplierName =document.getElementById("txtFactoryName").value;
         var sSOCDs=$('#txtOpenOrderDate').datebox('getValue');
         var sSOCDe=$('#txtOrderCreateEndDate').datebox('getValue');

         var sSipmemntStartD=$('#txtOpenShipmentDate').datebox('getValue');
         var sSipmemntEndD=$('#txtShipmentCreateEndDate').datebox('getValue');
         

         var chkResult = CheckEmpty();
         if(chkResult!=true)
         {
            alert("Please Select at lease one Criteria !!");
            return;
         }
       
         var sTempString = nOrderCreateDate+'~'+sSOCDs+'~'+sSOCDe+'~'+nShipmentDate+'~'+sSipmemntStartD+'~'+sSipmemntEndD+'~'+sStyleNo+'~' +sPONo+'~'+_nBuyerID+'~'+_nFactoryID+'~'+nMerchandiser+'~'+sStatusIDs+'~'+obj.BUID;
         var tsv =((new Date()).getTime())/1000;
         $.ajax({
            type: "GET",
            dataType: "json",
            url: '@Url.Action("Gets", "GUProductionOrder")',
            data: { sTemp: sTempString, ts : tsv },
            contentType: "application/json; charset=utf-8",
            success: function (data) {
               ////debugger;
               var  oGUProductionOrders = jQuery.parseJSON(data);
                if (oGUProductionOrders != null) {                   
                    if(oGUProductionOrders.length>0)
                    {
                        RefreshList(oGUProductionOrders);
                        $('#tblGUProductionOrder').datagrid({selectOnCheck:false, checkOnSelect:false})
                        if(_bMultipleItemReturn==false)
                        {
                             $('#tblGUProductionOrder').datagrid('hideColumn','Selected'); 
                             $('#tblGUProductionOrder').datagrid({ onDblClickRow: function (rowIndex, rowData) { RowDoubleClickEvent(rowIndex, rowData); } });
                        }
                    }    
                    else
                    {
                        alert("Data not found!!");
                        RefreshList(oGUProductionOrders);
                    }              
                }
            },
            error: function (xhr, status, error) {
                alert(error);
            }
        });
        
    });

   
    function RefreshList(oGUProductionOrders)
    {
        data =oGUProductionOrders;       
        data={"total":""+data.length+"","rows":data};
        $('#tblGUProductionOrder').datagrid('loadData',data);
    }

    $('#btnReset').click(function () {         
        //debugger;
        _nBuyerID =0;
        _nFactoryID =0;
        document.getElementById("txtBuyerName").value= '';
        document.getElementById("txtStyleNo").value='';
        document.getElementById("txtPONo").value='';
        document.getElementById("txtFactoryName").value='';
        var txtBuyerName=document.getElementById("txtBuyerName");                                     
        txtBuyerName.style.color="black";
        txtBuyerName.style.fontWeight="normal";

        var txtFactoryName=document.getElementById("txtFactoryName");                                     
        txtFactoryName.style.color="black";
        txtFactoryName.style.fontWeight="normal";

        document.getElementById("enddate").style.display = '';
        document.getElementById("enddateT").style.display = '';
        document.getElementById("enddateS").style.display = '';
        document.getElementById("enddateST").style.display = '';

        $('#cboMerchandiser').val(0);
        $('#cboStatus').val(0);
        $('#cboOrderDate').val('None');
        $('#cboShipmentDate').val('None');
        SetDate();
        var oGUProductionOrders=[];
        RefreshList(oGUProductionOrders);
        
    });
    

    function CheckEmpty()
    {
        
         var cboOrderDate = document.getElementById("cboOrderDate");
         var nOrderCreateDate=cboOrderDate.options[cboOrderDate.selectedIndex].index;


         var cboShipmentDate = document.getElementById("cboShipmentDate");
         var nShipmentDate=cboShipmentDate.options[cboShipmentDate.selectedIndex].index;

         var cboMerchandiser=document.getElementById("cboMerchandiser");
         var ncboMerchandiser=cboMerchandiser.options[cboMerchandiser.selectedIndex].value;

         var sStyleNo= document.getElementById("txtStyleNo").value;
         var sPONo= document.getElementById("txtPONo").value;

          var cboStatus=document.getElementById("cboStatus");
         var ncboStatus=cboStatus.options[cboStatus.selectedIndex].index;

         var sBuyerName=document.getElementById("txtBuyerName").value;

        
         if(nOrderCreateDate==0 && nShipmentDate==0)
         {
            if(ncboMerchandiser==0 &&  ncboStatus ==0 && sBuyerName=="" && _nFactoryID==0 && sStyleNo=="" && sPONo =="")
            {
             return false;
            }
            return true;
         }

        return true;
    }

   


    function Close()
    {
        window.close();   
    }

    function OkButtonClick()
    { 
        if(_bMultipleItemReturn==true)
        {
        var oGUProductionOrders=[];
        var oGUProductionOrders = $('#tblGUProductionOrder').datagrid('getChecked');               
        if(oGUProductionOrders.length<=0)
        {
            alert("please select atleast one item");
            return;
        }
        window.opener.WinReturnPORSearch(oGUProductionOrders);
        }
        else
        {
            var oGUProductionOrder= $('#tblGUProductionOrder').datagrid('getSelected'); 
            if(oGUProductionOrder==null || oGUProductionOrder=="")
            {
                alert("please select one item ");
                return;
            }
            window.opener.WinReturnPORSearch(oGUProductionOrder);
        }
        window.close();
    }
      



$(document).keydown(function(e) {    
    //debugger;
    if(e.which == 27)//escape=27
    {
        //debugger;        
        window.close();
    }
});

</script>