<html>
<body>

    @model ESimSol.BusinessObjects.GUProductionOrder

    <div class="menuMainCollectionTable">
        <div style="width:99%" >
            <fieldset>
                <legend>PO Info:</legend>
                <div style="float:left; width:65%; margin: 10px 0 10px 50px">
                    <table border="0" style="font-size:12%; width:420px;">
                        <tr>
                            <td style="width:110px; text-align:right">P.O No:</td>
                            <td style="width:100px; text-align:left"> @Html.TextBoxFor(model => model.GUProductionOrderNo, new { style = "width: 100px;", id = "txtGUProductionOrderNo", disabled = "disabled" })</td>
                            <td style="width:60px; text-align:right">PO Date:</td>
                            <td style="width:130px; text-align:left"> @Html.TextBoxFor(model => model.OrderDateInString, new { style = "width:130px;", id = "txtOrderDate", disabled = "disabled" })</td>
                        </tr>
                    </table>

                    <table border="0" style="font-size:12;width:420px">
                        <tr>
                            <td style="width:110px; text-align:right">Buyer Name:</td>
                            <td style="width:300px; text-align:left"> @Html.TextBoxFor(model => model.BuyerName, new { style = "width: 300px;", id = "txtBuyerName", disabled = "disabled" })</td>
                        </tr>
                        <tr>
                            <td id="tdyarnName" style="width:110px; text-align:right">Production Factory:</td>
                            <td style="width:300px; text-align:left"> @Html.TextBoxFor(model => model.ProductionFactoryName, new { style = "width: 300px;", id = "txtProductionFactoryName", disabled = "disabled" })</td>
                        </tr>
                        <tr>
                            <td style="width:110px; text-align:right; font-size: 12px ">Merchandiser:</td>
                            <td style="width:300px; text-align:left">@Html.TextBoxFor(model => model.MerchandiserName, new { style = "width: 300px;", id = "txtDescription", disabled = "disabled" })</td>

                        </tr>


                    </table>
                    <table border="0" style="font-size:12;width:420px">
                        <tr>
                            <td style="width:110px; text-align:right; font-size: 12px ">Product :</td>
                            <td style="width:100px; text-align:left">@Html.TextBoxFor(model => model.GarmentsProductName, new { style = "width: 100px;", id = "txtCurrency", disabled = "disabled" })</td>
                            <td id="tdBuyerContactPerson" style="width:70px; text-align:right">ODS No:</td>
                            <td id="tdByerContractPerson" style="width:120px; text-align:left"> @Html.TextBoxFor(model => model.ODSNo, new { style = "width: 120px;", id = "txtBuyerContactPersonName", disabled = "disabled" })</td>
                        </tr>
                    </table>

                </div>

                <div style="float:left; width:20%; margin-left:-20px">
                    <img id="imgCoverImage" src="@Url.Action("GetCoverImage", "GUProductionOrder", new { id = Model.TechnicalSheetID })" alt="Photo" style="width:165px; height:165px" />
                </div>
            </fieldset>

            <div style="width:100%;">
                <table id="tblGUProductionOrderDetail" title="Production Order Detail" class="easyui-datagrid" style="width:100%;height:260px; margin-left:10px" fitcolumns="false" rownumbers="true" pagination="false" singleselect="true" , autorowheight="false" toolbar="#toolbar"></table>
                <div id="toolbar">
                    <table border="0" cellpadding="0" cellspacing="0" style="font-size:12px">
                        <tr style="height:20px">
                            <td style="width:50px"><a href="javascript:void(0)" class="easyui-linkbutton" iconcls="icon-reload" plain="true" onclick="RefreshPODetail()">Refresh</a></td>
                        </tr>
                    </table>
                </div>
                <table border="0" cellpadding="0" cellspacing="0">
                    <tr>
                        <td>
                            <div id="divTotalSummary" style="font-size:12; height:22px; width:980px; overflow:auto">
                                <b>Total : </b>
                            </div>
                        </td>
                    </tr>
                </table>

                <table border="0" style="font-size:12px; width:100%; margin-left:3px">
                    <tr>
                        <td style="width:15%; text-align:right">Remark :</td>
                        <td style="width:85%; text-align:left"><input type="text" style="width:99%;" id="txtNote" /></td>
                    </tr>
                </table>
            </div>
        </div>
        <fieldset style="width:99%;">
            <legend style="font-weight:bold"> Action : </legend>
            <table border="0" cellspacing="2" cellpadding="2" style="font-size:11px;width:100%;font-weight:bold">
                <tr>
                    <td style="width:70%; text-align:right"></td>
                    <td style="width:30%">
                        <a href="javascript:void(0)" class="easyui-linkbutton" iconcls="icon-ok" plain="true" onclick="Approve()">Approve</a>
                        <a href="javascript:void(0)" class="easyui-linkbutton" iconcls="icon-save" plain="true" onclick="NotApprove()">Not Approve</a>
                        <a href="javascript:void(0)" class="easyui-linkbutton" iconcls="icon-cancel" plain="true" onclick="Cancel()">Cancel</a>
                    </td>
                </tr>
            </table>
        </fieldset>
    </div>
</body>
</html>

<script type="text/javascript">

    var _oGUProductionOrder=null;
    var _value ="";
    var _sBaseAddress="";
    var _oGUProductionOrderDetails =null;
    var _oTechnicalSheetSizes = [];
    var _oColorSizeRatios = [];
    $(document).ready(function () {
        debugger;
        _sBaseAddress =@Html.Raw( new System.Web.Script.Serialization.JavaScriptSerializer().Serialize(HttpContext.Current.Session[SessionInfo.BaseAddress]));
        _oGUProductionOrder =@Html.Raw(new System.Web.Script.Serialization.JavaScriptSerializer().Serialize(Model));
        _oGUProductionOrderDetails  =@Html.Raw(new System.Web.Script.Serialization.JavaScriptSerializer().Serialize(Model.GUProductionOrderDetails));
        _oTechnicalSheetSizes = @Html.Raw(new System.Web.Script.Serialization.JavaScriptSerializer().Serialize(Model.TechnicalSheetSizes));
        _oColorSizeRatios = @Html.Raw(new System.Web.Script.Serialization.JavaScriptSerializer().Serialize(Model.ColorSizeRatios));
        MakeDetailTable(_oTechnicalSheetSizes);
        RefreshDetails(_oColorSizeRatios);

        $('#divPanel').panel({
            title:sessionStorage.getItem("GUProductionOrderHeader")
        });
        
    });


    function MakeDetailTable(oTechnicalSheetSizes)
    {
        debugger;
        var oTempTechnicalSheetSizes = [];
        var tblColums=[];
        var oColumn=null;
        oColumn= { field :"ColorName", title:"Color Name", width:"120"};
        tblColums.push(oColumn);
        var count =0;
        for(var i=0; i<oTechnicalSheetSizes.length;i++)
        {
            count++;
            oColumn= {
                field:"OrderQty"+count,
                title: oTechnicalSheetSizes[i].SizeCategoryName,
                width: "60",
                align: "right"
            };
            tblColums.push(oColumn);
            oTempTechnicalSheetSizes.push(oTechnicalSheetSizes[i]);
        }
        oColumn= { field :"ColorWiseTotal", title:"Total", width:"100",  align: "right"};
        tblColums.push(oColumn);

        $('#tblGUProductionOrderDetail').datagrid({ columns:[tblColums]});
        RefreshSummary(oTempTechnicalSheetSizes);
    }

    function RefreshSummary(oTechnicalSheetSizes)
    {

        var sInnerHTML="<table border='0' cellspacing='2' cellpadding='2' style='font-size:11px; font-weight:bold'><tr>";
        sInnerHTML=sInnerHTML+"<td style='width:135px; text-align:right'> Total :</td>";
        var count =0;
        for(var j=0; j<oTechnicalSheetSizes.length;j++)
        {
            count++;
            sInnerHTML = sInnerHTML+"<td style='width:56px; text-align:right'>"+SizeWiseTotal(count)+"</td>";
        }
        sInnerHTML=sInnerHTML+"<td style='width:100px; text-align:right'>"+SizeWiseTotal( 21)+"</td>";//total qty
        sInnerHTML=sInnerHTML+"</tr></table>";

        var divTotalSummary= document.getElementById('divTotalSummary');
        divTotalSummary.innerHTML=sInnerHTML;
    }

    function SizeWiseTotal( n)
    {

        var nSizeWiseTotal=0;
        var   oColorSizeWiseRatios =  $('#tblGUProductionOrderDetail').datagrid('getRows');

        if(oColorSizeWiseRatios!= null)
        {
            for(var i=0; i<oColorSizeWiseRatios.length; i++)
            {
                if( parseInt(n)==1){nSizeWiseTotal=nSizeWiseTotal+parseInt(oColorSizeWiseRatios[i].OrderQty1);}
                else if(parseInt(n)==2){nSizeWiseTotal=nSizeWiseTotal+parseInt(oColorSizeWiseRatios[i].OrderQty2);}
                else if(parseInt(n)==3){nSizeWiseTotal=nSizeWiseTotal+parseInt(oColorSizeWiseRatios[i].OrderQty3);}
                else if(parseInt(n)==4){nSizeWiseTotal=nSizeWiseTotal+parseInt(oColorSizeWiseRatios[i].OrderQty4);}
                else if(parseInt(n)==5){nSizeWiseTotal=nSizeWiseTotal+parseInt(oColorSizeWiseRatios[i].OrderQty5);}
                else if(parseInt(n)==6){nSizeWiseTotal=nSizeWiseTotal+parseInt(oColorSizeWiseRatios[i].OrderQty6);}
                else if(parseInt(n)==7){nSizeWiseTotal=nSizeWiseTotal+parseInt(oColorSizeWiseRatios[i].OrderQty7);}
                else if(parseInt(n)==8){nSizeWiseTotal=nSizeWiseTotal+parseInt(oColorSizeWiseRatios[i].OrderQty8);}
                else if(parseInt(n)==9){nSizeWiseTotal=nSizeWiseTotal+parseInt(oColorSizeWiseRatios[i].OrderQty9);}
                else if(parseInt(n)==10){nSizeWiseTotal=nSizeWiseTotal+parseInt(oColorSizeWiseRatios[i].OrderQty10);}
                else if(parseInt(n)==11){nSizeWiseTotal=nSizeWiseTotal+parseInt(oColorSizeWiseRatios[i].OrderQty11);}
                else if(parseInt(n)==12){nSizeWiseTotal=nSizeWiseTotal+parseInt(oColorSizeWiseRatios[i].OrderQty12);}
                else if(parseInt(n)==13){nSizeWiseTotal=nSizeWiseTotal+parseInt(oColorSizeWiseRatios[i].OrderQty13);}
                else if(parseInt(n)==14){nSizeWiseTotal=nSizeWiseTotal+parseInt(oColorSizeWiseRatios[i].OrderQty14);}
                else if(parseInt(n)==15){nSizeWiseTotal=nSizeWiseTotal+parseInt(oColorSizeWiseRatios[i].OrderQty15);}
                else if(parseInt(n)==16){nSizeWiseTotal=nSizeWiseTotal+parseInt(oColorSizeWiseRatios[i].OrderQty16);}
                else if(parseInt(n)==17){nSizeWiseTotal=nSizeWiseTotal+parseInt(oColorSizeWiseRatios[i].OrderQty17);}
                else if(parseInt(n)==18){nSizeWiseTotal=nSizeWiseTotal+parseInt(oColorSizeWiseRatios[i].OrderQty18);}
                else if(parseInt(n)==19){nSizeWiseTotal=nSizeWiseTotal+parseInt(oColorSizeWiseRatios[i].OrderQty19);}
                else if(n==20){nSizeWiseTotal=nSizeWiseTotal+parseInt(oColorSizeWiseRatios[i].OrderQty20);}
                else if(n==21){nSizeWiseTotal=nSizeWiseTotal+parseInt(oColorSizeWiseRatios[i].ColorWiseTotal);}
            }
        }
        return nSizeWiseTotal;
    }

    function RefreshPODetail()
    {

        var oGUProductionOrderDetails = $('#tblGUProductionOrderDetail').datagrid('getRows');
        data=oGUProductionOrderDetails;
        data={"total":""+data.length+"","rows":data};
        $('#tblGUProductionOrderDetail').datagrid('loadData',data);
        RefreshSummary(_oTechnicalSheetSizes);
    }


    function RefreshDetails(oGUProductionOrderDetails)
    {
        data=oGUProductionOrderDetails;
        data={"total":""+data.length+"","rows":data};
        $('#tblGUProductionOrderDetail').datagrid('loadData',data);
        RefreshSummary(_oTechnicalSheetSizes);
    }



    function Approve()
    {
        debugger;
      
        if (!confirm("Confirm to Approve?")) return ;
        _oGUProductionOrder.Note=document.getElementById("txtNote").value;
        _oGUProductionOrder.ActionTypeExtra="Approve";
        ChangeStatus(_oGUProductionOrder,"Approve");
    }

    function NotApprove()
    {
        debugger;

        if(_oGUProductionOrder.OrderStatus<0 || _oGUProductionOrder.OrderStatus>5)
        {
            alert("Without In this Stage Order Negotiation can't Close !!");
            return;
        }
      
        if (!confirm("Confirm to Close?")) return ;
        _oGUProductionOrder.Note=document.getElementById("txtNote").value;
        _oGUProductionOrder.ActionTypeExtra="NotApprove";
        ChangeStatus(_oGUProductionOrder,"NotApprove");
    }

    function ChangeStatus(oGUProductionOrder,sParamIdentifier)
    {

        var _oGUProductionOrder =SetOrderStatusExtra (oGUProductionOrder);
        $.ajax({
            type: "POST",
            dataType: "json",
            url : _sBaseAddress+"/GUProductionOrder/ChangeStatus",
            traditional: true,
            data:  JSON.stringify(_oGUProductionOrder),
            contentType: "application/json; charset=utf-8",
            success: function (data) {
                debugger;
                var oGUProductionOrder= jQuery.parseJSON(data);
                if (oGUProductionOrder.ErrorMessage=="")
                {
                    if(sParamIdentifier=="Approve")
                    {
                        alert("Production Order approve Successfully!!");
                    }
                    else{
                        alert("Production Order close duccesfully!!");
                    }

                    var oGUProductionOrders = sessionStorage.getItem("GUProductionOrders");
                    var nIndex = parseInt(sessionStorage.getItem("SelectedRowIndex"));
                    if (oGUProductionOrders != null) {
                        oGUProductionOrders = jQuery.parseJSON(oGUProductionOrders);
                    }
                    oGUProductionOrders[nIndex] = oGUProductionOrder;
                    sessionStorage.setItem("GUProductionOrders", JSON.stringify(oGUProductionOrders));
                    window.location.href = sessionStorage.getItem("BackLink");
                }
                else
                {
                    alert(oGUProductionOrder.ErrorMessage);
                }
            },
            error: function (xhr, status, error)
            {
                alert(error);
            }
        });

    }



    function SetOrderStatusExtra (oGUProductionOrder)
    {

        switch (oGUProductionOrder.OrderStatus)
        {
            case 1 : {
                oGUProductionOrder.nOrderStatus =1;
                break;
            }
            case 2:{
                oGUProductionOrder.nOrderStatus =2;
                break;
            }
            case 3 :{
                oGUProductionOrder.nOrderStatus =3;
                break;
            }
            case 4 :{
                oGUProductionOrder.nOrderStatus =4;
                break;
            }
            case 5 :{
                oGUProductionOrder.nOrderStatus =5;
                break;
            }
            case 6:{
                oGUProductionOrder.nOrderStatus =6;
                break;
            }

        }

        return oGUProductionOrder;
    }



    function Cancel()
    {
        window.location.href = sessionStorage.getItem("BackLink");
    }
</script>