@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@model ESimSol.BusinessObjects.ExportPI
<html>
<body>
    @*@{var MenuID = HttpContext.Current.Session[SessionInfo.MenuID];}*@
    <div class="menuMainCollectionTable" style="width:100%;height:100%;" id="divExportPI">
        <div class="easyui-panel" title="@ViewBag.ExportPIOperationType.Value" style="font-family:Tahoma; width:100%;height:88%">
            <fieldset>
                <legend style="text-align:left; font-weight:bold;"> @ViewBag.ExportPIOperationType.Value Informations : </legend>
                <table style="width: 100%;" cellspacing="1" cellpadding="1">
                    <tr>
                        <td style="width:10%; text-align:right">
                            <label>
                                @ViewBag.ExportPIOperationType.Value No:
                            </label>
                        </td>
                        <td style="width:25%; text-align:left">
                            @*@Html.TextBoxFor(model => model.ExportPINo, new { id = "txtExportPI", disabled = "disabled", style = "width: 97%;" })*@
                        </td>
                        <td style="width:15%; text-align:right">
                            <label>
                                Issue Date:
                            </label>
                        </td>
                        <td style="width:10%; text-align:left">
                            <input type="text" style="width:100%;" id="txtExportPIDate" class="easyui-datebox" required="required" data-options="formatter:icsdateformat,parser:icsdateparser" />
                        </td>
                        <td style="width:10%; text-align:right">
                            <label>
                                Prepared By:
                            </label>
                        </td>
                        <td style="width:30%; text-align:left" colspan="3">@Html.TextBoxFor(model => model.PrepareByName, new { id = "txtPreparedBy", disabled = "disabled", style = "width:100%;" })</td>
                    </tr>

                </table>
            </fieldset>

            <div style="width:99.5%;margin-top:0px; height:410px;">
                <table id="tblExportPIDetail" title="Product List" class="easyui-datagrid" style="width:100%; height:95%;" fitcolumns="false" rownumbers="true" singleselect="true" autorowheight="true" toolbar="#toolbar1" data-options="onClickRow: onClickRow"></table>
                <div id="toolbar1">
                    <table border="0" cellpadding="0" cellspacing="0" style="width:100%;">
                        <tr>
                            <td style="width:20%; font-size:11px; text-align:left;"><a id="btnAddExportPISignatoryComment" href="javascript:void(0)" class="easyui-linkbutton" iconcls="icon-add" plain="true">Approved(Product Wise)</a></td>
                            <td style=" width:10%; font-size:11px;">
                                @*<a id="btnRemoveDetail" href="javascript:void(0)" class="easyui-linkbutton" iconcls="icon-remove" plain="true">Remove</a>*@
                            </td>
                            <td style="width:10%; font-size:11px; text-align:left;"><a id="btnRefreshDetail" href="javascript:void(0)" class="easyui-linkbutton" iconcls="icon-reload" plain="true">Refresh</a></td>
                            <td style="width:15%; font-size:11px; text-align:left;"><a id="btnPickDetails" href="javascript:void(0)" class="easyui-linkbutton" iconcls="icon-details" plain="true">Pick</a></td>

                            <td style="width:45%; font-size:11px; text-align:right;"></td>
                        </tr>
                    </table>
                </div>
                <table style="width:100%; font-weight:bold;" border="0" cellpadding="0" cellspacing="0">
                    <tr>
                        <td style="width:70%; font-weight:bold;"><label id="lblComments"> </label></td>
                        <td style="width:5%; font-weight:bold;">Total:</td>
                        <td style="width:25%; text-align:right; font-weight:bold;"><label id="lblCurencySymbol">Tk. </label>  <label id="lblTotalAmount">0.00</label></td>
                    </tr>
                </table>
            </div>
        </div>
        <div style="font-family:Tahoma; width:100%;height:10%">
            <fieldset>
                <legend style="font-weight: bold">Action : </legend>
                <table border="0" cellspacing="2" cellpadding="2" style="width:100%; font-size: 10px; font-weight: bold">
                    <tr>
                        <td style="width:10%">
                            <a id="btnPrint" href="javascript:void(0)" class="easyui-linkbutton" iconcls="icon-print" onclick="PrintPreview()" plain="true">Preview</a>
                        </td>
                        <td style="width:30%">
                            <select style="width:50%;" id="cboExportPISignatorys"></select>
                            <a id="btnBack" href="javascript:void(0)" class="easyui-linkbutton" iconcls="icon-back" plain="true"></a>
                            <a id="btnForword" href="javascript:void(0)" class="easyui-linkbutton" iconcls="icon-forword" plain="true"></a>
                            <a id="btnReload" href="javascript:void(0)" class="easyui-linkbutton" iconcls="icon-reload" plain="true"></a>
                        </td>
                        <td style="width:40%; text-align: right">
                            <input type="text" id="txtNote" style="width:100%" placeholder="Type Comment" />
                        </td>
                        <td style="width:20%;text-align: right">
                            <a id="btnSave_ExportPICommeny" href="javascript:void(0)" class="easyui-linkbutton" iconcls="icon-approved" plain="true">Approved</a>
                            <a id="btnApprove" href="javascript:void(0)" class="easyui-linkbutton" iconcls="icon-approved" onclick="Approve()" plain="true">Approve</a>
                            <a id="btnClose" href="javascript:void(0)" class="easyui-linkbutton" iconcls="icon-cancel" plain="true" onclick="Close()">Close</a>
                        </td>
                    </tr>
                </table>
            </fieldset>
        </div>
    </div>
    <div id="winExportPISignatoryComment" class="easyui-window winstyle" title="Labdip" data-options="modal:true,closed:true,collapsible:false,minimizable:false,maximizable:false,closable:false">
        <fieldset>
            <fieldset>
                <legend>Signatory Info</legend>
                <table border="0" cellpadding="2" cellspacing="2" style="width:100%">
                    <tr>
                        <td style="width:15%; text-align:right">
                            <label>Product:</label>
                        </td>
                        <td style="width:15%; text-align:left">
                            <input id="txtProductName" style="float:left;width:100%;" disabled="disabled" />
                        </td>
                        <td style="width:25%; text-align:right">
                            <label>Current Signatory</label>
                        </td>
                        <td style="width:45%;text-align:left">
                            <input id="txtSignatory" style="width:100%;" disabled="disabled" />
                        </td>

                    </tr>
                </table>
            </fieldset>

            <div style="padding-left:2px; padding-right:2px;">
                <table id="tblExportPISignatoryComment" class="easyui-datagrid" style="height:200px; width:100%;" fitcolumns="true" rownumbers="true" pagination="false" singleselect="true" autorowheight="false">
                    <thead>
                        <tr>
                            @*<th data-options="field:'Selected',checkbox:true"> </th*@
                            <th field="Name" width="13%" align="left">Signatory Name</th>
                            <th field="SupplierName" width="18%" align="left"><label id="lblColorNoNameTwo">Supplier</label></th>
                            <th field="UnitPrice" width="10%" align="center">Unit Price</th>
                            <th field="Comment" width="40%" align="left">Comment</th>
                            <th field="DateSt" width="13%" align="left">Date</th>
                        </tr>
                    </thead>
                </table>

            </div>
            <fieldset>
                <legend>Comment</legend>
                <table style="width:100%">

                    <tr>
                        <td style="width:10%;text-align:right">
                            <label>Supplier :</label>
                        </td>
                        <td style="width:20%;text-align:left">
                            <select style="width: 100%;" id="cboExportPIQuotation"></select>
                        </td>
                        <td style="width:10%;text-align:right">
                            <label>Comment:</label>
                        </td>
                        <td style="width:60%;text-align:left">
                            <input id="txtComment" style="width:99%;" placeholder="Comment" />
                        </td>


                </table>
            </fieldset>
        </fieldset>
        <fieldset>
            <legend>Actions : </legend>
            <table border="0" cellpadding="0" cellspacing="0" style="width:100%;">
                <tr>
                    <td style="width:80%;text-align:left"></td>
                    <td style="width:10%;text-align:right">
                        <a id="btnExportPISignatoryComment" href="javascript:void(0)" class="easyui-linkbutton" iconcls="icon-add" plain="true">Save</a>
                    </td>
                    <td style="width:10%; text-align:right">
                        <a id="btnCloseExportPISC" href="javascript:void(0)" class="easyui-linkbutton" iconcls="icon-cancel" plain="true">Close</a>
                    </td>
                </tr>
            </table>
        </fieldset>
    </div>
</body>
</html>
<script type="text/javascript">
    var _oExportPI=null;
    var _nSLNo=0;
    var _sBaseAddress="";
    var _oSupplierRateProcesss=[];
    var _sOperationType="";
    var _oAuthorizationRolesMapping=[];
    var _nMenuid = 0;
    $(document).ready(function () {
        //debugger;
        _sBaseAddress =@Html.Raw(new System.Web.Script.Serialization.JavaScriptSerializer().Serialize(HttpContext.Current.Session[SessionInfo.BaseAddress]));
        _oExportPI = @Html.Raw(new System.Web.Script.Serialization.JavaScriptSerializer().Serialize(Model));
        _oSupplierRateProcesss = @Html.Raw(new System.Web.Script.Serialization.JavaScriptSerializer().Serialize(Model.SupplierRateProcess));
        _oAuthorizationRolesMapping =@Html.Raw(new System.Web.Script.Serialization.JavaScriptSerializer().Serialize(HttpContext.Current.Session[SessionInfo.AuthorizationRolesMapping]));
        var oExportPISignatorys  =@Html.Raw(new System.Web.Script.Serialization.JavaScriptSerializer().Serialize(@ViewBag.ExportPISignatorys));
        var oExportPISignatory =@Html.Raw(new System.Web.Script.Serialization.JavaScriptSerializer().Serialize(@ViewBag.ExportPISignatory));

        @*_nMenuid = @Html.Raw(new System.Web.Script.Serialization.JavaScriptSerializer().Serialize(MenuID));*@
        $('#divExportPI').data('ExportPISignatorys', oExportPISignatorys);
        $('#divExportPI').data('ExportPISignatory', oExportPISignatory);
        $('#divExportPI').data('ExportPISignatoryComment', null);
        // sessionStorage.setItem('IsClickOnPR',false);
        RefreshControl(_oExportPI);
        RefreshSummary();
        $('#tblExportPIDetail').datagrid({onClickCell: function(index,field,value){ProcessOnclick(index,field,value);}});
        RefreshControlLayout();
        debugger;
        if(oExportPISignatorys.length>0)
        {
            LodExportPISignatorys(oExportPISignatorys);
        }
    });

    function ProcessOnclick(index,field,value)
    {
        debugger;
        if(_sOperationType!="View ExportPI")
        {
            var nPostionth = 0;
            if(field.charAt(0)=="R" || field.charAt(0)=="S")
            {
                if(field.charAt(0)=="R")
                {
                    nPostionth = field.charAt(4);//just get No. of Rate
                    nPostionth = nPostionth+''+field.charAt(5);
                }else if(field.charAt(0)=="S")
                {
                    nPostionth = field.charAt(12);//just get No. of Supplier
                    nPostionth = nPostionth+''+field.charAt(13);
                }
                debugger;
                endEditing();
                $('#tblExportPIDetail').datagrid('selectRow', index);
                var oExportPIDetail = $('#tblExportPIDetail').datagrid('getSelected');
                if(parseFloat(oExportPIDetail.RequiredQty)<=0)return;
                oExportPIDetail= RefreshExportPIDetail(oExportPIDetail);
                oExportPIDetail = UpdateSupplierFieldValue(oExportPIDetail,parseInt(nPostionth));
                oExportPIDetail.Amount = parseFloat(oExportPIDetail.RequiredQty) * parseFloat(oExportPIDetail.UnitPrice);
                oExportPIDetail.ApprovedAmount = parseFloat(oExportPIDetail.PurchaseQty) * parseFloat(oExportPIDetail.UnitPrice);
                $('#tblExportPIDetail').datagrid('updateRow',{index: index,row:oExportPIDetail});
                endEditing();
            }
        }
    }

    function UpdateSupplierFieldValue(oExportPIDetail,nPostionth)
    {
        debugger;
        if( nPostionth ==1 ){oExportPIDetail.SupplierName1 = oExportPIDetail.SupplierName1+'~'+'true'; oExportPIDetail.SupplierID = oExportPIDetail.SupplierID1; oExportPIDetail.PQDetailID = oExportPIDetail.PQDetailID1; oExportPIDetail.UnitPrice= oExportPIDetail.Rate1; oExportPIDetail.Rate1 = oExportPIDetail.Rate1+'~'+'true'; }
        else if( nPostionth ==2 ){oExportPIDetail.SupplierName2 = oExportPIDetail.SupplierName2+'~'+'true';oExportPIDetail.SupplierID = oExportPIDetail.SupplierID2; oExportPIDetail.PQDetailID = oExportPIDetail.PQDetailID2;oExportPIDetail.UnitPrice= oExportPIDetail.Rate2;oExportPIDetail.Rate2 = oExportPIDetail.Rate2+'~'+'true';}
        else if( nPostionth ==3 ){oExportPIDetail.SupplierName3 = oExportPIDetail.SupplierName3+'~'+'true';oExportPIDetail.SupplierID = oExportPIDetail.SupplierID3; oExportPIDetail.PQDetailID = oExportPIDetail.PQDetailID3;oExportPIDetail.UnitPrice= oExportPIDetail.Rate3;oExportPIDetail.Rate3 = oExportPIDetail.Rate3+'~'+'true';}
        else if( nPostionth ==4 ){oExportPIDetail.SupplierName4 = oExportPIDetail.SupplierName4+'~'+'true';oExportPIDetail.SupplierID = oExportPIDetail.SupplierID4; oExportPIDetail.PQDetailID = oExportPIDetail.PQDetailID4;oExportPIDetail.UnitPrice= oExportPIDetail.Rate4;oExportPIDetail.Rate4 = oExportPIDetail.Rate4+'~'+'true';}
        else if( nPostionth ==5 ){oExportPIDetail.SupplierName5 = oExportPIDetail.SupplierName5+'~'+'true';oExportPIDetail.SupplierID = oExportPIDetail.SupplierID5; oExportPIDetail.PQDetailID = oExportPIDetail.PQDetailID5;oExportPIDetail.UnitPrice= oExportPIDetail.Rate5;oExportPIDetail.Rate5 = oExportPIDetail.Rate5+'~'+'true';}
        else if( nPostionth ==6 ){oExportPIDetail.SupplierName6 = oExportPIDetail.SupplierName6+'~'+'true';oExportPIDetail.SupplierID = oExportPIDetail.SupplierID6; oExportPIDetail.PQDetailID = oExportPIDetail.PQDetailID6;oExportPIDetail.UnitPrice= oExportPIDetail.Rate6;oExportPIDetail.Rate6 = oExportPIDetail.Rate6+'~'+'true';}
        else if( nPostionth ==7 ){oExportPIDetail.SupplierName7 = oExportPIDetail.SupplierName7+'~'+'true';oExportPIDetail.SupplierID = oExportPIDetail.SupplierID7; oExportPIDetail.PQDetailID = oExportPIDetail.PQDetailID7;oExportPIDetail.UnitPrice= oExportPIDetail.Rate7;oExportPIDetail.Rate7 = oExportPIDetail.Rate7+'~'+'true';}
        else if( nPostionth ==8 ){oExportPIDetail.SupplierName8 = oExportPIDetail.SupplierName8+'~'+'true';oExportPIDetail.SupplierID = oExportPIDetail.SupplierID8; oExportPIDetail.PQDetailID = oExportPIDetail.PQDetailID8;oExportPIDetail.UnitPrice= oExportPIDetail.Rate8;oExportPIDetail.Rate8 = oExportPIDetail.Rate8+'~'+'true';}
        else if( nPostionth ==9 ){oExportPIDetail.SupplierName9 = oExportPIDetail.SupplierName9+'~'+'true';oExportPIDetail.SupplierID = oExportPIDetail.SupplierID9; oExportPIDetail.PQDetailID = oExportPIDetail.PQDetailID9;oExportPIDetail.UnitPrice= oExportPIDetail.Rate9;oExportPIDetail.Rate9 = oExportPIDetail.Rate9+'~'+'true';}
        else if( nPostionth ==10 ){oExportPIDetail.SupplierName10 = oExportPIDetail.SupplierName10+'~'+'true';oExportPIDetail.SupplierID = oExportPIDetail.SupplierID10; oExportPIDetail.PQDetailID = oExportPIDetail.PQDetailID10;oExportPIDetail.UnitPrice= oExportPIDetail.Rate10;oExportPIDetail.Rate10 = oExportPIDetail.Rate10+'~'+'true'}
        else if( nPostionth ==11 ){oExportPIDetail.SupplierName11 = oExportPIDetail.SupplierName11+'~'+'true';oExportPIDetail.SupplierID = oExportPIDetail.SupplierID11;oExportPIDetail.PQDetailID = oExportPIDetail.PQDetailID11; oExportPIDetail.UnitPrice= oExportPIDetail.Rate11;oExportPIDetail.Rate11 = oExportPIDetail.Rate11+'~'+'true';}
        else if( nPostionth ==12 ){oExportPIDetail.SupplierName12 = oExportPIDetail.SupplierName12+'~'+'true';oExportPIDetail.SupplierID = oExportPIDetail.SupplierID12; oExportPIDetail.PQDetailID = oExportPIDetail.PQDetailID12;oExportPIDetail.UnitPrice= oExportPIDetail.Rate12;oExportPIDetail.Rate12 = oExportPIDetail.Rate12+'~'+'true';}
        else if( nPostionth ==13 ){oExportPIDetail.SupplierName13 = oExportPIDetail.SupplierName13+'~'+'true';oExportPIDetail.SupplierID = oExportPIDetail.SupplierID13; oExportPIDetail.PQDetailID = oExportPIDetail.PQDetailID13;oExportPIDetail.UnitPrice= oExportPIDetail.Rate13;oExportPIDetail.Rate13 = oExportPIDetail.Rate13+'~'+'true';}
        else if( nPostionth ==14 ){oExportPIDetail.SupplierName14 = oExportPIDetail.SupplierName14+'~'+'true';oExportPIDetail.SupplierID = oExportPIDetail.SupplierID14; oExportPIDetail.PQDetailID = oExportPIDetail.PQDetailID14;oExportPIDetail.UnitPrice= oExportPIDetail.Rate14;oExportPIDetail.Rate14 = oExportPIDetail.Rate14+'~'+'true';}
        else if( nPostionth ==15 ){oExportPIDetail.SupplierName15 = oExportPIDetail.SupplierName15+'~'+'true';oExportPIDetail.SupplierID = oExportPIDetail.SupplierID15; oExportPIDetail.PQDetailID = oExportPIDetail.PQDetailID15;oExportPIDetail.UnitPrice= oExportPIDetail.Rate15;oExportPIDetail.Rate15 = oExportPIDetail.Rate15+'~'+'true';}

        return oExportPIDetail;
    }

    function RefreshExportPIDetail(oExportPIDetail)
    {
        debugger;
        oExportPIDetail.SupplierName1 = oExportPIDetail.SupplierName1.split('~')[0];oExportPIDetail.Rate1 = oExportPIDetail.Rate1.split('~')[0];
        oExportPIDetail.SupplierName2 = oExportPIDetail.SupplierName2.split('~')[0];oExportPIDetail.Rate2 = oExportPIDetail.Rate2.split('~')[0];
        oExportPIDetail.SupplierName3 = oExportPIDetail.SupplierName3.split('~')[0];oExportPIDetail.Rate3 = oExportPIDetail.Rate3.split('~')[0];
        oExportPIDetail.SupplierName4 = oExportPIDetail.SupplierName4.split('~')[0];oExportPIDetail.Rate4 = oExportPIDetail.Rate4.split('~')[0];
        oExportPIDetail.SupplierName5 = oExportPIDetail.SupplierName5.split('~')[0];oExportPIDetail.Rate5 = oExportPIDetail.Rate5.split('~')[0];
        oExportPIDetail.SupplierName6 = oExportPIDetail.SupplierName6.split('~')[0];oExportPIDetail.Rate6 = oExportPIDetail.Rate6.split('~')[0];
        oExportPIDetail.SupplierName7 = oExportPIDetail.SupplierName7.split('~')[0];oExportPIDetail.Rate7 = oExportPIDetail.Rate7.split('~')[0];
        oExportPIDetail.SupplierName8 = oExportPIDetail.SupplierName8.split('~')[0];oExportPIDetail.Rate8 = oExportPIDetail.Rate8.split('~')[0];
        oExportPIDetail.SupplierName9 = oExportPIDetail.SupplierName9.split('~')[0];oExportPIDetail.Rate9 = oExportPIDetail.Rate9.split('~')[0];
        oExportPIDetail.SupplierName10 = oExportPIDetail.SupplierName10.split('~')[0];oExportPIDetail.Rate10 = oExportPIDetail.Rate10.split('~')[0];
        oExportPIDetail.SupplierName11 = oExportPIDetail.SupplierName11.split('~')[0];oExportPIDetail.Rate11 = oExportPIDetail.Rate11.split('~')[0];
        oExportPIDetail.SupplierName12 = oExportPIDetail.SupplierName12.split('~')[0];oExportPIDetail.Rate12 = oExportPIDetail.Rate12.split('~')[0];
        oExportPIDetail.SupplierName13 = oExportPIDetail.SupplierName13.split('~')[0];oExportPIDetail.Rate13 = oExportPIDetail.Rate13.split('~')[0];
        oExportPIDetail.SupplierName14= oExportPIDetail.SupplierName14.split('~')[0];oExportPIDetail.Rate14 = oExportPIDetail.Rate14.split('~')[0];
        oExportPIDetail.SupplierName15 = oExportPIDetail.SupplierName15.split('~')[0];oExportPIDetail.Rate15 = oExportPIDetail.Rate15.split('~')[0];
        oExportPIDetail.PurchaseQty = oExportPIDetail.PurchaseQty;
        return oExportPIDetail;
    }

    //Delete Detail
    $("#btnRemoveDetail").click(function () {
        var oExportPIDetail = $('#tblExportPIDetail').datagrid('getSelected');
        if (oExportPIDetail == null) {
            alert("Invalid Selection!!! please select a valid Item!");
            return false;
        }
        if (!confirm("Confirm to Delete?")) return;
        var SelectedRowIndex = $('#tblExportPIDetail').datagrid('getRowIndex', oExportPIDetail);
        if (parseInt(oExportPIDetail.ExportPIDetailID)> 0)
        {
            debugger;
            $.ajax
            ({
                type: "GET",
                dataType: "json",
                url : _sBaseAddress+ "/ExportPI/DeleteDetail",
                data: {nExportPIID:_oExportPI.ExportPIID,nExportPIDetailID:oExportPIDetail.ExportPIDetailID},
                contentType: "application/json; charset=utf-8",
                success: function (data) {
                    debugger;
                    oSupplierRateProcesss = jQuery.parseJSON(data);
                    if (oSupplierRateProcesss[0].ErrorMessage=="" || oSupplierRateProcesss[0].ErrorMessage==null)
                    {
                        alert("Delete sucessfully");
                        //$('#tblExportPIDetail').datagrid('deleteRow',SelectedRowIndex);
                        DynamicRefreshList(oSupplierRateProcesss,'tblExportPIDetail');
                    }
                    else
                    {
                        alert(oSupplierRateProcesss[0].ErrorMessage);
                    }
                },
                error: function (xhr, status, error)
                {
                    alert(error);
                }

            });
        }
    });
    //btnRefreshDetail
    $("#btnRefreshDetail").click(function () {
        var oExportPIDetail = $('#tblExportPIDetail').datagrid('getSelected');
        if(oExportPIDetail== null)
        {
            alert("Please select Detail ");
            return;
        }
        var SelectedRowIndex = $('#tblExportPIDetail').datagrid('getRowIndex', oExportPIDetail);
        oExportPIDetail = RefreshExportPIDetail(oExportPIDetail);
        oExportPIDetail.UnitPrice = 0;
        oExportPIDetail.Amount = 0;
        //oExportPIDetail.ApprovedAmount = parseFloat(oExportPIDetail.PurchaseQty) * parseFloat(oExportPIDetail.UnitPrice);
        $('#tblExportPIDetail').datagrid('updateRow',{index: SelectedRowIndex,row:oExportPIDetail});
        endEditing();
    });

    function RefreshObjectExportPI()
    {
        var oExportPI = {
            ExportPIID : _oExportPI.ExportPIID,
            ExportPINo :_oExportPI.ExportPINo,
            ExportPIDate :$('#txtExportPIDate').datebox('getValue'),
            BUID:_oExportPI.BUID,
            Note:$('#txtNote').val(),
            ExportPIDetailLst:GetDetailList()
        };
        return oExportPI;
    }

    function GetDetailList()
    {
        var oRows = $('#tblExportPIDetail').datagrid('getRows');
        var oTempExportPIDetails = [];
        for(var i = 0;i<oRows.length;i++)
        {
            var oExportPIDetail ={
                ExportPIDetailID:oRows[i].ExportPIDetailID,
                ExportPIID:_oExportPI.ExportPIID,
                ProductID:oRows[i].ProductID,
                MUnitID:oRows[i].MUnitID,
                RequiredQty:oRows[i].RequiredQty,
                PurchaseQty:oRows[i].PurchaseQty,
                ApprovedRate:oRows[i].UnitPrice,
                PQDetailID:oRows[i].PQDetailID,
                Note:oRows[i].Remark
            };
            oTempExportPIDetails.push(oExportPIDetail);
        }
        return oTempExportPIDetails;
    }

    function ValidateInput()
    {
        if(_oExportPI.BUID<=0)
        {
            alert("Please pick Business Unit");
            $('#txtBusinessUnit').focus();
            return false;
        }

        if(($('#tblExportPIDetail').datagrid('getRows')).length<=0)
        {

            alert("Please Add at least one Product");
            return false;
        }
        var oExportPIDetails = $('#tblExportPIDetail').datagrid('getRows');
        for(var i = 0;i<oExportPIDetails.length;i++)
        {
            if(parseFloat(oExportPIDetails[i].RequiredQty)>0)
            {
                if(parseInt(oExportPIDetails[i].SupplierID)<=0)
                {
                    alert("Plese Choose a Suplier for "+oExportPIDetails[i].ProductName);
                    return false;
                }
                if(parseFloat(oExportPIDetails[i].UnitPrice)<=0)
                {
                    alert("Plese enter Unit Price for "+oExportPIDetails[i].ProductName);
                    return false;
                }
            }
        }
        return true;
    }

    function RefreshControl(oExportPI)
    {
        debugger;
        $('#txtExportPIDate').datebox('setValue', oExportPI.ExportPIDateInString);
        $( "#btnPrint" ).hide();
        if (parseInt(oExportPI.ExportPIID) > 0)
        {
            //$('#txtNote').val(oExportPI.Note);
            $( "#btnPrint" ).show();
        }
        if(parseInt(oExportPI.ApproveBy)!=0)
        {
            $('#btnApprove,#btnRefreshDetail').hide();
        }
        MakeDetailTable(_oSupplierRateProcesss);
    }

    function MakeDetailTable(oDetailList)
    {
        var tblColums=[], childcolumns=[];
        var oColumn=null;
        oColumn= { field :"ProductName", title:"Item Name", width:"200", rowspan:2};
        tblColums.push(oColumn);
        var count =0;
        var nMexSupplierCount = GetMaxSupplierCount(oDetailList);
        for(var i=0; i<nMexSupplierCount;i++)
        {
            count++;
            oColumn= {
                field:"col"+count,
                title: 'Supplier #'+count,
                width: "220",
                align: "right",
                rowspan:1,
                colspan:2
            };
            tblColums.push(oColumn);

            oColumn= {
                field:"SupplierName"+count,
                title: 'Supplier',
                width: "158",
                align: "left",
                styler: function(value,row,index){ return cellStyler(value);},
                formatter: function(value,row,index){ return value.split('~')[0];}
            };
            childcolumns.push(oColumn);

            oColumn= {
                field:"Rate"+count,
                title: 'Rate',
                width: "60",
                align: "right",
                styler: function(value,row,index){ return cellStyler(value);},
                formatter: function(value,row,index){ return formatPrice( value.split('~')[0]);}
            };
            childcolumns.push(oColumn);
        }
        oColumn= { field :"UnitName", title:"Unt", width:"60",  align: "left",rowspan:2};
        tblColums.push(oColumn);

        oColumn= { field :"UnitPrice", title:"Unt Price", width:"90",  align: "right",rowspan:2, formatter:formatPrice};
        tblColums.push(oColumn);

        oColumn= { field :"RequiredQty", title:"Required Quantity", width:"100",  align: "right",rowspan:2};
        tblColums.push(oColumn);

        oColumn= { field :"PurchaseQty", title:"Approve Quantity", width:"100",  align: "right",rowspan:2, editor: {type:'numberbox',options:{ precision:0}}};
        tblColums.push(oColumn);

        oColumn= { field :"Amount", title:"Amount", width:"90",  align: "right",rowspan:2, formatter:formatPrice};
        tblColums.push(oColumn);

        oColumn= { field :"ApprovedAmount", title:"ApprovedAmount", width:"90",  align: "right",rowspan:2, formatter:formatPrice};
        tblColums.push(oColumn);

        oColumn= { field :"Remark", title:"Remark", width:"70",  align: "left",rowspan:2,  editor: {type:'text',options:{ precision:0}}};
        tblColums.push(oColumn);

        oColumn= { field :"DeliveryFromStockQty", title:"Avilable Stock", width:"90",  align: "right",rowspan:2};
        tblColums.push(oColumn);

        $('#tblExportPIDetail').datagrid({columns:[tblColums,childcolumns]});

        DynamicRefreshList(oDetailList,'tblExportPIDetail');
        RefreshSummary();
    }

    function GetMaxSupplierCount(oDatList)
    {
        var nMaxSupplierCount= 0;
        if(oDatList.length>0)
        {
            for(var i = 0;i<oDatList.length;i++)
            {
                if(parseInt( oDatList[i].MaxSupplierCount)> parseInt(nMaxSupplierCount))
                {
                    nMaxSupplierCount = oDatList[i].MaxSupplierCount;
                }
            }
        }
        return nMaxSupplierCount;
    }

    function cellStyler(value)
    {
        debugger;
        //var nbIsclickOnPR = JSON.parse(sessionStorage.getItem('IsClickOnPR'));
        //if(nbIsclickOnPR==true)
        //{
        //    sessionStorage.setItem('IsClickOnPR',false);
        //    return;
        //}
        var sPlitedValue = value.split('~')[1];
        if (sPlitedValue!=null && sPlitedValue!="" && sPlitedValue!=undefined)
        {
            if(sPlitedValue=='true' && _oExportPI.ApproveBy!=0)
            {
                return 'background-color:#419641;color:white;';//green
            }
            else if(sPlitedValue=='true' && _oExportPI.ApproveBy==0)
            {
                return 'background-color:#265a88;color:white;';
            }
            else{
                return 'background-color:white;color:blck;';
            }
        }
    }

    var editIndex = undefined;
    function endEditing(){
        if (editIndex == undefined){return true}
        if ($('#tblExportPIDetail').datagrid('validateRow', editIndex)){
            $('#tblExportPIDetail').datagrid('endEdit', editIndex);
            $('#tblExportPIDetail').datagrid('selectRow',editIndex);
            debugger;
            var oExportPIDetail = $('#tblExportPIDetail').datagrid('getSelected');
            if(oExportPIDetail!=null)
            {
                oExportPIDetail.PurchaseQty = oExportPIDetail.PurchaseQty;
                oExportPIDetail.ApprovedAmount = parseFloat(oExportPIDetail.PurchaseQty) * parseFloat(oExportPIDetail.UnitPrice)
                $('#tblExportPIDetail').datagrid('updateRow', { index: editIndex, row: oExportPIDetail });
            }
            RefreshSummary();
            editIndex = undefined;
            return true;
        }
        else
        {
            return false;
        }
    }
    function onClickRow(index){
        if (editIndex != index){
            if (endEditing())
            {
                $('#tblExportPIDetail').datagrid('selectRow', index).datagrid('beginEdit', index);
                editIndex = index;
            }
            else
            {
                $('#tblExportPIDetail').datagrid('selectRow', editIndex);
            }
        }
    }


    function PrintPreview()
    {
        if(_oExportPI==null || _oExportPI.ExportPIID<=0)
        {
            alert("Please Without Save  can't print ExportPI !");
            return;
        }
        window.open(_sBaseAddress + '/ExportPI/PrintExportPIWithFormat?id='+_oExportPI.ExportPIID+'&bWithTechHead=true');
    }
    function Approve()
    {
        //debugger;
        if(!ValidateInput())return;
        _oExportPI = RefreshObjectExportPI();
        if(_oExportPI==null || _oExportPI.ExportPIID<=0)
        {
            alert("without save can't Approve!");
            return false;
        }

        if (!confirm("Confirm to Approve?")) return ;

        $.ajax
        ({
            type: "POST",
            dataType: "json",
            url : _sBaseAddress+ "/ExportPI/Approve",
            traditional: true,
            data: JSON.stringify(_oExportPI),
            contentType: "application/json; charset=utf-8",
            success: function (data) {
                debugger;
                oExportPI = jQuery.parseJSON(data);

                if (oExportPI.ErrorMessage==null || oExportPI.ErrorMessage=="")
                {
                    alert("Sucessfully Approved");
                    var oExportPIs = sessionStorage.getItem("ExportPIs");
                    var nIndex = parseInt(sessionStorage.getItem("SelectedRowIndex"));
                    if (oExportPIs != null)
                    {
                        oExportPIs = jQuery.parseJSON(oExportPIs);
                    }
                    else
                    {
                        oExportPIs = [];
                    }
                    if (nIndex != -1) {
                        oExportPIs[nIndex] = oExportPI;
                    }
                    else {
                        sessionStorage.setItem("SelectedRowIndex", oExportPIs.length);
                        oExportPIs.push(oExportPI);
                    }
                    sessionStorage.setItem("ExportPIs", JSON.stringify(oExportPIs));
                    window.location.href = sessionStorage.getItem("BackLink");
                }
                else
                {
                    alert(oExportPI.ErrorMessage);
                }
            },
            error: function (xhr, status, error)
            {
                alert(error);
            }

        });
    }

    function RefreshSummary()
    {
        var oExportPIDetail = $('#tblExportPIDetail').datagrid('getRows');
        var nTotalAmount = 0;
        for(var i = 0; i<oExportPIDetail.length;i++)
        {
            nTotalAmount+=parseFloat(oExportPIDetail[i].ApprovedAmount);

        }
        document.getElementById('lblCurencySymbol').innerHTML ='';
        document.getElementById('lblTotalAmount').innerHTML = formatPrice(nTotalAmount,0);

    }

    function formatProductWithRequiredQty(value)
    {
        var values=value.split("~");
        var RequiredQty=values[0];
        var nProductID=values[1];
        var s = '<a  href="javascript:void(0)"  onclick = "PickRequisitionDetail('+nProductID+')"">'+RequiredQty+'</a>';
        return s;
    }


    $('#btnPickDetails').click(function(e){
        var oExportPIDetail = $('#tblExportPIDetail').datagrid('getSelected');
        if (oExportPIDetail == null) {
            alert("Invalid Selection!!! please select a valid Item!");
            return false;
        }
        //  debugger;
        if(parseInt(oExportPIDetail.ProductID)<=0)
        {
            alert("Sorry, there is no Product.");
            return;
        }
        // sessionStorage.setItem('IsClickOnPR',true);
        var oExportPI = {
            Note: _oExportPI.ExportPIID + '~' +oExportPIDetail.ProductID
        };
        var obj = {
            BaseAddress: _sBaseAddress,
            Object: oExportPI,
            ControllerName: "PurchaseRequisition",
            ActionName: "GetRequistionDetails",
            IsWinClose: false
        };
        $.icsDataGets(obj, function (response) {

            if (response.status && response.objs.length > 0) {
                if (response.objs[0].PRDetailID > 0) {
                    var tblColums = [];var oColumn = { field: "PRNo", title: "Req No", width: 80, align: "left" }; tblColums.push(oColumn);
                    oColumn = { field: "ProductName", title: "Product", width: 150, align: "left" }; tblColums.push(oColumn);
                    oColumn = { field: "RequirementDateInString", title: "Required Date", width: 90, align: "left" }; tblColums.push(oColumn);
                    oColumn = { field: "PrepareByName", title: "Requsition By", width: 100, align: "left" }; tblColums.push(oColumn);
                    oColumn = { field: "UnitSymbol", title: "Unit", width: 50, align: "left" }; tblColums.push(oColumn);
                    oColumn = { field: "Qty", title: "Quantity", width: 100, align: "right" }; tblColums.push(oColumn);
                    var oPickerParam = {
                        winid: 'winPRD',
                        winclass: 'clsPRD',
                        winwidth: 650,
                        winheight: 460,
                        tableid: 'tblPRDs',
                        tablecolumns: tblColums,
                        datalist: response.objs,
                        multiplereturn: false,
                        searchingbyfieldName: 'ProductName',
                        windowTittle: 'Requisition List'
                    };
                    $.icsPicker(oPickerParam);
                    $("#winPRD").find("#btnOk").hide();
                }
                else { alert(response.objs[0].ErrorMessage); }
            }else{
                alert("No Item in List");
            }
        });
    });


    function Close()
    {
        window.location.href = sessionStorage.getItem("BackLink");
    }

    $(document).keydown(function(e) {
        if(e.which == 27)//escape=27
        {
            window.location.href = _sCOGSBackTo;
        }
    });

    ////Signatory
    $("#btnAddExportPISignatoryComment").click(function () {
        $("#winExportPISignatoryComment").icsWindow("open", "Add Labdip");
        var oExportPIDetail = $('#tblExportPIDetail').datagrid('getSelected');
        if (oExportPIDetail == null) {
            alert("Invalid Selection!!! please select a valid Item!");
            return false;
        }
        debugger;
        if(parseInt(oExportPIDetail.ProductID)<=0)
        {
            alert("Sorry, there is no Product.");
            return;
        }
        if(parseInt(oExportPIDetail.ExportPIDetailID)<=0)
        {
            alert("Sorry, there is no Product.");
            return;
        }

        DynamicRefreshList([], 'tblExportPISignatoryComment');
        GetsExportPISignatoryComment(oExportPIDetail);

    });

    function GetsExportPISignatoryComment(oExportPIDetail)
    {
        var nExportPISignatoryID=0;
        if($('#divExportPI').data('ExportPISignatory')!=null)
        {
            nExportPISignatoryID=$('#divExportPI').data('ExportPISignatory').ExportPISignatoryID;
            $('#txtSignatory').val("["+$('#divExportPI').data('ExportPISignatory').SLNo+"] ["+$('#divExportPI').data('ExportPISignatory').HeadName+"] "+$('#divExportPI').data('ExportPISignatory').Name_Request);
        }
        else  { $('#txtSignatory').val("")}

        var oExportPISignatoryComment = { ExportPIDetailID: oExportPIDetail.ExportPIDetailID,ExportPISignatoryID: nExportPISignatoryID  }
        var obj =
        {
            BaseAddress: _sBaseAddress,
            Object: oExportPISignatoryComment,
            ControllerName: "ExportPISignatory",
            ActionName: "GetByExportPIDetail",
            IsWinClose: false
        };
        debugger;

        $.icsDataGet(obj, function (response) {

            if (response.status && response.obj != null)
            {
                var oExportPISignatoryComments=response.obj.ExportPISignatoryComments;
                var oExportPIQuotations =response.obj.ExportPIQuotations;
                $('#txtProductName').val(response.obj.ProductName);
                $('#txtComment').val(response.obj.Comment);
                $('#divExportPI').data('ExportPISignatoryComment', response.obj);
                $("#cboExportPIQuotation").icsLoadCombo({
                    List: oExportPIQuotations,
                    OptionValue: "PQDetailID",
                    DisplayText: "SupplierName"
                });
                $('#cboExportPIQuotation').val(response.obj.PQDetailID);
                if(oExportPISignatoryComments.length > 0)
                {
                    debugger;
                    DynamicRefreshList(oExportPISignatoryComments, 'tblExportPISignatoryComment');

                }
            }

        });

    }
    $("#btnCloseExportPISC").click(function () {
        $("#winExportPISignatoryComment").icsWindow('close');
        $(".wininputfieldstyle input").val("");
        //$("#chkIsOwnFabric").prop("checked", false);
    });
    $("#btnExportPISignatoryComment").click(function () {
        //if (!Validation()) return false;
        //if (!ValidateInputLabdip()) return false;
        endEditing();
        var oExportPIDetail = $('#tblExportPIDetail').datagrid('getSelected');
        if (oExportPIDetail == null) {
            alert("Invalid Selection!!! please select a valid Item!");
            return false;
        }
        //  debugger;
        if(parseInt(oExportPIDetail.ProductID)<=0)
        {
            alert("Sorry, there is no Product.");
            return;
        }
        if(parseInt(oExportPIDetail.ExportPIDetailID)<=0)
        {
            alert("Sorry, there is no Product.");
            return;
        }
        var nExportPISignatoryID=0;
        if($('#divExportPI').data('ExportPISignatory')!=null)
        {
            nExportPISignatoryID=$('#divExportPI').data('ExportPISignatory').ExportPISignatoryID;
        }
        var nExportPISignatoryCommentID=0;
        if($('#divExportPI').data('ExportPISignatoryComment')!=null)
        {
            nExportPISignatoryCommentID=$('#divExportPI').data('ExportPISignatoryComment').ExportPISignatoryCommentID;
        }

        var oExportPISignatoryComment = {
            ExportPISignatoryCommentID:nExportPISignatoryCommentID,
            ExportPIDetailID:oExportPIDetail.ExportPIDetailID,
            PurchaseQty:oExportPIDetail.PurchaseQty,
            PQDetailID: $('#cboExportPIQuotation').val(),
            Comment: $.trim($('#txtComment').val()),
            Note: $.trim($('#txtNote').val()),
            IsAllSave:false,
            ExportPISignatoryID:nExportPISignatoryID
        }



        var obj = {
            BaseAddress: _sBaseAddress,
            Object: oExportPISignatoryComment,
            ObjectId: oExportPISignatoryComment.ExportPISignatoryCommentID,
            ControllerName: "ExportPISignatory",
            ActionName: "SaveExportPISIGComment",
            TableId: ((oExportPISignatoryComment != null) ? "tblExportPISignatoryComment" : ""),
            IsWinClose: true,
            Message: (oExportPISignatoryComment.ExportPISignatoryCommentID> 0) ? "(Update)Approved Successfully." : "Approved Successfully."
        };
        $.icsSave(obj, function (response) {
            if (response.status && response.obj != null) {

                debugger;
                if (response.obj.ExportPISignatoryCommentID > 0) {
                    $('#divExportPI').data('ExportPISignatoryComment', response.obj);
                    $("#winExportPISignatoryComment").icsWindow('close');

                }
            }
        });
    });

    $('#btnSave_ExportPICommeny').click(function(e){
        debugger;
        if(parseInt(_oExportPI.ExportPIID)<=0)
        {
            alert("Data not found");
            return;
        }
        if(!ValidateInput())return;
        var oRows = $('#tblExportPIDetail').datagrid('getRows');
        if(oRows.length<=0)
        {
            alert("Data not found");
            return;
        }
        endEditing();

        var nExportPISignatoryID=0;
        if($('#divExportPI').data('ExportPISignatory')!=null)
        {
            nExportPISignatoryID=$('#divExportPI').data('ExportPISignatory').ExportPISignatoryID;
        }
        if(nExportPISignatoryID<=0 || nExportPISignatoryID==null)
        {
            alert("ou are not authorized. (Requested user and Signatory user not samee).Contract your admin");
            return;
        }

        var oExportPISignatoryComments = [];
        for(var i = 0;i<oRows.length;i++)
        {
            var oExportPISignatoryComment ={
                ExportPISignatoryCommentID:0,
                ExportPIDetailID:oRows[i].ExportPIDetailID,
                PQDetailID:oRows[i].PQDetailID,
                ProductID:oRows[i].ProductID,
                MUnitID:oRows[i].MUnitID,
                PurchaseQty:oRows[i].PurchaseQty,
                ExportPISignatoryID:nExportPISignatoryID,
                Comment:oRows[i].Remark,
                IsAllSave:true,
                Note: $.trim($('#txtNote').val())
            };
            oExportPISignatoryComments.push(oExportPISignatoryComment);
        }


        $.ajax({
            type: "POST",
            dataType: "json",
            url : _sBaseAddress+"/ExportPISignatory/SaveExportPISIGCommentAll",
            traditional: true,
            data:  JSON.stringify(oExportPISignatoryComments),
            contentType: "application/json; charset=utf-8",
            success: function (data) {
                oExportPISignatoryComments =jQuery.parseJSON(data);

                if (oExportPISignatoryComments[0].ErrorMessage == '' || oExportPISignatoryComments[0].ErrorMessage == null)
                {

                    alert("Approved Successfully");

                }
                else
                {
                    alert(oExportPISignatoryComments[0].ErrorMessage);
                }
            },
            error: function (xhr, status, error)
            {
                alert(xhr+'~' +status+'~'+error);
            }
        });
    });
    function LodExportPISignatorys(oExportPISignatorys)
    {
        var  nExportPISignatoryID=0;
        if($('#divExportPI').data('ExportPISignatory')!=null)
        {
            var  nExportPISignatoryID=$('#divExportPI').data('ExportPISignatory').ExportPISignatoryID;
            _nSLNo=$('#divExportPI').data('ExportPISignatory').SLNo;
            //$('#txtNote').val($('#divExportPI').data('ExportPISignatory').Note);
            document.getElementById('lblComments').innerHTML = $('#divExportPI').data('ExportPISignatory').RequestTo+": "+$('#divExportPI').data('ExportPISignatory').Note;
        }
        $("#cboExportPISignatorys").icsLoadCombo({
            List: oExportPISignatorys,
            OptionValue: "ExportPISignatoryID",
            DisplayText: "Name_Request"
        });
        if(nExportPISignatoryID!=null)  {$('#cboExportPISignatorys').val(nExportPISignatoryID);}
    }
    $('#btnBack').click(function(e){
        debugger;

        var  oExportPISignatorys=$('#divExportPI').data('ExportPISignatorys');
        _nSLNo--;
        if(_nSLNo<=0)
        {
            _nSLNo=1;
        }
        for(var i =0;i<oExportPISignatorys.length;i++)
        {
            if(oExportPISignatorys[i].SLNo ==_nSLNo )
            {
                $("#cboExportPISignatorys").val(oExportPISignatorys[i].ExportPISignatoryID);
                //$('#txtNote').val(oExportPISignatorys[i].Note);
                document.getElementById('lblComments').innerHTML =oExportPISignatorys[i].Name_Request+":"+oExportPISignatorys[i].Note;
                break;
            }
        }
        RefreshRate();
    });
    $('#btnForword').click(function(e){
        debugger;

        //if( $("#cboExportPISignatorys").val()==null)
        //{
        //    var  nSLNo=$('#divExportPI').data('ExportPISignatory').SLNo;
        //}
        var  oExportPISignatorys=$('#divExportPI').data('ExportPISignatorys');
        _nSLNo++;
        if(oExportPISignatorys.length<_nSLNo)
        {
            _nSLNo--;
        }
        for(var i =0;i<oExportPISignatorys.length;i++)
        {
            if(oExportPISignatorys[i].SLNo ==_nSLNo )
            {
                $("#cboExportPISignatorys").val(oExportPISignatorys[i].ExportPISignatoryID);
                //$('#txtNote').val(oExportPISignatorys[i].Note);
                document.getElementById('lblComments').innerHTML =oExportPISignatorys[i].Name_Request+":"+oExportPISignatorys[i].Note;
                break;
            }
        }
        RefreshRate();
    });
    $('#btnReload').click(function(e){
        debugger;
        if(parseInt($("#cboExportPISignatorys").val())<=0)
        {
            $('#cboExportPISignatorys').focus();
            $('#cboExportPISignatorys').addClass("errorFieldBorder");
            alert('Select Signatory.');
            return ;
        }

        RefreshRate();
    });
    function RefreshRate()
    {
        debugger;
        var oSupplierRateProcesss=[];
        var oExportPISignatory = {
            ExportPISignatoryID:parseInt($("#cboExportPISignatorys").val()),
            ExportPIID:_oExportPI.ExportPIID
        };
        var obj = {
            BaseAddress: _sBaseAddress,
            Object: oExportPISignatory,
            ControllerName: "ExportPI",
            ActionName: "GetsRateBySignatory",
            IsWinClose: false
        };

        $.icsDataGets(obj, function (response) {

            if (response.status && response.objs.length > 0)
            {
                oSupplierRateProcesss=response.objs;
                if(oSupplierRateProcesss.length>0){
                    MakeDetailTable(oSupplierRateProcesss);}
            }
        });
    }

    function RefreshControlLayout()
    {
        $('#btnSave_ExportPICommeny,#btnApprove,#btnAddExportPISignatoryComment').hide();
        if(HavePermission('Signatory_Approve','ExportPI')){ $('#btnSave_ExportPICommeny,#btnAddExportPISignatoryComment').show();}
        if(HavePermission('Approved','ExportPI')){ $('#btnApprove').show();}

    }

    function HavePermission(sOperationType, sDbObject)
    {
        var nSessionID =@Html.Raw(new System.Web.Script.Serialization.JavaScriptSerializer().Serialize(HttpContext.Current.Session[SessionInfo.currentUserID]));
        if(nSessionID == -9)
        {
            return true;
        }
        else
        {
            for(var i =0;i<_oAuthorizationRolesMapping.length;i++)
            {
                if(_oAuthorizationRolesMapping[i].OperationTypeST == sOperationType && _oAuthorizationRolesMapping[i].ModuleNameST == sDbObject)
                    return  true;
            }
            return false;
        }
    }
</script>



