
@{
    ViewBag.Title = "Development Recap List";
}
@model IEnumerable<ESimSol.BusinessObjects.DevelopmentRecap>
<head>
</head>
    <body>
        <div id="winApprovalRequest" class="easyui-window" title="Request For Approval" data-options="modal:true,closed:true,collapsible:false,minimizable:false,maximizable:false,closable:false">
            <div style="font-family:Tahoma">
                <fieldset style="margin-top:3px">
                    <table border="0" style="font-size:12px">
                        <tr>
                            <td style="width:150px; text-align:right">Request To:</td>
                            <td style="width:250px; text-align:left"><select id="cboApprovalRequestTo" style="width:225px;font-size:12px;" /></td>
                        </tr>
                        <tr>
                            <td style="width:150px; text-align:right">Note :</td>
                            <td style="width:250px; text-align:left">
                                <input type="text" id="txtApprovalRequestNote" style="width:220px" />
                            </td>
                        </tr>
                    </table>
                </fieldset>

                <fieldset style="margin-bottom:3px">
                    <legend style="font-weight:bold"> Action : </legend>
                    <table border="0" cellspacing="2" cellpadding="2" style="font-size:11px; width:400px">
                        <tr>
                            <td style="width:300px; text-align:right"></td>
                            <td style="width:50px">
                                <a id="btnApprovalRequestConfirm" href="javascript:void(0)" class="easyui-linkbutton" iconcls="icon-save" plain="true">Confirm</a>
                            </td>
                            <td style="width:50px">
                                <a id="btnApprovalRequestClose" href="javascript:void(0)" class="easyui-linkbutton" iconcls="icon-cancel" plain="true">Close</a>
                            </td>
                        </tr>
                    </table>
                </fieldset>
            </div>
        </div>
        <div id="winCommonPicker" class="easyui-window" title="Common Picker" data-options="modal:true,closed:true,collapsible:false,minimizable:false,maximizable:false,closable:false">
            <fieldset>
                <legend style="font-weight: bold">Info: </legend>
                <table border="0" cellspacing="2" cellpadding="2" style="font-size: 11px;font-weight: bold;">
                    <tr>
                        <td style="width: 100px; text-align: right">
                            Merchandiser:
                        </td>
                        <td>
                            <input id="txtMerChandiserName" type="text" style="width:220px;" placeholder="Type and Press Enter" />
                            <input type="button" style="width: 40px; float: right; margin-right: 75px;" id="btnMerchandiser" value="Pick" />
                            <input id="txtMerchandiserID" type="hidden" />
                        </td>
                    </tr>
                    <tr>
                        <td style="width: 100px; text-align: right">
                            Comments:
                        </td>
                        <td>
                            <input id="txtComments" type="text" style="height: 60px; width: 300px;" />
                        </td>
                    </tr>
                </table>
            </fieldset>
            <fieldset>
                <legend style="font-weight: bold">Action : </legend>
                <table border="0" cellspacing="2" cellpadding="2" style="font-size: 11px;  font-weight:bold">
                    <tr>
                        <td style="width: 320px; text-align: right"></td>
                        <td style="width: 50px">
                            <a href="javascript:void(0)" class="easyui-linkbutton" iconcls="icon-ok" plain="true" onclick="CommonPickerOK()">OK</a>
                        </td>
                        <td style="width: 50px">
                            <a href="javascript:void(0)" class="easyui-linkbutton" iconcls="icon-cancel" plain="true" onclick="CommonClose()">Close</a>
                        </td>
                    </tr>
                </table>
            </fieldset>
        </div>
        <div id="winFeedBackPicker" class="easyui-window" title="Feed Back Picker" data-options="modal:true,closed:true,collapsible:false,minimizable:false,maximizable:false,closable:false">
            <div style="text-align: left">
                Comments :<input type="text" style="width: 210px" id="txtCommentsFB" />
                Merchandiser :<input id="txtMerChandiserNameFB" type="text" style="width: 100px;" placeholder="Type Merchandiser Name and Press Enter" />
                <input type="button" id="btnMerchandiserFB" value="Pick" style="width: 40px;" />
                <input id="txtDate" type="text" style="width: 100px;" class="easyui-datebox" required="required"data-options="formatter:icsdateformat,parser:icsdateparser" />
            </div>
            <fieldset>
                <legend style="font-weight: bold">Action : </legend>
                <table border="0" cellspacing="2" cellpadding="2" style="font-size: 11px; font-weight: bold">
                    <tr>
                        <td style="width: 575px; text-align: right">
                            <input id="txtMerchandiserIDFB" type="hidden" />
                        </td>
                        <td style="width: 50px">
                            <a href="javascript:void(0)" class="easyui-linkbutton" iconcls="icon-ok" plain="true" onclick="FeedBackPickerOK()">OK</a>
                        </td>
                        <td style="width: 50px">
                            <a href="javascript:void(0)" class="easyui-linkbutton" iconcls="icon-cancel" plain="true" onclick="FeedBackPikerClose()">Close</a>
                        </td>
                    </tr>
                </table>
            </fieldset>
         </div>
        <div id="winDevelopmentRecapAdvanceSearch" class="easyui-window winClass" title="Advance Search" data-options="modal:true,closed:true,collapsible:false,minimizable:false,maximizable:false,closable:false">
                <div style="width:730px; float: left;">
                    <table border="0" cellpadding="0" cellspacing="0" style="font-size: 12px">
                        <tr style="height: 270px">
                            <td style="width: 500px">
                                <table border="0" cellpadding="0" cellspacing="0" style="font-size: 12px">
                                    <tr style="height: 260px">
                                        <td style="width: 400px; vertical-align: top; height: 515px">
                                            <fieldset>
                                                <legend style="font-weight: bold; font-size: 12px">Searching Criteria : </legend>
                                                <table border="0" cellpadding="0" cellspacing="0" style="width: 340px; font-size: 12px">
                                                    <tr>
                                                        <td style="width: 130px; text-align: left; font-weight: bold">
                                                            Recap No:
                                                        </td>
                                                    </tr>
                                                    <tr>
                                                        <td style="width: 325px; text-align: left">
                                                            @Html.TextBox("txtRecapNo", "", new { style = "width: 325px", id = "txtRecapNo" })
                                                        </td>
                                                    </tr>
                                                    <tr>
                                                        <td style="width: 130px; text-align: left; font-weight: bold">
                                                            Style No:
                                                        </td>
                                                    </tr>
                                                    <tr>
                                                        <td style="width: 325px; text-align: left">
                                                            @Html.TextBox("txtStyleNo", "", new { style = "width: 325px", id = "txtStyleNo" })
                                                        </td>
                                                    </tr>
                                                    <tr>
                                                        <td style="width: 130px; text-align: left; font-weight: bold">
                                                            Buyer :
                                                        </td>
                                                    </tr>
                                                    <tr>
                                                        <td style="width: 325px; text-align: left">
                                                            @Html.TextBox("txtBuyer", "", new { style = "width: 255px", id = "txtBuyer", placeholder = "Type Buyer & Press Enter" })<input type="button" style="width: 70px; font-size: 12px" id="btnBuyerPicker" value="Pick" />
                                                        </td>
                                                    </tr>
                                                    <tr>
                                                        <td style="width: 130px; text-align: left; font-weight: bold">
                                                            Brand :
                                                        </td>
                                                    </tr>
                                                    <tr>
                                                        <td style="width: 325px; text-align: left">
                                                            <select id="cboBrand" style="width:325px;"></select>
                                                        </td>
                                                    </tr>

                                                    <tr>
                                                        <td style="width: 130px; text-align: left; font-weight: bold">
                                                            Product Catagory :
                                                        </td>
                                                    </tr>
                                                    <tr>
                                                        <td style="width: 325px; text-align: left">
                                                            @Html.TextBox("txtProductCategoryName", "", new { style = "width: 232px", id = "txtProductCategoryName", disabled = "disabled" })<input type="button" style="width: 23px; font-size: 12px" onclick="ClenProductCatagory()" value="C" /><input type="button" id="btnPickProductCategory" style="width: 70px; font-size: 12px" value="Pick" />
                                                        </td>
                                                    </tr>
                                                    <tr>
                                                        <td style="width: 130px; text-align: left; font-weight: bold">
                                                            Session:
                                                        </td>
                                                    </tr>
                                                    <tr>
                                                        <td style="width: 325px; text-align: left">
                                                            <select id="cboSession" style=" width:320px;"></select>
                                                        </td>
                                                    </tr>
                                                    <tr>
                                                        <td style="width: 130px; text-align: left; font-weight: bold">
                                                            Inquery Receive Date:
                                                        </td>
                                                    </tr>
                                                    <tr>
                                                        <td style="width: 325px; text-align: left; font-size: 12px">
                                                            <table border="0" style="font-size: 12px">
                                                                <tr>
                                                                    <td style="width: 100px; font-size: 12px; text-align: left">
                                                                        @Html.DropDownList("cboInqueryRcvDate", new SelectList(Enum.GetValues(typeof(ESimSol.BusinessObjects.EnumCompareOperator))), new { id = "cboInqueryRcvDate", style = "width: 100px;font-size:12px;text-align:left", @class = "_select_changeA" })
                                                                    </td>
                                                                    <td style="width: 98px; font-size: 12px">
                                                                        <input id="txtInqueryRcvStartDate" type="text" class="easyui-datebox" required="required" data-options="formatter:icsdateformat,parser:icsdateparser" style="width: 98px;" />
                                                                    </td>

                                                                    <td style="width: 9px; font-size: 12px" id="enddateT">
                                                                        To
                                                                    </td>
                                                                    <td style="width: 97px; font-size: 12px" id="enddate">
                                                                        <input id="txtInqueryRcvEndDate" type="text" class="easyui-datebox" required="required" data-options="formatter:icsdateformat,parser:icsdateparser" style="width: 98px;" />
                                                                    </td>

                                                                </tr>
                                                            </table>
                                                        </td>
                                                    </tr>
                                                    <tr>
                                                        <td style="width: 130px; text-align: left; font-weight: bold">
                                                            Sample Receive Date:
                                                        </td>
                                                    </tr>
                                                    <tr>
                                                        <td style="width: 325px; text-align: left; font-size: 12px">
                                                            <table border="0" style="font-size: 12px">
                                                                <tr>
                                                                    <td style="width: 100px; font-size: 12px; text-align: left">
                                                                        @Html.DropDownList("cboSampleRcvDate", new SelectList(Enum.GetValues(typeof(ESimSol.BusinessObjects.EnumCompareOperator))), new { id = "cboSampleRcvDate", style = "width: 100px;font-size:12px;text-align:left", @class = "_select_changeB" })
                                                                    </td>
                                                                    <td style="width: 98px; font-size: 12px">
                                                                        <input id="txtSampleRcvStartDate" type="text" class="easyui-datebox" required="required" data-options="formatter:icsdateformat,parser:icsdateparser" style="width: 98px;" />
                                                                    </td>

                                                                    <td style="width: 9px; font-size: 12px" id="SampleT">
                                                                        To
                                                                    </td>
                                                                    <td style="width: 97px; font-size: 12px" id="Sampleenddate">
                                                                        <input id="txtSampleRcvEndDate" type="text" class="easyui-datebox" required="required" data-options="formatter:icsdateformat,parser:icsdateparser" style="width: 97px;" />
                                                                    </td>

                                                                </tr>
                                                            </table>
                                                        </td>
                                                    </tr>
                                                    <tr>
                                                        <td style="width: 130px; text-align: left; font-weight: bold">
                                                            Sanding Date:
                                                        </td>
                                                    </tr>
                                                    <tr>
                                                        <td style="width: 325px; text-align: left; font-size: 12px">
                                                            <table border="0" style="font-size: 12px">
                                                                <tr>
                                                                    <td style="width: 100px; font-size: 12px; text-align: left">
                                                                        @Html.DropDownList("cboSandingRcvDate", new SelectList(Enum.GetValues(typeof(ESimSol.BusinessObjects.EnumCompareOperator))), new { id = "cboSandingRcvDate", style = "width: 100px;font-size:12px;text-align:left", @class = "_select_changeC" })
                                                                    </td>
                                                                    <td style="width: 98px; font-size: 12px">
                                                                        <input id="txtSandingStartDate" type="text" class="easyui-datebox" required="required" data-options="formatter:icsdateformat,parser:icsdateparser" style="width: 97px;" />
                                                                    </td>
                                                                    <td style="width: 9px; font-size: 12px" id="SandingT">
                                                                        To
                                                                    </td>
                                                                    <td style="width: 97px; font-size: 12px" id="Sandingenddate">
                                                                        <input id="txtSandingEndDate" type="text" class="easyui-datebox" required="required" data-options="formatter:icsdateformat,parser:icsdateparser" style="width: 97px;" />
                                                                    </td>

                                                                </tr>
                                                            </table>
                                                        </td>
                                                    </tr>

                                                    <tr>
                                                        <td style="width: 130px; text-align: left; font-weight: bold">
                                                            Development Type:
                                                        </td>
                                                    </tr>
                                                    <tr>
                                                        <td style="width: 325px; text-align: left">
                                                            <select style="width:325px" id="cboDevelopmentType"> </select>
                                                        </td>
                                                    </tr>
                                                    <tr>
                                                        <td style="width: 325px; text-align: left; font-size: 12px;">
                                                            <table id="tblStatusLoad" title="" class="easyui-datagrid" style="width: 325px; height: 107px;font-size: 12px" fitcolumns="true" rownumbers="true" pagination="false" singleselect="false" autorowheight="false">
                                                                <thead>
                                                                    <tr>
                                                                        <th data-options="field:'Selected',checkbox:true"></th>
                                                                        <th field="Value" width="200">Development Recap Status</th>
                                                                    </tr>
                                                                </thead>
                                                            </table>
                                                        </td>
                                                    </tr>
                                                    <tr style="height:28px; vertical-align: bottom">
                                                        <td style=" text-align:left; width:325px;">
                                                            <table border="0" cellpadding="0" cellspacing="0">
                                                                <tr>
                                                                    <td style=" text-align:left;"><input type="button" value="Reset" id="btnReset" onclick="Reset()" style="width:70px; text-align:left;" /></td>
                                                                    <td style=" text-align:right; width:255px;"><input type="button" value="Search" id="btnRefresh" style="width:70px; text-align:right;" /></td>
                                                                </tr>
                                                            </table>
                                                        </td>
                                                    </tr>
                                                </table>
                                            </fieldset>
                                        </td>
                                        <td style="width:370px; height:552px; vertical-align:top;">
                                            <div style="margin-left:0px; margin-top:6px; height:552px">
                                                <table id="tblDevelopmentRecap" title="Development Recap List" class="easyui-datagrid" style="width:364px;height:559px; font-size: 12px" fitcolumns="false" rownumbers="true" pagination="false" singleselect="true" autorowheight="false" data-options="resizehandle:'right', resizable:true ">
                                                    <thead>
                                                        <tr>
                                                            <th data-options="field:'Selected',checkbox:true">
                                                            </th>
                                                            <th field="DevelopmentRecapNo" width=" 90">
                                                                Recap No
                                                            </th>
                                                            <th field="StyleNo" width="70">
                                                                Style No
                                                            </th>
                                                            <th field="BuyerName" width="100">
                                                                Buyer
                                                            </th>
                                                            <th field="InquiryReceivedDateInString" width="80">
                                                                Inq. Rcv Date
                                                            </th>
                                                            <th field="SampleReceivedDateInString" width="105">
                                                                Sample Rcv Date
                                                            </th>
                                                            <th field="SampleSendingDateInString" width="80">
                                                                Sending Date
                                                            </th>
                                                        </tr>
                                                    </thead>
                                                </table>
                                            </div>
                                        </td>
                                    </tr>
                                </table>
                            </td>
                        </tr>
                        <tr style="height:20px">
                            <td style="width: 650px; text-align: right">
                                <a href="javascript:void(0)" id="btnOkButtonClick" class="easyui-linkbutton" iconcls="icon-ok" plain="true">Ok</a>
                                <a href="javascript:void(0)" id="btnSearchClose" class="easyui-linkbutton" iconcls="icon-cancel" plain="true">Close</a>
                            </td>
                        </tr>
                    </table>
                </div>
            </div>
        <div id="divMain" class="menuMainCollectionTable">
                <div id="divGrid" style="margin-left: 0px; height:100%; width:100%">
                    <table id="tblDevelopmentRecaps" title="Development Recap List" class="easyui-datagrid" fit="true" fitcolumns="true" rownumbers="true" pagination="false" singleselect="true" autorowheight="false" toolbar="#toolbar" data-options="resizable:true">
                        <thead>
                            <tr>
                                <th field="DevelopmentRecapNo" width="80" align="left">Recap No</th>
                                <th field="StyleNo" width="60" align="left">Style No</th>
                                <th field="BuyerName" width="150" align="left">Buyer Name</th>
                                <th field="BrandName" width="100" align="left">Brand Name</th>
                                <th field="DevelopmentStatusInString" width="100" align="left">Status</th>
                                <th field="DevelopmentTypeInString" width="100" align="left">Development Type</th>
                                <th field="MerchandiserName" width="130" align="left">Merchandiser</th>
                                <th field="IsActiveInString" width="100" align="left">Active/InActive</th>
                                <th field="InquiryReceivedDateInString" width="80" align="center">Inq. Rec. Date</th>
                                <th field="UnitPriceSt" width="80" align="right">Unit Price</th>
                                <th field="SampleQty" width="80" formatter="formatPrice" align="right">SampleQty</th>
                                <th field="SampleReceivedDateInString" width="110" align="center">Sampl Rec. Date</th>
                                <th field="SampleSendingDateInString" width="120" align="center">Sampl Sending Date</th>
                            </tr>
                        </thead>
                    </table>
                    <div id="toolbar">
                        <input type="text" id="txtStyle" placeholder="Type Style No & Press Enter" style="width: 150px;" />
                        <input type="text" id="txtBuyerName" placeholder="Type Buyer & Press Enter" style="width: 150px;" />
                        <a id="btnSearch" href="javascript:void(0)" class="easyui-linkbutton" iconcls="icon-search" plain="true">Search</a>
                        <a id="btnAdd" href="javascript:void(0)" class="easyui-linkbutton" iconcls="icon-add" plain="true" onclick="Add()">Add</a>
                        <a id="btnEdit" href="javascript:void(0)" class="easyui-linkbutton" iconcls="icon-edit" plain="true" onclick="Edit()">Edit</a>
                        <a id="btnView" href="javascript:void(0)" class="easyui-linkbutton" iconcls="icon-details" plain="true" onclick="View()">View</a>
                        <a id="btnDelete" href="javascript:void(0)" class="easyui-linkbutton" iconcls="icon-remove" plain="true" onclick="Delete()">Delete</a>
                        <a id="btnReqForApprove" href="javascript:void(0)" class="easyui-linkbutton" iconcls="icon-redo" plain="true" onclick="RequestforApproval()">Req For Approve</a>
                        <a id="btnUndoReq" href="javascript:void(0)" class="easyui-linkbutton" iconcls="icon-undo" plain="true" onclick="UndoRequest()">Undo Req</a>
                        <a id="btnWaitforApproval" href="javascript:void(0)" class="easyui-linkbutton" iconcls="icon-waitforapproval" plain="true" onclick="WaitForApproval()"> Wait For Approval</a>
                        <a id="btnApproved" href="javascript:void(0)" class="easyui-linkbutton" iconcls="icon-approved" plain="true" onclick="Approve()"> Approve</a>
                        <a id="btnUndoApprove" href="javascript:void(0)" class="easyui-linkbutton" iconcls="icon-undo" plain="true" onclick="UndoApprove()">Undo Approve</a>
                        <a id="btnInproduction" href="javascript:void(0)" class="easyui-linkbutton" iconcls="icon-redo" plain="true" onclick="InProduction()"> Send To Production</a>
                        <a id="btnReceiveFromFactory" href="javascript:void(0)" class="easyui-linkbutton" iconcls="icon-undo" plain="true" onclick="ReceiveFromFactory()"> Rcv From Factory</a>
                        <a id="btnSendtoBuyer" href="javascript:void(0)" class="easyui-linkbutton" iconcls="icon-redo" plain="true" onclick="SendtoBuyer()">Send to Buyer</a>
                        <a id="btnRowMetarialCollection" href="javascript:void(0)" class="easyui-linkbutton" iconcls="icon-undo" plain="true" onclick="RawMaterialCollection()">R.M. Collection</a>
                        <a id="bntQCDone" href="javascript:void(0)" class="easyui-linkbutton" iconcls="icon-approved" plain="true" onclick="QCDone()">QC Done</a>
                        <a id="btnFeedbackfrombuyer" href="javascript:void(0)" class="easyui-linkbutton" iconcls="icon-undo" plain="true" onclick="Feedbackfrombuyer ()">Feedback From Buyer </a>
                        <a id="btnCancle" href="javascript:void(0)" class="easyui-linkbutton" iconcls="icon-cancel" plain="true" onclick="CancelDevelopmentRecap()">Cancel</a>
                        <a id="btnActiveInActive" href="javascript:void(0)" class="easyui-linkbutton" iconcls="icon-ok" plain="true">Active/InActive</a>
                        <a id="btnPrintPreview" href="javascript:void(0)" class="easyui-linkbutton" iconcls="icon-print" plain="true" onclick="PrintPreview()">Preview</a>
                        <a id="btnPrintList" href="javascript:void(0)" class="easyui-linkbutton" iconcls="icon-print" plain="true" onclick="PrintList()"> Print List</a>
                        <a id="btnPrintSummary" href="javascript:void(0)" class="easyui-linkbutton" iconcls="icon-print" plain="true">Summary</a>
                    </div>
                </div>
            </div>
</body>
<script type="text/javascript">

    var _sBaseAddress="";
    $(document).ready(function () {
        debugger;
        var oTempDevelopmentRecaps =@Html.Raw(new System.Web.Script.Serialization.JavaScriptSerializer().Serialize(Model));
        _sBaseAddress =@Html.Raw(new System.Web.Script.Serialization.JavaScriptSerializer().Serialize(HttpContext.Current.Session[SessionInfo.BaseAddress]));
        var oAuthorizationRolesMapping =@Html.Raw( new System.Web.Script.Serialization.JavaScriptSerializer().Serialize(HttpContext.Current.Session[SessionInfo.AuthorizationRolesMapping]));
        var oBusinessSessions=@Html.Raw(new System.Web.Script.Serialization.JavaScriptSerializer().Serialize(ViewBag.BusinessSessions));
        var oDevelopmentTypes = @Html.Raw(new System.Web.Script.Serialization.JavaScriptSerializer().Serialize(ViewBag.DevelopmentTypes));
        var oDevelopmentRecapStatus = @Html.Raw(new System.Web.Script.Serialization.JavaScriptSerializer().Serialize(ViewBag.DevelopmentRecapStatus));
        var oBrands = @Html.Raw(new System.Web.Script.Serialization.JavaScriptSerializer().Serialize(ViewBag.Brands));
        var nBUID = @Html.Raw(new System.Web.Script.Serialization.JavaScriptSerializer().Serialize(ViewBag.BUID));
        sessionStorage.setItem("BUID",nBUID);
        $('#divMain').data('BusinessSessions',oBusinessSessions);
        $('#divMain').data('Brands',oBrands);
        $('#divMain').data('DevelopmentTypes', oDevelopmentTypes);
        $('#divMain').data('DevelopmentRecapStatus', oDevelopmentRecapStatus);
        $('#divMain').data('BuyerIDs', "");
        $('#divMain').data('ProductCatagoryID', 0);
        var oDevelopmentRecaps =sessionStorage.getItem("DevelopmentRecaps");
        if(oDevelopmentRecaps!=null && sessionStorage.getItem("TSBack")!="Yes")
        {
            oDevelopmentRecaps = jQuery.parseJSON(oDevelopmentRecaps);
        }
        else
        {
            oDevelopmentRecaps=oTempDevelopmentRecaps;
        }
        RefreshList(oDevelopmentRecaps);
        RefreshControlLayout(oAuthorizationRolesMapping);
        var nTechnicalSheetID = sessionStorage.getItem("TSID");
        if(nTechnicalSheetID==null|| parseInt(nTechnicalSheetID)==0)
        {
            $("#btnAdd").hide();
            $("#btnSearch,#txtStyle,#txtBuyerName").show();
        }else{
            $("#btnAdd").show();
            $("#btnSearch,#txtBuyerName,#txtStyle").hide();
            MakeActionDiv();
        }
    });


    function MakeActionDiv()
    {

        $('#divGrid').height('89%');
        var sfieldSet='<fieldset style="width:98%;height:8%; vertical-align:bottom;">';
        sfieldSet+='<legend style="font-weight:bold"> Action : </legend>';
        sfieldSet+='<table border="0" cellspacing="2" cellpadding="2" style="font-size:11px; font-weight:bold;width:100%">';
        sfieldSet+='<tr><td style="text-align:right;" ><a id="btnDevClose" href="javascript:void(0)" onclick="Close()">Close</a></td></tr></table></fieldset>';
        $('#divMain').append(sfieldSet);
        $('#btnDevClose').linkbutton({ iconCls: 'icon-cancel', plain: true });
    }
    function Close()
    {
        var tsv=((new Date()).getTime())/1000;
        window.location.href = _sBaseAddress+ "/TechnicalSheet/ViewTechnicalSheet?id="+sessionStorage.getItem("TSID")+"&ts="+tsv;
    }
    //Style wise Start
    $('#txtStyle').keydown(function (e)
    {
        debugger;
        var code = (e.keyCode ? e.keyCode : e.which);
        if (code == 13)
        {
            var txtStyle = $('#txtStyle').val();
            if(txtStyle!="" && txtStyle!=null)
            {
                $("#txtBuyerName").val('');
                var tsv=((new Date()).getTime())/1000;
                $.ajax
             ({
                 type: "GET",
                 dataType: "json",
                 url : _sBaseAddress+"/DevelopmentRecap/SearchStyleAndBuyer",
                 data: {sTempData:txtStyle,bIsStyle:true,buid:sessionStorage.getItem("BUID"),ts:tsv},
                 contentType: "application/json; charset=utf-8",
                 success: function (data) {
                     //debugger;
                     var oDevelopmentRecaps = jQuery.parseJSON(data);
                     if (oDevelopmentRecaps.length>0)
                     {
                         RefreshList(oDevelopmentRecaps);
                     }
                     else
                     {
                         alert("Data Not found");
                     }
                 },
                 error: function (xhr, status, error)
                 {
                     alert(error);
                 }
             });             //debugger;

            }
        }else if (code == 8) //backspace=8
        {
            var txtStyle=document.getElementById("txtStyle");
            txtStyle.value='';
            txtStyle.style.color="Normal";
            txtStyle.style.fontWeight="Black";

        }

    });
    //style Wise End
    //Buyer wise Start
    $('#txtBuyerName').keypress(function (e)
    {
        var code = (e.keyCode ? e.keyCode : e.which);
        if (code == 13) {
            var txtBuyerName = $('#txtBuyerName').val();
            if(txtBuyerName!="" && txtBuyerName!=null)
            {
                $("#txtStyle").val('');
                //debugger;
                var tsv=((new Date()).getTime())/1000;
                $.ajax
             ({
                 type: "GET",
                 dataType: "json",
                 url : _sBaseAddress+ "/DevelopmentRecap/SearchStyleAndBuyer",
                 data: {sTempData:txtBuyerName,bIsStyle:false,buid:sessionStorage.getItem("BUID"), ts:tsv},
                 contentType: "application/json; charset=utf-8",
                 success: function (data) {
                     //debugger;
                     var oDevelopmentRecaps = jQuery.parseJSON(data);
                     if (oDevelopmentRecaps.length>0)
                     {
                         RefreshList(oDevelopmentRecaps);
                     }
                     else
                     {
                         alert("Data Not found");
                     }
                 },
                 error: function (xhr, status, error)
                 {
                     alert(error);
                 }
             });             //debugger;

            }
        }else if (code == 8) //backspace=8
        {
            var txtBuyerName=document.getElementById("txtBuyerName");
            txtBuyerName.value='';
            txtBuyerName.style.color="Normal";
            txtBuyerName.style.fontWeight="Black";

        }

    });
    $('#btnActiveInActive').click(function (e) {
        debugger;
        //debugger;
        var oDevelopmentRecap= $('#tblDevelopmentRecaps').datagrid('getSelected');
        if(oDevelopmentRecap==null || oDevelopmentRecap.DevelopmentRecapID<=0)
        {
            alert("Please select a item from list!");
            return;
        }
        if(oDevelopmentRecap.IsActive==true)
        {
            if (!confirm("Confirm to In-Active?")) return ;
            oDevelopmentRecap.IsActive=false;
        }
        else
        {
            if (!confirm("Confirm to Active?")) return ;
            oDevelopmentRecap.IsActive=true;
        }
        var SelectedRowIndex=$('#tblDevelopmentRecaps').datagrid('getRowIndex',oDevelopmentRecap);
        $.ajax ({
            type: "POST",
            dataType: "json",
            url : _sBaseAddress+"/DevelopmentRecap/ActiveInActive",
            data:  JSON.stringify(oDevelopmentRecap),
            contentType: "application/json; charset=utf-8",
            success: function (data) {
                //debugger;
                oDevelopmentRecap = jQuery.parseJSON(data);
                if (oDevelopmentRecap.ErrorMessage==null || oDevelopmentRecap.ErrorMessage=="") {
                    if(oDevelopmentRecap.IsActive)
                    {
                        alert("Successfully Active");
                    }else{
                        alert("Successfully In Active");
                    }
                    $('#tblDevelopmentRecaps').datagrid('updateRow',{index: SelectedRowIndex,	row: oDevelopmentRecap});
                }
                else {
                    alert(oDevelopmentRecap.ErrorMessage);
                }
            },
            error: function (xhr, status, error)
            {
                alert(error);
            }
        });
    });

    function Add()
    {
        var tsv=((new Date()).getTime())/1000;
        var oDevelopmentRecaps= $('#tblDevelopmentRecaps').datagrid('getRows');
        sessionStorage.setItem("DevelopmentRecaps", JSON.stringify(oDevelopmentRecaps));
        sessionStorage.setItem("SelectedRowIndex", -1);
        sessionStorage.setItem("DevHeader", "Add DevelopmentRecap");
        sessionStorage.setItem("BackLink",window.location.href);
        window.location.href = _sBaseAddress+ "/DevelopmentRecap/ViewDevelopmentRecap?id=0&tsid="+sessionStorage.getItem("TSID")+"&ts="+tsv;
    }
    function Edit()
    {
        // debugger;
        var oDevelopmentRecap= $('#tblDevelopmentRecaps').datagrid('getSelected');
        if(oDevelopmentRecap==null || oDevelopmentRecap.DevelopmentRecapID<=0)
        {
            alert("Please select a item from list!");
            return;
        }
        if( oDevelopmentRecap.DevelopmentStatus>0)
        {
            alert(" You can Edit Only Initialize Item!");
            return;
        }
        var SelectedRowIndex=$('#tblDevelopmentRecaps').datagrid('getRowIndex',oDevelopmentRecap);
        var tsv=((new Date()).getTime())/1000;
        var oDevelopmentRecaps= $('#tblDevelopmentRecaps').datagrid('getRows');
        sessionStorage.setItem("DevelopmentRecaps", JSON.stringify(oDevelopmentRecaps));
        sessionStorage.setItem("SelectedRowIndex", SelectedRowIndex);
        sessionStorage.setItem("DevHeader", "Edit Development Recap");
        sessionStorage.setItem("BackLink",window.location.href);
        window.location.href = _sBaseAddress+  "/DevelopmentRecap/ViewDevelopmentRecap?id="+oDevelopmentRecap.DevelopmentRecapID+"&tsid=0&ts="+tsv;

    }
    function View()
    {
        //debugger;
        var oDevelopmentRecap= $('#tblDevelopmentRecaps').datagrid('getSelected');
        if(oDevelopmentRecap==null || oDevelopmentRecap.DevelopmentRecapID<=0)
        {
            alert("Please select a item from list!");
            return;
        }
        var SelectedRowIndex=$('#tblDevelopmentRecaps').datagrid('getRowIndex',oDevelopmentRecap);
        var tsv=((new Date()).getTime())/1000;
        var oDevelopmentRecaps= $('#tblDevelopmentRecaps').datagrid('getRows');
        sessionStorage.setItem("DevelopmentRecaps", JSON.stringify(oDevelopmentRecaps));
        sessionStorage.setItem("SelectedRowIndex", SelectedRowIndex);
        sessionStorage.setItem("DevHeader", "View Development Recap");
        sessionStorage.setItem("BackLink",window.location.href);
        window.location.href = _sBaseAddress+  "/DevelopmentRecap/ViewDevelopmentRecap?id="+oDevelopmentRecap.DevelopmentRecapID+"&tsid=0&ts="+tsv;
    }
    function Delete()
    {
        //debugger;
        var oDevelopmentRecap= $('#tblDevelopmentRecaps').datagrid('getSelected');
        if(oDevelopmentRecap==null || oDevelopmentRecap.DevelopmentRecapID<=0)
        {
            alert("Invalid Field!!! please select a valid Field!");
            return false;
        }
        if( parseInt(oDevelopmentRecap.DevelopmentStatus)!=0)
        {
            alert("Please select Only Initialize Item form List!");
            return false;
        }
        var SelectedRowIndex=$('#tblDevelopmentRecaps').datagrid('getRowIndex',oDevelopmentRecap);
        if (!confirm("Confirm to Delete?")) return ;
        if (parseInt(oDevelopmentRecap.DevelopmentRecapID)> 0)
        {
            $.ajax
            ({
                type: "GET",
                dataType: "json",
                url : _sBaseAddress+  "/DevelopmentRecap/Delete",
                data: { id: oDevelopmentRecap.DevelopmentRecapID},
                contentType: "application/json; charset=utf-8",
                success: function (data) {
                    //debugger;
                    feedbackmessage = jQuery.parseJSON(data);
                    if (feedbackmessage == "Data delete successfully")
                    {
                        alert("Delete sucessfully");
                        $('#tblDevelopmentRecaps').datagrid('deleteRow',SelectedRowIndex);
                    }
                    else
                    {
                        alert(feedbackmessage);
                    }
                },
                error: function (xhr, status, error)
                {
                    alert(error);
                }

            });
        }
    }
    //View_Task_Assign()

    function Task_Assigns()
    {
        //debugger;
        var oDevelopmentRecap= $('#tblDevelopmentRecaps').datagrid('getSelected');
        if(oDevelopmentRecap==null || oDevelopmentRecap.DevelopmentRecapID<=0)
        {
            alert("Please select a item from list!");
            return;
        }
        var oParameter = new Object();
        oParameter.Name = "View OperationExecution";
        var ids =oDevelopmentRecap.StyleNo+'~'+ oDevelopmentRecap.DevelopmentRecapID
        var SelectedRowIndex=$('#tblDevelopmentRecaps').datagrid('getRowIndex',oDevelopmentRecap);
        var url =_sBaseAddress+  "/OperationExecution/ViewTaskAssigns?ids="+ids;
        var oDevelopmentRecap = window.showModalDialog(url, oParameter, 'dialogHeight:490px;dialogWidth:900px;dialogLeft:300;dialogTop:150;center:no;resizable:no;status:no;scroll:no');

    }

    function RefreshList(oDevelopmentRecaps)
    {
        data=oDevelopmentRecaps;
        data={"total":""+data.length+"","rows":data};
        $('#tblDevelopmentRecaps').datagrid('loadData',data);
        var nIndex= parseInt(sessionStorage.getItem("SelectedRowIndex"));
        if(nIndex!=null)
        {
            $('#tblDevelopmentRecaps').datagrid('selectRow',nIndex);
        }
        //$('#tblDevelopmentRecapss').datagrid({onSelect: function(rowIndex, rowData){ RowSelect(rowIndex, rowData);}});
    }

    function PrintPreview()
    {
        var oDevelopmentRecap= $('#tblDevelopmentRecaps').datagrid('getSelected');
        if(oDevelopmentRecap==null || oDevelopmentRecap.DevelopmentRecapID<=0)
        {
            alert("Please select a item from list!");
            return;
        }
        window.open(_sBaseAddress + '/DevelopmentRecap/PrintDevelopmentRecap?id='+oDevelopmentRecap.DevelopmentRecapID);
    }

    function PrintList()
    {
        var oDevelopmentRecaps= $('#tblDevelopmentRecaps').datagrid('getRows');
        var ids ="";
        if(oDevelopmentRecaps.length >0)
        {
            for(var i =0;i<oDevelopmentRecaps.length;i++)
            {
                ids =ids+oDevelopmentRecaps[i].DevelopmentRecapID+",";
            }
            ids= ids.substring(0, ids.length - 1);
        }
        else
        {
            alert("Data not found ");
            return;
        }
        window.open(_sBaseAddress + '/DevelopmentRecap/PrintDevelopmentRecaps?sParam='+ids);

    }

    $('#btnPrintSummary').click(function (e) {
        //debugger;
        var oDevelopmentRecaps= $('#tblDevelopmentRecaps').datagrid('getRows');
        var _sDevelopmentRecapIDs ="";
        if(oDevelopmentRecaps.length >0)
        {
            for(var i =0;i<oDevelopmentRecaps.length;i++)
            {
                _sDevelopmentRecapIDs =_sDevelopmentRecapIDs+oDevelopmentRecaps[i].DevelopmentRecapID+",";
            }
            _sDevelopmentRecapIDs= _sDevelopmentRecapIDs.substring(0, _sDevelopmentRecapIDs.length - 1);
        }
        if(_sDevelopmentRecapIDs==null|| _sDevelopmentRecapIDs=="0")
        {
            alert('Sorry there is no Development Recap');
            return false;
        }
        window.open(_sBaseAddress+'/DevelopmentRecap/PrintDevelopmentRecapSummary?RecapIDs='+_sDevelopmentRecapIDs+'&ReportHeader= Development Recap Summary ', "_blank");
    }); 
    $('#btnReqForApprove').click(function(e){
        debugger;
        var oDevelopmentRecap = $('#tblDevelopmentRecaps').datagrid('getSelected');
        if(oDevelopmentRecap==null || parseInt(oDevelopmentRecap.DevelopmentRecapID)<=0)
        {
            alert("Please select a item from list!");
            return;
        }
        else if  (oDevelopmentRecap.DevelopmentStatus==0)
        {
            var SelectedRowIndex=$('#tblDevelopmentRecaps').datagrid('getRowIndex', oDevelopmentRecap);
            var oEmployee = { DesignationName : '2,23' };
            $.ajax({
                type: "POST",
                dataType: "json",
                url : _sBaseAddress+"/User/GetsRequestedUsers",
                traditional: true,
                data:  JSON.stringify(oEmployee),
                contentType: "application/json; charset=utf-8",
                success: function (data) {
                    var oUsers = jQuery.parseJSON(data);
                    if(oUsers===null){ oUsers=[]; }
                    $("#cboApprovalRequestTo").icsLoadCombo({ List: oUsers, OptionValue: "UserID", DisplayText: "UserName" });
                    $("#winApprovalRequest").icsWindow('open', "Development Recap Request For Approval");
                    $("#winApprovalRequest input").not("input[type='button']").val("");
                },
                error: function (xhr, status, error) {
                    alert(error);
                }
            });
        }
        else
        {
            alert("Please select only Initialized item from list");
            return;
        }
    });
    $('#btnApprovalRequestClose').click(function(e){
        $("#winApprovalRequest").icsWindow('close');
    });
    $('#btnApprovalRequestConfirm').click(function(e){
        var oDevelopmentRecap = $('#tblDevelopmentRecaps').datagrid('getSelected');
        if(oDevelopmentRecap==null || parseInt(oDevelopmentRecap.DevelopmentRecapID)<=0)
        {
            alert("Please select a item from list!");
            return;
        }
        if(parseInt($('#cboApprovalRequestTo').val())==0)
        {
            alert('Please Select Approval User');
            $('#cboApprovalRequestTo').focus();
            return false;
        }
        var oApprovalRequest= {
            ApprovalRequestID :0,
            OperationObjectID : parseInt(oDevelopmentRecap.DevelopmentRecapID),
            RequestTo : parseInt($('#cboApprovalRequestTo').val()),
            Note :$.trim($("#txtApprovalRequestNote").val())

        };

        var oTempDevelopmentRecap = {
            DevelopmentRecapID : parseInt(oDevelopmentRecap.DevelopmentRecapID),
            ActionTypeExtra:"RequestForApproved",
            ApprovalRequest : oApprovalRequest
        }
        var SelectedRowIndex=$('#tblDevelopmentRecaps').datagrid('getRowIndex', oDevelopmentRecap);
        $.ajax({
            type: "POST",
            dataType: "json",
            url : _sBaseAddress+"/DevelopmentRecap/ChangeStatus",
            traditional: true,
            data:  JSON.stringify(oTempDevelopmentRecap),
            contentType: "application/json; charset=utf-8",
            success: function (data) {
                var oDevelopmentRecap = jQuery.parseJSON(data);
                if(oDevelopmentRecap!=null)
                {
                    if(oDevelopmentRecap.ErrorMessage=="" || oDevelopmentRecap.ErrorMessage == null)
                    {
                        alert("Development Recap Approval Request  Successfully.");
                        $('#tblDevelopmentRecaps').datagrid('updateRow',{index: SelectedRowIndex,	row: oDevelopmentRecap});
                        $("#winApprovalRequest").icsWindow('close');
                    }
                    else
                    {
                        alert(oDevelopmentRecap.ErrorMessage);
                    }
                }
                else
                {
                    alert("Invalid Operation!");
                }
            },
            error: function (xhr, status, error) {
                alert(error);
            }
        });

    });


    function StatusChange(oDevlopmentRecap,sParamIdentifier)
    {
        var oDevlopmentRecap =SetOrderStatusExtra(oDevlopmentRecap);
        var SelectedRowIndex=$('#tblDevelopmentRecaps').datagrid('getRowIndex',oDevlopmentRecap);
        $.ajax({
            type: "POST",
            dataType: "json",
            url : _sBaseAddress+"/DevelopmentRecap/ChangeStatus",
            traditional: true,
            data:  JSON.stringify(oDevlopmentRecap),
            contentType: "application/json; charset=utf-8",
            success: function (data) {
                debugger;
                var oDevlopmentRecap= jQuery.parseJSON(data);
                if (oDevlopmentRecap.ErrorMessage=="")
                {
                    if(sParamIdentifier=="Request For Approval")
                    {
                        alert("Development Recap Approval Request  Successfully.");
                    }
                    else  if(sParamIdentifier=="Undo Request")
                    {
                        alert("Successfully Undo the Request !!");

                    }
                    else  if(sParamIdentifier=="ApprovedDone")
                    {
                        alert("Successfully Approved.");

                    }
                    else  if(sParamIdentifier=="UndoApprove")
                    {
                        alert("Successfully Undo Approved.");

                    }
                    else  if(sParamIdentifier=="InProduction")
                    {
                        alert("Successfully Send to production");

                    }

                    else  if(sParamIdentifier=="RawMaterialCollectionDone")
                    {
                        alert("Successfully Raw Material Collection");

                    }
                    else  if(sParamIdentifier=="QCDone")
                    {
                        alert("Successfully QC Done.");

                    }
                    else  if(sParamIdentifier=="ReceiveFromFactory")
                    {
                        alert("Successfully Receive From Factory ");

                    }
                    else  if(sParamIdentifier=="SendtoBuyer")
                    {
                        alert("Successfully Send to Buyer");

                    }
                    else  if(sParamIdentifier=="Feedbackfrombuyer")
                    {
                        alert("Successfully Saved Buyer Feedback");
                    }
                    else  if(sParamIdentifier=="Cancel")
                    {
                        alert("Successfully Cancel Developemnt Recap.");
                    }
                    $('#tblDevelopmentRecaps').datagrid('updateRow',{index: SelectedRowIndex,	row: oDevlopmentRecap});
                }
                else
                {
                    alert(oDevlopmentRecap.ErrorMessage);
                }
            },
            error: function (xhr, status, error)
            {
                alert(error);
            }
        });


    }
    function SetOrderStatusExtra(oDevlopmentRecap)
    {
        debugger;
        switch (oDevlopmentRecap.DevelopmentStatus)
        {
            case 1 :{
                oDevlopmentRecap.StatusExtra =1;
                break;
            }
            case 2 :{
                oDevlopmentRecap.StatusExtra =2;
                break;
            }
            case 3 :{
                oDevlopmentRecap.StatusExtra =3;
                break;
            }
            case 4 :{
                oDevlopmentRecap.StatusExtra =4;
                break;
            }
            case 5 :{
                oDevlopmentRecap.StatusExtra =5;
                break;
            }
            case 6 :{
                oDevlopmentRecap.StatusExtra =6;
                break;
            }
            case 7 :{
                oDevlopmentRecap.StatusExtra =7;
                break;
            }
            case 8 :{
                oDevlopmentRecap.StatusExtra =8;
            }
            case 9 :{
                oDevlopmentRecap.StatusExtra =9;
            }
            case 10 :{
                oDevlopmentRecap.StatusExtra =10;
            }

            case 11:{
                oDevlopmentRecap.StatusExtra =11;
            }
            case 12 :{
                oDevlopmentRecap.StatusExtra =12;
            }
        }
        return oDevlopmentRecap;
    }
    function UndoRequest()
    {
        debugger;
        var oDevlopmentRecap = $('#tblDevelopmentRecaps').datagrid('getSelected');
        if(oDevlopmentRecap==null || oDevlopmentRecap.DevelopmentRecapID<=0)
        {
            alert("Please select a item from list!");
            return;
        }
        else if(oDevlopmentRecap.DevelopmentStatus==1)
        {
            if (!confirm("Confirm to Undo Request?")) return ;
            oDevlopmentRecap.ActionTypeExtra="UndoRequest";
            StatusChange(oDevlopmentRecap,"Undo Request");

        }
        else
        {
            alert("Please select only Request For Approval  item from list");
            return;
        }
    }

    function CancelDevelopmentRecap()
    {
        debugger;
        var oDevlopmentRecap = $('#tblDevelopmentRecaps').datagrid('getSelected');
        if(oDevlopmentRecap==null || oDevlopmentRecap.DevelopmentRecapID<=0)
        {
            alert("Please select a item from list!");
            return;
        }
        if (!confirm("Confirm to Cancel?")) return ;
        oDevlopmentRecap.ActionTypeExtra="Cancel";
        StatusChange(oDevlopmentRecap,"Cancel");
    }

    function WaitForApproval()
    {
        $.ajax
        ({
            type: "GET",
            dataType: "json",
            url : _sBaseAddress+  "/DevelopmentRecap/WaitingSearch",
            data: { nStatusExtra:1},
            contentType: "application/json; charset=utf-8",
            success: function (data) {
                //debugger;
                var oDevlopmentReap = jQuery.parseJSON(data);
                if (oDevlopmentReap.length>0)
                {

                    var  data=oDevlopmentReap;
                    data={"total":""+data.length+"","rows":data};
                    $('#tblDevelopmentRecaps').datagrid('loadData',data);

                }
                else
                {
                    alert("Data Not found");
                }
            },
            error: function (xhr, status, error)
            {
                alert(error);
            }
        });
    }

    function Approve()
    {
        //debugger;
        var oDevlopmentRecap = $('#tblDevelopmentRecaps').datagrid('getSelected');
        if(oDevlopmentRecap==null || oDevlopmentRecap.DevelopmentRecapID<=0)
        {
            alert("Please select a item from list!");
            return;
        }
        else if(parseInt(oDevlopmentRecap.DevelopmentStatus)!=1)
        {
            alert("Please select only Requested For Approved from list");
            return;
        }

        var SelectedRowIndex=$('#tblDevelopmentRecaps').datagrid('getRowIndex',oDevlopmentRecap);
        var tsv=((new Date()).getTime())/1000;
        var oDevlopmentRecaps= $('#tblDevelopmentRecaps').datagrid('getRows');
        sessionStorage.setItem("DevelopmentRecaps", JSON.stringify(oDevlopmentRecaps));
        sessionStorage.setItem("SelectedRowIndex", SelectedRowIndex);
        sessionStorage.setItem("DevHeader", "Approve Development Recap");
        sessionStorage.setItem("BackLink",window.location.href);
        window.location.href = _sBaseAddress+  "/DevelopmentRecap/ViewDevelopmentRecap?id="+oDevlopmentRecap.DevelopmentRecapID+"&tsid=0&ts="+tsv;

    }

    function UndoApprove()
    {
        //debugger;
        // alert(HttpContext.Current.Session[SessionInfo.currentUserID]);
        var oDevlopmentRecap = $('#tblDevelopmentRecaps').datagrid('getSelected');
        if(oDevlopmentRecap==null || oDevlopmentRecap.DevelopmentRecapID<=0)
        {
            alert("Please select a item from list!");
            return;
        }

        else if(oDevlopmentRecap.DevelopmentStatus==2)
        {
            if (!confirm("Confirm to Undo Approved?")) return ;
            oDevlopmentRecap.ActionTypeExtra="UndoApprove";
            StatusChange(oDevlopmentRecap,"UndoApprove");
        }
        else
        {
            alert("Please select only Approved from list");
            return;
        }
    }

    function InProduction()
    {
        //debugger;
        var oDevlopmentRecap = $('#tblDevelopmentRecaps').datagrid('getSelected');
        if(oDevlopmentRecap==null || oDevlopmentRecap.DevelopmentRecapID<=0)
        {
            alert("Please select a item from list!");
            return;
        }
        else if(oDevlopmentRecap.DevelopmentStatus==2)
        {

            if (!confirm("Confirm to In Production?")) return ;
            oDevlopmentRecap.ActionTypeExtra="InProduction";
            StatusChange(oDevlopmentRecap,"InProduction");
        }
        else
        {
            alert("Please select only Approved from list");
            return;
        }

    }

    function RawMaterialCollection()
    {
        //debugger;
        var oDevlopmentRecap = $('#tblDevelopmentRecaps').datagrid('getSelected');
        if(oDevlopmentRecap==null || oDevlopmentRecap.DevelopmentRecapID<=0)
        {
            alert("Please select a item from list!");
            return;
        }
        else if(oDevlopmentRecap.DevelopmentStatus==3)
        {
            //CommonPickerOperationFor = 0:RawMaterialCollectionDone,1:QCDone, 2:Rcv from Factory
            sessionStorage.setItem('CommonPickerOperationFor',0); 
            $("#winCommonPicker").icsWindow('open', "Raw Material Collection");
            $("#winCommonPicker input").not("input[type='button']").val("");
        }
        else
        {
            alert("Please select only In Production from list");
            return;
        }

    }
    function QCDone()
    {
        //debugger;
        var oDevlopmentRecap = $('#tblDevelopmentRecaps').datagrid('getSelected');
        if(oDevlopmentRecap==null || oDevlopmentRecap.DevelopmentRecapID<=0)
        {
            alert("Please select a item from list!");
            return;
        }
        else if(oDevlopmentRecap.DevelopmentStatus==4)
        {
           
            //CommonPickerOperationFor = 0:RawMaterialCollectionDone,1:QCDone, 2:Rcv from Factory
            sessionStorage.setItem('CommonPickerOperationFor',1); //Qc
            $("#winCommonPicker").icsWindow('open', "QC Done");
            $("#winCommonPicker input").not("input[type='button']").val("");
        }
        else
        {
            alert("Please select only raw material collection done from list");
            return;
        }

    }
    
    function ReceiveFromFactory()
    {
        //debugger;
        var oDevlopmentRecap = $('#tblDevelopmentRecaps').datagrid('getSelected');
        if(oDevlopmentRecap==null || oDevlopmentRecap.DevelopmentRecapID<=0)
        {
            alert("Please select a item from list!");
            return;
        }
        else if(oDevlopmentRecap.DevelopmentStatus==5)
        {
            //CommonPickerOperationFor = 0:RawMaterialCollectionDone,1:QCDone, 2:Rcv from Factory
            sessionStorage.setItem('CommonPickerOperationFor',2); //ReceiveFromFactory
            $("#winCommonPicker").icsWindow('open', "Receive From Factory");
            $("#winCommonPicker input").not("input[type='button']").val("");
        }
        else
        {
            alert("Please select only QC done from list");
            return;
        }

    }
    
    function CommonPickerOK()
    {
        debugger;
        if($("#txtMerchandiserID").val()==null || $("#txtMerchandiserID").val()=="")
        {        
            alert("Please Select Merchandiser!");
            $('#txtMerchandiser').focus();
            return false;
        } 
    
        if($("#txtComments").val()==null || $("#txtComments").val()=="")
        {        
            alert("Please Insert Comment!");
            $('#txtComments').focus();
            return false;
        } 
        var oDevlopmentRecap = $('#tblDevelopmentRecaps').datagrid('getSelected');
        oDevlopmentRecap.OperationBy= parseInt($('#txtMerchandiserID').val());
        oDevlopmentRecap.Note= $('#txtComments').val();
        $("#winCommonPicker").icsWindow('close');
        if(parseInt(sessionStorage.getItem('CommonPickerOperationFor'))==0)//Raw material collection
        {
            oDevlopmentRecap.ActionTypeExtra="RawMaterialCollectionDone";
            StatusChange(oDevlopmentRecap,"RawMaterialCollectionDone");
        }else if(parseInt(sessionStorage.getItem('CommonPickerOperationFor'))==1)//QC
        {
            oDevlopmentRecap.ActionTypeExtra="QCDone";
            StatusChange(oDevlopmentRecap,"QCDone");
            
        }else if(parseInt(sessionStorage.getItem('CommonPickerOperationFor'))==2)//Rcv From Factory
        {
            oDevlopmentRecap.ActionTypeExtra="ReceiveFromFactory";
            StatusChange(oDevlopmentRecap,"ReceiveFromFactory");   
        }
    }
    function CommonClose()
    {
        $("#winCommonPicker").icsWindow('close');
    }

    function SendtoBuyer()
    {
        var oDevlopmentRecap = $('#tblDevelopmentRecaps').datagrid('getSelected');
        if(oDevlopmentRecap==null || oDevlopmentRecap.DevelopmentRecapID<=0)
        {
            alert("Please select a item from list!");
            return;
        }
        else if(oDevlopmentRecap.DevelopmentStatus==6 ||oDevlopmentRecap.DevelopmentStatus==7)
        {
            //FeedBackPickerOperationFor= 0:SendToBuyer,1:FeedBack Buyer
            sessionStorage.setItem('FeedBackPickerOperationFor',0); //SendToBuyer
            $("#winFeedBackPicker").icsWindow('open', "Send To Buyer");
            $("#winFeedBackPicker input").not("input[type='button']").val("");
        }
        else
        {
            alert("Please select only Recived Form Factory from list");
            return;
        }
    }

    function Feedbackfrombuyer()
    {
        var oDevlopmentRecap = $('#tblDevelopmentRecaps').datagrid('getSelected');
        if(oDevlopmentRecap==null || oDevlopmentRecap.DevelopmentRecapID<=0)
        {
            alert("Please select a item from list!");
            return;
        }
        else if(oDevlopmentRecap.DevelopmentStatus==7 ||oDevlopmentRecap.DevelopmentStatus==8)
        {
            //FeedBackPickerOperationFor= 0:SendToBuyer,1:FeedBack Buyer
            sessionStorage.setItem('FeedBackPickerOperationFor',1); //Feedbackfrombuyer
            $("#winFeedBackPicker").icsWindow('open', "Feed Back from Buyer");
            $("#winFeedBackPicker input").not("input[type='button']").val("");
        }
        else
        {
            alert("Please select only send to buyer  from list");
            return;
        }
    }
    
    function FeedBackPickerOK()
    {
        if($("#txtMerchandiserIDFB").val()==null || $("#txtMerchandiserIDFB").val()=="")
        {        
            alert("Please Select Merchandiser!");
            $('#txtMerchandiserNameFB').focus();
            return false;
        } 
    
        if($("#txtCommentsFB").val()==null || $("#txtCommentsFB").val()=="")
        {        
            alert("Please Insert Comment!");
            $('#txtCommentsFB').focus();
            return false;
        } 
        var oDevlopmentRecap = $('#tblDevelopmentRecaps').datagrid('getSelected');
        oDevlopmentRecap.OperationBy=parseInt($('#txtMerchandiserIDFB').val());
        oDevlopmentRecap.Note= $("#txtCommentsFB").val(),
        oDevlopmentRecap.OperationDate= $('#txtDate').datebox('getValue');
        $("#winFeedBackPicker").icsWindow('close');
        if(parseInt(sessionStorage.getItem('FeedBackPickerOperationFor'))==0)//Send To buyer
        {
            oDevlopmentRecap.ActionTypeExtra="SendtoBuyer";
            StatusChange(oDevlopmentRecap,"SendtoBuyer");
        }else if(parseInt(sessionStorage.getItem('FeedBackPickerOperationFor'))==1)//Feed back 
        {
            oDevlopmentRecap.ActionTypeExtra="Feedbackfrombuyer";
            StatusChange(oDevlopmentRecap,"Feedbackfrombuyer");
        }
    }

    function FeedBackPikerClose()
    {
        $("#winFeedBackPicker").icsWindow('close');
    }

    //Search Property
    $("#btnSearch").click(function () {
        debugger;
        $("#winDevelopmentRecapAdvanceSearch input").not("input[type='button']").val("");
        $("#winDevelopmentRecapAdvanceSearch select").val(0);
        Reset();
        var oBusinessSessions = $('#divMain').data('BusinessSessions');
        var oBrands= $('#divMain').data('Brands');
        var oDevelopmentTypes = $('#divMain').data('DevelopmentTypes');
        $("#cboDevelopmentType").icsLoadCombo({List: oDevelopmentTypes,OptionValue: "DevelopmentTypeID",DisplayText: "Name"});
        $("#cboSession").icsLoadCombo({ List: oBusinessSessions, OptionValue: "BusinessSessionID", DisplayText: "SessionName" });
        $("#cboBrand").icsLoadCombo({ List: oBrands, OptionValue: "BrandID", DisplayText: "BrandName" });
        $("#winDevelopmentRecapAdvanceSearch").icsWindow('open', "Advance Search");
    });

    //Merchandiser Part
    $("#txtMerChandiserName").keydown(function (e) {
        debugger;
        var code = (e.keyCode ? e.keyCode : e.which);
        if (code == 13) // Enter Press
        {
            if($.trim($('#txtMerChandiserName').val())==null ||$.trim($('#txtMerChandiserName').val())=="")
            {
                alert("Please Type Merchandiser Name and Press Enter.");
                $('#txtMerChandiserName').focus();
                return;
            }
            GetEmployees(false);
        }else if (code == 8) //backspace=8
        {
            //debugger;
            var txtMerChandiserName = document.getElementById("txtMerChandiserName");
            txtMerChandiserName.style.color = "black";
            txtMerChandiserName.style.fontWeight = "normal";
            document.getElementById("txtMerchandiserID").value = 0;

        }
    });
    $("#btnMerchandiser").click(function () {
        GetEmployees(false);
    });
    $("#txtMerChandiserNameFB").keydown(function (e) {
        debugger;
        var code = (e.keyCode ? e.keyCode : e.which);
        if (code == 13) // Enter Press
        {
            if($.trim($('#txtMerChandiserNameFB').val())==null ||$.trim($('#txtMerChandiserNameFB').val())=="")
            {
                alert("Please Type Merchandiser Name and Press Enter.");
                $('#txtMerChandiserNameFB').focus();
                return;
            }
            GetEmployees(true);
        }else if (code == 8) //backspace=8
        {
            //debugger;
            var txtMerChandiserName = document.getElementById("txtMerChandiserNameFB");
            txtMerChandiserName.style.color = "black";
            txtMerChandiserName.style.fontWeight = "normal";
            document.getElementById("txtMerchandiserIDFB").value = 0;

        }
    });
    $("#btnMerchandiserFB").click(function () {
        GetEmployees(true);
    });
    function GetEmployees(bIsForFeedBack)
    {
        debugger;
        if(bIsForFeedBack)
        {
            var oEmployee = { Params:$.trim($('#txtMerChandiserNameFB').val())+'~23'};
        }else
        {
            var oEmployee = { Params:$.trim($('#txtMerChandiserName').val())+'~23'};
        }
        sessionStorage.setItem("IsForFeedBack",bIsForFeedBack);
        var obj = {
            BaseAddress: _sBaseAddress,
            Object: oEmployee,
            ControllerName: "Employee",
            ActionName: "GetsByEmployeeNameType",
            IsWinClose: false
        };
        $.icsDataGets(obj, function (response) {
            debugger;
            if (response.status && response.objs.length > 0) {
                if (response.objs[0].EmployeeID > 0) {
                    var tblColums = []; var oColumn = { field: "Name", title: "Merchandiser Name", width: 150, align: "left" }; tblColums.push(oColumn);
                    oColumn = { field: "ContactNo", title: "Contact No", width: 100, align: "left" }; tblColums.push(oColumn);
                    oColumn = { field: "PresentAddress", title: "Address", width: 150, align: "left" }; tblColums.push(oColumn);
                    var oPickerParam = {
                        winid: 'winMerchandiserPicker',
                        winclass: 'clsMerchandiser',
                        winwidth: 600,
                        winheight: 460,
                        tableid: 'tblMerchandisersPicker',
                        tablecolumns: tblColums,
                        datalist: response.objs,
                        multiplereturn: false,
                        searchingbyfieldName: 'Name',
                        windowTittle: 'Merchandiser List'
                    };
                    $.icsPicker(oPickerParam);
                    IntializePickerbutton(oPickerParam);
                }
                else {
                    alert(response.objs[0].ErrorMessage);
                }

            }else{
                alert("Data Not Found.");
            }
        });
    }


    //Pick Buyer
    $("#txtBuyer").keydown(function (e) {
        debugger;
        var code = (e.keyCode ? e.keyCode : e.which);
        if (code == 13) // Enter Press
        {
            if($.trim($('#txtBuyer').val())==null || $.trim($('#txtBuyer').val())=="")
            {
                alert("Type Buyer and Press enter");
                return;
            }
            GetBuyers();
        }else  if (code == 8) //backspace=8
        {
            //debugger;
            var txtBuyer = document.getElementById("txtBuyer");
            txtBuyer.style.color = "black";
            txtBuyer.style.fontWeight = "normal";
            $('#divMain').data('BuyerIDs',"");
        }
    });
    $("#btnBuyerPicker").click(function () {
        GetBuyers();
    });
    function GetBuyers()
    {
        var oContractor = { Params:2+ '~' +$.trim($('#txtBuyer').val())+'~'+sessionStorage.getItem("BUID") };
        var obj = {
            BaseAddress: _sBaseAddress,
            Object: oContractor,
            ControllerName: "Contractor",
            ActionName: "ContractorSearchByNameType",
            IsWinClose: false
        };
        $.icsDataGets(obj, function (response) {
            debugger;
            if (response.status && response.objs.length > 0) {
                if (response.objs[0].ContractorID > 0) {
                    debugger;
                    var tblColums = []; var oColumn = { field: "Name", title: "Name", width: 150, align: "left" }; tblColums.push(oColumn);
                    oColumn = { field: "ContractorTypeInString", title: "Type", width: 150, align: "left" }; tblColums.push(oColumn);
                    var oPickerParam = {
                        winid: 'winBuyers',
                        winclass: 'clsBuyer',
                        winwidth: 600,
                        winheight: 460,
                        tableid: 'tblBuyers',
                        tablecolumns: tblColums,
                        datalist: response.objs,
                        multiplereturn: false,
                        searchingbyfieldName: 'Name',
                        windowTittle: 'Buyer List'
                    };
                    $.icsPicker(oPickerParam);
                    IntializePickerbutton(oPickerParam);
                }
                else { alert(response.objs[0].ErrorMessage); }
            }
        });
    }


    //Product Category
    $("#btnPickProductCategory").click(function () 
    {

        var oProductCategory = { ParentCategoryID:3 };
        var obj = {
            BaseAddress: _sBaseAddress,
            Object: oProductCategory,
            ControllerName: "ProductCategory",
            ActionName: "GetProductCategoryByParentID",
            IsWinClose: false
        };
        $.icsDataGets(obj, function (response) {
            debugger;
            if (response.status && response.objs.length > 0) {
                if (response.objs[0].ProductCategoryID > 0) {
                    var tblColums = []; var oColumn = { field: "ProductCategoryName", title: "Product Categor yName", width: 250, align: "left" }; tblColums.push(oColumn);
                    var oPickerParam = {
                        winid: 'winProductCategory',
                        winclass: 'clsProductCategory',
                        winwidth: 600,
                        winheight: 460,
                        tableid: 'tblProductCategory',
                        tablecolumns: tblColums,
                        datalist: response.objs,
                        multiplereturn: false,
                        searchingbyfieldName: 'ProductCategoryName',
                        windowTittle: 'Product Category List'
                    };
                    $.icsPicker(oPickerParam);
                    IntializePickerbutton(oPickerParam);
                }
                else { alert(response.objs[0].ErrorMessage); }
            }
        });

    });
    //Refresh
    $('#btnRefresh').click(function () {
        debugger;
        /* Inquery Receive Date*/
        var cboInqueryRcvDate = document.getElementById("cboInqueryRcvDate");
        var nInqueryDate = cboInqueryRcvDate.options[cboInqueryRcvDate.selectedIndex].index;
        var dInqueryRcvStartDate = $('#txtInqueryRcvStartDate').datebox('getValue');
        var dInqueryRcvEndDate = $('#txtInqueryRcvEndDate').datebox('getValue');

        /* Sample Recive Date*/
        var cboSampleRcvDate = document.getElementById("cboSampleRcvDate");
        var nSampleRcvDate = cboSampleRcvDate.options[cboSampleRcvDate.selectedIndex].index;
        var dSampleRcvStartDate = $('#txtSampleRcvStartDate').datebox('getValue');
        var dSampleRcvEndDate = $('#txtSampleRcvEndDate').datebox('getValue');
        /* Sanding Date*/
        var cboSendingDate = document.getElementById("cboSandingRcvDate");
        var nSendingDate = cboSendingDate.options[cboSendingDate.selectedIndex].index;
        var dSendingStartDate = $('#txtSandingStartDate').datebox('getValue');
        var dSandingEndDate = $('#txtSandingEndDate').datebox('getValue');

        /* Development Type*/
        var cboDevelopmentType = document.getElementById("cboDevelopmentType");
        var nDevelopmentTypeID = cboDevelopmentType.options[cboDevelopmentType.selectedIndex].index;

        var sRecapNo = document.getElementById("txtRecapNo").value;
        var sStyleNo = document.getElementById("txtStyleNo").value;


        /*Business Session */
        //var cboSession = document.getElementById("cboSession");
        //var nSessionID = cboSession.options[cboSession.selectedIndex].index;
        var nSessionID = parseInt($('#cboSession').val());
        var nBrandID =  $('#cboBrand').val();

        var sStatus = $('#tblStatusLoad').datagrid('getChecked');
        var chkResult = CheckEmpty();
        if (chkResult != true) {
            alert("Please Select at lease one Criteria !!");
            return;
        }
        var sMakStatsQry = "";
        if (sStatus.length > 0) {
            sMakStatsQry = sMakeQuery(sStatus);

        }
        var sTempString = nInqueryDate + '~' + dInqueryRcvStartDate + '~' + dInqueryRcvEndDate + '~' + nSampleRcvDate + '~' + dSampleRcvStartDate + '~' + dSampleRcvEndDate + '~' + nSendingDate + '~' + dSendingStartDate + '~' + dSandingEndDate + '~' + sRecapNo + '~' + sStyleNo + '~' + $('#divMain').data('BuyerIDs')+ '~' + parseInt($('#divMain').data('ProductCatagoryID'))+ '~' + nDevelopmentTypeID + '~' + sMakStatsQry + '~' + nSessionID+'~'+nBrandID+'~'+sessionStorage.getItem("BUID");

        $.ajax({
            type: "GET",
            dataType: "json",
            url: _sBaseAddress + "/DevelopmentRecap/Gets",
            data: { sTemp: sTempString },
            contentType: "application/json; charset=utf-8",
            success: function (data) {
                //debugger;
                var oDevelopmentRecaps = jQuery.parseJSON(data);
                if (oDevelopmentRecaps != null) {
                    if (oDevelopmentRecaps.length > 0) {
                        RefreshRecapList(oDevelopmentRecaps);
                        $('#tblDevelopmentRecap').datagrid({ selectOnCheck: false, checkOnSelect: false })
                    }
                    else {
                        alert("Data not found!!");
                        RefreshRecapList(oDevelopmentRecaps);
                    }
                }
            },
            error: function (xhr, status, error) {
                alert(error);
            }
        });

    });

    //Reset
    function Reset() {
        $("#txtStyleNo").val('');
        $("#txtRecapNo").val('');
        $("#txtBuyer").val('');
        $("#txtProductCategoryName").val('');
        $('#divMain').data('ProductCatagoryID',0);

        document.getElementById("enddate").style.display = '';
        document.getElementById("enddateT").style.display = '';
        document.getElementById("Sampleenddate").style.display = '';
        document.getElementById("SampleT").style.display = '';
        document.getElementById("Sandingenddate").style.display = '';
        document.getElementById("SandingT").style.display = '';


        $('#cboInqueryRcvDate').val('None');
        $('#cboSampleRcvDate').val('None');
        $('#cboSandingRcvDate').val('None');
        var oDevelopmentTypes = $('#divMain').data('DevelopmentTypes');
        $("#cboDevelopmentType").icsLoadCombo({List: oDevelopmentTypes,OptionValue: "DevelopmentTypeID",DisplayText: "Name"});
        var txtBuyer = document.getElementById("txtBuyer");
        txtBuyer.style.color = "black";
        txtBuyer.style.fontWeight = "normal";
        $('#divMain').data('BuyerIDs',"");
        $('#cboSession').val(0);
        SetTodayDate();
        $('#cboBrand').val(0);
        RefreshStatusList($('#divMain').data('DevelopmentRecapStatus'));
        var oDevelopmentRecaps = [];
        RefreshRecapList(oDevelopmentRecaps);

    }

    //Button Click
    $('#btnOkButtonClick').click(function () {
        var oDevelopmentRecaps = [];
        var oDevelopmentRecaps = $('#tblDevelopmentRecap').datagrid('getChecked');
        if (oDevelopmentRecaps.length <= 0) {
            alert("please select atleast one item");
            return;
        }
        RefreshList(oDevelopmentRecaps);
        $("#winDevelopmentRecapAdvanceSearch").icsWindow('close');
    });
    //Close Picker
    $('#btnSearchClose').click(function () {
        $("#winDevelopmentRecapAdvanceSearch").icsWindow('close');
    });
    $('._select_changeA').change(function () {
        //  debugger;
        var x = $("#cboInqueryRcvDate").val();
        if (x == "EqualTo" || x == "NotEqualTo" || x == "GreaterThen" || x == "SmallerThen") {
            document.getElementById("enddate").style.display = 'none';
            document.getElementById("enddateT").style.display = 'none';
        }
        else {
            document.getElementById("enddate").style.display = '';
            document.getElementById("enddateT").style.display = '';
        }
    });
    $('._select_changeB').change(function () {
        // debugger;
        var x = $("#cboSampleRcvDate").val();
        if (x == "EqualTo" || x == "NotEqualTo" || x == "GreaterThen" || x == "SmallerThen") {
            document.getElementById("Sampleenddate").style.display = 'none';
            document.getElementById("SampleT").style.display = 'none';
        }
        else {
            document.getElementById("Sampleenddate").style.display = '';
            document.getElementById("SampleT").style.display = '';
        }
    });
    $('._select_changeC').change(function () {
        //  debugger;
        var x = $("#cboSandingRcvDate").val();
        if (x == "EqualTo" || x == "NotEqualTo" || x == "GreaterThen" || x == "SmallerThen") {
            document.getElementById("Sandingenddate").style.display = 'none';
            document.getElementById("SandingT").style.display = 'none';
        }
        else {
            document.getElementById("Sandingenddate").style.display = '';
            document.getElementById("SandingT").style.display = '';
        }
    });

    function IntializePickerbutton(oPickerobj) {
        debugger;
        $("#" + oPickerobj.winid).find("#btnOk").click(function () {
            debugger;
            //for Single Select
            PickerEvents(oPickerobj);
        });
        $(document).find('.' + oPickerobj.winclass).keydown(function (e) {
            if (e.which == 13)//enter=13
            {
                PickerEvents(oPickerobj);
            }
        });
    }
    function PickerEvents(oPickerobj) {
        var oreturnobj = null, oreturnobjs = [];
        if (oPickerobj.multiplereturn)
        {
            oreturnobjs = $('#' + oPickerobj.tableid).datagrid('getChecked');
        } else
        {
            oreturnobj = $('#' + oPickerobj.tableid).datagrid('getSelected');
        }

        $("#" + oPickerobj.winid).icsWindow("close");
        $("#" + oPickerobj.winid).remove();
        if (oPickerobj.winclass == 'clsBuyer')
        {
            var nBuyerIDs = "";
            if (oPickerobj.multiplereturn)
            {
                var ncount = 0;
                for (var i = 0; i <oreturnobjs.length; i++) {
                    var nBuyerID = oreturnobjs[i].ContractorID;
                    nBuyerIDs = nBuyerIDs + nBuyerID+ ',';
                    ncount++;
                }
                if (ncount > 1)
                {
                    $('#txtBuyer').val("Select " + ncount + " Buyer's");
                } else
                {
                    $('#txtBuyer').val(oreturnobjs[0].Name);
                }
                nBuyerIDs = nBuyerIDs.substring(0, nBuyerIDs.length - 1);

            } else
            {
                $('#txtBuyer').val(oreturnobj.Name);
                nBuyerIDs = "" + oreturnobj.ContractorID + "";
                $('#txtBuyer').focus();
            }
            $('#divMain').data('BuyerIDs',nBuyerIDs);
            var txtBuyerName = document.getElementById("txtBuyer");
            txtBuyerName.style.color = "blue";
            txtBuyerName.style.fontWeight = "bold";
        } else if (oPickerobj.winclass == 'clsProductCategory')
        {
            $('#txtProductCategoryName').val(oreturnobj.ProductCategoryName);
            $('#divMain').data('ProductCatagoryID',oreturnobj.ProductCategoryID);
            $('#txtProductCategoryName').focus();
            var txtProductCategoryName = document.getElementById("txtProductCategoryName");
            txtProductCategoryName.style.color = "blue";
            txtProductCategoryName.style.fontWeight = "bold";
        }else if (oPickerobj.winclass == 'clsMerchandiser') {
            if (oreturnobj != null && oreturnobj.EmployeeID > 0)
            {
                if(sessionStorage.getItem("IsForFeedBack")=='true')
                {
                    var txtMerchandiserName = document.getElementById("txtMerChandiserNameFB");
                }else{
                    var txtMerchandiserName = document.getElementById("txtMerChandiserName");
                }
                txtMerchandiserName.value = oreturnobj.Name;
                txtMerchandiserName.style.color = "blue";
                txtMerchandiserName.style.fontWeight = "bold";
                if(sessionStorage.getItem("IsForFeedBack")=='true')
                {
                    document.getElementById("txtMerchandiserIDFB").value = oreturnobj.EmployeeID;
                    $('#txtMerChandiserNameFB').focus();
                }else
                {
                    document.getElementById("txtMerchandiserID").value = oreturnobj.EmployeeID;
                    $('#txtMerChandiserName').focus();
                }
                
            }
        } 
    }


    function SetTodayDate() {
        $('#txtInqueryRcvStartDate,#txtInqueryRcvEndDate,#txtSampleRcvStartDate,#txtSampleRcvEndDate,#txtSandingStartDate,#txtSandingEndDate').datebox('setValue', icsdateformat(new Date()));
        
    }



    function RefreshStatusList(oLoadDevelopmentRecapStatus) {
        data = oLoadDevelopmentRecapStatus;
        data = { "total": "" + data.length + "", "rows": data };
        $('#tblStatusLoad').datagrid('loadData', data);
    }

    function ClenProductCatagory() {
        $('#divMain').data('ProductCatagoryID',0);
        document.getElementById("txtProductCategoryName").value = '';
        var txtProductCategoryName = document.getElementById("txtProductCategoryName");
        txtProductCategoryName.style.color = "black";
        txtProductCategoryName.style.fontWeight = "normal";
    }


    function sMakeQuery(sStauses) {
        var sSatusRes = "";
        for (var i = 0; i < sStauses.length; i++) {
            var status = sStauses[i].id;
            sSatusRes = sSatusRes + status + ',';
        }

        return sSatusRes.substring(0, sSatusRes.length - 1);
    }

    function CheckEmpty() {

        var cboInqueryRcvDate = document.getElementById("cboInqueryRcvDate");
        var nInqueryDate = cboInqueryRcvDate.options[cboInqueryRcvDate.selectedIndex].index;

        var cboSampleRcvDate = document.getElementById("cboSampleRcvDate");
        var nSampleRcvDate = cboSampleRcvDate.options[cboSampleRcvDate.selectedIndex].index;

        var cboSendingDate = document.getElementById("cboSandingRcvDate");
        var nSendingDate = cboSendingDate.options[cboSendingDate.selectedIndex].index;

        var cboDevelopmentType = document.getElementById("cboDevelopmentType");
        var nDevelopmentTypeID = cboDevelopmentType.options[cboDevelopmentType.selectedIndex].index;

        /*Business Session */
        var nSessionID =  parseInt($('#cboSession').val());

        var sRecapNo = document.getElementById("txtRecapNo").value;
        var sStyleNo = document.getElementById("txtStyleNo").value;
        var sProductCatagoryName = document.getElementById("txtProductCategoryName").value;
        var sStatus = $('#tblStatusLoad').datagrid('getChecked');
        var nBrandID =  $('#cboBrand').val();
        if (nInqueryDate == 0 && nSampleRcvDate == 0 && nSendingDate == 0 && nDevelopmentTypeID == 0 && nBrandID==0) {
            if (sRecapNo == "" && $('#divMain').data('BuyerIDs')== "" && sStyleNo == "" && sProductCatagoryName == "" && sStatus == "" && parseInt(nSessionID) == 0) {
                return false;
            }
            return true;
        }

        return true;
    }

    function RefreshRecapList(oDevelopmentRecaps) {
        data = oDevelopmentRecaps;
        data = { "total": "" + data.length + "", "rows": data };
        $('#tblDevelopmentRecap').datagrid('loadData', data);
    }
    $(document).keydown(function (e) {
        //debugger;
        if (e.which == 27)//escape=27
        {
            //debugger;
            $("#winDevelopmentRecapAdvanceSearch").icsWindow('close');
        }
    });

    function RefreshControlLayout(oAuthorizationRolesMapping)
    {
        $('#btnSearch,#btnEdit,#btnView,#btnDelete,#btnReqForApprove,#btnUndoReq,#btnWaitforApproval,#btnApproved,#btnUndoApprove,#btnInproduction,#btnReceiveFromFactory,#btnActiveInActive,#btnSendtoBuyer,#btnRowMetarialCollection,#bntQCDone,#btnFeedbackfrombuyer,#btnCancle,#btnPrintPreview,#btnPrintList').hide();
        if(PermissionChecker('AdvSearch','DevelopmentRecap',oAuthorizationRolesMapping)){$("#btnSearch").show();}
        if(PermissionChecker('Add','DevelopmentRecap',oAuthorizationRolesMapping)){$("#btnReqForApprove").show();}
        if(PermissionChecker('Edit','DevelopmentRecap',oAuthorizationRolesMapping)){$("#btnEdit,#btnRowMetarialCollection,#bntQCDone,#btnFeedbackfrombuyer").show();}
        if(PermissionChecker('UpdateInfo','DevelopmentRecap',oAuthorizationRolesMapping)){$("#btnUpdateInfo").show();}
        if(PermissionChecker('View','DevelopmentRecap',oAuthorizationRolesMapping)){$("#btnView").show();}
        if(PermissionChecker('Delete','DevelopmentRecap',oAuthorizationRolesMapping)){$("#btnDelete").show();}
        if(PermissionChecker('UndoRequest','DevelopmentRecap',oAuthorizationRolesMapping)){$("#btnUndoReq").show();}
        if(PermissionChecker('WaitforApproval','DevelopmentRecap',oAuthorizationRolesMapping)){$("#btnWaitforApproval").show();}
        if(PermissionChecker('Approved','DevelopmentRecap',oAuthorizationRolesMapping)){$("#btnApproved,#btnUndoApprove").show();}
        if(PermissionChecker('Received','DevelopmentRecap',oAuthorizationRolesMapping)){$("#btnReceiveFromFactory").show();}
        if(PermissionChecker('SentToProduction','DevelopmentRecap',oAuthorizationRolesMapping)){$("#btnInproduction").show();}
        if(PermissionChecker('SentTobuyer','DevelopmentRecap',oAuthorizationRolesMapping)){$("#btnSendtoBuyer").show();}
        if(PermissionChecker('Cancel','DevelopmentRecap',oAuthorizationRolesMapping)){$("#btnCancle").show();}
        if(PermissionChecker('ActiveInActive','DevelopmentRecap',oAuthorizationRolesMapping)){$("#btnActiveInActive").show();}
        if(PermissionChecker('Preview','DevelopmentRecap',oAuthorizationRolesMapping)){$("#btnPrintPreview").show();}
        if(PermissionChecker('PrintList','DevelopmentRecap',oAuthorizationRolesMapping)){$("#btnPrintList").show();}
    }



</script>
