@{
    ViewBag.Title = "TAP Execution Follow Up";
}
@model ESimSol.BusinessObjects.TAPExecution

<div id="winTAPAdvanceSearch" class="easyui-window winClass" title="Advance Search" data-options="modal:true,closed:true,collapsible:false,minimizable:false,maximizable:false,closable:false">
    <div style="width:760px;float: left;">
        <table border="0" cellpadding="0" cellspacing="0" style="font-size:12px">
            <tr style="height:240px">
                <td style="width:500px">
                    <table border="0" cellpadding="0" cellspacing="0" style="font-size:12px">
                        <tr style="height:230px">
                            <td style="width:400px; vertical-align:top;height:310px">
                                <fieldset>
                                    <legend style="font-weight:bold; font-size:12px"> Searching Criteria : </legend>
                                    <table border="0" cellpadding="0" cellspacing="0" style=" width:340px; font-size:12px">
                                        <tr>
                                            <td style="width:130px; text-align:left; font-weight:bold">
                                                Plan No:
                                            </td>
                                        </tr>

                                        <tr>
                                            <td style="width:325px;text-align:left">
                                                @Html.TextBox("txtPlanNo", "", new { style = "width: 325px", id = "txtPlanNo" })
                                            </td>
                                        </tr>


                                        <tr>
                                            <td style="width:130px; text-align:left; font-weight:bold">
                                                Recap No:
                                            </td>
                                        </tr>

                                        <tr>
                                            <td style="width:325px;text-align:left">
                                                @Html.TextBox("txtOrderRecapNo", "", new { style = "width: 270px", id = "txtOrderRecapNo", placeholder = "Type & Press Enter" }) <input type="button" id="btnOrderRecap" value="Pick" onclick="PickOrderRecap()" style="width:50px; text-align:left;" />
                                            </td>
                                        </tr>

                                        <tr>
                                            <td style="width:130px; text-align:left; font-weight:bold">
                                                Style No:
                                            </td>
                                        </tr>

                                        <tr>
                                            <td style="width:325px;text-align:left">
                                                @Html.TextBox("txtStyle", "", new { style = "width: 270px", id = "txtStyle", placeholder = "Type Style No & Press Enter" }) <input type="button" id="btnStyle" value="Pick" onclick="PickStyle()" style="width:50px; text-align:left;" />
                                            </td>
                                        </tr>

                                        <tr>
                                            <td style="width:130px;text-align:left; font-weight:bold">
                                                Buyer :
                                            </td>
                                        </tr>
                                        <tr>
                                            <td style="width:325px;text-align:left">

                                                @Html.TextBox("txtBuyer", "", new { style = "width: 252px", id = "txtBuyer", placeholder = "Type Buyer Name & press Enter" })<input type="button" style="width:70px; font-size:12px" onclick="BuyerPicker()" value="Pick" />
                                            </td>
                                        </tr>

                                        <tr>
                                            <td style="width:130px;text-align:left; font-weight:bold">
                                                Brand :
                                            </td>
                                        </tr>
                                        <tr>
                                            <td style="width:325px;text-align:left">
                                                <select id="cboBrand" style="width:325px;"></select>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td style="width:130px;text-align:left; font-weight:bold">
                                                Session :
                                            </td>
                                        </tr>
                                        <tr>
                                            <td style="width:325px;text-align:left">
                                                <select id="cboSession" style="width:325px;"></select>
                                            </td>
                                        </tr>

                                        <tr>
                                            <td style="width:130px;text-align:left; font-weight:bold">
                                                Factory :
                                            </td>
                                        </tr>
                                        <tr>
                                            <td style="width:325px;text-align:left">

                                                @Html.TextBox("txtFactory", "", new { style = "width: 252px", id = "txtFactory", placeholder = "Type Factory Name & press Enter" })<input type="button" style="width:70px; font-size:12px" onclick="FactoryPicker()" value="Pick" />
                                            </td>
                                        </tr>
                                        <tr>
                                            <td style="width:130px;text-align:left; font-weight:bold">
                                                Plan Date:
                                            </td>
                                        </tr>
                                        <tr>
                                            <td style="width:325px;text-align:left; font-size:12px">
                                                <table border="0" style="font-size:12px">
                                                    <tr>
                                                        <td style="width:100px;font-size:12px;text-align:left">@Html.DropDownList("cboPlanDate", new SelectList(Enum.GetValues(typeof(ESimSol.BusinessObjects.EnumCompareOperator))), new { id = "cboPlanDate", style = "width: 100px;font-size:12px;text-align:left", @class = "_select_changeA" })</td>
                                                        <td style="width:98px;font-size:12px"><input id="txtStartPlanDate" type="text" class="easyui-datebox" required="required" data-options="formatter:icsdateformat,parser:icsdateparser" style="width: 98px;" /></td>
                                                        <td style="width:9px; font-size:12px" id="enddateT">To</td>
                                                        <td style="width:97px;font-size:12px" id="enddate"><input id="txtEndPlanDate" type="text" class="easyui-datebox" required="required" data-options="formatter:icsdateformat,parser:icsdateparser" style="width: 97px;" /></td>
                                                    </tr>
                                                </table>
                                            </td>
                                        </tr>


                                        <tr>
                                            <td style="width:130px;text-align:left; font-weight:bold">
                                                Approve By:
                                            </td>
                                        </tr>
                                        <tr>
                                            <td style="width:325px;text-align:left; font-size:12px">
                                                <select id="cboApproveBy" style="width:325px;font-size:12px" />
                                            </td>
                                        </tr>
                                        <tr>
                                            <td style="width:130px;text-align:left; font-weight:bold">
                                                Merchandiser:
                                            </td>
                                        </tr>
                                        <tr>
                                            <td style="width:325px;text-align:left; font-size:12px">
                                                <select id="cboMerchandiser" style="width:325px;font-size:12px" />
                                            </td>
                                        </tr>
                                        <tr>
                                            <td style="width:130px;text-align:left; font-weight:bold">
                                                <input type="checkbox" style="font-weight:bold; color:green; text-align:right;" id="chkIsrunning"><label id="lblRunning" style="font-weight:bold; color:green; font-size:12px;"> Running</label>
                                            </td>
                                        </tr>
                                        <tr style="height:30px; vertical-align:bottom">

                                            <td style=" text-align:left; width:325px;">
                                                <table border="0" cellpadding="0" cellspacing="0">
                                                    <tr>
                                                        <td style=" text-align:left;"><input type="button" value="Reset" id="btnReset" onclick="SearchReset()" style="width:70px; text-align:left;" /></td>
                                                        <td style=" text-align:right; width:255px;"><input type="button" value="Search" id="btnRefresh" style="width:70px; text-align:right;" /></td>
                                                    </tr>
                                                </table>
                                            </td>
                                        </tr>
                                    </table>
                                </fieldset>
                            </td>
                            <td style="width:323px; height:445px;vertical-align:top">
                                <div style=" margin-top:6px;">
                                    <table id="tblTAP" title="Time Action Plan List" class="easyui-datagrid" style="width:368px;height:445px;font-size:12px" fitcolumns="false" rownumbers="true" pagination="false" singleselect="false" , autorowheight="false">
                                        <thead>
                                            <tr>
                                                <th data-options="field:'Selected',checkbox:true"></th>
                                                <th field="PlanNo" width="90">Plan No</th>
                                                <th field="OrderRecapNo" width="90">Recap No</th>
                                                <th field="StyleNo" width="70">Style No</th>
                                                <th field="BuyerName" width="60">Buyer</th>
                                                <th field="PlanDateInString" width="100">Plan Date</th>
                                            </tr>
                                        </thead>
                                    </table>
                                </div>
                            </td>

                        </tr>
                    </table>
                </td>
            </tr>
            <tr style="height:50px">
                <td style="width:650px; text-align:right">
                    <a href="javascript:void(0)" class="easyui-linkbutton" iconcls="icon-ok" plain="true" onclick="OkButtonClick()">Ok</a>
                    <a href="javascript:void(0)" class="easyui-linkbutton" iconcls="icon-cancel" plain="true" onclick="Close()">Close</a>
                </td>
            </tr>
        </table>
    </div>
</div>

<div id="progressbarParent" style="width:100%;height:100%;margin:0 auto;text-align:center; margin-left: auto;margin-right: auto;left: 0;right: 0;z-index: 1;">
    <div style="margin: 0px auto;margin-top: 251px;text-align:center;width:390px;">
        <label style="font-size:18px;">Please wait</label>
        <div id="progressbar" style="width:100%;height:37px;"></div>
    </div>
</div>
<div class="menuMainCollectionTable">
    <div id="divMain" class="easyui-panel" title="Time Action Follow UP" fit="true" data-options="tools:'#toolbar'" style="width:100%;height:100%;padding:5px; ">

    </div>
    <div id="toolbar" style="text-align:left;">
        <label id="lblMinvalue" style="font-weight:bold;" >0</label><label style="font-weight:bold;"> ----- </label> <label id="lblMaxValue" style="font-weight:bold;">0</label> <label style="font-weight:bold;"> &nbsp;Of &nbsp;</label> <label id="lblTotalValue" style="font-weight:bold;">0</label><label>&nbsp;&nbsp;&nbsp;&nbsp;</label>
        <a href="javascript:void(0)" class="easyui-linkbutton" id="btnNext" style="height:18px; width:70px; font-weight:bold;" iconcls="icon-forword" plain="true" onclick="Next()">Next</a>
        <a href="javascript:void(0)" class="easyui-linkbutton" id="btnSearch" style="height:18px; width:100px; font-weight:bold;" iconcls="icon-search" plain="true" >Search</a>
        <a href="javascript:void(0)" class="easyui-linkbutton" style="height:18px; width:100px; font-weight:bold;" iconcls="icon-print" plain="true" onclick="Print()">Print</a>
    </div>

</div>
<style>
    #progressbarParent {
        opacity: 0.8;
        background-color: #DCD9D4;
        position: fixed;
        width: 100%;
        height: 100%;
        top: 0px;
        left: 0px;
        z-index: 1000;
    }
</style>
 <script type="text/javascript">
    var _oTAPExecution=null;
    var _oTAPDetails = [];
    var _oTAPs = [];
    var _sBaseAddress="";
    var _UserList = [];
    var _oBrands = [];
    var _nTechnicalSheetID= 0;
    var _nBuyerIDs = "";
    var _nOrderRecapID = 0;
    var _nFactoryIDs = "";
    var _oMerchandisers = [];
    var _oBusinessSessions = [];
    var _nMin = 0;
    var _nMax = 5;
    var _nCount = 0;
    var _nLoopCount = 0;
    $(document).ready(function () {
        debugger;
        _oTAPExecution =@Html.Raw( new System.Web.Script.Serialization.JavaScriptSerializer().Serialize(Model));
        _sBaseAddress =@Html.Raw( new System.Web.Script.Serialization.JavaScriptSerializer().Serialize(HttpContext.Current.Session[SessionInfo.BaseAddress]));

        //Search Attribut start
        _UserList=@Html.Raw(new System.Web.Script.Serialization.JavaScriptSerializer().Serialize(ViewBag.Users));
        _oBrands = @Html.Raw(new System.Web.Script.Serialization.JavaScriptSerializer().Serialize(ViewBag.Brands));
        _oMerchandisers = @Html.Raw(new System.Web.Script.Serialization.JavaScriptSerializer().Serialize(ViewBag.Merchandisers));
        _oBusinessSessions =@Html.Raw(new System.Web.Script.Serialization.JavaScriptSerializer().Serialize(ViewBag.BusinessSessions));
        var oTAP = @Html.Raw(new System.Web.Script.Serialization.JavaScriptSerializer().Serialize(ViewBag.TAP));
        //Search Attribute end
        var sDynmicTittle = "<div><table border='0' cellpadding='0' cellspacing='0' ><tr><td><div style=background-color:#04B431;width:90px;color:Black;>On Date Done</div></td><td style='width:5px;'>&nbsp;</td> <td><div style=background-color:#FFFF00;width:70px;color:Black;>Late Done</div></td><td style='width:5px;'>&nbsp;</td><td><div style=background-color:#FF0000;width:50px;color:Black;>Pending</div></td></tr></table></div>"
        $('#divMain').panel({title:sDynmicTittle});
        $('#Mainlayout').layout('collapse', 'west');
        $("#progressbar").progressbar({ value: 0 });
        $("#progressbarParent").hide();
        if(oTAP!=null && parseInt(oTAP.TAPID)!=0)
        {
            var oTAPs = [oTAP];
            LoadTAPDetails(oTAPs);
        }

    });

     function updateProgress() {
         var value =$('#progressbar').progressbar('getValue');
         if (value < 90){
             value += Math.floor(Math.random() * 10);
             $('#progressbar').progressbar('setValue', value);
         }
     }

     function hideShow(miliseconds) {
         $("#progressbarParent").hide();
     }


    /*Search Start*/
    $("#btnSearch").click(function () {
        SearchReset();
        $("#winTAPAdvanceSearch").icsWindow('open', "Advance Search");
        $("#winTAPAdvanceSearch input").not("input[type='button']").val("");
        $("#winTAPAdvanceSearch select").val(0);
        SetTodayDate();
        $("#cboApproveBy").icsLoadCombo({ List: _UserList, OptionValue: "UserID", DisplayText: "EmployeeNameCode" });
        $("#cboBrand").icsLoadCombo({ List: _oBrands, OptionValue: "BrandID", DisplayText: "BrandName" });
        $("#cboSession").icsLoadCombo({ List: _oBusinessSessions, OptionValue: "BusinessSessionID", DisplayText: "SessionName" });
        $("#cboMerchandiser").icsLoadCombo({ List: _oMerchandisers, OptionValue: "EmployeeID", DisplayText: "Name" });
    });
    function SetTodayDate()
    {
        $('#txtStartPlanDate').datebox('setValue', icsdateformat(new Date()));
        $('#txtEndPlanDate').datebox('setValue',icsdateformat(new Date()));
    }

    $('._select_changeA').change(function () {
        debugger;
        var x = $("#cboPlanDate").val();
        if (x == "EqualTo" || x == "NotEqualTo" || x == "GreaterThen" || x == "SmallerThen") {
            document.getElementById("enddate").style.display = 'none';
            document.getElementById("enddateT").style.display = 'none';
        }
        else {
            document.getElementById("enddate").style.display = '';
            document.getElementById("enddateT").style.display = '';
        }
    });

    function PickOrderRecap()
    {
        var oOrderRecap = { OrderRecapNo: '',BUID:sessionStorage.getItem('BUID')};
        var obj = {
            BaseAddress: _sBaseAddress,
            Object: oOrderRecap,
            ControllerName: "OrderRecap",
            ActionName: "GetOrderRecaps",
            IsWinClose: false
        };
        $.icsDataGets(obj, function (response) {
            debugger;
            if (response.status && response.objs.length > 0) {
                if (response.objs[0].OrderRecapID > 0) {
                    debugger;
                    var tblColums = []; var oColumn = { field: "OrderRecapNo", title: "Recap No", width: 150, align: "left" }; tblColums.push(oColumn);
                    oColumn = { field: "StyleNo", title: "Style No", width: 150, align: "left" }; tblColums.push(oColumn);
                    var oPickerParam = {
                        winid: 'winOrderRecap',
                        winclass: 'clsOrderRecap',
                        winwidth: 600,
                        winheight: 460,
                        tableid: 'tblOrderRecaps',
                        tablecolumns: tblColums,
                        datalist: response.objs,
                        multiplereturn: false,
                        searchingbyfieldName: 'OrderRecapNo',
                        windowTittle: 'Recap List'
                    };
                    $.icsPicker(oPickerParam);
                    IntializePickerbutton(oPickerParam);
                }
                else { alert(response.objs[0].ErrorMessage); }
            }
        });
    }

    $('#txtOrderRecapNo').keydown(function (e) {
        //debugger;
        var code = (e.keyCode ? e.keyCode : e.which);
        if (code == 13) // Enter Press
        {
            var oOrderRecap = { OrderRecapNo: $('#txtOrderRecapNo').val(), BUID:sessionStorage.getItem('BUID')};
            var obj = {
                BaseAddress: _sBaseAddress,
                Object: oOrderRecap,
                ControllerName: "OrderRecap",
                ActionName: "GetOrderRecaps",
                IsWinClose: false
            };
            $.icsDataGets(obj, function (response) {
                debugger;
                if (response.status && response.objs.length > 0) {
                    if (response.objs[0].OrderRecapID > 0) {
                        debugger;
                        var tblColums = []; var oColumn = { field: "OrderRecapNo", title: "Recap No", width: 150, align: "left" }; tblColums.push(oColumn);
                        oColumn = { field: "StyleNo", title: "Style No", width: 150, align: "left" }; tblColums.push(oColumn);
                        var oPickerParam = {
                            winid: 'winOrderRecap',
                            winclass: 'clsOrderRecap',
                            winwidth: 600,
                            winheight: 460,
                            tableid: 'tblOrderRecaps',
                            tablecolumns: tblColums,
                            datalist: response.objs,
                            multiplereturn: false,
                            searchingbyfieldName: 'OrderRecapNo',
                            windowTittle: 'Recap List'
                        };
                        $.icsPicker(oPickerParam);
                        IntializePickerbutton(oPickerParam);
                    }
                    else { alert(response.objs[0].ErrorMessage); }
                }
            });
        }else if (code == 8) //backspace=8
        {
            //debugger;
            var txtOrderRecapNo=document.getElementById("txtOrderRecapNo");
            txtOrderRecapNo.style.color="black";
            txtOrderRecapNo.style.fontWeight="normal";
            _nOrderRecapID = 0;
        }
    });

    $('#btnRefresh').click(function () {
        debugger;
        var cboPlanDate = document.getElementById("cboPlanDate");
        var ncboPlanDate=cboPlanDate.options[cboPlanDate.selectedIndex].index;

        var cboApproveBy=document.getElementById("cboApproveBy");
        var nApproveByID=cboApproveBy.options[cboApproveBy.selectedIndex].value;

        var cboMerchandiser=document.getElementById("cboMerchandiser");
        var nMerchandiserID=cboMerchandiser.options[cboMerchandiser.selectedIndex].value;

        var sPlanNo= $("#txtPlanNo").val();
        var sStyleNo= $("#txtStyle").val();
        var sRecapNo= $("#txtOrderRecapNo").val();

        var dissueStartDate=$('#txtStartPlanDate').datebox('getValue');
        var dIssueEndDate=$('#txtEndPlanDate').datebox('getValue');
        var nBrandID = $('#cboBrand').val();
        var nSessionID = $('#cboSession').val();
        var bIsRunning =  false;
        if(document.getElementById("chkIsrunning").checked == true)
        {
            bIsRunning = true;
        }
        var chkResult = CheckEmpty();
        if(chkResult!=true)
        {
            alert("Please Select at least one Criteria !!");
            return;
        }
        var sTempString = ncboPlanDate+'~'+dissueStartDate+'~'+dIssueEndDate+'~'+sPlanNo+'~'+_nTechnicalSheetID+'~'+nApproveByID+'~'+_nBuyerIDs+'~'+_nOrderRecapID+'~'+nBrandID+'~'+_nFactoryIDs+'~'+nMerchandiserID+'~'+nSessionID+'~'+bIsRunning+'~true'+'~'+sessionStorage.getItem('BUID');

        $.ajax({
            type: "GET",
            dataType: "json",
            url: '@Url.Action("Gets", "TAPExecution")',
            data: { sTemp: sTempString },
            contentType: "application/json; charset=utf-8",
            success: function (data) {
                //debugger;
                var  oTAPs = jQuery.parseJSON(data);
                if (oTAPs != null) {
                    if(oTAPs.length>0)
                    {
                        RefreshListForSearch(oTAPs);
                    }
                    else
                    {
                        alert("Data not found!!");
                        RefreshListForSearch(oTAPs);
                    }
                }
            },
            error: function (xhr, status, error) {
                alert(error);
            }
        });

    });


    function RefreshListForSearch(oTAPs)
    {
        data =oTAPs;
        data={"total":""+data.length+"","rows":data};
        $('#tblTAP').datagrid('loadData',data);
    }

    function SearchReset() {
        debugger;
        $("#txtPlanNo").val('');
        $("#txtOrderRecapNo").val('');
        $("#txtStyle").val('');
        $("#txtBuyer").val('');
        $("#txtFactory").val('');

        var txtBuyer=document.getElementById("txtBuyer");
        txtBuyer.style.color="black";
        txtBuyer.style.fontWeight="normal";

        var txtFactory=document.getElementById("txtFactory");
        txtFactory.style.color="black";
        txtFactory.style.fontWeight="normal";

        var txtStyle=document.getElementById("txtStyle");
        txtStyle.style.color="black";
        txtStyle.style.fontWeight="normal";
        document.getElementById("enddate").style.display = '';
        document.getElementById("enddateT").style.display = '';
        $('#cboMerchandiser').val(0);
        $('#cboApproveBy').val(0);
        $('#cboBrand').val(0);
        $('#cboSession').val(0);
        _nBuyerIDs ="";
        _nFactoryIDs = "";
        _nOrderRecapID = 0;
        _nTechnicalSheetID = 0;
        $('#cboPlanDate').val('None');
        document.getElementById("chkIsrunning").checked = false;
        SetTodayDate();
        var oTAPs=[];
        RefreshListForSearch(oTAPs);
    }

    function CheckEmpty()
    {
        var cboPlanDate = document.getElementById("cboPlanDate");
        var ncboPlanDate=cboPlanDate.options[cboPlanDate.selectedIndex].index;
        var cboApproveBy=document.getElementById("cboApproveBy");
        var nApproveByID=cboApproveBy.options[cboApproveBy.selectedIndex].value;
        var sPlanNo= document.getElementById("txtPlanNo").value;
        var sStyleNo= document.getElementById("txtStyle").value;
        var sRecapNo= document.getElementById("txtOrderRecapNo").value;

        var cboMerchandiser=document.getElementById("cboMerchandiser");
        var nMerchandiserID=cboMerchandiser.options[cboMerchandiser.selectedIndex].value;
        var bIsRunning =  false;
        if(document.getElementById("chkIsrunning").checked == true)
        {
            bIsRunning = true;
        }

        var nBrandID = $('#cboBrand').val();
        var nSessionID = $('#cboSession').val();
        if( ncboPlanDate==0 && nApproveByID==0  && _nBuyerIDs=="" && _nFactoryIDs==""  && sPlanNo==""  && _nOrderRecapID ==0 && _nTechnicalSheetID == 0 && nBrandID==0 && nMerchandiserID ==0 && nSessionID==0 && bIsRunning==false)
        {
            return false;
        }
        return true;
    }

    function Close()
    {
        $("#winTAPAdvanceSearch").icsWindow('close');
    }

    function OkButtonClick()
    {
        //debugger;
        _oTAPs=[];
        _oTAPs = $('#tblTAP').datagrid('getChecked');
        if(_oTAPs.length<=0)
        {
            alert("please select at least one item");
            return;
        }
        document.getElementById('divMain').innerHTML = ''; //Reset
        _oTAPDetails=[];//Reset
        $('#lblMaxValue').html(5);
        _nMin = 0;_nMax = 5;_nCount = 0;//Reset all value
        LoadTAPDetails(_oTAPs);
        $("#winTAPAdvanceSearch").icsWindow('close');
    }

    // Search Style Start
    function PickStyle()
    {
        //debugger;
        var oTechnicalSheet = { StyleNo:'',BUID:sessionStorage.getItem('BUID')};
        var obj = {
            BaseAddress: _sBaseAddress,
            Object: oTechnicalSheet,
            ControllerName: "TechnicalSheet",
            ActionName: "StyleSearch",
            IsWinClose: false
        };
        $.icsDataGets(obj, function (response) {
            debugger;
            if (response.status && response.objs.length > 0) {
                if (response.objs[0].TechnicalSheetID > 0) {
                    debugger;
                    var tblColums = []; var oColumn = { field: "StyleNo", title: "Style No", width: 150, align: "left" }; tblColums.push(oColumn);
                    oColumn = { field: "BuyerName", title: "Buyer", width: 150, align: "left" }; tblColums.push(oColumn);
                    var oPickerParam = {
                        winid: 'winStyles',
                        winclass: 'clsStyle',
                        winwidth: 600,
                        winheight: 460,
                        tableid: 'tblStyles',
                        tablecolumns: tblColums,
                        datalist: response.objs,
                        multiplereturn: false,
                        searchingbyfieldName: 'StyleNo',
                        windowTittle: 'Style List'
                    };
                    $.icsPicker(oPickerParam);
                    IntializePickerbutton(oPickerParam);
                }
                else { alert(response.objs[0].ErrorMessage); }
            }else
            {
                alert("Data Not Found.");
                return;
            }
        });
    }
    $('#txtStyle').keydown(function (e) {
        //debugger;
        var code = (e.keyCode ? e.keyCode : e.which);
        if (code == 13) // Enter Press
        {
            var oTechnicalSheet = { StyleNo: $('#txtStyle').val(),BUID:sessionStorage.getItem('BUID')};
            var obj = {
                BaseAddress: _sBaseAddress,
                Object: oTechnicalSheet,
                ControllerName: "TechnicalSheet",
                ActionName: "StyleSearch",
                IsWinClose: false
            };
            $.icsDataGets(obj, function (response) {
                debugger;
                if (response.status && response.objs.length > 0) {
                    if (response.objs[0].TechnicalSheetID > 0) {
                        debugger;
                        var tblColums = []; var oColumn = { field: "StyleNo", title: "Style No", width: 150, align: "left" }; tblColums.push(oColumn);
                        oColumn = { field: "BuyerName", title: "Buyer", width: 150, align: "left" }; tblColums.push(oColumn);
                        var oPickerParam = {
                            winid: 'winStyles',
                            winclass: 'clsStyle',
                            winwidth: 600,
                            winheight: 460,
                            tableid: 'tblStyles',
                            tablecolumns: tblColums,
                            datalist: response.objs,
                            multiplereturn: false,
                            searchingbyfieldName: 'StyleNo',
                            windowTittle: 'Style List'
                        };
                        $.icsPicker(oPickerParam);
                        IntializePickerbutton(oPickerParam);
                    }
                    else { alert(response.objs[0].ErrorMessage); }
                }else
                {
                    alert("Data Not Found.");
                    return;
                }
            });
        }else if (code == 8) //backspace=8
        {
            //debugger;
            var txtStyle=document.getElementById("txtStyle");
            txtStyle.style.color="black";
            txtStyle.style.fontWeight="normal";
            _nTechnicalSheetID = 0;

        }
    });
    // Search Style End


    // Search Buyer Start
    function BuyerPicker(){
        debugger;
        var oContractor = { Params:2+'~'+''+'~'+sessionStorage.getItem('BUID')};
        var obj = {
            BaseAddress: _sBaseAddress,
            Object: oContractor,
            ControllerName: "Contractor",
            ActionName: "ContractorSearchByNameType",
            IsWinClose: false
        };
        $.icsDataGets(obj, function (response) {
            debugger;
            if (response.status && response.objs.length > 0) {
                if (response.objs[0].ContractorID > 0) {
                    var tblColums = [];var oColumn = { field: "Name", title: "Name", width: 200, align: "left" }; tblColums.push(oColumn);
                    oColumn = { field: "Address", title: "Address", width: 120, align: "left" }; tblColums.push(oColumn);
                    oColumn = { field: "Email", title: "Email", width: 90, align: "left" }; tblColums.push(oColumn);
                    oColumn = { field: "ShortName", title: "Short Name", width: 90, align: "left" }; tblColums.push(oColumn);
                    var oPickerParam = {
                        winid: 'winBuyers',
                        winclass: 'clsBuyer',
                        winwidth: 600,
                        winheight: 460,
                        tableid: 'tblBuyers',
                        tablecolumns: tblColums,
                        datalist: response.objs,
                        multiplereturn: true,
                        searchingbyfieldName: 'Name',
                        windowTittle: 'Buyer List'
                    };
                    $.icsPicker(oPickerParam);
                    IntializePickerbutton(oPickerParam);
                }
                else { alert(response.objs[0].ErrorMessage); }
            }else
            {
                alert("Data Not Found.");
                return;
            }
        });

    }
    $("#txtBuyer").keydown(function (e) {
        debugger;
        var code = (e.keyCode ? e.keyCode : e.which);
        if (code == 13) // Enter Press
        {
            var oContractor = { Params: 2 + '~' + $('#txtBuyer').val()+'~'+sessionStorage.getItem('BUID') };
            var obj = {
                BaseAddress: _sBaseAddress,
                Object: oContractor,
                ControllerName: "Contractor",
                ActionName: "ContractorSearchByNameType",
                IsWinClose: false
            };
            $.icsDataGets(obj, function (response) {
                debugger;
                if (response.status && response.objs.length > 0) {
                    if (response.objs[0].ContractorID > 0) {
                        debugger;
                        var tblColums = [];var oColumn = { field: "Name", title: "Name", width: 200, align: "left" }; tblColums.push(oColumn);
                        oColumn = { field: "Address", title: "Address", width: 120, align: "left" }; tblColums.push(oColumn);
                        oColumn = { field: "Email", title: "Email", width: 90, align: "left" }; tblColums.push(oColumn);
                        oColumn = { field: "ShortName", title: "Short Name", width: 90, align: "left" }; tblColums.push(oColumn);
                        var oPickerParam = {
                            winid: 'winBuyers',
                            winclass: 'clsBuyer',
                            winwidth: 600,
                            winheight: 460,
                            tableid: 'tblBuyers',
                            tablecolumns: tblColums,
                            datalist: response.objs,
                            multiplereturn: false,
                            searchingbyfieldName: 'Name',
                            windowTittle: 'Buyer List'
                        };
                        $.icsPicker(oPickerParam);
                        IntializePickerbutton(oPickerParam);
                    }
                    else { alert(response.objs[0].ErrorMessage); }
                }else
                {
                    alert("Data Not Found.");
                    return;
                }
            });
        }else  if (code == 8) //backspace=8
        {
            //debugger;
            var txtBuyer=document.getElementById("txtBuyer");
            txtBuyer.style.color="black";
            txtBuyer.style.fontWeight="normal";
            _nBuyerIDs="";

        }
    });
    // Search Buyer End



    // Search Factory Start
    $("#txtFactory").keydown(function (e) {
        debugger;
        var code = (e.keyCode ? e.keyCode : e.which);
        if (code == 13) // Enter Press
        {
            var oContractor = { Params: 3 + '~' + $('#txtFactory').val()+'~'+sessionStorage.getItem('BUID') };
            var obj = {
                BaseAddress: _sBaseAddress,
                Object: oContractor,
                ControllerName: "Contractor",
                ActionName: "ContractorSearchByNameType",
                IsWinClose: false
            };
            $.icsDataGets(obj, function (response) {
                debugger;
                if (response.status && response.objs.length > 0) {
                    if (response.objs[0].ContractorID > 0) {
                        debugger;
                        var tblColums = [];var oColumn = { field: "Name", title: "Name", width: 200, align: "left" }; tblColums.push(oColumn);
                        oColumn = { field: "Address", title: "Address", width: 120, align: "left" }; tblColums.push(oColumn);
                        oColumn = { field: "Email", title: "Email", width: 90, align: "left" }; tblColums.push(oColumn);
                        oColumn = { field: "ShortName", title: "Short Name", width: 90, align: "left" }; tblColums.push(oColumn);
                        var oPickerParam = {
                            winid: 'winFactorys',
                            winclass: 'clsFactory',
                            winwidth: 600,
                            winheight: 460,
                            tableid: 'tblFactorys',
                            tablecolumns: tblColums,
                            datalist: response.objs,
                            multiplereturn: false,
                            searchingbyfieldName: 'Name',
                            windowTittle: 'Factory List'
                        };
                        $.icsPicker(oPickerParam);
                        IntializePickerbutton(oPickerParam);
                    }
                    else { alert(response.objs[0].ErrorMessage); }
                }else
                {
                    alert("Data Not Found.");
                    return;
                }
            });
        }else  if (code == 8) //backspace=8
        {
            //debugger;
            var txtFactory=document.getElementById("txtFactory");
            txtFactory.style.color="black";
            txtFactory.style.fontWeight="normal";
            _nFactoryIDs ="";
        }
    });
    function FactoryPicker(){
        //debugger;
        var oContractor = { Params: 3 +'~'+''+'~'+sessionStorage.getItem('BUID')};
        var obj = {
            BaseAddress: _sBaseAddress,
            Object: oContractor,
            ControllerName: "Contractor",
            ActionName: "ContractorSearchByNameType",
            IsWinClose: false
        };
        $.icsDataGets(obj, function (response) {
            debugger;
            if (response.status && response.objs.length > 0) {
                if (response.objs[0].ContractorID > 0) {
                    debugger;
                    var tblColums = [];var oColumn = { field: "Name", title: "Name", width: 200, align: "left" }; tblColums.push(oColumn);
                    oColumn = { field: "Address", title: "Address", width: 120, align: "left" }; tblColums.push(oColumn);
                    oColumn = { field: "Email", title: "Email", width: 90, align: "left" }; tblColums.push(oColumn);
                    oColumn = { field: "ShortName", title: "Short Name", width: 90, align: "left" }; tblColums.push(oColumn);
                    var oPickerParam = {
                        winid: 'winFactorys',
                        winclass: 'clsFactory',
                        winwidth: 600,
                        winheight: 460,
                        tableid: 'tblFactorys',
                        tablecolumns: tblColums,
                        datalist: response.objs,
                        multiplereturn: false,
                        searchingbyfieldName: 'Name',
                        windowTittle: 'Factory List'
                    };
                    $.icsPicker(oPickerParam);
                    IntializePickerbutton(oPickerParam);
                }
                else { alert(response.objs[0].ErrorMessage); }
            }else
            {
                alert("Data Not Found.");
                return;
            }
        });
    }
    // Search Factory End

    function IntializePickerbutton(oPickerobj) {
        debugger;
        $("#" + oPickerobj.winid).find("#btnOk").click(function () {
            debugger;
            //for Single Select
            PickerEvents(oPickerobj);
        });
        $(document).find('.' + oPickerobj.winclass).keydown(function (e) {
            if (e.which == 13)//enter=13
            {
                PickerEvents(oPickerobj);
            }
        });
    }
    function PickerEvents(oPickerobj) {
        var oreturnobj = null, oreturnobjs = [];
        if (oPickerobj.multiplereturn)
        {
            oreturnobjs = $('#' + oPickerobj.tableid).datagrid('getChecked');
        } else
        {
            oreturnobj = $('#' + oPickerobj.tableid).datagrid('getSelected');
        }

        $("#" + oPickerobj.winid).icsWindow("close");
        $("#" + oPickerobj.winid).remove();
        if (oPickerobj.winclass == 'clsBuyer')
        {
            _nBuyerIDs = "";
            if (oPickerobj.multiplereturn)
            {
                var ncount = 0;
                for (var i = 0; i <oreturnobjs.length; i++) {
                    var nSupplierID = oreturnobjs[i].ContractorID;
                    _nBuyerIDs = _nBuyerIDs + nSupplierID + ',';
                    ncount++;
                }
                if (ncount > 1)
                {
                    $('#txtBuyer').val("Select " + ncount + " Buyer's");
                } else
                {
                    $('#txtBuyer').val(oreturnobjs[0].Name);
                }
                _nBuyerIDs = _nBuyerIDs.substring(0, _nBuyerIDs.length - 1);

            } else
            {
                $('#txtBuyer').val(oreturnobj.Name);
                _nBuyerIDs = "" + oreturnobj.ContractorID + "";
                $('#txtBuyer').focus();
            }
            var txtBuyerName = document.getElementById("txtBuyer");
            txtBuyerName.style.color = "blue";
            txtBuyerName.style.fontWeight = "bold";
        } else if (oPickerobj.winclass == 'clsFactory')
        {
            _nFactoryIDs = "";
            if (oPickerobj.multiplereturn)
            {
                var ncount = 0;
                for (var i = 0; i <oreturnobjs.length; i++) {
                    var nSupplierID = oreturnobjs[i].ContractorID;
                    _nFactoryIDs = _nFactoryIDs + nSupplierID + ',';
                    ncount++;
                }
                if (ncount > 1)
                {
                    $('#txtFactory').val("Select " + ncount + " Factory's");
                } else
                {
                    $('#txtFactory').val(oreturnobjs[0].Name);
                }
                _nFactoryIDs = _nFactoryIDs.substring(0, _nFactoryIDs.length - 1);

            } else
            {
                $('#txtFactory').val(oreturnobj.Name);
                _nFactoryIDs = "" + oreturnobj.ContractorID + "";
                $('#txtFactory').focus();
            }
            var txtFactory = document.getElementById("txtFactory");
            txtFactory.style.color = "blue";
            txtFactory.style.fontWeight = "bold";
        }else if (oPickerobj.winclass == 'clsStyle')
        {
            $('#txtStyle').val(oreturnobj.StyleNo);
            _nTechnicalSheetID = oreturnobj.TechnicalSheetID;
            $('#txtStyle').focus();
            var txtStyle = document.getElementById("txtStyle");
            txtStyle.style.color = "blue";
            txtStyle.style.fontWeight = "bold";
        }else if (oPickerobj.winclass == 'clsOrderRecap')
        {
            $('#txtOrderRecapNo').val(oreturnobj.StyleNo+"/"+ oreturnobj.OrderRecapNo);
            _nOrderRecapID = oreturnobj.OrderRecapID;
            $('#txtOrderRecapNo').focus();
            var txtOrderRecapNo = document.getElementById("txtOrderRecapNo");
            txtOrderRecapNo.style.color = "blue";
            txtOrderRecapNo.style.fontWeight = "bold";
        }
    }

    /*search End*/


    function Print()
    {
        var nCountID = 0;
        if(_oTAPs.length<=0)
        {
            alert("Please Pick Plan");
            return;
        }
        var sIDs = "";
        for(var i=0;i<_oTAPs.length;i++)
        {
            nCountID++;
            sIDs+=_oTAPs[i].TAPID+',';
        }
        sIDs = sIDs.substring(0,sIDs.length-1);
        window.open(_sBaseAddress + '/TAPExecution/TAPPrint?IDs='+sIDs+'&nCountID='+nCountID);

    }
    function GetTableWidth(nTAPID)
    {
        debugger;
        var nCount = 0;
        for(var i = 0;i<_oTAPDetails.length;i++)
        {
            if(parseInt(_oTAPDetails[i].TAPID)== parseInt(nTAPID))
            {
                nCount = parseInt(nCount) + parseInt( _oTAPDetails[i].ChildOrderSteps.length);
            }
        }
        return parseInt(nCount) * parseInt(170);//
    }

    function MakeDynamicFollowUpDiv(oTAPs)
    {
        // debugger;


        var nLength =  oTAPs.length;
        for(var i = 0;i<nLength;i++)
        {
            var sDivId = "div"+oTAPs[i].TAPID;//Dynamic Div id
            var dTempDIv = "<div style= width:100%; height:165px; padding-bottom:5px; class = "+sDivId+" ></div>";
            $( "#divMain" ).append(dTempDIv);

            var sTempTableID= "tblTAP"+oTAPs[i].TAPID;//Dynamic Table Id
            //var sTableWidth = GetTableWidth(oTAPs[i].TAPID);
            var sTableTittle = "<label  style=font-size:11px;> Plan No: "+oTAPs[i].PlanNo+" || Style No: "+oTAPs[i].StyleNo+ " || Recap No: "+oTAPs[i].OrderRecapNo+"|| Buyer: "+oTAPs[i].BuyerName+" || Shipment Date: "+oTAPs[i].ShipmentDateInString+" || Factory : "+oTAPs[i].ProductionFactoryName+" || Qty : "+formatPricewithoutdecimal(oTAPs[i].Quantity)+" "+oTAPs[i].UnitName+" || Merchandiser :"+ oTAPs[i].MerchandiserName+"</label>";
            var tTempTable = "<table id = "+sTempTableID+" title= '"+sTableTittle+"' rownumbers = true  singleselect = true  autorowheight = false  fitcolumns=true  style= width:100%;height:175px;vertical-align:middle ></table>";
            sDivId="."+sDivId;//set for Class of div
            $(sDivId).append(tTempTable);
            sTempTableID = "#"+sTempTableID;//set for id of Table
            MakeDynamicTable(sTempTableID, oTAPs[i]);

        }
    }

    function MakeDynamicTable(sTempTableID, oTAP)
    {
        debugger;
        var nTAPID =  oTAP.TAPID;
        var tblColums=[];
        var tblChildColumns = [];
        var tblFrozenColumns = [];
        var oColumn=null;
        var oTAPDetails = GetTAPDetails(nTAPID);

        var count =0;
        var nChildStepCount = 0;
        var nTempStepsLength = 0;
        var nDynamicWidth = 0;
        for(var i=0; i<oTAPDetails.length;i++)
        {
            count++;
            var oTempSteps =  oTAPDetails[i].ChildOrderSteps;
            nTempStepsLength = oTempSteps.length;
            nDynamicWidth = (parseInt(nTempStepsLength) * parseInt(210));//Make dynamic Width
            var sExecutionDateInString = '';
            //0=Nocolor;1=Green;2=Yellow;3=Red
            var nColorCalculate = GetColorNumber(oTAPDetails[i], oTAPDetails[i].TAPExecution);//calculate Color Number
            if(oTAPDetails[i].ExecutionIsDone)
            {
                sExecutionDateInString = "</br>Done: "+oTAPDetails[i].ExecutionDoneDateInString;
            }
            var dynamicdataDiv = "<div id='divParent' style = 'background-color:"+cellStyler(nColorCalculate)+";color:black;text-align:center'>"+oTAPDetails[i].OrderStepName+" ("+oTAPDetails[i].ApprovalPlanDateInString+")"+sExecutionDateInString+"</div>";
            //if(parseInt(nTempStepsLength)==1 || parseInt(nDynamicWidth) <parseInt($('#divParent').width()))
            //{
            //    nDynamicWidth = $('#divParent').width();
            //}
            oColumn= {
                field:"OrderStep"+count,
                title: dynamicdataDiv,
                width:''+nDynamicWidth+'',
                colspan: nTempStepsLength
            };
            tblColums.push(oColumn);
            for(var j=0;j<nTempStepsLength;j++)//Objects make for Colspan rows
            {
                var nChildDynamicWidth = parseInt(parseInt(nDynamicWidth)/parseInt(nTempStepsLength));
                if(parseInt(nTempStepsLength)==1)
                {
                    nChildDynamicWidth = nDynamicWidth;
                }
                nColorCalculate = GetColorNumber(oTempSteps[j], oTempSteps[j].TAPExecution);//calculate Color Number
                dynamicdataDiv = "<div style = 'background-color:"+cellStyler(nColorCalculate)+";color:black;text-align:center'>"+oTempSteps[j].OrderStepName+"</br>"+oTempSteps[j].ApprovalPlanDateInString+"</div>";
                nChildStepCount++;
                oColumn= {
                    field:"ChildOrderStep"+nChildStepCount,
                    title: dynamicdataDiv,
                    width:''+nChildDynamicWidth+'',
                    //rowspan:2,
                    align: "center"
                };
                tblChildColumns.push(oColumn);
            }
        }

        $(sTempTableID).datagrid({columns:[tblColums,tblChildColumns]});
        LoadData(sTempTableID, oTAP, oTAPDetails);
    }

    function GetColorNumber(oTAPDetail, oTAPExecution)
    {
        debugger;
        var dTempAPDate = new Date(oTAPDetail.ApprovalPlanDateInString);
        var dTempDoneDate = new Date(oTAPExecution.DoneDateInString);
        var  dTodayDate =  new Date(icsdateformat(new Date()));
        if((oTAPDetail.ApprovalPlanDateInString)!='01 Jan 0001')
        {

            if(oTAPExecution.IsDone==true)
            {
                if(dTempAPDate>= dTempDoneDate)
                {
                    return 1;//Green color ;; On Time or before
                }else{
                    return 2;//Yellow Color ;; Late Done
                }

            }else{

                if(dTempAPDate>= dTodayDate)
                {
                    return 0;//No color ;; not done date not expired
                }else{
                    return 3;//Red Color ;; Not Done but date is Expired
                }
            }
        }

        return 0;// No Color
    }

    function cellStyler(value)
    {
        debugger;
        //0=Nocolor;1=Green;2=Yellow;3=Red
        if (parseInt(value)==1)
        {
            return "#04B431";

        }else if(parseInt(value)==2)
        {
            return "Yellow";
        }else if(parseInt(value)==3)
        {
            return "Red";
        }else{
            return "White";
        }
    }

    function LoadData(sTempTableID, oTAP, oTAPDetails)
    {
        var oTempList =[];

        var  oTempObj = MakeActualDataObject(oTAP, oTAPDetails); // Make  Object Actual Data Object
        oTempList.push(oTempObj);
        RefreshList(oTempList, sTempTableID);

    }

    function RefreshList(oTempList, sTableID)
    {
        data=oTempList;
        data={"total":""+data.length+"","rows":data};
        $(sTableID).datagrid('loadData',data);
    }
    function Next()
    {
        _nMin = parseInt(_nMax);
        _nMax = parseInt(parseInt(_nMax) + 5);//increment 5 pcs
        LoadTAPDetails(_oTAPs);
    }

    function LoadTAPDetails(oTAPs)
    {
        debugger;
        $("#progressbar").progressbar({value: 0 });
        $("#progressbarParent").show();
        var intervalID = setInterval(updateProgress, 250);

        _oTAPDetails = [];//Reset TAP Detail
        _nRuningCount = 0;//Reset Running count
        $('#lblMinvalue').html(1);//Reset Min value in screen

        $('#lblTotalValue').html(oTAPs.length);//Reset toal value in screen
        var oTempTAPs = [];
        if(parseInt(_nCount)>=0 && parseInt(_nCount)<=oTAPs.length)
        {
            if(parseInt(oTAPs.length)>= parseInt(_nMax))
            {
                _nLoopCount = _nMax;//for every 5 mulitple
            }else{
                _nLoopCount =  (parseInt(oTAPs.length) - parseInt(_nCount))+ parseInt(_nCount); //for last remaining qty
            }
            $('#lblMaxValue').html(_nLoopCount);//Reset Max value in screen
            for(var i = _nMin;i<_nLoopCount;i++)
            {
                oTempTAPs.push(oTAPs[i]);
                _nCount++;

            }
        }else{
            return;
        }
        var oTAP = {TAPs:oTempTAPs};
        if(oTempTAPs.length>0)
        {

            $.ajax({
                type: "POST",
                dataType: "json",
                url : _sBaseAddress+"/TAPExecution/GetTAPDetials",
                traditional: true,
                data:  JSON.stringify(oTAP),
                contentType: "application/json; charset=utf-8",
                success: function (data) {
                    //debugger;
                    _oTAPDetails = jQuery.parseJSON(data);
                    if (_oTAPDetails.length>0  &&  _oTAPDetails[0].ErrorMessage == "")
                    {
                        debugger;
                        MakeDynamicFollowUpDiv(oTempTAPs);
                        $("#progressbar").progressbar({value: 100});
                        clearInterval(intervalID);
                        $("#progressbarParent").hide();
                    }else{
                        alert(_oTAPDetails[0].ErrorMessage);
                    }
                },
                error: function (xhr, status, error) {
                    alert(error);
                }

            });

        }
    }

    function GetTAPDetails(nTAPID)
    {
        var oTempTAPDetails = [];
        var nLength = _oTAPDetails.length;
        for(var i =0;i< nLength;i++)
        {
            if( parseInt(_oTAPDetails[i].TAPID)== parseInt(nTAPID))
            {
                oTempTAPDetails.push(_oTAPDetails[i]);
            }
        }
        return oTempTAPDetails;
    }

    function MakeActualDataObject(oTAP, oTAPDetails)
    {
        debugger;
        var oTempObj = CreateTempObject(oTAPDetails);
        var nTempCount = 1;
        var nLength = oTAPDetails.length;
        for(var j = 0;j<nLength;j++)
        {
            if(oTAPDetails[j].TAPExecutions!= null)
            {
                var oTempTAPExecutions = oTAPDetails[j].TAPExecutions;
                var nExecLength = oTAPDetails[j].TAPExecutions.length;
                for(var i = 0;i<nExecLength;i++)
                {
                    oTempObj['ChildOrderStep'+nTempCount] = oTempTAPExecutions[i].UpdatedData;
                    nTempCount = parseInt(nTempCount)+ parseInt(1);
                }
            }
        }
        return oTempObj;
    }

    function CreateTempObject(oTAPDetails)
    {
        var nTotalChildStep = 0;
        var nLength = oTAPDetails.length;
        for(var i = 0;i<nLength;i++)
        {
            nTotalChildStep = parseInt(nTotalChildStep) + parseInt(oTAPDetails[i].ChildOrderSteps.length);
        }
        var oTempObj = {};
        for(var i=1;i<=nTotalChildStep;i++)
        {
            oTempObj["ChildOrderStep"+i] ='';
        }
        return oTempObj;
    }

    function RefreshControlLayout()
    {
        document.getElementById('btnSearch').style.display = 'none';
        document.getElementById('btnAdd').style.display = 'none';
        document.getElementById('btnEdit').style.display = 'none';
        document.getElementById('btnDelete').style.display = 'none';
        document.getElementById('btnView').style.display = 'none';


        if(HavePermission('AdvSearch','TAPExecution')){document.getElementById('btnSearch').style.display = '';}
        if(HavePermission('Add','TAPExecution')){document.getElementById('btnAdd').style.display = '';}
        if(HavePermission('Edit','TAPExecution')){document.getElementById('btnEdit').style.display = '';}
        if(HavePermission('Delete','TAPExecution')){document.getElementById('btnDelete').style.display = '';}
        if(HavePermission('View','TAPExecution')){document.getElementById('btnView').style.display = '';}
    }

    function HavePermission(sOperationType, sDbObject)
    {
        var nSessionID =@Html.Raw( new System.Web.Script.Serialization.JavaScriptSerializer().Serialize(HttpContext.Current.Session[SessionInfo.currentUserID]));
        if(nSessionID == -9) //check SuperUser
        {
            return true;
        }else
        {

            for(var i =0;i<_oAuthorizationRolesMapping.length;i++)
            {
                if(_oAuthorizationRolesMapping[i].OperationTypeInString == sOperationType && _oAuthorizationRolesMapping[i].DBObjectName == sDbObject)
                    return  true;
            }
            return false;
        }
    }
    </script>
