@{
    ViewBag.Title = "Employee Settlement";
}
<html>
<head>
    <title>  </title>
</head>
<body class="menuMainCollectionTable">
    @{var MenuID = HttpContext.Current.Session[SessionInfo.MenuID];}
    @model ESimSol.BusinessObjects.EmployeeSettlement
    @Html.Raw(File.ReadAllText(Server.MapPath("~/Views/Employee/EmpPicker.html")))
    @Html.Raw(File.ReadAllText(Server.MapPath("~/Views/Department/DepartmentPicker.html")))
    <script src="~/Views/Employee/EmpPicker.js"></script>
    <div style="font-family:Tahoma; width:100%; margin-left:0%;margin-top:0%;margin-left:0%; height:80%">
        <fieldset style="width:98%; height:100%">
            <legend style="font-weight:bold"> Employee Settlement </legend>
            <table border="0" cellspacing="2" cellpadding="2" style="font-size:11px; font-weight: bold; width:100%">
                <tr style="width:100%">
                    <td style=" text-align:right;width:15%;">
                        Employee :
                    </td>
                    <td style=" text-align:left;width:85%;" colspan="3">
                        <input id="txtEmployee" type="text" style="width:68%;" placeholder="Type name or code then enter" />
                        <a id="btnEmployee" href="javascript:void(0)" class="easyui-linkbutton" plain="true" iconcls="icon-pick"></a>
                        <a id="btnCEmployee" href="javascript:void(0)" class="easyui-linkbutton" plain="true" iconcls="icon-clear"></a>
                        @*<input type="button" value="P" id="btnEmployee" />*@
                    </td>
                </tr>
                <tr style="width:100%">
                    <td style=" text-align:right;width:15%;">
                        Settlemnt Type :
                    </td>
                    <td style=" text-align:left;width:85%;" colspan="3">
                        <select id="cboSettlementType" style="width:74.5%">
                            
                        </select>
                    </td>
                </tr>
                <tr id="tr_EffectDateonly" style="width:100%">
                    <td style=" text-align:right;width:15%;">
                        Last Working Day :
                    </td>
                    <td style=" text-align:left;width:85%;" colspan="3">
                        <input id="dtEffectDate_only" type="text" style="width:75%;" class="easyui-datebox" data-options="formatter:icsdateformat,parser:icsdateparser" />
                    </td>
                </tr>
                <tr  id="tr_Date" style="width:100%">
                    <td style=" text-align:right;width:15%;">
                        Submission Date :
                    </td>
                    <td style=" text-align:left;width:30%;">
                        <input id="dtSubmissionDate" type="text" style="width:80%;" class="easyui-datebox" data-options="formatter:icsdateformat,parser:icsdateparser" />
                    </td>
                    <td style=" text-align:right;width:10%;">
                        Last Wr. Day :
                    </td>
                    <td style=" text-align:left;width:45%;">
                        <input id="dtEffectDate" type="text" style="width:52%;" class="easyui-datebox" data-options="formatter:icsdateformat,parser:icsdateparser" />
                    </td>
                </tr>
                <tr id="tr_IsDeduct" style="width:100%">
                    <td style=" text-align:right;width:15%;">
                   Notice pay Deduction
                    </td>
                    <td style=" text-align:left;width:40%;" colspan="2">
                        <input id="chkTobededuct" type="checkbox" /> Yes
                        <input id="chkNottobededuct" type="checkbox" /> No
                    </td>
                    <td style=" text-align:left;width:45%;">
                        <input id="chkSalaryProcessWithSettlement" type="checkbox" checked /> Salary Process With Settlement
                    </td>
                </tr>

                <tr style="width:100%">
                    <td style=" text-align:right;width:15%;">
                        Reason :
                    </td>
                    <td style=" text-align:left;width:85%;" colspan="3">
                        <textarea id="txtReason" style="width:74%" rows="4"></textarea>
                    </td>
                </tr>
            </table>
        </fieldset>

        <fieldset style="width:98%">
            <legend style="font-weight:bold"> Action : </legend>
            <table border="0" cellspacing="2" cellpadding="2" style="font-size:11px; font-weight:bold;width:98%">
                <tr style="width:100%;">
                    <td style="width:85%; text-align:right"></td>

                    <td style="width:15%;">
                        
                        <a id="btnSave" href="javascript:void(0)" class="easyui-linkbutton" iconcls="icon-save" plain="true" onclick="Save()">Save</a>
                        <a id="btnClose" href="javascript:void(0)" class="easyui-linkbutton" iconcls="icon-back" plain="true">Back</a>
                    </td>
                </tr>
            </table>
        </fieldset>
    </div>

    <div id="winLocationPicker" class="easyui-window winstyle" title="Location Picker" style="width:350px; height:400px" data-options="modal:true,closed:true,collapsible:false,minimizable:false,maximizable:false,closable:false">
        <div style="font-family:Tahoma">
            <div class="easyui-panel" style="width:335px;height:300px;overflow:auto">
                <ul id="locationtree" data-options="checkbox:false" singleselect="true"></ul>
            </div>

            <fieldset>
                <legend style="font-weight:bold"> Action : </legend>
                <table border="0" cellspacing="2" cellpadding="2" style="font-size:11px; font-weight:bold">
                    <tr>
                        <td style="width:400px; text-align:right"></td>

                        <td style="width:50px">
                            <a id="btnLocationPickerOk" href="javascript:void(0)" class="easyui-linkbutton" iconcls="icon-ok" plain="true" onclick="OkButtonClick()">Ok</a>
                        </td>
                        <td style="width:50px">
                            <a id="btnLocationPickerClose" href="javascript:void(0)" class="easyui-linkbutton" iconcls="icon-cancel" plain="true">Close</a>
                        </td>
                    </tr>
                </table>
            </fieldset>
        </div>
    </div>
    
</body>
</html>
<style>
    
    .tbl-AdvSearch {
         width: 100%;
         font-size: 11px;
         font-weight: bold;
         text-align: left;
         margin-left: 3px;
     }

     .td-AdvSearch-Level {
         text-align: right;
     }

     .td-AdvSearch-Input {
         text-align: left;
     }

     .txtfield-search {
         width: 305px;
         text-align: left;
         font-size: 11px;
     }

     .txtfield-picker {
         width: 259px;
         text-align: left;
         font-size: 11px;
     }

     .selection-search {
         width: 310px;
         text-align: left;
         font-size: 11px;
     }

     .pick-btn {
         width: 20px;
         text-align: center;
         font-size: 11px;
     }
</style>
<script type="text/javascript">
    var _oEmployeeSettlement = null;
    var _sBaseAddress = "";
    var _nMenuid=0;
    var _sEmployeeSettlementHeader="";
    var _oSalaryHeads=[];

    //var _bNext = false;
    //var _nLoadRecords = 0;
    //var _nRowLength = 0;

    //var _sAttendanceSchemeID="";
    //var _sLocationID = "";
    //var _sDepartmentID = "";
    //var _sDesignationID = "";

    //var _oEmployeeTypes=[];
    //var _oShifts=[];
    //var _oEmployeeCSs=[];
    //var _oEmployeeWSs=[];
    var _EnumSettleMentTypes=[];

    var _nEmployeeID=0;
    var _IsClearance= 0;

    $(document).ready(function() {
        _sBaseAddress = @Html.Raw(new System.Web.Script.Serialization.JavaScriptSerializer().Serialize(HttpContext.Current.Session[SessionInfo.BaseAddress]));
        _oEmployeeSettlement = @Html.Raw(new System.Web.Script.Serialization.JavaScriptSerializer().Serialize(Model));
        _nMenuid = @Html.Raw(new System.Web.Script.Serialization.JavaScriptSerializer().Serialize(MenuID));
        _oEmployeeTypes= @Html.Raw(new System.Web.Script.Serialization.JavaScriptSerializer().Serialize(@ViewBag.EmployeeTypes));
        _oShifts= @Html.Raw(new System.Web.Script.Serialization.JavaScriptSerializer().Serialize(@ViewBag.Shifts));
        _oEmployeeCSs= @Html.Raw(new System.Web.Script.Serialization.JavaScriptSerializer().Serialize(@ViewBag.EmployeeCSs));
        _oEmployeeWSs= @Html.Raw(new System.Web.Script.Serialization.JavaScriptSerializer().Serialize(@ViewBag.EmployeeWSs));
        _EnumSettleMentTypes= @Html.Raw(new System.Web.Script.Serialization.JavaScriptSerializer().Serialize(@ViewBag.EnumSettleMentTypes));
        _oBusinessUnits=@Html.Raw(new System.Web.Script.Serialization.JavaScriptSerializer().Serialize(ViewBag.BusinessUnits));
        _oEmployeeCategorys=@Html.Raw(new System.Web.Script.Serialization.JavaScriptSerializer().Serialize(@ViewBag.EmployeeCategorys));
        _IsClearance=sessionStorage.getItem("IsClearance");
        InitializeAdvSearch();
        if(_EnumSettleMentTypes != null)
        {
            $("#cboSettlementType").icsLoadCombo({
                List: _EnumSettleMentTypes,
                OptionValue: "Value",
                DisplayText: "Text"
            });
        }
        _sEmployeeSettlementHeader=sessionStorage.getItem("EmployeeSettlementHeader");
        $('#tr_EffectDateonly').hide();

        if(_oEmployeeSettlement.ErrorMessage!="")
        {
            alert(_oEmployeeSettlement.ErrorMessage);
            _oEmployeeSettlement.ErrorMessage=="";
        }
        $("#lblHeaderName").html(_sEmployeeSettlementHeader);

        if (_sEmployeeSettlementHeader == "Edit EmployeeSettlement")
        {
            _nEmployeeID=_oEmployeeSettlement.EmployeeID;

            $("#txtEmployee").val(_oEmployeeSettlement.EmployeeName+"["+_oEmployeeSettlement.EmployeeCode+"]");
            $("#txtReason").val(_oEmployeeSettlement.Reason);
            $("#cboSettlementType").val(_oEmployeeSettlement.SettlementType);
            if(_oEmployeeSettlement.SettlementType!=1)
            {
                debugger
                $('#tr_Date').hide();
                $('#tr_IsDeduct').hide();
                $('#tr_EffectDateonly').show();
                $('#chkTobededuct').prop('checked', false);
                $('#chkNottobededuct').prop('checked', false);
            }
            else
            {
                $('#tr_Date').show();
                $('#tr_IsDeduct').show();
                $('#tr_EffectDateonly').hide();
                if(_oEmployeeSettlement.IsNoticePayDeduction)
                {
                    $('#chkTobededuct').prop('checked', true);
                    $('#chkNottobededuct').prop('checked', false);
                }
                else
                {
                    $('#chkTobededuct').prop('checked', false);
                    $('#chkNottobededuct').prop('checked', true);
                }
            }
            $('#chkSalaryProcessWithSettlement').prop('checked', _oEmployeeSettlement.IsSalaryHold);
        }

        if (_sEmployeeSettlementHeader == "View EmployeeSettlement")
        {
            $("#txtEmployee").val(_oEmployeeSettlement.EmployeeName+"["+_oEmployeeSettlement.EmployeeCode+"]");
            $("#txtReason").val(_oEmployeeSettlement.Reason);
            $("#btnSave").hide();

            $("#cboSettlementType").val(_oEmployeeSettlement.SettlementType);
            if(_oEmployeeSettlement.SettlementType!=1)
            {
                debugger
                $('#tr_Date').hide();
                $('#tr_IsDeduct').hide();
                $('#tr_EffectDateonly').show();
                $('#chkTobededuct').prop('checked', false);
                $('#chkNottobededuct').prop('checked', false);
            }
            else
            {
                $('#tr_Date').show();
                $('#tr_IsDeduct').show();
                $('#tr_EffectDateonly').hide();
                if(_oEmployeeSettlement.IsNoticePayDeduction)
                {
                    $('#chkTobededuct').prop('checked', true);
                    $('#chkNottobededuct').prop('checked', false);
                }
                else
                {
                    $('#chkTobededuct').prop('checked', false);
                    $('#chkNottobededuct').prop('checked', true);
                }
            }
        }
        $('#dtSubmissionDate').datebox('setValue',_oEmployeeSettlement.SubmissionDateInString);
        $('#dtEffectDate').datebox('setValue',_oEmployeeSettlement.EffectDateInString);
        $('#dtEffectDate_only').datebox('setValue',_oEmployeeSettlement.EffectDateInString);
        InitializeEmpPickerEvents();
    } );

    $("#chkTobededuct").click(function () {
        if($('#chkTobededuct').is(":checked"))
        {
            $('#chkNottobededuct').prop('checked', false);
        }
    });

    $("#chkNottobededuct").click(function () {
        if($('#chkNottobededuct').is(":checked"))
        {
            $('#chkTobededuct').prop('checked', false);
        }
    });

    function RefreshObject() {
        var dtEffectDate="";
        var nSettlementType=0;
        nSettlementType=$('#cboSettlementType').val();
        if(nSettlementType!=1)
        {
            dtEffectDate= $('#dtEffectDate_only').datebox('getValue');
        }
        else
        {
            dtEffectDate= $('#dtEffectDate').datebox('getValue');
        }
        var IsNoticePayDeduction= false;
        if($('#chkTobededuct').is(":checked"))
        {
            IsNoticePayDeduction= true;
        }
        var oEmployeeSettlement = {
            EmployeeSettlementID: _oEmployeeSettlement.EmployeeSettlementID,
            EmployeeID:_nEmployeeID,
            Reason: $("#txtReason").val(),
            SubmissionDate:$('#dtSubmissionDate').datebox('getValue'),
            EffectDate:dtEffectDate,
            SettlementType:nSettlementType,
            IsNoticePayDeduction:IsNoticePayDeduction,
            IsSalaryHold:$('#chkSalaryProcessWithSettlement').is(":checked")
        };
        return oEmployeeSettlement;
    }

    function Save() {
        debugger
        if(_sEmployeeIDs!="")_nEmployeeID= parseInt( _sEmployeeIDs);
        if (_nEmployeeID<=0) {
            alert("Please enter a employee!");
            $('#txtEmployee').focus();
            return;
        }
        var oEmployeeSettlement = RefreshObject();

        $.ajax({
            type: "POST",
            dataType: "json",
            url: _sBaseAddress + "/EmployeeSettlement/EmployeeSettlement_IU",
            traditional: true,
            data: JSON.stringify(oEmployeeSettlement),
            contentType: "application/json; charset=utf-8",

            success: function(data) {
                _oEmployeeSettlement = jQuery.parseJSON(data);
                if (_oEmployeeSettlement.ErrorMessage == "" && _oEmployeeSettlement.EmployeeSettlementID>0)
                {
                    alert("Data Saved sucessfully");
                    var oEmployeeSettlements =sessionStorage.getItem("EmployeeSettlements");
                    var nIndex= parseInt(sessionStorage.getItem("SelectedRowIndex"));
                    if(oEmployeeSettlements!=null)
                    {
                        oEmployeeSettlements = jQuery.parseJSON(oEmployeeSettlements);
                    }
                    else
                    {
                        oEmployeeSettlements=[];
                    }
                    if(nIndex!=-1)
                    {
                        oEmployeeSettlements[nIndex]=_oEmployeeSettlement;
                    }
                    else
                    {
                        sessionStorage.setItem("SelectedRowIndex", oEmployeeSettlements.length);
                        oEmployeeSettlements.push(_oEmployeeSettlement);
                    }
                    sessionStorage.setItem("EmployeeSettlements", JSON.stringify(oEmployeeSettlements));
                   
                    if(_IsClearance==0)
                    {  window.location.href = _sBaseAddress+ "/EmployeeSettlement/View_EmployeeSettlements?menuid="+_nMenuid;}
                    else{window.location.href = _sBaseAddress+ "/EmployeeSettlement/View_EmployeeSettlementClearances?menuid="+_nMenuid;}
                }
                else
                {
                    alert(_oEmployeeSettlement.ErrorMessage);
                }
            },
            error: function(xhr, status, error) {
                alert(error);
            }
        });
    }

    //$("#btnRemaoveSlab").click(function () {
    //    debugger
    //    var oPISlab = $('#tblEmployeeSettlementSlab').datagrid('getSelected');
    //    if (!confirm("Confirm to Delete?")) return;
    //    //if (oPISlab == null || oPISlab.PISlabID <= 0) {
    //    //    alert("Invalid Field!!! please select a valid Field!");
    //    //    return false;
    //    //}

    //    var SelectedRowIndex = $('#tblEmployeeSettlementSlab').datagrid('getRowIndex', oPISlab);
    //    $('#tblEmployeeSettlementSlab').datagrid('deleteRow', SelectedRowIndex);
    //    if (oPISlab.PISlabID > 0) {
    //        var obj = {
    //            BaseAddress: _sBaseAddress,
    //            Object: oPISlab,
    //            ControllerName: "EmployeeSettlement",
    //            ActionName: "PISlab_Delete",
    //            TableId: "tblEmployeeSettlementSlab",
    //            IsWinClose: false
    //        };
    //        $.icsDelete(obj);
    //    }
    //});

    $("#btnClose").click(function () {
        if(_IsClearance==0)
        {  window.location.href = _sBaseAddress+ "/EmployeeSettlement/View_EmployeeSettlements?menuid="+_nMenuid;}
        else{window.location.href = _sBaseAddress+ "/EmployeeSettlement/View_EmployeeSettlementClearances?menuid="+_nMenuid;}
    });

    $(document).keydown(function (e)
    {
        var keyCode = e.keyCode || e.which;
        if (keyCode == 27)
        {
            window.location.href = _sBaseAddress+ "/EmployeeSettlement/View_SalarySchemes_V1?menuid="+_nMenuid;
        }
    });

    ///*---------------- emp Search----------------*/

    //function InitializeAdvSearch(){
    //    $("#cboEmployeeType").icsLoadCombo({
    //        List: _oEmployeeTypes,
    //        OptionValue: "EmployeeTypeID",
    //        DisplayText: "Name"
    //    });
    //    $("#cboShift_EmpSearch").icsLoadCombo({
    //        List: _oShifts,
    //        OptionValue: "ShiftID",
    //        DisplayText: "ShiftWithDuration"
    //    });
    //    $("#cboEmployeeCardStatus").icsLoadCombo({
    //        List: _oEmployeeCSs,
    //        OptionValue: "Value",
    //        DisplayText: "Text"
    //    });
    //    $("#cboEmployeeWorkigStatus").icsLoadCombo({
    //        List: _oEmployeeWSs,
    //        OptionValue: "Value",
    //        DisplayText: "Text"
    //    });

    //    $('#txtFrom,#txtTo').numberbox({min:0, precision:0 });
    //    $('#txtFrom').numberbox('setValue',1);
    //    $('#txtTo').numberbox('setValue',50);
    //    $("#lblRange1").hide();

    //    var oMonths=[{MonthID:0,Name:'Jan'},{MonthID:1,Name:'Feb'},{MonthID:2,Name:'Mar'},{MonthID:3,Name:'Apr'},
    //                 {MonthID:4,Name:'May'},{MonthID:5,Name:'Jun'},{MonthID:6,Name:'Jul'},{MonthID:7,Name:'Aug'},
    //                 {MonthID:8,Name:'Sep'},{MonthID:9,Name:'Oct'},{MonthID:10,Name:'Nov'},{MonthID:11,Name:'Dec'},];

    //    $("#cboMonthFrom,#cboMonthTo").icsLoadCombo({
    //        List: oMonths,
    //        OptionValue: "MonthID",
    //        DisplayText: "Name",
    //        InitialValue:''
    //    });

    //    LoadDaysInMonth();
    //}

    //function LoadDaysInMonth(){
    //    $("#cboMonthFrom,#cboMonthTo").val((new Date()).getMonth());
    //    var nDaysInMonth=(new Date((new Date()).getFullYear(), parseInt((new Date()).getMonth())+1,0)).getDate();

    //    var oDays=[];
    //    for(var i=1;i<=nDaysInMonth;i++){
    //        oDays.push({DayID:i,Day:i});
    //    }
    //    $("#cboDayFrom,#cboDayTo").icsLoadCombo({
    //        List: oDays,
    //        OptionValue: "DayID",
    //        DisplayText: "Day",
    //        InitialValue:''
    //    });
    //}

    //$("#cboDateType").change(function(e){
    //    if($("#cboDateType").val()==1){
    //        $("#regionDateTo").hide();
    //    }
    //    else{
    //        $("#regionDateTo").show();
    //    }
    //});

    //$("#cboMonthFrom").change(function(e){
    //    var nDaysInMonth=(new Date((new Date()).getFullYear(), parseInt($("#cboMonthFrom").val())+1,0)).getDate();
    //    var oDays=[];
    //    for(var i=1;i<=nDaysInMonth;i++){
    //        oDays.push({DayID:i,Day:i});
    //    }
    //    $("#cboDayFrom").icsLoadCombo({
    //        List: oDays,
    //        OptionValue: "DayID",
    //        DisplayText: "Day",
    //        InitialValue:''
    //    });
    //});

    //$("#cboMonthTo").change(function(e){
    //    var nDaysInMonth=(new Date((new Date()).getFullYear(), parseInt($("#cboMonthTo").val())+1,0)).getDate();
    //    var oDays=[];
    //    for(var i=1;i<=nDaysInMonth;i++){
    //        oDays.push({DayID:i,Day:i});
    //    }
    //    $("#cboDayTo").icsLoadCombo({
    //        List: oDays,
    //        OptionValue: "DayID",
    //        DisplayText: "Day",
    //        InitialValue:''
    //    });
    //});

    //function EmployeePickerReset(){
    //    _nLastEmployeeID = 0;
    //    _sEmployeeIDs = "";
    //    _bNext = false;
    //    _nLoadRecords = 0;
    //    _nRowLength = 0;
    //    _sAttendanceSchemeID="";
    //    _sLocationID = "";
    //    _sDepartmentID = "";
    //    _sDesignationID = "";
    //    $(".txtReset").val("");
    //    $(".cboReset").val(0);
    //    $(".chkReset").prop("checked",false);

    //    $("#cboMonthFrom,#cboMonthTo").val((new Date()).getMonth());
    //    LoadDaysInMonth();

    //    DynamicRefreshList([], "tblEmployeesForPicker");
    //    $("#lblcount").html("");
    //    $('#txtFrom,#txtTo').numberbox({min:0, precision:0 });
    //    $('#txtFrom').numberbox('setValue',1);
    //    $('#txtTo').numberbox('setValue',50);
    //    $("#lblRange1").hide();
    //}

    //$("#btnEmployee").click(function () {
    //    EmployeePickerReset();
    //    $("#winEmployeePicker").icsWindow("open", " Employee Picker");
    //});

    //$('#chkRange').click(function()
    //{
    //    if(document.getElementById("chkRange").checked == true)
    //    {
    //        $("#lblRange1").show();
    //    }
    //    else
    //    {
    //        $("#lblRange1").hide();
    //    }
    //});

    //$('#btnEmpPickerSearch').click(function () {
    //    _bNext = false;
    //    AdvSearch();
    //});

    //function Next() {
    //    var oEmployees = [];
    //    oEmployees = $('#tblEmployeesForPicker').datagrid('getRows');
    //    if (oEmployees.length <= 0) { alert('Please Select Criteria and click on "Search" to find information.!!'); return; }
    //    _nRowLength = oEmployees.length;
    //    _bNext = true;
    //    AdvSearch();
    //}

    //function AdvSearch(){
    //    if (!_bNext) {
    //        _nRowLength = 0;
    //        _nLastEmployeeID = 0;
    //    }
    //    _nLoadRecords = document.getElementById("txtTo").value;
    //    debugger
    //    if ($("#chkRange").is(':checked')) {
    //        if($('#txtFrom').numberbox('getValue').length=='' || $('#txtTo').numberbox('getValue').length==''){alert("Please enter valid range.")}
    //        var nRangeFrom = parseInt($('#txtFrom').numberbox('getValue'));
    //        var nRangeTo = parseInt( $('#txtTo').numberbox('getValue'));
    //        if (nRangeFrom > nRangeTo) { alert("Invalid Range !");return; }
    //        _nRowLength = nRangeFrom - 1;
    //        _nLoadRecords = nRangeTo - nRangeFrom + 1;
    //    }

    //    var sName = $.trim($("#txtEmployeeName").val());
    //    var sCode = $.trim($("#txtCode").val());
    //    var nEmployeeTypeID=$("#cboEmployeeType").val();
    //    var nShiftID=$("#cboShift_EmpSearch").val();
    //    var nCardStatus=$("#cboEmployeeCardStatus").val();
    //    var nWorkingStatus=$("#cboEmployeeWorkigStatus").val();
    //    var nDateType=$("#cboDateType").val();
    //    var sDOBFrom= parseInt($("#cboMonthFrom").val())+1+'-'+$("#cboDayFrom").val();
    //    var sDOBTo= parseInt($("#cboMonthTo").val())+1+'-'+$("#cboDayTo").val();
    //    var sGender="None";

    //    var bIsActive = ($("#chkActive").is(':checked'))? 1 : 0;
    //    var bIsInactive = ($("#chkInActive").is(':checked'))? 1 : 0;
    //    var bIsUser = ($("#chkUser").is(':checked'))? 1 : 0;

    //    var bIsUnOfficial = ($("#chkOfficialNotAssign").is(':checked'))?1:0;
    //    var bIsOfficial = ($("#chkOfficialAssign").is(':checked'))? 1 : 0;

    //    var bIsCardNotAsigned = ($("#chkCardNotAssigned").is(':checked'))? 1 : 0;
    //    var bIsSalarystructureNotAsigned = ($("#chkSalarystructureNotAssigned").is(':checked'))? 1 : 0;

    //    var bIsJoiningDate = false;
    //    var dtDateFrom = "1 jan 1900";
    //    var dtDateTo ="2 jan 1900";

    //    debugger;
    //    if(sName=='' && sCode=="" && _sAttendanceSchemeID=="" && _sLocationID=="" && _sDepartmentID=="" && _sDesignationID=="" &&
    //       nEmployeeTypeID==0 && nShiftID==0 && bIsActive==0 && bIsUnOfficial==0 && bIsInactive==0 && _sEmployeeIDs=="" && bIsUser==0 &&
    //       bIsOfficial==0 && nCardStatus==0 && bIsCardNotAsigned==0 && nWorkingStatus==0 && bIsSalarystructureNotAsigned==0 && nDateType==0 )
    //    {
    //        alert("Please enter you selection criteria."); return false;
    //    }

    //    var sParam = sName + '~' + sCode + '~' + _sAttendanceSchemeID + '~' + _sLocationID + '~' + _sDepartmentID + '~' +_sDesignationID + '~' +
    //                 sGender + '~' + nEmployeeTypeID + '~' + nShiftID + '~' + bIsActive + '~' + bIsUnOfficial + '~' + bIsInactive + '~' + _sEmployeeIDs + '~' +
    //                 bIsUser + '~' + bIsOfficial + '~' + nCardStatus + '~' + bIsCardNotAsigned + "~" + nWorkingStatus + "~" + bIsSalarystructureNotAsigned + "~" +
    //                 sDOBFrom + "~" + sDOBTo + "~" + nDateType + "~" + _nRowLength + "~" + _nLoadRecords+"~"+ bIsJoiningDate + "~" + dtDateFrom + "~" + dtDateTo;

    //    $.ajax({
    //        type: "POST",
    //        dataType: "json",
    //        url: _sBaseAddress + "/Employee/EmployeeSearch",
    //        traditional: true,
    //        data: JSON.stringify({ sParam: sParam }),
    //        contentType: "application/json; charset=utf-8",
    //        success: function (data) {
    //            var oEmps = jQuery.parseJSON(data);
    //            if (oEmps != null) {
    //                if (oEmps.length > 0) {
    //                    if(!_bNext){
    //                        DynamicRefreshList(oEmps,'tblEmployeesForPicker');
    //                    }
    //                    else{
    //                        var bAppend=false;
    //                        var oTEmps=$('#tblEmployeesForPicker').datagrid('getRows');
    //                        if(oTEmps.length>0){
    //                            for (var i = 0; i < oEmps.length; i++) {
    //                                var IsAppend=true;
    //                                for (var j = 0; j < oTEmps.length; j++) {

    //                                    if(oEmps[i].EmployeeID==oTEmps[j].EmployeeID){
    //                                        IsAppend=false;
    //                                        break;
    //                                    }
    //                                }
    //                                if(IsAppend){
    //                                    bAppend=true;
    //                                    $('#tblEmployeesForPicker').datagrid('appendRow', oEmps[i]);
    //                                }
    //                            }
    //                        }
    //                        else{
    //                            for (var j = 0; j < oEmps.length; j++) {
    //                                bAppend=true;
    //                                $('#tblEmployeesForPicker').datagrid('appendRow', oEmps[j]);
    //                            }
    //                        }
    //                        if(!bAppend){
    //                            alert("No more data found!");
    //                        }
    //                    }

    //                }
    //                else {
    //                    alert("No more data found!");
    //                }
    //                var oEmployees = $('#tblEmployeesForPicker').datagrid('getRows');
    //                document.getElementById("lblcount").innerHTML = " | Count =" + oEmployees.length;
    //                _bNext = false;
    //            }
    //        },
    //        error: function (xhr, status, error) {
    //            alert(error);
    //        }
    //    });
    //}

    //$("#btnEmployeePickerOk").click(function () {
    //    debugger
    //    var oEmployee = $('#tblEmployeesForPicker').datagrid('getSelected');
    //    if (oEmployee== null || oEmployee.length<=0) { alert("please select atleast one item");return; }
    //    _nEmployeeID=oEmployee.EmployeeID;
    //    $("#txtEmployeeName").val(oEmployee.Name+"["+oEmployee.Code+"]");
    //    $("#winEmployeePicker").icsWindow('close');
    //});

    //$("#btnEmployeePickerClose").click(function () {
    //    $("#winEmployeePicker").icsWindow('close');
    //});

    ///*-------------Attendance Schema Picker----------------*/
    //$("#btnAttScheme").click(function(e){
    //    var oAttendanceScheme={AttendanceSchemeID:0};
    //    var obj = {
    //        BaseAddress: _sBaseAddress,
    //        Object: oAttendanceScheme,
    //        ControllerName: "AttendanceScheme",
    //        ActionName: "GetsAttendanceSchemeCurrentSession",
    //        IsWinClose: false
    //    };
    //    $.icsDataGets(obj, function (response) {

    //        if (response.status && response.objs.length > 0) {
    //            if (response.objs[0].AttendanceSchemeID > 0) {
    //                debugger;
    //                var tblColums = [];
    //                var oColumn = { field: "Name", title: "Name", width: 150, align: "left" };tblColums.push(oColumn);
    //                oColumn = { field: "EmployeeType", title: "EmployeeType", width: 100, align: "left" };tblColums.push(oColumn);
    //                oColumn = { field: "DayOff", title: "DayOff", width: 115, align: "left" };tblColums.push(oColumn);

    //                var oPickerParam = {
    //                    winid: 'winAttendanceScheme',
    //                    winclass:'clsAttendanceScheme',
    //                    winwidth: 420,
    //                    winheight: 460,
    //                    tableid: 'tblAttendanceSchemePicker',
    //                    tablecolumns: tblColums,
    //                    datalist: response.objs,
    //                    multiplereturn: false,
    //                    searchingbyfieldName:'Name',
    //                    windowTittle: 'Attendance Scheme List'
    //                };
    //                $.icsPicker(oPickerParam);
    //                IntializeAttendancePickerbutton(oPickerParam);//multiplereturn, winclassName

    //            }
    //            else { alert(response.objs[0].ErrorMessage); }
    //        }
    //    });
    //});

    //function IntializeAttendancePickerbutton(oPickerobj)
    //{
    //    $("#" + oPickerobj.winid).find("#btnOk").click(function () {

    //        var oAttendanceScheme = $('#'+oPickerobj.tableid).datagrid('getSelected');
    //        if (oPickerobj.winid == 'winAttendanceScheme')
    //        {
    //            if(oAttendanceScheme!=null && oAttendanceScheme.AttendanceSchemeID>0){
    //                $("#"+oPickerobj.winid).icsWindow("close");
    //                $("#" + oPickerobj.winid).remove();
    //                $('#txtAttendanceScheme').val(oAttendanceScheme.Name);
    //                _sAttendanceSchemeID=oAttendanceScheme.AttendanceSchemeID;
    //            }
    //            else{
    //                alert("Please select a schema.");
    //            }
    //        }
    //    });
    //}

    //$("#btnResetAttScheme").click(function(e){
    //    $('#txtAttendanceScheme').val("");
    //    _sAttendanceSchemeID="";
    //});

    ///*-------------Location Picker----------------*/

    //$("#btnLocationPicker").click(function(e){

    //    $("#winLocationPicker").icsWindow('open');
    //    var oLocation={LocationID:0};
    //    var obj = {
    //        BaseAddress: _sBaseAddress,
    //        Object: oLocation,
    //        ControllerName: "Location",
    //        ActionName: "GetsLocationMenuTree",
    //        IsWinClose: false
    //    };

    //    $.icsDataGet(obj, function (response) {

    //        if (response.status && response.obj!=null) {
    //            if (response.obj.TLocation.id > 0) {
    //                $('#locationtree').tree({ data: [response.obj.TLocation] });
    //            }
    //        }
    //    });
    //});

    //$("#btnLocationPickerOk").click(function(e){
    //    var oLocation = $('#locationtree').tree('getSelected');
    //    if(oLocation!=null && oLocation.id>0){
    //        $("#winLocationPicker").icsWindow('close');
    //        $('#txtLocation').val(oLocation.text);
    //        _sLocationID= oLocation.id;
    //    }
    //    else{
    //        alert("Please select a location.");
    //    }
    //});

    //$("#btnLocationPickerClose").click(function(e){
    //    $("#winLocationPicker").icsWindow('close');
    //});

    //$("#btnResetLocationPicker").click(function(e){
    //    $('#txtLocation').val("");
    //    _sLocationID="";
    //});
    ///*-------------Department Picker----------------*/

    //$("#btnDepartmentPicker").click(function(e){

    //    $("#winDepartmentPicker").icsWindow('open');
    //    var oDepartment={DepartmentID:0};
    //    var obj = {
    //        BaseAddress: _sBaseAddress,
    //        Object: oDepartment,
    //        ControllerName: "Department",
    //        ActionName: "GetsDepartments",
    //        IsWinClose: false
    //    };

    //    $.icsDataGet(obj, function (response) {
    //        if (response.status && response.obj!=null) {
    //            if (response.obj.id > 0) {
    //                $('#departmenttree').tree({ data: [response.obj] });
    //            }
    //        }
    //    });
    //});

    //$("#btnDepartmentPickerOk").click(function(e){

    //    var oDepartment = $('#departmenttree').tree('getSelected');
    //    if(oDepartment!=null && oDepartment.id>0){
    //        $("#winDepartmentPicker").icsWindow('close');
    //        $('#txtDepartment').val(oDepartment.text);
    //        _sDepartmentID= oDepartment.id;
    //    }
    //    else{
    //        alert("Please select a department.");
    //    }
    //});

    //$("#btnDepartmentPickerClose").click(function(e){
    //    $("#winDepartmentPicker").icsWindow('close');
    //});

    //$("#btnResetDepartmentPicker").click(function(e){
    //    $('#txtDepartment').val("");
    //    _sDepartmentID="";
    //});

    ///*-------------Designation Picker----------------*/

    //$("#btnDesignationPicker").click(function(e){
    //    var oDesignation={
    //        DesignationID:0,
    //        Params: (($.trim(_sLocationID)=="")? 0:_sLocationID)+'~'+ (($.trim(_sDepartmentID)=="")? 0:_sDepartmentID)
    //    };
    //    var obj = {
    //        BaseAddress: _sBaseAddress,
    //        Object: oDesignation,
    //        ControllerName: "Designation",
    //        ActionName: "Gets",
    //        IsWinClose: false
    //    };
    //    $.icsDataGets(obj, function (response) {

    //        if (response.status && response.objs.length > 0) {
    //            if (response.objs[0].DesignationID > 0) {
    //                debugger;
    //                var tblColums = [];
    //                var oColumn = { field: "Code", title: "Code", width: 50, align: "left" };tblColums.push(oColumn);
    //                oColumn = { field: "Name", title: "Name", width: 170, align: "left" };tblColums.push(oColumn);

    //                var oPickerParam = {
    //                    winid: 'winDesignation',
    //                    winclass:'clsDesignation',
    //                    winwidth: 320,
    //                    winheight: 460,
    //                    tableid: 'tblDesignation',
    //                    tablecolumns: tblColums,
    //                    datalist: response.objs,
    //                    multiplereturn: false,
    //                    searchingbyfieldName:'Name',
    //                    windowTittle: 'Designation List'
    //                };
    //                $.icsPicker(oPickerParam);
    //                IntializeDesignationPickerbutton(oPickerParam);//multiplereturn, winclassName

    //            }
    //            else { alert(response.objs[0].ErrorMessage); }
    //        }
    //    });
    //});

    //function IntializeDesignationPickerbutton(oPickerobj)
    //{
    //    $("#" + oPickerobj.winid).find("#btnOk").click(function () {

    //        var oDesignation = $('#'+oPickerobj.tableid).datagrid('getSelected');
    //        if (oPickerobj.winid == 'winDesignation')
    //        {
    //            if(oDesignation!=null && oDesignation.DesignationID>0){
    //                $("#"+oPickerobj.winid).icsWindow("close");
    //                $("#" + oPickerobj.winid).remove();
    //                $('#txtDesignation').val(oDesignation.Name);
    //                _sDesignationID=oDesignation.DesignationID;
    //            }
    //            else{
    //                alert("Please select a designation.");
    //            }
    //        }
    //    });
    //}

    //$("#btnResetDesignationPicker").click(function(e){
    //    $('#txtDesignation').val("");
    //    _sDesignationID="";
    //});

    ///*----------------------end emp search----------------------*/
    
    //$('#txtEmployeeName').keypress(function (e)
    //{
    //    debugger
    //    var code = (e.keyCode ? e.keyCode : e.which);
    //    if (code == 13)//Enter key-13
    //    {
    //        var sCodeName = $.trim($("#txtEmployeeName").val());
    //        if(sCodeName==''){alert("Please enter name or code to search.");$("#txtEmployee").focus(); return;}
    //        SearchEmployeeByText(sCodeName);
    //    }
    //});

    //function SearchEmployeeByText(sEmpNameCode){
    //    var oEmployee = { Params: sEmpNameCode +'~'+ 0};
    //    var obj = {
    //        BaseAddress: _sBaseAddress,
    //        Object: oEmployee,
    //        ControllerName: "Employee",
    //        ActionName: "GetsByEmpCode",
    //        IsWinClose: false
    //    };
    //    $.icsDataGets(obj, function (response) {
    //        debugger;
    //        if (response.status && response.objs.length > 0) {
    //            if (response.objs[0].EmployeeID > 0) {

    //                var tblColums = [];var oColumn = { field: "Code", title: "Code", width: 70, align: "left" };tblColums.push(oColumn);
    //                oColumn = { field: "Name", title: "Name", width: 120, align: "left" };tblColums.push(oColumn);
    //                oColumn = { field: "DepartmentName", title: "Department", width: 100, align: "left" };tblColums.push(oColumn);
    //                oColumn = { field: "DesignationName", title: "Designation", width: 100, align: "left" };tblColums.push(oColumn);
    //                var oPickerParam = {
    //                    winid: 'winEmployeePickerTextSearch',
    //                    winclass:'clsEmployeePickerTextSearch',
    //                    winwidth: 455,
    //                    winheight: 460,
    //                    tableid: 'tblEmployeePickerTextSearch',
    //                    tablecolumns: tblColums,
    //                    datalist: response.objs,
    //                    multiplereturn: false,
    //                    searchingbyfieldName:'Name',
    //                    windowTittle: 'Employee list'
    //                };

    //                $.icsPicker(oPickerParam);
    //                IntializeEmployeePickerTextSearch(oPickerParam);//multiplereturn, winclassName

    //            }
    //            else { alert(response.objs[0].ErrorMessage); }
    //        }
    //    });
    //}

    //function IntializeEmployeePickerTextSearch(oPickerobj)
    //{
    //    $("#" + oPickerobj.winid).find("#btnOk").click(function () {
    //        var oreturnObj = $('#'+oPickerobj.tableid).datagrid('getSelected');
    //        if(oreturnObj == null || oreturnObj.EmployeeID<=0){  alert("please select an employee."); return false;}

    //        $("#"+oPickerobj.winid).icsWindow("close");
    //        $("#" + oPickerobj.winid).remove();
    //        if (oPickerobj.winid == 'winEmployeePickerTextSearch')
    //        {
    //            if (oreturnObj != null && oreturnObj.EmployeeID > 0)
    //            {
    //                _nEmployeeID=oreturnObj.EmployeeID;
    //                $("#txtEmployeeName").val(oreturnObj.Name+"["+oreturnObj.Code+"]");
    //                $("#winEmployeePicker").icsWindow('close');
    //            }
    //        }
    //    });

    //    $(document).find('.' +oPickerobj.winclass).keydown(function (e) {
    //        if (e.which == 13)//enter=13
    //        {
    //            var oreturnObj = $('#'+oPickerobj.tableid).datagrid('getSelected');
    //            if(oreturnObj == null || oreturnObj.EmployeeID<=0){  alert("please select an employee."); return false;}

    //            $("#"+oPickerobj.winid).icsWindow("close");
    //            $("#" + oPickerobj.winid).remove();

    //            if (oPickerobj.winclass == 'clsEmployeePickerTextSearch')
    //            {
    //                if (oreturnObj != null && oreturnObj.EmployeeID > 0)
    //                {
    //                    _nEmployeeID=oreturnObj.EmployeeID;
    //                    $("#txtEmployeeName").val(oreturnObj.Name+"["+oreturnObj.Code+"]");
    //                    $("#winEmployeePicker").icsWindow('close');
    //                }
    //            }
    //        }
    //    });
    //}

    //$('#btnCEmployee').click(function (e)
    //{
    //    $("#txtEmployeeName")[0].value = "";
    //    _nEmployeeID = 0;
    //});

    $('#cboSettlementType').change(function (e)
    {
        if($('#cboSettlementType').val()!=1)
        {
            $('#tr_Date').hide();
            $('#tr_IsDeduct').hide();
            $('#tr_EffectDateonly').show();
            $('#chkTobededuct').prop('checked', false);
            $('#chkNottobededuct').prop('checked', false);
        }
        else
        {
            $('#tr_Date').show();
            $('#tr_IsDeduct').show();
            $('#tr_EffectDateonly').hide();
        }
    });
    
</script>