<html>
@{
	ViewBag.Title = "Sub-Contracts Print";
}
<body>
    @model IEnumerable<ESimSol.BusinessObjects.WUSubContract>
        <div id="progbarParent" style="width:100%;height:100%;margin:0 auto;text-align:center; margin-left: auto;margin-right: auto;left: 0;right: 0;z-index: 1;">
            <div style="margin: 0px auto;margin-top: 251px;text-align:center;width:390px;">
                <label style="font-size:18px;">Please wait</label>
                <div id="progbar" style="width:100%;height:37px;"></div>
            </div>
        </div>
        <div id="divWUSubContract" class="menuMainCollectionTable" style="height:100%; width:100%">
            <div class="easyui-panel" title="Sub-Contract Print" style="font-family:Tahoma; text-align:center; height:88%; width:100%;">
                <fieldset style="height:100%;">
                    <legend style="font-weight:bold"> Serching Criteria : </legend>
                    <table border="0" cellspacing="2" cellpadding="2" style="font-size:11px; font-weight:bold; width:100%">
                        <tr>
                            <td style="width:15%; text-align:right">
                                Job No :
                            </td>
                            <td style="width: 29%">
                                <input type="text" style="width: 100%;" id="txtJobNo" />
                            </td>
                            <td style="width:17%; text-align:right">
                                Contract Date :
                            </td>
                            <td style="width:39%">
                                <table border="0" cellpadding="0" cellspacing="0" style="width:100%">
                                    <tr>
                                        <td style="width:5%">
                                            <input type="checkbox" id="chkContractDate" data-options="field:'Selected',checkbox:true" />
                                        </td>
                                        <td style="width:46%">
                                            <input type="text" style="width:100%;" id="dtpContractStartDate" class="easyui-datebox" data-options="formatter:icsdateformat,parser:icsdateparser" />
                                        </td>
                                        <td style="width:3%">
                                            To
                                        </td>
                                        <td style="width:46%">
                                            <input type="text" style="width:100%;" id="dtpContractEndDate" class="easyui-datebox" data-options="formatter:icsdateformat,parser:icsdateparser" />
                                        </td>
                                    </tr>
                                </table>
                            </td>
                        </tr>
                        <tr>
                            <td style="width:15%; text-align:right">
                                Supplier :
                            </td>
                            <td style="width:29%">
                                <table border="0" cellpadding="0" cellspacing="0" style="width:100%">
                                    <tr>
                                        <td style="width:70%">
                                            <input type="text" style="width: 100%;" id="txtSupplier" />
                                        </td>
                                        <td style="width:15%">
                                            <input id="btnPickSupplier" type="button" value="P" style="width:100%" />
                                        </td>
                                        <td style="width:15%">
                                            <input id="btnClearSupplier" type="button" value="C" style="width:100%" />
                                        </td>
                                    </tr>
                                </table>
                            </td>
                            <td style="width:17%; text-align:right">
                                Order Type :
                            </td>
                            <td style="width:39%">
                                <select style="width:100%; height:21px" id="cboOrderType"></select>
                            </td>
                        </tr>
                        <tr>
                            <td style="width:15%; text-align:right">
                                Payment Mode :
                            </td>
                            <td style="width:29%">
                                <select style="width:100%; height:21px" id="cboPaymentMode"></select>
                            </td>
                            <td style="width:17%; text-align:right">
                                Transportation :
                            </td>
                            <td style="width:39%">
                                <select style="width:100%; height:21px" id="cboTransportation"></select>
                            </td>
                        </tr>
                        <tr>
                            <td style="width:15%; text-align:right">
                                Contract By :
                            </td>
                            <td style="width:29%">
                                <select style="width:100%; height:21px" id="cboContractBy"></select>
                            </td>
                            <td style="width:17%; text-align:right">
                                SO No :
                            </td>
                            <td style="width:39%">
                                <input type="text" style="width: 100%;" id="txtSONo" />
                            </td>
                        </tr>
                        <tr>
                            <td style="width:15%; text-align:right">
                                Buyer :
                            </td>
                            <td style="width:29%">
                                <table border="0" cellpadding="0" cellspacing="0" style="width:100%">
                                    <tr>
                                        <td style="width:70%">
                                            <input type="text" style="width: 100%;" id="txtBuyer" />
                                        </td>
                                        <td style="width:15%">
                                            <input id="btnPickBuyer" type="button" value="P" style="width:100%" />
                                        </td>
                                        <td style="width:15%">
                                            <input id="btnClearBuyer" type="button" value="C" style="width:100%" />
                                        </td>
                                    </tr>
                                </table>
                            </td>
                            <td style="width:17%; text-align:right">
                                Style No :
                            </td>
                            <td style="width:39%">
                                <input type="text" style="width: 100%;" id="txtStyleNo" />
                            </td>
                        </tr>
                        <tr>
                            <td style="width:15%; text-align:right">
                                Fabric Type :
                            </td>
                            <td style="width:29%">
                                <table border="0" cellpadding="0" cellspacing="0" style="width:100%">
                                    <tr>
                                        <td style="width:70%">
                                            <input type="text" style="width: 100%;" id="txtFabricType" />
                                        </td>
                                        <td style="width:15%">
                                            <input id="btnPickFabric" type="button" value="P" style="width:100%" />
                                        </td>
                                        <td style="width:15%">
                                            <input id="btnClearFabric" type="button" value="C" style="width:100%" />
                                        </td>
                                    </tr>
                                </table>
                            </td>
                            <td style="width:17%; text-align:right">
                                Prod Start Date :
                            </td>
                            <td style="width:39%">
                                <table border="0" cellpadding="0" cellspacing="0" style="width:100%">
                                    <tr>
                                        <td style="width:5%">
                                            <input type="checkbox" id="chkProdStartDate" data-options="field:'Selected',checkbox:true" />
                                        </td>
                                        <td style="width:46%">
                                            <input type="text" style="width:100%;" id="dtpProdStartDate" class="easyui-datebox" data-options="formatter:icsdateformat,parser:icsdateparser" />
                                        </td>
                                        <td style="width:3%">
                                            To
                                        </td>
                                        <td style="width:46%">
                                            <input type="text" style="width:100%;" id="dtpProdEndDate" class="easyui-datebox" data-options="formatter:icsdateformat,parser:icsdateparser" />
                                        </td>
                                    </tr>
                                </table>
                            </td>
                        </tr>
                        <tr>
                            <td style="width:15%; text-align:right">
                                Weave Design :
                            </td>
                            <td style="width:29%">
                                <table border="0" cellpadding="0" cellspacing="0" style="width:100%">
                                    <tr>
                                        <td style="width:70%">
                                            <input type="text" style="width: 100%;" id="txtWeaveDesign" />
                                        </td>
                                        <td style="width:15%">
                                            <input id="btnPickWeaveDesign" type="button" value="P" style="width:100%" />
                                        </td>
                                        <td style="width:15%">
                                            <input id="btnClearWeaveDesign" type="button" value="C" style="width:100%" />
                                        </td>
                                    </tr>
                                </table>
                            </td>
                            <td style="width:17%; text-align:right">
                                Prod Comp. Date :
                            </td>
                            <td style="width:39%">
                                <table border="0" cellpadding="0" cellspacing="0" style="width:100%">
                                    <tr>
                                        <td style="width:5%">
                                            <input type="checkbox" id="chkProdCompleteDate" data-options="field:'Selected',checkbox:true" />
                                        </td>
                                        <td style="width:46%">
                                            <input type="text" style="width:100%;" id="dtpProdCompleteStartDate" class="easyui-datebox" data-options="formatter:icsdateformat,parser:icsdateparser" />
                                        </td>
                                        <td style="width:3%">
                                            To
                                        </td>
                                        <td style="width:46%">
                                            <input type="text" style="width:100%;" id="dtpProdCompleteEndDate" class="easyui-datebox" data-options="formatter:icsdateformat,parser:icsdateparser" />
                                        </td>
                                    </tr>
                                </table>
                            </td>
                        </tr>
                        <tr>
                            <td style="width:15%; text-align:right">
                                Yarn :
                            </td>
                            <td style="width:29%">
                                <table border="0" cellpadding="0" cellspacing="0" style="width:100%">
                                    <tr>
                                        <td style="width:70%">
                                            <input type="text" style="width: 100%;" id="txtYarn" />
                                        </td>
                                        <td style="width:15%">
                                            <input id="btnPickYarn" type="button" value="P" style="width:100%" />
                                        </td>
                                        <td style="width:15%">
                                            <input id="btnClearYarn" type="button" value="C" style="width:100%" />
                                        </td>
                                    </tr>
                                </table>
                            </td>
                            <td style="width:17%; text-align:right">
                                Rate :
                            </td>
                            <td style="width:39%">
                                <table border="0" cellpadding="0" cellspacing="0" style="width:100%">
                                    <tr>
                                        <td style="width:5%">
                                            <input type="checkbox" id="chkRate" data-options="field:'Selected',checkbox:true" />
                                        </td>
                                        <td style="width:43%">
                                            <input id="txtRateStartPerMeasurementUnit" style="width: 100%;" type="text" />
                                        </td>
                                        <td style="width:9%; text-align:center">
                                            To
                                        </td>
                                        <td style="width:43%">
                                            <input id="txtRateEndPerMeasurementUnit" style="width: 100%;" type="text" />
                                        </td>
                                    </tr>
                                </table>
                            </td>
                        </tr>
                        <tr>
                            <td style="width:15%; text-align:right">
                                Composition :
                            </td>
                            <td style="width:29%">
                                <table border="0" cellpadding="0" cellspacing="0" style="width:100%">
                                    <tr>
                                        <td style="width:70%">
                                            <input type="text" style="width: 100%;" id="txtComposition" />
                                        </td>
                                        <td style="width:15%">
                                            <input id="btnPickComposition" type="button" value="P" style="width:100%" />
                                        </td>
                                        <td style="width:15%">
                                            <input id="btnClearComposition" type="button" value="C" style="width:100%" />
                                        </td>
                                    </tr>
                                </table>
                            </td>
                            <td style="width:17%; text-align:right">
                                Total Amount :
                            </td>
                            <td style="width:39%">
                                <table border="0" cellpadding="0" cellspacing="0" style="width:100%">
                                    <tr>
                                        <td style="width:5%">
                                            <input type="checkbox" id="chkTotalAmount" data-options="field:'Selected',checkbox:true" />
                                        </td>
                                        <td style="width:43%">
                                            <input type="text" style="width: 100%;" id="txtStartTotalAmount" />
                                        </td>
                                        <td style="width:9%; text-align:center">
                                            To
                                        </td>
                                        <td style="width:43%">
                                            <input type="text" style="width: 100%;" id="txtEndTotalAmount" />
                                        </td>
                                    </tr>
                                </table>
                            </td>
                        </tr>
                        <tr>
                            <td style="width:15%; text-align:right">
                                Warp Weft :
                            </td>
                            <td style="width:29%">
                                <select style="width:100%; height:21px" id="cboWarpWeftType"></select>
                            </td>
                            <td style="width:17%; text-align:right">
                                Currency :
                            </td>
                            <td style="width:39%">
                                <table border="0" cellpadding="0" cellspacing="0" style="width:100%">
                                    <tr>
                                        <td style="width:48%">
                                            <select style="width:100%; height:21px" id="cboCurrency"></select>
                                        </td>
                                        <td style="width:9%; text-align:center"></td>
                                        <td style="width:43%">
                                            <select style="width:100%; height:21px" id="cboMeasurementUnit"></select>
                                        </td>
                                    </tr>
                                </table>
                            </td>
                        </tr>
                        <tr>
                            <td style="width:15%; text-align:right">
                                Construction :
                            </td>
                            <td style="width:29%">
                                <input id="txtConstruction" style="width: 100%;" type="text" />
                            </td>
                            <td style="width:17%; text-align:right">
                                Report Layout :
                            </td>
                            <td style="width:39%;">
                                <select id="cboReportLayout" style="width:100%"></select>
                            </td>
                        </tr>
                        <tr>
                            <td style="width:15%; text-align:right">
                                Prod Comment :
                            </td>
                            <td colspan="3" style="width:39%">
                                <input id="txtProdComment" style="width: 100%;" type="text" />
                            </td>
                        </tr>
                    </table>
                </fieldset>
            </div>
            <fieldset>
                <legend style="font-weight:bold"> Action : </legend>
                <table border="0" cellspacing="2" cellpadding="2" style="font-size:11px; font-weight:bold; width:100%;">
                    <tr>
                        <td style="width:65%;text-align:left">
                            <a id="btnAdvSearchReset" href="javascript:void(0)" class="easyui-linkbutton" iconcls="icon-reload" plain="true">Reset</a>
                        </td>
                        <td style="width:35%;text-align:right">
                            <a id="btnExportToExcel" href="javascript:void(0)" class="easyui-linkbutton" iconcls="icon-excel" plain="true">Export to Excel</a>
                        </td>
                    </tr>
                </table>
            </fieldset>
        </div>
</body>
</html>

<script type="text/javascript">
    $(document).ready(function () {
        var oWUSubContracts = @Html.Raw( new System.Web.Script.Serialization.JavaScriptSerializer().Serialize(Model));
		var oAuthorizationRolesMapping = @Html.Raw(new System.Web.Script.Serialization.JavaScriptSerializer().Serialize(HttpContext.Current.Session[SessionInfo.AuthorizationRolesMapping]));
		var nBUID = @Html.Raw( new System.Web.Script.Serialization.JavaScriptSerializer().Serialize(ViewBag.BUID));
        var oOrderTypes = @Html.Raw( new System.Web.Script.Serialization.JavaScriptSerializer().Serialize(ViewBag.OrderTypes));
        var oPaymentModes = @Html.Raw( new System.Web.Script.Serialization.JavaScriptSerializer().Serialize(ViewBag.PaymentModes));
        var oTransportations = @Html.Raw( new System.Web.Script.Serialization.JavaScriptSerializer().Serialize(ViewBag.Transportations));
        var oContractEmployees = @Html.Raw( new System.Web.Script.Serialization.JavaScriptSerializer().Serialize(ViewBag.ContractEmployees));
        var oWarpWefts = @Html.Raw( new System.Web.Script.Serialization.JavaScriptSerializer().Serialize(ViewBag.WarpWefts));
        var oCurrencys = @Html.Raw( new System.Web.Script.Serialization.JavaScriptSerializer().Serialize(ViewBag.Currencys));
        var oMeasurementUnits = @Html.Raw( new System.Web.Script.Serialization.JavaScriptSerializer().Serialize(ViewBag.MeasurementUnits));
		var oReportLayouts = @Html.Raw(new System.Web.Script.Serialization.JavaScriptSerializer().Serialize(ViewBag.ReportLayouts));

        $('#divWUSubContract').data('WUSubContract', oWUSubContracts);
        $("#divWUSubContract").data("BUID", nBUID);
        $('#divWUSubContract').data('OrderTypes', oOrderTypes);
        $('#divWUSubContract').data('PaymentModes', oPaymentModes);
        $('#divWUSubContract').data('Transportations', oTransportations);
        $('#divWUSubContract').data('ContractEmployees', oContractEmployees);
        $('#divWUSubContract').data('WarpWefts', oWarpWefts);
        $('#divWUSubContract').data('Currencys', oCurrencys);
        $('#divWUSubContract').data('MeasurementUnits', oMeasurementUnits);
		$('#divWUSubContract').data('ReportLayouts', oReportLayouts);

        $("#txtRateStartPerMeasurementUnit").icsCurrencyBox(null, 0.00, 4);
        $("#txtRateEndPerMeasurementUnit").icsCurrencyBox(null, 0.00, 4);
        $("#txtStartTotalAmount").icsCurrencyBox(null, 0, 2);
        $("#txtEndTotalAmount").icsCurrencyBox(null, 0, 2);

		$("#progbar").progressbar({ value: 0 });
        $("#progbarParent").hide();

		RefreshComboBox();
        RefreshDisableFields();

        $("#AppMainLayout").layout('collapse', 'west');
        $("#AppMainLayout").layout('expand', 'west');
        $("#AppMainLayout").layout('expand', 'west');
    });

	function RefreshComboBox() {
        var oOrderTypes = $('#divWUSubContract').data('OrderTypes');
        var oPaymentModes = $('#divWUSubContract').data('PaymentModes');
        var oTransportations = $('#divWUSubContract').data('Transportations');
        var oContractEmployees = $('#divWUSubContract').data('ContractEmployees');            
        var oWarpWefts = $('#divWUSubContract').data('WarpWefts');
        var oCurrencys = $('#divWUSubContract').data('Currencys');
        var oMeasurementUnits = $('#divWUSubContract').data('MeasurementUnits');
		var oReportLayouts = $('#divWUSubContract').data('ReportLayouts');

        $("#cboOrderType").icsLoadCombo({ List: oOrderTypes, OptionValue: "id", DisplayText: "Value", InitialValue: "--Order Type--" });
        $("#cboPaymentMode").icsLoadCombo({ List: oPaymentModes, OptionValue: "id", DisplayText: "Value", InitialValue: "--Payment Mode--" });
        $("#cboTransportation").icsLoadCombo({ List: oTransportations, OptionValue: "id", DisplayText: "Value", InitialValue: "--Transportation--" });
        $("#cboContractBy").icsLoadCombo({ List: oContractEmployees, OptionValue: "EmployeeID", DisplayText: "Name", InitialValue: "--Contract By--" });          
        $("#cboWarpWeftType").icsLoadCombo({ List: oWarpWefts, OptionValue: "id", DisplayText: "Value", InitialValue: "--Warp Weft--" });
        $("#cboCurrency").icsLoadCombo({ List: oCurrencys, OptionValue: "CurrencyID", DisplayText: "Symbol", InitialValue: "--Currency--" });
        $("#cboMeasurementUnit").icsLoadCombo({ List: oMeasurementUnits, OptionValue: "MeasurementUnitID", DisplayText: "Symbol", InitialValue: "--M.Unit--" });
		$("#cboReportLayout").icsLoadCombo({ List: oReportLayouts, OptionValue: "id", DisplayText: "Value" });
    }

    function RefreshDisableFields() {
        $("#dtpContractStartDate, #dtpContractEndDate").datebox({ disabled: true });
        $('#dtpContractStartDate').datebox('setValue', icsdateformat(new Date()));
        $('#dtpContractEndDate').datebox('setValue', icsdateformat(new Date()));

        $("#dtpProdStartDate, #dtpProdEndDate").datebox({ disabled: true });
        $('#dtpProdStartDate').datebox('setValue', icsdateformat(new Date()));
        $('#dtpProdEndDate').datebox('setValue', icsdateformat(new Date()));

        $("#dtpProdCompleteStartDate, #dtpProdCompleteEndDate").datebox({ disabled: true });
        $('#dtpProdCompleteStartDate').datebox('setValue', icsdateformat(new Date()));
        $('#dtpProdCompleteEndDate').datebox('setValue', icsdateformat(new Date()));

        $("#txtRateStartPerMeasurementUnit").attr("disabled", true);
        $("#txtRateEndPerMeasurementUnit").attr("disabled", true);
        $("#txtStartTotalAmount").attr("disabled", true);
        $("#txtEndTotalAmount").attr("disabled", true);

        $("#chkContractDate").prop("checked", false);
        $("#chkProdStartDate").prop("checked", false);
        $("#chkProdCompleteDate").prop("checked", false);
        $("#chkRate").prop("checked", false);
        $("#chkTotalAmount").prop("checked", false);
    }

	//Start Adv Searc
    
    $("#btnAdvSearchReset").click(function () {
        $("#divWUSubContract input").not("input[type='button']").val("");
        RefreshComboBox();
        RefreshDisableFields();
    });

    $('#btnExportToExcel').click(function () {

        if (!ValidateSearch()) return;

        var sSearchOption = $("#chkContractDate").is(':checked');
        sSearchOption = sSearchOption + '~' + $('#dtpContractStartDate').datebox('getValue');
        sSearchOption = sSearchOption + '~' + $('#dtpContractEndDate').datebox('getValue');
        sSearchOption = sSearchOption + '~' + $("#chkProdStartDate").is(':checked');
        sSearchOption = sSearchOption + '~' + $('#dtpProdStartDate').datebox('getValue');
        sSearchOption = sSearchOption + '~' + $('#dtpProdEndDate').datebox('getValue');
        sSearchOption = sSearchOption + '~' + $("#chkProdCompleteDate").is(':checked');
        sSearchOption = sSearchOption + '~' + $('#dtpProdCompleteStartDate').datebox('getValue');
        sSearchOption = sSearchOption + '~' + $('#dtpProdCompleteEndDate').datebox('getValue');
        sSearchOption = sSearchOption + '~' + $("#chkRate").is(':checked');
        sSearchOption = sSearchOption + '~' + $('#txtRateStartPerMeasurementUnit').val();
        sSearchOption = sSearchOption + '~' + $('#txtRateEndPerMeasurementUnit').val();
        sSearchOption = sSearchOption + '~' + $("#chkTotalAmount").is(':checked');
        sSearchOption = sSearchOption + '~' + $('#txtStartTotalAmount').val();
        sSearchOption = sSearchOption + '~' + $('#txtEndTotalAmount').val();
        sSearchOption = sSearchOption + '~' + $("#txtYarn").data('YarnIDs');
        sSearchOption = sSearchOption + '~' + parseInt($("#cboWarpWeftType").val());
        sSearchOption = sSearchOption + '~' + parseInt($("#cboReportLayout").val());

        var oWUSubContract = {
            JobNo: $.trim($("#txtJobNo").val()),
            SupplierName: $("#txtSupplier").data('SupplierIDs'),
            OrderTypeInt: parseInt($("#cboOrderType").val()),
            PaymentModeInt: parseInt($("#cboPaymentMode").val()),
            TransportationInt: parseInt($("#cboTransportation").val()),
            ContractBy: parseInt($("#cboContractBy").val()),
            SONo: $.trim($("#txtSONo").val()),
            BuyerName: $("#txtBuyer").data('BuyerIDs'),
            StyleNo: $.trim($("#txtStyleNo").val()),
            FabricTypeName: $("#txtFabricType").data('FabricIDs'),
            WeaveDesignName: $("#txtWeaveDesign").data('WeaveDesignIDs'),
            CompositionName: $("#txtComposition").data('CompositionIDs'),
            Construction: $.trim($("#txtConstruction").val()),
            CurrencyID: parseInt($("#cboCurrency").val()),
            MUnitID: parseInt($("#cboMeasurementUnit").val()),
            ProdStartComments: $.trim($("#txtProdComment").val()),
            ErrorMessage: sSearchOption
        };

        $.ajax({
            type: "POST",
            dataType: "json",
            url: sessionStorage.getItem('BaseAddress') + "/WUSubContractPrint/SetSessionSearchCriteria",
            data: JSON.stringify(oWUSubContract),
            contentType: "application/json; charset=utf-8",
            success: function (data) {
                var sFeedBackMessage = jQuery.parseJSON(data);
                if (sFeedBackMessage==="Successful") {
                    var tsv=((new Date()).getTime())/1000;
                    window.open(_sBaseAddress+'/WUSubContractPrint/PrintExcel?ts='+tsv,"_blank");
                }
            },
            error: function (xhr, status, error) {
                alert(error);
            }
        });
    });

    function ValidateSearch() {
        if ($('input[id="chkContractDate"]:checked').length > 0) {
            var ContractStartDate = $('#dtpContractStartDate').datebox('getValue');
            var ContractEndDate = $('#dtpContractEndDate').datebox('getValue');
            if (ContractStartDate >= ContractEndDate) {
                alert("Please Insert Correct Contract Date Format !!!");
                return false;
            }
        }
        if ($('input[id="chkProdStartDate"]:checked').length > 0) {
            var ProdStartDate = $('#dtpProdStartDate').datebox('getValue');
            var ProdEndDate = $('#dtpProdEndDate').datebox('getValue');
            if (ProdStartDate >= ProdEndDate) {
                alert("Please Insert Correct Prod Date Format !!!");
                return false;
            }
        }
        if ($('input[id="chkProdCompleteDate"]:checked').length > 0) {
            var ProdCompleteStartDate = $('#dtpProdCompleteStartDate').datebox('getValue');
            var ProdCompleteEndDate = $('#dtpProdCompleteEndDate').datebox('getValue');
            if (ProdCompleteStartDate >= ProdCompleteEndDate) {
                alert("Please Insert Correct Prod Complete Date Format !!!");
                return false;
            }
        }
        if ($('input[id="chkRate"]:checked').length > 0) {
            var RateStart = $('#txtRateStartPerMeasurementUnit').val();
            var RateEnd = $('#txtRateEndPerMeasurementUnit').val();
            if (RateStart >= RateEnd) {
                alert("Please Insert Correct Rate Format !!!");
                return false;
            }
        }
        if ($('input[id="chkTotalAmount"]:checked').length > 0) {
            var TotalAmountStart = $('#txtStartTotalAmount').val();
            var TotalAmountEnd = $('#txtEndTotalAmount').val();
            if (TotalAmountStart >= TotalAmountEnd) {
                alert("Please Insert Correct Total Amount Format !!!");
                return false;
            }
        }
        return true;
    }

    $("#chkContractDate").click(function () {
        if ($('input[id="chkContractDate"]:checked').length > 0) {
            $("#dtpContractStartDate, #dtpContractEndDate").datebox({ disabled: false });
            $('#dtpContractStartDate').datebox('setValue', icsdateformat(new Date()));
            $('#dtpContractEndDate').datebox('setValue', icsdateformat(new Date()));
        }
        else {
            $("#dtpContractStartDate, #dtpContractEndDate").datebox({ disabled: true });
            $('#dtpContractStartDate').datebox('setValue', icsdateformat(new Date()));
            $('#dtpContractEndDate').datebox('setValue', icsdateformat(new Date()));
        }
    });

    $("#chkProdStartDate").click(function () {            
        if ($('input[id="chkProdStartDate"]:checked').length > 0) {
            $("#dtpProdStartDate, #dtpProdEndDate").datebox({ disabled: false });
            $('#dtpProdStartDate').datebox('setValue', icsdateformat(new Date()));
            $('#dtpProdEndDate').datebox('setValue', icsdateformat(new Date()));
        }
        else {
            $("#dtpProdStartDate, #dtpProdEndDate").datebox({ disabled: true });
            $('#dtpProdStartDate').datebox('setValue', icsdateformat(new Date()));
            $('#dtpProdEndDate').datebox('setValue', icsdateformat(new Date()));
        }
    });

    $("#chkProdCompleteDate").click(function () {            
        if ($('input[id="chkProdCompleteDate"]:checked').length > 0) {
            $("#dtpProdCompleteStartDate, #dtpProdCompleteEndDate").datebox({ disabled: false });
            $('#dtpProdCompleteStartDate').datebox('setValue', icsdateformat(new Date()));
            $('#dtpProdCompleteEndDate').datebox('setValue', icsdateformat(new Date()));
        }
        else {
            $("#dtpProdCompleteStartDate, #dtpProdCompleteEndDate").datebox({ disabled: true });
            $('#dtpProdCompleteStartDate').datebox('setValue', icsdateformat(new Date()));
            $('#dtpProdCompleteEndDate').datebox('setValue', icsdateformat(new Date()));
        }
    });

    $("#chkRate").click(function () {
        if ($('input[id="chkRate"]:checked').length > 0) {
            $("#txtRateStartPerMeasurementUnit").attr("disabled", false);
            $("#txtRateEndPerMeasurementUnit").attr("disabled", false);
        }
        else {
            $("#txtRateStartPerMeasurementUnit").attr("disabled", true);
            $("#txtRateEndPerMeasurementUnit").attr("disabled", true);
        }
    });

    $("#chkTotalAmount").click(function () {
        if ($('input[id="chkTotalAmount"]:checked').length > 0) {
            $("#txtStartTotalAmount").attr("disabled", false);
            $("#txtEndTotalAmount").attr("disabled", false);
        }
        else {
            $("#txtStartTotalAmount").attr("disabled", true);
            $("#txtEndTotalAmount").attr("disabled", true);
        }
    });

    $('#txtSearchByJobNo').keydown(function (e) {

        var keyCode = (e.keyCode ? e.keyCode : e.which);
        if (keyCode == 13) {

            var oWUSubContract = {
                JobNo: $("#txtSearchByJobNo").val(),
                ErrorMessage: null
            }

            $.ajax({
                type: "POST",
                dataType: "json",
                url: sessionStorage.getItem('BaseAddress') + "/WUSubContract/AdvanceSearch",
                data: JSON.stringify(oWUSubContract),
                contentType: "application/json; charset=utf-8",
                success: function (data) {
                    var oWUSubContracts = jQuery.parseJSON(data);
                    if (oWUSubContracts != null) {
                        if (oWUSubContracts.length > 0) {
                            DynamicRefreshList(oWUSubContracts, 'divWUSubContract');
                        }
                        else {
                            alert("Data Not Found!");
                        }
                    }
                },
                error: function (xhr, status, error) {
                    alert(error);
                }
            });
        }
    });

    $("#txtSupplier").keydown(function (e) {
        var code = (e.keyCode ? e.keyCode : e.which);
        if (code == 13) // Enter Press
        {
            var sSupplierName = $.trim($("#txtSupplier").val());
            PickSupplier(sSupplierName);
        }
        else if (code == 8) //backspace=8
        {
            $("#txtSupplier").val("");
            $("#txtSupplier").removeClass("fontColorOfPickItem");
            $("#txtSupplier").data('SupplierIDs', '');
        }
    });

    $("#txtBuyer").keydown(function (e) {
        var code = (e.keyCode ? e.keyCode : e.which);
        if (code == 13) // Enter Press
        {
            var sBuyerName = $.trim($("#txtBuyer").val());
            PickBuyer(sBuyerName);
        }
        else if (code == 8) //backspace=8
        {
            $("#txtBuyer").val("");
            $("#txtBuyer").removeClass("fontColorOfPickItem");
            $("#txtBuyer").data('BuyerIDs', '');
        }
    });

    $("#txtFabricType").keydown(function (e) {
        var code = (e.keyCode ? e.keyCode : e.which);
        if (code == 13) // Enter Press
        {
            var sFabricName = $.trim($("#txtFabricType").val());
            PickFabric(sFabricName);
        }
        else if (code == 8) //backspace=8
        {
            $("#txtFabricType").val("");
            $("#txtFabricType").removeClass("fontColorOfPickItem");
            $("#txtFabricType").data('FabricIDs', '');
        }
    });

    $("#txtWeaveDesign").keydown(function (e) {
        var code = (e.keyCode ? e.keyCode : e.which);
        if (code == 13) // Enter Press
        {
            var sWeaveDesignName = $.trim($("#txtWeaveDesign").val());
            PickWeaveDesign(sWeaveDesignName);
        }
        else if (code == 8) //backspace=8
        {
            $("#txtWeaveDesign").val("");
            $("#txtWeaveDesign").removeClass("fontColorOfPickItem");
            $("#txtWeaveDesign").data('WeaveDesignIDs', '');
        }
    });

    $("#txtYarn").keydown(function (e) {
        var code = (e.keyCode ? e.keyCode : e.which);
        if (code == 13) // Enter Press
        {
            var sYarnName = $.trim($("#txtYarn").val());
            PickYarn(sYarnName);
        }
        else if (code == 8) //backspace=8
        {
            $("#txtYarn").val("");
            $("#txtYarn").removeClass("fontColorOfPickItem");
            $("#txtYarn").data('YarnIDs', '');
        }
    });

    $("#txtComposition").keydown(function (e) {
        var code = (e.keyCode ? e.keyCode : e.which);
        if (code == 13) // Enter Press
        {
            var sCompositionName = $.trim($("#txtComposition").val());
            PickComposition(sCompositionName);
        }
        else if (code == 8) //backspace=8
        {
            $("#txtComposition").val("");
            $("#txtComposition").removeClass("fontColorOfPickItem");
            $("#txtComposition").data('CompositionIDs', '');
        }
    });

    $("#btnPickSupplier").click(function () {
        PickSupplier('');
    });

    $("#btnPickBuyer").click(function () {
        PickBuyer('');
    });

    $("#btnPickFabric").click(function () {
        PickFabric('');
    });

    $("#btnPickWeaveDesign").click(function () {
        PickWeaveDesign('');
    });

    $("#btnPickYarn").click(function () {
        PickYarn('');
    });

    $("#btnPickComposition").click(function () {
        PickComposition('');
    });

    $("#btnClearSupplier").click(function () {
        $("#txtSupplier").val("");
        $("#txtSupplier").removeClass('fontColorOfPickItem');
        $("#txtSupplier").data('SupplierIDs', '');
        $("#txtSupplier").focus();
    });

    $("#btnClearBuyer").click(function () {
        $("#txtBuyer").val("");
        $("#txtBuyer").removeClass('fontColorOfPickItem');
        $("#txtBuyer").data('BuyerIDs', '');
        $("#txtBuyer").focus();
    });

    $("#btnClearFabric").click(function () {
        $("#txtFabricType").val("");
        $("#txtFabricType").removeClass('fontColorOfPickItem');
        $("#txtFabricType").data('FabricIDs', '');
        $("#txtFabricType").focus();
    });

    $("#btnClearWeaveDesign").click(function () {
        $("#txtWeaveDesign").val("");
        $("#txtWeaveDesign").removeClass('fontColorOfPickItem');
        $("#txtWeaveDesign").data('WeaveDesignIDs', '');
        $("#txtWeaveDesign").focus();
    });

    $("#btnClearYarn").click(function () {
        $("#txtYarn").val("");
        $("#txtYarn").removeClass('fontColorOfPickItem');
        $("#txtYarn").data('YarnIDs', '');
        $("#txtYarn").focus();
    });

    $("#btnClearComposition").click(function () {
        $("#txtComposition").val("");
        $("#txtComposition").removeClass('fontColorOfPickItem');
        $("#txtComposition").data('CompositionIDs', '');
        $("#txtComposition").focus();
    });

    function PickSupplier(sSupplierName) {
        // Supplier = 1
        var oContractor = { Params: "1~" + sSupplierName + "~" + $("#divWUSubContract").data("BUID") };//here 1 is Supplier
        var obj = {
            BaseAddress: sessionStorage.getItem('BaseAddress'),
            Object: oContractor,
            ControllerName: "Contractor",
            ActionName: "ContractorSearchByNameType",
            IsWinClose: false
        };
        $.icsDataGets(obj, function (response) {
            if (response.status && response.objs.length > 0) {
                if (response.objs[0].ContractorID > 0) {
                    var tblColums = []; var oColumn = { field: "Name", title: "Name", width: 200, align: "left" }; tblColums.push(oColumn);
                    oColumn = { field: "Address", title: "Address", width: 120, align: "left" }; tblColums.push(oColumn);
                    oColumn = { field: "Email", title: "Email", width: 90, align: "left" }; tblColums.push(oColumn);
                    oColumn = { field: "ShortName", title: "Short Name", width: 90, align: "left" }; tblColums.push(oColumn);
                    var oPickerParam = {
                        winid: 'winSuppliers',
                        winclass: 'clsSupplier',
                        winwidth: 600,
                        winheight: 460,
                        tableid: 'tblSuppliers',
                        tablecolumns: tblColums,
                        datalist: response.objs,
                        multiplereturn: true,
                        searchingbyfieldName: 'Name',
                        windowTittle: 'Supplier List'
                    };
                    $.icsPicker(oPickerParam);
                    IntializePickerbutton(oPickerParam);
                }
                else { alert(response.objs[0].ErrorMessage); }
            } else {
                alert("Data Not Found.");
            }
        });
    }

    function PickBuyer(sBuyerName) {
        // Buyer = 2
        var oContractor = { Params: "2~" + sBuyerName + "~" + $("#divWUSubContract").data("BUID") };//here 2 is Buyer
        var obj = {
            BaseAddress: sessionStorage.getItem('BaseAddress'),
            Object: oContractor,
            ControllerName: "Contractor",
            ActionName: "ContractorSearchByNameType",
            IsWinClose: false
        };
        $.icsDataGets(obj, function (response) {
            if (response.status && response.objs.length > 0) {
                if (response.objs[0].ContractorID > 0) {
                    var tblColums = []; var oColumn = { field: "Name", title: "Name", width: 200, align: "left" }; tblColums.push(oColumn);
                    oColumn = { field: "Address", title: "Address", width: 120, align: "left" }; tblColums.push(oColumn);
                    oColumn = { field: "Email", title: "Email", width: 90, align: "left" }; tblColums.push(oColumn);
                    oColumn = { field: "ShortName", title: "Short Name", width: 90, align: "left" }; tblColums.push(oColumn);
                    var oPickerParam = {
                        winid: 'winBuyers',
                        winclass: 'clsBuyer',
                        winwidth: 600,
                        winheight: 460,
                        tableid: 'tblBuyers',
                        tablecolumns: tblColums,
                        datalist: response.objs,
                        multiplereturn: true,
                        searchingbyfieldName: 'Name',
                        windowTittle: 'Buyer List'
                    };
                    $.icsPicker(oPickerParam);
                    IntializePickerbutton(oPickerParam);
                }
                else { alert(response.objs[0].ErrorMessage); }
            } else {
                alert("Data Not Found.");
            }
        });
    }

    function PickFabric(sFabricName) {
        // Process = 1
        var oFabricProcess = { Params: "1~" + sFabricName };//here 1 Is Supplier
        var obj = {
            BaseAddress: sessionStorage.getItem('BaseAddress'),
            Object: oFabricProcess,
            ControllerName: "WUSubContract",
            ActionName: "GetsFabricName",
            IsWinClose: false
        };
        $.icsDataGets(obj, function (response) {
            if (response.status && response.objs.length > 0) {
                if (response.objs[0].FabricProcessID > 0) {
                    var tblColums = []; var oColumn = { field: "Name", title: "Name", width: 250, align: "left" }; tblColums.push(oColumn);
                    var oPickerParam = {
                        winid: 'winFabrics',
                        winclass: 'clsFabric',
                        winwidth: 350,
                        winheight: 460,
                        tableid: 'tblFabrics',
                        tablecolumns: tblColums,
                        datalist: response.objs,
                        multiplereturn: true,
                        searchingbyfieldName: 'Name',
                        windowTittle: 'Fabric List'
                    };
                    $.icsPicker(oPickerParam);
                    IntializePickerbutton(oPickerParam);
                }
                else { alert(response.objs[0].ErrorMessage); }
            } else {
                alert("Data Not Found.");
            }
        });
    }

    function PickWeaveDesign(sWeaveDesignName) {
        // Weave = 1
        var oFabricProcess = { Params: "3~" + sWeaveDesignName };//here 1 Is Supplier
        var obj = {
            BaseAddress: sessionStorage.getItem('BaseAddress'),
            Object: oFabricProcess,
            ControllerName: "WUSubContract",
            ActionName: "GetsFabricName",
            IsWinClose: false
        };
        $.icsDataGets(obj, function (response) {
            if (response.status && response.objs.length > 0) {
                if (response.objs[0].FabricProcessID > 0) {
                    var tblColums = []; var oColumn = { field: "Name", title: "Name", width: 250, align: "left" }; tblColums.push(oColumn);
                    var oPickerParam = {
                        winid: 'winWeaveDesigns',
                        winclass: 'clsWeaveDesign',
                        winwidth: 350,
                        winheight: 460,
                        tableid: 'tblWeaveDesigns',
                        tablecolumns: tblColums,
                        datalist: response.objs,
                        multiplereturn: true,
                        searchingbyfieldName: 'Name',
                        windowTittle: 'Weave Design List'
                    };
                    $.icsPicker(oPickerParam);
                    IntializePickerbutton(oPickerParam);
                }
                else { alert(response.objs[0].ErrorMessage); }
            } else {
                alert("Data Not Found.");
            }
        });
    }

    function PickYarn(sYarnName) {
        var oYarnName = $("#txtYarn").val();
        if (oYarnName == null || oYarnName == "") {
            alert("Please write a Yarn name!");
            $("#txtYarn").focus();
            return false;
        }
        var oProductSearch = {
            BUID: $("#divWUSubContract").data("BUID"),
            ProductName: sYarnName,
        };

        var obj = {
            BaseAddress: sessionStorage.getItem('BaseAddress'),
            Object: (oProductSearch),
            ControllerName: "WUSubContract",
            ActionName: "GetProducts",
            IsWinClose: false
        };
        $.icsProgressBar(true);
        $.icsDataGets(obj, function (response) {
            $.icsProgressBar(false);
            if (response.status && response.objs.length > 0) {
                if (response.objs[0].ProductID > 0) {
                    var tblColums = [];
                    var oColumn = { field: "ProductCode", title: "Product Code", width: 200, align: "left" }; tblColums.push(oColumn);
                    oColumn = { field: "ProductName", title: "Product Name", width: 150, align: "left" }; tblColums.push(oColumn);
                    var oPickerParam = {
                        winid: 'winYarns',
                        winclass: 'clsYarn',
                        winwidth: 600,
                        winheight: 460,
                        tableid: 'tblYarns',
                        tablecolumns: tblColums,
                        datalist: response.objs,
                        multiplereturn: true,
                        searchingbyfieldName: 'ProductName',
                        windowTittle: 'Yarn List'
                    };
                    $.icsPicker(oPickerParam);
                    IntializePickerbutton(oPickerParam);
                }
                else {
                    alert(response.objs[0].ErrorMessage);
                }
            } else {
                alert("Data Not Found.");
                return;
            }
        });
    }

    function PickComposition(sCompositionName) {
        var oProductSearch = {
            BUID: $("#divWUSubContract").data("BUID"),
            ProductName: sCompositionName,
        };

        var obj = {
            BaseAddress: sessionStorage.getItem('BaseAddress'),
            Object: (oProductSearch) ,
            ControllerName: "WUSubContract",
            ActionName: "GetCompositions",
            IsWinClose: false
        };
        $.icsProgressBar(true);
        $.icsDataGets(obj, function (response) {
            $.icsProgressBar(false);
            if (response.status && response.objs.length > 0) {
                if (response.objs[0].ProductID > 0) {
                    var tblColums = [];
                    var oColumn = { field: "ProductCode", title: "Product Code", width:150, align: "left" }; tblColums.push(oColumn);
                    oColumn = { field: "ProductName", title: "Product Name", width:300, align: "left" }; tblColums.push(oColumn);
                    var oPickerParam = {
                        winid: 'winCompositions',
                        winclass: 'clsComposition',
                        winwidth: 600,
                        winheight: 460,
                        tableid: 'tblCompositions',
                        tablecolumns: tblColums,
                        datalist: response.objs,
                        multiplereturn: true,
                        searchingbyfieldName: 'ProductName',
                        windowTittle: 'Composition List'
                    };
                    $.icsPicker(oPickerParam);
                    IntializePickerbutton(oPickerParam);
                }
                else {
                    alert(response.objs[0].ErrorMessage);
                }
            } else{
                alert("Data Not Found.");
                return;
            }
        });
    }
    
    function IntializePickerbutton(oPickerobj) {
        $("#" + oPickerobj.winid).find("#btnOk").click(function () {
            //for Single Select
            SetPickerValueAssign(oPickerobj);
        });
        $(document).find('.' + oPickerobj.winclass).keydown(function (e) {
            if (e.which == 13)//enter=13
            {
                SetPickerValueAssign(oPickerobj);
            }
        });
    }

    function SetPickerValueAssign(oPickerobj) {
        var oreturnObj = null, oreturnobjs = [];
        if (oPickerobj.multiplereturn) {
            oreturnobjs = $("#" + oPickerobj.tableid).datagrid('getChecked');
        }
        else {
            oreturnObj = $("#" + oPickerobj.tableid).datagrid('getSelected');
        }
        $("#" + oPickerobj.winid).icsWindow("close");
        $("#" + oPickerobj.winid).remove();

        if (oPickerobj.winid == 'winSuppliers') {
            var nSupplierIDs = "";
            if (oPickerobj.multiplereturn) {
                var ncount = 0;
                for (var i = 0; i < oreturnobjs.length; i++) {
                    var nSupplierID = oreturnobjs[i].ContractorID;
                    nSupplierIDs = nSupplierIDs + nSupplierID + ',';
                    ncount++;
                }
                if (ncount > 1) {
                    $('#txtSupplier').val("Select " + ncount + " Supplier's");
                } else {
                    $('#txtSupplier').val(oreturnobjs[0].Name);
                }
                nSupplierIDs = nSupplierIDs.substring(0, nSupplierIDs.length - 1);
            } else {
                $('#txtSupplier').val(oreturnobj.Name);
                nSupplierIDs = "" + oreturnobj.ContractorID + "";
                $('#txtSupplier').focus();
            }
            $("#txtSupplier").data('SupplierIDs', nSupplierIDs);
            $("#txtSupplier").addClass('fontColorOfPickItem');
        }
        else if (oPickerobj.winid == 'winBuyers') {
            var nBuyerIDs = "";
            if (oPickerobj.multiplereturn) {
                var ncount = 0;
                for (var i = 0; i < oreturnobjs.length; i++) {
                    var nBuyerID = oreturnobjs[i].ContractorID;
                    nBuyerIDs = nBuyerIDs + nBuyerID + ',';
                    ncount++;
                }
                if (ncount > 1) {
                    $('#txtBuyer').val("Select " + ncount + " Buyer's");
                } else {
                    $('#txtBuyer').val(oreturnobjs[0].Name);
                }
                nBuyerIDs = nBuyerIDs.substring(0, nBuyerIDs.length - 1);
            } else {
                $('#txtBuyer').val(oreturnobj.Name);
                nBuyerIDs = "" + oreturnobj.ContractorID + "";
                $('#txtBuyer').focus();
            }
            $("#txtBuyer").data('BuyerIDs', nBuyerIDs);
            $("#txtBuyer").addClass('fontColorOfPickItem');
        }
        else if (oPickerobj.winid == 'winFabrics') {
            var nFabricIDs = "";
            if (oPickerobj.multiplereturn) {
                var ncount = 0;
                for (var i = 0; i < oreturnobjs.length; i++) {
                    var nFabricID = oreturnobjs[i].FabricProcessID;
                    nFabricIDs = nFabricIDs + nFabricID + ',';
                    ncount++;
                }
                if (ncount > 1) {
                    $('#txtFabricType').val("Select " + ncount + " Fabric's");
                } else {
                    $('#txtFabricType').val(oreturnobjs[0].Name);
                }
                nFabricIDs = nFabricIDs.substring(0, nFabricIDs.length - 1);
            } else {
                $('#txtFabricType').val(oreturnobj.Name);
                nFabricIDs = "" + oreturnobj.FabricProcessID + "";
                $('#txtFabricType').focus();
            }
            $("#txtFabricType").data('FabricIDs', nFabricIDs);
            $("#txtFabricType").addClass('fontColorOfPickItem');
        }
        else if (oPickerobj.winid == 'winWeaveDesigns') {
            var nWeaveDesignIDs = "";
            if (oPickerobj.multiplereturn) {
                var ncount = 0;
                for (var i = 0; i < oreturnobjs.length; i++) {
                    var nWeaveDesignID = oreturnobjs[i].FabricProcessID;
                    nWeaveDesignIDs = nWeaveDesignIDs + nWeaveDesignID + ',';
                    ncount++;
                }
                if (ncount > 1) {
                    $('#txtWeaveDesign').val("Select " + ncount + " Weave's");
                } else {
                    $('#txtWeaveDesign').val(oreturnobjs[0].Name);
                }
                nWeaveDesignIDs = nWeaveDesignIDs.substring(0, nWeaveDesignIDs.length - 1);
            } else {
                $('#txtWeaveDesign').val(oreturnobj.Name);
                nWeaveDesignIDs = "" + oreturnobj.FabricProcessID + "";
                $('#txtWeaveDesign').focus();
            }
            $("#txtWeaveDesign").data('WeaveDesignIDs', nWeaveDesignIDs);
            $("#txtWeaveDesign").addClass('fontColorOfPickItem');
        }
        else if (oPickerobj.winid == 'winYarns') {
            var nYarnIDs = "";
            if (oPickerobj.multiplereturn) {
                var ncount = 0;
                for (var i = 0; i < oreturnobjs.length; i++) {
                    var nYarnID = oreturnobjs[i].ProductID;
                    nYarnIDs = nYarnIDs + nYarnID + ',';
                    ncount++;
                }
                if (ncount > 1) {
                    $('#txtYarn').val("Select " + ncount + " Yarn's");
                } else {
                    $('#txtYarn').val(oreturnobjs[0].ProductName);
                }
                nYarnIDs = nYarnIDs.substring(0, nYarnIDs.length - 1);
            } else {
                $('#txtYarn').val(oreturnobj.ProductName);
                nYarnIDs = "" + oreturnobj.ProductID + "";
                $('#txtYarn').focus();
            }
            $("#txtYarn").data('YarnIDs', nYarnIDs);
            $("#txtYarn").addClass('fontColorOfPickItem');
        }
        else if (oPickerobj.winid == 'winCompositions') {
            var nCompositionIDs = "";
            if (oPickerobj.multiplereturn) {
                var ncount = 0;
                for (var i = 0; i < oreturnobjs.length; i++) {
                    var nCompositionID = oreturnobjs[i].ProductID;
                    nCompositionIDs = nCompositionIDs + nCompositionID + ',';
                    ncount++;
                }
                if (ncount > 1) {
                    $('#txtComposition').val("Select " + ncount + " Composition's");
                } else {
                    $('#txtComposition').val(oreturnobjs[0].ProductName);
                }
                nCompositionIDs = nCompositionIDs.substring(0, nCompositionIDs.length - 1);
            } else {
                $('#txtComposition').val(oreturnobj.ProductName);
                nCompositionIDs = "" + oreturnobj.ProductID + "";
                $('#txtComposition').focus();
            }
            $("#txtComposition").data('CompositionIDs', nCompositionIDs);
            $("#txtComposition").addClass('fontColorOfPickItem');
        }
    }

</script>