<html>
@{
    ViewBag.Title = "Export Bill Registers";
}
<body>
    @model ESimSol.BusinessObjects.ExportBillReport
    @*<div id="progbarParent" style="width:100%;height:100%;margin:0 auto;text-align:center; margin-left: auto;margin-right: auto;left: 0;right: 0;z-index: 1;">
        <div style="margin: 0px auto;margin-top: 251px;text-align:center;width:390px;">
            <label style="font-size:18px;">Please wait</label>
            <div id="progbar" style="width:100%;height:37px;"></div>
        </div>
    </div>*@
    <div class="menuMainCollectionTable">
        <div id="winAdvSearch" title="Export Bill Register:">
            <table style="width:100%;">
                <tr>
                    <td>
                        <fieldset style="margin-bottom: 0px;  height:90%">
                            <legend>Searching Criteria</legend>
                            <table border="0" cellspacing="2" cellpadding="2" style="font-size:11px; font-weight:bold; text-align:center; width:100%">
                                <tr>
                                    <td colspan="5" style="height:20px;"></td>
                                </tr>
                                <tr>
                                    <td style="width:15%;text-align:right">
                                        <label>Party Name :</label>
                                    </td>
                                    <td style="width:40%;text-align:left" colspan="2">
                                        <input id="txtContractorAdvS" style="width:85%;" type="text" placeholder="Type & Press Enter" />
                                        <a id="btnPickContractorAdvS" href="javascript:void(0)" class="easyui-linkbutton ics-pick" iconcls="icon-pick" plain="true"></a>
                                        <a id="btnClrContractorAdvS" href="javascript:void(0)" class="easyui-linkbutton ics-pick" iconcls="icon-clear" plain="true"></a>
                                    </td>
                                    <td style="width:12%;text-align:right">
                                        <label>Currenct State :</label>
                                    </td>
                                    <td style="width:28%;text-align:right" rowspan="4">
                                        <table id="tblCurrenctState" title="" class="easyui-datagrid" style="width:90%;height:150px;" pagination="false" rownumbers="false" fitcolumns="true" singleselect="false">
                                            <thead>
                                                <tr>
                                                    <th field="ck" checkbox="true"></th>
                                                    <th field="Value" width="100" style="font-size:12px;">Currenct State</th>
                                                </tr>
                                            </thead>
                                        </table>
                                    </td>
                                </tr>
                                <tr>
                                    <td style="width:15%;text-align:right">
                                        <label>Nego Bank:</label>
                                    </td>
                                    <td style="width:40%;text-align:left" colspan="2">
                                        <select id="cboBankBranch_Nego" style="width: 98%; font-size:12px"></select>
                                    </td>
                                    <td style="width:12%;text-align:right"></td>
                                    <td style="width:28%;text-align:right"></td>
                                </tr>
                                <tr>
                                    <td style="width:15%;text-align:right">
                                        <label>Issue Bank :</label>
                                    </td>
                                    <td style="width:45%;text-align:left" colspan="2">
                                        <input id="txtBankBranch_Issue" style="width:85%;" type="text" placeholder="Type & Press Enter" />
                                        <a id="btnPickBankBranch_Issue" href="javascript:void(0)" class="easyui-linkbutton ics-pick" iconcls="icon-pick" plain="true"></a>
                                        <a id="btnClrBankBranch_Issue" href="javascript:void(0)" class="easyui-linkbutton ics-pick" iconcls="icon-clear" plain="true"></a>
                                    </td>
                                    <td style="width:12%;text-align:right"></td>
                                    <td style="width:28%;text-align:right"></td>
                                </tr>
                                <tr>
                                    <td style="width:15%;text-align:right">
                                        <label>Bill Amount :</label>
                                    </td>
                                    <td style="width:45%;text-align:left" colspan="2">
                                        <select id="cobBillAmount" onchange="DateActions_Amount()" style="width:45%; font-size:12px"></select>
                                        <input type="text" id="txtFromBillAmount" style="width:24%;text-align:right" value="0" />
                                        To
                                        <input type="text" id="txtToBillAmount" style="width:24%;text-align:right" disabled value="0" />
                                    </td>
                                    <td style="width:12%;text-align:right"></td>
                                    <td style="width:28%;text-align:right"></td>
                                </tr>

                                <tr>
                                    <td style="width:100%;text-align:left" colspan="5">
                                            <table style="width:100%; margin-left:2.3%">
                                                <tr>
                                                    <td style="width:13%;text-align:right">
                                                        <label style="font-size:12px">Date Type :</label>
                                                    </td>
                                                    <td style="width:12%;text-align:left; padding-left:0.5%">
                                                        <select id="cboDateCriteria" style="width: 100%; font-size:12px">
                                                            <option value="None">--Select One--</option>
                                                            <option value="StartDate">Bill Prepare</option>
                                                            <option value="SendToParty">Send To Party</option>
                                                            <option value="RecdFromParty">Received From Party</option>
                                                            <option value="SendToBank">Send To Bank</option>
                                                            <option value="RecdFromBank">Received From Bank</option>
                                                            <option value="LDBCDate">LDBC/IBC Date</option>
                                                            <option value="AcceptanceDate">Acceptance Date</option>
                                                            <option value="MaturityDate">Maturity Date</option>
                                                            <option value="MaturityReceivedDate">Maturity Received Date</option>
                                                            <option value="RelizationDate">Relization Date</option>
                                                            <option value="BankFDDReceiveDate">Bank FDD Receive Date</option>
                                                            <option value="DiscountedDate">Discounted Date</option>
                                                            <option value="EncashmentDate">Encashment Date</option>
                                                        </select>
                                                    </td>
                                                    <td colspan="2">
                                                        <select id="cboBillDate" onchange="DateActions_Bill()" style="width:10%;font-size:12px;"></select>
                                                        <input id="txtBillDateStart" type="text" style="width: 14%;" class="easyui-datebox" required="required" data-options="formatter:icsdateformat,parser:icsdateparser" />
                                                        To
                                                        <input id="txtBillDateEnd" type="text" style="width: 14%;" class="easyui-datebox" required="required" data-options="formatter:icsdateformat,parser:icsdateparser" />
                                                    </td>
                                                </tr>
                                            </table>
                                    </td>
                                </tr>
                                <tr>
                                    <td style="width:15%;text-align:right;padding-top:0.4%">
                                        <label>Print Type :</label>
                                    </td>
                                    <td style="width:40%;text-align:left;padding-top:0.4%">
                                        <select id="cboPrintType" style="width: 102%; font-size:12px">
                                            <option value="0">--Select One--</option>
                                            <option value="1">Back To Back</option>
                                            <option value="2">Acceptance Doc Send To Bank</option>
                                            <option value="3">Acceptance Recv From Bank</option>
                                        </select>
                                    </td>
                                    <td style="width:1%;text-align:right"></td>
                                    <td style="width:12%;text-align:right">
                                         
                                    </td>
                                    <td style="width:28%;text-align:right">
                                        @*<tr>
                                            <td style="font-size:12px;text-align:right;">
                                                <label>Date :</label>
                                            </td>
                                            <td>
                                                <select id="cboDateOptionAdvSearch" onchange="DateActions_DateOption(); "></select>
                                                <input id="txtFromDateAdvSearch" type="text" style="width: 110px;" class="easyui-datebox" required="required" data-options="formatter:icsdateformat,parser:icsdateparser" />To
                                                <input id="txtToDateAdvSearch" type="text" style="width: 110px;" class="easyui-datebox" required="required" data-options="formatter:icsdateformat,parser:icsdateparser" />
                                            </td>
                                        </tr> *@
                                    </td>
                                </tr>
                                @*<tr>
                                    <td style="width:15%;text-align:right;padding-top:0.4%">
                                        <label>Print Layout :</label>
                                    </td>
                                    <td style="width:40%;text-align:left;padding-top:0.4%">
                                        <select id="cboPrintLayout" style="width: 102%; font-size:12px">
                                            <option value="0">--Select One--</option>
                                            <option value="1">Back To Back</option>
                                            <option value="2">Acceptance Doc Send To Bank</option>
                                            <option value="3">Acceptance Recv From Bank</option>
                                        </select>
                                    </td>
                                    <td style="width:1%;text-align:right"></td>
                                    <td style="width:12%;text-align:right"></td>
                                    <td style="width:28%;text-align:right"></td>
                                </tr>
                                <tr>*@
                                    <td style="width:100%;text-align:right" colspan="3">
                                        <div class="col-lg-12">
                                            <div class="col-lg-4">
                                                <label>Wait for UP Issue: </label>
                                                <span>
                                                    <input type="checkbox" id="ckhYetToEUP" />
                                                </span>
                                            </div>
                                            <div class="col-lg-4">
                                                <label>Export UP Issued: </label>
                                                <span>
                                                    <input type="checkbox" id="ckhEUPDone" />
                                                </span>
                                            </div>
                                            <div class="col-lg-4">
                                                <label>L/C Type: </label>
                                                <span>                                             
                                                    <select style="width:85px" id="cboLCType"></select>
                                                </span>
                                            </div>                                          
                                        </div>
                                    </td>
                                </tr>
                            </table>
                                    @*<td colspan="2">
                                        <div class="col-lg-12">
                                            <div class="col-lg-6">
                                                <label>Wait for UP Issue: </label>
                                                <span>
                                                    <input type="checkbox" id="ckhYetToEUP" />
                                                </span>
                                            </div>
                                            <div class="col-lg-6">
                                                <label>Export UP Issued: </label>
                                                <span>
                                                    <input type="checkbox" id="ckhEUPDone" />
                                                </span>
                                            </div>
                                        </div>
                                    </td>*@
                          
                        </fieldset>
                    </td>
                </tr>
            </table>
            <fieldset class="actionfieldsetstyle">
                <legend>Actions : </legend>
                <label class="lblLoadingMessage" style="float: left;">Loading Please Wait...</label>

                <select id="cboPrintLayout" style="width: 20%; font-size:12px">
                    <option value="0">--Select Layout--</option>
                    <option value="1">Back To Back</option>
                    <option value="2">Acceptance Doc Send To Bank</option>
                    <option value="3">Acceptance Recv From Bank</option>
                </select>
                <a id="btnResetAdvSearch" href="javascript:void(0)" class="easyui-linkbutton" iconcls="icon-reload" plain="true">Reset</a>
                <a id="btnPrintExportReg" href="javascript:void(0)" class="easyui-linkbutton" iconcls="icon-print" plain="true">Preview</a>
                <a id="btnPrintExcelExportReg" href="javascript:void(0)" class="easyui-linkbutton" iconcls="icon-print" plain="true">Excel</a>
                <a id="btnCloseAdvSearch" href="javascript:void(0)" class="easyui-linkbutton" iconcls="icon-cancel" plain="true">Close</a>
            </fieldset>
        </div>
    </div>
</body>
</html>    

 <script type="text/javascript">
    var _sBaseAddress="";
    var _oExportBillReport=null;
    var _oExportBillReports=[];
    var _oBankBranchs_Nego=[];
    var _oLCBillEventObj=[];
    var _oCompareOperators=[];
    var _oCurrencys=[];
    var _sBankBranch_IssueIds="";
    var _sContractorIds="";
    var _nBUID=0;
    $(document).ready(function ()
    {
        debugger;
        _sBaseAddress =@Html.Raw( new System.Web.Script.Serialization.JavaScriptSerializer().Serialize(HttpContext.Current.Session[SessionInfo.BaseAddress]));
        _oExportBillReports =@Html.Raw( new System.Web.Script.Serialization.JavaScriptSerializer().Serialize(Model));
        _oBankBranchs_Nego=@Html.Raw(new System.Web.Script.Serialization.JavaScriptSerializer().Serialize(ViewBag.BankBranchs_Nego));
        _oLCBillEventObj=@Html.Raw(new System.Web.Script.Serialization.JavaScriptSerializer().Serialize(ViewBag.LCBillEventObj));
        _oCompareOperators = @Html.Raw(new System.Web.Script.Serialization.JavaScriptSerializer().Serialize(ViewBag.CompareOperators));
      //  _oBankAccounts= @Html.Raw(new System.Web.Script.Serialization.JavaScriptSerializer().Serialize(ViewBag.BankAccounts));
        _oCurrencys= @Html.Raw(new System.Web.Script.Serialization.JavaScriptSerializer().Serialize(ViewBag.Currencys));
        _nBUID = @Html.Raw(new System.Web.Script.Serialization.JavaScriptSerializer().Serialize(ViewBag.BUID));
        _oLCTypes = @Html.Raw(new System.Web.Script.Serialization.JavaScriptSerializer().Serialize(ViewBag.LCTypes));
        $("#cboLCType").icsLoadCombo({List: _oLCTypes, OptionValue: "id", DisplayText: "Value"});
        LoadComboAdv();

        sessionStorage.setItem("ParamsSO", "");
        $(".lblLoadingMessage").hide();
        $("#progressbar").hide();
        $("#progressbarParent").hide();
    });

     function LoadComboAdv()
     {
         $("#cboBankBranch_Nego").icsLoadCombo({
             List: _oBankBranchs_Nego,
             OptionValue: "BankBranchID",
             DisplayText: "BankBranchName"
         });

         DynamicRefreshList(_oLCBillEventObj, "tblCurrenctState");
 
         $("#cboState").icsLoadCombo({
             List: _oLCBillEventObj,
             OptionValue: "id",
             DisplayText: "Value"
         });
         $("#cboBillDate, #cobBillAmount").icsLoadCombo({ //cboDateOptionAdvSearch removed
             List: _oCompareOperators,
             OptionValue: "Value",
             DisplayText: "Text"
             //OptionValue: "id",
             //DisplayText: "Value"
         });
         $("#cboCurrency").icsLoadCombo({
             List: _oCurrencys,
             OptionValue: "CurrencyID",
             DisplayText: "Symbol"
         });
        
     }
     $(document).keydown(function (e) { if (e.keyCode == 27) { $('#winExportBillReportColumn').icsWindow('close'); } });

     ///Configuration
     $("#btnConfiguration").click(function () {
         $("#winExportBillReportColumn").icsWindow('open', "Export Bill->Configuration");
         GetExportBill_ColConfiguration();
     });
     
     function GetExportBill_ColConfiguration() {
 

         var oLists = [];
         var oList = new Object();

         oList.FieldName = "ExportLCNo";
         oList.Caption = "LC No";
         oLists.push(oList);

         oList = new Object();
         oList.FieldName = "ApplicantName";
         oList.Caption = "Party Name";
         oLists.push(oList);

         oList = new Object();
         oList.FieldName = "BankName_Advice";
         oList.Caption = "Advice Bank";
         oLists.push(oList);

         oList = new Object();
         oList.FieldName = "BankName_Nego";
         oList.Caption = "Negotiate Bank";
         oLists.push(oList);

         oList = new Object();
         oList.FieldName = "ExportBillNoSt";
         oList.Caption = "Bill No";
         oLists.push(oList);

         oList = new Object();
         oList.FieldName = "AmountSt";
         oList.Caption = "Amount";
         oLists.push(oList);

         oList = new Object();
         oList.FieldName = "StateSt";
         oList.Caption = "Current Status";
         oLists.push(oList);

         oList = new Object();
         oList.FieldName = "BankName_Issue";
         oList.Caption = "Issue Bank";
         oLists.push(oList);

         oList = new Object();
         oList.FieldName = "BBranchName_Issue";
         oList.Caption = "Issue Bank Branch";
         oLists.push(oList);

         oList = new Object();
         oList.FieldName = "LCOpeningDatest";
         oList.Caption = "LC Open Date";
         oLists.push(oList);

         oList = new Object();
         oList.FieldName = "DocPrepareDateSt";
         oList.Caption = "Doc Prepare Date";
         oLists.push(oList);

         oList = new Object();
         oList.FieldName = "StartDateSt";
         oList.Caption = "Invoice Date";
         oLists.push(oList);

         oList = new Object();
         oList.FieldName = "SendToPartySt";
         oList.Caption = "Send To Party";
         oLists.push(oList);

         oList = new Object();
         oList.FieldName = "RecdFromPartySt";
         oList.Caption = "Recd From Party";
         oLists.push(oList);

         oList = new Object();
         oList.FieldName = "SendToBankDateSt";
         oList.Caption = "Send To Bank";
         oLists.push(oList);

         oList = new Object();
         oList.FieldName = "RecedFromBankDateSt";
         oList.Caption = "Recd From Bank";
         oLists.push(oList);

         oList = new Object();
         oList.FieldName = "LDBCDateSt";
         oList.Caption = "LDBC Date";
         oLists.push(oList);

         oList = new Object();
         oList.FieldName = "LDBCNo";
         oList.Caption = "LDBC No";
         oLists.push(oList);

         oList = new Object();
         oList.FieldName = "AcceptanceDateSt";
         oList.Caption = "Submit To Party Bank";
         oLists.push(oList);

         oList = new Object();
         oList.FieldName = "MaturityReceivedDateSt";
         oList.Caption = "Maturity Red Date";
         oLists.push(oList);

         oList = new Object();
         oList.FieldName = "MaturityDateSt";
         oList.Caption = "Maturity Date";
         oLists.push(oList);

         oList = new Object();
         oList.FieldName = "DiscountedDateSt";
         oList.Caption = "Discounted Date";
         oLists.push(oList);

         oList = new Object();
         oList.FieldName = "RelizationDateSt";
         oList.Caption = "Relization Date";
         oLists.push(oList);

         oList = new Object();
         oList.FieldName = "BankFDDRecDateSt";
         oList.Caption = "BankFDD Recd Date";
         oLists.push(oList);

         oList = new Object();
         oList.FieldName = "EncashmentDateSt";
         oList.Caption = "Encashment Date";
         oLists.push(oList);

         DynamicRefreshList(oLists, "tblExportBillReportColumn");

     }
     $("#btnOk_ExportBillReportColumn").click(function (e)
     {
         debugger;
         oExportBillReportColumns = $("#tblExportBillReportColumn").icsGetCheckedItem();
     });
     $("#btnRefresh").click(function (e) {
         debugger;
         var sColumns = ["ExportLCNo", "ApplicantName", "BankName_Advice", "BankName_Nego", "ExportBillNoSt", "AmountSt", "StateSt", "BankName_Issue","BBranchName_Issue", "LCOpeningDatest","DocPrepareDateSt", "StartDateSt", "SendToPartySt", "RecdFromPartySt", "SendToBankDateSt", "RecedFromBankDateSt", "LDBCDateSt", "LDBCNo", "AcceptanceDateSt", "MaturityReceivedDateSt", "MaturityDateSt", "DiscountedDateSt", "RelizationDateSt", "BankFDDRecDateSt", "EncashmentDateSt"]
         for (var i = 0; i < sColumns.length; i++) {
             $('#tblExportBillReports').datagrid('showColumn', sColumns[i]);
         }

         $('#tblExportBillReports').datagrid('hideColumn', 'TimeLag1');
         $('#tblExportBillReports').datagrid('hideColumn', 'TimeLag2');
         $('#tblExportBillReports').datagrid('hideColumn', 'TimeLag3');
         $('#tblExportBillReports').datagrid('hideColumn', 'TimeLag4');
         $('#tblExportBillReports').datagrid('hideColumn', 'TimeLag5');
         $('#tblExportBillReports').datagrid('hideColumn', 'TimeLag6');
         $('#tblExportBillReports').datagrid('hideColumn', 'TimeLag7');
         $('#tblExportBillReports').datagrid('hideColumn', 'TimeLag8');
         $('#tblExportBillReports').datagrid('hideColumn', 'TimeLag9');
         $('#tblExportBillReports').datagrid('hideColumn', 'TimeLag10');
         $('#tblExportBillReports').datagrid('hideColumn', 'TimeLag11');
         $('#tblExportBillReports').datagrid('hideColumn', 'TimeLag12');
         $('#tblExportBillReports').datagrid('hideColumn', 'TimeLag13');

         DynamicRefreshList(_oExportBillReports, "tblExportBillReports");
     });
     
     function ColumnHide() {
         debugger
         if (oExportBillReportColumns.length > 0) {
             var sColumns = ["ExportLCNo", "ApplicantName", "BankName_Advice", "BankName_Nego", "ExportBillNoSt", "AmountSt", "StateSt","BankName_Issue","BBranchName_Issue", "LCOpeningDatest","DocPrepareDateSt", "StartDateSt", "SendToPartySt", "RecdFromPartySt", "SendToBankDateSt", "RecedFromBankDateSt", "LDBCDateSt", "LDBCNo", "AcceptanceDateSt", "MaturityReceivedDateSt", "MaturityDateSt", "DiscountedDateSt", "RelizationDateSt", "BankFDDRecDateSt", "EncashmentDateSt"]
             for (var i = 0; i < sColumns.length; i++) {
                 if (!IsExist(sColumns[i])) {
                     $('#tblExportBillReports').datagrid('hideColumn', sColumns[i]);
                 }
             }


             $('#tblExportBillReports').datagrid('hideColumn', 'TimeLag1');
             $('#tblExportBillReports').datagrid('hideColumn', 'TimeLag2');
             $('#tblExportBillReports').datagrid('hideColumn', 'TimeLag3');
             $('#tblExportBillReports').datagrid('hideColumn', 'TimeLag4');
             $('#tblExportBillReports').datagrid('hideColumn', 'TimeLag5');
             $('#tblExportBillReports').datagrid('hideColumn', 'TimeLag6');
             $('#tblExportBillReports').datagrid('hideColumn', 'TimeLag7');
             $('#tblExportBillReports').datagrid('hideColumn', 'TimeLag8');
             $('#tblExportBillReports').datagrid('hideColumn', 'TimeLag9');
             $('#tblExportBillReports').datagrid('hideColumn', 'TimeLag10');
             $('#tblExportBillReports').datagrid('hideColumn', 'TimeLag11');
             $('#tblExportBillReports').datagrid('hideColumn', 'TimeLag12');
             $('#tblExportBillReports').datagrid('hideColumn', 'TimeLag13');


         }
     }

     function IsExist(sColumnName) {
         debugger;
         for (var j = 0; j < oExportBillReportColumns.length; j++) {
             if (oExportBillReportColumns[j].FieldName == sColumnName) {
                 return true;
             }
         }
         return false;
     }
     ///end Configuration

     ////Start adv Searching

     function updateProgress() {
         var value =$('#progressbar').progressbar('getValue');
         if (value < 96){
             value += Math.floor(Math.random() * 10);
             $('#progressbar').progressbar('setValue', value);
         }
     }
     function hideShow(miliseconds) {
         $("#progressbarParent").hide();
     }
     //Account Of Picker

     $("#txtContractorAdvS").keydown(function (e) {
         if (e.keyCode === 13) // Enter Press
         {
             PickContractors_AdvS();
         }
         else if (e.keyCode === 08) {
             $("#txtContractorAdvS").removeClass("fontColorOfPickItem");
             _sContractorIds = '';
         }
     });

     $("#btnClrContractorAdvS").click(function () {
         $("#txtContractorAdvS").removeClass("fontColorOfPickItem");
         $("#txtContractorAdvS").val("");
         _sContractorIds = '';
     });

     $("#btnPickContractorAdvS").click(function () {
         PickContractors_AdvS();
     });
     function PickContractors_AdvS() {
         var oContractor = {
             Params: '2,3' + '~' + $.trim($("#txtContractorAdvS").val()+"~"+_nBUID)
         };
         var obj = {
             BaseAddress: _sBaseAddress,
             Object: oContractor,
             ControllerName: "Contractor",
             ActionName: "ContractorSearchByNameType",
             IsWinClose: false
         };

         $("#progressbar").progressbar({ value: 0 });
         $("#progressbarParent").show();
         var intervalID = setInterval(updateProgress, 250);

         DynamicRefreshList([], "tblAccountsPickerAdvSearch");
         $.icsDataGets(obj, function (response) {
             clearInterval(intervalID);
             $("#progressbarParent").hide();
             if (response.status && response.objs.length > 0) {
                 if (response.objs[0].ContractorID > 0) {
                     var tblColums = []; var oColumn = { field: "ContractorID", title: "Code", width: 50, align: "left" }; tblColums.push(oColumn);
                     oColumn = { field: "Name", title: "Name", width: 280, align: "left" }; tblColums.push(oColumn);

                     var oPickerParam = {
                         winid: 'winContractorPicker',
                         winclass: 'clsAccountOf',
                         winwidth: 400,
                         winheight: 460,
                         tableid: 'tblAccountOfs',
                         tablecolumns: tblColums,
                         datalist: response.objs,
                         multiplereturn: true,
                         searchingbyfieldName: 'Name',
                         windowTittle: 'Contactor List'
                     };
                     $.icsPicker(oPickerParam);
                     IntializePickerbutton(oPickerParam);
                 }
                 else {
                     alert(response.objs[0].ErrorMessage);
                 }
             }
             else {
                 alert("Sorry, No Contactor Found.");
             }
         });
     }
     //End Account Of Picker
     $("#txtBankBranch_Issue").keydown(function (e) {
         if (e.keyCode === 13) // Enter Press
         {
             if($("#txtBankBranch_Issue").val()=="" || $("#txtBankBranch_Issue").val()==null)
             {
                 $("#txtBankBranch_Issue").removeClass("fontColorOfPickItem");
                 _sBankBranch_IssueIds = '';
                 alert("Please, Type name")
                 return;
             }

             var oBankBranch = {
                 BUID: _nBUID,
                 DeptIDs: '5',//EnumOperationalDept : Export_Party=5
                 BankName: $.trim($("#txtBankBranch_Issue").val())
             };
             PickBanks_AdvS(oBankBranch);
         }
         else if (e.keyCode === 08) {
             $("#txtBankBranch_Issue").removeClass("fontColorOfPickItem");
             _sBankBranch_IssueIds = '';
         }
     });

     $("#btnClrBankBranch_Issue").click(function () {
         $("#txtBankBranch_Issue").removeClass("fontColorOfPickItem");
         $("#txtBankBranch_Issue").val("");
         _sBankBranch_IssueIds = '';
     });

     $("#btnPickBankBranch_Issue").click(function () {
         var oBankBranch = {
             BUID: _nBUID,
             DeptIDs: '5',//EnumOperationalDept : Export_Party=5
             BankName: $.trim($("#txtBankBranch_Issue").val())
         };
         PickBanks_AdvS(oBankBranch);
     });
     function PickBanks_AdvS(oBankBranch) {
        
         var obj = {
             BaseAddress: _sBaseAddress,
             Object: oBankBranch,
             ControllerName: "BankBranch",
             ActionName: "GetsBankBranchSearchByBankName",
             IsWinClose: false
         };

         $("#progressbar").progressbar({ value: 0 });
         $("#progressbarParent").show();
         var intervalID = setInterval(updateProgress, 250);

         $.icsDataGets(obj, function (response) {
             clearInterval(intervalID);
             $("#progressbarParent").hide();
             if (response.status && response.objs.length > 0) {
                 if (response.objs[0].BankBranchID > 0) {
                     var tblColums = []; var oColumn = { field: "BankName", title: "Bank Name", width: 200, align: "left" }; tblColums.push(oColumn);
                     oColumn = { field: "BranchName", title: "Branch Name", width: 280, align: "left" }; tblColums.push(oColumn);
                     oColumn = { field: "Address", title: "Address", width: 280, align: "left" }; tblColums.push(oColumn);

                     var oPickerParam = {
                         winid: 'winBankBranch_IssuePicker',
                         winclass: 'clsBankBranch_Issue',
                         winwidth: 500,
                         winheight: 460,
                         tableid: 'tblBankBranch_Issues',
                         tablecolumns: tblColums,
                         datalist: response.objs,
                         multiplereturn: true,
                         searchingbyfieldName: 'BranchName',
                         windowTittle: 'Bank List'
                     };
                     $.icsPicker(oPickerParam);
                     IntializePickerbutton(oPickerParam);
                 }
                 else {
                     alert(response.objs[0].ErrorMessage);
                 }
             }
             else {
                 alert("Sorry, No Contactor Found.");
             }
         });
     }
    
     //EndIssue Bank
     function IntializePickerbutton(oPickerobj) {
         $("#" + oPickerobj.winid).find("#btnOk").click(function () {
             SetPickerValueAssign(oPickerobj);
         });
         $(document).find('.' + oPickerobj.winclass).keydown(function (e) {
             if (e.which === 13) {
                 SetPickerValueAssign(oPickerobj);
             }
         });
     }
     function SetPickerValueAssign(oPickerobj) {
         var oreturnObj = null, oreturnObjs = [];
         if (oPickerobj.multiplereturn) {
             oreturnObjs = $('#' + oPickerobj.tableid).datagrid('getChecked');
         } else {
             oreturnObj = $('#' + oPickerobj.tableid).datagrid('getSelected');
         }

         if (oPickerobj.winid == 'winContractorPicker')
         {
             if (oreturnObjs != null && oreturnObjs.length> 0)
             {

                 _sContractorIds=''; var sMessage='';
                 sMessage=(oreturnObjs.length>1)? oreturnObjs.length +" Contractors Selected" : oreturnObjs[0].Name;
                 $('#txtContractorAdvS').val(sMessage);
                 $("#txtContractorAdvS").addClass("fontColorOfPickItem");

                 for(var i=0;i<oreturnObjs.length;i++){
                     _sContractorIds=_sContractorIds+oreturnObjs[i].ContractorID+',';
                 }
                 _sContractorIds=_sContractorIds.substring(0,_sContractorIds.length-1);

             }
             else
             {
                 alert("Please select a contractor.");
                 return false;
             }
         }

         else if (oPickerobj.winid == 'winBankBranch_IssuePicker') {
             if (oreturnObjs != null && oreturnObjs.length> 0)
             {
                 var sMessage='';
                 sMessage=(oreturnObjs.length>1)? oreturnObjs.length +" Bank(s) Selected" : oreturnObjs[0].BankName;
                 $('#txtBankBranch_Issue').val(sMessage);
                 $("#txtBankBranch_Issue").addClass("fontColorOfPickItem");

                 for(var i=0;i<oreturnObjs.length;i++){
                     _sBankBranch_IssueIds=_sBankBranch_IssueIds+oreturnObjs[i].BankBranchID+',';
                 }
                 _sBankBranch_IssueIds=_sBankBranch_IssueIds.substring(0,_sBankBranch_IssueIds.length-1);
             }
             else
             {
                 alert("Please select a Bank Branch.");
                 return false;
             }
         }
        
         $("#" + oPickerobj.winid).icsWindow("close");
         $("#" + oPickerobj.winid).remove();
     }
    //End Buyer Search
    
     $('#ckhYetToEUP').change(function (e) {
         debugger;
         if ($('#ckhYetToEUP').is(':checked'))
             $('#ckhEUPDone').prop('checked', false);

     });
     $('#ckhEUPDone').change(function (e) {
         if ($('#ckhEUPDone').is(':checked'))
             $('#ckhYetToEUP').prop('checked', false);
     });
     $("#btnResetAdvSearch").click(function () {
         ResetAdvSearchWindow();
         DateActions_Amount();
         DateActions_Bill();
         DateActions_DateOption();
         
     });
     
     function MakeStringIDs(StringIDs) {
    
         var IDs = "";
         for (var i = 0; i < StringIDs.length; i++) {
             IDs = StringIDs[i].id + "," + IDs;
         }
         var length = 0;
         length = parseInt(IDs.length) - 1;
         IDs = IDs.substring(0, parseInt(length));
         return IDs;
     }
     $("#btnPrintExportReg").click(function () {
         debugger;

         $(".lblLoadingMessage").show();

         var checkDate = CheckFromAndToDateValidation("cboBillDate", "txtBillDateStart", "txtBillDateEnd");
         if (!checkDate) {
             alert("Start date must be greater than end date.");
             return false;
         }
         //checkDate = CheckFromAndToDateValidation("cboDateOptionAdvSearch", "txtFromDateAdvSearch", "txtToDateAdvSearch");
         //if (!checkDate) {
         //    alert("Start date must be greater than end date.");
         //    return false;
         //}
         //if($('#cboPrintType').val()<=0)
         //{
         //    alert("Please Select a Print Layout");
         //    return;
         //}

         var oCurrenctStates = $('#tblCurrenctState').datagrid('getSelections');
         var sCurrenctStates = "";
         if (oCurrenctStates.length > 0) 
         {
             sCurrenctStates = MakeStringIDs(oCurrenctStates);
         }
         var nDateType =  $("#cboDateCriteria").val();
         var nDateSearchCriteria =   parseInt($("#cboBillDate").val());
         var dStartDateCritaria = $('#txtBillDateStart').datebox('getValue');
         var dEndDateCritaria =  $('#txtBillDateEnd').datebox('getValue');

         var nStateDateType =0;
         var nDateSearchState= 0;
         var dStartDateState= "";
         var dEndDateState= "";
         //This4isNotUsedForRegister

         var nSearchAmountType =  parseInt($("#cobBillAmount").val());
         var nFromAmount = parseFloat($("#txtFromBillAmount").val());
         var nToAmount =  parseFloat($("#txtToBillAmount").val());
         var nBankBranchID_Nego= parseInt($("#cboBankBranch_Nego").val());

         var sExportLCNo= "";
         var sExportBillNo= "";
         var sExportLDBCNo= "";
         var sExportPINo= "";
         

         var sParams = _sContractorIds + "~" +
                 sCurrenctStates + "~" +
                 nBankBranchID_Nego + "~" +
                 _sBankBranch_IssueIds+"~"+
                 nSearchAmountType + "~" +
                 nFromAmount + "~" +
                 nToAmount + "~" +

                 nDateType+ "~" +
                 nDateSearchCriteria + "~" +
                 dStartDateCritaria + "~" +
                 dEndDateCritaria + "~" +  

                 nStateDateType + "~" +  
                 nDateSearchState+ "~" +  
                 dStartDateState+ "~" +  
                 dEndDateState+ "~" +  
                 sExportLCNo+ "~" +  
                 sExportBillNo+ "~" +  
                 sExportLDBCNo+ "~" +  
                 sExportPINo+ "~" +  
                 _nBUID+"~"+
                $('#ckhYetToEUP').is(':checked') + "~" +
                $('#ckhEUPDone').is(':checked')+ "~"+$('#cboPrintType').val()+"~"+($('#cboPrintLayout').val()<=0?$('#cboPrintType').val():$('#cboPrintLayout').val())+"~"+parseInt($("#cboLCType").val());
                
         sessionStorage.setItem("ParamsSO", sParams);

         var oExportBillReport = 
             {
             BUID: _nBUID,
             Params : sParams
         }
         SetSessionSearchCriteria(oExportBillReport,"PDF");
     });

     $("#btnPrintExcelExportReg").click(function () {
         debugger;
         var checkDate = CheckFromAndToDateValidation("cboBillDate", "txtBillDateStart", "txtBillDateEnd");
         if (!checkDate) {
             alert("Start date must be greater than end date.");
             return false;
         }
         if($('#cboPrintType').val()<=0)
         {
             alert("Please Select a Print Type");
             return;
         }

         var oCurrenctStates = $('#tblCurrenctState').datagrid('getSelections');
         var sCurrenctStates = "";
         if (oCurrenctStates.length > 0) {
             sCurrenctStates = MakeStringIDs(oCurrenctStates);
         }
         var nDateType =  $("#cboDateCriteria").val();
         var nDateSearchCriteria =   parseInt($("#cboBillDate").val());
         var dStartDateCritaria = $('#txtBillDateStart').datebox('getValue');
         var dEndDateCritaria =  $('#txtBillDateEnd').datebox('getValue');

         var nStateDateType =0;
         var nDateSearchState= 0;
         var dStartDateState= "";
         var dEndDateState= "";
         //This4isNotUsedForRegister

         var nSearchAmountType =  parseInt($("#cobBillAmount").val());
         var nFromAmount = parseFloat($("#txtFromBillAmount").val());
         var nToAmount =  parseFloat($("#txtToBillAmount").val());
         var nBankBranchID_Nego= parseInt($("#cboBankBranch_Nego").val());

         var sExportLCNo= "";
         var sExportBillNo= "";
         var sExportLDBCNo= "";
         var sExportPINo= "";
         
         var sParams = _sContractorIds + "~" +
                 sCurrenctStates + "~" +
                 nBankBranchID_Nego + "~" +
                 _sBankBranch_IssueIds+"~"+
                 nSearchAmountType + "~" +
                 nFromAmount + "~" +
                 nToAmount + "~" +

                 nDateType+ "~" +
                 nDateSearchCriteria + "~" +
                 dStartDateCritaria + "~" +
                 dEndDateCritaria + "~" +  

                 nStateDateType + "~" +  
                 nDateSearchState+ "~" +  
                 dStartDateState+ "~" +  
                 dEndDateState+ "~" +  
                 sExportLCNo+ "~" +  
                 sExportBillNo+ "~" +  
                 sExportLDBCNo+ "~" +  
                 sExportPINo+ "~" +  
                 _nBUID+"~"+
                $('#ckhYetToEUP').is(':checked') + "~" +
                $('#ckhEUPDone').is(':checked')+ "~"+$('#cboPrintType').val()+'~'+($('#cboPrintLayout').val()<=0?$('#cboPrintType').val():$('#cboPrintLayout').val())+'~'+parseInt($('#cboLCType').val());
                
         sessionStorage.setItem("ParamsSO", sParams);

         $(".lblLoadingMessage").show();
         var oExportBillReport = {
             BUID: _nBUID,
             Params : sParams
         }
         SetSessionSearchCriteria(oExportBillReport,"EXCEL");
     });
     $('#txtSearchbyLDBCNo').keypress(function (e) {
         var code = (e.keyCode ? e.keyCode : e.which);
         if (code == 13)//Enter key-13
         {
            
             var nDateType = "";
             var nDateSearchCriteria =  0;
             var dStartDateCritaria = icsdateformat(new Date());
             var dEndDateCritaria =   icsdateformat(new Date());

             var nStateDateType =0;
             var nDateSearchState=  0;
             var dStartDateState=  icsdateformat(new Date());
             var dEndDateState=  icsdateformat(new Date());

             var nSearchAmountType = 0;
             var nFromAmount = 0;
             var nToAmount = 0;
             var nBankBranchID_Nego= 0;
             var sCurrenctStates="";
             if ($.trim($("#txtSearchbyLDBCNo").val()) == "")
             {
                 alert("Please give LDBC No.");
                 return false;
             }

             var sExportLCNo= "";
             var sExportBillNo= "";
             var sExportLDBCNo= $.trim($("#txtSearchbyLDBCNo").val());
             var sExportPINo= "";

         
             var sParams = _sContractorIds + "~" +
                     sCurrenctStates + "~" +
                     nBankBranchID_Nego + "~" +
                     _sBankBranch_IssueIds+"~"+
                     nSearchAmountType + "~" +
                     nFromAmount + "~" +
                     nToAmount + "~" +

                     nDateType+ "~" +
                     nDateSearchCriteria + "~" +
                     dStartDateCritaria + "~" +
                     dEndDateCritaria + "~" +  

                     nStateDateType + "~" +  
                     nDateSearchState+ "~" +  
                     dStartDateState+ "~" +  
                     dEndDateState+ "~" +  
                        sExportLCNo+ "~" +  
                           sExportBillNo+ "~" +  
                              sExportLDBCNo+ "~" +  
                                 sExportPINo+ "~" +  
                      _nBUID;
                
             sessionStorage.setItem("ParamsSO", sParams);


             var oExportBillReport = {
                 BUID: _nBUID,
                 Params : sParams
             }
             SetSessionSearchCriteria(oExportBillReport);
         }
         else if (code === 8) {
             DynamicRefreshList([], "tblExportBillReports");
         }
     });
     $('#txtSearchbyLCNo').keypress(function (e) {
         var code = (e.keyCode ? e.keyCode : e.which);
         if (code == 13)//Enter key-13
         {
             debugger;
             var nDateType = "";
             var nDateSearchCriteria =  0;
             var dStartDateCritaria = icsdateformat(new Date());
             var dEndDateCritaria =   icsdateformat(new Date());

             var nStateDateType =0;
             var nDateSearchState=  0;
             var dStartDateState=  icsdateformat(new Date());
             var dEndDateState=  icsdateformat(new Date());

             var nSearchAmountType = 0;
             var nFromAmount = 0;
             var nToAmount = 0;
             var nBankBranchID_Nego= 0;
             var sCurrenctStates="";
             if ($.trim($("#txtSearchbyLCNo").val()) == "")
             {
                 alert("Please give L/C No.");
                 return false;
             }

             var sExportLCNo= $.trim($("#txtSearchbyLCNo").val());
             var sExportBillNo= "";
             var sExportLDBCNo= "";
             var sExportPINo= "";

         
             var sParams = _sContractorIds + "~" +
                     sCurrenctStates + "~" +
                     nBankBranchID_Nego + "~" +
                     _sBankBranch_IssueIds+"~"+
                     nSearchAmountType + "~" +
                     nFromAmount + "~" +
                     nToAmount + "~" +

                     nDateType+ "~" +
                     nDateSearchCriteria + "~" +
                     dStartDateCritaria + "~" +
                     dEndDateCritaria + "~" +  

                     nStateDateType + "~" +  
                     nDateSearchState+ "~" +  
                     dStartDateState+ "~" +  
                     dEndDateState+ "~" +  
                        sExportLCNo+ "~" +  
                           sExportBillNo+ "~" +  
                              sExportLDBCNo+ "~" +  
                                 sExportPINo+ "~" +  
                      _nBUID;
                
             sessionStorage.setItem("ParamsSO", sParams);


             var oExportBillReport = {
                 BUID: _nBUID,
                 Params : sParams
             }
             SetSessionSearchCriteria(oExportBillReport);
         }
         else if (code === 8) {
             DynamicRefreshList([], "tblExportBillReports");
         }
     });

     $('#txtSearchbyBillNo').keypress(function (e) {
         var code = (e.keyCode ? e.keyCode : e.which);
         if (code == 13)//Enter key-13
         {

             var nDateType = "";
             var nDateSearchCriteria =  0;
             var dStartDateCritaria = icsdateformat(new Date());
             var dEndDateCritaria =   icsdateformat(new Date());

             var nStateDateType =0;
             var nDateSearchState=  0;
             var dStartDateState=  icsdateformat(new Date());
             var dEndDateState=  icsdateformat(new Date());

             var nSearchAmountType = 0;
             var nFromAmount = 0;
             var nToAmount = 0;
             var nBankBranchID_Nego= 0;
             var sCurrenctStates="";
             if ($.trim($("#txtSearchbyBillNo").val()) == "")
             {
                 alert("Please give Invoice/Bill No.");
                 return false;
             }

             var sExportLCNo= "";
             var sExportBillNo=$.trim($("#txtSearchbyBillNo").val());
             var sExportLDBCNo= "";
             var sExportPINo= "";

         
             var sParams = _sContractorIds + "~" +
                     sCurrenctStates + "~" +
                     nBankBranchID_Nego + "~" +
                     _sBankBranch_IssueIds+"~"+
                     nSearchAmountType + "~" +
                     nFromAmount + "~" +
                     nToAmount + "~" +

                     nDateType+ "~" +
                     nDateSearchCriteria + "~" +
                     dStartDateCritaria + "~" +
                     dEndDateCritaria + "~" +  

                     nStateDateType + "~" +  
                     nDateSearchState+ "~" +  
                     dStartDateState+ "~" +  
                     dEndDateState+ "~" +  
                        sExportLCNo+ "~" +  
                           sExportBillNo+ "~" +  
                              sExportLDBCNo+ "~" +  
                                 sExportPINo+ "~" +  
                      _nBUID;
                
             sessionStorage.setItem("ParamsSO", sParams);


             var oExportBillReport = {
                 BUID: _nBUID,
                 Params : sParams
             }
             SetSessionSearchCriteria(oExportBillReport);
         }
         else if (code === 8) {
             DynamicRefreshList([], "tblExportBillReports");
         }
     });
     $('#txtSearchbyPINo').keypress(function (e) {
         var code = (e.keyCode ? e.keyCode : e.which);
         if (code == 13)//Enter key-13
         {

             var nDateType = "";
             var nDateSearchCriteria =  0;
             var dStartDateCritaria = icsdateformat(new Date());
             var dEndDateCritaria =   icsdateformat(new Date());

             var nStateDateType =0;
             var nDateSearchState=  0;
             var dStartDateState=  icsdateformat(new Date());
             var dEndDateState=  icsdateformat(new Date());

             var nSearchAmountType = 0;
             var nFromAmount = 0;
             var nToAmount = 0;
             var nBankBranchID_Nego= 0;
             var sCurrenctStates="";
             if ($.trim($("#txtSearchbyPINo").val()) == "")
             {
                 alert("Please give P/I No.");
                 return false;
             }

             var sExportLCNo= "";
             var sExportBillNo= "";
             var sExportLDBCNo="";
             var sExportPINo= $.trim($("#txtSearchbyPINo").val());

         
             var sParams = _sContractorIds + "~" +
                     sCurrenctStates + "~" +
                     nBankBranchID_Nego + "~" +
                     _sBankBranch_IssueIds+"~"+
                     nSearchAmountType + "~" +
                     nFromAmount + "~" +
                     nToAmount + "~" +

                     nDateType+ "~" +
                     nDateSearchCriteria + "~" +
                     dStartDateCritaria + "~" +
                     dEndDateCritaria + "~" +  

                     nStateDateType + "~" +  
                     nDateSearchState+ "~" +  
                     dStartDateState+ "~" +  
                     dEndDateState+ "~" +  
                        sExportLCNo+ "~" +  
                           sExportBillNo+ "~" +  
                              sExportLDBCNo+ "~" +  
                                 sExportPINo+ "~" +  
                      _nBUID;
                
             sessionStorage.setItem("ParamsSO", sParams);


             var oExportBillReport = {
                 BUID: _nBUID,
                 Params : sParams
             }
             SetSessionSearchCriteria(oExportBillReport);
         }
         else if (code === 8) {
             DynamicRefreshList([], "tblExportBillReports");
         }
     });
   
     function SetSessionSearchCriteria(oExportBillReport,sPrintType)
     {
         $.ajax({
             type: "POST",
             dataType: "json",
             url: _sBaseAddress + "/ExportBillRegister/SetSessionSearchCriteria",
             traditional: true,
             data: JSON.stringify(oExportBillReport),
             contentType: "application/json; charset=utf-8",
             success: function (data) {
                 var oExportBillReports = data;
                 debugger;
                 if (oExportBillReports != null)
                 {
                     if (oExportBillReports.length > 0)
                     {
                         //DynamicRefreshList(oExportBillReports, "tblExportBillReports");
                         //RefreshSummary();
                         //$("#winAdvSearch").icsWindow("close");
                         //ColumnHide();
                         debugger;

                         var nType=1;
                         var nLCType=  parseInt($('#cboLCType').val());

                         ( $('#cboPrintLayout').val()>0?  (nType= $('#cboPrintLayout').val()) : $('#cboPrintType').val()>0? nType= $('#cboPrintType').val() :'' );

                         if(sPrintType=="PDF")
                             window.open(_sBaseAddress + '/ExportBillRegister/PrintExportBillRegister?nType='+nType+'&nLCType='+nLCType, "_blank");
                         if(sPrintType=="EXCEL")
                             window.open(_sBaseAddress + '/ExportBillRegister/ExportToExcelExportBillRegister?nType='+nType+'&nLCType='+nLCType, "_blank")
                     }
                     else
                     {
                         alert("Sorry, No data found.");
                        // DynamicRefreshList([], "tblExportBillReports");
                     }

                 } else {
                     alert("Sorry, No data found.");
                     //DynamicRefreshList([], "tblExportBillReports");
                 }
                 $(".lblLoadingMessage").hide();
             }
         });
     }
   
     function CheckFromAndToDateValidation(OperationComboId, FromDateId, ToDateId) {
         $("#" + OperationComboId).parent().parent().parent().find("select").removeClass("errorFieldBorder");
         var nCboVal = $("#" + OperationComboId).val();
         if (parseInt(nCboVal) == 5 || parseInt(nCboVal) == 6) {
             var fromDate = $("#" + FromDateId).datebox("getValue");
             var toDate = $("#" + ToDateId).datebox("getValue");
             if (new Date(fromDate) > new Date(toDate)) {
                 $("#" + ToDateId).focus();
                 $("#" + OperationComboId).addClass("errorFieldBorder");
                 $(".lblLoadingMessage").hide();
                 return false;
             } else {
                 $("#" + OperationComboId).removeClass("errorFieldBorder");
                 return true;
             }
         } else {
             return true;
         }
     }
     function ResetAdvSearchWindow() {
         _sContractorIds = '';
         _sBankBranch_IssueIds = "";
         $("#winAdvSearch input").not("input[type='button']").val("");
         $("#winAdvSearch input").removeClass("fontColorOfPickItem");
         $("#winAdvSearch select").val(0);
         DateActions_Amount();
         DateActions_Bill();
         DateActions_DateOption();
         $("#txtBillDateStart,#txtBillDateEnd,#txtFromDateAdvSearch,#txtToDateAdvSearch").datebox({ disabled: true });
         $("#txtBillDateStart,#txtBillDateEnd,#txtFromDateAdvSearch,#txtToDateAdvSearch").datebox("setValue", icsdateformat(new Date()));
     }

     function DateActions_Amount() {
         var nDateOptionValTwo = $("#cobBillAmount").val();
         if (parseInt(nDateOptionValTwo) == 0) {
             $("#txtFromBillAmount").prop('disabled', true);
             $("#txtToBillAmount").prop('disabled', true);
             $("#txtFromBillAmount").val(0);
             $("#txtToBillAmount").val(0);
         }
         else if (parseInt(nDateOptionValTwo) >= 1 && parseInt(nDateOptionValTwo) <= 4) {
             $("#txtFromBillAmount").prop('disabled', false);
             $("#txtToBillAmount").prop('disabled', true);

         }
         else if (parseInt(nDateOptionValTwo) == 5 || parseInt(nDateOptionValTwo) == 6) {
             $("#txtFromBillAmount").prop('disabled', false);
             $("#txtToBillAmount").prop('disabled', false);
             $("#txtToBillAmount").val(0);

         }
     }
     function DateActions_Bill() {
         DynamicDateActions("cboBillDate", "txtBillDateStart", "txtBillDateEnd");
     }
     function DateActions_DateOption() {
         //DynamicDateActions("cboDateOptionAdvSearch", "txtFromDateAdvSearch", "txtToDateAdvSearch");
     }

     $("#btnCloseAdvSearch").click(function () {
         $("#winAdvSearch").icsWindow("close");
     });
     $("#btnAdvSearch").click(function () {
         debugger;
         $(".lblLoadingMessage").hide();
         $("#progressbarParent").hide();
         $("#winAdvSearch").icsWindow("open", "Export Bill Advance Search");
         DynamicResetAdvSearchWindow("winAdvSearch");
         DynamicDateActions("cboBillDate", "txtBillDateStart", "txtBillDateEnd");
         //DynamicDateActions("cboDateOptionAdvSearch", "txtFromDateAdvSearch", "txtToDateAdvSearch");
         ResetAdvSearchWindow();
     });
     /// end Adv Searching

     $("#btnPrint").click(function () {
         var sParams=sessionStorage.getItem("ParamsSO");
         debugger;
         var sFieldName = "";
         var sCaption = "";
         for (var i = 0; i < oExportBillReportColumns.length; i++) {
             sFieldName += oExportBillReportColumns[i].FieldName + ",";
             sCaption += oExportBillReportColumns[i].Caption + ",";
         }
         sFieldName = sFieldName.substring(0, sFieldName.length - 1);
         sCaption = sCaption.substring(0, sCaption.length - 1);

         var sExportBillFieldST = sFieldName + "~" + sCaption;

         window.open(_sBaseAddress + '/ExportBillReport/Print_ExportBillReport?BUID='+_nBUID+'&sParam=' + sParams + '&sExportBillFieldST=' + sExportBillFieldST, "_blank")
     });

     $("#btnPrintXL").click(function () {
         window.open(_sBaseAddress + '/ExportBillReport/ExportToExcelExportBillReport', "_blank")
     });

     function RefreshSummary()
     {
         var oRows = $('#tblExportBillReports').datagrid('getRows');
         if(oRows.length>0)
         {
             var nAmount=0;
             for(var i=0;i<oRows.length;i++)
             {
                 nAmount = parseFloat(nAmount)+parseFloat(oRows[i].Amount);
             }
             nAmount = parseFloat(nAmount).toFixed(2);
             debugger
             var oRow =
             {
                 ExportBillNoSt : 'Total',
                 AmountSt:"$"+nAmount
             }
             $('#tblExportBillReports').datagrid('appendRow',oRow); 
         } 
     }

</script>
    
