     <HTML>
     <head>
         <link href="@Url.Content("~/Content/CSS/icon.css")" rel="stylesheet" type="text/css" />
         <link href="@Url.Content("~/Content/CSS/easyui.css")" rel="stylesheet" type="text/css" />
         <link href="@Url.Content("~/Content/CSS/Pikerstyle.css")" rel="stylesheet" type="text/css" />

         <script src="@Url.Content("~/Scripts/jquery-1.7.1.min.js")" type="text/javascript"></script>
         <script src="@Url.Content("~/Scripts/jquery.ics.customize.js")" type="text/javascript"></script>
         <script src="@Url.Content("~/Scripts/jquery.easyui.min.js")" type="text/javascript"></script>

         <script src="@Url.Content("~/Scripts/jquery-ui.min.js")" type="text/javascript"></script>
         <script src="@Url.Content("~/Scripts/json2.js")" type="text/javascript"></script>
    </head>
   
        

@model ESimSol.BusinessObjects.HeadDisplayConfigure
@using (Html.BeginForm("DebitHeadConfigure", "HeadDisplayConfigure", FormMethod.Post))
{    

<table border="0">
    <tr>
        <td><input type="text" style="width:150px" id="txAccountheadName" /> </td>
        <td>
            <input type="button"  value="...." id="btnLedgerPiker" style="width:50px" /> 
        </td>       
    </tr>
    <tr>
        <td><input type="text" style="width:150px" id="txtAccountheadID" /> </td>
        <td><input type="submit"  value="Add" style="width:50px" /></td>       
    </tr>
</table>

}
</HTML>

<script type="text/javascript">
 $(function () {
        $('#btnLedgerPiker').click(function () {
            var oParameter = new Object();
            oParameter.MultipleReturn = true;
            var url = '@Url.Action("LedgerPiker", "ChartsOfAccount",new {nParentId=1})';
            var oReturnObject = window.showModalDialog(url, oParameter, 'dialogHeight:470px;dialogWidth:550px;dialogLeft:400;dialogTop:100;center:yes;resizable:no;status:no;scroll:no');
            document.getElementById('txAccountheadName').value = oReturnObject.SelectedItemName;
            document.getElementById('txtAccountheadID').value = oReturnObject.SelectedItemsIDs;
        });
    });
</script>