@{
    ViewBag.Title = "Fabric Receive";
}

<body>
    @model ESimSol.BusinessObjects.FabricSCReport
    <div id="divFabric" class="easyui-panel" title="Add Fabric" style="font-family:Tahoma; height:100%; width:100%">
        <div style="width:100%; height:87%; text-align:center">
                <fieldset >
                    <legend style="font-weight:bold;text-align:left;"></legend>
                    <table style="width: 100%;">
                        <tr>
                            <td style="width:10%; text-align:right;font-weight:bold">
                                Buyer:
                            </td>
                            <td colspan="3" style="width:40%;text-align:left">
                                <input id="txtContractorName" class="reset-text" style="width:76%;" placeholder="Type & Press Enter" disabled="disabled" />
                                @*<a id="btnContractor" href="javascript:void(0)" class="easyui-linkbutton ics-pick" iconcls="icon-pick" plain="true"></a>
                                <a id="btnResetContractor" href="javascript:void(0)" class="easyui-linkbutton ics-pick" iconcls="icon-clear" plain="true"></a>*@
                            </td>
                            <td style="width:10%; text-align:right;font-weight:bold">
                                <label id="lblFabricNoTwo">FABRIC No</label>:
                            </td>
                            <td style="width:15%">
                                <input id="txtP" style="width:20%" placeholder="P" type="text" disabled="disabled" />
                                <input id="txtFabricNoFabric" style="width:75%" type="text" disabled="disabled" />
                            </td>
                            <td style="width:10%; text-align:right;font-weight:bold">
                                <label>Issue DT :</label>
                            </td>
                            <td style="width:15%">
                                <input id="txtPODate" type="text" style="width: 100%;"  class="easyui-datebox" required="required" data-options="formatter:icsdateformat,parser:icsdateparser" />
                            </td>

                        </tr>
                        <tr>
                            <td style="width:10%; text-align:right;font-weight:bold">
                                Style:
                            </td>
                            <td style="width:15%;text-align:left">
                                <input id="txtStyleNo" class="reset-text" style="width:100%" placeholder="Type & Press Enter" disabled="disabled" />
                            </td>
                            <td style="width:10%;text-align:left">
                                Buyer Ref.:

                            </td>
                            <td style="width:15%;text-align:left">
                                <input id="txtBuyerReference" class="reset-text" style="width:100%" placeholder="Type & Press Enter" disabled="disabled" />

                            </td>
                            <td style="width:10%; text-align:right;font-weight:bold">
                                <label>Mkt. Person :</label>
                            </td>
                            <td colspan="3" style="width:40%">
                                <input id="txtMKTPName" class="reset-text" style="width:100%;" placeholder="Type & Press Enter" disabled="disabled" />
                            </td>


                        </tr>

                    </table>
                </fieldset>
            <div style="float:left; width:100%">
                <fieldset>
                    <legend style="text-align:left; font-weight:bolder;">MKT Detail</legend>
                    <table style="width:100% ;height:150px">
                        <tr>
                            <td style="width:60% ;height:150px">
                               
                                    <table cellpadding="2" style="width:100% ;height:140px;vertical-align:top">
                                        <tr>
                                            <td style="width:30%;text-align:right"><label>Composition Warp:</label></td>
                                            <td style="width:30%;text-align:left"><select style="width:100% ;" id="cboProductWarp" disabled="disabled"></select></td>
                                            <td style="width:10%;text-align:right"><label> Weft:</label></td>
                                            <td style="width:30%;text-align:left"><select style="width:100% ;" id="cboProductWeft" disabled="disabled"></select></td>
                                        </tr>

                                        <tr  style="vertical-align:top">
                                            <td style="width: 30%; text-align: right">
                                                <label>Construction:</label>
                                            </td>
                                            <td style="width:30%; text-align: left">
                                                <input id="txtConstruction" type="text" disabled="disabled" />
                                            </td>
                                            <td style="width: 10%; text-align: right">
                                                <label>Construction(PI):</label>
                                            </td>
                                            <td style="width:30%; text-align: left">
                                                <input id="txtConstructionPI" type="text" disabled="disabled" />
                                            </td>

                                        </tr>
                                        <tr>
                                            <td style="width:30%;text-align:right"><label>Light Source Primary:</label></td>
                                            <td style="width:30%;text-align:left"><input id="txtLightSourceName" class="reset-text" style="width:100%;" disabled="disabled" /></td>
                                            <td style="width:10%;text-align:right"><label>Secondary:</label></td>
                                            <td style="width:30%;text-align:left"><input id="txtLightSourceNameTwo" class="reset-text" style="width:100%;" placeholder="Type & Press Enter" disabled="disabled" /></td>
                                        </tr>
                                        <tr>
                                            <td style="width:30%;text-align:right"><label>End Use:</label></td>
                                            <td style="width:30%;text-align:left"><input id="txtEndUse" type="text" style="width:100%;" disabled="disabled" /></td>
                                            <td style="width:10%;text-align:right"><label>No of Frame:</label></td>
                                            <td style="width:30%;text-align:left"><input id="txtNoOfFrame" class="numberFormat" type="text" style="width:100%;" disabled="disabled" /></td>
                                        </tr>

                                        <tr>
                                            <td style="width:30%;text-align:right"><label>Weight:</label></td>
                                            <td style="width:30%;text-align:left"><input id="txtWeightDec" style="width:60%" type="text" disabled="disabled" /> GSM</td>
                                            <td style="width:10%;text-align:right"><label>Buyer Swatch:</label></td>
                                            <td style="width:30%;text-align:left"></td>
                                        </tr>
                                        <tr>
                                            <td style="width:30%;text-align:right"><label>Note:</label></td>
                                            <td colspan="3" style="width:70%;text-align:left"><textarea rows="1" id="txtNoteMKT" style="text-align:left; width:99%; height:20px; font-family:Tahoma; font-size:12px" disabled="disabled" placeholder="Narration"></textarea></td>
                                        </tr>


                                    </table>
                              
                            </td>
                            <td style="width:40% ;height:150px">
                               
                                    <table style="width:100% ;height:140px;">

                                        <tr>
                                            <td style="width:30%;text-align:right"><label>Color :</label></td>
                                            <td style="width:70%;text-align:left"><input style="width:100%" id="txtColor" type="text" /></td>
                                        </tr>

                                        <tr>
                                            <td style="width:30%;text-align:right"><label>Width :</label></td>
                                            <td style="width:70%;text-align:left"><input style="width:100%" id="txtFabricWidthFabric" type="text" /></td>
                                        </tr>

                                        <tr>
                                            <td style="width:30%;text-align:right"><label>Process Type :</label></td>
                                            <td style="width:70%;text-align:left"><select style="width:100%" id="cboProcessTypeFabric"></select> </td>
                                        </tr>
                                        <tr>

                                            <td style="width:30%;text-align:right"><label>Fabric Design :</label></td>
                                            <td style="width:70%;text-align:left"><select style="width:100%" id="cboFabricDesign"></select> </td>
                                        </tr>
                                        <tr>
                                            <td style="width:30%;text-align:right"><label>Weave:</label></td>
                                            <td style="width:70%;text-align:left"><select style="width:100%" id="cboWeaveFabric"></select> </td>

                                        </tr>
                                        <tr>
                                            <td style="width:30%;text-align:right"><label>Finish Type :</label></td>
                                            <td style="width:70%;text-align:left"><select style="width:100%" id="cboFinishTypeFabric"></select> </td>

                                        </tr>

                                    </table>
                               
                            </td>
                        </tr>
                    </table>
                 </fieldset>
            </div>
            <div style="float:left; width:100%">
                <fieldset>
                    <legend style="text-align:left; font-weight:bolder;">Analysis Result</legend>
                    <table style="width:100% ;height:150px">
                        <tr>
                            <td style="width:60% ;height:150px">

                                <table cellpadding="2" style="width:100% ;height:140px">
                                    <tr>
                                        <td style="width:25%;text-align:right"><label>Composition Warp:</label></td>
                                        <td style="width:30%;text-align:left"><select style="width:100% ;" id="cboProductWarpRnd" onchange="cbo_Product_Fabric_RnD(1)"></select></td>
                                        <td style="width:15%;text-align:right"><label> Weft:</label></td>
                                        <td style="width:30%;text-align:left"><select style="width:100% ;" id="cboProductWeftRnd" onchange="cbo_Product_Fabric_RnD(2)"></select></td>
                                    </tr>
                                    @*<tr>
                                        <td style="width:25%;text-align:right"><label>Comp.(Suggested) Warp :</label></td>
                                        <td style="width:30%;text-align:left"><select style="width:100% ;" id="cboProductWarpRnd_Suggest"></select></td>
                                        <td style="width:15%;text-align:right"><label> Weft:</label></td>
                                        <td style="width:30%;text-align:left"><select style="width:100% ;" id="cboProductWeftRnd_Suggest"></select></td>
                                    </tr>*@
                                    <tr>
                                        <td style="width:25%;text-align:right"><label>Comp.(Suggested) Warp :</label></td>
                                        <td colspan="3" style="width:75%;text-align:left"><input type="text" id="txtProductWarpRnd_Suggest" style="width:100%" /></td>
                                    </tr>
                                    <tr>
                                        <td style="width:25%;text-align:right">
                                            <label>Const.(Actual):</label>
                                        </td>
                                        <td colspan="3" style="width:75%;text-align:left">
                                            <input id="txtWarpCount" onkeyup="SetConstructionSuggest(1)" style="width:23%" placeholder="Warp" type="text" /><label>x</label>
                                            <input id="txtWeftCount" onkeyup="SetConstructionSuggest(2)" style="width:23%" placeholder="Weft" type="text" /><label>/</label>
                                            <input id="txtEPI" onkeyup="SetConstructionSuggest(3)" style="width:23%" placeholder="EPI" type="text" /><label>x</label>
                                            <input id="txtPPI" onkeyup="SetConstructionSuggest(4)" style="width:24%" placeholder="PPI" type="text" />
                                        </td>
                                    </tr>
                                    <tr id="rtAdjDocCharge" style="vertical-align:top">
                                        <td style="width: 25%; text-align: right">
                                            <label>Const.(Suggested):</label>
                                        </td>
                                        <td style="width:30%; text-align: left">
                                            <input id="txtConstructionSuggest" style="width:100%" type="text" />
                                        <td style="width:15%;text-align:right"><label>Yarn Ply:</label></td>
                                        <td style="width:30%;text-align:left"><input id="txtYarnFly" style="width:100%" type="text" /></td>

                                    </tr>
                                    <tr id="rtAdjDocCharge" style="vertical-align:top">
                                        <td style="width: 25%; text-align: right">
                                            <label>Yarn Quality:</label>
                                        </td>
                                        <td style="width:30%; text-align: left">
                                            <input id="txtYarnQuality" style="width:100%" type="text" />
                                        </td>
                                        <td style="width:15%;text-align:right;"><label style="font-size:11px;">Wash Type: </label></td>
                                        <td style="width:30%;text-align:left">
                                            <select id="cboWashType" style="width:100%">
                                                <option value="0">--Select one--</option>
                                                <option value="1">B/W</option>
                                                <option value="2">A/W</option>
                                            </select>
                                        </td>

                                    </tr>
                                    <tr id="rtAdjDocCharge" style="vertical-align:top">
                                        <td style="width: 25%; text-align: right">
                                            <label>Crimp WP:</label>
                                        </td>
                                        <td style="width:30%; text-align: left">
                                            <input id="txtCrimpWP" style="width:100%" type="text" />
                                        </td>
                                        <td style="width:15%;text-align:right;"><label>Crimp WF: </label></td>
                                        <td style="width:30%;text-align:left">
                                            <input id="txtCrimpWF" style="width:100%" type="text" />
                                        </td>
                                    </tr>
                                    <tr id="rtAdjDocCharge" style="vertical-align:top">
                                        <td style="width: 25%; text-align: right">
                                            <label>Elongation:</label>
                                        </td>
                                        <td style="width:30%; text-align: left">
                                            <input id="txtElongation" style="width:100%" type="text" />
                                        </td>
                                        <td style="width:15%;text-align:right;"><label style="font-size:11px;">Slub Len. WP: </label></td>
                                        <td style="width:30%;text-align:left">
                                            <input id="txtSlubLengthWP" style="width:100%" type="text" />
                                        </td>
                                    </tr>
                                    <tr id="rtAdjDocCharge" style="vertical-align:top">
                                        <td style="width: 25%; text-align: right">
                                            <label>Pause Len. WP:</label>
                                        </td>
                                        <td style="width:30%; text-align: left">
                                            <input id="txtPauseLengthWP" style="width:100%" type="text" />
                                        </td>
                                        <td style="width:15%;text-align:right;"><label style="font-size:11px;">Slub Dia WP: </label></td>
                                        <td style="width:30%;text-align:left">
                                            <input id="txtSlubDiaWP" style="width:100%" type="text" />
                                        </td>
                                    </tr>

                                    <tr id="rtAdjDocCharge" style="vertical-align:top">
                                        <td style="width: 25%; text-align: right">
                                            <label>Remarks(RnD):</label>
                                        </td>
                                        <td colspan="3" style="width:75%;text-align:left"><textarea rows="1" id="txtNoteRnD" style="text-align:left; width:100%; height:20px; font-family:Tahoma; font-size:12px" placeholder="Type RnD Remarks"></textarea></td>
                                    </tr>
                                    <tr>
                                        <td style="width: 25%; text-align: right">                    
                                        </td>
                                        <td colspan="3" style="width:75%;text-align:left"></td>                                       
                                    </tr>
                                </table>
                            </td>
                            <td style="width:40% ;height:150px">
                                <table style="width:100% ;height:140px;">
                                    
                                    @*<tr>
                                        <td style="width:30%;text-align:right"><label>Process Type :</label></td>
                                        <td style="width:70%;text-align:left"><select style="width:100%" id="cboProcessTypeFabric"></select> </td>
                                    </tr>
                                    <tr>

                                        <td style="width:30%;text-align:right"><label>Fabric Design :</label></td>
                                        <td style="width:70%;text-align:left"><select style="width:100%" id="cboProcessTypeFabric"></select> </td>
                                    </tr>*@
                                    <tr>
                                        <td style="width:30%;text-align:right"><label>Weave:</label></td>
                                        <td style="width:70%;text-align:left"><select style="width:100%" id="cboWeaveRnD" onchange="cbo_Product_Fabric_RnD(3)"></select> </td>
                                    </tr>
                                    <tr>
                                        <td style="width:30%;text-align:right"><label>Weave (Suggest):</label></td>
                                        <td style="width:70%;text-align:left"><select style="width:100%" id="cboWeaveRnD_Suggest"></select> </td>
                                    </tr>
                                    <tr>
                                        <td style="width:30%;text-align:right"><label>Finish Type :</label></td>
                                        <td style="width:70%;text-align:left"><select style="width:100%" id="cboFinishTypeRnD"></select> </td>

                                    </tr>
                                    <tr>
                                        <td style="width:30%;text-align:right"><label>Weight (Actual):</label></td>
                                        <td style="width:70%;text-align:left">
                                            <table>
                                                <tr>
                                                    <td style="width:35%"><input id="txtWeightAct" type="text" style="width:100%" /></td>
                                                    <td style="width:30%;text-align:right"><label>(Calculated):</label></td>
                                                    <td style="width:35%"><input id="txtWeightCal" type="text" style="width:100%" /></td>
                                                </tr>
                                            </table>
                                        </td>
                                        

                                    </tr>
                                    <tr>
                                        <td style="width:30%;text-align:right"><label>Weight Declare:</label></td>
                                        @*<td style="width:70%;text-align:left"><input id="txtWeightDecRnd" type="text" /></td>*@
                                        <td style="width:70%;text-align:left">
                                            <table>
                                                <tr>
                                                    <td style="width:35%"><input id="txtWeightDecRnd" type="text" style="width:100%" /></td>
                                                    <td style="width:30%;text-align:right"><label>Growth:</label></td>
                                                    <td style="width:35%"><input id="txtGrowth" type="text" style="width:100%" /></td>
                                                </tr>
                                            </table>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td style="width:30%;text-align:right"><label>Finish Width :</label></td>
                                        @*<td style="width:70%;text-align:left"><input style="width:100%" id="txtFabricWidthRnD" type="text" /></td>*@
                                        <td style="width:70%;text-align:left">
                                            <table>
                                                <tr>
                                                    <td style="width:35%"><input id="txtFabricWidthRnD" type="text" style="width:100%" /></td>
                                                    <td style="width:30%;text-align:right"><label>Gray Width:</label></td>
                                                    <td style="width:35%"><input id="txtWidthGrey" type="text" style="width:100%" /></td>
                                                </tr>
                                            </table>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td style="width:30%;text-align:right"><label>Shade Type :</label></td>
                                        <td style="width:70%;text-align:left">
                                            <table>
                                                <tr>
                                                    <td style="width:35%">
                                                        <select id="cboShadeType" style="width:100%"></select>
                                                    </td>
                                                    <td style="width:30%;text-align:right"><label>Recovery:</label></td>
                                                    <td style="width:35%"><input id="txtRecovy" type="text" style="width:100%" /></td>
                                                </tr>
                                            </table>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td style="width:30%;text-align:right"><label>Slub Len. WF :</label></td>
                                        <td style="width:70%;text-align:left">
                                            <table>
                                                <tr>
                                                    <td style="width:35%"><input id="txtSlubLengthWF" type="text" style="width:100%" /></td>
                                                    <td style="width:30%;text-align:right"><label>Pause Len. WF:</label></td>
                                                    <td style="width:35%"><input id="txtPauseLengthWF" type="text" style="width:100%" /></td>
                                                </tr>
                                            </table>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td style="width:30%;text-align:right"><label>Slub Dia WF :</label></td>
                                        <td style="width:70%;text-align:left">
                                            <table>
                                                <tr>
                                                    <td style="width:35%"><input id="txtSlubDiaWF" type="text" style="width:100%" /></td>
                                                    <td style="width:30%;text-align:right"><label></label></td>
                                                    <td style="width:35%"></td>
                                                </tr>
                                            </table>
                                        </td>
                                    </tr>

                                </table>

                            </td>
                        </tr>
                    </table>
                </fieldset>
</div>
         </div>
         
        <div style="width:100%; height:10%">
            <fieldset>
                <legend style="font-weight: bold">Action : </legend>
                <table border="0" cellspacing="2" cellpadding="2" style="font-size: 11px; font-weight: bold; width:100%">
                    <tr>
                        <td style="width:80%; text-align:left"><a id="btnPrint" href="javascript:void(0)" class="easyui-linkbutton" iconcls="icon-print" plain="true">Preview</a></td>
                        <td style="width: 10%">
                            <a id="btnSave" href="javascript:void(0)" class="easyui-linkbutton" iconcls="icon-save" plain="true">Save</a>
                        </td>
                        <td style="width: 10%">
                            <a id="btnClose" href="javascript:void(0)" class="easyui-linkbutton" iconcls="icon-cancel" plain="true">Close</a>
                        </td>
                    </tr>
                </table>
            </fieldset>
        </div>
        </div>
</body>

<script type="text/javascript">
    var _oFabric=null;
    var _sBaseAddress="",_sBackTo="";
    var _oFinishTypes = [];
    var _oCompareOperators = [];
    var _oPriorityLevels = [];
    var _oSwatchTypes = [];
    var _oProcessTypes=[];
    var _oFabricWeaves=[];
    var _oFabricDesigns=[];
    var _oLightSources=[];
    var _nCurrentUserID=0;
    var _oProducts=[];
    var _nBUID = 0;
    var _nSelectedRowIndex = -1;
    var _oFabricSCReport = null;
    var _oFabricOrderSetups=[];
    var _nMenuid=0;
    var _oFabricRnD=[];
    var _oShadeTypes=[];

    $(document).ready(function () {
        _sBaseAddress =@Html.Raw( new System.Web.Script.Serialization.JavaScriptSerializer().Serialize(HttpContext.Current.Session[SessionInfo.BaseAddress]));
        _nMenuid = @Html.Raw(new System.Web.Script.Serialization.JavaScriptSerializer().Serialize(HttpContext.Current.Session[SessionInfo.MenuID]));
        _oFabricSCReport =@Html.Raw(new System.Web.Script.Serialization.JavaScriptSerializer().Serialize(Model));
        _oFinishTypes = @Html.Raw(new System.Web.Script.Serialization.JavaScriptSerializer().Serialize(ViewBag.FinishTypes));
        _oCompareOperators = @Html.Raw(new System.Web.Script.Serialization.JavaScriptSerializer().Serialize(ViewBag.CompareOperators));
        _oPriorityLevels = @Html.Raw(new System.Web.Script.Serialization.JavaScriptSerializer().Serialize(ViewBag.PriorityLevels));
        _oSwatchTypes = @Html.Raw(new System.Web.Script.Serialization.JavaScriptSerializer().Serialize(ViewBag.SwatchTypes));
        _oProcessTypes = @Html.Raw(new System.Web.Script.Serialization.JavaScriptSerializer().Serialize(ViewBag.ProcessTypes));
        _oFabricWeaves = @Html.Raw(new System.Web.Script.Serialization.JavaScriptSerializer().Serialize(ViewBag.FabricWeaves));
        _oFabricDesigns = @Html.Raw(new System.Web.Script.Serialization.JavaScriptSerializer().Serialize(ViewBag.FabricDesigns));
        _oLightSources = @Html.Raw(new System.Web.Script.Serialization.JavaScriptSerializer().Serialize(ViewBag.LightSources));
        _oProducts = @Html.Raw(new System.Web.Script.Serialization.JavaScriptSerializer().Serialize(ViewBag.Products));
        _nBUID = @Html.Raw(new System.Web.Script.Serialization.JavaScriptSerializer().Serialize(ViewBag.BUID));
        _nCurrentUserID = @Html.Raw(new System.Web.Script.Serialization.JavaScriptSerializer().Serialize(ViewBag.CurrentUserID));
        var oFabricPOSetup = @Html.Raw(new System.Web.Script.Serialization.JavaScriptSerializer().Serialize(ViewBag.FabricPOSetup));
        _oFabricOrderSetups= @Html.Raw(new System.Web.Script.Serialization.JavaScriptSerializer().Serialize(ViewBag.FabricOrderSetups));
        _oFabric= @Html.Raw(new System.Web.Script.Serialization.JavaScriptSerializer().Serialize(ViewBag.Fabric));
        _oFabricRnD= @Html.Raw(new System.Web.Script.Serialization.JavaScriptSerializer().Serialize(ViewBag.FabricRnD));
        _oShadeTypes= @Html.Raw(new System.Web.Script.Serialization.JavaScriptSerializer().Serialize(ViewBag.ShadeTypes));

        debugger;
        RefreshSetup(oFabricPOSetup);
        LoadComboboxesFabric();
        RefreshFabricControl();
        RefreshFabricControlRnd();
        _sBackTo=sessionStorage.getItem("BackLink");
        _sFabricHeader=sessionStorage.getItem("FabricHeader");
        $('#divFabric').panel({ title:_sFabricHeader});


    });
    function RefreshSetup(oFabricPOSetup)
    {
        $('#lblFabricNoTwo').html(oFabricPOSetup.FabricCode);
       // $("#txtSearchbyFabricNo").attr("placeholder","Search by "+oFabricPOSetup.NoCode+" No");
        $("#txtP").attr("placeholder",oFabricPOSetup.NoCode);
        //$('#lblHLRefNo').html("Lab Ref No:");
        //if(oFabricPOSetup.IsLDApply==false)
        //{
        //    $('#lblHLRefNo').html("H/L No:");
        //    $('#btnAddFNLabdipDetail,#btnPrintFabricOrder').hide();
        //}

    }

    function LoadComboboxesFabric() {

        debugger;
        //PickProductInFabric();
        //    _oFabricOrderSetups
        $("#cboProductWarp,#cboProductWeft,#cboProductWarpRnd,#cboProductWeftRnd").icsLoadCombo({   //,#cboProductWarpRnd_Suggest,#cboProductWeftRnd_Suggest
            List: _oProducts,
            OptionValue: "ProductID",
            DisplayText: "ProductName"
        });

        $("#cboFinishTypeFabric,#cboFinishTypeRnD").icsLoadCombo({
            List: _oFinishTypes,
            OptionValue: "FabricProcessID",
            DisplayText: "Name"
        });

        $("#cboShadeType").icsLoadCombo({
            List: _oShadeTypes,
            OptionValue: "id",
            DisplayText: "Value"
        });

        //$("#cboSwatchTypeSubmit").icsLoadCombo({
        //    List: _oSwatchTypes,
        //    OptionValue: "id",
        //    DisplayText: "Value"
        //});

        $("#cboProcessTypeFabric").icsLoadCombo({
            List: _oProcessTypes,
            OptionValue: "FabricProcessID",
            DisplayText: "Name"
        });

        $("#cboWeaveFabric,#cboWeaveRnD,#cboWeaveRnD_Suggest").icsLoadCombo({
            List: _oFabricWeaves,
            OptionValue: "FabricProcessID",
            DisplayText: "Name"
        });

        $("#cboFabricDesign").icsLoadCombo({
            List: _oFabricDesigns,
            OptionValue: "FabricProcessID",
            DisplayText: "Name"
        });

        //$("#cboPrimaryLightSource,#cboSecondaryLightSource").icsLoadCombo({
        //    List: _oLightSources,
        //    OptionValue: "LightSourceID",
        //    DisplayText: "Descriptions"
        //});
    }

    function RefreshFabricControl() {
        debugger;


        $("#txtFabricNoFabric").val(_oFabric.FabricNum);
        $("#txtBuyerReference").val(_oFabricSCReport.BuyerReference);
        $("#txtStyleNo").val(_oFabricSCReport.StyleNo);
        //  $("#txtProduct").val(oFabric.ProductName);
        //_nProductId = oFabric.ProductID;
        $("#txtConstruction").val(_oFabricSCReport.Construction);
        $("#txtConstructionPI").val(_oFabricSCReport.ConstructionPI);
        $("#txtMKTPName").val(_oFabricSCReport.MKTPName+"["+_oFabricSCReport.MKTGroup+"]");
        $("#txtContractorName").val(_oFabricSCReport.ContractorName);
        $("#txtLightSourceName").val(_oFabricSCReport.LightSourceName);
        $("#txtLightSourceNameTwo").val(_oFabricSCReport.LightSourceNameTwo);
        $("#txtEndUse").val(_oFabricSCReport.EndUse);
        $("#txtPODate").datebox("setValue", _oFabricSCReport.SCDateSt);
        $("#txtNoteMKT").val(_oFabricSCReport.Note);
        $("#txtColor").val(_oFabricSCReport.ColorInfo);
        $("#txtFabricWidthFabric").val(_oFabricSCReport.FabricWidth);
        $("#cboFinishTypeFabric").val(_oFabricSCReport.FinishType);
        $("#cboProcessTypeFabric").val(_oFabricSCReport.ProcessType);
        $("#cboFabricDesign").val(_oFabricSCReport.FabricDesignID);
        $("#cboWeaveFabric").val(_oFabricSCReport.FabricWeave);
        $("#cboProductWarp").val(_oFabricSCReport.ProductID);
        $("#cboProductWeft").val(_oFabricSCReport.ProductID);
    }

    function RefreshFabricControlRnd() {
        debugger;
        $('#cboProductWarpRnd').val(_oFabricRnD.ProductIDWarp);
        $('#cboProductWeftRnd').val(parseInt(_oFabricRnD.ProductIDWeft));
        //$('#cboProductWarpRnd_Suggest').val(_oFabricRnD.ProductIDWarpSuggest);
        //$('#cboProductWeftRnd_Suggest').val(parseInt(_oFabricRnD.ProductIDWeftSuggest));
        $('#txtProductWarpRnd_Suggest').val(_oFabricRnD.ProductWarpRnd_Suggest);
        $("#txtWarpCount").val(_oFabricRnD.WarpCount);
        $("#txtWeftCount").val(_oFabricRnD.WeftCount);
        $("#txtEPI").val(_oFabricRnD.EPI);
        $("#txtPPI").val(_oFabricRnD.PPI);
        $("#txtYarnQuality").val(_oFabricRnD.YarnQuality);
        $("#txtYarnFly").val(_oFabricRnD.YarnFly);
        $("#txtNoteRnD").val(_oFabricRnD.Note);
        $("#txtFabricWidthRnD").val(_oFabricRnD.FabricWidth);
        $('#cboWeaveRnD').val(_oFabricRnD.FabricWeave);
        $('#cboWeaveRnD_Suggest').val(_oFabricRnD.FabricWeaveSuggest);
        $('#cboFinishTypeRnD').val(_oFabricRnD.FinishType);
        $("#txtWeightAct").val(_oFabricRnD.WeightAct);
        $("#txtWeightCal").val(_oFabricRnD.WeightCal);
        $("#txtWeightDecRnd").val(_oFabricRnD.WeightDec);
        $("#txtConstructionSuggest").val(_oFabricRnD.ConstructionSuggest);
        $("#txtYarnFly").val(_oFabricRnD.YarnFly);
        $("#txtYarnQuality").val(_oFabricRnD.YarnQuality);

        $("#cboWashType").val(_oFabricRnD.WashType);
        $("#cboShadeType").val(_oFabricRnD.ShadeType);
        $("#txtGrowth").val(_oFabricRnD.Growth);
        $("#txtWidthGrey").val(_oFabricRnD.WidthGrey);
        $("#txtCrimpWP").val(_oFabricRnD.CrimpWP);
        $("#txtCrimpWF").val(_oFabricRnD.CrimpWF);
        $("#txtRecovy").val(_oFabricRnD.Recovy);
        $("#txtElongation").val(_oFabricRnD.Elongation);
        $("#txtSlubLengthWP").val(_oFabricRnD.SlubLengthWP);
        $("#txtPauseLengthWP").val(_oFabricRnD.PauseLengthWP);
        $("#txtSlubDiaWP").val(_oFabricRnD.SlubDiaWP);
        $("#txtSlubLengthWF").val(_oFabricRnD.SlubLengthWF);
        $("#txtPauseLengthWF").val(_oFabricRnD.PauseLengthWF);
        $("#txtSlubDiaWF").val(_oFabricRnD.SlubDiaWF);
    }

    function SetConstructionSuggest(nVal)
    {
        var warp = $('#txtWarpCount').val();
        var weft = $('#txtWeftCount').val();
        var epi = $('#txtEPI').val();
        var ppi = $('#txtPPI').val();

        if(warp=='')warp='-';
        if(weft=='')weft='-';
        if(epi=='')epi='-';
        if(ppi=='')ppi='-';

        var prvConstruction = $("#txtConstructionSuggest").val();

        var construction = warp+'x'+weft+'/'+epi+'x'+ppi;  $("#txtConstructionSuggest").val(construction);
    }

    //function ValidateInput()
    //{
    //    if(document.getElementById("txtName").value==null || document.getElementById("txtName").value=="")
    //    {
    //        alert("Please enter Fabric name!");
    //        $('#txtName').focus();
    //        return false;
    //    }

    //    var oConTyps= $('#tblConType').datagrid('getChecked')

    //    if(oConTyps.length<=0 || oConTyps ==null)
    //    {
    //        alert("Please select Fabric type!");
    //        $('#tblConType').focus();
    //        return false;
    //    }

    //    if(document.getElementById("txtAddress").value==null || document.getElementById("txtAddress").value=="")
    //    {
    //        alert("Please enter Fabric address!");
    //        $('#txtAddress').focus();
    //        return false;
    //    }

    //    if(document.getElementById("txtShortName").value==null || document.getElementById("txtShortName").value=="")
    //    {
    //        alert("Please enter Fabric short Name!");
    //        $('#txtShortName').focus();
    //        return false;
    //    }

    //    var input = $("#txtShortName").val();
    //    var inputLength = input.length;
    //    var output = input.replace(/[^a-zA-Z0-9& ]/g, "")

    //    var outputLength = output.length;
    //    if (inputLength != outputLength)
    //    {
    //        alert("Symbol Not Allow for Short Name!");
    //        $('#txtShortName').focus();
    //        return false;
    //    }
    //    return true;
    //}

    function cbo_Product_Fabric_RnD(n)
    {
        //if(n==1)
        //{
        //    if(parseInt($('#cboProductWarpRnd').val()) > 0 && parseInt($('#cboProductWarpRnd_Suggest').val()) <=0)
        //    {
        //        $('#cboProductWarpRnd_Suggest').val(parseInt($('#cboProductWarpRnd').val()));
        //    }
        //}
        //else if(n==2)
        //{
        //    if(parseInt($('#cboProductWeftRnd').val()) > 0 && parseInt($('#cboProductWeftRnd_Suggest').val()) <=0)
        //    {
        //        $('#cboProductWeftRnd_Suggest').val(parseInt($('#cboProductWeftRnd').val()));
        //    }
        //}
        //else 
            if(n==3)
            {
                if(parseInt($('#cboWeaveRnD').val()) > 0 && parseInt($('#cboWeaveRnD_Suggest').val()) <=0)
                {
                    $('#cboWeaveRnD_Suggest').val(parseInt($('#cboWeaveRnD').val()));
                }
            }
    }

    function RefreshObject()
    {
        var oFabricRnD= {

            FabricRnDID : _oFabricRnD.FabricRnDID,
            FabricID : _oFabric.FabricID,
            FSCDID:_oFabricSCReport.FabricSalesContractDetailID,
            ProductIDWarp:parseInt($('#cboProductWarpRnd').val()),
            ProductIDWeft :parseInt($('#cboProductWeftRnd').val()),
            //ProductIDWarpSuggest:parseInt($('#cboProductWarpRnd_Suggest').val()),
            //ProductIDWeftSuggest :parseInt($('#cboProductWeftRnd_Suggest').val()),
            ProductWarpRnd_Suggest: $('#txtProductWarpRnd_Suggest').val(),
            WarpCount :  $.trim($("#txtWarpCount").val()),
            WeftCount: $.trim($("#txtWeftCount").val()),
            EPI: $.trim($("#txtEPI").val()),
            PPI: $.trim($("#txtPPI").val()),
            YarnQuality: $.trim($("#txtYarnQuality").val()),
            YarnFly: $.trim($("#txtYarnFly").val()),
            Note:  $.trim($("#txtNoteRnD").val()),
            FabricWidth: $.trim($("#txtFabricWidthRnD").val()),
            FabricWeave:parseInt($('#cboWeaveRnD').val()),
            FabricWeaveSuggest:parseInt($('#cboWeaveRnD_Suggest').val()),
            FinishType :parseInt($('#cboFinishTypeRnD').val()),
            WeightAct :parseFloat($("#txtWeightAct").val()),
            WeightCal : parseFloat($("#txtWeightCal").val()),
            WeightDec: parseFloat($("#txtWeightDecRnd").val()),
            ConstructionSuggest : $.trim($("#txtConstructionSuggest").val()),

            WashType: $("#cboWashType").val(),
            ShadeType: $("#cboShadeType").val(),
            Growth: $.trim($("#txtGrowth").val()),
            WidthGrey: $.trim($("#txtWidthGrey").val()),
            CrimpWP: $.trim($("#txtCrimpWP").val()),
            CrimpWF: $.trim($("#txtCrimpWF").val()),
            Recovy: $.trim($("#txtRecovy").val()),
            Elongation: $.trim($("#txtElongation").val()),
            SlubLengthWP: $.trim($("#txtSlubLengthWP").val()),
            PauseLengthWP: $.trim($("#txtPauseLengthWP").val()),
            SlubDiaWP: $.trim($("#txtSlubDiaWP").val()),
            SlubLengthWF: $.trim($("#txtSlubLengthWF").val()),
            PauseLengthWF: $.trim($("#txtPauseLengthWF").val()),
            SlubDiaWF: $.trim($("#txtSlubDiaWF").val())
        };
        return oFabricRnD;
    }

    function InvalidData(val)
    {
        if(val==undefined || val=="" || val<=0)
        {
            return true;
        }
        else return false;
    }
    function ValidateInput(oFabricRnD)
    {
        if(InvalidData(oFabricRnD.ProductIDWarp))   { alert('Please Select Composition Warp!!'); $('#cboProductWarpRnd').focus(); return false; }
        if(InvalidData(oFabricRnD.ProductIDWeft))   { alert('Please Select Composition Warp!!'); $('#cboProductWeftRnd').focus(); return false; }
        if(InvalidData(oFabricRnD.WarpCount))   { alert('Please Type Warp Count !!'); $('#txtWarpCount').focus(); return false; }
        //if(InvalidData(oFabricRnD.WeftCount))   { alert('Please Type Weft Count!!'); $('#txtWeftCount').focus(); return false; }
        if(InvalidData(oFabricRnD.EPI)) { alert('Please Type EPI !!'); $('#txtEPI').focus(); return false; }
        if(InvalidData(oFabricRnD.PPI)) { alert('Please Type PPI !!'); $('#txtPPI').focus(); return false; }

        if(InvalidData(oFabricRnD.ConstructionSuggest)){ alert('Please Type Suggested Construction !!'); $('#txtConstructionSuggest').focus(); return false; }


        //if(InvalidData(oFabricRnD.YarnFly)) { alert('Please Type Yarn Fly !!'); $('#txtYarnFly').focus(); return false; }
        //if(InvalidData(oFabricRnD.FabricWidth)) { alert('Please Fabric Width !!'); $('#txtFabricWidthRnD').focus(); return false; }
        //if(InvalidData(oFabricRnD.FabricWeave)) { alert('Please Select Fabric Weave !!'); $('#cboWeaveRnD').focus(); return false; }
        //if(InvalidData(oFabricRnD.FinishType))  { alert('Please Select Finish Type !!'); $('#cboFinishTypeRnD').focus(); return false; }
        //if(InvalidData(oFabricRnD.WeightAct))   { alert('Please Type Actual Weight !!'); $('#txtWeightAct').focus(); return false; }
        //if(InvalidData(oFabricRnD.WeightCal))   { alert('Please Type Actual Calculated Weight !!'); $('#txtWeightCal').focus(); return false; }
        //if(InvalidData(oFabricRnD.WeightDec))   { alert('Please Type !!'); $('#txtWeightDecRnd').focus(); return false; }

        return true;
    }

    $("#btnSave").click(function(){

        var oFabricRnD=RefreshObject();
        if(!ValidateInput(oFabricRnD)) return;

        $.ajax({
            type: "POST",
            dataType: "json",
            url : _sBaseAddress+  "/Fabric/SaveFRnD",
            traditional: true,
            data:  JSON.stringify(oFabricRnD),
            contentType: "application/json; charset=utf-8",
            success: function (data) {
               var oFabricRnD = jQuery.parseJSON(data);
               if (oFabricRnD.FabricRnDID>0 && (oFabricRnD.ErrorMessage=="" || oFabricRnD.ErrorMessage==null)) {
                    alert("Data Saved sucessfully");
                    //var oFabrics =sessionStorage.getItem("Fabrics");
                    //var nIndex= parseInt(sessionStorage.getItem("SelectedRowIndex"));
                    //if(oFabrics!=null)
                    //{
                    //    oFabrics = jQuery.parseJSON(oFabrics);
                    //}
                    //else
                    //{
                    //    oFabrics=[];
                    //}
                    //if(nIndex!=-1)
                    //{
                    //    oFabrics[nIndex]=oFabric;
                    //}
                    //else
                    //{
                    //    sessionStorage.setItem("SelectedRowIndex", oFabrics.length);
                    //    oFabrics.push(oFabric);
                    //}
                    //sessionStorage.setItem("Fabrics", JSON.stringify(oFabrics));
                    //window.location.href = _sBackTo;
                }
                else {
                   alert(oFabricRnD.ErrorMessage);
                    return;
                }
            },
            error: function (xhr, status, error) {
                alert(error);
            }
        });
    });

    $("#btnPrint").click(function () {
        var oFSC = _oFabricSCReport;
        if (oFSC ==null || oFSC.FabricID<=0) { alert("Please select an item from list."); return ; }

        var url = _sBaseAddress + "/FabricSCReport/PrintFabricAnalysis?nId="+oFSC.FabricSalesContractDetailID+"&nFabricID=" + oFSC.FabricID + "&buid=" + _nBUID;
        window.open(url, "_blank");
    });

    $("#btnClose").click(function(){
        window.location.href = _sBackTo;
    });

    $(document).keydown(function(e) {
        if(e.which == 27)//escape=27
        {
            window.location.href = _sBackTo;
        }
    });

</script>