<html>
<head>  
     <link href="@Url.Content("~/Content/CSS/icon.css")" rel="stylesheet" type="text/css" />
    <link href="@Url.Content("~/Content/CSS/easyui.css")" rel="stylesheet" type="text/css" /> 
    <link href="@Url.Content("~/Content/CSS/Pikerstyle.css")" rel="stylesheet" type="text/css" />  

    <script src="@Url.Content("~/Scripts/jquery-1.7.1.min.js")" type="text/javascript"></script>            
    <script src="@Url.Content("~/Scripts/jquery.ics.customize.js")" type="text/javascript"></script>  
    <script src="@Url.Content("~/Scripts/jquery.easyui.min.js")" type="text/javascript"></script>    

    <script src="@Url.Content("~/Scripts/jquery-ui.min.js")" type="text/javascript"></script> 
    <script src="@Url.Content("~/Scripts/json2.js")" type="text/javascript"></script> 
    
</head>
<body>

@model ESimSol.BusinessObjects.TechnicalSheet
<div style="font-family:Tahoma">           
<table border="0" cellspacing="2" cellpadding="2">
    <tr>
        <td style="background-color:#CFB53B; text-align:center; width:650px; color:White">
            <label id="lblHeaderName" style="font-size:15px; font-weight:bold; text-decoration:Underline"> Style Search Picker</label>
        </td>
    </tr>
</table>
<fieldset>
    <table border="0"style ="font-size:12">
          
            <tr>
                <td style="width:40px; text-align:right"><input type="checkbox" value="value" id="chk_StyleNoRef" checked="false" onclick="if(this.checked){IsStyleNoRef()}else{IsUnchkStyleNoRef()}"   /></td>
                <td style="width:100px; text-align:left">Style No :</td>
                <td id ="tdStyletxtbox"style="width:200px; text-align:left">                
                <input type ="text" id="txtStyleNo" style ="width:200px;text-align:left"  /></td>
                <td id ="tdStylebtn"style="width:100px; text-align:left"><input type ="button" id="btnrefreshStyleNo" value ="Refresh" onclick = "Refresh()" style="width:80px"/>
                </td> 
              </tr> 
              </table>
              <table border ="0" style ="font-size:12">
               <tr>
                <td style="width:40px; text-align:right"><input type="checkbox" value="value" id="chk_SaleOrderRef" checked="false" onclick="if(this.checked){IsSaleOrderRef()}else{IsUnchkSaleOrderRef()}"   /></td>
                <td style="width:100px; text-align:left">Sale Order No:</td><td id ="tdSaleOrdertxtbox" style="width:154px; text-align:left"><input type ="text" id="txtSaleOrder" style ="width:154px;text-align:left"  /></td>
                 <td id ="tdPickSaleOrderbtn"style="width:40px; text-align:left"><input type ="button" id="btnPickSaleOrder" value ="Pick" onclick="GetSaleOrder()"  style="width:40px"/> </td>
                <td id ="tdSaleOrderbtn"style="width:100px; text-align:left"><input type ="button" id="btnrefreshSaleOrder" value ="Refresh" onclick = "Refresh()" style="width:80px"/>
                </td> 
              </tr> 
                <tr>
                    <td style="width:40px; text-align:right"><input type="checkbox" value="value" id="chk_BuyerNameRef" checked="false" onclick="if(this.checked){IsBuyerNameRef()}else{IsUnchkBuyerNameRef()}"   /></td>
                    <td style="width:100px; text-align:left">Buyer Name:</td><td id ="tdBuyerNametxtbox"style="width:154px; text-align:left"><input type ="text" id="txtBuyername" style ="width:154px;text-align:left" /></td>
                    <td id ="tdPickbtn"style="width:40px; text-align:left"><input type ="button" id="btnPick" value ="Pick" onclick="GetBuyer()"  style="width:40px"/> </td>
                    <td id ="tdBuyerNamebtn" style="width:100px; text-align:left"><input type ="button" id="btnrefreshBuyerName" value ="Refresh" onclick = "Refresh()" style="width:80px"/></td> 
              </tr> 
           </table>
           <table border ="0" style ="font-size:12">
             <tr>
                  <td style="width:40px; text-align:right"><input type="checkbox" value="value" id="chk_PropertyRef" checked="false" onclick="if(this.checked){IsPropertyRef()}else{IsUnchkPropertyRef()}"   /></td>
                    <td style="width:100px; text-align:left">Property:</td>
                    <td id ="tdClass"style="width:60px; text-align:left">Class</td>
                    <td id ="tdClasstxtbox"style="width:100px; text-align:left"><select id="cboClass"  style="width:100px" class ="_select_changeIssue"/></td>
                    <td id ="tdDivision"style="width:60px; text-align:left">Division</td>
                    <td id ="tdDivissiontxtbox" style="width:100px; text-align:left"> @Html.DropDownList("Department", new SelectList(Enum.GetValues(typeof(ESimSol.BusinessObjects.EnumGarmentsDepartment))), new { id = "cboDepartment", style = "width: 100px;" })</td>
                    <td id ="tdPropertybtn"style="width:100px; text-align:left"><input type ="button" id="btnrefreshProperty" value ="Refresh"  onclick = "Refresh()" style="width:80px"/></td> 
            </tr>
        </table>
</fieldset>
<fieldset>
<table id="tblStyleSearch" title="Style Search"  class="easyui-datagrid" style="width:630px;height:250px" fitColumns="false" rownumbers="true" pagination="false" singleSelect="true", autoRowHeight="false" toolbar="#toolbar">
                <thead>  
                    <tr>  
                        <th field="StyleNo" width="100">Style No</th>  
                        <th field="BuyerName" width="120">Buyer Name</th>
                        <th field="YarnCategoryName" width="115">Yarn Catagory Name</th> 
                        <th field="ColorRange" width="150">Colors</th> 
                        <th field="Note" width="95">Note</th> 
                    
                    </tr>  
                </thead> 
            </table>​  
</fieldset>
<fieldset>
    <legend style="font-weight:bold"> Action : </legend>
        <table border="0" cellspacing="2" cellpadding="2" style="font-size:11px; font-weight:bold">
            <tr>
                <td style="width:500px; text-align:right">
                </td>
                <td style="width:50px">
                   <a id="btnSave" href="javascript:void(0)" class="easyui-linkbutton" iconCls="icon-ok" plain="true" onclick="OK()">OK</a>
                </td>
                <td style="width:50px">
                   <a href="javascript:void(0)" class="easyui-linkbutton" iconCls="icon-cancel" plain="true" onclick="Close()">Close</a>
                </td>
             </tr>       
         </table>
</fieldset>
</div>
</body>
</html>

<script type="text/javascript"> 
 var _oTechnicalSheets=null;
 var _sBaseAddress="";
 var _nBuyerID=null;
 $(document).ready(function () {
   // debugger;     
        _sBaseAddress =@Html.Raw( new System.Web.Script.Serialization.JavaScriptSerializer().Serialize(HttpContext.Current.Session[SessionInfo.BaseAddress]));                  
        var obj = window.dialogArguments;
        document.getElementById('lblHeaderName').innerHTML=obj.Name;  
        _oTechnicalSheets =@Html.Raw(new System.Web.Script.Serialization.JavaScriptSerializer().Serialize(Model)); 
        RefreshClass();
      document.getElementById("chk_StyleNoRef").checked=false;
      
      document.getElementById("chk_SaleOrderRef").checked=false;
      document.getElementById("chk_BuyerNameRef").checked=false;
      document.getElementById("chk_PropertyRef").checked=false;

      document.getElementById('tdStyletxtbox').style.display = 'none'; 
      document.getElementById('tdStylebtn').style.display = 'none'; 
      
      
      
      document.getElementById('tdSaleOrdertxtbox').style.display = 'none'; 
      document.getElementById('tdSaleOrderbtn').style.display = 'none';
      document.getElementById('tdPickSaleOrderbtn').style.display = 'none'; 
      document.getElementById('tdBuyerNametxtbox').style.display = 'none'; 
      document.getElementById('tdPickbtn').style.display = 'none'; 
      document.getElementById('tdBuyerNamebtn').style.display = 'none';
      document.getElementById('tdClass').style.display = 'none';  
      document.getElementById('tdClasstxtbox').style.display = 'none'; 
      document.getElementById('tdDivision').style.display = 'none'; 
      document.getElementById('tdDivissiontxtbox').style.display = 'none'; 
      document.getElementById('tdPropertybtn').style.display = 'none';
 });

 function GetBuyer()
 {
    var oParameter = new Object();        
    oParameter.Name = "Buyer list";
    oParameter.MultipleItemReturn =false;
    oParameter.ContractorType ="2";
   var url =_sBaseAddress+  "/Contractor/ContractorSearch";
   var oReturnObj = window.showModalDialog(url, oParameter, 'dialogHeight:430px;dialogWidth:450px;dialogLeft:350;dialogTop:100;center:yes;resizable:no;status:no;scroll:no');

   var txttBuyerName=document.getElementById("txtBuyername");                             
   txttBuyerName.value=oReturnObj.Name;
   txttBuyerName.style.color="blue";
   txttBuyerName.style.fontWeight="bold";
   _nBuyerID=  oReturnObj.ContractorID;

 }
 
  function GetSaleOrder()
 {
   var oParameter = new Object();
   oParameter.MultipleItemReturn = false;
   oParameter.name = "Order Recap Advance Search";
   var url =_sBaseAddress+ "/SaleOrder/SaleOrderSearch";
   var oReturnObj = window.showModalDialog(url, oParameter, 'dialogHeight:560px;dialogWidth:782px;dialogLeft:280;dialogTop:80;center:yes;resizable:no;status:no;scroll:no');
   $("#txtSaleOrder")[0].value = oReturnObj[0].SaleOrderNo;
 }





 function Refresh() {
            debugger;
            RefreshList(_oTechnicalSheets);
var IsStyleNo = document.getElementById("chk_StyleNoRef");
var IsSaleOrder = document.getElementById("chk_SaleOrderRef");
var IsBuyerName = document.getElementById("chk_BuyerNameRef");
var IsProperty = document.getElementById("chk_PropertyRef");
var search_creiteria ="";

    if (IsStyleNo.checked) {
       if(document.getElementById("txtStyleNo").value==null || document.getElementById("txtStyleNo").value=="")
      {        
         alert("Please enter Style No!");
         $('#txtStyleNo').focus();
         return;
      }
      else{

      var StyleNo =$("#txtStyleNo")[0].value;
      search_creiteria ="StyleNo~"+StyleNo;
      }
    }else if (IsSaleOrder.checked) {
    if(document.getElementById("txtSaleOrder").value==null || document.getElementById("txtSaleOrder").value=="")
      {        
         alert("Please enter Sale order No!");
         $('#txtSaleOrder').focus();
         return;
      }
      else{

      var SaleOrderNo =$("#txtSaleOrder")[0].value;
      search_creiteria ="SaleOrder~"+SaleOrderNo;
      }
       
    }else if (IsBuyerName.checked) {
     if(document.getElementById("txtBuyername").value==null || document.getElementById("txtBuyername").value=="" || _nBuyerID ==0)
      {        
         alert("Please enter Byer!");
         $('#txtBuyername').focus();
         return;
      }
      else{

      var BuyerID =_nBuyerID;
      search_creiteria ="BuyerID~"+BuyerID;
      }
       
    }else if (IsProperty.checked) {

    if(document.getElementById("cboClass").value==null || document.getElementById("cboClass").value=="")
      {        
         alert("Please Choose Class!");
         $('#cboClass').focus();
         return;
      }
      
    if(document.getElementById("cboDepartment").value==null || document.getElementById("cboDepartment").value=="")
      {        
         alert("Please Choose Divission!");
         $('#cboDepartment').focus();
         return;
      }
      else{
      var sGarmentsClass =document.getElementById("cboClass");
      var sDept =document.getElementById("cboDepartment");
         if(sDept!=null)
        {
            nDeptID=sDept.selectedIndex;
        }

      var GarmentsClassID  =sGarmentsClass.options[sGarmentsClass.selectedIndex].value;
      var DeptID  =nDeptID;
      search_creiteria ="GarmentsClassID~"+GarmentsClassID+"~DeptID~"+DeptID;
      }
       
    }else
    {
        alert("please select one criteria");
        return ;
    }


         $.ajax
        ({
            type: "GET",
            dataType: "json",            
            url : _sBaseAddress+  "/TechnicalSheet/Refresh",
            data: { Search_creiteria: search_creiteria},
            contentType: "application/json; charset=utf-8",
            success: function (data) {
                debugger;
                var oSaleorder
                oTechnicalSheets = jQuery.parseJSON(data);
                if (oTechnicalSheets.length >0) 
                {
                   
                     RefreshList(oTechnicalSheets);     
                }
                else
                {
                    alert("Data Not found!");
                }
            },
            error: function (xhr, status, error) 
            {
                alert(error);
            }
                      
        });

     
    
}


    function RefreshList(oTechnicalSheets)
    {    
          data=oTechnicalSheets;
          data={"total":""+data.length+"","rows":data};
          $('#tblStyleSearch').datagrid('loadData',data);
    }




 function IsStyleNoRef()
  {
 //For style no
      RefreshList(_oTechnicalSheets);
      document.getElementById('tdStyletxtbox').style.display = ''; 
      document.getElementById('tdStylebtn').style.display = ''; 

      
      document.getElementById("chk_SaleOrderRef").checked=false;
      document.getElementById("chk_BuyerNameRef").checked=false;
      document.getElementById("chk_PropertyRef").checked=false;
  
      document.getElementById('tdSaleOrdertxtbox').style.display = 'none'; 
      document.getElementById('tdSaleOrderbtn').style.display = 'none'; 
      document.getElementById('tdBuyerNametxtbox').style.display = 'none'; 
      document.getElementById('tdPickbtn').style.display = 'none'; 
      document.getElementById('tdBuyerNamebtn').style.display = 'none';
      document.getElementById('tdClass').style.display = 'none';  
      document.getElementById('tdClasstxtbox').style.display = 'none'; 
      document.getElementById('tdDivision').style.display = 'none'; 
      document.getElementById('tdDivissiontxtbox').style.display = 'none'; 
      document.getElementById('tdPropertybtn').style.display = 'none';
      document.getElementById('tdPickSampleOrderbtn').style.display = 'none'; 
      document.getElementById('tdPickSaleOrderbtn').style.display = 'none'; 
      $("#txtSaleOrder")[0].value="";
      $("#txtBuyername")[0].value="";
      _nBuyerID= 0;

  }
  function IsUnchkStyleNoRef()
{
     document.getElementById('tdStyletxtbox').style.display = 'none'; 
     document.getElementById('tdStylebtn').style.display = 'none'; 
}




  function IsSaleOrderRef()
  {
 //for sale order
       RefreshList(_oTechnicalSheets);
      document.getElementById('tdSaleOrdertxtbox').style.display = ''; 
      document.getElementById('tdSaleOrderbtn').style.display = ''; 
      document.getElementById('tdPickSaleOrderbtn').style.display = ''; 

      document.getElementById("chk_StyleNoRef").checked=false;

      document.getElementById("chk_BuyerNameRef").checked=false;
      document.getElementById("chk_PropertyRef").checked=false;
  

      document.getElementById('tdStyletxtbox').style.display = 'none'; 
      document.getElementById('tdStylebtn').style.display = 'none'; 
    
      document.getElementById('tdBuyerNametxtbox').style.display = 'none'; 
      document.getElementById('tdPickbtn').style.display = 'none'; 
      document.getElementById('tdBuyerNamebtn').style.display = 'none';
      document.getElementById('tdClass').style.display = 'none';  
      document.getElementById('tdClasstxtbox').style.display = 'none'; 
      document.getElementById('tdDivision').style.display = 'none'; 
      document.getElementById('tdDivissiontxtbox').style.display = 'none'; 
      document.getElementById('tdPropertybtn').style.display = 'none';
      document.getElementById('tdPickSampleOrderbtn').style.display = 'none'; 
      $("#txtStyleNo")[0].value="";

      $("#txtBuyername")[0].value="";
      _nBuyerID= 0;
  }

  function IsUnchkSaleOrderRef()
  {
     document.getElementById('tdSaleOrdertxtbox').style.display = 'none'; 
     document.getElementById('tdSaleOrderbtn').style.display = 'none'; 
     document.getElementById('tdPickSaleOrderbtn').style.display = 'none'; 
  }


  function IsBuyerNameRef()
  {
  debugger;
 //for Buyer Name
     RefreshList(_oTechnicalSheets);
     document.getElementById('tdBuyerNametxtbox').style.display = ''; 
      document.getElementById('tdPickbtn').style.display = ''; 
      document.getElementById('tdBuyerNamebtn').style.display = '';

      document.getElementById("chk_StyleNoRef").checked=false;
    
      document.getElementById("chk_SaleOrderRef").checked=false;
      document.getElementById("chk_PropertyRef").checked=false;


      document.getElementById('tdStyletxtbox').style.display = 'none'; 
      document.getElementById('tdStylebtn').style.display = 'none'; 
    
      document.getElementById('tdSaleOrdertxtbox').style.display = 'none'; 
      document.getElementById('tdSaleOrderbtn').style.display = 'none'; 
      document.getElementById('tdClass').style.display = 'none';  
      document.getElementById('tdClasstxtbox').style.display = 'none'; 
      document.getElementById('tdDivision').style.display = 'none'; 
      document.getElementById('tdDivissiontxtbox').style.display = 'none'; 
      document.getElementById('tdPropertybtn').style.display = 'none';
      document.getElementById('tdPickSampleOrderbtn').style.display = 'none'; 
      document.getElementById('tdPickSaleOrderbtn').style.display = 'none'; 
      $("#txtStyleNo")[0].value="";

      $("#txtSaleOrder")[0].value="";
      

  }

  function IsUnchkBuyerNameRef()
  {
      document.getElementById('tdBuyerNametxtbox').style.display = 'none'; 
      document.getElementById('tdPickbtn').style.display = 'none'; 
      document.getElementById('tdBuyerNamebtn').style.display = 'none';
  }


  function IsPropertyRef()
  {
  //for Property
      RefreshList(_oTechnicalSheets);
      document.getElementById('tdClass').style.display = '';  
      document.getElementById('tdClasstxtbox').style.display = ''; 
      document.getElementById('tdDivision').style.display = ''; 
      document.getElementById('tdDivissiontxtbox').style.display = ''; 
      document.getElementById('tdPropertybtn').style.display = '';

      document.getElementById("chk_StyleNoRef").checked=false;
    
      document.getElementById("chk_SaleOrderRef").checked=false;
      document.getElementById("chk_BuyerNameRef").checked=false;
     
      document.getElementById('tdStyletxtbox').style.display = 'none'; 
      document.getElementById('tdStylebtn').style.display = 'none'; 
     
      document.getElementById('tdSaleOrdertxtbox').style.display = 'none'; 
      document.getElementById('tdSaleOrderbtn').style.display = 'none'; 
      document.getElementById('tdBuyerNametxtbox').style.display = 'none'; 
      document.getElementById('tdPickbtn').style.display = 'none'; 
      document.getElementById('tdBuyerNamebtn').style.display = 'none';
      document.getElementById('tdPickSampleOrderbtn').style.display = 'none'; 
      document.getElementById('tdPickSaleOrderbtn').style.display = 'none'; 
      $("#txtStyleNo")[0].value="";
   
      $("#txtSaleOrder")[0].value="";
      $("#txtBuyername")[0].value="";
      _nBuyerID= 0;
     

  }

  function IsUnchkPropertyRef()
  {
      document.getElementById('tdClass').style.display = 'none';  
      document.getElementById('tdClasstxtbox').style.display = 'none'; 
      document.getElementById('tdDivision').style.display = 'none'; 
      document.getElementById('tdDivissiontxtbox').style.display = 'none'; 
      document.getElementById('tdPropertybtn').style.display = 'none';
  }


function RefreshClass() {
//debugger;
    $('#cboClass').empty();
    var listItems = "";    
        $.ajax({
            type: "POST",
            dataType: "json",
            url: _sBaseAddress+"/TechnicalSheet/GetClass",
            contentType: "application/json; charset=utf-8",
            success: function (data) {
               //debugger;
                var oClass = jQuery.parseJSON(data);
                if (oClass != null) {
                   
                    if(oClass.length>0)
                    {
                        for (var i = 0; i < oClass.length; i++) {
                            listItems += "<option value='" + oClass[i].GarmentsClassID+"'>" + oClass[i].ClassName+"</option>";
                        }
                    }
                    $("#cboClass").html(listItems);
                }
            },
            error: function (xhr, status, error) {
                alert(error);
            }
        });
} 



function OK()
{
   //debugger;
       var oSearch = $('#tblStyleSearch').datagrid('getSelected'); 
        if(oSearch==null || oSearch.StyleNo=="")
        {
            alert("Please select a item from list!");
            return;
        }

      window.returnValue= oSearch;
      window.close(); 
}

function Close()
{
    window.close();
}


// Search Buyer Start
$('#txtBuyername').keypress(function (e) {
    //debugger;
    var code = (e.keyCode ? e.keyCode : e.which);
    if (code == 13) {
        var txtBuyername = document.getElementById('txtBuyername').value;
        if(txtBuyername!="")
        {
            //debugger;
            var tsv=((new Date()).getTime())/1000;            
            var oParameter = new Object();
            oParameter.EnteredText=txtBuyername;            
            var url =_sBaseAddress+ "/Contractor/ViewContractorSearch?sTemp="+txtBuyername+"&pt=2&ts="+tsv;  
            var oContractor = window.showModalDialog(url, oParameter, 'dialogHeight:270px;dialogWidth:383px;dialogLeft:520;dialogTop:310;center:yes;resizable:no;status:no;scroll:no');
            
            //debugger;            
            if(oContractor !=null)
            {
                if(parseInt(oContractor.ContractorID)>0)
                {
                    var txttBuyerName=document.getElementById("txtBuyername");                             
                    txttBuyerName.value=oContractor.Name;
                    txttBuyerName.style.color="blue";
                    txttBuyerName.style.fontWeight="bold";
                    _nBuyerID=  oContractor.ContractorID;
                }
            }
            else
            {
                var txttBuyerName=document.getElementById("txtBuyername");                                     
                txttBuyerName.style.color="black";
                txttBuyerName.style.fontWeight="normal";
                _nBuyerID =  0;
                document.getElementById("txtBuyername").value=  "";
            }
           
        }
    }
});

$('#txtBuyername').keydown(function (e) {    
    var code = (e.keyCode ? e.keyCode : e.which);    
    if (code == 8) //backspace=8   
    {
        //debugger;
        var txttBuyerName=document.getElementById("txtBuyername");                                     
        txttBuyerName.style.color="black";
        txttBuyerName.style.fontWeight="normal";
        _nBuyerID =  0;
        var oTSs=[];
        RefreshList(oTSs);
    
    } 
});
// Search Buyer End

$(document).keydown(function(e) {    
    //debugger;
    if(e.which == 27)//escape=27
    {
        //debugger;        
        window.close();
    }
});

</script>