<html>
    <head>
         <link href="@Url.Content("~/Content/CSS/icon.css")" rel="stylesheet" type="text/css" />
    <link href="@Url.Content("~/Content/CSS/easyui.css")" rel="stylesheet" type="text/css" /> 
    <link href="@Url.Content("~/Content/CSS/Pikerstyle.css")" rel="stylesheet" type="text/css" />  

    <script src="@Url.Content("~/Scripts/jquery-1.7.1.min.js")" type="text/javascript"></script>            
    <script src="@Url.Content("~/Scripts/jquery.ics.customize.js")" type="text/javascript"></script>  
    <script src="@Url.Content("~/Scripts/jquery.easyui.min.js")" type="text/javascript"></script>    

    <script src="@Url.Content("~/Scripts/jquery-ui.min.js")" type="text/javascript"></script> 
    <script src="@Url.Content("~/Scripts/json2.js")" type="text/javascript"></script> 
    </head>   
    @model IEnumerable<ESimSol.BusinessObjects.TechnicalSheet>
    <body>
        <div style="margin-left:0px; height:198px">            
            <input type="text"  id="txtSearchByStyle" style="width:380px"/>
            <table id="tblTechnicalSheet" title=""  class="easyui-datagrid" style="width:380px;height:195px" fitColumns="false" rownumbers="true" pagination="false" singleSelect="true" autoRowHeight="false">
                <thead>  
                    <tr>                        
                        <th field="StyleNo" width="330">Style No </th>
                    </tr>  
                </thead> 
            </table>​  
            <table border="0" cellpadding="1" cellspacing="1">
                <tr>
                    <td style="width:280px"></td>
                    <td style="width:50px; text-align:center"><a href="javascript:void(0)" class="easyui-linkbutton" iconCls="icon-ok" plain="true" onclick="OkButtonClick()">Ok</a></td>
                    <td style="width:50px; text-align:center"><a href="javascript:void(0)" class="easyui-linkbutton" iconCls="icon-cancel" plain="true" onclick="Close()">Close</a> </td>
                </tr>
            </table>                                        
        </div>
    </body>
</html>

<script type="text/javascript">
var _oTechnicalSheets=[];
$(document).ready(function () {
    ////debugger;
    var obj = window.dialogArguments;
    _oTechnicalSheets = @Html.Raw( new System.Web.Script.Serialization.JavaScriptSerializer().Serialize(Model));     
    RefreshList(_oTechnicalSheets);    
    document.getElementById("txtSearchByStyle").value=obj.EnteredText;
});

$('#txtSearchByStyle').keyup(function (e) {
    ////debugger;
    var c = String.fromCharCode(e.which);
    var txtSearchByStyle = document.getElementById('txtSearchByStyle').value;

    var oSearchedTechnicalSheet = [];  var sTempName="";
    var oCurrentList = $('#tblTechnicalSheet').datagrid('getRows'); 
    if (e.which == 8)
    {
        oCurrentList = _oTechnicalSheets;
    }     
    for(i=0;i<oCurrentList.length;++i){
        sTempName=oCurrentList[i].Name;        
        n=sTempName.toUpperCase().indexOf(txtSearchByStyle.toUpperCase())
        if(n!=-1)
        {
            oSearchedTechnicalSheet.push(oCurrentList[i]); 
        }       
    }
    RefreshList(oSearchedTechnicalSheet);
});

$(document).keydown(function(e) {    
    //debugger;
    //alert('hello world');
    var oTechnicalSheet= $('#tblTechnicalSheet').datagrid('getSelected'); 
    var nIndex=$('#tblTechnicalSheet').datagrid('getRowIndex', oTechnicalSheet); 
    if(e.which == 38)//up arrow=38
    {
        if(nIndex<=0)
        {
            $('#tblTechnicalSheet').datagrid('selectRow', 0); 
        }
        else
        {
            $('#tblTechnicalSheet').datagrid('selectRow', nIndex-1); 
        }
        $('#txtSearchByStyle').blur();
    }
    if(e.which == 40)//down arrow=40
    {
        var oCurrentList = $('#tblTechnicalSheet').datagrid('getRows'); 
        if(nIndex>=oCurrentList.length-1)
        {
            $('#tblTechnicalSheet').datagrid('selectRow', oCurrentList.length-1); 
        }
        else
        {
            $('#tblTechnicalSheet').datagrid('selectRow', nIndex+1); 
        }
        $('#txtSearchByStyle').blur();
    }
    if(e.which == 13)//enter=13
    {
        //debugger;
        var oSelectedTechnicalSheet= $('#tblTechnicalSheet').datagrid('getSelected'); 
        if(oSelectedTechnicalSheet ==null || parseInt(oSelectedTechnicalSheet.TechnicalSheetID)<=0)
        {
            alert("Please select an Contarctor!");
            return;
        }
        window.returnValue = oSelectedTechnicalSheet;
        window.close();
    }
    if(e.which == 27)//escape=27
    {
        //debugger;        
        window.returnValue = null;
        window.close();
    }
});


function OkButtonClick()
{
    //debugger;
    var oSelectedTechnicalSheet= $('#tblTechnicalSheet').datagrid('getSelected'); 
    if(oSelectedTechnicalSheet ==null || parseInt(oSelectedTechnicalSheet.TechnicalSheetID)<=0)
    {
        alert("Please select an Contarctor!");
        return;
    }
    window.returnValue = oSelectedTechnicalSheet;
    window.close();
}

function Close()
{
    window.close();
}

function RefreshList(oTechnicalSheets)
{   
    $('#tblTechnicalSheet').empty(); 
    data=oTechnicalSheets;
    data={"total":""+data.length+"","rows":data};
    $('#tblTechnicalSheet').datagrid('loadData',data);  
    $('#tblTechnicalSheet').datagrid('selectRow', 0);
}


$(document).keydown(function(e) {    
    //debugger;
    if(e.which == 27)//escape=27
    {
        //debugger;        
        window.close();
    }
});
</script>