<html>
@{
    ViewBag.Title = "Consumption Reports";
}
<body>
    @model ESimSol.BusinessObjects.ConsumptionReport
    <div id="progbarParent" style="width:100%;height:100%;margin:0 auto;text-align:center; margin-left: auto;margin-right: auto;left: 0;right: 0;z-index: 1;">
        <div style="margin: 0px auto;margin-top: 251px;text-align:center;width:390px;">
            <label style="font-size:18px;">Please wait</label>
            <div id="progbar" style="width:100%;height:37px;"></div>
        </div>
    </div>
    <div class="menuMainCollectionTable">
        <div class="easyui-panel" title="Consumption Reports" style="font-family:Tahoma; text-align:center; height:88%;">
            <fieldset style="height:95%; text-align:center;">
                <legend style="font-weight:bold"> Serching Criteria   : </legend>
                <table border="0" cellspacing="2" cellpadding="2" style="font-size:11px; font-weight:bold; text-align:center; width:100%">
                    <tr>
                        <td colspan="5" style="height:20px;"></td>                        
                    </tr>
                    <tr>
                        <td style="width:15%;text-align:right">Lot No :</td>
                        <td style="width:30%;text-align:left"> 
                            <input type="text" style="width:98%" id="txtLotNo" />
                        </td>
                        <td style="width:5%;text-align:right"></td>
                        <td style="width:12%;text-align:right"> Issue Date :</td>
                        <td style="width:38%;text-align:right">
                            <table border="0" cellpadding="1" cellspacing="1" width="100%">
                                <tr>
                                    <td style="width:30%; text-align:center">
                                        <select id="cboIssueDate" style="width:100%"> </select>
                                    </td>
                                    <td style="width:30%; text-align:center">
                                        <input id="txtIssueDateStart" type="text" class="easyui-datebox" required="required" data-options="formatter:icsdateformat,parser:icsdateparser" style=" width:100%;" />
                                    </td>
                                    <td style="width:10%; text-align:center">to</td>
                                    <td style="width:30%; text-align:center">
                                        <input id="txtIssueDateEnd" type="text" class="easyui-datebox" required="required" data-options="formatter:icsdateformat,parser:icsdateparser" style=" width:100%;" />
                                    </td>
                                </tr>
                            </table> 
                        </td>
                    </tr>
                    <tr>
                        <td style="width:15%;text-align:right"> Consumption Unit(s) :</td>
                        <td style="width:30%;text-align:left">
                            <table border="0" cellpadding="0" cellspacing="0" style="width:100%">
                                <tr>
                                    <td style="width:70%; text-align:left">
                                        <input type="text" style="width:98%" id="txtConsumptionUnit" placeholder="Press enter with consumption unit name" />
                                    </td>
                                    <td style="width:30%; text-align:right">
                                        <input type="button" value="C" style="width:30%" id="btnClearConsumptionUnit" />
                                        <input type="button" value="Pick" style="width:65%" id="btnPickConsumptionUnit" />
                                    </td>
                                </tr>
                            </table>
                        </td>
                        <td style="width:5%;text-align:right"></td>
                        <td style="width:12%;text-align:right"> Business Unit :</td>
                        <td style="width:38%;text-align:right">
                            <select id="cboBusinessUnit" style="width:100%">  </select>
                        </td>
                    </tr>                    
                    <tr>
                        <td style="width:15%;text-align:right"> Product(s) :</td>
                        <td style="width:30%;text-align:left">
                            <table border="0" cellpadding="0" cellspacing="0" style="width:100%">
                                <tr>
                                    <td style="width:70%; text-align:left">
                                        <input type="text" style="width:98%" id="txtProduct" placeholder="Press enter with product name" />
                                    </td>
                                    <td style="width:30%; text-align:right">
                                        <input type="button" value="C" style="width:30%" id="btnClearProduct" />
                                        <input type="button" value="Pick" style="width:65%" id="btnPickProduct" />
                                    </td>
                                </tr>
                            </table>
                        </td>
                        <td style="width:5%;text-align:right"></td>
                        <td style="width:12%;text-align:right">Store :</td>
                        <td style="width:38%;text-align:right">
                            <table border="0" cellpadding="0" cellspacing="0">
                                <tr>
                                    <td style="width:90%"><input id="txtWorkingUnit" style="width:100%;" type="text" placeholder="Type store & Press Enter" /></td>
                                    <td style="width:10%"><input type="button" id="btnPickWorkingUnit" value="Pick" /></td>
                                </tr>
                            </table>
                        </td>
                    </tr>        
                    <tr>
                        <td style="width:15%;text-align:right"> Product Category :</td>
                        <td style="width:30%;text-align:left">
                            <select id="cboProductCategory" class="easyui-combotree" style="width:100%;"></select>
                        </td>
                        <td style="width:5%;text-align:right"></td>
                        <td style="width:12%;text-align:right">Shift:</td>
                        <td style="width:38%;text-align:right"><select id="cboShift" style="width:100%"></select></td>
                    </tr>        
                    <tr>
                        <td style="width:15%;text-align:right"> Report Layout:</td>
                        <td style="width:30%;text-align:left">
                            <select id="cboReportLayOut" style="width:100%"></select>
                        </td>
                        <td style="width:5%;text-align:right"></td>
                        <td style="width:12%;text-align:right">Style:</td>
                        <td style="width:38%;text-align:right">
                        <table border="0" cellpadding="0" cellspacing="0">
                                <tr>
                                    <td style="width:90%"><input id="txtStyleNo" style="width:100%;" type="text" placeholder="Type Style No & Press Enter" /></td>
                                    <td style="width:10%"><input type="button" id="btnPickStyle" value="Pick"  onclick="PickStyle()"/></td>
                                </tr>
                        </table> 
                        </td>
                    </tr>                     
                </table>
            </fieldset>
        </div>
        <fieldset>
            <legend style="font-weight:bold"> Action : </legend>
            <table border="0" cellspacing="2" cellpadding="2" style="font-size:11px; font-weight:bold; width:100%;">
                <tr>
                    <td style="width:50%;text-align:right">
                                                 
                    </td>
                    <td style="width:50%;text-align:right">
                        <a id="btnPreview" href="javascript:void(0)" class="easyui-linkbutton" iconcls="icon-print" plain="true">Preview</a>
                        <a id="btnExportToExcel" href="javascript:void(0)" class="easyui-linkbutton" iconcls="icon-excel" plain="true">Export to Excel</a>
                        <a id="btnClose" href="javascript:void(0)" class="easyui-linkbutton" iconcls="icon-cancel" plain="true">Close</a>
                    </td>
                </tr>
            </table>
        </fieldset>
    </div>
    <div id="winConsumptionUnit" class=" easyui-window winclass" title="Consumption Unit" data-options="modal:true,closed:true,collapsible:false,minimizable:false,maximizable:false,closable:false">
        <div style="width:400px; height:400px; text-align:left; padding-top:2px">
            <fieldset style="height:97%; overflow:auto">
                <legend style="font-weight: bold;text-align:left;">Menu Permission : </legend>
                <ul id="ulMenuTree" data-options="checkbox:true"></ul>
            </fieldset>
        </div>
        <div style="width:100%;">
            <fieldset>
                <legend style="font-weight: bold">Action : </legend>
                <table border="0" cellspacing="2" cellpadding="2" style="font-size: 11px; font-weight: bold; width:100%">
                    <tr>
                        <td style="width:80%; text-align:right"></td>
                        <td style="width: 10%">
                            <a id="btnConsumptionUnitSave" href="javascript:void(0)" class="easyui-linkbutton" iconcls="icon-save" plain="true">Save</a>
                        </td>
                        <td style="width: 10%">
                            <a id="btnConsumptionUnitClose" href="javascript:void(0)" class="easyui-linkbutton" iconcls="icon-cancel" plain="true">Close</a>
                        </td>
                    </tr>
                </table>
            </fieldset>
        </div>
    </div>
</body>
</html>
<script type="text/javascript">
    $(document).ready(function () {
        debugger;
        var oBusinessUnits = @Html.Raw(new System.Web.Script.Serialization.JavaScriptSerializer().Serialize(ViewBag.BusinessUnits));
        var oCompareOperators = @Html.Raw(new System.Web.Script.Serialization.JavaScriptSerializer().Serialize(ViewBag.CompareOperators));
        var oShifts = @Html.Raw(new System.Web.Script.Serialization.JavaScriptSerializer().Serialize(@ViewBag.Shifts));
        var oReportLayouts =  @Html.Raw(new System.Web.Script.Serialization.JavaScriptSerializer().Serialize(@ViewBag.ReportLayouts));
        $("#progbar").progressbar({ value: 0 });
        $("#progbarParent").hide();
        $("#cboShift").icsLoadCombo({List: oShifts,OptionValue: "id",DisplayText: "Value"});
        $("#cboIssueDate").icsLoadCombo({ List: oCompareOperators, OptionValue: "id", DisplayText: "Value" });
        $("#cboBusinessUnit").icsLoadCombo({ List: oBusinessUnits, OptionValue: "BusinessUnitID", DisplayText: "Name" });

        $('#txtWorkingUnit').data("WorkingUnitIDs","");
        $('#StyleNo').data("StyleIDs","");
        $("#cboReportLayOut").icsLoadCombo({ List: oReportLayouts, OptionValue: "id", DisplayText: "Value" });
        
        $('#txtIssueDateStart,#txtIssueDateEnd').datebox({ disabled : true });
        $('#txtIssueDateStart,#txtIssueDateEnd').datebox('setValue', icsdateformat(new Date()));
        $('#txtConsumptionUnit').data('ConsumptionUnits', []);
        $('#txtProduct').data('Products', []);
        RefreshProductCategory(0);
    });

    function RefreshProductCategory(nPCID)
    {
        var oProductCategory ={  ProductCategoryID: 0 };
        $.ajax
        ({
            type: "POST",
            dataType: "json",
            url : sessionStorage.getItem("BaseAddress")+  "/ProductCategory/GetsProductCategoryForCombo",
            data:  JSON.stringify(oProductCategory),
            contentType: "application/json; charset=utf-8",
            success: function (data) {
                var oProductCategorys = jQuery.parseJSON(data);
                if(oProductCategorys!=null)
                {
                    $('#cboProductCategory').combotree('loadData', oProductCategorys);
                    $('#cboProductCategory').combotree('setValue', 0);
                }
            },
            error: function (xhr, status, error)
            {
                alert(error);
            }
        });
    }



    function RefreshControl()
    {  
        debugger; 
           
        var oAllNodes=$('#ulMenuTree').tree('getChecked', 'unchecked');         
        //if(oAllNodes!=null)
        //{
        //    for(var n=0;n<oAllNodes.length;n++)
        //    {
        //        if(AlreadySelected(oAllNodes[n].id))
        //        {
        //            if($('#ulMenuTree').tree('isLeaf', oAllNodes[n].target))
        //            {
        //                $('#ulMenuTree').tree('check', oAllNodes[n].target); 
        //            }
        //        }
        //    }
        //}    
    }



    function AlreadySelected(nKey)
    {    
        var oSelectedMenus = $('#divMenuPermission').data('SelectedMenus');
        for(var j=0;j<oSelectedMenus.length;j++)
        {
            if(oSelectedMenus[j] ==nKey)
            {
                return true;    
            }
        }
        return false;
    }



    function ValidateSearch()
    {
        var nIssueDate = parseInt($('#cboIssueDate').val());
        if(nIssueDate===1 || nIssueDate===2 || nIssueDate===3 || nIssueDate===4)
        {
            var sIssueDateStart   = $('#txtIssueDateStart').datebox('getValue');
            if(sIssueDateStart===null || sIssueDateStart==="")
            {
                alert("Please select validity start date!");
                $('#txtIssueDateStart').focus();
                return false;
            }
        }
        if(nIssueDate===5 || nIssueDate===6)
        {
            var sIssueDateStart   = $('#txtIssueDateStart').datebox('getValue');
            var sIssueDateEnd   = $('#txtIssueDateEnd').datebox('getValue');
            if(sIssueDateStart===null || sIssueDateStart==="")
            {
                alert("Please select validity start date!");
                $('#txtIssueDateStart').focus();
                return false;
            }
            if(sIssueDateEnd===null || sIssueDateEnd==="")
            {
                alert("Please select validity end date!");
                $('#txtIssueDateEnd').focus();
                return false;
            }
            if(new Date(sIssueDateStart) > new Date(sIssueDateEnd))
            {
                alert("Start date must be smallar than or equal end date!");
                $('#txtIssueDateStart').focus();
                return false;
            }
        }

        var sLotNo =$.trim($('#txtLotNo').val());
        var nBusinessUnit = parseInt($('#cboBusinessUnit').val());
        var sWorkingUnitIDs = $('#txtWorkingUnit').data("WorkingUnitIDs");
        var oConsumptionUnits = $('#txtConsumptionUnit').data('ConsumptionUnits');
        var oProducts = $('#txtProduct').data('Products');
        var nCategoryID = $('#cboProductCategory').combotree('getValue');
        var nShift = parseInt($("#cboShift").val());
        if(nCategoryID === undefined || nCategoryID === null)
        {
            nCategoryID =0;
        }
        if(nIssueDate === 0 && sLotNo === "" && nBusinessUnit === 0 && sWorkingUnitIDs === "" && $('#StyleNo').data("StyleIDs")==="" && oConsumptionUnits.length<=0 && oProducts.length<=0 && nCategoryID ===0 && nShift==0)
        {
            alert("Please select atleast one searching criteriea!");
            return false;
        }
        if(parseInt($("#cboReportLayOut").val())==0)
        {
            alert("Please select Report Layout.");
            $("#cboReportLayOut").focus();
            return false;
        }
        return true;
    }

    function RefreshObject()
    {
        debugger;
        var oConsumptionUnits = $('#txtConsumptionUnit').data('ConsumptionUnits');
        var oProducts = $('#txtProduct').data('Products');

        var nIssueDate = parseInt($('#cboIssueDate').val());
        var sIssueDateStart = $('#txtIssueDateStart').datebox('getValue');
        var sIssueDateEnd = $('#txtIssueDateEnd').datebox('getValue');
        var nProductCategoryID = $('#cboProductCategory').combotree('getValue');
        if(nProductCategoryID === undefined ||nProductCategoryID === null)
        {
            nProductCategoryID =0;
        }

        var sSearchingData  =  nIssueDate+'~';
        sSearchingData = sSearchingData + sIssueDateStart+'~';
        sSearchingData = sSearchingData + sIssueDateEnd;

        var oConsumptionReport = {
            LotNo : $.trim($('#txtLotNo').val()),
            BUID : parseInt($('#cboBusinessUnit').val()),
            StoreName : $('#txtWorkingUnit').data("WorkingUnitIDs"),
            StyleNo:$('#StyleNo').data("StyleIDs"),
            ConsumptionUnitName : ICS_PropertyConcatation(oConsumptionUnits, 'id'),
            ProductName : ICS_PropertyConcatation(oProducts, 'ProductID'),
            ProductCategoryID : parseInt(nProductCategoryID),
            ShiftInInt: parseInt($("#cboShift").val()),
            ShiftName: parseInt($("#cboShift").val())!=0?$("#cboShift option:selected").text():'',
            ReportLayout:$("#cboReportLayOut").val(),
            SearchingData : sSearchingData
        };
        return oConsumptionReport;
    }

    $('#btnPreview').click(function(e){
        if(!ValidateSearch()) return;
        var oConsumptionReport = RefreshObject();
        $.ajax({
            type: "POST",
            dataType: "json",
            url : sessionStorage.getItem('BaseAddress')+  "/ConsumptionReport/SetSessionSearchCriteria",
            traditional: true,
            data:  JSON.stringify(oConsumptionReport),
            contentType: "application/json; charset=utf-8",
            success: function (data) {
                var sFeedBackMessage = jQuery.parseJSON(data);
                if (sFeedBackMessage==="Successful") {
                    var tsv=((new Date()).getTime())/1000;
                    window.open(sessionStorage.getItem('BaseAddress')+'/ConsumptionReport/PrintConsumptionReport?ts='+tsv,"_blank");
                }
            },
            error: function (xhr, status, error) {
                alert(error);
            }
        });
    });

    $('#btnExportToExcel').click(function(e){
        if(!ValidateSearch()) return;
        var oImportInvoiceRegister = RefreshObject();
        $.ajax({
            type: "POST",
            dataType: "json",
            url : sessionStorage.getItem('BaseAddress')+  "/ConsumptionReport/SetSessionSearchCriteria",
            traditional: true,
            data:  JSON.stringify(oImportInvoiceRegister),
            contentType: "application/json; charset=utf-8",
            success: function (data) {
                var sFeedBackMessage = jQuery.parseJSON(data);
                if (sFeedBackMessage==="Successful") {
                    var tsv=((new Date()).getTime())/1000;
                    window.open(sessionStorage.getItem('BaseAddress')+'/ConsumptionReport/ExportToExcelConsumptionReport?ts='+tsv,"_blank");
                }
            },
            error: function (xhr, status, error) {
                alert(error);
            }
        });
    });

    $('#cboIssueDate').change(function(e){
        //EqualTo = 1, NotEqualTo = 2, GreaterThen = 3, SmallerThen = 4, Between = 5, NotBetween = 6
        var nCompareOperator =   parseInt($('#cboIssueDate').val());
        if(nCompareOperator===0)
        {
            $('#txtIssueDateStart').datebox({ disabled : true });
            $('#txtIssueDateEnd').datebox({ disabled : true });
        }
        else if (nCompareOperator===1 || nCompareOperator===2 || nCompareOperator===3 || nCompareOperator===4)
        {
            $('#txtIssueDateStart').datebox({ disabled : false });
            $('#txtIssueDateEnd').datebox({ disabled : true });
        }
        else
        {
            $('#txtIssueDateStart').datebox({ disabled : false });
            $('#txtIssueDateEnd').datebox({ disabled : false });
        }
        $('#txtIssueDateStart').datebox('setValue', icsdateformat(new Date()));
        $('#txtIssueDateEnd').datebox('setValue', icsdateformat(new Date()));
    });

    $('#btnClose').click(function (e) {
        window.location.href = window.location.href;
    });

    //Style Pick
    function PickConsumptionUnits()
    {

        $('#winConsumptionUnit input[type=text]').val('');
        $("#winConsumptionUnit input,select").prop('disabled',false);
        $("#winConsumptionUnit").icsWindow('open', "Consumption Unit Entry");

        $.ajax({
            type: "POST",
            dataType: "json",
            url : sessionStorage.getItem("BaseAddress")+  "/ConsumptionReport/GetsConsumptionUnitTree",
            traditional: true,
            contentType: "application/json; charset=utf-8",
            success: function (data) {
                debugger;
                var oConsumptionUnit = jQuery.parseJSON(data);
                $('#winConsumptionUnit').data('ConsumptionUnitMenu', oConsumptionUnit);
                if (oConsumptionUnit != null) {
                    $('#ulMenuTree').tree({ data: [oConsumptionUnit] });
                    RefreshControl();
                    
                }
            },
            error: function (xhr, status, error) {
                alert(error);
            }
        });


        
    }
    $("#btnConsumptionUnitClose").click(function () {
        debugger;
        $("#winConsumptionUnit").icsWindow('close');
    });
    $("#btnConsumptionUnitSave").click(function (){
        debugger;
        var oreturnobjs= $('#ulMenuTree').tree('getChecked'); 
        if (oreturnobjs != null && oreturnobjs.length > 0) {
            $('#txtConsumptionUnit').val(oreturnobjs.length+"'s Consumption Unit Seleted");
            $('#txtConsumptionUnit').addClass('fontColorOfPickItem');
            $('#txtConsumptionUnit').data('ConsumptionUnits', oreturnobjs);
            $('#txtConsumptionUnit').focus();
            $("#winConsumptionUnit").icsWindow('close');
        }

        
        
        //if(oSelectedMenus==null)
        //{
        //    alert("Please select at least one item!");
        //    return;
        //}
        //var sMenuKeys="";
        //for(var i=0; i<oSelectedMenus.length;i++)
        //{
        //    sMenuKeys = sMenuKeys + oSelectedMenus[i].ConsumptionUnitID+',';        
        //}      

        ////get indeterminate items
        //oSelectedMenus= [];
        //oSelectedMenus= $('#ulMenuTree').tree('getChecked', 'indeterminate'); 
        //for(var i=0; i<oSelectedMenus.length;i++)
        //{
        //    sMenuKeys=sMenuKeys + oSelectedMenus[i].id+',';        
        //}   
        
        //var oUser= {
        //    Keys : sMenuKeys
        //}
    })
    $("#txtConsumptionUnit").keydown(function (e) {
        var code = (e.keyCode ? e.keyCode : e.which);
        if (code == 13) // Enter Press
        {
            PickConsumptionUnits($.trim($('#txtConsumptionUnit').val()));
        }
    });
    $("#btnPickConsumptionUnit").click(function () {
        $('#txtConsumptionUnit').val('');
        PickConsumptionUnits();
    });
    $('#txtConsumptionUnit').keydown(function (e) {
        var code = (e.keyCode ? e.keyCode : e.which);
        if (code == 8) //backspace=8
        {
            $("#txtConsumptionUnit").removeClass("fontColorOfPickItem");
            $('#txtConsumptionUnit').data('ConsumptionUnits', []);
        }
    });
    $('#btnClearConsumptionUnit').click(function(e){
        $("#txtConsumptionUnit").val("");
        $('#txtConsumptionUnit').data('ConsumptionUnits', []);
        $("#txtConsumptionUnit").removeClass("fontColorOfPickItem");
    });
    //End Style Picker

    //Product Pick
    function PickProduct()
    {
        var nBUID = 0;
        var oProduct = {
            BUID : nBUID,
            ProductName : $.trim($('#txtProduct').val())
        };
        var obj = {
            BaseAddress: sessionStorage.getItem("BaseAddress"),
            Object: oProduct,
            ControllerName: "Product",
            ActionName: "SearchByProductNameCode",
            IsWinClose: false
        };
        $("#progbar").progressbar({ value: 0 });
        $("#progbarParent").show();
        var intervalID = setInterval(updateProgress, 250);
        $.icsDataGets(obj, function (response) {
            clearInterval(intervalID);
            $("#progbarParent").hide();
            if (response.status && response.objs.length > 0) {
                if (response.objs[0].ProductID > 0) {
                    var tblColums = [];
                    var oColumn = { field: "ProductCode", title: "Product Code", width: 80, align: "left" }; tblColums.push(oColumn);
                    oColumn = { field: "ProductName", title: "Product Name", width: 300, align: "left" }; tblColums.push(oColumn);
                    oColumn = { field: "ShortName", title: "Short Name", width: 100, align: "left" }; tblColums.push(oColumn);
                    oColumn = { field: "ProductCategoryName", title: "Category", width: 100, align: "left" }; tblColums.push(oColumn)
                    var oPickerParam = {
                        winid: 'winProducts',
                        winclass: 'clsProducts',
                        winwidth: 600,
                        winheight: 460,
                        tableid: 'tblProducts',
                        tablecolumns: tblColums,
                        datalist: response.objs,
                        multiplereturn: true,
                        searchingbyfieldName: 'ProductName',
                        windowTittle: 'Product List'
                    };
                    $.icsPicker(oPickerParam);
                    IntializePickerbutton(oPickerParam);
                }
                else { alert(response.objs[0].ErrorMessage); }
            }else{
                alert("Data Not Found.");
                return;
            }
        });
    }
    $("#txtProduct").keydown(function (e) {
        var code = (e.keyCode ? e.keyCode : e.which);
        if (code == 13) // Enter Press
        {
            if($.trim($('#txtProduct').val())===null || $.trim($('#txtProduct').val())==="")
            {
                alert("Press enter with product name");
                return;
            }
            PickProduct();
        }
    });
    $("#btnPickProduct").click(function () {
        $('#txtProduct').val('');
        PickProduct();
    });
    $('#txtProduct').keydown(function (e) {
        var code = (e.keyCode ? e.keyCode : e.which);
        if (code == 8) //backspace=8
        {
            $("#txtProduct").removeClass("fontColorOfPickItem");
            $('#txtProduct').data('Products', []);
        }
    });
    $('#btnClearProduct').click(function(e){
        $("#txtProduct").val("");
        $('#txtProduct').data('Products', []);
        $("#txtProduct").removeClass("fontColorOfPickItem");
    });
    //End Product Picker


    //Working Unit Picker STart
    $("#txtWorkingUnit").keydown(function (e) {
        var nkeyCode = e.keyCode || e.which;
        if(nkeyCode==13){
            var txtWorkingUnit=$.trim($("#txtWorkingUnit").val());
            if(txtWorkingUnit==""){ alert("Type product name to search."); return false; }
            GetWorkingUnits(txtWorkingUnit);
        }
        else if(nkeyCode==8){
            $('#txtWorkingUnit').data("WorkingUnitIDs","");
            $("#txtWorkingUnit").removeClass("fontColorOfPickItem");
        }
    });
    $("#btnPickWorkingUnit").click(function () {
        var txtWorkingUnit=$.trim($("#txtWorkingUnit").val());
        GetWorkingUnits(txtWorkingUnit);
    });
    function GetWorkingUnits(txtWorkingUnit){
        var oWorkingUnit = {
            BUID:parseInt(sessionStorage.getItem('BUID')),
            LocationName:txtWorkingUnit,
        };
        var obj = {
            BaseAddress: _sBaseAddress,
            Object: oWorkingUnit,
            ControllerName: "WorkingUnit",
            ActionName: "GetsBUWiseWorkingUnit",
            IsWinClose: false
        };

        $.icsDataGets(obj, function (response) {

            if (response.status && response.objs.length > 0) {
                if (response.objs[0].WorkingUnitID > 0) {
                    debugger;
                    var tblColums = [];
                    var oColumn = { field: "WorkingUnitCode", title: "Code", width: 80, align: "left" };tblColums.push(oColumn);
                    oColumn = { field: "WorkingUnitName", title: "Name", width: 270, align: "left" };tblColums.push(oColumn);

                    var oPickerParam = {
                        winid: 'winWorkingUnitPicker',
                        winclass:'clsWorkingUnitPicker',
                        winwidth: 520,
                        winheight: 460,
                        tableid: 'tblWorkingUnit',
                        tablecolumns: tblColums,
                        datalist: response.objs,
                        multiplereturn: true,
                        searchingbyfieldName:'WorkingUnitName',
                        windowTittle: 'Store List'
                    };
                    $.icsPicker(oPickerParam);
                    IntializePickerbutton(oPickerParam);//multiplereturn, winclassName
                }
                else { alert(response.objs[0].ErrorMessage); }
            }
            else{
                alert("No product found.");
            }
        });

    }
    //Working Unit Picker End

    //style Pick start
    $("#txtStyleNo").keydown(function (e) {
        var code = (e.keyCode ? e.keyCode : e.which);
        if (code == 13) // Enter Press
        {
            var sStyleNumber = $.trim($('#txtStyleNo').val());
            if(sStyleNumber=== null || sStyleNumber === "")
            {
                alert("Press Enter With Style Number!");
                $('#txtStyleNo').focus();
                return;
            }
            PickStyle();
        }else  if (code == 8) //backspace=8
        {
            $("#txtStyleNo").removeClass("fontColorOfPickItem");
            $('#txtStyleNo').data("StyleIDs","");
        }
    });
    function PickStyle()
    {
        var oTechnicalSheet = { StyleNo: $.trim($('#txtStyleNo').val()), BUID:parseInt(sessionStorage.getItem('BUID'))};
        var obj = {
            BaseAddress: sessionStorage.getItem('BaseAddress'),
            Object: oTechnicalSheet,
            ControllerName: "TechnicalSheet",
            ActionName: "StyleSearch",
            IsWinClose: false
        };
        $.icsDataGets(obj, function (response) {

            if (response.status && response.objs.length > 0) {
                if (response.objs[0].TechnicalSheetID > 0) {
                    var tblColums = []; var oColumn = { field: "StyleNo", title: "Style No", width: 100, align: "left" }; tblColums.push(oColumn);
                    oColumn = { field: "BuyerName", title: "Buyer Name", width: 200, align: "left" }; tblColums.push(oColumn);
                    oColumn = { field: "SessionName", title: "Business Session", width: 100, align: "left" }; tblColums.push(oColumn);

                    var oPickerParam = {
                        winid: 'winStylePicker',
                        winclass: 'clsStylePicker',
                        winwidth: 600,
                        winheight: 460,
                        tableid: 'tblStylePicker',
                        tablecolumns: tblColums,
                        datalist: response.objs,
                        multiplereturn: true,
                        searchingbyfieldName: 'StyleNo',
                        windowTittle: 'Style List'
                    };
                    $.icsPicker(oPickerParam);
                    IntializePickerbutton(oPickerParam);
                }
                else {
                    alert(response.objs[0].ErrorMessage);
                }

            }else{
                alert("Data Not Found.");
            }
        });
    }
    //style Pick end

    function IntializePickerbutton(oPickerobj) {
        $("#" + oPickerobj.winid).find("#btnOk").click(function () {
            //for Single Select
            SetPickerValueAssign(oPickerobj);
        });
        $(document).find('.' + oPickerobj.winclass).keydown(function (e) {
            if (e.which == 13)//enter=13
            {
                SetPickerValueAssign(oPickerobj);
            }
        });
    }

    function SetPickerValueAssign(oPickerobj) {
        var oreturnObj = null, oreturnobjs = [];
        if (oPickerobj.multiplereturn) {
            oreturnobjs = $('#' + oPickerobj.tableid).datagrid('getChecked');
        } else {
            oreturnObj = $('#' + oPickerobj.tableid).datagrid('getSelected');
        }
        $("#" + oPickerobj.winid).icsWindow("close");
        $("#" + oPickerobj.winid).remove();

        if (oPickerobj.winid === 'winConsumptionUnitPicker')
        {
            if (oreturnobjs != null && oreturnobjs.length > 0) {
                $('#txtConsumptionUnit').val(oreturnobjs.length+"'s Consumption Unit Seleted");
                $('#txtConsumptionUnit').addClass('fontColorOfPickItem');
                $('#txtConsumptionUnit').data('ConsumptionUnits', oreturnobjs);
                $('#txtConsumptionUnit').focus();
            }
        }
        else if (oPickerobj.winid === 'winProducts')
        {
            if (oreturnobjs != null && oreturnobjs.length > 0) {
                $('#txtProduct').val(oreturnobjs.length+"'s Products seleted");
                $('#txtProduct').addClass('fontColorOfPickItem');
                $('#txtProduct').data('Products', oreturnobjs);
                $('#txtProduct').focus();
            }
        }else if (oPickerobj.winid == 'winWorkingUnitPicker')
        {
            debugger;
            if (oreturnobjs != null && oreturnobjs.length> 0)
            { 
                var sMessage='';
                sMessage=(oreturnobjs.length>1)? oreturnobjs.length +" store Selected" : oreturnobjs[0].WorkingUnitName;
                $('#txtWorkingUnit').val(sMessage);
                $("#txtWorkingUnit").addClass("fontColorOfPickItem");
                $('#txtWorkingUnit').data("WorkingUnitIDs",ICS_PropertyConcatation(oreturnobjs,'WorkingUnitID'));
            }
            
        }else   if (oPickerobj.winid === 'winStylePicker')
        {
            if (oreturnobjs != null && oreturnobjs.length > 0) {
                $('#txtStyleNo').val(oreturnobjs.length+"'s Styles seleted");
                $('#txtStyleNo').addClass('fontColorOfPickItem');
                $('#txtStyleNo').data("StyleIDs",ICS_PropertyConcatation(oreturnobjs,'TechnicalSheetID'));
                $('#txtStyleNo').focus();
            }
        }
    }

    function updateProgress() {
        var value =$('#progbar').progressbar('getValue');
        if (value < 96){
            value += Math.floor(Math.random() * 10);
            $('#progbar').progressbar('setValue', value);
        }
    }

    function hideShow(miliseconds) {
        $("#progbarParent").hide();
    }
</script>