@{
    ViewBag.Title = "Upload Car Images";
}
<html>
<body>

    @model ESimSol.BusinessObjects.KommFileImage
    <div class="menuMainCollectionTable">
        <div class="easyui-panel" id="divPanel" title="Property" style="font-family:Tahoma;height:100%;">
            <div style="width:100%;height:90%">
                @using (Html.BeginForm("ImageHelper", "KommFile", FormMethod.Post, new { enctype = "multipart/form-data" }))
                {

                    <table border="0" cellspacing="2" cellpadding="2" style="font-size:11px; width:100%; font-weight:bold">
                        <tr style="height:280px">
                            <td style="width:300px">
                                <fieldset>
                                    <legend style="font-weight:bold"> Sample Image : </legend>
                                    <div style="margin-left:10px; margin-top:10px; height:280px;width:100%; text-align:center;">
                                        <img id="imgSample" src="#" alt="" />
                                    </div>
                                </fieldset>
                            </td>
                            <td style="width:325px; vertical-align:bottom">
                                <fieldset>
                                    <legend style="font-weight:bold"> Image Informations : </legend>
                                    <table border="0" cellspacing="2" cellpadding="2" style="font-size:11px; font-weight:bold">
                                        <tr style="height:122px; vertical-align:middle">
                                            <td style="width:20px; text-align:right"></td>
                                            <td style="width:290px"><div style="color: red;font-weight:900; margin-top:10px">@TempData["message"]</div></td>
                                        </tr>
                                        <tr>
                                            <td style="width:20px; text-align:right"></td>
                                            <td style="width:290px">Image Title</td>
                                        </tr>
                                        <tr>
                                            <td style="width:20px; text-align:right"></td>
                                            <td style="width:290px">@Html.TextBoxFor(model => model.ImageTitle, new { style = "width: 250px;", id = "txtImageTitle" }) </td>
                                        </tr>
                                        <tr>
                                            <td style="width:20px; text-align:right"><label class="asterixStyle">*</label></td>
                                            <td style="width:290px">
                                                @Html.DropDownListFor(model => model.ImageType, Model.ImageTypeObjs.Select(x => new SelectListItem() { Text = x.Value, Value = x.id.ToString() }), new { id = "cboImageType", style = "width: 280px;font-size:12px;text-align:left" })
                                            </td>
                                        </tr>
                                        <tr>
                                            <td style="width:20px; text-align:right"> </td>
                                            <td style="width:290px"><input type="file" name="file" onchange="readURL(this);" /></td>
                                        </tr>
                                        <tr>
                                            <td style="width:20px; text-align:right"> </td>
                                            <td style="width:290px"><input id="btnSubmit" type="submit" value="Upload" style="width:75px; font-weight:bold" /></td>
                                        </tr>
                                    </table>
                                    @Html.HiddenFor(model => model.KommFileID)
                                </fieldset>
                            </td>
                        </tr>
                    </table>

                }
                <fieldset>
                    <legend style="font-weight:bold;font-size:11px;"> Image List : </legend>
                    <div id="ImagContaiiner" style="width:100%; height:135px; overflow:auto">
                        <table border="0" cellpadding="1" cellspacing="1">
                            <tr>
                                @foreach (ESimSol.BusinessObjects.KommFileThumbnail oItem in Model.KommFileThumbnails)
                                {
                                    <td>
                                        <table border="0" cellpadding="0" cellspacing="0">
                                            <tr>
                                                <td>
                                                    <img src="@Url.Action("GetThumImage", "KommFile", new { id = oItem.KommFileThumbnailID })" alt="@oItem.ImageTitle" onclick="ChangeImage(@oItem.KommFileImageID,@oItem.ImageTypeInInt)" />
                                                </td>
                                            </tr>
                                            <tr>
                                                <td>
                                                    <a id="btnDeleteImage" href="javascript:void(0)" class="easyui-linkbutton" iconcls="icon-remove" plain="true" onclick="RemoveImage(@oItem.KommFileImageID)"></a>
                                                    <a id="btnDownloadImage" href="javascript:void(0)" class="easyui-linkbutton" iconcls="icon-down" plain="true" onclick="DownLoadImage(@oItem.KommFileImageID)"></a>
                                                </td>
                                            </tr>

                                        </table>
                                    </td>
                                }
                            </tr>
                        </table>

                    </div>
                </fieldset>
            </div>
            <fieldset style="width:auto; text-align:right; height:10%;">
                <legend style="font-weight:bold"> Action : </legend>
                <table border="0" cellspacing="2" cellpadding="2" style="font-size:11px; font-weight:bold;width:100%">
                    <tr>
                        <td style="width:85%; text-align:right"></td>
                        <td style="width:15%; text-align:right">

                            <a href="javascript:void(0)" class="easyui-linkbutton" iconcls="icon-cancel" plain="true" onclick="Close()">Close</a>
                        </td>
                    </tr>
                </table>
            </fieldset>
        </div>
    </div>
</body>
</html>

<script type="text/javascript">

    var _sBaseAddress="";
    //StyleNo
    $(document).ready(function () {
        //debugger;
        _sBaseAddress =@Html.Raw( new System.Web.Script.Serialization.JavaScriptSerializer().Serialize(HttpContext.Current.Session[SessionInfo.BaseAddress]));
        $('#divPanel').panel({title:'Image for '+sessionStorage.getItem("ModelHeader")});
        $('#txtImageTitle').val(sessionStorage.getItem("ModelHeader"));
    });


    function readURL(input) {
        if (input.files && input.files[0]) {
            var reader = new FileReader();

            reader.onload = function (e) {
                $('#imgSample')
                    .attr('src', e.target.result)
                    .width(250)
                    .height(250);
            };

            reader.readAsDataURL(input.files[0]);
        }
    }

    $('#btnSubmit').click(function (e) {
        if(document.getElementById("txtImageTitle").value==null || document.getElementById("txtImageTitle").value=="")
        {
            alert("Please enter image title!");
            $('#txtImageTitle').focus();
            return false;
        }
        var cboImageType = document.getElementById("cboImageType");
        var nImageTypeID=cboImageType.options[cboImageType.selectedIndex].value;
        if(parseInt(nImageTypeID)<=0)
        {
            alert("Please Select Image Type");
            $('#cboImageType').focus();
            return false;
        }
    });

    function RemoveImage(nKommFileImageID)
    {
        if (!confirm("Confirm to Delete?")) return ;

        debugger;
        var nKommFileImageID=nKommFileImageID;
        $.ajax
        ({
            type: "GET",
            dataType: "json",
            url : _sBaseAddress+  "/KommFile/DeleteKommFileImage",
            data: { id: nKommFileImageID},
            contentType: "application/json; charset=utf-8",
            success: function (data) {
                //debugger;
                feedbackmessage = jQuery.parseJSON(data);
                if (feedbackmessage == "Delete Successfully")
                {
                    alert("Delete sucessfully");
                    location.reload();
                }
                else
                {
                    alert(feedbackmessage);
                }
            },
            error: function (xhr, status, error)
            {
                alert(error);
            }

        });

    }

    function DownLoadImage(nKommFileImageID)
    {
        debugger;
        if(nKommFileImageID==null || parseInt(nKommFileImageID)<=0)
        {
            alert("Please select a item from list!");
            return;
        }
        var oParameter = new Object();
        var tsv= ((new Date()).getTime())/1000;
        var url =_sBaseAddress+  "/KommFile/DownloadModelImage?id="+ nKommFileImageID+"&ts="+tsv;
        window.open(url, '_blank');
    }

    function ChangeImage(nKommFileImageID,nType)
    {
        debugger;
        $('#cboImageType').val(nType);
        $.ajax({
            cache:true,
            type: "GET",
            url: "@(Url.Action("GetImageInBase64", "KommFile"))",
            data: "id=" + nKommFileImageID,
            success: function (data) {      
            $('#imgSample').attr('src', "data:image/jpg;base64," + data.base64imgage );
        }
        });
    }

    function Close()
    {
        window.location.href = sessionStorage.getItem("BackLink");
     
    }
</script>