@{
    ViewBag.Title = "Export Document Setup List";
}
@model IEnumerable<ESimSol.BusinessObjects.ExportDocSetup>


   <head>
   <title></title>
   <script src="@Url.Content("~/Views/ExportDocSetup/ExportDocSetup.js")" type="text/javascript"></script>
   <script src="@Url.Content("~/Views/ExportDocSetup/ExportDocSetups.js")" type="text/javascript"></script>
   </head>
   <body>
       <div id="winExportDocSetup" style="width:850px;height:100%;" class="easyui-window winstyle" title="Export Doc Setup " data-options="modal:true,closed:true,collapsible:false,minimizable:false,maximizable:false,closable:false">
           <div id="tabExportDOC" class="easyui-tabs" style="width:100%;height:510px">
               <div title="First" style="width:840px;height:100%;padding:2px">
                   <fieldset>
                       <table cellpadding="2" cellspacing="2" style="width:100%;height:100%;padding:2px">
                           <tr>

                               <td style="width:65%;">
                                   <input style="width:100%;" id="txtDocName" type="text" placeholder="Doc Name " />
                               </td>

                               <td style="width:20%;">
                                   <select style="width:100%;" id="cboDocumentType"></select>
                               </td>
                               <td  style="width:15%;">
                                   <select style="width:100%;" id="cboExportLCType"></select>
                               </td>

                           </tr>
                           <tr>
                               <td style="width:65%;">
                                   <input style="width:100%;" type="text" id="txtDocHeader" placeholder="Document Header" />
                               </td>
                               <td style="width:20%;">
                                   <input type="text" id="txtBillNo" placeholder="Bill No" />
                               </td>
                               <td style="width:15%;">
                                 
                               </td>
                           </tr>
                       </table>

                   </fieldset>
                   <fieldset>
                       <table cellpadding="2" cellspacing="2" style="width:100%;height:100%;padding:2px">
                           <tr>
                               <td style="width:40%;">
                                   <input style="width:100%;" type="text" id="txtBeneficiary" placeholder="Exporter/Beneficiary/ In Favour of" />
                               </td>
                               <td style="width:40%;">
                                   <input type="text" id="txtNoAndDateOfDoc" placeholder="No & Date of Commercial Invoice" style="width:100%;" />
                               </td>
                               <td style="width:20%;">
                                   <input type="text" id="txtIRC" style="width:100%;" placeholder="IRC" />
                               </td>
                           </tr>
                           <tr>
                               <td style="width:40%;">
                                   <input type="text" id="txtAccountOf" placeholder="For Account & Risk of" style="width:100%;" />
                               </td>
                               <td style="width:40%;">
                                   <input type="text" id="txtDocumentaryCreditNoDate" style="width:100%;" placeholder="Documentary Credit No & Date" />
                               </td>
                               <td style="width:20%;">
                                   <input type="text" id="txtGarmentsQty" style="width:100%;" placeholder="Garments Qty" />
                               </td>
                           </tr>
                           <tr>
                               <td style="width:40%;">
                                   <input type="text" id="txtAgainstExportLC" style="width:100%;" placeholder="Open against Master L/C" />
                               </td>
                               <td style="width:40%;">
                                   <input type="text" id="txtProformaInvoiceNoAndDate" style="width:100%;" placeholder="No and Date of ProformaInvoice" />
                               </td>
                               <td style="width:20%;">
                                   <input type="text" id="txtHSCode" style="width:100%;" placeholder="HS Code" />
                               </td>
                           </tr>
                           <tr>
                               <td style="width:40%;">
                                   <input type="text" id="txtIssuingBank" style="width:100%;" placeholder="Issuing Bank" />
                               </td>
                               <td style="width:40%;">
                                   <input type="text" id="txtNegotiatingBank" style="width:100%;" placeholder="Negotiating Bank" />
                               </td>
                               <td style="width:20%;">
                                   <input type="text" id="txtAreaCode" style="width:100%;" placeholder="Area Code" />
                               </td>
                           </tr>
                           <tr>
                               <td style="width:40%;">
                                   <input type="text" id="txtPortofLoading" style="width:100%;" placeholder="Port of Loading" />
                               </td>
                               <td style="width:40%;">
                                   <input type="text" id="txtFinalDestination" style="width:100%;" placeholder="Final Destination" />
                               </td>
                               <td style="width:20%;">
                                   <input type="text" id="txtSpecialNote" style="width:100%;" placeholder="Special Note" />
                               </td>
                           </tr>
                           <tr>
                               <td style="width:40%;">
                                   <input type="text" id="txtCountryofOrigin" style="width:100%;" placeholder="Country of Origin" />
                               </td>
                               <td style="width:40%;">
                                   <input type="text" id="txtTermsofPayment" style="width:100%;" placeholder="Terms of Payment" />
                               </td>
                               <td style="width:20%;">
                                   <input type="text" id="txtRemark" style="width:100%;" placeholder="Remark" />
                               </td>
                           </tr>
                           <tr>
                               <td style="width:40%;">
                                   <input type="text" id="txtDeliveryTo" style="width:100%;" placeholder="Delivery To" />
                               </td>
                               <td style="width:40%;">
                                   <input type="text" id="txtToTheOrderOf" style="width:100%;" placeholder="To The Order Of" />
                               </td>
                               <td style="width:20%;">
                                   <select id="cboOrderOfBankType" style="width:100%">
                                   </select>
                               </td>
                           </tr>
                           <tr>
                               <td style="width:40%;">
                                   <input type="text" id="txtTermsOfShipment" style="width:100%;" placeholder="Terms Of Shipment" />
                               </td>
                               <td style="width:40%;">
                                   
                               </td>
                               <td style="width:20%;">
                                   
                               </td>
                           </tr>
                       </table>
                   </fieldset>
                  
                   <fieldset>
                       <table style="width:100%;height:100%;padding:2px">
                           <tr>
                               <td class="tdInput">
                                   <input type="text" id="txtCertification" placeholder="Certification" />
                               </td>
                           </tr>
                           <tr>
                               <td class="tdInput">
                                   <input type="text" id="txtClauseOne" placeholder="Clause One" />
                               </td>
                           </tr>
                           <tr>
                               <td class="tdInput">
                                   <input type="text" id="txtClauseTwo" placeholder="Clause Two" />
                               </td>
                           </tr>
                           <tr>
                               <td class="tdInput">
                                   <input type="text" id="txtClauseThree" placeholder="Clause Three" />
                               </td>
                           </tr>
                           <tr>
                               <td class="tdInput">
                                   <input type="text" id="txtClauseFour" placeholder="Clause Four" />
                               </td>
                           </tr>
                       </table>
                   </fieldset>
               </div>
               <div title="Second" style="width:100%;height:100%;padding:5px">
                   @*xfgfdg*@
                   <fieldset>
                       <input id="chkIsPrintHeader" type="checkbox" />Print Header
                       <input id="chkIsPrintOriginal" type="checkbox" />Print Original
                       <input id="chkIsPrintGrossNetWeight" type="checkbox" />Print Gross Net Weight
                       <input id="chkIsPrintDeliveryBy" type="checkbox" />Print Delivery By
                       <input id="chkIsPrintTerm" type="checkbox" />Print Term
                       <input id="chkIsPrintQty" type="checkbox" />Print Qty.
                       <input id="chkIsPrintUnitPrice" type="checkbox" />Print Unit Price
                       <input id="chkIsPrintValue" type="checkbox" />Print Value
                       <input id="chkIsPrintWeight" type="checkbox" />Print Weight
                       <input id="chkIsPrintFrieghtPrepaid" type="checkbox" />Print Frieght Prepaid
                       <input id="chkIsPrintVat" type="checkbox" />Print Vat
                       <input id="chkIsPrintRegistration" type="checkbox" />Print Registration
                       <input id="chkIsPrintInvoiceDate" type="checkbox" />Print Invoice Date
                       <input id="chkForCaptionInDubleLine" type="checkbox" />For Caption in Duble Line
                       <input id="chkIsShowAmendmentNo" type="checkbox" />Is Show Amendment No
                   </fieldset>
                   @*dfgfdg*@
                   <fieldset>
                       <table border="0" style="width:100%;height:100%;padding:2px">
                           <tr>
                               <td style="width:20%">
                                   <input type="text" id="txtAccount" placeholder="Account" style="width:100%" />
                               </td>
                               <td style="width:40%">
                                   <input type="text" id="txtNotifyParty" placeholder="Notify Party" style="width:100%" />
                               </td>
                               <td style="width:40%">
                                   <input type="text" id="txtRemarks" placeholder="Remarks" style="width:100%" />
                               </td>
                           </tr>
                           <tr>
                               <td style="width:20%">
                                   <input type="text" id="txtAmountInWord" placeholder="Amount In Word" style="width:100%" />
                               </td>
                               <td style="width:40%">
                                   <input type="text" id="txtWecertifythat" placeholder="We certify that" style="width:100%" />
                               </td>
                               <td style="width:40%">
                                   <input type="text" id="txtCarrier" placeholder="Carrier" style="width:100%" />
                               </td>
                           </tr>
                       </table>
                   </fieldset>

                   <fieldset>
                       <table border="0" style="width:100%;height:100%;padding:2px">
                           <tr>
                               <td style="width:20%">
                                   <input type="text" id="txtAuthorisedSignature" placeholder="AuthorisedSignature" style="width:100%" />
                               </td>
                               <td style="width:40%">
                                   <input type="text" id="txtReceiverSignature" placeholder="ReceiverSignature" style="width:100%" />
                               </td>
                               <td style="width:40%">
                                   <input type="text" id="txtFor" placeholder="For" style="width:100%" />
                               </td>
                           </tr>
                           <tr>
                               <td style="width:20%">
                                   <input type="text" id="txtMUnitName" placeholder="MUnitName" style="width:100%" />
                               </td>
                               <td style="width:40%">
                                   <input type="text" id="txtNetWeightName" placeholder="NetWeightName" style="width:100%" />
                               </td>
                               <td style="width:40%">
                                   <input type="text" id="txtGrossWeightName" placeholder="GrossWeightName" style="width:100%" />
                               </td>
                           </tr>
                           <tr>
                               <td style="width:20%">
                                   <input type="text" id="txtBag_Name" placeholder="Bag_Name" style="width:100%" />
                               </td>
                               <td style="width:40%">
                                   <input type="text" id="txtCountryofOriginName" placeholder="Country of Origin Name" style="width:100%" />
                               </td>
                               <td style="width:40%">
                                   <input type="text" id="txtSellingOnAbout" placeholder="SellingOnAbout" style="width:100%" />
                               </td>
                           </tr>
                           <tr>
                               <td style="width:20%">
                                   <input type="text" id="txtPortofLoadingName" placeholder="Portof Loading Name" style="width:100%" />
                               </td>
                               <td style="width:40%">
                                   <input type="text" id="txtFinalDestinationName" placeholder="Final Destination Name" style="width:100%" />
                               </td>
                               <td style="width:40%">
                                   <input type="text" id="txtTruckNo_Print" placeholder="Truck No" style="width:100%" />
                               </td>
                           </tr>
                           <tr>
                               <td style="width:20%">
                                   <input type="text" id="txtDriver_Print" placeholder="Driver" style="width:100%" />
                               </td>
                               <td style="width:40%">
                                   <input type="text" id="txtTO" placeholder="To/ on behalf of" style="width:100%" />
                               </td>
                               <td style="width:40%">
                                   <input type="text" id="txtShippingMark" placeholder="Shipping Mark" style="width:100%" />
                               </td>
                           </tr>

                           <tr>
                               <td style="width:20%">
                                   <input type="text" id="txtCarrierName" placeholder="Carrier by Name" style="width:100%" />
                               </td>
                               <td style="width:40%">
                                   <input type="text" id="txtDescriptionOfGoods" placeholder="DescriptionOfGoods" style="width:100%" />
                               </td>
                               <td style="width:40%">
                                   <input type="text" id="txtMarkSAndNos" placeholder="MarkSAndNos" style="width:100%" />
                               </td>
                           </tr>
                           <tr>
                               <td style="width:20%">
                                   <input type="text" id="txtQtyInOne" placeholder="QtyInOne" style="width:100%" />
                               </td>
                               <td style="width:40%">
                                   <input type="text" id="txtQtyInTwo" placeholder="QtyInTwo" style="width:100%" />
                               </td>
                               <td style="width:40%">
                                   <input type="text" id="txtValueName" placeholder="ValueName" style="width:100%" />
                               </td>
                           </tr>
                           <tr>
                               <td style="width:20%">
                                   <input type="text" id="txtUPName" placeholder="UPName" style="width:100%" />
                               </td>
                               <td style="width:40%">
                                   <input type="text" id="txtNoOfBag" placeholder="NoOfBag" style="width:100%" />
                               </td>
                               <td style="width:40%">
                                   Print Type:
                                   <select id="cboProductPrintType"></select>
                               </td>
                           </tr>
                           <tr>
                               <td style="width:20%">
                                   <select id="cboReportOn"></select>
                               </td>
                               <td style="width:40%">
                                   <input type="text" id="txtChallanNo" placeholder="Challan No" style="width:100%" />
                               </td>
                               <td style="width:40%">
                                   <select id="cboGoodsDesViewType"></select>
                               </td>
                           </tr>
                           <tr>
                               <td colspan="3" style="width:100%">
                                   <input type="text" id="txtReceiverCluse" placeholder="Receiver Cluse" style="width:100%" />
                               </td>                               
                           </tr>
                           <tr>
                               <td style="width:20%">
                                   <input type="text" id="txtCTPApplicant" placeholder="CPT Applicant" style="width:100%" />
                               </td>
                               <td style="width:40%">
                                   <input type="text" id="txtGRPNoDate" placeholder="GRPNoDate" style="width:100%" />
                               </td>
                               <td style="width:40%">
                                   <input type="text" id="txtASPERPI" placeholder="ASPERPI print under Goods Des" style="width:100%" />
                               </td>
                           </tr>
                           <tr>
                               <td style="width:20%">
                                   <input type="text" id="txtTextWithGoodsCol" placeholder="Text in Color Column" style="width:100%" />
                               </td>
                               <td colspan="2" style="width:80%">
                                   <input type="text" id="txtTextWithGoodsRow" placeholder="Text Under Goods Describtion" style="width:100%" />
                               </td>
                           </tr>
                           <tr>
                               <td style="width:20%">
                                   WeightPerBag: <input id="txtWeightPBag" style="width:30%; text-align: left" class="number" />
                               </td>
                               <td style="width:40%">
                                   Gross Weight Percentage: <input id="txtGrossWeightPTage" style="width:30%; text-align: left" class="number" />
                               </td>
                               <td style="width:40%">
                                   Bag Coun: <input id="txtBagCount" style="width:30%; text-align: left" class="number" />
                               </td>
                           </tr>
                           <tr>
                               <td style="width:20%">
                                   FontSize(Normal): <input id="txtFontSize_Normal" style="width:30%; text-align: left" class="number" />
                               </td>
                               <td style="width:40%">
                                   FontSize(Bold): <input id="txtFontSize_Bold" style="width:30%; text-align: left" class="number" />
                               </td>
                               <td style="width:40%">
                                   Font Size(ULine): <input id="txtFontSize_ULine" style="width:30%; text-align: left" class="number" />
                               </td>
                           </tr>
                       </table>
                   </fieldset>
               </div>
               
           </div>
           <fieldset >
                       <legend>Actions : </legend>
               <table style="width:100%;">
                   <tr>
                       <td style="width:70%;"></td>
                       <td style="width:30%;text-align:right;">
                           <a id="btnCopyDocSetup" href="javascript:void(0)" class="easyui-linkbutton" iconcls="icon-save" plain="true">Copy</a>
                           <a id="btnSaveExportDocSetup" href="javascript:void(0)" class="easyui-linkbutton" iconcls="icon-save" plain="true">Save</a>
                           <a id="btnCloseExportDocSetup" href="javascript:void(0)" class="easyui-linkbutton" iconcls="icon-cancel" plain="true">Close</a>
                       </td>
                   </tr>
               </table>
                      
                   </fieldset>
      </div>

        <div class="menuMainCollectionTable">
                   <table id="tblExportDocSetups" title="Export Doc Setup List" class="easyui-datagrid" fit="true" fitcolumns="true" rownumbers="true" pagination="true" singleselect="true" autorowheight="false" toolbar="#toolbarExportDocSetup">
                       <thead>
                           <tr>
                               <th field="ExportLCTypeSt" width="8%">Type</th>
                               <th field="DocName" width="30%">Doc Name</th>
                               <th field="DocHeader" width="20%">Header</th>
                               <th field="Beneficiary" width="10%">Beneficiary</th>
                             
                               <th field="Sequence" width="6%">Sequence</th>
                               <th field="ActivityInSt" width="10%">Activity</th>
                           </tr>
                       </thead>
                   </table>
                   <div id="toolbarExportDocSetup">
                       <a id="btnAddExportDocSetup" href="javascript:void(0)" class="easyui-linkbutton" iconcls="icon-add" plain="true">Add</a>
                       <a id="btnEditExportDocSetup" href="javascript:void(0)" class="easyui-linkbutton" iconcls="icon-edit" plain="true">Edit</a>
                       <a id="btnViewExportDocSetup" href="javascript:void(0)" class="easyui-linkbutton" iconcls="icon-details" plain="true">View</a>
                       <a id="btnDeleteExportDocSetup" href="javascript:void(0)" class="easyui-linkbutton" iconcls="icon-remove" plain="true">Delete</a>
                       <a id="btnActivate" href="javascript:void(0)" class="easyui-linkbutton" iconcls="icon-edit" plain="true">Activate</a>
                       <a id="btnSetSequence" href="javascript:void(0)" class="easyui-linkbutton" iconcls="icon-add" plain="true" onclick="SetSequence()">Setup Sequence</a>
                   </div>
               </div>
</body>
   <style type="text/css">
    #winExportDocSetup {
    width: 100%;
                       }
   </style>

  <script type="text/javascript">
    var _oExportDocSetup = null;
    var _oExportDocSetups = [];
    var _sBaseAddress = "";
    var _oDocumentTypes=[];
    var _oPrintNo=[];
    var _oBankTypes=[];
    var _oGoodsDesViewType=[];
    var _oExportLCTypes=[];
    var _nBUID = 0;
    $(document).ready(function () {
        _sBaseAddress =@Html.Raw( new System.Web.Script.Serialization.JavaScriptSerializer().Serialize(HttpContext.Current.Session[SessionInfo.BaseAddress]));
        _oExportDocSetups =@Html.Raw( new System.Web.Script.Serialization.JavaScriptSerializer().Serialize(Model));
        _oDocumentTypes = @Html.Raw(new System.Web.Script.Serialization.JavaScriptSerializer().Serialize(ViewBag.EnumDocumentTypes));
        _oPrintNo = @Html.Raw(new System.Web.Script.Serialization.JavaScriptSerializer().Serialize(ViewBag.PrintNo));
        _nBUID = @Html.Raw(new System.Web.Script.Serialization.JavaScriptSerializer().Serialize(ViewBag.BUID));
        _oGoodsDesViewType = @Html.Raw(new System.Web.Script.Serialization.JavaScriptSerializer().Serialize(ViewBag.GoodsDesViewType));
        _oBankTypes = @Html.Raw(new System.Web.Script.Serialization.JavaScriptSerializer().Serialize(ViewBag.BankTypes));
        _oExportLCTypes = @Html.Raw(new System.Web.Script.Serialization.JavaScriptSerializer().Serialize(ViewBag.ExportLCTypes));
       debugger
       InitializeExportDocSetupEvents();
        InitializeExportDocSetupsEvents();
        $("#cboOrderOfBankType").icsLoadCombo({
            List: _oBankTypes,
            OptionValue: "id",		// or object property
            DisplayText: "Value",	//or object property
        });
    });

      $(document).keydown(function (e) { if (e.keyCode == 27) { $('#winExportDocSetup').icsWindow('close'); } });

      function SetSequence()
      {
          var oParameter = new Object();
          oParameter.Name = "Set Sequence";
          var tsv=((new Date()).getTime())/1000;
          var url = _sBaseAddress+"/ExportDocSetup/ViewSetupSequence?buid="+_nBUID+"&ts="+tsv;
          var oExportDocSetups = window.showModalDialog(url, oParameter, 'dialogHeight:440px;dialogWidth:395px;dialogLeft:400;dialogTop:110;center:yes;resizable:yes;status:no;scroll:yes');
          if(oExportDocSetups!=null)
          {
              if(oExportDocSetups.length>0)
              {
                  RefreshList(oExportDocSetups);
              }
          }
      }

</script>


                         
