<html>
<head>
    <link href="@Url.Content("~/Content/CSS/icon.css")" rel="stylesheet" type="text/css" />
    <link href="@Url.Content("~/Content/CSS/easyui.css")" rel="stylesheet" type="text/css" />
    <link href="@Url.Content("~/Content/CSS/Pikerstyle.css")" rel="stylesheet" type="text/css" />

    <script src="@Url.Content("~/Scripts/jquery-1.7.1.min.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Scripts/jquery.ics.customize.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Scripts/jquery.easyui.min.js")" type="text/javascript"></script>

    <script src="@Url.Content("~/Scripts/jquery-ui.min.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Scripts/json2.js")" type="text/javascript"></script>

</head>
<body>
    @model IEnumerable<ESimSol.BusinessObjects.ExportDocSetup>
        <div style="font-family:Tahoma">
            <table border="0" cellspacing="2" cellpadding="2">
                <tr>
                    <td style="background-color:#CFB53B; text-align:center; width:395px; color:White">
                        <label id="lblHeaderName" style="font-size:15px; font-weight:bold; text-decoration:Underline; width:395px">Setup Sequence</label>
                    </td>
                </tr>
            </table>            
            <div style="margin-left:2px">
                <table id="tblExportDocSetup" title="Setup Sequence" class="easyui-datagrid" style="width: 388px; height: 340px" rownumbers="true" singleselect="true" autorowheight="false" toolbar="#toolbar">
                    <thead>
                        <tr>
                            <th field="DocName" width="280">Doc Name</th>                            
                            <th field="Sequence" width="60" align="center">Sequence</th>
                        </tr>
                    </thead>
                </table>
                <div id="toolbar">
                    <a id="btnUp" style=" width:50px; text-align:left;" href="javascript:void(0)" class="easyui-linkbutton" iconcls="icon-up" plain="true" onclick="UP()">Up</a>
                    <a id="btnDown" style=" width:60px; text-align:left;" href="javascript:void(0)" class="easyui-linkbutton" iconcls="icon-down" plain="true" onclick="Down()">Down</a>
                </div>
            </div>
        </div>
        <fieldset style="font-family:Tahoma;width:370px;">
            <legend style="font-weight:bold"> Action : </legend>
            <table border="0" cellspacing="2" cellpadding="2" style="font-size:11px;width:370px; font-weight:bold;font-size:12">
                <tr>
                    <td style="width:270px; text-align:right"></td>
                    <td style="width:50px;font-size:13"><a id="btnUpdate" href="javascript:void(0)" class="easyui-linkbutton" iconcls="icon-save" plain="true" onclick="Update()">Update</a></td>
                    <td style="width:50px;font-size:13"><a id="btnClose" href="javascript:void(0)" class="easyui-linkbutton" iconcls="icon-cancel" plain="true" onclick="Close()">Close</a></td>
                </tr>
            </table>
        </fieldset>
</body>
</html>

<script type="text/javascript">

var _sBaseAddress ="";
var _oExportDocSetup = "";
var _oExportDocSetups = [];
$(document).ready(function () {
    debugger;
    _sBaseAddress =@Html.Raw(new System.Web.Script.Serialization.JavaScriptSerializer().Serialize(HttpContext.Current.Session[SessionInfo.BaseAddress]));
    _oExportDocSetups=@Html.Raw(new System.Web.Script.Serialization.JavaScriptSerializer().Serialize(Model));    
    RefreshList(_oExportDocSetups);
});

function RefreshList(oExportDocSetups)
{
    data=oExportDocSetups;
    data={"total":""+data.length+"","rows":data};
    $('#tblExportDocSetup').datagrid('loadData',data);
}
    
function UP()
{
    debugger;
    var oExportDocSetup = $('#tblExportDocSetup').datagrid('getSelected');
    if(oExportDocSetup==null || parseInt(oExportDocSetup.ExportDocSetupID)<=0)
    {
        alert("Please select an item");
        return;
    }
    var SelectedRowIndex=$('#tblExportDocSetup').datagrid('getRowIndex',oExportDocSetup);
    if(SelectedRowIndex==0)return;
    var oExportDocSetups=[];
    oExportDocSetups=_oExportDocSetups;
    _oExportDocSetups=[];
    for(var i=0; i<oExportDocSetups.length; i++)
    {
        if(i==(SelectedRowIndex-1))
        {
            _oExportDocSetups[i]=oExportDocSetups[i+1];
        }
        else if(i==SelectedRowIndex)
        {
            _oExportDocSetups[i]=oExportDocSetups[i-1];
        }
        else
        {
            _oExportDocSetups[i]=oExportDocSetups[i];
        }
        _oExportDocSetups[i].Sequence=i+1;
    }
    data = _oExportDocSetups;
    data={"total":""+data.length+"","rows":data};
    $('#tblExportDocSetup').datagrid('loadData',data);
    var newSelectedRowIndex=SelectedRowIndex-1;
    $('#tblExportDocSetup').datagrid('selectRow',newSelectedRowIndex);
}

function Down()
{
    debugger;
    var oExportDocSetup = $('#tblExportDocSetup').datagrid('getSelected');
    if(oExportDocSetup==null || parseInt(oExportDocSetup.ExportDocSetupID)<=0)
    {
        alert("Please select a item from list!");
        return;
    }
    var SelectedRowIndex=$('#tblExportDocSetup').datagrid('getRowIndex',oExportDocSetup);
    if(SelectedRowIndex==(_oExportDocSetups.length-1))return;
    var oExportDocSetups=[];
    oExportDocSetups=_oExportDocSetups;
    _oExportDocSetups=[];
    for(var i=0; i<oExportDocSetups.length; i++)
    {
        if(i==(SelectedRowIndex+1))
        {
            _oExportDocSetups[i]=oExportDocSetups[i-1];
        }
        else if(i==SelectedRowIndex)
        {
            _oExportDocSetups[i]=oExportDocSetups[i+1];
        }
        else
        {
            _oExportDocSetups[i]=oExportDocSetups[i];
        }
        _oExportDocSetups[i].Sequence=i+1;
    }
    data = _oExportDocSetups;
    data={"total":""+data.length+"","rows":data};
    $('#tblExportDocSetup').datagrid('loadData',data);
    var newSelectedRowIndex=SelectedRowIndex+1;
    $('#tblExportDocSetup').datagrid('selectRow',newSelectedRowIndex);
 }


function Update()
{
    //debugger;
    if(_oExportDocSetups==null || _oExportDocSetups.length<=0)
    {
        alert("Invalid Operation!");
        return false;
    }
    var oExportDocSetups =[];
    for(var i=0; i<_oExportDocSetups.length; i++)
    {
        var oTempExportDocSetup ={
            ExportDocSetupID: _oExportDocSetups[i].ExportDocSetupID,
            Sequence : _oExportDocSetups[i].Sequence
        };
        oExportDocSetups.push(oTempExportDocSetup);
    }
    var oExportDocSetup = { ExportDocSetups : oExportDocSetups };        
    $.ajax({
        type: "POST",
        dataType: "json",            
        url : _sBaseAddress+  "/ExportDocSetup/UpdateSequence",
        traditional: true,
        data:  JSON.stringify(oExportDocSetup),
        contentType: "application/json; charset=utf-8",
        success: function (data) {
            //debugger;
            var oExportDocSetups = jQuery.parseJSON(data);
            if (oExportDocSetups!=null) {
                if(oExportDocSetups.length>0)
                {
                    if(oExportDocSetups[0].ErrorMessage=="")
                    {
                        alert("Update Successfully");
                        window.returnValue = oExportDocSetups;
                        window.close();   
                    }
                    else
                    {
                        alert(oExportDocSetups[0].ErrorMessage);
                    }
                }
            }
        },
        error: function (xhr, status, error) {
            alert(error);
        }

    });
}

function Close()
{

    window.close();
}


$(document).keydown(function(e) {
    //debugger;
    if(e.which == 27)//escape=27
    {
        //debugger;
        window.close();
    }
});

</script>
