<html>
<head>  
    <link href="@Url.Content("~/Content/CSS/icon.css")" rel="stylesheet" type="text/css" />
    <link href="@Url.Content("~/Content/CSS/easyui.css")" rel="stylesheet" type="text/css" /> 
    <link href="@Url.Content("~/Content/CSS/Pikerstyle.css")" rel="stylesheet" type="text/css" />  

    <script src="@Url.Content("~/Scripts/jquery-1.7.1.min.js")" type="text/javascript"></script>            
    <script src="@Url.Content("~/Scripts/jquery.ics.customize.js")" type="text/javascript"></script>  
    <script src="@Url.Content("~/Scripts/jquery.easyui.min.js")" type="text/javascript"></script>    

    <script src="@Url.Content("~/Scripts/jquery-ui.min.js")" type="text/javascript"></script> 
    <script src="@Url.Content("~/Scripts/json2.js")" type="text/javascript"></script> 
    
</head>
<body>

@model ESimSol.BusinessObjects.SampleType
<div style="font-family:Tahoma">           
<table border="0" cellspacing="2" cellpadding="2">
    <tr>
        <td style="background-color:#CFB53B; text-align:center; width:700px; color:White">
            <label id="lblHeaderName" style="font-size:15px; font-weight:bold; text-decoration:Underline"> Add Sample Type</label>
        </td>
    </tr>
</table>
<fieldset>
    <legend style="font-weight:bold"> Report Layout Informations : </legend>
    <table border="0" cellspacing="2" cellpadding="2" style="font-size:11px; font-weight:bold">
        <tr>
            <td style="width:150px; text-align:right">
                Code:
            </td>
            <td style="width:550px">
                @Html.TextBoxFor(model => model.Code, new { style = "width: 550px;", id = "txtCode", disabled = "disabled" }) 
            </td>
        </tr>   

        <tr>
            <td style="width:150px; text-align:right">
                Sample Name:
            </td>
            <td style="width:550px">
                @Html.TextBoxFor(model => model.SampleName, new { style = "width: 550px;", id = "txtSampleName" }) 
            </td>
        </tr>

            <tr>
            <td style="width:150px; text-align:right">
                Note:
            </td>
            <td style="width:550px">
                @Html.TextBoxFor(model => model.Note, new { style = "width: 550px;", id = "txtNote" }) 
            </td>
        </tr>
   
    </table>
</fieldset>
    
    <fieldset>
        <legend style="font-weight:bold"> Action : </legend>
        <table border="0" cellspacing="2" cellpadding="2" style="font-size:11px; font-weight:bold">
            <tr>
                <td style="width:600px; text-align:right"></td>
                <td style="width:50px">
                   <a id="btnSave" href="javascript:void(0)" class="easyui-linkbutton" iconCls="icon-save" plain="true" onclick="Save()">Save</a>
                </td>
                <td style="width:50px">
                   <a href="javascript:void(0)" class="easyui-linkbutton" iconCls="icon-cancel" plain="true" onclick="Close()">Close</a>
                </td>
            </tr>       
        </table>
    </fieldset>
</div>
</body>
</html>


<script type="text/javascript"> 
 var _oSampleType=null;
 var _sBaseAddress="";
 var _oModuleTypes = [];
 var  _oOperationTypes = [];
 $(document).ready(function () {
    //debugger;     
        _sBaseAddress =@Html.Raw( new System.Web.Script.Serialization.JavaScriptSerializer().Serialize(HttpContext.Current.Session[SessionInfo.BaseAddress]));                  
        _oSampleType =@Html.Raw(new System.Web.Script.Serialization.JavaScriptSerializer().Serialize(Model));     
        var obj = window.dialogArguments;
        document.getElementById('lblHeaderName').innerHTML=obj.Name;

       if(obj.Name=="View Sample Type")
       {
            document.getElementById('btnSave').style.display = 'none';
            document.getElementById('txtSampleName').disabled='false';
            document.getElementById('txtNote').disabled='false';
       }   

 }); 

   function ValidateInput()
    {
 
        if(document.getElementById("txtSampleName").value==null || document.getElementById("txtSampleName").value=="")
        {        
            alert("Please type Sample Name!");
            $('#txtSampleName').focus();
            return false;
        }    
        return true;
    }


    function RefreshObject()
    {    
    debugger; 
        var oSampleType= {    
                        SampleTypeID : _oSampleType.SampleTypeID, 
                        Code : $("#txtCode").val(),
                        SampleName : $("#txtSampleName").val(),
                        Note : $("#txtNote").val()
                    };
        return oSampleType;
    } 

    function Save()
    {
        //debugger;
        if(!ValidateInput()) return;
        var oSampleType=RefreshObject();
        
        $.ajax({
            type: "POST",
            dataType: "json",            
            url : _sBaseAddress+  "/SampleType/Save",
            traditional: true,
            data:  JSON.stringify(oSampleType),
            contentType: "application/json; charset=utf-8",
            success: function (data) {
                //debugger;
                oSampleType = jQuery.parseJSON(data);
                if (oSampleType.SampleTypeID>0) {                    
                    alert("Data Saved sucessfully");
                    window.returnValue = oSampleType;
                    window.close();
                }
                else {
                    alert(oSampleType.ErrorMessage);
                }
            },
            error: function (xhr, status, error) {
                alert(error);
            }

        });
    }
      

    function Close()
    {
        window.close();
    }
    $(document).keydown(function(e) {    
    //debugger;
    if(e.which == 27)//escape=27
    {
        //debugger;        
        window.close();
    }
});
</script>