<html>
<head>  
   <link href="@Url.Content("~/Content/CSS/icon.css")" rel="stylesheet" type="text/css" />
    <link href="@Url.Content("~/Content/CSS/easyui.css")" rel="stylesheet" type="text/css" /> 
    <link href="@Url.Content("~/Content/CSS/Pikerstyle.css")" rel="stylesheet" type="text/css" />  

    <script src="@Url.Content("~/Scripts/jquery-1.7.1.min.js")" type="text/javascript"></script>            
    <script src="@Url.Content("~/Scripts/jquery.ics.customize.js")" type="text/javascript"></script>  
    <script src="@Url.Content("~/Scripts/jquery.easyui.min.js")" type="text/javascript"></script>    

    <script src="@Url.Content("~/Scripts/jquery-ui.min.js")" type="text/javascript"></script> 
    <script src="@Url.Content("~/Scripts/json2.js")" type="text/javascript"></script> 
</head>
<body>


@model ESimSol.BusinessObjects.OrderRecap
<div style="font-family:Tahoma">           
<table border="0" cellspacing="2" cellpadding="2">
    <tr>
        <td style="background-color:#CFB53B; text-align:center; width:1010px; color:White">
            <label id="lblHeaderName" style="font-size:15px; font-weight:bold; text-decoration:Underline">View Order Recap</label>
        </td>
    </tr>
</table>
 <div class="easyui-tabs" style="width:995px;height:515px">
     <div title="Order Info" style="padding:10px; font-size:12px; font-style:normal;">
         <fieldset>
             <table border="0" cellspacing="2" cellpadding="2" style="font-size:11px; font-weight:bold">
                 <tr>
                     <td style="width:130px; text-align:right">
                         <input type="button" style="width:100px;" onclick="StylePiker()" value="Pick Style" id="btnStyle" />
                     </td>
                     <td style="width:215px">@Html.Hidden("txtTechnicalSheetID", "", new { id = "txtTechnicalSheetID" })<input type="text" style="width: 215px;color:black" id="txtStyleNo" placeholder="Search By Style" />   </td>
                     <td style="width:5px"></td>
                     <td style="width:120px; text-align:right">
                         Order No :
                     </td>
                     <td style="width:180px; text-align:left">@Html.TextBoxFor(model => model.OrderRecapNo, new { style = "width: 180px;", id = "txtOrderRecapNo" })</td>
                     <td style="width:280px; vertical-align:bottom; text-align:right;" rowspan="10">
                         <table border="1">
                             <tr>
                                 <td style=" text-align:right;">
                                     <img id="imgCoverImage" src="@Url.Action("GetLargeImage", "TechnicalSheet", new { id = Model.TechnicalSheetID })" alt="Photo" style="width:265px; height:285px" />
                                 </td>
                             </tr>
                         </table>
                     </td>
                 </tr>

                 <tr>
                     <td style="width:130px; text-align:right">
                         Seasons :
                     </td>
                     <td style="width:215px">
                         <table border="0" cellpadding="1" cellspacing="1" style="font-size:11px; font-weight:bold">
                             <tr>
                                 <td style="width:70px">@Html.DropDownListFor(model => model.BusinessSessionID, Model.BusinessSessions.Select(x => new SelectListItem() { Text = x.SessionName, Value = x.BusinessSessionID.ToString() }), new { id = "cboSeasons", style = "width: 70px;" }) </td>
                                 <td style="width:50px; text-align:right">SL No :</td>
                                 <td style="width:95px">@Html.TextBoxFor(model => model.SLNo, new { style = "width: 95px;", id = "txtSLNo", disabled = "disabled" })</td>
                             </tr>
                         </table>
                     </td>
                     <td style="width:5px"></td>
                     <td style="width:120px; text-align:right">
                         Collection Name :
                     </td>
                     <td style="width:180px; text-align:left"> @Html.TextBoxFor(model => model.CollectionNo, new { style = "width: 180px;", id = "txtCollectionID" }) </td>
                 </tr>

                 <tr>
                     <td style="width:130px; text-align:right">
                         Product Name :
                     </td>
                     <td style="width:520px" colspan="4">
                         <input type="text" style="width: 475px;color:black" id="txtProductName" , disabled="disabled" /> <input type="button" style=" width:40px;" value="Pick" onclick="PickProduct()" id="btnProduct" />
                         @Html.HiddenFor(model => model.ProductID, new { id = "txtProductID" })
                     </td>
                 </tr>

                 <tr>
                     <td style="width:130px; text-align:right">
                         Buyer Name :
                     </td>
                     <td style="width:215px">
                         @Html.HiddenFor(model => model.BuyerID, new { id = "txtBuyerID" }) <input type="text" style="width: 215px;color:black" id="txtBuyerName" , disabled="disabled" />
                 </td>
                 <td style="width:5px"></td>
                 <td style="width:120px; text-align:right">
                     Contact Person :
                 </td>
                 <td style="width:180px; text-align:left"><select id="cboContactPersonnels" style="width:129px;font-size:12px;" /><input type="button" style="width:50px;" onclick="ConPersonnelPiker()" , value="New" id="btnConPersonnel" /></td>
             </tr>

             <tr>
                 <td style="width:130px; text-align:right">
                     GG :
                 </td>
                 <td style="width:215px">@Html.TextBoxFor(model => model.GG, new { style = "width: 215px;", id = "txtGG" })</td>

                 <td style="width:5px"></td>
                 <td style="width:120px; text-align:right">
                     Count :
                 </td>
                 <td style="width:180px; text-align:left">@Html.TextBoxFor(model => model.Count, new { style = "width: 180px;", id = "txtCount" })</td>
             </tr>

             <tr>
                 <td style="width:130px; text-align:right">
                     Order Date :
                 </td>
                 <td style="width:215px"><input id="txtOrderDate" type="text" class="easyui-datebox" required="required" data-options="formatter:icsdateformat,parser:icsdateparser" style="width:215px" /></td>

                 <td style="width:5px"></td>
                 <td style="width:120px; text-align:right">
                     Shipment Date :
                 </td>
                 <td style="width:180px; text-align:left"><input id="txtShipmentDate" type="text" class="easyui-datebox" required="required" data-options="formatter:icsdateformat,parser:icsdateparser" style="width:180px" /></td>
             </tr>

             <tr>
                 <td style="width:130px; text-align:right">
                     Board Date:
                 </td>
                 <td style="width:215px">
                     <input id="txtBoardDate" type="text" class="easyui-datebox" required="required" data-options="formatter:icsdateformat,parser:icsdateparser" style="width:215px" />
                 </td>
                 <td style="width:5px"></td>
                 <td style="width:120px; text-align:right">
                     Factory Shipment :
                 </td>
                 <td style="width:180px; text-align:left"><input id="txtFactoryShipmentDate" type="text" class="easyui-datebox" required="required" data-options="formatter:icsdateformat,parser:icsdateparser" style="width:180px" /></td>
             </tr>

             <tr>
                 <td style="width:130px; text-align:right">
                     Tranport Type :
                 </td>
                 <td style="width:215px">@Html.DropDownList("TransportType", new SelectList(Enum.GetValues(typeof(ESimSol.BusinessObjects.EnumTransportType))), new { id = "cboTransportType", style = "width: 215px;" })</td>

                 <td style="width:5px"></td>
                 <td style="width:120px; text-align:right">
                     Weight :
                 </td>
                 <td style="width:180px; text-align:left">@Html.TextBoxFor(model => model.Weight, new { style = "width: 180px;", id = "txtWeight" })</td>
             </tr>
             <tr>
                 <td style="width:130px; text-align:right">
                     Merchandiser :
                 </td>
                 <td style="width:215px"><select id="cboMerchandiserID" style="width:215px;" /></td>

                 <td style="width:5px"></td>
                 <td style="width:120px; text-align:right">
                     Currency :
                 </td>
                 <td style="width:180px; text-align:left">@Html.DropDownListFor(m => m.CurrencyID, Model.CurrencyList.Select(x => new SelectListItem() { Text = x.CurrencyName, Value = x.CurrencyID.ToString() }), new { id = "ddlCurrency", style = "width: 180px;", @class = "_select_change" }) </td>
             </tr>

             <tr>
                 <td style="width:130px; text-align:right">
                     Production Factory:
                 </td>
                 <td style="width:215px">
                     @Html.HiddenFor(model => model.ProductionFactoryID, new { id = "txtProductionFactoryID" })
                     @Html.TextBoxFor(model => model.FactoryName, new { style = "width:173px;", placeholder = "Type Factory & Press Enter", id = "txtFactoryName" })
                     <input type="button" style="width:38px;" onclick="PickProductionFactory()" value="Pick" id="btnProductionFactory" />
                 </td>

                 <td style="width:5px"></td>
                 <td style="width:120px; text-align:right">
                     Payment Term:
                 </td>
                 <td style="width:180px; text-align:left">
                     <select id="cboPaymentTerm" style="width: 180px;">
                         <option value="None">None</option>
                         <option value="LC At Site">LC At Site</option>
                         <option value="LC 30 day">LC 30 day</option>
                         <option value="LC 45 day">LC 45 day</option>
                         <option value="LC 60 days">LC 60 days</option>
                         <option value="LC 90 days">LC 90 days</option>
                         <option value="TT Advance">TT Advance</option>
                         <option value="TT After BL">TT After BL</option>
                         <option value="DP">DP</option>
                         <option value="LC 120 Days">LC 120 Days</option>
                     </select>
                 </td>
             </tr>

             <tr>
                 <td style="width:130px; text-align:right">
                     Local Yarn Supplier :
                 </td>
                 <td style="width:215px">
                     @Html.HiddenFor(model => model.LocalYarnSupplierID, new { id = "txtLocalYarnSupplierID" })
                     @Html.TextBoxFor(model => model.LocalYarnSupplierName, new { style = "width:173px;", placeholder = "Type Supplier & Press Enter", id = "txtLocalYarnSupplierName" })
                     <input type="button" style="width:38px;" onclick="PickLocalYarnSupplier()" value="Pick" id="btnLocalYarnSupplier" />
                 </td>

                 <td style="width:125px; text-align:right;" colspan="2">
                     Packing Instruction:
                 </td>
                 <td style="width:180px; text-align:left; "> @Html.TextBoxFor(model => model.PackingInstruction, new { style = "width: 180px;", id = "txtPackingInstruction" })</td>
                 <td style="width:260px; text-align:left;">
                     <table border="0" cellpadding="0" cellspacing="0" style="font-family:Tahoma; font-size:12px;">
                         <tr>
                             <td style="width:80px; text-align:right;">BarCode No:</td>
                             <td style="width:200px; text-align:left;"> @Html.TextBoxFor(model => model.BarCodeNo, new { style = "width: 196px;", id = "txtBarCodeNo" })</td>
                         </tr>
                     </table>
                 </td>
             </tr>


             <tr>
                 <td style="width:130px; text-align:right">
                     Import Yarn Supplier :
                 </td>
                 <td style="width:215px">
                     @Html.HiddenFor(model => model.ImportYarnSupplierID, new { id = "txtImportYarnSupplierID" })
                     @Html.TextBoxFor(model => model.ImportYarnSupplierName, new { style = "width:173px;", placeholder = "Type Supplier & Press Enter", id = "txtImportYarnSupplierName" })
                     <input type="button" style="width:38px;" onclick="PickImportYarnSupplier()" value="Pick" id="btnImportYarnSupplier" />
                 </td>

                 <td style="width:5px"></td>
                 <td style="width:120px; text-align:right">
                     Delivery Term:
                 </td>
                 <td style="width:180px; text-align:left; "> @Html.TextBoxFor(model => model.DeliveryTerm, new { style = "width: 180px;", id = "txtDeliveryTerm" })</td>
                 <td style="width:260px; text-align:left;">
                     <table border="0" cellpadding="0" cellspacing="0" style="font-family:Tahoma; font-size:12px;">
                         <tr>
                             <td style="width:80px; text-align:right;">Incoterms :</td>
                             <td style="width:200px; text-align:left;">@Html.DropDownList("Incoterms", new SelectList(Enum.GetValues(typeof(ESimSol.BusinessObjects.EnumIncoterms))), new { id = "cboIncoterms", style = "width: 196px;" })</td>
                         </tr>
                     </table>
                 </td>


             </tr>

             <tr>
                 <td style="width:130px; text-align:right">
                     <input type="button" style="width:100px;" value="Yarn/Fabric" onclick="FabricPiker()" id="btnFabric" />
                 </td>
                 <td style="width:215px">
                     @Html.TextBox("txtFabricName", "", new { style = "width: 215px", id = "txtFabricName" })
                     @Html.HiddenFor(model => model.FabricID, new { style = "width: 160px;", id = "txtFabricID", disabled = "disabled" })
                 </td>
                 <td style="width:5px"></td>
                 <td style="width:120px; text-align:right">
                     Assortment:
                 </td>
                 <td style="width:460px; text-align:left; " colspan="2"> @Html.TextBoxFor(model => model.Assortment, new { style = "width: 460px;", id = "txtAssortment" })</td>

             </tr>
             <tr>
                 <td style="width:130px; text-align:right">
                     <input type="button" style="width:100px;" value="Pick Agent" onclick="AgentPiker()" id="btnAgent" />
                 </td>
                 <td style="width:215px">
                     @Html.TextBox("txtAgentName", "", new { style = "width: 215px", id = "txtAgentName", disabled = "disabled" })
                     @Html.HiddenFor(model => model.AgentID, new { style = "width: 215px;", id = "txtAgentID", disabled = "disabled" })
                 </td>
                 <td style="width:5px"></td>
                 <td style="width:120px; text-align:right">
                     Special Finish :
                 </td>
                 <td style="width:460px; text-align:left; " colspan="2">
                     @Html.TextBoxFor(model => model.SpecialFinish, new { style = "width: 460px;", id = "txtSpecialFinish" })
                 </td>
             </tr>
             <tr>
                 <td style="width:130px; text-align:right">
                     Required Sample:
                 </td>
                 <td style="width:215px">
                     @Html.TextBoxFor(model => model.RequiredSample, new { style = "width: 215px;", id = "txtRequiredSample" })
                 </td>
                 <td style="width:5px"></td>
                 <td style="width:120px; text-align:right">
                     Remarks:
                 </td>
                 <td style="width:460px; text-align:left; " colspan="2"> @Html.TextBoxFor(model => model.Description, new { style = "width: 460px;", id = "txtDescription" })</td>
             </tr>

         </table>
     </fieldset>
 </div>

     <div id="divsizeBreakDowns" title="Size BreakDown & Yarn Details" style="padding:10px; font-size:12px; font-style:normal;">
         <div style="margin-left:2px; height:245px">
             <table id="tblColorSizeWiseRatio" title="Order Recap Details Information" class="easyui-datagrid" style="width:970px;height:245px"
                    data-options="singleSelect: true, fitColumns:false, rownumbers:true,pagination:false,autoRowHeight:false,toolbar:'#toolbar', showFooter: true,onClickRow: onClickRow"></table>
             <div id="toolbar">
                 <table border="0" cellpadding="0" cellspacing="0" style="font-size:12px">
                     <tr style="height:20px">
                         <td style="width:50px"><a href="javascript:void(0)" class="easyui-linkbutton" iconcls="icon-reload" plain="true" onclick="RefreshOrderRecapDetail()">Refresh</a></td>
                         <td style="width:50px"><a id="btnAdd" href="javascript:void(0)" class="easyui-linkbutton" iconcls="icon-add" plain="true" onclick="Add()">Add</a></td>
                         <td style="width:50px"><a id="btnDelete" href="javascript:void(0)" class="easyui-linkbutton" iconcls="icon-remove" plain="true" onclick="Delete()">Delete</a> </td>
                         <td style="width:170px"> </td>
                         <td style="width:60px; text-align:right">Unit :</td>
                         <td style="width:120px">@Html.DropDownListFor(model => model.Units, Model.Units.Select(x => new SelectListItem() { Text = x.UnitName, Value = x.MeasurementUnitID.ToString() }), new { id = "cboMeasurementUnitID", style = "width: 120px;" })</td>
                         <td style="width:110px; text-align:right"><label id="tdUnitPrice"> Unit  Price :<label id="lblDisplaySymbol1"></label></label> </td>
                         <td style="width:100px"><input type="text" class="easyui-numberbox" data-options="min:0,precision:3" style="width: 100px; text-align:right" id="txtUnitPrice" /></td>
                         <td style="width:110px; text-align:right"><label id="tdTotalUnitPrice">Total Price :<label id="lblDisplaySymbol2"> </label></label> </td>
                         <td style="width:100px"><input type="text" class="easyui-numberbox" data-options="min:0,precision:3,disabled:true" style="width: 100px; text-align:right" id="txtTotalPrice" /></td>
                     </tr>
                 </table>
             </div>
         </div>

         <table border="0" cellpadding="0" cellspacing="0">
             <tr>
                 <td>
                     <div id="divTotalSummary" style="font-size:12; height:22px; width:980px; overflow:auto">
                         <b>Total : </b>
                     </div>
                 </td>
             </tr>
         </table>

         <div style="margin-left:3px; margin-top:2px;">
             <table id="tblRecapYarn" class="easyui-datagrid" title="Yarn Detailse" style="width:970px;height:170px" fitcolumns="false" rownumbers="true" pagination="false" singleselect="true" autorowheight="false" toolbar="#RecapYarnstoolbar">
                 <thead>
                     <tr>
                         <th field="YarnCode" width="150">Yarn Code</th>
                         <th field="YarnName" width="400">Yarn Name</th>
                         <th field="YarnPly" width="250">Yarn Ply</th>
                     </tr>
                 </thead>
             </table>
             <div id="RecapYarnstoolbar" style="text-align:left; font-weight:normal">
              
             </div>


         </div>
     </div>
     <div title="Assortment" style="padding:10px; font-size:12px; font-style:normal;">
         <div style="margin-left:2px; height:430px">
             <table id="tblColorSizeAssortment" title="Color Size  Assortment" class="easyui-datagrid" style="width:970px;height:430px"
                    data-options="singleSelect: true, fitColumns:false, rownumbers:true,pagination:false,autoRowHeight:false,toolbar:'#toolbarAssortment', showFooter: true,onClickRow: onClickRowAssortment"></table>
             <div id="toolbarAssortment">
                 <table border="0" cellpadding="0" cellspacing="0" style="font-size:12px">
                     <tr style="height:20px">
                         <td style="width:150px"> </td>
                         <td style="width:80px; text-align:right">Carton Qty :</td>
                         <td style="width:120px">@Html.TextBoxFor(model => model.CartonQty, new { style = "width:100px;", id = "txCartonQty" })</td>
                     </tr>
                 </table>
             </div>
         </div>
         <table border="0" cellpadding="0" cellspacing="0">
             <tr>
                 <td>
                     <div id="divTotalAssortmentSummary" style="font-size:12; height:22px; width:980px; overflow:auto">
                         <b>Total : </b>
                     </div>
                 </td>
             </tr>
         </table>
     </div>
</div>
<fieldset>
 <legend style="font-weight: bold">Action : </legend>
        <table border="0" cellspacing="2" cellpadding="2" style="font-size: 11px; width: 100%;font-weight: bold; font-size: 12">
                <tr>
                            <td style="width:160px; text-align:right">                                
                            </td>
                            <td style="width:300px; text-align:right">
                                <a href="javascript:void(0)" class="easyui-linkbutton" iconCls="icon-cancel" plain="true" onclick="Close()">Close</a>
                            </td>                
                        </tr>
        </table>

</fieldset>
</body>
</html>

<script type="text/javascript"> 
 var _oOrderRecap;   
 var  _oContactParsonnel=[];     
 var _oSelectedStyle=null;
 var _sBaseAddress='';           
 var _oCurrencyList =[];
 var _oTechnicalSheetSizes=[]; 
 var _oColorSizeRations=[];
 var _oSelectedYarn=null;
 var _oAuthorizationRolesMapping =[];
 var _oAssortmentColorSizeRatios = [];
 var _sParamName = "";
 var _sEntryWindow="";
 $(document).ready(function () {    
        _sBaseAddress =@Html.Raw(new System.Web.Script.Serialization.JavaScriptSerializer().Serialize(HttpContext.Current.Session[SessionInfo.BaseAddress]));  
        _oOrderRecap =@Html.Raw(new System.Web.Script.Serialization.JavaScriptSerializer().Serialize(Model));        
        var oOrderRecapYarns=@Html.Raw(new System.Web.Script.Serialization.JavaScriptSerializer().Serialize(Model.OrderRecapYarns));
        var oEmployees=@Html.Raw(new System.Web.Script.Serialization.JavaScriptSerializer().Serialize(Model.Employees));
     _oColorSizeRations=@Html.Raw(new System.Web.Script.Serialization.JavaScriptSerializer().Serialize(Model.ColorSizeRatios));
     _oAssortmentColorSizeRatios = @Html.Raw(new System.Web.Script.Serialization.JavaScriptSerializer().Serialize(Model.AssortmentColorSizeRatios));
        _oTechnicalSheetSizes=@Html.Raw(new System.Web.Script.Serialization.JavaScriptSerializer().Serialize(Model.TechnicalSheetSizes));
        _oAuthorizationRolesMapping =@Html.Raw( new System.Web.Script.Serialization.JavaScriptSerializer().Serialize(HttpContext.Current.Session[SessionInfo.AuthorizationRolesMapping]));  
        
        RefreshcboEmployee(oEmployees);
        var oAttachmentList=@Html.Raw(new System.Web.Script.Serialization.JavaScriptSerializer().Serialize(Model.OrderRecapPackingPolicyList));
        _oCurrencyList=@Html.Raw(new System.Web.Script.Serialization.JavaScriptSerializer().Serialize(Model.CurrencyList));                
        var obj = window.dialogArguments;
        debugger;
        
        document.getElementById('lblHeaderName').innerHTML=obj.Name;
        $('#txtOrderDate').datebox('setValue', _oOrderRecap.OrderDateInString);
        $('#txtShipmentDate').datebox('setValue', _oOrderRecap.ShipmentDateInString);   
        $('#txtBoardDate').datebox('setValue', _oOrderRecap.BoardDateInString); 
        _sParamName =  obj.Name;
        _sEntryWindow=obj.EntryWindow;        
        document.getElementById('btnAdd').style.display = 'none';
        document.getElementById('btnDelete').style.display='none';
        document.getElementById('ddlCurrency').disabled= true;
        document.getElementById("btnStyle").disabled = true;
        document.getElementById("btnProductionFactory").disabled = true;
        document.getElementById("btnFabric").disabled = true;
        document.getElementById("btnAgent").disabled = true;
        document.getElementById("btnConPersonnel").disabled = true;
        $("#txtOrderRecapNo").attr("disabled", "disabled");
        $("#cboContactPersonnels").attr("disabled", "disabled");
        $("#txtCollectionID").attr("disabled", "disabled");
        $("#cboSeasons").attr("disabled", "disabled");           
        $("#txtOrderDate").attr("disabled", "disabled");
        $("#txtShipmentDate").attr("disabled", "disabled"); 
        $("#cboMerchandiserID").attr("disabled", "disabled");  
        $("#cboTransportType").attr("disabled", "disabled");
        $("#cboIncoterms").attr("disabled", "disabled"); 
        $("#txtDemandQuantity").attr("disabled", "disabled"); 
        $("#txtBoardDate").attr("disabled", "disabled");                   
        $("#txtDescription").attr("disabled", "disabled");
        $("#txtGG").attr("disabled", "disabled");
        $("#txtCount").attr("disabled", "disabled");
        $("#txtSpecialFinish").attr("disabled", "disabled");
        $("#txtWeight").attr("disabled", "disabled");
        $("#cboPaymentTerm").attr("disabled", "disabled");
        $("#txtPackingInstruction").attr("disabled", "disabled");
        $("#txtDeliveryTerm").attr("disabled", "disabled");
        $("#txtAssortment").attr("disabled", "disabled");
        $("#txtRequiredSample").attr("disabled", "disabled");
        $("#btnProduct").attr("disabled", "disabled");
        $('#cboPaymentTerm').val(_oOrderRecap.PaymentTerm);
        var txtFabricName=document.getElementById("txtFabricName");                             
        txtFabricName.value=_oOrderRecap.FabricName;
        txtFabricName.style.color="blue";
        txtFabricName.style.fontWeight="bold";
        var txtFactoryName=document.getElementById("txtFactoryName");                             
        txtFactoryName.value=  _oOrderRecap.FactoryName;
        txtFactoryName.style.color="blue";
        txtFactoryName.style.fontWeight="bold";
        document.getElementById("txtFabricID").value=  _oOrderRecap.FabricID;
        if(parseInt(_oOrderRecap.LocalYarnSupplierID)>0)
        {
            var txtLocalYarnSupplierName=document.getElementById("txtLocalYarnSupplierName");                             
            txtLocalYarnSupplierName.value=  _oOrderRecap.LocalYarnSupplierName;
            txtLocalYarnSupplierName.style.color="blue";
            txtLocalYarnSupplierName.style.fontWeight="bold";                            
        }
        document.getElementById("txtLocalYarnSupplierID").value=  _oOrderRecap.LocalYarnSupplierID;
        if(parseInt(_oOrderRecap.ImportYarnSupplierID)>0)
        {
            var txtImportYarnSupplierName=document.getElementById("txtImportYarnSupplierName");                             
            txtImportYarnSupplierName.value=  _oOrderRecap.ImportYarnSupplierName;
            txtImportYarnSupplierName.style.color="blue";
            txtImportYarnSupplierName.style.fontWeight="bold";                            
        }
        document.getElementById("txtImportYarnSupplierID").value=  _oOrderRecap.ImportYarnSupplierID;

        document.getElementById("txtProductName").value= _oOrderRecap.ProductName;
        document.getElementById("txtProductID").value=  _oOrderRecap.ProductID;
        document.getElementById("txtBuyerName").value= _oOrderRecap.BuyerName;
        document.getElementById("txtBuyerID").value=  _oOrderRecap.BuyerID;
        document.getElementById("txtTechnicalSheetID").value=_oOrderRecap.TechnicalSheetID;           
        document.getElementById("txtStyleNo").value=  _oOrderRecap.StyleNo;
        document.getElementById("txtAgentName").value=  _oOrderRecap.AgentName;
        $('#txtUnitPrice').numberbox('setValue', parseFloat(_oOrderRecap.UnitPrice));
        $('#cboMerchandiserID').val(_oOrderRecap.MerchandiserID);
        var nBuyerID= _oOrderRecap.BuyerID;
        GetContactPersonnel(nBuyerID);
        RefreshStyleImage(_oOrderRecap.TechnicalSheetID);
        var scboCurrency =document.getElementById("ddlCurrency");
        var nCurrencyID = scboCurrency.options[scboCurrency.selectedIndex].value;
        for(var i =0;i<_oCurrencyList.length;i++)
        {
            if(_oCurrencyList[i].CurrencyID==nCurrencyID)
            {
                document.getElementById('lblDisplaySymbol1').innerHTML =_oCurrencyList[i].Symbol;
                document.getElementById('lblDisplaySymbol2').innerHTML =_oCurrencyList[i].Symbol;
                break;
            }
         }
         MakeOrderRecapDetailTable(_oTechnicalSheetSizes);
         RefreshList(_oColorSizeRations); 
     
         MakeORAssortmentTable(_oTechnicalSheetSizes);
         RefreshORAssortmentList(_oAssortmentColorSizeRatios);

         RefreshOrderRecapYarns(oOrderRecapYarns); 
         RefreshControlLayout(); 
 }); 

 
 
 function PickProduct()
 {
    var oParameter = new Object();
    oParameter.MultipleItemReturn = false;
    oParameter.ParentCategoryID = 3; //two is Raw material parent category Id
    var url =_sBaseAddress+"/Product/SimpleProductSearching";
    var oSelectedFinishGood= window.showModalDialog(url, oParameter, 'dialogHeight:615px;dialogWidth:652px;dialogLeft:450;dialogTop:50;center:yes;resizable:yes;status:no;scroll:no');
    debugger;
    if(oSelectedFinishGood!=null)
    {
        if(oSelectedFinishGood.ProductID>0)
        {            
            document.getElementById('txtProductName').value=oSelectedFinishGood.NameCode;
            document.getElementById("txtProductID").value=  oSelectedFinishGood.ProductID;
        }
        else
        {         
            document.getElementById('txtProductName').value='';
            document.getElementById("txtProductID").value=  0;
            
        }
    }
 }


 $('#btnPickYarn').click(function () {   
    //debugger;
    _oSelectedYarn=null;
    var oParameter = new Object();
    oParameter.MultipleItemReturn = false;
    oParameter.ParentCategoryID = 2; //two is Raw material parent category Id
    var url =_sBaseAddress+"/Product/SimpleProductSearching";
    _oSelectedYarn = window.showModalDialog(url, oParameter, 'dialogHeight:615px;dialogWidth:652px;dialogLeft:450;dialogTop:50;center:yes;resizable:yes;status:no;scroll:no');
    debugger;
    if(_oSelectedYarn!=null)
    {
        if(_oSelectedYarn.ProductID>0)
        {            
            document.getElementById('txtYarnName').value=_oSelectedYarn.ProductName;
        }
        else
        {         
            document.getElementById('txtYarnName').value='';
            _oSelectedYarn =null;
        }
    }
  }); 

function AddOrderRecapYarn()
{
    debugger;
    if(!ValidateInputOrderRecapYarn()) return;
    var oOrderRecapYarn=RefreshObjectOrderRecapYarn();
    var oOrderRecapYarns =$('#tblRecapYarn').datagrid('getRows');
    oOrderRecapYarns.push(oOrderRecapYarn);
    RefreshOrderRecapYarns(oOrderRecapYarns);   
    _oSelectedYarn=null;
    $("#txtYarnName")[0].value ='';  
}


function DeleteOrderRecapYarn()
{
    debugger;
    var oOrderRecapYarn= $('#tblRecapYarn').datagrid('getSelected');
    if (!confirm("Confirm to Delete?")) return ;
        
    if(oOrderRecapYarn==null || oOrderRecapYarn.YarnID<=0)
    {
        alert("Invalid Selection!!! please select a valid Item!");                  
        return false;
    }
    var SelectedRowIndex=$('#tblRecapYarn').datagrid('getRowIndex',oOrderRecapYarn);
    $('#tblRecapYarn').datagrid('deleteRow',SelectedRowIndex);    
}

function ValidateInputOrderRecapYarn()
{
    if(_oSelectedYarn==null)
    {
        alert("Please Select Yarn/Fabrics!.");        
        return false;
    }

    if(_oSelectedYarn.ProductID<=0)
    {
        alert("Please Select Yarn/Fabrics!.");        
        return false;
    }

    var oOrderRecapYarns=$('#tblRecapYarn').datagrid('getRows');    
    for(var i=0; i<oOrderRecapYarns.length; i++)
    {
        if(oOrderRecapYarns[i].YarnID==_oSelectedYarn.ProductID)        
        {        
            alert("Your selected Yarn/Fabric already exists!.");        
            return false;
        }
    }
    return true;
}


function RefreshObjectOrderRecapYarn()
{

    var oOrderRecapYarn={
                            OrderRecapYarnID : 0,
                            OrderRecapID : _oOrderRecap.OrderRecapID,
                            YarnID : _oSelectedYarn.ProductID,
                            YarnCode : _oSelectedYarn.ProductCode,
                            YarnName : _oSelectedYarn.ProductName,
                            YarnPly :$("#txtYarnPly").val()                                    
                        };
    return oOrderRecapYarn;
}


 function PickProductionFactory(){
   // debugger;
    var oParameter = new Object();
    oParameter.MultipleItemReturn = false;
    oParameter.ContractorType="3";
    var url = _sBaseAddress+"/Contractor/ContractorSearch";
    var oSelectedContractor = window.showModalDialog(url, oParameter, 'dialogHeight:420px;dialogWidth:455px;dialogLeft:400;dialogTop:100;center:yes;resizable:no;status:no;scroll:no');
   // debugger;
    if(oSelectedContractor!=null)
    {
        if(oSelectedContractor.ContractorID>0)
        {
            var txtFactoryName=document.getElementById("txtFactoryName");                             
            txtFactoryName.value=  oSelectedContractor.Name;
            txtFactoryName.style.color="blue";
            txtFactoryName.style.fontWeight="bold";
            document.getElementById("txtProductionFactoryID").value=  oSelectedContractor.ContractorID;
        }
        else
        {
            document.getElementById("txtFactoryName").value=  "";
            document.getElementById("txtProductionFactoryID").value=  "";
        }
    }     
 }

 function PickLocalYarnSupplier(){
     // debugger;
     var oParameter = new Object();
     oParameter.MultipleItemReturn = false;
     oParameter.ContractorType="1";
     var url = _sBaseAddress+"/Contractor/ContractorSearch";
     var oSelectedContractor = window.showModalDialog(url, oParameter, 'dialogHeight:420px;dialogWidth:455px;dialogLeft:400;dialogTop:100;center:yes;resizable:no;status:no;scroll:no');
     // debugger;
     if(oSelectedContractor!=null)
     {
         if(oSelectedContractor.ContractorID>0)
         {
             var txtLocalYarnSupplierName=document.getElementById("txtLocalYarnSupplierName");                             
             txtLocalYarnSupplierName.value=  oSelectedContractor.Name;
             txtLocalYarnSupplierName.style.color="blue";
             txtLocalYarnSupplierName.style.fontWeight="bold";
             document.getElementById("txtLocalYarnSupplierID").value=  oSelectedContractor.ContractorID;
         }
         else
         {
             document.getElementById("txtLocalYarnSupplierName").value=  "";
             document.getElementById("txtLocalYarnSupplierID").value=  "";
         }
     }     
 }

 function PickImportYarnSupplier(){
     // debugger;
     var oParameter = new Object();
     oParameter.MultipleItemReturn = false;
     oParameter.ContractorType="1";
     var url = _sBaseAddress+"/Contractor/ContractorSearch";
     var oSelectedContractor = window.showModalDialog(url, oParameter, 'dialogHeight:420px;dialogWidth:455px;dialogLeft:400;dialogTop:100;center:yes;resizable:no;status:no;scroll:no');
     // debugger;
     if(oSelectedContractor!=null)
     {
         if(oSelectedContractor.ContractorID>0)
         {
             var txtFactoryName=document.getElementById("txtImportYarnSupplierName");                             
             txtImportYarnSupplierName.value=  oSelectedContractor.Name;
             txtImportYarnSupplierName.style.color="blue";
             txtImportYarnSupplierName.style.fontWeight="bold";
             document.getElementById("txtImportYarnSupplierID").value=  oSelectedContractor.ContractorID;
         }
         else
         {
             document.getElementById("txtImportYarnSupplierName").value=  "";
             document.getElementById("txtImportYarnSupplierID").value=  "";
         }
     }     
 }

function RefreshcboEmployee(oEmployees)
{
    $('#cboMerchandiserID').empty();
    var listEmployees= "<option value='"+0+"'>" +"--Select Merchandiser--" + "</option>";
    for (var i = 0; i < oEmployees.length; i++)
    {
        listEmployees+= "<option value='" + oEmployees[i].EmployeeID + "'>" + oEmployees[i].Name + "</option>";
    }
    $("#cboMerchandiserID").html(listEmployees);
}

function StylePiker()
{   
    //debugger;           
    var oParameter = new Object();
    oParameter.MultipleItemReturn = false;
    oParameter.Name="";
    var url = _sBaseAddress+"/OrderRecap/StyleSearchPicker";
    _oSelectedStyle = window.showModalDialog(url, oParameter, 'dialogHeight:525px;dialogWidth:663px;dialogLeft:355;dialogTop:50;center:yes;resizable:yes;status:no;scroll:no');//window.showModalDialog(url, oParameter, 'dialogHeight:550px;dialogWidth:655px;dialogLeft:400;dialogTop:100;center:yes;resizable:no;status:no;scroll:no');
    debugger;
    if(_oSelectedStyle!=null)
    {
        if(_oSelectedStyle.TechnicalSheetID>0)
        {   
            var sStyleNo= document.getElementById("txtStyleNo");
            sStyleNo.value = _oSelectedStyle.StyleNo;
            sStyleNo.style.color="blue";
            sStyleNo.style.fontWeight="bold";
            document.getElementById("txtTechnicalSheetID").value=  _oSelectedStyle.TechnicalSheetID;
            document.getElementById("txtProductName").value= _oSelectedStyle.ProductName;
            document.getElementById("txtProductID").value=  _oSelectedStyle.ProductID;
            document.getElementById("txtBuyerName").value= _oSelectedStyle.BuyerName;
            document.getElementById("txtBuyerID").value=  _oSelectedStyle.BuyerID;
            $('#cboSeasons').val(_oSelectedStyle.BusinessSessionID);
            var txtRawMaterialName=document.getElementById("txtFabricName");                             
            txtRawMaterialName.value=  _oSelectedStyle.FabricName;
            txtRawMaterialName.style.color="blue";
            txtRawMaterialName.style.fontWeight="bold";
            document.getElementById("txtFabricID").value=  _oSelectedStyle.FabricID;    
            document.getElementById("txtGG").value=  _oSelectedStyle.GG;
            document.getElementById("txtCount").value=  _oSelectedStyle.Count;
            document.getElementById("txtWeight").value=  _oSelectedStyle.Weight;
            document.getElementById("txtSpecialFinish").value=  _oSelectedStyle.SpecialFinish;        
            GetContactPersonnel(_oSelectedStyle.BuyerID);
             RefreshStyleImage(_oSelectedStyle.TechnicalSheetID);
            TechnicalSheetSize(_oSelectedStyle.TechnicalSheetID);   
            GetMeasurementUnitByProduct(_oSelectedStyle.ProductID);
           
                     
        }
    }
    else
    {
        document.getElementById("txtFabricID").value= 0;
        document.getElementById("txtFabricName").value='';
            
    }

} 

function TechnicalSheetSize(nTechnicalSheetID)
{
    //debugger;              
    var oTechnicalSheet={
                            TechnicalSheetID : nTechnicalSheetID 
                        };
    $.ajax ({
            type: "POST",
            dataType: "json",            
            url : _sBaseAddress+"/OrderRecap/GetTechnicalSheetSize",
            data:  JSON.stringify(oTechnicalSheet),
            contentType: "application/json; charset=utf-8",
            success: function (data) {
                //debugger;
                var  oTechnicalSheetSizes = jQuery.parseJSON(data);                                
                if (oTechnicalSheetSizes!=null) 
                {
                    if(oTechnicalSheetSizes.length>0)
                    {
                        MakeOrderRecapDetailTable(oTechnicalSheetSizes);
                    }
                }
            },
        error: function (xhr, status, error) 
        {
            alert(error);
        }                      
    });
}

function GetContactPersonnel(nBuyerID)
{
    //debugger;
    var obj = window.dialogArguments;
    var nBuyerID =nBuyerID;
    var tsv= (new Date().getTime())/1000;
    var listItems= "<option value='"+0+"'>" +"--Select Contact Person--" + "</option>";
    $.ajax ({
            type: "GET",
            dataType: "json",            
            url : _sBaseAddress+  "/OrderRecap/GetContactPersonnel",
            data: {nBuyerID:nBuyerID, ts:tsv  },
            contentType: "application/json; charset=utf-8",
            success: function (data) {
                //debugger;
                var  oOrderRecap = jQuery.parseJSON(data);
                var oContactPersonnels=oOrderRecap.ContactPersonnelList;
                if (oContactPersonnels!=null) 
                {
                        if(oContactPersonnels.length>0)
                        {
                            for (i = 0; i < oContactPersonnels.length; i++) 
                            {
                                listItems += "<option value='" + oContactPersonnels[i].ContactPersonnelID+"'>" + oContactPersonnels[i].Name+"</option>";
                            }
                            $("#cboContactPersonnels").html(listItems);
                            if(obj.Name=="View Order Recap" || obj.Name=="Edit Order Recap" || obj.Name=="Approved Order Recap" || obj.Name=="View Sales Man Sample" || obj.Name=="Edit Sales Man Sample" || obj.Name=="Approved Sales Man Sample")
                            {
                                $('#cboContactPersonnels').val(_oOrderRecap.BuyerContactPersonID);
                            }     
                        }
                        else
                        {
                            $("#cboContactPersonnels").html(listItems);
                        }
                }
                else
                {
                    $("#cboContactPersonnels").html(listItems);
                }
            },
        error: function (xhr, status, error) 
        {
            alert(error);
        }                      
    });
}

function GetMeasurementUnitByProduct(nProductID)
{
    //debugger;              
    var oTechnicalSheet={
                            ProductID : nProductID 
                        };
    $.ajax ({
            type: "POST",
            dataType: "json",            
            url : _sBaseAddress+"/OrderRecap/GetMeasurementUnitByProduct",
            data:  JSON.stringify(oTechnicalSheet),
            contentType: "application/json; charset=utf-8",
            success: function (data) {
                //debugger;
                var  oUnits = jQuery.parseJSON(data);                                
                if (oUnits!=null) 
                {
                    if(oUnits.length>0)
                    {
                        var listItems= "<option value='"+0+"'>" +"--Select Unit--" + "</option>";
                        for (i = 0; i < oUnits.length; i++) 
                        {
                            listItems += "<option value='" + oUnits[i].MeasurementUnitID+"'>" + oUnits[i].UnitName+"</option>";
                        }
                        $("#cboMeasurementUnitID").html(listItems);
                    }
                }
            },
        error: function (xhr, status, error) 
        {
            alert(error);
        }                      
    });
}

function MakeOrderRecapDetailTable(oTechnicalSheetSizes)
{

    _oTechnicalSheetSizes=[];
    var tblColums=[];
    var oColumn=null;
    oColumn= { field :"ColorName", title:"Color Name", width:"120"}; 
    tblColums.push(oColumn);    
    var count =0;
    for(var i=0; i<oTechnicalSheetSizes.length;i++)
    {  
        count++;  
        oColumn= {
                    field:"OrderQty"+count,
                    title: oTechnicalSheetSizes[i].SizeCategoryName,
                    width: "60",
                    align: "right",                                
                    editor: {type:'numberbox',options:{ precision:0}}
                }; 
        tblColums.push(oColumn);
        _oTechnicalSheetSizes.push(oTechnicalSheetSizes[i]);
    }   
    oColumn= { field :"ColorWiseTotal", title:"Total", width:"100",  align: "right"}; 
    tblColums.push(oColumn); 
    $('#tblColorSizeWiseRatio').datagrid({ columns:[tblColums]});
    RefreshSummary(_oTechnicalSheetSizes);
}

function RefreshSummary(oTechnicalSheetSizes)
{    
    //debugger;
    var nUnitPrice = $('#txtUnitPrice').numberbox('getValue');
    var nTechnicalSheetID  =document.getElementById("txtTechnicalSheetID").value;
//    if(nTechnicalSheetID!="")
//    {
//        if(parseFloat(nUnitPrice)<=0)
//        {
//            alert('Please Enter Unit price');
//            $('#txtUnitPrice').focus();
//        }
//    }
    var sInnerHTML="<table border='0' cellspacing='2' cellpadding='2' style='font-size:11px; font-weight:bold'><tr>";
    sInnerHTML=sInnerHTML+"<td style='width:135px; text-align:right'> Total :</td>";
    var count =0;
    for(var j=0; j<oTechnicalSheetSizes.length;j++)
    {
        count++;
        sInnerHTML=sInnerHTML+"<td style='width:56px; text-align:right'>"+SizeWiseTotal(count)+"</td>";
    } 
    var nTotalQuantity=SizeWiseTotal(21);
    var nTotalValue=parseInt(nTotalQuantity)*parseFloat(nUnitPrice);
    sInnerHTML=sInnerHTML+"<td style='width:100px; text-align:right'>"+nTotalQuantity+"</td>";        
    sInnerHTML=sInnerHTML+"</tr></table>";
    //debugger;
    var divTotalSummary= document.getElementById('divTotalSummary');    
    divTotalSummary.innerHTML=sInnerHTML;
    //$("#txtTotalPrice").val(nTotalValue.toFixed(3));
    $('#txtTotalPrice').numberbox('setValue', nTotalValue);
}

function RefreshOrderRecapDetail()
{  
    debugger;
    endEditing();
    var oColorSizeWiseRatios = $('#tblColorSizeWiseRatio').datagrid('getRows');     
    data=oColorSizeWiseRatios;
    data={"total":""+data.length+"","rows":data};
    $('#tblColorSizeWiseRatio').datagrid('loadData',data); 
    RefreshSummary(_oTechnicalSheetSizes);
}

function SizeWiseTotal(n)
{
    var nSizeWiseTotal=0;
    var oColorSizeWiseRatios = $('#tblColorSizeWiseRatio').datagrid('getRows'); 
    for(var i=0; i<oColorSizeWiseRatios.length; i++)
    {
        if(n==1){nSizeWiseTotal=nSizeWiseTotal+parseInt(oColorSizeWiseRatios[i].OrderQty1);}
        else if(n==1){nSizeWiseTotal=nSizeWiseTotal+parseInt(oColorSizeWiseRatios[i].OrderQty1);}
        else if(n==2){nSizeWiseTotal=nSizeWiseTotal+parseInt(oColorSizeWiseRatios[i].OrderQty2);}
        else if(n==3){nSizeWiseTotal=nSizeWiseTotal+parseInt(oColorSizeWiseRatios[i].OrderQty3);}
        else if(n==4){nSizeWiseTotal=nSizeWiseTotal+parseInt(oColorSizeWiseRatios[i].OrderQty4);}
        else if(n==5){nSizeWiseTotal=nSizeWiseTotal+parseInt(oColorSizeWiseRatios[i].OrderQty5);}
        else if(n==6){nSizeWiseTotal=nSizeWiseTotal+parseInt(oColorSizeWiseRatios[i].OrderQty6);}
        else if(n==7){nSizeWiseTotal=nSizeWiseTotal+parseInt(oColorSizeWiseRatios[i].OrderQty7);}
        else if(n==8){nSizeWiseTotal=nSizeWiseTotal+parseInt(oColorSizeWiseRatios[i].OrderQty8);}
        else if(n==9){nSizeWiseTotal=nSizeWiseTotal+parseInt(oColorSizeWiseRatios[i].OrderQty9);}
        else if(n==10){nSizeWiseTotal=nSizeWiseTotal+parseInt(oColorSizeWiseRatios[i].OrderQty10);}
        else if(n==11){nSizeWiseTotal=nSizeWiseTotal+parseInt(oColorSizeWiseRatios[i].OrderQty11);}
        else if(n==12){nSizeWiseTotal=nSizeWiseTotal+parseInt(oColorSizeWiseRatios[i].OrderQty12);}
        else if(n==13){nSizeWiseTotal=nSizeWiseTotal+parseInt(oColorSizeWiseRatios[i].OrderQty13);}
        else if(n==14){nSizeWiseTotal=nSizeWiseTotal+parseInt(oColorSizeWiseRatios[i].OrderQty14);}
        else if(n==15){nSizeWiseTotal=nSizeWiseTotal+parseInt(oColorSizeWiseRatios[i].OrderQty15);}
        else if(n==16){nSizeWiseTotal=nSizeWiseTotal+parseInt(oColorSizeWiseRatios[i].OrderQty16);}
        else if(n==17){nSizeWiseTotal=nSizeWiseTotal+parseInt(oColorSizeWiseRatios[i].OrderQty17);}
        else if(n==18){nSizeWiseTotal=nSizeWiseTotal+parseInt(oColorSizeWiseRatios[i].OrderQty18);}
        else if(n==19){nSizeWiseTotal=nSizeWiseTotal+parseInt(oColorSizeWiseRatios[i].OrderQty19);}
        else if(n==20){nSizeWiseTotal=nSizeWiseTotal+parseInt(oColorSizeWiseRatios[i].OrderQty20);}
        else if(n==21){nSizeWiseTotal=nSizeWiseTotal+parseInt(oColorSizeWiseRatios[i].ColorWiseTotal);}
    }
    return nSizeWiseTotal;
}


 function Add()
 {    
    debugger;
    endEditing();
    var oParameter = new Object();
    var nTechnicalSheetID = document.getElementById("txtTechnicalSheetID").value;    
    if(nTechnicalSheetID==null || nTechnicalSheetID==""  || parseInt(nTechnicalSheetID)<=0)
    {
        alert("Please Select Style No");
        return;
    }    
    oParameter.name="Add Order Recap Colors for style No : "+document.getElementById("txtStyleNo").value;
    var tsv=((new Date()).getTime())/1000;
    var url =_sBaseAddress+ "/OrderRecap/ViewOrderRecapDetail?tsid="+ nTechnicalSheetID +"&ts="+tsv;
    var oTechnicalSheetColors = window.showModalDialog(url, oParameter, 'dialogHeight:400px;dialogWidth:560px;dialogLeft:320px;dialogTop:90px;center:yes;resizable:yes;status:no;scroll:no');
    debugger;
    var oColorSizeRatios=$('#tblColorSizeWiseRatio').datagrid('getRows');
    if(oTechnicalSheetColors!=null)
    {    
        if(oTechnicalSheetColors.length>0)
        {            
            var oColorSizeRatio=null;
            for(var i =0;i<oTechnicalSheetColors.length;i++)
            {
                if(!IsExists(oTechnicalSheetColors[i].ColorCategoryID))
                {
                    oColorSizeRatio={
                                        ColorID   : oTechnicalSheetColors[i].ColorCategoryID,
                                        ColorName : oTechnicalSheetColors[i].ColorName,
                                        OrderObjectID1 :0, OrderQty1 : 0, OrderObjectID2 :0, OrderQty2 :0, 
                                        OrderObjectID3 :0, OrderQty3 :0,  OrderObjectID4 :0, OrderQty4 :0,
                                        OrderObjectID5 :0, OrderQty5 :0, OrderObjectID6 :0, OrderQty6 :0,
                                        OrderObjectID7 :0, OrderQty7 :0, OrderObjectID8 :0,  OrderQty8 :0,
                                        OrderObjectID9 :0, OrderQty9 :0, OrderObjectID10 :0, OrderQty10 :0,
                                        OrderObjectID11 :0, OrderQty11 :0, OrderObjectID12 :0, OrderQty12 :0,
                                        OrderObjectID13 :0, OrderQty13 :0, OrderObjectID14 :0, OrderQty14 :0,
                                        OrderObjectID15 :0, OrderQty15 :0, OrderObjectID16 :0, OrderQty16 :0,
                                        OrderObjectID17 :0, OrderQty17 :0, OrderObjectID18 :0, OrderQty18 :0,
                                        OrderObjectID19 :0, OrderQty19 :0, OrderObjectID20 :0, OrderQty20 :0,ColorWiseTotal:0
                                    };
                    oColorSizeRatios.push(oColorSizeRatio);
                }
            }           
        }
    }
    RefreshList(oColorSizeRatios);
 }

 function IsExists(nColorID)
 {
    var oColorSizeWiseRatios = $('#tblColorSizeWiseRatio').datagrid('getRows'); 
    for(var i =0;i<oColorSizeWiseRatios.length;i++)
    {
        if(oColorSizeWiseRatios[i].ColorID==nColorID)
        {
            return true;
        }
    }

    return false;
 
 }

function RefreshOrderRecapYarns(oOrderRecapYarns)
{    
    data=oOrderRecapYarns;
    data={"total":""+data.length+"","rows":data};
    $('#tblRecapYarn').datagrid('loadData',data);      
}

function RefreshList(oColorSizeRatios)
{    
    data=oColorSizeRatios;
    data={"total":""+data.length+"","rows":data};
    $('#tblColorSizeWiseRatio').datagrid('loadData',data);  
    RefreshSummary(_oTechnicalSheetSizes);         
}

var editIndex = undefined;  
function endEditing(){  
    if (editIndex == undefined){return true}  
    if ($('#tblColorSizeWiseRatio').datagrid('validateRow', editIndex)){ 
        $('#tblColorSizeWiseRatio').datagrid('endEdit', editIndex);  
        $('#tblColorSizeWiseRatio').datagrid('selectRow',editIndex);        
        var oCSWRatio=$('#tblColorSizeWiseRatio').datagrid('getSelected');
        if(oCSWRatio!=null)
        {
            oCSWRatio.ColorWiseTotal = parseInt(oCSWRatio.OrderQty1)+parseInt(oCSWRatio.OrderQty2)+parseInt(oCSWRatio.OrderQty3)+parseInt(oCSWRatio.OrderQty4)+parseInt(oCSWRatio.OrderQty5)+parseInt(oCSWRatio.OrderQty6)+parseInt(oCSWRatio.OrderQty7)+parseInt(oCSWRatio.OrderQty8)+parseInt(oCSWRatio.OrderQty9)+parseInt(oCSWRatio.OrderQty10)+parseInt(oCSWRatio.OrderQty11)+parseInt(oCSWRatio.OrderQty12)+parseInt(oCSWRatio.OrderQty13)+parseInt(oCSWRatio.OrderQty14)+parseInt(oCSWRatio.OrderQty15)+parseInt(oCSWRatio.OrderQty16)+parseInt(oCSWRatio.OrderQty17)+parseInt(oCSWRatio.OrderQty18)+parseInt(oCSWRatio.OrderQty19)+parseInt(oCSWRatio.OrderQty20);
            $('#tblColorSizeWiseRatio').datagrid('updateRow',{index: editIndex,	row: oCSWRatio}); 
        }
        RefreshSummary(_oTechnicalSheetSizes);       
        editIndex = undefined;  
        return true;  
    } 
    else
    {  
        return false;  
    }  
}
function onClickRow(index){      
    if (editIndex != index){  
        if (endEditing())
        {  
            $('#tblColorSizeWiseRatio').datagrid('selectRow', index).datagrid('beginEdit', index);  
            editIndex = index;  
        } 
        else
        {  
            $('#tblColorSizeWiseRatio').datagrid('selectRow', editIndex);  
        }  
    }  
}  



//OR Assortment Part Start
function MakeORAssortmentTable(oTechnicalSheetSizes)
{

    _oTechnicalSheetSizes=[];
    var tblColums=[];
    var oColumn=null;
    oColumn= { field :"ColorName", title:"Color Name", width:"120"};
    tblColums.push(oColumn);
    var count =0;
    for(var i=0; i<oTechnicalSheetSizes.length;i++)
    {
        count++;
        oColumn= {
            field:"OrderQty"+count,
            title: oTechnicalSheetSizes[i].SizeCategoryName,
            width: "60",
            align: "right",
            editor: {type:'numberbox',options:{ precision:0}}
        };
        tblColums.push(oColumn);
        _oTechnicalSheetSizes.push(oTechnicalSheetSizes[i]);
    }
    oColumn= { field :"ColorWiseTotal", title:"Total", width:"100",  align: "right"};
    tblColums.push(oColumn);
    $('#tblColorSizeAssortment').datagrid({ columns:[tblColums]});
    RefreshAssortmentSummary(_oTechnicalSheetSizes);
}

function RefreshAssortmentSummary(oTechnicalSheetSizes)
{
    //debugger;
    var sInnerHTML="<table border='0' cellspacing='2' cellpadding='2' style='font-size:11px; font-weight:bold'><tr>";
    sInnerHTML=sInnerHTML+"<td style='width:135px; text-align:right'> Total :</td>";
    var count =0;
    for(var j=0; j<oTechnicalSheetSizes.length;j++)
    {
        count++;
        sInnerHTML=sInnerHTML+"<td style='width:56px; text-align:right'>"+AssortmentSizeWiseTotal(count)+"</td>";
    }
    var nTotalQuantity=AssortmentSizeWiseTotal(21);
    sInnerHTML=sInnerHTML+"<td style='width:100px; text-align:right'>"+nTotalQuantity+"</td>";
    sInnerHTML=sInnerHTML+"</tr></table>";
    //debugger;
    var divTotalSummary= document.getElementById('divTotalAssortmentSummary');
    divTotalSummary.innerHTML=sInnerHTML;

}


function AssortmentSizeWiseTotal(n)
{
    var nSizeWiseTotal=0;
    var oAssortmentColorSizeWiseRatios =  $('#tblColorSizeAssortment').datagrid('getRows');
       
    if(oAssortmentColorSizeWiseRatios .length>0)
    {
        for(var i=0; i<oAssortmentColorSizeWiseRatios .length; i++)
        {
            if( parseInt(n)==1){nSizeWiseTotal=nSizeWiseTotal+parseInt(oAssortmentColorSizeWiseRatios [i].OrderQty1);}
            else if(parseInt(n)==2){nSizeWiseTotal=nSizeWiseTotal+parseInt(oAssortmentColorSizeWiseRatios [i].OrderQty2);}
            else if(parseInt(n)==3){nSizeWiseTotal=nSizeWiseTotal+parseInt(oAssortmentColorSizeWiseRatios [i].OrderQty3);}
            else if(parseInt(n)==4){nSizeWiseTotal=nSizeWiseTotal+parseInt(oAssortmentColorSizeWiseRatios [i].OrderQty4);}
            else if(parseInt(n)==5){nSizeWiseTotal=nSizeWiseTotal+parseInt(oAssortmentColorSizeWiseRatios [i].OrderQty5);}
            else if(parseInt(n)==6){nSizeWiseTotal=nSizeWiseTotal+parseInt(oAssortmentColorSizeWiseRatios [i].OrderQty6);}
            else if(parseInt(n)==7){nSizeWiseTotal=nSizeWiseTotal+parseInt(oAssortmentColorSizeWiseRatios [i].OrderQty7);}
            else if(parseInt(n)==8){nSizeWiseTotal=nSizeWiseTotal+parseInt(oAssortmentColorSizeWiseRatios [i].OrderQty8);}
            else if(parseInt(n)==9){nSizeWiseTotal=nSizeWiseTotal+parseInt(oAssortmentColorSizeWiseRatios [i].OrderQty9);}
            else if(parseInt(n)==10){nSizeWiseTotal=nSizeWiseTotal+parseInt(oAssortmentColorSizeWiseRatios [i].OrderQty10);}
            else if(parseInt(n)==11){nSizeWiseTotal=nSizeWiseTotal+parseInt(oAssortmentColorSizeWiseRatios [i].OrderQty11);}
            else if(parseInt(n)==12){nSizeWiseTotal=nSizeWiseTotal+parseInt(oAssortmentColorSizeWiseRatios [i].OrderQty12);}
            else if(parseInt(n)==13){nSizeWiseTotal=nSizeWiseTotal+parseInt(oAssortmentColorSizeWiseRatios [i].OrderQty13);}
            else if(parseInt(n)==14){nSizeWiseTotal=nSizeWiseTotal+parseInt(oAssortmentColorSizeWiseRatios [i].OrderQty14);}
            else if(parseInt(n)==15){nSizeWiseTotal=nSizeWiseTotal+parseInt(oAssortmentColorSizeWiseRatios [i].OrderQty15);}
            else if(parseInt(n)==16){nSizeWiseTotal=nSizeWiseTotal+parseInt(oAssortmentColorSizeWiseRatios [i].OrderQty16);}
            else if(parseInt(n)==17){nSizeWiseTotal=nSizeWiseTotal+parseInt(oAssortmentColorSizeWiseRatios [i].OrderQty17);}
            else if(parseInt(n)==18){nSizeWiseTotal=nSizeWiseTotal+parseInt(oAssortmentColorSizeWiseRatios [i].OrderQty18);}
            else if(parseInt(n)==19){nSizeWiseTotal=nSizeWiseTotal+parseInt(oAssortmentColorSizeWiseRatios [i].OrderQty19);}
            else if(n==20){nSizeWiseTotal=nSizeWiseTotal+parseInt(oAssortmentColorSizeWiseRatios [i].OrderQty20);}
            else if(n==21){nSizeWiseTotal=nSizeWiseTotal+parseInt(oAssortmentColorSizeWiseRatios [i].ColorWiseTotal);}
        }
    }
    return nSizeWiseTotal;
}
 
function AddAssortmentColor()
{
    debugger;
    endEditingAssortment();
    var oParameter = new Object();
    var nTechnicalSheetID = document.getElementById("txtTechnicalSheetID").value;
    if(nTechnicalSheetID==null || nTechnicalSheetID==""  || parseInt(nTechnicalSheetID)<=0)
    {
        alert("Please Select Style No");
        return;
    }
    oParameter.name="Add Order Recap Colors for style No : "+document.getElementById("txtStyleNo").value;
    var tsv=((new Date()).getTime())/1000;
    var url =_sBaseAddress+ "/OrderRecap/ViewOrderRecapDetail?tsid="+ nTechnicalSheetID +"&ts="+tsv;
    var oTechnicalSheetColors = window.showModalDialog(url, oParameter, 'dialogHeight:400px;dialogWidth:560px;dialogLeft:320px;dialogTop:90px;center:yes;resizable:yes;status:no;scroll:no');
    debugger;
    var oAssortmentColorSizeRatios=$('#tblColorSizeAssortment').datagrid('getRows');
    if(oTechnicalSheetColors!=null)
    {
        if(oTechnicalSheetColors.length>0)
        {
            var oAssortmentColorSizeRatio=null;
            for(var i =0;i<oTechnicalSheetColors.length;i++)
            {
                if(!IsExistsAssortment(oTechnicalSheetColors[i].ColorCategoryID))
                {
                    oAssortmentColorSizeRatio={
                        ColorID   : oTechnicalSheetColors[i].ColorCategoryID,
                        ColorName : oTechnicalSheetColors[i].ColorName,
                        OrderObjectID1 :0, OrderQty1 : 0, OrderObjectID2 :0, OrderQty2 :0,
                        OrderObjectID3 :0, OrderQty3 :0,  OrderObjectID4 :0, OrderQty4 :0,
                        OrderObjectID5 :0, OrderQty5 :0, OrderObjectID6 :0, OrderQty6 :0,
                        OrderObjectID7 :0, OrderQty7 :0, OrderObjectID8 :0,  OrderQty8 :0,
                        OrderObjectID9 :0, OrderQty9 :0, OrderObjectID10 :0, OrderQty10 :0,
                        OrderObjectID11 :0, OrderQty11 :0, OrderObjectID12 :0, OrderQty12 :0,
                        OrderObjectID13 :0, OrderQty13 :0, OrderObjectID14 :0, OrderQty14 :0,
                        OrderObjectID15 :0, OrderQty15 :0, OrderObjectID16 :0, OrderQty16 :0,
                        OrderObjectID17 :0, OrderQty17 :0, OrderObjectID18 :0, OrderQty18 :0,
                        OrderObjectID19 :0, OrderQty19 :0, OrderObjectID20 :0, OrderQty20 :0,ColorWiseTotal:0
                    };
                    oAssortmentColorSizeRatios.push(oAssortmentColorSizeRatio);
                }
            }
        }
    }
    RefreshORAssortmentList(oAssortmentColorSizeRatios);
}

function IsExistsAssortment(nColorID)
{
    var oAssortmentColorSizeWiseRatios = $('#tblColorSizeAssortment').datagrid('getRows');
    for(var i =0;i<oAssortmentColorSizeWiseRatios.length;i++)
    {
        if(parseInt(oAssortmentColorSizeWiseRatios[i].ColorID) == parseInt(nColorID))
        {
            return true;
        }
    }
    return false;
}

function RefreshORAssortmentList(oAssortmentColorSizeRatios)
{
    data = oAssortmentColorSizeRatios;
    data={"total":""+data.length+"","rows":data};
    $('#tblColorSizeAssortment').datagrid('loadData',data);
    RefreshAssortmentSummary(_oTechnicalSheetSizes);
}

function DeleteAssortmentColor()
{
    debugger;
    if (!confirm("Confirm to Delete?")) return ;
    var oAssortmentColorSizeWiseRatio= $('#tblColorSizeAssortment').datagrid('getSelected');
    var SelectedRowIndex=$('#tblColorSizeAssortment').datagrid('getRowIndex',oAssortmentColorSizeWiseRatio);
    $('#tblColorSizeAssortment').datagrid('deleteRow',SelectedRowIndex);
    RefreshAssortmentSummary(_oTechnicalSheetSizes);
}

var editIndexAssortment = undefined;
function endEditingAssortment(){
    if (editIndexAssortment == undefined){return true}
    if ($('#tblColorSizeAssortment').datagrid('validateRow', editIndexAssortment)){
        $('#tblColorSizeAssortment').datagrid('endEdit', editIndexAssortment);
        $('#tblColorSizeAssortment').datagrid('selectRow',editIndexAssortment);
        var oCSWRatio=$('#tblColorSizeAssortment').datagrid('getSelected');
        if(oCSWRatio!=null)
        {
            oCSWRatio.ColorWiseTotal = parseInt(oCSWRatio.OrderQty1)+parseInt(oCSWRatio.OrderQty2)+parseInt(oCSWRatio.OrderQty3)+parseInt(oCSWRatio.OrderQty4)+parseInt(oCSWRatio.OrderQty5)+parseInt(oCSWRatio.OrderQty6)+parseInt(oCSWRatio.OrderQty7)+parseInt(oCSWRatio.OrderQty8)+parseInt(oCSWRatio.OrderQty9)+parseInt(oCSWRatio.OrderQty10)+parseInt(oCSWRatio.OrderQty11)+parseInt(oCSWRatio.OrderQty12)+parseInt(oCSWRatio.OrderQty13)+parseInt(oCSWRatio.OrderQty14)+parseInt(oCSWRatio.OrderQty15)+parseInt(oCSWRatio.OrderQty16)+parseInt(oCSWRatio.OrderQty17)+parseInt(oCSWRatio.OrderQty18)+parseInt(oCSWRatio.OrderQty19)+parseInt(oCSWRatio.OrderQty20);
            $('#tblColorSizeAssortment').datagrid('updateRow',{index: editIndexAssortment,	row: oCSWRatio});
        }
        RefreshAssortmentSummary(_oTechnicalSheetSizes);

        editIndexAssortment = undefined;
        return true;
    }
    else
    {
        return false;
    }
}
function onClickRowAssortment(index){
    if (editIndexAssortment != index){
        if (endEditingAssortment())
        {
            $('#tblColorSizeAssortment').datagrid('selectRow', index).datagrid('beginEdit', index);
            editIndexAssortment = index;
        }
        else
        {
            $('#tblColorSizeAssortment').datagrid('selectRow', editIndex);
        }
    }
}
//OR Assortment Part End

$('._select_change').change(function () {
    ////debugger;    
    var scboCurrency =document.getElementById("ddlCurrency");
    var nCurrencyID = scboCurrency.options[scboCurrency.selectedIndex].value;
    for(var i =0;i<_oCurrencyList.length;i++)
    {
        if(_oCurrencyList[i].CurrencyID==nCurrencyID)
        {
            document.getElementById('lblDisplaySymbol1').innerHTML =_oCurrencyList[i].Symbol;
            document.getElementById('lblDisplaySymbol2').innerHTML =_oCurrencyList[i].Symbol;
            break;
        }
    }
});

function Delete()
{
   debugger; 
    if (!confirm("Confirm to Delete?")) return ;
    var oColorSizeWiseRatio= $('#tblColorSizeWiseRatio').datagrid('getSelected');
    var SelectedRowIndex=$('#tblColorSizeWiseRatio').datagrid('getRowIndex',oColorSizeWiseRatio);
    $('#tblColorSizeWiseRatio').datagrid('deleteRow',SelectedRowIndex);
    RefreshSummary(_oTechnicalSheetSizes);
}

function ConPersonnelPiker()
 {
 //debugger;
    var x = document.getElementById("txtTechnicalSheetID").value;
     if(x==null || x<=0)
        {
            alert("Please select Style!");
            return;
        }
    var nBuyerID=document.getElementById("txtBuyerID").value;
    var oParameter = new Object();
    oParameter.BuyerID=nBuyerID;
    oParameter.Name = "Add Contact Personnel";
    var tsv=((new Date()).getTime())/1000;
    var url =_sBaseAddress+ "/Contractor/ViewContactPersonnel?id="+nBuyerID+"&ts="+tsv;
     _oContactParsonnel = window.showModalDialog(url, oParameter, 'dialogHeight:520px;dialogWidth:800px;dialogLeft:290;dialogTop:100;center:yes;resizable:no;status:no;scroll:no');
    //debugger;
    $('#cboContactPersonnels').empty(); 
    var e = _oOrderRecap.BuyerID;                          
    var listItems= "";
    var listItems2= "<option value='"+0+"'>" +"--Select Contact Person--" + "</option>";

    for (var i = 0; i < _oContactParsonnel.length; i++)
       {
          listItems2+= "<option value='" + _oContactParsonnel[i].ContactPersonnelID + "'>" + _oContactParsonnel[i].Name + "</option>";
       }
    listItems=listItems2;
   $("#cboContactPersonnels").html(listItems);
   var SelectedRow=_oContactParsonnel.SelectedRow;
   var ContactPersonnelID=SelectedRow.ContactPersonnelID;
   $('#cboContactPersonnels').val(ContactPersonnelID);
 }
  function AgentPiker()
  {
        //debugger;
        var oParameter = new Object();
        oParameter.MultipleItemReturn = false;
        oParameter.ContractorType="5";
        var url = _sBaseAddress+"/Contractor/ContractorSearch";
        var oSelectedContractor = window.showModalDialog(url, oParameter, 'dialogHeight:435px;dialogWidth:450px;dialogLeft:450;dialogTop:130;center:yes;resizable:no;status:no;scroll:no');
        
        //debugger;
        if(oSelectedContractor!=null)
        {
            if(oSelectedContractor.ContractorID>0)
            {
                 document.getElementById("txtAgentID").value=  oSelectedContractor.ContractorID;
                 document.getElementById("txtAgentName").value=  oSelectedContractor.Name;
                    
            }
        }
        else
        {
            document.getElementById("txtAgentID").value= '';
            document.getElementById("txtAgentName").value='';
        }
    }

    function FabricPiker()
    {   
    //debugger;
        var oParameter = new Object();
        oParameter.MultipleItemReturn = false;
        oParameter.Name="DR";
        oParameter.RootIDs="3";
        var url = _sBaseAddress+"/Product/ProductPiker";
        var oSelectedProduct = window.showModalDialog(url, oParameter, 'dialogHeight:615px;dialogWidth:652px;dialogLeft:370;dialogTop:50;center:yes;resizable:yes;status:no;scroll:no');//window.showModalDialog(url, oParameter, 'dialogHeight:550px;dialogWidth:655px;dialogLeft:400;dialogTop:100;center:yes;resizable:no;status:no;scroll:no');
        //debugger;
        if(oSelectedProduct!=null)
        {
            if(oSelectedProduct.ProductID>0)
            {

                var txtRawMaterialName=document.getElementById("txtFabricName");                             
                txtRawMaterialName.value=  oSelectedProduct.ProductName+'['+oSelectedProduct.ProductCode+']';
                txtRawMaterialName.style.color="blue";
                txtRawMaterialName.style.fontWeight="bold";
                 document.getElementById("txtFabricID").value=  oSelectedProduct.ProductID;
            }
        }
        else
        {
            document.getElementById("txtFabricID").value= 0;
            document.getElementById("txtFabricName").value='';
            
        }
    } 
    

    function Close()
    {
        window.close();   
    }

   
   


 
function PackingPolicyPiker()
{
    //debugger;
    var oParameter = new Object(); 
    var obj = window.dialogArguments;
    if(obj.Name=="View Order Recap" || obj.Name=="View Sales Man Sample")
    {
        alert("Cann't Access This Page!!");
        return false;
    }
    var nOrderRecapID=_oOrderRecap.OrderRecapID; 
    var url =_sBaseAddress+  "/OrderRecap/AttachPackingPolicy?id="+nOrderRecapID;
    var oOrderRecap = window.showModalDialog(url, oParameter, 'dialogHeight:420px;dialogWidth:500px;dialogLeft:350;dialogTop:70;center:yes;resizable:no;status:no;scroll:no'); 
    if(oOrderRecap!=null)
    {
     document.getElementById('lblAttachNo').innerHTML="(" + oOrderRecap.length + ")";
    }
} 

    
function formatPrice(val){  
////debugger;

    if(val==null || val=="")
    {
        val=0.00;
    }
    
    val=parseFloat(val);
    var test = val.toFixed(0);
    var tests = addComma(test);
    return tests;       
} 
function addComma(nStr)
{
	nStr += '';
	x = nStr.split('.');
	x1 = x[0];
	x2 = x.length > 1 ? '.' + x[1] : '';
	var process = /(\d+)(\d{3})/;
	while (process.test(x1)) {
		x1 = x1.replace(process, '$1' + ',' + '$2');
	}
	return x1 + x2;
} 


// Search Fabric Start
$('#txtFabricName').keypress(function (e) {
    //debugger;
    var code = (e.keyCode ? e.keyCode : e.which);
    if (code == 13) {
        var txtFabricName = document.getElementById('txtFabricName').value;
        if(txtFabricName!="")
        {
            //debugger;
            var tsv=((new Date()).getTime())/1000;            
            var oParameter = new Object();
            oParameter.EnteredText=txtFabricName;            
            var url =_sBaseAddress+ "/Product/ViewProductSearch?sTemp="+txtFabricName+"&pc=4&ts="+tsv;  
            var oProduct = window.showModalDialog(url, oParameter, 'dialogHeight:270px;dialogWidth:383px;dialogLeft:520;dialogTop:310;center:yes;resizable:no;status:no;scroll:no');
            
            //debugger;            
            if(oProduct !=null)
            {
                if(parseInt(oProduct.ProductID)>0)
                {
                    var txtRawMaterialName=document.getElementById("txtFabricName");                             
                    txtRawMaterialName.value= oProduct.ProductName;
                    txtRawMaterialName.style.color="blue";
                    txtRawMaterialName.style.fontWeight="bold";
                    document.getElementById("txtFabricID").value=  oProduct.ProductID;
        
                }
            }
            else
            {
                var txtRawMaterialName=document.getElementById("txtFabricName");                                     
                txtRawMaterialName.style.color="black";
                txtRawMaterialName.style.fontWeight="normal";
                document.getElementById("txtFabricID").value= 0;       
                document.getElementById("txtFabricName").value=  "";
            }           
        }
    }
});

$('#txtFabricName').keydown(function (e) {    
    var code = (e.keyCode ? e.keyCode : e.which);    
    if (code == 8) //backspace=8   
    {
        //debugger;
        var txtRawMaterialName=document.getElementById("txtFabricName");                                     
        txtRawMaterialName.style.color="black";
        txtRawMaterialName.style.fontWeight="normal";
        document.getElementById("txtFabricID").value= 0;              
    } 
});



// Search Factory Start
$('#txtFactoryName').keypress(function (e) {
    //debugger;
    var code = (e.keyCode ? e.keyCode : e.which);
    if (code == 13) {
        var txtFactoryName = document.getElementById('txtFactoryName').value;
        if(txtFactoryName!="")
        {
            //debugger;
            var tsv=((new Date()).getTime())/1000;            
            var oParameter = new Object();
            oParameter.EnteredText=txtFactoryName;            
            var url =_sBaseAddress+ "/Contractor/ViewContractorSearch?sTemp="+txtFactoryName+"&pt=3&ts="+tsv;  
            var oContractor = window.showModalDialog(url, oParameter, 'dialogHeight:270px;dialogWidth:383px;dialogLeft:520;dialogTop:310;center:yes;resizable:no;status:no;scroll:no');
            
            //debugger;            
            if(oContractor !=null)
            {
                if(parseInt(oContractor.ContractorID)>0)
                {
                    var txttBuyerName=document.getElementById("txtFactoryName");                             
                    txttBuyerName.value=oContractor.Name;
                    txttBuyerName.style.color="blue";
                    txttBuyerName.style.fontWeight="bold";
                    document.getElementById("txtProductionFactoryID").value=  oContractor.ContractorID;
                }
            }
            else
            {
                var txttBuyerName=document.getElementById("txtFactoryName");                                     
                txttBuyerName.style.color="black";
                txttBuyerName.style.fontWeight="normal";
                document.getElementById("txtProductionFactoryID").value=  0;
                document.getElementById("txtFactoryName").value=  "";
            }
          
        }
    }
});

$('#txtFactoryName').keydown(function (e) {    
    var code = (e.keyCode ? e.keyCode : e.which);    
    if (code == 8) //backspace=8   
    {
        //debugger;
        var txtFactoryName=document.getElementById("txtFactoryName");                                     
        txtFactoryName.style.color="black";
        txtFactoryName.style.fontWeight="normal";
        document.getElementById("txtProductionFactoryID").value=  0;
      
    } 
});
    // Search Factory End


// Search Local Yarn Supplier Start
$('#txtLocalYarnSupplierName').keypress(function (e) {
    //debugger;
    var code = (e.keyCode ? e.keyCode : e.which);
    if (code == 13) {
        var txtLocalYarnSupplierName = document.getElementById('txtLocalYarnSupplierName').value;
        if(txtLocalYarnSupplierName!="")
        {
            //debugger;
            var tsv=((new Date()).getTime())/1000;            
            var oParameter = new Object();
            oParameter.EnteredText=txtLocalYarnSupplierName;            
            var url =_sBaseAddress+ "/Contractor/ViewContractorSearch?sTemp="+txtLocalYarnSupplierName+"&pt=1&ts="+tsv;  
            var oContractor = window.showModalDialog(url, oParameter, 'dialogHeight:270px;dialogWidth:383px;dialogLeft:520;dialogTop:310;center:yes;resizable:no;status:no;scroll:no');
            
            //debugger;            
            if(oContractor !=null)
            {
                if(parseInt(oContractor.ContractorID)>0)
                {
                    var txtLocalYarnSupplierName=document.getElementById("txtLocalYarnSupplierName");                             
                    txtLocalYarnSupplierName.value=oContractor.Name;
                    txtLocalYarnSupplierName.style.color="blue";
                    txtLocalYarnSupplierName.style.fontWeight="bold";
                    document.getElementById("txtLocalYarnSupplierID").value=  oContractor.ContractorID;
                }
            }
            else
            {
                var txtLocalYarnSupplierName=document.getElementById("txtLocalYarnSupplierName");                                     
                txtLocalYarnSupplierName.style.color="black";
                txtLocalYarnSupplierName.style.fontWeight="normal";
                document.getElementById("txtLocalYarnSupplierID").value=  0;
                document.getElementById("txtLocalYarnSupplierName").value=  "";
            }
          
        }
    }
});

$('#txtLocalYarnSupplierName').keydown(function (e) {    
    var code = (e.keyCode ? e.keyCode : e.which);    
    if (code == 8) //backspace=8   
    {
        //debugger;
        var txtLocalYarnSupplierName=document.getElementById("txtLocalYarnSupplierName");                                     
        txtLocalYarnSupplierName.style.color="black";
        txtLocalYarnSupplierName.style.fontWeight="normal";
        document.getElementById("txtLocalYarnSupplierID").value=  0;
      
    } 
});
    // Search Local Yarn Supplier End


// Search Import Yarn Supplier Start
$('#txtImportYarnSupplierName').keypress(function (e) {
    //debugger;
    var code = (e.keyCode ? e.keyCode : e.which);
    if (code == 13) {
        var txtImportYarnSupplierName = document.getElementById('txtImportYarnSupplierName').value;
        if(txtImportYarnSupplierName!="")
        {
            //debugger;
            var tsv=((new Date()).getTime())/1000;            
            var oParameter = new Object();
            oParameter.EnteredText=txtImportYarnSupplierName;            
            var url =_sBaseAddress+ "/Contractor/ViewContractorSearch?sTemp="+txtImportYarnSupplierName+"&pt=1&ts="+tsv;  
            var oContractor = window.showModalDialog(url, oParameter, 'dialogHeight:270px;dialogWidth:383px;dialogLeft:520;dialogTop:310;center:yes;resizable:no;status:no;scroll:no');
            
            //debugger;            
            if(oContractor !=null)
            {
                if(parseInt(oContractor.ContractorID)>0)
                {
                    var txtImportYarnSupplierName=document.getElementById("txtImportYarnSupplierName");                             
                    txtImportYarnSupplierName.value=oContractor.Name;
                    txtImportYarnSupplierName.style.color="blue";
                    txtImportYarnSupplierName.style.fontWeight="bold";
                    document.getElementById("txtImportYarnSupplierID").value=  oContractor.ContractorID;
                }
            }
            else
            {
                var txtImportYarnSupplierName=document.getElementById("txtImportYarnSupplierName");                                     
                txtImportYarnSupplierName.style.color="black";
                txtImportYarnSupplierName.style.fontWeight="normal";
                document.getElementById("txtImportYarnSupplierID").value=  0;
                document.getElementById("txtImportYarnSupplierName").value=  "";
            }
          
        }
    }
});

$('#txtImportYarnSupplierName').keydown(function (e) {    
    var code = (e.keyCode ? e.keyCode : e.which);    
    if (code == 8) //backspace=8   
    {
        //debugger;
        var txtImportYarnSupplierName=document.getElementById("txtImportYarnSupplierName");                                     
        txtImportYarnSupplierName.style.color="black";
        txtImportYarnSupplierName.style.fontWeight="normal";
        document.getElementById("txtImportYarnSupplierID").value=  0;
      
    } 
});
// Search Import Yarn End


// Search yarn Catagory  Start
$('#txtYarnName').keypress(function (e) {
    //debugger;
    var code = (e.keyCode ? e.keyCode : e.which);
    if (code == 13) {
        var txtYarnName = document.getElementById('txtYarnName').value;
        if(txtYarnName!="")
        {
            //debugger;
            var tsv=((new Date()).getTime())/1000;            
            var oParameter = new Object();
            oParameter.EnteredText=txtYarnName;            
            var url =_sBaseAddress+ "/Product/ViewProductSearch?sTemp="+txtYarnName+"&pc=4&ts="+tsv;  
            var oProduct = window.showModalDialog(url, oParameter, 'dialogHeight:270px;dialogWidth:383px;dialogLeft:520;dialogTop:310;center:yes;resizable:no;status:no;scroll:no');
            
            //debugger;            
            if(oProduct !=null)
            {
                if(parseInt(oProduct.ProductID)>0)
                {
                    var txtYarnName=document.getElementById("txtYarnName");                             
                    txtYarnName.value=oProduct.ProductName;
                    txtYarnName.style.color="blue";
                    txtYarnName.style.fontWeight="bold";
                    _oSelectedYarn = oProduct;
                }
            }
            else
            {
                var txtYarnName=document.getElementById("txtYarnName");                                     
                txtYarnName.style.color="black";
                txtYarnName.style.fontWeight="normal";
                _oTechnicalSheet.YarnCategoryID=  0;       
                _oSelectedYarn = null;
            }           
        }
    }
});

$('#txtYarnName').keydown(function (e) {    
    var code = (e.keyCode ? e.keyCode : e.which);    
    if (code == 8) //backspace=8   
    {
        //debugger;
        var txtYarnName=document.getElementById("txtYarnName");                                     
        txtYarnName.style.color="black";
        txtYarnName.style.fontWeight="normal";
        _oSelectedYarn = null;            
    } 
});
// Search Fabric End




  

// Search Style Start
$('#txtStyleNo').keypress(function (e) {
    //debugger;
    var code = (e.keyCode ? e.keyCode : e.which);
    if (code == 13) {
        var txtStyleNo = document.getElementById('txtStyleNo').value;
        if(txtStyleNo!="")
        {
            //debugger;
            var tsv=((new Date()).getTime())/1000;            
            var oParameter = new Object();
            oParameter.EnteredText=txtStyleNo;            
            var url =_sBaseAddress+ "/TechnicalSheet/ViewStyleSearch?sTempStyle="+txtStyleNo+"&ts="+tsv;  
            var oTechnicalSheet= window.showModalDialog(url, oParameter, 'dialogHeight:270px;dialogWidth:383px;dialogLeft:520;dialogTop:310;center:yes;resizable:no;status:no;scroll:no');
            
            debugger;            
            if(oTechnicalSheet !=null)
            {
                if(parseInt(oTechnicalSheet.TechnicalSheetID)>0)
                {
                    var txtStyleNo=document.getElementById("txtStyleNo");                             
                    txtStyleNo.value=oTechnicalSheet.StyleNo;
                    txtStyleNo.style.color="blue";
                    txtStyleNo.style.fontWeight="bold";
                    document.getElementById("txtTechnicalSheetID").value=  oTechnicalSheet.TechnicalSheetID;
                    document.getElementById("txtProductName").value= oTechnicalSheet.ProductName;
                    document.getElementById("txtProductID").value=  oTechnicalSheet.ProductID;
                    document.getElementById("txtBuyerName").value= oTechnicalSheet.BuyerName;
                    document.getElementById("txtBuyerID").value=  oTechnicalSheet.BuyerID;
                    $('#cboSeasons').val(oTechnicalSheet.BusinessSessionID);
                    var txtRawMaterialName=document.getElementById("txtFabricName");                             
                    txtRawMaterialName.value=  oTechnicalSheet.YarnCategoryName;
                    txtRawMaterialName.style.color="blue";
                    txtRawMaterialName.style.fontWeight="bold";
                    document.getElementById("txtFabricID").value=  oTechnicalSheet.YarnCategoryID;    
                    document.getElementById("txtGG").value=  oTechnicalSheet.GG;
                    document.getElementById("txtCount").value=  oTechnicalSheet.Count;
                    document.getElementById("txtWeight").value=  oTechnicalSheet.Weight;
                    document.getElementById("txtSpecialFinish").value=  oTechnicalSheet.SpecialFinish;        
                    GetContactPersonnel(oTechnicalSheet.BuyerID);
                    RefreshStyleImage(oTechnicalSheet.TechnicalSheetID);
                    TechnicalSheetSize(oTechnicalSheet.TechnicalSheetID);   
                    GetMeasurementUnitByProduct(oTechnicalSheet.ProductID);
                }
            }
            else
            {
                var txtStyleNo=document.getElementById("txtStyleNo");                                     
                txtStyleNo.style.color="black";
                txtStyleNo.style.fontWeight="normal";
                document.getElementById("txtFabricID").value= 0;
                document.getElementById("txtFabricName").value='';
                document.getElementById("txtTechnicalSheetID").value=  0;
                document.getElementById("txtProductName").value= '';
                document.getElementById("txtProductID").value=  0;
                document.getElementById("txtBuyerName").value= '';
                document.getElementById("txtBuyerID").value=  0;
                $('#cboSeasons').val(0);
                var txtRawMaterialName=document.getElementById("txtFabricName");                             
                txtRawMaterialName.style.color="black";
                txtRawMaterialName.style.fontWeight="normal";
                document.getElementById("txtFabricID").value=  0;    
                document.getElementById("txtGG").value=  '';
                document.getElementById("txtCount").value=  '';
                document.getElementById("txtWeight").value=  '';
                document.getElementById("txtSpecialFinish").value=  '';        
                GetContactPersonnel(0);
                TechnicalSheetSize(0);   
                GetMeasurementUnitByProduct(0);
            }
          
        }
    }
});

$('#txtStyleNo').keydown(function (e) {    
    var code = (e.keyCode ? e.keyCode : e.which);    
    if (code == 8) //backspace=8   
    {
        //debugger;
        var txtStyleNo=document.getElementById("txtStyleNo");                                     
        txtStyleNo.style.color="black";
        txtStyleNo.style.fontWeight="normal";
        document.getElementById("txtFabricID").value= 0;
        document.getElementById("txtFabricName").value='';
        document.getElementById("txtTechnicalSheetID").value=  0;
        document.getElementById("txtProductName").value= '';
        document.getElementById("txtProductID").value=  0;
        document.getElementById("txtBuyerName").value= '';
        document.getElementById("txtBuyerID").value=  0;
        $('#cboSeasons').val(0);
        var txtRawMaterialName=document.getElementById("txtFabricName");                             
        txtRawMaterialName.style.color="black";
        txtRawMaterialName.style.fontWeight="normal";
        document.getElementById("txtFabricID").value=  0;    
        document.getElementById("txtGG").value=  '';
        document.getElementById("txtCount").value=  '';
        document.getElementById("txtWeight").value=  '';
        document.getElementById("txtSpecialFinish").value=  '';        
        GetContactPersonnel(0);
        RefreshStyleImage(0);
        TechnicalSheetSize(0);   
        GetMeasurementUnitByProduct(0);
        
    } 
});
// Search Style End





function RefreshStyleImage(nTechnicalSheetID)
{
    $.ajax({
    cache:true,
    type: "GET",
    url: "@(Url.Action("GetStyleImageInBase64", "TechnicalSheet"))",
    data: "id=" + nTechnicalSheetID,
    success: function (data) {
        //debugger;        
        $('#imgCoverImage').attr('src', "data:image/jpg;base64," + data.base64imgage );
    }
});

}


function RefreshControlLayout()
{ 
    debugger;    
    if(_sEntryWindow!="Order Recap From TS")
    {                
        if(_sParamName == "Edit Order Recap" || _sParamName == "Edit Sales Man Sample")
        {            
            //document.getElementById('tdUnitPrice').style.display = 'none';            
            //document.getElementById('tdUnitPrice').style.display = 'none';
            ////document.getElementById('txtUnitPrice').style.display = 'none'; 
            ////document.getElementById('txtTotalPrice').style.display = 'none';

            //if(HavePermission('RateView','OrderRecap'))
            //{
            //    document.getElementById('tdUnitPrice').style.display = '';                
            //    document.getElementById('tdTotalUnitPrice').style.display = '';
            //    //document.getElementById('txtUnitPrice').style.display = '';
            //    //document.getElementById('txtTotalPrice').style.display = '';                
            //}
        }
   }
}




function HavePermission(sOperationType, sDbObject)
{
    var nSessionID =@Html.Raw( new System.Web.Script.Serialization.JavaScriptSerializer().Serialize(HttpContext.Current.Session[SessionInfo.currentUserID]));
    if(nSessionID == -9) //check SuperUser 
    {
        return true;
    }else
    {
        
        for(var i =0;i<_oAuthorizationRolesMapping.length;i++)
        {
            if(_oAuthorizationRolesMapping[i].OperationTypeInString == sOperationType && _oAuthorizationRolesMapping[i].DBObjectName == sDbObject)
            return  true;
        }
        return false;
     }
}


$(document).keydown(function(e) {    
    //debugger;
    if(e.which == 27)//escape=27
    {
        //debugger;        
        window.close();
    }
});
</script>