 <html>

 <body>

     @model ESimSol.BusinessObjects.OrderRecap

     <div class="menuMainCollectionTable" id="divORD">
         <div class="easyui-panel" title="Order Recap Details" style="font-family:Tahoma;width:100%;height:88%;">
             <table border="0" cellspacing="2" cellpadding="2" style="font-size:11px; font-weight:bold">
                 <tr style="height:300px">
                     <td style="width:100%;">
                         <fieldset>
                             <legend style="font-weight:bold"> Order Recap Informations : </legend>
                             <div style="height:300px; font-size:8px; font-weight:bold">
                                 <table border="0" cellpadding="2" cellspacing="2" style="font-size:11px; font-weight:bold">
                                     <tr>
                                         <td style="width:115px">Style No</td>
                                         <td style="width:10px">:</td>
                                         <td style="width:270px">@Model.StyleNo</td>
                                     </tr>
                                     <tr>
                                         <td>Order No</td>
                                         <td>:</td>
                                         <td>@Model.OrderRecapNo</td>
                                     </tr>
                                     <tr>
                                         <td>Buyer Name</td>
                                         <td>:</td>
                                         <td>@Model.BuyerName </td>
                                     </tr>
                                     <tr>
                                         <td>Buyer C. Person</td>
                                         <td>:</td>
                                         <td>@Model.BuyerContactPerson </td>
                                     </tr>
                                     <tr>
                                         <td>Product Name</td>
                                         <td>:</td>
                                         <td>@Model.ProductName</td>
                                     </tr>
                                     <tr>
                                         <td>Yarn Content</td>
                                         <td>:</td>
                                         <td>@Model.FabricName</td>
                                     </tr>
                                     <tr>
                                         <td>Merchandiser</td>
                                         <td>:</td>
                                         <td>@Model.MerchandiserName</td>
                                     </tr>
                                     <tr>
                                         <td>Factory </td>
                                         <td>:</td>
                                         <td>@Model.FactoryName</td>
                                     </tr>
                                 </table>
                                 <br />
                                 <table border="0" cellpadding="2" cellspacing="2" style="font-size:11px; font-weight:bold">
                                     <tr>
                                         <td style="width:120px">Order Date</td>
                                         <td style="width:10px">:</td>
                                         <td style="width:115px">@Model.OrderDateInString</td>
                                         <td style="width:80px"></td>
                                         <td style="width:100px">GG/GSM</td>
                                         <td style="width:10px">:</td>
                                         <td style="width:115px">@Model.GG</td>
                                     </tr>
                                     <tr>
                                         <td>Currency</td>
                                         <td>:</td>
                                         <td>@Model.CurrencyName</td>
                                         <td></td>
                                         <td>Count/Ply</td>
                                         <td>:</td>
                                         <td>@Model.Count</td>
                                     </tr>
                                     <tr>
                                         <td>Shipment Date</td>
                                         <td>:</td>
                                         <td style="color:Red">@Model.ShipmentDateInString</td>
                                         <td></td>
                                         <td>Quantity</td>
                                         <td>:</td>
                                         <td>@Model.TotalQuantityInString</td>
                                     </tr>
                                     <tr>
                                         <td>Transport Type</td>
                                         <td>:</td>
                                         <td>@Model.TransportTypeInString</td>
                                         <td></td>
                                         <td><label id="lblUnit">Price/Unit</label></td>
                                         <td><label id="lblDisplayPriceClone">:</label></td>
                                         <td style="color:Red"><label id="lblUnitPrice"> @Model.CurrencySymbol @Model.UnitPriceInString</label></td>
                                     </tr>
                                     <tr>
                                         <td>Incoterms</td>
                                         <td>:</td>
                                         <td>@Model.Incoterms</td>
                                         <td></td>
                                         <td><label id="lbTotal">Total Value</label></td>
                                         <td><label id="lblDisplayTotalValueClone">:</label></td>
                                         <td><label id="lblTotalValue">@Model.CurrencySymbol @Model.AmountInString</label></td>
                                     </tr>
                                     <tr>
                                         <td> <label id="lblDisplayCMValueCap"> CM Value </label></td>
                                         <td><label id="lblDisplayCMValueClone">:</label></</td>
                                         <td><label id="lblDisplayCMValue">$ @Model.CMValue .00</label></td>
                                         <td></td>
                                         <td></td>
                                         <td></td>
                                         <td></td>
                                     </tr>
                                 </table>
                             </div>
                         </fieldset>
                     </td>
                     <td style="width:330px">
                         <fieldset>
                             <legend style="font-weight:bold"> Design sketches  : </legend>
                             <div style="height:300px">
                                 <img src="@Url.Action("GetLargeImage", "OrderRecap", new { id = @Model.TechnicalSheetID })" alt="@Model.StyleNo" style="width:330px; height:300px" />
                             </div>
                         </fieldset>

                     </td>

                 </tr>


                 <tr style="height:150px">
                     <td style="width:100%;">
                         <fieldset>
                             <legend style="font-weight:bold"> Order Recap Detail : </legend>
                             <table id="tblOrderRecapDetail" title="" class="easyui-datagrid" style="width:470px;height:150px"
                                    data-options="
                    singleSelect: true,
                    fitColumns:false,
                    rownumbers:true,
                    pagination:false,
                    toolbar: '#toolbar',
                    autoRowHeight:false

                "></table>

                             <table border="0" cellpadding="0" cellspacing="0" style="height:20px; width:470px; overflow:scroll;">
                                 <tr>
                                     <td>
                                         <div id="divTotalSummary" style="font-size:12; height:20px; width:470px;">
                                             <b>Total : </b>
                                         </div>
                                     </td>
                                 </tr>
                             </table>


                         </fieldset>
                     </td>
                     <td style="width:330px">
                         <fieldset>
                             <legend style="font-weight:bold"> Packing Policy : </legend>
                             <table id="tblAttachment" title="" class="easyui-datagrid" style="width:325px;height:170px"
                                    data-options="
                    singleSelect: true,
                    fitColumns:false,
                    rownumbers:true,
                    pagination:false,
                    autoRowHeight:false

                ">
                                 <thead>
                                     <tr>
                                         <th field="DocName" width="180" align="left">File Name</th>
                                         <th field="OrderRecapPackingPolicyID" width="100" align="left" formatter="FormatDounload">Action</th>
                                     </tr>
                                 </thead>
                             </table>
                         </fieldset>

                     </td>

                 </tr>
             </table>

            </div>
             <fieldset>
                 <legend style="font-weight:bold"> Action : </legend>
                 <table border="0" cellspacing="2" cellpadding="2" style="font-size:11px; font-weight:bold;width:100%">
                     <tr>
                         <td style="width:15%; text-align:right"></td>
                         <td style="width:15%; text-align:right;"><label id="lblCMValueCaption">CM Value </label> </td>
                         <td style="width:20%; text-align:left;"><input type="text" id="txtCMValue" style=" width:100%;" /></td>
                         <td style="width:10%; text-align:left;"><input type="button" id="btnUpdateCMValue" onclick="UpdatCMValue()" value="Update" style=" width:70px;" /></td>
                         <td style="width:40%; text-align:right">
                             <a href="javascript:void(0)" class="easyui-linkbutton" iconcls="icon-cancel" plain="true" onclick="Close()">Close</a>
                         </td>
                         
                     </tr>
                 </table>
             </fieldset>
         </div>
 </body>
</html>

<script type="text/javascript">  
 var _sBaseAddress="";
 $(document).ready(function () {
   debugger;     
        _sBaseAddress =@Html.Raw( new System.Web.Script.Serialization.JavaScriptSerializer().Serialize(HttpContext.Current.Session[SessionInfo.BaseAddress])); 
        var oOrderRecap =@Html.Raw(new System.Web.Script.Serialization.JavaScriptSerializer().Serialize(Model));
        @*_oAttachmentList=@Html.Raw(new System.Web.Script.Serialization.JavaScriptSerializer().Serialize(Model.OrderRecapPackingPolicyList));*@
        var oTechnicalSheetSizes =@Html.Raw(new System.Web.Script.Serialization.JavaScriptSerializer().Serialize(Model.TechnicalSheetSizes));
        var oColorSizeRatios =@Html.Raw(new System.Web.Script.Serialization.JavaScriptSerializer().Serialize(Model.ColorSizeRatios));
     var oAuthorizationRolesMapping =@Html.Raw( new System.Web.Script.Serialization.JavaScriptSerializer().Serialize(HttpContext.Current.Session[SessionInfo.AuthorizationRolesMapping]));  
     $('#divORD').data('OrderRecap',oOrderRecap);
     $('#divORD').data('TechnicalSheetSizes',oTechnicalSheetSizes);
     $('#divORD').data('AttachmentList',[]);
         MakeOrderRecapDetailTable(oTechnicalSheetSizes);
         RefreshList(oColorSizeRatios); 
        RefreshAttachmentList();    
        RefreshControlLayout(oAuthorizationRolesMapping);
        $('#txtCMValue').numberbox({min:0, precision:2 });//number box 
        $('#txtCMValue').numberbox('setValue', 0.00);
            
 }); 



 function MakeOrderRecapDetailTable(oTechnicalSheetSizes)
{

    
    var tblColums=[];
    var oColumn=null;
    oColumn= { field :"ColorName", title:"Color Name", width:"120"}; 
    tblColums.push(oColumn);    
    var count =0;
    for(var i=0; i<oTechnicalSheetSizes.length;i++)
    {  
        count++;  
        oColumn= {
                    field:"OrderQty"+count,
                    title: oTechnicalSheetSizes[i].SizeCategoryName,
                    width: "40",
                    align: "right",                                
                    editor: {type:'numberbox',options:{ precision:0}}
                }; 
        tblColums.push(oColumn);
    
    }   
    oColumn= { field :"ColorWiseTotal", title:"Total", width:"80",  align: "right"}; 
    tblColums.push(oColumn); 
    $('#tblOrderRecapDetail').datagrid({ columns:[tblColums]});
    
}



function UpdatCMValue()
{
    var nCMValue = $('#txtCMValue').numberbox('getValue');
    if(parseFloat(nCMValue)<=0)
    {
        alert("CM Value Shoule be Greater than 0");
        return;
    }
    var oOrderRecap = $('#divORD').data('OrderRecap');
     if (parseInt(oOrderRecap.OrderRecapID) > 0) 
            {

                $.ajax
                ({
                    type: "GET",
                    dataType: "json",                    
                    url : _sBaseAddress+  "/OrderRecap/UpdateCMValue",
                    data: { id: oOrderRecap.OrderRecapID, CMValue:nCMValue},
                    contentType: "application/json; charset=utf-8",
                    success: function (data) {
                        ////debugger;
                       var  oOrderRecap = jQuery.parseJSON(data);
                        if (oOrderRecap.OrderRecapID>0) 
                        {
                           alert("CM Update Successfully");
                           oOrderRecap.CMValue = oOrderRecap.CMValue;
                           $('#divORD').data('OrderRecap',oOrderRecap);
                          $("#lblDisplayCMValue")[0].value = oOrderRecap.CMValue;
                          document.getElementById('lblDisplayCMValue').innerHTML ="$ "+ oOrderRecap.CMValue+".00";
                          
                        }
                        else
                        {
                            alert(oOrderRecap.ErrorMessage);
                        }
             },
                    error: function (xhr, status, error) 
                    {
                        alert(error);
                    }
                      
                });
            }

}

function RefreshSummary(oTechnicalSheetSizes)
{    
    //debugger;
//    var nUnitPrice = $('#txtUnitPrice').numberbox('getValue');
  
    var sInnerHTML="<table border='0' cellspacing='2' cellpadding='2' style='font-size:11px; font-weight:bold'><tr>";
    sInnerHTML=sInnerHTML+"<td style='width:135px; text-align:right'> Total :</td>";
    var count =0;
    for(var j=0; j<oTechnicalSheetSizes.length;j++)
    {
        count++;
        sInnerHTML=sInnerHTML+"<td style='width:35px; text-align:right'>"+SizeWiseTotal(count)+"</td>";
    } 
    var nTotalQuantity=SizeWiseTotal(21);
    var nTotalValue=parseInt(nTotalQuantity)*parseFloat($('#divORD').data('OrderRecap').UnitPrice);
    sInnerHTML=sInnerHTML+"<td style='width:80px; text-align:right'>"+nTotalQuantity+"</td>";        
    sInnerHTML=sInnerHTML+"</tr></table>";
    //debugger;
    var divTotalSummary= document.getElementById('divTotalSummary');    
    divTotalSummary.innerHTML=sInnerHTML;
    
}


function SizeWiseTotal(n)
{
    var nSizeWiseTotal=0;
    var oColorSizeWiseRatios = $('#tblOrderRecapDetail').datagrid('getRows'); 
    for(var i=0; i<oColorSizeWiseRatios.length; i++)
    {
        if(n==1){nSizeWiseTotal=nSizeWiseTotal+parseInt(oColorSizeWiseRatios[i].OrderQty1);}
        else if(n==1){nSizeWiseTotal=nSizeWiseTotal+parseInt(oColorSizeWiseRatios[i].OrderQty1);}
        else if(n==2){nSizeWiseTotal=nSizeWiseTotal+parseInt(oColorSizeWiseRatios[i].OrderQty2);}
        else if(n==3){nSizeWiseTotal=nSizeWiseTotal+parseInt(oColorSizeWiseRatios[i].OrderQty3);}
        else if(n==4){nSizeWiseTotal=nSizeWiseTotal+parseInt(oColorSizeWiseRatios[i].OrderQty4);}
        else if(n==5){nSizeWiseTotal=nSizeWiseTotal+parseInt(oColorSizeWiseRatios[i].OrderQty5);}
        else if(n==6){nSizeWiseTotal=nSizeWiseTotal+parseInt(oColorSizeWiseRatios[i].OrderQty6);}
        else if(n==7){nSizeWiseTotal=nSizeWiseTotal+parseInt(oColorSizeWiseRatios[i].OrderQty7);}
        else if(n==8){nSizeWiseTotal=nSizeWiseTotal+parseInt(oColorSizeWiseRatios[i].OrderQty8);}
        else if(n==9){nSizeWiseTotal=nSizeWiseTotal+parseInt(oColorSizeWiseRatios[i].OrderQty9);}
        else if(n==10){nSizeWiseTotal=nSizeWiseTotal+parseInt(oColorSizeWiseRatios[i].OrderQty10);}
        else if(n==11){nSizeWiseTotal=nSizeWiseTotal+parseInt(oColorSizeWiseRatios[i].OrderQty11);}
        else if(n==12){nSizeWiseTotal=nSizeWiseTotal+parseInt(oColorSizeWiseRatios[i].OrderQty12);}
        else if(n==13){nSizeWiseTotal=nSizeWiseTotal+parseInt(oColorSizeWiseRatios[i].OrderQty13);}
        else if(n==14){nSizeWiseTotal=nSizeWiseTotal+parseInt(oColorSizeWiseRatios[i].OrderQty14);}
        else if(n==15){nSizeWiseTotal=nSizeWiseTotal+parseInt(oColorSizeWiseRatios[i].OrderQty15);}
        else if(n==16){nSizeWiseTotal=nSizeWiseTotal+parseInt(oColorSizeWiseRatios[i].OrderQty16);}
        else if(n==17){nSizeWiseTotal=nSizeWiseTotal+parseInt(oColorSizeWiseRatios[i].OrderQty17);}
        else if(n==18){nSizeWiseTotal=nSizeWiseTotal+parseInt(oColorSizeWiseRatios[i].OrderQty18);}
        else if(n==19){nSizeWiseTotal=nSizeWiseTotal+parseInt(oColorSizeWiseRatios[i].OrderQty19);}
        else if(n==20){nSizeWiseTotal=nSizeWiseTotal+parseInt(oColorSizeWiseRatios[i].OrderQty20);}
        else if(n==21){nSizeWiseTotal=nSizeWiseTotal+parseInt(oColorSizeWiseRatios[i].ColorWiseTotal);}
    }
    return nSizeWiseTotal;
}



function RefreshList(oColorSizeRatios)
{    
    data=oColorSizeRatios;
    data={"total":""+data.length+"","rows":data};
    $('#tblOrderRecapDetail').datagrid('loadData',data);  
    RefreshSummary($('#divORD').data('TechnicalSheetSizes'));         
}



function DownloadAttachment(id)
{
    window.open(_sBaseAddress+'/OrderRecap/DownloadPackingPolicy?id='+id, "_blank"); 
}

 function FormatDounload(value){   
 //debugger;                        
       var s = '<label id="lblDownload~'+value+'" style="color:Blue;cursor:pointer"  onclick="DownloadAttachment('+value+')">Download</label>';
       return s;       
}


  

    function RefreshAttachmentList()
    {   
         debugger; 
         data=$('#divORD').data('AttachmentList');
          data={"total":""+data.length+"","rows":data};
          $('#tblAttachment').datagrid('loadData',data);           
    }


function Close()
{
    window.location.href = sessionStorage.getItem("BackLink");
}


function RefreshControlLayout(oAuthorizationRolesMapping)
{
    $('#lblUnit,#lbTotal,#lblUnitPrice,#lblTotalValue').show();
    $('#lblDisplayCMValueCap,#lblDisplayCMValue,#lblCMValueCaption,#txtCMValue,#btnUpdateCMValue').show();
    
    if(!PermissionChecker('RateView','OrderRecap',oAuthorizationRolesMapping))
    {
        $('#lblUnit,#lbTotal,#lblUnitPrice,#lblTotalValue,#lblDisplayPriceClone,#lblDisplayTotalValueClone').hide();
    }
    if(!PermissionChecker('ViewCMValue','OrderRecap',oAuthorizationRolesMapping))
    {
         $('#lblDisplayCMValueCap,#lblDisplayCMValue,#lblCMValueCaption,#txtCMValue,#btnUpdateCMValue,#lblDisplayCMValueClone').hide();
    }

}


$(document).keydown(function(e) {    
    //debugger;
    if(e.which == 27)//escape=27
    {
        //debugger;        
        window.location.href = sessionStorage.getItem("BackLink");
    }
});
</script>