<html>
<head>  
    <link href="@Url.Content("~/Content/CSS/icon.css")" rel="stylesheet" type="text/css" />
    <link href="@Url.Content("~/Content/CSS/easyui.css")" rel="stylesheet" type="text/css" /> 

    <script src="@Url.Content("~/Scripts/jquery-1.7.1.min.js")" type="text/javascript"></script>            
    <script src="@Url.Content("~/Scripts/jquery.ics.customize.js")" type="text/javascript"></script>  
    <script src="@Url.Content("~/Scripts/jquery.easyui.min.js")" type="text/javascript"></script>    

    <script src="@Url.Content("~/Scripts/jquery-ui.min.js")" type="text/javascript"></script> 
    <script src="@Url.Content("~/Scripts/json2.js")" type="text/javascript"></script> 
</head>
<body>

@model ESimSol.BusinessObjects.OrderRecap
<div style="font-family:Tahoma">           
<table border="0" cellspacing="2" cellpadding="2">
    <tr>
        <td style="background-color:#CFB53B; text-align:center; width:931px; color:White">
            <label id="lblHeaderName" style="font-size:15px; font-weight:bold; text-decoration:Underline">Commercial Summery</label>
        </td>
    </tr>
</table>
    
<table border="0" cellspacing="2" cellpadding="2" style="font-size:11px; font-weight:bold">
        <tr style="height:100px">
            <td style="width:785px;">
                <fieldset>
                <legend style="font-weight:bold">Recap & LC Informations : </legend>
                <div  style="height:85px; font-size:8px; font-weight:bold">
                     <table border="0" cellpadding="2" cellspacing="2" style="font-size:11px; font-weight:bold">
                       <tr>
                            <td style="width:80px; text-align:right;">Style</td>
                            <td style="width:5px;text-align:right;">:</td>
                            <td style="width:170px;text-align:left;">@Model.StyleNo</td>
                            <td style="width:80px;text-align:right;">Buyer</td>
                            <td style="width:5px;text-align:right;">:</td>
                            <td style="width:170px;text-align:left;">@Model.BuyerName</td>
                            <td style="width:100px;text-align:right;">Factory</td>
                            <td style="width:5px;text-align:right;">:</td>
                            <td style="width:170px;text-align:left;">@Model.FactoryName</td>
                        </tr>
                      
                       <tr>
                            <td style="width:80px; text-align:right;">Product</td>
                            <td style="width:5px;text-align:right;">:</td>
                            <td style="width:170px;text-align:left;">@Model.ProductName</td>
                            <td style="width:80px;text-align:right;">Fabric</td>
                            <td style="width:5px;text-align:right;">:</td>
                            <td style="width:170px;text-align:left;">@Model.FabricName</td>
                            <td style="width:100px;text-align:right;">Merchandiser</td>
                            <td style="width:5px;text-align:right;">:</td>
                            <td style="width:170px;text-align:left;">@Model.MerchandiserName</td>
                        </tr> 

                       <tr>
                            <td style="width:80px; text-align:right;">Master LC No</td>
                            <td style="width:5px;text-align:right;">:</td>
                            <td style="width:170px;text-align:left;"><label id="lblMasterLC"></label></td>
                            <td style="width:80px;text-align:right;">Amount</td>
                            <td style="width:5px;text-align:right;">:</td>
                            <td style="width:170px;text-align:left;"><label id="lblMasterLCAmount"></label></td>
                            <td style="width:100px;text-align:right;">Approve By</td>
                            <td style="width:5px;text-align:right;">:</td>
                            <td style="width:170px;text-align:left;"><label id="lblApproveBy"></label></td>
                        </tr>

                       <tr>
                            
                            <td style="width:80px;text-align:right;">LC Date</td>
                            <td style="width:5px;text-align:right;">:</td>
                            <td style="width:170px;text-align:left;"><label id="lblMasterLCDate"></label></td>
                            <td style="width:80px;text-align:right;">Expire Date</td>
                            <td style="width:5px;text-align:right;">:</td>
                            <td style="width:170px;text-align:left;"><label id="lblMasterLCExprieDate"></label></td>
                            <td style="width:100px; text-align:right;">Shipment Date</td>
                            <td style="width:5px;text-align:right;">:</td>
                            <td style="width:170px;text-align:left;"><label id="lblMasterLCShipmentDate"></label></td>
                        </tr>


                    </table>  
                </div>                   
                </fieldset>                                     
            </td>
            <td style="width:130px">
                <fieldset>
                <legend style="font-weight:bold">Style Image: </legend>
                    <div style="height:85px">
                        <img src="@Url.Action("GetThumImage", "OrderRecap", new { id = @Model.TechnicalSheetID })" alt="@Model.StyleNo" style="width:120px; height:85px" />
                    </div>  
                </fieldset>                                                   
                    
            </td>

        </tr>    
 </table>

   <div style =" margin-top:5px; margin-left:2px;">
        <table id="tblColorSizeWiseRatio" title="Order Recap Details Information"  class="easyui-datagrid" style="width:933px;height:130px"
            data-options="                       
                singleSelect: true, 
                fitColumns:false, 
                rownumbers:true,
                pagination:false,
                autoRowHeight:false,                
                showFooter: true
            ">  
        </table>​ 
    </div>
    <div>
        <table border="0" cellpadding="0" cellspacing="0">
            <tr>
                <td>                    
                    <div id="divTotalSummary" style ="font-size:12; height:18px; width:1010px; overflow:auto">
                        <b>Total : </b>            
                    </div>
                </td>
            </tr>
        </table> 
   </div>

   <table border ="0" cellpadding ="0" cellspacing ="0">     
           <tr>
            <td style="width:466px;">
            <table id="tblB2BLC" title="Back To Back LC List" class="easyui-datagrid" style="width: 464px; height: 140px" fitcolumns="false" rownumbers="true" pagination="false" singleselect="true" autorowheight="false" toolbar="#toolbarB2B">
            <thead>
                <tr>
                    <th field="B2BLCNo" width="80"> LC No </th>
                    <th field="LCStatusInString" width="80"> Status </th>
                    <th field="IssueDateInString" width="80"> Issue Date </th>
                    <th field="ApprovedByName" width="100"> Applicant</th>
                    <th field="BeneficiaryName" width="100">Benificiary </th>
                    <th field="LCValue"  align = "right" formatter="formatPrice"   width="80"> LC Amount </th>
                </tr>  
            </thead>
         </table>​  
          <div id ="toolbarB2B" style =" font-size:12px;">
                    <input type ="button" value ="Details" onclick ="B2BLC()" style =" font-size:12px; width:70px;" />
                </div>                                                            
            </td>

            <td style="width:466px">
                
              <table id="tblPurchasePI" title="Purchase PI List" class="easyui-datagrid" style="width: 464px; height: 140px" fitcolumns="false" rownumbers="true" pagination="false" singleselect="true" autorowheight="false" toolbar="#toolbarPI">
                <thead>
                    <tr>
                        <th field="PINo" width="80"> PI No </th>
                        <th field="PIStatusInString" width="80"> Status </th>
                        <th field="SupplierName" width="100"> Supplier</th>
                        <th field="IssueDateInString" width="70"> Issue Date </th>
                        <th field="Quantity" align = "right"  formatter="formatPrice" width="70"> Quantity </th>
                        <th field="Amount"  align = "right" formatter="formatPrice"   width="70">Amount </th>
                    </tr>
                </thead>
            </table>​
             <div id ="toolbarPI" style =" font-size:12px;">
                    <input type ="button" value ="Details" onclick ="PurchasePI()" style =" font-size:12px; width:70px;" />
                </div>                                                
                    
            </td>

        </tr>      
        
           <tr style =" vertical-align: top;" >
            <td style="width:466px;  vertical-align: top;">
                
                 <table id="tblDyeingOrder" title="Dyeing Order List" class="easyui-datagrid" style="width: 464px; height: 140px;" fitcolumns="false" rownumbers="true" pagination="false" singleselect="true" autorowheight="false" toolbar="#toolbarDO">
              <thead>
                <tr>
                       <th field="DyeingOrderNo" width="80">Order No</th>  
                        <th field="SupplierName" width="100">Supplier</th>  
                        <th field="OrderDateInString"  align = "center"  width="80">Order Date</th>
                        <th field="DyeingOrderQtyInString"  align = "center"  width="100">Qty</th>
                        <th field="TotalAmount"  align = "right"  formatter="formatPrice" width="80">Amount</th>
                        
                </tr>  
            </thead>
         </table>​   
             <div id ="toolbarDO" style =" font-size:12px;">
                    <input type ="button" value ="Details" onclick ="DyeingOrder()" style =" font-size:12px; width:70px;" />
                </div>                                                          
            </td>
            <td style="width:466px;  vertical-align: top;">
                
                   <table id="tblWorkOrder" title="Work Order List" class="easyui-datagrid" style="width: 464px; height: 140px;" fitcolumns="false" rownumbers="true" pagination="false" singleselect="true" autorowheight="false" toolbar="#toolbarWO">
                <thead>
                    <tr>
                       <th field="WorkOrderNo" width="120">Order No</th>
                        <th field="WorkOrderDateInString" width="70">Order Date</th>
                        <th field="SupplierName" width="100">Supplier</th>
                        <th field="FactoryName" width="80">Factory</th>
                        <th field="AccessoriesTypeInString" width="110">Accessories Type</th>
                        <th field="OrderValue"  align = "right" formatter="formatPrice"   width="100">Value</th>
                    </tr>
                </thead>
            </table>​
                <div id ="toolbarWO" style =" font-size:12px;">
                    <input type ="button" value ="Details" onclick ="WorkOrder()" style =" font-size:12px; width:70px;" />
                </div>                                                  
                    
            </td>

        </tr>   
   </table>


<fieldset>
    <legend style="font-weight:bold; vertical-align:top;"> Action : </legend>
    <table border="0" cellspacing="0" cellpadding="1" style="font-size:11px; font-weight:bold">
        <tr>
            
            <td style="width:750px; text-align:right">             
            </td>

            <td style="width:100px">                   
            </td>
            <td style="width:50px">
                <a href="javascript:void(0)" class="easyui-linkbutton" iconCls="icon-cancel" plain="true" onclick="Close()">Close</a>
            </td>
        </tr>       
    </table>
</fieldset>
</div>
</body>
</html>

<script type="text/javascript">  
 var _sBaseAddress="";
 var _oOrderRecap ="";
 var _oMasterLC =[];
 var _oDyeingOrders = [];
 var _oWorkOrders = [];
 var _oB2BLCs = [];
 var _oPurchasePIs = [];
 var _nQuantity =0;
 var _oTechnicalSheetSizes =[];
 var _oColorSizeRatios = [];
 var _oAuthorizationRolesMapping =[];
 $(document).ready(function () {
   debugger;     
        _sBaseAddress =@Html.Raw( new System.Web.Script.Serialization.JavaScriptSerializer().Serialize(HttpContext.Current.Session[SessionInfo.BaseAddress])); 
        _oAuthorizationRolesMapping =@Html.Raw( new System.Web.Script.Serialization.JavaScriptSerializer().Serialize(HttpContext.Current.Session[SessionInfo.AuthorizationRolesMapping]));  
        _oOrderRecap =@Html.Raw(new System.Web.Script.Serialization.JavaScriptSerializer().Serialize(Model));
        _oColorSizeRatios=@Html.Raw(new System.Web.Script.Serialization.JavaScriptSerializer().Serialize(Model.ColorSizeRatios));        
        _oTechnicalSheetSizes=@Html.Raw(new System.Web.Script.Serialization.JavaScriptSerializer().Serialize(Model.TechnicalSheetSizes));

        _oMasterLC=@Html.Raw(new System.Web.Script.Serialization.JavaScriptSerializer().Serialize(Model.MasterLC));
        _oDyeingOrders=@Html.Raw(new System.Web.Script.Serialization.JavaScriptSerializer().Serialize(Model.DyeingOrders));
        _oWorkOrders =@Html.Raw(new System.Web.Script.Serialization.JavaScriptSerializer().Serialize(Model.WorkOrders));
        _oPurchasePIs = @Html.Raw(new System.Web.Script.Serialization.JavaScriptSerializer().Serialize(Model.PurchasePIs));
        _oB2BLCs = @Html.Raw(new System.Web.Script.Serialization.JavaScriptSerializer().Serialize(Model.B2BLCs));
        SetLCInfo();
        RefreshB2BLCs();
        RefreshPurchasePIs();
        RefreshDyeingOrders();    
        RefreshWorkOrders();
        MakeOrderRecapDetailTable(_oTechnicalSheetSizes);       
        RefreshList(_oColorSizeRatios); 
      
        
            
 }); 

 
 function SetLCInfo()
 {
   if(parseInt(_oMasterLC.MasterLCID)>0)
   {
   
//    var sLink = '<input type =button style= font-size:9px id=btnMasterLC value='+_oMasterLC.MasterLCNo+'>'
        document.getElementById('lblMasterLC').innerHTML = _oMasterLC.MasterLCNo;
        document.getElementById('lblMasterLCAmount').innerHTML = Math.round(_oMasterLC.LCValue,2);
        document.getElementById('lblApproveBy').innerHTML = _oMasterLC.ApprovedByName;
        document.getElementById('lblMasterLCDate').innerHTML = _oMasterLC.IssueDateInString;
        document.getElementById('lblMasterLCExprieDate').innerHTML = _oMasterLC.ExpireDateInString; 
        document.getElementById('lblMasterLCShipmentDate').innerHTML = _oMasterLC.ShipmentDateInString;
    }else{
         document.getElementById('lblMasterLC').innerHTML = '';
        document.getElementById('lblMasterLCAmount').innerHTML = '';
        document.getElementById('lblApproveBy').innerHTML = '';
        document.getElementById('lblMasterLCDate').innerHTML = '';
        document.getElementById('lblMasterLCExprieDate').innerHTML = ''; 
        document.getElementById('lblMasterLCShipmentDate').innerHTML = '';
        
    }
 }

function DyeingOrder()
{
        var oDyeingOrder= $('#tblDyeingOrder').datagrid('getSelected'); 
        if(oDyeingOrder==null || parseInt(oDyeingOrder.DyeingOrderID)<=0)
        {
            alert("Please select a item from list!");
            return;
        }
        var oParameter = new Object();
        oParameter.Name = "View Dyeing Order";
        var tsv=((new Date()).getTime())/1000;
        var url = _sBaseAddress+"/DyeingOrder/ViewDyeingOrderInformation?id="+oDyeingOrder.DyeingOrderID+"&ts="+tsv;
        var oDyeingOrder = window.showModalDialog(url, oParameter, 'dialogHeight:500px;dialogWidth:850px;dialogLeft:220;dialogTop:110;center:yes;resizable:yes;status:no;scroll:yes');

}


function WorkOrder()
{
        var oWorkOrder= $('#tblWorkOrder').datagrid('getSelected'); 
        if(oWorkOrder==null || parseInt(oWorkOrder.WorkOrderID)<=0)
        {
            alert("Please select a item from list!");
            return;
        }
        var oParameter = new Object();
        oParameter.Name = "View Work Order";
        var tsv=((new Date()).getTime())/1000;
        var url = _sBaseAddress+"/WorkOrder/ViewWorkOrderInformation?id="+oWorkOrder.WorkOrderID+"&AcType="+oWorkOrder.AccessoriesTypeInInt +" &ts="+tsv;
        var oWorkOrder = window.showModalDialog(url, oParameter, 'dialogHeight:610px;dialogWidth:980px;dialogLeft:200;dialogTop:50;center:yes;resizable:yes;status:no;scroll:yes');

}

function B2BLC()
{

        var oB2BLC = $('#tblB2BLC').datagrid('getSelected'); 
        if(oB2BLC==null || parseInt(oB2BLC.B2BLCID)<=0)
        {
            alert("Please select a item from list!");
            return;
        }
        var oParameter = new Object();
        oParameter.Name = "View Back To Back LC";
        var tsv=((new Date()).getTime())/1000;
        var url = _sBaseAddress+"/B2BLC/ViewB2BYarnInformation?id="+oB2BLC.B2BLCID+"&ts="+tsv;
        var oB2BLC = window.showModalDialog(url, oParameter, 'dialogHeight:575px;dialogWidth:950px;dialogLeft:200;dialogTop:50;center:yes;resizable:yes;status:no;scroll:yes');

}


function PurchasePI()
{
        var oPurchasePI = $('#tblPurchasePI').datagrid('getSelected'); 
        if(oPurchasePI==null || parseInt(oPurchasePI.PurchasePIID)<=0)
        {
            alert("Please select a item from list!");
            return;
        }
       
        var SelectedRowIndex=$('#tblPurchasePI').datagrid('getRowIndex',oPurchasePI);
        var oParameter = new Object();
        oParameter.Name = "View Purchase PI (Yearn)";
        var tsv=((new Date()).getTime())/1000;
        var url = _sBaseAddress+"/PurchasePI/ViewPurchasePIInformation?id="+oPurchasePI.PurchasePIID+"&ts="+tsv;
        var oPurchasePI = window.showModalDialog(url, oParameter,  'dialogHeight:570px;dialogWidth:950px;dialogLeft:200;dialogTop:40;center:yes;resizable:yes;status:no;scroll:yes');

}



function MakeOrderRecapDetailTable(oTechnicalSheetSizes)
{
    _oTechnicalSheetSizes=[];
    var tblColums=[];
    var oColumn=null;
    oColumn= { field :"ColorName", title:"Color Name", width:"120"}; 
    tblColums.push(oColumn);    
    var count =0;
    for(var i=0; i<oTechnicalSheetSizes.length;i++)
    {  
        count++;  
        oColumn= {
                    field:"OrderQty"+count,
                    title: oTechnicalSheetSizes[i].SizeCategoryName,
                    width: "60",
                    align: "right"
                }; 
        tblColums.push(oColumn);
        _oTechnicalSheetSizes.push(oTechnicalSheetSizes[i]);
    }   
    oColumn= { field :"ColorWiseTotal", title:"Total", width:"100",  align: "right"}; 
    tblColums.push(oColumn); 
    oColumn= { field :"ColorWiseProductionQty", title:"Production Qty", width:"100",  align: "right"}; 
    tblColums.push(oColumn); 
    oColumn= { field :"ColorWiseYetProductionQty", title:"Yet to Production", width:"110",  align: "right"}; 
    tblColums.push(oColumn); 
    $('#tblColorSizeWiseRatio').datagrid({ columns:[tblColums]});
    RefreshSummary(_oTechnicalSheetSizes);
}

function RefreshSummary(oTechnicalSheetSizes)
{    
    //debugger;  
    var sInnerHTML="<table border='0' cellspacing='2' cellpadding='2' style='font-size:11px; font-weight:bold'><tr>";
    sInnerHTML=sInnerHTML+"<td style='width:135px; text-align:right'> Total :</td>";
    var count =0;
    for(var j=0; j<oTechnicalSheetSizes.length;j++)
    {
        count++;
        sInnerHTML=sInnerHTML+"<td style='width:56px; text-align:right'>"+SizeWiseTotal(count)+"</td>";
    }      
    sInnerHTML=sInnerHTML+"<td style='width:100px; text-align:right'>"+SizeWiseTotal(21)+"</td>";        
    sInnerHTML=sInnerHTML+"<td style='width:95px; text-align:right'>"+SizeWiseTotal(22)+"</td>";        
    sInnerHTML=sInnerHTML+"<td style='width:105px; text-align:right'>"+SizeWiseTotal(23)+"</td>";        
    sInnerHTML=sInnerHTML+"</tr></table>";
    //debugger;
    var divTotalSummary= document.getElementById('divTotalSummary');    
    divTotalSummary.innerHTML=sInnerHTML;
}


function SizeWiseTotal(n)
{
    var nSizeWiseTotal=0;
    var oColorSizeWiseRatios = $('#tblColorSizeWiseRatio').datagrid('getRows'); 
    for(var i=0; i<oColorSizeWiseRatios.length; i++)
    {
        if(n==1){nSizeWiseTotal=nSizeWiseTotal+parseInt(oColorSizeWiseRatios[i].OrderQty1);}
        else if(n==1){nSizeWiseTotal=nSizeWiseTotal+parseInt(oColorSizeWiseRatios[i].OrderQty1);}
        else if(n==2){nSizeWiseTotal=nSizeWiseTotal+parseInt(oColorSizeWiseRatios[i].OrderQty2);}
        else if(n==3){nSizeWiseTotal=nSizeWiseTotal+parseInt(oColorSizeWiseRatios[i].OrderQty3);}
        else if(n==4){nSizeWiseTotal=nSizeWiseTotal+parseInt(oColorSizeWiseRatios[i].OrderQty4);}
        else if(n==5){nSizeWiseTotal=nSizeWiseTotal+parseInt(oColorSizeWiseRatios[i].OrderQty5);}
        else if(n==6){nSizeWiseTotal=nSizeWiseTotal+parseInt(oColorSizeWiseRatios[i].OrderQty6);}
        else if(n==7){nSizeWiseTotal=nSizeWiseTotal+parseInt(oColorSizeWiseRatios[i].OrderQty7);}
        else if(n==8){nSizeWiseTotal=nSizeWiseTotal+parseInt(oColorSizeWiseRatios[i].OrderQty8);}
        else if(n==9){nSizeWiseTotal=nSizeWiseTotal+parseInt(oColorSizeWiseRatios[i].OrderQty9);}
        else if(n==10){nSizeWiseTotal=nSizeWiseTotal+parseInt(oColorSizeWiseRatios[i].OrderQty10);}
        else if(n==11){nSizeWiseTotal=nSizeWiseTotal+parseInt(oColorSizeWiseRatios[i].OrderQty11);}
        else if(n==12){nSizeWiseTotal=nSizeWiseTotal+parseInt(oColorSizeWiseRatios[i].OrderQty12);}
        else if(n==13){nSizeWiseTotal=nSizeWiseTotal+parseInt(oColorSizeWiseRatios[i].OrderQty13);}
        else if(n==14){nSizeWiseTotal=nSizeWiseTotal+parseInt(oColorSizeWiseRatios[i].OrderQty14);}
        else if(n==15){nSizeWiseTotal=nSizeWiseTotal+parseInt(oColorSizeWiseRatios[i].OrderQty15);}
        else if(n==16){nSizeWiseTotal=nSizeWiseTotal+parseInt(oColorSizeWiseRatios[i].OrderQty16);}
        else if(n==17){nSizeWiseTotal=nSizeWiseTotal+parseInt(oColorSizeWiseRatios[i].OrderQty17);}
        else if(n==18){nSizeWiseTotal=nSizeWiseTotal+parseInt(oColorSizeWiseRatios[i].OrderQty18);}
        else if(n==19){nSizeWiseTotal=nSizeWiseTotal+parseInt(oColorSizeWiseRatios[i].OrderQty19);}
        else if(n==20){nSizeWiseTotal=nSizeWiseTotal+parseInt(oColorSizeWiseRatios[i].OrderQty20);}
        else if(n==21){nSizeWiseTotal=nSizeWiseTotal+parseInt(oColorSizeWiseRatios[i].ColorWiseTotal);}
        else if(n==22){nSizeWiseTotal=nSizeWiseTotal+parseInt(oColorSizeWiseRatios[i].ColorWiseProductionQty);}
        else if(n==23){nSizeWiseTotal=nSizeWiseTotal+parseInt(oColorSizeWiseRatios[i].ColorWiseYetProductionQty);}
    }
    return nSizeWiseTotal;
}



function RefreshList(oColorSizeRatios)
{    
    data=oColorSizeRatios;
    data={"total":""+data.length+"","rows":data};
    $('#tblColorSizeWiseRatio').datagrid('loadData',data);  
    RefreshSummary(_oTechnicalSheetSizes);         
}


function RefreshB2BLCs()
{
        debugger; 
        data=_oB2BLCs;
        data={"total":""+data.length+"","rows":data};
        $('#tblB2BLC').datagrid('loadData',data);           
}





function RefreshPurchasePIs()
{
        debugger; 
        data=_oPurchasePIs;
        data={"total":""+data.length+"","rows":data};
        $('#tblPurchasePI').datagrid('loadData',data);           
}

function RefreshDyeingOrders()
{   
        debugger; 
        data=_oDyeingOrders;
        data={"total":""+data.length+"","rows":data};
        $('#tblDyeingOrder').datagrid('loadData',data);           
}


 
function RefreshWorkOrders()
{   
        debugger; 
        data=_oWorkOrders;
        data={"total":""+data.length+"","rows":data};
        $('#tblWorkOrder').datagrid('loadData',data);           
}


function Close()
{
    window.close();
}

function formatPrice(val,row)
{  
    if(val==null)
    {
        val=0.00;
    }
    val=parseFloat(val);
    var test = val.toFixed(2);
    var tests = addComma(test);
    return tests;       
} 
function addComma(nStr)
{
	nStr += '';
	x = nStr.split('.');
	x1 = x[0];
	x2 = x.length > 1 ? '.' + x[1] : '';
	var process = /(\d+)(\d{3})/;
	while (process.test(x1)) {
		x1 = x1.replace(process, '$1' + ',' + '$2');
	}
	return x1 + x2;
} 


$(document).keydown(function(e) {    
    //debugger;
    if(e.which == 27)//escape=27
    {
        //debugger;        
        window.close();
    }
});
</script>