<html>
<head>  
    <link href="@Url.Content("~/Content/CSS/icon.css")" rel="stylesheet" type="text/css" />
    <link href="@Url.Content("~/Content/CSS/easyui.css")" rel="stylesheet" type="text/css" /> 

    <script src="@Url.Content("~/Scripts/jquery-1.7.1.min.js")" type="text/javascript"></script>            
    <script src="@Url.Content("~/Scripts/jquery.ics.customize.js")" type="text/javascript"></script>  
    <script src="@Url.Content("~/Scripts/jquery.easyui.min.js")" type="text/javascript"></script>    

    <script src="@Url.Content("~/Scripts/jquery-ui.min.js")" type="text/javascript"></script> 
    <script src="@Url.Content("~/Scripts/json2.js")" type="text/javascript"></script> 
</head>
<body>

@model ESimSol.BusinessObjects.OrderRecapDetail
<div style="font-family:Tahoma">           
<table border="0" cellspacing="2" cellpadding="2">
    <tr>
        <td style="background-color:#CFB53B; text-align:center; width:600px; color:White">
            <label id="lblHeaderName" style="font-size:15px; font-weight:bold; text-decoration:Underline"></label>
        </td>
    </tr>
</table>
<div>
<fieldset>

            
                <table id="tblOrderRecapDetail" title=""  class="easyui-datagrid" style="width:530px;height:260px" fitColumns="false" rownumbers="true" pagination="false" singleSelect="false", autoRowHeight="false" toolbar="#toolbar">
                                <thead>  
                                    <tr>  
                                        <th data-options="field:'Selected',checkbox:true" id="tdFabricgrid"></th> 
                                        <th field="ColorName" width="200" align ="left">Color</th>  
                                        <th field="SizeName" width="130">Size</th>
                                        
                                    </tr>  
                                </thead> 
                            </table>​
            
            
        
</fieldset>
</div>
<fieldset>
    <legend style="font-weight:bold"> Action : </legend>
        <table border="0" cellspacing="2" cellpadding="2" style="font-size:11px; font-weight:bold">
            <tr>
                <td style="width:50px;text-align:right"> Unit :</td>                
                <td style="width:150px; text-align:left">
                    @Html.DropDownListFor(model => model.MeasurementUnitID, Model.Units.Select(x => new SelectListItem() { Text = x.UnitName, Value = x.MeasurementUnitID.ToString() }), new { id = "cboMeasurementUnitID", style = "width: 100px;" })
                </td>
                <td style="width:200px; text-align:center">
                    <a href="javascript:void(0)" class="easyui-linkbutton" iconCls="icon-add" plain="true" onclick="PickNewColor()">Pick New Color</a>
                </td>
                <td style="width:50px">
                   <a id="btnSave" href="javascript:void(0)" class="easyui-linkbutton" iconCls="icon-ok" plain="true" onclick="Save()">Ok</a>
                </td>
                <td style="width:50px">
                   <a href="javascript:void(0)" class="easyui-linkbutton" iconCls="icon-cancel" plain="true" onclick="Close()">Close</a>
                </td>
            </tr>       
        </table>
    </fieldset>
</div>
</body>
</html>


<script type="text/javascript"> 
 var _oOrderRecapDetail=null;
 var _sBaseAddress="";
 var _oColors = null;
 var _oSizes = null;
 $(document).ready(function () {
  //  debugger;     
        _sBaseAddress =@Html.Raw( new System.Web.Script.Serialization.JavaScriptSerializer().Serialize(HttpContext.Current.Session[SessionInfo.BaseAddress])); 
        _oOrderRecapDetail =@Html.Raw(new System.Web.Script.Serialization.JavaScriptSerializer().Serialize(Model));
        _oColors =@Html.Raw(new System.Web.Script.Serialization.JavaScriptSerializer().Serialize(Model.Colors));
        _oSizes =@Html.Raw(new System.Web.Script.Serialization.JavaScriptSerializer().Serialize(Model.Sizes));
        var obj = window.dialogArguments;
        document.getElementById('lblHeaderName').innerHTML=obj.name;
        SetColorAndSize();
 });


 function PickNewColor()
 {    
    var oParameter = new Object();   
    var tsv=((new Date()).getTime())/1000;
    var url = _sBaseAddress+"/OrderRecap/ViewAddNewColor?tsid="+_oOrderRecapDetail.TechnicalSheetID+"&ts="+tsv;
    var oOrderRecapDetail = window.showModalDialog(url, oParameter, 'dialogHeight:440px;dialogWidth:455px;dialogLeft:400;dialogTop:200;center:yes;resizable:no;status:no;scroll:no');
    if(oOrderRecapDetail!=null)
    {
        if(oOrderRecapDetail.Colors.length>0)
        {
            _oColors =oOrderRecapDetail.Colors;
            _oSizes =oOrderRecapDetail.Sizes;
            var data=[];
            data = { "total": "" + data.length + "", "rows": data };
            $('#tblOrderRecapDetail').datagrid('loadData', data);
            SetColorAndSize();
        }
    }
        
 }


 function SetColorAndSize()
 {

  var sMeasurementUnit =document.getElementById("cboMeasurementUnitID");
   var MeasurementUnitID  =sMeasurementUnit.options[sMeasurementUnit.selectedIndex].value;

    for(var i=0;i<_oColors.length;i++)
    {
        for (var j =0;j<_oSizes.length;j++)
        {
            
            var oSaleOrederDetail ={
                                        OrderRecapDetailID:0,
                                        OrderRecapID:0,
                                        ColorID:_oColors[i].ColorCategoryID,
                                        ColorName:_oColors[i].ColorName,
                                        SizeID :_oSizes[j].SizeCategoryID,
                                        SizeName:_oSizes[j].SizeCategoryName,
                                        MeasurementUnitID :0, 
                                        UnitName:'',
                                        UnitPrice:0,
                                        Quantity : 0,
                                        Amount:0
                                   };

            $('#tblOrderRecapDetail').datagrid('appendRow',oSaleOrederDetail);

        }
    }


 }



 function ValidateInput()
 {
    if(document.getElementById("cboMeasurementUnitID").value=="" || $("#cboMeasurementUnitID").val()==0) { alert("Please Choose Unit Type"); $('#cboMeasurementUnitID').focus(); return false; }
    var oOrderRecapDetails=$('#tblOrderRecapDetail').datagrid('getChecked');
    if(oOrderRecapDetails==null )
    {
        alert("Please Select At least One Order Recap Detail");
        return false;
    }if(oOrderRecapDetails.length<=0 )
    {
        alert("Please Select At least One Order Recap Detail");
        return false;
    }
    return true;
 }


function RefreshList()
{    
   // debugger;  
    var sMeasurementUnit =document.getElementById("cboMeasurementUnitID");
    var MeasurementUnitID  =sMeasurementUnit.options[sMeasurementUnit.selectedIndex].value;
    var MeasurementUnitName  =sMeasurementUnit.options[sMeasurementUnit.selectedIndex].text;   
    var oOrderRecapDetails=$('#tblOrderRecapDetail').datagrid('getChecked');
    for(var i =0;i<oOrderRecapDetails.length;i++)
    {
        oOrderRecapDetails[i].MeasurementUnitID =MeasurementUnitID;
        oOrderRecapDetails[i].UnitName =MeasurementUnitName;
    }
    return oOrderRecapDetails;
} 

function Save()
{
  //  debugger;
    if(!ValidateInput()) return;
    var oOrderRecapDetails=RefreshList();
    window.returnValue= oOrderRecapDetails; 
    window.close();     
}

 function Close()
   {
       window.close();
   }


   $(document).keydown(function(e) {    
    //debugger;
    if(e.which == 27)//escape=27
    {
        //debugger;        
        window.close();
    }
});
    
</script>