@{
    ViewBag.Title = "Order Summary List";
}
@model IEnumerable<ESimSol.BusinessObjects.PTUTracker>
<head>
    
</head>
<body>
    <div id="progressbarParent" style="width:100%;height:100%;margin:0 auto;text-align:center; margin-left: auto;margin-right: auto;left: 0;right: 0;z-index: 1;">
        <div style="margin: 0px auto;margin-top: 251px;text-align:center;width:390px;">
            <label style="font-size:18px;">Please wait</label>
            <div id="progressbar" style="width:100%;height:37px;"></div>
        </div>
    </div>
    <div class="menuMainCollectionTable">
        <div>
            <table border="0" cellpadding="2" cellspacing="2">
                <tr>
                    <td colspan="2" style="width:30%;  font-size:12px; text-align:left;vertical-align:top">
                        Date  <select id="cboDateSearch" style="width:100px" ;font-size:12px;" class="_select_changeA" />
                        <input id="txtStartDate" type="text" style="width: 110px" class="easyui-datebox" required="required" data-options="formatter:icsdateformat,parser:icsdateparser" />
                        To
                        <input id="txtEndDate" type="text" style="width: 110px;height:20px" class="easyui-datebox" required="required" data-options="formatter:icsdateformat,parser:icsdateparser" />
                    </td>

                </tr>
            </table>
        </div>
        <div id="tabRSApproves" class="easyui-tabs" style="width:100%; height:100%">
            <div title="Bulk Production Order Wise" id="divRSWise" style="width:100%;height:95%">
                <table id="tblPTUTrackers" title="Dye line List" style="width:100%; height:100%" class="easyui-datagrid" fit="true" fitcolumns="false" rownumbers="true" pagination="false" singleselect="true" autorowheight="false" toolbar="#toolbarPTUTracker" data-options="rowStyler: function(index,row){
                                        if (row.Balance<=0){
                                            return 'color:#F54C52; font-weight:bold;';
                                        }
                                        else if (row.ProductName=='Total'){
                                            return 'color:#016B18; font-weight:bold;';
                                        }
                                    }
                    ">
                    <thead>
                        <tr>
                            <th field="PINo" width="15%">P/I No</th>
                            <th field="ContractorName" width="15%">Buyer Name</th>
                            @*<th field="BuyerName" width="10%">Buyer Name</th>*@
                            <th field="ProductCode" width="10%">Product Code</th>
                            <th field="ProductName" width="15%">Product Name</th>
                            @*<th field="YarnCount" width="10%">YarnCount</th>*@
                            <th field="ColorNameShade" width="15%">Color</th>
                            <th field="ColorNo" width="10%">Color No</th>
                            <th field="Qty_PI" formatter="formatPrice" width="10%" align="right">P/I Qty(Lbs)</th>
                            <th field="OrderQty" formatter="formatPrice" width="10%" align="right">DO Qty(Lbs)</th>
                            <th field="ProductionPipeLineQty" formatter="formatPrice" width="10%" align="right">Pro PipeLine</th>
                            <th field="ProductionFinishedQty" formatter="formatPrice" width="10%" align="right">Pro. Finish(LBS)</th>
                            <th field="YetToProduction" formatter="formatPrice" width="10%" align="right">Yet To Production</th>
                            <th field="ActualDeliveryQty" formatter="formatPrice" width="10%" align="right">Delivery Qty</th>
                            <th field="YetToDelivery" formatter="formatPrice" width="10%" align="right">Yet T oDelivery</th>
                            @*<th field="ReadyStockInhand" formatter="formatPrice" width="12%" align="right">ReadyStockInhand</th>*@
                            <th field="ReturnQty" formatter="formatPrice" width="10%" align="right">Return Qty</th>
                            <th field="ReOrderQty" formatter="formatPrice" width="10%" align="right">Claim Qty</th>
                            <th field="StockInHand" formatter="formatPrice" width="10%" align="right">StockInHand</th>
                            <th field="StockInAval" formatter="formatPrice" width="10%" align="right">StockInHand(Aval)</th>
                            <th field="LCNo" width="15%">L/C No </th>
                            <th field="StateSt" width="12%">Status</th>
                            <th field="MKT" width="15%">Con. Person </th>
                            @*<th field="OrderNo" width="15%">Order No</th>*@

                        </tr>
                    </thead>
                </table>
                <div id="toolbarPTUTracker">
                    <table>
                        <tr>
                            <td>
                                <a id="btnAdvSearchExportPI" href="javascript:void(0)" class="easyui-linkbutton" iconcls="icon-search" plain="true">Adv. Search</a>
                                @*<a href="javascript:void(0)" class="easyui-linkbutton" iconcls="icon-reload" plain="true" id="btnYetToPro"></a>*@
                                <input type="text" id="txtSearchByPINo" placeholder="Search by PI No" style="width:100px" />
                                <input type="text" id="txtSearchByOrderNo" placeholder="Search by order No" style="width:100px" />
                                <input type="text" id="txtSearchByColorNo" placeholder="Search by Color No" style="width:100px" />
                                @*<a id="btnAdvSearchExportPI" href="javascript:void(0)" class="easyui-linkbutton" iconcls="icon-search" plain="true">Adv. Search</a>*@
                                <a id="btnView_DO" href="javascript:void(0)" class="easyui-linkbutton" iconcls="icon-details" plain="true">View</a>
                                <a id="btnPrintXL" href="javascript:void(0)" class="easyui-linkbutton" iconcls="icon-print" plain="true">ExportXL</a>

                            </td>

                        </tr>
                    </table>
                </div>
            </div>
            <div title="Product View" id="divLCRecedDOnotRecd" style="width:100%;height:95%">

            </div>
            <div title="Color View" id="divLCRecedDOnotRecd" style="width:100%;height:95%">

            </div>
        </div>
    </div>
    <div id="winAdvSearchPTUTracking" class="easyui-window winClass" title="Adv. Search" data-options="modal:true,closed:true,collapsible:false,minimizable:false,maximizable:false,closable:false">
        <table style="width:100%;">
            <tr>
                <td>
                    <fieldset style="margin-bottom: 0px;">
                        <legend>Searching Criteria</legend>
                        <table>
                            <tr>
                                <td style=" width:20%;text-align:right;">
                                    <label>Buyer :</label>
                                </td>
                                <td colspan="3" style=" width:80%;text-align:left;">
                                    <input id="txtContractorAdvS" style="width:75%;" type="text" placeholder="Type & Press Enter" />
                                    <a id="btnPickContractorAdvS" href="javascript:void(0)" class="easyui-linkbutton ics-pick" iconcls="icon-pick" plain="true"></a>
                                    <a id="btnClrContractorAdvS" href="javascript:void(0)" class="easyui-linkbutton ics-pick" iconcls="icon-clear" plain="true"></a>

                                </td>
                            </tr>
                            <tr>
                                <td style=" width:20%;text-align:right;">
                                    <label>Delivery To :</label>
                                </td>
                                <td colspan="3" style=" width:80%;text-align:left;">
                                    <input id="txtSearchByBuyersAdvSearch" style="width:75%;" type="text" placeholder="Type & Press Enter" />
                                    <a id="btnClrSearchByBuyersAdvSearch" href="javascript:void(0)" class="easyui-linkbutton ics-pick" iconcls="icon-pick" plain="true"></a>
                                    <a id="btnPickSearchByBuyersAdvSearch" href="javascript:void(0)" class="easyui-linkbutton ics-pick" iconcls="icon-clear" plain="true"></a>
                                </td>
                            </tr>
                            <tr>
                                <td style=" width:20%;text-align:right;">
                                    <label>Yarn </label>
                                </td>
                                <td colspan="3" style=" width:80%;text-align:left;">
                                    <input id="txtProductName" style="width:75%;" type="text" placeholder="Type & Press Enter" />
                                    <a id="btnProductPiker" href="javascript:void(0)" class="easyui-linkbutton ics-pick" iconcls="icon-pick" plain="true"></a>
                                    <a id="btnClrProductPiker" href="javascript:void(0)" class="easyui-linkbutton ics-pick" iconcls="icon-clear" plain="true"></a>
                                </td>
                            </tr>
                            <tr>
                                <td style=" width:20%;text-align:right;">
                                    <label>PI Issue Date :</label>
                                </td>
                                <td colspan="3">
                                    <select id="cboIssueDateAdvSearch" style="width:30%;" onchange="DateActionsIssueDateAdvSearch();"></select>
                                    <input id="txtFromIssueDateAdvSearch" type="text" style="width: 100px;" class="easyui-datebox" required="required" data-options="formatter:icsdateformat,parser:icsdateparser" />To
                                    <input id="txtToIssueDateAdvSearch" type="text" style="width: 100px;" class="easyui-datebox" required="required" data-options="formatter:icsdateformat,parser:icsdateparser" />
                                </td>
                            </tr>
                            <tr>
                                <td style=" width:20%;text-align:right;">
                                    <label>PO Date :</label>
                                </td>
                                <td colspan="3">
                                    <select id="cboPODateAdvSearch" style="width:30%;" onchange=" DateActionsValidityDateAdvSearch(); "></select>
                                    <input id="txtFromPODateAdvSearch" type="text" style="width: 100px;" class="easyui-datebox" required="required" data-options="formatter:icsdateformat,parser:icsdateparser" />To
                                    <input id="txtToPODateAdvSearch" type="text" style="width: 100px;" class="easyui-datebox" required="required" data-options="formatter:icsdateformat,parser:icsdateparser" />
                                </td>
                            </tr>
                           
                         
                            @*<tr>
                                <td style=" width:20%;text-align:right;">
                                    <label>Mkt. Person :</label>
                                </td>
                                <td colspan="3">
                                    <select id="cboMkPersonAdvSearch" style="width:100%;"></select>
                                </td>
                            </tr>

                            <tr>
                                <td style="text-align:right;">
                                    <label>Style No :</label>
                                </td>
                                <td colspan="3">
                                    <input id="txtSearchByStyleNoAdvSearch" type="text" style="width:100%" />
                                </td>
                            </tr>*@
                            @*<tr>
                                <td style=" width:20%;text-align:right;">
                                    <label>Status By Date :</label>
                                </td>
                                <td colspan="3">
                                    <select id="cboStatusAdvSearch" style="width:30%;" onchange=" DateActionsStatusDateAdvSearch(); "></select>
                                    <input id="txtFromStatusDateAdvSearch" type="text" style="width: 100px;" class="easyui-datebox" required="required" data-options="formatter:icsdateformat,parser:icsdateparser" />To
                                    <input id="txtToStatusDateAdvSearch" type="text" style="width: 100px;" class="easyui-datebox" required="required" data-options="formatter:icsdateformat,parser:icsdateparser" />
                                </td>
                            </tr>*@
                            <tr>
                                <td style="text-align:right;">
                                    <label>Status :</label>
                                </td>
                                <td colspan="3">
                                    <table id="tblCurrentStatusAdvSearch" class="easyui-datagrid" title="" style="width:100%; height: 130px;" data-options="singleSelect: false,fitColumns:false, rownumbers:true, pagination:false, autoRowHeight:false">
                                        <thead>
                                            <tr>
                                                <th data-options="field:'Selected',checkbox:true"></th>
                                                <th field="Value" width="80%">Status Name</th>
                                            </tr>
                                        </thead>
                                    </table>
                                </td>
                            </tr>
                            <tr>
                                    <td style="text-align:right;"></td>
                                    <td>
                                        <input id="chkYetToProduction" type="checkbox" style="width:5%;" />
                                        <label>Yet To Production</label>
                                    </td>
                                    <td colspan="2" style="text-align:right;">
                                        <input id="chkYetToDelivery" type="checkbox" style="width:5%;" />
                                        <label>Yet To Delivery</label>
                                    </td>
                                </tr>
                            <tr>
                                <td height="5px" colspan="4"></td>
                            </tr>
                            @*<tr>
                                    <td class="btnResetSearch" colspan="4">
                                        <a id="btnSearchAdvSearch" href="javascript:void(0)" class="easyui-linkbutton" iconcls="icon-search" plain="true">Search</a>
                                        <a id="btnResetAdvSearch" href="javascript:void(0)" class="easyui-linkbutton" iconcls="icon-reload" plain="true">Reset</a>
                                    </td>
                                </tr>*@
                        </table>
                    </fieldset>
                </td>
            </tr>
        </table>

        <fieldset class="actionfieldsetstyle">
            <legend>Actions : </legend>
            <label class="lblLoadingMessage" style="float: left;">Loading Please Wait...</label>
            <a id="btnResetAdvSearch" href="javascript:void(0)" class="easyui-linkbutton" iconcls="icon-reload" plain="true">Reset</a>
            <a id="btnSearchAdvSearch" href="javascript:void(0)" class="easyui-linkbutton" iconcls="icon-search" plain="true">Search</a>
            <a id="btnCloseAdvSearch" href="javascript:void(0)" class="easyui-linkbutton" iconcls="icon-cancel" plain="true">Close</a>
        </fieldset>
    </div>
    <div id="winDyeingOrderDetail" class=" easyui-window winclass" title="Production Order List" data-options="modal:true,closed:true,collapsible:false,minimizable:false,maximizable:false,closable:false">
        <table style="width: 99%;" cellspacing="2" cellpadding="2">
            <tr>
                <td style="width:10%; text-align:right">
                    <label>
                        Yarn
                    </label>
                </td>
                <td colspan="3" style="width:40%; text-align:left">
                    <input type="text" id="txtProductNamePTU" style="width:100%;" readonly="readonly" />
                </td>
                <td style="width:10%; text-align:right">
                    <label>
                        Color
                    </label>
                </td>
                <td style="width:15%; text-align:left">
                    <input type="text" id="txtColorPTU" style="width:100%;" readonly="readonly" />
                </td>
                <td style="width:10%; text-align:right">
                    <label>
                        Color No
                    </label>
                </td>
                <td style="width:15%; text-align:left">
                    <input type="text" id="txtColorNoPTU" style="width:100%;" readonly="readonly" />
                </td>


            </tr>
            <tr>
                <td style="width:10%; text-align:right">
                    <label>
                        Order Qty
                    </label><span class="lblMUnit"></span>
                </td>
                <td style="width:15%; text-align:left">
                    <input type="text" id="txtOrderQty" style="width:100%;" readonly="readonly" />
                </td>

                <td style="width:10%; text-align:right">
                    <label>
                        Yet To Pro
                    </label><span class="lblMUnit"></span>
                </td>
                <td style="width:15%; text-align:left">
                    <input type="text" id="txtYetToPro" style="width:100%;" readonly="readonly" />
                </td>
                <td style="width:10%; text-align:right">
                    <label>
                        Pro. PipeLine
                    </label><span class="lblMUnit"></span>
                </td>
                <td style="width:15%; text-align:left">
                    <input type="text" id="txtProPP" style="width:100%;" readonly="readonly" />
                </td>
                <td style="width:10%; text-align:right">
                    Delivery
                </td>
                <td style="width:15%; text-align:left">
                    <input type="text" id="txtDeliveryQty" style="width:100%;" readonly="readonly" />
                </td>

            </tr>
        </table>
          <div id="tabPTU" class="easyui-tabs" style="width:100%">
            <div title="Production Order" style="padding:2px">
                <div style="width:100%">
                    <fieldset>
                        <table style="width:100%;height:300px;" id="tblPODetails" class="easyui-datagrid" toolbar="#toolbarPO">
                            <thead>
                                <tr>
                                    <th field="OrderNo" width="12%">PO No</th>
                                    <th field="OrderDate" width="10%">LDate</th>
                                    <th field="LabdipNo" width="15%">Labdip No</th>
                                    <th field="ColorNo" width="12%">Color No</th>
                                    <th field="ColorName" width="20%">Color</th>
                                    <th field="Qty" formatter="formatPrice" width="10%" align="right">PO Qty</th>
                                    <th field="ShadeSt" width="5%">ColorInfo</th>
                                    <th field="PantonNo" width="12%">PantonNo</th>

                                </tr>
                            </thead>
                        </table>
                    </fieldset>
                    <div id="toolbarPO">
                        <table>
                            <tr>
                                <td>
                                    <a id="btnPOLoad" href="javascript:void(0)" class="easyui-linkbutton" iconcls="icon-reload" plain="true"></a>
                                </td>

                            </tr>
                        </table>
                    </div>

                </div>
            </div>
            <div title="Dyeing Card " style="padding:2px">
                  <div style="width:100%">
                      <fieldset>
                          <table style="width:100%;height:300px;" id="tblRSs" class="easyui-datagrid" toolbar="#toolbarRS">
                              <thead>
                                  <tr>
                                      <th field="RouteSheetNo" width="20%">Dye Line No</th>
                                      <th field="Qty" formatter="formatPrice" width="10%" align="right">Balance</th>
                                      <th field="LotNo" width="10%">Lot No</th>
                                      <th field="RouteSheetNo" width="20%">Dye Line No</th>
                                      <th field="RSStateStr" width="10%">Status</th>
                                  </tr>
                              </thead>
                          </table>
                      </fieldset>
                      <div id="toolbarRS">
                          <table>
                              <tr>
                                  <td>
                                      <a id="btnLoad_RS" href="javascript:void(0)" class="easyui-linkbutton" iconcls="icon-reload" plain="true"></a>
                                  </td>

                              </tr>
                          </table>
                      </div>

                  </div>
              </div>
            <div title="Stock in Hank(Dyed Lot)" style="padding:2px">
                  <div style="width:100%">
                      <fieldset>
                          <table style="width:100%;height:300px;" id="tblLots" class="easyui-datagrid" toolbar="#toolbarLot">
                              <thead>
                                  <tr>
                                      <th field="LotNo" width="20%">Lot No</th>
                                      <th field="LogNo" width="10%">Log No</th>
                                      <th field="Balance" formatter="formatPrice" width="10%" align="right">Balance</th>
                                      <th field="MUName" width="10%">Unit</th>
                                     
                                  </tr>
                              </thead>
                          </table>
                      </fieldset>
                      <div id="toolbarLot">
                          <table>
                              <tr>
                                  <td>
                                      <a id="btnLoad_Lot" href="javascript:void(0)" class="easyui-linkbutton" iconcls="icon-reload" plain="true"></a>
                                  </td>

                              </tr>
                          </table>
                      </div>

                  </div>
              </div>
            </div>
        <div style="width:100%;">
            <fieldset>
                <legend style="font-weight: bold">Action : </legend>
                <table border="0" cellspacing="2" cellpadding="2" style="font-size: 11px; font-weight: bold; width:100%">
                    <tr>
                        <td style="width:85%; text-align:right"></td>
                        <td style="width: 15%; text-align:right">
                            <a id="btnClose_Detail" href="javascript:void(0)" class="easyui-linkbutton" iconcls="icon-cancel" plain="true">Close</a>
                        </td>
                    </tr>
                </table>
            </fieldset>
        </div>
    </div>
</body>

<script type="text/javascript">
    var _oPTUTracker = null;
    var _oPTUTrackers = [];
    var _sBaseAddress = "";
    var _oAuthorizationRolesMapping = [];
    var _oPTUStateObj = [];
    var _nID=null;
    var _sMenuID=0;
    var _sProductIDs="";

    $(document).ready(function() {
        debugger;

        _sBaseAddress = @Html.Raw(new System.Web.Script.Serialization.JavaScriptSerializer().Serialize(HttpContext.Current.Session[SessionInfo.BaseAddress]));
        _sMenuID =@Html.Raw( new System.Web.Script.Serialization.JavaScriptSerializer().Serialize(HttpContext.Current.Session[SessionInfo.MenuID]));
        _oPTUTrackers = @Html.Raw(new System.Web.Script.Serialization.JavaScriptSerializer().Serialize(Model));
        _oCompareOperators = @Html.Raw(new System.Web.Script.Serialization.JavaScriptSerializer().Serialize(ViewBag.CompareOperators));
        _nBUID = @Html.Raw(new System.Web.Script.Serialization.JavaScriptSerializer().Serialize(ViewBag.BUID));
        @*_oMktPersons = @Html.Raw(new System.Web.Script.Serialization.JavaScriptSerializer().Serialize(ViewBag.MktPersons));*@
        _oBU = @Html.Raw(new System.Web.Script.Serialization.JavaScriptSerializer().Serialize(ViewBag.BU));
        _oPTUStateObj= @Html.Raw(new System.Web.Script.Serialization.JavaScriptSerializer().Serialize(ViewBag.PTUStateObj));
        //_nID =parseInt(sessionStorage.getItem("SelectedRowIndex"));
        //var oPTUTrackers =sessionStorage.getItem("PTUTrackers");
        //if(oPTUTrackers!=null)
        //{
        //    oPTUTrackers = jQuery.parseJSON(oPTUTrackers);
        //}
        //else
        //{
        //    oPTUTrackers=_oPTUTrackers;
        //}
        //debugger;
        //DynamicRefreshList(oPTUTrackers, 'tblPTUTrackers');
        //if(_nID!=-1)
        //{
        //    $('#tblPTUTrackers').datagrid('selectRow', _nID);
        //}

        $("#txtFromIssueDateAdvSearch,#txtToIssueDateAdvSearch").datebox({ disabled: false });
        $("#txtFromIssueDateAdvSearch,#txtToIssueDateAdvSearch").datebox("setValue", icsdateformat(new Date()));
        $("#txtFromPODateAdvSearch,#txtToPODateAdvSearch").datebox({ disabled: false });
        $("#txtFromPODateAdvSearch,#txtToPODateAdvSearch").datebox("setValue", icsdateformat(new Date()));
        //$('#tblExportPIs').datagrid({ onSelect: function (rowIndex, rowData) { OperationPerformsEPI(rowIndex, rowData); } });
      
        DynamicRefreshList(_oPTUStateObj, "tblCurrentStatusAdvSearch");
        $("#tblCurrentStatusAdvSearch").datagrid("checkAll");
        $("#progressbar").progressbar({ value: 0 });
        $("#progressbarParent").hide();

        LoadAllComboExportPIAdv();
        DateActionsIssueDateAdvSearch();
        DateActionsValidityDateAdvSearch();
        //DateActionsLCDateAdvSearch();
        DateActionsStatusDateAdvSearch();
        $(".lblLoadingMessage").hide();
        sessionStorage.setItem("Params", "");

    });



    $("#btnView").click(function(){
        var oPTUTracker= $('#tblPTUTrackers').datagrid('getSelected');
        if(oPTUTracker==null || oPTUTracker.PTUTrackerID<=0)
        {
            alert("Please select a item from list!");
            return false;
        }

        var SelectedRowIndex=$('#tblPTUTrackers').datagrid('getRowIndex',oPTUTracker);
        var oPTUTrackers= $('#tblPTUTrackers').datagrid('getRows');
        sessionStorage.setItem("PTUTrackers", JSON.stringify(oPTUTrackers));
        sessionStorage.setItem("SelectedRowIndex", SelectedRowIndex);
        sessionStorage.setItem("PTUTrackerHeader", "View PTUTracker");
        sessionStorage.setItem("BackLink", window.location.href);
        window.location.href = _sBaseAddress+  "/PTUTracker/ViewPTUTracker_DO?nID="+oPTUTracker.PTUTrackerID;
    });
    $("#btnPrintPreview").click(function() {
        var oPTUTracker= $('#tblPTUTrackers').datagrid('getSelected');
        if(oPTUTracker==null || oPTUTracker.ExportSCID<=0)
        {
            alert("Please select a item from list!");
            return;
        }
        var nts = ((new Date()).getTime()) / 1000;
        window.open(_sBaseAddress + '/PTUTracker/PrintStatement_DOBalance?nExportSCID=' + parseInt(oPTUTracker.ExportSCID) + "&nDOID=" + parseInt(0) + "&nProductID=" + parseInt(0) + "&nts=" + nts, "_blank");

    });
    $(document).keydown(function (e) {
        //debugger;
        if (e.which == 27)//escape=27
        {
            //debugger;
            $("#winPRAdvanceSearch").icsWindow('close');
        }
    });

    //Search By No


   


    /// end Search By No
    $("#btnYetToPro").click(function() {
        window.location.href = _sBaseAddress+ '/PTUTracker/ViewPTUTrackers?'+"buid="+_nBUID+"&menuid="+_sMenuID; 
    });

    //Search Control

    function updateProgress() {
        var value =$('#progressbar').progressbar('getValue');
        if (value < 96){
            value += Math.floor(Math.random() * 10);
            $('#progressbar').progressbar('setValue', value);
        }
    }
    function hideShow(miliseconds) {
        $("#progressbarParent").hide();
    }
    //Account Of Picker

    $("#txtContractorAdvS").keydown(function (e) {
        if (e.keyCode === 13) // Enter Press
        {
            PickAccountOfPIAdvSearch();
        }
        else if (e.keyCode === 08) {
            $("#txtContractorAdvS").removeClass("fontColorOfPickItem");
            _sContractorIds = '';
        }
    });

    $("#btnClrContractorAdvS").click(function () {
        $("#txtContractorAdvS").removeClass("fontColorOfPickItem");
        $("#txtContractorAdvS").val("");
        _sContractorIds = '';
    });

    $("#btnPickContractorAdvS").click(function () {
        PickAccountOfPIAdvSearch();
    });
    $("#txtSearchByAccountNamePickerAdvSearch").keydown(function (e) {
        var obj = {
            Event: e,
            SearchProperty: "Name",
            GlobalObjectList: _oAccountsOf,
            TableId: "tblAccountsPickerAdvSearch"
        };
        $('#txtSearchByAccountNamePickerAdvSearch').icsSearchByText(obj);
    });

    //End Account Of Picker
    $("#txtSearchByBuyersAdvSearch").keydown(function (e) {
        if (e.keyCode === 13) // Enter Press
        {
            PickBuyerPIAdvSearch();
        }
        else if (e.keyCode === 08) {
            $("#txtSearchByBuyersAdvSearch").removeClass("fontColorOfPickItem");
            _sBuyerIDsAdvSearch ="";
        }
    });

    $("#btnClrSearchByBuyersAdvSearch").click(function () {
        $("#txtSearchByBuyersAdvSearch").removeClass("fontColorOfPickItem");
        $("#txtSearchByBuyersAdvSearch").val("");
        _sBuyerIDsAdvSearch ="";
    });

    $("#btnPickSearchByBuyersAdvSearch").click(function () {
        PickBuyerPIAdvSearch();
    });

    $("#txtSearchByBuyerNamePickerAdvSearch").keydown(function (e) {
        var obj = {
            Event: e,
            SearchProperty: "Name",
            GlobalObjectList: _oBuyers,
            TableId: "tblBuyersPickerAdvSearch"
        };
        $('#txtSearchByBuyerNamePickerAdvSearch').icsSearchByText(obj);
    });


    //Product Pick
    $("#txtProductName").keydown(function (e) {
        debugger;
        var code = (e.keyCode ? e.keyCode : e.which);
        if (code == 13) // Enter Press
        {
            if($('#txtProductName').val()==null || $('#txtProductName').val()=="")
            {
                alert("Please Type Product and Press Enter.");
                $('#txtProductName').focus();
                return;
            }
            PickProduct($('#txtProductName').val());
        }
        if (code == 8) //backspace=8
        {
            //debugger;
            $("#txtProductName").removeClass("fontColorOfPickItem");
            _sProductIds= [];
        }
    });
    $("#btnProductPiker").click(function () {
        PickProduct("");
    });
    $("#btnClrProductPiker").click(function () {
        $("#txtProductName").val('');
        $("#txtProductName").removeClass("fontColorOfPickItem");
        _sProductIds= [];
    });
    function PickProduct(sProductName)
    {
        var oProduct = { BUID:sessionStorage.getItem("BUID"),ProductName:sProductName};
        var obj = {
            BaseAddress: _sBaseAddress,
            Object: oProduct,
            ControllerName: "Product",
            ActionName: "SearchByProductBUWise",
            IsWinClose: false
        };
        $.icsDataGets(obj, function (response) {
            debugger;
            if (response.status && response.objs.length > 0) {
                if (response.objs[0].ProductID > 0) {
                    var tblColums = [];
                    var oColumn = { field: "ProductCode", title: "Code", width: 100, align: "left" }; tblColums.push(oColumn);
                    oColumn = { field: "ProductName", title: "Name", width: 300, align: "left" }; tblColums.push(oColumn);
                    oColumn = { field: "MUnit", title: "Unit", width: 70, align: "left" }; tblColums.push(oColumn);
                    var oPickerParam = {
                        winid: 'winProductPicker',
                        winclass: 'clsProductPicker',
                        winwidth: 600,
                        winheight: 460,
                        tableid: 'tblProductPicker',
                        tablecolumns: tblColums,
                        datalist: response.objs,
                        multiplereturn: true,
                        searchingbyfieldName: 'NameCode',
                        windowTittle: 'Product List'
                    };
                    $.icsPicker(oPickerParam);
                    IntializePickerbuttonPI(oPickerParam);
                }
                else {
                    alert(response.objs[0].ErrorMessage);
                }

            }else{
                alert("Data Not Found.");
            }
        });
    }

    //End Buyer Search
    $("#btnResetAdvSearch").click(function () {
        ResetAdvSearchWindow();
        DateActionsIssueDateAdvSearch();
        DateActionsValidityDateAdvSearch();
        //DateActionsLCDateAdvSearch();
        DateActionsStatusDateAdvSearch();
    });

    $("#btnSearchAdvSearch").click(function () {
        debugger;
        $('#tblExportPIAdvSearch').datagrid({ selectOnCheck: false, checkOnSelect: true });

        $(".lblLoadingMessage").show();
        DynamicRefreshList([], "tblExportPIAdvSearch");
        var checkDate = CheckFromAndToDateValidation("cboIssueDateAdvSearch", "txtFromIssueDateAdvSearch", "txtToIssueDateAdvSearch");
        if (!checkDate) {
            alert("Start date must be greater than end date.");
            return false;
        }
        checkDate = CheckFromAndToDateValidation("cboPODateAdvSearch", "txtFromIssueDateAdvSearch", "txtToPODateAdvSearch");
        if (!checkDate) {
            alert("Start date must be greater than end date.");
            return false;
        }
        checkDate = CheckFromAndToDateValidation("cboLCDateAdvSearch", "txtFromLCDateAdvSearch", "txtToLCDateAdvSearch");
        if (!checkDate) {
            alert("Start date must be greater than end date.");
            return false;
        }
        checkDate = CheckFromAndToDateValidation("cboStatusAdvSearch", "txtFromStatusDateAdvSearch", "txtToStatusDateAdvSearch");
        if (!checkDate) {
            alert("Start date must be greater than end date.");
            return false;
        }

        //var nContractorID = parseInt(_sContractorIds);
        //var nBuyerID = parseInt(_sBuyerIDsAdvSearch);
        var nCboIssueDate = parseInt($("#cboIssueDateAdvSearch").val());
        var dFromIssueDate = $('#txtFromIssueDateAdvSearch').datebox('getValue');
        var dToIssueDate = $('#txtToIssueDateAdvSearch').datebox('getValue');

        var nCboPODate = parseInt($("#cboPODateAdvSearch").val());
        var dFromPODate = $('#txtFromPODateAdvSearch').datebox('getValue');
        var dToPODate = $('#txtToPODateAdvSearch').datebox('getValue');

        //var nCboLCDate = parseInt($("#cboLCDateAdvSearch").val());
        //var dFromLCDate = $('#txtFromLCDateAdvSearch').datebox('getValue');
        //var dToLCDate = $('#txtToLCDateAdvSearch').datebox('getValue');

        //var nCboPIBank = parseInt($("#cboPIBankAdvSearch").val());
        //var ncboPaymentType = parseInt($("#cboPaymentType").val());
        //var nCboMkPerson = parseInt($("#cboMkPersonAdvSearch").val());

        var sCurrentStatus = "";
        var oPIStatus = $("#tblCurrentStatusAdvSearch").datagrid("getChecked");
        for (var i = 0; i < oPIStatus.length; i++) {
            sCurrentStatus = oPIStatus[i].id + "," +sCurrentStatus;
        }
        sCurrentStatus = sCurrentStatus.substring(0, sCurrentStatus.length - 1);

        //var bExportLCIsntCreateYet = $("#chkYetToDelivery").is(':checked');
        
        //var bYetNotMakeFEO = $("#chkYetToProduction").is(':checked');
        var sPINo ="";
        var sOrderNo ="";
        var sColorNo ="";
        var sParams = _sContractorIds + "~" +
                      _sBuyerIDsAdvSearch + "~" +
                      _sProductIds + "~" +
                      nCboIssueDate + "~" +
                      dFromIssueDate + "~" +
                      dToIssueDate + "~" +
                      nCboPODate + "~" +
                      dFromPODate + "~" +
                      dToPODate + "~" +
                      sCurrentStatus + "~" +
                      sPINo + "~" +
                      sOrderNo + "~" +
                      sColorNo + "~" +
                      _nBUID;
        sessionStorage.setItem("Params", sParams);
        var oPTUTracker = {
            ErrorMessage : sParams
        };

        $.ajax({
            type: "POST",
            dataType: "json",
            url: _sBaseAddress + "/PTUTracker/AdvSearch",
            traditional: true,
            data: JSON.stringify(oPTUTracker),
            contentType: "application/json; charset=utf-8",
            success: function (data) {
                var oPTUTrackers = data;
                if(oPTUTrackers.length<=0 || oPTUTrackers == null)
                {
                    DynamicRefreshList([],"tblExportPIs");
                    alert("Data not found");
                }
                else
                {
                    oPTUTrackers = oPTUTrackers;
                    DynamicRefreshList(oPTUTrackers,"tblExportPIs");
                    $("#winAdvSearchPTUTracking").icsWindow("close");
                }
                $(".lblLoadingMessage").hide();

            }
        });
    });

  

    $("#txtSearchByOrderNo").keydown(function (e) {
        var nkeyCode = e.keyCode || e.which;
        if(nkeyCode==13){

            _sContractorIds="";
            _sBuyerIDsAdvSearch="";
            _sProductIds="";
            var nCboIssueDate =0;
            var dFromIssueDate = $('#txtFromIssueDateAdvSearch').datebox('getValue');
            var dToIssueDate = $('#txtToIssueDateAdvSearch').datebox('getValue');

            var nCboPODate =0;
            var dFromPODate = $('#txtFromPODateAdvSearch').datebox('getValue');
            var dToPODate = $('#txtToPODateAdvSearch').datebox('getValue');


            var sCurrentStatus = "";
           

            var bExportLCIsntCreateYet = $("#chkYetToDelivery").is(':checked');
            var sStyleNo = $.trim($("#txtSearchByStyleNoAdvSearch").val());
            var bYetNotMakeFEO = $("#chkYetToProduction").is(':checked');
            var sPINo ="";
            var sOrderNo=$("#txtSearchByOrderNo").val();
            var  sColorNo ="";
            var sParams = _sContractorIds + "~" +
                          _sBuyerIDsAdvSearch + "~" +
                          _sProductIds + "~" +
                          nCboIssueDate + "~" +
                          dFromIssueDate + "~" +
                          dToIssueDate + "~" +
                          nCboPODate + "~" +
                          dFromPODate + "~" +
                          dToPODate + "~" +
                          sCurrentStatus + "~" +
                          sPINo + "~" +
                          sOrderNo + "~" +
                           sColorNo + "~" +
                          _nBUID;
            sessionStorage.setItem("Params", sParams);
            var oPTUTracker = {
                ErrorMessage : sParams
            };
            GetsOrders(oPTUTracker);
        }
        else if(nkeyCode==8){
            $("#txtSearchByOrderNo").val("");

        }
    });
    $("#txtSearchByPINo").keydown(function (e) {
        var nkeyCode = e.keyCode || e.which;
        if(nkeyCode==13){
            debugger;
          
            _sContractorIds="";
            _sBuyerIDsAdvSearch="";
            _sProductIds="";
            var nCboIssueDate =0;
            var dFromIssueDate = $('#txtFromIssueDateAdvSearch').datebox('getValue');
            var dToIssueDate = $('#txtToIssueDateAdvSearch').datebox('getValue');

            var nCboPODate =0;
            var dFromPODate = $('#txtFromPODateAdvSearch').datebox('getValue');
            var dToPODate = $('#txtToPODateAdvSearch').datebox('getValue');


            var sCurrentStatus = "";
           

            var bExportLCIsntCreateYet = $("#chkYetToDelivery").is(':checked');
            var sStyleNo = $.trim($("#txtSearchByStyleNoAdvSearch").val());
            var bYetNotMakeFEO = $("#chkYetToProduction").is(':checked');
            var sPINo =$("#txtSearchByPINo").val();
            var sOrderNo ="";
            var  sColorNo ="";
            var sParams = _sContractorIds + "~" +
                          _sBuyerIDsAdvSearch + "~" +
                          _sProductIds + "~" +
                          nCboIssueDate + "~" +
                          dFromIssueDate + "~" +
                          dToIssueDate + "~" +
                          nCboPODate + "~" +
                          dFromPODate + "~" +
                          dToPODate + "~" +
                          sCurrentStatus + "~" +
                          sPINo + "~" +
                          sOrderNo + "~" +
                          sColorNo + "~" +
                          _nBUID;
            sessionStorage.setItem("Params", sParams);
            var oPTUTracker = {
                ErrorMessage : sParams
            };
            GetsOrders(oPTUTracker);
        }
        else if(nkeyCode==8){
            $("#txtSearchByPINo").val("");

        }
    });
    $("#txtSearchByColorNo").keydown(function (e) {
        var nkeyCode = e.keyCode || e.which;
        if(nkeyCode==13){
            debugger;
          
            _sContractorIds="";
            _sBuyerIDsAdvSearch="";
            _sProductIds="";
            var nCboIssueDate =0;
            var dFromIssueDate = $('#txtFromIssueDateAdvSearch').datebox('getValue');
            var dToIssueDate = $('#txtToIssueDateAdvSearch').datebox('getValue');

            var nCboPODate =0;
            var dFromPODate = $('#txtFromPODateAdvSearch').datebox('getValue');
            var dToPODate = $('#txtToPODateAdvSearch').datebox('getValue');


            var sCurrentStatus = "";
           

            var bExportLCIsntCreateYet = $("#chkYetToDelivery").is(':checked');
            var sStyleNo = $.trim($("#txtSearchByStyleNoAdvSearch").val());
            var bYetNotMakeFEO = $("#chkYetToProduction").is(':checked');
            var sPINo ="";
            var sOrderNo ="";
            var  sColorNo =$("#txtSearchByColorNo").val();
            var sParams = _sContractorIds + "~" +
                          _sBuyerIDsAdvSearch + "~" +
                          _sProductIds + "~" +
                          nCboIssueDate + "~" +
                          dFromIssueDate + "~" +
                          dToIssueDate + "~" +
                          nCboPODate + "~" +
                          dFromPODate + "~" +
                          dToPODate + "~" +
                          sCurrentStatus + "~" +
                          sPINo + "~" +
                          sOrderNo + "~" +
                          sColorNo + "~" +
                          _nBUID;
            sessionStorage.setItem("Params", sParams);
            var oPTUTracker = {
                ErrorMessage : sParams
            };
            GetsOrders(oPTUTracker);
        }
        else if(nkeyCode==8){
            $("#txtSearchByColorNo").val("");

        }
    });
    function GetsOrders(oPTUTracker)
    {
        $.ajax
          ({
              type: "POST",
              dataType: "json",
              url : _sBaseAddress+"/PTUTracker/AdvSearch",
              data:  JSON.stringify(oPTUTracker),
              contentType: "application/json; charset=utf-8",
              success: function (data) {
                  //debugger;
                  var oPTUTrackers = data;
                  if (oPTUTrackers.length>0)
                  {
                      DynamicRefreshList(oPTUTrackers, 'tblPTUTrackers');
                  }
                  else
                  {
                      alert("Data Not found");
                      DynamicRefreshList([], 'tblPTUTrackers');
                  }
              },
              error: function (xhr, status, error)
              {
                  alert(error);
              }
          });
    }

    $("#btnOkAdvSearch").click(function() {
        var oExportPIs = $("#tblExportPIAdvSearch").datagrid('getChecked');
        if (oExportPIs.length > 0) {
            $("#winAdvSearchPTUTracking").icsWindow("close");
            if (_sControllerName == "ExportPIReport") {
                DynamicRefreshList(oExportPIs, "tblExportPIs");
            }
            else {
                DynamicRefreshList(oExportPIs, "tblExportPIs");
            }
        }
        else {
            alert("Please select minimum one item from list.");
            return false;
        }
    });


    function LoadAllComboExportPIAdv()
    {


        $("#cboIssueDateAdvSearch, #cboPODateAdvSearch, #cboStatusAdvSearch").icsLoadCombo({
            List: _oCompareOperators,
            OptionValue: "id",
            DisplayText: "Value"
        });

    }
    function CheckFromAndToDateValidation(OperationComboId, FromDateId, ToDateId) {
        $("#" + OperationComboId).parent().parent().parent().find("select").removeClass("errorFieldBorder");
        var nCboVal = $("#" + OperationComboId).val();
        if (parseInt(nCboVal) == 5 || parseInt(nCboVal) == 6) {
            var fromDate = $("#" + FromDateId).datebox("getValue");
            var toDate = $("#" + ToDateId).datebox("getValue");
            if (new Date(fromDate) > new Date(toDate)) {
                $("#" + ToDateId).focus();
                $("#" + OperationComboId).addClass("errorFieldBorder");
                $(".lblLoadingMessage").hide();
                return false;
            } else {
                $("#" + OperationComboId).removeClass("errorFieldBorder");
                return true;
            }
        } else {
            return true;
        }
    }

    function ResetAdvSearchWindow() {
        _sContractorIds = '';
        _sBuyerIDsAdvSearch = "";
        _sProductIds="";
        $("#winAdvSearchPTUTracking input").not("input[type='button']").val("");
        $("#winAdvSearchPTUTracking input").removeClass("fontColorOfPickItem");
        $("#winAdvSearchPTUTracking select").val(0);
        //$('#cboPITypeAdv').val(-1);//reset None
        DateActionsIssueDateAdvSearch();
        DateActionsValidityDateAdvSearch();
        //DateActionsLCDateAdvSearch();
        DynamicRefreshList([],"tblExportPIAdvSearch");
        //$('#chkYetToDelivery,#chkYetToProduction').prop('checked', false);
        $("#txtFromIssueDateAdvSearch,#txtToIssueDateAdvSearch,#txtFromPODateAdvSearch,#txtToPODateAdvSearch,#txtFromLCDateAdvSearch,#txtToLCDateAdvSearch").datebox({ disabled: true });
        $("#txtFromIssueDateAdvSearch,#txtToIssueDateAdvSearch,#txtFromPODateAdvSearch,#txtToPODateAdvSearch,#txtFromLCDateAdvSearch,#txtToLCDateAdvSearch").datebox("setValue", icsdateformat(new Date()));
        DynamicRefreshList([], "tblCurrentStatusAdvSearch");
        DynamicRefreshList(_oPIStatusObjs, "tblCurrentStatusAdvSearch");
    }

    function PickAccountOfPIAdvSearch() {
        var oContractor = {
            Params: '2,3' + '~' + $.trim($("#txtContractorAdvS").val()+"~"+_nBUID)
        };
        var obj = {
            BaseAddress: _sBaseAddress,
            Object: oContractor,
            ControllerName: "Contractor",
            ActionName: "ContractorSearchByNameType",
            IsWinClose: false
        };

        $("#progressbar").progressbar({ value: 0 });
        $("#progressbarParent").show();
        var intervalID = setInterval(updateProgress, 250);

        DynamicRefreshList([], "tblAccountsPickerAdvSearch");
        $.icsDataGets(obj, function (response) {
            clearInterval(intervalID);
            $("#progressbarParent").hide();
            if (response.status && response.objs.length > 0) {
                if (response.objs[0].ContractorID > 0) {
                    var tblColums = []; var oColumn = { field: "ContractorID", title: "Code", width: 50, align: "left" }; tblColums.push(oColumn);
                    oColumn = { field: "Name", title: "Name", width: 280, align: "left" }; tblColums.push(oColumn);

                    var oPickerParam = {
                        winid: 'winAccountOfs',
                        winclass: 'clsAccountOf',
                        winwidth: 400,
                        winheight: 460,
                        tableid: 'tblAccountOfs',
                        tablecolumns: tblColums,
                        datalist: response.objs,
                        multiplereturn: true,
                        searchingbyfieldName: 'Name',
                        windowTittle: 'Contactor List'
                    };
                    $.icsPicker(oPickerParam);
                    IntializePickerbuttonPI(oPickerParam);
                }
                else {
                    alert(response.objs[0].ErrorMessage);
                }
            }
            else {
                alert("Sorry, No Contactor Found.");
            }
        });
    }

    function PickBuyerPIAdvSearch() {
        var oContractor = {
            Params: '2' + '~' + $.trim($("#txtSearchByBuyersAdvSearch").val()+"~"+_nBUID)
        };
        var obj = {
            BaseAddress: _sBaseAddress,
            Object: oContractor,
            ControllerName: "Contractor",
            ActionName: "ContractorSearchByNameType",
            IsWinClose: false
        };
        $("#progressbar").progressbar({ value: 0 });
        $("#progressbarParent").show();
        var intervalID = setInterval(updateProgress, 250);
        DynamicRefreshList([], "tblContractorsPickerAdvSearch");
        $.icsDataGets(obj, function (response) {
            clearInterval(intervalID);
            $("#progressbarParent").hide();
            if (response.status && response.objs.length > 0) {
                if (response.objs[0].ContractorID > 0) {
                    var tblColums = []; var oColumn = { field: "ContractorID", title: "Code", width: 50, align: "left" }; tblColums.push(oColumn);
                    oColumn = { field: "Name", title: "Name", width: 280, align: "left" }; tblColums.push(oColumn);
                    var oPickerParam = {
                        winid: 'winBuyers',
                        winclass: 'clsBuyer',
                        winwidth: 400,
                        winheight: 460,
                        tableid: 'tblBuyers',
                        tablecolumns: tblColums,
                        datalist: response.objs,
                        multiplereturn: true,
                        searchingbyfieldName: 'Name',
                        windowTittle: 'Buyer List'
                    };
                    $.icsPicker(oPickerParam);
                    IntializePickerbuttonPI(oPickerParam);
                }
                else {
                    alert(response.objs[0].ErrorMessage);
                }
            }
            else {
                alert("Sorry, No Contactor Found.");
            }
        });
    }

    function IntializePickerbuttonPI(oPickerobj) {
        $("#" + oPickerobj.winid).find("#btnOk").click(function () {
            SetPickerValueAssignPI(oPickerobj);
        });
        $(document).find('.' + oPickerobj.winclass).keydown(function (e) {
            if (e.which === 13) {
                SetPickerValueAssignPI(oPickerobj);
            }
        });
    }

    function SetPickerValueAssignPI(oPickerobj) {
        var oreturnObj = null, oreturnObjs = [];
        if (oPickerobj.multiplereturn) {
            oreturnObjs = $('#' + oPickerobj.tableid).datagrid('getChecked');
        } else {
            oreturnObj = $('#' + oPickerobj.tableid).datagrid('getSelected');
        }

        if (oPickerobj.winid == 'winAccountOfs')
        {
            if (oreturnObjs != null && oreturnObjs.length> 0)
            {

                _sContractorIds=''; var sMessage='';
                sMessage=(oreturnObjs.length>1)? oreturnObjs.length +" Contractors Selected" : oreturnObjs[0].Name;
                $('#txtContractorAdvS').val(sMessage);
                $("#txtContractorAdvS").addClass("fontColorOfPickItem");

                for(var i=0;i<oreturnObjs.length;i++){
                    _sContractorIds=_sContractorIds+oreturnObjs[i].ContractorID+',';
                }
                _sContractorIds=_sContractorIds.substring(0,_sContractorIds.length-1);

            }
            else
            {
                alert("Please select a contractor.");
                return false;
            }
        }
        else if (oPickerobj.winid == 'winBuyers')
        {
            if (oreturnObjs != null && oreturnObjs.length> 0)
            {
                _sBuyerIDsAdvSearch='';
                var sMessage='';
                sMessage=(oreturnObjs.length>1)? oreturnObjs.length +" Contractors Selected" : oreturnObjs[0].Name;
                $('#txtSearchByBuyersAdvSearch').val(sMessage);
                $("#txtSearchByBuyersAdvSearch").addClass("fontColorOfPickItem");

                for(var i=0;i<oreturnObjs.length;i++){
                    _sBuyerIDsAdvSearch=_sBuyerIDsAdvSearch+oreturnObjs[i].ContractorID+',';
                }
                _sBuyerIDsAdvSearch=_sBuyerIDsAdvSearch.substring(0,_sBuyerIDsAdvSearch.length-1);



            }
            else
            {
                alert("Please select a buyer.");
                return false;
            }
        }
        else if (oPickerobj.winid == 'winProductPicker')
        {
            if (oreturnObjs!= null && oreturnObjs.length> 0)
            {
                _sProductIds=''; var sMessage='';
                sMessage=(oreturnObjs.length>1)? oreturnObjs.length +" ProductName Selected" : oreturnObjs[0].ProductName;
                $('#txtProductName').val(sMessage);
                $("#txtProductName").addClass("fontColorOfPickItem");

                for(var i=0;i<oreturnObjs.length;i++){
                    _sProductIds=_sProductIds+oreturnObjs[i].ProductID+',';
                }
                _sProductIds=_sProductIds.substring(0,_sProductIds.length-1);

            }
            else
            {
                alert("Please select a Product.");
                return false;
            }

        }

        $("#" + oPickerobj.winid).icsWindow("close");
        $("#" + oPickerobj.winid).remove();
    }

    function DateActionsIssueDateAdvSearch() {
        DynamicDateActions("cboIssueDateAdvSearch", "txtFromIssueDateAdvSearch", "txtToIssueDateAdvSearch");
    }

    function DateActionsValidityDateAdvSearch() {
        DynamicDateActions("cboPODateAdvSearch", "txtFromPODateAdvSearch", "txtToPODateAdvSearch");
    }

    //function DateActionsLCDateAdvSearch() {
    //    DynamicDateActions("cboLCDateAdvSearch", "txtFromLCDateAdvSearch", "txtToLCDateAdvSearch");
    //}
    function DateActionsStatusDateAdvSearch() {
        DynamicDateActions("cboStatusAdvSearch", "txtFromStatusDateAdvSearch", "txtToStatusDateAdvSearch");
    }

    $("#btnCloseAdvSearch").click(function () {
        $("#winAdvSearchPTUTracking").icsWindow("close");
    });

    //Operations

    $("#btnAdvSearchExportPI").click(function () {
        debugger;
        $("#winAdvSearchPTUTracking").icsWindow("open", "Export PI Advance Search");
        DynamicRefreshList([], "tblExportPIAdvSearch");
        DynamicResetAdvSearchWindow("winAdvSearchPTUTracking");
        DynamicDateActions("cboDateOptionAdvSearch", "txtFromDateAdvSearch", "txtToDateAdvSearch");
        DynamicDateActions("cboPODateAdvSearch", "txtFromPODateAdvSearch", "txtToPODateAdvSearch");
        DynamicDateActions("cboLCDateAdvSearch", "txtFromLCDateAdvSearch", "txtToLCDateAdvSearch");
        DynamicDateActions("cboStatusAdvSearch", "txtFromStatusDateAdvSearch", "txtToStatusDateAdvSearch");
        ResetAdvSearchWindow();
    });

    ////

    $("#btnPOLoad").click(function () {
        debugger;
        var oPTU= $('#tblPTUTrackers').datagrid('getSelected');
        if(oPTU==null)
        {
            alert("Please select a item from list!");
            return ;
        }
        DynamicRefreshList([],'tblPODetails');
        GetsPODetails(oPTU);
        RefreshControl(oPTU);
    });

    $("#btnView_DO").click(function () {
        debugger;
        var oPTU= $('#tblPTUTrackers').datagrid('getSelected');
        if(oPTU==null)
        {
            alert("Please select a item from list!");
            return ;
        }
        DynamicRefreshList([], 'tblPODetails');
        GetsPODetails(oPTU);
        RefreshControl(oPTU);
        $("#winDyeingOrderDetail").icsWindow('open', "Color Information");
    });

    function RefreshControl(oPTU)
    {
        $('#txtProductNamePTU').val(oPTU.ProductName);
        $('#txtColorPTU').val(oPTU.ColorNameShade);
        $('#txtColorNoPTU').val(oPTU.ColorNameShade);
        $('#txtOrderQty').val(formatPrice(oPTU.OrderQty,null));
        $('#txtYetToPro').val(formatPrice(oPTU.YetToProduction,null));
        $('#txtProPP').val(formatPrice(oPTU.ProductionPipeLineQty,null));
        $('#txtDeliveryQty').val(formatPrice(oPTU.DeliveryQty,null));
    }

    function GetsPODetails(oPTU)
    {
        debugger;
        var obj = {
            BaseAddress: _sBaseAddress,
            Object: oPTU,
            ControllerName: "PTUTracker",
            ActionName: "GetsPODetails",
            IsWinClose: false
        };
        $.icsDataGets(obj, function (response) {
            debugger;
            if (response.status && response.objs.length > 0)
            {
                var oDODetails= response.objs;
                DynamicRefreshList(oDODetails, 'tblPODetails');
            }
        });

    }

    //RS Gets
    $("#btnLoad_RS").click(function () {
        LoadRS();
    });
    function LoadRS()
    {
        var oIRP= $('#tblPTUTrackers').datagrid('getSelected');
        if(oIRP==null)
        {
            alert("Please select a item from list!");
            return ;
        }
        DynamicRefreshList([], 'tblLots');
        GetsRS(oIRP);
        RefreshControl(oIRP)
    }
    function GetsRS(oIRP)
    {
        var obj = {
            BaseAddress: _sBaseAddress,
            Object: oIRP,
            ControllerName: "PTUTracker",
            ActionName: "GetsRSs",
            IsWinClose: false
        };
        $.icsDataGets(obj, function (response) {
            debugger;
            if (response.status && response.objs.length > 0)
            {
                var oRSs= response.objs;
                DynamicRefreshList(oRSs, 'tblRSs');
            }
        });
    }
    //end Gets RS
    //RS Lots
    $("#btnLoad_RS").click(function () {
        LoadRS();
    });
    function LoadRS()
    {
        var oIRP= $('#tblPTUTrackers').datagrid('getSelected');
        if(oIRP==null)
        {
            alert("Please select a item from list!");
            return ;
        }
        DynamicRefreshList([], 'tblLots');
        GetsRS(oIRP);
        RefreshControl(oIRP)
    }
    function GetsRS(oIRP)
    {
        var obj = {
            BaseAddress: _sBaseAddress,
            Object: oIRP,
            ControllerName: "PTUTracker",
            ActionName: "GetsRSs",
            IsWinClose: false
        };
        $.icsDataGets(obj, function (response) {
            debugger;
            if (response.status && response.objs.length > 0)
            {
                var oRSs= response.objs;
                DynamicRefreshList(oRSs, 'tblRSs');
            }
        });
    }
    //end Gets Lots

    //Gets Lot
    //// Lots Gets
    $("#btnLoad_Lot").click(function () {
        Load_Lot();
    });
    function Load_Lot()
    {
        var oIRP= $('#tblPTUTrackers').datagrid('getSelected');
        if(oIRP==null)
        {
            alert("Please select a item from list!");
            return ;
        }
        DynamicRefreshList([], 'tblLots');
        GetsLots(oIRP);
        RefreshControl(oIRP)
    }
    function GetsLots(oIRP)
    {
        var obj = {
            BaseAddress: _sBaseAddress,
            Object: oIRP,
            ControllerName: "PTUTracker",
            ActionName: "GetsLots",
            IsWinClose: false
        };
        $.icsDataGets(obj, function (response) {
            debugger;
            if (response.status && response.objs.length > 0)
            {
                var oLotDetails= response.objs;
                DynamicRefreshList(oLotDetails, 'tblLots');
            }
        });
    }
    //End Gets Lot
    function TabClick()
    {
        debugger;
        var tab = $('#tabReportDetail').tabs('getSelected');
        var index = $('#tabReportDetail').tabs('getTabIndex', tab);
        if (parseInt(index)==1)
        {
            LoadRS();
        }
    }


    $("#btnClose_Detail").click(function () {
        debugger;

        $("#winDyeingOrderDetail").icsWindow('close');
    });

    $("#btnPrintXL").click(function () 
    {
        var sParams=sessionStorage.getItem("Params");
        window.open(_sBaseAddress + '/PTUTracker/PrintRpt_Excel_Bulk?sTempString=' + sParams, "_blank");
    });
</script>