

@{
    ViewBag.Title = "Employees List";
}
@model IEnumerable<ESimSol.BusinessObjects.Employee>
    <div class="PageHeading">
    <table border="0">
        <tr>
            <td style="width:200px">@Html.ActionLink("Create New", "Add")</td>
            <td style="width:700px" class="Headline"> Employees List</td>
        </tr>
    </table>
</div>
    <div class="PageBody"> 
    <div style="margin-left:20px;margin-right:20px">    
    <table id="myTable" class="tablesorterblue">
    <thead> 
        <tr>        
            <th> Code</th>
            <th> Employee Name</th>
            <th> Employee Type</th>                 
            <th> Address</th>                 
            <th> Contact No</th>  
            <th> Email</th>  
            <th> Location </th>                     
            <th style="width:18px"></th>
            <th style="width:18px"></th>
            <th style="width:18px"></th>             
        </tr>
    </thead>
    <tbody>
    @{var bHasCollection = false; }
    @foreach (var item in Model){
        bHasCollection = true;
        <tr>
            <td>@Html.DisplayFor(modelItem => item.Code)</td>
            <td>@Html.DisplayFor(modelItem => item.Name)</td>
            <td>@Html.DisplayFor(modelItem => item.EmployeeType)</td>                        
            <td>@Html.DisplayFor(modelItem => item.Address)</td>                        
            <td>@Html.DisplayFor(modelItem => item.ContactNo)</td> 
            <td>@Html.DisplayFor(modelItem => item.EmailAddress)</td>             
            <td>@Html.DisplayFor(modelItem => item.LocationNameCode)</td>                                   
            <td>
                @Html.ActionLink(" ", "Edit", new { id = item.EmployeeID }, new { @class = "edit-item-link", @title = "Edit" })
            </td> 
            <td>  
                @Html.ActionLink(" ", "Details", new { id = item.EmployeeID }, new { @class = "detail-item-link", @title = "Details" })   
            </td>
            <td>
                @Html.ActionLink(" ", "Delete", new { id = item.EmployeeID }, new { @class = "delete-item-link", @title = "Delete" })              
            </td>
        </tr>
    }
    @if (!bHasCollection)
    {
        <tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
    }

    </tbody>
    </table> 
</div> 
</div>
    <div class="PageFooter">
<div style="margin-left:20px;margin-right:20px">
    <table>
        <tr>
            <td style="width:500px">
            <div id="pager" class="tablesorterPager">
	            <form>
		            <img src="../../Content/Images/TableSorter/first.png" class="first"/>
		            <img src="../../Content/Images/TableSorter/prev.png" class="prev"/>
		            <input type="text" class="pagedisplay"/>
		            <img src="../../Content/Images/TableSorter/next.png" class="next"/>
		            <img src="../../Content/Images/TableSorter/last.png" class="last"/>
		            <select class="pagesize">
			            <option selected="selected"  value="20">20</option>                                
			            <option value="30">30</option>
			            <option value="40">40</option>               
		            </select>
	            </form>
            </div>
            </td>            
            <td style="width:400px; text-align:right">
                @Html.ActionLink("Refresh Employee List", "RefreshList", "Employee")
            </td>
        </tr>
    </table>
    
</div>
</div>



<script type="text/javascript">
    $(document).ready(function () {
        $("#myTable")
    .tablesorter({ widthFixed: true, widgets: ['zebra'] })
    .tablesorterPager({ container: $("#pager") });
    });
</script>