<html>
@{
    ViewBag.Title = "Transfer Registers";
}
<body>
    @model ESimSol.BusinessObjects.TransferRequisitionSlipRegister
    <div id="progbarParent" style="width:100%;height:100%;margin:0 auto;text-align:center; margin-left: auto;margin-right: auto;left: 0;right: 0;z-index: 1;">
        <div style="margin: 0px auto;margin-top: 251px;text-align:center;width:390px;">
            <label style="font-size:18px;">Please wait</label>
            <div id="progbar" style="width:100%;height:37px;"></div>
        </div>
    </div>
    <div class="menuMainCollectionTable">
        <div class="easyui-panel" title="Transfer Registers" id="divTRSR" style="font-family:Tahoma; text-align:center; height:88%;">
            <fieldset style="height:95%; text-align:center;">
                <legend style="font-weight:bold"> Serching Criteria : </legend>
                <table border="0" cellspacing="2" cellpadding="2" style="font-size:11px; font-weight:bold; text-align:center; width:95%">
                    <tr>
                        <td colspan="5" style="height:20px;"></td>                        
                    </tr>
                    <tr>
                        <td style="width:15%;text-align:right"> TRS No :</td>
                        <td style="width:30%;text-align:left"> 
                            <input type="text" style="width:98%" id="txtTRSNO" />
                        </td>
                        <td style="width:5%;text-align:right"></td>
                        <td style="width:12%;text-align:right"> Issue Date :</td>
                        <td style="width:38%;text-align:right">
                            <table border="0" cellpadding="1" cellspacing="1" width="100%">
                                <tr>
                                    <td style="width:30%; text-align:center">
                                        <select id="cboChallanIssueDate" style="width:100%"> </select>
                                    </td>
                                    <td style="width:30%; text-align:center">
                                        <input id="txtChallanIssueDateStart" type="text" class="easyui-datebox" required="required" data-options="formatter:icsdateformat,parser:icsdateparser" style=" width:100%;" />
                                    </td>
                                    <td style="width:10%; text-align:center">to</td>
                                    <td style="width:30%; text-align:center">
                                        <input id="txtChallanIssueDateEnd" type="text" class="easyui-datebox" required="required" data-options="formatter:icsdateformat,parser:icsdateparser" style=" width:100%;" />
                                    </td>
                                </tr>
                            </table> 
                        </td>
                    </tr>
                    
                    <tr>
                        <td style="width:15%;text-align:right"> Product :</td>
                        <td style="width:30%;text-align:left">
                            <table border="0" cellpadding="0" cellspacing="0" style="width:100%">
                                <tr>
                                    <td style="width:70%; text-align:left">
                                        <input type="text" style="width:98%" id="txtProduct" placeholder="Press enter with product name" />
                                    </td>
                                    <td style="width:30%; text-align:right">
                                        <input type="button" value="C" style="width:30%" id="btnClearProduct" />
                                        <input type="button" value="Pick" style="width:65%" id="btnPickProduct" />
                                    </td>
                                </tr>
                            </table>
                        </td>
                        <td style="width:5%;text-align:right"></td>
                        <td style="width:12%;text-align:right">Issue Store:</td>
                        <td style="width:38%;text-align:right">
                            <table border="0" cellpadding="0" cellspacing="0">
                                <tr>
                                    <td style="width:90%"><input id="txtIssueWorkingUnit" style="width:100%;" type="text" placeholder="Type Issue store & Press Enter" /></td>
                                    <td style="width:10%"><input type="button" id="btnPickIssueWorkingUnit" value="Pick" /></td>
                                </tr>
                            </table>
                        </td>
                    </tr>

                    <tr>
                        <td style="width:15%;text-align:right">Approved By :</td>
                        <td style="width:30%;text-align:left">
                            <select id="cboApproveBy" style="width:100%">  </select>
                        </td>
                        <td style="width:5%;text-align:right"></td>
                        <td style="width:12%;text-align:right">Challan Status:</td>
                        <td style="width:38%;text-align:right">
                            <select id="cboRequisitionStatus" style="width:100%">  </select>
                        </td>
                    </tr>
                    <tr>
                        <td style="width:15%;text-align:right">Received Store :</td>
                        <td style="width:30%;text-align:left">
                            @*<select id="cboReceivedStores" style="width:100%"></select>*@
                            <table border="0" cellpadding="0" cellspacing="0">
                                <tr>
                                    <td style="width:90%"><input id="txtReceiveWorkingUnit" style="width:100%;" type="text" placeholder="Type Receive store & Press Enter" /></td>
                                    <td style="width:10%"><input type="button" id="btnPickReceiveWorkingUnit" value="Pick" /></td>
                                </tr>
                            </table>
                        </td>
                        <td style="width:5%;text-align:right"></td>
                        <td style="width:12%;text-align:right">Received By:</td>
                        <td style="width:38%;text-align:right">
                            <select id="cboReceivedBy" style="width:100%">  </select>
                        </td>
                    </tr>
                    <tr>
                        <td style="width:15%;text-align:right">Requisition Type :</td>
                        <td style="width:30%;text-align:left">
                            <select id="cboRequisitionType" style="width:100%"></select>
                        </td>
                        <td style="width:5%;text-align:right"></td>
                        <td style="width:12%;text-align:right">Product Category:</td>
                        <td style="width:38%;text-align:right">
                            <select id="cboProductCategory" class="easyui-combotree" style="width:100%" ></select>
                        </td>
                    </tr>

                    <tr>
                        <td style="width:15%;text-align:right">Style(s) :</td>
                        <td style="width:30%;text-align:left">
                            <table border="0" cellpadding="0" cellspacing="0" style="width:100%">
                                <tr>
                                    <td style="width:80%; text-align:left">
                                        <input type="text" style="width:100%" id="txtStyle" placeholder="Press enter with Style No" />
                                    </td>
                                    <td style="width:20%; text-align:right">
                                        <input type="button" value="Pick" style="width:100%" id="btnPickStyle" />
                                    </td>
                                </tr>
                            </table>
                        </td>
                        <td style="width:5%;text-align:right"></td>
                        <td style="width:12%;text-align:right"> Remarks :</td>
                        <td style="width:38%;text-align:right">
                            <input type="text" id="txtRemarks" style="width:99%" />
                        </td>
                    </tr>
                    <tr>
                        <td style="width:15%;text-align:right"> Brand Name :</td>
                        <td style="width:30%;text-align:left">
                            <input type="text" id="txtBrandName" style="width:100%" placeholder="Please Enter The Brand Name"/>
                        </td>
                        <td style="width:5%;text-align:right"></td>
                        <td style="width:12%;text-align:right"> Color:</td>
                        <td style="width:38%;text-align:right">
                            <input type="text" id="txtColorName" style="width:100%" placeholder="Please Enter Color Number"/>
                        </td>
                    </tr>
                    <tr>
                        <td style="width:15%;text-align:right"> Lot No :</td>
                        <td style="width:30%;text-align:left">
                            <input type="text" id="txtLotNo" style="width:100%" placeholder="Please Enter The Lot Number" />
                        </td>
                        <td style="width:5%;text-align:right"></td>
                        <td style="width:12%;text-align:right">Supplier:</td>
                        <td style="width:38%;text-align:right">
                            <table border="0" cellpadding="0" cellspacing="0" style="width:100%">
                                <tr>
                                    <td style="width:80%; text-align:left">
                                        <input type="text" style="width:100%" id="txtSupplierName" placeholder="Type Supplier Name & Press Enter" />
                                    </td>
                                    <td style="width:20%; text-align:right">
                                        <input type="button" value="Pick" style="width:100%" id="btnPickSupplier" />
                                    </td>
                                </tr>
                            </table>
                        </td>
                    </tr>
                    <tr>
                        <td style="width:15%;text-align:right"> Report Layout :</td>
                        <td style="width:30%;text-align:left">
                            <select id="cboReportLayout" style="width:100%">  </select>
                        </td>
                        <td style="width:5%;text-align:right"></td>
                        <td style="width:12%;text-align:right"></td>
                        <td style="width:38%;text-align:right">
                        </td>
                    </tr>
                </table>
            </fieldset>
        </div>
        <fieldset>
            <legend style="font-weight:bold"> Action : </legend>
            <table border="0" cellspacing="2" cellpadding="2" style="font-size:11px; font-weight:bold; width:100%;">
                <tr>
                    <td style="width:50%;text-align:right">   
                    </td>
                    <td style="width:50%;text-align:right">
                        <a id="btnPreview" href="javascript:void(0)" class="easyui-linkbutton" iconcls="icon-print" plain="true">Preview</a>
                        <a id="btnExportToExcel" href="javascript:void(0)" class="easyui-linkbutton" iconcls="icon-excel" plain="true">Export to Excel</a>
                        <a id="btnClose" href="javascript:void(0)" class="easyui-linkbutton" iconcls="icon-cancel" plain="true">Close</a>
                    </td>
                </tr>
            </table>
        </fieldset>
    </div>
</body>
</html>

<style>
    td, th {
        padding: 2px;
    }
</style>
<script type="text/javascript">
    var _sBaseAddress="";
    $(document).ready(function () {
        var nBUID =@Html.Raw(new System.Web.Script.Serialization.JavaScriptSerializer().Serialize(ViewBag.BUID));
        var oApprovalUsers = @Html.Raw(new System.Web.Script.Serialization.JavaScriptSerializer().Serialize(ViewBag.ApprovalUsers));
        var oReceivedUsers = @Html.Raw(new System.Web.Script.Serialization.JavaScriptSerializer().Serialize(ViewBag.ReceivedUsers));
        var oReportLayouts = @Html.Raw(new System.Web.Script.Serialization.JavaScriptSerializer().Serialize(ViewBag.ReportLayouts));
        var oCompareOperators = @Html.Raw(new System.Web.Script.Serialization.JavaScriptSerializer().Serialize(ViewBag.CompareOperators));
        var oTransferRequisitionSlipStates = @Html.Raw(new System.Web.Script.Serialization.JavaScriptSerializer().Serialize(ViewBag.TransferRequisitionSlipStates));
        _sBaseAddress =@Html.Raw( new System.Web.Script.Serialization.JavaScriptSerializer().Serialize(HttpContext.Current.Session[SessionInfo.BaseAddress]));
        var oRequisitionTypes =@Html.Raw(new System.Web.Script.Serialization.JavaScriptSerializer().Serialize(ViewBag.RequisitionTypes));

        $("#progbar").progressbar({ value: 0 });
        $("#progbarParent").hide();
        $('#txtStyle').data('TechnicalSheets',[]);
        $("#cboRequisitionType").icsLoadCombo({ List: oRequisitionTypes, OptionValue: "id", DisplayText: "Value" });
        $("#cboChallanIssueDate").icsLoadCombo({ List: oCompareOperators, OptionValue: "id", DisplayText: "Value" });
        $("#cboChallanApprovedDate").icsLoadCombo({ List: oCompareOperators, OptionValue: "id", DisplayText: "Value" });
        $('#txtIssueWorkingUnit').data("WorkingUnitIDs","");
        $('#txtReceiveWorkingUnit').data("WorkingUnitIDs","");
        $('#divTRSR').data("StoreType",0);
        $('#txtSupplierName').data("ContractorIDs","");
        $("#cboApproveBy").icsLoadCombo({ List: oApprovalUsers, OptionValue: "UserID", DisplayText: "UserName" });
        $("#cboReceivedBy").icsLoadCombo({ List: oReceivedUsers, OptionValue: "UserID", DisplayText: "UserName" });
        var ListItems = "<option value=-1>--Select One--</option>";
        for(var i =0;i<oTransferRequisitionSlipStates.length;i++)
        {
            ListItems+="<option value='"+oTransferRequisitionSlipStates[i].id+"'>"+oTransferRequisitionSlipStates[i].Value+"</option>";
        }
        $("#cboRequisitionStatus").html(ListItems);
        $("#cboRequisitionStatus").val(-1);
        $("#cboReportLayout").icsLoadCombo({ List: oReportLayouts, OptionValue: "id", DisplayText: "Value" });

        $('#txtChallanIssueDateStart').datebox({ disabled : true });
        $('#txtChallanIssueDateEnd').datebox({ disabled : true });

        $('#txtChallanIssueDateStart').datebox('setValue', icsdateformat(new Date()));
        $('#txtChallanIssueDateEnd').datebox('setValue', icsdateformat(new Date()));

        RefreshProductCategory();
        $('#txtProduct').data('Products', []);

    });


    function RefreshProductCategory()
    {
        var oProductCategory ={  ProductCategoryID: 0, BusinessUnitID:sessionStorage.getItem('BUID') };
        $.ajax
        ({
            type: "POST",
            dataType: "json",
            url : sessionStorage.getItem("BaseAddress")+  "/ProductCategory/GetsProductCategoryForCombo",
            data:  JSON.stringify(oProductCategory),
            contentType: "application/json; charset=utf-8",
            success: function (data) {
                var oProductCategorys = jQuery.parseJSON(data);
                if(oProductCategorys!=null)
                {
                    $('#cboProductCategory').combotree('loadData', oProductCategorys);
                }
            },
            error: function (xhr, status, error)
            {
                alert(error);
            }
        });
    }


    function ValidateSearch()
    {

        var nChallanIssueDate = parseInt($('#cboChallanIssueDate').val());
        if(nChallanIssueDate===1 || nChallanIssueDate===2 || nChallanIssueDate===3 || nChallanIssueDate===4)
        {
            var sChallanIssueDateStart   = $('#txtChallanIssueDateStart').datebox('getValue');
            if(sChallanIssueDateStart===null || sChallanIssueDateStart==="")
            {
                alert("Please select Challan start date!");
                $('#txtChallanIssueDateStart').focus();
                return false;
            }
        }
        if(nChallanIssueDate===5 || nChallanIssueDate===6)
        {
            var sChallanIssueDateStart   = $('#txtChallanIssueDateStart').datebox('getValue');
            var sChallanIssueDateEnd   = $('#txtChallanIssueDateEnd').datebox('getValue');
            if(sChallanIssueDateStart===null || sChallanIssueDateStart==="")
            {
                alert("Please select Challan start date!");
                $('#txtChallanIssueDateStart').focus();
                return false;
            }
            if(sChallanIssueDateEnd===null || sChallanIssueDateEnd==="")
            {
                alert("Please select Challan end date!");
                $('#txtChallanIssueDateEnd').focus();
                return false;
            }
            if(new Date(sChallanIssueDateStart) > new Date(sChallanIssueDateEnd))
            {
                alert("Start date must be smallar than or equal end date!");
                $('#txtChallanIssueDateStart').focus();
                return false;
            }
        }



        var nReportLayout = parseInt($('#cboReportLayout').val());
        if(nReportLayout<=0)
        {
            alert("Please select an Report Layout!");
            return;
        }

        var sTRSNO =$.trim($('#txtTRSNO').val());
        var nApproveBy = parseInt($('#cboApproveBy').val());
        var nRequisitionStatus = parseInt($('#cboRequisitionStatus').val());
        //var nIssueStore = parseInt($('#cboIssueStores').val());
        //var nReceiveStore = parseInt($('#cboReceivedStores').val());
        var sRemarks =$.trim($('#txtRemarks').val());

        var oProducts = $('#txtProduct').data('Products');
        var nCategoryID = $('#cboProductCategory').combotree('getValue');
        var nRequisitionType = parseInt($('#cboRequisitionType').val());
        if(nChallanIssueDate === 0&& $('#txtIssueWorkingUnit').data("WorkingUnitIDs")==="" && $('#txtReceiveWorkingUnit').data("WorkingUnitIDs")==="" && $('#txtSupplierName').data("ContractorIDs")==="" && sTRSNO === "" && nApproveBy === 0 && nRequisitionStatus === -1 && sRemarks === "" && oProducts.length<=0 && nCategoryID==0 && nRequisitionType==0 && ($('#txtStyle').data('TechnicalSheetIDs')==null||$('#txtStyle').data('TechnicalSheetIDs')=="") && $('#txtBrandName').val()=="" && $('#txtColorName').val()=="" && $('#txtLotNo').val()=="")
        {
            alert("Please select atleast one searching criteriea!");
            return false;
        }
        return true;
    }

    function RefreshObject()
    {
        var oProducts = $('#txtProduct').data('Products');
        var oTechnicalSheets =$('#txtStyle').data('TechnicalSheets');
        var nChallanIssueDate = parseInt($('#cboChallanIssueDate').val());
        var sChallanIssueDateStart   = $('#txtChallanIssueDateStart').datebox('getValue');
        var sChallanIssueDateEnd   = $('#txtChallanIssueDateEnd').datebox('getValue');
        var sSearchingData  =  nChallanIssueDate+'~';
        sSearchingData = sSearchingData + sChallanIssueDateStart+'~';
        sSearchingData = sSearchingData + sChallanIssueDateEnd+'~';
        sSearchingData = sSearchingData+ ICS_PropertyConcatation(oTechnicalSheets, 'TechnicalSheetID');
        var nCategoryID = $('#cboProductCategory').combotree('getValue');
        var nRequisitionType = parseInt($('#cboRequisitionType').val());

        var oTransferRequisitionSlipRegister = {
            IssueBUID : parseInt(sessionStorage.getItem("BUID")),
            TRSNO : $.trim($('#txtTRSNO').val()),
            AuthorisedByID : parseInt($('#cboApproveBy').val()),
            ReceivedByUserID:parseInt($('#cboReceivedBy').val()),
            TransferStatusInInt : parseInt($('#cboRequisitionStatus').val()),
            ContractorName:$('#txtSupplierName').data("ContractorIDs"),
            //IssueWorkingUnitID:parseInt($('#cboIssueStores').val()),
            IssueStoreName: $('#txtIssueWorkingUnit').data("WorkingUnitIDs"),
            ReceivedStoreName: $('#txtReceiveWorkingUnit').data("WorkingUnitIDs"),
            //ReceivedWorkingUnitID:parseInt($('#cboReceivedStores').val()),
            Remarks : $.trim($('#txtRemarks').val()),
            ColorName : $.trim($('#txtColorName').val()),
            LotNo : $.trim($('#txtLotNo').val()),
            SupplierSName : $.trim($('#txtBrandName').val()),
            ProductName : ICS_PropertyConcatation(oProducts, 'ProductID'),
            ReportLayout : parseInt($('#cboReportLayout').val()),
            ProductCategoryID:nCategoryID,
            RequisitionTypeInInt:nRequisitionType,
            SearchingData : sSearchingData
        };
        return oTransferRequisitionSlipRegister;
    }

    $('#btnPreview').click(function(e){
        debugger;
        if(!ValidateSearch()) return;
        var oTransferRequisitionSlipRegister = RefreshObject();
        $.ajax({
            type: "POST",
            dataType: "json",
            url : sessionStorage.getItem('BaseAddress')+  "/TransferRequisitionSlipRegister/SetSessionSearchCriteria",
            traditional: true,
            data:  JSON.stringify(oTransferRequisitionSlipRegister),
            contentType: "application/json; charset=utf-8",
            success: function (data) {
                var sFeedBackMessage = jQuery.parseJSON(data);
                if (sFeedBackMessage==="Successful") {
                    var tsv=((new Date()).getTime())/1000;
                    window.open(_sBaseAddress+'/TransferRequisitionSlipRegister/PrintTransferRequisitionSlipRegister?ts='+tsv,"_blank");
                }
            },
            error: function (xhr, status, error) {
                alert(error);
            }
        });
    });

    $('#btnExportToExcel').click(function(e){
        if(!ValidateSearch()) return;
        var oTransferRequisitionSlipRegister = RefreshObject();
        $.ajax({
            type: "POST",
            dataType: "json",
            url : sessionStorage.getItem('BaseAddress')+  "/TransferRequisitionSlipRegister/SetSessionSearchCriteria",
            traditional: true,
            data:  JSON.stringify(oTransferRequisitionSlipRegister),
            contentType: "application/json; charset=utf-8",
            success: function (data) {
                var sFeedBackMessage = jQuery.parseJSON(data);
                if (sFeedBackMessage==="Successful") {
                    var tsv=((new Date()).getTime())/1000;
                    window.open(_sBaseAddress+'/TransferRequisitionSlipRegister/ExportToExcelTransferRequisitionSlipRegister?ts='+tsv,"_blank");
                }
            },
            error: function (xhr, status, error) {
                alert(error);
            }
        });
    });

    $('#cboChallanIssueDate').change(function(e){
        //EqualTo = 1, NotEqualTo = 2, GreaterThen = 3, SmallerThen = 4, Between = 5, NotBetween = 6
        var nCompareOperator =   parseInt($('#cboChallanIssueDate').val());
        if(nCompareOperator===0)
        {
            $('#txtChallanIssueDateStart').datebox({ disabled : true });
            $('#txtChallanIssueDateEnd').datebox({ disabled : true });
        }
        else if (nCompareOperator===1 || nCompareOperator===2 || nCompareOperator===3 || nCompareOperator===4)
        {
            $('#txtChallanIssueDateStart').datebox({ disabled : false });
            $('#txtChallanIssueDateEnd').datebox({ disabled : true });
        }
        else
        {
            $('#txtChallanIssueDateStart').datebox({ disabled : false });
            $('#txtChallanIssueDateEnd').datebox({ disabled : false });
        }
        $('#txtChallanIssueDateStart').datebox('setValue', icsdateformat(new Date()));
        $('#txtChallanIssueDateEnd').datebox('setValue', icsdateformat(new Date()));
    });

    $('#btnClose').click(function (e) {
        window.location.href = window.location.href;
    });


    //Product Pick
    function PickProduct()
    {
        var nBUID = parseInt(sessionStorage.getItem("BUID"));
        var oProduct = {
            BUID : nBUID,
            ProductName : $.trim($('#txtProduct').val())
        };
        var obj = {
            BaseAddress: sessionStorage.getItem("BaseAddress"),
            Object: oProduct,
            ControllerName: "Product",
            ActionName: "SearchByProductBUWise",
            IsWinClose: false
        };
        $("#progbar").progressbar({ value: 0 });
        $("#progbarParent").show();
        var intervalID = setInterval(updateProgress, 250);
        $.icsDataGets(obj, function (response) {
            clearInterval(intervalID);
            $("#progbarParent").hide();
            if (response.status && response.objs.length > 0) {
                if (response.objs[0].ProductID > 0) {
                    var tblColums = [];
                    var oColumn = { field: "ProductCode", title: "Product Code", width: 80, align: "left" }; tblColums.push(oColumn);
                    oColumn = { field: "ProductName", title: "Product Name", width: 300, align: "left" }; tblColums.push(oColumn);
                    oColumn = { field: "ShortName", title: "Short Name", width: 100, align: "left" }; tblColums.push(oColumn);
                    oColumn = { field: "ProductCategoryName", title: "Category", width: 100, align: "left" }; tblColums.push(oColumn)
                    var oPickerParam = {
                        winid: 'winProducts',
                        winclass: 'clsProducts',
                        winwidth: 600,
                        winheight: 460,
                        tableid: 'tblProducts',
                        tablecolumns: tblColums,
                        datalist: response.objs,
                        multiplereturn: true,
                        searchingbyfieldName: 'ProductName',
                        windowTittle: 'Product List'
                    };
                    $.icsPicker(oPickerParam);
                    IntializePickerbutton(oPickerParam);
                }
                else { alert(response.objs[0].ErrorMessage); }
            }else{
                alert("Data Not Found.");
                return;
            }
        });
    }
    $("#txtProduct").keydown(function (e) {
        var code = (e.keyCode ? e.keyCode : e.which);
        if (code == 13) // Enter Press
        {
            if($.trim($('#txtProduct').val())===null || $.trim($('#txtProduct').val())==="")
            {
                alert("Press enter with product name");
                return;
            }
            PickProduct();
        }else  if (code == 8) //backspace=8
        {
            $("#txtProduct").removeClass("fontColorOfPickItem");
            $('#txtProduct').data('Products', []);
        }
    });
    $("#btnPickProduct").click(function () {
        $('#txtProduct').val('');
        PickProduct();
    });
    $('#btnClearProduct').click(function(e){
        $("#txtProduct").val("");
        $('#txtProduct').data('Products', []);
        $("#txtProduct").removeClass("fontColorOfPickItem");
    });
    //End Product Picker


    //start style picker
    $("#txtStyle").keydown(function (e) {
        var code = (e.keyCode ? e.keyCode : e.which);
        if (code == 13) // Enter Press
        {
            var sStyleNumber = $.trim($('#txtStyle').val());
            if(sStyleNumber === null || sStyleNumber === "")
            {
                alert("Press Enter With Style Number!");
                $('#txtStyle').focus();
                return;
            }
            PickStyles(sStyleNumber);
        }else  if (code == 8) //backspace=8
        {
            $("#txtStyle").removeClass("fontColorOfPickItem");
            $('#txtStyle').data('TechnicalSheets',[]);
        }
    });
    $("#btnPickStyle").click(function () {
        PickStyles("");
    });
    function PickStyles(sStyleNumber)
    {
        var oTechnicalSheet = { StyleNo: sStyleNumber, BUID:sessionStorage.getItem('BUID') };
        var obj = {
            BaseAddress: sessionStorage.getItem('BaseAddress'),
            Object: oTechnicalSheet,
            ControllerName: "TechnicalSheet",
            ActionName: "StyleSearch",
            IsWinClose: false
        };
        $.icsDataGets(obj, function (response) {

            if (response.status && response.objs.length > 0) {
                if (response.objs[0].TechnicalSheetID > 0) {
                    var tblColums = []; var oColumn = { field: "StyleNo", title: "Style No", width: 100, align: "left" }; tblColums.push(oColumn);
                    oColumn = { field: "BuyerName", title: "Buyer Name", width: 200, align: "left" }; tblColums.push(oColumn);
                    oColumn = { field: "SessionName", title: "Business Session", width: 100, align: "left" }; tblColums.push(oColumn);

                    var oPickerParam = {
                        winid: 'winStylePicker',
                        winclass: 'clsStylePicker',
                        winwidth: 600,
                        winheight: 460,
                        tableid: 'tblStylePicker',
                        tablecolumns: tblColums,
                        datalist: response.objs,
                        multiplereturn: true,
                        searchingbyfieldName: 'StyleNo',
                        windowTittle: 'Style List'
                    };
                    $.icsPicker(oPickerParam);
                    IntializePickerbutton(oPickerParam);
                }
                else {
                    alert(response.objs[0].ErrorMessage);
                }

            }else{
                alert("Data Not Found.");
            }
        });
    }
    //style End

    //Working Unit Picker STart
    $("#txtIssueWorkingUnit").keydown(function (e) {
        var nkeyCode = e.keyCode || e.which;
        if(nkeyCode==13){
            var txtWorkingUnit=$.trim($("#txtIssueWorkingUnit").val());
            if(txtWorkingUnit==""){ alert("Type Store name to search."); return false; }
            GetWorkingUnits(txtWorkingUnit,true);
        }
        else if(nkeyCode==8){
            $('#txtIssueWorkingUnit').data("WorkingUnitIDs","");
            $("#txtIssueWorkingUnit").removeClass("fontColorOfPickItem");
            $('#divTRSR').data("StoreType",0);
        }
    });
    $("#btnPickIssueWorkingUnit").click(function () {
        var txtWorkingUnit=$.trim($("#txtIssueWorkingUnit").val());
        GetWorkingUnits(txtWorkingUnit,true);
    });
    $("#txtReceiveWorkingUnit").keydown(function (e) {
        var nkeyCode = e.keyCode || e.which;
        if(nkeyCode==13){
            var txtWorkingUnit=$.trim($("#txtReceiveWorkingUnit").val());
            if(txtWorkingUnit==""){ alert("Type Store name to search."); return false; }
            GetWorkingUnits(txtWorkingUnit,false);
        }
        else if(nkeyCode==8){
            $('#txtReceiveWorkingUnit').data("WorkingUnitIDs","");
            $("#txtReceiveWorkingUnit").removeClass("fontColorOfPickItem");
            $('#divTRSR').data("StoreType",0);
        }
    });
    $("#btnPickReceiveWorkingUnit").click(function () {
        var txtWorkingUnit=$.trim($("#txtReceiveWorkingUnit").val());
        GetWorkingUnits(txtWorkingUnit,false);
    });

    function GetWorkingUnits(txtWorkingUnit, bIsIssueStore)
    {
        $('#divTRSR').data("StoreType",bIsIssueStore==true?1:2);
        var oWorkingUnit = {
            BUID:parseInt(sessionStorage.getItem('BUID')),
            ModuleName:16,//EnumModuleName: TransferRequisitionSlip = 16,
            StoreType:bIsIssueStore==true?1:2,//EnumStoreType: IssueStore:1, ReceiveStore:1
            LocationName:txtWorkingUnit,
        };
        var obj = {
            BaseAddress: _sBaseAddress,
            Object: oWorkingUnit,
            ControllerName: "WorkingUnit",
            ActionName: "GetsBUWtihModuleWise",
            IsWinClose: false
        };

        if(parseInt(sessionStorage.getItem('BUID'))<=0)
        {
            oWorkingUnit = { LOUNameCode : txtWorkingUnit };
            obj = {
                BaseAddress: _sBaseAddress,
                Object: oWorkingUnit,
                ControllerName: "WorkingUnit",
                ActionName: "GetsWorkingUnit",
                IsWinClose: false
            };
        }


        $.icsDataGets(obj, function (response) {

            if (response.status && response.objs.length > 0) {
                if (response.objs[0].WorkingUnitID > 0) {
                    debugger;
                    var tblColums = [];
                    var oColumn = { field: "WorkingUnitCode", title: "Code", width: 80, align: "left" };tblColums.push(oColumn);
                    oColumn = { field: "WorkingUnitName", title: "Name", width: 270, align: "left" };tblColums.push(oColumn);

                    var oPickerParam = {
                        winid: 'winWorkingUnitPicker',
                        winclass:'clsWorkingUnitPicker',
                        winwidth: 520,
                        winheight: 460,
                        tableid: 'tblWorkingUnit',
                        tablecolumns: tblColums,
                        datalist: response.objs,
                        multiplereturn: true,
                        searchingbyfieldName:'WorkingUnitName',
                        windowTittle: 'Store List'
                    };
                    $.icsPicker(oPickerParam);
                    IntializePickerbutton(oPickerParam);//multiplereturn, winclassName
                }
                else { alert(response.objs[0].ErrorMessage); }
            }
            else{
                alert("No Store found.");
            }
        });

    }
    //Working Unit Picker End

    //Supplier start
    function PickSupplier()
    {
        var nBUID = parseInt(sessionStorage.getItem("BUID"));
        var oContractor = { Params: 1 + '~' + $.trim($('#txtSupplierName').val())+'~'+ nBUID };//here 1 is Supplier
        var obj = {
            BaseAddress: sessionStorage.getItem("BaseAddress"),
            Object: oContractor,
            ControllerName: "Contractor",
            ActionName: "ContractorSearchByNameType",
            IsWinClose: false
        };
        $("#progbar").progressbar({ value: 0 });
        $("#progbarParent").show();
        var intervalID = setInterval(updateProgress, 250);
        $.icsDataGets(obj, function (response) {
            clearInterval(intervalID);
            $("#progbarParent").hide();
            if (response.status && response.objs.length > 0) {
                if (response.objs[0].ContractorID > 0) {
                    var tblColums = []; var oColumn = { field: "Name", title: "Name", width: 200, align: "left" }; tblColums.push(oColumn);
                    oColumn = { field: "Address", title: "Address", width: 120, align: "left" }; tblColums.push(oColumn);
                    oColumn = { field: "Email", title: "Email", width: 90, align: "left" }; tblColums.push(oColumn);
                    oColumn = { field: "ShortName", title: "Short Name", width: 90, align: "left" }; tblColums.push(oColumn);
                    var oPickerParam = {
                        winid: 'winSuppliers',
                        winclass: 'clsSuppliers',
                        winwidth: 600,
                        winheight: 460,
                        tableid: 'tblSuppliers',
                        tablecolumns: tblColums,
                        datalist: response.objs,
                        multiplereturn: true,
                        searchingbyfieldName: 'Name',
                        windowTittle: 'Supplier List'
                    };
                    $.icsPicker(oPickerParam);
                    IntializePickerbutton(oPickerParam);
                }
                else { alert(response.objs[0].ErrorMessage); }
            }else{
                alert("Data Not Found.");
                return;
            }
        });
    }
    $("#txtSupplierName").keydown(function (e) {
        var code = (e.keyCode ? e.keyCode : e.which);
        if (code == 13) // Enter Press
        {
            if($.trim($('#txtSupplierName').val())===null || $.trim($('#txtSupplierName').val())==="")
            {
                alert("Press enter with supplier name");
                return;
            }
            PickSupplier();
        }else  if (code == 8) //backspace=8
        {
            $("#txtSupplierName").removeClass("fontColorOfPickItem");
            $('#txtSupplierName').data("ContractorIDs","");
        }
    });
    $("#btnPickSupplier").click(function () {
        $('#txtSupplierName').val('');
        PickSupplier();
    });

    //supplier end



    function IntializePickerbutton(oPickerobj) {
        $("#" + oPickerobj.winid).find("#btnOk").click(function () {
            //for Single Select
            SetPickerValueAssign(oPickerobj);
        });
        $(document).find('.' + oPickerobj.winclass).keydown(function (e) {
            if (e.which == 13)//enter=13
            {
                SetPickerValueAssign(oPickerobj);
            }
        });
    }

    function SetPickerValueAssign(oPickerobj) {
        var oreturnObj = null, oreturnobjs = [];
        if (oPickerobj.multiplereturn) {
            oreturnobjs = $('#' + oPickerobj.tableid).datagrid('getChecked');
        } else {
            oreturnObj = $('#' + oPickerobj.tableid).datagrid('getSelected');
        }
        $("#" + oPickerobj.winid).icsWindow("close");
        $("#" + oPickerobj.winid).remove();

        if (oPickerobj.winid === 'winProducts')
        {
            if (oreturnobjs != null && oreturnobjs.length > 0) {
                $('#txtProduct').val(oreturnobjs.length+"'s Products seleted");
                $('#txtProduct').addClass('fontColorOfPickItem');
                $('#txtProduct').data('Products', oreturnobjs);
                $('#txtProduct').focus();
            }
        } else   if (oPickerobj.winid === 'winStylePicker')
        {
            if (oreturnobjs != null && oreturnobjs.length > 0) {
                $('#txtStyle').val(oreturnobjs.length+"'s Styles seleted");
                $('#txtStyle').addClass('fontColorOfPickItem');
                $('#txtStyle').data('TechnicalSheets', oreturnobjs);
                $('#txtStyle').focus();
            }
        } else if (oPickerobj.winid == 'winWorkingUnitPicker')
        {
            debugger;
            if (oreturnobjs != null && oreturnobjs.length> 0)
            {
                var sMessage='';
                sMessage=(oreturnobjs.length>1)? oreturnobjs.length +" store Selected" : oreturnobjs[0].WorkingUnitName;
                var nStoreType = parseInt($('#divTRSR').data("StoreType"));
                if(nStoreType==1)//issue Store
                {
                    $('#txtIssueWorkingUnit').val(sMessage);
                    $("#txtIssueWorkingUnit").addClass("fontColorOfPickItem");
                    $('#txtIssueWorkingUnit').data("WorkingUnitIDs",ICS_PropertyConcatation(oreturnobjs,'WorkingUnitID'));
                }else{
                    $('#txtReceiveWorkingUnit').val(sMessage);
                    $("#txtReceiveWorkingUnit").addClass("fontColorOfPickItem");
                    $('#txtReceiveWorkingUnit').data("WorkingUnitIDs",ICS_PropertyConcatation(oreturnobjs,'WorkingUnitID'));
                }

            }

        }else  if (oPickerobj.winid === 'winSuppliers')
        {
            if (oreturnobjs != null && oreturnobjs.length > 0) {
                $('#txtSupplierName').val(oreturnobjs.length+"'s Suppliers seleted");
                $('#txtSupplierName').addClass('fontColorOfPickItem');
                $('#txtSupplierName').data("ContractorIDs",ICS_PropertyConcatation(oreturnobjs,'ContractorID'));
                $('#txtSupplierName').focus();
            }
        }

    }

    function updateProgress() {
        var value =$('#progbar').progressbar('getValue');
        if (value < 96){
            value += Math.floor(Math.random() * 10);
            $('#progbar').progressbar('setValue', value);
        }
    }

    function hideShow(miliseconds) {
        $("#progbarParent").hide();
    }
</script>