@model IEnumerable<ESimSol.BusinessObjects.RSFreshDyedYarn>
    @{
        ViewBag.Title = "Daily Fresh Dyed Yarn Receive Report(For Production)";
    }

    <div id="progressbarParent" style="width:100%;height:100%;margin:0 auto;text-align:center; margin-left: auto;margin-right: auto;left: 0;right: 0;z-index: 1;">
        <div style="margin: 0px auto;margin-top: 251px;text-align:center;width:390px;">
            <label style="font-size:18px;">Please wait</label>
            <div id="progressbar" style="width:100%;height:37px;"></div>
        </div>
    </div>
    <div class="menuMainCollectionTable">
        <div id="tabRSApproves" style="width:100%; height:98%">
            <div style="width:100%;height:100%">
                <table id="tblRSWise" title="Dyeing Card List" class="easyui-datagrid" fit="true" fitcolumn="true" rownumbers="true" pagination="false" singleselect="true" autorowheight="false" toolbar="#toolbarRSWise" showfooter="true">
                    @*<table id="tblRSWise" style="width:100%; height:100%" class="easyui-datagrid" fit="true" fitcolumns="false" rownumbers="true" pagination="true" singleselect="true" autorowheight="false" toolbar="#toolbarRSWise" data-options="rowStyler: function(index,row){
            if (row.ProductName=='Total'){
            return 'color:#016B18; font-weight:bold;'; } }">*@
                    <thead>
                        <tr>
                            <th field="RSDateStr" width="12%">Batch Date</th>
                            <th field="RouteSheetNo" width="9%">Batch No.</th>
                            <th field="OrderNo" width="12%">Order No</th>
                            <th field="ContractorName" width="15%">Customer</th>
                            <th field="ProductName" width="20%">Yarn Count</th>
                            <th field="MachineName" width="10%">M/C No</th>
                            <th field="ColorName" width="10%">Color/Shade</th>
                            <th field="RSStateStr" width="10%">Status</th>
                            
                            <th field="Qty_RS" width="8%" align="right" formatter="formatPrice"> Qty</th>
                            <th field="LoadTimeStr" width="10%">Load Time</th>
                            <th field="LoadByName" width="10%">load By</th>
                            <th field="UnloadTimeStr" width="10%">Un Load Time</th>
                            <th field="UnloadByName" width="10%">Unload By</th>
                            <th field="RSSubStatesSt" width="10%">Shade Status</th>
                            @*<th field="RawLotNo" width="10%">Yarn Lot</th>*@
                            @*<th field="RSShiftName" width="10%">Shift</th>*@


                        </tr>
                    </thead>
                </table>
                <div id="toolbarRSWise">
                    <input type="text" id="txtRouteSheetNo" placeholder="Search by Batch No" style="width:10%;" />
                    <input type="text" id="txtOrderNo" placeholder="Search by Order" style="width:10%;" />
                    <a id="btnAdvSearch" href="javascript:void(0)" class="easyui-linkbutton" iconcls="icon-search" plain="true">Adv Search</a>
                    <a id="btnAdd" href="javascript:void(0)" class="easyui-linkbutton" iconcls="icon-add" plain="true">Update Progress</a>
                    <a id="btnUpdateHS" href="javascript:void(0)" class="easyui-linkbutton" iconcls="icon-add" plain="true">Update History</a>
                    @*<a id="btnPrint" href="javascript:void(0)" class="easyui-linkbutton" iconcls="icon-excel" plain="true">Export To Excel</a>*@
                    <a id="btnPrintReport" href="javascript:void(0)" class="easyui-linkbutton" iconcls="icon-print" plain="true">Progress Report</a>
                    <a id="btnExcel" href="javascript:void(0)" class="easyui-linkbutton" iconcls="icon-excel" plain="true">Export To Excel</a>
                </div>
            </div>
        </div>
    </div>

    <div id="winAdvSearch" class="easyui-window winClass" style="width:620px" title="Adv. Search" data-options="modal:true,closed:true,collapsible:false,minimizable:false,maximizable:false,closable:false">
        <div>
            <fieldset style="margin-bottom: 0px;">
                <legend>Searching Criteria</legend>
                <table style="width:100%;text-align:right;">
                    <tr>
                        <td style=" width:25%;text-align:right;">
                            <label> Date:</label>
                        </td>
                        <td colspan="3" style=" width:75%;text-align:left;">
                            <select id="cboRSDateAdvS" style="width:30%;" onchange="DateActions();"></select>

                            <input id="dtRouteSheetDateFromAdv" type="text" style="width: 100px;" class="easyui-datebox" required="required" data-options="formatter:icsdateformat,parser:icsdateparser" />To
                            <input id="dtRouteSheetDateToAdv" type="text" style="width: 100px;" class="easyui-datebox" required="required" data-options="formatter:icsdateformat,parser:icsdateparser" />
                        </td>
                    </tr>
                    <tr>
                        <td style=" width:25%;text-align:right;">
                            <label>Machine:</label>
                        </td>
                        <td colspan="3" style=" width:75%;text-align:left;">
                            <input id="txtMachine" style="width:70%;" placeholder="Search Machine" />
                            <a id="btnPickMachine" href="javascript:void(0)" class="easyui-linkbutton ics-pick" iconcls="icon-pick" plain="true"></a>
                            <a id="btnResetMachine" href="javascript:void(0)" class="easyui-linkbutton ics-pick" iconcls="icon-clear" plain="true"></a>

                        </td>
                    </tr>
                    <tr>
                        <td style=" width:25%;text-align:right;">
                            <label>Customer:</label>
                        </td>
                        <td colspan="3" style=" width:75%;text-align:left;">
                            <input id="txtBuyer" style="width:70%;" placeholder=" search issue to" />
                            <a id="btnPickBuyer" href="javascript:void(0)" class="easyui-linkbutton ics-pick" iconcls="icon-pick" plain="true"></a>
                            <a id="btnResetBuyer" href="javascript:void(0)" class="easyui-linkbutton ics-pick" iconcls="icon-clear" plain="true"></a>

                        </td>
                    </tr>
                    <tr>
                        <td style=" width:25%;text-align:right;">
                            <label>Yarn:</label>
                        </td>
                        <td colspan="3" style=" width:75%;text-align:left;">
                            <input id="txtProductName" style="width:70%;" type="text" placeholder="Type & Press Enter" />
                            <a id="btnProductPiker" href="javascript:void(0)" class="easyui-linkbutton ics-pick" iconcls="icon-pick" plain="true"></a>
                            <a id="btnClrProductPiker" href="javascript:void(0)" class="easyui-linkbutton ics-pick" iconcls="icon-clear" plain="true"></a>
                        </td>
                    </tr>
                    <tr>
                        <td style=" width:25%;text-align:right;">
                            <label>Order Type:</label>
                        </td>
                        <td style=" width:30%;text-align:left;">
                            <select id="cboOrderType" class="cbo-styler"></select>
                        </td>
                        <td style=" width:15%;text-align:right;"></td>
                        <td style=" width:30%;text-align:left;"></td>
                    </tr>
                    <tr>
                        <td style=" width:25%;text-align:right;">
                            <label>Order No:</label>
                        </td>
                        <td colspan="3" style=" width:75%;text-align:left;">
                            <input id="txtOrderNoAdv" style="width:70%;" placeholder="Search Issue To" />
                            <a id="btnPickOrderNo" href="javascript:void(0)" class="easyui-linkbutton ics-pick" iconcls="icon-pick" plain="true"></a>
                            <a id="btnResetOrder" href="javascript:void(0)" class="easyui-linkbutton ics-pick" iconcls="icon-clear" plain="true"></a>

                        </td>
                    </tr>
                    <tr>
                        <td style=" width:25%;text-align:right;">
                            <label>Status:</label>
                        </td>
                        <td colspan="3" style=" width:75%;text-align:left;">
                            <table id="tblRSStatus" class="easyui-datagrid" style="height:200px;" fitcolumn="true" rownumbers="true" pagination="false" multiselect="true" autorowheight="false">
                                <thead>
                                    <tr>
                                        <th data-options="field:'Selected',checkbox:true"> </th>
                                        <th field="Value" width="80%">Status</th>
                                    </tr>
                                </thead>

                            </table>
                        </td>
                    </tr>
                    <tr>
                        <td style=" width:25%;text-align:right;">
                            <label> Date by Status:</label>
                        </td>
                        <td colspan="3" style=" width:75%;text-align:left;">
                            <select id="cboRSDateAdvS_His" style="width:30%;" onchange="DateActionsRSDateAdvSearch_His();"></select>
                            <input id="dtRouteSheetDateFromAdv_His" style="width:120px;" type="text" class="easyui-datetimebox" required="required" data-options="formatter:icsdatetimeformat,parser:icsdatetimeparser" />To
                            <input id="dtRouteSheetDateToAdv_His" style="width:120px;" type="text" class="easyui-datetimebox" required="required" data-options="formatter:icsdatetimeformat,parser:icsdatetimeparser" />
                            @*<input id="dtRouteSheetDateFromAdv_His" type="text" style="width: 100px;" class="easyui-datebox" required="required" data-options="formatter:icsdateformat,parser:icsdateparser" />To
                            <input id="dtRouteSheetDateToAdv_His" type="text" style="width: 100px;" class="easyui-datebox" required="required" data-options="formatter:icsdateformat,parser:icsdateparser" />*@
                        </td>
                    </tr>
                    @*<tr>
                        <td style=" width:25%;text-align:right;">
                            <label>QC State:</label>
                        </td>
                        <td colspan="3" style=" width:75%;text-align:left;">
                            <select id="cboRSSubState_Adv" class="cbo-styler"></select> @*onchange="chngRSState()"
                        </td>
                    </tr>*@
                    <tr>
                        <td height="5px" colspan="4"></td>
                    </tr>
                </table>
            </fieldset>

            <fieldset>
                <legend>Actions : </legend>
                <table style="width:100%;text-align:right;">
                    <tr>
                        <td style="width:20%;text-align:right;">
                            <a id="btnResetAdvSearch" href="javascript:void(0)" class="easyui-linkbutton" iconcls="icon-reload" plain="true">Reset</a>
                        </td>
                        <td style="width:80%;text-align:right;">
                            <label class="lblLoadingMessage" style="float: left;">Loading Please Wait...</label>
                            <a id="btnSearchAdvSearch" href="javascript:void(0)" class="easyui-linkbutton" iconcls="icon-search" plain="true">Search</a>
                            <a id="btnCloseAdvSearch" href="javascript:void(0)" class="easyui-linkbutton" iconcls="icon-cancel" plain="true">Close</a>
                        </td>
                    </tr>
                </table>

            </fieldset>
        </div>
    </div>

    <div id="winReport" class="easyui-window winClass" style="width:600px" title="Progress Report" data-options="modal:true,closed:true,collapsible:false,minimizable:false,maximizable:false,closable:false">
                          <table style="width:100%">
                              <tr>
                                  <td>
                                      <fieldset>
                                          <legend>Select Criteria</legend>
                                          <table style="width:100%">
                                              <tr>
                                                  <td style=" width:20%;text-align:right;">
                                                      <label> Date:</label>
                                                  </td>
                                                  <td colspan="3" style=" width:80%;text-align:left;">
                                                      <select id="cboRSDateRpt" style="width:20%;" onchange="DateActionsRSDateRpt();"></select>
                                                      <input id="dtRouteSheetDateFromRpt" style="width:150px;" type="text" class="easyui-datetimebox" required="required" data-options="formatter:icsdatetimeformat,parser:icsdatetimeparser" />To
                                                      <input id="dtRouteSheetDateToRpt" style="width:150px;" type="text" class="easyui-datetimebox" required="required" data-options="formatter:icsdatetimeformat,parser:icsdatetimeparser" />

                                                  </td>
                                              </tr>
                                              <tr>
                                                  <td style=" width:20%;text-align:right;">
                                                      <label>Report Layout:</label>
                                                  </td>
                                                  <td style=" width:80%;text-align:left;" colspan="3">
                                                      <select id="cboReportType" class="cbo-styler"></select>
                                                  </td>
                                              </tr>
                                              <tr>
                                                  <td height="5px" colspan="4"></td>
                                              </tr>
                                          </table>
                                      </fieldset>
                                  </td>
                              </tr>
                          </table>
                          <fieldset class="actionfieldsetstyle">
                              <legend>Actions : </legend>
                              <a id="btnPreviewRpt" href="javascript:void(0)" class="easyui-linkbutton" iconcls="icon-print" plain="true">Preview</a>
                              <a id="btnPreviewRpt_Excel" href="javascript:void(0)" class="easyui-linkbutton" iconcls="icon-excel" plain="true">Preview (Excel)</a>
                              <a id="btnCloseReport" href="javascript:void(0)" class="easyui-linkbutton" iconcls="icon-cancel" plain="true">Close</a>
                          </fieldset>
                      </div>

    <style type="text/css">
        .lines-no .datagrid-body td {
            border-right: 1px dotted transparent;
            border-bottom: 1px dotted transparent;
        }
    </style>

    <script type="text/javascript">
        var _sBaseAddress="";
        var _oRSFreshDyedYarn=null;
        var _oRSFreshDyedYarns=[];
        var _oCompareOperators=[];
        var _nBUID = 0;
        var _oRSStatuss=[];
        var _sDODIDs="";
        var _sContractorIDs="";
        var _sMachineIDs="";
        var _sProductIds="";
        var _nReportType=0;
        var _oRouteSheet=null;
        _oRSSubState=null;
        var _oRouteSheetSetup=null;
        var _nMUnit="";
        var _sUserName="";
        var _oAuthorizationRolesMapping=[];
        $(document).ready(function () {

            _sBaseAddress =@Html.Raw( new System.Web.Script.Serialization.JavaScriptSerializer().Serialize(HttpContext.Current.Session[SessionInfo.BaseAddress]));
            _oRSFreshDyedYarns =@Html.Raw( new System.Web.Script.Serialization.JavaScriptSerializer().Serialize(Model));
            _oCompareOperators = @Html.Raw(new System.Web.Script.Serialization.JavaScriptSerializer().Serialize(ViewBag.CompareOperators));
            _oRSStatuss=@Html.Raw(new System.Web.Script.Serialization.JavaScriptSerializer().Serialize(@ViewBag.RSStatuss));
            var oOrderTypes=@Html.Raw(new System.Web.Script.Serialization.JavaScriptSerializer().Serialize(@ViewBag.OrderTypes));
            oWorkingUnits =@Html.Raw(new System.Web.Script.Serialization.JavaScriptSerializer().Serialize(@ViewBag.WorkingUnits));
            oRSShifts =@Html.Raw(new System.Web.Script.Serialization.JavaScriptSerializer().Serialize(ViewBag.RSShifts));
            oRSSubStatuss =@Html.Raw(new System.Web.Script.Serialization.JavaScriptSerializer().Serialize(ViewBag.RSSubStatuss));
            _oRouteSheetSetup =@Html.Raw(new System.Web.Script.Serialization.JavaScriptSerializer().Serialize(ViewBag.RouteSheetSetup));
            _sUserName =@Html.Raw(new System.Web.Script.Serialization.JavaScriptSerializer().Serialize(ViewBag.UserName));
            _nBUID = @Html.Raw(new System.Web.Script.Serialization.JavaScriptSerializer().Serialize(ViewBag.BUID));
            _oAuthorizationRolesMapping = @Html.Raw(new System.Web.Script.Serialization.JavaScriptSerializer().Serialize(HttpContext.Current.Session[SessionInfo.AuthorizationRolesMapping]));
            //_nMUnit


            if(sessionStorage.getItem("RouteSheets")!=null && sessionStorage.getItem("RouteSheets").length>0){
                _oRSFreshDyedYarns= jQuery.parseJSON(sessionStorage.getItem('RouteSheets'));
                var nIndex= sessionStorage.getItem('SelectedRowIndex');
                DynamicRefreshList(_oRSFreshDyedYarns, 'tblRSWise');
                if(nIndex>-1)
                {
                    $('#tblRSWise').datagrid('selectRow',nIndex);
                }
            }
            else{
                DynamicRefreshList(_oRSFreshDyedYarns,'tblRSWise');
            }
            $.icsMakeFooterColumn('tblRSWise',['ColorName','Qty_RS']);
            $('#tblRSWise').data('FDPs',_oRSFreshDyedYarns)
            debugger;
            $('#lblRSNo,#lblRSNo2').html(_oRouteSheetSetup.RSShortName+":");
            _nMUnit=_oRouteSheetSetup.MUnit;
            _nMUnitTwo=_oRouteSheetSetup.MUnitTwo;
            $("#progressbar").progressbar({ value: 0 });
            $("#progressbarParent").hide();
            $(".lblLoadingMessage").hide();

            DynamicRefreshList(_oRSStatuss, 'tblRSStatus');
           

            $("#cboOrderType").icsLoadCombo({
                List: oOrderTypes,
                OptionValue: "OrderType",
                DisplayText: "ShortName",
            });
            $("#cboRSDateAdvS,#cboRSDateAdvS_His,#cboRSDateRpt").icsLoadCombo({
                List: _oCompareOperators,
                OptionValue: "id",
                DisplayText: "Value",
            });
            $("#cboRSSubState").icsLoadCombo({
                List: oRSSubStatuss,
                OptionValue: "id",
                DisplayText: "Value",
            });
            $("#btnUpdateHS").hide();
            if (PermissionChecker('ExtremeEdit', 'RouteSheet',_oAuthorizationRolesMapping)) {$("#btnUpdateHS").show();}
        });
        $(document).keydown(function (e) { if (e.keyCode == 27) { $('div').icsWindow('close'); } });

        ////Start adv Searching
        function updateProgress() {
            var value =$('#progressbar').progressbar('getValue');
            if (value < 96){
                value += Math.floor(Math.random() * 10);
                $('#progressbar').progressbar('setValue', value);
            }
        }
        function hideShow(miliseconds) {
            $("#progressbarParent").hide();
        }
        function ResetAdvSearchWindow() {
            _sContractorIds = '';
            _sMachineIDs = "";
            _sProductIds = "";
            _sDODIDs = "";
            $(".lblLoadingMessage").hide();
            $("#winAdvSearch input").not("input[type='button']").val("");
            $("#winAdvSearch input").removeClass("fontColorOfPickItem");
            $("#winAdvSearch select").val(0);
            DateActions_OPDate();
            DateActionsRSDateAdvSearch_His();
            $("#dtRouteSheetDateFromAdv,#dtRouteSheetDateToAdv,#dtRouteSheetDateToAdv_His").datebox({ disabled: true });
            $("#dtRouteSheetDateFromAdv,#dtRouteSheetDateToAdv,#dtRouteSheetDateToAdv_His").datebox("setValue", icsdateformat(new Date()));

            var dtEventTime =new Date(_oRouteSheetSetup.BatchTime);
            dtEventTime = icsdateformat(new Date())+" "+ _oRouteSheetSetup.BatchTimeTT;
            $('#dtRouteSheetDateToAdv_His').datetimebox('setValue',dtEventTime);
            $('#dtRouteSheetDateFromAdv_His').datetimebox('setValue',dtEventTime);

        }
        function DateActions() {
            DynamicDateActions("cboRSDateAdvS", "dtRouteSheetDateFromAdv", "dtRouteSheetDateToAdv");
        }
        function DateActionsRSDateAdvSearch_His() {
            DynamicDateActions("cboRSDateAdvS_His", "dtRouteSheetDateFromAdv_His", "dtRouteSheetDateToAdv_His");
            var dtEventTime =new Date(_oRouteSheetSetup.BatchTime);
            dtEventTime = icsdateformat(new Date())+" "+ _oRouteSheetSetup.BatchTimeTT;
            $('#dtRouteSheetDateFromAdv_His').datetimebox('setValue',dtEventTime);
            $('#dtRouteSheetDateToAdv_His').datetimebox('setValue',dtEventTime);
        }

        $("#btnAdvSearch").click(function () {
            debugger;
            $(".lblLoadingMessage").hide();
            //$("#cboRSSubState_Adv").icsLoadCombo({
            //    List: oRSSubStatuss,
            //    OptionValue: "id",
            //    DisplayText: "Value",
            //});
            $("#winAdvSearch").icsWindow("open", "Advance Search");
            //DynamicRefreshList([], "tblExportPIAdvSearch");
            DynamicResetAdvSearchWindow("winAdvSearch");
            ResetAdvSearchWindow();
        });
        $("#txtRouteSheetNo").keyup(function (e) {
            var oRouteSheets =[];
            var keyCode = e.keyCode || e.which;
            $('#txtRouteSheetNo').removeClass("errorFieldBorder");
            //if (keyCode == 8) { oRouteSheets = _oRouteSheets; }
            //else{ oRouteSheets = $('#tblRSWise').datagrid('getRows'); }
            if (e.keyCode == 13) // Enter Press
            {
                if (!$.trim($("#txtRouteSheetNo").val()).length) {

                    alert("Please enter Batch/Dyeing Card No no to search.");
                    $('#txtRouteSheetNo').focus();
                    $('#txtRouteSheetNo').val("");
                    return;
                }

                var sRSNo =$.trim($("#txtRouteSheetNo").val());
                var sOrderNo = "";
                var sRSStatus="";
                _sMachineIDs="";
                _sContractorIDs="";
                _sProductIds="";
                _sDODIDs="";


                var sTempString =0+ '~'
                    + $('#dtRouteSheetDateFromAdv').datebox('getValue')+'~'
                    + $('#dtRouteSheetDateToAdv').datebox('getValue')+'~'
                    +_sMachineIDs +'~'
                    + _sContractorIDs + '~'
                    +_sProductIds + '~'
                    +parseInt($("#cboOrderType").val()) + '~'
                    + _sDODIDs +'~'
                    + sRSStatus+'~'
                + sRSNo+'~'
                + sOrderNo+'~';
                + 0+'~'
                + $('#dtRouteSheetDateFromAdv_His').datetimebox('getValue')+'~'
                + $('#dtRouteSheetDateToAdv_His').datetimebox('getValue')+'~';

                sessionStorage.setItem("ParamsP", sTempString);
                debugger;
                var oRSFreshDyedYarn = {
                    ErrorMessage: sTempString
                }
                Search(oRSFreshDyedYarn);
            }

        });
        $("#txtOrderNo").keyup(function (e) {
            var oRouteSheets =[];
            var keyCode = e.keyCode || e.which;
            $('#txtOrderNo').removeClass("errorFieldBorder");
            //if (keyCode == 8) { oRouteSheets = _oRouteSheets; }
            //else{ oRouteSheets = $('#tblRSWise').datagrid('getRows'); }
            if (e.keyCode == 13) // Enter Press
            {
                if (!$.trim($("#txtOrderNo").val()).length) {

                    alert("Please enter order no no to search.");
                    $('#txtOrderNo').focus();
                    $('#txtOrderNo').val("");
                    return;
                }

                var sRSNo ="";
                var sOrderNo =$.trim($("#txtOrderNo").val());
                var sRSStatus="";
                _sMachineIDs="";
                _sContractorIDs="";
                _sProductIds="";
                _sDODIDs="";

                var sTempString =0+ '~'
                    + $('#dtRouteSheetDateFromAdv').datebox('getValue')+'~'
                    + $('#dtRouteSheetDateToAdv').datebox('getValue')+'~'
                    +_sMachineIDs +'~'
                    + _sContractorIDs + '~'
                    +_sProductIds + '~'
                    +parseInt($("#cboOrderType").val()) + '~'
                    + _sDODIDs +'~'
                    + sRSStatus+'~'
                + sRSNo+'~'
                + sOrderNo+'~'
                + 0+'~';

                sessionStorage.setItem("ParamsP", sTempString);
                debugger;
                var oRSFreshDyedYarn = {
                    ErrorMessage: sTempString
                }
                Search(oRSFreshDyedYarn);
            }

        });

        $("#btnSearchAdvSearch").click(function ()
        {
            $(".lblLoadingMessage").show();
            var sRSNo = "";
            var sOrderNo = "";
            var sRSStatus="";
            var oRSStatus=$('#tblRSStatus').datagrid('getChecked');

            if(oRSStatus.length>0){
                for(var i=0;i<oRSStatus.length;i++){
                    sRSStatus= sRSStatus + oRSStatus[i].id+","
                }
                sRSStatus=sRSStatus.substring(0,sRSStatus.length-1);
            }

            var sTempString =parseInt($("#cboRSDateAdvS").val())+ '~'
                + $('#dtRouteSheetDateFromAdv').datebox('getValue')+'~'
                + $('#dtRouteSheetDateToAdv').datebox('getValue')+'~'
                +_sMachineIDs +'~'
                + _sContractorIDs + '~'
                +_sProductIds + '~'
                +parseInt($("#cboOrderType").val()) + '~'
                + _sDODIDs +'~'
                + sRSStatus+'~'
            + sRSNo+'~'
            + sOrderNo+'~'
            + parseInt($("#cboRSDateAdvS_His").val())+'~'
            + $('#dtRouteSheetDateFromAdv_His').datetimebox('getValue')+'~'
            + $('#dtRouteSheetDateToAdv_His').datetimebox('getValue')+'~'
            +0;// $('#cboRSSubState_Adv').val();

            sessionStorage.setItem("ParamsP", sTempString);
            debugger;
            var oRSFreshDyedYarn = {
                ErrorMessage: sTempString
            }
            Search(oRSFreshDyedYarn);
        });
        function Search(oRSFreshDyedYarn)
        {
            $.ajax({
                type: "POST",
                dataType: "json",
                url: _sBaseAddress + "/RSFreshDyedYarn/AdvSearch_RSLoadUnLoad",
                traditional: true,
                data: JSON.stringify(oRSFreshDyedYarn),
                contentType: "application/json; charset=utf-8",
                success: function (data) {
                    debugger;
                    var oResult = data;
                    if(oResult.length<=0){
                        alert("No data found");
                    }
                    else{
                        $('#tblRSWise').data('FDPs',oResult)
                        DynamicRefreshList(oResult,'tblRSWise');
                        $.icsMakeFooterColumn('tblRSWise',['ColorName','Qty_RS']);
                        $("#winAdvSearch").icsWindow("close");
                        $(".lblLoadingMessage").hide();
                    }
                }
            });
        }
        $("#btnCloseAdvSearch").click(function (e) {
            $("#winAdvSearch").icsWindow("close");
        });

     

        /*-------------Pick Pro------*/
        //Product Pick
        $("#txtProductName").keydown(function (e) {
            debugger;
            var code = (e.keyCode ? e.keyCode : e.which);
            if (code == 13) // Enter Press
            {
                if($('#txtProductName').val()==null || $('#txtProductName').val()=="")
                {
                    alert("Please Type Product and Press Enter.");
                    $('#txtProductName').focus();
                    return;
                }
                PickProduct($('#txtProductName').val());
            }
            if (code == 8) //backspace=8
            {
                //debugger;
                $("#txtProductName").removeClass("fontColorOfPickItem");
                _sProductIds= "";
            }
        });
        $("#btnProductPiker").click(function () {

            if($('#txtProductName').val()==null || $('#txtProductName').val()=="")
            {
                alert("Please Type Product and Press Enter.");
                $('#txtProductName').focus();
                return;
            }
            PickProduct($('#txtProductName').val());
        });
        $("#btnClrProductPiker").click(function () {
            $("#txtProductName").val('');
            $("#txtProductName").removeClass("fontColorOfPickItem");
            _sProductIds= [];
        });
        function PickProduct(sProductName)
        {
            var oProduct = { BUID:sessionStorage.getItem("BUID"),ProductName:sProductName};

            var obj = {
                BaseAddress: _sBaseAddress,
                Object: oProduct,
                ControllerName: "Product",
                ActionName: "SearchByProductBUWise",
                IsWinClose: false
            };
            $("#progressbar").progressbar({ value: 0 });
            $("#progressbarParent").show();
            var intervalID = setInterval(updateProgress, 250);
            $.icsDataGets(obj, function (response) {
                clearInterval(intervalID);
                $("#progressbarParent").hide();
                if (response.status && response.objs.length > 0) {
                    if (response.objs[0].ProductID > 0) {
                        var tblColums = [];
                        var oColumn = { field: "ProductCode", title: "Code", width: 100, align: "left" }; tblColums.push(oColumn);
                        oColumn = { field: "ProductName", title: "Name", width: 300, align: "left" }; tblColums.push(oColumn);
                        oColumn = { field: "MUnit", title: "Unit", width: 70, align: "left" }; tblColums.push(oColumn);
                        var oPickerParam = {
                            winid: 'winProductPicker',
                            winclass: 'clsProductPicker',
                            winwidth: 600,
                            winheight: 460,
                            tableid: 'tblProductPicker',
                            tablecolumns: tblColums,
                            datalist: response.objs,
                            multiplereturn: true,
                            searchingbyfieldName: 'NameCode',
                            windowTittle: 'Product List'
                        };
                        $.icsPicker(oPickerParam);
                        IntializePickerbutton(oPickerParam);
                    }
                    else {
                        alert(response.objs[0].ErrorMessage);
                    }

                }else{
                    alert("Data Not Found.");
                }
            });
        }
        /*..........Pick Order ............. */
        $("#btnPickOrderNo").click(function () {
            debugger;
            if (parseInt($("#cboOrderType").val())<=0 ) {

                alert("Please Select Order Type.");
                $('#cboOrderType').focus();
                $('#cboOrderType').addClass("errorFieldBorder");
                return;
            }
            else{
                $('#cboOrderType').removeClass("errorFieldBorder");
            }

            var oPSDetail = {
                OrderType:$('#cboOrderType').val(),
                OrderNo:$('#txtOrderNo').val(),
                LabDipDetailID:0,
                ContractorName:_sContractorIDs
            };

            GetOrders(oPSDetail);
        });
        $("#txtOrderNoAdv").keydown(function (e) {
            var nkeyCode = e.keyCode || e.which;
            if(nkeyCode==13){
                var sorderNo=$.trim($("#txtOrderNoAdv").val());
                if (parseInt($("#cboOrderType").val())<=0 ) {

                    alert("Please Select Order Type.");
                    $('#cboOrderType').focus();
                    $('#cboOrderType').addClass("errorFieldBorder");
                    return;
                }
                else{
                    $('#cboOrderType').removeClass("errorFieldBorder");
                }

                var oPSDetail = {
                    OrderType:$('#cboOrderType').val(),
                    OrderNo:$('#txtOrderNoAdv').val(),
                    LabDipDetailID:0
                };
                GetOrders(oPSDetail);
            }
            else if(nkeyCode==8){
                $("#txtOrderNoAdv").val("");

            }
        });
        function GetOrders(oPSDetail){

            var obj = {
                BaseAddress: _sBaseAddress,
                Object: oPSDetail,
                ControllerName: "DUPSchedule",
                ActionName: "GetsDyeingOrder",
                IsWinClose: false
            };
            $("#progressbar").progressbar({ value: 0 });
            $("#progressbarParent").show();
            var intervalID = setInterval(updateProgress, 250);
            $.icsDataGets(obj, function (response) {
                clearInterval(intervalID);
                $("#progressbarParent").hide();
                if (response.status && response.objs.length > 0) {
                    if (response.objs[0].DODID > 0) {
                        debugger;
                        var tblColums = [];

                        var oColumn = { field: "OrderNo", title: "OrderNo", width: 100, align: "left" };tblColums.push(oColumn);

                        oColumn = { field: "OrderQty", title: "OrderQty", width: 75, align: "right",formatter:formatPrice };tblColums.push(oColumn);
                        oColumn = { field: "Qty_Pro", title: "Prod Qty", width: 75, align: "right",formatter:formatPrice };tblColums.push(oColumn);
                        oColumn = { field: "Qty_RS", title: "Yet To Pro", width: 75, align: "right" };tblColums.push(oColumn);
                        oColumn = { field: "ProductName", title: "Yarn", width: 225, align: "left" };tblColums.push(oColumn);
                        oColumn = { field: "ColorName", title: "ColorName", width: 100, align: "left" };tblColums.push(oColumn);
                        oColumn = { field: "ShadeSt", title: "Shade", width: 40, align: "left" };tblColums.push(oColumn);
                        oColumn = { field: "ColorNo", title: "ColorNo", width: 80, align: "left" };tblColums.push(oColumn);
                        oColumn = { field: "LabdipNo", title: "LabdipNo", width: 100, align: "left" };tblColums.push(oColumn);
                        oColumn = { field: "OrderTypeSt", title: "OrderType", width: 100, align: "left" };tblColums.push(oColumn);
                        var oPickerParam = {
                            winid: 'winOrderPicker',
                            winclass:'clsOrderPicker',
                            winwidth: 1000,
                            winheight: 660,
                            tableid: 'tblOrderPicker',
                            tablecolumns: tblColums,
                            datalist: response.objs,
                            multiplereturn: true,
                            searchingbyfieldName:'OrderNo',
                            windowTittle: 'Order List'
                        };
                        $.icsPicker(oPickerParam);
                        IntializePickerbutton(oPickerParam);//multiplereturn, winclassName
                    }
                    else { alert(response.objs[0].ErrorMessage); }
                }
                else{
                    alert("No order found.");
                }
            });


        }

        $('#btnPrintCard').click(function(){
            var oRouteSheet = $('#tblRSWise').datagrid('getSelected');
            if (oRouteSheet ==null || oRouteSheet.RouteSheetID <=0 )
            {
                alert("Please select an item from list.");
                return ;
            }
            sessionStorage.setItem("BUID", _nBUID);
            //  window.location.href = _sBaseAddress+ "/RouteSheet/PrintCard?nId="+oRouteSheet.RouteSheetID+"&buid="+_nBUID;
            window.open(_sBaseAddress+ "/RouteSheet/PrintRSPackingCard?nId="+ oRouteSheet.RouteSheetID, "_blank");
        });
        $("#btnResetOrder").click(function () {
            $('#txtOrderNoAdv').val("");
            _sDODIDs="";
        });

        /*..........Contractor Pick ............. */
        $("#btnResetBuyer").click(function () {
            $("#txtBuyer").val("");
            _sContractorIDs="";
        });
        $("#btnPickBuyer").click(function () {

            var sContractorName=$.trim($("#txtBuyer").val());
            GetContractors(sContractorName);
        });
        $("#txtBuyer").keydown(function (e) {
            var nkeyCode = e.keyCode || e.which;
            if(nkeyCode==13){
                var sContractorName=$.trim($("#txtBuyer").val());
                GetContractors(sContractorName);
            }
            else if(nkeyCode==8){
                $("#txtBuyer").val("");
                _sContractorIDs=0;
            }
        });
        function GetContractors(sContractorName){

            var oContractor = {
                Params: '2,3' +'~'+sContractorName+'~'+sessionStorage.getItem("BUID"),
            };
            var obj = {
                BaseAddress: _sBaseAddress,
                Object: oContractor,
                ControllerName: "Contractor",
                ActionName: "ContractorSearchByNameType",
                IsWinClose: false
            };
            $("#progressbar").progressbar({ value: 0 });
            $("#progressbarParent").show();
            var intervalID = setInterval(updateProgress, 250);

            $.icsDataGets(obj, function (response) {
                clearInterval(intervalID);
                $("#progressbarParent").hide();
                if (response.status && response.objs.length > 0) {
                    if (response.objs[0].ContractorID > 0) {
                        debugger;
                        var tblColums = [];
                        var oColumn = { field: "ContractorID", title: "Code", width: 50, align: "center" };tblColums.push(oColumn);
                        oColumn = { field: "Name", title: "Name", width: 190, align: "left" };tblColums.push(oColumn);
                        oColumn = { field: "Phone", title: "Phone", width: 140, align: "left" };tblColums.push(oColumn);
                        var oPickerParam = {
                            winid: 'winContractorPicker',
                            winclass:'clsContractorPicker',
                            winwidth: 460,
                            winheight: 460,
                            tableid: 'tblContractorPicker',
                            tablecolumns: tblColums,
                            datalist: response.objs,
                            multiplereturn: true,
                            searchingbyfieldName:'Name',
                            windowTittle: 'Contractor List'
                        };
                        $.icsPicker(oPickerParam);
                        IntializePickerbutton(oPickerParam);//multiplereturn, winclassName
                    }
                    else { alert(response.objs[0].ErrorMessage); }
                }
                else{
                    alert("No contractor found.");
                }
            });


        }

        /*---------------- Machine Pick --------------*/
        $("#btnResetMachine").click(function () {

            $("#txtMachine").val("");
            _sMachineIDs="";
        });
        $("#btnPickMachine").click(function () {

            var sMachineName=$.trim($("#txtMachine").val());
            if(sMachineName==""){ alert("Type machine name to search."); return false; }
            GetMachines(sMachineName);
        });
        $("#txtMachine").keydown(function (e) {
            var nkeyCode = e.keyCode || e.which;
            if(nkeyCode==13){
                var sMachineName=$.trim($("#txtMachine").val());
                if(sMachineName==""){ alert("Type machine name to search."); return false; }
                GetMachines(sMachineName);
            }
            else if(nkeyCode==8){
                $("#txtMachine").val("");
                _sMachineIDs="";
            }
        });
        function GetMachines(sMachineName){

            var oCapitalResource = {
                BUID:sessionStorage.getItem("BUID"),
                ResourcesTypeInInt:2,
                Name:sMachineName
            };
            var obj = {
                BaseAddress: _sBaseAddress,
                Object: oCapitalResource,
                ControllerName: "CapitalResource",
                ActionName: "GetsCapitalResourceLastLayer",
                IsWinClose: false
            };
            $("#progressbar").progressbar({ value: 0 });
            $("#progressbarParent").show();
            var intervalID = setInterval(updateProgress, 250);
            $.icsDataGets(obj, function (response) {
                clearInterval(intervalID);
                $("#progressbarParent").hide();
                if (response.status && response.objs.length > 0) {
                    if (response.objs[0].CRID > 0) {
                        debugger;
                        var tblColums = [];
                        var oColumn = { field: "Name", title: "Machine Name", width: 130, align: "left" };tblColums.push(oColumn);
                        oColumn = { field: "MachineCapacity", title: "Capacity", width: 90, align: "left" };tblColums.push(oColumn);
                        oColumn = { field: "OperationUnitName", title: "Store", width: 185, align: "left" };tblColums.push(oColumn);

                        var oPickerParam = {
                            winid: 'winMachinePicker',
                            winclass:'clsMachinePicker',
                            winwidth: 500,
                            winheight: 460,
                            tableid: 'tblMachinePicker',
                            tablecolumns: tblColums,
                            datalist: response.objs,
                            multiplereturn: true,
                            searchingbyfieldName:'Name',
                            windowTittle: 'Machine List'
                        };
                        $.icsPicker(oPickerParam);
                        IntializePickerbutton(oPickerParam);//multiplereturn, winclassName
                    }
                    else { alert(response.objs[0].ErrorMessage); }
                }
                else{
                    alert("No machine found.");
                }
            });


        }

        function IntializePickerbutton(oPickerobj) {
            $("#" + oPickerobj.winid).find("#btnOk").click(function () {
                SetPickerValueAssign(oPickerobj);
            });
            $(document).find('.' + oPickerobj.winclass).keydown(function (e) {
                if (e.which === 13) {
                    SetPickerValueAssign(oPickerobj);
                }
            });
        }
        function SetPickerValueAssign(oPickerobj) {
            var oreturnObj = null, oreturnObjs = [];
            if (oPickerobj.multiplereturn) {
                oreturnObjs = $('#' + oPickerobj.tableid).datagrid('getChecked');
            } else {
                oreturnObj = $('#' + oPickerobj.tableid).datagrid('getSelected');
            }

            if (oPickerobj.winid == 'winRSInQCPicker')
            {
                $("#" + oPickerobj.winid).icsWindow("close");
                $("#" + oPickerobj.winid).remove();
                return;
            }
            if (oPickerobj.winid == 'winContractorPicker')
            {
                if (oreturnObjs != null && oreturnObjs.length> 0)
                {

                    _sContractorIDs=''; var sMessage='';
                    sMessage=(oreturnObjs.length>1)? oreturnObjs.length +" Buyers Selected" : oreturnObjs[0].Name;
                    $('#txtBuyer').val(sMessage);
                    $("#txtBuyer").addClass("fontColorOfPickItem");

                    for(var i=0;i<oreturnObjs.length;i++){
                        _sContractorIDs=_sContractorIDs+oreturnObjs[i].ContractorID+',';
                    }
                    _sContractorIDs=_sContractorIDs.substring(0,_sContractorIDs.length-1);

                }
                else
                {
                    alert("Please select a contractor.");
                    return false;
                }
            }

            else if (oPickerobj.winid == 'winBuyers') {
                if (oreturnObjs != null && oreturnObjs.length> 0)
                {
                    _sDeliverToIDs='';
                    var sMessage='';
                    sMessage=(oreturnObjs.length>1)? oreturnObjs.length +" Contractors Selected" : oreturnObjs[0].Name;
                    $('#txtDeliverToAdvS').val(sMessage);
                    $("#txtDeliverToAdvS").addClass("fontColorOfPickItem");

                    for(var i=0;i<oreturnObjs.length;i++){
                        _sDeliverToIDs=_sDeliverToIDs+oreturnObjs[i].ContractorID+',';
                    }
                    _sDeliverToIDs=_sDeliverToIDs.substring(0,_sDeliverToIDs.length-1);
                }
                else
                {
                    alert("Please select a buyer.");
                    return false;
                }
            }
            else if (oPickerobj.winid == 'winProductPicker')
            {
                if (oreturnObjs!= null && oreturnObjs.length> 0)
                {
                    _sProductIds=''; var sMessage='';
                    sMessage=(oreturnObjs.length>1)? oreturnObjs.length +" ProductName Selected" : oreturnObjs[0].ProductName;
                    $('#txtProductName').val(sMessage);
                    $("#txtProductName").addClass("fontColorOfPickItem");

                    for(var i=0;i<oreturnObjs.length;i++){
                        _sProductIds=_sProductIds+oreturnObjs[i].ProductID+',';
                    }
                    _sProductIds=_sProductIds.substring(0,_sProductIds.length-1);

                }
                else
                {
                    alert("Please select a Product.");
                    return false;
                }

            }
            else  if (oPickerobj.winid == 'winMachinePicker')
            {
                if (oreturnObjs!= null && oreturnObjs.length> 0)
                {
                    _sMachineIDs=''; var sMessage='';
                    sMessage=(oreturnObjs.length>1)? oreturnObjs.length +" Machine Selected" : oreturnObjs[0].Name;
                    $('#txtMachine').val(sMessage);
                    $("#txtMachine").addClass("fontColorOfPickItem");

                    for(var i=0;i<oreturnObjs.length;i++){
                        _sMachineIDs=_sMachineIDs+oreturnObjs[i].CRID+',';
                    }
                    _sMachineIDs=_sMachineIDs.substring(0,_sMachineIDs.length-1);
                }
                else
                {
                    alert("Please select a Machine.");
                    return false;
                }
            }
            else  if (oPickerobj.winid == 'winOrderPicker')
            {
                if (oreturnObjs!= null && oreturnObjs.length> 0)
                {
                    _sDODIDs=''; var sMessage='';
                    sMessage=(oreturnObjs.length>1)? oreturnObjs.length +" Order Selected" : oreturnObjs[0].OrderNo;
                    $('#txtOrderNoAdv').val(sMessage);
                    $("#txtOrderNoAdv").addClass("fontColorOfPickItem");

                    for(var i=0;i<oreturnObjs.length;i++){
                        _sDODIDs=_sDODIDs+oreturnObjs[i].DODID+',';
                    }
                    _sDODIDs=_sDODIDs.substring(0,_sDODIDs.length-1);
                }
                else
                {
                    alert("Please select a order.");
                    return false;
                }
            }
            $("#" + oPickerobj.winid).icsWindow("close");
            $("#" + oPickerobj.winid).remove();
        }
        /// print
       
        $("#btnAdd").click(function(){
            var oRouteSheet = $('#tblRSWise').datagrid('getSelected');
            if (oRouteSheet ==null || oRouteSheet.RouteSheetID <=0 ) { alert("Please select an item from list."); return ; }

            var nIndex = $('#tblRSWise').datagrid('getRowIndex',oRouteSheet);
            sessionStorage.setItem("Operation", "New");
            sessionStorage.setItem("SelectedRowIndex", nIndex);
            sessionStorage.setItem("RouteSheetHeader", "Add RouteSheet");
            sessionStorage.setItem("RouteSheets", JSON.stringify($('#tblRSWise').datagrid('getRows')));
            sessionStorage.setItem("BackLink", window.location.href);
            var tsv=((new Date()).getTime())/1000;
            sessionStorage.setItem("BUID", _nBUID);
            window.location.href = _sBaseAddress+ "/RouteSheet/View_RouteSheetProgress?nId="+ oRouteSheet.RouteSheetID +"&buid="+_nBUID+"&ts="+tsv;

            // window.location.href = _sBaseAddress+ "/RouteSheet/ViewRouteSheet?id=0&buid="+_nBUID;
        });
        $("#btnUpdateHS").click(function(){
            var oRouteSheet = $('#tblRSWise').datagrid('getSelected');
            if (oRouteSheet ==null || oRouteSheet.RouteSheetID <=0 ) { alert("Please select an item from list."); return ; }

            var nIndex = $('#tblRSWise').datagrid('getRowIndex',oRouteSheet);
            //sessionStorage.setItem("Operation", "New");
            sessionStorage.setItem("SelectedRowIndex", nIndex);
            sessionStorage.setItem("RouteSheetHeader", "Add RouteSheet");
            sessionStorage.setItem("RouteSheets", JSON.stringify($('#tblRSWise').datagrid('getRows')));
            sessionStorage.setItem("BackLink", window.location.href);
            var tsv=((new Date()).getTime())/1000;
            sessionStorage.setItem("BUID", _nBUID);
            window.location.href = _sBaseAddress+ "/RouteSheetHistory/ViewRSHistoryUpdate?id="+ oRouteSheet.RouteSheetID +"&buid="+_nBUID+"&ts="+tsv;

            // window.location.href = _sBaseAddress+ "/RouteSheet/ViewRouteSheet?id=0&buid="+_nBUID;
        });

        $('#btnPrint').click(function (e)
        {
            var sParams = sessionStorage.getItem('SearchString');
            if(sParams==null || sParams=="")
            {
                sParams = ""+'~'+0+ '~'+ icsdateformat(new Date())+'~'+ icsdateformat(new Date())+'~'+ "" +'~'+ "" + '~'+ "" +'~'+ '4, 6,7, 8,9, 10,11' +'~'+''+'~'+_sProductIds+'~'+0+''
            }
            var tsv=((new Date()).getTime())/1000; console.log(sParams);
            window.open(_sBaseAddress+ "/RouteSheet/ExcelProgressHistory?sParam="+sParams+"&nts="+tsv, "_blank");
        });
        /*---------- REPORT PREVIEW --------------*/
        function ResetReportWindow()
        {
            var oReportTypes=[{id:1, Value:'All Machine'},{id:4, Value:'Dye Machine'},{id:2, Value:'Hydro Machine'},{id:3, Value:'Dryer Machine'}];
            $("#cboReportType").icsLoadCombo({
                List: oReportTypes,
                OptionValue: "id",
                DisplayText: "Value",
                DefaultOptionValue: "All Machine",
            });
            $('#cboReportType').val(1);
            $('#cboRSDateRpt').val(1);

            $('#dtRouteSheetDateToRpt').datebox({disabled:true});
            $('#dtRouteSheetDateToRpt').datebox('setValue',icsdateformat(new Date()));

            DateActionsRSDateRpt();
        }
        $("#btnPrintReport").click(function (e) {
            ResetReportWindow();
            $("#winReport").icsWindow("open", "Progress Report");
        });
        $("#btnCloseReport").click(function (e) {
            $("#winReport").icsWindow("close");
        });

        $('#btnExcel').click(function (e)
        {
            var sParams = sessionStorage.getItem("ParamsP");
            debugger;
            var oRSFreshDyedYarn = {
                ErrorMessage: sParams
            }
            $.ajax({
                type: "POST",
                dataType: "json",
                url : _sBaseAddress+  "/RSFreshDyedYarn/SetRSFreshDyedYarnData",
                traditional: true,
                data:  JSON.stringify(oRSFreshDyedYarn),
                contentType: "application/json; charset=utf-8",
                success: function (data) {
                    var sFeedBackMessage = jQuery.parseJSON(data);
                    if (sFeedBackMessage==="Successful")
                    {
                        window.open (_sBaseAddress+ "/RSFreshDyedYarn/RSFreshDyedYarnExcel");
                    }
                },
                error: function (xhr, status, error) {
                    alert(error);
                }
            });
        });

        function DateActionsRSDateRpt() {
            debugger;
            var nDateType=$('#cboRSDateRpt').val();
            if (nDateType == 1 )
            {
                $('#dtRouteSheetDateFromRpt').datetimebox({disabled: false});
                $('#dtRouteSheetDateToRpt').datetimebox({disabled: true});
            }
            if (nDateType == 5 )
            {
                $('#dtRouteSheetDateFromRpt').datetimebox({disabled: false});
                $('#dtRouteSheetDateToRpt').datetimebox({disabled: false});
            }
            var dtEventTime =new Date(_oRouteSheetSetup.BatchTime);
            dtEventTime = icsdateformat(new Date())+" "+ _oRouteSheetSetup.BatchTimeTT;
            $('#dtRouteSheetDateFromRpt').datetimebox('setValue',dtEventTime);
            $('#dtRouteSheetDateToRpt').datetimebox('setValue',dtEventTime);

            // DynamicDateActions("cboRSDateRpt", "dtRouteSheetDateFromRpt", "dtRouteSheetDateToRpt");
        }
        $("#btnPreviewRpt").click(function ()
        {
            debugger;
            var nReportLayout = $('#cboReportType').val();
            var nCompareDate= $('#cboRSDateRpt').val();
            //if(nReportLayout==0){ alert('Please Select A Report Layout & Try Again!'); return; }
            if(nCompareDate==0){ alert('Please Select A Date Criteria & Try Again!'); return; }

            var sParams = nReportLayout + '~' + nCompareDate + '~' + $('#dtRouteSheetDateFromRpt').datetimebox('getValue')+ '~' + $('#dtRouteSheetDateToRpt').datetimebox('getValue');
            window.open(_sBaseAddress + '/RouteSheet/Preview_BatchProgress?sParams='+sParams+"&buid="+_nBUID+"&ts=0", "_blank");
        });
        $("#btnPreviewRpt_Excel").click(function ()
        {
            debugger;
            var nReportLayout = $('#cboReportType').val();
            var nCompareDate= $('#cboRSDateRpt').val();
            //if(nReportLayout==0){ alert('Please Select A Report Layout & Try Again!'); return; }
            if(nCompareDate==0){ alert('Please Select A Date Criteria & Try Again!'); return; }

            var sParams = nReportLayout + '~' + nCompareDate + '~' + $('#dtRouteSheetDateFromRpt').datetimebox('getValue')+ '~' + $('#dtRouteSheetDateToRpt').datetimebox('getValue');
            window.open(_sBaseAddress + '/RouteSheet/ExportToExcel_DyeingProgress?sParams='+sParams+"&buid="+_nBUID+"&ts=0", "_blank");
        });

      
    </script>


