<html>

<body>
    @{
        ViewBag.Title = "Voucher Type";
    }
    @model ESimSol.BusinessObjects.VoucherType
    <div class="menuMainCollectionTable" id="divVoucherType" class="easyui-panel" fit="true" title="Add VoucherType" style="font-family:Tahoma; height:100%; width:100%;overflow:hidden;">
        <div style="width:100%; height:88%; text-align:center;overflow:hidden;">
            <fieldset style="height:97%;width:97%; overflow:auto; text-align:center">
                <legend style="font-weight:bold;text-align:left;"> Voucher Type Informations : </legend>
                <table border="0" cellspacing="2" cellpadding="2" style=" width:100%;">
                    <tr>
                        <td style="font-size:12px; width:15%; text-align:right">Voucher Name :</td>
                        <td style="font-size:12px; width:85%; text-align:left">
                            @Html.TextBoxFor(model => model.VoucherName, new { style = "width: 99.5%;", id = "txtVoucherName" })
                        </td>
                    </tr>
                    <tr>
                        <td style="font-size:12px; width:15%; text-align:right">Voucher Category :</td>
                        <td style="font-size:12px; width:85%">
                            <table border="0" cellspacing="0" cellpadding="0" style=" width:100%">
                                <tr>
                                    <td style="font-size:12px; width:40%">
                                        @Html.DropDownListFor(model => model.VoucherCategory, new SelectList(Enum.GetValues(typeof(ESimSol.BusinessObjects.EnumVoucherCategory))), new { id = "cboVoucherCategory", style = "width: 100%;" })
                                    </td>
                                    <td style="font-size:12px; width:20%; text-align:right">Number Method :</td>
                                    <td style="font-size:12px; width:40%">
                                        @Html.DropDownListFor(model => model.NumberMethod, new SelectList(Enum.GetValues(typeof(ESimSol.BusinessObjects.EnumNumberMethod))), new { style = "width: 100%;", id = "cboNumberMethod", @class = "_select_change" })
                                    </td>
                                </tr>
                            </table>
                        </td>
                    </tr>
                    <tr id="trNumberConfigure1">
                        <td style="width:15%"></td>
                        <td style="width:85%; text-align:left">
                            <fieldset style="width:97%; text-align:left; font-weight:bold; font-size:medium">
                                Preview: <label id="lblVoucherCode" style=" font-weight:bold;background:#D8D8D8"> </label>
                            </fieldset>
                            <div style="width:100%; margin-left:2px">
                                <table id="tblVoucherCode" title="Voucher Code Configure" class="easyui-datagrid" style="width:100%;height:250px" toolbar="#toolbar" pagination="false" rownumbers="true" fitcolumns="true" singleselect="true">
                                    <thead>
                                        <tr>
                                            <th field="VoucherCodeTypeInString" width="150">Code Portion Type </th>
                                            <th field="Value" width="150">Value</th>
                                            <th field="Length" width="150">Length</th>
                                            <th field="RestartInString" width="150">Restart Period</th>
                                        </tr>
                                    </thead>
                                </table>
                                <div id="toolbar">
                                    <table border="0" cellpadding="2" cellspacing="2" style="width:100%;">
                                        <tr>
                                            <td style="width:15%; font-size:12px">Portion Type</td>
                                            <td style="width:15%; font-size:12px">Value</td>
                                            <td style="width:15%; font-size:12px">Length</td>
                                            <td style="width:15%"><label id="lblrestart" style="font-size:12px">Restart</label> </td>
                                            <td style="width:5%"> </td>
                                            <td style="width:25%"> </td>
                                        </tr>
                                        <tr>
                                            <td style="width:15%">
                                                @Html.DropDownList("cboVoucherCodeType", new SelectList(Enum.GetValues(typeof(ESimSol.BusinessObjects.EnumVoucherCodeType))), new { id = "cboVoucherCodeType", style = "width: 100%;", @class = "_select_changeType" })
                                            </td>
                                            <td style="width:15%">
                                                <input type="text" id="txtValue" style="width:100%" onchange="change_send(this.value);" />
                                                @Html.DropDownList("cboValue", new SelectList(Enum.GetValues(typeof(ESimSol.BusinessObjects.EnumDateDisplayPart))), new { id = "cboValue", style = "width: 100%;" })
                                            </td>
                                            <td style="width:15%">
                                                <input type="text" id="txtLength" style="width:150px" disabled="disabled" />
                                                @Html.DropDownList("cboDateFormat", new SelectList(Enum.GetValues(typeof(ESimSol.BusinessObjects.EnumDateFormat))), new { id = "cboDateFormat", style = "width: 100%;" })
                                            </td>
                                            <td style="width:15%">
                                                @Html.DropDownList("cboRestart", new SelectList(Enum.GetValues(typeof(ESimSol.BusinessObjects.EnumRestartPeriod))), new { id = "cboRestart", style = "width: 100%;" })
                                            </td>
                                            <td style="width:5%">
                                                <a id="btnAdd" href="javascript:void(0)" class="easyui-linkbutton" iconcls="icon-add" plain="true">Add</a>
                                            </td>
                                            <td style="width:25%">
                                                <a id="btnDeleteCol" href="javascript:void(0)" class="easyui-linkbutton" iconcls="icon-remove" plain="true">Delete</a>
                                                <a id="btnUpCol" href="javascript:void(0)" class="easyui-linkbutton" iconcls="icon-up" plain="true">Up</a>
                                                <a id="btnDownCol" href="javascript:void(0)" class="easyui-linkbutton" iconcls="icon-down" plain="true">Down</a>
                                            </td>
                                        </tr>
                                    </table>
                                </div>
                            </div>
                        </td>
                    </tr>
                </table>
                <table border="0" cellpadding="0" cellspacing="0" style="width:100%">
                    <tr>
                        <td style="width:50%">
                            <table cellpadding="0" cellspacing="0" border="0">
                                <tr>
                                    <td style="font-size:12px; width:50%; text-align:right"></td>
                                    <td style="font-size:12px; width:50%; text-align:left">
                                        @Html.CheckBoxFor(model => model.MustNarrationEntry, new { id = "chkMustNarrationEntry", style = "width: 20px;" }) Narration Entry Must
                                    </td>
                                </tr>
                                <tr>
                                    <td style="font-size:12px; width:50%; text-align:right"></td>
                                    <td style="font-size:12px; width:50%; text-align:left">
                                        @Html.CheckBoxFor(model => model.PrintAfterSave, new { id = "chkPrintAfterSave", style = "width: 20px;" }) Print After Save
                                    </td>
                                </tr>
                                <tr>
                                    <td style="font-size:12px; width:50%; text-align:right"></td>
                                    <td style="font-size:12px; width:50%; text-align:left">
                                        @Html.CheckBoxFor(model => model.IsProductRequired, new { id = "chkIsProductRequired", style = "width: 20px;" }) Voucher Print With A4 Size Paper
                                    </td>
                                </tr>
                                <tr>
                                    <td style="font-size:12px; width:50%; text-align:right"></td>
                                    <td style="font-size:12px; width:50%; text-align:left">
                                        @Html.CheckBoxFor(model => model.IsDepartmentRequired, new { id = "chkIsDepartmentRequired", style = "width: 20px;" }) Department Required
                                    </td>
                                </tr>
                                <tr>
                                    <td style="font-size:12px; width:50%; text-align:right"></td>
                                    <td style="font-size:12px; width:50%; text-align:left">
                                        @Html.CheckBoxFor(model => model.IsPaymentCheque, new { id = "chkIsPaymentCheque", style = "width: 20px;" }) Payment
                                        <input id="chkIsReceivedCheque" type="checkbox" /> Receive
                                    </td>
                                </tr>
                            </table>
                        </td>
                        <td style="width:50%"></td>
                    </tr>
                </table>

            </fieldset>
        </div>
        <div style="width:100%; height:10%">
            <fieldset>
                <legend style="font-weight:bold"> Action : </legend>
                <table border="0" cellspacing="2" cellpadding="2" style="font-size:11px; font-weight:bold; width:100%">
                    <tr>
                        <td style="width:80%; text-align:right"></td>
                        <td style="width:10%">
                            <a id="btnSave" href="javascript:void(0)" class="easyui-linkbutton" iconcls="icon-save" plain="false">Save</a>
                        </td>
                        <td style="width:10%">
                            <a id="btnClose" href="javascript:void(0)" class="easyui-linkbutton" iconcls="icon-cancel" plain="false">Close</a>
                        </td>
                    </tr>
                </table>
            </fieldset>
        </div>
    </div>
</body>
</html>

<script type="text/javascript">
     var _sSelectedCOAIDs = "";
     var _oVoucherCodes = [];
     var _oSubGroupRoots = [];
     var _oVoucherType;
     var _oVoucherTypeM;
     var _sBaseAddress='';
     var _sVoucherTypeHeader="";
     var _nMenuid=0;
    $(document).ready(function () {
        _nMenuid = @Html.Raw(new System.Web.Script.Serialization.JavaScriptSerializer().Serialize(HttpContext.Current.Session[SessionInfo.MenuID]));
        _sBaseAddress =@Html.Raw( new System.Web.Script.Serialization.JavaScriptSerializer().Serialize(HttpContext.Current.Session[SessionInfo.BaseAddress]));
        _oVoucherTypeM=@Html.Raw( new System.Web.Script.Serialization.JavaScriptSerializer().Serialize(Model));
        debugger;
        _oVoucherCodes=_oVoucherTypeM.VoucherCodes;
        $("#trNumberConfigure1").hide();
        $("#cboValue").hide();
        $("#cboDateFormat").hide();
        $("#cboRestart").hide();
        $("#lblrestart").hide();
        _sVoucherTypeHeader=sessionStorage.getItem("VoucherTypeHeader");
        $('#divVoucherType').panel({ title:_sVoucherTypeHeader});
        if(_sVoucherTypeHeader==="Edit Voucher Type")
        {
            var e = document.getElementById("cboNumberMethod");
            if (e.options[e.selectedIndex].text == "Automatic") {
                document.getElementById("trNumberConfigure1").style.display = '';
            }
            else
            {
                document.getElementById("trNumberConfigure1").style.display = 'none';
            }
            var e = document.getElementById("cboVoucherCodeType");
            if (e.options[e.selectedIndex].text == "DateVariation") {
                document.getElementById("cboValue").style.display = '';
                document.getElementById("cboDateFormat").style.display = '';
                document.getElementById("txtValue").style.display = 'none';
                document.getElementById("txtLength").style.display = 'none';
            }
            else {
                document.getElementById("cboValue").style.display = 'none';
                document.getElementById("cboDateFormat").style.display = 'none';
                document.getElementById("txtValue").style.display = '';
                document.getElementById("txtLength").style.display = '';
            }
            var num = document.getElementById("cboVoucherCodeType");
            if (num.options[num.selectedIndex].text == "Numeric")
            {
                document.getElementById("cboRestart").style.display = '';
                document.getElementById("lblrestart").style.display = '';
            }
            else
            {
                document.getElementById("cboRestart").style.display ='none';
                document.getElementById("lblrestart").style.display = 'none';
            }
            
            if(_oVoucherTypeM.PrintAfterSave==true)
            {
                document.getElementById("chkPrintAfterSave").checked = true;
            }
            if(_oVoucherTypeM.MustNarrationEntry==true)
            {
                document.getElementById("chkMustNarrationEntry").checked = true;
            }
            if(_oVoucherTypeM.IsProductRequired==true)
            {
                document.getElementById("chkIsProductRequired").checked = true;
            }
            if(_oVoucherTypeM.IsDepartmentRequired==true)
            {
                document.getElementById("chkIsDepartmentRequired").checked = true;
            }
            MakeVoucherCode();
        }
        RefreshList(_oVoucherCodes);
        $('#chkIsPaymentCheque').change();
        $('#chkIsReceivedCheque').change();
    });
    $('#chkIsPaymentCheque').change(function (){
        $('#chkIsReceivedCheque').prop('checked',!this.checked);
    });
    $('#chkIsReceivedCheque').change(function (){
        $('#chkIsPaymentCheque').prop('checked',!this.checked);
    });

    $("#btnDeleteCol").click(function(){
        var oVoucherCode = $('#tblVoucherCode').datagrid('getSelected');
        if(oVoucherCode==null || oVoucherCode.VoucherCodeID<=0)
        {
            alert("Please select a item from list!");
            return;
        }
        var conf = confirm("Confirm to delete?");
        if(conf==false)return;
        var SelectedRowIndex=$('#tblVoucherCode').datagrid('getRowIndex',oVoucherCode);
        var oVoucherCodes=[];
        var n=0;
        oVoucherCodes=_oVoucherCodes;
        _oVoucherCodes=[];
        for(var i=0; i<oVoucherCodes.length; i++)
        {
            if (oVoucherCodes[i].VoucherCodeID != oVoucherCode.VoucherCodeID){
                _oVoucherCodes[n]=oVoucherCodes[i];
                _oVoucherCodes[n].Sequence=n+1;
                n++;
            }
        }
        MakeVoucherCode();
        $('#tblVoucherCode').datagrid('deleteRow',SelectedRowIndex);
    });

    $("#btnUpCol").click(function(){
        var oVoucherCode = $('#tblVoucherCode').datagrid('getSelected');
        if(oVoucherCode==null || oVoucherCode.VoucherCodeID<=0)
        {
            alert("Please select a item from list!");
            return;
        }
        var SelectedRowIndex=$('#tblVoucherCode').datagrid('getRowIndex',oVoucherCode);
        if(SelectedRowIndex==0)return;
        var oVoucherCodes=[];
        oVoucherCodes=_oVoucherCodes;
        _oVoucherCodes=[];
        for(var i=0; i<oVoucherCodes.length; i++)
        {
            if(i==(SelectedRowIndex-1))
            {
                _oVoucherCodes[i]=oVoucherCodes[i+1];
            }
            else if(i==SelectedRowIndex)
            {
                _oVoucherCodes[i]=oVoucherCodes[i-1];
            }
            else
            {
                _oVoucherCodes[i]=oVoucherCodes[i];
            }
            _oVoucherCodes[i].Sequence=i+1;
        }
        RefreshList(_oVoucherCodes);        
        MakeVoucherCode();
        var newSelectedRowIndex=SelectedRowIndex-1;
        $('#tblVoucherCode').datagrid('selectRow',newSelectedRowIndex);
    });

    $("#btnClose").click(function(){
        window.location.href = _sBaseAddress+ "/VoucherType/ViewVoucherTypes?gfdb=no&menuid="+_nMenuid;
    });


    $("#btnDownCol").click(function(){
        var oVoucherCode = $('#tblVoucherCode').datagrid('getSelected');
        if(oVoucherCode==null || oVoucherCode.VoucherCodeID<=0)
        {
            alert("Please select a item from list!");
            return;
        }
        var SelectedRowIndex=$('#tblVoucherCode').datagrid('getRowIndex',oVoucherCode);
        if(SelectedRowIndex==(_oVoucherCodes.length-1))return;
        var oVoucherCodes=[];
        oVoucherCodes=_oVoucherCodes;
        _oVoucherCodes=[];
        for(var i=0; i<oVoucherCodes.length; i++)
        {
            if(i==(SelectedRowIndex+1))
            {
                _oVoucherCodes[i]=oVoucherCodes[i-1];
            }
            else if(i==SelectedRowIndex)
            {
                _oVoucherCodes[i]=oVoucherCodes[i+1];
            }
            else
            {
                _oVoucherCodes[i]=oVoucherCodes[i];
            }
            _oVoucherCodes[i].Sequence=i+1;
        }
        RefreshList(_oVoucherCodes);        
        MakeVoucherCode();
        var newSelectedRowIndex=SelectedRowIndex+1;
        $('#tblVoucherCode').datagrid('selectRow',newSelectedRowIndex);
    });

    function RefreshList(oVoucherCodes)
    {
        data = oVoucherCodes;
        data={"total":""+data.length+"","rows":data};
        $('#tblVoucherCode').datagrid('loadData',data);
    }

   

    function ValidateInputForVoucher()
    {
        var cboVoucherCategory = document.getElementById("cboVoucherCategory");
        var cboNumberMethod = document.getElementById("cboNumberMethod");
        var txtValue = document.getElementById("txtValue");
        var cboVoucherCodeType = document.getElementById("cboVoucherCodeType");
        if(cboVoucherCategory.selectedIndex==0)
        {
            alert("Please select voucher category!");
            $('#cboVoucherCategory').focus();
            return false;
        }
        if(cboNumberMethod.selectedIndex==0)
        {
            alert("Please select voucher number method!");
            $('#cboVoucherCategory').focus();
            return false;
        }
        if($("#txtVoucherName")[0].value=="")
        {
            alert("Please enter Voucher Name!");
            $('#txtVoucherName').focus();
            return false;
        }
        if(cboNumberMethod.selectedIndex==2)
        {
            if(_oVoucherCodes.length==0)
            {
                alert("Please enter voucher code configure details!");
                $('#txtValue').focus();
                return false;
            }
            var bFlag=false;
            for(var i=0; i<_oVoucherCodes.length; i++)
            {
                if(_oVoucherCodes[i].VoucherCodeType == 3)
                {
                    bFlag= true;
                }
            }
            if(!bFlag)
            {
                alert("You Must Insert Numeric Value!!");
                return false;
            }
        }
        return true;
    }

    function RefreshObject()
    {
        var cboVoucherCodeType = document.getElementById("cboVoucherCodeType");
        var cboRestart = document.getElementById("cboRestart");
        var cboValue = document.getElementById("cboValue");
        var cboDateFormat = document.getElementById("cboDateFormat");
        var sTempvalue='';
        var nTemplebgth='';
        if(cboVoucherCodeType.selectedIndex==2)
        {
            if(cboValue.selectedIndex==0)
            {
                sTempvalue='Month';
                if(cboDateFormat.selectedIndex==0)
                {
                    nTemplebgth=3;
                }
                else
                {
                    var currentDate = new Date()
                    var aaa=dateFormat(currentDate, "mmmm");
                    nTemplebgth=aaa.length;
                }
            }
            else
            {
                sTempvalue='Year';
                if(cboDateFormat.selectedIndex==0)
                {
                    nTemplebgth=2;
                }
                else
                {
                    var currentDate = new Date()
                    var bbb=dateFormat(currentDate, "yyyy");
                    nTemplebgth=bbb.length;
                }
            }
        }
        else
        {
            sTempvalue=$("#txtValue")[0].value;
            nTemplebgth=parseInt($("#txtLength")[0].value) ;
        }

        var oVoucherCode = {
            VoucherCodeID : _oVoucherCodes.length + 1,
            VoucherTypeID :1,
            VoucherCodeType :cboVoucherCodeType.selectedIndex,
            VoucherCodeTypeInInt:cboVoucherCodeType.selectedIndex,
            Value : sTempvalue,
            Length :nTemplebgth ,
            Restart : cboRestart.selectedIndex,
            RestartInInt: cboRestart.selectedIndex,
            Sequence : _oVoucherCodes.length + 1,
            VoucherCodeTypeInString : cboVoucherCodeType.options[cboVoucherCodeType.selectedIndex].text,
            RestartInString : cboRestart.options[cboRestart.selectedIndex].value
        };

        if(cboVoucherCodeType.selectedIndex !=2)
        {
            if(oVoucherCode.Value.length != oVoucherCode.Length)
            {
                alert("Your inserted Value and Length must be equal");
                return ;
            }
        }
        _oVoucherCodes.push(oVoucherCode);
    }

    function isNumber(n) {
        return !isNaN(parseFloat(n)) && isFinite(n);
    }

    function ValidateInput()
    {
        var cboVoucherCodeType = document.getElementById("cboVoucherCodeType");
        var cboRestart = document.getElementById("cboRestart");
        var txtValue = document.getElementById("txtValue");
        var cboNumberMethod = document.getElementById("cboNumberMethod");
        if(cboVoucherCodeType.selectedIndex==0)
        {
            alert("Please select voucher code portion!");
            $('#cboVoucherCodeType').focus();
            return false;
        }
        //if(cboVoucherCodeType.selectedIndex==3)
        //{
        //    if(cboRestart.selectedIndex==0)
        //    {
        //        alert("Please select restart period!");
        //        $('#cboRestart').focus();
        //        return false;
        //    }
        //}

        if(cboVoucherCodeType.selectedIndex!=2)
        {
            if($("#txtValue")[0].value=="")
            {
                alert("Please enter value!");
                $('#txtValue').focus();
                return false;
            }
        }
        if(cboVoucherCodeType.selectedIndex==3)
        {
            var bFlag=isNumber($("#txtValue")[0].value);
            if(!bFlag)
            {
                alert("You can insert only numeric value from 0-9");
                $('#txtValue').focus();
                return false;
            }
        }

        if(_oVoucherCodes.length>0)
        {
            for(var i=0; i<_oVoucherCodes.length; i++)
            {
                if(cboVoucherCodeType.selectedIndex==3)
                {
                    if(_oVoucherCodes[i].VoucherCodeType == cboVoucherCodeType.selectedIndex)
                    {
                        alert("You Already Insert Numeric Value!!");
                        return false;
                    }
                }
            }
        }
        return true;
    }


    function MakeVoucherCode()
    {
        var sVoucherCode='';
        for(var i=0;i<_oVoucherCodes.length;i++)
        {
            if(_oVoucherCodes[i].VoucherCodeTypeInString=='DateVariation')
            {
                var currentDate = new Date()
                if(_oVoucherCodes[i].Value=='Month' && _oVoucherCodes[i].Length==3 ) // If user select Short Format For Month, it will print First Three Digit Dec
                {
                    sVoucherCode=sVoucherCode+dateFormat(currentDate, "mmm");
                }
                if(_oVoucherCodes[i].Value=='Month' && _oVoucherCodes[i].Length>3 )// If user select Long Format For Month, it will print First Three Digit December
                {
                    sVoucherCode=sVoucherCode+dateFormat(currentDate, "mmmm");
                }
                if(_oVoucherCodes[i].Value=='Year' && _oVoucherCodes[i].Length==2) // If user select Short Format For Year, it will print Last Two Digit 12
                {
                    sVoucherCode=sVoucherCode+dateFormat(currentDate, "yy");
                }
                if(_oVoucherCodes[i].Value=='Year' && _oVoucherCodes[i].Length>2) // If user select Long Format For Year, it will print Total Year like 2012
                {
                    sVoucherCode=sVoucherCode+dateFormat(currentDate, "yyyy");
                }
            }
            else
            {
                sVoucherCode=sVoucherCode+ _oVoucherCodes[i].Value;
            }
        }
        document.getElementById("lblVoucherCode").innerHTML = sVoucherCode;
    }


    function ResetControl()
    {
        $("#txtValue")[0].value='';
        $("#txtLength")[0].value='';
        document.getElementById("cboValue").style.display = 'none';
        document.getElementById("cboDateFormat").style.display = 'none';
        document.getElementById("txtValue").style.display = '';
        document.getElementById("txtLength").style.display = '';
        var cboVoucherCodeType = document.getElementById("cboVoucherCodeType");
        cboVoucherCodeType.selectedIndex=0;
    }

    $('#btnAdd').click(function () {
        if(!ValidateInput()) return;
        RefreshObject();
        RefreshList(_oVoucherCodes);        
        MakeVoucherCode();
        ResetControl();
    });

    function change_send(x)
    {
        $("#txtLength")[0].value=   x.length;
    }


    $('._select_changeType').change(function () {
        var e = document.getElementById("cboVoucherCodeType");
        if (e.options[e.selectedIndex].text == "DateVariation") {
            document.getElementById("cboValue").style.display = '';
            document.getElementById("cboDateFormat").style.display = '';
            document.getElementById("txtValue").style.display = 'none';
            document.getElementById("txtLength").style.display = 'none';
        }
        else {
            document.getElementById("cboValue").style.display = 'none';
            document.getElementById("cboDateFormat").style.display = 'none';
            document.getElementById("txtValue").style.display = '';
            document.getElementById("txtLength").style.display = '';
        }

        var num = document.getElementById("cboVoucherCodeType");
        var cboRestart = document.getElementById("cboRestart");
        if (num.options[num.selectedIndex].text == "Numeric")
        {
            document.getElementById("cboRestart").style.display = '';
            document.getElementById("lblrestart").style.display = '';
        }
        else
        {
            document.getElementById("cboRestart").style.display ='none';
            document.getElementById("lblrestart").style.display = 'none';
            cboRestart.selectedIndex=0;
        }
    })

    $('._select_change').change(function () {
        var e = document.getElementById("cboNumberMethod");
        if (e.options[e.selectedIndex].text == "Automatic") {
            document.getElementById("trNumberConfigure1").style.display = '';
        }
        else {
            document.getElementById("trNumberConfigure1").style.display = 'none';
            _oVoucherCodes=[];
            RefreshList([]);
        }
    })
   

    function RefreshObjectVoucher()
    {
        var cboVoucherCategory = document.getElementById("cboVoucherCategory");
        var cboRestart = document.getElementById("cboRestart");
        var txtValue = document.getElementById("txtValue");
        var cboNumberMethod = document.getElementById("cboNumberMethod");
        var oVoucherType= {
            VoucherTypeID : _oVoucherTypeM.VoucherTypeID,
            VoucherName : document.getElementById("txtVoucherName").value,
            VoucherNumberFormat:document.getElementById("lblVoucherCode").innerHTML,
            CompanyID : 1,
            VoucherCategoryInInt : cboVoucherCategory.options[cboVoucherCategory.selectedIndex].index,
            NumberMethodInInt: cboNumberMethod.options[cboNumberMethod.selectedIndex].index,
            MustNarrationEntry : document.getElementById("chkMustNarrationEntry").checked,
            PrintAfterSave :document.getElementById("chkPrintAfterSave").checked,
            IsProductRequired : document.getElementById("chkIsProductRequired").checked,
            IsDepartmentRequired :document.getElementById("chkIsDepartmentRequired").checked,
            IsPaymentCheque:document.getElementById("chkIsPaymentCheque").checked,
        };
        return oVoucherType;
    }


    $("#btnSave").click(function(){
        debugger;
        if(!ValidateInputForVoucher()) return false;
        var oVoucherType=RefreshObjectVoucher();
        var sVoucherCodes=$('#tblVoucherCode').datagrid('getRows');
        oVoucherType.VoucherCodes=sVoucherCodes;
        $.ajax({
            type: "POST",
            dataType: "json",
            url :_sBaseAddress+ "/VoucherType/Save",
            traditional: true,
            data:  JSON.stringify(oVoucherType),
            contentType: "application/json; charset=utf-8",
            success: function (data) {
                var oVoucherType = jQuery.parseJSON(data);
                if (oVoucherType.ErrorMessage == '' || oVoucherType.ErrorMessage == null) {
                    alert("Data Saved sucessfully");
                    var oVoucherTypes =sessionStorage.getItem("VoucherTypes");
                    var nIndex= parseInt(sessionStorage.getItem("SelectedRowIndex"));
                    if(oVoucherTypes!=null)
                    {
                        oVoucherTypes = jQuery.parseJSON(oVoucherTypes);
                    }
                    else
                    {
                        oVoucherTypes=[];
                    }
                    if(nIndex!=-1)
                    {
                        oVoucherTypes[nIndex]=oVoucherType;
                    }
                    else
                    {
                        sessionStorage.setItem("SelectedRowIndex", oVoucherTypes.length);
                        oVoucherTypes.push(oVoucherType);
                    }
                    sessionStorage.setItem("VoucherTypes", JSON.stringify(oVoucherTypes));
                    window.location.href = _sBaseAddress+ "/VoucherType/ViewVoucherTypes?gfdb=no&menuid="+_nMenuid;
                }
                else {
                    alert(oVoucherType.ErrorMessage);
                }
            },
            error: function (xhr, status, error) {
                alert(error);
            }
        });
    });
</script>
