<html>
<head>

    <script src="@Url.Content("~/Scripts/jquery-1.7.1.min.js")" type="text/javascript"></script>
    @*<script src="@Url.Content("~/Scripts/jquery-2.2.4.min.js")" type="text/javascript"></script>*@
    <script src="@Url.Content("~/Scripts/jquery.unobtrusive-ajax.min.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Scripts/jquery.ics.customize.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Scripts/jquery.easyui.min.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Scripts/json2.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Scripts/datagrid-detailview.js")" type="text/javascript"></script>

    <script src="@Url.Content("~/Scripts/jquery.flot.animator.min.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Scripts/jquery.flot.min.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Scripts/jquery.flot.orderBars.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Scripts/jquery.flot.pie.min.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Scripts/jquery.ics.plugins.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Scripts/linq-ics.js")" type="text/javascript"></script>
    @*<script src="@Url.Content("~/Scripts/jquery.unobtrusive-ajax.js")" type="text/javascript"></script>*@
    <script src="@Url.Content("~/Scripts/jgoogleAPI.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Scripts/jquery.autocomplete.min.js")" type="text/javascript"></script>

    <script src="@Url.Content("~/Scripts/angular.min.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Scripts/angular-animate.min.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Scripts/angular-ui/ui-bootstrap-tpls.min.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Scripts/bootstrap.min.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Scripts/ui-grid.min.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Scripts/moment.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Scripts/angular-material.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Scripts/angular-material.min.js")" type="text/javascript"></script>
    @*<script src="@Url.Content("~/Scripts/angular-aria.min.js")" type="text/javascript"></script>*@

    <script src="@Url.Content("~/Scripts/bootstrap-datepicker.min.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Scripts/bootstrap-datetimepicker.min.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Scripts/datetime-picker.min.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Scripts/Date-Format-1.2.3.js")" type="text/javascript"></script>

    <script src="@Url.Content("~/Scripts/angular-ics.js")" type="text/javascript"></script>

    <script src="@Url.Content("~/Scripts/color-picker.min.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Scripts/jquery.signalR-2.2.1.min.js")" type="text/javascript"></script>
    <script src="~/signalr/js"></script>

    <link href="@Url.Content("~/Content/Site.css")" rel="stylesheet" type="text/css" />
    <link href="@Url.Content("~/Content/CSS/icon.css")" rel="stylesheet" type="text/css" />
    <link href="@Url.Content("~/Content/CSS/mainstyle.css")" rel="stylesheet" type="text/css" />
    <link href="@Url.Content("~/Content/CSS/easyui.css")" rel="stylesheet" type="text/css" />
    <link href="@Url.Content("~/Content/CSS/notification.css")" rel="stylesheet" type="text/css" />
    <link href="@Url.Content("~/Content/angular-csp.css")" rel="stylesheet" type="text/css" />
    <link href="@Url.Content("~/Content/bootstrap.css")" rel="stylesheet" type="text/css" />
    <link href="@Url.Content("~/Content/bootstrap-theme.css")" rel="stylesheet" type="text/css" />
    <link href="@Url.Content("~/Content/ui-bootstrap-csp.css")" rel="stylesheet" type="text/css" />
    <link href="@Url.Content("~/Content/ui-grid.min.css")" rel="stylesheet" type="text/css" />
    <link href="@Url.Content("~/Content/bootstrap-datepicker.min.css")" rel="stylesheet" type="text/css" />
    <link href="@Url.Content("~/Content/color-picker.min.css")" rel="stylesheet" type="text/css" />
    <link href="@Url.Content("~/Content/angular-material.css")" rel="stylesheet" type="text/css" />
    <link href="@Url.Content("~/Content/angular-material.min.css")" rel="stylesheet" type="text/css" />
</head>
<body>


@model ESimSol.BusinessObjects.ProductionExecutionPlan

<div style="font-family:Tahoma" class="menuMainCollectionTable">
    <table border="0" style="background-color:#CFB53B;width:720px">
        <tr>

            <td style="width:720px; text-align:center; text-decoration:underline; font-size:15px; color: White; font-weight:bold"><label id="lblHeaderName">Production Execution Plan Advance Search</label></td>
        </tr>
    </table>
    <table border="0" cellpadding="0" cellspacing="0" style="font-size:12px">
        <tr style="height:270px">
            <td style="width:500px">
                <table border="0" cellpadding="0" cellspacing="0" style="font-size:12px">
                    <tr style="height:260px">
                        <td style="width:400px; vertical-align:top;height:420px">
                            <fieldset>
                                <legend style="font-weight:bold; font-size:12px"> Searching Criteria : </legend>
                                <table border="0" cellpadding="0" cellspacing="0" style=" width:340px; font-size:12px">
                                    <tr>
                                        <td style="width:130px; text-align:left; font-weight:bold">
                                            Style No:
                                        </td>
                                    </tr>

                                    <tr>

                                        <td style="width:200px;text-align:left">
                                            @Html.TextBox("txtStyleNo", "", new { style = "width: 325px", id = "txtStyleNo" })
                                        </td>
                                    </tr>

                                    <tr>
                                        <td style="width:130px; text-align:left; font-weight:bold">
                                            Ref No:
                                        </td>
                                    </tr>

                                    <tr>

                                        <td style="width:200px;text-align:left">
                                            @Html.TextBox("txtRefNo", "", new { style = "width: 325px", id = "txtRefNo" })
                                        </td>
                                    </tr>

                                    <tr>
                                        <td style="width:130px; text-align:left; font-weight:bold">
                                            Production Order No:
                                        </td>
                                    </tr>
                                    <tr>
                                        <td style="width:200px;text-align:left">
                                            @Html.TextBox("txtPONo", "", new { style = "width: 325px", id = "txtPONo" })
                                        </td>
                                    </tr>

                                    <tr>
                                        <td style="width:130px;text-align:left; font-weight:bold">
                                            Buyer:
                                        </td>
                                    </tr>
                                    <tr>
                                        <td style="width:200px;text-align:left">

                                            @Html.TextBox("txtBuyerName", "", new { style = "width: 255px", id = "txtBuyerName", placeholder = "Type Buyer & Press Enter" })<input type="button" style="width:70px; font-size:12px" onclick="BuyerPiker()" , value="Pick" />
                                        </td>
                                    </tr>

                                    <tr>
                                        <td style="width:130px;text-align:left; font-weight:bold">
                                            Production Unit :
                                        </td>
                                    </tr>
                                    <tr>
                                        <td style="width:200px;text-align:left">

                                            @Html.TextBox("txtProductionUnitName", "", new { style = "width: 255px", id = "txtProductionUnitName", placeholder = "Type Production Unit & Press Enter" })<input type="button" style="width:70px; font-size:12px" onclick="ProductionUnitPiker()" , value="Pick" />

                                        </td>
                                    </tr>

                                    <tr>
                                        <td style="width:130px;text-align:left; font-weight:bold">
                                            Merchandiser:
                                        </td>
                                    </tr>
                                    <tr>
                                        <td style="width:200px;text-align:left; font-size:12px">
                                            <select id="cboMerchandiser" style="width:325px;font-size:12px" />
                                        </td>
                                    </tr>


                                    <tr>
                                        <td style="width:130px;text-align:left; font-weight:bold">
                                            Plan Date:
                                        </td>
                                    </tr>
                                    <tr>
                                        <td style="width:200px;text-align:left; font-size:12px">
                                            <table border="0" style="font-size:12px">
                                                <tr>
                                                    <td style="width:71px;font-size:12px;text-align:left">@Html.DropDownList("cboPlanDate", new SelectList(Enum.GetValues(typeof(ESimSol.BusinessObjects.EnumCompareOperator))), new { id = "cboPlanDate", style = "width: 100px;font-size:12px;text-align:left", @class = "_select_changeA" })</td>
                                                    <td style="width:60px;font-size:12px"><input id="txtStartPlanDate" type="text" class="easyui-datebox" required="required" data-options="formatter:icsdateformat,parser:icsdateparser" style="width:98px" /></td>

                                                    <td style="width:9px; font-size:12px" id="enddateT">To</td>
                                                    <td style="width:60px;font-size:12px" id="enddate"><input id="txtEndPlanDate" type="text" class="easyui-datebox" required="required" data-options="formatter:icsdateformat,parser:icsdateparser" style="width:97px" /></td>
                                                </tr>
                                            </table>
                                        </td>
                                    </tr>

                                    <tr>
                                        <td style="width:130px;text-align:left; font-weight:bold">
                                            Shipment Date:
                                        </td>
                                    </tr>
                                    <tr>
                                        <td style="width:200px;text-align:left; font-size:12px">
                                            <table border="0" style="font-size:12px">
                                                <tr>
                                                    <td style="width:71px;font-size:12px;text-align:left">@Html.DropDownList("cboShipmentDate", new SelectList(Enum.GetValues(typeof(ESimSol.BusinessObjects.EnumCompareOperator))), new { id = "cboShipmentDate", style = "width: 100px;font-size:12px;text-align:left", @class = "_select_changeB" })</td>
                                                    <td style="width:60px;font-size:12px"><input id="txtStartShipmentDate" type="text" class="easyui-datebox" required="required" data-options="formatter:icsdateformat,parser:icsdateparser" style="width:98px" /></td>
                                                    <td style="width:9px; font-size:12px" id="enddateST">To</td>
                                                    <td style="width:60px;font-size:12px" id="enddateS"><input id="txtEndShipmentDate" type="text" class="easyui-datebox" required="required" data-options="formatter:icsdateformat,parser:icsdateparser" style="width:97px" /></td>
                                                </tr>
                                            </table>
                                        </td>
                                    </tr>

                                    <tr style="height:120px; vertical-align:bottom">

                                        <td style=" text-align:left; width:325px;">
                                            <table border="0" cellpadding="0" cellspacing="0">
                                                <tr>
                                                    <td style=" text-align:left;"><input type="button" value="Reset" id="btnReset" style="width:70px; text-align:left;" /></td>
                                                    <td style=" text-align:right; width:255px;"><input type="button" value="Search" id="btnRefresh" style="width:70px; text-align:right;" /></td>
                                                </tr>
                                            </table>
                                        </td>
                                    </tr>
                                </table>
                            </fieldset>
                        </td>
                        <td style="width:323px; height:428px;vertical-align:top; padding: 7px">
                            <table id="tblProductionExecutionPlan" title="Production Execution Plan List" class="easyui-datagrid" style="width:350px;height:455px;font-size:12px" fitcolumns="false" rownumbers="true" pagination="false" singleselect="true" , autorowheight="false">
                                <thead>
                                    <tr>
                                        <th data-options="field:'Selected',checkbox:true"></th>
                                        <th field="RefNo" width="90">P.E.Plan No</th>
                                        <th field="BuyerName" width="100">Buyer</th>
                                        <th field="PlanDateInString" width="80">Plan Date</th>
                                    </tr>
                                </thead>
                            </table>
                        </td>

                    </tr>
                </table>
            </td>
        </tr>
        <tr style="height:50px">
            <td style="width:650px; text-align:right">
                <a href="javascript:void(0)" class="easyui-linkbutton" iconcls="icon-ok" plain="true" onclick="OkButtonClick()">Ok</a>
                <a href="javascript:void(0)" class="easyui-linkbutton" iconcls="icon-cancel" plain="true" onclick="Close()">Close</a>
            </td>
        </tr>
    </table>
</div>
</body>
</html>
<script type="text/javascript">
    var _bMultipleItemReturn=false;
    var _sBaseAddress="";    
    var _oProductionExecutionPlan="";
    var _oMerchandiserList="";
    var _nProductionUnitIDs ='';
    var _nBuyerIDs ="";
    var _sMenuName ="";
    var _oLoadLabDipStatus=[];
    $(document).ready(function () {                
        var obj = JSON.parse(sessionStorage.getItem('Parameter'));
        _sBaseAddress =@Html.Raw(new System.Web.Script.Serialization.JavaScriptSerializer().Serialize(HttpContext.Current.Session[SessionInfo.BaseAddress]));
        _oProductionExecutionPlan=@Html.Raw(new System.Web.Script.Serialization.JavaScriptSerializer().Serialize(Model));
        _oMerchandiserList= @Html.Raw(new System.Web.Script.Serialization.JavaScriptSerializer().Serialize(Model.MerchandiserList));
              _bMultipleItemReturn=obj.MultipleItemReturn;
              if(_bMultipleItemReturn==false)
              {
                 $('#tblProductionExecutionPlan').datagrid('hideColumn','Selected');
                 $('#tblProductionExecutionPlan').datagrid({ onDblClickRow: function (rowIndex, rowData) { RowDoubleClickEvent(rowIndex, rowData); } });
              }

             $('#cboMerchandiser').empty();
             var listItems= "<option value='"+0+"'>" +"--Select Merchandiser--" + "</option>";
             for (var i = 0; i < _oMerchandiserList.length; i++)
                {
                  listItems+= "<option value='" + _oMerchandiserList[i].EmployeeID + "'>" + _oMerchandiserList[i].Name + "</option>";
                }
             $("#cboMerchandiser").html(listItems);
             SetDate();

    });

    function SetDate()
    {

        $('#txtStartPlanDate').datebox('setValue', icsdateformat(new Date()));
        $('#txtEndPlanDate').datebox('setValue', icsdateformat(new Date()));
        $('#txtStartShipmentDate').datebox('setValue', icsdateformat(new Date()));
        $('#txtEndShipmentDate').datebox('setValue', icsdateformat(new Date()));
    }

     $('._select_changeA').change(function () {
        //debugger;
        var x = $("#cboPlanDate").val();
        if (x == "EqualTo" || x == "NotEqualTo" || x == "GreaterThen" || x == "SmallerThen") {
            document.getElementById("enddate").style.display = 'none';
            document.getElementById("enddateT").style.display = 'none';
        }
        else {
            document.getElementById("enddate").style.display = '';
            document.getElementById("enddateT").style.display = '';
        }
    });




     $('._select_changeB').change(function () {
        //debugger;
        var x = $("#cboShipmentDate").val();
        if (x == "EqualTo" || x == "NotEqualTo" || x == "GreaterThen" || x == "SmallerThen") {
            document.getElementById("enddateS").style.display = 'none';
            document.getElementById("enddateST").style.display = 'none';
        }
        else {
            document.getElementById("enddateS").style.display = '';
            document.getElementById("enddateST").style.display = '';
        }
    });


     //-------------------DYNAMIC CONTRCTOR/BUYER PICKER---------------------
     function DynamicContractorPicker(ContractorType,oTxtName,pName,pMultiReturn)
     {
         debugger;
         var BUID=sessionStorage.getItem('BUID');
         var oTempName=""
         if (typeof oTxtName != 'undefined')
             oTempName=oTxtName;
         var oContractor = {
             Params: ContractorType+'~'+oTempName+'~'+BUID //BUID=0
         };
         var obj = {
             BaseAddress: _sBaseAddress,
             Object: oContractor,
             ControllerName: "Contractor",
             ActionName: "ContractorSearchByNameType",
             IsWinClose: false
         };

         var tblColums = []; 
         var oColumn = { field: "Name", title: "Name", width: 180, align: "left" }; tblColums.push(oColumn);
         oColumn = { field: "Address", title: "Address", width: 160, align: "left" }; tblColums.push(oColumn);
         oColumn = { field: "Email", title: "Email", width: 100, align: "left" }; tblColums.push(oColumn);
         oColumn = { field: "ShortName", title: "Short Name", width: 100, align: "left" }; tblColums.push(oColumn);

         DynamicPiker(pName,obj,tblColums,pMultiReturn,'Name','ContractorID'); //pickerName(unique),obj,table,multiReturn,SearchingField 
     }
     function DynamicPiker(pickerName,obj,pTblColums,pMultiReturn,pSearchField,pID)
     {
         $.icsDataGets(obj, function (response) {
             debugger;
             if (response.status && response.objs.length > 0) {
                 if (response.objs[0][pID] > 0) {
                     debugger;
                     var tblColums = pTblColums; 
                     var oPickerParam = {
                         winid: 'win'+pickerName+'s',
                         winclass: 'cls'+pickerName,
                         winwidth: 600,
                         winheight: 460,
                         tableid: 'tbl'+pickerName+'s',
                         tablecolumns: tblColums,
                         datalist: response.objs,
                         multiplereturn: pMultiReturn,
                         searchingbyfieldName: pSearchField,
                         windowTittle: pickerName+' List'
                     };
                     $.icsPicker(oPickerParam);
                     IntializePickerbutton(oPickerParam);
                 }
                 else { alert(response.objs[0].ErrorMessage); }
             }
             else{
                 alert("Data Not Found.");
                 return;
             }
         });
     }
     function IntializePickerbutton(oPickerobj) {
         debugger;
         $("#" + oPickerobj.winid).find("#btnOk").click(function () {
             debugger;
             //for Single Select
             SetPickerValueAssign(oPickerobj);
         });
         $(document).find('.' + oPickerobj.winclass).keydown(function (e) {
             if (e.which == 13)//enter=13
             {
                 SetPickerValueAssign(oPickerobj);
             }
         });
     }
     function SetPickerValueAssign(oPickerobj)
     {
         debugger;
         var oreturnObj = null, oreturnobjs = [];
         if (oPickerobj.multiplereturn)
         {
             oreturnobjs = $('#'+oPickerobj.tableid).datagrid('getChecked');
             if (oPickerobj.winid == 'winBuyerPickers') 
             {
                 SetBuyer(oreturnobjs);
             }
             else if (oPickerobj.winid == 'winProductionUnitPickers') 
             {
                 SetProductionUnit(oreturnobjs);
             }
         } 
         else 
         {
             oreturnObj = $('#'+oPickerobj.tableid).datagrid('getSelected');
             if (oPickerobj.winid == 'winProductCatagoryPickers') 
             {
                 //SetProduct(oreturnObj);
             }
         }
         $("#" + oPickerobj.winid).icsWindow("close");
         $("#" + oPickerobj.winid).remove();

     }

     function BuyerPiker(oTxtName)
     {
         DynamicContractorPicker('2',oTxtName,'BuyerPicker',true);
         //oParameter.MultipleItemReturn = true;  oParameter.ContractorType="2";
     }
     function SetBuyer(oSelectedObjects)
     {
         $('#txtApplicantName').focus();
         _oSelectedObjects=oSelectedObjects;
         if(_oSelectedObjects!=null && _oSelectedObjects.length>0)
         {
             var _nApplicantIDs ="";
             var ncount=0;
             for(var i =0;i<_oSelectedObjects.length;i++)
             {
                 var nSupplierID=_oSelectedObjects[i].ContractorID;
                 _nApplicantIDs=_nApplicantIDs+nSupplierID+',';
                 ncount++;
             }

             var txtApplicantName=document.getElementById("txtBuyerName");

             if(ncount>1)
             {
                 txtApplicantName.value= "Select "+ncount+" Buyer's";
             }else
             {
                 txtApplicantName.value=  _oSelectedObjects[0].Name;
             }
             txtApplicantName.style.color="blue";
             txtApplicantName.style.fontWeight="bold";

             _nBuyerIDs= _nApplicantIDs.substring(0, _nApplicantIDs.length - 1);
         }
         else
         {
             var txtBuyerName=document.getElementById("txtBuyerName");
             txtBuyerName.value= "";
             txtBuyerName.style.color="black";
             txtBuyerName.style.fontWeight="normal";
             _nBuyerIDs=  "";
         }
     }

     function ProductionUnitPiker(oTxtName)
     {
        
         var oTempName=""
         if (typeof oTxtName != 'undefined')
             oTempName=oTxtName;
         var oProductionUnit = {
             Name: oTempName
         };
         var obj = {
             BaseAddress: _sBaseAddress,
             Object: oProductionUnit,
             ControllerName: "ProductionUnit",
             ActionName: "GetsByName",
             IsWinClose: false
         };
         var tblColums = [];
         var oColumn = { field: "Name", title: "Name", width: 120, align: "left" }; tblColums.push(oColumn);
         oColumn = { field: "ShortName", title: "Short Name", width: 100, align: "left" }; tblColums.push(oColumn);
         oColumn = { field: "ProductionUnitTypeST", title: "Type", width: 110, align: "left" }; tblColums.push(oColumn);
         oColumn = { field: "RefName", title: "Ref Name", width: 150, align: "left" }; tblColums.push(oColumn);
         DynamicPiker('ProductionUnitPicker',obj,tblColums,true,'Name','ProductionUnitID'); //pickerName(unique),obj,table,multiReturn,SearchingField
         
        // DynamicContractorPicker('3',oTxtName,'ProductionUnitPicker',true);
         //oParameter.MultipleItemReturn = true;  oParameter.ContractorType="2";
     }
     function SetProductionUnit(oSelectedObjects)
     {
         debugger;
         $('#txtProductionUnitName').focus();
         _oSelectedObjects=oSelectedObjects;
         if(_oSelectedObjects!=null && _oSelectedObjects.length>0)
         {
            _nProductionUnitIDs ="";
            var ncount=0;
            for(var i =0;i<_oSelectedObjects.length;i++)
            {
                var nProductionUnitID=_oSelectedObjects[i].ProductionUnitID;
                _nProductionUnitIDs=_nProductionUnitIDs+nProductionUnitID+',';
                ncount++;
            }

            var txtApplicantName=document.getElementById("txtProductionUnitName");

            if(ncount>1)
            {
                txtApplicantName.value= "Select "+ncount+" ProductionUnit's";
            }else
            {
                txtApplicantName.value=  _oSelectedObjects[0].Name;
            }
            txtApplicantName.style.color="blue";
            txtApplicantName.style.fontWeight="bold";

            _nProductionUnitIDs= _nProductionUnitIDs.substring(0, _nProductionUnitIDs.length - 1);
         }
         else
         {
             document.getElementById("txtSupplierID").value= '';
             var txtProductionUnitName=document.getElementById("txtProductionUnitName");
             txtProductionUnitName.value= "";
             txtProductionUnitName.style.color="black";
             txtProductionUnitName.style.fontWeight="normal";
             _nProductionUnitIDs=  '';
         }
     }

   $('#btnRefresh').click(function () {
        debugger;
       
         var cboPlanDate = document.getElementById("cboPlanDate");
         var nCboPlanDate=cboPlanDate.options[cboPlanDate.selectedIndex].index;

         var cboShipmentDate = document.getElementById("cboShipmentDate");
         var nShipmentDate=cboShipmentDate.options[cboShipmentDate.selectedIndex].index;

         var cboMerchandiser=document.getElementById("cboMerchandiser");
         var nMerchandiser=cboMerchandiser.options[cboMerchandiser.selectedIndex].value;
         

         var sRefNo= document.getElementById("txtRefNo").value;
         var sStyleNo= document.getElementById("txtStyleNo").value;
         var sPONo= document.getElementById("txtPONo").value;
         var sProductionUnitName =document.getElementById("txtProductionUnitName").value;

         var dStartPlanDate=$('#txtStartPlanDate').datebox('getValue');
         var dEndPlanDate=$('#txtEndPlanDate').datebox('getValue');
         
         var dSipmemntStartDate=$('#txtStartShipmentDate').datebox('getValue');
         var dSipmemntEndDDate=$('#txtEndShipmentDate').datebox('getValue');
         
         var chkResult = CheckEmpty();
         if(chkResult!=true)
         {
            alert("Please Select at lease one Criteria !!");
            return;
         }

         var sTempString = nCboPlanDate+'~'+dStartPlanDate+'~'+dEndPlanDate+'~'+nShipmentDate+'~'+dSipmemntStartDate+'~'+dSipmemntEndDDate+'~'+sRefNo+'~'+sStyleNo+'~' +sPONo+'~'+_nBuyerIDs+'~'+_nProductionUnitIDs+'~'+nMerchandiser+'~'+parseInt(sessionStorage.getItem('BUID'));
         var tsv =((new Date()).getTime())/1000;
         $.ajax({
            type: "GET",
            dataType: "json",
            url: '@Url.Action("Gets", "ProductionExecutionPlan")',
            data: { sTemp: sTempString, ts : tsv },
            contentType: "application/json; charset=utf-8",
            success: function (data) {
                ////debugger;
                var  oProductionExecutionPlans = jQuery.parseJSON(data);
                if (oProductionExecutionPlans != null) {
                    if(oProductionExecutionPlans.length>0)
                    {
                        RefreshList(oProductionExecutionPlans);
                        $('#tblProductionExecutionPlan').datagrid({selectOnCheck:false, checkOnSelect:false})
                        if(_bMultipleItemReturn==false)
                        {
                            $('#tblProductionExecutionPlan').datagrid('hideColumn','Selected');
                            $('#tblProductionExecutionPlan').datagrid({ onDblClickRow: function (rowIndex, rowData) { RowDoubleClickEvent(rowIndex, rowData); } });
                        }
                    }
                    else
                    {
                        alert("Data not found!!");
                        RefreshList(oProductionExecutionPlans);
                    }
                }
            },
            error: function (xhr, status, error) {
                alert(error);
            }
        });
    });


    function RefreshList(oProductionExecutionPlans)
    {
        data =oProductionExecutionPlans;
        data={"total":""+data.length+"","rows":data};
        $('#tblProductionExecutionPlan').datagrid('loadData',data);
    }

    $('#btnReset').click(function () {
        //debugger;
        _nBuyerIDs ="";
        _nProductionUnitID ='';
        document.getElementById("txtBuyerName").value= '';
        document.getElementById("txtRefNo").value='';
        document.getElementById("txtStyleNo").value='';
        document.getElementById("txtPONo").value='';
        document.getElementById("txtProductionUnitName").value='';
        var txtBuyerName=document.getElementById("txtBuyerName");
        txtBuyerName.style.color="black";
        txtBuyerName.style.fontWeight="normal";

        var txtProductionUnitName=document.getElementById("txtProductionUnitName");
        txtProductionUnitName.style.color="black";
        txtProductionUnitName.style.fontWeight="normal";
        document.getElementById("enddate").style.display = '';
        document.getElementById("enddateT").style.display = '';
        document.getElementById("enddateS").style.display = '';
        document.getElementById("enddateST").style.display = '';
        $('#cboMerchandiser').val(0);
        $('#cboPlanDate').val('None');
        $('#cboShipmentDate').val('None');
        SetDate();
        var oProductionExecutionPlans=[];
        RefreshList(oProductionExecutionPlans);

    });


    function CheckEmpty()
    {

        var cboPlanDate = document.getElementById("cboPlanDate");
        var nCboPlanDate=cboPlanDate.options[cboPlanDate.selectedIndex].index;1
        var cboShipmentDate = document.getElementById("cboShipmentDate");
        var nShipmentDate=cboShipmentDate.options[cboShipmentDate.selectedIndex].index;
        var cboMerchandiser=document.getElementById("cboMerchandiser");
        var ncboMerchandiser=cboMerchandiser.options[cboMerchandiser.selectedIndex].value;
        var sRefNo= document.getElementById("txtRefNo").value;
        var sStyleNo= document.getElementById("txtStyleNo").value;
        var sPONo= document.getElementById("txtPONo").value;

        if(nCboPlanDate==0 && nShipmentDate==0)
        {
            if(ncboMerchandiser==0 && _nBuyerIDs =="" && _nProductionUnitIDs=="" && sStyleNo=="" && sRefNo =="" && sPONo =="")
            {
                return false;
            }
            return true;
        }

        return true;
    }
    



    function Close()
    {
        window.close();
    }

    function OkButtonClick()
    {
        //debugger;
        if(_bMultipleItemReturn==true)
        {
            var oProductionExecutionPlans=[];
            var oProductionExecutionPlans = $('#tblProductionExecutionPlan').datagrid('getChecked');
            if(oProductionExecutionPlans.length<=0)
            {
                alert("please select atleast one item");
                return;
            }
            window.opener.WinReturnSearch(oProductionExecutionPlans);
        }
        else
        {
            var oProductionExecutionPlan= $('#tblProductionExecutionPlan').datagrid('getSelected');
            if(oProductionExecutionPlan==null || oProductionExecutionPlan=="")
            {
                alert("please select one item ");
                return;
            }
            window.returnValue=oProductionExecutionPlan;
        }
        window.close();
    }





    // Search Buyer Start
    $('#txtBuyerName').keypress(function (e) {
        //debugger;
        var code = (e.keyCode ? e.keyCode : e.which);
        if (code == 13) {
            var txtBuyerName = document.getElementById('txtBuyerName').value;
            if(txtBuyerName!="")
            {
                BuyerPiker(txtBuyerName);
            }
        }
    });

    $('#txtBuyerName').keydown(function (e) {
        var code = (e.keyCode ? e.keyCode : e.which);
        if (code == 8) //backspace=8
        {
            //debugger;
            var txtBuyerName=document.getElementById("txtBuyerName");
            txtBuyerName.style.color="black";
            txtBuyerName.style.fontWeight="normal";
            _nBuyerIDs = "";
        }
    });
    // Search Buyer End





    // Search ProductionUnit Start
    $('#txtProductionUnitName').keypress(function (e) {
        //debugger;
        var code = (e.keyCode ? e.keyCode : e.which);
        if (code == 13) {
            var txtProductionUnitName = document.getElementById('txtProductionUnitName').value;
            if(txtProductionUnitName!="")
            {
                ProductionUnitPiker(txtProductionUnitName);
            }
        }
    });

    $('#txtProductionUnitName').keydown(function (e) {
        var code = (e.keyCode ? e.keyCode : e.which);
        if (code == 8) //backspace=8
        {
            //debugger;
            var txtProductionUnitName=document.getElementById("txtProductionUnitName");
            txtProductionUnitName.style.color="black";
            txtProductionUnitName.style.fontWeight="normal";
            _nProductionUnitIDs = "";
        }
    });
    // Search Buyer End


    $(document).keydown(function(e) {
        //debugger;
        if(e.which == 27)//escape=27
        {
            //debugger;
            window.close();
        }
    });

</script>