@{
    ViewBag.Title = "Fabric Qty Allows";
}
@model IEnumerable<ESimSol.BusinessObjects.FabricQtyAllow>
    <div class="menuMainCollectionTable">
        <div class="easyui-panel" fit="true" style="margin-left:0px; height:100%;width:100%">
            <table border="0" cellpadding="0" cellspacing="0" style="height:100%;width:100%;">
                <tr>
                    <td style="height:100%;width:99%">
                        <div style="height:99%;">
                            <table id="tblFabricQtyAllows" title="Fabric Qty Allows Lists" class="easyui-datagrid" fit="true" fitcolumns="true" rownumbers="true" pagination="false" singleselect="true" autorowheight="false" showfooter="true" toolbar="#toolbar">
                                <thead>
                                    <tr>
                                        <th field="AllowTypeSt" width="15%">Allow Type</th>
                                        <th field="OrderTypeSt" width="15%">Allow Type</th>
                                        <th field="WarpWeftTypeSt" width="15%">W.Weft Type</th>
                                        <th field="Qty_FromSt" align="right" width="15%">From Qty</th>
                                        <th field="Qty_ToSt" align="right" width="15%">To Qty</th>
                                        <th field="PercentageSt" align="right" width="15%">Percentage(%)</th>
                                        <th field="MUnitName" width="10%" align="center">MUnit</th>
                                        <th field="Note" width="10%" align="center">Note</th>
                                        <th field="LastUpdateByName" width="10%" align="left">Last Update By</th>
                                        <th field="LastUpdateDateTimeInString" width="10%" align="center">Last Update Date</th>
                                    </tr>
                                </thead>
                            </table>
                            <div id="toolbar">
                                <table>
                                    <tr>
                                        <td>
                                            <div id="toolbar">
                                                Allow Type: <select id="cboAllowType2" style="width:100px"></select>
                                                <a id="btnAdd" href="javascript:void(0)" class="easyui-linkbutton easyui-tooltip" title="Add" iconcls="icon-add" plain="true">Add</a>
                                                <a id="btnEdit" href="javascript:void(0)" class="easyui-linkbutton easyui-tooltip" title="Edit" iconcls="icon-edit" plain="true">Edit</a>
                                                <a id="btnDelete" href="javascript:void(0)" class="easyui-linkbutton easyui-tooltip" title="Delete" iconcls="icon-remove" plain="true">Delete</a>
                                            </div>
                                        </td>
                                    </tr>
                                </table>
                            </div>
                        </div>
                    </td>
                </tr>
            </table>
        </div>
    </div>
    <div id="winFabricQtyAllow" class="easyui-window winstyle" title="Add Fabric Qty Follow" style=" height:auto;width:70%" data-options="modal:true,closed:true,collapsible:false,minimizable:false,maximizable:false,closable:false">
        <div style="overflow:hidden;display:block;">
            <fieldset style="height:10%">
                <legend style="font-weight: bold">Add FabricQtyAllow</legend>
                <div style="overflow:hidden;display:block">
                    <div style="overflow:hidden;float:left; width:32%">
                        <div style="overflow:hidden;float:left;width:30%;text-align:right">
                            Allow Type:
                        </div>
                        <div style="overflow:hidden;float:left;width:70%">
                            <select id="cboAllowType" style=" width:100%;"></select>
                        </div>
                    </div>
                    <div style="overflow:hidden;float:left; width:32%">
                        <div style="overflow:hidden;float:left;width:30%;text-align:right">
                            Order Type:
                        </div>
                        <div style="overflow:hidden;float:left;width:70%">
                            <select id="cboOrderType" style=" width:100%;"></select>
                        </div>
                    </div>
                    <div style="overflow:hidden;float:left; width:32%">
                        <div style="overflow:hidden;float:left;width:30%;text-align:right">
                            W.Weft Type:
                        </div>
                        <div style="overflow:hidden;float:left;width:70%">
                            <select id="cboWarpWeftType" style=" width:100%;"></select>
                        </div>
                    </div>
                </div>
                <div style="overflow:hidden;display:block;margin-top:5px">
                    <div style="overflow:hidden;float:left; width:32%">
                        <div style="overflow:hidden;float:left;width:30%;text-align:right">
                            Allow From:
                        </div>
                        <div style="overflow:hidden;float:left;width:70%">
                            <input id="txtAllowFrom" type="text" style=" width:100%;" />
                        </div>
                    </div>
                    <div style="overflow:hidden;float:left; width:32%">
                        <div style="overflow:hidden;float:left;width:30%;text-align:right">
                            Allow To:
                        </div>
                        <div style="overflow:hidden;float:left;width:70%">
                            <input id="txtAllowTo" type="text" style=" width:100%;" />
                        </div>
                    </div>
                    <div style="overflow:hidden;float:left; width:32%">
                        <div style="overflow:hidden;float:left;width:30%;text-align:right">
                            Percentage:
                        </div>
                        <div style="overflow:hidden;float:left;width:70%">
                            <input id="txtpercentage" type="text" style=" width:100%;" />
                        </div>
                    </div>                                 
                </div>
                <div style="overflow:hidden;display:block;margin-top:5px">
                    <div style="overflow:hidden;float:left; width:32%">
                        <div style="overflow:hidden;float:left;width:30%;text-align:right">
                            MUnit:
                        </div>
                        <div style="overflow:hidden;float:left;width:70%">
                            <select id="cboMunit" style=" width:100%;"></select>
                        </div>
                    </div>
                    <div style="overflow:hidden;float:left; width:64%">
                        <div style="overflow:hidden;float:left;width:15%;text-align:right">
                            Note:
                        </div>
                        <div style="overflow:hidden;float:left;width:85%">
                            <input id="txtNote" type="text" style=" width:100%;" />
                        </div>
                    </div>          
                </div>
            </fieldset>
        </div>
        <div style="display:block;overflow:hidden;">
            <fieldset style="height:10%">
                <legend style="font-weight: bold">Action : </legend>
                <table border="0" cellspacing="2" cellpadding="2" style="font-size: 11px; font-weight: bold; width:100%">
                    <tr>
                        <td style="width:60%; text-align:right"></td>
                        <td style="width:40%;text-align:right;">
                            <a id="btnSave" href="javascript:void(0)" class="easyui-linkbutton" iconcls="icon-save" plain="true">Save</a>
                            <a id="btnClose" href="javascript:void(0)" class="easyui-linkbutton" iconcls="icon-cancel" plain="true">Close</a>
                        </td>
                    </tr>
                </table>
            </fieldset>
        </div>
    </div>
    <script type="text/javascript">
    $(document).ready(function (){
        debugger;
        var  oFabricQtyAllows  = @Html.Raw( new System.Web.Script.Serialization.JavaScriptSerializer().Serialize(Model));
        var sBaseAddress =@Html.Raw( new System.Web.Script.Serialization.JavaScriptSerializer().Serialize(HttpContext.Current.Session[SessionInfo.BaseAddress]));
        var oFabricQCAllows = @Html.Raw(new System.Web.Script.Serialization.JavaScriptSerializer().Serialize(ViewBag.FabricQtyAllowType));
        var  oMeasurementUnits = @Html.Raw(new System.Web.Script.Serialization.JavaScriptSerializer().Serialize(ViewBag.MeasurementUnits));
        var  oOrderTypes = @Html.Raw(new System.Web.Script.Serialization.JavaScriptSerializer().Serialize(ViewBag.OrderType));
        var  oWarpWeftTypes = @Html.Raw(new System.Web.Script.Serialization.JavaScriptSerializer().Serialize(ViewBag.WarpWeftType));
        var oTempFabricQtyAllows =sessionStorage.getItem("oFabricQtyAllows");
        $('#tblFabricQtyAllows').data('BaseAddress', sBaseAddress);
        $('#tblFabricQtyAllows').data('FabricQtyAllow', oFabricQtyAllows);
        $("#cboAllowType").icsLoadCombo({List: oFabricQCAllows, OptionValue: "id", DisplayText: "Value", InitialValue:"-Select One-" });
        $("#cboAllowType2").icsLoadCombo({List: oFabricQCAllows, OptionValue: "id", DisplayText: "Value", InitialValue:"-Select One-" });
        $("#cboMunit").icsLoadCombo({List: oMeasurementUnits, OptionValue: "MeasurementUnitID", DisplayText: "Symbol", InitialValue:"-Select-" });
        $("#cboOrderType").icsLoadCombo({List: oOrderTypes, OptionValue: "id", DisplayText: "Value", InitialValue:"-Select-" });
        $("#cboWarpWeftType").icsLoadCombo({List: oWarpWeftTypes, OptionValue: "id", DisplayText: "Value", InitialValue:"-Select-" });
        if(oTempFabricQtyAllows!=null)
        {
            oFabricQtyAllows = jQuery.parseJSON(oTempFabricQtyAllows);
        }
        $('#txtAllowFrom').icsCurrencyBox();
        $('#txtAllowTo').icsCurrencyBox();
        $('#txtpercentage').icsCurrencyBox();
        $('#txtAllowFrom').data('FabricQtyAllow1',0);
        RefreshList(oFabricQtyAllows);
    });

    function RefreshList(oFabricQtyAllows) {
        debugger;
        data={"total":""+oFabricQtyAllows.length+"","rows":oFabricQtyAllows};
        $('#tblFabricQtyAllows').datagrid('loadData',data);
        var nSelectedRowIndex =parseInt(sessionStorage.getItem("SelectedRowIndex"));
        if(nSelectedRowIndex!=-1)
        {
            $('#tblFabricQtyAllows').datagrid('selectRow', nSelectedRowIndex);
        }


    }
    function RefreshControl(oFabricQtyAllow){
        debugger;

        if(oFabricQtyAllow.ErrorMessage == "Edit FabricQtyAllow"){
            $('#txtAllowFrom').data('FabricQtyAllow1',parseInt(oFabricQtyAllow.FabricQtyAllowID));
            $('#cboAllowType').val(parseInt(oFabricQtyAllow.AllowType));
            $('#txtAllowFrom').val(TempAddComma(oFabricQtyAllow.Qty_From));
            $('#txtAllowTo').val(TempAddComma(oFabricQtyAllow.Qty_To));
            $('#txtpercentage').val(TempAddComma(oFabricQtyAllow.Percentage));
            $('#cboMunit').val(parseInt(oFabricQtyAllow.MunitID));
            $('#txtNote').val(oFabricQtyAllow.Note);
            $('#cboOrderType').val(oFabricQtyAllow.OrderType);
            $('#cboWarpWeftType').val(oFabricQtyAllow.WarpWeftType);
        }
        var nVal = $('#txtAllowFrom').data('FabricQtyAllow1');

    }

    $("#btnAdd").click(function(){
        debugger;
        RefreshConsumption();
        sessionStorage.setItem("SelectedRowIndex", -1);
        sessionStorage.setItem("FabricQtyAllowHeader", "Add FabricQtyAllow");
        $("#winFabricQtyAllow").icsWindow('open','Add Fabric Qty Follow');
    });
    function RefreshConsumption(){
        parseInt($('#cboAllowType').val(0));
        $('#txtAllowFrom').val(0);
        $('#txtAllowTo').val(0);
        $('#txtpercentage').val(0);
        parseInt($('#cboMunit').val(0));
        parseInt($('#cboOrderType').val(0));
        parseInt($('#cboWarpWeftType').val(0));
        $('#txtNote').val("");
    }
    function RefreshObject(){
        debugger;
        var oFabricQtyAllow={
            FabricQtyAllowID : $('#txtAllowFrom').data('FabricQtyAllow1'),
            AllowType : parseInt($("#cboAllowType").val()),
            OrderType : parseInt($("#cboOrderType").val()),
            WarpWeftType : parseInt($("#cboWarpWeftType").val()),
            Qty_From : parseFloat(TempRemoveComma($("#txtAllowFrom").val())),
            Qty_To : parseFloat(TempRemoveComma($("#txtAllowTo").val())),
            Percentage : parseFloat(TempRemoveComma($("#txtpercentage").val())),
            MUnitID : parseInt($("#cboMunit").val()),
            Note : $("#txtNote").val(),

        };
        return oFabricQtyAllow;
    }
    $("#btnEdit").click(function(){
        debugger;
        var oFabricQtyAllow= $('#tblFabricQtyAllows').datagrid('getSelected');
        var SelectedRowIndex=$('#tblFabricQtyAllows').datagrid('getRowIndex',oFabricQtyAllow);
        sessionStorage.setItem("SelectedRowIndex", SelectedRowIndex);
        oFabricQtyAllow.ErrorMessage = "Edit FabricQtyAllow";
        RefreshControl(oFabricQtyAllow);
        sessionStorage.setItem("FabricQtyAllowHeader", "Edit FabricQtyAllow");
        $("#winFabricQtyAllow").icsWindow('open', "Edit FabricQtyAllow");

    });
    function ValidateInput(){
        debugger;
        var nAllowType = parseInt($('#cboAllowType').val());
        var nAllowFrom = parseFloat($('#txtAllowFrom').val());
        var nAllowTo = parseFloat($('#txtAllowTo').val());
        var nAllowPercent = parseFloat($('#txtpercentage').val());
        var nMunit= parseInt($('#cboMunit').val());
        var nOrderType= parseInt($('#cboOrderType').val());
        var nWarpWeftType= parseInt($('#cboWarpWeftType').val());

        if(nAllowType<=0){
            alert("Please select allow type.")
            $('#cboAllowType').focus();
            return false;
        }
        if(nOrderType<=0){
            alert("Please select Order type.")
            $('#cboOrderType').focus();
            return false;
        }
        if(nWarpWeftType<=0){
            alert("Please select Warp Weft Type type.")
            $('#cboWarpWeftType').focus();
            return false;
        }
        if(nMunit<=0){
            alert("Please select MUnit.")
            $('#cboMunit').focus();
            return false;
        }

        if(nAllowFrom == "" || nAllowFrom==undefined){
            alert("Allow From is Required.")
            $('#txtAllowFrom').focus();
            return false;
        }
        if(nAllowTo == "" || nAllowTo==undefined){
            alert("Allow To is Required.")
            $('#txtAllowTo').focus();
            return false;
        }
        return true;
    }
    $('#btnSave').click(function(){
        debugger;
        if(!ValidateInput()) return;
        var oFabricQtyAllow=RefreshObject();
        $.ajax({
            type: "POST",
            dataType: "json",
            url :  $('#tblFabricQtyAllows').data('BaseAddress')+ "/FabricQtyAllow/Save",
            traditional: true,
            data:  JSON.stringify(oFabricQtyAllow),
            contentType: "application/json; charset=utf-8",
            success: function (data)
            {
                debugger;
                oFabricQtyAllow = jQuery.parseJSON(data);
                if (oFabricQtyAllow.ErrorMessage=="" || oFabricQtyAllow.ErrorMessage==null)
                {
                    alert("Data Saved sucessfully");
                    var nIndex = parseInt(sessionStorage.getItem("SelectedRowIndex"));
                    if(sessionStorage.getItem("FabricQtyAllowHeader") == "Add FabricQtyAllow")
                    {
                        $('#tblFabricQtyAllows').datagrid('appendRow',oFabricQtyAllow);
                        var oData = $('#tblFabricQtyAllows').datagrid('getRows');
                        $('#tblFabricQtyAllows').datagrid('selectRow',oData.length-1);
                    }
                    if(sessionStorage.getItem("FabricQtyAllowHeader") == "Edit FabricQtyAllow")
                    {
                        $('#tblFabricQtyAllows').datagrid('updateRow',{index : nIndex, row:oFabricQtyAllow});
                    }
                    $("#winFabricQtyAllow").icsWindow('close');
                }
                else
                {
                    alert(oFabricQtyAllow.ErrorMessage);
                }
            },
            error: function (xhr, status, error) {
                alert(error);
            }

        });
    });
    $('#btnDelete').click(function(){
        debugger;
        var oFabricQtyAllow= $('#tblFabricQtyAllows').datagrid('getSelected');
        if (!confirm("Confirm to Delete?")) return ;
        if(oFabricQtyAllow==null || oFabricQtyAllow.FabricQtyAllowID<=0)
        {
            alert("Invalid Field!!! please select a valid Field!");
            return false;
        }
        var SelectedRowIndex=$('#tblFabricQtyAllows').datagrid('getRowIndex',oFabricQtyAllow);
        if (oFabricQtyAllow.FabricQtyAllowID > 0)
        {
            $.ajax ({
                type: "GET",
                dataType: "json",
                url : $('#tblFabricQtyAllows').data('BaseAddress')+ "/FabricQtyAllow/Delete",
                data: {id: oFabricQtyAllow.FabricQtyAllowID},
                contentType:"application/json; charset=utf-8",
                success: function (data) {
                    //debugger;
                    feedbackmessage = jQuery.parseJSON(data);
                    if (feedbackmessage == "Deleted")
                    {
                        alert("Delete sucessfully");
                        $('#tblFabricQtyAllows').datagrid('deleteRow',SelectedRowIndex);

                    }
                    else
                    {
                        alert(feedbackmessage);
                    }
                },
                error: function (xhr, status, error)
                {
                    alert(error);
                }

            });
        }
    });
    $("#btnClose").click(function(){
        $("#winFabricQtyAllow").icsWindow('close');
    });
    //Searching By Allow Type
    $('#cboAllowType2').change(function (e)
    {
        debugger;
        var oFabricQtyAllow={AllowTypeInInt:parseInt($("#cboAllowType2").val())};
        SearchByAllowType(oFabricQtyAllow);
    });
    function SearchByAllowType(oFabricQtyAllow)
    {
        $.ajax
            ({
                type: "POST",
                dataType: "json",
                url : _sBaseAddress+"/FabricQtyAllow/SearchByAllowType",
                traditional: true,
                data:  JSON.stringify(oFabricQtyAllow),
                contentType: "application/json; charset=utf-8",
                success: function (data) {
                    //debugger;
                    var oFabricQtyAllows = jQuery.parseJSON(data);
                    if (oFabricQtyAllows.length>0)
                    {
                        DynamicRefreshList(oFabricQtyAllows, 'tblFabricQtyAllows');
                    }
                    else
                    {
                        alert("Data Not found");
                        DynamicRefreshList([], 'tblFabricQtyAllows');
                    }
                },
                error: function (xhr, status, error)
                {
                    alert(error);
                }
            });

    }



    //REMOVE COMMA
    function TempRemoveComma(userInput) {
        debugger;
        var amountInString = "";
        if (userInput === null || userInput === "") {
            amountInString = "0.00";
        }
        else {
            amountInString = "";
            for (var i = 0; i < userInput.length; i++) {
                var char = userInput.charAt(i);
                var charForCheck = char;
                char = char.match(/\d+/g);
                if (char != null) {
                    amountInString = amountInString + userInput.charAt(i);
                    count = 1;
                }
                else if (charForCheck == ",") {
                    continue;
                }
                else if (charForCheck == ".") {
                    amountInString = amountInString + userInput.charAt(i);
                }
            }
        }
        //debugger;
        return (isNaN(parseFloat(amountInString)) ? parseFloat(0.00) : parseFloat(amountInString)).toFixed(3);
    }
    function TempAddComma(nStr) {
        debugger;
        nStr += '';
        x = nStr.split('.');
        x1 = x[0];
        x2 = x.length > 1 ? '.' + x[1] : '';
        var process = /(\d+)(\d{3})/;
        while (process.test(x1)) {
            x1 = x1.replace(process, '$1' + ',' + '$2');
        }
        return x1 + x2;
    }

</script>

