
@{
    ViewBag.Title = "Voucher Batch";
}
<html>
<body>

    @model ESimSol.BusinessObjects.VoucherBatch

    <div id="divVoucherBatch" class="easyui-panel" title="Add VoucherBatch" style="font-family:Tahoma; height:100%; width:100%">
        <div style="width:100%; height:88%; text-align:center">
           
            <table id="tblVoucher" class="easyui-datagrid" style="width: 100%;height:100%;" fit="true" fitcolumns="false" singleselect="false" pagination="false" rownumbers="true" autorowheight="false" toolbar="#toolbar">
                <thead>
                    <tr>
                        @*<th data-options="field:'Selected',checkbox:true"></th>*@
                        <th field="VoucherDateInString" width="100">Date</th>
                        <th field="VoucherNo" width="120">Voucher No</th>
                        <th field="VoucherName" width="120">Voucher Type</th>
                        <th field="Narration" width="200">Narration</th>
                        <th field="AuthorizedByName" width="140">Approved By</th>
                        <th field="PreparedByName" width="140">Prepared By</th>
                        <th field="VoucherAmountInString" width="120" align="right">Voucher Amount</th>
                    </tr>
                </thead>
            </table>
            <div id="toolbar">
                <table style="width: 100%;">

                    
                    <tr>
                        <td style="width:8%;text-align:right;">Batch No :</td>
                        <td style="width:25%;text-align:left;">
                            @Html.TextBoxFor(model => model.BatchNO, new { id = "txtBatchNO", disabled = "disabled", style = "width: 245px;" })
                        </td>
                        <td style="width:9%;text-align:right;">Create Date :</td>
                        <td style="width:25%;text-align:left;">
                            @Html.TextBoxFor(model => model.CreateDateInString, new { id = "txtCreateDateInString", disabled = "disabled", style = "width: 245px;" })
                        </td>
                        <td style="width:8%;text-align:right;">Create By :</td>
                        <td style="width:25%;text-align:left;">
                            @Html.TextBoxFor(model => model.CreateByName, new { id = "txtCreateByName", disabled = "disabled", style = "width: 245px;" })
                        </td>
                    </tr>
                    <tr>
                        <td style="width:8%;text-align:right;">Status :</td>
                        <td style="width:25%;text-align:left;">
                            @Html.TextBoxFor(model => model.BatchStatusInString, new { id = "txtBatchStatusInString", disabled = "disabled", style = "width: 245px;" })
                        </td>
                        <td style="width:9%;text-align:right;"><label id="lblRequestDate">Request Date :</label><label id="lblTransferTo">Transfer To :</label> </td>
                        <td style="width:25%;text-align:left;">
                            @Html.TextBoxFor(model => model.RequestDateInString, new { id = "txtRequestDateInString", disabled = "disabled", style = "width: 245px;" })
                            <select id="cboTransferToVBs" style="width:249px;"></select>
                        </td>
                        <td style="width:8%;text-align:right;"><label id="lblRequestTo">Request To :</label> </td>
                        <td style="width:25%;text-align:left;">
                            @Html.TextBoxFor(model => model.RequestToName, new { id = "txtRequestToName", style = "width: 245px;", placeholder = "Type Request To name" })
                        </td>
                    </tr>


                </table>
            </div>
                
                    
               

        </div>
        <div style="width:100%; height:10%">
            <fieldset>
                <legend style="font-weight: bold">Action : </legend>
                <table border="0" cellspacing="2" cellpadding="2" style="font-size: 11px; font-weight: bold; width:100%">
                    <tr>
                        <td style="width:80%; text-align:right"></td>
                        <td style="width: 10%">
                            <a id="btnSave" href="javascript:void(0)" class="easyui-linkbutton" iconcls="icon-save" plain="false">Commit</a>
                            <a id="btnTransfer" href="javascript:void(0)" class="easyui-linkbutton" iconcls="icon-save" plain="false">Transfer</a>
                        </td>
                        <td style="width: 10%">
                            <a id="btnClose" href="javascript:void(0)" class="easyui-linkbutton" iconcls="icon-cancel" plain="false">Close</a>
                        </td>
                    </tr>
                </table>
            </fieldset>
        </div>
    </div>
</body>
</html>
<script type="text/javascript">
    var _oVoucherBatch=null;
    var _sBaseAddress="";
    var _sVoucherBatchHeader="";
    var _nMenuid=0;
    var _oVouchers=[];
    var _oVBs=[];
    $(document).ready(function () {
        //debugger;
        _nMenuid = @Html.Raw(new System.Web.Script.Serialization.JavaScriptSerializer().Serialize(HttpContext.Current.Session[SessionInfo.MenuID]));
        _sBaseAddress =@Html.Raw(new System.Web.Script.Serialization.JavaScriptSerializer().Serialize(HttpContext.Current.Session[SessionInfo.BaseAddress]));
        _oVoucherBatch =@Html.Raw(new System.Web.Script.Serialization.JavaScriptSerializer().Serialize(Model));
     _oVouchers=_oVoucherBatch.Vouchers;
     _oVBs=@Html.Raw(new System.Web.Script.Serialization.JavaScriptSerializer().Serialize(ViewBag.VBs));

     _sVoucherBatchHeader=sessionStorage.getItem("VoucherBatchHeader");
     $('#divVoucherBatch').panel({ title:_sVoucherBatchHeader});
     $('#txtRequestDateInString').val(icsdateformat(new Date()));
     if(_oVoucherBatch.RequestTo>0 && _oVoucherBatch.RequestToName!=null ||_oVoucherBatch.RequestToName!='' ){
         $('#txtRequestToName').addClass('fontColorOfPickItem');
     }
     if(_sVoucherBatchHeader=="View VoucherBatch")
     {
         $('#txtRequestToName').prop('disabled','true');
         $('#btnSave').hide();
         $('#btnTransfer').hide();
         $('#lblTransferTo').hide();
         $('#cboTransferToVBs').hide();
         $('#tblVoucher').datagrid({checkOnSelect:false,selectOnCheck:false});
     }
     else{
         if(_sVoucherBatchHeader=="Transfer From VoucherBatch"){
             $('#divVoucherBatch').panel({ title:_sVoucherBatchHeader+' No : '+_oVoucherBatch.BatchNO});
             $('#lblRequestDate').hide();
             $('#txtRequestDateInString').hide();
             $('#lblRequestTo').hide();
             $('#txtRequestToName').hide();
             $('#btnSave').hide();
             $('#cboTransferToVBs').icsLoadCombo({
                 List: _oVBs,
                 OptionValue: "VoucherBatchID",
                 DisplayText: "BatchNO",
                 InitialValue:"custom"
             });
             $('#tblVoucher').datagrid({frozenColumns:[[{field:'Selected',checkbox:true}]]});
             $('#tblVoucher').datagrid({checkOnSelect:true,selectOnCheck:true});
         }
         else{
             var oRequestTo={ErrorMessage:''};
             $('#txtRequestToName').icsAutoComplete({
                 BaseAddress : sessionStorage.getItem('BaseAddress'),
                 ControllerName: "VoucherBatch",
                 ActionName: "GetsRequestTo",
                 Object: oRequestTo,
                 PropertyName: "UserName",
                 ParamName: "ErrorMessage",
                 PreParam: "",
                 PostParam:""},function(resp){
                     //alert(resp.obj.UserName);
                 });

             $('#lblTransferTo').hide();
             $('#cboTransferToVBs').hide();
             $('#btnTransfer').hide();
             $('#tblVoucher').datagrid({checkOnSelect:false,selectOnCheck:false});
         }

        
     }
     DynamicRefreshList(_oVouchers, 'tblVoucher');

 });

 function ValidateInput()
 {
     var oRequestTo= $('#txtRequestToName').data('obj');
     if(oRequestTo==null ||oRequestTo.UserID<=0){
         if(_oVoucherBatch.RequestTo<=0)
         {
             alert("Please select Request to Person!");
             $("#txtRequestToName").addClass("errorFieldBorder");
             $("#txtRequestToName").focus();
             return false;
         } else {
             $("#txtRequestToName").removeClass("errorFieldBorder");
         }
     } else {
         $("#txtRequestToName").removeClass("errorFieldBorder");
     }

     return true;
 }

 function RefreshObject()
 {

     var oVoucherBatch= {
         VoucherBatchID :_oVoucherBatch==null?0: _oVoucherBatch.VoucherBatchID,
         BatchStatus : 3,
         RequestTo : $('#txtRequestToName').data('obj')==null?_oVoucherBatch.RequestTo: $('#txtRequestToName').data('obj').UserID
     };
     return oVoucherBatch;
 }

 $("#btnSave").click(function(){
     if (!confirm("Confirm to submit request for approval?")) return false;
     if(!ValidateInput()) return false;
     var oVoucherBatch=RefreshObject();
     $.icsSave({BaseAddress: _sBaseAddress,
         Object: oVoucherBatch,
         ObjectId: oVoucherBatch.VoucherBatchID,
         ControllerName: "VoucherBatch",
         ActionName: "UpdateStatus",
         TableId: "",
         IsWinClose: false,
         Message: "Status Changed Successfully."},function(response){
             if(response.status && response.obj!=null){
                 var oVoucherBatch =response.obj
                 if (oVoucherBatch.VoucherBatchID>0) {

                     var oVoucherBatchs =sessionStorage.getItem("VoucherBatchs");
                     var nIndex= parseInt(sessionStorage.getItem("SelectedRowIndex"));
                     if(oVoucherBatchs!=null)
                     {
                         oVoucherBatchs = jQuery.parseJSON(oVoucherBatchs);
                     }
                     else
                     {
                         oVoucherBatchs=[];
                     }
                     if(nIndex!=-1)
                     {
                         oVoucherBatchs[nIndex]=oVoucherBatch;
                     }
                     else
                     {
                         sessionStorage.setItem("SelectedRowIndex", oVoucherBatchs.length);
                         oVoucherBatchs.push(oVoucherBatch);
                     }
                     sessionStorage.setItem("VoucherBatchs", JSON.stringify(oVoucherBatchs));
                     window.location.href = _sBaseAddress+ "/VoucherBatch/ViewVoucherBatchs?gfdb=not&menuid="+_nMenuid;
                 }

             }
         });

 });

 $("#btnTransfer").click(function(){
     
     
     if(parseInt($('#cboTransferToVBs').val())===0){
         alert("Please select a voucher batch to Transfer To!");
         $("#cboTransferToVBs").addClass("errorFieldBorder");
         $("#cboTransferToVBs").focus();
         return false;
     } else {
         $("#cboTransferToVBs").removeClass("errorFieldBorder");
     }

     var oVouchers=$('#tblVoucher').datagrid('getChecked');
     if(oVouchers==null||oVouchers.length<=0){
         alert("Please select at least one item!");
         return false;
     }
     if (!confirm("Confirm to Transfer?")) return false;
        
     debugger;
     var oVoucherBatch= {
         VoucherBatchID:parseInt($('#cboTransferToVBs').val()),
         Vouchers:oVouchers
     }

     $.ajax({
         type: "POST",
         dataType: "json",
         url: _sBaseAddress + '/VoucherBatch/VoucherBatchTransfer',
         traditional: true,
         data: JSON.stringify(oVoucherBatch),
         contentType: "application/json; charset=utf-8",
         success: function (data) {
             debugger;
             var sMessage = jQuery.parseJSON(data);
             if (sMessage != null) {
                 if (sMessage.toLowerCase() == "transfered") {
                     alert("Transfered successfully.");
                     var oVoucherBatchs =sessionStorage.getItem("VoucherBatchs");
                     var nIndex= parseInt(sessionStorage.getItem("SelectedRowIndex"));
                     if(oVoucherBatchs!=null)
                     {
                         oVoucherBatchs = jQuery.parseJSON(oVoucherBatchs);
                     }
                     else
                     {
                         oVoucherBatchs=[];
                     }
                     if(nIndex!=-1)
                     {
                         oVoucherBatchs[nIndex].VoucherCount=oVoucherBatchs[nIndex].VoucherCount-oVouchers.length;
                     }
                     
                     if(oVoucherBatchs.length>0){
                         for(var i=0;i<oVoucherBatchs.length;i++){
                             if(oVoucherBatchs[i].VoucherBatchID===parseInt($('#cboTransferToVBs').val())){
                                 oVoucherBatchs[i].VoucherCount=oVoucherBatchs[i].VoucherCount+oVouchers.length;
                             }
                         }
                     }

                     sessionStorage.setItem("VoucherBatchs", JSON.stringify(oVoucherBatchs));
                     window.location.href = _sBaseAddress+ "/VoucherBatch/ViewVoucherBatchs?gfdb=not&menuid="+_nMenuid;
                 }
                 else { alert(sMessage); }
             }
             else { alert("Transfer Unsuccessful."); }

             
         },
         error: function (xhr, status, error) {
             alert(error);
             
         }
     });

 });

 $("#btnClose").click(function(){
     window.location.href = _sBaseAddress+ "/VoucherBatch/ViewVoucherBatchs?menuid="+_nMenuid;
 });

 $(document).keydown(function(e) {
     if(e.which == 27)//escape=27
     {
         window.location.href = _sBaseAddress+ "/VoucherBatch/ViewVoucherBatchs?menuid="+_nMenuid;
     }
 });
</script>