@{
    ViewBag.Title = "Purchase Quotation List";
}
@model IEnumerable<ESimSol.BusinessObjects.PurchaseQuotation>
    <head>
        <title>Purchase Quotation</title>

    </head>
    <body>
        <div id="progbarParent" style="width:100%;height:100%;margin:0 auto;text-align:center; margin-left: auto;margin-right: auto;left: 0;right: 0;z-index: 1;">
            <div style="margin: 0px auto;margin-top: 251px;text-align:center;width:390px;">
                <label style="font-size:18px;">Please wait</label>
                <div id="progbar" style="width:100%;height:37px;"></div>
            </div>
        </div>
        <div class="menuMainCollectionTable" id="mdiv" style="margin-left: 0px; height:100%; width:100%">
            <div style="margin-left: 0px; height:100%; width:100%">
                <table id="tblPurchaseQuotations" title="Quotation CataLog List" style="width:100%" class="easyui-datagrid" fit="true" fitcolumns="false"
                       rownumbers="true" pagination="true" singleselect="true" autorowheight="false" toolbar="#toolbarPQ" data-options="resizable:true">
                    <thead>
                        <tr>
                            <th field="RateCollectDateInString" width="200">Issue Date</th>
                            <th field="PurchaseQuotationNo" width="200">Quotation No</th>
                            <th field="SupplierName" width="200">Supplier Name</th>
                            <th field="StatusInString" width="200">Status</th>
                            <th field="ExpiredDateInString" width="200">Valid Date</th>
                            <th field="ApprovedByName" width="180" align="left">Approved By</th>
                            <th field="Remarks" width="200">Remarks</th>
                            <th field="SCPersonName" width="200">Contact Person</th>
                            <th field="MerchandiserName" width="200">Merchandiser</th>
                        </tr>
                    </thead>
                </table>
                <div id="toolbarPQ">
                    <input type="text" id="txtSearchByNo" placeholder="Search by Quotation No" style="width:200px" />
                    <a id="btnSearch" href="javascript:void(0)" class="easyui-linkbutton" iconcls="icon-search" plain="true">Search</a>
                    <a id="btnAddPurchaseQuotation" href="javascript:void(0)" class="easyui-linkbutton" iconcls="icon-add" plain="true">Add</a>
                    <a id="btnEditPurchaseQuotation" href="javascript:void(0)" class="easyui-linkbutton" iconcls="icon-edit" plain="true">Edit</a>
                    <a id="btnViewPurchaseQuotation" href="javascript:void(0)" class="easyui-linkbutton" iconcls="icon-details" plain="true">View</a>
                    <a id="btnDeletePurchaseQuotation" href="javascript:void(0)" class="easyui-linkbutton" iconcls="icon-remove" plain="true">Delete</a>
                    <a id="btnApprove" href="javascript:void(0)" class="easyui-linkbutton" iconcls="icon-approved" plain="true">Approve</a>
                    <a id="btnQuotationAttachment" href="javascript:void(0)" class="easyui-linkbutton" iconcls="icon-attachment" plain="true" >Attachment</a>
                    <a id="btnCopyQuotation" href="javascript:void(0)" class="easyui-linkbutton" iconcls="icon-copy" plain="true">Copy Quotation</a>
                    <a id="btnPreview" href="javascript:void(0)" class="easyui-linkbutton" iconcls="icon-print" plain="true">Preview</a>
                    <a id="btnPrintList" href="javascript:void(0)" class="easyui-linkbutton" iconcls="icon-print" plain="true">Print List</a>
                    <a id="btnRequestRevise" href="javascript:void(0)" class="easyui-linkbutton" iconcls="icon-request" plain="true">Request Revise</a>
                    <a id="btnAcceptRevise" href="javascript:void(0)" class="easyui-linkbutton" iconcls="icon-ok" plain="true">Accept Revise</a>
                    <a id="btnReviseHistory" href="javascript:void(0)" class="easyui-linkbutton" iconcls="icon-details" plain="true">Revise History</a>
                </div>
            </div>
        </div>



        <div id="winQuotationAdvanceSearch" class="easyui-window winClass" title="Advance Search" data-options="modal:true,closed:true,collapsible:false,minimizable:false,maximizable:false,closable:false">
            <div style="width:730px; float: left;">
                <table border="0" cellpadding="0" cellspacing="0" style="font-size: 12px">
                    <tr style="height: 200px">
                        <td style="width: 300px">
                            <table border="0" cellpadding="0" cellspacing="0" style="font-size: 12px">
                                <tr style="height: 200px">
                                    <td style="width: 400px; vertical-align: top; height: 200px">
                                        <fieldset>
                                            <legend style="font-weight: bold; font-size: 12px">Searching Criteria : </legend>
                                            <table border="0" cellpadding="0" cellspacing="0" style="width: 340px; font-size: 12px">
                                                <tr>
                                                    <td style="width: 130px; text-align: left; font-weight: bold">
                                                        Quotation No.:
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td style="width: 325px; text-align: left">
                                                        @Html.TextBox("txtSearchQuotationNo", "", new { style = "width: 325px", id = "txtSearchQuotationNo" })
                                                    </td>
                                                </tr>

                                                
                                                <tr>
                                                    <td style="width: 130px; text-align: left; font-weight: bold">
                                                        Supplier Name:
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td style="width: 325px; text-align: left;">
                                                        @Html.TextBox("txtSearchSupplierName", "", new { style = "width: 325px", id = "txtSearchSupplierName" })
                                                    </td>
                                                </tr>

                                                <tr>
                                                    <td style="width: 130px; text-align: left; font-weight: bold">
                                                        Issue Date:
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td style="width: 325px; text-align: left; font-size: 12px">
                                                        <table border="0" style="font-size: 12px">
                                                            <tr>
                                                                <td style="width: 100px; font-size: 12px; text-align: left">
                                                                    @Html.DropDownList("cboIssueDate", new SelectList(Enum.GetValues(typeof(ESimSol.BusinessObjects.EnumCompareOperator))), new { id = "cboIssueDate", style = "width: 100px;font-size:12px;text-align:left", @class = "_select_changeA" })
                                                                </td>
                                                                <td style="width: 98px; font-size: 12px">
                                                                    <input id="txtIssueStartDate" type="text" class="easyui-datebox" required="required" data-options="formatter:icsdateformat,parser:icsdateparser" style="width: 98px;" />
                                                                </td>

                                                                <td style="width: 9px; font-size: 12px" id="enddateT">
                                                                    To
                                                                </td>
                                                                <td style="width: 97px; font-size: 12px" id="enddate">
                                                                    <input id="txtIssueEndDate" type="text" class="easyui-datebox" required="required" data-options="formatter:icsdateformat,parser:icsdateparser" style="width: 98px;" />
                                                                </td>

                                                            </tr>
                                                        </table>
                                                    </td>
                                                </tr>

                                                <tr style=" margin-top:2px;padding-top:2px;">
                                                    <td style="width: 130px; text-align: left; margin-top:5px;padding-top:5px;">
                                                        <label style="font-weight:bold;">Status : </label>
                                                        @*@Html.DropDownList("cboStatus", new SelectList(Enum.GetValues(typeof(ESimSol.BusinessObjects.EnumQuotationStatus))), new { id = "cboStatus" })*@
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td>
                                                        <select id="cboStatus" style="width:325px;"></select>
                                                    </td>
                                                </tr>

                                                <tr style=" margin-top:2px;padding-top:2px;">
                                                    <td style="width: 130px; text-align: left; margin-top:5px;padding-top:5px;">
                                                        <label style="font-weight:bold;">Product : </label>
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td>
                                                        @Html.TextBox("txtProductName", "", new { style = "width: 272px", id = "txtProductName" })
                                                        <a id="btnProductPick" href="javascript:void(0)" class="easyui-linkbutton" iconcls="icon-search" plain="true">Pick</a>
                                                    </td>
                                                </tr>
                                                <tr style=" margin-top:2px;padding-top:2px;">
                                                    <td style="width: 130px; text-align: left; margin-top:5px;padding-top:5px;">
                                                        <label style="font-weight:bold;">MPR No : </label>
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td>
                                                        @Html.TextBox("txtMPRNo", "", new { style = "width: 325px", id = "txtMPRNo" })
                                                    </td>
                                                </tr>
                                                <tr style=" margin-top:2px;padding-top:2px;">
                                                    <td style="width: 130px; text-align: left; margin-top:5px;padding-top:5px;">
                                                        <label style="font-weight:bold;">Approve By : </label>
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td>
                                                        <select id="cboApproveBy" style="width:325px;"></select>
                                                    </td>
                                                </tr>
                                                <tr style="height:50px; vertical-align: bottom">
                                                    <td style=" text-align:left; width:325px;">
                                                        <table border="0" cellpadding="0" cellspacing="0">
                                                            <tr>
                                                                <td style=" text-align:left;"><input type="button" value="Reset" id="btnReset" style="width:70px; text-align:left;" /></td>

                                                                <td style=" text-align:right; width:50%;padding-bottom:10px;">&nbsp;</td>
                                                                <td style=" text-align:right; width:255px;"><input type="button" value="Search" id="btnAdvSearch" style="width:70px; text-align:right;" /></td>
                                                            </tr>
                                                        </table>
                                                    </td>
                                                </tr>
                                            </table>
                                        </fieldset>
                                    </td>
                                    <td style="width: 323px; height: 350px;  vertical-align:top;">
                                        <div style="margin-left:0px; margin-top:6px; height:350px">
                                            <table id="tblSearchQuotationList" title="Quotation List" class="easyui-datagrid" style="width: 358px;height:350px; font-size: 12px" fitcolumns="false" rownumbers="true" pagination="false" singleselect="false" autorowheight="false" data-options="resizehandle:'right', resizable:true ">
                                                <thead>
                                                    <tr>
                                                        <th data-options="field:'Selected',checkbox:true"></th>
                                                        <th field="PurchaseQuotationNo" width="80" align="left">Quotation No</th>
                                                        <th field="RateCollectDateInString" width="60" align="left">Date</th>
                                                        <th field="ApprovedByName" width="130" align="left">Approved By</th>
                                                    </tr>
                                                </thead>
                                            </table>
                                        </div>
                                    </td>
                                </tr>
                            </table>
                        </td>
                    </tr>
                    <tr style="height:30px">
                        <td style="width: 650px; text-align: right">
                            <a href="javascript:void(0)" id="btnOkButtonClick" class="easyui-linkbutton" iconcls="icon-ok" plain="true">Ok</a>
                            <a href="javascript:void(0)" id="btnSearchClose" class="easyui-linkbutton" iconcls="icon-cancel" plain="true">Close</a>
                        </td>
                    </tr>
                </table>
            </div>
        </div>



    </body>

                      @*<body>

                          <div class="menuMainCollectionTable" id="mdiv" style="margin-left: 0px; height:100%; width:100%">
                              <div style="margin-left: 0px; height:100%; width:100%">
                                  <table id="tblPurchaseQuotations" title="Quotation CataLog List" style="width:100%" class="easyui-datagrid" fit="true" fitcolumns="true" rownumbers="true" pagination="true" singleselect="true" autorowheight="false" toolbar="#toolbarPQ">
                                      <thead>
                                          <tr>
                                              <th field="RateCollectDateInString" width="15%">Issue Date</th>
                                              <th field="PurchaseQuotationNo" width="10%">Quotation No</th>
                                              <th field="SupplierName" width="10%">Supplier Name</th>
                                              <th field="StatusInString" width="20%">Status</th>
                                              <th field="ExpiredDateInString" width="20%">Valid Date</th>
                                              <th field="ApprovedByName" width="18%" align="left">Approved By</th>
                                              <th field="Remarks" width="20%">Remarks</th>
                                              <th field="SCPersonName" width="20%">Contact Person</th>
                                              <th field="MerchandiserName" width="20%">Merchandiser</th>
                                          </tr>
                                      </thead>
                                  </table>*@

                                  @*<table id="tblPurchaseQuotations" title="Quotation CataLog List"  class="easyui-datagrid" fit="true" fitcolumns="true" rownumbers="true" pagination="true" singleselect="true" autorowheight="false" toolbar="#toolbarPQ">
                        <thead>
                            <tr>
                                <th field="RateCollectDateInString" width="10%" align="left">Issue Date</th>
                                <th field="PurchaseQuotationNo" width="10%" align="left">Quotation No</th>
                                <th field="SupplierName" width="10%" align="left">Supplier Name</th>
                                <th field="StatusInString" width="10%" align="left">Status</th>
                                <th field="ExpiredDateInString" width="10%" align="left">Valid Date</th>
                                <th field="ApprovedByName" width="10%" align="left">Approved By</th>
                                <th field="Remarks" width="10%" align="left">Remarks</th>
                                <th field="SCPersonName" width="10%" align="left">Contact Person</th>
                                <th field="MerchandiserName" width="10%" align="left">Merchandiser</th>

                            </tr>
                        </thead>
                    </table>*@
                                  @*<div id="toolbarPQ">
    <table>
        <tr>
            <td>@*
                <input type="text" id="txtSearchByNo" placeholder="Search by Quotation No" style="width:200px" />*@
                                                  @*<a id="btnSearch" href="javascript:void(0)" class="easyui-linkbutton" iconcls="icon-search" plain="true">Search</a>*@
                                                  @*<a id="btnAddPurchaseQuotation" href="javascript:void(0)" class="easyui-linkbutton" iconcls="icon-add" plain="true">Add</a>
                                                  <a id="btnEditPurchaseQuotation" href="javascript:void(0)" class="easyui-linkbutton" iconcls="icon-edit" plain="true">Edit</a>
                                                  <a id="btnViewPurchaseQuotation" href="javascript:void(0)" class="easyui-linkbutton" iconcls="icon-details" plain="true">View</a>
                                                  <a id="btnDeletePurchaseQuotation" href="javascript:void(0)" class="easyui-linkbutton" iconcls="icon-remove" plain="true">Delete</a>
                                                  <a id="btnApprove" href="javascript:void(0)" class="easyui-linkbutton" iconcls="icon-approved" plain="true">Approve</a>*@
                                                  @*<a id="btnQuotationAttachment" href="javascript:void(0)" class="easyui-linkbutton" iconcls="icon-attachment" plain="true" >Attachment</a>*@
                                                  @*<a id="btnCopyQuotation" href="javascript:void(0)" class="easyui-linkbutton" iconcls="icon-copy" plain="true">Copy Quotation</a>
                                                  <a id="btnPreview" href="javascript:void(0)" class="easyui-linkbutton" iconcls="icon-print" plain="true">Preview</a>
                                                  <a id="btnPrintList" href="javascript:void(0)" class="easyui-linkbutton" iconcls="icon-print" plain="true">Print List</a>
                                              </td>
                                          </tr>
                                      </table>
                                  </div>

                              </div>
                          </div>

                      </body>*@

    
    <script type="text/javascript">
    var _oPurchaseQuotation="";
    ///
    var _oPurchaseQuotations = [];
    var _sBaseAddress = "";
    var _oAuthorizationRolesMapping = [];
    var _oPurchaseQuotationBranch = null;
    var _nID=null;
    var oStatuss = [];
    var oApproveByUsers=[];

    $(document).ready(function() {
        debugger;
        _oPurchaseQuotations = @Html.Raw(new System.Web.Script.Serialization.JavaScriptSerializer().Serialize(Model));
        _oAuthorizationRolesMapping = @Html.Raw(new System.Web.Script.Serialization.JavaScriptSerializer().Serialize(HttpContext.Current.Session[SessionInfo.AuthorizationRolesMapping]));
        _sBaseAddress = @Html.Raw(new System.Web.Script.Serialization.JavaScriptSerializer().Serialize(HttpContext.Current.Session[SessionInfo.BaseAddress]));
        var oBUID = @Html.Raw(new System.Web.Script.Serialization.JavaScriptSerializer().Serialize(ViewBag.BUID));
        oStatuss = @Html.Raw(new System.Web.Script.Serialization.JavaScriptSerializer().Serialize(ViewBag.Statuss));
        oApproveByUsers = @Html.Raw(new System.Web.Script.Serialization.JavaScriptSerializer().Serialize(ViewBag.ApproveByUsers));
        sessionStorage.setItem("BUID",oBUID);

        _nID =parseInt(sessionStorage.getItem("SelectedRowIndex"));
        var oPurchaseQuotations =sessionStorage.getItem("PurchaseQuotations");
        if(oPurchaseQuotations!=null)
        {
            oPurchaseQuotations = jQuery.parseJSON(oPurchaseQuotations);
        }
        else
        {
            oPurchaseQuotations=_oPurchaseQuotations;
        }
        RefreshList(oPurchaseQuotations);
        if(_nID!=-1)
        {
            $('#tblPurchaseQuotations').datagrid('selectRow', _nID);
        }

        $("#progbar").progressbar({ value: 0 });
        $("#progbarParent").hide();
        $('#tblPurchaseQuotations').datagrid({onSelect: function(rowIndex, rowData){ RowSelect(rowData);}});
        RefreshControlLayout();
        $('#txtProductName').data("ProductIDs","");
    });

    function RefreshControlLayout() {
        $("#btnAddPurchaseQuotation").hide();
        $("#btnEditPurchaseQuotation").hide();
        $("#btnViewPurchaseQuotation").hide();

        $("#btnDeletePurchaseQuotation").hide();
        $("#btnQuotationAttachment").hide();
        $("#btnApprove").hide();
        $("#btnCopyQuotation").hide();
        $("#btnPreview").hide();
        $("#btnPrintList").hide();
        $("#btnRequestRevise").hide();
        $("#btnAcceptRevise").hide();
        $("#btnReviseHistory").hide();






        if(PermissionChecker('Add','PurchaseQuotation',_oAuthorizationRolesMapping)) {
            $("#btnAddPurchaseQuotation").show();
            $("#btnRequestRevise").show();
            $("#btnQuotationAttachment").show();
        }
        if(PermissionChecker('Edit','PurchaseQuotation',_oAuthorizationRolesMapping)) {
            $("#btnEditPurchaseQuotation").show();
        }
        if(PermissionChecker('View','PurchaseQuotation',_oAuthorizationRolesMapping)) {
            $("#btnViewPurchaseQuotation").show();
        }
        if(PermissionChecker('Delete','PurchaseQuotation',_oAuthorizationRolesMapping)) {
            $("#btnDeletePurchaseQuotation").show();
        }

        if(PermissionChecker('PrintList','PurchaseQuotation',_oAuthorizationRolesMapping)) {
            $("#btnPrintList").show();
        }
        if(PermissionChecker('Approved','PurchaseQuotation',_oAuthorizationRolesMapping)) {
            $("#btnApprove").show();
        }
        if(PermissionChecker('Copy','PurchaseQuotation',_oAuthorizationRolesMapping)) {
            $("#btnCopyQuotation").show();
        }
        if(PermissionChecker('Revise','PurchaseQuotation',_oAuthorizationRolesMapping)) {
            $("#btnAcceptRevise").show();
        }
        if(PermissionChecker('Preview','PurchaseQuotation',_oAuthorizationRolesMapping)) {
            $("#btnPreview").show();
        }
        if(PermissionChecker('ReviseHistory','PurchaseQuotation',_oAuthorizationRolesMapping)) {
            $("#btnReviseHistory").show();
        }


    }

    $('._select_changeA').change(function () {
        //  debugger;
        var x = $("#cboQuotationDate").val();
        if (x == "EqualTo" || x == "NotEqualTo" || x == "GreaterThen" || x == "SmallerThen") {
            document.getElementById("enddate").style.display = 'none';
            document.getElementById("enddateT").style.display = 'none';
        }
        else {
            document.getElementById("enddate").style.display = '';
            document.getElementById("enddateT").style.display = '';
        }
    });

    $("#btnRequestRevise").click(function(e){
        debugger;
        var oPurchaseQuotation= $('#tblPurchaseQuotations').datagrid('getSelected');
        if(oPurchaseQuotation==null || oPurchaseQuotation.PurchaseQuotationID<=0)
        {
            alert("without save can't Request for revise!");
            return false;
        }
        if(oPurchaseQuotation.ApprovedBy=0)
        {
            alert("First Approve this item then request for revise!");
            return false;
        }
        if(oPurchaseQuotation.QuotationStatusInInt==4)
        {
            alert("Already in request!");
            return false;
        }
        if (!confirm("Confirm to Request?")) return ;
        debugger;
        var obj={
            PurchaseQuotationID:oPurchaseQuotation.PurchaseQuotationID
        };

        var SelectedRowIndex=$('#tblPurchaseQuotations').datagrid('getRowIndex',oPurchaseQuotation);
        $.ajax({
            type: "POST",
            dataType: "json",
            url : _sBaseAddress+"/PurchaseQuotation/RequestRevise",
            traditional: true,
            data:  JSON.stringify(obj),
            contentType: "application/json; charset=utf-8",
            success: function (data) {
                debugger;
                var oPQ= jQuery.parseJSON(data);
                if (oPQ.ErrorMessage=="" || oPQ.ErrorMessage==null)
                {
                    alert("Request Revise Succesful!!");
                    if(oPQ.PurchaseQuotationID>0)
                    {
                        $('#tblPurchaseQuotations').datagrid('updateRow', { index: SelectedRowIndex, row: oPQ });
                    }
                }
                else
                {
                    alert(oPQ.ErrorMessage);

                }
            },
            error: function (xhr, status, error)
            {
                alert(error);
            }
        });
    });

    function RowSelect(oNOAs)
    {
        debugger;
        ////Commercial Invoice Status:
        //document.getElementById("btnIC").style.display = 'none';
        //document.getElementById("btnSendToBuyer").style.display = 'none';
        //document.getElementById("btnBuyerAccepted").style.display = 'none';
        //document.getElementById("btnEncashment").style.display = 'none';
        //document.getElementById("btnBillClosed").style.display = 'none';
        //document.getElementById("btnUndoStatus").style.display = 'none';

        if(parseInt(oNOAs.ApprovedBy)!=0)
        {
            document.getElementById("btnApprove").style.display = 'none';
        }
        if(parseInt(oNOAs.ApprovedBy)==0)
        {
            document.getElementById("btnApprove").style.display = '';
        }
        //document.getElementById("btnSearch").style.display = 'none';
    }

    $('#btnQuotationAttachment').click(function (e)
    {
        var oQuotation = $("#tblPurchaseQuotations").datagrid("getSelected");
        if (oQuotation == null || oQuotation.PurchaseQuotationID <= 0) { alert("Please select an item from list!"); return; }
        //EnumAttchRefType : PurchaseQuotation = 23
        window.open(_sBaseAddress + '/AttachDocument/Attachment?id='+parseInt( oQuotation.PurchaseQuotationID )+'&RefType=23&OperationInfo= Selected PQ No : '+ oQuotation.PurchaseQuotationNo, '_blank');
    });

    $('#txtSearchByNo').keydown(function (e)
    {
        var code = (e.keyCode ? e.keyCode : e.which);
        if (code== 13) {
            var txtSearchByNo = $('#txtSearchByNo').val();
            if(txtSearchByNo==null || txtSearchByNo=="")
            {
                alert("Please Type Quotation No And Press Enter.");
                return;
            }
            if(txtSearchByNo!="")
            {
                //debugger;
                var oPurchaseQuotation = {BUID:sessionStorage.getItem('BUID'),PurchaseQuotationNo:txtSearchByNo };
                $.ajax({
                    type: "POST",
                    dataType: "json",
                    url : _sBaseAddress+"/PurchaseQuotation/SearchByQuotationNo",
                    traditional: true,
                    data:  JSON.stringify(oPurchaseQuotation),
                    contentType: "application/json; charset=utf-8",
                    success: function (data) {
                        //debugger;
                        var oPQs = jQuery.parseJSON(data);
                        if (oPQs.length>0)
                        {
                            DynamicRefreshList(oPQs,'tblPurchaseQuotations');
                        }
                        else
                        {
                            alert("Data Not found");
                            DynamicRefreshList(oPQs,'tblPurchaseQuotations');
                        }
                    },
                    error: function (xhr, status, error)
                    {
                        alert(error);
                    }
                });             //debugger;

            }
        }

    });


    function RefreshList(oPurchaseQuotations)
    {
        var data={"total":""+oPurchaseQuotations.length+"","rows":oPurchaseQuotations};
        $('#tblPurchaseQuotations').datagrid('loadData',data);

    }

    function RefreshArguments(){
        var sErrorMessage='Arguments;';

        var txtSearchbyCode=$("#txtSearchbyCode").val();
        if(txtSearchbyCode!=null)
        {
            sErrorMessage=sErrorMessage+txtSearchbyCode+'~';
        }
        var txtSearchByName=$("#txtSearchByName").val();
        if(txtSearchByName!=null)
        {
            sErrorMessage=sErrorMessage+txtSearchByName+'~';
        }

        return {ErrorMessage:sErrorMessage};
    }
    $('#btnRefresh').click(function(){
        var oPurchaseQuotation=RefreshArguments();
        $.icsDataGets({
            BaseAddress: _sBaseAddress,
            Object: oPurchaseQuotation,
            ControllerName: "PurchaseQuotation",
            ActionName: "Gets",
            IsWinClose: false
        },function (response){
            if(response.status && response.objs!=null){
                if(response.objs.length>0){
                    var oPurchaseQuotations=response.objs;
                    DynamicRefreshList(oPurchaseQuotations, 'tblPurchaseQuotations');
                }
            }
        });
    });
    $('#btnPrintPurchaseQuotation').click(function(){
        var oPurchaseQuotations=$('#tblPurchaseQuotations').datagrid('getRows');
        if(oPurchaseQuotations==null||oPurchaseQuotations.length<=0){return false;}
        $("#txtPurchaseQuotationCollectionList").val(JSON.stringify(oPurchaseQuotations));
    });
    $("#btnAddPurchaseQuotation").click(function(){
        var oPurchaseQuotations= $('#tblPurchaseQuotations').datagrid('getRows');
        sessionStorage.setItem("PurchaseQuotations", JSON.stringify(oPurchaseQuotations));
        sessionStorage.setItem("SelectedRowIndex", -1);
        sessionStorage.setItem("PurchaseQuotationHeader", "Add Purchase Quotation");
        sessionStorage.setItem("BackLink",window.location.href);
        var tsv=((new Date()).getTime())/1000;
        window.location.href = _sBaseAddress+ "/PurchaseQuotation/ViewPurchaseQuotation?id=0&ts="+tsv;



    });

    $("#btnAcceptRevise").click(function(){
        debugger;
        var oPurchaseQuotation= $('#tblPurchaseQuotations').datagrid('getSelected');
        if(oPurchaseQuotation==null || oPurchaseQuotation.PurchaseQuotationID<=0)
        {
            alert("Please select a item from list!");
            return;
        }
        if(oPurchaseQuotation.QuotationStatusInInt!=4)
        {
            alert("Selected item is not requested for revise!");
            return false;
        }

        var SelectedRowIndex=$('#tblPurchaseQuotations').datagrid('getRowIndex',oPurchaseQuotation);
        var oPurchaseQuotations= $('#tblPurchaseQuotations').datagrid('getRows');
        sessionStorage.setItem("PurchaseQuotations", JSON.stringify(oPurchaseQuotations));
        sessionStorage.setItem("SelectedRowIndex", SelectedRowIndex);
        sessionStorage.setItem("PurchaseQuotationReviseHeader", "Revise Purchase Quotation");
        sessionStorage.setItem("BackLink",window.location.href);
        var tsv=((new Date()).getTime())/1000;
        window.location.href = _sBaseAddress+  "/PurchaseQuotation/ViewPurchaseQuotationRevise?id="+oPurchaseQuotation.PurchaseQuotationID+"&ts="+tsv;
    });

    $("#btnReviseHistory").click(function(){
        var oPurchaseQuotation= $('#tblPurchaseQuotations').datagrid('getSelected');
        if(oPurchaseQuotation==null || oPurchaseQuotation.PurchaseQuotationID<=0)
        {
            alert("Please select a item from list!");
            return;
        }
        var SelectedRowIndex=$('#tblPurchaseQuotations').datagrid('getRowIndex',oPurchaseQuotation);
        var oPurchaseQuotations= $('#tblPurchaseQuotations').datagrid('getRows');
        sessionStorage.setItem("PurchaseQuotations", JSON.stringify(oPurchaseQuotations));
        sessionStorage.setItem("SelectedRowIndex", SelectedRowIndex);
        sessionStorage.setItem("PurchaseQuotationReviseHistoryHeader", "ReviseHistory Purchase Quotation");
        sessionStorage.setItem("BackLink",window.location.href);
        var tsv=((new Date()).getTime())/1000;
        window.location.href = _sBaseAddress+  "/PurchaseQuotation/ViewPurchaseQuotationReviseHistory?id="+oPurchaseQuotation.PurchaseQuotationID;
    });
    $("#btnEditPurchaseQuotation").click(function(){
        var oPurchaseQuotation= $('#tblPurchaseQuotations').datagrid('getSelected');
        if(oPurchaseQuotation==null || oPurchaseQuotation.PurchaseQuotationID<=0)
        {
            alert("Please select a item from list!");
            return;
        }
        if(parseInt(oPurchaseQuotation.ApprovedBy)!=0)
        {
            alert("Select only Not Approved Item from List.");
            return false;
        }
        var SelectedRowIndex=$('#tblPurchaseQuotations').datagrid('getRowIndex',oPurchaseQuotation);
        var oPurchaseQuotations= $('#tblPurchaseQuotations').datagrid('getRows');
        sessionStorage.setItem("PurchaseQuotations", JSON.stringify(oPurchaseQuotations));
        sessionStorage.setItem("SelectedRowIndex", SelectedRowIndex);
        sessionStorage.setItem("PurchaseQuotationHeader", "Edit Purchase Quotation");
        sessionStorage.setItem("BackLink",window.location.href);
        var tsv=((new Date()).getTime())/1000;
        window.location.href = _sBaseAddress+  "/PurchaseQuotation/ViewPurchaseQuotation?id="+oPurchaseQuotation.PurchaseQuotationID+"&ts="+tsv;
    });
    $("#btnViewPurchaseQuotation").click(function(){
        var oPurchaseQuotation= $('#tblPurchaseQuotations').datagrid('getSelected');
        if(oPurchaseQuotation==null || oPurchaseQuotation.PurchaseQuotationID<=0)
        {
            alert("Please select a item from list!");
            return;
        }

        var SelectedRowIndex=$('#tblPurchaseQuotations').datagrid('getRowIndex',oPurchaseQuotation);
        var oPurchaseQuotations= $('#tblPurchaseQuotations').datagrid('getRows');
        sessionStorage.setItem("PurchaseQuotations", JSON.stringify(oPurchaseQuotations));
        sessionStorage.setItem("SelectedRowIndex", SelectedRowIndex);
        sessionStorage.setItem("PurchaseQuotationHeader", "View Purchase Quotation");
        sessionStorage.setItem("BackLink",window.location.href);
        var tsv=((new Date()).getTime())/1000;
        window.location.href = _sBaseAddress+  "/PurchaseQuotation/ViewPurchaseQuotation?id="+oPurchaseQuotation.PurchaseQuotationID+"&ts="+tsv;
    });
    $("#btnDeletePurchaseQuotation").click(function(){
        debugger;
        var oPurchaseQuotation= $('#tblPurchaseQuotations').datagrid('getSelected');
        if(oPurchaseQuotation==null || oPurchaseQuotation.PurchaseQuotationID<=0)
        {
            alert("Invalid Field!!! please select a valid Field!");
            return false;
        }
        if(parseInt(oPurchaseQuotation.ApprovedBy)!=0)
        {
            alert("Select only Not Approved Item from List.");
            return false;
        }
        if (!confirm("Confirm to Delete?")) return ;
        var SelectedRowIndex=$('#tblPurchaseQuotations').datagrid('getRowIndex',oPurchaseQuotation);
        if (oPurchaseQuotation.PurchaseQuotationID > 0)
        {
            $.icsDelete({
                BaseAddress: _sBaseAddress,
                Object: oPurchaseQuotation,
                ControllerName: "PurchaseQuotation",
                ActionName: "Delete",
                TableId: "tblPurchaseQuotations",
                IsWinClose: false
            });
        }
    });

    $("#btnSendToMgt").click(function () {
        var oPurchaseQuotation = $("#tblPurchaseQuotations").datagrid("getSelected");
        if (oPurchaseQuotation == null || oPurchaseQuotation.PurchaseQuotationID <= 0)
        {
            alert("Invalid Field!!! please select a valid Field!");
            return false;
        }
        if (oPurchaseQuotation.QuotationStatusInInt != 0) { alert("Please Select Only Intialize Item"); return;}
        if (!confirm("Confirm to Send?")) return;
        var SelectedRowIndex = $('#tblPurchaseQuotations').datagrid('getRowIndex', oPurchaseQuotation);
        var obj =
        {
            BaseAddress: _sBaseAddress,
            Object: oPurchaseQuotation,
            ObjectId: oPurchaseQuotation.PurchaseQuotationID,
            ControllerName: "PurchaseQuotation",
            ActionName: "SendToMgt",
            TableId: "tblPurchaseQuotations",
            IsWinClose: false
        };
        $.icsDataGet(obj, function (response) {
            debugger;
            if (response.status && response.obj != null)
            {
                if (response.obj.QuotationStatusInInt == 1)
                {
                    _oPurchaseQuotation = response.obj;
                    alert("Successfully Send");
                    $('#tblPurchaseQuotations').datagrid('updateRow', { index: SelectedRowIndex, row: _oPurchaseQuotation });
                }
                else { alert(response.obj.ErrorMessage); }
            }
            else { alert("No information found."); }
        });
    });

    $("#btnCopyQuotation").click(function () {

        var oPurchaseQuotation = $("#tblPurchaseQuotations").datagrid("getSelected");
        if (oPurchaseQuotation == null || oPurchaseQuotation.PurchaseQuotationID <= 0)
        {
            alert("Invalid Field!!! please select a valid Field!");
            return false;
        }

        if (!confirm("Confirm to Copy?")) return ;

        $.ajax({
            type: "POST",
            dataType: "json",
            url : _sBaseAddress+"/PurchaseQuotation/Copy",
            traditional: true,
            data:  JSON.stringify(oPurchaseQuotation),
            contentType: "application/json; charset=utf-8",
            success: function (data) {
                debugger;
                var oPurchaseQuotation= jQuery.parseJSON(data);
                if (oPurchaseQuotation.ErrorMessage=="" || oPurchaseQuotation.ErrorMessage==null)
                {

                    alert("Data Save Succesfully!!");
                    if(oPurchaseQuotation.PurchaseQuotationID>0)
                    {
                        var oPurchaseQuotations = $('#tblPurchaseQuotations').datagrid('getRows');
                        var nIndex=oPurchaseQuotations.length;

                        $('#tblPurchaseQuotations').datagrid('appendRow',oPurchaseQuotation);
                        $('#tblPurchaseQuotations').datagrid('selectRow', nIndex);
                    }

                }
                else
                {
                    alert(oPurchaseQuotation.ErrorMessage);

                }
            },
            error: function (xhr, status, error)
            {
                alert(error);
            }
        });



    });
    $("#btnApprove").click(function () {

        var oPurchaseQuotation = $("#tblPurchaseQuotations").datagrid("getSelected");
        if (oPurchaseQuotation == null || oPurchaseQuotation.PurchaseQuotationID <= 0)
        {
            alert("Invalid Field!!! please select a valid Field!");
            return false;
        }
        var SelectedRowIndex = $('#tblPurchaseQuotations').datagrid('getRowIndex', oPurchaseQuotation);
        if (!confirm("Confirm to Approve?")) return ;

        $.ajax({
            type: "POST",
            dataType: "json",
            url : _sBaseAddress+"/PurchaseQuotation/Approve",
            traditional: true,
            data:  JSON.stringify(oPurchaseQuotation),
            contentType: "application/json; charset=utf-8",
            success: function (data) {
                debugger;
                var oPurchaseQuotation= jQuery.parseJSON(data);
                if (oPurchaseQuotation.ErrorMessage=="" || oPurchaseQuotation.ErrorMessage==null)
                {

                    alert("Approved Succesfully!!");
                    if(oPurchaseQuotation.PurchaseQuotationID>0)
                    {
                        $('#tblPurchaseQuotations').datagrid('updateRow', { index: SelectedRowIndex, row: oPurchaseQuotation });

                    }

                }
                else
                {
                    alert(oPurchaseQuotation.ErrorMessage);

                }
            },
            error: function (xhr, status, error)
            {
                alert(error);
            }
        });



    });

    $('#btnPrintList').click(function (e) {
        var oPurchaseQuotations = $('#tblPurchaseQuotations').datagrid('getRows');
        var ids = "";
        if (oPurchaseQuotations.length > 0) {
            for (var i = 0; i < oPurchaseQuotations.length; i++) {
                ids = ids + oPurchaseQuotations[i].PurchaseQuotationID + ",";
            }
            ids = ids.substring(0, parseInt(ids.length - 1));
        }
        if (ids == "" || ids == null) {
            alert("Data not found ");
            return;
        }
        window.open(_sBaseAddress + '/PurchaseQuotation/PrintPurchaseQuotations?sParam=' + ids, "_blank");


    });

    $('#btnPreview').click(function (e) {
        var oPurchaseQuotation = $('#tblPurchaseQuotations').datagrid('getSelected');
        if (oPurchaseQuotation == null || oPurchaseQuotation.PurchaseQuotationID <= 0)
        {
            alert("Please Select Purchase Quotation");
            return;
        }
        window.open(_sBaseAddress + '/PurchaseQuotation/PurchaseQuotationPreview?id=' + oPurchaseQuotation.PurchaseQuotationID, "_blank");


    });

    $("#btnSearch").click(function () {

        var oListo=[{id:-1, Value:"---Select One---"}];
        for(var i=0; i<oStatuss.length;i++) {
            if(i == 0 || i == 2)
            {
                oListo.push(oStatuss[i]);
            }
        }
        $("#cboStatus").icsLoadCombo({
            List:  oListo,
            OptionValue: "id",
            DisplayText: "Value",
            InitialValue:"---Select One---"
        });

        $("#cboApproveBy").icsLoadCombo({
            List:  oApproveByUsers,
            OptionValue: "UserID",
            DisplayText: "UserName"
        });

        $('#txtIssueStartDate').datebox('setValue',icsdateformat(new Date()));
        $('#txtIssueEndDate').datebox('setValue',icsdateformat(new Date()));
        $("#winQuotationAdvanceSearch").icsWindow('open', "Advance Search");
    });


    $('#btnSearchClose').click(function () {
        $("#winQuotationAdvanceSearch").icsWindow('close');
        Reset();
    });

    //btnAdvSearch
    $('#btnAdvSearch').click(function () {
        debugger;
        var sQuotationNo = $("#txtSearchQuotationNo").val();
        var cboIssueDate = document.getElementById("cboIssueDate");
        var nIssueDate = cboIssueDate.options[cboIssueDate.selectedIndex].index;
        var dIssueStartDate = $('#txtIssueStartDate').datebox('getValue');
        var dIssueEndDate = $('#txtIssueEndDate').datebox('getValue');
        var sSupplierName = $("#txtSearchSupplierName").val();
        var cboStatus = $('#cboStatus').val();

        var sProductIDs = $('#txtProductName').data("ProductIDs");
        var sMPRNo = $('#txtMPRNo').val();
        var nApproveBy = $('#cboApproveBy').val();


        var tsv=((new Date()).getTime())/1000;
        var oPurchaseQuotation = {
            Parameter:sQuotationNo + '~' + nIssueDate + '~' + dIssueStartDate + '~' + dIssueEndDate +'~'+sSupplierName+'~'+cboStatus+'~'+sProductIDs+'~'+nApproveBy+'~'+sMPRNo
        };

        $.ajax
              ({
                  type: "POST",
                  dataType: "json",
                  url : _sBaseAddress+"/PurchaseQuotation/PurchaseQuotationSearch",
                  traditional: true,
                  data: JSON.stringify(oPurchaseQuotation),
                  contentType: "application/json; charset=utf-8",
                  success: function (data) {
                      debugger;
                      _oPQs  = data;
                      if (_oPQs.length >0)
                      {
                          DynamicRefreshList(_oPQs,'tblSearchQuotationList');
                      }
                      else {
                          alert("Data not found!!");
                          DynamicRefreshList([],'tblSearchQuotationList');
                      }
                  },
                  error: function (xhr, status, error)
                  {
                      alert(error);
                  }

              });

    });
    $('#btnReset').click(function () {
        debugger;
        Reset();
    });

    function Reset()
    {
        document.getElementById("txtSearchQuotationNo").value = '';
        document.getElementById("txtSearchSupplierName").value = '';
        $('#txtIssueStartDate').datebox('setValue',icsdateformat(new Date()));
        $('#txtIssueEndDate').datebox('setValue',icsdateformat(new Date()));
        DynamicRefreshList([],'tblSearchQuotationList');
        $('#cboIssueDate').val('None');
    }
    $('#btnOkButtonClick').click(function () {
        var oPQs = [];
        var oPQs = $('#tblSearchQuotationList').datagrid('getChecked');
        if (oPQs.length <= 0) {
            alert("please select at least one item");
            return;
        }
        DynamicRefreshList(oPQs,'tblPurchaseQuotations');
        $("#winQuotationAdvanceSearch").icsWindow('close');
        Reset();
    });

    $("#txtProductName").keydown(function (e) {
        debugger;
        var code = (e.keyCode ? e.keyCode : e.which);
        if (code == 13) // Enter Press
        {
            GetProducts($.trim($('#txtProductName').val()));
        }
        else if(code == 8){
            $('#txtProductName').val("");
            $('#txtProductName').data("ProductIDs","");
        }
    });

    $("#btnProductPick").click(function () {
        GetProducts("");
    });

    function GetProducts(sProductName)
    {
        debugger;
        if(sProductName == ""){
            alert("Please type Product Name!!");
            $('#txtProductName').focus();
            return;
        }
        var oProduct = { ProductName:sProductName,BUID:sessionStorage.getItem("BUID")};
        var obj = {
            BaseAddress: _sBaseAddress,
            Object: oProduct,
            ControllerName: "PurchaseQuotation",
            ActionName: "GetProducts",
            IsWinClose: false
        };
        $("#progressbar").progressbar({ value: 0 });
        $("#progressbarParent").show();
        //var intervalID = setInterval(updateProgress, 250);
        $.icsDataGets(obj, function (response) {
            //clearInterval(intervalID);
            $("#progressbarParent").hide();
            if (response.status && response.objs.length > 0) {
                if (response.objs[0].ProductID> 0) {
                    var tblColums = [], searcingField = "", windowTittle = "";
                    var oColumn = { field: "ProductCode", title: "Code", width: 100, align: "left" }; tblColums.push(oColumn);
                    oColumn = { field: "ProductName", title: "Item Name", width: 400, align: "left" }; tblColums.push(oColumn);
                    var oPickerParam = {
                        winid: 'winProductPicker',
                        winclass: 'clsProductPicker',
                        winwidth: 600,
                        winheight: 460,
                        tableid: 'tblProductPicker',
                        tablecolumns: tblColums,
                        datalist: response.objs,
                        multiplereturn: true,
                        searchingbyfieldName: 'ProductCode',
                        windowTittle: 'Product List'
                    };
                    $.icsPicker(oPickerParam);
                    IntializePickerbutton(oPickerParam);//multiple return
                }
                else {
                    alert(response.objs[0].ErrorMessage);
                }

            }
        });
    }

    function IntializePickerbutton(oPickerobj)
    {

        $("#" + oPickerobj.winid).find("#btnOk").click(function () {

            SetPickerValue(oPickerobj);
        });
        $(document).find('.' +oPickerobj.winclass).keydown(function (e) {
            if (e.which == 13)//enter=13
            {
                SetPickerValue(oPickerobj);
            }
        });
    }

    function SetPickerValue(oPickerobj)
    {
        var oreturnobj = "", oreturnobjs = [] ;
        if(oPickerobj.multiplereturn)
        {
            oreturnobjs = $('#'+oPickerobj.tableid).datagrid('getChecked');
        }else
        {
            oreturnobj = $('#'+oPickerobj.tableid).datagrid('getSelected');
        }

        $("#"+oPickerobj.winid).icsWindow("close");
        $("#" + oPickerobj.winid).remove();
        if (oPickerobj.winclass == 'clsProductPicker')
        {
            if (oreturnobjs.length > 0) {
                if(oreturnobjs[0].ProductID > 0){
                    if(oreturnobjs.length == 1)
                        $('#txtProductName').val(oreturnobjs[0].ProductName);
                    else
                        $('#txtProductName').val(oreturnobjs.length + " Products selected.");
                    var ids = "";
                    for(var i=0;i<oreturnobjs.length;i++)
                        ids += oreturnobjs[i].ProductID + ",";
                    if(ids.length > 0)
                        ids = ids.substring(0,ids.length-1);
                    $('#txtProductName').data("ProductIDs",ids);
                }
            }
            else{
                alert("Data Not found!!");
            }
            $('#txtProductName').focus();
        }

    }

</script>
