<html>
@{
    ViewBag.Title = "Time Action Plan";
}
<body>
    @model ESimSol.BusinessObjects.TAP
    <div id="winTAPTamplate" class="easyui-window winClass" title="Template  Search" data-options="modal:true,closed:true,collapsible:false,minimizable:false,maximizable:false,closable:false">
        <div style="width:760px;float: left;">
            <table border="0" cellpadding="0" cellspacing="0" style="font-size:12px">
                <tr style="height:270px">
                    <td style="width:500px">
                        <table border="0" cellpadding="0" cellspacing="0" style="font-size:12px;margin-left:3px;">
                            <tr style="height:260px">
                                <td style="width:400px; vertical-align:top;height:450px;">

                                    <table id="tblTAPTemplate" title=" Template Info " class="easyui-datagrid" style="width:370px;height:450px;font-size:12px" fitcolumns="false" rownumbers="true" pagination="false" singleselect="true" , autorowheight="false">
                                        <thead>
                                            <tr>
                                                <th field="TemplateNo" width="110">Template No</th>
                                                <th field="TemplateName" width="215">Template Name</th>
                                            </tr>
                                        </thead>
                                    </table>
                                </td>

                                <td style="width:323px; height:453px;vertical-align:top">

                                    <table id="tblTAPTemplateDetail" title="Template Details" class="easyui-datagrid" style="width:370px;height:450px;font-size:12px" fitcolumns="false" rownumbers="true" pagination="false" singleselect="true" , autorowheight="false">
                                        <thead>
                                            <tr>
                                                <th field="OrderStepName" width="180">Step Name</th>
                                                <th field="BeforeShipment" width="145"><label id="lblTemplateCalculationType">Before Shipment(Days)</label></th>
                                            </tr>
                                        </thead>
                                    </table>
                                </td>

                            </tr>
                        </table>
                    </td>
                </tr>
                <tr style="height:50px; width:750px;">
                    <td style="width:650px; text-align:right">
                        <a href="javascript:void(0)" class="easyui-linkbutton" iconcls="icon-ok" plain="true" onclick="OkButtonClick()">Ok</a>
                        <a href="javascript:void(0)" class="easyui-linkbutton" iconcls="icon-cancel" plain="true" onclick="CloseTemplatePicker()">Close</a>
                    </td>
                </tr>
            </table>
        </div>
    </div>

    <div class="menuMainCollectionTable">
        <div class="easyui-panel" title="Time Action Plan" style="font-family:Tahoma;width:101.5%;height:93%;">
            <fieldset style=" width:98%;">
                <legend style="font-weight: bold;">Time Action Plan Info: </legend>
                <table border="0" cellspacing="0" cellpadding="1" style="font-size: 11px; font-weight: bold">
                    <tr>
                        <td style="width: 150px; text-align: right; "><label class="asterixStyle">*</label>Buyer Name:</td>
                        <td style="width:250px; text-align:left;">@Html.TextBoxFor(model => model.BuyerName, new { style = "width: 200px;", id = "txtBuyerName", placeholder = "Type & press Enter" }) <input type="button" id="btnBuyerPick" value="Pick" style="width:45px;" onclick="PickBuyer()" />  </td>
                        <td style="width:150px; text-align: right">Plan Type</td>
                        <td style="width:150px; text-align:left;"><select id="cboPlanType" style="width:150px;" class="_PlanTypeChangeIssue"><option value="1">Order Recap</option><option value="2">Development Recap</option></select></td>
                        <td style="width:260px; vertical-align:bottom; text-align:right;" rowspan="8">
                            <table border="1" cellpadding="0" cellspacing="0">
                                <tr>
                                    <td style=" text-align:center; width:255px; height:280px;">
                                        <img id="imgCoverImage" src="@Url.Action("GetLargeImage", "TechnicalSheet", new { id = Model.TechnicalSheetID })" alt="Photo" style="width:255px; height:280px" />
                                    </td>
                                </tr>
                            </table>
                        </td>
                    </tr>

                    <tr>
                        <td style="width: 150px; text-align: right">Brand:</td>
                        <td style="width:250px; text-align:left;">@Html.TextBoxFor(model => model.BrandName, new { style = "width: 250px;", id = "txtBrandName", disabled = "disabled" }) </td>

                        <td style="width:150px; text-align: right">Plan No:</td>
                        <td style="width:150px; text-align:left;">@Html.TextBoxFor(model => model.PlanNo, new { style = "width: 150px;", id = "txtPlanNo", disabled = "disabled" }) </td>
                    </tr>
                    <tr>
                        <td style="width: 150px; text-align: right"><label class="asterixStyle">*</label><label id="lblRcpNo">PO No:</label></td>
                        <td style="width:250px; text-align:left;">@Html.TextBoxFor(model => model.OrderRecapNo, new { style = "width: 200px;", id = "txtOrderNo", disabled = "disabled" }) <input type="button" value="Pick" id="btnRecapPick" style="width:45px;" onclick="PickOrder()" />  </td>
                        <td style="width:150px; text-align: right">Order Date:</td>
                        <td style="width:150px; text-align:left;">@Html.TextBoxFor(model => model.OrderDateInString, new { style = "width: 150px;", id = "txtOrderDate", disabled = "disabled" }) </td>
                    </tr>

                    <tr>
                        <td style="width: 150px; text-align: right">Style No:</td>
                        <td style="width:250px; text-align:left;">@Html.TextBoxFor(model => model.StyleNo, new { style = "width: 250px;", id = "txtStyleNo", disabled = "disabled" }) </td>


                        <td style="width:150px; text-align: right"> <label id="lblfactryshpmntdt">Factory Shipment Date: </lable></td>
                        <td style="width:150px; text-align:left;">@Html.TextBoxFor(model => model.FactoryShipmentDateInString, new { style = "width: 150px;", id = "txtFactoryShipmentDateInString", disabled = "disabled" }) </td>

                    </tr>

                    <tr>
                        <td style="width: 150px; text-align: right">
                            <label id="lblShpmntDate">Shipment Date:</label>
                        </td>
                        <td style="width: 250px;">
                            @Html.TextBoxFor(model => model.ShipmentDateInString, new { style = "width: 250px;", id = "txtShipmentDate", disabled = "disabled" })
                        </td>

                        <td style="width: 150px; text-align: right">
                            Remarks:
                        </td>
                        <td style="width: 150px;">
                            @Html.TextBoxFor(model => model.Remarks, new { style = "width: 150px;", id = "txtRemarks" })
                        </td>
                    </tr>

                    <tr id="tdOrderRecapColorSizeRatio">
                        <td style="vertical-align:top; width:730px;" rowspan="3" colspan="4">
                            <table border="0">
                                <tr>
                                    <td style="width:730px; text-align:left;font-weight:normal;"><table id="tblColorSizeWiseRatio" class="easyui-datagrid" title="Color Wise Order BreakDown" style="width:100%;height:150px" fitcolumns="false" rownumbers="true" pagination="false" singleselect="true" autorowheight="false"></table></td>
                                </tr>
                                <tr>
                                    <td style="width:100%;text-align:left;">
                                        <div id="divTotalSummary" style="font-size:12px; height:15px; width:100%;"><b>Total :</b></div>
                                    </td>
                                </tr>
                            </table>
                        </td>
                    </tr>
                    <tr>
                        <td style="vertical-align:top; width:730px;" rowspan="3" colspan="4" id="tdDevDetail">
                            <table border="0">
                                <tr>
                                    <td style="width:730px; text-align:left; font-weight:normal;" colspan="2">
                                        <div>
                                            <table id="tblDevelopmentRecapDetail" title="Sample Development Factory Wise List" class="easyui-datagrid" style="width:100%; height:150px;" fitcolumns="false" rownumbers="true" singleselect="true" autorowheight="false" toolbar="#"></table>
                                        </div>
                                    </td>
                                </tr>
                                <tr>
                                    <td style="width:650px;font-size:12px;  text-align:center;">Total:</td>
                                    <td style="width:60px;text-align:right;"><label id="lblTotalDevelopmentRecapDetailQty" style="font-size: 12px; text-align: right; ">0</label> </td>
                                </tr>
                            </table>

                        </td>
                    </tr>
                </table>
            </fieldset>
            <div style="margin-left:3px; margin-top:2px;">
                <table id="tblTAPDetail" class="easyui-treegrid" title="Time Action Plan Details" style="width:100%;height:200px" fitcolumns="false" rownumbers="true" pagination="false" singleselect="true" autorowheight="false" data-options="idField:'id',treeField:'text', rownumbers:'true', toolbar:'#TAPDetailstoolbar'">
                    <thead>
                        <tr>
                            <th field="text" width="280">Step Name</th>
                            <th field="SequenceInString" width="120">Sequence</th>
                            <th field="ApprovalPlanDateInString" align="center" width="130">Approve Plan Date</th>
                            <th width="200" data-options="field:'Remarks',align:'center',editor:{type:'text',options:{precision:0}}">Remarks</th>
                        </tr>
                    </thead>
                </table>
                <div id="TAPDetailstoolbar" style="text-align:left; font-weight:normal">
                    <label class="asterixStyle">*</label><a href="javascript:void(0)" id="btnAddOrderStep" class="easyui-linkbutton" iconcls="icon-add" plain="true" onclick="AddOrderStep()">Add Order Step</a>
                    <a href="javascript:void(0)" id="btnAddTemplate" class="easyui-linkbutton" iconcls="icon-add" plain="true" onclick="PickTimeActionPlanTemplate()">Time Action Plan Template</a>
                    <a href="javascript:void(0)" id="btnRemoveDetail" class="easyui-linkbutton" iconcls="icon-remove" plain="true" onclick="RemoveStep()">Remove</a>
                    <a href="javascript:void(0)" id="btnUp" class="easyui-linkbutton" iconcls="icon-up" plain="true" onclick="UP()">Up</a>
                    <a href="javascript:void(0)" id="btnDown" class="easyui-linkbutton" iconcls="icon-down" plain="true" onclick="Down()">Down</a>
                    <input id="txtPlanDate" type="text" class="easyui-datebox" required="required" data-options="formatter:icsdateformat,parser:icsdateparser" style="width: 135px;" />
                    <a href="javascript:void(0)" id="btnUpdate" class="easyui-linkbutton" iconcls="icon-edit" plain="true" onclick="Update()">Update</a>
                </div>
            </div>
        </div>
        <fieldset style="height:45px; width:100%;">
            <legend style="font-weight: bold">Action : </legend>
            <table border="0" cellspacing="0" cellpadding="0" style="font-size: 11px; font-weight: bold; vertical-align:middle; width:100%">
                <tr>
                    <td style="width:85%; text-align: right">
                      
                    </td>
                    <td style="width:7%">
                        <a id="btnSave" href="javascript:void(0)" class="easyui-linkbutton" iconcls="icon-save" plain="true" onclick="Save(false,false)">Save</a>
                    </td>
                    <td style="width:8%">
                        <a href="javascript:void(0)" class="easyui-linkbutton" iconcls="icon-cancel" plain="true" onclick="Close()">Close</a>
                    </td>
                </tr>
            </table>
        </fieldset>
    </div>
</body>
</html>
<script type="text/javascript">
    var _oTAP=null;
    var _sBaseAddress="";
    var _oTechnicalSheetSizes =[];
    var _oColorSizeRatios = [];
    var _oDevelopmentRecapDetails = [];
    var _oTAPDetails = [];
    var _oTempOrderSteps= [];
    var _sTAPHeader = "";
    var _lBackLink = "";
    $(document).ready(function () {
        //debugger;
        _sBaseAddress =@Html.Raw(new System.Web.Script.Serialization.JavaScriptSerializer().Serialize(HttpContext.Current.Session[SessionInfo.BaseAddress]));
        _oTAP =@Html.Raw(new System.Web.Script.Serialization.JavaScriptSerializer().Serialize(Model));
        _oTechnicalSheetSizes = @Html.Raw(new System.Web.Script.Serialization.JavaScriptSerializer().Serialize(Model.TechnicalSheetSizes));
        _oColorSizeRatios = @Html.Raw(new System.Web.Script.Serialization.JavaScriptSerializer().Serialize(Model.ColorSizeRatios));
        _oDevelopmentRecapDetails = @Html.Raw(new System.Web.Script.Serialization.JavaScriptSerializer().Serialize(Model.DevelopmentRecapDetails));
        _sTAPHeader = sessionStorage.getItem("TAPHeader");
        _lBackLink = sessionStorage.getItem("BackLink");
        RefreshControl();
        RefreshDetails(_oTAP.TTAPDetail.children);
        $('#tblTAPDetail').treegrid('collapseAll',0);
        $('#txtPlanDate').datebox('setValue',icsdateformat(new Date(_oTAP.PlanDateInString)));
        $('#tblTAPDetail').treegrid({onClickRow:function(row){debugger;onClickRow(row);}});
        $('#tblTAPDetail').treegrid({onSelect: function(rowData){ RowSelect(rowData );}})
    });

    $('._PlanTypeChangeIssue').change(function(){
        $('#txtOrderNo').val('');
        $('#txtPlanNo').val('');
        $('#txtStyleNo').val('');
        $('#txtOrderDate').val('');
        $('#txtShipmentDate').val('');
        $('#txtFactoryShipmentDateInString').val('');
        _oTAP.OrderRecapID = 0;
        var nPlanType = $("#cboPlanType").val();
        if(parseInt(nPlanType)==2)
        {
            _oTAP.IsDevelopmentRecap = true;
            $("#lblRcpNo").html("Dev. Recap No :");
            $("#lblShpmntDate").html("Sending Dead Line :");
            $("#lblfactryshpmntdt").html("Sending Receive Date:");
            $('#tdOrderRecapColorSizeRatio').hide();
            $('#tdDevDetail').show();
            MakeDevelopmentRecapDetailTable();
        }else{
            _oTAP.IsDevelopmentRecap = false;
            $("#lblRcpNo").html("PO No :");
            $("#lblShpmntDate").html("Shipment Date :");
            $("#lblfactryshpmntdt").html("Factory Shipment Date:");
            $('#tdDevDetail').hide();
            $('#tdOrderRecapColorSizeRatio').show();
            MakeOrderRecapDetailTable(_oTechnicalSheetSizes);
            RefreshOrderRecapColorSizeList(_oColorSizeRatios);
        }


    });

    function RefreshControl()
    {
        debugger;
        if(_oTAP.IsDevelopmentRecap)
        {
            $('#tdOrderRecapColorSizeRatio').hide();
            $('#tdDevDetail').show();
            $('#cboPlanType').val(2);
            MakeDevelopmentRecapDetailTable();
            RefreshDevelopmentRecapList(_oDevelopmentRecapDetails);
        }else{

            $('#cboPlanType').val(1);
            $('#tdDevDetail').hide();
            $('#tdOrderRecapColorSizeRatio').show();
            MakeOrderRecapDetailTable(_oTechnicalSheetSizes);
            RefreshOrderRecapColorSizeList(_oColorSizeRatios);
        }
    }

    function RefreshDetails(oTTAPDetail)
    {
        data=oTTAPDetail;
        data={"total":""+data.length+"","rows":data};
        $('#tblTAPDetail').treegrid('loadData',data);
    }

    function RowSelect(rowData)
    {
        debugger;
        $('#txtPlanDate').datebox('setValue',rowData.ApprovalPlanDateInString);
    }

    function Update()
    {
        debugger;
        var oTAPDetail = $('#tblTAPDetail').treegrid('getSelected');
        if(oTAPDetail== null)
        {
            alert("Please Select Detail");
            return;
        }
        oTAPDetail.ApprovalPlanDate = $('#txtPlanDate').datebox('getValue');
        oTAPDetail.ApprovalPlanDateInString = icsdateformat( new Date($('#txtPlanDate').datebox('getValue')));
        $.ajax({
            type: "POST",
            dataType: "json",
            url : _sBaseAddress+  "/TAP/UpdateApprovePlanDate",
            traditional: true,
            data:  JSON.stringify(oTAPDetail),
            contentType: "application/json; charset=utf-8",
            success: function (data) {
                //debugger;
                _oTAP = jQuery.parseJSON(data);
                if (parseInt(_oTAP.TAPID)>0)
                {
                    alert("Update Successfully");
                    RefreshDetails(_oTAP.TTAPDetail.children);
                }
                else {
                    alert(_oTAP.ErrorMessage);
                }
            },
            error: function (xhr, status, error) {
                alert(error);
            }

        });

    }

 
    function PickOrder()
    {
        if(parseInt(_oTAP.BuyerID)<=0)
        {
            alert("Please select Buyer");
            return;
        }

        if(parseInt($('#cboPlanType').val())==2)
        {
            var oTAP = { BuyerID: _oTAP.BuyerID, OrderRecapID:_oTAP.OrderRecapID};
            var obj = {
                BaseAddress: _sBaseAddress,
                Object: oTAP,
                ControllerName: "TAP",
                ActionName: "BuyerWiseDevelopmentRecaps",
                IsWinClose: false
            };
            $.icsDataGets(obj, function (response) {
                debugger;
                if (response.status && response.objs.length > 0) {
                    if (response.objs[0].DevelopmentRecapID > 0) {
                        debugger;
                        var tblColums = []; var oColumn = { field: "StyleNo", title: "Style No", width: 120, align: "left" }; tblColums.push(oColumn);
                        oColumn = { field: "DevelopmentRecapNo", title: "Development Recap", width: 100, align: "left" }; tblColums.push(oColumn);
                        oColumn = { field: "ProductName", title: "Product Name", width: 100, align: "left" }; tblColums.push(oColumn);
                        oColumn = { field: "ApproveByName", title: "Approve By", width: 100, align: "left" }; tblColums.push(oColumn);
                        oColumn = { field: "SampleQty", title: "Quantity", width: 100, align: "right" }; tblColums.push(oColumn);

                        var oPickerParam = {
                            winid: 'winDevelopmentRecaps',
                            winclass: 'clsDevelopmentRecap',
                            winwidth: 600,
                            winheight: 460,
                            tableid: 'tblDevelopmentRecaps',
                            tablecolumns: tblColums,
                            datalist: response.objs,
                            multiplereturn: false,
                            searchingbyfieldName: 'StyleNo',
                            windowTittle: 'View Buyer Wise Development Recap Picker ['+$('#txtBuyerName').val()+']'
                        };
                        $.icsPicker(oPickerParam);
                        IntializePickerbutton(oPickerParam);
                    }
                    else { alert(response.objs[0].ErrorMessage); }
                }else
                {
                    alert("Data Not Found.");
                    return;
                }
            });
        }else
        {
            var oTAP = { BuyerID: _oTAP.BuyerID, OrderRecapID:_oTAP.OrderRecapID};
            var obj = {
                BaseAddress: _sBaseAddress,
                Object: oTAP,
                ControllerName: "TAP",
                ActionName: "BuyerWiseOrderRecaps",
                IsWinClose: false
            };
            $.icsDataGets(obj, function (response) {
                debugger;
                if (response.status && response.objs.length > 0) {
                    if (response.objs[0].OrderRecapID > 0) {
                        debugger;
                        var tblColums = []; var oColumn = { field: "StyleNo", title: "Style No", width: 120, align: "left" }; tblColums.push(oColumn);
                        oColumn = { field: "OrderRecapNo", title: "Order Recap", width: 100, align: "left" }; tblColums.push(oColumn);
                        oColumn = { field: "ShipmentDateInString", title: "Shipment Date", width: 100, align: "left" }; tblColums.push(oColumn);
                        oColumn = { field: "FactoryName", title: "Factory", width: 100, align: "left" }; tblColums.push(oColumn);
                        oColumn = { field: "FabricName", title: "Fabrication", width: 100, align: "left" }; tblColums.push(oColumn);
                        oColumn = { field: "ProductName", title: "Product Name", width: 100, align: "left" }; tblColums.push(oColumn);
                        oColumn = { field: "ApproveByName", title: "Approve By", width: 100, align: "left" }; tblColums.push(oColumn);
                        oColumn = { field: "TotalQuantity", title: "Quantity", width: 100, align: "right" }; tblColums.push(oColumn);

                        var oPickerParam = {
                            winid: 'winOrderRecaps',
                            winclass: 'clsOrderRecap',
                            winwidth: 820,
                            winheight: 500,
                            tableid: 'tblOrderRecaps',
                            tablecolumns: tblColums,
                            datalist: response.objs,
                            multiplereturn: false,
                            searchingbyfieldName: 'StyleNo',
                            windowTittle: 'View Buyer Wise Order Recap Picker ['+$('#txtBuyerName').val()+']'
                        };
                        $.icsPicker(oPickerParam);
                        IntializePickerbutton(oPickerParam);
                    }
                    else { alert(response.objs[0].ErrorMessage); }
                }else
                {
                    alert("Data Not Found.");
                    return;
                }
            });
        }
    }

    function LoadDevelopmentRecapDetails(nDevelopmentRecapID)
    {
        if(parseInt(nDevelopmentRecapID)>0)
        {
            $.ajax
          ({
              type: "GET",
              dataType: "json",
              url : _sBaseAddress+  "/DevelopmentRecap/GetDevelopmentRecapDetails",
              data: { id:nDevelopmentRecapID},
              contentType: "application/json; charset=utf-8",
              success: function (data) {
                  //debugger;
                  _oDevelopmentRecapDetails = jQuery.parseJSON(data);
                  if (_oDevelopmentRecapDetails.length>0)
                  {
                      if(parseInt(_oDevelopmentRecapDetails[0].DevelopmentRecapDetailID)>0)
                      {
                          RefreshDevelopmentRecapList(_oDevelopmentRecapDetails);
                      }
                  }
                  else
                  {
                      alert("There is No Details");
                  }
              },
              error: function (xhr, status, error)
              {
                  alert(error);
              }

          });
        }

    }
    function AddOrderStep()
    {
        var oOrderStep = {};
        var obj = {
            BaseAddress: _sBaseAddress,
            Object: oOrderStep,
            ControllerName: "OrderStep",
            ActionName: "GetOrderSteps",
            IsWinClose: false
        };
        $.icsDataGets(obj, function (response) {
            debugger;
            if (response.status && response.objs.length > 0) {
                if (response.objs[0].OrderStepID > 0) {
                    _oTempOrderSteps = [];
                    _oTempOrderSteps = response.objs;
                    var oNewOrderSteps = [];
                    for(var i =0;i<_oTempOrderSteps.length;i++)
                    {
                        if(parseInt(_oTempOrderSteps[i].ParentID)==1)
                        {
                            oNewOrderSteps.push(_oTempOrderSteps[i]);
                        }
                    }
                    debugger;
                    var tblColums = []; var oColumn = { field: "OrderStepName", title: "Order Step Name", width: 200, align: "left" }; tblColums.push(oColumn);
                    oColumn = { field: "Note", title: "Note", width: 100, align: "left" }; tblColums.push(oColumn);
                    var oPickerParam = {
                        winid: 'winOrderSteps',
                        winclass: 'clsOrderStep',
                        winwidth: 600,
                        winheight: 460,
                        tableid: 'tblOrderSteps',
                        tablecolumns: tblColums,
                        datalist: oNewOrderSteps,
                        multiplereturn: true,
                        searchingbyfieldName: 'OrderStepName',
                        windowTittle: 'Oder Step Picker'
                    };
                    $.icsPicker(oPickerParam);
                    IntializePickerbutton(oPickerParam);
                }
                else { alert(response.objs[0].ErrorMessage); }
            }else
            {
                alert("Data Not Found.");
                return;
            }
        });

    }


    function IsExist(nOrderStepID)
    {
        var oTAPDetails = $('#tblTAPDetail').treegrid('getData');
        if(oTAPDetails.length>0)
        {
            for(var i =0;i<oTAPDetails.length;i++)
            {
                if(parseInt(oTAPDetails[i].OrderStepID)== parseInt(nOrderStepID))
                {
                    return true;
                }
                var oTempChildrens =oTAPDetails[i].children;
                for(var j = 0; j<oTempChildrens.length;j++)
                {
                    if(parseInt(oTempChildrens[j].OrderStepID)== parseInt(nOrderStepID))
                    {
                        return true;
                    }
                }
            }
        }

        return false;
    }

    function UP()
    {
        debugger;
        endEditing();
        var oTAPDetail = $('#tblTAPDetail').treegrid('getSelected');
        if(oTAPDetail==null)
        {
            alert("Please select Item");
            return;
        }
        if(_oTAP.TAPID<=0)
        {
            alert("Please Save First Factory TAP then Up Detail.");
            return;
        }
        if(parseInt(oTAPDetail.Sequence)<=1)
        {
            return;
        }
        oTAPDetail.bIsUp=true;
        $.ajax({
            type: "POST",
            dataType: "json",
            url : _sBaseAddress+  "/TAP/UpDown",
            traditional: true,
            data:  JSON.stringify(oTAPDetail),
            contentType: "application/json; charset=utf-8",
            success: function (data) {
                //debugger;
                _oTAP = jQuery.parseJSON(data);
                if (parseInt(_oTAP.TAPID)>0)
                {
                    RefreshDetails(_oTAP.TTAPDetail.children);
                }
                else {
                    alert(_oTAP.ErrorMessage);
                }
            },
            error: function (xhr, status, error) {
                alert(error);
            }

        });

    }

    function Down()
    {
        debugger;
        endEditing();
        var oTAPDetail = $('#tblTAPDetail').treegrid('getSelected');
        if(oTAPDetail==null)
        {
            alert("Please select a item from list!");
            return;
        }
        if(_oTAP.TAPID<=0)
        {
            alert("Please Save First Factory TAP then Down Detail.");
            return;
        }
        oTAPDetail.bIsUp=false;
        $.ajax({
            type: "POST",
            dataType: "json",
            url : _sBaseAddress+  "/TAP/UpDown",
            traditional: true,
            data:  JSON.stringify(oTAPDetail),
            contentType: "application/json; charset=utf-8",
            success: function (data) {
                //debugger;
                _oTAP = jQuery.parseJSON(data);
                if (parseInt(_oTAP.TAPID)>0)
                {
                    RefreshDetails(_oTAP.TTAPDetail.children);
                }
                else {
                    alert(_oTAP.ErrorMessage);
                }
            },
            error: function (xhr, status, error) {
                alert(error);
            }

        });
    }


    function RefreshSequence()
    {
        RefreshDetails(_oTAP.TTAPDetail.children);
    }

    function RemoveStep()
    {
        var oTAPDetail= $('#tblTAPDetail').treegrid('getSelected');
        if(oTAPDetail==null)
        {
            alert("Invalid Field!!! please select a valid Field!");
            return false;
        }
        if(_oTAP.TAPID<=0)
        {
            alert("Please Save First Factory TAP then Remove Detail.");
            return;
        }
        if (!confirm("Confirm to Delete?")) return ;
        $('#tblTAPDetail').treegrid('remove',oTAPDetail.id);
        alert("Delete sucessfully");
        Save(true,true);
    }



    var editid = undefined;
    function endEditing(){
        if (editid == undefined){return true}
        if ($('#tblTAPDetail').treegrid('validateRow', editid)){
            $('#tblTAPDetail').treegrid('endEdit', editid);
            $('#tblTAPDetail').treegrid('select',editid);
            var oTAPDetail=$('#tblTAPDetail').treegrid('getSelected');
            oTAPDetail.ApprovalPlanDate = new Date(oTAPDetail.ApprovalPlanDateInString);
            oTAPDetail.ApprovalPlanDateInString =  icsdateformat(oTAPDetail.ApprovalPlanDate);
            $('#tblTAPDetail').treegrid('update',{id: editid,	row: oTAPDetail});
            editid = undefined;
            return true;
        }
        else
        {
            return false;
        }
    }

    function onClickRow(row){

        if (editid != row.id){
            if (endEditing())
            {
                $('#tblTAPDetail').treegrid('select', row.id).treegrid('beginEdit', row.id);
                editid = row.id;
            }
            else
            {
                $('#tblTAPDetail').treegrid('select', editid);
            }
        }
    }


    function ValidateInput()
    {
        if(_oTAP.OrderRecapID <=0)
        {
            alert("Please Pick Order Recap");
            return false;
        }
        var oTAPDetails =$('#tblTAPDetail').treegrid('getData');
        if(oTAPDetails.length<=0 && _oTAPDetails.length<=0)
        {
            alert("Please add at least One Detail");
            return false;
        }
        return true;
    }


    function RefreshObject()
    {
        var oTAP= {
            TAPID :_oTAP.TAPID,
            OrderRecapID :_oTAP.OrderRecapID,
            IsDevelopmentRecap:_oTAP.IsDevelopmentRecap,
            PlanNo :_oTAP.PlanNo,
            nPriviousTAPID:_oTAP.nPriviousTAPID,
            Remarks :$("#txtRemarks").val(),
            ApprovedBy:_oTAP.ApprovedBy,
            TAPDetails :MakeRefreshDetails()
        };
        return oTAP;
    }

    function MakeRefreshDetails()
    {

        var oTAPDetails = $('#tblTAPDetail').treegrid('getData');
        var oTempTAPDetails= [];
        if(oTAPDetails.length>0)
        {
            for(var i =0;i<oTAPDetails.length;i++)
            {
                var oTAPDetail= {
                    TAPDetailID :oTAPDetails[i].TAPDetailID,
                    TAPID:_oTAP.TAPID,
                    OrderStepID :oTAPDetails[i].id,
                    Sequence :oTAPDetails[i].Sequence,
                    ApprovalPlanDate :new Date(oTAPDetails[i].ApprovalPlanDateInString),
                    Remarks :oTAPDetails[i].Remarks
                };
                oTempTAPDetails.push(oTAPDetail);
                var oTempChildrens =oTAPDetails[i].children;
                for(var j = 0; j<oTempChildrens.length;j++)
                {
                    var oTAPDetail= {
                        TAPDetailID :oTempChildrens[j].TAPDetailID,
                        TAPID:_oTAP.TAPID,
                        OrderStepID :oTempChildrens[j].id,
                        Sequence :oTempChildrens[j].Sequence,
                        ApprovalPlanDate :new Date(oTempChildrens[j].ApprovalPlanDateInString),
                        Remarks :oTempChildrens[j].Remarks
                    };
                    oTempTAPDetails.push(oTAPDetail);
                }
            }
        }

        if(_oTAPDetails.length>0)//Data exist in _oTAPDetails when pick Template or Order STep
        {
            for(var i =0;i<_oTAPDetails.length;i++)
            {
                var oTAPDetail= {
                    TAPDetailID :_oTAPDetails[i].TAPDetailID,
                    TAPID:_oTAP.TAPID,
                    OrderStepID :_oTAPDetails[i].OrderStepID,
                    Sequence :_oTAPDetails[i].Sequence,
                    ApprovalPlanDate :new Date(_oTAPDetails[i].ApprovalPlanDateInString),
                    Remarks :_oTAPDetails[i].Remarks
                };
                oTempTAPDetails.push(oTAPDetail);
            }
        }
        _oTAPDetails = [];//Reset
        return oTempTAPDetails;
    }

    function Save(bIsInitialSave, bIsForRemove)
    {
        debugger;
        if(!bIsForRemove)
        {
            endEditing();
        }
        if(!ValidateInput()) return;
        var oTAP=RefreshObject();
        $.ajax({
            type: "POST",
            dataType: "json",
            url : _sBaseAddress+  "/TAP/SaveFactoryTAP",
            traditional: true,
            data:  JSON.stringify(oTAP),
            contentType: "application/json; charset=utf-8",
            success: function (data) {
                //debugger;
                _oTAP = jQuery.parseJSON(data);
                if (_oTAP.TAPID>0)
                {
                    if(!bIsInitialSave)
                    {
                        alert("Data Saved sucessfully");
                        var oTAPs = sessionStorage.getItem("TAPs");
                        var nIndex = parseInt(sessionStorage.getItem("SelectedRowIndex"));
                        if (oTAPs != null) 
                        {
                            oTAPs = jQuery.parseJSON(oTAPs);
                        }
                        else {
                            oTAPs = [];
                        }
                        if (nIndex != -1) {
                            oTAPs[nIndex] = _oTAP;
                        }
                        else {
                            sessionStorage.setItem("SelectedRowIndex", oTAPs.length);
                            oTAPs.push(_oTAP);
                        }
                        sessionStorage.setItem("TAPs", JSON.stringify(oTAPs));
                        window.open(_sBaseAddress + '/TAP/FactoryTAPPreview?id='+_oTAP.TAPID);
                        window.location.href = _lBackLink;
                    }else{
                        window.location.href = _sBaseAddress+ "/TAP/ViewFactoryTAP?id="+_oTAP.TAPID;
                    }
                }
                else {
                    alert(_oTAP.ErrorMessage);
                }
            },
            error: function (xhr, status, error) {
                alert(error);
            }

        });
    }


    function PickBuyer()
    {
        debugger;
        var oContractor = { Params: 2 + '~' +''};
        var obj = {
            BaseAddress: _sBaseAddress,
            Object: oContractor,
            ControllerName: "Contractor",
            ActionName: "ContractorSearchByNameType",
            IsWinClose: false
        };
        $.icsDataGets(obj, function (response) {
            debugger;
            if (response.status && response.objs.length > 0) {
                if (response.objs[0].ContractorID > 0) {
                    debugger;
                    var tblColums = []; var oColumn = { field: "Name", title: "Name", width: 150, align: "left" }; tblColums.push(oColumn);
                    oColumn = { field: "ContractorTypeInString", title: "Type", width: 150, align: "left" }; tblColums.push(oColumn);
                    var oPickerParam = {
                        winid: 'winBuyers',
                        winclass: 'clsBuyer',
                        winwidth: 600,
                        winheight: 460,
                        tableid: 'tblBuyers',
                        tablecolumns: tblColums,
                        datalist: response.objs,
                        multiplereturn: false,
                        searchingbyfieldName: 'Name',
                        windowTittle: 'Buyer List'
                    };
                    $.icsPicker(oPickerParam);
                    IntializePickerbutton(oPickerParam);
                }
                else { alert(response.objs[0].ErrorMessage); }
            }else
            {
                alert("Data Not Found.");
                return;
            }
        });
    }

    $('#txtBuyerName').keydown(function (e) {
        //debugger;
        debugger;
        var code = (e.keyCode ? e.keyCode : e.which);
        if (code == 13) // Enter Press
        {
            var oContractor = { Params: 2 + '~' + $('#txtBuyerName').val() };
            var obj = {
                BaseAddress: _sBaseAddress,
                Object: oContractor,
                ControllerName: "Contractor",
                ActionName: "ContractorSearchByNameType",
                IsWinClose: false
            };
            $.icsDataGets(obj, function (response) {
                debugger;
                if (response.status && response.objs.length > 0) {
                    if (response.objs[0].ContractorID > 0) {
                        debugger;
                        var tblColums = []; var oColumn = { field: "Name", title: "Name", width: 150, align: "left" }; tblColums.push(oColumn);
                        oColumn = { field: "ContractorTypeInString", title: "Type", width: 150, align: "left" }; tblColums.push(oColumn);
                        var oPickerParam = {
                            winid: 'winBuyers',
                            winclass: 'clsBuyer',
                            winwidth: 600,
                            winheight: 460,
                            tableid: 'tblBuyers',
                            tablecolumns: tblColums,
                            datalist: response.objs,
                            multiplereturn: false,
                            searchingbyfieldName: 'Name',
                            windowTittle: 'Buyer List'
                        };
                        $.icsPicker(oPickerParam);
                        IntializePickerbutton(oPickerParam);
                    }
                    else { alert(response.objs[0].ErrorMessage); }
                }else
                {
                    alert("Data Not Found.");
                    return;
                }
            });
        }
    });

    $('#txtBuyerName').keydown(function (e) {
        var code = (e.keyCode ? e.keyCode : e.which);
        if (code == 8) //backspace=8
        {
            //debugger;
            var txtBuyerName=document.getElementById("txtBuyerName");
            txtBuyerName.style.color="black";
            txtBuyerName.style.fontWeight="normal";
            _oTAP.BuyerID = 0;

        }
    });


    function IntializePickerbutton(oPickerobj) {
        debugger;
        $("#" + oPickerobj.winid).find("#btnOk").click(function () {
            debugger;
            //for Single Select
            PickerEvents(oPickerobj);
        });
        $(document).find('.' + oPickerobj.winclass).keydown(function (e) {
            if (e.which == 13)//enter=13
            {
                PickerEvents(oPickerobj);
            }
        });
    }
    function PickerEvents(oPickerobj) {
        var oreturnobj = null, oreturnobjs = [];
        if(oPickerobj.multiplereturn)
        {
            oreturnobjs = $('#' + oPickerobj.tableid).treegrid('getChecked');
        }else{
            oreturnobj = $('#' + oPickerobj.tableid).treegrid('getSelected');
        }

        $("#" + oPickerobj.winid).icsWindow("close");
        $("#" + oPickerobj.winid).remove();
        if (oPickerobj.winclass == 'clsBuyer')
        {
            $('#txtBuyerName').val(oreturnobj.Name);
            _oTAP.BuyerID = oreturnobj.ContractorID;
            $('#txtBuyerName').focus();
            var txtBuyerName = document.getElementById("txtBuyerName");
            txtBuyerName.style.color = "blue";
            txtBuyerName.style.fontWeight = "bold";
        }else  if (oPickerobj.winclass == 'clsDevelopmentRecap')
        {
            debugger;
            if(oreturnobj.DevelopmentRecapID>0)
            {
                $('#txtOrderNo').val( oreturnobj.DevelopmentRecapNo);
                $('#txtOrderDate').val(oreturnobj.InquiryReceivedDateInString);
                $('#txtStyleNo').val(oreturnobj.StyleNo);
                $('#txtBrandName').val(oreturnobj.BrandName);
                $('#txtShipmentDate').val( oreturnobj.SendingDeadLineInString);
                $('#txtFactoryShipmentDateInString').val(oreturnobj.SampleReceivedDateInString);
                _oTAP.FactoryShipmentDateInString = oreturnobj.SampleReceivedDateInString;
                _oTAP.ShipmentDateInString  = oreturnobj.SendingDeadLineInString;
                _oTAP.IsDevelopmentRecap = true;
                _oTAP.OrderRecapID = oreturnobj.DevelopmentRecapID;
                _oTAP.TSType = oreturnobj.TSType;
                RefreshStyleImage(oreturnobj.TechnicalSheetID);
                LoadDevelopmentRecapDetails(oreturnobj.DevelopmentRecapID);
            }
        }else  if (oPickerobj.winclass == 'clsOrderRecap')
        {
            debugger;
            if(oreturnobj.OrderRecapID>0)
            {
                $('#txtOrderNo').val(oreturnobj.OrderRecapNo);
                $('#txtOrderDate').val(oreturnobj.OrderDateInString);
                $('#txtStyleNo').val(oreturnobj.StyleNo);
                $('#txtBrandName').val(oreturnobj.BrandName);
                $('#txtShipmentDate').val(oreturnobj.ShipmentDateInString);
                $('#txtFactoryShipmentDateInString').val(oreturnobj.FactoryShipmentDateInString);
                _oTAP.FactoryShipmentDateInString = oreturnobj.FactoryShipmentDateInString;
                _oTAP.ShipmentDateInString  = oreturnobj.ShipmentDateInString;
                _oTAP.IsDevelopmentRecap = false;
                _oTAP.OrderRecapID = oreturnobj.OrderRecapID;
                _oTAP.TSType = oreturnobj.TSType;
                TechnicalSheetSize(oreturnobj.TechnicalSheetID);
                RefreshStyleImage(oreturnobj.TechnicalSheetID);
                GetColorSizeRatios(oreturnobj.TechnicalSheetID,oreturnobj.OrderRecapID);
            }
        }else if(oPickerobj.winclass=='clsOrderStep')
        {
            if(oreturnobjs!=null)
            {
                _oTAPDetails = [];
                for(var i=0;i<oreturnobjs.length;i++)
                {
                    if(!IsExist(oreturnobjs[i].OrderStepID))//Insert Parent
                    {
                        var dTempDate = new Date(_oTAP.ShipmentDateInString);
                        dTempDate.setDate(dTempDate.getDate() - 1);
                        var oTAPDetail ={
                            TAPDetailID:0,
                            TAPID:_oTAP.TAPID,
                            OrderStepID :oreturnobjs[i].OrderStepID,
                            OrderStepName :oreturnobjs[i].OrderStepName,
                            Sequence :0,
                            ApprovalPlanDate:dTempDate,
                            ApprovalPlanDateInString:icsdateformat(dTempDate),
                            Remarks :oreturnobjs[i].Remarks
                        };
                        _oTAPDetails.push(oTAPDetail);
                    }
                    MakeTAPDetails(oreturnobjs[i].OrderStepID);//insert child
                }
                Save(true,false);//Intial data save
            }
        }
    }

    function MakeTAPDetails(nOrderStepID)
    {
        debugger;
        for(var j = 0; j<_oTempOrderSteps.length;j++)
        {
            if(parseInt(_oTempOrderSteps[j].ParentID) == parseInt(nOrderStepID))
            {
                if(!IsExist(_oTempOrderSteps[j].OrderStepID))
                {
                    var dTempDate = new Date(_oTAP.ShipmentDateInString);
                    dTempDate.setDate(dTempDate.getDate() - 1);
                    var oTAPDetail ={
                        TAPDetailID:0,
                        TAPID:_oTAP.TAPID,
                        OrderStepID :_oTempOrderSteps[j].OrderStepID,
                        OrderStepName :_oTempOrderSteps[j].OrderStepName,
                        Sequence :0,
                        ApprovalPlanDate:dTempDate,
                        ApprovalPlanDateInString:icsdateformat(dTempDate),
                        Remarks :_oTempOrderSteps[j].Remarks
                    };
                    _oTAPDetails.push(oTAPDetail);
                }
            }
        }
    }

    function GetColorSizeRatios (nTechnicalSheetID, nOrderRecapID)
    {
        if(parseInt(nTechnicalSheetID)>0 && parseInt(nOrderRecapID)>0)
        {
            $.ajax
            ({
                type: "GET",
                dataType: "json",
                url : _sBaseAddress+"/TAP/GetColorSizeRatio",
                data: {nTechnicalSheetID: nTechnicalSheetID,nOrderRecapID:nOrderRecapID},
                contentType: "application/json; charset=utf-8",
                success: function (data)
                {
                    //debugger;
                    oColorSizeRatios = jQuery.parseJSON(data);
                    if (oColorSizeRatios.length >0)
                    {
                        _oColorSizeRatios = oColorSizeRatios;
                        RefreshOrderRecapColorSizeList(_oColorSizeRatios);
                    }
                },
                error: function (xhr, status, error)
                {
                    alert(error);
                }

            });
        }

    }

    function RefreshOrderRecapColorSizeList(oColorSizeRatios)
    {
        data=oColorSizeRatios;
        data={"total":""+data.length+"","rows":data};
        $('#tblColorSizeWiseRatio').datagrid('loadData',data);
        RefreshSummary(_oTechnicalSheetSizes);
    }
    function RefreshDevelopmentRecapList(oDevRecpDtls)
    {
        data=oDevRecpDtls;
        data={"total":""+data.length+"","rows":data};
        $('#tblDevelopmentRecapDetail').datagrid('loadData',data);
        setDevelopmentRecapTotal();
    }

    function setDevelopmentRecapTotal()
    {
        var oDevDetails = $('#tblDevelopmentRecapDetail').datagrid('getRows');
        var ntotalQty = 0;
        for(var i = 0;i<oDevDetails.length;i++)
        {
            ntotalQty+=parseFloat(oDevDetails[i].SampleQty);
        }
        $('#lblTotalDevelopmentRecapDetailQty').html(formatPrice(ntotalQty,0));
    }


    function TechnicalSheetSize(nTechnicalSheetID)
    {
        //debugger;
        var oTechnicalSheet={
            TechnicalSheetID : nTechnicalSheetID
        };
        $.ajax ({
            type: "POST",
            dataType: "json",
            url : _sBaseAddress+"/OrderRecap/GetTechnicalSheetSize",
            data:  JSON.stringify(oTechnicalSheet),
            contentType: "application/json; charset=utf-8",
            success: function (data) {
                //debugger;
                var  oTechnicalSheetSizes = jQuery.parseJSON(data);
                if (oTechnicalSheetSizes!=null)
                {
                    if(oTechnicalSheetSizes.length>0)
                    {
                        MakeOrderRecapDetailTable(oTechnicalSheetSizes);
                    }
                }
            },
            error: function (xhr, status, error)
            {
                alert(error);
            }
        });
    }


    function MakeOrderRecapDetailTable(oTechnicalSheetSizes)
    {
        _oTechnicalSheetSizes=[];
        var tblColums=[];
        var oColumn=null;
        oColumn= { field :"ColorName", title:"Color Name", width:"120"};
        tblColums.push(oColumn);
        var count =0;
        for(var i=0; i<oTechnicalSheetSizes.length;i++)
        {
            count++;
            oColumn= {
                field:"OrderQty"+count,
                title: oTechnicalSheetSizes[i].SizeCategoryName,
                width: "60",
                align: "right",
                editor: {type:'numberbox',options:{ precision:0}}
            };
            tblColums.push(oColumn);
            _oTechnicalSheetSizes.push(oTechnicalSheetSizes[i]);
        }
        oColumn= { field :"ColorWiseTotal", title:"Total", width:"100",  align: "right"};
        tblColums.push(oColumn);
        $('#tblColorSizeWiseRatio').datagrid({ columns:[tblColums]});
        RefreshOrderRecapColorSizeList(_oColorSizeRatios);
        RefreshSummary(_oTechnicalSheetSizes);
    }

    function RefreshSummary(oTechnicalSheetSizes)
    {
        debugger;
        var sInnerHTML="<table border='0' cellspacing='2' cellpadding='2' style='font-size:11px; font-weight:bold'><tr>";
        sInnerHTML=sInnerHTML+"<td style='width:135px; text-align:right'> Total :</td>";
        var count =0;
        for(var j=0; j<oTechnicalSheetSizes.length;j++)
        {
            count++;
            sInnerHTML=sInnerHTML+"<td style='width:56px; text-align:right'>"+SizeWiseTotal(count)+"</td>";
        }
        var nTotalQuantity=SizeWiseTotal(21);
        sInnerHTML=sInnerHTML+"<td style='width:90px; text-align:right'>"+nTotalQuantity+"</td>";
        sInnerHTML=sInnerHTML+"</tr></table>";
        //debugger;
        var divTotalSummary= document.getElementById('divTotalSummary');
        divTotalSummary.innerHTML=sInnerHTML;
    }
    
    function MakeDevelopmentRecapDetailTable()
    {
        var tblColums=[];
        var oColumn=null;
        oColumn= { field :"FactoryName", title:"Factory Name", width:"150"};
        tblColums.push(oColumn);

        oColumn= { field :"FactoryPersonName", title:"Factory C.Person", width:"130",  align: "left"};
        tblColums.push(oColumn);

        oColumn= { field :"SeekingDateInString", title:" Seeking Date", width:"100",  align: "left"};
        tblColums.push(oColumn);

        oColumn= { field :"ReceivedByName", title:"Recive By", width:"127",  align: "left"};
        tblColums.push(oColumn);

        oColumn= { field :"UnitName", title:"Unit", width:"90",  align: "left"};
        tblColums.push(oColumn);

        oColumn= { field :"SampleQty", title:"Qty", width:"90",  align: "right"};
        tblColums.push(oColumn);
        $('#tblDevelopmentRecapDetail').datagrid({ columns:[tblColums]});
    }

    function RefreshStyleImage(nTechnicalSheetID)
    {
        $.ajax({
            cache:true,
            type: "GET",
            url: "@(Url.Action("GetStyleImageInBase64", "TechnicalSheet"))",
            data: "id=" + nTechnicalSheetID,
            success: function (data) {
                //debugger;
                $('#imgCoverImage').attr('src', "data:image/jpg;base64," + data.base64imgage );
            }
        });
    }


    function SizeWiseTotal(n)
    {
        var nSizeWiseTotal=0;
        var oColorSizeWiseRatios = $('#tblColorSizeWiseRatio').datagrid('getRows');
        for(var i=0; i<oColorSizeWiseRatios.length; i++)
        {
            if(n==1){nSizeWiseTotal=nSizeWiseTotal+parseInt(oColorSizeWiseRatios[i].OrderQty1);}
            else if(n==1){nSizeWiseTotal=nSizeWiseTotal+parseInt(oColorSizeWiseRatios[i].OrderQty1);}
            else if(n==2){nSizeWiseTotal=nSizeWiseTotal+parseInt(oColorSizeWiseRatios[i].OrderQty2);}
            else if(n==3){nSizeWiseTotal=nSizeWiseTotal+parseInt(oColorSizeWiseRatios[i].OrderQty3);}
            else if(n==4){nSizeWiseTotal=nSizeWiseTotal+parseInt(oColorSizeWiseRatios[i].OrderQty4);}
            else if(n==5){nSizeWiseTotal=nSizeWiseTotal+parseInt(oColorSizeWiseRatios[i].OrderQty5);}
            else if(n==6){nSizeWiseTotal=nSizeWiseTotal+parseInt(oColorSizeWiseRatios[i].OrderQty6);}
            else if(n==7){nSizeWiseTotal=nSizeWiseTotal+parseInt(oColorSizeWiseRatios[i].OrderQty7);}
            else if(n==8){nSizeWiseTotal=nSizeWiseTotal+parseInt(oColorSizeWiseRatios[i].OrderQty8);}
            else if(n==9){nSizeWiseTotal=nSizeWiseTotal+parseInt(oColorSizeWiseRatios[i].OrderQty9);}
            else if(n==10){nSizeWiseTotal=nSizeWiseTotal+parseInt(oColorSizeWiseRatios[i].OrderQty10);}
            else if(n==11){nSizeWiseTotal=nSizeWiseTotal+parseInt(oColorSizeWiseRatios[i].OrderQty11);}
            else if(n==12){nSizeWiseTotal=nSizeWiseTotal+parseInt(oColorSizeWiseRatios[i].OrderQty12);}
            else if(n==13){nSizeWiseTotal=nSizeWiseTotal+parseInt(oColorSizeWiseRatios[i].OrderQty13);}
            else if(n==14){nSizeWiseTotal=nSizeWiseTotal+parseInt(oColorSizeWiseRatios[i].OrderQty14);}
            else if(n==15){nSizeWiseTotal=nSizeWiseTotal+parseInt(oColorSizeWiseRatios[i].OrderQty15);}
            else if(n==16){nSizeWiseTotal=nSizeWiseTotal+parseInt(oColorSizeWiseRatios[i].OrderQty16);}
            else if(n==17){nSizeWiseTotal=nSizeWiseTotal+parseInt(oColorSizeWiseRatios[i].OrderQty17);}
            else if(n==18){nSizeWiseTotal=nSizeWiseTotal+parseInt(oColorSizeWiseRatios[i].OrderQty18);}
            else if(n==19){nSizeWiseTotal=nSizeWiseTotal+parseInt(oColorSizeWiseRatios[i].OrderQty19);}
            else if(n==20){nSizeWiseTotal=nSizeWiseTotal+parseInt(oColorSizeWiseRatios[i].OrderQty20);}
            else if(n==21){nSizeWiseTotal=nSizeWiseTotal+parseInt(oColorSizeWiseRatios[i].ColorWiseTotal);}
        }
        return nSizeWiseTotal;
    }

    function PickTimeActionPlanTemplate()
    {
        if(parseInt(_oTAP.OrderRecapID)<=0)
        {
            alert("Please select Order");
            return;
        }


        data =[];       
        data={"total":""+data.length+"","rows":data};
        $('#tblTAPTemplate').datagrid('loadData',data);
        RefreshTAPTemplateDetails([]);

        if(parseInt(_oTAP.OrderRecapID)<=0)
        {
            alert("Please select Order");
            return;
        }
        
        var oTAPTemplate = {TampleteTypeInInt:_oTAP.TSType};
        $.ajax({
            type: "POST",
            dataType: "json",
            url : sessionStorage.getItem('BaseAddress')+"/TAPTemplate/GetTAPTemplates",
            traditional: true,
            data:  JSON.stringify(oTAPTemplate),
            contentType: "application/json; charset=utf-8",
            success: function (data) {
                //debugger;
                var oTAPTemplate = jQuery.parseJSON(data);
                if (oTAPTemplate.ErrorMessage=="" || oTAPTemplate.ErrorMessage==null)
                {
                    $('#winTAPTamplate').data('TAPTemplateDetails',oTAPTemplate.TAPTemplateDetails);
                    data =oTAPTemplate.TAPTemplates;       
                    data={"total":""+data.length+"","rows":data};
                    $('#tblTAPTemplate').datagrid('loadData',data);
                    $('#tblTAPTemplate').datagrid({onSelect: function(rowIndex, rowData){ RowSelect(rowData);}});  

                    $("#winTAPTamplate").icsWindow('open', "Template picker");
                    
                }
                else 
                {
                    alert(oTAPTemplate.ErrorMessage);
                }
            },
            error: function (xhr, status, error) {
                alert(error);
            }

        });

    }

    function RowSelect(oTAPTemplate)
    {
        debugger;

        if(parseInt(oTAPTemplate.CalculationType)==1)
        {
            $('#lblTemplateCalculationType').html("Before Shipment(%)");
        }else{
            $('#lblTemplateCalculationType').html("Before Shipment(Days)");
        }
        var oTAPTemplateDetails = [];
        var oTempTAPTemplateDetails= $('#winTAPTamplate').data('TAPTemplateDetails');
        for(var i = 0;i<oTempTAPTemplateDetails.length;i++)
        {
            if(parseInt(oTempTAPTemplateDetails[i].TAPTemplateID) == parseInt(oTAPTemplate.TAPTemplateID) && parseInt(oTempTAPTemplateDetails[i].OrderStepParentID)== 1)   
            {
                oTAPTemplateDetails.push(oTempTAPTemplateDetails[i]);
            }
        }
        oTAPTemplateDetails.sort(compare);
        RefreshTAPTemplateDetails(oTAPTemplateDetails);
    }

    function compare(a,b) 
    {
        if (a.Sequence < b.Sequence)
            return -1;
        if (a.Sequence > b.Sequence)
            return 1;
        return 0;

    }
    function RefreshTAPTemplateDetails(oTAPTemplateDetails)
    {    
        data=oTAPTemplateDetails;
        data={"total":""+data.length+"","rows":data};
        $('#tblTAPTemplateDetail').datagrid('loadData',data);
    }

    function OkButtonClick()
    { 
        debugger;    
        var oTAPTemplateDetails=[];
        var oTAPTemplate = $('#tblTAPTemplate').datagrid('getSelected');               
        if(oTAPTemplate==null || oTAPTemplate.TAPTemplateID<=0)
        {
            alert("Sorry, Please Select TAP Template");
            return;
        }
        var oTempTAPTemplateDetails= $('#winTAPTamplate').data('TAPTemplateDetails');
        for(var i =0;i<oTempTAPTemplateDetails.length;i++)
        {
            if(parseInt(oTempTAPTemplateDetails[i].TAPTemplateID) == parseInt(oTAPTemplate.TAPTemplateID))   
            {
                oTAPTemplateDetails.push(oTempTAPTemplateDetails[i]);
            }
        }

        debugger;
        var oTAPTemplate = {TAPTemplateDetails:oTAPTemplateDetails};
        $.ajax({
            type: "POST",
            dataType: "json",
            url : _sBaseAddress+"/TAPTemplate/GetSequenceManagedTAPTemplateDetails",
            traditional: true,
            data:  JSON.stringify(oTAPTemplate),
            contentType: "application/json; charset=utf-8",
            success: function (data) {
                //debugger;
                var oTAPTemplateDetails= jQuery.parseJSON(data);
                if (oTAPTemplateDetails.length>0)
                {          
                    $("#winTAPTamplate").icsWindow('close');
                    if(oTAPTemplateDetails.length >0)
                    {
                        _oTAPDetails = [];
                        for(var i = 0; i< oTAPTemplateDetails.length; i++)
                        {
                            if(!IsExist(oTAPTemplateDetails[i].OrderStepID))
                            {
                                var dTempDate = new Date(_oTAP.ShipmentDateInString);
                                dTempDate.setDate(dTempDate.getDate() - parseInt(oTAPTemplateDetails[i].BeforeShipment));
                                var oTAPDetail ={
                                    TAPDetailID:0,
                                    TAPID:_oTAP.TAPID,
                                    OrderStepID :oTAPTemplateDetails[i].OrderStepID,
                                    OrderStepName :oTAPTemplateDetails[i].OrderStepName,
                                    Sequence :0,
                                    ApprovalPlanDate:dTempDate,
                                    ApprovalPlanDateInString:icsdateformat(dTempDate),
                                    Remarks :oTAPTemplateDetails[i].Remarks
                                };
                                _oTAPDetails.push(oTAPDetail);
                            }
                        }
                        // debugger;
                        Save(true,false);
                    }

                }else{
                    alert("Data not found");
                    return;
                }
            },
            error: function (xhr, status, error)
            {
                alert(error);
            }
        });
        
    }

    function CloseTemplatePicker()
    {
        $("#winTAPTamplate").icsWindow('close');
    }

    function Close()
    {
        window.location.href = _lBackLink;
    }

    $(document).keydown(function(e) {
        //debugger;
        if(e.which == 27)//escape=27
        {
            //debugger;
            window.location.href = _lBackLink;
        }
    });


</script>
