@{
    ViewBag.Title = "Fabric Machine";
}
<html>
<body>
@model ESimSol.BusinessObjects.FabricMachine
    <div class="menuMainCollectionTable">
        <div class="easyui-panel" title="Fabric Machine Configure" style="font-family:Tahoma;text-align:center;  width:100%;height:100%;">
            <div style="height:87%">
                <fieldset>
                    <legend style="font-weight:bold"> Fabric Machine Info: </legend>
                    <table border="0" cellspacing="2" cellpadding="2" style="font-size:11px; font-weight:bold">
                        <tr>
                            <td style="width:150px; text-align:right">
                            </td>
                            <td style="width:200px;text-align:left;">
                                <input id="chkIsBeam" type="checkbox" style="margin: 0;float:left;"/> 
                                <label style="display:block;float:left;margin-left: 4px;">Beam</label>
                            </td>
                            <td style="width:150px; text-align:right">
                                Process :
                            </td>
                            <td style="width:200px">
                                <select id="cboWeavingProcess" style="width:200px;"><option value="0">Warping</option><option value="1">Sizing</option><option value="2">Drawing_IN</option> <option value="3">Loom</option></select>
                            </td>
                        </tr>
                        <tr>     @*class="txtHideShow"*@
                            
                            <td style="width:150px; text-align:right">
                                Child Machine Type :
                            </td>
                            <td style="width:200px">
                                <select id="cboChildMachineType" style="width:200px;height:22px;"></select>
                            </td>
                            <td style="width:150px; text-align:right">
                                Machine Group :
                            </td>
                            <td style="width:200px">
                                <select id="cboFabricMachineGroup" style="width:200px;height:22px;"></select>
                            </td>
                        </tr>
                        <tr>
                            <td style="width:150px; text-align:right">
                                Code :
                            </td>
                            <td style="width:200px">
                                @Html.TextBoxFor(model => model.Code, new { style = "width:200px;", id = "txtCode" })
                            </td>
                            <td style="width:150px; text-align:right">
                                Name :
                            </td>
                            <td style="width:200px">
                                @Html.TextBoxFor(model => model.Name, new { style = "width: 200px;", id = "txtName" })
                            </td>
                        </tr>
                        <tr>
                            <td style="width:150px; text-align:right">
                                RPM :
                            </td>
                            <td style="width:200px;text-align:left;">
                                @Html.TextBoxFor(model => model.RPM, new { style = "width:200px;", id = "txtRPM" })
                            </td>
                            <td style="width:150px; text-align:right" class="txtHideShow">
                                Capacity/Color :
                            </td>
                            <td style="width:200px" class="txtHideShow">
                                @Html.TextBoxFor(model => model.Capacity, new { style = "width: 200px;", id = "txtCapacity" })
                            </td>
                        </tr>

                        <tr class="txtHideShowTwo">
                            <td style="width:150px; text-align:right">
                                Standard Efficiency :
                            </td>
                            <td style="width:200px">
                                @Html.TextBoxFor(model => model.StandardEfficiency, new { style = "width: 200px;", id = "txtStandardEfficiency" })
                            </td>
                            <td style="width:150px; text-align:right">
                                Is Direct?
                            </td>
                            <td style="width:200px">
                                <input type="checkbox" id="chkIsDirect" style="float:left;" />
                            </td>
                        </tr>

                    </table>
                </fieldset>
            </div>
            <fieldset>
                <legend style="font-weight:bold"> Action : </legend>
                <table border="0" cellspacing="2" cellpadding="2" style="font-size:11px; font-weight:bold">
                    <tr>
                        <td style="width:85%; text-align:right"></td>
                        <td style="width:10%;">
                            <a id="btnSave" href="javascript:void(0)" class="easyui-linkbutton" iconcls="icon-save" plain="true" onclick="Save()">Save</a>
                        </td>
                        <td style="width:5%;">
                            <a href="javascript:void(0)" class="easyui-linkbutton" iconcls="icon-cancel" plain="true" onclick="Close()">Close</a>
                        </td>
                    </tr>
                </table>
            </fieldset>
        </div>
    </div>
</body>
</html>


<script type="text/javascript">
    var _oFabricMachine=null;
    var _sBaseAddress="";
    var _objName = "";
    var _lBackLink = "";
    var _oFabricMachineTypes = [];
    $(document).ready(function () {
        _sBaseAddress =@Html.Raw( new System.Web.Script.Serialization.JavaScriptSerializer().Serialize(HttpContext.Current.Session[SessionInfo.BaseAddress]));
        _oFabricMachine =@Html.Raw(new System.Web.Script.Serialization.JavaScriptSerializer().Serialize(Model));
        _oFabricMachineTypes =@Html.Raw(new System.Web.Script.Serialization.JavaScriptSerializer().Serialize(ViewBag.FabricMachineTypes));
        var oFabricMachineGroups =@Html.Raw(new System.Web.Script.Serialization.JavaScriptSerializer().Serialize(ViewBag.FabricMachineGroups));
        _objName = sessionStorage.getItem("FabricMachineHeader");
        _lBackLink = sessionStorage.getItem("BackLink");
        //LoadMachineTypeCombo();
        $("#cboFabricMachineGroup").icsLoadCombo({ List: oFabricMachineGroups, OptionValue: "FabricMachineGroupID", DisplayText: "Name" });
        $("#cboChildMachineType").icsLoadCombo({ List: _oFabricMachineTypes, OptionValue: "FabricMachineTypeID", DisplayText: "ChildWithParent" });

        $('#txtRPM').numberbox({min:0,precision:0});
        $('#txtStandardEfficiency').numberbox({min:0,precision:0});
        $('#cboWeavingProcess').val(_oFabricMachine.WeavingProcessInInt);
        $("#cboFabricMachineGroup").val(_oFabricMachine.FabricMachineGroupID);
        //LoadChildMachine();
        $("#cboChildMachineType").val(_oFabricMachine.ChildMachineTypeID);
        if(_objName=="View Fabric Machine")
        {
            document.getElementById('btnSave').style.display = 'none';
            document.getElementById('txtName').disabled= true;
            document.getElementById('cboWeavingProcess').disabled= true;
            document.getElementById('txtRPM').disabled= true;
            document.getElementById('txtStandardEfficiency').disabled= true;
            document.getElementById('txtCode').disabled= true;
            document.getElementById('txtCapacity').disabled= true;
        }

        if(_oFabricMachine.IsBeam)
        {
            $('#chkIsBeam').prop('checked', _oFabricMachine.IsBeam);
            HideAndReset();
        }
        if(_oFabricMachine.IsDirect)
        {
            $('#chkIsDirect').prop('checked', _oFabricMachine.IsDirect);
        }

    });


    //function LoadChildMachine(){
    //    var nParentMachineType = $("#cboFabricMachineGroup").val();
    //    var ChilMachineTypes = [];
    //    for(var i=0;i<_oFabricMachineTypes.length;i++){
    //        if(_oFabricMachineTypes[i].ParentID == nParentMachineType)
    //            ChilMachineTypes.push(_oFabricMachineTypes[i]);
    //    }
    //    $("#cboChildMachineType").icsLoadCombo({ List: ChilMachineTypes, OptionValue: "FabricMachineTypeID", DisplayText: "Name" });
    //}

    function HideAndReset()
    {
        $(".txtHideShow").hide();
        $("#txtCapacity").val("");
        $('#txtRPM').numberbox('setValue',0);
        $('#txtStandardEfficiency').numberbox('setValue',0);
    }

    $("#chkIsBeam").change(function() {
        if(this.checked) {
            HideAndReset();
        }else{
            $(".txtHideShow").show();
        }
    });


    function ValidateInput()
    {

        if($("#txtCode").val()==null || $("#txtCode").val()=="")
        {
            alert("Please Type Code !");
            $('#txtCode').focus();
            return false;
        }
        if($("#txtName").val()==null || $("#txtName").val()=="")
        {
            alert("Please Type Machine name!");
            $('#txtName').focus();
            return false;
        }
        return true;
    }


    function RefreshObject()
    {
        var bIsDirect = false;
        if($('#chkIsDirect').attr("checked"))
            bIsDirect=true;
        var oFabricMachine= {
                        FMID:_oFabricMachine.FMID,
                        WeavingProcess:$('#cboWeavingProcess').val(),
                        CCID:_oFabricMachine.CCID,
                        Code:$("#txtCode").val(),
                        Name:$("#txtName").val(),
                        Capacity:$("#txtCapacity").val(),
                        RPM:$('#txtRPM').numberbox('getValue'),
                        StandardEfficiency:$('#txtStandardEfficiency').numberbox('getValue'),
                        IsActive:true,
                        MachineStatus:3,//free,
                        IsBeam:$("#chkIsBeam").is(':checked'),
                        FabricMachineGroupID: $("#cboFabricMachineGroup").val(),
                        ChildMachineTypeID: $("#cboChildMachineType").val(),
                        IsDirect: bIsDirect
                    };
        return oFabricMachine;
    }

    function Save()
    {

        if(!ValidateInput()) return;
        var oFabricMachine=RefreshObject();
        $.ajax({
            type: "POST",
            dataType: "json",
            url : _sBaseAddress+"/FabricMachine/Save",
            traditional: true,
            data:  JSON.stringify(oFabricMachine),
            contentType: "application/json; charset=utf-8",
            success: function (data) {
                var oFM=jQuery.parseJSON(data);
                if(oFM.FMID>0)
                    _oFabricMachine = jQuery.parseJSON(data);
                if (oFM.FMID>0) {
                    alert("Data Saved sucessfully");
                    var oFabricMachines = sessionStorage.getItem("FabricMachines");
                    var nIndex = parseInt(sessionStorage.getItem("SelectedRowIndex"));
                    if (oFabricMachines != null) {
                        oFabricMachines = jQuery.parseJSON(oFabricMachines);
                    }
                    else {
                        oFabricMachines = [];
                    }
                    if (nIndex != -1) {
                        oFabricMachines[nIndex] = _oFabricMachine;
                    }
                    else {
                        sessionStorage.setItem("SelectedRowIndex", oFabricMachines.length);
                        oFabricMachines.push(_oFabricMachine);
                    }
                    sessionStorage.setItem("FabricMachines", JSON.stringify(oFabricMachines));
                    window.location.href = _lBackLink;
                }
                else {
                    alert(oFM.ErrorMessage);
                }
            },
            error: function (xhr, status, error) {
                alert(error);
            }

        });
    }


    function Close()
    {
        window.location.href = _lBackLink;
    }

    $(document).keydown(function(e) {
    //
    if(e.which == 27)//escape=27
    {
        //
        window.close();
    }
});
</script>