<html>
    <head>  
        <link href="@Url.Content("~/Content/CSS/icon.css")" rel="stylesheet" type="text/css" />
        <link href="@Url.Content("~/Content/CSS/easyui.css")" rel="stylesheet" type="text/css" />
        <link href="@Url.Content("~/Content/CSS/Pikerstyle.css")" rel="stylesheet" type="text/css" />
        <script src="@Url.Content("~/Scripts/jquery-1.7.1.min.js")" type="text/javascript"></script>
        <script src="@Url.Content("~/Scripts/jquery.ics.customize.js")" type="text/javascript"></script>
        <script src="@Url.Content("~/Scripts/jquery.easyui.min.js")" type="text/javascript"></script>
        <script src="@Url.Content("~/Scripts/jquery-ui.min.js")" type="text/javascript"></script>
        <script src="@Url.Content("~/Scripts/json2.js")" type="text/javascript"></script>

    </head>
    <body>
    @model IEnumerable<ESimSol.BusinessObjects.EmployeeLoan>
        <div style="font-family:Tahoma">           
            <table border="0" cellspacing="2" cellpadding="2">
                <tr>
                    <td style="background-color:#cfb53b; text-align:center; width:800px; color:White">
                        <label id="lblHeaderName" style="font-size:15px; font-weight:bold; text-decoration:Underline"> Add Leave Application</label>
                    </td>
                </tr>
            </table>
            <table style="font-size : 11px;">
                <tr>
                    <td>
                        Employee : 
                    </td>
                    <td>
                          <input id="txtEmployee" type="text" style="width:550px;"  readonly/>
                    </td>
                </tr>
                <tr>
                    <td>
                        Official Info :
                    </td>
                    <td>
                        <input id="txtOfficialInfo" type="text" style="width:550px;" readonly/>
                    </td>
                </tr>
                <tr>
                    <td colspan="3">
                        <input id="chkRequested" type="checkbox" />Requested
                        <input id="chkAccepted" type="checkbox" />Accepted
                        <input id="chkApproved" type="checkbox" />Approved
                        <input id="chkPartiallyDisburse" type="checkbox" />Partially Disburse
                        <input id="chkFullDisburse" type="checkbox" />Full Disburse
                        <input id="chkClose" type="checkbox" />Close
                        
                    </td>
                    
                </tr>
            </table>
            <table id="tblEmployeeLoan" title="Loan Ledger"  class="easyui-datagrid" style="width:640px;height:250px" fitColumns="false" rownumbers="true" pagination="false" singleSelect="true" autoRowHeight="false" toolbar="#toolbar">
                <thead>  
                    <tr>
                        <th field="Code" width="55" align="left">Code </th> 
                        <th field="RequestDateInString" width="80" align="left" >Request Date</th>
                        <th field="ApproveDateInString" width="80" align="left" >Senction Date</th>
                        <th field="Amount" width="60" align="right">Amount</th>
                        <th field="DisburseAmount" width="80" align="left">Dis. Amount</th>               
                        <th field="Outstanding" width="80" align="right" >Outstanding</th>
                        <th field="InstallmentBalance" width="80" align="right" >Inst. Balance</th>
                        <th field="StatusInString" width="80" align="left">Status</th>
                   </tr>  
               </thead> 
        </table> 
        </div>
    </body>
</html>

<script type="text/javascript">
var _oEmployeeLoans = null;
var _sBaseAddress = "";
var _oEmployeeRequestdLoans =[];
var _oEmployeeAcceptedLoans =[];
var _oEmployeeApprovedLoans =[];
var _oEmployeePartialDisburseLoans=[];
var  _oEmployeeFullDisburseLoans = [];
var  _oEmployeeCancelledLoans =[];

$(document).ready(function() 
{
    _sBaseAddress = @Html.Raw(new System.Web.Script.Serialization.JavaScriptSerializer().Serialize(HttpContext.Current.Session[SessionInfo.BaseAddress]));
    _oEmployeeLoans = @Html.Raw(new System.Web.Script.Serialization.JavaScriptSerializer().Serialize(Model));
    var obj = window.dialogArguments;
    document.getElementById('lblHeaderName').innerHTML = obj.Name;

    document.getElementById('txtEmployee').value = _oEmployeeLoans[0].EmployeeName+"["+_oEmployeeLoans[0].EmployeeCode+"]";
    $("#txtOfficialInfo")[0].value = _oEmployeeLoans[0].DesignationName+"," + _oEmployeeLoans[0].DepartmentName +","+_oEmployeeLoans[0].LocationName+"["+_oEmployeeLoans[0].EmployeeTypeName+","+_oEmployeeLoans[0].WorkingStatusInString+"]";
    RefreshList(_oEmployeeLoans);
    ObjectMake();
});

function RefreshList(oEmployeeLoans)
{
    data = oEmployeeLoans ;
    data = { "total": "" + data.length + "", "rows": data };
    $('#tblEmployeeLoan').datagrid('loadData', data);
    
}

$('#chkAccepted').click(function (e)
{
    document.getElementById("chkAccepted").value= true;
    document.getElementById("chkRequested").value= false;
    document.getElementById("chkApproved").value= false;
    document.getElementById("chkPartiallyDisburse").value= false;
    document.getElementById("chkFullDisburse").value= false;
    document.getElementById("chkClose").value= false;
    RefreshList(_oEmployeeAcceptedLoans)

});
$('#chkRequested').click(function (e)
{
    document.getElementById("chkAccepted").value= false;
    document.getElementById("chkRequested").value= true;
    document.getElementById("chkApproved").value= false;
    document.getElementById("chkPartiallyDisburse").value= false;
    document.getElementById("chkFullDisburse").value= false;
    document.getElementById("chkClose").value= false;
    RefreshList(_oEmployeeRequestdLoans)

});
$('#chkApproved').click(function (e)
{
    document.getElementById("chkAccepted").value= false;
    document.getElementById("chkRequested").value= false;
    document.getElementById("chkApproved").value= true;
    document.getElementById("chkPartiallyDisburse").value= false;
    document.getElementById("chkFullDisburse").value= false;
    document.getElementById("chkClose").value= false;
    RefreshList(_oEmployeeApprovedLoans);

});
$('#chkPartiallyDisburse').click(function (e)
{
    document.getElementById("chkAccepted").value= false;
    document.getElementById("chkRequested").value= false;
    document.getElementById("chkApproved").value= false;
    document.getElementById("chkPartiallyDisburse").value= true;
    document.getElementById("chkFullDisburse").value= false;
    document.getElementById("chkClose").value= false;
    RefreshList(_oEmployeePartialDisburseLoans);

});
$('#chkFullDisburse').click(function (e)
{
    document.getElementById("chkAccepted").value= false;
    document.getElementById("chkRequested").value= false;
    document.getElementById("chkApproved").value= false;
    document.getElementById("chkPartiallyDisburse").value= false;
    document.getElementById("chkFullDisburse").value= true;
    document.getElementById("chkClose").value= false;
    RefreshList(_oEmployeeFullDisburseLoans)

});
$('#chkClose').click(function (e)
{
    document.getElementById("chkAccepted").value= false;
    document.getElementById("chkRequested").value= false;
    document.getElementById("chkApproved").value= false;
    document.getElementById("chkPartiallyDisburse").value= false;
    document.getElementById("chkFullDisburse").value= false;
    document.getElementById("chkClose").value= true;
    RefreshList(_oEmployeeCancelledLoans)

});
function ObjectMake()
{
    for(var i = 0; i< _oEmployeeLoans.length; i++)
    {
        if(_oEmployeeLoans[i].Status == 1)
        {
           _oEmployeeRequestdLoans.push(_oEmployeeLoans[i]);
        }
        else if(_oEmployeeLoans[i].Status == 2)
        {
           _oEmployeeAcceptedLoans.push(_oEmployeeLoans[i]);
        }
        else if(_oEmployeeLoans[i].Status == 3)
        {
           _oEmployeeApprovedLoans.push(_oEmployeeLoans[i]);
        }
        else if(_oEmployeeLoans[i].Status == 5)
        {
           _oEmployeePartialDisburseLoans.push(_oEmployeeLoans[i]);
        }
        else if(_oEmployeeLoans[i].Status == 6)
        {
           _oEmployeeFullDisburseLoans.push(_oEmployeeLoans[i]);
        }
        else if(_oEmployeeLoans[i].Status == 3 || _oEmployeeLoans[i].Status == 7 || _oEmployeeLoans[i].Status == 8)
        {
           _oEmployeeCancelledLoans.push(_oEmployeeLoans[i]);
        }


    }
}

function Close() 
{
    window.close();
}
</script>