<html>
    <head>  
        <link href="@Url.Content("~/Content/CSS/icon.css")" rel="stylesheet" type="text/css" />
        <link href="@Url.Content("~/Content/CSS/easyui.css")" rel="stylesheet" type="text/css" />
        <link href="@Url.Content("~/Content/CSS/Pikerstyle.css")" rel="stylesheet" type="text/css" />
        <script src="@Url.Content("~/Scripts/jquery-1.7.1.min.js")" type="text/javascript"></script>
        <script src="@Url.Content("~/Scripts/jquery.ics.customize.js")" type="text/javascript"></script>
        <script src="@Url.Content("~/Scripts/jquery.easyui.min.js")" type="text/javascript"></script>
        <script src="@Url.Content("~/Scripts/jquery-ui.min.js")" type="text/javascript"></script>
        <script src="@Url.Content("~/Scripts/json2.js")" type="text/javascript"></script>
    </head>
    <body>
    @model ESimSol.BusinessObjects.EmployeeLoan
        <div style="font-family:Tahoma">           
            <table border="0" cellspacing="2" cellpadding="2">
                <tr>
                    <td style="background-color:#cfb53b; text-align:center; width:800px; color:White">
                        <label id="lblHeaderName" style="font-size:15px; font-weight:bold; text-decoration:Underline"> Add Leave Application</label>
                    </td>
                </tr>
            </table>
            <fieldset>
                <legend style="font-weight:bold">  Loan Acceptence </legend>
                <table border="0" cellspacing="2" cellpadding="2" style="font-size:11px; font-weight: bold">
                    <tr>
                        <td style="width:130px; text-align:right">
                            Employee :
                        </td>
                        <td style="width:350px;">
                            <input id="txtEmployee" type="text" style="width:210px;" />
                             &nbsp;&nbsp;&nbsp; Code : <input id="txtCode" type="text" style="width:80px;" />
                           
                        </td>
                    </tr>
                    <tr>
                        <td style="width:130px; text-align:right">
                            Official Info :
                        </td>
                        <td style="width:350px;">
                        <input id="txtOfficialInfo" type="text" style="Width:342px;" />
                        </td>
                    </tr>
                   
                    <tr>
                        <td style="width:130px; text-align:right">
                           Amount :
                        </td>
                        <td style="width:350px;">
                            <input id="txtAmount" type="text" style="Width:140px;" />
                            
                        </td>
                    </tr>
                     <tr>
                        <td style="width:130px; text-align:left">
                          <input id="btnDisburse" type="button" value="Disburse"/>
                        </td>
                        <td style="width:350px;">
                        
                        </td>
                    </tr>
                </table>

                <table id="tblDisburse" class="easyui-datagrid" style="width: 480px; height: 150px;
                            font-size: 11px;" fitcolumns="false" rownumbers="true" pagination="false" singleselect="true"
                            autorowheight="true">
                            <thead>
                                <tr>
                                    <th field="ExpectedDisburseDateInString" width="75" align="left">
                                        Date
                                    </th>
                                    <th field="Amount" width="90" align="left" style="text-align: right">
                                        Amount
                                    </th>
                                    <th field="ReceivableAmount" width="100" align="left">
                                        Receivable
                                    </th>
                                    <th field="ConditionInString" width="100" align="left">
                                        Satatus
                                    </th>
                                    <th field="ActualDisburseDateInString" width="75" align="left">
                                        Disburse Date
                                    </th>
                                </tr>
                           </thead>
                 </table>

            </fieldset>
            <br />
            <fieldset>
                <legend style="font-weight:bold"> Action : </legend>
                <table border="0" cellspacing="2" cellpadding="2" style="font-size:11px; font-weight:bold">
                    <tr>
                        <td style="width:335px; text-align:left">
                            
                        </td>
                        <td style="width:50px">
                            
                        </td>
                        <td style="width:50px">
                            <a id="btnClose" href="javascript:void(0)" class="easyui-linkbutton" iconCls="icon-cancel" plain="true" onclick="Close()">Close</a>
                        </td>
                    </tr>       
                </table>
            </fieldset>
        </div>
    </body>
</html>

<script type="text/javascript">
var _oEmployeeLoan = null;
var _sBaseAddress = "";
var _bIsPaid=true;
var _oEmployee = null;
var _nEmployeeID = 0;
var _nStatus = 0;

$(document).ready(function() 
{
    _sBaseAddress = @Html.Raw(new System.Web.Script.Serialization.JavaScriptSerializer().Serialize(HttpContext.Current.Session[SessionInfo.BaseAddress]));
    _oEmployeeLoan = @Html.Raw(new System.Web.Script.Serialization.JavaScriptSerializer().Serialize(Model));
    var obj = window.dialogArguments;
    document.getElementById('lblHeaderName').innerHTML = obj.Name;
    RefreshControl();
    RefreshList();
    
});

function RefreshList()
{
    data = _oEmployeeLoan.EmployeeLoanDisbursementPolicys ;
    data = { "total": "" + data.length + "", "rows": data };
    $('#tblDisburse').datagrid('loadData', data);
    
}

function RefreshControl()
{
    _nEmployeeID = _oEmployeeLoan.EmployeeID;
    document.getElementById('txtEmployee').value = _oEmployeeLoan.EmployeeName+"["+_oEmployeeLoan.EmployeeCode+"]";
    $("#txtOfficialInfo")[0].value = _oEmployeeLoan.DesignationName+"," + _oEmployeeLoan.DepartmentName +","+_oEmployeeLoan.LocationName+"["+_oEmployeeLoan.EmployeeTypeName+","+_oEmployeeLoan.WorkingStatusInString+"]";
    document.getElementById("txtCode").value = _oEmployeeLoan.Code;
    document.getElementById("txtAmount").value = _oEmployeeLoan.Amount;
    document.getElementById("txtAmount").readOnly = true;
    document.getElementById("txtEmployee").readOnly = true;
    document.getElementById("txtOfficialInfo").readOnly = true;
    document.getElementById("txtCode").readOnly = true;
}

function RefreshObject() 
{
    
    var oEmployeeLoanHistory ={
        ELHID : 0,
        EmployeeLoanID : _oEmployeeLoan.EmployeeLoanID,
        StatusInt : _nStatus, 
        PreviousStatusInt : _oEmployeeLoan.Status
    }
return oEmployeeLoanHistory
}

function SaveEmployeeLoanHistory() 
{
    var oEmployeeLoanHistory = RefreshObject();
    $.ajax({
    type: "POST",
    dataType: "json",
    url: _sBaseAddress + "/EmployeeLoan/EmployeeLoanHistory_IU",
    traditional: true,
    data: JSON.stringify(oEmployeeLoanHistory),
    contentType: "application/json; charset=utf-8",

    success: function(data) {
        
        var oEmployeeLoan = jQuery.parseJSON(data);
    },
    error: function(xhr, status, error) {
        alert(error);
    }
    });
    
}

$('#btnDisburse').click(function (e)
{
    
    var oEmployeeLoanDisburse = $('#tblDisburse').datagrid('getSelected');
    if (oEmployeeLoanDisburse == null || oEmployeeLoanDisburse.ELDPID <= 0) 
    {
        alert("Please select an item from list!");
        return;
    }
    if (oEmployeeLoanDisburse.IsDisbursed == 1) 
    {
        alert("Already Disbursed!");
        return;
    }
    var oEmployeeLoanDisburses = $('#tblDisburse').datagrid('getRows');
    var Count =0;
    _nStatus = 5;
    for(var i =0;i<oEmployeeLoanDisburses.length; i++)
    {
        if(oEmployeeLoanDisburses[i].IsDisbursed == 0)
        {
            Count++;
        }
    }
    if(Count == 1)
    {
        _nStatus = 6;
    }

    $.ajax({
    type: "POST",
    dataType: "json",
    url: _sBaseAddress + "/EmployeeLoan/EmployeeLoan_Disburse",
    traditional: true,
    data: JSON.stringify({nStatus :_nStatus,nEmployeeLoanID: _oEmployeeLoan.EmployeeLoanID,nELDPID : oEmployeeLoanDisburse.ELDPID}),
    contentType: "application/json; charset=utf-8",

    success: function(data) {
             
             oEmployeeLoan = jQuery.parseJSON(data);
             if (oEmployeeLoan.EmployeeLoanID > 0)
             {
                alert("Disbursed sucessfully !");
                SaveEmployeeLoanHistory() ;
                window.returnValue = oEmployeeLoan;
                
             } 
             else
             {
                 alert(oEmployeeLoan.ErrorMessage);
             }
         }
         
     });

});


$('#btnLedger').click(function (e)
{
    
    var oParameter = new Object();
    oParameter.Name = " Loan Ledger";
    var tsv = ((new Date()).getTime()) / 1000;
    var url = _sBaseAddress + "/EmployeeLoan/View_EmployeeLoanLedger?nId="+_oEmployeeLoan.EmployeeLoanID+"&ts=" + tsv;
    var oEmployeeLoan = window.showModalDialog(url, oParameter, 'dialogHeight:357px;dialogWidth:642px;dialogLeft:150;dialogRight:150;dialogTop:150;center:yes;resizable:no;status:no;scroll:no');
    
});

function Close() 
{
    window.close();
}
</script>