<html>
@{
    ViewBag.Title = "Accounting Ratio";
}
<body>
    @model ESimSol.BusinessObjects.AccountingRatioSetup
    <div class="easyui-panel menuMainCollectionTable" id="divAccountingRatioSetup" title="Ratio Setup" data-options="fit:'true',border:'false'" style="font-family:Tahoma;text-align:center;">
        <div style="width:100%; height:88%;">
            <fieldset style="width:98%;">
                <legend>Ratio Setup Info :</legend>
                <table border="0" style="width:100%">
                    <tr>
                        <td style="width:10%; text-align: right; font-size:12px;"> Name:</td>
                        <td style="width:40%; text-align: left; font-size:12px;">@Html.TextBoxFor(model => model.Name, new { style = "width:97.4%;", id = "txtName" })</td>
                        <td style="width:10%; text-align: right; font-size:12px;">Ratio Format :</td>
                        <td style="width:40%; text-align: left; font-size:12px;"><select id="cboRatioFormats" style="width:99%"></select></td>
                    </tr>
                    <tr>
                        <td style="width:10%; text-align: right; font-size:12px;">Remarks:</td>
                        <td style="width:40%; text-align:left;">
                            @Html.TextBoxFor(model => model.Remarks, new { style = "width:99%;", id = "txtRemarks" })
                        </td>
                        <td style="width:10%; text-align: right; font-size:12px;">Ratio Setup :</td>
                        <td style="width:40%; text-align: left; font-size:12px;"><select id="cboRatioSetup" style="width:99%"></select></td>
                    </tr>
                    <tr>
                        <td colspan="4" style="width:100%;">
                            <table border="0" style="width:100%">
                                <tr>
                                    <td style="width:49%; text-align: left; font-size:12px;">
                                        @Html.TextBoxFor(model => model.DivisibleName, new { style = "width:100%;", id = "txtDivisibleName", placeholder = "Divisible Name" })
                                    </td>
                                    <td style="width:2%;font-weight:bold;font-size:15px;text-align:center;">:</td>
                                    <td style="width:49%; text-align: left; font-size:12px;">
                                        @Html.TextBoxFor(model => model.DividerName, new { style = "width:98.8%;", id = "txtDividerName", placeholder = "Divider Name" })
                                    </td>
                                </tr>
                            </table>
                        </td>

                    </tr>
                </table>
               <table border="0" style="width:100%">
                    <tr style="height:350px;">
                        <td style="width:49%;text-align:left;">
                            <div id="DivisibletoolBar">
                                <input type="text" id="txtDivisibleSubGroupName" placeholder="Divisible SubGroup" style="width:250px;" />
                                <a id="btnAddDivisible" href="javascript:void(0)" class="easyui-linkbutton" iconcls="icon-add" plain="true">Add</a>
                                <a id="btnRemoveDivisible" href="javascript:void(0)" class="easyui-linkbutton" iconcls="icon-remove" plain="true">Remove</a>
                            </div>
                            <table id="tblDivisible" title="Divisibles" class="easyui-datagrid" style="width:250px;" showheader="true" fit="true" rownumbers="true" pagination="false" singleselect="true" autorowheight="false" toolbar="#DivisibletoolBar">
                                <thead>
                                    <tr>
                                        <th field="SubGroupName" width="98%" align="left">SubGroup Name</th>
                                        <th field="RatioComponentSt" width="98%" align="left">Copmponent Name</th>
                                    </tr>
                                </thead>
                            </table>
                        </td>
                        <td style="width:2%;">
                            <label style="/*transform: rotate(270deg); transform-origin: left top 0; float: left;*/font-size:14px;font-weight:bold;">Divided By</label>
                        </td>
                        <td style="width:49%;text-align:left;">
                            <div id="DividertoolBar">
                                <input type="text" id="txtDividerSubGroupName" placeholder="Divider SubGroup" style="width:250px;" />
                                <a id="btnAddDivider" href="javascript:void(0)" class="easyui-linkbutton" iconcls="icon-add" plain="true">Add</a>
                                <a id="btnRemoveDivider" href="javascript:void(0)" class="easyui-linkbutton" iconcls="icon-remove" plain="true">Remove</a>
                            </div>
                            <table id="tblDivider" title="Dividers" class="easyui-datagrid" style="width:350px;" showheader="true" fitcolumns="true" fit="true" rownumbers="true" pagination="false" singleselect="true" autorowheight="false" toolbar="#DividertoolBar">
                                <thead>
                                    <tr>
                                        <th field="SubGroupName" width="98%" align="left">SubGroup Name</th>
                                        <th field="RatioComponentSt" width="98%" align="left">Copmponent Name</th>
                                    </tr>
                                </thead>
                            </table>

                        </td>
                    </tr>
                </table>
                        
            </fieldset>
        </div>
        <div style="width:100%; height:10%">
            <fieldset>
                <legend style="font-weight: bold;">Action : </legend>
                <table border="0" cellspacing="2" cellpadding="2" style="font-size: 11px; width: 100%; font-weight: bold; font-size:12px;">
                    <tr>
                        <td style="width:80%; text-align: right"></td>
                        <td style="width:10%; font-size: 13px;text-align:right;">
                            <a id="btnSave" href="javascript:void(0)" class="easyui-linkbutton" iconcls="icon-save" plain="false">Save</a>
                        </td>
                        <td style="width:10%; font-size: 13px;text-align:right;">
                            <a id="btnClose" href="javascript:void(0)" class="easyui-linkbutton" iconcls="icon-cancel" plain="false" onclick="Close()">Close</a>
                        </td>
                    </tr>
                </table>
            </fieldset>
        </div>
    </div>
</body>
</html>

<script type="text/javascript">
    var _oAccountingRatioSetup=null;
    var _sBaseAddress="";
    $(document).ready(function () {
        debugger;
        _sBaseAddress =@Html.Raw(new System.Web.Script.Serialization.JavaScriptSerializer().Serialize(HttpContext.Current.Session[SessionInfo.BaseAddress]));
        _oAccountingRatioSetup =@Html.Raw(new System.Web.Script.Serialization.JavaScriptSerializer().Serialize(Model));
        $('#divAccountingRatioSetup').data('obj',_oAccountingRatioSetup);

        $('#mainPanel').panel({title:sessionStorage.getItem("AccountingRatioSetupHeader")});
        var oRatioFormats= @Html.Raw(new System.Web.Script.Serialization.JavaScriptSerializer().Serialize(ViewBag.RatioFormats));
        var  oRatioSetups= @Html.Raw(new System.Web.Script.Serialization.JavaScriptSerializer().Serialize(ViewBag.RatioSetups)); //cboRatioSetup
        $('#cboRatioFormats').data('objs',oRatioFormats);
        $('#cboRatioFormats').icsLoadCombo({
            List: oRatioFormats,
            OptionValue: "id",
            DisplayText: "Value"
        });

        $('#cboRatioSetup').data('objs',oRatioSetups);
        $('#cboRatioSetup').icsLoadCombo({
            List: oRatioSetups,
            OptionValue: "id",
            DisplayText: "Value",
            InitialValue:"Fixed"
        });
        ///////refresh control
        $('#cboRatioFormats').val(_oAccountingRatioSetup.RatioFormat);
        $('#cboRatioSetup').val(_oAccountingRatioSetup.RatioSetupTypeInt);
        ///////refresh control
        DynamicRefreshList(_oAccountingRatioSetup.Divisibles, 'tblDivisible');
        DynamicRefreshList(_oAccountingRatioSetup.Dividers, 'tblDivider');

        if(sessionStorage.getItem("AccountingRatioSetupHeader")==='View Ratio Setup'){
            $('#divAccountingRatioSetup input,select').prop('disabled',true);
            $('#DivisibletoolBar').hide();
            $('#DividertoolBar').hide();
            $('#btnSave').hide();
        }
        
        $('#txtDivisibleSubGroupName').icsAutoComplete({
            BaseAddress : sessionStorage.getItem('BaseAddress'),
            ControllerName: "AccountingRatioSetup",
            ActionName: "PrepareARSDs",
            Object: {IsDivisible:true,SubGroupName:'', RatioSetupTypeInt:parseInt($('#cboRatioSetup').val())},
            PropertyName: "SubGroupName",
            ParamName: "SubGroupName"});
        $('#txtDividerSubGroupName').icsAutoComplete({
            BaseAddress : sessionStorage.getItem('BaseAddress'),
            ControllerName: "AccountingRatioSetup",
            ActionName: "PrepareARSDs",
            Object: {IsDivisible:false,SubGroupName:'', RatioSetupTypeInt:parseInt($('#cboRatioSetup').val())},
            PropertyName: "SubGroupName",
            ParamName: "SubGroupName"});
        if(parseInt($('#cboRatioSetup').val())==0)//Gerneral
        {
            $('#tblDivisible,#tblDivider').datagrid('hideColumn', 'RatioComponentSt');
            $('#tblDivisible,#tblDivider').datagrid('showColumn', 'SubGroupName');
            
        }else{ //Based On
            $('#tblDivisible,#tblDivider').datagrid('showColumn', 'RatioComponentSt');
            $('#tblDivisible,#tblDivider').datagrid('hideColumn', 'SubGroupName');
        }
    });

    $('#cboRatioSetup').change(function(){
        if(parseInt($('#cboRatioSetup').val())==0)//Gerneral
        {
            $('#tblDivisible,#tblDivider').datagrid('hideColumn', 'RatioComponentSt');
            $('#tblDivisible,#tblDivider').datagrid('showColumn', 'SubGroupName');
            
        }else{ //Based On
            $('#tblDivisible,#tblDivider').datagrid('showColumn', 'RatioComponentSt');
            $('#tblDivisible,#tblDivider').datagrid('hideColumn', 'SubGroupName');
        }
        $('#txtDivisibleSubGroupName').icsAutoComplete({
            BaseAddress : sessionStorage.getItem('BaseAddress'),
            ControllerName: "AccountingRatioSetup",
            ActionName: "PrepareARSDs",
            Object: {IsDivisible:true,SubGroupName:'', RatioSetupTypeInt:parseInt($('#cboRatioSetup').val())},
            PropertyName: "SubGroupName",
            ParamName: "SubGroupName"});
        $('#txtDividerSubGroupName').icsAutoComplete({
            BaseAddress : sessionStorage.getItem('BaseAddress'),
            ControllerName: "AccountingRatioSetup",
            ActionName: "PrepareARSDs",
            Object: {IsDivisible:false,SubGroupName:'', RatioSetupTypeInt:parseInt($('#cboRatioSetup').val())},
            PropertyName: "SubGroupName",
            ParamName: "SubGroupName"});
    });


    function IsExists(nRefID)
    {
        var oDivisibles = $('#tblDivisible').datagrid('getRows');
        for(var i =0;i<oDivisibles.length;i++)
        {
            if(parseInt($('#cboRatioSetup').val())==0)
            {
                if(parseInt(oDivisibles[i].SubGroupID)== parseInt(nRefID))
                {
                    alert('"'+oDivisibles[i].SubGroupName+'" already exists as a Divisible!');
                    $('#tblDivisible').datagrid('selectRow',i);
                    return true;
                }
            }else 
            {
                if(parseInt(oDivisibles[i].RatioComponent)== parseInt(nRefID))
                {
                    alert('"'+oDivisibles[i].RatioComponentSt+'" already exists as a Divisible!');
                    $('#tblDivisible').datagrid('selectRow',i);
                    return true;
                }
            }
        }

        var oDividers = $('#tblDivider').datagrid('getRows');
        for(var i =0;i<oDividers.length;i++)
        {
            if(parseInt($('#cboRatioSetup').val())==0)
            {
                if(parseInt(oDividers[i].SubGroupID)== parseInt(nRefID))
                {
                    alert('"'+oDividers[i].SubGroupName+'" already exists as a Divider!');
                    $('#tblDivider').datagrid('selectRow',i);
                    return true;
                }
            }else{
                if(parseInt(oDividers[i].RatioComponent)== parseInt(nRefID))
                {
                    alert('"'+oDividers[i].RatioComponentSt+'" already exists as a Divider!');
                    $('#tblDivider').datagrid('selectRow',i);
                    return true;
                }
            }
        }

        return false;

    }
    function ValdidateDetailInput(bIsDivisible)
    {
        if(bIsDivisible)
        {
            if ((!$('#txtDivisibleSubGroupName').data('obj') || $('#txtDivisibleSubGroupName').data('obj') == null) ) {
                alert("Please select Divisible SubGroup!");
                $('#txtDivisibleSubGroupName').focus();
                return false;
            }

            if ((!parseInt($('#txtDivisibleSubGroupName').data('obj').SubGroupID) || parseInt($('#txtDivisibleSubGroupName').data('obj').SubGroupID)<=0) && (!parseInt($('#txtDivisibleSubGroupName').data('obj').RatioComponentInt) || parseInt($('#txtDivisibleSubGroupName').data('obj').RatioComponentInt)<=0) )
            {
                alert("Please select Divisible SubGroup!");
                $('#txtDivisibleSubGroupName').focus();
                return false;
            }
        }else
        {
            if ((!$('#txtDividerSubGroupName').data('obj') || $('#txtDividerSubGroupName').data('obj') == null) ) {
                alert("Please select Divisible SubGroup!");
                $('#txtDividerSubGroupName').focus();
                return false;
            }

            if ((!parseInt($('#txtDividerSubGroupName').data('obj').SubGroupID) || parseInt($('#txtDividerSubGroupName').data('obj').SubGroupID)<=0) && (!parseInt($('#txtDividerSubGroupName').data('obj').RatioComponentInt) || parseInt($('#txtDividerSubGroupName').data('obj').RatioComponentInt)<=0) ) {
                alert("Please select Divisible SubGroup!");
                $('#txtDividerSubGroupName').focus();
                return false;
            }
        }


        return true;
    }

    $('#btnAddDivisible').click(function ()
    {
        debugger;
        if(!ValdidateDetailInput(true))return false;
        var oDivisible=$('#txtDivisibleSubGroupName').data('obj');

        if(!IsExists(parseInt($('#cboRatioSetup').val())==0?oDivisible.SubGroupID:oDivisible.RatioComponent))
        {
            $('#tblDivisible').datagrid('appendRow',oDivisible);
            $('#txtDivisibleSubGroupName').data('obj',null);
            $('#txtDivisibleSubGroupName').val('');
            $('#txtDivisibleSubGroupName').focus();
        }



    });

    $('#btnRemoveDivisible').click(function ()
    {
        var oDivisible=$('#tblDivisible').datagrid('getSelected');
        if(oDivisible==null)
        {
            alert("Select At least One item !");
            return;
        }
        var SelectedRowIndex=$('#tblDivisible').datagrid('getRowIndex',oDivisible);
        if (!confirm("Confirm to Delete?")) return ;
        $('#tblDivisible').datagrid('deleteRow',SelectedRowIndex);
    });
    $('#btnAddDivider').click(function ()
    {
        debugger;
        if(!ValdidateDetailInput(false))return false;
        var oDivider=$('#txtDividerSubGroupName').data('obj');
        if(!IsExists(parseInt($('#cboRatioSetup').val())==0?oDivider.SubGroupID:oDivider.RatioComponent))
        {
            $('#tblDivider').datagrid('appendRow',oDivider);
            $('#txtDividerSubGroupName').data('obj',null);
            $('#txtDividerSubGroupName').val('');
            $('#txtDividerSubGroupName').focus();
        }
    });

    $('#btnRemoveDivider').click(function ()
    {
        var oDivider=$('#tblDivider').datagrid('getSelected');
        if(oDivider==null)
        {
            alert("Select At least One item !");
            return;
        }
        var SelectedRowIndex=$('#tblDivider').datagrid('getRowIndex',oDivider);
        if (!confirm("Confirm to Delete?")) return ;
        $('#tblDivider').datagrid('deleteRow',SelectedRowIndex);
    });
    $('#btnSave').click(function ()
    {
        debugger;
        if(!ValidateInput()) return false;
        var oAccountingRatioSetup=AccountingRatioSetupRefreshObject();
        $.ajax({
            type: "POST",
            dataType: "json",
            url : sessionStorage.getItem('BaseAddress')+"/AccountingRatioSetup/Save",
            traditional: true,
            data:  JSON.stringify(oAccountingRatioSetup),
            contentType: "application/json; charset=utf-8",
            success: function (data) {
                //debugger;
                var oARS= jQuery.parseJSON(data);
                if (oARS.ErrorMessage=="" || oARS.ErrorMessage==null)
                {

                    alert("Data Save Successfully!!");
                    var oAccountingRatioSetups = sessionStorage.getItem("AccountingRatioSetups");
                    var nIndex = parseInt(sessionStorage.getItem("SelectedRowIndex"));
                    if (oAccountingRatioSetups != null) {
                        oAccountingRatioSetups = jQuery.parseJSON(oAccountingRatioSetups);
                    }
                    else {
                        oAccountingRatioSetups = [];
                    }
                    if (nIndex != -1) {
                        oAccountingRatioSetups[nIndex] = oARS;
                    }
                    else {
                        sessionStorage.setItem("SelectedRowIndex", oAccountingRatioSetups.length);
                        oAccountingRatioSetups.push(oARS);
                    }
                    $('#divAccountingRatioSetup').data('obj',oARS);
                    sessionStorage.setItem("AccountingRatioSetups", JSON.stringify(oAccountingRatioSetups));
                    window.history.back();
                    //window.location.href = sessionStorage.getItem("AccountingRatioSetupBackLink");
                }
                else
                {
                    alert(oARS.ErrorMessage);
                }

            },
            error: function (xhr, status, error)
            {
                alert(error);
            }
        });

    });




    function ValidateInput()
    {
        //debugger;

        if(!$.trim($('#txtName').val()) || $.trim($('#txtName').val())==''){
            alert("Please give Name");
            $('#txtName').focus();
            return false;
        }
        if(!$.trim($('#txtDivisibleName').val()) || $.trim($('#txtDivisibleName').val())==''){
            alert("Please give Divisible Name");
            $('#txtDivisibleName').focus();
            return false;
        }
        if(!$.trim($('#txtDividerName').val()) || $.trim($('#txtDividerName').val())==''){
            alert("Please give Divider Name");
            $('#txtDividerName').focus();
            return false;
        }
        if(!parseInt($('#cboRatioFormats').val()) || parseInt($('#cboRatioFormats').val())<=0){
            alert("Please select Ratio Format!");
            $('#cboRatioFormats').focus();
            return false;
        }




        var oDivisibles = $('#tblDivisible').datagrid('getRows');
        if(oDivisibles.length <=0){alert("Please Add Divisible SubGroups!");  return false;}

        var oDividers = $('#tblDivider').datagrid('getRows');
        if(oDividers.length <=0){alert("Please Add Divider SubGroups!");  return false;}




        return true;
    }

    function AccountingRatioSetupRefreshObject()
    {
        debugger;
        var oAccountingRatioSetupDetails=[];
        var oDivisibles=$('#tblDivisible').datagrid('getRows');
        var oDividers=$('#tblDivider').datagrid('getRows');
        for(var i=0;i<oDivisibles.length;i++){
            oAccountingRatioSetupDetails.push(oDivisibles[i]);
        }
        for(var i=0;i<oDividers.length;i++){
            oAccountingRatioSetupDetails.push(oDividers[i]);
        }

        var oAccountingRatioSetup= {
            AccountingRatioSetupID :$('#divAccountingRatioSetup').data('obj').AccountingRatioSetupID,
            Name :$("#txtName").val(),
            RatioFormat :parseInt($('#cboRatioFormats').val()),
            RatioSetupType:parseInt($('#cboRatioSetup').val()),
            SaleOrderID :_oAccountingRatioSetup.SaleOrderID,
            DivisibleName :$("#txtDivisibleName").val(),
            DividerName :$("#txtDividerName").val(),
            Remarks :$("#txtRemarks").val(),
            AccountingRatioSetupDetails:oAccountingRatioSetupDetails
        };
        return oAccountingRatioSetup;
    }

    function Close()
    {
        window.history.back();
        //window.location.href = sessionStorage.getItem("AccountingRatioSetupBackLink");
    }



</script>
