<html>
<head>  
    <link href="@Url.Content("~/Content/CSS/icon.css")" rel="stylesheet" type="text/css" />
    <link href="@Url.Content("~/Content/CSS/easyui.css")" rel="stylesheet" type="text/css" />
    <link href="@Url.Content("~/Content/CSS/Pikerstyle.css")" rel="stylesheet" type="text/css" />

    <script src="@Url.Content("~/Scripts/jquery-1.7.1.min.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Scripts/jquery.ics.customize.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Scripts/jquery.easyui.min.js")" type="text/javascript"></script>

    <script src="@Url.Content("~/Scripts/jquery-ui.min.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Scripts/json2.js")" type="text/javascript"></script>
    
</head>
<body>

@model IEnumerable<ESimSol.BusinessObjects.PITandCSetup>
<div style="font-family:Tahoma">           
<table border="0" cellspacing="2" cellpadding="2">
    <tr>
        <td style="background-color:#CFB53B; text-align:center; width:690px; color:White">
            <label id="lblHeaderName" style="font-size:15px; font-weight:bold; text-decoration:Underline; width:690px">Terms And Condition</label>
        </td>
    </tr>
</table>
<fieldset>
                    <table id="tblPITandCSetup" title="Terms And Conditions" class="easyui-datagrid"  style="width:660px; height:330px"; fitColumns="false"; rownumbers="true"; pagination="false"; singleSelect="false"; autoRowHeight="false">
                                <thead> 
                                   <th data-options="field:'Selected',checkbox:true"></th>
                                   <th field="Clause" width="400">Terms And Condition</th>
                        <th field="ClauseTypeInString" width="100">Apply Module</th>
                                
                                 </thead> 
                    </table>​   
      
      
      
</fieldset>
    
<fieldset>
    <legend style="font-weight:bold"> Action : </legend>
        <table border="0" cellspacing="2" cellpadding="2" style="font-size:11px;width:690px; font-weight:bold">
            <tr>
                <td style="width:580px; text-align:right">
                </td>
                <td style="width:50px">
                   <a href="javascript:void(0)" class="easyui-linkbutton" iconCls="icon-ok" plain="true" onclick="OK()">OK</a>
                </td>
                <td style="width:50px">
                    <a href="javascript:void(0)" class="easyui-linkbutton" iconcls="icon-closed" plain="true" onclick="Close()">Close</a>
                </td>
             </tr>       
         </table>
</fieldset>
</div>
</body>
</html>

<script type="text/javascript"> 
 var _oPITandCSetup=null;
 var _value ="";
 var _sBaseAddress="";

 $(document).ready(function () {
    debugger;     
        _sBaseAddress =@Html.Raw( new System.Web.Script.Serialization.JavaScriptSerializer().Serialize(HttpContext.Current.Session[SessionInfo.BaseAddress]));                  
        _oPITandCSetup =@Html.Raw(new System.Web.Script.Serialization.JavaScriptSerializer().Serialize(Model)); 
     var obj = window.dialogArguments;
      RefreshList(_oPITandCSetup);
    
      
 });

 function RefreshList(oPITandCSetup)
    {    
          data=oPITandCSetup;
          data={"total":""+data.length+"","rows":data};
          $('#tblPITandCSetup').datagrid('loadData',data);
    }



 function OK()
{
   debugger;
     
     var oPITandCSetups = $('#tblPITandCSetup').datagrid('getSelections');
     if(oPITandCSetups==null || oPITandCSetups.length<=0 )
     {
        alert("Please Select At leas on Item!!");
        return;
     }
      window.returnValue= oPITandCSetups;
      window.close(); 
    
}


    
function Close()
{
    
    window.close();
}
</script>