<html>
<head>  
    <link href="@Url.Content("~/Content/CSS/icon.css")" rel="stylesheet" type="text/css" />
    <link href="@Url.Content("~/Content/CSS/easyui.css")" rel="stylesheet" type="text/css" />
    <link href="@Url.Content("~/Content/CSS/Pikerstyle.css")" rel="stylesheet" type="text/css" />
    <script src="@Url.Content("~/Scripts/jquery-1.7.1.min.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Scripts/jquery.ics.customize.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Scripts/jquery.easyui.min.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Scripts/jquery-ui.min.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Scripts/json2.js")" type="text/javascript"></script>
</head>
<body>

@model ESimSol.BusinessObjects.HRMShift
<div style="font-family:Tahoma">           
<table border="0" cellspacing="2" cellpadding="2">
    <tr>
        <td style="background-color:#CFB53B; text-align:center; width:935px; color:White">
            <label id="lblHeaderName" style="font-size:15px; font-weight:bold; text-decoration:Underline"></label>
        </td>
    </tr>
</table>

<fieldset>
    <table border="0" cellspacing="2" cellpadding="2" style="font-size:11px; font-weight:bold">
        <tr style="width:620px;">
            <td style="width:150px; text-align:left">
                Name :
            </td>
            <td style="width:150px">
               <input type="text" value="" id="txtName" style="width:150px"/>
               
            </td>
            <td style="width:20px">
            </td>
            <td style="width:150px; text-align:left">
                Code :
            </td>
            <td style="width:150px">
               <input type="text" value="" id="txtCode" style="width:150px"  disabled="disabled"/>
            </td>
         </tr>
         <tr style="width:620px;">
            <td style="width:150px; text-align:left">
                Start Time :
            </td>
            <td style="width:150px">
               <input id="tpStartTime" class="easyui-timespinner"  style="width:150px;" required="required" ,showSeconds:true"/>
            </td>
            <td style="width:20px">
            </td>
            <td style="width:150px; text-align:left">
                End Time:
            </td>
            <td style="width:150px">
               <input id="tpEndTime" class="easyui-timespinner"  style="width:150px;" required="required" ,showSeconds:true"/>
               
            </td>
         </tr>
         <tr style="width:620px;">
            <td style="width:150px; text-align:left">
                Report Time:
            </td>
            <td style="width:150px">
               <input id="tpReportTime" class="easyui-timespinner"  style="width:150px;" required="required" ,showSeconds:true"/>
               
            </td>
            <td style="width:20px">
            </td>
            <td style="width:150px; text-align:left">
                Total Working Time :
            </td>
            <td style="width:150px">
               <input type="text" value="" id="txtTotalWorkingTime" style="width:150px"  disabled="disabled"/>
            </td>
         </tr>
         <tr style="width:600px;">
            <td style="width:150px; text-align:left">
                Tolerence Time:
            </td>
            <td style="width:150px">
               <input id="tpTolerenceTime" class="easyui-timespinner"  style="width:150px;" required="required" ,showSeconds:true"/>
               
            </td>
         </tr>
    </table>
</fieldset>

<fieldset>
    <legend style="font-weight:bold"> Action : </legend>
        <table border="0" cellspacing="2" cellpadding="2" style="font-size:11px; font-weight:bold">
            <tr>
                <td style="width:400px; text-align:right">
                </td>
                <td style="width:50px">
                   <a id="btnSave" href="javascript:void(0)" class="easyui-linkbutton" iconCls="icon-save" plain="true" onclick="Save()">Save</a>
                </td>
                <td style="width:50px">
                   <a href="javascript:void(0)" class="easyui-linkbutton" iconCls="icon-cancel" plain="true" onclick="Close()">Close</a>
                </td>
            </tr>       
        </table>
    </fieldset>

</div>
</body>
</html>


<script type="text/javascript"> 
 
 var _sBaseAddress="";
 var _oHRMShift;
 $(document).ready(function () {
    debugger;     
        _sBaseAddress =@Html.Raw(new System.Web.Script.Serialization.JavaScriptSerializer().Serialize(HttpContext.Current.Session[SessionInfo.BaseAddress])); 
        _oHRMShift=@Html.Raw( new System.Web.Script.Serialization.JavaScriptSerializer().Serialize(Model));             
        var obj = window.dialogArguments;
        document.getElementById('lblHeaderName').innerHTML=obj.Name;
        debugger;
        if(obj.Name=="Edit Shift")
           {
           debugger;
            document.getElementById("txtName").value= _oHRMShift.Name;
            document.getElementById("txtCode").value=  _oHRMShift.Code;
            $('#tpReportTime').timespinner('setValue', _oHRMShift.ReportTimeInString);
             $('#tpStartTime').timespinner('setValue', _oHRMShift.StartTimeInString);
              $('#tpEndTime').timespinner('setValue', _oHRMShift.EndTimeInString);
               $('#tpTolerenceTime').timespinner('setValue', _oHRMShift.ToleranceTimeInString);
        
            document.getElementById("txtTotalWorkingTime").value= _oHRMShift.TotalWorkingTimeInString;
           
            
          
          }
        
 });

 function parseTime(s) {
  debugger;
   var c = s.split(':');
   var a= parseFloat(c[0]);
   var b= parseFloat(c[1]);
   if(a>12)a-=12;
   return ((a * 60) + b);
}

function RefreshObject()
 {    
    debugger;
    var TWT=0;
    var endTime=  $('#tpEndTime').timespinner('getValue');
    var startTime= $('#tpStartTime').timespinner('getValue');
    var eTime=endTime.split(':');
    var hEndTime= parseFloat(eTime[0]);
    var mEndTime= parseFloat(eTime[1]);
    var sTime=startTime.split(':');
    var hStartTime= parseFloat(sTime[0]);
    var mStartTime= parseFloat(sTime[1]);
    if(hEndTime<hStartTime)
    {
        TWT=(((hEndTime+12)*60)+mEndTime)-(((hStartTime-12)*60)+mStartTime);
    }
    else
    {
        TWT= (((hEndTime)*60)+mEndTime)-(((hStartTime)*60)+mStartTime);
    }
     var oHRMShift= {     
                               ShiftID :  _oHRMShift.ShiftID,
                               Code: $("#txtCode").val(),
                               Name :$("#txtName").val(),
                               ReportTime : $('#tpReportTime').timespinner('getValue'),
                               StartTime : $('#tpStartTime').timespinner('getValue'),
                               EndTime :  $('#tpEndTime').timespinner('getValue'),
                               TotalWorkingTime :TWT  ,
                               ToleranceTime: $('#tpTolerenceTime').timespinner('getValue')
                             };
      return oHRMShift;
 } 

function Save()
    {
       debugger;
        var oHRMShift=RefreshObject();
         $.ajax({
                type: "POST",
                dataType: "json",            
                url : _sBaseAddress+"/HRMShift/Save",
                traditional: true,
                data:  JSON.stringify(oHRMShift),
                contentType: "application/json; charset=utf-8",
                success: function (data) {
               debugger;
                var oHRMShift= jQuery.parseJSON(data);
                debugger;
                if (oHRMShift!= null) 
                    { 
                    if (oHRMShift.ShiftID>0) 
                        {                    
                       
                           alert("Data Save Succesfully!!");
                           window.returnValue= oHRMShift;
                           window.close();
                        }
                    else 
                        {
                            alert(oHRMShift.ErrorMessage);
                        }
                    }
                 },
            error: function (xhr, status, error) 
                {
                    alert(error);
                }
            });    
    }

 function Close()
   {
       window.close();
   }



 $(document).keydown(function (e)
 {
     var keyCode = e.keyCode || e.which;
     if (keyCode == 27)
     {
         window.close();
     }
 });

    
</script>