@{
    ViewBag.Title = "Fabric Sticker List";
}

@model IEnumerable<ESimSol.BusinessObjects.HangerSticker>

<head>
    <title>Hanger Template List</title>
    @*<script src="@Url.Content("~/Views/Fabric/FabricStickers.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Views/Fabric/FabricSticker.js")" type="text/javascript"></script>*@
</head>
<body>
    <div id="winHangerSticker" style="width:500px;" class="easyui-window winstyle" title="Fabric Sticker Informations" data-options="modal:true,closed:true,collapsible:false,minimizable:false,maximizable:false,closable:false">
        <fieldset>
            <table class="tbl">
                <tr>
                    <td class="tdLabel">
                        <label style="font-family:Tahoma">ART :</label>
                    </td>
                    <td class="tdInput">
                        @*<input id="txtArt" type="text"/>*@
                        <div class="input-group">
                            <input id="txtArt" placeholder="Search Execution" type="text" />
                            <span class="input-group-btn">
                                <a id="btnSearchFEO" href="javascript:void(0)" class="easyui-linkbutton" iconcls="icon-search" plain="true"></a>
                            </span>
                        </div>
                    </td>
                </tr>
                <tr>
                    <td class="tdLabel">
                        <label style="font-family:Tahoma">Supplier/Origin :</label>
                    </td>
                    <td class="tdInput">
                        <input id="txtSupplier" type="text" />
                    </td>
                </tr>
                <tr>
                    <td class="tdLabel">
                        <label style="font-family:Tahoma">Composition :</label>
                    </td>
                    <td class="tdInput">
                        <input id="txtComposition" type="text" />
                    </td>
                </tr>
                <tr>
                    <td class="tdLabel">
                        <label style="font-family:Tahoma">Construction :</label>
                    </td>
                    <td class="tdInput">
                        <input id="txtConstruction" type="text" />
                    </td>
                </tr>
                <tr>
                    <td class="tdLabel">
                        <label style="font-family:Tahoma">Finishing/Treatment :</label>
                    </td>
                    <td class="tdInput">
                        <input id="txtFinishing" type="text" />
                    </td>
                </tr>
                <tr>
                    <td class="tdLabel">
                        <label style="font-family:Tahoma">Width :</label>
                    </td>
                    <td class="tdInput">
                        <input id="txtWidth" type="text" />
                    </td>
                </tr>
                <tr>
                    <td class="tdLabel">
                        <label style="font-family:Tahoma">MOQ :</label>
                    </td>
                    <td class="tdInput">
                        <input id="txtMOQ" type="text" />
                    </td>
                </tr>

                <tr>
                    <td class="tdLabel">
                        <label style="font-family:Tahoma">Weight :</label>
                    </td>
                    <td class="tdInput">
                        <input id="txtRemarks" type="text" />
                    </td>
                </tr>
                <tr>
                    <td class="tdLabel">
                        <label style="font-family:Tahoma">Price :</label>
                    </td>
                    <td class="tdInput">
                        <input id="txtPrice" type="text" value="0" />
                    </td>
                </tr>
                <tr>
                    <td class="tdLabel">
                        <label>Date :</label>
                    </td>
                    <td class="tdInput">
                        <input id="txtDate" type="text" />
                    </td>
                </tr>

            </table>
        </fieldset>
        <fieldset class="actionfieldsetstyle">
            <legend>Actions : </legend>
            <a id="btnSaveFabricSticker" href="javascript:void(0)" class="easyui-linkbutton" iconcls="icon-save" plain="true">Save</a>
            <a id="btnCloseFabricSticker" href="javascript:void(0)" class="easyui-linkbutton" iconcls="icon-cancel" plain="true">Close</a>
        </fieldset>
    </div>
    <div class="menuMainCollectionTable">
        <table id="tblHangerStickers" title="Fabric List" class="easyui-datagrid" style="width:100%;" fit="true" fitcolumns="true" rownumbers="true" pagination="false" singleselect="true" autorowheight="true" toolbar="#toolbarFabricSticker" data-options="onClickRow: onClickRow">
            <thead>
                <tr>
                    <th data-options="field:'Selected',checkbox:true"></th>
                    <th width="5%" align="center" data-options="field:'PrintCopy',editor:{type:'numberbox',options:{precision:0}}">Copy</th>                    
                    <th field="ART" width="15%">ART</th>
                    <th field="Supplier" width="15%">Supplier</th>
                    <th field="Composition" width="15%">Composition</th>
                    <th field="Construction" width="15%">Construction</th>
                    <th field="Finishing" width="15%">Finishing</th>
                    <th field="Width" width="15%">Width</th>
                    <th field="MOQ" width="15%">MOQ</th>
                    <th field="Remarks" width="20%">Remarks</th>
                    <th field="Date" width="10%" align="center">Date</th>
                    <th field="Price" width="10%" align="right">Price</th>
                </tr>
            </thead>
        </table>
        <div id="toolbarFabricSticker">
            <table>
                <tr>
                    <td>
                        <input id="txtArticleNo" style="width:180px" placeholder="Search By Article No" />
                        <a id="btnAddHangerSticker" href="javascript:void(0)" class="easyui-linkbutton" iconcls="icon-add" plain="true">New</a>
                        <a id="btnEditHangerSticker" href="javascript:void(0)" class="easyui-linkbutton" iconcls="icon-edit" plain="true">Edit</a>
                        <a id="btnDeleteHungerSticker" href="javascript:void(0)" class="easyui-linkbutton" iconcls="icon-remove" plain="true">Delete</a>
                        <a id="btnPrintFabricStickerNew" href="javascript:void(0)" class="easyui-linkbutton" iconcls="icon-print" plain="true">Print New</a>
                        <a id="btnPrintSticker" href="javascript:void(0)" class="easyui-linkbutton" iconcls="icon-print" plain="true">Print Sticker(6/Page)</a>
                        <a id="btnPrintStickerNinePerPage" href="javascript:void(0)" class="easyui-linkbutton" iconcls="icon-print" plain="true">Print Sticker(9/Page)</a>
                        <a id="btnPrintFabricSticker_Dynamic" href="javascript:void(0)" class="easyui-linkbutton" iconcls="icon-print" plain="true">Print (Dynamic)</a>
                    </td>
                </tr>
            </table>
        </div>
    </div>
</body>

<style>
    .tdInput select{
        width:98%;
    }

    #winHangerSticker table tr{
        padding-bottom:3px;
    }

</style>
<script type="text/javascript">
    var _sBaseAddress = "";
    var _oHangerStickers=[];
    var _oHangerSticker =null;

    $(document).ready(function () {
        _sBaseAddress = @Html.Raw(new System.Web.Script.Serialization.JavaScriptSerializer().Serialize(HttpContext.Current.Session[SessionInfo.BaseAddress]));
        _oHangerStickers = @Html.Raw(new System.Web.Script.Serialization.JavaScriptSerializer().Serialize(Model));
        _oCompany = @Html.Raw(new System.Web.Script.Serialization.JavaScriptSerializer().Serialize(ViewBag.Company));
        
        //DynamicRefreshList(_oHangerStickers, "tblHangerStickers");
        DynamicRefreshListForMultipleSelection(_oHangerStickers, "tblHangerStickers");

    });

    $('#txtArticleNo').keyup(function(e){
        if(e.which === 13){
            var articleNo = $.trim($('#txtArticleNo').val());
            if(articleNo!=''){
                var obj =
                {
                    BaseAddress: _sBaseAddress,
                    Object: { ART: articleNo},
                    ControllerName: "HangerSticker",
                    ActionName: "GetsByArticleNo",
                    IsWinClose: false
                };

                $.icsDataGets(obj, function (response) {
                    if (response.status && response.objs.length > 0) {
                        if (parseInt(response.objs[0].HangerStickerID) > 0) {
                            DynamicRefreshListForMultipleSelection(response.objs, "tblHangerStickers");
                        }
                        else {
                            alert("No information found.");
                        }
                    }
                    else { alert("No information found."); }
                });
            }
        }
    });

    function RefreshHangerStickerLayout(isNew){
        if(isNew){
            $("#txtArt").val("");

            $("#txtComposition").val("");
            $("#txtConstruction").val("");
            $("#txtFinishing").val("");
            $("#txtWidth").val("");

            $("#txtPrice").val(0);
            $("#txtDate").val("");
            $("#txtSupplier").val(_oCompany.Name);
            $("#txtMOQ").val("3000 Yards");
            //$("#txtRemarks").val("21-35 Days Bulk Lt.");
        }
        else{
            $("#txtArt").val(_oHangerSticker.ART);
            $("#txtSupplier").val(_oHangerSticker.Supplier);
            $("#txtComposition").val(_oHangerSticker.Composition);
            $("#txtConstruction").val(_oHangerSticker.Construction);
            $("#txtFinishing").val(_oHangerSticker.Finishing);
            $("#txtWidth").val(_oHangerSticker.Width);
            $("#txtMOQ").val(_oHangerSticker.MOQ);
            $("#txtRemarks").val(_oHangerSticker.Remarks);
            $("#txtPrice").val(_oHangerSticker.Price);
            $("#txtDate").val(_oHangerSticker.Date);
        }

    }
    $("#btnAddHangerSticker").click(function () {
        $("#winHangerSticker").icsWindow("open", "Add Hanger Template");
        _oHangerSticker = null;
        RefreshHangerStickerLayout(true);
    });
    $("#btnEditHangerSticker").click(function () {
        var oHangerSticker = $("#tblHangerStickers").datagrid("getSelected");
        if (oHangerSticker == null || oHangerSticker.HangerStickerID <= 0) { alert("Please select an item from list!"); return; }
        $("#winFabricSticker").icsWindow("open", "Edit Hanger Sticker");
        _oHangerSticker = oHangerSticker;
        RefreshHangerStickerLayout(false);
        $("#winHangerSticker").icsWindow("open", "Edit Hanger Template");
        //RefreshFabricStickerLayout("btnEditHangerSticker");
        //GetFabricStickerInformation(oHangerSticker);
    });
    $("#btnDeleteHungerSticker").click(function () {
        var oHangerSticker = $("#tblHangerStickers").datagrid("getSelected");
        if (!confirm("Confirm to Delete?")) return false;
        if (oHangerSticker == null || oHangerSticker.HangerStickerID <= 0) {
            alert("Invalid Field!!! please select a valid Field!");
            return false;
        }

        var obj = {
            BaseAddress: _sBaseAddress,
            Object: oHangerSticker,
            ControllerName: "HangerSticker",
            ActionName: "DeleteHangerSticker",
            TableId: "tblHangerStickers",
            IsWinClose: false
        };
        $.icsDelete(obj);
    });
    function RefreshObjectHangerSticker() {

        var nHangerStickerID = (_oHangerSticker == null ? 0 : _oHangerSticker.HangerStickerID);
        var oHangerSticker = {
            HangerStickerID:nHangerStickerID,
            ART:        $("#txtArt").val(),
            Supplier:   $("#txtSupplier").val(),
            Composition:$("#txtComposition").val(),
            Construction:$("#txtConstruction").val(),
            Finishing:$("#txtFinishing").val(),
            Width:$("#txtWidth").val(),
            MOQ:$("#txtMOQ").val(),
            Remarks:$("#txtRemarks").val(),
            Price:$("#txtPrice").val(),
            Date:$("#txtDate").val()
        };
        return oHangerSticker;
    }

    $("#btnSaveFabricSticker").click(function () {

        var oHangerSticker = RefreshObjectHangerSticker();
        var obj = {
            BaseAddress: _sBaseAddress,
            Object: oHangerSticker,
            ObjectId: oHangerSticker.HangerStickerID,
            ControllerName: "HangerSticker",
            ActionName: "SaveHangerSticker",
            TableId: "tblHangerStickers",
            IsWinClose: true
        };

        $.icsSave(obj);
    });

    $("#btnCloseFabricSticker").click(function () {
        $("#winFabricSticker").icsWindow("close");
    });

    $('#btnPrintSticker').click(function (e) {

        var oHangerStickers = [];
        var  oHangerStickers = $("#tblHangerStickers").datagrid("getChecked");
        if (oHangerStickers.length <= 0) {
            alert("Please select an item from list.");
            return false;
        }
        var IDs ="";
        for(var i=0;i<oHangerStickers.length;i++){
            IDs+=oHangerStickers[i].HangerStickerID+",";
        }
        IDs= IDs.substring(0,IDs.length-1);
        var objs = [{ key: 'HangerStickerIDs', data: IDs }]
        var url = _sBaseAddress + '/HangerSticker/PrintHangerSticker';
        OpenWindowWithPost(url, objs);
    });


    $("#btnPrintStickerNinePerPage").click(function(){
        endEditing();
        var oHangerStickers = [];
        var  oHangerStickers = $("#tblHangerStickers").datagrid("getChecked");
        if (oHangerStickers.length <= 0) {
            alert("Please select an item from list.");
            return false;
        }

        $.ajax({
            type: "POST",
            dataType: "json",
            url : _sBaseAddress +  "/HangerSticker/SetSessionData",
            traditional: true,
            data:  JSON.stringify(oHangerStickers),
            contentType: "application/json; charset=utf-8",
            success: function (data) {
                var sFeedBackMessage = jQuery.parseJSON(data);
                if (sFeedBackMessage==="Successful") {
                    var tsv=((new Date()).getTime())/1000;
                    window.open(_sBaseAddress+'/HangerSticker/PrintHangerStickerNinePerPage?ts='+tsv,"_blank");
                }
            },
            error: function (xhr, status, error) {
                alert(error);
            }
        });
    });


    $("#btnPrintFabricSticker_Dynamic").click(function(){
        endEditing();
        var oHangerStickers = [];
        var  oHangerStickers = $("#tblHangerStickers").datagrid("getChecked");
        if (oHangerStickers.length <= 0) {
            alert("Please select an item from list.");
            return false;
        }

        $.ajax({
            type: "POST",
            dataType: "json",
            url : _sBaseAddress +  "/HangerSticker/SetSessionData",
            traditional: true,
            data:  JSON.stringify(oHangerStickers),
            contentType: "application/json; charset=utf-8",
            success: function (data) {
                var sFeedBackMessage = jQuery.parseJSON(data);
                if (sFeedBackMessage==="Successful") {
                    var tsv=((new Date()).getTime())/1000;
                    window.open(_sBaseAddress+'/HangerSticker/PrintDynamicSticker?ts='+tsv+"&ndoc=0","_blank");
                }
            },
            error: function (xhr, status, error) {
                alert(error);
            }
        });
    });




    //$('#btnPrintStickerNinePerPage').click(function (e) {

    //    var oHangerStickers = [];
    //    var  oHangerStickers = $("#tblHangerStickers").datagrid("getChecked");
    //    if (oHangerStickers.length <= 0) {
    //        alert("Please select an item from list.");
    //        return false;
    //    }
    //    var IDs ="";
    //    for(var i=0;i<oHangerStickers.length;i++){
    //        IDs+=oHangerStickers[i].HangerStickerID+"-"+oHangerStickers[i].PrintCopy+",";
    //    }
    //    IDs= IDs.substring(0,IDs.length-1);
    //    var objs = [{ key: 'HangerStickerIDs', data: IDs }]
    //    var url = _sBaseAddress + '/HangerSticker/PrintHangerStickerNinePerPage';
    //    OpenWindowWithPost(url, objs);
    //});


    $('#txtArt').keyup(function (e) {

        if (e.which == 13) {
            GetFabricExecution()
        }
    });
    $('#btnSearchFEO').keyup(function (e) {
        GetFabricExecution();
    });
    function GetFabricExecution()
    {
        if ($.trim($('#txtArt').val()) == '') {
            alert("Exe/Dispo no required!");
            return false;
        }

        var oFEO = {
            ExeNo: $.trim($('#txtArt').val()),
            Params: true,
        };

        var obj = {
            BaseAddress: _sBaseAddress,
            Object: oFEO,
            ControllerName: "FabricSCReport",
            ActionName: "GetsBySCNoExeNo",
            IsWinClose: false
        };
        $.icsMaxDataGets(obj, function (response) {
            if (response.status && response.objs.length > 0) {
                if (response.objs.first().FabricSalesContractDetailID > 0) {
                    var tblColums = [];
                    var oColumn = { field: "ExeNo", title: "Dispo No", width: "20%", align: "left" }; tblColums.push(oColumn);
                    oColumn = { field: "Construction", title: "Construction", width: "25%", align: "left" }; tblColums.push(oColumn);
                    oColumn = { field: "ProductName", title: "Composition", width: "25%", align: "left" }; tblColums.push(oColumn);
                    oColumn = { field: "FabricWidth", title: "Width", width: "20%", align: "left" }; tblColums.push(oColumn);


                    var oPickerParam = {
                        winid: 'winFEO',
                        winclass: 'clsFEO',
                        winwidth: 450,
                        winheight: 460,
                        tableid: 'tblFEOPicker',
                        tablecolumns: tblColums,
                        datalist: response.objs,
                        multiplereturn: false,
                        searchingbyfieldName: 'FEONo',
                        windowTittle: 'FEO List',
                        placeholder: 'Search By FEO No'
                    };
                    $.icsPicker(oPickerParam);
                    IntializePickerbutton(oPickerParam);

                }
                else {
                    alert(response.objs.first().ErrorMessage);
                }
            }
            else {
                alert("Sorry, No Fabric Execution Found.");
            }
        });


    }

    function IntializePickerbutton(oPickerobj) {
        $("#" + oPickerobj.winid).find("#btnOk").click(function () {
            ButtonEvents(oPickerobj);
        });
        $(document).find('.' + oPickerobj.winclass).keydown(function (e) {
            if (e.which == 13)//enter=13
            {
                ButtonEvents(oPickerobj);
            }
        });
    }

    function ButtonEvents(oPickerobj) {
        var oreturnobj = ""; var oreturnobjs = [];
        if (oPickerobj.multiplereturn) {
            oreturnobjs = $('#' + oPickerobj.tableid).datagrid('getChecked');
        } else {
            oreturnobj = $('#' + oPickerobj.tableid).datagrid('getSelected');
        }

        $("#" + oPickerobj.winid).icsWindow("close");
        $("#" + oPickerobj.winid).remove();

        if (oPickerobj.winid == 'winFEO') {
            if (oreturnobj != null && oreturnobj.FabricSalesContractDetailID > 0) {
                $('#txtArt').val(oreturnobj.ExeNo);
                $('#txtArt').data("FabricSalesContractDetail", oreturnobj);
                //$('#cboCompositionFabricSticker').val(oreturnobj.ProductID);
                $('#txtConstruction').val(oreturnobj.Construction);
                //$('#cboFabricWeaveFabricSticker').val(oreturnobj.FabricWeave);
                $('#txtWidth').val(oreturnobj.FabrichWidth);
                $('#txtComposition').val(oreturnobj.ProductName);
                //$('#cboFinishTypeFabricSticker').val(oreturnobj.FinishType);
                //$('#txtBuyerRef').val(oreturnobj.BuyerRef);
                $("#txtRemarks").val(oreturnobj.ReqFinishedGSM);
                $("#txtFinishing").val(oreturnobj.FinishTypeName);
            }
            else {
                alert("Select Fabric Execution Order.");
                return false;
            }
        }
    }

    var editIndex = undefined;
    function endEditing() {
        if (editIndex == undefined) {
            return true;
        }
        if ($('#tblHangerStickers').datagrid('validateRow', editIndex)) {
            $('#tblHangerStickers').datagrid('endEdit', editIndex);
            editIndex = undefined;
            return false;
        }
        else {
            return false;
        }
    }

    function onClickRow(index) {
        if (editIndex != index) {
            if (endEditing()) {
                $('#tblHangerStickers').datagrid('selectRow', index).datagrid('beginEdit', index);
                editIndex = index;
            }
            else {
                $('#tblHangerStickers').datagrid('selectRow', editIndex);
            }
        }
    }
</script>