@{
    ViewBag.Title = "Sizing";
}
@model ESimSol.BusinessObjects.FabricBatchProduction
<html>
<body class="menuMainCollectionTable">
    <div>
        <div class="easyui-panel" title="Fabric Batch Sizing" style="font-family:Tahoma;text-align:center; width:100%;">
            <div id="divFBInfo">
                <fieldset> 
                    <legend>Fabric Batch Info </legend>
                    <div style="margin:0 auto;width:90%;">
                        <table border="0" cellpadding="1" cellspacing="1">
                            <tr>
                                <td style="width:15%; text-align:right;">Program No:</td>
                                <td style="width:40%;text-align:left;">
                                    <input type="text" style="width:90px;" id="txtBatchNo" />
                                    <a id="btnSearchBatch" href="javascript:void(0)" class="easyui-linkbutton" iconcls="icon-search" plain="true"></a>
                                    <input type="text" style="width:90px;" id="txtFEONo" placeholder="Type Dispo No" />
                                    <a id="btnSearchFEONo" href="javascript:void(0)" class="easyui-linkbutton" iconcls="icon-search" plain="true"></a>
                                    <input type="checkbox" id="chkIsRunOut" />
                                    <a id="btnBatchCardPrint" href="javascript:void(0)" class="easyui-linkbutton" iconcls="icon-print" plain="true"></a>
                                </td>
                                <td style="width:15%; text-align:right;">Order No :</td>
                                <td style="width:30%;text-align:left;">
                                    <input type="text" style="width:120px; text-align:left;" id="txtOrderNo" disabled />
                                    Status:
                                    <input type="text" style="width:85px;" id="txtStatus" disabled />
                                </td>
                            </tr>
                            <tr>
                                <td style="width:15%; text-align:right;">Construction :</td>
                                <td style="width:40%;text-align:left;">
                                    <input type="text" style="width:258px;float:left;margin-right: 10px;" id="txtConstruction" disabled />
                                </td>
                                <td style="width:15%; text-align:right;">Buyer :</td>
                                <td style="width:30%;text-align:left;">
                                    <input type="text" style="width:258px;" id="txtBuyer" disabled />
                                </td>
                            </tr>
                            <tr>
                                <td style="width:15%; text-align:right;">Machine Name :</td>
                                <td style="width:40%;text-align:left;">
                                    <select style="width:258px;" id="cboMachineName"></select>
                                </td>
                                <td style="width:15%; text-align:right; color: green;">Shift:</td>
                                <td style="width:30%;text-align:left;"><select style="width:100%;" id="cboFBPShift"></select></td>
                            </tr>
                            <tr>
                                <td style="width:15%; text-align:right;">Start Time :</td>
                                <td style="width:40%;text-align:left;">
                                    <input id="txtStartDate" style="width:150px;" type="text" class="easyui-datebox" required="required" data-options="formatter:icsdateformat,parser:icsdateparser" />
                                    <input id="tpStartTime" class="easyui-timespinner" style="width:60px;" required="required" />
                                    <a id="btnRun" href="javascript:void(0)" class="easyui-linkbutton" iconcls="icon-save" plain="true" onclick="Run()">Run</a>
                                </td>
                                <td style="width:15%; text-align:right;">Size Length :</td>
                                <td style="width:30%;text-align:left;">
                                    <input type="text" style="width:100px;" id="txtSizingLengthY" class="number" disabled /> &nbsp;(Y) &nbsp;
                                    <input type="text" style="width:90px;" id="txtSizingLengthM" class="number" disabled />&nbsp;(M)
                                </td>
                            </tr>
                            <tr>
                                <td style="width:15%; text-align:right;">End Time:</td>
                                <td style="width:40%;text-align:left;">
                                    <input id="txtEndDate" style="width:150px;" type="text" class="easyui-datebox" required="required" data-options="formatter:icsdateformat,parser:icsdateparser" />
                                    <input id="tpEndTime" class="easyui-timespinner" style="width:60px;" required="required" />
                                    <a id="btnRunOut" href="javascript:void(0)" class="easyui-linkbutton" iconcls="icon-save" plain="true" onclick="RunOut()">Out</a>
                                </td>
                                <td style="width:15%; text-align:right;">Finish Length :</td>
                                <td style="width:30%;text-align:left;">
                                    <input type="text" style="width:100px;" id="txtTotalFinishLengthY" class="number" /> &nbsp;(Y) &nbsp;
                                    <input type="text" style="width:90px;" id="txtTotalFinishLengthM" class="number" />&nbsp;(M)
                                </td>
                            </tr>
                            <tr>
                                <td style="width:15%; text-align:right;">Duration :</td>
                                <td style="width:40%;text-align:left;">
                                    <input type="text" style="width:258px;" id="txtSizingDuration" disabled />
                                </td>
                                <td style="width:15%; text-align:right;">Remaining Length</td>
                                <td style="width:30%;text-align:left;"> 
                                    <input type="text" style="width:100px;" id="txtRemainingLengthInYard" class="number" disabled/> &nbsp;(Y) &nbsp;
                                    <input type="text" style="width:90px;" id="txtRemainingLengthInMeter" class="number" disabled />&nbsp;(M)
                                </td>
                            </tr>
                        </table>
                    </div>
                </fieldset>
            </div>

            <div class="easyui-accordion" data-options="selected:false" style="width:100%;">
                <div title="Add Beams" style="width:100%;">
                    <div style="width:49%;float:left;">
                        <table id="tblBeams" class="easyui-datagrid" title="Warping Beams" style="width:100%;height:230px;" fitcolumns="false" rownumbers="true" pagination="false" singleselect="true" autorowheight="false">
                            <thead>
                                <tr>
                                    <th field="BeamCode" width="30%">Beam No</th>
                                    <th field="Qty" width="30%" align="right" formatter="formatPrice">Qty(Y)</th>
                                    <th field="QtyInMtr" width="30%" align="right" formatter="formatPrice">Qty(M)</th>
                                </tr>
                            </thead>
                        </table>
                    </div> 
                    <div style="width:50%;float:right;">
                        <table id="tblBeamsSizing" class="easyui-datagrid" title="Sizing Beams" style="width:100%;height:230px;" fitcolumns="false" rownumbers="true" pagination="false" singleselect="true" autorowheight="false" toolbar="#toolbarFortblBeamsSizing">
                            <thead>
                                <tr>
                                    <th field="BeamCode" width="20%">Beam No</th>
                                    <th field="Qty" width="20%" align="right" formatter="formatPrice">Qty(Y)</th>
                                    <th field="QtyInMtr" width="20%" align="right" formatter="formatPrice">Qty(M)</th>
                                    <th field="IsFinishSt" width="20%">Status</th>
                                </tr>
                            </thead>
                        </table>
                        <div id="toolbarFortblBeamsSizing">
                            Type :
                            <select id="cboFabricMachineTypes" style="width:108px;margin-right:10px;" onchange="ReloadFreeBeams()"></select>
                            <a id="btnReloadFabricMachineTypes" href="javascript:void(0)" class="easyui-linkbutton" iconcls="icon-reload" plain="true"></a>
                            Beam No :
                            <select id="cboBeams" style="width:108px;margin-right:10px;"></select>
                            <span id="toolbarBeamSizing">
                                Qty :
                                <input id="txtBeamQty" type="text" style="width:50px;" class="number" />(Y)
                                <input id="txtBeamQtyMeter" type="text" style="width:50px;" class="number" />(M)
                                <a id="btnAddBeam" href="javascript:void(0)" class="easyui-linkbutton" iconcls="icon-add" plain="true">Add</a>
                                <a id="btnRemoveBeam" href="javascript:void(0)" class="easyui-linkbutton" iconcls="icon-remove" plain="true">Remove</a>
                               
                            </span>
                            <a id="btnFinishBeam" href="javascript:void(0)" class="easyui-linkbutton" iconcls="icon-ok" plain="true">Finish</a>
                            <a id="btnTransferBeam" href="javascript:void(0)" class="easyui-linkbutton" iconcls="icon-ok" plain="true">Transfer</a>

                        </div>
                    </div>
                </div>
                <div title="Fabric Batch Chemical" style="width:99%;">
                    <div style=" width:60%; float:left;">
                        <fieldset>
                            <legend> Raw Material </legend>
                            <table id="tblFabricBatchRawMaterial" class="easyui-datagrid" style="height:220px;width:100%" fitcolumns="true" rownumbers="true" pagination="false" singleselect="true" autorowheight="false" toolbar="#toolbarChemical" data-options="onClickRow: onClickRow">
                                <thead>
                                    <tr>
                                        <th field="ProductName" width="200">Chemical</th>
                                        <th field="LotNo" width="150">Lot No</th>
                                        <th data-options="field:'Qty',align:'center',editor:{type:'numberbox',options:{precision:2}}" width="150" align="right">Qty(KG)</th>
                                        <th field="ReceiveByDateInString" width="100">Receive Date</th>
                                    </tr>
                                </thead>
                            </table>
                            <div id="toolbarChemical">
                                Store :<select id="cboStore" style="width:105px;"></select>
                                <input type="text" id="txtProductName" placeholder="Type Chemical Name" style="width:140px" /><a id="btnPickProduct" href="javascript:void(0)" class="easyui-linkbutton" iconcls="icon-ok" plain="true">Chemical</a>
                                <a id="btnPickChemicalPlannedProduct" href="javascript:void(0)" class="easyui-linkbutton" iconcls="icon-ok" plain="true">Planned Chemical</a>
                                <select id="cboLot" style="width:120px;"></select><a id="btnLotRefresh" href="javascript:void(0)" class="easyui-linkbutton" iconcls="icon-reload" plain="true" onclick="RefreshLot()"></a>
                                </br>
                                Qty: <input type="text" id="txtQty" style="width:60px;" value="0" class="number" />(KG)
                                <a id="btnAddChemical" href="javascript:void(0)" class="easyui-linkbutton" iconcls="icon-add" plain="true" onclick="AddChemicalDetail()">Add</a>
                                <a id="btnDeleteChemical" href="javascript:void(0)" class="easyui-linkbutton" iconcls="icon-remove" plain="true" onclick="DeleteChemicalDetail()">Remove</a>
                                <a id="btnOutMaterials" href="javascript:void(0)" class="easyui-linkbutton" iconcls="icon-receive" plain="true" onclick="Out()">Receive</a>
                            </div>
                        </fieldset>
                        
                    </div>

                    <div style=" width:39%; float:right">
                        <fieldset>
                            <legend> Add Chemical </legend>
                            
                        <div id="toolbarAddChemical">
                            <div class="col-md-12" style="padding-left:10px;">
                                <div class="col-md-4">
                                    Water Qty 
                                </div>
                                <div class="col-md-2">
                                    <input id="txtWaterQty" type="text" class="number" placeholder="Water Qty" />
                                </div>
                               
                             </div>
                            <div class="col-md-12" style="padding-left:10px;">
                                <div class="col-md-4">
                                    Dry Qty 
                                </div>
                                <div class="col-md-2">
                                    <input id="txtDry" type="text"  class="number" placeholder="Dry" />
                                </div>
                            </div>
                            <div class="col-md-12" style="padding-left:10px;">
                                <div class="col-md-4">
                                    Wet Qty   
                                </div>
                                <div class="col-md-2">
                                    <input id="txtWet" type="text"  class="number" placeholder="Wet" />
                                </div>
                            </div>
                            <div class="col-md-12" style="padding-left:10px;">
                                <div class="col-md-4">
                                    RF 
                                </div>
                                <div class="col-md-2">
                                    <input id="txtRF" type="text"  class="number" placeholder="RF" />
                                </div>
                            </div>

                            <div class="col-md-12" style="padding-left:10px;">
                                <div class="col-md-4">
                                    Viscosity  
                                </div>
                                <div class="col-md-2">
                                    <input id="txtViscosity" type="text"  class="number" placeholder="Viscosity" />
                                </div>
                            </div>
                            <div class="col-md-12" style="padding-left:10px;">
                                <div class="col-md-4">
                                    Final Volume 
                                </div>
                                <div class="col-md-2">
                                    <input id="txtFinalVolume" type="text" class="number" placeholder="Final Volume " />
                                </div>
                              
                            </div>
                        
                            <div class="col-md-12" style="padding-left:10px;">
                                <div class="col-md-4">
                                    Use Prev. Qty
                                </div>
                                <div class="col-md-8">
                                    <input id="txtPreviousRestQty" type="text" class="number" placeholder=" Use Prev. Qty" />
                                    <span style="font-size:10px;" id="lblSugPreviousRestQty"></span>
                                </div>
                                
                               
                            </div>
                            <div class="col-md-12" style="padding-left:10px;">
                                <div class="col-md-4">
                                   New Rest Qty
                                </div>
                                <div class="col-md-2">
                                    <input id="txtRestQty" type="text" class="number" placeholder=" New Rest Qty" />
                                </div>
                            </div>
                     
                             <a id="btnAddFBSSol" style="float:right;" href="javascript:void(0)" class="easyui-linkbutton" iconcls="icon-add" plain="true" onclick="AddFBSSol()">Add Chemical</a>
                           
                        </div>
                         </fieldset>
               
                    </div>

                </div>
            </div>
        </div>
    </div>
</body>
</html>


<script type="text/javascript">
    var _oFabricBatchProduction=null;
    var _sBaseAddress="";
    var _objName = "";
    var _oStores = [];
    var _lBackLink = "";
    var _oProduct = "";
    var _oFabricMachineTypes=[];
    var _oHRMShifts = [];
    var _oFabricMachines =[];
    var _oLots=[];
    $(document).ready(function () {
        _sBaseAddress =@Html.Raw( new System.Web.Script.Serialization.JavaScriptSerializer().Serialize(HttpContext.Current.Session[SessionInfo.BaseAddress]));
        _oFabricBatchProduction =@Html.Raw(new System.Web.Script.Serialization.JavaScriptSerializer().Serialize(Model));
        _oStores = @Html.Raw(new System.Web.Script.Serialization.JavaScriptSerializer().Serialize(@ViewBag.Stores));
        _oFabricMachineTypes = @Html.Raw(new System.Web.Script.Serialization.JavaScriptSerializer().Serialize(@ViewBag.FabricMachineTypes));
        _oFabricMachines = @Html.Raw(new System.Web.Script.Serialization.JavaScriptSerializer().Serialize(Model.FabricMachines));
        $("#cboStore").icsLoadCombo({List: _oStores,OptionValue: "WorkingUnitID",DisplayText: "WorkingUnitName"});
        $("#cboFabricMachineTypes").icsLoadCombo({List: _oFabricMachineTypes,OptionValue: "FabricMachineTypeID",DisplayText: "ChildWithParent"});
        $("#cboMachineName").icsLoadCombo({List: _oFabricMachines,OptionValue: "FMID",DisplayText: "MachineCodeWithName"});
        //$('#tpStartTime,#tpEndTime').timespinner('setValue', "00:00");
        $('#txtStartDate,#txtEndDate').datebox('setValue', icsdateformat(new Date));
        var nHour=new Date().getHours();
        var nMin=new Date().getMinutes();
        if(isNaN(nHour))
        {
            nHour=0;
        }
        if(isNaN(nMin))
        {
            nMin=0;
        }
        $('#tpStartTime').timespinner('setValue', nHour+":"+nMin);
        $('#tpEndTime').timespinner('setValue', nHour+":"+nMin);

        $('#btnRun').hide();
        $('#btnRunOut').hide();
        _oHRMShifts = _oFabricBatchProduction.HRMShifts;
        $("#cboFBPShift").icsLoadCombo({List: _oHRMShifts,OptionValue: "ShiftID",DisplayText: "ShiftWithDuration"});
        HideToolbarBeamSizing(_oFabricBatchProduction.Sizing_Finish);
    });

    $(document).keydown(function (e) { if (e.keyCode == 27) { $('div').icsWindow('close'); } });


    function SetRemainingLength(){
        var nFinishLength= icsRemoveComma($('#txtTotalFinishLengthY').val());
        var nBeamQty=$('#tblBeamsSizing').datagrid('getRows').select('Qty').sum();
        var nRemainingLength=nFinishLength-nBeamQty;

        $('#txtRemainingLengthInYard').val(formatPrice(nRemainingLength));
        $('#txtRemainingLengthInMeter').val(formatPrice(GetMeter(nRemainingLength,2)));

    }

    function HideToolbarBeamSizing(nStatus)
    {
        debugger;
        if (nStatus >= 5)//(nStatus == 5) //Sizing_Finish
        {
            $("#toolbarBeamSizing").hide();
            $("#btnTransferBeam").show();
        }
        else
        {
            $("#toolbarBeamSizing").show();
            $("#btnTransferBeam").hide();
        }
    }

    function ConvertToFixed2(nVal)
    {
        return parseFloat(nVal.toFixed(2));
    }

    function GetFreeBeams()
    {
        var oFabricMachine={
            WeavingProcess:1, // Warping
            MachineStatus:3 //Free
        };
        var obj = {
            BaseAddress: _sBaseAddress,
            Object: oFabricMachine,
            ControllerName: "FabricMachine",
            ActionName: "GetsMachine",
            IsWinClose: false
        };
        $.icsDataGets(obj, function (response) {
            if (response.status && response.objs.length > 0) {
                if($.trim(response.objs[0].ErrorMessage) == "")
                {
                    $("#cboBeams").icsLoadCombo({
                        List: response.objs,
                        OptionValue: "FMID",
                        DisplayText: "Code"
                    });
                }
                else
                {
                    $("#cboBeams").empty();
                }
            }
        });
    }

    $("#btnFinishBeam").click(function(){
        var oFBPB = $("#tblBeamsSizing").datagrid("getSelected");
        if($("#btnRun").is(':visible'))
        {
            alert("First run the batch.");
            return false;
        }
        if(oFBPB == null || oFBPB.FBPBeamID <= 0)
        {
            alert("Select an item from list.");
            return false;
        }
        if(oFBPB.IsFinish)
        {
            alert("Already finished.");
            return false;
        }
        if (!confirm("Confirm finish?")) return false;
        oFBPB.IsFinish = true;
        var obj = {
            BaseAddress: _sBaseAddress,
            Object: oFBPB,
            ObjectId: oFBPB.FBPBeamID,
            ControllerName: "FabricBatchProductionBeam",
            ActionName: "Finish",
            TableId: "tblBeamsSizing",
            IsWinClose: false,
            Message: ""
        };
        $.icsSave(obj);
    });

    $("#btnTransferBeam").click(function(){
        var oFBPB = $("#tblBeamsSizing").datagrid("getSelected");
        if($("#btnRun").is(':visible'))
        {
            alert("First run the batch.");
            return false;
        }
        if(oFBPB == null || oFBPB.FBPBeamID <= 0)
        {
            alert("Select an item from list.");
            return false;
        }
        if(!oFBPB.IsFinish)
        {
            alert("Yet Not finished.");
            return false;
        }
        var nBeamId = parseInt($("#cboBeams").val());
        if(nBeamId <= 0)
        {
            alert("Select Beam.");
            $("#cboBeams").focus();
            return false;
        }
        if (!confirm("Confirm Transfer Beam ?")) return false;
        oFBPB.BeamID = nBeamId;
        var obj = {
            BaseAddress: _sBaseAddress,
            Object: oFBPB,
            ObjectId: oFBPB.FBPBeamID,
            ControllerName: "FabricBatchProductionBeam",
            ActionName: "TransferFinishBeam",
            TableId: "tblBeamsSizing",
            IsWinClose: false,
            Message: ""
        };
        $.icsSave(obj);
        setTimeout(function () {
            //ReloadBeam();
            ReloadFreeBeams();
        }, 2200);

    });

    $("#btnSearchFEONo").click(function(){

        EFOPicker();
    });

    function EFOPicker()
    {
        var oFabricBatch={
            FEONo : $.trim($("#txtFEONo").val()),
            IsNotWarpDone:false,
            //WeavingProcessType : 1
            WeavingProcessType : ($('#chkIsRunOut').attr("checked")) ? 0 : 1
        };

        var obj = {
            BaseAddress: _sBaseAddress,
            Object: oFabricBatch,
            ControllerName: "FabricBatch",
            ActionName: "Search",
            IsWinClose: false
        };
        $.icsMaxDataGets(obj, function (response) {
            if (response.status && response.objs.length > 0) {
                if (response.objs[0].FBID > 0) {
                    debugger;
                    var tblColums = [];
                    var oColumn = { field: "OrderNo", title: "Dispo No", width: "20%", align: "left" }; tblColums.push(oColumn);
                    oColumn = { field: "BatchNo", title: "Program No", width: "12%", align: "left" }; tblColums.push(oColumn);
                    oColumn = { field: "QtySt", title: "Qty (M)", width: "13%", align: "right" }; tblColums.push(oColumn);
                    oColumn = { field: "QtyInMeterSt", title: "Qty (M)", width: "13%", align: "right" }; tblColums.push(oColumn);
                    oColumn = { field: "StatusSt", title: "Status", width: "15%", align: "left" }; tblColums.push(oColumn);
                    oColumn = { field: "SizingStartTimeStr", title: "Sizing Date", width: "22%", align: "left" }; tblColums.push(oColumn);
                    var oPickerParam = {
                        winid: 'winFabricBatchs',
                        winclass: 'clsFabricBatch',
                        winwidth: 650,
                        winheight: 460,
                        tableid: 'tblFabricBatchs',
                        tablecolumns: tblColums,
                        datalist: response.objs,
                        multiplereturn: false,
                        searchingbyfieldName: 'BatchNo',
                        windowTittle: 'Fabric Batch List',
                        placeholder : "Search By Program No"
                    };
                    $.icsPicker(oPickerParam);
                    IntializePickerbutton(oPickerParam);

                }
                else {
                    alert(response.objs[0].ErrorMessage);
                }
            }
            else
            {
                alert("Sorry, No Dispo Found.");
            }
        });
    }

    $("#txtFEONo").keydown(function(e){
        if(e.keyCode === 13)
        {
            EFOPicker();
        }
    });

    $("#txtBeamQty").keyup(function(e){
        $("#txtBeamQtyMeter").val(GetMeter(parseFloat($(this).val()),2));
    });

    $("#txtBeamQtyMeter").keyup(function(e){
        $("#txtBeamQty").val(GetYard(parseFloat($(this).val()),2));
    });

    $("#btnRemoveBeam").click(function(){
        var oBeam = $("#tblBeamsSizing").datagrid("getSelected");
        if(oBeam == null)
        {
            alert("Please select an item from list.");
            return false;
        }
        debugger;
        if(oBeam.FBPBeamID > 0)
        {
            if(oBeam.IsFinish)
            {
                alert("Already finish?");
                return;
                //if (!confirm("Already finish ! Confirm to Delete?")) return false;
            }
            if (!confirm("Confirm to Delete?")) return false;
            var obj = {
                BaseAddress: _sBaseAddress,
                Object: oBeam,
                ControllerName: "FabricBatchProductionBeam",
                ActionName: "Delete",
                TableId: "tblBeamsSizing",
                IsWinClose: false
            };
            $.icsDelete(obj, function (response) {
                if (response.status && response.Message.toLowerCase() == "deleted") {
                    //ReloadBeam();
                    ReloadFreeBeams();
                    SetRemainingLength();
                }
            });
        }
        else
        {
            var nRowIndex = $("#tblBeamsSizing").datagrid("getRowIndex", oBeam);
            $("#tblBeamsSizing").datagrid("deleteRow", nRowIndex);
        }
    });

    function AddSizingBeam()
    {
        var nBeamId = parseInt($("#cboBeams").val());
        if(nBeamId <= 0)
        {
            alert("Select Beam.");
            $("#cboBeams").focus();
            return false;
        }

        var oBeams = $("#tblBeamsSizing").datagrid("getRows");
        var nLength = oBeams.length;
        var nTotalQty = 0;
        for(var i=0;i<nLength;i++)
        {
            nTotalQty += parseFloat(oBeams[i].Qty);
            if(parseInt(oBeams[i].BeamID) == nBeamId)
            {
                alert("Selected Beam already in list.");
                $("#cboBeams").focus();
                return false;
            }
        }
        if((nTotalQty + parseFloat($("#txtBeamQty").val())) > parseFloat($("#txtSizingLengthY").val())){
            alert("Total Sizing Beam Qty can not be greater than Sizing Length!!");
            return false;
        }


        var oFBPBeam = {
            FBPBeamID:0,
            FBPID:_oFabricBatchProduction.FBPID,
            BeamID:nBeamId,
            Qty: parseFloat($("#txtBeamQty").val()),
            BeamCode : $('#cboBeams option:selected').text(),
            QtyInMtr : parseFloat(GetMeter(parseFloat($("#txtBeamQty").val()),2))
        };

        if(_oFabricBatchProduction.FBPID <= 0)
        {
            var nIndex = $("#tblBeamsSizing").datagrid("getRows").length;
            $("#tblBeamsSizing").datagrid("appendRow", oFBPBeam);
            $("#tblBeamsSizing").datagrid("selectRow", nIndex);
        }
        else
        {
            var obj = {
                BaseAddress: _sBaseAddress,
                Object: oFBPBeam,
                ObjectId: oFBPBeam.FBPBeamID,
                ControllerName: "FabricBatchProductionBeam",
                ActionName: "Save",
                TableId: "tblBeamsSizing",
                IsWinClose: true,
                Message:""
            };

            $.icsSave(obj, function (response) {
                if (response.status && response.obj.FBPBeamID > 0) {
                    //ReloadBeam();
                    ReloadFreeBeams();
                    SetRemainingLength();
                }
            });
        }

        $("#cboBeams").val(0);
        $("#txtBeamQty,#txtBeamQtyMeter").val("");
        $("#cboBeams").focus();
    }

    $("#txtBeamQty,#txtBeamQtyMeter").keydown(function(e){
        if(e.keyCode===13)
        {
            AddSizingBeam();
        }
    });

    $("#btnAddBeam").click(function(){
        AddSizingBeam();
    });

    //for Sizing
    $("#txtTotalFinishLengthY").keyup(function (e) {

        var nVal =  $(this).val();
        $('#txtTotalFinishLengthM').val(GetMeter(nVal,2));
        if (nVal == "" || nVal == null) {
            $(this).val(0);
        }
    });

    $("#txtTotalFinishLengthM").keyup(function (e) {
        var nVal = $(this).val();
        $('#txtTotalFinishLengthY').val(GetYard(nVal,2));
        if (nVal == "" || nVal == null) {
            $(this).val(0);
        }
    });

    function PickFabricBatch(oFBatch)
    {

        var oFabricBatch={
            FBID: oFBatch.FBID,
            BatchNo: $.trim(oFBatch.BatchNo),
            WeavingProcessTypeTemp : 1
        };
        var obj = {
            BaseAddress: _sBaseAddress,
            Object: oFabricBatch,
            ControllerName: "FabricBatch",
            ActionName: "SearchByBatchNo",
            IsWinClose: false
        };
        $.icsDataGet(obj, function (response) {
            if (response.status && response.obj!=null) {
                ResetBeamsInfo();
                if (parseInt(response.obj.FBID) > 0)
                {
                    SetFabricBatchInfo(response.obj);
                }
                else
                {
                    alert("Data Not Found");
                }
            }
        });
    }

    $("#btnSearchBatch").click(function () {
        var oFabricBatch={
            BatchNo:$("#txtBatchNo").val(),
            WeavingProcessType : 1 // Sizing = 1
        };
        var obj = {
            BaseAddress: _sBaseAddress,
            Object: oFabricBatch,
            ControllerName: "FabricBatch",
            ActionName: "GetsByBatchNo",
            IsWinClose: false
        };
        $.icsDataGets(obj, function (response) {
            if (response.status && response.objs.length > 0) {
                if (response.objs[0].FBID > 0) {
                    var tblColums = [];
                    var oColumn = { field: "OrderNo", title: "Dispo No", width: "30%", align: "left" }; tblColums.push(oColumn);
                    oColumn = { field: "BatchNoMCode", title: "Program No", width: "20%", align: "left" }; tblColums.push(oColumn);
                    oColumn = { field: "QtySt", title: "Qty", width: "15%", align: "right" }; tblColums.push(oColumn);
                    oColumn = { field: "QtyInMeterSt", title: "Qty (M)", width: "15%", align: "right" }; tblColums.push(oColumn);
                    oColumn = { field: "StatusSt", title: "Status", width: "30%", align: "left" }; tblColums.push(oColumn);
                    var oPickerParam = {
                        winid: 'winBatchs',
                        winclass: 'clsBatch',
                        winwidth: 600,
                        winheight: 460,
                        tableid: 'tblBatchs',
                        tablecolumns: tblColums,
                        datalist: response.objs,
                        multiplereturn: false,
                        searchingbyfieldName: 'BatchNo',
                        windowTittle: 'Batch List',
                        placeholder : "Search By Program No"
                    };
                    $.icsPicker(oPickerParam);
                    IntializePickerbutton(oPickerParam);
                }
                else {
                    alert(response.objs[0].ErrorMessage);
                }
            }
            else
            {
                alert("Sorry, No Batch Found.");
            }
        });
    });
    function MachineRefresh()
    {
        $.ajax
        ({
            type: "GET",
            dataType: "json",
            url : _sBaseAddress+  "/FabricMachine/GetMachines",
            data: { nWeavingProcess: 1, nMachineStatus: 3},
            contentType: "application/json; charset=utf-8",
            success: function (data) {
                _oFabricMachines = jQuery.parseJSON(data);
                if (_oFabricMachines.length>0 )
                {
                    $("#cboMachineName").icsLoadCombo({List: _oFabricMachines,OptionValue: "FMID",DisplayText: "MachineCodeWithName"});
                }
            },
            error: function (xhr, status, error)
            {
                alert(error);
            }

        });
    }
    $("#txtBatchNo").keydown(function (e){
        if (e.keyCode === 13) // Enter Press
        {

            var oFabricBatch={
                FBID: 0,
                BatchNo: $.trim($("#txtBatchNo").val()),
                WeavingProcessTypeTemp : 1
            };
            PickFabricBatch(oFabricBatch);

        }
        else if (e.keyCode === 8 || e.keyCode==27) // Back spce
        {
            MachineRefresh();
            ResetBeamsInfo();
            $("#txtBatchNo").removeClass("fontColorOfPickItem");
            _oFabricBatch = "";
            $('#divFBInfo').find('input').not("#txtBatchNo").val('');//all field will be empty
            $( "#txtTotalFinishLengthY,#txtTotalFinishLengthM" ).prop("disabled", false );
            $("#cboMachineName").icsLoadCombo({List: _oFabricMachines,OptionValue: "FMID",DisplayText: "MachineCodeWithName"});

            $('#btnRun').hide();
            $('#btnRunOut').hide();
            $('#txtProductName,#cboLot,#cboStore, #btnPickProduct,#btnPickChemicalPlannedProduct,#btnLotRefresh,#btnAddChemical,#btnDeleteChemical,#btnOutMaterials').show();
            $('#tpStartTime,#tpEndTime').timespinner({disabled:false});
            $('#txtStartDate,#txtEndDate').datebox({disabled:false});
            $('#tpStartTime,#tpEndTime').timespinner('setValue', "00:00");
            $('#txtStartDate,#txtEndDate').datebox('setValue', icsdateformat(new Date));
            var oList = [];
            RefreshList(oList);
            $('#txtBatchNo').focus();

            //var oFabricMachine={
            //    WeavingProcess : 3,
            //    MachineStatus : 3
            //};
            //var obj = {
            //    BaseAddress: _sBaseAddress,
            //    Object: oFabricMachine,
            //    ControllerName: "FabricMachine",
            //    ActionName: "GetsMachine",
            //    IsWinClose: false
            //};
            //$.icsDataGets(obj, function (response) {
            //    $("#cboBeams").icsLoadCombo({List: response.objs, OptionValue: "FMID", DisplayText: "Code"});
            //});
        }
    });

    function ResetBeamsInfo()
    {
        $("#txtBeamQty,#txtBeamQtyMeter").val("");
        $("#cboBeams").val(0);
        DynamicRefreshList([],"tblBeams");
        DynamicRefreshList([],"tblBeamsSizing");
        SetRemainingLength();
    }

    function SetFabricBatchInfo(oFabricBatch)
    {

        //  $("#cboBeams").icsLoadCombo({List: oFabricBatch.Beams, OptionValue: "FMID", DisplayText: "Code"});

        oFabricBatch.Qty = parseFloat(oFabricBatch.Qty.toFixed(2));

        $("#txtBatchNo").val(oFabricBatch.BatchNo);
        $("#txtBatchNo").addClass("fontColorOfPickItem");
        $("#txtOrderNo").val(oFabricBatch.OrderNo);
        $("#txtStatus").val(oFabricBatch.StatusSt);
        $("#txtConstruction").val(oFabricBatch.Construction);
        $("#txtBuyer").val(oFabricBatch.BuyerName);
        $("#txtSizingLengthY").val(ConvertToFixed2(oFabricBatch.Qty));
        $("#txtSizingLengthM").val(GetMeter(oFabricBatch.Qty,2));
        $("#txtTotalFinishLengthY").val(ConvertToFixed2(oFabricBatch.Qty));
        $("#txtTotalFinishLengthM").val(GetMeter(oFabricBatch.Qty,2));
        $("#txtYetToWarpLengthY").val(ConvertToFixed2(oFabricBatch.Qty));
        $("#txtYetToWarpLengthM").val(GetMeter(oFabricBatch.Qty,2));

        _oFabricBatchProduction.FEOID = oFabricBatch.FEOID;
        _oFabricBatchProduction.FBID = oFabricBatch.FBID;
        _oFabricBatchProduction.FabricBatchStatusInInt = oFabricBatch.StatusInInt;


        HideToolbarBeamSizing(oFabricBatch.Status);

        ResetAllTables("tblBeams","tblBeamsSizing","tblFabricBatchRawMaterial");
        GetSizingInformation(oFabricBatch.FBID);
        LoadFabricMachineTypes(oFabricBatch.FBID);
        $('#txtBatchNo').focus();
    }

    function ReloadFreeBeams(){
        var nType = parseInt($('#cboFabricMachineTypes').val());
        if (nType > 0)
        {
            $.ajax
            ({
                type: "GET",
                dataType: "json",
                url : _sBaseAddress+  "/FabricBatchProduction/GetBeamsByType",
                data: { nType:nType},
                contentType: "application/json; charset=utf-8",
                success: function (data) {
                    debugger;
                    var oBeams = jQuery.parseJSON(data);
                    if(oBeams.length > 0)
                        $("#cboBeams").icsLoadCombo({List: oBeams,OptionValue: "FMID",DisplayText: "Code"});
                    else
                        alert("No Fabric Machine Type Found!!");
                },
                error: function (xhr, status, error)
                {
                    alert(error);
                }
            });
        }
    }

    $("#btnReloadFabricMachineTypes").click(function () {
        $("#cboFabricMachineTypes").icsLoadCombo({List: _oFabricMachineTypes,OptionValue: "FabricMachineTypeID",DisplayText: "ChildWithParent"});
    });

    function LoadFabricMachineTypes(nFBID){
        if (parseInt(nFBID) > 0)
        {
            $.ajax
            ({
                type: "GET",
                dataType: "json",
                url : _sBaseAddress+  "/FabricBatchProduction/GetFabricMachineTypes",
                data: { nFBID:nFBID},
                contentType: "application/json; charset=utf-8",
                success: function (data) {
                    debugger;
                    var oFabricMachineTypes = jQuery.parseJSON(data);
                    if(oFabricMachineTypes.length > 0)
                        $("#cboFabricMachineTypes").icsLoadCombo({List: oFabricMachineTypes,OptionValue: "FabricMachineTypeID",DisplayText: "ChildWithParent"});
                    else
                        $("#cboFabricMachineTypes").icsLoadCombo({List: [],OptionValue: "FabricMachineTypeID",DisplayText: "ChildWithParent"});
                },
                error: function (xhr, status, error)
                {
                    alert(error);
                }
            });
        }
    }

    var editIndex = undefined;
    function endEditing(){
        if (editIndex == undefined){
            return true;
        }
        if ($('#tblFabricBatchRawMaterial').datagrid('validateRow', editIndex)){
            $('#tblFabricBatchRawMaterial').datagrid('endEdit', editIndex);
            $('#tblFabricBatchRawMaterial').datagrid('selectRow',editIndex);
            var oFabricBatchRawMaterial=$('#tblFabricBatchRawMaterial').datagrid('getSelected');
            if(parseInt(oFabricBatchRawMaterial.ReceiveBy)<=0)
            {
                var oFBRMS =[];
                oFBRMS.push(oFabricBatchRawMaterial);
                Out(oFBRMS, true,editIndex,true);
            }else{
                //alert("Already Received.");
                $('#tblFabricBatchRawMaterial').datagrid('updateRow',{index: editIndex,	row: oFabricBatchRawMaterial});
            }
            editIndex = undefined;
            return true;
        }
        else
        {
            return false;
        }
    }

    function onClickRow(index){
        if (editIndex != index){

            var oRow = $("#tblFabricBatchRawMaterial").datagrid("getSelected");
            if(oRow.ReceiveBy > 0)
            {
                $('#tblFabricBatchRawMaterial').datagrid('endEdit', editIndex);
                editIndex = undefined;
                endEditing();
                return true;
            }


            if (endEditing())
            {
                $('#tblFabricBatchRawMaterial').datagrid('selectRow', index).datagrid('beginEdit', index);
                editIndex = index;
            }
            else
            {
                $('#tblFabricBatchRawMaterial').datagrid('selectRow', editIndex);
            }
        }
    }

    $("#btnPickProduct").click(function () {
        PickProduct();
    });

    function PickProduct()
    {
        debugger;
        if(parseInt(_oFabricBatchProduction.FBID)<=0)
        {
            alert("Pick Batch.");
            return false;
        }
        if(parseInt($('#cboStore').val())<=0)
        {
            alert("Please select Store.");
            return false;
        }

        var sProductName = $("#txtProductName").val();
        var oLot= { ProductName:$.trim(sProductName), BUID: 0, WorkingUnitID : parseInt($('#cboStore').val())  };


        var obj = {
            BaseAddress: _sBaseAddress,
            Object: oLot,
            ControllerName: "FabricBatch",
            ActionName: "GetProducts",
            IsWinClose: false
        };
        $.icsDataGets(obj, function (response) {
            if (response.status && response.objs.length > 0) {
                if (response.objs[0].ProductID > 0) {
                    var tblColums = [];var oColumn = { field: "ProductCode", title: "Product Code", width: "30%", align: "left" };tblColums.push(oColumn);
                    oColumn = { field: "ProductName", title: "ProductName", width: "66%", align: "left" };tblColums.push(oColumn);
                    var oPickerParam = {
                        winid: 'winProduct',
                        winclass:'clsProduct',
                        winwidth: 400,
                        winheight: 460,
                        tableid: 'tblProducts',
                        tablecolumns: tblColums,
                        datalist: response.objs,
                        multiplereturn: false,
                        searchingbyfieldName:'ProductName',
                        windowTittle: 'Product List ',
                        placeholder : "Search By Product Name"
                    };
                    $.icsPicker(oPickerParam);
                    IntializePickerbutton(oPickerParam);
                }
                else { alert(response.objs[0].ErrorMessage); }
            }else{
                alert("Data Not Found");
            }
        });
    }

    $("#btnPickChemicalPlannedProduct").click(function () {
        debugger;
        if(parseInt(_oFabricBatchProduction.FBID)<=0)
        {
            alert("Pick Batch.");
            return false;
        }
        if(parseInt($('#cboStore').val())<=0)
        {
            alert("Please select Store.");
            return false;
        }

        var obj = {FBID :_oFabricBatchProduction.FBID}

        var obj = {
            BaseAddress: _sBaseAddress,
            Object: obj,
            ControllerName: "FabricBatchProduction",
            ActionName: "GetFabricChemicalPlans",
            IsWinClose: false
        };
        $.icsDataGets(obj, function (response) {
            if (response.status && response.objs.length > 0) {
                if (response.objs[0].ProductID > 0) {
                    var tblColums = [];var oColumn = { field: "ProductCode", title: "Product Code", width: "30%", align: "left" };tblColums.push(oColumn);
                    oColumn = { field: "ProductName", title: "ProductName", width: "66%", align: "left" };tblColums.push(oColumn);
                    oColumn = { field: "Batch No", title: "BatchNo", width: "66%", align: "left" };tblColums.push(oColumn);
                    var oPickerParam = {
                        winid: 'winFabricChemicalPlan',
                        winclass:'clsFabricChemicalPlan',
                        winwidth: 400,
                        winheight: 460,
                        tableid: 'tblFabricChemicalPlans',
                        tablecolumns: tblColums,
                        datalist: response.objs,
                        multiplereturn: false,
                        searchingbyfieldName:'ProductName',
                        windowTittle: 'Product List ',
                        placeholder : "Search By Product Name"
                    };
                    $.icsPicker(oPickerParam);
                    IntializePickerbutton(oPickerParam);
                }
                else { alert(response.objs[0].ErrorMessage); }
            }else{
                alert("Data Not Found");
            }
        });
    });

    $("#txtProductName").keydown(function (e){
        if (e.keyCode === 13) // Enter Press
        {
            PickProduct();
        }
    });
    $("#txtProductName").keydown(function (e){
        if (e.keyCode === 8 || e.keyCode==27) // Back spce
        {
            $("#txtProductName").removeClass("fontColorOfPickItem");
            _oProduct = "";
            $('#cboLot').empty();
            _oLots=[];
            sessionStorage.setItem("Lots",[])//reset lots session storage
        }
    });

    function IntializePickerbutton(oPickerobj)
    {
        $("#" + oPickerobj.winid).find("#btnOk").click(function () {
            ButtonEvents(oPickerobj);
        });
        $(document).find('.' +oPickerobj.winclass).keydown(function (e) {
            if (e.which == 13)//enter=13
            {
                ButtonEvents(oPickerobj);
            }
        });
    }
    function ButtonEvents(oPickerobj)
    {
        var oreturnobj = "";var oreturnobjs = [];
        if(oPickerobj.multiplereturn){
            oreturnobjs = $('#'+oPickerobj.tableid).datagrid('getChecked');
        }else{
            oreturnobj = $('#'+oPickerobj.tableid).datagrid('getSelected');
        }

        if(oPickerobj.winid == 'winProduct')
        {
            if (oreturnobj != null && oreturnobj.ProductID> 0)
            {
                _oProduct = oreturnobj;
                $("#txtProductName").val(oreturnobj.ProductName);
                $("#txtProductName").addClass("fontColorOfPickItem");
                $('#txtProductName').focus();
                GetRunningLot();
            }
            else{
                alert("Please select a product.");
                return false;
            }
        }
        else if(oPickerobj.winid == 'winFabricChemicalPlan')
        {
            if (oreturnobj != null && oreturnobj.ProductID> 0)
            {
                _oProduct = oreturnobj;
                _oProduct.ErrorMessage = "FabricChemicalPlan";
                $("#txtProductName").val(oreturnobj.ProductName);
                $("#txtProductName").addClass("fontColorOfPickItem");
                $('#txtProductName').focus();
                GetRunningLot();
            }
            else{
                alert("Please select a product.");
                return false;
            }
        }
        else if(oPickerobj.winid == 'winBatchs')
        {
            if (oreturnobj != null && oreturnobj.FBID> 0)
            {
                PickFabricBatch(oreturnobj);
            }
            else{
                alert("Please select a batch.");
                return false;
            }
        }
        else if(oPickerobj.winid == 'winFabricBatchs')
        {
            debugger;
            if (oreturnobj != null && oreturnobj.FBID>0)
            {
                $("#txtFEONo").val(oreturnobj.FEONo);
                if(oreturnobj.Status >= 5)
                    $("#btnRun,#btnRunOut").hide();
                PickFabricBatch(oreturnobj);
            }
            else
            {
                alert("Please select an item from list.");
                return false;
            }
        }
        $("#"+oPickerobj.winid).icsWindow("close");
        $("#" + oPickerobj.winid).remove();
    }
    function GetRunningLot(){
        var oLot = {
            ProductID:_oProduct.ProductID,
            WorkingUnitID:parseInt($("#cboStore").val())
        }
        $.ajax({
            type: "POST",
            dataType: "json",
            url: _sBaseAddress + "/Lot/GetsLot",
            traditional: true,
            data: JSON.stringify(oLot),
            contentType: "application/json; charset=utf-8",
            success: function (data) {
                var oLots =  jQuery.parseJSON(data);
                _oLots=oLots;
                if (oLots != null) {
                    if (oLots.length > 0) {
                        sessionStorage.setItem("Lots",oLots);

                        $("#cboLot").icsLoadCombo({
                            List: oLots,
                            OptionValue: "LotID",
                            DisplayText: "LotWithBalance"
                        });
                        $("#cboLot").val(oLots[0].LotID);
                    }

                }
                else {
                    alert("No Lot Found");
                }
            },
            error: function (xhr, status, error) {
                alert(error);
            }
        });
    }
    function SetFBSizingSolFieldSet(oFBSS){

        $("#txtWaterQty").val(oFBSS.WaterQty);
        $("#txtDry").val(oFBSS.Dry);
        $("#txtWet").val(oFBSS.Wet);
        $("#txtRF").val(oFBSS.RF);
        $("#txtViscosity").val(oFBSS.Viscosity);
        $("#txtFinalVolume").val(oFBSS.FinalVolume);
        $("#txtRestQty").val(oFBSS.RestQty);
        $("#txtPreviousRestQty").val(oFBSS.PreviousRestQty);
        $("#lblSugPreviousRestQty").text("Sug.Qty: "+oFBSS.SugPrevRestQty +"kg");

    }
    function GetSizingInformation(nFBID)
    {
        if (parseInt(nFBID) > 0)
        {
            $.ajax
            ({

                type: "GET",
                dataType: "json",
                url : _sBaseAddress+  "/FabricBatchProduction/GetFabricBatchProductionForSizing",
                data: { nFBID:nFBID},
                contentType: "application/json; charset=utf-8",
                success: function (data) {
                    debugger;
                    var oFabricBatchProduction = jQuery.parseJSON(data);
                    if(oFabricBatchProduction.BatchStatus==0)// if(parseInt(oFabricBatch.StatusInInt)==3)//Sizing finish
                    {
                        $('#btnRun').show();
                        $('#btnRunOut').hide();
                        MachineRefresh();
                        $( "#cboMachineName" ).prop( "disabled", false);

                        $('#cboMachineName').find('option:not(:first)').remove();

                        //$( "#cboFBPShift" ).prop( "disabled", false);

                        //$('#cboFBPShift').find('option:not(:first)').remove();
                    }
                    if(oFabricBatchProduction.BatchStatus==1)//if(parseInt(oFabricBatch.StatusInInt)==4)//Sizing
                    {
                        $('#btnRunOut').show();
                        $("#toolbarBeamSizing").show();
                        $('#txtStartDate').datebox({disabled:true});
                        $('#tpStartTime').timespinner({disabled:true});
                        $('#btnRun').hide();
                        $("#cboMachineName").icsLoadCombo({List: oFabricBatchProduction.FabricMachines,OptionValue: "FMID",DisplayText: "MachineCodeWithName"});
                        $("#cboMachineName").val(oFabricBatchProduction.FabricMachines[0].FMID);
                        $( "#cboMachineName" ).prop( "disabled", true);



                        $("#cboFBPShift").val(oFabricBatchProduction.ShiftID);
                        // $( "#cboFBPShift" ).prop( "disabled", true);
                    }
                    if(oFabricBatchProduction.BatchStatus==2)//if(parseInt(oFabricBatch.StatusInInt)>4)//Sizeing Finish
                    {
                        $('#txtProductName,#cboLot,#cboStore, #btnPickProduct,#btnPickChemicalPlannedProduct,#btnLotRefresh,#btnAddChemical,#btnDeleteChemical,#btnOutMaterials').hide();
                        $("#txtTotalFinishLengthY,#txtTotalFinishLengthM").prop( "disabled", true );
                        $('#tpStartTime,#tpEndTime').timespinner({disabled:true});
                        $('#txtStartDate,#txtEndDate').datebox({disabled:true});
                    }


                    if(oFabricBatchProduction.FabricBatchRawMaterials.length>0)
                    {
                        DynamicRefreshList(oFabricBatchProduction.FabricBatchRawMaterials,"tblFabricBatchRawMaterial");//rawmaterial refresh
                    }
                    if(parseInt(oFabricBatchProduction.FBPID)>0)
                    {
                        _oFabricBatchProduction = oFabricBatchProduction;
                        RefreshControl(oFabricBatchProduction);
                    }
                    else{
                        $("#txtStartDate").datebox("setValue", oFabricBatchProduction.StartDateSt);
                        $('#tpStartTime').timespinner('setValue', oFabricBatchProduction.StartDateStForTimeSpan);
                        $("#txtEndDate").datebox("setValue", oFabricBatchProduction.EndDateSt);
                        $('#tpEndTime').timespinner('setValue', oFabricBatchProduction.EndDateStForTimeSpan);
                        DynamicRefreshList(oFabricBatchProduction.FBPBs,"tblBeams");
                    }
                    SetFBSizingSolFieldSet(oFabricBatchProduction.oFBSS);

                },
                error: function (xhr, status, error)
                {
                    alert(error);
                }
            });
        }
    }
    function RefreshControl(oFabricBatchProduction)
    {
        $("#txtTotalFinishLengthY").val(ConvertToFixed2(oFabricBatchProduction.Qty));
        $("#txtTotalFinishLengthM").val(GetMeter(oFabricBatchProduction.Qty,2));
        $('#tpStartTime').timespinner('setValue', oFabricBatchProduction.StartDateStForTimeSpan);
        $('#tpEndTime').timespinner('setValue', oFabricBatchProduction.EndDateStForTimeSpan);
        $('#txtStartDate').datebox('setValue', oFabricBatchProduction.StartDateSt);
        $('#txtEndDate').datebox('setValue',oFabricBatchProduction.EndDateSt);

        $('#txtSizingDuration').val(oFabricBatchProduction.BatchDuration);

        DynamicRefreshList(oFabricBatchProduction.FBPBs,"tblBeams");
        DynamicRefreshList(oFabricBatchProduction.FBPBs1,"tblBeamsSizing");
        SetRemainingLength();
    }

    //Raw Material Start
    function  AddChemicalDetail()
    {
        debugger;
        if (parseInt($("#cboStore").val()) == 0) {
            alert("Please select a store");
            $("#cboStore").focus();
            $("#cboStore").addClass("errorFieldBorder");
            return false;
        } else {
            $("#cboStore").removeClass("errorFieldBorder");
        }
        if ( _oProduct ==null || _oProduct.ProductID <= 0) {
            alert("Please select a product.");
            $("#txtProductName").focus();
            $("#txtProductName").addClass("errorFieldBorder");
            return false;
        } else {
            $("#txtProductName").removeClass("errorFieldBorder");
        }
        if (parseInt($("#cboLot").val()) == 0) {
            alert("Please select a Lot");
            $("#cboLot").focus();
            $("#cboLot").addClass("errorFieldBorder");
            return false;
        } else {
            $("#cboLot").removeClass("errorFieldBorder");
        }
        if($('#txtQty').val()<=0)
        {
            alert("Qty Should be Greater than 0");
            $("#txtQty").focus();
            $("#txtQty").addClass("errorFieldBorder");
            return false;
        }else{
            $("#txtQty").removeClass("errorFieldBorder");
        }
        var nLotQty = GetLotQty($("#cboLot").val());
        if($('#txtQty').val()>nLotQty)
        {
            alert("Qty Should Less than or Equal Lot Qty"+nLotQty);
            $("#txtQty").focus();
            $("#txtQty").addClass("errorFieldBorder");
            return false;
        }else{
            $("#txtQty").removeClass("errorFieldBorder");
        }

        var oNewFBRMaterials = [];
        var oFBRMaterial = {
            FBID :_oFabricBatchProduction.FBID,
            FBRMID :0,
            ProductID :_oProduct.ProductID,
            LotID:$("#cboLot").val(),
            Qty:$('#txtQty').val(),
            WeavingProcess :1,
            FabricChemicalPlanID: (_oProduct.ErrorMessage == '') ? 0 : _oProduct.FabricChemicalPlanID,
            //WaterQty:parseFloat($("#txtWaterQty").val()),
            //Dry:parseFloat($("#txtDry").val()),
            //Wet:parseFloat($("#txtWet").val()),
            //RF:parseFloat($("#txtRF").val()),
            //Viscosity:parseFloat($("#txtViscosity").val()),
            //FinalVolume:parseFloat($("#txtFinalVolume").val()),
            //RestQty:parseFloat($("#txtRestQty").val()),
            IsChemicalOut:true
        };
        if(parseFloat(oFBRMaterial.Qty)<=0)
        {
            alert("Sorry, Lot Qty should be greater than 0.");
            return;
        }
        oNewFBRMaterials.push(oFBRMaterial);
        $("#txtProductName").removeClass("fontColorOfPickItem");
        $("#txtProductName").val("");
        _oProduct = "";
        $('#cboLot').empty();
        $('#cboStore').val(0);
        $("#txtQty").val(0);
        _oLots=[];
        sessionStorage.setItem("Lots",[])//reset lots session storage
        $('#cboStore').focus();
        $("#txtWaterQty,#txtDry,#txtWet,#txtRF,#txtViscosity,#txtFinalVolume,#txtRestQty").val("");

        Out(oNewFBRMaterials, false,-1, false);
    }
    function DeleteChemicalDetail()
    {
        var oFBRM= $("#tblFabricBatchRawMaterial").datagrid("getSelected");
        if (oFBRM == null || parseInt(oFBRM.FBRMID) <= 0) {
            alert("Please select an item from list!");
            return false;
        }
        if (parseInt(oFBRM.ReceiveBy)!=0) {
            alert("Sorry, This item already Received!");
            return false;
        }

        if (!confirm("Confirm to Delete?")) return false;
        var nRowIndex = $("#tblFabricBatchRawMaterial").datagrid("getRowIndex", oFBRM);
        if (parseInt(oFBRM.FBRMID) > 0)
        {
            $.ajax
            ({
                type: "GET",
                dataType: "json",
                url : _sBaseAddress+  "/FabricBatch/DeleteRowMaterial",
                data: { id: oFBRM.FBRMID},
                contentType: "application/json; charset=utf-8",
                success: function (data) {
                    var feedbackmessage = jQuery.parseJSON(data);
                    if (feedbackmessage == "Deleted")
                    {
                        alert("Delete sucessfully");
                        $("#tblFabricBatchRawMaterial").datagrid("deleteRow", nRowIndex);
                    }
                    else
                    {
                        alert(feedbackmessage);
                    }
                },
                error: function (xhr, status, error)
                {
                    alert(error);
                }

            });
        }
    }

    function GetLotQty(nLotID)
    {
        debugger;
        //var oLots =  sessionStorage.getItem("Lots");

        //   var oLots =  jQuery.parseJSON(sessionStorage.getItem("Lots"));
        for(var i=0;i<_oLots.length;i++)
        {
            //alert(nLotID);

            if(parseInt(_oLots[i].LotID)== parseInt(nLotID))
            {
                return _oLots[i].Balance;
            }
        }
        return 0;
    }

    function RefreshLot()
    {

        if (parseInt($("#cboStore").val()) == 0) {
            alert("Please select a store");
            $("#cboStore").focus();
            $("#cboStore").addClass("errorFieldBorder");
            return false;
        } else {
            $("#cboStore").removeClass("errorFieldBorder");
        }

        if ( _oProduct ==null || _oProduct.ProductID <= 0) {
            alert("Please select a product.");
            $("#txtProductName").focus();
            $("#txtProductName").addClass("errorFieldBorder");
            return false;
        } else {
            $("#txtProductName").removeClass("errorFieldBorder");
        }

        var oLot = {
            ProductID: _oProduct.ProductID,
            WorkingUnitID: parseInt($("#cboStore").val())
        };

        $.ajax({
            type: "POST",
            dataType: "json",
            url: _sBaseAddress + "/Lot/GetsLot",
            traditional: true,
            data: JSON.stringify(oLot),
            contentType: "application/json; charset=utf-8",
            success: function (data) {
                var oLots =  jQuery.parseJSON(data);
                if (oLots != null) {
                    if (oLots.length > 0) {
                        _oLots=oLots;
                        sessionStorage.setItem("Lots",oLots);
                        $("#cboLot").icsLoadCombo({
                            List: oLots,
                            OptionValue: "LotID",
                            DisplayText: "LotWithBalance"
                        });
                    }
                    else {
                        alert("No Lot Found.");
                    }
                }
                else {
                    alert("No Lot Found");
                }
            },
            error: function (xhr, status, error) {
                alert(error);
            }
        });

    }

    function ValidateInputRM(bIsCheckList)
    {
        if(parseInt(_oFabricBatchProduction.FBID)<=0)
        {
            alert("Sorry, there is no Fabric Batch!");
            return false;
        }

        if(parseInt(_oFabricBatchProduction.FEOID)<=0)
        {
            alert("Sorry, there is no Fabric Execution Order!");
            return false;
        }

        if(bIsCheckList)
        {
            var oRows = $("#tblFabricBatchRawMaterial").datagrid("getRows");
            var nLength = oRows.length;
            var bIsNotReceivedItemFound = false;
            if(nLength>0)
            {
                for(var i=0;i<nLength;i++)
                {
                    if(oRows[i].ReceiveBy == 0)
                    {
                        bIsNotReceivedItemFound = true;
                        break;
                    }
                }
            }
            else
            {
                alert("No item list.");
                return false;
            }

            if(!bIsNotReceivedItemFound)
            {
                alert("All items in the list already received.");
                return false;
            }
        }

        return true;
    }

    function RefreshObjectRawMaterial()
    {
        var oFabricBatch= {
            FBID:_oFabricBatchProduction.FBID,
            IsRawMaterialOut:true,
            IsYarn:false,
            FabricBatchRawMaterials:$('#tblFabricBatchRawMaterial').datagrid('getRows')
        };
        return oFabricBatch;
    }

    function Out(oFabricBatchRawMaterials, bIsEdit,nSelectedIndex,bIsCheckList)
    {

        debugger;
        if(!ValidateInputRM(bIsCheckList)) return false;

        var oFabricBatch = {
            FabricBatchRawMaterials:[],
            FBID:0,
            IsYarn:false
        };//IsYarn:false; chemical Out
        if(oFabricBatchRawMaterials!=undefined && oFabricBatchRawMaterials!=null && oFabricBatchRawMaterials.length>0)
        {
            for(var i=0;i<oFabricBatchRawMaterials.length;i++){
                oFabricBatchRawMaterials[i].IsChemicalOut=true;
            }

            oFabricBatch.FabricBatchRawMaterials = oFabricBatchRawMaterials;
        }
        else
        {
            endEditing();
            debugger;
            oFabricBatch = RefreshObjectRawMaterial();
            if(oFabricBatch.FabricBatchRawMaterials==null|| oFabricBatch.FabricBatchRawMaterials.length<=0)
            {
                alert("Sorry, there is no Chemicals");
                return false;
            }
            else
            {
                debugger;
                var oChemicalOuts=oFabricBatch.FabricBatchRawMaterials;
                var nChemicalOutItem=0;
                for(var i=0;i<oChemicalOuts.length;i++){
                    if(oChemicalOuts[i].ReceiveBy!=0)
                        nChemicalOutItem++;
                }

                if(nChemicalOutItem==oChemicalOuts.length){
                    alert("Sorry, No remaining item found to out.");
                    return false;
                }
            }
        }
        $.ajax({
            type: "POST",
            dataType: "json",
            url : _sBaseAddress+"/FabricBatch/OutRowMaterials",
            traditional: true,
            data:  JSON.stringify(oFabricBatch),
            contentType: "application/json; charset=utf-8",
            success: function (data) {

                debugger;
                oFabricBatch = jQuery.parseJSON(data);
                if (oFabricBatch.IsRawMaterialOut==false && (oFabricBatch.ErrorMessage==null || oFabricBatch.ErrorMessage==""))
                {
                    if(bIsEdit)
                    {
                        $('#tblFabricBatchRawMaterial').datagrid('updateRow', { index: nSelectedIndex, row: oFabricBatch.FabricBatchRawMaterials[0] });
                    }else{
                        for(var i=0;i<oFabricBatch.FabricBatchRawMaterials.length;i++)
                        {
                            $("#tblFabricBatchRawMaterial").datagrid("appendRow", oFabricBatch.FabricBatchRawMaterials[i]);
                        }
                    }

                }else if(oFabricBatch.IsRawMaterialOut && (oFabricBatch.ErrorMessage==null || oFabricBatch.ErrorMessage==""))
                {
                    alert("Chemical Out Successfully.");
                    if(oFabricBatch.StatusInInt==3)
                    {
                        $('#btnRun').show();
                    }
                    RefreshList(oFabricBatch.FabricBatchRawMaterials)//refresh Chemicals
                }
                else {
                    alert(oFabricBatch.ErrorMessage);
                }
            },
            error: function (xhr, status, error) {
                alert(error);
            }

        });
    }
    //Rawmanterial End


    //Run Start
    function ValidateInput()
    {
        if(parseInt(_oFabricBatchProduction.FBID)<=0)
        {
            alert("Sorry, there is no Fabric Batch!");
            return false;
        }
        if(parseInt($('#cboMachineName').val())<=0)
        {
            alert("Select Machine!");
            $('#cboMachineName').focus();
            return false;
        }
        if(parseInt($('#cboFBPShift').val())<=0)
        {
            alert("Select Shift!");
            $('#cboFBPShift').focus();
            return false;
        }

        return true;
    }

    function RefreshObject()
    {
        var dStartDate =$('#txtStartDate').datebox('getValue');
        var startTime= $('#tpStartTime').timespinner('getValue');
        var sTime=startTime.split(':');
        var hStartTime= parseFloat(sTime[0]);
        var mStartTime= parseFloat(sTime[1]);
        dStartDate = new Date(dStartDate);
        dStartDate.setHours(hStartTime);
        dStartDate.setMinutes(mStartTime);

        var oFabricBatchProduction= {
            FBPID:0,
            FBID:_oFabricBatchProduction.FBID,
            WeavingProcess:1,
            FMID:$('#cboMachineName').val(),
            StartTime: dStartDate,
            FabricBatchStatus:4,//Sizing
            FBPriviousStatus:3,//Warping-finsh
            Qty:$('#txtTotalFinishLengthY').val(),
            ShiftID : $('#cboFBPShift').val()
        };
        return oFabricBatchProduction;
    }

    function Run()
    {
        if(!ValidateInput()) return;
        var oFabricBatchProduction = RefreshObject();
        oFabricBatchProduction.FBPBs = $("#tblBeamsSizing").datagrid("getRows");

        $.ajax({
            type: "POST",
            dataType: "json",
            url : _sBaseAddress+"/FabricBatchProduction/Save",
            traditional: true,
            data:  JSON.stringify(oFabricBatchProduction),
            contentType: "application/json; charset=utf-8",
            success: function (data) {
                var oFabricBatchProduction = jQuery.parseJSON(data);
                if (oFabricBatchProduction.FBPID>0)
                {
                    alert("Succefully Run");
                    $('#txtStatus').val(oFabricBatchProduction.FabricBatchStatusInString);
                    $('#tpStartTime').timespinner({disabled:true});
                    $('#txtStartDate').datebox({disabled:true});
                    $('#tpStartTime').timespinner('setValue', oFabricBatchProduction.StartDateStForTimeSpan);
                    $('#txtStartDate').datebox('setValue', oFabricBatchProduction.StartDateSt);
                    $('#btnRunOut').show();
                    $("#toolbarBeamSizing").show();
                    $('#btnRun').hide();
                    $('#txtSizingDuration').val(oFabricBatchProduction.BatchDuration);
                    _oFabricBatchProduction=oFabricBatchProduction;

                    DynamicRefreshList(oFabricBatchProduction.FBPBs,"tblBeamsSizing");
                    return false ;

                }
                else {
                    alert(oFabricBatchProduction.ErrorMessage);
                }
            },
            error: function (xhr, status, error) {
                alert(error);
            }
        });
    }
    //Run end

    //RunOut Start
    function RunOut()
    {

        if(parseInt(_oFabricBatchProduction.FBPID)<=0)
        {

            alert("Sorry, there is no Fabric Batch Production!");
            return false;
        }
        if(parseInt(_oFabricBatchProduction.BatchStatus)!=1)
        {
            alert("Please Run First Then Run Out!");
            return false;
        }

        if($("#tblBeamsSizing").datagrid("getRows").length <= 0)
        {
            alert("Add Beam!");
            $('#cboBeams').focus();
            return false;
        }
        if(parseInt($('#cboMachineName').val())<=0)
        {
            alert("Select machine!");
            $('#cboMachineName').focus();
            return false;
        }
        if(parseInt($('#cboFBPShift').val())<=0)
        {
            alert("Select Shift!");
            $('#cboFBPShift').focus();
            return false;
        }

        var dEndDate =$('#txtEndDate').datebox('getValue');
        var EndTime= $('#tpEndTime').timespinner('getValue');
        var sTime=EndTime.split(':');
        var hEndTime= parseFloat(sTime[0]);
        var mEndTime= parseFloat(sTime[1]);
        dEndDate = new Date(dEndDate);
        dEndDate.setHours(hEndTime);
        dEndDate.setMinutes(mEndTime);


        var oFabricBatchProduction = {
            FBPID:_oFabricBatchProduction.FBPID,
            FBID:_oFabricBatchProduction.FBID,
            WeavingProcess : 1,
            FMID:$('#cboMachineName').val(),
            FabricBatchStatus:5,//sizing finish
            FBPriviousStatus:_oFabricBatchProduction.FabricBatchStatusInInt,
            EndTime:dEndDate,
            Qty:$('#txtTotalFinishLengthY').val(),
            IsFromRunOut:true,
            ShiftID : $('#cboFBPShift').val()

        };

        $.ajax({
            type: "POST",
            dataType: "json",
            url : _sBaseAddress+"/FabricBatchProduction/Save",
            traditional: true,
            data:  JSON.stringify(oFabricBatchProduction),
            contentType: "application/json; charset=utf-8",
            success: function (data) {
                //
                var  oFabricBatchProduction = jQuery.parseJSON(data);
                if (oFabricBatchProduction.FBPID>0)
                {
                    alert("Succefully Run Out");
                    $('#txtStatus').val(oFabricBatchProduction.FabricBatchStatusInString);
                    $('#txtSizingDuration').val(oFabricBatchProduction.BatchDuration);
                    $('#btnRunOut').hide();

                    $("#toolbarBeamSizing").hide();

                    $('#tblBeamsSizing').datagrid('getRows').forEach(function(obj, index){
                        if(!obj.IsFinish){
                            obj.IsFinish=true;
                            obj.IsFinishSt='Finished';
                            $("#tblBeamsSizing").datagrid("updateRow", { index: index, row: obj });
                        }
                    });
                    $('#txtProductName,#cboLot,#cboStore, #btnPickProduct,#btnPickChemicalPlannedProduct,#btnLotRefresh,#btnAddChemical,#btnDeleteChemical,#btnOutMaterials').hide();
                    $('#tpEndTime').timespinner({disabled:true});
                    $('#txtEndDate').datebox({disabled:true});
                    $('#tpEndTime').timespinner('setValue', oFabricBatchProduction.EndDateStForTimeSpan);
                    $('#txtEndDate').datebox('setValue', oFabricBatchProduction.EndDateSt);
                    return false;
                }
                else {
                    alert(oFabricBatchProduction.ErrorMessage);
                }
            },
            error: function (xhr, status, error) {
                alert(error);
            }

        });
    }
    //RunOut End


    function RefreshList(oList)
    {
        var data=oList;
        data={"total":""+data.length+"","rows":data};
        $('#tblFabricBatchRawMaterial').datagrid('loadData',data);
    }


    function ReloadBeam(){
        var oFabricMachine={
            FMID:0
        };

        var obj = {
            BaseAddress: _sBaseAddress,
            Object: oFabricMachine,
            ControllerName: "FabricBatchProduction",
            ActionName: "GetsBeamForSizing",
            IsWinClose: false
        };
        $.icsDataGets(obj, function (response) {
            if (response.status && response.objs.length > 0) {
                if (response.objs[0].FMID > 0) {
                    _oBeams=response.objs;
                    $("#cboBeams").icsLoadCombo({List: _oBeams,OptionValue: "FMID",DisplayText: "Code"});
                }
                else
                {
                    $("#cboBeams").icsLoadCombo({List: [],OptionValue: "FMID",DisplayText: "Code"});
                }
            }
            else
            {
                $("#cboBeams").icsLoadCombo({List: [],OptionValue: "FMID",DisplayText: "Code"});
            }
        });
    }

    function AddFBSSol()
    {
        if(_oFabricBatchProduction.FBID<=0){
            alert("no Fabric Batch found !");
            return false;
        }
        var oFBSS = {
            FBID :_oFabricBatchProduction.FBID,

            WaterQty:parseFloat($("#txtWaterQty").val()),
            Dry:parseFloat($("#txtDry").val()),
            Wet:parseFloat($("#txtWet").val()),
            RF:parseFloat($("#txtRF").val()),
            Viscosity:parseFloat($("#txtViscosity").val()),
            FinalVolume:parseFloat($("#txtFinalVolume").val()),
            RestQty:parseFloat($("#txtRestQty").val()),
            PreviousRestQty:parseFloat($("#txtPreviousRestQty").val())

        }

        $.ajax
            ({
                type: "POST",
                dataType: "json",
                url : _sBaseAddress+  "/FabricBatchProduction/SaveFBSS",
                data: JSON.stringify(oFBSS),
                contentType: "application/json; charset=utf-8",
                success: function (data) {
                    var result = jQuery.parseJSON(data);
                    if(result !=null){
                        alert("Save Successfully !");
                    }


                },
                error: function (xhr, status, error)
                {
                    alert(error);
                }
            });


    }


    $("#btnBatchCardPrint").click(function () {

        if(_oFabricBatchProduction.FBID<=0)
        {
            alert("No Batch Card Found!");
            return;
        }


        //    Warping = 0, Sizing = 1, Drawing_IN = 2, Loom = 3

        //window.open(_sBaseAddress+ "/FabricBatch/PrintBatchCard?nFBID="+_nFBID);
        window.open(_sBaseAddress+ "/FabricBatch/PrintBatchCard_Dynamic?nFBID="+_oFabricBatchProduction.FBID+"&nProcess="+1); ///Sizing = 1
    });


</script>