@{
    ViewBag.Title = "Ready beams for weaving";
}
@model IEnumerable<ESimSol.BusinessObjects.FabricBatchProductionBeam>


<html>
    <head>
        <title>Ready beams for weaving</title>
    </head>
    <body>
        <div class="menuMainCollectionTable">
         
                <table id="tblBeams" title="Ready beams for weaving" class="easyui-datagrid" style="height:570px; width:100%;" fit="true" fitcolumns="true" rownumbers="true" pagination="false" singleselect="true" autorowheight="true" toolbar="#toolbarBeam">
                    <thead>
                        <tr>
                            <th data-options="field:'Selected',checkbox:true"></th>
                            <th field="Construction" width="12%">Construction</th>
                            <th field="OrderNo" width="10%">Dispo No</th>
                            <th field="BuyerName" width="15%">Buyer</th>
                            <th field="Weave" width="10%">Weave</th>
                            <th field="TotalEnds" width="8%" align="right">Total Ends</th>
                            <th field="BeamNo" width="8%">Beam No</th>
                            <th field="QtyInMtr" width="10%" align="right" formatter="formatPrice">Beam Length(M)</th>
                            <th field="StatusRBFW" width="10%" formatter="formatStatus">Status</th>
                            <th field="MachineCodeWithName" width="12%">Machine Name</th>
                            <th field="BatchQtyInMtr" width="10%" align="right" formatter="formatPrice">Till Weave Qty(M)</th>
                            <th field="YetWeaveQtyInMtr" width="10%" align="right" formatter="formatPrice">Yet to Weave Qty(M)</th>
                            <th field="BatchNo" width="12%">Program No</th>
                            <th field="SizingFinishDateStr" width="12%">Sizing Date</th>

                        </tr>
                    </thead>
                </table>
                <div id="toolbarBeam">
                    <table class="ms-custom-control">
                        <tr>
                            <td class="form-inline">
                                <select id="cboTextileSubUnit" class="form-control" style="width:130px"></select>
                                <input id="txtOrderNo" type="text" placeholder="Type Dispo no & press enter" style="width:163px;" class="form-control" />
                                <input id="txtBuyer" type="text" placeholder="Type buyer name & press enter" style="width:180px;" class="form-control" />
                                <input id="txtMachineNo" type="text" placeholder="Type machine & press enter" style="width:162px;" class="form-control" />
                                <input id="txtBeamNo" type="text" placeholder="Type beam no & press enter" style="width:164px;" class="form-control" />
                                <select id="cboStatus" class="form-control" style="width:130px">
                                    <option value="0">--Loom Status--</option>
                                    <option value="1">Loom Running</option>
                                    <option value="2">Ready For Loom</option>
                                    <option value="3">Hold Beam</option>
                                </select>
                                <a id="btnSearch" href="javascript:void(0)" class="easyui-linkbutton" iconcls="icon-search" plain="true">Search</a>
                            </td>
                        </tr>
                        <tr>
                            <td class="form-inline">
                                <div class="row">
                                    <div class="col-lg-10">
                                        
                                        <a id="btnCreateWeaving" href="javascript:void(0)" class="easyui-linkbutton" iconcls="icon-add" plain="true">Weaving</a>
                                        <a id="btnPrintFBPB" href="javascript:void(0)" class="easyui-linkbutton" iconcls="icon-print" plain="true">Print List</a>
                                        <a id="btnReadyBeamStock" href="javascript:void(0)" class="easyui-linkbutton" iconcls="icon-excel" plain="true">Ready Beam In Stock</a>
                                        <a id="btnExcelDailyLog" href="javascript:void(0)" class="easyui-linkbutton" iconcls="icon-excel" plain="true">Daily Log Report</a>
                                        <a id="btnExcelWeavingFormat" href="javascript:void(0)" class="easyui-linkbutton" iconcls="icon-excel" plain="true">Excel Fromat</a>
                                        <a id="btnRefreshGrid" href="javascript:void(0)" class="easyui-linkbutton" iconcls="icon-reload" plain="true">Refresh</a>
                                        <a id="btnRemoveFromList" href="javascript:void(0)" class="easyui-linkbutton" iconcls="icon-remove" plain="true">Clear</a>
                                        <a id="btnPrintLoomCard" href="javascript:void(0)" class="easyui-linkbutton" iconcls="icon-print" plain="true">Print Loom Card</a>
                                       
                                    </div>
                                    <div class="col-lg-2">

                                        <div class="col-md-7"><button type="button" class="btn btn-sm" aria-label="Left Align" onclick="onClickImportWindow()"> <span class="glyphicon glyphicon-import" aria-hidden="true"></span> Import</button></div>
                                    </div>

                                </div>

                            </td>
                        </tr>
                    </table>

                </div>

                <div id="winProposeLoom" style="width:200px;" class="easyui-window" title="Fabric Batch" data-options="modal:true,closed:true,collapsible:false,minimizable:false,maximizable:false,closable:false">
                    <div id="divwinFabricBatch" tabindex="-1">
                        <fieldset>
                            <table style="width:100%;">
                                <tr>

                                    <td>
                                        <input id="txtProposeLooms" type="text" style="width:86%;" class="number" />
                                    </td>
                                </tr>
                            </table>
                        </fieldset>
                        <fieldset>
                            <legend>Actions</legend>
                            <div style="float:right;">
                                <a id="btnOKProposeLoomWindow" href="javascript:void(0)" class="easyui-linkbutton" iconcls="icon-excel" plain="true"> OK </a>
                                <a id="btnCloseProposeLoomWindow" href="javascript:void(0)" class="easyui-linkbutton" iconcls="icon-cancel" plain="true">Close</a>
                            </div>
                        </fieldset>
                    </div>
                </div>

                <div id="winComingBeamFinished" style="width:400px;" class="easyui-window" title="Fabric Batch" data-options="modal:true,closed:true,collapsible:false,minimizable:false,maximizable:false,closable:false">
                    <div id="divwinFabricBatch" tabindex="-1">
                        <fieldset>
                            <table style="width:100%;">
                                <tr>
                                    <td>
                                        <label>Coming Beam Qty</label>
                                    </td>
                                    <td>
                                        <input id="txtComingBeam" type="text" style="width:50%;" class="number" />
                                    </td>
                                </tr>
                            </table>
                        </fieldset>
                        <fieldset>
                            <legend>Actions</legend>
                            <div style="float:right;">
                                <a id="btnOKDailyLogReport" href="javascript:void(0)" class="easyui-linkbutton" iconcls="icon-excel" plain="true"> OK </a>
                                <a id="btnCloseDailyLogReport" href="javascript:void(0)" class="easyui-linkbutton" iconcls="icon-cancel" plain="true">Close</a>
                            </div>
                        </fieldset>
                    </div>
                </div>

                <div id="winImport" style="width:600px;" class="easyui-window" title="Fabric Batch" data-options="modal:true,closed:true,collapsible:false,minimizable:false,maximizable:false,closable:false">
                    <div>
                        @using (Html.BeginForm("ViewFabricBatchProductioUpload", "FabricBatchProduction", FormMethod.Post, new { enctype = "multipart/form-data" }))
                        {
                            <fieldset>

                                <table style="width:100%;">
                                    <tr>
                                        <td>

                                            <div class="col-md-5"><input type="file" id="fileImport" name="fileImport" /></div>

                                        </td>

                                    </tr>
                                    <tr>
                                        <td>
                                            <input type="text" id="Params" name="Params" hidden />
                                            Shift :<select id="cboShift" name="cboShift"></select>&nbsp;
                                            Date :
                                            <input id="txtFinishDate" style="width:150px;" type="text" class="easyui-datebox" required="required" name="txtFinishDate" value="date()" data-options="formatter:icsdateformat,parser:icsdateparser" />
                                            <input id="txtFinishTimer" class="easyui-timespinner" style="width:60px;" name="txtFinishTimer" value="00:00" required="required" />
                                            <input type="checkbox" id="chkFinishDate" name="chkBox">&nbsp; &nbsp; RunOut &nbsp; &nbsp;
                                        </td>
                                    </tr>
                                </table>
                            </fieldset>
                            <fieldset>
                                <legend>Actions</legend>

                                <button type="submit" class="btn btn-sm" aria-label="Left Align" onclick="ValidateUpload()"> <span class="glyphicon glyphicon-import" aria-hidden="true"></span> Import</button>
                                <a id="btnCloseImportLoomWindow" href="javascript:void(0)" class="easyui-linkbutton" iconcls="icon-cancel" plain="true">Close</a>

                            </fieldset>
                        }

                    </div>
                </div>

</div>
    </body>
</html>
<style>
    #toolbarBeam .ms-custom-control .col-lg-5, .col-lg-7, .col-md-5, .col-md-7{
        padding-left:0px;
        padding-right:0px;
    }
</style>
<script type="text/javascript">
    var _sBaseAddress = "";
    var _oFBPBs = [];
    var _sBuyerIDs="";
    var _oHRMShifts=[];
    var _IsClear=false;
    var _nBUID=0;
 
    $(document).ready(function () {
        _sBaseAddress = @Html.Raw(new System.Web.Script.Serialization.JavaScriptSerializer().Serialize(HttpContext.Current.Session[SessionInfo.BaseAddress]));
        _oFBPBs = @Html.Raw(new System.Web.Script.Serialization.JavaScriptSerializer().Serialize(Model));
        var MenuID = @Html.Raw(new System.Web.Script.Serialization.JavaScriptSerializer().Serialize(ViewBag.MenuID));
        var sMessage =@Html.Raw(new System.Web.Script.Serialization.JavaScriptSerializer().Serialize(ViewBag.Message));
        var oTextileSubUnits =@Html.Raw(new System.Web.Script.Serialization.JavaScriptSerializer().Serialize(@ViewBag.TextileSubUnits));
        _oHRMShifts = @Html.Raw(new System.Web.Script.Serialization.JavaScriptSerializer().Serialize(@ViewBag.HRMShifts));
     
        $("#cboTextileSubUnit").icsLoadCombo({List: oTextileSubUnits,OptionValue: "TSUID", DisplayText: "Name", InitialValue:'--Select Shade--'});


        if(sMessage!=""){ alert(sMessage);}

        sessionStorage.setItem("MenuID", MenuID);
        var oSessionList = jQuery.parseJSON(sessionStorage.getItem("Beams"));
        if(oSessionList!=null && oSessionList!="null" && oSessionList.length > 0)
        {
            DynamicRefreshListForMultipleSelection(oSessionList,"tblBeams");
           // DynamicRefreshList(oSessionList,"tblBeams");
        }
        else{
            DynamicRefreshListForMultipleSelection(_oFBPBs, "tblBeams");
           // DynamicRefreshList(_oFBPBs, "tblBeams");
        }
        debugger;
        var nFBPBeamID = sessionStorage.getItem("FBPBeamID");
        if(nFBPBeamID != null)
        {
            var oBeams = $("#tblBeams").datagrid("getRows");
            for(var i=0;i<oBeams.length;i++)
            {
                if(oBeams[i].FBPBeamID == parseInt(nFBPBeamID))
                {
                    $("#tblBeams").datagrid("selectRow", i);
                    break;
                }
            }
        }
        $("#txtProposeLooms").val(200);
    });


    function formatStatus(val,row){
        if (row.WeavingProcessType==1){
            return '<div style="background-color:#E3BFF6; width:100%; height:100%">'+val+'</div>';
        }
        else if (row.WeavingProcessType==3 && row.EndTimeStr==""){
            return '<div style="background-color:#80C761;width:100%">'+val+'</div>';
        }
        else if (row.WeavingProcessType==3 && row.EndTimeStr!=""){
            return '<div style="background-color:#17B1EA;width:100%">'+val+'</div>';
        }
        else
            return val;
    }



    $("#btnPrintFBPB").click(function(){

        var oFBPBs = $("#tblBeams").datagrid("getRows");
        if(!oFBPBs.any()){
            alert("No data found.");
            return false;
        }
        var objs=[{key:'txtFBPBList', data: oFBPBs.select('FBPBeamID').separator() }];
        OpenWindowWithPost(_sBaseAddress+'/FabricBatchProduction/PrintFBPB',objs )

        //var nts = ((new Date()).getTime()) / 1000;
        //window.open(_sBaseAddress + '/FabricBatchProduction/PrintFabricBatchProductionBeam?nFabricID=' + oFabric.FabricID + "&nts=" + nts, "_blank");
    });






    $("#txtOrderNo").keydown(function(e){
        if(e.keyCode === 13)
        {
            if($.trim($(this).val()) == ""){
                alert("Type Dispo no.");
                return false;
            }
            var oFBPB={
                FEONo : $.trim($(this).val())
            };
            SearchFBPB(oFBPB);
        }
        else if(e.keyCode === 8)
        {
           
            $("#txtOrderNo").focus();
            if(!_IsClear){
                DynamicRefreshList(_oFBPBs, "tblBeams");
            }
           
        }
    });

    $("#txtBeamNo").keydown(function(e){
        if(e.keyCode === 13)
        {
            if($.trim($(this).val()) == ""){
                alert("Type beam no.");
                return false;
            }
            var oFBPB={
                BeamNo : $.trim($(this).val())
            };
            SearchFBPB(oFBPB);
        }
        else if(e.keyCode === 8)
        {
         
            $("#txtBeamNo").focus();
            if(!_IsClear){
                DynamicRefreshList(_oFBPBs, "tblBeams");
            }
        }
    });
    
    $("#txtMachineNo").keydown(function(e){
        if(e.keyCode === 13)
        {
            if($.trim($(this).val()) == ""){
                alert("Type machin no.");
                return false;
            }
            var oFBPB={
                MachineCode : $.trim($(this).val())
            };
            $("#txtMachineNo").focus();
            SearchFBPB(oFBPB);
        }
        else if(e.keyCode === 8)
        {
            debugger;
           
            $("#txtMachineNo").focus();
            if(!_IsClear){
                DynamicRefreshList(_oFBPBs, "tblBeams");
            }
        }
    });

    $("#btnRefreshGrid").click(function(e){
        _IsClear=false;
        DynamicRefreshListForMultipleSelection(_oFBPBs, "tblBeams");

    });
    $("#btnRemoveFromList").click(function(e){
        _IsClear=true;
        DynamicRefreshListForMultipleSelection([], "tblBeams");

    });




    $("#btnSearch").click(function(){
        var oFBPB={
            FEONo : $.trim($("#txtOrderNo").val()),
            BuyerName : _sBuyerIDs,
            BeamNo:$("#txtBeamNo").val(),
            MachineCode:$("#txtMachineNo").val(),
            Status : $("#cboStatus").val(),
            TSUID: $("#cboTextileSubUnit").val()
        };
        SearchFBPB(oFBPB);
    });

    $("#txtBuyer").keydown(function (e) {
        if (e.keyCode === 13) {
            var oContractor = {
                Params: 2 + '~' + $.trim($("#txtBuyer").val())
            };

            var obj = {
                BaseAddress: _sBaseAddress,
                Object: oContractor,
                ControllerName: "Contractor",
                ActionName: "ContractorSearchByNameType",
                IsWinClose: false
            };
            $.icsDataGets(obj, function (response) {
                if (response.status && response.objs.length > 0) {
                    if (response.objs[0].ContractorID > 0) {
                        var tblColums = []; var oColumn = { field: "Name", title: "Name", width: 400, align: "left" }; tblColums.push(oColumn);
                        var oPickerParam = {
                            winid: 'winBuyers',
                            winclass: 'clsBuyer',
                            winwidth: 400,
                            winheight: 460,
                            tableid: 'tblBuyers',
                            tablecolumns: tblColums,
                            datalist: response.objs,
                            multiplereturn: true,
                            searchingbyfieldName: 'Name',
                            windowTittle: 'Buyer List'
                        };
                        $.icsPicker(oPickerParam);
                        IntializePickerbutton(oPickerParam);
                    }
                    else {
                        alert(response.objs[0].ErrorMessage);
                    }
                }
                else {
                    alert("Sorry, No Buyer Found.");
                }
            });
        }
        else if (e.keyCode === 8) {
            _sBuyerIDs = "";
            $(this).val("");
            DynamicRefreshList(_oFBPBs, "tblBeams");
        }
    });

    function IntializePickerbutton(oPickerobj) {
        $("#" + oPickerobj.winid).find("#btnOk").click(function () {
            SetPickerValueAssign(oPickerobj);
        });
        $(document).find('.' + oPickerobj.winclass).keydown(function (e) {
            if (e.which === 13) {
                SetPickerValueAssign(oPickerobj);
            }
        });
    }
    function SetPickerValueAssign(oPickerobj) {
        var oreturnObj = null, oreturnobjs = [];

        if (oPickerobj.multiplereturn) {
            oreturnObjs = $('#' + oPickerobj.tableid).datagrid('getChecked');
        } else {
            oreturnObj = $('#' + oPickerobj.tableid).datagrid('getSelected');
        }

        if (oPickerobj.winid == 'winBuyers') {
            if (oreturnObjs != null && oreturnObjs.length > 0) {
                var sBuyerIDs = "";
                for (var i = 0; i < oreturnObjs.length; i++) {
                    sBuyerIDs += oreturnObjs[i].ContractorID + ","
                }
                _sBuyerIDs = sBuyerIDs.substring(0, sBuyerIDs.length - 1);
                $('#txtBuyer').val(oreturnObjs.length + " buyer" + (oreturnObjs.length > 1 ? "s" : "") + " selected.");
                $('#txtBuyer').focus();
            }
            else {
                alert("Select item(s) from list.");
                return false;
            }
        }
        $("#" + oPickerobj.winid).icsWindow("close");
        $("#" + oPickerobj.winid).remove();
    }


    function SearchFBPB(oFBPB)
    {
        var obj = {
            BaseAddress: _sBaseAddress,
            Object: oFBPB,
            ControllerName: "FabricBatchProduction",
            ActionName: "SearchFBPB",
            IsWinClose: false
        };
        $.icsMaxDataGets(obj, function (response) {
            if (response.status && response.objs.length > 0) {
                if ($.trim(response.objs[0].Errormessage) == "") {
                    if(_IsClear){
                        var results= response.objs;
                        for(var i=0; i<results.length;i++){
                            $('#tblBeams').datagrid('appendRow',results[i]);
                            
                        
                        }
                    }
                    else{
                        DynamicRefreshListForMultipleSelection(response.objs, "tblBeams");
                    }
                 
                  
                   
                    
                }
                else{
                    alert(response.objs[0].Errormessage);
                   // DynamicRefreshList([], "tblBeams");
                }
            }
            else {
                DynamicRefreshList([], "tblBeams");
            }
        });
    }

    $("#btnCreateWeaving").click(function(){
        var oFBPB = $("#tblBeams").datagrid("getSelected");
        if(oFBPB == null || oFBPB.FBPBeamID <= 0)
        {
            alert("Select an item from list.");
            return false;
        }
        _nBUID=0;
        _nBUID= parseInt(sessionStorage.getItem("BUID"));

        var obj = {
            BaseAddress: _sBaseAddress,
            TableId: "",
            OpenedPageTitle: "Fabric Batch Weaving Process",
            Object: oFBPB,
            ObjectId: oFBPB.FBPBeamID + "~" + oFBPB.BeamID + "~" + oFBPB.FBID + "~" + oFBPB.FabricSalesContractDetailID +"~"+oFBPB.FBPID+"~"+_nBUID,
            PrimaryKeyName: "FBPBeamID",
            ControllerName: "FabricBatchProduction",
            ActionName: "View_Weaving",
            BtnID : $(this).attr("id")
        };
        var oBeams = $("#tblBeams").datagrid("getRows");
        sessionStorage.setItem("RBForWeavingHeader", "Ready beams for weaving");
        sessionStorage.setItem("FBPBeamID", oFBPB.FBPBeamID);
        sessionStorage.setItem("Beams", JSON.stringify(oBeams));
        $.icsOpenPickerInNewPage(obj);
    });

    $('#btnReadyBeamStock').click(function(e){


        $("#txtProposeLooms").val(200);
        $("#winProposeLoom").icsWindow("open");
    });

    $("#btnCloseProposeLoomWindow").click(function(){
        $("#winProposeLoom").icsWindow("close");
    });
    $("#btnOKProposeLoomWindow").click(function(){

        var TotalEnds = (($("#txtProposeLooms").val())!="")? $("#txtProposeLooms").val() :200;

        var sqs=$.trim($("#txtOrderNo").val())+"~"+_sBuyerIDs +"~"+$("#txtBeamNo").val()+"~"+ $("#txtMachineNo").val()+"~"+ TotalEnds;

        window.open(_sBaseAddress + '/FabricBatchProduction/ExcelRptReadyBeamInStock?tsuid='+$('#cboTextileSubUnit').val()+'&qs=' + sqs, "_blank");
        $("#winProposeLoom").icsWindow("close");
    });
    $('#btnExcelDailyLog').click(function(e){

            
          $("#txtComingBeam").val(200);
        $("#winComingBeamFinished").icsWindow("open");
    });
   
    $("#btnOKDailyLogReport").click(function () {
        $("#winComingBeamFinished").icsWindow("close");
        window.open(_sBaseAddress + '/FabricReport/ExcelDailyLogReport?tsuid='+$('#cboTextileSubUnit').val()+'&sParams=' + (new Date()).toISOString() + '~' + "" + "~" + "" + "~" +0 + "~" + 0 + "~" + ""+"~"+0+"~"+$("#txtComingBeam").val(), "_blank");

    });
    $("#btnCloseDailyLogReport").click(function () {
        $("#winComingBeamFinished").icsWindow("close");

    });

    $("#btnExcelWeavingFormat").click(function(){
        var nts=(new Date()).getTime()/1000;

        var sParams=$.trim($("#txtOrderNo").val()) +'~'+ _sBuyerIDs +'~'+ $("#txtBeamNo").val() +'~'+ $("#txtMachineNo").val()+'~'+$('#cboStatus').val()+'~'+$("#cboTextileSubUnit").val();

        window.open(_sBaseAddress+ "/FabricBatchProduction/ExportWeavingProductionUploadFormatNew?sParams="+sParams+"&nts="+nts, "_blank");
    });

    $("#cboShift,#chkFinishDate").change(function(){
        debugger;
      
        var chkDate = ($('#chkFinishDate').is(':checked'))? true :false;
        $('#txtFinishDate').datebox('setValue', icsdateformat(new Date()));
        if($('#cboShift').val()==1)
        {
            if(chkDate){
                $('#txtFinishTimer').timespinner('setValue', "14:00");
            }
            else{
                $('#txtFinishTimer').timespinner('setValue', "06:00");
            }
        }
        if($('#cboShift').val()==2)
        {
            if(chkDate){
                $('#txtFinishTimer').timespinner('setValue', "22:00");
            }
            else{
                $('#txtFinishTimer').timespinner('setValue', "14:00");
            }
        }
        if($('#cboShift').val()==3)
        {
            if(chkDate){
                var tomorrow = new Date();
                tomorrow.setDate(tomorrow.getDate() + 1);
                $('#txtFinishTimer').timespinner('setValue', "06:00");
                $('#txtFinishDate').datebox('setValue', icsdateformat(tomorrow));
             
            }
            else{
                $('#txtFinishTimer').timespinner('setValue', "22:00");
            }
        }
        if($('#cboShift').val()==0)
        {
            $('#txtFinishTimer').timespinner('setValue', "00:00");
           
        }
    });

    function ValidateUpload(){
        debugger;
        
        if ($.trim($("#fileImport").val()) == "") {
            alert("No file found");
            return false;
        }
        if(parseInt($('#cboShift').val())<=0)
        {
            alert("Select Shift !");
            $('#cboShift').focus();
            return false;
        }

        else{
            var chkDate = ($('#chkFinishDate').is(':checked'))? true :false;
            var dStartDate =$('#txtFinishDate').datebox('getValue');
            var startTime= $('#txtFinishTimer').timespinner('getValue');
            var sTime=startTime.split(':');
            var hStartTime= parseFloat(sTime[0]);
            var mStartTime= parseFloat(sTime[1]);
            dStartDate = new Date(dStartDate);
            dStartDate.setHours(hStartTime);
            dStartDate.setMinutes(mStartTime);

            document.getElementById('Params').value = $('#cboShift').val() +'~'+ icsdatetimeformat(dStartDate) +'~' +chkDate;
            return true;
        }
    }
    function RefreshValueForImportWindow(){
        $("#fileImport").val("");
        $("#cboShift").icsLoadCombo({List: _oHRMShifts,OptionValue: "ShiftID",DisplayText: "ShiftWithDuration"});
      
        $('#txtFinishTimer').timespinner('setValue', "00:00");
        $('#txtFinishDate').datebox('setValue', icsdateformat(new Date()));
        $('#chkFinishDate').prop('checked', false);
       
    }
    function onClickImportWindow(){
        RefreshValueForImportWindow();
        $("#winImport").icsWindow("open");
    }

    $("#btnCloseImportLoomWindow").click(function(){
        $("#winImport").icsWindow("close");
    });
     
    $('#btnPrintLoomCard').click(function (e) {

        debugger;
        var getBeams = [];
        var getBeams = $("#tblBeams").datagrid("getChecked");
        if (getBeams.length <= 0) {
            alert("Please select an item from list.");
            return false;
        }
        var FBPBeamIDs="";
        for(var i=0;i<getBeams.length;i++){
            FBPBeamIDs += getBeams[i].FBPBeamID+',';
        }
        FBPBeamIDs= FBPBeamIDs.substring(0,FBPBeamIDs.length-1);
        console.log(FBPBeamIDs)
        var objs = [{ key: 'txtBeams', data: FBPBeamIDs}]
        var url = _sBaseAddress + '/FabricBatchProduction/PrintLoomCards'
        OpenWindowWithPost(url, objs);

    });

</script>
