@{
    ViewBag.Title = "Fabric Batch Production(Leasing)";
}
@model IEnumerable<ESimSol.BusinessObjects.FabricBatchProduction>
    <div id="progressbarParent" style="width:100%;height:100%;margin:0 auto;text-align:center; margin-left: auto;margin-right: auto;left: 0;right: 0;z-index: 1;">
        <div style="margin: 0px auto;margin-top: 251px;text-align:center;width:390px;">
            <label style="font-size:18px;">Please wait</label>
            <div id="progressbar" style="width:100%;height:37px;"></div>
        </div>
    </div>

    <div class="menuMainCollectionTable" id="regionFabricBatchProduction">
        <table id="tblFabricBatchProductions" title="Fabric Batch Production List" class="easyui-datagrid" fit="true" fitcolumns="false" rownumbers="true" pagination="true" singleselect="true" autorowheight="false" toolbar="#toolbar">
            <thead>
                <tr>
                    <th field="FEONo" width="9%">Order No</th>
                    <th field="BatchNo" width="9%">Batch No</th>
                    <th field="StartTimeSt" width="10%">Start Time</th>
                    <th field="EndTimeSt" width="10%">End Time</th>
                    <th field="Qty" width="10%" align="right" formatter="formatPrice">Qty(Y)</th>
                    <th field="Construction" width="10%">Construction</th>
                    <th field="FabricWeave" width="8%">Fabric Weave</th>
                    <th field="ColorName" width="10%">Color</th>
                    <th field="ProductionStatusSt" width="10%">Status</th>
                    <th field="FabricBatchStatusST" width="10%">Batch Status</th>
                    <th field="FabricMachineName" width="10%">Machine</th>
                    <th field="BuyerName" width="10%">Buyer</th>
                </tr>
            </thead>
        </table>
        <div id="toolbar">
            <select id="cboStatus" style="width:130px;height:22px;">
                <option value="0">--Select One--</option>
                <option value="2">Waiting</option>
                <option value="1">Running</option>
            </select>
            <a id="btnSearch" href="javascript:void(0)" class="easyui-linkbutton" iconcls="icon-search" plain="true">Search</a>
            <a id="btnAdvSearch" href="javascript:void(0)" class="easyui-linkbutton" iconcls="icon-search" plain="true">Adv. Search</a>
            <input type="text" id="txtDispoNoSearch" placeholder="Search by Dispo No" style="width:100px;text-align:left" />
            <a id="btnAdd" href="javascript:void(0)" class="easyui-linkbutton" iconcls="icon-add" plain="true">Add</a>
            <a id="btnDelete" href="javascript:void(0)" class="easyui-linkbutton" iconcls="icon-remove" plain="true">Delete</a>
            <a id="btnPrint" href="javascript:void(0)" class="easyui-linkbutton" iconcls="icon-print" plain="true">Print</a>
        </div>
    </div>

    <div id="winFabricBatchProduction" style="width:1200px;height:600px" class="easyui-window winstyle" title="Fabric Batch Warping" data-options="modal:true,closed:true,collapsible:false,minimizable:false,maximizable:false,closable:false">
        <div class="easyui-panel" style="font-family:Tahoma;text-align:center; width:100%;">
            <div style="padding-top:2px;width:100%;">
                <fieldset>
                    <legend>Fabric Batch Info</legend>
                    <div style="width:100%;">
                        <table border="0" cellpadding="1" cellspacing="1" style="width:100%;">
                            <tr>
                                <td style="width:10%; text-align:right;">Program No :</td>
                                <td style="width:25%;text-align:left;">
                                    <input type="text" style="width:30%;" id="txtBatchNo" />
                                    <input type="text" style="width:30%;" id="txtDispoNo" placeholder="Type Dispo" />
                                    <a id="btnBatchCardPrint" href="javascript:void(0)" class="easyui-linkbutton" iconcls="icon-print" plain="true"></a>
                                </td>
                                <td style="width:10%; text-align:right;">Order No :</td>
                                <td style="width:25%;text-align:left;">
                                    <input type="text" style="width:30%; text-align:left;" id="txtOrderNo" disabled />
                                    Status:
                                    <input type="text" style="width:30%;" id="txtStatus" disabled />
                                </td>
                                <td style="width:10%; text-align:right;">Construction :</td>
                                <td style="width:20%;text-align:left;">
                                    <input type="text" style="width:100%;" id="txtConstruction" disabled />
                                </td>
                            </tr>

                            <tr>
                                <td style="width:10%; text-align:right;">Shift :</td>
                                <td style="width:25%;text-align:left;">
                                    <select style="width:98%;height:22px;" id="cboFBPShift"></select>
                                </td>
                                <td style="width:10%; text-align:right;">R.Warp Length :</td>
                                <td style="width:25%;text-align:left;">
                                    <input type="text" style="width:30%;" id="txtBatchQtyY" class="number" disabled /> &nbsp;(Y) &nbsp;
                                    <input type="text" style="width:30%;" id="txtBatchQtyM" class="number" disabled />&nbsp;(M)
                                </td>
                                <td style="width:10%; text-align:right;">Buyer :</td>
                                <td style="width:20%;text-align:left;">
                                    <input type="text" style="width:100%;" id="txtBuyer" disabled />
                                </td>
                            </tr>

                            <tr>
                                <td style="width:10%; text-align:right;">Start Time :</td>
                                <td style="width:25%;text-align:left;">
                                    <input id="txtStartDate" style="width:50%;" type="text" class="easyui-datebox" required="required" data-options="formatter:icsdateformat,parser:icsdateparser" />
                                    <input id="tpStartTime" class="easyui-timespinner" style="width:25%;" required="required" />
                                    <a id="btnRun" href="javascript:void(0)" class="easyui-linkbutton" iconcls="icon-ok" plain="true" onclick="Run()">Run</a>
                                    <a id="btnHold" href="javascript:void(0)" class="easyui-linkbutton" iconcls="icon-ok" plain="true" onclick="Hold()">Hold</a>
                                </td>
                                <td style="width:10%; text-align:right;"><label id="lblYetQty" style="font-weight:normal">Pending :</label></td>
                                <td style="width:25%;text-align:left;">
                                    <input type="text" style="width:30%;" id="txtYetToWarpLengthY" class="number" disabled /> &nbsp;(Y) &nbsp;
                                    <input type="text" style="width:30%;" id="txtYetToWarpLengthM" class="number" disabled />&nbsp;(M)
                                </td>
                                <td style="width:10%; text-align:right;">Duration :</td>
                                <td style="width:20%;text-align:left;">
                                    <input type="text" style="width:100%;" id="txtWarpingDuration" disabled />
                                </td>
                            </tr>

                            <tr>
                                <td style="width:10%; text-align:right;">End Time :</td>
                                <td style="width:25%;text-align:left;">
                                    <input id="txtEndDate" style="width:50%;" type="text" class="easyui-datebox" required="required" data-options="formatter:icsdateformat,parser:icsdateparser" />
                                    <input id="tpEndTime" class="easyui-timespinner" style="width:25%;" required="required" />
                                    <a id="btnRunOut" href="javascript:void(0)" class="easyui-linkbutton" iconcls="icon-ok" plain="true" onclick="RunOut()">Out</a>
                                </td>
                                <td style="width:10%; text-align:right;">Finish Length :</td>
                                <td style="width:25%;text-align:left;">
                                    <input type="text" style="width:30%;" id="txtProdQtyY" class="number" disabled /> &nbsp;(Y) &nbsp;
                                    <input type="text" style="width:30%;" id="txtProdQtyM" class="number" disabled />&nbsp;(M)
                                </td>
                                <td style="width:10%; text-align:right;">Total Ends :</td>
                                <td style="width:20%;text-align:left;">
                                    <input type="text" style="width:32%; text-align:left;" id="txtTotalEnds" disabled />
                                    Sec/Beam No:
                                    <input type="text" style="width:31%;" id="txtNoOfSection" class="number" disabled />
                                </td>
                            </tr>

                            <tr>
                                <td style="width:10%; text-align:right;"></td>
                                <td style="width:25%;text-align:left;"></td>
                                <td style="width:10%; text-align:right;">Total Finish :</td>
                                <td style="width:25%;text-align:left;">
                                    <input type="text" style="width:30%;" id="txtGrandTotalFinishLengthY" class="number" disabled /> &nbsp;(Y) &nbsp;
                                    <input type="text" style="width:30%;" id="txtGrandTotalFinishLengthM" class="number" disabled />&nbsp;(M)
                                </td>
                                <td style="width:10%; text-align:right;"></td>
                                <td style="width:20%;text-align:left;"></td>
                            </tr>

                        </table>
                    </div>
                </fieldset>
            </div>

            <div class="easyui-accordion" style="height:300px;width:100%" data-options="selected:false">
                <div title="Beams Info" style="width:100%;">
                    <div style="width:29%;float:left;">
                        <table id="tblBeams" class="easyui-datagrid" title="Sizing Beams" style="width:100%;height:230px;" fitcolumns="false" rownumbers="true" pagination="false" singleselect="true" autorowheight="false" showfooter="true">
                            <thead>
                                <tr>
                                    <th field="ChildMachineTypeName" width="30%">Type</th>
                                    <th field="BeamNo" width="25%">Beam No</th>
                                    <th field="Qty" width="15%" align="right" formatter="formatPrice">Qty(Y)</th>
                                    <th field="QtyInMtr" width="15%" align="right" formatter="formatPrice">Qty(M)</th>
                                </tr>
                            </thead>
                        </table>
                    </div>
                    <div style="width:70%;float:right;">
                        <table id="tblFBPDetails" class="easyui-datagrid" title="Fabric Batch Production Detail" style="width:100%;height:230px;" fitcolumns="false" rownumbers="true" pagination="false" singleselect="true" autorowheight="false" toolbar="#toolbarFBatchPDetail" showfooter="true">
                            @*data-options="onClickRow: onClickRowBatchMan"*@
                            <thead>
                                <tr>
                                    <th field="ProductionDateSt" width="10%">Date</th>
                                    <th field="EmployeeName" width="20%">Batch Man</th>
                                    <th field="ShiftNameWithDuration" width="10%">Shift</th>
                                    <th field="Qty" formatter="formatPrice" width="10%" align="right">Len(Y)</th>
                                    <th field="QtyM" formatter="formatPrice" width="10%" align="right">Len(M)</th>
                                    @*<th data-options="field:'Note',align:'left',editor:{type:'text'}" width="15%">Remark</th>*@
                                </tr>
                            </thead>
                        </table>
                        <div id="toolbarFBatchPDetail">
                            <a id="btnAddBatchMan" href="javascript:void(0)" class="easyui-linkbutton" iconcls="icon-add" plain="true" onclick="AddBatchMan()">Add</a>
                            <a id="btnEditBatchMan" href="javascript:void(0)" class="easyui-linkbutton" iconcls="icon-edit" plain="true" onclick="EditBatchMan()">Edit</a>
                            <a id="btnDeleteBatchMan" href="javascript:void(0)" class="easyui-linkbutton" iconcls="icon-remove" plain="true" onclick="DeleteBatchMan()">Remove</a>
                            
                        </div>
                    </div>
                </div>

               
            </div>

            <div style="width:100%;">
                <fieldset>
                    <legend>Actions : </legend>
                    <table border="0" cellspacing="2" cellpadding="2" style="width:100%; font-size:11px; font-weight:bold;">
                        <tr>
                            <td style="width:60%;text-align:left;"></td>
                            <td style="width:40%;text-align:right;">
                                <a id="btnCloseFBP" href="javascript:void(0)" class="easyui-linkbutton" iconcls="icon-cancel" plain="true">Close</a>
                            </td>
                        </tr>
                    </table>
                </fieldset>
            </div>
        </div>

        
        
    </div>

    <div id="winAdvSearch" class="easyui-window winClass" style=" width:500px;" title=" adv. search" data-options="modal:true,closed:true,collapsible:false,minimizable:false,maximizable:false,closable:false">
            <table style="width:100%;">
                <tr>
                    <td>
                        <fieldset style="margin-bottom: 0px;">
                            <legend>Searching Criteria</legend>
                            <table>
                                <tr>
                                    <td style=" width:20%;text-align:right;">
                                        <label>Dispo No : </label>
                                    </td>
                                    <td colspan="3" style="width:80%;text-align:left;">
                                        <input id="txtDispoNoAdv" type="text" style="width:98%" />
                                    </td>
                                </tr>
                                <tr>
                                    <td style=" width:20%;text-align:right;">
                                        <label>Batch No : </label>
                                    </td>
                                    <td colspan="3" style="width:80%;text-align:left;">
                                        <input id="txtBatchNoAdv" type="text" style="width:98%" />
                                    </td>
                                </tr>
                                <tr>
                                    <td style=" width:20%;text-align:right;">
                                        <label>Shift: </label>
                                    </td>
                                    <td colspan="3" style="width:80%;text-align:left;">
                                        <select id="cboShiftAdvS" style="width:98%;">
                                        </select>
                                    </td>
                                </tr>
                                <tr>
                                    <td style=" width:20%;text-align:right;">
                                        <label>Prod. Date : </label>
                                    </td>
                                    <td colspan="3">
                                        <select id="cboProductionDateAdv" style="width:30%;height:22px;" onchange="DateActions_ProductionDateAdv(); "></select>
                                        <input id="txtFromProductionDateAdv" type="text" style="width: 100px;" class="easyui-datebox" required="required" data-options="formatter:icsdateformat,parser:icsdateparser" />To
                                        <input id="txtToProductionDateAdv" type="text" style="width: 100px;" class="easyui-datebox" required="required" data-options="formatter:icsdateformat,parser:icsdateparser" />
                                    </td>
                                </tr>
                                <tr>
                                    <td style=" width:20%;text-align:right;">
                                        <label>Start Date : </label>
                                    </td>
                                    <td colspan="3">
                                        <select id="cboStartDateAdv" style="width:30%;height:22px;" onchange="DateActions_StartDateAdv(); "></select>
                                        <input id="txtFromStartDateAdv" type="text" style="width: 100px;" class="easyui-datebox" required="required" data-options="formatter:icsdateformat,parser:icsdateparser" />To
                                        <input id="txtToStartDateAdv" type="text" style="width: 100px;" class="easyui-datebox" required="required" data-options="formatter:icsdateformat,parser:icsdateparser" />
                                    </td>
                                </tr>
                                <tr>
                                    <td style=" width:20%;text-align:right;">
                                        <label>End Date : </label>
                                    </td>
                                    <td colspan="3">
                                        <select id="cboEndDateAdv" style="width:30%;height:22px;" onchange="DateActions_EndDateAdv(); "></select>
                                        <input id="txtFromEndDateAdv" type="text" style="width: 100px;" class="easyui-datebox" required="required" data-options="formatter:icsdateformat,parser:icsdateparser" />To
                                        <input id="txtToEndDateAdv" type="text" style="width: 100px;" class="easyui-datebox" required="required" data-options="formatter:icsdateformat,parser:icsdateparser" />
                                    </td>
                                </tr>
                                <tr>
                                    <td style=" width:20%;text-align:right;">
                                        <label>Status : </label>
                                    </td>
                                    <td colspan="3" style="width:80%;text-align:left;">
                                        <select id="cboStatusAdv" style="width:98%;height:22px;"></select>
                                    </td>
                                </tr>
                                <tr>
                                    <td height="5px" colspan="4"></td>
                                </tr>
                            </table>
                        </fieldset>
                    </td>
                </tr>
            </table>

            <fieldset class="actionfieldsetstyle">
                <legend>Actions : </legend>
                <label class="lblLoadingMessage" style="float: left;">Loading Please Wait...</label>
                <a id="btnSearchAdvSearch" href="javascript:void(0)" class="easyui-linkbutton" iconcls="icon-search" plain="true">Search</a>
                <a id="btnCloseAdvSearch" href="javascript:void(0)" class="easyui-linkbutton" iconcls="icon-cancel" plain="true">Close</a>
            </fieldset>
        </div>

    <div id="winAddDetail" class="easyui-window" title="AddtxtGrandTotalFinishLengthY Detail" data-options="modal:true,closed:true,collapsible:false,minimizable:false,maximizable:false,closable:false">
        <div style="width:600px; margin-left:2px;">
            <div style="width:100%;margin-bottom:10px;">
                <table style="width:100%;">
                    <tr>
                        <td style="width:12%;text-align:right;">Date:</td>
                        <td style="width:30%;"><input id="txtFinishDate" style="width:100%" type="text" class="easyui-datebox" required="required" data-options="formatter:icsdateformat,parser:icsdateparser" /></td>
                        <td style="width:20%;text-align:right;">Batch Man:</td>
                        <td style="width:30%;"><select id="cboBatchMan" style="width:100%;"></select></td>
                        <td style="width:8%;"></td>
                    </tr>
                    <tr>
                        <td style="width:12%;text-align:right;">Shift:</td>
                        <td style="width:30%;"><select id="cboShift" style="width:100%;"></select></td>
                        <td style="width:20%;text-align:right;">No of Repeat:</td>
                        <td style="width:30%;text-align:left;"><input type="text" id="txtNoOfFrame" class="number" style="width:100%;" /></td>
                        <td style="width:8%;"></td>
                    </tr>
                    <tr>
                        <td style="width:12%;text-align:right;">Note:</td>
                        <td colspan="3" style="width:80%;"><input type="text" id="txtNote" style="width:100%;" /></td>
                        <td style="width:8%;"></td>
                    </tr>
                </table>
            </div>
            
            <fieldset>
                <legend>Actions : </legend>
                <div style="float:right;">
                    <a id="btnSaveDetail" href="javascript:void(0)" class="easyui-linkbutton" iconcls="icon-ok" plain="true">Save</a>
                    <a id="btnCloseDetail" href="javascript:void(0)" class="easyui-linkbutton" iconcls="icon-cancel" plain="true">Close</a>
                </div>
            </fieldset>
        </div>
    </div>

    <script type="text/javascript">
    debugger;
    var _oFabricBatchProduction=null;
    var _oFabricBatchProductions=[];
    var _sBaseAddress="";
    var _oAuthorizationRolesMapping=[];
    var _sBaseAddress="";
    var _oStores = [];
    var _lBackLink = "";
    var _oProduct = "";
    var _oFabricBreakages = [];
    var _oFabricMachines =[];
    var _oBatchMans = [];
    var _oHRMShifts = [];
    var _nFBID =0 ;
    var _nBUID=0;
    var _oFB = null;
    var _oFabricMachineTypes=[];
    var _oCompareOperators=[];
    var _oProductionStatusList=[];
    var _IsDirect=false;
    var _nWarpBeam=0;
    var _nSelectedRowIndex=-1;
    var _nGainLossPer=0;
    var _oLots = [];
    $(document).ready(function () {
        debugger;
        _oFabricBatchProductions =@Html.Raw( new System.Web.Script.Serialization.JavaScriptSerializer().Serialize(Model));
        _sBaseAddress =@Html.Raw( new System.Web.Script.Serialization.JavaScriptSerializer().Serialize(HttpContext.Current.Session[SessionInfo.BaseAddress]));
        _oAuthorizationRolesMapping =@Html.Raw( new System.Web.Script.Serialization.JavaScriptSerializer().Serialize(HttpContext.Current.Session[SessionInfo.AuthorizationRolesMapping]));
        _nBUID = @Html.Raw(new System.Web.Script.Serialization.JavaScriptSerializer().Serialize(ViewBag.BUID));

        _oFabricMachines = @Html.Raw(new System.Web.Script.Serialization.JavaScriptSerializer().Serialize(@ViewBag.FabricMachines));
        _oFabricBreakages = @Html.Raw(new System.Web.Script.Serialization.JavaScriptSerializer().Serialize(@ViewBag.FabricBreakages));
        _oBatchMans = @Html.Raw(new System.Web.Script.Serialization.JavaScriptSerializer().Serialize(@ViewBag.BatchMans));
        _oHRMShifts = @Html.Raw(new System.Web.Script.Serialization.JavaScriptSerializer().Serialize(@ViewBag.HRMShifts));
        _oStores = @Html.Raw(new System.Web.Script.Serialization.JavaScriptSerializer().Serialize(@ViewBag.Stores));
        _oFabricMachineTypes = @Html.Raw(new System.Web.Script.Serialization.JavaScriptSerializer().Serialize(@ViewBag.FabricMachineTypes));
        _oCompareOperators = @Html.Raw(new System.Web.Script.Serialization.JavaScriptSerializer().Serialize(ViewBag.CompareOperators));
        _oProductionStatusList = @Html.Raw(new System.Web.Script.Serialization.JavaScriptSerializer().Serialize(ViewBag.ProductionStatusList));

        //$("#cboStore").icsLoadCombo({List: _oStores,OptionValue: "WorkingUnitID",DisplayText: "WorkingUnitName"});
        $("#cboShiftAdvS").icsLoadCombo({List: _oHRMShifts,OptionValue: "ShiftID",DisplayText: "ShiftWithDuration"});
        sessionStorage.setItem("BUID",_nBUID);
        var oFabricBatchProductions =sessionStorage.getItem("FabricBatchProductions");
        if(oFabricBatchProductions!=null)
        {
            oFabricBatchProductions = jQuery.parseJSON(oFabricBatchProductions);
        }
        else
        {
            oFabricBatchProductions=_oFabricBatchProductions;
        }
        RefreshList(oFabricBatchProductions);
        //RefreshControlLayout();
        $("#progressbar").progressbar({ value: 0 });
        $("#progressbarParent").hide();
        sessionStorage.setItem("Lots",[]);
        sessionStorage.setItem("ParamsSO", "");
        $("#btnDelete").hide();
        if (PermissionChecker('Delete', 'FabricBatchProduction',_oAuthorizationRolesMapping)) {$("#btnDelete").show();}
    });

    function RefreshList(oFabricBatchProductions)
    {
        debugger;
        var data=oFabricBatchProductions;
        data={"total":""+data.length+"","rows":data};
        $('#tblFabricBatchProductions').datagrid('loadData',data);
        var nIndex= parseInt(sessionStorage.getItem("SelectedRowIndex"));
        $('#tblFabricBatchProductions').datagrid('selectRow',nIndex);
    }
    function updateProgress() {
        var value =$('#progressbar').progressbar('getValue');
        if (value < 96){
            value += Math.floor(Math.random() * 10);
            $('#progressbar').progressbar('setValue', value);
        }
    }
    function hideShow(miliseconds) {
        $("#progressbarParent").hide();
    }

  
    $('#btnCloseFBP').click(function(e) {
        $("#winFabricBatchProduction").icsWindow('close');
    });

    $("#btnAdd").click(function(){
        debugger;
        var oFabricBatchProduction= $('#tblFabricBatchProductions').datagrid('getSelected');
        var SelectedRowIndex=$('#tblFabricBatchProductions').datagrid('getRowIndex',oFabricBatchProduction);
        if(oFabricBatchProduction==null){
            alert("Please select a item from list!");
            return;
        }
        if(oFabricBatchProduction.FBPID == 0)
            oFabricBatchProduction.ProductionStatus=0;

        SetDefaultValue();
        _oFabricBatchProduction=oFabricBatchProduction;

        if(oFabricBatchProduction.ProductionStatus==0){
            $('#btnRun').show();
            $('#btnRunOut,#btnHold').hide();
            //$("#toolbarBeam,#toolbarFBatchPDetail").hide();
        }else if(oFabricBatchProduction.ProductionStatus==1){
            $('#btnRun').hide();
            $('#btnRunOut,#btnHold').show();
            $("#toolbarBeam").show();
            $('#btnAddBatchMan,#btnDeleteBatchMan,#btnSaveDetail').show();
        }
        else if(oFabricBatchProduction.ProductionStatus==2 || oFabricBatchProduction.ProductionStatus==3){
            $('#btnRun,#btnRunOut,#btnHold').hide();
            $("#toolbarBeam").hide();
            $('#btnAddBatchMan,#btnDeleteBatchMan,#btnSaveDetail').hide();
        }
        OpenWinAndSetDate(oFabricBatchProduction);
        

    });

    $("#btnDelete").click(function(){
        debugger;
        var oFabricBatchProduction = $('#tblFabricBatchProductions').datagrid('getSelected');
        var SelectedRowIndex=$('#tblFabricBatchProductions').datagrid('getRowIndex',oFabricBatchProduction);
        if(oFabricBatchProduction == null){
            alert("Please select a item from list!");
            return;
        }
        if(oFabricBatchProduction.FBPID <= 0){
            alert("Production Not Found!");
            return;
        }
        if (!confirm("Confirm to Delete?")) return ;
        $.ajax
            ({
                type: "POST",
                dataType: "json",
                url : _sBaseAddress+  "/FabricBatchProduction/Delete",
                data: JSON.stringify(oFabricBatchProduction),
                contentType: "application/json; charset=utf-8",
                success: function (data) {
                    var oFBP = jQuery.parseJSON(data);
                    if (oFBP.ErrorMessage.toLowerCase() == "deleted")
                    {
                        alert("Delete sucessfully");
                        $('#tblFabricBatchProductions').datagrid('deleteRow',SelectedRowIndex);
                        var oFBPs = $('#tblFabricBatchProductions').datagrid('getRows');
                        sessionStorage.setItem("FabricBatchProductions", JSON.stringify(oFBPs));
                    }
                    else
                    {
                        alert(oFBP.ErrorMessage);
                    }
                },
                error: function (xhr, status, error)
                {
                    alert(error);
                }
            });
    });

    function SetDefaultValue()
    {
        $(".number").val(0);
        $("#txtBeamQty,#txtBeamQtyMeter").val("");
        //$("#cboStore").icsLoadCombo({List: _oStores,OptionValue: "WorkingUnitID",DisplayText: "WorkingUnitName"});
        $("#cboBreakage").icsLoadCombo({List: _oFabricBreakages,OptionValue: "FBreakageID",DisplayText: "Name"});
        $("#cboShift").icsLoadCombo({List: _oHRMShifts,OptionValue: "ShiftID",DisplayText: "ShiftWithDuration"});    
        $("#cboBatchMan").icsLoadCombo({List: _oBatchMans,OptionValue: "EmployeeID",DisplayText: "Name"});
        //$("#cboMachineName").icsLoadCombo({List: _oFabricMachines,OptionValue: "FMID",DisplayText: "Name"});
        $("#cboFBPShift").icsLoadCombo({List: _oHRMShifts,OptionValue: "ShiftID",DisplayText: "ShiftWithDuration"});
        //$("#cboFabricMachineTypes").icsLoadCombo({List: _oFabricMachineTypes,OptionValue: "FabricMachineTypeID",DisplayText: "ChildWithParent"});

        $('#tpStartTime,#tpEndTime').timespinner('setValue', "00:00");
        $('#txtStartDate,#txtEndDate').datebox('setValue', icsdateformat(new Date));
        var nHour=new Date().getHours();
        var nMin=new Date().getMinutes();
        if(isNaN(nHour))
        {
            nHour=0;
        }
        if(isNaN(nMin))
        {
            nMin=0;
        }

        $('#txtProductName, #btnYarnPickByThisOrder,#btnPickProduct,#btnLotRefresh,#btnAddYarn,#btnDeleteYarn').show();
        $(',#btnAddBatchMan, #btnDeleteBatchMan,#btnTotalBreakageInformation,#btnColorBreakDown').show();
        $( "#cboFBPShift" ).prop( "disabled", false );//#txtProdQtyY,#txtProdQtyM,
        $('#tpStartTime,#tpEndTime').timespinner({disabled:false});
        $('#tpStartTime,#tpEndTime').timespinner('setValue', nHour+":"+nMin);
        $('#txtStartDate,#txtEndDate').datebox({disabled:false});
        $("#txtStartDate,#txtEndDate").datebox("setValue", icsdateformat(new Date()));

        $('#btnBatchCardPrint').hide();
    }

    function OpenWinAndSetDate(oFabricBatchProduction)
    {
        debugger;
            $.ajax
            ({
                type: "POST",
                dataType: "json",
                url : _sBaseAddress+"/FabricBatchProduction/GetFabricBatchProductionByIDLeasing",
                traditional: true,
                data:  JSON.stringify(oFabricBatchProduction),
                contentType: "application/json; charset=utf-8",
                success: function (data) {
                    debugger;
                    ResetAllTables("tblBeams","tblFBPDetails");
                    _oFabricBatchProduction = jQuery.parseJSON(data);
                    _nGainLossPer=_oFabricBatchProduction.GainLossPer;
                     var oFabricBatch = _oFabricBatchProduction.FabricBatch;
                    if(oFabricBatch.FBID > 0){
                        $("#txtBatchNo").val(oFabricBatch.BatchNo);
                        $("#txtDispoNo").val(oFabricBatch.FEONo);
                        $("#txtOrderNo").val(oFabricBatch.OrderNo);
                        $("#txtStatus").val(oFabricBatch.StatusSt);
                        $("#txtConstruction").val(oFabricBatch.Construction);
                        $("#txtBuyer").val(oFabricBatch.BuyerName);
                        $('#txtTotalEnds').val(oFabricBatch.TotalEnds);
                        $('#txtNoOfSection').val(oFabricBatch.NoOfSection);

                        $("#txtBatchQtyY").val(ConvertToFixed2(oFabricBatch.Qty));
                        $("#txtBatchQtyM").val(GetMeter(oFabricBatch.Qty,2));

                        debugger;
                        
                        $("#txtProdQtyY").val(ConvertToFixed2(0));
                        $("#txtProdQtyM").val(GetMeter(0.00,2));
                        $("#txtYetToWarpLengthY").val(ConvertToFixed2(oFabricBatch.Qty));
                        $("#txtYetToWarpLengthM").val(GetMeter(oFabricBatch.Qty,2));
                        //$("#cboMachineName").val(oFabricBatch.FMID);
                        $("#cboFBPShift").val(oFabricBatch.ShiftID);
                        $('#btnBatchCardPrint').show();

                        $("#txtBeamQty").val(ConvertToFixed2(oFabricBatch.Qty));
                        $("#txtBeamQtyMeter").val(GetMeter(oFabricBatch.Qty,2));

                        _oFB =oFabricBatch;
                        //HideToolbarBeamSizing(oFabricBatch.Status);
                        _oFabricBatchProduction.FEOID = oFabricBatch.FEOID;
                        _oFabricBatchProduction.FBID = oFabricBatch.FBID;
                        _oFabricBatchProduction.FabricBatchStatusInInt = oFabricBatch.StatusInInt;
                        _nFBID =oFabricBatch.FBID;

                        if(parseInt(_oFabricBatchProduction.FBPID)>0)
                        {
                            RefreshControl(_oFabricBatchProduction);
                        }
                        //DynamicRefreshList(_oFabricBatchProduction.FabricBatchRawMaterials, "tblFabricBatchRawMaterial");
                        DynamicRefreshList(_oFabricBatchProduction.FabricBatchProductionDetails, "tblFBPDetails");
                        DynamicRefreshList(_oFabricBatchProduction.FBPBs,"tblBeams");
                        debugger;
                        if(_oFabricBatchProduction.FBPBs.length>0)
                        {
                            _IsDirect = _oFabricBatchProduction.FBPBs[0].IsDirect;
                        }
                       // ChangeMachineType();
                        SetYetToWarp(_oFabricBatchProduction.FabricBatchProductionDetails);
                        $.icsMakeFooterColumn('tblBeams',['BeamNo','Qty','QtyInMtr']);
                        $.icsMakeFooterColumn('tblFBPDetails',['ProductionDateSt','Qty','QtyM']);

                        if(_oFabricBatchProduction.ProductionStatus == 2){
                            if(parseFloat($("#txtYetToWarpLengthY").val()) >= 0)
                                $('#lblYetQty').text("Production Loss: ");
                            else{
                                $('#lblYetQty').text("Production Gain: ");
                                var nYetQTY = parseFloat($("#txtYetToWarpLengthY").val());
                                $("#txtYetToWarpLengthY").val(nYetQTY*-1);
                                var nYetQTYInM = parseFloat($("#txtYetToWarpLengthM").val());
                                $("#txtYetToWarpLengthM").val(nYetQTYInM*-1);
                            }
                                
                        }else{
                            $('#lblYetQty').text("Pending :");
                        }

                        $("#winFabricBatchProduction").icsWindow('open', "Fabric Batch Sizing");
                    }else{
                        alert("No Fabric Batch Found!!");
                    }
                },
                error: function (xhr, status, error){
                    alert(error);
                }
            });
        


    }

    function HideToolbarBeamSizing(nStatus)
    {
        debugger;
        if(nStatus == 3) //warping_Finish
        {
            $("#toolbarBeam").hide();
            $("#btnRun,#btnRunOut,#btnHold").hide();
        }
        else
        {
            $("#toolbarBeam").show();
        }
    }


    function SetYetToWarp(FBPBs){
      
        debugger;
        var value =0;
        if(_IsDirect)
        {
            if(FBPBs.length>0)
            {
                value = ConvertToFixed2(FBPBs[0].Qty);
            }
        }
        else{
            for(var i=0; i<FBPBs.length;i++){
                value += ConvertToFixed2(FBPBs[i].Qty);
            }
        }
        $("#txtGrandTotalFinishLengthY").val(ConvertToFixed2(_oFB.QtyPro+value));
        $("#txtGrandTotalFinishLengthM").val(GetMeter((ConvertToFixed2(_oFB.QtyPro+value)),2));

        //value=value+parseFloat($("#txtGrandTotalFinishLengthY").val());

        $("#txtYetToWarpLengthY").val(ConvertToFixed2($('#txtBatchQtyY').val() - parseFloat(_oFB.QtyPro+value)));
        $("#txtYetToWarpLengthM").val(GetMeter((ConvertToFixed2($('#txtBatchQtyY').val() - parseFloat(_oFB.QtyPro+value))),2));

        $("#txtProdQtyY").val(ConvertToFixed2(value));
        $("#txtProdQtyM").val(GetMeter((ConvertToFixed2(value)),2));

        $("#txtBeamQty").val(ConvertToFixed2($('#txtBatchQtyY').val() - parseFloat(_oFB.QtyPro+value)));
        $("#txtBeamQtyMeter").val(GetMeter((ConvertToFixed2($('#txtBatchQtyY').val() - parseFloat(_oFB.QtyPro+value))),2));

    }

    function SetYetToWarpAfterRemove(FBPBs,nBeamQty){
        debugger;
        var nFinishLen = parseFloat($("#txtProdQtyY").val()) - parseFloat(nBeamQty);
        $("#txtProdQtyY").val(ConvertToFixed2(parseFloat(nFinishLen)));
        $("#txtProdQtyM").val(GetMeter((ConvertToFixed2(parseFloat(nFinishLen))),2));

        var nGrandFinish = parseFloat($("#txtGrandTotalFinishLengthY").val()) - parseFloat(nBeamQty);
        $("#txtGrandTotalFinishLengthY").val(ConvertToFixed2(parseFloat(nGrandFinish)));
        $("#txtGrandTotalFinishLengthM").val(GetMeter((ConvertToFixed2(parseFloat(nGrandFinish))),2));

        var nYetLen = parseFloat($("#txtYetToWarpLengthY").val()) + parseFloat(nBeamQty);
        $("#txtYetToWarpLengthY").val(ConvertToFixed2(nYetLen));
        $("#txtYetToWarpLengthM").val(GetMeter((ConvertToFixed2(nYetLen)),2));

        $("#txtBeamQty").val(ConvertToFixed2(parseFloat($('#txtYetToWarpLengthY').val())));
        $("#txtBeamQtyMeter").val(GetMeter((ConvertToFixed2(parseFloat($('#txtYetToWarpLengthY').val()))),2));
    }

    function SetYetToWarpForDirectMachine(FBPBs, nWarpBeam){
        debugger;
        //var value =0;
        //for(var i=0; i<FBPBs.length;i++){
        //    value += FBPBs[i].Qty;
        //}
        //value=value+parseFloat($("#txtGrandTotalFinishLengthY").val());
        var nRWarpLen = parseFloat($("#txtBatchQtyM").val());
        var nWarpPerBeam = nRWarpLen/nWarpBeam;
        var nTotalFinishLengthY=(FBPBs.length*nWarpPerBeam)*1.09361;

        $("#txtProdQtyY").val(ConvertToFixed2(parseFloat(nTotalFinishLengthY)));
        $("#txtProdQtyM").val(GetMeter((ConvertToFixed2(parseFloat(nTotalFinishLengthY))),2));

        $("#txtGrandTotalFinishLengthY").val(ConvertToFixed2(parseFloat(nTotalFinishLengthY)));
        $("#txtGrandTotalFinishLengthM").val(GetMeter((ConvertToFixed2(parseFloat(nTotalFinishLengthY))),2));

        $("#txtYetToWarpLengthY").val(ConvertToFixed2(parseFloat($('#txtBatchQtyY').val()) - parseFloat($('#txtProdQtyY').val())));
        $("#txtYetToWarpLengthM").val(GetMeter((ConvertToFixed2(parseFloat($('#txtBatchQtyY').val()) - parseFloat($('#txtProdQtyY').val()))),2));

        $("#txtBeamQty").val(ConvertToFixed2(parseFloat($('#txtYetToWarpLengthY').val())));
        $("#txtBeamQtyMeter").val(GetMeter((ConvertToFixed2(parseFloat($('#txtYetToWarpLengthY').val()))),2));

    }

    function RefreshControl(oFabricBatchProduction)
    {
        //if(parseInt(oFabricBatchProduction.FabricBatchStatusInInt)==2)
        //{
        //    $('#btnRunOut,#btnHold').show();
        //    $( "#cboMachineName" ).prop( "disabled", true);
        //    $('#tpStartTime').timespinner({disabled:true});
        //    $('#txtStartDate').datebox({disabled:true});
        //}
        debugger
      
        //if(parseInt(oFabricBatchProduction.FMID)>0)
        //{
        //    //var oFM = {FMID:oFabricBatchProduction.FMID, Name:oFabricBatchProduction.FabricMachineName};
        //    //_oFabricMachines.push(oFM);
        //    $("#cboMachineName").icsLoadCombo({List: oFabricBatchProduction.FabricMachines,OptionValue: "FMID",DisplayText: "Name"});
        //    _oFabricMachines=oFabricBatchProduction.FabricMachines;
        //    $("#cboMachineName").val(oFabricBatchProduction.FMID);
        //}

        $('#tpStartTime').timespinner('setValue', oFabricBatchProduction.StartDateStForTimeSpan);
        $('#txtStartDate').datebox('setValue', oFabricBatchProduction.StartDateSt);

        $('#txtWarpingDuration').val(oFabricBatchProduction.BatchDuration);
        $('#txtTotalEnds').val(oFabricBatchProduction.TotalEnds);
        $('#txtNoOfSection').val(oFabricBatchProduction.NoOfSection);

        $('#txtEndDate').datebox('setValue',oFabricBatchProduction.EndDateSt);
        $('#tpEndTime').timespinner('setValue', oFabricBatchProduction.EndDateStForTimeSpan);
        $("#cboFBPShift").val(oFabricBatchProduction.ShiftID);
    }

    $("#txtQtyYard").keyup(function(e){
        $("#txtQtyMeter").val(GetMeter(parseFloat($(this).val()),2));
    });

    $("#txtQtyMeter").keyup(function(e){
        $("#txtQtyYard").val(GetYard(parseFloat($(this).val()),5));
    });

    function ConvertToFixed2(nVal)
    {
        return parseFloat(nVal.toFixed(2));
    }

    $("#txtBeamQty").keyup(function(e){
        $("#txtBeamQtyMeter").val(GetMeter(parseFloat($(this).val()),4));
    });
    $("#txtBeamQtyMeter").keyup(function(e){
        $("#txtBeamQty").val(GetYard(parseFloat($(this).val()),6));
    });

    function GetFreeBeams()
    {
        var oFabricMachine={
            WeavingProcess:1, // Warping
            MachineStatus:3 //Free
        };
        var obj = {
            BaseAddress: _sBaseAddress,
            Object: oFabricMachine,
            ControllerName: "FabricMachine",
            ActionName: "GetsMachine",
            IsWinClose: false
        };
        $.icsDataGets(obj, function (response) {
            if (response.status && response.objs.length > 0) {
                if($.trim(response.objs[0].ErrorMessage) == "")
                {
                    $("#cboBeams").icsLoadCombo({
                        List: response.objs,
                        OptionValue: "FMID",
                        DisplayText: "Code"
                    });
                }
                else
                {
                    $("#cboBeams").empty();
                }
            }
        });
    }

    function ValidateInput()
    {
        if(parseInt(_oFabricBatchProduction.FBID)<=0)
        {
            alert("Sorry, there is no Fabric Batch!");
            return false;
        }
        //if(parseInt($('#cboMachineName').val())<=0)
        //{
        //    alert("Select machine!");
        //    $('#cboMachineName').focus();
        //    return false;
        //}
        return true;
    }

    function RefreshObject()
    {
        var dStartDate =$('#txtStartDate').datebox('getValue');
        var startTime= $('#tpStartTime').timespinner('getValue');
        var sTime=startTime.split(':');
        var hStartTime= parseFloat(sTime[0]);
        var mStartTime= parseFloat(sTime[1]);
        dStartDate = new Date(dStartDate);
        dStartDate.setHours(hStartTime);
        dStartDate.setMinutes(mStartTime);

        var oFabricBatchProduction= {
            FBPID:_oFabricBatchProduction.FBPID,
            FBID:_oFabricBatchProduction.FBID,
            FMID:0,
            StartTime: dStartDate,
            FabricBatchStatus:16,//Leasing
            FBPriviousStatus:_oFabricBatchProduction.FabricBatchStatusInInt,
            WeavingProcess:4,//leasing
            Qty:$('#txtProdQtyY').val(),
            ShiftID :$('#cboFBPShift').val(),
            ProductionStatus: 1
        };
        return oFabricBatchProduction;
    }

    function Run()
    {
        var oFabricBatchProduction= $('#tblFabricBatchProductions').datagrid('getSelected');
        var nSelectedRowIndex=$('#tblFabricBatchProductions').datagrid('getRowIndex',oFabricBatchProduction);
        if(oFabricBatchProduction==null){
            alert("Please select a item from list!");
            return;
        }
        var oBeamsWarp = $("#tblBeams").datagrid("getRows");
        if(parseFloat(oBeamsWarp.length)<=0)
        {
            alert("Sizing Beam not found!!.");
            return false;
        }

        if(!ValidateInput()) return;
        var oFabricBatchProduction = RefreshObject();

        //oFabricBatchProduction.FBPBs = $("#tblBeamsSizing").datagrid("getRows");

        $.ajax({
            type: "POST",
            dataType: "json",
            url : _sBaseAddress+"/FabricBatchProduction/Save",
            traditional: true,
            data:  JSON.stringify(oFabricBatchProduction),
            contentType: "application/json; charset=utf-8",
            success: function (data) {
                var oFabricBatchProduction = jQuery.parseJSON(data);
                if (oFabricBatchProduction.FBPID>0)
                {
                    alert("Successfully Run");
                    $('#txtStatus').val(oFabricBatchProduction.FabricBatchStatusInString);
                    $('#tpStartTime').timespinner({disabled:true});
                    $('#txtStartDate').datebox({disabled:true});
                    $('#tpStartTime').timespinner('setValue', oFabricBatchProduction.StartDateStForTimeSpan);
                    $('#txtStartDate').datebox('setValue', oFabricBatchProduction.StartDateSt);
                    $('#txtWarpingDuration').val(oFabricBatchProduction.BatchDuration);
                    $('#txtTotalEnds').val(oFabricBatchProduction.TotalEnds);
                    $('#txtNoOfSection').val(oFabricBatchProduction.NoOfSection);
                    $('#btnRunOut,#btnHold').show();
                    $('#btnRun').hide();
                    $("#toolbarBeam").show();
                    $('#btnAddBatchMan,#btnDeleteBatchMan,#btnSaveDetail').show();
                    _oFabricBatchProduction=oFabricBatchProduction;
                    $('#tblFabricBatchProductions').datagrid('updateRow', { index: nSelectedRowIndex, row: oFabricBatchProduction });
                    return false;

                }
                else {
                    alert(oFabricBatchProduction.ErrorMessage);
                }
            },
            error: function (xhr, status, error) {
                alert(error);
            }
        });
    }

    function Hold()
    {
        debugger;
        if(parseInt(_oFabricBatchProduction.FBPID)<=0)
        {
            alert("Sorry, there is no Fabric Batch Production!");
            return false;
        }
      
        if(parseInt($('#tblFBPDetails').datagrid('getRows').length)<=0)
        {
            alert("Please add at least one batch wise production!");
            return false;
        }

        var oWarpBeams = $("#tblBeams").datagrid("getRows");
        var nWarpBeamQty = 0;
        for(var i=0;i<oWarpBeams.length;i++)
        {
            nWarpBeamQty += parseFloat(oWarpBeams[i].Qty);
            if(oWarpBeams[0].IsDirect){break}
        }
        var nWarpBeamQtyInPercent = nWarpBeamQty *_nGainLossPer;

        var nTotalProty=0
        var oFBPDetails = $("#tblFBPDetails").datagrid("getRows");
            
        for(var i=0;i<oFBPDetails.length;i++)
            nTotalProty += parseFloat(oFBPDetails[i].Qty.toFixed(2));

        var nDiff =parseFloat(nWarpBeamQty)-parseFloat(_oFB.QtyPro)-parseFloat(nTotalProty)
        
        if(nDiff <-0.1){
            alert("Hold  not possible untill you finish full Qty!! your can exced your Batch Qty:"+(_oFB.Qty).toFixed(2)+'Y'+' '+parseFloat(GetMeter(_oFB.Qty,2))+'M');
            return false;
        }

        if(nDiff > nWarpBeamQtyInPercent){
            alert("Run Out is not possible untill you finish full Qty!! your tolerance Qty is:"+(_oFB.Qty*_nGainLossPer).toFixed(2)+'Y  or'+parseFloat(GetMeter(_oFB.Qty*_nGainLossPer,2))+"M");

            return false;
        }
        var nDiff =parseFloat(nWarpBeamQty)-parseFloat(_oFB.QtyPro)-parseFloat(nTotalProty)
        if(nDiff >0.4){

            if (!confirm("After Hold your Pending production Qty is:"+parseFloat(GetMeter(nDiff),2)+" as per Batch Qty "+parseFloat(GetMeter(_oFB.Qty,2))+", Cofirm to Run out")) return false;
        }
        else if(nDiff <-0.4){

            if (!confirm("After Hold your Pending production Qty is:"+parseFloat(GetMeter(nDiff),2)+" as per Batch Qty "+parseFloat(GetMeter(_oFB.Qty,2))+", Cofirm to Run out")) return false;
        }
        
        //if(nDiff < 0) nDiff*=-1;
        //if(nDiff >0.3){
        //    alert("Your Beam Length and Production Length should be Equal!!");
        //    return false;
        //}
     
        var dEndDate =$('#txtEndDate').datebox('getValue');
        var EndTime= $('#tpEndTime').timespinner('getValue');
        var sTime=EndTime.split(':');
        var hEndTime= parseFloat(sTime[0]);
        var mEndTime= parseFloat(sTime[1]);
        dEndDate = new Date(dEndDate);
        dEndDate.setHours(hEndTime);
        dEndDate.setMinutes(mEndTime);

        var oFabricBatchProduction = {
            FBPID:_oFabricBatchProduction.FBPID,
            FBID:_oFabricBatchProduction.FBID,
            WeavingProcess:4,
            FMID:0,
            FabricBatchStatus:17,//LeasingIn_Finish
            FBPriviousStatus:_oFabricBatchProduction.FabricBatchStatusInInt,
            EndTime:dEndDate,
            Qty:$('#txtProdQtyY').val(),
            IsHold:true,
            ShiftID :$('#cboFBPShift').val(),
            ProductionStatus: 3
        };

        $.ajax({
            type: "POST",
            dataType: "json",
            url : _sBaseAddress+"/FabricBatchProduction/Save",
            traditional: true,
            data:  JSON.stringify(oFabricBatchProduction),
            contentType: "application/json; charset=utf-8",
            success: function (data) {
                var  oFabricBatchProduction = jQuery.parseJSON(data);
                if (oFabricBatchProduction.FBPID>0)
                {
                    alert("Successfully Hold");
                    $('#txtStatus').val(oFabricBatchProduction.FabricBatchStatusInString);
                    $('#txtWarpingDuration').val(oFabricBatchProduction.BatchDuration);
                    $('#txtTotalEnds').val(oFabricBatchProduction.TotalEnds);
                    $('#txtNoOfSection').val(oFabricBatchProduction.NoOfSection);
                    $("#toolbarBeam").hide();
                    $('#btnAddBatchMan,#btnDeleteBatchMan,#btnSaveDetail').hide();
                    $('#txtProductName, #btnYarnPickByThisOrder,#btnPickProduct,#btnLotRefresh,#btnAddYarn,#btnDeleteYarn').hide();
                    $('#btnRunOut,#btnAddBatchMan,#btnDeleteBatchMan,#btnHold').hide();
                    $('#btnTotalBreakageInformation').hide();
                    $('#btnColorBreakDown').hide();
                    $('#tpEndTime').timespinner({disabled:true});
                    $('#txtEndDate').datebox({disabled:true});
                    $('#tpEndTime').timespinner('setValue', oFabricBatchProduction.EndDateStForTimeSpan);
                    $('#txtEndDate').datebox('setValue', oFabricBatchProduction.EndDateSt);
                    return;

                }
                else {
                    alert(oFabricBatchProduction.ErrorMessage);
                }
            },
            error: function (xhr, status, error) {
                alert(error);
            }

        });
    }

    function RunOut()
    {
        debugger;
        if(parseInt(_oFabricBatchProduction.FBPID)<=0)
        {
            alert("Sorry, there is no Fabric Batch Production!");
            return false;
        }
      
        if(parseInt($('#tblFBPDetails').datagrid('getRows').length)<=0)
        {
            alert("Please add at least one batch wise production!");
            return false;
        }

        //var oWarpBeams = $("#tblBeams").datagrid("getRows");
        //var nWarpBeamQty = 0;
        //for(var i=0;i<oWarpBeams.length;i++)
        //{
        //    nWarpBeamQty += parseFloat(oWarpBeams[i].Qty);
        //    if(oWarpBeams[0].IsDirect){break}
        //}
        //var nWarpBeamQtyInPercent = nWarpBeamQty *_nGainLossPer;

        //var nTotalProty=0
        //var oFBPDetails = $("#tblFBPDetails").datagrid("getRows");
            
        //for(var i=0;i<oFBPDetails.length;i++)
        //    nTotalProty += parseFloat(oFBPDetails[i].Qty.toFixed(2));

        //var nDiff =parseFloat(nWarpBeamQty)-parseFloat(_oFB.QtyPro)-parseFloat(nTotalProty)
        
        //if(nDiff <-nWarpBeamQtyInPercent){
        //    alert("Run Out is not possible untill you finish full Qty!! your can exced your Batch Qty:"+(_oFB.Qty).toFixed(2)+'Y'+' '+parseFloat(GetMeter(_oFB.Qty,2))+'M');
        //    return false;
        //}

        //if(nDiff > nWarpBeamQtyInPercent){
        //    alert("Run Out is not possible untill you finish full Qty!! your tolerance Qty is:"+(_oFB.Qty*_nGainLossPer).toFixed(2)+'Y  or'+parseFloat(GetMeter(_oFB.Qty*_nGainLossPer,2))+"M");

        //    return false;
        //}
        //var nDiff =parseFloat(nWarpBeamQty)-parseFloat(_oFB.QtyPro)-parseFloat(nTotalProty)
        //if(nDiff >0.4){

        //    if (!confirm("After Run out your loss Qty is:"+parseFloat(GetMeter(nDiff),2)+" as per Batch Qty "+parseFloat(GetMeter(_oFB.Qty,2))+", Cofirm to Run out")) return false;
        //}
        //else if(nDiff <-0.4){

        //    if (!confirm("After Run out your Gain Qty is:"+parseFloat(GetMeter(nDiff),2)+" as per Batch Qty "+parseFloat(GetMeter(_oFB.Qty,2))+", Cofirm to Run out")) return false;
        //}

     
        var dEndDate =$('#txtEndDate').datebox('getValue');
        var EndTime= $('#tpEndTime').timespinner('getValue');
        var sTime=EndTime.split(':');
        var hEndTime= parseFloat(sTime[0]);
        var mEndTime= parseFloat(sTime[1]);
        dEndDate = new Date(dEndDate);
        dEndDate.setHours(hEndTime);
        dEndDate.setMinutes(mEndTime);

        var oFabricBatchProduction = {
            FBPID:_oFabricBatchProduction.FBPID,
            WeavingProcess:4,
            FBID:_oFabricBatchProduction.FBID,
            FMID:0,
            FabricBatchStatus:17,//LeasingIn_Finish
            FBPriviousStatus:_oFabricBatchProduction.FabricBatchStatusInInt,
            EndTime:dEndDate,
            Qty:$('#txtProdQtyY').val(),
            IsFromRunOut:true,
            ShiftID :$('#cboFBPShift').val(),
            ProductionStatus: 2
        };

        $.ajax({
            type: "POST",
            dataType: "json",
            url : _sBaseAddress+"/FabricBatchProduction/Save",
            traditional: true,
            data:  JSON.stringify(oFabricBatchProduction),
            contentType: "application/json; charset=utf-8",
            success: function (data) {
                var  oFabricBatchProduction = jQuery.parseJSON(data);
                if (oFabricBatchProduction.FBPID>0)
                {
                    alert("Successfully Run Out");
                    $('#txtStatus').val(oFabricBatchProduction.FabricBatchStatusInString);
                    $('#txtWarpingDuration').val(oFabricBatchProduction.BatchDuration);
                    $('#txtTotalEnds').val(oFabricBatchProduction.TotalEnds);
                    $('#txtNoOfSection').val(oFabricBatchProduction.NoOfSection);
                    $("#toolbarBeam").hide();
                    $('#btnAddBatchMan,#btnDeleteBatchMan,#btnSaveDetail').hide();
                    $('#txtProductName, #btnYarnPickByThisOrder,#btnPickProduct,#btnLotRefresh,#btnAddYarn,#btnDeleteYarn').hide();
                    $('#btnRunOut,#btnAddBatchMan,#btnDeleteBatchMan,#btnHold').hide();
                    $('#btnTotalBreakageInformation').hide();
                    $('#btnColorBreakDown').hide();
                    $('#tpEndTime').timespinner({disabled:true});
                    $('#txtEndDate').datebox({disabled:true});
                    $('#tpEndTime').timespinner('setValue', oFabricBatchProduction.EndDateStForTimeSpan);
                    $('#txtEndDate').datebox('setValue', oFabricBatchProduction.EndDateSt);
                    return;

                }
                else {
                    alert(oFabricBatchProduction.ErrorMessage);
                }
            },
            error: function (xhr, status, error) {
                alert(error);
            }

        });
    }

    function SetRemainingLength(){
        var nFinishLength= icsRemoveComma($('#txtTotalFinishLengthY').val());
        var nBeamQty=$('#tblBeamsSizing').datagrid('getRows').select('Qty').sum();
        var nRemainingLength=nFinishLength-nBeamQty;

        $('#txtRemainingLengthInYard').val(formatPrice(nRemainingLength));
        $('#txtRemainingLengthInMeter').val(formatPrice(GetMeter(nRemainingLength,2)));

    }

    function AddBatchMan()
    {
        if(parseInt(_oFabricBatchProduction.FBPID)<=0)
        {
            alert("Please Run the Batch Card then Add BatchMan!");
            return false;
        }
        if(parseInt($('#cboBatchMan').val())<=0)
        {
            alert("Select BatchMan !");
            $('#cboBatchMan').focus();
            return false;
        }
        if(parseInt($('#cboShift').val())<=0)
        {
            alert("Select Shift !");
            $('#cboShift').focus();
            return false;
        }
        debugger;
        var oBeams = $("#tblBeams").datagrid("getRows");
        var oFBPBatchMans = $("#tblFBPDetails").datagrid("getRows");
        var nTotalBeamQty = 0;
        if(_IsDirect)
        {
            if(oBeams.length>0){nTotalBeamQty = parseFloat(oBeams[0].Qty.toFixed(2));}
        }
        else{
            for(var i=0;i<oBeams.length;i++)
                nTotalBeamQty += parseFloat(oBeams[i].Qty.toFixed(2));
        }
        var nBatchManQty = 0;
        for(var i=0;i<oFBPBatchMans.length;i++)
            nBatchManQty += parseFloat(oFBPBatchMans[i].Qty.toFixed(2));

        nTotalBeamQty=nTotalBeamQty.toFixed(2);
        nBatchManQty=nBatchManQty.toFixed(2);

     

        if(parseFloat(nTotalBeamQty)+0.5 < parseFloat(nBatchManQty)+parseFloat($('#txtQtyYard').val())){
            alert("Total Production Qty can not be greater than Beam Qty!!"+nTotalBeamQty+', '+parseFloat(nBatchManQty)+parseFloat($('#txtQtyYard').val())+''+'');
            return false;
        }

        var oFBPBatchMan = {
            FBPBID:0,
            FBPID:_oFabricBatchProduction.FBPID,
            EmployeeID:$('#cboBatchMan').val(),
            ShiftID:$('#cboShift').val(),
            Qty:$('#txtQtyYard').val(),
            FinishDate:$('#txtFinishDate').datebox('getValue'),
            Note:''
        };

        SaveBatchMan(oFBPBatchMan,false, 0);
        $('#cboBatchMan').val(0);
        $('#cboShift').val(0);
        $('#txtFinishDate').datebox('setValue',icsdateformat(new Date()));

    }

    function SaveBatchMan(oFBPBatchMan,bIsEdit, nSelectedIndex)
    {
        //if(parseInt(_oFabricBatchProduction.FabricBatchStatusInInt)!=2)//warping
        //{
        //    return false;//in this step can't add any data
        //}
        $.ajax({
            type: "POST",
            dataType: "json",
            url : _sBaseAddress+"/FabricBatchProduction/SaveFBPBatchMan",
            traditional: true,
            data:  JSON.stringify(oFBPBatchMan),
            contentType: "application/json; charset=utf-8",
            success: function (data) {
                _oFBPBatchMan = jQuery.parseJSON(data);
                if (parseInt(_oFBPBatchMan.FBPBID)>0)
                {
                    if(bIsEdit)
                    {
                        $('#tblFBPDetails').datagrid('updateRow', { index: nSelectedIndex, row: _oFBPBatchMan});
                    }else{
                        $("#tblFBPDetails").datagrid("appendRow", _oFBPBatchMan);
                    }
                    return;
                }
                else {
                    alert(_oFBPBatchMan.ErrorMessage);
                }
            },
            error: function (xhr, status, error) {
                alert(error);
            }
        });
    }

    var editIndexBatchMan = undefined;
    function endEditingBatchMan(){
        if (editIndexBatchMan == undefined){return true}
        if ($('#tblFBPDetails').datagrid('validateRow', editIndexBatchMan)){
            $('#tblFBPDetails').datagrid('endEdit', editIndexBatchMan);
            $('#tblFBPDetails').datagrid('selectRow',editIndexBatchMan);
            var oFBPBatchMan=$('#tblFBPDetails').datagrid('getSelected');
            oFBPBatchMan.Qty=oFBPBatchMan.Qty;
            oFBPBatchMan.FinishDate= icsdateformat(new Date(oFBPBatchMan.FinishDate)),
            oFBPBatchMan.Note=oFBPBatchMan.Note;
            SaveBatchMan(oFBPBatchMan, true,editIndexBatchMan);
            editIndexBatchMan = undefined;
            return true;
        }
        else
        {
            return false;
        }
    }
    function onClickRowBatchMan(index){

        if (editIndexBatchMan != index){
            if (endEditingBatchMan())
            {
                $('#tblFBPDetails').datagrid('selectRow', index)
                        .datagrid('beginEdit', index);
                editIndexBatchMan = index;
            }
            else
            {
                $('#tblFBPDetails').datagrid('selectRow', editIndexBatchMan);
            }
        }
    }

    function UpdateFBPBatchMan(oFabricBatchProductionBreakages)
    {
        if(oFabricBatchProductionBreakages.length > 0)
        {
            var nTotalBreakages=0;
            var nTotalNoOfBreakage=0;
            for(var i=0;i<oFabricBatchProductionBreakages.length;i++)
            {
                nTotalBreakages++;
                nTotalNoOfBreakage = parseInt(oFabricBatchProductionBreakages[i].NoOfBreakage) + parseInt(nTotalNoOfBreakage);
            }

            var oFBPBatchMan = $("#tblFBPDetails").datagrid("getSelected");
            var nRowIndex = $("#tblFBPDetails").datagrid("getRowIndex", oFBPBatchMan);

            oFBPBatchMan.TotalFBPBreakage = nTotalBreakages;
            oFBPBatchMan.TotalNoOfBreakage = nTotalNoOfBreakage

            $("#tblFBPDetails").datagrid("updateRow", { index: nRowIndex, row: oFBPBatchMan });
            $('#tblFBPDetails').datagrid('selectRow',nRowIndex);
        }
    }

    function ResetAdvSearchWindow() {
        $(".lblLoadingMessage").hide();
        $("#winAdvSearch input").not("input[type='button']").val("");
        $("#winAdvSearch select").val(0);
        $("#txtDispoNoAdv").val("");
        $("#txtBatchNoAdv").val("");
        $("#txtFromProductionDateAdv,#txtToProductionDateAdv,#txtFromStartDateAdv,#txtToStartDateAdv,#txtFromEndDateAdv,#txtToEndDateAdv").datebox({ disabled: true });
        $("#txtFromProductionDateAdv,#txtToProductionDateAdv,#txtFromStartDateAdv,#txtToStartDateAdv,#txtFromEndDateAdv,#txtToEndDateAdv").datebox("setValue", icsdateformat(new Date()));
    }

    function DateActions_ProductionDateAdv() {
        DynamicDateActions("cboProductionDateAdv", "txtFromProductionDateAdv", "txtToProductionDateAdv");
    }
    function DateActions_StartDateAdv() {
        DynamicDateActions("cboStartDateAdv", "txtFromStartDateAdv", "txtToStartDateAdv");
    }
    function DateActions_EndDateAdv() {
        DynamicDateActions("cboEndDateAdv", "txtFromEndDateAdv", "txtToEndDateAdv");
    }

    $("#btnCloseAdvSearch").click(function () {
        $("#winAdvSearch").icsWindow("close");
    });

    $("#btnAdvSearch").click(function () {
        debugger;
        $("#cboProductionDateAdv,#cboStartDateAdv,#cboEndDateAdv").icsLoadCombo({List: _oCompareOperators, OptionValue: "id", DisplayText: "Value"});
        $("#cboStatusAdv").icsLoadCombo({List: _oProductionStatusList, OptionValue: "id", DisplayText: "Value"});
        ResetAdvSearchWindow();
        $("#winAdvSearch").icsWindow("open", " Advance Search");
    });

    $("#btnSearchAdvSearch").click(function () {
        debugger;
      
        var nCboProductionDateAdv = parseInt($("#cboProductionDateAdv").val());
        var dFromProductionDateAdv = $('#txtFromProductionDateAdv').datebox('getValue');
        var dToProductionDateAdv = $('#txtToProductionDateAdv').datebox('getValue');

        var nCboStartDateAdv = parseInt($("#cboStartDateAdv").val());
        var dFromStartDateAdv = $('#txtFromStartDateAdv').datebox('getValue');
        var dToStartDateAdv = $('#txtToStartDateAdv').datebox('getValue');

        var ncboEndDateAdv = parseInt($("#cboEndDateAdv").val());
        var dFromEndDateAdv = $('#txtFromEndDateAdv').datebox('getValue');
        var dToEndDateAdv = $('#txtToEndDateAdv').datebox('getValue');

        var sDispoNoAdv = $.trim($("#txtDispoNoAdv").val());
        var sBatchNoAdv = $.trim($("#txtBatchNoAdv").val());
        var nCboStatusAdv = parseInt($("#cboStatusAdv").val());
        var nCboShiftAdv = parseInt($("#cboShiftAdvS").val());
        
        if(nCboProductionDateAdv<=0 && nCboStartDateAdv <= 0 && ncboEndDateAdv <= 0 && sDispoNoAdv == "" && sBatchNoAdv=="" && nCboStatusAdv <= 0 && nCboShiftAdv<=0){
            alert("Please enter atleast one searching criteria!!");
            return;
        }

        debugger;
        var sParams =               
                        nCboProductionDateAdv + "~" +
                        dFromProductionDateAdv + "~" +
                        dToProductionDateAdv + "~" +
                        nCboStartDateAdv + "~" +
                        dFromStartDateAdv + "~" +
                        dToStartDateAdv + "~" +
                        ncboEndDateAdv+"~" +
                        dFromEndDateAdv+"~"+
                        dToEndDateAdv+"~"+
                        sDispoNoAdv+"~"+
                        nCboStatusAdv+"~"+
                        nCboShiftAdv+"~"+
                        4+"~"+   /// Leasing_IN == 4
                        sBatchNoAdv;

        sessionStorage.setItem("ParamsSO", sParams);
        var oFBP = {
            ErrorMessage : sParams
        };
        Search(oFBP);
    });
    function Search(oFBP)
    {
        $(".lblLoadingMessage").show();
        $.ajax({
            type: "POST",
            dataType: "json",
            url: _sBaseAddress + "/FabricBatchProduction/AdvSearchForWarpingExecution",
            traditional: true,
            data: JSON.stringify(oFBP),
            contentType: "application/json; charset=utf-8",
            success: function (data) {
                var oFBPs = data;
                debugger;
                if (oFBPs.length > 0)
                {
                    if (oFBPs[0].ErrorMessage=='' || oFBPs[0].ErrorMessage==null)
                    {
                        DynamicRefreshList(oFBPs, "tblFabricBatchProductions");
                        $("#winAdvSearch").icsWindow("close");
                    }
                    else
                    {
                        alert(oFBPs[0].ErrorMessage);
                    }

                }else {
                    alert("Sorry, No data found. ");
                }
                $(".lblLoadingMessage").hide();
            }
        });
    }
    
    $('#txtDispoNoSearch').keypress(function (e) {
        var code = (e.keyCode ? e.keyCode : e.which);
        if (code == 13)//Enter key-13
        {
            debugger;
            if (!$.trim($("#txtDispoNoSearch").val()).length) {

                alert("Please enter Dispo No.");
                $('#txtDispoNoSearch').focus();
                $('#txtDispoNoSearch').val("");
                return;
            }
            var oFabricBatchProduction={FEONo: $.trim($("#txtDispoNoSearch").val()),ProductionStatus:0};
            SearchByType(oFabricBatchProduction);
        }
    });
        
    $("#btnSearch").click(function(){
        debugger;
        if(parseInt($("#cboStatus").val()) <= 0){
            alert("Please select status!!");
            return;
        }
        var oFabricBatchProduction={FEONo:"",ProductionStatus:parseInt($("#cboStatus").val()) };
        SearchByType(oFabricBatchProduction);
    });
    function SearchByType(oFabricBatchProduction)
    {
        $.ajax
            ({
                type: "POST",
                dataType: "json",
                url : _sBaseAddress+"/FabricBatchProduction/GetProductionLeasing",
                traditional: true,
                data:  JSON.stringify(oFabricBatchProduction),
                contentType: "application/json; charset=utf-8",
                success: function (data) {
                    debugger;
                    var oFabricBatchProductions = data;
                    if(oFabricBatchProductions.length > 0){
                        if(oFabricBatchProductions[0].ErrorMessage == "" || oFabricBatchProductions[0].ErrorMessage == null)
                            DynamicRefreshList(oFabricBatchProductions, "tblFabricBatchProductions");
                        else
                            alert(oFabricBatchProductions[0].ErrorMessage);
                    }else{
                        alert("No Data Found!!");
                    }

                },
                error: function (xhr, status, error){
                    alert(error);
                }
            });
    }
   
    function ChangeMachineType()
    {
        var ncboMachineName= parseInt($('#cboMachineName').val());
        if(ncboMachineName>0)
        {
            for(var i=0;i<_oFabricMachines.length;i++){
                if(_oFabricMachines[i].FMID == ncboMachineName)
                    _IsDirect = _oFabricMachines[i].IsDirect;
                break;
            }
        }
       // alert(_IsDirect);
    }

    $('#btnPrint').click(function (e){
        debugger;
        var sParams = sessionStorage.getItem("ParamsSO");
        if(sParams == ""){
            alert("Please Search first!!");
            return;
        }
        var nts=(new Date()).getTime()/1000;
        window.open(_sBaseAddress+"/FabricBatchProduction/LeasingPrints?sParams="+sParams+"&nts="+nts);     
    });
        
    function AddBatchMan()
    {
        _nSelectedRowIndex=-1;
        $('#txtFinishDate').datebox('setValue',icsdateformat(new Date()));
        $("#cboBatchMan").val(0);
        $("#cboShift").val(0);
        $("#txtNote").val("");
        $("#txtNoOfFrame").val(0);
        $("#winAddDetail").icsWindow("open", "Add Detail");
    }

    function EditBatchMan()
    {
        var oFBPDetail= $("#tblFBPDetails").datagrid("getSelected");
        if (oFBPDetail == null || parseInt(oFBPDetail.FBPDetailID) <= 0) {
            alert("Please select an item from list!");
            return false;
        }
        _nSelectedRowIndex = $("#tblFBPDetails").datagrid("getRowIndex", oFBPDetail);
        if (parseInt(oFBPDetail.FBPDetailID) > 0){            
            $.ajax({
                type: "POST",
                dataType: "json",
                url: _sBaseAddress + "/FabricBatchProduction/GetFBPDetail",
                traditional: true,
                data: JSON.stringify(oFBPDetail),
                contentType: "application/json; charset=utf-8",
                success: function (data) {
                    var oData = jQuery.parseJSON(data);
                    if (oData.ErrorMessage=="" || oData.ErrorMessage==null) {
                        $('#txtFinishDate').datebox('setValue',oData.ProductionDateSt);
                        $("#cboBatchMan").val(oData.EmployeeID);
                        $("#cboShift").val(oData.ShiftID);
                        $("#txtNote").val(oData.Note);
                        $("#txtNoOfFrame").val(oData.NoOfFrame);
                        $("#winAddDetail").icsWindow("open", "Edit Detail");
                    }
                    else {
                        alert(oFBPBeam.ErrorMessage);
                    }
                },
                error: function (xhr, status, error) {
                    alert(error);
                }
            });

        }
    }

    function DeleteBatchMan()
    {
        var oFBPDetail= $("#tblFBPDetails").datagrid("getSelected");
        if (oFBPDetail == null || parseInt(oFBPDetail.FBPDetailID) <= 0) {
            alert("Please select an item from list!");
            return false;
        }
        var nBeamQty=oFBPDetail.Qty;
        //for(var i=0;i<oFBPDetail.FabricBatchProductionBeams;i++)
        //    nBeamQty += oFBPBatchMan.FabricBatchProductionBeams[i].Qty;

        if (!confirm("Confirm To Delete?")) return false;
        var nRowIndex = $("#tblFBPDetails").datagrid("getRowIndex", oFBPDetail);
        if (parseInt(oFBPDetail.FBPDetailID) > 0)
        {
            $.ajax
            ({
                type: "POST",
                dataType: "json",
                url : _sBaseAddress+  "/FabricBatchProduction/DeleteFabricBatchProductionDetail",
                data: JSON.stringify(oFBPDetail),
                contentType: "application/json; charset=utf-8",
                success: function (data) {
                    oFabricBatchProductionDetail = jQuery.parseJSON(data);
                    if (oFabricBatchProductionDetail.ErrorMessage == "Deleted")
                    {
                        alert("Delete sucessfully");
                        $("#tblFBPDetails").datagrid("deleteRow", nRowIndex);
                        SetYetToWarpAfterRemove([],nBeamQty)
                        $.icsMakeFooterColumn('tblFBPDetails',['ProductionDateSt','Qty','QtyM']);
                    }
                    else
                    {
                        alert(oFabricBatchProductionDetail.ErrorMessage);
                    }
                    editIndexBatchMan = undefined;
                    endEditingBatchMan();
                },
                error: function (xhr, status, error)
                {
                    alert(error);
                }
            });
        }
    }


    $("#btnCloseDetail").click(function () {
        $("#winAddDetail").icsWindow("close");
    });

    $("#btnSaveDetail").click(function(){
        if(parseInt(_oFabricBatchProduction.FBPID)<=0)
        {
            alert("Please Run the Batch first then you can entry Beam info!");
            return false;
        }
        if(parseInt($('#cboBatchMan').val())<=0)
        {
            alert("Select BatchMan !");
            $('#cboBatchMan').focus();
            return false;
        }
        if(parseInt($('#cboShift').val())<=0)
        {
            alert("Select Shift !");
            $('#cboShift').focus();
            return false;
        }

        var nFBPDetailID=0;
        if(_nSelectedRowIndex >-1)
        {
            nFBPDetailID=$("#tblFBPDetails").datagrid("getSelected").FBPDetailID ;
        }

        var oFBPBatchMan = {
            FBPDetailID: (_nSelectedRowIndex > -1) ? nFBPDetailID: 0,
            FBPID:_oFabricBatchProduction.FBPID,
            EmployeeID:$('#cboBatchMan').val(),
            ShiftID:$('#cboShift').val(),
            //Qty:$('#txtQtyYard').val(),
            ProductionDate:$('#txtFinishDate').datebox('getValue'),
            Note:$('#txtNote').val(),
            NoOfFrame: $('#txtNoOfFrame').val()
            //FabricBatchProductionBeams: oRows
        };     
        
        $.ajax({
            type: "POST",
            dataType: "json",
            url: _sBaseAddress + "/FabricBatchProduction/SaveDetailWithBeam",
            traditional: true,
            data: JSON.stringify(oFBPBatchMan),
            contentType: "application/json; charset=utf-8",
            success: function (data) {
                var oData = jQuery.parseJSON(data);
                if (oData.ErrorMessage=="" || oData.ErrorMessage==null) {  
                    if(_nSelectedRowIndex > -1)
                        $('#tblFBPDetails').datagrid('updateRow', { index: _nSelectedRowIndex, row: oData });
                    else
                        $("#tblFBPDetails").datagrid("appendRow", oData);
                    var oRows = $("#tblFBPDetails").datagrid("getRows");
                    SetYetToWarp(oRows);
                    $("#winAddDetail").icsWindow("close");
                    $.icsMakeFooterColumn('tblFBPDetails',['ProductionDateSt','Qty','QtyM']);
                }
                else {
                    alert(oFBPBeam.ErrorMessage);
                }
            },
            error: function (xhr, status, error) {
                alert(error);
            }
        });

    });

    </script>
