@{
    ViewBag.Title = "Weaving";
}
@{var MenuID = HttpContext.Current.Session[SessionInfo.MenuID];}
@model ESimSol.BusinessObjects.FabricBatchProduction
<html>
<body>
    <div id="winTotalBreakageInformation" class="easyui-window" title="Total Breakage Information" data-options="modal:true,closed:true,collapsible:false,minimizable:false,maximizable:false,closable:false">
        <div style="width:915px; margin-left:2px;">
            <table id="tblFBPBreakage" class="easyui-datagrid" style="height:250px;" fitcolumns="true" rownumbers="true" pagination="false" singleselect="true" autorowheight="false" toolbar="#toolbarBreakage">
                <thead>
                    <tr>
                        <th field="FabricBreakageName" width="250">Break Description</th>
                        <th data-options="field:'DurationInMin',align:'center',editor:{type:'numberbox',options:{precision:2}}" width="150" align="right">Duration(Min)</th>
                        <th data-options="field:'NoOfBreakage',align:'center',editor:{type:'numberbox',options:{precision:2}}" width="150" align="right">No Of Breakage</th>
                        <th data-options="field:'Note',align:'left',editor:{type:'text'}" width="100">Remark</th>
                    </tr>
                </thead>
            </table>
            <div id="toolbarBreakage">
                Break :<select id="cboBreakage" style="width:250px;"></select>&nbsp;
                Duration :<input type="text" id="txtDuration" class="easyui-numberbox" data-options="min:0,precision:0" style="width:100px" />(Min)&nbsp;
                No Of Breakage :<input type="text" id="txtNumberOfBreakage" class="easyui-numberbox" data-options="min:0,precision:0" style="width:100px" />&nbsp;
                <a id="btnAddBreakage" href="javascript:void(0)" class="easyui-linkbutton" iconcls="icon-add" plain="true">Add</a>
                <a id="btnDeleteBreakage" href="javascript:void(0)" class="easyui-linkbutton" iconcls="icon-remove" plain="true">Remove</a>
                <a id="btnRefreshBreakage" href="javascript:void(0)" class="easyui-linkbutton" iconcls="icon-reload" plain="true">Refresh</a>
            </div>
            <table>
                <tr>
                    <td style="width:702px;"></td>
                    <td>Total : <label id="lblTotalNoOfBreakage">0</label></td>
                </tr>
            </table>
            <fieldset>
                <legend>Actions : </legend>
                <div style="float:right;">
                    <a id="btnOkTotalBreakageInformation" href="javascript:void(0)" class="easyui-linkbutton" iconcls="icon-ok" plain="true">Ok</a>
                    <a id="btnCloseTotalBreakageInformation" href="javascript:void(0)" class="easyui-linkbutton" iconcls="icon-cancel" plain="true">Close</a>
                </div>
            </fieldset>
        </div>
    </div>
    <div class="menuMainCollectionTable">
        <div class="easyui-panel" title="Fabric Batch Weaving Process" style="font-family:Tahoma;text-align:center; width:100%;height:100%;">
            <div id="divFBInfo" style="width:100%">
                <fieldset>
                    <legend>Fabric Batch Info </legend>
                    <div style="margin:0 auto;width:90%;">
                        <table border="0" cellpadding="1" cellspacing="1">
                            <tr>
                                <td style="width:15%; text-align:right;">Beam No:</td>
                                <td style="width:40%;text-align:left;">
                                    <input type="text" style="width:96px;" id="txtBeamNo" disabled />
                                    <input type="text" style="width:78px;" id="txtBeamQtyY" disabled />
                                    <input type="text" style="width:78px;" id="txtBeamQtyM" disabled />
                                    <input type="text" style="width:272px;display:none;" id="txtBatchNo" disabled/>
                                </td>
                                <td style="width:15%; text-align:right;">Order No :</td>
                                <td style="width:30%;text-align:left;">
                                    <input type="text" style="width:100%; text-align:left;" id="txtOrderNo" disabled />
                                    @*Status:
                                    <input type="text" style="width:85px;" id="txtStatus" disabled />*@
                                </td>
                            </tr>
                            <tr>
                                <td style="width:15%; text-align:right;">Construction :</td>
                                <td style="width:40%;text-align:left;">
                                    <input type="text" id="txtConstruction" style="width:260px;" disabled />
                                </td>
                                <td style="width:15%; text-align:right;">Order length (Y) :</td>
                                <td style="width:30%;text-align:left;">
                                    <input type="text" style="width:258px;" id="txtFEOLengthY" class="number" disabled />
                                </td>
                            </tr>
                            <tr>
                                <td style="width:15%; text-align:right;">Textile Sub Unit :</td>
                                <td style="width:40%;text-align:left;">
                                    <select style="width:260px;" id="cboTextileSubUnit"></select>
                                </td>
                                <td style="width:15%; text-align:right;">Order length (M) :</td>
                                <td style="width:30%;text-align:left;">
                                    <input type="text" style="width:258px;" id="txtFEOLengthM" class="number" disabled />
                                </td>
                            </tr>
                            
                            <tr>
                                <td style="width:10%; text-align:right;">Machine Name :</td>
                                <td style="width:40%;text-align:left;">
                                    <select style="width:260px;" id="cboMachineName"></select>
                                </td>
                                <td style="width:15%; text-align:right;">Buyer :</td>
                                <td style="width:30%;text-align:left;">
                                    <input type="text" style="width:258px;" id="txtBuyer" disabled />
                                </td>

                            </tr>
                            <tr>
                                <td style="width:10%; text-align:right;">
                                    RPM :
                                </td>
                                <td style="width:40%;text-align:left;">
                                    <input type="text" style="width:80px;" id="txtRPM" class="number"/>
                                    Reed Count:
                                    <input type="text" style="width:45px;" id="txtReedCount" class="number" />
                                    <span>/</span>
                                    <input type="text" style="width:45px;" id="txtDent"  />
                                </td>
                                <td style="width:15%; text-align:right;">No Of Color :</td>
                                <td style="width:30%;text-align:left;">
                                    <input type="text" style="width:258px;" id="txtNoOfColor" disabled />
                                </td>
                            </tr>
                            <tr>
                                <td style="width:10%; text-align:right;">Start Time :</td>
                                <td style="width:40%;text-align:left;">
                                    <input id="txtStartDate" style="width:145px;" type="text" class="easyui-datebox" required="required" data-options="formatter:icsdateformat,parser:icsdateparser" />
                                    <input id="tpStartTime" class="easyui-timespinner" style="width:60px;" required="required" />
                                    <a id="btnRun" href="javascript:void(0)" class="easyui-linkbutton" iconcls="icon-save" plain="true">Run</a>
                                    <a id="btnChangeReedDent" href="javascript:void(0)" class="easyui-linkbutton" iconcls="icon-ok" plain="true">Edit</a>
                                </td>
                                <td style="width:15%; text-align:right;">Texture</td>
                                <td style="width:30%;text-align:left;">
                                    <input type="text" style="width:258px;" id="txtTexture" disabled />
                                </td>
                            </tr>

                            <tr>
                                <td style="width:10%; text-align:right;">End Time:</td>
                                <td style="width:40%;text-align:left;">
                                    <input id="txtEndDate" style="width:145px;" type="text" class="easyui-datebox" required="required" data-options="formatter:icsdateformat,parser:icsdateparser" />
                                    <input id="tpEndTime" class="easyui-timespinner" style="width:60px;" required="required" />
                                    <a id="btnRunOut" href="javascript:void(0)" class="easyui-linkbutton" iconcls="icon-ok" plain="true">Out</a>
                                    <a id="btnHold" href="javascript:void(0)" class="easyui-linkbutton" iconcls="icon-ok" plain="true">Hold</a>
                                </td>
                                <td style="width:15%; text-align:right;">Yet To Weaving :</td>
                                <td style="width:30%;text-align:left;">
                                    <input type="text" style="width:100px;" id="txtYetToWeavLengthY" class="number" disabled /> &nbsp;(Y) &nbsp;
                                    <input type="text" style="width:90px;" id="txtYetToWeavLengthM" class="number" disabled />&nbsp;(M)
                                </td>

                            </tr> 
                            <tr>
                                <td style="width:10%; text-align:right;">Weaving Duration :</td>
                                <td style="width:40%;text-align:left;">
                                    <input type="text" style="width:125px; margin-right:5px" id="txtWeavingDuration" disabled />
                                    <select id="cboFBPShift" style="width:130px;"></select>
                                </td>
                                <td style="width:15%; text-align:right;">Finish Length :</td>
                                <td style="width:30%;text-align:left;">
                                    <input type="text" style="width:100px;" id="txtTotalFinishLengthY" class="number" disabled /> &nbsp;(Y) &nbsp;
                                    <input type="text" style="width:90px;" id="txtTotalFinishLengthM" class="number" disabled />&nbsp;(M)
                                </td>

                            </tr>
                        </table>
                    </div>
                </fieldset>
            </div>
            <div class="easyui-accordion" style="height:46%;width:100%;" data-options="selected:false">
                <div title="Batch Wise Production Entry" data-options="selected:false">
                    <table id="tblFBPBatchMan" class="easyui-datagrid" style="height:100%;" fitcolumns="true" rownumbers="true" pagination="false" singleselect="true" autorowheight="false" toolbar="#toolbarBatchMan" data-options="onClickRow: onClickRowBatchMan">
                        <thead>
                            <tr>
                                @*<th field="EmployeeName" width="200">Batch Man</th>*@
                                <th field="ShiftNameWithDuration" width="150">Shift</th>
                                <th field="Qty" width="100" align="right">Len(Y)</th>
                                <th field="QtyInM" width="100" align="right">Len(M)</th>
                                <th field="FinishDateInString" width="150">Date</th>
                                <th field="Efficiency" width="100" align="right">Efficiency</th>
                                <th field="RPM" width="100" align="right">RPM</th>
                                <th field="TotalFBPBreakage" width="10%" align="right">Breakage</th>
                                <th field="TotalNoOfBreakage" width="12%" align="right">No of Breakage</th>
                                <th data-options="field:'Note',align:'left',editor:{type:'text'}" width="100">Remark</th>
                            </tr>
                        </thead>
                    </table>
                    <div id="toolbarBatchMan">
                        <label class="clsBatchManInfo">Batch Man :</label>
                        <select id="cboBatchMan" style="width:180px;" class="clsBatchManInfo"></select>&nbsp;
                        Shift :
                        <select id="cboShift"></select>&nbsp;
                        Date :
                  
                        <input id="txtFinishDate" style="width:120px" type="text" class="easyui-datebox" required="required" data-options="formatter:icsdateformat,parser:icsdateparser" />&nbsp;
                        Finish Length :
                        <input type="text" id="txtFinishLengthY" style="width:80px" class="number" disabled/>&nbsp;(Y)&nbsp;
                        <input type="text" id="txtFinishLengthM" style="width:80px" class="number" />&nbsp;(M)&nbsp;
                        Efficiency:
                        <input type="text" id="txtEff" style="width:50px" class="number" />&nbsp;
                        RPM:
                        <input type="text" id="txtFPBRPM" style="width:50px" class="number"/>&nbsp;
                        <a id="btnAddBatchMan" href="javascript:void(0)" class="easyui-linkbutton" iconcls="icon-add" plain="true" onclick="AddBatchMan()">Add</a>
                        <a id="btnDeleteBatchMan" href="javascript:void(0)" class="easyui-linkbutton" iconcls="icon-remove" plain="true" onclick="DeleteBatchMan()">Remove</a>
                        <a id="btnTotalBreakageInformation" href="javascript:void(0)" class="easyui-linkbutton" iconcls="icon-add" plain="true">Breakages</a>
                    </div>
                </div>

                <div title="Fabric Batch Yarn">
                    <table id="tblFabricBatchRawMaterial" class="easyui-datagrid" style="height:100%;" fitcolumns="true" rownumbers="true" pagination="false" singleselect="true" autorowheight="false" toolbar="#toolbarYarn" data-options="onClickRow: onClickRow">
                        <thead>
                            <tr>
                                <th field="ProductName" width="250">Yarn</th>
                                <th field="LotNo" width="150">Lot No</th>
                                <th formatter="formatPrice" data-options="field:'Qty',align:'center',editor:{type:'numberbox',options:{precision:2}}" width="150" align="right">Qty</th>
                                <th field="ReceiveByDateInString" width="100">Out Date</th>
                            </tr>
                        </thead>
                    </table>
                    <div id="toolbarYarn">
                        <a id="btnYarnPickByThisOrder" href="javascript:void(0)" class="easyui-linkbutton" iconcls="icon-ok" plain="true">Yarn Pick By Order</a>&nbsp;
                        Store :<select id="cboStore"></select>
                        <input type="text" id="txtProductName" placeholder="Type Yarn Name" style="width:170px" /><a id="btnPickProduct" href="javascript:void(0)" class="easyui-linkbutton" iconcls="icon-ok" plain="true">Pick</a>
                        <select id="cboLot" style="width:150px;"></select><a id="btnLotRefresh" href="javascript:void(0)" class="easyui-linkbutton" iconcls="icon-reload" plain="true" onclick="RefreshLot()"></a>
                        Qty: <input type="text" id="txtQty" style="width:60px;" value="0" class="number" />
                        <a id="btnAddYarn" href="javascript:void(0)" class="easyui-linkbutton" iconcls="icon-add" plain="true" onclick="AddYarnDetail()">Add</a>
                        <a id="btnDeleteYarn" href="javascript:void(0)" class="easyui-linkbutton" iconcls="icon-remove" plain="true" onclick="DeleteYarnDetail()">Remove</a>
                        <a id="btnOutMaterials" href="javascript:void(0)" class="easyui-linkbutton" iconcls="icon-save" plain="true" onclick="Out()">Out</a>
                    </div>
                </div>
            </div>
            <fieldset style="clear:both;">
                <legend style="font-weight:bold;">Action : </legend>
                <a id="btnBack" style="float:right;" href="javascript:void(0)" class="easyui-linkbutton" iconcls="icon-back" plain="true">Back</a>
                @*<a id="btnPrint" href="javascript:void(0)" class="easyui-linkbutton" iconcls="icon-print" plain="true" onclick="Print()" style="float:right;">Print</a>*@
            </fieldset>
        </div>
    </div>
</body>
</html>


<script type="text/javascript">
    var _oTempDefaultObj = {
        Menuid : 0,
        ControllerName : "",
        ActionName : ""
    };

    var _oFabricBatchProduction=null;
    var _sBaseAddress="";
    var _objName = "";
    var _lBackLink = "";
    var _oProduct = "";
    var _oFabricBreakages = [];
    var _oFabricMachines =[];
    var _oBatchMans = [];
    var _oHRMShifts = [];
    var _nRemoveLastItemID = 0;
    var _sBtnIDHtml="";
    var _nBeamID=0;
    var _oFBPB=null;
    var _oFB=null;
    var _oFBPBatchMan=null;
    var _oFBPBMs=[];
    var _oStores = [];
    var _oFabricBatchRawMaterials = [];
    $(document).ready(function () {
        _oTempDefaultObj.Menuid = @Html.Raw(new System.Web.Script.Serialization.JavaScriptSerializer().Serialize(MenuID));
        _oTempDefaultObj.ControllerName = @Html.Raw(new System.Web.Script.Serialization.JavaScriptSerializer().Serialize(ViewBag.BackBtnControllerName));
        _oTempDefaultObj.ActionName = @Html.Raw(new System.Web.Script.Serialization.JavaScriptSerializer().Serialize(ViewBag.BackBtnActionName));
        _sBaseAddress =@Html.Raw( new System.Web.Script.Serialization.JavaScriptSerializer().Serialize(HttpContext.Current.Session[SessionInfo.BaseAddress]));

        _oFabricBatchProduction=@Html.Raw(new System.Web.Script.Serialization.JavaScriptSerializer().Serialize(Model));
        _oFabricMachines = @Html.Raw(new System.Web.Script.Serialization.JavaScriptSerializer().Serialize(Model.FabricMachines));
        _oFabricBreakages = @Html.Raw(new System.Web.Script.Serialization.JavaScriptSerializer().Serialize(Model.FabricBreakages));
        _oFBPB = @Html.Raw(new System.Web.Script.Serialization.JavaScriptSerializer().Serialize(ViewBag.FBPB));
        _oFB = @Html.Raw(new System.Web.Script.Serialization.JavaScriptSerializer().Serialize(ViewBag.FabricBatch));
        _oFBPBMs = @Html.Raw(new System.Web.Script.Serialization.JavaScriptSerializer().Serialize(ViewBag.FBPBMs));
        _oStores = @Html.Raw(new System.Web.Script.Serialization.JavaScriptSerializer().Serialize(@ViewBag.Stores));
        _oFabricBatchRawMaterials = @Html.Raw(new System.Web.Script.Serialization.JavaScriptSerializer().Serialize(@ViewBag.FabricBatchRawMaterials));
        var oTSUs = @Html.Raw(new System.Web.Script.Serialization.JavaScriptSerializer().Serialize(ViewBag.TSUs));

        _oBatchMans = _oFabricBatchProduction.BatchMans;
        _oHRMShifts = _oFabricBatchProduction.HRMShifts;
        $("#cboTextileSubUnit").icsLoadCombo({List: oTSUs,OptionValue: "TSUID",DisplayText: "Name"});
        debugger;
        BasicFieldsValueSet();
        SetFieldValues();
        SetFabricBatchInfo(_oFB);
        SetFabricBatchProductionInfo(_oFabricBatchProduction);
        //$('#txtFinishDate').datebox({disabled:true});
        $('#txtFinishDate').datebox('setValue',icsdateformat(new Date()));
     
       
        //$(".clsBatchManInfo").hide();
        if($("#btnRun").is(":visible"))
        {
            GetWeavingInformation(_oFabricBatchProduction.FBID);
        }
        else if((!$("#btnRun").is(":visible") && $("#btnRunOut").is(":visible")) || !$("#btnRunOut").is(":visible"))
        {
            GetNextEnddateFromStartDate();
        }
        if(_oFBPBMs.length>0)
        {
            DynamicRefreshList(_oFBPBMs,"tblFBPBatchMan");
            SetFinishLength();
        }
        else{
            var nQty = _oFBPB.Qty - _oFBPB.HoldQty;
            $("#txtYetToWeavLengthY").val(parseFloat(nQty.toFixed(2)));
            $("#txtYetToWeavLengthM").val(GetMeter(nQty.toFixed(2)));
            $("#txtTotalFinishLengthY").val(parseFloat(_oFBPB.HoldQty.toFixed(2)));
            $("#txtTotalFinishLengthM").val(GetMeter(_oFBPB.HoldQty.toFixed(2)));
        }
      
        DynamicRefreshList(_oFabricBatchRawMaterials,"tblFabricBatchRawMaterial");
    });

    $(document).keydown(function (e) { if (e.keyCode == 27) { $('div').icsWindow('close'); } });

    $("#btnTotalBreakageInformation").click(function(){
        DynamicRefreshList([],"tblFBPBreakage");
        var oFBPBatchMan = $("#tblFBPBatchMan").datagrid("getSelected");
        if(oFBPBatchMan == null || oFBPBatchMan.FBPBID <=0)
        {
            alert("Please select an item from list.");
            return false;
        }

        var obj = {
            BaseAddress: _sBaseAddress,
            Object: oFBPBatchMan,
            ControllerName: "FabricBatchProduction",
            ActionName: "GetsTotalBreakageInformation",
            IsWinClose: false
        };
        $.icsDataGets(obj, function (response) {
            if (response.status && response.objs.length > 0) {
                if($.trim(response.objs[0].ErrorMessage) == "")
                {
                    DynamicRefreshList(response.objs,"tblFBPBreakage");
                }
                else
                {
                    alert(response.objs[0].ErrorMessage);
                    return false;
                }
            }
            TotalNoOfBreakage();
            $("#winTotalBreakageInformation").icsWindow("open","Total Breakage Information");
        });
    });

    $('#cboTextileSubUnit').change(function(e){
        if($('#cboTextileSubUnit').val()>0){

            var obj =
            {
                BaseAddress: _sBaseAddress,
                Object: {TSUID: $('#cboTextileSubUnit').val()},
                ControllerName: 'FabricMachine',
                ActionName: 'GetsLoomMachineByTextileSubUnit',
                IsWinClose: false
            };

            $.icsDataGets(obj, function (response) {
                if (response.status && response.objs != null) {
                    if (response.objs.length > 0) {
                        if(response.objs.first().FMID>0){
                            $('#cboMachineName').icsLoadCombo({List: response.objs,OptionValue: "FMID",DisplayText: "MachineCodeWithName"  });
                        }
                        else{
                            $('#cboMachineName').empty()
                        }
                    }
                    else { $('#cboMachineName').empty(); }
                }
            });

        }
    });

    function TotalNoOfBreakage()
    {
        var nTotalNoOfBreakage=0;
        var oFBPBreakages = $("#tblFBPBreakage").datagrid("getRows");
        if(oFBPBreakages.length>0)
        {
            for(var i=0;i<oFBPBreakages.length;i++)
            {
                nTotalNoOfBreakage = parseInt(oFBPBreakages[i].NoOfBreakage) + parseInt(nTotalNoOfBreakage);
            }
        }
        $("#lblTotalNoOfBreakage").text(nTotalNoOfBreakage);
    }

    function SetFinishLength()
    {
        var oRows = $("#tblFBPBatchMan").datagrid("getRows");
        var nQtyInY = _oFBPB.HoldQty + oRows.select('Qty').sum();
        var nQtyInM = GetMeter(nQtyInY,2);

        $("#txtTotalFinishLengthY").val(parseFloat(nQtyInY.toFixed(2)));
        $("#txtTotalFinishLengthM").val(parseFloat(nQtyInM));


        var nQty = _oFBPB.Qty - (nQtyInY+ ((parseFloat(nQtyInY)* parseFloat(_oFB.ContractionPercentage))/100));

        $("#txtYetToWeavLengthY").val(parseFloat(nQty.toFixed(2)));
        $("#txtYetToWeavLengthM").val(GetMeter(nQty.toFixed(2)));

        //$("#txtFinishLengthY").val(parseFloat(nQty.toFixed(2)));
        //$("#txtFinishLengthM").val(GetMeter(nQty.toFixed(2)));
        $("#txtFinishLengthY").val(0);
        $("#txtFinishLengthM").val("");
    }

    function GetWeavingInformation(nFBID)
    {
        if (parseInt(nFBID) > 0)
        {
            $.ajax
            ({
                type: "GET",
                dataType: "json",
                url : _sBaseAddress+  "/FabricBatchProduction/GetNextStartTime",
                data: { nFBID:nFBID},
                contentType: "application/json; charset=utf-8",
                success: function (data) {
                    var oFabricBatchProduction = jQuery.parseJSON(data);
                
                    $("#txtStartDate").datebox("setValue", oFabricBatchProduction.StartDateSt);
                    $('#tpStartTime').timespinner('setValue', oFabricBatchProduction.StartDateStForTimeSpan);
                    $("#txtEndDate").datebox("setValue", oFabricBatchProduction.EndDateSt);
                    $('#tpEndTime').timespinner('setValue', oFabricBatchProduction.EndDateStForTimeSpan);
                },
                error: function (xhr, status, error)
                {
                    alert(error);
                }
            });
        }
    }

    function GetNextEnddateFromStartDate()
    {
        debugger;
        var oFabricBatchProduction = _oFabricBatchProduction;
        oFabricBatchProduction.StartTime = _oFabricBatchProduction.StartTimeSt;
        oFabricBatchProduction.FabricBatchProductionColors=[];
        oFabricBatchProduction.FabricBatchProductionBatchMans=[];
        oFabricBatchProduction.FabricBatchProductionBreakages=[];
        oFabricBatchProduction.FabricMachines=[];
        oFabricBatchProduction.FabricBreakages=[];
        oFabricBatchProduction.BatchMans=[];
        oFabricBatchProduction.HRMShifts=[];
        oFabricBatchProduction.FabricBatchRawMaterials=[];
        oFabricBatchProduction.FBPBs=[];
        oFabricBatchProduction.FBPBs1=[];

        $.ajax
             ({
                 type: "POST",
                 dataType: "json",
                 url : _sBaseAddress+  "/FabricBatchProduction/GetNextEnddateFromStartDate",
                 data: JSON.stringify(oFabricBatchProduction),
                 contentType: "application/json; charset=utf-8",
                 success: function (data) {
                     var oFabricBatchProduction = jQuery.parseJSON(data);
                     $("#txtEndDate").datebox("setValue", oFabricBatchProduction.EndDateSt);
                     $('#tpEndTime').timespinner('setValue', oFabricBatchProduction.EndDateStForTimeSpan);
                 },
                 error: function (xhr, status, error)
                 {
                     alert(error);
                 }
             });
    }


    function SetFabricBatchProductionInfo(oFabricBatchProduction)
    {
        debugger;
        if(_oFabricBatchProduction.IsRunOut)
        {
            
            $("#toolbarBatchMan").hide();
            $("#cboTextileSubUnit,#cboMachineName").prop("disabled",true);
            $("#cboFBPShift").prop("disabled",true);

            $('#txtStartDate').datebox({disabled:true});
            $('#tpStartTime').timespinner({disabled:true});
            $('#txtEndDate').datebox({disabled:true});
            $('#tpEndTime').timespinner({disabled:true});
            $("#txtRPM,#txtReedCount,#txtDent").prop("disabled",true);

            $("#cboTextileSubUnit").val(oFabricBatchProduction.TSUID);
            $("#cboMachineName").val(oFabricBatchProduction.FMID);
            $("#cboFBPShift").val(oFabricBatchProduction.ShiftID);
            $('#tpStartTime').timespinner('setValue', oFabricBatchProduction.StartDateStForTimeSpan);
            $('#tpEndTime').timespinner('setValue', oFabricBatchProduction.EndDateStForTimeSpan);
            $('#txtStartDate').datebox('setValue', oFabricBatchProduction.StartDateSt);
            $('#txtEndDate').datebox('setValue', oFabricBatchProduction.EndDateSt);

            debugger;
            $("#txtRPM").val(oFabricBatchProduction.RPM>0?oFabricBatchProduction.RPM:"");
            $("#txtReedCount").val(oFabricBatchProduction.ReedCount>0?oFabricBatchProduction.ReedCount:"");
            $("#txtDent").val(oFabricBatchProduction.Dent);
            
            
            $("#txtTexture").val(oFabricBatchProduction.Texture);
            $('#txtWeavingDuration').val(oFabricBatchProduction.BatchDuration);
        }
        else
        {
            $("#toolbarBatchMan").show();
            if(oFabricBatchProduction.FBPID > 0)
            {
                $("#cboTextileSubUnit,#cboMachineName").prop("disabled",true);
                $("#cboFBPShift").prop("disabled",true);
              
                $('#txtStartDate').datebox({disabled:true});
                $('#tpStartTime').timespinner({disabled:true});
                $('#txtEndDate').datebox({disabled:false});
                $('#tpEndTime').timespinner({disabled:false});

                $("#cboTextileSubUnit").val(oFabricBatchProduction.TSUID);
                $("#cboMachineName").val(oFabricBatchProduction.FMID);
                $("#cboFBPShift").val(oFabricBatchProduction.ShiftID);
                $('#tpStartTime').timespinner('setValue', oFabricBatchProduction.StartDateStForTimeSpan);
                $('#tpEndTime').timespinner('setValue', oFabricBatchProduction.EndDateStForTimeSpan);
                $('#txtStartDate').datebox('setValue', oFabricBatchProduction.StartDateSt);
                $('#txtEndDate').datebox('setValue',oFabricBatchProduction.EndDateSt == "01 Jan 0001" ? icsdateformat(new Date) : oFabricBatchProduction.EndDateSt);


                $("#txtRPM").val(oFabricBatchProduction.RPM>0?oFabricBatchProduction.RPM:"");
                $("#txtReedCount").val(oFabricBatchProduction.ReedCount>0?oFabricBatchProduction.ReedCount:"");
                $("#txtDent").val(oFabricBatchProduction.Dent);
                $("#txtTexture").val(oFabricBatchProduction.Texture);

                $('#txtWeavingDuration').val(oFabricBatchProduction.BatchDuration);
            }
            else
            {
                $("#cboTextileSubUnit,#cboMachineName").prop("disabled",false);
                $("#cboFBPShift").prop("disabled",false);
                $('#txtStartDate').datebox({disabled:false});
                $('#tpStartTime').timespinner({disabled:false});
                $('#txtEndDate').datebox({disabled:false});
                $('#tpEndTime').timespinner({disabled:false});
                $("#txtRPM,#txtReedCount,#txtDent").prop("disabled",false);

                $("#cboTextileSubUnit,#cboMachineName,#cboFBPShift").val(0);
                $('#tpStartTime').timespinner('setValue', "00:00");
                $('#tpEndTime').timespinner('setValue', "00:00");
                $('#txtStartDate').datebox('setValue', icsdateformat(new Date));
                $('#txtEndDate').datebox('setValue', icsdateformat(new Date));
            }
        }
    }

    function ValidateInput()
    {
        if(parseInt($('#cboTextileSubUnit').val())<=0)
        {
            alert("Select Textile Sub Unit!");
            $('#cboTextileSubUnit').focus();
            return false;
        }
        if(parseInt($('#cboMachineName').val())<=0)
        {
            alert("Select machine!");
            $('#cboMachineName').focus();
            return false;
        }
        if(parseInt($('#cboFBPShift').val())<=0)
        {
            alert("Select Shift!");
            $('#cboFBPShift').focus();
            return false;
        }
        return true;
    }

    function RefreshObject()
    {
        var dStartDate =$('#txtStartDate').datebox('getValue');
        var startTime= $('#tpStartTime').timespinner('getValue');
        var sTime=startTime.split(':');
        var hStartTime= parseFloat(sTime[0]);
        var mStartTime= parseFloat(sTime[1]);
        dStartDate = new Date(dStartDate);
        dStartDate.setHours(hStartTime);
        dStartDate.setMinutes(mStartTime);

        var oFBPB={
            FBPBeamID:0,
            FBPID : _oFabricBatchProduction.FBPID,
            BeamID : _oFBPB.BeamID,
            Qty : _oFBPB.Qty,
            IsFinish : 1
        };
        var oFBPBs=[];
        oFBPBs.push(oFBPB);

        var oFabricBatchProduction= {
            FBPID:0,
            FBID: (_oFabricBatchProduction.FBPID == 0 ? _oFB.FBID : _oFabricBatchProduction.FBID),
            WeavingProcess:3,
            FMID:$('#cboMachineName').val(),
            RPM:$('#txtRPM').val(),
            ReedCount:$('#txtReedCount').val(),
            Dent:$('#txtDent').val(),
            TSUID : $('#cboTextileSubUnit').val(),
            Texture:$('#txtTexture').val(),
            StartTime: dStartDate,
            FabricBatchStatus:8,//Weaving
            FBPriviousStatus:_oFabricBatchProduction.FabricBatchStatusInInt,//Sizing finish, Drawing or  Drawing_fionish
            Qty:$('#txtTotalFinishLengthY').val(),
            FBPBs : oFBPBs,
            ShiftID : $('#cboFBPShift').val()
        };
        return oFabricBatchProduction;
    }


    $("#btnRun").click(function(){
        if(!confirm("Are you sure to run?"))
            return false;
        if(!ValidateInput()) return false;
        
        var oFabricBatchProduction = RefreshObject();
        $.ajax({
            type: "POST",
            dataType: "json",
            url : _sBaseAddress+"/FabricBatchProduction/Save",
            traditional: true,
            data:  JSON.stringify(oFabricBatchProduction),
            contentType: "application/json; charset=utf-8",
            success: function (data) {
                var oFabricBatchProduction = jQuery.parseJSON(data);
                if (oFabricBatchProduction.FBPID>0)
                {
                    _oFabricBatchProduction = oFabricBatchProduction;
                    alert("Succefully Run");
                    //$('#txtStatus').val(oFabricBatchProduction.FabricBatchStatusInString);
                    $('#tpStartTime').timespinner({disabled:true});
                    $('#txtStartDate').datebox({disabled:true});
                    $('#tpStartTime').timespinner('setValue', oFabricBatchProduction.StartDateStForTimeSpan);
                    $('#txtStartDate').datebox('setValue', oFabricBatchProduction.StartDateSt);
                    $('#btnChangeReedDent, #btnHold, #btnRunOut').show();
                    $('#btnRun').hide();
                    $('#txtSizingDuration').val(oFabricBatchProduction.BatchDuration);
                    
                    $("#cboTextileSubUnit,#cboMachineName").prop("disabled",true);
                    DynamicRefreshList(oFabricBatchProduction.FBPBs,"tblBeamsSizing");
                    return false ;
                }
                else {
                    alert(oFabricBatchProduction.ErrorMessage);
                }
            },
            error: function (xhr, status, error) {
                alert(error);
            }
        });
    });


    function RunOutOrHold(IsRunOut){
        var sMsg="Hold"
        if(IsRunOut)
            sMsg="Run Out";
        if(!confirm("Are you sure to "+sMsg+"?"))
            return false;
        if(parseInt(_oFabricBatchProduction.FBPID)<=0)
        {
            alert("Sorry, there is no fabric batch production!");
            return false;
        }

        if($("#tblFBPBatchMan").datagrid("getRows").length == 0){
            alert("Add batch wise production entry");
            return false;
        }

        var dEndDate =$('#txtEndDate').datebox('getValue');
        var EndTime= $('#tpEndTime').timespinner('getValue');
        var sTime=EndTime.split(':');
        var hEndTime= parseFloat(sTime[0]);
        var mEndTime= parseFloat(sTime[1]);
        dEndDate = new Date(dEndDate);
        dEndDate.setHours(hEndTime);
        dEndDate.setMinutes(mEndTime);

        var oFabricBatchProduction = {
            FBPID:_oFabricBatchProduction.FBPID,
            FBID:_oFabricBatchProduction.FBID,
            WeavingProcess : 3,
            FMID:$('#cboMachineName').val(),
            TSUID: $('#cboTextileSubUnit').val(),
            RPM:$('#txtRPM').val(),
            ReedCount:$('#txtReedCount').val(),
            Dent:$('#txtDent').val(),
            FabricBatchStatus:9,//Weaving_Finish
            FBPriviousStatus:_oFabricBatchProduction.FabricBatchStatusInInt,
            EndTime:dEndDate,
            Qty:$('#txtTotalFinishLengthY').val(),
            IsFromRunOut:IsRunOut,
            IsHold: !IsRunOut,
            ShiftID:$('#cboFBPShift').val()
        };

        $.ajax({
            type: "POST",
            dataType: "json",
            url : _sBaseAddress+"/FabricBatchProduction/Save",
            traditional: true,
            data:  JSON.stringify(oFabricBatchProduction),
            contentType: "application/json; charset=utf-8",
            success: function (data) {
                var oFabricBatchProduction = jQuery.parseJSON(data);
                if (oFabricBatchProduction.FBPID>0)
                {
                    _oFabricBatchProduction = oFabricBatchProduction;
                    alert(((IsRunOut)?"Run Out Successfully.":"Hold Successfully."));
                    //$('#txtStatus').val(oFabricBatchProduction.FabricBatchStatusInString);
                    $('#txtSizingDuration').val(oFabricBatchProduction.BatchDuration);
                    $('#btnChangeReedDent, #btnHold, #btnRunOut').hide();
                    $('#txtProductName,#cboLot,#cboStore, #btnPickProduct,#btnLotRefresh,#btnAddChemical,#btnDeleteChemical,#btnOutMaterials').hide();
                    $('#tpEndTime').timespinner({disabled:true});
                    $('#txtEndDate').datebox({disabled:true});
                    $('#tpEndTime').timespinner('setValue', oFabricBatchProduction.EndDateStForTimeSpan);
                    $('#txtEndDate').datebox('setValue', oFabricBatchProduction.EndDateSt);
                    return false;
                }
                else {
                    alert(oFabricBatchProduction.ErrorMessage);
                }
            },
            error: function (xhr, status, error) {
                alert(error);
            }
        });
    }

    $('#btnHold').click(function(){
        RunOutOrHold(false);
    });

    $("#btnRunOut").click(function(){
        RunOutOrHold(true);
    });


    $("#btnChangeReedDent").click(function(){
        if(!confirm("Are you sure to Change Reed Dent?"))
            return false;
        if(parseInt(_oFabricBatchProduction.FBPID)<=0)
        {
            alert("Sorry, there is no fabric batch production!");
            return false;
        }

        var oFBP = {
            FBPID:_oFabricBatchProduction.FBPID,
            RPM:$('#txtRPM').val(),
            ReedCount:$('#txtReedCount').val(),
            Dent:$('#txtDent').val()
        };

        $.ajax({
            type: "POST",
            dataType: "json",
            url : _sBaseAddress+"/FabricBatchProduction/UpdateWeaving",
            traditional: true,
            data:  JSON.stringify(oFBP),
            contentType: "application/json; charset=utf-8",
            success: function (data) {
                var oFabricBatchProduction = jQuery.parseJSON(data);
                if (oFabricBatchProduction.FBPID>0)
                {
                    _oFabricBatchProduction = oFabricBatchProduction;
                }
                else {
                    alert(oFabricBatchProduction.ErrorMessage);
                }
            },
            error: function (xhr, status, error) {
                alert(error);
            }
        });
    });



    function SetFieldValues()
    {
        debugger;
        if(_oFBPB.BeamID>0){
            $("#txtBeamNo").val(_oFBPB.BeamNo);
            $("#txtBeamQtyY").val((_oFBPB.Qty).toFixed(2) + "(Y)");
            $("#txtBeamQtyM").val(GetMeter(_oFBPB.Qty,2) + "(M)");

            //$("#txtFinishLengthY").val(_oFBPB.Qty.toFixed(2));
            //$("#txtFinishLengthM").val(GetMeter(_oFBPB.Qty,2));

            //$("#txtTotalFinishLengthY,#txtFinishLengthY").val(parseFloat((_oFBPB.Qty).toFixed(2)));
            //$("#txtTotalFinishLengthM,#txtFinishLengthM").val(GetMeter(_oFBPB.Qty,2));
        }

        if(_oFabricBatchProduction.IsRunOut)
        {
            $("#btnRun, #btnChangeReedDent, #btnHold, #btnRunOut").hide();
        }
        else
        {
            if(_oFabricBatchProduction.FBPID > 0){
                $("#btnRun").hide();
                $("#btnChangeReedDent, #btnHold, #btnRunOut").show();
            }else{
                $("#btnRun").show();
                $("#btnChangeReedDent, #btnHold, #btnRunOut").hide();
            }
        }
    }

    function SetFabricBatchInfo(oFB)
    {
        if(oFB.FBID > 0){

            $("#txtBatchNo").val(oFB.BatchNo);
            $("#txtOrderNo").val(oFB.OrderNo);
            //$("#txtStatus").val(oFB.StatusSt);
            $("#txtConstruction").val(oFB.Construction);
            $("#txtBuyer").val(oFB.BuyerName);
            $("#txtFEOLengthY").val(ConvertToFixed2(_oFBPB.FEOQty));
            $("#txtFEOLengthM").val(ConvertToFixed2(_oFBPB.FEOQtyInMtr));
            //$("#txtTotalFinishLengthY").val(ConvertToFixed2(oFB.Qty));
            //$("#txtTotalFinishLengthM").val(GetMeter(oFB.Qty,2));
            $("#txtYetToWarpLengthY").val(ConvertToFixed2(_oFBPB.YetWeaveQty));
            $("#txtYetToWarpLengthM").val(ConvertToFixed2(_oFBPB.YetWeaveQtyInMtr));
            $('#txtTotalEnds').val(oFB.TotalEnds);
            $('#txtNoOfSection').val(oFB.NoOfSection);
            $("#cboMachineName").val(oFB.FMID);

            if($.trim($("#txtTexture").val()) == ""){
                $("#txtTexture").val(oFB.Texture);
            }
        }
    }

    function ConvertToFixed2(nVal)
    {
        return parseFloat(nVal.toFixed(2));
    }

    $("#btnBack").click(function () {
        sessionStorage.setItem("nBeamID", _nBeamID);
        window.location.href = _sBaseAddress + "/" + _oTempDefaultObj.ControllerName + "/" + _oTempDefaultObj.ActionName + "?menuid=" +  sessionStorage.getItem("MenuID");
    });


    //===================================Start batch man===================================
    $("#txtFinishLengthY").keyup(function (e) {
        var nVal =  $(this).val();
        $('#txtFinishLengthM').val(GetMeter(nVal,2));
        if (nVal == "" || nVal == null) {
            $(this).val(0);
        }
    });

    $("#txtFinishLengthM").keyup(function (e) {
        var nVal = $(this).val();
        $('#txtFinishLengthY').val(GetYard(nVal,2));
        if (nVal == "" || nVal == null) {
            $(this).val(0);
        }
    });
    function AddBatchMan()
    {
       
        if(parseInt($('#cboShift').val())<=0)
        {
            alert("Select Shift !");
            $('#cboShift').focus();
            return false;
        }

        if(parseInt($('#txtFinishLengthY').val())<=0 || $('#txtFinishLengthY').val()=="")
        {
            alert("Give finish length");
            $('#txtFinishLengthY').focus();
            return false;
        }
        if(parseInt($('#txtFPBRPM').val())<=0 || $('#txtFPBRPM').val()=="")
        {
            alert("Give RPM");
            $('#txtFinishLengthY').focus();
            return false;
        }
        if(parseInt($('#txtEff').val())<=0 || $('#txtEff').val()=="")
        {
            alert("Give Efficiency");
            $('#txtEff').focus();
            return false;
        }

        if(_oFabricBatchProduction == null || _oFabricBatchProduction.FBPID <=0)
        {
            alert("Run first.");
            return false;
        }
        debugger;
        var oFBPBatchMan = {
            FBPBID:0,
            FBPID:_oFabricBatchProduction.FBPID,
            EmployeeID:$('#cboBatchMan').val(),// 1706=Batchman-A
            ShiftID:$('#cboShift').val(),
            Qty:$('#txtFinishLengthY').val(),
            FinishDate:$('#txtFinishDate').datebox('getValue'),
            Note:'',
            Efficiency:$('#txtEff').val(),
            RPM:$('#txtFPBRPM').val()
        };

        SaveBatchMan(oFBPBatchMan,false, 0);
    
    }

    function SaveBatchMan(oFBPBatchMan,bIsEdit, nSelectedIndex)
    {
        $.ajax({
            type: "POST",
            dataType: "json",
            url : _sBaseAddress+"/FabricBatchProduction/SaveFBPBatchMan",
            traditional: true,
            data:  JSON.stringify(oFBPBatchMan),
            contentType: "application/json; charset=utf-8",
            success: function (data) {
                _oFBPBatchMan = jQuery.parseJSON(data);
                if (parseInt(_oFBPBatchMan.FBPBID)>0)
                {
                    if(bIsEdit)
                    {
                        $('#tblFBPBatchMan').datagrid('updateRow', { index: nSelectedIndex, row: _oFBPBatchMan});
                    }else{
                        $("#tblFBPBatchMan").datagrid("appendRow", _oFBPBatchMan);
                    }

                    $('#cboBatchMan').val(0);
                    $('#cboShift').val(0);
                    $('#txtFinishLengthY').val("");
                    $('#txtFinishLengthM,#txtEff,#txtFPBRPM').val("");
                    $('#txtFinishDate').datebox('setValue',icsdateformat(new Date()));
                    SetFinishLength();
                }
                else {
                    alert(_oFBPBatchMan.ErrorMessage);
                }
            },
            error: function (xhr, status, error) {
                alert(error);
            }
        });
    }
    function DeleteBatchMan()
    {
        var oFBPBatchMan= $("#tblFBPBatchMan").datagrid("getSelected");
        if (oFBPBatchMan == null || parseInt(oFBPBatchMan.FBPBID) <= 0) {
            alert("Please select an item from list!");
            return false;
        }

        if(_oFabricBatchProduction.FabricBatchStatus >= 9){
            alert("This production batch already out, delete not possible.");
            return false;
        }

        if (!confirm("Confirm to Delete?")) return false;
        var nRowIndex = $("#tblFBPBatchMan").datagrid("getRowIndex", oFBPBatchMan);
        if (parseInt(oFBPBatchMan.FBPBID) > 0)
        {
            $.ajax
            ({
                type: "GET",
                dataType: "json",
                url : _sBaseAddress+  "/FabricBatchProduction/DeleteFBPBatchMan",
                data: { id: oFBPBatchMan.FBPBID},
                contentType: "application/json; charset=utf-8",
                success: function (data) {
                    feedbackmessage = jQuery.parseJSON(data);
                    if (feedbackmessage == "Deleted")
                    {
                        alert("Delete sucessfully");
                        $("#tblFBPBatchMan").datagrid("deleteRow", nRowIndex);
                        SetFinishLength();
                    }
                    else
                    {
                        alert(feedbackmessage);
                    }
                    editIndexBatchMan = undefined;
                    endEditingBatchMan();
                },
                error: function (xhr, status, error)
                {
                    alert(error);
                }
            });
        }
    }

    var editIndexBatchMan = undefined;
    function endEditingBatchMan(){
        if (editIndexBatchMan == undefined){return true}
        if ($('#tblFBPBatchMan').datagrid('validateRow', editIndexBatchMan)){
            $('#tblFBPBatchMan').datagrid('endEdit', editIndexBatchMan);
            $('#tblFBPBatchMan').datagrid('selectRow',editIndexBatchMan);
            var oFBPBatchMan=$('#tblFBPBatchMan').datagrid('getSelected');
            oFBPBatchMan.Qty=oFBPBatchMan.Qty;
            oFBPBatchMan.FinishDate= icsdateformat(new Date(oFBPBatchMan.FinishDate)),
            oFBPBatchMan.Note=oFBPBatchMan.Note;
            SaveBatchMan(oFBPBatchMan, true,editIndexBatchMan);
            editIndexBatchMan = undefined;
            return true;
        }
        else
        {
            return false;
        }
    }
    function onClickRowBatchMan(index){

        if (editIndexBatchMan != index){
            if (endEditingBatchMan())
            {
                $('#tblFBPBatchMan').datagrid('selectRow', index)
                        .datagrid('beginEdit', index);
                editIndexBatchMan = index;
            }
            else
            {
                $('#tblFBPBatchMan').datagrid('selectRow', editIndexBatchMan);
            }
        }
    }

    //===================================End batch man===================================





    function BasicFieldsValueSet()
    {
        var oBeams = @Html.Raw(new System.Web.Script.Serialization.JavaScriptSerializer().Serialize(@ViewBag.Beams));
        
        $("#cboBreakage").icsLoadCombo({List: _oFabricBreakages,OptionValue: "FBreakageID",DisplayText: "Name"});
        $("#cboBatchMan").icsLoadCombo({List: _oBatchMans,OptionValue: "EmployeeID",DisplayText: "Name"});
        $("#cboMachineName").icsLoadCombo({List: _oFabricMachines,OptionValue: "FMID",DisplayText: "MachineCodeWithName"});
        $("#cboShift").icsLoadCombo({List: _oHRMShifts,OptionValue: "ShiftID",DisplayText: "ShiftWithDuration"});
        $("#cboFBPShift").icsLoadCombo({List: _oHRMShifts,OptionValue: "ShiftID",DisplayText: "ShiftWithDuration"});
        $("#cboFBPShift").icsLoadCombo({List: _oHRMShifts,OptionValue: "ShiftID",DisplayText: "ShiftWithDuration"});
        $("#cboBeams").icsLoadCombo({List: oBeams,OptionValue: "FMID",DisplayText: "Code"});
        $('#tpStartTime,#tpEndTime').timespinner('setValue', "00:00");
        $('#txtStartDate,#txtEndDate').datebox('setValue', icsdateformat(new Date));
        
        $(".number").val(0);
        $("#txtFPBRPM,#txtEff,#txtFinishLengthM").val("");
        $("#txtBeamQty,#txtBeamQtyMeter").val("");
        $("#txtRPM,#txtReedCount,#txtDent").val("");

        //Code Added By Tonmoy
        $("#cboStore").icsLoadCombo({List: _oStores,OptionValue: "WorkingUnitID",DisplayText: "WorkingUnitName"});

    }

    //Breakage Start
  
    $("#btnAddBreakage").click(function(){
        if(parseInt(_oFabricBatchProduction.FBPID)<=0)
        {
            alert("Please Run the Batch Card then Add Breakage!");
            return false;
        }
        if(parseInt($('#cboBreakage').val())<=0)
        {
            alert("Select Breakage !");
            $('#cboBreakage').focus();
            return false;
        }
        if(parseInt($('#txtDuration').numberbox('getValue'))<=0)
        {
            alert("Duration Should be greater than 0 ");
            $('#txtDuration').focus();
            return false;
        }

        var oFBPBatchMan = $("#tblFBPBatchMan").datagrid("getSelected");
        if(oFBPBatchMan == null || oFBPBatchMan.FBPBID <=0)
        {
            alert("Invalid Fabric Batch Production Batch Man.");
            return false;
        }

        var oFBPBreakage = {
            FBPBreakageID:0,
            FBPBID: oFBPBatchMan.FBPBID,
            FBreakageID:$('#cboBreakage').val(),
            DurationInMin:$('#txtDuration').numberbox('getValue'),
            NoOfBreakage:$('#txtNumberOfBreakage').numberbox('getValue'),
            Note:''
        };

        SaveBreakage(oFBPBreakage,false, 0);
        $('#cboBreakage').val(0);
        $('#txtDuration').numberbox('setValue',0);
        $('#txtNumberOfBreakage').numberbox('setValue',0);
    });

    function SaveBreakage(oFBPBreakage,bIsEdit, nSelectedIndex)
    {
        if(_oFabricBatchProduction.FabricBatchStatus >= 9){
            alert("This production batch already out, delete not possible.");
            return false;
        }
        $.ajax({
            type: "POST",
            dataType: "json",
            url : _sBaseAddress+"/FabricBatchProduction/SaveFBPBreakage",
            traditional: true,
            data:  JSON.stringify(oFBPBreakage),
            contentType: "application/json; charset=utf-8",
            success: function (data) {
                _oFBPBreakage = jQuery.parseJSON(data);
                if (_oFBPBreakage.FBPBreakageID>0)
                {
                    if(bIsEdit)
                    {
                        $('#tblFBPBreakage').datagrid('updateRow', { index: nSelectedIndex, row: _oFBPBreakage});
                    }else{
                        $("#tblFBPBreakage").datagrid("appendRow", _oFBPBreakage);
                    }
                    TotalNoOfBreakage();
                    //Update table tblFBPBatchMan
                    UpdateFBPBatchMan(_oFBPBreakage.FabricBatchProductionBreakages);
                    return;
                }
                else {
                    alert(_oFBPBreakage.ErrorMessage);
                    TotalNoOfBreakage();
                }
            },
            error: function (xhr, status, error) {
                alert(error);
            }

        });

    }

    $("#btnDeleteBreakage").click(function(){
        var oFBPBreakage= $("#tblFBPBreakage").datagrid("getSelected");
        if (oFBPBreakage == null || parseInt(oFBPBreakage.FBPBreakageID) <= 0) {
            alert("Please select an item from list!");
            return false;
        }

        if (!confirm("Confirm to Delete?")) return false;
        var nRowIndex = $("#tblFBPBreakage").datagrid("getRowIndex", oFBPBreakage);
        if (parseInt(oFBPBreakage.FBPBreakageID) > 0)
        {
            $.ajax
            ({
                type: "GET",
                dataType: "json",
                url : _sBaseAddress+  "/FabricBatchProduction/DeleteFBPBreakage",
                data: { id: oFBPBreakage.FBPBreakageID},
                contentType: "application/json; charset=utf-8",
                success: function (data) {
                    feedbackmessage = jQuery.parseJSON(data);
                    if (feedbackmessage == "Deleted")
                    {
                        alert("Delete sucessfully");
                        $("#tblFBPBreakage").datagrid("deleteRow", nRowIndex);
                    }
                    else
                    {
                        alert(feedbackmessage);
                    }
                    TotalNoOfBreakage();
                    UpdateFBPBatchMan($("#tblFBPBreakage").datagrid("getRows"));
                    editIndexBreakage = undefined;
                    endEditingBreakage();
                },
                error: function (xhr, status, error)
                {
                    alert(error);
                }

            });
        }
    });

    function UpdateFBPBatchMan(oFabricBatchProductionBreakages)
    {
        if(oFabricBatchProductionBreakages.length > 0)
        {
            var nTotalBreakages=0;
            var nTotalNoOfBreakage=0;
            for(var i=0;i<oFabricBatchProductionBreakages.length;i++)
            {
                nTotalBreakages++;
                nTotalNoOfBreakage = parseInt(oFabricBatchProductionBreakages[i].NoOfBreakage) + parseInt(nTotalNoOfBreakage);
            }

            var oFBPBatchMan = $("#tblFBPBatchMan").datagrid("getSelected");
            var nRowIndex = $("#tblFBPBatchMan").datagrid("getRowIndex", oFBPBatchMan);

            oFBPBatchMan.TotalFBPBreakage = nTotalBreakages;
            oFBPBatchMan.TotalNoOfBreakage = nTotalNoOfBreakage

            $("#tblFBPBatchMan").datagrid("updateRow", { index: nRowIndex, row: oFBPBatchMan });
            $('#tblFBPBatchMan').datagrid('selectRow',nRowIndex);
        }
    }

   
    var editIndexBreakage = undefined;
    function endEditingBreakage(){
        if (editIndexBreakage == undefined){return true}
        if ($('#tblFBPBreakage').datagrid('validateRow', editIndexBreakage)){

            $('#tblFBPBreakage').datagrid('endEdit', editIndexBreakage);
            $('#tblFBPBreakage').datagrid('selectRow',editIndexBreakage);
            var oFBPBreakage=$('#tblFBPBreakage').datagrid('getSelected');
            oFBPBreakage.DurationInMin = parseInt(oFBPBreakage.DurationInMin);
            oFBPBreakage.NoOfBreakage = parseInt(oFBPBreakage.NoOfBreakage);
            oFBPBreakage.Note = oFBPBreakage.Note;
            SaveBreakage(oFBPBreakage, true,editIndexBreakage);
            editIndexBreakage = undefined;
            return true;
        }
        else
        {
            return false;
        }
    }
    function onClickRowBreakage(index){

        if (editIndexBreakage != index){
            if (endEditingBreakage())
            {
                $('#tblFBPBreakage').datagrid('selectRow', index)
                        .datagrid('beginEdit', index);
                editIndexBreakage = index;
            }
            else
            {
                $('#tblFBPBreakage').datagrid('selectRow', editIndexBreakage);
            }
        }
    }

    $("#btnRefreshBreakage").click(function(){
        endEditingBreakage();
    });

    $("#btnCloseTotalBreakageInformation").click(function(){
        $("#winTotalBreakageInformation").icsWindow("close");
    });
    //Breakage End

    //For Weft Lot COnsumption 
    function PickProductWarping()
    {
        if(parseInt($('#cboStore').val())<=0)
        {
            alert("Please select store.");
            return false;
        }
        if($.trim($("#txtProductName").val()) == "")
        {
            alert("Type product name.");
            return false;
        }
        var sDBObjectName = "FabricProductionBatch";
        var nTriggerParentsType = 111; //_FabricProduction
        var nOperationalEvent = 713; // _disburse
        var nInOutType = 102;  // Out
        var nDirections = 0;
        var nStoreID = parseInt($("#cboStore").val());
        var nMapStoreID = 0;

        var sProductName = $("#txtProductName").val();
        var oProduct = {
            Params: $.trim(sProductName) + '~' + sDBObjectName + '~' + nTriggerParentsType + '~' + nOperationalEvent + '~' + nInOutType + '~' + nDirections + '~' + nStoreID + '~' + nMapStoreID
        };
        var obj = {
            BaseAddress: _sBaseAddress,
            Object: oProduct,
            ControllerName: "FabricBatchProduction",//"Product",
            ActionName: "ATMLNewSearchByProductName",
            IsWinClose: false
        };
        $.icsDataGets(obj, function (response) {
            if (response.status && response.objs.length > 0) {
                if (response.objs[0].ProductID > 0) {
                    var tblColums = [];var oColumn = { field: "ProductCode", title: "Product Code", width: 100, align: "left" };tblColums.push(oColumn);
                    oColumn = { field: "ProductName", title: "ProductName", width: 150, align: "left" };tblColums.push(oColumn);
                    var oPickerParam = {
                        winid: 'winProduct',
                        winclass:'clsProduct',
                        winwidth: 600,
                        winheight: 460,
                        tableid: 'tblProducts',
                        tablecolumns: tblColums,
                        datalist: response.objs,
                        multiplereturn: false,
                        searchingbyfieldName:'ProductName',
                        windowTittle: 'Product List '
                    };
                    $.icsPicker(oPickerParam);
                    IntializePickerbutton(oPickerParam);
                }
                else 
                { 
                    alert(response.objs[0].ErrorMessage); 
                }
            }
            else
            {
                alert("Data not found.");
            }
        });
    }

    $("#txtProductName").keydown(function (e){
        if (e.keyCode === 13) // Enter Press
        {
            PickProductWarping();
        }
        else if (e.keyCode === 8 || e.keyCode==27) // Back spce
        {
            $("#txtProductName").removeClass("fontColorOfPickItem");
            _oProduct = null;
            $('#cboLot').empty();
            sessionStorage.setItem("Lots",[])//reset lots session storage
        }
    });

    function IntializePickerbutton(oPickerobj)
    {
        $("#" + oPickerobj.winid).find("#btnOk").click(function () {
            ButtonEvents(oPickerobj);
        });
        $(document).find('.' +oPickerobj.winclass).keydown(function (e) {
            if (e.which == 13)//enter=13
            {
                ButtonEvents(oPickerobj);
            }
        });
    }

    function ButtonEvents(oPickerobj)
    {
        var oreturnobj = "";var oreturnobjs = [];
        if(oPickerobj.multiplereturn)
        {
            oreturnobjs = $('#'+oPickerobj.tableid).datagrid('getChecked');
        }else{
            oreturnobj = $('#'+oPickerobj.tableid).datagrid('getSelected');
        }
        if (oPickerobj.winclass == 'clsFEOReReceiveYarn')
        {
            if (oreturnobjs != null && oreturnobjs.length > 0)
            {
                debugger;
                var oNewFBRMaterials = [];
                for(var i=0;i<oreturnobjs.length;i++)
                {
                    var oFBRMaterial = {
                        FBID :_oFabricBatchProduction.FBID,
                        FBRMID :0,
                        ProductID :oreturnobjs[i].ProductID,
                        LotID:oreturnobjs[i].LotID,
                        LotNo :oreturnobjs[i].LotNo,
                        //Qty: (oreturnobjs[i].IsFabricYarnOrderAllocation)? oreturnobjs[i].Qty  :0,
                        Qty:(oreturnobjs[i].Value==0)?0:((_oFB.TotalEnds * _oFB.Qty/oreturnobjs[i].Value * 1693.33)),
                        WeavingProcess :3
                    };
                    oNewFBRMaterials.push(oFBRMaterial);
                 
                }
              
                Out(oNewFBRMaterials, false,-1, false);
                $('#cboStore').focus();
               
            }
            else
            {
                alert("Please select an item from list.");
                return false;
            }
        }
        else if(oPickerobj.winclass == 'clsProduct')
        {
            if (oreturnobj != null && oreturnobj.ProductID> 0)
            {
                _oProduct = oreturnobj;
                $("#txtProductName").val(oreturnobj.ProductName);
                $("#txtProductName").addClass("fontColorOfPickItem");
                $('#txtProductName').focus();
            }
            else
            {
                alert("Please select an item from list.");
                return false;
            }
        }
        else if(oPickerobj.winclass == 'clsFabricBatch')
        {
            if (oreturnobj != null && oreturnobj.FBID> 0)
            {
                debugger;
                $("#txtFEONo").val("");
                SetFabricBatchInfo(oreturnobj);
            }
            else
            {
                alert("Please select an item from list.");
                return false;
            }
        }
        $("#" + oPickerobj.winid).icsWindow("close");
        $("#" + oPickerobj.winid).remove();
    }
    var editIndex = undefined;
    function endEditing(){
        debugger;
        if (editIndex == undefined)
        {
            return true;
        }
        if ($('#tblFabricBatchRawMaterial').datagrid('validateRow', editIndex)){
            $('#tblFabricBatchRawMaterial').datagrid('endEdit', editIndex);
            $('#tblFabricBatchRawMaterial').datagrid('selectRow',editIndex);
            var oFabricBatchRawMaterial=$('#tblFabricBatchRawMaterial').datagrid('getSelected');
            if(parseInt(oFabricBatchRawMaterial.ReceiveBy)<=0)
            {
                var oFBRMS =[];
                oFBRMS.push(oFabricBatchRawMaterial);
                Out(oFBRMS, true,editIndex,true);
            }
            else
            {
                $('#tblFabricBatchRawMaterial').datagrid('updateRow',{index: editIndex,	row: oFabricBatchRawMaterial});
            }
            editIndex = undefined;
            return true;
        }
        else
        {
            return false;
        }
    }
    function onClickRow(index){
        if (editIndex != index){

            var oRow = $("#tblFabricBatchRawMaterial").datagrid("getSelected");
            if(oRow.ReceiveBy > 0)
            {
                $('#tblFabricBatchRawMaterial').datagrid('endEdit', editIndex);
                editIndex = undefined;
                endEditing();
                return true;
            }

            if (endEditing())
            {
                $('#tblFabricBatchRawMaterial').datagrid('selectRow', index).datagrid('beginEdit', index);
                editIndex = index;
            }
            else
            {
                $('#tblFabricBatchRawMaterial').datagrid('selectRow', editIndex);
            }
        }
    }
    //Raw Material Start
    function  AddYarnDetail()
    {
        if (parseInt($("#cboStore").val()) == 0) {
            alert("Please select a store");
            $("#cboStore").focus();
            $("#cboStore").addClass("errorFieldBorder");
            return false;
        } else {
            $("#cboStore").removeClass("errorFieldBorder");
        }
        if ( _oProduct ==null || _oProduct.ProductID <= 0) {
            alert("Please select a product.");
            $("#txtProductName").focus();
            $("#txtProductName").addClass("errorFieldBorder");
            return false;
        } else {
            $("#txtProductName").removeClass("errorFieldBorder");
        }
        if (parseInt($("#cboLot").val()) == 0) {
            alert("Please select a Lot");
            $("#cboLot").focus();
            $("#cboLot").addClass("errorFieldBorder");
            return false;
        } else {
            $("#cboLot").removeClass("errorFieldBorder");
        }
        if($('#txtQty').val()<=0)
        {
            alert("Qty Should be Greater than 0");
            $("#txtQty").focus();
            $("#txtQty").addClass("errorFieldBorder");
            return false;
        }else{
            $("#txtQty").removeClass("errorFieldBorder");
        }
        var nLotQty = GetLotQty($("#cboLot").val());
        if($('#txtQty').val()>nLotQty)
        {
            alert("Qty Should Less than or Equal Lot Qty");
            $("#txtQty").focus();
            $("#txtQty").addClass("errorFieldBorder");
            return false;
        }else{
            $("#txtQty").removeClass("errorFieldBorder");
        }

        var oNewFBRMaterials = [];
        var oFBRMaterial = {
            FBID :_oFabricBatchProduction.FBID,
            FBRMID :0,
            ProductID :_oProduct.ProductID,
            LotID:$("#cboLot").val(),
            Qty:$('#txtQty').val(),
            WeavingProcess :3
        };
        if(parseFloat(oFBRMaterial.Qty)<=0)
        {
            alert("Sorry, Lot Qty should be greater than 0.");
            return;
        }
        oNewFBRMaterials.push(oFBRMaterial);
        $("#txtProductName").removeClass("fontColorOfPickItem");
        $("#txtProductName").val("");
        _oProduct = "";
        $('#cboLot').empty();
        $('#cboStore').val(0);
        sessionStorage.setItem("Lots",[])//reset lots session storage
        $('#cboStore').focus();
        $("#txtQty").val(0);
        Out(oNewFBRMaterials, false,-1, false);
    }
    function DeleteYarnDetail()
    {
        var oFBRM= $("#tblFabricBatchRawMaterial").datagrid("getSelected");
        if (oFBRM == null || parseInt(oFBRM.FBRMID) <= 0) {
            alert("Please select an item from list!");
            return false;
        }
        if (parseInt(oFBRM.ReceiveBy)!=0) {
            alert("Sorry, This item already received!");
            return false;
        }

        if (!confirm("Confirm to Delete?")) return false;
        var nRowIndex = $("#tblFabricBatchRawMaterial").datagrid("getRowIndex", oFBRM);
        if (parseInt(oFBRM.FBRMID) > 0)
        {
            $.ajax
            ({
                type: "GET",
                dataType: "json",
                url : _sBaseAddress+  "/FabricBatch/DeleteRowMaterial",
                data: { id: oFBRM.FBRMID},
                contentType: "application/json; charset=utf-8",
                success: function (data) {
                    feedbackmessage = jQuery.parseJSON(data);
                    if (feedbackmessage == "Deleted")
                    {
                        alert("Delete sucessfully");
                        $("#tblFabricBatchRawMaterial").datagrid("deleteRow", nRowIndex);
                        editIndex = undefined
                        endEditing();
                    }
                    else
                    {
                        alert(feedbackmessage);
                    }
                },
                error: function (xhr, status, error)
                {
                    alert(error);
                }

            });
        }
    }

    function GetLotQty(nLotID)
    {
        var oLots =  jQuery.parseJSON(sessionStorage.getItem("Lots"));
        for(var i=0;i<oLots.length;i++)
        {
            if(parseInt(oLots[i].LotID)== parseInt(nLotID))
            {
                return oLots[i].Balance;
            }
        }
        return 0;
    }

    function RefreshLot()
    {
        debugger;
        if (parseInt($("#cboStore").val()) == 0) {
            alert("Please select a store");
            $("#cboStore").focus();
            $("#cboStore").addClass("errorFieldBorder");
            return false;
        } else {
            $("#cboStore").removeClass("errorFieldBorder");
        }

        if ( _oProduct ==null || _oProduct.ProductID <= 0) {
            alert("Please select a product.");
            $("#txtProductName").focus();
            $("#txtProductName").addClass("errorFieldBorder");
            return false;
        } else {
            $("#txtProductName").removeClass("errorFieldBorder");
        }

        var oLot = {
            ProductID: _oProduct.ProductID,
            WorkingUnitID: parseInt($("#cboStore").val())
        };

        $.ajax({
            type: "POST",
            dataType: "json",
            url: _sBaseAddress + "/Lot/GetsLotByStoreAndProduct",
            traditional: true,
            data: JSON.stringify(oLot),
            contentType: "application/json; charset=utf-8",
            success: function (data) {
                var oLots = data;
                if (oLots != null) {
                    if (oLots.length > 0) {
                        sessionStorage.setItem("Lots",JSON.stringify(oLots));
                        $("#cboLot").icsLoadCombo({
                            List: oLots,
                            OptionValue: "LotID",
                            DisplayText: "LotNoWithBalance"
                        });
                    }
                    else {
                        alert("No Lot Found.");
                    }
                }
                else {
                    alert("No Lot Found");
                }
            },
            error: function (xhr, status, error) {
                alert(error);
            }
        });

    }

    function ValidateInputRM(bIsCheckList)
    {
       
        if(parseInt(_oFabricBatchProduction.FBID)<=0)
        {
            alert("Sorry, there is no Fabric Batch!");
            return false;
        }

        if(parseInt(_oFabricBatchProduction.FEOID)<=0)
        {
            alert("Sorry, there is no Fabric Execution Order!");
            return false;
        }

        if(bIsCheckList)
        {
            var oRows = $("#tblFabricBatchRawMaterial").datagrid("getRows");
            var nLength = oRows.length;
            var bIsNotReceivedItemFound = false;
            if(nLength>0)
            {
                for(var i=0;i<nLength;i++)
                {
                    if(oRows[i].ReceiveBy == 0)
                    {
                        bIsNotReceivedItemFound = true;
                        break;
                    }
                }
            }
            else
            {
                alert("No item list.");
                return false;
            }

            if(!bIsNotReceivedItemFound)
            {
                alert("All items in the list already received.");
                return false;
            }
        }
        

        return true;
    }

    function RefreshObjectRawMaterial()
    {
        var oFabricBatch= {
            FBID:_oFabricBatchProduction.FBID,
            IsRawMaterialOut:true,
            FabricBatchRawMaterials:$('#tblFabricBatchRawMaterial').datagrid('getRows'),
            WeavingProcess:3// for loom
        };
        return oFabricBatch;
    }

 
    function Out(oFabricBatchRawMaterials, bIsEdit,nSelectedIndex, bIsCheckList)
    {

        debugger;
       
        if(parseInt(_oFabricBatchProduction.FabricBatchStatusInInt)>2)
        {
            return false;
        }
        if(!ValidateInputRM(bIsCheckList)) return;
        var oFabricBatch = {FabricBatchRawMaterials:[], FBID:0};
        if(oFabricBatchRawMaterials!=null && oFabricBatchRawMaterials.length>0)
        {
            //for add, edit
            oFabricBatch.FabricBatchRawMaterials = oFabricBatchRawMaterials;
        }else{
            //for out
            
            endEditing();
            oFabricBatch = RefreshObjectRawMaterial();
            if(oFabricBatch.FabricBatchRawMaterials==null|| oFabricBatch.FabricBatchRawMaterials.length<=0)
            {
                alert("Sorry, there is no Yarns.");
                return;
            }
        }
        $.ajax({
            type: "POST",
            dataType: "json",
            url : _sBaseAddress+"/FabricBatch/OutRowMaterials",
            traditional: true,
            data:  JSON.stringify(oFabricBatch),
            contentType: "application/json; charset=utf-8",
            success: function (data) {
                debugger;
                oFabricBatch = jQuery.parseJSON(data);
                if (oFabricBatch.IsRawMaterialOut==false && (oFabricBatch.ErrorMessage==null || oFabricBatch.ErrorMessage==""))
                {
                    if(bIsEdit)
                    {
                        $('#tblFabricBatchRawMaterial').datagrid('updateRow', { index: nSelectedIndex, row: oFabricBatch.FabricBatchRawMaterials[0] });
                    }else{
                        for(var i=0;i<oFabricBatch.FabricBatchRawMaterials.length;i++)
                        {
                            $("#tblFabricBatchRawMaterial").datagrid("appendRow", oFabricBatch.FabricBatchRawMaterials[i]);
                        }

                    }

                }else if(oFabricBatch.IsRawMaterialOut && (oFabricBatch.ErrorMessage==null || oFabricBatch.ErrorMessage==""))
                {
                    debugger;
                    alert("Yarn Out Successfully.");
                    $('#txtStatus').val(oFabricBatch.StatusSt);
                    $('#btnRun').show();
                    _oFabricBatchProduction.FabricBatchStatusInInt = oFabricBatch.StatusInInt;
                    //RefreshList(oFabricBatch.FabricBatchRawMaterials,0)//refresh yarns
                    console.log(oFabricBatch.FabricBatchRawMaterials)
                    $('#tblFabricBatchRawMaterial').datagrid('loadData',oFabricBatch.FabricBatchRawMaterials);
               
                }
                else {
                    alert(oFabricBatch.ErrorMessage);
                }
            },
            error: function (xhr, status, error) {
                alert(error);
            }

        });
    }
    //Rawmanterial End
    $("#btnYarnPickByThisOrder").click(function () {
        if(parseInt(_oFabricBatchProduction.FabricSalesContractDetailID)<=0)
        {
            alert("Sorry, there is no Fabric Batch");
            return;
        }

        var oFabricBatch = {
            FabricSalesContractDetailID:_oFabricBatchProduction.FabricSalesContractDetailID
        };
        var obj = {
            BaseAddress: _sBaseAddress,
            Object: oFabricBatch,
            ControllerName: "FabricBatch",
            ActionName: "GetsFabricExecutionOrderYarnReceive",
            IsWinClose: false
        };
        $.icsDataGets(obj, function (response) {
            if (response.status && response.objs.length > 0) {
                if ($.trim(response.objs[0].ErrorMessage) == "") {
                    var tblColums = [];
                    var oColumn = { field: "ProductName", title: "ProductName", width: "20%", align: "left" };tblColums.push(oColumn);
                    oColumn = { field: "ColorName", title: "Color", width: "15%", align: "left" };tblColums.push(oColumn);
                    oColumn = { field: "LotNo", title: "Lot No", width: "15%", align: "left" };tblColums.push(oColumn);
                    oColumn = { field: "UnitName", title: "Working Unit", width: "18%", align: "left" };tblColums.push(oColumn);
                    oColumn = { field: "Qty", title: "Qty", width: "14%", align: "right" };tblColums.push(oColumn);
                    oColumn = { field: "LotBalance", title: "Lot Balance", width: "14%", align: "right" };tblColums.push(oColumn);
                    var oPickerParam = {
                        winid: 'winFEOReReceiveYarn',
                        winclass:'clsFEOReReceiveYarn',
                        winwidth: 750,
                        winheight: 460,
                        tableid: 'tblFEOReReceiveYarns',
                        tablecolumns: tblColums,
                        datalist: response.objs,
                        multiplereturn: true,
                        searchingbyfieldName:'ProductName',
                        windowTittle: 'Yarn List Of Production Execution Order'
                    };
                    $.icsPicker(oPickerParam);
                    IntializePickerbutton(oPickerParam);
                }
                else 
                { 
                    alert(response.objs[0].ErrorMessage); 
                }
            }else{
                alert("Data Not Found");
            }
        });
    });
</script>