
<html>
<head>
    <link href="@Url.Content("~/Content/CSS/icon.css")" rel="stylesheet" type="text/css" />
    <link href="@Url.Content("~/Content/CSS/easyui.css")" rel="stylesheet" type="text/css" />
    <link href="@Url.Content("~/Content/CSS/Pikerstyle.css")" rel="stylesheet" type="text/css" />

    <script src="@Url.Content("~/Scripts/jquery-1.7.1.min.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Scripts/jquery.ics.customize.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Scripts/jquery.easyui.min.js")" type="text/javascript"></script>

    <script src="@Url.Content("~/Scripts/jquery-ui.min.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Scripts/json2.js")" type="text/javascript"></script>

</head>

<body>
    <div style="font-family:Tahoma;">
       

        <textarea id="txtRemarks" placeholder="Remarks" rows="4" cols="50" style="width:395px"></textarea>

        


    </div>
    <fieldset>
        <legend style="font-weight:bold"> Action : </legend>
        <table border="0" cellspacing="2" cellpadding="2" style="font-size:11px; font-weight:bold">
            <tr>
                <td style="width:400px; text-align:right"></td>

                <td style="width:50px">
                    <a id="btnOk" href="javascript:void(0)" class="easyui-linkbutton" iconcls="icon-ok" plain="true" onclick="OK()">Yes</a>
                </td>
                <td style="width:50px">
                    <a id="btnNo" href="javascript:void(0)" class="easyui-linkbutton" iconcls="icon-cancel" plain="true" onclick="Close()">No</a>
                </td>
            </tr>
        </table>
    </fieldset>


</body>

</html>
<script type="text/javascript">
    var _param = {bConfirmed:false,sRemarks:''};
    $(document).ready(function () {
        debugger;
        _sBaseAddress =@Html.Raw( new System.Web.Script.Serialization.JavaScriptSerializer().Serialize(HttpContext.Current.Session[SessionInfo.BaseAddress]));
        var obj = window.dialogArguments;
        document.getElementById('lblHeaderName').innerHTML=obj.Message;
        document.getElementById('btnOk').focus();
    });

    function OK()
    {
        _param = {bConfirmed:false,sRemarks:''};
        var txtRemarks= document.getElementById('txtRemarks').value;
        if(txtRemarks!=null||txtRemarks!='')
        {
            if(txtRemarks!='Remarks')
            {
                _param.sRemarks=txtRemarks;
                
            }
        }
        else
        {
            _param.sRemarks='';
        }
        _param.bConfirmed=true;
        window.returnValue=_param;
        window.close();
    }
    function Close()
    {
        _param = {bConfirmed:false,sRemarks:''};
        _param.bConfirmed=false;
        window.returnValue=_param;
        window.close();
    }
</script>