@{
    ViewBag.Title = "Import Letter Setup";
}
@model IEnumerable<ESimSol.BusinessObjects.ImportLetterSetup>


   <head>
   <title></title>
   </head>
   <body>
       <div id="winImportLetterSetup" style="width:850px;height:600px;" class="easyui-window winstyle" title="Import Letter Setup " data-options="modal:true,closed:true,collapsible:false,minimizable:false,maximizable:false,closable:false">
           <div id="tabExportDOC" class="easyui-tabs" style="width:100%;height:500px">
               <div title="First" style="width:100%;padding:2px">
                   <fieldset>
                       <table style="width:100%;padding:2px" cellpadding="2" cellspacing="2">
                           <tr>
                               <td style="width:30%;">
                                   <input style="width:95%;" id="txtLetterName" type="text" placeholder="Letter Name " />

                               </td>
                               <td style="width:15%; text-align:right">
                                   Type:
                               </td>
                               <td style="width:20%;">
                                   <select style="width:95%;" id="cboLetterType"></select>
                               </td>
                               <td style="width:15%;text-align:right">
                                   Issue To:
                               </td>
                               <td style="width:20%;">
                                   <select style="width:95%;" id="cboIssueToType"></select>
                               </td>
                           </tr>
                           <tr>
                               <td style="width:30%;">
                                   <label>Unit Name:</label>  <select style="width:60%;" id="cboBU"></select>
                               </td>
                               <td style="width:15%;text-align:right">L/C App Type:</td>
                               <td style="width:20%;"><select id="cboLCAppType" style="width: 100%;"></select></td>
                               <td style="width:15%;text-align:right">L/C Type: </td>
                               <td style="width:20%;"><select id="cboLCPaymentType" style="width: 100%;"></select></td>
                           </tr>
                       </table>
                   </fieldset>
                 
                   <fieldset>
                       <table cellpadding="2" cellspacing="4" style="width:100%;padding:2px">
                           <tr>
                               <td style="width:40%;">
                                   <input style="width:100%;" type="text" id="txtTo" placeholder="To" />
                               </td>
                               <td style="width:40%;"></td>
                               <td style="width:20%;">
                                   <input style="width:95%;" type="text" id="txtRefNo" placeholder="RefNo" />
                               </td>
                           </tr>
                           <tr>
                               <td style="width:40%;">
                                   <input type="text" id="txtToName" placeholder="The Manager" style="width:100%;" />
                               </td>
                               <td style="width:40%;text-align:right">
                                   Product Type:
                               </td>
                               <td style="width:20%;">
                                   <select id="cboProductType" style="width: 100%;"></select>
                               </td>
                           </tr>
                           <tr>
                               <td colspan="3" style="width:100%;">
                                   <input type="text" id="txtSubject" style="width:100%;" placeholder="Subject" />
                               </td>

                           </tr>
                           <tr>
                               <td style="width:40%;">
                                   <input type="text" id="txtDearSir" style="width:100%;" placeholder="Dear Sir" />
                               </td>
                               <td style="width:40%;"></td>
                               <td style="width:20%;"></td>
                           </tr>
                           <tr>
                               <td colspan="3" style="width:100%;">
                                   <input type="text" id="txtBody1" style="width:100%;" placeholder="Body One" />
                               </td>

                           </tr>
                           <tr>
                               <td colspan="3" style="width:100%;">
                                   <input type="text" id="txtBody2" style="width:100%;" placeholder="Body Two" />
                               </td>

                           </tr>
                           <tr>
                               <td colspan="3" style="width:100%;">
                                   <input type="text" id="txtBody3" style="width:100%;" placeholder="Body Three" />
                               </td>

                           </tr>

                       </table>
                   </fieldset>
                   <fieldset>
                       <table cellpadding="2" cellspacing="2" style="width:100%;padding:2px">
                           <tr>
                               <td colspan="3" style="width:100%;padding:2px">
                                   <input type="text" id="txtThankingOne" placeholder="Thanking" />
                                   <input type="text" id="txtThankingTwo" placeholder="Thanking Two" />
                               </td>
                           </tr>
                           <tr>
                               <td style="width:40%">
                                   <input type="text" id="txtAuthorize1" placeholder="Authorize One" />
                               </td>
                               <td style="width:30%">
                                   <input type="text" id="txtAuthorize2" placeholder="Authorize Two" />
                               </td>
                               <td style="width:30%">
                                   <input type="text" id="txtAuthorize3" placeholder="Authorize Three" />
                               </td>
                           </tr>
                       </table>
                   </fieldset>
                   @*xfgfdg*@
                   <fieldset>
                       <input id="chkAuthorize1IsAuto" type="checkbox" />Authorize One Is Auto Print?
                       <input id="chkAuthorize2IsAuto" type="checkbox" />Authorize Two Is Auto Print?
                       <input id="chkAuthorize3IsAuto" type="checkbox" />Authorize Three Is Auto Print?
                   </fieldset>
                   <fieldset>
                       <input id="chkActivity " type="checkbox" />Activity
                   </fieldset>
                   @*dfgfdg*@
               </div>
               <div title="Second" style="width:100%;padding:2px">
                   <fieldset>
                       <table cellpadding="2" cellspacing="4" style="width:100%;padding:2px">
                     
                           <tr>
                               <td style="width:40%;">
                                   <input style="width:100%;" type="text" id="txtSupplierName" placeholder="Suplier Name" />
                               </td>
                               <td style="width:40%;">
                                   <input style="width:100%;" type="text" id="txtPIBank" placeholder="PI Bank " />
                               </td>
                               
                           </tr>
                           <tr>
                               <td colspan="2" style="width:80%;">
                                   <input style="width:100%;" type="text" id="txtClause" placeholder="Clause Head" />
                               </td>
                               
                           </tr>
                       </table>
                       <table cellpadding="2" cellspacing="4" style="width:100%;padding:2px">

                           <tr>
                               <td style="width:20%;">
                                   <input style="width:95%;" type="text" id="txtLCNo" placeholder="L/C No" />
                               </td>
                               <td style="width:20%;">
                                   <input style="width:95%;" type="text" id="txtLCValue" placeholder="L/C Value" />
                               </td>
                               <td style="width:20%;">
                                   <input style="width:95%;" type="text" id="txtInvoiceNo" placeholder="Invoice No" />
                               </td>
                               <td style="width:20%;">
                                   <input style="width:95%;" type="text" id="txtInvoiceValue" placeholder="Invoice Value" />
                               </td>
                           </tr>
                           <tr>
                               <td style="width:20%;">
                                   <input style="width:95%;" type="text" id="txtMasterLCNo" placeholder="Master L/C No" />
                               </td>
                               <td style="width:20%;">
                                   <input style="width:95%;" type="text" id="txtLCPayType" placeholder="Show L/C Payment Type" />
                               </td>
                               <td style="width:20%;">
                                   <input style="width:95%;" type="text" id="txtBLNo" placeholder="Show BL No" />
                               </td>
                               <td style="width:20%;">
                                   
                               </td>
                           </tr>
                          
                       </table>
                   </fieldset>
                   <fieldset>
                       <input id="chkIsPrintAddress" type="checkbox" />Print Address
                       <input id="chkIsPrintDateCurrentDate" type="checkbox" />Print Current Date
                       <input id="chkIsPrintDateObject" type="checkbox" />Print PrintDateObject
                       <input id="chkIsAutoRefNo" type="checkbox" />IsAutoRefNo
                       @*<input id="chkIsIsPrintSupplierName" type="checkbox" />IsPrint SupplierName*@
                       <input id="chkIsPrintProductName" type="checkbox" />IsPrint ProductName
                       <input id="chkIsPrintPINo" type="checkbox" />IsPrint PINo
                       <input id="chkIsPrinTnC" type="checkbox" />IsPrin TnC
                       <input id="chkIsPrintSupplierAddress" type="checkbox" /> IsPrintSupplierAddress
                       <input id="chkIsPrintPIBankAddress" type="checkbox" />IsPrintPIBankAddress
                       <input id="chkIsPrintMaturityDate" type="checkbox" />Is PrintMaturityDate
                       <input id="chkIsCalMaturityDate" type="checkbox" />Is Maturity Date Print By Calculation
                   </fieldset>
                   <fieldset>
                      
                       <table cellpadding="2" cellspacing="4" style="width:100%;padding:2px">

                           <tr>
                               <td style="width:20%;text-align:right">
                                   Print HeaderType:
                               </td>
                               <td style="width:20%;">
                                   <select style="width: 80%;" id="cboHeaderType">
                                       <option value="0">--Select-</option>
                                       <option value="1">Normal Format</option>
                                       <option value="2">Pad Format</option>
                                       <option value="3">Image Format</option>

                                   </select>
                               </td>
                               <td style="width:20%;text-align:right">
                                   Bank :
                               </td>
                               <td style="width:40%;">
                                   <select id="cboBankBranch" style="width: 100%;"></select>
                               </td>
                           </tr>

                       </table>
                   </fieldset>
               </div>
           </div>
           <fieldset>
                   <legend>Actions : </legend>
                   <table style="width:100%;">
                       <tr>
                           <td style="width:70%;"></td>
                           <td style="width:30%;text-align:right;">
                               <a id="btnCopyDocSetup" href="javascript:void(0)" class="easyui-linkbutton" iconcls="icon-save" plain="true">Copy</a>
                               <a id="btnSaveImportLetterSetup" href="javascript:void(0)" class="easyui-linkbutton" iconcls="icon-save" plain="true">Save</a>
                               <a id="btnCloseImportLetterSetup" href="javascript:void(0)" class="easyui-linkbutton" iconcls="icon-cancel" plain="true">Close</a>
                           </td>
                       </tr>
                   </table>
               </fieldset>
           </div>

        <div class="menuMainCollectionTable">
                   <table id="tblImportLetterSetups" title="Import Letter Setup List" class="easyui-datagrid" fit="true" fitcolumns="true" rownumbers="true" pagination="true" singleselect="true" autorowheight="false" toolbar="#toolbarImportLetterSetup">
                       <thead>
                           <tr>
                               <th field="LetterName" width="30%">Letter Name</th>
                               <th field="LetterTypeSt" width="20%">Letter Type</th>
                               <th field="ActivityInSt" width="10%">Activity</th>
                               <th field="BUName" width="15%">Unit</th>
                               <th field="Sequence" width="8%">Sequence</th>

                           </tr>
                       </thead>
                   </table>
                   <div id="toolbarImportLetterSetup">
                       <a id="btnAddImportLetterSetup" href="javascript:void(0)" class="easyui-linkbutton" iconcls="icon-add" plain="true">Add</a>
                       <a id="btnEditImportLetterSetup" href="javascript:void(0)" class="easyui-linkbutton" iconcls="icon-edit" plain="true">Edit</a>
                       <a id="btnViewImportLetterSetup" href="javascript:void(0)" class="easyui-linkbutton" iconcls="icon-details" plain="true">View</a>
                       <a id="btnDeleteImportLetterSetup" href="javascript:void(0)" class="easyui-linkbutton" iconcls="icon-remove" plain="true">Delete</a>
                       <a id="btnActivate" href="javascript:void(0)" class="easyui-linkbutton" iconcls="icon-edit" plain="true">Activate</a>
                       <a id="btnSetSequence" href="javascript:void(0)" class="easyui-linkbutton" iconcls="icon-add" plain="true" onclick="SetSequence()">Setup Sequence</a>
                   </div>
               </div>
</body>
   <style type="text/css">
    #winImportLetterSetup {
    width: 100%;
                       }
   </style>

  <script type="text/javascript">
    var _oImportLetterSetup = null;
    var _oImportLetterSetups = [];
    var _sBaseAddress = "";
    var _oImportLetterTypes=[];
    var _oImportLetterIssueTo=[];
    var _nBUID = 0;
    $(document).ready(function () {
        _sBaseAddress =@Html.Raw( new System.Web.Script.Serialization.JavaScriptSerializer().Serialize(HttpContext.Current.Session[SessionInfo.BaseAddress]));
        _oImportLetterSetups =@Html.Raw( new System.Web.Script.Serialization.JavaScriptSerializer().Serialize(Model));
        _oImportLetterTypes = @Html.Raw(new System.Web.Script.Serialization.JavaScriptSerializer().Serialize(ViewBag.ImportLetterTypes));
        _oImportLetterIssueTo = @Html.Raw(new System.Web.Script.Serialization.JavaScriptSerializer().Serialize(ViewBag.ImportLetterIssueTo));
        _nBUID = @Html.Raw(new System.Web.Script.Serialization.JavaScriptSerializer().Serialize(ViewBag.BUID));
        _oBusinessUnits = @Html.Raw(new System.Web.Script.Serialization.JavaScriptSerializer().Serialize(ViewBag.BusinessUnits));
        var oLCPaymentTypes= @Html.Raw(new System.Web.Script.Serialization.JavaScriptSerializer().Serialize(ViewBag.LCPaymentTypes));
        var oLCAppTypes = @Html.Raw(new System.Web.Script.Serialization.JavaScriptSerializer().Serialize(ViewBag.LCAppTypes));
        var oProductNature=@Html.Raw(new System.Web.Script.Serialization.JavaScriptSerializer().Serialize(ViewBag.ProductNature));
        var oBankBranchs=@Html.Raw(new System.Web.Script.Serialization.JavaScriptSerializer().Serialize(ViewBag.BankBranchs));
        $("#cboLCAppType").icsLoadCombo({List: oLCAppTypes,OptionValue:"id",DisplayText: "Value"});
        $("#cboLCPaymentType").icsLoadCombo({List: oLCPaymentTypes,OptionValue: "id",DisplayText: "Value"});
        $("#cboProductType").icsLoadCombo({List: oProductNature,OptionValue: "id",DisplayText: "Value"});
        $("#cboBU").icsLoadCombo({
            List: _oBusinessUnits,
            OptionValue: "BusinessUnitID",
            DisplayText: "BUTypeSt"
        });
        $("#cboBankBranch").icsLoadCombo({
            List: oBankBranchs,
            OptionValue: "BankBranchID",
            DisplayText: "BankBranchName"
        });
        $("#cboLetterType").icsLoadCombo({
            List: _oImportLetterTypes,
            OptionValue: "id",
            DisplayText: "Value"
        });
        $("#cboIssueToType").icsLoadCombo({
            List: _oImportLetterIssueTo,
            OptionValue: "id",
            DisplayText: "Value"
        });
        DynamicRefreshList(_oImportLetterSetups, "tblImportLetterSetups");
    });

    $(document).keydown(function (e) { if (e.keyCode == 27) { $('#winImportLetterSetup').icsWindow('close'); } });

    $("#btnAddImportLetterSetup").click(function () {
        $("#winImportLetterSetup").icsWindow("open", "Add ImportLetterSetup");
        $("#winImportLetterSetup input").not("input[type='button']").val("");
        _oImportLetterSetup = null;
        RefreshImportLetterSetupLayout("btnAddImportLetterSetup"); //button id as parameter
    });

    $("#btnEditImportLetterSetup").click(function () {
        var oImportLetterSetup = $("#tblImportLetterSetups").datagrid("getSelected");
        if (oImportLetterSetup == null || oImportLetterSetup.ImportLetterSetupID <= 0) { alert("Please select an item from list!"); return; }
        $("#winImportLetterSetup").icsWindow('open', "Edit ImportLetterSetup");
        _oImportLetterSetup = oImportLetterSetup;
        RefreshImportLetterSetupLayout("btnEditImportLetterSetup");
        RefreshImportLetterSetupControl(oImportLetterSetup);
    });

    $("#btnViewImportLetterSetup").click(function () {
        var oImportLetterSetup = $("#tblImportLetterSetups").datagrid("getSelected");
        if (oImportLetterSetup == null || oImportLetterSetup.ImportLetterSetupID <= 0) { alert("Please select an item from list!"); return; }
        $("#winImportLetterSetup").icsWindow('open', "View ImportLetterSetup");
        RefreshImportLetterSetupLayout("btnViewImportLetterSetup");
        RefreshImportLetterSetupControl(oImportLetterSetup);
    });

    $("#btnDeleteImportLetterSetup").click(function () {
        var oImportLetterSetup = $("#tblImportLetterSetups").datagrid("getSelected");
        if (!confirm("Confirm to Delete?")) return false;
        if (oImportLetterSetup == null || oImportLetterSetup.ImportLetterSetupID <= 0) {
            alert("Invalid Field!!! please select a valid Field!");
            return false;
        }
        var obj = {
            BaseAddress: _sBaseAddress,
            Object: oImportLetterSetup,
            ControllerName: "ImportLetterSetup",
            ActionName: "Delete",
            TableId: "tblImportLetterSetups",
            IsWinClose: false
        };
        $.icsDelete(obj);
    });

    $("#btnActivate").click(function () {
        debugger;
        var oImportLetterSetup = $("#tblImportLetterSetups").datagrid("getSelected");
        if (!confirm("Confirm to Active?")) return false;
        if (oImportLetterSetup == null || oImportLetterSetup.ImportLetterSetupID <= 0) {
            alert("Invalid Field!!! please select a valid Field!");
            return false;
        }
        var obj = {
            BaseAddress: _sBaseAddress,
            Object: oImportLetterSetup,
            ObjectId: oImportLetterSetup.ImportLetterSetupID,
            ControllerName: "ImportLetterSetup",
            ActionName: "ActivateImportLetterSetup",
            TableId: "tblImportLetterSetups",
            IsWinClose: false
        };
        $.icsSave(obj);
        var SelectedRowIndex = $('#tblImportLetterSetups').datagrid('getRowIndex', oImportLetterSetup);
        $('#tblImportLetterSetups').datagrid('updateRow', { index: SelectedRowIndex, row: oImportLetterSetup });
    });


    function RefreshImportLetterSetupLayout(buttonId) {
        if (buttonId === "btnViewImportLetterSetup") {
            $("#winImportLetterSetup input").prop("disabled", true);
            $("#winImportLetterSetup select").prop("disabled", true);
            $("#btnSaveImportLetterSetup").hide();
        }
        else {
            $("#winImportLetterSetup input").not("#txtImportLetterSetupCode").prop("disabled", false);
            $("#winImportLetterSetup select").prop("disabled", false);
            $("#btnSaveImportLetterSetup").show();
        }
    }

    function RefreshImportLetterSetupControl(oImportLetterSetup) {

        debugger;

        $("#txtLetterName").val(oImportLetterSetup.LetterName);
        $("#txtRefNo").val(oImportLetterSetup.RefNo);
        $("#txtTo").val(oImportLetterSetup.To);
        $("#cboLetterType").val(oImportLetterSetup.LetterTypeInt);
        $("#cboBU").val(oImportLetterSetup.BUID);
        $("#cboBankBranch").val(oImportLetterSetup.BankBranchID);
        $("#cboHeaderType").val(oImportLetterSetup.HeaderType);
        
        $('#cboLCPaymentType').val(oImportLetterSetup.LCPaymentTypeInt);
        $('#cboLCAppType').val(oImportLetterSetup.LCAppTypeInt);
        $("#cboProductType").val(oImportLetterSetup.ProductType);
        $("#cboIssueToType").val(oImportLetterSetup.IssueToType);
        $("#txtToName").val(oImportLetterSetup.ToName);
        $("#txtSubject").val(oImportLetterSetup.Subject);

        $("#txtDearSir").val(oImportLetterSetup.DearSir);
        $("#txtBody1").val(oImportLetterSetup.Body1);
        $("#txtBody2").val(oImportLetterSetup.Body2);
        $("#txtBody3").val(oImportLetterSetup.Body3);

        $("#txtSupplierName").val(oImportLetterSetup.SupplierName);
        $("#txtPIBank").val(oImportLetterSetup.PIBank);
        $("#txtLCNo").val(oImportLetterSetup.LCNo);
        $("#txtMasterLCNo").val(oImportLetterSetup.MasterLCNo);
        $("#txtLCPayType").val(oImportLetterSetup.LCPayType);
        $("#txtBLNo").val(oImportLetterSetup.BLNo );
        $("#txtLCValue").val(oImportLetterSetup.LCValue);
        $("#txtClause").val(oImportLetterSetup.Clause);

        $("#chkIsPrintSupplierAddress").prop("checked", oImportLetterSetup.IsPrintSupplierAddress);
        $("#chkIsPrintPIBankAddress").prop("checked", oImportLetterSetup.IsPrintPIBankAddress);
        $("#chkIsPrintMaturityDate").prop("checked", oImportLetterSetup.IsPrintMaturityDate);
        $("#chkIsCalMaturityDate").prop("checked", oImportLetterSetup.IsCalMaturityDate);

        $("#chkIsPrintAddress").prop("checked", oImportLetterSetup.IsPrintAddress);
        $("#chkIsPrintDateCurrentDate").prop("checked", oImportLetterSetup.IsPrintDateCurrentDate);
        $("#chkIsPrintDateObject").prop("checked", oImportLetterSetup.IsPrintDateObject);
        $("#chkIsAutoRefNo").prop("checked", oImportLetterSetup.IsAutoRefNo);
        $("#chkAuthorize1IsAuto").prop("checked", oImportLetterSetup.Authorize1IsAuto);
        $("#chkAuthorize2IsAuto").prop("checked", oImportLetterSetup.Authorize2IsAuto);
        $("#chkAuthorize3IsAuto").prop("checked", oImportLetterSetup.Authorize3IsAuto);
        $("#chkActivity").prop("checked", oImportLetterSetup.Activity);

        $("#txtAuthorize1").val(oImportLetterSetup.Authorize1);
        $("#txtAuthorize2").val(oImportLetterSetup.Authorize2);
        $("#txtAuthorize3").val(oImportLetterSetup.Authorize3);
        $("#txtThankingTwo").val(oImportLetterSetup.ThankingTwo);
        $("#txtThankingOne").val(oImportLetterSetup.ThankingOne);
        $("#txtFor").val(oImportLetterSetup.For);
        $("#txtInvoiceNo").val(oImportLetterSetup.InvoiceNo);
        $("#txtInvoiceValue").val(oImportLetterSetup.InvoiceValue);

     
        $("#chkIsPrintProductName").prop("checked", oImportLetterSetup.IsPrintProductName);
        $("#chkIsPrintPINo").prop("checked", oImportLetterSetup.IsPrintPINo);
        $("#chkIsPrinTnC").prop("checked", oImportLetterSetup.IsPrinTnC);

    }

    $("#btnSaveImportLetterSetup").click(function () {
        if (!ValidateInputImportLetterSetup()) return;
        var oImportLetterSetup = RefreshObjectImportLetterSetup();

        var obj = {
            BaseAddress: _sBaseAddress,
            Object: oImportLetterSetup,
            ObjectId: oImportLetterSetup.ImportLetterSetupID,
            ControllerName: "ImportLetterSetup",
            ActionName: "Save",
            TableId: "tblImportLetterSetups",
            IsWinClose: true
        };
        $.icsSave(obj);
    });

    $("#btnCopyDocSetup").click(function () {
        if (!ValidateInputImportLetterSetup()) return;
        var oImportLetterSetup = RefreshObjectImportLetterSetup();
        oImportLetterSetup.ImportLetterSetupID=0;
        var obj = {
            BaseAddress: _sBaseAddress,
            Object: oImportLetterSetup,
            ObjectId: oImportLetterSetup.ImportLetterSetupID,
            ControllerName: "ImportLetterSetup",
            ActionName: "SaveCopy",
            TableId: "tblImportLetterSetups",
            IsWinClose: true
        };
        $.icsSave(obj);
    });



    $("#btnCloseImportLetterSetup").click(function () {
        $("#winImportLetterSetup").icsWindow('close');
        $(".wininputfieldstyle input").val("");
        //$("#chkIsOwnImportLetterSetup").prop("checked", false);
    });



    function RefreshObjectImportLetterSetup() {
        var nImportLetterSetupId = (_oImportLetterSetup == null ? 0 : _oImportLetterSetup.ImportLetterSetupID);
        var oImportLetterSetup = {
            ImportLetterSetupID: nImportLetterSetupId,
            LetterTypeInt: parseInt($("#cboLetterType").val()),
            IssueToType: parseInt($("#cboIssueToType").val()),
            LetterName: $.trim($("#txtLetterName").val()),
            LCPaymentTypeInt:parseInt($("#cboLCPaymentType").val()),
            LCAppTypeInt     :  $('#cboLCAppType').val(),
            ProductType:$("#cboProductType").val(),
            RefNo: $.trim($("#txtRefNo").val()),
            To: $.trim($("#txtTo").val()),
            ToName: $.trim($("#txtToName").val()),
            Subject: $.trim($("#txtSubject").val()),
            DearSir: $.trim($("#txtDearSir").val()),
            Body1: $.trim($("#txtBody1").val()),
            Body2: $.trim($("#txtBody2").val()),
            Body3: $.trim($("#txtBody3").val()),
            For: $.trim($("#txtFor").val()),
            InvoiceNo: $.trim($("#txtInvoiceNo").val()),
            InvoiceValue: $.trim($("#txtInvoiceValue").val()),
            IsPrintSupplierAddress: $("#chkIsPrintSupplierAddress").is(":checked"),
            IsPrintPIBankAddress: $("#chkIsPrintPIBankAddress").is(":checked"),
            IsPrintMaturityDate: $("#chkIsPrintMaturityDate").is(":checked"),
            IsCalMaturityDate:$("#chkIsCalMaturityDate").prop("checked"),
            IsPrintAddress: $("#chkIsPrintAddress").is(":checked"),
            IsPrintDateCurrentDate: $("#chkIsPrintDateCurrentDate").is(":checked"),
            IsPrintDateObject: $("#chkIsPrintDateObject").is(":checked"),
            IsAutoRefNo: $("#chkIsAutoRefNo").is(":checked"),
            Authorize1IsAuto: $("#chkAuthorize1IsAuto").is(":checked"),
            Authorize2IsAuto: $("#chkAuthorize2IsAuto").is(":checked"),
            Authorize3IsAuto: $("#chkAuthorize3IsAuto").is(":checked"),
            Activity: $("#chkActivity ").is(":checked"),
            //IsPrintSupplierName: $("#chkIsIsPrintSupplierName ").is(":checked"),
            IsPrintProductName: $("#chkIsPrintProductName ").is(":checked"),
            IsPrintPINo: $("#chkIsPrintPINo ").is(":checked"),
            IsPrinTnC: $("#chkIsPrinTnC ").is(":checked"),
            BUID:parseInt($("#cboBU").val()),
            BankBranchID:parseInt($("#cboBankBranch").val()),
            HeaderType:parseInt($("#cboHeaderType").val()),
            Authorize1: $.trim($("#txtAuthorize1").val()),
            Authorize2: $.trim($("#txtAuthorize2").val()),
            Authorize3: $.trim($("#txtAuthorize3").val()),
            ThankingTwo: $.trim($("#txtThankingTwo").val()),
            ThankingOne: $.trim($("#txtThankingOne").val()),
            SupplierName:$.trim($("#txtSupplierName").val()),
            PIBank:$.trim($("#txtPIBank").val()),
            LCNo:$.trim($("#txtLCNo").val()),
            MasterLCNo:$.trim($("#txtMasterLCNo").val()),
            LCPayType:$.trim($("#txtLCPayType").val()),
            BLNo:$.trim($("#txtBLNo").val()),
            LCValue:$.trim($("#txtLCValue").val()),
            Clause:$.trim($("#txtClause").val())
        };
        return oImportLetterSetup;
        debugger;
    }



    function ValidateInputImportLetterSetup(e) {

        if (!$.trim($("#txtLetterName").val()).length) {
            alert("Please enter ImportLetterSetup name!");
            $('#txtLetterName').val("");
            $('#txtLetterName').focus();
            $('#txtLetterName').css("border-color", "#c00");
            return false;
        } else {
            $('#txtLetterName').css("border-color", "");
        }

        var nDocumentType = $("#cboLetterType").val();
        if (parseInt(nDocumentType) === 0) {
            alert("Please select Account Type!");
            $('#cboLetterType').val("");
            $('#cboLetterType').focus();
            $('#cboLetterType').css("border-color", "#c00");
            return false;
        } else {
            $('#cboLetterType').css("border-color", "");
        }

        return true;
    }

    function SetSequence()
    {
        var oParameter = new Object();
        oParameter.Name = "Set Sequence";
        var tsv=((new Date()).getTime())/1000;
        var url = _sBaseAddress+"/ImportLetterSetup/ViewSetupSequence?buid="+_nBUID+"&ts="+tsv;
        var oImportLetterSetups = window.showModalDialog(url, oParameter, 'dialogHeight:440px;dialogWidth:395px;dialogLeft:400;dialogTop:110;center:yes;resizable:yes;status:no;scroll:yes');
        if(oImportLetterSetups!=null)
        {
            if(oImportLetterSetups.length>0)
            {
                RefreshList(oImportLetterSetups);
            }
        }
    }

</script>


                         
