<html>

@{
    ViewBag.Title = "Import LC Log";
}

<body>
    @model ESimSol.BusinessObjects.ImportLC
    <div class="menuMainCollectionTable" id="divImportLC" class="easyui-panel" title="Request For L/C Amendment/Cancel" style="font-family:Tahoma; height:100%; width:100%">
        <div id="ImportLCTabs" class="easyui-tabs" style="width: 100%; height:100%">
            <div id="divLCOpen" title="Request For LC Open" style="width:100%;">
                <div style="float:left; width:100%">
                    <table style="width:100% ;height:150px">
                        <tr>
                            <td style="width:60%;height:150px;vertical-align:top">
                                <div>
                                    <fieldset>
                                        <legend style="text-align:left; font-weight:bold;">Select P/I : </legend>

                                        <table style="width: 100%;height:150px; font-size: 12px;">
                                            <tr>
                                                <td style="width:15%;">
                                                    <span style="float: right; padding-right: 10px;">Supplier</span>
                                                </td>
                                                <td style="width: 85%;">
                                                    <input id="txtContractor" class="reset-text" style="width:85%" placeholder="Search by Supplier Name" disabled="disabled" />                                                    
                                                </td>
                                            </tr>
                                            <tr>
                                                <td colspan="2">
                                                    <div>
                                                        <table id="tblImportLCDetails" class="easyui-datagrid" style="width:100%; height:180px;" fitcolumns="ture" rownumbers="true" singleselect="true" autorowheight="false" toolbar="#toolbar">
                                                            <thead>
                                                                <tr>
                                                                    <th field="ImportPINo" width="20%" align="left">PI No</th>
                                                                    <th field="DateOfApprovedInString" width="15%" align="left">Date of Approve</th>
                                                                    <th field="AmountSt" width="20%" align="right">Amount</th>
                                                                    <th field="LCTermsName" width="15%" align="left">P/T PITERM</th>
                                                                    <th field="IsPartShipmentAllowInString" width="10%" align="left">Partial Shipment Allow</th>
                                                                    <th field="AmendmentDateSt" width="17%" align="left">Amendment DT</th>
                                                                </tr>
                                                            </thead>
                                                        </table>
                                                        <div id="toolbar">
                                                            Import PI : <input id="txtPINo" class="reset-text" style="width:150px;" placeholder="Search by P/I No" />
                                                            <a id="btnPickPI" href="javascript:void(0)" class="easyui-linkbutton ics-pick" iconcls="icon-pick" plain="true"></a>
                                                            <input type="button" onclick="Delete()" value="Delete" id="btnDelete" />
                                                            <input id="dtpAmendmentDate" type="text" class="easyui-datebox" required="required" data-options="formatter:icsdateformat,parser:icsdateparser" style="width: 100px" />
                                                            <a id="btnUpdateAmendmentDate" href="javascript:void(0)" class="easyui-linkbutton ics-pick" iconcls="icon-edit" plain="true"></a>
                                                        </div>
                                                    </div>
                                                </td>
                                            </tr>
                                        </table>

                                    </fieldset>
                                </div>
                            </td>
                            <td style="width:40% ;height:150px;vertical-align:top">
                                <fieldset>
                                    <legend style="text-align:left; font-weight:bold;"> P/I Information : </legend>
                                    <div>
                                        <table style="width: 100%; font-size: 13px; padding-top: 1px;">
                                            <tr>
                                                <td style="width: 30%;text-align:right">File No:</td>
                                                <td style="width: 65%; padding-left: 3%;"><input type="text" id="txtFileNo" style="width:60%;" disabled="disabled" /><select id="cboLCAppType" onchange="ChangeLCAppType()" style="width: 35%;" disabled="disabled"></select></td>
                                            </tr>
                                            <tr>
                                                <td style="width: 30%;text-align:right">
                                                    Request Date:
                                                </td>
                                                <td style="width: 65%; padding-left: 3%;">
                                                    <input id="dateOfAskingLCOpen" type="text" class="easyui-datebox" required="required"
                                                           data-options="formatter:icsdateformat,parser:icsdateparser" style="width: 70%;" />
                                                </td>
                                            </tr>
                                            <tr>
                                                <td style="width: 30%;text-align:right">
                                                    Request For:
                                                </td>
                                                <td style="width: 65%; padding-left: 3%;">
                                                    <select style="width: 100%;" id="cboRequestFor">
                                                        <option value="0">--Select--</option>
                                                        <option value="7">Amendment </option>
                                                        <option value="9">L/C Cancel </option>
                                                        <option value="10">Partial Cancel</option>

                                                    </select>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td style="width: 30%;text-align:right">
                                                    L/C Issuing Bank:
                                                </td>
                                                <td style="width: 65%; padding-left: 3%;">
                                                    <select id="cboNegotiateBank" onchange="ChangeBankAccount()" style="width: 100%;"></select>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td style="width: 30%;">
                                                    <div style="float: right;">Advice Bank :</div>
                                                </td>                                                
                                                <td style="width: 65%; padding-left: 3%;"><input type="text" id="txtAdviceBank_PI" style="width:100%;" disabled="disabled" /></td>
                                            </tr>
                                            <tr>
                                                <td style="width: 30%;"><div style="float: right;">Payment Terms:</div></td>
                                                <td style="width: 65%; padding-left: 3%;"><input type="text" id="txtPaymentTrans_PI" style="width:100%;" disabled="disabled" /></td>
                                            </tr>
                                            <tr>
                                                <td style="width: 30%;"><div style="float: right;">Total P/I Value:</div></td>
                                                <td style="width: 65%; padding-left:3%;"><select id="cboCurrency" style="width: 25%;" disabled="disabled"></select><input type="text" id="txtAmount_PI" style="width:60%;text-align:right" disabled="disabled" /></td>

                                            </tr>
                                            <tr>
                                                <td colspan="2">
                                                    <table>
                                                        <tr>
                                                            <td style="width: 30%;"><div style="float: right;">Amount:</div></td>
                                                            <td style="width: 65%; padding-left: 3%;"><input type="text" id="txtCRate" style="width:25%;" /><input type="text" id="txtAmount_LC" style="width:60%;text-align:right" disabled="disabled" /></td>
                                                        </tr>
                                                    </table>
                                                </td>
                                            </tr>
                                        </table>
                                    </div>
                                </fieldset>
                            </td>
                        </tr>
                    </table>
                </div>
                <fieldset>
                    <legend><span style="font-size: 12px; font-weight: bold; color: Gray;">Payment Method</span></legend>
                    <table cellpadding="2" cellspacing="2" style="font-size: 12px; width: 100%;">
                        <tr>
                            <td style="width:15%;text-align:right">
                                <span class="lblLCMargin"></span>
                            </td>
                            <td style="width: 25%;text-align:left">
                                <select id="cboBankAccount" style="width: 100%;"></select>
                                <input type="text" id="txtLCMargin" style="width:72%;" />
                                <input type="text" id="txtLCMarginP" placeholder="%" style="width:18%;" readonly="readonly" />
                            </td>

                            <td style="width: 15%;text-align:right">
                                Tolerance(+/_)
                            </td>
                            <td style="width: 8%;text-align:left">
                                <input type="text" id="txtTolerance" style="width:100%;" />
                            </td>
                            <td style="width: 15%;text-align:right">
                                Shipment By
                            </td>
                            <td style="width: 22%;text-align:left">
                                <select id="cboShipmentBy" style="width:100%;"></select>
                            </td>
                        </tr>
                        <tr>
                            <td style="width:15%;text-align:right">
                                L/C Payment Type:
                            </td>
                            <td style="width: 25%;text-align:left">
                                <select id="cboLCPaymentType" style="width: 100%;"></select>
                            </td>

                            <td style="width: 15%;text-align:right">
                                Tenor(Bank)
                            </td>
                            <td style="width: 8%;text-align:left">
                                <select id="cboLCTerm" style="width:100%;float:left;"></select>
                            </td>
                            <td style="width: 15%;text-align:right">
                                From Date Of
                            </td>
                            <td style="width: 22%;text-align:left">
                                <select id="cboPaymentInstruction" style="width:100%;float:right;"></select>
                            </td>
                        </tr>
                        <tr>
                            <td style="width:15%;text-align:right">
                                Insurance Company
                            </td>
                            <td style="width: 25%;text-align:left">
                                <input id="txtInsurances" type="text" style="width: 72%" placeholder="Enter Name and press enter" />
                                <input id="btnInsurances" type="button" style="width: 23%;" value="Pick" />
                            </td>

                            <td style="width: 15%;text-align:right">
                                Tenor(Beneficiary)
                            </td>
                            <td style="width: 8%;text-align:left">
                                <select id="cboLCTermBene" style="width:100%;float:left;"></select>
                            </td>
                            <td style="width: 15%;text-align:right">
                                LCA Form No
                            </td>
                            <td style="width: 22%;text-align:left">
                                <input type="text" id="txtLCANo" style="width:97%;" />
                            </td>
                        </tr>
                        <tr>
                            <td style="width:15%;text-align:right">
                                Cover Note No
                            </td>
                            <td style="width: 25%;text-align:left"><input type="text" id="txtCoverNoteNo" style="width:97%;" /></td>

                            <td style="width: 15%;text-align:right">
                                Cover Note Date
                            </td>
                            <td style="width: 8%;text-align:left">
                                <input id="dateOfCoverNote" type="text" class="easyui-datebox" required="required"
                                       data-options="formatter:icsdateformat,parser:icsdateparser" style="width:160px;" />
                            </td>
                            <td style="width: 15%;text-align:right">
                                Trans Shipment
                            </td>
                            <td style="width: 23%;text-align:left">
                                <table>
                                    <tr>
                                        <td>
                                            <input type="checkbox" id="chkBoxTransAllowed" onchange="checkTransShipmentAllowed()" />Allowed
                                            <input type="checkbox" id="chkBoxTransNotAllowed" onchange="checkTransShipmentNotAllowed()" />Not Allowed
                                        </td>
                                    </tr>
                                </table>
                            </td>
                        </tr>
                        <tr>
                            <td style="width:15%;text-align:right">
                                Shipment Date
                            </td>
                            <td style="width: 25%;text-align:left">
                                <input id="dateOfShipment" type="text" class="easyui-datebox" required="required"
                                       data-options="formatter:icsdateformat,parser:icsdateparser" style="width: 70%;" />
                                <input type="text" style="width:15%;" id="txtShipmentDays" class="number" placeholder="Days" />
                            </td>

                            <td style="width: 15%;text-align:right">
                                Expire Date
                            </td>
                            <td style="width: 8%;text-align:left">
                                <input id="dateOfExpire" type="text" class="easyui-datebox" required="required" data-options="formatter:icsdateformat,parser:icsdateparser"
                                       style="width: 70%;" />
                                <input type="text" style="width:18%;" id="txtExpireDays" class="number" placeholder="Days" />
                            </td>
                            <td style="width: 15%;text-align:right">
                                Part Shipment
                            </td>
                            <td style="width: 22%;text-align:left">
                                <input type="checkbox" id="chkBoxPartAllowed" onchange="checkPartShipmentAllowed()" /> Allowed
                                <input type="checkbox" id="chkBoxPartNotAllowed" onchange="checkPartShipmentNotAllowed()" />Not Allowed
                            </td>
                        </tr>
                        <tr>
                            <td style="width:15%;text-align:right">
                                Charge Bear :
                            </td>
                            <td style="width: 25%;text-align:left">
                                <select id="cboLCChargeType" style="width: 100%;"></select>
                            </td>

                            <td style="width: 15%;text-align:right"></td>
                            <td style="width: 8%;text-align:left"></td>
                            <td style="width: 15%;text-align:right">
                                Is Confirmation
                            </td>
                            <td style="width: 22%;text-align:left">
                                <input type="checkbox" id="chkIsConfirmationYes" onchange="chkIsConfirmationYes()" /> Yes
                                <input type="checkbox" id="chkIsConfirmationNo" onchange="chkIsConfirmationNot()" />No
                            </td>
                        </tr>
                    </table>
                </fieldset>
                <fieldset>
                    <legend style="font-weight: bold">Action : </legend>
                    <table border="0" cellspacing="2" cellpadding="2" style="font-size: 11px; width: 100%;height:8%;font-weight: bold; font-size: 12px">
                        <tr>
                            <td style="width: 20%; font-size: 13px">
                                @*<a id="btnRequestAmendment" href="javascript:void(0)" class="easyui-linkbutton" iconcls="icon-redo" plain="true" onclick="RequestAmendment()">Receive Confirm</a>*@
                            </td>
                            <td style="width: 65%; text-align:right;"></td>
                            <td style="width: 10%; font-size: 13px">
                                <a id="btnSave" href="javascript:void(0)" class="easyui-linkbutton" iconcls="icon-save" plain="true" onclick="Save()">Save</a>
                            </td>
                            <td style="width: 5%; font-size: 13px">
                                <a id="btnClose" href="javascript:void(0)" class="easyui-linkbutton" iconcls="icon-closed" plain="true" onclick="Close()">Close</a>
                            </td>
                        </tr>
                    </table>
                </fieldset>
            </div>
            <div title="Letter Issue and Print" style="width:100%; height:100%">
                <div style="padding-left: 5px; padding-right: 5px; padding-top:5px;">
                    <div>
                        <div style="border-bottom:1px solid gray; "></div>
                        <table style=" width:100%; padding-top:10px; font-size:12px;">

                            <tr>
                                <td style=" width:25%;">
                                    <div style=" padding-left:20px; float:right; padding-right:5px;">
                                        LC Issuing Bank
                                    </div>
                                </td>
                                <td style=" width:55%;">
                                    <input type="text" style="width:100%" id="txtBankName" disabled />
                                </td>
                                <td style=" width:18%; "></td>
                            </tr>

                            <tr>
                                <td style=" width:25%;">
                                    <div style=" padding-left:20px; float:right; padding-right:5px;">Bank Branch</div>
                                </td>
                                <td style=" width:55%;">
                                    <input type="text" style="width:100%" id="txtBankBranch" disabled />
                                </td>
                                <td style=" width:18%; "></td>
                            </tr>

                            <tr>
                                <td style=" width:25%;">
                                    <div style=" padding-left:20px; float:right; padding-right:5px; ">Bank Address</div>
                                </td>
                                <td style=" width:55%; ">
                                    <input type="text" style="width:100%" id="txtBankAddress" disabled="disabled" />
                                </td>
                                <td style=" width:18%; "></td>
                            </tr>

                        </table>
                        <table style=" width:100%; font-size:12px;">



                            <tr>
                                <td style=" width:25%;">
                                    <div style=" padding-left:20px; float:right; padding-right:5px;">Supplier Name</div>
                                </td>
                                <td style=" width:55%;">
                                    <input type="text" style="width:100%" id="txtContractorName" disabled="disabled" />
                                </td>
                                <td style=" width:18%; "></td>
                            </tr>

                            <tr>
                                <td style=" width:25%;">
                                    <div style=" padding-left:20px; float:right; padding-right:5px;">Total Value</div>
                                </td>
                                <td style=" width:55%;">
                                    <input type="text" style="width:100%" id="txtTotalValue" disabled="disabled" />
                                </td>
                                <td style=" width:18%; "></td>
                            </tr>

                        </table>
                        <div style="padding-left: 50px; padding-right: 50px; padding-top:10px; border-bottom:1px solid gray;"></div>
                    </div>
                </div>
                <div style="padding-left: 5px; padding-right: 5px; padding-top:10px;">
                    <table id="tblImportLCRequest" class="easyui-datagrid" style="width:100%;height:240px" fitcolumns="false" rownumbers="true" pagination="false" singleselect="true" autorowheight="false" toolbar="#toolbarImportLCClauseSetup">
                        <thead>
                            <tr>
                                <th data-options="field:'Selected',checkbox:true"></th>
                                <th field="Caption" width="10%" align="left"></th>
                                <th field="Clause" width="85%" align="left">Clause</th>
                            </tr>
                        </thead>
                    </table>
                    <div id="toolbarImportLCClauseSetup">
                        <a href="javascript:void(0)" class="easyui-linkbutton" iconcls="icon-reload" plain="true" onclick="Refresh_LCClause()">Re-Load</a>
                        <input id="txtLCClauseNo" type="text" style="width: 10%;" placeholder="Type Clause No" />
                        <input id="txtLCClause" type="text" style="width: 55%;" placeholder="Type Description & Press Add Button" />
                        <a id="btnUpdate_Cl" href="javascript:void(0)" class="easyui-linkbutton" iconcls="icon-save" plain="true">Update</a>
                        <a id="btnAdd_Cl" href="javascript:void(0)" class="easyui-linkbutton" iconcls="icon-add" plain="true">New</a>
                        <a id="btnEdit_Cl" href="javascript:void(0)" class="easyui-linkbutton" iconcls="icon-edit" plain="true">Edit</a>
                        <a id="btnDelete_Cl" href="javascript:void(0)" class="easyui-linkbutton" iconcls="icon-remove" plain="true">Remove</a>
                    </div>
                </div>
                <fieldset>
                    <legend style="font-weight: bold">Action : </legend>
                    <table border="0" cellspacing="2" cellpadding="2" style="font-size: 11px; width: 100%;height:8%;font-weight: bold; font-size: 12px">
                        <tr>
                            <td style="width: 10%; font-size: 13px"></td>
                            <td style="width: 65%; text-align:right;"></td>
                            <td style="width:20%; font-size: 13px">
                                <a id="btnPrintLetter" href="javascript:void(0)" class="easyui-linkbutton" iconcls="icon-print" plain="true" onclick="ShowLetter()">Print</a>
                                <a id="btnSaveLetter" href="javascript:void(0)" class="easyui-linkbutton" iconcls="icon-save" plain="true" onclick="Save_Letter()">Save</a>
                            </td>
                            <td style="width: 5%; font-size: 13px">
                                <a id="btnClose" href="javascript:void(0)" class="easyui-linkbutton" iconcls="icon-closed" plain="true" onclick="Close()">Close</a>
                            </td>
                        </tr>
                    </table>
                </fieldset>
            </div>
        </div>
    </div>
</body>
</html>
<script type="text/javascript">
    var _sBaseAddress="";
    var _oBankAccounts=[];
    var _oImportLC_Clause=null;
    $(document).ready(function ()
    {
        _sBaseAddress =@Html.Raw(new System.Web.Script.Serialization.JavaScriptSerializer().Serialize(HttpContext.Current.Session[SessionInfo.BaseAddress]));
        var oImportLC =@Html.Raw(new System.Web.Script.Serialization.JavaScriptSerializer().Serialize(Model));
        var oCompany= @Html.Raw(new System.Web.Script.Serialization.JavaScriptSerializer().Serialize(ViewBag.Company));
        var oLCPaymentTypes= @Html.Raw(new System.Web.Script.Serialization.JavaScriptSerializer().Serialize(ViewBag.LCPaymentTypes));
        var oLCChargeTypes= @Html.Raw(new System.Web.Script.Serialization.JavaScriptSerializer().Serialize(ViewBag.LCChargeTypes));
        var oShipmentByObj= @Html.Raw(new System.Web.Script.Serialization.JavaScriptSerializer().Serialize(ViewBag.ShipmentByObj));
        var oLCTerms = @Html.Raw(new System.Web.Script.Serialization.JavaScriptSerializer().Serialize(ViewBag.LCTerms));
        var oPaymentInstructionObj= @Html.Raw(new System.Web.Script.Serialization.JavaScriptSerializer().Serialize(ViewBag.PaymentInstructionObj));
        var oCurrencys = @Html.Raw(new System.Web.Script.Serialization.JavaScriptSerializer().Serialize(ViewBag.Currencys));
        var oImportSetup = @Html.Raw(new System.Web.Script.Serialization.JavaScriptSerializer().Serialize(ViewBag.ImportSetup));
        var oLCAppTypes = @Html.Raw(new System.Web.Script.Serialization.JavaScriptSerializer().Serialize(ViewBag.LCAppTypes));

        _oBankAccounts = @Html.Raw(new System.Web.Script.Serialization.JavaScriptSerializer().Serialize(ViewBag.BankAccounts));

        debugger;
        $('#divImportLC').data('ImportLC', oImportLC);
        $('#divImportLC').data('ImportLCDetails', oImportLC.ImportLCDetails);
        $('#divImportLC').data('Company', oCompany);
        $('#divImportLC').data('ImportSetup', oImportSetup);
        $("#cboNegotiateBank").icsLoadCombo({List: oImportLC.BankBranchs,OptionValue: "BankBranchID",DisplayText: "BankBranchName"});
        $("#cboLCPaymentType").icsLoadCombo({List: oLCPaymentTypes,OptionValue: "id",DisplayText: "Value"});
        $("#cboLCChargeType").icsLoadCombo({List: oLCChargeTypes, OptionValue: "id",DisplayText: "Value", InitialValue:"Fixed"});
        $("#cboShipmentBy").icsLoadCombo({List: oShipmentByObj,OptionValue: "id",DisplayText: "Value"});
        $("#cboLCTerm,#cboLCTermBene").icsLoadCombo({List: oLCTerms,OptionValue: "LCTermID",DisplayText: "NameDaysInString"});
        $("#cboPaymentInstruction").icsLoadCombo({List: oPaymentInstructionObj,OptionValue:"id",DisplayText: "Value"});
        $("#cboLCAppType").icsLoadCombo({List: oLCAppTypes,OptionValue:"id",DisplayText: "Value"});
        $("#cboCurrency").icsLoadCombo({List: oCurrencys,OptionValue:"CurrencyID",DisplayText: "CurrencyName"});

        $('#divImportLC').panel({ title:sessionStorage.getItem("ImportLCHeader")});
        $('#btnRequestAmendment').hide();
        if(sessionStorage.getItem("ImportLCHeader")=="Request Amendment")
        {
            //$('#divLCOpen,#toolbar').find('input, textarea, button, select').attr('disabled','disabled');
            //$('#ImportLCTabs').tabs('select', 1);
            $('#btnRequestAmendment').show();
            $('#btnSave,#btnSaveLetter').show();
        }
        RefreshControl();
        if($('#divImportLC').data('ImportLC').ImportLCID>0)
        {
            debugger;
            RefreshControl_Letter();
        }
        $("#btnUpdate_Cl").hide();
        $("#btnAdd_Cl").show();
    });

    $("#btnUpdateAmendmentDate").click(function (e){
        var oImportLCDetail= $('#tblImportLCDetails').datagrid('getSelected');
        if(oImportLCDetail==null || oImportLCDetail.ImportPIID<=0)
        {
            alert("Please Select a Item from List");  return;
        }
        var nSelectedRowIndex=$('#tblImportLCDetails').datagrid('getRowIndex',oImportLCDetail);        
        var dAmendmentDate  = $('#dtpAmendmentDate').datebox('getValue');
        if(dAmendmentDate == null || dAmendmentDate == "")
        {
            alert("Please Select Amendment Date!");  
            return;
        }
        if (!confirm("Confirm to Amendment Date Update?")) return ;
        oImportLCDetail.AmendmentDateSt = dAmendmentDate;
        oImportLCDetail.AmendmentDate = dAmendmentDate;
        $('#tblImportLCDetails').datagrid('updateRow', { index: nSelectedRowIndex, row: oImportLCDetail });
    });

    $("#txtShipmentDays").keydown(function (e){
        var nkeyCode = e.keyCode || e.which;
        if(nkeyCode==13)
        {
            if(parseInt($('#divImportLC').data('ImportSetup').DaysCalculateOn)==1)
            {
                var dDate= new Date($('#dateOfAskingLCOpen').datebox('getValue'));
            }
            if(parseInt($('#divImportLC').data('ImportSetup').DaysCalculateOn)==2)
            {
                var dDate= new Date($('#dateOfCoverNote').datebox('getValue'));
            }
            $("#dateOfShipment").datebox("setValue", icsdateformat(new Date(dDate.getFullYear(), dDate.getMonth(), dDate.getDate()+parseInt( $("#txtShipmentDays").val()))));
        }
    });
    $("#txtExpireDays").keydown(function (e){
        var nkeyCode = e.keyCode || e.which;
        if(nkeyCode==13)
        {
            if(parseInt($('#divImportLC').data('ImportSetup').DaysCalculateOn)==1)
            {
                var dDate= new Date($('#dateOfAskingLCOpen').datebox('getValue'));
            }
            if(parseInt($('#divImportLC').data('ImportSetup').DaysCalculateOn)==2)
            {
                var dDate= new Date($('#dateOfCoverNote').datebox('getValue'));
            }
            $("#dateOfExpire").datebox("setValue", icsdateformat(new Date(dDate.getFullYear(), dDate.getMonth(), dDate.getDate()+parseInt( $("#txtExpireDays").val()))));
        }
    });

    $('#dateOfCoverNote').datebox({
        onSelect: function(date){
            if(parseInt($('#divImportLC').data('ImportSetup').DaysCalculateOn)==2)
            {
                Refresh_Date(date);
            }
        }
    });
    $('#dateOfAskingLCOpen').datebox({
        onSelect: function(date){
            if(parseInt($('#divImportLC').data('ImportSetup').DaysCalculateOn)==1)
            {
                Refresh_Date(date);
            }
        }
    });
    function Refresh_Date(date)
    {
        $("#dateOfShipment").datebox("setValue", icsdateformat(new Date(date.getFullYear(), date.getMonth(), date.getDate()+parseInt( $("#txtShipmentDays").val()))));
        $("#dateOfExpire").datebox("setValue", icsdateformat(new Date(date.getFullYear(), date.getMonth(), date.getDate()+parseInt( $("#txtExpireDays").val()))));
    }



    function ChangeBankAccount()
    {
        var oBankAccounts=[];
        var ncboBBranchID= parseInt($('#cboNegotiateBank').val());
        for(var i=0; i<_oBankAccounts.length;i++)
        {
            if(_oBankAccounts[i].BankBranchID===ncboBBranchID )
            {
                oBankAccounts.push(_oBankAccounts[i]);
            }
        }
        $("#cboBankAccount").icsLoadCombo({List: oBankAccounts,OptionValue: "BankAccountID",DisplayText: "AccountNameandNo"});

    }


    function ChangeLCAppType()
    {
        $("#cboBankAccount").hide();
        $(".lblLCMargin").html("L/C Margin:");
        var ncboLCAppType= parseInt($('#cboLCAppType').val());
        if(ncboLCAppType===3)
        {
            $("#cboBankAccount").show();
            $("#txtLCMargin").hide();
            $("#txtLCMarginP").hide();
            $(".lblLCMargin").html("Account No:");

        }
        else{
            $("#cboBankAccount").hide();
            $("#txtLCMargin").show();
            $("#txtLCMarginP").show();

        }
    }


    $('#cboLCTerm').change(function(e){
        SetPaymentTerms();
    });

    function SetPaymentTerms()
    {
        var nPaymentTerm = parseInt($("#cboLCTerm").val());
        if(nPaymentTerm===0)
        {
            $('#lblPaymentTrans').text('');
        }
        else
        {
            $('#lblPaymentTrans').text($("#cboLCTerm option:selected").text());
        }
    }


    $("#txtCRate").keypress(function (e) {
        if (e.which != 8 && e.which != 0  && e.which != 46  && (e.which < 48 || e.which > 57))
        {
            return false;
        }
        ChangeCrate();
    });

    $("#btnPickContractor").click(function () {

        //var sContractorName=$.trim($("#txtContractor").val());
        GetContractors("");
    });
    $("#txtContractor").keydown(function (e) {
        var nkeyCode = e.keyCode || e.which;
        if(nkeyCode==13){
            var sContractorName=$.trim($("#txtContractor").val());

            GetContractors(sContractorName);
        }
        else if(nkeyCode==8){
            $("#txtContractor").val("");
            $('#txtContractor').removeClass('fontColorOfPickItem');
            $('#divImportLC').data('ImportLC').ContractorID=0;
            $("#cboCPIssueTo").empty();
        }
    });
    $("#btnResetContractor").click(function () {
        $("#txtContractor").val("");
        $('#divImportLC').data('ImportLC').ContractorID=0;
    });
    function GetContractors(sContractorName){

        var oContractor = {
            Params: '1' +'~'+sContractorName+'~'+sessionStorage.getItem('BUID'),
        };
        var obj = {
            BaseAddress: _sBaseAddress,
            Object: oContractor,
            ControllerName: "Contractor",
            ActionName: "ContractorSearchByNameType",
            IsWinClose: false
        };

        $.icsDataGets(obj, function (response) {

            if (response.status && response.objs.length > 0) {
                if (response.objs[0].ContractorID > 0) {
                    debugger;
                    var tblColums = [];
                    var oColumn = { field: "ContractorID", title: "Code", width: 50, align: "center" };tblColums.push(oColumn);
                    oColumn = { field: "Name", title: "Name", width: 190, align: "left" };tblColums.push(oColumn);
                    oColumn = { field: "Phone", title: "Phone", width: 140, align: "left" };tblColums.push(oColumn);

                    var oPickerParam = {
                        winid: 'winContractorPicker',
                        winclass:'clsContractorPicker',
                        winwidth: 460,
                        winheight: 460,
                        tableid: 'tblContractorPicker',
                        tablecolumns: tblColums,
                        datalist: response.objs,
                        multiplereturn: false,
                        searchingbyfieldName:'Name',
                        windowTittle: 'Contractor List'
                    };
                    $.icsPicker(oPickerParam);
                    IntializePickerbutton(oPickerParam);//multiplereturn, winclassName
                }
                else { alert(response.objs[0].ErrorMessage); }
            }
            else{
                alert("No contractor found.");
            }
        });


    }

    $("#btnInsurances").click(function ()
    {
        var stxtInsurances=$.trim($("#txtInsurances").val());
        GetInsurances(stxtInsurances);
    });
    $("#txtInsurances").keydown(function (e) {
        var nkeyCode = e.keyCode || e.which;
        if(nkeyCode==13)
        {
            var stxtInsurances=$.trim($("#txtInsurances").val());
            GetInsurances(stxtInsurances);
        }
        else if(nkeyCode==8)
        {
            $("#txtInsurances").val("");
            $('#txtInsurances').removeClass('fontColorOfPickItem');
            $('#divImportLC').data('ImportLC').InsuranceCompanyID=0;
            $("#cboCPIssueTo").empty();
        }
    });
    $("#btnResetInsurance").click(function () {
        $("#txtInsurances").val("");
        $('#divImportLC').data('ImportLC').InsuranceCompanyID=0;
    });
    function GetInsurances(stxtInsurances){

        var oContractor = {
            Params: '5' +'~'+stxtInsurances+'~'+sessionStorage.getItem('BUID'),
        };
        var obj = {
            BaseAddress: _sBaseAddress,
            Object: oContractor,
            ControllerName: "Contractor",
            ActionName: "ContractorSearchByNameType",
            IsWinClose: false
        };

        $.icsDataGets(obj, function (response) {

            if (response.status && response.objs.length > 0) {
                if (response.objs[0].ContractorID > 0) {
                    debugger;
                    var tblColums = [];
                    var oColumn = { field: "ContractorID", title: "Code", width: 50, align: "center" };tblColums.push(oColumn);
                    oColumn = { field: "Name", title: "Name", width: 190, align: "left" };tblColums.push(oColumn);
                    oColumn = { field: "Phone", title: "Phone", width: 140, align: "left" };tblColums.push(oColumn);

                    var oPickerParam = {
                        winid: 'winInsurances',
                        winclass:'clsInsurances',
                        winwidth: 460,
                        winheight: 460,
                        tableid: 'tblContractorPicker',
                        tablecolumns: tblColums,
                        datalist: response.objs,
                        multiplereturn: false,
                        searchingbyfieldName:'Name',
                        windowTittle: 'Contractor List'
                    };
                    $.icsPicker(oPickerParam);
                    IntializePickerbutton(oPickerParam);//multiplereturn, winclassName
                }
                else { alert(response.objs[0].ErrorMessage); }
            }
            else{
                alert("No contractor found.");
            }
        });


    }


    $("#btnPickPI").click(function () {
        debugger;
        if(parseInt($('#divImportLC').data('ImportLC').ContractorID)<=0)
        {
            alert("Please Pick Supplier.");
            return;
        }
        var oImportPI = {SupplierID:$('#divImportLC').data('ImportLC').ContractorID,BUID:sessionStorage.getItem('BUID'),ImportLCID:$('#divImportLC').data('ImportLC').ImportLCID};
        GetsPIs(oImportPI);
    });
    $("#txtPINo").keydown(function (e) {
        var nkeyCode = e.keyCode || e.which;
        if(nkeyCode==13){

            if(parseInt($('#divImportLC').data('ImportLC').ContractorID)<=0)
            {
                alert("Please Pick Supplier.");
                return;
            }
            var oImportPI = { ImportPINo: document.getElementById('txtPINo').value,SupplierID:$('#divImportLC').data('ImportLC').ContractorID,BUID:sessionStorage.getItem('BUID'),ImportLCID:$('#divImportLC').data('ImportLC').ImportLCID};
            GetsPIs(oImportPI);;
        }
        else if(nkeyCode==8){
            $("#txtPINo").val("");
            $('#divImportLC').data('ImportLC').ContractorID=0;

        }
    });
    $("#btnResetImportPI").click(function () {
        $("#txtPINo").val("");
        $('#divImportLC').data('ImportLC').ContractorID=0;
    });
    function GetsPIs(oImportPI)
    {
        var obj = {
            BaseAddress: _sBaseAddress,
            Object: oImportPI,
            ControllerName: "ImportLC",
            ActionName: "GetsImportPIs",
            IsWinClose: false
        };

        $.icsDataGets(obj, function (response) {

            if (response.status && response.objs.length > 0)
            {
                if (response.objs[0].ImportPIID > 0) {
                    debugger;
                    var tblColums = [];
                    var tblColums = [];var oColumn = { field: "ImportPINo", title: "No", width: 150, align: "left" };tblColums.push(oColumn);
                    oColumn = { field: "AmountSt", title: "Amount", width: 150, align: "right" };tblColums.push(oColumn);
                    oColumn = { field: "ContractorName", title: "Name", width: 150, align: "left" };tblColums.push(oColumn);
                    var oPickerParam = {
                        winid: 'winImportPI',
                        winclass:'clsImportPI',
                        winwidth: 600,
                        winheight: 460,
                        tableid: 'tblImportPIs',
                        tablecolumns: tblColums,
                        datalist: response.objs,
                        multiplereturn: true,
                        searchingbyfieldName:'ImportPINo',
                        windowTittle: 'P/I List'
                    };
                    $.icsPicker(oPickerParam);
                    IntializePickerbutton(oPickerParam);//multiplereturn, winclassName
                }
                else { alert(response.objs[0].ErrorMessage); }
            }
            else{
                alert("Data not found.");
            }
        });
    }
    //End PI LC Pick
    function IntializePickerbutton(oPickerobj) {
        $("#" + oPickerobj.winid).find("#btnOk").click(function () {
            //for Single Select
            SetPickerValueAssign(oPickerobj);
        });
        $(document).find('.' + oPickerobj.winclass).keydown(function (e) {
            if (e.which == 13)//enter=13
            {
                SetPickerValueAssign(oPickerobj);

            }
        });
    }
    function SetPickerValueAssign(oPickerobj) {
        debugger;
        var oreturnObj = null, oreturnobjs = [];
        if (oPickerobj.multiplereturn) {
            oreturnobjs = $('#' + oPickerobj.tableid).datagrid('getChecked');
        } else {
            oreturnObj = $('#' + oPickerobj.tableid).datagrid('getSelected');
        }
        $("#" + oPickerobj.winid).icsWindow("close");
        $("#" + oPickerobj.winid).remove();
        if (oPickerobj.winid == 'winContractorPicker') {
            if (oreturnObj != null && oreturnObj.ContractorID > 0) {

                $('#divImportLC').data('ImportLC').ContractorID = oreturnObj.ContractorID;
                $('#txtContractor').val(oreturnObj.Name);
                $('#txtContractor').addClass('fontColorOfPickItem');
                $('#txtContractor').focus();
            }
        }
        if (oPickerobj.winid == 'winInsurances') {
            if (oreturnObj != null && oreturnObj.ContractorID > 0)
            {
                $('#divImportLC').data('ImportLC').InsuranceCompanyID = oreturnObj.ContractorID;
                $('#txtInsurances').val(oreturnObj.Name);
                $('#txtInsurances').addClass('fontColorOfPickItem');
                $('#txtInsurances').focus();
            }
        }
        if (oPickerobj.winid === 'winBranch') {
            if (oreturnObj != null && parseInt(oreturnObj.BankBranchID) > 0) {
                var txtBranchName = document.getElementById("txtBranchName");
                txtBranchName.value = oreturnObj.BankBranchName;
                txtBranchName.style.color = "blue";
                txtBranchName.style.fontWeight = "bold";
                $('#divImportLC').data('ImportLC').BankBranchID= parseInt(oreturnObj.BankBranchID);
            }
        }
        else if (oPickerobj.winid == 'winImportPI')
        {
            if (oreturnobjs.length>0 && oreturnobjs[0].ImportPIID > 0) {
                var txtPINo = document.getElementById("txtPINo");
                txtPINo.value = "";

                AppendImportLCDetail(oreturnobjs);
                $('#txtPINo').focus();
            }
        }
    }


    function RefreshControl()
    {

        //document.getElementById('txtCurrency').value =$('#divImportLC').data('Company').CurrencyNameSymbol;
        var oImportLCDetails= $('#divImportLC').data('ImportLCDetails');
        var oTempImportLC = $('#divImportLC').data('ImportLC');
        LoadintoGrid(oImportLCDetails);

        // $("#lblAdviceBank").html(oTempImportLC.BankName_Nego);
        $('#divImportLC').data('ImportLC').Currency =  oTempImportLC.Currency;
        //$("#lblPaymentTrans").html(oTempImportLC.LCTermsName);

        //$("#txtContractorName_PI").val(oTempImportLC.ContractorName);
        $("#txtPaymentTrans_PI").val(oTempImportLC.LCTermsName);
        $("#cboLCPaymentType").val(oTempImportLC.LCPaymentTypeInt);
        $("#cboLCChargeType").val(oTempImportLC.LCChargeTypeInt);
        $('#cboRequestFor').val(oTempImportLC.LCCurrentStatusInt);
        $('#dateOfAskingLCOpen').datebox('setValue', oTempImportLC.LCRequestDateInString);
        $('#dateOfShipment').datebox('setValue', oTempImportLC.ShipmentDateInString);
        $('#dateOfExpire').datebox('setValue', oTempImportLC.ExpireDateInString);
        $('#dateOfCoverNote').datebox('setValue', oTempImportLC.CoverNoteDateInString);
        $('#txtContractor').val( oTempImportLC.ContractorName);
        $('#txtInsurances').val( oTempImportLC.InsuranceName);

        $('#cboNegotiateBank').val( oTempImportLC.BankBranchID_Nego);
        $('#txtCRate').val( oTempImportLC.CCRate);
        $('#txtLCANo').val( oTempImportLC.LCANo);
        $('#txtCoverNoteNo').val( oTempImportLC.LCCoverNoteNo);
        $('#txtFileNo').val(oTempImportLC.FileNo);
        $('#cboShipmentBy').val(oTempImportLC.ShipmentBy);
        $('#cboLCTerm').val(oTempImportLC.LCTermID);
        $('#cboLCTermBene').val(oTempImportLC.LCTermID_Bene);
        $('#txtLCMargin').val(oTempImportLC.LCMargin)
        $('#txtTolerance').val(oTempImportLC.Tolerance)

        $('#cboLCAppType').val(oTempImportLC.LCAppTypeInt);


        //SetPaymentTerms();
        $('#cboPaymentInstruction').val(oTempImportLC.PaymentInstructionInt);
        if(oTempImportLC.IsTransShipmentAllow==true)
        {
            document.getElementById('chkBoxTransAllowed').checked=true;
        }
        else
        {
            document.getElementById('chkBoxTransNotAllowed').checked=true;
        }
        if(oTempImportLC.IsPartShipmentAllow==true)
        {
            document.getElementById('chkBoxPartAllowed').checked=true;
        }
        else
        {
            document.getElementById('chkBoxPartNotAllowed').checked=true;
        }
        if(sessionStorage.getItem("ImportLCHeader")=='View Import LC')
        {
            $('#btnSave,#btnSaveLetter').hide();
        }
        ChangeBankAccount();
        ChangeLCAppType();
        $('#cboBankAccount').val(oTempImportLC.BankAccountID)
        NewTotal();
        RefresgCRate();
        ChangeCrate();

        var dCNDate = new Date(oTempImportLC.CoverNoteDateInString);
        var dLCRDate = new Date(oTempImportLC.LCRequestDateInString);
        var dShipmentDate = new Date(oTempImportLC.ShipmentDateInString);
        var dExpireDate = new Date(oTempImportLC.ExpireDateInString);

        var nShipmentDays=parseInt($('#divImportLC').data('ImportSetup').ShipmentDay);
        var nExpireDays=parseInt($('#divImportLC').data('ImportSetup').ExpireDay);

        $("#txtShipmentDays").val(nShipmentDays);
        $("#txtExpireDays").val(nExpireDays);

        if(parseInt($('#divImportLC').data('ImportSetup').DaysCalculateOn)==1)
        {
            if(oTempImportLC.ImportLCID>0)
            {
                var nShipmentDays = dShipmentDate.getDate()- dLCRDate.getDate();
                var nExpireDays = dExpireDate.getDate()-dLCRDate.getDate();
            }
            else{
                Refresh_Date(dLCRDate);
            }
        }
        if(parseInt($('#divImportLC').data('ImportSetup').DaysCalculateOn)==2)
        {
            if(oTempImportLC.ImportLCID>0)
            {
                var nShipmentDays =  dShipmentDate.getDate()-dCNDate.getDate();
                var nExpireDays = dExpireDate.getDate()-dCNDate.getDate();
            }
            else{
                Refresh_Date(dCNDate);
            }
        }
        $("#txtShipmentDays").val(nShipmentDays);
        $("#txtExpireDays").val(nExpireDays);

    }
    $("#txtCRate").keydown(function (e){
        var nkeyCode = e.keyCode || e.which;
        if(nkeyCode==13)
        {
            ChangeCrate();
        }
    });

    function ChangeCrate()
    {
        var nAmount=parseFloat($('#divImportLC').data('ImportLC').Amount);
        var nCRate=parseFloat($('#txtCRate').val());
        $('#txtAmount_LC').val($('#divImportLC').data('ImportSetup').Currency+""+formatPrice(nAmount*nCRate));
    }

    function RefresgCRate()
    {
        var oTempImportLC = $('#divImportLC').data('ImportLC');
        if(oTempImportLC.CurrencyID=== parseInt($('#divImportLC').data('ImportSetup').CurrencyID))
        {
            $('#txtCRate').val(parseFloat(1).toFixed(3));
            $("#txtCRate").prop("disabled", true);
        }
        else
        {
            $('#txtCRate').val(parseFloat(oTempImportLC.CCRate).toFixed(3));
            $("#txtCRate").prop("disabled", false);
        }

    }

    function LoadintoGrid(oImportLCDetails)
    {
        data=oImportLCDetails;
        data={"total":""+data.length+"","rows":data};
        $('#tblImportLCDetails').datagrid('loadData',data);
    }

    function RefreshObject()
    {
        var oTempImportLC =  $('#divImportLC').data('ImportLC');
        var oImportLCDetails = $('#tblImportLCDetails').datagrid('getRows');
        for(var i =0; i<oImportLCDetails.length; i++)
        {
            oImportLCDetails[i].AmendmentDate =  oImportLCDetails[i].AmendmentDateSt;
        }
        var oImportLC={
            ImportLCID                  :    oTempImportLC.ImportLCID,
            AmendmentNo                  :    oTempImportLC.AmendmentNo,
            ImportLCLogID                   :  oTempImportLC.ImportLCLogID,
            ContractorID                  :   oTempImportLC.ContractorID,
            BankBranchID_Nego             :  document.getElementById('cboNegotiateBank').value,
            InsuranceCompanyID            : oTempImportLC.InsuranceCompanyID,
            Amount                        :  oTempImportLC.Amount,
            CCRate                        :  parseFloat($('#txtCRate').val()),
            CurrencyID                    : oTempImportLC.CurrencyID,
            LCPaymentType                 :  $('#cboLCPaymentType').val(),
            LCChargeTypeInt              :  $('#cboLCChargeType').val(),
            LCCurrentStatusInt            : $('#cboRequestFor').val(),
            ExpireDate                    :  new Date($('#dateOfExpire').datebox('getValue')),
            ShipmentDate                  :  new Date($('#dateOfShipment').datebox('getValue')),
            LCCoverNoteNo                 :  document.getElementById('txtCoverNoteNo').value,
            FileNo                        :$('#txtFileNo').val(),
            CoverNoteDate                 :  new Date($('#dateOfCoverNote').datebox('getValue')),
            LCRequestDate                 :  new Date($('#dateOfAskingLCOpen').datebox('getValue')),
            LCANo                         :  document.getElementById('txtLCANo').value,
            ImportLCDetails              :  oImportLCDetails,
            LCTermID                 :  $('#cboLCTerm').val(),
            LCTermID_Bene            :  $('#cboLCTermBene').val(),
            IsTransShipmentAllow     :  oTempImportLC.IsTransShipmentAllow,
            IsPartShipmentAllow      :  oTempImportLC.IsPartShipmentAllow,
            PaymentInstructionInt    : $('#cboPaymentInstruction').val(),
            BUID                     :sessionStorage.getItem('BUID'),
            ShipmentBy               :  $('#cboShipmentBy').val(),
            LCAppTypeInt               :  $('#cboLCAppType').val(),
            LCMargin                 :  parseFloat($('#txtLCMargin').val()),
            Tolerance                :  parseFloat($('#txtTolerance').val()),
            BankAccountID            :  parseInt($('#cboBankAccount').val()),
            IsConfirmation      :  oTempImportLC.IsPartShipmentAllow.IsConfirmation
        }
        return oImportLC;
    }

    function Save()
    {        
        var oTempImportLC = $('#divImportLC').data('ImportLC');
        if( oTempImportLC.ContractorID  == 0)
        {
            alert("Please Pick a Suppiler");
            $("#txtContractor").focus();
            return false;
        }
        var oImportLCDetails=$('#tblImportLCDetails').datagrid('getRows');
        if(oImportLCDetails.length == 0)
        {
            alert("Please Add a Purchase Contract");
            return false;
        }
        for(var i=0; i<oImportLCDetails.length; i++)
        {
            if(oImportLCDetails[i].AmendmentDateSt==="")
            {
                alert("Please check Amendment Date for PI No :"+ oImportLCDetails[i].ImportPINo);
                return false;
            }
        }

        if($("#cboNegotiateBank").val() == "0")
        {
            alert("Please Select a Negotiate Bank");
            $("#cboNegotiateBank").focus();
            return false;
        }
        if(parseInt($("#txtCRate").val()) == 0)
        {
            alert("Please Give Conversion Rate");
            $("#txtCRate").focus();
            return false;
        }
        if($("#txtCRate").val() == "")
        {
            alert("Please Give Conversion Rate");
            $("#txtCRate").focus();
            return false;
        }      
        if($("#txtLCANo").val() == "")
        {
            alert("Please Give LCA No");
            $("#txtLCANo").focus();
            return false;
        }
        if($("#txtCoverNoteNo").val() == "")
        {
            alert("Please Give Cover Note No");
            $("#txtCoverNoteNo").focus();
            return false;
        }      
        if($("#cboLCPaymentType option:selected").text() == "None")
        {
            alert("Please Select a LC Payment Type");
            $("#cboLCPaymentType").focus();
            return false;
        }

        if(parseInt($("#cboLCPaymentType").val())<=0 )
        {
            $('#cboLCPaymentType').focus();
            $('#cboLCPaymentType').addClass("errorFieldBorder");
            alert('Please, Select L/C Payment Type.');
            return false;
        }
        else
        {
            $('#cboLCPaymentType').removeClass("errorFieldBorder");
        }



        if(parseInt($("#cboLCAppType").val())<=0)
        {
            $('#cboLCAppType').focus();
            $('#cboLCAppType').addClass("errorFieldBorder");
            alert('Please, Select L/C Application Type.');
            return false;
        }
        else
        {
            $('#cboLCAppType').removeClass("errorFieldBorder");
        }

        if(parseInt($("#cboRequestFor").val())<=0)
        {
            $('#cboRequestFor').focus();
            $('#cboRequestFor').addClass("errorFieldBorder");
            alert('Please, Select Request Type.');
            return false;
        }
        else
        {
            $('#cboRequestFor').removeClass("errorFieldBorder");
        }

        var oImportLC=RefreshObject();
        $.ajax({
            type: "POST",
            dataType: "json",
            url : _sBaseAddress+  "/ImportLC/SaveLog",
            traditional: true,
            data:  JSON.stringify(oImportLC),
            contentType: "application/json; charset=utf-8",
            success: function (data) {
                debugger;
                var  oImportLC = jQuery.parseJSON(data);
                if (oImportLC.ErrorMessage=="")
                {
                    $('#divImportLC').data('ImportLC',oImportLC);//set LC
                    var oImportLCs =sessionStorage.getItem("ImportLCs");
                    var nIndex= parseInt(sessionStorage.getItem("SelectedRowIndex"));
                    if(oImportLCs!=null)
                    {
                        oImportLCs = jQuery.parseJSON(oImportLCs);
                    }
                    else
                    {
                        oImportLCs=[];
                    }
                    if(nIndex!=-1)
                    {
                        oImportLCs[nIndex]=oImportLC;
                    }
                    else
                    {
                        sessionStorage.setItem("SelectedRowIndex", oImportLCs.length);
                        oImportLCs.push(oImportLC);
                    }
                    sessionStorage.setItem("ImportLCs", JSON.stringify(oImportLCs));
                    alert("Data Saved successfully");
                    // window.location.href = _sBackLink;
                    $('#ImportLCTabs').tabs('select', 1);
                    RefreshControl_Letter();
                }
                else
                {
                    alert(oImportLC.ErrorMessage);
                }
            },
            error: function (xhr, status, error) {
                alert(error);
            }


        });

    }

    function Delete()
    {
        var oImportLCDetail= $('#tblImportLCDetails').datagrid('getSelected');
        if(oImportLCDetail==null || oImportLCDetail.ImportPIID<=0)
        {
            alert("Please Select a Item from List");  return;
        }
        if (!confirm("Confirm to Delete?")) return ;
        var nSelectedRowIndex=$('#tblImportLCDetails').datagrid('getRowIndex',oImportLCDetail);
        $('#tblImportLCDetails').datagrid('deleteRow',nSelectedRowIndex);
        alert("Delete sucessfully");
        NewTotal();

    }
    function NewTotal()
    {
        var getRows=$('#tblImportLCDetails').datagrid('getRows');
        var nTotalValue=0,nCurrencyID=0;
        for(var i=0; i<getRows.length;i++)
        {
            nTotalValue=nTotalValue+getRows[i].Amount;
            nCurrencyID=getRows[i].CurrencyID;
            $("#txtAdviceBank_PI").val(getRows[i].BankName);
            $("#txtPaymentTrans_PI").val(getRows[i].LCTermsName+" "+getRows[i].PaymentInstructionTypeSt);
        }
        if($('#divImportLC').data('ImportLC').Currency==null)
        {
            $('#divImportLC').data('ImportLC').Currency="";
        }
        $('#divImportLC').data('ImportLC').Amount = nTotalValue;
        $("#txtAmount_PI").val(parseFloat(nTotalValue).toFixed(2));
        $("#cboCurrency").val(nCurrencyID);
        ChangeCrate();


    }


    function AppendImportLCDetail(oNewImportLCDetails)
    {
        debugger;
        var oImportLCDetails=$('#tblImportLCDetails').datagrid('getRows');
        for (var i = 0;i<oNewImportLCDetails.length;i++)
        {
            if(!ICS_IsExist(oImportLCDetails,'ImportPIID',oNewImportLCDetails[i].ImportPIID))
            {
                $('#tblImportLCDetails').datagrid('appendRow', oNewImportLCDetails[i]);

                //$("#txtContractorName_PI").val(oNewImportLCDetails[i].ContractorName);
                $("#txtAdviceBank_PI").val(oNewImportLCDetails[i].BankName);
                $("#txtPaymentTrans_PI").val(oNewImportLCDetails[i].LCTermsName+""+oNewImportLCDetails[i].PaymentInstructionTypeSt);

                $('#divImportLC').data('ImportLC').Currency=oNewImportLCDetails[i].Currency;
                $('#divImportLC').data('ImportLC').CurrencyID=oNewImportLCDetails[i].CurrencyID;
                $('#divImportLC').data('ImportLC').ContractorID=oNewImportLCDetails[i].SupplierID;
                $('#divImportLC').data('ImportLC').ContractorName=oNewImportLCDetails[i].SupplierName;
                $('#divImportLC').data('ImportLC').LCTermID=oNewImportLCDetails[i].LCTermID;
                $('#divImportLC').data('ImportLC').PaymentInstructionInt =oNewImportLCDetails[i].PaymentInstructionInt;
                $('#divImportLC').data('ImportLC').LCTermsName=oNewImportLCDetails[i].LCTermsName;
            }
        }
        RefreshControl();
    }


    function Close()
    {
        window.location.href = sessionStorage.getItem("BackLink");
    }
    ///// Letter Print Part
    function RefreshControl_Letter()
    {
        debugger;
        var oImportLC = $('#divImportLC').data('ImportLC');
        document.getElementById("txtBankName").value       =  oImportLC.BankName_Nego;
        document.getElementById("txtBankBranch").value     =  oImportLC.BBranchName_Nego;
        document.getElementById("txtBankAddress").value    =  oImportLC.BankAddress_Nego;
        document.getElementById("txtContractorName").value   =  oImportLC.ContractorName;
        document.getElementById("txtTotalValue").value     =  oImportLC.AmountSt;
        if(oImportLC.ImportLC_Clauses.length<=0 || oImportLC.ImportLC_Clauses ==null)
        {
            Refresh_LCClause();
        }
        else{
            LoadintoGrid_LCClauses(oImportLC.ImportLC_Clauses);
        }
    }
    function LoadintoGrid_LCClauses(oImportLCClauseSetups)
    {
        $('#tblImportLCRequest').datagrid({selectOnCheck:false, checkOnSelect:false})
        data=oImportLCClauseSetups;
        data={"total":""+data.length+"","rows":data};
        $('#tblImportLCRequest').datagrid('loadData',data);

        for(var j =0;j<oImportLCClauseSetups.length;j++)
        {
            $('#tblImportLCRequest').datagrid('checkRow', j);
        }
    }

    function Refresh_LCClause()
    {
        var oImportLC=
       {
           ImportLCID      :   $('#divImportLC').data('ImportLC').ImportLCID,
       }
        $.ajax
        ({
            type: "POST",
            dataType: "json",
            url : _sBaseAddress+  "/ImportLC/GetClausesForAmendment",
            traditional: true,
            data:  JSON.stringify(oImportLC),
            contentType: "application/json; charset=utf-8",
            success: function (data)
            {
                var oImportLCClauseSetups = jQuery.parseJSON(data);
                if (oImportLCClauseSetups.length > 0)
                {
                    LoadintoGrid_LCClauses(oImportLCClauseSetups);
                }
                else
                {
                    oImportLCClauseSetups=[];
                    LoadintoGrid_LCClauses(oImportLCClauseSetups);
                }
            },
            error: function (xhr, status, error)
            {
                alert(error);
            }

        });


    }
    function RefreshObject_LCClause()
    {
        var oImportLC=
        {
            ImportLCID      :   $('#divImportLC').data('ImportLC').ImportLCID,
            ImportLCLogID   : $('#divImportLC').data('ImportLC').ImportLCLogID,
            LCCurrentStatusInt:parseInt($('#cboRequestFor').val()),
            ImportLC_Clauses :   $('#tblImportLCRequest').datagrid('getChecked')
        }
        return oImportLC;
    }

    function Save_Letter()
    {
        var oImportLC=RefreshObject_LCClause();
        if( oImportLC.ImportLCID==0)
        {
            alert("Please Add Import LC First.");
            return;
        }
        else if(oImportLC.ImportLC_Clauses.length<1)
        {
            alert("Please select at least one clause.");
            return;
        }
        $.ajax({
            type: "POST",
            dataType: "json",
            url : _sBaseAddress+  "/ImportLC/SaveClausesAmendment",
            traditional: true,
            data:  JSON.stringify(oImportLC),
            contentType: "application/json; charset=utf-8",
            success: function (data) {

                var  oImportLC = jQuery.parseJSON(data);
                if (oImportLC.ErrorMessage=="")
                {
                    alert("Data Saved successfully");
                    $('#divImportLC').data('ImportLC',oImportLC);
                    debugger;
                    var oImportLCs =sessionStorage.getItem("ImportLCs");
                    var nIndex= parseInt(sessionStorage.getItem("SelectedRowIndex"));
                    if(oImportLCs!=null)
                    {
                        oImportLCs = jQuery.parseJSON(oImportLCs);
                    }
                    else
                    {
                        oImportLCs=[];
                    }
                    if(nIndex!=-1)
                    {
                        oImportLCs[nIndex]=oImportLC;
                    }
                    else
                    {
                        sessionStorage.setItem("SelectedRowIndex", oImportLCs.length);
                        oImportLCs.push(oImportLC);
                    }
                    sessionStorage.setItem("ImportLCs", JSON.stringify(oImportLCs));
                    ShowLetter();
                    window.location.href = sessionStorage.getItem("BackLink");
                }
                else
                {
                    alert(oImportLC.ErrorMessage);
                }
            },
            error: function (xhr, status, error) {
                alert(error);
            }
        });

    }
    function ShowLetter()
    {
        //var tsv = ((new Date()).getTime()) / 1000;
        window.open(_sBaseAddress + '/ImportLC/LetterPrint_Amendment?nImportLCID='+$('#divImportLC').data('ImportLC').ImportLCID);
        //  window.Close();
    }

    function RequestAmendment()
    {
        var oImportLC=RefreshObject_LCClause();
        if( oImportLC.ImportLCID==0)
        {
            alert("Please Add Import LC First.");
            return;
        }
        if (!confirm("Confirm to Receive Amendment Copy?")) return ;


        $.ajax({
            type: "POST",
            dataType: "json",
            url : _sBaseAddress+"/ImportLC/RequestConfirm",
            traditional: true,
            data:  JSON.stringify(oImportLC),
            contentType: "application/json; charset=utf-8",
            success: function (data)
            {
                var  oImportLC = jQuery.parseJSON(data);
                if (oImportLC.ErrorMessage=="")
                {
                    alert("Successfully Amendment");
                    $('#divImportLC').data('ImportLC',oImportLC);
                    debugger;
                    var oImportLCs =sessionStorage.getItem("ImportLCs");
                    var nIndex= parseInt(sessionStorage.getItem("SelectedRowIndex"));
                    if(oImportLCs!=null)
                    {
                        oImportLCs = jQuery.parseJSON(oImportLCs);
                    }
                    else
                    {
                        oImportLCs=[];
                    }
                    if(nIndex!=-1)
                    {
                        oImportLCs[nIndex]=oImportLC;
                    }
                    else
                    {
                        sessionStorage.setItem("SelectedRowIndex", oImportLCs.length);
                        oImportLCs.push(oImportLC);
                    }
                    sessionStorage.setItem("ImportLCs", JSON.stringify(oImportLCs));
                    window.location.href = sessionStorage.getItem("BackLink");
                }
                else
                {
                    alert(oImportLC.ErrorMessage);
                }
            },
            error: function (xhr, status, error) {
                alert(error);
            }
        });
    }

    ///Add edit LC Cl
    function Validation_LCC()
    {
        if($.trim($("#txtLCClause").val()) == "")
        {
            alert("Please Type Description ");
            $("#txtLCClause").addClass("errorFieldBorder");
            $("#txtLCClause").focus();
            return false;
        }else{
            $("#txtLCClause").removeClass("errorFieldBorder");
        }

        return true;
    }



    $("#btnAdd_Cl").click(function(){
        _oImportLC_Clause = null;
        AddNew();
    });

    $("#txtLCClause").keydown(function(e){
        if(e.keyCode === 13)
        {
            _oImportLC_Clause = null;
            AddNew();
        }
    });

    function AddNew()
    {
        if (!Validation_LCC())
        {
            return false;
        }
        else
        {
            var oImportLC_Clause = {
                ImportLC_ClauseID  : (_oImportLC_Clause == null ? 0 : _oImportLC_Clause.ImportLC_ClauseID),
                Clause : $.trim($("#txtLCClause").val()),
                Caption : $.trim($("#txtLCClauseNo").val())
            };

            var oImportLC_Clauses = $("#tblImportLCRequest").datagrid("getRows");
            var nIndex = oImportLC_Clauses.length;
            $("#tblImportLCRequest").datagrid("appendRow", oImportLC_Clause);
            $("#tblImportLCRequest").datagrid("selectRow", nIndex);
            $('#tblImportLCRequest').datagrid('updateRow', { index: nIndex, row: oImportLC_Clause});
            $("#txtLCClause").val("");
            $("#txtLCClauseNo").val("");
        }
    }

    $("#btnDelete_Cl").click(function(){

        var oImportLC_Clause = $("#tblImportLCRequest").datagrid("getSelected");
        if(oImportLC_Clause == null )
        {
            alert("Please select an item from list.");
            return;
        }
        var nIndex=$('#tblImportLCRequest').datagrid('getRowIndex',oImportLC_Clause);
        if (!confirm("Confirm to Remove?")) return false;
        $("#tblImportLCRequest").datagrid("deleteRow", nIndex);

    });

    $("#btnEdit_Cl").click(function(){
        var oImportLC_Clause = $("#tblImportLCRequest").datagrid("getSelected");
        if(oImportLC_Clause == null )
        {
            alert("Please select an item from list.");
            return;
        }
        _oImportLC_Clause = oImportLC_Clause;
        $("#txtLCClause").removeClass("errorFieldBorder");
        $("#txtLCClause").val(oImportLC_Clause.Clause);
        $("#txtLCClauseNo").val(oImportLC_Clause.Caption);
        _nIndex=$('#tblImportLCRequest').datagrid('getRowIndex',oImportLC_Clause);
        $("#btnUpdate_Cl").show();
        $("#btnAdd_Cl").hide();

    });

    $("#btnUpdate_Cl").click(function(){

        if (!Validation_LCC())
        {
            return false;
        }
        else
        {

            _oImportLC_Clause.Clause= $.trim($("#txtLCClause").val());
            _oImportLC_Clause.Caption= $.trim($("#txtLCClauseNo").val());
            $('#tblImportLCRequest').datagrid('updateRow', { index: _nIndex, row: _oImportLC_Clause });
            $("#txtLCClause").val("");
            $("#txtLCClauseNo").val("");
            $("#btnUpdate_Cl").hide();
            $("#btnAdd_Cl").show();
        }

    });


    /////End Letter Print
    function checkTransShipmentAllowed()
    {
        if(document.getElementById("chkBoxTransAllowed").checked==true)
        {
            document.getElementById("chkBoxTransNotAllowed").checked=false;
            $('#divImportLC').data('ImportLC').IsTransShipmentAllow=true;
        }
    }
    function checkTransShipmentNotAllowed()
    {
        if(document.getElementById("chkBoxTransNotAllowed").checked==true)
        {
            document.getElementById("chkBoxTransAllowed").checked=false;
            $('#divImportLC').data('ImportLC').IsTransShipmentAllow=false;
        }
    }

    function checkPartShipmentAllowed()
    {
        if(document.getElementById("chkBoxPartAllowed").checked==true)
        {
            document.getElementById("chkBoxPartNotAllowed").checked=false;
            $('#divImportLC').data('ImportLC').IsPartShipmentAllow=true;
        }
    }
    function checkPartShipmentNotAllowed()
    {
        if(document.getElementById("chkBoxPartNotAllowed").checked==true)
        {
            document.getElementById("chkBoxPartAllowed").checked=false;
            $('#divImportLC').data('ImportLC').IsPartShipmentAllow=false;
        }
    }

    function chkIsConfirmationYes()
    {
        if(document.getElementById("chkIsConfirmationYes").checked==true)
        {
            document.getElementById("chkIsConfirmationNo").checked=false;
            $('#divImportLC').data('ImportLC').IsConfirmation=true;
        }
    }
    function chkIsConfirmationNot()
    {
        if(document.getElementById("chkIsConfirmationNo").checked==true)
        {
            document.getElementById("chkIsConfirmationYes").checked=false;
            $('#divImportLC').data('ImportLC').IsConfirmation=false;
        }
    }

    function AddClause()
    {
        var oImportLCClauseSetups = [];
        var oParameter = new Object();
        var url = _sBaseAddress + "/ImportLCClauseSetup/ViewImportLCClauseSetups";
        oImportLCClauseSetups = window.showModalDialog(url, oParameter, 'dialogHeight:400px;dialogWidth:710px;dialogLeft:400;dialogTop:150;center:yes;resizable:no;status:no;scroll:no');
    }

    function Close()
    {
        window.location.href = sessionStorage.getItem("BackLink");
    }

    $(document).keydown(function(e) {
        if(e.which == 27)//escape=27
        {
            window.location.href = sessionStorage.getItem("BackLink");
        }
    });

    ////Start Non LC Invoice
</script>


