<html>
@{
    ViewBag.Title = "Import Letter of Credit Open";
}
<body>
    @model ESimSol.BusinessObjects.ImportLC
    <div class="menuMainCollectionTable" id="divImportLC" class="easyui-panel" title="LC Open" style="font-family:Tahoma; height:100%; width:100%">
        <div title="Application Detail" style="width:100%;">
            <fieldset>
                <legend><span style="font-size: 12px; font-weight: bold; color: Gray;"></span></legend>
                <table cellpadding="2" cellspacing="2" style="width: 100%;  font-size: 13px; padding-top: 1px;">
                    <tr>
                        <td style="width: 10%;text-align:right">File No:</td>
                        <td style="width: 20%; padding-left: 0%;"><input type="text" id="txtFileNo" style="width:45%;" disabled="disabled" />
                            <input type="text" id="txtFileNoTemp" style="width:24%;" />
                            <input type="button" id="btnFileNo" value="Update" style="width:24%;" />
                        </td>
                      
                       
                        <td style="width: 10%;text-align:right">
                            Request Date:
                        </td>
                        <td style="width: 10%; padding-left:0%;">
                            <input id="dateOfAskingLCOpen" type="text" class="easyui-datebox" required="required"
                                   data-options="formatter:icsdateformat,parser:icsdateparser" style="width: 100%;" disabled="disabled" />
                        </td>
                        <td style="width:10%;text-align:right">
                            Amount:
                        </td>
                        <td style="width:40%; padding-left:0%;"><input type="text" id="txtAmount" style="width:38%;text-align:right" disabled="disabled" /><input type="text" id="txtCRate" style="width:15%;" disabled="disabled" /><input type="text" id="txtAmount_LC" style="width:38%;text-align:right" disabled="disabled" /></td>
                    </tr>
                    <tr>
                        <td style="width: 10%;text-align:right">Supplier:</td>
                        <td colspan="3" style="width:40%;text-align:left">
                            <input id="txtContractor" style="width:100%" placeholder="Search by Supplier Name" disabled="disabled" />
                        </td>
                        <td style="width:10%;">
                            <span style="float: right; padding-right:0px;">Bank:</span>
                        </td>
                        <td  style="width: 40%;">
                            <select id="cboNegotiateBank" onchange="ChangeBankAccount()" style="width: 100%;" disabled="disabled"></select>
                        </td>
                    </tr>
                   

                </table>
            </fieldset>
            <fieldset>
                <legend><span style="font-size: 12px; font-weight: bold; color: Gray;">Payment Info</span></legend>
                <table cellpadding="2" cellspacing="2" style="font-size: 12px; width: 100%;">
                    <tr>
                        <td style="width:15%;text-align:right">
                            <span class="lblLCMargin"></span>
                        </td>
                        <td style="width: 25%;text-align:left">
                            <select id="cboBankAccount" style="width: 100%;" disabled="disabled"></select>
                            <input type="text" id="txtLCMargin" style="width:72%;" disabled="disabled" />
                            <input type="text" id="txtLCMarginP" placeholder="%" style="width:18%;" readonly="readonly" />
                        </td>

                        <td style="width: 15%;text-align:right">
                            Tolerance(+/_):
                        </td>
                        <td style="width:15%;text-align:left">
                            <input type="text" id="txtTolerance" style="width:100%;" disabled="disabled" />
                        </td>
                        <td style="width: 10%;text-align:right">
                            Shipment By:
                        </td>
                        <td style="width: 20%;text-align:left">
                            <select id="cboShipmentBy" style="width:100%;" disabled="disabled"></select>
                        </td>
                    </tr>
                    <tr>
                        <td style="width:15%;text-align:right">
                            L/C Payment Type:
                        </td>
                        <td style="width: 25%;text-align:left">
                            <select id="cboLCPaymentType" style="width: 100%;" disabled="disabled"></select>
                        </td>

                        <td style="width: 15%;text-align:right">
                            Tenor:
                        </td>
                        <td style="width: 15%;text-align:left">
                            <select id="cboLCTerm" style="width:100%;float:left;" disabled="disabled"></select>
                        </td>
                        <td style="width: 10%;text-align:right">
                            From Date Of:
                        </td>
                        <td style="width: 205%;text-align:left">
                            <select id="cboPaymentInstruction" style="width:100%;float:right;" disabled="disabled"></select>
                        </td>
                    </tr>
                    <tr>
                        <td style="width:15%;text-align:right">
                            Insurance Company:
                        </td>
                        <td style="width: 25%;text-align:left">
                            <input id="txtInsurances" type="text" style="width: 72%" placeholder="Enter Name and press enter" disabled="disabled" />
                            <input id="btnInsurances" type="button" style="width: 23%;" value="Pick" />
                        </td>

                        <td style="width: 15%;text-align:right">
                            LCA Form No:
                        </td>
                        <td style="width:15%;text-align:left">
                            <input type="text" id="txtLCANo" style="width:97%;" disabled="disabled" />
                        </td>
                        <td style="width: 10%;text-align:right">
                            Trans Shipment:
                        </td>
                        <td style="width:20%;text-align:left">
                            <table>
                                <tr>
                                    <td>
                                        <input type="checkbox" id="chkBoxTransAllowed" onchange="checkTransShipmentAllowed()" disabled="disabled" />Allowed
                                        <input type="checkbox" id="chkBoxTransNotAllowed" onchange="checkTransShipmentNotAllowed()" disabled="disabled" />Not Allowed
                                    </td>
                                </tr>
                            </table>
                        </td>
                    </tr>
                    <tr>
                        <td style="width:15%;text-align:right">
                            Cover Note No:
                        </td>
                        <td style="width: 25%;text-align:left"><input type="text" id="txtCoverNoteNo" style="width:97%;" disabled="disabled" /></td>

                        <td style="width: 15%;text-align:right">
                            Cover Note Date:
                        </td>
                        <td style="width: 15%;text-align:left">
                            <input id="dateOfCoverNote" type="text" class="easyui-datebox" required="required"
                                   data-options="formatter:icsdateformat,parser:icsdateparser" style="width: 100%;" disabled="disabled" />
                           
                        </td>
                        <td style="width: 10%;text-align:right">
                            Part Shipment:
                        </td>
                        <td style="width:20%;text-align:left">
                            <input type="checkbox" id="chkBoxPartAllowed" onchange="checkPartShipmentAllowed()" disabled="disabled" /> Allowed
                            <input type="checkbox" id="chkBoxPartNotAllowed" onchange="checkPartShipmentNotAllowed()" disabled="disabled" />Not Allowed
                        </td>
                    </tr>
                    <tr>
                        <td style="width:15%;text-align:right">
                            Shipment Date:
                        </td>
                        <td style="width: 25%;text-align:left">
                            <input id="dateOfShipment" type="text" class="easyui-datebox" required="required"
                                   data-options="formatter:icsdateformat,parser:icsdateparser" style="width:75%;"/>
                            @*<input type="text" style="width:15%;" id="txtShipmentDays" class="number" placeholder="Days" disabled="disabled" />*@
                        </td>

                        <td style="width: 15%;text-align:right">
                            Expire Date:
                        </td>
                        <td style="width: 15%;text-align:left">
                            <input id="dateOfExpire" type="text" class="easyui-datebox" required="required" data-options="formatter:icsdateformat,parser:icsdateparser"
                                   style="width: 75%;"/>
                            @*<input type="text" style="width:15%;" id="txtExpireDays" class="number" placeholder="Days" disabled="disabled" />*@
                        </td>
                        <td style="width: 10%;text-align:right">
                            Is Confirmation:
                        </td>
                        <td style="width: 20%;text-align:left">
                            <input type="checkbox" id="chkIsConfirmationYes" onchange="chkIsConfirmationYes()" disabled="disabled" /> Yes
                            <input type="checkbox" id="chkIsConfirmationNo" onchange="chkIsConfirmationNot()" disabled="disabled" />No
                        </td>
                    </tr>
                </table>
            </fieldset>
            <fieldset>
                <legend><span style="font-size: 12px; font-weight: bold; color: Gray;"> L/C Info </span></legend>
                <table style="width: 100%; font-size: 12px;">
                    <tr>
                        <td style="width: 55%;text-align:right">
                          
                            <div style="float: right; padding-right: 3px;">
                                <span style="padding-right: 5px;">B Bank Ref No</span> <span>
                                    <input type="text" id="txtBBankRefNo" placeholder="" style="width: 160px;" />
                                </span>
                            </div>
                            <div style="float: right; padding-right: 3px;">
                                <span style="padding-right: 5px;">LC No</span> <span>
                                    <input type="text" id="txtLCNo" placeholder="0000-00-00-0000" style="width: 160px;" />
                                </span>
                            </div>
                        </td>
                        <td style="width: 30%">
                            <div style="float: right; padding-right: 5px;">
                                <span style="padding-right: 5px;">LC Date</span> <span>
                                    <input id="dateOfLC" type="text" class="easyui-datebox" required="required" data-options="formatter:icsdateformat,parser:icsdateparser"
                                           style="width: 140px;" />
                                </span>
                            </div>
                        </td>
                        <td style="width: 15%">
                           
                        </td>
                    </tr>
                    <tr>
                        <td style="width: 55%;text-align:right">
                            <div style="padding-right: 5px;">
                                <span style="padding-right: 5px;">Received By</span> <span>
                                    <input type="text" id="txtReceivedByUserName" style="width: 160px;" disabled />
                                </span>
                            </div>
                        </td>
                        <td style="width: 30%">
                            <div style="float: right; padding-right: 5px;">
                                <span style="padding-right: 5px;">Received Date</span> <span>
                                    <input id="dateOfReceived" type="text" class="easyui-datebox" required="required"
                                           data-options="formatter:icsdateformat,parser:icsdateparser" style="width: 140px;" />
                                </span>
                            </div>
                        </td>
                        <td style="width:15%">
                            <a id="btnSaveReceive" href="javascript:void(0)" class="easyui-linkbutton" iconcls="icon-save" plain="true" onclick="Update()">Save</a>
                        </td>
                    </tr>
                    

                </table>
            </fieldset>
            <fieldset>
                <legend><span style="font-size: 12px; font-weight: bold; color: Gray;">Acknowledgement Receive </span></legend>
                <table style="width: 100%; font-size: 12px;">
                   
                    <tr>
                        <td style="width: 35%">
                            <div style="float: right; padding-right: 5px;">
                                <span style="padding-right: 5px;">Forward To Party</span> <span>
                                  <input id="txtForwardDate" type="text" class="easyui-datebox" required="required"
                                    data-options="formatter:icsdateformat,parser:icsdateparser" style="width: 140px;" />
                                </span>
                            </div>
                        </td>

                        <td style="width:15%">
                            <a id="btnSaveInSupplierNo" href="javascript:void(0)" class="easyui-linkbutton" iconcls="icon-save" plain="true" onclick="Update_InSupplierNo()">Save</a>
                        </td>

                        <td style="width: 35%">
                            <div style="float: right; padding-right: 5px;">
                                <span style="padding-right: 5px;">Acknowledgement Date</span> <span>
                                                                                                  <input id="txtAckmentRecDate" type="text" class="easyui-datebox" required="required"
                                                                                                         data-options="formatter:icsdateformat,parser:icsdateparser" style="width: 140px;" />
                                </span>
                            </div>
                        </td>
                      
                        <td style="width:15%">
                            <a id="btnSave_ShipmentInTransit" href="javascript:void(0)" class="easyui-linkbutton" iconcls="icon-save" plain="true" onclick="Update_ShipmentInTransit()">Save</a>
                        </td>
                    </tr>


                </table>
            </fieldset>
            <fieldset>
                <legend><span style="font-size: 12px; font-weight: bold; color: Gray;">Amendment Receive </span></legend>
                <table style="width: 100%; font-size: 12px;">
                    <tr>
                        <td style="width:50%">
                        </td>
                        <td style="width:20%">
                            <label id="lblAmendmentDate"></label>
                        </td>
                        <td id="tdADate" style="width:15%">
                            <input id="dtdateOfAmendment" type="text" class="easyui-datebox" required="required" data-options="formatter:icsdateformat,parser:icsdateparser" style="width:75%;"/>
                        </td>
                        <td style="width:15%">
                            <a id="btnRequestAmendment" href="javascript:void(0)" class="easyui-linkbutton" iconcls="icon-redo" plain="true" onclick="RequestAmendment()">Receive Confirm</a>
                        </td>
                    </tr>


                </table>
            </fieldset>
            <fieldset >
                <legend style="font-weight: bold; ">Action : </legend>
                <table border="0" cellspacing="0" cellpadding="0" style="font-size: 11px; width:100%;height:100%; font-weight: bold; font-size: 12px">
                    <tr>
                        <td style="width: 85%; text-align:right;"></td>
                        <td style="width: 10%; font-size: 13px">
                        </td>
                        <td style="width: 5%; font-size: 13px">
                            <a id="btnClose" href="javascript:void(0)" class="easyui-linkbutton" iconcls="icon-closed" plain="true" onclick="Close()">Close</a>
                        </td>
                    </tr>
                </table>
            </fieldset>
        </div>
    </div>
</body>
</html>
<script type="text/javascript">
    var _sBaseAddress="";
    $(document).ready(function ()
    {
        _sBaseAddress =@Html.Raw(new System.Web.Script.Serialization.JavaScriptSerializer().Serialize(HttpContext.Current.Session[SessionInfo.BaseAddress]));
        var oImportLC =@Html.Raw(new System.Web.Script.Serialization.JavaScriptSerializer().Serialize(Model));
        var oCompany= @Html.Raw(new System.Web.Script.Serialization.JavaScriptSerializer().Serialize(ViewBag.Company));
        var oLCPaymentTypes= @Html.Raw(new System.Web.Script.Serialization.JavaScriptSerializer().Serialize(ViewBag.LCPaymentTypes));
        var oShipmentByObj= @Html.Raw(new System.Web.Script.Serialization.JavaScriptSerializer().Serialize(ViewBag.ShipmentByObj));
        var oLCTerms = @Html.Raw(new System.Web.Script.Serialization.JavaScriptSerializer().Serialize(ViewBag.LCTerms));
        var oPaymentInstructionObj= @Html.Raw(new System.Web.Script.Serialization.JavaScriptSerializer().Serialize(ViewBag.PaymentInstructionObj));
        var oCurrencys = @Html.Raw(new System.Web.Script.Serialization.JavaScriptSerializer().Serialize(ViewBag.Currencys));
        var oImportSetup = @Html.Raw(new System.Web.Script.Serialization.JavaScriptSerializer().Serialize(ViewBag.ImportSetup));
        var oLCAppTypes = @Html.Raw(new System.Web.Script.Serialization.JavaScriptSerializer().Serialize(ViewBag.LCAppTypes));
        _oBankAccounts = @Html.Raw(new System.Web.Script.Serialization.JavaScriptSerializer().Serialize(ViewBag.BankAccounts));
        debugger;
        $('#divImportLC').data('ImportLC', oImportLC);
        $('#divImportLC').data('ImportLCDetails', oImportLC.ImportLCDetails);
        $('#divImportLC').data('ImportSetup', oImportSetup);
        $('#divImportLC').data('Company', oCompany);
        $("#cboNegotiateBank").icsLoadCombo({List: oImportLC.BankBranchs,OptionValue: "BankBranchID",DisplayText: "BankBranchName"});
        $("#cboLCPaymentType").icsLoadCombo({List: oLCPaymentTypes,OptionValue: "id",DisplayText: "Value"});
        $("#cboShipmentBy").icsLoadCombo({List: oShipmentByObj,OptionValue: "id",DisplayText: "Value"});
        $("#cboLCTerm").icsLoadCombo({List: oLCTerms,OptionValue: "LCTermID",DisplayText: "NameDaysInString"});
        $("#cboPaymentInstruction").icsLoadCombo({List: oPaymentInstructionObj,OptionValue: "id",DisplayText: "Value"});
        $('#divImportLC').panel({ title:sessionStorage.getItem("ImportLCHeader")});
        RefreshControl();

    });

    function RefreshControl()
    {
        debugger;
        $('#txtCurrency').val($('#divImportLC').data('Company').CurrencyNameSymbol);
        //var oImportLCDetails= $('#divImportLC').data('ImportLCDetails');
        var oTempImportLC = $('#divImportLC').data('ImportLC');
        if(oTempImportLC.ImportLCDetails.length>0)
        {
            $('#dtdateOfAmendment').datebox('setValue', oTempImportLC.ImportLCDetails.AmendmentDateSt);
        }
        //else{
        //    $('#dtdateOfAmendment').datebox('setValue', oTempImportLC.ImportLCDetails.AmendmentDateSt);
        //}
        //if(oImportLCDetails.length>0)
        //{
        //    document.getElementById('lblAdviceBank').innerHTML   =   oImportLCDetails[0].BankName;
        //    $('#divImportLC').data('ImportLC').Currency=  oImportLCDetails[0].Currency;
        //    document.getElementById('lblPaymentTrans').innerHTML =  oImportLCDetails[0].LCTermsName;
        //}
        //LoadintoGrid(oImportLCDetails);
        //document.getElementById('lblContractorName').innerHTML   =   oTempImportLC.ContractorName;
        $("#cboLCPaymentType").val(oTempImportLC.LCPaymentTypeInt);
        $('#dateOfAskingLCOpen').datebox('setValue', oTempImportLC.LCRequestDateInString);
        $('#dateOfShipment').datebox('setValue', oTempImportLC.ShipmentDateInString);
        $('#dateOfExpire').datebox('setValue', oTempImportLC.ExpireDateInString);
        $('#dateOfCoverNote').datebox('setValue', oTempImportLC.CoverNoteDateInString);
        $('#txtContractor').val( oTempImportLC.ContractorName);
        $('#txtInsurances').val( oTempImportLC.InsuranceName);
        //$('#txtContractor,#txtInsurances').addClass('fontColorOfPickItem');
        $('#cboNegotiateBank').val( oTempImportLC.BankBranchID_Nego);
        $('#txtCRate').val( oTempImportLC.CCRate);
        $('#txtLCANo').val( oTempImportLC.LCANo);
        $('#txtCoverNoteNo').val( oTempImportLC.LCCoverNoteNo);
        $('#cboShipmentBy').val(oTempImportLC.ShipmentBy);
        $('#cboLCTerm').val(oTempImportLC.LCTermID);
        $('#cboPaymentInstruction').val(oTempImportLC.PaymentInstructionInt);
        $('#txtLCNo').val( oTempImportLC.ImportLCNo);
        $('#txtBBankRefNo').val( oTempImportLC.BBankRefNo);
        $('#dateOfLC').datebox('setValue',oTempImportLC.ImportLCDateInString);
        $('#dateOfReceived').datebox('setValue',oTempImportLC.ReceiveDateInString);
        $('#txtAckmentRecDate').datebox('setValue',oTempImportLC.AckmentRecDateSt);
        $('#txtForwardDate').datebox('setValue',oTempImportLC.ForwardDateSt);
        $('#txtReceivedByUserName').val(oTempImportLC.ReceivedByUserName);
        $('#txtFileNo').val(oTempImportLC.FileNo);

        $('#txtLCMargin').val(oTempImportLC.LCMargin)
        $('#txtTolerance').val(oTempImportLC.Tolerance)
        $('#cboLCAppType').val(oTempImportLC.LCAppTypeInt);
        $('#btnRequestAmendment,#dtdateOfAmendment,#tdADate').hide();
        if(parseInt(oTempImportLC.LCCurrentStatusInt)==7|| parseInt(oTempImportLC.LCCurrentStatusInt)==9||parseInt(oTempImportLC.LCCurrentStatusInt)==10)
        {
            $('#btnSaveReceive').hide();
            $('#btnRequestAmendment,#tdADate').show();
            if(parseInt(oTempImportLC.LCCurrentStatusInt)==7)
            {
                $("#lblAmendmentDate").html("<b>Amendment Date</b>");
            }
            if(parseInt(oTempImportLC.LCCurrentStatusInt)==9)
            {
                $("#lblAmendmentDate").html("<b>Cancel Date</b>");
            }
            if(parseInt(oTempImportLC.LCCurrentStatusInt)==10)
            {
                $("#lblAmendmentDate").html("<b>Partial Cancel Date</b>");
            }
            $('#txtBBankRefNo,#txtLCNo').prop('disabled',true);
        }

        if(oTempImportLC.IsTransShipmentAllow==true)
        {
            document.getElementById('chkBoxTransAllowed').checked=true;
        }
        else
        {
            document.getElementById('chkBoxTransNotAllowed').checked=true;
        }
        if(oTempImportLC.IsPartShipmentAllow==true)
        {
            document.getElementById('chkBoxPartAllowed').checked=true;
        }
        else
        {
            document.getElementById('chkBoxPartNotAllowed').checked=true;
        }
        if(sessionStorage.getItem("ImportLCHeader")=='View Import LC')
        {
            $('#btnSave').hide();
        }
        ChangeLCAppType(oTempImportLC.LCAppTypeInt);
        ChangeCrate();
        //NewTotal();
        //RefresgCRate();
    }
    function ChangeLCAppType(ncboLCAppType)
    {
        $("#cboBankAccount").hide();
        $(".lblLCMargin").html("L/C Margin:");
        //var ncboLCAppType= parseInt($('#cboLCAppType').val());
        if(ncboLCAppType===3)
        {
            $("#cboBankAccount").show();
            $("#txtLCMargin").hide();
            $("#txtLCMarginP").hide();
            $(".lblLCMargin").html("Account No:");

        }
        else{
            $("#cboBankAccount").hide();
            $("#txtLCMargin").show();
            $("#txtLCMarginP").show();

        }
    }
    function ChangeCrate()
    {
        var nAmount=parseFloat($('#divImportLC').data('ImportLC').Amount);
        var nCRate=parseFloat($('#txtCRate').val());
        $('#txtAmount_LC').val($('#divImportLC').data('ImportSetup').Currency+""+formatPrice(nAmount*nCRate));
        $('#txtAmount').val($('#divImportLC').data('ImportLC').Currency+" "+formatPrice(nAmount));
        if($('#divImportLC').data('ImportLC').CurrencyID==$('#divImportLC').data('ImportSetup').CurrencyID)
        {
            $('#txtAmount_LC').hide();
            $('#txtCRate').hide();
        }
        
    }

    function RefresgCRate()
    {
        var oTempImportLC = $('#divImportLC').data('ImportLC');
        if(oTempImportLC.CurrencyID=== parseInt($('#divImportLC').data('Company').BaseCurrencyID))
        {
            $('#txtCRate').val(parseFloat(1).toFixed(3));
            $("#txtCRate").prop("disabled", true);
        }
        else
        {
            $('#txtCRate').val(parseFloat(oTempImportLC.CCRate).toFixed(3));
            $("#txtCRate").prop("disabled", false);
        }
    }

    function UpdateRefreshObject()
    {
        var oImportLC={
            ImportLCID                  :  $('#divImportLC').data('ImportLC').ImportLCID,
            ImportLCNo                  :  $.trim($('#txtLCNo').val()),
            BBankRefNo                  :  $.trim($('#txtBBankRefNo').val()),
            ImportLCDate                :  new Date($('#dateOfLC').datebox('getValue')),
            ReceiveDate                 :  new Date($('#dateOfReceived').datebox('getValue')),
            AckmentRecDate              :  new Date($('#txtAckmentRecDate').datebox('getValue')),
            ForwardDate                 :  new Date($('#txtForwardDate').datebox('getValue')),
            ShipmentDate                :  new Date($('#dateOfShipment').datebox('getValue')),
            ExpireDate                  :  new Date($('#dateOfExpire').datebox('getValue'))              
        }


        return oImportLC;

    }

    function Validation(IsAckmentRec){


        if (!$.trim($('#txtLCNo').val()).length) {
            
            alert("Please enter L/C No.");
            $('#txtLCNo').focus();
            $("#txtLCNo").addClass("errorFieldBorder");
            return false;
        } else { $('#txtLCNo').removeClass("errorFieldBorder"); }


        var dAskingLCOpen = new Date($('#dateOfAskingLCOpen').datebox('getValue'));
        var dDateOfLC = new Date($('#dateOfLC').datebox('getValue'));
        var dDateOfReceived = new Date($('#dateOfReceived').datebox('getValue'));
        var dAckmentRecDate = new Date($('#txtAckmentRecDate').datebox('getValue'));


        if ($('#dateOfLC').datebox('getValue') == null || $('#dateOfLC').datebox('getValue') == "") {
            alert("Please give L/C Open Date!"); $('#dateOfLC').focus();
            return false;
        } 

        if ($('#dateOfReceived').datebox('getValue') == null || $('#dateOfReceived').datebox('getValue') == "") {
            alert("Please give L/C Receive Date!"); $('#dateOfReceived').focus();
            return false;
        }

      
        if ((dAskingLCOpen) > (dDateOfLC))
        {
            alert("L/C Date cannot be smaller than Application Date.");
            $('#dateOfLC').focus();
            $("#dateOfLC").addClass("errorFieldBorder");
            return false;
        }
        if ((dAskingLCOpen) > (dDateOfReceived))
        {
            alert("L/C Receive Date cannot be smaller than Application Date.");
            $('#dateOfReceived').focus();
            return false;
        }
        if ((dDateOfLC) > (dDateOfReceived))
        {
            alert("L/C Receive Date cannot be smaller than L/C Date.");
            $('#dateOfReceived').focus();
            return false;
        }
        if(IsAckmentRec)
        {
            if ($('#txtAckmentRecDate').datebox('getValue') == null || $('#txtAckmentRecDate').datebox('getValue') == "") {
          
                alert("Please give Acknowledgement Date!"); $('#txtAckmentRecDate').focus();
                return false;
            }
            if ((dDateOfLC) > (dAckmentRecDate))
            {
                alert("Acknowledgement Date cannot be smaller than L/C Date.");
                $('#txtAckmentRecDate').focus();
                $("#txtAckmentRecDate").addClass("errorFieldBorder");
                return false;
            }

            if ((dDateOfReceived) > (dAckmentRecDate))
            {
                alert("Acknowledgement Date cannot be smaller than L/C Receive Date.");
                $('#txtAckmentRecDate').focus();
                $("#txtAckmentRecDate").addClass("errorFieldBorder");
                return false;
            }
        }

       
        return true;
    }
    function Update()
    {
        if(!Validation(false)) return false;

        var oImportLC=UpdateRefreshObject();
        if( oImportLC==null || oImportLC.ImportLCID<=0)
        {
            alert(" Something Wrong. Please Check!!");
        }

        if(oImportLC.ImportLCID>0)
        {
            $.ajax({
                type: "POST",
                dataType: "json",
                url : _sBaseAddress+  "/ImportLC/UpdateForLCOpen",
                traditional: true,
                data:  JSON.stringify(oImportLC),
                contentType: "application/json; charset=utf-8",
                success: function (data) {

                    var  oImportLC = jQuery.parseJSON(data);
                    if (oImportLC.ErrorMessage=="") {
                        alert("Data Saved successfully");
                        $('#txtFileNo').val(oImportLC.FileNo);
                        var oImportLCs =sessionStorage.getItem("ImportLCs");
                        var nIndex= parseInt(sessionStorage.getItem("SelectedRowIndex"));

                        if(oImportLCs!=null)
                        {
                            oImportLCs = jQuery.parseJSON(oImportLCs);
                        }
                        else
                        {
                            oImportLCs=[];
                        }
                        if(nIndex!=-1)
                        {
                            oImportLCs[nIndex]=oImportLC;
                        }
                        else
                        {
                            sessionStorage.setItem("SelectedRowIndex", oImportLCs.length);
                            oImportLCs.push(oImportLCs);
                        }
                        sessionStorage.setItem("ImportLCs", JSON.stringify(oImportLCs));
                        //window.location.href =sessionStorage.getItem("BackLink");
                    }
                    else
                    {
                        alert(oImportLC.ErrorMessage);
                    }
                },
                error: function (xhr, status, error) {
                    alert(error);
                }


            });
        }

        else
        {
            alert("Please Add Payment Contract First.");
        }

    }
    function Update_ShipmentInTransit()
    {
       // if(!Validation(true)) return false;
        var oImportLC=UpdateRefreshObject();
        if( oImportLC==null || oImportLC.ImportLCID<=0)
        {
            alert(" Something Wrong. Please Check!!");
        }

        if(oImportLC.ImportLCID>0)
        {
            $.ajax({
                type: "POST",
                dataType: "json",
                url : _sBaseAddress+  "/ImportLC/Update_ShipmentInTransit",
                traditional: true,
                data:  JSON.stringify(oImportLC),
                contentType: "application/json; charset=utf-8",
                success: function (data) {

                    var  oImportLC = jQuery.parseJSON(data);
                    if (oImportLC.ErrorMessage=="") {
                        alert("Data Saved successfully");
                        var oImportLCs =sessionStorage.getItem("ImportLCs");
                        var nIndex= parseInt(sessionStorage.getItem("SelectedRowIndex"));

                        if(oImportLCs!=null)
                        {
                            oImportLCs = jQuery.parseJSON(oImportLCs);
                        }
                        else
                        {
                            oImportLCs=[];
                        }
                        if(nIndex!=-1)
                        {
                            oImportLCs[nIndex]=oImportLC;
                        }
                        else
                        {
                            sessionStorage.setItem("SelectedRowIndex", oImportLCs.length);
                            oImportLCs.push(oImportLCs);
                        }
                        sessionStorage.setItem("ImportLCs", JSON.stringify(oImportLCs));
                        //window.location.href =sessionStorage.getItem("BackLink");
                    }
                    else
                    {
                        alert(oImportLC.ErrorMessage);
                    }
                },
                error: function (xhr, status, error) {
                    alert(error);
                }


            });
        }

        else
        {
            alert("Please Add Payment Contract First.");
        }

    }
    function Update_InSupplierNo()
    {
        //  if(!Validation(true)) return false;
        var dAskingLCOpen = new Date($('#dateOfAskingLCOpen').datebox('getValue'));
        var dDateOfLC = new Date($('#dateOfLC').datebox('getValue'));
        var dDateOfReceived = new Date($('#dateOfReceived').datebox('getValue'));
        var dForwardDate = new Date($('#txtForwardDate').datebox('getValue'));
       
        if ($('#txtForwardDate').datebox('getValue') == null || $('#txtForwardDate').datebox('getValue') == "") {
            alert("Please give Party Forward Date!"); $('#txtForwardDate').focus();
            return ;
        } 

        if ((dDateOfLC) > (dForwardDate))
        {
            alert("Forward Date cannot be smaller than L/C Date.");
            $('#txtForwardDate').focus();
            $("#txtForwardDate").addClass("errorFieldBorder");
            return ;
        }

        if ((dDateOfReceived) > (dForwardDate))
        {
            alert("Forward Date cannot be smaller than L/C Receive Date.");
            $('#txtForwardDate').focus();
            $("#txtForwardDate").addClass("errorFieldBorder");
            return ;
        }

        var oImportLC=UpdateRefreshObject();
        if( oImportLC==null || oImportLC.ImportLCID<=0)
        {
            alert(" Something Wrong. Please Check!!");
        }

        if(oImportLC.ImportLCID>0)
        {
            $.ajax({
                type: "POST",
                dataType: "json",
                url : _sBaseAddress+  "/ImportLC/Update_InSupplierNo",
                traditional: true,
                data:  JSON.stringify(oImportLC),
                contentType: "application/json; charset=utf-8",
                success: function (data) {

                    var  oImportLC = jQuery.parseJSON(data);
                    if (oImportLC.ErrorMessage=="") {
                        alert("Data Saved successfully");
                        var oImportLCs =sessionStorage.getItem("ImportLCs");
                        var nIndex= parseInt(sessionStorage.getItem("SelectedRowIndex"));

                        if(oImportLCs!=null)
                        {
                            oImportLCs = jQuery.parseJSON(oImportLCs);
                        }
                        else
                        {
                            oImportLCs=[];
                        }
                        if(nIndex!=-1)
                        {
                            oImportLCs[nIndex]=oImportLC;
                        }
                        else
                        {
                            sessionStorage.setItem("SelectedRowIndex", oImportLCs.length);
                            oImportLCs.push(oImportLCs);
                        }
                        sessionStorage.setItem("ImportLCs", JSON.stringify(oImportLCs));
                        //window.location.href =sessionStorage.getItem("BackLink");
                    }
                    else
                    {
                        alert(oImportLC.ErrorMessage);
                    }
                },
                error: function (xhr, status, error) {
                    alert(error);
                }


            });
        }

        else
        {
            alert("Please Add Payment Contract First.");
        }

    }

    function Close()
    {
        window.location.href = sessionStorage.getItem("BackLink");
    }

    /////End Letter Print
    function checkTransShipmentAllowed()
    {
        if(document.getElementById("chkBoxTransAllowed").checked==true)
        {
            document.getElementById("chkBoxTransNotAllowed").checked=false;
            $('#divImportLC').data('ImportLC').IsTransShipmentAllow=true;
        }
    }
    function checkTransShipmentNotAllowed()
    {
        if(document.getElementById("chkBoxTransNotAllowed").checked==true)
        {
            document.getElementById("chkBoxTransAllowed").checked=false;
            $('#divImportLC').data('ImportLC').IsTransShipmentAllow=false;
        }
    }

    function checkPartShipmentAllowed()
    {
        if(document.getElementById("chkBoxPartAllowed").checked==true)
        {
            document.getElementById("chkBoxPartNotAllowed").checked=false;
            $('#divImportLC').data('ImportLC').IsPartShipmentAllow=true;
        }
    }
    function checkPartShipmentNotAllowed()
    {
        if(document.getElementById("chkBoxPartNotAllowed").checked==true)
        {
            document.getElementById("chkBoxPartAllowed").checked=false;
            $('#divImportLC').data('ImportLC').IsPartShipmentAllow=false;
        }
    }

    function Close()
    {
        window.location.href = sessionStorage.getItem("BackLink");
    }

    $(document).keydown(function(e) {
        if(e.which == 27)//escape=27
        {
            window.location.href = sessionStorage.getItem("BackLink");
        }
    });

    ////Start Non LC Invoice
    function RefreshObject_AmendmentConfirm()
    {
        var oImportLC=
        {
            ImportLCID      :   $('#divImportLC').data('ImportLC').ImportLCID,
            ImportLCLogID   : $('#divImportLC').data('ImportLC').ImportLCLogID,
            ImportLCDate    : $('#dtdateOfAmendment').datebox('getValue'),
            ReceiveDate     : $('#dtdateOfAmendment').datebox('getValue'),     
            LCCurrentStatusInt:0
        }
        return oImportLC;
    }
    function RequestAmendment()
    {
        var oImportLC=RefreshObject_AmendmentConfirm();
        if( oImportLC.ImportLCID==0)
        {
            alert("Please Add Import LC First.");
            return;
        }
        if (!confirm("Confirm to Receive Amendment Copy?")) return ;

        //var dtdateOfAmendment = new Date($('#dtdateOfAmendment').datebox('getValue'));
       
        if ($('#dtdateOfAmendment').datebox('getValue') == null || $('#dtdateOfAmendment').datebox('getValue') == "") {
            alert("Please give Amendment Date!"); $('#dtdateOfAmendment').focus();
            return ;
        } 

        $.ajax({
            type: "POST",
            dataType: "json",
            url : _sBaseAddress+"/ImportLC/RequestConfirm",
            traditional: true,
            data:  JSON.stringify(oImportLC),
            contentType: "application/json; charset=utf-8",
            success: function (data)
            {
                var  oImportLC = jQuery.parseJSON(data);
                if (oImportLC.ErrorMessage=="")
                {
                    alert("Successfully Amendment");
                    $('#divImportLC').data('ImportLC',oImportLC);
                    debugger;
                    var oImportLCs =sessionStorage.getItem("ImportLCs");
                    var nIndex= parseInt(sessionStorage.getItem("SelectedRowIndex"));
                    if(oImportLCs!=null)
                    {
                        oImportLCs = jQuery.parseJSON(oImportLCs);
                    }
                    else
                    {
                        oImportLCs=[];
                    }
                    if(nIndex!=-1)
                    {
                        oImportLCs[nIndex]=oImportLC;
                    }
                    else
                    {
                        sessionStorage.setItem("SelectedRowIndex", oImportLCs.length);
                        oImportLCs.push(oImportLC);
                    }
                    sessionStorage.setItem("ImportLCs", JSON.stringify(oImportLCs));
                    window.location.href = sessionStorage.getItem("BackLink");
                }
                else
                {
                    alert(oImportLC.ErrorMessage);
                }
            },
            error: function (xhr, status, error) {
                alert(error);
            }
        });
    }

    $("#txtFileNoTemp").keypress(function (e) {
        if (e.which != 8 && e.which != 0  && e.which != 46  && (e.which < 48 || e.which > 57)) {
         
            return false;
        }
    });
    $("#btnFileNo").click(function (e) {
        
        if (!$.trim($('#txtFileNoTemp').val()).length) {
            
            alert("Please enter L/C No.");
            $('#txtFileNoTemp').focus();
            $("#txtFileNoTemp").addClass("errorFieldBorder");
            return false;
        } else { $('#txtFileNoTemp').removeClass("errorFieldBorder"); }

        var oImportLC={
            ImportLCID                  :  $('#divImportLC').data('ImportLC').ImportLCID,
            ImportLCNo                  :  $.trim($('#txtLCNo').val()),
            BBankRefNo                  :  $.trim($('#txtBBankRefNo').val()),
            ImportLCDate                :  new Date(),
            ReceiveDate                 :  new Date(),
            FileNo                  :  $('#txtFileNoTemp').val()
        }
        if( oImportLC==null || oImportLC.ImportLCID<=0)
        {
            alert(" Something Wrong. Please Check!!");
        }
      
        $.ajax({
            type: "POST",
            dataType: "json",
            url: _sBaseAddress + "/ImportLC/UpdateImportLC_FileNo",
            traditional: true,
            data: JSON.stringify(oImportLC),
            contentType: "application/json; charset=utf-8",
            success: function (data) {
                debugger;
                var oImportLC = jQuery.parseJSON(data);

                if (oImportLC.ErrorMessage == "" || oImportLC.ErrorMessage == null) {
                    alert("File No Update successfully");
                    $('#txtFileNo').val(oImportLC.FileNo);
                    var oImportLCs =sessionStorage.getItem("ImportLCs");
                    var nIndex= parseInt(sessionStorage.getItem("SelectedRowIndex"));

                    if(oImportLCs!=null)
                    {
                        oImportLCs = jQuery.parseJSON(oImportLCs);
                    }
                    else
                    {
                        oImportLCs=[];
                    }
                    if(nIndex!=-1)
                    {
                        oImportLCs[nIndex]=oImportLC;
                    }
                    else
                    {
                        sessionStorage.setItem("SelectedRowIndex", oImportLCs.length);
                        oImportLCs.push(oImportLCs);
                    }
                }
                else {
                    alert(oImportLC.ErrorMessage);
                }
            },
            error: function (xhr, status, error) {
                alert(error);
            }
        });
    });
</script>
