
@model IEnumerable<ESimSol.BusinessObjects.ImportLC>
@{
    ViewBag.Title = "Import Letter of Credit";
}
    <div id="divImportLCs" class="menuMainCollectionTable" style="margin-left: 0px; height:100%; width:100%">
        <table id="tblImportLC" title="Import LC" class="easyui-datagrid" fit="true" fitcolumns="true" rownumbers="true" pagination="true" singleselect="true" autorowheight="false" toolbar="#toolbar">
            <thead>
                <tr>
                    <th field="LCAppTypeSt" width="12%" align="left">Application Type</th>
                    <th field="FileNo" width="8%" align="left">File No</th>
                    <th field="ImportLCNo" width="15%" align="left">LC No</th>
                    <th field="ImportLCDateInString" width="10%" align="left">LC Date</th>
                    <th field="LCCoverNoteNo" width="12%" align="left">Cover Note No</th>
                    <th field="LCPaymentTypeSt" width="10%" align="left">Payment Type</th>
                    <th field="ContractorName" width="10%" align="left">Supplier Name</th>
                    <th field="BankName_Nego" width="10%" align="left">Negotiable Bank</th>
                    <th field="LCCurrentStatusInString" width="10%" align="left">Current Status</th>
                    <th field="CurrencyName" width="10%" align="left">Currency</th>
                    <th data-options="field:'Amount',align:'right',formatter:formatPrice" style="width:10%" align="right">Total LC Value</th>
                    <th data-options="field:'Amount_Invoice',align:'right',formatter:formatPrice" style="width:10%" align="right">Total Invoice Value</th>
                    <th data-options="field:'Balance',align:'right',formatter:formatPrice" style="width:10%" align="right">Balance</th>
                </tr>
            </thead>
        </table>
        <div id="toolbar">
            <a href="javascript:void(0)" class="easyui-linkbutton" iconcls="icon-reload" plain="true" onclick="Refresh()"></a>
            <input type="text" id="txtSearchbyLCNo" value="Search by LC No" style="width:230px" onclick="Clearfield()" />
            <a href="javascript:void(0)" class="easyui-linkbutton" iconcls="icon-search" plain="true" id="btnSearch">Adv. Search</a>
            <a href="javascript:void(0)" class="easyui-linkbutton" iconcls="icon-add" plain="true" onclick="Add()" id="btnAdd">New</a>
            <a href="javascript:void(0)" class="easyui-linkbutton" iconcls="icon-edit" plain="true" onclick="Edit()" id="btnEdit">Edit</a>
            <a href="javascript:void(0)" class="easyui-linkbutton" iconcls="icon-details" plain="true" onclick="View()" id="btnView">View</a>
            <a href="javascript:void(0)" class="easyui-linkbutton" iconcls="icon-remove" plain="true" onclick="Delete()" id="btnDelete">Delete</a>
            <a href="javascript:void(0)" class="easyui-linkbutton" iconcls="icon-add" plain="true" onclick="LCOpen()" id="btnLCOpen"><label id="lblCurrentStaus"></label></a>
            <a href="javascript:void(0)" class="easyui-linkbutton" iconcls="icon-redo" plain="true" onclick="RequestForAmendment()" id="btnRequestForAmendment">Request For Amendment</a>
            @*<a href="javascript:void(0)" class="easyui-linkbutton" iconcls="icon-add" plain="true" onclick="AcceptAmendment()" id="btnLCOpen">Accept Amendment</a>*@
            <a id="btnAttachment" href="javascript:void(0)" class="easyui-linkbutton" iconcls="icon-attachment" plain="true" onclick="Attchment()">Attchment</a>
            <a href="javascript:void(0)" class="easyui-linkbutton" iconcls="icon-add" plain="true" onclick="AddInvoice()" id="btnAddInvoice">Add Com.Invoice</a>
            <a id="btnPrintLetter" href="javascript:void(0)" class="easyui-linkbutton" iconcls="icon-print" plain="true">Preview(Letter)</a>
            <a id="btnLCStatusUpdate" href="javascript:void(0)" class="easyui-linkbutton" iconcls="icon-add" plain="true">Status Change</a>
            <a href="javascript:void(0)" class="easyui-linkbutton" iconcls="icon-print" plain="true"  id="btnPrintLCDetail">Preview(L/C Detail)</a>
            <a href="javascript:void(0)" class="easyui-linkbutton" iconcls="icon-add" plain="true" onclick="RequestForLC()" id="btnAdd">Request For LC</a>
            @*<a href="javascript:void(0)" class="easyui-linkbutton" iconcls="icon-print" plain="true" onclick="Print()" id="btnLCDetail">Print Product Wise</a>*@
            <a id="btnPrintListInXL" href="javascript:void(0)" class="easyui-linkbutton" iconcls="icon-excel" plain="true">Excel</a>
        </div>
    </div>
                      
    <div id="winAdvSearchImportLC" class="easyui-window winClass" title="Advance Search" data-options="modal:true,closed:true,collapsible:false,minimizable:false,maximizable:false,closable:false">
        <div style="width:800px; float: left;">
            <table border="0" cellpadding="0" cellspacing="0" style="font-size: 12px;width:100%">
                <tr>
                    <td style="width:100%;">
                        <fieldset>
                            <legend style="font-weight: bold; font-size: 12px">Searching Criteria : </legend>
                            <table border="0" cellpadding="0" cellspacing="2" style="width:100%; font-size: 12px">
                                <tr>
                                    <td style="width:15%; text-align: right; font-weight: bold">
                                        LC No:
                                    </td>
                                    <td style="width: 45%; text-align: left">
                                        @Html.TextBox("txtImportLCNo_Adv", "", new { style = "width:90%", id = "txtImportLCNo_Adv" })
                                    </td>
                                    <td style="width: 15%; text-align: right; font-weight: bold" rowspan="8">
                                        Status :
                                    </td>
                                    <td style="width: 25%; text-align: left; font-size: 12px" rowspan="8">
                                        <table id="tblCurrentStatusAdvSearch" class="easyui-datagrid" title="" style="width:100%; height:218px;" data-options="singleSelect: false,fitColumns:false, rownumbers:true, pagination:false, autoRowHeight:false">
                                            <thead>
                                                <tr>
                                                    <th data-options="field:'Selected',checkbox:true"></th>
                                                    <th field="Value" width="70%">Status Name</th>
                                                </tr>
                                            </thead>
                                        </table>
                                    </td>
                                </tr>
                                <tr>
                                    <td style="width: 15%; text-align: right; font-weight: bold">
                                        Supplier :
                                    </td>
                                    <td style="width: 45%; text-align: left">
                                        @Html.TextBox("txtSupplier", "", new { style = "width: 72%", id = "txtSupplier", placeholder = "Type Supplier & Press Enter" }) <input type="button" style="width:20px; font-size: 12px" id="btnClnSupplier" value="C" /> <input type="button" style="width:33px; font-size: 12px" id="btnSupplierPicker" value="Pick" />
                                    </td>
                                </tr>
                                <tr>
                                    <td style="width: 15%; text-align: right; font-weight: bold">
                                        Insurance :
                                    </td>
                                    <td style="width: 45%; text-align: left">
                                        @Html.TextBox("txtInsuranceCompany", "", new { style = "width: 72%", id = "txtInsuranceCompany", placeholder = "Type InsuranceCompany Name & Press Enter" }) <input type="button" style="width:20px; font-size: 12px" id="btnClnInsuranceCompany" value="C" /> <input type="button" style="width:33px; font-size: 12px" id="btnInsuranceCompanyPicker" value="Pick" />
                                    </td>
                                </tr>
                                                  
                                <tr>
                                    <td style="width: 15%; text-align: right; font-weight: bold">
                                        Negotiation Bank :
                                    </td>
                                    <td style="width: 45%; text-align: left">
                                        @Html.TextBox("txtBankBranch", "", new { style = "width: 72%", id = "txtBankBranch", placeholder = "Type Negotiation Bank Branch Name & Press Enter" }) <input type="button" style="width:20px; font-size: 12px" id="btnClnBranch" value="C" /> <input type="button" style="width:33px; font-size: 12px" id="btnBranchAdvicePicker" value="Pick" />
                                    </td>
                                </tr>

                                <tr>
                                    <td style="width: 15%; text-align: right; font-weight: bold">
                                        Issue Date:
                                    </td>
                                    <td style="width:45%; text-align: left; font-size: 12px">
                                        <select id="cboDateSearch" onchange="DateActionsIssueDateAdvSearch()" style="width:100px;text-align:left"></select>
                                        <input id="txtStartDate" type="text" class="easyui-datebox" required="required" data-options="formatter:icsdateformat,parser:icsdateparser" style="width: 98px;" />To
                                        <input id="txtEndDate" type="text" class="easyui-datebox" required="required" data-options="formatter:icsdateformat,parser:icsdateparser" style="width: 98px;" />
                                    </td>
                                </tr>


                                <tr>
                                    <td style="width: 15%; text-align: right; font-weight: bold">
                                        Receive Date:
                                    </td>
                                    <td style="width: 45%; text-align: left; font-size: 12px">
                                        <select id="cboReceiveDateSearch" onchange="DateActionsReceiveDateAdvSearch()" style="width:100px;text-align:left"></select>
                                        <input id="txtReceiveStartDate" type="text" class="easyui-datebox" required="required" data-options="formatter:icsdateformat,parser:icsdateparser" style="width: 98px;" />To
                                        <input id="txtReceiveEndDate" type="text" class="easyui-datebox" required="required" data-options="formatter:icsdateformat,parser:icsdateparser" style="width: 98px;" />
                                    </td>

                                </tr>

                                <tr>
                                    <td style="width: 15%; text-align: right; font-weight: bold">
                                        Shipment Date:
                                    </td>
                                    <td style="width: 45%; text-align: left; font-size: 12px">
                                        <select id="cboShipmentDateSearch" onchange="DateActionsShipmentDateAdvSearch()" style="width:100px;text-align:left"></select>
                                        <input id="txtShipmentStartDate" type="text" class="easyui-datebox" required="required" data-options="formatter:icsdateformat,parser:icsdateparser" style="width: 98px;" />To
                                        <input id="txtShipmentEndDate" type="text" class="easyui-datebox" required="required" data-options="formatter:icsdateformat,parser:icsdateparser" style="width: 98px;" />
                                    </td>
                                                     
                                </tr>

                                <tr>
                                    <td style="width: 15%; text-align: right; font-weight: bold">
                                        LC Request Date:
                                    </td>
                                    <td style="width: 45%; text-align: left; font-size: 12px">
                                        <select id="cboLCRequestDateSearch" onchange="DateActionsLCRequestDateAdvSearch()" style="width:100px;text-align:left"></select>
                                        <input id="txtLCRequestStartDate" type="text" class="easyui-datebox" required="required" data-options="formatter:icsdateformat,parser:icsdateparser" style="width: 98px;" />To
                                        <input id="txtLCRequestEndDate" type="text" class="easyui-datebox" required="required" data-options="formatter:icsdateformat,parser:icsdateparser" style="width: 98px;" />
                                    </td>
                                </tr>

                                <tr>
                                    <td style="width: 15%; text-align: right; font-weight: bold">
                                        Amount:
                                    </td>
                                    <td style="width: 45%; text-align: left; font-size: 12px">
                                        <select id="cboAmountSearch" onchange="ActionsAmountAdvSearch()" style="width:100px;text-align:left"></select>
                                        <input id="txtAmountStart" type="text" style="width: 94px;" />To
                                        <input id="txtAmountEnd" type="text" style="width: 94px;" />
                                    </td>
                                    <td style="width:15%; text-align: right; font-weight: bold">
                                        Import PI No:
                                    </td>
                                    <td style="width: 25%; text-align: left">
                                        @Html.TextBox("txtPINo", "", new { style = "width:98%", id = "txtPINo" })
                                    </td>
                                </tr>

                                <tr>
                                    <td style="width: 15%; text-align: right; font-weight: bold">
                                        PI Type:
                                    </td>
                                    <td colspan="3" style="width: 45%; text-align: left; font-size: 12px">
                                        <select id="cboImportPIType" style="width:47%"></select>
                                    </td>
                                    <td style="width:15%; text-align: right; font-weight: bold">
                                    </td>
                                    <td style="width: 25%; text-align: left">
                                    </td>
                                </tr>

                            </table>
                        </fieldset>
                    </td>
                </tr>
            </table>

            <fieldset class="actionfieldsetstyle">
                <legend>Actions : </legend>
                <label class="lblLoadingMessage" style="float:left;">Loading Please Wait...</label>
                <a id="btnReset" href="javascript:void(0)" class="easyui-linkbutton" onclick="Reset()" iconcls="icon-reload" plain="true">Reset</a>
                <a id="btnRefresh" href="javascript:void(0)" class="easyui-linkbutton" iconcls="icon-search" plain="true">Search</a>
                <a id="btnSearchClose" href="javascript:void(0)" class="easyui-linkbutton" iconcls="icon-cancel" plain="true">Close</a>
            </fieldset>
        </div>
    </div>
    <div id="winImportLCStatus_Update" class="easyui-window" title="Invoice Status Change" data-options="modal:true,closed:true,collapsible:false,minimizable:false,maximizable:false,closable:true">

        <div id="divInvoiceLCStatusUpdate">
            <table>
                <tr>
                    <td style="width:120px; text-align:right">
                        Current Status
                    </td>
                    <td style="width:150px;text-align:left">
                        <select id="cboInvoiceLCStatus" style="width: 150px;"></select>
                    </td>
                </tr>
                                 
                <tr>
                    <td style="width:120px; text-align:right">
                                         
                    </td>
                    <td style="width:150px">
                                         
                    </td>
                </tr>
            </table>

        </div>
        <fieldset class="actionfieldsetstyle">
            <legend>Actions : </legend>
            <a id="btnSaveImportLCStatus" href="javascript:void(0)" class="easyui-linkbutton" iconcls="icon-save" plain="true">Save</a>
            <a id="btnCloseImportLCStatus" href="javascript:void(0)" class="easyui-linkbutton" iconcls="icon-cancel" plain="true">Close</a>
        </fieldset>
    </div>
<script type="text/javascript">

    var _oImportLC;
    var _oImportLCs;
    var _sBaseAddress="";
    var _nSupplierIDs="";
    $(document).ready(function ()
    {
        _sBaseAddress =@Html.Raw( new System.Web.Script.Serialization.JavaScriptSerializer().Serialize(HttpContext.Current.Session[SessionInfo.BaseAddress]));
        _oImportLCs =@Html.Raw( new System.Web.Script.Serialization.JavaScriptSerializer().Serialize(Model));
        var nBUID = @Html.Raw( new System.Web.Script.Serialization.JavaScriptSerializer().Serialize(ViewBag.BUID));
        var oLCStatusObjs = @Html.Raw(new System.Web.Script.Serialization.JavaScriptSerializer().Serialize(ViewBag.LCStatusObjs));
        var oImportPITypes= @Html.Raw(new System.Web.Script.Serialization.JavaScriptSerializer().Serialize(ViewBag.ImportPITypeObj));
        DynamicRefreshList(oLCStatusObjs, "tblCurrentStatusAdvSearch");
        $("#cboInvoiceLCStatus").icsLoadCombo({List: oLCStatusObjs,  OptionValue: "id", DisplayText: "Value"});
        $("#cboImportPIType").icsLoadCombo({List: oImportPITypes,OptionValue: "id",DisplayText: "Value"});
        sessionStorage.setItem('BUID',nBUID);
        $('#txtAmountStart,#txtAmountEnd').icsCurrencyBox();
        var oImportLCs =sessionStorage.getItem("ImportLCs");
        debugger;
        if(oImportLCs!=null )
        {
            oImportLCs = jQuery.parseJSON(oImportLCs);
        }
        else
        {
            oImportLCs=_oImportLCs;
        }
        $('#tblImportLC').datagrid({onSelect: function(rowIndex, rowData){ RowSelect(rowIndex, rowData);}});

        LoadintoGrid(oImportLCs);
        $('#divImportLCs').data('LCStatus',oLCStatusObjs);
        $('#divImportLCs').data('SupplierIDs',"");
        $('#divImportLCs').data('InsuranceCompanyIDs',"");
        $('#divImportLCs').data('BankBranceIDs',"");
        $(".lblLoadingMessage").hide();
        $("#winAdvSearchImportLC").data("AdvSrc","");
    });

    function RowSelect(rowIndex, rowData)
    {
        debugger;
        //$("#lblCurrentStaus").html(" <b> L/C Open </b>  ");
        //$('#btnLCOpen,#lblCurrentStaus').hide();
        $("#lblCurrentStaus").html("L/C Open");
        if(rowIndex>=0)
        {
            if(parseInt(rowData.LCCurrentStatusInt)==1|| parseInt(rowData.LCCurrentStatusInt)==2)//Initialize
            {
                $("#lblCurrentStaus").html("L/C Open");
                $('#btnLCOpen,#lblCurrentStaus').show();
            }
            else if(parseInt(rowData.LCCurrentStatusInt)==7)//Initialize
            {
                $("#lblCurrentStaus").html(" <b>Amendment Receive</b>");
                $('#btnLCOpen,#lblCurrentStaus').show();
            }
            else if(parseInt(rowData.LCCurrentStatusInt)==9)//Initialize
            {
                $("#lblCurrentStaus").html("<b>Cancel Confirm</b>");
                $('#btnLCOpen,#lblCurrentStaus').show();
            }
            else if(parseInt(rowData.LCCurrentStatusInt)==10)//Initialize
            {
                $("#lblCurrentStaus").html(" <b>Par'l Cancel Confirm</b>");
                $('#btnLCOpen,#lblCurrentStaus').show();
            }
        }
    }


    function LoadintoGrid(oImportLC)
    {
        data=oImportLC;
        data={"total":""+data.length+"","rows":data};
        $('#tblImportLC').datagrid('loadData',data);
        var nIndex= parseInt(sessionStorage.getItem("SelectedRowIndex"));
        if(nIndex!=null)
        {
            $('#tblImportLC').datagrid('selectRow',nIndex);
        }
    }
    function Refresh()
    {
        document.getElementById('txtSearchbyLCNo').value="Search by LC No";
        LoadintoGrid(_oImportLC);
    }

    function Clearfield()
    {
        $("#txtSearchbyLCNo")[0].value='';
    }

    $("#txtSearchbyLCNo").keyup(function (e) {
        if (e.keyCode == 13) {
            var oImportLC = {
                ImportLCNo : $("#txtSearchbyLCNo").val(),
                BUID:sessionStorage.getItem('BUID')
            };

            if (oImportLC.BUID<=0)
            {
                alert("Invalid Business unit.");
                return false;
            }

            $.ajax({
                type: "POST",
                dataType: "json",
                url: _sBaseAddress + "/ImportLC/GetsBySearchKey",
                traditional: true,
                data: JSON.stringify(oImportLC),
                contentType: "application/json; charset=utf-8",
                success: function (data) {
                    var oImportLCs = jQuery.parseJSON(data);
                    if (oImportLCs != null) {
                        if (oImportLCs.length > 0) {
                            DynamicRefreshList(oImportLCs, "tblImportLC");
                        }
                        else {
                            DynamicRefreshList([], "tblImportLC");
                        }
                    } else {
                        DynamicRefreshList([], "tblImportLC");
                    }
                },
                error: function (xhr, status, error) {
                    alert(error);
                }
            });
        }
        else {

            var txtSearchBy = $("#txtSearchbyLCNo").val();
            var oCurrentLists = $("#tblImportLC").datagrid("getRows");
            var sTempSearchString = "";
            var oSearchedLists = [];
            if (e.keyCode == 8) {
                oCurrentLists = _oImportLCs;
            }
            for (var i = 0; i < oCurrentLists.length; i++) {
                sTempSearchString = oCurrentLists[i].ImportLCNo;
                var n = sTempSearchString.toUpperCase().indexOf(txtSearchBy.toUpperCase());
                if (n != -1) {
                    if (parseInt(nTextileUnitInInt) > 0) {
                        if (oCurrentLists[i].TextileUnitInInt == parseInt(nTextileUnitInInt)) {
                            oSearchedLists.push(oCurrentLists[i]);
                        }
                    }
                    else {
                        oSearchedLists.push(oCurrentLists[i]);
                    }
                }
            }
            DynamicRefreshList(oSearchedLists, "tblImportLC");
        }
    });

    function Add()
    {

        var oImportLCs= $('#tblImportLC').datagrid('getRows');
        sessionStorage.setItem("ImportLCs", JSON.stringify(oImportLCs));
        sessionStorage.setItem("SelectedRowIndex", -1);
        sessionStorage.setItem("ImportLCHeader", "Add Import LC");
        sessionStorage.setItem("BackLink", window.location.href);
        window.location.href = _sBaseAddress+ "/ImportLC/ViewImportLC?id=0&buid="+sessionStorage.getItem('BUID');
    }

    function Edit()
    {
        var oImportLC=$('#tblImportLC').datagrid('getSelected');
        var nSelectedIndex= $('#tblImportLC').datagrid('getRowIndex',oImportLC);
        if(oImportLC==null || parseInt(oImportLC.ImportLCID)<=0)
        {
            alert("Please select a item from list!");
            return;
        }
        if(parseInt(oImportLC.LCCurrentStatus)>1)
        {
            alert("In This Stage LC can't Update.");
            return;
        }
        var oImportLCs= $('#tblImportLC').datagrid('getRows');
        sessionStorage.setItem("ImportLCs", JSON.stringify(oImportLCs));
        sessionStorage.setItem("SelectedRowIndex", nSelectedIndex);
        sessionStorage.setItem("ImportLCHeader", "Add Import LC");
        sessionStorage.setItem("BackLink", window.location.href);
        window.location.href = _sBaseAddress+ "/ImportLC/ViewImportLC?id="+oImportLC.ImportLCID+"&buid="+sessionStorage.getItem('BUID');
    }

    function View()
    {
        var oImportLC=$('#tblImportLC').datagrid('getSelected');
        var nSelectedIndex= $('#tblImportLC').datagrid('getRowIndex',oImportLC);
        if(oImportLC==null || oImportLC.ImportLCID<=0)
        {
            alert("Please select a item from list!");
            return;
        }
        var oImportLCs= $('#tblImportLC').datagrid('getRows');
        sessionStorage.setItem("ImportLCs", JSON.stringify(oImportLCs));
        sessionStorage.setItem("SelectedRowIndex", nSelectedIndex);
        sessionStorage.setItem("ImportLCHeader", "View Import LC");
        sessionStorage.setItem("BackLink", window.location.href);
        window.location.href = _sBaseAddress+ "/ImportLC/ViewImportLC?id="+oImportLC.ImportLCID+"&buid="+sessionStorage.getItem('BUID');

    }
    function Delete()
    {
        debugger;
        var oImportLC= $('#tblImportLC').datagrid('getSelected');
        if(oImportLC==null || oImportLC.ImportLCID<=0)
        {
            alert("Please select a item from list!");
            return false;
        }
        if(parseInt(oImportLC.LCCurrentStatus)>1)
        {
            alert("In This Stage LC can't Delete.");
            return;
        }
        if (!confirm("Confirm to Delete?")) return ;
        var SelectedRowIndex=$('#tblImportLC').datagrid('getRowIndex',oImportLC);
        if (oImportLC.ImportLCID > 0)
        {
            $.ajax
            ({
                type: "POST",
                dataType: "json",
                url : _sBaseAddress+"/ImportLC/Delete",
                traditional: true,
                data:  JSON.stringify(oImportLC),
                contentType: "application/json; charset=utf-8",
                success: function (data) {
                    debugger;
                    feedbackmessage = jQuery.parseJSON(data);
                    if (feedbackmessage == "Deleted")
                    {
                        $('#tblImportLC').datagrid('deleteRow',SelectedRowIndex);
                        alert("Delete sucessfully");
                    }
                    else
                    {
                        alert(feedbackmessage);
                    }
                },
                error: function (xhr, status, error)
                {
                    alert(error);
                }

            });

        }
    }
    function LCOpen()
    {
        var oImportLC=$('#tblImportLC').datagrid('getSelected');
        var nSelectedIndex= $('#tblImportLC').datagrid('getRowIndex',oImportLC);
        if(oImportLC==null || parseInt(oImportLC.ImportLCID)<=0)
        {
            alert("Please select a item from list!");
            return;
        }

        var oImportLCs= $('#tblImportLC').datagrid('getRows');
        sessionStorage.setItem("ImportLCs", JSON.stringify(oImportLCs));
        sessionStorage.setItem("SelectedRowIndex", nSelectedIndex);
        sessionStorage.setItem("ImportLCHeader", "Import LC Open");
        sessionStorage.setItem("BackLink", window.location.href);
        window.location.href = _sBaseAddress+ "/ImportLC/ViewImportLCReceive?id="+oImportLC.ImportLCID+"&buid="+sessionStorage.getItem('BUID');
    }
    function RequestForAmendment()
    {
        var oImportLC=$('#tblImportLC').datagrid('getSelected');
        var nSelectedIndex= $('#tblImportLC').datagrid('getRowIndex',oImportLC);
        if(oImportLC==null || parseInt(oImportLC.ImportLCID)<=0)
        {
            alert("Please select a item from list!");
            return;
        }
        //if(parseInt(oImportLC.LCCurrentStatus)<2)
        //{
        //    alert("In This Stage LC can't Request for Amendment.");
        //    return;
        //}
        var oImportLCs= $('#tblImportLC').datagrid('getRows');
        sessionStorage.setItem("ImportLCs", JSON.stringify(oImportLCs));
        sessionStorage.setItem("SelectedRowIndex", nSelectedIndex);
        sessionStorage.setItem("ImportLCHeader", "Request Amendment");
        sessionStorage.setItem("BackLink", window.location.href);
        window.location.href = _sBaseAddress+ "/ImportLC/ViewImportLCLog?id="+parseInt(oImportLC.ImportLCID)+"&buid="+parseInt(oImportLC.BUID);
        //window.location.href = _sBaseAddress+ "/ImportLC/ViewImportLC?id="+parseInt(oImportLC.ImportLCID)+"&buid="+parseInt(oImportLC.BUID);
    }
    function  AcceptAmendment()
    {
        var oImportLC=$('#tblImportLC').datagrid('getSelected');
        var nSelectedIndex= $('#tblImportLC').datagrid('getRowIndex',oImportLC);
        if(oImportLC==null || parseInt(oImportLC.ImportLCID)<=0)
        {
            alert("Please select a item from list!");
            return;
        }
        if(parseInt(oImportLC.LCCurrentStatus)!=7)
        {
            alert("Without Request Can't Accept Amendment");
            return;
        }
        var oImportLCs= $('#tblImportLC').datagrid('getRows');
        sessionStorage.setItem("ImportLCs", JSON.stringify(oImportLCs));
        sessionStorage.setItem("SelectedRowIndex", nSelectedIndex);
        sessionStorage.setItem("ImportLCHeader", "Accept Amendment");
        sessionStorage.setItem("BackLink", window.location.href);
        window.location.href = _sBaseAddress+ "/ImportLC/ViewImportLCRevise?id="+oImportLC.ImportLCID+"&buid="+sessionStorage.getItem('BUID');
    }
    function Attchment()
    {
        var oImportLC = $('#tblImportLC').datagrid('getSelected');
        if(oImportLC==null || parseInt(oImportLC.ImportLCID)<=0)
        {
            alert("Please select a item from list!");
            return;
        }
        window.open(_sBaseAddress + '/AttachDocument/Attachment?id='+oImportLC.ImportLCID+'&RefType=13&OperationInfo= Attachment of Import LC No : '+oImportLC.ImportLCNo, '_blank');
    }
    function AddInvoice()
    {
        var oImportLC=$('#tblImportLC').datagrid('getSelected');
        var nSelectedIndex= $('#tblImportLC').datagrid('getRowIndex',oImportLC);
        if(oImportLC==null || parseInt(oImportLC.ImportLCID)<=0)
        {
            alert("Please select a item from list!");
            return;
        }
        if(parseInt(oImportLC.LCCurrentStatus)<2)
        {
            alert("Without Open LC. Can't Add Invoice.");
            return;
        }
        var oImportLCs= $('#tblImportLC').datagrid('getRows');
        sessionStorage.setItem("ImportLCs", JSON.stringify(oImportLCs));
        sessionStorage.setItem("SelectedRowIndex", nSelectedIndex);
        sessionStorage.setItem("ImportLCHeader", "Add Invoice");
        sessionStorage.setItem("BackLink", window.location.href);
        window.location.href = _sBaseAddress+ "/ImportInvoice/ViewLCWiseInvoices?nLCID="+oImportLC.ImportLCID;
    }
    ///////Search
    $("#btnSearch").click(function () {
        $("#winAdvSearchImportLC").icsWindow('open', "Advance Search");
        Reset();
    });
    function RefreshDateSearch()
    {
        debugger;
        SetTodayDate();
        $('#cboDateSearch,#cboReceiveDateSearch,#cboShipmentDateSearch,#cboLCRequestDateSearch,#cboAmountSearch').empty();
        var listDates = "<option value='"+"0"+"'>" + "None" + "</option>";
        listDates+= "<option value='"+"1"+"'>" + "EqualTo" + "</option>";
        listDates+= "<option value='"+"2"+"'>" + "Not EqualTo" + "</option>";
        listDates+= "<option value='"+"3"+"'>" + "Greater Than" + "</option>";
        listDates+= "<option value='"+"4"+"'>" + "Less Than" + "</option>";
        listDates+= "<option value='"+"5"+"'>" + "Between" + "</option>";
        $('#cboDateSearch,#cboReceiveDateSearch,#cboShipmentDateSearch,#cboLCRequestDateSearch,#cboAmountSearch').html(listDates);
    }
    //Pick Supplier
    $("#txtSupplier").keydown(function (e) {
        debugger;
        var code = (e.keyCode ? e.keyCode : e.which);
        if (code == 13) // Enter Press
        {
            GetSuppliers($.trim($('#txtSupplier').val()));
        }
    });
    $("#btnSupplierPicker").click(function () {
        GetSuppliers("");
    });
    $('#txtSupplier').keydown(function (e) {
        var code = (e.keyCode ? e.keyCode : e.which);
        if (code == 8) //backspace=8
        {
            //debugger;
            var txtSupplierName = document.getElementById("txtSupplier");
            txtSupplierName.style.color = "black";
            txtSupplierName.style.fontWeight = "normal";
            $('#divImportLCs').data('SupplierIDs',"");
        }
    });
    function GetSuppliers(sSuplierName)
    {
        var oContractor = { Params:1+'~'+sSuplierName+'~'+sessionStorage.getItem('BUID') };
        var obj = {
            BaseAddress: sessionStorage.getItem('BaseAddress'),
            Object: oContractor,
            ControllerName: "Contractor",
            ActionName: "ContractorSearchByNameType",
            IsWinClose: false
        };
        $.icsDataGets(obj, function (response) {
            debugger;
            if (response.status && response.objs.length > 0) {
                if (response.objs[0].ContractorID > 0) {
                    debugger;
                    var tblColums = []; var oColumn = { field: "Name", title: "Name", width: 200, align: "left" }; tblColums.push(oColumn);
                    oColumn = { field: "ContractorTypeInString", title: "Type", width: 150, align: "left" }; tblColums.push(oColumn);
                    var oPickerParam = {
                        winid: 'winSupplier',
                        winclass: 'clsSupplier',
                        winwidth: 450,
                        winheight: 460,
                        tableid: 'tblBuyers',
                        tablecolumns: tblColums,
                        datalist: response.objs,
                        multiplereturn: true,
                        searchingbyfieldName: 'Name',
                        windowTittle: 'Buyer List'
                    };
                    $.icsPicker(oPickerParam);
                    IntializePickerbutton(oPickerParam);
                }
                else { alert(response.objs[0].ErrorMessage); }
            }
        });
    }

    //Pick InsuranceCompany
    $("#txtInsuranceCompany").keydown(function (e) {
        debugger;
        var code = (e.keyCode ? e.keyCode : e.which);
        if (code == 13) // Enter Press
        {
            GetInsuranceCompanys($.trim($('#txtInsuranceCompany').val()));
        }
    });
    $("#btnInsuranceCompanyPicker").click(function () {
        GetInsuranceCompanys("");
    });
    $('#txtInsuranceCompany').keydown(function (e) {
        var code = (e.keyCode ? e.keyCode : e.which);
        if (code == 8) //backspace=8
        {
            //debugger;
            var txtInsuranceCompanyName = document.getElementById("txtInsuranceCompany");
            txtInsuranceCompanyName.style.color = "black";
            txtInsuranceCompanyName.style.fontWeight = "normal";
            $('#divImportLCs').data('InsuranceCompanyIDs',"");
        }
    });
    function GetInsuranceCompanys(sSuplierName)
    {
        var oContractor = { Params:5+'~'+sSuplierName+'~'+sessionStorage.getItem('BUID') };
        var obj = {
            BaseAddress: sessionStorage.getItem('BaseAddress'),
            Object: oContractor,
            ControllerName: "Contractor",
            ActionName: "ContractorSearchByNameType",
            IsWinClose: false
        };
        $.icsDataGets(obj, function (response) {
            debugger;
            if (response.status && response.objs.length > 0) {
                if (response.objs[0].ContractorID > 0) {
                    debugger;
                    var tblColums = []; var oColumn = { field: "Name", title: "Name", width: 200, align: "left" }; tblColums.push(oColumn);
                    oColumn = { field: "ContractorTypeInString", title: "Type", width: 150, align: "left" }; tblColums.push(oColumn);
                    var oPickerParam = {
                        winid: 'winInsuranceCompany',
                        winclass: 'clsInsuranceCompany',
                        winwidth: 450,
                        winheight: 460,
                        tableid: 'tblBuyers',
                        tablecolumns: tblColums,
                        datalist: response.objs,
                        multiplereturn: true,
                        searchingbyfieldName: 'Name',
                        windowTittle: 'Buyer List'
                    };
                    $.icsPicker(oPickerParam);
                    IntializePickerbutton(oPickerParam);
                }
                else { alert(response.objs[0].ErrorMessage); }
            }
        });
    }

    //bank Branch
    $('#txtBankBranch').keydown(function (e){
        var code = (e.keyCode ? e.keyCode : e.which);
        if(code === 13)
        {
            if($.trim($('#txtBankBranch').val())==null || $.trim($('#txtBankBranch').val())=="")
            {
                alert("Please Pick Bank Branch.");
                return;
            }
            GetBankBranchs($.trim($('#txtBankBranch').val()));
        }if(code===8)
        {
            $("#txtBankBranch").val('');
            $("#txtBankBranch").removeClass('fontColorOfPickItem');
            $('#divImportLCs').data('BankBranchIDs',"");
        }
    });
    $('#btnBranchAdvicePicker').click(function (e){
        GetBankBranchs($.trim($('#txtBankBranch').val()));
    });
    $('#btnClnBranch').click(function(e){
        //debugger;
        $("#txtBankBranch").val('');
        $("#txtBankBranch").removeClass("fontColorOfPickItem");
        $('#divImportLCs').data('BankBranchIDs',"");
    });
    function GetBankBranchs(txtBankBranch)
    {
        var oBankBranch = {
            BUID:sessionStorage.getItem('BUID'),
            DeptIDs:'2', //EnumOperationalDept:Import_Own = 2,
            BankName : txtBankBranch,
            BankID : 0
        };
        var obj = {
            BaseAddress: sessionStorage.getItem('BaseAddress'),
            Object: oBankBranch,
            ControllerName: "BankBranch",
            ActionName: "GetsBankBranchSearchByBankName",
            IsWinClose: false
        };
        $.icsDataGets(obj, function (response) {
            if (response.status && response.objs.length > 0) {
                if (parseInt(response.objs[0].BankBranchID) > 0) {
                    var tblColums = []; var oColumn = { field: "BranchCode", title: "Code", width: 100, align: "left" }; tblColums.push(oColumn);
                    oColumn = { field: "BankName", title: "Bank Name", width: 150, align: "left" }; tblColums.push(oColumn);
                    oColumn = { field: "BranchName", title: "Branch Name", width: 200, align: "left" }; tblColums.push(oColumn);
                    oColumn = { field: "PhoneNo", title: "Phone No", width: 100, align: "left" }; tblColums.push(oColumn);
                    var oPickerParam = {
                        winid: 'winBranch',
                        winclass: 'clsBranch',
                        winwidth: 500,
                        winheight: 420,
                        tableid: 'tblBranch',
                        tablecolumns: tblColums,
                        datalist: response.objs,
                        multiplereturn: true,
                        searchingbyfieldName: 'BranchName',
                        windowTittle: 'Branch List'
                    };
                    $.icsPicker(oPickerParam);
                    IntializePickerbutton(oPickerParam);
                }
                else { alert(response.objs[0].ErrorMessage); }
            }
            else
            {
                alert("Data Not Found!");
            }
        });

    }
    //Refresh
    $('#btnRefresh').click(function () {
        debugger;
        /* Issue Date*/
        var nIssueDate = $('#cboDateSearch').val();
        var dIssueStartDate = $('#txtStartDate').datebox('getValue');
        var dIssueEndDate = $('#txtEndDate').datebox('getValue');

        /* Receive Date*/
        var nReceiveDate = $('#cboReceiveDateSearch').val();
        var dReceiveStartDate = $('#txtReceiveStartDate').datebox('getValue');
        var dReceiveEndDate = $('#txtReceiveEndDate').datebox('getValue');

        /* Shipment Date*/
        var nShipmentDate = $('#cboShipmentDateSearch').val();
        var dShipmentStartDate = $('#txtShipmentStartDate').datebox('getValue');
        var dShipmentEndDate = $('#txtShipmentEndDate').datebox('getValue');
        /* LCRequest Date*/
        var nLCRequestDate = $('#cboLCRequestDateSearch').val();
        var dLCRequestStartDate = $('#txtLCRequestStartDate').datebox('getValue');
        var dLCRequestEndDate = $('#txtLCRequestEndDate').datebox('getValue');

        /* Amount*/
        var ncboAmount = $('#cboAmountSearch').val();
        var nAmountStart = $('#txtAmountStart').val();
        var nAmountEnd= $('#txtAmountEnd').val();

        var sImportLCNo = $("#txtImportLCNo_Adv").val();
        var sImportPINo = $("#txtPINo").val();
        var nImportPIType = $('#cboImportPIType').val();

        var chkResult = CheckEmpty();
        if (chkResult!= true) {
            alert("Please Select at least one Criteria !!");
            return;
        }
        $(".lblLoadingMessage").show();
        var sCurrentStatus = "";
        var oLCStatus = $("#tblCurrentStatusAdvSearch").datagrid("getChecked");
        for (var i = 0; i < oLCStatus.length; i++) {
            sCurrentStatus = oLCStatus[i].id + "," +sCurrentStatus;
        }
        sCurrentStatus = sCurrentStatus.substring(0, sCurrentStatus.length - 1);
        var sTempString = nIssueDate + '~' + dIssueStartDate + '~' + dIssueEndDate + '~' +nReceiveDate + '~' + dReceiveStartDate+ '~' + dReceiveEndDate+ '~' +nShipmentDate+ '~' + dShipmentStartDate + '~' + dShipmentEndDate+'~' +nLCRequestDate+ '~' + dLCRequestStartDate + '~' + dLCRequestEndDate+ '~'+ncboAmount+ '~' + nAmountStart+ '~' + nAmountEnd+ '~' + sImportLCNo + '~' + $('#divImportLCs').data('SupplierIDs')+'~' + $('#divImportLCs').data('InsuranceCompanyIDs')+'~'+$('#divImportLCs').data('BankBranchIDs')+'~'+sCurrentStatus+'~'+sessionStorage.getItem('BUID')+'~'+sImportPINo+'~'+nImportPIType;
        $("#winAdvSearchImportLC").data("AdvSrc",sTempString);
        var oImportLC={ErrorMessage:sTempString};
        $.ajax({
            type: "POST",
            dataType: "json",
            url : _sBaseAddress+"/ImportLC/GetsSearchedData",
            traditional: true,
            data:  JSON.stringify(oImportLC),
            contentType: "application/json; charset=utf-8",
            success: function (data) {
                debugger;
                var oImportLCs = jQuery.parseJSON(data);
                debugger;
                if (oImportLCs != null)
                {
                    if (oImportLCs.length > 0)
                    {
                        DynamicRefreshList(oImportLCs,'tblImportLC');
                        $("#winAdvSearchImportLC").icsWindow("close");
                    }
                    else {
                        alert("Data not found!!");
                        DynamicRefreshList([],'tblImportLC');
                    }
                }
                $(".lblLoadingMessage").hide();
            },
            error: function (xhr, status, error) {
                alert(error);
            }
        });

    });

    //Reset
    function Reset() {
        debugger;
        $("#txtImportLCNo_Adv,#txtSupplier,#txtInsuranceCompany,#txtPINo").val('');
        RefreshDateSearch();
        $("#txtSupplier,#txtInsuranceCompany ").removeClass("fontColorOfPickItem");
        var oLCStatusObjs= $('#divImportLCs').data('LCStatus');
        DynamicRefreshList(oLCStatusObjs, "tblCurrentStatusAdvSearch");
        $("#cboNegotiateBank").icsLoadCombo({List: $('#divImportLCs').data('BankBrances'),OptionValue: "BankBranchID",DisplayText: "BankBranchName"});
        $('#divImportLCs').data('SupplierIDs',"");
        $('#divImportLCs').data('InsuranceCompanyIDs',"");
        $('#divImportLCs').data('BankBranchIDs',"");
        $('#txtAmountStart,#txtAmountEnd').val(0.0);
        $('#cboImportPIType').val(0);
    }


    //Close Picker
    $('#btnSearchClose').click(function () {
        $("#winAdvSearchImportLC").icsWindow('close');
    });


    function DateActionsIssueDateAdvSearch() {
        DynamicDateActions("cboDateSearch", "txtStartDate", "txtEndDate");
    }
    function DateActionsReceiveDateAdvSearch() {
        DynamicDateActions("cboReceiveDateSearch", "txtReceiveStartDate", "txtReceiveEndDate");
    }
    function DateActionsShipmentDateAdvSearch() {
        DynamicDateActions("cboShipmentDateSearch", "txtShipmentStartDate", "txtShipmentEndDate");
    }
    function DateActionsLCRequestDateAdvSearch() {
        DynamicDateActions("cboLCRequestDateSearch", "txtLCRequestStartDate", "txtLCRequestEndDate");
    }
    function ActionsAmountAdvSearch() {
        DynamicValueActions("cboAmountSearch", "txtAmountStart", "txtAmountEnd");
    }
    function SetTodayDate() {
        $('#txtStartDate,#txtEndDate,#txtReceiveStartDate,#txtReceiveEndDate,#txtShipmentStartDate,#txtShipmentEndDate,#txtLCRequestStartDate,#txtLCRequestEndDate').datebox('setValue', icsdateformat(new Date()));
    }

    function CheckEmpty() {

        var nIssueDate = $("#cboDateSearch").val();
        var nReceiveDate = $("#cboReceiveDateSearch").val();
        var nShipmentDate = $("#cboShipmentDateSearch").val();
        var nLCRequestDate = $("#cboLCRequestDateSearch").val();
        var sLCNo = $("#txtImportLCNo_Adv").val();

        var oLCStatus = $("#tblCurrentStatusAdvSearch").datagrid("getChecked");
        if (nIssueDate == 0 && nReceiveDate==0 && nShipmentDate==0 && nLCRequestDate ==0 && $('#divImportLCs').data('BankBranchIDs')=="" && sLCNo=="" && $('#divImportLCs').data('SupplierIDs')== "" && $('#divImportLCs').data('InsuranceCompanyIDs')== "" && oLCStatus==null && $("#txtPINo").val()=="" && $('#cboImportPIType').val() == 0 )
        {
            return false;
        }
        return true;
    }

    function IntializePickerbutton(oPickerobj) {
        debugger;
        $("#" + oPickerobj.winid).find("#btnOk").click(function () {
            debugger;
            //for Single Select
            PickerEvents(oPickerobj);
        });
        $(document).find('.' + oPickerobj.winclass).keydown(function (e) {
            if (e.which == 13)//enter=13
            {
                PickerEvents(oPickerobj);
            }
        });
    }
    function PickerEvents(oPickerobj) {
        var oreturnobj = null, oreturnobjs = [];
        if (oPickerobj.multiplereturn)
        {
            oreturnobjs = $('#' + oPickerobj.tableid).datagrid('getChecked');
        } else
        {
            oreturnobj = $('#' + oPickerobj.tableid).datagrid('getSelected');
        }

        $("#" + oPickerobj.winid).icsWindow("close");
        $("#" + oPickerobj.winid).remove();
        if (oPickerobj.winclass == 'clsSupplier')
        {
            $('#divImportLCs').data('SupplierIDs',"");
            var nSupplierIDs = "";
            if (oPickerobj.multiplereturn)
            {
                var ncount = 0;
                for (var i = 0; i <oreturnobjs.length; i++) {
                    var nSupplierID = oreturnobjs[i].ContractorID;
                    nSupplierIDs = nSupplierIDs + nSupplierID + ',';
                    ncount++;
                }
                if (ncount > 1)
                {
                    $('#txtSupplier').val("Select " + ncount + " Supplier's");
                } else
                {
                    $('#txtSupplier').val(oreturnobjs[0].Name);
                }
                nSupplierIDs = nSupplierIDs.substring(0, nSupplierIDs.length - 1);

            } else
            {
                $('#txtSupplier').val(oreturnobj.Name);
                nSupplierIDs = "" + oreturnobj.ContractorID + "";
                $('#txtSupplier').focus();
            }
            $('#divImportLCs').data('SupplierIDs',nSupplierIDs);
            $("#txtSupplier").addClass('fontColorOfPickItem');
        }else  if (oPickerobj.winclass == 'clsInsuranceCompany')
        {
            $('#divImportLCs').data('InsuranceCompanyIDs',"");
            var nInsuranceCompanyIDs = "";
            if (oPickerobj.multiplereturn)
            {
                var ncount = 0;
                for (var i = 0; i <oreturnobjs.length; i++) {
                    var nInsuranceCompanyID = oreturnobjs[i].ContractorID;
                    nInsuranceCompanyIDs = nInsuranceCompanyIDs + nInsuranceCompanyID + ',';
                    ncount++;
                }
                if (ncount > 1)
                {
                    $('#txtInsuranceCompany').val("Select " + ncount + " InsuranceCompany's");
                } else
                {
                    $('#txtInsuranceCompany').val(oreturnobjs[0].Name);
                }
                nInsuranceCompanyIDs = nInsuranceCompanyIDs.substring(0, nInsuranceCompanyIDs.length - 1);
            } else
            {
                $('#txtInsuranceCompany').val(oreturnobj.Name);
                nInsuranceCompanyIDs = "" + oreturnobj.ContractorID + "";
                $('#txtInsuranceCompany').focus();
            }
            $('#divImportLCs').data('InsuranceCompanyIDs',nInsuranceCompanyIDs);
            $("#txtInsuranceCompany").addClass('fontColorOfPickItem');
        }else  if (oPickerobj.winclass == 'clsBranch')
        {
            debugger
            $('#divImportLCs').data('BankBranchIDs',"");
            var nBankBranchIDs = "";
            if (oPickerobj.multiplereturn)
            {
                var ncount = 0;
                for (var i = 0; i <oreturnobjs.length; i++) {
                    var nBankBranchID = oreturnobjs[i].BankBranchID;
                    nBankBranchIDs = nBankBranchIDs + nBankBranchID + ',';
                    ncount++;
                }
                if (ncount > 1)
                {
                    $('#txtBankBranch').val("Select " + ncount + " BankBranch's");
                } else
                {
                    $('#txtBankBranch').val(oreturnobjs[0].Name);
                }
                nBankBranchIDs = nBankBranchIDs.substring(0, nBankBranchIDs.length - 1);
            } else
            {
                $('#txtBankBranch').val(oreturnobj.Name);
                nBankBranchIDs = "" + oreturnobj.BankBranchID + "";
                $('#txtBankBranch').focus();
            }
            $('#divImportLCs').data('BankBranchIDs',nBankBranchIDs);
            $("#txtBankBranch").addClass('fontColorOfPickItem');
        }
    }


    $("#btnPrintLetter").click(function () {
        debugger;
        var oImportLC=$('#tblImportLC').datagrid('getSelected');
        if(oImportLC==null || parseInt(oImportLC.ImportLCID)<=0)
        {
            alert("Please select a item from list!");
            return;
        }
        window.open(_sBaseAddress + '/ImportLC/LetterPrint?nImportLCID='+parseInt(oImportLC.ImportLCID));
    });


    $("#btnPrintLCDetail").click(function () {
        debugger;
        var oImportLC=$('#tblImportLC').datagrid('getSelected');
        if(oImportLC==null || parseInt(oImportLC.ImportLCID)<=0)
        {
            alert("Please select a item from list!");
            return;
        }
        window.open(_sBaseAddress + '/ImportLC/Print_LCDetail?nImportLCID='+parseInt(oImportLC.ImportLCID));
    });
    /// Update Status
    $("#btnLCStatusUpdate").click(function () {
        var oImportLC=$('#tblImportLC').datagrid('getSelected');
        if(oImportLC==null || parseInt(oImportLC.ImportLCID)<=0)
        {
            alert("Please select a item from list!");
            return;
        }
        $('#cboInvoiceLCStatus').val(oImportLC.LCCurrentStatusInt);
        $("#winImportLCStatus_Update").icsWindow('open', "Invoice L/C Status Change");


    });


    $("#btnSaveImportLCStatus").click(function (e) {
        var oImportLC=$('#tblImportLC').datagrid('getSelected');
        if(oImportLC==null || parseInt(oImportLC.ImportLCID)<=0)
        {
            alert("Please select a item from list!");
            return;
        }
        var nSelectedIndex= $('#tblImportLC').datagrid('getRowIndex',oImportLC);

        var oImportLCTemp = {
            ImportLCID:oImportLC.ImportLCID,
            LCCurrentStatusInt: parseInt($("#cboInvoiceLCStatus").val())
        };

        var obj =
            {
                BaseAddress: _sBaseAddress,
                Object: oImportLCTemp,
                ObjectId: oImportLCTemp.ImportLCID,
                ControllerName: "ImportLC",
                ActionName: "Save_UpdateStatus",
                TableId: "tblImportLC",
                IsWinClose: true
            };
        $.icsSave(obj, function (response) {
            if (response.status) {
                //OperationPerformsExportLC(nRowIndex, response.obj);
            }
        });
    });
    $("#btnCloseImportLCStatus").click(function () {
        $("#winImportLCStatus_Update").icsWindow("close");
    });


    //start Request for LC Letter
    function RequestForLC()
    {
        var oImportLC=$('#tblImportLC').datagrid('getSelected');
        var nSelectedIndex= $('#tblImportLC').datagrid('getRowIndex',oImportLC);
        if(oImportLC==null || parseInt(oImportLC.ImportLCID)<=0)
        {
            alert("Please select a item from list!");
            return;
        }
        var oImportLCs= $('#tblImportLC').datagrid('getRows');
        sessionStorage.setItem("ImportLCs", JSON.stringify(oImportLCs));
        sessionStorage.setItem("SelectedRowIndex", nSelectedIndex);
        sessionStorage.setItem("ImportLCHeader", "Request For LC Header");
        sessionStorage.setItem("BackLink", window.location.href);
        window.location.href = _sBaseAddress+ "/ImportLC/ViewRequestForLC?id="+oImportLC.ImportLCID+"&buid="+sessionStorage.getItem('BUID');
    }
    //end Request for LC Letter

    $("#btnPrintListInXL").click(function () {
        debugger;
        var sParam = "";
        sParam = $("#winAdvSearchImportLC").data("AdvSrc");
        if(sParam == "" || sParam == null)
        {
            alert("Please Search Data First!");
            return;
        }
        window.open(_sBaseAddress+ "/ImportLC/PrintListInXL?sParam="+sParam+"&nBUID="+sessionStorage.getItem('BUID'), "_blank");
    });

</script>



