@{
    ViewBag.Title = "Payroll Process Management";
}
<html>
<head>
    <title> Payroll Process Management</title>
</head>

@{var MenuID = HttpContext.Current.Session[SessionInfo.MenuID];}
<body class="menuMainCollectionTable">
    @model ESimSol.BusinessObjects.PayrollProcessManagement

    <div id="progressbarParent" style="width:100%;height:100%;margin:0 auto;text-align:center; margin-left: auto;margin-right: auto;left: 0;right: 0;z-index: 1;">
        <div style="margin: 0px auto;margin-top: 251px;text-align:center;width:390px;">
            <label style="font-size:18px;">Please wait</label>
            <div id="progressbar" style="width:100%;height:37px;"></div>
        </div>
    </div>

    <div id="main-body" style="font-family: Tahoma;">
        <fieldset style="width:98%;">
            <legend id="lblHeaderName" style="font-weight: bold"> New Payroll Process Management : </legend>
            <div style="width:100%; margin-bottom:30px;">
                @*<div style="width:15%; margin-left:2%; float:left;">
                    Business Unit :
                    <select id="cboBU" style="width:80.5%;"></select>
                </div>
                <div style="width:15%; margin-left:2%; float:left;">
                    Location :
                    <select id="cboLocation" style="width:80.5%;"></select>
                </div>
                <div style="width:60%; margin-left:3%;float:left;">
                    Salary From :
                    <input id="dtProcessFrom" type="text" style="width: 24%;" class="easyui-datebox" data-options="formatter:icsdateformat,parser:icsdateparser" />
                    &nbsp;
                    To
                    &nbsp;
                    <input id="dtProcessTo" type="text" style="width: 24%;" class="easyui-datebox" data-options="formatter:icsdateformat,parser:icsdateparser" />
                    &nbsp;
                    Salary Month :
                    <select id="cboSalaryMonth" class="selection-search cboReset" style="width: 18%;"></select>
                    
                </div>*@
                BU:
                <select id="cboBU" style="width:11%;"></select>
                Location :
                <select id="cboLocation" style="width:11%;"></select>
                Account :
                <select id="cboAccount" style="width:11%;"></select>
                S. Month :
                <select id="cboSalaryMonth" style="width: 11%;"></select>
                S. From :
                <input id="dtProcessFrom" type="text" style="width: 10%;" class="easyui-datebox" data-options="formatter:icsdateformat,parser:icsdateparser" />
                &nbsp;
                To
                &nbsp;
                <input id="dtProcessTo" type="text" style="width: 10%;" class="easyui-datebox" data-options="formatter:icsdateformat,parser:icsdateparser" />               
                T. Card :
                <select id="cboTimeCard" style="width: 11%;"></select>
            </div>
            <div style="width:100%">
                <div style="width:30%;margin-left:2%; float:left;">
                    <table id="tblDepartments" title="Department List" class="easyui-datagrid" style="width:100%;height:300px;" fitcolumns="false" rownumbers="true" pagination="false" singleselect="false" autorowheight="false">
                        <thead>
                            <tr>
                                <th data-options="field:'Selected',checkbox:true"></th>
                                <th field="DepartmentName" width="230" align="left">Department</th>
                            </tr>
                        </thead>
                    </table>
                </div>
                <div style="width:30%; margin-left:3%; float:left">
                    <table id="tblSalarySchemes" title="Salary Scheme List" class="easyui-datagrid" style="width:100%;height:300px;" fitcolumns="false" rownumbers="true" pagination="false" singleselect="false" autorowheight="false">
                        <thead>
                            <tr>
                                <th data-options="field:'Selected',checkbox:true"></th>
                                <th field="Name" width="230" align="left">Salary Scheme</th>
                            </tr>
                        </thead>
                    </table>
                </div>
                <div style="width:30% ; margin-left:3%; float:left">
                    <table id="tblGroups" title="Group List" class="easyui-datagrid" style="width:100%;height:150px;" fitcolumns="false" rownumbers="true" pagination="false" singleselect="false" autorowheight="false">
                        <thead>
                            <tr>
                                <th data-options="field:'Selected',checkbox:true"></th>
                                <th field="Name" width="230" align="left">Group Name</th>
                            </tr>
                        </thead>
                    </table>
                    <table id="tblSalaryHeads" title="Salary Head List" class="easyui-datagrid" style="width:100%;height:150px;" fitcolumns="false" rownumbers="true" pagination="false" singleselect="false" autorowheight="false">
                        <thead>
                            <tr>
                                <th data-options="field:'Selected',checkbox:true"></th>
                                <th field="Name" width="230" align="left">Salary Head</th>
                            </tr>
                        </thead>
                    </table>
                </div>
            </div>
           
        </fieldset>

        <fieldset style="width:98%;">
            <legend style="font-weight: bold">Action : </legend>
            <table id="Actiontable" border="0" cellspacing="2" cellpadding="2" style="font-size: 11px; font-weight: bold; width:100%;">
                <tr class="Actiontable_tr">
                    <td style="width:100%; text-align: right">
                        <a id="btnSProcess" href="javascript:void(0)" class="easyui-linkbutton" iconcls="icon-ok" plain="true">Process</a>
                        <a href="javascript:void(0)" class="easyui-linkbutton" iconcls="icon-cancel" plain="true"
                           onclick="Close()">Close</a>
                    </td>

                </tr>
            </table>
        </fieldset>

    </div>

</body>
</html>

<script type="text/javascript">

    var _oPayrollProcessManagement = null;
    var _sBaseAddress = "";
    var _nMenuid=0;
    var _sPayrollProcessManagementHeader="";
    var _oMonths=[];
    var _oLocations=[];
    var _oBUs=[];
    var _oBankAccounts=[];
    var _oPPMobjects=[];
    var _oEmployeeGroups=[];
    var _oTimeCards=[];

    $(document).ready(function() {

        _oPayrollProcessManagement = @Html.Raw(new System.Web.Script.Serialization.JavaScriptSerializer().Serialize(Model));
        _sBaseAddress = @Html.Raw(new System.Web.Script.Serialization.JavaScriptSerializer().Serialize(HttpContext.Current.Session[SessionInfo.BaseAddress]));
        _oMonths= @Html.Raw(new System.Web.Script.Serialization.JavaScriptSerializer().Serialize(@ViewBag.Months));
        _nMenuid = @Html.Raw(new System.Web.Script.Serialization.JavaScriptSerializer().Serialize(MenuID));
        _oLocations = @Html.Raw(new System.Web.Script.Serialization.JavaScriptSerializer().Serialize(@ViewBag.Locations));
        _oBUs = @Html.Raw(new System.Web.Script.Serialization.JavaScriptSerializer().Serialize(@ViewBag.BusinessUnits));
        _oBankAccounts = @Html.Raw(new System.Web.Script.Serialization.JavaScriptSerializer().Serialize(@ViewBag.BankAccounts));
        _oPPMobjects = @Html.Raw(new System.Web.Script.Serialization.JavaScriptSerializer().Serialize(ViewBag.PPMobjects));
        _oEmployeeGroups= @Html.Raw(new System.Web.Script.Serialization.JavaScriptSerializer().Serialize(@ViewBag.EmployeeGroups));
        _oTimeCards= @Html.Raw(new System.Web.Script.Serialization.JavaScriptSerializer().Serialize(@ViewBag.TimeCards));
        _sPayrollProcessManagementHeader=sessionStorage.getItem("PayrollProcessManagementHeader");
        debugger;
        if(_oPayrollProcessManagement.ErrorMessage!="")
        {
            alert(_oPayrollProcessManagement.ErrorMessage);
            _oPayrollProcessManagement.ErrorMessage=="";
        }
        
        $("#cboTimeCard").icsLoadCombo({
            List:_oTimeCards,
            OptionValue: "MOCID",
            DisplayText: "TimeCardName"
        });
        //DynamicRefreshList(_oPayrollProcessManagement.DepartmentRequirementPolicys,'tblDepartments');
        DynamicRefreshList(_oPayrollProcessManagement.SalarySchemes,'tblSalarySchemes');
        DynamicRefreshList(_oPayrollProcessManagement.SalaryHeads,'tblSalaryHeads');
        DynamicRefreshList(_oPayrollProcessManagement.EmployeeGroups,'tblGroups');
        $("#lblHeaderName").html(_sPayrollProcessManagementHeader);
        //$("#cboLocation").icsLoadCombo({
        //    List: _oPayrollProcessManagement.Locations,
        //    OptionValue: "LocationID",
        //    DisplayText: "Name"
        //});
        $('#dtProcessFrom').datebox('setValue',icsdateformat(new Date()));
        $('#dtProcessTo').datebox('setValue',icsdateformat(new Date()));

        $("#cboSalaryMonth").icsLoadCombo({
            List:_oMonths,
            OptionValue: "Value",
            DisplayText: "Text",
            InitialValue:"--Select a month--"
        });
        $("#progressbar").progressbar({ value: 0 });
        $("#progressbarParent").hide();
        LoadBU(_oBUs);


        if(_sPayrollProcessManagementHeader=="View PayrollProcessManagement")
        {
            // DynamicRefreshList(_oPayrollProcessManagement.DepartmentRequirementPolicys,'tblDepartments');
            $('#btnSProcess').hide();

            $('#cboBU').val(parseInt(_oPayrollProcessManagement.BusinessUnitID));


            var nBUID =parseInt(_oPayrollProcessManagement.BusinessUnitID);
            var oList =[];
            for(var i = 0; i<_oLocations.length; i++)
            {
                if(_oLocations[i].BusinessUnitID == nBUID)
                {
                    oList.push(_oLocations[i]);
                }
            }
            LoadLocation(oList);

            oList =[];
            for(var i = 0; i<_oBankAccounts.length; i++)
            {
                if(_oBankAccounts[i].BusinessUnitID == nBUID)
                {
                    oList.push(_oBankAccounts[i]);
                }
            }
            LoadAccount(oList);


            $('#cboLocation').val(parseInt(_oPayrollProcessManagement.LocationID));
            $('#cboSalaryMonth').val(parseInt(_oPayrollProcessManagement.MonthID));


            $('#dtProcessFrom').datebox('setValue',_oPayrollProcessManagement.SalaryFromInString);
            $('#dtProcessTo').datebox('setValue',_oPayrollProcessManagement.SalaryToInString);
            $('#cboTimeCard').val(parseInt(_oPayrollProcessManagement.MOCID));

            //Department
            debugger;
            var nLocationID= parseInt(_oPayrollProcessManagement.LocationID);
            if(nLocationID>0)
            {
                var oDepartmentRequirementPolicy={LocationID:nLocationID};
                var obj = {
                    BaseAddress: _sBaseAddress,
                    Object: oDepartmentRequirementPolicy,
                    ControllerName: "DepartmentRequirementPolicy",
                    ActionName: "GetDRPByLocations",
                    IsWinClose: false
                };
                $.icsDataGets(obj, function (response) {
                    if (response.status && response.objs.length > 0 && response.objs[0].ErrorMessage=="") {
                        debugger;

                        var oTempObj = [];
                        var counter = 0;
                        for(var i = 0; i < response.objs.length; i++){
                            for(var j = 0; j < _oPPMobjects.length; j++) {
                                if((_oPPMobjects[j].PPMID == _oPayrollProcessManagement.PPMID) && (_oPPMobjects[j].PPMObject == 1)) {
                                    if(response.objs[i].DepartmentID == _oPPMobjects[j].ObjectID) {
                                        oTempObj.push(response.objs[i]);
                                        counter++;
                                    }
                                }
                            }
                        }

                        DynamicRefreshList(oTempObj, "tblDepartments");

                    }
                    else { alert(response.objs[0].ErrorMessage);DynamicRefreshList([], "tblDepartments");}
                });
            }
            else{
                DynamicRefreshList([], "tblDepartments");
            }



            var oTempObjScheme = [];
            var counter = 0;
            for(var i = 0; i < _oPayrollProcessManagement.SalarySchemes.length; i++){
                for(var j = 0; j < _oPPMobjects.length; j++) {
                    if((_oPPMobjects[j].PPMID == _oPayrollProcessManagement.PPMID) && (_oPPMobjects[j].PPMObject == 2)) {
                        if(_oPayrollProcessManagement.SalarySchemes[i].SalarySchemeID == _oPPMobjects[j].ObjectID) {
                            oTempObjScheme.push(_oPayrollProcessManagement.SalarySchemes[i]);
                            counter++;
                        }
                    }
                }
            }

            DynamicRefreshList(oTempObjScheme, "tblSalarySchemes");

            debugger;
            var oTempObjGroup = [];
            var count = 0;
            for(var i = 0; i < _oPayrollProcessManagement.EmployeeGroups.length; i++){
                for(var j = 0; j < _oPPMobjects.length; j++) {
                    if((_oPPMobjects[j].PPMID == _oPayrollProcessManagement.PPMID) && (_oPPMobjects[j].PPMObject == 4)) {
                        if(_oPayrollProcessManagement.EmployeeGroups[i].EmployeeTypeID == _oPPMobjects[j].ObjectID) {
                            oTempObjGroup.push(_oPayrollProcessManagement.EmployeeGroups[i]);
                            count++;
                        }
                    }
                }
            }

            DynamicRefreshList(oTempObjGroup, "tblGroups");



            document.getElementById('cboBU').disabled = true;
            document.getElementById('cboLocation').disabled = true;
            document.getElementById('cboAccount').disabled = true;
            document.getElementById('cboSalaryMonth').disabled = true;
            document.getElementById('dtProcessFrom').disabled = true;
            document.getElementById('dtProcessTo').disabled = true;


        }

    });
    function LoadBU(oBUs)
    {
        $("#cboBU").icsLoadCombo({
            List:oBUs,
            OptionValue: "BusinessUnitID",
            DisplayText: "Name"
        });
    }
    function updateProgress()
    {
        var value =$('#progressbar').progressbar('getValue');
        if (value < 96){
            value += Math.floor(Math.random() * 5);
            $('#progressbar').progressbar('setValue', value);
        }
    }

    function hideShow(miliseconds)
    {
        $("#progressbarParent").hide();
    }

    //$('#dtProcessTo').click(function (e)
    //{
    //    alert(1);
    //});

    function ValidateInput()
    {
        if($("#cboBU").val()==0)
        {
            alert("Please select a  Business Unit !");
            $('#cboBU').focus();
            return false;
        }

        if($("#cboLocation").val()==0)
        {
            alert("Please select a location !");
            $('#cboLocation').focus();
            return false;
        }
        if($("#cboTimeCard").val()==0)
        {
            alert("Please select a Time Card !");
            $('#cboTimeCard').focus();
            return false;
        }
        var StartDate=$('#dtProcessFrom').datebox('getValue');
        var EndDate=$('#dtProcessTo').datebox('getValue');
        StartDate=new Date(StartDate);
        EndDate=new Date(EndDate);
        if(StartDate>EndDate)
        {
            alert("Start Date Must Not Be Greater Than End Date !");
            $("#dtProcessFrom").focus();
            return false;
        }
        return true;
    }

    function RefreshObject()
    {
        var oDepartments=$('#tblDepartments').datagrid('getChecked');
        var oSalarySchemes=$('#tblSalarySchemes').datagrid('getChecked');
        var oSalaryHeads=$('#tblSalaryHeads').datagrid('getChecked');
        var oEmployeeGropus=$('#tblGroups').datagrid('getChecked');

        var oPayrollProcessManagement=
        {
            PPMID: _oPayrollProcessManagement.PPMID,
            BusinessUnitID:$('#cboBU').val(),
            LocationID: $("#cboLocation").val(),
            BankAccountID:$('#cboAccount').val(),
            SalaryFrom:  $('#dtProcessFrom').datebox('getValue'),
            SalaryTo:  $('#dtProcessTo').datebox('getValue'),
            MonthIDInt: $("#cboSalaryMonth").val(),
            DepartmentRequirementPolicys:oDepartments,
            SalarySchemes:oSalarySchemes,
            SalaryHeads:oSalaryHeads,
            EmployeeGroups:oEmployeeGropus,
            MOCID: $("#cboTimeCard").val()
        };
        return oPayrollProcessManagement;
    }

    $('#btnSProcess').click(function (e)
    {
        debugger;
        if (!ValidateInput()) return;
        var oPayrollProcessManagement = RefreshObject();

        $("#progressbar").progressbar({ value: 0 });
        $("#progressbarParent").show();
        $("#main-body").hide();
        var intervalID = setInterval(updateProgress, 250);

        var obj = {
            BaseAddress: _sBaseAddress,
            Object: oPayrollProcessManagement,
            ObjectId: oPayrollProcessManagement.PPMID,
            ControllerName: "PayrollProcess",
            ActionName: "PayrollProcess_IUD_V1Comp",
            TableId: "",
            IsWinClose: false
        };

        $.icsSave(obj, function (response)
        {
            if (response.status && response.obj.PPMID > 0)
            {
                //alert("Data Saved sucessfully");
                var oPayrollProcessManagements =sessionStorage.getItem("PayrollProcessManagements");
                var nIndex= parseInt(sessionStorage.getItem("SelectedRowIndex"));
                if(oPayrollProcessManagements!=null)
                {
                    oPayrollProcessManagements = jQuery.parseJSON(oPayrollProcessManagements);
                }
                else
                {
                    oPayrollProcessManagements=[];
                }
                if(nIndex!=-1)
                {
                    oPayrollProcessManagements[nIndex]=response.obj;
                }
                else
                {
                    sessionStorage.setItem("SelectedRowIndex", oPayrollProcessManagements.length);
                    oPayrollProcessManagements.push(response.obj);
                }
                sessionStorage.setItem("PayrollProcessManagements", JSON.stringify(oPayrollProcessManagements));
                window.location.href = _sBaseAddress+ "/PayrollProcess/View_CompPayrollProcesss?menuid="+_nMenuid;
            }
            clearInterval(intervalID);
            $("#progressbarParent").hide();
            $("#main-body").show();
        });

        //$.ajax({
        //    type: "POST",
        //    dataType: "json",
        //    url: _sBaseAddress + "/ProcessManagement/PayrollProcess_IUD",
        //    traditional: true,
        //    data: JSON.stringify(oPayrollProcessManagement),
        //    contentType: "application/json; charset=utf-8",

        //    success: function(data)
        //    {
        //        //debugger
        //        oPayrollProcessManagement = jQuery.parseJSON(data);
        //        if (oPayrollProcessManagement.ErrorMessage == "")
        //        {
        //            alert("Data Saved sucessfully");
        //            window.returnValue = oPayrollProcessManagement;
        //            window.close();
        //        }
        //        else
        //        {
        //            alert(oPayrollProcessManagement.ErrorMessage);
        //        }
        //    },

        //});
    });

    $("#cboLocation").change(function () {
        var nLocationID=$("#cboLocation").val();
        if(nLocationID>0)
        {
            var oDepartmentRequirementPolicy={LocationID:nLocationID};
            var obj = {
                BaseAddress: _sBaseAddress,
                Object: oDepartmentRequirementPolicy,
                ControllerName: "DepartmentRequirementPolicy",
                ActionName: "GetDRPByLocations",
                IsWinClose: false
            };
            $.icsDataGets(obj, function (response) {
                if (response.status && response.objs.length > 0 && response.objs[0].ErrorMessage=="") {
                    DynamicRefreshList(response.objs, "tblDepartments");
                }
                else { alert(response.objs[0].ErrorMessage);DynamicRefreshList([], "tblDepartments");}
            });
        }
        else{
            DynamicRefreshList([], "tblDepartments");
        }
    });

    function Close()
    {
        window.location.href = _sBaseAddress+ "/PayrollProcess/View_CompPayrollProcesss?menuid="+_nMenuid;
    }

    $('#cboBU').change(function(e)
    {
        var nBUID =$('#cboBU').val();
        var oList =[];
        for(var i = 0; i<_oLocations.length; i++)
        {
            if(_oLocations[i].BusinessUnitID == nBUID)
            {
                oList.push(_oLocations[i]);
            }
        }
        LoadLocation(oList);

        oList =[];
        for(var i = 0; i<_oBankAccounts.length; i++)
        {
            if(_oBankAccounts[i].BusinessUnitID == nBUID)
            {
                oList.push(_oBankAccounts[i]);
            }
        }
        LoadAccount(oList);
    });

    function LoadLocation(oLocations)
    {
        $("#cboLocation").icsLoadCombo({
            List:oLocations,
            OptionValue: "LocationID",
            DisplayText: "LocationName"
        });
    }

    function LoadAccount(oAccounts)
    {
        $("#cboAccount").icsLoadCombo({
            List:oAccounts,
            OptionValue: "BankAccountID",
            DisplayText: "AccountNo",
            InitialValue:"Default"
        });
        if(oAccounts.length>0)
            document.getElementById("cboAccount").selectedIndex=1;
    }

</script>
