@{
    ViewBag.Title = "Knit Dyeing Program List";
}
@model IEnumerable<ESimSol.BusinessObjects.KnitDyeingProgram>

    <div class="menuMainCollectionTable">
        <table id="tblKnitDyeingPrograms" title="Knit Dyeing Program List" class="easyui-datagrid" fit="true" fitcolumns="true" rownumbers="true" pagination="true" singleselect="true" autorowheight="false" toolbar="#toolbar">
            <thead>
                <tr>
                    <th field="RefNo" width="7%">Ref No</th>
                    <th field="IssueDateInString" width="10%"align="center">Issue Date</th>
                    <th field="BuyerName" width="10%">Buyer</th>
                    <th field="FabricName" width="15%">Fabric</th>
                    <th field="StyleNo" width="15%" >Style</th>
                    <th field="RecapOrPAMNos" width="15%">PO/Recap/PAM</th>                    
                    <th field="RefTypeSt" width="8%">Ref Type</th>
                    <th field="MerchandiserName" width="10%">Merchandiser</th>
                    <th field="KnitDyeingProgramStatusSt" width="7%" >Status</th>
                    <th field="ShipmentDateInString" width="10%" align="center">Shipment Date</th>
                    <th field="SrinkageTollarance" width="8%" >Tollarance</th>
                    <th field="ApprovedByName" width="10%">Approved By</th>
                    <th field="TotalReqFabricQty" width="12%" align="right" formatter="formatPrice">Total Req Qty</th>
                    <th field="NumberOfPackingPolicyCountInString" width="80" formatter="formatAttachment" align="center">Attachment</th>
                </tr>
            </thead>
        </table>
        <div id="toolbar">
            <input type="text" id="txtSearchByStyle" placeholder="Type Style/Program No" style="width:160px"/>
            <a id="btnAdvSearchPick" href="javascript:void(0)" class="easyui-linkbutton" iconcls="icon-search" plain="true">Adv. Search</a>
            <a id="btnAdd" href="javascript:void(0)" class="easyui-linkbutton" iconcls="icon-add" plain="true">Add</a>
            <a id="btnEdit" href="javascript:void(0)" class="easyui-linkbutton" iconcls="icon-edit" plain="true">Edit</a>
            <a id="btnCopy" href="javascript:void(0)" class="easyui-linkbutton" iconcls="icon-copy" plain="true">Copy</a>
            <a id="btnView" href="javascript:void(0)" class="easyui-linkbutton" iconcls="icon-details" plain="true">View</a>
            <a id="btnDelete" href="javascript:void(0)" class="easyui-linkbutton" iconcls="icon-remove" plain="true">Delete</a>
            <a id="btnApprove" href="javascript:void(0)" class="easyui-linkbutton" iconcls="icon-approved" plain="true">Approve</a>
            <a id="btnSendToProduction" href="javascript:void(0)" class="easyui-linkbutton" iconcls="icon-forword" plain="true">Send To Factory</a>
            <a id="btnProductionStart" href="javascript:void(0)" class="easyui-linkbutton" iconcls="icon-ok" plain="true">Production Start</a>
            <a id="btnAcceptRevise" href="javascript:void(0)" class="easyui-linkbutton" iconcls="icon-edit" onclick="AcceptRevise()" plain="true">Revise</a>
            <a id="btnRevise" href="javascript:void(0)" class="easyui-linkbutton" iconcls="icon-details" onclick="ReviseHistory()" plain="true"> Amendment History</a>
            <a id="btnPreview" href="javascript:void(0)" class="easyui-linkbutton" iconcls="icon-print" plain="true">Preview</a>   
            <a id="btnPreviewGrace" href="javascript:void(0)" class="easyui-linkbutton" iconcls="icon-print" plain="true">Preview(Grace)</a>   
            <a id="btnPrintList" href="javascript:void(0)" class="easyui-linkbutton" iconcls="icon-print" plain="true">Print List</a>
            <a id="btnXLPreview" href="javascript:void(0)" class="easyui-linkbutton" iconcls="icon-excel" plain="true">XL Preview</a>   
            <a id="btnAddGrace" href="javascript:void(0)" class="easyui-linkbutton" iconcls="icon-add" plain="true">Add Grace</a>
            <a id="btnYarnRequsition" href="javascript:void(0)" class="easyui-linkbutton" iconcls="icon-excel" plain="true">Yarn Requsition</a>
            <a id="btnPackingPolicy" href="javascript:void(0)" class="easyui-linkbutton" iconcls="icon-attachment" plain="true" onclick="PackingPolicy(false,0,'')">Care Instruction</a>
            <a id="btnReset" href="javascript:void(0)" class="easyui-linkbutton" iconcls="icon-reload" plain="true">Reset</a>            
        </div>
    </div>

    <div id="winAddGrace" class="easyui-window winClass" title="Add Grace" data-options="modal:true,closed:true,collapsible:false,minimizable:false,maximizable:false,closable:false">
        <div style="width:1100px;">
            <table style="height:350px; width:100%" id="tblKnitDyeingProgramDetail" title="" class="easyui-datagrid" singleselect="true" showfooter="true" data-options="onClickRow:onClickRow, onEndEdit: onEndEdit" showfooter="true">
                <thead>
                    <tr>
                        <th field="JOBPAMPONo" width="10%" align="left">JOB/PAM/PO</th>
                        <th field="ColorName" width="10%" align="left">Color</th>
                        <th field="GarmentsQty" width="10%" align="right" formatter="formatPrice">Garments Qty</th>
                        <th field="FabricTypeName" width="10%" align="left">Fabric Type</th>
                        <th field="GSMName" width="5%" align="left">GSM No</th>
                        <th field="CompositionName" width="15%" align="left">Composition</th>
                        <th field="ConsumptionPerDzn" width="10%" align="right" formatter="formatPrice">Consumption/Dz</th>
                        <th field="FinishDiaName" width="7%" align="left">Finish Dia</th>
                        <th field="ReqFinishFabricQty" width="8%" align="right" formatter="formatPrice">Req Qty</th>
                        <th data-options="field:'GracePercent',align:'right',editor:{type:'numberbox',options:{precision:2}}" width="8%">Grace(%)</th>
                        <th field="ReqFabricQty" width="8%" align="right" formatter="formatPrice">Req Gray Qty</th>
                    </tr>
                </thead>
            </table>
            <fieldset class="actionfieldsetstyle">
                <legend>Actions : </legend>                
                <a id="btnCommitGrace" href="javascript:void(0)" class="easyui-linkbutton" iconcls="icon-save" plain="true">Commmit</a>
                <a id="btnCloseGrace" href="javascript:void(0)" class="easyui-linkbutton" iconcls="icon-cancel" plain="true">Close</a>
            </fieldset>
        </div>
    </div>

    <div id="winAdvSearch" class="easyui-window winClass" title="Advance Search" data-options="modal:true,closed:true,collapsible:false,minimizable:false,maximizable:false,closable:false">
        <div style="width:560px; float: left;">
            <fieldset>
                <legend>Searching Citeria</legend>
                <table border="0" cellpadding="2" cellspacing="2" style="font-size: 12px;width:100%">
                    <tr>
                        <td style="width:30%; text-align:right"><label>Ref. No :</label></td>
                        <td style="width:70%">
                            <input type="text" id="txtAdvRefNo" style="width:100%" placeholder="Enter Ref. No" />
                        </td>
                    </tr>
                    <tr>
                        <td style="width:30%; text-align:right"><label>Style :</label></td>
                        <td style="width:70%">
                            <input type="text" id="txtAdvStyle" style="width:75%" placeholder="Enter Style No" />
                            <input type="button" id="btnAdvStylePick" style="width:11%" value="P"/>
                            <input type="button" id="btnAdvStyleCancel" style="width:11%" value="C" />
                        </td>
                    </tr>
                    <tr>
                        <td style="width:30%; text-align:right"><label>Po/ Order Recap/Ps Qty :</label></td>
                        <td style="width:70%">
                            <input type="text" id="txtAdvPO" style="width:75%" placeholder="Enter Po/ Order Recap/ Ps Qty" />
                            <input type="button" id="btnAdvPOPick" style="width:11%" value="P" />
                            <input type="button" id="btnAdvPOCancel" style="width:11%" value="C" />
                        </td>
                    </tr>
                    <tr>
                        <td style="width:30%; text-align:right"><label>Dyed Type :</label></td>
                        <td style="width:70%">
                            <select id="cboAdvDyedType" style="width:100%"></select>
                        </td>
                    </tr>
                    <tr>
                        <td style="width:30%; text-align:right"><label>Issue Date :</label></td>
                        <td style="width:70%">
                            <select id="cboAdvIssueDate" style="width:120px"></select>
                            <input type="text" style="width:110px;" id="txtAdvIssueDateStart" class="easyui-datebox" data-options="formatter:icsdateformat,parser:icsdateparser" />
                            to
                            <input type="text" style="width:110px;" id="txtAdvIssueDateEnd" class="easyui-datebox" data-options="formatter:icsdateformat,parser:icsdateparser" />
                        </td>
                    </tr>
                    <tr>
                        <td style="width:30%; text-align:right"><label>Shipment Date :</label></td>
                        <td style="width:70%">
                            <select id="cboAdvShipmentDate" style="width:120px"></select>
                            <input type="text" style="width:110px;" id="txtAdvShipmentDateStart" class="easyui-datebox" data-options="formatter:icsdateformat,parser:icsdateparser" />
                            to
                            <input type="text" style="width:110px;" id="txtAdvShipmentDateEnd" class="easyui-datebox" data-options="formatter:icsdateformat,parser:icsdateparser" />
                        </td>
                    </tr>
                    <tr>
                        <td style="width:30%; text-align:right"><label>Status :</label></td>
                        <td style="width:70%">
                            <select id="cboAdvStatus" style="width:100%"></select>
                        </td>
                    </tr>
                </table>
            </fieldset>
            <fieldset class="actionfieldsetstyle">
                <legend>Actions : </legend>
                <a id="btnAdvReset" href="javascript:void(0)" class="easyui-linkbutton" iconcls="icon-reload" plain="true">Reset</a>
                <a id="btnAdvSearch" href="javascript:void(0)" class="easyui-linkbutton" iconcls="icon-search" plain="true">Search</a>
                <a id="btnAdvClose" href="javascript:void(0)" class="easyui-linkbutton" iconcls="icon-cancel" plain="true">Close</a>
            </fieldset>
        </div>
    </div>

    <style>
        .blackText{
            color:black;
        }
        .blueText{
            color:blue;
        }
    </style>
    <script type="text/javascript">
    $(document).ready(function () {
        var oTempKnitDyeingPrograms = @Html.Raw( new System.Web.Script.Serialization.JavaScriptSerializer().Serialize(Model));
        var oAuthorizationRolesMapping = @Html.Raw(new System.Web.Script.Serialization.JavaScriptSerializer().Serialize(HttpContext.Current.Session[SessionInfo.AuthorizationRolesMapping]));
        var nBUID = @Html.Raw( new System.Web.Script.Serialization.JavaScriptSerializer().Serialize(ViewBag.BUID));
        var nProgramType =  @Html.Raw(new System.Web.Script.Serialization.JavaScriptSerializer().Serialize(ViewBag.ProgramType));
        var oCompareOperators = @Html.Raw(new System.Web.Script.Serialization.JavaScriptSerializer().Serialize(ViewBag.CompareOperators));
        var oDyedTypes = @Html.Raw(new System.Web.Script.Serialization.JavaScriptSerializer().Serialize(ViewBag.DyedTypes));
        var oKnitDyeingProgramStatus = @Html.Raw(new System.Web.Script.Serialization.JavaScriptSerializer().Serialize(ViewBag.KnitDyeingProgramStatus));

        $('#winAdvSearch').data('CompareOperators', oCompareOperators);
        $('#winAdvSearch').data('DyedTypes', oDyedTypes);
        $('#winAdvSearch').data('KnitDyeingProgramStatus', oKnitDyeingProgramStatus);
        sessionStorage.setItem("BUID", nBUID);
        sessionStorage.setItem("ProgramType", nProgramType);
        var oKnitDyeingPrograms =sessionStorage.getItem("KnitDyeingPrograms");
        if(oKnitDyeingPrograms!=null)
        {
            oKnitDyeingPrograms = jQuery.parseJSON(oKnitDyeingPrograms);
        }
        else
        {
            oKnitDyeingPrograms = oTempKnitDyeingPrograms;
        }
        RefreshList(oKnitDyeingPrograms);
        RefreshControlLayout(oAuthorizationRolesMapping);
    });

    $('#btnAddGrace').click(function(){        
        var oKnitDyeingProgram= $('#tblKnitDyeingPrograms').datagrid('getSelected');
        if(oKnitDyeingProgram==null || parseInt(oKnitDyeingProgram.KnitDyeingProgramID)<=0)
        {
            alert("Please select a item from list!");
            return;
        }
        if(parseInt(oKnitDyeingProgram.ApprovedBy)==0)
        {
            alert("Please Select an Approved Program!");
            return;
        }

        $.ajax({
            type: "POST",
            dataType: "json",
            url: sessionStorage.getItem("BaseAddress") + "/KnitDyeingProgram/GetsKnitDyeingProgramDetails",
            traditional: true,
            data:  JSON.stringify(oKnitDyeingProgram),
            contentType: "application/json; charset=utf-8",
            success: function (data) {                
                oKnitDyeingProgramDetails = jQuery.parseJSON(data);
                if (oKnitDyeingProgramDetails.length > 0)
                {  
                    if(oKnitDyeingProgramDetails[0].ErrorMessage == "")
                    {           
                        $('#winAddGrace').data('KnitDyeingProgramID', parseInt(oKnitDyeingProgram.KnitDyeingProgramID))
                        $("#winAddGrace").icsWindow('open', "Program No :"+ oKnitDyeingProgram.RefNo+ ", Style No : "+ oKnitDyeingProgram.StyleNo + ", Buyer Name : "+ oKnitDyeingProgram.BuyerName +", Pcs Qty : "+ formatPrice(oKnitDyeingProgram.OrderQty, 2)+ ", Total Fabric Qty :"+ formatPrice(oKnitDyeingProgram.TotalReqFabricQty, 2));
                        DynamicRefreshList(oKnitDyeingProgramDetails, "tblKnitDyeingProgramDetail"); 
                        $.icsMakeFooterColumn('tblKnitDyeingProgramDetail',['ColorName','GarmentsQty','ConsumptionPerDzn','ReqFinishFabricQty','ReqFabricQty']);
                    }
                    else
                    {
                        alert(oKnitDyeingProgramDetails[0].ErrorMessage);
                    }
                }
                else
                {
                    alert("Data Not Found!");
                   
                }
            },
            error: function (xhr, status, error) {
                alert(error);
            }
        });
    });

    //Attachment Count start
    function formatAttachment(value)
    {
        debugger
        var values;
        var nKnitDyeingProgramID=0;
        var nAttachmentCount=0;
        var sRefNo = '';
        if(value!=undefined)
        {
            values=value.split("~");
            nKnitDyeingProgramID=values[0];
            nAttachmentCount=values[1];
            sRefNo = values[2];
        }
        nAttachmentCount=nAttachmentCount+" File";
        var s = '<a  href="javascript:void(0)"  onclick = "PackingPolicy(true,'+nKnitDyeingProgramID+','+sRefNo+')"">'+nAttachmentCount+'</a>';
        return s;
    }
    //Attachmet count End

    $("#btnCloseGrace").click(function(){        
        $("#winAddGrace").icsWindow('close');
    });

    $('#btnCommitGrace').click(function(){        
        endEditing();
        if(parseInt($('#winAddGrace').data('KnitDyeingProgramID')) <=0)
        {
            alert("Invalid Program!")
            return;
        }
        var oKnitDyeingProgramDetails = $('#tblKnitDyeingProgramDetail').datagrid('getRows');       
        if (oKnitDyeingProgramDetails == null || oKnitDyeingProgramDetails.length<= 0)
        {
            alert("Please enter at least one Program Details(s)!");
            return;
        }

        for(var i=0; i<oKnitDyeingProgramDetails.length; i++)
        {
            if(oKnitDyeingProgramDetails[i].ReqFabricQty <= 0)
            {
                alert("Invalid Fabric Qty! For Fabric Type :"+ oKnitDyeingProgramDetails[i].FabricTypeName+ " & Color :"+ oKnitDyeingProgramDetails[i].ColorName);
                return;
            }
        }
        if (!confirm("Confirm to Grace Commit?")) return ;

        var oKnitDyeingProgram = {
            KnitDyeingProgramID : parseInt($('#winAddGrace').data('KnitDyeingProgramID')),
            KnitDyeingProgramDetails : oKnitDyeingProgramDetails
        };

        $.ajax({
            type: "POST",
            dataType: "json",
            url : sessionStorage.getItem('BaseAddress') +  "/KnitDyeingProgram/CommitGrace",
            traditional: true,
            data:  JSON.stringify(oKnitDyeingProgram),
            contentType: "application/json; charset=utf-8",
            success: function (data)
            {
                var sFeedBackMessage = jQuery.parseJSON(data);
                if (sFeedBackMessage == "Success")
                {
                    alert("Commit sucessfully");
                    $("#winAddGrace").icsWindow('close');
                }
                else
                {
                    alert(sFeedBackMessage);
                }
            },
            error: function (xhr, status, error) {
                alert(error);
            }

        });
    });

    $('#btnAdd').click(function(){
        var oKnitDyeingPrograms= $('#tblKnitDyeingPrograms').datagrid('getRows');
        sessionStorage.setItem("KnitDyeingPrograms", JSON.stringify(oKnitDyeingPrograms));
        sessionStorage.setItem("SelectedRowIndex", -1);
        sessionStorage.setItem("KnitDyeingProgramHeader", "Add KnitDyeingProgram");
        sessionStorage.setItem("BackLink", window.location.href);
        window.location.href = sessionStorage.getItem('BaseAddress')+ "/KnitDyeingProgram/ViewKnitDyeingProgram?id=0&buid="+parseInt(sessionStorage.getItem("BUID"))+"&bIsCopy=false";
    });

    $('#btnEdit').click(function(){
        var oKnitDyeingProgram= $('#tblKnitDyeingPrograms').datagrid('getSelected');
        if(oKnitDyeingProgram==null || oKnitDyeingProgram.KnitDyeingProgramID<=0)
        {
            alert("Please select a item from list!");
            return;
        }
        if(parseInt(oKnitDyeingProgram.KnitDyeingProgramStatusInt)>1)
        {
            alert("Already Approved.");
            return;
        }
        var SelectedRowIndex=$('#tblKnitDyeingPrograms').datagrid('getRowIndex',oKnitDyeingProgram);
        var oKnitDyeingPrograms= $('#tblKnitDyeingPrograms').datagrid('getRows');
        sessionStorage.setItem("KnitDyeingPrograms", JSON.stringify(oKnitDyeingPrograms));
        sessionStorage.setItem("SelectedRowIndex", SelectedRowIndex);
        sessionStorage.setItem("KnitDyeingProgramHeader", "Edit KnitDyeingProgram");
        sessionStorage.setItem("BackLink", window.location.href);
        window.location.href = sessionStorage.getItem('BaseAddress')+  "/KnitDyeingProgram/ViewKnitDyeingProgram?id="+oKnitDyeingProgram.KnitDyeingProgramID+"&buid="+parseInt(sessionStorage.getItem("BUID"))+"&bIsCopy=false";
    });

    $('#btnCopy').click(function(){
        var oKnitDyeingProgram= $('#tblKnitDyeingPrograms').datagrid('getSelected');
        if(oKnitDyeingProgram==null || oKnitDyeingProgram.KnitDyeingProgramID<=0)
        {
            alert("Please select a item from list!");
            return;
        }
                
        var oKnitDyeingPrograms= $('#tblKnitDyeingPrograms').datagrid('getRows');
        sessionStorage.setItem("KnitDyeingPrograms", JSON.stringify(oKnitDyeingPrograms));
        sessionStorage.setItem("SelectedRowIndex", -1);
        sessionStorage.setItem("KnitDyeingProgramHeader", "Add KnitDyeingProgram");
        sessionStorage.setItem("BackLink", window.location.href);
        window.location.href = sessionStorage.getItem('BaseAddress')+  "/KnitDyeingProgram/ViewKnitDyeingProgram?id="+oKnitDyeingProgram.KnitDyeingProgramID+"&buid="+parseInt(sessionStorage.getItem("BUID"))+"&bIsCopy=true";
    });

    
    $('#btnView').click(function(){
        var oKnitDyeingProgram= $('#tblKnitDyeingPrograms').datagrid('getSelected');
        if(oKnitDyeingProgram==null || oKnitDyeingProgram.KnitDyeingProgramID<=0)
        {
            alert("Please select a item from list!");
            return;
        }
        var SelectedRowIndex=$('#tblKnitDyeingPrograms').datagrid('getRowIndex',oKnitDyeingProgram);
        var oKnitDyeingPrograms= $('#tblKnitDyeingPrograms').datagrid('getRows');
        sessionStorage.setItem("KnitDyeingPrograms", JSON.stringify(oKnitDyeingPrograms));
        sessionStorage.setItem("SelectedRowIndex", SelectedRowIndex);
        sessionStorage.setItem("KnitDyeingProgramHeader", "View KnitDyeingProgram");
        sessionStorage.setItem("BackLink", window.location.href);
        window.location.href = sessionStorage.getItem('BaseAddress')+  "/KnitDyeingProgram/ViewKnitDyeingProgram?id="+oKnitDyeingProgram.KnitDyeingProgramID+"&buid="+parseInt(sessionStorage.getItem("BUID"))+"&bIsCopy=false";
    });

    $('#btnAcceptRevise').click(function(){
        var oKnitDyeingProgram= $('#tblKnitDyeingPrograms').datagrid('getSelected');
        if(oKnitDyeingProgram==null || oKnitDyeingProgram.KnitDyeingProgramID<=0)
        {
            alert("Please select a item from list!");
            return;
        }
        if(parseInt(oKnitDyeingProgram.KnitDyeingProgramStatusInt)<2)
        {
            alert("Initialized Item can't  Revise.");
            return;
        }
        var SelectedRowIndex=$('#tblKnitDyeingPrograms').datagrid('getRowIndex',oKnitDyeingProgram);
        var oKnitDyeingPrograms= $('#tblKnitDyeingPrograms').datagrid('getRows');
        sessionStorage.setItem("KnitDyeingPrograms", JSON.stringify(oKnitDyeingPrograms));
        sessionStorage.setItem("SelectedRowIndex", SelectedRowIndex);
        sessionStorage.setItem("KnitDyeingProgramHeader", "Revise KnitDyeingProgram");
        sessionStorage.setItem("BackLink", window.location.href);
        window.location.href = sessionStorage.getItem('BaseAddress')+  "/KnitDyeingProgram/ViewKnitDyeingProgram?id="+oKnitDyeingProgram.KnitDyeingProgramID+"&buid="+parseInt(sessionStorage.getItem("BUID"))+"&bIsCopy=false";
    });

    $('#btnDelete').click(function(){
        var oKnitDyeingProgram= $('#tblKnitDyeingPrograms').datagrid('getSelected');
        if(oKnitDyeingProgram==null || oKnitDyeingProgram.KnitDyeingProgramID<=0)
        {
            alert("Invalid Field!!! please select a valid Field!");
            return false;
        }
        if(parseInt(oKnitDyeingProgram.KnitDyeingProgramStatusInt)>1)
        {
            alert("Already Approved.");
            return;
        }
        if (!confirm("Confirm to Delete?")) return ;
        var SelectedRowIndex=$('#tblKnitDyeingPrograms').datagrid('getRowIndex',oKnitDyeingProgram);
        if (oKnitDyeingProgram.KnitDyeingProgramID > 0)
        {
            $.ajax
            ({
                type: "GET",
                dataType: "json",
                url : sessionStorage.getItem('BaseAddress')+  "/KnitDyeingProgram/Delete",
                data: { id: oKnitDyeingProgram.KnitDyeingProgramID},
                contentType: "application/json; charset=utf-8",
                success: function (data) {
                    //debugger;
                    feedbackmessage = jQuery.parseJSON(data);
                    if (feedbackmessage == "Data delete successfully")
                    {
                        alert("Delete sucessfully");
                        $('#tblKnitDyeingPrograms').datagrid('deleteRow',SelectedRowIndex);
                    }
                    else
                    {
                        alert(feedbackmessage);
                    }
                },
                error: function (xhr, status, error)
                {
                    alert(error);
                }
            });
        }
    });

    $('#btnApprove').click(function(){
        var oKnitDyeingProgram= $('#tblKnitDyeingPrograms').datagrid('getSelected');
        if(oKnitDyeingProgram==null || oKnitDyeingProgram.KnitDyeingProgramID<=0)
        {
            alert("Please select a item from list!");
            return;
        }
        if(parseInt(oKnitDyeingProgram.KnitDyeingProgramStatusInt)>1)
        {
            alert("Already Approved.");
            return;
        }
        var SelectedRowIndex=$('#tblKnitDyeingPrograms').datagrid('getRowIndex',oKnitDyeingProgram);
        var oKnitDyeingPrograms= $('#tblKnitDyeingPrograms').datagrid('getRows');
        sessionStorage.setItem("KnitDyeingPrograms", JSON.stringify(oKnitDyeingPrograms));
        sessionStorage.setItem("SelectedRowIndex", SelectedRowIndex);
        sessionStorage.setItem("KnitDyeingProgramHeader", "Approved KnitDyeingProgram");
        sessionStorage.setItem("BackLink", window.location.href);
        window.location.href = sessionStorage.getItem('BaseAddress')+  "/KnitDyeingProgram/ViewKnitDyeingProgram?id="+oKnitDyeingProgram.KnitDyeingProgramID+"&buid="+parseInt(sessionStorage.getItem("BUID"))+"&bIsCopy=false";
    });

    $('#btnSendToProduction').click(function(){
        var oKnitDyeingProgram= $('#tblKnitDyeingPrograms').datagrid('getSelected');
        if(oKnitDyeingProgram==null || oKnitDyeingProgram.KnitDyeingProgramID<=0)
        {
            alert("Please select a item from list!");
            return;
        }
        if(parseInt(oKnitDyeingProgram.KnitDyeingProgramStatusInt)!=2)
        {
            alert("Please  Select Only Approved Item From List.");
            return;
        }
        if (!confirm("Confirm Send to Factory?")) return ;
        var SelectedRowIndex=$('#tblKnitDyeingPrograms').datagrid('getRowIndex',oKnitDyeingProgram);

        $.ajax({
            type: "POST",
            dataType: "json",
            url :sessionStorage.getItem('BaseAddress')+"/KnitDyeingProgram/SendToFactory",
            traditional: true,
            data:  JSON.stringify(oKnitDyeingProgram),
            contentType: "application/json; charset=utf-8",
            success: function (data)
            {
                debugger;
                oKnitDyeingProgram = jQuery.parseJSON(data);
                if (parseInt(oKnitDyeingProgram.KnitDyeingProgramID)>0 &&( oKnitDyeingProgram.ErrorMessage=="" || oKnitDyeingProgram.ErrorMessage==null))
                {
                    alert("Sucessfully Send To Factory");
                    $('#tblKnitDyeingPrograms').datagrid('updateRow',{index: SelectedRowIndex,row:oKnitDyeingProgram});
                }
                else
                {
                    alert(oKnitDyeingProgram.ErrorMessage);
                }
            },
            error: function (xhr, status, error) {
                alert(error);
            }

        });
    });

    $('#btnProductionStart').click(function(){
        var oKnitDyeingProgram= $('#tblKnitDyeingPrograms').datagrid('getSelected');
        if(oKnitDyeingProgram==null || oKnitDyeingProgram.KnitDyeingProgramID<=0)
        {
            alert("Please select a item from list!");
            return;
        }
        if(parseInt(oKnitDyeingProgram.KnitDyeingProgramStatusInt)!=3)
        {
            alert("Please  Select Only Send To Factory Item From List.");
            return;
        }
        if (!confirm("Confirm to Production Start?")) return ;
        var SelectedRowIndex=$('#tblKnitDyeingPrograms').datagrid('getRowIndex',oKnitDyeingProgram);

        $.ajax({
            type: "POST",
            dataType: "json",
            url :sessionStorage.getItem('BaseAddress')+  "/KnitDyeingProgram/ProductionStart",
            traditional: true,
            data:  JSON.stringify(oKnitDyeingProgram),
            contentType: "application/json; charset=utf-8",
            success: function (data)
            {
                debugger;
                oKnitDyeingProgram = jQuery.parseJSON(data);
                if (parseInt(oKnitDyeingProgram.KnitDyeingProgramID)>0 &&( oKnitDyeingProgram.ErrorMessage=="" || oKnitDyeingProgram.ErrorMessage==null))
                {
                    alert("Production Start Sucessfully!!");
                    $('#tblKnitDyeingPrograms').datagrid('updateRow',{index: SelectedRowIndex,row:oKnitDyeingProgram});
                }
                else
                {
                    alert(oKnitDyeingProgram.ErrorMessage);
                }
            },
            error: function (xhr, status, error) {
                alert(error);
            }
        });
    });

    function RefreshList(oKnitDyeingPrograms)
    {
        data=oKnitDyeingPrograms;
        data={"total":""+data.length+"","rows":data};
        $('#tblKnitDyeingPrograms').datagrid('loadData',data);
        var nID =parseInt(sessionStorage.getItem("SelectedRowIndex"));
        if(nID!=-1)
        {
            $('#tblKnitDyeingPrograms').datagrid('selectRow', nID);
        }
    }

    $('#btnPreview').click(function(){
        var oKnitDyeingProgram=$('#tblKnitDyeingPrograms').datagrid('getSelected');
        if(oKnitDyeingProgram==null || parseInt(oKnitDyeingProgram.KnitDyeingProgramID)<=0)
        {
            alert("Please select an Item from the list");
            return;
        }
        window.open(sessionStorage.getItem('BaseAddress')+ "/KnitDyeingProgram/PrintPreview?id="+oKnitDyeingProgram.KnitDyeingProgramID+'&bIsWithGrace=false');
    });

    $('#btnPreviewGrace').click(function(){
        var oKnitDyeingProgram=$('#tblKnitDyeingPrograms').datagrid('getSelected');
        if(oKnitDyeingProgram==null || parseInt(oKnitDyeingProgram.KnitDyeingProgramID)<=0)
        {
            alert("Please select an Item from the list");
            return;
        }
        window.open(sessionStorage.getItem('BaseAddress')+ "/KnitDyeingProgram/PrintPreview?id="+oKnitDyeingProgram.KnitDyeingProgramID+'&bIsWithGrace=true');
    });

    $('#btnXLPreview').click(function(){
        var oKnitDyeingProgram=$('#tblKnitDyeingPrograms').datagrid('getSelected');
        if(oKnitDyeingProgram==null || parseInt(oKnitDyeingProgram.KnitDyeingProgramID)<=0)
        {
            alert("Please select an Item from the list");
            return;
        }
        window.open(sessionStorage.getItem('BaseAddress')+ "/KnitDyeingProgram/XLPreview?id="+oKnitDyeingProgram.KnitDyeingProgramID);
    });

    $('#btnPrintList').click(function(){
        var oList = $('#tblKnitDyeingPrograms').datagrid('getRows');
        if(oList.length==0)
        {
            alert("Nothing To Print");
            return
        }        
        window.open(sessionStorage.getItem('BaseAddress')+ "/KnitDyeingProgram/PrintList?tvs=" + Date.now() + "&buid="+parseInt(sessionStorage.getItem('BUID'))+'&ids='+ICS_PropertyConcatation(oList, 'KnitDyeingProgramID'));
    });

    $('#btnYarnRequsition').click(function(){
        var oList = $('#tblKnitDyeingPrograms').datagrid('getRows');
        if(oList.length==0)
        {
            alert("Nothing To Print");
            return
        }
        window.open(sessionStorage.getItem('BaseAddress')+ "/KnitDyeingProgram/ExportToExcelYarnRequisition?sKnitDyeingProgramIDs="+ICS_PropertyConcatation(oList, 'KnitDyeingProgramID'));        
    });

    

    $('#btnReset').click(function(){
        DynamicRefreshList([], "tblKnitDyeingPrograms");
    });

    $('#txtSearchByStyle').keyup(function (e) {
        if (e.keyCode == 13) {
            if($.trim($('#txtSearchByStyle').val())===null || $.trim($('#txtSearchByStyle').val())==="")
            {
                alert("Press enter with Production Order No!");
                return;
            }
            
            var oKnitDyeingProgram = {
                StyleNo : $("#txtSearchByStyle").val()
            };

            $.ajax({
                type: "POST",
                dataType: "json",
                url: sessionStorage.getItem('BaseAddress') + "/KnitDyeingProgram/GetsByStyleNo",
                traditional: true,
                data: JSON.stringify(oKnitDyeingProgram),
                contentType: "application/json; charset=utf-8",
                success: function (data) {
                    var oKnitDyeingPrograms = jQuery.parseJSON(data);
                    if (oKnitDyeingPrograms != null) {
                        if (oKnitDyeingPrograms.length > 0) {
                            for(var i=0; i<oKnitDyeingPrograms.length; i++)
                            {
                                $('#tblKnitDyeingPrograms').datagrid('appendRow', oKnitDyeingPrograms[i]);
                            }
                        }
                        else
                        {
                            alert("Data Not Found!");
                        }
                    }
                    else
                    {
                        alert("Data Not Found!");
                    }
                },
                error: function (xhr, status, error) {
                    alert(error);
                }
            });
        }
    });
    function ReviseHistory ()
    {
        //debugger;
        var oKnitDyeingProgram= $('#tblKnitDyeingPrograms').datagrid('getSelected');
        if(oKnitDyeingProgram==null || parseInt(oKnitDyeingProgram.KnitDyeingProgramID)<=0)
        {
            alert("Please select a item from list!");
            return;
        }
        if(parseInt(oKnitDyeingProgram.KnitDyeingProgramStatusInt)<1)
        {
            alert("Sorry, This Item Yet Not Approved.");
            return;
        }
        var obj = {
            BaseAddress: _sBaseAddress,
            Object: oKnitDyeingProgram,
            ControllerName: "KnitDyeingProgram",
            ActionName: "GetKDPReviseHistory",
            IsWinClose: false
        };

        $.icsDataGets(obj, function (response) {
            debugger;
            if (response.status && response.objs.length > 0) {
                if (response.objs[0].KnitDyeingProgramID > 0) {
                    debugger;
                    var tblColums = []; var oColumn = { field: "RefNo", title: "Ref No", width: 100, align: "left" }; tblColums.push(oColumn);
                    oColumn = { field: "IssueDateInString", title: "Issue Date", width: 100, align: "left" }; tblColums.push(oColumn);
                    oColumn = { field: "BuyerName", title: "Buyer Name", width: 90, align: "left" }; tblColums.push(oColumn);
                    oColumn = { field: "FabricName", title: "Fabric Name", width: 120, align: "left" }; tblColums.push(oColumn);
                    oColumn = { field: "StyleNo", title: "Style No", width: 120, align: "left" }; tblColums.push(oColumn);
                    oColumn = { field: 'MerchandiserName', title: 'Merchandser', width: 90, align: "left"};tblColums.push(oColumn);
                    oColumn = { field: "ShipmentDateInString", title: "Shipment Date", width: 90, align: "left" }; tblColums.push(oColumn);
                    oColumn = { field: 'TotalReqFabricQty', title: 'Total Req. Qty', width: 60, align: "right"};tblColums.push(oColumn);

                    var oPickerParam = {
                        winid: 'winKnitDyeingPrograms',
                        winclass: 'clsKnitDyeingProgram',
                        winwidth: 850,
                        winheight: 460,
                        tableid: 'tblTemKnitDyeingPrograms',
                        tablecolumns: tblColums,
                        datalist: response.objs,
                        multiplereturn: false,
                        btnOkText : "Print",
                        searchingbyfieldName: 'RefNo',
                        windowTittle: 'Knit Dyeing Program List'
                    };
                    $.icsPicker(oPickerParam);
                    IntializePickerbutton(oPickerParam);
                }
                else { alert(response.objs[0].ErrorMessage); }
            }else{
                alert("Data Not Found.");
            }
        });

    }

    function RefreshControlLayout(oAURolesMapping)
    {
        $("#btnAdd,#btnEdit,#btnCopy,#btnView,#btnDelete,#btnAcceptRevise,#btnRevise,#btnAddGrace,#btnApprove,#btnSendToProduction,#btnProductionStart").hide();
        
        if(PermissionChecker('Add','KnitDyeingProgram',oAURolesMapping)){$("#btnAdd,#btnCopy").show();}
        if(PermissionChecker('Edit','KnitDyeingProgram',oAURolesMapping)){$("#btnEdit").show();}
        if(PermissionChecker('View','KnitDyeingProgram',oAURolesMapping)){$("#btnView").show();}
        if(PermissionChecker('Delete','KnitDyeingProgram', oAURolesMapping)){$("#btnDelete").show();}
        if(PermissionChecker('Amendment','KnitDyeingProgram', oAURolesMapping)){$("#btnAcceptRevise,#btnRevise").show();}
        if(PermissionChecker('Grace','KnitDyeingProgram', oAURolesMapping)){$("#btnAddGrace").show();}
        if(PermissionChecker('Approved','KnitDyeingProgram', oAURolesMapping)){$("#btnApprove").show();}
        if(PermissionChecker('SentToProduction','KnitDyeingProgram', oAURolesMapping)){$("#btnSendToProduction").show();}
        if(PermissionChecker('ProductionExecution','KnitDyeingProgram', oAURolesMapping)){$("#btnProductionStart").show();}
    }
    //************************************************ADV SEARCH (START)*********************************************//
    $('#btnAdvSearchPick').click(function(e){
        $("#winAdvSearch").icsWindow('open', "Advance Search");
        $('#btnAdvReset').click();
    });
    $('#btnAdvClose').click(function(e){
        $('#btnAdvReset').click();
        $("#winAdvSearch").icsWindow('close');
    });
    $('#btnAdvReset').click(function(e){
        $('#txtAdvIssueDateStart,#txtAdvIssueDateEnd,#txtAdvShipmentDateStart,#txtAdvShipmentDateEnd').datebox('setValue', icsdateformat(new Date()));
        $("#cboAdvIssueDate,#cboAdvShipmentDate").icsLoadCombo({List: $('#winAdvSearch').data('CompareOperators'), OptionValue: "id",DisplayText: "Value"});
        $("#cboAdvDyedType").icsLoadCombo({List: $('#winAdvSearch').data('DyedTypes'), OptionValue: "id",DisplayText: "Value"});
        $("#cboAdvStatus").icsLoadCombo({List: $('#winAdvSearch').data('KnitDyeingProgramStatus'), OptionValue: "id",DisplayText: "Value"});
        $('#txtAdvRefNo').val('');
        $('#btnAdvStyleCancel').click();
        $('#btnAdvPOCancel').click();
        $('#winAdvSearch').data('OrderRecapIDs','');
    });
    $('#btnAdvSearch').click(function(e){
        var oKnitDyeingProgram =   {
            RefNo:$('#txtAdvRefNo').val(),
            StyleNo:$('#winAdvSearch').data('StyleIDs'),
            DyedType:$('#cboAdvDyedType').val(),
            KnitDyeingProgramStatus:$('#cboAdvStatus').val(),
            ErrorMessage: $('#winAdvSearch').data('OrderRecapIDs') + '~' + $('#cboAdvIssueDate').val() + '~' + $('#txtAdvIssueDateStart').datebox('getValue') + '~' + $('#txtAdvIssueDateEnd').datebox('getValue') + '~' + $('#cboAdvShipmentDate').val() + '~' + $('#txtAdvShipmentDateStart').datebox('getValue') + '~' + $('#txtAdvShipmentDateEnd').datebox('getValue')
        };
        var obj = {
            BaseAddress: sessionStorage.getItem('BaseAddress'),
            Object: oKnitDyeingProgram,
            ControllerName: "KnitDyeingProgram",
            ActionName: "AdvanceSearch",
            IsWinClose: false
        };
        $.icsProgressBar(true);
        $.icsDataGets(obj, function (response) {
            $.icsProgressBar(false);
            if (response.status && response.objs.length > 0) {
                if (response.objs[0].TechnicalSheetID > 0) {
                    $('#tblKnitDyeingPrograms').datagrid('loadData',response.objs);
                    $('#btnAdvClose').click();
                }
            } else{
                alert("Data Not Found.");
                return;
            }
        });
    });
    //************************************************ADV SEARCH (END)*********************************************//
    function IntializePickerbutton(oPickerobj) {

        $("#" + oPickerobj.winid).find("#btnOk").click(function () {

            //for Single Select
            SetPickerValueAssign(oPickerobj);
        });
        $(document).find('.' + oPickerobj.winclass).keydown(function (e) {
            if (e.which == 13)//enter=13
            {
                SetPickerValueAssign(oPickerobj);
            }
        });
    }
    function SetPickerValueAssign(oPickerobj)
    {
        var oreturnObj = null, oreturnobjs = [];
        if (oPickerobj.multiplereturn)
        {
            oreturnobjs = $('#'+oPickerobj.tableid).datagrid('getChecked');
        } else {
            oreturnObj = $('#'+oPickerobj.tableid).datagrid('getSelected');
        }
        $("#" + oPickerobj.winid).icsWindow("close");
        $("#" + oPickerobj.winid).remove();
        debugger;
        if(oPickerobj.winid == 'winStyle'){
            if (oreturnobjs != null && oreturnobjs.length>0)
            {
                var ncount = 0;
                var nStyleIDs = "";
                for (var i = 0; i <oreturnobjs.length; i++) {
                    var nStyleID = oreturnobjs[i].TechnicalSheetID;
                    nStyleIDs = nStyleIDs + nStyleID + ',';
                    ncount++;
                }
                if (ncount > 1)
                {
                    $('#txtAdvStyle').val("Select " + ncount + " Style's");
                } else
                {
                    $('#txtAdvStyle').val(oreturnobjs[0].StyleNo);
                }
                nStyleIDs = nStyleIDs.substring(0, nStyleIDs.length - 1);
                $('#winAdvSearch').data('StyleIDs', nStyleIDs);
                $("txtAdvStyle").addClass("blueText");
            }
        }
        else if(oPickerobj.winid == 'winOrderRecap'){
            if (oreturnobjs != null && oreturnobjs.length>0)
            {
                var ncount = 0;
                var nOrderRecapIDs = "";
                for (var i = 0; i <oreturnobjs.length; i++) {
                    var nOrderRecapID = oreturnobjs[i].OrderRecapID;
                    nOrderRecapIDs = nOrderRecapIDs + nOrderRecapID + ',';
                    ncount++;
                }
                if (ncount > 1)
                {
                    $('#txtAdvPO').val("Select " + ncount + " OrderRecap's");
                } else
                {
                    $('#txtAdvPO').val(oreturnobjs[0].OrderRecapNo);
                }
                nOrderRecapIDs = nOrderRecapIDs.substring(0, nOrderRecapIDs.length - 1);
                $('#winAdvSearch').data('OrderRecapIDs', nOrderRecapIDs);
                $("txtAdvPO").addClass("blueText");
            }
        }else if (oPickerobj.winid == 'winKnitDyeingPrograms')
        {
            if (oreturnObj!=null && oreturnObj.KnitDyeingProgramLogID>0)
            {
                window.open(sessionStorage.getItem('BaseAddress') + '/KnitDyeingProgram/PrintPreviewLog?id='+oreturnObj.KnitDyeingProgramLogID+'&bIsWithGrace=false');

            }else
            {
                alert("Please Select Item From List.");return;
            }

        }
    }
    //************************************************STYLE PICKER (START)*********************************************//
    $('#btnAdvStyleCancel').click(function(e){
        $("#txtAdvStyle").val('');
        $('#winAdvSearch').data('StyleIDs','');
        $("txtAdvStyle").addClass("blackText");
    })
    $('#txtAdvStyle').keyup(function(e){
        var code = (e.keyCode ? e.keyCode : e.which);
        if(code==13)//enter
        {
            if($.trim($('#txtAdvStyle').val())==null || $.trim($('#txtAdvStyle').val())=="")
            {
                alert("Type Style No.");
                return;
            }
            $('#btnAdvStylePick').click();
        }
        else if(code==8)
        {
            $('#btnAdvStyleCancel').click();
        }
    });
    $('#btnAdvStylePick').click(function(e){
        var oTechnicalSheet =   {
            BUID : 0,
            StyleNo : $.trim($('#txtAdvStyle').val())
        };
        var obj = {
            BaseAddress: sessionStorage.getItem('BaseAddress'),
            Object: oTechnicalSheet,
            ControllerName: "OrderRecap",
            ActionName: "StyleSearch",
            IsWinClose: false
        };
        $.icsProgressBar(true);
        $.icsDataGets(obj, function (response) {
            $.icsProgressBar(false);
            if (response.status && response.objs.length > 0) {
                if (response.objs[0].TechnicalSheetID > 0) {
                    var tblColums = [];
                    var oColumn = { field: "StyleNo", title: "Style No", width:200, align: "left" }; tblColums.push(oColumn);
                    oColumn = { field: "BuyerName", title: "Buyer", width:150, align: "left" }; tblColums.push(oColumn);
                    oColumn = { field: "ApproxQty", title: "Approx Qty", width:150, align: "right" }; tblColums.push(oColumn);

                    var oPickerParam = {
                        winid: 'winStyle',
                        winclass: 'clsStyle',
                        winwidth: 620,
                        winheight: 460,
                        tableid: 'tblStyle',
                        tablecolumns: tblColums,
                        datalist: response.objs,
                        multiplereturn: true,
                        searchingbyfieldName: 'StyleNo',
                        windowTittle: 'Style List'
                    };
                    $.icsPicker(oPickerParam);
                    IntializePickerbutton(oPickerParam);
                }
                else {
                    alert(response.objs[0].ErrorMessage);
                }

            } else{
                alert("Data Not Found.");
                return;
            }
        });
    })
    //************************************************STYLE PICKER (END)*****************************************//
    //************************************************FABRIC PICKER (START)*********************************************//
    $('#btnAdvPOCancel').click(function(e){
        $("#txtAdvPO").val('');
        $('#winAdvSearch').data('StyleIDs','');
        $("txtAdvPO").addClass("blackText");
    })
    $('#txtAdvPO').keyup(function(e){
        var code = (e.keyCode ? e.keyCode : e.which);
        if(code==13)//enter
        {
            if($.trim($('#txtAdvPO').val())==null || $.trim($('#txtAdvPO').val())=="")
            {
                alert("Type No.");
                return;
            }
            $('#btnAdvPOPick').click();
        }
        else if(code==8)
        {
            $('#btnAdvStyleCancel').click();
        }
    });
    $('#btnAdvPOPick').click(function(e){
        var oOrderRecap =   {
            OrderRecapNo : $.trim($('#txtAdvPO').val())
        };
        var obj = {
            BaseAddress: sessionStorage.getItem('BaseAddress'),
            Object: oOrderRecap,
            ControllerName: "OrderRecap",
            ActionName: "OrderRecapSearchByNo",
            IsWinClose: false
        };
        $.icsProgressBar(true);
        $.icsDataGets(obj, function (response) {
            $.icsProgressBar(false);
            if (response.status && response.objs.length > 0) {
                if (response.objs[0].TechnicalSheetID > 0) {
                    var tblColums = [];
                    var oColumn = { field: "BuyerName", title: "Buyer Name", width:150, align: "left" }; tblColums.push(oColumn);
                    oColumn = { field: "StyleNo", title: "Style", width:150, align: "left" }; tblColums.push(oColumn);
                    oColumn = { field: "OrderRecapNo", title: "Order Recap No", width:150, align: "left" }; tblColums.push(oColumn);
                    oColumn = { field: "TotalQuantity", title: "Total Quantity", width:100, align: "right" }; tblColums.push(oColumn);

                    var oPickerParam = {
                        winid: 'winOrderRecap',
                        winclass: 'clsOrderRecap',
                        winwidth: 650,
                        winheight: 460,
                        tableid: 'tblOrderRecap',
                        tablecolumns: tblColums,
                        datalist: response.objs,
                        multiplereturn: true,
                        searchingbyfieldName: 'OrderRecapNo',
                        windowTittle: 'Order Recap List'
                    };
                    $.icsPicker(oPickerParam);
                    IntializePickerbutton(oPickerParam);
                }
                else {
                    alert(response.objs[0].ErrorMessage);
                }

            } else{
                alert("Data Not Found.");
                return;
            }
        });
    })


    function PackingPolicy(bIsFromUrl, nKnitDyeingProgramID, sRefNo)
    {
        debugger;
        var oKnitDyeingProgram = {KnitDyeingProgramID:0,RefNo:''};
        if(bIsFromUrl)
        {
            oKnitDyeingProgram.KnitDyeingProgramID = nKnitDyeingProgramID;
            oKnitDyeingProgram.RefNo = sRefNo;
        }else
        {
            oKnitDyeingProgram= $('#tblKnitDyeingPrograms').datagrid('getSelected');
            if(oKnitDyeingProgram==null || oKnitDyeingProgram.KnitDyeingProgramID<=0)
            {
                alert("Please select an item from list!");
                return;
            }
        }
        if(parseInt(oKnitDyeingProgram.KnitDyeingProgramID)<=0)
        {
            alert("Please Save Knit dyeing Program first.");
            return;
        }
        
        //EnumAttchRefType : 1 Production Order;2 Delivery Order;3 Delivery Challan ..... 15:Order Recap Packing Policy        
        window.open(sessionStorage.getItem("BaseAddress") + '/KnitDyeingProgramAttachment/KnitDyeingProgramAttachments?id='+oKnitDyeingProgram.KnitDyeingProgramID+'&OperationInfo= Attachment of Order KnitDyeing Program No : '+oKnitDyeingProgram.RefNo, '_blank');
    }
    //************************************************FABRIC PICKER (END)*********************************************//

    var editIndex = undefined;
    function endEditing() {        
        if (editIndex == undefined) { return true }
        if ($('#tblKnitDyeingProgramDetail').datagrid('validateRow', editIndex)) {
            $('#tblKnitDyeingProgramDetail').datagrid('endEdit', editIndex);            
            editIndex = undefined;
            return true;
        }
        else {
            return false;
        }
    }

    function onClickRow(index) {        
        if (editIndex != index) {
            if (endEditing()) {
                $('#tblKnitDyeingProgramDetail').datagrid('selectRow', index).datagrid('beginEdit', index);
                editIndex = index;
            }
            else {
                $('#tblKnitDyeingProgramDetail').datagrid('selectRow', editIndex);
            }
        }
    }

    function onEndEdit(index, row) {        
        row.ReqFabricQty = ((parseFloat(row.ReqFinishFabricQty) * parseFloat(row.GracePercent))/100) + parseFloat(row.ReqFinishFabricQty);
        $('#tblKnitDyeingProgramDetail').datagrid('updateRow',{index:index, row : row});
        $.icsMakeFooterColumn('tblKnitDyeingProgramDetail',['ColorName','GarmentsQty','ConsumptionPerDzn','ReqFinishFabricQty','ReqFabricQty']);
    }
</script>
