<html>
@{
    ViewBag.Title = "Shipment Registers";
}
<body>
    @model ESimSol.BusinessObjects.Shipment
    <div id="progbarParent" style="width:100%;height:100%;margin:0 auto;text-align:center; margin-left: auto;margin-right: auto;left: 0;right: 0;z-index: 1;">
        <div style="margin: 0px auto;margin-top: 251px;text-align:center;width:390px;">
            <label style="font-size:18px;">Please wait</label>
            <div id="progbar" style="width:100%;height:37px;"></div>
        </div>
    </div>
    <div class="menuMainCollectionTable" id="MainDiv">
        <div class="easyui-panel" title="Shipment " style="font-family:Tahoma; text-align:center; height:88%;">
            <fieldset style="height:95%; text-align:center;">
                <legend style="font-weight:bold"> Serching Criteria : </legend>
                <table border="0" cellspacing="2" cellpadding="2" style="font-size:11px; font-weight:bold; text-align:center; width:100%">
                    <tr>
                        <td colspan="5" style="height:20px;"></td>
                    </tr>
                    <tr>
                        <td style="width:15%;text-align:right"> Challan No :</td>
                        <td style="width:30%;text-align:left">
                            <input type="text" style="width:100%" id="txtChallanNo" />
                        </td>
                        <td style="width:5%;text-align:right"></td>
                        <td style="width:12%;text-align:right"> Shipment Date :</td>
                        <td style="width:38%;text-align:right">
                            <table border="0" cellpadding="1" cellspacing="1" width="100%">
                                <tr>
                                    <td style="width:30%; text-align:center">
                                        <select id="cboShipmentDate" style="width:100%;height:22px;"> </select>
                                    </td>
                                    <td style="width:30%; text-align:center">
                                        <input id="txtShipmentDate" type="text" class="easyui-datebox" required="required" data-options="formatter:icsdateformat,parser:icsdateparser" style=" width:100%;" />
                                    </td>
                                    <td style="width:10%; text-align:center">to</td>
                                    <td style="width:30%; text-align:center">
                                        <input id="txtShipmentDateTo" type="text" class="easyui-datebox" required="required" data-options="formatter:icsdateformat,parser:icsdateparser" style=" width:100%;" />
                                    </td>
                                </tr>
                            </table>
                        </td>
                    </tr>
                    <tr>
                        <td style="width:15%;text-align:right"> Shipment Mode :</td>
                        <td style="width:30%;text-align:left">
                            <select id="cboShipmentMode" style="width:100%;height:22px;"></select>
                        </td>
                        <td style="width:5%;text-align:right"></td>
                        <td style="width:12%;text-align:right"> Store :</td>
                        <td style="width:38%;text-align:right">
                            <select id="cboStore" style="width:100%;height:22px;"></select>
                        </td>
                    </tr>
                    <tr>
                        <td style="width:15%;text-align:right"> Buyer :</td>
                        <td style="width:30%;text-align:left">
                            <table border="0" cellpadding="0" cellspacing="0" style="width:100%">
                                <tr>
                                    <td style="width:90%; text-align:left">
                                        <input type="text" style="width:98%" id="txtBuyer" onkeydown="BuyerKeyDown(event)" placeholder="" />
                                    </td>
                                    <td style="width:10%; text-align:right">
                                        <input type="button" id="btnBuyer" onclick="PickBuyer()" style="width:95%;float:right;" value="...." />
                                    </td>
                                </tr>
                            </table>
                        </td>
                        <td style="width:5%;text-align:right"></td>
                        <td style="width:12%;text-align:right"> Approve By :</td>
                        <td style="width:38%;text-align:right">
                            <select id="cboApproveBy" style="width:100%;height:22px;"></select>
                        </td>
                    </tr>
                    <tr>
                        <td style="width:15%;text-align:right"> Order Recap No :</td>
                        <td style="width:30%;text-align:left">
                            <input type="text" style="width:100%" id="txtOrderRecapNo" />
                        </td>
                        <td style="width:5%;text-align:right"></td>
                        <td style="width:12%;text-align:right"> Driver Name :</td>
                        <td style="width:38%;text-align:right">
                            <input type="text" id="txtDriverName" style="width:100%;" />
                        </td>
                    </tr>

                    <tr>
                        <td style="width:15%;text-align:right">Style No:</td>
                        <td style="width:30%;text-align:left">
                            <input id="txtStyleNo" type="text" style=" width:100%;" />
                        </td>
                        <td style="width:5%;text-align:right"></td>
                        <td style="width:12%;text-align:right"></td>
                        <td style="width:38%;text-align:right"></td>
                    </tr>
                    @*<tr>
                        <td style="width:15%;text-align:right"> Report Layout :</td>
                        <td style="width:30%;text-align:left">
                            <select id="cboReportLayout" style="width:100%;height:22px;">  </select>
                        </td>
                        <td style="width:5%;text-align:right"></td>
                        <td style="width:12%;text-align:right"></td>
                        <td style="width:38%;text-align:right"></td>
                    </tr>*@
                </table>
            </fieldset>
        </div>
        <fieldset>
            <legend style="font-weight:bold"> Action : </legend>
            <table border="0" cellspacing="2" cellpadding="2" style="font-size:11px; font-weight:bold; width:100%;">
                <tr>
                    <td style="width:50%;text-align:right"></td>
                    <td style="width:50%;text-align:right">
                        <a id="btnPreview" href="javascript:void(0)" class="easyui-linkbutton" iconcls="icon-print" plain="true">Preview</a>
                        <a id="btnExportToExcel" href="javascript:void(0)" class="easyui-linkbutton" iconcls="icon-excel" plain="true">Export to Excel</a>
                        <a id="btnClose" href="javascript:void(0)" class="easyui-linkbutton" iconcls="icon-cancel" plain="true">Close</a>
                    </td>
                </tr>
            </table>
        </fieldset>
    </div>
</body>
</html>


<script type="text/javascript">
    var _sBaseAddress="";
    var _oStores = [];
    var _oUsers = [];
    var _oShipmentModes = [];
    $(document).ready(function () {
        var nBUID =@Html.Raw(new System.Web.Script.Serialization.JavaScriptSerializer().Serialize(ViewBag.BUID));
        var oReportLayouts = @Html.Raw(new System.Web.Script.Serialization.JavaScriptSerializer().Serialize(ViewBag.ReportLayouts));
        var oCompareOperators = @Html.Raw(new System.Web.Script.Serialization.JavaScriptSerializer().Serialize(ViewBag.CompareOperators));
        _sBaseAddress =@Html.Raw( new System.Web.Script.Serialization.JavaScriptSerializer().Serialize(HttpContext.Current.Session[SessionInfo.BaseAddress]));
        _oStores = @Html.Raw(new System.Web.Script.Serialization.JavaScriptSerializer().Serialize(ViewBag.Stores));
        _oUsers = @Html.Raw(new System.Web.Script.Serialization.JavaScriptSerializer().Serialize(ViewBag.Users));
        _oShipmentModes = @Html.Raw(new System.Web.Script.Serialization.JavaScriptSerializer().Serialize(ViewBag.ShipmentMode));

        $("#progbar").progressbar({ value: 0 });
        $("#progbarParent").hide();

        $("#cboShipmentDate").icsLoadCombo({ List: oCompareOperators, OptionValue: "id", DisplayText: "Value" });
        $("#cboApproveBy").icsLoadCombo({ List: _oUsers, OptionValue: "UserID", DisplayText: "UserName" });
        $("#cboShipmentMode").icsLoadCombo({ List:_oShipmentModes, OptionValue: "id", DisplayText: "Value", });
        //$("#cboReportLayout").icsLoadCombo({ List: oReportLayouts, OptionValue: "id", DisplayText: "Value" });
        $("#cboStore").icsLoadCombo({ List: _oStores, OptionValue: "WorkingUnitID", DisplayText: "WorkingUnitName" });

        $('#txtShipmentDate').datebox({ disabled: true });
        $('#txtShipmentDateTo').datebox({ disabled: true });
        $('#txtShipmentDate').datebox('setValue', icsdateformat(new Date()));
        $('#txtShipmentDateTo').datebox('setValue', icsdateformat(new Date()));

        $("#MainDiv").data("BuyerID",0);
    });

    $('#cboShipmentDate').change(function(e){
        //EqualTo = 1, NotEqualTo = 2, GreaterThen = 3, SmallerThen = 4, Between = 5, NotBetween = 6
        var nCompareOperator =   parseInt($('#cboShipmentDate').val());
        if(nCompareOperator===0)
        {
            $('#txtShipmentDate').datebox({ disabled : true });
            $('#txtShipmentDateTo').datebox({ disabled : true });
        }
        else if (nCompareOperator===1 || nCompareOperator===2 || nCompareOperator===3 || nCompareOperator===4)
        {
            $('#txtShipmentDate').datebox({ disabled : false });
            $('#txtShipmentDateTo').datebox({ disabled : true });
        }
        else
        {
            $('#txtShipmentDate').datebox({ disabled : false });
            $('#txtShipmentDateTo').datebox({ disabled : false });
        }
        $('#txtShipmentDate').datebox('setValue', icsdateformat(new Date()));
        $('#txtShipmentDateTo').datebox('setValue', icsdateformat(new Date()));
    });


    function ValidateSearch()
    {

        var nShipmentDate = parseInt($('#cboShipmentDate').val());
        if(nShipmentDate===1 || nShipmentDate===2 || nShipmentDate===3 || nShipmentDate===4)
        {
            var sShipmentDateStart   = $('#txtShipmentDate').datebox('getValue');
            if(sShipmentDateStart===null || sShipmentDateStart==="")
            {
                alert("Please select Shipment start date!");
                $('#txtShipmentDate').focus();
                return false;
            }
        }
        if(nShipmentDate===5 || nShipmentDate===6)
        {
            var sShipmentDateStart   = $('#txtShipmentDate').datebox('getValue');
            var sShipmentDateEnd   = $('#txtShipmentDateTo').datebox('getValue');
            if(sShipmentDateStart===null || sShipmentDateStart==="")
            {
                alert("Please select Shipment start date!");
                $('#txtShipmentDate').focus();
                return false;
            }
            if(sShipmentDateEnd===null || sShipmentDateEnd==="")
            {
                alert("Please select Shipment end date!");
                $('#txtShipmentDateTo').focus();
                return false;
            }
            if(new Date(sShipmentDateStart) > new Date(sShipmentDateEnd))
            {
                alert("Start date must be smallar than or equal end date!");
                $('#txtShipmentDate').focus();
                return false;
            }
        }

        //var nReportLayout = parseInt($('#cboReportLayout').val());
        //if(nReportLayout<=0)
        //{
        //    alert("Please select an Report Layout!");
        //    return;
        //}

        var txtChallanNo = $('#txtChallanNo').val();

        var cmbShipmentDate = $('#cboShipmentDate').val();
        var txtShipmentDate = $("#txtShipmentDate").datebox('getValue');
        var txtShipmentDateTo = $("#txtShipmentDateTo").datebox('getValue');

        var txtBuyer = parseInt($("#MainDiv").data("BuyerID"));
        var cboStore = $('#cboStore').val();
        var cboShipmentMode = $('#cboShipmentMode').val();
        var cboApproveBy = $('#cboApproveBy').val();

        var txtDriverName = $('#txtDriverName').val();
        var txtOrderRecapNo = $('#txtOrderRecapNo').val();
        var txtStyleNo = $('#txtStyleNo').val();

        if ((txtChallanNo == undefined || txtChallanNo == '') && cmbShipmentDate == "0" && txtBuyer == "" && cboStore == 0 && cboShipmentMode == 0 && cboApproveBy == 0 && (txtDriverName == undefined || txtDriverName == '') && (txtOrderRecapNo == undefined || txtOrderRecapNo == '') && (txtStyleNo == undefined || txtStyleNo == '') ) {
            alert("Please Enter atleast one field !!");
            return;
        }
        return true;
    }

    function RefreshObject()
    {
        var txtChallanNo = $('#txtChallanNo').val();

        var cmbShipmentDate = $('#cboShipmentDate').val();
        var txtShipmentDate = $("#txtShipmentDate").datebox('getValue');
        var txtShipmentDateTo = $("#txtShipmentDateTo").datebox('getValue');

        var txtBuyer = parseInt($("#MainDiv").data("BuyerID"));
        var cboStore = $('#cboStore').val();
        var cboShipmentMode = $('#cboShipmentMode').val();
        var cboApproveBy = $('#cboApproveBy').val();

        var txtDriverName = $('#txtDriverName').val();
        var txtOrderRecapNo = $('#txtOrderRecapNo').val();
        var txtStyleNo = $('#txtStyleNo').val();

        //var nReportLayout = parseInt($('#cboReportLayout').val());
        var sParam = txtChallanNo +"~"+ cmbShipmentDate +"~"+ txtShipmentDate +"~"+ txtShipmentDateTo +"~"+ txtBuyer +"~"+ cboStore +"~"+ cboShipmentMode +"~"+ cboApproveBy +"~"+ txtDriverName +"~"+ txtOrderRecapNo +"~"+ txtStyleNo + "~" + parseInt(sessionStorage.getItem("BUID"));    //+"~"+ nReportLayout

        var oSMR = {
            ErrorMessage : sParam
        };
        return oSMR;
    }

    $('#btnPreview').click(function(e){
        if(!ValidateSearch()) return;
        var oShipmentRegister = RefreshObject();
        $.ajax({
            type: "POST",
            dataType: "json",
            url : _sBaseAddress+  "/Shipment/SetSessionSearchCriteria",
            traditional: true,
            data:  JSON.stringify(oShipmentRegister),
            contentType: "application/json; charset=utf-8",
            success: function (data) {
                var sFeedBackMessage = jQuery.parseJSON(data);
                if (sFeedBackMessage==="Successful") {
                    var tsv=((new Date()).getTime())/1000;
                    window.open(_sBaseAddress+'/Shipment/PrintShipmentRegister?ts='+tsv,"_blank");
                }
            },
            error: function (xhr, status, error) {
                alert(error);
            }
        });
    });

    $('#btnExportToExcel').click(function(e){
        if(!ValidateSearch()) return;
        var oShipmentRegister = RefreshObject();
        $.ajax({
            type: "POST",
            dataType: "json",
            url : _sBaseAddress+  "/Shipment/SetSessionSearchCriteria",
            traditional: true,
            data:  JSON.stringify(oShipmentRegister),
            contentType: "application/json; charset=utf-8",
            success: function (data) {
                var sFeedBackMessage = jQuery.parseJSON(data);
                if (sFeedBackMessage==="Successful") {
                    var tsv=((new Date()).getTime())/1000;
                    window.open(_sBaseAddress+'/Shipment/ExportToExcelShipmentRegister?ts='+tsv,"_blank");
                }
            },
            error: function (xhr, status, error) {
                alert(error);
            }
        });
    });


    $('#btnClose').click(function (e) {
        window.location.href = window.location.href;
    });

    function BuyerKeyDown(event) {
        //return;
        if (event.which == 13) {
            var oTxtName=$("#txtBuyer").val();
            if (oTxtName != null) {
                PickBuyer(oTxtName);
            }
        }
        if (event.which == 8) {
            txtBuyer.style.color="Black";
            $("#MainDiv").data("BuyerID",0);
        }

    }
    function PickBuyer(oTxtName)
    {
        var oStyleSearch = {
            Params: '2' + '~' + $("#txtBuyer").val() +'~'+parseInt(sessionStorage.getItem("BUID"))
        };//
        console.log(oStyleSearch);
        debugger;
        var obj = {
            BaseAddress:_sBaseAddress,
            Object: (oStyleSearch) ,
            ControllerName: "Contractor", //TechnicalSheet
            ActionName: "ContractorSearchByNameType",//ViewStyleSearch
            IsWinClose: false
        };
        var tblColums = []; var oColumn = { field: "Name", title: "Name", width: 200, align: "left" }; tblColums.push(oColumn);
        oColumn = { field: "Address", title: "Address", width: 120, align: "left" }; tblColums.push(oColumn);
        oColumn = { field: "Email", title: "Email", width: 90, align: "left" }; tblColums.push(oColumn);
        oColumn = { field: "ShortName", title: "Short Name", width: 90, align: "left" }; tblColums.push(oColumn);
        DynamicPiker('Buyer',obj,tblColums,false,'Name','ContractorID',600); //pickerName(unique),obj,table,multiReturn,SearchingField, pkID
    }
    function SetBuyer(oSelectedStyle) {
        debugger;
        document.getElementById("txtBuyer").value = oSelectedStyle.Name;
        txtBuyer.style.color="Blue";
        //var text = "";
        //var len = oSelectedStyle.length;
        //for (var i = 0; i < len; i++) {

        //    text += oSelectedStyle[i].ModuleName;
        //}
        //document.getElementById("txtModuleName").innerHTML = text;
        $("#MainDiv").data("BuyerID",oSelectedStyle.ContractorID);
        //_oShipment.BuyerID = oSelectedStyle.ContractorID;
    }

    function SetPickerValueAssign(oPickerobj)
    {
        debugger;
        var oResult;
        if (oPickerobj.multiplereturn)
        {
            oResult = $('#'+oPickerobj.tableid).datagrid('getChecked');
        }
        else
        {
            oResult = $('#'+oPickerobj.tableid).datagrid('getSelected');
        }


        if (oPickerobj.winid == 'winBuyer')
        {
            SetBuyer(oResult);
        }
        else if (oPickerobj.winid == 'winPO')
        {
            SetOrderRecap(oResult);
        }


        $("#" + oPickerobj.winid).icsWindow("close");
        $("#" + oPickerobj.winid).remove();
    }

    function updateProgress() {
        var value =$('#progressbar').progressbar('getValue');
        if (value < 90){
            value += Math.floor(Math.random() * 10);
            $('#progressbar').progressbar('setValue', value);
        }
    }

    function hideShow(miliseconds) {
        $("#progressbarParent").hide();
    }

    function DynamicPiker(pickerName,obj,pTblColums,pMultiReturn,pSearchField,pID,nWidth)
    {
        debugger;
        $("#progressbar").progressbar({ value: 0 });
        $("#progressbarParent").show();
        setInterval(updateProgress,250);

        $.icsDataGets(obj, function (response) {
            debugger;
            if (response.status && response.objs.length > 0) {
                if (response.objs[0][pID] > 0) {
                    debugger;
                    var tblColums = pTblColums;
                    var oPickerParam = {
                        winid: 'win'+pickerName,
                        winclass: 'cls'+pickerName,
                        winwidth: nWidth,
                        winheight: 460,
                        tableid: 'tbl'+pickerName+'s',
                        tablecolumns: tblColums,
                        datalist: response.objs,
                        multiplereturn: pMultiReturn,
                        searchingbyfieldName: pSearchField,
                        windowTittle: pickerName+' List',
                        colsable:true
                    };
                    $.icsPicker(oPickerParam);
                    $("#progressbar").progressbar({ value: 0 });//hide
                    $("#progressbarParent").hide();
                    IntializePickerbutton(oPickerParam);
                }
                else {
                    alert(response.objs[0].ErrorMessage);
                    $("#progressbar").progressbar({ value: 0 });//hide
                    $("#progressbarParent").hide();
                }
            }
            else{
                alert("Data Not Found.");
                $("#progressbar").progressbar({ value: 0 });//hide
                $("#progressbarParent").hide();
                return;
            }
        });
    }

    function IntializePickerbutton(oPickerobj) {
        debugger;
        $("#" + oPickerobj.winid).find("#btnOk").click(function () {
            debugger;
            //for Single Select
            SetPickerValueAssign(oPickerobj);
        });
        $(document).find('.' + oPickerobj.winclass).keydown(function (e) {
            if (e.which == 13)//enter=13
            {
                SetPickerValueAssign(oPickerobj);
            }
        });
    }


</script>