<html>
<head>  
    <link href="@Url.Content("~/Content/CSS/icon.css")" rel="stylesheet" type="text/css" />
    <link href="@Url.Content("~/Content/CSS/easyui.css")" rel="stylesheet" type="text/css" />
    <link href="@Url.Content("~/Content/CSS/Pikerstyle.css")" rel="stylesheet" type="text/css" />

    <script src="@Url.Content("~/Scripts/jquery-1.7.1.min.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Scripts/jquery.ics.customize.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Scripts/jquery.easyui.min.js")" type="text/javascript"></script>

    <script src="@Url.Content("~/Scripts/jquery-ui.min.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Scripts/json2.js")" type="text/javascript"></script>
    
</head>
<body>

@model ESimSol.BusinessObjects.DataCollectionSetup
<div style="font-family:Tahoma">           
<table border="0" cellspacing="2" cellpadding="2">
    <tr>
        <td style="background-color:#CFB53B; text-align:center; width:620px; color:White">
            <label id="lblHeaderName" style="font-size:15px; font-weight:bold; text-decoration:Underline"> Configure Voucher Setup</label>
        </td>
    </tr>
</table>
<fieldset>
    <fieldset>
        <legend style="font-weight:bold"> Setup Preview : </legend>
        <table border="0" cellspacing="2" cellpadding="2" style="font-size:12px; font-weight:bold">
            <tr>
                <td style="width:600px; height : 30px; text-align:center"> <label id="lblSetupPreview"></label> </td>               
            </tr>       
        </table>
    </fieldset>
    <table border="0" cellspacing="2" cellpadding="2" style="font-size:11px; font-weight:bold">
         <tr>
            <td style="width:125px; text-align:right">
            </td>
            <td style="width:450px">
                <input type ="checkbox" id="chkBoxManual" onClick = "ManualCheck()" /> Manual Data&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; <input type ="checkbox" id="chkBoxAutomated" onClick = "AutomatedCheck()" /> Automated Data &nbsp;&nbsp;&nbsp;&nbsp; <input type ="checkbox" id="chkFixedText" onClick = "FixedTextCheck()" /> Fixed Text
            </td>
        </tr>   
        <tr>
            <td style="width:125px; text-align:right">
                Query For Value :
            </td>
            <td style="width:450px">
                @Html.TextBoxFor(model => model.QueryForValue, new { style = "width: 390px;", id = "txtQueryForValue" }) <input type ="button" id ="btnDBView" style=" width:55px; font-size:12px;" onclick = "DBViewPicker()" value ="DB View" />
            </td>
        </tr>   
        
        <tr>
            <td style="width:125px; text-align:right">
                 Ref Value Field(s):
            </td>
            <td style="width:450px">
              @Html.TextBoxFor(model => model.ReferenceValueFields, new { style = "width: 450px;", id = "txtReferenceValueFields" }) 
             </td>
        </tr>   
        
            <tr>
            <td style="width:125px; text-align:right">
                 Fixed Text:
            </td>
            <td style="width:450px">
              @Html.TextBoxFor(model => model.FixedText, new { style = "width: 450px;", id = "txtFixedText" }) 
             </td>
        </tr>      
        <tr>
            <td style="width:125px; text-align:right">
                Note :
            </td>
            <td style="width:450px">
              @Html.TextBoxFor(model => model.Note, new { style = "width: 450px;", id = "txtNote" }) 
            </td>
        </tr>     
    </table>
     <table id="tblDataCollectionSetup" title="Narration Setup"  class="easyui-datagrid" style="width:585px;height:190px" fitColumns="false" rownumbers="true" pagination="false" singleSelect="true" autoRowHeight="false" toolbar="#toolbar">
                <thead>  
                    <tr>  
                        <th field="DataGenerateTypeInString" width="100">Data Type</th> 
                        <th field="QueryForValue" width="170" align ="left">Query For Value</th>
                        <th field="ReferenceValueFields" width="110" align ="left">Ref Value Field(s)</th>
                        <th field="FixedText" width="100" align ="left">Fixed Text</th>
                        <th field="Note" width="70" align ="left">Note</th>
                    </tr>  
                </thead> 
            </table>
         <div id="toolbar"style="height:30px">  <table border="0"style ="font-size:12">
        <tr>
          <td  style="width:425px"> </td>
          <td  style="width:50px"> <a id ="btnAdd" href="javascript:void(0)" class="easyui-linkbutton" iconCls="icon-add" plain="true" onclick="AddDataCollection()">Add</a></td>                                  
          <td  style="width:50px"> <a id ="btnRemove" href="javascript:void(0)" class="easyui-linkbutton" iconCls="icon-remove" plain="true" onclick="Remove()">Delete</a></td>                                  
          <td  style="width:50px"> <a id ="btnRefresh" href="javascript:void(0)" class="easyui-linkbutton" iconCls="icon-reload" plain="true" onclick="Refresh()">Refresh</a></td>                                  
        </tr>
  </table>
  </div>

</fieldset>
    
    <fieldset>
        <legend style="font-weight:bold"> Action : </legend>
        <table border="0" cellspacing="2" cellpadding="2" style="font-size:11px; font-weight:bold">
            <tr>
                <td style="width:500px; text-align:right"></td>
                <td style="width:50px">
                   <a id="btnSave" href="javascript:void(0)" class="easyui-linkbutton" iconCls="icon-save" plain="true" onclick="Save()">Save</a>
                </td>
                <td style="width:50px">
                   <a href="javascript:void(0)" class="easyui-linkbutton" iconCls="icon-cancel" plain="true" onclick="Close()">Close</a>
                </td>
            </tr>       
        </table>
    </fieldset>
</div>
</body>
</html>


<script type="text/javascript"> 
 var _oDataCollectionSetup=null;
 var _sBaseAddress="";
 var _oDataCollectionSetups = [];  
 $(document).ready(function () {
    ////debugger;         
    _sBaseAddress =@Html.Raw( new System.Web.Script.Serialization.JavaScriptSerializer().Serialize(HttpContext.Current.Session[SessionInfo.BaseAddress]));                      
    _oDataCollectionSetup =@Html.Raw(new System.Web.Script.Serialization.JavaScriptSerializer().Serialize(Model)); 
    var obj = window.dialogArguments;
    _oDataCollectionSetup=obj.DataCollectionSetup;
    _oDataCollectionSetups = _oDataCollectionSetup.DataCollectionSetups;
    document.getElementById('lblHeaderName').innerHTML=obj.Name;        
    document.getElementById('chkBoxAutomated').checked=true; 
    RefreshList(_oDataCollectionSetups);
 }); 


 function  RefreshList(oDataCollectionSetups)
 {
    data=oDataCollectionSetups;
    data={"total":""+data.length+"","rows":data};
    $('#tblDataCollectionSetup').datagrid('loadData',data);
    document.getElementById('lblSetupPreview').innerHTML = GetSetupsText(); 
 }
 
 function ManualCheck()
 {
     if(document.getElementById("chkBoxManual").checked == true)
      {
        document.getElementById('txtQueryForValue').disabled = true;
        document.getElementById("txtQueryForValue").value = '';
        document.getElementById('btnDBView').disabled = true;
        document.getElementById('txtReferenceValueFields').disabled = true;
        document.getElementById("txtReferenceValueFields").value = '';
        document.getElementById('txtFixedText').disabled = true;
        document.getElementById("txtFixedText").value = '';
        document.getElementById('chkBoxAutomated').checked=false;
        document.getElementById('chkFixedText').checked=false;
      }
 }

 function AutomatedCheck()
 {
     if(document.getElementById("chkBoxAutomated").checked)
      {
        document.getElementById('txtQueryForValue').disabled = false;
        document.getElementById('btnDBView').disabled = false;
        document.getElementById('txtReferenceValueFields').disabled = false;
        document.getElementById('txtFixedText').disabled = false;
        document.getElementById('chkBoxManual').checked=false;
        document.getElementById('chkFixedText').checked=false;
      }
 }

 function FixedTextCheck()
 {
    if(document.getElementById("chkFixedText").checked)
      {
        document.getElementById('txtQueryForValue').disabled = true;
        document.getElementById("txtQueryForValue").value = '';
        document.getElementById('btnDBView').disabled = true;
        document.getElementById('txtReferenceValueFields').disabled = true;
        document.getElementById("txtReferenceValueFields").value = '';
        document.getElementById('txtFixedText').disabled = false;
        document.getElementById('chkBoxManual').checked=false;
        document.getElementById('chkBoxAutomated').checked=false;
      }
 }

 function DBViewPicker()
 {
       var oParameter = new Object();
       oParameter.Name = "Database Tables & Columns";
       var tsv=((new Date()).getTime())/1000;
       var url = _sBaseAddress+"/IntegrationSetup/ViewDatabasePicker?ts="+tsv;
       var oDataCollectionSetup = window.showModalDialog(url, oParameter, 'dialogHeight:410px;dialogWidth:520px;dialogLeft:300;dialogTop:100;center:yes;resizable:yes;status:no;scroll:no');

 }


 function AddDataCollection()
 {
    if(!ValidateInput())return;
     var oDataCollectionSetup=RefreshObject();
     $('#tblDataCollectionSetup').datagrid('appendRow',oDataCollectionSetup);
     document.getElementById("txtQueryForValue").value = '';
     document.getElementById("txtReferenceValueFields").value = '';
     document.getElementById("txtFixedText").value = '';
     document.getElementById("txtNote").value = '';
     Refresh();
 }

  function Remove()
 {
        var oDataCollectionSetup = $('#tblDataCollectionSetup').datagrid('getSelected'); 
        if(oDataCollectionSetup==null || parseInt(oDataCollectionSetup.DataCollectionSetupID)<=0)
        {
            alert("Please select a item from list!");
            return;
        }
        if (!confirm("Confirm to Delete?")) return ;
        var SelectedRowIndex=$('#tblDataCollectionSetup').datagrid('getRowIndex',oDataCollectionSetup);
        $('#tblDataCollectionSetup').datagrid('deleteRow',SelectedRowIndex);
        Refresh();
 }

 function Refresh()
 {
    var oDataCollectionSetups = $('#tblDataCollectionSetup').datagrid('getRows');
    RefreshList(oDataCollectionSetups);
 }

   function ValidateInput()
    {
        if(document.getElementById("chkBoxAutomated").checked == false && document.getElementById("chkFixedText").checked == false && document.getElementById('chkBoxManual').checked==false)
        {
            alert("Please select any one from Automated, Manual & Fixed Data!");
            $('#chkBoxAutomated').focus();
            return false;
        }
        if(document.getElementById("chkBoxAutomated").checked)
        {
            if(document.getElementById("txtQueryForValue").value==null || document.getElementById("txtQueryForValue").value=="")        
            {
                alert("Please type Query or Pick Value");
                $('#txtQueryForValue').focus();
                return false;
            }    
            if(document.getElementById("txtReferenceValueFields").value==null || document.getElementById("txtReferenceValueFields").value=="")
            {
                alert("Please type Reference Field Value");
                $('#txtReferenceValueFields').focus();
                return false;
            } 
            var sQueryForValue = document.getElementById("txtQueryForValue").value;
            var aQueryForValue= sQueryForValue.split(" ");
            if(aQueryForValue.length<4)
            {
                alert("Incomplete Query! Please check your Query.");
                $('#txtQueryForValue').focus();
                return false;
            }
        }
        else  if(document.getElementById("chkFixedText").checked)
        {
            if(document.getElementById("txtFixedText").value==null || document.getElementById("txtFixedText").value=="")
            {
                alert("Please type Fixed Text");
                $('#txtFixedText').focus();
                return false;
            }  
        }
        return true;
    }


    function RefreshObject()
    {    
        //debugger; 
        var nDataGenerateType = 0;
        var sDataGenerateTypeInString = "None";
        if(document.getElementById("chkBoxManual").checked)
        {
            nDataGenerateType = 1;
            sDataGenerateTypeInString ="ManualData";
            document.getElementById("Note").value = "Manual Data";
        }
        else if(document.getElementById("chkBoxAutomated").checked)
        {
            nDataGenerateType = 2;
            sDataGenerateTypeInString ="AutomatedData";
        }
        else if(document.getElementById("chkFixedText").checked)
        {
            nDataGenerateType = 3;
            sDataGenerateTypeInString ="FixedData";
        }

        var oDataCollectionSetup= {     
                                        DataCollectionSetupID : _oDataCollectionSetup.DataCollectionSetupID,
                                        DataReferenceTypeInInt :_oDataCollectionSetup.DataReferenceTypeInInt,
                                        DataReferenceID : _oDataCollectionSetup.DataReferenceID,
                                        DataSetupTypeInInt : _oDataCollectionSetup.DataSetupTypeInInt,
                                        DataGenerateTypeInInt : nDataGenerateType,
                                        QueryForValue : $("#txtQueryForValue").val(),
                                        ReferenceValueFields : $("#txtReferenceValueFields").val(),
                                        FixedText : $("#txtFixedText").val(),
                                        Note: $("#txtNote").val(),
                                        DataGenerateTypeInString : sDataGenerateTypeInString
                                };
        return oDataCollectionSetup;
    } 




    function Save()
    {
        //debugger;                
        var oDataCollectionSetups = $('#tblDataCollectionSetup').datagrid('getRows');
        if(oDataCollectionSetups.length<=0)
        {
            alert("Please Add at least One Narration");
            return;
        }
        var oDataCollectionSetup =  {
                                        DataCollectionSetups : oDataCollectionSetups,
                                        SetupText : GetSetupsText()
                                    };                                            
        //debugger;
        window.returnValue = oDataCollectionSetup;
        window.close();       
    }

    function GetSetupText(oDataCollectionSetup)
    {
        var sSetupText="";
        if(parseInt(oDataCollectionSetup.DataGenerateTypeInInt)== 1)
        {
            sSetupText= "(Manual Data)";          
        }
        else if(parseInt(oDataCollectionSetup.DataGenerateTypeInInt)== 2)
        {            
            var aQueryForValue= oDataCollectionSetup.QueryForValue.split(" ");            
            sSetupText = aQueryForValue[1] + " of "+ aQueryForValue[3];
        }
        else if(parseInt(oDataCollectionSetup.DataGenerateTypeInInt)== 3)
        {
            sSetupText = oDataCollectionSetup.FixedText + "(Fixed Text)"
        }
        return sSetupText;
    }

    function GetSetupsText()
    {
        //debugger;
        var sSetupText="";
        var oDataCollectionSetups = $('#tblDataCollectionSetup').datagrid('getRows');
        for(var i=0; i< oDataCollectionSetups.length; i++)
        {
            if(i==(oDataCollectionSetups.length-1))
            {
                sSetupText =sSetupText + GetSetupText(oDataCollectionSetups[i]);
            }
            else
            {
                sSetupText =sSetupText + GetSetupText(oDataCollectionSetups[i]) + "+";
            }            
        }
        return sSetupText;
    }
      

    function Close()
    {
        window.close();
    }
</script>