<html>
<head>
    <script src="@Url.Content("~/Scripts/jquery-1.7.1.min.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Scripts/jquery-latest.js")" type="text/javascript"></script>
    <link href="../../Content/CSS/newPikerview.css" rel="stylesheet" type="text/css" />
    <script src="@Url.Content("~/Scripts/jquery-ui-1.8.22.custom.min.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Scripts/BlockMachineMappingControlScript/GlobalScript.js")" type="text/javascript"></script>
    <link href="@Url.Content("~/Content/CSS/Control.css")" rel="stylesheet" type="text/css" />
    <link href="@Url.Content("~/Content/CSS/jquery-ui-1.8.22.custom.css")" rel="stylesheet" type="text/css" />
    <script src="@Url.Content("~/Scripts/jquery.unobtrusive-ajax.js")" type="text/javascript"></script>
    @* Following Reference For menu *@
    <link href="@Url.Content("~/Content/CSS/easyui.css")" rel="stylesheet" type="text/css" />
    <link href="@Url.Content("~/Content/CSS/icon.css")" rel="stylesheet" type="text/css" />
    <script src="@Url.Content("~/Scripts/jquery.easyui.min.js")" type="text/javascript"></script>
    @*for json stringify *@
    <script src="@Url.Content("~/Scripts/jquery-ui.min.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Scripts/json2.js")" type="text/javascript"></script>
</head>
<body>
    @model IEnumerable<ESimSol.BusinessObjects.BlockMachineMapping>
        <div style="font-family: Tahoma">
            <table border="0" style="background-color: #CFB53B">
                <tr>
                    <td style="background-color: #CFB53B; text-align: center; width: 450px; color: White">
                        <label id="lblHeaderName" style="font-size: 15px; font-weight: bold; text-decoration: Underline">
                            BlockMachineMapping Piker
                        </label>
                    </td>
                </tr>
            </table>
            <table border="0" cellpadding="0" cellspacing="0">
                <tr style="height: 275px">
                    <td style="width: 265px; vertical-align: top">
                        <table id="tblBlockMachineMapping" title="BlockMachineMapping List" class="easyui-datagrid" style="width: 265px;
                        height: 275px" toolbar="#toolbarBlockMachineMapping" fitcolumns="false" rownumbers="true"
                               pagination="false" autorowheight="false">
                            <thead>
                                <tr>
                                    <th data-options="field:'Selected',checkbox:true">
                                    </th>
                                    <th field="BlockName" width="180">
                                        Block Name
                                    </th>
                                </tr>
                            </thead>
                        </table>

                    </td>
                </tr>
                <tr style="height: 50px">
                    <td style="width: 450px">
                        <table>
                            <tr>
                                <td style="width: 305px; text-align: left"></td>
                                <td style="width: 50px; text-align: center">
                                    <a href="javascript:void(0)" class="easyui-linkbutton" iconcls="icon-ok" plain="true"
                                       onclick="OkButtonClick()">Ok</a>
                                </td>
                                <td style="width: 50px; text-align: center">
                                    <a href="javascript:void(0)" class="easyui-linkbutton" iconcls="icon-cancel" plain="true"
                                       onclick="Close()">Close</a>
                                </td>
                            </tr>
                        </table>
                    </td>
                </tr>
            </table>
        </div>
</body>
</html>
<script type="text/javascript">
var _bMultipleItemReturn = false;
var _sBaseAddress="";
var _oBlockMachineMappings=[];
$(document).ready(function ()
{
    _oBlockMachineMappings=@Html.Raw(new System.Web.Script.Serialization.JavaScriptSerializer().Serialize(Model));
    _sBaseAddress =@Html.Raw( new System.Web.Script.Serialization.JavaScriptSerializer().Serialize(HttpContext.Current.Session[SessionInfo.BaseAddress]));
    if(_oBlockMachineMappings[0].ErrorMessage !="")
    {
        alert(_oBlockMachineMappings[0].ErrorMessage);
        window.close();
    }
    var obj = window.dialogArguments;
    _bMultipleItemReturn = obj.MultipleItemReturn;
    if(_bMultipleItemReturn==false)
    {
        $('#tblBlockMachineMapping').datagrid('hideColumn','Selected');
        $('#tblBlockMachineMapping').datagrid({ onDblClickRow: function (rowIndex, rowData) { RowDoubleClickEvent(rowIndex, rowData); } });
    }
    RefreshList(_oBlockMachineMappings);
});


function RefreshList(_oBlockMachineMappings)
{
    data = _oBlockMachineMappings;
    data = { "total": "" + data.length + "", "rows": data };
    $('#tblBlockMachineMapping').datagrid('loadData', data);
    $('#tblBlockMachineMapping').datagrid('selectRow',0);
}

function Close()
{
    window.close();
}

function OkButtonClick()
{
        if(_bMultipleItemReturn==true)
        {
            var oSelectedStyles=[];
            var oSelectedStyles = $('#tblBlockMachineMapping').datagrid('getChecked');
            if(oSelectedStyles.length<=0)
            {
                alert("please select atleast one item");
                return;
            }
            window.returnValue= oSelectedStyles;
        }
        else
        {
            var oSelectedStyle= $('#tblBlockMachineMapping').datagrid('getSelected');
            if(oSelectedStyle==null)
            {
                alert("please select a BlockMachineMapping");
                return;
            }
            window.returnValue= oSelectedStyle;
        }
        window.close();
}

$(document).keydown(function (e)
{
    var keyCode = e.keyCode || e.which;
    if (keyCode == 13)
    {
        OkButtonClick();
    }

});


$(document).keydown(function(e) {

    var oBlockMachineMapping= $('#tblBlockMachineMapping').datagrid('getSelected');
    var nIndex=$('#tblBlockMachineMapping').datagrid('getRowIndex', oBlockMachineMapping);
    if(e.which == 38)//up arrow=38
    {
        if(nIndex<=0)
        {
            $('#tblBlockMachineMapping').datagrid('selectRow', 0);
        }
        else
        {
            $('#tblBlockMachineMapping').datagrid('selectRow', nIndex-1);
        }
        //$('#txtStyleNo').blur();
    }
    if(e.which == 40)//down arrow=40
    {
        var oCurrentList = $('#tblBlockMachineMapping').datagrid('getRows');
        if(nIndex>=oCurrentList.length-1)
        {
            $('#tblBlockMachineMapping').datagrid('selectRow', oCurrentList.length-1);
        }
        else
        {
            $('#tblBlockMachineMapping').datagrid('selectRow', nIndex+1);
        }
        //$('#txtStyleNo').blur();
    }
    if(e.which == 13)//enter=13
    {
        //debugger;
        var oSelectedBlockMachineMapping= $('#tblBlockMachineMapping').datagrid('getSelected');
        if(oSelectedBlockMachineMapping ==null )
        {
            alert("Please select an BlockMachineMapping!");
            return;
        }
        window.returnValue = oSelectedBlockMachineMapping;
        window.close();
    }
    if(e.which == 27)//escape=27
    {
        //debugger;
        window.returnValue = null;
        window.close();
    }
});

</script>