<html>
@{ViewBag.Title = "Order Summary";}
<body>

    @model ESimSol.BusinessObjects.OrderRecap
    <div id="winOrderRecap" class="easyui-window" title="Order Recap Search" data-options="modal:true,closed:true,collapsible:false,minimizable:false,maximizable:false,closable:false">
        <div style="font-family:Tahoma">
            <table id="tblPickerOrderRecaps" title="" class="easyui-datagrid" style="width:500px; height: 300px" fit="true" fitcolumns="false" rownumbers="true" singleselect="true" autorowheight="false" toolbar="#OrderRecapToolbar">
                <thead>
                    <tr>
                        <th field="OrderRecapNo" width="150" align="left">Order Recap No</th>
                        <th field="StyleNo" width="150" align="left">Style No</th>
                        <th field="BuyerName" width="150" align="left">Buyer Name</th>
                        <th field="ShipmentDateInString" width="150" align="left">Shipment Date</th>
                        <th field="TotalQuantityInString" width="150" align="right">Qty</th>
                        <th field="ProductName" width="150" align="left">Product</th>
                    </tr>
                </thead>
            </table>
            <div id="OrderRecapToolbar">
                <input type="text" id="txtSearchStyleNo" style="width:120px" placeholder="Type Style No & Press Enter" /><a id="btnPickerStyle" href="javascript:void(0)" class="easyui-linkbutton" iconcls="icon-search" plain="true" onclick="StylePiker()">Pick</a>

                <input type="text" id="txtSearchBuyerName" style="width:120px" placeholder="Type Buyer & Press Enter" />
                <a id="btnPickerBuyer" href="javascript:void(0)" class="easyui-linkbutton" iconcls="icon-search" plain="true" onclick="BuyerPicker()">Pick</a>
                @Html.DropDownList("cboShipmentDate", new SelectList(Enum.GetValues(typeof(ESimSol.BusinessObjects.EnumCompareOperator))), new { id = "cboShipmentDate", style = "width: 100px;font-size:12px;text-align:left", @class = "_select_changeA" })
                <input id="txtStartShipementDate" type="text" class="easyui-datebox" required="required" data-options="formatter:icsdateformat,parser:icsdateparser" style="width:100px" />To
                <input id="txtEndShipementDate" type="text" class="easyui-datebox" required="required" data-options="formatter:icsdateformat,parser:icsdateparser" style="width:100px" />
                <a id="btnPickerRefresh" href="javascript:void(0)" class="easyui-linkbutton" iconcls="icon-search" plain="true">Refresh</a>
            </div>
            <fieldset style="margin-bottom:3px">
                <legend style="font-weight:bold"> Action : </legend>
                <table border="0" cellspacing="2" cellpadding="2" style="font-size:11px; width:950px">
                    <tr>
                        <td style="width:850px; text-align:left"></td>
                        <td style="width:50px">
                            <a id="btnPickerOk" href="javascript:void(0)" class="easyui-linkbutton" iconcls="icon-ok" plain="true">Ok</a>
                        </td>
                        <td style="width:50px">
                            <a id="btnPickerClose" href="javascript:void(0)" class="easyui-linkbutton" iconcls="icon-cancel" plain="true">Close</a>
                        </td>
                    </tr>
                </table>
            </fieldset>
        </div>
    </div>
    <div class="menuMainCollectionTable">
        <div class="easyui-panel" title="" style="font-family:Tahoma;text-align:center;  width:100%;height:90%;">
            <table border="0" cellpadding="2" cellspacing="2" width="100%">
                <tr>
                    <td style="width:24.5%">
                        <div class="divParent">
                            <h4>Order Info</h4><hr>
                        </div>
                        <div class="divat">
                            <ul class="ulList" style="width:100%;">
                                <li style="width:100%;height:17px;"><label style="width:20%;font-weight:normal;">Style No</label><label style="width:75%;font-weight:normal;">: @Model.StyleNo</label></li>
                                <li style="width:100%;height:17px;"><label style="width:20%;font-weight:normal;">PO No</label><label style="width:75%;font-weight:normal;">:@Model.OrderRecapNo</label></li>
                                <li style="width:100%;height:17px;"><label style="width:20%;font-weight:normal;">Buyer</label><label style="width:75%;font-weight:normal;">:@Model.BuyerName</label></li>
                                <li style="width:100%;height:17px;"><label style="width:20%;font-weight:normal;">Qty</label><label style="width:75%;font-weight:normal;">:@Model.TotalQuantityInString @Model.UnitName</label></li>
                                <li style="width:100%;height:17px;"><label style="width:20%;font-weight:normal;">Rate</label><label style="width:75%;font-weight:normal;">:@Model.CurrencySymbol @Model.UnitPriceInString</label></li>
                            </ul>
                        </div>
                        <div class="divDetails">
                            <a id="linkOrderInfo" style="text-align:right;vertical-align:bottom; cursor:pointer;">Details</a>
                        </div>
                    </td>
                    <td style="width:24.5%">
                        <div class="divParent">
                            <h4>Bill Of Material Info</h4><hr>
                        </div>
                        <div class="divat">
                            <ul class="ulList" style="width:100%;">
                                <li style="list-style-type:none; font-weight:bold;width:100%"><label style="width:70%"><u>Item Name</u></label><label style="width:30%;text-align:center"><u>Requre Qty</u></label></li>
                                @for (var i = 0; i < 4; i++)
                                    {
                                        if (@Model.RecapBillOfMaterials.Count() > 0 && i < @Model.RecapBillOfMaterials.Count())
                                        {
                                    <li style="width:100%;height:17px;"><label style="width:70%;font-weight:normal;">@Model.RecapBillOfMaterials[i].ProductName</label><label style="width:30%;text-align:center;font-weight:normal;">@Model.RecapBillOfMaterials[i].ReqQtySt</label></li>
                                        }
                                    }
                            </ul>
                        </div>
                        <div class="divDetails">
                            @if (@Model.RecapBillOfMaterials.Count() > 0)
                            {
                            <a id="linkBillOfMaterial" style="text-align:right;vertical-align:bottom;cursor:pointer;">Details</a>
                            }
                        </div>
                    </td>
                    <td style="width:24.5%">
                        <div class="divParent">
                            <h4>Cost Sheet</h4><hr>
                        </div>
                        <div class="divat">
                            <ul class="ulList" style="width:100%;">
                                @for (var i = 0; i < 4; i++)
                                {
                                    if (@Model.CostSheets.Count() > 0 && i < @Model.CostSheets.Count())
                                    {
                                <li>@Model.CostSheets[i].FileNo ( @Model.CostSheets[i].FOBPricePerPcsInString)<a id="linkCosSheet" style="text-align:right;vertical-align:bottom;cursor:pointer;" onclick="PrintCostSheet( @Model.CostSheets[i].CostSheetID,@Model.CostSheets[i].CostSheetTypeInInt)">Details</a> </li>
                                    }
                                }
                            </ul>
                        </div>
                        <div class="divDetails"> </div>
                    </td>
                </tr>
                <tr>
                    <td style="width:24.5%">
                        <div class="divParent">
                            <h4>Time Action Plan</h4><hr>
                        </div>
                        <div class="divat">
                            <ul class="ulList" style="width:100%;">
                                <li style="width:100%;height:17px;"><label style="width:35%;font-weight:normal;">TAP No</label><label style="width:60%;font-weight:normal;">: @Model.TAP.PlanNo</label></li>
                                <li style="width:100%;height:17px;"><label style="width:35%;font-weight:normal;">Estimated Day</label><label style="width:60%;font-weight:normal;">:@Model.TAP.EstimatedDay</label></li>
                                <li style="width:100%;height:17px;"><label style="width:35%;font-weight:normal;">Task Complete</label><label style="width:60%;font-weight:normal;">:@Model.TAP.CompleteTaskInSt</label></li>
                                <li style="width:100%;height:17px;"><label style="width:35%;font-weight:normal;">Pending Task</label><label style="width:60%;font-weight:normal;">:@Model.TAP.PendingTaskInSt Of @Model.TAP.TotalTaskInSt</label></li>
                            </ul>
                        </div>
                        <div class="divDetails">
                            @if (@Model.TAP.TAPID > 0)
                            {
                                <a id="linkTimeActionPlan" style="text-align:right;vertical-align:bottom;cursor:pointer;" onclick="TAPFollowUP( @Model.TAP.TAPID)">Details</a>
                            }
                        </div>
                    </td>
                    <td style="width:24.5%">
                        <div class="divParent">
                            <h4>Raw Material Sourcing</h4><hr>
                        </div>
                        <div class="divat">
                            <ul class="ulList" style="width:100%;">
                                @for (var i = 0; i < 4; i++)
                                {
                                    if (@Model.RawMaterialSourcings.Count() > 0 && i < @Model.RawMaterialSourcings.Count())
                                    {
                                        <li style="width:100%">@Model.RawMaterialSourcings[i].ProductName, Supplier:@Model.RawMaterialSourcings[i].SupplierName, Required: @Model.RawMaterialSourcings[i].ReqQtySt, Stock:@Model.RawMaterialSourcings[i].BalanceSt </li>
                                    }
                                }
                            </ul>
                        </div>
                        <div class="divDetails">
                            @if (@Model.RawMaterialSourcings.Count() > 0)
                            {
                                <a id="linkRawMaterialSourcing" style="text-align:right;vertical-align:bottom;cursor:pointer;">Details</a>
                            }
                        </div>

                    <td style="width:24.5%">
                        <div class="divParent">
                            <h4>Production Order</h4><hr>
                        </div>
                        <div class="divat">
                            <ul class="ulList" style="width:100%;">
                                @for (var i = 0; i < 4; i++)
                                {
                                    if (@Model.GUProductionOrders.Count() > 0 && i < @Model.GUProductionOrders.Count())
                                    {
                                <li>@Model.GUProductionOrders[i].GUProductionOrderNo dt:@Model.GUProductionOrders[i].ShipmentDateInString (@Model.GUProductionOrders[i].TotalQtySt) <a id="linkGuProductionOrder" style="text-align:right;vertical-align:bottom;cursor:pointer;" onclick="GuProductionOrder(@Model.GUProductionOrders[i].GUProductionOrderID)">Details</a> </li>
                                    }
                                }
                            </ul>
                        </div>
                        <div class="divDetails"></div>
                    </td>
                </tr>
                <tr>
                    <td style="width:24.5%">
                        <div class="divParent">
                            <h4>Delivery</h4><hr>
                        </div>
                        <div class="divat">
                            Under Construction
                            @*<ul class="ulList">
                                    <li></li>
                                    <li></li>
                                    <li></li>
                                    <li></li>
                                    <li></li>
                                </ul>*@
                            @*<a id="linkDelivery" style="text-align:right;vertical-align:bottom;">Details</a>*@
                        </div>
                        <div class="divDetails"></div>
                    </td>
                    <td style="width:24.5%">
                        <div class="divParent">
                            <h4>Commercial</h4><hr>
                        </div>
                        <div class="divat">
                            <ul class="ulList" style="width:100%;">
                                <li>Master LC No : @Model.MasterLCDetail.MasterLCNo</li>
                                <li>LC Value :@Model.MasterLCDetail.LCValueString</li>
                                <li>PI No :@Model.MasterLCDetail.PINo</li>
                                <li>Invoice Qty:@ViewBag.TotalInvoiceQty of @Model.TotalQuantityInString @Model.UnitName</li>
                            </ul>
                        </div>
                        <div class="divDetails">
                            @if (@Model.MasterLCDetail.MasterLCID != 0)
                            {
                                <a id="linkCommercial" style="text-align:right;vertical-align:bottom;cursor:pointer;">Details</a>
                            }
                        </div>
                    </td>
                    <td style="width:24.5%">
                        <div class="divParent">
                            <h4>Production Plan & Execution</h4><hr>
                        </div>
                        <div class="divat">
                            <ul class="ulList" style="width:100%;">
                                <li style="list-style-type:none; font-weight:bold;width:100%"><label style="width:17%"><u>P/U</u></label><label style="width:28%;text-align:center"><u>Line No</u></label><label style="width:55%;text-align:center"><u>Duration</u></label> </li>
                                @for (var i = 0; i < 4; i++)
                                {
                                    if (@Model.ProductionExecutionPlanDetails.Count() > 0 && i < @Model.ProductionExecutionPlanDetails.Count())
                                    {
                                        <li style="width:100%;height:17px;"><label style="width:17%;font-weight:normal;">@Model.ProductionExecutionPlanDetails[i].PUShortName</label><label style="width:28%;text-align:center;font-weight:normal;">@Model.ProductionExecutionPlanDetails[i].LineNo</label><label style="width:55%;text-align:center;font-size:11px;font-weight:normal;">@Model.ProductionExecutionPlanDetails[i].StartDateInString-to-@Model.ProductionExecutionPlanDetails[i].EndDateInString </label></li>
                                    }
                                }
                            </ul>
                        </div>
                        <div class="divDetails">
                            @if (@Model.ProductionExecutionPlanDetails.Count() > 0)
                            {
                                <a id="linkPlanWithExecution" style="text-align:right;vertical-align:bottom;cursor:pointer;">Details</a>
                            }

                        </div>
                    </td>
                </tr>
            </table>
        </div>
        <fieldset style="height:9%;">
            <legend style="font-weight:bold"> Action : </legend>
            <table border="0" cellspacing="2" cellpadding="2" style="font-size:11px; font-weight:bold; width:100%;">
                <tr>
                    <td style="width:85%; text-align:left"><input type="text" id="txtRecapNo" style="width:120px;" placeholder="Type Recap No & Press Enter" /> <a href="javascript:void(0)" class="easyui-linkbutton" iconcls="icon-search" plain="true" onclick="PickOrderRecap()">Pick</a></td>
                    <td style="width:15%;">
                        <a href="javascript:void(0)" class="easyui-linkbutton" iconcls="icon-print" plain="true" onclick="Print()">Print</a>
                        <a href="javascript:void(0)" class="easyui-linkbutton" iconcls="icon-cancel" plain="true" onclick="Close()">Close</a>
                    </td>
                </tr>
            </table>
        </fieldset>
    </div>
</body>
</html>

<style type="text/css">
    .divParent {
        /*overflow:scroll;*/
        height: 32px;
        width: 99%;
        /*background: #d3d0cf;*/
        background: #a4f3fc;
        border-radius: 20px 20px 0px 0px;
        -moz-border-radius: 20px 20px 0px 0px;
        -webkit-border-radius: 20px 20px 0px 0px;
    }

    .divat {
        background:#dad2f6 ;
        height: 108px;
        width: 99%;
        overflow-y: auto;
    }

    .divDetails {
        height: 15px;
        width: 99%;
        background: #a4f3fc;
    }
    .ulList {
        text-align: left;
    }
</style>

<script type="text/javascript">
    var _oOrderRecap=null;
    var _sBaseAddress="";
    var _lBackLink = "";
    var _nMenuID = 0;
    $(document).ready(function (){
        //debugger;
        _sBaseAddress =@Html.Raw( new System.Web.Script.Serialization.JavaScriptSerializer().Serialize(HttpContext.Current.Session[SessionInfo.BaseAddress]));
        _oOrderRecap =@Html.Raw(new System.Web.Script.Serialization.JavaScriptSerializer().Serialize(Model));
        _nMenuID = @Html.Raw(new System.Web.Script.Serialization.JavaScriptSerializer().Serialize(HttpContext.Current.Session[SessionInfo.MenuID]));
        _lBackLink = sessionStorage.getItem("BackLink");

    });

    $('#linkOrderInfo').click(function(){
        if(_oOrderRecap==null || _oOrderRecap.OrderRecapID<=0)
        {
            alert("Sorry, There is NO Order Recap.");
            return;
        }
        window.open(_sBaseAddress + '/OrderRecap/OrderRecapPrintPreview?id='+_oOrderRecap.OrderRecapID, "_blank");
    });

    function PrintCostSheet(nCSID, CostSheetTypeInInt)
    {
        if(parseInt(nCSID)<=0)
        {
            alert("Sorry, There is No Cost Sheet.");
            return;
        }
        if(parseInt(CostSheetTypeInInt)==0 )//EnumCostSheetType{Sweater = 0,Knit = 1,Woven = 2}
        {
            window.open(_sBaseAddress+ '/CostSheet/PrintCostSheetPreview?id='+nCSID);
        }else{
            window.open(_sBaseAddress + '/CostSheet/CostSheetWovenPreview?id='+nCSID);
        }
    }

    function GuProductionOrder(nOrderID)
    {
        if(parseInt(nOrderID)<=0)
        {
            alert("Sorry, There is No Production Order.");
            return;
        }
        window.open(_sBaseAddress + '/GUProductionOrder/PODPreview?id='+nOrderID);
    }
    $('#linkPlanWithExecution').click(function(){
        if(_oOrderRecap==null || _oOrderRecap.OrderRecapID<=0)
        {
            alert("Sorry, There is NO Order Recap.");
            return;
        }
        window.open(_sBaseAddress + '/ProductionTimeSetup/ViewProductionPlan?OrderRecapID='+_oOrderRecap.OrderRecapID+'&menuid=0', "_blank");
    });


    $('#linkBillOfMaterial').click(function(){
        if(_oOrderRecap==null || _oOrderRecap.OrderRecapID<=0)
        {
            alert("Sorry, There is NO Order Recap.");
            return;
        }
        window.open(_sBaseAddress +'/RecapBillOfMaterial/PrintRecapBillOfMaterial?id='+_oOrderRecap.OrderRecapID, "_blank");
    });

    $('#linkRawMaterialSourcing').click(function(){
        if(_oOrderRecap==null || _oOrderRecap.OrderRecapID<=0)
        {
            alert("Sorry, There is NO Order Recap.");
            return;
        }
        window.open(_sBaseAddress+'/OrderSummary/PrintRawMaterialSourcing?id='+_oOrderRecap.OrderRecapID, "_blank");
    });

    function TAPFollowUP(nTAPID)
    {
        if(nTAPID<=0)
        {
            alert("Sorry, There is NO TAP.");
            return;
        }
        window.open(_sBaseAddress + '/TAPExecution/ViewTAPExecutionFollowUp?menuid=0&buid=0&TAPID='+nTAPID, "_blank");
    }


    function RefreshObject()
    {
        debugger;
        var oOrderRecap= {
            OrderRecapID : _oOrderRecap.OrderRecapID,
            OrderRecapName: $("#txtOrderRecapName").val(),
            OrderRecapCode :_oOrderRecap.OrderRecapCode,
            WebAddress:$("#txtWebAddress").val(),
            FaxNo :$("#txtFaxNo").val(),
            EmailAddress:$("#txtEmailAddress").val(),
            ShortName :$("#txtShortName").val(),
            Remarks : $("#txtRemarks").val()
        };
        return oOrderRecap;
    }
    function Save()
    {
        debugger;
        if(!ValidateInput()) return;
        var oOrderRecap=RefreshObject();
        $.ajax({
            type: "POST",
            dataType: "json",
            url : _sBaseAddress+"/OrderRecap/Save",
            traditional: true,
            data:  JSON.stringify(oOrderRecap),
            contentType: "application/json; charset=utf-8",
            success: function (data) {
                //debugger;
                _oOrderRecap = jQuery.parseJSON(data);
                if (_oOrderRecap.ErrorMessage=="" || _oOrderRecap.ErrorMessage==null) {
                    alert("Data Saved sucessfully");
                    var oOrderRecaps = sessionStorage.getItem("OrderRecaps");
                    var nIndex = parseInt(sessionStorage.getItem("SelectedRowIndex"));
                    if (oOrderRecaps != null) {
                        oOrderRecaps = jQuery.parseJSON(oOrderRecaps);
                    }
                    else {
                        oOrderRecaps = [];
                    }
                    if (nIndex != -1) {
                        oOrderRecaps[nIndex] = _oOrderRecap;
                    }
                    else {
                        sessionStorage.setItem("SelectedRowIndex", oOrderRecaps.length);
                        oOrderRecaps.push(_oOrderRecap);
                    }
                    sessionStorage.setItem("OrderRecaps", JSON.stringify(oOrderRecaps));
                    window.location.href = _lBackLink;
                }
                else {
                    alert(_oOrderRecap.ErrorMessage);
                }
            },
            error: function (xhr, status, error) {
                alert(error);
            }

        });
    }

    function Print()
    {
        if(_oOrderRecap==null || _oOrderRecap.OrderRecapID<=0)
        {
            alert("Sorry, There is NO Order Recap.");
            return;
        }
        window.open(_sBaseAddress+'/OrderSummary/PrintOrderSummary?id='+_oOrderRecap.OrderRecapID, "_blank");
    }

     function Close()
     {
         window.location.href = _lBackLink==null?window.location.href:_lBackLink;
     }

    //Picker Code
    function PickOrderRecap()
    {
        $("#winOrderRecap").data("TechnicalSheetIDs","");
        $("#winOrderRecap").data("BuyerIDs","");
        $('#txtSearchStyleNo,#txtBuyerName').val('');
        $('#txtStartShipementDate,#txtEndShipementDate').datebox('setValue', icsdateformat(new Date()));
        DynamicRefreshList([],'tblPickerOrderRecaps');
        $("#winOrderRecap").icsWindow('open', "Pick Order Recap");
    }

    $('#btnPickerRefresh').click(function(e){
        var cboShipmentDate = document.getElementById("cboShipmentDate");
        var nShipmentDate=cboShipmentDate.options[cboShipmentDate.selectedIndex].index;

        if($("#winOrderRecap").data("TechnicalSheetIDs")=="" && $("#winOrderRecap").data("BuyerIDs")=="" && parseInt(nShipmentDate)==0)
        {
            alert("Please Select  at Least One Searcing Criteria.");
            return;
        }
        var oOrderRecap = {BUID:sessionStorage.getItem('BUID'),ErrorMessage:$("#winOrderRecap").data("TechnicalSheetIDs")+'~'+$("#winOrderRecap").data("BuyerIDs")+'~'+parseInt(nShipmentDate)+'~'+$('#txtStartShipementDate').datebox('getValue')+'~'+$('#txtEndShipementDate').datebox('getValue')};
        $.ajax({
            type: "POST",
            dataType: "json",
            url : _sBaseAddress+  "/OrderRecap/GetOrderRecapsForPicker",
            traditional: true,
            data:  JSON.stringify(oOrderRecap),
            contentType: "application/json; charset=utf-8",
            success: function (data) {
                oOrderRecaps = jQuery.parseJSON(data);
                if (oOrderRecaps.length >0 )
                {
                    DynamicRefreshList(oOrderRecaps,'tblPickerOrderRecaps');
                }
                else {
                    alert("Data Not Found");
                }
            },
            error: function (xhr, status, error) {
                alert(error);
            }
        });

    });
    $('#btnPickerOk').click(function(e){
        debugger;
        var oOrderRecap = $('#tblPickerOrderRecaps').datagrid('getSelected');
        if(oOrderRecap==null||oOrderRecap.OrderRecapID<=0)
        {
            alert("Please Select a Item from List.");
            return;
        }
        $("#winOrderRecap").icsWindow('close');
        window.location.href = _sBaseAddress+'/OrderSummary/ViewOrderSummary?id='+oOrderRecap.OrderRecapID+'&buid='+sessionStorage.getItem('BUID')+'&menuid='+_nMenuID;
    });
    $('#btnPickerClose').click(function(e){
        $("#winOrderRecap").icsWindow('close');
    });

    $('#txtSearchStyleNo').keydown(function (e) {
        var code = (e.keyCode ? e.keyCode : e.which);
        if(code==13)//enter
        {
            if($.trim($('#txtSearchStyleNo').val())==null || $.trim($('#txtSearchStyleNo').val())=="")
            {
                alert("Type Style No.");
                return;
            }
            StylePiker();
        }else if (code == 8) //backspace=8
        {
            $("#txtSearchStyleNo").val('');
            $("#txtSearchStyleNo").removeClass("fontColorOfPickItem");
            $('#txtSearchStyleNo').focus();
            $("#winOrderRecap").data("TechnicalSheetIDs","");

        }
    });
    function StylePiker()
    {
        var oTechnicalSheet = { BUID:sessionStorage.getItem('BUID'),StyleNo:$.trim($('#txtStyleNo').val())};
        var obj = {
            BaseAddress: sessionStorage.getItem('BaseAddress'),
            Object: oTechnicalSheet,
            ControllerName: "OrderRecap",
            ActionName: "StyleSearch",
            IsWinClose: false
        };
        $.icsDataGets(obj, function (response) {
            debugger;
            if (response.status && response.objs.length > 0) {
                if (response.objs[0].TechnicalSheetID > 0) {
                    var tblColums = [];
                    var oColumn = { field: "StyleNo", title: "Style No", width:200, align: "left" }; tblColums.push(oColumn);
                    oColumn = { field: "BuyerName", title: "Buyer", width:150, align: "left" }; tblColums.push(oColumn);
                    var oPickerParam = {
                        winid: 'winStyle',
                        winclass: 'clsStyle',
                        winwidth: 600,
                        winheight: 460,
                        tableid: 'tblStyle',
                        tablecolumns: tblColums,
                        datalist: response.objs,
                        multiplereturn: true,
                        searchingbyfieldName: 'NameCode',
                        windowTittle: 'Style List'
                    };
                    $.icsPicker(oPickerParam);
                    DynamicIntializePickerbutton(oPickerParam);
                }
                else {
                    alert(response.objs[0].ErrorMessage);
                }

            } else{
                alert("Data Not Found.");
                return;
            }
        });
    }

    function BuyerPicker()
    {
        var oContractor = {
            Params: '2' + '~' + $.trim($('#txtBuyerName').val())+'~'+sessionStorage.getItem('BUID')
        };

        var obj = {
            BaseAddress: _sBaseAddress,
            Object: oContractor,
            ControllerName: "Contractor",
            ActionName: "ContractorSearchByNameType",
            IsWinClose: false
        };
        debugger;
        $.icsDataGets(obj, function (response) {
            debugger;
            if (response.status && response.objs.length > 0) {
                if (response.objs[0].ContractorID > 0) {
                    var tblColums = []; var oColumn = { field: "Name", title: "Name", width: 200, align: "left" }; tblColums.push(oColumn);
                    oColumn = { field: "Address", title: "Address", width: 120, align: "left" }; tblColums.push(oColumn);
                    oColumn = { field: "Email", title: "Email", width: 90, align: "left" }; tblColums.push(oColumn);
                    oColumn = { field: "ShortName", title: "Short Name", width: 90, align: "left" }; tblColums.push(oColumn);
                    var oPickerParam = {
                        winid: 'winBuyer',
                        winclass: 'clsBuyer',
                        winwidth: 600,
                        winheight: 460,
                        tableid: 'tblBuyer',
                        tablecolumns: tblColums,
                        datalist: response.objs,
                        multiplereturn: true,
                        searchingbyfieldName: 'Name',
                        windowTittle: 'Buyer List'
                    };
                    $.icsPicker(oPickerParam);
                    DynamicIntializePickerbutton(oPickerParam);
                }
                else {
                    alert(response.objs[0].ErrorMessage);
                }

            } else{
                alert("Data Not Found.");
                return;
            }
        });

    }
    $("#txtBuyerName").keydown(function (e) {
        debugger;
        var code = (e.keyCode ? e.keyCode : e.which);
        if (code == 13) // Enter Press
        {
            BuyerPicker();
        }
    });


    $('#txtRecapNo').keydown(function (e) {
        //debugger;
        var code = (e.keyCode ? e.keyCode : e.which);
        if (code == 13) {
            var txtOrderNo = document.getElementById('txtRecapNo').value;
            if(txtOrderNo!="")
            {
      
                var oOrderRecap = {
                    OrderRecapNo:txtOrderNo,
                    BUID:parseInt(sessionStorage.getItem('BUID'))
                };
                var obj = {
                    BaseAddress: _sBaseAddress,
                    Object: oOrderRecap,
                    ControllerName: "OrderRecap",
                    ActionName: "GetOrderRecapsByBU",
                    IsWinClose: false
                };    

                $.icsDataGets(obj, function (response) {
                    debugger;
                    if (response.status && response.objs.length > 0) {
                        if (response.objs[0].OrderRecapID > 0) {
                            var tblColums = []; var oColumn = { field: "OrderRecapNo", title: "OrderRecap No", width: 180, align: "left" }; tblColums.push(oColumn);
                            oColumn = { field: "StyleNo", title: "Style No", width: 160, align: "left" }; tblColums.push(oColumn);
                            oColumn = { field: "BuyerName", title: "Buyer Name", width: 100, align: "left" }; tblColums.push(oColumn);
                            oColumn = { field: "ShipmentDateInString", title: "Shipment Date", width: 100, align: "left" }; tblColums.push(oColumn);
                            oColumn = { field: "TotalQuantityInString", title: "Total Quantity", width: 100, align: "left" }; tblColums.push(oColumn);
                            oColumn = { field: "ProductName", title: "Product Name", width: 100, align: "left" }; tblColums.push(oColumn);

                            var oPickerParam = {
                                winid: 'winOrderRecap',
                                winclass: 'clsOrderRecap',
                                winwidth: 600,
                                winheight: 460,
                                tableid: 'tblOrderRecap',
                                tablecolumns: tblColums,
                                datalist: response.objs,
                                multiplereturn: false,
                                searchingbyfieldName: 'OrderRecapNo',
                                windowTittle: 'Order Recap List'
                            };
                            $.icsPicker(oPickerParam);
                            DynamicIntializePickerbutton(oPickerParam);
                        }
                        else {
                            alert(response.objs[0].ErrorMessage);
                        }

                    } else{
                        alert("Data Not Found.");
                        return;
                    }
                });
                
            }
        }else  if (code == 8) //backspace=8   
        {
            //debugger;     
            var txtOrderNo=document.getElementById("txtRecapNo");   
            txtOrderNo.style.color="black";
            txtOrderNo.style.fontWeight="normal";
            _OrderRecapID=0;             
        } 
    });


    function DynamicIntializePickerbutton(oPickerobj) {
        debugger;
        $("#" + oPickerobj.winid).find("#btnOk").click(function () {
            debugger;
            //for Single Select
            DynamicSetPickerValueAssign(oPickerobj);
        });
        $(document).find('.' + oPickerobj.winclass).keydown(function (e) {
            if (e.which == 13)//enter=13
            {
                DynamicSetPickerValueAssign(oPickerobj);
            }
        });
    }
    function DynamicSetPickerValueAssign(oPickerobj)
    {

        var oreturnObj = null, oreturnobjs = [];
        if (oPickerobj.multiplereturn)
        {
            oreturnobjs = $('#'+oPickerobj.tableid).datagrid('getChecked');
            if (oPickerobj.winid == 'winStyle') 
            {
                if (oreturnobjs != null && oreturnobjs.length> 0)
                {
                    debugger;
                    $('#txtSearchStyleNo').val(oreturnobjs.length+" Item's Selected");
                    $("#winOrderRecap").data("TechnicalSheetIDs",ICS_PropertyConcatation(oreturnobjs,'TechnicalSheetID'));
                }
            }
            if (oPickerobj.winid == 'winBuyer') 
            {
                if (oreturnobjs != null && oreturnobjs.length> 0)
                {
                    debugger;
                    $('#txtSearchBuyerName').val(oreturnobjs.length+" Item's Selected");
                    $("#winOrderRecap").data("BuyerIDs",ICS_PropertyConcatation(oreturnobjs,'ContractorID'));
                }
            }
        } 
        else 
        {
            oreturnObj = $('#'+oPickerobj.tableid).datagrid('getSelected');
            if(oreturnObj==null||oreturnObj.OrderRecapID<=0)
            {
                alert("Please Select Order Recap.");
                return;
            }
            if (oPickerobj.winid == 'winOrderRecap') 
            {
                window.location.href = _sBaseAddress+'/OrderSummary/ViewOrderSummary?id='+oreturnObj.OrderRecapID+'&buid='+sessionStorage.getItem('BUID')+'&menuid='+_nMenuID;
            }
        }
        $("#" + oPickerobj.winid).icsWindow("close");
        $("#" + oPickerobj.winid).remove();
    }

</script>