@{
    ViewBag.Title = "Fabric Batch List";
}
@model IEnumerable<ESimSol.BusinessObjects.FabricBatchQC>
    <div id="progressbarParent" style="width:100%;height:100%;margin:0 auto;text-align:center; margin-left: auto;margin-right: auto;left: 0;right: 0;z-index: 1;">
        <div style="margin: 0px auto;margin-top: 251px;text-align:center;width:390px;">
            <label style="font-size:18px;">Please wait</label>
            <div id="progressbar" style="width:100%;height:37px;"></div>
        </div>
    </div>
    
    <div class="menuMainCollectionTable" id="regionFabricBatchQC">
        <table id="tblFabricBatchQCs" title="Fabric Batch List" class="easyui-datagrid" fit="true" fitcolumns="false" rownumbers="true" pagination="true" singleselect="true" autorowheight="false" toolbar="#toolbar">
            <thead>
                <tr>
                    <th field="FEONo" width="10%">Order No</th>
                    <th field="BatchNo" width="10%">Batch No</th>
                    <th field="StatusSt" width="12%">Status</th>
                    <th field="FabricMachineName" width="15%">Loom No</th>
                    <th field="Construction" width="15%">Construction</th>
                    <th field="LoomQty" formatter="formatPrice" width="10%">Loom Qty(Y)</th>
                    <th field="LoomQtyInMtr" formatter="formatPrice" width="10%">Loom Qty(M)</th>    
                    @*<th field="TotalLength" formatter="formatPrice" width="10%">Ins. Qty</th>*@                
                    <th field="InsQtyInMtr" formatter="formatPrice" width="10%">Ins. Qty (M)</th>
                    <th field="FabricBatchQtyInMtr" formatter="formatPrice" width="10%">Batch Qty (M)</th>
                    <th field="FabricWeaveName" width="12%">Weave</th>
                    <th field="BuyerName" width="15%">Buyer</th>
                </tr>
            </thead>
        </table>
        <div id="toolbar">
            <select id="cboStatus" style="width:130px;height:22px;">
                <option value="0">--Select One--</option>
                <option value="2">Waiting</option>
                <option value="1">Running</option>
            </select>
            <a id="btnSearch" href="javascript:void(0)" class="easyui-linkbutton" iconcls="icon-search" plain="true">Search</a>
            <input id="txtDispoNoGrid" type="text" style="width:160px" placeholder="Type Dispo No & Press Enter" />
            <input id="txtBatchNoGrid" type="text" style="width:160px" placeholder="Type Batch No & Press Enter" />            
            <a id="btnAdvSearch" href="javascript:void(0)" class="easyui-linkbutton" iconcls="icon-search" plain="true">Adv. Search</a>
            <a id="btnAdd" href="javascript:void(0)" class="easyui-linkbutton" iconcls="icon-add" plain="true">Add</a>
            <a id="btnGreigeReport" href="javascript:void(0)" class="easyui-linkbutton" iconcls="icon-print" plain="true">Greige Report</a>
        </div>
    </div>

    <div id="winFabricBatchQC" style="width:1200px;height:600px" class="easyui-window winstyle" title="Fabric Batch QC" data-options="modal:true,closed:true,collapsible:false,minimizable:false,maximizable:false,closable:false">
        <div class="easyui-panel" style="font-family:Tahoma;text-align:center; width:100%;">


            <div id="divFBInfo">
                <fieldset>
                    <legend><label id="lblBatchInfo">Fabric Batch Info: </label></legend>
                    <div style="margin:0 auto;width:90%;">
                        <table border="0" cellpadding="1" cellspacing="1">
                            <tr>
                                <td style="width:10%; text-align:right;">Batch No:</td>
                                <td style="width:45%;text-align:left;">
                                    <input type="text" style="width:40%;" id="txtBatchNo" disabled />
                                    <input type="text" style="width:53%;" id="txtFEONo" disabled />
                                    @*<a id="btnSearchFEONo" href="javascript:void(0)" class="easyui-linkbutton" iconcls="icon-search" plain="true"></a>*@
                                </td>
                                <td style="width:10%; text-align:right;">Reed Count :</td>
                                <td style="width:35%;text-align:left;">
                                    <input type="text" style="width:40%;" id="txtReedCount" disabled />
                                    <label style="width:14%;font-weight:normal;text-align:right;">Status:</label>
                                    <input type="text" style="width:39%;" id="txtStatus" disabled />
                                </td>
                            </tr>
                            <tr>
                                <td style="width:10%; text-align:right;">Construction :</td>
                                <td style="width:45%;text-align:left;">
                                    <input type="text" style="width:94%;" id="txtConstruction" disabled />

                                </td>
                                <td style="width:10%; text-align:right;">Buyer :</td>
                                <td style="width:35%;text-align:left;">
                                    <input type="text" style="width:95%;" id="txtBuyer" disabled />
                                </td>
                            </tr>
                            @*<tr>
                                <td style="width:10%; text-align:right;">Fabric Type:</td>
                                <td style="width:45%;text-align:left;">
                                    <input type="text" style="width:37%;" id="txtFabricType" disabled />
                                    <label style="width:18%;font-weight:normal;text-align:right;">Weave</label>
                                    <input type="text" style="width:37%;" id="txtWeave" disabled />

                                </td>
                                <td style="width:10%; text-align:right;">Order Qty :</td>
                                <td style="width:35%;text-align:left;">
                                    <input type="text" style="width:40%;" id="txtOrderQtyInY" class="number" disabled /> &nbsp;(Y) &nbsp;
                                    <input type="text" style="width:40%;" id="txtOrderQtyInM" class="number" disabled />&nbsp;(M)
                                </td>
                            </tr>*@
                            @*<tr>
                                <td style="width:10%; text-align:right;">Process Type:</td>
                                <td style="width:45%;text-align:left;">
                                    <input type="text" style="width:37%;" id="txtProcessType" disabled />
                                </td>
                                <td style="width:10%; text-align:right;">Beam Length:</td>
                                <td style="width:35%;text-align:left;">
                                    <input type="text" style="width:40%;" id="txtQCLengthY" class="number" disabled /> &nbsp;(Y) &nbsp;
                                    <input type="text" style="width:40%;" id="txtQCLengthM" class="number" disabled />&nbsp;(M)
                                </td>
                            </tr>*@
                        </table>
                    </div>
                </fieldset>
            </div>

            <div style="width:100%;height:415px;">
                <div style="height:100%;width:62%;float:left;margin-right:2px;">
                    <table id="tblFabricBatchQCDetail" title="QC Detail" class="easyui-datagrid" style="height:96%;width:100%" fitcolumns="true" rownumbers="true" pagination="false" singleselect="true" autorowheight="false" toolbar="#toolbarQCDetail" data-options="onClickRow: onClickRow">
                        <thead>
                            <tr>
                                <th data-options="field:'Selected',checkbox:true"></th>
                                <th data-options="field:'LotNo',align:'left',editor:{type:'text'}" width="140px;">Roll No</th>
                                <th field="QCGrade" data-options="formatter:cellFormatterGrade" width="70">Grade</th>
                                <th field="Qty" width="100" align="right">Length(Y)</th>
                                <th data-options="field:'QtyInMeter',align:'right',editor:{type:'numberbox',options:{precision:6}}" width="110;" align="right">Length(M)</th>
                                @*<th field="Width" width="90" align="right">Width(Y)</th>*@
                                <th data-options="field:'Width',align:'right',editor:{type:'numberbox',options:{precision:6}}" width="90;" align="right">Width</th>
                                <th field="DBServerDateTimeStr" width="130">Issue Date</th>
                                <th field="ProDateStr" width="130">Production Date</th>
                                <th field="DeliveryDateSt" width="130">Delivery Date</th>
                                @*<th field="ReedCountWithDent" width="110">ReedCount</th>*@
                                <th field="Remark" width="120">Remark</th>
                            </tr>
                        </thead>
                    </table>
                    <div id="toolbarQCDetail">
                        @*Grade : <select id="cboGrade" style="width:100px;"></select>&nbsp;*@
                        Roll No : <input type="text" id="txtBatchNoInRollNo" style="width:56px;" placeholder="Batch No" disabled /> -
                        <input type="text" id="txtRollNo" style="width:45px;" placeholder="Roll No" />
                        Length: <input type="text" id="txtLengthM" style="width:38px;" class="number" placeholder="Meter" />&nbsp;(M)
                        <input type="text" id="txtLengthY" style="width:39px;" class="number" placeholder="Yard" />&nbsp;(Y)
                        Width: <input type="text" id="txtWidthY" style="width:39px;" class="number" placeholder="Width" />
                        <input type="text" id="txtRemark" style="width:120px;" placeholder="Remark" />
                        <br />
                        @*Width: <input type="text" id="txtWidthM" style="width:38px;" class="number" placeholder="Meter" />&nbsp;(M)*@
                        Shift : <select id="cboShift" style="width:100px;"></select>
                        <a id="btnAddQCDetail" href="javascript:void(0)" class="easyui-linkbutton" iconcls="icon-add" plain="true" onclick="AddQCDetail()">Add</a>                        
                        <a id="btnDeleteQCDetail" href="javascript:void(0)" class="easyui-linkbutton" iconcls="icon-remove" plain="true" onclick="DeleteQCDetail()">Remove</a>
                        <a id="btnLock" href="javascript:void(0)" class="easyui-linkbutton" iconcls="icon-disburse" plain="true" onclick="Lock()">Transfer</a>
                        <a id="btnLoadAll" href="javascript:void(0)" class="easyui-linkbutton" iconcls="icon-reload" plain="true">Load All</a>
                    </div>
                    <div style="width:100%;text-align:left;font-weight:bold;">
                        <label style="margin-right:10px; margin-left: 16px;">Total : </label>
                        <label id="lblTotalLotNo"></label>
                        <label id="nTotalLengthY" style="margin-left: 114px;">0.00</label>&nbsp;(Y)
                        <label id="nTotalLengthM" style="margin-left: 25px;">0.00</label>&nbsp;(M)
                    </div>
                    @*<div style="width:100%; ">
                        <table>
                            <tr>
                                <td style="width:20px"><div style="background-color:lightgreen;height:20px;width:100%;"></div></td>
                                <td style="width:400px">Already Delivered /Received</td>
                            </tr>
                        </table>
                    </div>*@
                </div>
                <div style="height:100%;width:36%;float:right;">
                    <table id="tblFBQCFault" title="FB QC Fault Detail" class="easyui-datagrid" style="height:96%;width:100%" fitcolumns="true" rownumbers="true" pagination="false" singleselect="true" showfooter="true" autorowheight="false" toolbar="#toolbarFBQCFault" data-options="onClickRow:onClickRowFault">
                        <thead>
                            <tr>
                                <th field="FPFName" width="35%">Name</th>
                                <th data-options="field:'FaultPoint',align:'right',editor:{type:'numberbox',options:{precision:2}}" formatter="formatPrice" width="12%" align="right">Point</th>
                                <th data-options="field:'NoOfFault',align:'right',editor:{type:'numberbox',options:{precision:2}}" formatter="formatPrice" width="17%" align="right">No Of Fault</th>
                                <th field="FaultTotal" formatter="formatPrice" width="16%" align="right">Total</th>
                                <th data-options="field:'Remarks',align:'left',editor:{type:'text'}" width="15%">Remarks</th>
                            </tr>
                        </thead>
                    </table>
                    <div id="toolbarFBQCFault">
                        <a id="btnSave" href="javascript:void(0)" class="easyui-linkbutton" iconcls="icon-save" plain="true">Save</a>
                        <a id="btnDeleteFault" href="javascript:void(0)" class="easyui-linkbutton initial-state" iconcls="icon-remove" plain="true">Delete</a>
                        <a id="btnReloadFault" href="javascript:void(0)" class="easyui-linkbutton initial-state" iconcls="icon-reload" plain="true">Reload</a>
                    </div>
                    <div style="width:100%;text-align:left;font-weight:bold;">
                        <label style="margin-right:10px; margin-left: 16px;">Total Defect Point : </label>
                        <label id="lblTotalDefectPoint">0.00</label>
                        @*<label style="margin-left:100px; margin-right: 16px;">Total : </label>
                        <label id="lblTotalFaultTotal">0.00</label>*@
                    </div>
                </div>
            </div>

            <fieldset style="min-height:11%">
                <legend style="font-weight:bold">Actions</legend>
                <table border="0" cellspacing="0" cellpadding="1" style="font-size:11px; font-weight:bold;width:100%">
                    <tr>
                        <td style="width:50%; text-align:right;padding-left:80px;">
                            <a id="btnCheckingParameter" style="float:left;" href="javascript:void(0)" class="easyui-linkbutton" iconcls="icon-pick" plain="true">Checking Parameter</a>
                            <a id="btnPrintFabricBatchQC" style="float:left;" href="javascript:void(0)" class="easyui-linkbutton" iconcls="icon-print" plain="true">Preview</a>
                            <a id="btnPrintFabricBatchQC2" style="float:left;" href="javascript:void(0)" class="easyui-linkbutton" iconcls="icon-print" plain="true">Preview 2</a>
                        </td>
                        <td style="width:40%; text-align:right;" id="btnQCDone">
                            <input id="txtPercentage" type="text" value="80" style="width:25px;" class="number" />%
                            <label style="margin-left:10px;"> Charge:</label>
                            <select id="cboEmployee" style="min-width:100px;"></select>
                            <a href="javascript:void(0)" class="easyui-linkbutton" iconcls="icon-save" plain="true" onclick="QCDone()">QC Done</a>
                            <label style="width:30px;"> </label>
                        </td>
                        <td style="width:40%;">
                            <a href=" javascript:void(0)" id="btnCloseFabricBatchQC" class="easyui-linkbutton" style="float:right;" iconcls="icon-cancel" plain="true">Close</a>
                        </td>
                        
                    </tr>
                </table>
            </fieldset>

        </div>
    </div>

    <div id="winCheckingParameters" class="easyui-window winstyle" title="Checking Parameters" style=" height:40%;width:30%" data-options="modal:true,closed:true,collapsible:false,minimizable:false,maximizable:false,closable:false">
    <div  style="overflow:hidden;display:block;height:70%">
        <table id="tblFabricBatchQCChecks" class="easyui-datagrid" style="height:100%" fit="true" fitcolumns="true" rownumbers="true" pagination="false" singleselect="true" autorowheight="false" toolbar="#toolbarParam" data-options="onClickRow:onclickrowCheckingParameter">
            <thead>
                <tr>
                    <th field="Name" width="80">Parameter Name</th>
                    <th data-options="field:'Note',width:160, align:'Left',editor:{type:'text'}">Comment</th>
                </tr>
            </thead>
        </table>
        <div id="toolbarParam">
            <a id="btnCPRefresh" href="javascript:void(0)" class="easyui-linkbutton easyui-tooltip" title="Delete" iconcls="icon-reload" plain="true">Refresh</a>
            <a id="btnCPDelete" href="javascript:void(0)" class="easyui-linkbutton easyui-tooltip" title="Delete" iconcls="icon-remove" plain="true">Delete</a>
            <a id="btnCPReload" href="javascript:void(0)" class="easyui-linkbutton easyui-tooltip" title="Delete" iconcls="icon-reload" plain="true">Reload</a>
            
        </div>
    </div> 
    <div style="display:block;overflow:hidden;">
        <fieldset style="height:10%">
            <legend style="font-weight: bold">Action : </legend>
            <table border="0" cellspacing="2" cellpadding="2" style="font-size: 11px; font-weight: bold; width:100%">
                <tr>
                    <td style="width:60%; text-align:right"></td>
                    <td style="width:40%;text-align:right;">
                        <a id="btnCPSave" href="javascript:void(0)" class="easyui-linkbutton" iconcls="icon-save" plain="true">Save</a>
                        <a id="btnCPClose" href="javascript:void(0)" class="easyui-linkbutton" iconcls="icon-cancel" plain="true">Close</a>
                    </td>
                </tr>
            </table>
        </fieldset>
    </div>
</div>

    <div id="winFabricQCLockDateWindow" style="width:300px;" class="easyui-window" title="" data-options="modal:true,closed:true,collapsible:false,minimizable:false,maximizable:false,closable:false">
            <div id="divwinFabricBatch" tabindex="-1">
                <fieldset>
                    <table style="width:100%;">
                        <tr>
                            <td>
                                <label>Production Date</label>
                            </td>
                            <td>
                                <input id="dtProDate" type="text" style="width: 120px;" class="easyui-datebox" required="required" data-options="formatter:icsdateformat,parser:icsdateparser" />
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <label>Delivery Date</label>
                            </td>
                            <td>
                                <input id="dtDeliveryDate" type="text" style="width: 120px;" class="easyui-datebox" required="required" data-options="formatter:icsdateformat,parser:icsdateparser" />
                            </td>
                        </tr>
                    </table>
                </fieldset>
                <fieldset>
                    <legend>Actions</legend>
                    <div style="float:right;">
                        <a id="btnOKTransfer" href="javascript:void(0)" class="easyui-linkbutton" iconcls="icon-save" plain="true"> OK </a>
                        <a id="btnCloseWindowLockDate" href="javascript:void(0)" class="easyui-linkbutton" iconcls="icon-cancel" plain="true">Close</a>
                    </div>
                </fieldset>
            </div>
        </div>

    <div id="winAdvSearch" class="easyui-window winClass" style=" width:500px;" title=" adv. search" data-options="modal:true,closed:true,collapsible:false,minimizable:false,maximizable:false,closable:false">
            <table style="width:100%;">
                <tr>
                    <td>
                        <fieldset style="margin-bottom: 0px;">
                            <legend>Searching Criteria</legend>
                            <table>
                                <tr>
                                    <td style=" width:20%;text-align:right;">
                                        <label>Dispo No : </label>
                                    </td>
                                    <td colspan="3" style="width:80%;text-align:left;">
                                        <input id="txtDispoNoAdv" type="text" style="width:98%" />
                                    </td>
                                </tr>
                                <tr>
                                    <td style=" width:20%;text-align:right;">
                                        <label>Batch No : </label>
                                    </td>
                                    <td colspan="3" style="width:80%;text-align:left;">
                                        <input id="txtBatchNoAdv" type="text" style="width:98%" />
                                    </td>
                                </tr>
                                <tr>
                                    <td style=" width:20%;text-align:right;">
                                        <label>Grade : </label>
                                    </td>
                                    <td colspan="3" style="width:80%;text-align:left;">
                                        <select id="cboGradeAdv" style="width:98%;"></select>
                                    </td>
                                </tr>
                                <tr>
                                    <td style=" width:20%;text-align:right;">
                                        <label>Start Date : </label>
                                    </td>
                                    <td colspan="3">
                                        <select id="cboStartDateAdv" style="width:30%;height:22px;" onchange="DateActions_StartDateAdv(); "></select>
                                        <input id="txtFromStartDateAdv" type="text" style="width: 100px;" class="easyui-datebox" required="required" data-options="formatter:icsdateformat,parser:icsdateparser" />To
                                        <input id="txtToStartDateAdv" type="text" style="width: 100px;" class="easyui-datebox" required="required" data-options="formatter:icsdateformat,parser:icsdateparser" />
                                    </td>
                                </tr>
                                <tr>
                                    <td height="5px" colspan="4"></td>
                                </tr>
                            </table>
                        </fieldset>
                    </td>
                </tr>
            </table>

            <fieldset class="actionfieldsetstyle">
                <legend>Actions : </legend>
                <label class="lblLoadingMessage" style="float: left;">Loading Please Wait...</label>
                <a id="btnSearchAdvSearch" href="javascript:void(0)" class="easyui-linkbutton" iconcls="icon-search" plain="true">Search</a>
                <a id="btnCloseAdvSearch" href="javascript:void(0)" class="easyui-linkbutton" iconcls="icon-cancel" plain="true">Close</a>
            </fieldset>
        </div>

    <script type="text/javascript">
    debugger;
    var _oFabricBatchQC=null;
    var _oFabricBatchQCs=[];
    var _sBaseAddress="";
    var _oAuthorizationRolesMapping=[];
    var _oEmployees = [];
    var _oFabricQCGrades = [];
    var _nFEOID=0;
    var _nFBID=0;
    var _oFaults = [];
    var _oFabricQCParNames = [];
    var _oShifts = [];
    var _oFaultTypes = [];
    var _nFEOID=0;
    var _nFBID=0;
    var _oCompareOperators=[];
    var _nTotalLeninY = 0;
    $(document).ready(function () {
        debugger;
        _oFabricBatchQCs =@Html.Raw( new System.Web.Script.Serialization.JavaScriptSerializer().Serialize(Model));
        _sBaseAddress =@Html.Raw( new System.Web.Script.Serialization.JavaScriptSerializer().Serialize(HttpContext.Current.Session[SessionInfo.BaseAddress]));
        _oAuthorizationRolesMapping =@Html.Raw( new System.Web.Script.Serialization.JavaScriptSerializer().Serialize(HttpContext.Current.Session[SessionInfo.AuthorizationRolesMapping]));
        var nBUID = @Html.Raw(new System.Web.Script.Serialization.JavaScriptSerializer().Serialize(ViewBag.BUID));
        _oEmployees = @Html.Raw(new System.Web.Script.Serialization.JavaScriptSerializer().Serialize(@ViewBag.Employees));
        _oFabricQCGrades = @Html.Raw(new System.Web.Script.Serialization.JavaScriptSerializer().Serialize(@ViewBag.FabricQCGrades));
        _oShifts = @Html.Raw(new System.Web.Script.Serialization.JavaScriptSerializer().Serialize(@ViewBag.Shifts));
        _oFaults = @Html.Raw(new System.Web.Script.Serialization.JavaScriptSerializer().Serialize(@ViewBag.Faults));
        _oFabricQCParNames = @Html.Raw(new System.Web.Script.Serialization.JavaScriptSerializer().Serialize(@ViewBag.FabricQCParNames));
        _oFaultTypes=@Html.Raw(new System.Web.Script.Serialization.JavaScriptSerializer().Serialize(@ViewBag.FaultTypes));
        _oCompareOperators=@Html.Raw(new System.Web.Script.Serialization.JavaScriptSerializer().Serialize(@ViewBag.CompareOperators));

        sessionStorage.setItem("BUID",nBUID);
        var oFabricBatchQCs =sessionStorage.getItem("FabricBatchQCs");
        if(oFabricBatchQCs!=null)
        {
            oFabricBatchQCs = jQuery.parseJSON(oFabricBatchQCs);
        }
        else
        {
            oFabricBatchQCs=_oFabricBatchQCs;
        }
        RefreshList(oFabricBatchQCs);

        $("#cboEmployee").icsLoadCombo({List: _oEmployees,OptionValue: "EmployeeID",DisplayText: "Name"});
        $("#cboGrade").icsLoadCombo({List: _oFabricQCGrades,OptionValue: "FabricQCGradeID", DisplayText: "Name"});
        $("#cboShift").icsLoadCombo({List: _oShifts,OptionValue: "ShiftID", DisplayText: "ShiftWithDuration"});
        $("#cboFaultType").icsLoadCombo({List: _oFaultTypes,OptionValue: "id", DisplayText: "Value", InitialValue:""});

        $("#progressbar").progressbar({ value: 0 });
        $("#progressbarParent").hide();
        $("#txtBatchNo").data('FabricBatchLoomID',0);
        sessionStorage.setItem("ParamsSO", "");
    });
    function updateProgress() {
        var value =$('#progressbar').progressbar('getValue');
        if (value < 96){
            value += Math.floor(Math.random() * 10);
            $('#progressbar').progressbar('setValue', value);
        }
    }
    function hideShow(miliseconds) {
        $("#progressbarParent").hide();
    }
    function RefreshList(oFabricBatchQCs)
    {
        debugger;
        var data=oFabricBatchQCs;
        data={"total":""+data.length+"","rows":data};
        $('#tblFabricBatchQCs').datagrid('loadData',data);
        var nIndex= parseInt(sessionStorage.getItem("SelectedRowIndex"));
        $('#tblFabricBatchQCs').datagrid('selectRow',nIndex);
    }

    $('#tblFabricBatchQCDetail').datagrid({
        rowStyler:function(index,row){
            if (row.DeliveryBy!=0){
                return 'background-color:lightgreen;color:blue;font-weight:bold;';
            }
        }
    });

    function cellFormatterGrade(value,row,index) {
        if ( row.DeliveryBy == 0) {
            debugger
            if(row.QCGrade==''){row.QCGrade='Pick'}
            return '<input type=button value='+row.QCGrade+'  onclick="PickGrade('+row.FBQCDetailID+')"/>';
        }
        return row.QCGrade
    }

    $("#txtRollNo").keydown(function(e){
        if(e.keyCode===13)
        {
            if($.trim($(this).val()) == "")
            {
                alert("Give roll no.");
                $(this).focus();
                return false;
            }

            $("#txtLengthM").focus();
            $("#txtLengthY").val("");
            $("#txtLengthM").val("");
        }
    });

    $("#txtLengthM,#txtRemark").keydown(function(e){
        if(e.keyCode === 13)
        {
            AddQCDetail();
        }
    });

    $("#txtLengthY").keyup(function (e) {
        var nVal =  $(this).val();
        $('#txtLengthM').val(GetMeter(nVal,6));
        if (nVal == "" || nVal == null) {
            $(this).val("");
        }
    });

    $("#txtLengthM").keyup(function (e) {
        var nVal = $(this).val();
        $('#txtLengthY').val(GetYard(nVal,6));
        if (nVal == "" || nVal == null) {
            $(this).val("");
        }
    });

    //$("#txtWidthY").keyup(function (e) {
    //    var nVal =  $(this).val();
    //    $('#txtWidthM').val(GetMeter(nVal,6));
    //    if (nVal == "" || nVal == null) {
    //        $(this).val("");
    //    }
    //});

    //$("#txtWidthM").keyup(function (e) {
    //    var nVal = $(this).val();
    //    $('#txtWidthY').val(GetYard(nVal,6));
    //    if (nVal == "" || nVal == null) {
    //        $(this).val("");
    //    }
    //});

    $("#btnSearch").click(function(){
        debugger;
        if(parseInt($("#cboStatus").val()) <= 0){
            alert("Please select status!!");
            return;
        }
        var oFabricBatch={
            NoOfSection: parseInt($("#cboStatus").val())
        }
        $.ajax
            ({
                type: "POST",
                dataType: "json",
                url : _sBaseAddress+"/FabricBatch/GetFabricBatchQCs",
                traditional: true,
                data:  JSON.stringify(oFabricBatch),
                contentType: "application/json; charset=utf-8",
                success: function (data) {
                    debugger;
                    var oFabricBatchQCs = data;
                    if(oFabricBatchQCs.length > 0){
                        if(oFabricBatchQCs[0].ErrorMessage == "" || oFabricBatchQCs[0].ErrorMessage == null)
                            DynamicRefreshList(oFabricBatchQCs, "tblFabricBatchQCs");
                        else
                            alert(oFabricBatchQCs[0].ErrorMessage);
                    }else{
                        alert("No Data Found!!");
                    }

                },
                error: function (xhr, status, error){
                    alert(error);
                }
            });

    });

    $('#btnCloseFabricBatchQC').click(function(e) {
        $("#winFabricBatchQC").icsWindow('close');
    });

    $("#btnAdd").click(function(){
        debugger;
        endEditing();
        _oFabricBatchQC = $('#tblFabricBatchQCs').datagrid('getSelected');
        var SelectedRowIndex=$('#tblFabricBatchQCs').datagrid('getRowIndex',_oFabricBatchQC);
        if(_oFabricBatchQC==null){
            alert("Please select a item from list!");
            return;
        }
        if(_oFabricBatchQC.FBID <= 0){
            alert("Fabric batch not found!!");
            return;
        }
        if(_oFabricBatchQC.FabricBatchLoomID <= 0){
            alert("Fabric Batch Loom not found!!");
            return;
        }
        $("#txtBatchNo").data('FabricBatchLoomID',_oFabricBatchQC.FabricBatchLoomID);
        $("#txtFEONo").val(_oFabricBatchQC.FEONo);
        //_oFabricBatchQC.FBQCID = 0;
        _nFBID = _oFabricBatchQC.FBID;
        $('#btnQCDone').hide();
        $.ajax
            ({
                type: "POST",
                dataType: "json",
                url : _sBaseAddress+"/FabricBatch/GetFabricBatch",
                traditional: true,
                data:  JSON.stringify(_oFabricBatchQC),
                contentType: "application/json; charset=utf-8",
                success: function (data) {
                    debugger;
                    var oFabricBatch = jQuery.parseJSON(data);
                    if(oFabricBatch.ErrorMessage == "" || oFabricBatch.ErrorMessage == null){
                        if(oFabricBatch.FBID > 0){
                            SetData(oFabricBatch);
                            $('#toolbarFBQCFault').show();
                            $("#lblTotalDefectPoint").text("0.00");
                            $("#winFabricBatchQC").icsWindow('open', "Fabric Batch QC");
                        }else{
                            alert("No Fabric Batch found!!");
                        }
                    }else
                        alert(oFabricBatch.ErrorMessage);
                },
                error: function (xhr, status, error){
                    alert(error);
                }
            });
    });

    function SetData(oFabricBatch){
        $("#txtBatchNo,#txtBatchNoInRollNo").val(oFabricBatch.BatchNo);
        $("#txtFEONo").val(oFabricBatch.FEONo);
        $("#txtStatus").val(oFabricBatch.StatusInSt);
        $("#txtConstruction").val(oFabricBatch.Construction);
        $("#txtReedCount").val(oFabricBatch.ReedCountWithDent);
        $("#txtBuyer").val(oFabricBatch.BuyerName);
        //$("#txtFabricType").val(oFabricBatch.FinishTypeInString);
        //$("#txtProcessType").val(oFabricBatch.ProcessTypeName);
        //$("#txtWeave").val(oFabricBatch.Weave);
        $("#lblBatchInfo").text("Fabric Batch Info: [Loom No: "+_oFabricBatchQC.FabricMachineName+"] [Order Qty: " + oFabricBatch.OrderQty.toFixed(2) + "(Y) " + formatPrice(GetMeter(oFabricBatch.OrderQty,2)) + "(M)] [Loom Qty: " + formatPrice(parseFloat(_oFabricBatchQC.LoomQty.toFixed(2))) + "(Y) " + formatPrice(GetMeter(parseFloat(_oFabricBatchQC.LoomQty.toFixed(2)),2)) + "(M)]" );
        //$("#txtOrderQtyInY").val(formatPrice(oFabricBatch.OrderQty.toFixed(2)));
        //$("#txtOrderQtyInM").val(formatPrice(GetMeter(oFabricBatch.OrderQty,2)));
        //$("#txtQCLengthY").val(formatPrice(parseFloat($("#txtQCLengthY").data('Qty').toFixed(2))));
        //$("#txtQCLengthM").val(formatPrice(GetMeter(parseFloat($("#txtQCLengthY").data('Qty').toFixed(2)),2)));

        _oFabricBatchQC.FBID = oFabricBatch.FBID;
        _oFabricBatchQC.StatusInInt = oFabricBatch.StatusInInt;
        //_oFabricBatchQC.FBQCID = 0;
        debugger;
        ResetAllTables("tblFBQCFault","tblFabricBatchQCDetail");
        if(parseInt(oFabricBatch.StatusInInt)>0)
        {
            _nFBID=oFabricBatch.FBID;
            GetQCInformation(oFabricBatch.FBID, _oFabricBatchQC.FBQCID);
        }
        if(parseInt(oFabricBatch.StatusInInt)==10)//In QC
        {
            $('#cboShift').val(0);
            $('#btnQCDone').show();
        }
        if(parseInt(oFabricBatch.StatusInInt)>10 && parseInt(oFabricBatch.StatusInInt)!=13)//QC Done, 13 = InStore
        {
            $('#cboShift').val(0);
            $('#btnAddQCDetail,#btnDeleteQCDetail,#btnLock').hide();
        }
    }

    function GetQCInformation(nFBID, nFBQCID)
    {
        if (parseInt(nFBID) > 0)
        {
            $.ajax
            ({
                type: "GET",
                dataType: "json",
                url : _sBaseAddress+  "/FabricBatch/GetQCByProduction",
                data: { id: nFBID, nFBQCID: nFBQCID},
                contentType: "application/json; charset=utf-8",
                success: function (data) {
                    debugger;
                    var oFabricBatchQC = jQuery.parseJSON(data);
                    if(parseInt(oFabricBatchQC.FBQCID)>0)
                    {
                        _oFabricBatchQC = oFabricBatchQC;
                        $('#cboEmployee').val(_oFabricBatchQC.QCInCharge);
                        if(parseInt(oFabricBatchQC.FabricBatchStatusInInt)==10)
                            $('#btnQCDone').show();
                        $("#btnCheckingParameter,#btnPrintFabricBatchQC,#btnPrintFabricBatchQC2").show();
                    }
                    DynamicRefreshListForMultipleSelection(oFabricBatchQC.FabricBatchQCDetails,"tblFabricBatchQCDetail");
                    if(oFabricBatchQC.FabricBatchQCDetails.length > 0)
                    {
                        _oFabricBatchQC.FBQCID = oFabricBatchQC.FabricBatchQCDetails[0].FBQCID;
                        $('#cboShift').val(oFabricBatchQC.FabricBatchQCDetails[oFabricBatchQC.FabricBatchQCDetails.length-1].ShiftID);
                    }
                    SetTotal();
                },
                error: function (xhr, status, error)
                {
                    alert(error);
                }

            });
        }
    }

    function SetTotal()
    {
        var oFBQDetails = $('#tblFabricBatchQCDetail').datagrid('getRows');
        _nTotalLeninY = 0;
        var nLength = oFBQDetails.length;
        for(var i = 0;i<nLength;i++)
        {
            _nTotalLeninY = parseFloat(_nTotalLeninY)+ parseFloat(oFBQDetails[i].Qty);
        }
        $("#lblTotalLotNo").html(nLength);
        $('#nTotalLengthY').html(_nTotalLeninY.toFixed(2));
        debugger;
        var QtyInMtr=parseFloat(GetMeter(_nTotalLeninY,2)).toFixed(2);

        $('#nTotalLengthM').html(QtyInMtr);
    }

    var _sLotNo = ""; //Roll No
    var _nQtyMeterFDOD = 0;
    var _nWidthFDOD = 0;
    var editIndex = undefined;
    function onClickRow(index) {
        if (endEditing()) {
            $('#tblFabricBatchQCDetail').datagrid('selectRow', index).datagrid('beginEdit', index);
            var oFBQCDetail = $('#tblFabricBatchQCDetail').datagrid('getSelected');
            _sLotNo = oFBQCDetail.LotNo;
            _nQtyMeter = oFBQCDetail.QtyInMeter;
            _nWidthFDOD = oFBQCDetail.Width;
            GetFabricBatchQCFault(oFBQCDetail)
            debugger;
            if (oFBQCDetail.DeliveryBy!=0)
                $('#toolbarFBQCFault').hide();
            else
                $('#toolbarFBQCFault').show();
            editIndex = index;
        }
        else {
            $('#tblFabricBatchQCDetail').datagrid('selectRow', editIndex);
        }
    }
    function endEditing() {
        if (editIndex == undefined) {
            return true;
        }
        debugger;
        if ($('#tblFabricBatchQCDetail').datagrid('validateRow', editIndex)) {

            $('#tblFabricBatchQCDetail').datagrid('endEdit', editIndex);
            $('#tblFabricBatchQCDetail').datagrid('selectRow', editIndex);
            var oFBQCDetail = $('#tblFabricBatchQCDetail').datagrid('getSelected');
            var sTempLotNo = _sLotNo;
            var nTempIndex = editIndex;
            if(_sLotNo != oFBQCDetail.LotNo || _nQtyMeter != parseFloat(oFBQCDetail.QtyInMeter) || _nWidthFDOD != parseFloat(oFBQCDetail.Width) )
            {
                oFBQCDetail.Qty = GetYard(oFBQCDetail.QtyInMeter,8);
                oFBQCDetail.Qty = parseFloat(parseFloat(oFBQCDetail.Qty).toFixed(6));
                oFBQCDetail.QtySt = formatPrice(oFBQCDetail.Qty,6);
                oFBQCDetail.Width = parseFloat(parseFloat(oFBQCDetail.Width).toFixed(6));
                //$("#tblFabricBatchQCDetail").datagrid("updateRow", { index: editIndex, row: oFBQCDetail });

                var obj = {
                    BaseAddress: _sBaseAddress,
                    Object: oFBQCDetail,
                    ObjectId: oFBQCDetail.FBQCDetailID,
                    ControllerName: "FabricBatch",
                    ActionName: "SaveQCDetail",
                    TableId: "",
                    IsWinClose: false,
                    Message: ""
                };
                $.icsSave(obj, function (response) {
                    if (response.status && response.obj != null) {
                        if($.trim(response.obj.ErrorMessage) == "")
                        {
                            //oFBQCDetail.LotNo = sTempLotNo;
                            $("#tblFabricBatchQCDetail").datagrid("updateRow", { index: nTempIndex, row: response.obj });
                            $('#tblFabricBatchQCDetail').datagrid('selectRow', nTempIndex);
                            debugger;
                            SetTotal();
                            var oFBQC = $('#tblFabricBatchQCs').datagrid('getSelected');
                            var nSInd=$('#tblFabricBatchQCs').datagrid('getRowIndex',oFBQC);
                            oFBQC.TotalLength = _nTotalLeninY;
                            oFBQC.InsQty = _nTotalLeninY;
                            $('#tblFabricBatchQCs').datagrid('updateRow', { index: nSInd, row: oFBQC });
                        }
                    }
                });
            }
            editIndex = undefined;
            return true;
        }
        else {
            return false;
        }
    }

    var editIndexFault = undefined;
    function endEditingFault(){
        if (editIndexFault == undefined){return true}
        if ($('#tblFBQCFault').datagrid('validateRow', editIndexFault)){
            $('#tblFBQCFault').datagrid('endEdit', editIndexFault);
            $('#tblFBQCFault').datagrid('selectRow',editIndexFault);
            var oQCFault=$('#tblFBQCFault').datagrid('getSelected');
            if(oQCFault!=null)
            {
                oQCFault.NoOfFault = parseFloat(oQCFault.NoOfFault);
                oQCFault.FaultPoint = parseFloat(oQCFault.FaultPoint);
                oQCFault.FaultTotal = parseFloat(oQCFault.NoOfFault)*parseFloat(oQCFault.FaultPoint);
                $('#tblFBQCFault').datagrid('updateRow',{index: editIndexFault,	row: oQCFault});
            }
            editIndexFault = undefined;
            return true;
        }
        else
        {
            return false;
        }
    }
    function onClickRowFault(index){
        if (editIndexFault != index){
            if (endEditingFault())
            {
                $('#tblFBQCFault').datagrid('selectRow', index).datagrid('beginEdit', index);
                editIndexFault = index;
            }
            else
            {
                $('#tblFBQCFault').datagrid('selectRow', editIndexFault);
            }
        }
    }

    function GetFabricBatchQCFault(oFNBQCD)
    {
        debugger;
        endEditingFault();
        var oFabricBatchQCDetail = {
            FBQCDetailID: oFNBQCD.FBQCDetailID,
            FBQCID: oFNBQCD.FBQCID
        }

        $.ajax({
            type: "POST",
            dataType: "json",
            url : _sBaseAddress+  "/FabricBatch/GetFabricBatchQCFalults",
            traditional: true,
            data:  JSON.stringify(oFabricBatchQCDetail),
            contentType: "application/json; charset=utf-8",
            success: function (data) {
                var oFabricBatchQCFaults = jQuery.parseJSON(data);
                if(oFabricBatchQCFaults.length > 0){
                    DynamicRefreshList(oFabricBatchQCFaults,'tblFBQCFault');
                }else{
                    DynamicRefreshList([],'tblFBQCFault');
                    for(var i=0;i<_oFaults.length;i++){
                        var oDetail = {
                            FBQCFaultID: 0,
                            FBQCDetailID: oFNBQCD.FBQCDetailID,
                            FPFID: _oFaults[i].FPFID,
                            FPFName: _oFaults[i].Name,
                            FaultPoint: 4,
                            NoOfFault: 0,
                            FaultTotal: 0
                        }
                        $('#tblFBQCFault').datagrid('appendRow',oDetail);
                    }

                }
                $.icsMakeFooterColumn('tblFBQCFault',['FPFName','FaultPoint','NoOfFault','FaultTotal']);
                SetDefectPoint();
            },
            error: function (xhr, status, error) {
                alert(error);
            }
        });
    }

    function AddQCDetail()
    {
        debugger;
        if(parseInt(_oFabricBatchQC.FBID)<=0)
        {
            alert("Please select Fabric Batch");
            return false;
        }
        //if (parseInt($("#cboGrade").val()) == 0) {
        //    alert("Please select Grade");
        //    $("#cboGrade").focus();
        //    $("#cboGrade").addClass("errorFieldBorder");
        //    return false;
        //} else {
        //    $("#cboGrade").removeClass("errorFieldBorder");
        //}

        if($.trim($("#txtRollNo").val()) == "")
        {
            alert("Give roll no.");
            $("#txtRollNo").focus();
            return false;
        }

        if (parseFloat($("#txtLengthY").val())<= 0) {
            alert("Length should be greater than 0");
            $("#txtLengthY").focus();
            $("#txtLengthY").addClass("errorFieldBorder");
            return false;
        } else {
            $("#txtLengthY").removeClass("errorFieldBorder");
        }

        if (parseFloat($("#txtWidthY").val())<= 0) {
            alert("Width should be greater than 0");
            $("#txtWidthY").focus();
            $("#txtWidthY").addClass("errorFieldBorder");
            return false;
        } else {
            $("#txtWidthY").removeClass("errorFieldBorder");
        }

        if ($("#cboShift").val()<= 0) {
            alert("Select shift");
            $("#cboShift").focus();
            $("#cboShift").addClass("errorFieldBorder");
            return false;
        } else {
            $("#cboShift").removeClass("errorFieldBorder");
        }
        if(parseInt($('#txtBatchNo').data('FabricBatchLoomID')) <= 0){
            alert("Fabric Batch Loom not found!!");
            return;
        }

        var oRows = $("#tblFabricBatchQCDetail").datagrid("getRows");
        var nTotalQtyInMeter = 0;
        for(var i=0;i<oRows.length;i++){
            nTotalQtyInMeter += oRows[i].QtyInMeter;
        }
        //if((nTotalQtyInMeter + parseFloat($("#txtLengthM").val())) > (parseFloat(_oFabricBatchQC.LoomQtyInMtr)+0.1)){
        //    alert("Total Detail Qty can not be greater than Loom Qty!!");
        //    return;
        //}

        var nGrade =$("#cboGrade").val();
        var sGrade =$("#cboGrade option:selected").text();

        var oFBQCDetail = {
            FBQCID : _oFabricBatchQC.FBQCID,
            FBQCDetailID :0,
            LotNo : $.trim($("#txtRollNo").val()),
            Qty : $("#txtLengthY").val(),
            QtyInMeter:GetMeter($("#txtLengthY").val(),8),//get meter
            FabricQCGradeID : 0,
            ShiftID : $("#cboShift").val(),
            //FabricBatchLoomID : $('#txtBatchNo').data('FabricBatchLoomID'),
            Remark : $.trim($("#txtRemark").val()),
            Width : $("#txtWidthY").val()
        };
        debugger;
        Save(oFBQCDetail,-1);//add
    }

    function RefreshObject()
    {
        var oFabricBatchQC= {
            FBQCID: _oFabricBatchQC.FBQCID,
            FBID:_oFabricBatchQC.FBID,
            QCStartDateTime:new Date(),
            FabricBatchLoomID : $('#txtBatchNo').data('FabricBatchLoomID')
        };
        return oFabricBatchQC;
    }

    function Save(oFabricBatchQCDetail,nSelectedIndex)
    {
        debugger;
        endEditing();
        
        oFabricBatchQCDetail.FabricBatchQC = RefreshObject();
        $.ajax({
            type: "POST",
            dataType: "json",
            url : _sBaseAddress+"/FabricBatch/SaveQCDetail",
            traditional: true,
            data:  JSON.stringify(oFabricBatchQCDetail),
            contentType: "application/json; charset=utf-8",
            success: function (data) {
                oFabricBatchQCDetail = jQuery.parseJSON(data);
                if (parseInt(oFabricBatchQCDetail.FBQCDetailID) >0 && (oFabricBatchQCDetail.ErrorMessage==null || oFabricBatchQCDetail.ErrorMessage==""))
                {
                    if(nSelectedIndex==-1)
                    {
                        var nRowLength = $("#tblFabricBatchQCDetail").datagrid("getRows").length;
                        $("#tblFabricBatchQCDetail").datagrid("appendRow", oFabricBatchQCDetail);
                        $("#tblFabricBatchQCDetail").datagrid("selectRow", nRowLength);
                    }else{
                        $('#tblFabricBatchQCDetail').datagrid('updateRow', { index: nSelectedIndex, row: oFabricBatchQCDetail });
                        $("#tblFabricBatchQCDetail").datagrid("selectRow", nSelectedIndex);
                    }
                    _oFabricBatchQC = oFabricBatchQCDetail.FabricBatchQC;
                    $('#btnQCDone').show();
                    $("#txtStatus").val(_oFabricBatchQC.StatusSt);
                    SetTotal();
                    $('#cboShift').val(oFabricBatchQCDetail.ShiftID);
                    $("#txtLengthY").val(0);
                    $("#txtLengthM").val(0);
                    $("#txtRemark,#txtRollNo").val("");
                    $("#txtRollNo").focus();
                    var oFBQC = $('#tblFabricBatchQCs').datagrid('getSelected');
                    var nSInd=$('#tblFabricBatchQCs').datagrid('getRowIndex',oFBQC);
                    oFBQC = _oFabricBatchQC;
                    oFBQC.TotalLength = _nTotalLeninY;
                    oFBQC.InsQty = _nTotalLeninY;
                    $('#tblFabricBatchQCs').datagrid('updateRow', { index: nSInd, row: oFBQC });
                }
                else {
                    alert(oFabricBatchQCDetail.ErrorMessage);
                }
            },
            error: function (xhr, status, error) {
                alert(error);
            }

        });
    }

    function DeleteQCDetail()
    {
        endEditing();
        var oFBQCDetail= $("#tblFabricBatchQCDetail").datagrid("getSelected");
        if (oFBQCDetail == null || parseInt(oFBQCDetail.FBQCDetailID) <= 0) {
            alert("Please select an item from list!");
            return false;
        }
        if (oFBQCDetail.DeliveryBy!=0) {
            alert("Sorry, This item already delivered!");
            return false;
        }

        if (!confirm("Confirm to Delete?")) return false;
        var nRowIndex = $("#tblFabricBatchQCDetail").datagrid("getRowIndex", oFBQCDetail);
        if (parseInt(oFBQCDetail.FBQCDetailID) > 0)
        {
            $.ajax
            ({
                type: "GET",
                dataType: "json",
                url : _sBaseAddress+  "/FabricBatch/DeleteQCDetail",
                data: { id: oFBQCDetail.FBQCDetailID},
                contentType: "application/json; charset=utf-8",
                success: function (data) {
                    //
                    feedbackmessage = jQuery.parseJSON(data);
                    if (feedbackmessage == "Deleted")
                    {
                        alert("Delete sucessfully");
                        $("#tblFabricBatchQCDetail").datagrid("deleteRow", nRowIndex);
                        SetTotal();
                        ////----------////
                        var oRows=$('#tblFabricBatchQCDetail').datagrid('getRows');
                        if(oRows.length<=0){
                            var oFBQC= $("#tblFabricBatchQCs").datagrid("getSelected");
                            nRowIndex = $("#tblFabricBatchQCs").datagrid("getRowIndex", oFBQC);
                            $("#tblFabricBatchQCs").datagrid("deleteRow", nRowIndex);
                            $("#winFabricBatchQC").icsWindow('close');
                        }
                        ////----------////
                    }
                    else
                    {
                        alert(feedbackmessage);
                    }
                },
                error: function (xhr, status, error)
                {
                    alert(error);
                }

            });
        }

    }

    function Lock(oFBQCD)
    {
        endEditing();
        var oFBQCDs=$("#tblFabricBatchQCDetail").datagrid("getChecked");
        if (oFBQCDs.length==0) {
            alert("Please check minimum one item!");
            return false;
        }
        $("#dtProDate").datebox({ disabled:  false  });
        $("#dtProDate").datebox("setValue", icsdateformat(new Date()));

        $("#dtDeliveryDate").datebox({ disabled:  false  });
        $("#dtDeliveryDate").datebox("setValue", icsdateformat(new Date()));
        $("#winFabricQCLockDateWindow").icsWindow("open");
    }

    $("#btnLoadAll").click(function(){
        if(_oFabricBatchQC!=null && _oFabricBatchQC.FBID > 0)
        {
            var obj = {
                BaseAddress: _sBaseAddress,
                Object: _oFabricBatchQC,
                ControllerName: "FabricBatch",
                ActionName: "GetsFabricBatchQCDetails",
                IsWinClose: false
            };
            $.icsMaxDataGets(obj, function (response) {
                debugger;
                if (response.status && response.objs.length > 0) {
                    if (response.objs[0].FBQCDetailID > 0) {
                        DynamicRefreshList(response.objs, "tblFabricBatchQCDetail");
                    }
                    else {
                        alert(response.objs[0].ErrorMessage);
                        DynamicRefreshList([], "tblFabricBatchQCDetail");
                    }
                }else{
                    DynamicRefreshList([], "tblFabricBatchQCDetail");
                }
                SetTotal();
            });
        }else{
            alert("Select valid fabric batch!!!");
        }
    });

    //fault
    function Validation(){

        if(_oFabricBatchQC.FBQCID <= 0){
            alert("Please Select Dispo!!");
            return false;
        }

        var oRows=$('#tblFBQCFault').datagrid('getRows');
        if(oRows.length<=0){
            alert("Atleast one detail required!!");
            return false;
        }

        return true;
    }

    $("#btnSave").click(function (){
        debugger;
        endEditing();
        endEditingFault();
        if(!Validation()) return false;
        var oFBQCFaults = [];
        var oRows=$('#tblFBQCFault').datagrid('getRows');
        for(var i= 0 ;i <oRows.length; i++){
            if(parseFloat(oRows[i].NoOfFault) > 0){
                oFBQCFaults.push(oRows[i]);
            }
        }
        if(oFBQCFaults.length <= 0){
            alert("Please enter No Of fault atleast one Detail!!");
            return;
        }
        $.ajax({
            type: "POST",
            dataType: "json",
            url : _sBaseAddress+"/FabricBatch/SaveMultipleFBQCFault",
            traditional: true,
            data:  JSON.stringify(oFBQCFaults),
            contentType: "application/json; charset=utf-8",
            success: function (data) {
                //debugger;
                oDatas = jQuery.parseJSON(data);
                if(oDatas.length > 0){
                    alert("Data Saved Successfully!!");
                    DynamicRefreshList(oDatas,'tblFBQCFault');
                    $.icsMakeFooterColumn('tblFBQCFault',['FPFName','FaultPoint','NoOfFault','FaultTotal']);
                    SetGrade(oDatas);
                }
            },
            error: function (xhr, status, error) {
                alert(error);
            }

        });
    });

    function SetGrade(oDatas){
        var nSumTotalFault = 0;
        for(var i=0;i<oDatas.length;i++)
            nSumTotalFault += parseFloat(oDatas[i].FaultTotal);
        var oFBQCDetail= $("#tblFabricBatchQCDetail").datagrid("getSelected");
        oFBQCDetail.FabricQCGradeID = 0;
        var nTempIndex=$('#tblFabricBatchQCDetail').datagrid('getRowIndex',oFBQCDetail);
        var nTotalDefectPoint = ((nSumTotalFault * 39.3701)/(parseFloat(oFBQCDetail.Width) * parseFloat(oFBQCDetail.QtyInMeter))) * 100;
        if(isNaN(nTotalDefectPoint)) nTotalDefectPoint = 0;
        if(nTotalDefectPoint == Infinity) nTotalDefectPoint = 0;
        $("#lblTotalDefectPoint").text(nTotalDefectPoint.toFixed(2));
        for(var i=0;i<_oFabricQCGrades.length;i++){
            if(_oFabricQCGrades[i].MinValue <= nTotalDefectPoint && _oFabricQCGrades[i].MaxValue >= nTotalDefectPoint){
                oFBQCDetail.FabricQCGradeID = _oFabricQCGrades[i].FabricQCGradeID;
                break;
            }
        }
        var obj = {
            BaseAddress: _sBaseAddress,
            Object: oFBQCDetail,
            ObjectId: oFBQCDetail.FBQCDetailID,
            ControllerName: "FabricBatch",
            ActionName: "SaveQCDetail",
            TableId: "",
            IsWinClose: false,
            Message: ""
        };
        $.icsSave(obj, function (response) {
            if (response.status && response.obj != null) {
                if($.trim(response.obj.ErrorMessage) == "")
                {
                    debugger;
                    $("#tblFabricBatchQCDetail").datagrid("updateRow", { index: nTempIndex, row: response.obj });
                    //$('#tblFabricBatchQCDetail').datagrid('selectRow', nTempIndex);
                }
            }
        });
    }

    function SetDefectPoint(){
        debugger;
        var nSumTotalFault = 0;
        var oDatas=$('#tblFBQCFault').datagrid('getRows');
        var oFBQCDetail= $("#tblFabricBatchQCDetail").datagrid("getSelected");
        for(var i=0;i<oDatas.length;i++)
            nSumTotalFault += parseFloat(oDatas[i].FaultTotal);
        var nTotalDefectPoint = ((nSumTotalFault * 39.3701)/(parseFloat(oFBQCDetail.Width) * parseFloat(oFBQCDetail.QtyInMeter))) * 100;
        if(isNaN(nTotalDefectPoint)) nTotalDefectPoint = 0;
        if(nTotalDefectPoint == Infinity) nTotalDefectPoint = 0;
        $("#lblTotalDefectPoint").text(nTotalDefectPoint.toFixed(2));
    }

    function PickGrade(nFBQCDetailID)
    {
        debugger;
        var tblColums = [];
        var oColumn = { field: "Name", title: "Name", width: 200, align: "left" }; tblColums.push(oColumn);
        oColumn = { field: "QCGradeTypeST", title: "Type", width: 100, align: "left" }; tblColums.push(oColumn);
        var oPickerParam = {
            winid: 'winGrades',
            winclass: 'clsGrade',
            winwidth: 350,
            winheight: 460,
            tableid: 'tblGrades',
            tablecolumns: tblColums,
            datalist: _oFabricQCGrades,
            multiplereturn: false,
            searchingbyfieldName: 'Name',
            windowTittle: 'Grade List',
            colsable:true
        };
        $.icsPicker(oPickerParam);
        $("#progressbar").progressbar({ value: 0 });
        $("#progressbarParent").hide();
        //IntializePickerbutton(oPickerParam);
        $("#" + oPickerParam.winid).find("#btnOk").click(function () {
            debugger;
            //for Single Select
            SetPickGrade(oPickerParam,nFBQCDetailID);
        });
        $(document).find('.' + oPickerParam.winclass).keydown(function (e) {
            if (e.which == 13)//enter=13
            {
                SetPickGrade(oPickerParam,nFBQCDetailID);
            }
        });
    }

    function SetPickGrade(oPickerobj, nFBQCDetailID)
    {
        debugger;
        var oResult;
        if (oPickerobj.multiplereturn)
        {
            oResult = $('#'+oPickerobj.tableid).datagrid('getChecked');
        }
        else
        {
            oResult = $('#'+oPickerobj.tableid).datagrid('getSelected');
        }
        //Save with grade
        debugger;
        var oFBQCDetail= $("#tblFabricBatchQCDetail").datagrid("getSelected");
        var nTempIndex=$('#tblFabricBatchQCDetail').datagrid('getRowIndex',oFBQCDetail);
        oFBQCDetail.FabricQCGradeID = oResult.FabricQCGradeID;
        var obj = {
            BaseAddress: _sBaseAddress,
            Object: oFBQCDetail,
            ObjectId: oFBQCDetail.FBQCDetailID,
            ControllerName: "FabricBatch",
            ActionName: "SaveQCDetail",
            TableId: "",
            IsWinClose: false,
            Message: ""
        };
        $.icsSave(obj, function (response) {
            if (response.status && response.obj != null) {
                if($.trim(response.obj.ErrorMessage) == "")
                {
                    debugger;
                    $("#tblFabricBatchQCDetail").datagrid("updateRow", { index: nTempIndex, row: response.obj });
                }
            }
        });
        //end
        $("#" + oPickerobj.winid).icsWindow("close");
        $("#" + oPickerobj.winid).remove();
    }

    $("#btnDeleteFault").click(function ()
    {
        endEditingFault();
        var oQCFault=$('#tblFBQCFault').datagrid('getSelected');
        if(oQCFault==null)
        {
            alert("Please select a valid item from list.");
            return;
        }
        if (!confirm("Confirm to Delete?")) return false;
        var nIndex= $('#tblFBQCFault').datagrid('getRowIndex',oQCFault);
        if(oQCFault.FBQCFaultID<=0){
            $('#tblFBQCFault').datagrid('deleteRow',nIndex);
        }
        else{
            var obj = {
                BaseAddress: _sBaseAddress,
                Object: oQCFault,
                ControllerName: "FabricBatch",
                ActionName: "DeleteFabricBatchQCFault",
                TableId: "tblFBQCFault",
                IsWinClose: false
            };
            $.icsDelete(obj, function (response) {
                $.icsMakeFooterColumn('tblFBQCFault',['FPFName','FPFName','NoOfFault','FaultTotal']);
                SetDefectPoint();
            });
        }

    });

    $("#btnReloadFault").click(function ()
    {
        endEditingFault();
        var oFNBQCD = $('#tblFabricBatchQCDetail').datagrid('getSelected');
        var oRows=$('#tblFBQCFault').datagrid('getRows');
        for(var i=0;i<_oFaults.length;i++){
            var isExist = false;
            for(var j=0;j<oRows.length;j++){
                if(_oFaults[i].FPFID == oRows[j].FPFID){
                    isExist=true;
                    break;
                }
            }
            if(isExist == false){
                var oDetail = {
                    FBQCFaultID: 0,
                    FBQCDetailID: oFNBQCD.FBQCDetailID,
                    FPFID: _oFaults[i].FPFID,
                    FPFName: _oFaults[i].Name,
                    FaultPoint: 4,
                    NoOfFault: 0,
                    FaultTotal: 0
                }
                $('#tblFBQCFault').datagrid('appendRow',oDetail);
            }
            $.icsMakeFooterColumn('tblFBQCFault',['FPFName','FaultPoint','NoOfFault','FaultTotal']);
        }
    });

    //////////////Edit checking parameter
    function onclickrowCheckingParameter(index){
        if (editIndexCheckingParameter != index){
            if (endEditingCheckingParameter())
            {
                $('#tblFabricBatchQCChecks').datagrid('selectRow', index).datagrid('beginEdit', index);
                editIndexCheckingParameter = index;
            }
            else
            {
                $('#tblFabricBatchQCChecks').datagrid('selectRow', editIndexCheckingParameter);
            }
        }
    }
    var editIndexCheckingParameter = undefined;
    function endEditingCheckingParameter(){
        if (editIndexCheckingParameter == undefined){return true}
        if ($('#tblFabricBatchQCChecks').datagrid('validateRow', editIndexCheckingParameter)){
            $('#tblFabricBatchQCChecks').datagrid('endEdit', editIndexCheckingParameter);
            editIndexCheckingParameter = undefined;
            return true;
        }
        else
        {
            return false;
        }
    }

    $('#btnCheckingParameter').click(function(){
        debugger;
        if(_oFabricBatchQC.FBQCID<=0){
            alert("Please put QC detail first!");
            return;
        }
        var oFabricBatchQCChecks = {
            FabricBatchQCID : _oFabricBatchQC.FBQCID
        }
        $.ajax({
            type: "POST",
            dataType: "json",
            url:  _sBaseAddress+'/FabricBatch/GetAllCheckingParameter',
            data:  JSON.stringify(oFabricBatchQCChecks),
            contentType: "application/json; charset=utf-8",
            success: function (data) {
                var oCheckingParameters = jQuery.parseJSON(data);
                if (oCheckingParameters != null && oCheckingParameters.length > 0) {
                    if (oCheckingParameters[0].ErrorMessage == "") {
                        DynamicRefreshList(oCheckingParameters,'tblFabricBatchQCChecks');
                        $('#winCheckingParameters').icsWindow('open', "Checking Parameter");
                    }
                    else
                    {
                        alert(oCheckingParameters[0].ErrorMessage);
                    }
                }
                else
                {
                    alert("Data Not Found!");
                }
            },
            error: function (xhr, status, error) {
                alert(error);
            }
        });
    })

    $('#btnCPRefresh').click(function(){
        endEditingCheckingParameter();
    });
    $("#btnCPClose").click(function(){
        $("#winCheckingParameters").icsWindow('close');
    })

    $("#btnCPDelete").click(function ()
    {
        debugger;
        endEditingCheckingParameter();
        var oFabricBatchQCCheck=$('#tblFabricBatchQCChecks').datagrid('getSelected');
        if(oFabricBatchQCCheck==null)
        {
            alert("Please select a valid item from list.");
            return;
        }
        if (!confirm("Confirm to Delete?")) return false;
        var nIndex= $('#tblFabricBatchQCChecks').datagrid('getRowIndex',oFabricBatchQCCheck);
        if(oFabricBatchQCCheck.FabricBatchQCCheckID<=0){
            $('#tblFabricBatchQCChecks').datagrid('deleteRow',nIndex);
        }
        else{
            var obj = {
                BaseAddress: _sBaseAddress,
                Object: oFabricBatchQCCheck,
                ControllerName: "FabricBatch",
                ActionName: "DeleteFabricBatchQCCheck",
                TableId: "tblFabricBatchQCChecks",
                IsWinClose: false
            };
            $.icsDelete(obj, function (response) {

            });
        }

    });

    $("#btnCPReload").click(function ()
    {
        debugger;
        endEditingCheckingParameter();
        //var oFabricBatchQCCheck=$('#tblFabricBatchQCChecks').datagrid('getSelected');
        var oRows=$('#tblFabricBatchQCChecks').datagrid('getRows');
        for(var i=0;i<_oFabricQCParNames.length;i++){
            var isExist = false;
            for(var j=0;j<oRows.length;j++){
                if(_oFabricQCParNames[i].FabricQCParNameID == oRows[j].FabricQCParNameID){
                    isExist=true;
                    break;
                }
            }
            if(isExist == false){
                var oDetail = {
                    FabricBatchQCCheckID: 0,
                    FabricQCParNameID: _oFabricQCParNames[i].FabricQCParNameID,
                    FabricBatchQCID: _oFabricBatchQC.FBQCID,
                    Name: _oFabricQCParNames[i].Name,
                    Note: _oFabricQCParNames[i].Note
                }
                $('#tblFabricBatchQCChecks').datagrid('appendRow',oDetail);
            }
        }
    });

    $('#btnCPSave').click(function() {
        debugger;
        endEditingCheckingParameter();
        var CheckingParameters = $('#tblFabricBatchQCChecks').datagrid('getRows');
        var _CheckingParameters = [];
        for (var i = 0; i <CheckingParameters.length; i++) {
            CheckingParameters[i].FabricBatchQCID = _oFabricBatchQC.FBQCID;
            _CheckingParameters.push(CheckingParameters[i]);
        }
        debugger;
        $.ajax({
            type: "POST",
            dataType: "json",
            url : _sBaseAddress+ "/FabricBatch/CheckingParameterSave",
            traditional: true,
            data:  JSON.stringify(_CheckingParameters),
            contentType: "application/json; charset=utf-8",
            success: function (data)
            {
                var oCheckingParameters = jQuery.parseJSON(data);
                if (oCheckingParameters[0] != null && oCheckingParameters[0].ErrorMessage=="")
                {
                    alert("Saved Successfully");
                    $("#winCheckingParameters").icsWindow('close');
                }
                else
                {
                    alert(oCheckingParameters[0].ErrorMessage);
                }

            },
            error: function (xhr, status, error) {
                alert(error);
            }

        });
    });

    $('#btnPrintFabricBatchQC').click(function(){
        if(_oFabricBatchQC==null || parseInt(_oFabricBatchQC.FBQCID)<=0)
        {
            alert("Please Select Dispo!!");
            $('#txtFEONo').focus();
            return;
        }
        window.open(_sBaseAddress+ "/FabricBatch/PrintFabricBatchQC?nFBQCID="+_oFabricBatchQC.FBQCID);
    });

    $('#btnPrintFabricBatchQC2').click(function(){
        if(_oFabricBatchQC==null || parseInt(_oFabricBatchQC.FBID)<=0)
        {
            alert("Please Select Dispo!!");
            $('#txtFEONo').focus();
            return;
        }
        debugger;
        window.open(_sBaseAddress+ "/FabricBatch/PrintFabricBatchQC2?nFBQCID="+_oFabricBatchQC.FBQCID);
    });

    function QCDone()
    {
        debugger;
        if(parseInt(_oFabricBatchQC.FBQCID)<=0)
        {
            alert("Sorry, there is no fabric batch QC!");
            return false;
        }
        if(parseInt(_oFabricBatchQC.StatusInInt)!=10)
        {
            alert("Sorry, This batch card not yet in QC!");
            return false;
        }
        if($('#cboEmployee').val()<=0)
        {
            alert("Select in charge.");
            $('#cboEmployee').focus();
            return false;
        }

        var nTotalLength = parseFloat($("#txtQCLengthM").val());
        var nTotalQcDetailQty=0;
        var oQCDetails = $("#tblFabricBatchQCDetail").datagrid("getRows");
        if(oQCDetails.length > 0 && nTotalLength > 0)
        {
            debugger;
            $.map(oQCDetails,function(oQCDetail){
                nTotalQcDetailQty = parseFloat(oQCDetail.QtyInMeter) + parseFloat(nTotalQcDetailQty)
            });
            var nCurrentPercentage = parseFloat(((nTotalQcDetailQty / nTotalLength) * 100).toFixed(2));
            if(parseFloat($("#txtPercentage").val()) >= nCurrentPercentage)
            {
                alert("Fabric QC qty ("+nCurrentPercentage+"%) must be greater than " + parseFloat($("#txtPercentage").val()) + "%");
                return false;
            }
        }

        var oFabricBatchQC = {
            FBQCID:_oFabricBatchQC.FBQCID,
            FBID:_oFabricBatchQC.FBID,
            QCEndDateTime:new Date(),
            QCInCharge:$('#cboEmployee').val(),
            TotalLength:$('#txtQCLengthY').val()
        };

        $.ajax({
            type: "POST",
            dataType: "json",
            url : _sBaseAddress+"/FabricBatch/QCDone",
            traditional: true,
            data:  JSON.stringify(oFabricBatchQC),
            contentType: "application/json; charset=utf-8",
            success: function (data) {
                var  oFabricBatchQC = jQuery.parseJSON(data);
                if (parseInt(oFabricBatchQC.StatusInInt)==11)
                {
                    alert("Successfully done QC.");
                    DynamicRefreshListForMultipleSelection(oFabricBatchQC.FabricBatchQCDetails,"tblFabricBatchQCDetail");
                    if(oFabricBatchQC.FabricBatchQCDetails.length > 0)
                    {
                        _oFabricBatchQC.FBQCID = oFabricBatchQC.FabricBatchQCDetails[0].FBQCID;
                    }
                    var oObj= $('#tblFabricBatchQCs').datagrid('getSelected');
                    var nSelRow=$('#tblFabricBatchQCs').datagrid('getRowIndex',oObj);
                    $('#tblFabricBatchQCs').datagrid('updateRow',{index: nSelRow,	row: oFabricBatchQC});
                    $('#btnQCDone').hide();
                    $("#txtStatus").val(oFabricBatchQC.StatusSt);
                    $('#btnAddQCDetail').hide();
                    $('#btnDeleteQCDetail').hide();
                    $('#btnLock').hide();
                    return false;
                }
                else {
                    alert(oFabricBatchQC.ErrorMessage);
                }
            },
            error: function (xhr, status, error) {
                alert(error);
            }

        });
    }

    $('#btnOKTransfer').click(function(e){
        var oFBQCDs=$("#tblFabricBatchQCDetail").datagrid("getChecked");
        debugger;
        if (oFBQCDs.length==0) {
            alert("Please check minimum one item!");
            return false;
        }
        var nLength = oFBQCDs.length;
        var bHasUnlockItem=false;
        var sFBQCDetailIDs="";
        for(var i=0;i<nLength;i++)
        {
            if(oFBQCDs[i].DeliveryBy == 0)
            {
                sFBQCDetailIDs = oFBQCDs[i].FBQCDetailID + "," + sFBQCDetailIDs;
                bHasUnlockItem=true;
            }
            if(oFBQCDs[i].FabricQCGradeID == 0)
            {
                alert("Your selected item(s)Fault or Grade not assign .");
                return false;
            }
        }
        if(!bHasUnlockItem)
        {
            alert("Your selected item(s) already delivered.");
            return false;
        }
        if($.trim(sFBQCDetailIDs) == "")
        {
            alert("Select item(s) from list.");
            return false;
        }
        sFBQCDetailIDs = sFBQCDetailIDs.substring(0, sFBQCDetailIDs.length - 1);
        if (!confirm("Confirm send to delivery store?")) return false;
        debugger;
        var oFabricBatchQCDetail={
            FBQCDetailIDs : sFBQCDetailIDs,
            FBQCID : oFBQCDs[0].FBQCID,
            ProDate :  $("#dtProDate").datebox("getValue"),
            DeliveryDate: $("#dtDeliveryDate").datebox("getValue")
        };
        var obj = {
            BaseAddress: _sBaseAddress,
            Object: oFabricBatchQCDetail,
            ObjectId: oFabricBatchQCDetail.FBQCDetailID,
            ControllerName: "FabricBatch",
            ActionName: "LockFabricBatchQCDetail",
            TableId: "",
            IsWinClose: false,
            Message: ""
        };
        $.icsSave(obj, function (response) {
            if (response.status && response.obj != null) {
                if ($.trim(response.obj.ErrorMessage) == "")
                {
                    alert("Successfully Sent.");
                    $("#winFabricQCLockDateWindow").icsWindow("close");
                    DynamicRefreshListForMultipleSelection(response.obj.FabricBatchQCDetails,"tblFabricBatchQCDetail");
                    $("[name=TransferSlipSelection]").val(["ProductionTransferSlip"]);
                    DynamicRefreshList(response.obj.FabricBatchQCTransfers ,'tblTS');
                }
            }
        });

    });

    $('#btnCloseWindowLockDate').click(function(e){
        $("#winFabricQCLockDateWindow").icsWindow("close");
    });

    //Adv Search
    $("#btnCloseAdvSearch").click(function () {
        $("#winAdvSearch").icsWindow("close");
    });

    function DateActions_StartDateAdv() {
        DynamicDateActions("cboStartDateAdv", "txtFromStartDateAdv", "txtToStartDateAdv");
    }

    $("#btnAdvSearch").click(function () {
        debugger;
        $("#cboStartDateAdv").icsLoadCombo({List: _oCompareOperators, OptionValue: "id", DisplayText: "Value"});
        $("#cboGradeAdv").icsLoadCombo({List: _oFabricQCGrades,OptionValue: "FabricQCGradeID", DisplayText: "Name"});
        ResetAdvSearchWindow();
        $("#winAdvSearch").icsWindow("open", " Advance Search");
    });

    function ResetAdvSearchWindow() {
        $(".lblLoadingMessage").hide();
        $("#winAdvSearch input").not("input[type='button']").val("");
        $("#winAdvSearch select").val(0);
        $("#txtDispoNoAdv").val("");
        $("#txtBatchNoAdv").val("");
        $("#txtFromStartDateAdv,#txtToStartDateAdv").datebox({ disabled: true });
        $("#txtFromStartDateAdv,#txtToStartDateAdv").datebox("setValue", icsdateformat(new Date()));
    }

    $("#btnSearchAdvSearch").click(function () {
        debugger;
        var nCboStartDateAdv = parseInt($("#cboStartDateAdv").val());
        var dFromStartDateAdv = $('#txtFromStartDateAdv').datebox('getValue');
        var dToStartDateAdv = $('#txtToStartDateAdv').datebox('getValue');

        var sDispoNoAdv = $.trim($("#txtDispoNoAdv").val());
        var sBatchNoAdv = $.trim($("#txtBatchNoAdv").val());
        var ncboGradeAdv = parseInt($("#cboGradeAdv").val());
        
        if(nCboStartDateAdv<=0 && sDispoNoAdv == "" && sBatchNoAdv == "" && ncboGradeAdv <= 0){
            alert("Please enter atleast one searching criteria!!");
            return;
        }

        debugger;
        var sParams =               
                        nCboStartDateAdv + "~" +
                        dFromStartDateAdv + "~" +
                        dToStartDateAdv + "~" +
                        sDispoNoAdv+"~"+
                        sBatchNoAdv+"~"+
                        ncboGradeAdv;

        sessionStorage.setItem("ParamsSO", sParams);
        //$("#regionFabricBatchProduction").data("AdvSearcParams",sParams);
        var oFBP = {
            ErrorMessage : sParams
        };
        Search(oFBP);
    });

    function Search(oFBP)
    {
        $(".lblLoadingMessage").show();
        $.ajax({
            type: "POST",
            dataType: "json",
            url: _sBaseAddress + "/FabricBatch/AdvSearch",
            traditional: true,
            data: JSON.stringify(oFBP),
            contentType: "application/json; charset=utf-8",
            success: function (data) {
                var oFBPs = data;
                debugger;
                if (oFBPs.length > 0)
                {
                    if (oFBPs[0].ErrorMessage=='' || oFBPs[0].ErrorMessage==null)
                    {
                        DynamicRefreshList(oFBPs, "tblFabricBatchQCs");
                        $("#winAdvSearch").icsWindow("close");
                    }
                    else
                    {
                        alert(oFBPs[0].ErrorMessage);
                    }

                }else {
                    alert("Sorry, No data found. ");
                }
                $(".lblLoadingMessage").hide();
            }
        });
    }

    $('#txtDispoNoGrid').keypress(function (e) {
        var code = (e.keyCode ? e.keyCode : e.which);
        if (code == 13)//Enter key-13
        {
            debugger;
            if (!$.trim($("#txtDispoNoGrid").val()).length) {
                alert("Please enter Dispo No.");
                $('#txtDispoNoGrid').focus();
                $('#txtDispoNoGrid').val("");
                return;
            }
            var sDispoNo = $.trim($("#txtDispoNoGrid").val());
            var sBatchNo = "";
            var sParams = sDispoNo+"~"+sBatchNo;
            var oFabricBatch = {
                ErrorMessage : sParams
            };
            $.ajax
            ({
                type: "POST",
                dataType: "json",
                url : _sBaseAddress+"/FabricBatch/GetFabricBatchAndQCs",
                traditional: true,
                data:  JSON.stringify(oFabricBatch),
                contentType: "application/json; charset=utf-8",
                success: function (data) {
                    debugger;
                    var oFabricBatchQCs = data;
                    if(oFabricBatchQCs.length > 0){
                        if(oFabricBatchQCs[0].ErrorMessage == "" || oFabricBatchQCs[0].ErrorMessage == null)
                            DynamicRefreshList(oFabricBatchQCs, "tblFabricBatchQCs");
                        else
                            alert(oFabricBatchQCs[0].ErrorMessage);
                    }else{
                        alert("No Data Found!!");
                    }

                },
                error: function (xhr, status, error){
                    alert(error);
                }
            });

        }
    });

    $('#txtBatchNoGrid').keypress(function (e) {
        var code = (e.keyCode ? e.keyCode : e.which);
        if (code == 13)//Enter key-13
        {
            debugger;
            if (!$.trim($("#txtBatchNoGrid").val()).length) {
                alert("Please Enter Batch No.");
                $('#txtBatchNoGrid').focus();
                $('#txtBatchNoGrid').val("");
                return;
            }
            var sDispoNo = "";
            var sBatchNo = $.trim($("#txtBatchNoGrid").val());
            var sParams = sDispoNo+"~"+sBatchNo;
            var oFabricBatch = {
                ErrorMessage : sParams
            };
            $.ajax
            ({
                type: "POST",
                dataType: "json",
                url : _sBaseAddress+"/FabricBatch/GetFabricBatchAndQCs",
                traditional: true,
                data:  JSON.stringify(oFabricBatch),
                contentType: "application/json; charset=utf-8",
                success: function (data) {
                    debugger;
                    var oFabricBatchQCs = data;
                    if(oFabricBatchQCs.length > 0){
                        if(oFabricBatchQCs[0].ErrorMessage == "" || oFabricBatchQCs[0].ErrorMessage == null)
                            DynamicRefreshList(oFabricBatchQCs, "tblFabricBatchQCs");
                        else
                            alert(oFabricBatchQCs[0].ErrorMessage);
                    }else{
                        alert("No Data Found!!");
                    }

                },
                error: function (xhr, status, error){
                    alert(error);
                }
            });

        }
    });
    
    $('#btnGreigeReport').click(function(){
        var sParams = "";
        sParams = sessionStorage.getItem("ParamsSO");
        if(sParams == "" || sParams == undefined){
            alert("Please search first!!");
            return;
        }
        window.open(_sBaseAddress+ "/FabricBatch/GreigeReport?sParams="+sParams+"&bIsFromReport="+false);
    });

    </script>
