@{
    ViewBag.Title = "Fault Entry";
}
@model ESimSol.BusinessObjects.FNBatchQC

<div class="menuMainCollectionTable" style="width:100%">
    <div id="divPanel" title="FN Batch" style="font-family:Tahoma;text-align:center; width:100%">
        <fieldset>
            <legend class="text-left">Search Criteria : </legend>
            <table border="0" cellpadding="1" cellspacing="1" style="margin:0 auto">
                <tr>
                    <td style="width:15%; text-align:right;"><label class="text-right" style="padding-top:5px">Dispo No :</label></td>
                    <td style="width:20%;text-align:left;">
                        <input type="text" id="txtFNExONo" style="font-weight:bold; width:100%" placeholder="Type Batch no & press enter" />
                    </td>
                    <td style="width:10%; text-align:left;">
                        <a id="btnSearchFNExeNo" href="javascript:void(0)" style="font-weight:bold" class="easyui-linkbutton initial-state" iconcls="icon-ok" plain="true">P</a>                        
                    </td>
                    <td style="width:25%; text-align:right;"><label class="text-right" style="padding-top:5px">Roll/Lot No :</label></td>
                    <td style="width:20%;text-align:left;">
                        <input type="text" id="txtFNBatchNo" style="font-weight:bold;width:180px" placeholder="Type Batch no & press enter" />
                    </td>
                    <td style="width:10%; text-align:left;">
                        <a id="btnFNBatchNo" style="float:left; font-weight:bold" href="javascript:void(0)" class="easyui-linkbutton" iconcls="icon-ok" plain="true" >P</a>
                    </td>
                </tr>
            </table>
        </fieldset>
        
    </div>
    <div style="float:left; width:100%">
        <div style="float:left; width:100%">
            <table style="width:100% ;height:150px">
                <tr>
                    <td style="width:54% ;height:400px">
                        <fieldset style="width:100%;height:400px">
                            <legend style="text-align:left; font-weight:bold;"> Roll info : </legend>
                            <table id="tblFNBatchQCDetail" class="easyui-datagrid" style="width:100%;height:400px" fit="true" fitcolumn="true" rownumbers="true" pagination="false" singleselect="true" showfooter="true" autorowheight="false" toolbar="#toolbartblFNBatchQCDetail" showfooter="true" >    @*data-options="onClickRow:onClickRowQCD"*@
                                <thead>
                                    <tr>
                                        <th field="LotNo" width="15%">Roll No</th>
                                        <th field="GradeStr" width="10%">Grade</th>
                                        <th field="Qty" width="12%">Length(Y)</th>
                                        <th field="QtyInMtr" width="12%">Length(M)</th>
                                        <th field="Lock" width="10%">Delivered</th>
                                        <th field="LockDateStr" width="15%">Delivery Date</th>
                                        <th field="DBServerDateStr" width="15%">Entry Date</th>

                                    </tr>
                                </thead>
                            </table>
                            <div id="toolbartblFNBatchQCDetail">
                                @*Fault : <select id="cboFault" style="width:80px;"></select>*@
                          
                            </div>
                        </fieldset>
                    </td>
                    <td style="width:45% ;height:400px">
                        <fieldset style="width:100%;height:400px">
                            <legend style="text-align:left; font-weight:bold;"> Fault  : </legend>
                            <table id="tblFNBatchQCFault" class="easyui-datagrid" style="width:100%;height:400px" fit="true" fitcolumn="true" rownumbers="true" pagination="false" singleselect="true" showfooter="true" autorowheight="false" toolbar="#toolbarFNBatch" showfooter="true" data-options="onClickRow:onClickRow">
                                <thead>
                                    <tr>
                                        <th field="FaultName" width="45%">Name</th>
                                        <th data-options="field:'FaultPoint',align:'right',editor:{type:'numberbox',options:{precision:2}}" formatter="formatPrice" width="15%" align="right">Point</th>
                                        <th data-options="field:'NoOfFault',align:'right',editor:{type:'numberbox',options:{precision:2}}" formatter="formatPrice" width="18%" align="right">No Of Fault</th>
                                        <th field="FaultTotal" formatter="formatPrice" width="18%" align="right">Total</th>
                                    </tr>
                                </thead>
                            </table>
                            <div id="toolbarFNBatch">
                                <label id="lblLotNo"></label>
                                <a id="btnDeleteFault" href="javascript:void(0)" class="easyui-linkbutton initial-state" iconcls="icon-remove" plain="true">Delete</a>
                                <a id="btnReloadFault" href="javascript:void(0)" class="easyui-linkbutton initial-state" iconcls="icon-reload" plain="true">Reload</a>

                            </div>
                        </fieldset>
                    </td>
                    
                </tr>
            </table>
        </div>

    </div>
    

    <fieldset>
        <legend style="font-weight:bold;">Actions</legend>
        <table border="0" cellspacing="2" cellpadding="2" style="font-size:11px; font-weight:bold; width:100%;">
            <tr>
                <td style="width:100%; text-align:right">
                    <a id="btnPreview" href="javascript:void(0)" class="easyui-linkbutton" iconcls="icon-print" plain="true">Preview</a>
                    <a id="btnSave" href="javascript:void(0)" class="easyui-linkbutton" iconcls="icon-save" plain="true">Save</a>
                    <a id="btnClose" href="javascript:void(0)" class="easyui-linkbutton" iconcls="icon-cancel" plain="true">Close</a>
                </td>
            </tr>
        </table>
    </fieldset>

</div>

<style type="text/css">
    /*.form-control {
        height: 22px;
        padding: 0px 4px;
        font-size: 12px;
    }*/
    .col-md-12 {
        width: 100%;
        padding-right: 5px;
        padding-left: 10px;
        margin-top: 0px;
        margin-bottom: 5px;
    }

        .col-md-12 .top {
            width: 100%;
            padding-right: 5px;
            padding-left: 5px;
            margin-top: 10px;
        }

        .col-md-12 .bottom {
            width: 100%;
            padding-right: 5px;
            padding-left: 5px;
            margin-bottom: 10px;
        }

    .col-md-1 {
        width: 8.3%;
        padding-right: 3px;
        padding-left: 0px;
    }

    .col-md-3 {
        width: 24%;
        padding-right: 3px;
        padding-left: 0px;
    }

    .col-md-9 {
        width: 72%;
        padding-right: 2px;
        padding-left: 2px;
    }

    .btn-sm {
        padding: 2px 7px;
    }

    .input-group-addon {
        padding: 3px 6px;
    }
</style>

<script type="text/javascript">
    var _sBaseAddress="";
    var BackLink = "";
    var _oFNBatchQC = [];
    var _nMenuid = 0;
    var FabricSCReport = [];
    var BatchObjForPrint = [];
    var _oFaults=[];
    var _nBUID=0;
    $(document).ready(function ()
    {
        debugger;
        _nMenuid = @Html.Raw(new System.Web.Script.Serialization.JavaScriptSerializer().Serialize(HttpContext.Current.Session[SessionInfo.MenuID]));
        _sBaseAddress =@Html.Raw( new System.Web.Script.Serialization.JavaScriptSerializer().Serialize(HttpContext.Current.Session[SessionInfo.BaseAddress]));
        _oFNBatchQC =@Html.Raw(new System.Web.Script.Serialization.JavaScriptSerializer().Serialize(Model));
        _oFaults = @Html.Raw(new System.Web.Script.Serialization.JavaScriptSerializer().Serialize(@ViewBag.Faults));
        _nBUID = @Html.Raw(new System.Web.Script.Serialization.JavaScriptSerializer().Serialize(@ViewBag.buid));
        $("#cboFault").icsLoadCombo({List: _oFaults,OptionValue: "FPFID", DisplayText: "Name", InitialValue:'--Select--'});

        $('#txtFNExONo').data('FNBatchQCID',0);
    });


    //Start Dispo picker
    $("#btnSearchFNExeNo").click(function(){
        GetsFNBatch($.trim($("#txtFNExONo").val()), false);
    });

    $("#txtFNExONo").keydown(function(e){
        if(e.keyCode === 13)
        {
            if($.trim($("#txtFNExONo").val())=='')
            {
                alert("Dispo no required to search.");
                return false;
            }
            GetsFNBatch($.trim($("#txtFNExONo").val()), false);
        }
        else if (e.keyCode == 8 || e.keyCode==27)
        {
            $('#txtFNExONo').data('FNBatchQCID',0);
        }
    })

    function GetsFNBatch(sValue, bIsDateSearch)
    {
        //debugger;
        var oFNBatch={
            Params: sValue + "~" + bIsDateSearch
        };

        var obj = {
            BaseAddress: _sBaseAddress,
            Object: oFNBatch,
            ControllerName: "FNBatch",
            ActionName: "GetsFNBatchQC",
            IsWinClose: false
        };
        $.icsDataGets(obj, function (response) {
            if (response.status && response.objs.length > 0) {
                if (response.objs[0].FNBatchQCID > 0) {
                    var tblColums = [];
                    var oColumn = { field: "FNBatchNo", title: "FNBatch No", width: "20%", align: "left" }; tblColums.push(oColumn);
                    oColumn = { field: "FNExONo", title: "Dispo No", width: "20%", align: "left" }; tblColums.push(oColumn);
                    oColumn = { field: "Qty", title: "Batch Qty", width: "20%", align: "right", formatter:formatPrice }; tblColums.push(oColumn);
                    oColumn = { field: "OutQty", title: "Out Qty", width: "20%", align: "right", formatter:formatPrice }; tblColums.push(oColumn);
                    oColumn = { field: "MUnit", title: "Unit", width: "10%", align: "center" }; tblColums.push(oColumn);

                    var oPickerParam = {
                        winid: 'winFNBatch',
                        winclass: 'clsFNBatch',
                        winwidth: 450,
                        winheight: 460,
                        tableid: 'tblFNBatchs',
                        tablecolumns: tblColums,
                        datalist: response.objs,
                        multiplereturn: false,
                        searchingbyfieldName: 'FNBatchNo',
                        windowTittle: 'FN Batch List',
                        placeholder : "Search By Batch No"
                    };
                    $.icsPicker(oPickerParam);
                    IntializePickerbutton(oPickerParam);
                }
                else {
                    alert(response.objs[0].ErrorMessage);
                }
            }
            else
            {
                alert("Sorry, No FN Batch Found For Out.");
            }
        });
    }

    //End Dispo picker

    //Start Detail picker
    $("#btnFNBatchNo").click(function(){
        GetsFNBatchDetail();
    });

    $("#txtFNBatchNo").keydown(function(e){
        if(e.keyCode === 13)
        {
            GetsFNBatchDetail();
        }
        else if (e.keyCode == 8 || e.keyCode==27)
        {
            //$('#txtFNBatchNo').data('FNBatchQCID',0);
        }
    })
    function GetsFNBatchQCDetail()
    {
        //debugger;
        if(parseInt($('#txtFNExONo').data('FNBatchQCID')) <= 0){
            alert("Please enter Dispo!!");
            return;
        }
        var oFNBatch={
            FNBatchQCID: $('#txtFNExONo').data('FNBatchQCID')
        };

        var obj = {
            BaseAddress: _sBaseAddress,
            Object: oFNBatch,
            ControllerName: "FNBatch",
            ActionName: "GetsFNBatchQCDetail",
            IsWinClose: false
        };
        $.icsDataGets(obj, function (response) {
            if (response.status && response.objs.length > 0) {
                if (response.objs[0].FNBatchQCDetailID > 0) {
                    DynamicRefreshList(response.objs,'tblFNBatchQCDetail');
                    $.icsMakeFooterColumn('tblFNBatchQCDetail',['LotNo','Qty','QtyInMtr']);
                }
                else {
                    alert(response.objs[0].ErrorMessage);
                }
            }
            else
            {
                alert("Sorry, No FN Batch Found For Out.");
            }
        });
    }
    function GetsFNBatchDetail()
    {
        //debugger;
        if(parseInt($('#txtFNExONo').data('FNBatchQCID')) <= 0){
            alert("Please enter Dispo!!");
            return;
        }
        var oFNBatch={
            FNBatchQCID: $('#txtFNExONo').data('FNBatchQCID')
        };

        var obj = {
            BaseAddress: _sBaseAddress,
            Object: oFNBatch,
            ControllerName: "FNBatch",
            ActionName: "GetsFNBatchQCDetail",
            IsWinClose: false
        };
        $.icsDataGets(obj, function (response) {
            if (response.status && response.objs.length > 0) {
                if (response.objs[0].FNBatchQCDetailID > 0) {
                    var tblColums = [];
                    var oColumn = { field: "LotNo", title: "Roll No", width: "20%", align: "left" }; tblColums.push(oColumn);
                    //oColumn = { field: "Grade", title: "Grade", width: "20%", align: "left" }; tblColums.push(oColumn);
                    oColumn = { field: "Qty", title: "Length(Y)", width: "20%", align: "right", formatter:formatPrice }; tblColums.push(oColumn);
                    oColumn = { field: "QtyInMtr", title: "Length(M)", width: "20%", align: "right", formatter:formatPrice }; tblColums.push(oColumn);
                    oColumn = { field: "InspectionPoint", title: "Points", width: "10%", align: "center" }; tblColums.push(oColumn);

                    var oPickerParam = {
                        winid: 'winFNBatchDetail',
                        winclass: 'clsFNBatchDetail',
                        winwidth: 450,
                        winheight: 460,
                        tableid: 'tblFNBatchDetails',
                        tablecolumns: tblColums,
                        datalist: response.objs,
                        multiplereturn: true,
                        searchingbyfieldName: 'LotNo',
                        windowTittle: 'Detail List',
                        placeholder : "Search By Lot No"
                    };
                    $.icsPicker(oPickerParam);
                    IntializePickerbutton(oPickerParam);
                }
                else {
                    alert(response.objs[0].ErrorMessage);
                }
            }
            else
            {
                alert("Sorry, No FN Batch Found For Out.");
            }
        });
    }

    //End Detail picker

    function IntializePickerbutton(oPickerobj)
    {
        $("#" + oPickerobj.winid).find("#btnOk").click(function () {
            ButtonEvents(oPickerobj);
        });
        $(document).find('.' +oPickerobj.winclass).keydown(function (e) {
            if (e.which == 13)//enter=13
            {
                ButtonEvents(oPickerobj);
            }
        });
    }

    function ButtonEvents(oPickerobj)
    {
        var oreturnobj = "";var oreturnobjs = [];
        if(oPickerobj.multiplereturn){
            oreturnobjs = $('#'+oPickerobj.tableid).datagrid('getChecked');
        }else{
            oreturnobj = $('#'+oPickerobj.tableid).datagrid('getSelected');
        }
        debugger;
        if(oPickerobj.winid == 'winFNBatch')
        {
            if (oreturnobj != null && oreturnobj.FNBatchQCID> 0)
            {
                oFNBatchQC= oreturnobj;
                //debugger;
                $('#txtFNExONo').data('FNBatchQCID',oreturnobj.FNBatchQCID);
                $('#txtFNExONo').val(oreturnobj.FNExONo);
                //console.log(oreturnobj.FNBatchQCID);
                editIndex = undefined;
                //editQCDIndex=undefined;
                DynamicRefreshList([],'tblFNBatchQCFault');
                GetsFNBatchQCDetail();
                endEditing();
                //endEditingQCD();
                $("#" + oPickerobj.winid).icsWindow("close");
            }
            else{
                alert("Please select a batch.");
                return false;
            }
        }
        else if(oPickerobj.winid == 'winFNBatchDetail')
        {
            if (oreturnobjs != null && oreturnobjs.length> 0)
            {
                editIndex = undefined;
                editQCDIndex = undefined;
                DynamicRefreshList(oreturnobjs,'tblFNBatchQCDetail');
                $.icsMakeFooterColumn('tblFNBatchQCDetail',['LotNo','Qty','QtyInMtr']);
                //oFNBatchQCDetail= oreturnobj;
                //debugger;
                //$('#txtFNBatchNo').val(oreturnobj.LotNo);
                //editIndex = undefined;
                //GetFNBatchQCFault(oreturnobj);

                $("#" + oPickerobj.winid).icsWindow("close");
            }
            else{
                alert("Please select Detail.");
                return false;
            }
        }
        $("#" + oPickerobj.winid).remove();
    }

    function GetFNBatchQCFault(oFNBQCD)
    {
        endEditing();
        var oFNBatchQCDetail = {
            FNBatchQCDetailID: oFNBQCD.FNBatchQCDetailID,
            FNBatchQCID: $('#txtFNExONo').data('FNBatchQCID')
        }

        $.ajax({
            type: "POST",
            dataType: "json",
            url : _sBaseAddress+  "/FNBatch/GetFNBatchQCFalults",
            traditional: true,
            data:  JSON.stringify(oFNBatchQCDetail),
            contentType: "application/json; charset=utf-8",
            success: function (data) {
                var oFNBatchQCFaults = jQuery.parseJSON(data);
                if(oFNBatchQCFaults.length > 0){
                    DynamicRefreshList(oFNBatchQCFaults,'tblFNBatchQCFault');
                }else{
                    DynamicRefreshList([],'tblFNBatchQCFault');
                    for(var i=0;i<_oFaults.length;i++){
                        var oDetail = {
                            FNBQCFaultID: 0,
                            FNBatchQCDetailID: oFNBQCD.FNBatchQCDetailID,
                            FPFID: _oFaults[i].FPFID,
                            FaultName: _oFaults[i].Name,
                            FaultPoint: 1,
                            NoOfFault: 0,
                            FaultTotal: 0
                        }
                        $('#tblFNBatchQCFault').datagrid('appendRow',oDetail);
                    }

                }
                $.icsMakeFooterColumn('tblFNBatchQCFault',['FaultName','FaultPoint','NoOfFault','FaultTotal']);
            },
            error: function (xhr, status, error) {
                alert(error);
            }
        });
    }

    function Validation(){

        if(parseInt($('#txtFNExONo').data('FNBatchQCID')) <= 0){
            alert("Please enter Dispo!!");
            return false;
        }

        var oRows=$('#tblFNBatchQCFault').datagrid('getRows');
        if(oRows.length<=0){
            alert("Atleast onen detail required!!");
            return false;
        }

        return true;
    }

    $("#btnSave").click(function (){
        debugger;
        endEditing();
        if(!Validation()) return false;
        var oFNBatchQCFaults = [];
        var oRows=$('#tblFNBatchQCFault').datagrid('getRows');
        for(var i= 0 ;i <oRows.length; i++){
            if(parseFloat(oRows[i].NoOfFault) > 0){
                oFNBatchQCFaults.push(oRows[i]);
            }
        }

        if(oFNBatchQCFaults.length <= 0){
            alert("Please enter No Of fault atleast one Detail!!");
            return;
        }
        console.log(oFNBatchQCFaults);
        //return;
        $.ajax({
            type: "POST",
            dataType: "json",
            url : _sBaseAddress+"/FNBatch/SaveMultipleFNBatchQCFault",
            traditional: true,
            data:  JSON.stringify(oFNBatchQCFaults),
            contentType: "application/json; charset=utf-8",
            success: function (data) {
                //debugger;
                oDatas = jQuery.parseJSON(data);
                if(oDatas.length > 0){
                    alert("Data Saved Successfully!!");
                    DynamicRefreshList(oDatas,'tblFNBatchQCFault');
                    $.icsMakeFooterColumn('tblFNBatchQCFault',['FaultName','FaultPoint','NoOfFault','FaultTotal']);
                }
            },
            error: function (xhr, status, error) {
                alert(error);
            }

        });
    });

    $("#btnDeleteFault").click(function ()
    {
        endEditing();
        var oQCFault=$('#tblFNBatchQCFault').datagrid('getSelected');
        if(oQCFault==null)
        {
            alert("Please select a valid item from list.");
            return;
        }
        if (!confirm("Confirm to Delete?")) return false;
        var nIndex= $('#tblFNBatchQCFault').datagrid('getRowIndex',oQCFault);
        if(oQCFault.FNBQCFaultID<=0){
            $('#tblFNBatchQCFault').datagrid('deleteRow',nIndex);
        }
        else{
            var obj = {
                BaseAddress: _sBaseAddress,
                Object: oQCFault,
                ControllerName: "FNBatch",
                ActionName: "DeleteFNBatchQCFault",
                TableId: "tblFNBatchQCFault",
                IsWinClose: false
            };
            $.icsDelete(obj, function (response) {
                $.icsMakeFooterColumn('tblFNBatchQCFault',['FaultName','FaultPoint','NoOfFault','FaultTotal']);
            });
        }

    });

    $("#btnReloadFault").click(function ()
    {
        endEditing();
        var oFNBQCD = $('#tblFNBatchQCDetail').datagrid('getSelected');
        var oRows=$('#tblFNBatchQCFault').datagrid('getRows');
        for(var i=0;i<_oFaults.length;i++){
            var isExist = false;
            for(var j=0;j<oRows.length;j++){
                if(_oFaults[i].FPFID == oRows[j].FPFID){
                    isExist=true;
                    break;
                }
            }
            if(isExist == false){
                var oDetail = {
                    FNBQCFaultID: 0,
                    FNBatchQCDetailID: oFNBQCD.FNBatchQCDetailID,
                    FPFID: _oFaults[i].FPFID,
                    FaultName: _oFaults[i].Name,
                    FaultPoint: 1,
                    NoOfFault: 0,
                    FaultTotal: 0
                }
                $('#tblFNBatchQCFault').datagrid('appendRow',oDetail);
            }
            $.icsMakeFooterColumn('tblFNBatchQCFault',['FaultName','FaultPoint','NoOfFault','FaultTotal']);
        }
    });

    var editIndex = undefined;
    function endEditing(){
        if (editIndex == undefined){return true}
        if ($('#tblFNBatchQCFault').datagrid('validateRow', editIndex)){
            $('#tblFNBatchQCFault').datagrid('endEdit', editIndex);
            $('#tblFNBatchQCFault').datagrid('selectRow',editIndex);
            var oQCFault=$('#tblFNBatchQCFault').datagrid('getSelected');
            if(oQCFault!=null)
            {
                oQCFault.NoOfFault = parseFloat(oQCFault.NoOfFault);
                oQCFault.FaultPoint = parseFloat(oQCFault.FaultPoint);
                oQCFault.FaultTotal = parseFloat(oQCFault.NoOfFault)*parseFloat(oQCFault.FaultPoint);
                $('#tblFNBatchQCFault').datagrid('updateRow',{index: editIndex,	row: oQCFault});
            }
            editIndex = undefined;
            return true;
        }
        else
        {
            return false;
        }
    }
    function onClickRow(index){
        if (editIndex != index){
            if (endEditing())
            {
                $('#tblFNBatchQCFault').datagrid('selectRow', index).datagrid('beginEdit', index);
                editIndex = index;
            }
            else
            {
                $('#tblFNBatchQCFault').datagrid('selectRow', editIndex);
            }
        }
    }
    ////


    $('#tblFNBatchQCDetail').datagrid({
        onSelect: function (rowIndex, rowData)
        {
            GetFNBatchQCFault(rowData)
        }
    });

    //var editQCDIndex = undefined;
    //function endEditingQCD() {
    //    if (editQCDIndex == undefined) { return true }
    //    if ($('#tblFNBatchQCDetail').datagrid('validateRow', editQCDIndex)) {
    //        debugger
    //        $('#tblFNBatchQCDetail').datagrid('endEdit', editQCDIndex);
    //        var oFNBQCD=$('#tblFNBatchQCDetail').datagrid('getSelected');
    //        editQCDIndex = undefined;
    //        GetFNBatchQCFault(oFNBQCD)
    //        $("#lblLotNo").text("Roll No: "+oFNBQCD.LotNo);
    //        return true;
    //    }
    //    else {
    //        return false;
    //    }
    //}

    //function onClickRowQCD(index) {
    //    debugger
    //    if (editQCDIndex != index) {
    //        if (endEditingQCD()) {
    //            $('#tblFNBatchQCDetail').datagrid('selectRow', index)
    //                    .datagrid('beginEdit', index);
    //            editQCDIndex = index;
    //        }
    //        else {
    //            $('#tblFNBatchQCDetail').datagrid('selectRow', editQCDIndex);
    //        }
    //    }
    //}

    $("#btnPreview").click(function (){
        if(parseInt($('#txtFNExONo').data('FNBatchQCID')) <= 0){
            alert("Please enter Dispo!!");
            return false;
        }
        window.open(_sBaseAddress+ "/FNBatch/QCFaultPreview?id="+parseInt($('#txtFNExONo').data('FNBatchQCID'))+"&nBUID="+_nBUID);
    });

</script>








