@model IEnumerable<ESimSol.BusinessObjects.FabricAvailableStock>
    @{
        ViewBag.Title = "View Delivery Stock";
    }

    <body>
        <div id="progressbarParent" style="width:100%;height:100%;margin:0 auto;text-align:center; margin-left: auto;margin-right: auto;left: 0;right: 0;z-index: 1;">
            <div style="margin: 0px auto;margin-top: 251px;text-align:center;width:390px;">
                <label style="font-size:18px;">Please wait</label>
                <div id="progressbar" style="width:100%;height:37px;"></div>
            </div>
        </div>

        <div id="winFNBatchQCDetail" class="easyui-window winstyle" title="Batch Roll Information" style="width:80%;" data-options="modal:true,closed:true,collapsible:false,minimizable:false,maximizable:false,closable:false">
            <div>
                @*<fieldset style="height:10%">
                    <legend style="font-weight: bold">FN Batch QC Details</legend>
                    <div style="overflow:hidden;display:block">
                        <div style="overflow:hidden;float:left; width:32%">
                            <div style="overflow:hidden;float:left;width:30%;text-align:right">
                                Dispo:
                            </div>
                            <div style="overflow:hidden;float:left;width:70%">
                                <input id="txtDispo" type="text" style=" width:100%;" disabled />
                            </div>
                        </div>
                        <div style="overflow:hidden;float:left; width:32%">
                            <div style="overflow:hidden;float:left;width:30%;text-align:right">
                                Garment:
                            </div>
                            <div style="overflow:hidden;float:left;width:70%">
                                <input id="txtGarment" type="text" style=" width:100%;" disabled />
                            </div>
                        </div>
                        <div style="overflow:hidden;float:left; width:32%">
                            <div style="overflow:hidden;float:left;width:30%;text-align:right">
                                Construction:
                            </div>
                            <div style="overflow:hidden;float:left;width:70%">
                                <input id="txtConstruction" type="text" style=" width:100%;" disabled />
                            </div>
                        </div>
                    </div>
                </fieldset>*@
                <div>
                    <table id="tblFNBatchQCDetail" style="width:100%;height:500px " class="easyui-datagrid" fitcolumns="false" rownumbers="true" pagination="false" singleselect="true" autorowheight="false" toolbar="#toolbarKnittingConsumption" >
                        <thead>
                            <tr>
                                <th field="LotNo" width="8%">Roll No</th>
                                <th field="GradeStr" width="8%">Grade</th>
                                <th field="Qty" align="right" formatter="formatPrice" width="10%">Qty(y)</th>
                                <th field="QtyDC" align="right" formatter="formatPrice" width="10%">Delivery Qty(y)</th>
                                <th field="QtyRC" align="right" formatter="formatPrice" width="10%">Return Qty(y)</th>
                                <th field="Balance" align="right" formatter="formatPrice" width="10%">Balancey(y)</th>
                                <th width="7%" align="right" data-options="field:'QtyExe',editor:{type:'numberbox',options:{precision:2}}">Excess Entry Qty</th>
                                @*<th field="QtyExe" align="right" formatter="formatPrice" width="10%">Excess Qty</th>*@
                                <th field="LockDateStr" align="center" width="10%">Forward Date</th>
                                <th field="StoreRcvDateStr" align="center" width="10%">Store Rcv Date</th>
                            </tr>
                        </thead>
                    </table>
                    <div id="toolbarKnittingConsumption">

                    </div>
                </div>
                <div style="display:block;overflow:hidden;">
                    <fieldset style="height:10%">
                        <legend style="font-weight: bold">Action : </legend>
                        <table border="0" cellspacing="2" cellpadding="2" style="font-size: 11px; font-weight: bold; width:100%">
                            <tr>
                                <td style="width:60%; text-align:right"></td>
                                <td style="width:40%;text-align:right;">
                                    <a id="btnFNBatchQCDetailClose" href="javascript:void(0)" class="easyui-linkbutton" iconcls="icon-cancel" plain="true">Close</a>
                                </td>
                            </tr>
                        </table>
                    </fieldset>
                </div>
            </div>
        </div>

        <div class="easyui-layout menuMainCollectionTable" style="margin-left: 0px; height:100%; width:100%">
            <div id="divDeliveryStock" region="north" split="true" collapsible="true" title="Delivery Stock" style="height: 100%; width:100%;overflow:hidden;">

                <div id="tabPQDetailAndTermsAndCondition" class="easyui-tabs" style="width:100%;height:100%;">
                    <div title="Transfer Store" style="width:100%; height:100%">
                        <div style="width:100%; height:85%">
                            <table id="tblFabricAvailableStocks" style="width:100%; height:70%" class="easyui-datagrid" fit="true" fitcolumns="false" rownumbers="true" pagination="false" singleselect="true" autorowheight="false" toolbar="#toolbar2" data-options="onClickRow:onClickRow, rowStyler: function(index,row){
                                    if (row.Qty<=10){return 'color:#016B18; font-weight:bold;';}}">
                                <thead>
                                    <tr>
                                        <th data-options=" field:'selected',checkbox:true"></th>
                                        <th field="LotNo" width="8%" align="left">Lot/BatchNo</th>
                                        <th field="PONo" width="8%" align="left">PO No</th>
                                        <th field="PODateInString" width="9%" align="left">PO Date</th>
                                        <th field="DispoNo" width="8%" align="left">Dispo No</th>
                                        <th field="DispoQty" width="8%" align="right" formatter="formatPrice">Dispo Qty</th>
                                        @*<th data-options="field:'Qty_Tr',align:'right',editor:{type:'numberbox',options:{precision:2}}" width="12%">Transfer Qty(LBS)</th>*@
                                        <th field="LotNo" width="12%" align="left">Lot No</th>
                                        <th data-options="field:'LotBalance',align:'right',editor:{type:'numberbox',options:{precision:2}}" width="8%" align="right" formatter="formatPrice">Balance</th>
                                        <th data-options="field:'RollQty',align:'right',editor:{type:'numberbox',options:{precision:0}}" width="8%" align="right">Roll Qty</th>
                                        <th field="ProductName" width="18%" align="left">Composition</th>
                                        <th field="BuyerName" width="15%" align="left">Buyer</th>
                                        <th field="ColorName" width="8%" align="left">Color</th>
                                        <th field="WUName" width="15%" align="left">Store</th>
                                        <th field="Construction" width="10%" align="left">Construction</th>
                                        <th field="FinishTypeName" width="8%" align="left">Finish Type</th>
                                        <th field="WeaveTypeName" width="8%" align="left">Weave Type</th>
                                    </tr>
                                </thead>
                            </table>
                            <div id="toolbar2">
                                <table border="0" cellpadding="2" cellspacing="2" style="width:100%; font-size:11px; font-weight:bold">
                                    <tr>
                                        <td style="width:10%;  font-size:12px; text-align:left">
                                            Store : <select id="cboWorkingUnit" style="width:70%" />
                                        </td>
                                        <td style="width:10%;  font-size:12px; text-align:left">
                                            Order :  <select id="cboOrderType" style="width:70%" />
                                        </td>
                                        <td style="width:5%;  font-size:12px; text-align:left">
                                            <a href="javascript:void(0)" id="btnSearchByDate" class="easyui-linkbutton" iconcls="icon-search" plain="true"></a>
                                        </td>
                                        <td style="width:10%;  font-size:12px; text-align:left">
                                            <a id="btnShowDetail" href="javascript:void(0)" class="easyui-linkbutton" iconcls="icon-details" plain="true">Show Roll</a>
                                        </td>
                                        <td style="width:10%;  font-size:12px; text-align:left">
                                            <input type="text" id="txtDispoNo" placeholder="Search by Dispo No" style="width:100%;" />
                                        </td>
                                        @*<td style="width:10%; font-size:12px; text-align:left">
                                <input type="text" id="txtProductName" style="text-align:left; width:100%" placeholder="Search by Product Name" />
                            </td>*@
                                        <td style="width:10%; font-size:12px; text-align:left">
                                            <input type="text" id="txtOrderNo" style="text-align:left; width:100%" placeholder="Search by PO No" />
                                        </td>
                                        @*<td style="width:10%; font-size:12px; text-align:left">
                                <input type="text" id="txtFactoryName" style="text-align:left; width:100%" placeholder="Search by Factory Name" />
                            </td>*@
                                    </tr>
                                </table>
                            </div>

                        </div>
                        <div style="width:100%; height:8%">
                            <fieldset>
                                <legend style="font-weight: bold">Action : </legend>
                                <table border="0" cellspacing="2" cellpadding="2" style="font-size: 11px; font-weight: bold; width:100%;vertical-align:top">
                                    <tr>

                                        <td style="width: 20%">
                                            <a id="btnSendToTrReq" href="javascript:void(0)" class="easyui-linkbutton" iconcls="icon-ok" plain="true">Send For Transfer</a>
                                        </td>
                                        <td style="width:20%;  text-align:right;font-weight:bold;">
                                            <a id="btnPrintDelivaryStocks_PDF" href="javascript:void(0)" class="easyui-linkbutton" iconcls="icon-print" plain="true">Print(PDF)</a>
                                            <a id="btnPrintDelivaryStocks_XL" href="javascript:void(0)" class="easyui-linkbutton" iconcls="icon-print" plain="true">Print(XL)</a>
                                        </td>
                                        <td style="width:20%;  text-align:right;font-weight:bold;"> </td>
                                        <td style="width: 20%"></td>
                                        <td style="width:20%; text-align:right; font-weight:bold;">Balance(LBS):<label id="lblTotalQty">0.00</label></td>
                                    </tr>
                                </table>

                            </fieldset>
                        </div>

                    </div>

                    <div title="Requisition Slip" style="width:100%; height:100%">
                        <table id="tblFabricTransferRequisitionSlips" class="easyui-datagrid" fit="true" fitcolumns="false" rownumbers="true" pagination="false" singleselect="true" autorowheight="false" toolbar="#toolbarSlip">
                            <thead>
                                <tr>
                                    <th field="TRSNO" width="10%" align="left">Req. No</th>
                                    <th field="IssueDateTimeInString" width="15%" align="left">Issue Date</th>
                                    <th field="OperationUnitNameIssue" width="20%" align="left">Issue Store</th>
                                    <th field="OperationUnitNameReceive" width="20%" align="left">Rcv. Store</th>                                    
                                    <th field="Remarks" width="20%" align="left">Remarks</th>
                                </tr>
                            </thead>
                        </table>
                        <div id="toolbarSlip">
                            <table border="0" cellpadding="2" cellspacing="2" style="font-size:11px; font-weight:bold">
                                <tr>
                                    <td style="width:5%;  font-size:12px; text-align:left">
                                        <input id="txtStartDate" type="text" class="easyui-datebox" required="required" data-options="formatter:icsdateformat,parser:icsdateparser" style="width:105px" />
                                         TO <input id="txtEndDate" type="text" class="easyui-datebox" required="required" data-options="formatter:icsdateformat,parser:icsdateparser" style="width:105px" />
                                         <a href="javascript:void(0)" id="btnSearchRequisitionSlips" class="easyui-linkbutton" iconcls="icon-search" plain="true">Search</a>
                                        <a id="btnPreview" href="javascript:void(0)" class="easyui-linkbutton" iconcls="icon-print" plain="true">Preview</a>
                                    </td>
                                </tr>
                            </table>

                        </div>
                    </div>

                </div>
            </div>
            <div id="divTransferableLots" region="center" title="Transferable Lot List" style="width:100%; height:100%; overflow:hidden;">

                <div style="width:100%; height:90%">
                    <table id="tblTransferableLots" class="easyui-datagrid" fit="true" fitcolumns="false" rownumbers="true" pagination="false" singleselect="true" autorowheight="false" toolbar="#toolbar" data-options="rowStyler: function(index,row){
                                        if (row.OrderNo=='Total'){return 'color:#016B18; font-weight:bold;';}}">
                        <thead>
                            <tr>
                                <th field="LotNo" width="15%" align="left">LotNo</th>
                                <th field="Product" width="30%" align="left">Product</th>
                                <th field="Qty" width="10%" align="right" formatter="formatPrice">Qty</th>
                                <th field="RollQty" width="10%" align="right" >Roll Qty</th>
                                <th field="WUName" width="30%" align="left">Store</th>
                            </tr>
                        </thead>
                    </table>
                    <div id="toolbar">
                        <table border="0" cellpadding="2" cellspacing="2" style="font-size:11px; font-weight:bold">
                            <tr>
                                <td style="width:5%;  font-size:12px; text-align:left">
                                    <a href="javascript:void(0)" id="btnSearchTransferableLot" class="easyui-linkbutton" iconcls="icon-search" plain="true"></a>
                                </td>
                            </tr>
                        </table>

                    </div>
                </div>
                <div style="width:100%; height:8%">
                    <fieldset>
                        <legend style="font-weight: bold">Action : </legend>
                        <table border="0" cellspacing="2" cellpadding="2" style="font-size: 11px; font-weight: bold; width:100%;vertical-align:top">
                            <tr>
                                <td style="width: 20%">
                                    Store  <select id="cboWorkingUnit_TRLot" style="width:80%" />
                                </td>
                                <td style="width: 20%">
                                    <a id="btnTransfer_Confirm" href="javascript:void(0)" class="easyui-linkbutton" iconcls="icon-ok" plain="true">Confirm Transfer</a>
                                </td>
                                <td style="width: 20%">
                                    <a id="btnBackFromRequsition" href="javascript:void(0)" class="easyui-linkbutton" iconcls="icon-ok" plain="true">Back From Transfer</a>
                                </td>
                                <td style="width: 20%">
                                    @*<a id="btnDelivertLotAdjustment" href="javascript:void(0)" class="easyui-linkbutton" iconcls="icon-ok" plain="true">Lot Adjustment</a>*@
                                </td>
                                 <td style="width:20%; text-align:right; font-weight:bold;">Balance(LBS):<label id="lblTotalQty_TRLots">0.00</label></td>
                               
                            </tr>
                        </table>

                    </fieldset>
                </div>

            </div>
        </div>

</body>
<style>
    #progressbarParent {
        opacity: 0.8;
        background-color: #DCD9D4;
        position: fixed;
        width: 100%;
        height: 100%;
        top: 0px;
        left: 0px;
        z-index: 1000;
    }
</style>

    <script type="text/javascript">
    var _nBUID=0;
    var _oFabricAvailableStocks=[];
    var _sBaseAddress="";
    var _oFabricTransferRequisitionSlips=[];
    var _oFabricAvailableStock=null;
    $(document).ready(function ()
    {
        debugger;
        _sBaseAddress =@Html.Raw( new System.Web.Script.Serialization.JavaScriptSerializer().Serialize(HttpContext.Current.Session[SessionInfo.BaseAddress]));
        _oFabricAvailableStocks =@Html.Raw( new System.Web.Script.Serialization.JavaScriptSerializer().Serialize(Model));
        var oOrderTypes =@Html.Raw(new System.Web.Script.Serialization.JavaScriptSerializer().Serialize(@ViewBag.OrderTypes));
        _nBUID = @Html.Raw(new System.Web.Script.Serialization.JavaScriptSerializer().Serialize(ViewBag.BUID));
        var oWorkingUnit_Issue = @Html.Raw(new System.Web.Script.Serialization.JavaScriptSerializer().Serialize(ViewBag.WorkingUnit_Issue));
        var oWorkingUnit_Received = @Html.Raw(new System.Web.Script.Serialization.JavaScriptSerializer().Serialize(ViewBag.WorkingUnit_Received));
        var oAuthorizationRolesMapping = @Html.Raw(new System.Web.Script.Serialization.JavaScriptSerializer().Serialize(HttpContext.Current.Session[SessionInfo.AuthorizationRolesMapping]));
        _oFabricTransferRequisitionSlips = @Html.Raw(new System.Web.Script.Serialization.JavaScriptSerializer().Serialize(ViewBag.FabricTransferRequisitionSlips));
        debugger;
        $("#cboOrderType").icsLoadCombo({
            List: oOrderTypes,
            OptionValue: "FabricOrderSetupID",//OrderType
            DisplayText: "ShortName"

        });
        $("#cboWorkingUnit").icsLoadCombo({List: oWorkingUnit_Issue, OptionValue: "WorkingUnitID", DisplayText: "WorkingUnitName", });
        $("#cboWorkingUnit_TRLot").icsLoadCombo({List: oWorkingUnit_Received, OptionValue: "WorkingUnitID", DisplayText: "WorkingUnitName", });

        $("#progressbar").progressbar({ value: 0 });
        $("#progressbarParent").hide();

        LoadintoGrid(_oFabricAvailableStocks);
        RefreshControlLayout(oAuthorizationRolesMapping)
        RefreshSummary();
        // RefreshDateSearch();
        $("#progressbar").progressbar({ value: 0 });
        $("#progressbarParent").hide();
        $('#txtStartDate,#txtEndDate').datebox('setValue', icsdateformat(new Date()));
        DynamicRefreshList(_oFabricTransferRequisitionSlips, "tblFabricTransferRequisitionSlips");
    });

    function hideShow(miliseconds) {
        $("#progressbarParent").hide();
    }

    function RefreshControlLayout(oAuthorizationRolesMapping)
    {
        $("#btnDelivertLotAdjustment").hide();
        if (PermissionChecker('Approved', 'Adjustment',oAuthorizationRolesMapping)) {$("#btnDelivertLotAdjustment").show();}

    }

    $("#txtProductName").keyup(function (e) {
        $(this).icsSearchByText({
            Event: e,
            SearchProperty: "Product",
            GlobalObjectList: _oFabricAvailableStocks,
            TableId: "tblFabricAvailableStocks"
        });
        RefreshSummary();
    });
    $("#txtFactoryName").keyup(function (e) {
        $(this).icsSearchByText({
            Event: e,
            SearchProperty: "FactN",
            GlobalObjectList: _oFabricAvailableStocks,
            TableId: "tblFabricAvailableStocks"
        });
        RefreshSummary();
    });


    function RefreshDateSearch()
    {

        $('#cboWorkingUnit').empty();
        var listDates = "<option value='"+0+"'>" + "--Select Store--" + "</option>";
        listDates+= "<option value='"+8+"'>" + "Valuka[Delivery Store]" + "</option>";
        listDates+= "<option value='"+7+"'>" + "Valuka[RecycleYarnStore]" + "</option>";
        $("#cboWorkingUnit").html(listDates);


        $('#cboWorkingUnit_TRLot').empty();
        var listDates = "<option value='"+0+"'>" + "--Select Store--" + "</option>";
        listDates+= "<option value='"+7+"'>" + "Valuka[RecycleYarnStore]" + "</option>";
        listDates+= "<option value='"+8+"'>" + "Valuka[Delivery Store]" + "</option>";
        $("#cboWorkingUnit_TRLot").html(listDates);


    }
    function updateProgress() {
        var value =$('#progressbar').progressbar('getValue');
        if (value < 90){
            value += Math.floor(Math.random() * 15);
            $('#progressbar').progressbar('setValue', value);
        }
    }

    $("#txtOrderNo").keydown(function (e) {
        var nkeyCode = e.keyCode || e.which;
        if(nkeyCode==13){
            //if (parseInt($("#cboWorkingUnit").val())<=0 ) {

            //    alert("Please Select Store.");
            //    $('#cboWorkingUnit').focus();
            //    $('#cboWorkingUnit').removeClass("errorFieldBorder");
            //    return;
            //}
            //var oFabricAvailableStock={OrderType: $("#cboOrderType").val(),WorkingUnitID:$("#cboWorkingUnit").val(),ErrorMessage:""};
            var nWorkingUnitID=parseInt($("#cboWorkingUnit").val());
            var nOrderType=parseInt($("#cboOrderType").val());
            var sOrderNo =$.trim($("#txtOrderNo").val());
            var sLot ="";

            if (sOrderNo==null || sOrderNo=="" ) {

                alert("Please Type Batch/Lot No.");
                $('#txtOrderNo').focus();
                $('#txtOrderNo').removeClass("errorFieldBorder");
                return;
            }

            var sParams = nWorkingUnitID +"~" +
                              nOrderType +"~" +
                                     sLot+"~"+
                             sOrderNo+"~"+
                                 _nBUID;
            oFabricAvailableStock = {
                ErrorMessage : sParams
            };

            GetsData(oFabricAvailableStock);
        }
        else if(nkeyCode==8){
            $("#sOrderNo").val("");

        }
    });
    $("#txtDispoNo").keydown(function (e) {
        var nkeyCode = e.keyCode || e.which;
        if(nkeyCode==13){
            //if (parseInt($("#cboWorkingUnit").val())<=0 ) {
            //    alert("Please Select Store.");
            //    $('#cboWorkingUnit').focus();
            //    $('#cboWorkingUnit').removeClass("errorFieldBorder");
            //    return;
            //}
            //var oFabricAvailableStock={OrderType: $("#cboOrderType").val(),WorkingUnitID:$("#cboWorkingUnit").val(),ErrorMessage:""};
            var nWorkingUnitID=parseInt($("#cboWorkingUnit").val());
            var nOrderType=parseInt($("#cboOrderType").val());
            var sOrderNo ="";
            var sLot =$.trim($("#txtDispoNo").val());

            if (sLot==null || sLot=="" ) {

                alert("Please Type Batch/Lot No.");
                $('#txtDispoNo').focus();
                $('#txtDispoNo').removeClass("errorFieldBorder");
                return;
            }

            var sParams = nWorkingUnitID +"~" +
                              nOrderType +"~" +
                                     sLot+"~"+
                             sOrderNo+"~"+
                                 _nBUID;
            var oFabricAvailableStock = {
                ErrorMessage : sParams
            };
            GetsData(oFabricAvailableStock);
        }
        else if(nkeyCode==8){
            $("#txtDispoNo").val("");

        }
    });

    $("#btnSearchByDate").click(function () {
        debugger;
        //if (parseInt($("#cboWorkingUnit").val())<=0 ) {
        //    alert("Please Select Store.");
        //    $('#cboWorkingUnit').focus();
        //    $('#cboWorkingUnit').removeClass("errorFieldBorder");
        //    return;
        //}
        //var oFabricAvailableStock={OrderType: $("#cboOrderType").val(),WorkingUnitID:$("#cboWorkingUnit").val()};
        var nWorkingUnitID=parseInt($("#cboWorkingUnit").val());
        var nOrderType=parseInt($("#cboOrderType").val());
        var sOrderNo = "";
        var sLot ="";
        var sParams = nWorkingUnitID +"~" +
                          nOrderType +"~" +
                                 sLot+"~"+
                         sOrderNo+"~"+
                             _nBUID;
        var oFabricAvailableStock = {
            ErrorMessage : sParams
        };
        GetsData(oFabricAvailableStock);
    });

    function GetsData(oFabricAvailableStock)
    {
        // if(!ValidateInput())return;
        $("#progressbar").progressbar({ value: 0 });
        $("#progressbarParent").show();
        //var oFabricAvailableStock={OrderType: $("#cboOrderType").val(),WorkingUnitID:$("#cboWorkingUnit").val()};
        var intervalID = setInterval(updateProgress, 250);
        $.ajax
         ({
             type: "POST",
             dataType: "json",
             url : _sBaseAddress+"/FabricAvailableStock/GetsAvalnDelivery",
             traditional: true,
             data:  JSON.stringify(oFabricAvailableStock),
             contentType: "application/json; charset=utf-8",
             success: function (data) {
                 //debugger;
                 var oFabricAvailableStocks = data;
                 $('#progressbar').progressbar('setValue', 100);
                 clearInterval(intervalID);
                 if (oFabricAvailableStocks.length>0)
                 {
                     LoadintoGrid(oFabricAvailableStocks);
                     RefreshSummary();
                 }
                 else
                 {
                     oFabricAvailableStocks=[];
                     LoadintoGrid(oFabricAvailableStocks);
                     alert("Data Not found");
                     RefreshSummary();
                 }
                 setTimeout(hideShow, 1000);
             },
             error: function (xhr, status, error)
             {
                 setTimeout(hideShow, 1000);
                 alert(error);
             }
         });
    }

    function LoadintoGrid(oFabricAvailableStocks) {
        $('#tblFabricAvailableStocks').datagrid({ selectOnCheck: false, checkOnSelect: false });
        data = oFabricAvailableStocks;
        data = { "total": "" + data.length + "", "rows": data };
        $('#tblFabricAvailableStocks').datagrid('loadData', data);
        setTimeout(hideShow, 1000);
    }

    function cellStyler(value,row,index)
    {
        if (row.IsOparate ==1)
        {
            return 'background-color:#FFFF00;';//font-weight:bold;
        }
        if (row.IsOparate ==2)
        {
            // return 'background-color:#FF0000;';
            return 'font-weight:bold;';//font-weight:bold;
        }
    }

    function RefreshSummary()
    {
        var oPIPayables = $('#tblFabricAvailableStocks').datagrid('getRows');
        var nTotalAmount = 0, nTotalBalance = 0;
        for(var i = 0; i<oPIPayables.length;i++)
        {
            nTotalBalance+=parseFloat(oPIPayables[i].LotBalance);
        }
        document.getElementById('lblTotalQty').innerHTML = " "+formatPrice(nTotalBalance,0);
    }

    $('#btnPrintDelivaryStocks_PDF').click(function (e)
    {
        var tsv = ((new Date()).getTime()) / 1000;
        window.open(_sBaseAddress+ "/FabricAvailableStock/PrintDeliveryStock?nts="+tsv, "_blank");
    });

    $('#btnPrintDelivaryStocks_XL').click(function (e)
    {
        var tsv = ((new Date()).getTime()) / 1000;
        window.open(_sBaseAddress+ "/FabricAvailableStock/PrintDeliveryStockXL?nts="+tsv, "_blank");
    });

    function IfExists(oFabricAvailableStock)
    {
        var oTransferableLots =$('#tblTransferableLots').datagrid('getRows');
        for(var i=0; i<oTransferableLots.length; i++)
        {
            if(oTransferableLots[i].LotID==oFabricAvailableStock.LotID)
            {
                return true;
            }
        }
        return false;
    }

    $('#btnSendToTrReq').click(function(e){
        debugger;
        endEditing();
        var oFabricAvailableStocks = $('#tblFabricAvailableStocks').datagrid('getChecked');
        if(oFabricAvailableStocks.length<=0)
        {
            alert("Please checked at least one item.");
            return;
        }
        for (i = 0; i < oFabricAvailableStocks.length; ++i)
        {
            if(IfExists(oFabricAvailableStocks[i]))
            {
                alert("This lot already send for transfer");
                return;
            }
            //nSelectedIndex = $('#tblFabricAvailableStocks').datagrid('getRowIndex', oFabricAvailableStocks[i]);
            //$('#tblFabricAvailableStocks').datagrid('deleteRow', nSelectedIndex);
        }

        $.ajax({
            type: "POST",
            dataType: "json",
            url : _sBaseAddress+"/FabricAvailableStock/SendToRequsition",
            traditional: true,
            data:  JSON.stringify(oFabricAvailableStocks),
            contentType: "application/json; charset=utf-8",
            success: function (data) {
                var  oTransferableLots = jQuery.parseJSON(data);
                debugger;
                if (oTransferableLots[0].ErrorMessage == '' || oTransferableLots[0].ErrorMessage == null)
                {
                    debugger;
                    for (i = 0; i < oTransferableLots.length; ++i)
                    {
                        $('#tblTransferableLots').datagrid('appendRow',oTransferableLots[i]);
                    }
                    RefreshSummary();
                    RefreshSummary_TRLots();
                    for (i = 0; i < oFabricAvailableStocks.length; ++i)
                    {
                        nSelectedIndex = $('#tblFabricAvailableStocks').datagrid('getRowIndex', oFabricAvailableStocks[i]);
                        $('#tblFabricAvailableStocks').datagrid('deleteRow', nSelectedIndex);
                    }
                }
                else
                {
                    alert(oTransferableLots[0].ErrorMessage);
                }
            },
            error: function (xhr, status, error)
            {
                alert(xhr+'~' +status+'~'+error);
            }
        });
    });

    $('#btnBackFromRequsition').click(function(e){
        debugger;
        var oTransferableLot= $('#tblTransferableLots').datagrid('getSelected');
        if(oTransferableLot==null || oTransferableLot.FabricTransferableLotID<=0)
        {
            alert("Invalid Field!!! please select a valid Field!");
            return false;
        }
        if (!confirm("Confirm to Remove?")) return ;
        var nSelectedRowIndex=$('#tblTransferableLots').datagrid('getRowIndex',oTransferableLot);
        if (oTransferableLot.FabricTransferableLotID > 0)
        {
            $.ajax({
                type: "POST",
                dataType: "json",
                url : _sBaseAddress+  "/FabricAvailableStock/Delete",
                traditional: true,
                data:  JSON.stringify(oTransferableLot),
                contentType: "application/json; charset=utf-8",
                success: function (data) {
                    debugger;
                    feedbackmessage = jQuery.parseJSON(data);
                    if (feedbackmessage == "Deleted")
                    {
                        $('#tblTransferableLots').datagrid('deleteRow',nSelectedRowIndex);
                        RefreshSummary_TRLots();
                        alert("Delete sucessfully");
                    }
                    else
                    {
                        alert(feedbackmessage);
                    }
                },
                error: function (xhr, status, error)
                {
                    alert(error);
                }

            });
        }

    });

    $("#btnSearchTransferableLot").click(function () {
        debugger;
        var oTransferableLot={WorkingUnitID:8};
        $.ajax
         ({
             type: "POST",
             dataType: "json",
             url : _sBaseAddress+"/FabricAvailableStock/SearchTransferableLot",
             traditional: true,
             data:  JSON.stringify(oTransferableLot),
             contentType: "application/json; charset=utf-8",
             success: function (data) {
                 //debugger;
                 var oTransferableLots = data;

                 if (oTransferableLots.length>0)
                 {
                     LoadintoGrid_TrLots(oTransferableLots);
                     RefreshSummary_TRLots();
                 }
                 else
                 {
                     oTransferableLots=[];
                     LoadintoGrid_TrLots(oTransferableLots);
                     alert("Data Not found");
                     RefreshSummary_TRLots();
                 }
             },
             error: function (xhr, status, error)
             {
                 alert(error);
             }
         });
    });

    function LoadintoGrid_TrLots(oTransferableLots) {
        data = oTransferableLots;
        data = { "total": "" + data.length + "", "rows": data };
        $('#tblTransferableLots').datagrid('loadData', data);
    }

    function RefreshSummary_TRLots()
    {
        var oTransferableLots = $('#tblTransferableLots').datagrid('getRows');
        var  nTotalBalance = 0;
        for(var i = 0; i<oTransferableLots.length;i++)
        {
            nTotalBalance+=parseFloat(oTransferableLots[i].Qty);
        }
        document.getElementById('lblTotalQty_TRLots').innerHTML = " "+formatPrice(nTotalBalance,0);
    }

    $('#btnTransfer_Confirm').click(function(e){
        debugger;
        //debugger;
        var oTransferableLots = $('#tblTransferableLots').datagrid('getRows');
        if(oTransferableLots==null || oTransferableLots.length<=0)
        {
            alert("Invalid Field!!! please select a valid Field!");
            return ;
        }

        var nWorkingUnitID=oTransferableLots[0].WorkingUnitID;
        var nWorkingUnitID_Recd=$("#cboWorkingUnit_TRLot").val();

        if(nWorkingUnitID==null || nWorkingUnitID<=0)
        {
            alert("Invalid Field!!! Invalid Issue Store!");
            return ;
        }
        if(nWorkingUnitID_Recd==null || nWorkingUnitID_Recd<=0)
        {
            alert("Please, Select Receive Store.!");
            $('#cboWorkingUnit_TRLot').focus();
            return ;
        }
        if(nWorkingUnitID_Recd==nWorkingUnitID)
        {
            alert("Issue Store and Receive store is Same.Please, Select valid Receive Store.!");
            $('#cboWorkingUnit_TRLot').focus();
            return ;
        }

        if (!confirm("Confirm to Transfer? You can't rollback after Transfer")) return ;

        var oTransferableLot={WorkingUnitID_Recd:nWorkingUnitID_Recd,WorkingUnitID:nWorkingUnitID};

        $.ajax({
            type: "POST",
            dataType: "json",
            url : _sBaseAddress+  "/FabricAvailableStock/TransferToStore",
            traditional: true,
            data:  JSON.stringify(oTransferableLot),
            contentType: "application/json; charset=utf-8",
            success: function (data) {
                debugger;
                feedbackmessage = jQuery.parseJSON(data);
                if (feedbackmessage == "Data Save Succesfully")
                {
                    $('#tblTransferableLots').empty();
                    var oTransferableLots=[];
                    LoadintoGrid_TrLots(oTransferableLots)
                    RefreshSummary_TRLots();
                    alert("Transfer sucessfully");
                }
                else
                {
                    alert(feedbackmessage);
                }
            },
            error: function (xhr, status, error)
            {
                alert(error);
            }

        });


    });

    $('#btnDelivertLotAdjustment').click(function(e){
        debugger;
        //debugger;
        var oTransferableLots = $('#tblTransferableLots').datagrid('getRows');
        if(oTransferableLots==null || oTransferableLots.length<=0)
        {
            alert("Invalid Field!!! please select a valid Field!");
            return ;
        }

        var nWorkingUnitID=oTransferableLots[0].WorkingUnitID;
        var nWorkingUnitID_Recd=$("#cboWorkingUnit_TRLot").val();

        if(nWorkingUnitID==null || nWorkingUnitID<=0)
        {
            alert("Invalid Field!!! Invalid Issue Store!");
            return ;
        }
        //if(nWorkingUnitID_Recd==null || nWorkingUnitID_Recd<=0)
        //{
        //    alert("Please, Select Receive Store.!");
        //    $('#cboWorkingUnit_TRLot').focus();
        //    return ;
        //}
        //if(nWorkingUnitID_Recd!=8)
        //{
        //    alert("Please, Select Delivery Store.!");
        //    $('#cboWorkingUnit_TRLot').focus();
        //    return ;
        //}

        if (!confirm("Confirm to Adjustment? You can't rollback after done Adjustment")) return ;

        var oTransferableLot={WorkingUnitID_Recd:nWorkingUnitID,WorkingUnitID:nWorkingUnitID};

        $.ajax({
            type: "POST",
            dataType: "json",
            url : _sBaseAddress+  "/FabricAvailableStock/DelivertLotAdjustment",
            traditional: true,
            data:  JSON.stringify(oTransferableLot),
            contentType: "application/json; charset=utf-8",
            success: function (data) {
                debugger;
                feedbackmessage = jQuery.parseJSON(data);
                if (feedbackmessage == "Data Save Succesfully")
                {
                    $('#tblTransferableLots').empty();
                    var oTransferableLots=[];
                    LoadintoGrid_TrLots(oTransferableLots)
                    RefreshSummary_TRLots();
                    alert("Adjustment operation done sucessfully");
                }
                else
                {
                    alert(feedbackmessage);
                }
            },
            error: function (xhr, status, error)
            {
                alert(error);
            }

        });


    });

    var editIndex = undefined;
    function endEditing() {
        if (editIndex == undefined) { return true }
        if ($('#tblFabricAvailableStocks').datagrid('validateRow', editIndex)) {
            $('#tblFabricAvailableStocks').datagrid('endEdit', editIndex);
            $('#tblFabricAvailableStocks').datagrid('selectRow', editIndex);
            var oDelStocks = $('#tblFabricAvailableStocks').datagrid('getSelected');
            debugger;
            $('#tblFabricAvailableStocks').datagrid('updateRow', { index: editIndex, row: oDelStocks });
            //RefreshSummary();
            editIndex = undefined;
            return true;
        }
        else {
            return false;
        }
    }
    function onClickRow(index) {

        if (editIndex != index) {
            if (endEditing()) {
                $('#tblFabricAvailableStocks').datagrid('selectRow', index).datagrid('beginEdit', index);
                var oPRDetail= $('#tblFabricAvailableStocks').datagrid('getSelected');
                editIndex = index;
            }
            else {
                $('#tblFabricAvailableStocks').datagrid('selectRow', editIndex);
            }
        }
    }

    $("#btnShowDetail").click(function(){
        debugger;
        var oRow = $('#tblFabricAvailableStocks').datagrid('getSelected');
        if(oRow==null || oRow.FSCDID<=0)
        {
            alert("Please Select a row!");
            return;
        }
        var oFNBatchQCDetail={
            FSCDID : parseInt(oRow.FSCDID),
        }
        $.ajax({
            type: "POST",
            dataType: "json",
            url :  _sBaseAddress+ "/RptExecutionOrderUpdateStatus/GetFNBatchQCDetail",
            traditional: true,
            data:  JSON.stringify(oFNBatchQCDetail),
            contentType: "application/json; charset=utf-8",
            success: function (data)
            {
                debugger;
                var oFNBatchQCDetails = jQuery.parseJSON(data);
                if (oFNBatchQCDetails.length>0)
                {
                    DynamicRefreshList(oFNBatchQCDetails,"tblFNBatchQCDetail");
                    //$.icsMakeFooterColumn('tblFNBatchQCDetail',['LotNo','Qty','QtyDC','Balance','QtyExe','QtyRC']);
                }
                else
                {
                    DynamicRefreshList([],'tblFNBatchQCDetail');
                }
            },
            error: function (xhr, status, error) {
                alert(error);
            }
        });
        $("#winFNBatchQCDetail").icsWindow('open',"Batch Roll information");
    });

    $("#btnFNBatchQCDetailClose").click(function(){
        $("#winFNBatchQCDetail").icsWindow('close');
    })

    $('#btnPreview').click(function(){
        var oObj=$('#tblFabricTransferRequisitionSlips').datagrid('getSelected');
        if(oObj==null || parseInt(oObj.FabricTRSID)<=0)
        {
            alert("Please select Item!!");
            return;
        }
        window.open(_sBaseAddress+ "/FabricAvailableStock/PrintTransferRequisitionSlip?nFabricTRSID="+oObj.FabricTRSID+"&nBUID="+_nBUID);
    });

    $("#btnSearchRequisitionSlips").click(function () {
        debugger;
        var dStartDate = $('#txtStartDate').datebox('getValue');
        var dEndDate = $('#txtEndDate').datebox('getValue');

        var sParams =
                        dStartDate + "~" +
                        dEndDate;
        //$("#regionFabricBatchProduction").data("AdvSearcParams",sParams);
        var oObj = {
            ErrorMessage : sParams
        };
        
        $.ajax({
            type: "POST",
            dataType: "json",
            url: _sBaseAddress + "/FabricAvailableStock/SearchRequisitionSlips",
            traditional: true,
            data: JSON.stringify(oObj),
            contentType: "application/json; charset=utf-8",
            success: function (data) {
                var oObjs = data;
                debugger;
                if (oObjs.length > 0)
                {
                    if (oObjs[0].ErrorMessage=='' || oObjs[0].ErrorMessage==null)
                    {
                        DynamicRefreshList(oObjs, "tblFabricTransferRequisitionSlips");
                    }
                    else
                    {
                        alert(oObjs[0].ErrorMessage);
                    }

                }else {
                    alert("Sorry, No data found. ");
                }
            }
        });

    });

    </script>


