@{
    ViewBag.Title = "Budget List";
}

@model IEnumerable<ESimSol.BusinessObjects.Budget>

    <head>
        <title>Route Sheet</title>
    </head>
    <body>
        <div id="progressbarParent" style="width:100%;height:100%;margin:0 auto;text-align:center; margin-left: auto;margin-right: auto;left: 0;right: 0;z-index: 1;">
            <div style="margin: 0px auto;margin-top: 251px;text-align:center;width:390px;">
                <label style="font-size:18px;">Please wait</label>
                <div id="progressbar" style="width:100%;height:37px;"></div>
            </div>
        </div>
        <div class="menuMainCollectionTable">
            <table id="tblBudget" title="Budget List" class="easyui-datagrid" fit="true" fitcolumn="true" rownumbers="true" pagination="true" singleselect="true" autorowheight="false" toolbar="#toolbarBudget">
                <thead>
                    <tr>
                        <th field="IssueDateSt" width="10%">Date</th>
                        <th field="BudgetNo" width="12%">Budget No</span></th>
                        <th field="BUName" width="12%">B Unit</th>
                        <th field="SessionName" width="12%">Session</th>
                        <th field="BudgetTypeSt" width="15%">Budget Type</th>
                        <th field="BudgetStatusSt" width="15%">Budget Status</th>
                        @*<th field="Qty" width="10%" formatter="formatPrice">Qty</th>*@
                        @*<th field="ApproveByName" width="14%">Approved</th>*@
                        <th field="Remarks" width="20%">Remarks</th>

                    </tr>
                </thead>
            </table>
            <div id="toolbarBudget">
                <a id="btnAdd" href="javascript:void(0)" class="easyui-linkbutton" iconcls="icon-add" plain="true">Add</a>
                <a id="btnEdit" href="javascript:void(0)" class="easyui-linkbutton " iconcls="icon-edit" plain="true">Edit</a>
                <a id="btnDelete" href="javascript:void(0)" class="easyui-linkbutton " iconcls="icon-remove" plain="true">Delete</a>
                <a id="btnView" href="javascript:void(0)" class="easyui-linkbutton " iconcls="icon-details" plain="true">View</a>
                <a id="btnReqForApprove" href="javascript:void(0)" class="easyui-linkbutton " iconcls="icon-redo" plain="true">Req For Approve</a>
                <a id="btnApprove" href="javascript:void(0)" class="easyui-linkbutton " iconcls="icon-approved" plain="true">Approve</a>
                <a id="btnReqForRevise" href="javascript:void(0)" class="easyui-linkbutton " iconcls="icon-undo" plain="true">Req For Revise</a>
                <a id="btnAcceptRevise" href="javascript:void(0)" class="easyui-linkbutton " iconcls="icon-redo" plain="true">Accept Revise</a>
                <a id="btnPrint" href="javascript:void(0)" class="easyui-linkbutton " iconcls="icon-print" plain="true">Preview</a>
                <a id="btnPrintledger" href="javascript:void(0)" class="easyui-linkbutton " iconcls="icon-print" plain="true">Ledger Preview</a>
                <br />



                Approval:
                <select id="cboApproved">
                    <option value="0">--Select One--</option>
                    <option value="1">Approved/ Not Approved</option>
                    <option value="2">Approved Only</option>
                </select>

                <select id="cboBudgetType">
                </select>
                <input id="dStartDate" type="text" style="width:120px" class="easyui-datebox" data-options="formatter:icsmonthformat,parser:icsmonthparser" />
                <input id="dEndDate" type="text" style="width:120px;" class="easyui-datebox" data-options="formatter:icsmonthformat,parser:icsmonthparser" />

                <a id="btnExcelReport" href="javascript:void(0)" class="easyui-linkbutton " iconcls="icon-print" plain="true">Excel</a>
            </div>
        </div>
        @*<div id="winAdvSearch" class="easyui-window winClass" style="width:500px" title=" adv. search" data-options="modal:true,closed:true,collapsible:false,minimizable:false,maximizable:false,closable:false">
            <table style="width:100%">
                <tr>
                    <td>
                        <fieldset>
                            <legend>Searching Criteria</legend>
                            <table style="width:100%">
                                <tr>
                                    <td style=" width:25%;text-align:right;">
                                        <label> Date:</label>
                                    </td>
                                    <td colspan="3" style=" width:75%;text-align:left;">
                                        <select id="cboRSDateAdvS" style="width:30%;" onchange="DateActionsRSDateAdvSearch();"></select>
                                        <input id="dtBudgetDateFromAdv" type="text" style="width: 100px;" class="easyui-datebox" required="required" data-options="formatter:icsdateformat,parser:icsdateparser" />To
                                        <input id="dtBudgetDateToAdv" type="text" style="width: 100px;" class="easyui-datebox" required="required" data-options="formatter:icsdateformat,parser:icsdateparser" />
                                    </td>
                                </tr>

                                <tr>
                                    <td style=" width:25%;text-align:right;">
                                        <label>Machine:</label>
                                    </td>
                                    <td colspan="3" style=" width:75%;text-align:left;">
                                        <input id="txtMachine" style="width:70%;" placeholder="Search Machine" />
                                        <a id="btnPickMachine" href="javascript:void(0)" class="easyui-linkbutton ics-pick" iconcls="icon-pick" plain="true"></a>
                                        <a id="btnResetMachine" href="javascript:void(0)" class="easyui-linkbutton ics-pick" iconcls="icon-clear" plain="true"></a>

                                    </td>
                                </tr>
                                <tr>
                                    <td style=" width:25%;text-align:right;">
                                        <label>Buyer:</label>
                                    </td>
                                    <td colspan="3" style=" width:75%;text-align:left;">
                                        <input id="txtBuyer" style="width:70%;"  placeholder=" search issue to" />
                                        <a id="btnPickBuyer" href="javascript:void(0)" class="easyui-linkbutton ics-pick" iconcls="icon-pick" plain="true"></a>
                                        <a id="btnResetBuyer" href="javascript:void(0)" class="easyui-linkbutton ics-pick" iconcls="icon-clear" plain="true"></a>

                                    </td>
                                </tr>
                                <tr>
                                    <td style=" width:25%;text-align:right;">
                                        <label>Yarn:</label>
                                    </td>
                                    <td colspan="3" style=" width:75%;text-align:left;">
                                        <input id="txtProductName" style="width:70%;" type="text" placeholder="Type & Press Enter" />
                                        <a id="btnProductPiker" href="javascript:void(0)" class="easyui-linkbutton ics-pick" iconcls="icon-pick" plain="true"></a>
                                        <a id="btnClrProductPiker" href="javascript:void(0)" class="easyui-linkbutton ics-pick" iconcls="icon-clear" plain="true"></a>
                                    </td>
                                </tr>
                                <tr>
                                    <td style=" width:25%;text-align:right;">
                                        <label>Order Type:</label>
                                    </td>
                                    <td style=" width:30%;text-align:left;">
                                        <select id="cboOrderType" class="cbo-styler"></select>
                                    </td>
                                    <td style=" width:15%;text-align:right;"></td>
                                    <td style=" width:30%;text-align:left;"></td>
                                </tr>
                                <tr>
                                    <td style=" width:25%;text-align:right;">
                                        <label>Order No:</label>
                                    </td>
                                    <td colspan="3" style=" width:75%;text-align:left;">
                                        <input id="txtOrderNoAdv" style="width:70%;" placeholder="Search Issue To" />
                                        <a id="btnPickOrderNo" href="javascript:void(0)" class="easyui-linkbutton ics-pick" iconcls="icon-pick" plain="true"></a>
                                        <a id="btnResetOrder" href="javascript:void(0)" class="easyui-linkbutton ics-pick" iconcls="icon-clear" plain="true"></a>

                                    </td>
                                </tr>
                                <tr>
                                    <td style=" width:25%;text-align:right;">
                                        <label>Status:</label>
                                    </td>
                                    <td colspan="3" style=" width:75%;text-align:left;">
                                        <table id="tblOrderStatus" class="easyui-datagrid" style="height:200px;" fitcolumn="true" rownumbers="true" pagination="false" multiselect="true" autorowheight="false">
                                            <thead>
                                                <tr>
                                                    <th data-options="field:'Selected',checkbox:true"> </th>
                                                    <th field="Text" width="80%">Status</th>
                                                </tr>
                                            </thead>

                                        </table>
                                    </td>
                                </tr>
                                <tr>
                                    <td style=" width:25%;text-align:right;">
                                        <label> Date by Status:</label>
                                    </td>
                                    <td colspan="3" style=" width:75%;text-align:left;">
                                        <select id="cboRSDateAdvS_His" style="width:30%;" onchange="DateActionsRSDateAdvSearch_His();"></select>
                                        <input id="dtBudgetDateFromAdv_His" type="text" style="width: 100px;" class="easyui-datebox" required="required" data-options="formatter:icsdateformat,parser:icsdateparser" />To
                                        <input id="dtBudgetDateToAdv_His" type="text" style="width: 100px;" class="easyui-datebox" required="required" data-options="formatter:icsdateformat,parser:icsdateparser" />
                                    </td>
                                </tr>

                                <tr>
                                    <td height="5px" colspan="4"></td>
                                </tr>

                            </table>
                        </fieldset>
                    </td>
                </tr>
            </table>

            <fieldset class="actionfieldsetstyle">
                <legend>Actions : </legend>
                <label class="lblLoadingMessage" style="float: left;">Loading Please Wait...</label>
                <a id="btnResetAdvSearch" href="javascript:void(0)" class="easyui-linkbutton" iconcls="icon-reload" plain="true">Reset</a>
                <a id="btnSearchAdvSearch" href="javascript:void(0)" class="easyui-linkbutton" iconcls="icon-search" plain="true">Search</a>
                <a id="btnCloseAdvSearch" href="javascript:void(0)" class="easyui-linkbutton" iconcls="icon-cancel" plain="true">Close</a>
            </fieldset>
        </div>*@
       
    </body>
 

    <script type="text/javascript">
    var _sBaseAddress="";
    var _oBudgets=[];
    var _oRSStatuss=[];
    var _sPTUIDs="";
    var _sContractorIDs="";
    var _sMachineIDs="";
    var _sProductIds="";
    var _sMessage='';
    var _nNextStatus=-1;
    var _nBUID=0;
    var _oBudgetTypes = [];

    $(document).ready(function () {
        _sBaseAddress = @Html.Raw(new System.Web.Script.Serialization.JavaScriptSerializer().Serialize(HttpContext.Current.Session[SessionInfo.BaseAddress]));
        _oBudgets =@Html.Raw( new System.Web.Script.Serialization.JavaScriptSerializer().Serialize(Model));
        _oRSStatuss=@Html.Raw(new System.Web.Script.Serialization.JavaScriptSerializer().Serialize(@ViewBag.EnumRSStatuss));
        var oOrderTypes=@Html.Raw(new System.Web.Script.Serialization.JavaScriptSerializer().Serialize(@ViewBag.OrderTypes));
        var oCompareOperators=@Html.Raw(new System.Web.Script.Serialization.JavaScriptSerializer().Serialize(@ViewBag.CompareOperators));
        var oBudgetSetup=@Html.Raw(new System.Web.Script.Serialization.JavaScriptSerializer().Serialize(@ViewBag.BudgetSetup));
        _oBudgetTypes = @Html.Raw(new System.Web.Script.Serialization.JavaScriptSerializer().Serialize(ViewBag.BudgetType));
        _nBUID = @Html.Raw(new System.Web.Script.Serialization.JavaScriptSerializer().Serialize(ViewBag.BUID));
        //RSSetup(oBudgetSetup);
        $('.number').icsCurrencyBox();
        $("#cboBudgetType").icsLoadCombo({List: _oBudgetTypes,OptionValue: "id",DisplayText: "Value",});
        $('#dStartDate').datebox('setValue', icsdateformat(new Date()));
        $('#dEndDate').datebox('setValue', icsdateformat(new Date()));
        $('.initial-state').hide();
        debugger;
        if(sessionStorage.getItem("Budgets")!=null && sessionStorage.getItem("Budgets").length>0)
        {
            _oBudgets= jQuery.parseJSON(sessionStorage.getItem('Budgets'));
            var nIndex= sessionStorage.getItem('SelectedRowIndex');
            DynamicRefreshList(_oBudgets, 'tblBudget');
            //if(nIndex>-1){
            //    $('#tblBudget').datagrid('selectRow',nIndex);
            //    OperationPerforms(nIndex, _oBudgets[nIndex]);
            //}
        }
        else
        {
            DynamicRefreshList(_oBudgets, 'tblBudget');
        }

        $("#cboOrderType").icsLoadCombo({
            List: oOrderTypes,
            OptionValue: "OrderType",
            DisplayText: "ShortName",
        });
        $("#cboRSDateAdvS,#cboRSDateAdvS_His").icsLoadCombo({
            List: oCompareOperators,
            OptionValue: "id",
            DisplayText: "Value",

        });
        $("#progressbar").progressbar({ value: 0 });
        $("#progressbarParent").hide();
        $(".lblLoadingMessage").hide();
    });


    $(document).keydown(function (e) { if (e.keyCode == 27) { $('div').icsWindow('close'); } });

    function formatter2(date){
        if (!date){return '';}
        var y = date.getFullYear();
        var m = date.getMonth() + 1;
        return (m<10?('0'+m):m) + '-' + y;
    }
    function parser2(s){
        if (!s){return null;}
        var ss = s.split('-');
        var m = parseInt(ss[1],10);
        var y = parseInt(ss[0],10);
        if (!isNaN(y) && !isNaN(m)){
            return new Date(1,m-1,y);
        } else {
            return new Date();
        }
    }

    function updateProgress() {
        var value =$('#progressbar').progressbar('getValue');
        if (value < 96){
            value += Math.floor(Math.random() * 10);
            $('#progressbar').progressbar('setValue', value);
        }
    }
    function hideShow(miliseconds) {
        $("#progressbarParent").hide();
    }
    //$('#tblBudget').datagrid({ onSelect: function (rowIndex, rowData) { OperationPerforms(rowIndex, rowData); } });

    //function OperationPerforms(rowIndex, rowData) {
    //    $('#btnEdit,#btnDelete,#btnView,#btnCopy,#btnCancel,#btnPrint,#btnPrintRS_Custom,#btnRSState,#btnUndo').hide();
    //    if (rowData != null && rowData.BudgetID > 0) {
    //        _nNextStatus=-1;
    //        _sMessage="";
    //        $('#btnView,#btnPrint,#btnPrintRS_Custom').show();
    //        if (rowData.RSState==1)  //Initialized = 1,
    //        {
    //            $('#btnEdit,#btnDelete,#btnRSState').show();
    //            _nNextStatus=3;
    //            _sMessage="Send to Floor";
    //            $('#lblRSState').text('Send to Floor');
    //        }
    //        else if (rowData.RSState==3)  //In Floor
    //        {
    //            $('#btnCopy,#btnUndo').show();
    //        }
    //        else if (rowData.RSState>3)
    //        {
    //            $('#btnCopy').show();
    //        }

    //        if (rowData.RSState>=14 && rowData.RSState<=17)  //Sub Finishing Store to Finish
    //        {
    //            $('#btnCancel').hide();
    //        }
    //    }
    //}

    /*.......... Searching ............. */
    $("#txtBudgetNo").keyup(function (e) {
        var oBudgets =[];
        var keyCode = e.keyCode || e.which;
        $('#txtBudgetNo').removeClass("errorFieldBorder");
        if (keyCode == 8) { oBudgets = _oBudgets; }
        else{ oBudgets = $('#tblBudget').datagrid('getRows'); }
        if (e.keyCode == 13) // Enter Press
        {
            if (!$.trim($("#txtBudgetNo").val()).length) {

                alert("Please enter Budget no to search.");
                $('#txtBudgetNo').focus();
                $('#txtBudgetNo').val("");
                return;
            }
            else { $('#txtBudgetNo').removeClass("errorFieldBorder"); }

            ResetAdvSearchPicker();

            var oBudget={
                Params:   $.trim($("#txtBudgetNo").val())+'~'+0+ '~'+ icsdateformat(new Date())+'~'+ icsdateformat(new Date())+'~'+ _sPTUIDs +'~'+ _sContractorIDs + '~'+_sMachineIDs +'~'+ ''+'~'+''+'~'+_sProductIds+'~'+0+''

            };
            GetsBudget(oBudget,false);
        }
        else {
            var sTempName="";
            var oSearchedData = [];
            for(i=0;i<oBudgets.length;++i)
            {
                sTempName=oBudgets[i]['BudgetNo'];
                if(sTempName.toUpperCase().indexOf($('#txtBudgetNo').val().toUpperCase())>-1)
                {
                    oSearchedData.push(oBudgets[i]);
                }
            }
            $('#tblBudget').empty();
            if (oSearchedData.length == 0) { DynamicRefreshList(_oBudgets, "tblBudget");}
            else { DynamicRefreshList(oSearchedData, "tblBudget"); }

        }
    });
    $("#txtOrderNo").keyup(function (e) {
        var oBudgets =[];
        var keyCode = e.keyCode || e.which;
        $('#txtOrderNo').removeClass("errorFieldBorder");
        if (keyCode == 8) { oBudgets = _oBudgets; }
        else{ oBudgets = $('#tblBudget').datagrid('getRows'); }
        if (e.keyCode == 13) // Enter Press
        {
            if (!$.trim($("#txtOrderNo").val()).length) {

                alert("Please enter Budget no to search.");
                $('#txtOrderNo').focus();
                $('#txtOrderNo').val("");
                return;
            }
            else { $('#txtOrderNo').removeClass("errorFieldBorder"); }
            ResetAdvSearchPicker();
            var oBudget={
                Params:   ''+'~'+0+ '~'+ icsdateformat(new Date())+'~'+ icsdateformat(new Date())+'~'+ _sPTUIDs +'~'+ _sContractorIDs + '~'+_sMachineIDs +'~'+ ''+'~'+$.trim($("#txtOrderNo").val())+'~'+_sProductIds+'~'+0+''

            };

            GetsBudget(oBudget,false);
        }
        else {
            var sTempName="";
            var oSearchedData = [];
            for(i=0;i<oBudgets.length;++i)
            {
                sTempName=oBudgets[i]['BudgetNo'];
                if(sTempName.toUpperCase().indexOf($('#txtOrderNo').val().toUpperCase())>-1)
                {
                    oSearchedData.push(oBudgets[i]);
                }
            }
            $('#tblBudget').empty();
            if (oSearchedData.length == 0) { DynamicRefreshList(_oBudgets, "tblBudget");}
            else { DynamicRefreshList(oSearchedData, "tblBudget"); }

        }
    });


    /*..........Adv Searching ............. */
    function ResetAdvSearchPicker(){
        _sContractorIDs="";
        _sPTUIDs="";
        _sMachineIDs="";
        _sProductIds="";
        $('#txtOrderNoAdv,#txtBuyer,#txtMachine,#txtProductName').val("");
        $('#cboOrderType,#cboRSDateAdvS,#cboRSDateAdvS_His').val(0);

        $('#dtBudgetDateFromAdv,#dtBudgetDateToAdv').datebox({disabled:true});
        $('#dtBudgetDateFromAdv,#dtBudgetDateToAdv').datebox('setValue',icsdateformat(new Date()));
        $('#tblOrderStatus').datagrid('uncheckAll');

    }
    function DateActionsRSDateAdvSearch() {
        DynamicDateActions("cboRSDateAdvS", "dtBudgetDateFromAdv", "dtBudgetDateToAdv");
    }
    function DateActionsRSDateAdvSearch_His() {
        DynamicDateActions("cboRSDateAdvS_His", "dtBudgetDateFromAdv_His", "dtBudgetDateToAdv_His");
    }

    function GetOrderStatus(){

        var sOrderStatus="";

        var oOrderStatus=$('#tblOrderStatus').datagrid('getChecked');

        if(oOrderStatus.length>0){
            for(var i=0;i<oOrderStatus.length;i++){
                sOrderStatus= sOrderStatus + oOrderStatus[i].Value+","
            }
            sOrderStatus=sOrderStatus.substring(0,sOrderStatus.length-1);
        }
        return sOrderStatus;
    }

    $("#btnAdvSearch").click(function (e) {
        ResetAdvSearchPicker();
        $("#winAdvSearch").icsWindow("open", "Adv Search");
    });

    $("#btnCloseAdvSearch").click(function (e) {
        $("#winAdvSearch").icsWindow("close");
    });

    $("#btnSearchAdvSearch").click(function (e) {

        var sRSStatus=GetOrderStatus();

        if(_sPTUIDs =="" && _sContractorIDs=="" && _sMachineIDs=="" && _sProductIds=="" && parseInt($("#cboOrderType").val())<=0  && parseInt($("#cboRSDateAdvS").val())<=0 && sRSStatus=="" ){
            alert("No searching criteria found to search.");
            return false;
        }

        var oBudget={
            Params:  ""+'~'+ parseInt($("#cboRSDateAdvS").val())+ '~'+ $('#dtBudgetDateFromAdv').datebox('getValue')+'~'+ $('#dtBudgetDateToAdv').datebox('getValue')+'~'+ _sPTUIDs +'~'+ _sContractorIDs + '~'+_sMachineIDs +'~'+ sRSStatus+'~'+''+'~'+_sProductIds+'~'+parseInt($("#cboOrderType").val())+'~'+ parseInt($("#cboRSDateAdvS_His").val())+ '~'+ $('#dtBudgetDateFromAdv_His').datebox('getValue')+'~'+ $('#dtBudgetDateToAdv_His').datebox('getValue')+''

        };
        GetsBudget(oBudget,true);
    });

    function GetsBudget(oBudget, bIsAdvSearch) {


        var obj =
        {
            BaseAddress: _sBaseAddress,
            Object: oBudget,
            ControllerName: "Budget",
            ActionName: "Gets",
            IsWinClose: bIsAdvSearch
        };

        $.icsDataGets(obj, function (response) {

            if (response.status && response.objs != null) {
                //if(bIsAdvSearch){
                //    ResetAdvSearchPicker();
                //    $("#winAdvSearch").icsWindow("close");
                //}
                if (response.objs.length > 0) {
                    if(response.objs[0].BudgetID>0){
                        _oBudgets=response.objs;
                        DynamicRefreshList(response.objs, "tblBudget");
                    }
                    else{DynamicRefreshList([], "tblBudget"); alert(response.objs[0].ErrorMessage);}
                }
                else { DynamicRefreshList([], "tblBudget"); alert("No Dyeing Card/Batch found."); }
            }
        });
    }

    /*-------------Pick Pro------*/
    //Product Pick
    $("#txtProductName").keydown(function (e) {
        debugger;
        var code = (e.keyCode ? e.keyCode : e.which);
        if (code == 13) // Enter Press
        {
            if($('#txtProductName').val()==null || $('#txtProductName').val()=="")
            {
                alert("Please Type Product and Press Enter.");
                $('#txtProductName').focus();
                return;
            }
            PickProduct($('#txtProductName').val());
        }
        if (code == 8) //backspace=8
        {
            //debugger;
            $("#txtProductName").removeClass("fontColorOfPickItem");
            _sProductIds= "";
        }
    });
    $("#btnProductPiker").click(function () {

        if($('#txtProductName').val()==null || $('#txtProductName').val()=="")
        {
            alert("Please Type Product and Press Enter.");
            $('#txtProductName').focus();
            return;
        }
        PickProduct($('#txtProductName').val());
    });
    $("#btnClrProductPiker").click(function () {
        $("#txtProductName").val('');
        $("#txtProductName").removeClass("fontColorOfPickItem");
        _sProductIds= [];
    });
    function PickProduct(sProductName)
    {
        var oProduct = { BUID:sessionStorage.getItem("BUID"),ProductName:sProductName};

        var obj = {
            BaseAddress: _sBaseAddress,
            Object: oProduct,
            ControllerName: "Product",
            ActionName: "SearchByProductBUWise",
            IsWinClose: false
        };
        $("#progressbar").progressbar({ value: 0 });
        $("#progressbarParent").show();
        var intervalID = setInterval(updateProgress, 250);
        $.icsDataGets(obj, function (response) {
            clearInterval(intervalID);
            $("#progressbarParent").hide();
            if (response.status && response.objs.length > 0) {
                if (response.objs[0].ProductID > 0) {
                    var tblColums = [];
                    var oColumn = { field: "ProductCode", title: "Code", width: 100, align: "left" }; tblColums.push(oColumn);
                    oColumn = { field: "ProductName", title: "Name", width: 300, align: "left" }; tblColums.push(oColumn);
                    oColumn = { field: "MUnit", title: "Unit", width: 70, align: "left" }; tblColums.push(oColumn);
                    var oPickerParam = {
                        winid: 'winProductPicker',
                        winclass: 'clsProductPicker',
                        winwidth: 600,
                        winheight: 460,
                        tableid: 'tblProductPicker',
                        tablecolumns: tblColums,
                        datalist: response.objs,
                        multiplereturn: true,
                        searchingbyfieldName: 'NameCode',
                        windowTittle: 'Product List'
                    };
                    $.icsPicker(oPickerParam);
                    IntializePickerbutton(oPickerParam);
                }
                else {
                    alert(response.objs[0].ErrorMessage);
                }

            }else{
                alert("Data Not Found.");
            }
        });
    }
    /*..........Pick Order ............. */

    $("#btnPickOrderNo").click(function () {
        debugger;
        if (parseInt($("#cboOrderType").val())<=0 ) {

            alert("Please Select Order Type.");
            $('#cboOrderType').focus();
            $('#cboOrderType').addClass("errorFieldBorder");
            return;
        }
        else{
            $('#cboOrderType').removeClass("errorFieldBorder");
        }

        var oPSDetail = {
            OrderType:$('#cboOrderType').val(),
            OrderNo:$('#txtOrderNo').val(),
            LabDipDetailID:0,
            ContractorName:_sContractorIDs
        };

        GetOrders(oPSDetail);
    });

    $("#txtOrderNoAdv").keydown(function (e) {
        var nkeyCode = e.keyCode || e.which;
        if(nkeyCode==13){
            var sorderNo=$.trim($("#txtOrderNoAdv").val());
            if (parseInt($("#cboOrderType").val())<=0 ) {

                alert("Please Select Order Type.");
                $('#cboOrderType').focus();
                $('#cboOrderType').addClass("errorFieldBorder");
                return;
            }
            else{
                $('#cboOrderType').removeClass("errorFieldBorder");
            }

            var oPSDetail = {
                OrderType:$('#cboOrderType').val(),
                OrderNo:$('#txtOrderNoAdv').val(),
                LabDipDetailID:0
            };
            GetOrders(oPSDetail);
        }
        else if(nkeyCode==8){
            $("#txtOrderNoAdv").val("");

        }
    });
    function GetOrders(oPSDetail){

        var obj = {
            BaseAddress: _sBaseAddress,
            Object: oPSDetail,
            ControllerName: "DUPSchedule",
            ActionName: "GetsDyeingOrder",
            IsWinClose: false
        };
        $("#progressbar").progressbar({ value: 0 });
        $("#progressbarParent").show();
        var intervalID = setInterval(updateProgress, 250);
        $.icsDataGets(obj, function (response) {
            clearInterval(intervalID);
            $("#progressbarParent").hide();
            if (response.status && response.objs.length > 0) {
                if (response.objs[0].DODID > 0) {
                    debugger;
                    var tblColums = [];

                    var oColumn = { field: "OrderNo", title: "OrderNo", width: 100, align: "left" };tblColums.push(oColumn);

                    oColumn = { field: "OrderQty", title: "OrderQty", width: 75, align: "right",formatter:formatPrice };tblColums.push(oColumn);
                    oColumn = { field: "Qty_Pro", title: "Prod Qty", width: 75, align: "right",formatter:formatPrice };tblColums.push(oColumn);
                    oColumn = { field: "Qty_RS", title: "Yet To Pro", width: 75, align: "right" };tblColums.push(oColumn);
                    oColumn = { field: "ProductName", title: "Yarn", width: 225, align: "left" };tblColums.push(oColumn);
                    oColumn = { field: "ColorName", title: "ColorName", width: 100, align: "left" };tblColums.push(oColumn);
                    oColumn = { field: "ShadeSt", title: "Shade", width: 40, align: "left" };tblColums.push(oColumn);
                    oColumn = { field: "ColorNo", title: "ColorNo", width: 80, align: "left" };tblColums.push(oColumn);
                    oColumn = { field: "LabdipNo", title: "LabdipNo", width: 100, align: "left" };tblColums.push(oColumn);
                    oColumn = { field: "OrderTypeSt", title: "OrderType", width: 100, align: "left" };tblColums.push(oColumn);
                    var oPickerParam = {
                        winid: 'winOrderPicker',
                        winclass:'clsOrderPicker',
                        winwidth: 1000,
                        winheight: 660,
                        tableid: 'tblOrderPicker',
                        tablecolumns: tblColums,
                        datalist: response.objs,
                        multiplereturn: true,
                        searchingbyfieldName:'OrderNo',
                        windowTittle: 'Order List'
                    };
                    $.icsPicker(oPickerParam);
                    IntializePickerbutton(oPickerParam);//multiplereturn, winclassName
                }
                else { alert(response.objs[0].ErrorMessage); }
            }
            else{
                alert("No order found.");
            }
        });

    }

    $('#btnPrintCard').click(function(){

        var oBudget = $('#tblBudget').datagrid('getSelected');
        if (oBudget ==null || oBudget.BudgetID <=0 ) { alert("Please select an item from list."); return ; }
        var tsv=((new Date()).getTime())/1000;
        window.open(_sBaseAddress+ "/Budget/PrintCard?nId="+oBudget.BudgetID+"&buid="+_nBUID, "_blank");
    });
    $("#btnResetOrder").click(function () {
        $('#txtOrderNoAdv').val("");
        _sPTUIDs="";
    });



    /*..........Contractor Pick ............. */

    $("#btnResetBuyer").click(function () {
        $("#txtBuyer").val("");
        _sContractorIDs="";
    });

    $("#btnPickBuyer").click(function () {

        var sContractorName=$.trim($("#txtBuyer").val());
        GetContractors(sContractorName);
    });

    $("#txtBuyer").keydown(function (e) {
        var nkeyCode = e.keyCode || e.which;
        if(nkeyCode==13){
            var sContractorName=$.trim($("#txtBuyer").val());
            GetContractors(sContractorName);
        }
        else if(nkeyCode==8){
            $("#txtBuyer").val("");
            _sContractorIDs=0;
        }
    });

    function GetContractors(sContractorName){

        var oContractor = {
            Params: '2,3' +'~'+sContractorName+'~'+sessionStorage.getItem("BUID"),
        };
        var obj = {
            BaseAddress: _sBaseAddress,
            Object: oContractor,
            ControllerName: "Contractor",
            ActionName: "ContractorSearchByNameType",
            IsWinClose: false
        };
        $("#progressbar").progressbar({ value: 0 });
        $("#progressbarParent").show();
        var intervalID = setInterval(updateProgress, 250);

        $.icsDataGets(obj, function (response) {
            clearInterval(intervalID);
            $("#progressbarParent").hide();
            if (response.status && response.objs.length > 0) {
                if (response.objs[0].ContractorID > 0) {
                    debugger;
                    var tblColums = [];
                    var oColumn = { field: "ContractorID", title: "Code", width: 50, align: "center" };tblColums.push(oColumn);
                    oColumn = { field: "Name", title: "Name", width: 190, align: "left" };tblColums.push(oColumn);
                    oColumn = { field: "Phone", title: "Phone", width: 140, align: "left" };tblColums.push(oColumn);
                    var oPickerParam = {
                        winid: 'winContractorPicker',
                        winclass:'clsContractorPicker',
                        winwidth: 460,
                        winheight: 460,
                        tableid: 'tblContractorPicker',
                        tablecolumns: tblColums,
                        datalist: response.objs,
                        multiplereturn: true,
                        searchingbyfieldName:'Name',
                        windowTittle: 'Contractor List'
                    };
                    $.icsPicker(oPickerParam);
                    IntializePickerbutton(oPickerParam);//multiplereturn, winclassName
                }
                else { alert(response.objs[0].ErrorMessage); }
            }
            else{
                alert("No contractor found.");
            }
        });


    }




    /*---------------- Machine Pick --------------*/

    $("#btnResetMachine").click(function () {

        $("#txtMachine").val("");
        _sMachineIDs="";
    });

    $("#btnPickMachine").click(function () {

        var sMachineName=$.trim($("#txtMachine").val());
        if(sMachineName==""){ alert("Type machine name to search."); return false; }
        GetMachines(sMachineName);
    });

    $("#txtMachine").keydown(function (e) {
        var nkeyCode = e.keyCode || e.which;
        if(nkeyCode==13){
            var sMachineName=$.trim($("#txtMachine").val());
            if(sMachineName==""){ alert("Type machine name to search."); return false; }
            GetMachines(sMachineName);
        }
        else if(nkeyCode==8){
            $("#txtMachine").val("");
            _sMachineIDs="";
        }
    });

    function GetMachines(sMachineName){

        var oCapitalResource = {
            BUID:sessionStorage.getItem("BUID"),
            ResourcesTypeInInt:2,
            Name:sMachineName
        };
        var obj = {
            BaseAddress: _sBaseAddress,
            Object: oCapitalResource,
            ControllerName: "CapitalResource",
            ActionName: "GetsCapitalResourceLastLayer",
            IsWinClose: false
        };
        $("#progressbar").progressbar({ value: 0 });
        $("#progressbarParent").show();
        var intervalID = setInterval(updateProgress, 250);
        $.icsDataGets(obj, function (response) {
            clearInterval(intervalID);
            $("#progressbarParent").hide();
            if (response.status && response.objs.length > 0) {
                if (response.objs[0].CRID > 0) {
                    debugger;
                    var tblColums = [];
                    var oColumn = { field: "Name", title: "Machine Name", width: 130, align: "left" };tblColums.push(oColumn);
                    oColumn = { field: "MachineCapacity", title: "Capacity", width: 90, align: "left" };tblColums.push(oColumn);
                    oColumn = { field: "OperationUnitName", title: "Store", width: 185, align: "left" };tblColums.push(oColumn);

                    var oPickerParam = {
                        winid: 'winMachinePicker',
                        winclass:'clsMachinePicker',
                        winwidth: 500,
                        winheight: 460,
                        tableid: 'tblMachinePicker',
                        tablecolumns: tblColums,
                        datalist: response.objs,
                        multiplereturn: true,
                        searchingbyfieldName:'Name',
                        windowTittle: 'Machine List'
                    };
                    $.icsPicker(oPickerParam);
                    IntializePickerbutton(oPickerParam);//multiplereturn, winclassName
                }
                else { alert(response.objs[0].ErrorMessage); }
            }
            else{
                alert("No machine found.");
            }
        });


    }



    function IntializePickerbutton(oPickerobj) {
        $("#" + oPickerobj.winid).find("#btnOk").click(function () {
            SetPickerValueAssign(oPickerobj);
        });
        $(document).find('.' + oPickerobj.winclass).keydown(function (e) {
            if (e.which === 13) {
                SetPickerValueAssign(oPickerobj);
            }
        });
    }

    function SetPickerValueAssign(oPickerobj) {
        var oreturnObj = null, oreturnObjs = [];
        if (oPickerobj.multiplereturn) {
            oreturnObjs = $('#' + oPickerobj.tableid).datagrid('getChecked');
        } else {
            oreturnObj = $('#' + oPickerobj.tableid).datagrid('getSelected');
        }

        if (oPickerobj.winid == 'winContractorPicker')
        {
            if (oreturnObjs != null && oreturnObjs.length> 0)
            {

                _sContractorIDs=''; var sMessage='';
                sMessage=(oreturnObjs.length>1)? oreturnObjs.length +" Buyers Selected" : oreturnObjs[0].Name;
                $('#txtBuyer').val(sMessage);
                $("#txtBuyer").addClass("fontColorOfPickItem");

                for(var i=0;i<oreturnObjs.length;i++){
                    _sContractorIDs=_sContractorIDs+oreturnObjs[i].ContractorID+',';
                }
                _sContractorIDs=_sContractorIDs.substring(0,_sContractorIDs.length-1);

            }
            else
            {
                alert("Please select a contractor.");
                return false;
            }
        }

        else if (oPickerobj.winid == 'winBuyers') {
            if (oreturnObjs != null && oreturnObjs.length> 0)
            {
                _sDeliverToIDs='';
                var sMessage='';
                sMessage=(oreturnObjs.length>1)? oreturnObjs.length +" Contractors Selected" : oreturnObjs[0].Name;
                $('#txtDeliverToAdvS').val(sMessage);
                $("#txtDeliverToAdvS").addClass("fontColorOfPickItem");

                for(var i=0;i<oreturnObjs.length;i++){
                    _sDeliverToIDs=_sDeliverToIDs+oreturnObjs[i].ContractorID+',';
                }
                _sDeliverToIDs=_sDeliverToIDs.substring(0,_sDeliverToIDs.length-1);
            }
            else
            {
                alert("Please select a buyer.");
                return false;
            }
        }
        else if (oPickerobj.winid == 'winProductPicker')
        {
            if (oreturnObjs!= null && oreturnObjs.length> 0)
            {
                _sProductIds=''; var sMessage='';
                sMessage=(oreturnObjs.length>1)? oreturnObjs.length +" ProductName Selected" : oreturnObjs[0].ProductName;
                $('#txtProductName').val(sMessage);
                $("#txtProductName").addClass("fontColorOfPickItem");

                for(var i=0;i<oreturnObjs.length;i++){
                    _sProductIds=_sProductIds+oreturnObjs[i].ProductID+',';
                }
                _sProductIds=_sProductIds.substring(0,_sProductIds.length-1);

            }
            else
            {
                alert("Please select a Product.");
                return false;
            }

        }
        else  if (oPickerobj.winid == 'winMachinePicker')
        {
            if (oreturnObjs!= null && oreturnObjs.length> 0)
            {
                _sMachineIDs=''; var sMessage='';
                sMessage=(oreturnObjs.length>1)? oreturnObjs.length +" Machine Selected" : oreturnObjs[0].Name;
                $('#txtMachine').val(sMessage);
                $("#txtMachine").addClass("fontColorOfPickItem");

                for(var i=0;i<oreturnObjs.length;i++){
                    _sMachineIDs=_sMachineIDs+oreturnObjs[i].CRID+',';
                }
                _sMachineIDs=_sMachineIDs.substring(0,_sMachineIDs.length-1);
            }
            else
            {
                alert("Please select a Machine.");
                return false;
            }
        }
        else  if (oPickerobj.winid == 'winOrderPicker')
        {
            if (oreturnObjs!= null && oreturnObjs.length> 0)
            {
                _sPTUIDs=''; var sMessage='';
                sMessage=(oreturnObjs.length>1)? oreturnObjs.length +" Order Selected" : oreturnObjs[0].OrderNo;
                $('#txtOrderNoAdv').val(sMessage);
                $("#txtOrderNoAdv").addClass("fontColorOfPickItem");

                for(var i=0;i<oreturnObjs.length;i++){
                    _sPTUIDs=_sPTUIDs+oreturnObjs[i].DODID+',';
                }
                _sPTUIDs=_sPTUIDs.substring(0,_sPTUIDs.length-1);
            }
            else
            {
                alert("Please select a order.");
                return false;
            }
        }
        $("#" + oPickerobj.winid).icsWindow("close");
        $("#" + oPickerobj.winid).remove();
    }

    /*------------------------------------*/





    $("#btnAdd").click(function(){
        debugger;
        sessionStorage.setItem("BaseAddress", _sBaseAddress);
        sessionStorage.setItem("Operation", "New");
        sessionStorage.setItem("SelectedRowIndex", -1);
        sessionStorage.setItem("BudgetHeader", "Add Budget");
        sessionStorage.setItem("Budgets", JSON.stringify($('#tblBudget').datagrid('getRows')));
        sessionStorage.setItem("BackLink", window.location.href);
        var tsv=((new Date()).getTime())/1000;
        sessionStorage.setItem("BUID", _nBUID);
        window.location.href = _sBaseAddress+ "/Budget/ViewBudget?id=0&buid="+_nBUID+"&ts="+tsv;
    });

    $('#btnEdit').click(function (e)
    {
        var oBudget = $('#tblBudget').datagrid('getSelected');
        if (oBudget ==null || oBudget.BudgetID <=0 ) { alert("Please select an item from list."); return ; }
        if (oBudget.BudgetStatus !=1 ) { alert("Can't Edit In This Budget Status"); return ; }
        var nIndex=$('#tblBudget').datagrid('getRowIndex',oBudget);
        sessionStorage.setItem("BaseAddress", _sBaseAddress);
        sessionStorage.setItem("Operation", "Edit");
        sessionStorage.setItem("SelectedRowIndex", nIndex);
        sessionStorage.setItem("BudgetHeader", "Edit Production");
        sessionStorage.setItem("Budgets", JSON.stringify($('#tblBudget').datagrid('getRows')));
        sessionStorage.setItem("BackLink", window.location.href);
        var tsv=((new Date()).getTime())/1000;
        sessionStorage.setItem("BUID", _nBUID);
        window.location.href = _sBaseAddress+ "/Budget/ViewBudget?id="+oBudget.BudgetID+"&buid="+_nBUID+"&ts="+tsv;
    });

    $('#btnDelete').click(function(e){
        var oBudget = $('#tblBudget').datagrid('getSelected');
        if (oBudget ==null || oBudget.BudgetID <=0 )
        {
            alert("Please select an item from list.");
            return ;
            if(oBudget.BudgetStatus !=1)
            {
                alert("You Can Delete Only Initialize State Budget");
            }
        }
        if (!confirm("Confirm to delete?")) return;
        sessionStorage.clear();
        var obj =
        {
            BaseAddress: _sBaseAddress,
            Object: oBudget,
            ControllerName: "Budget",
            ActionName: "Delete",
            TableId: "tblBudget",
            IsWinClose: false
        };
        $.icsDelete(obj);

    });

    $('#btnView').click(function (e)
    {
        var oBudget = $('#tblBudget').datagrid('getSelected');
        if (oBudget ==null || oBudget.BudgetID <=0 ) { alert("Please select an item from list."); return ; }

        var nIndex=$('#tblBudget').datagrid('getRowIndex',oBudget);

        sessionStorage.clear();
        sessionStorage.setItem("Operation", "View");
        sessionStorage.setItem("SelectedRowIndex", nIndex);
        sessionStorage.setItem("BudgetHeader", "View Production");
        sessionStorage.setItem("Budgets", JSON.stringify($('#tblBudget').datagrid('getRows')));
        sessionStorage.setItem("BackLink", window.location.href);
        var tsv=((new Date()).getTime())/1000;
        //window.location.href = _sBaseAddress+ "/Budget/ViewBudget?nId="+oBudget.BudgetID+"&ts="+tsv;;
        sessionStorage.setItem("BUID", _nBUID);
        window.location.href = _sBaseAddress+ "/Budget/ViewBudget?id="+oBudget.BudgetID+"&buid="+_nBUID+"&ts="+tsv;
    });

    $('#btnPrint').click(function (e)
    {
        var oBudget = $('#tblBudget').datagrid('getSelected');
        if (oBudget ==null || oBudget.BudgetID <=0 ) { alert("Please select an item from list."); return ; }
        var tsv=((new Date()).getTime())/1000;
        window.open(_sBaseAddress + '/Budget/PrintBudget?id='+oBudget.BudgetID);
    });
    $('#btnPrintledger').click(function (e)
    {
        var oBudget = $('#tblBudget').datagrid('getSelected');
        if (oBudget ==null || oBudget.BudgetID <=0 ) { alert("Please select an item from list."); return ; }
        var tsv=((new Date()).getTime())/1000;
        window.open(_sBaseAddress + '/Budget/PrintBudgetLedger?id='+oBudget.BudgetID);
    });
    $('#btnPrintRS_Custom').click(function (e)
    {
        var oBudget = $('#tblBudget').datagrid('getSelected');
        if (oBudget ==null || oBudget.BudgetID <=0 ) { alert("Please select an item from list."); return ; }
        var tsv=((new Date()).getTime())/1000;
        window.open(_sBaseAddress+ "/Budget/PrintBudgetCustom?nId="+oBudget.BudgetID+"&bIsCommon="+false+"&nts="+tsv, "_blank");
    });


    /*----------Copy---------------*/

    $("#btnCopy").click(function () {
        var oBudget = $('#tblBudget').datagrid('getSelected');
        if (oBudget ==null || oBudget.BudgetID <=0 ) { alert("Please select an item from list."); return ; }

        var nIndex=$('#tblBudget').datagrid('getRowIndex',oBudget);

        sessionStorage.clear();
        sessionStorage.setItem("Operation", "Copy");
        sessionStorage.setItem("SelectedRowIndex", nIndex);
        sessionStorage.setItem("BudgetHeader", "View Production");
        sessionStorage.setItem("Budgets", JSON.stringify($('#tblBudget').datagrid('getRows')));
        sessionStorage.setItem("BackLink", window.location.href);
        var tsv=((new Date()).getTime())/1000;
        sessionStorage.setItem("BUID", _nBUID);
        window.location.href = _sBaseAddress+ "/Budget/ViewBudget?nId="+oBudget.BudgetID+"&buid="+_nBUID+"&ts="+tsv;
    });


    /*----------Budget Status Change----------------*/


    $('#btnReqForApprove').click(function(e){
        var oBudget = $('#tblBudget').datagrid('getSelected');
        if(oBudget==null || parseInt(oBudget.BudgetID)<=0)
        {
            alert("Please select a item from list!");
            return;
        }
        if  (oBudget.BudgetStatus==1)
        {
            if (!confirm("Confirm to Request For Approve?")) return ;
            var SelectedRowIndex=$('#tblBudget').datagrid('getRowIndex', oBudget);
            $.ajax({
                type: "POST",
                dataType: "json",
                url : _sBaseAddress+"/Budget/BudgetStatusChange",
                traditional: true,
                data:  JSON.stringify(oBudget),
                contentType: "application/json; charset=utf-8",
                success: function (data) {
                    var oBudget = jQuery.parseJSON(data);
                    if(oBudget.BudgetID>0)
                    {
                        $('#tblBudget').datagrid('updateRow',{
                            index: SelectedRowIndex,
                            row: oBudget
                        });
                        alert("Data Saved Sucessful");
                        sessionStorage.setItem("Budgets") =  $('#tblBudget').datagrid('getRows');
                    }

                },
                error: function (xhr, status, error) {
                    alert(error);
                }
            });
        }
        else
        {
            alert("Please select only Initialized item from list");
            return;
        }
    });
    $('#btnApprove').click(function(e){
        var oBudget = $('#tblBudget').datagrid('getSelected');
        if(oBudget==null || parseInt(oBudget.BudgetID)<=0)
        {
            alert("Please select a item from list!");
            return;
        }
        if  (oBudget.BudgetStatus==2)
        {
            if (!confirm("Confirm to Request For Approve?")) return ;
            var SelectedRowIndex=$('#tblBudget').datagrid('getRowIndex', oBudget);
            $.ajax({
                type: "POST",
                dataType: "json",
                url : _sBaseAddress+"/Budget/BudgetStatusChange",
                traditional: true,
                data:  JSON.stringify(oBudget),
                contentType: "application/json; charset=utf-8",
                success: function (data) {
                    var oBudget = jQuery.parseJSON(data);
                    if(oBudget.BudgetID>0)
                    {
                        $('#tblBudget').datagrid('updateRow',{
                            index: SelectedRowIndex,
                            row: oBudget
                        });
                        alert("Data Saved Sucessful");
                        sessionStorage.setItem("Budgets") =  $('#tblBudget').datagrid('getRows');
                    }

                },
                error: function (xhr, status, error) {
                    alert(error);
                }
            });
        }
        else
        {
            alert("Please select only Request State");
            return;
        }
    });
    $('#btnReqForRevise').click(function(e){
        var oBudget = $('#tblBudget').datagrid('getSelected');
        if(oBudget==null || parseInt(oBudget.BudgetID)<=0)
        {
            alert("Please select a item from list!");
            return;
        }
        if  (oBudget.BudgetStatus==3)
        {
            if (!confirm("Confirm to Request For Approve?")) return ;
            var SelectedRowIndex=$('#tblBudget').datagrid('getRowIndex', oBudget);
            $.ajax({
                type: "POST",
                dataType: "json",
                url : _sBaseAddress+"/Budget/BudgetStatusChange",
                traditional: true,
                data:  JSON.stringify(oBudget),
                contentType: "application/json; charset=utf-8",
                success: function (data) {
                    var oBudget = jQuery.parseJSON(data);
                    if(oBudget.BudgetID>0)
                    {
                        $('#tblBudget').datagrid('updateRow',{
                            index: SelectedRowIndex,
                            row: oBudget
                        });
                        alert("Data Saved Sucessful");
                        sessionStorage.setItem("Budgets") =  $('#tblBudget').datagrid('getRows');
                    }

                },
                error: function (xhr, status, error) {
                    alert(error);
                }
            });
        }
        else
        {
            alert("Please select Any Approved Budget");
            return;
        }
    });

    $('#btnAcceptRevise').click(function(){
        var oBudget = $('#tblBudget').datagrid('getSelected');
        if (oBudget ==null || oBudget.BudgetID <=0 ) { alert("Please select an item from list."); return ; }
        if(parseInt(oBudget.BudgetStatus)!=4 ){alert("Please select Any Request For Revise Budget");return;}
        var nIndex=$('#tblBudget').datagrid('getRowIndex',oBudget);
        sessionStorage.setItem("BaseAddress", _sBaseAddress);
        sessionStorage.setItem("Operation", "Revise");
        sessionStorage.setItem("SelectedRowIndex", nIndex);
        sessionStorage.setItem("BudgetHeader", "Accept Revise");
        sessionStorage.setItem("Budgets", JSON.stringify($('#tblBudget').datagrid('getRows')));
        //sessionStorage.setItem("Budgets") =  $('#tblBudget').datagrid('getRows');
        sessionStorage.setItem("BackLink", window.location.href);
        var tsv=((new Date()).getTime())/1000;
        sessionStorage.setItem("BUID", _nBUID);
        window.location.href = _sBaseAddress+ "/Budget/ViewBudget?id="+oBudget.BudgetID+"&buid="+_nBUID+"&ts="+tsv;
    });
    $('#btnExcelReport').click(function(){

        debugger;
        var isApproved = "false";
        if($('#cboApproved').val()==0 || $('#cboApproved').val()==1)
        {
            isApproved = "false"
        }
        if($('#cboApproved').val()==2)
        {
            isApproved = "true"
        }
        var oBudget = $('#tblBudget').datagrid('getSelected');
        if (oBudget ==null || oBudget.BudgetID <=0 ) { alert("Please select an item from list."); return ; }
        var sParams = _nBUID + '~' + oBudget.BudgetID + '~' + $('#cboBudgetType').val() + '~' + isApproved + '~' + $('#dStartDate').datebox('getValue') + '~' + $('#dEndDate').datebox('getValue');

        if($('#cboBudgetType').val()==0)
        {
            alert("Please Select Any Report Type");
            $('#cboBudgetType').focus();
            return;
        }
        if($('#cboBudgetType').val()==1)
        {
            window.open(_sBaseAddress+'/Budget/ExcelReportYearly?sParams='+sParams);
        }
        if($('#cboBudgetType').val()==2)
        {
            window.open(_sBaseAddress+'/Budget/ExcelReportMonthly?sParams='+sParams);
        }
    });
</script>
