@model IEnumerable<ESimSol.BusinessObjects.DyeingOrderReport>
    @{
        ViewBag.Title = "Production Order Register";
    }
   

 <div id="progressbarParent" style="width:100%;height:100%;margin:0 auto;text-align:center; margin-left: auto;margin-right: auto;left: 0;right: 0;z-index: 1;">
                          <div style="margin: 0px auto;margin-top: 251px;text-align:center;width:390px;">
                              <label style="font-size:18px;">Please wait</label>
                              <div id="progressbar" style="width:100%;height:37px;"></div>
                          </div>
                      </div>
 
 <div class="menuMainCollectionTable">
     <table id="tblDyeingOrders" title="Production Order(s)" class="easyui-datagrid" style="width: 100%; height:100%; margin: 0;" showfooter="true" data-options="singleSelect: true,fitColumns:false, rownumbers:true, pagination:false, autoRowHeight:false, toolbar: '#toolbarDyeingOrderReport' ">
         <thead>
             <tr>
                 <th field="OrderDateSt" width="10%" align="left">Date</th>
                 <th field="OrderNoFull" width="10%" align="left">BPO No</th>
                 <th field="PINo" width="10%" align="left">P/I No</th>
                 <th field="ContractorName" width="15%" align="left">Buyer Name</th>
                 <th field="DeliveryToName" width="15%" align="left">Delivert To</th>
                 <th field="MBuyerName" width="15%" align="left">Master Buyer</th>
                 <th field="ProductName" width="10%" align="left">Product Name</th>
                 <th field="Qty" width="10%" formatter="formatPrice" align="right" >Qty</th>
                 <th field="UPriceSt" width="10%" align="right">Unit Price</th>
                 <th field="Amount" width="10%" formatter="formatPrice" align="right" >Amount</th>
                 <th field="DONote" width="12%" align="left">Remark</th>
                 <th field="MKTPName" width="10%" align="left">Concern Person</th>
                 <th field="CPName" width="10%" align="left">Buyer Concern Person</th>
                 <th field="ExportLCNo" width="10%" align="left">L/C No</th>
                 <th field="DONote" width="12%" align="left">Remark</th>
                 @*<th field="StatusSt" width="12%" align="left">Status</th>*@
                 <th field="Qty_DO" formatter="formatPrice" width="10%" align="right">DO Qty</th>
                 <th field="Qty_DC" formatter="formatPrice" width="10%" align="right">DC Qty</th>
                 <th field="StatusSt" width="12%" align="left">Status</th>
             </tr>
         </thead>
     </table>
   
  <div id="toolbarDyeingOrderReport">
      <input id="txtSearchByDO" type="text" placeholder="Search by BPO No" style="width:120px" />
      <input id="txtStartDate" type="text" style="width: 95px;" class="easyui-datebox" required="required" data-options="formatter:icsdateformat,parser:icsdateparser" />
      <a id="btnSearchByDate" href="javascript:void(0)" class="easyui-linkbutton" iconcls="icon-search" plain="true">Search</a>
     
      <a id="btnAdvSearch" href="javascript:void(0)" class="easyui-linkbutton" iconcls="icon-search" plain="true">Adv. Search</a>
      <a id="btnPrint" href="javascript:void(0)" class="easyui-linkbutton" iconcls="icon-print" plain="true">Print</a>
      <a id="btnPartyWisePrint" href="javascript:void(0)" class="easyui-linkbutton" iconcls="icon-print" plain="true">Print(Party Wise) </a>
      <a id="btnProductWisePrint" href="javascript:void(0)" class="easyui-linkbutton" iconcls="icon-print" plain="true">Print(Product Wise) </a>
      @*<a id="btnBankWisePrint" href="javascript:void(0)" class="easyui-linkbutton" iconcls="icon-print" plain="true">Print(MKT Wise)</a>*@
      <a id="btnPrintXL" href="javascript:void(0)" class="easyui-linkbutton" iconcls="icon-excel" plain="true">ExportXL</a>
    </div>
 </div>
                      <div id="winAdvSearch" class="easyui-window winClass" title="Adv. Search" style="width:650px;" data-options="modal:true,closed:true,collapsible:false,minimizable:false,maximizable:false,closable:false">
                          <table style="width:100%;">
                              <tr>
                                  <td>
                                      <fieldset style="margin-bottom: 0px;">
                                          <legend>Searching Criteria</legend>
                                          <table>
                                              <tr>
                                                  <td style=" width:20%;text-align:right;">
                                                      <label>Issue To </label>
                                                  </td>
                                                  <td colspan="3" style=" width:80%;text-align:left;">
                                                      <input id="txtContractorAdvS" style="width:75%;" type="text" placeholder="Type & Press Enter" />
                                                      <a id="btnPickContractorAdvS" href="javascript:void(0)" class="easyui-linkbutton ics-pick" iconcls="icon-pick" plain="true"></a>
                                                      <a id="btnClrContractorAdvS" href="javascript:void(0)" class="easyui-linkbutton ics-pick" iconcls="icon-clear" plain="true"></a>
                                                  </td>
                                              </tr>
                                              <tr>
                                                  <td style=" width:20%;text-align:right;">
                                                      <label>Deliver To </label>
                                                  </td>
                                                  <td colspan="3" style=" width:80%;text-align:left;">
                                                      <input id="txtDeliverToAdvS" style="width:75%;" type="text" placeholder="Type & Press Enter" />
                                                      <a id="btnPickDeliverToAdvS" href="javascript:void(0)" class="easyui-linkbutton ics-pick" iconcls="icon-pick" plain="true"></a>
                                                      <a id="btnClrDeliverToAdvS" href="javascript:void(0)" class="easyui-linkbutton ics-pick" iconcls="icon-clear" plain="true"></a>
                                                  </td>
                                              </tr>
                                              <tr>
                                                  <td style=" width:20%;text-align:right;">
                                                      <label>Yarn </label>
                                                  </td>
                                                  <td colspan="3" style=" width:80%;text-align:left;">
                                                      <input id="txtProductName" style="width:75%;" type="text" placeholder="Type & Press Enter" />
                                                      <a id="btnProductPiker" href="javascript:void(0)" class="easyui-linkbutton ics-pick" iconcls="icon-pick" plain="true"></a>
                                                      <a id="btnClrProductPiker" href="javascript:void(0)" class="easyui-linkbutton ics-pick" iconcls="icon-clear" plain="true"></a>
                                                  </td>
                                              </tr>
                                              <tr>
                                                  <td style=" width:20%;text-align:right;">
                                                      <label>Order Date </label>
                                                  </td>
                                                  <td colspan="3">
                                                      <select id="cboOrderDateAdvS" style="width:30%;" onchange="DateActionsOrderDateAdvSearch();"></select>
                                                      <input id="txtFromOrderDateAdvSearch" type="text" style="width: 100px;" class="easyui-datebox" required="required" data-options="formatter:icsdateformat,parser:icsdateparser" />To
                                                      <input id="txtToOrderDateAdvSearch" type="text" style="width: 100px;" class="easyui-datebox" required="required" data-options="formatter:icsdateformat,parser:icsdateparser" />
                                                  </td>
                                              </tr>
                                              <tr>
                                                  <td style=" width:20%;text-align:right;">
                                                      <label>P/I Date </label>
                                                  </td>
                                                  <td colspan="3">
                                                      <select id="cboInvoiceDateAdvSearch" style="width:30%;" onchange=" DateActionsInvoiceDateAdvSearch(); "></select>
                                                      <input id="txtFromInvoiceDateAdvSearch" type="text" style="width: 100px;" class="easyui-datebox" required="required" data-options="formatter:icsdateformat,parser:icsdateparser" />To
                                                      <input id="txtToInvoiceDateAdvSearch" type="text" style="width: 100px;" class="easyui-datebox" required="required" data-options="formatter:icsdateformat,parser:icsdateparser" />
                                                  </td>
                                              </tr>
                                              <tr>
                                                  <td style=" width:20%;text-align:right;">
                                                      <label>Delivery Date </label>
                                                  </td>
                                                  <td colspan="3">
                                                      <select id="cboDeliveryDateAdvS" style="width:30%;" onchange=" DateActionsDeliveryDateAdvSearch(); "></select>
                                                      <input id="txtFromDeliveryDateAdvSearch" type="text" style="width: 100px;" class="easyui-datebox" required="required" data-options="formatter:icsdateformat,parser:icsdateparser" />To
                                                      <input id="txtToDeliveryDateAdvSearch" type="text" style="width: 100px;" class="easyui-datebox" required="required" data-options="formatter:icsdateformat,parser:icsdateparser" />
                                                  </td>
                                              </tr>

                                              @*<tr>
                                                  <td style=" width:20%;text-align:right;">
                                                      <label>Order Type </label>
                                                  </td>
                                                  <td style=" width:30%;text-align:left;">
                                                      <select id="cboOrderType" style="width: 100%;"></select>
                                                  </td>
                                                  <td style=" width:20%;text-align:right;">
                                                      <label>Order No </label>
                                                  </td>
                                                  <td style=" width:30%;text-align:left;">
                                                      <input id="txtOrderNo" type="text" style="width:95%" />
                                                  </td>
                                              </tr>*@
                                              <tr>
                                                  <td style=" width:20%;text-align:right;">
                                                      <label>Order Type: </label>
                                                  </td>
                                                  <td colspan="3">
                                                      <table id="tblOrderType" title="Order Type" class="easyui-datagrid" style="width:100%;height:140px;" pagination="false" rownumbers="false" fitcolumns="true" singleselect="false">
                                                          <thead>
                                                              <tr>
                                                                  <th field="ck" checkbox="true"></th>
                                                                  <th field="ShortName" width="100" style="font-size:12px;">All</th>
                                                              </tr>
                                                          </thead>
                                                      </table>
                                                      @*<select id="cboOrderType" style="width: 100%;"></select>*@
                                                  </td>
                                              </tr>
                                              <tr>
                                                  <td style=" width:20%;text-align:right;">
                                                      <label>Order No:</label>
                                                  </td>
                                                  <td colspan="3">
                                                      <select id="cboOrderNo" style="width:30%;" onchange="cboOrderNo()">
                                                          <option value="0">---Select One---</option>
                                                          <option value="1">Equal To</option>
                                                          <option value="2">Between</option>
                                                      </select>
                                                      <input id="spnOrderYear" class="easyui-datetimespinner" data-options="label:'yyyy',labelPosition:'top',formatter:formatter,parser:parser,selections:[[0,4],[5,7]]" style="width:15%;">
                                                      @*<input  type="text" style="width: 15%;" class="easyui-datebox" required="required" data-options="formatter:'yyyy'" />*@
                                                      @*<select id="cboOrderYear" style="width:15%;" onchange="cboOrderYear()"></select>*@

                                                      <input id="txtOrderNoFrom" type="text" style="width:25%" />To
                                                      <input id="txtOrderNoTo" type="text" style="width:25%" />
                                                  </td>
                                              </tr>
                                              @*<tr>
                                    <td style=" width:20%;text-align:right;">
                                        <label>Bank :</label>
                                    </td>
                                    <td colspan="3">
                                        <select id="cboPIBankAdvSearch" style="width:100%;"></select>
                                    </td>
                                </tr>*@
                                              <tr>
                                                  <td style=" width:20%;text-align:right;">
                                                      <span class="lblBUSName"></span> <label> Concern </label>
                                                  </td>
                                                  <td colspan="3" style=" width:80%;text-align:left;">
                                                      <select id="cboMkPersonAdvSearch" style="width:100%;"></select>
                                                  </td>
                                              </tr>
                                              <tr>
                                                  <td style=" width:20%;text-align:right;">
                                                      <label>Buyer Concern </label>
                                                  </td>
                                                  <td colspan="3" style=" width:80%;text-align:left;">
                                                      <input id="txtContactPersonnel" style="width:75%;" type="text" placeholder="Type & Press Enter" />
                                                      <a id="btnPickContactPersonnel" href="javascript:void(0)" class="easyui-linkbutton ics-pick" iconcls="icon-pick" plain="true"></a>
                                                      <a id="btnClrContactPersonnel" href="javascript:void(0)" class="easyui-linkbutton ics-pick" iconcls="icon-clear" plain="true"></a>

                                                  </td>
                                              </tr>

                                              <tr>
                                                  <td style=" width:20%;text-align:right;">
                                                      <label>P/I No </label>
                                                  </td>
                                                  <td style=" width:30%;text-align:left;">
                                                      <input id="txtPINo" type="text" style="width:100%" />
                                                  </td>
                                                  <td style=" width:20%;text-align:right;">
                                                      <label>L/C No </label>
                                                  </td>
                                                  <td style=" width:30%;text-align:left;">
                                                      <input id="txtLCNo" type="text" style="width:95%" />
                                                  </td>
                                              </tr>
                                              <tr>
                                                  <td style=" width:20%;text-align:right;">
                                                      <label>Style No </label>
                                                  </td>
                                                  <td style=" width:30%;text-align:left;">
                                                      <input id="txtStyleNoAdvS" type="text" style="width:100%" />
                                                  </td>
                                                  <td style=" width:20%;text-align:right;">
                                                      <label>Ref No </label>
                                                  </td>
                                                  <td style=" width:30%;text-align:left;">
                                                      <input id="txtRefNoAdvS" type="text" style="width:95%" />
                                                  </td>
                                              </tr>
                                              <tr>
                                                  <td style=" width:20%;text-align:right;">
                                                      <label>Pending Status: </label>
                                                  </td>
                                                  <td style=" width:30%;text-align:left;">
                                                      <select style="width: 100%;" id="cboPending">
                                                          <option value="0">-Select One-</option>
                                                          <option value="2">Pending P/I</option>
                                                          <option value="3">Pending L/C</option>
                                                          <option value="5">P/I Issue</option>
                                                          <option value="6">L/C Issue</option>
                                                          <option value="9">Running Order</option>
                                                          <option value="10">Cancel Order</option>
                                                          <option value="11">Only Issued Order </option>

                                                      </select>
                                                  </td>
                                                  <td style=" width:20%;text-align:right;"></td>
                                                  <td style=" width:30%;text-align:left;"></td>

                                              </tr>
                                              <tr>
                                                  <td style="text-align:right;"></td>
                                                  <td>
                                                      <input id="chkYetNotSendLabReq" type="checkbox" style="width:5%;" />
                                                      <label>Pending LabDip </label>
                                                  </td>
                                                  <td colspan="2" style="text-align:right;">
                                                      <input id="chkYetNotSendPro" type="checkbox" style="width:5%;" />
                                                      <label>Wating for Send To Pro.</label>
                                                  </td>
                                              </tr>
                                              <tr>
                                                  <td height="5px" colspan="4"></td>
                                              </tr>
                                              @*<tr>
                                    <td class="btnResetSearch" colspan="4">
                                        <a id="btnSearchAdvSearch" href="javascript:void(0)" class="easyui-linkbutton" iconcls="icon-search" plain="true">Search</a>
                                        <a id="btnResetAdvSearch" href="javascript:void(0)" class="easyui-linkbutton" iconcls="icon-reload" plain="true">Reset</a>
                                    </td>
                                </tr>*@
                                          </table>
                                      </fieldset>
                                  </td>
                              </tr>
                          </table>
                          <fieldset class="actionfieldsetstyle">
                              <legend>Actions : </legend>
                              <label class="lblLoadingMessage" style="float: left;">Loading Please Wait...</label>
                              <a id="btnResetAdvSearch" href="javascript:void(0)" class="easyui-linkbutton" iconcls="icon-reload" plain="true">Reset</a>
                              <a id="btnSearchAdvSearch" href="javascript:void(0)" class="easyui-linkbutton" iconcls="icon-search" plain="true">Search</a>
                              <a id="btnCloseAdvSearch" href="javascript:void(0)" class="easyui-linkbutton" iconcls="icon-cancel" plain="true">Close</a>
                          </fieldset>
                      </div>
 <style type="text/css">
    .lines-no .datagrid-body td {
        border-right: 1px dotted transparent;
        border-bottom: 1px dotted transparent;
    }
 
</style>

 <script type="text/javascript">
    var _sBaseAddress="";
    var _oDyeingOrderReport=null;
    var _oDyeingOrderReports=[];
    
    var _oCompareOperators=[];
    var _oDUOrderSetups=[];
    var _oMktPersons=[];
    var _sControllerName="";
    var _nBUID = 0;
    var _sContractorIds = '';
    var _sBuyerIDsAdvSearch = '';
    var _oBU = null;
    var _nReportType=0;
    var _sProductIds="";
    var _sCPersonnelIds="";
    $(document).ready(function () {

        _sBaseAddress =@Html.Raw( new System.Web.Script.Serialization.JavaScriptSerializer().Serialize(HttpContext.Current.Session[SessionInfo.BaseAddress]));
        _oDyeingOrderReports =@Html.Raw( new System.Web.Script.Serialization.JavaScriptSerializer().Serialize(Model));
        _oCompareOperators = @Html.Raw(new System.Web.Script.Serialization.JavaScriptSerializer().Serialize(ViewBag.CompareOperators));
        @*_nBUID = @Html.Raw(new System.Web.Script.Serialization.JavaScriptSerializer().Serialize(ViewBag.BUID));*@
        _oMktPersons = @Html.Raw(new System.Web.Script.Serialization.JavaScriptSerializer().Serialize(ViewBag.MktPersons));
        _oDUOrderSetups = @Html.Raw(new System.Web.Script.Serialization.JavaScriptSerializer().Serialize(ViewBag.DUOrderSetups));
        _oBU = @Html.Raw(new System.Web.Script.Serialization.JavaScriptSerializer().Serialize(ViewBag.BU));
        $(".lblBUSName").html(_oBU.ShortName);
        debugger;

        $("#progressbar").progressbar({ value: 0 });
        $("#progressbarParent").hide();
        $(".lblLoadingMessage").hide();
        LoadComboAdv();
        debugger;
        RefreshDate()
    });

    $(document).keydown(function (e) { if (e.keyCode == 27) { $('div').icsWindow('close'); } });

    function RefreshDate()
    {
        $('#txtStartDate').datebox('setValue', icsdateformat(new Date()));
    }


    $("#btnPrint").click(function () {

        var sParams=sessionStorage.getItem("ParamsPO");
        window.open(_sBaseAddress + '/DyeingOrderReport/Print_DyeingOrderReport?sTempString=' + sParams, "_blank");
    });
    $("#btnPartyWisePrint").click(function () {
        var sParams=sessionStorage.getItem("ParamsPO");
        window.open(_sBaseAddress + '/DyeingOrderReport/Print_PartyWiseDOReport?sTempString=' + sParams, "_blank");
    });
    $("#btnProductWisePrint").click(function () {

        var sParams=sessionStorage.getItem("ParamsPO");
        window.open(_sBaseAddress + '/DyeingOrderReport/Print_ProductWiseDOReport?sTempString=' + sParams, "_blank");
    });
    $("#btnPrintXL").click(function () {

        var sParams=sessionStorage.getItem("ParamsPO");
        window.open(_sBaseAddress + '/DyeingOrderReport/Print_BulkOrderReportXL?sTempString=' + sParams, "_blank");
    });



    function formatter(date){
        if (!date){return '';}
        var y = date.getFullYear();
        return y;
    }
    function parser(s){
        if (!s){return null;}
        var ss = s.split('-');
        var y = parseInt(ss[0],10);
        if (!isNaN(y)){
            return new Date(y,1,1);
        } else {
            return new Date();
        }
    }
    cboOrderNo();
    function cboOrderNo()
    {
        nCbo=parseInt($("#cboOrderNo").val());
        if(nCbo==0) {
            $('#txtOrderNoFrom').val('');
            $('#txtOrderNoTo').val('');
            $('#txtOrderNoFrom').prop('disabled',true); $('#txtOrderNoTo').prop('disabled',true);
        }
        else if(nCbo==1){$('#txtOrderNoFrom').prop('disabled',false);$('#txtOrderNoTo').prop('disabled',true);}
        else if(nCbo==2){$('#txtOrderNoTo').prop('disabled',false);$('#txtOrderNoFrom').prop('disabled',false);}
    }

    ////Start adv Searching

    function updateProgress() {
        var value =$('#progressbar').progressbar('getValue');
        if (value < 96){
            value += Math.floor(Math.random() * 10);
            $('#progressbar').progressbar('setValue', value);
        }
    }
    function hideShow(miliseconds) {
        $("#progressbarParent").hide();
    }
    //Account Of Picker

    $("#txtContractorAdvS").keydown(function (e) {
        if (e.keyCode === 13) // Enter Press
        {
            PickContractors_AdvS();
        }
        else if (e.keyCode === 08) {
            $("#txtContractorAdvS").removeClass("fontColorOfPickItem");
            _sContractorIds = '';
        }
    });

    $("#btnClrContractorAdvS").click(function () {
        $("#txtContractorAdvS").removeClass("fontColorOfPickItem");
        $("#txtContractorAdvS").val("");
        _sContractorIds = '';
    });

    $("#btnPickContractorAdvS").click(function () {
        PickContractors_AdvS();
    });
    $("#txtSearchByAccountNamePickerAdvSearch").keydown(function (e) {
        var obj = {
            Event: e,
            SearchProperty: "Name",
            GlobalObjectList: _oAccountsOf,
            TableId: "tblAccountsPickerAdvSearch"
        };
        $('#txtSearchByAccountNamePickerAdvSearch').icsSearchByText(obj);
    });
    //End Account Of Picker
    $("#txtDeliverToAdvS").keydown(function (e) {
        if (e.keyCode === 13) // Enter Press
        {
            PickDeliverTo_AdvS();
        }
        else if (e.keyCode === 08) {
            $("#txtDeliverToAdvS").removeClass("fontColorOfPickItem");
            _sDeliverToIDs ="";
        }
    });

    $("#btnClrDeliverToAdvS").click(function () {
        $("#txtDeliverToAdvS").removeClass("fontColorOfPickItem");
        $("#txtDeliverToAdvS").val("");
        _sDeliverToIDs ="";
    });

    $("#btnPickDeliverToAdvS").click(function () {
        PickDeliverTo_AdvS();
    });

    //Product Pick
    $("#txtProductName").keydown(function (e) {
        debugger;
        var code = (e.keyCode ? e.keyCode : e.which);
        if (code == 13) // Enter Press
        {
            if($('#txtProductName').val()==null || $('#txtProductName').val()=="")
            {
                alert("Please Type Product and Press Enter.");
                $('#txtProductName').focus();
                return;
            }
            PickProduct($('#txtProductName').val());
        }
        if (code == 8) //backspace=8
        {
            //debugger;
            $("#txtProductName").removeClass("fontColorOfPickItem");
            _sProductIds= [];
        }
    });
    $("#btnProductPiker").click(function () {
        PickProduct("");
    });
    $("#btnClrProductPiker").click(function () {
        $("#txtProductName").val('');
        $("#txtProductName").removeClass("fontColorOfPickItem");
        _sProductIds= [];
    });
    function PickProduct(sProductName)
    {
        var oProduct = { BUID:sessionStorage.getItem("BUID"),ProductName:sProductName};
        var obj = {
            BaseAddress: _sBaseAddress,
            Object: oProduct,
            ControllerName: "Product",
            ActionName: "SearchByProductBUWise",
            IsWinClose: false
        };
        $.icsDataGets(obj, function (response) {
            debugger;
            if (response.status && response.objs.length > 0) {
                if (response.objs[0].ProductID > 0) {
                    var tblColums = [];
                    var oColumn = { field: "ProductCode", title: "Code", width: 100, align: "left" }; tblColums.push(oColumn);
                    oColumn = { field: "ProductName", title: "Name", width: 300, align: "left" }; tblColums.push(oColumn);
                    oColumn = { field: "MUnit", title: "Unit", width: 70, align: "left" }; tblColums.push(oColumn);
                    var oPickerParam = {
                        winid: 'winProductPicker',
                        winclass: 'clsProductPicker',
                        winwidth: 600,
                        winheight: 460,
                        tableid: 'tblProductPicker',
                        tablecolumns: tblColums,
                        datalist: response.objs,
                        multiplereturn: true,
                        searchingbyfieldName: 'NameCode',
                        windowTittle: 'Product List'
                    };
                    $.icsPicker(oPickerParam);
                    IntializePickerbutton(oPickerParam);
                }
                else {
                    alert(response.objs[0].ErrorMessage);
                }

            }else{
                alert("Data Not Found.");
            }
        });
    }


    //End Buyer Search
    //// Con Person Search
    $("#txtContactPersonnel").keydown(function (e) {
        if (e.keyCode === 13) // Enter Press
        {
            if($.trim($("#txtContactPersonnel").val())==null || $.trim($("#txtContactPersonnel").val())=="")
            {
                alert("Please select at least one Buyer, or Type name or part Name!");
                return false;
            }

            PickCPersonnel();
        }
        else if (e.keyCode === 08) {
            $("#txtContactPersonnel").removeClass("fontColorOfPickItem");
            _sCPersonnelIds = '';
        }
    });

    $("#btnClrContactPersonnel").click(function () {
        $("#txtContactPersonnel").removeClass("fontColorOfPickItem");
        $("#txtContactPersonnel").val("");
        _sCPersonnelIds = '';
    });

    $("#btnPickContactPersonnel").click(function () {

        if(_sContractorIds === ""&& _sDeliverToIDs === "" && $.trim($("#txtContactPersonnel").val())=="")
        {
            alert("Please select at least one Buyer, or Type name or part Name!");
            return false;
        }

        PickCPersonnel();
    });
    function PickCPersonnel() {

        var sContractorID='';
        if(_sContractorIds.length>0)
        {
            sContractorID=_sContractorIds;
        }
        else if(_sContractorIds.length>0 && _sDeliverToIDs.length>0)
        {
            sContractorID=_sContractorIds+','+_sDeliverToIDs;
        }
        else if(_sContractorIds.length<0 && _sDeliverToIDs.length>0)
        {
            sContractorID=_sDeliverToIDs;
        }

        var oContactPersonnel = { ContractorName:sContractorID,Name:$.trim($("#txtContactPersonnel").val())};
        var obj = {
            BaseAddress: _sBaseAddress,
            Object: oContactPersonnel,
            ControllerName: "ContractorPersonal",
            ActionName: "GetsByContractors",
            IsWinClose: false
        };

        $("#progressbar").progressbar({ value: 0 });
        $("#progressbarParent").show();
        var intervalID = setInterval(updateProgress, 250);

        DynamicRefreshList([], "tblAccountsPickerAdvSearch");
        $.icsDataGets(obj, function (response) {
            clearInterval(intervalID);
            $("#progressbarParent").hide();
            if (response.status && response.objs.length > 0) {
                if (response.objs[0].ContactPersonnelID > 0)
                {
                    var tblColums = [];var oColumn ={};
                    oColumn= { field: "ContactPersonnelID", title: "Code", width: 60, align: "left" }; tblColums.push(oColumn);
                    oColumn = { field: "Name", title: "Name", width: 180, align: "left" }; tblColums.push(oColumn);
                    oColumn = { field: "ContractorName", title: "ContractorName", width: 150, align: "left" }; tblColums.push(oColumn);
                    var oPickerParam = {
                        winid: 'winCPersonPicker',
                        winclass: 'clsCPersinPicker',
                        winwidth: 600,
                        winheight: 460,
                        tableid: 'tblCPersonPicker',
                        tablecolumns: tblColums,
                        datalist: response.objs,
                        multiplereturn: true,
                        searchingbyfieldName: 'Name',
                        windowTittle: 'Person List'
                    };
                    $.icsPicker(oPickerParam);
                    IntializePickerbutton(oPickerParam);//multiple return
                }
                else {
                    alert("Data Not Found");
                }
            }
            else {
                alert("Data Not Found.");
            }
        });
    }

    /////


    $("#btnResetAdvSearch").click(function () {
        ResetAdvSearchWindow();
        DateActionsOrderDateAdvSearch();
        DateActionsInvoiceDateAdvSearch();
        DateActionsDeliveryDateAdvSearch();
        DateActionsStatusDateAdvSearch();
    });

    $("#btnSearchAdvSearch").click(function () {
        debugger;

        $(".lblLoadingMessage").show();

        var checkDate = CheckFromAndToDateValidation("cboOrderDateAdvS", "txtFromOrderDateAdvSearch", "txtToOrderDateAdvSearch");
        if (!checkDate) {
            alert("Start date must be greater than end date.");
            return false;
        }
        checkDate = CheckFromAndToDateValidation("cboInvoiceDateAdvSearch", "txtFromOrderDateAdvSearch", "txtToInvoiceDateAdvSearch");
        if (!checkDate) {
            alert("Start date must be greater than end date.");
            return false;
        }
        checkDate = CheckFromAndToDateValidation("cboDeliveryDateAdvS", "txtFromDeliveryDateAdvSearch", "txtToDeliveryDateAdvSearch");
        if (!checkDate) {
            alert("Start date must be greater than end date.");
            return false;
        }


        //var nContractorID = parseInt(_sContractorIds);
        //var nBuyerID = parseInt(_sDeliverToIDs);
        var nCboOrderDate = parseInt($("#cboOrderDateAdvS").val());
        var dFromOrderDate = $('#txtFromOrderDateAdvSearch').datebox('getValue');
        var dToOrderDate = $('#txtToOrderDateAdvSearch').datebox('getValue');

        var ncboInvoiceDate = parseInt($("#cboInvoiceDateAdvSearch").val());
        var dFromInvoiceDate = $('#txtFromInvoiceDateAdvSearch').datebox('getValue');
        var dToInvoiceDate = $('#txtToInvoiceDateAdvSearch').datebox('getValue');

        var ncboDeliveryDate = parseInt($("#cboDeliveryDateAdvS").val());
        var dFromDeliveryDate = $('#txtFromDeliveryDateAdvSearch').datebox('getValue');
        var dToDeliveryDate = $('#txtToDeliveryDateAdvSearch').datebox('getValue');

        var ncboPaymentType =0;
        var nCboMkPerson = parseInt($("#cboMkPersonAdvSearch").val());
        //var nOrderType = parseInt($("#cboOrderType").val());


        var oOrderTypes = $('#tblOrderType').datagrid('getSelections');
        var sOrderTypes = "";
        if (oOrderTypes.length > 0) {
            sOrderTypes = MakeStringIDs(oOrderTypes);
        }

        if(sOrderTypes=='')
        {
            sOrderTypes=-1; //bulk
        }
        var sPINo = $.trim($("#txtPINo").val());
        var sLCNo = $.trim($("#txtLCNo").val());
        var sSInvoiceNo = '';
        var sStyleNo = $.trim($("#txtStyleNoAdvS").val());
        var sRefNo = $.trim($("#txtRefNoAdvS").val());

        var bYetNotSendLabReq = $("#chkYetNotSendLabReq").is(':checked');
        var bYetNotSendPro = $("#chkYetNotSendPro").is(':checked');
        var sOrderNo = $.trim($("#txtOrderNo").val());
        var sStatus ='';
        var ncboPending =parseInt($("#cboPending").val());

        sOrderNo='';
        var nCboOrderNo=parseInt($("#cboOrderNo").val());
        var sOrderNoFrom=parseInt($("#txtOrderNoFrom").val());
        var sOrderNoTo=parseInt($("#txtOrderNoTo").val());

        var sParams = sOrderTypes + "~" +
                      _sContractorIds + "~" +
                      _sDeliverToIDs + "~" +
                      _sProductIds+"~"+
                      nCboOrderDate + "~" +
                      dFromOrderDate + "~" +
                      dToOrderDate + "~" +
                      ncboInvoiceDate + "~" +
                      dFromInvoiceDate + "~" +
                      dToInvoiceDate + "~" +
                      ncboDeliveryDate + "~" +
                      dFromDeliveryDate + "~" +
                      dToDeliveryDate + "~" +
                      nCboMkPerson + "~" +
                      ncboPaymentType + "~" +
                      sStatus+"~"+
                      sPINo+"~"+
                      sLCNo+"~"+
                      sSInvoiceNo+"~"+
                      sRefNo+"~"+
                      sStyleNo+"~"+
                      _nBUID+"~"+
                      _sCPersonnelIds+"~"+
                      sOrderNo+"~"+ncboPending
                      +'~'+nCboOrderNo+'~'+(isNaN(sOrderNoFrom)?0:sOrderNoFrom)+'~'+(isNaN(sOrderNoTo)?0:sOrderNoTo)+'~'+($('#spnOrderYear').val()==''?0:$('#spnOrderYear').val());;
        sessionStorage.setItem("ParamsPO", sParams);
        var oDyeingOrderReport = {
            ErrorMessage : sParams
        };
     
        $.ajax({
            type: "POST",
            dataType: "json",
            url: _sBaseAddress + "/DyeingOrderReport/AdvSearch",
            traditional: true,
            data: JSON.stringify(oDyeingOrderReport),
            contentType: "application/json; charset=utf-8",
            success: function (data) {
                var oDyeingOrderReports = data;
                debugger;
                if (oDyeingOrderReports != null) {
                    if (oDyeingOrderReports.length > 0)
                    {
                        if(oDyeingOrderReports[0].ErrorMessage==""){
                            DynamicRefreshList(oDyeingOrderReports, "tblDyeingOrders");
                            $.icsMakeFooterColumn('tblDyeingOrders',['ProductName','Qty','Amount','Qty_DO','Qty_DC']);
                            $("#winAdvSearch").icsWindow("close");
                        }
                        else {
                            alert(oDyeingOrderReports[0].ErrorMessage); return;
                        }
                    }
                    else
                    {
                        alert("Sorry, No data found.");
                        DynamicRefreshList([], "tblDyeingOrders");
                    }

                } else {
                    alert("Sorry, No data found.");
                    DynamicRefreshList([], "tblDyeingOrders");
                }
                $(".lblLoadingMessage").hide();
            }
        });
    });
    $('#txtSearchByDO').keypress(function (e) {
        var code = (e.keyCode ? e.keyCode : e.which);
        if (code == 13)//Enter key-13
        {
            _sContractorIds="";
            _sDeliverToIDs="";
            _sProductIds="";
            _sCPersonnelIds="";
            var nCboOrderDate = 0;
            var dFromOrderDate = icsdateformat(new Date());

            var dToOrderDate  = icsdateformat(new Date());
            var ncboInvoiceDate = 0;
            var dFromInvoiceDate  = icsdateformat(new Date());
            var dToInvoiceDate  = icsdateformat(new Date());

            var ncboDeliveryDate = 0;
            var dFromDeliveryDate = icsdateformat(new Date());
            var dToDeliveryDate = icsdateformat(new Date());

            var ncboPaymentType =0;
            var nCboMkPerson = 0;
            //var nOrderType = 0;

            //var nOrderType = parseInt($("#cboOrderType").val());
            //if(nOrderType<=0)
            //{
            //    nOrderType=-1; //bulk
            //}

            var oOrderTypes = $('#tblOrderType').datagrid('getSelections');
            var sOrderTypes = "";
            if (oOrderTypes.length > 0) {
                sOrderTypes = MakeStringIDs(oOrderTypes);
            }

            if(sOrderTypes=='')
            {
                sOrderTypes=-1; //bulk
            }

            var sPINo ='';
            var sLCNo = '';
            var sSInvoiceNo = '';
            var sStyleNo = '';
            var sRefNo = '';

            var bYetNotSendLabReq =false;
            var bYetNotSendPro = false;
            var sOrderNo = $.trim($("#txtSearchByDO").val());
            var sStatus ='';
            var ncboPending =0;
            var sParams = sOrderTypes + "~" +
                          _sContractorIds + "~" +
                          _sDeliverToIDs + "~" +
                          _sProductIds+"~"+
                          nCboOrderDate + "~" +
                          dFromOrderDate + "~" +
                          dToOrderDate + "~" +
                          ncboInvoiceDate + "~" +
                          dFromInvoiceDate + "~" +
                          dToInvoiceDate + "~" +
                          ncboDeliveryDate + "~" +
                          dFromDeliveryDate + "~" +
                          dToDeliveryDate + "~" +
                          nCboMkPerson + "~" +
                           ncboPaymentType + "~" +
                          sStatus+"~"+
                          sPINo+"~"+
                          sLCNo+"~"+
                          sSInvoiceNo+"~"+
                          sRefNo+"~"+
                          sStyleNo+"~"+
                          _nBUID+"~"+
                          _sCPersonnelIds+"~"+
                            sOrderNo+"~"+ncboPending;

            sessionStorage.setItem("ParamsSO", sParams);
            var oDyeingOrderReport = {
                ErrorMessage : sParams
            };

            $.ajax({
                type: "POST",
                dataType: "json",
                url: _sBaseAddress + "/DyeingOrderReport/AdvSearch",
                traditional: true,
                data: JSON.stringify(oDyeingOrderReport),
                contentType: "application/json; charset=utf-8",
                success: function (data) {
                    var oDyeingOrderReports = data;
                    debugger;

                    if (oDyeingOrderReports != null) {
                        if (oDyeingOrderReports.length > 0)
                        {

                            DynamicRefreshList(oDyeingOrderReports, "tblDyeingOrders");
                            $("#winAdvSearch").icsWindow("close");

                        }
                        else
                        {
                            alert("Sorry, No data found.");
                            DynamicRefreshList([], "tblDyeingOrders");
                        }

                    } else {
                        alert("Sorry, No data found.");
                        DynamicRefreshList([], "tblDyeingOrders");
                    }
                    $(".lblLoadingMessage").hide();
                }
            });
        }
        else if (code === 8) {
            DynamicRefreshList([], "tblExportBillReports");
        }
    });



    function Search(oDyeingOrderReport)
    {

        $.ajax({
            type: "POST",
            dataType: "json",
            url: _sBaseAddress + "/DyeingOrderReport/AdvSearch",
            traditional: true,
            data: JSON.stringify(oDyeingOrderReport),
            contentType: "application/json; charset=utf-8",
            success: function (data) {
                var oDyeingOrderReports = data;
                debugger;
                if (oDyeingOrderReports != null) {
                    if (oDyeingOrderReports.length > 0)
                    {
                        DynamicRefreshList(oDyeingOrderReports, "tblDyeingOrders");
                        $("#winAdvSearch").icsWindow("close");
                    }
                    else
                    {
                        alert("Sorry, No data found.");
                        DynamicRefreshList([], "tblDyeingOrders");
                    }

                } else {
                    alert("Sorry, No data found.");
                    DynamicRefreshList([], "tblDyeingOrders");
                }
                $(".lblLoadingMessage").hide();
            }
        });
    }
    function MakeStringIDs(StringIDs)
    {
        var IDs = "";
        for (var i = 0; i < StringIDs.length; i++) {
            IDs = StringIDs[i].OrderType + "," + IDs;
        }
        var length = 0;
        length = parseInt(IDs.length) - 1;
        IDs = IDs.substring(0, parseInt(length));
        return IDs;
    }
    function LoadComboAdv()
    {

        //var oOrderTypes = $('#tblOrderType').datagrid('getSelections');
        //var sOrderTypes = "";
        //if (oOrderTypes.length > 0) {
        //    sOrderTypes = MakeStringIDs(oOrderTypes);
        //}
        DynamicRefreshList(_oDUOrderSetups, "tblOrderType");

        //$("#cboOrderType").icsLoadCombo({
        //    List: _oDUOrderSetups,
        //    OptionValue: "OrderType",
        //    DisplayText: "ShortName"
        //});

        $("#cboOrderDateAdvS, #cboInvoiceDateAdvSearch, #cboDeliveryDateAdvS").icsLoadCombo({
            List: _oCompareOperators,
            OptionValue: "id",
            DisplayText: "Value"
        });
        $("#cboMkPersonAdvSearch").icsLoadCombo({
            List: _oMktPersons,
            OptionValue: "MarketingAccountID",
            DisplayText: "Name"
        });
    }
    function CheckFromAndToDateValidation(OperationComboId, FromDateId, ToDateId) {
        $("#" + OperationComboId).parent().parent().parent().find("select").removeClass("errorFieldBorder");
        var nCboVal = $("#" + OperationComboId).val();
        if (parseInt(nCboVal) == 5 || parseInt(nCboVal) == 6) {
            var fromDate = $("#" + FromDateId).datebox("getValue");
            var toDate = $("#" + ToDateId).datebox("getValue");
            if (new Date(fromDate) > new Date(toDate)) {
                $("#" + ToDateId).focus();
                $("#" + OperationComboId).addClass("errorFieldBorder");
                $(".lblLoadingMessage").hide();
                return false;
            } else {
                $("#" + OperationComboId).removeClass("errorFieldBorder");
                return true;
            }
        } else {
            return true;
        }
    }

    function ResetAdvSearchWindow() {
        _sContractorIds = '';
        _sDeliverToIDs = "";
        $("#winAdvSearch input").not("input[type='button']").val("");
        $("#winAdvSearch input").removeClass("fontColorOfPickItem");
        $("#winAdvSearch select").val(0);
        DateActionsOrderDateAdvSearch();
        DateActionsInvoiceDateAdvSearch();
        DateActionsDeliveryDateAdvSearch();
        $("#txtFromOrderDateAdvSearch,#txtToOrderDateAdvSearch,#txtFromInvoiceDateAdvSearch,#txtToInvoiceDateAdvSearch,#txtFromDeliveryDateAdvSearch,#txtToDeliveryDateAdvSearch").datebox({ disabled: true });
        $("#txtFromOrderDateAdvSearch,#txtToOrderDateAdvSearch,#txtFromInvoiceDateAdvSearch,#txtToInvoiceDateAdvSearch,#txtFromDeliveryDateAdvSearch,#txtToDeliveryDateAdvSearch").datebox("setValue", icsdateformat(new Date()));
    }

    function PickContractors_AdvS() {
        var oContractor = {
            Params: '2,3' + '~' + $.trim($("#txtContractorAdvS").val()+"~"+_nBUID)
        };
        var obj = {
            BaseAddress: _sBaseAddress,
            Object: oContractor,
            ControllerName: "Contractor",
            ActionName: "ContractorSearchByNameType",
            IsWinClose: false
        };

        $("#progressbar").progressbar({ value: 0 });
        $("#progressbarParent").show();
        var intervalID = setInterval(updateProgress, 250);

        DynamicRefreshList([], "tblAccountsPickerAdvSearch");
        $.icsDataGets(obj, function (response) {
            clearInterval(intervalID);
            $("#progressbarParent").hide();
            if (response.status && response.objs.length > 0) {
                if (response.objs[0].ContractorID > 0) {
                    var tblColums = []; var oColumn = { field: "ContractorID", title: "Code", width: 50, align: "left" }; tblColums.push(oColumn);
                    oColumn = { field: "Name", title: "Name", width: 280, align: "left" }; tblColums.push(oColumn);

                    var oPickerParam = {
                        winid: 'winContractorPicker',
                        winclass: 'clsAccountOf',
                        winwidth: 400,
                        winheight: 460,
                        tableid: 'tblAccountOfs',
                        tablecolumns: tblColums,
                        datalist: response.objs,
                        multiplereturn: true,
                        searchingbyfieldName: 'Name',
                        windowTittle: 'Contactor List'
                    };
                    $.icsPicker(oPickerParam);
                    IntializePickerbutton(oPickerParam);
                }
                else {
                    alert(response.objs[0].ErrorMessage);
                }
            }
            else {
                alert("Sorry, No Contactor Found.");
            }
        });
    }

    function PickDeliverTo_AdvS() {
        var oContractor = {
            Params: '2' + '~' + $.trim($("#txtDeliverToAdvS").val()+"~"+_nBUID)
        };
        var obj = {
            BaseAddress: _sBaseAddress,
            Object: oContractor,
            ControllerName: "Contractor",
            ActionName: "ContractorSearchByNameType",
            IsWinClose: false
        };
        $("#progressbar").progressbar({ value: 0 });
        $("#progressbarParent").show();
        var intervalID = setInterval(updateProgress, 250);
        DynamicRefreshList([], "tblContractorsPickerAdvSearch");
        $.icsDataGets(obj, function (response) {
            clearInterval(intervalID);
            $("#progressbarParent").hide();
            if (response.status && response.objs.length > 0) {
                if (response.objs[0].ContractorID > 0) {
                    var tblColums = []; var oColumn = { field: "ContractorID", title: "Code", width: 50, align: "left" }; tblColums.push(oColumn);
                    oColumn = { field: "Name", title: "Name", width: 280, align: "left" }; tblColums.push(oColumn);
                    var oPickerParam = {
                        winid: 'winBuyers',
                        winclass: 'clsBuyer',
                        winwidth: 400,
                        winheight: 460,
                        tableid: 'tblBuyers',
                        tablecolumns: tblColums,
                        datalist: response.objs,
                        multiplereturn: true,
                        searchingbyfieldName: 'Name',
                        windowTittle: 'Buyer List'
                    };
                    $.icsPicker(oPickerParam);
                    IntializePickerbutton(oPickerParam);
                }
                else {
                    alert(response.objs[0].ErrorMessage);
                }
            }
            else {
                alert("Sorry, No Contactor Found.");
            }
        });
    }

    function DateActionsOrderDateAdvSearch() {
        DynamicDateActions("cboOrderDateAdvS", "txtFromOrderDateAdvSearch", "txtToOrderDateAdvSearch");
    }
    function DateActionsInvoiceDateAdvSearch() {
        DynamicDateActions("cboInvoiceDateAdvSearch", "txtFromInvoiceDateAdvSearch", "txtToInvoiceDateAdvSearch");
    }
    function DateActionsDeliveryDateAdvSearch() {
        DynamicDateActions("cboDeliveryDateAdvS", "txtFromDeliveryDateAdvSearch", "txtToDeliveryDateAdvSearch");
    }

    $("#btnCloseAdvSearch").click(function () {
        $("#winAdvSearch").icsWindow("close");
    });
    $("#btnAdvSearch").click(function () {
        debugger;
        $("#winAdvSearch").icsWindow("open", "Sample Order Advance Search");
        //DynamicRefreshList([], "tblExportPIAdvSearch");
        DynamicResetAdvSearchWindow("winAdvSearch");
        DynamicDateActions("cboDateOptionAdvSearch", "txtFromDateAdvSearch", "txtToDateAdvSearch");
        DynamicDateActions("cboInvoiceDateAdvSearch", "txtFromInvoiceDateAdvSearch", "txtToInvoiceDateAdvSearch");
        DynamicDateActions("cboDeliveryDateAdvS", "txtFromDeliveryDateAdvSearch", "txtToDeliveryDateAdvSearch");
        ResetAdvSearchWindow();
    });

    function IntializePickerbutton(oPickerobj) {
        $("#" + oPickerobj.winid).find("#btnOk").click(function () {
            SetPickerValueAssign(oPickerobj);
        });
        $(document).find('.' + oPickerobj.winclass).keydown(function (e) {
            if (e.which === 13) {
                SetPickerValueAssign(oPickerobj);
            }
        });
    }

    function SetPickerValueAssign(oPickerobj) {
        var oreturnObj = null, oreturnObjs = [];
        if (oPickerobj.multiplereturn) {
            oreturnObjs = $('#' + oPickerobj.tableid).datagrid('getChecked');
        } else {
            oreturnObj = $('#' + oPickerobj.tableid).datagrid('getSelected');
        }

        if (oPickerobj.winid == 'winContractorPicker')
        {
            if (oreturnObjs != null && oreturnObjs.length> 0)
            {

                _sContractorIds=''; var sMessage='';
                sMessage=(oreturnObjs.length>1)? oreturnObjs.length +" Contractors Selected" : oreturnObjs[0].Name;
                $('#txtContractorAdvS').val(sMessage);
                $("#txtContractorAdvS").addClass("fontColorOfPickItem");

                for(var i=0;i<oreturnObjs.length;i++){
                    _sContractorIds=_sContractorIds+oreturnObjs[i].ContractorID+',';
                }
                _sContractorIds=_sContractorIds.substring(0,_sContractorIds.length-1);

            }
            else
            {
                alert("Please select a contractor.");
                return false;
            }
        }

        else if (oPickerobj.winid == 'winBuyers') {
            if (oreturnObjs != null && oreturnObjs.length> 0)
            {
                _sDeliverToIDs='';
                var sMessage='';
                sMessage=(oreturnObjs.length>1)? oreturnObjs.length +" Contractors Selected" : oreturnObjs[0].Name;
                $('#txtDeliverToAdvS').val(sMessage);
                $("#txtDeliverToAdvS").addClass("fontColorOfPickItem");

                for(var i=0;i<oreturnObjs.length;i++){
                    _sDeliverToIDs=_sDeliverToIDs+oreturnObjs[i].ContractorID+',';
                }
                _sDeliverToIDs=_sDeliverToIDs.substring(0,_sDeliverToIDs.length-1);



            }
            else
            {
                alert("Please select a buyer.");
                return false;
            }
        }
        else if (oPickerobj.winid == 'winProductPicker')
        {
            if (oreturnObjs!= null && oreturnObjs.length> 0)
            {
                _sProductIds=''; var sMessage='';
                sMessage=(oreturnObjs.length>1)? oreturnObjs.length +" ProductName Selected" : oreturnObjs[0].ProductName;
                $('#txtProductName').val(sMessage);
                $("#txtProductName").addClass("fontColorOfPickItem");

                for(var i=0;i<oreturnObjs.length;i++){
                    _sProductIds=_sProductIds+oreturnObjs[i].ProductID+',';
                }
                _sProductIds=_sProductIds.substring(0,_sProductIds.length-1);

            }
            else
            {
                alert("Please select a Product.");
                return false;
            }

        }
        else if (oPickerobj.winid == 'winCPersonPicker')
        {
            debugger;

            if (oreturnObjs!=null && oreturnObjs.length > 0) {

                _sCPersonnelIds=''; var sMessage='';
                sMessage=(oreturnObjs.length>1)? oreturnObjs.length +" Con Person Selected" : oreturnObjs[0].Name;
                $('#txtContactPersonnel').val(sMessage);
                $("#txtContactPersonnel").addClass("fontColorOfPickItem");

                for(var i=0;i<oreturnObjs.length;i++){
                    _sCPersonnelIds=_sCPersonnelIds+oreturnObjs[i].ContactPersonnelID+',';
                }
                _sCPersonnelIds=_sCPersonnelIds.substring(0,_sCPersonnelIds.length-1);
            }
        }
        $("#" + oPickerobj.winid).icsWindow("close");
        $("#" + oPickerobj.winid).remove();
    }
    /// end Adv Searching
</script>


