@model ESimSol.BusinessObjects.AttendanceScheme
<html>
<head>
    <link href="@Url.Content("~/Content/CSS/icon.css")" rel="stylesheet" type="text/css" />
    <link href="@Url.Content("~/Content/CSS/easyui.css")" rel="stylesheet" type="text/css" />
    <link href="@Url.Content("~/Content/CSS/Pikerstyle.css")" rel="stylesheet" type="text/css" />
    <script src="@Url.Content("~/Scripts/jquery-1.7.1.min.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Scripts/jquery.ics.customize.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Scripts/jquery.easyui.min.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Scripts/jquery-ui.min.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Scripts/json2.js")" type="text/javascript"></script>
</head>
<body>
    @using System.Web.UI.WebControls
    @using ESimSol.BusinessObjects
    <div style="font-family: Tahoma">
        <table border="0" cellspacing="2" cellpadding="2">
            <tr>
                <td style="background-color: #CFB53B; text-align: center; width: 930px; color: White">
                    <label id="lblHeaderName" style="font-size: 15px; font-weight: bold; text-decoration: Underline;
                        width: 930px">
                        Attendance Scheme</label>
                </td>
            </tr>
        </table>
    </div>
    <div style="clear: both;">
    </div>
    <div style="width: 100%; font-family: Tahoma;">
        <div style="width: 50%; float: left;">
            <table style="width: 100%; font-size: 12px; font-weight: bold; text-align: right">
                <tr>
                    <td style="">
                        Scheme Name :
                    </td>
                    <td>@Html.TextBox("txtSchemeName", " ", new { size = "36" })
                    </td>
                </tr>
                @*<tr>
                    <td>
                        Dept. Policy Name :
                    </td>
                    <td>
                        @Html.TextBox("txtDepartmentRequirementPolicy", " ", new { size = "29", disabled = "disable" })
                        <input type="hidden" id="txtdepartmentRequirementPolicyID" />
                        <input value="pick" type="button" id="departmentRequirementPolicyPicker" style="width: 38px"
                            onclick="DepartmentRequirementPolicyPicker()" />
                    </td>
                </tr>*@
                @*<tr>
                    <td>
                        Location :
                    </td>
                    <td>@Html.TextBox("txtLocation", " ", new { size = "29", disabled = "disable" })
                        <input type="hidden" id="txtLocationID" />
                        <input value="pick" type="button" id="locationPicker" style="width: 38px" onclick="LocationPicker()" />
                    </td>
                </tr>*@
                @*<tr>
                    <td>
                        Dept./Section :
                    </td>
                    <td>@Html.TextBox("txtDepartment", " ", new { size = "29", disabled = "disable" })
                        <input type="hidden" id="txtdepartmentID" />
                        <input value="pick" type="button" id="departmentPicker" style="width: 38px" onclick="DepartmentPicker()" />
                    </td>
                </tr>*@
                
                <tr>
                    <td>
                        Attendance Calender :
                    </td>
                    <td>
                        <select id="cboAttendanceCalender" style="width: 243px;" onchange="">
                        </select>
                    </td>
                </tr>
                
                <tr>
                    <td>
                        Employee Type :
                    </td>
                    <td>
                        @*@Html.DropDownListFor(model => model.EmployeeType, new SelectList(Enum.GetValues(typeof(ICS.Base.Client.Utility.EnumEmployeeType))), new { id = "cboEmployeeType", style = "width: 243px;" })*@
                        <select id="cboEmployeeType" style="width: 243px;" onchange="">
                        </select>
                    </td>
                </tr>
                
                
                <tr>
                    <td>
                        Roster plan :
                    </td>
                    <td>
                        <select id="cboRosterPlan" style="width: 243px;" onchange="">
                        </select>
                    </td>
                </tr>
                
                <tr>
                    <td>
                    </td>
                    <td>
                        <input type="button" value="Reset" id="btnReset" style="width: 70px" onclick="Reset()" />
                        <input type="button" value="Search" id="btnSearch" style="width: 70px" onclick="Search()" />
                    </td>
                </tr>
            </table>
        </div>
        <div style="width: 50%; float: left;">
            <table id="tblAttendanceSchemes" title="Attendance Scheme List" class="easyui-datagrid"
                style="width: 420px; height: 340px;" fitcolumns="true" rownumbers="true" pagination="false"
                singleselect="true" autorowheight="false" toolbar="#toolbar">
                <thead>
                    <tr>
                        <th data-options="field:'Selected',checkbox:true">
                        <th field="Name" width="150">
                            Scheme
                        </th>
                        <th field="EmployeeType" width="200">
                            Empolyee Type
                        </th>
                        <th field="RosterPlanDescription" width="124">
                            Roster Plan
                        </th>
                        <th field="DayOff" width="124">
                            DayOff
                        </th>
                    </tr>
                </thead>
            </table>
            <div style="float: right;">
                <a href="javascript:void(0)" class="easyui-linkbutton" iconcls="icon-ok" plain="true"
                    onclick="OkButtonClick()">Ok</a> <a href="javascript:void(0)" class="easyui-linkbutton"
                        iconcls="icon-cancel" plain="true" onclick="Close()">Close</a>
            </div>
        </div>
    </div>
    <div style="clear: both;">
    </div>
</body>
</html>
<script type="text/javascript">
    var _oDepartmentRequirementPolicy=null;
    var _oAttendanceScheme;
    var _oAttendanceSchemes=[];
    var _bMultipleItemReturn = false;
    var obj = window.dialogArguments;
    var _sBaseAddress = "";
    var _oWeekDays = [];
    var _oRosterPlans = [];
    var _oAttendanceCalenders = [];
    var _oEmployeeTypes = [];
    var _oDepartmentRequirementPolicys = [];

    $(document).ready(function () {
        ////debugger;
        var obj = window.dialogArguments;
        _bMultipleItemReturn = obj.MultipleItemReturn;
        _oAttendanceScheme = @Html.Raw(new System.Web.Script.Serialization.JavaScriptSerializer().Serialize(Model));
        _sBaseAddress =@Html.Raw(new System.Web.Script.Serialization.JavaScriptSerializer().Serialize(HttpContext.Current.Session[SessionInfo.BaseAddress]));
        _oRosterPlans=@Html.Raw(new System.Web.Script.Serialization.JavaScriptSerializer().Serialize(Model.RosterPlans));
        _oAttendanceCalenders= @Html.Raw(new System.Web.Script.Serialization.JavaScriptSerializer().Serialize(Model.AttendanceCalendars));
        @*_oEmployeeTypes=@Html.Raw(new System.Web.Script.Serialization.JavaScriptSerializer().Serialize(Model.EmployeeTypes));*@
        _oEmployeeTypes=@Html.Raw(new System.Web.Script.Serialization.JavaScriptSerializer().Serialize(@ViewBag.EmployeeTypes));

    if (_bMultipleItemReturn == false) {
         $('#tblAttendanceSchemes').datagrid('hideColumn', 'Selected');
    }
    //Load Combo
    LoadRosterPlan();
    LoadAttendanceCalendar();
    LoadEmployeeType();
});

//function DepartmentPicker() {
//    var oParameter = new Object();
//    oParameter.MultipleItemReturn = false;
//    var url = _sBaseAddress + "/Department/DepartmentPickerWithCheckBox?id="+0;
//    var oReturnObject = window.showModalDialog(url, oParameter, 'dialogHeight:470px;dialogWidth:550px;dialogLeft:400;dialogTop:100;center:yes;resizable:no;status:no;scroll:no');
//    if (oReturnObject==null) return;
//    if (oReturnObject=='undefined') return;

//    $("#txtDepartment")[0].value = oReturnObject.text;
//    $("#txtdepartmentID")[0].value = oReturnObject.id;
//
//}

//function LocationPicker() {
//    var oParameter = new Object();
//    oParameter.MultipleItemReturn = false;
//    var url = _sBaseAddress + "/Location/LocationPickerWithCheckBox?id="+0;
//    var oReturnObject = window.showModalDialog(url, oParameter, 'dialogHeight:470px;dialogWidth:550px;dialogLeft:400;dialogTop:100;center:yes;resizable:no;status:no;scroll:no');
//    if (oReturnObject==null) return;
//    if (oReturnObject=='undefined') return;

//    $("#txtLocation")[0].value = oReturnObject.text;
//    $("#txtLocationID")[0].value = oReturnObject.id;
//}

//function DepartmentRequirementPolicyPicker() {
//
//    var oParameter = new Object();
//    oParameter.MultipleItemReturn = false;
//    var url = _sBaseAddress + "/DepartmentRequirementPolicy/DepartmentRequirementPolicySearch?id="+_oAttendanceScheme.AttendanceSchemeID;
//    var oReturnObject = window.showModalDialog(url, oParameter, 'dialogHeight:300px;dialogWidth:700px;dialogLeft:400;dialogTop:100;center:yes;resizable:no;status:no;scroll:no');
//    //debugger;
//    if (oReturnObject==null) return;
//    if (oReturnObject=='undefined') return;

//    $("#txtDepartmentRequirementPolicy")[0].value = oReturnObject.Name;
//    $("#txtdepartmentRequirementPolicyID")[0].value = oReturnObject.DepartmentRequirementPolicyID;
//    $("#txtLocation")[0].value = oReturnObject.LocationName;
//    $("#txtLocationID")[0].value=oReturnObject.LocationID;
//    $("#txtDepartment")[0].value = oReturnObject.DepartmentName;
//    $("#txtdepartmentID")[0].value = oReturnObject.DepartmentID;
//
// //   var rosterPlanID= oReturnObject[0].RosterPlanID;
////    for (var i = 0; i < _oRosterPlans.length; i++) {
////        if (_oRosterPlans[i].RosterPlanID == rosterPlanID) {
////            $("#txtRosterCycle")[0].value =_oRosterPlans[i].RosterCycle;
////
////        }
////    }
//    //var selectedRosterPlanDetails=GetRosterPlanDetails(rosterPlanID);
//    //RefreshList(selectedRosterPlanDetails);
//}

//function WeekdayPicker() {
//    var oParameter = new Object();
//    oParameter.MultipleReturn = true;
//    var url = _sBaseAddress + "/DepartmentRequirementPolicy/WeekDayPicker?id="+0;
//    var oReturnObject = window.showModalDialog(url, oParameter, 'dialogHeight:285px;dialogWidth:230px;dialogLeft:400;dialogTop:100;center:yes;resizable:no;status:no;scroll:no');
//        //debugger;
//        var weekDays="";
//        var weekDayIDs = [];
//        weekDays = oReturnObject[0]._WeekDAys;
//        weekDayIDs[0] = oReturnObject[0]._WeekDayIDs;
//    for (var i = 1; i < oReturnObject.length; i++) {
//        weekDays+=','+ oReturnObject[i]._WeekDAys;
//        weekDayIDs[i] = oReturnObject[i]._WeekDayIDs;
//    }
//    $("#txtDayOff")[0].value = weekDays;
//        _oWeekDays = weekDayIDs;
//}


function Search() {
//    var nLocationID;
//    var nDepartmentID;
    var sSchemeName;
//    var nDRPID;

    sSchemeName=document.getElementById("txtSchemeName").value;
//    nDRPID=document.getElementById("txtdepartmentRequirementPolicyID").value;
//    nLocationID = document.getElementById("txtLocationID").value;
//    nDepartmentID=document.getElementById("txtdepartmentID").value;


    var nRosterPlanID= document.getElementById("cboRosterPlan").value;
    var nEmployeeTypeID=document.getElementById("cboEmployeeType").value;
    var nAttendanceCalenderID=document.getElementById("cboAttendanceCalender").value;

    var sParam="";
        sParam=sSchemeName+ '~' + nRosterPlanID+ '~' +nEmployeeTypeID+ '~' +nAttendanceCalenderID;

        $.ajax({
        type: "POST",
        dataType: "json",
        url: _sBaseAddress + "/AttendanceScheme/AttendanceSchemeSearch",
        traditional: true,
        data:  JSON.stringify({sParam :sParam}),
        contentType: "application/json; charset=utf-8",
        success: function (data) {
            ////debugger;
            var  oAttendanceSchemes = jQuery.parseJSON(data);
            if (oAttendanceSchemes != null) {
                if(oAttendanceSchemes.length>0)
                {
                    RefreshList(oAttendanceSchemes);
                }
                else
                {
                    alert("Data not found!!");
                    RefreshList(oAttendanceSchemes);
                }
            }
        },
        error: function (xhr, status, error) {
            alert(error);
        }
    });
}

function  Reset() {
    debugger;
    document.getElementById("txtSchemeName").value="";
    document.getElementById("txtLocation").value="";
    document.getElementById("txtLocationID").value=0;
    document.getElementById("txtDepartment").value="";
    document.getElementById("txtDepartmentID").value=0;
    document.getElementById("txtDepartmentRequirementPolicy").value="";
    document.getElementById("txtDepartmentRequirementPolicyID").value=0;
    document.getElementById("cboAttendanceCalender").value=0;
    document.getElementById("cboEmployeeType").value=0;
    document.getElementById("cboRosterPlan").value=0;

    var list = [];
    RefreshList(list);
}
    function RefreshList(oAttendanceSchemes)
    {
          var data=oAttendanceSchemes;
          data={"total":""+data.length+"","rows":data};
          $('#tblAttendanceSchemes').datagrid('loadData',data);
        $('#tblAttendanceSchemes').datagrid({ selectOnCheck: false, checkOnSelect: false });


    }
    function OkButtonClick()
   {
    //debugger;

         if(_bMultipleItemReturn==true)
         {
            var oAttendanceSchemes=[];
            oAttendanceSchemes = $('#tblAttendanceSchemes').datagrid('getChecked');
            if(oAttendanceSchemes.length<=0)
            {
                alert("please select atleast one item");
                return;
            }
            window.returnValue= oAttendanceSchemes;
         }
         else
         {
             var oAttendanceScheme= $('#tblAttendanceSchemes').datagrid('getSelected');
             window.returnValue= oAttendanceScheme;
         }
          window.close();
      }

    function Close()
    {
        window.close();
    }

function LoadRosterPlan()
{
    var listRosterPlans="<option value='"+0+"'>" +"--Select Roster Plan--" + "</option>";
    if(_oRosterPlans.length>0)
        {
            for (var i = 0; i < _oRosterPlans.length; i++)
                    {
                    listRosterPlans += "<option value='" + _oRosterPlans[i].RosterPlanID+"'>" + _oRosterPlans[i].Description+"</option>";
                    }
        }
    $("#cboRosterPlan").html(listRosterPlans);
}

function LoadAttendanceCalendar()
{
    var listAttendanceCalenders="<option value='"+0+"'>" +"--Select Attendance Calenders--" + "</option>";
    if(_oAttendanceCalenders.length>0)
    {
        for (var i = 0; i < _oAttendanceCalenders.length; i++)
        {
            listAttendanceCalenders += "<option value='" + _oAttendanceCalenders[i].AttendanceCalendarID+"'>" + _oAttendanceCalenders[i].Name+"</option>";
        }
    }
    $("#cboAttendanceCalender").html(listAttendanceCalenders);
}

function LoadEmployeeType(){
    var listEmployeeTypes="<option value='"+0+"'>" +"--Select Employee Types--" + "</option>";

    if(_oEmployeeTypes.length>0)
    {
        for (var j = 0; j < _oEmployeeTypes.length; j++)
        {
            listEmployeeTypes += "<option value='" + _oEmployeeTypes[j].EmployeeTypeID+"'>" + _oEmployeeTypes[j].Name+"</option>";
        }
    }
    $("#cboEmployeeType").html(listEmployeeTypes);
}

$(document).keydown(function (e)
{
    var keyCode = e.keyCode || e.which;
    if (keyCode == 27)
    {
        window.close();
    }
});
</script>
