<html>
<head>
    <link href="@Url.Content("~/Content/CSS/icon.css")" rel="stylesheet" type="text/css" />
    <link href="@Url.Content("~/Content/CSS/easyui.css")" rel="stylesheet" type="text/css" />
    <link href="@Url.Content("~/Content/CSS/Pikerstyle.css")" rel="stylesheet" type="text/css" />
    <script src="@Url.Content("~/Scripts/jquery-1.7.1.min.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Scripts/jquery.ics.customize.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Scripts/jquery.easyui.min.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Scripts/jquery-ui.min.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Scripts/json2.js")" type="text/javascript"></script>
</head>
<body>
    @model IEnumerable<ESimSol.BusinessObjects.AttendanceScheme>
        <div style="font-family: Tahoma">
            <table border="0" style="background-color: #CFB53B">
                <tr>
                    <td style="background-color: #CFB53B; text-align: center; width: 210px; color: White">
                        <label id="lblHeaderName" style="font-size: 15px; font-weight: bold; text-decoration: Underline">
                            Att. Scheme Piker
                        </label>
                    </td>
                </tr>
            </table>
            <table border="0" cellpadding="0" cellspacing="0">
                <tr style="height: 250px">
                    <td style="width: 200px; vertical-align: top">
                        <table id="tblAttendanceScheme" title="Att. Scheme List" class="easyui-datagrid" style="width: 208px;
                        height: 250px" toolbar="#toolbarAttendanceScheme" fitcolumns="false" rownumbers="true"
                               pagination="false" singleselect="true" autorowheight="false">
                            <thead>
                                <tr>
                                    <th data-options="field:'Selected',checkbox:true">
                                    </th>
                                    <th field="Name" width="175">
                                        Name
                                    </th>
                                </tr>
                            </thead>
                        </table>

                    </td>
                </tr>
                <tr style="height: 50px">
                    <td style="width: 450px">
                        <table>
                            <tr>
                                <td style="width: 80px; text-align: left"></td>
                                <td style="width: 50px; text-align: center">
                                    <a href="javascript:void(0)" class="easyui-linkbutton" iconcls="icon-ok" plain="true"
                                       onclick="OkButtonClick()">Ok</a>
                                </td>
                                <td style="width: 50px; text-align: center">
                                    <a href="javascript:void(0)" class="easyui-linkbutton" iconcls="icon-cancel" plain="true"
                                       onclick="Close()">Close</a>
                                </td>
                            </tr>
                        </table>
                    </td>
                </tr>
            </table>
        </div>
</body>
</html>
<script type="text/javascript">
var _bMultipleItemReturn = false;
var _sBaseAddress="";
var _oAttendanceSchemes=[];
$(document).ready(function ()
{
    _oAttendanceSchemes=@Html.Raw(new System.Web.Script.Serialization.JavaScriptSerializer().Serialize(Model));
    _sBaseAddress =@Html.Raw( new System.Web.Script.Serialization.JavaScriptSerializer().Serialize(HttpContext.Current.Session[SessionInfo.BaseAddress]));
    if(_oAttendanceSchemes[0].ErrorMessage !="")
    {
        alert(_oAttendanceSchemes[0].ErrorMessage);
        window.close();
    }
    var obj = window.dialogArguments;
    _bMultipleItemReturn = obj.MultipleItemReturn;
    if(_bMultipleItemReturn==false)
    {
        $('#tblAttendanceScheme').datagrid('hideColumn','Selected');
        $('#tblAttendanceScheme').datagrid({ onDblClickRow: function (rowIndex, rowData) { RowDoubleClickEvent(rowIndex, rowData); } });
    }
    RefreshList(_oAttendanceSchemes);
});


function RefreshList(_oAttendanceSchemes)
{
    data = _oAttendanceSchemes;
    data = { "total": "" + data.length + "", "rows": data };
    $('#tblAttendanceScheme').datagrid('loadData', data);
    $('#tblAttendanceScheme').datagrid('selectRow',0);
}

function Close()
{
    window.close();
}

function OkButtonClick()
{
        if(_bMultipleItemReturn==true)
        {
            var oSelectedItems=[];
            var oSelectedItems = $('#tblAttendanceScheme').datagrid('getChecked');
            if(oSelectedItems.length<=0)
            {
                alert("please select atleast one item");
                return;
            }
            window.returnValue= oSelectedItems;
        }
        else
        {
            var oSelectedItem= $('#tblAttendanceScheme').datagrid('getSelected');
            if(oSelectedItem==null)
            {
                alert("please select an Item !");
                return;
            }
            window.returnValue= oSelectedItem;
        }
        window.close();
}

$(document).keydown(function (e)
{
    var keyCode = e.keyCode || e.which;
    if (keyCode == 13)
    {
        OkButtonClick();
    }

});


$(document).keydown(function(e) {

    var oAttendanceScheme= $('#tblAttendanceScheme').datagrid('getSelected');
    var nIndex=$('#tblAttendanceScheme').datagrid('getRowIndex', oAttendanceScheme);
    if(e.which == 38)//up arrow=38
    {
        if(nIndex<=0)
        {
            $('#tblAttendanceScheme').datagrid('selectRow', 0);
        }
        else
        {
            $('#tblAttendanceScheme').datagrid('selectRow', nIndex-1);
        }
//        $('#txtStyleNo').blur();
    }
    if(e.which == 40)//down arrow=40
    {
        var oCurrentList = $('#tblAttendanceScheme').datagrid('getRows');
        if(nIndex>=oCurrentList.length-1)
        {
            $('#tblAttendanceScheme').datagrid('selectRow', oCurrentList.length-1);
        }
        else
        {
            $('#tblAttendanceScheme').datagrid('selectRow', nIndex+1);
        }
//        $('#txtStyleNo').blur();
    }
    if(e.which == 13)//enter=13
    {
        //debugger;
        var oSelectedAttendanceScheme= $('#tblAttendanceScheme').datagrid('getSelected');
        if(oSelectedAttendanceScheme ==null )
        {
            alert("Please select an Contarctor!");
            return;
        }
        window.returnValue = oSelectedAttendanceScheme;
        window.close();
    }
    if(e.which == 27)//escape=27
    {
        //debugger;
        window.returnValue = null;
        window.close();
    }
});
$(document).keydown(function (e)
{
    var keyCode = e.keyCode || e.which;
    if (keyCode == 27)
    {
        window.close();
    }
});
</script>