<html>
<head>
    <link href="@Url.Content("~/Content/CSS/icon.css")" rel="stylesheet" type="text/css" />
    <link href="@Url.Content("~/Content/CSS/easyui.css")" rel="stylesheet" type="text/css" /> 
    <link href="@Url.Content("~/Content/CSS/Pikerstyle.css")" rel="stylesheet" type="text/css" />  

    <script src="@Url.Content("~/Scripts/jquery-1.7.1.min.js")" type="text/javascript"></script>            
    <script src="@Url.Content("~/Scripts/jquery.ics.customize.js")" type="text/javascript"></script>  
    <script src="@Url.Content("~/Scripts/jquery.easyui.min.js")" type="text/javascript"></script>    

    <script src="@Url.Content("~/Scripts/jquery-ui.min.js")" type="text/javascript"></script> 
    <script src="@Url.Content("~/Scripts/json2.js")" type="text/javascript"></script> 
    <script src="@Url.Content("~/Scripts/jquery.ics.plugins.js")" type="text/javascript"></script>
</head>
<body>
    @model ESimSol.BusinessObjects.CommercialInvoice
<div style="font-family: Tahoma">
    <table border="0" cellspacing="2" cellpadding="2">
        <tr>
            <td style="background-color: #CFB53B; text-align: center; width: 600px; color: White">
                <label id="lblHeaderName" style="font-size: 15px; font-weight: bold; text-decoration: Underline">Commercial Invoice Encashment</label>
            </td>
        </tr>
    </table>
    <fieldset>
        <legend style="font-weight: bold">Commercial Invoice Info : </legend>
        <table border="0" cellspacing="2" cellpadding="2" style="font-size: 11px; font-weight: bold">
            <tr>
                <td style="width: 135px; text-align: right">
                    Invoice No :
                </td>
                <td style="width: 180px">
                    @Html.TextBoxFor(model => model.InvoiceNo, new { style = "width: 180px;", id = "txtInvoiceNo", disabled = "disabled" })
                </td>
                <td style="width: 120px; text-align: right">
                    Invoice Date :
                </td>
                <td style="width: 150px">
                    @Html.TextBoxFor(model => model.InvoiceDateInString, new { style = "width: 150px;", id = "txtInvoiceDate", disabled = "disabled" })
                </td>
            </tr>
            <tr>
                <td style="width: 135px; text-align: right">
                    Master LC No :
                </td>
                <td style="width: 180px">
                    @Html.TextBoxFor(model => model.MasterLCNo, new { style = "width: 180px;", id = "txtMasterLCNo", disabled = "disabled" })
                </td>
                <td style="width: 120px; text-align: right">
                    Transfer No :
                </td>
                <td style="width: 150px">
                    @Html.TextBoxFor(model => model.TransportNo, new { style = "width: 150px;", id = "txtTransferNo", disabled = "disabled" })
                </td>
            </tr>
            <tr>
                <td style="width: 135px; text-align: right">
                    LC Transfer Value :
                </td>
                <td style="width: 180px">
                    @Html.TextBoxFor(model => model.TransferAmount, new { style = "width: 180px; text-align: right", id = "txtLCValue", disabled = "disabled" })
                </td>
                <td style="width: 120px; text-align: right">
                    Bill Amount :
                </td>
                <td style="width: 150px">
                    @Html.TextBoxFor(model => model.NetInvoiceAmount, new { style = "width: 150px;text-align: right", id = "txtNetInvoiceAmount", disabled = "disabled" })
                </td>
            </tr>
            <tr>
                <td style="width: 130px; text-align: right">
                    Buyer Name :
                </td>
                <td colspan="3" style="width: 450px">
                    @Html.TextBoxFor(model => model.BuyerName, new { style = "width: 462px;", id = "txtBuyerName", disabled = "disabled" })
                </td>               
            </tr>
            <tr>
                <td style="width: 135px; text-align: right">
                    Advice Bank :
                </td>
                <td colspan="3" style="width: 450px">
                    @Html.TextBoxFor(model => model.AdviceBankAccount, new { style = "width: 462px;", id = "txtAdviceBankAccount", disabled = "disabled" })
                </td>               
            </tr>
            <tr>
                <td style="width: 135px; text-align: right">
                    Remark :
                </td>
                <td style="width: 180px">
                    @Html.TextBoxFor(model => model.EncashmentRemark, new { style = "width: 180px;", id = "txtEncashmentRemark" })
                </td>
                <td style="width: 120px; text-align: right">
                    Encash Date :
                </td>
                <td style="width: 150px">
                    <input id="txtEncashDate" type="text" class="easyui-datebox" data-options="formatter:icsdateformat,parser:icsdateparser"style="width: 150px;" />
                </td>
            </tr>   
            <tr style="height:50px">
                <td style="width: 135px; text-align: right">
                    
                </td>
                <td style="width: 180px">
                    
                </td>
                <td style="width: 120px; text-align: right">
                    
                </td>
                <td style="width: 150px">
                    
                </td>
                <td style="width: 120px; text-align: right"></td>
                <td style="width: 150px"></td>
                <td style="width: 120px; text-align: right"></td>
                <td style="width: 150px"></td>
                <td style="width: 120px; text-align: right"></td>
                <td style="width: 150px"></td>
            </tr>           
        </table>
    </fieldset>
    <fieldset>
        <legend style="font-weight: bold">Action : </legend>
        <table border="0" cellspacing="2" cellpadding="2" style="font-size: 11px; font-weight: bold">
            <tr>
                <td style="width: 400px; text-align: right">
                </td>
                <td style="width: 50px">
                    <a id="btnCommit" href="javascript:void(0)" class="easyui-linkbutton" iconcls="icon-save" plain="true">Commit</a>
                </td>
                <td style="width: 50px">
                    <a id="btnClose" href="javascript:void(0)" class="easyui-linkbutton" iconcls="icon-cancel" plain="true">Close</a>
                </td>
            </tr>
        </table>
    </fieldset>
    </div>
</body>
</html>
<script type="text/javascript"> 
 var _oCommercialInvoice =null;
 var _sBaseAddress="";
 $(document).ready(function () {
    //debugger;     
        _sBaseAddress =@Html.Raw(new System.Web.Script.Serialization.JavaScriptSerializer().Serialize(HttpContext.Current.Session[SessionInfo.BaseAddress]));
        _oCommercialInvoice =@Html.Raw(new System.Web.Script.Serialization.JavaScriptSerializer().Serialize(Model));
        $('#txtEncashDate').datebox('setValue', icsdateformat(new Date()));

 }); 
 

 
 $('#btnCommit').click(function (e) {
 debugger;
     var oCommercialInvoice = _oCommercialInvoice;
     if(oCommercialInvoice.InvoiceStatus!=3)
     {
        alert("Please select only 'AcceptedBill' item ");
        return;
     }
     if (!confirm("Confirm to EnCashment ?")) return ;
     oCommercialInvoice.Remark = document.getElementById("txtEncashmentRemark").value;
     oCommercialInvoice.VariableDate =$('#txtEncashDate').datebox('getValue');
     oCommercialInvoice.ActionTypeInString="Encashment";
     oCommercialInvoice.InvoiceStatusInInt = 3;
     $.ajax({
                type: "POST",
                dataType: "json",            
                url : _sBaseAddress+"/CommercialInvoice/ChangeStatus",
                traditional: true,
                data:  JSON.stringify(oCommercialInvoice),
                contentType: "application/json; charset=utf-8",
                success: function (data) {
               debugger;
                _oCommercialInvoice= jQuery.parseJSON(data);
                if (_oCommercialInvoice.ErrorMessage=="") 
                {                    
                   alert(" Successfully EnCashment ");   
                    //window.returnValue = _oCommercialInvoice;
                   window.opener.WinReturnEncashment(_oCommercialInvoice);
                   window.close();

                 }else
                 {
                       alert(_oCommercialInvoice.ErrorMessage);
                 }
               },
               error: function (xhr, status, error) 
                {
                    alert(error);
                }
            });

 });






 $('#btnClose').click(function (e) {
   window.close();
 });

 


$(document).keydown(function(e) {    
    //debugger;
    if(e.which == 27)//escape=27
    {
        //debugger;        
        window.close();
    }
});
</script>
