<html>
<head>
    <link href="@Url.Content("~/Content/CSS/icon.css")" rel="stylesheet" type="text/css" />
    <link href="@Url.Content("~/Content/CSS/easyui.css")" rel="stylesheet" type="text/css" />
    <link href="@Url.Content("~/Content/CSS/Pikerstyle.css")" rel="stylesheet" type="text/css" />
    <script src="@Url.Content("~/Scripts/jquery-1.7.1.min.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Scripts/jquery.ics.customize.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Scripts/jquery.easyui.min.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Scripts/jquery-ui.min.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Scripts/json2.js")" type="text/javascript"></script>
</head>
<body>

    @model IEnumerable<ESimSol.BusinessObjects.Certificate>

        <div style="font-family:Tahoma">
            <table border="0" style="background-color:#CFB53B">
                <tr>
                    <td style="background-color:#CFB53B; text-align:center; width:450px; color:White">
                        <label id="lblHeaderName" style="font-size:15px; font-weight:bold; text-decoration:Underline"> Certificate Piker</label>
                    </td>
                </tr>
            </table>
            <table border="0" cellpadding="0" cellspacing="0">

                <tr style="height:300px">
                    <td style="width:450px; vertical-align:top">
                        <table border="0" cellpadding="0" cellspacing="0">
                            <tr style="height:300px">
                                <td style="width:450px; vertical-align:top">
                                    <div style="margin-left:0px; margin-top:8px; height:300px">
                                        <table id="tblCertificate" title="Certificate List" class="easyui-datagrid" style="width:450px;height:300px" toolbar="#toolbarCertificate" fitcolumns="false" rownumbers="true" pagination="false" singleselect="true" , autorowheight="false">
                                            <thead>
                                                <tr>
                                                    <th data-options="field:'Selected',checkbox:true"></th>
                                                    <th field="Description" width="135">Certificate Name</th>
                                                    <th field="CertificateTypeInString" width="125">Certificate Type</th>
                                                    <th field="ActivityStatus" width="125">Activitys</th>
                                                </tr>
                                            </thead>
                                        </table>
                                    </div>
                                </td>
                            </tr>
                        </table>
                    </td>
                </tr>
                <tr style="height:50px">
                    <td style="width:450px">
                        <table>
                            <tr>
                                <td style="width:350px; text-align:left"></td>
                                <td style="width:50px; text-align:center">
                                    <a href="javascript:void(0)" class="easyui-linkbutton" iconcls="icon-ok" plain="true" onclick="OkButtonClick()">Ok</a>
                                </td>
                                <td style="width:50px; text-align:center">
                                    <a href="javascript:void(0)" class="easyui-linkbutton" iconcls="icon-cancel" plain="true" onclick="Close()">Close</a>
                                </td>
                            </tr>
                        </table>
                    </td>
                </tr>
            </table>
        </div>

</body>
</html>
<script type="text/javascript">
var _bMultipleItemReturn = false;
var  _sBaseAddress= "";
var _oCertificates = [] ;

$(document).ready(function () {
    _oCertificates =@Html.Raw( new System.Web.Script.Serialization.JavaScriptSerializer().Serialize(Model));
    _sBaseAddress =@Html.Raw( new System.Web.Script.Serialization.JavaScriptSerializer().Serialize(HttpContext.Current.Session[SessionInfo.BaseAddress]));
    var obj = window.dialogArguments;
    _bMultipleItemReturn = obj.MultipleItemReturn;
    if (_bMultipleItemReturn == false) {
        $('#tblCertificate').datagrid('hideColumn', 'Selected');
    }
    RefreshList();
});

function RefreshList()
{
    data = _oCertificates ;
    data = { "total": "" + data.length + "", "rows": data };
    $('#tblCertificate').datagrid('loadData', data);
    $('#tblCertificate').datagrid('selectRow', 0);
}

function Close()
{
    window.close();
}

$(document).keydown(function(e) {    
    //debugger;
    var oCertificate= $('#tblCertificate').datagrid('getSelected'); 
    var nIndex=$('#tblCertificate').datagrid('getRowIndex', oCertificate); 
    if(e.which == 38)//up arrow=38
    {
        if(nIndex<=0)
        {
            $('#tblCertificate').datagrid('selectRow', 0); 
        }
        else
        {
            $('#tblCertificate').datagrid('selectRow', nIndex-1); 
        }
    }
    if(e.which == 40)//down arrow=40
    {
        var oCurrentList = $('#tblCertificate').datagrid('getRows'); 
        if(nIndex>=oCurrentList.length-1)
        {
            $('#tblCertificate').datagrid('selectRow', oCurrentList.length-1); 
        }
        else
        {
            $('#tblCertificate').datagrid('selectRow', nIndex+1); 
        }
    }
    if(e.which == 13)//enter=13
    {
        //debugger;
        var oSelectedCertificate= $('#tblCertificate').datagrid('getSelected'); 
        if(oSelectedCertificate ==null || parseInt(oSelectedCertificate.CertificateID)<=0)
        {
            alert("Please select an Contarctor!");
            return;
        }
        window.returnValue = oSelectedCertificate;
        window.close();
    }
    if(e.which == 27)//escape=27
    {
        //debugger;        
        window.returnValue = null;
        window.close();
    }
});

function OkButtonClick()
{
    if(_bMultipleItemReturn==true)
    {
        var oSelectedCertificates=[];
        var oSelectedCertificates = $('#tblCertificate').datagrid('getChecked');
        if(oSelectedCertificates.length<=0)
        {
            alert("please select atleast one item");
            return;
        }
        window.returnValue= oSelectedCertificates;
    }
    else
    {
        var oSelectedCertificate= $('#tblCertificate').datagrid('getSelected');
        if(oSelectedCertificate==null)
        {
            alert("please select a Certificate");
            return;
        }
        window.returnValue= oSelectedCertificate;
    }
    window.close();
}


</script>