<!DOCTYPE html>
<html>
<head>
    <title>Certificate</title>
    <link href="@Url.Content("~/Content/CSS/icon.css")" rel="stylesheet" type="text/css" />
    <link href="@Url.Content("~/Content/CSS/easyui.css")" rel="stylesheet" type="text/css" />
    <link href="@Url.Content("~/Content/CSS/Pikerstyle.css")" rel="stylesheet" type="text/css" />
    <script src="@Url.Content("~/Scripts/jquery-1.7.1.min.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Scripts/jquery.ics.customize.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Scripts/jquery.easyui.min.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Scripts/jquery-ui.min.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Scripts/json2.js")" type="text/javascript"></script>
</head>
<body>
    @model ESimSol.BusinessObjects.Certificate
    <div style="font-family: Tahoma">
        <table border="0" cellspacing="0" cellpadding="0">
            <tr>
                <td style="background-color: #cfb53b; text-align: center; width: 700px; color: White">
                    <label id="lblHeaderName" style="font-size: 17px; font-weight: bold; text-decoration: Underline">
                        Certificate
                    </label>
                </td>
            </tr>

        </table>
        <fieldset>
            <legend style="font-weight: bold">Certificate</legend>@* table1 start*@
            <table border="0" cellspacing="2" cellpadding="2" style="font-size: 11px; font-weight: bold;">
                
                <tr>
                    <td style="width: 120px; text-align: right;">
                        Certificate No :
                    </td>
                    <td>
                        <input id="txtCertificateNo" type="text" style="width:250px;" />
                    </td>
                </tr>
                <tr>
                    <td style="width: 120px; text-align: right;">
                        Certificate Type  :
                    </td>
                    <td>
                        @Html.DropDownListFor(model => model.CertificateType, new SelectList(Enum.GetValues(typeof(ESimSol.BusinessObjects.EnumCertificateType))), new { id = "cboCertificateType", style = "width: 255px;" })

                    </td>

                </tr>
                <tr>
                    <td style="width: 120px; text-align: right;">
                        Required For :
                    </td>
                    <td>
                        
                        <select id="cboRequiredFor" style="width:255px;">
                            <option value="0">None</option>
                            <option value="1">DECK OFF</option>
                            <option value="2">OFFICER</option>
                            <option value="3">ALL</option>

                        </select>
                    </td>

                </tr>
                <tr>
                    <td style="width: 120px; text-align: right;">
                        Description :
                    </td>
                    <td>
                        <input id="txtDescription" type="text" style="width:250px;" />
                    </td>
                </tr>
                
            </table>
            <table border="0" cellspacing="2" cellpadding="2" style="font-size: 11px; font-weight: bold;">
                <tr>
                    <td style="width: 130px;"></td>

                    <td style="width: 250px; text-align: right;">
                        <a id="btnSave" href="javascript:void(0)" class="easyui-linkbutton" iconcls="icon-save" plain="true">Save</a>
                        <a id="btnCancel" href="javascript:void(0)" class="easyui-linkbutton" iconcls="icon-cancel" plain="true">Close</a>
                    </td>
                </tr>
            </table>
            @* table1 end*@

        </fieldset>
    </div>
</body>
</html>

<script type="text/javascript">
var _oCertificate=null;
var _sBaseAddress="";
var _obj=null;
var _nContractorID = 0;

$(document).ready(function ()
{
    _sBaseAddress =@Html.Raw(new System.Web.Script.Serialization.JavaScriptSerializer().Serialize(HttpContext.Current.Session[SessionInfo.BaseAddress]));
    _oCertificate =@Html.Raw(new System.Web.Script.Serialization.JavaScriptSerializer().Serialize(Model));
    _obj = window.dialogArguments;
    document.getElementById("lblHeaderName").innerHTML= _obj.Name;
    if(_obj.Name == "Edit Certificate")
    {
        RefreshControl();
    }
    if(_obj.Name == "Preview Certificate")
    {
        RefreshControl();
        RefreshControlForPreview();
    }
});

function RefreshControl()
{
    //var sRequiredFor = document.getElementById("cboRequiredFor").options[document.getElementById("cboRequiredFor").selectedIndex].innerHTML;  
    var nRequiredFor = 0;
    if(_oCertificate.RequiredFor == "None")
    {
        nRequiredFor = 0;
    }
    else if(_oCertificate.RequiredFor == "DECK OFF")
    {
        nRequiredFor = 1;
    }
    else if(_oCertificate.RequiredFor == "OFFICER")
    {
        nRequiredFor = 2;
    }
    else if(_oCertificate.RequiredFor == "ALL")
    {
        nRequiredFor = 3;
    }
    document.getElementById("cboRequiredFor").value = nRequiredFor;
    document.getElementById("txtDescription").value = _oCertificate.Description;
    document.getElementById("txtCertificateNo").value = _oCertificate.CertificateNo;
    
}

function RefreshControlForPreview()
{
    document.getElementById("txtRequiredFor").readOnly = true;
    document.getElementById("txtDescription").readOnly = true;
    document.getElementById("txtCertificateNo").readOnly = true;

}

function ValidateInput()
{
    
    if(document.getElementById("cboCertificateType").selectedIndex== 0)
    {
        alert("Please select Certificate Type!");
        $("#txtCertificateType").focus();
        document.getElementById("cboCertificateType").style.color= 'red';
        return false;
    }
    if(document.getElementById("cboRequiredFor").value== 0)
    {
        alert("Please select RequiredFor!");
        $("#cboRequiredFor").focus();
        document.getElementById("cboRequiredFor").style.color= 'red';
        return false;
    }
   
    return true;
}

function RefreshObject()
{
    
    var oCertificate=
    {
        CertificateID : _oCertificate.CertificateID,
        CertificateNo : document.getElementById("txtCertificateNo").value,
        CertificateType : document.getElementById("cboCertificateType").selectedIndex,
        Description : document.getElementById("txtDescription").value,
        RequiredFor : document.getElementById("cboRequiredFor").options[document.getElementById("cboRequiredFor").selectedIndex].innerHTML
     
    }
    return oCertificate;
}

$('#btnSave').click(function (e)
{
    
    if (!ValidateInput()) return;
    var oCertificate = RefreshObject();

    $.ajax({
            type: "POST",
            dataType: "json",
            url: _sBaseAddress + "/Certificate/Certificate_IU",
            traditional: true,
            data: JSON.stringify(oCertificate),
            contentType: "application/json; charset=utf-8",

            success: function(data)
            {
                //debugger
                _oCertificate = jQuery.parseJSON(data);
                if (_oCertificate.ErrorMessage == "")
                {
                    alert("Data Saved sucessfully");
                    window.returnValue = _oCertificate;
                    window.close();
                }
                else
                {
                    alert(_oCertificate.ErrorMessage);
                }
             },
             error: function(xhr, status, error)
             {
                alert(error);
             }
          });
});

$('#btnCancel').click(function (e)
{
    window.close();
});

</script>