<html>
@{
    ViewBag.Title = "Import PI Registers";
}
<body>
    @model ESimSol.BusinessObjects.ImportPIRegister
    <div id="progbarParent" style="width:100%;height:100%;margin:0 auto;text-align:center; margin-left: auto;margin-right: auto;left: 0;right: 0;z-index: 1;">
        <div style="margin: 0px auto;margin-top: 251px;text-align:center;width:390px;">
            <label style="font-size:18px;">Please wait</label>
            <div id="progbar" style="width:100%;height:37px;"></div>
        </div>
    </div>
    <div class="menuMainCollectionTable">
        <div class="easyui-panel" title="Import PI Registers" style="font-family:Tahoma; text-align:center; height:88%;">
            <fieldset style="height:95%; text-align:center;">
                <legend style="font-weight:bold"> Serching Criteria   : </legend>
                <table border="0" cellspacing="2" cellpadding="2" style="font-size:11px; font-weight:bold; text-align:center; width:100%">
                    <tr>
                        <td colspan="5" style="height:20px;"></td>                        
                    </tr>
                    <tr>
                        <td style="width:15%;text-align:right"> </td>
                        <td style="width:30%;text-align:left">
                        </td>
                        <td style="width:5%;text-align:right"></td>
                        <td style="width:12%;text-align:right">  Posting/Entry Date:</td>
                        <td style="width:38%;text-align:right">
                            <table border="0" cellpadding="1" cellspacing="1" style="width:100%">
                                <tr>
                                    <td style="width:30%; text-align:center">
                                        <select id="cboPostingDate" style="width:100%"> </select>
                                    </td>
                                    <td style="width:30%; text-align:center">
                                        <input id="txtPostingDateStart" type="text" class="easyui-datebox" required="required" data-options="formatter:icsdateformat,parser:icsdateparser" style=" width:100%;" />
                                    </td>
                                    <td style="width:10%; text-align:center">to</td>
                                    <td style="width:30%; text-align:center">
                                        <input id="txtPostingDateEnd" type="text" class="easyui-datebox" required="required" data-options="formatter:icsdateformat,parser:icsdateparser" style=" width:100%;" />
                                    </td>
                                </tr>
                            </table>
                        </td>
                    </tr>
                    <tr>
                        <td style="width:15%;text-align:right"> PI No :</td>
                        <td style="width:30%;text-align:left"> 
                            <input type="text" style="width:100%" id="txtPINo" />
                        </td>
                        <td style="width:5%;text-align:right"></td>
                        <td style="width:12%;text-align:right"> PI Date :</td>
                        <td style="width:38%;text-align:right">
                            <table border="0" cellpadding="1" cellspacing="1" width="100%">
                                <tr>
                                    <td style="width:30%; text-align:center">
                                        <select id="cboPIIssueDate" style="width:100%"> </select>
                                    </td>
                                    <td style="width:30%; text-align:center">
                                        <input id="txtPIIssueDateStart" type="text" class="easyui-datebox" required="required" data-options="formatter:icsdateformat,parser:icsdateparser" style=" width:100%;" />
                                    </td>
                                    <td style="width:10%; text-align:center">to</td>
                                    <td style="width:30%; text-align:center">
                                        <input id="txtPIIssueDateEnd" type="text" class="easyui-datebox" required="required" data-options="formatter:icsdateformat,parser:icsdateparser" style=" width:100%;" />
                                    </td>
                                </tr>
                            </table> 
                        </td>
                    </tr>
                    <tr>
                        <td style="width:15%;text-align:right"> Supplier :</td>
                        <td style="width:30%;text-align:left">
                            <table border="0" cellpadding="0" cellspacing="0" style="width:100%">
                                <tr>
                                    <td style="width:70%; text-align:left">
                                        <input type="text" style="width:98%" id="txtSupplier" placeholder="Press enter with supplier name" />
                                    </td>
                                    <td style="width:30%; text-align:right">
                                        <input type="button" value="C" style="width:30%" id="btnClearSupplier" />
                                        <input type="button" value="Pick" style="width:65%" id="btnPickSupplier" />
                                    </td>
                                </tr>
                            </table>
                        </td>
                        <td style="width:5%;text-align:right"></td>
                        <td style="width:12%;text-align:right"> Validity Date:</td>
                        <td style="width:38%;text-align:right">
                            <table border="0" cellpadding="1" cellspacing="1" width="100%">
                                <tr>
                                    <td style="width:30%; text-align:center">
                                        <select id="cboPIValidityDate" style="width:100%"> </select>
                                    </td>
                                    <td style="width:30%; text-align:center">
                                        <input id="txtPIValidityDateStart" type="text" class="easyui-datebox" required="required" data-options="formatter:icsdateformat,parser:icsdateparser" style=" width:100%;" />
                                    </td>
                                    <td style="width:10%; text-align:center">to</td>
                                    <td style="width:30%; text-align:center">
                                        <input id="txtPIValidityDateEnd" type="text" class="easyui-datebox" required="required" data-options="formatter:icsdateformat,parser:icsdateparser" style=" width:100%;" />
                                    </td>
                                </tr>
                            </table>
                        </td>
                    </tr>
                    <tr>
                        <td style="width:15%;text-align:right"> Product :</td>
                        <td style="width:30%;text-align:left">
                            <table border="0" cellpadding="0" cellspacing="0" style="width:100%">
                                <tr>
                                    <td style="width:70%; text-align:left">
                                        <input type="text" style="width:98%" id="txtProduct" placeholder="Press enter with product name" />
                                    </td>
                                    <td style="width:30%; text-align:right">
                                        <input type="button" value="C" style="width:30%" id="btnClearProduct" />
                                        <input type="button" value="Pick" style="width:65%" id="btnPickProduct" />
                                    </td>
                                </tr>
                            </table>
                        </td>
                        <td style="width:5%;text-align:right"></td>
                        <td style="width:12%;text-align:right"> Approved Date:</td>
                        <td style="width:38%;text-align:right">
                            <table border="0" cellpadding="1" cellspacing="1" style="width:100%">
                                
                                <tr>
                                    <td style="width:30%; text-align:center">
                                        <select id="cboPIApprovedDate" style="width:100%"> </select>
                                    </td>
                                    <td style="width:30%; text-align:center">
                                        <input id="txtPIApprovedDateStart" type="text" class="easyui-datebox" required="required" data-options="formatter:icsdateformat,parser:icsdateparser" style=" width:100%;" />
                                    </td>
                                    <td style="width:10%; text-align:center">to</td>
                                    <td style="width:30%; text-align:center">
                                        <input id="txtPIApprovedDateEnd" type="text" class="easyui-datebox" required="required" data-options="formatter:icsdateformat,parser:icsdateparser" style=" width:100%;" />
                                    </td>
                                </tr>
                            </table>
                        </td>
                    </tr>
                    <tr>
                        <td style="width:15%;text-align:right"> Advise Bank :</td>
                        <td style="width:30%;text-align:left">
                            <table border="0" cellpadding="0" cellspacing="0" style="width:100%">
                                <tr>
                                    <td style="width:70%; text-align:left">
                                        <input type="text" style="width:98%" id="txtBankBranch" placeholder="Press enter with bank name" />
                                    </td>
                                    <td style="width:30%; text-align:right">
                                        <input type="button" value="C" style="width:30%" id="btnClearBank" />
                                        <input type="button" value="Pick" style="width:65%" id="btnPickBank" />
                                    </td>
                                </tr>
                            </table>
                        </td>
                        <td style="width:5%;text-align:right"></td>
                        <td style="width:12%;text-align:right"> PI Amount :</td>
                        <td style="width:38%;text-align:right">
                            <table border="0" cellpadding="1" cellspacing="1" width="100%">
                                <tr>
                                    <td style="width:30%; text-align:center">
                                        <select id="cboPIAmount" style="width:100%"> </select>
                                    </td>
                                    <td style="width:30%; text-align:center">
                                        <input id="txtPIAmountStart" type="text" style=" width:95%;" />
                                    </td>
                                    <td style="width:10%; text-align:center">to</td>
                                    <td style="width:30%; text-align:center">
                                        <input id="txtPIAmountEnd" type="text" style=" width:95%;" />
                                    </td>
                                </tr>
                            </table>
                        </td>
                    </tr>
                    <tr>
                        <td style="width:15%;text-align:right"> Approved By :</td>
                        <td style="width:30%;text-align:left">
                            <select id="cboApprovedBy" style="width:100%">  </select>
                        </td>
                        <td style="width:5%;text-align:right"></td>
                        <td style="width:12%;text-align:right"> PI Status :</td>
                        <td style="width:38%;text-align:right">
                            <select id="cboPIStatus" style="width:100%">  </select>
                        </td>
                    </tr>
                    <tr>
                        <td style="width:15%;text-align:right"> PI Type :</td>
                        <td style="width:30%;text-align:left">
                            <select id="cboPIType" style="width:100%">  </select>
                        </td>
                        <td style="width:5%;text-align:right"></td>
                        <td style="width:12%;text-align:right"> Remarks :</td>
                        <td style="width:38%;text-align:right">
                            <input type="text" id="txtRemarks" style="width:99%"/>
                        </td>
                    </tr>
                    <tr>
                        <td style="width:15%;text-align:right"> Product Type :</td>
                        <td style="width:30%;text-align:left">
                            <select id="cboImportProducts" style="width:100%">  </select>
                        </td>
                        <td style="width:5%;text-align:right"></td>
                        <td style="width:12%;text-align:right"> Invoice No :</td>
                        <td style="width:38%;text-align:right">
                            <input type="text" id="txtImportInvoiceNo" style="width:99%" />
                        </td>
                    </tr>
                    <tr>
                        <td style="width:15%;text-align:right"> L/C No :</td>
                        <td style="width:30%;text-align:left">
                            <input type="text" id="txtImportLCNo" style="width:100%" />
                        </td>
                        <td style="width:5%;text-align:right"></td>
                        <td style="width:12%;text-align:right"> Wthout Cancel? :</td>
                        <td style="width:38%;text-align:left;padding-left:8px;">
                            <input type="checkbox" id="chkWthoutCancel" />
                        </td>
                    </tr>
                    <tr>
                        <td style="width:15%;text-align:right"> Report Layout :</td>
                        <td style="width:30%;text-align:left">
                            <select id="cboReportLayout" style="width:100%">  </select>
                        </td>
                        <td style="width:5%;text-align:right"></td>
                        <td style="width:12%;text-align:right"> </td>
                        <td style="width:38%;text-align:left"></td>
                    </tr>
                </table>
            </fieldset>
        </div>
        <fieldset>
            <legend style="font-weight:bold"> Action : </legend>
            <table border="0" cellspacing="2" cellpadding="2" style="font-size:11px; font-weight:bold; width:100%;">
                <tr>
                    <td style="width:10%;text-align:right">
                                                 
                    </td>
                    <td style="width:40%;text-align:right">
                        <a id="btnExportToExcelImportPIRegisterTwo" href="javascript:void(0)" class="easyui-linkbutton" iconcls="icon-excel" plain="true">Export to Excel</a>
                    </td>
                    <td style="width:50%;text-align:right">
                        <a id="btnPreviewSummary" href="javascript:void(0)" class="easyui-linkbutton" iconcls="icon-print" plain="true">Preview(Summary)</a>
                        <a id="btnPreview" href="javascript:void(0)" class="easyui-linkbutton" iconcls="icon-print" plain="true">Preview</a>
                        <a id="btnExportToExcel" href="javascript:void(0)" class="easyui-linkbutton" iconcls="icon-excel" plain="true">Export to Excel</a>
                        <a id="btnClose" href="javascript:void(0)" class="easyui-linkbutton" iconcls="icon-cancel" plain="true">Close</a>
                    </td>
                </tr>
            </table>
        </fieldset>
    </div>
</body>
</html>


<script type="text/javascript">
    $(document).ready(function () {
        var nBUID =@Html.Raw(new System.Web.Script.Serialization.JavaScriptSerializer().Serialize(ViewBag.BUID));
        var oApprovalUsers = @Html.Raw(new System.Web.Script.Serialization.JavaScriptSerializer().Serialize(ViewBag.ApprovalUsers));
        var oReportLayouts = @Html.Raw(new System.Web.Script.Serialization.JavaScriptSerializer().Serialize(ViewBag.ReportLayouts));
        var oCompareOperators = @Html.Raw(new System.Web.Script.Serialization.JavaScriptSerializer().Serialize(ViewBag.CompareOperators));
        var oImportPIStates = @Html.Raw(new System.Web.Script.Serialization.JavaScriptSerializer().Serialize(ViewBag.ImportPIStates));
        var oImportPITypes = @Html.Raw(new System.Web.Script.Serialization.JavaScriptSerializer().Serialize(ViewBag.ImportPITypes));
        var oImportProducts = @Html.Raw(new System.Web.Script.Serialization.JavaScriptSerializer().Serialize(ViewBag.ImportProducts));

        $("#progbar").progressbar({ value: 0 });
        $("#progbarParent").hide();
        $('#txtPIAmountStart,#txtPIAmountEnd').icsCurrencyBox();
        $("#cboPIIssueDate").icsLoadCombo({ List: oCompareOperators, OptionValue: "id", DisplayText: "Value" });
        $("#cboPostingDate").icsLoadCombo({ List: oCompareOperators, OptionValue: "id", DisplayText: "Value" });
        $("#cboPIValidityDate").icsLoadCombo({ List: oCompareOperators, OptionValue: "id", DisplayText: "Value" });
        $("#cboPIApprovedDate").icsLoadCombo({ List: oCompareOperators, OptionValue: "id", DisplayText: "Value" });
        $("#cboPIAmount").icsLoadCombo({ List: oCompareOperators, OptionValue: "id", DisplayText: "Value" });
        $("#cboApprovedBy").icsLoadCombo({ List: oApprovalUsers, OptionValue: "UserID", DisplayText: "UserName" });
        $("#cboPIStatus").icsLoadCombo({ List: oImportPIStates, OptionValue: "id", DisplayText: "Value" });
        $("#cboPIType").icsLoadCombo({ List: oImportPITypes, OptionValue: "id", DisplayText: "Value" });
        $("#cboReportLayout").icsLoadCombo({ List: oReportLayouts, OptionValue: "id", DisplayText: "Value" });
        $("#cboImportProducts").icsLoadCombo({ List: oImportProducts, OptionValue: "ProductTypeInt", DisplayText: "Name" });
        
        $('#txtPIIssueDateStart').datebox({ disabled : true });
        $('#txtPIIssueDateEnd').datebox({ disabled : true });
        $('#txtPostingDateStart').datebox({ disabled : true });
        $('#txtPostingDateEnd').datebox({ disabled : true });
        $('#txtPIValidityDateStart').datebox({ disabled : true });
        $('#txtPIValidityDateEnd').datebox({ disabled : true });
        $('#txtPIApprovedDateStart').datebox({ disabled : true });
        $('#txtPIApprovedDateEnd').datebox({ disabled : true });
        $('#txtPIAmountStart').prop("disabled", true);
        $('#txtPIAmountEnd').prop("disabled", true);
        
        $('#txtPIIssueDateStart').datebox('setValue', icsdateformat(new Date()));
        $('#txtPIIssueDateEnd').datebox('setValue', icsdateformat(new Date()));
        $('#txtPostingDateStart').datebox('setValue', icsdateformat(new Date()));
        $('#txtPostingDateEnd').datebox('setValue', icsdateformat(new Date()));
        $('#txtPIValidityDateStart').datebox('setValue', icsdateformat(new Date()));
        $('#txtPIValidityDateEnd').datebox('setValue', icsdateformat(new Date()));
        $('#txtPIApprovedDateStart').datebox('setValue', icsdateformat(new Date()));
        $('#txtPIApprovedDateEnd').datebox('setValue', icsdateformat(new Date()));
        $('#txtPIAmountStart').val('0.00');
        $('#txtPIAmountEnd').val('0.00');

        $('#txtSupplier').data('Suppliers', []); 
        $('#txtProduct').data('Products', []);                
        $('#txtBankBranch').data('BankBranchs', []);
    });

    function ValidateSearch()
    {
        
        var nPIIssueDate = parseInt($('#cboPIIssueDate').val());
        if(nPIIssueDate===1 || nPIIssueDate===2 || nPIIssueDate===3 || nPIIssueDate===4)
        {
            var sPIIssueDateStart   = $('#txtPIIssueDateStart').datebox('getValue');
            if(sPIIssueDateStart===null || sPIIssueDateStart==="")
            {
                alert("Please select PI start date!");
                $('#txtPIIssueDateStart').focus();
                return false;
            }
        }
        if(nPIIssueDate===5 || nPIIssueDate===6)
        {
            var sPIIssueDateStart   = $('#txtPIIssueDateStart').datebox('getValue');
            var sPIIssueDateEnd   = $('#txtPIIssueDateEnd').datebox('getValue');
            if(sPIIssueDateStart===null || sPIIssueDateStart==="")
            {
                alert("Please select PI start date!");
                $('#txtPIIssueDateStart').focus();
                return false;
            }
            if(sPIIssueDateEnd===null || sPIIssueDateEnd==="")
            {
                alert("Please select PI end date!");
                $('#txtPIIssueDateEnd').focus();
                return false;
            }
            if(new Date(sPIIssueDateStart) > new Date(sPIIssueDateEnd))
            {
                alert("Start date must be smallar than or equal end date!");
                $('#txtPIIssueDateStart').focus();
                return false;
            }
        }
        
        var nPostingDate = parseInt($('#cboPostingDate').val());
        if(nPostingDate===1 || nPostingDate===2 || nPostingDate===3 || nPostingDate===4)
        {
            var sPostingDateStart   = $('#txtPostingDateStart').datebox('getValue');
            if(sPostingDateStart===null || sPostingDateStart==="")
            {
                alert("Please select PI start date!");
                $('#txtPostingDateStart').focus();
                return false;
            }
        }
        if(nPostingDate===5 || nPostingDate===6)
        {
            var sPostingDateStart   = $('#txtPostingDateStart').datebox('getValue');
            var sPostingDateEnd   = $('#txtPostingDateEnd').datebox('getValue');
            if(sPostingDateStart===null || sPostingDateStart==="")
            {
                alert("Please select PI start date!");
                $('#txtPostingDateStart').focus();
                return false;
            }
            if(sPostingDateEnd===null || sPostingDateEnd==="")
            {
                alert("Please select PI end date!");
                $('#txtPostingDateEnd').focus();
                return false;
            }
            if(new Date(sPostingDateStart) > new Date(sPostingDateEnd))
            {
                alert("Start date must be smallar than or equal end date!");
                $('#txtPostingDateStart').focus();
                return false;
            }
        }

        var nPIValidityDate = parseInt($('#cboPIValidityDate').val());
        if(nPIValidityDate===1 || nPIValidityDate===2 || nPIValidityDate===3 || nPIValidityDate===4)
        {
            var sPIValidityDateStart   = $('#txtPIValidityDateStart').datebox('getValue');
            if(sPIValidityDateStart===null || sPIValidityDateStart==="")
            {
                alert("Please select validity start date!");
                $('#txtPIValidityDateStart').focus();
                return false;
            }
        }
        if(nPIValidityDate===5 || nPIValidityDate===6)
        {
            var sPIValidityDateStart   = $('#txtPIValidityDateStart').datebox('getValue');
            var sPIValidityDateEnd   = $('#txtPIValidityDateEnd').datebox('getValue');
            if(sPIValidityDateStart===null || sPIValidityDateStart==="")
            {
                alert("Please select validity start date!");
                $('#txtPIValidityDateStart').focus();
                return false;
            }
            if(sPIValidityDateEnd===null || sPIValidityDateEnd==="")
            {
                alert("Please select validity end date!");
                $('#txtPIValidityDateEnd').focus();
                return false;
            }
            if(new Date(sPIValidityDateStart) > new Date(sPIValidityDateEnd))
            {
                alert("Start date must be smallar than or equal end date!");
                $('#txtPIValidityDateStart').focus();
                return false;
            }
        }

        var nPIApprovedDate = parseInt($('#cboPIApprovedDate').val());
        if(nPIApprovedDate===1 || nPIApprovedDate===2 || nPIApprovedDate===3 || nPIApprovedDate===4)
        {
            var sPIApprovedDateStart   = $('#txtPIApprovedDateStart').datebox('getValue');
            if(sPIApprovedDateStart===null || sPIApprovedDateStart==="")
            {
                alert("Please select approved start date!");
                $('#txtPIApprovedDateStart').focus();
                return false;
            }
        }
        if(nPIApprovedDate===5 || nPIApprovedDate===6)
        {
            var sPIApprovedDateStart   = $('#txtPIApprovedDateStart').datebox('getValue');
            var sPIApprovedDateEnd   = $('#txtPIApprovedDateEnd').datebox('getValue');
            if(sPIApprovedDateStart===null || sPIApprovedDateStart==="")
            {
                alert("Please select approved start date!");
                $('#txtPIApprovedDateStart').focus();
                return false;
            }
            if(sPIApprovedDateEnd===null || sPIApprovedDateEnd==="")
            {
                alert("Please select approved end date!");
                $('#txtPIApprovedDateEnd').focus();
                return false;
            }
            if(new Date(sPIApprovedDateStart) > new Date(sPIApprovedDateEnd))
            {
                alert("Start date must be smallar than or equal end date!");
                $('#txtPIApprovedDateStart').focus();
                return false;
            }
        }

        var nPIAmount = parseInt($('#cboPIAmount').val());
        if(nPIAmount===1 || nPIAmount===2 || nPIAmount===3 || nPIAmount===4)
        {
            var sPIAmountStart   = $.trim($('#txtPIAmountStart').val());
            if(sPIAmountStart===null || sPIAmountStart==="")
            {
                alert("Please enter invoice start Amount!");
                $('#txtPIAmountStart').focus();
                return false;
            }
            if(icsRemoveComma(sPIAmountStart)<=0)
            {
                alert("Please enter PI start Amount!");
                $('#txtPIAmountStart').focus();
                return false;
            }
        }
        if(nPIAmount===5 || nPIAmount===6)
        {
            var sPIAmountStart = $.trim($('#txtPIAmountStart').val());
            if(sPIAmountStart===null || sPIAmountStart==="")
            {
                alert("Please enter PI start Amount!");
                $('#txtPIAmountStart').focus();
                return false;
            }
            if(icsRemoveComma(sPIAmountStart)<=0)
            {
                alert("Please enter PI start Amount!");
                $('#txtPIAmountStart').focus();
                return false;
            }

            var sPIAmountEnd = $.trim($('#txtPIAmountEnd').val());
            if(sPIAmountEnd===null || sPIAmountEnd==="")
            {
                alert("Please enter PI end Amount!");
                $('#txtPIAmountEnd').focus();
                return false;
            }
            if(icsRemoveComma(sPIAmountEnd)<=0)
            {
                alert("Please enter invoice end Amount!");
                $('#txtPIAmountEnd').focus();
                return false;
            }
            if(icsRemoveComma(sPIAmountStart) >= icsRemoveComma(sPIAmountEnd))
            {
                alert("Start amount must be smallar than end amount!");
                $('#txtPIAmountStart').focus();
                return false;
            }
        }

        var nReportLayout = parseInt($('#cboReportLayout').val());
        if(nReportLayout<=0)
        {
            alert("Please select an Report Layout!");
            return;
        }

        var sPINo =$.trim($('#txtPINo').val());
        var nApprovedBy = parseInt($('#cboApprovedBy').val());
        var nPIStatus = parseInt($('#cboPIStatus').val());
        var nPIType = parseInt($('#cboPIType').val());
        var ncboImportProduct = parseInt($('#cboImportProducts').val());
        var sRemarks =$.trim($('#txtRemarks').val());
        var sImportLCNo =$.trim($('#txtImportLCNo').val());
        var sImportInvoiceNo =$.trim($('#txtImportInvoiceNo').val());

        var oSuppliers = $('#txtSupplier').data('Suppliers'); 
        var oProducts = $('#txtProduct').data('Products');
        var oBankBranchs= $('#txtBankBranch').data('BankBranchs');
        var bIsWthoutCancel = false;
        if($('#chkWthoutCancel').attr("checked"))
        {
            bIsWthoutCancel=true;
        }
        if(nPIIssueDate === 0 && nPostingDate === 0 && nPIValidityDate === 0 && nPIApprovedDate === 0 && nPIAmount === 0 && sPINo === "" && nApprovedBy === 0 && nPIStatus === 0 && nPIType === 0  && sRemarks === "" && sImportLCNo === "" && sImportInvoiceNo === ""   && oSuppliers.length<=0 && oProducts.length<=0 && oBankBranchs.length<=0 && ncboImportProduct<=0 && bIsWthoutCancel==false)
        {
            alert("Please select atleast one searching criteriea!");
            return false;
        }
        return true;
    }

    function RefreshObject()
    {
        var oSuppliers = $('#txtSupplier').data('Suppliers'); 
        var oProducts = $('#txtProduct').data('Products');
        var oBankBranchs= $('#txtBankBranch').data('BankBranchs');
                
        var nPIIssueDate = parseInt($('#cboPIIssueDate').val());
        var sPIIssueDateStart   = $('#txtPIIssueDateStart').datebox('getValue');
        var sPIIssueDateEnd   = $('#txtPIIssueDateEnd').datebox('getValue');

        var nPostingDate = parseInt($('#cboPostingDate').val());
        var sPostingDateStart   = $('#txtPostingDateStart').datebox('getValue');
        var sPostingDateEnd   = $('#txtPostingDateEnd').datebox('getValue');

        var nPIValidityDate = parseInt($('#cboPIValidityDate').val());
        var sPIValidityDateStart   = $('#txtPIValidityDateStart').datebox('getValue');
        var sPIValidityDateEnd   = $('#txtPIValidityDateEnd').datebox('getValue');

        var nPIApprovedDate = parseInt($('#cboPIApprovedDate').val());
        var sPIApprovedDateStart   = $('#txtPIApprovedDateStart').datebox('getValue');
        var sPIApprovedDateEnd   = $('#txtPIApprovedDateEnd').datebox('getValue');

        var nPIAmount = parseInt($('#cboPIAmount').val());
        var nPIAmountStart = icsRemoveComma($.trim($('#txtPIAmountStart').val()));
        var nPIAmountEnd = icsRemoveComma($.trim($('#txtPIAmountEnd').val()));

        var sImportLCNo = $.trim($('#txtImportLCNo').val());
        var sImportInvoiceNo = $.trim($('#txtImportInvoiceNo').val());

        var bIsWthoutCancel = false;
        if($('#chkWthoutCancel').attr("checked"))
        {
            bIsWthoutCancel=true;
        }
        
        var sSearchingData  =  nPIIssueDate+'~';
        sSearchingData = sSearchingData + sPIIssueDateStart+'~';
        sSearchingData = sSearchingData + sPIIssueDateEnd+'~';
        sSearchingData = sSearchingData + nPIValidityDate+'~';
        sSearchingData = sSearchingData + sPIValidityDateStart+'~';
        sSearchingData = sSearchingData + sPIValidityDateEnd+'~';
        sSearchingData = sSearchingData + nPIApprovedDate+'~';
        sSearchingData = sSearchingData + sPIApprovedDateStart+'~';
        sSearchingData = sSearchingData + sPIApprovedDateEnd+'~';
        sSearchingData = sSearchingData + nPIAmount +'~';
        sSearchingData = sSearchingData + nPIAmountStart +'~';
        sSearchingData = sSearchingData + nPIAmountEnd +'~';
        sSearchingData = sSearchingData + sImportLCNo +'~';
        sSearchingData = sSearchingData + sImportInvoiceNo + '~' + nPostingDate + '~';
        sSearchingData = sSearchingData + sPostingDateStart+'~';
        sSearchingData = sSearchingData + sPostingDateEnd+'~';
        sSearchingData = sSearchingData + bIsWthoutCancel+'~';

        var oImportPIRegister = {
            BUID : parseInt(sessionStorage.getItem("BUID")),
            ImportPINo : $.trim($('#txtPINo').val()),            
            ApprovedBy : parseInt($('#cboApprovedBy').val()),
            ImportPIStatus : parseInt($('#cboPIStatus').val()),
            ImportPIType : parseInt($('#cboPIType').val()),
            ProductType : parseInt($('#cboImportProducts').val()),
            Remarks : $.trim($('#txtRemarks').val()),                   
            SupplierName : ICS_PropertyConcatation(oSuppliers, 'ContractorID'),
            ProductName : ICS_PropertyConcatation(oProducts, 'ProductID'),
            BranchName : ICS_PropertyConcatation(oBankBranchs, 'BankBranchID'),
            ReportLayout : parseInt($('#cboReportLayout').val()),
            SearchingData : sSearchingData
        };
        return oImportPIRegister;
    }

    $('#btnPreviewSummary').click(function(e){
        //if(!ValidateSearch()) return;
        var oImportPIRegister = RefreshObject();
        $.ajax({
            type: "POST",
            dataType: "json",
            url : _sBaseAddress+  "/ImportPIRegister/SetSessionSearchCriteria",
            traditional: true,
            data:  JSON.stringify(oImportPIRegister),
            contentType: "application/json; charset=utf-8",
            success: function (data) {
                var sFeedBackMessage = jQuery.parseJSON(data);
                if (sFeedBackMessage==="Successful") {
                    var tsv=((new Date()).getTime())/1000;
                    window.open(_sBaseAddress+'/ImportPIRegister/PrintImportPISummary?ts='+tsv,"_blank");
                }
            },
            error: function (xhr, status, error) {
                alert(error);
            }
        });
    });


    $('#btnPreview').click(function(e){
        if(!ValidateSearch()) return;
        var oImportPIRegister = RefreshObject();
        $.ajax({
            type: "POST",
            dataType: "json",
            url : _sBaseAddress+  "/ImportPIRegister/SetSessionSearchCriteria",
            traditional: true,
            data:  JSON.stringify(oImportPIRegister),
            contentType: "application/json; charset=utf-8",
            success: function (data) {
                var sFeedBackMessage = jQuery.parseJSON(data);
                if (sFeedBackMessage==="Successful") {
                    var tsv=((new Date()).getTime())/1000;
                    window.open(_sBaseAddress+'/ImportPIRegister/PrintImportPIRegister?ts='+tsv,"_blank");
                }
            },
            error: function (xhr, status, error) {
                alert(error);
            }
        });
    });


    $('#btnExportToExcel').click(function(e){
        if(!ValidateSearch()) return;
        var oImportPIRegister = RefreshObject();
        $.ajax({
            type: "POST",
            dataType: "json",
            url : _sBaseAddress+  "/ImportPIRegister/SetSessionSearchCriteria",
            traditional: true,
            data:  JSON.stringify(oImportPIRegister),
            contentType: "application/json; charset=utf-8",
            success: function (data) {
                var sFeedBackMessage = jQuery.parseJSON(data);
                if (sFeedBackMessage==="Successful") {
                    var tsv=((new Date()).getTime())/1000;
                    window.open(_sBaseAddress+'/ImportPIRegister/ExportToExcelImportPIRegister?ts='+tsv,"_blank");
                }
            },
            error: function (xhr, status, error) {
                alert(error);
            }
        });
    });

    $('#btnExportToExcelImportPIRegisterTwo').click(function(e){
        if(!ValidateSearchTwo()) return;
        var oImportPIRegister = RefreshObject();
        $.ajax({
            type: "POST",
            dataType: "json",
            url : _sBaseAddress+  "/ImportPIRegister/SetSessionSearchCriteria",
            traditional: true,
            data:  JSON.stringify(oImportPIRegister),
            contentType: "application/json; charset=utf-8",
            success: function (data) {
                var sFeedBackMessage = jQuery.parseJSON(data);
                if (sFeedBackMessage==="Successful") {
                    var tsv=((new Date()).getTime())/1000;
                    window.open(_sBaseAddress+'/ImportPIRegister/ExportToExcelImportPIRegisterTwo?ts='+tsv,"_blank");
                }
            },
            error: function (xhr, status, error) {
                alert(error);
            }
        });
    });

    function ValidateSearchTwo()
    {
        
        var nPIIssueDate = parseInt($('#cboPIIssueDate').val());
        if(nPIIssueDate===1 || nPIIssueDate===2 || nPIIssueDate===3 || nPIIssueDate===4)
        {
            var sPIIssueDateStart   = $('#txtPIIssueDateStart').datebox('getValue');
            if(sPIIssueDateStart===null || sPIIssueDateStart==="")
            {
                alert("Please select PI start date!");
                $('#txtPIIssueDateStart').focus();
                return false;
            }
        }
        if(nPIIssueDate===5 || nPIIssueDate===6)
        {
            var sPIIssueDateStart   = $('#txtPIIssueDateStart').datebox('getValue');
            var sPIIssueDateEnd   = $('#txtPIIssueDateEnd').datebox('getValue');
            if(sPIIssueDateStart===null || sPIIssueDateStart==="")
            {
                alert("Please select PI start date!");
                $('#txtPIIssueDateStart').focus();
                return false;
            }
            if(sPIIssueDateEnd===null || sPIIssueDateEnd==="")
            {
                alert("Please select PI end date!");
                $('#txtPIIssueDateEnd').focus();
                return false;
            }
            if(new Date(sPIIssueDateStart) > new Date(sPIIssueDateEnd))
            {
                alert("Start date must be smallar than or equal end date!");
                $('#txtPIIssueDateStart').focus();
                return false;
            }
        }
        
        var nPostingDate = parseInt($('#cboPostingDate').val());
        if(nPostingDate===1 || nPostingDate===2 || nPostingDate===3 || nPostingDate===4)
        {
            var sPostingDateStart   = $('#txtPostingDateStart').datebox('getValue');
            if(sPostingDateStart===null || sPostingDateStart==="")
            {
                alert("Please select PI start date!");
                $('#txtPostingDateStart').focus();
                return false;
            }
        }
        if(nPostingDate===5 || nPostingDate===6)
        {
            var sPostingDateStart   = $('#txtPostingDateStart').datebox('getValue');
            var sPostingDateEnd   = $('#txtPostingDateEnd').datebox('getValue');
            if(sPostingDateStart===null || sPostingDateStart==="")
            {
                alert("Please select PI start date!");
                $('#txtPostingDateStart').focus();
                return false;
            }
            if(sPostingDateEnd===null || sPostingDateEnd==="")
            {
                alert("Please select PI end date!");
                $('#txtPostingDateEnd').focus();
                return false;
            }
            if(new Date(sPostingDateStart) > new Date(sPostingDateEnd))
            {
                alert("Start date must be smallar than or equal end date!");
                $('#txtPostingDateStart').focus();
                return false;
            }
        }

        var nPIValidityDate = parseInt($('#cboPIValidityDate').val());
        if(nPIValidityDate===1 || nPIValidityDate===2 || nPIValidityDate===3 || nPIValidityDate===4)
        {
            var sPIValidityDateStart   = $('#txtPIValidityDateStart').datebox('getValue');
            if(sPIValidityDateStart===null || sPIValidityDateStart==="")
            {
                alert("Please select validity start date!");
                $('#txtPIValidityDateStart').focus();
                return false;
            }
        }
        if(nPIValidityDate===5 || nPIValidityDate===6)
        {
            var sPIValidityDateStart   = $('#txtPIValidityDateStart').datebox('getValue');
            var sPIValidityDateEnd   = $('#txtPIValidityDateEnd').datebox('getValue');
            if(sPIValidityDateStart===null || sPIValidityDateStart==="")
            {
                alert("Please select validity start date!");
                $('#txtPIValidityDateStart').focus();
                return false;
            }
            if(sPIValidityDateEnd===null || sPIValidityDateEnd==="")
            {
                alert("Please select validity end date!");
                $('#txtPIValidityDateEnd').focus();
                return false;
            }
            if(new Date(sPIValidityDateStart) > new Date(sPIValidityDateEnd))
            {
                alert("Start date must be smallar than or equal end date!");
                $('#txtPIValidityDateStart').focus();
                return false;
            }
        }

        var nPIApprovedDate = parseInt($('#cboPIApprovedDate').val());
        if(nPIApprovedDate===1 || nPIApprovedDate===2 || nPIApprovedDate===3 || nPIApprovedDate===4)
        {
            var sPIApprovedDateStart   = $('#txtPIApprovedDateStart').datebox('getValue');
            if(sPIApprovedDateStart===null || sPIApprovedDateStart==="")
            {
                alert("Please select approved start date!");
                $('#txtPIApprovedDateStart').focus();
                return false;
            }
        }
        if(nPIApprovedDate===5 || nPIApprovedDate===6)
        {
            var sPIApprovedDateStart   = $('#txtPIApprovedDateStart').datebox('getValue');
            var sPIApprovedDateEnd   = $('#txtPIApprovedDateEnd').datebox('getValue');
            if(sPIApprovedDateStart===null || sPIApprovedDateStart==="")
            {
                alert("Please select approved start date!");
                $('#txtPIApprovedDateStart').focus();
                return false;
            }
            if(sPIApprovedDateEnd===null || sPIApprovedDateEnd==="")
            {
                alert("Please select approved end date!");
                $('#txtPIApprovedDateEnd').focus();
                return false;
            }
            if(new Date(sPIApprovedDateStart) > new Date(sPIApprovedDateEnd))
            {
                alert("Start date must be smallar than or equal end date!");
                $('#txtPIApprovedDateStart').focus();
                return false;
            }
        }

        var nPIAmount = parseInt($('#cboPIAmount').val());
        if(nPIAmount===1 || nPIAmount===2 || nPIAmount===3 || nPIAmount===4)
        {
            var sPIAmountStart   = $.trim($('#txtPIAmountStart').val());
            if(sPIAmountStart===null || sPIAmountStart==="")
            {
                alert("Please enter invoice start Amount!");
                $('#txtPIAmountStart').focus();
                return false;
            }
            if(icsRemoveComma(sPIAmountStart)<=0)
            {
                alert("Please enter PI start Amount!");
                $('#txtPIAmountStart').focus();
                return false;
            }
        }
        if(nPIAmount===5 || nPIAmount===6)
        {
            var sPIAmountStart = $.trim($('#txtPIAmountStart').val());
            if(sPIAmountStart===null || sPIAmountStart==="")
            {
                alert("Please enter PI start Amount!");
                $('#txtPIAmountStart').focus();
                return false;
            }
            if(icsRemoveComma(sPIAmountStart)<=0)
            {
                alert("Please enter PI start Amount!");
                $('#txtPIAmountStart').focus();
                return false;
            }

            var sPIAmountEnd = $.trim($('#txtPIAmountEnd').val());
            if(sPIAmountEnd===null || sPIAmountEnd==="")
            {
                alert("Please enter PI end Amount!");
                $('#txtPIAmountEnd').focus();
                return false;
            }
            if(icsRemoveComma(sPIAmountEnd)<=0)
            {
                alert("Please enter invoice end Amount!");
                $('#txtPIAmountEnd').focus();
                return false;
            }
            if(icsRemoveComma(sPIAmountStart) >= icsRemoveComma(sPIAmountEnd))
            {
                alert("Start amount must be smallar than end amount!");
                $('#txtPIAmountStart').focus();
                return false;
            }
        }

        //var nReportLayout = parseInt($('#cboReportLayout').val());
        //if(nReportLayout<=0)
        //{
        //    alert("Please select an Report Layout!");
        //    return;
        //}

        var sPINo =$.trim($('#txtPINo').val());
        var nApprovedBy = parseInt($('#cboApprovedBy').val());
        var nPIStatus = parseInt($('#cboPIStatus').val());
        var nPIType = parseInt($('#cboPIType').val());
        var ncboImportProduct = parseInt($('#cboImportProducts').val());
        var sRemarks =$.trim($('#txtRemarks').val());
        var sImportLCNo =$.trim($('#txtImportLCNo').val());
        var sImportInvoiceNo =$.trim($('#txtImportInvoiceNo').val());

        var oSuppliers = $('#txtSupplier').data('Suppliers'); 
        var oProducts = $('#txtProduct').data('Products');
        var oBankBranchs= $('#txtBankBranch').data('BankBranchs');
        var bIsWthoutCancel = false;
        if($('#chkWthoutCancel').attr("checked"))
        {
            bIsWthoutCancel=true;
        }
        if(nPIIssueDate === 0 && nPostingDate === 0 && nPIValidityDate === 0 && nPIApprovedDate === 0 && nPIAmount === 0 && sPINo === "" && nApprovedBy === 0 && nPIStatus === 0 && nPIType === 0  && sRemarks === "" && sImportLCNo === "" && sImportInvoiceNo === ""   && oSuppliers.length<=0 && oProducts.length<=0 && oBankBranchs.length<=0 && ncboImportProduct<=0 && bIsWthoutCancel==false)
        {
            alert("Please select atleast one searching criteriea!");
            return false;
        }
        return true;
    }


    $('#cboPIIssueDate').change(function(e){
        //EqualTo = 1, NotEqualTo = 2, GreaterThen = 3, SmallerThen = 4, Between = 5, NotBetween = 6
        var nCompareOperator =   parseInt($('#cboPIIssueDate').val());
        if(nCompareOperator===0)
        {
            $('#txtPIIssueDateStart').datebox({ disabled : true });
            $('#txtPIIssueDateEnd').datebox({ disabled : true });
        }
        else if (nCompareOperator===1 || nCompareOperator===2 || nCompareOperator===3 || nCompareOperator===4)
        {
            $('#txtPIIssueDateStart').datebox({ disabled : false });
            $('#txtPIIssueDateEnd').datebox({ disabled : true });
        }
        else
        {
            $('#txtPIIssueDateStart').datebox({ disabled : false });
            $('#txtPIIssueDateEnd').datebox({ disabled : false });
        }
        $('#txtPIIssueDateStart').datebox('setValue', icsdateformat(new Date()));
        $('#txtPIIssueDateEnd').datebox('setValue', icsdateformat(new Date()));
    });
    
    $('#cboPostingDate').change(function(e){
        //EqualTo = 1, NotEqualTo = 2, GreaterThen = 3, SmallerThen = 4, Between = 5, NotBetween = 6
        var nCompareOperator =   parseInt($('#cboPostingDate').val());
        if(nCompareOperator===0)
        {
            $('#txtPostingDateStart').datebox({ disabled : true });
            $('#txtPostingDateEnd').datebox({ disabled : true });
        }
        else if (nCompareOperator===1 || nCompareOperator===2 || nCompareOperator===3 || nCompareOperator===4)
        {
            $('#txtPostingDateStart').datebox({ disabled : false });
            $('#txtPostingDateEnd').datebox({ disabled : true });
        }
        else
        {
            $('#txtPostingDateStart').datebox({ disabled : false });
            $('#txtPostingDateEnd').datebox({ disabled : false });
        }
        $('#txtPostingDateStart').datebox('setValue', icsdateformat(new Date()));
        $('#txtPostingDateEnd').datebox('setValue', icsdateformat(new Date()));
    });

    $('#cboPIValidityDate').change(function(e){
        //EqualTo = 1, NotEqualTo = 2, GreaterThen = 3, SmallerThen = 4, Between = 5, NotBetween = 6
        var nCompareOperator =   parseInt($('#cboPIValidityDate').val());
        if(nCompareOperator===0)
        {
            $('#txtPIValidityDateStart').datebox({ disabled : true });
            $('#txtPIValidityDateEnd').datebox({ disabled : true });
        }
        else if (nCompareOperator===1 || nCompareOperator===2 || nCompareOperator===3 || nCompareOperator===4)
        {
            $('#txtPIValidityDateStart').datebox({ disabled : false });
            $('#txtPIValidityDateEnd').datebox({ disabled : true });
        }
        else
        {
            $('#txtPIValidityDateStart').datebox({ disabled : false });
            $('#txtPIValidityDateEnd').datebox({ disabled : false });
        }
        $('#txtPIValidityDateStart').datebox('setValue', icsdateformat(new Date()));
        $('#txtPIValidityDateEnd').datebox('setValue', icsdateformat(new Date()));
    });

    $('#cboPIApprovedDate').change(function(e){
        //EqualTo = 1, NotEqualTo = 2, GreaterThen = 3, SmallerThen = 4, Between = 5, NotBetween = 6
        var nCompareOperator =   parseInt($('#cboPIApprovedDate').val());
        if(nCompareOperator===0)
        {
            $('#txtPIApprovedDateStart').datebox({ disabled : true });
            $('#txtPIApprovedDateEnd').datebox({ disabled : true });
        }
        else if (nCompareOperator===1 || nCompareOperator===2 || nCompareOperator===3 || nCompareOperator===4)
        {
            $('#txtPIApprovedDateStart').datebox({ disabled : false });
            $('#txtPIApprovedDateEnd').datebox({ disabled : true });
        }
        else
        {
            $('#txtPIApprovedDateStart').datebox({ disabled : false });
            $('#txtPIApprovedDateEnd').datebox({ disabled : false });
        }
        $('#txtPIApprovedDateStart').datebox('setValue', icsdateformat(new Date()));
        $('#txtPIApprovedDateEnd').datebox('setValue', icsdateformat(new Date()));
    });

    $('#cboPIAmount').change(function(e){
        //EqualTo = 1, NotEqualTo = 2, GreaterThen = 3, SmallerThen = 4, Between = 5, NotBetween = 6
        var nCompareOperator =   parseInt($('#cboPIAmount').val());
        if(nCompareOperator===0)
        {
            $('#txtPIAmountStart').prop("disabled", true);
            $('#txtPIAmountEnd').prop("disabled", true);
        }
        else if (nCompareOperator===1 || nCompareOperator===2 || nCompareOperator===3 || nCompareOperator===4)
        {
            $('#txtPIAmountStart').prop("disabled", false);
            $('#txtPIAmountEnd').prop("disabled", true);
        }
        else
        {
            $('#txtPIAmountStart').prop("disabled", false);
            $('#txtPIAmountEnd').prop("disabled", false);
        }
        $('#txtPIAmountStart').val('0.00');
        $('#txtPIAmountEnd').val('0.00');
    });

    $('#btnClose').click(function (e) {
        window.location.href = window.location.href;
    });
    
    ///Supplier Pick
    function PickSupplier()
    {        
        var nBUID = parseInt(sessionStorage.getItem("BUID"));
        var oContractor = { Params: 1 + '~' + $.trim($('#txtSupplier').val())+'~'+ nBUID };//here 1 is Supplier
        var obj = {
            BaseAddress: sessionStorage.getItem("BaseAddress"),
            Object: oContractor,
            ControllerName: "Contractor",
            ActionName: "ContractorSearchByNameType",
            IsWinClose: false
        };
        $("#progbar").progressbar({ value: 0 });
        $("#progbarParent").show();
        var intervalID = setInterval(updateProgress, 250);
        $.icsDataGets(obj, function (response) {
            clearInterval(intervalID);
            $("#progbarParent").hide();
            if (response.status && response.objs.length > 0) {
                if (response.objs[0].ContractorID > 0) {
                    var tblColums = []; var oColumn = { field: "Name", title: "Name", width: 200, align: "left" }; tblColums.push(oColumn);
                    oColumn = { field: "Address", title: "Address", width: 120, align: "left" }; tblColums.push(oColumn);
                    oColumn = { field: "Email", title: "Email", width: 90, align: "left" }; tblColums.push(oColumn);
                    oColumn = { field: "ShortName", title: "Short Name", width: 90, align: "left" }; tblColums.push(oColumn);
                    var oPickerParam = {
                        winid: 'winSuppliers',
                        winclass: 'clsSuppliers',
                        winwidth: 600,
                        winheight: 460,
                        tableid: 'tblSuppliers',
                        tablecolumns: tblColums,
                        datalist: response.objs,
                        multiplereturn: true,
                        searchingbyfieldName: 'Name',
                        windowTittle: 'Supplier List'
                    };
                    $.icsPicker(oPickerParam);
                    IntializePickerbutton(oPickerParam);
                }
                else { alert(response.objs[0].ErrorMessage); }
            }else{
                alert("Data Not Found.");
                return;
            }
        });
    }
    $("#txtSupplier").keydown(function (e) {
        var code = (e.keyCode ? e.keyCode : e.which);
        if (code == 13) // Enter Press
        {
            if($.trim($('#txtSupplier').val())===null || $.trim($('#txtSupplier').val())==="")
            {
                alert("Press enter with supplier name");    
                return;
            }
            PickSupplier();
        }
    });
    $("#btnPickSupplier").click(function () {
        $('#txtSupplier').val('');
        PickSupplier();
    });
    $('#txtSupplier').keydown(function (e) {
        var code = (e.keyCode ? e.keyCode : e.which);
        if (code == 8) //backspace=8
        {
            $("#txtSupplier").removeClass("fontColorOfPickItem");
            $('#txtSupplier').data('Suppliers', []);
        }
    });
    $('#btnClearSupplier').click(function(e){
        $("#txtSupplier").val("");
        $('#txtSupplier').data('Suppliers', []);
        $("#txtSupplier").removeClass("fontColorOfPickItem");
    });    
    //End Supplier Picker

    //Product Pick
    function PickProduct()
    {        
        var nBUID = parseInt(sessionStorage.getItem("BUID"));
        var oProduct = { 
            BUID : nBUID,
            ProductName : $.trim($('#txtProduct').val())
        };
        var obj = {
            BaseAddress: sessionStorage.getItem("BaseAddress"),
            Object: oProduct,
            ControllerName: "Product",
            ActionName: "SearchByProductBUWise",
            IsWinClose: false
        };
        $("#progbar").progressbar({ value: 0 });
        $("#progbarParent").show();
        var intervalID = setInterval(updateProgress, 250);
        $.icsDataGets(obj, function (response) {
            clearInterval(intervalID);
            $("#progbarParent").hide();
            if (response.status && response.objs.length > 0) {
                if (response.objs[0].ProductID > 0) {
                    var tblColums = []; 
                    var oColumn = { field: "ProductCode", title: "Product Code", width: 80, align: "left" }; tblColums.push(oColumn);
                    oColumn = { field: "ProductName", title: "Product Name", width: 300, align: "left" }; tblColums.push(oColumn);
                    oColumn = { field: "ShortName", title: "Short Name", width: 100, align: "left" }; tblColums.push(oColumn);
                    oColumn = { field: "ProductCategoryName", title: "Category", width: 100, align: "left" }; tblColums.push(oColumn)
                    var oPickerParam = {
                        winid: 'winProducts',
                        winclass: 'clsProducts',
                        winwidth: 600,
                        winheight: 460,
                        tableid: 'tblProducts',
                        tablecolumns: tblColums,
                        datalist: response.objs,
                        multiplereturn: true,
                        searchingbyfieldName: 'ProductName',
                        windowTittle: 'Product List'
                    };
                    $.icsPicker(oPickerParam);
                    IntializePickerbutton(oPickerParam);
                }
                else { alert(response.objs[0].ErrorMessage); }
            }else{
                alert("Data Not Found.");
                return;
            }
        });
    }
    $("#txtProduct").keydown(function (e) {
        var code = (e.keyCode ? e.keyCode : e.which);
        if (code == 13) // Enter Press
        {
            if($.trim($('#txtProduct').val())===null || $.trim($('#txtProduct').val())==="")
            {
                alert("Press enter with product name");    
                return;
            }
            PickProduct();
        }
    });
    $("#btnPickProduct").click(function () {
        $('#txtProduct').val('');
        PickProduct();
    });
    $('#txtProduct').keydown(function (e) {
        var code = (e.keyCode ? e.keyCode : e.which);
        if (code == 8) //backspace=8
        {
            $("#txtProduct").removeClass("fontColorOfPickItem");
            $('#txtProduct').data('Products', []);
        }
    });
    $('#btnClearProduct').click(function(e){
        $("#txtProduct").val("");
        $('#txtProduct').data('Products', []);
        $("#txtProduct").removeClass("fontColorOfPickItem");
    });    
    //End Product Picker

    //Bank Branch Pick
    function PickBankRanch()
    {   
        var oBankBranch = {             
            BankName : $.trim($('#txtBankBranch').val())
        };
        var obj = {
            BaseAddress: sessionStorage.getItem("BaseAddress"),
            Object: oBankBranch,
            ControllerName: "BankBranch",
            ActionName: "GetsBankBranchSearchByBankName",
            IsWinClose: false
        };
        $("#progbar").progressbar({ value: 0 });
        $("#progbarParent").show();
        var intervalID = setInterval(updateProgress, 250);
        $.icsDataGets(obj, function (response) {
            clearInterval(intervalID);
            $("#progbarParent").hide();
            if (response.status && response.objs.length > 0) {
                if (response.objs[0].BankBranchID > 0) {
                    var tblColums = []; 
                    var oColumn = { field: "BranchCode", title: "Branch Code", width: 80, align: "left" }; tblColums.push(oColumn);
                    oColumn = { field: "BankName", title: "Bank Name", width: 300, align: "left" }; tblColums.push(oColumn);
                    oColumn = { field: "BranchName", title: "Branch Name", width: 200, align: "left" }; tblColums.push(oColumn);                    
                    var oPickerParam = {
                        winid: 'winBankBranchs',
                        winclass: 'clsBankBranchs',
                        winwidth: 600,
                        winheight: 460,
                        tableid: 'tblBankBranchs',
                        tablecolumns: tblColums,
                        datalist: response.objs,
                        multiplereturn: true,
                        searchingbyfieldName: 'BankName',
                        windowTittle: 'Bank Branch List'
                    };
                    $.icsPicker(oPickerParam);
                    IntializePickerbutton(oPickerParam);
                }
                else { alert(response.objs[0].ErrorMessage); }
            }else{
                alert("Data Not Found.");
                return;
            }
        });
    }
    $("#txtBankBranch").keydown(function (e) {
        var code = (e.keyCode ? e.keyCode : e.which);
        if (code == 13) // Enter Press
        {
            if($.trim($('#txtBankBranch').val())===null || $.trim($('#txtBankBranch').val())==="")
            {
                alert("Press enter with product name");    
                return;
            }
            PickBankRanch();
        }
    });
    $("#btnPickBank").click(function () {
        $('#txtBankBranch').val('');
        PickBankRanch();
    });
    $('#txtBankBranch').keydown(function (e) {
        var code = (e.keyCode ? e.keyCode : e.which);
        if (code == 8) //backspace=8
        {
            $("#txtBankBranch").removeClass("fontColorOfPickItem");
            $('#txtBankBranch').data('BankBranchs', []);
        }
    });
    $('#btnClearBank').click(function(e){
        $("#txtBankBranch").val("");
        $('#txtBankBranch').data('BankBranchs', []);
        $("#txtBankBranch").removeClass("fontColorOfPickItem");
    });    
    //End Product Picker

    function IntializePickerbutton(oPickerobj) {
        $("#" + oPickerobj.winid).find("#btnOk").click(function () {
            //for Single Select
            SetPickerValueAssign(oPickerobj);
        });
        $(document).find('.' + oPickerobj.winclass).keydown(function (e) {
            if (e.which == 13)//enter=13
            {
                SetPickerValueAssign(oPickerobj);
            }
        });
    }

    function SetPickerValueAssign(oPickerobj) {
        var oreturnObj = null, oreturnobjs = [];
        if (oPickerobj.multiplereturn) {
            oreturnobjs = $('#' + oPickerobj.tableid).datagrid('getChecked');
        } else {
            oreturnObj = $('#' + oPickerobj.tableid).datagrid('getSelected');
        }
        $("#" + oPickerobj.winid).icsWindow("close");
        $("#" + oPickerobj.winid).remove();

        if (oPickerobj.winid === 'winSuppliers')
        {
            if (oreturnobjs != null && oreturnobjs.length > 0) {
                $('#txtSupplier').val(oreturnobjs.length+"'s Suppliers seleted");
                $('#txtSupplier').addClass('fontColorOfPickItem');
                $('#txtSupplier').data('Suppliers', oreturnobjs);                
                $('#txtSupplier').focus();
            }
        }
        else if (oPickerobj.winid === 'winProducts')
        {
            if (oreturnobjs != null && oreturnobjs.length > 0) {
                $('#txtProduct').val(oreturnobjs.length+"'s Products seleted");
                $('#txtProduct').addClass('fontColorOfPickItem');
                $('#txtProduct').data('Products', oreturnobjs);                
                $('#txtProduct').focus();
            }
        } 
        else if (oPickerobj.winid === 'winBankBranchs')
        {
            if (oreturnobjs != null && oreturnobjs.length > 0) {
                $('#txtBankBranch').val(oreturnobjs.length+"'s Bank Branchs seleted");
                $('#txtBankBranch').addClass('fontColorOfPickItem');                
                $('#txtBankBranch').data('BankBranchs', oreturnobjs);
                $('#txtBankBranch').focus();
            }
        } 
    }

    function updateProgress() {
        var value =$('#progbar').progressbar('getValue');
        if (value < 96){
            value += Math.floor(Math.random() * 10);
            $('#progbar').progressbar('setValue', value);
        }
    }

    function hideShow(miliseconds) {
        $("#progbarParent").hide();
    }
</script>