<html>
@{
    ViewBag.title = "WYStoreMapping";
}
<body>
    @model ESimSol.BusinessObjects.WYStoreMapping
    <div class="menuMainCollectionTable panel-group" ng-app="CCategoryapp" ng-controller="CCategoryController" id="divCC" style="height:530px">
        <div class=" panel-primary" >
        <div style="height:490px;" class="panel-body regionWYStoreMapping">
            <fieldset style=" height:100%; text-align:center;">
                <legend style="font-weight:bold;">Basic Info : </legend>
                <table border="0" cellspacing="2" cellpadding="2" style="font-size:11px; font-weight:bold; text-align:center; width:90%; margin:150px 90px 0 40px">
                    <tr>
                        <td style="width:15%; text-align:right">
                            Yarn Type:
                        </td>
                        <td style="width:35%;">
                            <select id="cboYarnType" ng-model="WYStoreMapping.WYarnTypeInt" ng-options="obj.id as obj.Value for obj in WYarnTypes" ng-disabled="disabled" class="form-control">
                                <option value="">--Select Yarn Type--</option>
                            </select>
                        </td>
                        <td style="width:15%; text-align:right">
                            Store Type:
                        </td>
                        <td style="width:35%;">
                            <select id="cboStoreType" ng-model="WYStoreMapping.WYStoreTypeInt" ng-change="CboStoreType()" ng-options="obj.id as obj.Value for obj in WYStoreTypes" ng-disabled="disabled" class="form-control">
                                <option value="">--Select Store Type--</option>
                            </select>
                        </td>
                    </tr>
                    <tr>
                        <td style="width:15%; text-align:right">
                            Store :
                        </td>
                        <td style="width:35%;">
                            <select id="cboStoreType" ng-model="WYStoreMapping.WorkingUnitID" ng-options="obj.WorkingUnitID as obj.OperationUnitName for obj in WYStores" ng-disabled="disabled" class="form-control">
                                <option value="">--Select Store--</option>
                            </select>
                        </td>
                        <td style="width:15%; text-align:right">
                            Note :
                        </td>
                        <td style="width:35%;">
                            <input type="text" ng-model="WYStoreMapping.Note" class="form-control" style="width:100%" />
                        </td>
                    </tr>
                </table>
            </fieldset>
        </div>
        <fieldset>
            <legend style="font-weight:bold"> Action : </legend>
            <table border="0" cellspacing="2" cellpadding="2" style="font-size:11px; font-weight:bold; width:100%;">
                <tr>
                    <td style="width:100%;text-align:right">
                        <button type="button" id="btnSave" class="btn btn-default btn-sm btn-success" aria-label="right Align" ng-click="Save()"><span class="glyphicon glyphicon-floppy-disk" aria-hidden="true"> Save</span></button>
                        <button type="button" id="btnClose" class="btn btn-default btn-sm btn-danger" aria-label="right Align" ng-click="Close()"><span class="glyphicon glyphicon-remove" aria-hidden="true"> Close</span></button>
                    </td>
                </tr>
            </table>
        </fieldset>
    </div>
            
        </div>
</body>
</html>
<style type="text/css">
    .regionWYStoreMapping .form-horizontal .control-label {
        padding-top: 1px;
    }

    .regionWYStoreMapping .form-control {
        height: 26px;
        padding: 0px 6px;
        font-size: 12px;
        width:100%;
    }
</style>


<script type="text/javascript">
    //debugger;
    var _sBaseAddress =@Html.Raw( new System.Web.Script.Serialization.JavaScriptSerializer().Serialize(HttpContext.Current.Session[SessionInfo.BaseAddress]));
    
    var oWYStoreMapping =@Html.Raw(new System.Web.Script.Serialization.JavaScriptSerializer().Serialize(Model));
    var oModules = @Html.Raw(new System.Web.Script.Serialization.JavaScriptSerializer().Serialize(ViewBag.Modules));

    var oIssueStores = @Html.Raw(new System.Web.Script.Serialization.JavaScriptSerializer().Serialize(ViewBag.IssueStores));
    var oReceiveStores =  @Html.Raw(new System.Web.Script.Serialization.JavaScriptSerializer().Serialize(ViewBag.ReceiveStores));
    var oWYarnTypes =  @Html.Raw(new System.Web.Script.Serialization.JavaScriptSerializer().Serialize(ViewBag.WYarnTypes));
    var oWYStoreTypes =  @Html.Raw(new System.Web.Script.Serialization.JavaScriptSerializer().Serialize(ViewBag.WYStoreTypes));

    var CCategoryApp = angular.module('CCategoryapp', ['ngAnimate', 'ui.bootstrap', 'ui.grid', 'ui.grid.selection', 'ui.grid.edit','ui.grid.resizeColumns','ui.grid.cellNav','ms.service']);
    CCategoryApp.controller('CCategoryController', function ($scope, $http, $uibModal, $log, uiGridConstants, msModal,icsMethod, userSession,msGridControl) {
        $scope.WYStoreMapping = oWYStoreMapping;
        debugger;
        $scope.Modules=oModules;
        $scope.WYarnTypes=oWYarnTypes;
        $scope.WYStoreTypes=oWYStoreTypes;

        $scope.CboStoreType=function()
        {
            if($scope.WYStoreMapping.WYStoreTypeInt==1) $scope.WYStores=oIssueStores;
            else $scope.WYStores=oReceiveStores;
        };
        $scope.CboStoreType();

        $scope.Save=function()
        {
            if(!$scope.ValidateInput()) return;
            var oWYStoreMapping=$scope.WYStoreMapping;
            $http.post(_sBaseAddress+'/WYStoreMapping/Save',oWYStoreMapping).then(
                    function (response)
                    {
                        var oWYStoreMapping= jQuery.parseJSON(response.data);
                        if (oWYStoreMapping.ErrorMessage=="" || oWYStoreMapping.ErrorMessage==null)
                        {
                            alert("Data Saved Successfully!!");
                            userSession.setData('WYStoreMappings',oWYStoreMapping);
                            userSession.previousPage();
                        }
                        else
                        {
                            alert(oWYStoreMapping.ErrorMessage);
                        }

                    },
                        function (response) { alert(response.statusText);}
                );
        }
        $scope.ValidateInput = function()
        {
            debugger;
            if(($scope.WYStoreMapping.WYarnTypeInt==null || $scope.WYStoreMapping.WYarnTypeInt==0))
            {
                alert("Please Select Yarn Type!");
                return false;
            }
            if(($scope.WYStoreMapping.WYStoreTypeInt==null || $scope.WYStoreMapping.WYStoreTypeInt==0))
            {
                alert("Please Select Store Type!");
                return false;
            }
            if($scope.WYStoreMapping.WorkingUnitID==null || $scope.WYStoreMapping.WorkingUnitID==0)
            {
                alert("Please Select Store!");
                return false;
            }
            
            return true;
        }
        if(sessionStorage.getItem("WYStoreMappingHeader")=="View WYStoreMapping Category")
        {
            $("#divCC :input").prop('disabled', true);
            $('#btnClose').prop('disabled', false);
        }
        $scope.Close = function()
        {
            window.location.href = sessionStorage.getItem("BackLink");
        }
        $scope.keydown = function(e)
        {
            if(e.which == 27)//escape=27
            {
                //debugger;
                window.location.href = sessionStorage.getItem("BackLink");
            }
        }
    });

</script>