<html>
<head>
    <title>Claim Order </title>
</head>
<body>

    @model ESimSol.BusinessObjects.DUClaimOrder
    <div id="progressbarParent" style="width:100%;height:100%;margin:0 auto;text-align:center; margin-left: auto;margin-right: auto;left: 0;right: 0;z-index:1;">
        <div style="margin: 0px auto;margin-top: 251px;text-align:center;width:390px;">
            <label style="font-size:18px;">Please wait</label>
            <div id="progressbar" style="width:100%;height:37px;"></div>
        </div>
    </div>
    <div class="menuMainCollectionTable">
        <div style="width:100%;height:88%">
            <fieldset>
                <legend style="font-weight:bold">Order info </legend>
                <table cellpadding="2" cellspacing="2" style="width:100%">

                    <tr>
                        <td style="width: 10%; text-align: right">
                            <label>Order Type:</label>
                        </td>
                        <td style="width: 25%; text-align: left">
                            <select style="width:72%;" id="cboOrderType" onchange="ChangeOrderType()"></select>
                        </td>
                        <td style="width: 12%; text-align: right">
                            <label>Buyer Name:</label>
                        </td>
                        <td colspan="3" style="width: 53%; text-align: left">
                            <input id="txtContractorName" style="width: 98%;" class="reset-text" disabled="disabled" />
                        </td>
                    </tr>
                    <tr>
                        <td style="width: 10%; text-align: right">
                            <label>P/I No:</label>
                        </td>
                        <td style="width: 25%; text-align: left">
                            <input id="txtExportPINo" style="width: 70%" class="reset-text" placeholder="Search by P/I No" />
                            <a id="btnPickExportPI" href="javascript:void(0)" class="easyui-linkbutton ics-pick" iconcls="icon-pick" plain="true"></a>
                            <a id="btnResetExportPI" href="javascript:void(0)" class="easyui-linkbutton ics-pick" iconcls="icon-clear" plain="true"></a>
                        </td>
                        <td style="width: 12%; text-align: right">
                            <label>Concern Person:</label>
                        </td>
                        <td style="width: 28%; text-align: left">
                            <input id="txtMktAccount" style="width: 100%;" class="reset-text" disabled="disabled" />
                        </td>

                        <td style="width: 10%; text-align: right">
                            <label>Claim No:</label>
                        </td>
                        <td style="width: 15%; text-align: left">
                            <input id="txtClaimOrderNo" style="width: 92%;" />
                        </td>

                    </tr>
                    <tr>
                        <td style="width: 10%; text-align: right">
                            <span class="lblOrderNo"></span>
                        </td>
                        <td style="width: 25%; text-align: left">
                            <input id="txtDyeingOrder" style="width: 70%" class="reset-text" placeholder="Search by Order No" />
                            <a id="btnPickDyeingOrder" href="javascript:void(0)" class="easyui-linkbutton ics-pick" iconcls="icon-pick" plain="true"></a>
                            <a id="btnResetDyeingOrder" href="javascript:void(0)" class="easyui-linkbutton ics-pick" iconcls="icon-clear" plain="true"></a>
                        </td>
                        <td style="width: 12%; text-align: right">Claim Type</td>
                        <td style="width:28%; text-align: left"><select style="width: 30%;" id="cboClaimType"></select><label id="lblPaymentType">Payment Type:</label> <select style="width: 30%;" id="cboPaymentType"></select></td>

                        <td style="width: 10%; text-align: right">
                            <label>Date:</label>
                        </td>
                        <td style="width: 15%; text-align: left">
                            <input id="txtDate" type="text" class="easyui-datebox" style="width: 105px;" data-options="formatter:icsdateformat,parser:icsdateparser" />
                        </td>

                    </tr>
                    <tr>
                        <td style="width: 10%; text-align: right">
                            <label>Return Challan:</label>
                        </td>
                        <td style="width: 25%; text-align: left">
                            <input id="txtDUReturnchallanNo" style="width: 70%" class="reset-text" placeholder="Search by Return Challan No" />
                            <a id="btnPickDUReturnchallan" href="javascript:void(0)" class="easyui-linkbutton ics-pick" iconcls="icon-pick" plain="true"></a>
                            <a id="btnResetDUReturnchallan" href="javascript:void(0)" class="easyui-linkbutton ics-pick" iconcls="icon-clear" plain="true"></a>
                        </td>
                        <td style="width:12%; text-align: right">
                            <label>Note:</label>
                        </td>
                        <td colspan="3" style="width: 53%; text-align: left">
                            <input id="txtNote" style="width: 100%;" />
                        </td>

                    </tr>

                </table>
            </fieldset>
            <fieldset>
                <legend style="font-weight:bold">Detail info </legend>
                <div>
                    <table id="tblDUClaimOrderDetail" class="easyui-datagrid" style="width:100%;height:220px;"
                           data-options="singleSelect: true,fitColumns:false, rownumbers:true, pagination:false, autoRowHeight:false, toolbar: '#toolbar',onClickRow:onClickRow ">
                        <thead>
                            <tr>
                                <th field="ProductName" width="20%" align="left">Product</th>
                                <th field="ColorName" width="10%" align="left">Color</th>
                                @*<th field="OrderNo" width="10%" align="left">BPO No</th>*@
                                <th field="BatchNo" width="10%" align="left">Lot/Batch No</th>
                                <th field="OrderQty" width="10%" align="right" formatter="formatPrice" width="12%">Order Qty</th>
                                <th data-options="field:'Qty',align:'right',editor:{type:'numberbox',options:{precision:2}}" width="12%">Qty(<label id="lblMunit"></label>)</th>
                                <th data-options="field:'Note',width:100,height:60 ,align:'Left',editor:{type:'text'}" width="20%" align="Left">Remarks</th>
                              
                            </tr>
                        </thead>
                    </table>
                    <div id="toolbar">
                        <a id="btnPickDODetails" href="javascript:void(0)" class="easyui-linkbutton ics-pick" iconcls="icon-pick" plain="true"> Pick Color</a>
                        <a id="btnEditDetail" href="javascript:void(0)" class="easyui-linkbutton" iconcls="icon-edit" plain="true">Edit</a>
                        @*<a id="btnResetExportPI" href="javascript:void(0)" class="easyui-linkbutton ics-pick" iconcls="icon-clear" plain="true"></a>*@
                        <a id="btnRemoveDetail" href="javascript:void(0)" class="easyui-linkbutton" iconcls="icon-remove" plain="true">Remove</a>
                        <a id="btnRefresh" href="javascript:void(0)" class="easyui-linkbutton" iconcls="icon-reload" plain="true">Refresh</a>
                        <a id="btnPickReturnChallan" href="javascript:void(0)" class="easyui-linkbutton ics-pick" iconcls="icon-pick" plain="true"> Pick Color</a>
                    </div>
                    <table border="0" cellpadding="0" cellspacing="0" style="width:100%;">
                        <tr>
                            <td style="width:65%;  text-align:right;font-weight:bold;">Total:</td>
                            <td style="width:10%;  text-align:right;font-weight:bold;"><label id="lblTotalQty">0</label> </td>
                            <td style="width:5%;  text-align:right;font-weight:bold;"> </td>

                        </tr>
                    </table>
                </div>
           </fieldset>
            <fieldset>
                <legend style="font-weight:bold"> </legend>
                <table cellpadding="2" cellspacing="2" style="width:100%">

                    <tr>
                        <td style="width:10%; text-align: right">
                            <label>Verified by:</label>
                        </td>
                        <td style="width:20%; text-align: initial">
                            <label id="lblCheckedBy"></label>
                        </td>
                        <td  style="width: 60%; text-align: left">
                            <input id="txtNote_Checked" style="width: 100%;" />
                        </td>
                    </tr>
                    <tr>
                        <td style="width:10%; text-align: right">
                            <label>Approved by:</label>
                        </td>
                        <td style="width:20%; text-align: left">
                            <label id="lblApprovedBy"></label>
                        </td>
                        <td style="width:60%; text-align: left">
                            <input id="txtNote_Approve" style="width: 100%;" />
                        </td>
                    </tr>

                </table>
            </fieldset>
        </div>
         


        <fieldset>
            <legend>Action</legend>
            <div style="width:100%;height:10%">
                <table border="0" cellpadding="2" cellspacing="2" style="width:100%;float:right; text-align:right">
                    <tr>
                        <td style=" float:left;  width:10%; ">
                            <a id="btnPrint" href="javascript:void(0)" class="easyui-linkbutton" iconcls="icon-print" plain="true">Print</a>
                        </td>
                        <td style="width:10%; float:left; text-align:right">
                            <label id="lblComment">Comment:</label>
                        </td>
                        <td style="width:35%; float:left; text-align:right">
                            <input id="txtComment" style="width:100%;" />
                        </td>
                        <td style="width:40%;float:right; text-align:right">
                            <label id="lblCreateReviseNo">Create Revise No?</label> <input id="chkIsCreateReviseNo" type="checkbox" checked="checked" />
                            <a id="btnSave_Revise" href="javascript:void(0)" class="easyui-linkbutton" iconcls="icon-save" plain="true">Save(Revise)</a>
                            <a id="btnSave" href="javascript:void(0)" class="easyui-linkbutton" iconcls="icon-save" plain="true">Save</a>
                            <a id="btnApprove" href="javascript:void(0)" class="easyui-linkbutton" iconcls="icon-save" plain="true">Approve</a>
                            <a id="btnChecked" href="javascript:void(0)" class="easyui-linkbutton" iconcls="icon-save" plain="true">Verify</a>
                            <a id="btnClose" href="javascript:void(0)" class="easyui-linkbutton" iconcls="icon-cancel" plain="true">Close</a>
                        </td>
                    </tr>
                </table>
            </div>
        </fieldset>
    </div>
    <div id="winDUClaimOrderDetail" class=" easyui-window winclass" title="Edit Payment info" data-options="modal:true,closed:true,collapsible:false,minimizable:false,maximizable:false,closable:false">

        <div>
            <fieldset>
                <table border="0" cellspacing="2" cellpadding="2" style="width:100%; font-size: 11px; font-weight: bold">

                    <tr>
                        <td style="width: 20%; text-align: right">
                            Yarn  :
                        </td>
                        <td colspan="3" style="width:80%">
                            <input id="txtProduct" class="reset-text" placeholder="Type & Press entry For Yarn" style="width: 85%" />
                           
                        </td>

                    </tr>
                    <tr>
                        <td style="width: 20%; text-align: right">
                            <label>
                                Qty(
                            </label><span class="lblMUnitOne"></span>):

                        </td>

                        <td style="width: 30%; text-align: left">
                            <input type="text" style="width: 60%; text-align:right" id="txtQtyInOne" />
                        </td>
                        <td style="width: 20%; text-align: right">
                            <label>
                                Qty(
                            </label><span class="lblMUnitTwo"></span>):

                        </td>

                        <td style="width: 30%; text-align: left">

                            <input type="text" style="width: 60%; text-align:right" id="txtQtyInTwo" />

                        </td>

                    </tr>
                    <tr>
                        <td style="width: 20%; text-align: right">

                            <label>
                                Unit Price ($/
                            </label><span class="lblMUnitOne"></span>):

                        </td>

                        <td style="width:30%; text-align: left">

                            <input type="text" style="width: 60%; text-align:right" id="txtUnitPriceInOne" />

                        </td>
                        <td style="width: 20%; text-align: right">
                            <label>
                                Unit Price ($/
                            </label><span class="lblMUnitTwo"></span>):
                        </td>

                        <td style="width: 30%; text-align: left">

                            <input type="text" style="width:60%; text-align:right" id="txtUnitPriceInTwo" />

                        </td>

                    </tr>

                </table>
            </fieldset>
            <fieldset>
                <table border="0" cellspacing="2" cellpadding="2" style="width:100%; font-size: 11px; font-weight: bold">
                    <tr>
                        <td style="width: 20%; text-align: right">Type</td>
                        <td style="width: 30%;">
                            <select id="cboLabDipType" style="width:50%" onchange="ChangeLabDipType()"></select>
                        </td>
                        <td style="width: 20%; text-align: right">
                            Shade
                        </td>
                        <td style="width: 30%;">
                            <select style="width: 63px;" id="cboShade">
                                <option value="0">NA</option>
                                <option value="1">A</option>
                                <option value="2">B</option>
                                <option value="3">C</option>
                                <option value="4">D</option>
                                <option value="5">E</option>
                                <option value="6">F</option>
                                <option value="7">G</option>
                                <option value="8">H</option>
                                <option value="9">I</option>
                                <option value="10">J</option>
                                <option value="11">K</option>
                                <option value="12">L</option>
                                <option value="13">M</option>
                                <option value="14">N</option>
                                <option value="15">O</option>

                            </select>
                            <input id="txtShade" type="text" style="width: 63px" disabled="disabled" />
                        </td>

                    </tr>
                    <tr>
                        <td style="width: 20%; text-align: right">
                            LD/Color No
                        </td>
                        <td style="width: 30%;">
                            <input type="text" style="width: 80%;" id="txtColorNo" /><input type="button" style="width: 16%;"
                                                                                            value="Pic" id="btnColorNo" />
                        </td>
                        <td style="width: 20%; text-align: right">
                            Labdip Order No
                        </td>
                        <td style="width: 30%">
                            <input type="text" style="width: 80%;" id="txtLabdipNo" /><input type="button" style="width: 16%;"
                                                                                             value="Pic" id="btnLabdipNo" />


                        </td>
                    </tr>
                    <tr>
                        <td style="width: 20%; text-align: right">
                            Match To(Lot/Batch No):
                        </td>
                        <td style="width: 30%">
                            <input type="text" style="width: 100%" id="txtApproveLotNo" />
                        </td>
                        <td style="width: 20%; text-align: right">
                            Color Name :
                        </td>
                        <td style="width: 30%">
                            <input type="text" disabled="disabled" style="width: 100%" id="txtColorName" />
                        </td>
                    </tr>
                    <tr>

                        <td style="width: 20%; text-align: right">
                            Yarn Lot:
                        </td>
                        <td style="width: 30%">
                            <input type="text" disabled="disabled" style="width: 100%" id="txtBuyerRef_PCol" />
                        </td>
                        <td style="width: 20%; text-align: right">
                            Dev. Product:
                        </td>
                        <td style="width: 30%">
                            <input type="text" style="width: 100%" id="txtColorDevProduct" disabled="disabled" />
                        </td>

                    </tr>
                    <tr>
                        <td style="width: 20%; text-align: right">
                            Hank/Cone:
                        </td>
                        <td style="width: 30%">
                            <select style="width: 100%;" id="cboHankorCone"></select>
                        </td>
                        <td style="width: 20%; text-align: right">
                            Panton No :
                        </td>
                        <td style="width: 30%">
                            <input type="text" disabled="disabled" style="width: 100%" id="txtPantonNo" />
                        </td>
                    </tr>
                    <tr>
                        <td style="width: 20%; text-align: right">
                            Lot/Batch No :
                        </td>
                        <td style="width: 30%">
                            <input type="text" style="width: 100%" id="txtBatchNo" />
                        </td>
                        <td style="width: 20%; text-align: right">
                            NoOfCone :
                        </td>
                        <td style="width: 30%">
                            <input type="text" style="width: 100%" id="txtNoOfCone" />
                        </td>
                    </tr>
                    <tr>
                        <td style="width: 20%; text-align: right">
                            Challan No :
                        </td>
                        <td style="width: 30%">
                            <input type="text" style="width: 100%" id="txtChallanNo" />
                        </td>
                        <td style="width: 20%; text-align: right">
                            Exp. Delivery Date :
                        </td>
                        <td style="width: 30%">
                            <input type="text" class="easyui-datebox" style="width: 70%;" data-options="formatter:icsdateformat,parser:icsdateparser"
                                   id="txtDeliveryDate" />
                           
                        </td>
                    </tr>
                    <tr>
                        <td style="width: 20%; text-align: right">
                            Reason :
                        </td>
                        <td colspan="3" style="width: 80%">
                            <select id="cboClaimReason" style="width:50%" ></select>
                        </td>

                    </tr>
                    <tr>
                        <td style="width: 20%; text-align: right">
                            Note :
                        </td>
                        <td colspan="3" style="width: 80%">
                            <input type="text" id="txtNoteDetail" style="width: 100%;" />
                        </td>
                     
                    </tr>
                </table>


            </fieldset>
            <div style="width:100%;">
                <fieldset>
                    <legend style="font-weight: bold">Action : </legend>
                    <table border="0" cellspacing="2" cellpadding="2" style="font-size: 11px; font-weight: bold; width:100%">
                        <tr>
                            <td style="width:80%; text-align:right"></td>
                            <td style="width: 10%">
                                <a id="btnOk" href="javascript:void(0)" class="easyui-linkbutton" iconcls="icon-save" plain="true">Ok</a>
                            </td>
                            <td style="width: 10%">
                                <a id="btnClose_DODetail" href="javascript:void(0)" class="easyui-linkbutton" iconcls="icon-cancel" plain="true">Close</a>
                            </td>
                        </tr>
                    </table>
                </fieldset>
            </div>
        </div>
    </div>
</body>
</html>

<style type="text/css">
    .td-styler input {
        padding-left: 5px;
    }

    .td-styler select {
        padding-left: 5px;
    }

    .td-col-3 select {
        width: 95%;
    }
</style>

<script type="text/javascript">

    var _sBaseAddress = "";
    var _oDUClaimOrder=null;
    var _oPaymentTypes=[];
    var _oDUClaimOrderDetail=[];
    var _oDUOrderSetups=[];
    var _sBackLink="";
    var _nSelectedRowIndex=0;
    var _oMUnitCon=null;
    $(document).ready(function () {
        _sBaseAddress =@Html.Raw(new System.Web.Script.Serialization.JavaScriptSerializer().Serialize(HttpContext.Current.Session[SessionInfo.BaseAddress]));
        _oDUClaimOrder =@Html.Raw(new System.Web.Script.Serialization.JavaScriptSerializer().Serialize(Model));
        var oClaimOrderTypes =@Html.Raw(new System.Web.Script.Serialization.JavaScriptSerializer().Serialize(@ViewBag.ClaimOrderTypes));
        _oDUOrderSetups =@Html.Raw(new System.Web.Script.Serialization.JavaScriptSerializer().Serialize(@ViewBag.DUOrderSetups));
        _oMUnitCon =@Html.Raw(new System.Web.Script.Serialization.JavaScriptSerializer().Serialize(@ViewBag.MeasurementUnitCon));
        var oLabDipTypeObj =@Html.Raw(new System.Web.Script.Serialization.JavaScriptSerializer().Serialize(@ViewBag.LabDipTypeObj));
        var oDyeingTypes =@Html.Raw(new System.Web.Script.Serialization.JavaScriptSerializer().Serialize(@ViewBag.DyeingTypes));
        var oClaimReasons =@Html.Raw(new System.Web.Script.Serialization.JavaScriptSerializer().Serialize(@ViewBag.ClaimReasons));
        var oDUOrderSetup  =@Html.Raw(new System.Web.Script.Serialization.JavaScriptSerializer().Serialize(@ViewBag.DUOrderSetup));
        _oPaymentTypes  =@Html.Raw(new System.Web.Script.Serialization.JavaScriptSerializer().Serialize(@ViewBag.PaymentTypes));
        debugger;
        $("#cboClaimReason").icsLoadCombo({
            List: oClaimReasons,
            OptionValue: "ClaimReasonID",
            DisplayText: "Name",

        });
        $("#cboClaimType").icsLoadCombo({
            List: oClaimOrderTypes,
            OptionValue: "id",
            DisplayText: "Value",

        });

        $("#cboOrderType").icsLoadCombo({
            List: _oDUOrderSetups,
            OptionValue: "OrderType",
            DisplayText: "ShortName",

        });
        $("#cboLabDipType").icsLoadCombo({
            List: oLabDipTypeObj,
            OptionValue: "id",
            DisplayText: "Value",

        });
        $("#cboPaymentType").icsLoadCombo({
            List: _oPaymentTypes,
            OptionValue: "id",
            DisplayText: "Value",

        });
        $("#cboHankorCone").icsLoadCombo({
            List: oDyeingTypes,
            OptionValue: "DyeingType",
            DisplayText: "Name",
        });
      
        if(!oDUOrderSetup.IsInvoiceMendatory)
        {
            $("#cboPaymentType,#lblPaymentType").hide();
        }
        Initialization(_oDUClaimOrder,((sessionStorage.length>0)?sessionStorage.getItem('Operation'):'New'));
        _sBackLink=sessionStorage.getItem("BackLink");
        // Control_disabled();
        $("#progressbar").progressbar({ value: 0 });
        $("#progressbarParent").hide();
        RefreshBySetup();
    });

    function updateProgress() {
        var value =$('#progressbar').progressbar('getValue');
        if (value < 96){
            value += Math.floor(Math.random() * 10);
            $('#progressbar').progressbar('setValue', value);
        }
    }
    function hideShow(miliseconds) {
        $("#progressbarParent").hide();
    }
    function Initialization(oDUClaimOrder, sOperation){
            ResetControll();

            RefreshControl(oDUClaimOrder);
            $("#chkIsCreateReviseNo").hide();
            $("#lblCreateReviseNo").hide();

        if(sOperation=="View")
        {
            $('#toolbar,#btnApprove,#btnSave,#btnChecked,#btnSave_Revise,#lblComment,#txtComment,.ics-pick').hide();
            $('input,select').not('#txtClaimOrderNo').prop('disabled',true);
            $('#cboOrderType').prop('disabled',true);
        }
        else  if(sOperation=="Revise")
        {
            $('#btnSave,#btnApprove,#btnChecked').hide();
            $('#btnSave_Revise').show();
            $("#chkIsCreateReviseNo").show();
            $("#lblCreateReviseNo").show();
            $('#toolbar,.ics-pick').show();
            $('input,select').not('#txtClaimOrderNo').prop('disabled',false);
            $('#cboOrderType').prop('disabled',true);
        }
        else if(sOperation=="Approve")
        {
            $('#toolbar,#btnSave,#btnChecked,#btnSave_Revise,.ics-pick').hide();
            $('#btnApprove').show();
            $('input,select').not('#txtClaimOrderNo').prop('disabled',true);
            $('#txtComment').prop('disabled',false);
        }
        else if(sOperation=="Checked")
        {
            $('#toolbar,#btnSave,#btnApprove,#btnSave_Revise,.ics-pick').hide();
            $('#btnChecked').show();
            $('#txtComment').prop('disabled',false);
        }
        else{
            $('#btnApprove,#btnChecked,#lblComment,#btnSave_Revise,#txtComment').hide();
            $('#toolbar,#btnSave,.ics-pick').show();
            //$('input,select').not('#txtClaimOrderNo').prop('disabled',false);
        }
        document.getElementById("txtClaimOrderNo").disabled = true;
        document.getElementById("txtNote_Approve").disabled = true;
        document.getElementById("txtNote_Checked").disabled = true;
    }


    function RefreshBySetup()
    {
        $('#lblMunit').html(_oMUnitCon.FromMUnit);

    }

    function ResetControll(){

        $('#txtDate').datebox('setValue', icsdateformat(new Date()));
        $('.reset-text').val("");
        DynamicRefreshList([], 'tblDUClaimOrderDetail');
        RefreshSummary();
    }
    function RefreshControl(oDUClaimOrder){
        debugger;
        _oDUClaimOrder=oDUClaimOrder;
        $('#txtClaimOrderNo').val(oDUClaimOrder.ClaimOrderNo);
        $('#txtDUReturnchallanNo').val(oDUClaimOrder.DUReturnChallanNo);
        $('#txtDate').datebox('setValue',oDUClaimOrder.OrderDateSt);
        $('#txtContractorName').val(oDUClaimOrder.ContractorName);
        $('#txtExportPINo').val(oDUClaimOrder.PINo);
        $('#txtDyeingOrder').val(oDUClaimOrder.ParentDONo);
        $('#cboClaimType').val(oDUClaimOrder.ClaimType);
        $('#cboOrderType').val(oDUClaimOrder.OrderType);
        $('#cboPaymentType').val(oDUClaimOrder.PaymentType);
        $('#txtNote').val(oDUClaimOrder.Note);

        document.getElementById('lblCheckedBy').innerHTML = _oDUClaimOrder.CheckedByName;
        document.getElementById('lblApprovedBy').innerHTML = _oDUClaimOrder.ApproveByName;
        $('#txtNote_Checked').val(_oDUClaimOrder.Note_Checked);
        $('#txtNote_Approve').val(_oDUClaimOrder.Note_Approve);


        if(oDUClaimOrder.DUClaimOrderDetails!==null && oDUClaimOrder.DUClaimOrderDetails.length>0)
        {
            DynamicRefreshList(oDUClaimOrder.DUClaimOrderDetails, 'tblDUClaimOrderDetail');
        }
        else{
            DynamicRefreshList([], 'tblDUClaimOrderDetail');
        }

        RefreshSummary();
        ChangeOrderType();

    }
    function ChangeOrderType()
    {
        var ncboOrderType=parseInt($("#cboOrderType").val());
        var ocboOrderType = document.getElementById("cboOrderType");
        var sText = ocboOrderType.options[ocboOrderType.selectedIndex].text;
        var sTemp='';
        for (var i = 0;i<_oDUOrderSetups.length; i++){
            if(_oDUOrderSetups[i].OrderType==ncboOrderType)
            {
                sTemp = _oDUOrderSetups[i].NoCode;
            }
        }
        debugger;
        if(ncboOrderType<=0 || ncboOrderType==null)
        {
            sText="Order No";
        }
        if(ncboOrderType===2)
        {
            $('#txtExportPINo').prop('disabled',true);
            $('#btnPickExportPI').prop('disabled',true);
            $('#btnResetExportPI').prop('disabled',true);
            $(".lblOrderNo").html(sText);
            $("#txtDyeingOrder").attr("placeholder", "Search by "+sTemp+" No");
        }
        else if(ncboOrderType===3)
        {
            $('#txtExportPINo').prop('disabled',false);
            $('#btnPickExportPI').prop('disabled',false);
            $('#btnResetExportPI').prop('disabled',false);
            $(".lblOrderNo").html(sText);
            $("#txtDyeingOrder").attr("placeholder", "Search by "+sTemp+" No");
        }
        else if(ncboOrderType===4)
        {
            $('#txtExportPINo').prop('disabled',false);
            $('#btnPickExportPI').prop('disabled',false);
            $('#btnResetExportPI').prop('disabled',false);
            $(".lblOrderNo").html(sText);
            $("#txtDyeingOrder").attr("placeholder", "Search by "+sTemp+" No");
        }
        else if(ncboOrderType===5)
        {
            $('#txtExportPINo').prop('disabled',true);
            $('#btnPickExportPI').prop('disabled',true);
            $('#btnResetExportPI').prop('disabled',true);
            $(".lblOrderNo").html(sText);
            $("#txtDyeingOrder").attr("placeholder", "Search by "+sTemp+" No");
        }
        else
        {
            $('#txtExportPINo').prop('disabled',true);
            $('#btnPickExportPI').prop('disabled',true);
            $('#btnResetExportPI').prop('disabled',true);
            $(".lblOrderNo").html(sText);
            $("#txtDyeingOrder").attr("placeholder", "Search by "+sTemp+" No");

        }

    }
    function Validation(){


        if(parseInt($("#cboOrderType").val())<=0){
            $('#cboOrderType').focus();
            $('#cboOrderType').addClass("errorFieldBorder");
            alert('Order Type required.');
            return false;
        }
        else{
            $('#cboOrderType').removeClass("errorFieldBorder");
        }

        if(parseInt($("#cboClaimType").val())<=0){
            $('#cboClaimType').focus();
            $('#cboClaimType').addClass("errorFieldBorder");
            alert('Claim Type required.');
            return false;
        }
        else{
            $('#cboClaimType').removeClass("errorFieldBorder");
        }
        return true;
    }


    //Pick PI
    $("#btnPickExportPI").click(function () {

        var sNo=$.trim($("#txtExportPINo").val());
        if(sNo==""){ alert("Type PI No to search."); return ; }
        var oDUClaimOrder = {
            PINo:sNo,
            DUClaimOrderID:(_oDUClaimOrder!=null && _oDUClaimOrder.DUClaimOrderID>0)? _oDUClaimOrder.DUClaimOrderID:0,
            OrderType:parseInt($("#cboOrderType").val())
        };
        GetsExportPIs(oDUClaimOrder);
    });
    $("#txtExportPINo").keydown(function (e) {
        var nkeyCode = e.keyCode || e.which;
        if(nkeyCode==13){
            var sNo=$.trim($("#txtExportPINo").val());
            if(sNo==""){ alert("Type No to search."); return ; }
            var oDUClaimOrder = {
                PINo:sNo,
                DUClaimOrderID:(_oDUClaimOrder!=null && _oDUClaimOrder.DUClaimOrderID>0)? _oDUClaimOrder.DUClaimOrderID:0,
                OrderType:parseInt($("#cboOrderType").val()),
              
            };
            GetsExportPIs(oDUClaimOrder);
        }
        else if(nkeyCode==8){
            $("#txtExportPINo").val("");
            _oDUClaimOrder.ExportPIID=0;

        }
    });
    $("#btnResetExportPI").click(function () {
        $("#txtExportPINo").val("");
        _oDUClaimOrder.ExportPIID=0;
        _oDUClaimOrder.OrderType=0;
    });
    function GetsExportPIs(DUClaimOrder){


        var obj = {
            BaseAddress: _sBaseAddress,
            Object: DUClaimOrder,
            ControllerName: "DUClaimOrder",
            ActionName: "GetExportPIs",
            IsWinClose: false
        };
        $("#progressbar").progressbar({ value: 0 });
        $("#progressbarParent").show();
        var intervalID = setInterval(updateProgress, 250);
        $.icsDataGets(obj, function (response) {
            clearInterval(intervalID);
            $("#progressbarParent").hide();
            if (response.status && response.objs.length > 0)
            {
                if (response.objs[0].ExportPIID > 0) {
                    debugger;
                    var tblColums = [];
                    var oColumn = { field: "PINo", title: "P/I No", width: 160, align: "left" };tblColums.push(oColumn);
                    oColumn = { field: "LCNo", title: "L/C No", width: 350, align: "left" };tblColums.push(oColumn);

                    var oPickerParam = {
                        winid: 'winExportPIPicker',
                        winclass:'clsExportPIPicker',
                        winwidth: 560,
                        winheight: 460,
                        tableid: 'tblExportPIPicker',
                        tablecolumns: tblColums,
                        datalist: response.objs,
                        multiplereturn: false,
                        searchingbyfieldName:'PINo',
                        windowTittle: 'P/I List'
                    };
                    $.icsPicker(oPickerParam);
                    IntializePickerbutton(oPickerParam);//multiplereturn, winclassName
                }
                else { alert(response.objs[0].ErrorMessage); }
            }
            else{
                alert("Data not found.");
            }
        });

    }
    //End PI
    //Pick DO
    $("#btnPickDyeingOrder").click(function () {


        var sNo=$.trim($("#txtDyeingOrder").val());
        //if(_oDUClaimOrder.ParentDOID<=0)
        //{
        //    if(sNo==""){ alert("Type Order No to search."); return ; }
        //}

        var oDUClaimOrder = {
            ParentDONo:sNo,
            DUClaimOrderID:(_oDUClaimOrder!=null && _oDUClaimOrder.DUClaimOrderID>0)? _oDUClaimOrder.DUClaimOrderID:0,
            DyeingOrderID:_oDUClaimOrder.DyeingOrderID,
            ExportPIID:_oDUClaimOrder.ExportPIID,
            ParentDOID:_oDUClaimOrder.ParentDOID,
            OrderType:parseInt($("#cboOrderType").val())
        };
        GetsDyeingOrders(oDUClaimOrder);
    });
    $("#txtDyeingOrder").keydown(function (e) {
        var nkeyCode = e.keyCode || e.which;
        if(nkeyCode==13){
            var sNo=$.trim($("#txtDyeingOrder").val());
            debugger;

            if(sNo==""){ alert("Type Order No to search."); return ; }
            var oDUClaimOrder = {
                ParentDONo:sNo,
                DUClaimOrderID:(_oDUClaimOrder!=null && _oDUClaimOrder.DUClaimOrderID>0)? _oDUClaimOrder.DUClaimOrderID:0,
                DyeingOrderID:_oDUClaimOrder.DyeingOrderID,
                ExportPIID:_oDUClaimOrder.ExportPIID,
                ParentDOID:_oDUClaimOrder.ParentDOID,
                OrderType:parseInt($("#cboOrderType").val())
            };
            GetsDyeingOrders(oDUClaimOrder);
        }
        else if(nkeyCode==8){
            $("#txtDyeingOrder").val("");
            _oDUClaimOrder.ParentDOID=0;
            _oDUClaimOrder.ExportPIID=0;

        }
    });
    $("#btnResetDyeingOrder").click(function () {
        $("#txtDyeingOrder").val("");
        _oDUClaimOrder.ExportPIID=0;
        _oDUClaimOrder.ParentDOID=0;
        _oDUClaimOrder.OrderType=0;
    });
    function GetsDyeingOrders(oDUClaimOrder){


        var obj = {
            BaseAddress: _sBaseAddress,
            Object: oDUClaimOrder,
            ControllerName: "DUClaimOrder",
            ActionName: "GetDyeingOrders",
            IsWinClose: false
        };
        $("#progressbar").progressbar({ value: 0 });
        $("#progressbarParent").show();
        var intervalID = setInterval(updateProgress, 250);
        $.icsDataGets(obj, function (response) {
            clearInterval(intervalID);
            $("#progressbarParent").hide();
            if (response.status && response.objs.length > 0)
            {
                if (response.objs[0].ParentDOID > 0) {
                    debugger;
                    var tblColums = [];
                    var oColumn = { field: "ParentDONo", title: "Order No", width: 140, align: "left" };tblColums.push(oColumn);
                    oColumn = { field: "Qty", title: "Qty", width: 80, align: "right" };tblColums.push(oColumn);
                    oColumn = { field: "ContractorName", title: "Buyer", width: 100, align: "left" };tblColums.push(oColumn);
                    oColumn = { field: "PINo", title: "P/I No", width: 80, align: "left" };tblColums.push(oColumn);
                    var oPickerParam = {
                        winid: 'winDyeingOrderPicker',
                        winclass:'clsDyeingOrderPicker',
                        winwidth: 450,
                        winheight: 460,
                        tableid: 'tblDyeingOrderPicker',
                        tablecolumns: tblColums,
                        datalist: response.objs,
                        multiplereturn: false,
                        searchingbyfieldName:'OrderNoFull',
                        windowTittle: 'Order List'
                    };
                    $.icsPicker(oPickerParam);
                    IntializePickerbutton(oPickerParam);//multiplereturn, winclassName
                }
                else { alert(response.objs[0].ErrorMessage); }
            }
            else{
                alert("Data not found.");
            }
        });

    }
    //End DO
    //Pick DO Detail
    $("#btnPickDODetails").click(function () {


        if(_oDUClaimOrder.ParentDOID<=0)
        { alert("First pick  Order."); return ; }

        var oDUClaimOrder = {
            ParentDOID:_oDUClaimOrder.ParentDOID
        };
        GetsDyeingOrderDetails(oDUClaimOrder);
    });


    function GetsDyeingOrderDetails(oDUClaimOrder){

        endEditing();
        var obj = {
            BaseAddress: _sBaseAddress,
            Object: oDUClaimOrder,
            ControllerName: "DUClaimOrder",
            ActionName: "GetDyeingOrderDetails",
            IsWinClose: false
        };
        $("#progressbar").progressbar({ value: 0 });
        $("#progressbarParent").show();
        var intervalID = setInterval(updateProgress, 250);
        $.icsDataGets(obj, function (response) {
            clearInterval(intervalID);
            $("#progressbarParent").hide();
            if (response.status && response.objs.length > 0)
            {
                if (response.objs[0].ParentDODetailID > 0) {
                    debugger;
                    var tblColums = [];
                    var oColumn = { field: "ProductName", title: "Yarn Type", width: 100, align: "left" };tblColums.push(oColumn);
                    oColumn = { field: "ColorName", title: "Color", width: 150, align: "left" };tblColums.push(oColumn);
                    oColumn = { field: "ColorNo", title: "ColorNo", width: 80, align: "left" };tblColums.push(oColumn);
                    oColumn = { field: "OrderQty", title: "Order Qty", width: 50, align: "right" };tblColums.push(oColumn);
                    oColumn = { field: "LabdipNo", title: "LabdipNo", width: 80, align: "left" };tblColums.push(oColumn);
                    oColumn = { field: "ShadeSt", title: "Shade", width: 30, align: "left" };tblColums.push(oColumn);
                    var oPickerParam = {
                        winid: 'winDyeingOrderDetailPicker',
                        winclass:'clsDyeingOrderDetailPicker',
                        winwidth: 700,
                        winheight: 460,
                        tableid: 'tblDyeingOrderDetailPicker',
                        tablecolumns: tblColums,
                        datalist: response.objs,
                        multiplereturn: true,
                        searchingbyfieldName:'OrderNoFull',
                        windowTittle: 'Order List'
                    };
                    $.icsPicker(oPickerParam);
                    IntializePickerbutton(oPickerParam);//multiplereturn, winclassName
                }
                else { alert(response.objs[0].ErrorMessage); }
            }
            else{
                alert("Data not found.");
            }
        });

    }
    $("#btnPickReturnChallanDetail").click(function () {


        //if(_oDUClaimOrder.ParentDOID<=0)
        //{ alert("First pick  Order."); return ; }

        var oDUClaimOrder = {
            ParentDOID:_oDUClaimOrder.ParentDOID
        };
        GetsDUReturnChallanDetails(oDUClaimOrder);
    });
    function GetsDUReturnChallanDetails(oDUClaimOrder){

        endEditing();
        var obj = {
            BaseAddress: _sBaseAddress,
            Object: oDUClaimOrder,
            ControllerName: "DUClaimOrder",
            ActionName: "GetsDUReturnChallanDetails",
            IsWinClose: false
        };
        $("#progressbar").progressbar({ value: 0 });
        $("#progressbarParent").show();
        var intervalID = setInterval(updateProgress, 250);
        $.icsDataGets(obj, function (response) {
            clearInterval(intervalID);
            $("#progressbarParent").hide();
            if (response.status && response.objs.length > 0)
            {
                if (response.objs[0].ParentDODetailID > 0) {
                    debugger;
                    var tblColums = [];
                    var oColumn = { field: "OrderNo", title: "Order No", width: 100, align: "left" };tblColums.push(oColumn);
                    oColumn = { field: "ProductName", title: "Yarn Type", width: 150, align: "left" };tblColums.push(oColumn);
                    oColumn = { field: "ColorName", title: "ColorName", width: 150, align: "left" };tblColums.push(oColumn);
                    oColumn = { field: "ColorNo", title: "ColorNo", width: 80, align: "left" };tblColums.push(oColumn);
                    oColumn = { field: "OrderQty", title: "Order Qty", width: 50, align: "right" };tblColums.push(oColumn);
                    oColumn = { field: "Qty", title: "Qty", width: 50, align: "right" };tblColums.push(oColumn);
                    oColumn = { field: "ShadeSt", title: "Shade", width: 30, align: "left" };tblColums.push(oColumn);
                    var oPickerParam = {
                        winid: 'winDUReturnChallanDetailPicker',
                        winclass:'clsDUReturnChallanDetailPicker',
                        winwidth: 700,
                        winheight: 460,
                        tableid: 'tblDUReturnChallanDetailPicker',
                        tablecolumns: tblColums,
                        datalist: response.objs,
                        multiplereturn: true,
                        searchingbyfieldName:'OrderNoFull',
                        windowTittle: 'Order List'
                    };
                    $.icsPicker(oPickerParam);
                    IntializePickerbutton(oPickerParam);//multiplereturn, winclassName
                }
                else { alert(response.objs[0].ErrorMessage); }
            }
            else{
                alert("Data not found.");
            }
        });

    }
    //End DO
    $("#btnPickDUReturnchallan").click(function () {
        debugger;

        var sNo=$.trim($("#txtDUReturnchallanNo").val());
        //if(_oDUClaimOrder.ParentDOID<=0)
        //{
        //    if(sNo==""){ alert("Type Order No to search."); return ; }
        //}

        var oDUClaimOrder = {
            ParentDONo:sNo,
            DUClaimOrderID:(_oDUClaimOrder!=null && _oDUClaimOrder.DUClaimOrderID>0)? _oDUClaimOrder.DUClaimOrderID:0,
            DyeingOrderID:(_oDUClaimOrder!=null && _oDUClaimOrder.DyeingOrderID>0)? _oDUClaimOrder.DyeingOrderID:0,//:_oDUClaimOrder.DyeingOrderID,
            ParentDOID:_oDUClaimOrder.ParentDOID,
            OrderType:parseInt($("#cboOrderType").val())
        };
        GetsReturnchallans(oDUClaimOrder);
    });
    $("#txtDUReturnchallanNo").keydown(function (e) {
        var nkeyCode = e.keyCode || e.which;
        if(nkeyCode==13){
            var sNo=$.trim($("#txtDUReturnchallanNo").val());
            debugger;

            if(sNo==""){ alert("Type Order No to search."); return ; }
            var oDUClaimOrder = {
                ParentDONo:sNo,
                DUClaimOrderID:(_oDUClaimOrder!=null && _oDUClaimOrder.DUClaimOrderID>0)? _oDUClaimOrder.DUClaimOrderID:0,
                DyeingOrderID:(_oDUClaimOrder!=null && _oDUClaimOrder.DyeingOrderID>0)? _oDUClaimOrder.DyeingOrderID:0,
                ParentDOID:_oDUClaimOrder.ParentDOID,
                OrderType:parseInt($("#cboOrderType").val())
            };
            GetsReturnchallans(oDUClaimOrder);
        }
        else if(nkeyCode==8){
            $("#txtDUReturnchallanNo").val("");
            _oDUClaimOrder.DUReturnChallanID=0;

        }
    });
    $("#btnResetDUReturnchallan").click(function () {
        $("#txtDUReturnchallanNo").val("");
        _oDUClaimOrder.DUReturnChallanID=0;
       
    });
    function GetsReturnchallans(oDUClaimOrder){


        var obj = {
            BaseAddress: _sBaseAddress,
            Object: oDUClaimOrder,
            ControllerName: "DUClaimOrder",
            ActionName: "GetDUReturnChallans",
            IsWinClose: false
        };
        $("#progressbar").progressbar({ value: 0 });
        $("#progressbarParent").show();
        var intervalID = setInterval(updateProgress, 250);
        $.icsDataGets(obj, function (response) {
            clearInterval(intervalID);
            $("#progressbarParent").hide();
            if (response.status && response.objs.length > 0)
            {
                if (response.objs[0].DUReturnChallanID > 0) {
                    debugger;
                    var tblColums = [];
                    var oColumn = { field: "DUReturnChallanNo", title: "Return Challan No", width: 140, align: "left" };tblColums.push(oColumn);
                    //oColumn = { field: "Qty", title: "Qty", width: 80, align: "right" };tblColums.push(oColumn);
                    oColumn = { field: "ContractorName", title: "Buyer", width: 100, align: "left" };tblColums.push(oColumn);
                    //oColumn = { field: "PINo", title: "P/I No", width: 80, align: "left" };tblColums.push(oColumn);
                    var oPickerParam = {
                        winid: 'winDUReturnChallanPicker',
                        winclass:'clsDUReturnChallanPicker',
                        winwidth: 450,
                        winheight: 460,
                        tableid: 'tblDUReturnChallanPicker',
                        tablecolumns: tblColums,
                        datalist: response.objs,
                        multiplereturn: false,
                        searchingbyfieldName:'DUReturnChallanNo',
                        windowTittle: 'Return Challan List'
                    };
                    $.icsPicker(oPickerParam);
                    IntializePickerbutton(oPickerParam);//multiplereturn, winclassName
                }
                else { alert(response.objs[0].ErrorMessage); }
            }
            else{
                alert("Data not found.");
            }
        });

    }

    function IntializePickerbutton(oPickerobj) {
        $("#" + oPickerobj.winid).find("#btnOk").click(function () {
            //for Single Select
            SetPickerValueAssign(oPickerobj);
        });
        $(document).find('.' + oPickerobj.winclass).keydown(function (e) {
            if (e.which == 13)//enter=13
            {
                SetPickerValueAssign(oPickerobj);

            }
        });
    }

    function SetPickerValueAssign(oPickerobj) {
        debugger;
        var oreturnObj = null, oreturnobjs = [];
        if (oPickerobj.multiplereturn) {
            oreturnobjs = $('#' + oPickerobj.tableid).datagrid('getChecked');
        } else {
            oreturnObj = $('#' + oPickerobj.tableid).datagrid('getSelected');
        }
        $("#" + oPickerobj.winid).icsWindow("close");
        $("#" + oPickerobj.winid).remove();


        if (oPickerobj.winid=='winExportPIPicker')
         {
             if(oreturnObj!=null && parseInt(oreturnObj.ExportPIID)>0)
             {
                 debugger;
                 var txtExportPINo = document.getElementById("txtExportPINo");
                 txtExportPINo.style.color = "blue";
                 txtExportPINo.style.fontWeight = "bold";
                 $('#txtExportPINo').val(oreturnObj.PINo);
                 oreturnObj.DUClaimOrderID=(_oDUClaimOrder!=null && _oDUClaimOrder.DUClaimOrderID>0)? _oDUClaimOrder.DUClaimOrderID:0;
                 oreturnObj.DyeingOrderID=(_oDUClaimOrder!=null && _oDUClaimOrder.DyeingOrderID>0)? _oDUClaimOrder.DyeingOrderID:0;
                 //oreturnObj.ParentDOID=(oreturnObj!=null && oreturnObj.ParentDOID>0)? oreturnObj.OrderID:_oDUClaimOrder.OrderID;
                 RefreshControl(oreturnObj);
                 $('#txtDyeingOrder').val("");
                 $('#txtDyeingOrder').focus();
                 $('#txtDyeingOrder').addClass("errorFieldBorder");
                 _oDUClaimOrder.ParentDOID=0;
             }
             else
             {
                 alert("Data Not Found.");
             }
         }
         else if (oPickerobj.winid=='winDyeingOrderPicker')
         {
             if(oreturnObj!=null && parseInt(oreturnObj.ParentDOID)>0)
             {
                 debugger;
                 var txtNo = document.getElementById("txtDyeingOrder");
                 txtNo.style.color = "blue";
                 txtNo.style.fontWeight = "bold";
                 $('#txtExportPINo').val(oreturnObj.PINo);
                 $('#txtDyeingOrder').val(oreturnObj.ParentDONo);
                 oreturnObj.DUClaimOrderID=(_oDUClaimOrder!=null && _oDUClaimOrder.DUClaimOrderID>0)? _oDUClaimOrder.DUClaimOrderID:0;
                 oreturnObj.DyeingOrderID=(_oDUClaimOrder!=null && _oDUClaimOrder.DyeingOrderID>0)? _oDUClaimOrder.DyeingOrderID:0;

                // oreturnObj.OrderID==(oreturnObj!=null && oreturnObj.OrderID>0)? oreturnObj.OrderID:_oDUClaimOrder.OrderID;

                 //alert(oreturnObj.OrderID);
                 RefreshControl(oreturnObj);
             }
             else
             {
                 alert("Data Not Found.");
             }
         }
         else if (oPickerobj.winid=='winDUReturnChallanPicker')
         {
             if(oreturnObj!=null && parseInt(oreturnObj.DUReturnChallanID)>0)
             {
                 debugger;
                 var txtNo = document.getElementById("txtDUReturnchallanNo");
                 txtNo.style.color = "blue";
                 txtNo.style.fontWeight = "bold";
                 $('#txtDUReturnchallanNo').val(oreturnObj.DUReturnChallanNo);
                 //$('#txtDyeingOrder').val(oreturnObj.ParentDONo);
                 oreturnObj.DUClaimOrderID=(_oDUClaimOrder!=null && _oDUClaimOrder.DUClaimOrderID>0)? _oDUClaimOrder.DUClaimOrderID:0;
                 oreturnObj.DyeingOrderID=(_oDUClaimOrder!=null && _oDUClaimOrder.DyeingOrderID>0)? _oDUClaimOrder.DyeingOrderID:0;

                 // oreturnObj.OrderID==(oreturnObj!=null && oreturnObj.OrderID>0)? oreturnObj.OrderID:_oDUClaimOrder.OrderID;

                 //alert(oreturnObj.OrderID);
                 RefreshControl(oreturnObj);
                 GetsDUReturnChallanDetail(oreturnObj);
             }
             else
             {
                 alert("Data Not Found.");
             }
         }

         else if (oPickerobj.winid == 'winDyeingOrderDetailPicker')
        {
            if (oreturnobjs.length > 0)
            {
                debugger;
                for (i=0; i<oreturnobjs.length;i++)
                {
                    oreturnobjs[i].Qty=oreturnobjs[i].OrderQty;
                    $('#tblDUClaimOrderDetail').datagrid('appendRow', oreturnobjs[i]);
                }
                endEditing();
                RefreshSummary();
            }
            else{
                alert("Data Not Found.");
                return;
            }
         }
         else if (oPickerobj.winid == 'winDUReturnChallanDetailPicker')
         {
             if (oreturnobjs.length > 0)
             {
                 debugger;
                 for (i=0; i<oreturnobjs.length;i++)
                 {
                     $('#tblDUClaimOrderDetail').datagrid('appendRow', oreturnobjs[i]);
                 }
                 endEditing();
                 RefreshSummary();
             }
             else{
                 alert("Data Not Found.");
                 return;
             }
         }
    }
    function GetsDUReturnChallanDetail(oDUClaimOrder) {
        var obj =
            {
                BaseAddress: _sBaseAddress,
                Object: oDUClaimOrder,
                ControllerName: "DUClaimOrder",
                ActionName: "GetsDUReturnChallanDetails",
                IsWinClose: false
            };
        GetDURCDetail(obj)
    }
    function GetDURCDetail(obj) {
    
       
        $.icsDataGets(obj, function (response) {

                    
            if (response.status && response.objs.length > 0) {
                var oDUClaimOrderDetails = response.objs;
                if (oDUClaimOrderDetails != null && oDUClaimOrderDetails.length > 0 && oDUClaimOrderDetails[0].ParentDODetailID > 0)
                {
                    for (i=0; i<oDUClaimOrderDetails.length;i++)
                    {
                        _oDUClaimOrder.ParentDOID= oDUClaimOrderDetails[i].ParentDOID;
                        $("#txtDyeingOrder").val(oDUClaimOrderDetails[i].OrderNo);
                        $('#tblDUClaimOrderDetail').datagrid('appendRow', oDUClaimOrderDetails[i]);
                    }
                    endEditing();
                    RefreshSummary();
                }
              
            }
            
        });
    }

    function RefreshObject()
    {
        var oDUClaimOrder={
            DUClaimOrderID: (_oDUClaimOrder!=null && _oDUClaimOrder.DUClaimOrderID>0)? _oDUClaimOrder.DUClaimOrderID:0,
            DyeingOrderID: (_oDUClaimOrder!=null && _oDUClaimOrder.DyeingOrderID>0)? _oDUClaimOrder.DyeingOrderID:0,
            OrderDate: $('#txtDate').datebox('getValue'),
            ParentDOID:_oDUClaimOrder.ParentDOID,
            ExportPIID:_oDUClaimOrder.ExportPIID,
            OrderType: parseInt($("#cboOrderType").val()),
            PaymentType:parseInt($('#cboPaymentType').val()),
            Note:$.trim($('#txtNote').val()),
            BUID:sessionStorage.getItem("BUID"),
            IsRevise:false,
            ClaimType: $('#cboClaimType').val(),
            DUReturnChallanID:_oDUClaimOrder.DUReturnChallanID,
            DUClaimOrderDetails:$('#tblDUClaimOrderDetail').datagrid('getRows')
        };
        return oDUClaimOrder;
    }

    $("#btnSave").click(function (){

        endEditing();
        if(!Validation()) return false;

        debugger;
        var oDUClaimOrder=RefreshObject();
        if(oDUClaimOrder.ParentDOID<=0)
        {
            $('#cboOrderType').focus();
            $('#cboOrderType').addClass("errorFieldBorder");
            alert('Order Type or Order No required. ll');
            return ;
        }


        $.ajax({
            type: "POST",
            dataType: "json",
            url : _sBaseAddress+"/DUClaimOrder/Save",
            traditional: true,
            data:  JSON.stringify(oDUClaimOrder),
            contentType: "application/json; charset=utf-8",
            success: function (data) {
                debugger;
                var oARS= jQuery.parseJSON(data);
                if (oARS.ErrorMessage=="" || oARS.ErrorMessage==null)
                {
                    _oDUClaimOrder=oARS;
                    alert("Data Save Succesfully!!");
                    //if(_oPurchaseOrder.PurchaseOrderDetails!=null)
                    //{
                    //    DynamicRefreshList(_oPurchaseOrder.PurchaseOrderDetails, 'tblPODetail');
                    //}

                    var oDUClaimOrders =sessionStorage.getItem("DUClaimOrders");
                    var nIndex= parseInt(sessionStorage.getItem("SelectedRowIndex"));
                    debugger;
                    if(oDUClaimOrders!=null)
                    {
                        oDUClaimOrders = jQuery.parseJSON(oDUClaimOrders);
                    }
                    else
                    {
                        oDUClaimOrders=[];
                    }
                    if(nIndex!=-1)
                    {
                        oDUClaimOrders[nIndex]=_oDUClaimOrder;
                    }
                    else
                    {
                        sessionStorage.setItem("SelectedRowIndex", oDUClaimOrders.length);
                        oDUClaimOrders.push(_oDUClaimOrder);
                    }
                    sessionStorage.setItem("DUClaimOrders", JSON.stringify(oDUClaimOrders));
                    window.location.href = _sBackLink;
                }
                else
                {
                    alert(oARS.ErrorMessage);
                }
            },
            error: function (xhr, status, error)
            {
                alert(error);
            }
        });
    });
    $("#btnSave_Revise").click(function (){


        if(_oDUClaimOrder==null || _oDUClaimOrder.DUClaimOrderID<=0 )
        {
            $('#btnSave_Revise').focus();
            $('#btnSave_Revise').addClass("errorFieldBorder");
            alert('Invalid Order.Please Select a valid Order');
            return false;
        }
        else{
            $('#cboClaimType').removeClass("errorFieldBorder");
        }

        if(_oDUClaimOrder.ParentDOID<=0)
        {
            $('#cboOrderType').focus();
            $('#cboOrderType').addClass("errorFieldBorder");
            alert('Order Type or Order No required.');
            return ;
        }


        endEditing();
        if(!Validation()) return false;

        debugger;
        var oDUClaimOrder=RefreshObject();
        if ($("#chkIsCreateReviseNo").is(':checked'))
        {
            oDUClaimOrder.IsRevise=true;

            if (!confirm("Confirm to Change this Order with Revise No ?")) return false;
        }else{
            oDUClaimOrder.IsRevise=false;
            if (!confirm("Confirm to Change this Order without Revise No ?")) return false;
        }
        $.ajax({
            type: "POST",
            dataType: "json",
            url : _sBaseAddress+"/DUClaimOrder/Save_Log",
            traditional: true,
            data:  JSON.stringify(oDUClaimOrder),
            contentType: "application/json; charset=utf-8",
            success: function (data) {
                debugger;
                var oARS= jQuery.parseJSON(data);
                if (oARS.ErrorMessage=="" || oARS.ErrorMessage==null)
                {
                    _oDUClaimOrder=oARS;
                    alert("Data Save Succesfully!!");
                    //if(_oPurchaseOrder.PurchaseOrderDetails!=null)
                    //{
                    //    DynamicRefreshList(_oPurchaseOrder.PurchaseOrderDetails, 'tblPODetail');
                    //}

                    var oDUClaimOrders =sessionStorage.getItem("DUClaimOrders");
                    var nIndex= parseInt(sessionStorage.getItem("SelectedRowIndex"));
                    debugger;
                    if(oDUClaimOrders!=null)
                    {
                        oDUClaimOrders = jQuery.parseJSON(oDUClaimOrders);
                    }
                    else
                    {
                        oDUClaimOrders=[];
                    }
                    if(nIndex!=-1)
                    {
                        oDUClaimOrders[nIndex]=_oDUClaimOrder;
                    }
                    else
                    {
                        sessionStorage.setItem("SelectedRowIndex", oDUClaimOrders.length);
                        oDUClaimOrders.push(_oDUClaimOrder);
                    }
                    sessionStorage.setItem("DUClaimOrders", JSON.stringify(oDUClaimOrders));
                    window.location.href = _sBackLink;
                }
                else
                {
                    alert(oARS.ErrorMessage);
                }
            },
            error: function (xhr, status, error)
            {
                alert(error);
            }
        });
    });




    $('#btnClose').click(function(e){
        window.location.href = sessionStorage.getItem("BackLink");
    });


    $("#btnRemoveDetail").click(function () {

        var oDUClaimOrderDetail = $("#tblDUClaimOrderDetail").datagrid("getSelected");
        if (oDUClaimOrderDetail == null) { alert("Please select an item from list!"); return false; }

        if (!confirm("Confirm to Remove?")) return;
        var SelectedRowIndex = $('#tblDUClaimOrderDetail').datagrid('getRowIndex', oDUClaimOrderDetail);
        $('#tblDUClaimOrderDetail').datagrid('deleteRow',SelectedRowIndex);
        RefreshSummary();

        editIndex = undefined;


        ///
        //var oDUClaimOrderDetail = $("#tblDUClaimOrderDetail").datagrid("getSelected");
        //if (oDUClaimOrderDetail == null) { alert("Please select an item from list!"); return false; }
        //var nIndex=$('#tblDUClaimOrderDetail').datagrid('getRowIndex',oDUClaimOrderDetail);
        //if (!confirm("Confirm to Delete?")) return false;
        //$("#tblDUClaimOrderDetail").datagrid("deleteRow", nIndex);

        //var  oDUClaimOrderDetails = $("#tblDUClaimOrderDetail").datagrid("getRows");
        //DynamicRefreshList([], 'tblDUClaimOrderDetail');
        //DynamicRefreshList(oDUClaimOrderDetails, 'tblDUClaimOrderDetail');

        //if(oDUClaimOrderDetail.DUClaimOrderDetailID<=0 || oDUClaimOrderDetail.DUClaimOrderDetailID==null)
        //{
        //    $("#tblDUClaimOrderDetail").datagrid("deleteRow", nIndex);
        //}
        //else
        //{
        //    var obj =
        //             {
        //                 BaseAddress: _sBaseAddress,
        //                 Object: oDUClaimOrderDetail,
        //                 ControllerName: "DUClaimOrder",
        //                 ActionName: "DeleteDetail",
        //                 TableId: "tblDUClaimOrderDetail",
        //                 IsWinClose: false
        //             };
        //    $.icsDelete(obj);
        //}
        //RefreshSummary();
    });

    function RefreshSummary()
    {
        var oARDetail = $('#tblDUClaimOrderDetail').datagrid('getRows');
        var nTotalQty = 0;
        for(var i = 0; i<oARDetail.length;i++)
        {
            nTotalQty+=parseFloat(oARDetail[i].Qty);
        }
        document.getElementById('lblTotalQty').innerHTML = formatPrice(nTotalQty,0)+"LBS";
    }
    //////////// Detail ////////

    var editIndex = undefined;
    function endEditing() {
        if (editIndex == undefined) { return true }
        if ($('#tblDUClaimOrderDetail').datagrid('validateRow', editIndex)) {
            $('#tblDUClaimOrderDetail').datagrid('endEdit', editIndex);
            $('#tblDUClaimOrderDetail').datagrid('selectRow', editIndex);
            var oESCDetail = $('#tblDUClaimOrderDetail').datagrid('getSelected');

            debugger;
            $('#tblDUClaimOrderDetail').datagrid('updateRow', { index: editIndex, row: oESCDetail });

            RefreshSummary();
            editIndex = undefined;
            return true;
        }
        else {
            return false;
        }
    }

    function onClickRow(index) {

        if (editIndex != index) {
            if (endEditing()) {
                $('#tblDUClaimOrderDetail').datagrid('selectRow', index).datagrid('beginEdit', index);
                var oPRDetail= $('#tblDUClaimOrderDetail').datagrid('getSelected');

                editIndex = index;
            }
            else {
                $('#tblDUClaimOrderDetail').datagrid('selectRow', editIndex);
            }
        }
    }


    $('#btnApprove').click(function () {

        debugger;
        if (_oDUClaimOrder ==null || _oDUClaimOrder.DUClaimOrderID <=0 ) { alert("Please select an item from list."); return ; }

        if( _oDUClaimOrder.ApproveBy!=0)
        {
            alert("Already Approve.");
            return;
        }
        if( _oDUClaimOrder.CheckedBy==0)
        {
            alert("Already yet not verified.");
            return;
        }
        var conf = confirm("Are you sure you want to Approve ?");
        if(conf==false)return;
        _oDUClaimOrder.Note_Approve= $('#txtComment').val();

        $.ajax({
            type: "POST",
            dataType: "json",

            url : _sBaseAddress+  "/DUClaimOrder/Approve",
            traditional: true,
            data:  JSON.stringify(_oDUClaimOrder),

            contentType: "application/json; charset=utf-8",
            success: function (data) {
                debugger;
                var oDUDO = jQuery.parseJSON(data);
                if (oDUDO.ErrorMessage=="" || oDUDO.ErrorMessage==null)
                {
                    _oDUClaimOrder=oDUDO;
                    alert("Data Save Succesfully!!");
                    //if(_oPurchaseOrder.PurchaseOrderDetails!=null)
                    //{
                    //    DynamicRefreshList(_oPurchaseOrder.PurchaseOrderDetails, 'tblPODetail');
                    //}

                    var oDUClaimOrders =sessionStorage.getItem("DUClaimOrders");
                    var nIndex= parseInt(sessionStorage.getItem("SelectedRowIndex"));
                    debugger;
                    if(oDUClaimOrders!=null)
                    {
                        oDUClaimOrders = jQuery.parseJSON(oDUClaimOrders);
                    }
                    else
                    {
                        oDUClaimOrders=[];
                    }
                    if(nIndex!=-1)
                    {
                        oDUClaimOrders[nIndex]=_oDUClaimOrder;
                    }
                    else
                    {
                        sessionStorage.setItem("SelectedRowIndex", oDUClaimOrders.length);
                        oDUClaimOrders.push(_oDUClaimOrder);
                    }
                    sessionStorage.setItem("DUClaimOrders", JSON.stringify(oDUClaimOrders));
                    window.location.href = _sBackLink;
                }
                else
                {
                    alert(oDUDO.ErrorMessage);
                }
            },
            error: function (xhr, status, error) {
                alert(error);
            }
        });

    });
    $('#btnChecked').click(function () {
        debugger;
        if (_oDUClaimOrder ==null || _oDUClaimOrder.DUClaimOrderID <=0 ) { alert("Please select an item from list."); return ; }

        if( _oDUClaimOrder.ApproveBy!=0)
        {
            alert("Already Approve.");
            return;
        }
        var conf = confirm("Are you sure you want to confirm verify this order  ?");
        if(conf==false)return;
        _oDUClaimOrder.Note_Checked= $('#txtComment').val();
        $.ajax({
            type: "POST",
            dataType: "json",

            url : _sBaseAddress+  "/DUClaimOrder/Checked",
            traditional: true,
            data:  JSON.stringify(_oDUClaimOrder),

            contentType: "application/json; charset=utf-8",
            success: function (data) {
                debugger;
                var oDUDO = jQuery.parseJSON(data);
                if (oDUDO.ErrorMessage=="" || oDUDO.ErrorMessage==null)
                {
                    _oDUClaimOrder=oDUDO;
                    alert("Data Save Succesfully!!");
                    //if(_oPurchaseOrder.PurchaseOrderDetails!=null)
                    //{
                    //    DynamicRefreshList(_oPurchaseOrder.PurchaseOrderDetails, 'tblPODetail');
                    //}

                    var oDUClaimOrders =sessionStorage.getItem("DUClaimOrders");
                    var nIndex= parseInt(sessionStorage.getItem("SelectedRowIndex"));
                    debugger;
                    if(oDUClaimOrders!=null)
                    {
                        oDUClaimOrders = jQuery.parseJSON(oDUClaimOrders);
                    }
                    else
                    {
                        oDUClaimOrders=[];
                    }
                    if(nIndex!=-1)
                    {
                        oDUClaimOrders[nIndex]=_oDUClaimOrder;
                    }
                    else
                    {
                        sessionStorage.setItem("SelectedRowIndex", oDUClaimOrders.length);
                        oDUClaimOrders.push(_oDUClaimOrder);
                    }
                    sessionStorage.setItem("DUClaimOrders", JSON.stringify(oDUClaimOrders));
                    window.location.href = _sBackLink;
                }
                else
                {
                    alert(oDUDO.ErrorMessage);
                }
            },
            error: function (xhr, status, error) {
                alert(error);
            }
        });

    });





    $('#btnPrint').click(function (e)
    {

        if (_oDUClaimOrder ==null || _oDUClaimOrder.DUClaimOrderID <=0 ) { alert("Please select an item from list."); return ; }
        var tsv=((new Date()).getTime())/1000;
        window.open(_sBaseAddress+ "/DUClaimOrder/PrintDUClaimOrder?nId="+_oDUClaimOrder.DUClaimOrderID+"&nts="+tsv, "_blank");

    });
    $("#btnRefresh").click(function () {
        endEditing();
    });
    //// Detail-///
    $("#btnEditDetail").click(function () {
        debugger;

        //RefreshComboBoxes();

        _oDUClaimOrderDetail = $("#tblDUClaimOrderDetail").datagrid("getSelected");
        //if (oDUClaimOrderDetail == null || oDUClaimOrderDetail.DUClaimOrderDetailID <= 0) { alert("Please select an item from list!"); return false; }
        _nSelectedRowIndex=$('#tblDUClaimOrderDetail').datagrid('getRowIndex',_oDUClaimOrderDetail);
        RefreshControlDetail(_oDUClaimOrderDetail);
        $("#winDUClaimOrderDetail").icsWindow('open', "Color Information");

    });
    function RefreshControlDetail(oDUClaimOrderDetail)
    {
        debugger;
        document.getElementById("cboLabDipType").disabled = true;
        document.getElementById("cboShade").disabled = true;
        document.getElementById("cboHankorCone").disabled = true;
        document.getElementById("txtShade").disabled = true;
        $("#txtUnitPriceInOne,#txtUnitPriceInTwo,#cboLabDipType,#txtProduct,#txtColorNo,#txtLabdipNo,#txtColorDevProduct,#txtBuyerRef_PCol,#txtApproveLotNo" ).prop({disabled:true});

        $('#txtQtyInOne').val(parseFloat(oDUClaimOrderDetail.Qty).toFixed(4));
        //$('#txtQtyInTwo').val(parseFloat(oDUClaimOrderDetail.Qty).toFixed(2));
        $('#txtUnitPriceInOne').val(parseFloat(oDUClaimOrderDetail.UnitPrice).toFixed(4));
        //$('#txtUnitPriceInTwo').val(parseFloat(oDUClaimOrderDetail.UnitPrice).toFixed(2));
        $('#txtProduct').val(oDUClaimOrderDetail.ProductName);

        $('#txtApproveLotNo').val(oDUClaimOrderDetail.ApproveLotNo);
        $('#txtColorDevProduct').val(oDUClaimOrderDetail.ColorDevelopProduct);
        $('#txtNoteDetail').val(oDUClaimOrderDetail.Note);
        $('#txtLabdipNo').val(oDUClaimOrderDetail.LabdipNo);
        $('#cboLabDipType').val(oDUClaimOrderDetail.LabDipType);
        $('#cboShade').val(oDUClaimOrderDetail.Shade);
        $('#txtColorName').val(oDUClaimOrderDetail.ColorName);
        $('#txtBuyerRef_PCol').val(oDUClaimOrderDetail.BuyerRef);
        $('#txtColorNo').val(oDUClaimOrderDetail.ColorNo);
        $('#txtPantonNo').val(oDUClaimOrderDetail.PantonNo);
        $('#cboHankorCone').val(oDUClaimOrderDetail.HankorCone);
        $('#cboClaimReason').val(oDUClaimOrderDetail.ClaimReasonID),
        $('#txtNoOfCone_Weft').val(oDUClaimOrderDetail.NoOfCone_Weft);
        $('#txtNoOfCone').val(oDUClaimOrderDetail.NoOfCone);
        $('#txtBatchNo').val(oDUClaimOrderDetail.BatchNo);
        $('#txtChallanNo').val(oDUClaimOrderDetail.ChallanNo);

        if (oDUClaimOrderDetail.DeliveryDateSt != "") {
            $('#txtDeliveryDate').datebox('setValue', oDUClaimOrderDetail.DeliveryDateSt);
        }

        var nQtyInOne =$('#txtUnitPriceInOne').val();//icsRemoveComma($('#txtUnitPriceInOne').val());
        var nQtyInTwo= parseFloat(nQtyInOne/_oMUnitCon.Value).toFixed(10);
        $('#txtUnitPriceInTwo').val(nQtyInTwo);

        ConvertIntoKg_Qty();

    }


    $("#btnRemoveDetail").click(function () {

        var oDUClaimOrderDetail = $("#tblDUClaimOrderDetail").datagrid("getSelected");
        if (oDUClaimOrderDetail == null) { alert("Please select an item from list!"); return false; }
        var nIndex=$('#tblDUClaimOrderDetail').datagrid('getRowIndex',oDUClaimOrderDetail);
        if (!confirm("Confirm to Delete?")) return false;
        $("#tblDUClaimOrderDetail").datagrid("deleteRow", nIndex);
        RefreshSummary();
    });

    function RefreshObjectDetail(){

        var ocboLabDipType = document.getElementById("cboLabDipType");
        var sLabDipType = ocboLabDipType.options[ocboLabDipType.selectedIndex].text;
        var cboShade = document.getElementById("cboShade");
        var sShade = cboShade.options[cboShade.selectedIndex].text;



        var   oDUClaimOrderDetail= {
            DUClaimOrderDetailID :(_oDUClaimOrderDetail!=null && _oDUClaimOrderDetail.DUClaimOrderDetailID>0)? _oDUClaimOrderDetail.DUClaimOrderDetailID:0,
            DyeingOrderDetailID :(_oDUClaimOrderDetail!=null && _oDUClaimOrderDetail.DyeingOrderDetailID>0)? _oDUClaimOrderDetail.DyeingOrderDetailID:0,
            ParentDODetailID  :(_oDUClaimOrderDetail!=null && _oDUClaimOrderDetail.ParentDODetailID>0)? _oDUClaimOrderDetail.ParentDODetailID:0,
            DUClaimOrderID:(_oDUClaimOrder!=null && _oDUClaimOrder.DUClaimOrderID>0)? _oDUClaimOrder.DUClaimOrderID:0,
            LabDipDetailID:(_oDUClaimOrderDetail!=null && _oDUClaimOrderDetail.LabDipDetailID>0)? _oDUClaimOrderDetail.LabDipDetailID:0,
            ProductID :(_oDUClaimOrderDetail!=null && _oDUClaimOrderDetail.ProductID>0)? _oDUClaimOrderDetail.ProductID:0,
            ProductName: $('#txtProduct').val(),
            ProductNameCode: $('#txtProduct').val(),
            Shade: $('#cboShade').val(),
            ShadeSt:sShade,
            LabDipType: $('#cboLabDipType').val(),
            LabDipTypeSt: sLabDipType,
            LabdipNo:"",
            ColorName: $('#txtColorName').val(),
            BuyerRef: $('#txtBuyerRef_PCol').val(),
            ApproveLotNo: $('#txtApproveLotNo').val(),
            ColorNo:$('#txtColorNo').val(),
            LDNo:$('#txtColorNo').val(),
            PantonNo:$('#txtPantonNo').val(),
            Qty: $('#txtQtyInOne').val(),
            UnitPrice: $('#txtUnitPriceInOne').val(),
            Amount:0,
            HankorCone:parseInt($('#cboHankorCone').val()),
            ClaimReasonID: $('#cboClaimReason').val(),
            BuyerCombo:0,
            NoOfCone: $('#txtNoOfCone').val(),
            BatchNo:  $('#txtBatchNo').val(),
            NoOfCone_Weft:'',
            ChallanNo: $('#txtChallanNo').val(),
            Note:$('#txtNoteDetail').val(),
            DeliveryDate:$('#txtDeliveryDate').datebox('getValue'),
            DeliveryDateSt: icsdateformat(new Date())
        };

        return oDUClaimOrderDetail;
    }

    $('#btnOk').click(function(e){
        debugger;
        //if(!ValidationDetail()) return false;
        var oDUClaimOrderDetail = RefreshObjectDetail();
        oDUClaimOrderDetail.Amount=(oDUClaimOrderDetail.Qty*oDUClaimOrderDetail.UnitPrice)
        //alert("Date Save Successfully");
            $('#tblDUClaimOrderDetail').datagrid('updateRow', { index: _nSelectedRowIndex, row: oDUClaimOrderDetail });
            $('#tblDUClaimOrderDetail').datagrid('selectRow', _nSelectedRowIndex);

        $("#winDUClaimOrderDetail").icsWindow('close');
        RefreshSummary();

    });
    $("#btnClose_DODetail").click(function () {
        debugger;

        $("#winDUClaimOrderDetail").icsWindow('close');
    });


    $("#txtQtyInOne").keyup(function (e){
        debugger;
        ConvertIntoKg_Qty();
    });
    $("#txtQtyInTwo").keyup(function (e){
        debugger;
        ConvertIntoLbs_Qty();
    });

    function ConvertIntoLbs_Qty()
    {
        var nQtyInTwo =$('#txtQtyInTwo').val();//icsRemoveComma($('#txtQtyInTwo').val());
        //var nQtyInOne= parseFloat(nQtyInTwo/0.45359237001003542909395360718511).toFixed(4);
        var nQtyInOne= parseFloat(nQtyInTwo/_oMUnitCon.Value).toFixed(4);
        $('#txtQtyInOne').val(nQtyInOne);
    }
    function ConvertIntoKg_Qty()
    {
        var nQtyInOne =$('#txtQtyInOne').val();  //icsRemoveComma($('#txtQtyInOne').val());
        var nQtyInTwo= parseFloat(nQtyInOne*_oMUnitCon.Value).toFixed(10);
        $('#txtQtyInTwo').val(nQtyInTwo);
    }

</script>