<html>
<head>
    <link href="@Url.Content("~/Content/CSS/icon.css")" rel="stylesheet" type="text/css" />
    <link href="@Url.Content("~/Content/CSS/easyui.css")" rel="stylesheet" type="text/css" />
    <link href="@Url.Content("~/Content/CSS/Pikerstyle.css")" rel="stylesheet" type="text/css" />

    <script src="@Url.Content("~/Scripts/jquery-1.7.1.min.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Scripts/jquery.ics.customize.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Scripts/jquery.easyui.min.js")" type="text/javascript"></script>

    <script src="@Url.Content("~/Scripts/jquery-ui.min.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Scripts/json2.js")" type="text/javascript"></script>

</head>
<body>

    @model ESimSol.BusinessObjects.ACCostCenter
    <div id="divACCostCenter" style="font-family:Tahoma;width:100%;height:100%;">
        <table border="0" cellspacing="2" cellpadding="2" style="width: 100%;">
            <tr>
                <td style="background-color:#CFB53B; text-align:center; width:100%; color:White">
                    <label id="lblHeaderName" style="font-size:15px; font-weight:bold; text-decoration:Underline"> Add Sub Ledger</label>
                </td>
            </tr>
        </table>
        <fieldset>
            <legend style="font-weight:bold"> Sub Ledger Informations : </legend>
            <table border="0" cellspacing="2" cellpadding="2" style="font-size:11px; font-weight:bold;width:100%;height:100%;">
                <tr>
                    <td style="width:40%; text-align:right">
                        Code :
                    </td>
                    <td style="width:60%">
                        @Html.TextBoxFor(model => model.Code, new { style = "width: 100%;", id = "txtCode", disabled = "disabled" })
                    </td>
                </tr>
                <tr>
                    <td style="width:40%; text-align:right">
                        Name :
                    </td>
                    <td style="width:60%">
                        @Html.TextBoxFor(model => model.Name, new { style = "width: 100%;", id = "txtName" })
                    </td>
                </tr>
                <tr id="trCategoryName">
                    <td style="width:40%; text-align:right">
                        Category :
                    </td>
                    <td style="width:60%">
                        @Html.TextBoxFor(model => model.CategoryName, new { style = "width: 100%;", id = "txtCategoryName", disabled = "disabled" })
                        @*@Html.DropDownListFor(m => m.ParentID, Model.ACCostCenters.Select(x => new SelectListItem() { Text = x.Name, Value = x.ACCostCenterID.ToString() }), new { id = "cboCCCategory", style = "width: 300px;" })*@
                    </td>
                </tr>

                <tr>
                    <td style="width:40%; text-align:right">
                        Description :
                    </td>
                    <td style="width:60%">
                        @Html.TextBoxFor(model => model.Description, new { style = "width: 100%;", id = "txtDescription" })
                    </td>
                </tr>
                <tr class="trIsCategoryBillRefApply">
                    <td style="font-size:12px; width:40%; text-align:right">Bill Referrence :</td>
                    <td style="font-size:12px; width:60%; text-align:left">
                        @Html.CheckBoxFor(model => model.IsBillRefApply, new { id = "chkIsBillRefApply", style = "width: 20px;" }) <label id="lblBill"> Applicable</label>
                    </td>
                </tr>
                <tr class="trIsCategoryChequeApply">
                    <td style="font-size:12px; width:40%; text-align:right">Cheque Referrence :</td>
                    <td style="font-size:12px; width:60%; text-align:left">
                        @Html.CheckBoxFor(model => model.IsChequeApply, new { id = "chkIsChequeApply", style = "width: 20px;" }) <label id="lblCheque"> Applicable</label>
                    </td>
                </tr>
            </table>
        </fieldset>

        <fieldset>
            <legend style="font-weight:bold"> Action : </legend>
            <table border="0" cellspacing="2" cellpadding="2" style="font-size:11px; font-weight:bold;width:100%;height:100%;">
                <tr>
                    <td style="width:80%; text-align:right"></td>

                    <td style="width:10%;">
                        <a id="btnSave" href="javascript:void(0)" class="easyui-linkbutton" iconcls="icon-save" plain="true">Save</a>
                    </td>
                    <td style="width:10%;">
                        <a id="btnClose" href="javascript:void(0)" class="easyui-linkbutton" iconcls="icon-cancel" plain="true">Close</a>
                    </td>
                </tr>
            </table>
        </fieldset>
    </div>
</body>
</html>


<script type="text/javascript">
    var _oACCostCenter=null;
    var _sBaseAddress="";
    $(document).ready(function () {
        _sBaseAddress =@Html.Raw( new System.Web.Script.Serialization.JavaScriptSerializer().Serialize(HttpContext.Current.Session[SessionInfo.BaseAddress]));
        _oACCostCenter =@Html.Raw(new System.Web.Script.Serialization.JavaScriptSerializer().Serialize(Model));
        debugger;
        var obj = window.dialogArguments;
        document.getElementById('lblHeaderName').innerHTML=obj.Name;
        if(obj.Name=="View Sub Ledger")
        {
            document.getElementById('btnSave').style.display = 'none';
            $('#divACCostCenter input,select').prop('disabled',true);
        }
        if(obj.Name=="Add Sub Ledger Category")
        {
            $('#trCategoryName').hide();
        }
        if(obj.Name=="Edit Sub Ledger Category")
        {
            $('#trCategoryName').hide();
        }
        
        if(!_oACCostCenter.IsCategoryBillRefApply && _oACCostCenter.ParentID!=1){
            $('.trIsCategoryBillRefApply').hide();
        }
        if(!_oACCostCenter.IsCategoryChequeApply && _oACCostCenter.ParentID!=1){
            $('.trIsCategoryChequeApply').hide();
        }
        
        $('#chkIsBillRefApply').change();
        $('#chkIsChequeApply').change();
    });
    $('#chkIsBillRefApply').change(function (){
        if(this.checked){$('#lblBill').html('Applicable');}else{$('#lblBill').html('Not Applicable');}
        //$('#chkIsCredit').prop('checked',!this.checked);
    });
    $('#chkIsChequeApply').change(function (){
        if(this.checked){$('#lblCheque').html('Applicable');}else{$('#lblCheque').html('Not Applicable');}
        //$('#chkIsCredit').prop('checked',!this.checked);
    });
    function ValidateInput()
    {
        if(document.getElementById("txtName").value==null || document.getElementById("txtName").value=="")
        {
            alert("Please enter Sub Ledger name!");
            $('#txtName').focus();
            return false;
        }
        //var cboCCCategory =document.getElementById("cboCCCategory");
        //var nParentCostCenterID = cboCCCategory.options[cboCCCategory.selectedIndex].value;
        //if(nParentCostCenterID==null || parseInt(nParentCostCenterID)<=0)
        //{
        //    alert("Please select Sub Ledger category!");
        //    $('#cboCCCategory').focus();
        //    return false;
        //}
        return true;
    }

    function RefreshObject()
    {
        var oACCostCenter= {
            ACCostCenterID : _oACCostCenter.ACCostCenterID,
            Code :$("#txtCode").val(),
            Name: $("#txtName").val(),
            Description : $("#txtDescription").val(),
            ParentID: _oACCostCenter.ParentID,
            IsBillRefApply: $('#chkIsBillRefApply').is(':checked'),
            IsChequeApply: $('#chkIsChequeApply').is(':checked'),
            ReferenceType:_oACCostCenter.ReferenceType,
            ReferenceObjectID:_oACCostCenter.ReferenceObjectID
        };
        return oACCostCenter;
    }

    $("#btnSave").click(function(){
        if(!ValidateInput()) return;
        var oACCostCenter=RefreshObject();
        $.ajax({
            type: "POST",
            dataType: "json",
            url : _sBaseAddress+  "/ACCostCenter/Save",
            traditional: true,
            data:  JSON.stringify(oACCostCenter),
            contentType: "application/json; charset=utf-8",
            success: function (data) {
                oACCostCenter = jQuery.parseJSON(data);
                if (oACCostCenter.ACCostCenterID>0) {
                    document.getElementById("txtCode").value=oACCostCenter.Code;
                    alert("Data Saved sucessfully");
                    window.returnValue = oACCostCenter;
                    window.close();
                }
                else {
                    alert(oACCostCenter.ErrorMessage);
                }
            },
            error: function (xhr, status, error) {
                alert(error);
            }
        });
    });

    $("#btnClose").click(function(){
        window.close();
    });
</script>