<html>
<head>
    @{
        ViewBag.Title = "Export L/C";
    } 
</head>
<body>
    @model ESimSol.BusinessObjects.ExportLC
    <div id="progressbarParent" style="width:100%;height:100%;margin:0 auto;text-align:center; margin-left: auto;margin-right: auto;left: 0;right: 0;z-index: 1;">
        <div style="margin: 0px auto;margin-top: 251px;text-align:center;width:390px;">
            <label style="font-size:18px;">Please wait</label>
            <div id="progressbar" style="width:100%;height:37px;"></div>
        </div>
    </div>
  
    <div class="menuMainCollectionTable">
        <div class="easyui-panel" title="" style="font-family:Tahoma; text-align:center; width:100%; height:100%;">
            <div id="tabExportLCTabsExportLC" class="easyui-tabs" style="width:100%; height:100%;">
                <div title="Back to Back LC" style="padding:0px">
                    <fieldset>
                        <legend style="font-weight:bold"> LC Information : </legend>
                        <table style="width:100%;" border="0" cellspacing="1" cellpadding="1">
                            <tr>
                                <td style="width:10%; text-align:right;font-weight:bold">Unit:</td>
                                <td style="width:15%">
                                    <select id="cboBUType" disabled="disabled" style=" width:95%;"></select>
                                </td>
                                <td style="width:10%; text-align:right"></td>
                                <td style="width:15%"></td>
                                <td style="width:15%; text-align:right;font-weight:bold">
                                    Applicant:
                                </td>
                                <td style="width:35%;text-align:left">
                                    <input id="txtContractorName"  class="reset-text" style="width:76%" placeholder="Type & Press Enter" />
                                    <a id="btnPickContractor" href="javascript:void(0)"  class="easyui-linkbutton ics-pick" iconcls="icon-pick" plain="true"></a>
                                    <a id="btnClrContractor" href="javascript:void(0)"  class="easyui-linkbutton ics-pick" iconcls="icon-clear" plain="true"></a>

                                </td>
                            </tr>
                            <tr>
                                <td style="width:10%; text-align:right;font-weight:bold">
                                    File No:
                                </td>
                                <td style="width:15%">
                                    <input type="text" style="width:65%;" id="txtFileNo" disabled="disabled" placeholder="Auto Generated" />
                                    <input type="text" disabled="disabled" style="width:22%;" id="txtVersionNo" />
                                </td>
                                <td style="width:10%; text-align:right;font-weight:bold">
                                    L/C No:
                                </td>
                                <td style="width:15%">
                                    <input type="text" disabled="disabled" style="width:100%;" id="txtExportLCNo" />
                                  

                                </td>
                                <td style="width:15%; text-align:right;font-weight:bold">
                                    Delivery To:
                                </td>
                                <td style="width:35%;text-align:left">
                                   
                                    <input id="txtDeliverTo" class="reset-text" style="width:76%" placeholder="Search Delivery To" />
                                    <a id="btnPickDeliverTo" href="javascript:void(0)" class="easyui-linkbutton ics-pick" iconcls="icon-pick" plain="true"></a>
                                    <a id="btnClrDeliverTo" href="javascript:void(0)" class="easyui-linkbutton ics-pick" iconcls="icon-clear" plain="true"></a>
                                </td>
                            </tr>
                            <tr>
                                <td style="width:10%; text-align:right;font-weight:bold">
                                    L/C Open Date:
                                </td>
                                <td style="width:15%" class="singleObjectDates">
                                    <input type="text" style="width:80%;" disabled="disabled" id="txtOpeningDate" class="easyui-datebox" required="required" data-options="formatter:icsdateformat,parser:icsdateparser" />
                                </td>
                                <td style="width:10%; text-align:right;font-weight:bold">
                                    Receive Date:
                                </td>
                                <td style="width:15%" class="singleObjectDates">
                                    <input type="text" style="width:80%;" disabled="disabled" id="txtReceiveDate" class="easyui-datebox" required="required" data-options="formatter:icsdateformat,parser:icsdateparser" />
                                </td>
                                <td style="width:15%; text-align:right;font-weight:bold">
                                    Beneficiary:
                                </td>
                                <td style="width:35%;text-align:left">
                                    <select disabled="disabled" id="cboBenificiary" style=" width:95%;"></select>
                                </td>
                            </tr>
                            <tr>
                                <td style="width:10%; text-align:right;font-weight:bold">
                                    Shipment Date:
                                </td>
                                <td style="width:15%" class="singleObjectDates">
                                    <input type="text" style="width:80%;" id="txtShipmentDate" class="easyui-datebox" required="required" data-options="formatter:icsdateformat,parser:icsdateparser" />
                                </td>
                                <td style="width:10%; text-align:right;font-weight:bold">
                                    Expire Date:
                                </td>
                                <td style="width:15%" class="singleObjectDates">
                                    <input type="text" style="width:80%;" id="txtExpireDate" class="easyui-datebox" required="required" data-options="formatter:icsdateformat,parser:icsdateparser" />
                                </td>
                                <td style="width:15%; text-align:right;font-weight:bold">
                                    Issue Bank:
                                </td>
                                <td style="width:35%;text-align:left" title="Sender">
                                    <input id="txtBankBranch_Issue" class="reset-text" style="width:76%" type="text" placeholder="Type & Press Enter" />
                                    <a id="btnPickBankBranch_Issue" href="javascript:void(0)" class="easyui-linkbutton ics-pick" iconcls="icon-pick" plain="true"></a>
                                    <a id="btnClrBankBranch_Issue" href="javascript:void(0)" class="easyui-linkbutton ics-pick" iconcls="icon-clear" plain="true"></a>
                                </td>
                            </tr>

                            <tr>
                                <td style="width:10%; text-align:right;font-weight:bold">
                                    Nego Days:
                                </td>
                                <td style="width:15%">
                                    <input id="txtNegoDays" type="text" style="width:20%;" class="number" />
                                    <input id="txtNegoDate" type="text" style="width:68%;" />
                                </td>
                                <td style="width:10%; text-align:right;font-weight:bold">
                                    Amount:
                                </td>
                                <td style="width:15%">
                                    <input type="text" style="width:100%;" id="txtAmount" disabled="disabled" />
                                </td>
                                <td style="width:15%; text-align:right;font-weight:bold">
                                    Advice Bank:
                                </td>
                                <td style="width:35%;text-align:left">
                                    <select id="cboBankBranch_Advice" style="width:95%;" title="Receiver"></select>
                                </td>
                            </tr>
                            <tr>
                                <td style="width:10%; text-align:right;font-weight:bold">
                                    Currency:
                                </td>
                                <td style="width:15%">
                                    <select id="cboCurrency" style=" width:100%;"></select>
                                </td>
                                <td style="width:10%; text-align:right;font-weight:bold">
                                    L/C Status:
                                </td>
                                <td style="width:15%">
                                    <input type="text" style="width:100%" id="txtLCStatusInString" disabled="disabled" placeholder="L/C Status" />
                                </td>
                                <td style="width:15%; text-align:right;font-weight:bold">
                                    Negotiate Bank
                                </td>
                                <td style="width:35%;text-align:left">
                                    <select id="cboBankBranch_Nego" style="width:95%;"></select>
                                </td>
                            </tr>
                            <tr>
                                <td style="width:10%; text-align:right;font-weight:bold">
                                    Remark:
                                </td>
                                <td colspan="3" style="width:40%">
                                    <input type="text" style="width:100%;" id="txtNote" />
                                </td>
                                <td style="width:15%; text-align:right;font-weight:bold">
                                    Forwarding Bank:
                                </td>
                                <td style="width:35%;text-align:left">
                                    <select id="cboBankBranch_ForwardingBank" style="width:95%;"></select>
                                </td>
                            </tr>

                            <tr>

                                <td style="width:10%; text-align:right;font-weight:bold">
                                    Amend't Date:
                                </td>
                                <td style="width:15%" class="singleObjectDates">
                                    <input type="text" style="width:80%;" id="txtAmendmentDate" class="easyui-datebox" required="required" data-options="formatter:icsdateformat,parser:icsdateparser" />
                                </td>
                                <td style="width:10%; text-align:right;font-weight:bold">
                                    A.Rcv. Date:
                                </td>
                                <td style="width:15%" class="singleObjectDates">
                                    <input type="text" style="width:80%;"  id="txtAmendmentReceiveDate" class="easyui-datebox" required="required" data-options="formatter:icsdateformat,parser:icsdateparser" />
                                </td>
                                <td style="width:15%; text-align:right;font-weight:bold">
                                </td>
                                <td style="width:35%;text-align:left">
                                   
                                </td>

                              
                            </tr>
                        </table>
                    </fieldset>

                    <div style="margin-left:0px; margin-top:0px">
                        <table style="width:100% ;height:170px">
                            <tr>
                                <td style="width:50% ;height:170px">
                                    <fieldset>
                                        <legend style="text-align:left; font-weight:bold;">Previous P/I Info : </legend>
                                   
                                        <table id="tblExportPILCMappings" class="easyui-datagrid" style="width:100%;height:170px;" fitcolumns="false" rownumbers="true" pagination="false" singleselect="true" autorowheight="false" toolbar="#toolbarExportPILCMappingOne">
                                            <thead>
                                                <tr>
                                                    <th field="ActivitySt" width="15%"> Activity </th>
                                                    <th field="PINo" width="25%" align="left"> PI No  </th>
                                                    <th field="IssueDateST" width="20%" align="center">Issue Date</th>
                                                    <th field="AmountSt" width="20%" align="right">Total Amount</th>
                                                    <th field="VersionNo" width="8%"> A No </th>
                                                    <th field="PIStatusST" width="20%"> Status </th>
                                                    

                                                </tr>
                                            </thead>
                                        </table>
                                            <div id="toolbarExportPILCMappingOne">
                                                <a id="btnActivity" href="javascript:void(0)" class="easyui-linkbutton" iconcls="icon-remove" plain="true">Activity</a>
                                            </div>
                                        <table style="width:100%;font-size:11px; font-weight:bold" border="0">
                                            <tr>
                                                <td id="tdTotalCaption" style="width: 221px; text-align: right; font-size: 12px; font-weight:bold"></td>
                                                <td id="tdTotalCaption" style="width: 100px; text-align: right; font-size: 12px; font-weight:bold"> Total : </td>
                                                <td style="width: 150px; text-align: right; font-size: 12px">
                                                    <label id="lblCurrency" style="font-weight:bold;margin-right:5px;"></label>
                                                    <label id="lblTotalValue_LC" style="text-align: right; font-size:12px; float: right; font-weight:bold;">0.00</label>
                                                </td>
                                                <td id="tdTotalCaption" style="width: 50px; text-align: right; font-size: 12px; font-weight:bold">  </td>
                                            </tr>
                                        </table>
                                    </fieldset>
                                </td>
                                <td style="width:50% ;height:170px">
                                    <fieldset>
                                        <legend style="text-align:left; font-weight:bold;"> New P/I Info : </legend>
                                        <table id="tblExportPILCMappings_New" class="easyui-datagrid" style="width:100%;height:170px;" fitcolumns="false" rownumbers="true" pagination="false" singleselect="true" autorowheight="false" toolbar="#toolbarExportPILCMapping">
                                            <thead>
                                                <tr>
                                                    <th field="PINo_Full" width="35%" align="left"> PI No  </th>
                                                    <th field="IssueDateST" width="20%" align="center">Issue Date</th>
                                                    <th field="AmountSt" width="20%" align="right">Total Amount</th>
                                                    <th field="PIStatusST" width="20%"> Status </th>
                                                    <th field="VersionNo" width="5%"> A No </th>
                                                   
                                                </tr>
                                            </thead>
                                        </table>
                                        <div id="toolbarExportPILCMapping">
                                            PI No: <input type="text" id="txtPINo" style="width:70px;" placeholder="Type PI No" />
                                            <a id="btnAddPILCMapping" href="javascript:void(0)" class="easyui-linkbutton" iconcls="icon-pick" plain="true">Pick PI(New)</a>
                                            <input type="text" id="txtAmeandNo" style="width:15px;" placeholder="Type A. no" />
                                            <a id="btnAddPILCMapping_Existing" href="javascript:void(0)" class="easyui-linkbutton" iconcls="icon-pick" plain="true"><label id="lblPickPI"> Pick PI(V-N)</label></a>
                                            <a id="btnRemovePILCMapping" href="javascript:void(0)" class="easyui-linkbutton" iconcls="icon-remove" plain="true">Remove</a>
                                        </div>
                                        <table style="width:100%;font-size:11px; font-weight:bold" border="0">
                                            <tr>
                                                <td id="tdTotalCaption" style="width: 221px; text-align: right; font-size: 12px; font-weight:bold"></td>
                                                <td id="tdTotalCaption" style="width: 100px; text-align: right; font-size: 12px; font-weight:bold"> Total : </td>
                                                <td style="width: 150px; text-align: right; font-size: 12px">
                                                    <label id="lblCurrency" style="font-weight:bold;margin-right:5px;"></label>
                                                    <label id="lblTotalValue_LC_New" style="text-align: right; font-size:12px; float: right; font-weight:bold;">0.00</label>
                                                </td>
                                                <td id="tdTotalCaption" style="width: 50px; text-align: right; font-size: 12px; font-weight:bold">  </td>
                                            </tr>
                                        </table>
                                    </fieldset>
                                </td>
                               
                            </tr>
                        </table>
                       
                    </div>
                    
                    <fieldset >
                        <legend style="font-weight:bold"> Action : </legend>
                        <table  border="0" cellspacing="2" cellpadding="2" style="width:100%;font-size:11px; font-weight:bold">
                            <tr>
                                <td style="width:20%"></td>
                                <td style="width:40%;text-align:right;">
                                  
                                </td>
                                <td style="width:40%;text-align:right">
                                    <label id="lblCreateReviseNo">Create New Amendment No?</label>  <input id="chkIsCreateAmendmentNo" type="checkbox" checked="checked" />
                                    <a id="btnSaveExportLC" href="javascript:void(0)" class="easyui-linkbutton" iconcls="icon-save" plain="true">Save</a>
                                    <a id="btnClose" href="javascript:void(0)" class="easyui-linkbutton" iconcls="icon-closed" plain="true">Close</a>
                                </td>
                            </tr>
                        </table>
                    </fieldset>
                </div>
                <div title="Terms & Condition with Doc" style="padding:2px">
                    <fieldset>
                        <legend style="font-weight:bold"> Terms & Conditions : </legend>
                        <table style="width:100%;" border="0" cellspacing="2" cellpadding="2">
                            <tr>
                                <td style="width:15%; text-align: right; font-size:12px;">
                                    Payment Terms:
                                </td>
                                <td colspan="3" style="width:55%; text-align: left; font-size:12px;">
                                    <select style="width:150px;" id="cboLCTerm"></select>
                                    From
                                    <select style="width:150px;" id="cboPaymentInstruction"></select>
                                </td>
                                <td colspan="2" style="width:30%">
                                   
                                    <input type="text" style="width:174px;" id="txtFrightPrepaid" placeholder="Type Fright /Prepaid / Orginal" />
                                    <a id="btnFrightPrepaidPick" href="javascript:void(0)" class="easyui-linkbutton" iconcls="icon-pick" plain="true">P</a>
                                </td>
                            </tr>
                            <tr>
                                <td style="width:15%; text-align: right; font-size:12px;">
                                    Overdue Rate(%)
                                </td>
                                <td style="width:20%">
                                    <input type="text" class="easyui-numberbox" style="width:80%;" value="0" id="txtOverDueRate" data-options="min:0,precision:2">
                                </td>

                                <td style="width:15%; text-align: right; font-size:12px;">
                                    BankFDD(Apply?)
                                </td>
                                <td style="width:20%">
                                    <table border="0" cellpadding="0" cellspacing="0" style="font-size:11px; font-weight:bold">
                                        <tr>
                                            <td style="width:65px"><input type="checkbox" id="chkBankFDDYes" value="value" onclick="if(this.checked){IsBankFDDYes()}else{IsBankFDDNo()}" />Yes </td>
                                            <td style="width:80px"><input type="checkbox" id="chkBankFDDNo" value="value" onclick="if(this.checked){IsBankFDDNo()}else{IsBankFDDYes()}" />No</td>
                                        </tr>
                                    </table>
                                </td>
                                <td colspan="2" style="width:30%"></td>
                            </tr>
                            <tr>
                                <td style="width:15%; text-align: right; font-size:11px;">Discrepancy Charge(%)</td>
                                <td style="width:20%">
                                    <input type="text" class="easyui-numberbox" style="width:150px;" value="0" id="txtDiscrepancyCharge" data-options="min:0,precision:2" />
                                </td>

                                <td style="width:15%; text-align: right; font-size:12px;">
                                    LIBOR Rate(Apply?)
                                </td>
                                <td style="width:20%">
                                    <table border="0" cellpadding="0" cellspacing="0" style="font-size:11px; font-weight:bold">
                                        <tr>
                                            <td style="width:65px"><input type="checkbox" id="chkLIBORRateYes" onclick="if(this.checked){IsLIBORateYes()}else{IsLIBORateNo()}" />Yes </td>
                                            <td style="width:80px"><input type="checkbox" id="chkLIBORRateNo" onclick="if(this.checked){IsLIBORateNo()}else{IsLIBORateYes()}" />No</td>
                                        </tr>
                                    </table>
                                </td>
                                <td style="width:30%" colspan="2">
                                </td>
                            </tr>
                            <tr>
                                <td style="width:15%; text-align: right; font-size:12px;">
                                    Partial Shipment:
                                </td>
                                <td style="width: 20%; text-align:left;">
                                    <table border="0" cellpadding="0" cellspacing="0" style="font-size:11px; font-weight:bold">
                                        <tr>
                                            <td style="width:65px"><input type="checkbox" id="chkPartialShipmentAllow" onclick="if(this.checked){IsPShipmentAllow()}else{IsPShipmentNotAllow()}" />Allow</td>
                                            <td style="width:80px"><input type="checkbox" id="chkPartialShipmentNotAllow" onclick="if(this.checked){IsPShipmentNotAllow()}else{IsPShipmentAllow()}" />Not Allow</td>
                                        </tr>
                                    </table>
                                </td>
                                <td style="width:15%; text-align: right; font-size:12px;">
                                    Transshipment:
                                </td>
                                <td style="width:20%; text-align:left;">
                                    <table border="0" cellpadding="0" cellspacing="0" style="font-size:11px; font-weight:bold">
                                        <tr>
                                            <td style="width:65px"><input type="checkbox" id="chkTransshipmentAllow" onclick="if(this.checked){IsTransshipmentAllow()}else{IsTransshipmentNotAllow()}" />Allow</td>
                                            <td style="width:80px"><input type="checkbox" id="chkTransshipmentNotAllow" onclick="if(this.checked){IsTransshipmentNotAllow()}else{IsTransshipmentAllow()}" />Not Allow</td>
                                        </tr>
                                    </table>
                                </td>
                                <td style="width:10%; text-align: right; font-size:12px;"> H.S Code:</td>
                                <td style="width:20%; text-align: right; font-size:12px;">
                                    <input type="text" style="width:99%" id="txtHSCode" />
                                </td>
                            </tr>
                            <tr>
                                <td style="width:15%; text-align: right; font-size:12px;">
                                    Garments Qty:
                                </td>
                                <td style="width:20%; text-align:left;">
                                    <input id="txtGarmentsQty" type="text" />
                                </td>
                                <td style="width:15%; text-align: right; font-size:12px;">
                                    Bank FDD:
                                </td>
                                <td style="width:20%; text-align: left; font-size:12px;">
                                    <table border="0" cellpadding="0" cellspacing="0" style="font-size:11px; font-weight:bold">
                                        <tr>
                                            <td style="width:100px"><input type="checkbox" id="chkIsBFDD_Local" onclick="if(this.checked){IsBFDD_Local()}else{IsDFDD_Foreign()}" />Bangladesh</td>
                                            <td style="width:80px"><input type="checkbox" id="chkIsBFDD_Foreign" onclick="if(this.checked){IsDFDD_Foreign()}else{IsBFDD_Local()}" />Foreign </td>
                                        </tr>
                                    </table>
                                </td>
                                <td style="width:10%; text-align: right; font-size:12px;"> Area Code:</td>
                                <td style="width:20%; text-align: right; font-size:12px;">
                                    <input type="text" style="width:100%" id="txtAreaCode" />
                                </td>
                            </tr>
                            <tr>
                                <td style="width:15%; text-align: right; font-size:12px;">
                                    Especial Note
                                </td>
                                <td colspan="5" style="width:85%; text-align: left; font-size:12px;">
                                    <input type="text" style="width:100%;" id="txtShipmentFrom" />
                                </td>
                            </tr>
                        </table>
                    </fieldset>
                    <div style="margin-left:2px; margin-top:0px">
                        <fieldset>
                            <legend style="font-weight:bold">Master/Export LC information: </legend>
                            <table id="tblMasterLCs" title="Other LC list" class="easyui-datagrid" style="width:100%; height:210px;" fitcolumns="false" rownumbers="true" pagination="false" singleselect="true" autorowheight="false" toolbar="#toolbarMasterLC" data-options="singleSelect: true, fitColumns:false,  rownumbers:true,pagination:false,autoRowHeight:false">
                                <thead>
                                    <tr>
                                        <th field="MasterLCTypeSt" width="10%" align="left">LC Type</th>
                                        <th field="MasterLCNo" width="58%" align="left">Master LC No</th>
                                        <th field="MasterLCDateSt" width="30%" align="center">Master LC Date</th>
                                        @*<th field="LastDofShipmentSt" width="120" align="center">Shipment Date</th>
                                    <th field="ExpireDateSt" width="120" align="center">Expire Date</th>
                                    <th field="Country" width="120" align="left">Country</th>
                                    <th field="Remark" width="120" align="left">Remark</th>*@
                                    </tr>
                                </thead>
                            </table>
                            <div id="toolbarMasterLC" style=" height:25px;">
                                <label style="margin-left:10px;">LC No:</label> <input type="text" id="txtMasterLCSearch" style="width:120px;" placeholder="Type MasterLC No" />
                                <a id="btnPickMasterLC" href="javascript:void(0)" class="easyui-linkbutton" iconcls="icon-pick" plain="true">Pick LC</a>
                                <a id="btnDeleteMasterLCMapping" href="javascript:void(0)" class="easyui-linkbutton" iconcls="icon-remove" plain="true">Remove</a>

                                <div style="float:right;">
                                    @*Ratin*@
                                    <input id="chkExportLC1" type="checkbox" /><label>Export LC</label>
                                    <input id="chkMaskerLC1" type="checkbox" /><label style="margin-right:12px;">Master LC</label>
                                    <input id="txtMasterLCNo1" type="text" style="width:150px;margin:0 5px 0 5px;" placeholder="Type LC No" />
                                    Date : <input id="txtMasterLCDate1" type="text" class="easyui-datebox" style="width:100px;" required="required" data-options="formatter:icsdateformat,parser:icsdateparser" />
                                    <a id="btnAddMasterLC1" href="javascript:void(0)" class="easyui-linkbutton" iconcls="icon-add" plain="true">Add</a>
                                </div>
                            </div>
                        </fieldset>
                    </div>

                    <fieldset class="actionfieldsetstyle">
                        <legend style="font-weight:bold"> Action : </legend>
                        <table style="width:100%" border="0" cellspacing="2" cellpadding="2" style="font-size:11px; font-weight:bold">
                            <tr>
                                <td style="width:75%"></td>
                                
                                <td style="width:15%;text-align:right">
                                    <a id="btnSaveExportLCTnC" href="javascript:void(0)" class="easyui-linkbutton" iconcls="icon-save" plain="true">Save</a>
                                    <a id="btnCloseTwo" href="javascript:void(0)" class="easyui-linkbutton" iconcls="icon-closed" plain="true">Close</a>
                                </td>
                            </tr>
                        </table>
                    </fieldset>
                </div>
            </div>
        </div>  
            
        </div>
</body>
</html>
<script type="text/javascript">
    var _sBaseAddress = "";
    var _oExportLC=null;
    var _oCurrencys = [];
    var _oLCStatus = [];
    var _oPaymentInstructions = [];
    var _oBusinessUnits=[];
    var _oLCTerms=[];
    var _oBankBranchs=[];

    $(document).ready(function () {
        _sBaseAddress =@Html.Raw(new System.Web.Script.Serialization.JavaScriptSerializer().Serialize(HttpContext.Current.Session[SessionInfo.BaseAddress]));
        _oExportLC =@Html.Raw(new System.Web.Script.Serialization.JavaScriptSerializer().Serialize(Model));
        _oBankBranchs = @Html.Raw(new System.Web.Script.Serialization.JavaScriptSerializer().Serialize(ViewBag.BankBranchs));
        _oCurrencys = @Html.Raw(new System.Web.Script.Serialization.JavaScriptSerializer().Serialize(ViewBag.Currencys));
        _oLCTerms = @Html.Raw(new System.Web.Script.Serialization.JavaScriptSerializer().Serialize(ViewBag.LCTerms));
        _oBusinessUnits= @Html.Raw(new System.Web.Script.Serialization.JavaScriptSerializer().Serialize(ViewBag.BusinessUnits));
        _oLCStatus = @Html.Raw(new System.Web.Script.Serialization.JavaScriptSerializer().Serialize(ViewBag.LCStatus));
        _nBUID = @Html.Raw(new System.Web.Script.Serialization.JavaScriptSerializer().Serialize(ViewBag.BUID));
        _oPaymentInstructions = @Html.Raw(new System.Web.Script.Serialization.JavaScriptSerializer().Serialize(ViewBag.PaymentInstructions));
        debugger;
     
        Initialization(_oExportLC,((sessionStorage.length>0)?sessionStorage.getItem('Operation'):'New'));
        _sBackLink=sessionStorage.getItem("BackLink");
        $("#progressbar").progressbar({ value: 0 });
        $("#progressbarParent").hide();
    });
  
    function updateProgress() {
        var value =$('#progressbar').progressbar('getValue');
        if (value < 96){
            value += Math.floor(Math.random() * 10);
            $('#progressbar').progressbar('setValue', value);
        }
    }
    function hideShow(miliseconds) {
        $("#progressbarParent").hide();
    }
    function Initialization(oExportLC, sOperation){
        ResetControll();
        LoadCombo();
        RefreshControl(oExportLC);
        
    }
    function LoadCombo() {
        $("#cboBankBranch_Advice, #cboBankBranch_Nego").icsLoadCombo({
            List: _oBankBranchs,
            OptionValue: "BankBranchID",
            DisplayText: "BankBranchName"
        });
        $("#cboCurrency").icsLoadCombo({
            List: _oCurrencys,
            OptionValue: "CurrencyID",
            DisplayText: "CurrencyName"
        });

        $("#cboLCTerm").icsLoadCombo({
            List: _oLCTerms,
            OptionValue: "LCTermID",
            DisplayText: "NameDaysInString"
        });

        $("#cboBenificiary").icsLoadCombo({
            List: _oBusinessUnits,
            OptionValue: "BusinessUnitID",
            DisplayText: "Name"
        });
        $("#cboBUType").icsLoadCombo({
            List: _oBusinessUnits,
            OptionValue: "BusinessUnitID",
            DisplayText: "BUTypeSt"
        });

        //$("#cboLCStatus").icsLoadCombo({
        //    List: _oLCStatus,
        //    OptionValue: "id",
        //    DisplayText: "Value"
        //});
        $("#cboPaymentInstruction").icsLoadCombo({
            List: _oPaymentInstructions,
            OptionValue: "id",
            DisplayText: "Value"
        });
    }

    function ResetControll(){
      //  $('#txtSendToParty').datebox('setValue', icsdateformat(new Date()));
        $('.reset-text').val("");
    }
   
    function RefreshControl(oExportLC) {
        _oExportLC=oExportLC;
     

        $("#txtAmount").prop("disabled", true);
        $("#txtLCStatusInString").prop("disabled", true);
    
        if (_oExportLC.LiborRate == true) {
            $('#chkLIBORRateYes').prop('checked', true);
            $('#chkLIBORRateNo').prop('checked', false);
        } else {
            $('#chkLIBORRateYes').prop('checked', false);
            $('#chkLIBORRateNo').prop('checked', true);
        }
        if (_oExportLC.BBankFDD == true) {
            $('#chkBankFDDYes').prop('checked', true);
            $('#chkBankFDDNo').prop('checked', false);
        } else {
            $('#chkBankFDDYes').prop('checked', false);
            $('#chkBankFDDNo').prop('checked', true);
        }
        if (_oExportLC.PartialShipmentAllowed == true) {
            $('#chkPartialShipmentAllow').prop('checked', true);
            $('#chkPartialShipmentNotAllow').prop('checked', false);
        } else {
            $('#chkPartialShipmentAllow').prop('checked', false);
            $('#chkPartialShipmentNotAllow').prop('checked', true);
        }
        if (_oExportLC.TransShipmentAllowed == true) {
            $('#chkTransshipmentAllow').prop('checked', true);
            $('#chkTransshipmentNotAllow').prop('checked', false);
        } else {
            $('#chkTransshipmentAllow').prop('checked', false);
            $('#chkTransshipmentNotAllow').prop('checked', true);
        }
        if (_oExportLC.IsForeignBank == true) {
            $('#chkIsBFDD_Foreign').prop('checked', true);
            $('#chkIsBFDD_Local').prop('checked', false);
        } else {
            $('#chkIsBFDD_Foreign').prop('checked', false);
            $('#chkIsBFDD_Local').prop('checked', true);
        }

        $("#txtFileNo").val(_oExportLC.FileNo);
        $("#txtVersionNo").val(_oExportLC.AmendmentFullNo);
        document.getElementById("lblPickPI").innerHTML =  "Pick PI(" + _oExportLC.AmendmentFullNo+")";
        $("#txtExportLCNo").val(_oExportLC.ExportLCNo);
        $("#txtNegoDays").val(_oExportLC.NegoDays);
        $("#txtAmount").val(_oExportLC.AmountSt);
        //$("#lblTotalValue_LC").text(_oExportLC.AmountSt);
        $("#txtNote").val(_oExportLC.Remark);
        $("#txtHSCode").val(_oExportLC.HSCode);
        $("#txtAreaCode").val(_oExportLC.AreaCode);
        $("#txtLCStatusInString").val(_oExportLC.CurrentStatusInST);
        $("#txtLCStatus_Update").val(_oExportLC.CurrentStatusInST);
        debugger;
        if (_oExportLC.OpeningDateST != "-") {
            $('#txtOpeningDate').datebox('setValue', _oExportLC.OpeningDateST);
        }
        if (_oExportLC.LCRecivedDateST != "-") {
            $('#txtReceiveDate').datebox('setValue', _oExportLC.LCRecivedDateST);
            //$('#txtAmendmentReceiveDate').datebox('setValue', _oExportLC.LCRecivedDateST);
        }
        if (_oExportLC.ShipmentDateST != "-") {
            $('#txtShipmentDate').datebox('setValue', _oExportLC.ShipmentDateST);
        }
        if (_oExportLC.ExpiryDateST != "-") {
            $('#txtExpireDate').datebox('setValue', _oExportLC.ExpiryDateST);
        }
        $("#cboBankBranch_Advice").val(_oExportLC.BBranchID_Advice);
        $("#cboBankBranch_Nego").val(_oExportLC.BBranchID_Nego);
        $("#cboCurrency").val(_oExportLC.CurrencyID);
        $("#cboLCTerm").val(_oExportLC.LCTramsID);
        $("#cboBenificiary").val(_nBUID); // for one company , if multi company please change it
        $("#cboBUType").val(_nBUID); // for one company , if multi company please change it
        $('#txtOverDueRate').numberbox('setValue', _oExportLC.OverDueRate);
        $('#txtDiscrepancyCharge').numberbox('setValue', _oExportLC.DCharge);
        $("#txtShipmentFrom").val(_oExportLC.ShipmentFrom);
        $("#txtGarmentsQty").val(_oExportLC.GarmentsQty);
        //$("#txtIRC").val(_oExportLC.IRC);
        //$("#txtERC").val(_oExportLC.ERC);
        $("#cboPaymentInstruction").val(_oExportLC.PaymentInstruction);
        $("#txtFrightPrepaid").val(_oExportLC.FrightPrepaid);
        if (_oExportLC.ExportLCID > 0) {
            $("#txtBankBranch_Issue").val(_oExportLC.BankName_Issue + "[" + _oExportLC.BBranchName_Issue + "]");
            $("#txtContractorName").val(_oExportLC.ApplicantName);
            $("#txtContractorName").addClass("fontColorOfPickItem");
        }
        else
        {
            $("#txtContractorName").removeClass("fontColorOfPickItem");
        
            $("#txtBankBranch_Issue,#txtContractorName,#txtDeliverTo").val();
        }

        if (_oExportLC.DeliveryToID > 0) {
            $("#txtDeliverTo").val(_oExportLC.DeliveryToName);
            $("#txtDeliverTo").addClass("fontColorOfPickItem");
        } else {
            $("#txtDeliverTo").removeClass("fontColorOfPickItem");
            $("#txtDeliverTo").val("");
        }


        if (_oExportLC.AmendmentDateSt != "-") {
            $('#txtAmendmentDate').datebox('setValue', _oExportLC.AmendmentDateSt);
        }
        else{
          $('#txtAmendmentDate').datebox('setValue', icsdateformat(new Date()));
        }
     
     
        if(_oExportLC.ExportPILCMappings!=null )
        {
            DynamicRefreshList(_oExportLC.ExportPILCMappings, "tblExportPILCMappings");
        }
        else{
            DynamicRefreshList([], "tblExportPILCMappings");
        }
        if(_oExportLC.MasterLCMappings!=null)
        {
            DynamicRefreshList(_oExportLC.MasterLCMappings, "tblMasterLCs");
        }
        else{
            DynamicRefreshList([], "tblMasterLCs");
        }
        RefreshTotalSummery_PI();

        //GetContractorInfoELC(oExportLC.ApplicantID);
        //CheckDisburseDate(_oExportLC.NegoDays, _oExportLC.ExportLCID);
    }
   
  
    function RefreshTotalSummery_PI() {
        var nTotalQty = 0;
        var nTotalValue = 0;
        var sCurrency = "";
        var oExportPILCMappings = $('#tblExportPILCMappings').datagrid('getRows');
        if(oExportPILCMappings!=null)
        {
            for (var i = 0; i < oExportPILCMappings.length; i++) {
                nTotalQty = 0;
                nTotalValue = nTotalValue + parseFloat(oExportPILCMappings[i].Amount);
                sCurrency = oExportPILCMappings[i].Currency;
            }
        }
        document.getElementById("lblTotalValue_LC").innerHTML = sCurrency + " " + formatPrice(nTotalValue);
        nTotalValue=0;
        oExportPILCMappings = $('#tblExportPILCMappings_New').datagrid('getRows');
        if(oExportPILCMappings!=null)
        {
            for (var i = 0; i < oExportPILCMappings.length; i++) {
                nTotalQty = 0;
                nTotalValue = nTotalValue + parseFloat(oExportPILCMappings[i].Amount);
                sCurrency = oExportPILCMappings[i].Currency;
            }
        }
        document.getElementById("lblTotalValue_LC_New").innerHTML = sCurrency + " " + formatPrice(nTotalValue);
        $("#txtAmount").val(sCurrency + " " + formatPrice(nTotalValue));
    }
        
    $("#btnSaveExportLC").click(function (e) {
        debugger;
        if (!ValidateInputExportLC()) return;
        var oExportPIDetails_New = $("#tblExportPILCMappings_New").datagrid("getRows");
        if ($("#chkIsCreateAmendmentNo").is(':checked'))
        {
            if(oExportPIDetails_New==null || oExportPIDetails_New.length<=0)
            {
                alert("please, pick New P/I No for this new Amendment L/C");
                $("#txtPINo").focus();
                return;
            }
        }
      

        $('#tabExportLCTabsExportLC').tabs('select', 1);
    });

    
    $("#btnSaveExportLCTnC").click(function (){
     
        if (!ValidateInputExportLC()) return;

        if (_oExportLC.ExportLCID <= 0 || _oExportLC == null)
        {
            alert("Please, First save LC from  previous tab!");
            return ;
        }

        if ($("#cboLCTerm").val() <= 0) {
            alert("Please select LC Term!"); $('#cboLCTerm').focus();
            $("#cboLCTerm").addClass("errorFieldBorder");
            return ;
        }
        else { $("#cboLCTerm").removeClass("errorFieldBorder"); }
        var oExportLC = RefreshObjectExportLC_TnC();

        if ($("#chkIsCreateAmendmentNo").is(':checked'))
        {
            oExportLC.IsAmendment=true;
            //alert("Confirm Change this P/I with ReviseNo ")
            if (!confirm("Confirm to receive new Amendment copy ?")) return false;
        }else{
            oExportLC.IsAmendment=false;
            if (!confirm("Confirm to Change this L/C without Amendment No ?")) return false;
        }

        $.ajax({
            type: "POST",
            dataType: "json",
            url : _sBaseAddress+"/ExportLC/SaveLog",
            traditional: true,
            data:  JSON.stringify(oExportLC),
            contentType: "application/json; charset=utf-8",
            success: function (data) {
                debugger;
                var oExportLC= jQuery.parseJSON(data);
                if (oExportLC.ErrorMessage=="" || oExportLC.ErrorMessage==null)
                {
                    _oExportLC=oExportLC;
                    alert("Data Save Succesfully!!");
                    var oExportLCs =sessionStorage.getItem("ExportLCs");
                    var nIndex= parseInt(sessionStorage.getItem("SelectedRowIndex"));
                    debugger;
                    if(oExportLCs!=null)
                    {
                        oExportLCs = jQuery.parseJSON(oExportLCs);
                    }
                    else
                    {
                        oExportLCs=[];
                    }
                    if(nIndex!=-1)
                    {
                        oExportLCs[nIndex]=_oExportLC;
                    }
                    else
                    {
                        sessionStorage.setItem("SelectedRowIndex", oExportLCs.length);
                        oExportLCs.push(_oExportLC);
                    }
                    sessionStorage.setItem("ExportLCs", JSON.stringify(oExportLCs));
                    window.location.href = _sBackLink;
                }
                else
                {
                    alert(oExportLC.ErrorMessage);
                }
            },
            error: function (xhr, status, error)
            {
                alert(error);
            }
        });
    });
    
    function ValidateInputExportLC() {

        if (!$.trim($('#txtExportLCNo').val()).length) {
            $('#tabExportLCTabsExportLC').tabs('select', 0);
            alert("Please enter L/C No.");
            $('#txtExportLCNo').focus();
            $("#txtExportLCNo").addClass("errorFieldBorder");
            return false;
        } else { $('#txtExportLCNo').removeClass("errorFieldBorder"); }

        //if (_oExportLC.ApplicantID <= 0) {
        //    $('#tabExportLCTabsExportLC').tabs('select', 0);
        //    alert("Please select Applicant Name!");
        //    $('#txtContractorName').focus();
        //    $("#txtContractorName").addClass("errorFieldBorder");
        //    return false;
        //} else { $("#txtContractorName").removeClass("errorFieldBorder"); }

        if ($('#txtOpeningDate').datebox('getValue') == null || $('#txtOpeningDate').datebox('getValue') == "") {
            $('#tabExportLCTabsExportLC').tabs('select', 0);
            alert("Please give LC Open Date!"); $('#txtOpeningDate').focus();
            return false;
        } 

        if ($('#txtReceiveDate').datebox('getValue') == null || $('#txtReceiveDate').datebox('getValue') == "") {
            $('#tabExportLCTabsExportLC').tabs('select', 0);
            alert("Please give Receive Date!"); $('#txtReceiveDate').focus();
            return false;
        }

        if ($('#txtShipmentDate').datebox('getValue') == null || $('#txtShipmentDate').datebox('getValue') == "") {
            $('#tabExportLCTabsExportLC').tabs('select', 0);
            alert("Please give Shipment Date!"); $('#txtShipmentDate').focus();
            return false;
        }

        if ($('#txtExpireDate').datebox('getValue') == null || $('#txtExpireDate').datebox('getValue') == "") {
            $('#tabExportLCTabsExportLC').tabs('select', 0);
            alert("Please give Expire Date!"); $('#txtExpireDate').focus();
            return false;
        }

        if ($("#cboBenificiary").val() <= 0) {
            $('#tabExportLCTabsExportLC').tabs('select', 0);
            alert("Please select Benificiary!"); $('#cboCurrency').focus();
            $("#cboBenificiary").addClass("errorFieldBorder");
            return false;
        } else { $("#cboBenificiary").removeClass("errorFieldBorder"); }

        if (_oExportLC.BBranchID_Issue <= 0) {
            $('#tabExportLCTabsExportLC').tabs('select', 0);
            alert("Please select Issue Bank!");
            $('#txtBankBranch_Issue').focus();
            $("#txtBankBranch_Issue").addClass("errorFieldBorder");
            return false;
        } else { $("#txtBankBranch_Issue").removeClass("errorFieldBorder"); }

        //if ($("#cboBankBranch_Advice").val() <= 0) {
        //    $('#tabExportLCTabsExportLC').tabs('select', 0);
        //    alert("Please select Advice Bank Name!"); $('#cboBankBranch_Advice').focus();
        //    $("#cboBankBranch_Advice").addClass("errorFieldBorder");
        //    return false;
        //} else {
        //    $("#cboBankBranch_Advice").removeClass("errorFieldBorder");
        //}

        //if ($("#cboCurrency").val() <= 0) {
        //    $('#tabExportLCTabsExportLC').tabs('select', 0);
        //    alert("Please select Currency!"); $('#cboCurrency').focus();
        //    $("#cboCurrency").addClass("errorFieldBorder");
        //    return false;
        //} else { $("#cboCurrency").removeClass("errorFieldBorder"); }

        if ($("#cboBankBranch_Nego").val() <= 0) {
            $('#tabExportLCTabsExportLC').tabs('select', 0);
            alert("Please select Negoatiation Bank Name!"); $('#cboBankBranch_Nego').focus();
            $("#cboBankBranch_Nego").addClass("errorFieldBorder");
            return false;
        } else {
            $("#cboBankBranch_Nego").removeClass("errorFieldBorder");
        }
        return true;
    }
    function RefreshObjectExportLC() {

        var nTotalAmount = 0;
        var oExportPIDetails = $("#tblExportPILCMappings").datagrid("getRows");
        var oExportPIDetails_New = $("#tblExportPILCMappings_New").datagrid("getRows");
      
        for (var i = 0; i < oExportPIDetails_New.length; i++)
        {
            oExportPIDetails_New[i].ExportPILCMappingID=0;
            oExportPIDetails_New[i].LCReceiveDate=$('#txtAmendmentReceiveDate').datebox('getValue');
            
            oExportPIDetails.push(oExportPIDetails_New[i])
            nTotalAmount = parseFloat(nTotalAmount) + parseFloat(oExportPIDetails_New[i].Amount);
        }
       
        var oExportLC = {
            ExportLCID: (_oExportLC != null) ? _oExportLC.ExportLCID : 0,
            ExportLCNo: $("#txtExportLCNo").val(),
            NegoDays : parseInt($("#txtNegoDays").val()),
            FileNo: $.trim($("#txtFileNo").val()),
            OpeningDate: $('#txtOpeningDate').datebox('getValue'),
            BBranchID_Advice: parseInt($("#cboBankBranch_Advice").val()),
            BBranchID_Nego: parseInt($("#cboBankBranch_Nego").val()),
            BBranchID_Issue: _oExportLC.BBranchID_Issue,
            ApplicantID: _oExportLC.ApplicantID,
            DeliveryToID: _oExportLC.DeliveryToID,
            CurrencyID: parseInt($("#cboCurrency").val()),
            ShipmentDate: $('#txtShipmentDate').datebox('getValue'),
            ExpiryDate: $('#txtExpireDate').datebox('getValue'),
            LCRecivedDate: $('#txtReceiveDate').datebox('getValue'),
            Remark: $("#txtNote").val(),
            HSCode: $.trim($("#txtHSCode").val()),
            AreaCode: $.trim($("#txtAreaCode").val()),
            LiborRate: $("#chkLIBORRateYes").is(":checked"),
            BBankFDD: $("#chkBankFDDYes").is(":checked"),
            OverDueRate: $('#txtOverDueRate').numberbox('getValue'),
            //IRC: $("#txtIRC").val(),
            //ERC: $("#txtERC").val(),
            FrightPrepaid: $("#txtFrightPrepaid").val(),
            DCharge: $('#txtDiscrepancyCharge').numberbox('getValue'),
            LCTramsID: parseInt($("#cboLCTerm").val()),
            IsForeignBank: $("#chkIsBFDD_Foreign").is(":checked"),
            TransShipmentAllowed: $("#chkTransshipmentAllow").is(":checked"),
            Amount: parseFloat(nTotalAmount),//_oExportLC.Amount,
            PartialShipmentAllowed: $("#chkPartialShipmentAllow").is(":checked"),
            ShipmentFrom: $("#txtShipmentFrom").val(),
            ExportPILCMappings:oExportPIDetails,
            GarmentsQty: $("#txtGarmentsQty").val(),
            AmendmentDate: $('#txtAmendmentDate').datebox('getValue'),
            BUID: _nBUID,
            IsAmendment:true,
            BankBranchID_Forwarding: parseInt($("#cboBankBranch_ForwardingBank").val()),
            PaymentInstruction: $("#cboPaymentInstruction").val()
        };
        return oExportLC;
    }


    function RefreshObjectExportLC_TnC() {
        var nTotalAmount = 0;
        var oExportPIDetails = $("#tblExportPILCMappings").datagrid("getRows");
        var oExportPIDetails_New = $("#tblExportPILCMappings_New").datagrid("getRows");
        for (var i = 0; i < oExportPIDetails_New.length; i++)
        {
            oExportPIDetails_New[i].ExportPILCMappingID=0;
            oExportPIDetails_New[i].LCReceiveDate=$('#txtAmendmentReceiveDate').datebox('getValue');
            oExportPIDetails.push(oExportPIDetails_New[i])
            nTotalAmount = parseFloat(nTotalAmount) + parseFloat(oExportPIDetails_New[i].Amount);
        }

        var oExportLC = {
            ExportLCID: (_oExportLC != null) ? _oExportLC.ExportLCID : 0,
            ExportLCNo: $("#txtExportLCNo").val(),
            NegoDays: parseInt($("#txtNegoDays").val()),
            FileNo: _oExportLC.FileNo,
            OpeningDate: $('#txtOpeningDate').datebox('getValue'),
            BBranchID_Advice: parseInt($("#cboBankBranch_Advice").val()),
            BBranchID_Nego: parseInt($("#cboBankBranch_Nego").val()),
            BBranchID_Issue: _oExportLC.BBranchID_Issue,
            ApplicantID: _oExportLC.ApplicantID,
            DeliveryToID : _oExportLC.DeliveryToID,
            CurrencyID: parseInt($("#cboCurrency").val()),
            ShipmentDate: $('#txtShipmentDate').datebox('getValue'),
            ExpiryDate: $('#txtExpireDate').datebox('getValue'),
            LCRecivedDate: $('#txtReceiveDate').datebox('getValue'),
            Remark: $("#txtNote").val(),
            HSCode: $.trim($("#txtHSCode").val()),
            AreaCode: $.trim($("#txtAreaCode").val()),
            LiborRate: $("#chkLIBORRateYes").is(":checked"),
            BBankFDD: $("#chkBankFDDYes").is(":checked"),
            OverDueRate: $('#txtOverDueRate').numberbox('getValue'),
            FrightPrepaid: $("#txtFrightPrepaid").val(),
            DCharge: $('#txtDiscrepancyCharge').numberbox('getValue'),
            LCTramsID: parseInt($("#cboLCTerm").val()),
            IsForeignBank: $("#chkIsBFDD_Foreign").is(":checked"),
            TransShipmentAllowed: $("#chkTransshipmentAllow").is(":checked"),
            Amount: parseFloat(nTotalAmount),//_oExportLC.Amount,
            PartialShipmentAllowed: $("#chkPartialShipmentAllow").is(":checked"),
            ShipmentFrom: $("#txtShipmentFrom").val(),
            GarmentsQty: $("#txtGarmentsQty").val(),
            AmendmentDate: $('#txtAmendmentDate').datebox('getValue'),
            BUID: _nBUID,
            IsAmendment:true,
            BankBranchID_Forwarding: parseInt($("#cboBankBranch_ForwardingBank").val()),
            PaymentInstruction: $("#cboPaymentInstruction").val(),
            ExportPILCMappings:oExportPIDetails
        };
        return oExportLC;
    }


    //// TnC
    function IsLIBORateYes() {
        document.getElementById("chkLIBORRateYes").checked = true;
        document.getElementById("chkLIBORRateNo").checked = false;
    }

    function IsLIBORateNo() {
        document.getElementById("chkLIBORRateYes").checked = false;
        document.getElementById("chkLIBORRateNo").checked = true;
    }

    function IsTransshipmentAllow() {
        document.getElementById("chkTransshipmentAllow").checked = true;
        document.getElementById("chkTransshipmentNotAllow").checked = false;
    }

    function IsTransshipmentNotAllow() {
        document.getElementById("chkTransshipmentAllow").checked = false;
        document.getElementById("chkTransshipmentNotAllow").checked = true;
    }

    function IsPShipmentAllow() {
        document.getElementById("chkPartialShipmentAllow").checked = true;
        document.getElementById("chkPartialShipmentNotAllow").checked = false;
    }

    function IsPShipmentNotAllow() {
        document.getElementById("chkPartialShipmentAllow").checked = false;
        document.getElementById("chkPartialShipmentNotAllow").checked = true;
    }

    function IsBFDD_Local() {
        document.getElementById("chkIsBFDD_Local").checked = true;
        document.getElementById("chkIsBFDD_Foreign").checked = false;
    }

    function IsDFDD_Foreign() {
        document.getElementById("chkIsBFDD_Local").checked = false;
        document.getElementById("chkIsBFDD_Foreign").checked = true;
    }

    function IsBankFDDYes() {
        document.getElementById("chkBankFDDYes").checked = true;
        document.getElementById("chkBankFDDNo").checked = false;
    }

    function IsBankFDDNo() {
        document.getElementById("chkBankFDDYes").checked = false;
        document.getElementById("chkBankFDDNo").checked = true;
    }


    ///

    /// Pick Object
    $("#btnClrContractor").click(function () {
        $("#txtContractorName").val("");
        _oExportLC.ApplicantID=0;
    });

    $("#btnPickContractor").click(function () {

        var oContractor = {
            Params: '2,3' + '~' + $.trim($("#txtContractorName").val()+'~'+_nBUID)
        };
       
        GetContractors(oContractor);
    });

    $("#txtContractorName").keydown(function (e) {
        var nkeyCode = e.keyCode || e.which;
        if(nkeyCode==13){
            var sContractorName=$.trim($("#txtContractorName").val());
            if(sContractorName=="" || sContractorName==null)
            {
                alert("Please, Type name or part of Name");
                $("#txtContractorName").focus();
                $("#txtContractorName").addClass("errorFieldBorder");
                return;
            }
            var oContractor = {
                Params: '2,3' + '~' + $.trim($("#txtContractorName").val()+'~'+_nBUID)
            };
            GetContractors(oContractor);
        }
        else if(nkeyCode==8){
            $("#txtContractorName").val("");
            _oExportLC.ApplicantID=0;
            $("#cboCPIssueTo").empty();
        }
    });



    $("#btnClrDeliverTo").click(function () {
        $("#txtDeliverTo").val("");
        _oExportLC.DeliveryToID=0;
        $("#cboCPDeliverTo").empty();
    });

    $("#btnPickDeliverTo").click(function () {
     
        var oContractor = {
            Params: '2,3' + '~' + $.trim($("#txtDeliverTo").val()+'~'+_nBUID)
        };
        GetDeliverTo(oContractor);
    });

    $("#txtDeliverTo").keydown(function (e) {
        var nkeyCode = e.keyCode || e.which;
        if(nkeyCode==13){
            var sContractorName=$.trim($("#txtDeliverTo").val());
            if(sContractorName=="" || sContractorName==null)
            {
                alert("Please, Type name or part of Name");
                $("#txtDeliverTo").focus();
                $("#txtDeliverTo").addClass("errorFieldBorder");
                return;
            }
            var oContractor = {
                Params: '2,3' + '~' + $.trim($("#txtDeliverTo").val()+'~'+_nBUID)
            };
            GetDeliverTo(oContractor);
        }
        else if(nkeyCode==8){
            $("#txtDeliverTo").val("");
            _oExportLC.DeliveryToID=0;
            $("#txtDeliverTo").empty();

        }
    });
    function GetContractors(oContractor){

      
        var obj = {
            BaseAddress: _sBaseAddress,
            Object: oContractor,
            ControllerName: "Contractor",
            ActionName: "ContractorSearchByNameType",
            IsWinClose: false
        };
        $("#progressbar").progressbar({ value: 0 });
        $("#progressbarParent").show();
        var intervalID = setInterval(updateProgress, 250);
        $.icsDataGets(obj, function (response) {
            clearInterval(intervalID);
            $("#progressbarParent").hide();
            if (response.status && response.objs.length > 0) {
                if (response.objs[0].ContractorID > 0) {
                    debugger;
                    var tblColums = [];
                    var oColumn = { field: "ContractorID", title: "Code", width: 50, align: "center" };tblColums.push(oColumn);
                    oColumn = { field: "Name", title: "Name", width: 190, align: "left" };tblColums.push(oColumn);
                    oColumn = { field: "Phone", title: "Phone", width: 140, align: "left" };tblColums.push(oColumn);

                    var oPickerParam = {
                        winid: 'winContractorPicker',
                        winclass:'clsContractorPicker',
                        winwidth: 460,
                        winheight: 460,
                        tableid: 'tblContractorPicker',
                        tablecolumns: tblColums,
                        datalist: response.objs,
                        multiplereturn: false,
                        searchingbyfieldName:'Name',
                        windowTittle: 'Contractor List'
                    };
                    $.icsPicker(oPickerParam);
                    IntializePickerbutton(oPickerParam);//multiplereturn, winclassName
                }
                else { alert(response.objs[0].ErrorMessage); }
            }
            else{
                alert("No contractor found.");
            }
        });
    }
    function GetDeliverTo(oContractor){

       
        var obj = {
            BaseAddress: _sBaseAddress,
            Object: oContractor,
            ControllerName: "Contractor",
            ActionName: "ContractorSearchByNameType",
            IsWinClose: false
        };
        $("#progressbar").progressbar({ value: 0 });
        $("#progressbarParent").show();
        var intervalID = setInterval(updateProgress, 250);
        $.icsDataGets(obj, function (response) {
            clearInterval(intervalID);
            $("#progressbarParent").hide();
            if (response.status && response.objs.length > 0)
            {
                if (response.objs[0].ContractorID > 0) {
                    debugger;
                    var tblColums = [];
                    var oColumn = { field: "ContractorID", title: "Code", width: 50, align: "center" };tblColums.push(oColumn);
                    oColumn = { field: "Name", title: "Name", width: 190, align: "left" };tblColums.push(oColumn);
                    oColumn = { field: "Phone", title: "Phone", width: 140, align: "left" };tblColums.push(oColumn);

                    var oPickerParam = {
                        winid: 'winDeliverToPicker',
                        winclass:'clsDeliverToPicker',
                        winwidth: 460,
                        winheight: 460,
                        tableid: 'tblDeliverToPicker',
                        tablecolumns: tblColums,
                        datalist: response.objs,
                        multiplereturn: false,
                        searchingbyfieldName:'Name',
                        windowTittle: 'Deliver To List'
                    };
                    $.icsPicker(oPickerParam);
                    IntializePickerbutton(oPickerParam);//multiplereturn, winclassName
                }
                else { alert(response.objs[0].ErrorMessage); }
            }
            else{
                alert("No contractor found.");
            }
        });
    }
    // Pick Bank (Issue)
    $("#txtBankBranch_Issue").keydown(function (e) {
        if (e.keyCode === 13) // Enter Press
        {
            if($("#txtBankBranch_Issue").val()=="" || $("#txtBankBranch_Issue").val()==null)
            {
                $("#txtBankBranch_Issue").removeClass("fontColorOfPickItem");
                alert("Please, Type name or Name Part ")
                return;
            }

            var oBankBranch = {
                BUID: _nBUID,
                DeptIDs: '5',//EnumOperationalDept : Export_Party=5
                BankName: $.trim($("#txtBankBranch_Issue").val())
            };
            PickBanks_AdvS(oBankBranch);
        }
        else if (e.keyCode === 08) {
            $("#txtBankBranch_Issue").removeClass("fontColorOfPickItem");
            _oExportLC.BBranchID_Issue=0;
        }
    });

    $("#btnClrBankBranch_Issue").click(function () {
        $("#txtBankBranch_Issue").removeClass("fontColorOfPickItem");
        $("#txtBankBranch_Issue").val("");
        _oExportLC.BBranchID_Issue=0;
    });

    $("#btnPickBankBranch_Issue").click(function () {
        var oBankBranch = {
            BUID: _nBUID,
            DeptIDs: '5',//EnumOperationalDept : Export_Party=5
            BankName: $.trim($("#txtBankBranch_Issue").val())
        };
        PickBanks_AdvS(oBankBranch);
    });
    function PickBanks_AdvS(oBankBranch) {
        
        var obj = {
            BaseAddress: _sBaseAddress,
            Object: oBankBranch,
            ControllerName: "BankBranch",
            ActionName: "GetsBankBranchSearchByBankName",
            IsWinClose: false
        };

        $("#progressbar").progressbar({ value: 0 });
        $("#progressbarParent").show();
        var intervalID = setInterval(updateProgress, 250);

        $.icsDataGets(obj, function (response) {
            clearInterval(intervalID);
            $("#progressbarParent").hide();
            if (response.status && response.objs.length > 0) {
                if (response.objs[0].BankBranchID > 0) {
                    var tblColums = []; var oColumn = { field: "BankName", title: "Bank Name", width: 200, align: "left" }; tblColums.push(oColumn);
                    oColumn = { field: "BranchName", title: "Branch Name", width: 280, align: "left" }; tblColums.push(oColumn);
                    oColumn = { field: "Address", title: "Address", width: 280, align: "left" }; tblColums.push(oColumn);

                    var oPickerParam = {
                        winid: 'winBankBranch_IssuePicker',
                        winclass: 'clsBankBranch_Issue',
                        winwidth: 500,
                        winheight: 460,
                        tableid: 'tblBankBranch_Issues',
                        tablecolumns: tblColums,
                        datalist: response.objs,
                        multiplereturn: false,
                        searchingbyfieldName: 'BranchName',
                        windowTittle: 'Bank List'
                    };
                    $.icsPicker(oPickerParam);
                    IntializePickerbutton(oPickerParam);
                }
                else {
                    alert(response.objs[0].ErrorMessage);
                }
            }
            else {
                alert("Sorry, No Contactor Found.");
            }
        });
    }
    
    //EndIssue Bank
    /// PicK PI 
    $("#txtPINo").keydown(function (e) {
        if (e.keyCode === 13) // Enter Press
        {
            PickExportPI_ELC();
        }
        else if (e.keyCode === 08) {
            $("#txtPINo").removeClass("fontColorOfPickItem");
        }
    });

    $("#btnAddPILCMapping").click(function () {
        PickExportPI_ELC();
    });
    function PickExportPI_ELC() {
        if(parseInt(_oExportLC.ApplicantID)<=0 ||  _oExportLC.ApplicantID ==null)
        {
            alert("Please,Pick Valid L/C.");
            return false;
        }
        if(parseInt(_oExportLC.ExportLCID)<=0 ||  _oExportLC.ExportLCID ==null)
        {
            alert("Please,Pick Valid L/C.");
            return false;
        }

        var oExportPI = {
            PINo: $.trim($("#txtPINo").val()),
            ContractorID: _oExportLC.ApplicantID,
            LCID: _oExportLC.ExportLCID,
            BUID: _nBUID
        };
        var obj = {
            BaseAddress: _sBaseAddress,
            Object: oExportPI,
            ControllerName: "ExportLC",
            ActionName: "GetsExportPI",
            IsWinClose: false
        };
        $("#progressbar").progressbar({ value: 0 });
        $("#progressbarParent").show();
        var intervalID = setInterval(updateProgress, 250);
        $.icsDataGets(obj, function (response) {
            clearInterval(intervalID);
            $("#progressbarParent").hide();
            if (response.status && response.objs.length > 0) {
                if (response.objs[0].ExportPIID > 0) {
                    var tblColums = []; var oColumn = { field: "PINo_Full", title: "PI No", width: 190, align: "left" }; tblColums.push(oColumn);
                    oColumn = { field: "ContractorName", title: "Party", width: 200, align: "left" }; tblColums.push(oColumn);
                    oColumn = { field: "BankName", title: "Bank", width: 120, align: "left" }; tblColums.push(oColumn);
                    oColumn = { field: "LCTermsName", title: "LC Terms", width: 120, align: "left" }; tblColums.push(oColumn);
                    oColumn = { field: "AmountSt", title: "Amount", width: 100, align: "right" }; tblColums.push(oColumn);
                    var oPickerParam = {
                        winid: 'winExportPI',
                        winclass: 'clsExportPI',
                        winwidth: 800,
                        winheight: 460,
                        tableid: 'tblExportPI',
                        tablecolumns: tblColums,
                        datalist: response.objs,
                        multiplereturn: false,
                        searchingbyfieldName: 'PIFullNo',
                        windowTittle: 'PI(s) Search'
                    };
                    $.icsPicker(oPickerParam);
                    IntializePickerbutton(oPickerParam);
                }
                else {
                    alert(response.objs[0].ErrorMessage);
                }
            }
            else {
                alert("Sorry, No PI Found.");
            }
        });
    }
    
    $("#btnAddPILCMapping_Existing").click(function () {
        PickExportPI_ExistingLC();
    });
    function PickExportPI_ExistingLC() {
        debugger;
        if(_oExportLC.ExportLCID<=0 || _oExportLC.ExportLCID ==null)
        {
            alert("Please,Pick Valid L/C.");
            return false;
        }
        
        var a=$("#txtAmeandNo").val();
        if( parseInt( $("#txtAmeandNo").val())>=0)
        {
            _oExportLC.VersionNo=$("#txtAmeandNo").val();
        }
      
       // alert();
        var oExportLC = {
            ContractorID: _oExportLC.ApplicantID,
            ExportLCID: _oExportLC.ExportLCID,
            VersionNo: _oExportLC.VersionNo,
            BUID: _nBUID
        };
        var obj = {
            BaseAddress: _sBaseAddress,
            Object: oExportLC,
            ControllerName: "ExportLC",
            ActionName: "GetsExportPILCMapping",
            IsWinClose: false
        };
        $("#progressbar").progressbar({ value: 0 });
        $("#progressbarParent").show();
        var intervalID = setInterval(updateProgress, 250);
        $.icsDataGets(obj, function (response) {
            clearInterval(intervalID);
            $("#progressbarParent").hide();
            if (response.status && response.objs.length > 0) {
                if (response.objs[0].ExportPIID > 0) {
                    var tblColums = []; var oColumn = { field: "PINo", title: "PI No", width: 190, align: "left" }; tblColums.push(oColumn);
                    oColumn = { field: "PIValueSt", title: "Amount", width: 100, align: "right" }; tblColums.push(oColumn);
                    oColumn = { field: "VersionNo", title: "Amendment No", width: 20, align: "left" }; tblColums.push(oColumn);
                    oColumn = { field: "DateST", title: "Date", width: 100, align: "left" }; tblColums.push(oColumn);
                    oColumn = { field: "LCTermsName", title: "LC Terms", width: 120, align: "left" }; tblColums.push(oColumn);
                    oColumn = { field: "BankName", title: "Bank", width: 120, align: "left" }; tblColums.push(oColumn);
                    
                    var oPickerParam = {
                        winid: 'winExportPILCMapping',
                        winclass: 'clsExportPILCMapping',
                        winwidth: 800,
                        winheight: 460,
                        tableid: 'tblExportPILCMapping',
                        tablecolumns: tblColums,
                        datalist: response.objs,
                        multiplereturn: false,
                        searchingbyfieldName: 'PINo',
                        windowTittle: 'PI(s) Search'
                    };
                    $.icsPicker(oPickerParam);
                    IntializePickerbutton(oPickerParam);
                }
                else {
                    alert(response.objs[0].ErrorMessage);
                }
            }
            else {
                alert("Sorry, No PI Found.");
            }
        });
    }
    //$("#btnRemovePILCMapping").click(function () {
    //    var oExportPILCMapping = $("#tblExportPILCMappings_New").datagrid("getSelected");
    //    if (oExportPILCMapping == null || oExportPILCMapping.ExportPILCMappingID <= 0)
    //    {
    //        alert("Please select an item from list.");
    //        return false;
    //    }
    //    if (!confirm("Confirm to Delete?")) return false;

    //    var SelectedRowIndex = $('#tblExportPILCMappings_New').datagrid('getRowIndex', oExportPILCMapping);
    //    if (oExportPILCMapping == null || oExportPILCMapping.ExportPILCMappingID <= 0) {
    //        $('#tblExportPILCMappings_New').datagrid('deleteRow', SelectedRowIndex);
    //    }
    //    else {
            
    //        var obj =
    //        {
    //            BaseAddress: _sBaseAddress,
    //            Object: oExportPILCMapping,
    //            ObjectId: oExportPILCMapping.ExportPILCMappingID,
    //            ControllerName: "ExportLC",
    //            ActionName: "DeletePILCMapping",
    //            TableId: "tblExportPILCMappings_New",
    //            IsWinClose: false
    //        };
    //        $.icsDelete(obj, function (response) {
    //            RefreshTotalSummery_PI();
    //            //CalculateTotalEPIDetail();
                
    //        });
    //    }
    //});
    $("#btnRemovePILCMapping").click(function () {
        var oExportPILCMapping = $("#tblExportPILCMappings_New").datagrid("getSelected");
        if (oExportPILCMapping == null || oExportPILCMapping.ExportPILCMappingID <= 0)
        {
            alert("Please select an item from list.");
            return false;
        }
        if (!confirm("Confirm to Delete?")) return false;

        var SelectedRowIndex = $('#tblExportPILCMappings_New').datagrid('getRowIndex', oExportPILCMapping);
        $('#tblExportPILCMappings_New').datagrid('deleteRow', SelectedRowIndex);
      
    });
    $("#btnActivity").click(function () {
       
        var oExportPILCMapping = $("#tblExportPILCMappings").datagrid("getSelected");
        if (oExportPILCMapping == null || oExportPILCMapping.ExportPILCMappingID <= 0)
        {
            alert("Please select an item from list.");
            return false;
        }
        var SelectedRowIndex = $('#tblExportPILCMappings').datagrid('getRowIndex', oExportPILCMapping);
        if(oExportPILCMapping.Activity==true)
        {
            if (!confirm("Confirm to In-Active?")) return false;

        }
        debugger;
        if(oExportPILCMapping.Activity==false)
        {
            if (!confirm("Confirm to Active?")) return false;
        }
        oExportPILCMapping.Activity=! oExportPILCMapping.Activity;
        if(oExportPILCMapping.Activity==false)
        {
            oExportPILCMapping.ActivitySt="In-Active"
        }
        else
        {
            oExportPILCMapping.ActivitySt="Active"
        }
       
        $('#tblExportPILCMappings').datagrid('updateRow', { index: SelectedRowIndex, row: oExportPILCMapping });
      
    });
    // End Pick PI
    function IntializePickerbutton(oPickerobj) {
        $("#" + oPickerobj.winid).find("#btnOk").click(function () {
            //for Single Select
            SetPickerValueAssign(oPickerobj);
        });
        $(document).find('.' + oPickerobj.winclass).keydown(function (e) {
            if (e.which == 13)//enter=13
            {
                SetPickerValueAssign(oPickerobj);

            }
        });
    }

    function SetPickerValueAssign(oPickerobj) {
        debugger;
        var oreturnObj = null, oreturnobjs = [];
        if (oPickerobj.multiplereturn) {
            oreturnobjs = $('#' + oPickerobj.tableid).datagrid('getChecked');
        } else {
            oreturnObj = $('#' + oPickerobj.tableid).datagrid('getSelected');
        }
        $("#" + oPickerobj.winid).icsWindow("close");
        $("#" + oPickerobj.winid).remove();
        if (oPickerobj.winid == 'winContractorPicker') {
            if (oreturnObj != null && oreturnObj.ContractorID > 0)
            {
                $('#txtContractorName').val(oreturnObj.Name);
                _oExportLC.ApplicantID= oreturnObj.ContractorID;
            }
            else{
                alert("Data not found");
            }
        }
        else if (oPickerobj.winid == 'winDeliverToPicker') {
            if (oreturnObj != null && oreturnObj.ContractorID > 0)
            {
                debugger;
                $('#txtDeliverTo').val(oreturnObj.Name);
                _oExportLC.DeliveryToID= oreturnObj.ContractorID;
            }
            else{
                alert("Data not found");
            }
        }
       else if (oPickerobj.winid == 'winBankBranch_IssuePicker') {
            if (oreturnObj != null && oreturnObj.BankBranchID > 0)
            {
                debugger;
                $('#txtBankBranch_Issue').val(oreturnObj.BankBranchName);
                _oExportLC.BBranchID_Issue= oreturnObj.BankBranchID;
            }
            else{
                alert("Data not found");
            }
        }
       else  if (oPickerobj.winid == 'winExportPI')
       {
            if (oreturnObj != null && oreturnObj.ExportPIID > 0)
            {
                if ( oreturnObj.ExportPIID > 0)
                {
                    if (_oExportLC.ApplicantID == 0)
                    {
                        _oExportLC.ApplicantID = oreturnObj.ContractorID;
                        if (_oExportLC.ApplicantID > 0) {
                            $("#txtContractorName").addClass("fontColorOfPickItem");
                            $("#txtContractorName").val(oreturnObj.ContractorName);
                            $("#cboLCTerm").val(oreturnObj.LCTermID);
                            _oExportLC.DeliveryToID = oreturnObj.DeliveryToID;
                            $("#txtDeliverTo").val(oreturnObj.DeliveryToName);
                        } else {
                            $("#txtContractorName").removeClass("fontColorOfPickItem");
                            $("#txtContractorName").val("");
                        }
                    }

                    if (parseInt($("#cboCurrency").val()) == 0) {
                        $("#cboCurrency").val(oreturnObj.CurrencyID);
                    }

                    if (parseInt($("#cboBankBranch_Advice").val()) == 0) {
                        $("#cboBankBranch_Advice").val(oreturnObj.BankBranchID);
                    }
                }
                PickPIExportLC(oreturnObj);
            }
            else{
                alert("Data not found");
            }
       }
       else  if (oPickerobj.winid == 'winExportPILCMapping')
       {
           if (oreturnObj != null && oreturnObj.ExportPIID > 0)
           {
               PickPIExportLC(oreturnObj);
           }
           else{
               alert("Data not found");
           }
       }
       else if (oPickerobj.winid == 'winMasterLC_ELC')
       {

           if (_oExportLC.ExportLCID <= 0 || _oExportLC.ExportLCID==null)
           {
               alert("Please, First save L/C");
               return;
           }
           if (oreturnObj != null && oreturnObj.MasterLCID > 0) {
               var oMasterLC = oreturnObj;
           
               var oMasterLCMapping = {
                   ExportLCID: _oExportLC.ExportLCID,
                   ContractorID: _oExportLC.ApplicantID,
                   MasterLCID: oMasterLC.MasterLCID
               };
               $.ajax({
                   type: "POST",
                   dataType: "json",
                   url: _sBaseAddress + "/MasterLC/SaveMasterLCMapping",
                   traditional: true,
                   data: JSON.stringify(oMasterLCMapping),
                   contentType: "application/json; charset=utf-8",
                   success: function (data) {
                    
                       var oMasterLCMapping = jQuery.parseJSON(data);
                       if (parseInt(oMasterLCMapping.MasterLCMappingID) > 0) {
                           var oMasterLCMappings = $("#tblMasterLCs").datagrid("getRows");
                           var nIndex = oMasterLCMappings.length;
                           $("#tblMasterLCs").datagrid("appendRow", oMasterLCMapping);
                           $("#tblMasterLCs").datagrid("selectRow", nIndex);
                       }
                       else {
                           alert(oMasterLCMapping.ErrorMessage);
                       }
                   },
                   error: function (xhr, status, error) {
                       alert(error);
                   }
               });
           }
           else {
               alert("Please select a Master LC.");
               return false;
           }
       }
       else {
           alert("Data not found");
           return false;
       }
    }

    function AppendPIwithLC(oTempPILCMapping)
    {

        var oPILCMappings = $("#tblExportPILCMappings_New").datagrid("getRows");
        var nFlag = 0;
        for (var i = 0; i < oPILCMappings.length; i++) {
            if (oPILCMappings[i].ExportPIID == oTempPILCMapping.ExportPIID) {
                $('#tblExportPILCMappings_New').datagrid('updateRow', { index: i, row: oTempPILCMapping });
                nFlag = 1;
                break;
            }
        }
        if (nFlag == 0) {
            var nIndex = oPILCMappings.length;
            $("#tblExportPILCMappings_New").datagrid("appendRow", oTempPILCMapping);
            $("#tblExportPILCMappings_New").datagrid("selectRow", nIndex);
        }
    }
    function PickPIExportLC(oreturnObj)
    {
        AppendPIwithLC(oreturnObj);
        RefreshTotalSummery_PI();
    }
    $('#btnClose,#btnCloseTwo').click(function(e){
        window.location.href = sessionStorage.getItem("BackLink");
    });
    ///

    /// Master LC
    $("#txtMasterLCSearch").keydown(function (e) {
        if (e.keyCode === 13) // Enter Press
        {
            PickMasterLC_ELC();
        }
        else if (e.keyCode === 08) {
            $("#txtMasterLCSearch").removeClass("fontColorOfPickItem");
         
        }
    });
  
    $("#btnPickMasterLC").click(function () {
        if (_oExportLC.ExportLCID <= 0)
        {
            alert("Please first confirm L/C Save");
            return;
        }
        PickMasterLC_ELC();
    });
    function PickMasterLC_ELC() 
    {
        if (_oExportLC.ExportLCID <= 0 || _oExportLC.ExportLCID == null) {
            alert("Please, First save L/C");
            return;
        }

        var MasterLC = {
            MasterLCNo: $.trim($("#txtMasterLCSearch").val()),
            ContractorID: _oExportLC.ApplicantID
        };
        var obj = {
            BaseAddress: _sBaseAddress,
            Object: MasterLC,
            ControllerName: "MasterLC",
            ActionName: "GetsMasterLC",
            IsWinClose: false
        };
        DynamicRefreshList([], "tblMasterLCPicker");
        $.icsDataGets(obj, function (response) {
            if (response.status && response.objs.length > 0) {
                _oMasterLC = [];
                if (response.objs[0].MasterLCID > 0) {
                    _oMasterLC = response.objs;
                }
                var tblColums = [];
                var oColumn = { field: "MasterLCNo", title: "LC No", width: 120, align: "left" }; tblColums.push(oColumn);
                oColumn = { field: "MasterLCDateSt", title: "Date", width: 120, align: "center" }; tblColums.push(oColumn);
                oColumn = { field: "MasterLCTypeSt", title: "Type", width: 120, align: "left" }; tblColums.push(oColumn);
                var oPickerParam = {
                    winid: 'winMasterLC_ELC',
                    winclass: 'clsMasterLC_ELC',
                    winwidth: 380,
                    winheight: 460,
                    tableid: 'tblMasterLCPicker',
                    tablecolumns: tblColums,
                    datalist: _oMasterLC,
                    multiplereturn: false,
                    searchingbyfieldName: 'MasterLCNo',
                    windowTittle: 'Master LC Search'
                };
                $.icsPicker(oPickerParam);
              
                IntializePickerbutton(oPickerParam);
            }
        });
    }

    $("#btnDeleteMasterLCMapping").click(function () {
        var oMasterLCMapping = $("#tblMasterLCs").datagrid("getSelected");
        if (oMasterLCMapping == null || oMasterLCMapping.MasterLCMappingID <= 0) {
            alert("Please select an item from list.");
            return false;
        }
        if (!confirm("Confirm to Delete?")) return false;

        var obj =
        {
            BaseAddress: _sBaseAddress,
            Object: oMasterLCMapping,
            ObjectId: oMasterLCMapping.MasterLCMappingID,
            ControllerName: "MasterLC",
            ActionName: "DeleteMasterLCMapping",
            TableId: "tblMasterLCs",
            IsWinClose: false
        };
        $.icsDelete(obj);
    });

    $("#chkMaskerLC1").change(function () {
        if (this.checked) {
            $(".lblLCType").text("Master");
            $('#chkExportLC1').prop('checked', false);
            $("#txtMasterLCNo1").attr("placeholder", "Type Master LC No");

        } else {
            $(".lblLCType").text("");
            $('#chkExportLC1').prop('checked', true);
            $("#txtMasterLCNo1").attr("placeholder", "Type LC No");
        }
    });

    $("#chkExportLC1").change(function () {
        if (this.checked) {
            $(".lblLCType").text("");
            $('#chkMaskerLC1').prop('checked', false);
            $("#txtMasterLCNo1").attr("placeholder", "Type LC No");
        } else {
            $(".lblLCType").text("Master");
            $('#chkMaskerLC1').prop('checked', true);
            $("#txtMasterLCNo1").attr("placeholder", "Type Master LC No");
        }
    });

   

    function ValidationMasterLC1() {
        if (_oExportLC.ExportLCID <= 0 || _oExportLC==null ) {
            alert("Please, First Save L/C, from previous tab ");
       
            return false;
        }
        if ($.trim($("#txtMasterLCNo1").val()) == "") {
            alert("Please Entry Master/Export LV No");
            $("#txtMasterLCNo1").focus();
            $("#txtMasterLCNo1").addClass("errorFieldBorder");
            return false;
        } else {
            $("#txtMasterLCNo1").removeClass("errorFieldBorder");
        }
        return true;
    }

    $("#btnAddMasterLC1").click(function () {
     
        if (!ValidationMasterLC1()) return false;
        debugger;
        var oMasterLC = {
            MasterLCID:0,
            MasterLCNo: $("#txtMasterLCNo1").val(),
            MasterLCDate: $('#txtMasterLCDate1').datebox('getValue'),
            MasterLCType: ($("#chkMaskerLC1").is(':checked') == true ? 1 : 2),
        };
        var oMasterLCMapping = {
            ExportLCID: _oExportLC.ExportLCID,
            ContractorID: _oExportLC.ApplicantID,
            MasterLCID: oMasterLC.MasterLCID,
            MasterLCObj:oMasterLC
        };

        $.ajax({
            type: "POST",
            dataType: "json",
            url: _sBaseAddress + "/MasterLC/SaveWithMasterLC",
            traditional: true,
            data: JSON.stringify(oMasterLCMapping),
            contentType: "application/json; charset=utf-8",
            success: function (data) {
                var oMasterLCMapping = jQuery.parseJSON(data);
                if (parseInt(oMasterLCMapping.MasterLCMappingID) > 0) {
                    var oMasterLCMappings = $("#tblMasterLCs").datagrid("getRows");
                    var nIndex = oMasterLCMappings.length;
                    $("#tblMasterLCs").datagrid("appendRow", oMasterLCMapping);
                    $("#tblMasterLCs").datagrid("selectRow", nIndex);

                    //Ratin
                    $('#chkExportLC1').prop('checked', true);
                    $('#chkMaskerLC1').prop('checked', false);
                    $("#txtMasterLCDate1").datebox({ disabled: false });
                    $("#txtMasterLCDate1").datebox("setValue", icsdateformat(new Date()));
                    $("#txtMasterLCNo1").attr("placeholder", "Type LC No");
                    $("#txtMasterLCNo1").val("");
                }
                else {
                    alert(oMasterLCMapping.ErrorMessage);
                }
            },
            error: function (xhr, status, error) {
                alert(error);
            }
        });

    });
    /// end Master LC
</script>