<html>
<head>
    @{
        ViewBag.Title = "Export L/C";
    } 
</head>
<body>
    @model ESimSol.BusinessObjects.ExportLC

  
    <div class="menuMainCollectionTable">
        <div title="Commercial Invoice Entry" style="padding: 2px">
            <fieldset>
                <legend style="font-weight:bold"> LC Information : </legend>
                <table id="tblExportBills_Info" border="0" cellspacing="2" cellpadding="2" class="CaptionStyle">
                    <tr class="trAddBill">
                        <td style="width:10%; text-align:right">
                            File No
                        </td>
                        <td style="width:15%">
                            <input type="text" style="width:65%;" id="txtFileNo" disabled="disabled" placeholder="Auto Generated" />
                            <input type="text" disabled="disabled" style="width:22%;" id="txtVersionNo" />
                        </td>
                        <td style="width:10%; text-align:right">
                            L/C No
                        </td>
                        <td style="width:15%">
                            <input type="text" style="width:150px;" disabled="disabled" id="txtExportLCNo" />

                        </td>
                        <td style="width:15%; text-align:right">
                            Applicant
                        </td>
                        <td style="width:35%;text-align:left">
                            <input id="txtContractorName" type="text" style="width:90%" disabled="disabled" placeholder="Type & Press Enter" />
                        </td>
                    </tr>
                    <tr class="trAddBill">
                        <td style="width:10%; text-align:right;font-weight:bold">
                            L/C Open Date:
                        </td>
                        <td style="width:15%" class="singleObjectDates">
                            <input type="text" style="width:80%;" id="txtOpeningDate" disabled="disabled" class="easyui-datebox" required="required" data-options="formatter:icsdateformat,parser:icsdateparser" />
                        </td>
                        <td style="width:10%; text-align:right;font-weight:bold">
                            Receive Date:
                        </td>
                        <td style="width:15%" class="singleObjectDates">
                            <input type="text" style="width:80%;" id="txtReceiveDate" disabled="disabled" class="easyui-datebox" required="required" data-options="formatter:icsdateformat,parser:icsdateparser" />
                        </td>
                        <td style="width:15%; text-align:right;font-weight:bold">
                            Beneficiary:
                        </td>
                        <td style="width:35%;text-align:left">
                            <select id="cboBenificiary" disabled="disabled" style=" width:95%;"></select>
                        </td>
                    </tr>
                    <tr class="trAddBill">
                        <td style="width:10%; text-align:right;font-weight:bold">
                            Shipment Date:
                        </td>
                        <td style="width:15%" class="singleObjectDates">
                            <input type="text" style="width:80%;" id="txtShipmentDate" disabled="disabled" class="easyui-datebox" required="required" data-options="formatter:icsdateformat,parser:icsdateparser" />
                        </td>
                        <td style="width:10%; text-align:right;font-weight:bold">
                            Expire Date:
                        </td>
                        <td style="width:15%" class="singleObjectDates">
                            <input type="text" style="width:80%;" disabled="disabled" id="txtExpireDate" class="easyui-datebox" required="required" data-options="formatter:icsdateformat,parser:icsdateparser" />
                        </td>
                        <td style="width:15%; text-align:right;font-weight:bold">
                            Issue Bank:
                        </td>
                        <td style="width:35%;text-align:left" title="Sender">
                            <input id="txtBankBranch_Issue" class="reset-text" disabled="disabled" style="width:90%" type="text" placeholder="Type & Press Enter" />
                        </td>
                    </tr>
                    <tr class="trAddBill">
                        <td style="width:10%; text-align:right;font-weight:bold">
                            Remaining Days:
                        </td>
                        <td style="width:15%">
                            @*<input disabled="disabled" id="txtNegoDays" type="text" style="width:20%;" class="number" />*@
                            <input disabled="disabled" id="txtRemDays_Shipment" type="text" style="width:68%;" />
                        </td>
                        <td style="width:10%; text-align:right;font-weight:bold">
                            Days:
                        </td>
                        <td style="width:15%">
                            <input type="text" style="width:100%;" id="txtRemDays_Expiry" disabled="disabled" />
                        </td>
                        <td style="width:15%; text-align:right;font-weight:bold">
                            Advice Bank:
                        </td>
                        <td style="width:35%;text-align:left">
                            <input id="txtBankBranch_Advice" type="text" style="width:95%;" disabled="disabled" />
                        </td>
                    </tr>
                    <tr class="trAddBill">
                        <td style="width:120px; text-align:right">
                            Amount:
                        </td>
                        <td style="width:150px">
                            <input id="txtAmount" type="text" style="width:150px" disabled="disabled" placeholder="Amount" />
                        </td>
                        <td style="width:120px; text-align:right">
                            L/C Status:
                        </td>
                        <td style="width:150px">
                            <input type="text" style="width:100%;" id="txtLCStatusInSt" disabled="disabled" disabled="disabled" />
                        </td>

                        <td style="width:120px; text-align:right">
                            Negotiate Bank:
                        </td>
                        <td style="width:230px;text-align:left">
                            <input id="txtBankBranch_Nego" type="text" style="width:230px" disabled="disabled" />
                        </td>
                    </tr>
                    <tr>
                        <td style="width:120px; text-align:right">
                            Remark:
                        </td>
                        <td colspan="5" style="width:150px">
                            <input type="text" disabled="disabled" style="width:99%;" id="txtNote" />
                        </td>
                    </tr>
                </table>
            </fieldset>

            <div style="margin-left:2px; margin-top:2px">
                <fieldset>
                    <legend style="font-weight:bold"> Invoice(s)information: </legend>
                    <table id="tblExportBills" title="Invoice list" class="easyui-datagrid" style="width:100%; height:240px" fitcolumns="false" rownumbers="true" pagination="false" singleselect="true" autorowheight="false" toolbar="#toolbarExportBill" data-options="singleSelect: true, fitColumns:false,  rownumbers:true,pagination:false,autoRowHeight:false">
                        <thead>
                            <tr>
                                <th field="ExportBillNoSt" width="20%" align="left">Invoice No</th>
                                <th field="StartDateSt" width="15%" align="left">Invoice Date</th>
                                <th field="AmountSt" width="20%" align="right">Amount</th>
                                <th field="StateSt" width="30%" align="left">Current Status</th>
                            </tr>
                        </thead>
                    </table>
                    <div id="toolbarExportBill" style=" height:25px;">
                        <a id="btnAddExportBill" href="javascript:void(0)" class="easyui-linkbutton" iconcls="icon-add" plain="true">Add</a>
                        <a id="btnEditExportBill" href="javascript:void(0)" class="easyui-linkbutton" iconcls="icon-edit" plain="true">Edit</a>
                        <a id="btnDeleteExportBill" href="javascript:void(0)" class="easyui-linkbutton" iconcls="icon-remove" plain="true">Remove</a>
                        <span style="float:right;font-size: 18px;color: #c00;font-weight: bold;margin-right: 10px;">
                            <label>Remaining Amount : </label>
                            <label id="lblRemaingBill">0</label>
                        </span>
                    </div>
                </fieldset>
            </div>

            <table border="0">
                <tr>
                    <td id="" style="width: 620px; text-align: right; font-size: 12px; font-weight:bold">  </td>
                    <td id="" style="width: 100px; text-align: right; font-size: 12px; font-weight:bold"> Total : </td>
                    @*<td style="width: 150px; text-align: right; font-size: 12px"> <label id="lblTotalQty_Bill" style="text-align: right; font-size:12px; float: right; font-weight:bold">0.00</label></td>*@
                    <td style="width: 150px; text-align: right; font-size: 12px"> <label id="lblTotalValue_Bill" style="text-align: right; font-size:12px; float: right; font-weight:bold">0.00</label></td>
                    <td id="" style="width: 50px; text-align: right; font-size: 12px; font-weight:bold">  </td>
                </tr>
            </table>


            <fieldset class="actionfieldsetstyle">
                <legend style="font-weight:bold"> Action : </legend>
                <table border="0" cellspacing="2" cellpadding="2" style="width:100%;font-size:11px; font-weight:bold">
                    <tr>
                        <td style="width:80%"></td>
                        <td style="width:10%"></td>
                        <td style="width: 150%;text-align: right;  font-size:13px">
                            <a id="btnClose" href="javascript:void(0)" class="easyui-linkbutton" iconcls="icon-closed" plain="true">Close</a>
                        </td>
                    </tr>
                </table>
            </fieldset>
        </div>  
    </div>
    <div id="winExportBill" style="width:1200px;"  class=" easyui-window" title="Invoice" data-options="modal:true,closed:true,collapsible:false,minimizable:false,maximizable:false,closable:false">
        <div title="Invoice Entry" style="padding: 2px">
            <fieldset>
                <legend style="font-weight:bold"> Com. Invoice Information : </legend>
                <table  border="0" cellpadding="2" cellspacing="2" style="width: 100%;font-size:12px">
                    <tr>
                        <td style="width: 15%; text-align: right; font-size:12px;">
                            L/C No:
                        </td>
                        <td style="width:20%; text-align:left;">
                            <input type="text" style="width:150px;" id="txtExportLCNo02" disabled="disabled" />
                        </td>
                        <td style="width:10%; text-align: right; font-size:12px;">
                            Party Name:
                        </td>
                        <td style="width:25%; text-align:left;">
                            <input type="text" style="width:100%;" id="txtApplicantName02" disabled="disabled" />
                        </td>
                        <td style="width:15%; text-align: right; font-size:12px;">
                            No Of Packages:
                        </td>
                        <td style="width:15%; text-align:left;">
                            <input type="text" style="width:100px;" id="txtNoOfPackages" />
                        </td>
                    </tr>
                    <tr>
                        <td style="width: 15%; text-align: right; font-size:12px;">
                            Com. Invoice No:
                        </td>
                        <td style="width: 20%; text-align:left;">
                            <input type="text" style="width:150px;" id="txtExportBillNo" disabled="disabled" />
                        </td>
                        <td style="width: 10%; text-align: right; font-size:12px;">
                            Date:
                        </td>
                        <td style="width: 25%; text-align:left;">
                            <input id="txtStartDateSt02" type="text" style="width: 70%;" class="easyui-datebox" required="required" data-options="formatter:icsdateformat,parser:icsdateparser" />
                        </td>
                        <td style="width:15%; text-align: right; font-size:12px;">
                            Net Weight:
                        </td>
                        <td style="width:15%; text-align:left;">
                            <input type="text" style="width:100%;" id="txtNetWeight" />
                        </td>
                    </tr>
                    <tr>
                        <td style="width: 15%; text-align: right; font-size:12px;">
                            Nego Bank :
                        </td>
                        <td colspan="3" style="width:55%; text-align:left;">
                            <select id="cboBankBranch_Nego" style="width:95%;"></select>
                        </td>
                        <td style="width: 15%; text-align: right; font-size:12px;">
                            Gross Weight:
                        </td>
                        <td style="width:15%; text-align:left;">
                            <input type="text" style="width:100%;" id="txtGrossWeight" />
                        </td>
                    </tr>
                    <tr>
                        <td style="width: 15%; text-align: right; font-size:12px;">
                            Forwarding Bank :
                        </td>
                        <td colspan="3" style="width:55%; text-align:left;">
                            <input id="txtBankBranch_Ford" class="reset-text" style="width:76%" type="text" placeholder="Type & Press Enter" />
                            <a id="btnPickBankBranch_Ford" href="javascript:void(0)" class="easyui-linkbutton ics-pick" iconcls="icon-pick" plain="true"></a>
                            <a id="btnClrBankBranch_Ford" href="javascript:void(0)" class="easyui-linkbutton ics-pick" iconcls="icon-clear" plain="true"></a>
                           
                        </td>
                        <td style="width: 15%; text-align: right; font-size:12px;">
                           
                        </td>
                        <td style="width:15%; text-align:left;">
                           
                        </td>
                    </tr>
                    <tr>
                        <td style="width: 15%; text-align: right; font-size:12px;">
                            Endorse Bank :
                        </td>
                        <td colspan="3" style="width:55%; text-align:left;">
                            <input id="txtBankBranch_Endorse" class="reset-text" style="width:76%" type="text" placeholder="Type & Press Enter" />
                            <a id="btnPickBankBranch_Endorse" href="javascript:void(0)" class="easyui-linkbutton ics-pick" iconcls="icon-pick" plain="true"></a>
                            <a id="btnClrBankBranch_Endorse" href="javascript:void(0)" class="easyui-linkbutton ics-pick" iconcls="icon-clear" plain="true"></a>
                        </td>
                        <td style="width: 15%; text-align: right; font-size:12px;"></td>
                        <td style="width:15%; text-align:left;"></td>
                    </tr>
                    <tr>
                        <td style="width:15%; text-align: right; font-size:12px;">
                            Remark :
                        </td>
                        <td colspan="5" style="width: 85%; text-align:left;">
                            <input type="text" style="width:100%;" id="txtNote_ExportBill" />
                        </td>

                    </tr>

                </table>
            </fieldset>

            <div style="margin-left:2px; margin-top:2px">
                <fieldset>
                    <legend style="font-weight:bold"> Invoice Detail: </legend>
                    <table  id="tblExportBillDetail" title="" class="easyui-datagrid" style="width:100%;height:240px;" fitcolumns="false" rownumbers="true" pagination="false" singleselect="true" autorowheight="false" toolbar="#toolbarExportBillDetail" data-options="onClickRow: onClickRow">
                        <thead>
                            <tr>
                                <th field="PINo_Full" width="12%" align="left">PI No</th>
                                <th field="ProductName" width="15%"> Product Name</th>
                                <th field="Construction" width="10%">Construction</th>
                                <th field="StyleNo" width="10%"> StyleNo</th>
                                <th field="ColorInfo" width="10%"> ColorInfo</th>
                                <th field="FabricNo" width="8%"> P Number</th>
                                @*<th field="MUName" width="7%" align="left">Unit</th>*@
                                <th data-options="field:'Qty',width:100,align:'right',editor:{type:'numberbox',options:{precision:8}}" width="10%" align="right">Qty(<span class="lblQty"></span>)</th>
                                <th data-options="field:'QtyTwo',width:100,align:'right',editor:{type:'numberbox',options:{precision:8}}" width="10%" align="right">Qty(<span class="lblQtyTwo"></span>)</th>
                                <th data-options="field:'NoOfBag',width:100,align:'right',editor:{type:'numberbox',options:{precision:2}}" width="8%" align="right"><span class="lblNoOfBag"></span></th>
                                <th data-options="field:'WtPerBag',width:100,align:'right',editor:{type:'numberbox',options:{precision:2}}" width="8%" align="right">Weight</th>
                                <th field="UnitPriceSt" width="10%" align="right">U/P(per <span class="lblQty"></span>)</th>
                                <th field="UnitPriceTwo" width="10%" formatter="formatPrice" align="right">U/P(per <span class="lblQtyTwo"></span>)</th>
                                <th field="AmountSt" width="10%" align="right">Amount</th>
                                
                               
                                @*<th field="Qty" width="100" align="right">Qty</th>*@
                                @*<th data-options="field:'WtPerBag',width:69,align:'right',editor:{type:'numberbox',options:{precision:2}}" align="right">Weight/Bag</th>*@
                            </tr>
                        </thead>
                    </table>
                    <div id="toolbarExportBillDetail" style=" height:25px;">
                        <a id="btnPickExportBillDetails" href="javascript:void(0)" class="easyui-linkbutton" iconcls="icon-add" plain="true">Add</a>
                        <a id="btnDeleteExportBillDetails" href="javascript:void(0)" class="easyui-linkbutton" iconcls="icon-remove" plain="true">Remove</a>
                        <a id="btnRefresh" href="javascript:void(0)" class="easyui-linkbutton" iconcls="icon-reload" plain="true">Refresh</a>
                    </div>
                </fieldset>
            </div>

            <table border="0">
                <tr>
                    <td id="tdTotalCaption" style="width: 300px; text-align: right; font-size: 12px; font-weight:bold">  </td>
                    <td id="tdTotalCaption" style="width: 100px; text-align: right; font-size: 12px; font-weight:bold"> Total : </td>
                    <td style="width: 160px; text-align: right; font-size: 12px">
                        <label id="lblTotalQty_BillDetail" style="text-align: right; font-size:12px; float: right; font-weight:bold">0.00</label>
                    </td>
                    <td style="width: 160px; text-align: right; font-size: 12px">
                        <label id="lblTotalValue_BillDetail" style="text-align: right; font-size:12px; float: right; font-weight:bold">0.00</label>
                    </td>
                    <td id="tdTotalCaption" style="width: 5px; text-align: right; font-size: 12px; font-weight:bold">  </td>
                </tr>
            </table>


            <fieldset class="actionfieldsetstyle">
                <legend style="font-weight:bold"> Action : </legend>
                <table style="width: 100%;" border="0" cellspacing="2" cellpadding="2" style="font-size:11px; font-weight:bold">
                    <tr>
                        <td style="width:75%"></td>
                        <td style="width:15%">
                            <a id="btnSaveExportBill" href="javascript:void(0)" class="easyui-linkbutton" iconcls="icon-save" plain="true">Save</a>
                        </td>
                        <td style="width:10%">
                            <a id="btnCloseExportBill" href="javascript:void(0)" class="easyui-linkbutton" iconcls="icon-closed" plain="true">Close</a>
                        </td>
                    </tr>
                </table>
            </fieldset>
        </div>
    </div>
    
</body>
</html>
<script type="text/javascript">
    var _sBaseAddress = "";
    var _oExportLC=null;
    var _oExportBills = [];
    var _oExportBill={BankBranchID_Endorse:0,BankBranchID_Endorse:0};
    var _oBusinessUnits=[];
    var _oBankBranchs=[];
    var _nBUID=0;
    var _sBackLink="";
    var _oMUnitCon=null;
    var _oIsAdd=false;
    $(document).ready(function () {
        _sBaseAddress =@Html.Raw(new System.Web.Script.Serialization.JavaScriptSerializer().Serialize(HttpContext.Current.Session[SessionInfo.BaseAddress]));
        _oExportLC =@Html.Raw(new System.Web.Script.Serialization.JavaScriptSerializer().Serialize(Model));
        _oExportBills = @Html.Raw(new System.Web.Script.Serialization.JavaScriptSerializer().Serialize(ViewBag.ExportBills));
        _oBusinessUnits= @Html.Raw(new System.Web.Script.Serialization.JavaScriptSerializer().Serialize(ViewBag.BusinessUnits));
        _oBankBranchs = @Html.Raw(new System.Web.Script.Serialization.JavaScriptSerializer().Serialize(ViewBag.BankBranchs));
        _nBUID = @Html.Raw(new System.Web.Script.Serialization.JavaScriptSerializer().Serialize(ViewBag.BUID));
        _oMUnitCon = @Html.Raw(new System.Web.Script.Serialization.JavaScriptSerializer().Serialize(ViewBag.MUnitCon));
        debugger;
        if(_oMUnitCon.MeasurementUnitConID<=0)
        {
            _oMUnitCon.Value=1;
        }
        var nDay_Shipment = @Html.Raw(new System.Web.Script.Serialization.JavaScriptSerializer().Serialize(ViewBag.Day_Shipment));
        var nDay_Expiry = @Html.Raw(new System.Web.Script.Serialization.JavaScriptSerializer().Serialize(ViewBag.Day_Expiry));
        $('#txtRemDays_Expiry').val(nDay_Expiry);
        $('#txtRemDays_Shipment').val(nDay_Shipment);
        $(".lblQtyTwo").html(_oMUnitCon.ToMUnit);
        $(".lblQty").html(_oMUnitCon.FromMUnit);
        
        _sBackLink=sessionStorage.getItem("BackLink");
        LoadCombo();
        RefreshControl();
    });
  
    function LoadCombo() {
        $("#cboBankBranch_Nego").icsLoadCombo({
            List: _oBankBranchs,
            OptionValue: "BankBranchID",
            DisplayText: "BankBranchName"
        });
        $("#cboBenificiary").icsLoadCombo({
            List: _oBusinessUnits,
            OptionValue: "BusinessUnitID",
            DisplayText: "Name"
        });
   
    }

   
    function RefreshControl() {
        if (_oBusinessUnits.length > 0) {
            if(_oBusinessUnits[0].BusinessUnitTypeInInt==5|| _oBusinessUnits[0].BusinessUnitTypeInInt==6)
            {
                $(".lblNoOfBag").html("NoOfRoll");
            }
            else{
               
                $("#tblExportBillDetail").datagrid("hideColumn", "FabricNo");
                $("#tblExportBillDetail").datagrid("hideColumn", "Construction");
                //$("#tblExportBillDetail").datagrid("hideColumn", "ColorInfo");
                $("#tblExportBillDetail").datagrid("hideColumn", "StyleNo");
                //$("#tblPIDetails").datagrid("hideColumn", "FabricNo");
                //$("#tblPIDetails").datagrid("hideColumn", "Construction");
                //$("#tblPIDetails").datagrid("hideColumn", "ColorInfo");
                //$("#tblPIDetails").datagrid("hideColumn", "StyleNo");
                $(".lblNoOfBag").html("NoOfBag");
            }
        }

        if (_oExportBills.length > 0) {
            DynamicRefreshList(_oExportBills, "tblExportBills");
        }
        $("#txtAmount").prop("disabled", true);
        $("#txtLCStatusInString").prop("disabled", true);
        $("#txtFileNo").val(_oExportLC.FileNo);
        $("#txtVersionNo").val(_oExportLC.AmendmentFullNo);
        $("#txtExportLCNo").val(_oExportLC.ExportLCNo);
        $("#txtAmount").val(_oExportLC.AmountSt);
        $("#txtNote").val(_oExportLC.Remark);
        $("#txtLCStatusInSt").val(_oExportLC.CurrentStatusInST);

        $('#txtOpeningDate').datebox('setValue', _oExportLC.OpeningDateST);
        $('#txtReceiveDate').datebox('setValue', _oExportLC.LCRecivedDateST);
        $('#txtShipmentDate').datebox('setValue', _oExportLC.ShipmentDateST);
        $('#txtExpireDate').datebox('setValue', _oExportLC.ExpiryDateST);
        $("#txtBankBranch_Advice").val(_oExportLC.BankName_Advice);
        $("#txtBankBranch_Nego").val(_oExportLC.BankName_Nego);
        //$("#txtBankBranch_Issue").val(_oExportLC.BankName_Issue);
      //  $("#txtCurrency").val(_oExportLC.CurrencyName);
      //  $("#txtNegoDays").val(_oExportLC.NegoDays);
        
        $("#cboBenificiary").val(_oExportLC.BUID); // for one company , if multi company please change it

      
        if (_oExportLC.ExportLCID > 0) {
            document.getElementById('txtBankBranch_Issue').value = _oExportLC.BankName_Issue + "[" + _oExportLC.BBranchName_Issue + "]";
            document.getElementById('txtContractorName').value = _oExportLC.ApplicantName;
            var txtApplicantName = document.getElementById("txtContractorName");
            txtApplicantName.style.color = "blue";
            txtApplicantName.style.fontWeight = "bold";
        }
        RefreshTotalSummery_EBill();
        debugger;
        //SetNegoDate01(_oExportLC.NegoDays, $('#txtShipmentDate').datebox('getValue'));
        //SetRemainingBillAmountLC(oExportLC);
        //CheckDisburseDate01(_oExportLC.NegoDays, _oExportLC.ExportLCID);
    }
    function RefreshTotalSummery_EBill() {
    
        var nTotalQty = 0;
        var nQty_LC = 0;
        var nTotalValue = 0;
        var sCurrency = "";
        var sMUnit = "";

        for (var i = 0; i < _oExportLC.ExportPILCMappings.length; i++) {
            nQty_LC = nQty_LC + parseFloat(_oExportLC.ExportPILCMappings[i].Qty);
        }

        var oExportBills = $('#tblExportBills').datagrid('getRows');
        for (var i = 0; i < oExportBills.length; i++) {
            nTotalValue = nTotalValue + parseFloat(oExportBills[i].Amount);
            nTotalQty = nTotalQty + parseFloat(oExportBills[i].Qty);
            sCurrency = oExportBills[i].Currency;
        }
        document.getElementById("lblTotalValue_Bill").innerHTML = sCurrency + "" + formatPrice(nTotalValue);
        var nTotalRemainingBillAmount = parseFloat(_oExportLC.Amount) - parseFloat(nTotalValue);
        $("#lblRemaingBill").text(sCurrency + " " + formatPrice(nTotalRemainingBillAmount)+" ,Qty:"+ formatPrice(nQty_LC-nTotalQty)+" "+_oMUnitCon.FromMUnit);
    }
    function RefreshTotalSummery_EBillDetail() {
        var nTotalQty = 0;
        var nTotalValue = 0;
        var sCurrency = "";
        var sMUnit = "";
        var oExportBillDetails = $('#tblExportBillDetail').datagrid('getRows');
        for (var i = 0; i < oExportBillDetails.length; i++) {

            nTotalQty = nTotalQty + parseFloat(oExportBillDetails[i].Qty);
            if(oExportBillDetails[i].IsDeduct)
            {
                nTotalValue = nTotalValue - parseFloat(oExportBillDetails[i].Amount);
            }
            else
            {
                nTotalValue = nTotalValue + parseFloat(oExportBillDetails[i].Amount);
            }
            sCurrency = _oExportLC.Currency;
            sMUnit = oExportBillDetails[i].MUName;
        }
        $("#lblTotalQty_BillDetail").text(formatPrice(nTotalQty) + "" + sMUnit);
        $("#lblTotalValue_BillDetail").text(_oExportLC.Currency + "" + formatPrice(nTotalValue));
    }
  

   

 
    $('#btnClose').click(function(e){
        window.location.href = sessionStorage.getItem("BackLink");
    });
    
    function NewExportBill() {
    
        var oExportBill = {
            ExportBillID: 0,
            ExportLCNo: _oExportLC.ExportLCNo,
            ApplicantName: _oExportLC.ApplicantName,
            BankBranchID_Bill:_oExportLC.BBranchID_Nego,
            ExportBillNo: "",
            StartDate:new Date(),
            StartDateSt:icsdateformat(new Date()),
            BankBranchID_Ford:_oExportLC.BBranchID_Issue,
            BankBranchID_Endorse:_oExportLC.BBranchID_Issue,
            BankName_Ford:_oExportLC.BankName_Issue,
            BBranchName_Ford:_oExportLC.BBranchName_Issue, 
            BankName_Endorse:_oExportLC.BankName_Issue,
            BBranchName_Endorse:_oExportLC.BBranchName_Issue,
            ExportBillDetails:[]
     
        };
        return oExportBill;
    }
    function RefreshExportBillControl(oExportBill)
    {
        debugger;
        endEditing();
        _oExportBill = oExportBill;
        if(_oExportBill.ExportBillDetails!=null)
        {
            DynamicRefreshList(_oExportBill.ExportBillDetails, "tblExportBillDetail");
        }

        $("#txtExportBillNo").val(_oExportBill.ExportBillNo);
        $("#txtExportLCNo02").val(_oExportBill.ExportLCNo);
        $("#txtApplicantName02").val(_oExportBill.ApplicantName);
        $("#txtNoOfPackages").val(_oExportBill.NoOfPackages);
        $("#txtNetWeight").val(_oExportBill.NetWeight);
        $("#txtGrossWeight").val(_oExportBill.GrossWeight);
        $("#txtNote_ExportBill").val(_oExportBill.NoteCarry);
        $("#cboBankBranch_Nego").val(_oExportBill.BankBranchID_Bill);
        $("#txtBankBranch_Endorse").val(_oExportBill.BankName_Endorse + "[" + _oExportBill.BBranchName_Endorse + "]");
        $("#txtBankBranch_Ford").val(_oExportBill.BankName_Ford + "[" + _oExportBill.BBranchName_Ford + "]");
  
        if (_oExportBill.StartDateSt == "--" || _oExportBill.StartDateSt == "")
        {
            $("#txtStartDateSt02").datebox("setValue", icsdateformat(new Date()));
        }
        else
        {
            $("#txtStartDateSt02").datebox("setValue", _oExportBill.StartDateSt);
        }
        RefreshTotalSummery_EBillDetail();
        RefreshTotalSummery_EBill();
    }
    $("#btnAddExportBill").click(function () {
        _oExportBill = null;
        _oIsAdd=true;
        var oExportBill = NewExportBill();
        DynamicRefreshList([], "tblExportBillDetail");
        $("#winExportBill").icsWindow('open', "Add Export Invoice");       
        RefreshExportBillControl(oExportBill);
        $("#txtExportBillNo").prop("disabled", true);
    });

    $("#btnEditExportBill").click(function () {
        _oIsAdd=false;
        var oExportBill = $("#tblExportBills").datagrid("getSelected");
        if (oExportBill == null || parseInt(oExportBill.ExportBillID) <= 0) { alert("Please select an item from list!"); return; }
        $("#winExportBill").icsWindow('open', "Edit ExportBill");
        //RefreshExportLCLayout("btnEditExportLC");
        _oExportBill = oExportBill;
        GetExportBill_BillDetail(oExportBill);
        $("#txtExportBillNo").prop("disabled", false);
    });

   
    
    function GetExportBill_BillDetail(oExportBill) {
        var obj =
        {
            BaseAddress: _sBaseAddress,
            Object: oExportBill,
            ControllerName: "ExportBill",
            ActionName: "GetExportBill",
            IsWinClose: false
        };

        $.icsDataGet(obj, function (response) {
        
            if (response.status && response.obj != null) {
                if (response.obj.ExportBillID > 0) {
                    RefreshExportBillControl(response.obj);
                }
                else { alert(response.obj.ErrorMessage); }
            }
            else {

                alert("No information found.");
            }
        });
    }

  

    function RefreshObjectExportBill() {
  
      
            var oExportBill = {
                ExportBillID: (_oExportBill == null ? 0 : _oExportBill.ExportBillID),
                ExportLCID: _oExportLC.ExportLCID,
                ExportBillNo: document.getElementById("txtExportBillNo").value,
                StartDate: $('#txtStartDateSt02').datebox('getValue'),
                BankBranchID_Bill: parseInt($("#cboBankBranch_Nego").val()),
                Amount: 0,
                Qty   : 0,
                AmountSt:'',
                NoOfPackages : $.trim($('#txtNoOfPackages').val()),
                NetWeight : $.trim($('#txtNetWeight').val()),
                GrossWeight : $.trim($('#txtGrossWeight').val()),
                NoteCarry : $.trim($('#txtNote_ExportBill').val()),
                Currency:_oExportLC.Currency,
                BankBranchID_Endorse:_oExportBill.BankBranchID_Endorse,
                BankBranchID_Ford:_oExportBill.BankBranchID_Ford,
                ExportBillDetails:$('#tblExportBillDetail').datagrid('getRows')
            };
   
        return oExportBill;
    }
    $("#btnSaveExportBill").click(function (e) {
        // if (!ValidateInputExportLC(false)) return;
        if(_oExportLC.ExportLCID<=0)
        {
            alert("L/C info Not Found requred!");
            return ;
        }

        if(_oIsAdd==false)
        {
            if(_oExportBill.ExportBillID<=0)
            {
                alert("Please Select at least one Invoice from List!");
                return ;
            }
        }
        var nAmount=0;
        var oExportBillDetails=$('#tblExportBillDetail').datagrid('getRows');

        if (oExportBillDetails== null || oExportBillDetails.length<=0) {
            alert("Product Info requred!"); $('#btnPickExportBillDetails').focus();
            return ;
        }
        if ($('#txtStartDateSt02').datebox('getValue') == null || $('#txtStartDateSt02').datebox('getValue') == "") {
            alert("Please give Shipment Date!"); $('#txtStartDateSt02').focus();
            return ;
        }

        if ($("#cboBankBranch_Nego").val() <= 0) {
            alert("Please select Negoatiation Bank Name!"); $('#cboBankBranch_Nego').focus();
            $("#cboBankBranch_Nego").addClass("errorFieldBorder");
            return 
        } else {
            $("#cboBankBranch_Nego").removeClass("errorFieldBorder");
        }
        endEditing();
        debugger;
        var oExportBill = RefreshObjectExportBill();
        
        
        for (var i = 0; i < oExportBillDetails.length; i++)
        {
            if(oExportBillDetails[i].IsDeduct)
            {
                nAmount = nAmount - parseFloat(oExportBillDetails[i].Qty*oExportBillDetails[i].UnitPrice);
            }
            else
            {
                nAmount = nAmount + parseFloat(oExportBillDetails[i].Qty*oExportBillDetails[i].UnitPrice);
            }
        }
       // oExportBill.AmountSt = oExportBill.Currency + " " + formatPrice( oExportBill.Amount);

        if ( parseFloat(nAmount)<=0) {
            alert("Bill Amount is zero!"); 
            return ;
        }

        var obj = {
            BaseAddress: _sBaseAddress,
            Object: oExportBill,
            ObjectId: oExportBill.ExportBillID,
            ControllerName: "ExportBill",
            ActionName: "SaveExportBill",
            TableId: "tblExportBills",
            IsWinClose: true
        };

        $.icsSave(obj, function (response) {
            if (response.status && response.obj != null) {
                var oExportBill = response.obj;
                if ($.trim(oExportBill.ErrorMessage) == "") {
                    if (oExportBill.ExportBillID > 0) {
                        //_oExportLC = $('#tblExportLCs').datagrid('getSelected');
                        //var SelectedRowIndex = $('#tblExportLCs').datagrid('getRowIndex', _oExportLC);
                        _oExportBill = oExportBill;
                        if (_oExportBill.ExportBillID > 0)
                        {
                           
                            //var oExportBillDetails = $("#tblExportBillDetail").datagrid("getRows");
                            //var nTotalValue = 0;
                            //var sCurrency = "";
                            //for (var i = 0; i < oExportBillDetails.length; i++) {
                            //    nTotalValue = nTotalValue + parseFloat(oExportBillDetails[i].Amount);
                            //    sCurrency = oExportBillDetails[i].Currency;

                            //}
                            //_oExportBill.Amount=nTotalValue;
                            RefreshTotalSummery_EBill();
                            
                        }
                        else {
                            alert(_oExportBill.ErrorMessage);
                        }
                    }
                }
                else {
                    alert(oExportBill.ErrorMessage);
                }
            }
        });





    });
   
    $("#btnDeleteExportBillDetails").click(function () {
        var oExportBillDetail = $("#tblExportBillDetail").datagrid("getSelected");
        if (oExportBillDetail == null ) {
            alert("Please select an item from list.");
            return false;
        }
        var nIndex=$('#tblExportBillDetail').datagrid('getRowIndex',oExportBillDetail);
        if (!confirm("Confirm to Delete?")) return false;
        //oExportBillDetail.ExportBill = $("#tblExportBills").datagrid("getSelected");
        //oExportBillDetail.ExportBill.ExportBillDetails = [];
        //alert(oExportBillDetail.ExportBillDetailID);
        if (parseInt(oExportBillDetail.ExportBillDetailID)>0) 
        {
            
        var obj =
        {
            BaseAddress: _sBaseAddress,
            Object: oExportBillDetail,
            ObjectId: oExportBillDetail.ExportBillDetailID,
            ControllerName: "ExportBill",
            ActionName: "DeleteExportBillDetail",
            TableId: "tblExportBillDetail",
            IsWinClose: false
        };
        $.icsDelete(obj, function (response) 
        {
            if (response.Message == "deleted")
            {
                var oExportBill = $("#tblExportBills").datagrid("getSelected");
                var nRowIndex = $("#tblExportBills").datagrid("getRowIndex", oExportBill);
                oExportBill.Qty = parseFloat(oExportBill.Qty) - parseFloat(oExportBillDetail.Qty);
                oExportBill.Amount = parseFloat(oExportBill.Amount) - parseFloat(oExportBillDetail.Amount);
                oExportBill.AmountSt = oExportBill.Currency + " " + formatPrice(oExportBill.Amount);
                $("#tblExportBills").datagrid("updateRow", { index: nRowIndex, row: oExportBill });
            }
            
          
            debugger
            RefreshTotalSummery_EBill();
            editIndex = undefined;
            endEditing();
        });
        }
        else
        {
            $("#tblExportBillDetail").datagrid("deleteRow", nIndex);
            RefreshTotalSummery_EBill();
            editIndex = undefined;
        }
    });

    $("#btnDeleteExportBill").click(function () {
        var oExportBill = $("#tblExportBills").datagrid("getSelected");
        if (oExportBill == null || oExportBill.ExportBillID <= 0) {
            alert("Invalid Field!!! please select a valid Field!");
            return false;
        }
        if (!confirm("Confirm to Delete?")) return false;
        var oExportBilltemp = { ExportBillID: oExportBill.ExportBillID };
        var obj =
        {
            BaseAddress: _sBaseAddress,
            Object: oExportBilltemp,
            ObjectId: oExportBilltemp.ExportBillID,
            ControllerName: "ExportBill",
            ActionName: "Delete",
            TableId: "tblExportBills",
            IsWinClose: false
        };
        $.icsDelete(obj, function (response) {
            RefreshTotalSummery_EBill();
        });
    });


    $("#btnCloseExportBill").click(function () {
        $("#winExportBill").icsWindow("close");
    });
    //$("#btnCloseBillDetails").click(function () {
    //    $("#winExportBillDetails").icsWindow("close");
    //});
    
    $('#btnClose').click(function(e){
        window.location.href = sessionStorage.getItem("BackLink");
    });

    $('#btnRefresh').click(function(e){
        endEditing();
    });
    

    var editIndex = undefined;
    function endEditing() {
    
        if (editIndex == undefined) {
            return true;
        }
        if ($('#tblExportBillDetail').datagrid('validateRow', editIndex)) {
            $('#tblExportBillDetail').datagrid('endEdit', editIndex);
            $('#tblExportBillDetail').datagrid('selectRow', editIndex);
            var oExportBillDetail = $('#tblExportBillDetail').datagrid('getSelected');
            if (oExportBillDetail != null)
            {
                debugger
                //alert(_oMUnitCon.Value);

                oExportBillDetail.Amount = parseFloat((oExportBillDetail.Qty / oExportBillDetail.RateUnit) * oExportBillDetail.UnitPrice)
                if(oExportBillDetail.IsDeduct==true)
                {
                    oExportBillDetail.AmountSt =  "-("+formatPrice(oExportBillDetail.Amount)+")";
                }
                else 
                {
                    oExportBillDetail.AmountSt = oExportBillDetail.Currency + "" + formatPrice(oExportBillDetail.Amount);
                }
                if(_oMUnitCon.Value>0)
                {
                    oExportBillDetail.UnitPriceTwo = (oExportBillDetail.UnitPrice/_oMUnitCon.Value).toFixed(8);
                }
                ////
                debugger;
                if (parseFloat(oExportBillDetail.QtyTwo) != _nQtyTwo )
                {
                    oExportBillDetail.Qty = (oExportBillDetail.QtyTwo/_oMUnitCon.Value).toFixed(8); //0.45359237001003542909395360718511
                }

                else{
                    oExportBillDetail.QtyTwo = (oExportBillDetail.Qty * _oMUnitCon.Value).toFixed(8); //0.45359237001003542909395360718511
                }


                $('#tblExportBillDetail').datagrid('updateRow', { index: editIndex, row: oExportBillDetail });
                //if (parseFloat(oExportBillDetail.Qty) != _nQty || parseFloat(oExportBillDetail.WtPerBag) != _nWtPerBag||  parseFloat(oExportBillDetail.NoOfBag) != _nNoOfBag)
                //{
                //    UpdateExportBillDetail(oExportBillDetail, editIndex);
                //}
                RefreshTotalSummery_EBillDetail();
            }
     
            _nQtyTwo = 0;
            _nNoOfBag = 0;
            _nWtPerBag=0
            editIndex = undefined;
            return true;
        }
        else {
            return false;
        }
    }

    var _nQtyTwo = 0;
    var _nNoOfBag = 0;
    var _nWtPerBag = 0;

    function onClickRow(index) {
        if (editIndex != index) {
            if (endEditing()) {
                $('#tblExportBillDetail').datagrid('selectRow', index).datagrid('beginEdit', index);
                var oExportBillDetail = $('#tblExportBillDetail').datagrid('getSelected');
                _nQtyTwo = parseFloat(oExportBillDetail.QtyTwo);
                _nNoOfBag = parseFloat(oExportBillDetail.NoOfBag);
                _nWtPerBag = parseFloat(oExportBillDetail.WtPerBag);
                editIndex = index;
            }
            else {
                $('#tblExportBillDetail').datagrid('selectRow', editIndex);
            }
        }
    }

    function UpdateExportBillDetail(oExportBillDetail, SelectedRowIndex) {
    
        oExportBillDetail.ExportBill = null;
        var obj = {
            BaseAddress: _sBaseAddress,
            Object: oExportBillDetail,
            ObjectId: oExportBillDetail.ExportBillDetailID,
            ControllerName: "ExportBill",
            ActionName: "Save_ExportBillDetail",
            TableId: "",
            IsWinClose: false,
            Message: ""
        };
        $.icsSave(obj, function (response) {
            if (response.status && response.obj != null) {
                var oExportBillDetail = response.obj;
                if (parseInt(oExportBillDetail.ExportBillDetailID) > 0) {
                    $('#tblExportBillDetail').datagrid('updateRow', { index: SelectedRowIndex, row: oExportBillDetail });
                    RefreshTotalSummery_EBillDetail();
                }
                //else {
                //    alert(oExportBillDetail.ErrorMessage);
                //    return;
                //}
            }
        });
    }

    
    $("#btnPickExportBillDetails").click(function () {
        var _dIsFabric=false;
        if (_oBusinessUnits.length > 0)
        {
            if(_oBusinessUnits[0].BusinessUnitTypeInInt==5|| _oBusinessUnits[0].BusinessUnitTypeInInt==6)
            {
                _dIsFabric=true;
            }
        }
        endEditing();

        var oEPIDetails = $('#tblExportBillDetail').datagrid('getRows');
        var sExportPIDetailID="";
        if(oEPIDetails!=null && oEPIDetails.length>0)
        {
            for (var i = 0;i<oEPIDetails.length; i++){
                sExportPIDetailID = oEPIDetails[i].ExportPIDetailID + "," + sExportPIDetailID;
            }
            sExportPIDetailID = sExportPIDetailID.substring(0, sExportPIDetailID.length - 1);
        }

        var oExportBill = {
            ExportLCID: _oExportLC.ExportLCID,
            Currency:_oExportLC.Currency,
            ExportBillID: (_oExportBill == null ? 0 : _oExportBill.ExportBillID),
            Params:sExportPIDetailID
        };

        if(_oIsAdd)
        {
            oExportBill.ExportBillID=0;
        }
        else
        {
            if (oExportBill == null || oExportBill.ExportBillID <= 0)
            {
                alert("Please select an item from list!"); return;
            }
        }

        if (oExportBill == null || oExportBill.ExportLCID <= 0)
        {
            alert("Please select an item from list!"); return;
        }
        var obj =
       {
           BaseAddress: _sBaseAddress,
           Object: oExportBill,
           ControllerName: "ExportBill",
           ActionName: "GetsExportBillDetails",
           IsWinClose: false
       };

        $.icsDataGets(obj, function (response) {
            debugger;
            if (response.status && response.objs.length > 0)
            {
                if (response.objs[0].ExportPIDetailID > 0) {
                    var tblColums = [];var oColumn ={};
                    oColumn= { field: "PINo_Full", title: "P/I No", width: 70, align: "left" }; tblColums.push(oColumn);
                    oColumn = { field: "ProductName", title: "Product", width: 160, align: "left" }; tblColums.push(oColumn);
                    if(_dIsFabric)
                    {
                        oColumn = { field: "Construction", title: "Construction", width: 100, align: "left" }; tblColums.push(oColumn);
                    }
                    oColumn = { field: "ColorInfo", title: "ColorInfo", width: 120, align: "left" }; tblColums.push(oColumn);
                    oColumn = { field: "StyleNo", title: "Style", width: 100, align: "left" }; tblColums.push(oColumn);
                    oColumn = { field: "Qty", title: "Qty(Balance)", width: 85, align: "right" }; tblColums.push(oColumn);
                    oColumn = { field: "EBillQty", title: "Already Uses", width: 80, align: "right" }; tblColums.push(oColumn);
                    oColumn = { field: "MUName", title: "Unit", width: 50, align: "left" }; tblColums.push(oColumn);
                    oColumn = { field: "UnitPriceSt", title: "UP", width: 30, align: "left" }; tblColums.push(oColumn);
                    if(_dIsFabric)
                    {
                        oColumn = { field: "FabricNo", title: "Mkt Ref", width: 100, align: "left" }; tblColums.push(oColumn);
                        oColumn = { field: "ProcessTypeName", title: "Process Type", width: 100, align: "left" }; tblColums.push(oColumn);
                    }
                    var oPickerParam = {
                        winid: 'winExportPIDetailPicker',
                        winclass: 'clsExportPIDetailPicker',
                        winwidth:900,
                        winheight: 460,
                        tableid: 'tblExportPIDetailPicker',
                        tablecolumns: tblColums,
                        datalist: response.objs,
                        multiplereturn: true,
                        searchingbyfieldName: 'ProductName',
                        windowTittle: 'P/I List'
                    };
                    $.icsPicker(oPickerParam);
                    IntializePickerbutton(oPickerParam);//multiple return
                }
                else {
                    alert("Data Not Found");
                    return;
                }

            }
            else{
                alert("Data Not Found");
                return;
            }
        });

    });


    function IntializePickerbutton(oPickerobj) {
        debugger;
        $("#" + oPickerobj.winid).find("#btnOk").click(function () {
            debugger;
            //for Single Select
            SetPickerValueAssign(oPickerobj);
        });
        $(document).find('.' + oPickerobj.winclass).keydown(function (e) {
            if (e.which == 13)//enter=13
            {
                SetPickerValueAssign(oPickerobj);

            }
        });
    }

    function SetPickerValueAssign(oPickerobj) {
        var oreturnObj = null, oreturnobjs = [];
        if (oPickerobj.multiplereturn) {
            oreturnobjs = $('#' + oPickerobj.tableid).datagrid('getChecked');
        } else {
            oreturnObj = $('#' + oPickerobj.tableid).datagrid('getSelected');
        }
        $("#" + oPickerobj.winid).icsWindow("close");
        $("#" + oPickerobj.winid).remove();
        if (oPickerobj.winid == 'winExportPIDetailPicker')
        {
            debugger;

            if (oreturnobjs!=null && oreturnobjs.length > 0) {
                //$("#txtContactPersonnel").val(oreturnobjs.length+' item(s) selected');
                //$("#txtContactPersonnel").addClass('fontColorOfPickItem');
                ExportBillDetailMapping(oreturnobjs);
            }
        }
       else if (oPickerobj.winid == 'winBankBranch_FordPicker') 
        {
            if (oreturnObj != null && oreturnObj.BankBranchID > 0)
            {
                debugger;
                $('#txtBankBranch_Ford').val(oreturnObj.BankBranchName);
                _oExportBill.BankBranchID_Ford= oreturnObj.BankBranchID;
               
            }
            else{
                alert("Data not found");
            }
        }
        else if (oPickerobj.winid == 'winBankBranch_EndorsePicker') 
        {
            if (oreturnObj != null && oreturnObj.BankBranchID > 0)
            {
                debugger;
                $('#txtBankBranch_Endorse').val(oreturnObj.BankBranchName);
                _oExportBill.BankBranchID_Endorse= oreturnObj.BankBranchID;
               
            }
            else{
                alert("Data not found");
            }
        }

      
    }


    function ExportBillDetailMapping(oExportBillDetails)
    {
        debugger;
        var bExists=false;
        for (i=0; i<oExportBillDetails.length;i++)
        {
            var bExists= IsExist(oExportBillDetails[i].ExportPIDetailID)
            if(!bExists)
            {
                oExportBillDetails[i].QtyTwo=(parseFloat(oExportBillDetails[i].Qty)/parseFloat(_oMUnitCon.Value)).toFixed(8);
                if(_oMUnitCon.Value>0)
                {
                    oExportBillDetails[i].UnitPriceTwo=(parseFloat(oExportBillDetails[i].UnitPrice)*parseFloat(_oMUnitCon.Value)).toFixed(8);
                }
                
                $('#tblExportBillDetail').datagrid('appendRow',oExportBillDetails[i]);
            }
        }
        endEditing();
        RefreshTotalSummery_EBillDetail();
    }
    function IsExist(nExportPIDetailID)
    {
        var oPRDetails = $('#tblExportBillDetail').datagrid('getRows');

        for (var i = 0; i < oPRDetails.length; i++) {
            if (parseInt(oPRDetails[i].ExportPIDetailID) == parseInt(nExportPIDetailID))
            {
                return true;
            }
        }

        return false;
    }


    // Pick Bank (For)
    $("#txtBankBranch_Ford").keydown(function (e) {
        if (e.keyCode === 13) // Enter Press
        {
            if($("#txtBankBranch_Ford").val()=="" || $("#txtBankBranch_Ford").val()==null)
            {
                $("#txtBankBranch_Ford").removeClass("fontColorOfPickItem");
                alert("Please, Type name or Name Part ")
                return;
            }

            var oBankBranch = {
                BUID: _nBUID,
                DeptIDs: '5',//EnumOperationalDept : Export_Party=5
                BankName: $.trim($("#txtBankBranch_Ford").val())
            };
            PickBanks_Ford(oBankBranch);
        }
        else if (e.keyCode === 08) {
            $("#txtBankBranch_Ford").removeClass("fontColorOfPickItem");
            _oExportBill.BankBranchID_Ford=0;
        }
    });

    $("#btnClrBankBranch_Ford").click(function () {
        $("#txtBankBranch_Ford").removeClass("fontColorOfPickItem");
        $("#txtBankBranch_Ford").val("");
        _oExportBill.BankBranchID_Ford=_oExportLC.BBranchID_Issue;
        _oExportBill.BankName_Ford=_oExportLC.BankName_Issue;
        _oExportBill.BBranchName_Ford=_oExportLC.BBranchName_Issue;
        $('#txtBankBranch_Ford').val(_oExportLC.BankName_Issue+ "[" + _oExportLC.BBranchName_Issue +"]");
       
    });
    $("#btnPickBankBranch_Ford").click(function () {
        var oBankBranch = {
            BUID: _nBUID,
            DeptIDs: '5',//EnumOperationalDept : Export_Party=5
            BankName: $.trim($("#txtBankBranch_Ford").val())
        };
        PickBanks_Ford(oBankBranch);
    });
    function PickBanks_Ford(oBankBranch) {

        var obj = {
            BaseAddress: _sBaseAddress,
            Object: oBankBranch,
            ControllerName: "BankBranch",
            ActionName: "GetsBankBranchSearchByBankName",
            IsWinClose: false
        };

        //$("#progressbar").progressbar({ value: 0 });
        //$("#progressbarParent").show();
        //var intervalID = setInterval(updateProgress, 250);

        $.icsDataGets(obj, function (response) {
            //clearInterval(intervalID);
            //$("#progressbarParent").hide();
            if (response.status && response.objs.length > 0) {
                if (response.objs[0].BankBranchID > 0) {
                    var tblColums = []; var oColumn = { field: "BankName", title: "Bank Name", width: 200, align: "left" }; tblColums.push(oColumn);
                    oColumn = { field: "BranchName", title: "Branch Name", width: 280, align: "left" }; tblColums.push(oColumn);
                    oColumn = { field: "Address", title: "Address", width: 280, align: "left" }; tblColums.push(oColumn);

                    var oPickerParam = {
                        winid: 'winBankBranch_FordPicker',
                        winclass: 'clsBankBranch_FordPicker',
                        winwidth: 500,
                        winheight: 460,
                        tableid: 'tblBankBranch_Ford',
                        tablecolumns: tblColums,
                        datalist: response.objs,
                        multiplereturn: false,
                        searchingbyfieldName: 'BranchName',
                        windowTittle: 'Bank List'
                    };
                    $.icsPicker(oPickerParam);
                    IntializePickerbutton(oPickerParam);
                }
                else {
                    alert(response.objs[0].ErrorMessage);
                }
            }
            else {
                alert("Sorry, No Contactor Found.");
            }
        });
    }
    ///Pic Bank (Endr)
    $("#txtBankBranch_Endorse").keydown(function (e) {
        if (e.keyCode === 13) // Enter Press
        {
            if($("#txtBankBranch_Endorse").val()=="" || $("#txtBankBranch_Endorse").val()==null)
            {
                $("#txtBankBranch_Endorse").removeClass("fontColorOfPickItem");
                alert("Please, Type name or Name Part ")
                return;
            }

            var oBankBranch = {
                BUID: _nBUID,
                DeptIDs: '5',//EnumOperationalDept : Export_Party=5
                BankName: $.trim($("#txtBankBranch_Endorse").val())
            };
            PickBanks_Endorse(oBankBranch);
        }
        else if (e.keyCode === 08) {
            $("#txtBankBranch_Endorse").removeClass("fontColorOfPickItem");
            _oExportBill.BankBranchID_Endorse=0;
        }
    });
    $("#btnClrBankBranch_Endorse").click(function () {
        $("#txtBankBranch_Endorse").removeClass("fontColorOfPickItem");
        $("#txtBankBranch_Endorse").val("");
        _oExportBill.BankBranchID_Endorse=0;
        _oExportBill.BankBranchID_Endorse=_oExportLC.BBranchID_Issue;
        _oExportBill.BankName_Endorse=_oExportLC.BankName_Issue;
        _oExportBill.BBranchName_Endorse=_oExportLC.BBranchName_Issue;
        $('#txtBankBranch_Endorse').val(_oExportLC.BankName_Issue+ "[" + _oExportLC.BBranchName_Issue +"]");
    });
    $("#btnPickBankBranch_Endorse").click(function () {
        var oBankBranch = {
            BUID: _nBUID,
            DeptIDs: '5',//EnumOperationalDept : Export_Party=5
            BankName: $.trim($("#txtBankBranch_Endorse").val())
        };
        PickBanks_Endorse(oBankBranch);
    });
    function PickBanks_Endorse(oBankBranch) {

        var obj = {
            BaseAddress: _sBaseAddress,
            Object: oBankBranch,
            ControllerName: "BankBranch",
            ActionName: "GetsBankBranchSearchByBankName",
            IsWinClose: false
        };

        //$("#progressbar").progressbar({ value: 0 });
        //$("#progressbarParent").show();
        //var intervalID = setInterval(updateProgress, 250);

        $.icsDataGets(obj, function (response) {
            //clearInterval(intervalID);
            //$("#progressbarParent").hide();
            if (response.status && response.objs.length > 0) {
                if (response.objs[0].BankBranchID > 0) {
                    var tblColums = []; var oColumn = { field: "BankName", title: "Bank Name", width: 200, align: "left" }; tblColums.push(oColumn);
                    oColumn = { field: "BranchName", title: "Branch Name", width: 280, align: "left" }; tblColums.push(oColumn);
                    oColumn = { field: "Address", title: "Address", width: 280, align: "left" }; tblColums.push(oColumn);

                    var oPickerParam = {
                        winid: 'winBankBranch_EndorsePicker',
                        winclass: 'clsBankBranch_Endorse',
                        winwidth: 500,
                        winheight: 460,
                        tableid: 'tblBankBranch_Endorse',
                        tablecolumns: tblColums,
                        datalist: response.objs,
                        multiplereturn: false,
                        searchingbyfieldName: 'BranchName',
                        windowTittle: 'Bank List'
                    };
                    $.icsPicker(oPickerParam);
                    IntializePickerbutton(oPickerParam);
                }
                else {
                    alert(response.objs[0].ErrorMessage);
                }
            }
            else {
                alert("Sorry, No Contactor Found.");
            }
        });
    }
   
</script>