<html>
<head>
    @{
        ViewBag.Title = "Export L/C";
    } 
</head>
<body>
    @model ESimSol.BusinessObjects.ExportLC
    <div id="progressbarParent" style="width:100%;height:100%;margin:0 auto;text-align:center; margin-left: auto;margin-right: auto;left: 0;right: 0;z-index: 1;">
        <div style="margin: 0px auto;margin-top: 251px;text-align:center;width:390px;">
            <label style="font-size:18px;">Please wait</label>
            <div id="progressbar" style="width:100%;height:37px;"></div>
        </div>
    </div>
  
    <div class="menuMainCollectionTable">
        <div class="easyui-panel" title="" style="font-family:Tahoma; text-align:center; width:100%; height:100%;">
            <div id="tabExportLCTabsExportLC" class="easyui-tabs" style="width:100%; height:100%;">
                <div title="Back to Back LC" style="padding:0px">
                    <fieldset>
                        <legend style="font-weight:bold"> LC Information : </legend>
                        <table style="width:100%;" border="0" cellspacing="1" cellpadding="1">
                            <tr>
                                <td style="width:10%; text-align:right;font-weight:bold">Unit:</td>
                                <td style="width:15%">
                                    <select id="cboBUType" style=" width:95%;"></select>
                                </td>
                                <td style="width:10%; text-align:right"></td>
                                <td style="width:15%"></td>
                                <td style="width:15%; text-align:right;font-weight:bold">
                                    Applicant:
                                </td>
                                <td style="width:35%;text-align:left">
                                    <input id="txtContractorName" class="reset-text" style="width:76%" placeholder="Type & Press Enter" />
                                    <a id="btnPickContractor" href="javascript:void(0)" class="easyui-linkbutton ics-pick" iconcls="icon-pick" plain="true"></a>
                                    <a id="btnClrContractor" href="javascript:void(0)" class="easyui-linkbutton ics-pick" iconcls="icon-clear" plain="true"></a>

                                </td>
                            </tr>
                            <tr>
                                <td style="width:10%; text-align:right;font-weight:bold">
                                    File No:
                                </td>
                                <td style="width:15%">
                                    <input type="text" style="width:65%;" id="txtFileNo" disabled="disabled" placeholder="Auto Generated" />
                                    <input type="text" disabled="disabled" style="width:22%;" id="txtVersionNo" />
                                </td>
                                <td style="width:10%; text-align:right;font-weight:bold">
                                    L/C No:
                                </td>
                                <td style="width:15%">
                                    <input type="text" style="width:100%;" id="txtExportLCNo" />

                                </td>
                                <td style="width:15%; text-align:right;font-weight:bold">
                                    Delivery To:
                                </td>
                                <td style="width:35%;text-align:left">
                                   
                                    <input id="txtDeliverTo" class="reset-text" style="width:76%" placeholder="Search Delivery To" />
                                    <a id="btnPickDeliverTo" href="javascript:void(0)" class="easyui-linkbutton ics-pick" iconcls="icon-pick" plain="true"></a>
                                    <a id="btnClrDeliverTo" href="javascript:void(0)" class="easyui-linkbutton ics-pick" iconcls="icon-clear" plain="true"></a>
                                </td>
                            </tr>
                            <tr>
                                <td style="width:10%; text-align:right;font-weight:bold">
                                    L/C Open Date:
                                </td>
                                <td style="width:15%" class="singleObjectDates">
                                    <input type="text" style="width:80%;" id="txtOpeningDate" class="easyui-datebox" required="required" data-options="formatter:icsdateformat,parser:icsdateparser" />
                                </td>
                                <td style="width:10%; text-align:right;font-weight:bold">
                                    Receive Date:
                                </td>
                                <td style="width:15%" class="singleObjectDates">
                                    <input type="text" style="width:80%;" id="txtReceiveDate" class="easyui-datebox" required="required" data-options="formatter:icsdateformat,parser:icsdateparser" />
                                </td>
                                <td style="width:15%; text-align:right;font-weight:bold">
                                    Beneficiary:
                                </td>
                                <td style="width:35%;text-align:left">
                                    <select id="cboBenificiary" style=" width:95%;"></select>
                                </td>
                            </tr>
                            <tr>
                                <td style="width:10%; text-align:right;font-weight:bold">
                                    Shipment Date:
                                </td>
                                <td style="width:15%" class="singleObjectDates">
                                    <input type="text" style="width:80%;" id="txtShipmentDate" class="easyui-datebox" required="required" data-options="formatter:icsdateformat,parser:icsdateparser" />
                                </td>
                                <td style="width:10%; text-align:right;font-weight:bold">
                                    Expire Date:
                                </td>
                                <td style="width:15%" class="singleObjectDates">
                                    <input type="text" style="width:80%;" id="txtExpireDate" class="easyui-datebox" required="required" data-options="formatter:icsdateformat,parser:icsdateparser" />
                                </td>
                                <td style="width:15%; text-align:right;font-weight:bold">
                                    Issue Bank:
                                </td>
                                <td style="width:35%;text-align:left" title="Sender">
                                    <input id="txtBankBranch_Issue" class="reset-text" style="width:76%" type="text" placeholder="Type & Press Enter" />
                                    <a id="btnPickBankBranch_Issue" href="javascript:void(0)" class="easyui-linkbutton ics-pick" iconcls="icon-pick" plain="true"></a>
                                    <a id="btnClrBankBranch_Issue" href="javascript:void(0)" class="easyui-linkbutton ics-pick" iconcls="icon-clear" plain="true"></a>
                                </td>
                            </tr>

                            <tr>
                                <td style="width:10%; text-align:right;font-weight:bold">
                                    Nego Days:
                                </td>
                                <td style="width:15%">
                                    <input id="txtNegoDays" type="text" style="width:20%;" class="number" />
                                    <input id="txtNegoDate" type="text" style="width:68%;" />
                                </td>
                                <td style="width:10%; text-align:right;font-weight:bold">
                                    Amount:
                                </td>
                                <td style="width:15%">
                                    <input type="text" style="width:100%;" id="txtAmount" disabled="disabled" />
                                </td>
                                <td style="width:15%; text-align:right;font-weight:bold">
                                    Advice Bank:
                                </td>
                                <td style="width:35%;text-align:left">
                                    <select id="cboBankBranch_Advice" style="width:95%;" title="Receiver"></select>
                                </td>
                            </tr>
                            <tr>
                                <td style="width:10%; text-align:right;font-weight:bold">
                                    Currency:
                                </td>
                                <td style="width:15%">
                                    <select id="cboCurrency" style=" width:100%;"></select>
                                </td>
                                <td style="width:10%; text-align:right;font-weight:bold">
                                    L/C Status:
                                </td>
                                <td style="width:15%">
                                    <input type="text" style="width:100%" id="txtLCStatusInString" disabled="disabled" placeholder="L/C Status" />
                                </td>
                                <td style="width:15%; text-align:right;font-weight:bold">
                                    Negotiate Bank
                                </td>
                                <td style="width:35%;text-align:left">
                                    <select id="cboBankBranch_Nego" style="width:95%;"></select>
                                </td>
                            </tr>
                            <tr>
                                <td style="width:10%; text-align:right;font-weight:bold">
                                    Remark:
                                </td>
                                <td colspan="3" style="width:40%">
                                    <input type="text" style="width:100%;" id="txtNote" />
                                </td>
                                <td style="width:15%; text-align:right;font-weight:bold">
                                    Forwarding Bank:
                                </td>
                                <td style="width:35%;text-align:left">
                                    <select id="cboBankBranch_ForwardingBank" style="width:95%;"></select>
                                </td>
                            </tr>

                            <tr>
                                <td style="width:10%; text-align:right;font-weight:bold">
                                    <label class="amendmentDate">Amend't Date:</label>
                                </td>
                                <td style="width:15%" class="singleObjectDates">
                                    <span class="amendmentDate" style="width:14%;">
                                        <input type="text" disabled="disabled" style="width:80%;" id="txtAmendmentDate" class="easyui-datebox" required="required" data-options="formatter:icsdateformat,parser:icsdateparser" />
                                    </span>
                                </td>
                                <td style="width:10%; text-align:right;font-weight:bold">
                                    <label class="amendmentDate">Receive Date:</label>
                                </td>
                                <td style="width:15%" class="singleObjectDates">
                                    <span class="amendmentDate" style="width:14%;">
                                        <input type="text" disabled="disabled" style="width:80%;" id="txtAmendmentReceiveDate" class="easyui-datebox" required="required" data-options="formatter:icsdateformat,parser:icsdateparser" />
                                    </span>
</td>
                                <td style="width:15%; text-align:right;font-weight:bold"></td>
                                <td style="width:35%;text-align:left"></td>
                               
                            </tr>
                        </table>
                    </fieldset>
                    <div style="margin-left:2px; margin-top:0px">
                        <table id="tblExportPILCMappings" title="PI(s)/Item Description" class="easyui-datagrid" style="width:100%;height:190px;" fitcolumns="false" rownumbers="true" pagination="false" singleselect="true" autorowheight="false" toolbar="#toolbarExportPILCMapping">
                            <thead>
                                <tr>
                                    <th field="PINo_Full" width="20%" align="left"> PI No  </th>
                                    <th field="IssueDateST" width="12%" align="center">Issue Date</th>
                                    <th field="AmountSt" width="15%" align="right">Total Amount</th>
                                    <th field="PIStatusST" width="20%"> Status </th>
                                    <th field="VersionNo" width="5%"> Amendment No </th>
                                    <th field="DateST" width="12%"> Amendment Date </th>
                                    <th field="AmendmentSt" width="10%">  </th>

                                </tr>
                            </thead>
                        </table>
                        <div id="toolbarExportPILCMapping">
                            PI No: <input type="text" id="txtPINo" style="width:70px;" placeholder="Type PI No" />
                            <a id="btnAddPILCMapping" href="javascript:void(0)" class="easyui-linkbutton" iconcls="icon-pick" plain="true">Pick PI</a>
                            <a id="btnRemovePILCMapping" href="javascript:void(0)" class="easyui-linkbutton" iconcls="icon-remove" plain="true">Remove</a>
                            @*<a id="btnShowDOPILCMapping" href="javascript:void(0)" class="easyui-linkbutton" iconcls="icon-details" plain="true">DO List</a>*@
                        </div>
                    </div>
                    <table style="width:100%;font-size:11px; font-weight:bold" border="0">
                        <tr>
                            <td id="tdTotalCaption" style="width: 221px; text-align: right; font-size: 12px; font-weight:bold"></td>
                            <td id="tdTotalCaption" style="width: 100px; text-align: right; font-size: 12px; font-weight:bold"> Total : </td>
                            <td style="width: 150px; text-align: right; font-size: 12px">
                                <label id="lblCurrency" style="font-weight:bold;margin-right:5px;"></label>
                                <label id="lblTotalValue_LC" style="text-align: right; font-size:12px; float: right; font-weight:bold;">0.00</label>
                            </td>
                            <td id="tdTotalCaption" style="width: 50px; text-align: right; font-size: 12px; font-weight:bold">  </td>
                        </tr>
                    </table>
                    <fieldset >
                        <legend style="font-weight:bold"> Action : </legend>
                        <table  border="0" cellspacing="2" cellpadding="2" style="width:100%;font-size:11px; font-weight:bold">
                            <tr>
                                <td style="width:70%"></td>
                                <td style="width:10%">
                                    @*<a id="btnAmendmentReceiveSaveExportLC" href="javascript:void(0)" class="easyui-linkbutton" iconcls="icon-save" plain="true">Receive</a>*@

                                </td>
                                <td style="width:15%;text-align:right">
                                    <a id="btnApprove" href="javascript:void(0)" class="easyui-linkbutton" iconcls="icon-save" plain="true">Approve</a>
                                    <a id="btnSaveExportLC" href="javascript:void(0)" class="easyui-linkbutton" iconcls="icon-save" plain="true">Save</a>
                                    <a id="btnCloseTwo" href="javascript:void(0)" class="easyui-linkbutton" iconcls="icon-closed" plain="true">Close</a>
                                </td>
                            </tr>
                        </table>
                    </fieldset>
                </div>
                <div title="Terms & Condition with Doc" style="padding:2px">
                    <fieldset>
                        <legend style="font-weight:bold"> Terms & Conditions : </legend>
                        <table style="width:100%;" border="0" cellspacing="2" cellpadding="2">
                            <tr>
                                <td style="width:15%; text-align: right; font-size:12px;">
                                    Payment Terms:
                                </td>
                                <td colspan="3" style="width:55%; text-align: left; font-size:12px;">
                                    <select style="width:150px;" id="cboLCTerm"></select>
                                    From
                                    <select style="width:150px;" id="cboPaymentInstruction"></select>
                                </td>
                                <td colspan="2" style="width:30%">
                                   
                                    <input type="text" style="width:174px;" id="txtFrightPrepaid" placeholder="Type Fright /Prepaid / Orginal" />
                                    <a id="btnFrightPrepaidPick" href="javascript:void(0)" class="easyui-linkbutton" iconcls="icon-pick" plain="true">P</a>
                                </td>
                            </tr>
                            <tr>
                                <td style="width:15%; text-align: right; font-size:12px;">
                                    Overdue Rate(%)
                                </td>
                                <td style="width:20%">
                                    <input type="text" class="easyui-numberbox" style="width:80%;" value="0" id="txtOverDueRate" data-options="min:0,precision:2">
                                </td>

                                <td style="width:15%; text-align: right; font-size:12px;">
                                    BankFDD(Apply?)
                                </td>
                                <td style="width:20%">
                                    <table border="0" cellpadding="0" cellspacing="0" style="font-size:11px; font-weight:bold">
                                        <tr>
                                            <td style="width:65px"><input type="checkbox" id="chkBankFDDYes" value="value" onclick="if(this.checked){IsBankFDDYes()}else{IsBankFDDNo()}" />Yes </td>
                                            <td style="width:80px"><input type="checkbox" id="chkBankFDDNo" value="value" onclick="if(this.checked){IsBankFDDNo()}else{IsBankFDDYes()}" />No</td>
                                        </tr>
                                    </table>
                                </td>
                                <td colspan="2" style="width:30%"></td>
                            </tr>
                            <tr>
                                <td style="width:15%; text-align: right; font-size:11px;">Discrepancy Charge(%)</td>
                                <td style="width:20%">
                                    <input type="text" class="easyui-numberbox" style="width:150px;" value="0" id="txtDiscrepancyCharge" data-options="min:0,precision:2" />
                                </td>

                                <td style="width:15%; text-align: right; font-size:12px;">
                                    LIBOR Rate(Apply?)
                                </td>
                                <td style="width:20%">
                                    <table border="0" cellpadding="0" cellspacing="0" style="font-size:11px; font-weight:bold">
                                        <tr>
                                            <td style="width:65px"><input type="checkbox" id="chkLIBORRateYes" onclick="if(this.checked){IsLIBORateYes()}else{IsLIBORateNo()}" />Yes </td>
                                            <td style="width:80px"><input type="checkbox" id="chkLIBORRateNo" onclick="if(this.checked){IsLIBORateNo()}else{IsLIBORateYes()}" />No</td>
                                        </tr>
                                    </table>
                                </td>
                                <td style="width:30%" colspan="2">
                                </td>
                            </tr>
                            <tr>
                                <td style="width:15%; text-align: right; font-size:12px;">
                                    Partial Shipment:
                                </td>
                                <td style="width: 20%; text-align:left;">
                                    <table border="0" cellpadding="0" cellspacing="0" style="font-size:11px; font-weight:bold">
                                        <tr>
                                            <td style="width:65px"><input type="checkbox" id="chkPartialShipmentAllow" onclick="if(this.checked){IsPShipmentAllow()}else{IsPShipmentNotAllow()}" />Allow</td>
                                            <td style="width:80px"><input type="checkbox" id="chkPartialShipmentNotAllow" onclick="if(this.checked){IsPShipmentNotAllow()}else{IsPShipmentAllow()}" />Not Allow</td>
                                        </tr>
                                    </table>
                                </td>
                                <td style="width:15%; text-align: right; font-size:12px;">
                                    Transshipment:
                                </td>
                                <td style="width:20%; text-align:left;">
                                    <table border="0" cellpadding="0" cellspacing="0" style="font-size:11px; font-weight:bold">
                                        <tr>
                                            <td style="width:65px"><input type="checkbox" id="chkTransshipmentAllow" onclick="if(this.checked){IsTransshipmentAllow()}else{IsTransshipmentNotAllow()}" />Allow</td>
                                            <td style="width:80px"><input type="checkbox" id="chkTransshipmentNotAllow" onclick="if(this.checked){IsTransshipmentNotAllow()}else{IsTransshipmentAllow()}" />Not Allow</td>
                                        </tr>
                                    </table>
                                </td>
                                <td style="width:10%; text-align: right; font-size:12px;"> H.S Code:</td>
                                <td style="width:20%; text-align: right; font-size:12px;">
                                    <input type="text" style="width:99%" id="txtHSCode" />
                                </td>
                            </tr>
                            <tr>
                                <td style="width:15%; text-align: right; font-size:12px;">
                                    Garments Qty:
                                </td>
                                <td style="width:20%; text-align:left;">
                                    <input id="txtGarmentsQty" type="text" />
                                </td>
                                <td style="width:15%; text-align: right; font-size:12px;">
                                    Bank FDD:
                                </td>
                                <td style="width:20%; text-align: left; font-size:12px;">
                                    <table border="0" cellpadding="0" cellspacing="0" style="font-size:11px; font-weight:bold">
                                        <tr>
                                            <td style="width:100px"><input type="checkbox" id="chkIsBFDD_Local" onclick="if(this.checked){IsBFDD_Local()}else{IsDFDD_Foreign()}" />Bangladesh</td>
                                            <td style="width:80px"><input type="checkbox" id="chkIsBFDD_Foreign" onclick="if(this.checked){IsDFDD_Foreign()}else{IsBFDD_Local()}" />Foreign </td>
                                        </tr>
                                    </table>
                                </td>
                                <td style="width:10%; text-align: right; font-size:12px;"> Area Code:</td>
                                <td style="width:20%; text-align: right; font-size:12px;">
                                    <input type="text" style="width:100%" id="txtAreaCode" />
                                </td>
                            </tr>
                            <tr>
                                <td style="width:15%; text-align: right; font-size:12px;">
                                    Especial Note
                                </td>
                                <td colspan="5" style="width:85%; text-align: left; font-size:12px;">
                                    <input type="text" style="width:100%;" id="txtShipmentFrom" />
                                </td>
                            </tr>
                        </table>
                    </fieldset>
                    <div style="margin-left:2px; margin-top:0px">
                        <fieldset>
                            <legend style="font-weight:bold">Master/Export LC information: </legend>
                            <table id="tblMasterLCs" title="Other LC list" class="easyui-datagrid" style="width:100%; height:210px;" fitcolumns="false" rownumbers="true" pagination="false" singleselect="true" autorowheight="false" toolbar="#toolbarMasterLC" data-options="singleSelect: true, fitColumns:false,  rownumbers:true,pagination:false,autoRowHeight:false">
                                <thead>
                                    <tr>
                                        <th field="MasterLCTypeSt" width="10%" align="left">LC Type</th>
                                        <th field="MasterLCNo" width="58%" align="left">Master LC No</th>
                                        <th field="MasterLCDateSt" width="30%" align="center">Master LC Date</th>
                                        @*<th field="LastDofShipmentSt" width="120" align="center">Shipment Date</th>
                                    <th field="ExpireDateSt" width="120" align="center">Expire Date</th>
                                    <th field="Country" width="120" align="left">Country</th>
                                    <th field="Remark" width="120" align="left">Remark</th>*@
                                    </tr>
                                </thead>
                            </table>
                            <div id="toolbarMasterLC" style=" height:25px;">
                                <label style="margin-left:10px;">LC No:</label> <input type="text" id="txtMasterLCSearch" style="width:120px;" placeholder="Type MasterLC No" />
                                <a id="btnPickMasterLC" href="javascript:void(0)" class="easyui-linkbutton" iconcls="icon-pick" plain="true">Pick LC</a>
                                <a id="btnDeleteMasterLCMapping" href="javascript:void(0)" class="easyui-linkbutton" iconcls="icon-remove" plain="true">Remove</a>

                                <div style="float:right;">
                                    @*Ratin*@
                                    <input id="chkExportLC1" type="checkbox" /><label>Export LC</label>
                                    <input id="chkMaskerLC1" type="checkbox" /><label style="margin-right:12px;">Master LC</label>
                                    <input id="txtMasterLCNo1" type="text" style="width:150px;margin:0 5px 0 5px;" placeholder="Type LC No" />
                                    Date : <input id="txtMasterLCDate1" type="text" class="easyui-datebox" style="width:100px;" required="required" data-options="formatter:icsdateformat,parser:icsdateparser" />
                                    <a id="btnAddMasterLC1" href="javascript:void(0)" class="easyui-linkbutton" iconcls="icon-add" plain="true">Add</a>
                                </div>
                            </div>
                        </fieldset>
                    </div>

                    <fieldset class="actionfieldsetstyle">
                        <legend style="font-weight:bold"> Action : </legend>
                        <table style="width:100%" border="0" cellspacing="2" cellpadding="2" style="font-size:11px; font-weight:bold">
                            <tr>
                                <td style="width:75%"></td>
                                
                                <td style="width:15%;text-align:right">
                                    <a id="btnSaveExportLCTnC" href="javascript:void(0)" class="easyui-linkbutton" iconcls="icon-save" plain="true">Save</a>
                                    <a id="btnCloseTwo" href="javascript:void(0)" class="easyui-linkbutton" iconcls="icon-closed" plain="true">Close</a>
                                </td>
                            </tr>
                        </table>
                    </fieldset>
                </div>
            </div>
        </div>  
            
        </div>
</body>
</html>
<script type="text/javascript">
    var _sBaseAddress = "";
    var _oExportLC=null;
    var _oBusinessUnits = [];
    var _oCurrencys = [];
    var _oCompareOperators = [];
    var _oLCStatus = [];
    var _oPaymentInstructions = [];
    var _oBankBranchs = []; 
    var _nBUID=0;
    var _sBackLink="";
    $(document).ready(function () {
        _sBaseAddress =@Html.Raw(new System.Web.Script.Serialization.JavaScriptSerializer().Serialize(HttpContext.Current.Session[SessionInfo.BaseAddress]));
        _oExportLC =@Html.Raw(new System.Web.Script.Serialization.JavaScriptSerializer().Serialize(Model));
        _oBankBranchs = @Html.Raw(new System.Web.Script.Serialization.JavaScriptSerializer().Serialize(ViewBag.BankBranchs));
        _oCurrencys = @Html.Raw(new System.Web.Script.Serialization.JavaScriptSerializer().Serialize(ViewBag.Currencys));
        _oLCTerms = @Html.Raw(new System.Web.Script.Serialization.JavaScriptSerializer().Serialize(ViewBag.LCTerms));
        _oBusinessUnits= @Html.Raw(new System.Web.Script.Serialization.JavaScriptSerializer().Serialize(ViewBag.BusinessUnits));
        _oCompareOperators = @Html.Raw(new System.Web.Script.Serialization.JavaScriptSerializer().Serialize(ViewBag.CompareOperators));
        _oLCStatus = @Html.Raw(new System.Web.Script.Serialization.JavaScriptSerializer().Serialize(ViewBag.LCStatus));
        _nBUID = @Html.Raw(new System.Web.Script.Serialization.JavaScriptSerializer().Serialize(ViewBag.BUID));
        _oPaymentInstructions = @Html.Raw(new System.Web.Script.Serialization.JavaScriptSerializer().Serialize(ViewBag.PaymentInstructions));
        debugger;
     
        Initialization(_oExportLC,((sessionStorage.length>0)?sessionStorage.getItem('Operation'):'New'));
        _sBackLink=sessionStorage.getItem("BackLink");
        $("#progressbar").progressbar({ value: 0 });
        $("#progressbarParent").hide();
    });
  
    function updateProgress() {
        var value =$('#progressbar').progressbar('getValue');
        if (value < 96){
            value += Math.floor(Math.random() * 10);
            $('#progressbar').progressbar('setValue', value);
        }
    }
    function hideShow(miliseconds) {
        $("#progressbarParent").hide();
    }
    function Initialization(oExportLC, sOperation){
        ResetControll();
        if(oExportLC.VersionNo<=0)
        {
            $(".amendmentDate").hide();

        }
       
        LoadCombo();
        RefreshControl(oExportLC);
        $('#btnApprove').hide();
        if(sOperation=="View")
        {
            $('#toolbarExportPILCMapping,#toolbarExportPILCMapping,#btnSaveExportLC,#btnSaveExportLCTnC,.ics-pick').hide();
            $('input,select').not('#txtLabdipNo').prop('disabled',true);
        }
        else if(sOperation=="Approve")
        {
            $('#toolbarExportPILCMapping,#toolbarExportPILCMapping,#btnSaveExportLC,#btnSaveExportLCTnC,.ics-pick').hide();
            $('input,select').not('#txtExportLCNo').prop('disabled',true);
            $('#btnApprove').show();
            
            //$('.td-col-6 input').css('width','92%');
        }
        else{
            $('#toolbarExportPILCMapping,#toolbarExportPILCMapping,#btnSaveExportLC,#btnSaveExportLCTnC,.ics-pick').show();
            $('input,select').not('#txtExportLCNo').prop('disabled',false);
            //$('.td-col-6 input').css('width','70%');
        }
        Control_disabled();
    }
    function Control_disabled()
    {
        document.getElementById("txtFileNo").disabled = true;
        document.getElementById("txtVersionNo").disabled = true;
        document.getElementById("txtAmendmentDate").disabled = true;
        document.getElementById("txtAmendmentReceiveDate").disabled = true;
    }
    function LoadCombo() {
        $("#cboBankBranch_Advice, #cboBankBranch_Nego").icsLoadCombo({
            List: _oBankBranchs,
            OptionValue: "BankBranchID",
            DisplayText: "BankBranchName"
        });
        $("#cboCurrency").icsLoadCombo({
            List: _oCurrencys,
            OptionValue: "CurrencyID",
            DisplayText: "CurrencyName"
        });

        $("#cboLCTerm").icsLoadCombo({
            List: _oLCTerms,
            OptionValue: "LCTermID",
            DisplayText: "NameDaysInString"
        });

        $("#cboBenificiary").icsLoadCombo({
            List: _oBusinessUnits,
            OptionValue: "BusinessUnitID",
            DisplayText: "Name"
        });
        $("#cboBUType").icsLoadCombo({
            List: _oBusinessUnits,
            OptionValue: "BusinessUnitID",
            DisplayText: "BUTypeSt"
        });

        //$("#cboLCStatus").icsLoadCombo({
        //    List: _oLCStatus,
        //    OptionValue: "id",
        //    DisplayText: "Value"
        //});
        $("#cboPaymentInstruction").icsLoadCombo({
            List: _oPaymentInstructions,
            OptionValue: "id",
            DisplayText: "Value"
        });
    }

    function ResetControll(){
      //  $('#txtSendToParty').datebox('setValue', icsdateformat(new Date()));
        $('.reset-text').val("");
    }
   
    function RefreshControl(oExportLC) {
        _oExportLC=oExportLC;
       
        $("#txtAmount").prop("disabled", true);
        $("#txtLCStatusInString").prop("disabled", true);
    
        if (_oExportLC.LiborRate == true) {
            $('#chkLIBORRateYes').prop('checked', true);
            $('#chkLIBORRateNo').prop('checked', false);
        } else {
            $('#chkLIBORRateYes').prop('checked', false);
            $('#chkLIBORRateNo').prop('checked', true);
        }
        if (_oExportLC.BBankFDD == true) {
            $('#chkBankFDDYes').prop('checked', true);
            $('#chkBankFDDNo').prop('checked', false);
        } else {
            $('#chkBankFDDYes').prop('checked', false);
            $('#chkBankFDDNo').prop('checked', true);
        }
        if (_oExportLC.PartialShipmentAllowed == true) {
            $('#chkPartialShipmentAllow').prop('checked', true);
            $('#chkPartialShipmentNotAllow').prop('checked', false);
        } else {
            $('#chkPartialShipmentAllow').prop('checked', false);
            $('#chkPartialShipmentNotAllow').prop('checked', true);
        }
        if (_oExportLC.TransShipmentAllowed == true) {
            $('#chkTransshipmentAllow').prop('checked', true);
            $('#chkTransshipmentNotAllow').prop('checked', false);
        } else {
            $('#chkTransshipmentAllow').prop('checked', false);
            $('#chkTransshipmentNotAllow').prop('checked', true);
        }
        if (_oExportLC.IsForeignBank == true) {
            $('#chkIsBFDD_Foreign').prop('checked', true);
            $('#chkIsBFDD_Local').prop('checked', false);
        } else {
            $('#chkIsBFDD_Foreign').prop('checked', false);
            $('#chkIsBFDD_Local').prop('checked', true);
        }

        $("#txtFileNo").val(_oExportLC.FileNo);
        $("#txtVersionNo").val(_oExportLC.AmendmentFullNo);
        $("#txtExportLCNo").val(_oExportLC.ExportLCNo);
        $("#txtNegoDays").val(_oExportLC.NegoDays);
        $("#txtAmount").val(_oExportLC.AmountSt);
        //$("#lblTotalValue_LC").text(_oExportLC.AmountSt);
        $("#txtNote").val(_oExportLC.Remark);
        $("#txtHSCode").val(_oExportLC.HSCode);
        $("#txtAreaCode").val(_oExportLC.AreaCode);
        $("#txtLCStatusInString").val(_oExportLC.CurrentStatusInST);
        $("#txtLCStatus_Update").val(_oExportLC.CurrentStatusInST);
        debugger;
        if (_oExportLC.OpeningDateST != "-") {
            $('#txtOpeningDate').datebox('setValue', _oExportLC.OpeningDateST);
        }
        if (_oExportLC.LCRecivedDateST != "-") {
            $('#txtReceiveDate').datebox('setValue', _oExportLC.LCRecivedDateST);
            $('#txtAmendmentReceiveDate').datebox('setValue', _oExportLC.LCRecivedDateST);
        }
        if (_oExportLC.ShipmentDateST != "-") {
            $('#txtShipmentDate').datebox('setValue', _oExportLC.ShipmentDateST);
        }
        if (_oExportLC.ExpiryDateST != "-") {
            $('#txtExpireDate').datebox('setValue', _oExportLC.ExpiryDateST);
        }
        $("#cboBankBranch_Advice").val(_oExportLC.BBranchID_Advice);
        $("#cboBankBranch_Nego").val(_oExportLC.BBranchID_Nego);
        $("#cboCurrency").val(_oExportLC.CurrencyID);
        $("#cboLCTerm").val(_oExportLC.LCTramsID);
        $("#cboBenificiary").val(_nBUID); // for one company , if multi company please change it
        $("#cboBUType").val(_nBUID); // for one company , if multi company please change it
        $('#txtOverDueRate').numberbox('setValue', _oExportLC.OverDueRate);
        $('#txtDiscrepancyCharge').numberbox('setValue', _oExportLC.DCharge);
        $("#txtShipmentFrom").val(_oExportLC.ShipmentFrom);
        $("#txtGarmentsQty").val(_oExportLC.GarmentsQty);
        //$("#txtIRC").val(_oExportLC.IRC);
        //$("#txtERC").val(_oExportLC.ERC);
        $("#cboPaymentInstruction").val(_oExportLC.PaymentInstruction);
        $("#txtFrightPrepaid").val(_oExportLC.FrightPrepaid);
        if (_oExportLC.ExportLCID > 0) {
            $("#txtBankBranch_Issue").val(_oExportLC.BankName_Issue + "[" + _oExportLC.BBranchName_Issue + "]");
            $("#txtContractorName").val(_oExportLC.ApplicantName);
            $("#txtContractorName").addClass("fontColorOfPickItem");
        }
        else
        {
            $("#txtContractorName").removeClass("fontColorOfPickItem");
        
            $("#txtBankBranch_Issue,#txtContractorName,#txtDeliverTo").val();
        }

        if (_oExportLC.DeliveryToID > 0) {
            $("#txtDeliverTo").val(_oExportLC.DeliveryToName);
            $("#txtDeliverTo").addClass("fontColorOfPickItem");
        } else {
            $("#txtDeliverTo").removeClass("fontColorOfPickItem");
            $("#txtDeliverTo").val("");
        }


      
        if (_oExportLC.AmendmentDateSt != "-") {
            $('#txtAmendmentDate').datebox('setValue', _oExportLC.AmendmentDateSt);
        }
     
        if(_oExportLC.ExportPILCMappings!=null )
        {
            DynamicRefreshList(_oExportLC.ExportPILCMappings, "tblExportPILCMappings");
        }
        else{
            DynamicRefreshList([], "tblExportPILCMappings");
        }
        if(_oExportLC.MasterLCMappings!=null)
        {
            DynamicRefreshList(_oExportLC.MasterLCMappings, "tblMasterLCs");
        }
        else{
            DynamicRefreshList([], "tblMasterLCs");
        }
        RefreshTotalSummery_PI();

        //GetContractorInfoELC(oExportLC.ApplicantID);
        //CheckDisburseDate(_oExportLC.NegoDays, _oExportLC.ExportLCID);
    }
   
  
    function RefreshTotalSummery_PI() {
        var nTotalQty = 0;
        var nTotalValue = 0;
        var sCurrency = "";
        var oExportPILCMappings = $('#tblExportPILCMappings').datagrid('getRows');
        for (var i = 0; i < oExportPILCMappings.length; i++) {
            nTotalQty = 0;
            nTotalValue = nTotalValue + parseFloat(oExportPILCMappings[i].Amount);
            sCurrency = oExportPILCMappings[i].Currency;
        }
  
        document.getElementById("lblTotalValue_LC").innerHTML = sCurrency + " " + formatPrice(nTotalValue);
        $("#txtAmount").val(sCurrency + " " + formatPrice(nTotalValue));
    }
  

    //// TnC
  

  
    $('#btnClose,#btnCloseTwo').click(function(e){
        window.location.href = sessionStorage.getItem("BackLink");
    });
    ///

 
</script>