<html>
<head>  
 <link href="@Url.Content("~/Content/CSS/icon.css")" rel="stylesheet" type="text/css" />
    <link href="@Url.Content("~/Content/CSS/easyui.css")" rel="stylesheet" type="text/css" /> 
    <link href="@Url.Content("~/Content/CSS/Pikerstyle.css")" rel="stylesheet" type="text/css" />  

    <script src="@Url.Content("~/Scripts/jquery-1.7.1.min.js")" type="text/javascript"></script>            
    <script src="@Url.Content("~/Scripts/jquery.ics.customize.js")" type="text/javascript"></script>  
    <script src="@Url.Content("~/Scripts/jquery.easyui.min.js")" type="text/javascript"></script>    

    <script src="@Url.Content("~/Scripts/jquery-ui.min.js")" type="text/javascript"></script> 
    <script src="@Url.Content("~/Scripts/json2.js")" type="text/javascript"></script> 
    
</head>
<body>

@model IEnumerable<ESimSol.BusinessObjects.DocumentType>
<div style="font-family:Tahoma">           
<table border="0" cellspacing="2" cellpadding="2">
    <tr>
        <td style="background-color:#CFB53B; text-align:center; width:500px; color:White">
            <label id="lblHeaderName" style="font-size:15px; font-weight:bold; text-decoration:Underline; width:490px">Terms And Condition</label>
        </td>
    </tr>
</table>
    <div style=" margin-left:2px;">
   <table id="tblDocumentType" title="Terms And Conditions" class="easyui-datagrid"  style="width:495px; height:360px"; fitColumns="false"; rownumbers="true"; pagination="false"; singleSelect="false"; autoRowHeight="false">
        <thead> 
          <th data-options="field:'Selected',checkbox:true"></th>
       <th field="Value" width="400">Document Type</th>
        </thead> 
   </table>​   
       </div> 

    <fieldset style="font-size:11px;width:480px; ">
    <legend style=" font-weight:bold">
        Action : </legend>
        <table border="0" cellspacing="2" cellpadding="2" style="font-size:11px;width:480px; font-weight:bold">
            <tr>
                <td style="width:380px; text-align:right"></td>
                <td style="width:50px">
                    <a href="javascript:void(0)" class="easyui-linkbutton" iconcls="icon-ok" plain="true" onclick="OK()">OK</a>
                </td>
                <td style="width:50px">
                    <a href="javascript:void(0)" class="easyui-linkbutton" iconcls="icon-cancel" plain="true" onclick="Close()">Close</a>
                </td>
            </tr>
        </table>
    </fieldset>
</div>
</body>
</html>

<script type="text/javascript"> 
 var _oDocumentType=null;
 var _value ="";
 var _sBaseAddress="";

 $(document).ready(function () {
    debugger;     
        _sBaseAddress =@Html.Raw( new System.Web.Script.Serialization.JavaScriptSerializer().Serialize(HttpContext.Current.Session[SessionInfo.BaseAddress]));                  
        _oDocumentType =@Html.Raw(new System.Web.Script.Serialization.JavaScriptSerializer().Serialize(Model)); 
     var obj = window.dialogArguments;
      RefreshList(_oDocumentType);
    
      
 });

 function RefreshList(oDocumentType)
    {    
          data=oDocumentType;
          data={"total":""+data.length+"","rows":data};
          $('#tblDocumentType').datagrid('loadData',data);
    }



 function OK()
{
   debugger;
     
     var oDocumentTypes = $('#tblDocumentType').datagrid('getSelections');
     if(oDocumentTypes==null || oDocumentTypes.length<=0 )
     {
        alert("Please Select At leas on Item!!");
        return;
     }
      window.returnValue= oDocumentTypes;
      window.close(); 
    
}


    
function Close()
{
    
    window.close();
}


$(document).keydown(function(e) {    
    //debugger;
    if(e.which == 27)//escape=27
    {
        //debugger;        
        window.close();
    }
});
</script>