<html>
<head>  
   
</head>
<body>

@{
    ViewBag.Title = "Add Item";
}
@model ESimSol.BusinessObjects.ProductBase

    <div id="divProductBase" class="easyui-panel" title="Add Item Group" style="font-family:Tahoma; height:100%; width:100%">
        <div style="width:100%; height:88%; text-align:center">
            <fieldset style=" width:470px; text-align:right">
                <table border="0">

                    <tr>
                        <td style="width:100px; font-size:12px; text-align:right">
                            Code:
                        </td>
                        <td colspan="3" style="width:367px; text-align:left">
                            @Html.TextBoxFor(model => model.ProductCode, new { style = "width: 367px;", id = "txtProductCode", disabled = "disabled" })
                        </td>

                    </tr>


                    <tr>
                        <td style="width:100px; font-size:12px; text-align:right">
                            Group Name:
                        </td>
                        <td colspan="3" style="width:367px; text-align:left">
                            @Html.TextBoxFor(model => model.ProductName, new { style = "width: 367px;", id = "txtProductName" })
                        </td>

                    </tr>

                    <tr>
                        <td style="width:100px; font-size:12px; text-align:right">
                            Short Name:
                        </td>
                        <td colspan="3" style="width:367px; text-align:left">
                            @Html.TextBoxFor(model => model.ShortName, new { style = "width: 367px;", id = "txtShortName" })
                        </td>
                    </tr>



                    <tr>
                        <td style="width:100px; font-size:12px; text-align:right">
                            Note:
                        </td>
                        <td colspan="3" style="width:367px;  text-align:left">
                            @Html.TextBoxFor(model => model.Note, new { style = "width: 367px;", id = "txtNote" })
                        </td>

                    </tr>
                </table>
            </fieldset>
        </div>
        <div style="width:100%; height:10%">
            <fieldset>
                <legend style="font-weight: bold">Action : </legend>
                <table border="0" cellspacing="2" cellpadding="2" style="font-size: 11px; font-weight: bold; width:100%">
                    <tr>
                        <td style="width:80%; text-align:right"></td>
                        <td style="width: 10%">
                            <a id="btnSave" href="javascript:void(0)" class="easyui-linkbutton" iconcls="icon-save" plain="true">Save</a>
                        </td>
                        <td style="width: 10%">
                            <a id="btnClose" href="javascript:void(0)" class="easyui-linkbutton" iconcls="icon-cancel" plain="true">Close</a>
                        </td>
                    </tr>
                </table>
            </fieldset>
        </div>
    </div>
</body>
</html>


<script type="text/javascript">
 

    var _sBaseAddress ="";
    var _sProductBaseHeader="";
 var _nMenuid=0;
 var _oProductBase =null;
  $(document).ready(function () {
      _sBaseAddress =@Html.Raw(new System.Web.Script.Serialization.JavaScriptSerializer().Serialize(HttpContext.Current.Session[SessionInfo.BaseAddress]));    
      _nMenuid = @Html.Raw(new System.Web.Script.Serialization.JavaScriptSerializer().Serialize(HttpContext.Current.Session[SessionInfo.MenuID]));
        _oProductBase =@Html.Raw(new System.Web.Script.Serialization.JavaScriptSerializer().Serialize(Model));                 
       
      _sProductBaseHeader=sessionStorage.getItem("ProductBaseHeader");
      $('#divProductBase').panel({ title:_sProductBaseHeader+" "+_oProductBase.ProductCategoryName});
      if(_sProductBaseHeader=="View ProductBase")
      {
          document.getElementById('btnSave').style.display = 'none';
      }
    });


// $('._ChangeIssueA').change(function () {

     
//    LoadUnits();
//})


function LoadUnits()
 {
   var scboMeasurmentUniteType=document.getElementById("cboMeasurmentUniteType");
   var nUnitType= scboMeasurmentUniteType.options[scboMeasurmentUniteType.selectedIndex].index;
   $('#cboMeasurmentUnit').empty();
   var listItems= "<option value='"+0+"'>" +"--Select Unit--" + "</option>";
    if (_oMeasurementUnits !=null) 
    {
          if(_oMeasurementUnits.length>0)
           {
                 for (var i = 0; i < _oMeasurementUnits.length; i++) 
                 {
                    if(_oMeasurementUnits[i].UnitType==nUnitType)
                    {
                      listItems += "<option value='" + _oMeasurementUnits[i].MeasurementUnitID+"'>" + _oMeasurementUnits[i].UnitName+"</option>";
                    }
                 }
          }
          $("#cboMeasurmentUnit").html(listItems);
          $('#cboMeasurmentUnit').val(_oProductBase.MeasurementUnitID);
     }
 }



function RefreshObject()
{ 
    var oProductBase= { 
        ProductBaseID : _oProductBase.ProductBaseID,                                    
        ProductCategoryID : _oProductBase.ProductCategoryID,
        ProductName:$("#txtProductName").val(),
        ShortName : $("#txtShortName").val(),
        Note :  $("#txtNote").val()
    };
    return oProductBase;
} 

function ValidateInput()
{
 
    if(document.getElementById('txtProductName').value ==null || document.getElementById('txtProductName').value =="")
  {
      alert("Please Type ProductBase Name");
      $('#txtProductName').focus(); 
      return false;
  }
  if(parseInt(_oProductBase.ProductCategoryID)<=0)
  {
    alert("Invalid Product Category!");
    return false;
  }


    return true; 
}

$('#btnSave').click(function () {
    debugger;
    if(!ValidateInput()) return false; 
        var oProductBase = RefreshObject();
         $.ajax({
          type: "POST",
          dataType: "json",
          url: '@Url.Action("Save", "ProductBase")',
          data:  JSON.stringify(oProductBase),
          contentType: "application/json; charset=utf-8",
          success: function (data) {
               _oProductBase = jQuery.parseJSON(data);
              if (_oProductBase!=null)  
              {
                if(_oProductBase.ErrorMessage!="")
                {
                    alert(_oProductBase.ErrorMessage);
                    return;
                }
                else
                {
                    document.getElementById("txtProductCode").value = _oProductBase.ProductBaseCode;
                    alert("Data Saved sucessfully");                 
                    var oProductBases =sessionStorage.getItem("ProductBases");
                    var nIndex= parseInt(sessionStorage.getItem("SelectedRowIndex"));
                    var SelectedRowIndexPCT= parseInt(sessionStorage.getItem("SelectedRowIndexPCT"));
                    if(oProductBases!=null)
                    {
                        oProductBases = jQuery.parseJSON(oProductBases);
                    }
                    else
                    {
                        oProductBases=[];
                    }
                    if(nIndex!=-1)
                    {
                        oProductBases[nIndex]=_oProductBase;
                    }
                    else
                    {
                        sessionStorage.setItem("SelectedRowIndex", oProductBases.length);
                        oProductBases.push(_oProductBase);
                    }
                    sessionStorage.setItem("SelectedRowIndexPCT", SelectedRowIndexPCT); 
                    sessionStorage.setItem("ProductBases", JSON.stringify(oProductBases));
                    window.location.href = sessionStorage.getItem("BackLink");
                }
             }
          },
          error: function (xhr, status, error) {
              alert(error);
          }
      });
          
    });
    
    $("#btnClose").click(function(){

        var SelectedRowIndexPCT= parseInt(sessionStorage.getItem("SelectedRowIndexPCT"));
        sessionStorage.setItem("SelectedRowIndexPCT", SelectedRowIndexPCT); 
        window.location.href = sessionStorage.getItem("BackLink");
    });

    $(document).keydown(function(e) {
        if(e.which == 27)//escape=27
        {
            window.location.href = sessionStorage.getItem("BackLink"); 
        }
    });
</script>