<!DOCTYPE HTML>
<html>
<head>
    <title>Ironing Issue & Receive</title>
    <link href="@Url.Content("~/Content/CSS/icon.css")" rel="stylesheet" type="text/css" />
    <link href="@Url.Content("~/Content/CSS/easyui.css")" rel="stylesheet" type="text/css" />
    <link href="@Url.Content("~/Content/CSS/Pikerstyle.css")" rel="stylesheet" type="text/css" />
    <script src="@Url.Content("~/Scripts/jquery-1.7.1.min.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Scripts/jquery.ics.customize.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Scripts/jquery.easyui.min.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Scripts/jquery-ui.min.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Scripts/json2.js")" type="text/javascript"></script>
</head>
<body>

    @model IEnumerable<ESimSol.BusinessObjects.EmployeeProduction>
        <table border="0" cellspacing="0" cellpadding="0">
            <tr>
                <td style="background-color: #cfb53b; text-align: center; width: 1180px; color: White">
                    <label id="lblHeader" style="font-size:20px; font-weight: bold; text-decoration: Underline; font-family:Tahoma">
                        Ironing  Receive
                    </label>
                </td>
            </tr>

        </table>
        <div style="margin-left:0px; height:452px; font-family:Tahoma">
            <table id="tblIroningList" class="easyui-datagrid" style="width:1180px;height:452px;" fitcolumns="false" rownumbers="true" pagination="false" singleselect="true" autorowheight="false" toolbar="#toolbar">

                <thead>
                    <tr>
                        <th field="IssueDateInString" width="90" align="center">Issue Date</th>
                        <th field="EmployeeNameCode" width="250" align="left">Employee</th>
                        <th field="IssueQty" width="65" align="center">Issue(Pcs)</th>
                        <th field="RcvQty" width="65" align="center">Rcv(Pcs)</th>
                        <th field="EmpWiseBalanceQty" width="85" align="center">Balance(Pcs)</th>
                        <th field="RcvByDateInString" width="90" align="center">Receive Date</th>
                        <th field="StyleNo" width="150" align="center">Style</th>
                        <th field="GPName" width="75" align="center">B. Part</th>
                        <th field="ColorName" width="120" align="center">Color</th>
                        <th field="SizeCategoryName" width="70" align="center">Size</th>
                        <th field="ActivityStatus" width="70" align="center">Activity</th>

                    </tr>
                </thead>
            </table>
            ​<table>
                <tr>
                    <td>
                        Load <input id="txtLoadRecords" type="text" style="width:70px" />  &nbsp; Records &nbsp; &nbsp;
                        <label id="lblcount"></label>
                        <a href="javascript:void(0)" class="easyui-linkbutton" iconcls="icon-ok" plain="true" onclick="Next()">Next</a>
                    </td>

                </tr>
            </table>
            <div id="toolbar" style="height : 75px;">


                <input id="txtOrderRecapPickerByStyle" type="text" style="width:140px;" placeholder="Type StyleNo & Enter" />
                <input id="btnOrderRecapPickerByStyle" type="button" value="P" />&nbsp;
                Color With Size : <select id="cboColorWithSize" style="width:130px;"></select>  &nbsp;

                Body Part : <select id="cboGarmentPart" style="width:100px;"></select>
                @* @Html.DropDownList("cboGarmentPart", new SelectList(Enum.GetValues(typeof(ICS.Base.Client.Utility.EnumGarmentPart))), new { id = "cboGarmentPart", style = "width: 100px;" })*@&nbsp;

                Emp. :  <input id="txtTrimEmpCode" type="text" style="width:120px;" placeholder="Type Code & Enter" onclick="TrimEmpClear()" />
                <input id="btnLinEmployeePicker" type="button" value="P" />&nbsp;

                Qty. : <input id="txtIssueReceiveQty" type="text" style="width:40px; " />&nbsp;
                <input id="dtDate" type="text" style="width: 100px" class="easyui-datebox" required="required" data-options="formatter:icsdateformat" />&nbsp;
                <a id="btnIssueReceive" href="javascript:void(0)" class="easyui-linkbutton" iconcls="icon-save" plain="true">Receive</a>

                <a id="btnAdvanceEdit" href="javascript:void(0)" class="easyui-linkbutton" iconcls="icon-edit" plain="true">Adv. Edit</a>

                <br />
                <hr />
                <input id="chkIssueDateWise" type="checkbox" />Issue Date Wise
                <input id="chkReceiveDateWise" type="checkbox" />Receive Date Wise
                <input id="dtDateFrom" type="text" style="width: 100px;" class="easyui-datebox" required="required" data-options="formatter:icsdateformat" />&nbsp; To &nbsp;
                <input id="dtDateTo" type="text" style="width: 100px" class="easyui-datebox" required="required" data-options="formatter:icsdateformat" />&nbsp;&nbsp;
                <input id="txtCode" type="text" style="width:150px;" placeholder="Type Code & Enter" onclick="EmpClear()" />
                <input id="btnEmployeePicker" type="button" value="P" />
                <input id="txtOrderRecapPickerByStyleForSearch" type="text" style="width:130px;" placeholder="Type styleNo & enter" />
                <input id="btnOrderRecapPickerByStyleForSearch" type="button" value="P" />
                <input id="chkLoginUser" type="checkbox" checked="checked" />Login User
                <a id="btnSearchByCodeNo" href="javascript:void(0)" class="easyui-linkbutton" iconcls="icon-search" plain="true" onclick="SearchWithPasignation()"></a>


            </div>
        </div>
</body>
</html>
<script type="text/javascript">
    var _oIroningLists=null;
    var _sBaseAddress="";
    var _obj=null;
    var _sPSNo="";
    var _oEmployee = null;
    var _oIroning = null;
    var _nRQty = 0;
    var _bFlag = 0;
    var _nReferenceEPSID = 0;
    var _nOrderRecapDetailID = 0;
    var _bFlag1 = true;
    var _nEmployeeID = 0;
    var _nEPSID = 0;
    var _nLoadRecords = 0;
    var _nRowLength = 0;
    var _bNext = false;
    var _nLastEPSID = 0;
    var _oEmployeeProductions = [];
    var _nOrderRecapID = 0;
    var _sStyleNoForSearch = "";
    var _sStyleNo = "";
    $(document).ready(function ()
    {

        _oIroningLists =@Html.Raw( new System.Web.Script.Serialization.JavaScriptSerializer().Serialize(Model));
        _sBaseAddress =@Html.Raw( new System.Web.Script.Serialization.JavaScriptSerializer().Serialize(HttpContext.Current.Session[SessionInfo.BaseAddress]));
        var bAdvanceEdit =@Html.Raw(new System.Web.Script.Serialization.JavaScriptSerializer().Serialize(TempData["AdvanceEdit"]));
        // LoadGarmentPart();
        _obj = window.dialogArguments;
        $('#txtLoadRecords').numberbox({min:0, precision:0 });
        $('#txtLoadRecords').numberbox('setValue',100);
        $('#dtDate').datebox('setValue', icsdateformat(new Date()));
        $('#dtDateFrom').datebox('setValue', icsdateformat(new Date()));
        $('#dtDateTo').datebox('setValue', icsdateformat(new Date()));
        if(bAdvanceEdit==false)
        {
            document.getElementById("btnAdvanceEdit").style.display='none';
        }
        $("#txtOrderRecapPickerByStyle").focus();
    });

    //function LoadGarmentPart()
    //{
    //    debugger
    //    var listItems="";
    //    listItems += "<option value=0>" +"None" +"</option>";
    //    for (i = 0; i < _oIroningLists[0].GarmentParts.length; i++)
    //    {
    //        listItems += "<option value='" + _oIroningLists[0].GarmentParts[i].GPID+"'>" + _oIroningLists[0].GarmentParts[i].Name+"</option>";
    //    }
    //    $("#cboGarmentPart").html(listItems);
    //}
    function LoadStyleWiseBodyPart(oTechnicalSheetBodyParts)
    {
        $("#cboGarmentPart").empty();
        var listItems="";
        listItems += "<option value=0>" +"--None--" +"</option>";
        for (i = 0; i < oTechnicalSheetBodyParts.length; i++)
        {
            listItems += "<option value='" + oTechnicalSheetBodyParts[i].GPID+"'>" + oTechnicalSheetBodyParts[i].GPName+"</option>";
        }
        $("#cboGarmentPart").html(listItems);
    }

    function RefreshList(oIroningLists)
    {
        data = oIroningLists ;
        data = { "total": "" + data.length + "", "rows": data };
        $('#tblIroningList').datagrid('loadData', data);
    }

    function  icsdateformat(date)
    {
        var mthNames = ["Jan","Feb","Mar","Apr","May","Jun","Jul","Aug","Sep","Oct","Nov","Dec"];
        var y = date.getFullYear();
        var m = date.getMonth();
        var d = date.getDate();
        var result= d +' '+ mthNames[m]+' '+ y;
        return result;
    }

    $('#txtOrderRecapPickerByStyle').keypress(function (e)
    {

        var code = (e.keyCode ? e.keyCode : e.which);
        var sStyleNo = document.getElementById("txtOrderRecapPickerByStyle").value;

        if (code == 13)//Enter key-13
        {
            if(sStyleNo=="")
            {
                alert("Please Enter Style No !");
                return;
            }

            var oParameter = new Object();
            oParameter.Name = "Style Picker";
            oParameter.MultipleItemReturn=false;
            var tsv=((new Date()).getTime())/1000;
            var url =_sBaseAddress+ "/OrderRecap/OrderRecapPickerByStyleNo?sStyleNo="+sStyleNo+"&ts="+tsv;
            var oSelectedOrder = window.showModalDialog(url, oParameter, 'dialogHeight:385px;dialogWidth:453px;dialogLeft:350;dialogTop:100;center:yes;resizable:no;status:no;scroll:no');

            if(oSelectedOrder != null)
            {

                $("#txtOrderRecapPickerByStyle").val(oSelectedOrder.StyleNo);
                _sStyleNo = oSelectedOrder.StyleNo;
                _nOrderRecapID = oSelectedOrder.OrderRecapID;
                GetOrderRecapDetail();
                GetStyleWiseBodyPart();
            }
        }
    });

    function GetStyleWiseBodyPart()
    {
        var tsv=((new Date()).getTime())/1000;
        $.ajax({
            type: "POST",
            dataType: "json",
            url: _sBaseAddress + "/TechnicalSheet/GetStyleWiseBodyPart",
            traditional: true,
            data: JSON.stringify({sStyleNo : _sStyleNo, ts : tsv}),
            contentType: "application/json; charset=utf-8",

            success: function(data)
            {
                var oTechnicalSheetBodyParts=[];
                oTechnicalSheetBodyParts = jQuery.parseJSON(data);
                if (oTechnicalSheetBodyParts.length>0 && oTechnicalSheetBodyParts[0].ErrorMessage=="")
                {

                    LoadStyleWiseBodyPart(oTechnicalSheetBodyParts)
                }
                else
                {
                    alert(oTechnicalSheetBodyParts[0].ErrorMessage);
                    $("#cboGarmentPart").empty();
                }
            },
            error: function(xhr, status, error)
            {
                alert(error);
            }
        });
    }

    $('#btnOrderRecapPickerByStyle').click(function (e)
    {

        var sStyleNo = "";
        var oParameter = new Object();
        oParameter.Name = "OrderRecap Picker";
        oParameter.MultipleItemReturn=false;
        var tsv=((new Date()).getTime())/1000;
        var url =_sBaseAddress+ "/OrderRecap/OrderRecapPickerByStyleNo?sStyleNo="+sStyleNo+"&ts="+tsv;
        var oSelectedOrder = window.showModalDialog(url, oParameter, 'dialogHeight:385px;dialogWidth:453px;dialogLeft:350;dialogTop:100;center:yes;resizable:no;status:no;scroll:no');

        if(oSelectedOrder != null)
        {
            $("#txtOrderRecapPickerByStyle").val(oSelectedOrder.StyleNo);
            _nOrderRecapID = oSelectedOrder.OrderRecapID;
            GetOrderRecapDetail();
        }

    });

    function GetOrderRecapDetail()
    {
        var tsv=((new Date()).getTime())/1000;
        $.ajax({
            type: "POST",
            dataType: "json",
            url: _sBaseAddress + "/OrderRecap/GetOrderRecapDetailByOrderID",
            traditional: true,
            data: JSON.stringify({nOrderRecapID : _nOrderRecapID, ts : tsv}),
            contentType: "application/json; charset=utf-8",

            success: function(data)
            {
                var oSelectedOrderDetails=[];
                debugger;
                oSelectedOrderDetails = jQuery.parseJSON(data);

                if (oSelectedOrderDetails.length>0 && oSelectedOrderDetails[0].ErrorMessage=="")
                {

                    LoadColorAndSize(oSelectedOrderDetails)
                }
                else
                {

                    alert(oSelectedOrderDetails[0].ErrorMessage);

                }
            },
            error: function(xhr, status, error)
            {
                alert(error);
            }
        });

    }

    function LoadColorAndSize(oSelectedOrderDetails)
    {
        //$("#cboColorWithSize").empty();

        var listItems="";
        //listItems += "<option value=0>" +"--None--" +"</option>";
        for (i = 0; i < oSelectedOrderDetails.length; i++)
        {
            listItems += "<option value='" + oSelectedOrderDetails[i].OrderRecapDetailID+"'>" + oSelectedOrderDetails[i].ColorAndSizeInString+"</option>";
        }
        $("#cboColorWithSize").html(listItems);
    }

    $('#txtCode').keypress(function (e)
    {

        var code = (e.keyCode ? e.keyCode : e.which);
        var sEmpCode=document.getElementById("txtCode").value;

        if (code == 13)//Enter key-13
        {
            if(sEmpCode=="")
            {
                alert("Please Enter Code !");
                return;
            }
            var nts=(new Date()).getTime()/1000;
            var oParameter = new Object();
            oParameter.MultipleItemReturn = false;
            var url = _sBaseAddress + "/Employee/EmployeePikerByCode?sCode="+sEmpCode+"&nDepartmentID="+_oIroningLists[0].EmployeeOfficial.DepartmentID+"&nts="+nts;

            _oEmployee = window.showModalDialog(url, oParameter, 'dialogHeight:415px;dialogWidth:515px;dialogLeft:400;dialogTop:100;center:yes;resizable:no;status:no;scroll:no');

            if(_oEmployee!=null)
            {
                if(_oEmployee.DesignationName=="" || _oEmployee.DepartmentName=="" || _oEmployee.LocationName=="")
                {
                    alert("This Employee Has No Official Information !");
                    return;
                }
                _nEmployeeID = _oEmployee.EmployeeID;
                $("#txtCode")[0].value=_oEmployee.Name+"["+_oEmployee.Code+"]";

            }
        }
    });

    $('#txtTrimEmpCode').keypress(function (e)
    {
        var code = (e.keyCode ? e.keyCode : e.which);
        var sEmpCode=document.getElementById("txtTrimEmpCode").value;

        if (code == 13)//Enter key-13
        {
            if(sEmpCode=="")
            {
                alert("Please Enter Code !");
                return;
            }
            var nts=(new Date()).getTime()/1000;
            var oParameter = new Object();
            oParameter.MultipleItemReturn = false;
            var url = _sBaseAddress + "/Employee/EmployeePikerByCode?sCode="+sEmpCode+"&nDepartmentID="+_oIroningLists[0].EmployeeOfficial.DepartmentID+"&nts="+nts;

            _oEmployee = window.showModalDialog(url, oParameter, 'dialogHeight:415px;dialogWidth:515px;dialogLeft:400;dialogTop:100;center:yes;resizable:no;status:no;scroll:no');

            if(_oEmployee!=null)
            {
                if(_oEmployee.DesignationName=="" || _oEmployee.DepartmentName=="" || _oEmployee.LocationName=="")
                {
                    alert("This Employee Has No Official Information !");
                    return;
                }
                _nEmployeeID = _oEmployee.EmployeeID;
                $("#txtTrimEmpCode")[0].value=_oEmployee.Name+"["+_oEmployee.Code+"]";

            }
        }
    });

    function SearchWithPasignation()
    {
        if(!_bNext)
        {
            _nRowLength = 0;
            _nLastEPSID = 0;
        }
        var sDepartmentIDs = "";
        var bIssueDateWise= false;
        var bReceiveDateWise= false;
        var dtDateFrom = $('#dtDateFrom').datebox('getValue');
        var dtDateTo = $('#dtDateTo').datebox('getValue');
        var nLoginID = 0;
        var sUserIds="";
        var  sCode = "";
        var nGarmentPart = 0;
        var nSizeCategoryID = 0;
        bIssueDateWise = document.getElementById("chkIssueDateWise").checked;
        bReceiveDateWise = document.getElementById("chkReceiveDateWise").checked;

        if(_oEmployee != null)
        {
            sCode = _oEmployee.Code;
        }

        var nOrderRecapIds = "" ;
        var nPP = 6;//Production Process= Ironing (6)
        var sStyleNos="";
        sStyleNos = _sStyleNoForSearch;
        if(document.getElementById("chkLoginUser").checked == true)
        {
            nLoginID = 1;
        }

        //var sParam = dtDateFrom + "~"+ dtDateTo + "~" + sCode + "~" + nOrderRecapId+ "~" + sStyleNos + "~" + nPP ;
        _nLoadRecords = document.getElementById("txtLoadRecords").value;
        var sParam = dtDateFrom + "~"+ dtDateTo + "~" + sCode + "~" + nOrderRecapIds+ "~" + sStyleNos + "~" + nPP+ "~" + bIssueDateWise+ "~" + bReceiveDateWise+"~"+sDepartmentIDs+"~"+nLoginID+"~"+sUserIds+"~"+nGarmentPart+"~"+nSizeCategoryID+"~"+_nLoadRecords+"~"+_nRowLength;

        $.ajax({
            type: "POST",
            dataType: "json",
            url: _sBaseAddress + "/EmployeeProduction/SearchByCodeAndDate",
            traditional: true,
            data: JSON.stringify({sParam : sParam}),
            contentType: "application/json; charset=utf-8",

            success: function(data)
            {
                var oEmployeeProductions=[];
                oEmployeeProductions = jQuery.parseJSON(data);

                if (oEmployeeProductions.length>0 && oEmployeeProductions[0].ErrorMessage=="")
                {
                    if(!_bNext)
                    {
                        _oEmployeeProductions=[];
                        RefreshList(_oEmployeeProductions);
                    }

                    for (var j = 0; j < oEmployeeProductions.length; j++)
                    {
                        $('#tblIroningList').datagrid('appendRow',oEmployeeProductions[j]);
                    }
                }
                else
                {
                    if(_bNext == false)
                    {
                        alert("Data not found !!");
                        _oEmployeeProductions=[];
                        RefreshList(_oEmployeeProductions);
                    }
                    else
                    {
                        alert("No more data found !");
                    }
                }
                var oEmployeeProductions=$('#tblIroningList').datagrid('getRows');
                document.getElementById("lblcount").innerHTML = " | Count ="+ oEmployeeProductions.length;
                _bNext = false;
            },
            error: function(xhr, status, error)
            {
                alert(error);
            }
        });
    }

    function Next()
    {
        var oEmployeeProductions =[];
        oEmployeeProductions=$('#tblIroningList').datagrid('getRows');
        _nRowLength = oEmployeeProductions.length;
        _bNext = true;

        if (oEmployeeProductions.length<=0)
        {
            alert('Please Select Criteria and click on "Search" to find information.!!');
            return;
        }
        var oEmployeeProduction = oEmployeeProductions[oEmployeeProductions.length-1];

        if (_nLastEPSID==oEmployeeProduction.EPSID)
        {
            alert('No more data found by this date range');
            return;
        }
        _nLastEPSID=oEmployeeProduction.EPSID;
        SearchWithPasignation()
    }

    $('#btnLinEmployeePicker').click(function (e)
    {
        var oParameter = new Object();
        oParameter.Name = "Employee Advance Search";
        oParameter.MultipleItemReturn=false;
        var url = _sBaseAddress + "/Employee/EmployeeHRMPiker";
        _oEmployee = window.showModalDialog(url, oParameter, 'dialogHeight:510px;dialogWidth:1000px;dialogLeft:150;dialogRight:50;dialogTop:100;center:yes;resizable:yes;status:no;scroll:no');
        if(_oEmployee!=null)
        {
            if(_oEmployee.DesignationName=="" || _oEmployee.DepartmentName=="" || _oEmployee.LocationName=="")
            {
                alert("This Employee Has No Official Information !");
                return;
            }
            $("#txtTrimEmpCode")[0].value=_oEmployee.Name+"["+_oEmployee.Code+"]";
        }
    });

    $('#btnEmployeePicker').click(function (e)
    {
        var oParameter = new Object();
        oParameter.Name = "Employee Advance Search";
        oParameter.MultipleItemReturn=false;
        var url = _sBaseAddress + "/Employee/EmployeeHRMPiker";
        _oEmployee = window.showModalDialog(url, oParameter, 'dialogHeight:510px;dialogWidth:1000px;dialogLeft:150;dialogRight:50;dialogTop:100;center:yes;resizable:yes;status:no;scroll:no');
        if(_oEmployee!=null)
        {
            if(_oEmployee.DesignationName=="" || _oEmployee.DepartmentName=="" || _oEmployee.LocationName=="")
            {
                alert("This Employee Has No Official Information !");
                return;
            }
            $("#txtCode")[0].value=_oEmployee.Name+"["+_oEmployee.Code+"]";
        }
    });


    function ValidateInputForIssue()
    {
        if(document.getElementById("cboGarmentPart").value == 0)
        {
            alert("Please select a body part!");
            $("#cboGarmentPart").focus();
            return false;
        }

        if(_oEmployee==null && _nEmployeeID == 0)
        {
            alert("Please Enter Employee!");
            $("#txtTrimEmpCode").focus();
            return false;
        }

        var nIssueQty=parseFloat(document.getElementById("txtIssueReceiveQty").value);
        if(nIssueQty==0 || isNaN(nIssueQty)|| nIssueQty == null)
        {
            alert("Please Enter Issue Qty!");
            $("#txtIssueReceiveQty").focus();
            return false;
        }

        return true;
    }

    function RefreshObjectForIssue()
    {

        var oEmployeeProduction=
        {
            EPSID : _nEPSID,
            EmployeeID : _nEmployeeID,
            OrderRecapDetailID : document.getElementById("cboColorWithSize").value,
            ProductionProcessInt : 6,
            GPID : document.getElementById("cboGarmentPart").value,
            MachineNo : 0,
            TSPID : 0,
            IssueQty : document.getElementById("txtIssueReceiveQty").value,
            IssueDate : $('#dtDate').datebox('getValue'),
            ReferenceEPSID : 0

        }

        return oEmployeeProduction;
    }

    $('#btnIssueReceive').click(function (e)
    {

        if (!ValidateInputForIssue()) return;
        var oEmployeeProduction = RefreshObjectForIssue();
        $.ajax({
            type: "POST",
            dataType: "json",
            url: _sBaseAddress + "/EmployeeProduction/EmployeeProduction_IU",
            traditional: true,
            data: JSON.stringify(oEmployeeProduction),
            contentType: "application/json; charset=utf-8",

            success: function(data)
            {
                _opEmployeeProduction = jQuery.parseJSON(data);
                if (_opEmployeeProduction.ErrorMessage == "")
                {

                    Approve();

                }
                else
                {
                    alert(_opEmployeeProduction.ErrorMessage);
                }

            },
            error: function(xhr, status, error)
            {
                alert(error);
            }
        });
    });

    $('#btnAdvanceEdit').click(function (e)
    {

        var oEPS = $('#tblIroningList').datagrid('getSelected');
        if(oEPS == null)
        {
            alert("Please select an item from the list !");
            return;
        }

        var SelectedRowIndex=$('#tblIroningList').datagrid('getRowIndex',oEPS);
        var oParameter = new Object();
        oParameter.oOrderRecape=_obj.oOrderRecape;
        oParameter.Name = "EPS Advance Edit";
        var tsv = ((new Date()).getTime()) / 1000;
        var url = _sBaseAddress + "/EmployeeProduction/View_AdvanceEdit?EmployeeProductionID="+ oEPS.EPSID+"&ts=" + tsv;
        var oEPS = window.showModalDialog(url, oParameter, 'dialogHeight:310px;dialogWidth:380px;dialogLeft:400;dialogRight:100;dialogTop:250;center:yes;resizable:no;status:no;scroll:no');

        if(oEPS !=null)
        {

            $('#tblIroningList').datagrid('updateRow',{index: SelectedRowIndex,	row: oEPS});

        }

    });

    function RefreshControl(oEPS)
    {

        document.getElementById("txtTrimEmpCode").value = oEPS.EmployeeName;
        document.getElementById("txtIssueReceiveQty").value = oEPS.IssueQty;
        $('#dtDate').datebox('setValue',oEPS.IssueDateInString);
        document.getElementById("txtColor").value = oEPS.ColorName;
        document.getElementById("txtStyle").value = oEPS.StyleNo;
        document.getElementById("txtSize").value = oEPS.SizeCategoryName;
        _nReferenceEPSID = oEPS.ReferenceEPSID;
        _nEmployeeID = oEPS.EmployeeID;
        _nEPSID = oEPS.EPSID;
        _nOrderRecapDetailID = oEPS.OrderRecapDetailID;

    }


    function RefreshObject()
    {

        var oEmployeeProductionReceiveDetail=
        {
            EPSRDID : 0,
            EPSID : _opEmployeeProduction.EPSID,
            RcvQty : document.getElementById("txtIssueReceiveQty").value,
            RcvByDate : $('#dtDate').datebox('getValue')
        }
        return oEmployeeProductionReceiveDetail;
    }

    function Receive()
    {
        var oEmployeeProductionReceiveDetail = RefreshObject();

        $.ajax({
            type: "POST",
            dataType: "json",
            url: _sBaseAddress + "/EmployeeProduction/EmployeeProductionReceiveDetail_IU",
            traditional: true,
            data: JSON.stringify({oEmployeeProductionReceiveDetail:oEmployeeProductionReceiveDetail}),
            contentType: "application/json; charset=utf-8",

            success: function(data)
            {
                var oEmployeeProduction = jQuery.parseJSON(data);
                alert("Received sucessfully");

                var oEPSs = $('#tblIroningList').datagrid('getRows');
                var nIndex = oEPSs.length;
                $('#tblIroningList').datagrid('appendRow', oEmployeeProduction);
                $('#tblIroningList').datagrid('selectRow', nIndex);
                BlankAndFocus();
            },
            error: function(xhr, status, error)
            {
                alert(error);
            }
        });
    }

    function BlankAndFocus()
    {
        $("#txtOrderRecapPickerByStyle").focus();
        document.getElementById("txtTrimEmpCode").value = "";
        _nEmployeeID = 0;
        document.getElementById("txtIssueReceiveQty").value = "";
    }

    $('#txtOrderRecapPickerByStyle').keypress(function (e)
    {
        var code = (e.keyCode ? e.keyCode : e.which);
        if (code==8)
        {
            document.getElementById("txtOrderRecapPickerByStyle").value = "";
            _nOrderRecapID = 0;
            document.getElementById("cboColorWithSize").value=0;

        }
    });

    function Approve()
    {


        if (_opEmployeeProduction.ApproveBy > 0)
        {
            alert("Already Approve!");
            return ;
        }

        $.ajax({
            type: "POST",
            dataType: "json",
            url: _sBaseAddress + "/EmployeeProduction/EmployeeProduction_Approve",
            traditional: true,
            data: JSON.stringify({nId:_opEmployeeProduction.EPSID}),
            contentType: "application/json; charset=utf-8",
            success: function(data)
            {
                var oEmployeeProduction=[];

                oEmployeeProduction = jQuery.parseJSON(data);
                if (oEmployeeProduction.ErrorMessage=="")
                {
                    Receive() ;
                }
                //else
                //{
                //alert(oEmployeeProduction.ErrorMessage);
                //}
            },
            error: function(xhr, status, error)
            {
                alert(error);
            }
        });
    }

    $('#txtOrderRecapPickerByStyleForSearch').keypress(function (e)
    {

        var code = (e.keyCode ? e.keyCode : e.which);
        var sStyleNo = document.getElementById("txtOrderRecapPickerByStyleForSearch").value;

        if (code == 13)//Enter key-13
        {
            if(sStyleNo=="")
            {
                alert("Please Enter Style No !");
                return;
            }

            var oParameter = new Object();
            oParameter.Name = "Style Picker";
            oParameter.MultipleItemReturn=false;
            var tsv=((new Date()).getTime())/1000;
            var url =_sBaseAddress+ "/OrderRecap/OrderRecapPickerByStyleNo?sStyleNo="+sStyleNo+"&ts="+tsv;
            var oSelectedOrder = window.showModalDialog(url, oParameter, 'dialogHeight:385px;dialogWidth:453px;dialogLeft:350;dialogTop:100;center:yes;resizable:no;status:no;scroll:no');

            if(oSelectedOrder != null)
            {

                $("#txtOrderRecapPickerByStyleForSearch").val(oSelectedOrder.StyleNo);
                _sStyleNoForSearch = "'"+oSelectedOrder.StyleNo+"'";

            }
        }
    });

    $('#btnOrderRecapPickerByStyleForSearch').click(function (e)
    {

        var sStyleNo = "";
        var oParameter = new Object();
        oParameter.Name = "OrderRecap Picker";
        oParameter.MultipleItemReturn=false;
        var tsv=((new Date()).getTime())/1000;
        var url =_sBaseAddress+ "/OrderRecap/OrderRecapPickerByStyleNo?sStyleNo="+sStyleNo+"&ts="+tsv;
        var oSelectedOrder = window.showModalDialog(url, oParameter, 'dialogHeight:385px;dialogWidth:453px;dialogLeft:350;dialogTop:100;center:yes;resizable:no;status:no;scroll:no');

        if(oSelectedOrder != null)
        {
            $("#txtOrderRecapPickerByStyleForSearch").val(oSelectedOrder.StyleNo);
            _sStyleNoForSearch = "'"+oSelectedOrder.StyleNo+"'";
        }

    });

    function TrimEmpClear()
    {
        document.getElementById("txtTrimEmpCode").value="";
    }

    function EmpClear()
    {
        _nEmployeeID = 0;
        document.getElementById("txtCode").value="";
    }

    $('#txtOrderRecapPickerByStyleForSearch').click(function (e)
    {
        document.getElementById("txtOrderRecapPickerByStyleForSearch").value="";
        _sStyleNoForSearch = "";
    });
</script>