<!DOCTYPE HTML>
<html>
<head>
    <title>Production Sheet(Knitting)</title>
    <link href="@Url.Content("~/Content/CSS/icon.css")" rel="stylesheet" type="text/css" />
    <link href="@Url.Content("~/Content/CSS/easyui.css")" rel="stylesheet" type="text/css" />
    <link href="@Url.Content("~/Content/CSS/Pikerstyle.css")" rel="stylesheet" type="text/css" />
    <script src="@Url.Content("~/Scripts/jquery-1.7.1.min.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Scripts/jquery.ics.customize.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Scripts/jquery.easyui.min.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Scripts/jquery-ui.min.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Scripts/json2.js")" type="text/javascript"></script>
</head>
<body>
    @model ESimSol.BusinessObjects.EmployeeProduction
    <div style="font-family: Tahoma">
        <table border="0" cellspacing="0" cellpadding="0">
            <tr>
                <td style="background-color: #cfb53b; text-align: center; width: 700px; color: White">
                    <label id="lblHeaderName" style="font-size: 17px; font-weight: bold; text-decoration: Underline">
                        Issue Production Sheet(Knitting)
                    </label>
                </td>
            </tr>
            <tr>
                <td style="background-color: #cfb53b; text-align: center; width: 700px; color: White">
                    <label id="lblHeader" style="font-size: 14px; font-weight: bold; text-decoration: Underline">
                        Production Sheet
                    </label>
                </td>
            </tr>
        </table>
        <fieldset>
            <legend style="font-weight: bold">Production Sheet(Knitting)</legend>@* table1 start*@
            <table border="0" cellspacing="2" cellpadding="2" style="font-size: 11px; font-weight: bold;">
                <tr>
                    <td style="width: 120px; text-align: right;">
                        Employee :
                    </td>
                    <td>
                        <input placeholder="Type Code & Enter" id="txtEmployee" type="text" style="width:160px;" />
                        <input id="btnEmployee" type="button" value="P" />
                    </td>
                    <td style="width: 100px; text-align: right;">
                        Date :
                    </td>
                    <td>
                        <input id="dtDate" type="text" style="width: 200px" class="easyui-datebox" required="required" data-options="formatter:icsdateformat,parser:icsdateparser" />
                    </td>
                </tr>
                <tr>
                    <td style="width: 120px; text-align: right;">
                        Official Info :
                    </td>
                    <td>
                        <input id="txtOfficialInfo" type="text" style="width: 200px;" disabled="disabled" />
                    </td>
                    <td style="width: 100px; text-align: right;">
                        PSNo :
                    </td>
                    <td>
                        <input id="txtPSNo" type="text" disabled="disabled" style="width: 200px;" />
                    </td>
                </tr>
                <tr>
                    <td style="width: 120px; text-align: right;">
                        Machine Number :
                    </td>
                    <td>
                        <input id="txtMachineNumber" type="text" style="width:200px;" />
                    </td>
                    <td style="width: 100px; text-align: right;">
                        Body Part :
                    </td>
                    <td>
                        @*@Html.DropDownListFor(model => model.GarmentPart, new SelectList(Enum.GetValues(typeof(ICS.Base.Client.Utility.EnumGarmentPart))), new { id = "cboGarmentPart", style = "width: 200px;" })*@
                        <select id="cboGarmentPart" style="width:168px;"></select><input id="btnBalance" type="button" value="B" />
                    </td>
                </tr>
                <tr>
                    <td style="width: 120px; text-align: right;">
                        Color With Size:
                    </td>
                    <td>
                        <select id="cboColorWithSize" style="width:200px;"></select>
                    </td>
                    <td style="width: 100px; text-align: right;">
                        Lot :
                    </td>
                    <td>
                        <select id="cboLot" style="width:200px;"></select>
                    </td>
                </tr>
                <tr>
                    <td style="width: 120px; text-align: right;">
                        Issue Qty:
                    </td>
                    <td>
                        <input id="txtIssueQty" type="text" style="width:168px;" />(Pcs)
                    </td>

                    <td style="width: 100px; text-align: right;">
                        SL NO :
                    </td>
                    <td>
                        <input id="txtSLNO" type="text" style="width:200px;" />
                    </td>
                </tr>
                <tr>
                    <td style="width: 120px; text-align: right;">
                        Yarn Qty :
                    </td>
                    <td>
                        <input id="txtYarnQty" type="text" style="width:168px;" />(LBS)&nbsp;
                    </td>

                    <td style="width: 100px; text-align: right;">
                        EPSLotNo :
                    </td>
                    <td>
                        <input id="txtEPSLotNo" type="text" style="width:200px;" />

                    </td>

                </tr>
            </table>
            <table border="0" cellspacing="2" cellpadding="2" style="font-size: 11px; font-weight: bold;">
                <tr>
                    <td style="width: 120px;"></td>
                    <td style="width: 180px;">
                        Total Qty :
                        <label id="lblTotalQty"></label>
                        &nbsp;
                        <label id="lblBalanceQty"></label>
                    </td>
                    <td style="width: 330px; text-align: right;">
                        <a id="btnSave" href="javascript:void(0)" class="easyui-linkbutton" iconcls="icon-save" plain="true">Save</a>
                        <a id="btnPrint" href="javascript:void(0)" class="easyui-linkbutton" iconcls="icon-print" plain="true">Print</a>
                        <a id="btnCancel" href="javascript:void(0)" class="easyui-linkbutton" iconcls="icon-cancel" plain="true">Cancel</a>
                    </td>
                </tr>
            </table>
            @* table1 end*@

        </fieldset>
    </div>
</body>
</html>

<script type="text/javascript">
    var _oEmployeeProduction=null;
    var _opEmployeeProduction=null;
    var _sBaseAddress="";
    var _obj=null;
    var _oEmployee=null;
    var _nEmployeeID = 0;

    $(document).ready(function ()
    {
        _sBaseAddress =@Html.Raw(new System.Web.Script.Serialization.JavaScriptSerializer().Serialize(HttpContext.Current.Session[SessionInfo.BaseAddress]));
        _oEmployeeProduction =@Html.Raw(new System.Web.Script.Serialization.JavaScriptSerializer().Serialize(Model));
        //alert( _oEmployeeProduction.OrderRecapDetails[0].ColorAndSizeInString);
        _obj = window.dialogArguments;
        document.getElementById("lblHeader").innerHTML= "Order No : "+_obj.oOrderRecape.OrderRecapNo+", Style : "+_obj.oOrderRecape.StyleNo+", Buyer : "+_obj.oOrderRecape.BuyerName;
        $("#txtIssueQty").numberbox({min:0,precision:2});
        $("#txtYarnQty").numberbox({min:0,precision:2});
        $('#dtDate').datebox('setValue', _oEmployeeProduction.IssueDateInString);
        LoadColorAndSize(_oEmployeeProduction);
        LoadLot(_oEmployeeProduction);
        LoadBodyPart(_oEmployeeProduction);
        if(_obj.Name == "Edit EPS")
        {
            document.getElementById("lblHeaderName").innerHTML = "Edit Production Sheet(Knitting)";
            RefreshControl();
        }
    });


    function RefreshControl()
    {
        document.getElementById("txtEmployee").value = _oEmployeeProduction.EmployeeName;
        document.getElementById("txtOfficialInfo").value = _oEmployeeProduction.EmpOfficial;
        document.getElementById("txtPSNo").value = _oEmployeeProduction.EPSNO;
        document.getElementById("txtMachineNumber").value = _oEmployeeProduction.MachineNo;
        document.getElementById("cboColorWithSize").value = _oEmployeeProduction.OrderRecapDetailID;
        document.getElementById("cboLot").value = _oEmployeeProduction.TSPID;
        document.getElementById("cboGarmentPart").value =_oEmployeeProduction.GPID;
        //document.getElementById("txtIssueQty").value = _oEmployeeProduction.IssueQty;
        //document.getElementById("txtYarnQty").value = _oEmployeeProduction.YarnRcvQty;
        $('#txtIssueQty').numberbox('setValue',_oEmployeeProduction.IssueQty);
        $('#txtYarnQty').numberbox('setValue',_oEmployeeProduction.YarnRcvQty);
        document.getElementById("txtEPSLotNo").value = _oEmployeeProduction.EPSLotNo;
        document.getElementById("txtSLNO").value = _oEmployeeProduction.SLNO;
        _nEmployeeID = _oEmployeeProduction.EmployeeID;

    }


    function  icsdateformat(date)
    {
        var mthNames = ["Jan","Feb","Mar","Apr","May","Jun","Jul","Aug","Sep","Oct","Nov","Dec"];
        var y = date.getFullYear();
        var m = date.getMonth();
        var d = date.getDate();
        var result= d +' '+ mthNames[m]+' '+ y;
        return result;
    }

    $('#btnEmployee').click(function (e)
    {

        var oParameter = new Object();
        oParameter.Name = "Employee Advance Search";
        oParameter.MultipleItemReturn=false;
        var url = _sBaseAddress + "/Employee/EmployeeHRMPiker";
        _oEmployee = window.showModalDialog(url, oParameter, 'dialogHeight:500px;dialogWidth:1000px;dialogLeft:200;dialogRight:50;dialogTop:100;center:yes;resizable:yes;status:no;scroll:no');
        if(_oEmployee!=null)
        {
            if(_oEmployee.DesignationName=="" || _oEmployee.DepartmentName=="" || _oEmployee.LocationName=="")
            {
                alert("This Employee Has No Official Information !");
                return;
            }

            if(_oEmployee.IsActive == false)
            {
                alert("InActive Employee. Work can not be assigned for this employee!");
                return;
            }

            $("#txtEmployee")[0].value=_oEmployee.Name;
            $("#txtOfficialInfo")[0].value=_oEmployee.DepartmentName+", "+_oEmployee.DesignationName;
            _nEmployeeID = _oEmployee.EmployeeID;
        }
    });

    $('#txtEmployee').keypress(function (e)
    {
        var code = (e.keyCode ? e.keyCode : e.which);
        var sEmpCode=document.getElementById("txtEmployee").value;

        if (code == 13)//Enter key-13
        {
            if(sEmpCode=="")
            {
                alert("Please Enter Code !");
                return;
            }
            var nts=(new Date()).getTime()/1000;
            var oParameter = new Object();
            oParameter.MultipleItemReturn = false;
            var url = _sBaseAddress + "/Employee/EmployeePikerByCode?sCode="+sEmpCode+"&nDepartmentID="+_oEmployeeProduction.EmployeeOfficial.DepartmentID+"&nts="+nts;
            _oEmployee = window.showModalDialog(url, oParameter, 'dialogHeight:415px;dialogWidth:515px;dialogLeft:400;dialogTop:100;center:yes;resizable:no;status:no;scroll:no');

            if(_oEmployee!=null)
            {

                if(_oEmployee.DesignationName=="" || _oEmployee.DepartmentName=="" || _oEmployee.LocationName=="")
                {
                    alert("This Employee Has No Official Information !");
                    return;
                }

                if(_oEmployee.IsActive == false)
                {
                    alert("InActive Employee. Work can not be assigned for this employee!");
                    return;
                }

                $("#txtEmployee")[0].value=_oEmployee.Name;
                _nEmployeeID=_oEmployee.EmployeeID;
                $("#txtOfficialInfo")[0].value=_oEmployee.DepartmentName+", "+_oEmployee.DesignationName;

            }
        }
    });

    function LoadColorAndSize(_oEmployeeProduction)
    {

        var listItems="";
        listItems += "<option value=0>" +"--Select Color With Size--" +"</option>";
        for (i = 0; i < _oEmployeeProduction.OrderRecapDetails.length; i++)
        {
            listItems += "<option value='" + _oEmployeeProduction.OrderRecapDetails[i].OrderRecapDetailID+"'>" + _oEmployeeProduction.OrderRecapDetails[i].ColorAndSizeInString+"</option>";
        }
        $("#cboColorWithSize").html(listItems);
    }

    function LoadLot(_oEmployeeProduction)
    {
        var listItems="";
        listItems += "<option value=0>" +"--Select Lot--" +"</option>";
        for (i = 0; i < _oEmployeeProduction.TechnicalSheetProductions.length; i++)
        {
            listItems += "<option value='" + _oEmployeeProduction.TechnicalSheetProductions[i].TSPID+"'>" + _oEmployeeProduction.TechnicalSheetProductions[i].LotNo+"</option>";
        }
        $("#cboLot").html(listItems);
    }

    function LoadBodyPart(_oEmployeeProduction)
    {
        var listItems="";
        listItems += "<option value=0>" +"--Select Body Part--" +"</option>";
        for (i = 0; i < _oEmployeeProduction.TechnicalSheetBodyParts.length; i++)
        {
            listItems += "<option value='" + _oEmployeeProduction.TechnicalSheetBodyParts[i].GPID+"'>" + _oEmployeeProduction.TechnicalSheetBodyParts[i].GPName+"</option>";
        }
        $("#cboGarmentPart").html(listItems);
    }

    $('#cboColorWithSize').change(function (e)
    {
        FindQty();

    });

    $('#cboGarmentPart').change(function (e)
    {

        FindQty();

    });

    function FindQty()
    {
        var SelectedID=document.getElementById("cboColorWithSize").value;
        var TotalQty = 0;

        for (i = 0; i < _oEmployeeProduction.OrderRecapDetails.length; i++)
        {
            if(SelectedID==_oEmployeeProduction.OrderRecapDetails[i].OrderRecapDetailID)
            {
                TotalQty=_oEmployeeProduction.OrderRecapDetails[i].Quantity;
            }
        }

        var SelectedBodypart = document.getElementById("cboGarmentPart").value;
        var BodyPartWiseTotal = 0;
        if(SelectedBodypart !=0)
        {
            for (i = 0; i < _oEmployeeProduction.TechnicalSheetBodyParts.length; i++)
            {

                if(SelectedBodypart ==_oEmployeeProduction.TechnicalSheetBodyParts[i].GPID)
                {

                    BodyPartWiseTotal =_oEmployeeProduction.TechnicalSheetBodyParts[i].BodyPartQtyPerStyle*TotalQty;
                }
            }
            document.getElementById("lblTotalQty").innerHTML = BodyPartWiseTotal;
        }
        else
        {

            document.getElementById("lblTotalQty").innerHTML = TotalQty;

        }
        document.getElementById("lblBalanceQty").innerHTML=" ";
    }

    $('#cboLot').change(function (e)
    {
        var SelectedID=document.getElementById("cboLot").value;
        for (i = 0; i < _oEmployeeProduction.TechnicalSheetProductions.length; i++)
        {
            if(SelectedID==_oEmployeeProduction.TechnicalSheetProductions[i].LotID)
            {
                document.getElementById("lblBLotqty").innerHTML=_oEmployeeProduction.TechnicalSheetProductions[i].BalanceQtyInString;
            }
        }
    });

    function ValidateInput()
    {
        if(_oEmployee==null && _nEmployeeID<=0)
        {
            alert("Please Enter Employee!");
            $("#txtEmployee").focus();
            return false;
        }
        if (_opEmployeeProduction!=null && _opEmployeeProduction.EPSID>0)
        {
            alert("Already Saved. Please print card now.!");
            return false;
        }
        var IssueDate=$('#dtDate').datebox('getValue');
        var IssueDateTime=new Date(IssueDate);
        var ND= new Date();
        ND.setHours(0,0,0,0);
        //if(IssueDateTime<ND)
        //{
        //alert("IssueDate Must Not be Less Than Current Date !");
        //$("#dtDate").focus();
        //return false;
        //}

        if(document.getElementById("cboGarmentPart").value==0)
        {
            alert("Please Select A Body Part!");
            $("#cboGarmentPart").focus();
            return false;
        }

        if(document.getElementById("cboColorWithSize").value==0)
        {
            alert("Please Select A Color With Size!");
            $("#cboColorWithSize").focus();
            return false;
        }

        if(document.getElementById("cboLot").value==0)
        {
            alert("Please Select A Lot No.!");
            $("#cboLot").focus();
            return false;
        }
        var nIssueQty=parseFloat(document.getElementById("txtIssueQty").value);
        if(nIssueQty==0)
        {
            alert("Please Enter Issue Qty!");
            $("#txtIssueQty").focus();
            return false;
        }

        var nYarnQty=document.getElementById("txtYarnQty").value;
        if(nYarnQty==0)
        {
            alert("Please Enter Yarn Qty!");
            $("#txtYarnQty").focus();
            return false;
        }

        //var nBalanceQty=parseFloat(document.getElementById("lblBalanceQty").innerHTML);
        //if(nIssueQty>nBalanceQty)
        //{
        //alert("Issue Qty Must Not Be Greater Than Balance Qty!");
        //$("#txtIssueQty").focus();
        //return false;
        //}

        //var nYarnBalance=document.getElementById("lblBLotqty").innerHTML;
        //if(nYarnQty>nYarnBalance)
        //{
        //alert("Yarn Qty Must Not Be Greater Than Balance Qty!");
        //$("#txtYarnQty").focus();
        //return false;
        //}

        return true;
    }

    function RefreshObject()
    {
        var oEmployeeProduction=
        {
            EPSID : _oEmployeeProduction.EPSID,
            EmployeeID : _nEmployeeID,
            OrderRecapDetailID : document.getElementById("cboColorWithSize").value,
            ProductionProcessInt: 1,
            GPID : document.getElementById("cboGarmentPart").value,
            MachineNo : document.getElementById("txtMachineNumber").value,
            TSPID : document.getElementById("cboLot").value,
            IssueQty : document.getElementById("txtIssueQty").value,
            IssueDate : $('#dtDate').datebox('getValue'),
            YarnRcvQty : document.getElementById("txtYarnQty").value,
            EPSLotNo : document.getElementById("txtEPSLotNo").value,
            SLNO : document.getElementById("txtSLNO").value

        }
        return oEmployeeProduction;
    }

    $('#btnSave').click(function (e)
    {
        if (!ValidateInput()) return;
        var oEmployeeProduction = RefreshObject();
        $.ajax({
            type: "POST",
            dataType: "json",
            url: _sBaseAddress + "/EmployeeProduction/EmployeeProduction_IU",
            traditional: true,
            data: JSON.stringify(oEmployeeProduction),
            contentType: "application/json; charset=utf-8",

            success: function(data)
            {
                //debugger
                _opEmployeeProduction = jQuery.parseJSON(data);
                if (_opEmployeeProduction.ErrorMessage == "")
                {
                    alert("Data Saved sucessfully");
                    window.returnValue = _opEmployeeProduction;
                    //window.close();
                }
                else
                {
                    alert(_opEmployeeProduction.ErrorMessage);
                }
            },
            error: function(xhr, status, error)
            {
                alert(error);
            }
        });
    });

    $('#btnPrint').click(function (e)
    {
        window.open(_sBaseAddress + '/EmployeeProduction/PrintTransportationCard?nId='+_opEmployeeProduction.EPSID, "_blank");
        window.close();
    });

    $('#btnBalance').click(function (e)
    {
        var nOrderRecapDetailID = document.getElementById("cboColorWithSize").value;
        var nGarmentPart = document.getElementById("cboGarmentPart").value;
        if(nOrderRecapDetailID ==0 || nGarmentPart == 0)
        {
            alert("Please select Color With Size and body Part !");
            return;
        }
        $.ajax({
            type: "POST",
            dataType: "json",
            url: _sBaseAddress + "/EmployeeProduction/GetBalance",
            traditional: true,
            data: JSON.stringify({nOrderRecapDetailID:nOrderRecapDetailID,nGarmentPart:nGarmentPart}),
            contentType: "application/json; charset=utf-8",

            success: function(data)
            {


                var sFeedbackMessage = jQuery.parseJSON(data);
                if (sFeedbackMessage>0)
                {
                    document.getElementById("lblBalanceQty").innerHTML="B. Qty : "+sFeedbackMessage;
                }
                else
                {
                    alert(sFeedbackMessage);
                }
            },
            error: function(xhr, status, error)
            {
                alert(error);
            }
        });
    });


    $('#btnCancel').click(function (e)
    {
        window.close();
    });

</script>