<!DOCTYPE html />
<html>
<head>
    <title>Production Sheet(Trimming)</title>
    <link href="@Url.Content("~/Content/CSS/icon.css")" rel="stylesheet" type="text/css" />
    <link href="@Url.Content("~/Content/CSS/easyui.css")" rel="stylesheet" type="text/css" />
    <link href="@Url.Content("~/Content/CSS/Pikerstyle.css")" rel="stylesheet" type="text/css" />
    <script src="@Url.Content("~/Scripts/jquery-1.7.1.min.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Scripts/jquery.ics.customize.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Scripts/jquery.easyui.min.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Scripts/jquery-ui.min.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Scripts/json2.js")" type="text/javascript"></script>
</head>
<body>
    @model ESimSol.BusinessObjects.EmployeeProduction
    <div style="font-family: Tahoma">
        <table border="0" cellspacing="0" cellpadding="0">
            <tr>
                <td style="background-color: #cfb53b; text-align: center; width: 670px; color: White">
                    <label id="lblHeaderName" style="font-size: 17px; font-weight: bold; text-decoration: Underline">
                        Trimming Receive</label>
                </td>
            </tr>
            <tr>
                <td style="background-color: #cfb53b; text-align: center; width: 670px; color: White">
                    <label id="lblHeader" style="font-size: 14px; font-weight: bold; text-decoration: Underline">
                        Trimming Receive</label>
                </td>
            </tr>
        </table>
        <fieldset>
            <legend style="font-weight: bold">Trimming Receive</legend>@* table1 start*@
            <table border="0" cellspacing="2" cellpadding="2" style="font-size: 11px; font-weight: bold;">
                <tr>
                    <td style="width: 150px; text-align: right;">
                        Employee :
                    </td>
                    <td>
                      <input id="txtEmployee" type="text" style="width:200px;" disabled="disabled" />
                    </td>
                    <td style="width: 120px; text-align: right;">
                       Issue Date :
                    </td>
                    <td>
                       <input id="dtIssueDate" disabled="disabled" type="text" style="width: 200px"/>
                    </td>
                </tr>
                <tr>
                    <td style="width: 150px; text-align: right;">
                        Official Info :
                    </td>
                    <td>
                        <input id="txtOfficialInfo" type="text" style="width: 200px;" disabled="disabled" />
                    </td>
                    <td style="width: 120px; text-align: right;">
                        PSNo :
                    </td>
                    <td >
                        <input id="txtPSNo" type="text" style="width:200px;" disabled="disabled" />
                    </td>
                </tr>
                <tr>
                    <td style="width: 150px; text-align: right;">
                        Machine Number :
                    </td>
                    <td>
                      <input id="txtMachineNo" type="text" style="width:200px;" disabled="disabled" />
                    </td>
                    <td style="width: 150px; text-align: right;">
                        Color With Size:
                    </td>
                    <td>
                        <input id="txtColorWithSize" type="text" style="width:200px;" disabled="disabled" />
                    </td>
                </tr>
                
                <tr>
                    <td style="width: 150px; text-align: right;">
                        Rcv Qty:
                    </td>
                    <td>
                       <input id="txtRcvQty" type="text" style="width:200px;" />
                    </td>
                    <td style="width: 150px; text-align: right;">
                        Issue Qty:
                    </td>
                    <td>
                       <input id="txtIssueQty" type="text" style="width:170px;" disabled="disabled" />(Pcs) 
                    </td>
                   
                </tr>

                <tr>
                    <td style="width: 150px; text-align: right;">
                        
                    </td>
                    <td>
                        Already Rcv : 
                       <label id="lblAlreadyRcv"></label>
                       &nbsp;Balance : 
                       <label id="lblBalance"></label>
                    </td>
                    <td style="width: 120px; text-align: right;">
                        Rcv Date :
                    </td>
                    <td>
                        <input id="dtRcvDate" type="text" style="width: 200px" class="easyui-datebox" required="required" data-options="formatter:icsdateformat" />
                    </td>
                </tr>
                
            </table>
            <table border="0" cellspacing="2" cellpadding="2" style="font-size: 11px; font-weight: bold;">
                <tr>
                    <td style="width: 650px; text-align: right;">
                        <a id="btnReceive" href="javascript:void(0)" class="easyui-linkbutton" iconcls="icon-save" plain="true">Receive</a>
                        <a id="btnCancel" href="javascript:void(0)" class="easyui-linkbutton" iconcls="icon-cancel" plain="true">Close</a>
                    </td>
                </tr>
            </table>
            @* table1 end*@
            
        </fieldset>
    </div>
</body>
</html>

<script type="text/javascript">
var _oEmployeeProduction=null;
var _sBaseAddress="";
var _obj=null;
var _oEmployee=null;
$(document).ready(function ()
{

    _sBaseAddress =@Html.Raw(new System.Web.Script.Serialization.JavaScriptSerializer().Serialize(HttpContext.Current.Session[SessionInfo.BaseAddress]));  
    _oEmployeeProduction =@Html.Raw(new System.Web.Script.Serialization.JavaScriptSerializer().Serialize(Model)); 
    _obj = window.dialogArguments;
    
    document.getElementById("lblHeader").innerHTML= "Order No : "+_obj.oOrderRecape.OrderRecapNo+", Style : "+_obj.oOrderRecape.StyleNo+", Buyer : "+_obj.oOrderRecape.BuyerName;
    $("#txtRcvQty").numberbox();
    $('#dtRcvDate').datebox('setValue', _oEmployeeProduction.IssueDateInString);
    document.getElementById("txtEmployee").value=_obj.oTrimming.EmployeeNameCode;
    document.getElementById("dtIssueDate").value=_obj.oTrimming.IssueDateInString;
    document.getElementById("txtOfficialInfo").value=_obj.oTrimming.EmpOfficial;
    document.getElementById("txtPSNo").value=_obj.oTrimming.EPSNO;
    document.getElementById("txtMachineNo").value=_obj.oTrimming.MachineNo;
    document.getElementById("txtColorWithSize").value=_obj.oTrimming.ColorName+"["+_obj.oTrimming.SizeCategoryName+"]";
    document.getElementById("txtIssueQty").value=_obj.oTrimming.IssueQty;
    document.getElementById("lblAlreadyRcv").innerHTML=_obj.oTrimming.RcvQty;
    document.getElementById("lblBalance").innerHTML=_obj.oTrimming.EmpWiseBalanceQty;
     
});

function  icsdateformat(date)
{
    var mthNames = ["Jan","Feb","Mar","Apr","May","Jun","Jul","Aug","Sep","Oct","Nov","Dec"];
    var y = date.getFullYear();
    var m = date.getMonth();
    var d = date.getDate();
    var result= d +' '+ mthNames[m]+' '+ y;
    return result;
}

function ValidateInput() 
{
    if(_obj.oTrimming.EmpWiseBalanceQty==0)
    {
        alert("Balance Qty Is Zero. You Have Nothing To Receive !");
        $("#txtRcvQty").focus();
        return false;
    }

    if(document.getElementById("txtRcvQty").value=="")
    {
        alert("Please Enter Receive Qty!");
        $("#txtRcvQty").focus();
        return false;
    }
   
    var nRcvQty=document.getElementById("txtRcvQty").value;
    if(nRcvQty>_obj.oTrimming.EmpWiseBalanceQty)
    {
        alert("ReceiveQty Must Not be Greater Than Balance Qty !");
        $("#txtRcvQty").focus();
        return false;
    }

    var RcvDate=$('#dtRcvDate').datebox('getValue');
    var RcvDateTime=new Date(RcvDate);
    var ND= new Date();
    ND.setHours(0,0,0,0);
//    if(RcvDateTime<ND)
//    {
//        alert("ReceiveDate Must Not be Less Than Current Date !");
//        $("#dtRcvDate").focus();
//        return false;
//    }
    
    return true;
}

function RefreshObject() 
{
    var oEmployeeProductionReceiveDetail=
    {
        EPSRDID : 0,
        EPSID : _obj.oTrimming.EPSID,
        RcvQty : document.getElementById("txtRcvQty").value,
        RcvByDate : $('#dtRcvDate').datebox('getValue')
    }
    return oEmployeeProductionReceiveDetail;
}

$('#btnReceive').click(function (e) 
{

    if (!ValidateInput()) return;
    var nRcvQty=document.getElementById("txtRcvQty").value;
    var nNewRcvQty=parseFloat(nRcvQty)+parseFloat( _obj.oTrimming.RcvQty);
    var oEmployeeProductionReceiveDetail = RefreshObject();
    $.ajax({
            type: "POST",
            dataType: "json",
            url: _sBaseAddress + "/EmployeeProduction/EmployeeProductionReceiveDetail_IU",
            traditional: true,
            data: JSON.stringify({oEmployeeProductionReceiveDetail:oEmployeeProductionReceiveDetail,nNewRcvQty:nNewRcvQty}),
            contentType: "application/json; charset=utf-8",

            success: function(data)
            {
                //debugger
                 _oEmployeeProduction = jQuery.parseJSON(data);
                if (_oEmployeeProduction.ErrorMessage == "") 
                {
                    alert("Received Sucessfully");
                    window.returnValue = _oEmployeeProduction;
                    window.close();
                } 
                else 
                {
                    alert(_oEmployeeProduction.ErrorMessage);
                }
             },
             error: function(xhr, status, error)
             {
                alert(error);
             }
          });
});

$('#btnCancel').click(function (e) 
{
    window.close();
});

</script>