<!DOCTYPE html />
<html>
<head>
    <title>Linking List</title>
    <link href="@Url.Content("~/Content/CSS/icon.css")" rel="stylesheet" type="text/css" />
    <link href="@Url.Content("~/Content/CSS/easyui.css")" rel="stylesheet" type="text/css" />
    <link href="@Url.Content("~/Content/CSS/Pikerstyle.css")" rel="stylesheet" type="text/css" />
    <script src="@Url.Content("~/Scripts/jquery-1.7.1.min.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Scripts/jquery.ics.customize.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Scripts/jquery.easyui.min.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Scripts/jquery-ui.min.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Scripts/json2.js")" type="text/javascript"></script>
</head>
<body>

@model IEnumerable<ESimSol.BusinessObjects.EmployeeProduction>
 <table border="0" cellspacing="0" cellpadding="0">
 <tr>
                <td style="background-color: #cfb53b; text-align: center; width: 930px; color: White">
                    <label id="lblHeader" style="font-size:20px; font-weight: bold; text-decoration: Underline; font-family:Tahoma">
                    Linking List
                        </label>
                </td>
            </tr>
            <tr>
                <td style="background-color: #cfb53b; text-align: center; width: 930px; color: White">
                    <label id="lblHeaderName" style="font-size:15px; font-weight: bold; text-decoration: Underline; font-family:Tahoma">
                        </label>
                </td>
            </tr>
</table>
<div style="margin-left:0px; height:452px; font-family:Tahoma">
@*    <table id="tblLinkingList"  class="easyui-datagrid" style="width:930px;height:452px;" fitColumns="false" rownumbers="true" pagination="true" singleSelect="true" autoRowHeight="false" toolbar="#toolbar">
*@
    <table id="tblLinkingList" class="easyui-datagrid" style="width: 930px; height: 452px;"
    fitcolumns="false" pagination="false" singleselect="true" autorowheight="false"
    toolbar="#toolbar" data-options="singleSelect: false, fitColumns:false,  rownumbers:true,pagination:false,autoRowHeight:false, toolbar: '#toolbar1', onClickRow: onClickRow">
        <thead >  
            <tr>
                <th field="IssueDateInString" width="80" align="center" >Issue Date</th>
                <th field="MachineNo" width="50" align="center" >M. No</th> 
                <th field="EmployeeNameCode" width="200" align="left" >Employee</th>               
                <th field="ReferenceEPSNo" width="130" align="left" >KT TC No</th>
                <th field="EPSNO" width="130" align="left" >TC No</th>
                <th field="IssueQty" width="60" align="center" >Issue(Pcs)</th>
                @*<th field="RcvQty" width="55" align="center" >Rcv(Pcs)</th>*@
                <th id="rcvqty" data-options="field:'RcvQty',width:55,align:'right',editor:{type:'numberbox',options:{precision:0}}" align="center">Rcv(Pcs)</th>
                <th field="EmpWiseBalanceQty" width="75" align="center" >Balance(Pcs)</th>
                <th field="RcvByDateInString" width="80" align="center" >Receive Date</th>
                <th field="ColorName" width="100" align="center" >Color</th>
                <th field="SizeCategoryName" width="50" align="center" >Size</th>
                <th field="GarmentPartInString" width="70" align="center" >B. Part</th>
                <th field="ActivityStatus" width="50" align="center" >Activity</th>
            </tr>  
        </thead> 
    </table>
    ​<table style="font-size : 12px; font-family:Tahoma;">
        <tr>
            <td>
                Load <input id="txtLoadRecords" type="text" style="width:70px" />  &nbsp; Records &nbsp; &nbsp;
                <label id="lblcount"></label>
                <a href="javascript:void(0)" class="easyui-linkbutton" iconcls="icon-ok" plain="true" onclick="Next()">Next</a>
                &nbsp;&nbsp;&nbsp;<label id="lblTotal"></label>
            </td>

        </tr>
    </table>
    <div id="toolbar" style="height : 75px;">
         <input id="chkIssueDateWise" type="checkbox" />Issue Date Wise
         <input id="chkReceiveDateWise" type="checkbox" />Receive Date Wise<br />
         <input id="txtSearchByReferenceEPSNo" type="text" style="width:160px; " placeholder="Type Ref. PSNo & Enter"  />&nbsp;&nbsp;
         <input id="txtSearchByPSNo" type="text" style="width:160px; " placeholder="Type PSNo & Enter"  />&nbsp;&nbsp;
         @*<a id="btnRefreshAll" href="javascript:void(0)" class="easyui-linkbutton" iconcls="icon-reload" plain="true" >Refresh All</a>*@
         <input id="dtDateFrom" type="text" style="width: 100px;" class="easyui-datebox" required="required" data-options="formatter:icsdateformat" />&nbsp; To &nbsp;
         <input id="dtDateTo" type="text" style="width: 100px" class="easyui-datebox" required="required" data-options="formatter:icsdateformat" />&nbsp;&nbsp;
         <input id="txtCode" type="text" style="width:150px;" placeholder="Type Code & Enter"  />
         <input id ="btnEmployeePicker" type = "button" value="P" />
         <input id="chkLoginUser" type="checkbox" checked="checked"/>Login User
        <a id="btnSearchByCodeNo" href="javascript:void(0)" class="easyui-linkbutton" iconcls="icon-search" plain="true" onclick="SearchWithPasignation()"></a>
         <br />
         <a id="btnIssue" href="javascript:void(0)" class="easyui-linkbutton" iconCls="icon-add" plain="true" >Issue</a>
         <a id="btnEdit" href="javascript:void(0)" class="easyui-linkbutton" iconCls="icon-edit" plain="true" >Edit</a>
         <a id="btnReceive" href="javascript:void(0)" class="easyui-linkbutton" iconCls="icon-add" plain="true" >Receive</a>
         <a id="btnApprove" href="javascript:void(0)" class="easyui-linkbutton" iconCls="icon-ok" plain="true" >Approve</a>
         <a id="btnRePrint" href="javascript:void(0)" class="easyui-linkbutton" iconcls="icon-print" plain="true">RePrint</a>
         <a id="btnDelete" href="javascript:void(0)" class="easyui-linkbutton" iconCls="icon-remove" plain="true" >Delete</a>
         <a id="btnTransfer" href="javascript:void(0)" class="easyui-linkbutton" iconCls="icon-ok" plain="true" >Transfer</a>
         <a id="btnActivity" href="javascript:void(0)" class="easyui-linkbutton" iconCls="icon-ok" plain="true" >Inactive</a>
         <a id="btnSave" href="javascript:void(0)" class="easyui-linkbutton" iconCls="icon-save" plain="true" >R. Save</a>

    </div>  
</div>
</body>
</html>
<script type="text/javascript">
var _oLinkingLists=null;
var _sBaseAddress="";
var _obj=null;
var _sPSNo="";
var _oEmployee = null;
var _oLinking = null;
var _nRQty = 0;
var _bFlag = 0;
var _nLoadRecords = 0;
var _nRowLength = 0;
var _bNext = false;
var _nLastEPSID = 0;

$(document).ready(function ()
{
    ////debugger;
    _oLinkingLists =@Html.Raw( new System.Web.Script.Serialization.JavaScriptSerializer().Serialize(Model)); 
    _sBaseAddress =@Html.Raw( new System.Web.Script.Serialization.JavaScriptSerializer().Serialize(HttpContext.Current.Session[SessionInfo.BaseAddress]));
    
    _obj = window.dialogArguments;
    $('#dtDateFrom').datebox('setValue', icsdateformat(new Date()));
    $('#dtDateTo').datebox('setValue', icsdateformat(new Date()));
    SetEPSNO();
    document.getElementById("lblHeaderName").innerHTML= "Order No : "+_obj.oOrderRecape.OrderRecapNo+", Style : "+_obj.oOrderRecape.StyleNo+", Buyer : "+_obj.oOrderRecape.BuyerName;
    $('#txtLoadRecords').numberbox({min:0, precision:0 });
    $('#txtLoadRecords').numberbox('setValue',100);
});

function SetEPSNO()
{
    
    var date = new Date(); 
    var y = date.getFullYear();
    var m = date.getMonth()+1;
    var d = date.getDate();

    if(m<10)
    {

        m = "0"+m;
    
    }
    if(d<10)
    {
    
        d = "0" + d;

    }
    var Year = y.toString();
    Year=Year.substring(Year.length-2,Year.length);
    
    document.getElementById("txtSearchByPSNo").value = "LN-"+Year+m+d+"-";
    document.getElementById("txtSearchByReferenceEPSNo").value = "KT-"+Year+m+d+"-";
    

}

function RefreshList(oLinkingLists )
{
    data = oLinkingLists ;
    data = { "total": "" + data.length + "", "rows": data };
    $('#tblLinkingList').datagrid('loadData', data);
}

function  icsdateformat(date)
{
    var mthNames = ["Jan","Feb","Mar","Apr","May","Jun","Jul","Aug","Sep","Oct","Nov","Dec"];
    var y = date.getFullYear();
    var m = date.getMonth();
    var d = date.getDate();
    var result= d +' '+ mthNames[m]+' '+ y;
    return result;
}

$('#txtSearchByPSNo').keypress(function (e)
{
    ////debugger;
    var keyCode = e.keyCode || e.which;
    if (keyCode == 13) 
    {
         _sPSNo = document.getElementById('txtSearchByPSNo').value;
         Search();
    }

});


$('#txtSearchByReferenceEPSNo').keypress(function (e)
{
    //debugger;
    var keyCode = e.keyCode || e.which;
    if (keyCode == 13) 
    {
         var sRefEPSNo = document.getElementById('txtSearchByReferenceEPSNo').value;
         oEmployeeProduction={ReferenceEPSNo:sRefEPSNo};
         $.ajax({
                    type: "POST",
                    dataType: "json",
                    url: _sBaseAddress + "/EmployeeProduction/EmployeeProduction_LinkingSearchByRefEPSNO",
                    traditional: true,
                    data: JSON.stringify(oEmployeeProduction),
                    contentType: "application/json; charset=utf-8",
            
                    success: function(data)
                    {
                        var oEmployeeProductions=[];
                        debugger;
                        oEmployeeProductions = jQuery.parseJSON(data);
                        if (oEmployeeProductions.length>0 && oEmployeeProductions[0].ErrorMessage=="") 
                        {
                            RefreshList(oEmployeeProductions);   
                        } 
                        else 
                        {
                            alert(oEmployeeProductions[0].ErrorMessage);
                            oEmployeeProductions=[];
                            RefreshList(oEmployeeProductions); 
                        }
                    },
                    error: function(xhr, status, error)
                    {
                        alert(error);
                    }    
                });
   
    }

});

$('#btnRefreshAll').click(function (e)
{
    ////debugger;
    _sPSNo = "All";
    Search();
    
});

function Search()
{
    
    oEmployeeProduction={EPSNO:_sPSNo, OrderRecapDetailID : _obj.oOrderRecape.OrderRecapID};
    $.ajax({
            type: "POST",
            dataType: "json",
            url: _sBaseAddress + "/EmployeeProduction/EmployeeProduction_LinkingSearch",
            traditional: true,
            data: JSON.stringify(oEmployeeProduction),
            contentType: "application/json; charset=utf-8",
            
            success: function(data)
            {
                var oEmployeeProductions=[];
                //debugger;
                oEmployeeProductions = jQuery.parseJSON(data);
                if (oEmployeeProductions.length>0 && oEmployeeProductions[0].ErrorMessage=="") 
                {
                    RefreshList(oEmployeeProductions);   
                } 
                else 
                {
                    alert(oEmployeeProductions[0].ErrorMessage);
                    oEmployeeProductions=[];
                    RefreshList(oEmployeeProductions); 
                }
            },
            error: function(xhr, status, error)
            {
                alert(error);
            }    
         });

}

$('#btnReceive').click(function (e)
{

    var oLinking = $('#tblLinkingList').datagrid('getSelected'); 
    if (oLinking == null || oLinking.EPSID <= 0)
    {
        alert("Please select an item from the list!");
        return ;
    }
    
    if(oLinking.ApproveBy<=0)
    {
        alert("This Item Is Not Approved!");
        return false;
    }

    if(oLinking.EmpWiseBalanceQty==0)
    {
        alert("Balance Qty Is Zero. You Have Nothing To Receive !");
        return false;
    }

    var oParameter = new Object();
    oParameter.oOrderRecape = _obj.oOrderRecape;
    oParameter.oLinking = oLinking;
    var SelectedRowIndex = $('#tblLinkingList').datagrid('getRowIndex', oLinking);
    var tsv = ((new Date()).getTime()) / 1000;
    var url = _sBaseAddress + "/EmployeeProduction/View_LinkingReceive?nId=0&ts=" + tsv;
    var oLinkingList = window.showModalDialog(url, oParameter, 'dialogHeight:252px;dialogWidth:670px;dialogLeft:400;dialogRight:100;dialogTop:250;center:yes;resizable:no;status:no;scroll:no');
   
    if (oLinkingList != null) 
    {
        if (oLinkingList.EPSID > 0) 
        {
            $('#tblLinkingList').datagrid('updateRow', { index: SelectedRowIndex, row: oLinkingList });
        }
    }

});

//$('#txtSearchByPSNo').click(function (e)
//{
//    document.getElementById("txtSearchByPSNo").value="";
//});

$('#btnRePrint').click(function (e) 
{
    var oLinking = $('#tblLinkingList').datagrid('getSelected'); 
    if (oLinking == null || oLinking.EPSID <= 0)
    {
        alert("Please select an item from the list!");
        return ;
    }
    window.open(_sBaseAddress + '/EmployeeProduction/RePrintTransportationCard?nId='+oLinking.EPSID, "_blank"); 
    window.close();
});

$('#btnApprove').click(function (e) 
{
    ////debugger
    var oLinking = $('#tblLinkingList').datagrid('getSelected'); 
    var SelectedRowIndex=$('#tblLinkingList').datagrid('getRowIndex',oLinking);
    if (oLinking == null || oLinking.EPSID <= 0)
    {
        alert("Please select an item from the list!");
        return ;
    }
    if (oLinking.ApproveBy > 0)
    {
        alert("Already Approve!");
        return ;
    }

    $.ajax({
            type: "POST",
            dataType: "json",
            url: _sBaseAddress + "/EmployeeProduction/EmployeeProduction_Approve",
            traditional: true,
            data: JSON.stringify({nId:oLinking.EPSID}),
            contentType: "application/json; charset=utf-8",            
            success: function(data)
            {
                var oEmployeeProduction=[];
                ////debugger
                oEmployeeProduction = jQuery.parseJSON(data);
                if (oEmployeeProduction.ErrorMessage=="") 
                {
                    alert('Approved successfully.!!');
                    $('#tblLinkingList').datagrid('updateRow',{index: SelectedRowIndex,row: oEmployeeProduction});
                } 
                else 
                {
                    alert(oEmployeeProduction.ErrorMessage);
                }
            },
            error: function(xhr, status, error)
            {
                alert(error);
            }    
         });
});

$('#btnDelete').click(function (e) 
{
  
    debugger;
    var oLinking = $('#tblLinkingList').datagrid('getSelected'); 
    var SelectedRowIndex=$('#tblLinkingList').datagrid('getRowIndex',oLinking);
    if (oLinking == null || oLinking.EPSID <= 0)
    {
        alert("Please select an item from the list!");
        return ;
    }


//    if (oLinking.ApproveBy > 0)
//    {
//        alert("Already Approve.You cant delete this item.!");
//        return ;
//    }

    if(oLinking.RcvQty >0)
    {
        alert("Already Received by this Transportation Card. Deletion is not Possible!");
        return;
    }

    if (!confirm("Confirm to Delete?")) return ;
    $.ajax({
            type: "POST",
            dataType: "json",
            url: _sBaseAddress + "/EmployeeProduction/EmployeeProduction_Delete",
            traditional: true,
            data: JSON.stringify({nEPSID:oLinking.EPSID}),
            contentType: "application/json; charset=utf-8",            
            success: function(data)
            {
                ////debugger
                var oEmployeeProduction = jQuery.parseJSON(data);
                if (oEmployeeProduction.ErrorMessage=="") 
                {
                    alert('Delete successfully.!!');                    
                    $('#tblLinkingList').datagrid('deleteRow',SelectedRowIndex);
                } 
                else 
                {
                    alert(oEmployeeProduction.ErrorMessage);
                }
            },
            error: function(xhr, status, error)
            {
                alert(error);
            }    
         });
});

$('#txtCode').keypress(function (e) 
{

        var code = (e.keyCode ? e.keyCode : e.which);
        var sEmpCode=document.getElementById("txtCode").value;
        
        if (code == 13)//Enter key-13
        {
            if(sEmpCode=="")
            {
                alert("Please Enter Code !");
                return;
            }
            var nts=(new Date()).getTime()/1000;
            var oParameter = new Object();
            oParameter.MultipleItemReturn = false;
            var url = _sBaseAddress + "/Employee/EmployeePikerByCode?sCode="+sEmpCode+"&nts="+nts;
            
            _oEmployee = window.showModalDialog(url, oParameter, 'dialogHeight:405px;dialogWidth:450px;dialogLeft:400;dialogTop:100;center:yes;resizable:no;status:no;scroll:no');
            
            if(_oEmployee!=null)
            {
                if(_oEmployee.DesignationName=="" || _oEmployee.DepartmentName=="" || _oEmployee.LocationName=="")
                {
                    alert("This Employee Has No Official Information !");
                    return;
                }
                $("#txtCode")[0].value=_oEmployee.Name+"["+_oEmployee.Code+"]";
                
            }
        }
 });


function SearchWithPasignation()
{
    if(!_bNext)
    {
        _nRowLength = 0;
        _nLastEPSID = 0;
    }
    var sDepartmentIDs = "";
    var bIssueDateWise= false;
    var bReceiveDateWise= false;
    var dtDateFrom = $('#dtDateFrom').datebox('getValue');
    var dtDateTo = $('#dtDateTo').datebox('getValue');
    var nLoginID = 0;
    var sUserIds="";
   
    var  sCode = "";
    if(_oEmployee != null)
    {
        sCode = _oEmployee.Code;  
    }

    var nOrderRecapId = _obj.oOrderRecape.OrderRecapID ;
    
    var nPP = 2;//Production Process= Linking (2)
    
    var sStyleNos="";

    if(document.getElementById("chkLoginUser").checked == true)
    {
    
      nLoginID = 1;  

    }
    bIssueDateWise = document.getElementById("chkIssueDateWise").checked;
    bReceiveDateWise = document.getElementById("chkReceiveDateWise").checked;
    var nGarmentPart = 0;
    var nSizeCategoryID = 0;
    _nLoadRecords = document.getElementById("txtLoadRecords").value;
    //var sParam = dtDateFrom + "~"+ dtDateTo + "~" + sCode + "~" + nOrderRecapId+ "~" + sStyleNos + "~" + nPP ;
    //var sParam = dtDateFrom + "~"+ dtDateTo + "~" + sCode + "~" + nOrderRecapId+ "~" + sStyleNos + "~" + nPP+ "~" + bIssueDateWise+ "~" + bReceiveDateWise+"~"+sDepartmentIDs+"~"+nLoginID+"~"+sUserIds;
    var sParam = dtDateFrom + "~"+ dtDateTo + "~" + sCode + "~" + nOrderRecapId+ "~" + sStyleNos + "~" + nPP+ "~" + bIssueDateWise+ "~" + bReceiveDateWise+"~"+sDepartmentIDs+"~"+nLoginID+"~"+sUserIds+"~"+nGarmentPart+"~"+nSizeCategoryID+"~"+_nLoadRecords+"~"+_nRowLength;

    $.ajax({
            type: "POST",
            dataType: "json",
            url: _sBaseAddress + "/EmployeeProduction/SearchByCodeAndDate",
            traditional: true,
            data: JSON.stringify({sParam : sParam}),
            contentType: "application/json; charset=utf-8",
            
            success: function(data)
            {
                var oEmployeeProductions=[];
            
                oEmployeeProductions = jQuery.parseJSON(data);
                //debugger
                if (oEmployeeProductions.length>0 && oEmployeeProductions[0].ErrorMessage=="")
                {
                    //RefreshList(oEmployeeProductions);
                    if(!_bNext)
                    {
                        _oEmployeeProductions=[];
                        RefreshList(_oEmployeeProductions);
                    }
                    debugger;

                    for (var j = 0; j < oEmployeeProductions.length; j++)
                    {
                        $('#tblLinkingList').datagrid('appendRow',oEmployeeProductions[j]);
                    }
                }
                else
                {
                    //alert(oEmployeeProductions[0].ErrorMessage);
                    //oEmployeeProductions=[];
                    //RefreshList(oEmployeeProductions);
                    if(_bNext == false)
                    {
                        alert("Data not found !!");
                        _oEmployeeProductions=[];
                        RefreshList(_oEmployeeProductions);
                        document.getElementById("lblcount").innerHTML = 0;
                        return;
                    }
                    else
                    {
                        alert("No more data found !");
                        return;
                    }
                }
                var oEmployeeProductions=$('#tblLinkingList').datagrid('getRows');
                document.getElementById("lblcount").innerHTML = " | Count ="+ oEmployeeProductions.length;
                Total();
                _bNext = false;
            },
            error: function(xhr, status, error)
            {
                alert(error);
            }    
         });

}
    
function Next()
{
    var oEmployeeProductions =[];
    oEmployeeProductions=$('#tblLinkingList').datagrid('getRows');
    _nRowLength = oEmployeeProductions.length;
    _bNext = true;

    if (oEmployeeProductions.length<=0)
    {
        alert('Please Select Criteria and click on "Search" to find information.!!');
        return;
    }
    var oEmployeeProduction = oEmployeeProductions[oEmployeeProductions.length-1];

    if (_nLastEPSID==oEmployeeProduction.EPSID)
    {
        alert('No more data found by this date range');
        return;
    }
    _nLastEPSID=oEmployeeProduction.EPSID;
    SearchWithPasignation()
}
function Total()
{
    var oLists = $('#tblLinkingList').datagrid('getRows');
    if(oLists.length>0)
    {
        var nTotalIssue = 0;
        var nTotalReceive = 0;
        var nTotalBalance = 0;

        for(var i=0;i<oLists.length;i++)
        {
            nTotalIssue = parseFloat(nTotalIssue)+parseFloat(oLists[i].IssueQty);
            nTotalReceive = parseFloat(nTotalReceive)+parseFloat(oLists[i].RcvQty);
            nTotalBalance = parseFloat(nTotalBalance)+parseFloat(oLists[i].EmpWiseBalanceQty);
        }
        document.getElementById("lblTotal").innerHTML = " Total Issue = "+ nTotalIssue + ", Total Rcv. = "+ nTotalReceive + ", Balance = " + nTotalBalance;
    }
}
$('#btnEmployeePicker').click(function (e)
{
    var oParameter = new Object();
    oParameter.Name = "Employee Advance Search";
    oParameter.MultipleItemReturn=false;
    var url = _sBaseAddress + "/Employee/EmployeeHRMPiker";
    _oEmployee = window.showModalDialog(url, oParameter, 'dialogHeight:500px;dialogWidth:930px;dialogLeft:50;dialogRight:50;dialogTop:50;center:yes;resizable:yes;status:no;scroll:no');
    if(_oEmployee!=null)
    {
        if(_oEmployee.DesignationName=="" || _oEmployee.DepartmentName=="" || _oEmployee.LocationName=="")
        {
            alert("This Employee Has No Official Information !");
            return;
        }
        $("#txtCode")[0].value=_oEmployee.Name+"["+_oEmployee.Code+"]";
       
    }
});

$('#btnIssue').click(function (e) 
{

    var oParameter = new Object();
    oParameter.oOrderRecape=_obj.oOrderRecape;
    var tsv = ((new Date()).getTime()) / 1000;
    //var url = _sBaseAddress + "/EmployeeProduction/View_IssueLinking?nId="+_obj.oOrderRecape.OrderRecapID+"&ts=" + tsv;
    var url = _sBaseAddress + "/EmployeeProduction/View_IssueLinking?nOrderId="+_obj.oOrderRecape.OrderRecapID+"&EmployeeProductionID=0&ts=" + tsv;

    var oEPS = window.showModalDialog(url, oParameter, 'dialogHeight:255px;dialogWidth:700px;dialogLeft:400;dialogRight:100;dialogTop:250;center:yes;resizable:no;status:no;scroll:no');
    
    if(oEPS !=null)
    {
        
         var oEPSs = $('#tblLinkingList').datagrid('getRows');
         var nIndex = oEPSs.length;
         $('#tblLinkingList').datagrid('appendRow', oEPS);
         $('#tblLinkingList').datagrid('selectRow', nIndex);
    
    }

});


$('#btnEdit').click(function (e) 
{

    var oEPS = $('#tblLinkingList').datagrid('getSelected');
    if(oEPS == null)
    {
        alert("Please select an item from the list !");
        return;
    }
     
//    if(oEPS.ApproveBy>0)
//    {
//        alert("Approved item can not edited!");
//        return;
//    }

    if(oEPS.RcvQty >0)
    {
        alert("Already Received by this Transportation Card. Edit is not Possible!");
        return;
    }

    var SelectedRowIndex=$('#tblLinkingList').datagrid('getRowIndex',oEPS);
    var oParameter = new Object();
    oParameter.oOrderRecape=_obj.oOrderRecape;
    oParameter.Name = "Edit EPS";
    var tsv = ((new Date()).getTime()) / 1000;
    var url = _sBaseAddress + "/EmployeeProduction/View_IssueLinking?nOrderId="+_obj.oOrderRecape.OrderRecapID+"&EmployeeProductionID=" + oEPS.EPSID+"&ts=" + tsv;
    var oEPS = window.showModalDialog(url, oParameter, 'dialogHeight:255px;dialogWidth:700px;dialogLeft:400;dialogRight:100;dialogTop:250;center:yes;resizable:no;status:no;scroll:no');
    
    if(oEPS !=null)
    {
        
         $('#tblLinkingList').datagrid('updateRow',{index: SelectedRowIndex,	row: oEPS});
    
    }

});

$('#btnTransfer').click(function (e) 
{

    var oEPS = $('#tblLinkingList').datagrid('getSelected');
    if(oEPS == null)
    {
        alert("Please select an item from the list !");
        return;
    }
    
    if(oEPS.RcvQty >0)
    {
        alert("Already Received by this Transportation Card. Transfer is not Possible!");
        return;
    }

    var SelectedRowIndex = $('#tblLinkingList').datagrid('getRowIndex',oEPS);
    var oParameter = new Object();
    oParameter.oEPS = oEPS;
    var tsv = ((new Date()).getTime()) / 1000;
    var url = _sBaseAddress + "/EmployeeProduction/View_TransferEmployeeProduction?ts=" + tsv;
    var oEPS = window.showModalDialog(url, oParameter, 'dialogHeight:150px;dialogWidth:400px;dialogLeft:400;dialogRight:100;dialogTop:250;center:yes;resizable:no;status:no;scroll:no');
    
    if(oEPS !=null)
    {
        
         $('#tblLinkingList').datagrid('updateRow',{index: SelectedRowIndex,	row: oEPS});
    
    }

});


$('#btnActivity').click(function (e) 
{
    
    var Act="";
    
    var oEPS = $('#tblLinkingList').datagrid('getSelected');
    if (oEPS == null || oEPS.EPSID <= 0)
    {
        alert("Please select an item from list!");
        return;
    }

    //    if(oEPS.IsActive==false)
    //    {
    //         Act=true;
    //         
    //    }

    if(oEPS.IsActive==false)
    {
        alert("Inactive item can not be Activeted!");
        return;
             
    }
    if (!confirm("Confirm to Inactive?")) return;
    if(oEPS.IsActive==true)
    {
         Act=false;
         
    }
    oEPS.IsActive=Act;

    var SelectedRowIndex = $('#tblLinkingList').datagrid('getRowIndex', oEPS);
    $.ajax({
    type: "POST",
    dataType: "json",
    url: _sBaseAddress + "/EmployeeProduction/EmployeeProduction_Activity",
    traditional: true,
    data: JSON.stringify(oEPS),
    contentType: "application/json; charset=utf-8",

    success: function(data) {
             //debugger;
             oEPS = jQuery.parseJSON(data);
             if (oEPS.EPSID > 0)
             {
                
                // if(oEPS.IsActive==true)
                // {
                //      msg="Activated";
                // }

                 if(oEPS.IsActive==false)
                 {
                    msg="InActivated";
                 }
                 alert(msg+" Successfully!");
                 $('#tblLinkingList').datagrid('updateRow', { index: SelectedRowIndex, row: oEPS });
            
             } 
             else
             {
                 alert(oEPS.ErrorMessage);
             }
         }
         
     });

});


function onClickRow(index)
{  
  
    if (editIndex != index)
    {  
        if (endEditing())
        { 
            _oLinking = $('#tblLinkingList').datagrid('getSelected');
            _nRQty = _oLinking.RcvQty;
            $('#tblLinkingList').datagrid('selectRow', index).datagrid('beginEdit', index);  
            editIndex = index;
          
        } 
        else
        {  
            $('#tblLinkingList').datagrid('selectRow', editIndex);  
        }  
    } 
}  

var editIndex = undefined;  

function endEditing()
{  
    if (editIndex == undefined){return true}  
    if ($('#tblLinkingList').datagrid('validateRow', editIndex))
    { 
        $('#tblLinkingList').datagrid('endEdit', editIndex);
        if(_bFlag == 0)
        {
            _oLinking.RcvQty = _nRQty; 
            $('#tblLinkingList').datagrid('updateRow', { index: editIndex, row: _oLinking });
        }
        editIndex = undefined; 
        return true;  
    } 
    else
    {  
        return false;  
    } 
    
    
} 

function ValidateInput() 
{
    var oLinking = $('#tblLinkingList').datagrid('getSelected'); 
    var SelectedRowIndex = $('#tblLinkingList').datagrid('getRowIndex', oLinking);
    
     
    if (oLinking == null || oLinking.EPSID <= 0)
    {
        alert("Please select an item from the list!");
        _bFlag = 0;
        return false;
    }

    if(oLinking.ApproveBy<=0)
    {
        alert("This Item Is Not Approved!");
        _oLinking.RcvQty = _nRQty;
        $('#tblLinkingList').datagrid('updateRow', { index: SelectedRowIndex, row: _oLinking });
        _bFlag = 0;
        return false;
    }

    if(oLinking.EmpWiseBalanceQty==0)
    {
       alert("Balance Qty Is Zero. You Have Nothing To Receive !");
       _oLinking.RcvQty = _nRQty;
       $('#tblLinkingList').datagrid('updateRow', { index: SelectedRowIndex, row: _oLinking });
       _bFlag = 0;
       return false;
    }

//    if(oLinking.RcvQty=="" || oLinking.RcvQty== 0)
//    {
//        alert("Please Enter Receive Qty!");
//        $('#tblLinkingList').datagrid('selectRow', SelectedRowIndex).datagrid('beginEdit', SelectedRowIndex); 
//        editIndex = SelectedRowIndex;
//        _bFlag = 0;
//        return false;
//    }
   
 
    if(oLinking.RcvQty>oLinking.EmpWiseBalanceQty)
    {
        alert("ReceiveQty Must Not be Greater Than Balance Qty !");
        $('#tblLinkingList').datagrid('selectRow', SelectedRowIndex).datagrid('beginEdit', SelectedRowIndex); 
        editIndex = SelectedRowIndex;
        _bFlag = 0;
        return false;
    }



    return true;
}

function RefreshObject() 
{
    var oLinking = $('#tblLinkingList').datagrid('getSelected');

    var nNewRcvQty= 0;
    if(oLinking.RcvQty == 0)
    {
    
        nNewRcvQty = oLinking.IssueQty;

    }
    else
    {
        nNewRcvQty=oLinking.RcvQty;
    } 

    var oEmployeeProductionReceiveDetail=
    {
        EPSRDID : 0,
        EPSID : oLinking.EPSID,
        RcvQty : nNewRcvQty,
        RcvByDate : new Date()
    }
    return oEmployeeProductionReceiveDetail;
}


$('#btnSave').click(function (e)
{
    _bFlag = 1;
    endEditing();
    var oLinking = $('#tblLinkingList').datagrid('getSelected'); 
    var SelectedRowIndex = $('#tblLinkingList').datagrid('getRowIndex', oLinking);
    
    if(!ValidateInput()) return;


    var oEmployeeProductionReceiveDetail = RefreshObject();
    $.ajax({
            type: "POST",
            dataType: "json",
            url: _sBaseAddress + "/EmployeeProduction/EmployeeProductionReceiveDetail_IU",
            traditional: true,
            data: JSON.stringify({oEmployeeProductionReceiveDetail:oEmployeeProductionReceiveDetail}),
            contentType: "application/json; charset=utf-8",

            success: function(data)
            {
                ////debugger
                var oEmployeeProduction = jQuery.parseJSON(data);
                if (oEmployeeProduction.ErrorMessage == "") 
                {
                    alert("Data Saved sucessfully");
                    $('#tblLinkingList').datagrid('updateRow', { index: SelectedRowIndex, row: oEmployeeProduction });
                    _bFlag = 0;
                } 
                else 
                {
                    alert(oEmployeeProduction.ErrorMessage);
                }
             },
             error: function(xhr, status, error)
             {
                alert(error);
             }
          });

});



</script>