<!DOCTYPE html />
<html>
<head>
    <title>Production Sheet(Knitting)</title>
    <link href="@Url.Content("~/Content/CSS/icon.css")" rel="stylesheet" type="text/css" />
    <link href="@Url.Content("~/Content/CSS/easyui.css")" rel="stylesheet" type="text/css" />
    <link href="@Url.Content("~/Content/CSS/Pikerstyle.css")" rel="stylesheet" type="text/css" />
    <script src="@Url.Content("~/Scripts/jquery-1.7.1.min.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Scripts/jquery.ics.customize.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Scripts/jquery.easyui.min.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Scripts/jquery-ui.min.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Scripts/json2.js")" type="text/javascript"></script>
</head>
<body>
    @model ESimSol.BusinessObjects.EmployeeProduction
    <div style="font-family: Tahoma">
        <table border="0" cellspacing="0" cellpadding="0">
            
            <tr>
                <td style="background-color: #cfb53b; text-align: center; width: 700px; color: White">
                    <label id="lblHeader" style="font-size: 14px; font-weight: bold; text-decoration: Underline">
                        Transfer Employee Production(Knitting)</label>
                </td>
            </tr>
        </table>
        <fieldset>
            <legend style="font-weight: bold">Transfer Employee Production(Knitting)</legend>@* table1 start*@
            <table border="0" cellspacing="2" cellpadding="2" style="font-size: 11px; font-weight: bold;">
                <tr>
                    <td style="width: 120px; text-align: right;">
                        Employee :
                    </td>
                    <td>
                        <input placeholder="Type Code & Enter" id="txtEmployee" type="text" style="width:165px;" />
                        <input id="btnEmployee" type="button" value="P"/>
                        <input id="btnEmployeeClear" type="button" value="C"/>
                    </td>
                    
                </tr>
                <tr>
                    <td style="width: 120px; text-align: right;">
                        Machine No :
                    </td>
                    <td>
                        <input id="txtMachineNo" type="text" style="width: 235px;" />
                    </td>
                    
                </tr>
                
            </table>
            <table border="0" cellspacing="2" cellpadding="2" style="font-size: 11px; font-weight: bold;">
                <tr>
                    <td style="width: 110px;">
                    
                    </td>
                    
                    <td style="width: 250px; text-align: right;">
                        <a id="btnTransfer" href="javascript:void(0)" class="easyui-linkbutton" iconcls="icon-ok" plain="true">Transfer</a>
                        <a id="btnCancel" href="javascript:void(0)" class="easyui-linkbutton" iconcls="icon-cancel" plain="true">Close</a>
                        
                    </td>
                </tr>
            </table>
            @* table1 end*@
            
        </fieldset>
    </div>
</body>
</html>

<script type="text/javascript">
var _oEmployeeProduction=null;
var _sBaseAddress="";
var _obj=null;
var _oEmployee=null;
var _nEmployeeID = 0;

$(document).ready(function ()
{
    _sBaseAddress =@Html.Raw(new System.Web.Script.Serialization.JavaScriptSerializer().Serialize(HttpContext.Current.Session[SessionInfo.BaseAddress]));  
    _oEmployeeProduction =@Html.Raw(new System.Web.Script.Serialization.JavaScriptSerializer().Serialize(Model)); 

    _obj = window.dialogArguments;
    document.getElementById("txtMachineNo").value = _obj.oEPS.MachineNo;
    
    
});


$('#btnEmployee').click(function (e)
{
    var oParameter = new Object();
    oParameter.Name = "Employee Advance Search";
    oParameter.MultipleItemReturn=false;
    var url = _sBaseAddress + "/Employee/EmployeeHRMPiker";
    _oEmployee = window.showModalDialog(url, oParameter, 'dialogHeight:510px;dialogWidth:940px;dialogLeft:250;dialogRight:50;dialogTop:50;center:yes;resizable:yes;status:no;scroll:no');
  
    if(_oEmployee!=null)
    {
 
        if(_oEmployee.DesignationName=="" || _oEmployee.DepartmentName=="" || _oEmployee.LocationName=="")
        {
            alert("This Employee Has No Official Information !");
            return;
        }
        $("#txtEmployee").val(_oEmployee.Name);
       
        _nEmployeeID = _oEmployee.EmployeeID;
        
    }
});

$('#txtEmployee').keypress(function (e) 
{
        var code = (e.keyCode ? e.keyCode : e.which);
        var sEmpCode=document.getElementById("txtEmployee").value;
        
        if (code == 13)//Enter key-13
        {
            if(sEmpCode=="")
            {
                alert("Please Enter Code !");
                return;
            }
            var nts=(new Date()).getTime()/1000;
            var oParameter = new Object();
            oParameter.MultipleItemReturn = false;
            var url = _sBaseAddress + "/Employee/EmployeePikerByCode?sCode="+sEmpCode+"&nDepartmentID="+_oEmployeeProduction.DepartmentID+"&nts="+nts;
            _oEmployee = window.showModalDialog(url, oParameter, 'dialogHeight:405px;dialogWidth:450px;dialogLeft:400;dialogTop:100;center:yes;resizable:no;status:no;scroll:no');
            
            if(_oEmployee!=null)
            {
                if(_oEmployee.DesignationName=="" || _oEmployee.DepartmentName=="" || _oEmployee.LocationName=="")
                {
                    alert("This Employee Has No Official Information !");
                    return;
                }
                $("#txtEmployee")[0].value=_oEmployee.Name;
                _nEmployeeID=_oEmployee.EmployeeID;
                
            }
        }
 });



function ValidateInput() 
{
    if(_oEmployee==null && _nEmployeeID<=0)
    {
        alert("Please Enter Employee!");
        $("#txtEmployee").focus();
        return false;
    }
    
    
//    if(document.getElementById("txtMachineNo").value== "")
//    {
//        alert("Please Enter Machine No.!");
//        $("#txtMachineNo").focus();
//        return false;
//    }
    
    
    return true;
}

function RefreshObject() 
{
    var oEmployeeProduction=
    {
        EPSID : _obj.oEPS.EPSID,
        EmployeeID : _nEmployeeID,
        MachineNo : document.getElementById("txtMachineNo").value
        
    }
    return oEmployeeProduction;
}

$('#btnTransfer').click(function (e) 
{
    if (!ValidateInput()) return;
    var oEmployeeProduction = RefreshObject();
    $.ajax({
            type: "POST",
            dataType: "json",
            url: _sBaseAddress + "/EmployeeProduction/TransferEmployeeProduction",
            traditional: true,
            data: JSON.stringify(oEmployeeProduction),
            contentType: "application/json; charset=utf-8",

            success: function(data)
            {
                //debugger
                _opEmployeeProduction = jQuery.parseJSON(data);
                if (_opEmployeeProduction.ErrorMessage == "") 
                {
                    alert("Transfered sucessfully");
                    window.returnValue = _opEmployeeProduction;
                    window.close();
                } 
                else 
                {
                    alert(_opEmployeeProduction.ErrorMessage);
                }
             },
             error: function(xhr, status, error)
             {
                alert(error);
             }
          });
});

$('#btnEmployeeClear').click(function (e) 
{
   document.getElementById("txtEmployee").value = "";
   _oEmployee.EmployeeID = 0;
});

$('#btnCancel').click(function (e) 
{
    window.close();
});
$(document).keydown(function (e)
{
    var keyCode = e.keyCode || e.which;
    if (keyCode == 27)
    {
        window.close();
    }
});
</script>