@{
    ViewBag.Title = "Marketing Projection Setup";
}
@model IEnumerable<ESimSol.BusinessObjects.MktSaleTarget>
    <div class="menuMainCollectionTable">
        <div class="easyui-panel" fit="true" style="margin-left:0px; height:100%;width:100%">
            <table border="0" cellpadding="0" cellspacing="0" style="height:100%;width:100%;">
                <tr>
                    <td style="height:100%;width:99%">
                        <div style="height:99%;">
                            <table id="tblMktProjections" title="Marketing Projection Setup" class="easyui-datagrid" fit="true" fitcolumns="true" rownumbers="true" pagination="false" singleselect="true" autorowheight="false" showFooter="true" toolbar="#toolbar">
                                <thead>
                                    <tr>
                                        <th field="GroupHeadName" width="15%">Mkt. Head</th>
                                        <th field="BuyerName" width="15%">Buyer</th>
                                        <th field="DateInString" align="center" width="10%">Date</th>
                                        <th field="OrderTypeST" width="10%" align="center">Order Type</th>
                                        <th field="Value" width="10%" align="right" formatter="formatPrice">Sale Target</th>
                                        <th field="OrderQty" width="10%" align="right" formatter="formatPrice">Est.Order Qty</th>
                                        <th field="BuyerPosition" width="10%" align="left">Buyer Position</th>
                                        <th field="BuyerPercentInST" width="10%" align="right">Buyer Percent</th>
                                        <th field="ApprovedByName" width="10%" align="left">Approve By</th>
                                        <th field="ApproveDateInString" width="10%" align="center">Approve Date</th>
                                        <th field="LastUpdateByName" width="10%" align="left">Last Update By</th>
                                        <th field="LastUpdateDateTimeInString" width="10%" align="center">Last Update Date</th>
                                    </tr>
                                </thead>
                            </table>
                            <div id="toolbar">
                                <table>
                                    <tr>
                                        <td>
                                            <div id="toolbar">
                                                Name: <input type="text" style="width:180px" id="txtMktHead" placeholder="Search By Mkt. Head " />
                                                <a id="btnAdd" href="javascript:void(0)" class="easyui-linkbutton easyui-tooltip" title="Add" iconcls="icon-add" plain="true">Add</a>
                                                <a id="btnEdit" href="javascript:void(0)" class="easyui-linkbutton easyui-tooltip" title="Edit" iconcls="icon-edit" plain="true">Edit</a>
                                                <a id="btnDelete" href="javascript:void(0)" class="easyui-linkbutton easyui-tooltip" title="Delete" iconcls="icon-remove" plain="true">Delete</a>
                                                <a id="btnApprove" href="javascript:void(0)" class="easyui-linkbutton" iconcls="icon-approved" plain="true"> <label id="lblOrderStatus">Approve</label> </a>
                                                <a id="btnUndoApprove" href="javascript:void(0)" class="easyui-linkbutton" iconcls="icon-approved" plain="true">Undo Approve </a>
                                            </div>
                                        </td>
                                    </tr>
                                </table>
                            </div>
                        </div>
                    </td>
                </tr>
            </table>
        </div>
    </div>
    <div id="winMktProjection" class="easyui-window winstyle" title="Add Mkt Projection" style=" height:auto;width:60%" data-options="modal:true,closed:true,collapsible:false,minimizable:false,maximizable:false,closable:false">
        <div style="overflow:hidden;display:block;">
            <fieldset style="height:10%">
                <legend style="font-weight: bold">Add Marketing Projection</legend>
                <div style="overflow:hidden;display:block">
                    <div style="overflow:hidden;float:left; width:32%">
                        <div style="overflow:hidden;float:left;width:30%;text-align:right">
                            Group Head:
                        </div>
                        <div style="overflow:hidden;float:left;width:70%">
                            <input id="txtMktPerson" type="text" style=" width:100%;" placeholder="Search by Mkt. Head .... " />
                        </div>
                    </div>
                    <div style="overflow:hidden;float:left; width:32%">
                        <div style="overflow:hidden;float:left;width:30%;text-align:right">
                            Buyer No:
                        </div>
                        <div style="overflow:hidden;float:left;width:70%">
                            <input id="txtBuyer" type="text" style=" width:100%;" placeholder="Search by Buyer .... " />
                        </div>
                    </div>
                    <div style="overflow:hidden;float:left; width:32%">
                        <div style="overflow:hidden;float:left;width:30%;text-align:right">
                            Date:
                        </div>
                        <div style="overflow:hidden;float:left;width:70%">
                            <input id="txtDate" type="text" class="easyui-datebox" required="required" data-options="formatter:icsdateformat,parser:icsdateparser" style=" width:100%;" />
                        </div>
                    </div>
                </div>
                <div style="overflow:hidden;display:block;margin-top:5px">
                    <div style="overflow:hidden;float:left; width:32%">
                        <div style="overflow:hidden;float:left;width:30%;text-align:right">
                            Order Type:
                        </div>
                        <div style="overflow:hidden;float:left;width:70%">
                            <select id="cboOrderType" style="float:left;width:100%"> </select>
                        </div>
                    </div>
                    <div style="overflow:hidden;float:left; width:32%">
                        <div style="overflow:hidden;float:left;width:30%;text-align:right">
                            Sale Target:
                        </div>
                        <div style="overflow:hidden;float:left;width:70%">
                            <input id="txtValue" type="text" style=" width:100%;" />
                        </div>
                    </div>
                    <div style="overflow:hidden;float:left; width:32%">
                        <div style="overflow:hidden;float:left;width:30%;text-align:right">
                            E. Order Qty:
                        </div>
                        <div style="overflow:hidden;float:left;width:70%">
                            <input id="txtOrderQty" type="text" style=" width:100%;" />
                        </div>
                    </div>
                </div>
                <div style="overflow:hidden;display:block;margin-top:5px">
                    <div style="overflow:hidden;float:left; width:32%">
                        <div style="overflow:hidden;float:left;width:30%;text-align:right">
                            Buyer Pos.:
                        </div>
                        <div style="overflow:hidden;float:left;width:70%">
                            <input id="txtBuyerPosition" type="text" style=" width:100%;" />
                        </div>
                    </div>
                    <div style="overflow:hidden;float:left; width:32%">
                        <div style="overflow:hidden;float:left;width:30%;text-align:right">
                            Buyer(%):
                        </div>
                        <div style="overflow:hidden;float:left;width:70%">
                            <input id="txtBuyerPercent" type="text" style=" width:73%;" disabled />
                            <input type="text" style=" width:25%;" disabled  placeholder="(%)"/>
                        </div>
                    </div>
                    <div style="overflow:hidden;float:left; width:32%">
                        <div style="overflow:hidden;float:left;width:30%;text-align:right">
                            Product:
                        </div>
                        <div style="overflow:hidden;float:left;width:70%">
                            <input id="txtProduct" type="text" style=" width:75%;"  placeholder="Type P.Name & Enter"/>
                            <input  id="btnProductPick" type="button" style=" width:10%; text-align:center" value="P" />
                            <input id="btnProductClear" type="button" style=" width:10%;  text-align:center" value="C" />
                        </div>
                    </div>
                </div>
                <div style="overflow:hidden;display:block;margin-top:5px">
                    <div style="overflow:hidden;float:left; width:32%">
                        <div style="overflow:hidden;float:left;width:30%;text-align:right">
                            Weave Type:
                        </div>
                        <div style="overflow:hidden;float:left;width:70%">
                            <select id="cboWeaveType" style="float:left;width:100%"> </select>
                        </div>
                    </div>
                    <div style="overflow:hidden;float:left; width:32%">
                        <div style="overflow:hidden;float:left;width:30%;text-align:right">
                            Finish Type:
                        </div>
                        <div style="overflow:hidden;float:left;width:70%">
                            <select id="cboFinishType" style="float:left;width:100%"> </select>
                        </div>
                    </div>
                    <div style="overflow:hidden;float:left; width:32%">
                        <div style="overflow:hidden;float:left;width:30%;text-align:right">
                            Contruction:
                        </div>
                        <div style="overflow:hidden;float:left;width:70%">
                            <input id="txtContruction" type="text" style="width:100%" />
                        </div>
                    </div>
                </div>
            </fieldset>
        </div>
        <div style="display:block;overflow:hidden;">
            <fieldset style="height:10%">
                <legend style="font-weight: bold">Action : </legend>
                <table border="0" cellspacing="2" cellpadding="2" style="font-size: 11px; font-weight: bold; width:100%">
                    <tr>
                        <td style="width:60%; text-align:right"></td>
                        <td style="width:40%;text-align:right;">
                            <a id="btnSave" href="javascript:void(0)" class="easyui-linkbutton" iconcls="icon-save" plain="true">Save</a>
                            <a id="btnClose" href="javascript:void(0)" class="easyui-linkbutton" iconcls="icon-cancel" plain="true">Close</a>
                        </td>
                    </tr>
                </table>
            </fieldset>
        </div>
    </div>

    <script type="text/javascript">
    var _nBUID = [];
    var _oAuthorizationRolesMapping=[];
    $(document).ready(function (){
        debugger;
        var  oMktProjections  = @Html.Raw( new System.Web.Script.Serialization.JavaScriptSerializer().Serialize(Model));
        var sBaseAddress =@Html.Raw( new System.Web.Script.Serialization.JavaScriptSerializer().Serialize(HttpContext.Current.Session[SessionInfo.BaseAddress]));
        _oAuthorizationRolesMapping = @Html.Raw(new System.Web.Script.Serialization.JavaScriptSerializer().Serialize(HttpContext.Current.Session[SessionInfo.AuthorizationRolesMapping]));
        var oOrderTypes = @Html.Raw(new System.Web.Script.Serialization.JavaScriptSerializer().Serialize(ViewBag.OrderType));
        var oWeaveTypes = @Html.Raw(new System.Web.Script.Serialization.JavaScriptSerializer().Serialize(ViewBag.FabricWeaves));
        var oFinishTypes = @Html.Raw(new System.Web.Script.Serialization.JavaScriptSerializer().Serialize(ViewBag.FinishTypes));
         _nBUID = @Html.Raw(new System.Web.Script.Serialization.JavaScriptSerializer().Serialize(ViewBag.BUID));
        var oTempMktProjections =sessionStorage.getItem("oMktProjections");

        $('#tblMktProjections').data('BaseAddress', sBaseAddress);
        $('#tblMktProjections').data('MktProjection', oMktProjections);
        $("#cboOrderType").icsLoadCombo({List: oOrderTypes, OptionValue: "id", DisplayText: "Value", InitialValue:"-Select One-" });
        $("#cboWeaveType").icsLoadCombo({List: oWeaveTypes, OptionValue: "FabricProcessID", DisplayText: "Name", InitialValue:"-Select One-" });
        $("#cboFinishType").icsLoadCombo({List: oFinishTypes, OptionValue: "FabricProcessID", DisplayText: "Name", InitialValue:"-Select One-" });
        _nBUID = @Html.Raw(new System.Web.Script.Serialization.JavaScriptSerializer().Serialize(ViewBag.BUID));
        if(oTempMktProjections!=null)
        {
            oMktProjections = jQuery.parseJSON(oTempMktProjections);
        }
        $('#txtValue').icsCurrencyBox();
        $('#txtOrderQty').icsCurrencyBox();
        $('#txtDate').datebox('setValue',icsdateformat(new Date()));
        RefreshList(oMktProjections);
        RefreshControlLayout();
    });

    function RefreshControlLayout()
    {
        $("#btnAdd,#btnEdit,#btnDelete,#btnApprove,#btnUnApprove,#btnUpdate").hide();

        if (PermissionChecker('Add', 'MktProjectionReport',_oAuthorizationRolesMapping)) {$("#btnAdd").show();}
        if (PermissionChecker('Edit', 'MktProjectionReport',_oAuthorizationRolesMapping)) {$("#btnEdit").show();}
        if (PermissionChecker('Delete', 'MktProjectionReport',_oAuthorizationRolesMapping)) {$("#btnDelete").show();}
        if (PermissionChecker('Approved', 'MktProjectionReport',_oAuthorizationRolesMapping)) {$("#btnApprove").show();}
        if (PermissionChecker('UnApproved', 'MktProjectionReport',_oAuthorizationRolesMapping)) {$("#btnUnApprove").show();}
        if (PermissionChecker('Update', 'MktProjectionReport',_oAuthorizationRolesMapping)) {$("#btnUpdate").show();}
    }
    $('#tblMktProjections').datagrid({ onSelect: function (rowIndex, rowData) { OperationPerforms(rowIndex, rowData); } });
    function OperationPerforms(rowIndex, rowData)
    {
        if (rowData != null && rowData.MktSaleTargetID > 0)
        {
            if(rowData.ApproveBy!=0)
            {
                $('#btnEdit,#btnDelete,#btnApprove').hide();
                $("#btnUndoApprove").show();
            }
            else{

                $('#btnEdit,#btnDelete,#btnApprove').show();
                $("#btnUndoApprove").hide();
            }
        }
    }


  //********************************(Prduct Picker)****************************//
    $("#btnProductPick").click(function(){
        debugger;    
         var sProduct =  $('#txtProduct').val();
         if(sProduct!=""){
             GetProducts();
        }
        else{
             alert("Search Product by Product Name");
             return;
        }
    });
    $("#btnProductClear").click(function(){

        $('#txtProduct').val('');
        $('#txtProduct').data('ProductID', 0);
    });
    $("#txtProduct").keydown( function(e)
    {
        debugger;
        var code = (e.keyCode ? e.keyCode : e.which);
        if (code == 13) //enter
        {
            var sProduct  =$('#txtProduct').val();
            if( sProduct!=""){
                GetProducts();
            }
            else{
                alert("Please type Product Name and Enter!");
                return;
            }
           
        }
        else if(code == 8) //backspace
        {
            $('#txtProduct').data('ProductID', 0);
            $('#txtProduct').removeClass('fontColorOfPickItem');
        }
    });    
    function GetProducts(){
        debugger;
        var oProduct = {
            BUID : _nBUID,
            ProductName: $("#txtProduct").val()

        };
        var obj = {
            BaseAddress:$('#tblMktProjections').data('BaseAddress'),
            Object: oProduct,
            ControllerName: "Product",
            ActionName: "SearchProductByName",
            IsWinClose: false

        };
        var tblColums = [];
        var oColumn = { field: "ProductCode", title: "Product Code", width: 100, align: "left" }; tblColums.push(oColumn);
        oColumn = { field:"ProductName", title: "Product Name", width: 300, align: "left" }; tblColums.push(oColumn);

        var oPickerParam = {
            winid: 'winMktSaleProduct',
            winclass: 'clsMktSaleProduct',
            winwidth: 400,
            winheight: 460,
            tableid: 'tblMktSaleProduct',
            tablecolumns: tblColums,
            multiplereturn: false,
            searchingbyfieldName: 'ProductName',
            windowTittle: 'Product List',
            paramObj: obj,
            pkID: 'ProductID',
            callBack: SetProduct
        };

        $.icsDynamicPicker(oPickerParam);
    }
    function SetProduct(oResult)
    {
        debugger;
        if(oResult.ProductID>0)
        {
            $("#txtProduct").val(oResult.ProductName);
            $('#txtProduct').data('ProductID', oResult.ProductID);
            $('#txtProduct').addClass('fontColorOfPickItem');
        }
    }
   //*********************************(END)*************************************//

    //****************************(Buyer Position Picker)***********************//
    $("#txtBuyerPosition").keydown( function(e)
    {
        debugger;
        var code = (e.keyCode ? e.keyCode : e.which);
        if (code == 13) //enter
        {
            if($('#txtBuyerPosition').val()!=""){

                GetBuyerPosition($('#txtBuyerPosition').val());
            }
            else{
                GetBuyerPosition("");
            }

        }
        else if(code == 8) //backspace
        {
            //id = 0
        }
    });
    function GetBuyerPosition(sBuyerPos)
    {
        var oBuyerPosition = {
            BPosition : sBuyerPos
        };
        var obj = {
            BaseAddress: _sBaseAddress,
            Object: oBuyerPosition,
            ControllerName: "BuyerPercent",
            ActionName: "GetsBuyerPosition",
            IsWinClose: false
        };

        debugger;
        var tblColums = [];
        var oColumn = { field: "BPosition", title: "Buyer Position", width: 200, align: "left" }; tblColums.push(oColumn);
        oColumn = { field: "BPercent", title: "Buyer Percent", width: 120, align: "left" }; tblColums.push(oColumn);
        var oPickerParam = {
            winid: 'winProducts',
            winclass: 'clsProduct',
            winwidth: 600,
            winheight: 460,
            tableid: 'tblProducts',
            tablecolumns: tblColums,
            multiplereturn: false,
            searchingbyfieldName: 'BPosition',
            windowTittle: 'Buyer Position List',
            paramObj: obj,
            pkID: 'BuyerPercentID',
            callBack: SetBuyerPosition
        };

        $.icsDynamicPicker(oPickerParam);
    }
    function SetBuyerPosition(oResult)
    {
        if(oResult.BuyerPercentID>0)
        {
            $('#txtBuyerPosition').data('BuyerPercentID', oResult.BuyerPercentID);
            $('#txtBuyerPosition').val(oResult.BPosition);
            $('#txtBuyerPercent').val(oResult.BPercent);
            $('#txtBuyerPosition').addClass('fontColorOfPickItem');
            $('#txtBuyerPercent').addClass('fontColorOfPickItem');

        }
        else{
            $('#txtBuyerPosition').data('BuyerPercentID', '');
            $('#txtBuyerPosition').val('');
            $('#txtBuyerPercent').val('');
            $('#txtBuyerPosition').removeClass('fontColorOfPickItem');
            $('#txtBuyerPercent').removeClass('fontColorOfPickItem');
        }
    }
    //*****************************(END)*****************************************//


    //*****************************(Mkt Picker)*************************************//
    $("#txtMktPerson").keydown( function(e)
    {
        var sRefName = $("#txtMktPerson").val();
        debugger;
        var code = (e.keyCode ? e.keyCode : e.which);
        if (code == 13) //enter
        {  if(sRefName!=""){GetMktPerson(sRefName);}
        else{GetMktPerson("");}
        }
        else if(code == 8) // backspace
        {
            $('#txtMktPerson').data('MarketingAccountID', '');
        }
    });
    function  GetMktPerson(RefName)
    {
        $('#txtMktPerson').data('MarketingAccountID', '');
        var oMktPerson = {Name:RefName,BUID:_nBUID};
        var obj = {
            BaseAddress: _sBaseAddress,
            Object: oMktPerson,
            ControllerName: "MarketingAccount",
            ActionName: "GetsAllMktPerson",
            IsWinClose: false
        };

        debugger;
        var tblColums = [];
        oColumn = { field: "Name", title: "Group Name", width: "80%", align: "left" }; tblColums.push(oColumn);

        var oPickeMktPerson = {
            winid: 'winMktPerson',
            winclass: 'clsMktPerson',
            winwidth: 400,
            winheight: 500,
            tableid: 'tblMktPerson',
            tablecolumns: tblColums,
            multiplereturn: false,
            searchingbyfieldName: 'Name',
            windowTittle: 'Mkt Person List',
            paramObj: obj,
            pkID: 'MarketingAccountID',
            callBack: SetMktPerson
        };
        $.icsDynamicPicker(oPickeMktPerson);
    }
    function SetMktPerson(oResult)
    {
        debugger;
        if(oResult.MarketingAccountID>0)
        {
            $('#txtMktPerson').data('MarketingAccountID', oResult.MarketingAccountID);
            $('#txtMktPerson').val(oResult.Name);
            $('#txtMktPerson').addClass('fontColorOfPickItem');
        }
        else
        {
            $('#txtMktPerson').val('');
            $('#txtMktPerson').data('MarketingAccountID', '');
            $('#txtMktPerson').removeClass('fontColorOfPickItem');
        }
    }
    //****************************(END)*******************************************//
    //****************************(Buyer Picker)*********************************//
    $("#txtBuyer").keydown(function (e) {
        debugger;
        var code = (e.keyCode ? e.keyCode : e.which);
        if (code == 13) // Enter Press
        {
            if($.trim($('#txtBuyer').val())===null || $.trim($('#txtBuyer').val())==="")
            {
                $('#txtBuyer').val('');
                PickBuyer();
            }
            else{
                PickBuyer();
            }

        }

    });
    ///Buyer Pick
    function PickBuyer()
    {
        var oContractor = { Params: 2 + '~' + $.trim($('#txtBuyer').val())+'~'+ _nBUID };//here 1 is Buyer
        var obj = {
            BaseAddress: _sBaseAddress,
            Object: oContractor,
            ControllerName: "Contractor",
            ActionName: "ContractorSearchByNameType",
            IsWinClose: false
        };
        debugger;
        var tblColums = [];
        var oColumn = { field: "Name", title: "Name", width: 200, align: "left" }; tblColums.push(oColumn);
        oColumn = { field: "Address", title: "Address", width: 120, align: "left" }; tblColums.push(oColumn);
        oColumn = { field: "Email", title: "Email", width: 90, align: "left" }; tblColums.push(oColumn);
        oColumn = { field: "ShortName", title: "Short Name", width: 90, align: "left" }; tblColums.push(oColumn);

        var oPickeMktPerson = {
            winid: 'winBuyer',
            winclass: 'clsBuyer',
            winwidth: 600,
            winheight: 460,
            tableid: 'tblBuyer',
            tablecolumns: tblColums,
            multiplereturn: false,
            searchingbyfieldName: 'Name',
            windowTittle: 'Buyer List',
            paramObj: obj,
            pkID: 'ContractorID',
            callBack: SetBuyer
        };
        $.icsDynamicPicker(oPickeMktPerson);
    }
    function SetBuyer(oResult)
    {
        debugger;
        if(oResult.ContractorID>0)
        {
            $('#txtBuyer').data('ContractorID', oResult.ContractorID);
            $('#txtBuyer').val(oResult.Name);
            $('#txtBuyer').addClass('fontColorOfPickItem');
        }
        else
        {
            $('#txtBuyer').val('');
            $('#txtBuyer').data('ContractorID', '');
            $('#txtBuyer').removeClass('fontColorOfPickItem');
        }
    }

    //*****************************(END)*****************************************//

    function RefreshObject(){
        debugger;
        var oMktProjection={
            MktSaleTargetID : parseInt($('#txtMktPerson').data('MktSaleTargetID')) == null ? 0 : parseInt($('#txtMktPerson').data('MktSaleTargetID')),
            MarketingAccountID : $('#txtMktPerson').data('MarketingAccountID'),
            OrderType : parseInt($("#cboOrderType").val()),
            Date : $('#txtDate').datebox('getValue'),
            Value : parseFloat(TempRemoveComma($("#txtValue").val())),
            OrderQty : parseFloat(TempRemoveComma($("#txtOrderQty").val())),
            ContractorID : $('#txtBuyer').data('ContractorID'),
            BuyerPosition : $("#txtBuyerPosition").val(),
            BPercent: $("#txtBuyerPercent").val(),
            BuyerPercentID : parseInt($('#txtBuyerPosition').data('BuyerPercentID')),
            ProductID: parseInt($('#txtProduct').data('ProductID')),
            WeaveType : parseInt($("#cboWeaveType").val()),
            FinishType : parseInt($("#cboFinishType").val()),
            Construction :  $("#txtContruction").val(),

            
        };
        return oMktProjection;
    }
    function RefreshConsumption(){
        $('#txtMktPerson').data('MarketingAccountID',0);
        $('#txtBuyer').data('ContractorID',0);
        $('#txtMktPerson').val("");
        $('#txtBuyer').val("");
        $('#txtDate').datebox('setValue',icsdateformat(new Date()));
        parseInt($('#cboOrderType').val(0));
        $('#txtValue').val("");
        $('#txtOrderQty').val("");
        $('#txtBuyerPosition').val("");
        $('#txtProduct').val("");
        parseInt($('#cboWeaveType').val(0));
        parseInt($('#cboFinishType').val(0));
        $('#txtContruction').val("");

    }
    $("#btnClose").click(function(){
        $("#winMktProjection").icsWindow('close');
    })

    function RefreshControl(oMktProjection){
        debugger;
        if(oMktProjection.ErrorMessage == "Edit MktProjection"){
            $('#txtMktPerson').data('MktSaleTargetID',parseInt(oMktProjection.MktSaleTargetID));
            $('#txtMktPerson').data('MarketingAccountID',parseInt(oMktProjection.MarketingAccountID));
            $('#txtBuyer').data('ContractorID',parseInt(oMktProjection.ContractorID));
            $('#txtMktPerson').val(oMktProjection.GroupHeadName);
            $('#txtBuyer').val(oMktProjection.BuyerName);
            $('#txtDate').datebox('setValue',oMktProjection.DateInString);
            $('#txtValue').val(TempAddComma(oMktProjection.Value));
            $('#txtOrderQty').val(TempAddComma(oMktProjection.EstOrderQtyST));
            $('#cboOrderType').val(parseInt(oMktProjection.OrderType));
            $('#txtBuyerPosition').val(oMktProjection.BuyerPosition);
            $('#txtBuyerPercent').val(oMktProjection.BPercent);
            $('#txtProduct').data('ProductID',parseInt(oMktProjection.ProductID));
            $('#txtProduct').val(oMktProjection.ProductName);
            $('#cboFinishType').val(parseInt(oMktProjection.FinishType));
            $('#cboWeaveType').val(parseInt(oMktProjection.WeaveType));
            $('#txtContruction').val(oMktProjection.Construction);

            if(oMktProjection.MktSaleTargetID>0){
                $('#txtMktPerson').addClass('fontColorOfPickItem');
                $('#txtBuyer').addClass('fontColorOfPickItem');
                $('#txtProduct').addClass('fontColorOfPickItem');
            }

        }

    }
    function ValidateInput(){
        debugger;
        var oMktPerson = $('#txtMktPerson').val(); var oBuyer = $('#txtBuyer').val();
        var nOrderType = parseInt($('#cboOrderType').val());
        var nValue = parseFloat($('#txtValue').val());
        var nOrderQty = parseFloat($('#txtOrderQty').val());

        if(oMktPerson == "" || oMktPerson==undefined){
            alert("Please Enter Mkt Person.")
            $('#txtMktPerson').focus();
            return false;
        }

        if(oBuyer == "" || oBuyer==undefined){
            alert("Please Enter Buyer.")
            $('#txtBuyer').focus();
            return false;
        }

        if(nOrderType <= 0){
            alert("Please Select Order Type.")
            $('#cboOrderType').focus();
            return false;
        }

        if(nValue <= 0){
            alert("Sale  Target is Required!.")
            $('#txtValue').focus();
            return false;
        }

        return true;
    }

    $("#btnAdd").click(function(){
        debugger;
        RefreshConsumption();
        sessionStorage.setItem("SelectedRowIndex", -1);
        sessionStorage.setItem("MktProjectionHeader", "Add MktProjection");
        $("#winMktProjection").icsWindow('open', "Add Marketing Projection");
    });
    $("#btnEdit").click(function(){
        debugger;
        var oMktProjection= $('#tblMktProjections').datagrid('getSelected');
        if (oMktProjection.ApproveBy != 0) {
            alert("your selected item already approved!unable to edit.");
            return;
        }
        var SelectedRowIndex=$('#tblMktProjections').datagrid('getRowIndex',oMktProjection);
        sessionStorage.setItem("SelectedRowIndex", SelectedRowIndex);
        oMktProjection.ErrorMessage = "Edit MktProjection";
        RefreshControl(oMktProjection);
        sessionStorage.setItem("MktProjectionHeader", "Edit MktProjection");
        $("#winMktProjection").icsWindow('open', "Edit MktProjection");

    });
    $('#btnDelete').click(function(){
        debugger;
        var oMktProjection= $('#tblMktProjections').datagrid('getSelected');
        if (!confirm("Confirm to Delete?")) return ;
        if(oMktProjection==null || oMktProjection.MktProjectionID<=0)
        {
            alert("Invalid Field!!! please select a valid Field!");
            return false;
        }
        if (oMktProjection.ApproveBy != 0) {
            alert("your selected item already approved!unable to delete.");
            return;
        }
        var SelectedRowIndex=$('#tblMktProjections').datagrid('getRowIndex',oMktProjection);
        if (oMktProjection.MktSaleTargetID > 0)
        {
            $.ajax ({
                type: "GET",
                dataType: "json",
                url : $('#tblMktProjections').data('BaseAddress')+ "/MarketingAccount/MktSaleTargetDelete",
                data: {id: oMktProjection.MktSaleTargetID},
                contentType:"application/json; charset=utf-8",
                success: function (data) {
                    //debugger;
                    feedbackmessage = jQuery.parseJSON(data);
                    if (feedbackmessage == "Deleted")
                    {
                        alert("Delete sucessfully");
                        $('#tblMktProjections').datagrid('deleteRow',SelectedRowIndex);

                    }
                    else
                    {
                        alert(feedbackmessage);
                    }
                },
                error: function (xhr, status, error)
                {
                    alert(error);
                }

            });
        }
    });
    $('#btnSave').click(function(){
        debugger;
        if(!ValidateInput()) return;
        var oMktProjection=RefreshObject();
        $.ajax({
            type: "POST",
            dataType: "json",
            url :  $('#tblMktProjections').data('BaseAddress')+ "/MarketingAccount/MktSaleTargetSave",
            traditional: true,
            data:  JSON.stringify(oMktProjection),
            contentType: "application/json; charset=utf-8",
            success: function (data)
            {
                debugger;
                oMktProjection = jQuery.parseJSON(data);
                if (oMktProjection.ErrorMessage=="" || oMktProjection.ErrorMessage==null)
                {
                    alert("Data Saved sucessfully");
                    var nIndex = parseInt(sessionStorage.getItem("SelectedRowIndex"));
                    if(sessionStorage.getItem("MktProjectionHeader") == "Add MktProjection")
                    {
                        $('#tblMktProjections').datagrid('appendRow',oMktProjection);
                        var oData = $('#tblMktProjections').datagrid('getRows');
                        $('#tblMktProjections').datagrid('selectRow',oData.length-1);
                        $.icsMakeFooterColumn('tblMktProjections',['GroupHeadName','Value','OrderQty']);
                    }
                    if(sessionStorage.getItem("MktProjectionHeader") == "Edit MktProjection")
                    {
                        $('#tblMktProjections').datagrid('updateRow',{index : nIndex, row:oMktProjection});
                        $.icsMakeFooterColumn('tblMktProjections',['GroupHeadName','Value','OrderQty']);
                    }
                    $("#winMktProjection").icsWindow('close');
                }
                else
                {
                    alert(oMktProjection.ErrorMessage);
                }
            },
            error: function (xhr, status, error) {
                alert(error);
            }

        });
    });
    function RefreshList(oMktProjections) {
        debugger;
        data={"total":""+oMktProjections.length+"","rows":oMktProjections};
        $('#tblMktProjections').datagrid('loadData',data);
        var nSelectedRowIndex =parseInt(sessionStorage.getItem("SelectedRowIndex"));
        if(nSelectedRowIndex!=-1)
        {
            $('#tblMktProjections').datagrid('selectRow', nSelectedRowIndex);
        }
        $.icsMakeFooterColumn('tblMktProjections',['GroupHeadName','Value','OrderQty']);

    }
    $('#txtNameSerach').keyup(function(e) {
        debugger;
        var GetName = $('#txtNameSerach').val();
        var oSearchedList = [];
        var oCurrentList = $('#tblMktProjections').datagrid('getRows');
        if (e.which == 8)
        {
            oCurrentList = oMktProjections;
        }
        if (e.which == 13){
            for(i=0;i<oCurrentList.length;++i)
            {
                n = oCurrentList[i].Name.toUpperCase().indexOf(GetName.toUpperCase());
                if(n!=-1)
                {
                    oSearchedList.push(oCurrentList[i]);
                }
            }
            DynamicRefreshList(oSearchedList,'tblMktProjections');
        }

    });

    //SEARCH
    $('#txtMktHead').keydown(function (e)
    {
        var code = (e.keyCode ? e.keyCode : e.which);
        if (code== 13) {
            var txtMktHead = $.trim($('#txtMktHead').val());
            if(txtMktHead!="")
            {
                //debugger;
                var oMktHead={GroupHeadName:txtMktHead};
                SearchByMktHead(oMktHead);
            }else{
                alert("Type Mkt Head and Press Enter.");
                return;
            }
        }

    });

    function SearchByMktHead(oMktHead)
    {
        $.ajax
            ({
                type: "POST",
                dataType: "json",
                url : _sBaseAddress+"/MarketingAccount/SearchByMktHead",
                traditional: true,
                data:  JSON.stringify(oMktHead),
                contentType: "application/json; charset=utf-8",
                success: function (data) {
                    //debugger;
                    var oMktHeads = jQuery.parseJSON(data);
                    if (oMktHeads.length>0)
                    {
                        DynamicRefreshList(oMktHeads, 'tblMktProjections');
                        $.icsMakeFooterColumn('tblMktProjections',['GroupHeadName','Value','OrderQty']);
                    }
                    else
                    {
                        alert("Data Not found");
                        DynamicRefreshList([], 'tblMktProjections');
                    }
                },
                error: function (xhr, status, error)
                {
                    alert(error);
                }
            });

    }

    $('#btnApprove').click(function(){
        debugger;
        var oMktProjection= $('#tblMktProjections').datagrid('getSelected');
        if(oMktProjection==null || parseInt(oMktProjection.MktSaleTargetID)<=0)
        {
            alert("Invalid Field!!! please select a valid Field!");
            return false;
        }
        if(parseInt(oMktProjection.ApproveBy)!=0)
        {
            alert("Your Selected Request Already Approved!");
            return false;
        }
        if (!confirm("Confirm to Approve?")) return ;
        var SelectedRowIndex=$('#tblMktProjections').datagrid('getRowIndex', oMktProjection);
        if (parseInt(oMktProjection.MktSaleTargetID) > 0)
        {
            $.ajax
            ({
                type: "POST",
                dataType: "json",
                url : _sBaseAddress+ "/SalesReport/Approve",
                data: JSON.stringify(oMktProjection),
                contentType:"application/json; charset=utf-8",
                success: function (data) {
                    var oMktProjection = jQuery.parseJSON(data);
                    if (oMktProjection != null && oMktProjection.ErrorMessage == "")
                    {
                        alert("Approved sucessfully");
                        $('#tblMktProjections').datagrid('updateRow',{ index: SelectedRowIndex, row: oMktProjection });
                    }
                    else
                    {
                        alert(oMktProjection.ErrorMessage);
                    }
                },
                error: function (xhr, status, error)
                {
                    alert(error);
                }

            });
        }
    });
    $('#btnUndoApprove').click(function(){
        debugger;
        var oMktProjection= $('#tblMktProjections').datagrid('getSelected');
        if(oMktProjection==null || parseInt(oMktProjection.MktSaleTargetID)<=0)
        {
            alert("Invalid Field!!! please select a valid Field!");
            return false;
        }
        //if(parseInt(oMktProjection.ApproveBy)!=0)
        //{
        //    alert("Your Selected Request Already Approved!");
        //    return false;
        //}
        if (!confirm("Confirm to Undo Approve?")) return ;
        var SelectedRowIndex=$('#tblMktProjections').datagrid('getRowIndex', oMktProjection);
        if (parseInt(oMktProjection.MktSaleTargetID) > 0)
        {
            $.ajax
            ({
                type: "POST",
                dataType: "json",
                url : _sBaseAddress+ "/SalesReport/UndoApprove",
                data: JSON.stringify(oMktProjection),
                contentType:"application/json; charset=utf-8",
                success: function (data) {
                    var oMktProjection = jQuery.parseJSON(data);
                    if (oMktProjection != null && oMktProjection.ErrorMessage == "")
                    {
                        alert("Approved sucessfully");
                        $('#tblMktProjections').datagrid('updateRow',{ index: SelectedRowIndex, row: oMktProjection });
                    }
                    else
                    {
                        alert(oMktProjection.ErrorMessage);
                    }
                },
                error: function (xhr, status, error)
                {
                    alert(error);
                }

            });
        }
    });

    //REMOVE COMMA
    function TempRemoveComma(userInput) {
        debugger;
        var amountInString = "";
        if (userInput === null || userInput === "") {
            amountInString = "0.00";
        }
        else {
            amountInString = "";
            for (var i = 0; i < userInput.length; i++) {
                var char = userInput.charAt(i);
                var charForCheck = char;
                char = char.match(/\d+/g);
                if (char != null) {
                    amountInString = amountInString + userInput.charAt(i);
                    count = 1;
                }
                else if (charForCheck == ",") {
                    continue;
                }
                else if (charForCheck == ".") {
                    amountInString = amountInString + userInput.charAt(i);
                }
            }
        }
        //debugger;
        return (isNaN(parseFloat(amountInString)) ? parseFloat(0.00) : parseFloat(amountInString)).toFixed(3);
    }
    function TempAddComma(nStr) {
        debugger;
        nStr += '';
        x = nStr.split('.');
        x1 = x[0];
        x2 = x.length > 1 ? '.' + x[1] : '';
        var process = /(\d+)(\d{3})/;
        while (process.test(x1)) {
            x1 = x1.replace(process, '$1' + ',' + '$2');
        }
        return x1 + x2;
    }
</script>
